﻿@using LunchKingSite.WebLib.Models.WebViewVendorSystem;

@model LoginErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>LoginError</title>
</head>
<body>
    <div style="text-align:center;margin:50px auto;color:#c70505">
        @Html.Raw(Model.Message)
    </div>
</body>
</html>
