﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>NoRecord</title>
</head>
<body>
    <div style="text-align:center;margin:50px auto;color:#0094ff">
        您目前沒有可查詢的記錄。<br />若有任何問題，請洽客服人員，謝謝。
    </div>
</body>
</html>
