﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Model
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem

@model VerificationCouponListByStoreModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title></title>
    <link type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")' rel="stylesheet" />
    <script src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-ui.js")' type="text/javascript"></script>
    <script src="@Url.Content("~/Tools/js/jquery.blockUI.js")" type="text/javascript"></script>
    <style type="text/css">
        html, legend {
            color: #333;
        }

        html {
            text-align: left;
        }

        div[onclick] {
            cursor: pointer;
        }

        body {
            background-color: #f7f7f7;
            font-family: 微軟正黑體;
            font-size: 13px;
            line-height: 1.7;
        }

        select {
            color: #333;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            padding: 1px;
        }

        .exportBtn {
            background-color: #43ada1;
            border: 1px solid #cbcbcb;
            color: #ffffff;
            border-radius: 4px;
            font-size: 15px;
            line-height: 28px;
            overflow: visible;
            padding: 0 17px;
            text-align: center;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#storeId,#day,#only').change(function () {
                block_postback();
                var formData = $('#queryStatusForm').serialize();
                $.ajax({
                    url: '@Url.Action("VerificationCouponListByStore", "WebViewVendorSystem")',
                    type: 'GET',
                    headers: {
                        'Accept': '@Request.Headers.Get("Accept")',
                        'Content-Type': '@Request.Headers.Get("Content-Type")',
                        'Authorization': '@Request.Headers.Get("Authorization")',
                        'Host': '@Request.Headers.Get("Host")'
                    },
                    data: formData,
                    success: function (data) {
                        $.unblockUI();
                        $('body').html(data);
                    }
                });
            })

            $('#divExportAndMail').click(function () {
                var confirmMsg = "請輸入要寄送的Email信箱：<br/>"
                   + "<input type='text' id='txtMailTo' style='width:90%'>"
                   + "<br/><font color=grey>寄送多個Email時，Email之間請使用分號(;)區隔。</font>";
                fnOpenNormalDialog(confirmMsg);
            });
        });

        function fnOpenNormalDialog(confirmMsg) {
            $("#dialog-confirm").html(confirmMsg);
            // Define the Dialog and its properties.
            $("#dialog-confirm").dialog({
                resizable: false,
                modal: true,
                title: "寄送Email輸入",
                height: 'auto',
                width: 'auto',
                buttons: {
                    "確定": function () {

                        if (!isValidEmailAddress($("#txtMailTo").val())) {
                            alert("Email格式輸入有誤(xxx@xx.xx)，請勿包含特殊符號!!");
                            return;
                        }

                        $(this).dialog('close');
                        block_postback();
                        $('#mailTo').val($("#txtMailTo").val());
                        var formData = $('#queryStatusForm').serialize();
                        $.ajax({
                            url: '@Url.Action("VerificationCouponListByStore", "WebViewVendorSystem")',
                            type: 'GET',
                            headers: {
                                'Accept': '@Request.Headers.Get("Accept")',
                                'Content-Type': '@Request.Headers.Get("Content-Type")',
                                'Authorization': '@Request.Headers.Get("Authorization")',
                                'Host': '@Request.Headers.Get("Host")'
                            },
                            data: formData,
                            async: false,
                            success: function (result) {
                                alert("已將核銷紀錄發送至您指定Email信箱，煩請前往確認。");
                                //關閉處理中訊息並解除鎖定畫面
                                $.unblockUI();
                            },
                            error: function (qXHR, textStatus, errorThrown) {
                                alert("error occur:" + textStatus + ':' + errorThrown);
                                $.unblockUI();
                            }
                        });
                    },
                    "取消": function () {
                        $(this).dialog('close');
                    }
                }
            });
        }

        function block_postback() {
            $.blockUI({ message: "<img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />處理中，請稍候...", css: { left: 0, width: '100%' } });
        }

        function isValidEmailAddress(emailAddress) {
            var regExp = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            var arrEmail = emailAddress.split(";");
            for (i = 0; i < arrEmail.length; i++) {
                if (!arrEmail[i].match(regExp)) {
                    return false;
                }
            }

            return true;
        }

    </script>
</head>
<body>
    <div>
        <form id="queryStatusForm" accept-charset="utf-8">
            <div style="margin:4px auto auto 4px;">
                <div style="margin-top: 6px;">
                    <input type="checkbox" id="only" name="only" @Html.Raw((Model.IsOnlyAccount) ? "checked" : "") />
                    只顯示此帳號核銷紀錄
                    <div id="divExportAndMail" class="exportBtn" style="cursor: pointer;float: right; width: 100px; margin-top: -3px;">匯出至信箱</div>
                </div>
                <div style="margin-top: 6px;">
                    顯示&nbsp;<select class="textSize15" id="day" name="day">
                        @foreach (var item in Model.VerifyTime)
                        {
                            <option value="@item.Key" @Html.Raw(!string.IsNullOrEmpty(Request.QueryString["day"]) && item.Key == Request.QueryString["day"] ? "selected" : "")>@item.Value</option>
                        }
                    </select>
                    @if (Model.IsSellerPermission)
                    {
                        <select class="textSize15" id="storeId" name="storeId">
                            @foreach (var item in Model.StoreList.OrderByDescending(x => x.Value))
                            {
                                <option value="@item.Key" @Html.Raw(!string.IsNullOrEmpty(Model.StoreId) && item.Key == Model.StoreId ? "selected" : "")>@item.Value</option>
                            }
                        </select>
                    }
                </div>
            </div>
            <input type="hidden" id="mailTo" name="mailTo" />
            <div id="dialog-confirm"></div>
        </form>
        <div style="margin:5px auto; @Html.Raw(Model.Coupons.Count == 0 ? "visibility:hidden" : "")">
            <table bborder="0" cellspacing="0" cellpadding="0" style="height: auto;color: #000; line-height: 28px; width: 100%; word-break: break-all;">
                <thead>
                    <tr style="text-align:center;background-color:#FFD5C4;">
                        <th style="border-left: 1px solid #d2d2d2; width:25%;">商品名稱</th>
                        <th style="border-left: 1px solid #d2d2d2; width:12%;">核銷張數</th>
                        <th style="border-left: 1px solid #d2d2d2; width:20%;">憑證編號</th>
                        <th style="border-left: 1px solid #d2d2d2; width:23%;">核銷時間</th>
                        <th style="border-left: 1px solid #d2d2d2; width:20%;">核銷帳號</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int seq = 1;
                        string trbgcolor = "";
                        foreach (var row in Model.Coupons)
                        {
                            if (seq % 2 == 0)
                            {
                                trbgcolor = "#FEF2ED";
                            }
                            else
                            {
                                trbgcolor = "#FFFFFF";
                            }
                            <tr style="background-color:@trbgcolor;">
                                <td style="width:25%">
                                    @if (row.IsNew)
                                    {
                                        <label style="color:red;font-weight:bold;">New!</label>
                                    }
                                    @row.DealName
                                </td>
                                <td style="text-align:center">@row.VerifyCount</td>
                                <td style="width:20%">@row.CouponId</td>
                                <td style="width:23%">@row.VerifiedDateTime.Value.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                <td style="width:20%">@row.VerifyAccount</td>
                            </tr>
                            seq++;
                        }
                    }
                </tbody>
            </table>
            @RenderPagerBar(Model.Coupons)
        </div>
    </div>
</body>
</html>


@helper RenderPagerBar(PagerList<VbsVerificationCoupon> pagerData)
{
int nextPage = pagerData.CurrentPage + 1;
int prevPage = pagerData.CurrentPage - 1;
string firstPageUrl = Url.Action("VerificationCouponListByStore", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MinPage));
string lastPageUrl = Url.Action("VerificationCouponListByStore", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MaxPage));
string nextPageUrl = Url.Action("VerificationCouponListByStore", MvcUtility.GetRouteValues(ViewContext, "pageNumber", nextPage));
string prevPageUrl = Url.Action("VerificationCouponListByStore", MvcUtility.GetRouteValues(ViewContext, "pageNumber", prevPage));
string pagerPattern = Url.Action("VerificationCouponListByStore", MvcUtility.GetRouteValues(ViewContext, "pageNumber", "_pageNumber"));
    <div style="text-align:center;">
        <table style="padding: 5px; margin-top: 10px; display:inline-block; border-collapse: collapse; border-spacing: 0;">
            <tr>
                <td style="width:40px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st.png")" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st.png")" style="visibility:hidden" />
                    }
                </td>
                <td style="width:40px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper.png")" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper.png")" style="visibility:hidden" />
                    }
                </td>
                <td style="width:auto; font-size:15px">
                    <select name="pageNumber" style="margin: 3px 5px 3px 5px" pagerPattern="@pagerPattern"
                            onchange="location.href=$(this).attr('pagerPattern').replace('_pageNumber',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select>
                    / <span style="font-weight:bold">@pagerData.MaxPage</span> | <span style="font-weight:bold">@pagerData.TotalItemCount</span> 筆
                </td>
                <td style="width:40px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/lower.png")" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/lower.png")" style="visibility:hidden" />
                    }
                </td>
                <td style="width:40px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/lower_st.png")" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/lower_st.png")" style="visibility:hidden" />
                    }
                </td>
            </tr>
        </table>
    </div>
}
