﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.DataOrm
@using MongoDB.Driver.Linq
@model LunchKingSite.WebLib.Models.VendorBillingSystem.ChannelCheckBillSheetModel

@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";

}

@section SSC {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#selectedMonth').change(function () { ChangeMonth(); });

        });
        $(function () {
            // 預設顯示第一個 Tab
            var _showTab = 0;
            var $defaultLi = $('ul.tabs li').eq(_showTab).addClass('active');
            $($defaultLi.find('a').attr('href')).siblings().hide();

            // 當 li 頁籤被點擊時...
            // 若要改成滑鼠移到 li 頁籤就切換時, 把 click 改成 mouseover
            $('ul.tabs li').click(function () {
                // 找出 li 中的超連結 href(#id)
                var $this = $(this),
                    _clickTab = $this.find('a').attr('href');
                // 把目前點擊到的 li 頁籤加上 .active
                // 並把兄弟元素中有 .active 的都移除 class
                $this.addClass('active').siblings('.active').removeClass('active');
                // 淡入相對應的內容並隱藏兄弟元素
                $(_clickTab).stop(false, true).fadeIn().siblings().hide();

                return false;
            }).find('a').focus(function () {
                this.blur();
            });
        });


        function ChangeMonth() {

            var selectedValues = $('#selectedMonth option:selected').text();
            selectedValues = selectedValues.replace('/', '');
            var url = '@Html.Raw(Url.Action("ChannelCheckBillSheet", new { type = Request["type"], appid = Request["appid"] }))' + '&selectedmonth=' + selectedValues;
            window.location.href = url;
        }
    </script>
    <style>
        table.DealBalanceInfo {
            border-collapse: collapse;
            font-size: small;
        }

            table.DealBalanceInfo th {
                background-color: #333333;
                color: #FFFFFF;
                border-style: solid;
                border-width: 1px;
                border-color: #000000;
                border-style: solid;
            }

            table.DealBalanceInfo td {
                background-color: #FFFFFF;
                border-width: 1px;
                border-color: #000000;
                border-style: solid;
            }

        ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .abgne_tab {
            clear: left;
            width: 400px;
            margin: 10px 0;
        }

        ul.tabs {
            width: 100%;
            height: 32px;
            border-bottom: 1px solid #999;
            border-left: 1px solid #999;
        }

            ul.tabs li {
                float: left;
                height: 31px;
                line-height: 31px;
                overflow: hidden;
                position: relative;
                margin-bottom: -1px; /* 讓 li 往下移來遮住 ul 的部份 border-bottom */
                border: 1px solid #999;
                border-left: none;
                background: #e1e1e1;
            }

                ul.tabs li a {
                    display: block;
                    padding: 0 20px;
                    color: #000;
                    border: 1px solid #fff;
                    text-decoration: none;
                    font-size: small;
                }

                    ul.tabs li a:hover {
                        background: #ccc;
                    }

                ul.tabs li.active {
                    background: #fff;
                    border-bottom: 1px solid #fff;
                }

                    ul.tabs li.active a:hover {
                        background: #fff;
                    }

        div.tab_container {
            clear: left;
            width: 100%;
            border: 1px solid #999;
            border-top: none;
            background: #fff;
        }

            div.tab_container .tab_content {
                padding: 20px;
            }

                div.tab_container .tab_content h2 {
                    margin: 0 0 20px;
                }
    </style>
}


<div id="searchArea" style="margin-top: 20px;">
    <form method="post">
        <a href="@Url.Action("searchbalancesheet")">回對帳單管理</a>
        <fieldset class="top-buffer">
            <table class="DealBalanceInfo">
                <thead>
                    <tr>
                        <th style="width: 90px;">廠商名稱</th>
                        <th style="width: 90px;">對帳單數</th>
                        <th style="width: 91px;">對帳週期</th>
                        <th style="width: 111px;">結帳方式</th>
                        <th style="width: 111px;">抽成百分比</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;">@ViewBag.Title</td>
                        <td style="text-align: center;">
                            @{
                                var config = ProviderFactory.Instance().GetConfig();
                                var beginMonth = DateTime.Parse(config.LionTravelChannelCheckBillBeginDate);
                                var nowMonth = DateTime.Today;

                                int countOfMonths = nowMonth.Year * 12 + nowMonth.Month - (beginMonth.Year * 12 + beginMonth.Month) + 1;
                            }@countOfMonths
                        </td>
                        <td style="text-align: center;">
                            每月@{
                                var checkCycle = "";
                                if (ViewBag.ChannelClientProperty.CheckCycle != null)
                                {
                                    string checkCycles = ViewBag.ChannelClientProperty.CheckCycle;
                                    if (checkCycles.Contains(','))
                                    {
                                        var dayArray = checkCycles.Split(',');

                                        checkCycle = dayArray[0] + "~" + (dayArray[1]) + "號、" + (int.Parse(dayArray[1]) + 1) + "~" + (int.Parse(dayArray[0]) - 1) + "號";
                                    }
                                    else
                                    {
                                        checkCycle = "1~" + checkCycles + "號";
                                    }
                                }
                            }
                            @checkCycle
                        </td>
                        <td style="text-align: center;">
                            @{ var checkType = "";
                             if (ViewBag.ChannelClientProperty.CheckType != null && ViewBag.ChannelClientProperty.CheckType == 1)
                             {
                                 checkType = "月結";
                             }
                            }@checkType
                        </td>
                        <td style="text-align: center;">
                            @{
                                var generalCommission = "";
                                var minCommission = "";
                                if (ViewBag.ChannelClientProperty.GeneralCommission != null)
                                {
                                    generalCommission = "一般檔次:" + Math.Round(ViewBag.ChannelClientProperty.GeneralCommission * 100, 2) + "%";
                                }
                                if (ViewBag.ChannelClientProperty.MinCommission != null)
                                {
                                    minCommission = "低毛利檔次:" + Math.Round(ViewBag.ChannelClientProperty.MinCommission * 100, 2) + "%";
                                }
                            } @generalCommission @minCommission
                        </td>
                </tbody>
            </table>
        </fieldset>
        <fieldset class="top-buffer">
            對帳單月份
            <select name="month" id="selectedMonth">
                @{
                    for (var i = 0; i < 12 ; i++)
                    {
                        <option value="" @(DateTime.Now.AddMonths(-i).Year + DateTime.Now.AddMonths(-i).Month.ToString("00") == Request["selectedmonth"] ? "selected='selected'" : string.Empty) onclick="ChangeMonth();">@DateTime.Now.AddMonths(-i).Year/@DateTime.Now.AddMonths(-i).Month.ToString("00")</option>
                    }
                }
            </select><br />
            <label>對帳單區間</label>
            <label>
                @{
                    var checkoutDate = "";
                    if (Request["selectedmonth"] != null)
                    {
                        if (Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).Month == 1)
                        {
                            if (ViewBag.ChannelClientProperty.CheckoutDay == "31")
                            {
                                checkoutDate = (Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).Year).ToString() + "/" + Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).AddMonths(0).Month + "/" + 1 + "~" + (Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).Year).ToString() + "/" + Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).AddMonths(0).Month + "/" + Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).GetLastDayOfMonth().Day;
                            }
                            else
                            {
                                checkoutDate = (Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).Year - 1).ToString() + "/" + Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).AddMonths(-1).Month + "/" + (ViewBag.ChannelClientProperty.CheckoutDay) + "~" + (Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).Year).ToString() + "/" + Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).AddMonths(0).Month + "/" + (int.Parse(ViewBag.ChannelClientProperty.CheckoutDay));
                            }
                        }
                        else
                        {
                            if (ViewBag.ChannelClientProperty.CheckoutDay == "31")
                            {
                                checkoutDate = (Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).Year).ToString() + "/" + Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).AddMonths(0).Month + "/" + 1 + "~" + (Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).Year).ToString() + "/" + Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).AddMonths(0).Month + "/" + Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).GetLastDayOfMonth().Day;
                            }
                            else
                            {
                                checkoutDate = (Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).Year).ToString() + "/" + Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).AddMonths(-1).Month + "/" + (ViewBag.ChannelClientProperty.CheckoutDay) + "~" + (Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).Year).ToString() + "/" + Convert.ToDateTime(Request["selectedmonth"].Insert(4, "/")).AddMonths(0).Month + "/" + (int.Parse(ViewBag.ChannelClientProperty.CheckoutDay));
                            }

                        }
                    }
                }
                @checkoutDate
            </label><br />
            <table class="DealBalanceInfo">
                <thead>
                    <tr>
                        <th style="width: 40px;"></th>
                        <th style="width: 40px;">筆數</th>
                        <th style="width: 111px;">訂單金額</th>
                        <th style="width: 91px;">取消核銷金額</th>
                        <th style="width: 111px;">抽成金額</th>
                        <th style="width: 111px;">總金額</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;">銷售明細</td>
                        <td style="text-align: center;">@(Model.GeneralOrderCount != 0 ? Model.GeneralOrderCount : 0)</td>
                        <td style="text-align: center;">@(Model.GeneralOrderTotal != 0 ? Math.Round(Model.GeneralOrderTotal, 0) : 0)</td>
                        <td style="text-align: center;">0</td>
                        <td style="text-align: center;">0</td>
                        <td style="text-align: center;">@(Model.GeneralOrderTotal != 0 ? Math.Round(Model.GeneralOrderTotal, 2) : 0)</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">核銷明細</td>
                        <td style="text-align: center;">@(Model.OriginalVerificationCount != 0 || Model.OriginalCancelVerificationCount != 0 ? Model.OriginalVerificationCount + Model.OriginalCancelVerificationCount : 0)</td>
                        <td style="text-align: center;">@(Model.GeneralVerificationTotal != 0 || Model.LowVerificationTotal != 0 ? Math.Round(Model.GeneralVerificationTotal + Model.LowVerificationTotal, 0) : 0)</td>
                        <td style="text-align: center;">@(Model.GeneralCancelVerificationTotal != 0 || Model.LowCancelVerificationTotal != 0 ? Math.Round(Model.GeneralCancelVerificationTotal + Model.LowCancelVerificationTotal, 0) : 0)</td>
                        <td style="text-align: center;">@(Model.GeneralCommissionTotal != 0 || Model.LowCommissionTotal != 0 ? Math.Round(Model.GeneralCommissionTotal + Model.LowCommissionTotal, 2) : 0)</td>
                        <td style="text-align: center;">@(Model.TotalCommissionTotal != 0 ? Math.Round(Model.TotalCommissionTotal, 2) : 0)</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">退貨明細</td>
                        <td style="text-align: center;">@(Model.ReturnCount != 0 ? Model.ReturnCount : 0)</td>
                        <td style="text-align: center;">@(Model.ReturnTotal != 0 ? Math.Round((decimal)Model.ReturnTotal, 0) : 0)</td>
                        <td style="text-align: center;">0</td>
                        <td style="text-align: center;">0</td>
                        <td style="text-align: center;">@(Model.ReturnTotal != 0 ? Math.Round((decimal)Model.ReturnTotal, 2) : 0)</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>

        <fieldset class="top-buffer">
            <ul class="tabs">
                <li><a id="OrderTab" href="#tab1">銷售明細</a></li>
                <li><a id="VerifyicationTab" href="#tab2">核銷明細</a></li>
                <li><a id="ReturnTab" href="#tab3">退貨明細</a></li>
            </ul>
            <div class="tab_container">

                <div id="tab1" class="tab_content">
                    <table class="DealBalanceInfo">
                        <thead>
                            <tr>
                                <th style="width: 111px;">檔次類型</th>
                                <th style="width: 80px;">訂單筆數</th>
                                <th style="width: 91px;">銷售金額</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">一般檔次</td>
                                <td style="text-align: center;">@(Model.GeneralOrderCount)</td>
                                <td style="text-align: center;">@(Model.GeneralOrderTotal != 0 ? Math.Round(Model.GeneralOrderTotal, 0) : 0)</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">低毛利檔次</td>
                                <td style="text-align: center;">@(Model.LowOrderCount != 0 ? Model.LowOrderCount : 0)</td>
                                <td style="text-align: center;">@(Model.LowOrderTotal != 0 ? Math.Round(Model.LowOrderTotal, 0) : 0)</td>
                            </tr>

                        </tbody>
                    </table>
                    <br />
                    <table class="DealBalanceInfo">
                        <thead>
                            <tr><th colspan="7">一般檔次訂單列表</th></tr>
                            <tr>
                                <th style="width: 111px;">訂單編號</th>
                                <th style="width: 90px;">售價</th>
                                <th style="width: 40px;">份數</th>
                                <th style="width: 111px;">銷售金額</th>
                                <th style="width: 111px;">購買日期</th>
                                <th style="width: 111px;">檔號</th>
                                <th style="width: 111px;">檔次名稱</th>
                            </tr>
                        </thead>
                        @{
                            if (Model.GeneralOrderCount == 0)
                            {
                                <tbody>
                                    <tr>
                                        <td colspan="7" style="text-align: center;">查無資料</td>
                                    </tr>
                                </tbody>
                            }
                            else
                            {
                                foreach (ViewChannelCheckBillOrder order in Model.GeneralOrderList)
                                {
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/controlroom/Order/order_detail.aspx?oid=" + order.OrderGuid)">@order.OrderId</a></td>
                                            <td style="text-align: center;">@order.Prize</td>
                                            <td style="text-align: center;">@order.Quantity</td>
                                            <td style="text-align: center;">@Math.Round(order.Total, 0)</td>
                                            <td style="text-align: center;">@Convert.ToDateTime(order.BuyDate).ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td style="text-align: center;">@order.UId</td>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ppon/default.aspx?bid=" + order.Bid)">@order.CouponUsage</a></td>
                                        </tr>
                                    </tbody>

                                }

                            }

                            <tr><th colspan="7">低毛利檔次訂單列表</th></tr>
                            <tr>
                                <th style="width: 111px;">訂單編號</th>
                                <th style="width: 90px;">售價</th>
                                <th style="width: 40px;">份數</th>
                                <th style="width: 111px;">銷售金額</th>
                                <th style="width: 111px;">購買日期</th>
                                <th style="width: 111px;">檔號</th>
                                <th style="width: 111px;">檔次名稱</th>
                            </tr>

                            if (Model.LowOrderCount == 0)
                            {
                                <tbody>
                                    <tr>
                                        <td colspan="7" style="text-align: center;">查無資料</td>
                                    </tr>
                                </tbody>
                            }
                            else
                            {
                                foreach (ViewChannelCheckBillOrder order in Model.LowOrderList)
                                {
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;">@order.OrderId</td>
                                            <td style="text-align: center;">@order.Prize</td>
                                            <td style="text-align: center;">@order.Quantity</td>
                                            <td style="text-align: center;">@Math.Round(order.Total, 0)</td>
                                            <td style="text-align: center;">@Convert.ToDateTime(order.BuyDate).ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td style="text-align: center;">@order.UId</td>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ppon/default.aspx?bid=" + order.Bid)">@order.CouponUsage</a></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>

                </div>

                <div id="tab2" class="tab_content">
                    <table class="DealBalanceInfo">
                        <thead>
                            <tr>
                                <th style="width: 111px;">檔次類型</th>
                                <th style="width: 80px;">核銷金額</th>
                                <th style="width: 91px;">反核銷金額</th>
                                <th style="width: 80px;">抽成百分比</th>
                                <th style="width: 91px;">抽成金額</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">一般檔次</td>
                                <td style="text-align: center;">@(Model.GeneralVerificationTotal != 0 ? Math.Round(Model.GeneralVerificationTotal, 0) : 0)</td>
                                <td style="text-align: center;">@(Model.GeneralCancelVerificationTotal != 0 ? Math.Round(Model.GeneralCancelVerificationTotal, 0) : 0)</td>
                                <td style="text-align: center;">@(Model.GeneralCommission != 0 ? Math.Round(Model.GeneralCommission * 100, 2) : 0)%</td>
                                <td style="text-align: center;">@(Model.GeneralCommissionTotal != 0 ? Math.Round(Model.GeneralCommissionTotal, 2) : 0)</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">低毛利檔次</td>
                                <td style="text-align: center;">@(Model.LowVerificationTotal != 0 ? Math.Round(Model.LowVerificationTotal, 0) : 0)</td>
                                <td style="text-align: center;">@(Model.LowCancelVerificationTotal != 0 ? Math.Round(Model.LowCancelVerificationTotal, 0) : 0)</td>
                                <td style="text-align: center;">@(Model.LowCommission != 0 ? Math.Round(Model.LowCommission * 100, 2) : 0)%</td>
                                <td style="text-align: center;">@(Model.LowCommissionTotal != 0 ? Math.Round(Model.LowCommissionTotal, 2) : 0)</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;" colspan="4">本次對帳金額</td>
                                <td style="text-align: center;">@(Model.GeneralCommissionTotal != 0 && Model.LowCommissionTotal != 0 ? Math.Round(Model.GeneralCommissionTotal + Model.LowCommissionTotal, 2) : 0)</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table class="DealBalanceInfo">
                        <thead>
                            <tr><th colspan="9">一般檔次核銷清單</th></tr>
                            <tr>
                                <th style="width: 111px;">憑證編號</th>
                                <th style="width: 90px;">賣價</th>
                                <th style="width: 90px;">進貨價</th>
                                <th style="width: 111px;">核銷時間</th>
                                <th style="width: 111px;">檔號</th>
                                <th style="width: 111px;">檔次名稱</th>
                                <th style="width: 111px;">分店</th>
                                <th style="width: 111px;">核銷帳號</th>
                                <th style="width: 111px;">異動備註</th>
                            </tr>
                        </thead>
                        @{
                            if (Model.GeneralVerificationCount == 0)
                            {
                                <tbody>
                                    <tr>
                                        <td colspan="9" style="text-align: center;">查無資料</td>
                                    </tr>
                                </tbody>
                            }
                            else
                            {
                                foreach (ViewChannelCheckBillVerification order in Model.GeneralVerificationList)
                                {
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ControlRoom/Verification/CouponVerification.aspx?csn=" + order.CId)">@order.CId</a></td>
                                            <td style="text-align: center;">@Math.Round(order.ItemPrice, 0)</td>
                                            <td style="text-align: center;">@Math.Round((decimal)order.Cost, 0)</td>
                                            <td style="text-align: center;">@Convert.ToDateTime(order.VDate).ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td style="text-align: center;">@order.UId</td>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ppon/default.aspx?bid=" + order.Bid)">@order.UName</a></td>
                                            <td style="text-align: center;">@order.StoreName</td>
                                            <td style="text-align: center;">@order.CreateId</td>
                                            <td style="text-align: center;"></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                    <table class="DealBalanceInfo">
                        <thead>
                            <tr><th colspan="9">低毛利檔次核銷清單</th></tr>
                            <tr>
                                <th style="width: 111px;">憑證編號</th>
                                <th style="width: 90px;">賣價</th>
                                <th style="width: 90px;">進貨價</th>
                                <th style="width: 111px;">核銷時間</th>
                                <th style="width: 111px;">檔號</th>
                                <th style="width: 111px;">檔次名稱</th>
                                <th style="width: 111px;">分店</th>
                                <th style="width: 111px;">核銷帳號</th>
                                <th style="width: 111px;">異動備註</th>
                            </tr>
                        </thead>
                        @{
                            if (Model.LowVerificationCount == 0)
                            {
                                <tbody>
                                    <tr>
                                        <td colspan="9" style="text-align: center;">查無資料</td>
                                    </tr>
                                </tbody>
                            }
                            else
                            {
                                foreach (ViewChannelCheckBillVerification order in Model.LowVerificationList)
                                {
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ControlRoom/Verification/CouponVerification.aspx?csn=" + order.CId)">@order.CId</a></td>
                                            <td style="text-align: center;">@Math.Round(order.ItemPrice, 0)</td>
                                            <td style="text-align: center;">@Math.Round((decimal)order.Cost, 0)</td>
                                            <td style="text-align: center;">@Convert.ToDateTime(order.VDate).ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td style="text-align: center;">@order.UId</td>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ppon/default.aspx?bid=" + order.Bid)">@order.UName</a></td>
                                            <td style="text-align: center;">@order.StoreName</td>
                                            <td style="text-align: center;">@order.CreateId</td>
                                            <td style="text-align: center;"></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                    <table class="DealBalanceInfo">
                        <thead>
                            <tr><th colspan="8">一般檔次取消核銷清單</th></tr>
                            <tr>
                                <th style="width: 111px;">憑證編號</th>
                                <th style="width: 90px;">賣價</th>
                                <th style="width: 90px;">進貨價</th>
                                <th style="width: 111px;">取消核銷時間</th>
                                <th style="width: 111px;">檔號</th>
                                <th style="width: 111px;">檔次名稱</th>
                                <th style="width: 111px;">分店</th>
                                <th style="width: 111px;">異動備註</th>
                            </tr>
                        </thead>
                        @{
                            if (Model.GeneralCancelVerificationCount == 0)
                            {
                                <tbody>
                                    <tr>
                                        <td colspan="9" style="text-align: center;">查無資料</td>
                                    </tr>
                                </tbody>
                            }
                            else
                            {
                                foreach (ViewChannelCheckBillCancelVerification order in Model.GeneralCancelVerificationList)
                                {
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ControlRoom/Verification/CouponVerification.aspx?csn=" + order.CouponSequenceNumber)">@order.CouponSequenceNumber</a></td>
                                            <td style="text-align: center;">@Math.Round(order.ItemPrice, 0)</td>
                                            <td style="text-align: center;">@Math.Round((decimal)order.Cost, 0)</td>
                                            <td style="text-align: center;">@Convert.ToDateTime(order.UndoTime).ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td style="text-align: center;">@order.RelatedOrderId</td>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ppon/default.aspx?bid=" + order.Bid)">@order.CouponUsage</a></td>
                                            <td style="text-align: center;">@order.StoreName</td>
                                            <td style="text-align: center;"></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                    <table class="DealBalanceInfo">
                        <thead>
                            <tr><th colspan="8">低毛利檔次取消核銷清單</th></tr>
                            <tr>
                                <th style="width: 111px;">憑證編號</th>
                                <th style="width: 90px;">賣價</th>
                                <th style="width: 90px;">進貨價</th>
                                <th style="width: 111px;">取消核銷時間</th>
                                <th style="width: 111px;">檔號</th>
                                <th style="width: 111px;">檔次名稱</th>
                                <th style="width: 111px;">分店</th>
                                <th style="width: 111px;">異動備註</th>
                            </tr>
                        </thead>
                        @{
                            if (Model.LowCancelVerificationCount == 0)
                            {
                                <tbody>
                                    <tr>
                                        <td colspan="9" style="text-align: center;">查無資料</td>
                                    </tr>
                                </tbody>
                            }
                            else
                            {
                                foreach (ViewChannelCheckBillCancelVerification order in Model.LowCancelVerificationList)
                                {
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ControlRoom/Verification/CouponVerification.aspx?csn=" + order.CouponSequenceNumber)">@order.CouponSequenceNumber</a></td>
                                            <td style="text-align: center;">@Math.Round(order.ItemPrice, 0)</td>
                                            <td style="text-align: center;">@Math.Round((decimal)order.Cost, 0))</td>
                                            <td style="text-align: center;">@Convert.ToDateTime(order.UndoTime).ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td style="text-align: center;">@order.RelatedOrderId</td>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ppon/default.aspx?bid=" + order.Bid)">@order.CouponUsage</a></td>
                                            <td style="text-align: center;">@order.StoreName</td>
                                            <td style="text-align: center;"></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>

                <div id="tab3" class="tab_content">
                    <table class="DealBalanceInfo">
                        <thead>
                            <tr>
                                <th style="width: 111px;">退貨筆數</th>
                                <th style="width: 80px;">退貨金額</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">@Model.ReturnCount</td>
                                <td style="text-align: center;">@Math.Round(Model.ReturnTotal, 0)</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table class="DealBalanceInfo">
                        <thead>
                            <tr><th colspan="8">退貨清單</th></tr>
                            <tr>
                                <th style="width: 111px;">憑證編號</th>
                                <th style="width: 90px;">售價</th>
                                <th style="width: 90px;">進貨價</th>
                                <th style="width: 111px;">訂單編號</th>
                                <th style="width: 111px;">購買日期</th>
                                <th style="width: 111px;">退貨日期</th>
                                <th style="width: 111px;">檔號</th>
                                <th style="width: 111px;">檔次名稱</th>
                            </tr>
                        </thead>
                        @{
                            if (Model.ReturnCount == 0)
                            {
                                <tbody>
                                    <tr>
                                        <td colspan="8" style="text-align: center;">查無資料</td>
                                    </tr>
                                </tbody>
                            }
                            else
                            {
                                foreach (ViewChannelCheckBillReturn order in Model.ReturnList)
                                {
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ControlRoom/Verification/CouponVerification.aspx?csn=" + order.CId)">@order.CId</a></td>
                                            <td style="text-align: center;">@Math.Round(order.Prize, 0)</td>
                                            <td style="text-align: center;">@Math.Round((decimal)order.Cost, 0)</td>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/controlroom/Order/order_detail.aspx?oid=" + order.OrderGuid)">@order.OrderId</a></td>
                                            <td style="text-align: center;">@Convert.ToDateTime(order.BuyDate).ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td style="text-align: center;">@Convert.ToDateTime(order.ReturnDate).ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td style="text-align: center;">@order.RId</td>
                                            <td style="text-align: center;"><a style="color: Blue;" target="_blank" href="@Url.Content("~/ppon/default.aspx?bid=" + order.Bid)">@order.CouponUsage</a></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>

                </div>
            </div>
        </fieldset>
    </form>
</div>
