﻿@using LunchKingSite.WebLib.Models
@model ManageBalanceSheetModel
@{
    ViewBag.Title = "ManageBalanceSheet";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

@section SSC {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")"/>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-1.6.2.min.js")"></script>    
    <script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>    
    <script type="text/javascript">
        var unfixedBalanceSheetId;

        $(document).ready(function () {
            //stretch content width
            //var maxContentWidth = $(window).width() - $('#menuPanel').width();
            asyncLoad();
        });

        function asyncLoad() {
            $('#selectBalanceSheet').change(changeBalanceSheet);
            unfixedBalanceSheetId = $('#unfixedBalanceSheetId').attr('value');
        }

        function changeBalanceSheet() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ManageBalanceSheet")',
                data: $('#formSelectSheet').serialize(),
                dataType: 'html',
                success: function (data) {
                    var newContent = $(data).find('#mainContent');
                    $('#mainContent').replaceWith(newContent);
                    asyncLoad();
                }
            });
        }

        function genBalanceSheet(genBSType) {
            var bizModel = $('#formSelectSheet input[name="Biz"]').val();
            var dealId = $('#formSelectSheet input[name="DealId"]').val();
            var storeGuid = $('#formSelectSheet input[name="Store"]').val();
            var genBSUrl = '@Url.Action("GenerateManualBalanceSheet")';

            if (genBSType === "WeeklyPayMonth") {
                genBSUrl = '@Url.Action("GenerateTriggerWeeklyPayMonthBalanceSheet")';
            }

            $.ajax({
                type: 'POST',
                url: genBSUrl,
                data: { bizModel: bizModel, dealId: dealId, storeGuid: storeGuid },
                success: function (data) {
                    alert(data.FailReason);
                    if (data.Success) {
                        var url = '@Url.Action("ManageBalanceSheet")';
                        url = url + '?biz=' + bizModel + '&dealid=' + dealId + '&store=' + storeGuid;
                        window.location = url;
                    }
                },
                dataType: 'json'
            });
        }

        function moveVerified(trustId) {
            var message = prompt('備註:');
            if(message) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddVerified")',
                    data: {balanceSheetId: unfixedBalanceSheetId, trustId: trustId, reason: message},
                    success: function(data) {
                        if(data.Success === true) {
                            $('#verifiedTable').find('tr[rowtrustid="' + trustId + '"]').hide();
                            alert('成功!');
                        }else {
                            alert('失敗! 請洽技術部!');
                        }
                    },
                    dataType: 'json'
                });
            }else{
                if(message !== null){
                    alert('請提供備註!');
                }
            }
        }

        function moveUndo(trustId) {
            var message = prompt('備註:');
            if(message) {
                $.ajax({
                        type: 'POST',
                        url: '@Url.Action("AddUndo")',
                        data: {balanceSheetId: unfixedBalanceSheetId, trustId: trustId, reason: message},
                        success: function(data) {
                            if(data.Success === true) {
                                $('#undoTable').find('tr[rowtrustid="' + trustId + '"]').hide();
                                alert('成功!');
                            }else {
                                alert('失敗! 請洽技術部!');
                            }
                        },
                        dataType: 'json'
                    });
            }else{
                if(message !== null){
                    alert('請提供備註!');
                }
            }
        }

        function updateBalanceSheetEstAmountBySlottingFeeQuantity() {
            var dealGuid = $('#formSelectSheet input[name="DealGuid"]').val();
            var bizModel = $('#formSelectSheet input[name="Biz"]').val();
            var dealId = $('#formSelectSheet input[name="DealId"]').val();
            var storeGuid = $('#formSelectSheet input[name="Store"]').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateBalanceSheetEstAmountBySlottingFeeQuantity")',
                data: { dealGuid: dealGuid },
                success: resultHandler,
                dataType: 'json'
            });
        }

        function updateBalanceSheetEstAmountByCost() {
            var dealGuid = $('#formSelectSheet input[name="DealGuid"]').val();
            var bizModel = $('#formSelectSheet input[name="Biz"]').val();
            var dealId = $('#formSelectSheet input[name="DealId"]').val();
            var storeGuid = $('#formSelectSheet input[name="Store"]').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateBalanceSheetEstAmountByCost")',
                data: { dealGuid: dealGuid },
                success: resultHandler,
                dataType: 'json'
            });
        }

        function resultHandler(data) {
            if (data.Success) {
                alert("已更新對帳單應付金額");
                var url = '@Url.Action("ManageBalanceSheet")';
                url = url + '?biz=' + bizModel + '&dealid=' + dealId + '&store=' + storeGuid;
                window.location = url;
            }
            else {
                alert(data.Message);
            }
        }


    </script>
    <style>
        table.DealBalanceInfo
        {
            border-collapse: collapse;
            font-size: small;
        }
        table.DealBalanceInfo th
        {
            background-color: #333333;                   
            color: #FFFFFF;     
            border-style: solid;
            border-width:1px;
            border-color: #000000;      
            border-style: solid;
            padding-top: 6px;
            padding-bottom: 6px;
        }
        table.DealBalanceInfo td
        {
            background-color: #FFFFFF;
            border-width:1px;
            border-color: #000000;      
            border-style: solid;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        
        table.BalanceDetail
        {
            border-collapse: collapse;
            border-style: dashed;
            border-width: 1px;
            border-color: #666666;
        }
        table.BalanceDetail th
        {
            background-color: #999999;
            font-weight: normal;
            border-color: #666666;
            border-width: 1px;
            border-style: dashed;
            font-size: smaller;
            padding-top: 4px;
            padding-bottom: 4px;
        }
        table.BalanceDetail td
        {
            border-width: 1px;
            border-style: dashed;
            border-color: #666666;
            font-size: smaller;
            padding-top: 4px;
            padding-bottom: 4px;
        }
        table.BalanceDetail tr.normal
        {
            background-color: #FFFFFF;
        }
        table.BalanceDetail tr.alternate
        {
            background-color: #D7D7D7;
        }
    </style>
}

<div style="margin-bottom: 10px;">    
    <a style="color: Blue;" href="javascript:history.go(-1);">回對帳單管理</a>    
</div>
<div id="mainContent">
    <table class="DealBalanceInfo">
        <thead>
            <tr>            
                <th style="width:211px;">店家名稱</th>            
                <th style="width:111px;">檔號</th>
                @{
                    if (Model.Biz == LunchKingSite.Core.BusinessModel.Ppon)
                    {
                        <th style="width:211px;">檔次名稱</th>
                    }
                    else
                    {
                        <th style="width:211px;">商品名稱</th>
                    }
                }                            
                <th style="width:180px;">兌換/配送時間</th>
                <th style="width:120px;">(月)對帳單數</th>
                <th style="width:120px;">出帳方式</th>
            </tr>
        </thead>
        <tbody>
            @{
            
                DealBalanceInfo dealInfo = Model.DealInfo;
            
                <tr>                
                    <td>@dealInfo.SellerName</td>                
                    <td style="text-align: center;">@dealInfo.DealId</td>                                    
                    @{
                        if (Model.Biz == LunchKingSite.Core.BusinessModel.Ppon)
                        {
                            <td><a style="color: Blue;" target="_blank" href="@Url.Content("~/ppon/default.aspx?bid=" + dealInfo.DealGuid)">@dealInfo.DealName</a></td>
                        }
                        else
                        {
                            <td><a style="color: Blue;" target="_blank" href="@Url.Content("~/piinlife/HiDeal.aspx?pid=" + dealInfo.DealId)">@dealInfo.DealName</a></td>
                        }
                    }       
                    <td>@(string.Format("{0:yyyy/MM/dd}", dealInfo.DealUseStartTime)) ~ @(string.Format("{0:yyyy/MM/dd}", dealInfo.DealUseEndTime))</td>
                    <td style="text-align: center;">@dealInfo.MonthlyBalanceSheetCount</td>
                    <td style="text-align: center;">
                    @{
                        <text>@LunchKingSite.Core.Helper.GetLocalizedEnum(dealInfo.RemittanceType)</text>
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    <form id="formSelectSheet" action="@Url.Action("ManageBalanceSheet")" method="post">
        <input type="hidden" name="Biz" value="@((int)Model.Biz)" />
        <input type="hidden" name="DealId" value="@Model.DealId" />
        <input type="hidden" name="Store" value="@Model.Store" />
        <input type="hidden" name="DealGuid" value="@Model.DealInfo.DealGuid" />
        @if (Model.UpdateBalanceSheetAmountEnable)
        { 
            <fieldset class="top-buffer">
                <legend><strong>批次更新</strong> </legend>
                <input id="updateBsEstAmountBySlottingFeeQuantity" type="button" value="更新對帳單金額(上架費異動)" onclick="updateBalanceSheetEstAmountBySlottingFeeQuantity()">
                <span style="color: #ff00dc; font-size: small;">於對帳單產出後；若有上架費份數異動的狀況，按下此按鈕可將未完成單據確認之對帳單重新計算各對帳單明細中列入上架費份數並更新對帳單金額。</span>
                <br />
                <input id="updateBsEstAmountByCost" type="button" value="更新對帳單金額(進貨價異動)" onclick="updateBalanceSheetEstAmountByCost()">
                <span style="color: #0094ff; font-size: small;">於對帳單產出後；若有進貨價異動的狀況，按下此按鈕可將未完成單據確認之對帳單更新對帳單金額。此功能不會異動對帳單明細。</span>
            </fieldset>
            <br />
        }
        <span>對帳單月份：</span>
        <select id="selectBalanceSheet" name="SelectedBalanceSheetId">
            <option value="-1" @Html.Raw(int.Equals(-1, Model.SelectedBalanceSheetId) ? "selected='selected'" : string.Empty)>尚未列入對帳單清單</option>
        @{
            foreach (KeyValuePair<int, string> mbs in Model.MonthBalanceSheetOptions)
            {
                <option value="@mbs.Key" @Html.Raw(mbs.Key == Model.SelectedBalanceSheetId ? "selected='selected'" : string.Empty) >@mbs.Value</option>
            }
        }
        </select>
        @{
            <input id="genManualBalanceSheet" type="button" 
                @Html.Raw(Model.IsTriggerManualable ? string.Empty : "disabled='disabled'")
                style="margin-left: 20px; " 
                value="產人工對帳單"
                onclick="genBalanceSheet('Manual')" />
            <span style="color: #666666; font-size: small;">按鈕開放時間：停止產生自動對帳單以後。(可由前台核銷的時限內，都會自動產生對帳單。)</span>
            <input id="genTriggeredBalanceSheet" type="button" 
                style="margin-left: 20px; @Html.Raw(((dealInfo.RemittanceType == LunchKingSite.Core.RemittanceType.AchWeekly || 
                                                      dealInfo.RemittanceType == LunchKingSite.Core.RemittanceType.ManualWeekly) && 
                                                    Model.IsTriggerable) ? string.Empty : "visibility:hidden;") "
                value="補產擋款對帳單"
                onclick="genBalanceSheet('WeeklyPayMonth')" />
        }    
    </form>

    <div id="detailSumaryArea" style="margin-top: 10px;">
        @{
            if (!int.Equals(-1, Model.SelectedBalanceSheetId))
            {
                <div style="margin-top: 18px;">
                    <span>區間：@(string.Format("{0:yyyy/MM/dd}~{1:yyyy/MM/dd}", Model.IntervalStart, Model.IntervalEnd))</span><br />
                    @if (Model.SlottingFeeQuantity > 0)
                    {                     
                    <span>上架費份數：@Model.SlottingFeeQuantity</span>
                    }
                </div>
            }

            <div style="margin-top: 18px;">
            @if (Model.SlottingFeeQuantity > 0)
            {
                <br /><span>本期累計核銷份數：@Model.VerifiedTotalCount</span><br />
            }
                <span>核銷金額：@(string.Format("${0:,0}", Model.VerifiedAmount))</span><br />
                <span>反核銷金額：@(string.Format("${0:,0}", Model.UndoAmount))</span><br />
                <span>本期對帳金額：@(string.Format("${0:,0}", Model.BalanceSheetAmount))</span><br />
                <span style="color: #FF6600;">（核銷金額 - 取消核銷金額 = 本期對帳金額）</span><br />
                <span style="color: #ff0000;font-size: 13px">注意事項：金額為使用本期對帳單明細中核銷/反核銷份數*進貨價進行試算，可能因進貨價異動而與實際對帳單金額不一致。</span>
            </div>
        
            <input type="hidden" id="unfixedBalanceSheetId" value="@Model.UnfixedBalanceSheetId" />
        }
    
    </div>

    @{
        if (int.Equals(-1, Model.SelectedBalanceSheetId))
        {
            @RenderNonMonthDetail(Model.UndoDetail, Model.VerifyDetail)
        }
        else
        {
            @RenderMonthDetail(Model.BalanceDetail, Model.SelectedBalanceSheetFixed)
        }
    }

</div>

@helper RenderMonthDetail(List<BalanceSheetDetailInfo> details, bool isFixed)
{
    var undos = details.Where(x => x.IsUndo);
    var verified = details.Where(x => !x.IsUndo).OrderByDescending(x => x.VerifiedTime);
    <div id="undoArea" style="margin-top: 10px;">
        <table class="BalanceDetail">
            <thead>
                <tr>
                    <th style="text-align: left; font-weight: bolder; padding-left: 4px;" colspan="7">取消核銷清單</th>
                </tr>
                <tr>
                    <th style="width:91px;">異動</th>
                    <th style="width:100px;">憑證編號</th>
                    <th style="width:151px;">核銷時間</th>
                    <th style="width:171px;">取消核銷時間</th>                    
                    @{
                        if (Model.Biz == LunchKingSite.Core.BusinessModel.Ppon)
                        {
                            <th style="width:171px;">檔次名稱</th>
                        }
                        else
                        {
                            <th style="width:171px;">商品名稱</th>
                        }
                    }   
                    <th style="width:91px;">分店</th>                    
                    <th style="width:200px;">異動備註</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (int.Equals(0, undos.Count()))
                    {
                        <tr class='normal'>
                            <td colspan="7" style="text-align: center;">無資料</td>
                        </tr>
                    }
                    else
                    {
                        int index = 0;
                        foreach (var detail in undos)
                        {
                            <tr @Html.Raw(index % 2 == 0 ? "class='normal'" : "class='alternate'")>
                                <td style="text-align: center;">@(isFixed ? "已鎖定" : string.Empty)</td>
                                <td style="text-align: center;">@detail.CouponSequenceNumber</td>
                                <td style="text-align: center;">@(string.Format("{0:yyyy/MM/dd hh:mm:ss}", detail.VerifiedTime))</td>
                                <td style="text-align: center;">@(string.Format("{0:yyyy/MM/dd hh:mm:ss}", detail.UndoTime))</td>
                                <td>@Model.DealInfo.DealName</td>
                                <td>@Model.DealInfo.StoreName</td>                                
                                <td>@detail.ModifyMessage</td>
                            </tr>
                            index++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    
    <div id="verifiedArea" style="margin-top: 10px;">
        <table class="BalanceDetail">
            <thead>
                <tr>
                    <th style="font-weight: bolder; text-align: left; padding-left: 4px;" colspan="7">核銷清單</th>
                </tr>
                <tr style="font-weight: normal">
                    <th style="width:91px;">異動</th>
                    <th style="width:100px;">憑證編號</th>
                    <th style="width:151px;">核銷時間</th>
                    @{
                        if (Model.Biz == LunchKingSite.Core.BusinessModel.Ppon)
                        {
                            <th style="width:171px;">檔次名稱</th>
                        }
                        else
                        {
                            <th style="width:171px;">商品名稱</th>
                        }
                    } 
                    <th style="width:80px;">分店</th>
                    <th style="width:91px;">核銷帳號</th>
                    <th style="width:200px;">異動備註</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (int.Equals(0, verified.Count()))
                    {
                        <tr class='normal'>
                            <td colspan="7" style="text-align: center;">無資料</td>
                        </tr>
                    }
                    else
                    {
                        int index = 0;
                        foreach (var detail in verified)
                        {
                            <tr @Html.Raw(index % 2 == 0 ? "class='normal'" : "class='alternate'")>
                                <td style="text-align: center;">@(isFixed ? "已鎖定" : string.Empty)</td>
                                <td style="text-align: center;">@detail.CouponSequenceNumber</td>
                                <td style="text-align: center;">@(string.Format("{0:yyyy/MM/dd hh:mm:ss}", detail.VerifiedTime))</td>
                                <td>@Model.DealInfo.DealName</td>
                                <td>@Model.DealInfo.StoreName</td>
                                <td style="text-align: center;">@detail.VerifiedUser</td>                                
                                <td>@detail.ModifyMessage</td>
                            </tr>
                            index++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
} 

@helper RenderNonMonthDetail(List<BalanceSheetDetailInfo> undos, List<NonBalanceSheetVerifyInfo> verifies)
{
    <div id="undoArea" style="margin-top: 10px;">
        <table id="undoTable" class="BalanceDetail">
            <thead>
                <tr>
                    <th style="text-align: left; font-weight: bolder; padding-left: 4px;" colspan="7">取消核銷清單</th>
                </tr>
                <tr>
                    <th style="width:91px;">異動</th>
                    <th style="width:100px;">憑證編號</th>
                    <th style="width:151px;">核銷時間</th>
                    <th style="width:171px;">取消核銷時間</th>                    
                    @{
                        if (Model.Biz == LunchKingSite.Core.BusinessModel.Ppon)
                        {
                            <th style="width:171px;">檔次名稱</th>
                        }
                        else
                        {
                            <th style="width:171px;">商品名稱</th>
                        }
                    }   
                    <th style="width:91px;">分店</th>                    
                    <th style="width:200px;">異動備註</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (int.Equals(0, undos.Count()))
                    {
                        <tr class='normal'>
                            <td colspan="7" style="text-align: center;">無資料</td>
                        </tr>
                    }
                    else
                    {
                        int index = 0;
                        foreach (var detail in undos)
                        {
                            <tr @Html.Raw(index % 2 == 0 ? "class='normal'" : "class='alternate'") rowtrustid="@detail.TrustId">
                                <td style="text-align: center;">
                                @if (Model.UnfixedBalanceSheetAvailable)
                                {   
                                    <input type="button" value="移出" onclick="moveUndo('@detail.TrustId');" />
                                }
                                </td>
                                <td style="text-align: center;">@detail.CouponSequenceNumber</td>
                                <td style="text-align: center;">@(string.Format("{0:yyyy/MM/dd hh:mm:ss}", detail.VerifiedTime))</td>
                                <td style="text-align: center;">@(string.Format("{0:yyyy/MM/dd hh:mm:ss}", detail.UndoTime))</td>
                                <td>@Model.DealInfo.DealName</td>
                                <td>@Model.DealInfo.StoreName</td>                                
                                <td></td>
                            </tr>
                            index++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    
    <div id="verifiedArea" style="margin-top: 10px;">
        <table id="verifiedTable" class="BalanceDetail">
            <thead>
                <tr>
                    <th style="font-weight: bolder; text-align: left; padding-left: 4px;" colspan="7">核銷清單</th>
                </tr>
                <tr style="font-weight: normal">
                    <th style="width:91px;">異動</th>
                    <th style="width:100px;">憑證編號</th>
                    <th style="width:151px;">核銷時間</th>
                    @{
                        if (Model.Biz == LunchKingSite.Core.BusinessModel.Ppon)
                        {
                            <th style="width:171px;">檔次名稱</th>
                        }
                        else
                        {
                            <th style="width:171px;">商品名稱</th>
                        }
                    } 
                    <th style="width:80px;">分店</th>
                    <th style="width:91px;">核銷帳號</th>
                    <th style="width:200px;">異動備註</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (int.Equals(0, verifies.Count()))
                    {
                        <tr class='normal'>
                            <td colspan="7" style="text-align: center;">無資料</td>
                        </tr>
                    }
                    else
                    {
                        int index = 0;
                        foreach (var detail in verifies)
                        {
                            <tr @Html.Raw(index % 2 == 0 ? "class='normal'" : "class='alternate'") rowtrustid="@detail.TrustId">
                                <td style="text-align: center;">
                                @if (Model.UnfixedBalanceSheetAvailable)
                                {   
                                    <input type="button" value="移出" onclick="moveVerified('@detail.TrustId');" />
                                }
                                </td>
                                <td style="text-align: center;">@detail.CouponSequenceNumber</td>
                                <td style="text-align: center;">@(string.Format("{0:yyyy/MM/dd hh:mm:ss}", detail.VerifiedTime))</td>
                                <td>@Model.DealInfo.DealName</td>
                                <td>@Model.DealInfo.StoreName</td>
                                <td style="text-align: center;">@detail.VerifiedUser</td>                                
                                <td></td>
                            </tr>
                            index++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
}