﻿@using LunchKingSite.Core
@using LunchKingSite.WebLib.Models
@using LunchKingSite.BizLogic.Model.OAuth
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.DataOrm

@model SearchBalanceSheetModel
@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

@section SSC {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")"/>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-1.6.2.min.js")"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //stretch content width
            var maxContentWidth = $(window).width() - $('#menuPanel').width();
            var searchWidth = maxContentWidth - 40;
            $('#searchArea').width(searchWidth);

            //initialize controls
            if ($('#selBizModel').val() === 'Ppon') {
                $('#selPpon').show();
                $('#selPiin').hide();
            } else {
                $('#selPpon').hide();
                $('#selPiin').show();
            }

            $('.datepicker').datepicker({ dateFormat: "yy/mm/dd" });


            $('#selBizModel').change(function() {
                if ($(this).val() === 'Ppon') {
                    $('#selPpon').show();
                    $('#selPiin').hide();
                } else {
                    $('#selPpon').hide();
                    $('#selPiin').show();
                }
            });

            //align upper search textbox with search button
            var btnOffset = $('#btnSearch').offset();
            var txtOffset = $('#txtKeyword').offset();
            var btnVisualWidth = $('#btnSearch').outerWidth();
            var txtWidth = btnOffset.left + btnVisualWidth - txtOffset.left;
            $('#txtKeyword').width(txtWidth);

            if ($('#ChannelClientProperty').val() == "[0, 0]")
            {
                $('#send').attr('disabled', true);
            }
        });

        function updateSearchCondition() {
            if ($('#txtKeyword').val().length > 0) {
                //update hidden
                if ($('#selBizModel').val() === 'Ppon') {
                    $('#hidSearchCondition').val($('#selPpon').val());
                } else {
                    $('#hidSearchCondition').val($('#selPiin').val());
                }
                return true;
            } else if ($('#txtSearchStartTime').val().length > 0 || $('#txtSearchEndTime').val().length > 0) {
                //update selDate
                $('#hidSearchCondition').val($('#selDate').val());
                return true;
            }
            alert('請輸入搜尋條件!');
            return false;
        }

        function checkData() {
            if ($('#ChannelClientProperty').val() != "[0, 0]") {
                var selectedValues = $('#ChannelClientProperty').val();
                var dt = new Date();
                var year = dt.getFullYear().toString();
                var month =(dt.getMonth() + 1).toString();
                month = padLeft(month, 2);
                var selectedMonth = year + month.toString();
                var jsonArray = jQuery.parseJSON(selectedValues);
                var url = '@Url.Action("ChannelCheckBillSheet")?type=' + jsonArray[0] + '&appid=' + jsonArray[1] + '&selectedmonth=' + selectedMonth;
                window.location.href = url;
            } 
        }

        function padLeft(str, lenght) {
            if (str.length >= lenght)
                return str;
            else
                return padLeft("0" + str, lenght);
        }

    </script>
    <style>
        table.DealBalanceInfo
        {
            border-collapse: collapse;
            font-size: small;
        }
        table.DealBalanceInfo th
        {
            background-color: #333333;
            color: #FFFFFF;
            border-style: solid;
            border-width: 1px;
            border-color: #000000;
            border-style: solid;
        }
        table.DealBalanceInfo td
        {
            background-color: #FFFFFF;
            border-width: 1px;
            border-color: #000000;
            border-style: solid;
        }
    </style>
}


<div id="searchArea" style="margin-top: 20px;">
    <form action="@Url.Action("SearchBalanceSheet")" method="post">
        <fieldset class="top-buffer">
            <legend><strong>檔次對帳單</strong> </legend>
            <input type="hidden" id="hidSearchCondition" name="SearchCondition" />
            <div style="float: left; width: 90px; height: 60px;">
                <select name="BizModel" id="selBizModel">
                    <option value="Ppon" @(Model.BizModel == BusinessModel.Ppon ? "selected='selected'" : string.Empty)>P好康</option>
                    <option value="PiinLife" @(Model.BizModel == BusinessModel.PiinLife ? "selected='selected'" : string.Empty)>品生活</option>
                </select>
            </div>

            <div>
                <div>
                    <select id="selPpon" style="display: none;">
                        <option value="DealName" @(Model.SearchCondition == BalanceSheetSearchCondition.DealName ? "selected='selected'" : string.Empty)>檔次名稱</option>
                        <option value="SellerName" @(Model.SearchCondition == BalanceSheetSearchCondition.SellerName ? "selected='selected'" : string.Empty)>店家名稱</option>
                        <option value="Bid" @(Model.SearchCondition == BalanceSheetSearchCondition.Bid ? "selected='selected'" : string.Empty)>BID</option>
                        <option value="PponUniqueId" @(Model.SearchCondition == BalanceSheetSearchCondition.PponUniqueId ? "selected='selected'" : string.Empty)>檔號</option>
                    </select>
                    <select id="selPiin" style="display: none;">
                        <option value="DealName" @(Model.SearchCondition == BalanceSheetSearchCondition.DealName ? "selected='selected'" : string.Empty)>檔次名稱</option>
                        <option value="SellerName" @(Model.SearchCondition == BalanceSheetSearchCondition.SellerName ? "selected='selected'" : string.Empty)>店家名稱</option>
                        <option value="PiinDealId" @(Model.SearchCondition == BalanceSheetSearchCondition.PiinDealId ? "selected='selected'" : string.Empty)>DID</option>
                        <option value="PiinProductId" @(Model.SearchCondition == BalanceSheetSearchCondition.PiinProductId ? "selected='selected'" : string.Empty)>PID</option>
                    </select>
                    <input name="SearchExpression" type="text" id="txtKeyword" value="@Model.SearchExpression" />

                </div>
                <div style="margin-top: 8px;">
                    <select id="selDate">
                        <option value="DealStartTime" @(Model.SearchCondition == BalanceSheetSearchCondition.DealStartTime ? "selected='selected'" : string.Empty)>上檔日期</option>
                        <option value="DealEndTime" @(Model.SearchCondition == BalanceSheetSearchCondition.DealEndTime ? "selected='selected'" : string.Empty)>結檔日期</option>
                        <option value="DealUseStartTime" @(Model.SearchCondition == BalanceSheetSearchCondition.DealUseStartTime ? "selected='selected'" : string.Empty)>兌換起始日</option>
                        <option value="DealUseEndTime" @(Model.SearchCondition == BalanceSheetSearchCondition.DealUseEndTime ? "selected='selected'" : string.Empty)>兌換結束日</option>
                    </select>


                    <input class="datepicker" id="txtSearchStartTime" name="SearchStartTime" type="text" style="width: 100px;" value="@(string.Format("{0:yyyy/MM/dd}", Model.SearchStartTime))" />
                    <span>~</span>
                    <input class="datepicker" id="txtSearchEndTime" name="SearchEndTime" type="text" style="width: 100px;" value="@(string.Format("{0:yyyy/MM/dd}", Model.SearchEndTime))" />

                    <input id="btnSearch" type="submit" value="查尋" onclick="return updateSearchCondition();" style="margin-left: 10px;" />
                </div>
            </div>
        </fieldset>
        <fieldset class="top-buffer">
            <legend><strong>異業合作對帳</strong> </legend>
            <div id="dropdownMenu1" class="form-group">
                請選擇查詢廠商：@Html.DropDownList("ChannelClientProperty")
                <input type="button" id="send" class="btn btn-danger" value="查詢" enable="false" onclick="checkData();"/>&nbsp;&nbsp;&nbsp;<font color="red">功能測試中</font>
            </div>
        </fieldset>
  </form>
</div>



<div id="searchResult">
    @{
        if(Model.Searched)
        {
            int resultCount = Model.SearchResult.Count();
            if (resultCount == 0)
            {
                <text>查無資料!</text>
            }
            else
            {
                <span style="font-size: smaller;">查詢結果: @resultCount 筆</span>
                <table class="DealBalanceInfo">
                    <thead>
                        <tr>
                            <th style="width:40px;"></th>
                            <th style="width:211px;">店家名稱</th>
                            <th style="width:91px;">分店</th>
                            <th style="width:111px;">檔號</th>
                            @{
                                if(Model.BizModel == BusinessModel.Ppon)
                                {
                                    <th style="width:211px;">檔次名稱</th>
                                }
                                else
                                {
                                    <th style="width:211px;">商品名稱</th>
                                }
                            }                            
                            <th style="width:180px;">兌換/配送時間</th>
                            <th style="width:120px;">(月)對帳單數</th>
                            <th style="width:120px;">出帳方式</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 0;
                            foreach (var info in Model.SearchResult)
                            {
                                <tr>
                                    <td style="text-align: center;">@(index + 1)</td>
                                    <td>@info.SellerName</td>
                                    <td>@info.StoreName</td>
                                    <td style="text-align: center;">@info.DealId</td>                                    
                                    @{
                                        if(Model.BizModel == BusinessModel.Ppon)
                                        {
                                            <td><a style="color: Blue;" target="_blank" href="@Url.Content("~/ppon/default.aspx?bid=" + info.DealGuid)">@info.DealName</a></td>
                                        }
                                        else
                                        {
                                            <td><a style="color: Blue;" target="_blank" href="@Url.Content("~/piinlife/HiDeal.aspx?pid=" + info.DealId)">@info.DealName</a></td>
                                        }
                                    }       
                                    <td>@(string.Format("{0:yyyy/MM/dd}", info.DealUseStartTime)) ~ @(string.Format("{0:yyyy/MM/dd}", info.DealUseEndTime))</td>
                                    <td style="text-align: center;">
                                    @{
                                        if(info.MonthlyBalanceSheetCount > 0)
                                        {
                                            <a href="@Url.Content(string.Format("{0}?biz={1}&dealid={2}&store={3}", Url.Action("ManageBalanceSheet"), (int)Model.BizModel, info.DealId, info.StoreGuid))">
                                            @info.MonthlyBalanceSheetCount
                                            </a>
                                        }
                                        else
                                        {
                                            <text>info.MonthlyBalanceSheetCount</text>
                                        }
                                    }
                                    </td>
                                    <td style="text-align: center;">
                                    @{
                                        <text>@Helper.GetLocalizedEnum(info.RemittanceType)</text>
                                    }
                                    </td>
                                </tr>
                                index++;
                            }
                        }
                    </tbody>
                </table>
                
            }
        }
    }
</div>
