﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="membercount.aspx.cs" Inherits="LunchKingSite.Web.ControlRoom.User.membercount" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="background-color: #000; margin: 0 auto;azimuth:center;vertical-align:middle">
    <form id="form1" runat="server">
    <div style="azimuth:center;vertical-align:middle">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
                                </asp:ScriptManager>
                                
        <table style="width: 100%;height:600">
            <tr height="500px">
                <td align="center"  valign="middle">
                    <table style="background-color: Black; azimuth: center; height: 100%; width: 100%">
                        <tr>
                            <td>
                                <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                                <ContentTemplate>
                                <asp:Label ID="lnum" runat="server" Text=""></asp:Label>
                                </ContentTemplate>
                                <Triggers>
                                    <asp:AsyncPostBackTrigger ControlID="Timer1" EventName="Tick" />
                                </Triggers>
                                </asp:UpdatePanel>
                                    
                                
                                <asp:Timer ID="Timer1" runat="server" Interval="1000" ontick="Timer1_Tick">
                                </asp:Timer>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
      
        
       
    </div>
    </form>
</body>
</html>
