﻿@{
    Layout = Request.RawUrl.ToLower().IndexOf("skm") > 0 ? "~/Views/shared/SKMDealLayout.cshtml" : "~/Views/shared/BeaconLayout.cshtml";
    int triggerAppId = (int)ViewBag.TriggerAppId;
    int page = ViewBag.Page;
}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#ddlAuxiliaryCode').hide();  //事件列表搜尋不細分到樓層

        $("#btnSearch").click(function () {
            changeSortIcon();
            QueryData(1);
        });
    });

    function softEventData(x) {
        setOrderBy(x.attr('Id'));
        changeSortIcon(x.attr('Id'));
        QueryData();
    }

    function changeSortIcon(icon) {
        //init
        $("#eventBeginDateTh").attr('class', 'alg-center sort-initial');
        $("#eventEndDateTh").attr('class', 'alg-center sort-initial');
        $("#eventSubjectTh").attr('class', 'alg-center sort-initial');
        $("#isSubEventTh").attr('class', 'alg-center sort-initial');
        $("#eventStateTh").attr('class', 'alg-center sort-initial');
        $("#isExpiredTh").attr('class', 'alg-center sort-initial');

        //selected change icon
        if ($("#orderByDesc").val() === "false") {
            $('#' + icon + 'Th').attr('class', 'alg-center sort-up');
        } else {
            $('#' + icon + 'Th').attr('class', 'alg-center sort-down');
        }
    }

    function setOrderBy(orderByCol) {
        if ($("#orderByCol").val() !== orderByCol) {
            $("#orderByDesc").val(false);
        } else {
            if ($("#orderByDesc").val() === "false")
                $("#orderByDesc").val(true);
            else
                $("#orderByDesc").val(false);
        }
        $("#orderByCol").val(orderByCol);
    }

    function QueryData(newPage) {
        if (newPage != null) {
            BindBeaconEventInfo($("#ddlGroupCode option:selected").val(), $("#orderByCol").val(), $("#orderByDesc").val() === "true", newPage);
        } else {
            BindBeaconEventInfo($("#ddlGroupCode option:selected").val(), $("#orderByCol").val(), $("#orderByDesc").val() === "true", $("#selectedPage").val());
        }
    }

    function BindBeaconEventInfo(groupCode, orderField, isDesc, page) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetBeaconEventListInfo")",
            data: "{groupCode:'" + groupCode + "', orderField:'" + orderField + "', isDesc:" + isDesc + ", page:" + page + ", TriggerAppId:" + @triggerAppId + "}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $("#beaconEventList").empty();
                var _html = "<tr>";

                if ($.isEmptyObject(data)) {
                    alert("無Beacon對應資料");
                }

                $.each(data.partEventList,
                    function (key, obj) {

                        var beginDate = new Date(parseInt(obj.BeginDate.substr(6)));
                        var endDate = new Date(parseInt(obj.EndDate.substr(6)));
                        var expired;
                        var state;
                        var kind;
                        var nowTime = new Date();

                        if (Date.parse(endDate.toLocaleString('en-US')) < Date.parse(nowTime)) {
                            expired = "已過期";
                        } else {
                            expired = "上檔中";
                        }

                        if (obj.State) {
                            state = "啟用";
                        } else {
                            state = "隱藏";
                        }

                        if (obj.Kinds > 0) {
                            kind = "多";
                        } else {
                            kind = "單";
                        }

                        _html += "<td id='eventId' style='display:none'>" + obj.EventId + "</td>";
                        _html += "<td>" + beginDate.toLocaleDateString() + "</td>";
                        _html += "<td>" + endDate.toLocaleDateString() + "</td>";
                        _html += "<td>" + obj.Subject + "</td>";
                        _html += "<td>" + kind + "</td>";
                        _html += "<td id='state'>" + state + "</td>";
                        _html += "<td>" + expired + "</td>";
                        if (obj.IsRootPower) {
                            _html += "<td  colspan='2'>" + "本訊息由總公司設定" + "</td>";
                        } else {
                            _html += "<td>" + "<a id=" + obj.EventId + " style='cursor:pointer;' onclick='GotoNewEdit(this)' >編輯</a>" + "</td>";
                            if (obj.State) {
                                _html += "<td>" +
                                    "<a id=" +
                                    obj.EventId +
                                    " style='cursor:pointer;' onclick='EditEventState(this)' >隱藏</a>" +
                                    "</td>";
                            } else {
                                _html += "<td>" +
                                    "<a id=" +
                                    obj.EventId +
                                    " style='cursor:pointer;' onclick='EditEventState(this)' >開啟</a>" +
                                    "</td>";
                            }
                        }
                        _html += "</tr>";
                    });
                $("#beaconEventList").html(_html);
                changePageStyle(data.Count, page);
            },
            complete: function () {

            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }

        });
    }

    function EditEventState(x) {
        var eventId = $(x.parentElement.parentElement).find('#eventId');
        var state = $(x.parentElement.parentElement).find('#state');
        var stateValue;
        if (state.text() == "啟用") {
            stateValue = true;
        } else {
            stateValue = false;
        }

        var eventList = {};
        eventList.eventId = parseInt(eventId.text());
        eventList.state = stateValue;
        var eventListJsonFormat = JSON.stringify(eventList);

        $.ajax({
            type: "POST",
            url: "@Url.Action("EditBeaconEventForEnabled")",
            data: eventListJsonFormat,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (stateValue) {
                    state.text("隱藏");
                    x.text = "開啟";
                } else {
                    state.text("啟用");
                    x.text = "隱藏";
                }
            }
        });
    }

    function GotoNewEdit(edit) {
        if (edit == undefined) {
            location.href = '/Beacon/EventEdit/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' + '?SellerGuid=' + $('#ddlSellerCode').val() + '&ShopCode=' + $('#ddlGroupCode').val() + '&Page=' + $("#selectedPage").val();
        } else {
            location.href = '/Beacon/EventEdit/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' + '?EventId=' + edit.id + '&SellerGuid=' + $('#ddlSellerCode').val() + '&ShopCode=' + $('#ddlGroupCode').val() + '&Page=' + $("#selectedPage").val();
        }
    }

    function GotoSchedule() {
        location.href = '/Beacon/Schedule/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' + '?Seller=' + $('#ddlSellerCode').val() + '&groupCode=' + $('#ddlGroupCode').val() + '&auxiliaryCode=' + $('#ddlAuxiliaryCode').val();
    }
</script>

<input type="hidden" id="orderByCol" value="event_Id" />
<input type="hidden" id="orderByDesc" value="true" />

<section class="bg-white">
    <div class="pdg-40">
        <div class="zone">
            <h2>訊息列表</h2>
            <ul class="admin_note">
                <li>顧客一天最多收到30則Beacon訊息, 同一訊息僅發送一次</li>
                <li>已建立的訊息若不想推播,可按 [編輯] 隱藏訊息</li>
            </ul>
            <div class="">
                <div class="dis-inline">
                    @Html.RenderDropdownlist(System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()))
                    <input type="button" id="btnSearch" class="btn btn-default btn-small btn-long" value="查詢">
                    <input type="button" class="btn btn-primary  btn-small btn-long flo-right" onclick="GotoNewEdit();" value="新增">
                    <input type="button" class="btn btn-primary  btn-small btn-long flo-right" onclick="GotoSchedule();" value="排程表">
                </div>
                <table class="list-tb">
                    <tr>
                        <th width="80" id="eventIdTh" class="alg-center sort-initial" style="display: none"><a href="#" id="eventId">ID</a></th>
                        <th width="80" id="eventBeginDateTh" class="alg-center sort-initial"><a href="#" id="eventBeginDate" onclick="softEventData($(this))">啓用日期</a></th>
                        <th width="80" id="eventEndDateTh" class="alg-center sort-initial"><a href="#" id="eventEndDate" onclick="softEventData($(this))">結束日期</a></th>
                        <th id="eventSubjectTh" class="alg-center sort-initial"><a href="#" id="eventSubject" onclick="softEventData($(this))">訊息列表</a></th>
                        <th width="80" id="isSubEventTh" class="alg-center sort-initial"><a href="#" id="isSubEvent" onclick="softEventData($(this))">訊息種類</a></th>
                        <th width="50" id="evnetStateTh" class="alg-center sort-initial"><a href="#" id="evnetState" onclick="softEventData($(this))">狀態</a></th>
                        <th width="100" id="isExpiredTh" class="alg-center sort-initial"><a href="#" id="isExpired" onclick="softEventData($(this))">是否已過期</a></th>
                        <th width="80" id="lastUpdateTimeCol" class="alg-center" colspan="2">功能操作</th>
                    </tr>
                    <tbody id="beaconEventList"></tbody>
                </table>

                @Html.Partial("_Pager")
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        BindBeaconEventInfo($("#ddlGroupCode").val(), $("#orderByCol").val(), $("#orderByDesc").val() === "true", 1);
    });
    </script>