﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.WebLib.Controllers;
@using LunchKingSite.Web;

@{
    Layout = Request.RawUrl.ToLower().IndexOf("skm") > 0 ? "~/Views/shared/SKMDealLayout.cshtml" : "~/Views/shared/BeaconLayout.cshtml";
    bool manageBeaconAdd = ViewBag.GroupManageBeaconAdd;
    bool manageGroupAdd = ViewBag.GroupManageGroupAdd;
    bool manageChange = ViewBag.GroupManageChange;
    bool manageMaps = ViewBag.GroupManageMaps;
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.8/jquery.timepicker.min.css" />
<script type="text/javascript" src="//malsup.github.io/jquery.blockUI.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/stupidtable.js")'></script>
<script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
<script type="text/javascript">
    $(function () {

        $('.list-tb').stupidtable(); //排序

        //功能權限設定
        if ('@manageChange' != 'True') {
            location.href = '/Beacon/GroupManage/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())';
        }

        var _title = "";

        if ('@manageBeaconAdd' == 'True') {
            _title += '<a href="#" onclick="gotoGroupManageBeaconAdd();">新增/編輯Beacon</a>';
        }

        if ('@manageGroupAdd' == 'True') {
            if (_title.length > 0) {
                _title += ' | ';
            }
            _title += '<a onclick="gotoGroupManageGroupAdd();" href="#">新增/編輯群組</a>';
        }

        if (_title.length > 0) {
            _title += ' | ';
        }
        _title += '<font color="#d00000">Beacon群組管理</font>';

        if ('@manageMaps' == 'True') {
            if (_title.length > 0) {
                _title += ' | ';
            }
            _title += '<a onclick="gotoGroupManageMaps();" href="#">地圖管理</a>';
        }

        $("#groupManageFunction").append(_title);

        QueryData(false); //初始化顯示無群組的Beacon
    });

    function gotoGroupManageBeaconAdd() {
        location.href = '/Beacon/GroupManage/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' +
            '?Name=BeaconAdd';
    }

    function gotoGroupManageGroupAdd() {
        location.href = '/Beacon/GroupManage/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' +
            '?Name=GroupAdd';
    }

    function gotoGroupManageMaps() {
        location.href = '/Beacon/GroupManage/' +
            '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' +
            '?Name=Maps';
    }

    function QueryData(isSearch) {

        var beaconChangeInfo = {};
        beaconChangeInfo.functionName = '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())';
        beaconChangeInfo.beginMinor = $('#beginMinor').val();
        beaconChangeInfo.endMinor = $('#endMinor').val();
        beaconChangeInfo.deviceName = $('#deviceNameLike').val();
        beaconChangeInfo.group = $("input:radio[name='groupRadio']:checked").val();
        if (isSearch) {
            beaconChangeInfo.ddlGroupCode = $("#ddlGroupCode").val();
            beaconChangeInfo.ddlAuxiliaryCode = $("#ddlAuxiliaryCode").val();
        } else {
            beaconChangeInfo.ddlGroupCode = "";
            beaconChangeInfo.ddlAuxiliaryCode = "";
        }

        var beaconChangeInfoJsonFormat = JSON.stringify(beaconChangeInfo);
        $.blockUI({ message: "查詢中，請稍候..." });
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetBeaconChangeListInfo")',
            data: beaconChangeInfoJsonFormat,
            //async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (datas) {
                if ($.isEmptyObject(datas)) {
                    alert("無Beacon對應資料");
                }

                var _html = "";
                $("#beaconDeviceList").empty();

                $.each(datas.data, function (key, obj) {
                    var deviceId = obj.DeviceId;
                    var deviceName = obj.DeviceName;
                    var major = obj.Major;
                    var minor = obj.Minor;
                    var groupRemark = obj.GroupRemark;
                    var groupCode = obj.GroupCode;
                    var auxiliaryCode = obj.AuxiliaryCode;

                    _html += "<tr id='rowDate" + deviceId + "'>";
                    _html += "<td id='deviceId" + deviceId + "' style='display:none'>" + deviceId + "</td>";
                    _html += "<td id='checkList" + deviceId + "'>" + "<input name='clickBox' id='clickBox" + deviceId + "' value='" + deviceId + "' style='zoom:1.5' type='checkbox'>" + "</td>";
                    _html += "<td id='numberId" + deviceId + "'>" + parseInt(key + 1) + "</td>";
                    _html += "<td id='deviceName" + deviceId + "'>" + deviceName + "</td>";
                    _html += "<td id='major" + deviceId + "'>" + major + "</td>";
                    _html += "<td id='minor" + deviceId + "'>" + minor + "</td>";
                    if (groupRemark == "") {
                        _html += "<td id='groupRemark" + deviceId + "' style='color:red'>" + "無群組" + "</td>";
                    } else {
                        _html += "<td id='groupRemark" + deviceId + "'>" + groupRemark + "</td>";
                    }
                    _html += "<td id='groupCode" + deviceId + "'>" + groupCode + "</td>";
                    _html += "<td id='auxiliaryCode" + deviceId + "'>" + auxiliaryCode + "</td>";
                    _html += "</tr>";
                });
                $("#beaconChangeList").html(_html);

                $("#clickBoxAll").attr("checked", false);   //初始化全選
            },
            complete: function () {
                $.unblockUI();
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    function CheckAll() {
        var clickBox = $("input[name='clickBox']");

        $.each(clickBox, function (key, obj) {
            obj.checked = $("#clickBoxAll").prop("checked");
        });
    }

    function Change() {
        var clickBox = $("input[name='clickBox']");
        var beaconChangeInfo = {};
        var deviceListJsonFormat = [];

        $.each(clickBox, function (key, obj) {

            if (obj.checked) {
                $("#groupRemark" + obj.value).text($('#ddlGroupCode :selected').text());
                $("#groupRemark" + obj.value).attr('style', 'color:gray');
                $("#groupCode" + obj.value).text($("#ddlGroupCode").val());
                $("#auxiliaryCode" + obj.value).text($("#ddlAuxiliaryCode").val());

                var deviceList = {};
                deviceList.deviceId = $("#deviceId" + obj.value).text();
                deviceList.groupCode = $("#groupCode" + obj.value).text();
                deviceList.auxiliaryCode = $("#auxiliaryCode" + obj.value).text();
                deviceListJsonFormat.push(deviceList);
            }
        });

        beaconChangeInfo.functionName = '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())';
        beaconChangeInfo.deviceList = JSON.stringify(deviceListJsonFormat);

        var beaconChangeInfoJsonFormat = JSON.stringify(beaconChangeInfo);

        $.ajax({
            type: "POST",
            url: '@Url.Action("BeaconDeivceChangeGroup")',
            data: beaconChangeInfoJsonFormat,
            //async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (datas) {
                alert(datas.Message);
            },
            complete: function () {

            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    function orderByData(icon) {
        $("#numberId").attr('class', 'alg-center sort-initial type-int');
        $("#deviceName").attr('class', 'alg-center sort-initial type-string');
        $("#major").attr('class', 'alg-center sort-initial type-int');
        $("#minor").attr('class', 'alg-center sort-initial type-int');
        $("#groupRemark").attr('class', 'alg-center sort-initial type-string');
        $("#groupCode").attr('class', 'alg-center sort-initial type-string');
        $("#auxiliaryCode").attr('class', 'alg-center sort-initial type-string');

        if ($("#orderByDesc").val() === "false") {
            $("#orderByDesc").val(true);
        } else {
            $("#orderByDesc").val(false);
        }

        if ($("#orderByDesc").val() === "false") {
            $('#' + icon.id).addClass('sort-up');
        } else {
            $('#' + icon.id).addClass('sort-down');
        }
    }

</script>

<input type="hidden" id="orderByDesc" value="true" />

<section class="bg-white">
    <div class="pdg-40">
        <div class="zone">
            <div class="">
                <div class="dis-inline" id="searchBeaconDiv">
                    @*@Html.RenderDropdownlist(System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()), false)*@
                    搜尋條件：<span id="groupManageFunction" style="float: right"></span><br>
                    <input type="radio" id="allgroupRadio" name="groupRadio" value="all">
                    <label style="font-size: small">全部</label>
                    <input type="radio" id="isGroupRadio" name="groupRadio" value="isGroup">
                    <label style="font-size:small">有群組</label>
                    <input type="radio" id="isNotGroupRadio" name="groupRadio" value="isNotGroup" checked="checked">
                    <label style="font-size:small">無群組</label><p>
                        <input type="text" id="deviceNameLike" placeholder="裝置名稱" style="width:160px">
                    <p>
                        <input type="text" id="beginMinor" placeholder="Minor(始)" style="width:80px"> 至
                        <input type="text" id="endMinor" placeholder="Minor(迄)" style="width:80px">
                        <input type="button" id="btnSearch" class="btn btn-default btn-small btn-long" onclick="QueryData()" value="查詢">
                </div>
                <div class="fr-item" id="chnageBeaconDiv">
                    <label class="">變更Beacon至此群組：</label><br>
                    @Html.RenderDropdownlist(System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()), false)
                    <input type="button" id="btnChange" class="btn btn-primary btn-small btn-long" onclick="Change()" value="變更">
                </div>
                <!-- // 表格// -->
                <table class="list-tb">
                    <thead>
                        <tr>
                            <th width="0" class="alg-center sort-initial" id="deviceId" style="cursor: pointer; display: none">Id</th>
                            <td width="20" class="alg-center" id="checkList" style="background: white;border-bottom: 2px solid #e5e5e5;"><input name="clickBoxAll" id="clickBoxAll" value="0" style="zoom:1.5" onclick="CheckAll()" type="checkbox"></td>
                            <th width="80" class="alg-center sort-initial type-int" id="numberId" style="cursor: pointer" onclick="orderByData(this);">編號</th>
                            <th width="210" class="alg-center sort-initial" id="deviceName" style="cursor: pointer" onclick="orderByData(this);">裝置名稱</th>
                            <th width="80" class="alg-center sort-initial" id="major" style="cursor: pointer" onclick="orderByData(this);">Major</th>
                            <th width="80" class="alg-center sort-initial" id="minor" style="cursor: pointer" onclick="orderByData(this);">Minor</th>
                            <th width="210" class="alg-center sort-initial" id="groupRemark" style="cursor: pointer" onclick="orderByData(this);">群組名稱</th>
                            <th width="80" class="alg-center sort-initial" id="groupCode" style="cursor: pointer" onclick="orderByData(this);">群組代號</th>
                            <th width="80" class="alg-center sort-initial" id="auxiliaryCode" style="cursor: pointer;" onclick="orderByData(this);">輔組代號</th>
                        </tr>
                    <thead>
                    <tbody id="beaconChangeList"></tbody>
                </table>
            </div>
        </div>
    </div>
</section>

