﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.WebLib.Controllers;
@using LunchKingSite.Web;

@{
    Layout = Request.RawUrl.ToLower().IndexOf("skm") > 0 ? "~/Views/shared/SKMDealLayout.cshtml" : "~/Views/shared/BeaconLayout.cshtml";
    bool manageBeaconAdd = ViewBag.GroupManageBeaconAdd;
    bool manageGroupAdd = ViewBag.GroupManageGroupAdd;
    bool manageChange = ViewBag.GroupManageChange;
    bool manageMaps = ViewBag.GroupManageMaps;
    var storeCode = ViewBag.Store;
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.8/jquery.timepicker.min.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.maxlength-min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.numeric.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/stupidtable.js")'></script>    @*排序*@
<script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
<script type="text/javascript">
    $(function () {
        $('#ddlAuxiliaryCode').hide(); //群組搜尋不細分到樓層

        $('.list-tb').stupidtable(); //排序

        //功能權限設定
        if ('@manageBeaconAdd' != 'True') {
            location.href = '/Beacon/GroupManage/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())';
        }

        var _title = "";

        if ('@manageGroupAdd' == 'True') {
            _title += '<a href="#" onclick="gotoGroupManageBeaconAdd();">新增/編輯Beacon</a>';
        }

        if (_title.length > 0) {
            _title += ' | ';
        }
        _title += '<font color="#d00000">新增/編輯群組</font>';

        if ('@manageChange' == 'True') {
            if (_title.length > 0) {
                _title += ' | ';
            }
            _title += '<a onclick="gotoGroupManageChange();" href="#">Beacon群組管理</a>';
        }

        if ('@manageMaps' == 'True') {
            if (_title.length > 0) {
                _title += ' | ';
            }
            _title += '<a onclick="gotoGroupManageMaps();" href="#">地圖管理</a>';
        }

        $("#groupManageFunction").append(_title);

        QueryData(false); //初始化顯示Group

        //編輯群組
        $("#editBtnDiv").dialog({
            autoOpen: false,
            resizable: false,
            width: 420,
            hight: 120,
            show: {
                effect: "blind",
                duration: 100
            },
            hide: {
                //effect: "explode",
                duration: 100
            },
            buttons: {
                "確定": function () {
                    $(this).dialog("close");
                    var groupId = $('#editGroupId').val();
                    var groupRemark = $('#editgroupRemark').val();
                    var groupCode = $('#editGroupCode').val();
                    var auxiliaryCode = $('#editAuxiliaryCode').val();

                    var groupEditInfo = {};
                    groupEditInfo.triggerAppId = $('#ddlStoreCode').val();
                    groupEditInfo.groupId = groupId;
                    groupEditInfo.groupRemark = groupRemark;
                    groupEditInfo.groupCode = groupCode;
                    groupEditInfo.auxiliaryCode = auxiliaryCode;

                    var groupEditInfoJsonFormat = JSON.stringify(groupEditInfo);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("EditBeaconGroupListInfo")',
                        data: groupEditInfoJsonFormat,
                        //async: false,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data == '-1') {
                                alert("已有重複的群組代號存在!");
                            } else if (data == '-2') {
                                alert("同群組代號的群組名稱不可相異!");
                            } else if (data != '0') {
                                if (groupId != 0) {
                                    $("#groupRemark" + groupId).text(groupRemark);
                                    $("#groupCode" + groupId).text(groupCode);
                                    $("#auxiliaryCode" + groupId).text(auxiliaryCode);
                                    alert("編輯成功!");
                                } else {
                                    var _html = "";
                                    _html += "<tr id='rowDate" + data + "'>";
                                    _html += "<td id='groupId" + data + "' style='display:none'>" + data + "</td>";
                                    _html += "<td id='groupRemark" + data + "'>" + groupRemark + "</td>";
                                    _html += "<td id='groupCode" + data + "'>" + groupCode + "</td>";
                                    _html += "<td id='auxiliaryCode" + data + "'>" + auxiliaryCode + "</td>";
                                    _html += "<td>" + "<a id='editDate" + data + "' style='cursor:pointer;' onclick='editDate(" + data + ")' >編輯</a>" + "</td>";
                                    _html += "<td>" + "<a id='deleteDate" + data + "' style='cursor:pointer;' onclick='deleteDate(" + data + ")' >刪除</a>" + "</td>";
                                    $("#beaconGroupList").append(_html);
                                    alert("新增成功!");
                                }
                            } else {
                                alert("更新失敗!");
                            }
                        },
                        complete: function () {
                        },
                        error: function (xhr) {
                            console.log(xhr.responseText);
                        }
                    });
                },
                "取消": function () {
                    $(this).dialog("close");
                }

            }
        });
    });

    function gotoGroupManageBeaconAdd() {
        location.href = '/Beacon/GroupManage/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' +
            '?Name=BeaconAdd';
    }

    function gotoGroupManageChange() {
        location.href = '/Beacon/GroupManage/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' +
            '?Name=Change';
    }

    function gotoGroupManageMaps() {
        location.href = '/Beacon/GroupManage/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' +
            '?Name=Maps';
    }

    function editDate(x) {
        if (x == null) {
            //初始化
            $('#editGroupId').val("0");
            $('#editgroupRemark').val("");
            $('#editGroupCode').val("");
            $('#editAuxiliaryCode').val("");
        } else {
            //帶入該筆Id對應的資料
            $('#editGroupId').val(x);
            $('#editgroupRemark').val($("#groupRemark" + x).text());
            $('#editGroupCode').val($("#groupCode" + x).text());
            $('#editAuxiliaryCode').val($("#auxiliaryCode" + x).text());
        }

        if (document.getElementById("FileUpload").files.length == 0) {
            //一筆新增
            $("#editBtnDiv").dialog("open");
        } else {
            //多筆新增(匯入檔案)
            var formData = new FormData();
            formData.append("triggerAppId", $('#ddlStoreCode').val());
            var totalFiles = document.getElementById("FileUpload").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("FileUpload").files[i];

                formData.append("FileUpload", file);
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditBeaconGroupListInfoByFile")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    alert(data.Message);
                    if (data.Success) {
                        $.each(data.Info, function (key, obj) {
                            var groupId = obj.GroupId;
                            var groupRemark = obj.GroupRemark;
                            var groupCode = obj.GroupCode;
                            var auxiliaryCode = obj.AuxiliaryCode;
                            var _html = "";
                            _html += "<tr id='rowDate" + groupId + "'>";
                            _html += "<td id='groupId" + groupId + "' style='display:none'>" + groupId + "</td>";
                            _html += "<td id='groupRemark" + groupId + "'>" + groupRemark + "</td>";
                            _html += "<td id='groupCode" + groupId + "'>" + groupCode + "</td>";
                            _html += "<td id='auxiliaryCode" + groupId + "'>" + auxiliaryCode + "</td>";
                            _html += "<td>" + "<a id='editDate" + groupId + "' style='cursor:pointer;' onclick='editDate(" + groupId + ")' >編輯</a>" + "</td>";
                            _html += "<td>" + "<a id='deleteDate" + groupId + "' style='cursor:pointer;' onclick='deleteDate(" + groupId + ")' >刪除</a>" + "</td>";
                            $("#beaconGroupList").append(_html);
                        });
                    }
                }
            });
            //請空檔案
            var fileUpload = document.getElementById("FileUpload");
            fileUpload.value = '';
        }
    }

    function deleteDate(x) {
        if (!confirm("確定是否要刪除『" +
            $("#groupRemark" + x).text() +
            "(" +
            $("#groupCode" + x).text() +
            " " +
            $("#auxiliaryCode" + x).text() +
            ")』嗎?")) {
            return;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteBeaconGroupListInfo")',
            data: "{groupId:" + x + "}",
            //async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data) {
                    $('#deleteDate' + x).text("已刪除");
                    $('#rowDate' + x).remove();
                } else {
                    alert("刪除失敗!");
                }
            },
            complete: function () {
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    function orderByData(icon) {
        $("#groupRemark").attr('class', 'alg-center sort-initial type-string');
        $("#groupCode").attr('class', 'alg-center sort-initial type-int');
        $("#auxiliaryCode").attr('class', 'alg-center sort-initial type-string');

        if ($("#orderByDesc").val() === "false") {
            $("#orderByDesc").val(true);
        } else {
            $("#orderByDesc").val(false);
        }

        if ($("#orderByDesc").val() === "false") {
            $('#' + icon.id).addClass('sort-up');
        } else {
            $('#' + icon.id).addClass('sort-down');
        }
    }

    function QueryData(isSearch) {

        var groupManageInfo = {};
        groupManageInfo.triggerAppId = $('#ddlStoreCode').val();
        groupManageInfo.page = $('#selectedPage').val();
        if (isSearch) {
            groupManageInfo.groupName = $('#groupNameLike').val();
            groupManageInfo.groupCode = $('#groupCodeLike').val();
            groupManageInfo.auxiliaryCode = $('#auxiliaryCodeLike').val();
        } else {
            groupManageInfo.groupName = "";
            groupManageInfo.groupCode = "";
            groupManageInfo.auxiliaryCode = "";
        }

        var groupManageInfoJsonFormat = JSON.stringify(groupManageInfo);

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetBeaconGroupListInfo")',
            data: groupManageInfoJsonFormat,
            //async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (datas) {
                try {
                    if ($.isEmptyObject(datas)) {
                        alert("無Beacon對應資料");
                    }

                    var _html = "";
                    $("#beaconGroupList").empty();

                    $.each(datas.data, function (key, obj) {
                        var groupId = obj.GroupId;
                        var groupRemark = obj.GroupRemark;
                        var groupCode = obj.GroupCode;
                        var auxiliaryCode = obj.AuxiliaryCode;

                        _html += "<tr id='rowDate" + groupId + "'>";
                        _html += "<td id='groupId" + groupId + "' style='display:none'>" + groupId + "</td>";
                        _html += "<td id='groupRemark" + groupId + "'>" + groupRemark + "</td>";
                        _html += "<td id='groupCode" + groupId + "'>" + groupCode + "</td>";
                        _html += "<td id='auxiliaryCode" + groupId + "'>" + auxiliaryCode + "</td>";
                        _html += "<td>" + "<a id='editDate" + groupId + "' style='cursor:pointer;' onclick='editDate(" + groupId + ")' >編輯</a>" + "</td>";
                        _html += "<td>" + "<a id='deleteDate" + groupId + "' style='cursor:pointer;' onclick='deleteDate(" + groupId + ")' >刪除</a>" + "</td>";
                        _html += "</tr>";
                    });
                    $("#beaconGroupList").html(_html);
                    changePageStyle(datas.count, $('#selectedPage').val());
                } catch (e) {
                    console.log(e);
                }
            },
            complete: function () {

            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

</script>

@*Other jump div*@
<div id="editBtnDiv" title="編輯群組資料" style="display: none">
    <input type="hidden" id="editGroupId" value="0" />
    群組名稱:
    <input type="text" id="editgroupRemark" name="editgroupRemark" maxlength="12" />
    <p>
        群組代號:
        <input type="text" id="editGroupCode" name="editGroupCode" maxlength="6" />
    <p>
        輔組代號:
        <input type="text" id="editAuxiliaryCode" name="editAuxiliaryCode" maxlength="6" />
    <p>
</div>

<input type="hidden" id="orderByDesc" value="true" />

<section class="bg-white">
    <div class="pdg-40">
        <div class="zone">
            <div class="">
                <div class="dis-inline">
                    搜尋條件：<span id="groupManageFunction" style="float: right"></span><br>
                    <input type="text" id="groupNameLike" placeholder="群組名稱" style="width:160px">
                    <p>
                        <input type="text" id="groupCodeLike" placeholder="群組代號" style="width:80px">
                        <input type="text" id="auxiliaryCodeLike" placeholder="輔組代號" style="width:80px">
                        <input type="button" id="btnSearch" class="btn btn-default btn-small btn-long" onclick="QueryData(true)" value="查詢">
                </div>
                <div class="fr-item">
                    <label class="">匯入新群組：</label>
                    <a href="../../Themes/Beacon/FOR17LIFE_TestGroup.xls" download="FOR17LIFE_TestGroup.xls" style="color: #1a0dab">範例檔案下載</a><br>
                    <input type="file" id="FileUpload" />
                    <input type="button" id="addDateButton" class="btn btn-primary btn-small btn-long" value="新增" onclick="editDate()">

                    <div style="float:right">
                        <label class="">請選擇店家場域：</label>
                        <select id="ddlStoreCode" name="storeCode" style="width: 90px" class="__web-inspector-hide-shortcut__" onchange="QueryData()">
                            @foreach (var sc in storeCode)
                            {
                                <option value="@sc.Key">@sc.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <!-- // 表格// -->
                <table class="list-tb">
                    <thead>
                        <tr>
                            <th width="20" class="alg-center sort-initial" id="groupId" style="cursor: pointer; display: none">Id</th>
                            <th width="340" class="alg-center sort-initial type-string" id="groupRemark" style="cursor: pointer" onclick="orderByData(this);">群組名稱</th>
                            <th width="180" class="alg-center sort-initial type-int" id="groupCode" style="cursor: pointer" onclick="orderByData(this);">群組代號</th>
                            <th width="180" class="alg-center sort-initial type-string" id="auxiliaryCode" style="cursor: pointer" onclick="orderByData(this);">輔組代號</th>
                            <th width="40" class="alg-center" colspan="2">功能操作</th>
                        </tr>
                    </thead>
                    <tbody id="beaconGroupList"></tbody>
                </table>
                @Html.Partial("_Pager")
            </div>
        </div>
    </div>
</section>
