﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.WebLib.Controllers;
@using LunchKingSite.Web;

@{
    Layout = Request.RawUrl.ToLower().IndexOf("skm") > 0 ? "~/Views/shared/SKMDealLayout.cshtml" : "~/Views/shared/BeaconLayout.cshtml";
    bool manageBeaconAdd = ViewBag.GroupManageBeaconAdd;
    bool manageGroupAdd = ViewBag.GroupManageGroupAdd;
    bool manageChange = ViewBag.GroupManageChange;
    bool manageMaps = ViewBag.GroupManageMaps;
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.8/jquery.timepicker.min.css"/>
<script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        //功能權限設定
        if ('@manageMaps' != 'True') {
            location.href = '/Beacon/GroupManage/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())';
        }

        var _title = "";

        if ('@manageBeaconAdd' == 'True') {
            _title += '<a href="#" onclick="gotoGroupManageBeaconAdd();">新增/編輯Beacon</a>';
        }

        if ('@manageGroupAdd' == 'True') {
            if (_title.length > 0) {
                _title += ' | ';
            }
            _title += '<a onclick="gotoGroupManageGroupAdd();" href="#">新增/編輯群組</a>';
        }

        if ('@manageChange' == 'True') {
            if (_title.length > 0) {
                _title += ' | ';
            }
            _title += '<a onclick="gotoGroupManageChange();" href="#">Beacon群組管理</a>';
        }

        //if (_title.length > 0) {
        //    _title += ' | ';
        //}
        //_title += '<font color="#d00000">地圖管理</font>';

        $("#groupManageFunction").append(_title);

    });

    function gotoGroupManageBeaconAdd() {
        location.href = '/Beacon/GroupManage/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' + '?Name=BeaconAdd';
    }
    function gotoGroupManageGroupAdd() {
        location.href = '/Beacon/GroupManage/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' + '?Name=GroupAdd';
    }
    function gotoGroupManageChange() {
        location.href = '/Beacon/GroupManage/' + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' + '?Name=Change';
    }


    function Search() {
        BindMap($("#seller").val());
    }

    function Cancel() {
        $.blockUI({ message: "處理中..." });
        location.reload();
    }

    function BindMap() {
        var image = "";
        var bulb = "";
        var editHtml = "";
        $.ajax({
            type: "POST",
            url: "@Url.Action("ShoppMapGet")",
            data: "{fuctionName:'" + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' +
                "',shopCode:'" +
                $("#ddlGroupCode").val() +
                "',floor:'" +
                $("#ddlAuxiliaryCode").val() +
                "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#beaconBulb").empty();
                if ($.isEmptyObject(data)) {
                    $("#btnSave").hide();
                    alert("無Beacon裝置對應資料");
                } else {
                    $("#btnSave").show();
                }
                bulb = "<ul>";
                editHtml = "<table style='width:100%'>";
                $.each(data,
                    function (idx, obj) {
                        bulb += "<li class='draggable' id='" +
                            obj.Major +
                            obj.Minor +
                            "' style='top:" +
                            obj.Xtop +
                            "px; left:" +
                            obj.Xleft +
                            "px;'>" +
                            obj.Minor +
                            "</li>";
                        editHtml += "<tr>";
                        editHtml += "<td style='width:20%'><span id='id' style='display:none'>" +
                            obj.DeviceId +
                            "</span><span id='major' style='display:none'>" +
                            obj.Major +
                            "</span><span id='minor'>" +
                            obj.Minor +
                            "</span></td>";
                        editHtml +=
                            "<td style='width:30%'>名稱： <input type='text' id='device_name' style='width:70px' value='" +
                            obj.DeviceName +
                            "' ></td>";
                        editHtml +=
                            "<td style='width:25%'>X座標： <input type='text' id='left' style='width:70px' class='numeric' value='" + obj.Xleft + "' ></td>";
                        editHtml +=
                            "<td style='width:25%'>Y座標： <input type='text' id='top' style='width:70px'class='numeric'  value='" + obj.Xtop + "' ></td>";
                        editHtml += "</tr>";
                    });
                editHtml += "</table>";
                bulb += "</ul>";

                var __beacon_map_w = $("#beacon-map-w");
                var locX = __beacon_map_w.position().left;
                var locY = __beacon_map_w.position().top;

                $(".numeric")
                    .live('blur',
                        function (obj) {
                            var _id = $(obj.target).parent().parent().find("#minor").html();
                            var _left = $(obj.target).parent().parent().find("#left").val();
                            var _top = $(obj.target).parent().parent().find("#top").val();
                            $.each($("#beaconBulb ul li"),
                                function (idx, o) {
                                    if ($(o).html() == _id) {
                                        $(o).css({ top: _top + 'px', left: _left + 'px', position: 'absolute' });
                                    }
                                });
                        });

                $('.draggable')
                    .live('mouseover',
                        function () {
                            $(this).addClass("on");
                            $(this)
                                .draggable({
                                    containment: "#beacon-map-w",
                                    scroll: false,
                                    drag: function (event, ui) {
                                    },
                                    stop: function (event, ui) {
                                        $(this).removeClass("on");
                                        var offset = $(this).offset();
                                        var xPos = Math.floor(offset.left);
                                        var yPos = Math.floor(offset.top);
                                        var currentPos = ui.helper.position();
                                        var _dragObj = $(this);
                                        $.each($("#locXY table tr"),
                                            function (idx, obj) {
                                                var tr = $(obj);
                                                var _major = tr.find("#major");
                                                var _minor = tr.find("#minor");
                                                if (_minor.html() == _dragObj.html()) {
                                                    var _top = tr.find("#top");
                                                    var _left = tr.find("#left");
                                                    _top.val(Math.floor(currentPos.top - locY) + 5);
                                                    _left.val(Math.floor(currentPos.left - locX) + 5);
                                                    console.log($("#imgFloor").width);
                                                }
                                            });
                                    }
                                });
                        });
                $('.draggable')
                    .live('mouseout',
                        function () {
                            $(this).removeClass("on");
                        });

                $("#locXY").html(editHtml);
                $("#beaconBulb").append(bulb);
            },
            complete: function () {
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });


        $.ajax({
            type: "POST",
            url: "@Url.Action("MapImagesGet")",
            data: "{fuctionName:'" + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' + "',shopCode:" + $("#ddlGroupCode").val() + ", floor:'" + $("#ddlAuxiliaryCode").val() + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (res) {
                if (res == "") {
                    $("#imgFloor").hide();
                } else {
                    image = '<img id="imgFloor" src="' + res + '" width="800">';
                    $("#image-map img:last-child").remove();

                    if (image != "") {
                        $("#image-map").append(image);
                    }
                }
            }, complete: function () {

            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });

    }

    function Save() {
        var data = [];
        var flag = true;
        $.each($("#locXY table tr"), function (idx, obj) {
            var tr = $(obj);
            var device_name = tr.find("#device_name");
            var id = tr.find("#id");
            var major = tr.find("#major");
            var minor = tr.find("#minor");
            var xtop = tr.find("#top");
            var xleft = tr.find("#left");

            if (!$.isNumeric(xtop.val()) || !$.isNumeric(xleft.val())) {
                alert("座標必須為數字");
                flag = false;
                return false;
            }

            var loc = {
                Id: id.html(),
                Major: major.html(),
                Minor: minor.html(),
                DeviceName: device_name.val(),
                ShopCode: $("#ddlShopCode").val(),
                Floor: $("#ddlFloor").val(),
                Xtop: xtop.val(),
                Xleft: xleft.val()
            };
            data.push(loc);
        });

        if (flag) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveBeaconDeviceMapInfo")",
                data: "{sellerGuid:'" + $("#ddlSellerCode").val() + "',shopCode:'" + $("#ddlGroupCode").val() + "','floor':'" + $("#ddlAuxiliaryCode").val() + "','data':'" + JSON.stringify(data) + "'}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data) {
                        alert("更新成功!");
                        BindMap($("#seller").val());
                    }
                }, complete: function () {
                }, error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    }
</script>

<section class="bg-white">
    <div class="pdg-40">
        <div class="zone">
            <h2>地圖管理</h2>
            <ul class="admin_note">
                <li>此為BEACON位置變動使用，請勿隨意變換與修改編號</li>
            </ul>
            <div class="">
                <div class="dis-inline">
                    @Html.RenderDropdownlist(System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()), false)
                    <input type="button" id="btnSearch" class="btn btn-default btn-small btn-long" onclick="Search()" value="查詢">
                    <span id="groupManageFunction" style="float:right"></span>
                </div>
                <!-- // 表格// -->
                <form class="fr-group beacon-map-wrap clearfix">
                    <div class="beacon-map ">
                        <span id="beaconBulb">
                        </span>
                        <div class="beacon-map-w" id="beacon-map-w" style="width:800px">
                            <span id="image-map"></span>
                            <br />
                        </div>
                    </div>
                </form>
                <!-- // 表格 //end -->
                <!--座標-->
                <div id="locXY"></div>
                <!-- // 座標 //end -->
                <div class="fr-content alg-center mrg20-hor clearfix">
                    <input type="button" id="btnSave" onclick="Save()" value="儲存" class="btn btn-primary btn-large" style="display:none" />
                </div>
                <br />
            </div>
        </div>
    </div>
</section>
    
