﻿@{
    Layout = Request.RawUrl.ToLower().IndexOf("skm") > 0 ? "~/Views/shared/SKMDealLayout.cshtml" : "~/Views/shared/BeaconLayout.cshtml";
    int triggerAppId = (int)ViewBag.TriggerAppId;
    string functionName = ViewBag.FunctionName;
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSearch").click(function () {
            BindMap($("#ddlSellerCode").val());
        });
    });


    function Cancel() {
        $.blockUI({ message: "處理中..." });
        location.reload();
    }

    function BindMap() {
        var image = "";
        var bulb = "";
        $.ajax({
            type: "POST",
            url: "@Url.Action("ShoppMapGet")",
            data: "{fuctionName:'" + '@functionName' + "', shopCode:'" + $("#ddlGroupCode").val() + "',floor:'" + $("#ddlAuxiliaryCode").val() + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#beaconBulb").empty();
                bulb = "<ul>";
                $('#imgFloor').show();
                if ($.isEmptyObject(data)) {
                    $('#imgFloor').hide();
                    alert("無Beacon裝置對應資料");
                }
                $.each(data, function (idx, obj) {
                    if (obj.ElectricPower >= 2.6) {
                        //充足電量
                        bulb += "<li style='top:" + obj.Xtop + "px; left:" + obj.Xleft + "px;background-color:#31B237'><span class='tips'>" + obj.DeviceName + "</span>" + obj.Minor + "</li>";
                    } else if (obj.ElectricPower <= 2.3) {
                        //低電量，建議更換
                        bulb += "<li class='on' style='top:" + obj.Xtop + "px; left:" + obj.Xleft + "px;background-color:#d83c3c;'><span class='tips'>" + obj.DeviceName + "</span>" + obj.Minor + "</li>";
                    } else {
                        //一般電量
                        bulb += "<li  style='top:" + obj.Xtop + "px; left:" + obj.Xleft + "px;background-color:#666;'><span class='tips'>" + obj.DeviceName + "</span>" + obj.Minor + "</li>";
                    }
                });
                bulb += "</ul>";

                $("#beaconBulb").append(bulb);
            }, complete: function () {
            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });


        $.ajax({
            type: "POST",
            url: "@Url.Action("MapImagesGet")",
            data: "{fuctionName:'" + '@System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())' + "',shopCode:" + $("#ddlGroupCode").val() + ", floor:'" + $("#ddlAuxiliaryCode").val() + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (res) {
                if (res == "") {
                    $("#imgFloor").hide();
                } else {
                    image = '<img id="imgFloor" src="' + res + '" width="800">';

                    $("#image-map img:last-child").remove();

                    if (image != "") {
                        $("#image-map").append(image);
                    }
                }
            }, complete: function () {

            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    function Save() {
        var data = [];
        var flag = true;
        $.each($("#locXY table tr"), function (idx, obj) {
            var tr = $(obj);
            var device_name = tr.find("#device_name");
            var id = tr.find("#id");
            var major = tr.find("#major");
            var minor = tr.find("#minor");
            var xtop = tr.find("#top");
            var xleft = tr.find("#left");

            if (!$.isNumeric(xtop.val()) || !$.isNumeric(xleft.val())) {
                alert("座標必須為數字");
                flag = false;
                return false;
            }

            var loc = {
                Id: id.html(),
                Major: major.html(),
                Minor: minor.html(),
                DeviceName: device_name.val(),
                ShopCode: $("#ddlShopCode").val(),
                Floor: $("#ddlFloor").val(),
                Xtop: xtop.val(),
                Xleft: xleft.val()
            };
            data.push(loc);
        });
        if (flag) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SkmBeaconLocSave")",
                data: "{sellerGuid:'" + $("#seller").val() + "',shopCode:'" + $("#ddlShopCode").val() + "','floor':'" + $("#ddlFloor").val() + "','data':'" + JSON.stringify(data) + "'}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data) {
                        alert("更新成功!");
                        BindMap($("#seller").val());
                    }
                }, complete: function () {
                }, error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    }

    function gotoSkmAppBeaconPowerList() {
        location.href = '/Beacon/PowerList/' + '@functionName' + '?SellerGuid=' + $('#ddlSellerCode').val() + '&shopCode=' + $('#ddlGroupCode').val() + '&ddlFloor=' + $('#ddlAuxiliaryCode').val();
    }

</script>
<section class="bg-white">
    <div class="pdg-40">
        <div class="zone">
            <div class="">
                <div class="dis-inline">
                  @Html.RenderDropdownlist(triggerAppId, false)
                    <input type="button" id="btnSearch" class="btn btn-default btn-small btn-long" value="查詢">
                    <span style="float:right"><font color="#d00000">圖片顯示</font> | <a href="#" onclick="gotoSkmAppBeaconPowerList();">列表顯示</a></span>
                </div>
                <!-- // 表格// -->
                <form class="fr-group beacon-map-wrap clearfix">
                    <div id="divBeacon" class="fr-content">
                        <span style="width:10px;height:10px;background:#31B237;border:1px solid #31B237"></span>充足電量<p></p>
                        <span style="width:10px;height:10px;background:#d83c3c;border:1px solid #d83c3c"></span>低電量，建議更換<p></p>
                        <span style="width:10px;height:10px;background:#666;border:1px solid #666"></span>一般電量<p></p>
                    </div>
                    <div class="beacon-map ">
                        <span id="beaconBulb">
                        </span>
                        <div class="beacon-map-w" id="beacon-map-w" style="width:800px">
                            <span id="image-map"></span>
                            <br />
                        </div>
                    </div>
                </form>
                <!-- // 表格 //end -->
                <!--座標-->
                <div id="locXY"></div>
                <!-- // 座標 //end -->
            </div>
        </div>
    </div>
</section>
