﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.DataOrm;
@{
    ViewBag.Title = "17Life後台";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
    List<ViewDiscountLimit> LimitList = ViewBag.DiscountLimitList;
}
@section header {
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/Tools/js/css/jquery-ui-1.10.2.css" />
    <script type="text/javascript" src="~/Tools/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-tablepage-1.0.js?v=0.0.1"></script>
    <script type="text/javascript">
        $(document).ready(function () {
////////////////////////////////////////////////////////////////////////////////////////
            var multipleSupport = typeof $('<input/>')[0].multiple !== 'undefined',
                isIE = /msie/i.test(navigator.userAgent);
            $.fn.customFile = function () {
                    return this.each(function () {
                        var $file = $(this).addClass('custom-file-upload-hidden'), // the original file input
                          $wrap = $('<div class="file-upload-wrapper">'),
                          $input = $('<input type="text" class="file-upload-input" readonly />'),
                          // Button that will be used in non-IE browsers
                          $button = $('<button type="button" class="file-upload-button">選擇檔案</button>'),
                          // Hack for IE
                          $label = $('<label class="file-upload-button" for="' + $file[0].id + '">選擇檔案</label>');
                        // Hide by shifting to the left so we can still trigger events
                        $file.css({
                            position: 'absolute',
                            left: '-9999px'
                        });
                        $wrap.insertAfter($file)
                          .append($file, $input, (isIE ? $label : $button));
                        // Prevent focus
                        $file.attr('tabIndex', -1);
                        $button.attr('tabIndex', -1);
                        $button.click(function () {
                            $file.focus().click(); // Open dialog
                        });
                        $file.change(function () {
                            var files = [], fileArr, filename;
                            filename = $file.val().split('\\').pop();
                            $input.val(filename) // Set the value
                              .attr('title', filename) // Show filename in title tootlip
                              .focus(); // Regain focus
                        });
                        $input.on({
                            blur: function () {
                                $file.trigger('blur');
                            },
                        });
                    });
            };

            $('input[type=file]').customFile();
////////////////////////////////////////////////////////////////////////////////////////
            var msg = '@ViewBag.msg';
            if (msg.toString().length > 1) {
                alert(msg);
            }

            var TrueCount = parseInt(@(ViewBag.TrueCount??0));
            var FalseCount = parseInt(@(ViewBag.FalseCount??0));
            if ( TrueCount > 0 || FalseCount > 0)
            {
                var ImportMsg = "匯入完成\n\n新增成功:" + @ViewBag.TrueCount + "筆\n新增失敗:" + @ViewBag.FalseCount + "筆";
                alert(ImportMsg);
            }

            $("#sBlackDealType option[value=" + @(ViewBag.BlackDealType ?? 0) +"]").attr('selected', true);
            $("#sChannelType option[value=" + @(ViewBag.ChannelType ?? 0) +"]").attr('selected', true);
            $("#sSearchType option[value=" + @(ViewBag.SearchType ?? 0) +"]").attr('selected', true);

            $('input[type="checkbox"]').change(function () {
                if ($("input:checkbox:checked").length != 0) {
                    var length_checked = $("input:checkbox:checked").length;
                    var length_all = $("input:checkbox").length;
                    if ( length_checked != length_all ){
                        $("input:checkbox").first().prop('checked', false);
                    }
                    if(length_checked == (length_all-1)){
                        $("input:checkbox").first().prop('checked', true);
                    }
                    document.getElementById("deleteBID").disabled = false;
                }
                else {
                    document.getElementById("deleteBID").disabled = true;
                }

            });

            $('#delBlackList').submit(function () {
                var value = '';
                $('#blackListTable > tbody input[type="checkbox"]:checked').each(function () {
                    value = value + $(this).parent().parent().find('td').first().html() + ',';
                });
                $('#deleteBidList').val(value);
            });

            $("#blackListTable").tablepage($("#table_page"), 20);
        });

        function checkAll(e) {
            if (e.checked) {
                $("#blackListTable input[type='checkbox']").prop('checked', true);
            } else {
                $("#blackListTable input[type='checkbox']").prop('checked', false);
            }
        }

        function exportExcel() {
            var html = '<meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8" /><title>禁用檔次</title>';
            var table = document.getElementById('blackListTable');
            html += '';
            html = html + '<table>';
            for (j = 0 ; j < table.rows.length ; j++) {
                html = html + '<tr>';
                for (k = 0 ; k < 4 ; k++) {
                    html = html + table.rows[j].cells[k].outerHTML;
                }
                html = html + '</tr>';
            }
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent(html));
        }
    </script>
}

<h2>
    折價券黑名單
</h2>

<div class="campaign-black-list">
    <div class="black-title">新增禁用折價券檔次</div>
    <div class="black-content">
        <form action="@Url.Action("BlackImportByBID")" method="Post">
            <div class="black-set">
                請輸入檔次BID<br />
                <input id="detailBID" name="bid" type="text" class="form-s text"/>　<input type="submit" id="getBID" class="btn btn-default btn-s btn-table" value="新增" /><br />
            </div>
        </form>
        <form action="@Url.Action("BlackImportByFile")" method="Post"  enctype="multipart/form-data" >
            <div class="black-set">
                或　匯入txt檔案(<a href="#" onclick="javascript:alert('請將檔次BID碼 編入txt檔案 多檔次請用段行編寫');">編寫說明</a>)<br />
                <input type="file" id="file" name="upfile" value="選擇檔案" />　<input type="submit" id="getImport" class="btn btn-default btn-s btn-table" value="匯入" /><br />
            </div>
        </form>
    </div>
</div>

<div class="campaign-black-list">
    <div class="black-title">查詢折價券禁用檔次</div>
    <div class="black-content">     
        <form action="@Url.Action("CampaignBlackList")" method="Post" enctype="multipart/form-data">
            <div class="black-set">
                銷售狀態 : 
                <select id ="sBlackDealType" name="BlackDealType" class="form-s">
                    <option value="@((int)CampaignBlackDealType.All)">全部</option>
                    <option value="@((int)CampaignBlackDealType.Sold)">搶購中</option>
                    <option value="@((int)CampaignBlackDealType.Expire)">已結檔</option>
                </select>
                上檔頻道 :
                <select id ="sChannelType" name="ChannelType" class="form-s">
                    <option value="0">全頻道</option>
                    <option value="@CategoryManager.pponChannelId.Food">美食</option>
                    <option value="@CategoryManager.pponChannelId.Delivery">宅配</option>
                    <option value="@CategoryManager.pponChannelId.Travel">旅遊</option>
                    <option value="@CategoryManager.pponChannelId.Beauty">玩美休閒</option>
                    <option value="@CategoryManager.pponChannelId.PiinLife">品生活</option>
                    <option value="@CategoryManager.pponChannelId.FamilyMart">全家</option>
                </select>
            </div>
            <div class="black-set">
                檔次條件 :
                <select id ="sSearchType" name="SearchType" class="form-s">
                    <option value="0">BID</option>
                    <option value="1">檔次名稱</option>
                </select>
                <input name="SearchData" type="text" class="form-s text" value="@ViewBag.SearchData" />　
                <input type="submit" class="btn btn-default btn-s btn-table" value="搜尋" /><br />
            </div>
        </form>
    </div>
</div>

@if (LimitList.Count() != 0)
{
    <div class="campaign-black-list-table">

        <div class="black-content">
            <div class="topDiv">
                一頁顯示20筆，共 @(LimitList.Count()) 筆 <input type="button" id="getExport" class="btn btn-default btn-s btn-table" style="float: right" value="匯出Excel" onclick="exportExcel()"/>
            </div>
            <div class="black-set">
                <table class="table-channel" id="blackListTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>銷售狀態</th>
                        <th>上擋頻道</th>
                        <th>BID</th>
                        <th>檔次名稱</th>
                        <th>毛利率</th>
                        <th>移除<br/><input type="checkbox" onchange="checkAll(this)"/></th>
                    </tr>
                    </thead>
                    <tbody>

                    @for (int i = 0; i < LimitList.Count(); i++)
                    {
                        <tr>
                            <td>@LimitList[i].Id</td>
                            <td>@((LimitList[i].BusinessHourOrderTimeE > DateTime.Now) ? "搶購中" : "已結檔")</td>
                            <td>@(string.IsNullOrEmpty(LimitList[i].ChannelStr) ? "其他" : LimitList[i].ChannelStr)</td>
                            <td>@LimitList[i].Bid</td>
                            <td>@LimitList[i].CouponUsage</td>
                            <td>@(((LimitList[i].GrossMargin * 100) > 0) ? (LimitList[i].GrossMargin * 100) + "%" : "N/A")</td>
                            <td><input type="checkbox"/></td>
                        </tr>
                    }

                    </tbody>
                </table>
                <div class="table_page_nav">
                    <span id='table_page'></span>
                </div>
            </div>
            <form action="@Url.Action("DelBlacklist")" method="Post" id="delBlackList">
                <div class="rightDiv">
                    <input id="deleteBidList" name="list" type="hidden"/>
                    <input type="submit" id="deleteBID" class="btn btn-default btn-s btn-table" value="確認移除" onclick="" disabled/>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>

}
else
{
    if (ViewBag.Search)
    {
        <div class="campaign-black-list">
            <div class="black-set">
                <table class="table-channel">
                    <tr>
                        <td colspan="7">沒有符合的資料。</td>
                    </tr>
                </table>
            </div>
        </div>
    }
}