﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@{
    ViewBag.Title = "17Life後台";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/Tools/js/css/jquery-ui-1.10.2.css" />
    <script type="text/javascript" src="~/Tools/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/campaignAdd.js"></script>
    <script type="text/javascript">
        var msg = '@ViewBag.msg';
        if (msg !== '') {
            alert(msg);
        }

        $(document).ready(function () {
            $.validator.addMethod("MinimumValition", function (value, element) {
                    var orderprice = parseInt($('#OrderPrice').val());
                    var discount = parseInt($('#Discount').val());
                    return orderprice > discount
            }, "需大於折價券面額");

            $("#addForm").validate({
                ignore: [],
                rules: {
                    CategorieId: {
                        required: {
                            depends: function () {
                                return $('#radiochannel').is(':checked')
                            }
                        }
                    },
                    EventId: {
                        required: {
                            depends: function () {
                                return $('#radioEvent').is(':checked')
                            }
                        }
                    },
                    DetailId: {
                        required: {
                            depends: function () {
                                return $('#radioDetail').is(':checked')
                            }
                        }
                    },
                    BrandId: {
                        required: {
                            depends: function () {
                                return $('#radioBrand').is(':checked')
                            }
                        }
                    },
                    hMinimumAmount: {
                        MinimumValition: {
                            depends: function () {
                                return ($('#OrderPrice').val())
                            }
                        }
                    }
                },
                messages: {
                    CategorieId: "請選擇頻道",
                    DetailId: "請輸入ID",
                    EventId: "請輸入ID",
                    BrandId: "請輸入ID"
                }
            }); 
        });
    
    </script>
}

<h2>
    新增折價券
</h2>
<a href="/controlroom/discount/campaignmain.aspx">回總覽</a>
<form method="Post" id="addForm" action="CampaignCreate">
    <table rules="all" cellpadding="5" class="table-form">
        <thead>
            <tr>
                <th colspan="2">基本設定</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td >
                    <span class="requiredstar">*</span>活動名稱
                </td>
                <td>
                    <input id="eventName" type="text" name="EventName" class="form-s" required>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="requiredstar">*</span>活動時間
                </td>
                <td>
                    <input id="txtStartDate" type="text" class="datepicker form-s" required><input id="htxtStartDate" type="hidden" name="StartDate">
                    <select id="ssh" name="shh" class="form-s" style="width:64px;">
                        @for (var i = 0; i < 24; i++)
                        {
                            <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                        }
                    </select>
                    點
                    至
                    <input id="txtEndDate" type="text" class="datepicker form-s" required><input id="htxtEndDate" type="hidden" name="EndDate">
                    <select id="seh" name="ehh" class="form-s" style="width:64px;">
                        @for (var i = 0; i < 24; i++)
                        {
                            <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                        }
                    </select>
                    點
                </td>
            </tr>
            <tr>
                <td >
                    <span class="requiredstar">*</span>折價券面額
                </td>
                <td>
                    <input id="Discount" type="text" name="DiscountAmount" class="form-s" required>
                </td>
            </tr>
            <tr>
                <td >
                    訂單金額限制
                </td>
                <td>
                    滿
                    <input id="OrderPrice" type="text" name="MinimumAmount" class="form-s" style="width:156px;">
                    元以上使用<br />
                    <input type="hidden" id="hMinimumAmount" name="hMinimumAmount" value="">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="requiredstar">*</span>發放數量
                </td>
                <td>
                    <input id="totalQuantity" type="text" name="Quantity" class="form-s" required>
                </td>
            </tr>
        </tbody>
    </table>
    <table rules="all" cellpadding="5" class="table-form">
        <thead>
            <tr>
                <th colspan="2">條件設定</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span class="requiredstar">*</span>序號類型
                </td>
                <td>
                    <input type="radio" name="DiscountType" value="0" id="discountImmediate" checked="checked">即時產生
                    <input type="radio" name="DiscountType" value="3" id="discountPre">預先產生
                    <input type="radio" name="DiscountType" value="2" id="discountUnified">統一序號
                    <div id="discountTypeDetail" style="margin-top: 5px; display: none;">
                        自訂序號 <input type="text" id="txtCustomCode" name="CustomCode" class="form-s"> （若無輸入，則由系統自動產生統一序號。）
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="requiredstar">*</span>領取條件
                </td>
                <td>
                    <input type="radio" name="DiscountGiftType" id="radioGiftNone" value="0" checked="checked">無<br>
                    <input type="radio" name="DiscountGiftType" id="radioGiftAuto" value="1">使用自動再送一張<br>
                    <input type="radio" name="DiscountGiftType" id="radioGiftDetail" value="2">消費滿額贈等值折價券<br>
                    <div id="discountGiftDetail" style="display:none;">
                        <p class="indent-p">
                            <span style="color:#fff;">*</span>消費門檻 <input type="text" id="FreeGiftDiscount" name="FreeGiftDiscount" class="form-s">
                        </p>
                        <p class="indent-p">
                            <span class="requiredstar">*</span>活動期間
                            <input id="FreeGiftSDate" type="text" class="datepicker form-s"><input id="hFreeGiftSDate" type="hidden" name="EventDateS">
                            <select id="fsh" name="fhh" class="form-s" style="width:64px;">
                                @for (var i = 0; i < 24; i++)
                                {
                                    <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                                }
                            </select>
                            點
                            至
                            <input id="FreeGiftEDate" type="text" class="datepicker form-s"><input id="hFreeGiftEDate" type="hidden" name="EventDateE">
                            <select id="feh" name="fhh" class="form-s" style="width:64px;">
                                @for (var i = 0; i < 24; i++)
                                {
                                    <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                                }
                            </select>
                            點
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    使用限制
                </td>
                <td>
                    <input type="radio" name="UseOnlyType" value=""  checked="checked">無<br>
                    <input type="radio" name="UseOnlyType" value="@((int)DiscountCampaignUsedFlags.OwnerUseOnly)" id="UseOnlySelf">限本人使用<br>
                    <input type="radio" name="UseOnlyType" value="@((int)DiscountCampaignUsedFlags.VISA)" id="UseOnlyVisa">VISA獨享<br>
                </td>
            </tr>
            <tr>
                <td>
                    裝置限制
                </td>
                <td>
                    <input type="checkbox" name="AppOnly" value="32768">限App可使用<br>
                </td>
            </tr>
            <tr style="display: none;" id="reuseRow">
                <td>
                    統一序號限制
                </td>
                <td>
                    <input type="checkbox" name="CanReused" id="CanReused" value="@((int)DiscountCampaignUsedFlags.CanReused)">可重複使用<br>
                </td>
            </tr>
        </tbody>
    </table>
    <table rules="all" cellpadding="5" class="table-form" id="addRowTable">
        <thead>
            <tr>
                <th colspan="2">折價券類型</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    通用型
                </td>
                <td>
                    <input type="radio" id="radioAll" name="ChannelType" value="0" checked="checked">通用型（全頻道）<br>
                    <input type="radio" id="radiochannel" name="ChannelType" value="1">頻道（部分頻道）
                </td>
            </tr>
            <tr>
                <td>
                    特定
                </td>
                <td>
                    <input type="radio" id="radioBrand" name="ChannelType" value="2">策展<br>
                    <input type="radio" id="radioDetail" name="ChannelType" value="3">單檔<br>
                    <input type="radio" id="radioEvent" name="ChannelType" value="4">商品主題活動
                </td>
            </tr>
            <tr id="grossMarginRow">
                <td>
                    檔次毛利率限制
                </td>
                <td>
                    <input id="grossMargin" type="text" name="MinimumGrossMargin" class="form-s" required="required">
                    %以下不可以使用
                </td>
            </tr>
        </tbody>
    </table>
    <div id="channelPart" class="channel-type" style="display:none;">
        <p>頻道（部分頻道）</p><input type="hidden" id="hidChannelId" name="CategorieId" value="">
        <div class="channel-choose">
            <button id="getchannel" type="button" class="btn btn-default btn-s btn-table" data-toggle="modal" data-target="#channelModal">
                選擇頻道範圍
            </button>
            <div class="channel-detail" id="setChannel">
                
            </div>
        </div>
        <div class="modal fade" id="channelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                        <h4 class="modal-title" id="myModalLabel">選擇頻道範圍</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            
                            @foreach (var channel in ViewBag.categoryDictionary)
                            {
                                int count = 0;
                                foreach (var c in channel.Key)
                                {
                                    <ul class="channelList">
                                        <li>
                                            <input type="checkbox" name="categorie@(c.Key)" value="@c.Key" onclick="selectChannel(this)"><label>@c.Value</label>
                                            @foreach (var cl in channel.Value)
                                            {
                                                ViewBag.tmpData = c.Key;
                                                <ul id="area@(c.Key)" class="list-inline list-inline-modal ulArea" style="display:none;">
                                                    @foreach (var ar in cl.Key)
                                                    {
                                                        <li><input type="checkbox" name="categorie@(ar.Key)" value="@ar.Key" onclick="selectArea(this, @ViewBag.tmpData )" class="subList"><label>@ar.Value</label></li>
                                                    }
                                                </ul>
                                                <ul id="category@(c.Key)" class="list-inline list-inline-modal ulCategory" style="display:none;">
                                                    @foreach (var cg in cl.Value)
                                                    {
                                                        <li><input type="checkbox" name="categorie@(cg.Key)" value="@cg.Key" onclick="selectCategory(this, @ViewBag.tmpData )"  class="subList"><label>@cg.Value</label></li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    </ul>
                                }
                                count++;
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"  onclick="setChannel()">確定</button>
                        @*<button type="button" class="btn btn-primary">確定</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="channelBrand" class="channel-type" style="display:none;">
        <p>策展</p><input type="hidden" id="hidBrandId" name="BrandId" value="">
        <div class="channel-choose">
            請輸入策展ID<br />
            <input id="brandID" type="text" class="form-s">　<input type="button" id="getBrand" class="btn btn-default btn-s btn-table" value="新增" onclick="GetBrandData()" />
            <div class="channel-detail">
                <table class="table-channel"  id="addBrandTable" style="display:none;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>策展名稱</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="channelDetail" class="channel-type" style="display:none;">
        <p>單檔</p><input type="hidden" id="hidDetailId" name="DetailId" value="">
        <div class="channel-choose">
            請輸入檔次BID<br />
            <input id="detailBID" type="text" class="form-s">　<input type="button" id="getBID" class="btn btn-default btn-s btn-table" value="新增" onclick="GetPromoData()" />
            <div class="channel-detail">
                <table class="table-channel"  id="addBIDTable" style="display:none;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>檔次名稱</th>
                            <th>毛利率</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <table class="table-channel" id="saveBIDTable" style="display:none;">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="channelEvent" class="channel-type" style="display:none;">
        <p>商品主題</p><input type="hidden" id="hidEventId" name="EventId" value="">
        <div class="channel-choose">
            請輸入商品主題頁ID<br />
            <input id="eventID" type="text" class="form-s">　<input type="button" id="getEvent" class="btn btn-default btn-s btn-table" value="新增" onclick="GetEventData()" />
            <div class="channel-detail">
                <table class="table-channel"  id="addEventTable" style="display:none;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>商品主題活動名稱</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <table rules="all" cellpadding="5" class="table-form">
        <thead>
        <tr>
            <th colspan="2">其它設定</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>強制指定<br />最低均價計算</td>
            <td>
                <input type="checkbox" id="specifiedForDiscountPrice" name="specifiedForDiscountPrice" value="1" 
                       style="width:18px; height:18px; cursor:pointer" />
                <span style="display:block; font-size:9px">目前規則為限定頻道,即時發放,且不是統一序號的現金券活動會被計算，但如果想自行指定，此欄打勾。</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="bottomDiv">
        <input id="btnSave" type="submit" class="btn btn-primary btn-s" value="送出申請" />
    </div>
</form>
