﻿@using LunchKingSite.Core
@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <script type="text/javascript" src="~/Tools/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.maxlength-min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.ui.datepicker-zh-TW.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Tools/js/campaignAdd.js"></script>
    <link type="text/css" href="~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css" rel="stylesheet"/>

    <script type="text/javascript">
        $(document).ready(function() {
            
            if ("@ViewBag.message" != "") {
                alert("@ViewBag.message");
            }

            $("#addForm").validate({
                ignore: [],
                rules: {
                    CategorieId: {
                        required: {
                            depends: function () {
                                return $('#radiochannel').is(':checked')
                            }
                        }
                    },
                    EventId: {
                        required: {
                            depends: function () {
                                return $('#radioEvent').is(':checked')
                            }
                        }
                    },
                    DetailId: {
                        required: {
                            depends: function () {
                                return $('#radioDetail').is(':checked')
                            }
                        }
                    },
                    BrandId: {
                        required: {
                            depends: function () {
                                return $('#radioBrand').is(':checked')
                            }
                        }
                    },
                    hMinimumAmount: {
                        MinimumValition: {
                            depends: function () {
                                return ($('#OrderPrice').val())
                            }
                        }
                    }
                },
                messages: {
                    CategorieId: "請選擇頻道",
                    DetailId: "請輸入ID",
                    EventId: "請輸入ID",
                    BrandId: "請輸入ID"
                }
            });

        });

        function addEvent() {
            $("#addForm").show();
            $("#addBtn").hide();
            $("#newUserBtn").hide();
            $("#searchForm").hide();
            window.document.body.scrollTop = 0;
        }

        function createEvent() {
            $('#addForm').submit();
        }

        function cancelEvent() {
            $("#addForm").hide();
            $("#addBtn").show();
            $("#newUserBtn").show();
            $("#searchForm").show();
        }

        function pageEvent(count) {    
            $("#hidPageCount").val(count);
            $('#searchForm').submit();
        }

    </script>
    <style type="text/css">
        label.error {
            float: none;
            color: red;
            padding-left: .5em;
        }
        ul {
            list-style-type: none;
        }

        li {
            display: inline;
        }
        .rightpanel {
            overflow-x: scroll;
        }

        .rightpanel > div {
                width: auto !important;
        }

        .table-border > thead > tr > th, .table-border > tbody > tr > td {
            padding: 2px;
        }

        .pager li > a {
            border-radius: 0;
        }

        select.form-s {
            width: auto;
        }

    </style>
}

<h2>折價券活動</h2>

<div>
    <input type="button" value="新增" class="btn btn-default" id="addBtn" onclick=" addEvent() "/>
    <input type="button" value="設定新會員" class="btn btn-default" id="newUserBtn" onclick=" location.href='@Url.Action("NewMemberSet", "DiscountCode")' " />
</div>

<form method="Post" id="searchForm" action="DiscountEventList">
    <input type="hidden" id="hidPageCount" name="pageIndex" value="@ViewBag.PageIndex" />
    <table class="table table-content ">
        <thead>
        <tr>
            <th>查詢條件</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div>
                    活動名稱：
                    <input type="text" class="form-s" id="searchName" name="eventName" value="@ViewBag.EventName">
                    活動時間：
                    <input type="email" class="form-s datepicker" name="txtSDate" id="txtSearchSDate" value="@(ViewBag.StartDate)">
                    ～
                    <input type="email" class="form-s datepicker" name="txtEDate" id="txtSearchEDate" value="@(ViewBag.EndDate)">
                    <button type="submit" class="btn btn-default btn-align-center">搜尋</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<form method="Post" id="addForm" action="EventCampaignSet" style="display: none">
    <table rules="all" cellpadding="5" class="table-form">
        <thead>
            <tr>
                <th colspan="2">基本設定</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span class="requiredstar">*</span>活動名稱
                </td>
                <td>
                    <input id="eventName" type="text" name="EventName" class="form-s" required>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="requiredstar">*</span>活動時間
                </td>
                <td>
                    <input id="txtStartDate" type="text" class="datepicker form-s" required><input id="htxtStartDate" type="hidden" name="StartDate">
                    <select id="ssh" name="shh" class="form-s" style="width:64px;">
                        @for (var i = 0; i < 24; i++)
                        {
                            <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                        }
                    </select>
                    點
                    至
                    <input id="txtEndDate" type="text" class="datepicker form-s" required><input id="htxtEndDate" type="hidden" name="EndDate">
                    <select id="seh" name="ehh" class="form-s" style="width:64px;">
                        @for (var i = 0; i < 24; i++)
                        {
                            <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                        }
                    </select>
                    點
                </td>
            </tr>
        </tbody>
    </table>
    <div class="bottomDiv">
        <input id="btnSave" type="button" class="btn btn-primary btn-s" value="建立活動" onclick="createEvent()" />
        <input id="btnCancel" type="reset" class="btn btn-default btn-s" value="取消" onclick="cancelEvent()" />
    </div>
</form>

@if (ViewBag.EventList != null)
{
    if (ViewBag.EventList.Count != 0)
    {
        <table class="table" style="width: 100%">
            <thead>
                <tr class="success">
                    <td align="center">ID</td>
                    <td align="center">啟用日期</td>
                    <td align="center">狀態</td>
                    <td align="center">申請日期</td>
                    <td align="center">活動名稱</td>
                    <td align="center">活動時間</td>
                    <td align="center">每人張數</td>
                    <td align="center">每人金額</td>
                    <td align="center">申請人員</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var EventData in ViewBag.EventList)
                {
                    <tr style="@((DateTime.Now > EventData.StartTime && EventData.EndTime > DateTime.Now) ? "background-color:Pink" : "")">
                        <td align="center">@EventData.Id</td>
                        <td align="center">
                            @(EventData.ApplyTime == null ? DateTime.Now > EventData.StartTime ? "-" : "" : EventData.ApplyTime.ToString("yyyy/MM/dd HH:mm"))
                            <input type="button" value="啟用" class="btn btn-default" style="@(EventData.ApplyTime == null ? DateTime.Now > EventData.StartTime ? "display: none" : "" : "display: none") " onclick=" location.href='@Url.Action("ApplyEvent", new { id = EventData.Id })' " />
                        </td>
                        <td align="center">
                            @(DateTime.Now > EventData.StartTime ? DateTime.Now > EventData.EndTime ? "失效" : "有效" : "")
                            <input type="button" value="刪除" class="btn btn-default" style="@( DateTime.Now > EventData.StartTime ? "display: none" : "")" onclick=" location.href='@Url.Action("DelEvent", new { id = EventData.Id })' " />
                        </td>
                        <td align="center">@EventData.ModifyTime.ToString("yyyy/MM/dd HH:mm")</td>
                        <td align="center"><a href="@Url.Action("DiscountEventEdit", new { id = EventData.Id })">@EventData.Name</a></td>
                        <td align="center">@EventData.StartTime.ToString("yyyy/MM/dd HH:mm") ~ @EventData.EndTime.ToString("yyyy/MM/dd HH:mm") </td>
                        <td align="center">@(EventData.Qty == null ? "-" : EventData.Qty.ToString())</td>
                        <td align="center">@(EventData.Total == null ? "-" : EventData.Total.ToString())</td>
                        <td align="center">@EventData.ModifyId</td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <td colspan="6">沒有符合的資料。</td>
            </tr>
        </table>
    }

}


<div class="alg-center mrg20-hor">
    @if (ViewBag.PageCount != null)
    {
        if (Convert.ToInt32(ViewBag.PageIndex) <= 1)
        {
            <input type="button" class="btn btn-disabled btn-large arrow" value="&laquo;" disabled="disabled" />
                <input type="button" class="btn btn-disabled btn-large arrow" value="&lsaquo;" disabled="disabled" />
        }
        else
        {
            <input type="button" class="btn btn-primary btn-large arrow" value="&laquo;" onclick="pageEvent(1)" />
            <input type="button" class="btn btn-primary btn-large arrow" value="&lsaquo;" onclick="pageEvent(@(ViewBag.PageIndex-1))" />
        }


        <select onchange="pageEvent(this.value)">
            @for (int i = 1; i <= (int)ViewBag.PageCount; i++)
            {
                if (i == (int)ViewBag.PageIndex)
                {
                    <option value="@i" selected="selected">@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }
            }
        </select>

        <span>/@ViewBag.PageCount</span>
        <span>(@ViewBag.TotalCount 筆資料)</span>


        if (Convert.ToInt32(ViewBag.PageIndex) >= (int)ViewBag.PageCount)
        {
            <input type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" disabled="disabled" />
            <input type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" disabled="disabled" />
        }
        else
        {
            <input type="button" class="btn btn-primary btn-large arrow" value="&rsaquo;" onclick="pageEvent(@(ViewBag.PageIndex + 1))" />
            <input type="button" class="btn btn-primary btn-large arrow" value="&raquo;" onclick="pageEvent(@ViewBag.PageCount)" />
        }
    }
</div>


