﻿@using LunchKingSite.Core
@model LunchKingSite.DataOrm.ViewDiscountEventCampaignCollection

@{
    ViewBag.Title = "EventCampaignSet";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}

<script type="text/javascript" src="~/Tools/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery.maxlength-min.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.min.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery.ui.datepicker-zh-TW.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
<link type="text/css" href="~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />
@section header {
    <script type="text/javascript">
        $(document).ready(function() {

            $("h2").parent().css('width', '80%');

            var channelId = new Array();
            var conut = 0;
            
            $("input[name^='channelId']").each(function() {
                if ($(this).val() != "") {
                    channelId[conut] = $(this).val();
                    $(this).val("");
                    conut++;
                }
            });
            $("input[name^='channelBtn']").prev().val(channelId);
            var channelText = "";

            $("input[name^='channelName']").each(function() {
                if ($(this).val() != "") {
                    channelText += $(this).val() + "、";
                    $(this).val("");
                }
            });
            channelText = channelText.replace("/", "");
            channelText = channelText.substring(0, channelText.lastIndexOf("、"));
            if (channelText == "") {
                $("input[name^='channelBtn']").parent().prev().text("全站");
            } else {
                $("input[name^='channelBtn']").parent().prev().text(channelText);
            }

            $("#addCampaign").validate({
                rules: {
                    discountName: {
                        required: true,
                    },
                    discountAmount: {
                        required: true,
                    },
                    discountMin: {
                        required: true,
                    },
                    count: {
                        required: true,
                    },
                    discountAll: {
                        required: true,
                    }
                },
                messages: {
                    discountName: "請輸入折價券名稱",
                    discountAmount: "請輸入面額",
                    discountMin: "請輸入限制金額",
                    count: "請輸入發送數量",
                    discountAll: "請輸入總數量"

                },
                errorPlacement: function(error, element) {
                    if (element.is(':radio') || element.is(':checkbox')) {
                        var eid = element.attr('name');
                        error.appendTo(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });


        });

        function addEvent() {
            var temp = $("#campaignTable").find("tr").last().clone();
            var count = $("#campaignTable").find("tr").length - 1;
            temp.find(".amountBtn").removeAttr("onclick");
            temp.find(".amountBtn").attr("onclick", "upAmountData(" + count + ")");
            temp.find(".channelBtn").removeAttr("onclick");
            temp.find(".channelBtn").attr("onclick", "upCategoryData(" + count + ")");
            temp.find("input[name^='ChannelId']").attr("name", "ChannelId" + count);
            $("#campaignTable").find("tr").last().after(temp);
        }

        function importEvent() {
            $("#importCampaign").show();
            $("#importEventaddBtn").hide();
        }

        function cancelEvent() {
            $("#importCampaign").hide();
            $("#importEventaddBtn").show();
        }

        function selectChannel(obj) {
            if ($(obj).is(':checked')) {
                $(obj).parent().find('ul').show();
                $('[id*=cbx_BindEventPromoId]').attr('disabled', 'disabled');
                var name = $("#hidChannelName" + $(obj).val()).next().next().text() + "-";
                $("#hidChannelId" + $(obj).val()).val($(obj).val() + "|");
                $("#hidChannelName" + obj.value).val(name);
            } else {
                $(obj).parent().find('ul').hide();
                $('[id*=cbx_BindEventPromoId]').removeAttr('disabled');
                $(obj).parent().find('input[type=checkbox]').each(function() {
                    $(this).attr('checked', false);
                });
                $("#hidChannelId" + obj.value).val("");
                $("#hidChannelName" + obj.value).val("");
            }
        }

        function selectArea(obj, cid) {
            if ($(obj).parent().parent().find('input[type=checkbox]:checked').length > 0) {
                $(obj).parent().parent().next().find('input[type=checkbox]').each(function() {
                    $(this).attr('checked', false);
                });
                $(obj).parent().parent().next().hide();
            } else {

                $(obj).parent().parent().next().show();
            }
            categoryData(obj, cid);
        }

        function selectCategory(obj, cid) {
            if ($(obj).parent().parent().find('input[type=checkbox]:checked').length > 0) {
                $(obj).parent().parent().prev().find('input[type=checkbox]').each(function() {
                    $(this).attr('checked', false);
                });
                $(obj).parent().parent().prev().hide();
            } else {

                $(obj).parent().parent().prev().show();
            }
            categoryData(obj, cid);
        }


        function categoryData(obj, cid) {
            if ($(obj).is(':checked')) {
                var val = $("#hidChannelId" + cid).val();
                val += obj.value + "|";
                $("#hidChannelId" + cid).val(val);
                var name = $("#hidChannelName" + cid).val();
                name += $(obj).parent().text() + "/";
                $("#hidChannelName" + cid).val(name);
            } else {
                var val = $("#hidChannelId" + cid).val();
                if (val != undefined) {
                    val = val.replace(obj.value + "|", "");
                }
                $("#hidChannelId" + cid).val(val);
                var name = $("#hidChannelName" + cid).val();
                name = name.replace($(obj).parent().text() + "/", "");
                $("#hidChannelName" + cid).val(name);
            }
        }

        function upCategoryData(index) {
            $.blockUI({
                message: $("div#divChannel"),
                css: {
                    top: ($(window).height()) / 7 + 'px',
                    left: ($(window).width()) / 4 + 'px',
                    width: '50%',
                    height: '83%',
                    border: 'none',
                    cursor: 'default'
                },
                overlayCSS: { cursor: 'default' }
            });
            $('#hiddenRadio').val(index);
            $('.blockbtn').click(function() {
                var index = $("#hiddenRadio").val();
                $.unblockUI();
                var channelText = "";
                $("input[name^='channelName']").each(function() {
                    if ($(this).val() != "") {
                        channelText += $(this).val() + "、";
                    }
                });
                channelText = channelText.substring(0, channelText.lastIndexOf("、"));
                var channelId = new Array();
                var conut = 0;
                $("input[name^='channelId']").each(function() {
                    if ($(this).val() != "") {
                        channelId[conut] = $(this).val();
                        conut++;
                    }
                });
                $("input[name^='channelBtn']"+ ":eq(" + index + ")").prev().val(channelId);

                if (channelText == "") {
                    $("input[name^='channelBtn']" + ":eq(" + index + ")").parent().prev().text("全站");
                } else {
                    $("input[name^='channelBtn']" + ":eq(" + index + ")").parent().prev().text(channelText);
                }
            });
        }

        function upAmountData(index) {
            $.blockUI({
                message: $("div#divAmount"),
                css: {
                    top: ($(window).height() - $(window).height() / 2) / 2 + 'px',
                    left: ($(window).width() - $(window).width() / 4) / 2 + 'px',
                    width: '280px',
                    height: '180px',
                    border: 'none',
                    cursor: 'default'
                },
                overlayCSS: { cursor: 'default' }
            });
            $('#hiddenRadio').val(index);
            $('.amountBlockBtn').click(function() {
                $.unblockUI();
                var method = $("input[name='radioAmount']:checked"); //radio 取值，注意寫法
                var index = $("#hiddenRadio").val();
                if (typeof (method.val()) != "undefined") {
                    $("input[name^='discountAmount']" + ":eq(" + index + ")").val(method.val());
                    var obj = $("input[name^='discountMin']" + ":eq(" + index + ")");
                    obj.val(method.prev().val());
                    var tmpVal = (method.val() / method.prev().val()) * 100;
                    obj.parent().next().text(parseInt(tmpVal) + "%");
                }
            });

        }

        function changeAmount(obj) {
            var minVal = $(obj).parent().next().next().find('input').val();
            if (obj.value != "" && minVal != "") {
                var tmpVal = (obj.value / minVal) * 100;
                $(obj).parent().next().next().next().text(parseInt(tmpVal) + "%");
            } else {
                $(obj).parent().next().next().next().text("N/A");
            }
        }

        function changeMinAmount(obj) {
            var AmountVal = $(obj).parent().prev().prev().find('input').val();
            if (obj.value != "" && AmountVal != "") {
                var tmpVal = (AmountVal / obj.value) * 100;
                $(obj).parent().next().text(parseInt(tmpVal) + "%");
            } else {
                $(obj).parent().next().text("N/A");
            }
        }

        function importCampaign() {
            var id = @ViewBag.EventId;
            var campaignId = $('#importCampaignId').val();
            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Content("~/ControlRoom/System/ImportCampaign")',
                data: JSON.stringify(
                {
                    'id': id,
                    'campaignId': campaignId
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(res) {
                    if (res) {
                        alert(res);
                        location.reload();
                    } else {
                        alert("無此資料");
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("伺服器忙碌中，請重新操作一次。");
                }
            });
        }

    </script>
    <style type="text/css">
        .error {
            color: red;
        }
        ul { list-style-type: none; }
        li { display: inline; }
    </style>
}

    <h2>折價券設定</h2>
<form id="addCampaign" method="Post" action="EventCampaignSave">
    @if (ViewBag.saveType == "New")
    {
        <input type="button" value="新增折價券" class="btn btn-default btn-s" id="addBtn" onclick="addEvent()"/>
    }
    else
    {
        <input type="button" value="匯入折價券" class="btn btn-default btn-s" id="importEventaddBtn" onclick="importEvent() "/>
        <br>
        <table id="importCampaign" style="width: 25%; border: 3px #FFAC55; padding: 5px; display: none" rules="all" cellpadding="5">
            <tr><td style="color: Red;" align="center">匯入折價券時間必須與活動相同</td></tr>
            <tr>
                <td align="center">請輸入折價券ID: <input id="importCampaignId" type="text" style="width: 60px" value=""></td>
            </tr>
            <tr>
                <td align="center">
                    <input type="button" value="匯入" class="btn btn-default btn-s" onclick="importCampaign()" />
                    <input type="button" value="取消" class="btn btn-default btn-s" onclick="cancelEvent()" />
                </td>
            </tr>
        </table>
    }
    <input type="hidden" name="saveType" value="@ViewBag.SaveType">
    <input type="hidden" name="eventId" value="@ViewBag.EventId">
    <input type="hidden" name="campaignFlag" value="@ViewBag.Campaignflag">
    <input type="hidden" name="eventPromoId" value="@ViewBag.EventPromoId">
    <input type="hidden" name="sDate" value="@ViewBag.StartTime">
    <input type="hidden" name="eDate" value="@ViewBag.EndTime">
    
    <br>
    <table id="campaignTable" class="table table-striped">
        <thead>
        <tr class="success">
            <td align="center" style="width: 10%">活動名稱</td>
            <td align="center" style="width: 12%">使用期限</td>
            <td align="center" style="width: 20%">折價券名稱</td>
            <td align="center" style="width: 5%">面額</td>
            <td></td>
            <td align="center" style="width: 5%">使用門檻</td>
            <td align="center" style="width: 5%">折抵率</td>
            <td align="center" style="width: 5%">每人張數</td>
            <td align="center" style="width: 5%">總數</td>
            <td align="center" style="width: 10%">適用館別</td>
            <td></td>
            <td align="center" style="width: 10%">折價券類型</td>
            <td align="center" style="width: 10%">限用裝置</td>
            <td align="center" style="width: 5%"></td>
        </tr>
        </thead>
        <tbody>
        @if (ViewBag.campaignList != null && Enumerable.Count(ViewBag.campaignList) > 0)
        {
            var i = 0;
            foreach (var item in ViewBag.campaignList)
            {
                <tr>
                    <td align="center">@ViewBag.EventName</td>
                    <td align="center">@item.StartTime.ToString("yyyy/MM/dd HH:mm") ~ @item.EndTime.ToString("yyyy/MM/dd HH:mm") </td>
                    <td align="center"><a href="@Url.Content("~/ControlRoom/discount/discount_detail.aspx?cid=")@item.CampaignId" target="_blank"> @item.CampaignName</a></td>
                    <td align="center">@((item.Amount ?? 0).ToString("N0"))</td>
                    <td></td>
                    <td>@(item.MinimumAmount != null ? item.MinimumAmount.ToString() : "0")</td>
                    <td align="center">@(item.MinimumAmount != null ? (item.Amount / item.MinimumAmount * 100).ToString("f0") + "%" : "N/A")</td>
                    <td align="center"><input type="hidden" name="campaignId" value="@item.CampaignId"><input type="text" name="count" style="width: 40px" value="@(item.EventQty ?? 0)"></td>
                    <td align="center">@(item.CampaignQty ?? 0)</td>
                    <td align="center">@ViewBag.Channel</td>
                    <td></td>
                    <td align="center">@(((item.Flag & (int)DiscountCampaignUsedFlags.InstantGenerate) > 0) ? "即時產生" : "非即時產生")</td>
                    <td align="center">@(((item.Flag & (int)DiscountCampaignUsedFlags.AppUseOnly) > 0) ? "限App使用" : "無")</td>
                    <td>
                        @if (ViewBag.campaignList != null && Enumerable.Count(ViewBag.campaignList) > 1)
                        {
                            <input type="button" value="刪除" class="btn btn-default btn-s" onclick=" location.href='@Url.Action("DelEventCampaign", new {id = item.Id, eventId = ViewBag.EventId, campaignId = item.CampaignId})' " />
                        }
                    </td>
                </tr>
                i++;
            }
        }
        else if (ViewBag.saveType.ToString() == "New")
        {
            <tr>
                <td align="center">@ViewBag.EventName</td>
                <td align="center"> @ViewBag.StartTime.ToString("yyyy/MM/dd HH:mm") ~ @ViewBag.EndTime.ToString("yyyy/MM/dd HH:mm") </td>
                <td align="center"><input type="text" name="discountName" style="width: 250px" value="@(ViewBag.EventName)"></td>
                <td align="center"><input type="number" name="discountAmount" style="width: 50px" value="" onchange="changeAmount(this) "></td>
                <td align="center"><input type="button" class="btn btn-default btn-s amountBtn" value="+" onclick="upAmountData('0') " /></td>
                <td align="center"><input type="number" name="discountMin" style="width: 50px" value="" onchange="changeMinAmount(this) "></td>
                <td>N/A</td>
                <td align="center"><input type="number" name="count" style="width: 40px" value="1"></td>
                <td align="center"><input type="number" name="discountAll" style="width: 70px" value=""></td>
                <td align="center"></td>
                <td><input type="hidden" name="ChannelId0" value="" /><input name="channelBtn" type="button" class="btn btn-default btn-s channelBtn" value="+" onclick="upCategoryData('0')" /> </td>
                <td align="center">@(ViewBag.DiscountType == "0" ? "即時產生" : ViewBag.DiscountType == "1" ? "預產折價券" : "")<input type="text" placeholder="填活動代碼" name="campaignCode" style="width: 100px; display: @(ViewBag.DiscountType == "0" ? "none" : ViewBag.DiscountType == "1" ? "none" : "")" value=""></td>
                <td align="center"><input type="checkbox" name="chkAppOnly" value="32768" @(ViewBag.AppOnly)>限App</td>
                <td></td>
            </tr>
        }
        else
        {
            <tr><td colspan="14">無符合的資料</td></tr>
        }

        </tbody>

    </table>

    <label style="color: Red;">@ViewBag.totalAmount</label>
    <div>
        @if (ViewBag.saveType == "New" || Enumerable.Count(ViewBag.campaignList) > 0)
            {
            <input type="submit" class="btn btn-default btn-s" value="儲存" />
        }
        @if (ViewBag.saveType == "New")
            {
            <input type="button" value="取消" class="btn btn-default" onclick=" location.href='@Url.Action("DelEvent", new {id = ViewBag.EventId})' " />
        }
        @if (ViewBag.saveType != "New")
            {
            <input type="button" class="btn btn-default btn-s" value="返回" onclick=" location.href='@Url.Action("DiscountEventEdit", new {id = ViewBag.EventId})' " />
        }
    </div>

    <div id="divChannel" style="display: none">
        <table align="left" style="background-color: #FAFAFA; width: 100%; padding: 5px;" rules="all" cellpadding="5">
            @if (ViewBag.saveType == "New")
            {
                foreach (var channel in ViewBag.CategoryDictionary)
                {
                    foreach (var c in channel.Key)
                    {
                        <tr>
                            <td style="text-align: left">
                                <input type="hidden" id="hidChannelId@(c.Key)" name="channelId@(c.Key)" value="@ViewBag.ChannelIdArray[c.Key.ToString()]">
                                <input type="hidden" id="hidChannelName@(c.Key)" name="channelName@(c.Key)" value="@ViewBag.ChannelNameArray[c.Key.ToString()]">
                                <input type="checkbox" name="categorie@(c.Key)" value="@c.Key" onclick="selectChannel(this) "><label>@c.Value</label>
                                @foreach (var cl in channel.Value)
                                {
                                    <ul id="area@(c.Key)" style="display: none">
                                        @foreach (var ar in cl.Key)
                                        {
                                            <li><input type="checkbox" value="@ar.Key" onclick="selectArea(this, @c.Key)">@ar.Value</li>
                                        }
                                    </ul>
                                        <ul id="category@(c.Key)" style="display: none">
                                            @foreach (var cg in cl.Value)
                                            {
                                                <li><input type="checkbox" value="@cg.Key" onclick="selectCategory(this, @c.Key)">@cg.Value</li>
                                            }
                                        </ul>
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </table>
        <div>
            <input type="button" class="btn btn-default blockbtn" value="確定" />
        </div>
    </div>
    <div id="divAmount" style="display: none">
        <table align="left" style="background-color: #FAFAFA; width: 100%;">
            <tr>
                <td style="text-align: left">請選擇欲使用的折價券模組：</td>
            </tr>
            <tr>
                <td style="text-align: left"><input type="hidden" value="500"><input type="radio" name="radioAmount" value="50" checked="checked">滿500抵50</td>
            </tr>
            <tr>
                <td style="text-align: left"><input type="hidden" value="499"><input type="radio" name="radioAmount" value="50" checked="checked">滿500抵55</td>
            </tr>
            <tr>
                <td style="text-align: left"><input type="hidden" value="1000"><input type="radio" name="radioAmount" value="100" checked="checked">滿1000抵100</td>
            </tr>
            <tr>
                <td style="text-align: left"><input type="hidden" value="999"><input type="radio" name="radioAmount" value="100" checked="checked">滿999抵100</td>
            </tr>
            <tr>
                <td style="text-align: left"><input type="hidden" value="599"><input type="radio" name="radioAmount" value="60" checked="checked">滿599抵60</td>
            </tr>
        </table>
        <div>
            <input type="hidden" id="hiddenRadio" value="">
            <input type="button" class="btn btn-default amountBlockBtn" value="確定" />
        </div>
    </div>

</form>



