﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@{
    ViewBag.Title = "17Life後台";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="~/Tools/js/css/jquery-ui-1.10.2.css"/>
    <script type="text/javascript" src="~/Tools/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        var msg = '@ViewBag.msg';
        if (msg != '') {
            alert(msg);
        }
        $(document).ready(function() {
            $("#memberForm").submit(function() {
                if (sendSet()) {
                    var value = "";
                    var discountRow = $("#tableDiscount tr");
                    var num = discountRow.length;
                    var discountId = "";
                    var discountQua = "";
                    for (i = 1; i < num; i++) {
                        discountId = discountRow.eq(i).find("td:eq(0)").children().val().replace(/\s+/g, "");
                        discountQua = discountRow.eq(i).find("td:eq(1)").children().val().replace(/\s+/g, "");
                        if (discountId != "" && discountQua != "") {
                            value = value + discountId + "#" + discountQua;
                            if (i != (num-1)) {
                                value = value + "|";
                            }
                        }
                    }
                    $("#hidDiscountStr").val(value);
                } else {
                    return false;
                }
            });
        });

        function sendSet() {
            var elemId = $("#memberForm").find(".numberId");
            var elemQua = $("#memberForm").find(".numberQua");
            $('input').each(function() {
                $(this).removeClass("error");
            });
            $(".noticeDuplicate").hide();
            $(".noticeReqId").hide();
            $(".noticeReqQua").hide();
            for (i = 0; i < elemId.length; i++) {
                if ($(elemId[i]).val() != "") {
                    for (j = i + 1; j < elemId.length; j++) {
                        if ($(elemId[j]).val() == $(elemId[i]).val()) {
                            $(elemId[i]).addClass("error");
                            $(elemId[j]).addClass("error");
                            $(".noticeDuplicate").show();
                            return false;
                        }
                    }
                    if ($(elemQua[i]).val() == "") {
                        $(elemId[i]).addClass("error");
                        $(elemQua[i]).addClass("error");
                        $(".noticeReqQua").show();
                        return false;
                    }
                }
                if ($(elemQua[i]).val() != "") {
                    if ($(elemId[i]).val() == "") {
                        $(elemId[i]).addClass("error");
                        $(elemQua[i]).addClass("error");
                        $(".noticeReqId").show();
                        return false;
                    }
                }
            }
            return true;
        }

        function addRow() {
            var num = document.getElementById("tableDiscount").rows.length;
            var insertTr = document.getElementById("tableDiscount").insertRow(num);
            var insertTd = insertTr.insertCell(0);
            insertTd.innerHTML = "<input type='number' class='form-s number numberId' />";
            insertTd = insertTr.insertCell(1);
            insertTd.innerHTML = "<input type='number' class='form-s number numberQua'/>";
            insertTd = insertTr.insertCell(2);
            insertTd.innerHTML = "<input type='button' class='btn btn-default' onclick='removeRow(this);' value='刪除' />";
        }

        function removeRow(x) {
            if (confirm("確定刪除？")) {
                var row = x.parentNode.parentNode.rowIndex;
                document.getElementById("tableDiscount").deleteRow(row);
            } else {

            }
        }
    </script>
}

<h2>
    新會員折價券設定
</h2>
<a href="/ControlRoom/System/DiscountEventList">回活動列表</a>
<form method="Post" id="memberForm" action="NewMemberSet">
    <table id="tableDiscount" class="table_newmember">
        <tbody>
            <tr>
                <td>折價券ID</td>
                <td>每人發放張數</td>
                <td>刪除</td>
            </tr>
            @if (ViewBag.Discount != null)
            {
                foreach (var e in ViewBag.Discount)
                {
                    <tr>
                        <td><input type="number" class="form-s number numberId" value="@(e.Id)" /></td>
                        <td><input type="number" class="form-s number numberQua" value="@(e.Quantity)" /></td>
                        <td><input type="button" class="btn btn-default" onclick="removeRow(this);" value="刪除" /></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <input  type="hidden" name="discountStr" id="hidDiscountStr" />
    <div class="bottomDiv">
        <input type="button" id="btnAddRow" class="btn btn-default" onclick="addRow();" value="新增折價券" />
        <input id="btnSave" type="submit" class="btn btn-primary btn-s" value="儲存設定" />
        <label class="notice noticeDuplicate">ID重複</label>
        <label class="notice noticeReqId">請填ID</label>
        <label class="notice noticeReqQua">請填張數</label>
    </div>
</form>
