﻿@using LunchKingSite.BizLogic.Model;
@{
    Layout = "~/Views/UserOrder/_PponUserOrderLayout.cshtml";

    Dictionary<string, string> dcnOrderSelectArea = ViewBag.OrderSelectArea;
}


<script type="text/javascript">
    $(document).ready(function(){
        ChangePage('');
    })

    function linkclick(obj) {
        var link = $(obj).find('.OrderSerial a');
        if (link != null && link.length > 0 && $(window).width() < 984) {
            var url = $(link).attr('href');
            window.location = url;
        } else {
            var fami = $(obj).find("input[id*=rpCouponDetail]");
            if ($(fami).attr('id') != undefined) {
                $(fami).click();
            }
        }
    }

    @*訂位*@
    function openBookingSystem(orderGuid, apiKey) {
        if (orderGuid) {
            window.open('../BookingSystem/ReservationService.aspx?ApiKey=' + apiKey + '&gid=' + orderGuid, '_blank');
        } else {
            window.open('../BookingSystem/ReservationRecords.aspx?ApiKey=' + apiKey, '_blank');
        }
    }

    @*全家*@
    function openFamiCoupon(cid) {
        window.open('../User/FamiCouponDetail.aspx?cid=' + cid, '_blank');
    }

    @*憑證內容*@
    function ShowDetail(oid)
    {
        window.location = '../User/CouponDetail.aspx?oid=' + oid;
    }

    @*客服*@
    function ShowService(oid)
    {
        window.location = '../User/Service.aspx?orderid=' + oid;
    }

    function ChangePage(p) {
        var cPage = $("#ddlPages").val();
        var pageCount = $("#lblPageCount").html();
        switch (p) {
            case 'first':
                cPage = 1;
                break;
            case 'prev':
                if (cPage - 1 > 1) {
                    cPage = parseInt(cPage) - 1;
                } else {
                    cPage = 1;
                }
                break;
            case 'next':
                if (cPage + 1 < pageCount) {
                    cPage = parseInt(cPage) + 1;
                } else {
                    cPage = pageCount;
                }
                break;
            case 'last':
                cPage = pageCount;
                break;
        }
        LoadData(cPage);
    }

    function LoadData(cPage)
    {
        if (cPage == undefined) {
            cPage = $("#ddlPages").val();
        }

        if (isNaN(cPage)) {
            cPage = 1;
        }

        if (cPage == null) {
            cPage = 1;
        }

        var data = {
            page: cPage,
            filter: $('#ddl_Filter').val()
        }

        $.ajax({
            type: "POST",
            url: 'GetCouponList',
            datatype: 'json',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (res)
            {
                $('#couponList').html(res.data);
                RefreshPageDiv(res, cPage);
                ControlPageDiv();
            },
            error: function (res) {
                console.log(res);
            }
        })
    }

    function RefreshPageDiv(obj, cPage)
    {
        var pagehtml = '';
        for (i = 1; i <= obj.totalPage; i++)
        {
            pagehtml += '<option value="' + i + '">' + i + '</option>';
        }

        if (!pagehtml)
        {
            pagehtml += '<option value="0">0</option>';
        }
        $('#ddlPages').html(pagehtml);
        $("#ddlPages").val(cPage);
        $('#lblPageCount').text(obj.totalPage);
        $('#gridPager_lrc').text(obj.pageCount);
    }

    function ControlPageDiv()
    {
        var selectPage = $('#ddlPages').val();
        var totPageCount = $('#lblPageCount').text();
        if (isNaN(parseInt(totPageCount)))
        {
            return;
        }

        if (totPageCount <= 1)
        {
            $('a[id^="gridPager"]').css("display", "none");
        }
        else if (selectPage == 1)
        {
            $('#gridPager_btnFirst').css("display", "none");
            $('#gridPager_btnPrev').css("display", "none");
            $('#gridPager_btnNext').css("display", "");
            $('#gridPager_btnLast').css("display", "");
        }
        else if (selectPage == totPageCount) {
            $('#gridPager_btnFirst').css("display", "");
            $('#gridPager_btnPrev').css("display", "");
            $('#gridPager_btnNext').css("display", "none");
            $('#gridPager_btnLast').css("display", "none");
        }
        else {
            $('#gridPager_btnFirst').css("display", "");
            $('#gridPager_btnPrev').css("display", "");
            $('#gridPager_btnNext').css("display", "");
            $('#gridPager_btnLast').css("display", "");
        }
    }
</script>

@*Main Div Start*@
<div id="pan_Main">
    @*頁簽 Start*@
    <div class="mc-navbar">
        <a>
            <div class="mc-navbtn on">訂單/憑證</div>
        </a>
        <a href="http://localhost/user/SendGift">
            <div class="mc-navbtn">禮物盒</div>
        </a>
        <a href="http://localhost/User/DiscountList.aspx">
            <div class="mc-navbtn">折價券</div>
        </a>
        <a href="http://localhost/User/BonusListNew.aspx">
            <div class="mc-navbtn">餘額明細</div>
        </a>
        <a href="http://localhost/User/Collect.aspx">
            <div class="mc-navbtn">我的收藏</div>
        </a>
        <a href="http://localhost/User/UserAccount.aspx">
            <div class="mc-navbtn">帳號設定</div>
        </a>
        <a href="/User/ServiceList">
            <div class="mc-navbtn rd-C-Hide">客服紀錄</div>
        </a>
    </div>
    @*頁簽 End*@
    @*Content Start*@
    <div class="mc-content">
        <h1 class="rd-smll">
            待用憑證列表
        </h1>
        <hr class="header_hr">
        @*篩選 Start*@
        <div class="mc-order-states">
            <div class="Orderselectarea">
                篩選分類：
                <select name="filter" onchange="ChangePage('first')" id="ddl_Filter">
                    @foreach (var item in dcnOrderSelectArea)
                    {
                        <option value="@item.Value">@item.Key</option>
                    }
                </select>
            </div>
            <div class="clearfix">
            </div>
        </div>
        @*篩選 End*@
        @*Detail Start*@
        <div id="mc-table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="rd-table">
                <thead>
                    <tr class="rd-C-Hide">
                        <th class="OrderDate">
                            訂購日期
                        </th>
                        <th class="OrderSerial">
                            訂單編號
                        </th>
                        <th class="OrderName">
                            好康名稱
                        </th>
                        <th class="OrderAmount">
                            數量
                        </th>
                        <th class="OrderExp">
                            兌換期限
                        </th>
                        <th class="OrderCouponState">
                            憑證狀態
                        </th>
                        <th class="OrderState">
                            訂單狀態
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody id="couponList">
                    @*   憑證Layout在此頁
                         Html.RenderPartial("_CouponData", Model); *@
                </tbody>
            </table>
        </div>
        @*Detail End*@
        @*分頁 Start*@
        <div id="gridPager_divPager" class="Pagination">
            <a id="gridPager_btnFirst" class="Pagination-arrow-previous rd-page-dis" href="javascript:void(0);" onclick="ChangePage('first')">第一頁</a>
            <a id="gridPager_btnPrev" class="Pagination-arrow-previous" href="javascript:void(0);" onclick="ChangePage('prev')">上一頁</a>
            <a id="gridPager_btnNext" class="Pagination-arrow-next" href="javascript:void(0);" onclick="ChangePage('next')">下一頁</a>
            <a id="gridPager_btnLast" class="Pagination-arrow-next rd-page-dis" href="javascript:void(0);" onclick="ChangePage('last')">最末頁</a>
            <span class="rd-page-dis">跳頁</span>
            <select name="ddlPages" onchange="ChangePage('')" id="ddlPages" class="rd-page-dis">
            </select>
            <span class="rd-page-dis">
                共<span id="lblPageCount" style="font-weight:bold;"></span>
                頁&nbsp;(<span id="gridPager_lrc"></span>
                筆資料)
            </span>
        </div>
        @*分頁 End*@
    </div>
    @*Content End*@
</div>
@*Main Div End*@
