﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.BizLogic.Facade;
@{
    Layout = "~/Views/UserOrder/_PponUserOrderLayout.cshtml";
}
@{
    List<ViewPponDeal> vpds = Model as List<ViewPponDeal>;
}

@LunchKingSite.Core.Helper.RenderCss("/Themes/PCweb/css/ppon_item.min.css")

<div class="item_3col_wrap" id="PponSearchMain">
    @foreach (ViewPponDeal vpd in vpds)
    {
        <div class="item_3col" data-category="88,221,117,2180,100104,136,139">
            <a class="open_new_window" href="@ViewBag.SiteUrl/@vpd.BusinessHourGuid" target="_blank">
                <div class="item_soldout_480" style="display:none;">
                    <img src="/Themes/PCweb/images/soldout_bar_480.png">
                </div>
                <div class="item_activeLogo" style="display: block">

                </div>

                <div class="item_3col_pic">
                    <img class="" data-original="@vpd.DefaultDealImage" title="@vpd.ItemName" src="@vpd.DefaultDealImage" style="display: inline;">
                </div>
                <div class="item_3col_pic_bg">
                    <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                </div>
                <div class="item_title">
                    <span class="tag_buycounter">@vpd.OrderedQuantity<span class="text">人已購買</span></span>
                    <ul>
                        @Html.Raw(PponFacade.GetDealIconHtmlContentList(vpd,6))
                    </ul>
                    <span class="tag_place">宅配</span>
                    <div class="tag_title">@vpd.ItemName</div>
                    <p class="tag_subtitle">@PponFacade.PponNewContentGet(vpd.BusinessHourGuid)</p>

                </div>
                <div class="item_3col_price_less">
                    <span class="discount">@Math.Round((vpd.ItemPrice / vpd.ItemOrigPrice) * 10, 1)<span class="smalltext">折</span></span>
                    <span class="price">$@vpd.ItemPrice.ToString("N0")</span>
                    <span class="oriprice">$@vpd.ItemOrigPrice.ToString("N0")</span>

                    <div class="item_float_btn">
                        <a onclick="GetDealDetail('@vpd.BusinessHourGuid');PopWindow($('#combodeals'));">
                            <span class="btn btn-primary btn-primary-flat btn-primary-itemsize">@PponFacade.GetDealItemBtnText(vpd)</span>
                        </a>

                    </div>
                </div>
            </a>
        </div>
    }
</div>

@Html.Raw(PponFacade.GetDefaultPponDealDetail())