﻿@{
    Layout = "~/Views/UserOrder/_PponUserOrderLayout.cshtml";
    string strCartDetailHtml = ViewBag.CartDetailHtml;
    string strCartSummaryHtml = ViewBag.CartSummaryHtml;
    int iCreditcardReferAmount = ViewBag.CreditcardReferAmount;
    int totalAmount = ViewBag.TotalAmount;
    string UserName = ViewBag.UserName;
    Dictionary<int, string> Citys = ViewBag.Citys;
    Dictionary<string, string> dicCarrierType = ViewBag.CarrierType;
    Dictionary<string, string> dicInvoiceDonation = ViewBag.InvoiceDonation;
    Dictionary<string, string> MemberDeliverys = ViewBag.MemberDeliverys;
    bool IsGuest = ViewBag.IsGuest ?? false;
    bool IsNew = ViewBag.IsNew ?? false;
    string BuyerAddress = ViewBag.BuyerAddress;
    string BuyerMobile = ViewBag.BuyerMobile;
    string BuyerName = ViewBag.BuyerName;
    string TransactionId = ViewBag.TransactionId;
}

<script type="text/javascript" src="~/Tools/js/cart/user.payment.js"></script>

<form method="post" action="OrderPayment">
    <div id="FULL" class="rd-payment-fullpage-width">
        <div id="maincontent" class="clearfix">

            <div class="content-group payment content-group-MoneyTicket-web">
                <!-- 結帳流程麵包屑 Start-->
                <h1 class="SC-Payment-steps">
                    <span>1.購物車&nbsp;&nbsp;&gt;&nbsp;</span>
                    <span class="active">2.購買資訊&nbsp;&nbsp;&gt;&nbsp;</span>
                    <span>3.訂單成立</span>
                </h1>
                <!-- 結帳流程麵包屑 End-->
                <hr class="header_hr  rd-payment-width">
                <h2 class="rd-payment-h2"><div class="step-num">1</div>確認明細</h2>
                <div class="grui-form">
                    <div class="form-unit">
                        <label for="" class="unit-label title">支付總金額</label>
                        <div class="data-input">
                            <p class="TradeAmount">$@ViewBag.TradeAmount</p>
                            <p class="TradeDate" style="display:none">@DateTime.Now.ToString("yyyy/MM/dd")</p>
                            <p class="cancel-mr">
                                <input type="button" name="btnSelectDiscount" value="展開明細" onclick="ToggleContent(this,500);" class="btn btn-small btn_message">
                            </p>
                        </div>
                    </div>

                    <!-- 訂單明細 Start-->
                    <div class="OrderDetail-recheck" style="display:block;">
                        <span class="OrderDetail-maintitle">訂單明細</span>
                        <section class="OrderDetail-FixedHeader-wrap">
                            <div class="OrderDetail-FixedHeader-ScrollRegion">
                                <table class="OrderDetail-FixedHeader-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div>好康名稱</div>
                                            </th>
                                            <th>
                                                <div>售價</div>
                                            </th>
                                            <th style="width:30px;">
                                                <div>數量</div>
                                            </th>
                                            <th style="width:75px;">
                                                <div>折價券折抵</div>
                                            </th>
                                            <th>
                                                <div>小計</div>
                                            </th>
                                            <th>
                                                <div style="padding-left:10px;">運費</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.Raw(strCartDetailHtml)
                                    </tbody>
                                </table>
                                @Html.Raw(strCartSummaryHtml)
                            </div>
                        </section>
                    </div>
                    <!-- 訂單明細 End-->
                </div><!--// grui-form // end-->


                @if (totalAmount > iCreditcardReferAmount && string.IsNullOrEmpty(UserName))
            {
                <!--超過3000 警示出現-->
                    <div class="grui-form" style="display:block" id="panGuestMemberLogin">
                        <div class="form-unit end-unit rd-pay-pos-fix warning-box-login">
                            <div class="text-center">
                                <p class="hint ">此筆訂單金額或數量較高，為維護您的權益，請登入會員再進行購買喔！</p>
                            </div>
                            <div class="data-input rd-pay-span-ctr" style="margin-left:auto;text-align:center;">
                                <p class="cancel-mr">
                                    <input type="submit" class="btn btn-large btn-primary btn-primary-flat" value="登入">
                                    <input type="submit" class="btn btn-large btn-default btn-default-flat" value="註冊">
                                </p>
                            </div>
                        </div>
                    </div><!--// grui-form // end-->
                <!--超過3000 以下隱藏-->
                }
                else
                {
                    <div class="wrapper_moneylimit" style="display:block;">
                        <h2 class="rd-payment-h2"><div class="step-num">2</div>選擇購買方式</h2>

                        <div class="grui-form">

                            <!--信用卡付款-->
                            <div class="form-unit">
                                <label for="" class="unit-label title">付款方式</label>
                                <div class="data-input">
                                    <label class="data-input-label">

                                        <input type="radio" id="rbPayWayByCreditCard" name="PayWay" onclick="SlideContent()" checked="checked" />
                                        <p class="blank">信用卡付款</p>
                                        <div class="CreditCardContent input" style="display:none">
                                            <p class="subnote rd-payment-display">
                                                歡迎使用Visa卡<br>
                                                目前暫不接受美國運通(American  Express)卡<br>
                                                交易未達門檻前，不會進行扣款動作，請放心
                                            </p>
                                            <!--<div class="visa-promo" style="width:400px;">
                                                <a href="#" target="_blank">
                                                    <img src="https://www.17life.com/images//17P/active/20150831-Mid-Autumn-Festival/310x110.jpg">
                                                </a>
                                            </!--div>-->
                                            <!-- 加入信用卡資料填寫欄位 start-->
                                            <div class="CreditCardForms"></div>
                                            <!-- 加入信用卡資料填寫欄位 end-->
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!--//信用卡付款-->
                            <!--台新卡友享分期0利率-->
                            <div class="form-unit">
                                <div class="data-input">
                                    <label class="data-input-label">
                                        <input type="radio" id="rbInstallmentDefault" name="PayWay" onclick="SlideContent()" />
                                        <p class="blank">台新卡友享分期0利率</p>
                                        <div class="phInstallmentContent input" style="display:none">
                                            <p class="subnote rd-payment-display">
                                                歡迎使用台新銀行信用卡分期服務<br>
                                                目前僅接受台新銀行信用卡使用分期0利率優
                                                惠，暫不接受其他銀行信用卡分期服務。<br>
                                                注意！使用分期付款之訂單，如需退貨則需整筆
                                                進行。若有相關問題，請洽客服中心。<br>
                                                <a href="#">信用卡分期說明</a>
                                            </p>
                                            <p class="subnote rd-payment-display">
                                                請選擇分期(*除不盡餘數於第一期收款)
                                            </p>

                                            <label class="second-label">
                                                <input type="radio" class="credit-instalment"
                                                       id="rbInstallment3Months" name="PayWayInstalment">
                                                <p class="instalment rd-payment-display">NT$266 x 3期0利率</p>
                                            </label>
                                            <div class="clearfix"></div>
                                            <label class="second-label">
                                                <input type="radio" class="credit-instalment"
                                                       id="rbInstallment6Months" name="rbInstallment6Months">
                                                <p class="instalment rd-payment-display">NT$70 x 6期0利率</p>
                                            </label>
                                            <div class="clearfix"></div>
                                            <label class="second-label">
                                                <input type="radio" class="credit-instalment"
                                                       id="rbInstallment12Months" name="PayWayInstalment" />
                                                <p class="instalment rd-payment-display">NT$35 x 12期0利率</p>
                                            </label>
                                            <!-- 加入信用卡資料填寫欄位 start-->
                                            <div class="CreditCardForms2"></div>
                                            <!-- 加入信用卡資料填寫欄位 end-->
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!--//台新卡友享分期0利率-->
                            <!--MasterPass付款-->
                            <div class="form-unit">
                                <div class="data-input">
                                    <label class="data-input-label">
                                        <input type="radio" id="rbPayWayByMasterPass" name="PayWay" onclick="SlideContent()" />
                                        <p class="blank">MasterPass付款</p>
                                        <img src="../Themes/PCweb/images/masterpass.png" width="48" height="30" alt="">
                                        <p><a href="#" target="_blank">了解更多</a></p>
                                        <div class="MasterPassContent input" style="display:none">
                                            <p class="subnote rd-payment-display ">
                                                歡迎使用MasterPass<br>
                                                目前暫不接受美國運通(American Express)卡<br>
                                                交易未達門檻前，不會進行扣款動作，請放心<br>
                                            </p>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!--//MasterPass付款-->
                            <!--台新儲值支付-->
                            <div class="form-unit">
                                <div class="data-input lmMemoryLog-wrap">
                                    <input id="rbPayWayTaishinPay" type="radio" name="PayWay" onclick="SlideContent()" /><label for="rbPayWayTaishinPay">台新儲值支付</label>
                                    <div id="ctl00_ctl00_ML_MC_pan_nonTaishinCashPoint" style="display:inline-block">

                                        <img src="../Themes/PCweb/images/taishinpay_90x30.jpg" width="76" height="30" alt="TaishinPay">
                                        <div class="surplus" style="display:inline-block"><a href="https://www.17life.com/images/17P/active/201603taishin/taishin.html" target="_blank">了解更多</a></div>
                                    </div>
                                    <div class="TaishinContent input" style="display:none">
                                        <p class="subnote rd-payment-display ">
                                            已有儲值支付帳戶，請點選"確認結帳"，<br>
                                            若尚未有帳戶，可<a href="https://sva.taishinbank.com.tw/tsb/login.aspx" target="_blank">點此註冊</a><br>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <!--//台新儲值支付-->
                            <!--ATM轉帳-->
                            <div class="form-unit">
                                <div class="data-input">
                                    <label class="data-input-label">
                                        <input type="radio" id="rbPayWayByAtm" name="PayWay" onclick="SlideContent()" />
                                        <p class="blank">ATM轉帳</p>
                                        <div class="AtmPayContent input" style="display:none">
                                            <p class="subnote rd-payment-display" id="panPayWayByAtm">
                                                請於今晚24時前完成付款<br>
                                                交易未達門檻前，我們會以客服信件通知，<br>
                                                費用將全額退回您所提供的受款帳戶，請放心<br>
                                            </p>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!--//ATM轉帳-->
                            <!--LinePay-->
                            <div class="form-unit">
                                <!-- //linePay //start -->
                                <div class="data-input">
                                    <label class="data-input-label">
                                        <input type="radio" id="rbPayWayByLinePay" name="PayWay" onclick="SlideContent()" />
                                        <p class="blank">LinePay</p>
                                        <img src="../Themes/PCweb/images/linepay_76x30.png" width="76" height="30" alt="">
                                        <p><a href="#" target="_blank">了解更多</a></p>
                                        <div class="LinePayContent input" style="display:none">
                                            <p class="subnote rd-payment-display" id="panPayWayByLinePay">
                                                歡迎使用Line Pay<br>
                                                請準備您的手機以完成交易
                                            </p>
                                        </div>
                                    </label>
                                </div>
                            </div><!-- //linePay //end -->
                            <!--//LinePay-->
                        </div><!--// grui-form // end-->

                        <h2 class="rd-payment-h2"><div class="step-num">3</div>填寫購買資訊</h2>
                        <div class="grui-form">
                            <div id="tdBuyerEmail" class="form-unit">
                                <label for="" class="unit-label">E-mail</label>
                                <div class="data-input">
                                    <input type="text" id="BuyerEmail" name="BuyerEmail" placeholder="請填寫您常用的電子信箱，以便傳送購買資訊" class="input-2over3" value="@UserName">
                                    @if (IsNew)
                                    {
                                        @* 非會員 *@
                                        <p class="note" style="display:none;">哈囉新朋友，歡迎你!</p>
                                    }
                                    else if (IsGuest)
                                    {
                                        @*0級會員*@
                                        <p class="note" style="display:none;">嗨! 歡迎認證成為正式會員喔!</p>
                                    }
                                    else if (string.IsNullOrEmpty(UserName))
                                    {
                                        @*1級會員*@
                                        <p class="note" style="display:inline-block;">
                                            <a href="#" target="_blank">嗨! 建議<span style="text-decoration:underline;">登入</span>以更快完成購買哦!</a>
                                        </p>
                                    }
                                </div>
                                <div id="buyerEmailErr" class="data-input enter-error" style="display:none">
                                    <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請使用字母、數字及英文句點，如17life@example.com</p>
                                </div>
                            </div>

                            <div id="tdBuyerName" class="form-unit">
                                <label for="" class="unit-label">姓名</label>
                                <div class="data-input" style="display:block">
                                    <input id="BuyerName" name="BuyerName" type="text" placeholder="請填寫正確姓名，以維護您的權益" class="input-2over3" value="@BuyerName">
                                </div>
                                <div id="buyerNameErr" class="data-input enter-error" style="display:none">
                                    <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請填入姓名！</p>
                                </div>
                            </div>

                            <div id="tdBuyerMobile" class="form-unit">
                                <label for="" class="unit-label">手機</label>
                                <div class="data-input" style="display:block">
                                    <input type="text" id="BuyerMobile" name="BuyerMobile" placeholder="請填寫手機號碼，以便傳送簡訊兌換券" class="input-2over3" value="@BuyerMobile">
                                </div>
                                <div id="BuyerMobileErr" class="data-input enter-error" style="display:none">
                                    <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請確認格式，僅可輸入純數字10碼，ex：0912345678</p>
                                </div>
                            </div>

                            <div class="form-unit">
                                <label for="" class="unit-label title">收件人資訊</label>
                                <div class="data-input">
                                    <label class="data-input-label">
                                        <p class="cancel-mr">
                                            <input type="submit" name="btnSelectDiscount" value="同購買人資訊" onclick="copyBuyerInfo('@BuyerAddress'); return false;" class="btn btn-small btn_message">
                                        </p>
                                        <p class="cancel-mr">
                                            @if (!string.IsNullOrEmpty(UserName))
                                            {
                                                <!--<input type="submit" name="btnSelectDiscount" value="其他收件人" onclick="ShowDiscount(); return false;" class="btn btn-small btn_message">-->
                                                <select id="receiverSelect" name="receiverSelect">
                                                    @foreach (var data in MemberDeliverys)
                                                    {
                                                        <option value="@data.Key">@data.Value</option>
                                                    }
                                                </select>
                                            }
                                        </p>
                                    </label>
                                </div>
                            </div>

                            <div id="tdRecName" class="form-unit">
                                <label for="" class="unit-label">收件人姓名</label>
                                <div class="data-input">
                                    <input id="ReceiverName" name="ReceiverName" type="text" placeholder="請填寫收件人姓名，確保收到商品" class="input-full">
                                </div>
                                <div id="receiverNameErr" class="data-input enter-error" style="display:none">
                                    <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請填寫收件人姓名！</p>
                                </div>
                            </div>

                            <div id="tdRecMobile" class="form-unit">
                                <label for="" class="unit-label">聯絡電話</label>
                                <div class="data-input">
                                    <input id="ReceiverMobile" name="ReceiverMobile" type="text" placeholder="請填寫收件人聯絡電話，確保商品送達" class="input-full">
                                </div>
                                <div id="receiverMobileErr" class="data-input enter-error" style="display:none">
                                    <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請填寫收件人的聯絡電話！</p>
                                </div>
                            </div>

                            <div id="tdRecAddr" class="form-unit">
                                <label for="" class="unit-label">地址</label>
                                <div class="data-input">
                                    <select id="ddlBuyerCity" name="ddlBuyerCity" class="select-wauto">
                                        <option selected="selected" value="">請選擇</option>
                                        @foreach (var data in Citys)
                                        {
                                            <option value="@data.Key">@data.Value</option>
                                        }
                                    </select>
                                    <select id="ddlBuyerArea" name="ddlBuyerArea" class="select-wauto">
                                        <option selected="selected" value="">請選擇</option>
                                    </select>
                                    <input type="text" id="ReceiverAddress" name="ReceiverAddress" placeholder="請填寫收件人地址，確保商品送達" class="input-full">
                                </div>
                                <div id="receiverAddrErr" class="data-input enter-error" style="display:none">
                                    <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請選擇收件的縣市與鄉鎮區域，並填寫完整的收件地址。<br> 註：此商品恕不配送離島、外島地區。請選擇並填寫本島的收件地址。</p>
                                </div><br>
                            </div>

                            <div class="form-unit">
                                <div class="data-input">
                                    <label class="data-input-label">
                                        <input id="chkRememberUserInfo" name="chkRememberUserInfo" type="checkbox" checked="checked">
                                        <p class="cancel-mr rd-letter-spacing note blank">
                                            記住以上資訊（若您使用共用裝置，請勿勾選）
                                        </p>
                                    </label>
                                </div>
                            </div>
                        </div><!--// grui-form // end-->



                        <h2 class="rd-payment-h2">
                            <div class="step-num rd-payment-step-num">4</div>選擇發票開立方式<p class="note">選擇發票開立方式後，不得要求原發票變更開立方式。</p>
                        </h2>
                        <div class="grui-form">
                            <div class="form-unit">
                                <label for="" class="unit-label title">發票開立方式</label>
                                <div class="data-input">
                                    <ul class="permutation">
                                        <li>

                                            <label class="data-input-label">
                                                <input id="rbInvoiceDuplicate" type="radio" name="InvoiceMode" value="rbInvoiceDuplicate" checked="checked" onclick="ChangeInvoiceMode(@ViewBag.pezDonationCode,@ViewBag.genesisDonationCode,@ViewBag.sunDonationCode);"><p class="blank">個人電子發票(二聯式)</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="data-input-label">
                                                <input id="rbInvoiceDonation" type="radio" name="InvoiceMode" value="rbInvoiceDonation" onclick="ChangeInvoiceMode(@ViewBag.pezDonationCode,@ViewBag.genesisDonationCode,@ViewBag.sunDonationCode);"><p class="blank">捐贈發票</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="data-input-label">
                                                <input id="rbInvoiceTriplicate" type="radio" name="InvoiceMode" value="rbInvoiceTriplicate" onclick="ChangeInvoiceMode(@ViewBag.pezDonationCode,@ViewBag.genesisDonationCode,@ViewBag.sunDonationCode);"><p class="blank">公司紙本發票(三聯式)</p>
                                            </label>
                                        </li>
                                    </ul>
                                    <!--二聯式電子發票展開收合Start-->
                                    <div id="divInvoice2" style="display:block">
                                        <p class="note">
                                            電子發票依據財政部令台財稅字第0990216895號<br>
                                            「 <a href="https://www.einvoice.nat.gov.tw/home/DownLoad?fileName=1377486728934_0.pdf" target="_blank">電子發票實施作業要點</a> 」北市稽中南(甲)字第8020535800號函核准使用。
                                        </p>
                                        <p class="note">
                                            ※ 17Life將依財政部提供之名單，主動將中獎發票以掛號寄送給您。<br>
                                            ※ 依統一發票使用辦法規定：二聯式發票一經開立，不得任意更改為三聯式發票。<br>
                                            <label class="data-input-label">
                                                <input type="checkbox" id="chkPersonalCarrier" name="chkPersonalCarrier" onclick="CheckPersonalCarrier(this, @((int)LunchKingSite.Core.CarrierType.Member), @((int)LunchKingSite.Core.CarrierType.Phone), @((int)LunchKingSite.Core.CarrierType.PersonalCertificate), @((int)LunchKingSite.Core.CarrierType.None));">
                                                <span class="blank">使用<a href="https://www.einvoice.nat.gov.tw/APMEMBERVAN/GeneralCarrier/generalCarrier?mp=1" target="_blank">手機條碼載具</a>、<a href="https://www.einvoice.nat.gov.tw/APMEMBERVAN/NPCBarcode/NPCBarcode!pwdApply?CSRT=8396858996934606537" target="_blank">自然人憑證載具</a>或需索取紙本。</span>
                                            </label>
                                        </p>
                                        <!--點此展開收合Start-->
                                        <div id="PersonalCarrier" style="display:none">
                                            <select id="ddlCarrierType" name="ddlCarrierType" class="select-wauto" onchange="ChangeCarrierType(this, @((int)LunchKingSite.Core.CarrierType.Member), @((int)LunchKingSite.Core.CarrierType.Phone), @((int)LunchKingSite.Core.CarrierType.PersonalCertificate), @((int)LunchKingSite.Core.CarrierType.None));">
                                                @foreach (var data in dicCarrierType)
                                                {
                                                    <option value="@data.Key">@data.Value</option>
                                                }
                                            </select>
                                            <p id="carrierNote" class="note">使用手機條碼載具或自然人憑證載具，將由財政部通知中獎。</p>
                                            <!--手機條碼載具Start-->
                                            <div id="tdPhoneCarrier" class="form-unit sublevel">
                                                <label for="" class="unit-label">手機條碼</label>
                                                <div class="data-input" style="display:block">
                                                    <input type="text" id="txtPhoneCarrier" name="txtPhoneCarrier" class="input-half"><p class="note">共8碼。限數字與大寫英文，並以 / 開頭。</p>
                                                </div>
                                                <div id="phoneCarrierErr" class="data-input enter-error" style="display:none">
                                                    <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請輸入手機條碼。</p>
                                                </div>
                                                <div id="phoneCarrierInvalid" class="data-input enter-error" style="display: none">
                                                    <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">
                                                    <p>此手機條碼無效，請您重新輸入。</p>
                                                </div>
                                            </div>
                                            <!--手機條碼載具End-->
                                            <!--自然人憑證載具Start-->
                                            <div id="tdPersonalCertificateCarrier" class="form-unit sublevel">
                                                <label for="" class="unit-label">自然人憑證</label>
                                                <div class="data-input">
                                                    <input type="text" id="txtPersonalCertificateCarrier" name="txtPersonalCertificateCarrier" class="input-half"><p class="note">共16碼：2碼大寫英文+14碼數字。</p>
                                                </div>

                                                <div id="personalCertificateCarrierErr" class="data-input enter-error" style="display:none">
                                                    <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請輸入自然人憑證條碼。</p>
                                                </div>
                                                <div id="personalCertificateCarrierInvalid" class="data-input enter-error" style="display:none">
                                                    <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>此自然人憑證條碼無效，請您重新輸入。</p>
                                                </div>
                                            </div>
                                            <!--自然人憑證載具End-->
                                            <!--二聯式紙本發票Start-->
                                            <div id="PaperInvoice" style="display: none;">
                                                <div id="tdInvoName" class="form-unit sublevel error">
                                                    <label for="" class="unit-label">收件人</label>
                                                    <div class="data-input">
                                                        <input type="text" class="input-half" id="InvoiceBuyerName" name="InvoiceBuyerName">
                                                    </div>
                                                    <div id="invoNameErr" class="data-input enter-error" style="display:none">
                                                        <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請填寫發票收件人姓名。</p>
                                                    </div>
                                                </div>
                                                <div id="tdInvoAddr" class="form-unit sublevel error">
                                                    <label for="" class="unit-label">發票地址</label>
                                                    <div class="data-input">
                                                        <input type="text" id="InvoiceAddress" name="InvoiceAddress" class="input-full">
                                                    </div>
                                                    <div id="invoAddrErr"  class="data-input enter-error" style="display:none">
                                                        <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請填寫發票收件地址。</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--二聯式紙本發票End-->
                                        </div>
                                        <!--點此展開收合End-->
                                    </div>
                                    <!--二聯式電子發票展開收合End-->
                                    <!--二聯式捐贈發票展開收合Start-->
                                    <div id="divInvoiceDonation" style="display:none">
                                        <div class="clearfix"></div>
                                        <select id="ddlInvoiceDonation" name="ddlInvoiceDonation" class="select-wauto" onclick="ChangeInvoiceDonation(this, @ViewBag.pezDonationCode,@ViewBag.genesisDonationCode,@ViewBag.sunDonationCode);">
                                            @foreach (var data in dicInvoiceDonation)
                                            {
                                                <option value="@data.Key">@data.Value</option>
                                            }
                                        </select>
                                        <!--南投縣青少年空手道推展協會Start-->
                                        <p style="display:none" id="divInvoicePezDonation" class="headnote">認識<a href="http://www1.payeasy.com.tw/300/about/aim.shtml" target="_blank">南投縣青少年空手道推展協會</a></p>
                                        <!--南投縣青少年空手道推展協會End-->
                                        <!--創世社會福利基金會Start-->
                                        <p style="display:none" id="divInvoiceGenesisDonation" class="headnote">認識<a href="http://www.genesis.org.tw/benefaction.php" target="_blank">創世社會福利基金會</a></p>
                                        <!--創世社會福利基金會End-->
                                        <!--財團法人陽光社會福利基金會Start-->
                                        <p style="display:none" id="divInvoiceSunDonation" class="headnote">認識<a href="http://www.sunshine.org.tw/" target="_blank">財團法人陽光社會福利基金會</a></p>
                                        <!--財團法人陽光社會福利基金會End-->
                                        <!--其他捐贈單位Start-->
                                        <div style="display:none" id="divInvoiceDonationOther">
                                            <p class="headnote"><a href="https://www.einvoice.nat.gov.tw/APMEMBERVAN/XcaOrgPreserveCodeQuery/XcaOrgPreserveCodeQuery?CSRT=8396858996934606537" target="_blank">查詢社福團體愛心碼</a></p>
                                            <div id="tdLoveCode" class="form-unit sublevel">
                                                <label for="" class="unit-label">請輸入愛心碼</label>
                                                <div class="data-input">
                                                    <input type="text" class="input-half" id="txtLoveCode" name="txtLoveCode"><p class="note">請輸入3~7碼數字。</p>
                                                </div>
                                                <div id="loveCodeErr" class="data-input enter-error" style="display:none">
                                                    <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請輸入3~7碼數字愛心碼。</p>
                                                </div>
                                            </div>
                                            <div class="form-unit sublevel">
                                                <label for="" class="unit-label">捐贈單位名稱</label>
                                                <div class="data-input">
                                                    <p class="note">請於上方輸入正確的愛心碼。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--其他捐贈單位End-->
                                    </div>
                                    <!--二聯式捐贈發票展開收合End-->
                                    <!--三聯式紙本發票展開收合Start-->
                                    <div id="divInvoice3" style="display:none">
                                        <div class="clearfix"></div>
                                        <p class="note">發票開立後，不得變更發票抬頭或統一編號。</p>
                                        <div class="form-unit sublevel ">
                                            <label for="" class="unit-label">發票抬頭</label>
                                            <div class="data-input">
                                                <input type="text" class="input-half" id="InvoiceTitle" name="InvoiceTitle">
                                            </div>
                                            <div id="invoTitleErr" class="data-input enter-error" style="display:none">
                                                <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請填入發票抬頭。</p>
                                            </div>
                                        </div>
                                        <div id="tdInvoNumber" class="form-unit sublevel">
                                            <label for="" class="unit-label">統一編號</label>
                                            <div class="data-input">
                                                <input type="text" class="input-half" id="InvoiceNumber" name="InvoiceNumber">
                                            </div>
                                            <div class="data-input enter-error" style="display:none">
                                                <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請填寫統一編號八碼。</p>
                                            </div>
                                        </div>
                                        <div id="tdInvoName" class="form-unit sublevel">
                                            <label for="" class="unit-label">收件人</label>
                                            <div class="data-input">
                                                <input type="text" class="input-half" id="InvoiceBuyerName2" name="InvoiceBuyerName2">
                                            </div>
                                            <div class="data-input enter-error" style="display:none">
                                                <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請填寫發票收件人姓名。</p>
                                            </div>
                                        </div>
                                        <div id="tdInvoAddr" class="form-unit sublevel">
                                            <label for="" class="unit-label">發票地址</label>
                                            <div class="data-input">
                                                <input type="text" class="input-full" id="InvoiceAddress2" name="InvoiceAddress2">
                                            </div>
                                            <div class="data-input enter-error" style="display:none">
                                                <img src="../Themes/PCweb/images/enter-error.png" width="20" height="20">  <p>請填寫發票收件地址。</p>
                                            </div>
                                        </div>
                                        <div id="tdInvoiceSave" style="display: block;">
                                            <input id="InvoiceSave" type="checkbox" name="InvoiceSave" checked="checked"><label for="InvoiceSave">儲存本次填寫內容</label>
                                        </div>
                                    </div>
                                    <!--三聯式紙本發票展開收合End-->
                                </div>
                            </div>
                        </div><!--// grui-form // end-->
                        <!-- 修改訂單/確認結帳鈕，取代舊版的「下一步」鈕 Start-->
                        <div class="btn-group btn-group-full-page-center">
                            <div class="btn-half">
                                <a href="@ViewBag.SiteUrl/UserOrder/OrderList?tid=@ViewBag.tid" class="btn btn-default btn-default-flat">
                                    修改訂單
                                </a>
                            </div>

                            <div class="btn-half">
                                <input type="submit" class="btn btn-primary btn-primary-flat" id="btnPay" value="確認結帳">    
                                <input type="hidden" id="TransactionId" name="TransactionId" value="@TransactionId" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- 修改訂單/確認結帳鈕，取代舊版的「下一步」鈕 End-->

                    </div><!--// wrapper_moneylimit // end-->
                }
            </div><!--// content-group-MoneyTicket-web // end -->


        </div><!--// maincontent // end -->
    </div>
</form>