
@mixin size($w,$h:$w){
    width: $w;
    height: $h;
}

//Global Settings
*{
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;	
    vertical-align: center;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    position: relative;
    margin-top: 2rem;
	border-collapse: collapse;
	border-spacing: 0;
}
button {
padding: 0px;
}

/* Base ========================================================= */
html {
	font-size: 62.5%;
    height: 100%;
    height: 100%;
} 
body {
	font: 1.5em/ 1.8 Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
    color: #666;
    height: 100%;
	} 
.clearfix {display: block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
a {
	/*color: #2ab0a9;*/
	color: #1d8ecf;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
select {
	height: 2rem;
	padding: 3px 3px;
	min-width: 60px;
	margin: 10px 4px;
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	cursor: pointer;
	&:focus{
		background-color: #fff;
	}
}
input, button, textarea {font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;}

/* Layout ========================================================= */
.center {
	display: block;
	width: auto;
	}
header {width:100%;}
section {min-height: 500px;}
.bor-none{ border:none;}
.bor-btm{ border-bottom: 1px solid #aaa;}
.zone {margin-bottom: 20px;}
.col-1-1 {width:100%;}
.flo-right {float: right;}
.flo-left {float: left;}
.alg-center {text-align: center;}
.alg-right {text-align: right;}
.pdg-10 {padding: 10px;}
.pdg-15 {padding: 15px;}
.pdg-40 {padding: 40px;}
.pdg-20-0{ padding:20px 10px 0 10px;}
.pdg-hor-0{ padding-top: 0;}
.pdg-hor-20{ padding-top: 20px;}
.pdg-btm-10{ padding-bottom: 10px;}
.pdg-btm-20{ padding-bottom: 20px;}
.mrg10-hor {margin: 10px auto;}
.mrg20-hor {margin: 20px auto;}
.mrg10-ver {margin: 0 10px;}
.mrg20-ver {margin: 0 20px;}
.mrg10-top {margin: 10px 0 0 0 ;}
.mrg10-btm {margin: 0 0 10px 0;}
.mrg20-top {margin: 20px 0 0 0 ;}
.mrg20-btm {margin: 0 0 20px 0;}
.mrg30-btm {margin: 0 0 30px 0;}
.mrg0-top{margin-top: 0 !important}
.mrg0-btm{margin-bottom: 0 !important;}
.dis-inline {display: inline; }
/* Module ========================================================= */

/*主選單*/
.main-nav li {float: left;}
/*小選單*/
.small-nav li {float: left;}
/*列表表格*/
.list-tb{
    width: 100%;
    margin-bottom: 20px;
    & th,& td{
        text-align: center;
        padding: 5px;
        border: 1px solid #e5e5e5;
        vertical-align: middle;
    }
    & th{
        font-weight: 600;
		border-bottom: 2px solid #e5e5e5;
		div{
			i{
				@include size(12px);
				background-image: url(../images/angle-down-solid.svg);
				background-size: cover;
				background-position: center center;
				cursor: pointer;
				display: inline-block;
				&:nth-child(2){
					transform: rotate(180deg);
				}
				&.hidden{
					display: none;
				}
			}
		}
    }
    & td{
        color: #666;
		font-size: 0.9em;
		button[type="button"]{
			background-color: transparent;
			color: #666;
			&.on{
				color: #1d8ecf;
				cursor: pointer;
				&:hover{
					text-decoration: underline;
				}
			}
		}
    }
    & tr{		
        &.tr-red td{
            color: #d83c3c;
        }
        &.tr-green td{
            color: #31B237;
        }
    }
    & tr:nth-child(even){
        background-color: #f5f5f5;
    }
}

.list-tb th.alg-left, .list-tb td.alg-left {text-align: left ;}

.list-tb button:not(*:root) {font-size: 1em;/*for chrome*/}



/*表單*/
.fr-group .fr-item .fr-content select, 
.fr-group .fr-item .fr-content textarea, 
.fr-group .fr-item .fr-content input[type="text"], 
.fr-group .fr-item .fr-content input[type="password"], 
.fr-group .fr-item .fr-content input[type="date"], 
.fr-group .fr-item .fr-content input[type="time"], 
.fr-group .fr-item .fr-content input[type="datetime-local"],
.fr-group .fr-item .fr-content input[type="textarea"],
.testcode input[type="text"] {
	display: inline-block;
	padding: 3px 5px;
	font-size: 0.9em;
	line-height: 1.8em;
	color: #666;
	vertical-align: middle;
	margin-top: 5px;
	min-height: 1.8em;
}	
.fr-group .fr-item .fr-content select,
.fr-group .fr-item .fr-content textarea,
.fr-group .fr-item .fr-content input[type="text"],
.fr-group .fr-item .fr-content input[type="password"],
.fr-group .fr-item .fr-content input[type="date"],
.fr-group .fr-item .fr-content input[type="time"],
.fr-group .fr-item .fr-content input[type="datetime-local"],
.fr-group .fr-item .fr-content input[type="textarea"],
.testcode input[type="text"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
.fr-group .fr-item .fr-content input[type="radio"]{
	margin-top: 10px;/**/
}
.fr-group .fr-item .fr-content textarea:focus,
.fr-group .fr-item .fr-content input:focus,
.fr-group .fr-item .fr-content select:focus,
.testcode input:focus {
	/*border-color: rgba(42, 176, 169, 0.6);*/
	border-color: #d83c3c;
	/*border-color: rgba(250, 0, 0, 0.6);*/
	outline: 0;
}
.fr-group .fr-item .fr-content p {
	display: inline-block;
	 *display: inline;
	vertical-align: top;
	margin-right: 10px;/**/
	padding-top: 5px;
}
.fr-group .fr-item .fr-content p.f-small {margin-top: 5px;}
.fr-group {
	padding-top: 5px;
	margin-bottom: 20px;
}
.fr-item {margin: 15px 0;}
.fr-item .fr-label {
	float: left;
	text-align: right;
	width: 20%;
	margin-right: 3%;
	color: #333;
	font-weight: 600;
	padding-top: 5px;
}
.fr-item .fr-content {margin-left: 23%;}
.fr-input-defaul {width: 20%;}
.fr-input-large {width: 70%;}
.fr-input-middle {width: 35%;}
.fr-input-small {width: 15%;}
.fr-bg-gray {background: #F8F8F8;}
.fr-bg-green {background: #F0F8F6;}

/* State  ========================================================= */
.pc-logo a {
	background: url(../images/logo_17life.png) no-repeat;
	display: block;
	width: 400px;
	height: 50px;
	text-indent: 230px;
	line-height: 2.5;
	font-weight: bold;
	/*text-shadow: 0 2px 0 rgba(0,0,0,0.8);*/
}
.pc-logo a:hover{ text-decoration: none;}
/*右上角登入*/
.mb-nav a {/*color: #93D2CF;*/ color: #1d8ecf;}
/*主選單*/
.main-nav a {
	color: #9a9a9a;
	display: block;
	font-size: 1.2em;
	font-weight: 600;
	padding: 5px 20px;
	text-decoration: none;
	background: white;
	border-bottom: 4px solid #dfdfdf;
	margin-right: 1em;
	margin-bottom: 0.5em;
	-webkit-transition: all .15s ease-out;
	   -moz-transition: all .15s ease-out;
		 -o-transition: all .15s ease-out;
			transition: all .15s ease-out;
}
.main-nav a:hover {
	color: #fff;
	background: #d00000;
	border-bottom: 4px solid #960000;
}
/*小選單*/
.small-nav a{
	color: #fff;
	display: block;
	font-size: 0.9em;
	font-weight: 600;
	padding: 3px 10px;
	text-decoration: none;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

a.tab-on {
	color: #fff;
	background: #d00000;
	border-bottom: 4px solid #960000;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
/*超連結*/
a.lnk-white {color: #fff;}
a.lnk-white:hover {text-decoration: none;}
a.lnk-gray{ color:#666;}

/*表格排序*/
.sort-initial a {
	padding-left: 10px;
	color: #666;
}
.sort-up a,.sort-down a {
	padding-left: 10px;
	color: #343434;
}
.sort-initial a:hover, .sort-down a:hover, .sort-up a:hover {
	color: #000;
	text-decoration: none;
}
.sort-off {	
	background: url(off.png) no-repeat;
}
/*.sort-off{	
	display: inline-block;
	margin: 0 5px;
	border: 5px solid transparent;
	border-top: 5px solid #fff;
}
.sort-on{	
	display: inline-block;
	margin: 0 5px;
	border: 5px solid transparent;
	border-bottom: 5px solid #fff;
}*/

/*測試序號*/
.off {display: none;}

/*按鈕*/
.btn {
	border: none;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all .05s ease-out;
	   -moz-transition: all .05s ease-out;
		 -o-transition: all .05s ease-out;
			transition: all .05s ease-out;
}
.btn-primary {
	background: #d00000;
	border-bottom: 2px solid rgba(39,65,90,.3);
}
.btn-primary:hover {background: #bc0000;}
.btn-danger {
	background: #f47e7e;
	cursor: pointer;
	border-bottom: 2px solid rgba(209,41,41,.3);
}
.btn-danger:hover {background: #F26969;}
.btn-default {
	background: #5C6070;
	border-bottom: 2px solid rgba(36,36,42,.3);
}
.btn-default:hover {background: #505462;}
.btn-cancel {
	background: #fff;
	cursor: pointer;
	color: #F26969;
}
.btn-cancel:hover {
	color:#F05151;
	background: #FFEAEA;
}
.btn-link {
	color: #1d8ecf;
	text-decoration: none;
	cursor: pointer;
	border: none;
	background: none;
}
.btn-link:hover {text-decoration: underline;}
.btn-unlink, .btn-unlink:hover {
	color: #ccc;
	text-decoration: none;
	cursor: not-allowed;
	border: none;
	background: none;
}
.btn-noline{ 
	text-decoration: none;
}
.btn-noline:hover{ 
	text-decoration: none;
}
.btn-disabled {background: #eee;}
.btn-sort-off{
	background: #5C6070 url(off.gif) no-repeat  94% center;
	border-bottom: 2px solid rgba(36,36,42,.3);
}
.btn-sort-on{
	background: #5C6070 url(on.gif) no-repeat  94% center;
	border-bottom: 2px solid rgba(36,36,42,.3);
}
.btn-sort-off:hover{
	background: #505462 url(off.gif) no-repeat  94% center;
}
.btn-sort-on:hover{
	background: #505462 url(on.gif) no-repeat  94% center;
}
.btn-small {
	padding: 3px 5px;
	font-size: 0.9em;
	margin-right: 5px;
	margin-top: 5px;
}
.btn-medium {
	padding: 5px 10px 6px;
	font-size: 1em;
}
.btn-large {
	padding: 10px 20px;
	font-size: 1.2em;
}
.btn-long{ padding-right:10px; padding-left:10px; }

/* Theme ========================================================= */
/*font*/
header h1 {font-size: 1.5em;}
h2 {
	font-size: 1.3em;
	font-weight: 600;
	border-bottom: 1px solid #ccc;
	color: #b00000;
	line-height: 2.2;
}
// .mb-name span {/*color: #FFEBCA;*/}
.f-white {color: #fff;}
.f-green {color: #4FB5B0;}
.f-gray{color: #aaa}
.f-red {color: #d83c3c;}
.f-large {font-size: 1.5em;}
.f-small {font-size: 0.8em;}
.code {
	font-size: 0.8em;
}
.testcode p {line-height: 2.5;}		
/*color*/
.bg-greensea {background: #2ab0a9;}
.bg-darkgray {background: #fff;}
.bg-gray {background: #eee;}
.bg-white {background: #fff;}
.mb-nav {color: #999;}
.arrow {font: 1.2em/1 Verdana, Arial, sans-serif;}
.shadow-s{box-shadow: 0px 0px 8px #999;}

/*上傳照片*/
.upload-img{display: block; width: 548px; height: 300px;}


/*****
*
*
*store （選擇分店:有的有 有的沒有）
*
*
*****/
.store_wrap{
	height: 400px;
}
.store{
	width: 49%;
	width: 316px;
	margin-right: 10px;
	height: 310px;
	overflow-y: auto;
	border: 1px solid #ccc;
}
.store_wrap h5{ 
	width: 320px; 
	margin-right: 8px;
}
.fr-group .fr-item .fr-content .store_wrap p{
	display: block; 
	text-align: center;
}

/*****
*
*
*skm-place （選擇分店:全部都有）
*
*
*****/
ul.skm-place{
	width: 660px;
}
ul.skm-place li{ 
	float: left; 
	width: 130px; 
}

/* 推薦卡別 */
ul.skm-place2{
	width: 100%;
}
ul.skm-place2 li{ 
	float: left; 
	width: 130px; 
}

/*****
*
*
*拖拉換位置
*
*
*****/
.table-title { float: left; 
	text-align: center; 
	border: 1px solid #ccc; 
	line-height: 40px;
}
.table-title-1{ 
	width: 240px;  
	border-right: none;
}
.table-title-2{ 
	width: 240px; 
	border-right: none;
}
.table-title-3{ 
	width: 300px; 
	border-right: none;
}
.table-title-4{ 
	width: 80px; 
}

.table-wrap .table-title{
	background: #f9f9f9;
}

.dragsort li{ 
	clear: both; 
	width: 880px; 
	height: 40px; 
	background: #fff;
}



/*****
*
*
*排檔順序
*
*
*****/
.data-carousel{ 
	position: relative;
	overflow: auto; 
	margin:0 auto;  
	margin-left: 10px; 
}
.data-location{ 
	background: #ccc;
	padding: 5px 5px 5px 5px; 
	margin-top: 5px; 
}
.data-title{ 
	background: #f9f9f9; 
}
.date-item { 
	float: left;  
	width: 134px; 
}
// .date-item:last-child{ }
.date-item .data-title{ 
	border:1px solid #ccc; 
	outline: 1px solid #ccc;
}
// .date-item ul { }
.date-item ul li{	
	border:1px solid #ccc;
	outline: 1px solid #ccc;
	list-style:  decimal;
	list-style-position:inside;
	padding: 5px;
	/**/
	height: 90px;
	overflow: hidden;
}
.date-item ul li { line-height: 20px;}



/*****
*
*
*skm_app首頁版型設定
*
*
*****/
// .type-set-wrap .btn-cancel{}

.type-set-wrap .type-set-title{ 
	float: right;
}
.type-set-wrap .type-set-title .btn-cancel{ 
	background: #ccc; 
	border:1px solid #fff;
	font-size: 14px;
	padding: 2px 5px;  
}
.type-set-wrap .type-set-title a{
	text-decoration: none;
	color: #666;
}
.type-set-wrap .type-set-title a:hover{
	border:1px solid #d00000; 	
}

.sequence-select-wrap ul.small-nav a{
	float: left;
	margin-right: 10px;
}
.sequence-select-wrap ul.small-nav select{
	margin-right: 35px;
}

/*****
*
*
*版型設定
*
*
*****/
.type-wrap{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 10px;
}
.type-wrap p{ 
	display: inline-block;
	padding-top: 5px;
}
.type-wrap ul li{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border:1px solid #aaa; 
	float: left;
	text-align: center;
}


.type-1 .type-1-l{
	padding-top: 45px;
	width: 100px;
	height: 150px;
}
.type-1 .type-1-s, .type-2 .type-2-s{
	padding-top: 10px;
	width: 100px;
	height: 75px;
}

.type-3 .type-3-s{
	padding-top: 45px;
	width: 65px;
	height: 150px;
}

.type-4 .type-4-l{
	padding-top: 45px;
	width: 100px;
	height: 150px;
}
.type-4 .type-4-s{
	line-height: 20px;
	padding-top: 5px;
	width: 100px;
	height: 50px;
}


.type-colume-wrap .type-colume select {
	max-width: 94%;
	margin: 0 auto;
}
.type-colume-wrap .img-wrap img{
	width: 100%;
	height: auto;
}

.type-colume-wrap .type-colume{
	float: left;
	width: 20%;
	height: 390px;
	margin-right: 1%;
	border:1px solid #aaa;
}
.type-colume-wrap .type-colume .img-wrap{
	background: #ccc;
	margin:0 auto;
}

.type-colume-wrap-1 .type-colume-1 .img-wrap{
	width: 160px;
	height: 162px;
	overflow: hidden;
}
.type-colume-wrap-1 .type-colume-2 .img-wrap{
	width: 160px;
	height: 81px;
	overflow: hidden;
}
.type-colume-wrap-1 .type-colume-3 .img-wrap{
	width: 160px;
	height: 81px;
	overflow: hidden;
}

.type-colume-wrap-2 .type-colume-1 .img-wrap{
	width: 160px;
	height: 81px;
	overflow: hidden;
}
.type-colume-wrap-2 .type-colume-2 .img-wrap{
	width: 160px;
	height: 81px;
	overflow: hidden;
}
.type-colume-wrap-2 .type-colume-3 .img-wrap{
	width: 160px;
	height: 81px;
	overflow: hidden;
}
.type-colume-wrap-2 .type-colume-4 .img-wrap{
	width: 160px;
	height: 81px;
	overflow: hidden;
}

.type-colume-wrap-3 .type-colume-1 .img-wrap{
	width: 106px;
	height: 162px;
	overflow: hidden;
}
.type-colume-wrap-3 .type-colume-2 .img-wrap{
	width: 106px;
	height: 162px;
	overflow: hidden;
}
.type-colume-wrap-3 .type-colume-3 .img-wrap{
	width: 106px;
	height: 162px;
	overflow: hidden;
}

.type-colume-wrap-4 .type-colume-1 .img-wrap{
	width: 160px;
	height: 162px;
	overflow: hidden;
}
.type-colume-wrap-4 .type-colume-2 .img-wrap{
	width: 160px;
	height: 54px;
	overflow: hidden;
}
.type-colume-wrap-4 .type-colume-3 .img-wrap{
	width: 160px;
	height: 54px;
	overflow: hidden;
}
.type-colume-wrap-4 .type-colume-4 .img-wrap{
	width: 160px;
	height: 54px;
	overflow: hidden;
}


/*****
*
*
*Beacon訊息列表
*
*
*****/
.beaconMsg-type p{ 
	float: left;
	padding-top: 8px; 
}
.beaconMsg-type p.clear{
	float: none;
}
.beaconMsg-type .fr-content{
	margin-left: 0;
	display: inline-block;
}
.beaconMsg-type .fr-input-defaul{
	width: 120px;
	margin-top: 0;
}

.beacon-table{ 
	width: 880px;
	max-height: 700px;
	padding: 10px;
	background: #f9f9f9;
	overflow-x: scroll;
	margin-right: 10px;
}
.beacon-table .beacon-item-wrap{
	width: 1500px;
}


/*Beacon 拖拉*/
// .Beacon-dragsort-wrap{

// }
.Beacon-dragsort-wrap .table-title-1{
	width: 160px;
}
.Beacon-dragsort-wrap .table-title-2{
	width: 500px;
}
.Beacon-dragsort-wrap .table-title-3{
	width: 200px;
	border: 1px solid #ccc;
}

/*Beacon 地圖*/
// .beacon-map-wrap{
// }
.beacon-map-wrap .fr-check .fr-content{
	padding-top: 5px;
}
.beacon-map-wrap .fr-check .fr-content span{
	margin-right: 10px;
}
.beacon-map-wrap .beacon-map{
	position: relative;
	padding:10px;
}
.beacon-map-wrap .beacon-map ul{
	height: 0;
}
.beacon-map-wrap .beacon-map ul li{
	width: 40px;
	height: 40px; 
	line-height: 40px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
    -moz-border-radius: 20px;

	text-align: center;
	
	border:2px solid #666;
	background: rgba(0, 0, 0, 0.5);
	background: rgba(30,189,255,0.7);
	background: rgba(157,157,157,0.7);
	color: #fff;
	position: absolute;
	z-index: 10;
	box-shadow:  0px 2px 8px #333;
}
.beacon-map-wrap .beacon-map ul li.on{
	background: rgba(30,189,255,0.8);
	border:2px solid #1769fe; 
	box-shadow:  0px 2px 8px #1f51ac;
	color: #fff;
}
.beacon-map-wrap .beacon-map ul li:hover{
	box-shadow:  0px 1px 4px #01112d;
}
.beacon-map-wrap .beacon-map .beacon-map-w{
	z-index: 1;
}

/*201605 beacon hover 下方顯示beacon全碼*/
.beacon-map-wrap .beacon-map ul li span.tips{
	display:none;
}
.beacon-map-wrap .beacon-map ul li:hover span.tips{ 
	display:block;/**/
	position:absolute;
	float:left;
	white-space:nowrap;
	bottom:-45px;
	left:-50%;
	background:#999;
	background: rgba(157,157,157,0.9);
	color:#fff;
	padding:1px 5px;
	margin:0;
	z-index:9;
}
.beacon-map-wrap .beacon-map ul li.on span.tips{
	background:rgba(30,189,255,0.8);
}

// .beacon-map-wrap .beacon-map img{	}
.data-group{ 
	min-width: 100px;
	max-width: 300px;
	height: 30px;
	padding: 5px;
	overflow: hidden;
	display: inline-block;
	background: #ccc;
}

/* 管理功能說明 160304 開始 */
.admin_note{
	padding-left:20px;
	margin:10px 0 20px 0;
	list-style:disc;
}
/* 管理功能說明 160304 結束 */



/*****
*
*
*活動campaign 2018/01
*
*
*****/
/*活動共用layout*/
// .campaign_wrap{}
.campaign_wrap .btn-primary{
	background: #d00000;
	color: #fff;
	border: 1px solid #d00000;
	border-radius: 20px;
}
.campaign_wrap .btn-secondary{
	border: 1px solid #d00000;
	background: #fff;
	border-radius: 20px;
	color:#d00000;
}
.campaign_wrap .btn-disabled{
	border: 1px solid #eee;
	background: #aaa;
	border-radius: 20px;
	color:#666;
}
.campaign_wrap .btn-link{
	border: 1px solid #fff;
	/*background: #fff;*/
	border-radius: 4px;
	color:#fff;
	line-height: 24px;
	height: 24px;
	text-align: center;
	width: 40%;
	display: block;
	margin: 0 auto;
	font-size: 13px;
}

.campaign_wrap .sloduot_wrpa{
	background: rgba(0,0,0,.75);
	position: absolute;
	z-index: 10;
	top: 80px;
	padding: 10px 0; /*解決寬度超過螢幕寬度*/
	color: #fff;
	width: 100%;
	text-align: center;
}

.campaign_wrap .campaign_img img{
	width: 100%;
	margin-bottom: -8px;
}

/*累積次數表格*/
.f-140{
	font-size: 140%;
}
.campaign_wrap .table_wrap{
	width: 96%;
	padding:2%;
	margin-bottom: 20px;
}
.campaign_wrap .table_wrap h6{
	text-align: center;
	font-size: 15px;
	letter-spacing: 5px;
}
.campaign_wrap .table_wrap .table_line{
	letter-spacing: -1px;
	color: #ccc;
	font-weight: lighter;
	font-size: 10px;
}
.campaign_wrap .table_wrap .table_row{
	background: #fff;
	display: table;
	width: 100%;
	margin-bottom: 20px;
	position: relative;	
}
.campaign_wrap .table_wrap .table_title{
	width: 70%;	
	min-height: 22px;
	line-height: 22px;
	padding-left: 5%;
	padding-top: 4%;
	padding-bottom: 4%;
	display:inline-block;
	vertical-align:middle;
}
.campaign_wrap .table_wrap .table_record{
	width: 20%;
	float: left;
	min-height: 22px;
	line-height: 22px;
	padding-right: 2%;
	text-align: center;
	position: absolute;
	right: 5%;
	top:22%;
}

.campaign_wrap .table_wrap .table_row_first{
	margin-bottom: 0;
	border-radius: 0px;
	background: #ddd;
	font-size: 13px;
}
.campaign_wrap .table_wrap .table_row_first .table_title{
	text-align: center;
	padding: 2% 0 2% 0;
}
.campaign_wrap .table_wrap .table_row_first .table_record{
	text-align: center; 
}

.campaign_wrap .table_wrap .table_item ul{
	clear: both;

}
.campaign_wrap .table_wrap .table_item ul li{
	background: #fff;
	border-bottom: 1px dashed #eee;
	display: table;
	width: 96%;
	position: relative;
	padding:2% 2% 2% 2%; 
}
.campaign_wrap .table_wrap .table_item ul li .li_left{
	float: left;
	width: 64%;
	line-height: 18px;
}
.campaign_wrap .table_wrap .table_item ul li .li_right{
	float: right;
	width: 24%;
	line-height: 18px;
	color: #999;
	text-align: center;
	font-size: 12px;
}
/*.campaign_wrap .table_wrap .table_item ul li .li_num{
	background: #ddd;
	border-radius: 50px;
	margin-right: 0px; 
	padding:2px 5px; 
	font-size: 12px;
}*/
.campaign_wrap .table_wrap .table_item ul li .li_num{
	float: left;
	width: 20px;
	/*max-width: 10%;*/
	margin:5px 5px 0 0; 
	text-align: center;
	background: #ddd;
	border-radius: 50px;
	padding:2px 5px; 
	font-size: 12px;
}
/**/
.campaign_wrap .table_wrap p.p_small{
	clear: both;
	width: 80%;
	margin: 0 auto;
	line-height: 22px;
	text-align: center;
	margin-top: 10px;
	font-size: 13px;
}


/*編輯器*/
.campaign_wrap .campaign_edit{
	padding: 10px;
	margin-bottom: 120px;
}

/*得獎內容*/
.campaign_contenter{
	position: absolute;
	width: 100%;
	top: 24%;
}
.campaign_contenter .p_title{
	font-size: 180%;
	text-align: center;
	width: 100%;
}
.campaign_contenter .campaign_contenter_box{
	text-align: center;
	width: 280px;
	margin: 0 auto;
	position: relative;
}
.campaign_contenter .campaign_contenter_box img{
	width: 100%;
}
.campaign_contenter .campaign_contenter_box .p_prize{
	position: absolute;
	top: 20%;	
	z-index: 10;
	width: 100%;
	text-align: center;
	width: 240px;
	padding: 10px 20px;
}
.campaign_contenter .p_text{
	font-size: 100%;
	text-align: center;
	width: 80%;
	margin: 0px auto 10px;
	line-height: 1.4;
}

/*按鈕(共用部分)*/
.campaign_wrap .campaign_btn{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: rgba(255,255,255,0.8);
	clear: both;
}

.campaign_wrap .campaign_btn ul li{
	float: left;
}
.campaign_wrap .campaign_btn ul li a{
	display: block;
	text-align: center;
	text-decoration: none;
}

/*單按鈕*/ 
.campaign_wrap .campaign_btn ul.btn_one li {
	width: 96%;
	margin: 2%;
}
.campaign_wrap .campaign_btn ul.btn_one li a{
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
}

/*雙按鈕*/
.campaign_wrap .campaign_btn ul.btn_two li {
	width: 45%;
	margin: 2%;
}
.campaign_wrap .campaign_btn ul.btn_two li a{
	width: 100%;
	height: 40px;	
	line-height: 40px;
}

/*跳窗*/
.block_wrap{
		width: 80%;
		padding: 10px;
		background: #fff;
		z-index: 50;
	}
	.block_wrap .btn_close{
		width: 44px;
		height: 44px;
		background: #fff;
		box-shadow: 0px 0px 10px #aaa; 
		color: #333;
		border-radius: 50px;
		border: 1px solid #eee;
		position: absolute;
		right: -20px;
		top: -20px;
		font-size: 34px;
		line-height: 44px;
		text-align: center;
	}
	.block_wrap h5{
		font-size: 140%;
		text-align: center;
		color: #333;
		border-bottom: 1px solid #ccc;
		padding: 10px 0 10px 0;
	}
	.block_wrap p.text{
		padding: 10px ;
		color: #666;
	}
	.block_wrap .strong{
		font-weight: bold; 
		font-size: 120%;
		padding:0 10px;
	}
	.block_wrap .block_btn{
		width: 100%;
	}
	.block_wrap .block_btn a{
		display: block;
		border: 1px solid #DE0716;
		color: #DE0716;
		width: 60%;
		text-align: center;
		line-height: 48px;
		margin: 0 auto;
		text-decoration: none;
		border-radius: 50px;
	}


/*css3動畫*/
.fadein_css3{

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; margin-top: -30px; }
    to   { opacity: 1; margin-top: 0px; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; margin-top: -30px;}
    to   { opacity: 1; margin-top: 0px;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; margin-top: -30px;}
    to   { opacity: 1; margin-top: 0px;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; margin-top: -30px;}
    to   { opacity: 1; margin-top: 0px;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; margin-top: -30px;}
    to   { opacity: 1; margin-top: 0px;}
}

// .side-menu li a.icon-arrow:hover,.side-menu li a.icon-arrow:focus, .side-menu a.open{
// 	background-color: #e80919;
// 	color:#fff;
	
// }

// .side-menu li ul li a.side-list:focus,.side-menu li ul li a.side-list:hover{
// 	background-color:#b00000;
// 	color:#fff;
// }


a.icon-arrow{
	font-size: 1.1em;
	font-weight: 700;
	background: url(../images/arrow-down.png) no-repeat;
    background-size: 11px 7px; 
	background-position:90% center ;
	
}

a.icon-arrow:focus{
	background: url(../images/arrow-up.png) no-repeat;
	background-size: 11px 7px; 
	background-position:90% center ;


}


.drop-down{
	margin:0px; 
	padding:0px; 
	width: 21%; 
	height:2.4em;
	margin-right:10px;
}
.drop-down-w{
	line-height: 44px;
	width: 83%;
}





/* 提示問號 */
.fa-question-align{
	line-height:44px; 
	font-size:36px;
	width: 10%;
	float: left;
	text-align: center;
	position: relative;
	color: #000;
}
.fr-select-align{
	float:left; 
	vertical-align:middle;
}

.fa-question-align:hover{
	color: #b00000;
}
.fr-border-line{
	border-top: 1px solid #ccc;
}

.fa-question-align:hover:after{
	content:attr(data-prompt);
	position:absolute;
	left:30px;
	top:20px;
	font-size: 13px;
	width:300px;
	height: auto;
	text-align:left;
	line-height:30px;
	background:rgba(176, 0, 0, .8);
	color: #fff;
	padding: 3px;
	border-radius: 5px;
	z-index: 999;
}

.fa-question-word{
	font-size:26px;
	padding:0 5px; 
	color:black;

}

.btn-center{
	width:76px; 
	margin:0 auto;
}

.fr-item .fr-label2 {
	float: left;
	text-align: right;
	margin-right: 3%;
	color: #333;
	font-weight: 600;
	padding-top: 5px;
}


.fr-item .fr-content2 {margin-left: 9%;}

.fr-item .fr-label-w{
	margin-right:0px;
}
.fr-item .fr-content2-w{
	margin-left: 5%;
}
.fr-input-name{
	width:25%; 
	height:1.8em; 
	color:#666;
	margin-left: 5px;
	
}
.fr-input-name2{
	width:50%; 
	height:1.8em; 
	color:#666;
	margin-left: 5px;
}
.fr-input-w{
	display: block; 
	float: left; 
	width:40%; 
}
.fr-input-w2{
	margin-left: 5px;
}

.date-item2{
	width:14.15%;
}

/* 標籤樣式 */
.lable-openness{
	width: 40px;
	height: 40px;
	opacity: .7;
	font-size:14px;
	line-height:20px;
	padding: 5px;
	color: #fff;
	text-align:center;

}
.lable-bg1{
	background:#D0021B;
}
.lable-bg2{
	background:#616EB8;
	opacity: .8;
}
.lable-bg3{
	background:#EB5E02;
}
.lable-bg4{
	background:#89B52D;
}
.lable-bg5{
	background:#1F87BC;
}

.lable-center{
	margin:0 auto;
}





/* 動態欄位排版 */
.inputMEMO,.inputMEMO2,.inputMEMO3,.inputMEMO4{
	margin-right: 5px;
}




/*表單*/
.fr-item .fr-content2 select, 
.fr-item .fr-content2 textarea, 
.fr-item .fr-content2 input[type="text"], 
.fr-item .fr-content2 input[type="password"], 
.fr-item .fr-content2 input[type="date"], 
.fr-item .fr-content2 input[type="time"], 
.fr-item .fr-content2 input[type="datetime-local"],
.fr-item .fr-content2 input[type="textarea"],
.testcode input[type="text"] {
	display: inline-block;
	padding: 3px 5px;
	font-size: 0.9em;
	line-height: 1.8em;
	color: #666;
	vertical-align: middle;
	margin-top: 5px;
	min-height: 1.8em;
}	
.fr-item .fr-content2 select,
.fr-item .fr-content2 textarea,
.fr-item .fr-content2 input[type="text"],
.fr-item .fr-content2 input[type="password"],
.fr-item .fr-content2 input[type="date"],
.fr-item .fr-content2 input[type="time"],
.fr-item .fr-content2 input[type="datetime-local"],
.fr-item .fr-content2 input[type="textarea"],
.testcode input[type="text"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
.fr-item .fr-content2 input[type="radio"]{
	margin-top: 10px;/**/
}
.fr-item .fr-content2 textarea:focus,
.fr-item .fr-content2 input:focus,
.fr-item .fr-content2 select:focus,
.testcode input:focus {
	border-color: #d83c3c;
	outline: 0;
}
.fr-item .fr-content2 p {
	display: inline-block;
	 *display: inline;
	vertical-align: top;
	margin-right: 10px;/**/
	padding-top: 5px;
}
.fr-item .fr-content2 p.f-small {margin-top: 5px;}

.fr-item {margin: 15px 0;}
.fr-item .fr-label {
	float: left;
	text-align: right;
	width: 20%;
	margin-right: 3%;
	color: #333;
	font-weight: 600;
	padding-top: 5px;
}




 .fr-item .fr-content2 .store_wrap p{
	display: block; 
	text-align: center;
}

.beaconMsg-type .fr-content2{
	margin-left: 0;
	display: inline-block;
}

/*Beacon 地圖*/

.beacon-map-wrap .fr-check .fr-content2{
	padding-top: 5px;
}
.beacon-map-wrap .fr-check .fr-content2 span{
	margin-right: 10px;
}



/* 文字輸入框特別排版 */
.fr-item .fr-content2 p .fr-input-special{
	border-radius: 0;
	padding:0;
	min-height: 1.3em;
	margin:0;
}

/* 多重活動設定 */

.table-drag-1{ 
	width: 5%;  
	border-right: none;
	height:120px;
	text-align: center;
	line-height: 120px;
}
.table-drag-2{ 
	width:80%; 
	border-right: none;
	padding-left: .5%;
	line-height: 40px;
}


.table-wrap .table-title{
	background: #f9f9f9;
}

.multiple-drag li{ 
	clear: both; 
	width: 100%; 
	height: 40px; 
	background: #fff;
}

.table-title2{
	float: left;
    border: 1px solid #ccc;
   
}
.fr-input-drag{
	width: 50%;
	height:20px;
}
.f-drag{
	padding-left: 5%;
}

// 自定義區 2018

/* 2018改版 */
$color_red_1:rgb(208, 57, 57);

/* 外框架 */
.wrapper{
    width:100%;
    height: 100%;
	display:grid;
	grid-template-columns:16% 84%;
	grid-template-rows:10% auto 10%;    
    margin:0 auto;
    & .frame-header{
        grid-column:1 / 3;
        grid-row:1 / 2;
        z-index: 1;
    }
    & .frame-nav{
        grid-column:1 / 2;	
        min-width:150px;
        grid-row:2 / 3;	
        background-color: #5C6070;        
    }
    & .frame-content{
        grid-column:2/ 3;
        grid-row:2 / 3;    
    }
    & .frame-footer{
        grid-column:1 / 3;
        grid-row:3/ 4;
    }
}
/* 側邊nav框架 */
.side-menu{
	display:block;
	width:100%;
    table-layout:fixed;
    position: relative;
    & li{
        position: relative;
        width: 100%;
        & a{
            display:block;
            color:#eee;
            border-bottom:1px solid #ddd;
            text-decoration: none;
            padding: 10px;
        }
        & ul{
            display: none;
            & li a{
                display:block;
                background-color: #f5f5f5;
                padding-left:30px;
                color:rgb(131, 133, 145);
                font-size: 1.4rem;
                border-right:1px solid #ccc;
                &:hover{
                    background-color: rgb(193, 122, 122);
                    color: #fff;
				}
				&:active{
					background-color: rgb(164, 65, 65);
				}
				&.focus{
					background-color: #ccc;
					color: #555;
				}
            }
        }
    }
    & .side-nav-title{
        transition: .3s;
        &::before{
            content: "";
            display: block;
            position: absolute;
            right: 15px;
            @include size(24px);
            background: url(../images/arrow-down.png) no-repeat;
            background-position: center center;
            transition: .3s;                 
        }
        &.open{
            background-color: $color_red_1;
            color: #fff;
            transition: .3s;
            &::before{
                background: url(../images/arrow-up.png) no-repeat;
                background-position: center center;
                transition: .3s;
            }
        }
    }
}
/* Header */
header.frame-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0px 10px rgba(0,0,0,.2); 
}
/* Container */
.frame-content{
    padding: 20px;
	background-color: #fff;
	.input-group{
		margin: 1rem 0;
		input[type="text"],input[type="password"]{
			border: 2px solid #ddd;
			@include size(240pt,2.2rem);
			padding-left: 1rem;
			margin: 0 .5rem;
			&:focus{
				background-color: #f5f5f5;
			}
		}
		input[type="button"]{
			@include size(5rem, 2.2rem);
			border: none;
			padding: 0px;
			font-weight: 400;
		}
	}
}
/* Footer */
footer.frame-footer{
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

/* Button Style */
.btn-float{
    cursor: pointer;
    color: #fff;
    font-weight: 300;
    margin-right: 1rem;
    @mixin btn-float-color{
        position: relative;
        box-sizing: content-box;
        padding: 10px 20px;
        top: 0;
        transition: .4s;
        &:hover{
            top: -.4rem;
            box-shadow: 0px 12px 16px rgba(#555,.1);
            transition: .3s;
        }
    }
    &.btn-float-red{
        @include btn-float-color();
        background-color: $color_red_1;
        box-shadow: 0px 4px 6px rgba(#555,.2);
        &:hover{
            background-color: lighten($color_red_1,10);                        
        }
    }
    &.btn-float-white{
        @include btn-float-color();
        background-color: white;
        box-shadow: 0px 4px 6px rgba(#555,.2);
        color: #555;
        &:hover{
            background-color: #ddd;
            color: #333;
            font-weight: 400;                   
        }
    }
}

/* --- */
// 直接覆蓋區
input[type="text"],input[type="number"]{
	border: 1px solid #ccc;
	height: 2.2rem;
	padding: .4rem;
	border-radius: 4px;
	transition: .3s;
	&:focus{
		border: 1px solid red;
		transition: .3s;
	}
}

// 訂單查詢頁
#order-list-zone{
	table{
		width: 100%;
		border: 2px solid #ddd;		
		th,td{
			border: 1px solid #ddd;
		}
		td{
			padding-left: 1rem;
			font-weight: 600;
		}
		th{
			font-weight: 400;
			color: #888;
			width: 26%;
			min-width: 10rem;
		}
		&#order-list-info{
			td{
				height: 6rem;
				text-align: center;
			}
		}
	}
	#order-list-status{
		@include size(100%, 10rem);
		background-color: #e3a883;
		margin-top: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		h5{
			font-weight: 300;
		}
	}
}






















