@charset "utf-8";
/* CSS Document */
@import "reset.css";

html,body{
	margin:0;
	background-color:#DBF1F2;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif,futura medium,"中黑體","新細明體";
	line-height:1.5em;/*指定行高*/
	color:#666666;
	letter-spacing: 0.1em;
}

.englishLetter{
	letter-spacing: 0em;
}

h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
}

em{
	font-style:normal;
	color:#FF7F00;
}

ul {
	margin:0;
	list-style-type:none;
}

#wrapper{
	position:relative;
	margin:0 auto; /*置中*/
	width:1015px;
}

/*===#indexPage===*/
/*------------------------------Top Navigation Starts-------------------------------*/
#top{
	float:right;
	width:485px;
	*width:475px;
	height:20px;
	margin-top:6px;
}

@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
	#top{margin-top:6px;}
}

#top li{
	float:left;
	color:#4D4D4D;
}

#top li a{
	color:#4D4D4D;
	text-decoration:none;
}

#top li a:hover{
	color:#4D4D4D;
	text-decoration:underline;
}

#top li#index {
	background:url(icon_index.gif) 2px no-repeat;
	*background:url(icon_index.gif) no-repeat;
	padding-left:27px;
	*padding-left:25px;
}

#top li#store{
	background:url(icon_store.gif) 2px no-repeat;
	*background:url(icon_store.gif) no-repeat;
	padding-left:24px;
	*padding-left:22px;
	margin-left:5px;
}

#top li#friend{
	background:url(icon_friend.gif) 2px no-repeat;
	*background:url(icon_friend.gif) no-repeat;
	padding-left:22px;
	*padding-left:20px;
	margin-left:3px;
}

#top li#favorite{
	background:url(icon_favorite.gif) 2px no-repeat;
	*background:url(icon_favorite.gif) no-repeat;
	padding-left:20px;
	*padding-left:18px;
	margin-left:3px;
}

#top li#payeasy a{
	display:block;
	width:80px;
	height:19px;
}

#top li#payeasy{
	background:url(payeasy.jpg) no-repeat;
	/*padding-left:85px;*/
	margin-left:5px;
	line-height:0px;
	font-size:0px;
}

@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
	#top li#payeasy{text-indent: -9999px;}
}

#top li#payeasy2{
	padding-top:1px;
	*padding-top:0px;
	*margin-top:2px;
	margin-left:4px;
}
/*------------------------------Top Navigation End-------------------------------*/
/*------------------------------Top Navigation 2nd Starts------------------------*/
#bgWhite{
	float: left;
	width: 1015px;
	margin-top:-2px;
	*margin-top:-3px;
}

@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
	#bgWhite{margin-top:-4px;}
}

#bgTop{ /*設定白色背景的上面圓角圖片*/
	float:left;
	width: 1015px;
	height: 38px;
	background:url(connerTop.jpg) left top no-repeat;
}
#bgTop p{
	float:right;
	color:#34ABAC;
	margin:18px 33px 0 0;
	*margin:18px 36px 0 0;
	_margin:18px 18px 0 0;
}

#bgTop p a{
	color:#34ABAC;
}
/*------------------------------Top Navigation 2nd End-------------------------*/
/*------------------------------Header Starts----------------------------------*/
#main{ /*設定白色背景的中間稱開的repeat-y範圍*/
	float:left;
	width: 1015px;
	background: url(connerBar.jpg) left top repeat-y;
}

#header{
	float:left;
	width: 1000px;
}

#logo{
	float:left;
	width:177px;
	height:98px;
	margin-top:-20px;
	_margin-top:0px;/*IE不能拉高了 上面會被蓋掉*/
	margin-left:40px;
	_margin-left:20px;
	background:url(17logo.jpg) no-repeat;
	color:#fff;
	line-height:0;
	font-size:0px;
	_text-indent: -9999px;
}

#logo a{
	width:177px;
	height:98px;
	display:block;
}

@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
	#logo{text-indent: -9999px;}
}

#logo h1{
	font-size:0px;
	line-height:0px;
	color:#FFF;
}

#menu{
	float:right;
	margin-top:-25px;
	_margin-top:0px;/*IE不能拉高了 上面會被蓋掉*/
	margin-right:225px;
	_margin-right:113px;
	margin-bottom:15px;/*讓content與header產生距離*/
}
/*------------------------------Header End--------------------------------*/
/*------------------------------Content Starts----------------------------*/
/*下面三欄*/
#content{
	float:left;
	width: 956px;
	margin-bottom: 40px;/*針對Footer與內文的距離*/
}

#content a, a:link{
	color:#1A4694;
	text-decoration:underline;
}

#content a:hover{
	color:#34ABAC;
	text-decoration:underline;
}

/*==================================A15頁面table設定開始 p.s以後表格設計請勿在底部設圓角, 尤其是將底圖與資料一起畫在一起真要命
========================================================================================*/
/*針對FF Safari(Mac) IE */
#a15Con{
	float:left;
	width:709px;
	background-image:url(a_tableConBG.gif);/*針對FF IE兩邊延伸的底圖*/
	_background-image:none;/*針對I6E兩邊延伸的底圖這邊的底圖必須取消掉, 以下面的#conMiddle取代才不會右上角出現藍邊 */
	margin-left:149px;/*table置中的距離*/
	_margin-left:76px;/*table置中的距離*/
	font-size:14px;
}

#a15Con em{
	font-size:20px;
	font-weight:bold;
	color:#F6014C;
}

#a15Con #conTop{
	float:left;
	width:709px;
	height:58px;
	background: url(a_15_tableCorTop.gif) no-repeat;
}

#a15Con #conTop h1{
	color:#DBF1F2;
	line-height:0px;
	font-size:0px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conTop h1{
	text-indent:-99999px;
}
}

#a15Con #conTop #back{
	float:right;
	margin-right:15px;
	margin-top:20px;
}


/*============中間部份============*/
#a15Con #conMiddle{
	float:left;
	width:709px;
	_width:705px;
	_background-image:url(a_tableConBG.gif);/*針對I6E兩邊延伸的底圖*/
}
/*Display info 部份*/
#a15Con #conListTop{
	float:left;
	width:709px;
}

#a15Con #conListTop p{
	margin-top:25px;
	margin-left:20px;
}

#a15Con #conListTop #ctl00_ML_MC_check{
	float:right;
	margin-top:10px;
	margin-right:15px;
	margin-bottom:5px;
}
/*Display detail info 部份*/
#a15Con #conList{
	float:right;
	width:709px;
}

/*設定table td th*/
#a15Con #conList table{
    width:705px;
	width /*\**/:707px\9;/*IE8*/
	*width:706px;
	_width:706px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList table{
    width:708px;
}
}

/*th*/
#a15Con #conList th{
	padding-top: 6px;
	*padding-top: 8px;
	background-color:#FFFFE6;
	height:30px;
	*height:20px;
	border:#239ab2 2px solid;
	*border-bottom:none;/*IE由下面的td補上border-top 否則會出現白邊*/
	text-align:center;
	*padding-left:12px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList th{
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#FFFFE6;
	height:15px;
	border:#239ab2 2px solid;
	text-align:center;
}
}
#a15Con #conList #th1{/*設最第一個的左邊界*/
	border-left:#239ab2 1px solid;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList #th1{
	border-left:#239ab2 2px solid;
}
}
#a15Con #conList #th2{/*設最後一個的右邊界*/
	border-right:#239ab2 1px solid;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList #th2{
	border-right:#239ab2 2px solid;
}
}

/*td*/
#a15Con #conList td{
	padding-left:3px;/*控制整個table的細部調整*/
	padding-left /*\**/: 1px\9;/*IE8*/
	*padding-left:2px;
	_padding-left:2px;
	padding-right:1px;
	*padding-right:1px;
	_padding-right:1px;
	border-right:#fff 1px solid;
	height:35px;/*因為要用td裡面的字把高度撐開所以#a15Con #conList  #fistLine1設了padding-top:15px-->35+15=50原有高度,
	因為padding-top如果直接設在td裡, 最後一行的圖片會有中間延伸的線跑出來. */
	
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
	#a15Con #conList td{
	padding-left:1px;
	padding-right:0px;
	height:35px;
	border-right:#FFF 2px solid;
}
}

/*-------Blue td 藍底的-------*/
#a15Con #conList .tdColorB{/*設最第一個的左邊界*/
	background-color:#DBF1F2;
	border-left:#239ab2 1px solid;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList .tdColorB{
	background-color:#DBF1F2;
	border-left:#239ab2 2px solid;
}
}

#a15Con #conList .tdColorBR{/*設最最後一個的右邊界*/
	background-color:#DBF1F2;
	border-right:#239ab2 1px solid;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList .tdColorBR{
	background-color:#DBF1F2;
	border-right:#239ab2 2px solid;
}
}
/*-------White td 白底的-------*/
#a15Con #conList .tdColorW{/*設最第一個的左邊界*/
	background-color:#fff;
	border-left:#239ab2 1px solid;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList .tdColorW{
	background-color:#fff;
	border-left:#239ab2 2px solid;
}
}

#a15Con #conList .tdColorWR{/*設最最後一個的右邊界*/
	background-color:#fff;
	border-right:#239ab2 1px solid;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList .tdColorWR{
	background-color:#fff;
	border-right:#239ab2 2px solid;
}
}

/*第一行指定上方Border, 與文字置於中間的距離, 上下左右*/
#a15Con #conList  #ctl00_ML_MC_rro_ctl00_fistLine1{
	border-top:#239ab2 2px solid;/*針對第一行的頂部設定*/
	text-align: center;	/*border-bottom:none;*/
	padding-top:15px;/*把td撐開到中間的距離,如直接設在td上,會影響最後一行td包table的特殊設定, 所以上面的高度要設為50px（原有高度）-15=35px*/
}
#a15Con #conList  #ctl00_ML_MC_rro_ctl00_fistLine2{
	border-top:#239ab2 2px solid;
	text-align: left;	/*border-bottom:none;*/
	padding-left:10px;
}
#a15Con #conList  #ctl00_ML_MC_rro_ctl00_fistLine3{
	border-top:#239ab2 2px solid;
	text-align: right;	/*border-bottom:none;*/
	padding-right:10px;
}
#a15Con #conList  #ctl00_ML_MC_rro_ctl00_fistLine4{
	border-top:#239ab2 2px solid;
	text-align: right;	/*border-bottom:none;*/
	padding-right:10px;
}

#a15Con #conList  #ctl00_ML_MC_rro_ctl01_textCen{
	text-align: center;	
	padding-top:15px;
}
#a15Con #conList  #ctl00_ML_MC_rro_ctl01_textLeft{
	text-align: left;	
	padding-left:10px;
}
#a15Con #conList  #ctl00_ML_MC_rro_ctl01_textRight{
	text-align: right;	
	padding-right:10px;
}
#a15Con #conList  #ctl00_ML_MC_rro_ctl01_textRight2{
	text-align: right;	
	padding-right:10px;
}

/*-------最後一行特殊設定-------*/
#a15Con #conList #borderBottom{ /*設底圖*/
    width:709px;
    height:50px;
    background: url(a_15_tableCorBottom_w.gif) no-repeat;/*white bg*/
	/*background: url(a_15_tableCorBottom_b.gif) no-repeat;*//*Blue bg*/
}

/*對齊格子 與文字上下左右設定*/
#a15Con #conList  #ctl00_ML_MC_width1{width:119px; width /*\**/:120px\9;/*IE8*/ *width:121px; _width:121px; text-align: center; padding-top:15px;}
#a15Con #conList  #ctl00_ML_MC_width2{width:323px; width /*\**/:320px\9;/*IE8*/ *width:300px; _width:300px; text-align: left; padding-left:10px;}/*padding撐開5px width->335-5=300px   323-20(total padding-right)*/
#a15Con #conList  #ctl00_ML_MC_width3{width:111px; width /*\**/:112px\9;/*IE8*/ *width:111px; _width:111px; text-align: right; padding-right:10px;}
#a15Con #conList  #ctl00_ML_MC_width4{width:112px; width /*\**/:111px\9;/*IE8*/ *width:111px; _width:111/x; text-align: right; padding-right:10px;}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList  #ctl00_ML_MC_width1{width:125px; text-align: center; padding-top:15px}
#a15Con #conList  #ctl00_ML_MC_width2{width:328px; ext-align: left; padding-left:10px;}
#a15Con #conList  #ctl00_ML_MC_width3{width:112px; text-align: right; padding-right:10px;}
#a15Con #conList  #ctl00_ML_MC_width4{width:115px; text-align: right; padding-right:10px;}
}


#a15Con #conList #borderBottom .tdColorLast{ /*設邊界*/
	height:33px;/*因為#width1的padding-top撐開15px所以48px-15=33px*/
	border-right:1px solid #fff;/*for white color BG*/
	border-bottom:none;/*for blue color BG*/
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList #borderBottom .tdColorLast{ /*設邊界*/
	height:33px;
	border-right:2px solid #fff;/*for white color BG*/
	border-bottom:none;/*for blue color BG*/
}
}
#a15Con #conList #borderBottom .tdColorLastR{
	height:33px;
	border-right:none;
}


/*==================================A15頁面table設定結束
========================================================================================*/

/*==================================A30頁面table設定開始 p.s以後表格設計請勿在底部設圓角, 尤其是將底圖與資料一起畫在一起真要命
========================================================================================*/
/*針對FF Safari(Mac) IE */
#a30Con{
	float:left;
	width:709px;
	/*background-image:url(a_tableConBG.gif);/*針對FF IE兩邊延伸的底圖*/
	_background-image:none;/*針對I6E兩邊延伸的底圖這邊的底圖必須取消掉, 以下面的#conMiddle取代才不會右上角出現藍邊 */
	margin-left:149px;/*table置中的距離*/
	_margin-left:76px;/*table置中的距離*/
}

#a30Con em{
	font-size:16px;
	color:#F6014C;
}

#a30Con #conTop{
	float:left;
	width:709px;
	height:58px;
	background: url(a_30_tableCorTop.gif) no-repeat;
}

#a30Con #conTop h1{
	color:#DBF1F2;
	line-height:0px;
	font-size:0px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a30Con #conTop h1{
	text-indent:-99999px;
}
}

#a30Con #conTop #back{
	float:right;
	margin-right:15px;
	margin-top:20px;
}

/*============中間部份============*/
#a30Con #conMiddle{
	float:left;
	width:709px;
	_width:705px;
	_background-image:url(a_tableConBG.gif);/*針對I6E兩邊延伸的底圖*/
}
/*Display info 部份*/
#a30Con #conListTop{
	float:left;
	width:709px;
}

#a30Con #conListTop p{
	margin-top:25px;
	margin-left:20px;
}

#a30Con #conListTop #check{
	float:right;
	margin-top:10px;
	margin-right:15px;
	margin-bottom:5px;
}
/*Display detail info 部份*/
#a30Con #conList{
	width:709px;
}

/*設定table td th*/
#a30Con #conList table{
    width:709px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a30Con #conList table{
}
}
/*Inner Table top*/
#a30Con #conList #innerTableTop{
	width:709px;
	height:1px;
	background: url(a_tableConBG.gif) repeat-y;
	
}

/*Inner Table Bottom*/
#a30Con #conList #innerTableBottom{
	width:709px;
	height:50px;
	background:url(a_15_tableCorBottom_b.gif) no-repeat;/*blue bg*/
	/*background:url(a_15_tableCorBottom_w.gif) no-repeat;/*white bg*/
}

#a30Con #conList #tableList1{
	width:704px;
	margin-left:3px;
}

/*th*/
#a30Con #conList #tableList1 th{
	width:100px;
	height:50px;
	height /*\**/: 35px\9;/*IE6,7,8*/
	*height:35px;/*IE6,7,*/
	padding-top:15px;
	padding-left:60px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a30Con #conList #tableList1 th{
	height:30px;
}
}
/*icons within "th" */
#a30Con #conList #tableList1 #icon1{background:url(a30_icon1.gif) 15px 8px no-repeat;}
#a30Con #conList #tableList1 #icon2{background:url(a30_icon2.gif) 15px 8px no-repeat; background-color:#DBF1F2;}
#a30Con #conList #tableList1 #icon3{background:url(a30_icon3.gif) 15px 8px no-repeat;}
#a30Con #conList #tableList1 #icon4{background:url(a30_icon4.gif) 15px 8px no-repeat; background-color:#DBF1F2;}
#a30Con #conList #tableList1 #icon5{background:url(a30_icon5.gif) 15px 8px no-repeat;}
#a30Con #conList #tableList1 #icon6{background:url(a30_icon6.gif) 15px 8px no-repeat; background-color:#DBF1F2;}
#a30Con #conList #tableList1 #icon7{background:url(a30_icon7.gif) 15px 8px no-repeat;}
#a30Con #conList #tableList1 #icon8{background:url(a30_icon8.gif) 15px 8px no-repeat; background-color:#DBF1F2;}
#a30Con #conList #tableList1 #icon9{background:url(a30_icon9.gif) 15px 8px no-repeat;}

/*td*/
#a30Con #conList #tableList1 td{
	border-left: #fff 2px solid;
	padding-top:15px;
	padding-left:10px;
}

/*-------Blue td 藍底的-------*/
#a30Con #conList  #tableList1 .tdColorB{/*設最第一個的左邊界*/
	background-color:#DBF1F2;
}
/*最後一行的設定*/
#a30Con #conList #innerTableBottom #tableList2{
	width:700px;
	margin-left:3px;
}

/*th*/
#a30Con #conList #innerTableBottom #tableList2 th{
	width:100px;
	height:48px;
	height /*\**/: 33px\9;/*IE8*/
	*height:33px;/*針對最後一行td的右border不突出邊界 th td都要一起設定高度免得互相拉扯*/
	padding-top:15px;
	padding-left:60px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a30Con #conList #innerTableBottom #tableList2 th{
	height:33px;
}
}

/*icons within "th" */
#a30Con #conList #tableList2 #icon10{background:url(a30_icon10.gif) 15px 8px no-repeat;}

/*td*/
#a30Con #conList #innerTableBottom #tableList2 td{
	height /*\**/: 33px\9;/*IE8*/
	*height:33px;/*針對最後一行td的右border不突出邊界 th td都要一起設定高度免得互相拉扯*/
	border-left: #fff 2px solid;
	padding-top:15px;
	padding-left:10px;
}

@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a30Con #conList #innerTableBottom #tableList2 td{
	height:33px;
}
}
/*==================================A15頁面table設定結束
========================================================================================*/
/*------------------------------Content End-------------------------------*/


/*------------------------------Footer Starts-----------------------------*/
#footer {
	clear: both;
	width: 1000px;
}

#footer p {
	text-align: center;
}

#footer p a{
	color:#666666;
	text-decoration:none;
}

#footer p a:hover{
	color:#34ABAC;
	text-decoration:underline;
}
/*------------------------------Footer End-----------------------------*/
/*------------------------------Conner Bottom Starts-------------------*/
#bgBottom { /*設定白色背景的底部的圓角圖片*/
	float:left;
	*float:none;
	width: 1015px;
	height: 30px;
	background: url(connerBottom.jpg) bottom left no-repeat;
}
/*------------------------------Conner Bottom End---------------------*/
