﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
