﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.BizLogic.Facade
@using System.Configuration
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    bool vbsShipRule2k18 = VBSFacade.IsEnabledVbsShipRule2k18();
}

<script type="text/javascript" src="@Url.Content("~/Themes/OWriteOff/plugin/materialize/js/materialize.js")"></script>
<script type="text/javascript">
    $(function () {
        @*@if (ViewBag.SubMenuNav == null)
        {
            <text>$(".@ViewBag.MenuNav").addClass("active");</text>
        }
        else
        {
            <text>$(".@ViewBag.MenuNav a").addClass("active");</text>
            <text>$(".@ViewBag.MenuNav div").slideDown();</text>
            <text>$(".@ViewBag.MenuNav div ul li:eq(@ViewBag.SubMenuNav)").addClass("active");</text>
        }*@

        var colIdx = GetCollapsibleIdx("@ViewBag.MenuNav");

        switch ("@ViewBag.MenuNav") {
            case "liIspShipList":
            case "liIspShipPrint":
            case "liIspShipComplete":
            case "IspShipOrderRefund":
                $('.collapsible').collapsible('open', colIdx);
                break;
            case "liWmsContract":
            case "liWmsContact":
            case "liWmsPurchaseOrder":
            case "liWmsOrderDelivery":
            case "liWmsReturnOrder":
                $('.collapsible').collapsible('open', colIdx);
                break;
            case "liSysDoc":
            case "liOtherDoc":
                $('.collapsible').collapsible('open', colIdx);
                break;
            case "liSellerBasicInfo":
            case "liSellerContact":
            case "liSellerFinance":
            case "liSellerBindAccount":
            case "liSellerLocation":
            case "liSellerPassword":
            case "liSellerChangeLog":
                $('.collapsible').collapsible('open', colIdx);
                break;
            default:
                break;
        }
        $(".@ViewBag.MenuNav").addClass("active");

        //共用頁面 link
        var dtype = '@ViewBag.DeliveryType';
        $('.liHome a').attr('href', '@Url.Action("BulletinBoardList", "VendorBillingSystem")' + '?d=' + dtype);  //首頁
        $('.liHelp a').attr('href', '@Url.Action("Others", "VendorBillingSystem")' + '?d=' + dtype);  //幫助中心
        $('.liService a').attr('href', '@Url.Action("ServiceProcess", "VendorBillingSystem")' + '?d=' + dtype);  //幫助中心
        $('.liSysDoc a').attr('href', '@Url.Action("VbsDocumentDownloadSys", "VendorBillingSystem")' + '?t=@((int)LunchKingSite.Core.Enumeration.DocPageType.System)&d=' + dtype);  //系統教學
        $('.liOtherDoc a').attr('href', '@Url.Action("VbsDocumentDownloadOther", "VendorBillingSystem")' + '?t=@((int)LunchKingSite.Core.Enumeration.DocPageType.Other)&d=' + dtype);  //申請/其他文件
        @*對帳管理*@
        @if (Session[VbsSession.VbsAccountType.ToString()].Equals(VbsMembershipAccountType.VerificationAccount)) {
        <text>$('.liBalance a').attr('href', '@Url.Action("EmployeeBalanceDealList", "VendorBillingSystem", new { state = "Balancing" })' + '&d=' + dtype);</text>
        } else {
        <text>$('.liBalance a').attr('href', '@Url.Action("BalanceDealList", "VendorBillingSystem", new { state = "Balancing" })' + '&d=' + dtype);</text>
        }
    });

    function GetCollapsibleIdx(name) {
        var cols = $('.collapsible');
        for (var i = 0; i < cols.length; i++)
        {
            var obj = cols[i];
            if ($(obj).attr("id") != "mainUL") {
                var lis = $(obj).find("li");
                var flag = lis.hasClass(name);
                if (flag) {
                    return (i -1);
                }
            }
        };
    }
</script>
<ul id="mainUL" class="collapsible collapsible-accordion">
    <li class="liHome bold"><a class="waves-effect waves-light">首頁</a></li>
    @if (ViewBag.DeliveryType == ((int)DeliveryType.ToHouse).ToString())
    {
        if (VbsCurrent.ViewVbsRight.Ship)
        {
            if (Session[VbsSession.VbsAccountType.ToString()].Equals(VbsMembershipAccountType.VerificationAccount))
            {
                <li class="liShip bold"><a href="@Url.Action("EmployeeShipDealList", "VendorBillingSystemShip")" class="liShipItem waves-effect waves-light">@(vbsShipRule2k18 ? "出貨管理-宅配" : "訂單管理")</a></li>
            }
            else
            {
                <li class="liShip bold"><a href="@Url.Action("ShipDealList", "VendorBillingSystemShip")" class="liShipItem waves-effect waves-light">@(vbsShipRule2k18 ? "出貨管理-宅配" : "訂單管理")</a><text></text></li>
                @*if (Session[VbsSession.VbsAccountType.ToString()].Equals(VbsMembershipAccountType.VendorAccount))
                    {
                        <li class="liShip bold">
                            <a class="collapsible-header  waves-effect waves-light">訂單作業</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href = "@Url.Action("ShipOrderStatusList", "VendorBillingSystemShip")" class="waves-effect waves-light">訂單狀態查詢</a></li>
                                </ul>
                            </div>
                        </li>
                    }*@
            }
        }

        if (VbsCurrent.ViewVbsRight.IsInstorePickup)
        {
            <li class="bold">
                <a class="collapsible-header waves-effect waves-light">出貨作業-超商</a>
                <div class="collapsible-body" style="display: none;">
                    <ul class="collapsible liIsp" data-collapsible="expandable">
                        <li class="liIspShipList bold"><a href="/vbs/ship/ispshiporderlist?d=1">1.待出貨訂單</a></li>
                        <li class="liIspShipPrint bold"><a href="/vbs/ship/ispshiporderlist?d=2">2.列印出貨標籤</a></li>
                        <li class="liIspShipComplete bold"><a href="/vbs/ship/ispshiporderlist?d=3">3.查詢與回報出貨完成</a></li>
                        <li class="IspShipOrderRefund bold"><a href="/vbs/ship/IspShipOrderRefund">4.超商刷退與驗退</a></li>
                    </ul>
                </div>
            </li>
        }
        if (!VbsCurrent.Is17LifeEmployee)
        {
            <li class="liExchange bold">
                <a href="@Url.Action("ExchangeOrderProcessList", "VendorBillingSystemShip")" class="waves-effect waves-light">
                    換貨作業
                    @if (ViewBag.ExchangeCount > 0)
                    {
                        @:<span style="background:#4AD039;color:#fff;padding: 0 10px;border-radius:25px;float:right;line-height:25px;margin-top:10px;">@ViewBag.ExchangeCount</span>
                    }
                </a>
                @*<div class="collapsible-body">
                        <ul class="collapsible">
                            <li class="liExchange bold"><a href="@Url.Action("ExchangeOrderProcessList", "VendorBillingSystemShip")" class="waves-effect waves-light">換貨處理</a></li>
                            <li class="liExchangeView bold"><a href="@Url.Action("ExchangeOrderProcessList", "VendorBillingSystemShip",new { viewMode = "true" })" class="waves-effect waves-light">換貨單查詢</a></li>
                        </ul>
                    </div>*@
            </li>
        }
        if (!VbsCurrent.Is17LifeEmployee)
        {
            <li class="liReturn bold">
                <a href="@Url.Action("ReturnOrderProcessList", "VendorBillingSystemShip")" class="waves-effect waves-light">
                    退貨作業
                    @if (ViewBag.ReturnCount > 0)
                    {
                        @:<span style="background:#4AD039;color:#fff;padding: 0 10px;border-radius:25px;float:right;line-height:25px;margin-top:10px;">@ViewBag.ReturnCount</span>
                    }
                </a>
                @*<div class="collapsible-body">
                        <ul class="collapsible">
                            <li class="liReturn bold"><a href="@Url.Action("ReturnOrderProcessList", "VendorBillingSystemShip")" class="waves-effect waves-light">退貨處理</a></li>
                            <li class="liReturnView bold"><a href="@Url.Action("ReturnOrderProcessList", "VendorBillingSystemShip",new { viewMode = "true" })" class="waves-effect waves-light">退貨單查詢</a></li>
                        </ul>
                    </div>*@
            </li>
        }
        if (!VbsCurrent.Is17LifeEmployee && VbsCurrent.ViewVbsRight.CustomerServiceManage)
        {
            <li class="liService bold">
                <a class="waves-effect waves-light">
                    客戶案件管理
                    @if (ViewBag.Count > 0)
                    {
                        @:<span style="background:#4AD039;color:#fff;padding: 0 10px;border-radius:25px;float:right;line-height:25px;margin-top:10px;">@ViewBag.Count</span>
                    }
                </a>
            </li>
        }
        if (VbsCurrent.ViewVbsRight.BalanceSheet)
        {
            <li class="liBalance bold"><a class="waves-effect waves-light">對帳管理</a></li>
        }
        if (VbsCurrent.ViewVbsRight.ProposalProduct)
        {
            <li class="liProposalProduct bold"><a href="/vbs/productoption" class="waves-effect waves-light">商品與庫存管理</a></li>
        }
        if (VbsCurrent.ViewVbsRight.Proposal)
        {
            <li class="liProposal bold"><a href="@Url.Action("ProposalList", "VendorBillingSystem")" class="waves-effect waves-light">提案功能</a></li>
        }
        if (!VbsCurrent.Is17LifeEmployee)
        {
            <li class="liShip bold">

                @{if (ViewBag.ShowApplyIsp)
                    {
                        <a class="collapsible-header  waves-effect waves-light"><span style='color:red;margin-right:5px;font-size:18px;'>•</span>超商申請作業</a>
                    }
                    else
                    {
                        <a class="collapsible-header  waves-effect waves-light">超商申請作業</a>
                    }
                }

                <div class="collapsible-body">
                    <ul class="collapsible">
                        <li><a href="@Url.Action("InStorePickup", "VendorBillingSystem")" class="waves-effect waves-light">超商取貨申請與維護</a></li>
                    </ul>
                </div>
            </li>
        }
        <li class="bold">
            <a class="collapsible-header waves-effect waves-light">24H到貨倉儲配送</a>
            <div class="collapsible-body" style="display: none;">
                <ul class="collapsible liWms" data-collapsible="expandable">
                    <li class="liWmsContract bold"><a href="/vbs/ship/WmsContract">合約簽訂與管理</a></li>
                    @if (VbsCurrent.ViewVbsRight.Wms)
                    {
                        <li class="liWmsContact bold"><a href="/vbs/ship/WmsContact">聯絡人資料維護</a></li>
                        <li class="liWmsPurchaseOrder bold"><a href="/vbs/ship/WmsPurchaseOrder">進倉單新增/查詢/列印</a></li>
                        if (config.MerchantReturnEnable)
                        {
                            <li class="liWmsReturnOrder bold"><a href="/vbs/ship/WmsReturnOrder">還貨單新增/查詢</a></li>
                        }
                        else
                        {
                            if (VbsCurrent.AccountId == config.MerchantReturnAccount)
                            {
                                <li class="liWmsReturnOrder bold"><a href="/vbs/ship/WmsReturnOrder">還貨單新增/查詢</a></li>
                            }
                        }
                        <li class="liWmsOrderDelivery bold"><a href="/vbs/ship/WmsOrderDelivery">查詢訂單配送與物流</a></li>
                        @*<li class="liWmsProgressStatus bold"><a href="/vbs/ship/WmsProgressStatus">查詢訂單配送與物流</a></li>*@
                    }
                </ul>
            </div>
        </li>
    }
    else if (ViewBag.DeliveryType == ((int)DeliveryType.ToShop).ToString())
    {
        if (VbsCurrent.ViewVbsRight.Verify)
        {
            <li class="liVerify bold"><a href="@Url.Action("Verify", "VendorBillingSystem")" class="waves-effect waves-light">線上核銷</a></li>
            if (Session[VbsSession.VbsAccountType.ToString()].Equals(VbsMembershipAccountType.VerificationAccount))
            {
                <li class="liVerification bold"><a href="@Url.Action("EmployeeVerificationDealList", "VendorBillingSystem")" class="waves-effect waves-light">核銷查詢</a></li>
            }
            else
            {
                <li class="liVerification bold"><a href="@Url.Action("VerificationDealList", "VendorBillingSystem")" class="waves-effect waves-light">核銷查詢</a></li>
            }
        }
        if (VbsCurrent.ViewVbsRight.Booking)
        {
            <li class="liBooking bold"><a href="@Url.Action("BookingSystemAuthorize", "BookingSystem")" class="waves-effect waves-light">預約功能</a></li>
        }
        if (VbsCurrent.ViewVbsRight.ReserveLock)
        {
            <li class="liReserveLock bold"><a href="@Url.Action("ReserveCouponLock", "ReserveLock")" class="waves-effect waves-light">憑證鎖定</a></li>
        }
        if (!VbsCurrent.Is17LifeEmployee && VbsCurrent.ViewVbsRight.CustomerServiceManage)
        {
            <li class="liService bold">
                <a class="waves-effect waves-light">
                    客戶案件管理
                    @if (ViewBag.Count > 0)
                    {
                        @:<span style="background:#4AD039;color:#fff;padding: 0 10px;border-radius:25px;float:right;line-height:25px;margin-top:10px;">@ViewBag.Count</span>
                    }
                </a>
            </li>
        }
        if (VbsCurrent.ViewVbsRight.BalanceSheet)
        {
            if (Session[VbsSession.VbsAccountType.ToString()].Equals(VbsMembershipAccountType.VerificationAccount))
            {
                <li class="liBalance bold"><a class="waves-effect waves-light">對帳管理</a></li>
            }
            else
            {
                <li class="liBalance bold"><a href="@Url.Action("BalanceDealList", "VendorBillingSystem", new { state = "Balancing" })" class="waves-effect waves-light">對帳管理</a></li>
            }
        }
        if (VbsCurrent.ViewVbsRight.UserEvaluate)
        {
            <li class="liEvaluate bold"><a href="@Url.Action("Evaluate", "UserEvaluation")" class="waves-effect waves-light">評價管理</a></li>
        }
    }

    @if (VbsCurrent.ViewVbsRight.AccountManage)
    {
        <li class="bold">
            <a class="collapsible-header waves-effect waves-light">帳戶管理與維護</a>
            <div class="collapsible-body" style="display: none;">
                <ul class="collapsible liSeller" data-collapsible="expandable">
                    <li class="liSellerBasicInfo bold"><a href="/vbs/sellerbasicinfo">基本資料</a></li>
                    <li class="liSellerContact bold"><a href="/vbs/sellercontact">聯絡人</a></li>
                    <li class="liSellerFinance bold"><a href="/vbs/SellerFinance">財務資料</a></li>
                    <li class="liSellerLocation bold"><a href="/vbs/SellerLocation">營業據點</a></li>
                    <li class="liSellerPassword bold"><a href="/vbs/SetPassword?d=2">密碼變更</a></li>
                    <li class="liSellerBindAccount bold"><a href="/vbs/SellerBindAccount">綁定帳號</a></li>
                    <li class="liSellerChangeLog bold"><a href="/vbs/SellerChangeLog">異動紀錄</a></li>
                </ul>
            </div>
        </li>
    }

    <li class="bold">
        <a class="collapsible-header waves-effect waves-light">文件下載</a>
        <div class="collapsible-body" style="display: none;">
            <ul class="collapsible liDoc" data-collapsible="expandable">
                <li class="liSysDoc bold"><a href="">@(LunchKingSite.Core.Helper.GetDescription(LunchKingSite.Core.Enumeration.DocPageType.System))</a></li>
                <li class="liOtherDoc bold"><a href="">@(LunchKingSite.Core.Helper.GetDescription(LunchKingSite.Core.Enumeration.DocPageType.Other))</a></li>
            </ul>
        </div>
    </li>
    <li class="liHelp bold"><a class="waves-effect waves-light">17Life聯絡資訊</a></li>
</ul>

<script>
    $(document).ready(function () {
        $.post("/vbs/ship/GetShipNormalCount", {}, function (result) {
            if (result > 0) {
                $("a.liShipItem").append("<span class='new badge red '>" + result + "</span>");
            }
        }).error(function (xhr) {
            console.log(xhr);
        });

        
    });
</script>