﻿@{
    string userName = ViewBag.UserName;
    string userId = ViewBag.UserId;
}

<script type="text/javascript">
    $(function () {
        $('#DeliveryTypeList').attr('autocomplete', "off");
        $('#DeliveryTypeList').change(function () {
            location.href = "@Url.Content("~/vbs/BulletinBoardList?d=")" + $(this).val();
        });
    });

    function loginOut() {
        window.location = "/vbs/Logout";
    }
</script>

<nav class="top-nav">
    <div class="nav-wrapper">
        <div class="nav-logo"></div>
        <div class="nav-selectbox">
            <form autocomplete="off">
            @if (VbsCurrent.ViewVbsRight.ToShop || VbsCurrent.ViewVbsRight.ToHouse)
            {
                @Html.DropDownList("DeliveryTypeList");
            }
            </form>
        </div>
        <div class="nav-account_info">
            <span>Hi : @userName</span>
            <span>帳號 : @userId</span>
            <span><a style="cursor: pointer;" onclick="loginOut()">登出</a></span>
        </div>
    </div>
</nav>