﻿@using LunchKingSite.WebLib.UI
@using LunchKingSite.Core.Component
@{ 
    string siteUrl = ProviderFactory.Instance().GetConfig().SiteUrl;
}
<!DOCTYPE html>
<html>
<head runat="server">
    <title>17Life後台</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- Latest compiled and minified JavaScript -->    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <link href="~/ControlRoom/Images/controlpanel2.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="~/ControlRoom/Images/backend.css">
    <style type="text/css">
        .collapsePanelHeader {
            display:flex;
            justify-content:space-between;
        }
    </style>
    @RenderSection("header", required: false)
</head>
<body>
    <div>
        <div class="leftpanel">
            <div id="menuPanel">
                @{
                    Page pageHolder = new FormlessPage();
                    UserControl viewControl = (UserControl)pageHolder.LoadControl("~/ControlRoom/Controls/LeftPanel2.ascx");
                    pageHolder.Controls.Add(viewControl);
                    StringWriter output = new StringWriter();
                    HttpContext.Current.Server.Execute(pageHolder, output, false);
                    @Html.Raw(output.ToString());
                }
            </div>
        </div>
        <div class="rightpanel row">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="clearfix" />
    <script type="text/javascript">
        window.collapseImg = '@Url.Content("~/controlroom/images/icons/collapse2.png")';
        window.expandImg = '@Url.Content("~/controlroom/images/icons/expand2.png")';
        window.siteUrl = '@siteUrl';
    </script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/lksite.backend2.js")"></script>
    @RenderSection("footer", required: false)
</body>
</html>
