﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model BalanceSheetPackModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (VbsCurrent.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="OW-w5-2-ListTittleBG">
			<div class="OW-w17-1-ListTittle">
				<div class="OW-w5-2-ListBackBtn  right-zero" onclick="window.location.href = '@GetBackBtnUrl()'">回上頁</div>
			</div>

			<div class="clearfix"></div>
		</div>
		<div class="OW-STWOff-w5-GearSelectorA">
			<form id ="queryForm" action="@Url.Action("BalanceSheetPack", "VendorBillingSystem")@Html.Raw(config.IsEnableVbsNewUi? "?d=" +Request.Params["d"]:"")" method="POST" accept-charset="utf-8">
				<p class="w17float-left">賣家：</p>
				<select class="textSize15" id="ddlSeller">
					@foreach (var m in Model.SellerInfos)
					{
						<option value='@m.Key' @Html.Raw(Model.SellerGuid == m.Key ? "selected" : string.Empty)>@m.Value</option>
					}
				</select>
				<p class="w17float-left">憑證／宅配檔次：</p>
				<select class="textSize15" id="ddlDeliveryType">
					@{
						var sellerDeliveryTypes = Model.DeliveryTypeInfos.Split(new Char[] {'|'}, StringSplitOptions.RemoveEmptyEntries);
						if (sellerDeliveryTypes.Any())
						{
							foreach (var sellerDeliveryType in sellerDeliveryTypes)
							{
								var sellerIndex = sellerDeliveryType.IndexOf(Model.SellerGuid.ToString());
								if (!Model.SellerGuid.Equals(Guid.Empty) && sellerIndex < 0)
								{
									continue;
								}
								var deliveryTypes = sellerDeliveryType.Split(",");
								if (deliveryTypes.Count() <= 1)
								{
									continue;
								}
								for(var i = 1; i < deliveryTypes.Count(); i ++)
								{
									var deliveryType = deliveryTypes[i].Split(":");
									if (deliveryType.Count() != 2)
									{
										continue;
									}
									<option value='@deliveryType[0]' @Html.Raw(Enum.GetName(typeof(DeliveryType), Model.DeliveryType) == deliveryType[0] ? "selected" : string.Empty)>@deliveryType[1]</option>
								}
								if (Model.SellerGuid.Equals(Guid.Empty))
								{
									break;
								}
							}
						}
					}
				</select>
				<div id="divToShop" style="display: none">
					<p class="w17float-left">對帳單月份：</p>
					<select class="textSize15" name="BsYearMonth" id="ddlBalanceSheetId">
						@foreach (var m in Model.BalanceSheetsMonthInfos)
						{
							<option value='@m.Key' @Html.Raw(Model.BsYearMonth == m.Key ? "selected" : string.Empty)>@m.Value</option>
						}
					</select>
				</div>            
				@if (Model.UnReceiptReceivedDealGuids != null)
				{
					for (var d = 0; d < Model.UnReceiptReceivedDealGuids.Count(); d++)
					{
						@Html.Hidden(string.Format("UnReceiptReceivedDealGuids[{0}]", d), Model.UnReceiptReceivedDealGuids.ElementAt(d))
					}
				}
				<input type="hidden" name="SellerGuid" id="hidSellerGuid" />
				<input type="hidden" name="DeliveryType" id="hidDeliveryType" />
				<div id="btnQuery" class="OW-W5_0-InMD-Btn">查詢</div>
			</form>
			<div class="OW-W5_0-InMD-Btn" style="display:@Html.Raw(Model.BalanceSheetPackInfos == null ? "none" : string.Empty)" onclick="javascript: window.print();">列印</div>
			@if (ViewBag.IsEnableVbsNewShipFile)
			{
			<div id="btnExport" class="OW-W5_0-InMD-Btn" style="display:@Html.Raw(Model.BalanceSheetPackInfos == null ? "none" : string.Empty)">匯出對帳Excel</div>
			}
			<div class="clearfix"></div>
		</div>
		@if (!Model.IsResultEmpty)
		{ 
			<div class="OW-StaffToWriteOff-w5-List">
				@RenderBody()
			</div>
		}
		else
		{
			<div class="OW-W4_3">
				<table border="0" cellspacing="0" cellpadding="0" width="480">
					<tbody>
						<tr>
							<td width="90"><img src='@Url.Content("~/Themes/OWriteOff/OWriteOff-w4.jpg")' width="83" height="83" /></td>
							<td class="OW-W4_3Text" valign="middle" align="left">查無資料，目前無未收回之單據。<br>（《總明細》只顯示單據「未回」之對帳資料。）</td>
						</tr>
					</tbody>
				</table>
			</div>
		}
	</div>
</div>

@helper GetBackBtnUrl()
{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (VbsCurrent.Is17LifeEmployee)
    {
        @Html.Raw(Url.Action("EmployeeBalanceDealList", "VendorBillingSystem"));if(config.IsEnableVbsNewUi){<text>?d=</text>@Request.Params["d"]};
    }
    else
    {
        @Html.Raw(Url.Action("BalanceDealList", "VendorBillingSystem"));if(config.IsEnableVbsNewUi){<text>?d=</text>@Request.Params["d"]};
    }
}

@section Script{
    <script type="text/javascript">

        $().ready(function() {
            $("#ddlDeliveryType").each(function() {
                if ($(this).val() === '@DeliveryType.ToShop') {
                    $("#divToShop").show();
                }
            });

            $("#ddlDeliveryType").change(function() {
                if ($(this).val() === '@DeliveryType.ToShop') {
                    $("#divToShop").show();
                } else {
                    $("#divToShop").hide();
                }
            });

            $("#ddlSeller").change(function() {
                $("#ddlDeliveryType").children().each(function () {
                    if ($(this).val() != -1) {
                            $(this).remove();
                    }
                });
                var sellerDeliveryTypes = '@Model.DeliveryTypeInfos'.split("|");
                for (var s = 0; s < sellerDeliveryTypes.length; s++) {
                    if (sellerDeliveryTypes[s].indexOf($(this).val()) < 0) {
                        continue;
                    }
                    var deliveryTypes = sellerDeliveryTypes[s].split(",");
                    if (deliveryTypes.length <= 1) {
                        continue;
                    }
                    for (var i = 1; i <= deliveryTypes.length; i+=2) {
                        var deliveryType = deliveryTypes[i].split(":");
                        if (deliveryType.length != 2) {
                            continue;
                        }
                        $("#ddlDeliveryType").append(createOption(deliveryType[1], deliveryType[0]));
                    }
                }
                $("#ddlDeliveryType").change();
            });

            createOption = function (text, value, selected) {
                var option = document.createElement("option");
                option.value = value;
                option.innerHTML = text;
                if (selected) {
                    option.selected = true;
                }
                return option;
            };

            if ($("#ddlSeller").children().length === 1) {
                $("#ddlSeller").attr('disabled', true);
            }

            if ($("#ddlDeliveryType").children().length === 1) {
                $("#ddlDeliveryType").attr('disabled', true);
            }

            $('#btnQuery').click(function () {
                $("#hidSellerGuid").val($("#ddlSeller").val());
                $("#hidDeliveryType").val($("#ddlDeliveryType").val());

                $('#queryForm').attr('action','@Url.Action("BalanceSheetPack", "VendorBillingSystem")@Html.Raw(config.IsEnableVbsNewUi ? "?d=" + Request.Params["d"] : "")');
                $('#queryForm').submit();
            });

            $('#btnExport').click(function () {
                $("#hidSellerGuid").val($("#ddlSeller").val());
                $("#hidDeliveryType").val($("#ddlDeliveryType").val());

                $('#queryForm').attr('action', '@Url.Action("BalanceSheetPackExport", "VendorBillingSystem")');
                $('#queryForm').submit();
            });
        });
        
    </script>
}
@if (IsSectionDefined("Script"))
{
    @RenderSection("Script", required: false);
}