﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model LunchKingSite.BizLogic.Model.BalanceSheet.BalanceSheetToHouseModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (VbsCurrent.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

@{
    var minGenDate = DateTime.Parse(Model.ShipPeriodStart).AddDays(config.ShippingBuffer);

    var dealStores = ViewBag.BalanceDealInfos == null
                    ? string.Empty
                    : string.Join("|", ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos)
                                        .Where(x => x.StoreGuid.HasValue)
                                        .GroupBy(x => x.DealId)
                                        .Select(x => string.Format("{0},{1}",
                                            x.Key,
                                            string.Join(";", x.GroupBy(s => new { s.StoreGuid, s.StoreName })
                                            .Select(s => string.Format("{0}:{1}", s.Key.StoreGuid, s.Key.StoreName))))));
    var dealTypes = ViewBag.BalanceDealInfos == null
                    ? string.Empty
                    : string.Join("|", ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos)
                                        .GroupBy(x => new { x.DealId, x.DealType })
                                        .Select(x => string.Format("{0},{1}", x.Key.DealId, x.Key.DealType)));
    var dealGenFreq = ViewBag.BalanceDealInfos == null
                        ? string.Empty
                        : string.Join("|", ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos)
                                            .GroupBy(x => new { x.DealId, x.GenerationFrequency })
                                            .Select(x => string.Format("{0},{1}", x.Key.DealId, x.Key.GenerationFrequency)));
    var deliveryType = ViewBag.BalanceDealInfos == null
                        ? string.Empty
                        : string.Join("|", ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos)
                                            .GroupBy(x => new { x.DealId, x.DeliveryType })
                                            .Select(x => string.Format("{0},{1}", x.Key.DealId, x.Key.DeliveryType)));
    var dealRemiType = ViewBag.BalanceDealInfos == null
                         ? string.Empty
                         : string.Join("|", ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos)
                                            .GroupBy(x => new { x.DealId, x.RemittanceType })
                                            .Select(x => string.Format("{0},{1}", x.Key.DealId, x.Key.RemittanceType)));
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="OW-w5-2-ListTittleBG">
		@if (ViewBag.BalanceDealInfos == null)
		{
				<div class="OW-w5-2-ListTittle">[@Model.DealUniqueId]@Model.DealName</div>
		}
		else
		{
			var deals = ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos).Select(x => new { x.DealId, x.DealName, x.DealUniqueId }).Distinct();
			var stores = ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos).Where(x => x.DealId == Model.DealId).Select(x => new { x.StoreGuid, x.StoreName }).Distinct();

			<div class="OW-w5-2-ListTittle" style="width:716px;">
				<span>檔次：</span>
				<select class="textSize15" id="ddlDeal" style="width:400px">
					@foreach (var deal in deals)
					{
						<option value="@deal.DealId" @Html.Raw(Model.DealId == deal.DealId ? "selected" : string.Empty)>[@deal.DealUniqueId]@deal.DealName</option>
					}
				</select>&nbsp;&nbsp;
				<span>分店：</span>
				<select class="textSize15" id="ddlStore" style="width:150px">
					@foreach (var store in stores)
					{
						<option value="@store.StoreGuid">@(string.IsNullOrEmpty(store.StoreName) ? string.Empty : store.StoreName)</option>
					}
				</select>
				<input type="hidden" id="hidDealType" value="">
				<input type="hidden" id="hidDealGenFreq" value="">
				<input type="hidden" id="hidDeliveryType" value="">
				<input type="hidden" id="hidDealRemiType" value="">
			</div>
			<div class="OW-W3-Inquiry-Btn" style="margin: -3px 0;float:left" onclick="changeBalanceSheet()">切換</div>
		}
			<div class="OW-w5-2-ListBackBtn" onclick="window.location.href='@GetBackBtnUrl()'">回上頁</div>
		</div>
		<div class="OW-w6-RP-Frame">
			<div class="OW-w6RP-MenuBar">
				<div class="OW-w6RP-MonthBar-ON">
					<div class="OW-w6RP-ON-Line">
						對帳單<span class="OW-w6RP-MonthBar-InfoRed">（發票／單據開立金額）</span>
					</div>
				</div>
			@if (Model.RemittanceType == RemittanceType.Flexible)
			{
				<form id="genBsForm">
					<div class="MenuBar-right">
						<p>請選擇申請本次對帳單之結算最終日期</p>
						<label>
							<input type="text" id="genDate" class="inputDa3 textSize15" />
						</label>
						<div class="OW-w5-2-ListBackBtn" id="genFlexibleBalanceSheet">申請</div>
					</div>
				</form>
				<div id="dialog-confirm"></div>
			}
			</div>
			@RenderBody()
		</div>
	</div>
</div>

@helper GetBackBtnUrl()
{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
	if (!string.IsNullOrEmpty(ViewBag.ParentActionName) && ViewBag.ParentActionName != "BalanceSheetPack")
	{
        if(config.IsEnableVbsNewUi)
        {
            @Url.Action(ViewBag.ParentActionName, "VendorBillingSystem", new { d= Request.Params["d"] })
        }
        else
        {
            @Html.Raw(Url.Action(ViewBag.ParentActionName, "VendorBillingSystem"));
        }
    }
	else
	{
		@Html.Raw("javascript:history.back()");
	}
}

@section Script{
        <script type="text/javascript">
    $(document).ready(function () {
        $('#genDate').datepicker({
            minDate: new Date('@minGenDate.ToString("yyyy/MM/dd")'),
            maxDate: new Date('@DateTime.Today.ToString("yyyy/MM/dd")')
        });
        $('#genFlexibleBalanceSheet').click(function () {
            if ($('#genDate').val().length === 0) {
                alert("請輸入結算最終日期!");
                return false;
            }

            var id = '@Model.DealId';
            var genDate = $('#genDate').val();

            $.ajax({
                url: '@Url.Action("GenerateFlexibleBalanceSheet")',
                type: 'POST',
                data: { Id: id, GenDate: genDate, Generate: false },
                dataType: 'json',
                success: resultHandler
            });
        });

        $("#ddlDeal").change(function () {
            var dealTypes = '@dealTypes'.split("|");
            for (var d = 0; d < dealTypes.length; d++) {
                if (dealTypes[d].indexOf($(this).val()) < 0) {
                    continue;
                }
                var types = dealTypes[d].split(",");
                if (types.length <= 1) {
                    continue;
                }
                $("#hidDealType").val(types[1]);
            }

            var dealGenFreq = '@dealGenFreq'.split("|");
            for (var g = 0; g < dealGenFreq.length; g++) {
                if (dealGenFreq[g].indexOf($(this).val()) < 0) {
                    continue;
                }
                var genFreq = dealGenFreq[g].split(",");
                if (genFreq.length <= 1) {
                    continue;
                }
                $("#hidDealGenFreq").val(genFreq[1]);
            }

            var deliveryType = '@deliveryType'.split("|");
            for (var t = 0; t < deliveryType.length; t++) {
                if (deliveryType[t].indexOf($(this).val()) < 0) {
                    continue;
                }
                var dType = deliveryType[t].split(",");
                if (dType.length <= 1) {
                    continue;
                }
                $("#hidDeliveryType").val(dType[1]);
            }

            var dealRemiType = '@dealRemiType'.split("|");
            for (var r = 0; r < dealRemiType.length; r++) {
                if (dealRemiType[r].indexOf($(this).val()) < 0) {
                    continue;
                }
                var remiType = dealRemiType[r].split(",");
                if (remiType.length <= 1) {
                    continue;
                }
                $("#hidDealRemiType").val(remiType[1]);
            }

            $("#ddlStore").children().each(function () {
                if ($(this).val() != -1) {
                    $(this).remove();
                }
            });
            var dealStores = '@dealStores'.split("|");
            for (var s = 0; s < dealStores.length; s++) {
                if (dealStores[s].indexOf($(this).val()) < 0) {
                    continue;
                }
                var stores = dealStores[s].split(",");
                if (stores.length <= 1) {
                    continue;
                }
                var dealStore = stores[1].split(";");
                for (var i = 0; i < dealStore.length; i++) {
                    var store = dealStore[i].split(":");
                    if (store.length != 2) {
                        continue;
                    }
                    $("#ddlStore").append(createOption(store[1], store[0]));
                }
            }
        });

        createOption = function (text, value, selected) {
            var option = document.createElement("option");
            option.value = value;
            option.innerHTML = text;
            if (selected) {
                option.selected = true;
            }
            return option;
        };
    });

    function resultHandler(data) {
        if (!data.Success) {
            alert(data.FailReason);
            return false;
        }

        var genDate = $('#genDate').val();
        var confirmMsg = "請確認您所要申請對帳單的資訊：<br/><br/>" + data.DealName + "<br/><br/>結帳方式：" + data.RemittanceTypeDesc
           + "<br/><br/>本次請款結算截止日：" + genDate + "<br/><br/><strong><u>試算金額</u></strong><br/>本次應付總額小計：<font color=blue>" + data.EstAmount + "</font>"
           + "<br/><br/>確認無誤後，我們將為您產生欲請款使用之對帳單！<br/><font color=red>注意！產出對帳單後即無法更改相關金額喔！</font>";

        fnOpenNormalDialog(confirmMsg);

    }

    function block_postback() {
        $.blockUI({ message: "<center><img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />處理中，請稍候...</center>", css: { width: '250px' } });
    }

    function fnOpenNormalDialog(confirmMsg) {
        $("#dialog-confirm").html(confirmMsg);

        // Define the Dialog and its properties.
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            title: "確認申請",
            height: 450,
            width: 400,
            buttons: {
                "確定": function () {
                    $(this).dialog('close');

                    var id = '@Model.DealId';
                    var genDate = $('#genDate').val();

                    block_postback();

                    $.ajax({
                        url: '@Url.Action("GenerateFlexibleBalanceSheet")',
                        type: 'POST',
                        data: { Id: id, StoreGuid: null, GenDate: genDate, Generate: true },
                        dataType: 'json',
                        success: function (result) {
                            //關閉處理中訊息並解除鎖定畫面
                            $.unblockUI();
                            if (!result.Success) {
                                alert(result.FailReason);
                            } else {
                                //reload 以顯示對帳單畫面
                                location.reload();
                            }
                        }
                    });
                },
                "取消": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function changeBalanceSheet() {
        var dealId = $("select[id$=ddlDeal]").val();
        var storeId = "";
        if ($("select[id$=ddlStore]").val() != null && $("select[id$=ddlStore]").val().length > 0) {
            storeId = $("select[id$=ddlStore]").val();
        }
        var dealType = $("#hidDealType").val();
        var dealGenFreq = $("#hidDealGenFreq").val();
        var deliveryType = $("#hidDeliveryType").val();
        var dealRemiType = $("#hidDealRemiType").val();
        @if (config.IsEnableVbsNewUi) {
        <text>deliveryType = getVars()["d"];</text>
        }

        if (dealType.length === 0 || dealGenFreq.length === 0 || deliveryType.length === 0 || dealRemiType.length === 0) {
            return;
        }

        $.ajax({
            url: '@Url.Action("GoToBalanceSheetPage", "VendorBillingSystem")',
            type: 'POST',
            data: { Id: dealId, type: dealType, detailId: storeId, deliveryType: deliveryType, generationFrequency: dealGenFreq, remittanceType: dealRemiType },
            dataType: 'json',
            success: function (result) {
                    var resultUrl = result.Url;
                    @if (config.IsEnableVbsNewUi)
                    {
                        <text>var middlechar = resultUrl.indexOf("?") < 0 ? "?" : "&";</text>
                        <text>resultUrl += middlechar + "d=" + getVars()["d"];</text>
                    }
                    location.href = resultUrl;
            }
        });
    }

    function getVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
        function (m, key, value) {
            vars[key] = value;
        });
        return vars;
    }
</script>
}

@if (IsSectionDefined("Script"))
{
	@RenderSection("Script", required: false);
}
