﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    var functionNmae = System.IO.Path.GetFileName(Request.PhysicalPath.ToLower());
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>17Life Beacon管理後台</title>
    @{
        if (functionNmae == LunchKingSite.Core.Enumeration.BeaconTriggerAppFunctionName.skm.ToString())
        {
            <link type="text/css" href='@Url.Content("~/Themes/Beacon/skmApp.css")' rel="stylesheet" />
        }
        else
        {
            <link type="text/css" href='@Url.Content("~/Themes/Beacon/adminApp.css")' rel="stylesheet" />
        }
    }
    <link href="~/Themes/PCweb/plugin/font-awesome/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Themes/Beacon/jquery.dragsort-0.5.2.min.js"></script><!--拖拉-->
    <script>
        /* 下拉主選單 */
        function clickDropDownFunction() {  //open DropDown
            document.getElementById("catoryDropdown").classList.toggle("show");
            $('#catoryDropdown').attr('style', 'z-index:999');
        }

        window.onclick = function (event) { //close DropDown
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>    
</head>


<body class="bg-gray">
    <header class="bg-darkgray shadow-s">
        <div class="pdg-15 center clearfix">
            @*下拉選單*@
            @if (functionNmae != LunchKingSite.Core.Enumeration.BeaconTriggerAppFunctionName.skm.ToString())
            {
                <div class="dropdown flo-left">
                    <div class="dropdown-div-background div-br-radius">
                        <button onclick="clickDropDownFunction()" id="listDropdown" class="dropbtn div-br-radius-inner">≡</button>
                    </div>
                    <div id="catoryDropdown" class="dropdown-content">
                        @Html.ActionLink("訊息列表", "EventList", "Beacon", new { functionName = @System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()) }, new { @class = Request.PhysicalPath.ToLower().IndexOf("event") >= 0 ? "tab-on" : "" })
                        @Html.ActionLink("排程管理", "Schedule", "Beacon", new { functionName = @System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()) }, new { @class = Request.PhysicalPath.ToLower().IndexOf("schedule") >= 0 ? "tab-on" : "" })
                        @Html.ActionLink("地圖管理", "GroupManage", "Beacon", new { functionName = @System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()) }, new { @class = Request.PhysicalPath.ToLower().IndexOf("group") >= 0 ? "tab-on" : "" })
                        @Html.ActionLink("電量管理", "PowerList", "Beacon", new { functionName = @System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()) }, new { @class = Request.PhysicalPath.ToLower().IndexOf("power") >= 0 ? "tab-on" : "" })
                        @Html.ActionLink("觸發紀錄", "TriggerLog", "Beacon", new { functionName = @System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()) }, new { @class = Request.PhysicalPath.ToLower().IndexOf("triggerlog") >= 0 ? "tab-on" : "" })
                    </div>
                </div>
            }
            <h1 class="pc-logo flo-left">
                <a href="#" class="lnk-gray">管理後台</a>
            </h1>

            <div class="flo-right">
                <div class="mb-name alg-right display-none-400">
                    Hi ,
                    <span>
                        @Html.ViewContext.HttpContext.User.Identity.Name
                    </span>
                </div>
                <nav class="mb-nav flo-right">
                    <a href='@Url.Action("Logout", "Beacon", new {functionName = @System.IO.Path.GetFileName(Request.PhysicalPath.ToLower())})'>登出</a>
                    <label> ｜ </label>
                    <a href='@Url.Action("SetPassword", "Beacon")'>重設密碼</a>
                </nav>
            </div>
        </div>
    </header>
<nav id="mainMenu" class="center mrg20-hor clearfix">
    @if (functionNmae == LunchKingSite.Core.Enumeration.BeaconTriggerAppFunctionName.skm.ToString())
    {
        <table>
            <tr>
                <td class="main-td">．首頁設定</td>
                <td>
                    @if (User.IsInRole("SkmDefaultStyle") || User.IsInRole("Administrator") || User.IsInRole("ME2O"))
                    {
                        <ul class="main-nav"><li>@Html.ActionLink("最新活動", "SKMAppActivityStyle", "SKMDeal", new object { }, new { @class = Request.RawUrl.ToLower().IndexOf("skmappactivitystyle") >= 0 ? "tab-on" : "" })</li></ul>
                    }
                </td>
                <td>
                    @if (User.IsInRole("SkmAppBanner") || User.IsInRole("Administrator") || User.IsInRole("ME2O"))
                    {
                        <ul class="main-nav">
                            <li>@Html.ActionLink("ＫＶ設定", "SkmAppBanner", "SKMDeal", new object { }, new { @class = Request.RawUrl.ToLower().IndexOf("skmappbanner") >= 0 ? "tab-on" : "" })</li>
                        </ul>
                    }
                </td>
            </tr>
            <tr>
                <td class="main-td">．精選優惠</td>
                <td>
                    <ul class="main-nav">
                        @if (User.IsInRole("SkmProducter") || User.IsInRole("Administrator") || User.IsInRole("ME2O"))
                        {
                            <li>@Html.ActionLink("商品建檔", "SKMList", "SKMDeal", new object {}, new {@class = (Request.RawUrl.ToLower().IndexOf("skmlist") >= 0 || Request.RawUrl.ToLower().IndexOf("skmdealnfo") >= 0 || Request.RawUrl.ToLower().IndexOf("skmdealinfo") >= 0 || Request.RawUrl.ToLower().IndexOf("skmdealpreview") >= 0 || Request.RawUrl.ToLower().IndexOf("skmburningdealInfo") >= 0 || Request.RawUrl.ToLower().IndexOf("skmburningdealpreview") >= 0) ? "tab-on" : ""})</li>
                        }
                    </ul>
                </td>
                <td @if (config.EnableSkmBurning) { <text> style='display:none' </text> }>
                    @if (User.IsInRole("SkmDefaultStyle") || User.IsInRole("Administrator") || User.IsInRole("ME2O"))
                    {
                        <ul class="main-nav"><li>@Html.ActionLink("列表設定", "SKMAppDealStyle", "SKMDeal", new object { }, new { @class = Request.RawUrl.ToLower().IndexOf("skmappdealstyle") >= 0 || Request.RawUrl.ToLower().IndexOf("skmappdefaultstylepublicimag") >= 0 ? "tab-on" : "" })</li></ul>
                    }
                </td>
                <td>
                    <ul class="main-nav">
                        @if (User.IsInRole("SkmAppDealSort") || User.IsInRole("Administrator") || User.IsInRole("ME2O"))
                        {
                            <li>@Html.ActionLink("檔次排序", "SkmAppDealSort", "SKMDeal", new object {}, new {@class = Request.RawUrl.ToLower().IndexOf("skmappdealsort") >= 0 ? "tab-on" : ""})</li>
                        }
                    </ul>
                </td>
            </tr>
            @if (User.IsInRole("BeaconManager") || User.IsInRole("Administrator") || User.IsInRole("ME2O"))
            {
                <tr>
                    <td class="main-td">．Beacon推播</td>
                    <td><ul class="main-nav"><li>@Html.ActionLink("訊息列表", "EventList", "Beacon", new { functionName = @System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()) }, new { @class = Request.PhysicalPath.ToLower().IndexOf("event") >= 0 ? "tab-on" : "" })</li></ul></td>
                    <td><ul class="main-nav"><li>@Html.ActionLink("排程管理", "Schedule", "Beacon", new { functionName = @System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()) }, new { @class = Request.PhysicalPath.ToLower().IndexOf("schedule") >= 0 ? "tab-on" : "" })</li></ul></td>
                    <td><ul class="main-nav"><li>@Html.ActionLink("地圖管理", "GroupManage", "Beacon", new { functionName = @System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()) }, new { @class = Request.PhysicalPath.ToLower().IndexOf("group") >= 0 ? "tab-on" : "" })</li></ul></td>
                    <td><ul class="main-nav"><li>@Html.ActionLink("電量管理", "PowerList", "Beacon", new { functionName = @System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()) }, new { @class = Request.PhysicalPath.ToLower().IndexOf("power") >= 0 ? "tab-on" : "" })</li></ul></td>
                    <td>
                        <ul class="main-nav">
                            @if (functionNmae != LunchKingSite.Core.Enumeration.BeaconTriggerAppFunctionName.skm.ToString())
                            {
                                <li>@Html.ActionLink("觸發紀錄", "TriggerLog", "Beacon", new { functionName = @System.IO.Path.GetFileName(Request.PhysicalPath.ToLower()) }, new { @class = Request.PhysicalPath.ToLower().IndexOf("triggerlog") >= 0 ? "tab-on" : "" })</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
            @if (config.EnableSkmPrizeDraw && (User.IsInRole("Administrator") || User.IsInRole("ME2O") || User.IsInRole("SkmMarketing")))
            {
                <tr>
                    <td class="main-td">．行銷活動</td>
                    <td>
                        <ul class="main-nav">
                            <li>@Html.ActionLink("商品建檔", "PrizeList", "SKMDeal", new object { }, new { @class = (Request.RawUrl.ToLower().IndexOf("prizelist") >= 0 || Request.RawUrl.ToLower().IndexOf("prizedeal") >= 0) || ((Request.RawUrl.ToLower().IndexOf("skmlist") >= 0 || Request.RawUrl.ToLower().IndexOf("skmdealnfo") >= 0 || Request.RawUrl.ToLower().IndexOf("skmdealinfo") >= 0 || Request.RawUrl.ToLower().IndexOf("skmdealpreview") >= 0 || Request.RawUrl.ToLower().IndexOf("skmburningdealinfo") >= 0 || Request.RawUrl.ToLower().IndexOf("skmburningdealpreview") >= 0) && Request.RawUrl.ToLower().IndexOf("prize") > -1) ? "tab-on" : "" })</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="main-nav">
                            <li>@Html.ActionLink("抽獎活動", "PrizeDrawEventList", "SKMDeal", new object { }, new { @class = (Request.RawUrl.ToLower().IndexOf("prizedraweventlist") >= 0 || Request.RawUrl.ToLower().IndexOf("prizedraweventadd") >= 0) ? "tab-on" : "" })</li>
                        </ul>
                    </td>
                </tr>
            }
        </table>
    }
</nav>
    <section class="center mrg20-hor bg-white">
        @RenderBody()
    </section>
    <footer class="center">
        版權所有 ©
        <script language="javascript">
            var Today = new Date(); document.write(Today.getFullYear());
        </script> 康太數位整合股份有限公司
    </footer>
</body>
</html>
