﻿<!DOCTYPE html>

<html>
    <head>
        @*<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />*@
        <meta http-equiv='X-UA-Compatible' content='IE=10; requiresActiveX=true' >
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            @if (IsSectionDefined("PageTitle"))
            {
                @RenderSection("PageTitle", required: false)
            }
            else
            {
                <text>17Life 商家系統</text>
            }    
        </title>
        @RenderSection("Head", required: false)
        @{
            string urlPath = "";
            string userName = ViewBag.UserName ?? "";

            if (userName.Length > 17)
            {
                userName = userName.Substring(0, 17) + "...";
            }

            for (var i = HttpContext.Current.Request.Url.Segments.Length - 1; i > 0; i--)
            {
                if (HttpContext.Current.Request.Url.Segments[i].Replace("/", "") == "vbs")
                {

                    //抓取目前瀏覽頁面Action Name
                    urlPath = HttpContext.Current.Request.Url.Segments[i + 1].Replace("/", "");
                    break;
                }
            }
        }
        <link href='@Url.Content("~/Themes/OWriteOff/OWriteOff.css")' rel="stylesheet" type="text/css" />
        @if (IsSectionDefined("HeadSecond"))
        {
          @RenderSection("HeadSecond", required: false)
        }
        else
        {
        <script src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")' type="text/javascript"></script>
        <script src='@Url.Content("~/Tools/js/jquery-ui.js")' type="text/javascript"></script>
        <script src="@Url.Content("~/Tools/js/jquery.cookie.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/homecook.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
        <link type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")' rel="stylesheet" />
        }
        <style type="text/css">
            div[onclick] { cursor: pointer; }
            .aHrefCss:hover { text-decoration: none;	color: #f2553b; }
        </style>
        <script type="text/javascript">
	    !function (b, r, i, d, g, e, w, l) { if (b._bw) return; var a = b._bw = function () { a.callMethods ? a.callMethods.apply(a, arguments) : a.queue.push(arguments) }; a.queue = []; var j = r.createElement(i); j.async = !0; j.src = d; var d = r.getElementsByTagName(i)[0]; d.parentNode.insertBefore(j, d) }(window, document, 'script', 'https://img.scupio.com/js/pixel.js');
	    @if(HttpContext.Current.User.Identity is PponIdentity) {
    	@:_bw('init', '153', { ulid: '@((HttpContext.Current.User.Identity as PponIdentity).Id.ToString())' });
	    } else {
	    @:_bw('init', '153');
	    }
        </script>
        <script type="text/javascript">
            $().ready(function () {
                showTab('@urlPath');

                //keep session alive 設定時間自動執行
                window.setInterval(function () {
                    keepSessionAlive();
                }, 55000);
            });

        //控制Div頁面顯示效果
            function showTab(actionName) {
                if (actionName === "Verify") {       //線上核銷
                    $("#divOnLineVerify").addClass("on");
                }
                else if (actionName === "VerificationCouponListByStore" || actionName === "VerificationDealList" || actionName === "VerificationStoreList" || actionName === "VerificationCouponList") {  //核銷查詢
                    $("#divVerrification").addClass("on");
                }
                else if (actionName === "BalanceDealList" || actionName === "BalanceStoreList" || actionName === "BalanceSheetsWeek" ||
                    actionName === "BalanceSheetsMonth" || actionName === "InspectionCodeLogin" || actionName === "BalanceSheetsDeliver" ||
                    actionName === "BalanceSheetPack" || actionName === "BalanceSheetsToHouse") {  //對帳查詢
                    $("#divBalance").addClass("on");
                }
                else if (actionName === "ship" || actionName === "ShipDealList" || actionName === "ShipOrderList" || actionName === "ShipProductInventory" ||
                    actionName === "NoShipDeal" || actionName === "BatchInventoryImport") {  //出貨管理
                    $("#divShip").addClass("on");
                }
                else if (actionName === "BookingSystem" || actionName === "BookingFirst" || actionName === "BookingReservationSetup" ||
                    actionName === "BookingReservationDetailSetup" || actionName === "BookingTravelSetup" || actionName === "BookingNoPermission" ||
                    actionName === "BookingReservationList" || actionName === "BookingStore" || actionName === "BookingSystemSearch") { //預約管理
                    $("#divBooking").addClass("on");
                }
                else if (actionName === "ReserveLock") {    //訂房鎖定
                    $("#divReserveLock").addClass("on");
                }
                else if (actionName === "UserEvaluation") {
                    $("#divUserEvaluate").addClass("on");
                }
                else if (actionName === "ServiceProcess" || actionName==="ServiceProcessDetail") {
                    $("#divServiceProcess").addClass("on");
                }
                else if (actionName === "BulletinBoardList") {  //公布欄
                    $("#divPost").addClass("on");
                }
                else if ((actionName.toLowerCase() === "proposallist") || (actionName.toLowerCase() === "proposalcontent")) {       //提案功能
                    $("#ProposalList").addClass("on");
                }
                else if ((actionName.toLowerCase() === "shoppingcartmanage") || (actionName.toLowerCase() === "shoppingcartmanage")) {       //提案功能
                    $("#ShoppingCartManage").addClass("on");
                }
            }

            function keepSessionAlive() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("KeepSessionAlive", "VendorBillingSystem")',
                    error: errHandler
                });
            }

            function errHandler(jqXHR, ajaxOptions, thrownError) {
                window.location = '@Url.Action("Login", "VendorBillingSystem")';
            }

            function loginOut()
            {
                window.location = "/Vbs/Logout";
            }
        </script>
    </head>
<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KWN4HC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KWN4HC');</script>
<!-- End Google Tag Manager -->

    <div class="OW-top">
        <div class="ow-topCenter">
            <div class="ow-logo"></div>       
            <div class="OW-rightText OW-rightT2"><a href="@Url.Action("Others", "VendorBillingSystem")">幫助中心</a></div>
            <div class="OW-rightText OW-rightT2"><a style="cursor: pointer;" onclick="loginOut()">登出</a></div>
            <div class="OW-StoreName" title='@ViewBag.UserName（@ViewBag.UserId）'>Hi! @userName</div>
        </div>
    </div>
    <div class="OW-StaffToWriteOff-tittle">
        <div class="OW-StaffToWriteOff-menu">
            <ul>
        @{
                <li id="divPost" class="tab" onclick="window.location.href='@Url.Action("BulletinBoardList", "VendorBillingSystem")'">公告與通知</li>            
            if (VbsCurrent.ViewVbsRight.Ship)
            {
                <li id="divShip" class="tab" onclick="window.location.href='@Url.Action("ShipDealList", "VendorBillingSystemShip")'">商品管理</li>
            }            
            if (VbsCurrent.ViewVbsRight.Verify)
            {
                <li id="divOnLineVerify" class="tab" onclick="window.location.href='@Url.Action("Verify", "VendorBillingSystem")'">線上核銷</li>
                <li id="divVerrification" class="tab" onclick="window.location.href='@Url.Action("VerificationDealList", "VendorBillingSystem")'">核銷查詢</li>
            }
            if (!VbsCurrent.Is17LifeEmployee)
            {
                <li id="divServiceProcess" class="tab" onclick="window.location.href='@Url.Action("ServiceProcess", "VendorBillingSystem")'">客戶案件管理</li>
            }
            if (VbsCurrent.ViewVbsRight.BalanceSheet)
            {
                <li id="divBalance" class="tab" onclick="window.location.href='@Url.Action("BalanceDealList", "VendorBillingSystem", new { state = "Balancing" })'">對帳查詢</li>
            }
            if (VbsCurrent.ViewVbsRight.Booking)
            {
                <li id="divBooking" class="tab" onclick="window.location.href='@Url.Action("BookingSystemAuthorize", "BookingSystem")'">預約管理</li>
            }
            if (VbsCurrent.ViewVbsRight.ReserveLock)
            {
                <li id="divReserveLock" class="tab" onclick="window.location.href='@Url.Action("ReserveCouponLock", "ReserveLock")'">憑證鎖定</li>
            }
            if (VbsCurrent.ViewVbsRight.UserEvaluate)
            {
                <li id="divUserEvaluate" class="tab" onclick="window.location.href='@Url.Action("Evaluate", "UserEvaluation")'">評價系統</li>
            }
            if (VbsCurrent.ViewVbsRight.Proposal)
            {
                <li id="ProposalList" class="tab" onclick="window.location.href='@Url.Action("ProposalList", "VendorBillingSystem")'">提案功能</li>
            }
            if (VbsCurrent.ViewVbsRight.ShoppingCartManage)
            {
                <li id="ShoppingCartManage" class="tab" onclick="window.location.href='@Url.Action("ShoppingCartManage", "VendorBillingSystemShoppingCart")'">購物車管理</li>
            }
        }
            </ul>
        </div> 
    </div>
    @RenderBody()    
    @if (IsSectionDefined("Script"))
    {
        @RenderSection("Script", required: false);
    }
</body>
</html>
