﻿<!DOCTYPE html>

<html>
    <head>
        @*<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />*@
        <meta http-equiv='X-UA-Compatible' content='IE=10; requiresActiveX=true' >
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            @if (IsSectionDefined("PageTitle"))
            {
                @RenderSection("PageTitle", required: false)
            }
            else
            {
                <text>服務商通報系統</text>
            }    
        </title>
        @RenderSection("Head", required: false)
        @{
            string urlPath = "";
            for (var i = HttpContext.Current.Request.Url.Segments.Length - 1; i > 0; i--)
            {
                if (HttpContext.Current.Request.Url.Segments[i].Replace("/", "") == "PartnerReportingSystem")
                {
                    //抓取目前瀏覽頁面Action Name
                    urlPath = HttpContext.Current.Request.Url.Segments[i + 1].Replace("/", "");
                    break;
                }
            }
        }
        <link type="text/css" href='@Url.Content("~/Themes/OWriteOff/OWriteOff.css")' rel="stylesheet" type="text/css" />
        <!-- Latest compiled and minified CSS -->
        <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->

        <script src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")' type="text/javascript"></script>
        <script src='@Url.Content("~/Tools/js/jquery-ui.js")' type="text/javascript"></script>
        <script src="@Url.Content("~/Tools/js/jquery.cookie.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/homecook.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
        <link type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")' rel="stylesheet" />
        <style type="text/css">
            #ui-datepicker-div { position: absolute; top: 0px; left: 559px; z-index: 1; display: none;}
            .ui-datepicker { width: 300px; padding: .1em .1em 0; }
            .ui-datepicker table {width: 100%; font-size: .7em; border-collapse: collapse; margin:0 0 .2em; }
            .ui-datepicker .ui-datepicker-title { margin: 0 1.3em; line-height: 1.3em; text-align: center; }
            div[onclick] { cursor: pointer; }
            .aHrefCss:hover { text-decoration: none;	color: #f2553b; }
        </style>

        <script type="text/javascript">
            $().ready(function () {
                //判斷目前瀏覽頁面Action Name 而控制Div顯示效果 
                showTab('@urlPath');
            });

        //控制Div頁面顯示效果
            function showTab(actionName) {
                if (actionName == "PartnerList") {       //服務商列表
                    $('#divList').addClass("on");
                }
                else if (actionName == "Notification") {  //通知功能
                    $('#divNotice').addClass("on");
                } 
            }
        </script>
    </head>
<body>
    
    <div class="OW-StaffToWriteOff-tittle">
        <div class="OW-StaffToWriteOff-menu">
            <ul>
                <li id="divList" class="tab" onclick="window.location.href='@Url.Action("PartnerList", "PartnerReportingSystem")'">服務商列表</li>
                <li id="divNotice" class="tab" onclick="window.location.href='@Url.Action("Notification", "PartnerReportingSystem")'">通知功能</li>
            </ul>
        </div> 
    </div>
    <div class="OWriteOff">
    @RenderBody()
    </div>
</body>
</html>
