﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();

    ViewBag.VbsRight = Session[VbsSession.ViewVbsRight.ToString()];
    string LoginBy17LifeSimulateUserName = VbsCurrent.LoginBy17LifeSimulateUserName;
    string dType = string.Empty;
    if (Request.Params["d"] != null)
    {
        dType = Request.Params["d"];
    }
    else
    {
        if (Session[VbsSession.VbsAccountType.ToString()].Equals(VbsMembershipAccountType.VerificationAccount))
        {
            if ((ViewBag.VbsRight.ToShop && ViewBag.VbsRight.ToHouse) || ViewBag.VbsRight.ToShop && !ViewBag.VbsRight.ToHouse)
            {
                dType = ((int)DeliveryType.ToShop).ToString();
            }
            else if (!ViewBag.VbsRight.ToShop && ViewBag.VbsRight.ToHouse)
            {
                dType = ((int)DeliveryType.ToHouse).ToString();
            }
        }
        else
        {
            if ((ViewBag.VbsRight.ToShop && ViewBag.VbsRight.ToHouse) || (!ViewBag.VbsRight.ToShop && ViewBag.VbsRight.ToHouse))
            {
                dType = ((int)DeliveryType.ToHouse).ToString();
            }
            else if (ViewBag.VbsRight.ToShop && !ViewBag.VbsRight.ToHouse)
            {
                dType = ((int)DeliveryType.ToShop).ToString();
            }
        }
    }

    int d = (int)DeliveryType.ToHouse;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=10; requiresActiveX=true'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        @if (IsSectionDefined("PageTitle"))
        {
            @RenderSection("PageTitle", required: false)
        }
        else
        {
            <text>17Life 商家系統</text>
        }
    </title>

    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/OWriteOff/plugin/materialize/css/materialize.css")" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/OWriteOff/plugin/font-awesome/font-awesome.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/OWriteOff/OWriteOff.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/OWriteOff/css/style.css?v=2")" media="screen,projection" />
    <script src='@Url.Content("~/Tools/js/jquery-1.9.1.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-migrate-1.2.1.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-ui.js")' type="text/javascript"></script>
    <script src="@Url.Content("~/Tools/js/jquery.cookie.js")" type="text/javascript"></script>

    @if (IsSectionDefined("HeadSecond"))
    {
        @RenderSection("HeadSecond", required: false)
    }
    else
    {
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/homecook.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
        <link type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")' rel="stylesheet" />
    }

    <style type="text/css">
        #ui-datepicker-div { position: absolute; top: 0px; left: 559px; z-index: 1; display: none;}
        .ui-datepicker { width: 300px; padding: .1em .1em 0; }
        .ui-datepicker table {width: 100%; font-size: .7em; border-collapse: collapse; margin:0 0 .2em; }
        .ui-datepicker .ui-datepicker-title { margin: 0 1.3em; line-height: 1.3em; text-align: center; }
        div[onclick] {
            cursor: pointer;
        }
        .aHrefCss:hover {
            text-decoration: none;
            color: #f2553b;
        }
        .closeGSA {
            background-color: #bf0000; 
            border: none;
            color: white;
            padding: 5px 20px;
            margin-bottom:20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 3px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            //keep session alive
            window.setInterval(function () { keepSessionAlive(); }, 55000);
            if ($('#DeliveryTypeList :selected').val() == '@d' && '@LoginBy17LifeSimulateUserName'=='') 
            {
                //宅配才跳窗
                GSANotify();
            }
        });

        function GSANotify() {
            var star = '@config.VbsGsaNotifyStartDate';
            var end = '@config.VbsGsaNotifyEndDate';
            var dtStart = new Date(star);
            var dtExpire = new Date(end);
            var today = new Date();
            var path = window.location.pathname.toLowerCase();
            var isNotifyPage = (path == '/vbs/bulletinboardlist' || path == '/vbs/proposallist' || path == '/vbs/productoption');
            if (dtStart <= today && today < dtExpire && isNotifyPage)
            {
                if ($.cookie('GSA_Notify') == null) {
                    $.cookie('GSA_Notify', today, { expires: dtExpire });
                    block_ui('GSA_Notify'); //first time block
                }
                else
                {
                    var lastBlockDate = new Date($.cookie('GSA_Notify'));
                    var diffDays = (today - lastBlockDate) / 86400000;
                    if (diffDays > 7)
                    {
                        $.cookie('GSA_Notify', today, { expires: dtExpire });
                        block_ui('GSA_Notify');
                    }
                }
            }
        }

        function block_ui(obj) {
            obj = '#' + obj;
            var target = $(obj);
            $.unblockUI();
            $.blockUI(
                {
                    message: $(target),
                    css: {
                        backgroundcolor: '#F7F7F7',
                        border: '10px solid #fff',
                        top: ($(window).height()) / 8 + 'px',
                        left: ($(window).width() - 700) / 2 + 'px',
                        width: '700px'
                    }, bindEvents: false
                });
        }


        function keepSessionAlive() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("KeepSessionAlive", "VendorBillingSystem")',
                error: errHandler
            });
        }

        function errHandler(jqXHR, ajaxOptions, thrownError) {
            window.location = '@Url.Action("Login", "VendorBillingSystem")';
        }
    </script>
    @RenderSection("Head", required: false)
</head>
<body>
    <header>
        @{
            Html.RenderAction("VbsTop", "VendorBillingSystem");
        }
        <ul id="nav-mobile" class="side-nav fixed">
            @{
                if (dType == ((int)DeliveryType.ToHouse).ToString())
                {
                    Html.RenderAction("VbsMenu", "VendorBillingSystem");
                }
                else if (dType == ((int)DeliveryType.ToShop).ToString())
                {
                    Html.RenderAction("VbsMenu", "VendorBillingSystem");
                }
                else
                {
                    Html.RenderAction("VbsMenu", "VendorBillingSystem");
                }
            }
        </ul>
    </header>

    <div class="page-content">
        <div id="GSA_Notify" class="GSA_Notify pop-window" style="display: none; text-align: left; padding:10px 20px 20px 20px">
            <div style="float:right"><a class="close" onclick="$.unblockUI();" style="color:dimgrey">✖</a></div>
            <div style="float: left;">
                親愛的供應商夥伴，您好：<br/>
                <br/>
                商品於Google shopping Ads(GSA)曝光，業績近150%成長！消費者搜尋精準度UP！<br/>
                根據近期市場數據報告顯示，商品曝光於Google shopping Ads (GSA)，能有效提升商品搜尋的精準度，並且直接為您的商品帶來銷售業績成長！<br/>
                <br/>
                如何讓您的商品趕上這波成長動能？<br/>
                僅須完成以下兩項任務<br/>
                <div style="margin:10px;">
                    1. 商品提案時的詳細資訊，包含:<br />
                    <div style="margin-left:10px;">
                        - 品牌名稱<br />
                        - 商品 GTIN (全球交易品項識別碼)<br />
                        - 商品 MPN (製造商零件編號)<br />
                    </div>
                    2. 商品的去背圖
                </div>
                <br />
                詳細填寫規範與教學如下方連結，您亦可至商家系統左側功能區「文件下載-系統教學」自行下載檢閱。<br/>
                若有任何不清楚的地方，請您與17Life團隊聯絡，謝謝。<br/>
                <br/>
                文件連結: <a href="../vbs/VbsDocumentDownloadSys?t=1&d=2" target="_blank" style="color: cornflowerblue">17Life_Google去背圖xGTIN教學_V1.1</a>
                <br/>
            </div>
            <div style="float: right;">
                <button class="closeGSA" type="button" onclick="$.unblockUI();" >我知道</button>
            </div>
        </div>
        @RenderBody()
    </div>

    <!--  Scripts-->
    <script type="text/javascript" src="@Url.Content("~/Themes/OWriteOff/plugin/materialize/js/init.js")"></script>
    @if (IsSectionDefined("Script"))
    {
        @RenderSection("Script", required: false);
    }
</body>
</html>
