﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (VbsCurrent.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

@{
    string urlPath = "";
    for (var i = HttpContext.Current.Request.Url.Segments.Length - 1; i > 0; i--)
    {
        if (HttpContext.Current.Request.Url.Segments[i].Replace("/", "") == "ship")
        {
            //抓取目前瀏覽頁面Action Name
            urlPath = HttpContext.Current.Request.Url.Segments[i + 1].Replace("/", "");
            break;
        }
    }

    //DealSaleInfo dealSaleInfo = Model.DealSaleInfo;
}

<div class="OWriteOff">
	<div class="OW-center">
		<div style="float:left;margin-top: -3px;">
			<div class="OW-W5_3-Detailedlist-Btn" style="width:175px" onclick="window.location.href='@Url.Action("VerificationDealList", "VendorBillingSystem")'">顯示各方案核銷明細(舊版)</div>
			<div class="OW-W5_3-Detailedlist-Btn" style="width:175px;display:none;">顯示各方案統計</div>
			<div class="OW-W5_3-Detailedlist-Btn" style="width:175px" onclick="window.location.href='@Url.Action("VerificationCouponListByStore", "VendorBillingSystem")'">顯示核銷紀錄</div>
		</div>
		@RenderBody()
	</div>
</div>

@if (IsSectionDefined("Script"))
{
    @RenderSection("Script", required: false);
}