﻿@model LunchKingSite.DataOrm.AuditCollection
<table class="table" style="width: 800px">
	<thead>
		<tr>
			<td>日期	</td>
			<td>異動資料</td>
			<td>建立者</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.CreateTime.ToString("yyyy/MM/dd HH mm")</td>
				<td>@Html.Raw(item.Message)</td>
				<td>@item.CreateId</td>
			</tr>
		}
	</tbody>
</table>
