﻿@model LunchKingSite.DataOrm.ChangeLogCollection
<table class="table" style="width: 800px">
	<thead>
		<tr>
			<td>日期	</td>
			<td>異動資料</td>
			<td>建立者</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.ModifyTime.ToString("yyyy/MM/dd HH:mm")</td>
				<td>@RenderContent(item.Content)</td>
				<td>@RenderModifyUser(item.ModifyUser)</td>
			</tr>
		}
	</tbody>
</table>
@helper RenderContent(string content) {
	@Html.Raw(content.Replace("{", "").Replace("}", "").Replace("\"","").Replace(",", "<br />"))
}

@helper RenderModifyUser(string content) {
	@Html.Raw(content.Replace("@17life.com.tw", "").Replace("@17life.com", ""))
}