﻿@using LunchKingSite.Core
@model LunchKingSite.DataOrm.StoreCollection
<table class="table table-striped">
	<thead>
		<tr class="success">
			<td>店名/分店名</td>
			<td>電話</td>
			<td>簽約公司ID/統一編號</td>
			<td>受款人ID/統一編號</td>
			<td>銀行代號</td>
			<td>分行代號</td>
			<td>帳號</td>
			<td>店址</td>
			<td>狀態</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var store in Model)
		{
			<tr>
				<td><a href="@Url.Action("EditStore", new { storeGuid = store.Guid})">@store.StoreName</a></td>
				<td>@store.Phone</td>
				<td>@store.SignCompanyID</td>
				<td>@store.CompanyID</td>
				<td>@store.CompanyBankCode</td>
				<td>@store.CompanyBranchCode</td>
				<td>@store.CompanyAccount</td>
			    <td>@Html.Address(store.TownshipId, store.AddressString)<br />@Html.Coordinate(store.Coordinate, "({0},{1})")</td>
				<td>@Html.Raw(Helper.IsFlagSet(store.Status, StoreStatus.Cancel) , "刪除")</td>
			</tr>
		}
	</tbody>
</table>