﻿@model LunchKingSite.DataOrm.ViewSellerHiDealCollection
<table class="table table-striped">
	<thead>
		<tr class="success">
			<td>DID(檔號)</td>
			<td>店家名稱</td>
			<td>檔次設定</td>
			<td>狀態</td>
			<td class="text-right">目前銷售</td>
			<td class="text-right">目前銷售金額</td>
			<td>開始時間</td>
			<td>截止時間</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var deal in Model)
		{
			<tr>
				<td>@deal.DealId</td>
				<td>@deal.SellerName</td>
				<td><a href='~/piinlife/setup.aspx?did=@deal.DealId'>@deal.DealName</a></td>
				<td>@Html.Raw(deal.IsOpen, "上檔", "下檔")</td>
				<td class="text-right">@deal.CurrentSoldItems</td>
				<td class="text-right">@Html.Dollar(deal.CurrentSoldAmount)</td>
				<td>@deal.DealStartTime.Value.ToString("yyyy/MM/dd hh:mm")</td>
				<td>@deal.DealEndTime.Value.ToString("yyyy/MM/dd hh:mm")</td>
			</tr>
		}
	</tbody>
</table>