﻿<%@ Page Language="C#" MasterPageFile="~/ppon/Ppon.Master" AutoEventWireup="true"
    CodeBehind="promo.aspx.cs" Inherits="LunchKingSite.Web.Piinlife.promo" %>

<%@ MasterType VirtualPath="~/piinlife/hideal.Master" %>
<%@ Register Src="~/UserControls/Paragraph.ascx" TagName="Paragraph"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="SSC" runat="server">
    <link rel="stylesheet" type="text/css" href='<%= ResolveUrl("~/Themes/PCweb/HighDeal/MasterPage_HD.css") %>' />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MC" runat="server">
    <uc1:Paragraph ID="pMain" ExternalCache="true" runat="server" />
</asp:Content>
