﻿@using LunchKingSite.WebLib.Models.ControlRoom.Finance
@model ToHouseDealPaymentManageModel
@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}
<h2>對帳單備註</h2>
<table>
    <tr>
        <td>會計檔號：</td>
        <td>@Model.DealId</td>
    </tr>
    <tr>
        <td>優惠內容：</td>
        <td>@Model.DealContent</td>
    </tr>
</table>
<p>
    <strong>紀錄：</strong>
</p>
@if (Model.IsModificationSuccess.HasValue)
{
    //this part is used for determining ajax result
    <input id="isModificationSuccess" type="hidden" value="@Model.IsModificationSuccess.Value.ToString()" />
}
@if (!string.IsNullOrEmpty(Model.ReturnMessage))
{
    <input id="returnMessage" type="hidden" value="@Model.ReturnMessage" />
}
@if (Model.VendorPaymentChangeInfos != null)
{
    <input id="isAllowanceAmountEdit" type="hidden" value="@Model.IsAllowanceAmountEdit.ToString()" />
    if (Model.IsBalanceSheetCreate)
    {
        if (Model.IsAllowanceAmountEdit)
        {
            <form id="changeBsAmountForm">
                <span>請選擇欲調整之對帳單：</span>
                <select name="BalanceSheetId">
                    @foreach (var b in Model.BalanceSheetInfos.Where(x => !x.IsConfirmedReadyToPay))
                    {
                        <option value="@b.BalanceSheeetId">@b.BalanceSheetFrequencyDesc</option>
                    }
                    @if (Model.IsInBalanceTimeRange)
                    {
                        <option value="-1">未對應</option>
                    }
                </select>
                <input type="hidden" id="changeIds" name="PaymentChangeIds">
                <input type="hidden" name="DealGuid" value="@Model.DealGuid">
            <input type="button" value="更新對帳單金額" onclick="updateBsEstAmount()" />
            </form>
        }
        <span style="font-size: small;color:red">對帳單已產出，若有異動對帳單異動金額；須請財務執行更新對帳單金額作業，以利於商家系統顯示。</span>
    }
    <table id="ajaxTable" class="ctrlRoomTbl" style="width: 1160px">
        <thead>
            <tr>
                <th style="width: 10px">&nbsp;</th>
                <th style="width:80px">日期</th>
                <th style="width:200px">內容</th>
                <th style="width:80px">每筆金額</th>
                <th style="width:60px">筆數</th>
                <th style="width:80px">總金額</th>
                <th style="width:80px">撥補消費者每筆金額</th>
                <th style="width:150px">訂單編號</th>
                <th style="width:150px">摘要</th>
                <th style="width:80px">紅利金期限</th>
                <th style="width:120px">處理人員</th>
                <th style="width:80px">發票調整金額</th>
                <th style="width:120px" colspan="2">關聯對帳單</th>
            </tr>
        </thead>
        <tbody>
            @{
    bool hasAjaxData = Model.IsModificationSuccess.GetValueOrDefault(false);
    foreach (var m in Model.VendorPaymentChangeInfos)
    {
        <tr @Html.Raw(hasAjaxData ? "id='ajaxRow'" : string.Empty)>
            <td style="text-align: center;"><input type="checkbox" name="changeBsAmount" value="@m.PaymentChangeId" class="cview" style="@Html.Raw(Model.IsAllowanceAmountEdit && Model.IsBalanceSheetCreate && m.IsEditable ? string.Empty : "display: none")" /></td>
            <td style="text-align: center;">@m.CreateTime.ToString("yyyy/MM/dd HH:mm")</td>
            <td>@m.Reason</td>
            <td style="text-align: center;">@Math.Round((decimal)m.Amount / m.OrderCount, 0)</td>
            <td style="text-align: center;">@m.OrderCount</td>
            <td style="text-align: center;">@m.Amount</td>
            <td style="text-align: center;">@Math.Round((decimal)m.PromotionValue / m.OrderCount, 0)</td>
            <td><span id="spanOrderInfo">@Html.Raw(m.OrderIdInfo)</span></td>
            <td>@m.Action</td>
            <td>@(m.StartTime.HasValue && m.ExpireTime.HasValue ? string.Format("{0} ~ {1}", m.StartTime.Value.ToString("yyyy/MM/dd"), m.ExpireTime.Value.ToString("yyyy/MM/dd")) : string.Empty)</td>
            <td>@m.CreateId</td>
            <td style="text-align: center; width:40px">
                <span class="view">@m.AllowanceAmount</span>
                <input type="text" class="edit" name="AllowanceAmount" value="@m.AllowanceAmount" style="display: none;width: 50px" />
            </td>
            <td style="text-align: center; width:40px">
                @(m.BalanceSheetId.HasValue ? Model.BalanceSheetInfos.First(x => x.BalanceSheeetId == m.BalanceSheetId.Value).BalanceSheetFrequencyDesc : "未對應")
            </td>
            <td style="width:40px">
                <input type="button" class="view" value="修改" style="font-size: x-small;" onclick="changeToEditMode(this);" @Html.Raw(Model.IsAllowanceAmountEdit && m.IsEditable ? string.Empty : "disabled") />
                <input type="button" class="edit" value="儲存" style="font-size: x-small; display: none;" onclick="saveChanges(this);" />
                <input type="button" class="edit" value="取消" style="font-size: x-small; display: none;" onclick="cancelChanges(this);" />
                <input type="hidden" name="PaymentChangeId" value="@m.PaymentChangeId" />
            </td>
        </tr>
    }
            }
        </tbody>
    </table>
    
    <br />
    <form id="paymentChangeForm">
        @if (Model.IsVendorPaymentChangeEdit)
        {
            <table>
                <tr>
                    <td colspan="4">新增內容：</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <textarea name="Reason" cols="80" rows="2"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>每筆金額：</td>
                    <td><input type="text" name="Amount" style="width: 50px" />&nbsp;&nbsp;(扣款請寫：<span style="color:red">-100</span>)</td>
                    <td><input type="radio" name="IsCompensateConsumer" value="false" checked />不須給消費者</td>
                    <td>
                        <input type="radio" name="IsCompensateConsumer" id="compensateConsumer" value="true" />須給消費者，每筆金額：
                        <input type="text" name="PromotionValue" style="width: 50px" />&nbsp;<span style="color: #FF5151">(台幣)</span>
                    </td>
                </tr>
                <tr id="trPromotionDeposit" style="display: none">
                    <td colspan="4">
                        <table>
                            <tr>
                                <td>摘要：</td>
                                <td colspan="3"><input type="text" name="Action" value="17Life致歉禮" /></td>
                            </tr>
                            <tr>
                                <td>紅利金生效日：</td>
                                <td><input type="text" name="StartTime" id="startTime" /></td>
                                <td>紅利金到期日：</td>
                                <td><input type="text" name="ExpireTime" id="expireTime" /></td>
                            </tr>
                            <tr>
                                <td colspan="4">須補紅利的訂單編號：(多筆請以分號隔開，如：A0-00-001-140101-001;A0-00-001-140101-002)</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <textarea name="OrderIdInfo" cols="80" rows="2"></textarea>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: center">
                        <input type="button" value="儲存" onclick="save_Click()" />
                    </td>
                </tr>
            </table>
        }
        <input name="DealGuid" type="hidden" value="@Model.DealGuid" />
        <input id="paymentChangeId" name="PaymentChangeId" type="hidden" />
        <input id="allowanceAmount" name="AllowanceAmount" type="hidden" />
    </form>
}

@section SSC {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" />
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-1.6.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui-1.9.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#startTime').datepicker({ dateFormat: 'yy/mm/dd' });
            $('#expireTime').datepicker({ dateFormat: 'yy/mm/dd' });

            $('input[name="Amount"]').keyup(function () {
                if ((/^-?\d*$/.test($(this).val())) === false) {
                    $(this).val('');
                }

                if (parseInt($(this).val()) > 0) {
                    $('input[name="IsCompensateConsumer"][value=false]').prop("checked", true).change();
                    $('input[name="IsCompensateConsumer"][value=true]').attr("disabled", true);
                    $('input[name="PromotionValue"]').attr("disabled", true);
                    $('input[name="PromotionValue"]').val('');
                } else {
                    $('input[name="IsCompensateConsumer"]').attr("disabled", false);
                    $('input[name="PromotionValue"]').attr("disabled", false);
                }
                return true;
            });

            $('input[name="PromotionValue"]').keyup(function () {
                if ((/^[1-9]{1}\d*$/.test($(this).val())) === false) {
                    $('input[name="PromotionValue"]').val("");
                }
            });

            $('input[name="PromotionValue"]').focus(function () {
                $('#compensateConsumer').prop('checked', true).change();
            });

            $('input[name="IsCompensateConsumer"]').change(function () {
                if ($('input[name="IsCompensateConsumer"]:checked').val() === 'true') {
                    $('#trPromotionDeposit').show();
                } else {
                    $('#trPromotionDeposit').hide();
                }
            });
        });

        function changeToEditMode(ele) {
            var tr = $(ele).closest('tr');
            tr.find('td').addClass('editStyle');
            tr.find('.edit').show();
            tr.find('.view').hide();
        }

        function cancelChanges(ele) {
            finishEditing(ele);
        }

        function finishEditing(ele) {
            var tr = $(ele).closest('tr');
            tr.find('td').removeClass('editStyle');
            tr.find('.edit').hide();
            tr.find('.view').show();
        }

        //更新折讓扣抵金額
        function saveChanges(ele) {
            var tr = $(ele).closest('tr');
            var paymentId = tr.find('input[name="PaymentChangeId"]').val();
            var allowanceAmount = tr.find('input[name="AllowanceAmount"]').val();
            $('#paymentChangeId').val(paymentId);
            $('#allowanceAmount').val(allowanceAmount);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveAllowanceAmount")',
                data: $('#paymentChangeForm').serialize(),
                success: function (data) {
                    var result = $(data).find('#isModificationSuccess').val() === 'True';
                    if (result) {
                        var changedRow = $(data).find('#ajaxRow');
                        changedRow.find('.view').attr("disabled", false);
                        changedRow.find('.cview').css("display", "");
                        $(tr).replaceWith(changedRow);
                        alert('更新成功');
                    } else {
                        alert($(data).find('#returnMessage').val());
                        finishEditing(ele);
                    }
                },
                dataType: 'html'
            });
        }

        //更新對帳單金額
        function updateBsEstAmount() {

            if ($('select[name="BalanceSheetId"] option').length === 0) {
                alert("目前無單據未回之對帳單可供更新!!");
                return false;
            }

            var changeList = [];

            $('input[name="changeBsAmount"]').each(function () {
                if ($(this).attr('checked')) {
                    changeList.push($(this).val());
                }
            });

            if (changeList.length === 0) {
                if (!confirm("您未勾選欲調整至對帳單金額之補扣款資訊，\n將不會更新補扣款資訊；\n只會重新計算對帳單應付金額!!\n請確定是否更新?")){
                    return false;
                }
            }
            $('#changeIds').val(changeList.join());

            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateBalanceSheetEstAmount")',
                data: $('#changeBsAmountForm').serialize(),
                success: function (data) {
                    //關閉處理中訊息並解除鎖定畫面
                    $.unblockUI();
                    if (data.Result) {
                        alert('更新成功');
                        location.reload();
                    } else {
                        alert(data.Message);
                    }
                },
                dataType: 'json'
            });
        }

        function validateForm() {
            if ($("textarea[name='Reason']").val().length === 0) {
                alert('請輸入補扣款備註內容!');
                return false;
            }
            if ($("input[name='Amount']").val().length === 0) {
                alert('請輸入廠商補扣款金額!');
                return false;
            }
            if (!parseInt($("input[name='Amount']").val()) ||
                ($("input[name='PromotionValue']").val().length > 0 &&
                 !parseInt($("input[name='PromotionValue']").val()))) {
                alert("金額請輸入數值!");
                return false;
            }
            if ($("input[name='PromotionValue']").val() < 0) {
                alert("取回消費者紅利請至客服整合系統操作!");
                return false;
            }
            if ($('input[name="IsCompensateConsumer"]:checked').val() === 'true') {
                if ($("input[name='PromotionValue']").val().length === 0) {
                    alert("請輸入給消費者金額!");
                    return false;
                }
                if ($.trim($("input[name='StartTime']").val()).length === 0) {
                    alert("請輸入紅利金生效日!");
                    return false;
                }
                if ($.trim($("input[name='ExpireTime']").val()).length === 0) {
                    alert("請輸入紅利金到期日!");
                    return false;
                }
                if ($.trim($("input[name='Action']").val()).length === 0) {
                    alert("請輸入補紅利金摘要!");
                    return false;
                }
                if ($.trim($("textarea[name='OrderIdInfo']").val()).length === 0) {
                    alert("請輸入須補紅利的訂單編號!");
                    return false;
                }
            }

            return true;
        }

        //新增廠商補扣款及消費者紅利紀錄
        function save_Click() {
            //各欄位輸入檢查
            if (!validateForm()) {
                return false;
            }

            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveVendorPaymentChange")',
                data: $('#paymentChangeForm').serialize(),
                success: function (data) {
                    //關閉處理中訊息並解除鎖定畫面
                    $.unblockUI();
                    var result = $(data).find('#isModificationSuccess').val() === 'True';
                    if (result) {
                        var changedRow = $(data).find('#ajaxRow');
                        if ($('#isAllowanceAmountEdit').val() === 'False') {
                            changedRow.find('.view').attr("disabled", true);
                            changedRow.find('.cview').css("display", "none");
                        } else {
                            changedRow.find('.view').attr("disabled", false);
                            changedRow.find('.cview').css("display", "");
                        }
                        if ($('#ajaxTable > tbody > tr').length > 0) {
                            $('#ajaxTable > tbody > tr:first').before(changedRow);
                        } else {
                            $('#ajaxTable > tbody:last').append(changedRow);
                        }
                        alert('新增成功');
                        clearForm();
                    } else {
                        alert($(data).find('#returnMessage').val());
                    }
                },
                dataType: 'html'
            });
        }

        function clearForm() {
            $('textarea[name="Reason"]').val('');
            $('input[name="Amount"]').val('');
            $('input[name="PromotionValue"]').val('');
            $('input[name="StartTime"]').val('');
            $('input[name="ExpireTime"]').val('');
            $('textarea[name="OrderIdInfo"]').val('');
            $('input[name="IsCompensateConsumer"][value=false]').prop("checked", true).change();
        }

        function block_postback() {
            $.blockUI({ message: "<center><img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />儲存中，請稍候...</center>", css: { width: '250px' } });
        }        
    </script>
    <style>
        .ctrlRoomTbl th {
            background-color: #353434;
            color: #FFFFFF;
        }

        .ctrlRoomTbl tr:nth-child(even) td {
            font-size: smaller;
            background-color: #F0F0F0;
        }

        .ctrlRoomTbl tr:nth-child(odd) td {
            font-size: smaller;
            background-color: #FFFFFF;
        }

        .ctrlRoomTbl {
            border-collapse: collapse;
        }

            .ctrlRoomTbl td, th {
                border-color: Black;
                border-width: thin;
                border-style: solid;
            }

        .editStyle {
            background-color: #F2F277 !important;
        }

        .ui-datepicker {
            width: 17em;
            padding: 0.2em 0.2em 0;
            display: none;
            font-size: 80.5%;
        }
    </style>
}