﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.WebLib.Models.Mobile


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Ppon/_PponLayout.cshtml";

}

<link type="text/css" href="~/Themes/skmApp/skmApp.css" rel="stylesheet" />
<script type="text/javascript" src="~/Tools/js/jquery-1.9.1.min.js"></script>

<div class="pdg-40 pdg-hor-0">
    朋友的detail
</div>
<script>


</script>
