﻿@using Amazon.CloudFront.Model
@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Models
@using LunchKingSite.WebLib.Models.Mobile
@using MongoDB.Bson
@model LunchKingSite.BizLogic.Models.MemberContactsData
@{
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
    MemberContactsData contactData = Model as MemberContactsData;
}

<link href="~/themes/PCweb/css/Rightside.css" rel="stylesheet" type="text/css" />
<link href="~/Themes/default/images/17Life/G2/idangerous.swiper.css" rel="stylesheet" type="text/css" />

<!-- 20160524 mgm css start -->
<link href="~/Themes/default/style/mgm_ui.css" rel="stylesheet" type="text/css" />
<link href="~/Themes/default/style/mgm.css" rel="stylesheet" type="text/css" />
<!-- 20160524 mgm css end -->
<script type="text/javascript" src="~/Tools/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="~/Tools/js/MGM/common/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Tools/js/MGM/common/mustache.min.js"></script>
<script type="text/javascript" src="~/Tools/js/MGM/common/member.contact.js"></script>
@*<script src="~/Tools/js/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>*@

<script type="text/javascript">
    $(function() {
        //init
        MemberContact.Data = @Html.Raw(Json.Encode(contactData));
        //群組
        var container = $('#myGroups');


        $(MemberContact.Data.Groups).each(function(e) {
            var group = this;
            $('#category ul')
                .append("<li class='tab_title'><a onClick=showTab('myGroup" + group.GroupId + "',this); style=cursor:pointer>" + group.GroupName + "</a></li>");

            var template = $('#friend-group-template').html();
            Mustache.parse(template); // optional, speeds up future uses
            var rendered = Mustache.render(template, group);
            container.append(rendered);

        });

        $('.main .mainCategory').hide();

        var paramet = getParameterByName('upl');
        if (paramet) {
            $('#' + paramet + ' a').trigger('click');
        } else {
            $('#myFriend').show();
        }


    });

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    function showTab(id, e) {
        $('#category a').removeClass("current");
        $(e).addClass("current");
        $('.main .mainCategory').hide();
        $('#' + id).show();

    }


</script>




<!-- 20160524 mgm js start -->
<script>
    $(document).ready(function () {
        $("#show_my_group").click(function () {
            $(this).next(".my_group").fadeToggle("slow");
            $(this).toggleClass("click_on");
        });
    });
</script>
<!--<script type="text/javascript" src="js/jquery.bpopup.js"></script>-->
<script type="text/javascript" src="~/Tools/js/jquery.bpopup.min.js"></script>
<script type="text/javascript">
    $(function () {
        /*popup 新增朋友 */
        $('.popup_select_list').bind('click', function (e) {
            e.preventDefault();
            $('#addFriendDiv').bPopup();
        });

    });
</script>
<!-- 20160524 mgm js end -->
<!-- 201606 mgm選擇朋友 -->
<script>
    $(document).ready(function() {
        var list_friend_array = new Array(); /*建立空陣列*/
        var choose_friend_num = 0; //選取人數
        $('.layer_control .btn_control').css('display', 'none'); /*移除 送禮/刪除朋友/群組 按鈕*/

        for (i = 0; i < $(".list_friend").length; i++) {
            list_friend_array[i] = "0";
            //console.log("list_friend_array="+list_friend_array);
        } /*朋友陣列全部設為0(表示未被選取)*/

        $(".list_friend").click(function() {
            for (j = 0; j < $(".list_friend").length; j++) {
                var friend_num = $(this).attr('class').substr(-1) - 1; //friend_num:選項被選到的編號
                //console.log("friend_num="+friend_num);

                if (list_friend_array[friend_num] == "0") {
                    $(this).hover(
                        function() {
                            $(this).css('background-color', '#FDFFCA');
                        }, function() {
                            $(this).css('background-color', '#FDFFCA');
                        });
                    $(this).css("background-color", "#FDFFCA");
                    list_friend_array[friend_num] = "1";
                    //console.log("list_friend_array="+list_friend_array);

                    choose_friend_num = choose_friend_num + 1;
                    /*顯示點選數量:大於0才顯示;等於0則移除*/
                    if (choose_friend_num != 0) {
                        $('.choose_friend_num').text('(' + choose_friend_num + ')');
                        $('.layer_control .btn_control').css('display', 'block'); /*出現 送禮/刪除朋友/群組 按鈕*/
                    } else if (choose_friend_num == 0) {
                        $('.choose_friend_num').text('');
                        $('.layer_control .btn_control').css('display', 'none'); /*移除 送禮/刪除朋友/群組 按鈕*/
                    }
                    return false;

                } else if (list_friend_array[friend_num] == "1") {
                    $(this).hover(
                        function() {
                            $(this).css('background-color', '#ddd');
                        }, function() {
                            $(this).css('background-color', '#fff');
                        });
                    $(this).css("background-color", "#ddd");
                    list_friend_array[friend_num] = "0";
                    //console.log("list_friend_array="+list_friend_array);

                    choose_friend_num = choose_friend_num - 1;
                    /*顯示點選數量:大於0才顯示;等於0則移除*/
                    if (choose_friend_num != 0) {
                        $('.choose_friend_num').text('(' + choose_friend_num + ')');
                        $('.btn_control').css('display', 'block'); /*出現 送禮/刪除朋友/群組 按鈕*/
                    } else if (choose_friend_num == 0) {
                        $('.choose_friend_num').text('');
                        $('.btn_control').css('display', 'none'); /*移除 送禮/刪除朋友/群組 按鈕*/
                    }
                    return false;

                }
            }
        });

        /*朋友第二層連結*/
        $('.title a').click(function() {
            //window.open('http://google.it');
            window.location = 'mgm_friends_view.html';
            return false;
        });

    });
</script>
<script type="text/javascript" src="~/Tools/js/MGM/view/Contact.js"></script>
<!-- 201606 mgm選擇朋友 end -->

<div class="center">
    <!--//outside_AD 跟屁蟲廣告//-->
    <div id="ousideAd" class="outside_AD">
        <div class="">
            <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_1.jpg" style="cursor: pointer;" /></a><br /><br />
            <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_2.jpg" style="cursor: pointer;" /></a><br /><br />
            <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_3.jpg" style="cursor: pointer;" /></a><br /><br />
            <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_4.jpg" style="cursor: pointer;" /></a>
        </div>
    </div>
    <div id="mgm_content">
        <div class="tabs">
            <a href="/User/SendGift"><i class="fa fa-gift fa-1g"></i>&nbsp;送好禮</a>
            <a href="/User/GiftList"><i class="fa fa-download fa-1g"></i>&nbsp;收好禮</a>
            <a href="/User/Contact" class="current"><i class="fa fa-users fa-1g"></i>&nbsp;朋友們</a>
            <a href="/User/GiftWhere"><i class="fa fa-question-circle fa-1g"></i>&nbsp;禮物去哪兒</a>
            <a href="/User/CardList"><i class="fa fa-smile-o fa-1g"></i>&nbsp;卡片</a>
            <a href="javascript:void(0);"><i class="fa fa-thumbs-o-up fa-1g"></i>&nbsp;推薦禮物</a>
        </div>
        <div class="main">
            <!-- tabs end -->
            <div>
                <div class="search_friend">
                    <input class="" type="text" name="" placeholder="請輸入朋友名稱、電話、E-mail、群組" autocorrect="off" tabindex="1" value="" />
                    <a href="#"><i class="fa fa-search fa-1g"></i></a>
                </div>
                <div class="add_friend">
                    <a href="#">匯入通訊錄&nbsp;<i class="fa fa-arrow-circle-right fa-1g"></i></a>
                    <a class="popup_select_list" href="#">新增朋友&nbsp;<i class="fa fa-plus-circle fa-1g"></i></a>
                </div>
            </div>
            <div class="clear"></div>
            <div id="category" class="typeA">
                <ul>
                    <li class="tab_title"><a onClick="showTab('myFriend',this);" style="cursor:pointer" class="current">我的朋友</a></li>
                    <li id="tabGroup" class="tab_title"><a onClick="showTab('myGroups',this);" style="cursor:pointer">所有群組</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="layer_control">
                <div class="checkbox_all">
                    <div class="checkboxSN">
                        <label>
                            <input type="checkbox" name="" value="" />
                            <i class="fa fa-check fa-1g"></i>
                        </label>
                    </div>
                    <span>全選</span>
                </div>
                <div class="btn_control">
                    <a class="btnSN btn-primary" href="javascript:void(0);">送禮<sapn class="choose_friend_num"></sapn></a>
                    <a class="btnSN btn-default" href="javascript:void(0);">刪除朋友<sapn class="choose_friend_num"></sapn></a>
                    <div class="add_group">
                        <a id="show_my_group" class="btnSN btn-default" href="javascript:void(0);">加入群組&nbsp;&nbsp;<i class="fa fa-caret-down fa-1g"></i></a>
                        <ul class="my_group">
                            <li><input type="checkbox" name="" value="" />&nbsp;大學同學</li>
                            <li><input type="checkbox" name="" value="" />&nbsp;同事</li>
                            <li><input type="checkbox" name="" value="" />&nbsp;高中死黨</li>
                            <li><input type="checkbox" name="" value="" />&nbsp;親朋好友</li>
                            <li class="last"><a href="#">建立新群組</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <div id="myFriend" class="mainCategory">
                <table class="friend_table">
                    @{

                        if (contactData != null)
                        {
                            foreach (var data in contactData.Contacts)
                            {
                                <tr class="list_friend" data-id="@data.Id">
                                    <td>
                                        <div class="pic">
                                            <img src="../Themes/default/images/mgm/member_1.png" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="title"><a href="javascript:void(0)">@data.Name</a><span class="iconSR icon-success" style="display: @(data.IsAcceptGift == true) ?'':'none'"><i class="fa fa-check fa-1g"></i></span></div>
                                        <div class="name">@data.NickName</div>
                                        <div class="status">
                                            <a class="btnSR btn-default-line disabled" href="javascript:void(0);">尚未送禮</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </table>
            </div>
            <div class="clear"></div>
            <div id="myGroups" class="mainCategory">
                <div class="list_friend_group btn_add">
                    <div class="box popup_new_group">
                        <i class="fa fa-plus-circle fa-2x"></i><br />新增群組
                    </div>
                    <div class="btn_control">&nbsp;</div>
                </div>
            </div>

            <!--add friend -->
            <div id="addFriendDiv" class="select-list-block">
                <div class="b-close">
                    <i class="fa fa-times fa-fw"></i>
                </div>
                <div class="friend_container">
                    <div class="col">
                        <div class="item">名稱 <span style="color: #F00;">(必填)</span></div>
                        <div class="box">
                            <input class="textLN" type="text" name="" placeholder="請輸入名稱" autocorrect="off" tabindex="1" value="" />
                        </div>
                        <div class="item">暱稱</div>
                        <div class="box">
                            <input class="textLN" type="text" name="" placeholder="請輸入暱稱" autocorrect="off" tabindex="2" value="" />
                        </div>
                        <div class="item">E-mail <span style="color: #F00;">(E-mail或電話至少須填一項)</span></div>
                        <div class="box">
                            <input class="textLN" type="text" name="" placeholder="例：name@17life.com" autocorrect="off" tabindex="3" value="" />
                        </div>
                        <div class="item">電話 <span style="color: #F00;">(E-mail或電話至少須填一項)</span></div>
                        <div class="box">
                            <input class="textLN" type="text" name="" placeholder="例：09XX123456" autocorrect="off" tabindex="4" value="" />
                        </div>
                        <div class="item">生日</div>
                        <div class="box date">
                            <div class="selectLN">
                                <select class="" name="">
                                    <option value="" selected>10</option>
                                    <option value="">11</option>
                                    <option value="">12</option>
                                </select>
                                <i class="fa fa-caret-down fa-1g"></i>
                            </div>
                            <span>月</span>
                            <div class="selectLN">
                                <select class="" name="">
                                    <option value="" selected>22</option>
                                    <option value="">23</option>
                                    <option value="">24</option>
                                </select>
                                <i class="fa fa-caret-down fa-1g"></i>
                            </div>
                            <span>日</span>
                        </div>
                    </div>
                    <div class="tag">
                        <div class="item">群組</div>
                        <ul class="tag_checked">
                            <li>同事&nbsp;<i class="fa fa-times fa-1g"></i></li>
                            <li>管理部&nbsp;<i class="fa fa-times fa-1g"></i></li>
                        </ul>
                        <ul class="tag_chooes __web-inspector-hide-shortcut__">
                            <li class="group_01 on">同事&nbsp;<i class="fa fa-plus fa-1g"></i></li>
                            <li class="group_02">group2&nbsp;<i class="fa fa-plus fa-1g"></i></li>
                            <li class="group_03">group3&nbsp;<i class="fa fa-plus fa-1g"></i></li>
                            <li class="group_04">group4&nbsp;<i class="fa fa-plus fa-1g"></i></li>
                            <li class="group_05">group5&nbsp;<i class="fa fa-plus fa-1g"></i></li>
                            <li class="group_06 on">管理部&nbsp;<i class="fa fa-plus fa-1g"></i></li>
                        </ul>
                    </div>
                    <div class="clear" style="text-align: center;">
                        <a class="btnLN btn-primary-line" href="#">確認</a>
                    </div>
                </div>
            </div>
            <!-- 201606 mgm popup 新增群組 -->
            <div class="new_group_wrap" style="display:none;">
                <div class="b-close"><i class="fa fa-times fa-fw"></i></div>
                <div class="friend_container">
                    <form method="post" action='/User/GroupSet' enctype="multipart/form-data">
                        <div class="item">群組名稱 <span style="color: #F00;">(必填)</span></div>
                        <div class="box">
                            <input class="textLN" type="text" name="GroupName" placeholder="請輸入群組名稱" autocorrect="off" tabindex="1" value="">
                        </div>
                        <div class="item">群組照片</div>
                        <div class="box">

                            <div class="pic_gropu">
                                <a href="javascript:$('#groupPic').trigger('click')">
                                    上傳圖片
                                    <div>
                                        <input type="file" name="GroupImagePath" id="groupPic" value="" style="opacity: 0">
                                    </div>
                                </a>
                                <img id="previewGroup" src="~/Images/MGM/contact/group_bg.png">
                            </div>
                            最佳大小 : 寬214px x 高120px
                        </div>
                        <br /><br /><br />
                        <div class="clear" style="text-align: center;">
                            <input class="btnLN btn-primary-line" type="submit" value="確認" />

                        </div>
                    </form>

                </div>
            </div>
            <!-- 201606 mgm popup 新增群組 end-->

        </div>
    </div>
</div>

<script id="friend-template" type="x-tmpl-mustache">
    {{#data}}
    <tr class="list_friend">
        <td>
            <div class="pic">
                <img src="{{image}}" />
            </div>
        </td>
        <td>
            <div class="title"><a href="javascript:void(0)">{{nickname}}</a><span class="iconSR icon-success" style="display: {{issend}};"><i class="fa fa-check fa-1g"></i></span></div>
            <div class="name">{{name}}</div>
            <div class="status">
                <a class="btnSR btn-default-line {{disabled}}" href="javascript:void(0);">尚未送禮</a>
            </div>
        </td>
    </tr>
    {{/data}}
</script>

<script id="friend-group-template" type="x-tmpl-mustache">
    <div class="list_friend_group" onclick="javascript:$('#category ul li:contains({{GroupName}}) a').trigger('click')">
        <div class="box">
            <div class="pic"><img src="{{GroupImagePath}}" /></div>
            <div class="name">
                <div class="top"><strong>{{GroupName}}</strong></div>
                <div class="bottom">{{GroupNumber}}位成員</div>
            </div>
            <div class="mbr">
                <div><img src="../Themes/default/images/mgm/member_2.png" /></div>
            </div>
        </div>
        <div class="btn_control"><a href="javascript:void(0);">刪除</a></div>
    </div>
</script>
