﻿@using Amazon.CloudFront.Model
@using iTextSharp.text
@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.WebLib.Models.MGM
@using LunchKingSite.WebLib.Models.Mobile
@model LunchKingSite.BizLogic.Models.MGM.GiftCard

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
    List<string> messagePattern = (List<string>)ViewBag.MessagePattern;
    List<TemplateCard> templateCards = (List<TemplateCard>)ViewBag.CardStyle;


}
<!-- 20160524 mgm css start -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/Themes/default/style/mgm_ui.css" rel="stylesheet" type="text/css" />
<link href="~/Themes/default/style/mgm.css" rel="stylesheet" type="text/css" />
<!-- 20160524 mgm css end -->
<script type="text/javascript" src="~/Tools/js/jquery-1.9.1.min.js"></script>


<div id="wrap" class="clearfix">
    <div class="center">
        <!--//TOPBanner//-->
        <div class="TOPBanner"></div>
        <!--//TOPBanner//end-->
        <!--//outside_AD 跟屁蟲廣告//-->
        <div id="ousideAd" class="outside_AD">
            <div class="">
                <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_1.jpg" style="cursor:pointer;" /></a><br /><br />
                <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_2.jpg" style="cursor:pointer;" /></a><br /><br />
                <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_3.jpg" style="cursor:pointer;" /></a><br /><br />
                <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_4.jpg" style="cursor:pointer;" /></a>
            </div>
        </div>
        <!--//outside_AD//end-->

        <div id="mgm_content" class="mgm_send_content">
            <div class="main">
                @using (Html.BeginForm("GiftCardSet", "User", FormMethod.Post, new { id = "sendForm", @class = "form-horizontal", role = "form" }))
                {

                    <div style="text-align: center;">
                        <img src="~/Images/MGM/giftcardset/mgm_step2.png" />
                    </div>
                    <div class="card_style_wrap">
                        <p class="mgm_send_title">卡片樣式</p>
                        <!--// card_style_left //-->
                        <div class="card_style_left">
                            <div class="card_container card_container_signlecard">
                                <div class="card_half card_left" style="background-color:@templateCards[0].BackgroundColor;">
                                    <div class="pic">
                                        <img src="@templateCards[0].ImagePic">
                                    </div>
                                    <div class="word">
                                        Hi <span class="friend_name"><i class="fa fa-user fa-1g"></i>(將帶入您輸入的個別好友名稱)</span><br>
                                        @Html.TextAreaFor(m => m.Message, new { @class = "col-md-2 control-label", @id = "card_msg_text", @name = "textarea", @placeholder = "輸入卡片內容(限90字)", @rows = "4" })
                                        <div class="member_name">@ViewBag.SenderName</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// card_style_left //end-->
                        <!--// card_style_right //-->
                        <div class="card_style_right">
                            <ul class="card_img_m">
                                @{
                                    foreach (var card in templateCards)
                                    {
                                        int index = templateCards.IndexOf(card);
                                        <li>
                                            <input type="hidden" class="cardstyle" name='@(index == 0 ? "CardStyleId" : "" )' value="@card.Id">
                                            <input type="hidden" class="bgcolor" value="@card.BackgroundColor">
                                            <a href="javascript:void(0)">
                                                <img src="@card.ImagePic">
                                            </a>
                                        </li>
                                    }
                                    <script>$('.card_img_m').children().first().addClass('on')</script>
                                }
                            </ul>
                            @*<div class="card_img_s" style="display: block">
                                    <div class="card_img_s_move">
                                        <i class="fa fa-angle-left"></i>
                                    </div>
                                    <div class="card_img_s_move" style="right: 0">
                                        <i class="fa fa-angle-right"></i>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1290395/LINEStorePC/thumbnail_shop.png">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1290395/LINEStorePC/thumbnail_shop.png">
                                            </a>
                                        </li>
                                        <li class="on">
                                            <a href="javascript:void(0)">
                                                <img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1290395/LINEStorePC/thumbnail_shop.png">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1290395/LINEStorePC/thumbnail_shop.png">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1290395/LINEStorePC/thumbnail_shop.png">
                                            </a>
                                        </li>
                                    </ul>

                                </div>*@
                            <div class="card_msg_btn">
                                @{
                                    foreach (var msg in messagePattern)
                                    {
                                        <p class="cancel-mr">
                                            <input type="button" class="btn btn-small rd-payment-large-btn btn_message" value="@msg">
                                        </p>
                                    }
                                }

                            </div>

                        </div>
                        <!--// card_style_right //end-->
                        <!--// card_style_bottom //-->
                        <div class="card_style_bottom">
                            <div>
                                <p class="p_title" style="float: left">好友</p>
                                <p class="friend_name_wrap"><span id="sender_member"></span> (已選擇<span id="member_count">0</span>人)</p>
                            </div>
                            <div>
                                <p class="p_title">署名</p>
                                <input class="textLN" id="nameself" type="text" name="SenderName" placeholder="署名" autocorrect="off" tabindex="1" value="@ViewBag.SenderName">
                            </div>
                        </div>
                        <!--// card_style_bottom //end-->
                    </div>
                    <!-- // 下一步 //-->
                                    <div class="mgm_send_action">
                                        <ul class="">
                                            <li><a href="javascript:location.href = '@Url.Action("chooesFriend")'" class="btnLN btn-primary-line">回送禮資訊</a></li>
                                            <li><a id="btnSubimt" href="javascript:void(0);" class="btnLN btn-primary">送出禮物</a></li>
                                        </ul>
                                    </div>
                                    @Html.Hidden("MatchMembers", "")
                                    @Html.Hidden("OrderId", "")
                                    }
                <!-- // 下一步 //end-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Tools/js/MGM/common/community.js"></script>
<script>
    CommunityApi.Init(
    {
        facebookReturnUrl: location.href,
        facebookScope: '@ViewBag.FacebookScope',
        facebookAppId: @ViewBag.FacebookAppId,
        facebookObjectId:@ViewBag.FacebookObjectId,
    });
</script>
<script type="text/javascript" src="~/Tools/js/MGM/view/GiftCardSet.js?v=2"></script>

@{
    if (TempData["error"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["error"]));
            sessionStorage.removeItem('matchMembers');
            alert(message);
            location.href='@Url.Action("SendGift")';
        </script>
    }
}
