﻿@using System.Security.AccessControl
@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.WebLib.Models.Mobile


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Ppon/_PponLayout.cshtml";

}

<!-- 20160524 mgm css start -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/Themes/default/style/mgm_ui.css" rel="stylesheet" type="text/css" />
<link href="~/Themes/default/style/mgm.css" rel="stylesheet" type="text/css" />
<!-- 20160524 mgm css end -->
<script type="text/javascript" src="~/Tools/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/Tools/js/MGM/view/GiftSendSuccess.js"></script>



<div id="wrap" class="clearfix">
    <div class="center">
        <!--//TOPBanner//-->
        <div class="TOPBanner"></div>
        <!--//TOPBanner//end-->
        <!--//outside_AD 跟屁蟲廣告//-->
        <div id="ousideAd" class="outside_AD">
            <div class="">
                <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_1.jpg" style="cursor:pointer;" /></a><br /><br />
                <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_2.jpg" style="cursor:pointer;" /></a><br /><br />
                <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_3.jpg" style="cursor:pointer;" /></a><br /><br />
                <a href="#" target="_blank"><img src="https://www.17life.com/images/17P/17topbn/20150519_112x112_4.jpg" style="cursor:pointer;" /></a>
            </div>
        </div>
        <!--//outside_AD//end-->

        <div id="mgm_content" class="mgm_send_content">
            <div class="main">
                <div style="text-align:center;"><img src="~/Images/MGM/giftcardset/mgm_step3.png" /></div>
                <div class="mgm_success_wrap">
                    <img class="success_img" src="https://www.17life.com/images/17P/active/mgm/success_img.jpg">
                    <p>您的禮物已成功送出囉！</p>
                    @{
                        if (ViewBag.AccessLink != null)
                        {

                            <div class="link_wrap" style="display:block">
                                <input id="accessLink" type="text" readonly="readonly" class="js-accessCodelink"
                                       value="@Url.Action("GiftGet", "user", null, Request.Url.Scheme)?accessCode=@ViewBag.AccessLink">
                                <button onClick="javascript:$('#accessLink').focus();$('#accessLink').select();execCommand('Copy');" class="js-copybtn">複製連結</button>
                                <p>您可以親自分享以上禮物連結給朋友，避免朋友忽略了FB的通知訊息，而錯過收禮時間<strong>(七天內需收禮)。</strong></p>
                            </div>
                        }

                    }

                    <!-- // 下一步 //-->
                    <div class="mgm_send_action">
                        <ul class="">
                            <li><a href="javascript:location.href = '@Url.Action("SendGift")'" class="btnLN btn-primary-line">返回禮物盒</a></li>
                            <li><a href="javascript:location.href = '@Url.Action("GiftWhere")'" class="btnLN btn-primary-line" style="width:120px;">查看禮物去哪兒</a></li>
                        </ul>
                    </div>
                    <!-- // 下一步 //end-->
                </div>

            </div>
        </div>
        <!--// 熱門禮物 //-->
        <div class="item_3col_wrap">
            <p style="font-size: 14px; color: #666; margin-bottom: 10px">熱門禮物</p>

            @foreach (var item in ViewBag.HotDeals)
            {
                <div class="item_3col">
                    <a href="/@item.BusinessHourGuid">
                        <div class="item_soldout_480" style="display:none">
                            <img src="~/Themes/PCweb/images/soldout_bar_480.png">
                        </div>
                        <div class="item_activeLogo" style="display:none">
                            <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                        </div>
                        @*<div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>*@
                        <div class="item_3col_pic">
                            <img src="@item.DefaultDealImage">
                        </div>
                        <div class="item_3col_pic_bg">
                            <img src="~/Themes/PCweb/images/ppon-M1_pic.jpg">
                        </div>

                        <div class="item_title">
                            @Html.Raw(OrderedQuantityHelper.Show(item, OrderedQuantityHelper.ShowType.BetaInPortal))
                            <ul>
                                @Html.Raw(PponFacade.GetDealIconHtmlContentList(item, 3))
                            </ul>
                            <span class="tag_place">
                                    @{
                                        PponCity pponcity = PponCityGroup.DefaultPponCityGroup.GetPponCityByCityId(item.CityList[0]);
                                        @Html.Raw(ViewPponDealManager.DefaultManager.GetCityNameOrTravelPlace(
                                        pponcity, item.BusinessHourGuid));
                                    }
                                </span>
                            <div class="tag_title">@item.ItemName</div>
                            <p class="tag_subtitle">@item.EventName</p>
                        </div>
                        <div class="item_3col_price_less">
                            <span class="btn_buy btn-primary">分期0利率</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                            <span class="discount">
                                @{
                                    string discount = string.Empty;
                                    if (item.ItemPrice == item.ItemOrigPrice || Helper.IsFlagSet(item.BusinessHourStatus, BusinessHourStatus.NoDiscountShown)
                                         || Helper.IsFlagSet(item.BusinessHourStatus, BusinessHourStatus.PriceZeorShowOriginalPrice))
                                    {
                                        discount = "特選";
                                    }
                                    else if (item.ItemPrice == 0)
                                    {
                                        if (item.ExchangePrice.HasValue && item.ExchangePrice.Value > default(decimal))
                                        {
                                            if (Helper.IsFlagSet(item.BusinessHourStatus, BusinessHourStatus.NoDiscountShown))
                                            {
                                                discount = "特選";
                                            }
                                            else
                                            {
                                                discount = ViewPponDealManager.GetDealDiscountString(Helper.IsFlagSet(item.BusinessHourStatus, BusinessHourStatus.NoDiscountShown), PponFacade.CheckZeroPriceToShowPrice(item), item.ItemOrigPrice);
                                                discount = discount + "折";

                                            }
                                        }
                                        else
                                        {
                                            discount = "優惠";
                                        }
                                    }
                                    else
                                    {
                                        string discount2 = ViewPponDealManager.GetDealDiscountString(Helper.IsFlagSet(item.BusinessHourStatus, BusinessHourStatus.NoDiscountShown), PponFacade.CheckZeroPriceToShowPrice(item), item.ItemOrigPrice);
                                        int length = discount2.Length;
                                        if (length > 0)
                                        {
                                            discount = discount2.Substring(0, 1);
                                            if (discount2.IndexOf('.') != -1 && length > 2)
                                            {
                                                discount += discount2.Substring(1, length - 1);
                                            }

                                            discount = discount + "折";
                                        }
                                    }
                                    @Html.Raw(discount)
                                }

                            </span>
                            <span class="price">$@item.ItemPrice.ToString("F0")</span>
                            <span class="oriprice">@item.ItemOrigPrice.ToString("F0")</span>
                        </div>
                    </a>

                </div><!--//item_3column//end-->
                                    }

        </div>
        <!--// 熱門禮物 //End-->

    </div>

</div>
