﻿
@{
    bool isMobileBroswer = (bool)ViewBag.IsMobileBroswer;
    bool isReverseVerify = (bool)ViewBag.IsReverseVerify;
}
<!DOCTYPE html>
<html prefix='og: http://ogp.me/ns#'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:type" content="website">  
    <meta property="og:description" content="你的朋友送你一份17Life禮物">
    <meta property="og:site_name" content="17Life">
    <meta property="og:image" content="http://gift.17life.com/Images/MGM/giftinfo/logo_17life_relay_meta.png?v=0.2" />
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <meta property='og:title' content='17Life生活電商 禮物通知'>
    <title>17Life送禮</title>
    <script type="text/javascript" src="~/Themes/MGM/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Themes/MGM/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Themes/MGM/js/swiper.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Themes/MGM/css/swiper.min.css" />
    <script type="text/javascript" src="../../Tools/js/jquery.blockUI.js"></script>

    <style>
        /*--------- reset ---------*/
        html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, figure {
            margin: 0;
            padding: 0;
        }


        table {
            border-collapse: collapse;
            border-spacing: 0;
            font-size: inherit;
            font: 100%;
        }

        fieldset, img {
            border: none;
        }

        address, caption, cite, code, dfn, em, th, var {
            font-style: normal;
            font-weight: normal;
        }

        img {
            vertical-align: middle;
        }

        abbr, acronym {
            border: none;
            font-variant: normal;
        }

        sup {
            vertical-align: text-top;
        }

        sub {
            vertical-align: text-bottom;
        }

        input, button, textarea, select {
            *font-size: 100%;
        }

        input {
            vertical-align: middle;
        }

        select, input, button, textarea {
            font: 100% Verdana, Arial, Helvetica, sans-serif;
        }

        pre, code, kbd, samp, tt {
            font-family: Verdana, Arial, Helvetica, sans-serif;
        }

        small {
            font-size: 100%;
        }

        ins {
            text-decoration: none;
        }
        /*--------- style ---------*/
        html {
            text-align: left;
        }

        html, legend {
            color: #333;
        }

        body {
            font-size: 16px;
            line-height: 1.7;
            font-family: \5FAE\8EDF\6B63\9ED1\9AD4;
            background-color: #ddd;
        }

        input, button, textarea, select {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            color: #333;
            padding: 1px;
        }

        p {
            margin: 0 0 10px 0;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .clear {
            clear: both;
        }

        .center {
            text-align: center;
        }
        /*--------- layout start ---------*/
        #container {
            margin: 0 auto;
        }

        #header {
            float: left;
            width: 100%;
            margin-bottom: 12px;
            background-color: #FFF;
            border-bottom: 1px solid #ddd;
        }

        .header_topic {
            margin: 0 auto;
            width: 84px;
        }

        .content {
            float: left;
            width: 92%;
            margin-bottom: 12px;
            padding: 4px 4%;
            text-align: center;
        }

        .content .finished{
	        font-size:20px;
	        color:#093;
        }

        .content span {
            color: #F00;
        }

        .section {
            float: left;
            width: 100%;
            margin-bottom: 12px;
            padding-bottom: 8px;
            background-color: #FFF;
        }

        #container .no_bg {
            padding-top: 16px;
            background-color: inherit;
            border-bottom: none;
        }

        .fd {
            background-color: rgba(255, 255, 255, 0.6);
        }

        .section .topic {
            float: left;
            width: 92%;
            margin-bottom: 12px;
            padding: 4px 4%;
            border-bottom: 1px solid #ddd;
        }

            .section .topic span {
                float: left;
                margin-top: 2px;
                margin-right: 4px;
            }

            .section .topic strong {
                float: left;
                margin-top: 6px;
                font-size: 20px;
                line-height: 24px;
                color: #fb6b9e;
            }

        .section .dec {
            float: left;
            width: 92%;
            line-height: 16px;
            margin-bottom: 16px;
            padding: 0 4%;
            color: #666;
        }

        .section .other{
	        float:left;
	        width:92%;
	        margin:16px 0;
	        padding:0 4%;
	        color:#666;
	        text-align:center;
        }

        .section .dec_note {
	        float:left;
	        padding:8px 0 0 2px;
	        color:#999;
	        font-size:12px;
        }

        .section .dec_note1 {
	        float:left;
	        padding:0 0 10px 10px;
	        color:#999;
	        font-size:15px;
        }

        .section .app {
            float: left;
            width: 92%;
            padding: 0 4%;
        }

        .app div {
            float: left;
        }

        .app .download {
            float: left;
            width: 50%;
            text-align: center;
            margin-top: 4px;
            margin-bottom: 8px;
        }

            .app .download a img {
            }

            .app .download a:hover img {
                opacity: 0.8;
            }

        .section .gift {
            float: left;
            width: 88%;
            padding-right: 12%;
            padding-bottom: 8px;
            text-align: right;
        }

        .section .gift .btn {
            margin-right: 5%;
            padding: 8px 32px;
            background-color: #E74C3C;
            color: #FFF;
            border-radius: 4px;
        }

        .section .gift .btn:hover {
            text-decoration: none;
            background-color: #f05949;
        }

        @@-moz-document url-prefix() {
            .section .gift .btn {
                padding: 10px 32px 8px 32px;
            }
        }

        .section .qr_code {
            float: left;
            width: 100%;
            margin-bottom: 8px;
            text-align: center;
        }

        .error {
            float: left;
            width: 100%;
            padding-bottom: 8px;
            text-align: center;
        }

            .error img {
                width: 100%;
            }

        #footer {
            float: left;
            width: 100%;
            line-height: 12px;
            padding: 4px 0 12px 0;
            text-align: center;
            color: #666;
            font-size: 12px;
        }

        .table_list{
	        float:left;
	        width:92%;
	        margin-bottom:12px;
	        padding:4px 4%;
            background-color:#FFF;
        }

        .layer_click {
            width: 100%;
            padding: 8px 0;
        }

        .layer_click .dec {
            padding: 0 4%;
            color: #999;
        }

        .layer_click .green {
                color: #27ae60;
         }


        .section .fast {
            float: left;
            width: 92%;
            margin-bottom: 12px;
            padding: 4px 4%;
        }

        .fast .fast_topic {
            margin: 6px 0;
            color: #666;
        }

        .fast .fast_input {
            margin: 10px 0;
        }


       .fast .fast_input input {
            width: 93.5%;
            padding: 3px 2%;
            line-height: 30px;
            border: 1px solid #CCC;
            border-radius: 4px;
            background: transparent;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        .bottom a {
            float: left;
            width: 98.5%;
            padding: 5px 0;
            text-align: center;
            background-color: #E74C3C;
            color: #FFF;
            border-radius: 4px;
        }
        .bottom a.disable {
            background-color: #ccc;
        }
        .bottom a:hover {
            text-decoration: none;
            opacity: 0.9;
        }
        .bottom a.disable:hover {
            opacity: 1;
        }

/*--------- swiper start ---------*/
        .swiper-container {
            width: 300px;
        }
        .swiper-wrapper {
            padding: 40px 0 10px 0;
        }
        .swiper-slide {
            text-align: center;
            background: #fff;
        }
        .swiper-pagination {
            top: 10px;
            height: 30px;
            line-height: 30px;
        }
        .swiper-button-next {
            right: -20px;
        }
        .swiper-button-prev {
            left: -20px;
        }
        .swiper_note {
            width: 100%;
        }
        .swiper_note div {
            float: left;
            width: 50%;
            text-align: center;
        }

        .other_note {
            width: 100%;
        }
        .other_note div {
            float: left;
            margin-bottom: 12px;
            width: 100%;
            text-align: center;
            color: #F00;
        }
/*--------- tabs start ---------*/

        #tabs ul {
            float: left;
            width: 100%;
        }

        #tabs ul li {
            float: left;
            width: 50%;
            list-style: none;
            line-height: 1;
        }

        #tabs ul li a {
            float: left;
            width: 98%;
            height: 48px;
            padding: 8px 0 0 0;
            background-color: #eee;
            text-align: center;
            border-radius: 8px 8px 0 0;
            outline: none;
        }

        #tabs ul li a.left {
            height: 40px;
            padding: 16px 0 0 0;
        }

        #tabs ul li a span {
            color: #f33485;
            opacity: 0.5;
        }

        #tabs-2  span {
            color: #f33485;
        }

        #tabs ul li a img {
            opacity: 0.5;
        }

        #tabs ul li a:hover {
            text-decoration: none;
        }

        #tabs ul li a.left {
            margin: 0 2% 0 0;
        }

        #tabs ul li a.right {
            margin: 0 0 0 2%;
        }

        #tabs ul li.ui-tabs-active a {
            background-color: #FFF;
        }

        #tabs ul li.ui-tabs-active a span {
            opacity: 1;
        }

        #tabs ul li.ui-tabs-active a img {
            opacity: 1;
        }

        @@media only screen and (min-width:640px) {
            #container {
                width: 480px;
            }

            .table_list {
                border-radius: 0 0 8px 8px;
            }

            .section {
                border-radius: 0;
            }
        }

    </style>

        <script>

            $(function () {

              
                //判断访问终端
                var browser={
                    versions:function(){
                        var u = navigator.userAgent, app = navigator.appVersion;
                        var ua = navigator.userAgent.toLowerCase();
                        return {
                            trident: u.indexOf('Trident') > -1, //IE 核心
                            presto: u.indexOf('Presto') > -1, //opera 核心
                            webKit: u.indexOf('AppleWebKit') > -1, //Apple, google 核心
                            gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //Firefox 核心
                            mobile: !!u.match(/AppleWebKit.*Mobile.*/), //行動裝置
                            ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios
                            android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android或uc瀏覽器
                            iPhone: u.indexOf('iPhone') > -1, //是否為iPhone或者QQHD瀏覽器
                            iPad: u.indexOf('iPad') > -1, //是否iPad
                            webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
                            iosv: u.substr(u.indexOf('iPhone OS') + 9, 3),//ios版本
                            weixin: ua.match(/MicroMessenger/i) == "micromessenger",//微信瀏覽器
                            fbapp: u.indexOf('FBAV') > -1,//Facebook App內瀏覽器
                            line: u.indexOf('Line') > -1//Line內瀏覽器
                        };
                    }(),
                    language:(navigator.browserLanguage || navigator.language).toLowerCase()
                }


                if(browser.versions.android && '@ViewBag.MatchType'=="2" && browser.versions.fbapp|| browser.versions.android && '@ViewBag.MatchType'=="3" && browser.versions.line)
                {
                    location.href="googlechrome://navigate?url="+location.href;
                }

                var isMobileBroswer=@isMobileBroswer.ToString().ToLower();
                var isReverseVerify=@isReverseVerify.ToString().ToLower();

                $("#quickused").hide();
                $(".other_note").hide();
               
                if (!isReverseVerify) {
                    $( "#tabs" ).tabs();
                }
                else{
                    $("#tab").hide(); $("#tabs-1").hide();
                    $('#tabs-2').prepend('<div id="tabs-2-title"><img src="/Themes/MGM/images/gift_icon_relay.png" height="24" />' +
                        '&nbsp;<span>完整領取 </span><span style="font-size:12px;">送$500</span></div>');
                }

                $("#qrcode").attr("src", "http://chart.apis.google.com/chart?cht=qr&chl=" + '@ViewBag.Url' + "&chs=260x260");

                var giftStatus=@ViewBag.Accept;
                if (giftStatus == 0) {
                    if (isMobileBroswer) {
                        $("#pcContainer").css('display', 'none');
                        $("#Mcontainer").css('display', '');

                        //如果是Mobile 或是 信箱贈送的時候
                        if(@ViewBag.MatchType=="0" || @ViewBag.MatchType=="1")
                        {
                            $('.fast_input').html("");
                            $('.dec_note1').hide();
                        }

                        $("#swiper_barcode").hide();

                    } else {
                        $("#pcContainer").css('display', '');
                        $("#Mcontainer").css('display', 'none');
                    }
                }
                    //快速領取
                else if(giftStatus == 6)
                {
                    var asCode='@ViewBag.AccessCode';

                    if (isMobileBroswer) {
                        //檢查有沒有local storage參數
                        if(localStorage.getItem(asCode.toLowerCase())==asCode.toLowerCase())
                        {
                            $("#pcContainer").css('display', 'none');
                            $("#Mcontainer").css('display', '');
                            $('.fast_input').html("");
                            $('.dec_note1').hide();
                            $("#quickused").show();

                            //更換Button
                            $(".bottom").html("<a class='disable' href='#'>已領取禮物</a>");

                            //更換內容
                            $(".content").html("<strong class='finished'>領取完成</strong>");

                            //隱藏輸入框
                            $("#box_tp").hide();

                            //取得Barcode
                            getBarcode();

                            //Show領取禮物內頁
                            $("#box_tp_content").show();

                            //隱藏副標
                            $(".layer_click").hide();

                            //顯示使用說明
                            $(".other_note").show();

                            //隱藏tab
                            $("#tab").hide();
                        }
                        else
                        {
                            $("#giftStatus").css('display', '');
                            $('#giftStatus .content').text("目前這份禮物已經被領取了喔！");
                        }

                    } else {
                        $("#giftStatus").css('display', '');
                        $('#giftStatus .content').text("目前這份禮物已經被領取了喔！");
                    }

                }
                else {
                    $("#giftStatus").css('display', '');
                    switch(giftStatus) {
                        case 1:
                            $('#giftStatus .content').text("目前這份禮物已經被領取了喔！");
                            break;
                        case 2:
                            $('#giftStatus .content').text("Oh...這份禮物目前已經不存在了，請與送禮給您的朋友確認一下喔！");
                            break;
                        case 3:
                            $('#giftStatus .content').text("Oh...這份禮物目前已經不存在了，請與送禮給您的朋友確認一下喔！");
                            break;
                        case 4:
                            $('#giftStatus .content').text("Oh...這份禮物不存在哦，請確認您的網址是否正確喔！");
                            break;
                        case 5:
                            $('#giftStatus .content').text("目前這份禮物已超過3天領取期限了喔！");
                        case 6:
                            $('#giftStatus .content').text("目前這份禮物已經被領取了喔！");
                            break;
                    }
                }
            });

    </script>

    <script>

    function getBarcode()
    {
        var AccessCode='@ViewBag.AccessCode';
        var Accept='@ViewBag.Accept';
        $.blockUI({message: "<h2 style='padding:20px; letter-spacing:2px'>資料讀取中...</h2>", css: { left: ($(window).width() - 200) / 2 + 'px', width: '200px'}});
        $.ajax({
            type: "POST",
            url: "/User/GetBarCode",
            data: "{asCode:'" + AccessCode + "',accept:'" + Accept + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var htmlStr='';
                var j=0;
                for(var i in data)
                {
                    j=j+1;
                    htmlStr=htmlStr+"<div class='swiper-slide'><img width='280' src='data:image/png;base64,"+data[i].Image+"'><div class='swiper_note'><div>"+data[i].IsReceive+"<br />"+data[i].ReceiveTime+"</div><div>"+data[i].IsUsed+"<br />"+data[i].UsedTime+"</div></div></div>";
                }
                //顯示領取成功頁面
                $(".swiper-wrapper").html(htmlStr)

                var swiper = new Swiper('.swiper-container', {
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                    pagination: '.swiper-pagination',
                    paginationType: 'fraction'
                });

                //判斷Barcode數量
                if(j==1)
                {
                    $(".other_note").html("<div>(長按條碼可儲存圖片)</div>");
                }

                $.unblockUI({});

            },
            timeout:25000,
            error: function (xhr, ajaxOptions, thrownError) {
                alert("系統忙碌中，請稍後再試");

                $.unblockUI({});
            }
        });
    }

    function Success()
    {
        $('.fast_input').html("");
        $('.dec_note1').hide();
        $("#quickused").show();

        //更換Button
        $(".bottom").html("<a class='disable' href='#'>已領取禮物</a>");

        //更換內容
        $(".content").html("<strong class='finished'>領取完成</strong>");

        //隱藏輸入框
        $("#box_tp").hide();

        //Show領取禮物內頁
        $("#box_tp_content").show();

        //隱藏副標
        $(".layer_click").hide();

        //顯示使用說明
        $(".other_note").show();

        //隱藏tab2
        $("#tab").hide();
    }


    function takeGift(asCode,accept,matchType)
    {
        if(matchType=="0" || matchType=="1")
        {
            //寫入Local storage
            localStorage.setItem(asCode.toLowerCase(),asCode.toLowerCase());

            //寫入Ga
            ga('send', 'event', '領取禮物_中繼頁', '點擊_領取禮物', '快速領取禮物');

            $.blockUI({ message: "<h2 style='padding:20px; letter-spacing:2px'>資料傳輸中...</h2>", css: { left: ($(window).width() - 200) / 2 + 'px', width: '200px'}});
            //call ajax 更改領取並回寫
            $.ajax({
                type: "POST",
                url: "/User/GetBarCode",
                data: "{asCode:'" + asCode + "',info:'',accept:'" + accept + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    $("#swiper_barcode").show();
                    var htmlStr='';
                    var j=0;
                    for(var i in data)
                    {
                        j=j+1;
                        htmlStr=htmlStr+"<div class='swiper-slide'><img width='280' src='data:image/png;base64,"+data[i].Image+"'><div class='swiper_note'><div>"+data[i].IsReceive+"<br />"+data[i].ReceiveTime+"</div><div>"+data[i].IsUsed+"<br />"+data[i].UsedTime+"</div></div></div>";
                    }
                    //顯示領取成功頁面
                    $(".swiper-wrapper").html(htmlStr)

                    var swiper = new Swiper('.swiper-container', {
                        nextButton: '.swiper-button-next',
                        prevButton: '.swiper-button-prev',
                        pagination: '.swiper-pagination',
                        paginationType: 'fraction'
                    });

                    Success();

                    //判斷Barcode數量
                    if(j==1)
                    {
                        $(".other_note").html("<div>(長按條碼可儲存圖片)</div>");
                    }

                    $.unblockUI();

                },
                timeout:25000,
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("系統忙碌中，請稍後再試");

                    $.unblockUI();
                }
            });

           


        }
        else
        {
            if($("#info").val()=="")
            {
                alert("請填入資訊");
            }
            else if(isEmail($("#info").val()) || isMobile($("#info").val()))
            {
                //寫入Local storage
                localStorage.setItem(asCode.toLowerCase(),asCode.toLowerCase());

                //寫入Ga
                ga('send', 'event', '領取禮物_中繼頁', '點擊_領取禮物', '快速領取禮物');

                $.blockUI({ message: "<h2 style='padding:20px; letter-spacing:2px'>資料傳輸中...</h2>", css: { left: ($(window).width() - 200) / 2 + 'px', width: '200px'}});
                //call ajax 更改領取並回寫
                $.ajax({
                    type: "POST",
                    url: "/User/GetBarCode",
                    data: "{asCode:'" + asCode + "',info:'" + $("#info").val() + "',accept:'" + accept + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#swiper_barcode").show();
                        var htmlStr='';
                        var j=0;
                        for(var i in data)
                        {
                            j=j+1;
                            htmlStr=htmlStr+"<div class='swiper-slide'><img width='280' src='data:image/png;base64,"+data[i].Image+"'><div class='swiper_note'><div>"+data[i].IsReceive+"<br />"+data[i].ReceiveTime+"</div><div>"+data[i].IsUsed+"<br />"+data[i].UsedTime+"</div></div></div>";
                        }
                        //顯示領取成功頁面
                        $(".swiper-wrapper").html(htmlStr)

                        var swiper = new Swiper('.swiper-container', {
                            nextButton: '.swiper-button-next',
                            prevButton: '.swiper-button-prev',
                            pagination: '.swiper-pagination',
                            paginationType: 'fraction'
                        });

                        Success();

                        //判斷Barcode數量
                        if(j==1)
                        {
                            $(".other_note").html("<div>(長按條碼可儲存圖片)</div>");
                        }

                        $.unblockUI();
                    },
                    timeout:25000,
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("系統忙碌中，請稍後再試");

                        $.unblockUI();
                    }
                });

                


            }
            else
            {
                alert("格式錯誤");

            }
        }

    }

        function isEmail(strEmail)
        {
            if (strEmail.search(/^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) != -1)
            {
                return true;
            }
            else
            {
                return false;
            }
        }

        function isMobile(strMobile)
        {
            if(strMobile.match(/^09[0-9]{8}$/))
            {
                return true;
            }
            else
            {
                return false;
            }
        }
    </script>


    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-3157038-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>


<body>
    <div id="header">
        <div class="header_topic">
            <a href="https://www.17life.com" target="_blank">
                <img src="~/Themes/MGM/images/logo_17life_relay.png" height="44" />
            </a>
        </div>
    </div>
    <div id="container">
        <!--M-->
        <div id="Mcontainer" style="display: none">
            <div class="content">您的朋友 <strong>@ViewBag.SenderName</strong> 在 17Life App 送您 <strong>@ViewBag.DealItem</strong>，請於<span>@ViewBag.ExpiredTime</span> 前完成領取。</div>
            <div id="tabs">
                <ul id="tab">
                    <li><a class="left" href="#tabs-1"><img src="~/Themes/MGM/images/gift_icon_fast.png" height="24" />&nbsp;<span>快速領取</span></a></li>
                    <li><a class="right" href="#tabs-2"><img src="~/Themes/MGM/images/gift_icon_relay.png" height="24" />&nbsp;<span>完整領取</span><br /><span style="font-size:12px;">送$500</span></a></li>
                </ul>
                <div id="tabs-1" class="table_list">
                    <div class="layer_click">
                        <div class="dec green"><img src="~/Themes/MGM/images/ic_done.png" height="17" />&nbsp;免註冊領取禮物</div>
                        <div class="dec"><img src="~/Themes/MGM/images/ic_close.png" height="17" />&nbsp;閱讀親友寫給您的卡片</div>
                        <div class="dec"><img src="~/Themes/MGM/images/ic_close.png" height="17" />&nbsp;回覆親友卡片</div>
                    </div>
                    <div id="box_tp_content" class="layer_hidden">
                        <div class="section" id="box_tp">
                            <div class="fast">
                                <div class="top">
                                    <div class="fast_input"><input id="info" type="text" placeholder="請輸入(電子信箱)or(手機號碼)" name="" value="" /></div>
                                    <div class="dec_note1">請輸入正確的聯絡資訊，以便查詢禮物及使用狀態</div>
                                </div>
                                <div class="bottom">
                                    <a href="#" onclick="takeGift('@ViewBag.AccessCode','@ViewBag.Accept','@ViewBag.MatchType')">領取禮物</a>
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <div class="other_note">
                                <div>請左右滑動切換條碼<br />(長按條碼可儲存圖片)</div>
                            </div>
                        </div>

                        <!-- if already used start -->
                        <div class="section" id="quickused">
                            <div class="other">17Life 為您精心準備許多優惠商品，下載 17Life APP 一起贈送禮物給朋友吧！</div>
                            <div class="app">
                                <div class="download"><a href="https://goo.gl/2PhcUZ" target="_blank"><img src="~/Themes/MGM/images/appstore_download.png" height="46" /></a></div>
                                <div class="download"><a href="https://goo.gl/A28KWT" target="_blank"><img src="~/Themes/MGM/images/googleplay_download.png" height="46" /></a></div>
                            </div>
                        </div>
                        <!-- if already used end -->
                    </div>
                </div>

 

                <div id="tabs-2" class="table_list">
                    <div class="layer_click">
                        <div class="dec green"><img src="~/Themes/MGM/images/ic_done.png" height="17" />&nbsp;註冊(登入)會員領取禮物</div>
                        <div class="dec green"><img src="~/Themes/MGM/images/ic_done.png" height="17" />&nbsp;新會員註冊可獲得折價券500元</div>
                        <div class="dec green"><img src="~/Themes/MGM/images/ic_done.png" height="17" />&nbsp;閱讀親友寫給您的卡片</div>
                        <div class="dec green"><img src="~/Themes/MGM/images/ic_done.png" height="17" />&nbsp;回覆親友卡片</div>
                    </div>
                    <div id="box_bm_content" class="layer_hidden">
                        <div class="section">
                            <div class="topic"><strong>step 1</strong><div class="dec_note">&nbsp(若您已下載 請直接至step2)</div></div>
                            <div class="dec">請先下載 17Life App，並且登入 / 註冊會員</div>
                            <div class="app">
                                <div class="download"><a href="https://goo.gl/Ih6uCu" target="_blank"><img src="~/Themes/MGM/images/appstore_download.png" height="46" /></a></div>
                                <div class="download"><a href="https://goo.gl/2D8Uy1" target="_blank"><img src="~/Themes/MGM/images/googleplay_download.png" height="46" /></a></div>
                            </div>
                        </div>
                        <div class="section">
                            <div class="topic"><strong>step 2</strong></div>
                            <div class="dec">手機回到此頁面，點擊領取禮物：</div>
                            <div class="gift"><a class="btn" href="javascript:location.href = '@ViewBag.AsCodeLink';" onclick="ga('send', 'event', '領取禮物_中繼頁', '點擊_領取禮物', '下載APP領取禮物');" target="_blank">領取</a><a href="javascript:location.href = '@ViewBag.AsCodeLink';" onclick="ga('send', 'event', '領取禮物_中繼頁', '點擊_領取禮物', '下載APP領取禮物');" target="_blank"><img src="~/Themes/MGM/images/btn_gift_relay.gif" /></a></div>
                        </div>
                    </div>
                </div>
                </div>

            </div>
                <!--PC-->
                <div id="pcContainer" style="display: none">

                    <div class="content">
                        您的朋友 <strong>@ViewBag.SenderName</strong> 在 17Life App 送您一個禮物 <strong>@ViewBag.DealItem</strong>，請於<span>@ViewBag.ExpiredTime</span> 前使用手機掃描下方 QR Code 來完成收禮。
                    </div>
                    <div class="section">
                        <div class="topic">
                            <span><img src="~/Themes/MGM/images/gift_icon_relay.png" height="24"></span><strong>QR Code</strong>
                        </div>
                        <div class="qr_code">
                            <img id='qrcode' src='' />
                        </div>
                    </div>
                    <div class="section no_bg">
                        <div class="dec" style="text-align:center;">您也可使用 17Life App 的「QR掃描器」來掃描喔！</div>
                        <div class="qr_code"><img src="~/Themes/MGM/images/img_ex2.png" width="260" /></div>
                    </div>
                </div>

                <!--Status-->
                <div id="giftStatus" style="display: none">
                    <div class="content"></div>
                    <div class="error">
                        <img src="~/Themes/MGM/images/error.png">
                    </div>
                </div>

                <div id="footer">COPYRIGHT © 康太數位 All Rights Reserved.</div>
            </div>

</body>



</html>