﻿@using System.Security.AccessControl
@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.WebLib.Models.Mobile


@{
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
}

<!-- 20160524 mgm css start -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/Themes/default/style/mgm_ui.css" rel="stylesheet" type="text/css" />
<link href="~/Themes/default/style/mgm.css" rel="stylesheet" type="text/css" />
<!-- 20160524 mgm css end -->

<script type="text/javascript" src="~/Tools/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/Tools/js/lightslider.js"></script>
<script>
    $(document).ready(function () {

        $('#autoWidth').lightSlider({
            autoWidth: true,
            loop: false,
            onSliderLoad: function () {
                $('#autoWidth').removeClass('cS-hidden');
            }
        });

    });
</script>


<div id="mgm_content">
    <!-- tabs start -->
    <div class="tabs">
        <a href="/User/SendGift"><i class="fa fa-gift fa-1g"></i>&nbsp;送好禮</a>
        <a href="/User/GiftList"><i class="fa fa-download fa-1g"></i>&nbsp;收好禮</a>
        <a href="/User/Contact"><i class="fa fa-users fa-1g"></i>&nbsp;朋友們</a>
        <a href="/User/GiftWhere"><i class="fa fa-question-circle fa-1g"></i>&nbsp;禮物去哪兒</a>
        <a href="/User/CardList"><i class="fa fa-smile-o fa-1g"></i>&nbsp;卡片</a>
        <a href="javascript:void(0);" class="current"><i class="fa fa-thumbs-o-up fa-1g"></i>&nbsp;推薦禮物</a>
    </div>
    <!-- tabs end -->
    <div class="main">
        <div class="typeA tabs_wrap">
            <ul>
                <li class="tab_title"><a href="#tabs-1">浪漫情人推薦</a></li>
                <li class="tab_title"><a href="#tabs-2">米其林餐廳</a></li>
                <li class="tab_title"><a href="#tabs-3">排隊名品</a></li>
            </ul>
            <div id="tabs-1" class="tab_content" style="display:block">
                <!--//3column_wrap//-->
                <div class="item_3col_wrap" style="display:block;">

                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">01山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating">
                                    <!-- 評價有效時，依評價數值顯示0星~5星，以半顆星為最小單位 20160606 by Getter-->
                                    <i class="fa fa-star" aria-hidden="true"></i><!-- 一顆實星=1 -->
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i><!-- 半顆星=0.5 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <span class="rating_count">(99999人使用後評價)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">分期0利率</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$12799元</span>
                                <span class="oriprice">$22000</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:block">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">02山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating">
                                    <!-- 評價有效時，依評價數值顯示0星~5星，以半顆星為最小單位 20160606 by Getter-->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <span class="rating_count">(99人使用後評價)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">分期0利率</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <!--
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg" >
                                -->
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">03山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$3799元</span>
                                <span class="oriprice">$4200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:none">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">04山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:block">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">05山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <!--
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg" >
                                -->
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">06山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$3799元</span>
                                <span class="oriprice">$4200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:none">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">07山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                </div>
                <!--//3column_wrap//End-->
            </div>
            <div id="tabs-2" class="tab_content">
                <!--//3column_wrap//-->
                <div class="item_3col_wrap" style="display:block;">

                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/JL-RA-3993/a144a937EDM4cc2EDM4a30EDMbbc7EDM83e6fbe37357.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">01山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating">
                                    <!-- 評價有效時，依評價數值顯示0星~5星，以半顆星為最小單位 20160606 by Getter-->
                                    <i class="fa fa-star" aria-hidden="true"></i><!-- 一顆實星=1 -->
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i><!-- 半顆星=0.5 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <span class="rating_count">(99999人使用後評價)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">分期0利率</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$12799元</span>
                                <span class="oriprice">$22000</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:block">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/JL-RA-3993/a144a937EDM4cc2EDM4a30EDMbbc7EDM83e6fbe37357.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">02山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating">
                                    <!-- 評價有效時，依評價數值顯示0星~5星，以半顆星為最小單位 20160606 by Getter-->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <span class="rating_count">(99人使用後評價)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">分期0利率</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <!--
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg" >
                                -->
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">03山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$3799元</span>
                                <span class="oriprice">$4200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:none">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/JL-RA-3993/a144a937EDM4cc2EDM4a30EDMbbc7EDM83e6fbe37357.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">04山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:block">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/JL-RA-3993/a144a937EDM4cc2EDM4a30EDMbbc7EDM83e6fbe37357.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">05山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <!--
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg" >
                                -->
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">06山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$3799元</span>
                                <span class="oriprice">$4200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:none">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/JL-RA-3993/a144a937EDM4cc2EDM4a30EDMbbc7EDM83e6fbe37357.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">07山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                </div>
                <!--//3column_wrap//End-->
            </div>
            <div id="tabs-3" class="tab_content">
                <!--//3column_wrap//-->
                <div class="item_3col_wrap" style="display:block;">

                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/A0-09-607/90710d85EDM1a5cEDM4ba1EDMba55EDM3ef2011186c7.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">01山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating">
                                    <!-- 評價有效時，依評價數值顯示0星~5星，以半顆星為最小單位 20160606 by Getter-->
                                    <i class="fa fa-star" aria-hidden="true"></i><!-- 一顆實星=1 -->
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i><!-- 半顆星=0.5 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <span class="rating_count">(99999人使用後評價)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">分期0利率</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$12799元</span>
                                <span class="oriprice">$22000</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:block">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/A0-01-944/cab341a4EDM376dEDM4e8eEDM8d6fEDM3fcd8e270b47.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">02山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating">
                                    <!-- 評價有效時，依評價數值顯示0星~5星，以半顆星為最小單位 20160606 by Getter-->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                                    <span class="rating_count">(99人使用後評價)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">分期0利率</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <!--
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg" >
                                -->
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">03山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$3799元</span>
                                <span class="oriprice">$4200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:none">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/A0-02-140/c493b34cEDM25f7EDM4f7dEDM988fEDMe850b3db80bf.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">04山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:block">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/A0-04-897/cc67695fEDMbbb2EDM428cEDM9456EDM534ddb8b8878.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">05山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:block">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <!--
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg" >
                                -->
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">06山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$3799元</span>
                                <span class="oriprice">$4200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                    <div class="item_3col">
                        <a>
                            <div class="item_soldout_480" style="display:none">
                                <img src="../Themes/PCweb/images/soldout_bar_480.png">
                            </div>
                            <div class="item_activeLogo" style="display:none">
                                <img src="https://www.17life.com/images/17P/item_activeLogo.png">
                            </div>
                            <div class="hover_place_3col">
                                <sapn class="hover_place_text">
                                    <i class="fa fa-map-marker"></i>
                                    中山區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區、大安區、中正區、萬華區
                                </sapn>
                            </div>
                            <div class="item_3col_pic">
                                <img src="https://www.17life.com/media/JL-RA-5466/f5579301EDM9db8EDM4f18EDM9ff1EDM33b3a0f0d7ea.jpg">
                            </div>
                            <div class="item_3col_pic_bg">
                                <img src="../Themes/PCweb/images/ppon-M1_pic.jpg">
                            </div>

                            <div class="item_title">
                                <span class="tag_buycounter">已售出<span class="num_people">24458</span>份</span>
                                <ul>
                                    <li class="dts-label dts-lb-1">破千</li>
                                    <!--<li class="dts-label dts-lb-2">破萬</li>-->
                                    <li class="dts-label dts-lb-4">24h</li>
                                    <!--<li class="dts-label dts-lb-5">72h</li>-->
                                    <li class="dts-label dts-lb-3">即買即用</li>
                                    <li class="dts-label dts-lb-7">最後一天</li>
                                </ul>
                                <span class="tag_place">多分店</span>
                                <div class="tag_title">07山間小館-川湘料理-抵用券--山間小館-川湘料理-抵用券山間小館-川湘料理-抵用券</div>
                                <p class="tag_subtitle">只要399元(4張免運)即可享有【典華】原價682元典華高級飯店套餐紛饗餐券乙張(2選1)：(A)養顏雪蛤鮑魚套餐：柚香燻鴨沙律+海皇雪蛤羹+古法蒸鯃魚+...</p>
                                <div class="rating insufficient">
                                    <!-- 當評價資料不足時，統一秀以下內容 20160606 by Getter -->
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span class="rating_count">(評價資料不足)</span>
                                </div>
                            </div>
                            <div class="item_3col_price_less">
                                <span class="btn_buy btn-primary">馬上看</span><!--大師兄幫忙換字:分期0利率/馬上買--><!--分期0利率 HTML順序須排前面才會被隱藏住-->
                                <span class="discount">6.9折</span>
                                <span class="price">$799元</span>
                                <span class="oriprice">$1200</span>
                            </div>
                        </a>

                    </div><!--//item_3column//end-->
                </div>
                <!--//3column_wrap//End-->
            </div>
        </div><!-- // typeA tabs_wrap //end -->
        <!-- 熱門禮物 start -->
        <div class="clear"></div><br /><br />
        <div style="margin-bottom:10px; font-size:14px; color:#666;">熱門禮物</div>
        <ul id="autoWidth">
            <li>
                @foreach (var item in ViewBag.hotDeal1)
                {
                    <div>
                        <a class="pic" href="/@item.BusinessHourGuid"><img src="@item.DefaultDealImage" /></a>
                        <p class="title">
                            <a href="/@item.BusinessHourGuid">@item.ItemName</a>
                        </p>
                        <p class="price"><strong style="color: #b00; font-size: 16px;">$@item.ItemPrice.ToString("F0")</strong> <span style="text-decoration: line-through;">@item.ItemOrigPrice.ToString("F0")</span></p>
                    </div>
                }
            </li>
            <li>
                @foreach (var item in ViewBag.hotDeal2)
                {

                    <div>
                        <a class="pic" href="/@item.BusinessHourGuid"><img src="@item.DefaultDealImage" /></a>
                        <p class="title">
                            <a href="/@item.BusinessHourGuid">@item.ItemName</a>
                        </p>
                        <p class="price"><strong style="color: #b00; font-size: 16px;">$@item.ItemPrice.ToString("F0")</strong> <span style="text-decoration: line-through;">@item.ItemOrigPrice.ToString("F0")</span></p>
                    </div>
                }
            </li>
        </ul>
        <!-- 熱門禮物 end -->

    </div>
</div>
