﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.BizLogic.Models.CustomerService

@model DataList
@{
    Layout = ChannelFacade.GetOrderClassificationByHeaderToken() == AgentChannel.TaiShinMall ? "~/Views/Ppon/_PponLayoutForTaishinMall.cshtml" : "~/Views/Ppon/_PponLayout.cshtml";
    string fisrtName = ViewBag.FisrtName;
    string lastName = ViewBag.LastName;
    string email = ViewBag.Email;
    string mobile = ViewBag.Mobile;
    CategoryData categorys = ViewBag.Categorys;
}
<link href="~/Themes/PCweb/css/service.css" rel="stylesheet" type="text/css" /> 
<link href="~/Themes/PCweb/css/RDL-L.css" rel="stylesheet" type="text/css">
<link href="~/Themes/PCweb/css/RDL-M.css" rel="stylesheet" type="text/css">
<link href="~/Themes/PCweb/css/RDL-S.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="~/Themes/mobile/js/script.js"></script>
<script type="text/javascript" src="~/Themes/PCweb/js/jquery.bpopup.js"></script>
<script src="~/Themes/PCweb/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<!-- Google Analytics -->
<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-3157038-1', 'auto');
        ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
<script type="text/javascript">
    $(function () { 
        $('.btn-newproblem').bind('click', function (e) {
            //e.preventDefault();
            //$('.contact_info_wrap').bPopup();
            location.href = "ServiceConversation?issueType=1";
        });
    });
    
    @*--問題頁簽切換--*@
    function changeTab(type)
    {
        var data = {
            issueType: type
        }

        $.ajax({
            type: "POST",
            url: "/User/GetIssueList",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (type == 2) {
                    bindOrder(response.Data);
                }
                else {
                    bindGeneral(response.Data);
                }

                changeTabStyle(type);

            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
    
    @*--問題頁簽切換樣式--*@
    function changeTabStyle(type)
    {
        switch (type) {
            case 2:
                $('#ui-id-1').parent().removeClass('ui-tabs-active').removeClass('ui-state-active');
                $('#ui-id-1').parent().attr('aria-selected', 'false');
                $('#tabs-1').attr('aria-expanded', 'false');
                $('#tabs-1').attr('aria-hidden', 'true');
                $('#tabs-1').hide();
                $('#ui-id-2').parent().addClass('ui-tabs-active').addClass('ui-state-active');
                $('#ui-id-2').parent().attr('aria-selected', 'true');
                $('#tabs-2').attr('aria-expanded', 'true');
                $('#tabs-2').attr('aria-hidden', 'false');
                $('#tabs-2').show();
                break;
            default:
                $('#ui-id-2').parent().removeClass('ui-tabs-active').removeClass('ui-state-active');
                $('#ui-id-2').parent().attr('aria-selected', 'false');
                $('#tabs-2').attr('aria-expanded', 'false');
                $('#tabs-2').attr('aria-hidden', 'true');
                $('#tabs-2').hide();
                $('#ui-id-1').parent().addClass('ui-tabs-active').addClass('ui-state-active');
                $('#ui-id-1').parent().attr('aria-selected', 'true');
                $('#tabs-1').attr('aria-expanded', 'true');
                $('#tabs-1').attr('aria-hidden', 'false');
                $('#tabs-1').show();
                break;
        }
    }

    @*--一般問題列表--*@
    function bindGeneral(data)
    {
        var template = $('.general-template');
        var listHtml = '';

        $('.normal_question').empty();

        if (data.length == 0) {
            $('#tab1-nodata').show();
        }
        else {
            $('#tab1-nodata').hide();
            $.each(data, function (idx, obj) {
                template.find('.service_list').attr('href', 'ServiceConversation?issueType=1&no=' + obj.ServiceNo);
                template.find('.category').text(obj.Name);
                template.find('.time').text(obj.ModifyTime + " 更新");
                template.find('.content').text(obj.Content);
                if (!obj.NewMessage) {
                    template.find('.already').text('').attr('class', 'wating');
                } else {
                    template.find('.wating').text('客服已回覆').attr('class', 'already');
                }
                listHtml += template.html();
            });
            $('.normal_question').html(listHtml);
        }
    }

    @*--訂單問題列表--*@
    function bindOrder(data)
    {
        var template = $('.order-template');
        var listHtml = '';

        $('.order_question').empty();
     
        if (data.length == 0) {
            $('#tab2-nodata').show();
        }
        else {
            $('#tab2-nodata').hide();
            $.each(data, function (idx, obj) {
                template.find('.service_list').attr('href', 'ServiceConversation?issueType=2&no=' + obj.OrderGuid);
                template.find('img').attr('src', obj.MainImagePath);
                template.find('.deal_name').text(obj.Name);
                template.find('.number').text("訂單編號:" + obj.OrderId);
                template.find('.time').text(obj.ModifyTime + " 更新");
                template.find('.content').text(obj.Content);
                if (!obj.NewMessage) {
                    template.find('.already').text('').attr('class', 'wating');
                } else {
                    template.find('.wating').text('客服已回覆').attr('class', 'already');
                }
                listHtml += template.html();
            });

            $('.order_question').html(listHtml);
        }
    }
    
</script>

<style type="text/css">
    .center, .contact_info_wrap {
        line-height:1.5;
    }
</style>

<div class="center ac-center" style="margin-bottom:20px;">
    <div class="full_block">
        <div class="bg_service_gustomer">
            <div class="service">
                <div class="form ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabsA">
                    <h1 class="titlebg">聯絡客服<a href="/Ppon/NewbieGuide.aspx" class="btn_back">回客服首頁</a></h1>
                    <ul class="service_menu ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                        <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true"><a href="javascript:void(0)" class="border_left ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1" onclick="changeTab(1)">一般問題</a></li>
                        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false"><a href="/User/coupon_List.aspx"><!--<a href="javascript:void(0)" class="border_right ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2" onclick="changeTab(2)">-->訂單問題</a></li>
                    </ul>
                    <div class="clear"></div>
                    <div class="service_history">
                        <div id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
                            @if (Model.IssueList == null || Model.IssueList.Count == 0)
                            {
                                <p class="nodata" id="tab1-nodata" style="display:block;">目前沒有一般問題紀錄</p>
                            }
                            else
                            {
                                <ul class="normal_question">
                                    @foreach (var row in Model.IssueList)
                                    {
                                        var maxLen = 82;
                                        var content = row.Content.Length >= maxLen ? row.Content.Substring(0, maxLen) + " ..." : row.Content;

                                        <li class="@row.ParentServiceNo">
                                            <a class="service_list" href="ServiceConversation?issueType=1&no=@row.ServiceNo">
                                                <p class="category">@row.Name</p>
                                                <p class="time">@row.ModifyTime 更新</p>
                                            <p class="gustomer_recording">
                                                @content</p>
                                                @Html.Raw(row.NewMessage ? "<p class=\"already\">●</p>" : "<p class=\"waiting\"></p>")
                                                <i class="fa fa-angle-right fa-lg fa-fw"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                            <br><br><br><br>

                            <div class="btn-group btn-group-full-page-center clearfix">
                                <div class="btn-half">
                                    <a class="btn btn-primary btn-primary-flat btn-newproblem" href="javascript:void(0);">
                                        詢問新問題
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="tabs-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                            <p class="nodata" id="tab2-nodata" style="display:none">目前沒有訂單問題紀錄</p>
                            <p>詢問訂單問題請至 <a class="link_underline" href="coupon_List.aspx">訂單內容</a> &gt; 聯絡客服</p>
                            <ul class="order_question"></ul>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <br><br>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<ul class="general-template" style="display:none;">
    <li>
        <a class="service_list" href="javascript:void(0)">
            <p class="category"></p>
            <p class="time"></p>
            <p class="already">客服已回覆</p>
            <i class="fa fa-angle-right fa-lg fa-fw"></i>
        </a>
    </li>
</ul>

<ul class="order-template" style="display:none;">
    <li>
        <a class="service_list" href="javascript:void(0)">
            <div class="deal_img">
                <img class="img" src="">
            </div>
            <p class="deal_name"></p>
            <p class="number">訂單編號:</p>
            <p class="time"></p>
            <p class="already">客服已回覆</p>
            <i class="fa fa-angle-right fa-lg fa-fw"></i>
        </a>
    </li>
</ul>