﻿<!-- 規格彈窗 選方案前 Start-->
<div class="pop-window pop-window-lg" id="combodeals" style="display:none;">
    <!-- 左半邊秀檔次規格 Start-->
    <div class="item-detail pull-left">
        <!-- 左半邊規格頁籤，依檔次分類不同、最多會有6個頁籤 -->
        <ul class="item-detail-tabs">
            <li class="active">詳細介紹</li>
            <li>商品規格</li>
            <li>權益說明</li>
        </ul>
        <!-- 頁籤顯示如下 -->
        <ul class="item-detail-tabcontent">
            <!-- 預設顯示的頁籤，掛active class -->
            <li class="active">
                <!-- 以下預定放置由後台取得、商品上架人們編寫的html內容 Start-->
                <div id="detailDesc">
                    
                </div>
                <!-- 以下預定放置由後台取得、商品上架人們編寫的html內容 End-->
            </li>
            <li>
                <!-- 以下預定放置由後台取得、商品上架人們編寫的html內容 Start-->

                <!-- 以下預定放置由後台取得、商品上架人們編寫的html內容 End-->
            </li>
            <li>
                <!-- 以下預定放置由後台取得、商品上架人們編寫的html內容 Start-->
                <div class="EntryZone">
                    <div id="dds" class="dds">
                    </div>
                    <div id="Detailinner" class="Equity">
                        
                    </div>
                    
                </div>
                <!-- 以下預定放置由後台取得、商品上架人們編寫的html內容 End-->
            </li>
        </ul>

    </div>
    <!-- 左半邊秀檔次規格 End-->
    <!-- 右半邊選擇方案、數量、與細項規格 Start-->
    <div class="item-selector pull-right">
        <div class="item-selector-title">
            選擇好康方案
            <span id="spanBusinessHourGuid" style="display:none"></span>
        </div>
        <!-- 選擇方案x數量、及總計價錢 Start-->
        <div class="item-selector-multigrade-setting">
            <!-- 方案選擇 Start：使用系統既有的dropdown元件、如本檔次無方案可選，則本區無資料 -->
            <div id="div_item_options_selected" class="">
                <select id="item_options_selected" class="cart_item item-selector-dropdown">
                    <option value="">方案選擇</option>
                </select>
                <span id="item_options_span"></span>
                <span id="item_hidComboPack" style="display:none"></span>
            </div>
            <!-- 方案選擇 End -->
            <!-- 分店選擇 Start -->
            <div id="div_store_ppon_selected" class="">
                <select id="store_ppon_selected" class="cart_item item-selector-dropdown">
                    <option value="">分店選擇</option>
                </select>
                <span id="store_ppon_span"></span>
            </div>
            <!-- 分店選擇 End -->
            <!-- 數量選擇 Start：使用新的元件wanspinner，需載入wan-spinner.js  -->
            <div class="item-selector-form-unit">
                <label class="">選擇方案數量</label>
                <div id="CartNumber" class="wan-spinner pull-right">
                    <a href="javascript:void(0)" id="CartMinus" class="minus">-</a>
                    <input id="cartQuantity" type="text" value="1"><!-- value=起始數量 -->
                    <a href="javascript:void(0)" id="CatPlus" class="plus">+</a>
                </div>



            </div>
            <!-- 數量選擇 End-->
            <div class="item-selector-form-unit">
                <label class="">總計</label>
                <span class="item-selector-total pull-right">$0</span>
            </div>
        </div>
        <!-- 選擇方案x數量、及總計價錢 End-->
        <!-- 檔次規格選項區 Start：如本檔次無規格可選，則本區無資料；規項可能為1~4項-->
        <div id="item-selector-mixitemselect" class="item-selector-mixitemselect" style="display:none;">
            <label class="">商品規格選擇</label>
            
        </div>
        <!-- 檔次規格選項區 End-->
        <!-- 使用者選定方案及數量時，以下要秀出使用者還需選幾組規格才能結帳，如使用者己達該數量，則本段文字不顯示(visibility:hidden;) -->
        <div class="item-selector-notification">
             <!--<span>還差<span class="text-primary">5</span>件商品才可以結帳！</span> -->
        </div>
        <!-- 被選規格清單 Start：若本檔次無需選細項規格，則本區不顯示-->
        <ul id="item-selector-mixitemcart" class="item-selector-mixitemcart" style="display:none;">
            <!-- item Start -->
            
            <!-- item End -->
        </ul>
        <!-- 被選規格清單 End-->
        <!-- 決定按鈕 Start：如使用者還差N件商品才可結帳，則此處以灰按鈕表示-->
        <div class="btn-group">
            <div class="btn-half">
                <a id="btnAddCartAndCloseLg" class="btn btn-default btn-default-flat disabled" onclick="AddCartAndCloseLg(this);">
                    加入購物車
                </a>
            </div>

            <div class="btn-half">
                <a  id="btnBuyAndCloseLg" class="btn btn-primary btn-primary-flat disabled">
                    立即買
                </a>
            </div>
        </div>
        <!-- 決定按鈕 End -->
    </div>
    <!-- 右半邊選擇方案、數量、與細項規格 End-->


    <div class="MGS-XX" onclick="blockUICloseLg(this);">
        <input type="submit" class="btn btn-large btn-primary" value="關閉">
    </div>
</div>
<!-- 規格彈窗 選方案前 End-->
