﻿<div class="grui-form" style="border:1px solid #bf0000;width:650px;">
    <div class="form-unit">
        <label for="" class="unit-label title">交易日期</label>
        <div class="data-input">
            <p id="paymentTradeDate"></p>
        </div>
    </div>

    <div class="form-unit">
        <label for="" class="unit-label title">交易金額</label>
        <div class="data-input">
            <p class="important" id="paymentTradeAmount"></p>
        </div>
    </div>

    <div class="form-unit">
        <label for="" class="unit-label title">信用卡號</label>
        <div class="data-input">
            <input id="CardNo1" name="CardNo1" type="text" class="cardInputs input-credit" maxlength="4" autocomplete="off" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"> -
            <input id="CardNo2" name="CardNo2" type="text" class="cardInputs input-credit" maxlength="4" autocomplete="off" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"> -
            <input id="CardNo3" name="CardNo3" type="text" class="cardInputs input-credit" maxlength="4" autocomplete="off" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"> -
            <input id="CardNo4" name="CardNo4" type="text" class="cardInputs input-credit" maxlength="4" autocomplete="off" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
        </div>
    </div>

    <div class="form-unit">
        <label for="" class="unit-label title">有效期限</label>
        <div class="data-input">
            <select id="ExpMonth" name="ExpMonth" class="select-wauto">
                <option selected="selected">01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
            <p class="credit">月/20</p>
            <select id="ExpYear" name="ExpYear" class="select-wauto">
            </select>
            <p>年</p>
        </div>
    </div>

    <div class="form-unit">
        <label for="" class="unit-label title">信用卡背面末三碼</label>
        <div class="data-input">
            <input type="text" class="input-credit" id="SecurityCode" name="SecurityCode" maxlength="3" autocomplete="off" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"><div class="safelycode"></div>
        </div>
    </div>

    <div class="member">
        <p class="info import_info member_buy_atm_first_import" style="display:block;">
            ※為保護您的權益，持卡人需與會員帳戶相同，您同意17Life進行消費確認及保留出貨權益。
        </p>
    </div>
</div>