@charset "UTF-8";

/* SpryMenuBarHorizontal.css - version 0.6 - Spry Pre-Release 1.6.1 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/*******************************************************************************

 LAYOUT INFORMATION: describes box model, positioning, z-order

 *******************************************************************************/

/* The outermost container of the Menu Bar, an auto width box with no margin or padding */
ul.MenuBarHorizontal
{
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: auto;
	height: auto;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
}
/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */
ul.MenuBarActive
{
	z-index: 1000;
}
/* Menu item containers, position children relative to this container and are a fixed width */
ul.MenuBarHorizontal li
{
	list-style-type: none;
	position: relative;
	text-align: center;
	cursor: pointer;
	float:right;
	width:105px;
	padding: 0px;
	font-size: 100%;
	color:#FFF;
	background-color: #333;
	background-image: url(../../../../../../Themes/default/images/17Life/G2/ppon-M1-Hov_25.jpg);
	background-repeat: repeat;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left:0px;
}
/* Submenus should appear below their parent (top: 0) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
ul.MenuBarHorizontal ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	z-index: 1020;
	cursor: default;
	width:110px;
	position: absolute;
	left: -1000em;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to auto so it comes onto the screen below its parent menu item */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible
{
	left: auto;
}
/* Menu item containers are same fixed width as parent */
ul.MenuBarHorizontal ul li
{
	width:105px;
	text-align: center;
	display: inline;
	f\loat:left;
	color:#FFF;
	background-color: #333;
	background-image: url(../../../../../../Themes/default/images/17Life/G2/ppon-M1-Hov_25.jpg);
	background-repeat: repeat;
	height:30px;
}
/*ie8*/
ul.MenuBarHorizontal ul li
{
	width:110px\9;
	text-align: center\9;
	display: inline;
	float:left\9;
	color:#FFF;
	background-color: #333\9;
	background-image: url(../../../../../../Themes/default/images/17Life/G2/ppon-M1-Hov_25.jpg)\9;
	background-repeat: repeat\9;
	height:30px\9;
}
/*ie8*/

/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) */
ul.MenuBarHorizontal ul ul
{
	position: absolute;
	margin: -5% 0 0 95%;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
	left: auto;
	top: 0;
}

/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/

/* Submenu containers have borders on all sides */
ul.MenuBarHorizontal ul
{

}
/* Menu items are a light gray block with padding and no text decoration */
ul.MenuBarHorizontal a
{
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-size:12.5px;
	color:#FFF;
	font-weight: bold;
    padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	
}

ul.MenuBarHorizontal a
{
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-size:12.5px\9;
	color:#FFF;
	font-weight: bold;
    padding-top: 0.5em\9; 
	padding-right: 0.5em\9; 
	padding-bottom: 0.5em\9; 
	padding-left: 0.5em\9; 
	float:left/9;
	
}


/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus
{
	color: #FFF;
	background-image: url(../../../../../../Themes/default/images/17Life/G2/ppon-M1-Hov_25Hovli.jpg);
	background-repeat: repeat;	
}
/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul.MenuBarHorizontal a.MenuBarItemHover, ul.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul.MenuBarHorizontal a.MenuBarSubmenuVisible
{
	color: #FFF;
}

/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenu
{
	background-image: url(../../../../../../Themes/default/images/17Life/G2/ppon-navi05.jpg);
	text-indent: -9999px;
	height: 31px;
	width: auto;
	padding: 0.6em;

}
/*ie8*/
ul.MenuBarHorizontal a.MenuBarItemSubmenu
{
	background-image: url(../../../../../../Themes/default/images/17Life/G2/ppon-navi05.jpg);
	text-indent:-9999px;
	height:30px;
	width:98px\9;
	padding: 0.6em;

}
/*ie8*/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenu
{
	background-image: url(../../../../../../Themes/default/images/17Life/G2/ppon-M1-Hov_25.jpg);
	background-repeat: no-repeat;

}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover
{
	background-image: url(../../../../../../Themes/default/images/17Life/G2/ppon-navi05Hov.jpg);
	text-align: center;
	text-decoration: underline;
}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover
{
	background-image: url(../../../../../../Themes/default/images/17Life/G2/ppon-M1-Hov_25.jpg);
	background-repeat: repeat;
	background-color: #9CC86F;
}

/*******************************************************************************

 BROWSER HACKS: the hacks below should not be changed unless you are an expert

 *******************************************************************************/

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarHorizontal iframe
{
	position: absolute;
	z-index: 1010;
	filter:alpha(opacity:0.1);
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
	display: inline;
	f\loat: right;
	background-color: #9CC86F;
	background-image: url(../../../../../../Themes/default/images/17Life/G2/ppon-M1-Hov_25.jpg);
	background-repeat: repeat;
	}
	ul.MenuBarHorizontal li.MenuBarItemIE:hover
	{
	display: inline;
	f\loat: right;
	background-color: #9CC86F;
	background-image: url(../../../../../../Themes/default/images/17Life/G2/ppon-M1-Hov_25.jpg);
	background-repeat: repeat;
	font-size: 16px;
	text-decoration: underline;
	color: #FFF;
	}
}
