﻿@charset "UTF-8";
/* ======================= css reset ========================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Rounded Mplus 1c",'Noto Sans TC', "微軟正黑體"; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ======================= css common style ========================== */
a {
  text-decoration: none;
  color: #31312C;
  font-size: 16px; }
  a:hover {
    color: #F04086; }

h1, h2, h3, h4, h5, h6, p, li {
  color: #31312C;
  letter-spacing: 1px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ======================= nav ========================== */
#nav__container {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F8F8F8; }
  @media screen and (max-width: 767px) {
    #nav__container {
      height: 50px; } }
  #nav__container .leftlogo {
    margin-left: 12%;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    background-image: url(../image/logo_17life.svg);
    height: 50px;
    background-repeat: no-repeat;
    visibility: visible; }
    @media screen and (max-width: 1280px) {
      #nav__container .leftlogo {
        margin-left: 6%; } }
    @media screen and (max-width: 767px) {
      #nav__container .leftlogo {
        height: 40px;
        visibility: visible;
        margin-left: calc(50% - 43px); } }
  #nav__container .nav__web {
    margin-right: 15%;
    -ms-grid-column-align: end;
        justify-self: end; }
    @media screen and (max-width: 1280px) {
      #nav__container .nav__web {
        margin-right: 7%; } }
    @media screen and (max-width: 767px) {
      #nav__container .nav__web {
        display: none; } }
    #nav__container .nav__web a {
      margin-left: 35px; }
      #nav__container .nav__web a:nth-child(5) {
        height: 16px;
        width: 16px;
        display: inline-block;
        background-image: url(../image/member_black.svg); }
        #nav__container .nav__web a:nth-child(5):hover {
          background-image: url(../image/member_red.svg); }
  #nav__container .nav__mob {
    margin-right: 5%;
    -ms-grid-column-align: end;
        justify-self: end;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-image: url(../image/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      #nav__container .nav__mob {
        display: none; } }
  #nav__container.transparent__background {
    background-color: transparent; }
    @media screen and (max-width: 768px) {
      #nav__container.transparent__background {
        background-color: #F8F8F8; } }
    #nav__container.transparent__background .leftlogo {
      visibility: hidden; }
      @media screen and (max-width: 768px) {
        #nav__container.transparent__background .leftlogo {
          visibility: visible; } }
    #nav__container.transparent__background .nav__web a {
      color: #fff; }
      #nav__container.transparent__background .nav__web a:hover {
        color: #F04086; }
      #nav__container.transparent__background .nav__web a:nth-child(5) {
        background-image: url(../image/member.svg); }
        #nav__container.transparent__background .nav__web a:nth-child(5):hover {
          background-image: url(../image/member_red.svg); }
    #nav__container.transparent__background .nav__web .normal__search {
      cursor: pointer;
      background-image: url(../image/search.svg); }
      #nav__container.transparent__background .nav__web .normal__search:hover {
        cursor: pointer;
        background-image: url(../image/search_red.svg); }
  #nav__container.pink__background {
    background-color: #FF99C2; }
  #nav__container.green__background {
    background-color: #92F2A1; }
  #nav__container.blue__background {
    background-color: #A3E0FE; }
  #nav__container.orange__background {
    background-color: #FFC284; }
  #nav__container.orange__background .nav__web a, #nav__container.blue__background .nav__web a, #nav__container.green__background .nav__web a {
    color: #31312C; }
    #nav__container.orange__background .nav__web a:hover, #nav__container.blue__background .nav__web a:hover, #nav__container.green__background .nav__web a:hover {
      color: #fff; }
    #nav__container.orange__background .nav__web a:nth-child(4), #nav__container.blue__background .nav__web a:nth-child(4), #nav__container.green__background .nav__web a:nth-child(4) {
      background-image: url(../image/search_black.svg); }
      #nav__container.orange__background .nav__web a:nth-child(4):hover, #nav__container.blue__background .nav__web a:nth-child(4):hover, #nav__container.green__background .nav__web a:nth-child(4):hover {
        background-image: url(../image/search.svg); }
    #nav__container.orange__background .nav__web a:nth-child(5), #nav__container.blue__background .nav__web a:nth-child(5), #nav__container.green__background .nav__web a:nth-child(5) {
      background-image: url(../image/member_black.svg); }
      #nav__container.orange__background .nav__web a:nth-child(5):hover, #nav__container.blue__background .nav__web a:nth-child(5):hover, #nav__container.green__background .nav__web a:nth-child(5):hover {
        background-image: url(../image/member.svg); }

.normal__search {
  cursor: pointer;
  height: 16px;
  width: 16px;
  display: inline-block;
  background-image: url(../image/search_black.svg); }
  .normal__search:hover {
    background-image: url(../image/search_red.svg); }

.clicked__search {
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  display: inline-block;
  background-image: url(../image/back.svg); }

.nav__searchbar {
  position: fixed;
  top: 60px;
  right: calc(15% + 39px);
  z-index: 50;
  width: 200px;
  height: 50px;
  background-color: #F8F8F8;
  border-radius: 50px;
  display: none; }
  @media screen and (max-width: 1280px) {
    .nav__searchbar {
      right: calc(7% + 39px); } }
  @media screen and (max-width: 768px) {
    .nav__searchbar {
      display: none; } }
  .nav__searchbar input {
    background-color: transparent;
    border: 0px transparent solid;
    width: 80%;
    padding-left: 20px;
    font-size: 16px; }
  .nav__searchbar button {
    cursor: pointer;
    border: 0px transparent solid;
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../image/search_black.svg);
    background-size: 16px;
    background-position: center; }

/* ======================= mob menu ========================== */
.nav__mobmenu {
  display: none; }
  @media screen and (max-width: 767px) {
    .nav__mobmenu {
      display: none;
      position: fixed;
      height: 100vh;
      top: 0;
      width: 100%;
      z-index: 20;
      background-color: #fff; } }
  .nav__mobmenu .nav__mobemenu__first {
    height: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    .nav__mobmenu .nav__mobemenu__first .nav__mobmenu__searchbar {
      margin: 0 auto;
      width: 250px;
      height: 50px;
      background-color: #F8F8F8;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-radius: 50px; }
      .nav__mobmenu .nav__mobemenu__first .nav__mobmenu__searchbar input {
        background-color: transparent;
        border: 0px transparent solid;
        width: 80%;
        padding-left: 20px;
        font-size: 16px; }
      .nav__mobmenu .nav__mobemenu__first .nav__mobmenu__searchbar button {
        border: 0px transparent solid;
        height: 50px;
        width: 50px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url(../image/search_red.svg);
        background-size: 16px;
        background-position: center; }
  .nav__mobmenu .nav__mobemenu__second {
    height: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav__mobmenu .nav__mobemenu__second a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      width: 50%;
      font-size: 20px; }
      .nav__mobmenu .nav__mobemenu__second a:nth-child(1) img {
        margin: 0 auto 10px auto; }
      .nav__mobmenu .nav__mobemenu__second a:nth-child(2) {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#fff));
        background-image: linear-gradient(#F8F8F8, #fff); }
        .nav__mobmenu .nav__mobemenu__second a:nth-child(2) img {
          margin: 0 auto 10px auto; }
  .nav__mobmenu .nav__mobemenu__third {
    height: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav__mobmenu .nav__mobemenu__third a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      width: 50%;
      font-size: 20px; }
      .nav__mobmenu .nav__mobemenu__third a:nth-child(1) {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#fff));
        background-image: linear-gradient(#F8F8F8, #fff); }
        .nav__mobmenu .nav__mobemenu__third a:nth-child(1) img {
          margin: 0 auto 10px auto; }
      .nav__mobmenu .nav__mobemenu__third a:nth-child(2) img {
        margin: 0 auto 10px auto; }

/* ======================= footer ========================== */
footer {
  background-color: #F8F8F8; }
  footer .footer__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 80px 0px;
    width: 100%; }
    @media screen and (max-width: 600px) {
      footer .footer__description {
        padding: 35px 0px; } }
    footer .footer__description .logoWithInfo {
      margin-left: 12%;
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      letter-spacing: 1px;
      line-height: 24px; }
      @media screen and (max-width: 1280px) {
        footer .footer__description .logoWithInfo {
          margin-left: 6%; } }
      @media screen and (max-width: 767px) {
        footer .footer__description .logoWithInfo {
          margin: 0 auto;
          -webkit-box-flex: 0;
              -ms-flex: none;
                  flex: none; } }
      @media screen and (max-width: 600px) {
        footer .footer__description .logoWithInfo {
          margin: 0 auto;
          -webkit-box-flex: 0;
              -ms-flex: none;
                  flex: none; }
          footer .footer__description .logoWithInfo p {
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 18px; } }
      footer .footer__description .logoWithInfo .footerlogo {
        height: 60px;
        width: 500px;
        background-image: url(../image/logo_17life.svg);
        background-repeat: no-repeat;
        background-size: 100px; }
        @media screen and (max-width: 1280px) {
          footer .footer__description .logoWithInfo .footerlogo {
            width: 400px; } }
        @media screen and (max-width: 600px) {
          footer .footer__description .logoWithInfo .footerlogo {
            height: 40px;
            width: 100px;
            margin-bottom: 20px; } }
    footer .footer__description .siteLinkInfo {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 35px;
      color: #31312C;
      letter-spacing: 1px;
      line-height: 30px; }
      @media screen and (max-width: 767px) {
        footer .footer__description .siteLinkInfo {
          display: none; } }
      footer .footer__description .siteLinkInfo .siteLinkInfo__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        footer .footer__description .siteLinkInfo .siteLinkInfo__left .siteLinkInfo__left__one, footer .footer__description .siteLinkInfo .siteLinkInfo__left .siteLinkInfo__left__two, footer .footer__description .siteLinkInfo .siteLinkInfo__left .siteLinkInfo__left__three {
          margin-right: 50px; }
          footer .footer__description .siteLinkInfo .siteLinkInfo__left .siteLinkInfo__left__one h4, footer .footer__description .siteLinkInfo .siteLinkInfo__left .siteLinkInfo__left__two h4, footer .footer__description .siteLinkInfo .siteLinkInfo__left .siteLinkInfo__left__three h4 {
            color: #F04086;
            margin-bottom: 10px; }
          @media screen and (max-width: 860px) {
            footer .footer__description .siteLinkInfo .siteLinkInfo__left .siteLinkInfo__left__one, footer .footer__description .siteLinkInfo .siteLinkInfo__left .siteLinkInfo__left__two, footer .footer__description .siteLinkInfo .siteLinkInfo__left .siteLinkInfo__left__three {
              margin-right: 20px; } }
        footer .footer__description .siteLinkInfo .siteLinkInfo__left .siteLinkInfo__left__two h4 {
          color: #F8F8F8; }
      @media screen and (max-width: 1100px) {
        footer .footer__description .siteLinkInfo .siteLinkInfo__right {
          display: none; } }
      footer .footer__description .siteLinkInfo .siteLinkInfo__right h4 {
        color: #F04086;
        margin-bottom: 20px; }
      footer .footer__description .siteLinkInfo .siteLinkInfo__right div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        footer .footer__description .siteLinkInfo .siteLinkInfo__right div a:nth-child(1) {
          height: 60px;
          width: 60px;
          background-image: url(../image/support/twservice.svg);
          background-repeat: no-repeat;
          background-size: 60px; }
        footer .footer__description .siteLinkInfo .siteLinkInfo__right div a:nth-child(2) {
          height: 60px;
          width: 60px;
          background-image: url(../image/support/sosa.svg);
          background-repeat: no-repeat;
          background-size: 40px; }
  footer .footer__copyright {
    background-color: #F04086;
    margin: 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px; }
    @media screen and (max-width: 600px) {
      footer .footer__copyright {
        padding: 8px 20px;
        font-size: 10px; } }

.backtop {
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 10;
  bottom: 250px;
  right: 50px;
  height: 45px;
  width: 40px;
  background-image: url(../image/backtop.svg);
  background-repeat: no-repeat;
  background-size: 40px; }
  @media screen and (min-width: 1750px) {
    .backtop {
      right: 150px; } }
  @media screen and (min-width: 1500px) {
    .backtop {
      right: 100px; } }
  @media screen and (max-width: 900px) {
    .backtop {
      right: 20px; } }
  @media screen and (max-width: 768px) {
    .backtop {
      right: 5%; } }
  @media screen and (max-width: 600px) {
    .backtop {
      right: 5%;
      bottom: 130px; } }

header {
  margin: 130px auto 80px auto;
  color: #31312C; }
  @media screen and (max-width: 767px) {
    header {
      margin: 50px auto 40px auto;
      padding-top: 50px; } }
  header h1 {
    text-align: center;
    font-size: 28px; }
    @media screen and (max-width: 767px) {
      header h1 {
        font-size: 20px; } }

.time__box {
  margin-left: 30%;
  position: relative;
  margin-bottom: 100px; }
  @media screen and (max-width: 1200px) {
    .time__box {
      margin-left: 15%; } }
  @media screen and (max-width: 767px) {
    .time__box {
      margin-left: 10%; } }
  .time__box:before {
    content: "";
    position: absolute;
    height: calc(100% - 48px);
    top: 20px;
    left: 0%;
    border: 1px #AAAAAA solid; }

.year__title {
  position: relative;
  padding-left: 30px;
  font-size: 24px;
  margin: 45px 0px;
  color: #AAAAAA; }
  @media screen and (max-width: 768px) {
    .year__title {
      font-size: 20px; } }
  .year__title:before {
    position: absolute;
    left: 0;
    top: 5px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-left: -7px;
    width: 15px;
    height: 15px;
    content: "";
    background-color: #AAAAAA; }

.year__newest {
  color: #666666;
  margin: 0px 0px 15px 0px; }
  .year__newest:before {
    background: #666666; }

.year__loadmore {
  position: relative;
  padding: 20px;
  font-size: 24px;
  margin: 45px 30px;
  color: #AAAAAA;
  width: 300px;
  border-radius: 100px;
  background: #F8F8F8;
  color: #666666;
  text-align: center;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .year__loadmore {
      font-size: 16px; } }
  @media screen and (max-width: 500px) {
    .year__loadmore {
      width: 200px; } }
  .year__loadmore:before {
    position: absolute;
    left: 0;
    top: 22px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-left: -37px;
    width: 15px;
    height: 15px;
    content: "";
    background-color: #AAAAAA; }

.year__end {
  position: relative;
  padding: 20px;
  font-size: 24px;
  margin: 45px 30px;
  color: transparent;
  width: 300px;
  border-radius: 100px; }
  .year__end:before {
    position: absolute;
    left: 0;
    top: 22px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-left: -37px;
    width: 15px;
    height: 15px;
    content: "";
    background-color: #666666; }

.year__content {
  position: relative;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  max-width: 860px; }
  .year__content p {
    padding-top: 3px;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
    margin-left: 10px;
    width: calc(100% - 120px); }
  @media screen and (max-width: 1200px) {
    .year__content {
      width: 90%; }
      .year__content p {
        width: calc(100% - 100px); } }
  @media screen and (max-width: 768px) {
    .year__content {
      padding-left: 15px;
      width: 95%; }
      .year__content p {
        font-size: 16px;
        width: calc(100% - 80px);
        margin-bottom: 20px; } }
  .year__content:hover:after {
    position: absolute;
    width: 11px;
    height: 11px;
    content: attr(dash-value);
    font-size: 20px;
    color: #F04086;
    left: -60px;
    top: 8px; }
    @media screen and (max-width: 767px) {
      .year__content:hover:after {
        display: none; } }
  .year__content:before {
    position: absolute;
    left: 0;
    top: 12px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-left: -5px;
    width: 11px;
    height: 11px;
    content: "";
    background-color: #F04086; }
  .year__content.blue:after {
    color: #00A0D3; }
  .year__content.blue:before {
    background-color: #00A0D3; }
  .year__content.orange:after {
    color: #FF9834; }
  .year__content.orange:before {
    background-color: #FF9834; }
  .year__content .content__tag {
    height: 30px;
    font-size: 14px;
    background: #FFE6F0;
    color: #F04086;
    width: 100px;
    padding: 5px;
    border-radius: 100px;
    text-align: center;
    margin-top: 5px;
    line-height: 19px; }
    @media screen and (max-width: 768px) {
      .year__content .content__tag {
        font-size: 12px;
        width: 70px; } }
    .year__content .content__tag.blue__tag {
      background: #EFF9FE;
      color: #00A0D3; }
    .year__content .content__tag.orange__tag {
      background: #FFE8D1;
      color: #FF9834; }

#timebox__firstload,
#timebox__secondload,
#timebox__thirdload,
#timebox__forthload {
  display: none; }
/*# sourceMappingURL=history.css.map */