@charset "UTF-8";
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**/
img {
  height: auto;
  max-width: 100%;
  border: none\9;
}

/*圖標字體化*/
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\f007";
}

.icon-clock-o:before {
  content: "\e605";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-filter:before {
  content: "\f0b0";
}

.icon-arrow-down:before {
  content: "\e601";
}

.icon-arrow-up:before {
  content: "\e602";
}

.icon-smile-o:before {
  content: "\f118";
}

.icon-smile-o-2:before {
  content: "\f118";
  color: #bf0000;
  font-size: 16px;
  margin-left: 10px;
  vertical-align: middle;
}

.icon-map-marker:before {
  content: "\f041";
}

/*****2015新版本*****/
body {
  font-family: "Arial Bold", "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}

.dts {
  /*標籤*/
  float: left;
  max-height: 30px;
  max-width: 220px;
  overflow: hidden;
  /**/
  display: inline-block;
}

.dts-label {
  width: auto;
  height: 16px;
  line-height: 16px;
  text-shadow: none;
  margin: 0px 0 0 0px;
  padding: 2px 5px 2px 5px;
  border-radius: 0;
  color: #8B81C3;
  font-size: 11px;
  font-family: Din Alternate, Droid sans-serif, Ping FangSong TC, 微軟正黑體;
}

.dts-lb-1, .dts-lb-2, .dts-lb-3, .dts-lb-4, .dts-lb-5, .dts-lb-6, .dts-lb-7, .dts-lb-8, .dts-lb-9, .dts-lb-10, .dts-lb-11, .dts-lb-12 {
  background: none;
  border: 1px solid;
  margin-right: 5px;
  margin-top: 5px;
}

/* 24H */
.dts-lb-4 {
  background-color: #ED3F62;
  color: #ffffff;
}

/* 折價 */
.dts-lb-11 {
  color: #5DAC81;
}

/* 熱銷 */
.dts-lb-1 {
  color: #F17C67;
}

/*超取*/
.dts-lb-12 {
  color: #58B2DC;
}

/* 即用 */
.dts-lb-3 {
  color: #F9BF45;
}

/* 套票 */
.dts-lb-5 {
  color: #8B81C3;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#maincontent a {
  display: inline-block;
}

#maincontent a:hover {
  cursor: pointer;
}

#maincontent .m-buyinAPP a {
  display: inline-block;
}

#maincontent .share_btn_box a {
  display: inline-block;
}

#maincontent .buycounter a {
  display: inline-block;
}

/*****條列式與棋盤式共用*****/
.item_wrap {
  margin-bottom: 10px;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: relative;
}

.item_wrap:after {
  content: '';
  display: block;
  clear: both;
}

.item_wrap:hover {
  border-color: #BF0000;
}

span.oriprice {
  text-decoration: line-through;
}

/*多分店*/
.item_pic .hover_place {
  font-size: 14px;
  line-height: 20px;
}

.item_pic .hover_place .hover_place_text {
  padding: 10px;
  display: block;
  background: #000;
  background: rgba(0, 0, 0, 0.82);
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
}

.item_soldout_480 {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.item_activeLogo {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}

.item_sitcker {
  width: 100px;
  position: absolute;
  top: 0;
  z-index: 5;
}

.tag_title {
  color: #F60;
}

.tag_buycounter {
  float: right;
  font-size: 14px;
  color: #999;
}

.num_people {
  color: #BF0000;
}

/*****條列式*****/
.item_wrap_list {
  width: 100%;
  /*清單模式 "圖片讀取中"背景圖*/
}

.item_wrap_list .item_pic {
  float: left;
  width: 480px;
  height: 267px;
  background: url(../images/ppon-M1_pic.jpg);
}

.item_wrap_list .hover_place {
  width: 480px;
  /*height: 50px;
    overflow: hidden;*/
  position: absolute;
  bottom: 116px;
  z-index: 15;
  color: #fff;
}

.item_wrap_list .item_price_more {
  float: left;
  width: 220px;
  position: relative;
}

.item_wrap_list .item_price_more .discount {
  width: 62px;
  height: 65px;
  text-align: center;
  position: absolute;
  top: 10px;
  right: -8px;
  font: 22px/60px "Arial Bold", "微軟正黑體", "Microsoft Jhenghei", sans-serif;
  color: #fff;
  background: url(../images/newdealdetail.png) -220px 0 no-repeat;
}

.item_wrap_list .item_price_more ul {
  margin: 5px 0 0 10px;
  width: 155px;
  height: 90px;
  overflow: hidden;
}

.item_wrap_list .item_price_more p {
  margin-left: 10px;
}

.item_wrap_list .item_price_more .price_detail {
  width: 220px;
  height: 110px;
  position: absolute;
  top: 80px;
}

.item_wrap_list .item_price_more .price_detail p {
  font-size: 12px;
  color: #999;
  margin-bottom: 8px;
  /*201508 分期0利率 by stan*/
}

.item_wrap_list .item_price_more .price_detail p.price {
  font-size: 28px;
  color: #BF0000;
  font-weight: bold;
}

.item_wrap_list .item_price_more .price_detail p.price_installment {
  color: #f60;
  font-weight: bold;
  /*font-size: 14px;*/
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField {
  height: 20px;
  border: none;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField span.icon-clock-o {
  margin: 0 1px auto 5px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimerField {
  margin-top: 0px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimeCounter {
  line-height: 18px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimeConDigit {
  font-size: 16px;
  line-height: 18px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimeConUnit {
  line-height: 18px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimeDayCounter {
  margin: 0px 0 0 5px;
  line-height: 18px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimeCounter {
  margin: 0px 0 0 0px;
  line-height: 18px;
}

.item_wrap_list .item_price_more .btn_buy_wrap {
  width: 230px;
  height: 90px;
  position: absolute;
  top: 184px;
  background: url(../images/newdealdetail.png) 0px -300px no-repeat;
}

.item_wrap_list .item_price_more .btn_buy_wrap .btn_buy {
  width: 140px;
  height: 64px;
  line-height: 64px;
  margin-left: 30px;
  font-size: 28px;
  color: white;
  text-align: center;
  font-weight: bold;
  background: url(../images/newdealdetail.png) 0 -95px no-repeat;
}

.item_wrap_list .item_price_more .btn_buy_wrap p {
  font-size: 12px;
  color: #cdcdcd;
  margin-left: 18%;
}

.item_wrap_list .item_price_less {
  display: none;
}

.item_wrap_list .item_title {
  float: left;
  background: #e5e5e5;
  min-width: 680px;
  /*解決文字過短跑板問題*/
  height: 96px;
}

.item_wrap_list .item_title .tag_place {
  font-size: 12px;
  line-height: 18px;
  margin: 3px 5px 0 0;
}

.item_wrap_list .item_title .tag_title {
  width: 70%;
  height: 24px;
  overflow: hidden;
  font-weight: bold;
}

.item_wrap_list .item_title .tag_subtitle {
  width: 100%;
  /*height: 24px;一行高度*/
  height: 48px;
  /*兩行高度*/
  overflow: hidden;
  color: #333;
}

.item_wrap_list .item_title ul {
  display: none;
}

/*item_title*/
.item_title {
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  line-height: 24px;
  /***** 2018新版折價券 201803 by stan *****/
  /*價格*/
}

.item_title .item_info {
  font-size: 14px;
  margin: 5px 0;
  line-height: 14px;
  /*評價*/
}

.item_title .item_info .item_info_detail {
  float: left;
}

.item_title .item_info .item_info_detail span {
  color: #999;
}

.item_title .item_info .item_info_detail span .text_line {
  text-decoration: line-through;
}

.item_title .item_info .item_info_detail span .text_big {
  font-size: 14px;
  color: #666;
}

.item_title .item_info .item_info_rating {
  float: right;
  color: #999;
}

.item_title .item_info .item_info_rating span {
  color: #999;
}

.item_title .item_info .item_info_rating i {
  color: #f80;
}

.item_title .item_info .item_info_rating span.count {
  color: #f80;
}

.item_title .tag_place {
  float: left;
  border-radius: 20px;
  background: #999;
  color: white;
  margin: 0 5px 0 0;
  padding: 0px 7px;
}

/*****棋盤式*****/
.item_wrap_grid {
  width: 340px;
  float: left;
  /*多分店*/
  /*棋盤式 "圖片讀取中"背景圖*/
  /* 棋盤式 商品下方功能 */
  /* Visual Effect - Hover Effect */
}

.item_wrap_grid:nth-child(odd) {
  margin-right: 10px;
}

.item_wrap_grid .item_soldout_480 {
  width: 100%;
}

.item_wrap_grid .item_soldout_480 img {
  width: 100%;
}

.item_wrap_grid .item_activeLogo {
  width: 100%;
}

.item_wrap_grid .item_activeLogo img {
  width: 100%;
}

.item_wrap_grid .item_sticker {
  width: 100%;
}

.item_wrap_grid .item_sticker img {
  width: 50%;
}

.item_wrap_grid .base {
  width: 100%;
}

.item_wrap_grid .base img {
  width: 100%;
}

.item_wrap_grid .item_base {
  width: 100%;
}

.item_wrap_grid .item_base img {
  width: 100%;
}

.item_wrap_grid .item_pic {
  float: left;
}

.item_wrap_grid .item_pic {
  position: relative;
  width: 100%;
  min-height: 189px;
  max-height: 189px;
  /*20170822 解決商家自行上圖 尺寸錯誤問題*/
  overflow: hidden;
  /*20170822 解決商家自行上圖 尺寸錯誤問題*/
  background: url(../images/ppon-M1_pic.jpg) center;
}

.item_wrap_grid .hover_place {
  width: 100%;
  position: absolute;
  bottom: 185px;
  z-index: 15;
  color: #fff;
}

.item_wrap_grid .item_price_more {
  display: none;
}

.item_wrap_grid .item_title {
  float: left;
  padding-bottom: 5px;
  min-width: 94%;
  /*解決文字過短跑版*/
  height: 143px;
}

.item_wrap_grid .item_title ul {
  width: 65%;
  height: 26px;
  overflow: hidden;
  margin-bottom: 10px;
}

.item_wrap_grid .item_title ul li.dts-label {
  margin: 0 5px 5px 0;
}

.item_wrap_grid .item_title .tag_place {
  font-size: 12px;
  line-height: 18px;
  margin: 3px 5px 0 0;
}

.item_wrap_grid .item_title .tag_title {
  max-width: 100%;
  /*調整 標題字數過長自動換行的bug*/
  height: 24px;
  overflow: hidden;
  font-weight: bold;
}

.item_wrap_grid .item_title .tag_subtitle {
  width: 100%;
  height: 48px;
  overflow: hidden;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.item_wrap_grid .item_price_less {
  position: relative;
  z-index: 3;
}

.item_wrap_grid .item_price_less .item_discount {
  padding: 3px 0 0 10px;
  line-height: 22px;
  float: left;
}

.item_wrap_grid::after, .item_wrap_grid::before {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  background-color: transparent;
  border-color: #BF0000;
  border-style: solid;
  position: absolute;
  opacity: 0;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  z-index: -1;
  -webkit-box-sizing: initial;
          box-sizing: initial;
}

.item_wrap_grid::after {
  top: -2px;
  left: -2px;
  border-width: 1px 0 0 1px;
}

.item_wrap_grid::before {
  bottom: -2px;
  right: -2px;
  border-width: 0 1px 1px 0;
}

.item_wrap_grid:hover {
  border-color: #cdcdcd;
  cursor: pointer;
}

.item_wrap_grid:hover::after, .item_wrap_grid:hover::before {
  width: 100.5%;
  height: 100.5%;
  opacity: 1;
}

/* 24H Flag */
.flag-24h {
  position: absolute;
  top: 0;
  left: 16px;
  width: 32px;
  height: 32px;
  opacity: 1;
  -o-object-fit: contain;
     object-fit: contain;
}

.item_3col .item_3col_price_less .item_discount {
  padding: 3px 0 0 10px;
  line-height: 22px;
  float: left;
}

/*折扣價*/
.item_wrap_grid .item_price_less .item_discount i.fa,
.item_3col .item_3col_price_less .item_discount i.fa {
  float: left;
  font-size: 12px;
  color: white;
  border: 1px solid #77C002;
  background: #77C002;
  line-height: 20px;
  padding: 0 2px;
}

.item_wrap_grid .item_price_less .item_discount .disc_text,
.item_3col .item_3col_price_less .item_discount .disc_text {
  float: left;
  font-size: 12px;
  color: #77C002;
  border: 1px solid #77C002;
  line-height: 20px;
  padding: 0 2px;
  margin: 0 4px 0 0;
  background: #fff;
}

.item_wrap_grid .item_price_less .item_discount .disc_price,
.item_3col .item_3col_price_less .item_discount .disc_price {
  font-weight: bold;
  font-size: 18px;
}

.item_wrap_grid .item_price_less .item_discount .color_red,
.item_3col .item_3col_price_less .item_discount .color_red {
  color: #bf0000;
}

.item_wrap_grid .item_price_less .item_discount .disc_black,
.item_3col .item_3col_price_less .item_discount .disc_black {
  font-size: 14px;
  color: #333;
}

/*收藏*/
.item_wrap_grid .item_price_less .item_collect,
.item_3col .item_3col_price_less .item_collect {
  float: right;
  font-size: 14px;
}

.item_wrap_grid .item_price_less .item_collect a,
.item_3col .item_3col_price_less .item_collect a {
  line-height: 30px;
  margin-right: 10px;
  color: #666;
}

.item_wrap_grid .item_price_less .item_collect a i,
.item_3col .item_3col_price_less .item_collect a i {
  margin-right: 2px;
  font-size: 14px;
}

.item_wrap_grid .item_price_less .item_collect a.on,
.item_3col .item_3col_price_less .item_collect a.on {
  color: #bf0000;
}

.item_wrap_grid .item_price_less .item_collect a:hover,
.item_3col .item_3col_price_less .item_collect a:hover {
  color: #bf0000;
}

/***** 2018新版折價券 end *****/
/*item_price_less*/
.item_wrap_grid .item_price_less {
  width: 100%;
  height: 28px;
  /*201508 解決價錢太長影響"分期0利率"跑版 by stan*/
  overflow: hidden;
  /*201508 解決價錢太長影響"分期0利率"跑版 by stan*/
  background: #e5e5e5;
}

.item_wrap_grid .item_price_less span.discount {
  float: left;
  font-size: 14px;
  color: #999;
  line-height: 28px;
  margin: 0 5px 0 0;
  padding-left: 10px;
}

.item_wrap_grid .item_price_less span.price {
  float: left;
  font-size: 18px;
  color: #BF0000;
  line-height: 28px;
  font-weight: bold;
  margin: 0 5px 0 0;
}

.item_wrap_grid .item_price_less span.oriprice {
  font-size: 14px;
  color: #999;
  line-height: 28px;
  margin: 0 5px 0 0;
}

.item_wrap_grid .item_price_less span.btn_buy {
  float: right;
  line-height: 28px;
  font-weight: bold;
  padding: 0 8px 0 8px;
}

/*檔次內頁*/
.dealtitle_box {
  line-height: 1.5;
}

#EntryContent {
  line-height: 1.5;
}

#Addressinner {
  line-height: 1.8;
}

/*****
*
*item for 3Column 201507 by stan
*
*****/
.item_search_result_wrap {
  margin: 10px 0 0 0;
}

/* 搜尋結果頁需篩選 201605 by stanley */
.item_search_result_wrap .search-result-get {
  line-height: 2.2;
}

.item_search_result_wrap .search-result-none {
  line-height: 1.4;
}

.item_search_result_wrap .result_title h3 {
  color: #bf0000;
  font-size: 140%;
  border-bottom: 2px solid #bf0000;
  margin: 20px 0 15px 0;
  padding-bottom: 8px;
}

.item_3col_wrap {
  width: 100%;
  margin: 10px 0 0 0;
}

/* 搜尋結果頁需篩選 201609 by stanley */
.item_3col_wrap .item_3col {
  width: 32%;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
  background: #fff;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.item_3col_wrap .item_3col:hover {
  border-color: #bf0000;
}

/*
.item_3col_wrap .item_3col:nth-child(3n){ float: right; margin-right:0;}
*/
.item_3col a {
  display: block;
  cursor: pointer;
}

.item_3col .item_3col_pic {
  width: 100%;
  position: absolute;
  top: 0;
}

.item_3col .hover_place_3col {
  background: rgba(0, 0, 0, 0.82);
  position: absolute;
  bottom: 180px;
  width: 100%;
  z-index: 50;
}

.item_3col .hover_place_3col .hover_place_text {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  display: block;
}

.item_3col .item_3col_pic img {
  width: 100%;
}

.item_3col .item_title {
  height: 133px;
}

.item_3col .item_title ul {
  height: 26px;
  overflow: hidden;
  margin-bottom: 10px;
}

.item_3col .item_title ul li {
  margin: 0 5px 5px 0;
}

.item_3col .item_title .tag_place {
  font-size: 12px;
  line-height: 18px;
  margin: 3px 5px 0 0;
}

.item_3col .item_title .tag_title {
  height: 24px;
  overflow: hidden;
  font-weight: bold;
}

.item_3col .item_title .tag_subtitle {
  height: 48px;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: #333;
}

.item_3col .item_3col_price_less {
  background: #e5e5e5;
  height: 28px;
  overflow: hidden;
  /*201508 解決價錢太長與"分期0利率"照成的跑版 by stan*/
}

.item_3col .item_3col_price_less span.discount {
  font-size: 14px;
  color: #999;
  line-height: 28px;
  margin: 0 5px 0 0;
  padding-left: 10px;
}

.item_3col .item_3col_price_less span.price {
  font-size: 18px;
  color: #bf0000;
  line-height: 28px;
  font-weight: bold;
  margin: 0 5px 0 0;
}

.item_3col .item_3col_price_less span.oriprice {
  font-size: 14px;
  color: #999;
  line-height: 28px;
  margin: 0 5px 0 0;
}

.item_3col .item_3col_price_less span.btn_buy {
  float: right;
  line-height: 28px;
  font-weight: bold;
  padding: 0 8px 0 8px;
}

/*調整首頁與搜尋結果的grid底端，以放入搶購鈕與收藏鈕 160817 by getter*/
.item_wrap_grid .item_price_less,
.item_3col .item_3col_price_less {
  padding-top: 2px;
  padding-bottom: 3px;
  border-top: 1px solid #cdcdcd;
  /*background:none;*/
}

.item_list_float_collect {
  position: absolute;
  z-index: 10;
  right: 12px;
  bottom: 12px;
}

.item_list_float_collect a i {
  padding-right: 4px;
}

.item_wrap_grid #divCollectDeal {
  display: none;
  /* 棋盤式時不顯示條列式專用的收藏 */
}

.item_grid_float_collect {
  position: absolute;
  z-index: 10;
  right: 86px;
  bottom: 6px;
}

.item_float_btn {
  position: absolute;
  z-index: 10;
  right: 3px;
  bottom: 3px;
}

/*****
*
*160718 策展版型 start 
*
*****/
.st_banner {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  position: relative;
}

.st_banner .fb {
  position: absolute;
  z-index: 30;
  right: 10px;
  top: 10px;
}

.st_banner .fb .LoveBlindFBShare {
  width: 280px;
}

.st_banner .fb .LoveBlindFBShare .LoveBlindShare {
  float: right;
  margin-left: 10px;
}

.st_banner .fb .LoveBlindFBShare .LoveBlindFB {
  float: right;
}

/*****
*
*170424 策展版型for行銷用 start 
*
*****/
/*.st_banner_wrap {
    background: pink;
    background: center -0px no-repeat url('https://www.17life.com/images/17P/active/exhibitionCh/1920x500.jpg');
    margin-top: -32px;
} 這部分寫在aspx頁面上 */
.st_banner_main {
  width: 960px;
  margin: 0 auto;
  position: relative;
  background: center -91px no-repeat;
}

.st_banner_main .fb {
  position: absolute;
  z-index: 30;
  right: 10px;
  top: 20px;
}

.st_banner_main .fb .LoveBlindFBShare {
  width: 280px;
}

.st_banner_main .fb .LoveBlindFBShare .LoveBlindShare {
  float: right;
}

.st_banner_main .fb .LoveBlindFBShare .LoveBlindFB {
  float: right;
}

.st_banner_main ul.st_banner_btn {
  width: 300px;
  height: 50px;
  position: absolute;
  bottom: 25px;
  left: 35px;
}

.st_banner_main ul.st_banner_btn li {
  position: relative;
  float: left;
  display: block;
  margin: 0 10px 0 0;
}

.st_banner_main ul.st_banner_btn li a {
  padding: 15px 10px;
  border-radius: 30px;
  -webkit-filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.4));
}

.st_banner_main ul.st_banner_btn li a i {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  margin-right: 5px;
}

/*btn 領取折價券*/
.st_banner_main ul.st_banner_btn li.st_btn_coupon a {
  background: #7ac904;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#7ac904), to(#56b503));
  background: linear-gradient(to bottom, #7ac904 0%, #56b503 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
  color: #fff;
}

.st_banner_main ul.st_banner_btn li.st_btn_coupon a:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5ebf03+0,4eaa03+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#5ebf03), to(#4eaa03));
  background: linear-gradient(to bottom, #5ebf03 0%, #4eaa03 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
  cursor: pointer;
}

.st_banner_main ul.st_banner_btn li.st_btn_coupon a i {
  background: #3b6200;
}

/*btn 活動說明*/
.st_banner_main ul.st_banner_btn li.st_btn_notice a {
  background: rgba(255, 255, 255, 0.6);
  color: #0070c9;
}

.st_banner_main ul.st_banner_btn li.st_btn_notice a:hover {
  background: rgba(255, 255, 255, 0.85);
  cursor: pointer;
}

.st_banner_main ul.st_banner_btn li.st_btn_notice a i {
  background: #2293ed;
}

.nd_banner {
  float: left;
  width: 50%;
  height: auto;
  margin-bottom: 20px;
  margin-right: 10px;
}

.rd_banner {
  float: left;
  width: 470px;
  /*留給不識calc的瀏覽器備用*/
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .nd_banner,
  .rd_banner {
    width: 100%;
  }
}

/*------ guild start ------*/
.guild {
  width: 960px;
  margin: 0 auto;
  height: 80px;
}

.guild div {
  float: left;
  margin-right: 8px;
  color: #999;
}

.guild div.current {
  color: #666;
}

.guild div a {
  color: #999;
  text-decoration: underline;
}

.guild div a:hover {
  color: #08c;
}

/*--- dropdown start ---*/
.add_group {
  float: left;
  position: relative;
}

#show_my_group {
  color: #999;
  text-decoration: none;
}

.my_group {
  display: none;
  position: absolute;
  top: 22px;
  left: -13px;
  border: 1px solid #ccc;
  z-index: 50;
}

.my_group li {
  float: left;
  border-bottom: 1px solid #ccc;
}

.my_group li:last-child {
  border-bottom: none;
}

.my_group li a {
  display: block;
  width: 90px;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  line-height: 1.3;
}

.my_group li a:hover {
  color: #FFF;
  background-color: rgba(230, 38, 58, 0.9);
}

/*--- dropdown end ---*/
/*------ guild end ------*/
/*------ bxslider start ------*/
.bx-wrapper {
  position: relative;
}

.bxslider {
  float: left;
}

.bxslider li {
  float: left;
  width: 100%;
  list-style: none;
}

.bxslider li a img {
  width: 100%;
}

.bxslider li a img.inP {
  display: block;
}

.bxslider li a img.inM {
  display: none;
}

/*--- 左右箭頭 start ---*/
.bx-controls-direction a {
  width: 45px;
  height: 60px;
  text-indent: 999px;
  overflow: hidden;
  background: url(../images/arrow.png) 0 0 no-repeat;
  opacity: 1;
  position: absolute;
}

.bx-controls-direction a:hover {
  opacity: 0.85;
}

.bx-controls-direction .bx-prev {
  top: 39%;
  left: 0;
  z-index: 999;
  background-position: 0 0;
}

.bx-controls-direction .bx-next {
  top: 39%;
  right: 0;
  z-index: 999;
  background-position: 0 -60px;
}

/*--- 數量 start ---*/
.bx-default-pager {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: 999;
  text-align: center;
}

.bx-default-pager .bx-pager-item {
  display: inline-block;
  padding: 0 4px;
}

.bx-default-pager .bx-pager-item a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  text-indent: 999px;
  overflow: hidden;
  background-color: #fff;
  opacity: 1;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.bx-default-pager .bx-pager-item a.active {
  background-color: #E6263A;
  opacity: 1;
}

/*------ bxslider end ------*/
/*------ zitem start ------*/
.zitem {
  width: 230px;
  width: calc(50% - 5px);
  /*留給不識calc的瀏覽器備用*/
  height: auto;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.zitem a img {
  width: 100%;
}

.zitem .caption {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.zitem .caption a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.zitem .caption a:hover {
  color: #eee;
}

.img-zoom {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

.transition {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*------ zitem end ------*/
/*------ tabs ui start ------*/
.item_search_result_wrap .typeB .btn_type {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.item_search_result_wrap .typeB .btn_type li {
  float: left;
}

.item_search_result_wrap .typeB .btn_type li a {
  padding: 8px 14px;
  border: 1px solid #ccc;
  font-size: 18px;
  color: #666;
  background: #fff;
  /*增加沒被選擇頁籤底色 避免被主視覺背景色吃掉*/
}

.item_search_result_wrap .typeB .btn_type .ui-tabs-active a {
  border: 1px solid #E6263A;
  background-color: #E6263A;
  color: #FFF;
}

/*------ tabs ui end ------*/
.coupon_wrap {
  background: #fff;
  width: 100%;
  height: 134px;
  /**/
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.coupon_wrap .copuon_bn {
  position: absolute;
}

.coupon_wrap a.bx-prev {
  position: absolute;
  top: 30px;
  left: 30%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  border-radius: 40px;
}

.coupon_wrap a.bx-next {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 40px;
}

.coupon_wrap a i {
  line-height: 40px;
  color: #fff;
}

.coupon_wrap > a:hover {
  background: rgba(0, 0, 0, 0.6);
}

.coupon_wrap .coupon_slider {
  position: relative;
  width: 100%;
  height: 94px;
  overflow: hidden;
  top: 10px;
  left: 30%;
}

.coupon_wrap ul {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 20px;
}

.coupon_wrap ul li a {
  display: block;
  float: left;
  width: 144px;
  height: 84px;
  margin: 0 10px 0 0;
}

.coupon_wrap ul li a .coupon_soldout {
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  line-height: 64px;
  color: #fff;
  width: 144px;
  height: 64px;
  z-index: 30;
}

.coupon_wrap ul li a .coupon_soldout:hover {
  cursor: default;
}

.coupon_wrap ul li a .coupon_bg {
  position: relative;
}

.coupon_wrap ul li a .coupon_bg .coupon_p {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 10px;
  width: 80px;
  height: 90px;
  overflow: hidden;
  text-align: center;
}

.coupon_wrap ul li a .coupon_bg .coupon_p .coupon_h1 {
  font-size: 22px;
  line-height: 1.5;
  color: #333;
}

.coupon_wrap ul li a .coupon_bg .coupon_p .coupon_h2 {
  font-size: 13px;
  line-height: 14px;
  color: #999;
  height: 14px;
  overflow: hidden;
}

.coupon_wrap ul li a .coupon_h3 {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 5px;
}

.coupon_notice {
  margin: 0 0 20px 0;
}

.coupon_notice .title {
  padding: 0 0 10px 0;
}

/*--------- 160718 策展版型 end ---------*/
/*****
*
*161011 策展列表 start 
*
*****/
.main_bn_wrap {
  width: 100%;
  height: auto;
}

.main_bn_wrap .main_bn {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.main_bn_wrap .main_bn a.notice img {
  vertical-align: middle;
}

.main_bn_wrap .main_bn .fb {
  position: absolute;
  z-index: 30;
  right: 10px;
  top: 0px;
}

.main_bn_wrap .main_bn .fb .LoveBlindFBShare {
  width: 280px;
}

.main_bn_wrap .main_bn .fb .LoveBlindFBShare .LoveBlindShare {
  float: right;
}

.center_middle {
  width: 960px;
  margin: 0 auto;
  line-height: 24px;
  padding: 0px 0 10px 0;
}

.bn_day_wrap {
  padding: 0px 0 30px 0;
}

.bn_day_wrap ul {
  width: 960px;
  margin: 0 auto;
}

.bn_day_wrap ul li.zitem {
  width: 310px;
  height: auto;
  margin: 0px 10px 10px 0;
  float: left;
}

.bn_day_wrap ul li.zitem .item_block {
  position: absolute;
  z-index: 30;
}

.bn_day_wrap .center_middle .horizontal_line {
  display: inline-block;
  text-align: center;
}

.bn_day_wrap .center_middle .horizontal_line {
  padding: 10px;
}

.bn_day_wrap .center_middle .horizontal_line span.font_big {
  font-size: 22px;
  line-height: 30px;
}

.bn_day_wrap .center_middle .horizontal_line span.font_small {
  font-size: 12px;
}

.bn_day_wrap_today .center_middle .horizontal_line {
  width: 100%;
  height: 20px;
  text-align: left;
}

/*錨點*/
.nav-anchor {
  position: fixed;
  margin-left: 970px;
  z-index: 99;
  top: 200px;
}

.nav-anchor li a {
  display: block;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  line-height: 28px;
  margin-bottom: 1px;
  color: #666;
  font-size: 12px;
  text-align: center;
  padding: 0 10px;
}

.nav-anchor li.current a {
  background: #3F3F3F;
}

.nav-anchor li a:hover {
  background: #aaa;
}

.exhibition_list_wrap .center_middle {
  padding: 30px 0 0px 0;
}

.exhibition_list_wrap .bn_day_wrap .center_middle .horizontal_line {
  padding: 0px 0 0px 0;
}

.exhibition_list_wrap .bn_day_wrap ul li {
  border-radius: 5px;
}

.exhibition_list_wrap .bn_day_wrap ul li.zitem {
  width: 300px;
  height: auto;
  margin: 0px 15px 15px 0;
  border-radius: 5px;
}

.exhibition_list_wrap .bn_day_wrap .center_middle .horizontal_line {
  display: block;
  text-align: center;
}

/*--------- 161011 策展列表 end ---------*/
/*****
*
*161210 策展頻道(常駐) start 
*
*****/
.bn_day_wrap .center_middle .horizontal_line {
  text-align: center;
  display: block;
  background: url(https://www.17life.com/images/17P/active/exhibitionCh/exhibitionCh_titleBg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.exhibitionCn_list_wrap .bn_day_wrap ul li.zitem {
  width: 300px;
  margin: 0px 20px 20px 0;
}

.exhibitionCn_list_wrap .bn_day_wrap ul li.zitem {
  -webkit-box-shadow: 0px 0px 5px #bbb;
          box-shadow: 0px 0px 5px #bbb;
}

/*--------- 161210 策展頻道(常駐) end ---------*/
/* 20161011 讓全站台中、以後台編輯器(ckeditor)產生的sup & sub效果能夠生效，且不影響行距 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*****
*
*20170815 結檔SEO優化 by Stan
*
*****/
.text_grey {
  color: #aaa;
  padding: 5px 0 0 0;
  text-align: left;
  display: block;
}

.search-result-none .soldout_wrap {
  height: 260px;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.search-result-none .soldout_wrap ul {
  margin: 10px auto 20px;
  width: 2000px;
}

.search-result-none .soldout_wrap ul li {
  float: left;
}

.search-result-none .soldout_wrap ul li a {
  display: block;
  width: 154px;
  margin-right: 4px;
}

.search-result-none .soldout_wrap ul li img {
  height: 100%;
  max-height: 150px;
  max-width: 480px;
}

.search-result-none .soldout_wrap ul li a {
  padding: 3px;
  text-align: left;
  color: #666;
  font-size: 11px;
  max-width: 150px;
  overflow: hidden;
}

.search-result-none .soldout_wrap ul li a:hover {
  background: #eee;
}

.search-result-none .soldout_wrap ul li a .soldout_title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
  color: #666;
  margin: 5px 0 5px 0;
  height: 20px;
  overflow: hidden;
}

.search-result-none .soldout_wrap ul li a .soldout_price {
  height: 24px;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #999;
}

.search-result-none .soldout_wrap ul li a span.price_discount {
  line-height: 24px;
  vertical-align: sub;
  color: #999;
  float: left;
  margin-right: 4px;
}

.search-result-none .soldout_wrap ul li a span.price_oriprice {
  text-decoration: line-through;
  line-height: 24px;
  vertical-align: sub;
  color: #999;
  float: left;
  margin-right: 4px;
}

.search-result-none .soldout_wrap ul li a span.price_dealprice {
  line-height: 24px;
  font-size: 14px;
  color: #333;
  float: left;
}

.search-result-none .soldout_wrap ul li a span.price_dealprice .text_s {
  color: #999;
  font-size: 11px;
  padding-left: 2px;
}

/*使用折價*/
.search-result-none .soldout_wrap .soldout_discount {
  margin-bottom: 25px;
  height: 30px;
  overflow: hidden;
  clear: both;
}

.search-result-none .soldout_wrap .soldout_discount .text_discount {
  font-size: 12px;
  color: #77C002;
  border: 1px solid #77C002;
  padding: 0 2px;
  line-height: 16px;
  display: inline-block;
}

.search-result-none .soldout_wrap .soldout_discount .text_big {
  font-size: 14px;
  color: #bf0000;
}

.search-result-none .soldout_wrap .soldout_discount .text_big .text_normal {
  font-size: 12px;
  color: #999;
  padding-left: 2px;
}

/*--------- 20170815 結檔SEO優化 end ---------*/
/*****
*
*20170817 熱門搜尋頁 by Stan
*
*****/
.hot_tag_wrap {
  margin: 0 auto;
}

.hot_tag_wrap h3 {
  padding: 10px 0 5px 0;
  color: #666;
  font-weight: lighter;
}

.hot_tag_wrap ul {
  margin-bottom: 40px;
}

.hot_tag_wrap ul li a {
  display: block;
  width: 150px;
  float: left;
  margin: 10px 10px 10px 0;
  position: relative;
  -webkit-box-shadow: 0px 0px 3px #999;
          box-shadow: 0px 0px 3px #999;
}

.hot_tag_wrap ul li a .tag_name {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 30px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hot_tag_wrap ul li a:hover .tag_name {
  line-height: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hot_tag_wrap .go_home {
  margin: 0 auto 40px auto;
  text-align: center;
}

.hot_tag_wrap .go_home a {
  color: #fff;
  background: #bf0000;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 3px #666;
          box-shadow: 0 1px 3px #666;
}

.hot_tag_wrap .go_home a:hover {
  background: #990000;
}

/*--------- 0170817 熱門搜尋頁 end ---------*/
/*****
*
*201803 商品增加折扣後價格 by Stan
*
*****/
.deal_item_wrap {
  background: #fff;
  width: 696px;
  border: 1px solid #CCC;
}

/*deal_header*/
.deal_item_wrap .deal_header {
  background: #E7E7E0;
  height: 30px;
}

.deal_item_wrap .info_bar {
  margin-top: 0;
}

.deal_item_wrap .info_bar .share_text {
  font-size: 12px;
  line-height: 30px;
  padding-left: 10px;
}

.deal_item_wrap .info_bar .share_btn_box .fb_btn {
  width: 20px;
  height: 20px;
  margin: 6px 1px 0 1px;
  display: inline-block;
  background: url(../images/newdealdetail.png) -290px -30px no-repeat;
}

.deal_item_wrap .info_bar .share_btn_box .line_btn {
  width: 20px;
  height: 20px;
  margin: 6px 1px 0 1px;
  display: inline-block;
  background: url(../images/newdealdetail.png) -314px -30px no-repeat;
}

.deal_item_wrap .info_bar .copy_btn {
  font-size: 12px;
  line-height: 19px;
  display: inline-block;
  border: 1px solid #aaa;
  float: left;
  border-radius: 5px;
  margin: 5px 0 0 0;
  padding: 0 4px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
  background: #eeeeee;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
}

.deal_item_wrap .info_bar .copy_btn:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,f5f7f9+100 */
  background: #f6f8f9;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f8f9), to(#f5f7f9));
  background: linear-gradient(to bottom, #f6f8f9 0%, #f5f7f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
}

/*deal_main*/
.deal_item_wrap .deal_main {
  float: left;
  width: 460px;
  padding: 10px;
}

.deal_item_wrap .deal_main .main_content .main_title {
  margin: 0px 0 5px 0;
}

.deal_item_wrap .deal_main .main_content .main_title .tag_place {
  float: left;
  background: #999;
  color: #fff;
  border-radius: 20px;
  line-height: 20px;
  padding: 0 5px;
  margin: 4px 4px 0 0;
  font-size: 12px;
}

.deal_item_wrap .deal_main .main_content .main_title h1 {
  font-size: 20px;
  color: #f80;
  line-height: 1.3;
}

.deal_item_wrap .deal_main .main_content .main_subtitle {
  font-size: 16px;
  line-height: 1.4;
  color: #666;
}

.deal_item_wrap .deal_main .main_content ul.tag_list {
  width: 100%;
  margin-bottom: 5px;
}

/*主圖*/
.deal_item_wrap .deal_main .deal_img {
  position: relative;
}

.deal_item_wrap .deal_main .deal_img .deal_main_img img {
  width: 480px;
  max-height: 267px;
  overflow: hidden;
}

/*deal_info*/
.deal_item_wrap .deal_info {
  float: right;
  width: 184px;
  height: 370px;
  background: #fff;
  /**/
  background: #FAFAF7;
  /**/
  margin: 10px 10px 0 0;
  padding: 10px;
}

.deal_item_wrap .deal_info i.fa {
  line-height: 24px;
  color: #666;
}

.deal_item_wrap .deal_info .timer_num {
  font-size: 18px;
  line-height: 24px;
  color: #333;
}

.deal_item_wrap .deal_info .timer_text {
  font-size: 12px;
  line-height: 24px;
  color: #999;
}

.deal_item_wrap .deal_info .color_red {
  color: #bf0000;
}

/*時間*/
.deal_item_wrap .deal_info .info_timer {
  /*background: #ccc;*/
}

/*購買人數*/
.deal_item_wrap .deal_info .info_buyer {
  /*background: #ccc;*/
}

/*星星*/
.deal_item_wrap .deal_info .info_star i.fa {
  color: #f80;
}

/*收藏*/
.deal_item_wrap .deal_info .info_heart_dash {
  border-bottom: 1px dashed #ccc;
  display: block;
  padding-bottom: 5px;
}

.deal_item_wrap .deal_info .info_heart a {
  border: 1px solid #999;
  border-radius: 4px;
  display: inline-block;
  padding: 0px 5px;
  margin: 5px 0 5px 0;
}

.deal_item_wrap .deal_info .info_heart a:hover {
  border: 1px solid #ff0036;
  background: #ffeded;
}

.deal_item_wrap .deal_info .info_heart a.on {
  border: 1px solid #999;
  background: none;
}

.deal_item_wrap .deal_info .info_heart a.on:hover {
  border: 1px solid #999;
  background: none;
  cursor: default;
}

.deal_item_wrap .deal_info .info_heart a i.fa {
  color: #ff0036;
}

.deal_item_wrap .deal_info .info_heart a.on i.fa {
  color: #ff0036;
}

/*售價*/
.deal_item_wrap .deal_info .info_price {
  text-align: center;
  margin: 10px 0 10px 0;
}

.deal_item_wrap .deal_info .info_price .info_text {
  font-size: 16px;
}

.deal_item_wrap .deal_info .info_price .info_num {
  font-size: 32px;
}

/*原價*/
.deal_item_wrap .deal_info .info_save {
  font-size: 12px;
  color: #999;
  text-align: center;
  margin: 10px 0 10px 0;
}

/*折扣*/
.deal_item_wrap .deal_info .info_discount {
  border: 1px solid #77C002;
  text-align: center;
  padding: 0 0 10px 0;
  margin: 20px 0 10px 0;
}

.deal_item_wrap .deal_info .info_discount .discount_title {
  background: #77C002;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  width: 178px;
  margin: 2px 2px 5px 2px;
}

.deal_item_wrap .deal_info .info_discount .discount_title i.fa {
  color: #fff;
}

.deal_item_wrap .deal_info .info_discount .discount_title .discount_text {
  font-size: 14px;
}

.deal_item_wrap .deal_info .info_discount .info_text {
  font-size: 16px;
}

.deal_item_wrap .deal_info .info_discount .info_num {
  font-size: 32px;
}

/*立即買*/
.deal_item_wrap .deal_info .info_buy a {
  width: 184px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  line-height: 50px;
  border-radius: 4px;
  margin: 10px 0 10px 0;
}

.deal_item_wrap .deal_info .info_buy a.buy_btn {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fd3131+0,d81e0b+100 */
  background: #fd3131;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#fd3131), to(#d81e0b));
  background: linear-gradient(to bottom, #fd3131 0%, #d81e0b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
}

.deal_item_wrap .deal_info .info_buy a.buy_btn:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d82b2b+0,aa0a0a+100 */
  background: #d82b2b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#d82b2b), to(#aa0a0a));
  background: linear-gradient(to bottom, #d82b2b 0%, #aa0a0a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
}

.deal_item_wrap .deal_info .info_buy a.sold_out_btn {
  background: #ccc;
}

.deal_item_wrap .deal_info .info_buy a.sold_out_btn:hover {
  background: #ccc;
  cursor: not-allowed !important;
}
/*# sourceMappingURL=ppon_item.css.map */