﻿@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****
*
*變數(顏色/字體大小)
*
****/
/*灰階*/
/*彩色*/
/*字體大小*/
/*其他*/
.red {
  color: #bf0000;
}

.green {
  color: #0ea146;
}

/****
*
*tag
*
****/
/*主按鈕:紅底白字*/
a.btn_color {
  display: block;
  background: #bf0000;
  color: white;
  border-radius: 8px;
  margin: 0 1% 0 0;
  text-align: center;
}

/*線按鈕:紅線框紅字*/
a.btn_line {
  display: block;
  background: white;
  color: #bf0000;
  border-radius: 8px;
  margin: 0 1% 0 0;
  text-align: center;
  -webkit-box-shadow: 0 0 0 1px #bf0000 inset;
          box-shadow: 0 0 0 1px #bf0000 inset;
}

/*不能按按鈕:灰底白字*/
a.btn_dontclick {
  background: #999;
  color: white;
}

/*按鈕高度:一般高*/
a.btn_normal {
  height: 50px;
  /**高度致中*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*HTML直接上色*/
.color_red {
  color: #bf0000;
}

.color_orange {
  color: #f60;
}

.color_black {
  color: #31312C;
}

.color_white {
  color: white;
}

.color_green {
  color: #0ea146;
}

.color_blue {
  color: #007aff;
}

/*屏蔽点击元素出现底色*/
a {
  text-decoration: none;
}

a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  background: #f0efed;
  font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
  background: #f0efed;
  width: 100%;
  position: relative;
}

/***
*
*header_wrapper 跟屁蟲/正常選單共用
*
***/
.header_wrap {
  background: #fff;
  width: 100%;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
}

.header_wrap .header {
  border-bottom: 1px solid #ddd;
  height: 48px;
  line-height: 48px;
  padding: 0 10px 0 10px;
  font-size: 100%;
}

.header_wrap .header .header_logo {
  margin: 0 auto;
  width: 90px;
  height: 48px;
}

.header_wrap .header .header_logo img {
  width: 100%;
}

.header_wrap .header .header_left a {
  float: left;
  display: block;
  width: 44px;
  height: 48px;
  text-align: center;
}

.header_wrap .header .header_left span {
  line-height: 1;
  color: #999;
  font-size: 80%;
}

.header_wrap .header .header_left i {
  width: 38px;
  margin: 12px 0 0 0;
  margin-bottom: 7px;
}

.header_wrap .header .slider_btn {
  float: right;
}

.header_wrap .header:after {
  content: '';
  display: block;
  clear: both;
}

.header_wrap .nav {
  display: block;
  clear: both;
  font-size: 100%;
}

.header_wrap .nav li {
  float: left;
  width: 25%;
  height: 85px;
  text-align: center;
}

.header_wrap .nav li a {
  height: 85px;
  display: block;
  background: #fff;
  color: #666;
  position: relative;
}

.header_wrap .nav li img {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0px auto;
  padding-top: 10px;
}

.header_wrap .nav li span {
  text-align: center;
  line-height: 1.3;
  font-size: 80%;
}

.header_wrap .nav li span.tag_channel {
  line-height: 12px;
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: 12px;
  color: white;
  background: #bf0000;
  /*border-radius: 20px;*/
  padding: 0;
  padding: 2px 4px 2px 4px;
  /*border:1px solid #fff;*/
  -webkit-box-shadow: 0px 1px 1px #650000;
          box-shadow: 0px 1px 1px #650000;
  /**/
}

.header_wrap .nav li .on {
  background: #ddd;
  padding: 0px 5px;
  border-radius: 20px;
  color: #666;
  color: #666;
}

.header_wrap .nav:after {
  content: '';
  display: block;
  clear: both;
}

/* 頂端列，小紅點 */
.cart_small_reddot {
  height: 20px;
  width: 20px;
  background: #bf0000;
  position: absolute;
  /* top: 5px; */
  margin-top: -40px;
  right: 5px;
  border-radius: 20px;
  color: white;
  font-size: 60%;
  line-height: 20px;
}

.cart_add_success {
  width: 32vmin;
  height: 32vmin;
  position: fixed;
  z-index: 150;
  left: 50vw;
  top: 50vh;
  margin: -16vmin 0 0 -16vmin;
  display: none;
}

/* Menu展開鍵被按時，顏色變深做feedback */
.header_wrap .header .header_left .slider_btn:hover span {
  color: #333;
}

.header_wrap .header .header_left a.header_left_shoppingCart, .header_wrap .header .header_left a.header_left_shoppingCart + a.header_left_search {
  float: right;
}

/***
*
*header_wrapper_slider 跟屁蟲選單
*
***/
.header_wrap_slider {
  position: fixed;
  z-index: 50;
  top: 0px;
  opacity: 0.95;
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  filter: alpha(opacity=95);
  -webkit-box-shadow: 0px 0px 9px 0 #999;
          box-shadow: 0px 0px 9px 0 #999;
  border-bottom: 1px solid #999;
}

/***
*
*market_wrap
*
***/
.market_wrap {
  margin: 0 0 10px 0;
  height: 30px;
  overflow: hidden;
  position: relative;
}

.market_wrap .fa-bullhorn {
  float: left;
  margin: 8px 5px 0 10px;
  padding-right: 5px;
  font-size: 80%;
  border-right: 1px solid #ddd;
  line-height: 30px;
}

.market_wrap ul {
  margin-left: 10px;
  height: 30px;
  width: 80%;
  position: absolute;
}

.market_wrap ul li {
  float: left;
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.market_wrap ul li a {
  display: block;
  line-height: 30px;
  overflow: hidden;
  font-size: 100%;
  color: #F11B75;
  font-weight: bold;
  text-align: center;
  /*padding:0px 5px 0px 3px;*/
  letter-spacing: -1px;
  width: 48%;
  height: 30px;
  float: left;
}

.market_wrap .btn_more {
  float: right;
  width: 16%;
}

.market_wrap .btn_more a {
  display: block;
  line-height: 30px;
  font-size: 80%;
  text-align: center;
  background: #F11B75;
  color: white;
  margin: 0px 10px 0 0;
  border-radius: 5px;
}

.market_wrap:after {
  content: '';
  display: block;
  clear: both;
}

/***
*
*banner 
*
***/
.banner {
  clear: both;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner img {
  width: 100%;
  width: 310px;
  margin: 0 auto;
}

.banner:after {
  content: '';
  display: block;
  clear: both;
}

.swiper-container {
  width: 310px;
  height: 120px;
}

/***
*
*footer
*
***/
.footer_wrap {
  background: #31312C;
  width: 100%;
  margin: 10px 0 0px 0;
  text-align: center;
  padding: 10px 0 10px 0;
  color: #ddd;
  font-size: 80%;
  line-height: 1.5;
}

.footer_wrap .footer_logo {
  display: block;
  margin: 10px auto 10px auto;
  width: 90px;
}

.footer_wrap .footer_logo img {
  width: 100%;
}

.footer_wrap ul a {
  display: block;
  color: #ddd;
  margin: 20px auto 20px auto;
}

/* 以下放置做購物車時產出的可複用元件 */
.hint {
  color: #bf0000;
}

.btn.hint {
  color: #bf0000;
}

.text-center {
  text-align: center;
}

.clearfix {
  overflow: auto;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.note {
  padding: 10px;
  font-size: 80%;
  color: #666;
  line-height: 1.5em;
}

/*可自裁過長部分之圖片結構*/
.img_crop_wrapper {
  width: 75px;
}

.img_crop {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.img_crop img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: none;
}

/* 部分頁面置底按鈕用的空間 */
.padding_for_fixed_btn {
  height: 60px;
  width: 100%;
}

.line_solid {
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 1px;
}

.half_btn {
  width: 50%;
  float: left;
}

.half_btn a {
  margin-right: 4px;
  font-size: 14px;
}

.half_btn + .half_btn a {
  margin-right: 0;
  margin-left: 4px;
}

.btn-flat {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-flat.btn-default {
  border: 1px solid #bf0000;
  background: white;
  color: #bf0000;
}

.btn-flat.btn-primary {
  background: #bf0000;
  color: white;
  border: 1px solid #bf0000;
}

/* 取消ios/android預設的checkbox樣式，改用新的設計-灰框白底紅勾 */
input[type='checkbox'] {
  height: 20px;
  padding: 7px 7px 7px 12px;
  background: white;
  border: 1px solid #ddd;
  outline: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px;
}

input[type=checkbox]:checked:after {
  margin-top: -5px;
  margin-left: -6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7px;
  height: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #bf0000;
  border-top: 0;
  border-left: 0;
  position: absolute;
  content: '';
}

input, label {
  vertical-align: middle;
}

input + label {
  margin-left: 5px;
}

/*大顆radio button樣式(須follow相對應html結構)*/
input[type="radio"].round_check {
  display: none;
}

input[type="radio"].round_check + .radio-icon {
  height: 30px;
  width: 30px;
  display: block;
  background: white;
  border: 1px solid #999;
  content: '';
  border-radius: 50%;
  margin-right: 10px;
}

input[type="radio"]:checked.round_check + .radio-icon {
  background: #0ea146;
  border-color: #0ea146;
}

input[type="radio"]:checked.round_check + .radio-icon:after {
  margin-top: 2px;
  margin-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-top: 0;
  border-left: 0;
  position: absolute;
  content: '';
}

/***
*
*maincontent 主要內容(檔次列表)
*
***/
.maincontent {
  clear: both;
  margin: 0px 0 0px 0;
}

.maincontent p.maincontent_note {
  margin: 10px 10px 10px 10px;
}

.maincontent .dealcard a {
  display: block;
  background: #fff;
  /*background: red;*/
  padding: 10px 10px;
  font: 16px "Arial", "微軟正黑體", sans-serif;
  letter-spacing: normal;
  color: #999;
  line-height: 18px;
  border-bottom: 1px solid #ccc;
}

.maincontent .dealcard a .dealcard_left {
  width: 130px;
  height: 130px;
  margin-right: 10px;
  position: relative;
  float: left;
}

.maincontent .dealcard a .dealcard_left .tag_7_wrap {
  position: absolute;
  top: 5px;
  left: -20px;
  line-height: 18px;
  font-size: 12px;
  color: #fff;
}

.maincontent .dealcard a .dealcard_left .tag_7_wrap .tag_7_behind {
  margin-top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  width: 90px;
  position: relative;
  z-index: 2;
}

.maincontent .dealcard a .dealcard_left .tag_7_wrap .tag_7_behind .tag_7 {
  text-align: center;
  padding: 3px 0;
  position: relative;
  min-height: 14px;
  line-height: 14px;
}

.maincontent .dealcard a .dealcard_left .tag_7_wrap .tag_7_behind :before {
  -webkit-transform: translateX(-15%) skewX(-45deg);
  -moz-transform: translateX(-15%) skewX(-45deg);
  -ms-transform: translateX(-15%) skewX(-45deg);
  -o-transform: translateX(-15%) skewX(-45deg);
  background: #f23082;
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  width: 55%;
  z-index: -1;
  top: 0px;
  left: 14px;
}

.maincontent .dealcard a .dealcard_left .tag_7_wrap .tag_7_behind :after {
  -webkit-transform: translateX(15%) skewX(45deg);
  -moz-transform: translateX(15%) skewX(45deg);
  -ms-transform: translateX(15%) skewX(45deg);
  -o-transform: translateX(15%) skewX(45deg);
  background: #f23082;
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  width: 55%;
  z-index: -1;
  top: 0px;
  right: 15px;
}

.maincontent .dealcard a .dealcard_left .tag_7_wrap ::before {
  -webkit-transform: skewY(-45deg) translate(50%, 15px);
  -webkit-transform-origin: 100% center;
  -moz-transform: skewY(-45deg) translate(50%, 15px);
  -moz-transform-origin: 100% center;
  -ms-transform: skewY(-45deg) translate(50%, 15px);
  -ms-transform-origin: 100% center;
  -o-transform: skewY(-45deg) translate(50%, 15px);
  -o-transform-origin: 100% center;
  background: #470521;
  top: -4px;
  left: -14px;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  width: 20px;
  z-index: -2;
}

.maincontent .dealcard a .dealcard_left .tag_7_wrap ::after {
  -webkit-transform: skewY(45deg) translate(0%, -100%);
  -webkit-transform-origin: 0;
  -moz-transform: skewY(45deg) translate(0%, -100%);
  -moz-transform-origin: 0;
  -ms-transform: skewY(45deg) translate(0%, -100%);
  -ms-transform-origin: 0;
  -o-transform: skewY(45deg) translate(0%, -100%);
  -o-transform-origin: 0;
  background: #2a0012;
  top: 5px;
  right: -4px;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  width: 20px;
  z-index: -2;
}

.maincontent .dealcard a .dealcard_left .left_img {
  width: 130px;
  height: 130px;
  overflow: hidden;
  position: relative;
  background: url(https://www.17life.com/Images/17P/17topbn/17_loading_130x130.jpg);
}

.maincontent .dealcard a .dealcard_left .left_img img {
  position: absolute;
  z-index: 0;
  height: 100%;
}

.maincontent .dealcard a .dealcard_left .left_img img.soldout_img {
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.maincontent .dealcard a .dealcard_left .left_img .deal_pic {
  margin-left: -40%;
}

.maincontent .dealcard a .dealcard_left .left_img .deal_apppic {
  margin-left: 0px;
}

.maincontent .dealcard a .dealcard_left .left_img .activeLogo_img {
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: 5;
  margin-left: -40%;
}

.maincontent .dealcard a .dealcard_right {
  background: #fff;
}

.maincontent .dealcard a .dealcard_right .dealcard_title {
  margin-bottom: 5px;
  height: 46px;
  overflow: hidden;
}

.maincontent .dealcard a .dealcard_right .dealcard_title .title_location {
  display: inline-block;
  font-size: 14px;
  margin-top: 0px;
  padding: 2px 4px;
  border-radius: 15px;
  background: #999;
  color: #fff;
}

.maincontent .dealcard a .dealcard_right .dealcard_title .title_brand {
  font-size: 16px;
  line-height: 24px;
  padding-top: 2px;
  font-weight: bold;
  color: #333;
}

.maincontent .dealcard a .dealcard_right .dealcard_title .title_name {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #666;
}

.maincontent .dealcard a .dealcard_right .dealcard_price {
  margin-bottom: 5px;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  color: #999;
  font-size: 12px;
}

.maincontent .dealcard a .dealcard_right .dealcard_price .price_dealprice {
  font-size: 18px;
  margin: 0 5px 0 0;
}

.maincontent .dealcard a .dealcard_right .dealcard_price .price_dealprice .smalltext {
  font-size: 12px;
  margin: 0;
  padding: 0;
  letter-spacing: -5px;
  color: #999;
}

.maincontent .dealcard a .dealcard_right .dealcard_price .price_oriprice {
  text-decoration: line-through;
}

.maincontent .dealcard a .dealcard_right .dealcard_discount {
  margin-bottom: 5px;
}

.maincontent .dealcard a .dealcard_right .dealcard_discount i.fa {
  float: left;
  font-size: 12px;
  color: white;
  border: 1px solid #77C002;
  background: #77C002;
  line-height: 20px;
  padding: 0 2px;
}

.maincontent .dealcard a .dealcard_right .dealcard_discount .disc_text {
  float: left;
  font-size: 12px;
  color: #77C002;
  border: 1px solid #77C002;
  line-height: 20px;
  padding: 0 2px;
  margin: 0 4px 0 0;
}

.maincontent .dealcard a .dealcard_right .dealcard_discount .disc_price {
  font-size: 20px;
  line-height: 20px;
}

.maincontent .dealcard a .dealcard_right .dealcard_discount .disc_gray {
  font-size: 12px;
  color: #999;
}

.maincontent .dealcard a .dealcard_right .dealcard_info {
  font-size: 12px;
  height: 24px;
  overflow: hidden;
}

.maincontent .dealcard a .dealcard_right .dealcard_info .info_buyer {
  line-height: 24px;
  float: left;
  margin-right: 3px;
}

.maincontent .dealcard a .dealcard_right .dealcard_info ul.info_tag {
  float: right;
}

.maincontent .dealcard a .dealcard_right .dealcard_info ul li {
  float: right;
  padding: 1px 4px;
  margin: 0 5px 0 0px;
  line-height: 14px;
}

.maincontent .dealcard a .dealcard a:after {
  content: '';
  display: block;
  clear: both;
}

.maincontent .dealcard a .dealcard .sticker {
  position: relative;
  background: pink;
}

.maincontent .dealcard a .dealcard .sticker img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  height: 75px;
  z-index: 30;
}

/****
*
*搜尋頁
*
****/
.content_search .header_wrapper_slider {
  display: none;
}

.content_search .banner {
  display: none;
}

.content_search .menu_wrap {
  display: none;
}

.content_search .search_box_wrap {
  padding: 0 10px 0 10px;
}

.content_search .search_box_wrap .search_bar {
  border: 1px solid #ddd;
  width: 100%;
  overflow: hidden;
  float: left;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.content_search .search_box_wrap .search_bar input.search_bar_input {
  border: none;
  outline: none;
  height: 32px;
  width: 100%;
  padding-left: 10px;
  font-size: 100%;
  line-height: 32px;
}

.content_search .search_box_wrap .search_bar input.search_btn {
  float: right;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  margin: 0;
  cursor: pointer;
  background: url(https://www.17life.com/Images/17P/17topbn/search_button_50x50.png);
}

.content_search .search_box_wrap .search_bar i.fa-spin {
  position: absolute;
  top: 2px;
  right: 30px;
  line-height: 34px;
  width: 52px;
  height: 34px;
  margin-right: 5px;
  cursor: pointer;
  color: #007aff;
}

.content_search .search_box_wrap .search_bar i.fa-search {
  position: absolute;
  top: 2px;
  right: 0;
  line-height: 34px;
  width: 52px;
  height: 34px;
  margin-right: 5px;
  cursor: pointer;
}

.content_search .search_box_wrap:after {
  content: '';
  display: block;
  clear: both;
}

.content_search .search_hot_wrap {
  margin: 10px auto;
}

.content_search .search_hot_wrap h3 {
  text-align: center;
  font-size: 100%;
  margin: 20px 0 10px 0;
}

.content_search .search_hot_wrap ul li a {
  display: block;
  text-align: center;
  font-size: 100%;
  margin-bottom: 1px;
  color: #007aff;
  height: 40px;
  line-height: 40px;
}

.content_search .search_history_wrap {
  background: #fff;
  border-top: 1px solid #ddd;
  margin-top: 10px;
  /*li>i:hover{ background: yellow;}*/
}

.content_search .search_history_wrap ul li {
  position: relative;
}

.content_search .search_history_wrap ul li a {
  display: block;
  color: #666;
  border-bottom: 1px solid #ddd;
  height: 44px;
  width: 100%;
  line-height: 44px;
}

.content_search .search_history_wrap ul li i {
  margin-left: 10px;
}

.content_search .search_history_wrap li > i {
  position: absolute;
  right: 15px;
  top: 5px;
  height: 30px;
  width: 30px;
  line-height: 40px;
  color: #666;
}

.content_search .search_history_wrap i.fa-arrow-up {
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  transform: rotate(-45deg);
}

.content_search .search_auto_wrap {
  background: #fff;
  border-top: 1px solid #ddd;
  margin: 10px auto;
}

.content_search .search_auto_wrap ul li {
  position: relative;
}

.content_search .search_auto_wrap ul li a {
  display: block;
  color: #666;
  border-bottom: 1px solid #ddd;
  height: 44px;
  width: 100%;
  line-height: 44px;
}

.content_search .search_auto_wrap ul li span {
  margin-left: 10px;
}

.content_search .search_auto_wrap li i {
  float: right;
  margin-right: 10px;
  line-height: 44px;
  color: #666;
}

/****
*
*搜尋結果頁
*
****/
.search_result_wrap {
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  margin-bottom: 20px;
}

.search_result_wrap .result_box {
  margin: 10px;
  padding: 5px;
  background: white;
  border: 1px solid #ddd;
  color: #999;
}

.search_result_wrap .result_box i {
  color: #0ea146;
}

.search_result_wrap .result_none {
  margin: 10px;
  padding: 5px;
  color: #999;
  background: white;
  border: 1px solid #ddd;
}

.search_result_wrap .result_none i {
  color: #bf0000;
}

/* 搜尋結果頁需篩選 201609 by stanley */
.result_box {
  position: relative;
  line-height: 2.2;
}

.result_filter {
  position: static;
  margin: 5px 30%;
}

.select_1 {
  float: none;
  height: 29px;
  border: 1px solid #c70000;
  background: url(../images/icon_select_down.png) right no-repeat;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.select_1 select {
  width: 100%;
  height: 29px;
  padding: 0 30px 0 10px;
  background: transparent;
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
  border: none;
  outline: none;
  font-size: 14px;
  color: #666;
}

/****
*
*會員頁
*
****/
.content_member .member_info_wrap {
  position: relative;
  min-height: 180px;
  overflow: hidden;
  background: #fff;
}

.content_member .member_info_wrap .member_bg {
  background: url(../images/nice_snow.jpg);
  width: 120%;
  min-height: 180px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 0;
}

.content_member .member_info_wrap .member_bg img {
  max-width: 140%;
  min-height: 180px;
  overflow: hidden;
}

.content_member .member_info_wrap .blur {
  -webkit-filter: blur(5px);
  /* Chrome, Opera */
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content_member .member_info_wrap .member_img {
  position: relative;
  background: pink;
  width: 80px;
  height: 80px;
  margin: 0px auto;
  margin-top: 20px;
  border-radius: 40px;
  background: url(../images/login_no_profile.jpg);
}

.content_member .member_info_wrap .member_img img {
  width: 100%;
  border-radius: 40px;
  border: 1px solid #ddd;
  border: none;
}

.content_member .member_info_wrap .member_info {
  position: relative;
  color: #fff;
  display: block;
  margin: 20px auto;
  text-align: center;
  margin: 20px auto;
  z-index: 3;
}

.content_member .member_info_wrap .member_info ul {
  display: inline-block;
}

.content_member .member_info_wrap .member_info i {
  float: right;
  margin-left: 0px;
  position: absolute;
  /* left: 65%;  */
  top: 12px;
}

.content_member .member_info_wrap .member_info .user_name {
  font-size: 150%;
  margin-bottom: 3px;
}

.content_member .member_info_wrap .member_info .user_mail {
  font-size: 80%;
}

.content_member ul.member_bonus {
  height: 65px;
  border-bottom: 1px solid #ddd;
  background: white;
}

.content_member ul.member_bonus li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 33%;
  height: 65px;
  float: left;
  border-left: 1px solid #ddd;
  text-align: center;
}

.content_member ul.member_bonus li .bonus_num {
  font-size: 150%;
  color: #666;
  margin: 10px 0 8px 0;
}

.content_member ul.member_bonus li span {
  color: #999;
  font-size: 100%;
}

.content_member ul.member_bonus li span.unit {
  font-size: 60%;
}

.content_member ul.member_bonus li span.red {
  color: #bf0000;
}

.content_member ul.member_bonus li:first-child {
  width: 34%;
  border-left: none;
}

.content_member .member_list_wrap {
  background: white;
  border-top: 1px solid #ddd;
  margin: 10px 0 10px 0;
}

.content_member .member_list_wrap li a {
  position: relative;
  height: 48px;
  border-bottom: 1px solid #ddd;
  display: block;
  color: #999;
}

.content_member .member_list_wrap li i:first-child {
  float: left;
  height: 48px;
  font-size: 100%;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 48px;
}

.content_member .member_list_wrap li i.icon_right {
  position: absolute;
  right: 10px;
  height: 48px;
  line-height: 48px;
}

.content_member .member_list_wrap li .mian_title {
  font-size: 100%;
  color: #333;
  padding-top: 10px;
  margin-bottom: 2px;
}

.content_member .member_list_wrap li .sub_title {
  font-size: 80%;
}

.content_member .member_list_wrap li:last-child .mian_title {
  padding-top: 16px;
}

.content_member .member_list_wrap li:last-child .icon_right {
  display: none;
}

.activity-bg, .activity-bg2 {
  height: 100%;
  background: #fff;
  padding: 10px;
  margin: 5px 0;
  position: relative;
}

.activity-bg a, .activity-bg img, .activity-bg2 a, .activity-bg2 img {
  display: block;
  max-width: 100%;
  height: auto;
}

.activity-bg .item-title, .activity-bg2 .item-title {
  font-size: 3vmax;
  padding-bottom: 2vh;
  width: 62%;
  float: left;
}

.activity-bg .item-title > .time-item, .activity-bg2 .item-title > .time-item {
  width: 100px;
  color: #9201A6;
  font-size: 16px;
}

.activity-bg .item-title > .time-item > .time-item-list, .activity-bg2 .item-title > .time-item > .time-item-list {
  display: inline-block;
  width: 22px;
  height: 16px;
  line-height: 18px;
  color: #fff;
  background: #9201A6;
  margin: 0 2px;
  padding: 2px 4px;
}

.activity-bg .item-title > .time-item > .time-item-list:first-child, .activity-bg2 .item-title > .time-item > .time-item-list:first-child {
  margin-left: 7px;
}

.activity-bg .item-more, .activity-bg2 .item-more {
  display: block;
  width: 30%;
  float: right;
  text-align: right;
  font-size: 2.2vmax;
  line-height: 3vh;
  color: #62aeef;
}

.activity-bg .item-box, .activity-bg2 .item-box {
  clear: both;
}

.activity-bg2 {
  margin: 15px 0;
}

.swiper-container2, .swiper-container3, .swiper-container4 {
  width: 100%;
  overflow: hidden;
}

.theme-planning {
  width: 310px;
  height: auto;
}

.hot-search {
  width: 100px;
  height: 100%;
}

.hot-search a, .hot-search img {
  width: 100%;
}

.hot-search a .list-name, .hot-search img .list-name {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  line-height: 30px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

.Time-limit {
  width: 150px;
  height: 100%;
  line-height: 20px;
  position: relative;
}

.Time-limit a, .Time-limit img {
  width: 100%;
}

.Time-limit .hot-icon {
  width: 40%;
  background: #fbd3ee;
  color: #7f227e;
  border-radius: 90px/80px;
  position: absolute;
  top: 140px;
  left: 0px;
}

.Time-limit .hot-icon > img {
  display: inline-block;
  width: 15px;
  height: 20px;
  margin: -3px 3px;
}

.Time-limit .hot-icon > .hot-discount {
  display: inline-block;
  font-size: 12px;
  height: 20px;
}

.Time-limit .time-title {
  font-size: 16px;
  color: #777;
  height: 40px;
  overflow: hidden;
  margin-top: 10px;
}

.Time-limit .color-gray {
  color: #999;
}

.Time-limit .color-red {
  color: #bf0000;
}

.Time-limit .color-black {
  color: #333;
}

.Time-limit .color-green {
  color: #77C002;
}

.Time-limit .info-spacing {
  margin: 0 2px;
}

.Time-limit .info-detail {
  font-size: 13px;
  margin: 2px 0;
}

.Time-limit .text-line {
  text-decoration: line-through;
}

.Time-limit .text-big {
  font-size: 16px;
}

.Time-limit .text-disc {
  border: 1px solid #77C002;
  padding: 2px;
}

.maincontent .dealcard a.dealcard_m {
  display: block;
  width: 100%;
  height: 250px;
  padding: 0px 0px;
}

.maincontent .dealcard a.dealcard_m .dealcard_left_m {
  width: 100%;
  height: 250px;
  position: relative;
}

.maincontent .dealcard a.dealcard_m .left_img_m {
  display: block;
  width: 100%;
  height: 100%;
}

.maincontent .dealcard a.dealcard_m .left_img_m .left_img_text {
  position: absolute;
  right: 0px;
  top: 60%;
  width: 150px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

/* mobile_24hr_1806*/
/*24小時出貨*/
.tag_13 {
  color: #08c;
  background-color: #fff;
  border: 1px solid #08c;
}

.text_m {
  font-size: 16px;
}

.text-s {
  font-size: 14px;
}

.text_delete {
  text-decoration: line-through;
}

.color-gray {
  color: #999;
}

.color-white {
  color: #fff;
}

.bg-color-black {
  background: rgba(0, 0, 0, 0.6);
}

.banner_24hr {
  width: 100%;
}

.banner_24hr > img {
  display: block;
  width: 100%;
  height: auto;
}

.shareArea {
  position: relative;
}

.shareplace {
  position: absolute;
  bottom: -40px;
  right: 0px;
}

.swiper-container {
  position: relative;
}

.swiper-container-horizontal > .swiper-pagset {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 21px;
  border-radius: 90px/80px;
  position: absolute;
  left: 250px;
  top: 5px;
}

.time-24hr {
  width: 100%;
  height: 38px;
}

.time-24hr > img {
  display: inline-block;
  width: 14px;
  height: 18px;
  float: left;
  padding: 11px 5px 9px 10px;
}

.time-24hr > h4 {
  font-size: 18px;
  color: #666666;
  padding: 12px 0 9px 0;
}

.time-24hr > h4 > .time-item {
  color: #9201A6;
  font-size: 18px;
}

.time-24hr > h4 > .time-item > .time-item-list {
  width: 22px;
  height: 20px;
  color: #fff;
  background: #9201A6;
  margin: 0 2px;
  padding: 0 4px;
}

.time-24hr > h4 > .time-item > .time-item-list:first-child {
  margin-left: 7px;
}

.price_set {
  font-size: 20px;
  height: 50px;
}

/***
*
*app下載banner
*
***/
/*full bn*/
.appbn_full {
  width: 100%;
  position: absolute;
  z-index: 100;
  background: url(../images/appbn_bg_b.jpg);
  background-size: 100% auto;
}

.appbn_full .btn_close {
  position: absolute;
  right: 0;
  z-index: 200;
  width: 60px;
  height: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.appbn_full .btn_close a {
  display: block;
}

.appbn_full_text {
  width: 100%;
  margin-top: 5%;
}

.appbn_full_text img {
  width: 100%;
}

/*top bn*/
.appbn_top {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #c21e65;
  color: #fff;
  overflow: hidden;
}

.appbn_top .btn_close {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
}

.appbn_top .appbn_top_content {
  position: relative;
  z-index: 20;
  height: 80px;
}

.appbn_top .appbn_top_content .btn_appbn_link {
  width: 100%;
  height: 80px;
  display: block;
}

.appbn_top .appbn_top_content .appbn_icon {
  width: 52px;
  height: 52px;
  color: #bf0000;
  text-align: center;
  position: absolute;
  left: 50px;
  top: 14px;
}

.appbn_top .appbn_top_content .appbn_icon img {
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 2px 0px #5f0431;
          box-shadow: 0px 2px 2px 0px #5f0431;
}

.appbn_top .appbn_top_content .appbn_text {
  position: absolute;
  top: 24px;
  left: 110px;
  line-height: 1.3;
  color: #fff;
  font-size: 80%;
  font-weight: lighter;
}

.appbn_top .appbn_top_content .btn_dowmload {
  position: absolute;
  top: 24px;
  right: 10px;
  width: 14%;
  width: 54px;
  height: 34px;
  float: right;
}

.appbn_top .appbn_top_content .btn_dowmload {
  display: block;
  line-height: 34px;
  font-size: 80%;
  text-align: center;
  color: #fff;
  margin: 0 0px 0 0;
  background: gray;
  background: url(../images/appbn_btn_download.png);
}

.appbn_top .appbn_top_bg {
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
}

.appbn_top .appbn_top_bg a {
  z-index: 20;
  /**/
}

.appbn_top .appbn_top_bg img {
  width: 100%;
}

/*滿版appbn下載頁 裝置橫躺*/
@media only screen and (min-width: 480px) and (orientation: landscape) {
  .appbn_full {
    background: url(../images/appbn_bg_land.jpg);
    background-size: 100% auto;
  }
  .appbn_full_text {
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
  }
  .appbn_full_text img {
    width: 100%;
  }
}

/****
*
*策展廠商館
*
****/
.content_store {
  /*coupon樣式*/
}

.content_store ul.store_nav {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 1;
}

.content_store ul.store_nav li {
  float: left;
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.content_store ul.store_nav li a {
  display: block;
  color: #666;
  line-height: 42px;
  padding: 0px 15px;
}

.content_store ul.store_nav li a.on {
  color: #ed1c3a;
  border-bottom: 2px solid #ed1c3a;
}

.content_store .store_bn {
  position: relative;
  margin-bottom: 10px;
}

.content_store .store_bn ul {
  z-index: 10;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.content_store .store_bn ul li {
  width: 44px;
  height: 44px;
  float: left;
  margin-left: 10px;
}

.content_store .store_bn ul li a {
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  background: #31312C;
  -webkit-box-shadow: 1px 0px 3px #333;
          box-shadow: 1px 0px 3px #333;
  opacity: 0.9;
  border-radius: 30px;
  position: absolute;
}

.content_store .store_bn ul li a i {
  line-height: 44px;
  color: white;
}

.content_store .store_bn ul li a.coupon_share_on {
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.content_store .store_bn ul li a.coupon_share_fb {
  bottom: 10px;
  right: 10px;
  border: 1px solid #2E62AD;
  border-radius: 30px;
  background-color: white;
}

.content_store .store_bn ul li a.coupon_share_line {
  bottom: 10px;
  right: 10px;
  border: 1px solid #5AC247;
  border-radius: 30px;
  background-color: white;
}

.content_store .store_bn img {
  width: 100%;
  height: auto;
}

.content_store .coupon_wrap {
  background: white;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.content_store .coupon_wrap ul {
  width: 320px;
  /* min-height: 190px; */
  margin: 0 auto;
}

.content_store .coupon_wrap ul li {
  float: left;
  width: 144px;
  height: 84px;
  margin: 0px 0px 10px 10px;
  position: relative;
}

.content_store .coupon_wrap ul li .coupon_soldout {
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  line-height: 64px;
  color: white;
  width: 144px;
  height: 64px;
  z-index: 30;
}

.content_store .coupon_wrap ul li .coupon_bg {
  position: relative;
}

.content_store .coupon_wrap ul li .coupon_bg img {
  position: absolute;
  z-index: 5;
  width: 100%;
}

.content_store .coupon_wrap ul li .coupon_bg .coupon_p {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 10px;
  width: 80px;
  height: 90px;
  overflow: hidden;
  text-align: center;
}

.content_store .coupon_wrap ul li .coupon_bg .coupon_p p {
  text-align: center;
}

.content_store .coupon_wrap ul li .coupon_bg p.coupon_h1 {
  font-size: 150%;
  line-height: 1.5;
  color: #333;
}

.content_store .coupon_wrap ul li .coupon_bg p.coupon_h2 {
  font-size: 80%;
  color: #999;
  line-height: 14px;
  height: 14px;
  overflow: hidden;
}

.content_store .coupon_wrap ul li p.coupon_h3 {
  /*position: absolute;
					z-index: 10;
					top: 65px;*/
  /*left: 40px;*/
  color: #666;
  font-size: 80%;
  text-align: center;
  margin-top: 70px;
  /**/
}

.content_store .banner {
  padding-bottom: 25px;
}

.content_store .banner .swiper-container {
  height: auto;
  position: relative;
}

.content_store .banner .swiper-container .store_hover_place {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 32px;
  height: 32px;
  overflow: hidden;
}

.content_store .banner .swiper-container .store_hover_place p {
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content_store .banner .swiper-container .swiper-pagination {
  margin-bottom: -25px;
}

.content_store ul.store_filter {
  clear: both;
  padding: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 1;
  margin: 5px 0 10px 0;
}

.content_store ul.store_filter li {
  float: left;
  margin-right: 10px;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  /*重要*/
}

.content_store ul.store_filter li a {
  display: block;
  background: #f0efed;
  color: #666;
  padding: 10px;
  color: #666;
  border: 1px solid;
  border-color: #999;
}

.content_store ul.store_filter li a:focus, .content_store ul.store_filter li a:visited {
  display: block;
  padding: 10px;
  color: #666;
  border: 1px solid;
  border-color: #999;
  outline: 0;
}

.content_store ul.store_filter li a:hover, .content_store ul.store_filter li a:active {
  background: #f0efed;
  color: #666;
  border: 1px solid;
  border-color: #999;
}

.content_store ul.store_filter li.ui-tabs-active a {
  background: #ed1c3a;
  color: white;
  border: 1px solid;
  border-color: #ed1c3a;
}

.content_store .coupon_notice {
  margin: 20px 10px 10px 10px;
}

.content_store .coupon_notice p.title {
  color: #333;
  padding: 0 0 5px 0;
}

.content_store .coupon_notice .coupon_notice_edit {
  border: 1px solid #ddd;
}

/****
*
*策展列表頁
*
****/
body {
  /*background-image:url(https://www.17life.com/images/17P/active/20161212_exhibition/exhibitionCh_mainBn_m.jpg);
	background-size: contain;
	background-repeat: no-repeat;*/
}

.clearfix {
  overflow: hidden;
}

.content_exhibition_list .bottom_wrap {
  position: fixed;
  /*bottom: 0;*/
  top: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 50;
}

.content_exhibition_list .bottom_wrap ul li {
  float: left;
  width: 25%;
  max-width: 100px;
  min-height: 35px;
  text-align: center;
  line-height: 1.7;
  font-size: 80%;
}

.content_exhibition_list .bottom_wrap ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 0 10px 0;
}

.content_exhibition_list .bottom_wrap ul li a.on {
  color: white;
  background: #F11B75;
}

.content_exhibition_list .bottom_wrap ul li.current a {
  color: white;
  background: #F11B75;
}

.content_exhibition_list .main_bn {
  position: relative;
  margin-top: -10px;
}

.content_exhibition_list .main_bn img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.content_exhibition_list .bn_today_wrap {
  padding: 10px 0 10px 0;
  margin-top: -50px;
}

.content_exhibition_list .bn_today_wrap .horizontal_line {
  text-align: center;
  margin: 5px 0 5px 0;
  font-size: 100%;
  background: url(https://www.17life.com/images/17P/active/exhibitionCh/exhibitionCh_titleBg_m.png);
  background-repeat: no-repeat;
  background-position: center;
}

.content_exhibition_list .bn_today_wrap .banner img {
  width: 300px;
}

.content_exhibition_list .bn_today_wrap .banner .swiper-container {
  height: auto;
  width: 300px;
}

.content_exhibition_list .banner_list {
  margin-top: -80px;
}

.content_exhibition_list .banner_list ul li {
  width: 94%;
  padding: 0 3% 4% 3%;
}

.content_exhibition_list .banner_list ul li a {
  display: block;
  /**/
}

.content_exhibition_list .banner_list ul li a img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 1px 3px #ccc;
          box-shadow: 0px 1px 3px #ccc;
}

.content_exhibition_list .banner_list ul li a img {
  /*background:url(https://www.17life.com/images/17P/active/20161111_exhibition/wait.gif) no-repeat 50% 50%;*/
  background: url(https://www.17life.com/Themes/PCweb/images/ppon-M1_pic.jpg) no-repeat 50% 50%;
  /*background-size: 20px 20px;*/
  min-height: 150px;
}

.content_exhibition_list .banner_list ul li .item_block {
  position: absolute;
  z-index: 10;
  width: 95%;
}

.content_exhibition_list .banner_list ul li .item_block img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.content_exhibition_list .banner_list p.horizontal_line {
  text-align: center;
  line-height: 1.4;
  font-size: 150%;
  color: #333;
  /*color: #F32C83;*/
  margin: 30px 0 10px 0;
  background: url(https://www.17life.com/images/17P/active/exhibitionCh/exhibitionCh_titleBg_m.png);
  background-repeat: no-repeat;
  background-position: center;
}

/****
*
*策展說明頁
*
****/
.go_exhibition {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 150%;
  text-align: center;
  line-height: 60px;
  border-top: 1px solid #ccc;
}

.go_exhibition a {
  color: white;
  background: #bf0000;
  padding: 10px 25px;
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 3px #666;
          box-shadow: 0 1px 3px #666;
}

.content_notice .notice_bn {
  margin-bottom: 10px;
}

.content_notice .notice_bn img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.content_notice .coupon_notice {
  background: white;
  padding: 10px;
}

.content_notice .coupon_notice h3 {
  font-size: 100%;
  margin-bottom: 10px;
  line-height: 1.8;
  background: #F11B75;
  color: white;
  padding-left: 10px;
  text-align: center;
}

.content_notice .coupon_notice h4 {
  margin-bottom: 5px;
  margin-top: 10px;
  color: #333;
}

.content_notice .coupon_notice p {
  color: #666;
  font-size: 100%;
  line-height: 1.4;
  padding: 10px;
}

.content_notice .coupon_notice span.blue {
  color: #007aff;
}

.content_notice .coupon_notice span.green {
  color: #0ea146;
}

.content_notice .coupon_notice span.green_strong {
  color: #0ea146;
  font-weight: bold;
}

.content_notice .coupon_notice span.pink {
  color: #F11B75;
}

.content_notice .coupon_notice span.strong {
  color: #333;
}

.content_notice .coupon_notice table, .content_notice .coupon_notice th, .content_notice .coupon_notice td {
  border: 1px solid #ccc;
}

.content_notice .coupon_notice table {
  /*float: left;*/
  margin-right: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.content_notice .coupon_notice td {
  padding: 5px 15px;
}

.content_notice .coupon_notice table.time_table td {
  padding: 5px;
}

.content_notice .coupon_notice a {
  text-decoration: underline;
  color: #007aff;
}

.content_notice .coupon_notice ul {
  padding-left: 20px;
}

.content_notice .coupon_notice ul li {
  list-style: decimal;
  color: #666;
  line-height: 1.4;
}

.content_notice .coupon_notice ul li li {
  list-style: lower-alpha;
}

.content_notice .coupon_notice ul.square_ul li {
  list-style: square;
  line-height: 1.6;
}

.content_notice .coupon_notice .coupon_notice_block {
  width: 100%;
  /*float: left;*/
  margin-bottom: 20px;
}

.content_notice .coupon_notice .coupon_notice_block img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.header_wrapper_fixed {
  /*position: relative;*/
}

.header_wrapper_fixed .top_wrap {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 50;
}

.header_wrapper_fixed .top_wrap ul li {
  overflow: hidden;
  float: left;
  width: 25%;
  max-width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 80%;
}

.header_wrapper_fixed .top_wrap ul li a {
  display: block;
  text-decoration: none;
}

/****
*
*策展列表頁
*
****/
.clearfix {
  overflow: hidden;
}

.content_exhibition_active_list .main_bn {
  position: relative;
}

.content_exhibition_active_list .main_bn ul {
  z-index: 10;
}

.content_exhibition_active_list .main_bn ul li {
  margin-left: 10px;
}

.content_exhibition_active_list .main_bn ul li a {
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  background: #31312C;
  -webkit-box-shadow: 1px 0px 3px #333;
          box-shadow: 1px 0px 3px #333;
  opacity: 0.9;
  border-radius: 30px;
  position: absolute;
}

.content_exhibition_active_list .main_bn ul li a i {
  line-height: 44px;
  color: white;
}

.content_exhibition_active_list .main_bn ul li a.coupon_share_on {
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.content_exhibition_active_list .main_bn ul li a.coupon_share_fb {
  bottom: 10px;
  right: 10px;
  border: 1px solid #2E62AD;
  border-radius: 30px;
  background-color: white;
}

.content_exhibition_active_list .main_bn ul li a.coupon_share_line {
  bottom: 10px;
  right: 10px;
  border: 1px solid #5AC247;
  border-radius: 30px;
  background-color: white;
}

.content_exhibition_active_list .main_bn img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.content_exhibition_active_list .bn_today_wrap {
  padding: 10px 0 10px 0;
}

.content_exhibition_active_list .bn_today_wrap .horizontal_line {
  text-align: center;
  margin: 5px 0 0px 0;
  font-size: 100%;
}

.content_exhibition_active_list .bn_today_wrap .banner img {
  width: 300px;
}

.content_exhibition_active_list .bn_today_wrap .banner .swiper-container {
  height: auto;
  width: 300px;
}

.content_exhibition_active_list .bn_today_wrap .banner .swiper-container a img {
  border-radius: 5px;
}

.content_exhibition_active_list .banner_list ul li {
  width: 95%;
  padding: 0 2.5% 4% 2.5%;
}

.content_exhibition_active_list .banner_list ul li .item_block {
  position: absolute;
  z-index: 10;
  width: 95%;
}

.content_exhibition_active_list .banner_list ul li .item_block img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.content_exhibition_active_list .banner_list ul li a {
  display: block;
}

.content_exhibition_active_list .banner_list ul li a img {
  width: 100%;
  height: auto;
  drop-shadow: 0px 1px 3px #ccc;
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
}

.content_exhibition_active_list .banner_list ul li a img {
  min-height: 130px;
}

.content_exhibition_active_list .banner_list p.horizontal_line {
  text-align: center;
  font-size: 100%;
  margin: 10px 0 0px 0;
}

/****
*
*客服 選單頁
*
****/
.content_service_menu {
  /*常見問題&其他服務*/
  /*選單列表*/
}

.content_service_menu ul.service_menu li {
  width: 50%;
  float: left;
  text-align: center;
  line-height: 50px;
}

.content_service_menu ul.service_menu li a {
  display: block;
  color: #333;
}

.content_service_menu ul.service_menu li a:visited {
  outline: 0;
}

.content_service_menu ul.service_menu li a:focus {
  outline: 0;
}

.content_service_menu ul.service_menu li.ui-tabs-active {
  border-bottom: 3px solid #bf0000;
}

.content_service_menu ul.service_menu li.ui-tabs-active a.ui-tabs-anchor {
  color: #bf0000;
}

.content_service_menu ul.service_menu li.ui-tabs-active a:visited {
  outline: 0;
}

.content_service_menu ul.service_menu li.ui-tabs-active a:focus {
  outline: 0;
}

.content_service_menu .maincontent {
  min-height: 400px;
}

.content_service_menu .maincontent .tabs ul li {
  line-height: 48px;
  background: white;
  border-bottom: 1px solid #eee;
  padding-left: 10px;
}

.content_service_menu .maincontent .tabs ul li a {
  display: block;
  color: #333;
}

.content_service_menu .maincontent .tabs ul li a i {
  float: right;
  line-height: 48px;
  color: #999;
}

.content_service_menu .maincontent .tabs .ad_link {
  margin: 0 auto;
  width: 100%;
  clear: both;
}

.content_service_menu .maincontent .tabs .ad_link div {
  width: 50%;
  float: left;
}

.content_service_menu .maincontent .tabs .ad_link div a {
  color: #666;
}

.content_service_menu .maincontent .tabs .ad_link div p {
  padding: 0px 10px 10px 10px;
  font-size: 80%;
  line-height: 1.4;
}

.content_service_menu .maincontent .tabs .ad_link div p.service_title {
  /*padding: 10px 0 0 5px;*/
  padding: 2px 2px 2px 4px;
  margin: 20px 0 0 10px;
  border-left: 4px solid #999;
  line-height: 1.4;
  font-size: 100%;
}

.content_service_menu .maincontent .tabs .ad_link div img {
  width: 90%;
  max-width: 200px;
  padding: 10px;
}

/*分享跳窗*/
.share_wrap {
  background: white;
  width: 88%;
  padding: 10px;
  position: relative;
}

.share_wrap .b-close {
  position: absolute;
  right: -5px;
  top: -30px;
  background: white;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 3px #999;
          box-shadow: 0px 0px 3px #999;
}

.share_wrap .b-close i {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.share_wrap .share_main {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.share_wrap .share_main h5 {
  font-size: 150%;
  color: #666;
  text-align: center;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #666;
  margin: 0 0 10px 0;
}

.share_wrap .share_main ul {
  width: 100%;
  margin: 20px 0 20px 0;
}

.share_wrap .share_main ul li a {
  width: 24%;
  display: block;
  float: left;
  margin-right: 1%;
  font-size: 80%;
  line-height: 1.4;
  color: #666;
  text-align: center;
  text-decoration: none;
}

.share_wrap .share_main ul li a img {
  width: 100%;
}

.share_wrap .share_main p.text_normal {
  font-size: 100%;
  color: #666;
  line-height: 1.4;
  text-align: center;
}

.share_wrap .share_main p.note {
  font-size: 80%;
  color: #666;
  line-height: 1.4;
  text-align: left;
}

.share_wrap .share_main a {
  font-size: 80%;
  color: #007aff;
  text-align: right;
  display: block;
  text-decoration: underline;
  margin: 10px 0 10px;
}

.share_wrap .share_gotologin ul li a {
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 100%;
}

.share_wrap .share_gotologin ul li a.btn_color {
  color: white;
}

.share_wrap .share_gotologin ul li a.btn_line {
  color: #bf0000;
}

/****
*
*商品頁
*
****/
.content_detail {
  /*行銷bn*/
  /*售完推薦*/
  /*商品基本資訊*/
  /*detail_specialNews*/
  /*行銷bn*/
  /*商品內容*/
  /*購買按鈕*/
}

.content_detail .detail_bnTop {
  width: 96%;
  margin: 0 auto 10px auto;
  overflow: hidden;
}

.content_detail .detail_bnTop img {
  width: 100%;
}

.content_detail .soldout_wrap {
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
}

.content_detail .soldout_wrap p.soldout_text {
  font-size: 80%;
  color: #999;
  padding: 10px 0 10px 10px;
}

.content_detail .soldout_wrap ul.soldout_tab {
  background: white;
}

.content_detail .soldout_wrap ul.soldout_tab li a {
  float: left;
  width: 50%;
  margin: 0 0px 10px 0;
  line-height: 44px;
  text-align: center;
  color: #666;
  background: #f0efed;
}

.content_detail .soldout_wrap ul.soldout_tab li a.active {
  color: #bf0000;
  background: white;
}

.content_detail .soldout_wrap .soldout_item ul {
  overflow-x: scroll;
  white-space: nowrap;
  background: white;
  padding-left: 10px;
}

.content_detail .soldout_wrap .soldout_item ul li {
  display: inline-block;
  white-space: normal;
}

.content_detail .soldout_wrap .soldout_item ul li a {
  width: 150px;
  display: block;
  line-height: 1.4;
  margin: 0 10px 0 0;
  padding-top: 5px;
}

.content_detail .soldout_wrap .soldout_item ul li a img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 5px;
}

.content_detail .soldout_wrap .soldout_item ul li a .soldout_title {
  width: 150px;
  height: 18px;
  overflow: hidden;
  margin-bottom: 5px;
  color: #666;
  font-size: 80%;
}

.content_detail .soldout_wrap .soldout_item ul li a .soldout_price {
  height: 24px;
  margin-bottom: 0px;
  text-align: left;
}

.content_detail .soldout_wrap .soldout_item ul li a .soldout_price span {
  color: #999;
  font-size: 80%;
}

.content_detail .soldout_wrap .soldout_item ul li a .soldout_price span span {
  padding-left: 2px;
}

.content_detail .soldout_wrap .soldout_item ul li a .soldout_price span.price_oriprice {
  text-decoration: line-through;
}

.content_detail .soldout_wrap .soldout_item ul li a .soldout_price span.price_dealprice {
  /*float: right;*/
  font-size: 100%;
  color: #333;
}

.content_detail .soldout_wrap .soldout_item ul li a .soldout_discount {
  /*float: right;*/
  margin-bottom: 5px;
}

.content_detail .soldout_wrap .soldout_item ul li a .soldout_discount span.text_discount {
  font-size: 60%;
  color: #77C002;
  border: 1px solid #77C002;
  padding: 0 2px;
  line-height: 16px;
  display: inline-block;
}

.content_detail .soldout_wrap .soldout_item ul li a .soldout_discount span.text_big {
  font-size: 100%;
  color: #bf0000;
}

.content_detail .soldout_wrap .soldout_item ul li a .soldout_discount span.text_normal {
  font-size: 80%;
  color: #999;
  padding-left: 2px;
}

.content_detail .detail_baseInfo_wrap {
  background: white;
  padding: 0 0 10px 0;
  /****201803***/
}

.content_detail .detail_baseInfo_wrap .baseInfo_img {
  position: relative;
  margin-bottom: 10px;
}

.content_detail .detail_baseInfo_wrap .baseInfo_img img {
  width: 100%;
}

.content_detail .detail_baseInfo_wrap .baseInfo_img p {
  font-size: 80%;
  color: white;
}

.content_detail .detail_baseInfo_wrap .baseInfo_img .baseInfo_img_pLfet {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 30;
}

.content_detail .detail_baseInfo_wrap .baseInfo_img .baseInfo_img_pRight {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 30;
}

.content_detail .detail_baseInfo_wrap .baseInfo_img .baseInfo_img_shadowBottom {
  background: url(../images/item_img_shadow_bottom.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 128px;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.content_detail .detail_baseInfo_wrap h3 {
  font-size: 150%;
  color: #333;
  padding: 0 10px 10px 10px;
}

.content_detail .detail_baseInfo_wrap p.description {
  padding: 0 10px 10px 10px;
  color: #666;
  font-size: 80%;
  line-height: 1.4;
}

.content_detail .detail_baseInfo_wrap .baseInfo_price {
  padding: 0 10px 10px 10px;
  /*color: $color_3;*/
}

.content_detail .detail_baseInfo_wrap .baseInfo_price span {
  font-size: 100%;
}

.content_detail .detail_baseInfo_wrap .baseInfo_price span.discount {
  color: #999;
}

.content_detail .detail_baseInfo_wrap .baseInfo_price span.dealPrice {
  font-size: 150%;
  /*color:$color_1;*/
}

.content_detail .detail_baseInfo_wrap .baseInfo_price span.oriPrice {
  color: #999;
  text-decoration: line-through;
}

.content_detail .detail_baseInfo_wrap .baseInfo_price span.up {
  color: #999;
}

.content_detail .detail_baseInfo_wrap .baseInfo_price .rating {
  float: right;
  padding-top: 5px;
}

.content_detail .detail_baseInfo_wrap .baseInfo_price .rating span {
  color: #999;
}

.content_detail .detail_baseInfo_wrap .baseInfo_price .rating span.rating_count {
  color: #f60;
}

.content_detail .detail_baseInfo_wrap .baseInfo_price .rating .fa {
  margin: 0;
}

.content_detail .detail_baseInfo_wrap .discountInfo {
  padding: 0 0 0 10px;
  margin-bottom: 10px;
}

.content_detail .detail_baseInfo_wrap .discountInfo i.fa {
  background: #77C002;
  border: 1px solid #77C002;
  line-height: 28px;
  padding: 0 5px;
  color: white;
  float: left;
}

.content_detail .detail_baseInfo_wrap .discountInfo .discountText {
  border: 1px solid #77C002;
  color: #77C002;
  line-height: 28px;
  float: left;
  padding: 0 5px;
  font-size: 80%;
}

.content_detail .detail_baseInfo_wrap .discountInfo .discountPrice {
  font-size: 150%;
  line-height: 28px;
  padding: 0 0 0 5px;
}

.content_detail .detail_baseInfo_wrap .discountInfo span.up {
  color: #999;
}

.content_detail .detail_baseInfo_wrap .baseInfo_tag {
  padding: 0 10px 0px 10px;
  color: #999;
}

.content_detail .detail_baseInfo_wrap .baseInfo_tag span {
  font-size: 80%;
  line-height: 22px;
}

.content_detail .detail_baseInfo_wrap .baseInfo_tag ul.info_tag {
  float: right;
}

.content_detail .detail_baseInfo_wrap .baseInfo_tag ul.info_tag li {
  float: right;
  font-size: 80%;
  padding: 4px 4px;
  margin: 0 0px 0 5px;
}

.content_detail .detail_specialNews {
  padding: 0px 0 0px 0;
}

.content_detail .detail_specialNews p {
  width: 96%;
  margin: 0 auto;
  padding: 2%;
  background: #ddd;
  font-size: 80%;
  line-height: 1.4;
  color: #666;
}

.content_detail .detail_bnMiddle {
  padding: 10px 0 10px 0;
}

.content_detail .detail_bnMiddle img {
  width: 96%;
  padding: 0 2% 2% 2%;
}

.content_detail .detail_main_wrap {
  background: white;
}

.content_detail .detail_main_wrap .detail_mainNav {
  width: 100%;
}

.content_detail .detail_main_wrap .detail_mainNav ul {
  border-bottom: 2px solid #31312C;
  clear: both;
}

.content_detail .detail_main_wrap .detail_mainNav ul li a {
  display: block;
  width: 33.3%;
  float: left;
  text-align: center;
  line-height: 50px;
  font-size: 80%;
  color: #666;
  background: white;
}

.content_detail .detail_main_wrap .detail_mainNav ul li a.active {
  width: 33.3%;
  background: #31312C;
  color: white;
}

.content_detail .detail_main_wrap .detail_mainNav ul li:nth-child(2) a {
  -webkit-box-shadow: inset 1px 0px 0px #ddd;
          box-shadow: inset 1px 0px 0px #ddd;
}

.content_detail .detail_main_wrap .detail_mainNav ul li:nth-child(3) a {
  -webkit-box-shadow: inset 1px 0px 0px #ddd;
          box-shadow: inset 1px 0px 0px #ddd;
}

.content_detail .detail_main_wrap .fixedNav {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
}

.content_detail .detail_main_wrap .detail_mainIntro {
  background: #f0efed;
}

.content_detail .detail_main_wrap .detail_mainIntro .tab_content {
  padding: 10px;
  margin-bottom: 20px;
  background: white;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem {
  margin: 0px 0 10px 0;
  padding: 10px 0 20px 0;
  border-bottom: 1px dashed #ddd;
  width: 100%;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem h5 {
  font-size: 150%;
  color: #999;
  line-height: 1.3;
  border-left: 4px solid #999;
  padding-left: 4px;
  margin: 10px 0;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem p {
  font-size: 80%;
  color: #333;
  line-height: 1.8;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem iframe {
  max-width: 100%;
  /*解影片把寬度撐開問題*/
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem img {
  width: 100%;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem .sticker {
  position: relative;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem .sticker img.sticker_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 86px;
  height: 86px;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem ul.hottag li a {
  float: left;
  background: #08c;
  color: white;
  font-size: 80%;
  margin: 5px 5px 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem #AddressTitle {
  font-size: 100%;
  color: #bf0000;
  line-height: 1.8;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem #Addressinner {
  font-size: 80%;
  color: #333;
  line-height: 1.8;
  padding: 0 0 10px 10px;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem #Addressinner ul li {
  list-style: disc;
  list-style-position: inside;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem #Addressinner ul li a.btn_map {
  display: inline-block;
  padding: 0px 10px;
  margin-left: 5px;
  font-size: 80%;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem .overHeight {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem .overHeight .overHeight_sliderBtn {
  background: rgba(255, 255, 255, 0.85);
  height: 44px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 20px 0 20px 0;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem .overHeight .overHeight_sliderBtn a {
  width: 90%;
  margin: 0 auto;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem .overHeight_SlideDown {
  -webkit-transition: 1s;
  transition: 1s;
  height: auto;
  padding-bottom: 80px;
}

.content_detail .detail_main_wrap .detail_mainIntro .dealItem .overHeight_SlideDown .overHeight_sliderBtn {
  bottom: 0px;
}

.content_detail .detail_main_wrap .detail_mainIntro .explain {
  font-size: 100%;
  line-height: 1.4;
}

.content_detail .detail_main_wrap .detail_mainIntro .explain .explain_label_wrap {
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 80%;
}

.content_detail .detail_main_wrap .detail_mainIntro .explain .explain_label_wrap span.explain_label {
  border: 1px solid #bf0000;
  font-size: 80%;
  padding: 5px;
  color: #bf0000;
}

.content_detail .detail_main_wrap .detail_mainIntro .related {
  padding-right: 0;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy {
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul {
  overflow-x: scroll;
  white-space: nowrap;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li {
  display: inline-block;
  white-space: normal;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a {
  width: 150px;
  display: block;
  line-height: 1.4;
  margin: 0 10px 0 0;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 5px;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a .soldout_title {
  width: 150px;
  height: 18px;
  overflow: hidden;
  margin-bottom: 5px;
  color: #666;
  font-size: 80%;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a .soldout_price {
  height: 24px;
  text-align: left;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a .soldout_price span {
  color: #999;
  font-size: 80%;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a .soldout_price span span {
  padding-left: 2px;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a .soldout_price span.price_oriprice {
  text-decoration: line-through;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a .soldout_price span.price_dealprice {
  font-size: 100%;
  color: #333;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a .soldout_discount {
  margin-bottom: 5px;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a .soldout_discount span.text_discount {
  font-size: 60%;
  color: #77C002;
  border: 1px solid #77C002;
  padding: 0 2px;
  line-height: 16px;
  display: inline-block;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a .soldout_discount span.text_big {
  font-size: 100%;
  color: #bf0000;
}

.content_detail .detail_main_wrap .detail_mainIntro .related .alsoBuy ul li a .soldout_discount span.text_normal {
  font-size: 80%;
  color: #999;
  padding-left: 2px;
}

.content_detail .buyAction_wrap {
  background: #f0efed;
  padding: 10px 0 10px 0;
}

.content_detail .buyAction_wrap ul {
  width: 100%;
}

.content_detail .buyAction_wrap ul li a {
  float: left;
  text-align: center;
  display: block;
  height: 50px;
  /*垂直置中*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_detail .buyAction_wrap ul li.fav a {
  width: 13%;
}

.content_detail .buyAction_wrap ul li.fav a i {
  font-size: 150%;
  color: #666;
  text-align: center;
  width: 100%;
  padding-bottom: 4px;
}

.content_detail .buyAction_wrap ul li.fav a i.active {
  color: #bf0000;
}

.content_detail .buyAction_wrap ul li.fav a p span {
  width: 100%;
  font-size: 60%;
  color: #666;
  text-align: center;
}

.content_detail .buyAction_wrap ul li.buy_app a {
  width: 36%;
}

.content_detail .buyAction_wrap ul li.buy_app a .text_small {
  display: block;
  width: 100%;
  font-size: 80%;
  color: #666;
  text-align: center;
  margin-bottom: 2px;
}

.content_detail .buyAction_wrap ul li.buy_app a .text_main {
  display: block;
  width: 100%;
  font-size: 100%;
  color: #bf0000;
  text-align: center;
}

.content_detail .buyAction_wrap ul li.buy_now a {
  width: 47%;
}

.content_detail .fixedBuyAction {
  z-index: 100;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0px -2px 3px 0px rgba(102, 102, 102, 0.25), inset 0 1px 2px white;
          box-shadow: 0px -2px 3px 0px rgba(102, 102, 102, 0.25), inset 0 1px 2px white;
}

/*方案選擇*/
.dealList li {
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 3px #eee;
          box-shadow: 0px 2px 3px #eee;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
}

.dealList li a {
  width: 100%;
}

.dealList li a .listMain {
  /*垂直置中*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dealList li a .listMain .list_info {
  width: 66%;
  float: left;
}

.dealList li a .listMain .list_info h4 {
  font-size: 100%;
  color: #333;
  line-height: 1.6;
  margin-bottom: 4px;
}

.dealList li a .listMain .list_info h4 span {
  border: 1px solid #08c;
  border-radius: 20px;
  font-size: 80%;
  padding: 2px 4px;
  color: #08c;
}

.dealList li a .listMain .list_info span {
  font-size: 100%;
  color: #999;
}

.dealList li a .listMain .list_info span .oriPrice {
  text-decoration: line-through;
}

.dealList li a .listMain .list_price {
  width: 30%;
  float: left;
  text-align: center;
}

.dealList li a .listMain .list_price .dealPrice {
  font-size: 150%;
  color: #333;
}

.dealList li a .listMain .list_price .averagePrice {
  font-size: 80%;
  color: #f60;
  margin-top: 5px;
}

.dealList li a .listMain .list_arrow {
  width: 4%;
  float: right;
  font-size: 150%;
  text-align: center;
  color: #007aff;
}

.dealList li a .listNote {
  border-top: 1px solid #ddd;
  padding: 10px 0 10px 0;
  margin: 10px 0 0 0;
  color: #999;
  font-size: 100%;
  line-height: 1.5;
}

.dealList li.soldout {
  background: #eee;
}

.dealList li.soldout a .list_info h4 {
  color: #999;
}

.dealList li.soldout a .listMain .list_price .dealPrice {
  color: #999;
}

.dealList li.soldout a .listMain .list_arrow {
  color: #eee;
}

/****
*
*獨立方案選擇頁
*
****/
.content_detailList .scpoeItem {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}

.content_detailList .scpoeItem .scpoeItem_img {
  width: 120px;
}

.content_detailList .scpoeItem .scpoeItem_img img {
  width: 100%;
  float: left;
  margin-right: 10px;
}

.content_detailList .scpoeItem h3 {
  font-size: 100%;
  margin-bottom: 10px;
}

.content_detailList .scpoeItem p.scpoeItem_description {
  font-size: 80%;
  color: #999;
  line-height: 1.2;
}

.content_detailList .dealList {
  padding: 10px;
}

.content_detailList .dealList p {
  font-size: 100%;
  color: #999;
  margin-bottom: 10px;
  text-align: center;
}

.content_detailList .dealList li {
  -webkit-box-shadow: 0px 2px 3px #ddd;
          box-shadow: 0px 2px 3px #ddd;
}

.content_detailList .btn_back_wrap {
  margin-bottom: 20px;
}

.content_detailList .btn_back_wrap ul li a {
  width: 40%;
  margin: 0 auto;
}

.content_campaign .header_wrapper_fixed .top_wrap {
  background: rgba(255, 255, 255, 0.9);
}

.content_campaign .header_wrapper_fixed .top_wrap ul li {
  width: 33.3%;
  max-width: none;
}

.content_campaign .channel_box {
  position: relative;
  background: #590c04;
  height: 46px;
}

.content_campaign .channel_box .logoImg a {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  /*drop-shadow:0 0  2px #ccc;*/
}

.content_campaign .channel_box .logoImg a img {
  padding: 10px;
  width: 54px;
  /*border-radius:0 0 50px 50px;
					background-color: rgba(255,255,255,0.8); */
}

.content_campaign .channel_box ul {
  float: right;
}

.content_campaign .channel_box ul li {
  float: left;
  line-height: 46px;
  color: #fff;
  font-size: 14px;
}

.content_campaign .channel_box ul li a {
  display: block;
  padding: 0 10px;
  color: #fff;
}

.content_campaign .channel_box ul li a.go_campaign {
  color: yellow;
}

.content_campaign .channel_box ul li a.go_notice {
  color: white;
}

.content_campaign .main_kv {
  position: relative;
}

.content_campaign .main_kv .shareArea li a {
  display: block;
  background: #31312C;
  -webkit-box-shadow: 1px 0px 3px #333;
          box-shadow: 1px 0px 3px #333;
  border-radius: 30px;
  opacity: 0.9;
  width: 44px;
  height: 44px;
  text-align: center;
  position: absolute;
  bottom: 50px;
  right: 10px;
}

.content_campaign .main_kv .shareArea li a img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.content_campaign .main_kv .shareArea li a i {
  line-height: 44px;
  color: white;
}

.content_campaign .main_kv .timeArea {
  position: relative;
  height: 40px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.content_campaign .main_kv .timeArea .time_left {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 40px;
  background: url(https://www.17life.com/images/17P/active/20171101/time_01.png);
  background-position: left top;
  background-size: auto 40px;
}

.content_campaign .main_kv .timeArea .time_right {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 40px;
  background: url(https://www.17life.com/images/17P/active/20171101/time_04.png);
  background-position: left top;
  background-size: auto 40px;
}

.content_campaign .main_kv .timeArea .time_middle {
  background: url(https://www.17life.com/images/17P/active/20171101/time_02.png);
  background-position: left top;
  background-repeat: repeat;
  background-size: auto 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 30px;
}

.content_campaign .main_kv .timeArea .time_middle p {
  display: inline-block;
  font-size: 100%;
}

.content_campaign .main_kv .timeArea .time_middle .timeFont {
  display: inline-block;
  font-size: 20px;
}

.content_campaign .main_kv .timeArea .time_middle span {
  font-size: 80%;
}

.content_campaign .main_kv .kvArea img {
  width: 100%;
}

.content_campaign .bn_today_wrap {
  margin-bottom: 15px;
}

.content_campaign .bn_today_wrap .swiper-container-horizontal > .swiper-pagination {
  bottom: 5px;
}

.content_campaign .bn_today_wrap .swiper-button-prev {
  drop-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.content_campaign .bn_today_wrap .swiper-button-next {
  drop-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.content_campaign .bn_today_wrap .swiper-slide {
  width: 310px;
  height: 120px;
  overflow: hidden;
  background: white;
}

.content_campaign .bn_today_wrap .swiper-slide a .dealcard_left {
  width: 100px;
  height: 100px;
  padding: 10px;
  float: left;
}

.content_campaign .bn_today_wrap .swiper-slide a .dealcard_left img {
  width: 100%;
}

.content_campaign .bn_today_wrap .swiper-slide a .dealcard_right {
  padding: 10px 10px 10px 0;
  width: 180px;
  overflow: hidden;
  margin-right: 0;
}

.content_campaign .bn_today_wrap .swiper-slide a .dealcard_right h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 4px;
  line-height: 1.3;
  height: 44px;
  overflow: hidden;
}

.content_campaign .bn_today_wrap .swiper-slide a .dealcard_right h5 {
  font-size: 14px;
  color: #f60;
  height: 32px;
  line-height: 1.2;
  overflow: hidden;
}

.content_campaign .bn_today_wrap .swiper-slide a .dealcard_right p {
  color: #666;
  margin-bottom: 10px;
}

.content_campaign .bn_today_wrap .swiper-slide a .dealcard_right p .p_small {
  font-size: 14px;
}

.content_campaign .bn_today_wrap .swiper-slide a .dealcard_right p .price_dealprice {
  color: #bf0000;
  font-size: 24px;
}

.content_campaign .eventArea {
  width: 96%;
  margin: 2% 2% 2% 2%;
}

.content_campaign .eventArea ul li {
  width: 50%;
  float: left;
}

.content_campaign .eventArea ul li a {
  display: block;
}

.content_campaign .eventArea ul li a img {
  width: 100%;
}

.content_campaign .listArea {
  width: 96%;
  margin: 2%;
}

.content_campaign .listArea ul li a {
  margin-bottom: 1%;
  display: block;
}

.content_campaign .listArea ul li a img {
  width: 100%;
}

.content_campaign .mainArea {
  margin-bottom: 20px;
}

.content_campaign .mainArea .title {
  width: 100%;
}

.content_campaign .mainArea .title img {
  width: 100%;
}

.content_campaign .mainArea ul.singleItem {
  width: 100%;
}

.content_campaign .mainArea ul.singleItem li {
  float: left;
  width: 47%;
  padding-left: 2%;
  padding-bottom: 2%;
}

.content_campaign .mainArea ul.singleItem li a {
  background: white;
  display: block;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  color: #999;
}

.content_campaign .mainArea ul.singleItem li a img {
  width: 100%;
}

.content_campaign .mainArea ul.singleItem li a .textArea {
  padding: 4px;
  line-height: 1.3;
}

.content_campaign .mainArea ul.singleItem li a .textArea h3 {
  font-size: 100%;
  color: #666;
  margin: 4px 0 4px 0;
  height: 40px;
  overflow: hidden;
}

.content_campaign .mainArea ul.singleItem li a .textArea p {
  line-height: 30px;
  letter-spacing: -0.5px;
}

.content_campaign .mainArea ul.singleItem li a .textArea .p_small {
  font-size: 80%;
}

.content_campaign .mainArea ul.singleItem li a .textArea .float_right {
  float: right;
}

.content_campaign .mainArea ul.singleItem li a .textArea .price_dealprice {
  font-size: 100%;
  color: #bf0000;
}

.content_campaign .mainArea ul.groupItem {
  width: 96%;
  padding: 0 2% 2% 2%;
}

.content_campaign .mainArea ul.groupItem li a {
  display: block;
  margin-bottom: 2%;
  drop-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.content_campaign .mainArea ul.groupItem li a img {
  width: 100%;
}

/** Tags **/
li.tag_1 {
  color: #bf0000;
  border: 1px solid #bf0000;
}

/* 破千/熱銷 */
li.tag_2 {
  color: #bf0000;
  border: 1px solid #bf0000;
}

/* 破萬/熱銷 */
li.tag_6 {
  color: #00a0d3;
  border: 1px solid #00a0d3;
}

/* 即用 */
li.tag_3 {
  color: #F9BF45;
  border: 1px solid #F9BF45;
}

/* 24H */
li.tag_4 {
  background-color: #ED3F62;
  color: #ffffff;
  line-height: 16px !important;
}

/* 套票 */
li.tag_5 {
  color: #8B81C3;
  border: 1px solid #8B81C3;
}

/* 折價 */
li.tag_11 {
  color: #5DAC81;
  border: 1px solid #5DAC81;
}

/* 超取 */
li.tag_12 {
  color: #58B2DC;
  border: 1px solid #58B2DC;
}

img.flag-24h {
  height: 32px;
  width: 32px;
  z-index: 2;
  left: 4px;
  top: 0;
  -o-object-position: top left;
     object-position: top left;
  -o-object-fit: contain;
     object-fit: contain;
}

.detail_baseInfo_wrap .baseInfo_img img.flag-24h {
  position: absolute;
  height: 40px;
  width: 40px;
  z-index: 2;
  left: 4px;
  top: 0;
  -o-object-position: top left;
     object-position: top left;
  -o-object-fit: contain;
     object-fit: contain;
}

/*商品頁與購物面版*/
/*@import "_item.scss";*/
/*購物車結帳頁面*/
/*@import "_shopping_cart_checkout.scss";*/
/*會員中心-購物車訂單明細*/
/*@import "_member_order_list.scss";*/
/***
*
*GIGI M版分類
*
***/
/*圖標字體化*/
@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/icomoon.eot"), url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\f007";
}

.icon-clock-o:before {
  content: "\e605";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-filter:before {
  content: "\f0b0";
}

.icon-arrow-down:before {
  content: "\e601";
}

.icon-arrow-up:before {
  content: "\e602";
}

.icon-smile-o:before {
  content: "\f118";
}

.icon-smile-o-2:before {
  content: "\f118";
  color: #bf0000;
  font-size: 16px;
  margin-left: 10px;
  vertical-align: middle;
}

.icon-map-marker:before {
  content: "\f041";
}

/* M版分類外框範圍 */
.menu_wrap {
  /*background:pink;*/
  width: 100%;
  overflow: hidden;
}

.meun_wrap:after {
  content: '';
  display: block;
  clear: both;
}

/* 首頁M版分類-by-gigi */
.m-classify {
  width: 100%;
  height: 40px;
  float: none;
  display: block;
  background: #f7f7f7;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  /*20150424 塞選調整至bn下方 修改下方間距*/
}

.m-classify li {
  float: left;
  border-right: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-1-4 li {
  width: 28%;
  height: 40px;
  overflow: hidden;
  /* display: none; */
}

.col-1-3 li, .col-1-2 li {
  width: 42%;
}

.col-1-3 li:first-child, .col-1-2 li:nth-child(2) {
  display: none;
}

.col-1-4 li:last-child, .col-1-3 li:last-child, .col-1-2 li:last-child {
  width: 16%;
  border-right: none;
}

.m-classify a {
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  color: #888;
  display: block;
}

.m-classify li a:hover {
  text-decoration: none;
}

.arrow-down .icon-chevron:before {
  content: "\f078";
}

.arrow-on .icon-chevron:before {
  content: "\f077";
}

.arrow-down span, .arrow-on span {
  padding-left: 0.3em;
}

.filter span {
  font-size: 24px;
  line-height: 40px;
}

.arrow-on a, .filter-on a {
  color: #BF0000;
  background: #fff;
}

.arrow-on .icon-chevron-up {
  color: #BF0000;
}

.DealPriceInfo .buycounter .icon-user, .lineview-counter .icon-user {
  color: #666;
  font-size: 12px;
  padding-right: 3px;
}

.icon-clock-o {
  float: left;
  margin: 8px 0 0 0;
  color: #666;
  font-size: 12px;
}

.mbe-switch {
  width: 100%;
  float: left;
}

.NaviCityW {
  width: 100%;
  /**/
  margin-top: 0;
  display: none;
  /**/
  border: none;
  border-radius: 0;
  background: #eeeded;
  /*visibility: hidden ;*/
}

.NaviCityMP, #ulSort, #ulFilter, .NaviCityML {
  width: 100%;
  /**/
  margin: 0 auto;
  border: none;
  background: #f5f5f5;
  display: none;
  /**/
  /*visibility: hidden ;*/
}

ul.sub-classify {
  display: none;
}

.NaviCitySelectArea, .NaviCitySelectSort, .NaviCitySelectArea {
  display: none;
}

.NaviCityArea {
  width: 100%;
  padding: 0;
  border: none;
  text-align: center;
}

.NaviCityArea li, .NaviCitySequence li, .NaviCitySort li {
  width: 100%;
  margin: 0;
  float: none;
  text-align: left;
}

.NaviCityArea a, .NaviCitySequence a, .NaviCitySortRank a, .NaviCitySortRank li > a {
  color: #333;
  line-height: 20px;
  width: 100%;
  margin: 0;
  padding: 12px;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  background: #f5f5f5;
  border-radius: 0;
  font-size: 14px;
  font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.NaviCityArea a:hover, .NaviCitySequence a:hover, .NaviCitySort a:hover {
  width: 100%;
  background: #f8f8f8;
  color: inherit;
  border-radius: 0;
  text-decoration: none;
}

.NaviCityArea a.on, .NaviCityArea a.on:hover, .NaviCitySequence a.on, .NaviCitySequence a.on:hover, .NaviCitySort li.on a, .NaviCitySort li.on:hover a {
  color: #BF0000;
  background: #fff;
}

.NaviCitySort a:hover .WordsGray, .on a:hover .WordsGray, .NaviCitySort li.on .WordsGray {
  color: #ccc;
}

.NaviCitySort, .NaviCitySortRank, .NaviCitySequence {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

#ulSort, #ulFilter {
  width: 100%;
  float: left;
}

#ulFilter li {
  border-bottom: 1px solid #e5e5e5;
}

#ulFilter li.m-filter-btn {
  display: block;
  padding: 10px 0;
  border-bottom: none;
}

.ncs-filter {
  margin: 1px 10px;
  position: relative;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  width: 100%;
  padding-left: 20px;
  /**/
  height: 44px;
  display: inline-block;
  line-height: 44px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}

.ncs-filter input[type=checkbox]:checked + label span:first-child {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.ncs-filter input[type=checkbox] + label span:first-child {
  opacity: 0;
  margin-top: 3px;
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 12px;
  left: 0;
  border: 3px solid #BF0000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sliding-menu {
  position: relative;
}

.sliding-menu ul {
  float: left;
  margin: 0;
}

.NaviCitySortRank ul > li.sub-arrow > a:before, .NaviCitySortRank ul > li.sub-arrow > a:after,
.NaviCitySortRank ul > li.sub-arrow.on > a:before {
  border: none;
  position: inherit;
  top: 0;
}

.sliding-menu a.nav:before, .NaviCitySortRank ul > li.sub-arrow > a:before {
  content: '\3009';
  float: right;
  margin-left: 1em;
}

.sliding-menu a.back:before {
  content: '\3008';
  float: left;
  margin-right: 1em;
}

.sliding-menu a.back {
  background: #999;
  color: #FFF;
}

.dts-label {
  text-shadow: none;
}

/*btn*/
.btn, .nobtn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(btn_bk_ie.png);
  background-color: #d7d7c7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7c7));
  background-image: linear-gradient(to bottom, #ffffff, #d7d7c7);
  background-repeat: repeat-x;
  border: 1px solid #333;
  *border: 0;
  border-color: #333;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: #b3b3b3;
  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd7d7c7', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: url(btn_bk_pri_ie.png);
  background-color: #9f0000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#df0000), to(#9f0000));
  background-image: linear-gradient(to bottom, #df0000, #9f0000);
  background-repeat: repeat-x;
  border-color: #9f0000;
  border-color: rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f#df0000', endColorstr='#ff9f0000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.rdl-Btn-box {
  width: 100%;
}

.btn_close a {
  display: block;
  width: 44px;
  padding-top: 30px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}

/* 評價(5星) 20160607 by getter */
.rating {
  height: 20px;
}

.rating .fa {
  color: #F60;
  font-size: 14px;
  margin-right: -4px;
}

.rating .rating_count {
  color: #999;
  font-size: 12px;
  margin-left: 2px;
}

.rating.insufficient .rating_count {
  margin-left: 0;
}

/***
*
*top與側懶列表捷徑 按鈕
*
***/
.HKL_Button_back_to_top_command {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 11;
  bottom: 25px;
  right: 10px;
  cursor: pointer;
  display: none;
  border: none;
  background: url(../../PCweb/images/ppopBottomTOP-up.png) no-repeat scroll;
  background: url(../../PCweb/images/ppopBottomTOP-ie.png) no-repeat scroll;
  background-size: contain;
}

.HKL_Button_to_event_page {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 75;
  bottom: 78px;
  right: 10px;
  cursor: pointer;
  display: none;
  border: none;
}

.btnToExhibitionList {
  bottom: 85px;
  background: url(http://www.17life.com/images/17P/active/20161111_exhibition/coupon.gif) no-repeat scroll;
  background-size: contain;
}

/***
*
*蓋板活動
*
***/
#bg_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 80;
  background-color: black;
  opacity: 0;
  display: none;
}

#ad_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 80;
  display: none;
}

@media screen and (min-width: 451px) {
  .HKL_1111_ad {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 80;
    display: inline;
  }
  #adClose {
    position: relative;
    z-index: 81;
    opacity: 0.6;
    cursor: pointer;
    display: none;
    width: 25px;
    left: 63%;
  }
}

@media screen and (max-width: 450px) {
  .HKL_1111_ad {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 80;
    display: none;
  }
  #adClose {
    position: relative;
    top: 7%;
    z-index: 81;
    opacity: 0.6;
    cursor: pointer;
    display: none;
    width: 25px;
    left: 88%;
  }
}
/*# sourceMappingURL=style.css.map */