﻿@charset "utf-8";
/* CSS Document */
.wrapCer {
	width: 750px;
	margin: 0 auto;
	clear: both;
	height: auto;
}
.Certificate{
	width:750px;
	height:auto;
	border: 1px solid #666;
	letter-spacing: 0.8px;
	margin-right: auto;
	margin-left: auto;
}
.Certificate .CerFrameTable{
	width:750px;
	height:40px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
.Certificate .CerFrameTable .Cer_top-column {
	color: #000;
	letter-spacing: 0.8px;
	padding: 10px;
	margin: 5px;
	clear: both;
}
.Certificate .CerFrameTable .Cer_top-column .CerTittle{
	font-family: "微軟正黑體";
	font-size: 22px;
	line-height: 23px;
	font-weight: normal;
	padding-bottom: 0px;
	width: 555px;
	margin: 0px;
}
.Certificate .CerFrameTable .Cer_top-column .Subtitle{
	font-family: "新細明體";
	font-size: 16px;
	margin-bottom: 10px;
	padding-top: 0px;
	font-weight: normal;
	margin-top: 3px;
	width: 555px;
}
.Certificate .CerFrameTable .Cer_top-column .CerTable1{
	width:720px;
}
.Certificate .CerFrameTable .Cer_top-column .CerTable1 .Deadline{
	font-family: "新細明體";
	font-size: 15px;
	font-weight: normal;
	width: 270px;
	margin-top: 0px;
	padding-top: 0px;
	border: 1px solid #666;
	line-height: 25px;
	padding-left: 2px;
}
.Certificate .CerFrameTable .Cer_top-column .Note {
	font-family: "新細明體";
	font-size: 13px;
	font-weight: normal;
	margin-top: 15px;
	padding-top: 0px;
	clear: both;
}
.Certificate .CerFrameTable .Cer_top-column ul.NoteInfoText{
	margin-left: 18px;
	padding-bottom: 0px;
	margin-top: 10px;
	padding-left: 0px;
	width: 699px;
	margin-bottom: 0px;
}
.Certificate .CerFrameTable .Cer_top-column ul.NoteInfoText li{
	line-height: 16px;
	font-size: 13px;
	margin-bottom: 5px;
	font-family: "新細明體";
}
.Certificate .CerFrameTable .Cer_StInfo-AD {
	height: auto;
	font-family: "微軟正黑體";
	color: #000;
	padding:0 8px;
	margin:10px 7px;
	border-top: 1px dotted #CCC;
}
.Certificate .CerFrameTable .Cer_HighDeal_logo  {
	clear: both;
	height: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	background-image: url(HighDealTie750.jpg);
	background-repeat: no-repeat;
	width: 750px;
	margin-bottom:10px;
}
.Certificate .CerFrameTable .Number  {
	margin-right: 21px;
	margin-left: auto;
	font-family: "微軟正黑體";
	font-size: 16px;
	letter-spacing: normal;
	float: right;
	margin-top: 10px;
}
.Certificate .CerFrameTable .Cer_StInfo-AD p  {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	font-family: "新細明體";
	font-size: 13px;
	letter-spacing: normal;
}
.Certificate .CerFrameTable .Cer_StInfo-AD ul.StoreInformation {
	clear: both;
	font-size: 16px;
	letter-spacing: normal;
	list-style-type: none;
	padding: 0px;
	margin: 0px 0px 20px 18px;
}
.Certificate .CerFrameTable .Cer_StInfo-AD ul.StoreInformation li {
	font-family: "新細明體";
	font-size: 13px;
	letter-spacing: normal;
	line-height: 16px;
	padding-bottom: 5px;
}

.Certificate .CerFrameTable .Cer_top-column .CerBarcode {
	float: right;
	height: auto;
	width: 166px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.Certificate .CerFrameTable .Cer_info-column {
	font-family: Arial Black, sans-serif; 
	color: #000;
	letter-spacing: 0.8px;
	padding: 10px;
	margin: 5px 5px 0 5px;
	border-top: 1px dotted #CCC;
	clear: both;	
}
.Cer_info-column .Cer_info { margin:5px 0; font-size:13px; font-family: "新細明體"; }
.Cer_info-column .Cer_number { width:310px; float:left; border-right: 1px dotted #CCC; }
.Cer_info-column .Cer_number p { margin:5px 0; font-size:22px; }
.Cer_info-column .Cer_code { width:400px; float:right; text-align:right; }
.Cer_info-column .Cer_code .Code_box { margin-left:30px; display:inline-block; }
.clear { clear:both; }