@charset "utf-8";
h1 {
	font-size:42px;
	color:#666;
	padding:0px 0px 0px 70px;
}

#UserGuide {
	position:relative;
	left:50px;
	top:0px;
	width:920px;
}
#UserGuide_Top {
	left:0px;
	top:opx;
	width:920px;
	height:79px;
	background-image: url(UG_top.png);
}
#UserGuide_Navi {
	position:relative;
	left:0px;
	top:0px;
	width:920px;
	height:82px;
}
#UserGuide_Navi_left {
	left:0px;
	top:0px;
	width:30px;
	height:82px;
	background-image: url(UG_navi_left.jpg);
}
#UserGuide_Navi_B1 {
	position:absolute;
	left:30px;
	top:0px;
	height:82px;
}
.NaviB1Mouse_btn {
width: 160px;
height: 82px;
background: url(UG_button_s1.jpg) no-repeat 0px 0px;
display:block;
}
a.NaviB1Mouse_btn:hover {
	width: 160px;
	height: 82px;
	display:block;
	background-image: url(UG_button_s1.jpg);
	background-repeat: no-repeat;
	background-position: 0px -82px;
}
#UserGuide_Navi_B2 {
	position:absolute;
	left:190px;
	top:0px;
	height:82px;
}
.NaviB2Mouse_btn {
width: 184px;
height: 82px;
background: url(UG_button_s2.jpg) no-repeat 0px 0px;
display:block;
}
a.NaviB2Mouse_btn:hover {
width: 184px;
height: 82px;
background: url(UG_button_s2.jpg) no-repeat 0px -82px;
display:block;
}
#UserGuide_Navi_B3 {
	position:absolute;
	left:374px;
	top:0px;
	height:82px;
}
.NaviB3Mouse_btn {
width: 172px;
height: 82px;
background: url(UG_button_s3.jpg) no-repeat 0px 0px;
display:block;
}
a.NaviB3Mouse_btn:hover {
	width: 172px;
	height: 82px;
	background: url(UG_button_s3.jpg) no-repeat 0px -82px;
	display:block;
}
#UserGuide_Navi_B4 {
	position:absolute;
	left:546px;
	top:0px;
	height:82px;
}
.NaviB4Mouse_btn {
width: 171px;
height: 82px;
background: url(UG_button_s4.jpg) no-repeat 0px 0px;
display:block;
}
a.NaviB4Mouse_btn:hover {
width: 171px;
height: 82px;
background: url(UG_button_s4.jpg) no-repeat 0px -82px;
display:block;
}
#UserGuide_Navi_B5 {
	position:absolute;
	left:717px;
	top:0px;
	height:82px;
}
.NaviB5Mouse_btn {
width: 173px;
height: 82px;
background: url(UG_button_s5.jpg) no-repeat 0px 0px;
display:block;
}
a.NaviB5Mouse_btn:hover {
width: 173px;
height: 82px;
background: url(UG_button_s5.jpg) no-repeat 0px -82px;
display:block;
}
#UserGuide_Navi_C1 {
	position:absolute;
	left:30px;
	top:0px;
	height:82px;
	width:160px;
	background-image:url(UG_Button_h1.jpg);
}
#UserGuide_Navi_C2 {
	position:absolute;
	left:190px;
	top:0px;
	height:82px;
	width:184px;
	background-image:url(UG_Button_h2.jpg);
}
#UserGuide_Navi_C3 {
	position:absolute;
	left:374px;
	top:0px;
	height:82px;
	width:216px;
	background-image:url(UG_Button_h3.jpg);
}
#UserGuide_Navi_C4 {
	position:absolute;
	left:546px;
	top:0px;
	height:82px;
	width:171px;
	background-image:url(UG_Button_h4.jpg);
}
#UserGuide_Navi_C5 {
	position:absolute;
	left:717px;
	top:0px;
	height:82px;
	width:173px;
	background-image:url(UG_Button_h5.jpg);
}
#UserGuide_Navi_right {
	position:absolute;
	left:890px;
	top:0px;
	width:30px;
	height:82px;
	background-image: url(UG_navi_right.jpg);
}
#UserGuide_Content_1 {
	left: 0px;
	top: 161px;
	width: 920px;
	height: 692px;
	background-image: url(UG_content_1.jpg);
}
#UserGuide_Content_2 {
	left: 0px;
	top: 161px;
	width: 920px;
	height: 2308px;
}
#UserGuide_Content_3 {
	left: 0px;
	top: 161px;
	width: 920px;
	height: 2600px;
	background-image: url(UG_content_3.jpg);
}
#UserGuide_Content_4 {
	left: 0px;
	top: 161px;
	width: 920px;
	height: 983px;
	background-image: url(UG_content_4.jpg);
}
#UserGuide_Content_4_Joinbtn {
	position:absolute;
	left:105px;
	top:965px;
	height:auto;
}
.NaviJBMouse_btn {
width: 396px;
height: 89px;
background: url(JoinBtn.jpg) no-repeat 0px 0px;
display:block;
}
a.NaviJBMouse_btn:hover {
width: 396px;
height: 89px;
background: url(JoinBtn.jpg) no-repeat 0px -89px;
display:block;
}
#UserGuide_Content_5 {
	left: 0px;
	top: 161px;
	width: 920px;
	background-image:url(UG_content_5_BG.jpg);
}
#UserGuide_Content_5_Title {
	position: relative;
	left: 0;
	top: 0;
	width: 920px;
	height: 103px;
	background-image:url(UG_content_5_Title.jpg);
}
.UserGuide_Content_5_QAB {
	position: relative;
	margin: 0 auto 0 auto;
	padding: 10px;
	width: 920px;
}
.UserGuide_Content_5_QAB_TOP {
	position: relative;
	margin: 0 auto 0 auto;
	top: 0px;
	width: 810px;
	height: 15px;
	background-image:url(UG_content_5_QAB_top.jpg);
}
.UserGuide_Content_5_QAB_QTN {
	position: relative;
	top: 0px;
	width: 810px;
	height: 38px;
	background-image:url(UG_content_5_QAB_QTN.jpg);
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.UserGuide_Content_5_QAB_QTN p{
	margin: 0;
	padding: 5px 0 0 50px;
	font-size: 20px;
}
.UserGuide_Content_5_QAB_ANS {
	position: relative;
	margin: 0 auto 0 auto;
	top: 0px;
	width: 810px;
	background-image:url(UG_content_5_QAB_BG.jpg);
}
.UserGuide_Content_5_QAB_ANS_pic {
	float:left;
	top: 0px;
	width: 54px;
	height: 57px;
	background-image:url(UG_content_5_QAB_ANS.jpg);
}
.UserGuide_Content_5_QAB_ANS_CTN {
	float:left;
	top: 0px;
	width: 740px;
	font-size:14px;
}
.UserGuide_Content_5_QAB_ANS_CTN p{
	padding-top:14px;
}
.UserGuide_Content_5_QAB_ANS_clear {
	clear:both;
}
.UserGuide_Content_5_QAB_END {
	position: relative;
	margin: 0 auto 0 auto;
	top: 0px;
	width: 810px;
	height: 13px;
	background-image:url(UG_content_5_QAB_END.jpg);
}
.UserGuide_Content_5_clear {
	padding: 20px;
	clear:both;
}
#UserGuide_End_1 {
	left: 0px;
	top: 835px;
	width: 920px;
	height: 25px;
	background-image: url(UG_End.png);
}
#UserGuide_End_2 {
	left: 0px;
	top: 2222px;
	width: 920px;
	height: 25px;
	background-image: url(UG_End.png);
}
#UserGuide_End_3 {
	left: 0px;
	top: 1740px;
	width: 920px;
	height: 25px;
	background-image: url(UG_End.png);
}
#UserGuide_End_4 {
	left: 0px;
	top: 1144px;
	width: 920px;
	height: 25px;
	background-image: url(UG_End.png);
}
#UserGuide_End_5 {
	bottom: 0px;
	width: 920px;
	height: 25px;
	background-image: url(UG_End_5.png);
}
#UserGuide_ContentP1 {
	position:absolute;
	width:146px;
	height:32px;
	z-index:1;
	left: 583px;
	top: 294px;
	font-size: 15px;
	font-family: "微軟正黑體";
	font-weight: bold;
}
#UserGuide_ContentC1 {
	position:absolute;
	width:155px;
	height:30px;
	z-index:1;
	left: 665px;
	top: 327px;
	font-family: "微軟正黑體";
	font-size: 15px;
	font-weight: bold;
	color: #000;
}
#UserGuide_Content_Question {
	position:relative;
	width:920px;
	height:500px;
	z-index:1;
	font-family: "微軟正黑體";
	font-size: 28px;
	font-weight: normal;
	color: #333;
}
#UserGuide_Content_QuestionA {
	position:relative;
	width:486px;
	height:auto;
	z-index:1;
	font-family: "微軟正黑體";
	font-size: 24px;
	color: #333;
	float: left;
	padding-left: 10px;
}
#UserGuide_Content_QuestionB {
	position:relative;
	width:422px;
	height:auto;
	z-index:1;
	text-indent: 0px;
	float: right;
}
.UCQ{
	list-style-position: outside;
	list-style-type: none;
	font-size: 15px;
	font-family: "微軟正黑體";
	font-weight: bold;
	color: #666;

}
#UserGuide_Content_Question a:link{
	color:#666;
	text-decoration: none;
	font-size: 15px;
	font-family: "微軟正黑體";
}
#UserGuide_Content_Question a:visited{color:#666; text-decoration: none; font-size: 15px;
	font-family: "微軟正黑體";}
#UserGuide_Content_Question a:hover{
	color:#333;
	text-decoration: underline;
	font-size: 15px;
	font-family: "微軟正黑體";
}
#UserGuide_Content_Question a:active{
	color:#666;
	text-decoration: none;font-size: 15px;
	font-family: "微軟正黑體";}
	
.UserGuide_TOP {
	float:left;
	width:55px;
	height:37px;
	z-index:1;
	margin-top: 15px;
	position: relative;
	left: 0px;
	margin-left: auto;
}
.UCQTitle{
	list-style-position: outside;
	list-style-type: none;
	font-size: 28px;
	font-family: "微軟正黑體";
	font-weight: bold;
	color: #000;

}
