@charset "utf-8";
/* CSS Document */
.Encore {
	margin:0px;
	top:-440px;
	left:0px;
	width:450px;
	height:445px;
	z-index:2;
	position: relative;
	float: left;
}
.Encore_BG {
	background:url(encore_BG.png);
	width:450px;
	height:445px;
	z-index:3;
}
.Encore_Button {
	position:absolute;
	top:278px;
	left:0px;
	width:150px;
	height:143px;
	z-index:4;
}
.Encore_Button_Info {
	position:absolute;
	top:0px;
	left:110px;
	width:450px;
	padding:5px;
	background-color:#FFF;
	border:solid 1px #333;
	font-size:14px;
	color:#333;
	z-index:5;
}
.Encore_Label {
	position:absolute;
	top:352px;
	left:158px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:66px;
	color:#F00;
	z-index:6;
}


