@charset "utf-8";
/* CSS Document */
#FbConten {
	height: auto;
	width: 867px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-bottom: 15px;
}
#fbTop {
	background-image: url(FbActivities_01.jpg);
	height: 126px;
	width: 867px;
}
#fbCenBg {
	background-image: url(FbActivities_02.jpg);
	height: 455px;
	width: 867px;
	background-repeat: no-repeat;
}
#fbText {
	background-image: url(FbActivities_03.jpg);
	height: auto;
	width: 867px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#text {
	font-family: Verdana, Geneva, sans-serif,"微軟正黑體";
	font-size: 16px;
	line-height: 23px;
	color: #666;
	width: 700px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: 0.06em;
	background-color: #FFF;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}
#text a:link{
	text-decoration: none;
	color: #71C400;
}
#text a:visited{
	text-decoration: underline;
	color: #71C400;
}
#text a:hover{
	text-decoration: underline;
	color: #71C400;
}
#text a:active{
	color: #71C400;
	text-decoration: none;
}
#fbEnd {
	background-image: url(FbActivities_05.jpg);
	height: 437px;
	width: 867px;
}
#fbText2 {
	width: 685px;
	padding-top: 32px;
	padding-bottom: 15px;
	position: relative;
	left: 92px;
}
.fbDOA{
	list-style-position: outside;
	list-style-type: none;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif,"微軟正黑體";
	font-weight: bold;
	color: #666;
	line-height: 32px;
	letter-spacing: 0.06em;
}
.text_Red{
	color: #F00;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif,"微軟正黑體";
}
#Life_Fans {
	height: 25px;
	width: 173px;
	position: relative;
	left: 100px;
	top: -12px;
}
#Share_Friends {
	height: 25px;
	width: 200px;
	position: relative;
	top: -8px;
	left: 79px;
}
#bottom {
	width: 280px;
	margin-left: 378px;
	position: relative;
	top: 21px;
	height: 75px;
}
#FbArrow1{
	height: 14px;
	width: 20px;
	position: relative;
	top: 5px;
	left: 22px;
}
#FbArrow2{
	height: 14px;
	width: 20px;
	position: relative;
	top: 8px;
}
