body {
	margin:0px;
	padding:0px;
	background-color:#E1F2FA;
}
a:link{
	text-decoration: none;
	color: #008080;
}
a:visited{
	text-decoration: none;
	color: #008080;
}
a:hover{
	text-decoration: underline;
	color: #008080;
}
a:active{
	color: #008080;
	text-decoration: none;
}
#N17MemberLogin {
	position:relative;
	margin:30px auto 0 auto;
	width:814px;
	font-size:12px;
}
#N17ML_Top {
	position:relative;
	width:814px;
	height:97px;
}
#N17ML_Content {
	position:relative;
	width:814px;
	background:url(A17ML_BG.png);
}
#N17ML_Note {
	position:relative;
	width:814px;
	text-align:center;
	font-size:12px;
	color:#F00;
}
#N17ML_End {
	position:relative;
	width:814px;
	height:18px;
	background:url(A17ML_End.png);
}
.IDConnecter {
	position:relative;
	width:500px;
}
.IDC_Top {
	position:relative;
	height:43px;
	background-image:url(IDC_Top.png);
}
.IDC_Content {
	position:relative;
	background-image:url(IDC_BG.png);
}
.IDCC_Info {
	float:left;
	margin:10px;
	width:480px;
	font-size:14px;
}
.IDCC_MultiLogin {
	float:left;
	margin:10px;
	width:230px;
}
.IDCC_nonLink {
	float:left;
	margin:10px;
	padding-top:8px;
	width:230px;
	font-size:13px;
}
.IDC_End {
	position:relative;
	height:10px;
	background-image:url(IDC_End.png);
}
.MultiLogin {
	position:relative;
	width:430px;
	margin:0 auto 0 auto;
}
.ML_Top {
	position:relative;
	width:430px;
	height:43px;
	background-image:url(ML_Title.png);
}
.ML_Content {
	position:relative;
	width:430px;
	background-image:url(ML_BG.png);
}
.MD {
	float:left;
	margin:5px 14px 4px;
	width:400px;
	height:40px;
	border:dashed 1px;
}
.B_Payeasy {
	border-color:#FE1174;
}
.B_Facebook {
	border-color:#637BAD;
}
.B_Google {
	border-color:#676767;
}
.B_Yahoo {
	border-color:#5F2770;
}
.B_WLID {
	border-color:#91BFF9;
}
.B_Signup {
	border-color:#FE7811;
}
.MD_Content {
	float:left;
	color:#333;
	font-size:14px;
}
.MD_Btn {
	float:right;
	width:165px;
	height:22px;
	margin:9px;
}
.ML_End {
	position:relative;
	width:430px;
	height:10px;
	background-image:url(ML_End.png);
}
.clear {
	clear:both;
}
#N17_footer {
	position:relative;
	width:800px;
}
.ML_TopFB {
	position:relative;
	width:430px;
	height:43px;
	background-image:url(ML_TitleFB2.png);
	background-repeat: no-repeat;
}
.MFB {
	float:left;
	margin:5px 14px 4px;
	width:400px;
	height:40px;
	border:dashed 1px;
}
.FB_EMail {
	border-color:#000;
}
.MFB_EMailContent {
	float:left;
	color:#333;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif, "Arial Unicode MS", "Adobe ¶ÂÊ^ Std R";
	line-height: 40px;
	font-weight: bold;
	text-indent: 69px;
}
.MFB_EMailContent2 {
	float:left;
	color:#333;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif, "Arial Unicode MS", "Adobe ¶ÂÊ^ Std R";
	line-height: 40px;
	text-indent: 19px;
	font-weight: bold;
}
.MFB_EMailField {
	width:230px;
	height:22px;
	float: right;
	margin-top: 9px;
	margin-right: 17px;
	margin-bottom: 9px;
	margin-left: 7px;
}
.MFB_17Life {
	width:420px;
	height:20px;
	z-index:1;
	float: right;
	font-family: Arial, Helvetica, sans-serif, "Arial Unicode MS", "Adobe ¶ÂÊ^ Std R";
	font-size: 13px;
	color: #F36;
	text-indent: 8px;
	margin-top: 3px;
}
.MFBEMailBtn {
	width:70px;
	height:30px;
	z-index:1;
	float: none;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
.MFBEMailBtnCancel {
	width:70px;
	height:30px;
	z-index:1;
	float: right;
	padding-right: 100px;
}
.MFBEMailMerge {
	width:110px;
	height:30px;
	z-index:1;
	float: left;
	padding-left: 100px;
}
.ML_FBto17 {
	position:relative;
	width:430px;
	height:43px;
	background-image:url(ML_Title_ESTFB.png);
}
.ML_PEZto17 {
	position:relative;
	width:430px;
	height:43px;
	background-image:url(ML_Title_MergePEZ.png);
}
.MFB_Email_Mes {
	width:356px;
	height:25px;
	z-index:1;
	left: 0px;
	top: 197px;
	float: left;
	font-size: 14px;
	font-weight: normal;
	color: #F00;
	text-indent: 20px;
}
.MFB_EST_Explain {
	width:400px;
	height:auto;
	z-index:1;
	font-size: 14px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif, "Arial Unicode MS", "Adobe ¶ÂÊ^ Std R";
	font-weight: normal;
	padding-left: 35px;
	padding-top: 3px;
}
.M_MergeEmail {
	width:258px;
	height:auto;
	z-index:1;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	color: #408080;
	clear: both;
	margin: 0px auto;
}
.M_Merge {
	width:auto;
	height:auto;
	z-index:1;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	color: #408080;
	margin-bottom: 0px;
	float: left;
}
.M_MergeX {
	width:400px;
	height:20px;
	z-index:1;
	float: right;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #333;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.MFB_MergeBtn {
	color:#333;
	font-size:14px;
	padding-left: 35px;
	padding-top: 16px;
	float: left;
	font-weight: bold;
}
.M_MergeChoose {
	position:relative;
	width:430px;
	height:43px;
	background-image:url(ML_Title_Merge.png);
}
.MFB_PEZ {
	float:left;
	margin:5px 14px 4px;
	width:400px;
	height:40px;
	border: 1px dashed #309;
}
.M_Mergeinfo {
	width:350px;
	height:auto;
	z-index:1;
	float: left;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	color: #408080;
	padding-left: 20px;
}
.M_CHFB {
	float:left;
	margin:5px 14px 4px;
	width:400px;
	height:40px;
	border: 1px dashed #009;
}
.M_CHPEZ {
	float:left;
	margin:5px 14px 4px;
	width:400px;
	height:40px;
	border: 1px dashed #F06;
}
.M_CHMergeBtn {
	float:left;
	color:#333;
	font-size:14px;
	padding-left: 20px;
	padding-top: 8px;
}
.page{
	width: 800px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}
.p_2{
     padding-top: 20px;
     text-align: center;
}
.tw_2 {
	color:#666666;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:16px;
	line-height:20px;

	margin-top:10px;
	padding-left:20px;
	text-align:center;
}
.tw_3 {
	margin:10px 17px 0 19px;
	padding:20px 10px 55px 0;
	background-color:#FFF7FB;
	border:1px solid #FFC8E3;
}
.tw_3 ul {margin:0px;padding:0px;}
.tw_3 li {margin-left:20px;padding-left:20px;font-family:Verdana,Arial,Helvetica,sans-serif;list-style-type:none;font-size:13px;line-height:30px;color:#4b4b4b;list-style-type:none;}
.tw_3 li a:link, .tw_3 li a:visited {color:#224099;text-decoration:underline;}
.tw_3 li a:hover {color:#D85B1E;text-decoration:underline;}
.tw_4 {
	background-color:#F9F9F9;
	text-align:center;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-color:#cccccc;
	border-bottom-color:#cccccc;
	border-left-color:#cccccc;
	margin-top: 0;
	margin-right: 17px;
	margin-bottom: 10px;
	margin-left: 19px;
	padding-top: 25px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}
.tw_5 {margin-top:10px;margin-left:30px;font-weight:bold;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;line-height:20px;color:#746161;text-align:left;}
.tw_6 {margin:0px 0 10px 0;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;}
.tw_6 a:link, .tw_6 a:visited {color:#224099;text-decoration:none;}
.tw_6 a:hover {position:relative;top:1px;color:#D85B1E;text-decoration:none;}
.tw_6_1 {margin:0px 0 10px 0;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;}

.s_1 {font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:#FF0000;text-decoration:none;}
.s_2 {font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;}
.s_3 {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#7f7f7f;text-decoration:none;}
.s_4 {margin:4px 4px 0 4px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#666666;text-decoration:none; width:180px; height:18px;}
.s_4_1 {margin:4px 4px 0 4px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#666666;text-decoration:none;}
.s_5 {margin:4px 4px 0 4px;padding:10px 0 0 10px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;line-height:20px;color:#776262;text-decoration:none;}

#p_1 {
	width:208px;
	height:auto;
	z-index:1;
	left: 0px;
	top: 0px;
	float: right;
	margin-top: -29px;
	margin-right: 281px;
}
#p_1 a:link{
	color:#008080;
	text-decoration: none;
}
#p_1 a:visited{color:#008080; text-decoration: none; }
#p_1 a:hover{color:#008080; text-decoration: underline; }
#p_1 a:active{
	color:#008080;
	text-decoration: none;
}
.P_Add_invoice {
	color:#008080;
	font-weight: bold;
}
.P_Explain_red {
	color:#F00;
}
#Address_invoice {
	width:600px;
	height:auto;
	z-index:1;
	margin-top: 65px;
}
.ML_17LifeTitle {
	position:relative;
	width:430px;
	height:43px;
	background-image:url(ML_Title_Merge17Life.png);
}
.MT {
	width:190px;
	height:auto;
	margin-top: 5px;
	margin-right: 14px;
	margin-bottom: 4px;
	margin-left: 14px;
	float: right;
}
.IN{
   width:165px;	
   height:auto;
   padding: 5px;
}
.Tipred{
	color:#F00;
	font-size: 14px;
	font-weight: bold;
}
