@charset "utf-8";
/* CSS Document */

.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
#Numberplate_content {
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 25px;
	color: #333;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	height: auto;
	letter-spacing: 0.1em;
	float: none;
	background-image: url(Numberplate_bg2.png);
	background-repeat: repeat-y;
}
#Nbp_number_in {
	height: auto;
	width: 870px;
	margin-right: auto;
	margin-left: auto;
}
#Nbp_title {
	height: 36px;
	width: 592px;
	font-size: 22px;
	font-weight: bold;
	line-height: 35px;
	color: #FFF;
	background-image: url(Numberplate1.png);
	margin-left: 20px;
	padding-left: 15px;
	background-repeat: no-repeat;
	font-family: "微軟正黑體";
}
#Nbp_number {
	height: 168px;
	width: 870px;
	margin-top: 15px;
	background-image: url(Numberplate2.png);
	background-repeat: no-repeat;
	padding-top: 32px;
	margin-bottom: -32px;
}
#Nbp_explain {
	height: auto;
	background-color: #F8F1FF;
	color: #333;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
}
#Nbp_explain ol{
	list-style-image: url(Numberplate3.png);
}
#Nbp_FB {
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	padding-left: 160px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #069;
	width: auto;
}

#Nbp_Record_title {
	height: auto;
	width: 860px;
	padding: 5px;
	background-color: #FEE;
	margin-right: auto;
	margin-left: auto;
	border: 2px dashed #F99;
	margin-top: 20px;
	font-family: "微軟正黑體";
}
.Nbp_Record {
	height: 35px;
	width: 300px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.Nbp_Record_date {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #F60;
	height: auto;
	width: 130px;
	float: left;
}
.Nbp_Record_text {
	width: auto;
	float: left;
	margin-left: 15px;
	font-family: "微軟正黑體";
}
#Nbp_Example {
	font-family: "微軟正黑體";
	width: 850px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	background-image: url(Numberplate4.png);
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-right-color: #F99;
	border-bottom-color: #F99;
	border-left-color: #F99;
	padding-right: 10px;
	padding-left: 10px;
	
}
.Number {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 80px;
	font-weight: bold;
	color: #F00;
	text-align: center;
	height: 100px;
	width: 100px;
	float: left;
	background-color: #FFF;
	line-height: 100px;
	margin-right: 10px;
	margin-left: 10px;
	_margin-right: 9px;/*<ie6>*/
	_margin-left: 9px;/*<ie6>*/
}
.Nbp_text1{
	font-size: 40px;
	font-weight: bold;
	color: #FFF;
	height: auto;
	width: 50px;
	text-align: center;
	float: left;
	line-height: 50px;
	_line-height: 55px;/*<ie6>*/
	margin-top: 25px;
	margin-left: 70px;
	margin-right: 15px;
	_margin-left: 35px;/*<ie6>*/
	_margin-right: 18px;/*<ie6>*/
}
.Nbp_text2{
	font-size: 40px;
	font-weight: bold;
	color: #FFF;
	height: auto;
	width: 50px;
	text-align: center;
	float: left;
	line-height: 50px;
	_line-height: 55px;/*<ie6>*/
	margin-top: 25px;
	margin-left: 18px;
	_margin-left: 24px;/*<ie6>*/
}
#Life_Fans {
	height: 25px;
	width: 350px;
	float: left;
}
.Life_text {
	height: 25px;
	width: 250px;
	float: left;
	color: #069;
	font-size: 16px;
}
#Share_Friends {
	height: 25px;
	width: 350px;
	float: left;
}
#Fans {
	height: auto;
	width: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}
#Share_Friends_in {
	float: left;
	height: auto;
	width: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.text_red{
	color:#F00;
	font-weight:bold;
	font-size: 20px;
}
.text_yellow{
	background-color:#F9F900;
	font-family: "微軟正黑體";
}
#Numberplate_content_top {
	background-image: url(Numberplate_bg-top.png);
	background-repeat: no-repeat;
	height: 24px;
}
#Numberplate_content_in {
	background-image: url(Numberplate_cen.png);
	background-repeat: repeat-y;
}
#Numberplate_content_bot {
	background-image: url(Numberplate_bot.png);
	background-repeat: no-repeat;
	height: 22px;
}
#pic {
	height: 154px;
	width: 212px;
	float: right;
	background-image: url(17-JI-pic.png);
}
.awards {
	width:40px;
	height:44px;
	z-index:1;
	background-image: url(awards.png);
	background-repeat: no-repeat;
	float: right;
}
#Nbp_end-btn {
	height: 85px;
	width: 509px;
	position: relative;
	z-index: 1;
	left: 55px;
	bottom: 130px;
	margin-bottom: -85px;
}
