﻿@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.BizLogic.Model
@using LunchKingSite.Core
@using LunchKingSite.Core.Enumeration
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model ManageVendorModel
@{
    ViewBag.Title = "VendorManagement";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}
@{ 
    bool ShoppingCartEnabled = (bool)(ViewBag.ShoppingCartEnabled ?? false);
}


<div id="tabs">
    <ul class="tabMenu">
        <li><a href="@Url.Action("SearchVendor")" id='vendorManagement'>新增與查詢</a></li>
        <li><a href="#tabs-2">帳號與權限管理</a></li>
    </ul>
       
    <div id="tabs-1">
    </div>

    <div id="tabs-2">
        @*
        搜尋 form
        *@
        <form action="@Url.Action("ManageVendor")" method="post" id="accountSearchForm">
            <select name="AccountSearchOption">
                <option value="AccountId" @Html.Raw(Model.AccountSearchOption == ManageVendorSearchOption.AccountId ? "selected='selected'" : string.Empty)>帳號</option>
                <option value="AccountName" @Html.Raw(Model.AccountSearchOption == ManageVendorSearchOption.AccountName ? "selected='selected'" : string.Empty)>帳號名稱</option>
                <option value="BindAccount" @Html.Raw(Model.AccountSearchOption == ManageVendorSearchOption.BindAccount ? "selected='selected'" : string.Empty)>自訂帳號</option>
            </select>
            <input type="text" name="AccountSearchExpression" value="@Model.AccountSearchExpression" />
            <input type="submit" value="搜尋" />
        </form>

        @*
        帳號搜尋多選一 form
        *@
        @{
            if (Model.State == ManageVendorAccountState.MultipleAccounts
                || (Model.State == ManageVendorAccountState.SingleAccount && Model.SearchedAccounts != null)
                )
            {
                @RenderAccountSelectionForm(Model.SearchedAccounts)
            }
        }
        

        @*
        變更基本資料 form
        *@
        @{
            var isManageAccountRight = CommonFacade.IsInSystemFunctionPrivilege(User.Identity.Name,
                                                SystemFunctionType.ManageVendorAccountAuthority);
            var isVendorAccountSimulate = CommonFacade.IsInSystemFunctionPrivilege(User.Identity.Name,
                                                    SystemFunctionType.VendorAccountSimulate);
            var isVendorAccountSimulateByEmployee = CommonFacade.IsInSystemFunctionPrivilege(User.Identity.Name,
                                                    SystemFunctionType.VendorAccountSimulateByEmployee);
            if (Model.State == ManageVendorAccountState.SingleAccount)
            {
                <form id="accountInfoForm">

                    <label for="account">帳號：</label>
                    <span>@Model.AccountId</span>&nbsp;&nbsp;
                    <input type="hidden" name="AccountId" value='@Model.AccountId' />
                    <br />
                    @if (isVendorAccountSimulate)
                    {
                        <input type="button" name="VendorAccountSimulate" value="模擬為此商家登入商家系統" style="color:blue;" onclick="vendorAccountSimulate(true)" />
                        <br />
                    }
                   
                    @if (isVendorAccountSimulateByEmployee)
                    {
                        <input type="button" name="VendorAccountSimulate" value="模擬為此商家登入商家系統(內部人員)" style="color:blue;" onclick="vendorAccountSimulate(false)" />
                        <br />
                    }
                    
                    @if (isVendorAccountSimulate || isVendorAccountSimulateByEmployee)
                    {
                        <span style="color:red;font-weight:bold;font-size:10pt">此功能將使用商家身分登入商家系統，請謹慎使用。<br />若已有使用其他帳號登入商家系統；將會將該身分覆蓋為目前之商家帳號身分，為避免登入使用異常；模擬前請先登出商家系統。</span>
                        <br />
                        <br />
                    }
                   

                    <label style="margin-top:10px;" for="name">自訂帳號：</label>
                    <input id="bindAccount" type="text" name="BindAccount" value='@(string.IsNullOrEmpty(Model.BindAccount) ? "輸入EMAIL或是手機號碼(ex.0911222333)" : Model.BindAccount)' style="width:400px;" onfocus="this.value=''" @((string.IsNullOrEmpty(Model.BindAccount)) ? "" : "disabled") />
                    <input type="hidden" id="isBind">
                    @if (string.IsNullOrEmpty(Model.BindAccount))
                    {
                        <input type="button" value="綁定" onclick="bindAccountClick(true);" style="margin-left: 10px;" /><br />
                    }
                    else
                    {
                        <input type="button" value="解除綁定" onclick="unbindAccountClick();" style="margin-left: 10px;" /><br />
                        <span>綁定帳號資訊：@Model.BindAccount</span> <br />
                    }
                    <span style="color:red">自訂帳號僅限於已認證過的17Life會員或手機號碼</span>

                    <br />
                    <br />

                    <label style="margin-top:10px;" for="name">帳號名稱：</label>
                    <input id="name" type="text" name="AccountName" value='@Model.AccountName' style="width:400px;" />
                    <br />


                    <label>重設密碼：</label>
                    <input type="checkbox" id="resetPassword" name="ResetPassword" value="true" />
                    <input id="password" name="Password" disabled="disabled" maxlength="12" />
                    <span class="backEndTip">6~12碼</span><br />

                    <input id="hasInspectionCode" type="checkbox"
                           name="HasInspectionCode" value="true"
                           @Html.Raw(Model.HasInspectionCode ? "checked='checked'" : string.Empty) />
                    <label for="hasInspectionCode">使用查帳碼</label><br />

                    <label>重設查帳碼：</label>
                    <input type="checkbox" id="resetInspectionCode" name="ResetInspectionCode" value="true" />
                    <input id="inspectionCode" name="InspectionCode" disabled="disabled" maxlength="12" />
                    <span class="backEndTip">6~12碼</span><br />
                    <div style="padding:10px 0px 10px 0px;">                        
                        <fieldset style="-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;">
                            <legend>商家系統設定</legend>
                            <table class="jtable" style="display:inline;">
                                <tr>
                                    <td style="width:90px;">店家屬性*</td>
                                    <td><input type="checkbox" id="viewToShop" name="ViewToShop" value="true" @Html.Raw(Model.ViewToShop ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? "onclick='vbsSystemDefaultSetting(this);'" : "onclick ='return false;'") /><label for="viewToShop">在地憑證</label></td>
                                    <td><input type="checkbox" id="viewToHouse" name="ViewToHouse" value="true" @Html.Raw(Model.ViewToHouse ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? "onclick='vbsSystemDefaultSetting(this);'" : "onclick ='return false;'") /><label for="viewToHouse">宅配商品</label></td>
                                </tr>
                                <tr>
                                    <td>開通功能*</td>
                                    <td style="vertical-align:text-top; width:200px;">
                                        <input type="checkbox" class="viewToShopChk defaultChk" id="viewVerifyRight" name="ViewVerifyRight" value="true" @Html.Raw(Model.ViewVerifyRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") /><label for="viewVerifyRight">線上核銷與核銷查詢</label><br />
                                        <input type="checkbox" class="viewToShopChk defaultChk" id="viewUserEvaluateRight" name="ViewUserEvaluateRight" value="true" @Html.Raw(@Model.ViewUserEvaluateRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") /><label for="viewUserEvaluateRight">評價系統</label><br />
                                        <input type="checkbox" class="viewToShopChk" id="viewBookingRight" name="ViewBookingRight" value="true" @Html.Raw(@Model.ViewBookingRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") /><label for="viewBookingRight">預約管理</label><br />
                                        <input type="checkbox" class="viewToShopChk" id="viewReserveLockRight" name="ViewReserveLockRight" value="true" @Html.Raw(@Model.ViewReserveLockRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") /><label for="viewReserveLockRight">憑證鎖定</label>
                                    </td>
                                    <td style="vertical-align:text-top; width:200px;">
                                        <input type="checkbox" class="viewToHouseChk defaultChk" id="viewShipRight" name="ViewShipRight" value="true" @Html.Raw(Model.ViewShipRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") /><label for="viewShipRight">出貨與退換貨管理</label><br />
                                        <span style="display:@(LunchKingSite.BizLogic.Facade.ProposalFacade.IsVbsProposalNewVersion() ? "": "none")">
                                            <input type="checkbox" class="viewToHouseChk defaultChk" id="viewProposalProductRight" name="ViewProposalProductRight" value="true" @Html.Raw(Model.ViewProposalProductRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") /><label for="viewProposalProductRight">商品與庫存管理</label><br />
                                        </span>
                                        <input type="checkbox" class="viewToHouseChk defaultChk" id="viewProposalRight" name="ViewProposalRight" value="true" @Html.Raw(Model.ViewProposalRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") /><label for="viewProposalRight">提案功能</label><br />
                                        <input type="checkbox" class="viewToHouseChk" id="viewWmsRight" name="ViewWmsRight" value="true" @Html.Raw(Model.ViewWmsRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") disabled="disabled"/><label for="viewWmsRight">24H到貨倉儲配送</label><br />
                                        <span style="display:@(ShoppingCartEnabled ? "": "none")">
                                            <input type="checkbox" class="viewToHouseChk" id="ViewShoppingCartManageRight" name="ViewShoppingCartManageRight" value="true" @Html.Raw(Model.ViewShoppingCartManageRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") /><label for="ViewShoppingCartManageRight">購物車管理</label>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>制定功能*</td>
                                    <td colspan="2">
                                        <input type="checkbox" class="shared defaultChk" id="viewBalanceSheetRight" name="ViewBsRight" value="true" @Html.Raw(Model.ViewBsRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") /><label for="viewBalanceSheetRight">對帳查詢*</label>
                                        <input type="checkbox" class="shared defaultChk" id="viewAccountManageRight" name="ViewAccountManageRight" value="true" @Html.Raw(Model.ViewAccountManageRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") /><label for="viewAccountManageRight">帳戶管理與維護*</label>
                                        <input type="checkbox" class="shared defaultChk" id="viewCustomerServiceRight" name="ViewCustomerServiceRight" value="true" @Html.Raw(Model.ViewCustomerServiceRight ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") /><label for="viewCustomerServiceRight">客戶案件管理*</label>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                    <div style="margin:0.5em 0;">
                        <label>熟客系統設定：</label>
                        <div style="margin-left:1em;">
                            <label>
                                <input type="radio" id="admin" name="VendorRole" value="1" @Html.Raw(Model.VendorRole == 1 ? "checked" : "") />
                                管理者帳號（可使用完整功能）
                            </label>
                            <label>
                                <input type="radio" id="employee" name="VendorRole" value="2" @Html.Raw(Model.VendorRole == 2 ? "checked" : "") />
                                員工帳號（僅可使用核銷功能）
                            </label>
                            <button id="clearVendorRole" type="button">取消PCP功能設定選擇</button>
                        </div>
                        <div style="margin-top:0.5em;margin-left:1em;">
                            @{
                                int seq = 1;
                                int totalLength = Enum.GetValues(typeof(VbsMembershipPermissionScope)).Cast<VbsMembershipPermissionScope>().Distinct().Count();
                                string disabledProp = (Model.VendorRole == (int)VendorRole.PcpAdmin || Model.VendorRole == (int)VendorRole.PcpEmployee) ? string.Empty : "disabled";
                                foreach (VbsMembershipPermissionScope scope in Enum.GetValues(typeof(VbsMembershipPermissionScope)))
                                {
                                    <input type="checkbox" id="chk@(scope)" class="scopeCheckbox" value="@Convert.ToInt32(scope)" @Html.Raw(VBSFacade.CheckVbsMembershipPermissionScope(Model.AccountId, scope) ? "checked='checked'" : string.Empty) @Html.Raw(isManageAccountRight ? string.Empty : "onclick='return false;'") @Html.Raw(disabledProp) />
                                    <label for="chk@(scope)">@Helper.GetEnumDescription(scope)</label>
                                    if (seq % 6 == 0 && seq != totalLength)
                                    {
                                        <br />//6個一列
                                    }
                                    seq++;
                                }
                            }
                            <input type="hidden" id="permissionScopes" name="PermissionScopes" />
                        </div>
                    </div>
                    <div>
                        <label>身份/權限：</label>
                        <table class="jtable" style="display: inline; width: 600px;">
                            <thead>
                                <tr>
                                    <th style="width: 300px;">身份</th>
                                    <th style="width: 100px;">權限層級</th>
                                    <th style="width: 100px;">允許讀取</th>
                                    <th style="width: 50px;">清除</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model.AccountIdentity)
                                {
                                    <tr>
                                        <td>
                                            @Html.Raw(m.IdentityDesc)
                                        </td>
                                        <td>
                                            @Html.Raw(m.ResourceTypeDesc)
                                        </td>
                                        <td style="text-align: center">
                                            @Html.Raw(m.IsAllow ? "是" : "否")
                                        </td>
                                        <td style="text-align: center">
                                            <input type="checkbox" id="clearCheck" value="@m.ResourceAclId" @Html.Raw(isManageAccountRight ? string.Empty : "disabled") />
                                            <input type="hidden" id="clearAclIds" name="ClearAclIds" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <input type="button" value="儲存變更" onclick="modifyAccountInfo();" style="margin-left: 10px;" />
                </form>

                <hr />
            }
                                    }
        
        

        <div>
        @{
            if (Model.State == ManageVendorAccountState.SingleAccount)
            {
                    <h4>權限管理</h4>
                    <div style="margin-top: 20px; margin-bottom: 20px;">
                        <fieldset style="-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; font-size: small;">
                            <legend >操作小提示</legend>
                            <span style="line-height: 40px;">操作項示意：<div style="display: inline-block; width:15px; vertical-align: middle; margin-right:3px;"><img style="margin-bottom: 5px;" src="@Url.Content("~/Images/checked.jpg")" /><img src="@Url.Content("~/Images/partial_checked.jpg")" /></div>現有權限／<div style="display: inline-block; width:15px; vertical-align: middle; margin-right:3px;"><img src="@Url.Content("~/Images/unchecked.jpg")" /></div>取消現有權限</span>
                            <ol>
                                <li>未顯示操作項，表示尚未有權限，請到新增權限中做新增。</li>
                                <li>勾選賣家時，會連動勾選賣家底下的所有分店與檔次；勾選分店時，會連動勾選分店底下的所有檔次。</li>
                                <li>連動勾選後，若只取消部分分店或檔次權限，上層的示意項<img src="@Url.Content("~/Images/checked.jpg")" />會轉為<img src="@Url.Content("~/Images/partial_checked.jpg")" />表示。</li>
                                <li>＂取消勾選＂意同取消權限；取消勾選後，請按下［儲存變更］按鈕，異動才會生效。</li>
                            </ol>
                        </fieldset>
                    </div>

                if (Model.CurrentPermissions != null)
                                    {
                    <input type="button" value="儲存變更" style="display:@Html.Raw(isManageAccountRight ? string.Empty : "none")" onclick="changePermissions()" />
                }
                    <a href='@Url.Content(string.Format("{0}?acct={1}", Url.Action("ManageVendorAcl"), Model.AccountId))' style="text-decoration: none;">
                        <input type="button" value="新增權限" style="display:@Html.Raw(isManageAccountRight ? string.Empty : "none")" />
                    </a>
            
                if (Model.CurrentPermissions != null)
                {
                    var groupedPermissions = Model.CurrentPermissions.GroupBy(perm => perm.SellerGuid).ToList();
                    foreach (IGrouping<Guid, VbsVendorAce> bySellerPerm in groupedPermissions)
                    {
                            @RenderSellerGroup(bySellerPerm.ToList())
                    }
                }
                    
                    <form id="denyPermissionForm">
                    @if (Model.CurrentPermissions != null)
                    {
                        <input type="button" value="儲存變更" style="display:@Html.Raw(isManageAccountRight ? string.Empty : "none")" onclick="changePermissions()" />
                        <a href='@Url.Content(string.Format("{0}?acct={1}", Url.Action("ManageVendorAcl"), Model.AccountId))' style="text-decoration: none;">
                            <input type="button" value="新增權限" style="display:@Html.Raw(isManageAccountRight ? string.Empty : "none")" />
                        </a>
                    }
                        <input type="hidden" name="AccountId" value='@Model.AccountId' />        
                        <input type="hidden" id="allows" name="Allows" />
                        <input type="hidden" id="denies" name="Denies" />
                        <input type="hidden" id="noDenies" name="NoDenies" />
                    </form>
                    
            }
        }
        </div>
    </div>


</div>

@*自訂帳號綁定/解除綁定*@
<div id="bindComplete" title="綁定成功" style="display:none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        帳號綁定成功！商家已可以輸入綁定的帳號(手機)進入商家系統。
    </p>
</div>
<div id="unbindComplete" title="解除綁定成功" style="display:none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        解除成功！您可以再次利用綁定其他17Life認證過的帳號或密碼。
    </p>
</div>
<div id="bindCheck" title="請確認" style="display:none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        注意！<br />
        一但解除綁定，原來的自訂帳號就無法進入商家系統囉！
    </p>
</div>
<div id="bindFailForNotExsit" title="錯誤訊息" style="display:none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        綁定失敗！請重新確認輸入的帳號(手機)是否為17LIFE認證過，再進行輸入、執行綁定。
    </p>
</div>
<div id="bindFailForRepeat" title="綁定失敗" style="display:none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        綁定失敗！您輸入的帳號(手機)重覆綁定，請重新確認，或以另一組帳號(手機)進行。
    </p>
</div>

@section SSC{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")"/>    
    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-ui-css-styler.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/AclHelper.js")"></script>
    <script type="text/javascript">
        var firstTimeResetPassword = true;
        var firstTimeResetInspectionCode = true;
        $(document).ready(function () {
            $('#tabs').tabs({
                select: function (event, ui) {
                    var url = $.data(ui.tab, 'load.tabs');
                    if (url) {
                        location.href = url;
                        return false;
                    }
                    return true;
                }
            });
            $('#tabs').tabs('select', 1);
            $('#tabs').width($(window).width() - $('#menuPanel').width() - 20); //menuPanel: 左方功能列表的 div

            $('#resetPassword').change(function () {
                if ($(this).is(':checked')) {
                    $('#password').removeAttr('disabled');
                    if (firstTimeResetPassword) {
                        $('#password').val('123456');
                        firstTimeResetPassword = false;
                    }
                } else {
                    $('#password').attr('disabled', 'disabled');
                }
            });

            //工具列開啟權限勾選[對帳單查詢] 才開放設定使用查帳碼功能
            $('#viewBalanceSheetRight').change(function () {
                if (!$('#viewBalanceSheetRight').is(':checked')) {
                    $('#hasInspectionCode').attr("checked", false);
                    $('#hasInspectionCode').change();
                    $('#hasInspectionCode').attr('disabled', 'disabled');
                } else {
                    $('#hasInspectionCode').removeAttr('disabled');
                }
            });

            //預約管理&憑證鎖定互斥規則
            $('#viewBookingRight').add($('#viewReserveLockRight')).bind("change", function () {
                var bookingResult = $('#viewBookingRight').is(':checked');
                var reserveLockResult = $('#viewReserveLockRight').is(':checked');
                if (bookingResult && reserveLockResult && '@isManageAccountRight' === 'True') {
                    alert("[預約管理權限]跟[憑證鎖定權限]只能擇一");
                    $(this).attr('checked', false);
                }
            });

            if (!$('#hasInspectionCode').is(':checked')) {
                $('#resetInspectionCode').attr('disabled', 'disabled');
            }

            $('#hasInspectionCode').change(function () {
                if ($(this).is(':checked')) {
                    $('#resetInspectionCode').removeAttr('disabled');
                } else {
                    $('#inspectionCode').attr('disabled', 'disabled');
                    $('#resetInspectionCode').attr('disabled', 'disabled');
                    $('#resetInspectionCode').removeAttr('checked');
                }
            });

            $('#resetInspectionCode').change(function () {
                if ($(this).is(':checked')) {
                    $('#inspectionCode').removeAttr('disabled');
                    if (firstTimeResetInspectionCode) {
                        $('#inspectionCode').val('123456');
                        firstTimeResetInspectionCode = false;
                    }
                } else {
                    $('#inspectionCode').attr('disabled', 'disabled');
                }
            });

            $('.accountSelector').change(accountSelected);

            checkPcpRoleAndPermission();

            vbsSystemEnableSetting($('#viewToShop'));
            vbsSystemEnableSetting($('#viewToHouse'));
        });

        function checkPcpRoleAndPermission() {
            $('#admin').on('click', function () {
                //解除熟客系統權限checkbox鎖定、全勾
                $('.scopeCheckbox').removeAttr('disabled').prop('checked', 'checked');
            });
            $('#employee').on('click', function () {
                //解除熟客系統權限checkbox鎖定、取消勾選，檢視全勾
                $('.scopeCheckbox').removeAttr('disabled checked').filter('[id$="View"]').prop('checked', 'checked');
            });

            $('#clearVendorRole').on('click', function () {
                //移除熟客系統角色
                $('#admin').removeAttr('checked');
                $('#employee').removeAttr('checked');
                //移除熟客系統權限並鎖定
                $('.scopeCheckbox').removeAttr('checked').prop('disabled', 'disabled');
            });
        }

        function accountSelected() {
            $('#accountSelectionForm').submit();
        }

        @*
        變更帳號基本資料
        *@

        function modifyAccountInfo() {

            $('#viewWmsRight').attr('disabled', false);

            if (lengthCheck()) {
                var clearAclIdList = [];
                $("input[id=clearCheck]").each(function () {
                    if ($(this).is(":checked")) {
                        clearAclIdList.push($(this).val());
                    }
                });
                $('#clearAclIds').val(clearAclIdList.join());
                var scopeList = [];
                $("input.scopeCheckbox").each(function () {
                    if ($(this).is(":checked")) {
                        scopeList.push($(this).val());
                    }
                });

                $('#permissionScopes').val(scopeList.join());
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ModifyVendorAccount")',
                    data: $('#accountInfoForm').serialize(),
                    success: function (data) {
                        if (data.IsSuccess) {
                            alert('變更成功!');
                            window.location.href = '@(string.Format("{0}?acct={1}", Url.Action("ManageVendor"), Model.AccountId))';
                        } else {
                            alert('變更失敗!' + data.Message);
                        }
                    },
                    dataType: 'json'
                });
            } else {
                alert('請檢查 "密碼/查帳碼" 字數!');
            }
        }

        @*
        檢查密碼/查帳碼長度
        *@

        function lengthCheck() {
            var resetPassword = $('#resetPassword').is(':checked');
            var passLength = $('#password').val().length;
            var resetInspectionCode = $('#resetInspectionCode').is(':checked');
            var inspectionCodeLength = $('#inspectionCode').val().length;

            var result = true;
            if (resetPassword) {
                if (passLength < 6) {
                    result = false;
                }
            }
            if (resetInspectionCode) {
                if (inspectionCodeLength < 6) {
                    result = false;
                }
            }
            return result;
        }

        @*
        異動權限
        *@
        function changePermissions() {
            aclDenyPageManager.setPermissionLists();
            $('#denies').val(denyList.join());

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ManageVendorAcl")',
                data: $('#denyPermissionForm').serialize(),
                success: function (data) {
                    if (data.IsFinished) {
                        window.location.href = '@(string.Format("{0}?acct={1}", Url.Action("ManageVendor"), Model.AccountId))';
                    } else {
                        alert('something is wrong...');
                    }
                },
                dataType: 'json'
            });
        }

        function vendorAccountSimulate(privilege) {
            if (privilege) {
                window.open('@Url.Action("VendorAccountForceSignIn", "VendorBillingSystem", new { id = Model.AccountId })' + "&simulateUserName=" + '@ViewBag.SimulateUserName' + "&privilege=" + true);
            }
            else {
                window.open('@Url.Action("VendorAccountForceSignIn", "VendorBillingSystem", new { id = Model.AccountId })' + "&simulateUserName=" + '@ViewBag.SimulateUserName' + "&privilege=" + false);
            }
        }

        @*
        綁定/解除綁定自訂帳號
        *@
        function unbindAccountClick() {
            $("#bindCheck").dialog({ //解除綁定提醒
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "取消": function () {
                        $(this).dialog("close");
                    },
                    "我知道了": function () {
                        $(this).dialog("close");
                        bindAccountClick(false);
                    }
                }
            });
        }

        @*
        商家系統設定勾選預設
        *@
        function vbsSystemDefaultSetting(obj) {
            var objClassName = "." + $(obj).attr('id') + "Chk:not(#viewWmsRight)";
            var defaultClassName = ".defaultChk";

            if ($(obj).attr('checked')) {
                $(objClassName).attr('disabled', false);
                $(objClassName + defaultClassName).attr('checked', true);
                $('.shared' + defaultClassName).attr('checked', true);
            }
            else {
                $(objClassName).attr('checked', false);
                $(objClassName).attr('disabled', true);
            }

            if ($('#viewToShop').attr('checked') || $('#viewToHouse').attr('checked')) {
                $('.shared').attr('disabled', false);
            }
            else {
                $('.shared' + defaultClassName).attr('checked', false);
                $('.shared').attr('disabled', true);
            }
        }

        @*
        商家系統設定Enable
        *@
        function vbsSystemEnableSetting(obj) {
            var objClassName = "." + $(obj).attr('id') + "Chk:not(#viewWmsRight)";

            if ($(obj).attr('checked')) {
                $(objClassName).attr('disabled', false);
            }
            else {
                $(objClassName).attr('disabled', true);
            }

            if (!($('#viewToShop').attr('checked') || $('#viewToHouse').attr('checked'))) {
                $('.shared').attr('disabled', true);
            }
        }


        function bindAccountClick(isBindValue) {
            $('#isBind').val(isBindValue);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("BindAccount")',
                data: { bindAccount: $("#bindAccount").val(), vbsAccountId: '@Model.AccountId', isBind: isBindValue },
                dataType: 'json',
                success: function (data) {
                    if (data.IsSuccess) {
                        if (isBindValue)//綁定成功
                        {
                            $("#bindComplete").dialog({
                                resizable: false,
                                height: "auto",
                                width: 400,
                                modal: true,
                                buttons: {
                                    "確認": function () {
                                        $(this).dialog("close");
                                        location.reload();
                                    }
                                }
                            });
                        } else {//解除綁定成功
                            $("#unbindComplete").dialog({
                                resizable: false,
                                height: "auto",
                                width: 400,
                                modal: true,
                                buttons: {
                                    "確認": function () {
                                        $(this).dialog("close");
                                        location.reload();
                                    }
                                }
                            });
                        }
                    } else {
                        if (data.ErrorType == 1)//AccountIsNotExist
                        {
                            $("#bindFailForNotExsit").dialog({
                                resizable: false,
                                height: "auto",
                                width: 500,
                                modal: true,
                                buttons: {
                                    "確認": function () {
                                        $(this).dialog("close"); location.reload();
                                    }
                                }
                            });
                        } else {
                            $("#bindFailForRepeat").dialog({
                                resizable: false,
                                height: "auto",
                                width: 500,
                                modal: true,
                                buttons: {
                                    "確認": function () {
                                        $(this).dialog("close"); location.reload();
                                    }
                                }
                            });
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    </script>    
    <style>
        .backEndTip
        {
            font-size: smaller;
            background-color: #FFF5A7;
            border-width: thin;
            border-style: solid;
            border-color: #E9D073;
        }
        table.accountTable
        {
            border-collapse: collapse;
        }
        table.accountTable th
        {
            border-style: solid;
            border-width: thin;
            border-color: #333333;
            background-color: #999999;
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: lighter;
        }
        table.accountTable td
        {
            border-style: solid;
            border-width: thin;
            border-color: #333333;
            padding-top: 8px;
            padding-bottom: 8px;
            font-weight: lighter;
        }
        hr
        {
            border-style: dashed;
            border-width: thin;
            border-left-style: none;
            border-right-style: none;
            border-bottom-style: none;
            margin-right: 10px;
        }
        ul.permission
        {
            display: block;
            list-style-type: none;
            border-collapse: collapse;
            padding: 0px;
        }
        .permission li span
        {
            display: table-cell;
            border-style: solid;
            border-width: thin;
            padding-top: 4px;
            padding-bottom: 4px;
        }

        .permission .seller
        {
            background-color: #FFFF99;
        }
        .permission .store
        {
            background-color: #FFFFCC;
        }
    </style>
}

@helper RenderAccountSelectionForm(List<VendorAccount> accounts)
{
    <form id="accountSelectionForm" action="@Url.Action("ManageVendor")" method="post">
        <input type="hidden" name="AccountSearchOption" value="@Model.AccountSearchOption" />
        <input type="hidden" name="AccountSearchExpression" value="@Model.AccountSearchExpression"  />
        <table class="accountTable">
            <thead>
                <tr>
                    <th>選擇</th>
                    <th>帳號</th>
                    <th>帳號名稱</th>
                    @if (Model.AccountSearchOption == ManageVendorSearchOption.BindAccount)
                    {
                        <th>自訂帳號</th>
                    }
                </tr>
                @{
                    int index = 0;
                    foreach (VendorAccount account in accounts)
                    {
                        <tr>
                            <td>
                                <input type="radio" name="SelectedAccountId" value="@account.AccountId" class="accountSelector" 
                                @Html.Raw(string.Equals(account.AccountId, (Model.SelectedAccountId ?? string.Empty)) ? "checked = 'checked'" : string.Empty)/>
                            </td>
                            <td><input type="hidden" name="SearchedAccounts[@(index)].AccountId" value="@account.AccountId" />@account.AccountId</td>
                            <td><input type="hidden" name="SearchedAccounts[@(index)].AccountName" value="@account.AccountName"/>@account.AccountName</td>
                            @if (Model.AccountSearchOption == ManageVendorSearchOption.BindAccount)
                            {
                                <td><input type="hidden" name="SearchedAccounts[@(index)].BindAccount" value="@account.BindAccount" />@account.BindAccount</td>
                            }
                        </tr>
                        index++;
                    }
                }
            </thead>
        </table>
    </form>
    <hr />
}



@helper RenderSellerGroup(List<VbsVendorAce> aceList)
{
    bool hasSeller = false;

    foreach (VbsVendorAce ace in aceList)
    {
        if (ace.ObjectType == ObjectResourceType.Seller)
        {
            hasSeller = true;
        }
    }

    if (hasSeller)
    {
        @RenderNormalGroup(aceList) //有賣家權限
    }
    else
    {
        @Render3LayerGroup(aceList)
    }
}

@helper RenderNormalGroup(List<VbsVendorAce> aceList)
{
    var orderedPermissions = aceList
        .OrderBy(x => x.SellerName)
        .ThenByDescending(x => !x.StoreGuid.HasValue || x.SellerGuid == x.StoreGuid)
        .ThenBy(x => x.StoreGuid)
        .ThenBy(x => x.IsPiinDeal)
        .ThenBy(x => x.MerchandiseName)
        .ToList();
        
    <ul class="permission permission_group">
        @{
            foreach (VbsVendorAce ace in orderedPermissions)
            {
                switch (ace.ObjectType)
                {
                    case ObjectResourceType.Seller:
                    <li id="@ace.SellerGuid">
                        <span class="seller" style="width: 60px; text-align: center;">
                            <input name="Allow" type = "hidden" 
                                   value='@(string.Format("{0}|{1}", (int)ace.ObjectType, ace.ObjectGuid))'/>
                            <img src="@Url.Content("~/Images/checked.jpg")" class="denychecked" />
                            <img src="@Url.Content("~/Images/partial_checked.jpg")" style="display: none;" class="denypartialchecked" />
                            <img src="@Url.Content("~/Images/unchecked.jpg")" style="display: none;" class="denyunchecked" />                                  
                        </span>
                        <span class="seller" style="display: table-cell; width: 200px;" >@ace.SellerName</span>
                    </li>
                        break;
                    case ObjectResourceType.Store:
                    <li id="@ace.StoreGuid" 
                        @Html.Raw(string.Format("parentId='{0}'", ace.SellerGuid))>                           
                        <span class="store" style="width: 60px; text-align: center;">
                            <input name="Allow" type = "hidden" value='@(string.Format("{0}|{1}", (int)ace.ObjectType, ace.ObjectGuid))'/>
                            <img src="@Url.Content("~/Images/checked.jpg")" class="denychecked" />
                            <img src="@Url.Content("~/Images/partial_checked.jpg")" style="display: none;" class="denypartialchecked" />
                            <img src="@Url.Content("~/Images/unchecked.jpg")" style="display: none;" class="denyunchecked" />  
                        </span>
                        <span class="store" style="width: 200px;">@ace.SellerName</span>
                        <span class="store" style="width: 160px;">@ace.StoreName</span>
                        <span class="store" style="width: 60px;">@(ace.StoreShowStatus == LunchKingSite.Core.StoreStatus.Available ? "顯示" : "隱藏")</span>
                    </li>
                        break;
                    case ObjectResourceType.BusinessHour:
                    case ObjectResourceType.HiDealProduct:
                    <li @Html.Raw(
                            ace.ObjectType == ObjectResourceType.BusinessHour
                                ? string.Format("id='{0}' title='bid: {0}' ", ace.MerchandiseGuid.ToString())
                                : string.Format("id='{0}' title='pguid: {0}' ", ace.MerchandiseGuid.ToString()))
                        @Html.Raw(string.Format("parentId='{0}' ", ace.SellerGuid.ToString()))
                        >                            
                            <span class="deal" style="width: 60px; text-align: center;">
                                <input name="Allow" type = "hidden" value='@(string.Format("{0}|{1}", (int)ace.ObjectType, ace.ObjectGuid))'/>
                                <img src="@Url.Content("~/Images/checked.jpg")" class="denychecked" />
                                <img src="@Url.Content("~/Images/partial_checked.jpg")" style="display: none;" class="denypartialchecked" />
                                <img src="@Url.Content("~/Images/unchecked.jpg")" style="display: none;" class="denyunchecked" />  
                               
                            </span>
                            <span class="deal" style="width: 120px;">@ace.MerchandiseId</span>
                            <span class="deal" style="width: 300px;">
                                @(ace.MerchandiseParentId.HasValue ? string.Format("[{0}]{1}", ace.MerchandiseParentId, ace.MerchandiseName) : ace.MerchandiseName) 
                            </span>
                            <span class="deal" style="width: 100px;">@(ace.IsPponDeal.Value ? "P好康" : "品生活")</span>
                            <span class="deal" style="width: 200px;">@(ace.DealOrderEndTime.HasValue ? ace.DealOrderEndTime.Value.ToString("結檔日 yyyy/MM/dd") : string.Empty)</span>
                        </li>
                        break;
                    case ObjectResourceType.PponStore:
                    case ObjectResourceType.HiDealProductStore:
                        <li @Html.Raw(
                                ace.ObjectType == ObjectResourceType.PponStore
                                ? string.Format("id='{0}'  title='bid: {0}' ", ace.MerchandiseGuid.ToString())
                                : string.Format("id='{0}'  title='pguid: {0}' ", ace.MerchandiseGuid.ToString()))
                            @Html.Raw(string.Format("parentId='{0}' ", ace.StoreGuid.ToString())) >                            
                            <span class="deal" style="width: 60px; text-align: center;">
                                <input name="Allow" type = "hidden" value='@(string.Format("{0}|{1}", (int)ace.ObjectType, ace.ObjectGuid))'/>
                                <img src="@Url.Content("~/Images/checked.jpg")"  class="denychecked" />
                                <img src="@Url.Content("~/Images/partial_checked.jpg")" style="display:none;" class="denypartialchecked" />
                                <img src="@Url.Content("~/Images/unchecked.jpg")" style="display:none;" class="denyunchecked" />  
                            </span>
                            <span class="deal" style="width: 120px;">@ace.MerchandiseId</span>
                            <span class="deal" style="width: 300px;">
                                @(ace.MerchandiseParentId.HasValue ? string.Format("[{0}]{1}", ace.MerchandiseParentId, ace.MerchandiseName) : ace.MerchandiseName) 
                            </span>
                            <span class="deal" style="width: 100px;">@(ace.IsPponDeal.Value ? "P好康" : "品生活")</span>
                            <span class="deal" style="width: 200px;">@(ace.DealOrderEndTime.HasValue ? ace.DealOrderEndTime.Value.ToString("結檔日 yyyy/MM/dd") : string.Empty)</span>
                        </li>
                        break;
                }
            }
        }
        
    </ul>
    
}


@helper Render3LayerGroup(List<VbsVendorAce> aceList)
{
    string sellerName = aceList.First().SellerName;
    var groupedByStore = aceList
        .OrderBy(ace => ace.StoreGuid)
        .ThenBy(x => x.IsPiinDeal)
        .ThenBy(x => x.MerchandiseName)
        .GroupBy(ace => ace.StoreGuid).ToList();
    
    <ul class="permission permission_group">
        <li>        
            <span class="seller" style="width: 60px; text-align: center;"></span>
            <span class="seller" style="display:table-cell; width: 200px;" >@sellerName</span>
        </li>
    @{
        foreach (IGrouping<Guid?, VbsVendorAce> storeGroup in groupedByStore)
        {
            List<VbsVendorAce> groupAceValues = storeGroup.ToList();
            bool haveStoreLevelPermission = groupAceValues.Any(x => x.ObjectType == ObjectResourceType.Store);
            if (!haveStoreLevelPermission)
            {
                VbsVendorAce info = storeGroup.First();
                //要確認有分店, 沒設分店的檔次直屬 seller下
                if (info.StoreGuid.HasValue)
                {
                    <li>                           
                        <span class="store" style="width: 60px; text-align: center;"></span>                    
                        <span class="store" style="width: 200px;">@info.SellerName</span>
                        <span class="store" style="width: 160px;">@info.StoreName</span>
                        <span class="store" style="width: 60px;">@(info.StoreShowStatus == LunchKingSite.Core.StoreStatus.Available ? "顯示" : "隱藏")</span>
                    </li>
                }
            }

            foreach (VbsVendorAce ace in groupAceValues)
            {
                switch (ace.ObjectType)
                {
                    case ObjectResourceType.Store:
                        <li id="@ace.StoreGuid" >                           
                            <span class="store" style="width: 60px; text-align: center;">
                                <input name="Allow" type = "hidden" value='@(string.Format("{0}|{1}", (int)ace.ObjectType, ace.ObjectGuid))'/>
                                <img src="@Url.Content("~/Images/checked.jpg")" class="denychecked" />
                                <img src="@Url.Content("~/Images/partial_checked.jpg")" style="display:none;" class="denypartialchecked" />
                                <img src="@Url.Content("~/Images/unchecked.jpg")" style="display:none;" class="denyunchecked" />  
                            </span>
                            <span class="store" style="width: 200px;">@ace.SellerName</span>
                            <span class="store" style="width: 160px;">@ace.StoreName</span>
                            <span class="store" style="width: 60px;">@(ace.StoreShowStatus == LunchKingSite.Core.StoreStatus.Available ? "顯示" : "隱藏")</span>
                        </li>
                        break;
                    case ObjectResourceType.BusinessHour:
                    case ObjectResourceType.HiDealProduct:
                        <li @Html.Raw(
                                ace.ObjectType == ObjectResourceType.BusinessHour
                                ? string.Format("id='{0}' title='bid: {0}' ", ace.MerchandiseGuid.ToString())
                                : string.Format("id='{0}' title='pguid: {0}' ", ace.MerchandiseGuid.ToString()))
                            >                            
                            <span class="deal" style="width: 60px; text-align: center;">
                                <input name="Allow" type = "hidden" value='@(string.Format("{0}|{1}", (int)ace.ObjectType, ace.ObjectGuid))'/>
                                <img src="@Url.Content("~/Images/checked.jpg")" class="denychecked" />
                                <img src="@Url.Content("~/Images/partial_checked.jpg")" style="display:none;" class="denypartialchecked" />
                                <img src="@Url.Content("~/Images/unchecked.jpg")" style="display:none;" class="denyunchecked" />  
                               
                            </span>
                            <span class="deal" style="width: 120px;">@ace.MerchandiseId</span>
                            <span class="deal" style="width: 300px;">
                                @(ace.MerchandiseParentId.HasValue ? string.Format("[{0}]{1}", ace.MerchandiseParentId, ace.MerchandiseName) : ace.MerchandiseName) 
                            </span>
                            <span class="deal" style="width: 100px;">@(ace.IsPponDeal.Value ? "P好康" : "品生活")</span>
                            <span class="deal" style="width: 200px;">@(ace.DealOrderEndTime.HasValue ? ace.DealOrderEndTime.Value.ToString("結檔日 yyyy/MM/dd") : string.Empty)</span>
                        </li>
                        break;
                    case ObjectResourceType.PponStore:
                    case ObjectResourceType.HiDealProductStore:
                        <li @Html.Raw(
                                    ace.ObjectType == ObjectResourceType.PponStore
                                    ? string.Format("id='{0}'  title='bid: {0}' ", ace.MerchandiseGuid.ToString())
                                    : string.Format("id='{0}'  title='pguid: {0}' ", ace.MerchandiseGuid.ToString()))
                            @Html.Raw(
                                    haveStoreLevelPermission
                                    ? string.Format("parentId='{0}' ", ace.StoreGuid.ToString())
                                    : string.Empty) >                            
                            <span class="deal" style="width: 60px; text-align: center;">
                                <input name="Allow" type = "hidden" value='@(string.Format("{0}|{1}", (int)ace.ObjectType, ace.ObjectGuid))'/>
                                <img src="@Url.Content("~/Images/checked.jpg")"  class="denychecked" />
                                <img src="@Url.Content("~/Images/partial_checked.jpg")" style="display:none;" class="denypartialchecked" />
                                <img src="@Url.Content("~/Images/unchecked.jpg")" style="display:none;" class="denyunchecked" />  
                            </span>
                            <span class="deal" style="width: 120px;">@ace.MerchandiseId</span>
                            <span class="deal" style="width: 300px;">
                                @(ace.MerchandiseParentId.HasValue ? string.Format("[{0}]{1}", ace.MerchandiseParentId, ace.MerchandiseName) : ace.MerchandiseName) 
                            </span>
                            <span class="deal" style="width: 100px;">@(ace.IsPponDeal.Value ? "P好康" : "品生活")</span>
                            <span class="deal" style="width: 200px;">@(ace.DealOrderEndTime.HasValue ? ace.DealOrderEndTime.Value.ToString("結檔日 yyyy/MM/dd") : string.Empty)</span>
                        </li>
                        break;
                }
            }
        }
    }
    </ul>
}