﻿@using LunchKingSite.WebLib.Models
@model NewMemberModel
@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<div id="tabs">
    <ul class="tabMenu">
        <li><a href="#tabs-1" id='searchTab'>核銷人員列表</a></li>
        <li><a href="#tabs-2">新增核銷人員</a></li>                
    </ul>
       
    <div id="tabs-1"></div>

    <div id="tabs-2">
        <form action='@Url.Action("New")' method="post">
                    
            <span id="reqAccount" style="color:Red; visibility:hidden;">*</span>
            <label for="account">核銷帳號：</label>
            <input id="account" type="text" name="AccountId" value='@Model.AccountId'/><br />
             
             <span id="reqName" style="color:Red; visibility:hidden;">*</span>
            <label for="name">員工姓名：</label>
            <input id="name" type="text" name="AccountName" value='@Model.AccountName'/><br />

            <span style="visibility:hidden;">*</span>
            <label for="email">電子信箱：</label>
            <input id="email" type="text" name="Email" value='@Model.Email' /><br />

            <span id="reqPassword" style="color:Red; visibility:hidden;">*</span>
            <label for="password">使用密碼：</label>
            <input id="password" type="password" name="Password" maxlength="12" />
            <span class="backEndTip">6~12碼</span><br />

            <span style="visibility:hidden;">*</span>
            <div style="padding:10px 0px 10px 0px;">
                <!--
                <label for="checkbox">工具列開啟：</label>
                <input id="verify" type="checkbox" name="ViewVerify" value="true" /><label for="verify">線上核銷與核銷查詢</label>  
                <input id="ship" type="checkbox" name="ViewShip" value="true" /><label for="ship">出貨管理 </label> 
                <input id="balanceSheet" type="checkbox" name="ViewBalanceSheet" value="true" /><label for="balanceSheet">對帳查詢</label> 
                <input id="booking" type="checkbox" name="ViewBooking" value="true" /><label for="booking">預約管理</label> 
                <input id="reserveLock" type="checkbox" name="ViewReserveLock" value="true" /><label for="reserveLock">訂房鎖定</label> 
                <input id="userEvaluate" type="checkbox" name="ViewUserEvaluateRight" value="true" /><label for="reserveLock">評價系統</label>
                -->
                <fieldset style="-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;">
                    <legend>商家系統設定</legend>
                    <table class="jtable" style="display:inline;">
                        <tr>
                            <td style="width:90px;">店家屬性*</td>
                            <td><input type="checkbox" id="viewToShop" name="ViewToShop" value="true" onclick="vbsSystemDefaultSetting(this);" /><label for="viewToShop">在地憑證</label></td>
                            <td><input type="checkbox" id="viewToHouse" name="ViewToHouse" value="true" onclick="vbsSystemDefaultSetting(this);" /><label for="viewToHouse">宅配商品</label></td>
                        </tr>
                        <tr>
                            <td>開通功能*</td>
                            <td style="vertical-align:text-top; width:200px;">
                                <input type="checkbox" class="viewToShopChk defaultChk" id="verify" name="ViewVerify" value="true" /><label for="verify">線上核銷與核銷查詢</label><br />
                                <input type="checkbox" class="viewToShopChk defaultChk" id="userEvaluate" name="ViewUserEvaluateRight" value="true" /><label for="userEvaluate">評價系統</label><br />
                                <input type="checkbox" class="viewToShopChk" id="booking" name="ViewBooking" value="true" /><label for="booking">預約管理</label><br />
                                <input type="checkbox" class="viewToShopChk" id="reserveLock" name="ViewReserveLock" value="true" /><label for="reserveLock">憑證鎖定</label>
                            </td>
                            <td style="vertical-align:text-top; width:200px;">
                                <input type="checkbox" class="viewToHouseChk defaultChk" id="ship" name="ViewShip" value="true" /><label for="ship">出貨與退換貨管理</label>
                            </td>
                        </tr>
                        <tr>
                            <td>制定功能*</td>
                            <td colspan="2">
                                <input type="checkbox" class="shared defaultChk" id="balanceSheet" name="ViewBalanceSheet" value="true" /><label for="balanceSheet">對帳查詢*</label>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <br />        

            <input type="submit" value="新增" 
                onclick="if (!validateForm() || !validateAccount()) { return false; }" 
                style="margin-left: 1em; margin-top: 1em;"/>
        </form>
    </div>    

</div>

@section SSC{  
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" />
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-ui-css-styler.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-1.6.2.min.js")'></script>
<script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tabs').tabs();
        $('#tabs').tabs("select", 1);
        $('#tabs').width($(window).width() - $('#menuPanel').width() - 20); //menuPanel: 左方功能列表的 div
        $('#searchTab').click(function() {
            window.location = '@Url.Action("Search")';
        });

        vbsSystemEnableSetting($('#viewToShop'));
        vbsSystemEnableSetting($('#viewToHouse'));
        @{
            if (Model.AccountCreationResult.HasValue)
            {
                if(!Model.AccountCreationResult.Value)
                {
                    <text>alert('@Model.AccounCreationFailReason');</text>
                }
                else
                {
                    <text>alert('帳號新增成功!');</text>
                }
            }
        }
    });

    function validateForm() {
        if (getAccountIdFieldLength() === 0 || getAccountNameFieldLength() === 0 || getPasswordFieldLength() === 0) {
            alert('資料不完整!');
            markRequiredFields();
            return false;
        }
        return true;
    }

    function validateAccount() {
        if ($('#account').val().indexOf('@Html.Raw("@")') > -1) {
            alert("核銷帳號不可有 @Html.Raw("@") 符號!");
            return false;
        }
        return true;
    }

    function getAccountIdFieldLength() {
        return $('#account').val().length;
    }

    function getAccountNameFieldLength() {
        return $('#name').val().length;
    }

    function getPasswordFieldLength() {
        return $('#password').val().length;
    }

    function markRequiredFields() {
        if(getAccountIdFieldLength() === 0) {
            $('#reqAccount').css('visibility','visible');
        }
        if(getAccountNameFieldLength() === 0) {
            $('#reqName').css('visibility','visible');
        }
        if(getPasswordFieldLength() === 0) {
            $('#reqPassword').css('visibility','visible');
        }
    }

    @*
    商家系統設定勾選預設
    *@
    function vbsSystemDefaultSetting(obj) {
        var objClassName = "." + $(obj).attr('id') + "Chk";
        var defaultClassName = ".defaultChk";

        if ($(obj).attr('checked')) {
            $(objClassName).attr('disabled', false);
            $(objClassName + defaultClassName).attr('checked', true);
            $('.shared' + defaultClassName).attr('checked', true);
        }
        else {
            $(objClassName).attr('checked', false);
            $(objClassName).attr('disabled', true);
        }

        if ($('#viewToShop').attr('checked') || $('#viewToHouse').attr('checked')) {
            $('.shared').attr('disabled', false);
        }
        else {
            $('.shared' + defaultClassName).attr('checked', false);
            $('.shared').attr('disabled', true);
        }
    }

    @*
    商家系統設定Enable
    *@
    function vbsSystemEnableSetting(obj) {
        var objClassName = "." + $(obj).attr('id') + "Chk";

        if ($(obj).attr('checked')) {
            $(objClassName).attr('disabled', false);
        }
        else {
            $(objClassName).attr('disabled', true);
        }

        if (!($('#viewToShop').attr('checked') || $('#viewToHouse').attr('checked'))) {
            $('.shared').attr('disabled', true);
        }
    }
</script>
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")'/> 
<style>
    .backEndTip
    {
        font-size:smaller; 
        background-color:#FFF5A7; 
        border-width:thin; 
        border-style: solid; 
        border-color:#E9D073;
    }
</style>
}
