﻿@using LunchKingSite.WebLib.Models
@using LunchKingSite.Core
@using LunchKingSite.Core.Enumeration
@model NewVendorModel
@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

@{ 
    bool ShoppingCartEnabled = (bool)(ViewBag.ShoppingCartEnabled ?? false);
}


<div id="tabs">
    <ul class="tabMenu">
        <li><a href="#tabs-1">新增與查詢</a></li>
        <li><a href="#tabs-2" id='vendorManagement'>帳號與權限管理</a></li>                
    </ul>
       
    <div id="tabs-1">
        <a href='@Url.Action("SearchVendor")'>回上一頁</a>
        <br />
        <br />
        <div style="font-size : smaller;">
            <form action='@Url.Action("CreateVendor")' method="post">
            @{
                var count = 0;
                foreach(NewVendorInfo account in Model.Accounts)
                {
                    <ul class="ulForm">
                        <li>
                            <label for='@Html.Raw(string.Format("{0}{1}", account.AccountId, count))'>帳號：</label>
                            <label id='@Html.Raw(string.Format("{0}{1}", account.AccountId, count))'>@account.AccountId</label>
                            <input type="hidden" 
                                name='@Html.Raw(string.Format("Accounts[{0}].AccountId", count))'
                                value='@Html.Raw(account.AccountId)'/>
                        </li>
                        <li>
                            <label for='@Html.Raw(string.Format("{0}{1}", account.AccountName, count))'>帳號名稱：</label>
                                            <input id='@Html.Raw(string.Format("{0}{1}", account.AccountName, count))' type="text" 
                        name='@Html.Raw(string.Format("Accounts[{0}].AccountName", count))'
                        value='@Html.Raw(account.AccountName)'/>
                        </li>                
                        <li>    
                            <label for='@Html.Raw(string.Format("{0}{1}", account.Password, count))'>密碼：</label>
                            <input id='@Html.Raw(string.Format("{0}{1}", account.Password, count))' type="text" maxlength="12" 
                                name='@Html.Raw(string.Format("Accounts[{0}].Password", count))'
                                value='123456'/>
                            <span class="backEndTip">6~12碼</span><br />
                        </li>
                        <li>    
                            <input id='@Html.Raw(string.Format("Accounts{0}_UseInspectionCode", count))' type="checkbox" 
                                class="inspectionCodeSwitch"
                                name='@Html.Raw(string.Format("Accounts[{0}].UseInspectionCode", count))'
                                @Html.Raw(account.UseInspectionCode ? "checked='checked'" : string.Empty)
                                value='true' />
                
                            <label for='@Html.Raw(string.Format("{0}{1}", account.InspectionCode, count))'>查帳碼：</label>
                            <input id='@Html.Raw(string.Format("Accounts{0}_InspectionCode", count))' type="text" maxlength="12" 
                                name='@Html.Raw(string.Format("Accounts[{0}].InspectionCode", count))'
                                value='123456' disabled="disabled"/>
                            <span class="backEndTip">6~12碼</span><br />
                        </li>
                        <li> 
                            <div style="padding:10px 0px 10px 0px;">
                                <fieldset style="-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;">
                                    <legend>商家系統設定</legend>
                                    <table class="jtable" style="display:inline;">
                                        <tr>
                                            <td style="width:90px;">店家屬性*</td>
                                            <td><input type="checkbox" id="@Html.Raw(string.Format("Accounts{0}_viewToShop", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewToShop", count))" value="true" onclick="vbsSystemDefaultSetting(this, @Html.Raw(count));"/><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_viewToShop", count))">在地憑證</label></td>
                                            <td><input type="checkbox" id="@Html.Raw(string.Format("Accounts{0}_viewToHouse", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewToHouse", count))" value="true" onclick="vbsSystemDefaultSetting(this, @Html.Raw(count));" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_viewToHouse", count))">宅配商品</label></td>
                                        </tr>
                                        <tr>
                                            <td>開通功能*</td>
                                            <td style="vertical-align:text-top; width:200px;">
                                                <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_viewToShopChk", count)) defaultChk" id="@Html.Raw(string.Format("Accounts{0}_ViewVerifyRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewVerifyRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewVerifyRight", count))">線上核銷與核銷查詢</label><br />
                                                <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_viewToShopChk", count)) defaultChk" id="@Html.Raw(string.Format("Accounts{0}_ViewUserEvaluateRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewUserEvaluateRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewUserEvaluateRight", count))">評價系統</label><br />
                                                <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_viewToShopChk", count))" id="@Html.Raw(string.Format("Accounts{0}_ViewBookingRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewBookingRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewBookingRight", count))">預約管理</label><br />
                                                <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_viewToShopChk", count))" id="@Html.Raw(string.Format("Accounts{0}_ViewReserveLockRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewReserveLockRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewReserveLockRight", count))">憑證鎖定</label>
                                            </td>
                                            <td style="vertical-align:text-top; width:200px;">
                                                <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_viewToHouseChk", count)) defaultChk" id="@Html.Raw(string.Format("Accounts{0}_ViewShipRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewShipRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewShipRight", count))">出貨與退換貨管理</label><br />
                                                <span style="display:@(LunchKingSite.BizLogic.Facade.ProposalFacade.IsVbsProposalNewVersion() ? "": "none")">
                                                    <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_viewToHouseChk", count)) defaultChk" id="@Html.Raw(string.Format("Accounts{0}_ViewProposalProductRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewProposalProductRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewProposalProductRight", count))">商品與庫存管理</label><br />
                                                </span>
                                                <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_viewToHouseChk", count)) defaultChk" id="@Html.Raw(string.Format("Accounts{0}_ViewProposalRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewProposalRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewProposalRight", count))">提案功能</label><br />
                                                <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_viewToHouseChk", count))" id="@Html.Raw(string.Format("Accounts{0}_ViewWmsRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewWmsRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewWmsRight", count))">24H到貨倉儲配送</label><br />

                                                <span style="display:@(ShoppingCartEnabled ? "": "none")">
                                                    <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_viewToHouseChk", count))" id="@Html.Raw(string.Format("Accounts{0}_ViewShoppingCartRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewShoppingCartRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewShoppingCartRight", count))">購物車管理</label>
                                                </span>
</td>
                                        </tr>
                                        <tr>
                                            <td>制定功能*</td>
                                            <td colspan="2">
                                                <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_shared", count)) defaultChk" id="@Html.Raw(string.Format("Accounts{0}_ViewBalanceSheetRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewBalanceSheetRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewBalanceSheetRight", count))">對帳查詢*</label>
                                                <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_shared", count)) defaultChk" id="@Html.Raw(string.Format("Accounts{0}_ViewAccountManageRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewAccountManageRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewAccountManageRight", count))">帳戶管理與維護*</label>
                                                <input type="checkbox" class="@Html.Raw(string.Format("Accounts{0}_shared", count)) defaultChk" id="@Html.Raw(string.Format("Accounts{0}ViewCustomerServiceManageRight", count))" name="@Html.Raw(string.Format("Accounts[{0}].ViewCustomerServiceManageRight", count))" value="true" /><label style="float:none;" for="@Html.Raw(string.Format("Accounts{0}_ViewCustomerServiceManageRight", count))">客戶案件管理*</label>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </div>                            
                        </li>
                        <li>
                            <div style="margin:0.5em 0;">
                                <label>熟客系統設定：</label>
                                <div style="margin-left:1em;">
                                    <label>
                                        <input type="radio" class="admin" name='@Html.Raw(string.Format("Accounts[{0}].VendorRole", count))' value="1" data-seq="@(count)" />
                                        管理者帳號（可使用完整功能）
                                    </label>
                                    <label>
                                        <input type="radio" class="employee" name='@Html.Raw(string.Format("Accounts[{0}].VendorRole", count))' value="2" data-seq="@(count)" />
                                        員工帳號（僅可使用核銷功能）
                                    </label>
                                    <button class="clearPcpRole" data-seq="@(count)" type="button">取消PCP功能設定選擇</button>
                                </div>
                                <div style="margin-top:0.5em;margin-left:1em;">
                                    @{
                                        int seq = 1;
                                        int totalLength = Enum.GetValues(typeof(VbsMembershipPermissionScope)).Cast<VbsMembershipPermissionScope>().Distinct().Count();
                                        foreach (VbsMembershipPermissionScope scope in Enum.GetValues(typeof(VbsMembershipPermissionScope)))
                                        {
                                            <input type="checkbox" id="@string.Format("pcpChk_{0}_{1}", count, scope)" class="@string.Format("pcpPermission{0}", count)" name="@string.Format("Accounts[{0}].VbsMembershipPermissionScope", count)" value="@Convert.ToInt32(scope)" disabled />
                                            <label for="@string.Format("pcpChk_{0}_{1}", count, scope)">@Helper.GetEnumDescription(scope)</label>
                                            if (seq % 6 == 0 && seq != totalLength)
                                            {
                                                <br />//6個一列
                                            }
                                            seq++;
                                        }
                                    }
                                    <input type="hidden" id="permissionScopes" name="PermissionScopes" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <label>權限：</label>
                            <table class="jtable" style="display:inline; width: 500px;">
                                <thead>
                                    <tr>
                                        <th style="width: 300px;" >賣家名稱</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.Raw(account.ResourceSellerName)                                    
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                    <input type="hidden" 
                        name='@Html.Raw(string.Format("Accounts[{0}].DefaultResource", count))'
                        value='@Html.Raw(account.DefaultResource.ToString())' />
                    <input type="hidden" 
                        name='@Html.Raw(string.Format("Accounts[{0}].DefaultResourceType", count))'
                        value='@Html.Raw(account.DefaultResourceType.ToString())' />
                    <hr />
                
                    count++;
                }
            }                  
                

            <input type="submit" value="新增" />
        </form>
        </div>
    </div>

    <div id="tabs-2">        
    </div>    

</div>

@section SSC{
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")'/>
    
    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-ui-css-styler.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tabs').tabs();
            $('#tabs').width($(window).width() - $('#menuPanel').width() - 20); //menuPanel: 左方功能列表的 div
            $('.inspectionCodeSwitch').change(inspectionCodeToggle);

            //預約管理&訂房鎖定互斥規則
            $('input:checkbox[id$="_ViewBookingRight"]').add($('input:checkbox[id$="_ViewReserveLockRight"]')).bind("change", function() {
                var chxRightMaster = $(this);
                var arraySubId = $(this).attr('id').split('_');
                var slaveStr = "";
                if (arraySubId[1] == "ViewBookingRight") {
                    slaveStr = "_ViewReserveLockRight";
                } else {
                    slaveStr = "_ViewBookingRight";
                }
                var chxRightSlave = $('#' + arraySubId[0] + slaveStr);

                if (chxRightMaster.is(':checked') && chxRightSlave.is(':checked')) {
                    alert("[預約管理權限]跟[訂房鎖定權限]只能擇一");
                    $(this).attr('checked', false);
                }
            });

            checkPcpRoleAndPermission();

            vbsSystemEnableSetting();

            @{
                if (Model.CreateVendorResult.HasValue)
                {
                    <text>
                    alert('@Model.CreateVendorResultMsg');
                    </text>
                    if (Model.CreateVendorResult.Value)
                    {
                        <text>                            
                            window.location = '@Url.Action("SearchVendor")';
                        </text>
                    }
                    @*else
                    {
                        <text>
                            alert('儲存失敗，請稍後再試。');
                        </text>
                    }*@
                }
            }
        });

        function checkPcpRoleAndPermission() {
            $('.admin').on('click', function () {
                var seq = $(this).data('seq') || 0;//編輯多個帳號的時候的順序編號

                //解除熟客系統權限checkbox鎖定、全勾
                $('.pcpPermission' + seq).removeAttr('disabled').prop('checked', 'checked');
            });

            $('.employee').on('click', function () {
                var seq = $(this).data('seq') || 0;//編輯多個帳號的時候的順序編號

                //解除熟客系統權限checkbox鎖定、取消勾選，檢視全勾
                $('.pcpPermission' + seq).removeAttr('disabled checked').filter('[id$="View"]').prop('checked', 'checked');
            });

            $('.clearPcpRole').on('click', function () {
                var seq = $(this).data('seq') || 0;//編輯多個帳號的時候的順序編號

                //移除熟客系統角色
                $('input[name="Accounts[' + seq + '].VendorRole"]').removeAttr('checked');
                //移除熟客系統權限並鎖定
                $('.pcpPermission' + seq).removeAttr('checked').prop('disabled', 'disabled');
            });
        }
                
        @*
        商家系統設定勾選預設
        *@
        function vbsSystemDefaultSetting(obj, count) {
            var objClassName = "." + $(obj).attr('id') + "Chk:not([id*=ViewWmsRight])";

            var defaultClassName = ".defaultChk";

            if ($(obj).attr('checked')) {
                $(objClassName).attr('disabled', false);
                $(objClassName + defaultClassName).attr('checked', true);
                $('.Accounts' + count + '_shared' + defaultClassName).attr('checked', true);
            }
            else {
                $(objClassName).attr('checked', false);
                $(objClassName).attr('disabled', true);
            }

            if ($('#Accounts' + count + '_viewToShop').attr('checked') || $('#Accounts' + count + '_viewToHouse').attr('checked')) {
                $('.Accounts' + count + '_shared').attr('disabled', false);
            }
            else {
                $('.Accounts' + count + '_shared' + defaultClassName).attr('checked', false);
                $('.Accounts' + count + '_shared').attr('disabled', true);
            }
        }
    
        @*
        商家系統設定Enable
        *@
        function vbsSystemEnableSetting() {
            $('input[class*="viewToShopChk"]').attr('disabled', true);
            $('input[class*="viewToHouseChk"]').attr('disabled', true);
            $('input[class*="shared"]').attr('disabled', true);
        }

        function inspectionCodeToggle() {
            var txtId = $(this).attr('id').replace('UseInspectionCode', 'InspectionCode');
            if ($(this).is(':checked')) {
                $('#' + txtId).removeAttr('disabled');
            } else {
                $('#' + txtId).attr('disabled', 'disabled');
            }
        }
    </script>    
    <style>
        .ulForm
        {
            border: 0;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .ulForm li
        {
            clear: both;
            padding-bottom: 5px;
        }

        hr
        {
            border-style: dashed;
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
            margin-top: 4px;
            margin-bottom: 10px;
        }

        .backEndTip
        {
            font-size: smaller;
            background-color: #FFF5A7;
            border-width: thin;
            border-style: solid;
            border-color: #E9D073;
        }
    </style>
}
