﻿@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<div id="tabs">
    <ul class="tabMenu">
        <li><a href="@Url.Action("SearchVendor")" id="1">新增與查詢</a></li>
        <li><a href="@Url.Action("ManageVendor")" id="2">帳號與權限管理</a></li>
        <li><a href="@Url.Action("ManageVendorDetail")" id="3">帳號與帳戶明細</a></li>
        <li><a href="@Url.Action("SearchRegularsCard")" id="4">熟客卡查詢</a></li>
        <li><a href="#tabs-5">熟客券查詢</a></li>
    </ul>
    <div id="tabs-5">
        @Html.Partial("VendorCheck")
    </div>

    <div id="tickets" style="display:none" class="ticketsTabs">
        <div id="ticketsSection">
            <table id="ticketsTBL"></table>
            <div id="ticketsDIV"></div>
        </div>
        <hr/>

        <table id="table-javascript"></table>
    </div>
</div>
@section SSC{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" />
    <style type="text/css">
    </style>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/grid.locale-en.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.jqGrid.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#tabs').tabs({
                select: function (event, ui) {
                    var url = $.data(ui.tab, 'load.tabs');
                    if (url) {
                        location.href = url;
                        return false;
                    }
                    return true;
                }
            });
            $('#tabs').tabs('select', 4);
            $('#tabs').width($(window).width() - $('#menuPanel').width() - 40); //menuPanel: 左方功能列表的 div

            $('#searchTxt').keypress(function (evt) {
                if (evt.which == 13) {
                    $("#accountSearchForm").trigger('click');
                }
            });
        });

        function loadData() {
            var type = $('#typeList option:selected').val(), account = $('#searchTxt').val();

            $('#tickets').attr('style', '');

            var formdata = new FormData();
            formdata.append("type", type);
            formdata.append("condition", account);

            $.ajax({
                url: '/ControlRoom/vbs/membership/RegularsTicketQuery',
                type: "POST",
                data: formdata,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    if (xhr.status == 200) {
                        if (result.result == ApiResultCode.Success) {
                            createRegularsTicket(result.data);
                        } else { }
                    }
                },
                error: function () {
                    console.log('RegularsTicketQuery error');
                }
            });
        }

        function createRegularsTicket(data) {

            //resetShowSection();

            $("#ticketsTBL").jqGrid({
                datatype: "local",
                colNames: ['券別','建立日期','優惠期間','優惠內容','與熟客卡併用','使用日期','狀態','建立者'],
                colModel: [
                    { name: 'ticketType', width: 50, sortable: false },
                    { name: 'createTime', width: 110, sortable: false,align:'center' },
                    { name: 'discountRange', width: 170, sortable: false },
                    { name: 'discountContent', width: 250, sortable: false },
                    { name: 'cardCombineUse', width: 70, sortable: false },
                    { name: 'availableTime', width: 70, sortable: false },
                    { name: 'status', width: 60, sortable: false },
                    { name: 'creator', width: 80, sortable: false }
                ],
                rowNum: 20,
                rowList: [20, 50, 100],
                pager: '#ticketsDIV',
                viewrecords: true,
                autowidth: true,
                height: '100%',
                loadonce: true,
                emptyrecords: "查無資料",
                onSelectRow: function (rowid, status) {
                    $("#ticketsTBL").resetSelection();
                },
                loadComplete: function () {
                    $("#lui_ticketsTBL").hide();
                },
            });

            $.each(data, function (i, v) {
                $("#ticketsTBL").jqGrid('addRowData', i + 1, data[i]);
            });
            $('#ticketsTBL').trigger("reloadGrid");

            $("[class^='ui-jqgrid']").removeAttr('class');
        }

    </script>
}