﻿@using LunchKingSite.BizLogic.Facade;
@using LunchKingSite.Core;
@using LunchKingSite.WebLib.Models
@model SearchVendorModel
@{
    ViewBag.Title = "商家帳號新增與查詢";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}


<div id="tabs">
    <ul class="tabMenu">
        <li><a href="#tabs-1">新增與查詢</a></li>
        <li><a href="@Url.Action("ManageVendor")" id='vendorManagement'>帳號與權限管理</a></li>
    </ul>

    <div id="tabs-1">
        <div id="searchContainer">
            <form action='@Url.Action("SearchVendor")' method="post">
                <select name="SearchCondition">
                    <optgroup label="P好康">
                        <option value="PponUniqueId" @(Model.SearchCondition == VendorSearchCondition.PponUniqueId ? "selected='selected'" : string.Empty)>檔號</option>
                        <option value="Bid" @(Model.SearchCondition == VendorSearchCondition.Bid ? "selected='selected'" : string.Empty)>BID</option>
                    </optgroup>
                    <optgroup label="品生活">
                        <option value="PiinDealId" @(Model.SearchCondition == VendorSearchCondition.PiinDealId ? "selected='selected'" : string.Empty)>DID(檔號)</option>
                        <option value="PiinProductId" @(Model.SearchCondition == VendorSearchCondition.PiinProductId ? "selected='selected'" : string.Empty)>PID(商品檔號)</option>
                    </optgroup>
                    <option value='SellerName' @(Model.SearchCondition == VendorSearchCondition.SellerName ? "selected='selected'" : string.Empty)>賣家名稱</option>
                </select>
                <input type="text" name="SearchExpression" id="SearchExpression" style="width:340px" value='@Html.Raw(string.IsNullOrWhiteSpace(Model.SearchExpression) ? "" : @Model.SearchExpression)' />
                <input type="submit" value="搜尋" onclick="if(!checkTextLength()){return false;}" />
            </form>
        </div>
        <div id="searchResultContainer" style="width:100%;">
            <form id="newVendorForm" action='@Url.Action("NewVendor")' method="post">
                @{
                    if (Model.AccountSearchResults != null)
                    {
                        var isManageAccountRight = CommonFacade.IsInSystemFunctionPrivilege(User.Identity.Name,
                                                            SystemFunctionType.ManageVendorAccountAuthority);
                        <table id="results" class="jtable hoverable highlightable" style="width:100%;">
                            <thead>
                                <tr>
                                    <th style="width:4%"><input type="checkbox" id="checkAllSwitch" /></th>
                                    <th style="width:32%">管理帳號</th>
                                    <th style="width:32%">賣家名稱</th>
                                    <th style="width:12%">狀態</th>
                                </tr>
                            </thead>
                            <tbody>
                    @{
                        IEnumerable<AccountSearchResult> orderedResults = Model.AccountSearchResults.OrderByDescending(x => x.IsStoreShow);
                        foreach (var result in orderedResults)
                        {
                            bool isGray = !result.IsStoreShow;
                            <tr @Html.Raw(isGray ? "class='gray'" : string.Empty)>
                                <td style="text-align: center;">
                                    <input class="chkSellerStore" type="checkbox" name="SellerStorePairs" value='@result.SellerGuid' style='display:@Html.Raw(result.IsSeller && result.IsStoreShow ? string.Empty : "none")'  />
                                </td>
                                <td>
                        @{
                            int count = 0;
                            int totalIds = result.AccountIds.Count;
                            foreach (string accountId in result.AccountIds)
                            {
                                <a style="color: blue; font-weight: lighter;" href="@Url.Content(string.Format("{0}?acct={1}", Url.Action("ManageVendor"), accountId))">@accountId</a>

                                count++;
                                if (count < totalIds)
                                {
                                    <span>,</span>
                                }
                            }
                        }
                                </td>
                                <td><a class="sellerLink" style="color: blue;" href='@Url.Content("~/controlroom/seller/seller_add.aspx?sid=" + result.SellerGuid)'>@result.SellerName</a></td>
                                <td style="text-align: center;">
                            @{
                                if (result.IsStoreShow)
                                {
                                    <text>顯示</text>
                                }
                                else
                                {
                                    <text>隱藏</text>
                                }
                            }
                            </td>
                        </tr>
                        }
                    }
                            </tbody>
                        </table>
                        <input type="submit" value="增加新帳號" style="display:@Html.Raw(isManageAccountRight ? string.Empty : "none")" onclick="if(!itemChecked()){alert('沒有勾選任何項目!'); return false;}" />
                    }
                }

            </form>
        </div>
    </div>

    <div id="tabs-2">
    </div>

</div>



@section SSC{
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")' />
    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-1.6.2.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-ui-css-styler.js")'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabs').tabs({
                select: function (event, ui) {
                    var url = $.data(ui.tab, 'load.tabs');
                    if (url) {
                        location.href = url;
                        return false;
                    }
                    return true;
                }
            });

            var maxContentWidth = $(window).width() - $('#menuPanel').width();  //menuPanel: 左方功能列表的 div
            var tabsWidth = maxContentWidth - 40;
            $('#tabs').width(tabsWidth);

            $('.sellerLink').click(function (e) {
                window.open($(e.target).attr('href'));
                return false;
            });

            //do not submit when "enter" is pressed
            $('form input').keydown(function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });

            //toggle checkbox when clicking on tr
            $('#results tr').click(function (e) {
                e = e || event;

                var isLink = $(e.target).is("a");
                var isCheckbox = $(e.target).is(":checkbox");
                if (!isCheckbox && !isLink) {
                    var checkbox = $(this).find(".chkSellerStore");
                    if (checkbox.attr("checked") === 'checked') {
                        checkbox.removeAttr('checked');
                    } else {
                        checkbox.attr('checked', 'checked');
                    }
                }

            });

            //check all
            $('#checkAllSwitch').change(function () {
                if ($(this).is(':checked')) {
                    $('#results tbody tr:not(.gray)').each(function (idx, row) {
                        var checkbox = $(row).find(".chkSellerStore");
                        if (!$(checkbox).is(':checked')) {
                            $(checkbox).attr('checked', 'checked');
                            $(row).children("td").addClass('ui-state-highlight');
                        }
                    });
                } else {
                    $('#results tbody tr:not(.gray)').each(function (idx, row) {
                        var checkbox = $(row).find(".chkSellerStore");
                        if ($(checkbox).is(':checked')) {
                            $(checkbox).removeAttr('checked');
                            $(row).children("td").removeClass('ui-state-highlight');
                        }
                    });
                }
            });
        });

        function checkTextLength() {
            var expressionLength = $('#SearchExpression').val().length;
            if (expressionLength > 0) {
                return true;
            }
            alert('請輸入搜尋條件!');
            return false;
        }

        function itemChecked() {
            var somethingChecked = false;
            $('#results tbody tr').each(function (idx, row) {
                var checkbox = $(row).find(".chkSellerStore");
                if ($(checkbox).is(':checked')) {
                    somethingChecked = true;
                }
            });

            return somethingChecked;
        }
    </script>
    <style>
        tr.gray td {
            background: Gray;
        }
    </style>
}