﻿@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<h1>熟客卡列表</h1>

@Html.Partial("VendorCheck")

<div id="cardList" style="display:none" class="cardListTabs">
    <hr />

    <ul class="tabCard">
        <li><a href="#normalCard">普卡</a></li>
        <li><a href="#goldCard">金卡</a></li>
        <li><a href="#platinumCard">白金卡</a></li>
        <li><a href="#vipCard">鈦金卡</a></li>
    </ul>

    <div id="normalCard">
    </div>
    <div id="goldCard">
    </div>
    <div id="platinumCard">
    </div>
    <div id="vipCard">
    </div>

    <div>
        <div id="storeList">
        </div>
        <div id="storeListSection">            
        </div>


        <br/>
        <input type="file" id="uploadSellerMember" />
        <button id="uploadSellerMemberBtn" type="button">上傳商家會員資料</button>
        <br />

        <button id="saveBtn" type="button">儲存變更</button>
        <button id="disableBtn" type="button">隱藏卡片</button>
        <button id="showMemberBtn" type="button">觀看會員名單</button>
        <button id="showHistoryBtn" type="button">編輯歷程</button>        
        <div id="showSection">

        </div>
    </div>
</div>
@section SSC{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/grid.locale-en.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.jqGrid.min.js")"></script>

    <style>
        table.myGridTable {
            border-collapse: collapse;
        }

            table.myGridTable th {
                border-style: solid;
                border-width: thin;
                border-color: #333333;
                background-color: #000000;
                padding-top: 5px;
                padding-bottom: 5px;
                color: #FFF;
            }

            table.myGridTable td {
                border-style: solid;
                border-width: thin;
                border-color: #000000;
                padding-top: 8px;
                padding-bottom: 8px;
            }

            table.myGridTable tr:nth-child(even) td {
                background: #ffffff;
            }

            table.myGridTable tr:hover td {
                background: #ffff99;
            }
    </style>

}

<script type="text/javascript">

    var cardListEnum = ['', 'normalCard', 'goldCard', 'platinumCard', 'vipCard'];
    var cardNameEnum = ['', '普卡', '金卡', '白金卡', 'VIP卡'];
    var orgData = {};
    $(document).ready(function () {
        
        $('#tabs').tabs({
            select: function (event, ui) {
                var url = $.data(ui.tab, 'load.tabs');
                if (url) {
                    location.href = url;
                    return false;
                }
                return true;
            }
        });
        $('#tabs').tabs('select', 3);
        $('#tabs').width($(window).width() - $('#menuPanel').width() - 40); //menuPanel: 左方功能列表的 div

        $('#cardList').tabs({
            selected: 0
        });
        //$("#cardList").tabs("disable", 0);
        $('#cardList').on('tabsselect', function (event, ui) {
            resetShowSection();

            if (document.getElementById('cardEnable' + (ui.index + 1)).textContent == 'true') {
                document.getElementById('disableBtn').textContent = "隱藏卡片";
            } else {
                document.getElementById('disableBtn').textContent = "啟用卡片";
            }
        });

        $('#typeList').val('3');


        if (QueryString.regularCardNo !== 'undefined') {
            $('#searchTxt').val(QueryString.regularCardNo);
            $("#accountSearchForm").trigger('click');
        }

        $('#saveBtn').on('click', function () {

            var formdata = new FormData();
            formdata.append("original", JSON.stringify(orgData));
            formdata.append("changed", JSON.stringify(getFormJson($("#cardList").tabs('option', 'selected'))));

            $.ajax({
                url: '/ControlRoom/vbs/membership/RegularsCardSave',
                type: "POST",
                data: formdata,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    if (xhr.status == 200) {
                        alert(result.data);
                    }
                },
                error: function () {
                    console.log('RegularsTicketQuery error');
                }
            });
        });
        $('#disableBtn').on('click', function () {
            var formdata = new FormData();
            var index = $("#cardList").tabs('option', 'selected') + 1;
            var cardId = document.getElementById('cardId' + index).textContent;
            formdata.append("cardId", cardId);
            $.ajax({
                url: '/ControlRoom/vbs/membership/RegularsCardUpdateEnable',
                type: "POST",
                data: formdata,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    if (xhr.status == 200) {
                        loadData();
                        $('#cardList').trigger('tabsselect', [{ 'index': index - 1 }]);
                        alert(result.data);
                    }
                },
                error: function () {
                }
            });
        });
        $('#showMemberBtn').on('click', function () {
            var formdata = new FormData();
            var index = $("#cardList").tabs('option', 'selected') + 1;
            var cardId = document.getElementById('cardId' + index).textContent;
            formdata.append("cardId", cardId);
            $.ajax({
                url: '/ControlRoom/vbs/membership/RegularsCardUserMember',
                type: "POST",
                data: formdata,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    if (xhr.status == 200) {
                        generateMemberData(result.data);
                    }
                },
                error: function () {
                    console.log('RegularsTicketQuery error');
                }
            });
        });
        $('#showHistoryBtn').on('click', function () {

            var formdata = new FormData();
            var index = $("#cardList").tabs('option', 'selected') + 1;
            var cardId = document.getElementById('cardId' + index).textContent;
            formdata.append("cardId", cardId);
            $.ajax({
                url: '/ControlRoom/vbs/membership/RegularsCardHistory',
                type: "POST",
                data: formdata,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    if (xhr.status == 200) {
                        generateHistoryData(result.data);
                    }
                },
                error: function () {
                    console.log('RegularsTicketQuery error');
                }
            });
        });

        $('#uploadSellerMemberBtn').on('click', function () {
            var formdata = new FormData();
            var cardId = document.getElementById('cardId1').textContent;
            formdata.append("cardId", cardId);

            var uploadElem = document.getElementById("uploadSellerMember");
            if (uploadElem.files <= 0) { return; }
            formdata.append("coverfile", uploadElem.files[0]);

            $.ajax({
                type: "POST",
                url: '/ControlRoom/vbs/membership/UploadSellerMembers',
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    if (xhr.status == 200) {
                        alert(result.Message);
                    }
                },
                error: function (error) {
                }
            });
        });

    });

    function getFormJson(index) {
        //the difference between tab index and card level is 1
        index++;

        var paymentPercent = document.getElementById('paymentPercent' + index).value;
        var others = document.getElementById('others' + index).value;
        var instruction = document.getElementById('instruction' + index).value;
        var orderNeeded = document.getElementById('orderNeeded' + index).value;
        var amountNeeded = document.getElementById('amountNeeded' + index).value;
        var cardId = document.getElementById('cardId' + index).textContent;
        var availableDate = document.querySelector('input[name="radioGroup' + index + '"]:checked').value;


        var result = [
            {
                "paymentPercent": paymentPercent,
                "others": others,
                "instruction": instruction,
                "cardLevel": index,
                "cardId": cardId,
                "orderNeeded": orderNeeded,
                "amountNeeded": amountNeeded,
                "availableDate": availableDate
            }
        ];
        return result;
    }

    function getMyValue(el) {
        if (document.getElementById(el)) {
            return document.getElementById(el).textContent;
        } else {
            return 0
        }
    }

    function loadData(q) {
        var type = $('#typeList option:selected').val(), account = $('#searchTxt').val();

        var formdata = new FormData();
        var index = $("#cardList").tabs('option', 'selected') + 1;
        var sellerGuid = $("input[name='SelectedSellerGuid']['checked']").val();
        formdata.append("sellerGuid", sellerGuid);

        $.ajax({
            url: '/ControlRoom/vbs/membership/RegularsCardQuery?queryVersion=' + q,
            type: "POST",
            data: formdata,
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (result, status, xhr) {
                if (xhr.status == 200) {
                    if (result.result == ApiResultCode.Success) {

                        $('#cardList').attr('style', '');
                        resetShowSection();

                        orgData = result.data;
                        generateCardListData(result.data);                        
                        generateStoreListData(result.store);
                        generateCanAddStoreList(result.addStore);
                        $('#cardList').trigger('tabsselect', [{ 'index': index - 1 }]);
                    } else {
                        alert(result.Message);
                    }
                }
            },
            error: function () {
                console.log('RegularsTicketQuery error');
            }
        });
    }

    function addStore(storeGuid) {
        if (confirm('確認新增此分店:')) {
            //alert(storeGuid);
            var formdata = new FormData();
            var index = $("#cardList").tabs('option', 'selected') + 1;
            formdata.append("storeKey", storeGuid);
            formdata.append("cardGroupId", getMyValue('cardGroupId' + index));
            formdata.append("cardVersionId", getMyValue('cardVersionId' + index));

            $.ajax({
                url: '/ControlRoom/vbs/membership/StoreAdd',
                type: "POST",
                data: formdata,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    if (xhr.status == 200) {
                        if (result.result == ApiResultCode.Success) {
                            generateStoreListData(result.store);
                        } else {
                            alert(result.Message);
                        }
                    }
                },
                error: function () {
                    console.log('RegularsTicketStoreAdd error');
                }
            });
        }
    }

    function delStore(storeGuid) {
        if (confirm('確認刪除此分店:')) {
            var formdata = new FormData();
            var index = $("#cardList").tabs('option', 'selected') + 1;
            formdata.append("storeKey", storeGuid);
            formdata.append("cardGroupId", getMyValue('cardGroupId' + index));
            formdata.append("cardVersionId", getMyValue('cardVersionId' + index));

            $.ajax({
                url: '/ControlRoom/vbs/membership/StoreRemove',
                type: "POST",
                data: formdata,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (result, status, xhr) {
                    if (xhr.status == 200) {
                        if (result.result == ApiResultCode.Success) {
                            generateStoreListData(result.store);
                        } else {
                            alert(result.Message);
                        }
                    }
                },
                error: function () {
                    console.log('RegularsTicketStoreRemove error');
                }
            });
        }        
    }


    function generateMemberData(data) {
        resetShowSection();

        var tblheader = createTableHeader('showSectionTbl', 'myGridTable', {
            colName: ['會員卡號', '卡別', '累計消費次數', '累計消費金額', '最近消費日期', '會員EMAIL'],
            width: []
        });
        var jasonBinding = ['userCardId', 'cardLevel', 'orderCount', 'amountTotal', 'updateDate', 'userName'];
        var tbl = createTextTrTd(tblheader, data, jasonBinding);
        document.getElementById('showSection').appendChild(tbl);
        createPagination('showSectionTbl', 20);

    }

    function resetShowSection() {
        var el = document.getElementById('showSection');
        while (el.lastChild) {
            el.removeChild(el.lastChild);
        }

        el.innerHTML = '<table id="showAdditionTBL"></table><div id="showAdditionDIV"></div>';
    }

    function generateHistoryData(data) {

        resetShowSection();

        $("#showAdditionTBL").jqGrid({
            datatype: "local",
            colNames: ['異動日期', '摘要', '建立者'],
            colModel: [
                { name: 'usageDate', width: 80, sortable: false },
                { name: 'memo', width: 120, sortable: false },
                { name: 'creator', width: 60, sortable: false }
            ],
            rowNum: 20,
            rowList: [20, 50, 100],
            pager: '#showAdditionDIV',
            viewrecords: true,
            autowidth: true,
            height: '100%',
            loadonce: true,
            emptyrecords: "查無資料",
            onSelectRow: function (rowid, status) {
                $("#showAdditionTBL").resetSelection();
            },
            loadComplete: function () {
                $("#lui_showAdditionTBL").hide();
            },
        });

        $.each(data, function (i, v) {
            $("#showAdditionTBL").jqGrid('addRowData', i + 1, data[i]);
        });
        $('#showAdditionTBL').trigger("reloadGrid");
    }

    function generateStoreListData(data) {

        var el = document.getElementById('storeListSection');
        while (el.lastChild) {
            el.removeChild(el.lastChild);
        }

        var tblheader = createTableHeader('storeListTbl', 'myGridTable', {
            colName: ['店名', '電話', '地址',''],
            width: []
        });
        var jasonBinding = ['storeName', 'phone', 'address','storeGuid'];
        var tbl = createTextTrTd(tblheader, data, jasonBinding);
        document.getElementById('storeListSection').appendChild(tbl);
        createPagination('storeListTbl', 20);
        generateDelButton();
    }

    function generateCanAddStoreList(data) {
        $('.addstore').remove();
        $('.addButton').remove();
        if (data.length > 0)
        {            
            var s = $('<select class="addstore" />');

            for (var i = 0; i < data.length; i++) {
                $('<option />', { value: data[i].Value, text: data[i].Text }).appendTo(s);
            }
            s.appendTo($("#storeList"));

            var r = $('<input/>').attr({
                type: "button",
                name: "addButton",
                class: "addButton",
                value: "新增",
                onclick: "addStore('" + $('.addstore option:selected').val() + "');"
            });
            r.appendTo($("#storeList"));

            $('.addstore').change(function () {
                $('.addButton').prop('onclick', null).off('click');
                var storeGuid = $(this).val();
                $(".addButton").one('click', function () {
                    addStore(storeGuid);
                });
            });
        }
    }

    function generateDelButton() {
        $('#storeListTbl').find('tbody').find('tr').each(function () {
            var r = $('<input/>').attr({
                type: "button",
                name: "delButton",
                class: "delButton",
                value: "刪除",
                onclick: "delStore('"+$(this).find(':last-child').text()+"');"
            });
            
            $(this).find(':last-child').text('');
            $(this).find(':last-child').append(r);            
        });        
    }

    function changeMemberShipCardStatus(cardId) {

        if (confirm('確認作廢此卡號:' + cardId)) {
            var formdata = new FormData();
            formdata.append("cardId", cardId);
            $.ajax({
                url: '/ControlRoom/vbs/membership/RegularsCardUpdateStatus',
                type: "POST",
                data: formdata,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.Success) {
                        alert(result.Message);
                    } else {
                        alert(result.Message);
                    }
                    loadData(result.data);
                },
                error: function () {
                    console.log('changeMemberShipCardStatus error');
                }
            });
        }

    }

    function generateCardListData(data) {
        //clear before generate
        for (var i = 0; i < cardListEnum.length; i++) {
            var el = document.getElementById(cardListEnum[i]);
            while (el && el.lastChild) {
                el.removeChild(el.lastChild);
            }
        }

        //setttingData(d)
        for (i = 0; i < data.length; i++) {
            var d = data[i];
            var docfrag = document.createDocumentFragment();
            //local variable
            var cardLevel = d.cardLevel, a = '';

            var header = document.createElement("div");

            var exLink = document.createElement("a");
            exLink.href = "javascript:loadData(" + d.exVersion + ")";
            exLink.textContent = "查看前一版本";

            var cardName = document.createElement("span");
            cardName.textContent = cardNameEnum[cardLevel] + "（" + d.cardId + "）";
            var cardDate = document.createElement("span");
            cardDate.textContent = "有效期限：" + d.startDate + " ~ " + d.endDate + '(' + d.statusDesc + ')';
            var statusButton = document.createElement("span");
            if (d.statusDesc == "上架")
            { statusButton.innerHTML = "&nbsp;<button id='changeStatus'   type='button' onclick='changeMemberShipCardStatus(" + d.cardId + ")'>作廢</button>" }

            if (d.exVersion != 0) { header.appendChild(exLink); }
            header.appendChild(cardName);
            header.appendChild(cardDate);
            header.appendChild(statusButton);

            var body = document.createElement("div");

            var paymentPercent = document.createElement('P');
            paymentPercent.innerHTML = '優惠內容：憑此熟客卡，可享<input type="text" id="paymentPercent' + cardLevel +
            '" value="' + d.paymentPercent + '"/> 折優惠';
            body.appendChild(paymentPercent);

            var others = document.createElement('P');
            others.innerHTML = '額外加贈：<input type="text" id="others' + cardLevel + '" value="' + d.others + '"/>';
            body.appendChild(others);

            var instruction = document.createElement('P');
            instruction.innerHTML = '注意事項：<input type="text" id="instruction' + cardLevel + '" value="' + d.instruction + '"/>';
            body.appendChild(instruction);

            var availableDate = document.createElement('P');
            availableDate.innerHTML = '使用日期：' +
                '<label ><input type="radio" id="radioNoT1_' + cardLevel + '" name="radioGroup' + cardLevel + '"' +
                ' value="1" ' + (1 == d.availableDate ? 'checked' : '') + '/>均適用</label>' +
                '<label ><input type="radio" id="radioNoT2_' + cardLevel + '" name="radioGroup' + cardLevel + '"' +
                ' value="2" ' + (2 == d.availableDate ? 'checked' : '') + '/>週六、日不適用</label>' +
                '<label ><input type="radio" id="radioNoT3_' + cardLevel + '" name="radioGroup' + cardLevel + '"' +
                ' value="3" ' + (3 == d.availableDate ? 'checked' : '') + '/>特殊假日不適用</label>' +
                '<label ><input type="radio" id="radioNoT4_' + cardLevel + '" name="radioGroup' + cardLevel + '"' +
                ' value="4" ' + (4 == d.availableDate ? 'checked' : '') + '/>六日及特殊節日不適用</label>';
            body.appendChild(availableDate);

            var orderNeeded = document.createElement('P');
            orderNeeded.innerHTML = '累積消費次數滿<input type="text" id="orderNeeded' + cardLevel +
            '" value="' + d.orderNeeded + '"/>次';
            body.appendChild(orderNeeded);

            var conditionLogic = document.createElement('P');
            conditionLogic.textContent = d.conditionLogic == 0 ? '或' : '且';
            body.appendChild(conditionLogic);

            var amountNeeded = document.createElement('P');
            amountNeeded.innerHTML = '累積消費金額滿 NT$ <input type="text" id="amountNeeded' + cardLevel +
            '" value="' + d.amountNeeded + '"/>元';
            body.appendChild(amountNeeded);

            var footer = document.createElement("div");
            footer.setAttribute('style', 'display:none');

            var cardId = document.createElement("span");
            cardId.id = "cardId" + cardLevel;
            cardId.textContent = d.cardId;
            footer.appendChild(cardId);

            var cardEnable = document.createElement("span");
            cardEnable.id = "cardEnable" + cardLevel;
            cardEnable.textContent = d.cardEnable;
            footer.appendChild(cardEnable);

            var cardGroupId = document.createElement("span");
            cardGroupId.id = "cardGroupId" + cardLevel;
            cardGroupId.textContent = d.cardGroupId;
            footer.appendChild(cardGroupId);

            var cardVersionId = document.createElement("span");
            cardVersionId.id = "cardVersionId" + cardLevel;
            cardVersionId.textContent = d.cardVersionId;
            footer.appendChild(cardVersionId);

            var isCurrent = document.createElement("span");
            isCurrent.id = "isCurrent" + cardLevel;
            isCurrent.textContent = d.isCurrent;
            footer.appendChild(isCurrent);

            var hasPre = document.createElement("span");
            hasPre.id = "hasPre" + cardLevel;
            hasPre.textContent = d.hasPre;
            footer.appendChild(hasPre);

            docfrag.appendChild(header);
            docfrag.appendChild(body);
            docfrag.appendChild(footer);

            //generate
            var target = document.getElementById(cardListEnum[cardLevel]);
            if (target != null) {
                target.appendChild(docfrag);
            }
        }
        //設定預設顯示
        for (var i = cardListEnum.length - 1; i > 0; i--) {

            if (document.getElementById(cardListEnum[i]).hasChildNodes()) {
                $('#cardList').tabs({ selected: i - 1 });
                $("#cardList").tabs("enable", i - 1);
            }
            else { $("#cardList").tabs("disable", i - 1); }
        }
    }

</script>