﻿@{
    ViewBag.Title = "ShipCompanyNew";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

@using LunchKingSite.DataOrm;
@model ShipCompany

@section SSC {
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>

<script type="text/javascript" src="@Url.Content("../../Tools/js/jquery-ui.js")"></script>
<script type="text/javascript" src="@Url.Content("../../Tools/js/jquery.ui.datepicker-zh-TW.js")"></script>
<link type="text/css" href="@Url.Content("../../Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" rel="stylesheet" />

<script type="text/javascript">

    $().ready(function () {
        $("#submitForm").validate({
            rules: {
                ShipCompanyName:'required',
                ServiceTel: {
                    required: function a() {
                        var ServiceTel = document.getElementById("ServiceTel");
                        var ShipWebsite = document.getElementById("ShipWebsite");
                        if (ServiceTel.value.length == 0 && ShipWebsite.value.length == 0)
                        { return true; }
                        else { return false; }
                    }
                },
                ShipWebsite: {
                    required: function b() {
                        var ServiceTel = document.getElementById("ServiceTel");
                        var ShipWebsite = document.getElementById("ShipWebsite");
                        if (ServiceTel.value.length == 0 && ShipWebsite.value.length == 0)
                        { return true; }
                        else { return false; }
                    }
        }
            },
            messages: {
                ShipCompanyName: '* 必填',
                ServiceTel: {
                    required: '* 電話與相關連結其中一欄須填入資料'
                                },
                ShipWebsite: '* 電話與相關連結其中一欄須填入資料'
            }
            
        });

    });
  
</script>

<style type="text/css">
    label.error {
    height:17px;
    color:red;
    margin-left:2px;
    font-size:small;
}
</style>
}

<h2>ShipCompanyNew</h2>

<a href="@Url.Action("ShipCompanyManage")">返回列表</a><br/><br />

@using (Html.BeginForm("ShipCompanyNew", "MembershipBackend", FormMethod.Post, new { id = "submitForm" }))
{

    <fieldset>
        <legend>物流商設定</legend>
        <table style="width: 500px">
            <tr>
                <td class="title" style="text-align:right">
                    @Html.HiddenFor(m=>m.Id)
                </td>
            </tr>
            <tr>
                <td style="text-align:right">@Html.Label("ShipCompanyName", "公司名稱:")</td>
                <td>
                    @Html.TextBox("ShipCompanyName", Model.ShipCompanyName, new { @class = "required" })
                </td>
                <td>
                    <div class="errors"></div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    @Html.Label("ServiceTel", "電話:")
                </td>
                <td>
                    @Html.TextBox("ServiceTel", Model.ServiceTel, new { @class = "required" })
                </td>
                <td>
                    <div class="errors"></div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    @Html.Label("ShipWebsite", "相關連結:")
                </td>
                <td>
                    @Html.TextBox("ShipWebsite", Model.ShipWebsite, new { @class = "required" })
                </td>
                <td>
                    <div class="errors"></div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    @Html.Label("Sequence", "排序:")
                </td>
                <td>
                    @Html.TextBox("Sequence", Model.Sequence)
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    @Html.Label("Status", "狀態:")
                </td>
                <td>
                   
                    @Html.DropDownListFor(m=>m.Status,new SelectList(new List<object>
                        {
                        new { value = false , text = "隱藏"  },
                        new { value = true , text = "顯示" },
                        },"value","text"))
                </td>
            </tr>
            @if (@Model.Id != 0)
            {
                <tr>
                    <td style="text-align:right">
                        @Html.Label("CreateTime", "建立時間:")
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.CreateTime)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2" style="text-align: center">
                    <input type="submit" value="儲存" />
                    <input type="button" value="取消" id="btnBack" onclick="history.back();" />
                </td>
            </tr>
        </table>
       
    </fieldset>
}