﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.Core
@using LunchKingSite.WebLib.Models
@using LunchKingSite.DataOrm

@model ShipCompany
@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
    PagerList<ShipCompany> ShipCompanyList = ViewBag.ShipCompanyList;
}
@section SSC {
    <script type="text/javascript" src="~/Tools/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.16.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.20/themes/base/jquery-ui.css" type="text/css" media="all" />

    <script type="text/javascript">
    
    function pageChange(page) {
        window.location.href = '@Url.Action("ShipCompanyManage", "MembershipBackend")' + '?page=' + page;
    }

    $(function () {
        $('#search').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("ShipCompanySearch", "MembershipBackend")',
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        term: request.term
                    },
                    success: function (data) {

                        response($.map(data, function (item) {
                            return {
                                label: item
                            };
                        }));
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            },
            minLength: 1
        });
    });

</script>
    <style type="text/css">
        #shipcompany
        {
            border-style:solid;
            border:solid;
            border-color:#000;
            border-width:1px;
            text-align:center;
        }
        #shipcompany thead
        {
            background-color:#0094ff;
            border-width:1px;

        }

        #shipcompany tr,td
        {
            border: 0px solid #fff;  
        }
    </style>
}
<h2>ShipperManagement</h2>

@*<form action="@Url.Action("ShipperManagement")" method="post">*@
<form role="form">
    <div>
        <input name="search" placeholder="請輸入物流商名稱" type="text" id="search" > <input id="btnSearch" type="submit" value="搜尋" style="margin-left: 10px;" />
        <span style="float:right;"><a href="@Url.Action("ShipCompanyNew")">新增廠商</a></span>
    </div><br />
    <table id="shipcompany">
        <thead>
            <tr>
                <th style="width:40px;height:35px;">排序</th>
                <th style="width:165px;height:35px;">公司名稱</th>
                <th style="width:80px;height:35px;">電話</th>
                <th style="width:80px;height:35px;">建立日期</th>
                <th style="width:80px;height:35px;">相關連結</th>
                <th style="width:50px;height:35px;">狀態</th>
                <th style="width:50px;height:35px;">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ShipCompany sc in ViewBag.ShipCompanyList ?? new ShipCompanyCollection())
            {
                <tr style="@((sc.Status != null) ? ((!sc.Status.Value) ? "Background-color:#81C0C0" : "Background-color:#FFFFFF") : "Background-color:#81C0C0")">
                    <td>@sc.Sequence</td>
                    <td style="text-align:left">@sc.ShipCompanyName</td>

                    @if (!string.IsNullOrEmpty(sc.ServiceTel))
                    {
                        <td>@sc.ServiceTel</td>
                    }
                    else
                    {
                        <td>---</td>
                    }

                    @if (sc.CreateTime!=null)
                    {
                        <td>@sc.CreateTime.Value.ToString("yyyy/MM/dd")</td>
                    }
                    else
                    {
                        <td>---</td>
                    }

                    @if (!string.IsNullOrEmpty(sc.ShipWebsite))
                    {
                        <td><a href="@sc.ShipWebsite" target="_blank">開啟連結</a></td>
                    }
                    else
                    {
                        <td>---</td>
                    }

                    @if (sc.Status != null)
                    {
                        <td>@((sc.Status.Value) ? "顯示" : "隱藏")</td>
                    }
                    else
                    {
                        <td>@sc.Status</td>
                    }
                    
                    <td><a href="/controlroom/vbs/membership/ShipCompanyNew?id=@sc.Id">編輯</a></td>
                </tr>
            }
            @if (ViewBag.ShipCompanyList.Count == 0)
            {
                <tr>
                    <td colspan="12">沒有符合的資料。</td>
                </tr>
            }
        </tbody>
    </table>
    @if (ShipCompanyList.MaxPage > 1)
    {
        @Html.Partial("PagerBar", ShipCompanyList);
    }
</form>