﻿@{
    ViewBag.Title = "VendorManagement";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}


<div id="tabs">
    <ul class="tabMenu">
        <li><a href="#tabs-1">新增與查詢</a></li>
        <li><a href="#tabs-2" id='vendorManagement'>帳號與權限管理</a></li>                
    </ul>
       
    <div id="tabs-1">
    </div>
    
    <div id="tabs-2">
        
        <form action='@Url.Action("ModifyVendorAccount")' method="post">
            <label for="account">帳號：</label>
            @if (ViewBag.AccountId != null)
            {
                <span>@ViewBag.AccountId</span>
                <input type="hidden" name="AccountId" value='@ViewBag.AccountId' />
            }        
            <br />
            
            <label for="name">帳號名稱：</label>
            @if (ViewBag.AccountName != null)
            {
                <input id="name" type="text" name="AccountName" value='@ViewBag.AccountName'/>
            }
            else
            {
                <input id="name" type="text" name="AccountName"/>
            }
            <br />
                
            <label for="password">變更密碼：</label>
            <input id="password" type="password" name="Password" maxlength="12" /><br />
            
            @if(ViewBag.UseInspectionCode != null && ViewBag.UseInspectionCode)
            {
                <input type="checkbox" id="useInspectionCode" name="useInspectionCode" checked="checked" value="true" />
                <label for="password">變更查帳碼：</label>
                <input id="inspectionCode" name="InspectionCode" maxlength="12" /><br />
            }
            else
            {
                <input type="checkbox" id="useInspectionCode" name="useInspectionCode" value="true" />
                <label for="password">變更查帳碼：</label>
                <input id="inspectionCode" name="InspectionCode" maxlength="12" disabled="disabled" /><br />
            }
            <input type="submit" value="儲存變更" />
        </form>
        
    </div>

</div>




@section SSC{
    <link rel="stylesheet" type="text/css" href="/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css"/>
    <script type="text/javascript" src="/Tools/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabs').tabs();
            $('#tabs').tabs('select', 1);
            $('#tabs').width($(window).width() - $('#menuPanel').width() - 20); //menuPanel: 左方功能列表的 div
            $('#useInspectionCode').click(inspectionCodeToggle);
        });

        function inspectionCodeToggle() {
            if ($('#useInspectionCode').attr('checked') === 'checked') {
                $('#inspectionCode').removeAttr('disabled');
            }
            else {
                $('#inspectionCode').attr('disabled', 'disabled');
                $('#inspectionCode').val('');
            }
        }
    </script>    
}