﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.BookingSystem
@model BookingReservationExpiredViewModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="OW-booking-w12-box">
			<div class="ow-bk-topbox ">
				<input type="button" class="ow-firstbtn-color ow-btn-med ow-l" value="回上頁" onclick="window.location.href='@Url.Action("BookingReservationSearch", new { storeGuid = Model.StoreGuid })    ';" />
				<div class="ow-bk-tittle ow-bok-text-cen">
					<label class="ow-bk-listtop-t">預約查詢</label>
					<label>(訂位人姓名：@Model.ContactName　連絡電話：@Model.ContactNumber　憑證號碼：@Model.CouponSequence)</label>

				</div>
			</div>

			<div class="ow-listbox">
				<table class="ow-bk-lis-deta-table" border="0" cellspacing="0" cellpadding="0">
					<tr class="ow-bok-text-cen ow-bk-weight ow-bgcolor">
						<th width="110">申請日期</th>
						<th width="110">預約日期</th>
						<th width="145">姓名</th>
						<th width="120">連絡電話</th>
						<th width="55">人數</th>
						<th width="135">優惠內容</th>
						<th width="95">憑證號碼</th>
						<th width="50">備註</th>
						<th width="80">狀態</th>
					</tr>
					@for (var i = 0; i < Model.ReservationInfos.Count; i++)
					{
						<tr @if (Model.ReservationInfos[i].IsCancel)
							{<text>class="ow-bg-soldout"</text>} >
							<td>@Html.Raw(Model.ReservationInfos[i].CreateDatetime.ToString("yyyy/MM/dd"))<br>@Html.Raw(Model.ReservationInfos[i].CreateDatetime.ToString("HH:mm"))</td>
					   
							@if (Model.ReservationInfos[i].TimeSlot == "00:00")
							{
								@:<td  @if (!Model.ReservationInfos[i].IsCancel)
									   {<text>class="prink-org-color"</text>}>訂房</td>
							}
							else
							{
								@:<td  @if (!Model.ReservationInfos[i].IsCancel)
									   {<text>class="prink-green-color"</text>}>@Html.Raw(Model.ReservationInfos[i].ReservationDate.ToString("yyyy/MM/dd"))<br />@Html.Raw(Model.ReservationInfos[i].TimeSlot)</td>
							}
					   
							<td style="text-align: left;" >@Html.Raw(Model.ReservationInfos[i].ContactName)&nbsp;@( (Model.ReservationInfos[i].ContactGender) ? "先生" : "小姐")</td>
							<td style="text-align: left;" >@Html.Raw(Model.ReservationInfos[i].ContactNumber)</td>
							<td>@Html.Raw(Model.ReservationInfos[i].NumberOfPeople) &nbsp;人</td>
					   
							<td style="text-align: left;">
								@if (string.IsNullOrEmpty(Model.ReservationInfos[i].CouponLink))
								{
									@:&nbsp;
								}
								else
								{
									<a target="_blank" href="@Html.Raw(Model.ReservationInfos[i].CouponLink)">@Html.Raw(Model.ReservationInfos[i].CouponInfo)</a>
								}
							</td>
							<td style="text-align: left;" >
								@if (Model.ReservationInfos[i].CouponSequenceNumbers.Any())
								{
									foreach (var seqnumber in Model.ReservationInfos[i].CouponSequenceNumbers)
									{
										@seqnumber
										@:<br />
									}
								}
							</td>
							<td style="text-align: left;" >@Html.ValueFor(m => m.ReservationInfos[i].Remark)</td>
							<td>
								<div id="toolbar_@(Model.ReservationInfos[i].BookingSystemReservationId)">
									@if (Model.ReservationInfos[i].IsLock && !Model.ReservationInfos[i].IsCheckin && !Model.ReservationInfos[i].IsCancel)
									{
										<input type="button" class="ow-firstbtn-color ow-btn-med" value="解除鎖定" onclick="CancelTravelReservation(@(Model.ReservationInfos[i].BookingSystemReservationId));" />
									}
									else if (Model.ReservationInfos[i].TimeSlot == "00:00" && !Model.ReservationInfos[i].IsLock && !Model.ReservationInfos[i].IsCheckin && !Model.ReservationInfos[i].IsCancel)
									{
										@:已解除鎖定
									}
									else if (Model.ReservationInfos[i].IsCancel)
									{
										@:已取消
									}
									else if (Model.ReservationInfos[i].IsCheckin)
									{
										@:已使用
									}
								</div>
					   
							</td>
						</tr>
					}
				</table>
				<div class="ow-bk-text">
				@RenderPagerBar(Model.ReservationInfos)
				</div>
			</div>

		</div>
	</div>
</div>

@section Script{
    <script  type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
    <script type="text/javascript">
        function CancelTravelReservation(rId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CancelTravelReservationLockStatus")',
                data: { reservationId: rId },
                success: function(data) {
                    if (typeof data.CancelReservationLockSuccess != "undefined" && data.CancelReservationLockSuccess) {
                        alert("更新成功");
                        $('#toolbar_' + rId).html("已取消鎖定");
                    } else {
                        alert("更新失敗");
                    }
                },
                error: function() {
                    alert("error");
                }
            });
        }
    </script>
}

@helper ChineseByEnWeek(DateTime dt)
{
    switch (dt.DayOfWeek.ToString())
    {
        case "Monday":
    @:一 
                break;
        case "Tuesday":
    @:二
                break;
        case "Wednesday":
    @:三
                break;
        case "Thursday":
    @:四
                break;
        case "Friday":
    @:五
                break;
        case "Saturday":
    @:六
                break;
        case "Sunday":
    @:日
                break;
        default:@:
                break;
    }
}
@helper RenderPagerBar(PagerList<ReservationInfoModel> pagerData)
{
    int nextPage = pagerData.CurrentPage + 1;
    int prevPage = pagerData.CurrentPage - 1;
    string firstPageUrl = Url.Action("BookingReservationExpired", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MinPage));
    string lastPageUrl = Url.Action("BookingReservationExpired", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MaxPage));
    string nextPageUrl = Url.Action("BookingReservationExpired", MvcUtility.GetRouteValues(ViewContext, "pageNumber", nextPage));
    string prevPageUrl = Url.Action("BookingReservationExpired", MvcUtility.GetRouteValues(ViewContext, "pageNumber", prevPage));
    string pagerPattern = Url.Action("BookingReservationExpired", MvcUtility.GetRouteValues(ViewContext, "pageNumber", "_pageNumber"));
    <div style="text-align: center;">
        <table style="padding: 5px; margin-top: 10px; display: inline-block; width: 520px;">
            <tr>
                <td style="width: 60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width: 60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width: auto; font-size: 15px">第 
                    <select style="margin: 3px 5px 3px 5px" pagerPattern="@pagerPattern" 
                        onchange="location.href=$(this).attr('pagerPattern').replace('_pageNumber',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select>
                    頁 / 共 <span style="font-weight: bold">@pagerData.MaxPage</span> 頁 | <span style="font-weight: bold">@pagerData.TotalItemCount</span> 筆資料            
                </td>
                <td style="width: 60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width: 60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="visibility:hidden"/>
                    }
                </td>
            </tr>
        </table>
    </div>
}
