﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.BookingSystem
@model BookingPhoneCouponReservationViewModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

@section HeadSecond
{
    <script src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-ui-1.8.10.custom.js")' type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/homecook.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.alphanumeric.min.js")" ></script>
    @*<link type="text/css" rel="stylesheet" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" />  *@
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Tools/js/css/ui-smoothness/jquery-ui-1.10.3.custom.css")" />
    <style type="text/css">
        .ui-datepicker {
            font-size: 12px;
        }
        .ui-datepicker-header
        {
	        background: url(@Url.Content("~/Themes/Booking/book-bn-bg3.jpg")) 0 0 repeat-x;
	        background:linear-gradient(top,#e2fbce,#cbeab1);
            background:-moz-linear-gradient(top,#e2fbce,#cbeab1);
            background:-webkit-linear-gradient(top,#e2fbce,#cbeab1);
        }
        .ui-datepicker-prev, .ui-datepicker-next {

	        background: url(@Url.Content("~/Themes/Booking/book-bn-bg3.jpg")) 0 0 repeat-x;
	        background:linear-gradient(top,#e2fbce,#cbeab1);
            background:-moz-linear-gradient(top,#e2fbce,#cbeab1);
            background:-webkit-linear-gradient(top,#e2fbce,#cbeab1);
        } 
        .ui-datepicker-calendar .ui-state-active {  
            background: #fffe96;
        }  

        .ui-datepicker-calendar .ui-state-fullBooking span {
            background: #ff2525 !important; 
            color: #000000 !important;
        }

        .bok-redcolor
        {
            width: 15px;
            height: 15px;
            float: right;
            background: #ffA0A0;
            margin: 1px 0 0 7px;
        }

        .ui-widget-header .ui-icon {
	        background-image: url(@Url.Content("~/Tools/js/css/ui-smoothness/images/ui-icons_ffffff_256x240.png"));
        }
    </style>
}

@section Script{
    <script src="@Url.Content("~/Tools/js/json2.js")" type="text/javascript"></script>
    <script  type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#datepicker").datepicker({
                defaultDate: '',
                dataFormat: 'yyyy/mm/dd',
                minDate: "+0D",
                maxDate: "+14D",
                onSelect: function (dateText, inst) {
                    onDatepickerSelect(dateText);
                },
                onChangeMonthYear: function (year, month, inst) {
                    $('#hidDatepickerShowMonth').val(month);
                },
                beforeShowDay: noOpenOrBookingIsFull,
            });
            $("#sequencePartFirst").alphanumeric();
            $("#sequencePartSecound").add($("#ReservationMobile")).numeric();

            $(".ui-state-active").removeClass('ui-state-active');
            $(".ui-state-hover").removeClass('ui-state-hover');
            $('#datepicker').datepicker().val('');
            textChangeBind();
            radioChangeBind();
        });

        function noOpenOrBookingIsFull(date) {
            var minDate = new Date();
            minDate = dateAdd("d", $('#hidReservationMinDay').val(), minDate);
            if (date >= new Date() && differenceDate(minDate, date) < 15 - ($('#hidReservationMinDay').val())) {
                if (!$('#hidDatepickerShowMonth').val() || $('#hidDatepickerShowMonth').val() == (date.getMonth() + 1)) {
                    $('#hidDatepickerShowMonth').val(date.getMonth() + 1);
                    var fullDateArray = $('#hidFullBookingDate').val().split(',');
                    if ($.inArray(date.yyyymmdd(), fullDateArray) > -1) {
                        return [false, 'ui-state-fullBooking', '預約已額滿或店家尚不接受預約'];
                    }
                }
            }
            return [true];
        }

        function onDatepickerSelect(selectedDate) {
            var storeGuid = $('#hidStoreGuid').val();
            var peopleOfNumber = $('#PeopleOfNumber option:selected').val();
            $('#hidSelectDate').val(selectedDate);

            makeTimeSlotButton(storeGuid, selectedDate, peopleOfNumber);
        }

        function onPeopleOfNumberSelect(selectValue) {
            var storeGuid = $('#hidStoreGuid').val();
            var selectedDate = $('#datepicker').datepicker({ dateFormat: 'yyyy/mm/dd' }).val();
            $('#hidPeopleOfNumber').val(selectValue.value);
            if (selectedDate) {
                makeTimeSlotButton(storeGuid, selectedDate, selectValue.value);
            }
        }


        function makeTimeSlotButton(storeGuid, queryDate, numberOfPeople) {
            $('#divTimeSlot').block({ message: "<img src='@Url.Content("~/Themes/OWriteOff/loading.gif")' style='border-style:None;border-width:0px;' />", css: { width: '150px' }, overlayCSS: { backgroundColor: '#FFF', opacity: '0.0' } });
            $('#hidTimeSlotId').val('');
            $('#hidTimeSlot').val('');
            var bookingType = $('#hidBookingSystemType').val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetStoreTimeSlot")",
                data: "{storeGuid:'" + storeGuid + "',queryDate:'" + queryDate + "',bookingType:'" + bookingType + "',numberOfPeople:" + numberOfPeople + "}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) { bindTimeSlotData(data); }
            });
            $('#divTimeSlot').unblock();
        }

        function bindTimeSlotData(jsonData) {
            var timeSlots = $.parseJSON(jsonData);
            $('#divTimeSlot').html('');
            $.each(timeSlots, function (i, item) {
                var content = "<input type='button' id='timeSlot" + item.Id + "' class='ow-firstbtn-color ow-btn-time' value='" + item.TimeSlot + "' OnClick='return setTimeSlotId(" + item.Id + ", this);' >";
                $('#divTimeSlot').append(content);

            });


            if ($('input[id^=timeSlot]').length == 0) {

                $('#fullOrClose').show();
                $('#fullOrClose .ow-bk-redalert').html('預約已額滿或店家尚不接受預約');
            } else {
                $('#fullOrClose').hide();
                $('#fullOrClose .ow-bk-redalert').html('');
            }

        }

        function setTimeSlotId(timeSlotId, btnObj) {
            var oldId = $('#hidTimeSlotId').val();
            if (oldId != '') {
                $('#timeSlot' + oldId).removeClass('ow-graybtn-color ow-btn-time');
                $('#timeSlot' + oldId).addClass('ow-firstbtn-color ow-btn-time');
            }
            $('#timeSlot' + timeSlotId).removeClass('ow-firstbtn-color ow-btn-time');
            $('#timeSlot' + timeSlotId).addClass('ow-graybtn-color ow-btn-time');
            $('#hidTimeSlotId').val(timeSlotId);
            $('#hidTimeSlot').val($(btnObj).val());
            $('#RequiredDateTime').hide();
            return false;
        }

        function checkGenderRequired() {
            if ($(':radio[id*=rdoFemale]').is(':checked') || $(':radio[id*=rdoMale]').is(':checked')) {
                return true;
            } else {
                return false;
            }
        }

        function getGenderVal() {
            if ($(':radio[id*=rdoMale]').is(':checked')) {
                return true;
            } else {
                return false;
            }
        }

        function requiredName(showType) {
            if (showType) {

            } else {

            }
        }


        function checkCouponAcl() {
            var storeGuid = $('#hidStoreGuid').val();
            if ($('#sequencePartFirst').val() == "" || $('#sequencePartSecound').val() == "") {
                alert("請輸入憑證資訊");
                return;
            }

            var isExitCoupon = false;
            $('span[name="couponInfo"]').each(function () {
                var couponFirst = $(this).find("#couopnFirst").val();
                var couponSecound = $(this).find("#couopnSecound").val();
                if ($('#sequencePartFirst').val() == couponFirst || $('#sequencePartSecound').val() == couponSecound) {
                    isExitCoupon = true;
                }
            });
            if (isExitCoupon) {
                alert("此憑證號碼已存在");
                return;
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("CheckCouponSequence", "bookingSystem")",
                data: "{storeGuid:'" + storeGuid + "',couponSequenceFirst:'" + $('#sequencePartFirst').val() + "',couponSequenceSecound:'" + $('#sequencePartSecound').val() + "'}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) { addCouponInfo(data, $('#sequencePartFirst').val(), $('#sequencePartSecound').val()); }
            });


        }

        function addCouponInfo(data, couponFirst, couponSecound) {
            var responseResult = $.parseJSON(data);
            if (responseResult.Success) {
                $('#sequencePartFirst').val("");
                $('#sequencePartSecound').val("");
                $('#hidOrderKey').val(responseResult.OrderKey);
                $('#hidCouponInfo').val(responseResult.CouponInfo);
                $('#hidCouponLink').val(responseResult.CouponLink);
                $('#hidMemberKey').val(responseResult.MemberKey);
                $('#hidBookingSystemApiKey').val(responseResult.BookingSystemApiKey);
                $('#divCoupList').append(
                    '<span name="couponInfo" class="ow-bk12spac">' +
                        '<input class="ow-bk-w13-input-sml" id="couopnFirst" value="' + couponFirst + '" onfocus="$(\'#sequencePartFirst\').focus();" />-<input class="ow-bk-w13-input-sml" id="couopnSecound" value="' + couponSecound + '" onfocus="$(\'#sequencePartFirst\').focus();" />' +
                        '<input type="button" class="ow-firstbtn-color ow-btn-roundsmall" value="x"  onclick="deleteCouponInfo(this);" />' +
                        '</span>'
                );
            } else {
                alert(responseResult.Message);
            }
        }

        function deleteCouponInfo(obj) {
            $(obj).parent().remove();
        }


        function textChangeBind() {
            $("#ResevationName").bind("keyup", function () {
                if (checkGenderRequired()) {
                    requiredName(false);
                }
            });
            $("#txtMobile").bind("keyup", function () {
                $('#phoneNumber').removeClass('bk-bg-alert');
                $('#requiredPhoneNumber').hide();
            });
        }

        function radioChangeBind() {
            $(':radio[id*=rdoFemale]').live('change', function () {
                if ($(this).is(':checked') && $('#ResevationName').val()) {
                    requiredName(false);
                }
            });
            $(':radio[id*=rdoMale]').live('change', function () {
                if ($(this).is(':checked') && $('#ResevationName').val()) {
                    requiredName(false);
                }
            });
        }

        function checkAllInput() {
            var checkResult = true;
            $('#ErrorMessage').html("");

            if ($('#ReservationName').val().length == 0) {
                $('#ErrorMessage').html("請選擇「預約人姓名」<br />");
                checkResult = false;
            }

            if ($('#ReservationMobile').val().length == 0) {
                $('#ErrorMessage').html($('#ErrorMessage').html() + "請選擇「連絡電話」<br />");
                checkResult = false;
            }
            if ($('#hidSelectDate').val().length == 0) {
                $('#ErrorMessage').html($('#ErrorMessage').html() + "請選擇「預約日期」<br />");
                checkResult = false;
            }
            if ($('#hidTimeSlotId').val().length == 0 || parseInt($('#hidTimeSlotId').val(), 10) <= 0) {
                $('#ErrorMessage').html($('#ErrorMessage').html() + "請選擇「預約時間」<br />");
                checkResult = false;
            }
            if (parseInt($('#PeopleOfNumber option:selected').val(), 10) <= 0) {
                $('#ErrorMessage').html($('#ErrorMessage').html() + "請選擇「預約人數」<br />");
                checkResult = false;
            }


            return (checkResult && confirm("預約資訊如下，請確認預約資訊?\n" +
                "=======================================\n" +
                "預約人姓名：" + $('#ReservationName').val() + "\n" +
                "連絡電話：" + $('#ReservationMobile').val() + "\n" +
                "預約日期：" + $('#hidSelectDate').val() + "\n" +
                "預約時間：" + $('#hidTimeSlot').val() + "\n" +
                "預約人數：" + $('#PeopleOfNumber option:selected').val() + "\n" +
                "=======================================\n"
            ));
        }

        function sendReservationRequest() {
            var selectedValues = [];
            $('span[name="couponInfo"]').each(function () {
                var couponFirst = $(this).find("#couopnFirst").val();
                var couponSecound = $(this).find("#couopnSecound").val();
                selectedValues.push("'" + couponFirst + "-" + couponSecound + "'");
            });


            $.ajax({
                type: "POST",
                url: "@Url.Action("MakeReservationRecord")",  //"ReservationService.aspx/MakeReservationRecord"
                data: "{bookingType:" + $('#hidBookingSystemType').val()
                    + ",timeSlot:" + $('#hidTimeSlotId').val()
                    + ",reservationDate:'" + $('#datepicker').datepicker({ dateFormat: 'yyyy/mm/dd' }).val() + "'"
                    + ",numberOfPeople:" + $('#PeopleOfNumber option:selected').val()
                    + ",remark:'" + htmlEncode($('#txtRemarks').val()) + "'"
                    + ",contactName:'" + htmlEncode($('#ReservationName').val()) + "'"
                    + ",contactGender:" + getGenderVal()
                    + ",contactNumber:'" + $('#ReservationMobile').val() + "'"
                    + ",memberKey:'" + $('#hidMemberKey').val() + "'"
                    + ",orderKey:'" + $('#hidOrderKey').val() + "'"
                    + ",couponInfo:'" + $('#hidCouponInfo').val() + "'"
                    + ",couponLink:'" + $('#hidCouponLink').val() + "'"
                    + ",apiKey:'" + $('#hidBookingSystemApiKey').val() + "'"
                    + ",couponsSequence:[" + selectedValues + "]"
                    + ",email:''"
                    + ",storeGuid:'" + $('#hidStoreGuid').val() + "'}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var result = $.parseJSON(data);
                    if (result.Success) {
                        showSuccess();
                    } else {
                        alert(result.Message);
                        setFullReservationValue();
                        if (result.Message == '該時段預約人數已滿!') {
                            $('#fullOrClose .bk-alert').html('預約已額滿或店家尚不接受預約');
                        }
                    }
                }
            });
        }

        function setFullReservationValue() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetFullBookingDate")",
                data: "{advanceReservationMinDay:" + $('#hidReservationMinDay').val()
                    + ",storeGuid:'" + $('#hidStoreGuid').val() + "',bookingType:" + $('#hidBookingSystemType').val() + "}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var result = $.parseJSON(data);
                    if (result.Success) {
                        $('#hidFullBookingDate').val(result.Data);
                        $("#datepicker").datepicker("refresh");
                        $('#divTimeSlot').empty();
                        $('#hidTimeSlotId').val('');
                        $('#hidSelectDate').val('');
                    }
                }
            });
        }



        function showSuccess() {
            alert("預約完成");
            window.location.href = '@Url.Action("BookingPhoneCouponReservation",new{storeGuid=Model.StoreGuid})';
        }

        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }

        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }


        //protoType

        function differenceDate(minDate, checkDate) {
            var ONE_DAY = 1000 * 60 * 60 * 24;
            var date1_ms = minDate.getTime();
            var date2_ms = checkDate.getTime();
            var difference_ms = Math.abs(date1_ms - date2_ms);
            return Math.round(difference_ms / ONE_DAY);
        }

        function dateAdd(timeU, byMany, dateObj) {
            var millisecond = 1;
            var second = millisecond * 1000;
            var minute = second * 60;
            var hour = minute * 60;
            var day = hour * 24;
            var year = day * 365;

            var newDate;
            var dVal = dateObj.valueOf();
            switch (timeU) {
                case "ms":
                    newDate = new Date(dVal + millisecond * byMany);
                    break;
                case "s":
                    newDate = new Date(dVal + second * byMany);
                    break;
                case "mi":
                    newDate = new Date(dVal + minute * byMany);
                    break;
                case "h":
                    newDate = new Date(dVal + hour * byMany);
                    break;
                case "d":
                    newDate = new Date(dVal + day * byMany);
                    break;
                case "y":
                    newDate = new Date(dVal + year * byMany);
                    break;
            }
            return newDate;
        }

        Date.prototype.yyyymmdd = function () {
            var yyyy = this.getFullYear().toString();
            var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based         
            var dd = this.getDate().toString();

            return yyyy + '/' + (mm[1] ? mm : "0" + mm[0]) + '/' + (dd[1] ? dd : "0" + dd[0]);
        };

    </script>
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="OW-booking-w12-box ow-bok-text-cen">
			<div class="ow-bk-topbox ">
				<input type="button" class="ow-firstbtn-color ow-btn-med ow-l" onclick="window.location.href='@Url.Action("BookingStoreReservationList", "BookingSystem", new { storeGuid = @Model.StoreGuid })';" value="回列表"/>
				<div class="ow-bk-tittle">
					<label class="ow-bk-listtop-t">預約訂位</label>
				</div>

			</div>
			<form id="phoneReservationForm" action="@Url.Action("BookingPhoneCouponReservation", "BookingSystem")" method="POST">
				<input type="hidden" id="hidStoreGuid" name="StoreGuid" value="@Model.StoreGuid" />
				<input type="hidden" id="hidBookingSystemApiKey" name="BookingSystemApiKey" value ="@Model.BookingSystemApiKey" />
				<input type="hidden" id="hidReservationMinDay" name="" value="0" />
				<input type="hidden" id="hidBookingSystemType" name="" value="1" />
				<input type="hidden" id="hidTimeSlotId" name="" value="" />
				<input type="hidden" id="hidTimeSlot" name="" value="" />
				<input type="hidden" id="hidSelectDate" name="" value="" />
				<input type="hidden" id="hidUserName" name="" value="" />
				<input type="hidden" id="hidPeopleOfNumber" name="" value="" />
				<input type="hidden" id="hidDatepickerShowMonth" name="" value="" />
				<input type="hidden" id="hidFullBookingDate" name="FullBookingDate" value="@Model.FullBookingDate" />
				<input type="hidden" id="hidOrderKey" name="" value="" />
				<input type="hidden" id="hidMemberKey" name="" value="" />
				<input type="hidden" id="hidCouponInfo" name="" value="" />
				<input type="hidden" id="hidCouponLink" name="" value="" />
				<div class="ow-bk-box">
					<div class="ow-bk-markbox">
						<label class="ow-bk-labelmark"><span class="ow-bk-red ow-bk-bigtext">*</span>預約人姓名：</label>
						<div class="ow-bk-w12-markbox">
							<input class="ow-bk-w13-input" id="ReservationName" />
							<input id="rdoFemale" name="ContactGender" type="radio" value="小姐" checked="checked"} />小姐 
							<input id="rdoMale" name="ContactGender" type="radio" value="先生"   />先生
						</div>
					</div>

					<div class="ow-bk-markbox">
						<label class="ow-bk-labelmark"><span class="ow-bk-red ow-bk-bigtext">*</span><span class="ow-bk-t-let-mid">連絡電</span>話：</label>
						<div class="ow-bk-w12-markbox">
						@{
							string inputType = "text";
							if (MvcUtility.IsAndroid())
							{
							   inputType = "number";
							}                        
							<input class="ow-bk-w13-input" id="ReservationMobile" maxlength="10" type="@inputType" />
						 }
						 </div>
					</div>

					<div class="ow-bk-markbox">
						<label class="ow-bk-labelmark"><span class="ow-bk-t-let-mid">憑證編</span>號：</label>
						<div id="divCoupList" class="ow-bk-w12-markbox">
							<span class="ow-bk12spac">
								<input class="ow-bk-w13-input-sml" id="sequencePartFirst" maxlength="7" />-<input class="ow-bk-w13-input-sml" id="sequencePartSecound" maxlength="4" type="@inputType" />
								<input type="button" class="ow-firstbtn-color ow-btn-roundsmall" value="+"  onclick="checkCouponAcl();"/>
						   </span>
						</div>
					</div>

					<div class="ow-w12bg">
						<div class="ow-bk-markbox">
							<div class="ow-bk-w12-l">
								<div class="ow-bk-lab-selt ow-bk-textleft ">
									<span class="ow-bk-red ow-bk-bigtext">*</span><strong>預約日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																						  額滿<div class="bok-redcolor"></div></strong>                                
								</div>
								<div class="ow-bk-date-box">
									<div id="datepicker"></div>
								</div>
							</div>
							<div class="ow-bk-w12-r">
								<div class="ow-bk-lab-selt ow-bk-textleft ">
									<span class="ow-bk-red ow-bk-bigtext">*</span><strong>預約人數</strong>：
									<select  id="PeopleOfNumber" name="PeopleOfNumber" class="ow-w127bk-select" onchange="onPeopleOfNumberSelect(this);">   
									  @for (int index=1;index<=20;index++)
									   {
										  <option value="@(index)">@(index)</option>
									   }
									</select>
								</div>
								<div class="ow-bk-lab-selt ow-bk-textleft "><span class="ow-bk-red ow-bk-bigtext">*</span><strong>預約時間：</strong></div>
								<div  id="divTimeSlot"  class="ow-bk-timefarm ow-bk-textleft">
									@*
									<input type="button" class="ow-graybtn-color ow-btn-time" value="05:00" />
									<input type="button" class="ow-firstbtn-color ow-btn-time" value="06:00" />
									<input type="button" class="ow-firstbtn-color ow-btn-time" value="07:00" />
									*@
								</div>
								
								@*<div class="ow-bk-timefarm"><img class="loading-pic" src="@Url.Content("~/Themes/OWriteOff/loading.gif")"/></div>*@
								<div id="fullOrClose" class="ow-bk-timefarm" style="display: none;"><p  class="ow-bk-redalert"></p></div>
								
							</div>

						</div>
					</div>


					<div class="ow-bk-markbox">
						<label class="ow-bk-w12remark">備註：</label>
						<textarea id="txtRemarks" name="" class="ow-bk-textarea" rows=""  style="resize: none;"></textarea>
					</div>
					
					<div class="ow-bk-markbox" >
						<label id="ErrorMessage" class="OW-w6RP-MonthBar-InfoRed"></label>
					</div>
					
					<div class="ow-bk-markbox">
						<input type="button" class="ow-firstbtn-color ow-btn-larg" onclick="if (checkAllInput()) { sendReservationRequest(); }"  value="確認" />
					</div>

				</div>
			</form>
		</div>
	</div>
</div>