﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.BookingSystem
@model TravelBookingDetailModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

@section Script{
    <script  type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[name="MaxNumberOfPeople"]').each(function () {
                $(this).numeric(true, 0, 100);
            });

            $('input[name="addNum"]').each(function () {
                $(this).bind("click", function (event) {
                    var strId = this.id;
                    var idIndex = strId.substring(parseInt(strId.indexOf('_')) + 1, strId.length);

                    $('#MaxNumberOfPeople_' + idIndex).val(function () {
                        var val = parseInt($('#MaxNumberOfPeople_' + idIndex).val(), 10);
                        return (val + 1 >= 100) ? 100 : val + 1;
                    });
                });
            });

            $('input[name="minusNum"]').each(function () {
                $(this).bind("click", function (event) {
                    var strId = this.id;
                    var idIndex = strId.substring(parseInt(strId.indexOf('_')) + 1, strId.length);

                    $('#MaxNumberOfPeople_' + idIndex).val(function () {
                        var val = parseInt($('#MaxNumberOfPeople_' + idIndex).val(), 10);
                        return (val - 1 <= 0) ? 0 : val - 1;
                    });
                });
            });


        });

    </script>
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="OW-booking-w12-box ow-bok-text-cen">
			<div class="ow-bk-topbox ">
				<input type="button" class="ow-firstbtn-color ow-btn-med ow-l" value="回上頁" onclick="window.location.href='@Url.Action("BookingStoreReservationList", "BookingSystem", new { storeId = @Model.StoreGuid })';"/>
			</div>

			<form id="TravelBookingForm" action="@Url.Action("BookingTravelSetup", "BookingSystem")" method="POST">
				@Html.HiddenFor(m => m.StoreGuid)
				@Html.HiddenFor(m => m.BookingStoreId)
				@Html.HiddenFor(m => m.BookingType)
				<div class="ow-bk-box">
					<div class="ow-bk-text ow-bk-sc3">
						<label class="ow-bk-chett ow-bk-t-topno ow-text-big ow-org-big">請輸入訂房資訊</label>
						<div class="ow-bk-sc3roombox">
							<div class="ow-bk-lbox">
								<label class="ow-bk-timelabel ow-org-big">日期</label>
								<label class="ow-bk-timelabel ow-org-big">可預約人數</label>
							</div>

							<div class="ow-bk-lbox">

								<div class="ow-bk-popfamre">
									<label class="ow-bk-labeltimemark">星期一</label>
									<input id="minusNum_Mon" name="minusNum" type="button" class="ow-bk-btn" value="-" />
									<input id="MaxNumberOfPeople_Mon" class="ow-bk-input-pop"  name="MonMaxNumberOfPeople" value="@Model.MonMaxNumberOfPeople"   />
									<input id="addNum_Mon" name="addNum" type="button" class="ow-bk-btn" value="+" />
								</div>
								<div class="ow-bk-popfamre">
									<label class="ow-bk-labeltimemark">星期二</label>
									<input id="minusNum_Tue" name="minusNum" type="button" class="ow-bk-btn" value="-" />
									<input id="MaxNumberOfPeople_Tue" class="ow-bk-input-pop" name="TueMaxNumberOfPeople" value="@Model.TueMaxNumberOfPeople"   />
									<input id="addNum_Tue" name="addNum" type="button" class="ow-bk-btn" value="+" />
								</div>
								<div class="ow-bk-popfamre">
									<label class="ow-bk-labeltimemark">星期三</label>
									<input id="minusNum_Wed" name="minusNum" type="button"  class="ow-bk-btn" value="-" />
									<input id="MaxNumberOfPeople_Wed" class="ow-bk-input-pop" name="WedMaxNumberOfPeople" value="@Model.WedMaxNumberOfPeople"   />
									<input id="addNum_Wed" name="addNum" type="button" class="ow-bk-btn" value="+" />
								</div>
								<div class="ow-bk-popfamre">
									<label class="ow-bk-labeltimemark">星期四</label>
									<input id="minusNum_Thu" name="minusNum" type="button" class="ow-bk-btn" value="-" />
									<input id="MaxNumberOfPeople_Thu" class="ow-bk-input-pop" name="ThuMaxNumberOfPeople" value="@Model.ThuMaxNumberOfPeople"   />
									<input id="addNum_Thu" name="addNum" type="button" class="ow-bk-btn" value="+" />
								</div>
								<div class="ow-bk-popfamre">
									<label class="ow-bk-labeltimemark">星期五</label>
									<input id="minusNum_Fri" name="minusNum" type="button" class="ow-bk-btn" value="-" />
									<input id="MaxNumberOfPeople_Fri" class="ow-bk-input-pop" name="FriMaxNumberOfPeople" value="@Model.FriMaxNumberOfPeople"   />
									<input id="addNum_Fri" name="addNum" type="button" class="ow-bk-btn" value="+" />
								</div>
								<div class="ow-bk-popfamre">
									<label class="ow-bk-labeltimemark">星期六</label>
									<input id="minusNum_Sat" name="minusNum" type="button" class="ow-bk-btn" value="-" />
									<input id="MaxNumberOfPeople_Sat" class="ow-bk-input-pop" name="SatMaxNumberOfPeople" value="@Model.SatMaxNumberOfPeople"   />
									<input id="addNum_Sat" name="addNum" type="button" class="ow-bk-btn" value="+" />
								</div>
								<div class="ow-bk-popfamre">
									<label class="ow-bk-labeltimemark">星期日</label>
									<input id="minusNum_Sun" name="minusNum" type="button" class="ow-bk-btn" value="-" />
									<input id="MaxNumberOfPeople_Sun" class="ow-bk-input-pop" name="SunMaxNumberOfPeople" value="@Model.SunMaxNumberOfPeople"   />
									<input id="addNum_Sun" name="addNum" type="button" class="ow-bk-btn" value="+" />
								</div>
							</div>

						</div>

						<div class="ow-bk-markbox" style="display: none;">
							<label class=" OW-w6RP-MonthBar-InfoRed">請選擇「可預約人數」</label>
						</div>

						<div class="ow-bk-markbox">
							<input type="submit" class="ow-bk-nextbtn" value="設定完成" />
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>
</div>