﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.BookingSystem
@model BookingFirstViewModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="OW-booking-w12-box ow-bok-text-cen">
			<div class="ow-bk-topbox ">
			   <input type="button" class="ow-firstbtn-color ow-btn-larg ow-l" onclick="window.location.href='@Url.Action("BookingStoreReservationList", new { storeGuid=Model.StoreGuid })'" value="回上頁"/>
			 <div class="ow-bk-tittle">           
				 <label class="OW-w6RP-MonthBar-InfoRed ow-bk-fontweght">首次使用17Life預約管理之店家，請完成以下驟，即可開始使用喔~</label>           
			 </div>
			 
		  </div>
			<div class="ow-bk-text">
				<label class="ow-bk-chett">請選擇設定類型</label>
			</div>
			<div class="ow-bk-box">
				<div class="ow-bk-bnfarm">
					<div class="ow-firstbtn-color ow-btn-biglarg" onclick="window.location.href='@Url.Action("BookingReservationSetup", "BookingSystem", new { storeGuid = Model.StoreGuid })';">
						訂位管理<br />
						(以<span class="OW-w6RP-MonthBar-InfoRed">小時</span>為單位，餐廳、SPA、休憩...)
					</div>
				</div>
				@*
				<div class="ow-bk-bnfarm">
					<div class="ow-firstbtn-color ow-btn-biglarg" onclick="window.location.href='@Url.Action("BookingTravelSetup", "BookingSystem", new { storeGuid = Model.StoreGuid })';" >
						訂房管理<br />
						(以<span class="OW-w6RP-MonthBar-InfoRed">天</span>為單位，住宿)
					</div>
				</div>
				*@
			</div>
		</div>
	</div>
</div>

@section Script{
    <script  type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
}