﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.BookingSystem
@model  CouponBookingDetailModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

@section Script{
    <script  type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('input[name$=".MaxNumberOfPeople"]').each(function() {
                $(this).numeric(true, 0, 999);
                $(this).bind("change", function(e) {
                    var strId = this.id;
                    var idIndex = strId.substring(parseInt(strId.indexOf('_')) + 1, strId.length);
                    if ($(this).val() > 0) {
                        $('#divMaxNumberOfPeople_' + idIndex).removeClass("ow-bk-popfamre");
                        $('#divMaxNumberOfPeople_' + idIndex).addClass("ow-bk-popfamre ow-bk-popf-on");
                    } else {
                        $('#divMaxNumberOfPeople_' + idIndex).removeClass("ow-bk-popfamre ow-bk-popf-on");
                        $('#divMaxNumberOfPeople_' + idIndex).addClass("ow-bk-popfamre");
                    }
                });
            });

            $('input[name="addNum"]').each(function() {
                $(this).bind("click", function(event) {
                    var strId = this.id;
                    var idIndex = strId.substring(parseInt(strId.indexOf('_')) + 1, strId.length);

                    $('#MaxNumberOfPeople_' + idIndex).val(function() {
                        if ($(this).val() == 0) {
                            $(this).val(0);
                        }
                        var val = parseInt($(this).val(), 10);
                        if ($('#chkDayIsOpening').attr('checked')) {
                            return val;
                        }
                        return (val + 1 >= 100) ? 100 : val + 1;
                    });
                    $('#MaxNumberOfPeople_' + idIndex).change();
                });
            });

            $('input[name="minusNum"]').each(function() {
                $(this).bind("click", function(event) {
                    var strId = this.id;
                    var idIndex = strId.substring(parseInt(strId.indexOf('_')) + 1, strId.length);

                    $('#MaxNumberOfPeople_' + idIndex).val(function() {
                        if ($(this).val() == 0) {
                            $(this).val(0);
                        }
                        var val = parseInt($(this).val(), 10);
                        if ($('#chkDayIsOpening').attr('checked')) {
                            return val;
                        }
                        return (val - 1 <= 0) ? 0 : val - 1;
                    });
                    $('#MaxNumberOfPeople_' + idIndex).change();
                });
            });

            var totalIndex = $('body').find('input[name$=".MaxNumberOfPeople"]').length;
            $('input[name$=".MaxNumberOfPeople"]').each(function() {
                $(this).bind("keydown", function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        var nextIndex = $('input[name$=".MaxNumberOfPeople"]').index(this) + 1;
                        if (totalIndex == nextIndex) {
                            $('input[name$=".MaxNumberOfPeople"]:eq(' + $('input[name$=".MaxNumberOfPeople"]').index(this) + ')').focus().select();
                        } else {
                            $('input[name$=".MaxNumberOfPeople"]:eq(' + nextIndex + ')').focus().select();
                        }
                    }
                });
            });

            $('#btnSimplifySetup').click(function() {
                $('#divSimplifySetup').show();
                $('#divDetailedSetup').hide();
                $('#divdefaultSetting').show();
                $("div[id^='divDetailedSettings_']").hide();
                $('#IsDetailedSetting').val('False');
            });

            $('#btnDetailedSetup').click(function() {
                $('#divDetailedSetup').show();
                $('#divSimplifySetup').hide();
                $('#divdefaultSetting').hide();
                $('#IsDetailedSetting').val('True');
                $('.ow-bk-wekul li').eq(0).click();
            });

            $('.ow-bk-wekul li').each(function() {
                $(this).bind('click', function() {
                    $('.ow-bk-wekul li').removeClass();
                    $(this).addClass('on');

                    var liIndex = parseInt($('.ow-bk-wekul li').index($(this)), 10);
                    $("div[id^='divDetailedSettings_']").hide();

                    $('#chkDayIsOpening').attr('checked', !Boolean($("#divDetailedSettings_" + liIndex).find('.IsOpening').val() == "True"));

                    $("#divDetailedSettings_" + liIndex).show();
                });

            });

            $('#chkDayIsOpening').bind('click', function() {

                var liIndex = parseInt($('.ow-bk-wekul li').index($('.ow-bk-wekul').find('.on')), 10);

                if ($(this).attr('checked')) {
                    if (confirm("勾選後，即暫不開放預約，但已預約者不會取消。如欲取消，請各別與消費者連繫。請問您確定暫不開放預約嗎？")) {
                        $("#divDetailedSettings_" + liIndex).find('.IsOpening').val("False");
                        CheckAllMaxOfNumber($("#divDetailedSettings_" + liIndex));
                        $('.ow-bk-wekul li').eq(liIndex).find('.OW-w6RP-MonthBar-InfoRed').show();
                    }
                } else {
                    $("#divDetailedSettings_" + liIndex).find('.IsOpening').val("True");
                    UnLockAllMaxOfNumber($("#divDetailedSettings_" + liIndex));
                    $('.ow-bk-wekul li').eq(liIndex).find('.OW-w6RP-MonthBar-InfoRed').hide();
                }
            });

            $("div[id^='divDetailedSettings_']").each(function() {
                if ($(this).find('.IsOpening').val() == "True") {

                } else {
                    CheckAllMaxOfNumber($(this));
                }
            });

            $('#Mon, #Tue, #Wed, #Thu, #Fri, #Sat, #Sun').click(function () {
                DayCheckClick($(this));
            });
        });

        function DayCheckClick(obj) {
            if (!obj.is(":checked")) {
                if (confirm("取消勾選後，即暫不開放預約，但已預約者不會取消。如欲取消，請各別與消費者連繫。請問您確定暫不開放預約嗎？")) {
                    obj.prop("checked", false);
                } else {
                    obj.prop("checked", true);
                }
            } 
        }

        function SendClick() {
            $('#errorMsg').text("");

            if ($('#Mon').is(":checked") || $('#Tue').is(":checked") || $('#Wed').is(":checked") || $('#Thu').is(":checked") ||
                $('#Fri').is(":checked") || $('#Sat').is(":checked") || $('#Sun').is(":checked")) {
            } else {
                $('#errorMsg').text("請選擇「可預約日期」");
                return;
            }

            var maxNumberOfPeople = 0;
            var errorMsg = "";
            $('input[name$=".MaxNumberOfPeople"]').each(function() {
                if ($(this).val() == "") {
                    $(this).val(0);
                }

                var strId = this.id;
                var idIndex = strId.substring(parseInt(strId.indexOf('_')) + 1, strId.length);
                //可預約人數與已預約人數跳出提醒檢查 
                //若於精簡設定 按下設定 只需檢查 精簡設定設定之可預約人數(以精簡設定輸入之人數為主 不檢查詳細設定頁面設定之人數)
                //若於詳細設定 按下設定 只需檢查 詳細設定設定之可預約人數(以詳細設定輸入之人數為主 不檢查精簡設定頁面設定之人數)
                if ((($('#IsDetailedSetting').val() == 'False' && idIndex.split("_").length == 1) ||
                    ($('#IsDetailedSetting').val() == 'True' && idIndex.split("_").length == 2)) &&
                    parseInt($('#ReservactionMaxPeople_' + idIndex).val(), 10) > parseInt($(this).val(), 10)) {
                    //抓取星期幾 以顯示明確訊息供商家查詢預約紀錄
                    var weekDayDesc = "";
                    if (idIndex.split("_").length == 2) { //詳細設定
                        var weekDay = parseInt(idIndex.substring(parseInt(idIndex.indexOf('_')) - 1, parseInt(idIndex.indexOf('_'))), 10);
                        weekDayDesc = GetWeekDayDesc(weekDay) + " ";
                    } else { //精簡設定
                        for (var i = 0; i <= 6; i ++) {
                            if (parseInt($('#ReservactionMaxPeople_' + i + '_' + idIndex).val(), 10) > parseInt($(this).val(), 10)) {
                                weekDayDesc += GetWeekDayDesc(i) + " ";
                            }
                        }
                    }
                    errorMsg += weekDayDesc + $('input[name$=".TimeSlot"]:eq(' + $('input[name$=".MaxNumberOfPeople"]').index(this) + ')').val() + ":可預約人數小於已預約人數\n";
                }

                maxNumberOfPeople += parseInt($(this).val(), 10);
            });

            if (errorMsg.length > 0) {
                if (!confirm(errorMsg + "，但已預約者不會取消。如欲取消，請各別與消費者連繫。\n請問您確定上述時段暫不開放預約嗎？")) {
                    return;
                }
            }

            if (maxNumberOfPeople == 0) {
                $('#errorMsg').text("請選擇「可預約人數」");
                return;
            }

            UnLockAllMaxOfNumber();

            $('#formBookingReservationDetailSetup').submit();
        }


        function CheckAllMaxOfNumber(obj) {

            obj.find('input[name$=".MaxNumberOfPeople"]').each(function() {
                $(this).attr('disabled', "disabled");
            });
        }

        function UnLockAllMaxOfNumber(obj) {
            obj.find('input[name$=".MaxNumberOfPeople"]').each(function() {
                $(this).removeAttr("disabled");
            });
        }


        function UnLockAllMaxOfNumber() {
            $('input[name$=".MaxNumberOfPeople"]').each(function() {
                $(this).removeAttr("disabled");
            });
        }

        function GetWeekDayDesc(day) {
            switch (day) {
            case 0:
                return "星期一";
            case 1:
                return "星期二";
            case 2:
                return "星期三";
            case 3:
                return "星期四";
            case 4:
                return "星期五";
            case 5:
                return "星期六";
            case 6:
                return "星期日";
            default:
                return "";
            }
        }

    </script>
}

<div class="OWriteOff">
    <div class="OW-center">    
        <div class="OW-booking-w12-box ow-bok-text-cen">
            <div class="ow-bk-topbox ">
                <input type="button" class="ow-firstbtn-color ow-btn-med ow-l" onclick="window.location.href='@Url.Action("BookingReservationSetup", "BookingSystem", new { storeGuid = @Model.StoreGuid })';" value="回上頁"/>
                <div class="ow-bk-step">
                    <img src="@Url.Content("~/Themes/OWriteOff/ow-bk-step2.png")" />
                </div>
            </div>
            <form id="formBookingReservationDetailSetup" action="@Url.Action("BookingReservationDetailSetup")" method="POST">
            <input type="hidden" id="StoreGuid" name="StoreGuid" value="@Model.StoreGuid" />
            <input type="hidden" id="BookingStoreId" name="BookingStoreId" value="@Model.BookingStoreId" />
            <input type="hidden" id="BookingDateTimeStartHour" name="BookingDateTimeStartHour" value="@Model.BookingDateTimeStartHour" />
            <input type="hidden" id="BookingDateTimeStartMinute" name="BookingDateTimeStartMinute" value="@Model.BookingDateTimeStartMinute" />
            <input type="hidden" id="BookingDateTimeEndHour" name="BookingDateTimeEndHour" value="@Model.BookingDateTimeEndHour" />
            <input type="hidden" id="BookingDateTimeEndMinute" name="BookingDateTimeEndMinute" value="@Model.BookingDateTimeEndMinute" />
            <input type="hidden" id="TimeSpan" name="TimeSpan" value="@Model.TimeSpan" />
            <input type="hidden" id='DefaultMaxNumberOfPeople' name="DefaultMaxNumberOfPeople" value="@Model.DefaultMaxNumberOfPeople" />                
            @Html.HiddenFor(m=>m.IsDetailedSetting)
            @Html.HiddenFor(m=>m.MonBookingSystemDateId)
            @Html.HiddenFor(m=>m.TueBookingSystemDateId)
            @Html.HiddenFor(m=>m.WedBookingSystemDateId)
            @Html.HiddenFor(m=>m.ThuBookingSystemDateId)
            @Html.HiddenFor(m=>m.FriBookingSystemDateId)
            @Html.HiddenFor(m=>m.SatBookingSystemDateId)
            @Html.HiddenFor(m=>m.SunBookingSystemDateId)
            <div class="ow-bk-box">
                <div class="ow-bk-text">
                    <label class="ow-bk-chett ow-bk-t-topno ow-text-big ow-org-big">確認設定</label>
                    @* 精簡設定-start *@
                    <div id="divSimplifySetup" class="ow-bk-wekmarkbox">
                        <label class="ow-bk-labelmark">可預約日期：</label>
                        <div class="ow-bk-weekbox">
                            @Html.CheckBoxFor(m => m.Mon, new { @checked = "checked" })<label for="Mon">星期一</label>
                            @Html.CheckBoxFor(m => m.Tue, new { @checked = "checked" })<label for="Tue">星期二</label>
                            @Html.CheckBoxFor(m => m.Wed, new { @checked = "checked" })<label for="Wed">星期三</label>
                            @Html.CheckBoxFor(m => m.Thu, new { @checked = "checked" })<label for="Thu">星期四</label><br />
                            @Html.CheckBoxFor(m => m.Fri, new { @checked = "checked" })<label for="Fri">星期五</label>
                            @Html.CheckBoxFor(m => m.Sat, new { @checked = "checked" })<label for="Sat">星期六</label>
                            @Html.CheckBoxFor(m => m.Sun, new { @checked = "checked" })<label for="Sun">星期日</label>
                        </div>
                        <input id="btnDetailedSetup" type="button" class="ow-firstbtn-color ow-btn-larg" value="詳細設定" />
                    </div>
                      
                    @* 詳細設定-start *@
                    <div id="divDetailedSetup" class="ow-bk-wekmarkbox" style="display: none;">
                        <label class="ow-bk-wekchk OW-w6RP-MonthBar-InfoRed">
                            <input name="" id="chkDayIsOpening" type="checkbox" value="" />暫不開放訂位</label>
                        <ul class="ow-bk-wekul">
                            <li>星期一<label class="OW-w6RP-MonthBar-InfoRed" style="@if (Model.MonIsOpening)
                                                                                  {<text>display:none;</text>}">(暫不開放)</label></li>
                            <li>星期二<label class="OW-w6RP-MonthBar-InfoRed" style="@if (Model.TueIsOpening)
                                                                                  {<text>display:none;</text>}">(暫不開放)</label></li>
                            <li>星期三<label class="OW-w6RP-MonthBar-InfoRed" style="@if (Model.WedIsOpening)
                                                                                  {<text>display:none;</text>}">(暫不開放)</label></li>
                            <li>星期四<label class="OW-w6RP-MonthBar-InfoRed" style="@if (Model.ThuIsOpening)
                                                                                  {<text>display:none;</text>}">(暫不開放)</label></li>
                            <li>星期五<label class="OW-w6RP-MonthBar-InfoRed" style="@if (Model.FriIsOpening)
                                                                                  {<text>display:none;</text>}">(暫不開放)</label></li>
                            <li>星期六<label class="OW-w6RP-MonthBar-InfoRed" style="@if (Model.SatIsOpening)
                                                                                  {<text>display:none;</text>}">(暫不開放)</label></li>
                            <li>星期日<label class="OW-w6RP-MonthBar-InfoRed" style="@if (Model.SunIsOpening)
                                                                                  {<text>display:none;</text>}">(暫不開放)</label></li>
                        </ul>
                        <input id="btnSimplifySetup" type="button" class="ow-firstbtn-color ow-btn-larg" value="精簡設定" />
                    </div>
                      
                    @*精簡timeSlot*@
                    <div id="divdefaultSetting" class="ow-bk-sc2timebox">
                        @{
                            int seq = 0;
                            int tableRowNumber = (@Model.DefaultTimeSlotList.Count % 2 == 0) ? @Model.DefaultTimeSlotList.Count() / 2 : @Model.DefaultTimeSlotList.Count() / 2 + 1;
                        }
                        <div class="ow-bk-sc2timetitlebox">
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                        </div>
                        <div class="ow-bk-lbox">
                        @for (var i = 0; i < Model.DefaultTimeSlotList.Count; i++)
                        {
                            seq++;
                            var reservationMaxPeople = Model.ReservationInfo.Values.Any(x => x.Contains(Model.DefaultTimeSlotList[i].TimeSlot))
                                                        ? Model.ReservationInfo.Values
                                                            .Where(x => x.Contains(Model.DefaultTimeSlotList[i].TimeSlot))
                                                            .Select(x => x[Model.DefaultTimeSlotList[i].TimeSlot].Max())
                                                            .Max()
                                                        : 0;
                            <div id="divMaxNumberOfPeople_@(seq)" class='@Html.Raw(Model.DefaultTimeSlotList[i].MaxNumberOfPeople > 0 ? "ow-bk-popfamre ow-bk-popf-on" : "ow-bk-popfamre")'>
                                @Html.HiddenFor(m => m.DefaultTimeSlotList[i].TimeSlot)
                                @Html.HiddenFor(m => m.DefaultTimeSlotList[i].Id)
                                @Html.HiddenFor(m => m.DefaultTimeSlotList[i].BookingSystemDateId)
                                @Html.Hidden("ReservactionMaxPeople_" + seq, reservationMaxPeople)
                                <label class="ow-bk-labeltimemark">@Html.ValueFor(m => m.DefaultTimeSlotList[i].TimeSlot)</label>
                                <input id="minusNum_@(seq)" name="minusNum" type="button" class="ow-firstbtn-color ow-btn-round" value="-" />
                                @Html.TextBoxFor(m => m.DefaultTimeSlotList[i].MaxNumberOfPeople, new { id = "MaxNumberOfPeople_" + seq, @class = "ow-bk-input-pop" })
                                <input id="addNum_@(seq)" name="addNum" type="button" class="ow-firstbtn-color ow-btn-round" value="+" />
                            </div>
                            if (seq == tableRowNumber)
                            {
                                @Html.Raw("</div><div class='ow-bk-lbox'>");
                            }
                        }
                        </div>
                    </div>
          
                    @*每日詳細設定Detail*@

                    <div id="divDetailedSettings_0" class="ow-bk-sc2timebox" style="display: none;">
                        <input class="IsOpening" type="hidden" value="@Model.MonIsOpening.ToString()" id="MonIsOpening" name="MonIsOpening" />
                        <div class="ow-bk-sc2timetitlebox">
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                        </div>
                        @{
                            var detailedSeq = 0;      
                            var monReservationInfo = Model.ReservationInfo.ContainsKey(DayType.MON)
                                                    ? Model.ReservationInfo[DayType.MON]
                                                    : null;
                            var reservactionMaxPeople = 0;              
                        }
                        <div class="ow-bk-lbox">
                            @for (var i = 0; i < Model.MonTimeSlotList.Count; i++)
                            {
                                detailedSeq++;
                                reservactionMaxPeople = monReservationInfo == null || 
                                                        !monReservationInfo.Contains(Model.MonTimeSlotList[i].TimeSlot)
                                                        ? 0
                                                        : monReservationInfo[Model.MonTimeSlotList[i].TimeSlot].Max();
                                <div id="divMaxNumberOfPeople_@( "0_" + detailedSeq)" class='@Html.Raw(Model.MonTimeSlotList[i].MaxNumberOfPeople > 0 ? "ow-bk-popfamre ow-bk-popf-on" : "ow-bk-popfamre")'>
                                    @Html.HiddenFor(m => m.MonTimeSlotList[i].TimeSlot)
                                    @Html.HiddenFor(m => m.MonTimeSlotList[i].Id)
                                    @Html.HiddenFor(m => m.MonTimeSlotList[i].BookingSystemDateId)
                                    @Html.Hidden("ReservactionMaxPeople_0_" + detailedSeq, reservactionMaxPeople)
                                    <label class="ow-bk-labeltimemark">@Html.ValueFor(m => m.MonTimeSlotList[i].TimeSlot)</label>
                                    <input id="minusNum_@( "0_" + detailedSeq )" name="minusNum" type="button" class="ow-firstbtn-color ow-btn-round" value="-" />
                                    @Html.TextBoxFor(m => m.MonTimeSlotList[i].MaxNumberOfPeople, new { id = "MaxNumberOfPeople_0_" + detailedSeq, @class = "ow-bk-input-pop" })
                                    <input id="addNum_@( "0_" + detailedSeq )" name="addNum" type="button" class="ow-firstbtn-color ow-btn-round" value="+" />
                                </div>
                                if (detailedSeq == tableRowNumber)
                                {
                                    @Html.Raw("</div><div class='ow-bk-lbox'>");
                                }
                            }
                        </div>
                    </div>
                    
                    <div id="divDetailedSettings_1" class="ow-bk-sc2timebox" style="display: none;">
                        <input class="IsOpening" type="hidden" value="@Model.TueIsOpening.ToString()" id="TueIsOpening" name="TueIsOpening" />
                        <div class="ow-bk-sc2timetitlebox">
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                        </div>
                        @{
                            detailedSeq = 0; 
                            var tueReservationInfo = Model.ReservationInfo.ContainsKey(DayType.TUE)
                                                    ? Model.ReservationInfo[DayType.TUE]
                                                    : null;                                    
                        }
                        <div class="ow-bk-lbox">
                            @for (var i = 0; i < Model.TueTimeSlotList.Count; i++)
                            {
                                detailedSeq++;
                                reservactionMaxPeople = tueReservationInfo == null ||
                                                        !tueReservationInfo.Contains(Model.TueTimeSlotList[i].TimeSlot)
                                                        ? 0
                                                        : tueReservationInfo[Model.TueTimeSlotList[i].TimeSlot].Max();
                                <div id="divMaxNumberOfPeople_@( "1_" + detailedSeq)" class='@Html.Raw(Model.TueTimeSlotList[i].MaxNumberOfPeople > 0 ? "ow-bk-popfamre ow-bk-popf-on" : "ow-bk-popfamre")'>
                                    @Html.HiddenFor(m => m.TueTimeSlotList[i].TimeSlot)
                                    @Html.HiddenFor(m => m.TueTimeSlotList[i].Id)
                                    @Html.HiddenFor(m => m.TueTimeSlotList[i].BookingSystemDateId)
                                    @Html.Hidden("ReservactionMaxPeople_1_" + detailedSeq, reservactionMaxPeople)
                                    <label class="ow-bk-labeltimemark">@Html.ValueFor(m => m.TueTimeSlotList[i].TimeSlot)</label>
                                    <input id="minusNum_@( "1_" + detailedSeq )" name="minusNum" type="button" class="ow-firstbtn-color ow-btn-round" value="-" />
                                    @Html.TextBoxFor(m => m.TueTimeSlotList[i].MaxNumberOfPeople, new { id = "MaxNumberOfPeople_1_" + detailedSeq, @class = "ow-bk-input-pop" })
                                    <input id="addNum_@( "1_" + detailedSeq )" name="addNum" type="button" class="ow-firstbtn-color ow-btn-round" value="+" />
                                </div>
                                if (detailedSeq == tableRowNumber)
                                {
                                @Html.Raw("</div><div class='ow-bk-lbox'>");
                                }
                            }
                        </div>
                    </div>
                                                                
                    <div id="divDetailedSettings_2" class="ow-bk-sc2timebox" style="display: none;">
                        <input class="IsOpening" type="hidden" value="@Model.WedIsOpening.ToString()" id="WedIsOpening" name="WedIsOpening" />
                        <div class="ow-bk-sc2timetitlebox">
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                        </div>
                        @{
                            detailedSeq = 0;
                            var wedReservationInfo = Model.ReservationInfo.ContainsKey(DayType.WED)
                                                    ? Model.ReservationInfo[DayType.WED]
                                                    : null;                             
                        }
                        <div class="ow-bk-lbox">
                            @for (var i = 0; i < Model.WedTimeSlotList.Count; i++)
                            {
                                detailedSeq++;
                                reservactionMaxPeople = wedReservationInfo == null ||
                                                        !wedReservationInfo.Contains(Model.WedTimeSlotList[i].TimeSlot)
                                                        ? 0
                                                        : wedReservationInfo[Model.WedTimeSlotList[i].TimeSlot].Max();
                                <div id="divMaxNumberOfPeople_@( "2_" + detailedSeq)" class='@Html.Raw(Model.WedTimeSlotList[i].MaxNumberOfPeople > 0 ? "ow-bk-popfamre ow-bk-popf-on" : "ow-bk-popfamre")'>
                                    @Html.HiddenFor(m => m.WedTimeSlotList[i].TimeSlot)
                                    @Html.HiddenFor(m => m.WedTimeSlotList[i].Id)
                                    @Html.HiddenFor(m => m.WedTimeSlotList[i].BookingSystemDateId)
                                    @Html.Hidden("ReservactionMaxPeople_2_" + detailedSeq, reservactionMaxPeople)
                                    <label class="ow-bk-labeltimemark">@Html.ValueFor(m => m.WedTimeSlotList[i].TimeSlot)</label>
                                    <input id="minusNum_@( "2_" + detailedSeq )" name="minusNum" type="button" class="ow-firstbtn-color ow-btn-round" value="-" />
                                    @Html.TextBoxFor(m => m.WedTimeSlotList[i].MaxNumberOfPeople, new { id = "MaxNumberOfPeople_2_" + detailedSeq, @class = "ow-bk-input-pop" })
                                    <input id="addNum_@( "2_" + detailedSeq )" name="addNum" type="button" class="ow-firstbtn-color ow-btn-round" value="+" />
                                </div>
                                if (detailedSeq == tableRowNumber)
                                {
                                @Html.Raw("</div><div class='ow-bk-lbox'>");
                                }
                            }
                        </div>
                    </div>                    

                    <div id="divDetailedSettings_3" class="ow-bk-sc2timebox" style="display: none;">
                        <input class="IsOpening" type="hidden" value="@Model.ThuIsOpening.ToString()" id="ThuIsOpening" name="ThuIsOpening" />
                        <div class="ow-bk-sc2timetitlebox">
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                        </div>
                        @{
                            detailedSeq = 0;
                            var thuReservationInfo = Model.ReservationInfo.ContainsKey(DayType.THU)
                                                    ? Model.ReservationInfo[DayType.THU]
                                                    : null;
                        }
                        <div class="ow-bk-lbox">
                            @for (var i = 0; i < Model.ThuTimeSlotList.Count; i++)
                            {
                                detailedSeq++;
                                reservactionMaxPeople = thuReservationInfo == null ||
                                                        !thuReservationInfo.Contains(Model.ThuTimeSlotList[i].TimeSlot)
                                                        ? 0
                                                        : thuReservationInfo[Model.ThuTimeSlotList[i].TimeSlot].Max();
                                <div id="divMaxNumberOfPeople_@( "3_" + detailedSeq)" class='@Html.Raw(Model.ThuTimeSlotList[i].MaxNumberOfPeople > 0 ? "ow-bk-popfamre ow-bk-popf-on" : "ow-bk-popfamre")'>
                                    @Html.HiddenFor(m => m.ThuTimeSlotList[i].TimeSlot)
                                    @Html.HiddenFor(m => m.ThuTimeSlotList[i].Id)
                                    @Html.HiddenFor(m => m.ThuTimeSlotList[i].BookingSystemDateId)
                                    @Html.Hidden("ReservactionMaxPeople_3_" + detailedSeq, reservactionMaxPeople)
                                    <label class="ow-bk-labeltimemark">@Html.ValueFor(m => m.ThuTimeSlotList[i].TimeSlot)</label>
                                    <input id="minusNum_@( "3_" + detailedSeq )" name="minusNum" type="button" class="ow-firstbtn-color ow-btn-round" value="-" />
                                    @Html.TextBoxFor(m => m.ThuTimeSlotList[i].MaxNumberOfPeople, new { id = "MaxNumberOfPeople_3_" + detailedSeq, @class = "ow-bk-input-pop" })
                                    <input id="addNum_@( "3_" + detailedSeq )" name="addNum" type="button" class="ow-firstbtn-color ow-btn-round" value="+" />
                                </div>
                                if (detailedSeq == tableRowNumber)
                                {
                                @Html.Raw("</div><div class='ow-bk-lbox'>");
                                }
                            }
                        </div>
                    </div>                    
          
                    <div id="divDetailedSettings_4" class="ow-bk-sc2timebox" style="display: none;">
                        <input class="IsOpening" type="hidden" value="@Model.FriIsOpening.ToString()" id="FriIsOpening" name="FriIsOpening" />
                        <div class="ow-bk-sc2timetitlebox">
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                        </div>
                        @{
                            detailedSeq = 0;
                            var friReservationInfo = Model.ReservationInfo.ContainsKey(DayType.FRI)
                                                    ? Model.ReservationInfo[DayType.FRI]
                                                    : null;                               
                        }
                        <div class="ow-bk-lbox">
                            @for (var i = 0; i < Model.FriTimeSlotList.Count; i++)
                            {
                                detailedSeq++;
                                reservactionMaxPeople = friReservationInfo == null ||
                                                        !friReservationInfo.Contains(Model.FriTimeSlotList[i].TimeSlot)
                                                        ? 0
                                                        : friReservationInfo[Model.FriTimeSlotList[i].TimeSlot].Max();
                                <div id="divMaxNumberOfPeople_@( "4_" + detailedSeq)" class='@Html.Raw(Model.FriTimeSlotList[i].MaxNumberOfPeople > 0 ? "ow-bk-popfamre ow-bk-popf-on" : "ow-bk-popfamre")'>
                                    @Html.HiddenFor(m => m.FriTimeSlotList[i].TimeSlot)
                                    @Html.HiddenFor(m => m.FriTimeSlotList[i].Id)
                                    @Html.HiddenFor(m => m.FriTimeSlotList[i].BookingSystemDateId)
                                    @Html.Hidden("ReservactionMaxPeople_4_" + detailedSeq, reservactionMaxPeople)
                                    <label class="ow-bk-labeltimemark">@Html.ValueFor(m => m.FriTimeSlotList[i].TimeSlot)</label>
                                    <input id="minusNum_@( "4_" + detailedSeq )" name="minusNum" type="button" class="ow-firstbtn-color ow-btn-round" value="-" />
                                    @Html.TextBoxFor(m => m.FriTimeSlotList[i].MaxNumberOfPeople, new { id = "MaxNumberOfPeople_4_" + detailedSeq, @class = "ow-bk-input-pop" })
                                    <input id="addNum_@( "4_" + detailedSeq )" name="addNum" type="button" class="ow-firstbtn-color ow-btn-round" value="+" />
                                </div>
                                if (detailedSeq == tableRowNumber)
                                {
                                @Html.Raw("</div><div class='ow-bk-lbox'>");
                                }
                            }
                        </div>
                    </div>                           

                    <div id="divDetailedSettings_5" class="ow-bk-sc2timebox" style="display: none;">
                        <input class="IsOpening" type="hidden" value="@Model.SatIsOpening.ToString()" id="SatIsOpening" name="SatIsOpening" />
                        <div class="ow-bk-sc2timetitlebox">
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                        </div>
                        @{
                            detailedSeq = 0;
                            var satReservationInfo = Model.ReservationInfo.ContainsKey(DayType.SAT)
                                                    ? Model.ReservationInfo[DayType.SAT]
                                                    : null;                            
                        }
                        <div class="ow-bk-lbox">
                            @for (var i = 0; i < Model.SatTimeSlotList.Count; i++)
                            {
                                detailedSeq++;
                                reservactionMaxPeople = satReservationInfo == null ||
                                                        !satReservationInfo.Contains(Model.SatTimeSlotList[i].TimeSlot)
                                                        ? 0
                                                        : satReservationInfo[Model.SatTimeSlotList[i].TimeSlot].Max();
                                <div id="divMaxNumberOfPeople_@( "5_" + detailedSeq)" class='@Html.Raw(Model.SatTimeSlotList[i].MaxNumberOfPeople > 0 ? "ow-bk-popfamre ow-bk-popf-on" : "ow-bk-popfamre")'>
                                    @Html.HiddenFor(m => m.SatTimeSlotList[i].TimeSlot)
                                    @Html.HiddenFor(m => m.SatTimeSlotList[i].Id)
                                    @Html.HiddenFor(m => m.SatTimeSlotList[i].BookingSystemDateId)
                                    @Html.Hidden("ReservactionMaxPeople_5_" + detailedSeq, reservactionMaxPeople)
                                    <label class="ow-bk-labeltimemark">@Html.ValueFor(m => m.SatTimeSlotList[i].TimeSlot)</label>
                                    <input id="minusNum_@( "5_" + detailedSeq )" name="minusNum" type="button" class="ow-firstbtn-color ow-btn-round" value="-" />
                                    @Html.TextBoxFor(m => m.SatTimeSlotList[i].MaxNumberOfPeople, new { id = "MaxNumberOfPeople_5_" + detailedSeq, @class = "ow-bk-input-pop" })
                                    <input id="addNum_@( "5_" + detailedSeq )" name="addNum" type="button" class="ow-firstbtn-color ow-btn-round" value="+" />
                                </div>
                                if (detailedSeq == tableRowNumber)
                                {
                                @Html.Raw("</div><div class='ow-bk-lbox'>");
                                }
                            }
                        </div>
                    </div>                        
                    
                    <div id="divDetailedSettings_6" class="ow-bk-sc2timebox" style="display: none;">
                        <input class="IsOpening" type="hidden" value="@Model.SunIsOpening.ToString()" id="SunIsOpening" name="SunIsOpening" />
                        <div class="ow-bk-sc2timetitlebox">
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                            <div class="ow-bk-lbox">
                                <label class="ow-bk-timelabel ow-org-big">時段</label>
                                <label class="ow-bk-timelabel ow-org-big">可預約人數</label>
                            </div>
                        </div>
                        @{
                            detailedSeq = 0;
                            var sunReservationInfo = Model.ReservationInfo.ContainsKey(DayType.SUN)
                                                    ? Model.ReservationInfo[DayType.SUN]
                                                    : null;                               
                        }
                        <div class="ow-bk-lbox">
                            @for (var i = 0; i < Model.SunTimeSlotList.Count; i++)
                            {
                                detailedSeq++;
                                reservactionMaxPeople = sunReservationInfo == null ||
                                                        !sunReservationInfo.Contains(Model.SunTimeSlotList[i].TimeSlot)
                                                        ? 0
                                                        : sunReservationInfo[Model.SunTimeSlotList[i].TimeSlot].Max();
                                <div id="divMaxNumberOfPeople_@( "6_" + detailedSeq)" class='@Html.Raw(Model.SunTimeSlotList[i].MaxNumberOfPeople > 0 ? "ow-bk-popfamre ow-bk-popf-on" : "ow-bk-popfamre")'>
                                    @Html.HiddenFor(m => m.SunTimeSlotList[i].TimeSlot)
                                    @Html.HiddenFor(m => m.SunTimeSlotList[i].Id)
                                    @Html.HiddenFor(m => m.SunTimeSlotList[i].BookingSystemDateId)
                                    @Html.Hidden("ReservactionMaxPeople_6_" + detailedSeq, reservactionMaxPeople)
                                    <label class="ow-bk-labeltimemark">@Html.ValueFor(m => m.SunTimeSlotList[i].TimeSlot)</label>
                                    <input id="minusNum_@( "6_" + detailedSeq )" name="minusNum" type="button" class="ow-firstbtn-color ow-btn-round" value="-" />
                                    @Html.TextBoxFor(m => m.SunTimeSlotList[i].MaxNumberOfPeople, new { id = "MaxNumberOfPeople_6_" + detailedSeq, @class = "ow-bk-input-pop" })
                                    <input id="addNum_@( "6_" + detailedSeq )" name="addNum" type="button" class="ow-firstbtn-color ow-btn-round" value="+" />
                                </div>
                                if (detailedSeq == tableRowNumber)
                                {
                                @Html.Raw("</div><div class='ow-bk-lbox'>");
                                }
                            }
                        </div>
                    </div>    
                    <div class="ow-bk-markbox">
                        <label class="ow-bk-timelabel OW-w6RP-MonthBar-InfoRed">※如某時段不開放，設定0即可</label>
                    </div>

                    <div class="ow-bk-markbox">
                        <label id="errorMsg" class="OW-w6RP-MonthBar-InfoRed"></label>
                    </div>
          
                    <div class="ow-bk-markbox">
                        <input type="button" class="ow-firstbtn-color ow-btn-larg" onclick="return SendClick();" value="設定完成" />
                    </div>
                </div>
            </div>
			</form>
		</div>
	</div>
</div>

@helper WeekDayIsOpen(int detailedIndex)
{
    switch (detailedIndex)
    {
        case 1:
    @Model.MonIsOpening
            break;
        case 2:
    @Model.TueIsOpening
            break;
        case 3:
    @Model.WedIsOpening
            break;
        case 4:
    @Model.ThuIsOpening
            break;
        case 5:
    @Model.FriIsOpening
            break;
        case 6:
    @Model.SatIsOpening
            break;
        case 7:
    @Model.SunIsOpening
            break;
    }
}