﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.BookingSystem
@model SearchSellerViewModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<div class="OWriteOff">
	<div class="OW-center">
		<form id="BookingSystemForm" action="@Url.Action("BookingSystemSearch", "BookingSystem")" method="POST">    
		<div class="OW-booking-w12-box ow-bok-text-cen">
			@if (ViewBag.Is17LifeEmployee)
			{
				<div class="ow-bk-markbox ">
					<select id="BookingSearchType" name="BookingSearchType" >
						<option value="@((int)BookingSearchType.SignCompanyId)" @(Model.BookingSearchType == (int)BookingSearchType.SignCompanyId ? "selected='selected'" : string.Empty)>簽約公司ID/統編</option>
						<option value="@((int)BookingSearchType.SellerId)" @(Model.BookingSearchType == (int)BookingSearchType.SellerId ? "selected='selected'" : string.Empty) >賣家編號</option>					
					</select>

				
					<input id="SearchExpression" name="SearchExpression" value="@Html.Raw(string.IsNullOrWhiteSpace(Model.SearchExpression) ? "" : @Model.SearchExpression)"  class="ow-bk-input-w13" /> 

					<input class="ow-firstbtn-color ow-btn-med" onclick="return InputCheck();" type="submit" value="查詢"> <br />    
					<div id="searchExample" ><label>賣家編號範例：A0-00-001</label></div>
				</div>

				<div class="ow-bk-markbox">
					<label id="errorMessage" class="OW-w6RP-MonthBar-InfoRed">@ViewBag.Message</label>
				</div>           
			
			}

			@if (Model.BookingSellerModels != null && Model.BookingSellerModels.Any())
			{
				<div id="panSellers" class="ow-bk-markbox">
					@for (var i = 0; i < Model.BookingSellerModels.Count; i++)
					{
						<input name="seller" class="ow-firstbtn-color ow-btn-biglarg-nof" type="button" value="@if (Model.BookingSellerModels[i].SellerName.Length > 20)
																											   {
																												   @Model.BookingSellerModels[i].SellerName.Substring(0, 20)@:...
																											   }
																											   else
																											   {
																												   @Model.BookingSellerModels[i].SellerName
																											   }" onclick="window.location.href = '@Url.Action("BookingStore", "BookingSystem", new { sellerGuid = Model.BookingSellerModels[i].SellerGuid })    ';" />                
					}
				</div>
				<div class="ow-bk-text">
					@RenderPagerBar(Model.BookingSellerModels)
				</div>           
			}
		</div>
		</form>
	</div>
</div>

@section Script{
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/bjqs-1.3.booking.min.js")"></script>
    <link href="@Url.Content("~/Tools/js/css/bjqs.css")" type="text/css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function() {

            $('#BookingSearchType').change(function() {
                if (this.value == "2") {
                    $('#searchExample').attr("style", "");
                } else {
                    $('#searchExample').attr("style", "display:none;");
                }
            });

            $('#BookingSearchType').change();

        });

        function InputCheck() {
            var errorObj = $("#errorMessage");
            errorObj.text("");

            if ($('#SearchExpression').val().length == 0) {
                errorObj.text("搜尋條件不得為空");
                return false;
            }
            return true;
        }

    </script>
}
@helper RenderPagerBar(PagerList<BookingSellerModel> pagerData)
{
    int nextPage = pagerData.CurrentPage + 1;
    int prevPage = pagerData.CurrentPage - 1;
    string firstPageUrl = Url.Action("BookingSystemSearch", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MinPage));
    string lastPageUrl = Url.Action("BookingSystemSearch", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MaxPage));
    string nextPageUrl = Url.Action("BookingSystemSearch", MvcUtility.GetRouteValues(ViewContext, "pageNumber", nextPage));
    string prevPageUrl = Url.Action("BookingSystemSearch", MvcUtility.GetRouteValues(ViewContext, "pageNumber", prevPage));
    string pagerPattern = Url.Action("BookingSystemSearch", MvcUtility.GetRouteValues(ViewContext, "pageNumber", "_pageNumber"));
    <div style="text-align:center;">
        <table style="padding: 5px; margin-top: 10px; display:inline-block; width:520px;">
            <tr>
                <td style="width:60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width:60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width:auto; font-size:15px">
                    第 
                    <select style="margin: 3px 5px 3px 5px" pagerPattern="@pagerPattern" 
                        onchange="location.href=$(this).attr('pagerPattern').replace('_pageNumber',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select> 
                    頁 / 共 <span style="font-weight:bold">@pagerData.MaxPage</span> 頁 | <span style="font-weight:bold">@pagerData.TotalItemCount</span> 筆資料            
                </td>
                <td style="width:60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width:60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="visibility:hidden"/>
                    }
                </td>
            </tr>
        </table>    
    </div>
}