﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.BookingSystem
@model BookingSystemStoresViewModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="OW-booking-w12-box ow-bok-text-cen">
		@if (ViewBag.Is17LifeEmployee)
		{      
			<div class="ow-bk-topbox ">
			   <input type="button" class="ow-firstbtn-color ow-btn-med ow-l" value="回上頁" onclick="window.location.href='@Url.Action("BookingSystemAuthorize")    ';"/>
				<div class="ow-bk-tittle">
					<label class="ow-bk-listtop-t">請選擇分店</label>
				</div>
			</div>          
		}
		else
		{
			<div class="ow-bk-markbox ow-bkW13-businsbox ">
				<label class="ow-bk-listtop-t">請選擇分店</label>
			</div>
		}
			<div class="ow-bk-markbox">
				@for (int i = 0; i < Model.Stores.Count; i++)
				{
	@*<input type="button" class="ow-firstbtn-color ow-btn-biglarg-nof" value="@(Model.Stores[i].StoreName)" onclick="window.location.href='@Url.Action((Model.Stores[i].IsDefalutSetting) ? "BookingStoreReservationList" : "BookingFirst", new { storeGuid = Model.Stores[i].StoreGuid })    '" /><br />*@
					<input type="button" class="ow-firstbtn-color ow-btn-biglarg-nof" value="@(Model.Stores[i].StoreName)" onclick="window.location.href='@Url.Action((Model.Stores[i].IsDefalutSetting) ? "BookingStoreReservationList" : "BookingReservationSetup", new { storeGuid = Model.Stores[i].StoreGuid })    '" /><br />                    
				}
			</div>
			<div class="ow-bk-text">
				@RenderPagerBar(Model.Stores)
			</div>
		</div>
	</div>
</div>

@section Script{
    <script  type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
}
@helper RenderPagerBar(PagerList<BookingSystemStoreViewModel> pagerData)
{
    int nextPage = pagerData.CurrentPage + 1;
    int prevPage = pagerData.CurrentPage - 1;
    string firstPageUrl = Url.Action("BookingStore", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MinPage));
    string lastPageUrl = Url.Action("BookingStore", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MaxPage));
    string nextPageUrl = Url.Action("BookingStore", MvcUtility.GetRouteValues(ViewContext, "pageNumber", nextPage));
    string prevPageUrl = Url.Action("BookingStore", MvcUtility.GetRouteValues(ViewContext, "pageNumber", prevPage));
    string pagerPattern = Url.Action("BookingStore", MvcUtility.GetRouteValues(ViewContext, "pageNumber", "_pageNumber"));
    <div style="text-align: center;">
        <table style="padding: 5px; margin-top: 10px; display: inline-block; width: 520px;">
            <tr>
                <td style="width: 60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width: 60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width: auto; font-size: 15px">第 
                    <select style="margin: 3px 5px 3px 5px" pagerPattern="@pagerPattern" 
                        onchange="location.href=$(this).attr('pagerPattern').replace('_pageNumber',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select>
                    頁 / 共 <span style="font-weight: bold">@pagerData.MaxPage</span> 頁 | <span style="font-weight: bold">@pagerData.TotalItemCount</span> 筆資料            
                </td>
                <td style="width: 60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width: 60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="visibility:hidden"/>
                    }
                </td>
            </tr>
        </table>
    </div>
}
