﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.BookingSystem
@model BookingPhoneReservationViewModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<div class="OWriteOff">
  <div class="OW-center">
    <div class="OW-booking-w12-box ow-bok-text-cen ow-bk-w13">
       <div class="ow-bk-topbox ">
         <input type="button" class="ow-firstbtn-color ow-btn-med ow-l" value="回上頁" onclick="window.location.href='@Url.Action("BookingStoreReservationList", "BookingSystem", new { storeGuid = Model.StoreGuid })';"/>
         <div class="ow-bk-tittle">           
             <label class="ow-bk-listtop-t">電話預約</label>           
       </div>
      </div>
       
       <div class="ow-bk-box">
          <div class="ow-bk-bnfarm">
             <div class="ow-firstbtn-color ow-btn-biglarg" onclick="window.location.href='@Url.Action("BookingPhoneCouponReservation", "BookingSystem", new { storeGuid = @Model.StoreGuid })';">預約<span class="OW-w6RP-MonthBar-InfoRed">訂位</span></div>
          </div>
          <br/>
          <div class="ow-bk-bnfarm" style="display: none;">
             <div class="ow-firstbtn-color ow-btn-biglarg" onclick="window.location.href='@Url.Action("BookingPhoneTravelReservation", "BookingSystem", new { storeGuid = @Model.StoreGuid })';">預約<span class="OW-w6RP-MonthBar-InfoRed">訂房</span></div>
          </div>          
       </div>
      </div> 
    </div>
</div>

@section Script{
    <script  type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
}