﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.BookingSystem
@model StoreReservationListViewModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="OW-booking-w12-box">
			<div class="ow-bk-topbox ">
				<input type="button" class="ow-firstbtn-color ow-btn-med ow-l" value="回上頁" onclick="window.location.href='@Url.Action("BookingSystemAuthorize", "BookingSystem")';"/>
				<div class="ow-bk-tittle">
					<label class="ow-bk-listtop-t">預約管理</label>
					<div class="ow-filter">
						<input type="button" class="ow-secondbtn-color ow-btnyelmed" value="預約查詢" onclick="window.location.href='@Url.Action("BookingReservationSearch", new { storeGuid=Model.StoreGuid })';" />
						<input type="button" class="ow-firstbtn-color ow-btn-med" value="電話預約"  onclick="window.location.href='@Url.Action("BookingPhoneCouponReservation", new { storeGuid=Model.StoreGuid })';" />
					</div>
				</div>
			</div>
			<form id="BookingListForm" action="@Url.Action("BookingStoreReservationList", "BookingSystem")" method="POST">
				<div class="ow-listbox">
					<div class="ow-bk-text">
						<label class="OW-w6RP-MonthBar-InfoRed ow-bk-w12-totaltext">※已預約憑證不代表請款之核銷份數，故請務必確實核銷！</label><br />
						<label class="ow-bk-w12-totaltext">※17Life系統提供30日內之預約管理，但消費者僅可先預約15日內喔！</label><br />
					</div>

					<table class="ow-bk-lis-deta-table" border="0" cellspacing="0" cellpadding="0">
						<tr class="ow-bgcolor">
							@if (ViewBag.IsOpenSetting)
							{
								<th width="110">設定</th>
								<th width="180">日期</th>
								<th width="100">星期</th>
								<th colspan="2" width="330">目前總預約人數</th>
								<th width="160">詳細內容</th>

							}
							else
							{
								<th width="200">日期</th>
								<th width="120">星期</th>
								<th colspan="2" >目前總預約人數</th>
								<th width="190">詳細內容</th>
							}
						</tr>
						@for (var i = 0; i < Model.StoreReservationDateInfos.Count; i++)
						{
							<tr @if (!Model.StoreReservationDateInfos[i].IsOpenBooking || (!Model.StoreReservationDateInfos[i].IsOpenBooking && Model.StoreReservationDateInfos[i].CouponBookingCount > 0))
								{<text>class=" ow-bg-soldout"</text>}>
								
								@if (ViewBag.IsOpenSetting)
								{
									<td>
										<input type="button" class="ow-firstbtn-color ow-btn-smll" value="設定"  onclick=" window.location.href = '@Url.Action("BookingDailyCouponSetup", "BookingSystem", new { storeGuid = @Model.StoreGuid, bookingDateId = @Model.StoreReservationDateInfos[i].BookingSystemDateId, effectiveDate = @Model.StoreReservationDateInfos[i].BookingDate,bookingType= (int)BookingType.Coupon })';" />
									</td>
								}
								<td>@Model.StoreReservationDateInfos[i].BookingDate.ToString("yyyy/MM/dd")</td>
								<td>@ChineseByEnWeek(@Model.StoreReservationDateInfos[i].BookingDate)</td>
								@*
								<td width="175"  @if (Model.StoreReservationDateInfos[i].IsTravelBookingOver && Model.StoreReservationDateInfos[i].TravelBookingCount > 0)
												 {<text>class="OW-w6RP-MonthBar-InfoRed"</text>}>
									<div class="ow-w12-icon"><img src="@Url.Content("~/Themes/OWriteOff/w12-icon1.jpg")" /></div>
									<div class="ow-bk-w12-totaltext">
										@if (Model.StoreReservationDateInfos[i].IsOpenBooking)
										{
											if (Model.StoreReservationDateInfos[i].IsTravelBookingOver && Model.StoreReservationDateInfos[i].TravelBookingCount > 0)
											{
												@( Model.StoreReservationDateInfos[i].TravelBookingCount)
												@:人(滿)
											}
											else
											{
												@(Model.StoreReservationDateInfos[i].TravelBookingCount) 
												@:人
											}
										}
										else
										{
											@:關閉
										}
	 
									</div>
								</td>
								*@
								<td colspan="2"  @if (Model.StoreReservationDateInfos[i].IsCouponBookingOver && Model.StoreReservationDateInfos[i].CouponBookingCount > 0 && Model.StoreReservationDateInfos[i].IsOpenBooking)
												 {<text>class="OW-w6RP-MonthBar-InfoRed"</text>}>
									<div class="ow-w12-icon"><img src="@Url.Content("~/Themes/OWriteOff/w12-icon2.jpg")" /></div>
									<div class="ow-bk-w12-totaltext">
										@if (Model.StoreReservationDateInfos[i].IsOpenBooking)
										{
											if (Model.StoreReservationDateInfos[i].IsCouponBookingOver && Model.StoreReservationDateInfos[i].CouponBookingCount > 0)
											{
												@( Model.StoreReservationDateInfos[i].CouponBookingCount)
												@:人(滿)
											}
											else
											{
												@(Model.StoreReservationDateInfos[i].CouponBookingCount) 
												@:人
											}
										}
										else if (!Model.StoreReservationDateInfos[i].IsOpenBooking && Model.StoreReservationDateInfos[i].CouponBookingCount > 0)
										{
											@(Model.StoreReservationDateInfos[i].CouponBookingCount) 
											@:(關)                                        
										}
										else
										{
											@:關閉
										}
									</div>
								</td>
								

								<td>
									@if (Model.StoreReservationDateInfos[i].IsValidBooking)
									{
										if ((Model.StoreReservationDateInfos[i].IsCancelCouponReservation || Model.StoreReservationDateInfos[i].IsCancelTravelReservation) || 
											(!Model.StoreReservationDateInfos[i].IsOpenBooking && Model.StoreReservationDateInfos[i].CouponBookingCount > 0) ||
											(Model.StoreReservationDateInfos[i].IsOpenBooking && (Model.StoreReservationDateInfos[i].CouponBookingCount > 0 || Model.StoreReservationDateInfos[i].TravelBookingCount > 0)))
										{
											<input type="button" class="ow-firstbtn-color ow-btn-med" value="詳細內容" onclick="window.location.href='@Url.Action("BookingDailyReservation", "BookingSystem", new { storeGuid = Model.StoreGuid, effectiveDate = Model.StoreReservationDateInfos[i].BookingDate.ToString("yyyy/MM/dd") })';" />
										}
										else
										{
											<input type="button" class="ow-graybtn-color ow-btn-med" value="詳細內容"  />
										}

									}
								</td>
							</tr>
						}

					</table>
					<div class="ow-bk-text">
						@RenderPagerBar(Model.StoreReservationDateInfos)
					</div>
				</div>
			  <div class="ow-listbox ow-bk-textright">
				  <input type="button" class="ow-secondbtn-color ow-btnyelmed" value="首次設定" onclick="window.location.href='@Url.Action("BookingReservationSetup", "BookingSystem", new { storeGuid = Model.StoreGuid })';" />
			  </div>
			</form>
		</div>
	</div>
</div>

@section Script{
    <script  type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
}

@helper ChineseByEnWeek(DateTime dt)
{
    switch (dt.DayOfWeek.ToString())
    {
        case "Monday": 
    @:一 
                    break;
        case "Tuesday": 
    @:二
                    break;
        case "Wednesday": 
    @:三
                    break;
        case "Thursday": 
    @:四
                    break;
        case "Friday": 
    @:五
                    break;
        case "Saturday": 
    @:<span style="color: green; height: 10px;">六</span>
                    break;
        case "Sunday": 
    @:<span style="color: red; height: 10px;">日</span>
                    break;
        default:
    @:
                    break;
    }
}

@helper RenderPagerBar(PagerList<StoreReservationDateInfo> pagerData)
{
    int nextPage = pagerData.CurrentPage + 1;
    int prevPage = pagerData.CurrentPage - 1;
    string firstPageUrl = Url.Action("BookingStoreReservationList", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MinPage));
    string lastPageUrl = Url.Action("BookingStoreReservationList", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MaxPage));
    string nextPageUrl = Url.Action("BookingStoreReservationList", MvcUtility.GetRouteValues(ViewContext, "pageNumber", nextPage));
    string prevPageUrl = Url.Action("BookingStoreReservationList", MvcUtility.GetRouteValues(ViewContext, "pageNumber", prevPage));
    string pagerPattern = Url.Action("BookingStoreReservationList", MvcUtility.GetRouteValues(ViewContext, "pageNumber", "_pageNumber"));
    <div style="text-align:center;">
        <table style="padding: 5px; margin-top: 10px; display:inline-block; width:520px;">
            <tr>
                <td style="width:60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width:60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width:auto; font-size:15px">
                    第 
                    <select style="margin: 3px 5px 3px 5px" pagerPattern="@pagerPattern" 
                        onchange="location.href=$(this).attr('pagerPattern').replace('_pageNumber',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select> 
                    頁 / 共 <span style="font-weight:bold">@pagerData.MaxPage</span> 頁 | <span style="font-weight:bold">@pagerData.TotalItemCount</span> 筆資料            
                </td>
                <td style="width:60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width:60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="visibility:hidden"/>
                    }
                </td>
            </tr>
        </table>    
    </div>
}