﻿@using LunchKingSite.DataOrm
@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}

<form action="@Url.Action("CreateApp")" method="post">
	<div class="panel panel-primary top-buffer-sm padding-xs">
		<ul class="nav nav-tabs">
			<li class="active"><a href="@Url.Action("CreateApp", "OAuth")">新增</a></li>
			<li><a href="@Url.Action("ListApp", "OAuth")">列表</a></li>
		</ul>		
		<div class="panel-body">
			<fieldset class="top-buffer">
                <legend>新增應用程式</legend>
                <div class="form-group">
                    <label for="exampleInputEmail">應用程式名稱</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">擁有者</label>
                    <input type="text" class="form-control" id="owner" name="owner" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">回傳網址</label>
                    <input type="url" class="form-control input-xxlarge" id="returnUrl" name="returnUrl" placeholder="https://">
                </div>
                <button type="submit" class="btn btn-default">送出</button>
            </fieldset>
        </div>
    </div>
</form>

