﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ControlRoom/backend.master" AutoEventWireup="true" EnableViewState="false"
    CodeBehind="PponSellerCouponList.aspx.cs" Inherits="LunchKingSite.Web.ControlRoom.Ppon.PponSellerCouponList" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Button ID="btnToExcel" runat="server" Text="ExprotToExcel" OnClick="btnToExcel_Click" />
    <br />
    <asp:Literal ID="lit_Continued" runat="server"></asp:Literal>
    <asp:GridView ID="GridView1" runat="server">
    </asp:GridView>
</asp:Content>
