﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PponOrderDetail.aspx.cs"
    Inherits="LunchKingSite.Web.ControlRoom.Ppon.PponOrderDetail" MasterPageFile="~/ControlRoom/backend.master" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <div>
        <table>
            <tr>
                <td>
                    活動(店家)名稱:
                </td>
                <td>
                    <asp:Label ID="ln" runat="server" Text=""></asp:Label>
                    <asp:Button ID="btnPayment" runat="server" Text="17P設定" 
                        onclick="btnSetup_Click" />
                    <asp:Button ID="btnCoupon" runat="server" Text="商家清冊" 
                        onclick="btnCoupon_Click" />
                       
                          <asp:Button ID="btnPeauty" runat="server" Text="P完美" OnClick="btnPeauty_Click" />
                           <asp:Button ID="btnCom" runat="server" Text="福利網報表" 
                        onclick="btnCom_Click"  />
                    <asp:Button ID="btnInvoice" runat="server" Text="發票清單" 
                        onclick="btnInvoice_Click" />
                    <asp:Button ID="btnAccounting" runat="server" Text="會計資料" 
                        onclick="btnAccounting_Click" />                    
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <asp:HyperLink ID="HyperLink1" runat="server">回活動列表</asp:HyperLink>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                </td>
            </tr>
        </table>
    </div>
</asp:Content>
