﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@{
    ViewBag.Title = "銷售分類";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}

@section header{
    <style type="text/css">
        #container {
            padding: 20px;
        }

        #nodesContainer {
            /*background-color:darkgoldenrod;*/
            padding-right: 200px;
        }
        #categoryEditor {
            width:270px;
            border:2px groove cadetblue;
            height:auto;
            /*right:0px;*/
            top:140px;
            position:fixed;
            display:none;
        }
        #categoryEditor .editor-header {
            color:antiquewhite;
            font-size:18px;
            background-color:cadetblue;
            padding:3px;
        }
        #categoryEditor .editor-body {
            color:black;
            font-size:15px;
            padding:3px;
        }

        #categoryEditor .editor-buttons {
            font-size:15px;
            padding:3px;
        }

        #nodes > li {
            cursor: pointer;
            color: blue;
            font-family: 微軟正黑體;
            font-size: 15px;
        }

        #nodes li.disabled {
            color: gray;
            text-decoration:line-through;
        }

        #nodes .current > div.title {
            background-color:gold;
            width:auto;
            display:inline;
        }

        #nodes .subTitle{
            /*color:  dodgerblue;*/
            margin-left:8px;
            color: royalblue;
        }

        h1 {
            font-family: 微軟正黑體;
        }

        .tool-btn {
            width:240px;
        }

        .ml-20{
            margin-left:20px
        }

    </style>
    <script type="text/javascript">
        window.copyNode = function (node, newNode) {
            node.CodeName = newNode.CodeName;
            node.Enabled = newNode.Enabled;
            node.GoogleCode = newNode.GoogleCode;
            node.Children = newNode.Children;
        }
        window.findNode = function (allNodes, codeId) {
            if (codeId == null) {
                return null;
            }
            var nodes = allNodes;
            return findNodeCore(nodes, codeId);
        };
        window.findNodeCore = function (nodes, codeId) {
            var result = null;
            for (var key in nodes) {
                var node = nodes[key];
                if (node.CodeId == codeId) {
                    result = node;
                }
                if (result == null && node.Children.length > 0) {
                    result = findNodeCore(node.Children, codeId);
                }
            }
            return result;
        };
        $(document).ready(function () {
            window.categories = JSON.parse('@Html.Raw(ViewBag.categoryData.ToString())');
            $('#nodesContainer').show();

            createItemContentUI = function (c) {
                var title = c.CodeName;
                if (c.GoogleCode == null || c.GoogleCode == '' || c.GoogleCode == 'NULL' || c.GoogleCode == 'null') {
                    var googleCode = '';
                } else {
                    var googleCode = c.GoogleCode;
                }
                
                var elLi = $('<li></li>').data('cid', c.CodeId);
                var elDivTitle = $('<div class="title"></div>').appendTo(elLi);
                if (googleCode != '') {
                    elDivTitle.data('googleCode', googleCode);
                }
                elDivTitle.append('<span class="title">' + title + '</span>');
                elDivTitle.append('<span class="subTitle">' + googleCode + '</span>');
                if (c.Enabled == false) {
                    elLi.addClass('disabled');
                }
                return elLi;
            }

            createItemUI = function (c, el) {
                var li = createItemContentUI(c);
                return li.appendTo(el);
            }

            renderNode = function (selNode, node) {
                var newNode = createItemContentUI(node);
                selNode.replaceWith(newNode);                
                renderChildNodes(node, newNode);
            }

            renderChildNodes = function (c, elLi) {
                if (c.Children.length > 0) {
                    var container = $('<ul></ul>').appendTo(elLi);
                    for (var i in c.Children) {
                        var ch = c.Children[i];
                        var chLi = createItemUI(ch, container);
                        renderChildNodes(ch, chLi);
                    }
                }
            }

            for (var i1 in window.categories) {
                var category = window.categories[i1];
                var li1 = createItemUI(category, '#nodes');
                renderChildNodes(category, li1);
            }

            $('#nodes').on('click', 'li', function (evt) {
                var prevCodeId = $('#nodes li.current').data('cid');
                $('#nodes li.current').removeClass('current');
                $('#categoryEditor').hide();

                $('#btnShowGsaDesc').removeData('show');
                showGoogleCodeDesc(false);

                if (prevCodeId == $(this).data('cid')) {
                    evt.stopPropagation();
                    return;
                }

                $('#categoryEditor').css('left', $(this).parent().position().left + $(this).parent().width()+120);
                $('#categoryEditor').show();
                $(this).addClass('current');
                $('#edCodeId').text('');
                $('#edCodeName').val('');
                $('#edGoogleCode').val('');
                $('#edShowYes').removeProp('checked');
                $('#edShowNo').removeProp('checked');
                $('#edChildLines').val('');

                var cid = $(this).data('cid');
                if (cid != null) {
                    var node = findNode(window.categories, cid);
                    if (node.Level >= 4) {
                        $('#edChildLines').prop('disabled', true);
                    } else {
                        $('#edChildLines').removeProp('disabled');
                    }
                    if (node != null) {
                        $('#edCodeId').text(node.CodeId);
                        $('#edCodeName').val(node.CodeName);
                        $('#edGoogleCode').val(node.GoogleCode);
                        if (node.Enabled) {
                            $('#edShowYes').prop('checked', true);
                        } else {
                            $('#edShowNo').prop('checked', true);
                        }
                        var lines = [];
                        for (var i in node.Children) {
                            var ch = node.Children[i];
                            var code = parseInt(ch.GoogleCode, 10) || '';
                            lines.push(ch.CodeId + ',' + ch.CodeName + ',' + code.toString());
                        }
                        $('#edChildLines').val(lines.join('\r\n'));
                    }
                }
                evt.stopPropagation();
            });

            //$('#nodes li ul').hide();

            $('#btnUploadExcel').click(function () {
                $('#btnUploadFile')[0].click();
            });

            $(':file').change(function () {
                handleFiles(this.files);
            });

            $('#btnCancel').click(function () {
                $('#confirmContainer').hide();
                $('#nodesContainer').show();
                $('#confirmToken').val('');
                $('#confirmTable tbody').empty();
            });

            $('#btnSave').click(function () {
                waitingDialog.show('資料更新中，請稍後。')
                var token = $('#confirmToken').val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveChanges")",
                    data: JSON.stringify({"Token": token}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        if (res.Success == 1) {
                            waitingDialog.alert('完成。更新了 ' + res.RowCount + " 筆資料.", function () {
                                location.reload(true);
                            });
                        }                        
                    }, error: function () {
                        waitingDialog.hide();
                    }
                });
            });


            $('#btnSaveDirectly').click(function () {
                var selNode = $('#nodes li.current');

                var edCodeId = $('#edCodeId').text();
                var edCodeName = $('#edCodeName').val();
                var edGoogleCode = $('#edGoogleCode').val();
                var edShow = $('#edShowYes').is(':checked');
                var edChildLines = $('#edChildLines').val();

                var args = {
                    "id": edCodeId,
                    "title": edCodeName,
                    "googleCode": edGoogleCode,
                    "enabled": edShow,
                    "childLines" : edChildLines
                };

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveDirectly")",
                    data: JSON.stringify(args),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        if (res.Success == 1) {
                            alert('完成。更新了 ' + res.RowCount + ' 筆資料.');
                            if (res.NodeJson != null) {
                                var node = JSON.parse(res.NodeJson);
                                renderNode(selNode, node);
                                var nodeData = findNode(window.categories, node.CodeId)
                                copyNode(nodeData, node);
                                $('#nodes').find('li').filter(function () { return $(this).data('cid') == edCodeId }).click()
                            }
                        } else {
                            alert(res.Message);
                        }
                    }, error: function (res) {
                        alert('發生錯誤 發生錯誤 請洽IT');
                    }
                });
            });


            $('#btnShowGsaDesc').click(function () {
                var show = $(this).data('show') || false;
                show = !show;
                $(this).data('show', show);
                if (window.GoogleProductCategoryCodes != null) {
                    showGoogleCodeDesc(show);
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetGoogleProductCategoryCodes")",
                    data: JSON.stringify({}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        if (res.Success == 1) {
                            window.GoogleProductCategoryCodes = JSON.parse(res.Data);
                            showGoogleCodeDesc(show);
                        } else {
                            alert('fail');
                        }
                    }, error: function () {
                        alert('error');
                    }
                });
            });

            function showGoogleCodeDesc(show) {
                $('#nodes li.current').removeClass('current');
                $('#categoryEditor').hide();
                $('#nodes .subTitle').each(function() {
                    var googleCode = $(this).parent().data('googleCode');
                    if (show) {
                        if (googleCode != null && window.GoogleProductCategoryCodes[googleCode] != null) {
                            $(this).text(googleCode + ' ' + window.GoogleProductCategoryCodes[googleCode]);
                        }
                    } else {
                        if (googleCode != null) {
                            $(this).text(googleCode);
                        }
                    }
                });
                
            }


        });

        function switchContainer(name, messages) {
            if (name == 'confirm') {
                $('#confirmContainer').show();
                if ($('#nodes li.current').length > 0) {
                    $('#nodes li.current').trigger('click');
                }
                $('#nodesContainer').hide();
                if (messages == null || messages.length == 0) {
                    $('#confirmMessage').hide();
                } else {
                    $('#confirmMessage').show();
                    $('#confirmMessage').empty();
                    var elUl = $('<ul></ul>').appendTo($('#confirmMessage'));
                    for (var i in messages) {
                        $('<li></li>').text(messages[i]).appendTo(elUl);
                    }
                }
            } else if (name == 'nodes') {
                $('#confirmContainer').hide();
                $('#nodesContainer').show();
            }
        }

        function handleFiles(files,holder)
        {
            for (var i = 0; i < files.length; i++) 
            {
                var fd = new FormData();
                fd.append('upload', files[i]); 
                console.log('try send file');
                sendFileToServer(fd, holder); 
            }
        }

        function sendFileToServer(formData, holder)
        {
            var request = new XMLHttpRequest();
            request.onload = function () {
                if (request.status == 200) {
                    var res = $.parseJSON(request.responseText);
                    
                    var tableBody = $('#confirmTable tbody').empty();
                    if (res.Data.length > 0) {
                        switchContainer('confirm', res.Messages);
                        $('#confirmToken').val(res.Token);
                    } else {
                        alert('沒有需要異動的資料');
                        switchContainer('nodes');
                        $('#confirmToken').val('');
                    }

                    for (var key in res.Data) {
                        var item = res.Data[key];
                        var category = item.Target;
                        var nRow = $('<tr></tr>').appendTo(tableBody);
                        if (item.Action == 1) {
                            nRow.append($('<td></td>').text('新增').css('color', 'red'));
                        } else if (item.Action == 2) {
                            nRow.append($('<td></td>').text('修改').css('color', 'blue'));
                        } else if (item.Action == 3) {
                            nRow.append($('<td></td>').text('錯誤'));
                            nRow.css('text-decoration', 'line-through');
                        } else {
                            nRow.append($('<td></td>').text('無'));
                        }
                        
                        nRow.append($('<td></td>').text(''));
                        nRow.append($('<td></td>').text(''));
                        nRow.append($('<td></td>').text(''));
                        nRow.append($('<td></td>').text(''));
                        nRow.append($('<td></td>').text(''));
                        nRow.append($('<td></td>').text(''));
                        nRow.append($('<td></td>').text(''));
                        nRow.append($('<td></td>').text(''));
                        nRow.append($('<td></td>').text(''));
                        nRow.append($('<td></td>').text(''));
                        nRow.append($('<td></td>').text(''));
                        nRow.append($('<td></td>').text(''));

                        var theCategory = category;
                        for (i = theCategory.Level; i > 0; i--) {                                                        
                            var cc1 = nRow.find('td').eq((i - 1) * 3 + 1 + 0).text(category.CodeId == 0 ? "new" : category.CodeId);
                            var cc2 = nRow.find('td').eq((i - 1) * 3 + 1 + 1).text(category.CodeName);
                            var cc3 = nRow.find('td').eq((i - 1) * 3 + 1 + 2).text(category.GoogleCode);
                            if (i == theCategory.Level) {
                                if (item.Action == 1) {
                                    cc1.css('color', 'red');
                                    cc2.css('color', 'red');
                                    cc3.css('color', 'red');
                                } else if (item.Action == 2) {
                                    cc1.css('color', 'blue');
                                    cc2.css('color', 'blue');
                                    cc3.css('color', 'blue');
                                }
                            }
                            
                            category = category.Parent;
                        }
                    }
                } else {
                    alert('發生錯誤. 找 IT 處理');
                }
            }

            request.open('POST', '@Url.Action("UploadExcelToUpdate")');
            request.send(formData);
        }

        var waitingDialog = waitingDialog || (function ($) {
            'use strict';

            // Creating modal dialog's DOM
            var $dialog = $(
                '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
                '<div class="modal-dialog modal-m">' +
                '<div class="modal-content">' +
                '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
                '<div class="modal-body">' +
                '<div class="dialog-alert text-right"><button class="btn btn-lg btn-primary" onclick="waitingDialog.hide()">確定</button></div>' +
                '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
                '</div>' +
                '</div></div></div>');

            return {
                /**
                 * Opens our dialog
                 * param message Custom message
                 * param options Custom options:
                 * 				  options.dialogSize - bootstrap postfix for dialog size, e.g. "sm", "m";
                 * 				  options.progressType - bootstrap postfix for progress bar type, e.g. "success", "warning".
                 */
                show: function (message, options) {
                    // Assigning defaults
                    if (typeof options === 'undefined') {
                        options = {};
                    }
                    if (typeof message === 'undefined') {
                        message = 'Loading';
                    }
                    var settings = $.extend({
                        dialogSize: 'm',
                        progressType: '',
                        onHide: null // This callback runs after the dialog was hidden
                    }, options);

                    // Configuring dialog
                    $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
                    $dialog.find('.progress-bar').attr('class', 'progress-bar');
                    if (settings.progressType) {
                        $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
                    }
                    $dialog.find('h3').text(message);
                    $dialog.find('.progress').show();
                    $dialog.find('.dialog-alert').hide();
                    // Adding callbacks
                    if (typeof settings.onHide === 'function') {
                        $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
                            settings.onHide.call($dialog);
                        });
                    }
                    // Opening dialog
                    $dialog.modal();
                },
                alert: function (message, onHide) {
                    $dialog.find('h3').text(message);
                    $dialog.find('.progress').hide();
                    $dialog.find('.dialog-alert').show();
                    if ($dialog.is(':visible')== false) {
                        $dialog.modal();
                    }
                    if (typeof onHide === 'function') {
                        $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
                            onHide.call($dialog);
                        });
                    }
                },
                /**
                 * Closes dialog
                 */
                hide: function () {
                    $dialog.modal('hide');
                }
            };
        })(jQuery);
    </script>
}
<div id="container">
    <h2>活動遊戲設定</h2>
    <button class="btn btn-warning tool-btn" type="button" onclick="location.href='@Url.Action("DownloadExcel")'">下載目前資料</button>    
    <button class="btn btn-warning ml-20 tool-btn" type="button" id="btnUploadExcel">上傳更新資料</button>
    <button class="btn btn-warning ml-20 tool-btn" type="button" id="btnShowGsaDesc">顯示Gsa說明</button>
    <input type="file" id="btnUploadFile" style="width:1px" />
    <div id="confirmContainer" style="display:none">
        <div id="confirmMessage" class="alert-danger" style="display:none"></div>
        <input type="hidden" id="confirmToken" value="" />
        <table id="confirmTable" class="table table-bordered table-sm">
            <thead>
                <tr>
                    <td rowspan="2">動作</td>
                    <td colspan="3">分類1</td>
                    <td colspan="3">分類2</td>
                    <td colspan="3">分類3</td>
                    <td colspan="3">分類4</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>名稱</td>
                    <td>GSA</td>
                    <td>ID</td>
                    <td>名稱</td>
                    <td>GSA</td>
                    <td>ID</td>
                    <td>名稱</td>
                    <td>GSA</td>
                    <td>ID</td>
                    <td>名稱</td>
                    <td>GSA</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="confirmPanel">
            <p class="text-danger">若有錯誤欄位則全部不予新增，請確認上方各項分類是否正確</p>
            <button class="btn btn-warning" type="button" id="btnSave">修改儲存</button>    
            <button class="btn btn-default ml-20" type="button" id="btnCancel">取消</button>
        </div>
    </div>

    <div id="nodesContainer" style="display:none">
        <ul id="nodes"></ul>
    </div>

    <div id="categoryEditor">
        <div class="editor-header">
            代號
        </div>
        <div class="editor-body">
            <span id="edCodeId"></span>
        </div>
        <div class="editor-header">
            名稱
        </div>
        <div class="editor-body">
            <input id="edCodeName" type="text" style="width:95%" value="" />
        </div>
        <div class="editor-header">
            GSA代號
        </div>
        <div class="editor-body">
            <input id="edGoogleCode" type="text" style="width:auto" value="" />
            <a href="https://www.17life.com/share/googleProductCategoryCodes.txt" target="_blank" 
               style="display:inline; margin-top: 3px; width:80px">查詢全部</a>
        </div>
        <div class="editor-header">
            顯示於選單
        </div>
        <div class="editor-body">
            <label for="edShowYes"><input type="radio" id="edShowYes" name="edShow" value="1" /> 是</label>
            <label for="edShowNo"><input type="radio" id="edShowNo" name="edShow" value="1" /> 否</label>
        </div>
        <div class="editor-header">
            子分類
        </div>
        <div class="editor-body">
            <textarea id="edChildLines" style="width:100%;" rows="17" wrap="off"></textarea>
        </div>
        <div class="editor-buttons text-left">
            <button id="btnSaveDirectly" class="btn btn-warning">更新</button>
        </div>

    </div>

</div>