﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.DataOrm;
@using System.Web.UI.WebControls;
@{
    ViewBag.Title = "17Life後台";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
    Dictionary<Guid, List<string>> PponList = ViewBag.BidList;
    string titleStr = "";
    int count = 0;
}
@section header {
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="~/Tools/js/css/jquery-ui-1.10.2.css"/>
    <script type="text/javascript" src="~/Tools/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
    <script type="text/javascript">

        function postData() {
            var form = $("<form method='post'></form>");
            $(document.body).append(form);
            form.attr({ "action": "/ControlRoom/Edm/EdmMainSetup" });
            var input = $("<input type='hidden'>");
            input.attr({ "name": "sendDate" });
            input.val("@ViewBag.SendDate");
            form.append(input);
            form.submit();
        }

        function adChange(ad) {
            var id = ad.value;
            $("#adImg").children().hide();
            $("#adImg_" + id).show();
        }

        function pponChange(data) {
            var id = $("#" + data.id).parent().parent().next().find(":text").get(0).id;
            var text = $("#" + data.id).find("option:selected").text();
            $("#" + id).val(text);
        }

        function searchBid(data) {
            var bid = $("#" + data.id).prev().val();
            var selectId = $("#" + data.id).parent().prev().prev().children().get(0).id;
            var id = $("#" + data.id).parent().parent().next().find(":text").get(0).id;
            $.ajax({
                async: false,
                type: "POST",
                url: '/ControlRoom/Edm/GetSearchDeal',
                data: { bid: bid },
                dataType: "json",
                success: function(ref) {
                    if (ref.ItemName != "" && ref.BusinessHourGuid != "@Guid.Empty") {
                        $("#" + selectId + " option[value='" + ref.BusinessHourGuid + "']").remove();
                        $("#" + selectId).prepend("<option selected='selected' value='" +
                            ref.BusinessHourGuid +
                            "'>" +
                            ref.ItemName +
                            "</option>");
                        $("#" + id).val(ref.ItemName);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("Bid發生錯誤，請重新操作一次。");
                }
            });
        }

        function confirmText(name, count) {
            var maxLength = count;

            var nowContent = $(name).val();
            var nowLehgth = nowContent.length;

            $(name).parent().parent().parent().parent().parent().prev().find(".word").html(maxLength - nowLehgth);
        }

        $(document).ready(function() {
            $("#adImg").children().eq(0).show();

            $('.dealTitle').on('keyup',
                function (event) {
                    confirmText("#" + $(this).attr('id'), 45);
                });
            $('.subjectWord').on('keyup',
                function (event) {
                    confirmText(".subjectWord", 45);
                });

            $("#sendForm").validate({
                submitHandler: function (form) {
                    var arr = new Array(), fields = $("input[name*='Deals']");
                    fields.each(function () {
                        arr.push($(this).val());
                    });

                    var narr = arr.sort();

                    for (var i = 0; i < narr.length; i++) {

                        if (narr[i] == narr[i + 1]) {
                            return alert("檔次重複：" + narr[i]);
                        }
                    }
                    form.submit();
                },
                rules: {
                }
            });

            if ("@ViewBag.AdId" != "") {
                $("#sl_AD ").val("@ViewBag.AdId");
                $("#adImg").children().hide();
                $("#adImg_" + "@ViewBag.AdId").show();
            }
        });

    </script>
    <style type="text/css">
        .bgOrange {
            background-color: #FFC690;
            text-align: center;
        }

        .bgBlue {
            background-color: #B3D5F0;
        }

        .bgLBlue {
            background-color: #B2DFEE;
        }

        .bgLOrange {
            background-color: #FFEC8B;
            font-size: smaller;
        }

        .title {
            text-align: center;
            background-color: #688E45;
            font-weight: bolder;
            color: White;
        }

        .title1 {
            text-align: center;
            background-color: #8B8970;
            font-weight: bolder;
            color: White;
        }

        .title2 {
            text-align: center;
            background-color: #778899;
            font-weight: bolder;
            color: White;
        }

        .header {
            text-align: center;
            font-size: large;
            font-weight: bolder;
            background-color: #F0AF13;
            color: Blue;
        }

        .fieldset {
            border: #688E45 solid 2px;
        }
    </style>
}
<h2>
    宅配檔次設定
</h2>

<form method="Post" id="sendForm" action="AllCountryEdmDetailSave">
    <input type="hidden" name="sendDate" value="@ViewBag.SendDate">
    <input type="hidden" name="cityId" value="@ViewBag.Cid">
    <input type="hidden" name="cityName" value="宅配">
    <input type="hidden" name="maidId" value="@ViewBag.MainId">
    <table class="table table-content" style="width: 970px">
        <thead>
            <tr style="width: 30%">
                <th colspan="2">Subject</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bgLOrange" style="width: 100px">
                    郵件主旨 :<br>
                    剩餘字數:<span class="word">@(45 - ViewBag.Subject.Length)</span>
                </td>
                <td class="bgLBlue" colspan="3">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <textarea name="txt_Subject" class="subjectWord" rows="2" cols="20" style="width: 750px; height: 100px;" onchange="confirmText('.subjectWord', 45)" required="required">@ViewBag.Subject</textarea>
                                </td>
                                <td>
                                    <div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="bgLOrange" style="width: 100px">
                    CPA
                </td>
                <td class="bgLBlue">
                    <input name="txt_Cpa" type="text" value="eDM_ALL">
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-content" style="width: 970px">
        <thead>
            <tr style="width: 30%">
                <th colspan="2">AD</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bgLOrange" style="width: 100px">
                    AD :
                </td>
                <td class="bgLBlue">
                    <select name="sl_AD" onchange="adChange(this)" id="sl_AD" style="width: 150px;">
                        @foreach (var ad in ViewBag.ADList)
                        {
                            <option value="@ad.Pid" style="width: 650px;"> @ad.Title </option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td id="adImg" colspan="2" class="bgLBlue">
                    @foreach (var ad in ViewBag.ADList)
                    {
                        <span id="adImg_@ad.Pid" style="display: none">
                            @Html.Raw(ad.Body)
                        </span>
                    }
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-content" style="width: 950px">
        <thead>
            <tr>
                <th colspan="2">MainDeal_1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <div>
                        <table style="width: 950px">
                            <tbody>
                                <tr>
                                    <td class="title1" colspan="4">
                                        Deal 1
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bgLOrange" style="width: 100px">
                                        檔次 :
                                    </td>
                                    <td class="bgLBlue" style="width: 350px">
                                        <select name="Deals_1_Bid_1" id="Deals_1_Bid_1" onchange="pponChange(this)" style="width: 400px;">
                                            @if (PponList != null)
                                            {
                                                foreach (var d in PponList.Take(23))
                                                {
                                                    if (titleStr == "")
                                                    {
                                                        titleStr = d.Value[0];
                                                    }
                                                    <option value="@d.Key" style="width: 650px;">@d.Value[0]</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td class="bgLOrange" style="width: 40px">
                                        <span>Bid :</span>
                                    </td>
                                    <td class="bgLBlue">
                                        <input type="text" id="Deals_1_SearchBid_1" style="width: 250px;">
                                        <input type="button" id="Deals_1_SearchBtn_1" value="搜尋" onclick="searchBid(this)">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bgLOrange" style="width: 100px">
                                        標題 :<br>
                                        剩餘字數:<span class="word">@(45 - titleStr.Length)</span>
                                    </td>
                                    <td colspan="3" class="bgLBlue">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td id="sl_AllDeals_1">
                                                        <input name="Deals_1_Title_1" class="dealTitle" type="text" value="@titleStr" id="Deals_1_Title_1" style="width: 750px;" onchange="confirmText('#Deals_1_Title_1',45)" required="required">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title1" colspan="4">
                                        Deal 2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bgLOrange" style="width: 100px">
                                        檔次 :
                                    </td>
                                    <td class="bgLBlue" style="width: 350px">
                                        <select name="Deals_1_Bid_2" id="Deals_1_Bid_2" onchange="pponChange(this)" style="width: 400px;">
                                            @if (PponList != null)
                                            {
                                                foreach (var d in PponList.Take(23))
                                                {
                                                    if (count == 1)
                                                    {
                                                        titleStr = d.Value[0];
                                                        <option selected="selected" value="@d.Key" style="width: 650px;">@d.Value[0]</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@d.Key" style="width: 650px;">@d.Value[0]</option>
                                                    }
                                                    count++;
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td class="bgLOrange" style="width: 40px">
                                        <span>Bid :</span>
                                    </td>
                                    <td class="bgLBlue">
                                        <input type="text" id="Deals_1_SearchBid_2" style="width: 250px;">
                                        <input type="button" id="Deals_1_SearchBtn_2" value="搜尋" onclick="searchBid(this)">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bgLOrange" style="width: 100px">
                                        標題 :<br>
                                        剩餘字數:<span class="word">@(45 - titleStr.Length)</span>
                                    </td>
                                    <td colspan="3" class="bgLBlue">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td id="sl_AllDeals_2">
                                                        <input name="Deals_1_Title_2" class="dealTitle" type="text" value="@titleStr" id="Deals_1_Title_2" style="width: 750px;" onchange="confirmText('#Deals_1_Title_2',45)" required="required">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-content" style="width: 950px">
        <thead>
            <tr>
                <th colspan="2">宅配</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <div>
                    @for (int i = 1; i < 22; i++)
                    {
                        int conut = -1;
                            <table style="width: 950px">
                                <tbody>
                                    <tr>
                                        <td class="title1" colspan="4">
                                            Deal @i
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bgLOrange" style="width: 100px">
                                            檔次 :
                                        </td>
                                        <td class="bgLBlue" style="width: 350px">
                                            <select name="Deals_2_Bid_@i" id="s2_AllDeals_@i" onchange="pponChange(this)" style="width: 400px;">
                                                @if (PponList != null)
                                                {
                                                    foreach (var d in PponList.Take(23))
                                                    {
                                                        if (conut == i)
                                                        {
                                                            <option selected="selected" value="@d.Key" style="width: 650px;">@d.Value[0]</option>
                                                            titleStr = d.Value[0];
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.Key" style="width: 650px;">@d.Value[0]</option>
                                                        }
                                                        conut++;
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td class="bgLOrange" style="width: 40px">
                                            <span>Bid :</span>
                                        </td>
                                        <td class="bgLBlue">
                                            <input type="text" id="Deals_2_SearchBid_@i" style="width: 250px;">
                                            <input type="button" id="Deals_2_SearchBtn_@i" value="搜尋" onclick="searchBid(this)">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bgLOrange" style="width: 100px">
                                            標題 :<br>
                                            剩餘字數:<span class="word">@(45 - titleStr.Length)</span>
                                        </td>
                                        <td colspan="3" class="bgLBlue">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input name="Deals_2_Title_@i" class="dealTitle" type="text" value="@titleStr" id="Deals_2_Title_@i" style="width: 750px;" onchange="confirmText('#Deals_2_Title_@i',45)" required="required">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-content" style="width: 950px">
        <thead>
            <tr>
                <th colspan="2">24到貨</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <div>
                        @for (int i = 1; i < 19; i++)
                        {
                        int conut = 1;
                            <table style="width: 950px">
                                <tbody>
                                    <tr>
                                        <td class="title1" colspan="4">
                                            Deal @i
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bgLOrange" style="width: 100px">
                                            檔次 :
                                        </td>
                                        <td class="bgLBlue" style="width: 350px">
                                            <select name="Deals_3_Bid_@i" id="s3_AllDeals_@i" onchange="pponChange(this)" style="width: 400px;">
                                                @if (PponList != null)
                                                {
                                                    foreach (var d in PponList.Skip(23))
                                                    {
                                                        if (conut == i)
                                                        {
                                                            <option selected="selected" value="@d.Key" style="width: 650px;">@d.Value[0]</option>
                                                            titleStr = d.Value[0];
                                                        }
                                                        else
                                                        {
                                                            <option value="@d.Key" style="width: 650px;">@d.Value[0]</option>
                                                        }
                                                        conut++;
                                                    }
                                                }
                                                
                                            </select>
                                        </td>
                                        <td class="bgLOrange" style="width: 40px">
                                            <span>Bid :</span>
                                        </td>
                                        <td class="bgLBlue">
                                            <input type="text" id="Deals_3_SearchBid_@i" style="width: 250px;">
                                            <input type="button" id="Deals_3_SearchBtn_@i" value="搜尋" onclick="searchBid(this)">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bgLOrange" style="width: 100px">
                                            標題 :<br>
                                            剩餘字數:<span class="word">@(45 - titleStr.Length)</span>
                                        </td>
                                        <td colspan="3" class="bgLBlue">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input name="Deals_3_Title_@i" class="dealTitle" type="text" value="@titleStr" id="Deals_3_Title_@i" onchange="confirmText('#Deals_3_Title_@i',45)" style="width: 750px;" required="required">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div align="center">
        <input type="submit" value="儲存">
        <input type="button" value="取消" onclick="postData()">
    </div>
</form>