﻿@{
    ViewBag.Title = "17Life後台";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
    var edmHotDealList = new List<LunchKingSite.WebLib.Controllers.ControlRoom.EdmController.EdmHotDealModel>();
    edmHotDealList = ViewBag.EdmHotDealList;
}



@section header {
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="~/Tools/js/css/jquery-ui-1.10.2.css"/>
    <script type="text/javascript" src="~/Tools/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            loadDatePicker();
        });

        function addDeal()
        {
            $.ajax(
		    {
		        type: "POST",
		        url: '/ControlRoom/Edm/AddEdmHotDeal',
		        data: JSON.stringify({
		            strGuid: $('#txtAddSingleDeal').val(),
		            strStartDate: $('#txtStartDate').val()
		        }),
		        contentType: "application/json; charset=utf-8",
		        dataType: "json",
		        dataFilter: function (data) { return data; },
		        success: function (data) {
		            alert(data.Message);
		            if (data.IsSuccess)
		            {
		                location.href = '/ControlRoom/Edm/EdmHotDealList';
		            }
		        }, error: function (res) {
		            console.log(res);
		        }
		    });
        }

        function deleteDeal(id) {

            var idList = '';

            if (id!='')
            {
                idList = id + ",";
            }

            //可批次刪除
            $('[id*=chkId]:checked').each(function(){
                var id=$(this).val();
                idList+=id + ",";
            })

            if (idList!='')
            {
                idList = idList.substring(0,idList.length-1);
                $.ajax(
		        {
		            type: "POST",
		            url: '/ControlRoom/Edm/DeleteEdmHotDeal',
		            data: JSON.stringify({
		                strIdList: idList
		            }),
		            contentType: "application/json; charset=utf-8",
		            dataType: "json",
		            dataFilter: function (data) { return data; },
		            success: function (data) {
		                alert(data.Message);
		                if (data.IsSuccess) {
		                    location.href = '/ControlRoom/Edm/EdmHotDealList';
		                }
		            }, error: function (res) {
		                console.log(res);
		            }
		        });
            }
            else
            {
                alert('請勾選檔次');
            }

        }

        function extendDeal() {
            var idList = '';

            //可批次延長
            $('[id*=chkId]:checked').each(function () {
                var id = $(this).val();
                idList += id + ",";
            })

            if (idList != '') {
                idList = idList.substring(0, idList.length - 1);
                $.ajax(
		        {
		            type: "POST",
		            url: '/ControlRoom/Edm/ExtendEdmHotDeal',
		            data: JSON.stringify({
		                strIdList: idList,
		                strEndDate: $('#txtExtendDate').val()
		            }),
		            contentType: "application/json; charset=utf-8",
		            dataType: "json",
		            dataFilter: function (data) { return data; },
		            success: function (data) {
		                alert(data.Message);
		                if (data.IsSuccess) {
		                    location.href = '/ControlRoom/Edm/EdmHotDealList';
		                }
		            }, error: function (res) {
		                console.log(res);
		            }
		        });
            }
            else {
                alert('請勾選檔次');
            }
        }

        function loadDatePicker() {
            if ($(".datepicker").length > 0) {
                $(".datepicker").datepicker({
                    dateFormat: "yy/mm/dd",
                    minDate: new Date()
                });
            }
        }
    </script>
}

<br/>

<br />


<table id="AddEdmHotDeal" class="table table-content" style="width: 100%;">
    <thead>
        <tr style="width: 30%">
            <th colspan="2">新增EDM強檔檔次</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input id="txtAddSingleDeal" type="text" style="width:300px" placeholder="請輸入BID"/>
                <input id="txtStartDate" class="datepicker" type="text" placeholder="請輸入起始時間" readonly="readonly" />
                <input id="btnAddSingleDeal" type="button" value="新增檔次" onclick="addDeal()"/>
            </td>
        </tr>
        <tr>
            <td>
                <input id="txtExtendDate" class="datepicker" type="text" readonly="readonly"/>
                <input id="btnExtendDate" type="button" value="延長強檔時間" onclick="extendDeal()" />
            </td>
        </tr>
    </tbody>
</table>


<table id ="EidtEdmHotTable" class="table table-content" style="width: 100%; ">
    <thead>
    <tr style="width: 30%">
        <th colspan="6">EDM強檔檔次編輯列表</th>
    </tr>
        <tr>
            <td></td>
            <td>
                Id
            </td>
            <td>
                檔號
            </td>
            <td>
                商品名稱
            </td>
            <td>
                時間
            </td>
            <td>
                功能
            </td>
        </tr>
    </thead>
    <tbody>
    @foreach (var deal in edmHotDealList)
    {
        <tr style="@(deal.inTime ? "" : "background:gray")">
            <td><input id="chkId" type="checkbox" value="@deal.id"/></td>
            <td>@deal.id</td>
            <td>@deal.uniqueId</td>
            <td>@deal.itemName</td>
            <td>@deal.startDate.ToString("yyyy/MM/dd HH:mm:ss") ~ @deal.endDate.ToString("yyyy/MM/dd HH:mm:ss")</td>
            <td>
                <button type="button" class="btn btn-default btn-align-center" style="width: 80px" onclick="deleteDeal(@deal.id)">刪除</button><br />         
            </td>
        </tr>
    }
    </tbody>
</table>
