﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.DataOrm;
@using System.Web.UI.WebControls;
@using LunchKingSite.WebLib.Controllers.ControlRoom
@using NPOI.HSSF.Record.Formula.Functions
@{
    ViewBag.Title = "17Life後台";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="~/Tools/js/css/jquery-ui-1.10.2.css"/>
    <script type="text/javascript" src="~/Tools/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>

    <script src="/Tools/js/bootstrap-switch.js?v1.1"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".toggle-chkecbox")
                .bootstrapSwitch()
                .change(function () {
                    var enabled = $(this).prop('checked');
                    var mainId = $(this).data('mainid');
                    console.log('enabled:' + enabled);
                    console.log('mainId:' + mainId);
                    enableEdm(mainId, enabled);
                });;

            if ("@ViewBag.ToSendDate" != "") {
                $("#txtSendDate").val("@ViewBag.ToSendDate");
                $('#SendDateFrom').submit();
            }

            $('.datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy/mm/dd',
                stepMinute: 1
            });

            var Today = new Date();
            var mStr, dStr = "";
            if (Today.getMonth() < 9) {
                mStr = "0" + (Today.getMonth() + 1);
            } else {
                mStr = (Today.getMonth() + 1);
            }
            if (Today.getDate() < 10) {
                dStr = "0" + Today.getDate();
            } else {
                dStr = Today.getDate();
            }
            $("#txtSendDate").val(Today.getFullYear() + "/" + mStr + "/" + dStr);
        });

        function postAllCountryEdm(mainId) {
            $("#hidMainId").val(mainId);
            var form = $('#postForm');
            form.attr({ "action": "AllCountryEdmDetailSetup" });
            form.remove("#hidCid");
            form.submit();
        }
        function postPiinlifeEdm(mainId) {
            $("#hidMainId").val(mainId);
            var form = $('#postForm');
            form.attr({ "action": "PiinlifeEdmDetailSetup" });
            form.remove("#hidCid");
            form.submit();
        }
        function postTravelEdm(mainId) {
            $("#hidMainId").val(mainId);
            var form = $('#postForm');
            form.attr({ "action": "TravelEdmDetailSetup" });
            form.remove("#hidCid");
            form.submit();
        }
        function postLocationEdm(cid, mainId) {

            $("#hidCid").val(cid);
            $("#hidMainId").val(mainId);
            $('#postForm').submit();
        }

        function deleteEdm(mainId) {
            $("#hidMainId").val(mainId);
            var form = $('#postForm');
            form.attr({ "action": "DeleteEdm" });
            form.remove("#hidCid");
            form.submit();
        }

        function enableEdm(mainId, enabled) {
            $("#hidMainId").val(mainId);
            $("#hidEdmEnabled").val(enabled ? '1' : '0');
            var form = $('#postForm');
            form.attr("action", "EnableEdm");            
            form.remove("#hidCid");
            form.submit();
        }

    </script>
}

<table class="table table-content" style="width: 100%">
    <thead>
    <tr style="width: 30%">
        <th colspan="2">訂閱信日期</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <form id="SendDateFrom" action="@Url.Action("EdmMainSetup")" method="Post" autocomplete="off">
                發送日期：<input type="text" name="SendDate" class="form-s datepicker" id="txtSendDate" style="@(ViewBag.SendDate == null ? "" : "display: none")">
                <label style="@(ViewBag.SendDate == null ? "display: none" : "")">@(ViewBag.SendDate == null ? "" : ViewBag.SendDate)</label>
                <button type="submit" class="btn btn-default btn-align-center" style="@(ViewBag.SendDate == null ? "" : "display: none")">確定</button>
            </form>
            <button type="button" class="btn btn-default btn-align-center" style="@(ViewBag.SendDate == null ? "display: none" : "")" onclick="location.href='@Url.Action("EdmMainSetup", "EDM")'">改變日期</button>
        </td>  
    </tr>
    </tbody>
</table>



<table id ="EidtEdmTable" class="table table-content" style="width: 100%;@(ViewBag.SendDate == null ? "display: none" : "") ">
    <thead>
    <tr style="width: 30%">
        <th colspan="6">訂閱信編輯</th>
    </tr>
    </thead>
    <tbody>
        @if (ViewBag.CityDataList != null)
        {
            foreach (LunchKingSite.WebLib.Controllers.ControlRoom.EdmController.EdmMainData d in ViewBag.CityDataList)
            {
                <tr>
                    <td>@d.CityName</td>
                    <td>
                        @if (d.CityId == PponCityGroup.DefaultPponCityGroup.Piinlife.CityId)
                        {
                            <button type="button" class="btn btn-default btn-align-center" @((d.CombinationEdmType == 2) ? "disabled='disabled'" : "") onclick="postPiinlifeEdm(@d.EdmMainId)">@((d.EdmMainId == 0) ? "建立" : "編輯")</button>
                        }
                        else if (d.CityId == PponCityGroup.DefaultPponCityGroup.AllCountry.CityId)
                        {
                            <button type="button" class="btn btn-default btn-align-center" @((d.CombinationEdmType == 2) ? "disabled='disabled'" : "") onclick="postAllCountryEdm(@d.EdmMainId)">@((d.EdmMainId == 0) ? "建立" : "編輯")</button>
                        }
                        else if (d.CityId == PponCityGroup.DefaultPponCityGroup.Travel.CityId)
                        {
                            <button type="button" class="btn btn-default btn-align-center" @((d.CombinationEdmType == 2) ? "disabled='disabled'" : "") onclick="postTravelEdm(@d.EdmMainId)">@((d.EdmMainId == 0) ? "建立" : "編輯")</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-default btn-align-center" @((d.CombinationEdmType == 2) ? "disabled='disabled'" : "") onclick="postLocationEdm(@d.CityId, @d.EdmMainId)">@((d.EdmMainId == 0) ? "建立" : "編輯")</button>
                        }
                        
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-align-center" @((d.EdmMainId != 0 && d.CombinationEdmType == 2) ? "" : "disabled='disabled'") onclick="deleteEdm(@d.EdmMainId)">
                            刪除EDM
                        </button>
                    </td>
                    <td><button type="button" class="btn btn-default btn-align-center" @((d.EdmMainId != 0 && d.CombinationEdmType == 2) ? "" : "disabled='disabled'")  onclick="window.open('/Ppon/OnlineEDM.aspx?eid=' + @d.EdmMainId)">預覽</button></td>
                    <td style="display: none"><button type="button" class="btn btn-default btn-align-center" @((d.EdmMainId != 0 && d.CombinationEdmType == 2) ? "" : "disabled='disabled'") onclick="postData(1)">發送本區EDM</button></td>
                    <td>
                        預定上傳時間:@(d.UpdataTime)<br/>
                        最後編輯時間:@(d.EidtTime)<br />
                        系統上傳時間:@(d.SysUpdataTime)<br />
                    </td>
                    <td style="width:80px">
                        @if (d.EdmMainId != 0 && (
                            d.CityId == PponCityGroup.DefaultPponCityGroup.Piinlife.CityId ||
                            d.CityId == PponCityGroup.DefaultPponCityGroup.AllCountry.CityId ||
                            d.CityId == PponCityGroup.DefaultPponCityGroup.Travel.CityId))
                        {
                            string checkboxCheckedStr = string.Empty;
                            string checkboxDisabledStr = null;
                            if (d.Enabled)
                            {
                                checkboxCheckedStr = "checked=\"checked\"";
                            }
                            if (d.EidtTime != "未編輯" && d.SysUpdataTime == "未上傳")
                            {
                                checkboxDisabledStr = string.Empty;
                            }
                            else
                            {
                                checkboxDisabledStr = "disabled=\"disabled\"";
                            }
                            <input type="checkbox" data-size="sm" class="toggle-chkecbox" @checkboxCheckedStr @checkboxDisabledStr data-mainid="@d.EdmMainId" />
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<table id="testSendEdm" class="table table-content" style="width: 100%; display: none">
    <thead>
    <tr style="width: 30%">
        <th colspan="2">訂閱信發送測試</th>
    </tr>
    </thead>
    <tbody>
        
    <tr>
        <td>
            測試發送Email：<br>
            (逗號區隔)
        </td>
        <td>
            <textarea rows="4" cols="90"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" class="btn btn-default btn-align-center" onclick="postData(1)">測試發送今日各區EDM</button>
        </td>
    </tr>
    </tbody>
</table>


<form method="Post" id="postForm" action="LocationEdmDetailSetup">
    <input type="hidden" name="sendDate" value="@ViewBag.SendDate">
    <input type="hidden" id="hidCid" name="cid" value="">
    <input type="hidden" id="hidMainId" name="mainId" value="">
    <input type="hidden" id="hidEdmEnabled" name="edmEnabled" value="">
</form>