﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.DataOrm;
@using System.Web.UI.WebControls;
@using LunchKingSite.WebLib.Controllers.ControlRoom
@using NPOI.HSSF.Record.Formula.Functions
@{
    ViewBag.Title = "17Life後台";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="~/Tools/js/css/jquery-ui-1.10.2.css"/>
    <script type="text/javascript" src="~/Tools/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {


        });

        function EdmDelete(id) {
            $.ajax({
                async: false,
                type: "POST",
                url: '/ControlRoom/Edm/SoloEdmDelete',
                data: { eid: id },
                dataType: "json",
                success: function(ref) {
                    if (ref != null) {
                        location.reload();
                    } else {
                        alert("網路發生錯誤，請重新操作一次。");
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("網路發生錯誤，請重新操作一次。");
                }
            });
        }

        function EdmTestSend(id) {
            var mailStr = $("#testMail").val();
            if (mailStr != "") {
                $.ajax({
                    async: false,
                    type: "POST",
                    url: '/ControlRoom/Edm/SoloEdmSend',
                    data: { eid: id, testMail: mailStr },
                    dataType: "json",
                    success: function(ref) {
                        if (ref != null) {
                            alert("發送成功");
                        } else {
                            alert("網路發生錯誤，請重新操作一次。");
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("網路發生錯誤，請重新操作一次。");
                    }
                });
            } else {
                alert("請輸入測試發送信箱。");
            }
        }

    </script>
}

<br/>

<table id="SendEdmTable" class="table table-content" style="width: 100%;">
    <thead>
    <tr style="width: 30%">
        <th colspan="2">訂閱信發送測試</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            測試發送Email：<br>
            (逗號區隔)
        </td>
        <td>
            <textarea id="testMail" rows="2" cols="90">@ViewBag.User</textarea>
        </td>
    </tr>
    </tbody>
</table>
<br />
<button type="submit" class="btn btn-default btn-align-center" style="" onclick="location.href='SoloEdmSetup'">新增SoloEDM</button>

<table id ="EidtEdmTable" class="table table-content" style="width: 100%; ">
    <thead>
    <tr style="width: 30%">
        <th colspan="5">SoloEDM編輯列表</th>
    </tr>
        <tr>
            <td>Id</td>
            <td>
                主旨
            </td>
            <td>
                歷程
            </td>
            <td>
                功能
            </td>
            <td>
                預覽
            </td>
        </tr>
    </thead>
    <tbody>
    @foreach (SoloEdmMain item in ViewBag.EdmList)
    {
        <tr>
            <td>@item.Id</td>
            <td style="position:relative">
                <span>@item.Subject</span>
                <span style="position:absolute; bottom:1px; right:3px">@item.Cpa</span>
            </td>
            <td>
                預定上傳時間:@(item.SendDate)<br />
                最後編輯時間:@(item.CreateDate)<br />
                系統上傳時間:@(item.UploadDate)
            </td>
            <td>
                <button type="button" class="btn btn-default btn-align-center" style="width: 80px" onclick="location.href='SoloEdmSetup?id='+'@item.Id'"> 編 輯 </button><br />
                <button type="button" class="btn btn-default btn-align-center" style="width: 80px" onclick="EdmTestSend(@item.Id)">測試發送</button><br />
                <button type="button" class="btn btn-default btn-align-center" style="width: 80px" onclick="location.href='SoloEdmSetup?id='+'@item.Id'+'&type=copy'">複製內容</button>              
            </td>
            <td>
                <button type="button" class="btn btn-default btn-align-center" onclick="window.open('/Event/OnlineSoloEDM?eid=' + @item.Id)">預覽</button><br />
                <button type="button" class="btn btn-default btn-align-center" onclick="EdmDelete(@item.Id)">刪除</button>
            </td>
        </tr>
    }
    </tbody>
</table>


<form method="Post" id="postForm" action="LocationEdmDetailSetup">
    <input type="hidden" name="sendDate" value="">
    <input type="hidden" id="hidCid" name="cid" value="">
    <input type="hidden" id="hidMainId" name="mainId" value="">
</form>