﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.DataOrm;
@using System.Web.UI.WebControls;
@using LunchKingSite.WebLib.Controllers.ControlRoom
@using NPOI.HSSF.Record.Formula.Functions
@{
    ViewBag.Title = "17Life後台";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="~/Tools/js/css/jquery-ui-1.10.2.css"/>
    <style type="text/css">
        #brandCheck, #pponCheck, #msgCheck {
            cursor: pointer;
        }
        label.checkboxLabel {
            font-weight: normal;
            cursor:pointer;
        }
        .brandUrl {
            width:95% !important;
        }
    </style>
    <script type="text/javascript" src="~/Tools/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Tools/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Tools/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript">
        //$(document).ready(function() {});

        $(function() {

            $('.datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy/mm/dd',
                stepMinute: 1
            });

            var today = new Date(new Date().getTime() + (1 * 24 * 60 * 60 * 1000));
            if ("@ViewBag.SendDateStr" == "") {
                $("#txtSendDate").val(today.getFullYear() + "/" + (today.getMonth() + 1) + "/" + (today.getDate()));
            } else {
                $("#txtSendDate").val("@ViewBag.SendDateStr");
                $("#txtSendTime").attr("value", '@ViewBag.SendTimeStr');
            }


            $("#SendDateFrom").validate({
                rules: {
                    txtSendDate: { required: true },
                    Subject: { required: true },
                    Title: { required: false },
                    TitleContent: { required: false }

                },
                messages: {
                    txtSendDate: "請選擇日期",
                    Subject: "請輸入郵件主旨",
                    Title: "請輸入標題",
                    TitleContent: "請輸入標題內文"
                },
                submitHandler: function(form) {

                    $('#hidSendDate').val($('#txtSendDate').val() + " " + $('#txtSendTime').val() + ":00");
                    $('#hidPromoImg').val($('#txtPromoImg').val());
                    $('#hidMessage').val($('#promoMessage').val());

                    var msg = "";
                    var GroupCount = 1;

                    if (!$("#brandCheck").prop("checked")) {

                        var tmpBrandGroup = $("table[class*='brandGroup']");
                        var brandArray = [];
                        tmpBrandGroup.each(function() {

                            var groupTitle = $(this).find('.brandTitle').val();
                            var brandCount = $(this).find('.brandId').length;

                            for (var i = 0; i < brandCount; i++) {
                                var id = $(this).find('.brandId').eq(i).val();
                                var url = $(this).find('.brandUrl').eq(i).val();
                                if ((id == "") || (url == "")) {
                                    msg = "請確認策展資料正確";
                                    break;
                                }

                                brandArray.push({
                                    BrandId: id,
                                    Url: url,
                                    GroupId: GroupCount,
                                    GroupName: groupTitle
                                });
                            }
                            GroupCount++;
                        });

                        $('#hidBarndList').val(JSON.stringify(brandArray));

                    }

                    if (msg != "") {
                        alert(msg);
                        return false;
                    }

                    if (!$("#pponCheck").prop("checked")) {

                        var tmpPponGroup = $("table[class*='pponGroup']");
                        var pponArray = [];
                        GroupCount = 1;
                        tmpPponGroup.each(function() {
                            var groupTitle = $(this).find('.pponTitle').val();
                            var brandCount = $(this).find('.bid').length;
                            for (var i = 0; i < brandCount; i++) {

                                var bid = $(this).find('.bid').eq(i).val();
                                var url = $(this).find('.pponUrl').eq(i).val();
                                var bTitle = $(this).find('.bTitle').eq(i).val();
                                var oTitle = $(this).find('.oTitle').eq(i).val();

                                if ((bid == "") || (url == "") || (bTitle == "") || (oTitle == "")) {
                                    msg = "請確認商品資料正確";
                                    break;
                                }

                                pponArray.push({
                                    Bid: bid,
                                    BlackTitle: bTitle,
                                    OrangeTitle: oTitle,
                                    Url: url,
                                    GroupId: GroupCount,
                                    GroupName: groupTitle
                                });
                            }
                            GroupCount++;
                        });

                        $('#hidPponList').val(JSON.stringify(pponArray));
                    }

                    if (msg != "") {
                        alert(msg);
                        return false;
                    }

                    $('form input:submit').attr('disabled', 'disabled');
                    $('form input:submit').submit();
                }
            });

            // 預設顯示第一個 Tab
            var showTab = 0;
            var $defaultLi = $('ul.tabs li').eq(showTab).addClass('active');
            $($defaultLi.find('a').attr('href')).siblings().hide();
            $('ul.tabs li').click(function() {
                // 找出 li 中的超連結 href(#id)
                var $this = $(this),
                    clickTab = $this.find('a').attr('href');
                // 把目前點擊到的 li 頁籤加上 .active
                $this.addClass('active').siblings('.active').removeClass('active');
                // 對應內容隱藏
                $(clickTab).stop(false, true).fadeIn().siblings().hide();
                return false;
            }).find('a').focus(function() { this.blur(); });


            $("#txtPromoImg").ckeditor();
            $("#promoMessage").ckeditor();

            $("#brandCheck").click(function() {
                if ($("#brandCheck").prop("checked")) {
                    $("#brandDiv").hide();
                } else {
                    $("#brandDiv").show();
                }
            });
            $("#pponCheck").click(function() {
                if ($("#pponCheck").prop("checked")) {
                    $("#pponDiv").hide();
                } else {
                    $("#pponDiv").show();
                }
            });
            $("#checkAllUser").click(function() {
                if ($("#checkAllUser").prop("checked")) {
                    $("#userFile").hide();
                } else {
                    $("#userFile").show();
                }
            });
            $("#msgCheck").click(function() {
                if ($("#msgCheck").prop("checked")) {
                    $("#msgDiv").hide();
                } else {
                    $("#msgDiv").show();
                }
            });

            if ("@ViewBag.BrandType" == "False") {
                $('#brandCheck').attr('checked', true);
                $("#brandDiv").hide();                    
            } else {
                $('#brandCheck').removeAttr('checked');
                $("#brandDiv").show();
            }
            if ("@ViewBag.PponType" == "False") {
                $('#pponCheck').attr('checked', true);
                $("#pponDiv").hide();
            } else {
                $('#pponCheck').removeAttr('checked');
                $("#pponDiv").show();
            }
            if ("@ViewBag.MsgType" == "False") {
                $('#msgCheck').attr('checked', true);
                $("#msgDiv").hide();
            } else {
                $('#msgCheck').removeAttr('checked');
                $("#msgDiv").show();
            }
            if ("@ViewBag.SendeEmailCount" != "0") {
                $("#checkUpdataTd").show();
                $("#UpdataFileTd").hide();
                $('#checkSendUpdata').prop('checked', true);
            }

            var brandGroupCount = $("table[class*='brandGroup']").length;
            if (brandGroupCount > 2) {
                $('#delBrandGroupBtn').removeAttr('disabled');
            }

            var pponGroupCount = $("table[class*='brandGroup']").length;
            if (pponGroupCount > 2) {
                $('#delPponGroupBtn').removeAttr('disabled');
            }

            $('#userFile').change(function () {
                if (this.files[0].size > 1024 * 1024 * 20) {
                    alert('檔案超過20MB，請壓縮成zip檔後再上傳');
                    $(this).val('');
                }
            });

        });

        function updataSendData() {
            $("#UpdataFileTd").show();
            $("#checkUpdataTd").hide();
            $('#checkSendUpdata').prop('checked', false);
        }

        function addBrandGroup() {
            var groupCount = $("table[class*='brandGroup']").length + 1;
            var tempGroup = $('#demoBrandGroup > table').clone().addClass("brandGroup" + groupCount);

            tempGroup.find(".addBarnd").attr("onclick", "addBrand('brandGroup" + groupCount + "')");
            tempGroup.find(".delBarnd").attr("onclick", "delBrand('brandGroup" + groupCount + "')");
            tempGroup.appendTo($("#tab2"));
            $('#delBrandGroupBtn').removeAttr('disabled');
        }

        function addBrand(group) {
            var trCount = $("." + group + "> tbody > tr").length - 2;
            for (var i = 1; i <= 2; i++) {
                var temp = $('#demoBrand > table').clone();
                temp.find('.brandTitle').html("策展" + (i + trCount)).removeClass("brandTitle");
                var trCount = $("." + group + "> tbody > tr").length - 2;
                $($("." + group + "> tbody > tr")[trCount]).after("<tr></tr>");
                temp.appendTo($($("." + group + "> tbody > tr")[trCount + 1]));
            }
            $("." + group + "> tbody > tr").last().find(".delBrand").removeAttr('disabled');
        }

        function addPponGroup() {
            var groupCount = $("table[class*='pponGroup']").length + 1;
            var tempGroup = $('#demoPponGroup > table').clone().addClass("pponGroup" + groupCount);

            tempGroup.find(".addPpon").attr("onclick", "addPpon('pponGroup" + groupCount + "')");
            tempGroup.find(".delPpon").attr("onclick", "delPpon('pponGroup" + groupCount + "')");
            tempGroup.appendTo($("#tab3"));
            $('#delPponGroupBtn').removeAttr('disabled');
        }

        function addPpon(group) {
            var trCount = $("." + group + "> tbody > tr").length - 2;
            for (var i = 1; i <= 2; i++) {
                var temp = $('#demoPpon > table').clone();
                temp.find('.pponTitle').html("商品" + (i + trCount)).removeClass("pponTitle");
                var tmpTrCount = $("." + group + "> tbody > tr").length - 2;
                $($("." + group + "> tbody > tr")[trCount]).after("<tr></tr>");
                temp.appendTo($($("." + group + "> tbody > tr")[tmpTrCount + 1]));
            }
            $("." + group + "> tbody > tr").last().find(".delPpon").removeAttr('disabled');
        }

        function delBrandGroup() {

            var groupCount = $("table[class*='brandGroup']").length;
            if (groupCount > 1) {
                $("table[class*='brandGroup']").last().remove();
                if (groupCount == 2) {
                    $('#delBrandGroupBtn').attr('disabled', 'disabled');
                }
            }
        }

        function delBrand(group) {

            var trCount = $("." + group + "> tbody > tr").length;
            if (trCount > 4) {
                $("." + group + "> tbody > tr").last().prev().remove();
                $("." + group + "> tbody > tr").last().prev().remove();
                if (trCount == 6) {
                    $("." + group + "> tbody > tr").last().find(".delBrand").attr('disabled', 'disabled');
                }
            }
        }

        function delPponGroup() {
            var groupCount = $("table[class*='pponGroup']").length;
            if (groupCount > 1) {
                $("table[class*='pponGroup']").last().remove();
                if (groupCount == 2) {
                    $('#delPponGroupBtn').attr('disabled', 'disabled');
                }
            }

        }

        function delPpon(group) {
            var trCount = $("." + group + "> tbody > tr").length;
            if (trCount > 4) {
                $("." + group + "> tbody > tr").last().prev().remove();
                $("." + group + "> tbody > tr").last().prev().remove();
                if (trCount == 6) {
                    $("." + group + "> tbody > tr").last().find(".delPpon").attr('disabled', 'disabled');
                }
            }
        }


        function searchBid(data) {
            var bid = $(data).prev().val();
            $.ajax({
                async: false,
                type: "POST",
                url: '/ControlRoom/Edm/GetSearchDeal',
                data: { Bid: bid },
                dataType: "json",
                success: function(ref) {
                    if (ref.ItemName != "" && ref.BusinessHourGuid != "@Guid.Empty") {
                        $(data).parent().parent().next().find(":text").val(ref.ItemName);
                        $(data).parent().parent().next().next().find(":text").val(ref.CustomTag);
                        $(data).parent().parent().next().next().next().find(":text")
                            .val("http://" + window.location.host + "/deal/" + bid);
                        var img = new Image();
                        img.src = ref.AppDealPic;
                        img.alt = ref.ItemName;
                        $(data).parent().parent().next().next().next().next().children().get(1).remove();
                        $(data).parent().parent().next().next().next().next().append("<td></td>");
                        $(data).parent().parent().next().next().next().next().children().get(1).append(img);
                    } else {
                        alert("Bid發生錯誤，請重新操作一次。");
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("Bid發生錯誤，請重新操作一次。");
                }
            });
        }

        function searchBrand(data) {
            var brandId = $(data).prev().val();
            $.ajax({
                async: false,
                type: "POST",
                url: '/ControlRoom/Edm/GetBrand',
                data: { id: brandId },
                dataType: "json",
                success: function(ref) {
                    if (ref.BrandName != "" && ref.BrandName != undefined) {
                        $(data).parent().parent().next().find(":text").val(ref.Url);
                        var img = new Image();
                        img.src = ref.EventListImage;
                        img.alt = ref.BrandName;
                        $(data).parent().parent().next().next().children().get(1).remove();
                        $(data).parent().parent().next().next().append("<td></td>");
                        $(data).parent().parent().next().next().children().get(1).append(img);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("Id發生錯誤，請重新操作一次。");
                }
            });
        }

    </script>
    <style type="text/css">
        ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .abgne_tab {
            clear: left;
            margin: 10px 0;
        }
        ul.tabs {
            width: 100%;
            height: 32px;
            border-bottom: 1px solid #999;
            border-left: 1px solid #999;
        }
        ul.tabs li {
            float: left;
            height: 31px;
            line-height: 31px;
            overflow: hidden;
            position: relative;
            margin-bottom: -1px; /* 讓 li 往下移來遮住 ul 的部份 border-bottom */
            border: 1px solid #999;
            border-left: none;
            background: #e1e1e1;
        }
        ul.tabs li a {
            display: block;
            padding: 0 20px;
            color: #000;
            border: 1px solid #fff;
            text-decoration: none;
        }
        ul.tabs li a:hover {
            background: #ccc;
        }
        ul.tabs li.active {
            background: #fff;
            border-bottom: 1px solid #fff;
        }
        ul.tabs li.active a:hover {
            background: #fff;
        }
        div.tab_container {
            clear: left;
            width: 100%;
            border: 1px solid #999;
            border-top: none;
        }
        div.tab_container .tab_content {
            padding: 20px;
        }
        div.tab_container .tab_content h2 {
            margin: 0 0 20px;
        }
    </style>
}

<br/>

<form id="SendDateFrom" action="SoloEdmSetup" method="Post" enctype="multipart/form-data">
    <input type="hidden" name="EdmMainId" value="@ViewBag.MainId">
    <input type="hidden" id="hidSendDate" name="SendDate" value="">
    <input type="hidden" id="hidPromoImg" name="PromoImg" value="">
    <input type="hidden" id="hidBarndList" name="BrandData" value="">
    <input type="hidden" id="hidPponList" name="PponData" value="">
    <input type="hidden" id="hidMessage" name="Message" value="">
    <table id="EdmMainTable" class="table table-content" style="width: 100%;">
        <thead>
            <tr style="width: 30%">
                <th colspan="2">訂閱信編輯</th>
            </tr>
        </thead>
        <tbody>
            <tr style="width: 30%">
                <td align="center" colspan="2">@((ViewBag.MainId == 0) ? "新增模式" : "編輯模式")</td>
            </tr>
            <tr>
                <td>
                    發送日期
                </td>
                <td>
                    <input type="text" class="form-s datepicker" id="txtSendDate" name="txtSendDate" style="">&nbsp;&nbsp;&nbsp;
                    <select id="txtSendTime">
                        @for (int i = 0; i <= 23; i++)
                        {
                            <option value="@i">@((i < 10) ? "0" + i : i.ToString())</option>
                        }
                    </select>&nbsp;:&nbsp;00
                </td>
            </tr>
            <tr>
                <td>
                    郵件主旨<br />
                    頁面字數限制:45
                </td>
                <td style="">
                    <textarea id="Subject" name="Subject" style="width: 600px; height: 50px;">@(ViewBag.EdmData == null ? "" : ViewBag.EdmData.Subject)</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    CPA
                </td>
                <td>
                    <input type="text" style="width:120px" maxlength="20" id="Cpa" name="Cpa" value="@(ViewBag.EdmData == null ? "edm_sale" : ViewBag.EdmData.Cpa)" />
                </td>
            </tr>
        </tbody>
    </table>


    <div class="abgne_tab">
        <ul class="tabs">
            <li><a href="#tab1">主視覺大圖(必填)</a></li>
            <li><a href="#tab2">策展</a></li>
            <li><a href="#tab3">商品</a></li>
            <li><a href="#tab4">注意事項</a></li>
        </ul>

        <div class="tab_container">
            <div id="tab1" class="tab_content">
                <table class="table table-content" style="width: 100%;">
                    <thead>
                        <tr>
                            <th colspan="2">標頭</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 15%">
                                標題<br />
                                頁面字數限制:10
                            </td>
                            <td style="">
                                <input id="Title" name="Title" type="text" maxlength="10" style="width: 300px;" value="@(ViewBag.EdmData == null ? "" : ViewBag.EdmData.Title)">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 15%">
                                內文<br />
                                頁面字數限制:45
                            </td>
                            <td style="">
                                <textarea id="TitleContent" name="TitleContent" maxlength="45" style="width: 600px; height: 45px;">@(ViewBag.EdmData == null ? "" : ViewBag.EdmData.TitleContent)</textarea>
                                <br/><spna style="color: cornflowerblue">※ 標題或內文其中一項未填，EDM不顯示標頭</spna>
                            </td>
                        </tr>
                    </tbody>
                </table>                
                
                <table class="table table-content" style="width: 100%;">
                    <thead>
                        <tr style="width: 30%">
                            <th colspan="2">主視覺大圖&內容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" style="">                                
                                <textarea id="txtPromoImg" name="" style="width: 600px; height: 30px;">@(ViewBag.EdmData == null ? "" : ViewBag.EdmData.PromoImg)</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div id="tab2" class="tab_content">
                <input type="checkbox" id="brandCheck" name="CloseBrandType" value="true">
                <label class="checkboxLabel" for="brandCheck">策展功能關閉本封信不帶入任何策展曝光</label>
                <br />
                <br />
                <div id="brandDiv">
                    <input type="button" class="btn btn-default btn-align-center" onclick="addBrandGroup()" value="新增策展區塊">
                    <input type="button" id="delBrandGroupBtn" class="btn btn-default btn-align-center" disabled="disabled" onclick="delBrandGroup()" value="移除策展區塊">
                    @if (ViewBag.BrandType && ViewBag.BrandList != null)
                    {
                        var groupCount = 1;
                        foreach (var brandGroup in ViewBag.BrandList)
                        {
                            var brandCount = 1;
                            <table class="table table-content @("brandGroup" + groupCount)" style="width: 100%;">
                                <tbody>
                                @foreach (var brand in brandGroup)
                                {
                                    if (brandCount == 1)
                                    {
                                        <tr>
                                            <td>
                                                <table class="table" style="width: 100%;">
                                                    <thead>
                                                    <tr>
                                                        <th colspan="2">策展標題</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td style="width: 15%">
                                                            標頭內文<br/>
                                                            頁面字數限制:20
                                                        </td>
                                                        <td>
                                                            <input class="brandTitle" type="text" maxlength="20" style="width: 300px;" value="@brand.GroupName">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>
                                            <table class="table table-content" style="width: 100%;">
                                                <thead>
                                                <tr>
                                                    <th colspan="2">策展 @brandCount</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td style="width: 15%">
                                                        策展ID
                                                    </td>
                                                    <td>
                                                        <input class="brandId" type="text" style="width: 100px;" value="@brand.BrandId">
                                                        <input type="button" class="btn btn-default btn-align-center" onclick="searchBrand(this)" value="搜尋">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 15%">
                                                        連結
                                                    </td>
                                                    <td>
                                                        <input class="brandUrl" type="text" style="width: 300px;" value="@brand.Url">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 15%">
                                                        預覽圖
                                                    </td>
                                                    <td>
                                                        <img src="@brand.ImgUrl" alt="@brand.BrandName">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    brandCount++;
                                }
                                <tr>
                                    <td>
                                        <input type="button" class="btn btn-default addBrand" onclick="@Html.Raw("addBrand('brandGroup" + groupCount + "')")" value="新增策展">
                                        <input type="button" class="btn btn-default delBrand" @( brandCount > 2 ? "" : "disabled='disabled'") onclick="@Html.Raw("delBrand('brandGroup" + groupCount + "')")" value="刪除策展">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            groupCount++;
                            brandCount = 1;
                        }
                    }
                    else
                    {
                        <table class="table table-content brandGroup1" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">策展標題</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="width: 15%">
                                                        標頭內文<br />
                                                        頁面字數限制:20
                                                    </td>
                                                    <td>
                                                        <input class="brandTitle" type="text" maxlength="20" style="width: 300px;">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="table table-content" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">策展1</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="width: 15%">
                                                        策展ID
                                                    </td>
                                                    <td>
                                                        <input class="brandId" type="text" style="width: 100px;">
                                                        <input type="button" class="btn btn-default btn-align-center" onclick="searchBrand(this)" value="搜尋">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 15%">
                                                        連結
                                                    </td>
                                                    <td style="">
                                                        <input class="brandUrl" type="text" style="width: 300px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 15%">
                                                        預覽圖
                                                    </td>
                                                    <td style=""></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="table table-content" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">策展2</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="width: 15%">
                                                        策展ID
                                                    </td>
                                                    <td>
                                                        <input class="brandId" type="text" style="width: 100px;">
                                                        <input type="button" class="btn btn-default btn-align-center" onclick="searchBrand(this)" value="搜尋">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 15%">
                                                        連結
                                                    </td>
                                                    <td style="">
                                                        <input class="brandUrl" type="text" style="width: 300px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 15%">
                                                        預覽圖
                                                    </td>
                                                    <td style=""></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            <tr>
                                <td>
                                    <input type="button" class="btn btn-default addBrand" onclick="addBrand('brandGroup1')" value="新增策展">
                                    <input type="button" class="btn btn-default delBrand" disabled="disabled" onclick="delBrand('brandGroup1')" value="刪除策展">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <div id="tab3" class="tab_content">
                <input type="checkbox" id="pponCheck" name="ClosePponType" value="true"><label class="checkboxLabel" for="pponCheck">商品功能關閉本封信不帶入任何商品曝光</label>
                <br />
                <br />
                <div id="pponDiv">
                    <input type="button" class="btn btn-default btn-align-center" onclick="addPponGroup()" value="新增商品主題區塊">
                    <input type="button" id="delPponGroupBtn" class="btn btn-default btn-align-center" disabled="disabled" onclick="delPponGroup()" value="移除商品主題區塊">
                    @if (ViewBag.PponType && ViewBag.PponList != null)
                    {
                        var groupCount = 1;
                        foreach (var pponGroup in ViewBag.PponList)
                        {
                            var pponCount = 1;
                            <table class="table table-content @("pponGroup" + groupCount)" style="width: 100%;">
                                <tbody>
                                @foreach (var ppon in pponGroup)
                                {
                                    if (pponCount == 1)
                                    {
                                        <tr>
                                            <td>
                                                <table class="table table-content" style="width: 100%;">
                                                    <thead>
                                                    <tr>
                                                        <th colspan="2">商品標題</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td style="width: 15%">
                                                            商品標題主旨<br/>
                                                            頁面字數限制:30
                                                        </td>
                                                        <td>
                                                            <input class="pponTitle" type="text" maxlength="20" style="width: 300px;" value="@ppon.GroupName">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                    }
                                    <tr>
                                        <td>
                                            <table class="table table-content" style="width: 100%;">
                                                <thead>
                                                <tr>
                                                    <th colspan="2">商品1</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td style="width: 15%">
                                                        商品BID
                                                    </td>
                                                    <td>
                                                        <input class="bid" type="text" style="width: 300px;" value="@ppon.Bid">
                                                        <input type="button" class="btn btn-default btn-align-center" onclick="searchBid(this)" value="搜尋">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 15%">
                                                        黑色標題
                                                    </td>
                                                    <td style="">
                                                        <input class="bTitle" type="text" style="width: 500px;" value="@ppon.BlackTitle">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 15%">
                                                        橘色標題
                                                    </td>
                                                    <td style="">
                                                        <input class="oTitle" type="text" style="width: 500px;" value="@ppon.OrangeTitle">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 15%">
                                                        連結
                                                    </td>
                                                    <td style="">
                                                        <input class="pponUrl" type="text" style="width: 500px;" value="@ppon.Url">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 15%">
                                                        預覽圖
                                                    </td>
                                                    <td><img src="@ppon.ImgUrl" alt="@ppon.BlackTitle"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    
                                    pponCount++;
                                }
                                <tr>
                                    <td>
                                        <input type="button" class="btn btn-default addPpon" onclick="@Html.Raw("addPpon('pponGroup" + groupCount + "')")" value="新增商品" />&nbsp;
                                        <input type="button" class="btn btn-default delPpon" @(pponCount > 2 ? "" : "disabled='disabled'") onclick="@Html.Raw("delPpon('pponGroup" + groupCount + "')")" value="移除商品" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            groupCount++;
                            pponCount = 1;
                        }
                    }
                    else
                    {
                        <table class="table table-content pponGroup1" style="width: 100%;">
                            <tbody>
                            <tr>
                                <td>
                                    <table class="table table-content" style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th colspan="2">商品標題</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="width: 15%">
                                                商品標題主旨<br/>
                                                頁面字數限制:20
                                            </td>
                                            <td>
                                                <input class="pponTitle" type="text" maxlength="20" style="width: 300px;" value="今日熱門推薦">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <table class="table table-content" style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th colspan="2">商品1</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="width: 15%">
                                                商品BID
                                            </td>
                                            <td>
                                                <input class="bid" type="text" style="width: 300px;">
                                                <input type="button" class="btn btn-default btn-align-center" onclick="searchBid(this)" value="搜尋">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 15%">
                                                黑色標題
                                            </td>
                                            <td style="">
                                                <input class="bTitle" type="text" style="width: 500px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 15%">
                                                橘色標題
                                            </td>
                                            <td style="">
                                                <input class="oTitle" type="text" style="width: 500px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 15%">
                                                連結
                                            </td>
                                            <td style="">
                                                <input class="pponUrl" type="text" style="width: 500px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 15%">
                                                預覽圖
                                            </td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="table table-content" style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th colspan="2">商品2</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="width: 15%">
                                                商品BID
                                            </td>
                                            <td>
                                                <input class="bid" type="text" style="width: 300px;">
                                                <input type="button" class="btn btn-default btn-align-center" onclick="searchBid(this)" value="搜尋">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 15%">
                                                黑色標題
                                            </td>
                                            <td style="">
                                                <input class="bTitle" type="text" style="width: 500px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 15%">
                                                橘色標題
                                            </td>
                                            <td style="">
                                                <input class="oTitle" type="text" style="width: 500px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 15%">
                                                連結
                                            </td>
                                            <td style="">
                                                <input class="pponUrl" type="text" style="width: 500px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 15%">
                                                預覽圖
                                            </td>
                                            <td style=""></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" class="btn btn-default addPpon" onclick="addPpon('pponGroup1')" value="新增商品">
                                    <input type="button" class="btn btn-default delPpon" disabled="disabled" onclick="delPpon('pponGroup1')" value="移除商品">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <div id="tab4" class="tab_content">
                <input type="checkbox" id="msgCheck" name="CloseMsgType" value="true"><label class="checkboxLabel" for="msgCheck">注意事項關閉本封信不帶入任何注意事項曝光</label>
                <br />
                <div id="msgDiv">
                    <table class="table table-content" style="width: 100%;">
                        <thead>
                            <tr style="width: 30%">
                                <th colspan="2">注意事項</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" style="">
                                    <textarea id="promoMessage" style="width: 600px; height: 30px;">@(ViewBag.EdmData == null ? "":ViewBag.EdmData.Message)</textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <table id="SendEdmTable" class="table table-content" style="width: 100%;">
        <thead>
            <tr style="width: 30%">
                <th colspan="2">訂閱信發送名單</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    上傳發送名單
                </td>
                <td id="checkUpdataTd" style="display: none">
                    上傳名單: @ViewBag.SendeEmailCount
                    <input type="button" class="btn btn-default btn-align-center" onclick="updataSendData()" value="重新上傳">
                    <input id="checkSendUpdata" name="CheckSendUpdata" type="checkbox" style="display: none" value="true">
                </td>
                <td id="UpdataFileTd">
                    <input id="userFile" name="file" type="file">
                    @*<input style="display: none" id="checkAllUser" name="CheckAllUser" type="checkbox" value="true">*@
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="submit" class="btn btn-default btn-align-center" value="儲存">
                    <input type="button" class="btn btn-default btn-align-center" onclick="javascript:location.href = 'SoloEdmList'" value="取消">
                </td>
            </tr>
        </tbody>
    </table>
</form>


<div id="demoBrandGroup" style="display: none">
    <table class="table table-content" style="width: 100%;">
        <tbody>
        <tr>   
            <td>
                <table class="table" style="width: 100%;">
                    <thead>
                    <tr>
                        <th colspan="2">策展標題</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 15%">
                            標頭內文<br/>
                            頁面字數限制:20
                        </td>
                        <td >
                            <input class="brandTitle" maxlength="20" type="text" style="width: 300px;">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
                        
            <td >
                <table class="table table-content" style="width: 100%;">
                    <thead>
                    <tr>
                        <th colspan="2">策展1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 15%">
                            策展ID
                        </td>
                        <td >
                            <input class="brandId" type="text" style="width: 100px;">
                            <input type="button" class="btn btn-default btn-align-center" onclick="searchBrand(this)" value="搜尋">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            連結
                        </td>
                        <td style="">
                            <input class="brandUrl" type="text" style="width: 300px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            預覽圖
                        </td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table table-content" style="width: 100%;">
                    <thead>
                    <tr>
                        <th colspan="2">策展2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 15%">
                            策展ID
                        </td>
                        <td >
                            <input class="brandId" type="text" style="width: 100px;">
                            <input type="button" class="btn btn-default btn-align-center" onclick="searchBrand(this)" value="搜尋">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            連結
                        </td>
                        <td>
                            <input class="brandUrl" type="text" style="width: 300px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            預覽圖
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" class="btn btn-default addBarnd" onclick="" value="新增策展">
                <input type="button" class="btn btn-default delBarnd" disabled="disabled" onclick="" value="移除策展">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="demoBrand" style="display: none">
    <table class="table table-content" style="width: 100%;">
        <thead>
        <tr>
            <th class="brandTitle" colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 15%">
                策展ID
            </td>
            <td>
                <input class="brandId" type="text" style="width: 100px;">
                <input type="button" class="btn btn-default btn-align-center" onclick="searchBrand(this)" value="搜尋">
            </td>
        </tr>
        <tr>
            <td style="width: 15%">
                連結
            </td>
            <td>
                <input class="brandUrl" type="text" style="width: 300px;">
            </td>
        </tr>
        <tr>
            <td style="width: 15%">
                預覽圖
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<div id="demoPponGroup" style="display: none">
    <table class="table table-content" style="width: 100%;">
        <tbody>
        <tr>
            <td>
                <table class="table table-content" style="width: 100%;">
                    <thead>
                    <tr>
                        <th colspan="2">商品標題</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 15%">
                            商品標題主旨<br />
                            頁面字數限制:30
                        </td>
                        <td>
                            <input class="pponTitle" type="text" maxlength="20" style="width: 300px;" value="今日熱門推薦">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table table-content" style="width: 100%;">
                    <thead>
                    <tr>
                        <th colspan="2">商品1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 15%">
                            商品BID
                        </td>
                        <td>
                            <input class="bid" type="text" style="width: 300px;">
                            <input type="button" class="btn btn-default btn-align-center" onclick="searchBid(this)" value="搜尋">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            黑色標題
                        </td>
                        <td style="">
                            <input class="bTitle" type="text" style="width: 500px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            橘色標題
                        </td>
                        <td style="">
                            <input class="oTitle" type="text" style="width: 500px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            連結
                        </td>
                        <td>
                            <input class="pponUrl" type="text" style="width: 500px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            預覽圖
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table table-content" style="width: 100%;">
                    <thead>
                    <tr>
                        <th colspan="2">商品2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 15%">
                            商品BID
                        </td>
                        <td>
                            <input class="bid" type="text" style="width: 300px;">
                            <input type="button" class="btn btn-default btn-align-center" onclick="searchBid(this)" value="搜尋">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            黑色標題
                        </td>
                        <td>
                            <input class="bTitle" type="text" style="width: 500px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            橘色標題
                        </td>
                        <td>
                            <input class="oTitle" type="text" style="width: 500px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            連結
                        </td>
                        <td>
                            <input class="pponUrl" type="text" style="width: 300px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            預覽圖
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" class="btn btn-default addPpon" onclick="" value="新增商品">
                <input type="button" class="btn btn-default delPpon" disabled="disabled" onclick="" value="移除商品">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="demoPpon" style="display: none">
    <table class="table table-content" style="width: 100%;">
        <thead>
        <tr>
            <th class="pponTitle" colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 15%">
                商品BID
            </td>
            <td>
                <input class="bid" type="text" style="width: 300px;">
                <input type="button" class="btn btn-default btn-align-center" onclick="searchBid(this)" value="搜尋">
            </td>
        </tr>
        <tr>
            <td style="width: 15%">
                黑色標題
            </td>
            <td>
                <input class="bTitle" type="text" style="width: 500px;">
            </td>
        </tr>
        <tr>
            <td style="width: 15%">
                橘色標題
            </td>
            <td>
                <input class="oTitle" type="text" style="width: 500px;">
            </td>
        </tr>
        <tr>
            <td style="width: 15%">
                連結
            </td>
            <td style="">
                <input class="pponUrl" type="text" style="width: 500px;">
            </td>
        </tr>
        <tr>
            <td style="width: 15%">
                預覽圖
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>