﻿@using LunchKingSite.Core
@{
    ViewBag.Title = "BsDelete";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<h2>對帳模擬系統 <span style="font-weight: normal;"></span></h2>
<h3>
    <a href="@Url.Action("BsGenPrep")">時間修改器</a>
    <a href="@Url.Action("BsGen")">對帳單產生器</a>
</h3>

<div id="DealContainer">
    <h4>I. 填檔號 </h4>
    <form id="dealKeyForm" action="@Url.Action("DealInfo")" method="post">
        <ul class="form_like_list">
            <li>
                P好康檔號: 
                <input id="bizModel" type="hidden" name="bizModel" value="0" />
                <input type="text" id="txtUniqueId" name="uniqueId" class="dealKey" />
            </li>
        </ul>
    </form>
    <div id="dealInfo" style="display: none;">
        <table class="tbl">
            <thead>
                <tr>
                    <th style="width: 80px;">檔號</th>
                    <th style="width: 120px;">檔次類型</th>
                    <th style="width: 240px;">對帳方式</th>
                    <th style="width: 240px;">出帳方式</th>
                    <th style="width: 100px;">有效期限(起)</th>
                    <th style="width: 100px;">有效期限(訖)</th>
                    <th style="width: 150px;">匯款至賣家/分店</th>
                </tr>
            </thead>
            <tbody>
                <tr id="dealInfoRow">
                    <td style="text-align: center">
                        <span id="dealId"></span>
                        <input type="hidden" id="bizModel" />
                    </td>
                    <td style="text-align: center"><span id="deliveryTypeDesc"></span></td>
                    <td style="text-align: center"><span id="billingModelDesc"></span></td>
                    <td style="text-align: center"><span id="remittanceTypeDesc"></span></td>
                    <td style="text-align: center"><span id="useStartTime"></span></td>
                    <td style="text-align: center"><span id="useEndTime"></span></td>
                    <td style="text-align: center"><span id="payToDesc"></span></td>
                </tr>
                <tr id="nothingRow">
                    <td colspan="6" style="text-align: center">查無資料</td>
                </tr>
            </tbody>
        </table>
        
    </div>    
</div>

<h4>II. 刪除對帳單 </h4>
<label for="simTime">刪除對帳單ID:</label>            
<input type="text" id="deleteBsId" name="deleteBsId" />        
<br />    
<br />
<input type="button" value="刪除對帳單" onclick="deleteBs()" />            
<br/><br />
<span style="color:red;font-weight: bold">NOTE:清除對帳單請小心服用，避免產生後遺症</span>
<div id="bsContainer" style="margin-top: 8px;">
    <table class="tbl">
        <thead>
            <tr>
                <th>對帳單Id</th>
                <th>分店</th>
                <th>核銷時間(起)</th>
                <th>核銷時間(訖)</th>
                <th>是否確認付款</th>
                <th>年</th>
                <th>月</th>
                <th>應付金額</th>
                <th>計算的應付金額</th>
                <th>匯款Id</th>
                <th>實付金額</th>
                <th>匯款狀態</th>
            </tr>
        </thead>
        <tbody id="balanceSheets">
        </tbody>
    </table>
</div>

<br />
<br />
<br />
-------------------------------------------------------------
<br />
<br />
<br />

<div id="SellerContainer">
    <h4>I. 填sellerGuid </h4>
    <form id="sellerKeyForm" action="@Url.Action("SellerInfo")" method="post">
        <ul class="form_like_list">
            <li>
                SellerGuid:
                <input type="text" id="txtSellerGuid" name="sellerGuid" class="dealKey" style="width:300px" />
            </li>
        </ul>
    </form>
    <div id="sellerInfo" style="display: none;">
        <table class="tbl">
            <thead>
                <tr>
                    <th style="width: 80px;">SellerGuid</th>
                    <th style="width: 120px;">商家名稱</th>
                </tr>
            </thead>
            <tbody>
                <tr id="sellerInfoRow">
                    <td style="text-align: center"><span id="sellerGuid"></span></td>
                    <td style="text-align: center"><span id="sellerName"></span></td>
                </tr>
                <tr id="sellerNothingRow">
                    <td colspan="6" style="text-align: center">查無資料</td>
                </tr>
            </tbody>
        </table>

    </div>  
</div>

<h4>II. 刪除倉儲對帳單 </h4>
<label for="simTime">刪除倉儲對帳單ID:</label>
<input type="text" id="deleteBswId" name="deleteBswId" />
<br />
<br />
<input type="button" value="刪除倉儲對帳單" onclick="deleteBsw()" />
<br /><br />
<span style="color:red;font-weight: bold">NOTE:清除對帳單請小心服用，避免產生後遺症</span>
<div id="bswContainer" style="margin-top: 8px;">
    <table class="tbl">
        <thead>
            <tr>
                <th>對帳單Id</th>
                <th>對帳單時間(起)</th>
                <th>對帳單時間(訖)</th>
                <th>是否確認付款</th>
                <th>年</th>
                <th>月</th>
                <th>計算的應付金額</th>
                <th>匯款Id</th>
            </tr>
        </thead>
        <tbody id="balanceSheetWmss"></tbody>
    </table>
</div>

@section SSC
{    
    <style>
        .form_like_list
        {
            list-style: none;
            padding-left: 0px;
            margin-top: 10px;
        }
        .tbl
        {
            border-collapse: collapse;
            border-style: solid;
            border-width: thin;
        }
        .tbl th, .tbl td
        {
            border-style: solid;
            border-width: thin;
        }
        h4
        {
            margin-top: 10px;
            margin-bottom: 5px;
        }


        .selectable .ui-selecting { background: #FECA40; }
        .selectable .ui-selected { background: #FFFF88; }
        .selectable {list-style-type: none;margin: 0;padding: 0;width: 60%; }
        .selectable li {margin: 3px;padding: 0.4em;font-size: 1.4em;height: 18px; }

    </style>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")"/>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#txtUniqueId').keyup(pponKeyup);
            $('#txtUniqueId').change(pponKeyup);
            //點到 bid/pid 的 textbox 時, 自動選取對應的 radio button
            $('.dealKey').focus(function () {
                //使用 prop 取代 attr 改變 checked status 方能觸發 change event
                $(this).prev().prop('checked', true).change();
            });


            $('#txtSellerGuid').keyup(sellerKeyup);

        });

        function deleteBs() {
            var uniqueId = $('#txtUniqueId').val();
            var deleteBsId = $('#deleteBsId').val();

            $.ajax({
                url: '@Url.Action("DeleteBalanceSheet")',
                type: 'POST',
                data: { UniqueId: uniqueId, DeleteBsId: deleteBsId },
                dataType: 'json',
                success: function(data) {
                    alert(data.resultMessage);
                    reloadDealInfo();
                }, error: function (res) {
                    console.log(res);
                }
            });
        }

        function pponKeyup() {
            if ($('#txtUniqueId').val().length === 8) {
                getDealInfo($('#txtUniqueId').val());
            }
        }

        function getDealInfo(key) {
            if (key.length > 0) {
                $.ajax({
                    url: '@Url.Action("DealInfo")',
                    type: 'POST',
                    data: $('#dealKeyForm').serialize(),
                    dataType: 'json',
                    success: showDealInfo,
                    error: errHandler
                });
            }
        }

        function errHandler(jqXHR, ajaxOptions, thrownError) {
            alert(jqXHR.status);
            alert(thrownError);
        }

        var sheets;

        function showDealInfo(jsonData) {
            $('#balanceSheets').empty();
            if (jsonData.DealExists) {
                $('#dealInfo').show();
                $('#dealInfoRow').show();
                $('#nothingRow').hide();

                $('#dealId').text(jsonData.DealId);
                $('#bizModel').text(jsonData.BizModel);
                $('#deliveryTypeDesc').text(jsonData.DeliveryTypeDesc);
                $('#billingModelDesc').text(jsonData.BillingModelDesc);
                $('#remittanceTypeDesc').text(jsonData.RemittanceTypeDesc);
                $('#useStartTime').text(jsonData.UseStartTime);
                $('#useEndTime').text(jsonData.UseEndTime);
                $('#payToDesc').text(jsonData.PayToDesc);
                $('#bsContainer').show();
                $('#balanceSheets').empty();

                sheets = jsonData.BalanceSheets;
                if (jsonData.BalanceSheets) {
                    $.each(jsonData.BalanceSheets, function(idx, sheet) {
                        $('#balanceSheets').append(
                            '<tr>'
                                + cellify(sheet.Id)
                                + cellify(sheet.StoreName)
                                + cellify(sheet.IntervalStart)
                                + cellify(sheet.IntervalEnd)
                                + cellify(sheet.IsConfirmedReadyToPay)
                                + cellify(sheet.Year)
                                + cellify(sheet.Month)
                                + cellify(sheet.EstAmount)
                                + cellify(sheet.GetTotalAmount)
                                + cellify(sheet.PayReportId)
                                + cellify(sheet.TransferedAmount)
                                + cellify(sheet.TransferDesc)
                                + ' </tr>'
                        );
                    });
                }

            } else {
                $('#dealInfo').show();
                $('#dealInfoRow').hide();
                $('#couponInfoContainer').hide();
                $('#nothingRow').show();
                $('#bsContainer').hide();
            }
        }

        function cellify(val) {
            return '<td>' + val + '</td>';
        }

        function reloadDealInfo() {
            getDealInfo($('#txtUniqueId').val());
        }


        function sellerKeyup() {
            if ($('#txtSellerGuid').val().length === 36) {
                getSellerInfo($('#txtSellerGuid').val());
            }
        }



        function deleteBsw() {
            var sellerGuid = $('#txtSellerGuid').val();
            var deleteBswId = $('#deleteBswId').val();

            $.ajax({
                url: '@Url.Action("DeleteBalanceSheetWms")',
                type: 'POST',
                data: { SellerGuid: sellerGuid, DeleteBswId: deleteBswId },
                dataType: 'json',
                success: function (data) {
                    alert(data.resultMessage);
                    reloadSellerInfo();
                }, error: function (res) {
                    console.log(res);
                }
            });
        }

        function reloadSellerInfo() {
            getSellerInfo($('#txtSellerGuid').val());
        }


        function getSellerInfo(key) {
            if (key.length > 0) {
                $.ajax({
                    url: '@Url.Action("SellerInfo")',
                    type: 'POST',
                    data: $('#sellerKeyForm').serialize(),
                    dataType: 'json',
                    success: showSellerInfo,
                    error: errHandler
                });
            }
        }

        function showSellerInfo(jsonData) {
            $('#balanceSheetWmss').empty();
            if (jsonData.SellerExists) {
                $('#sellerInfo').show();
                $('#sellerInfoRow').show();
                $('#sellerNothingRow').hide();

                $('#sellerGuid').text(jsonData.SellerGuid);
                $('#sellerName').text(jsonData.SellerName);

                $('#bswContainer').show();
                $('#balanceSheetWmss').empty();

                sheets = jsonData.BalanceSheetWmss;
                if (jsonData.BalanceSheetWmss) {
                    $.each(jsonData.BalanceSheetWmss, function (idx, sheet) {
                        $('#balanceSheetWmss').append(
                            '<tr>'
                                + cellify(sheet.Id)
                                + cellify(sheet.IntervalStart)
                                + cellify(sheet.IntervalEnd)
                                + cellify(sheet.IsConfirmedReadyToPay)
                                + cellify(sheet.Year)
                                + cellify(sheet.Month)
                                + cellify(sheet.EstAmount)
                                + cellify(sheet.PayReportId)
                                + ' </tr>'
                        );
                    });
                }

            } else {
                $('#sellerInfo').show();
                $('#sellerInfoRow').hide();
                $('#sellerNothingRow').show();
                $('#bswContainer').hide();
            }
        }

    </script>
}
