﻿@using LunchKingSite.Core
@{
    ViewBag.Title = "BsGen";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<h2>對帳模擬系統 <span style="font-weight: normal;"></span></h2>
<h3>
    <a href="@Url.Action("BsGenPrep")">時間修改器</a>
    <a href="@Url.Action("BsGen")">對帳單產生器</a>
</h3>

<div id="DealContainer">
    <h4>I. 填檔號 </h4>
    <form id="dealKeyForm" action="@Url.Action("DealInfo")" method="post">
        <ul class="form_like_list">
            <li>
                <input type="radio" name="bizModel" value="0" />P好康檔號: 
                <input type="text" id="txtBid" name="uniqueId" class="dealKey" />
            </li>
            <li>
                <input type="radio" name="bizModel" value ="1" />品生活 Pid:
                <input type="text" id="txtPid" name="pid" class="dealKey" />
            </li>
        </ul>
    </form>
    <div id="dealInfo" style="display: none;">
        <table class="tbl">
            <thead>
                <tr>
                    <th style="width: 80px;">檔號</th>
                    <th style="width: 120px;">檔次類型</th>
                    <th style="width: 240px;">對帳方式</th>
                    <th style="width: 240px;">出帳方式</th>
                    <th style="width: 100px;">有效期限(起)</th>
                    <th style="width: 100px;">有效期限(訖)</th>
                    <th style="width: 150px;">匯款至賣家/分店</th>
                </tr>
            </thead>
            <tbody>
                <tr id="dealInfoRow">
                    <td style="text-align: center">
                        <span id="dealId"></span>
                        <input type="hidden" id="bizModel" />
                    </td>
                    <td style="text-align: center"><span id="deliveryTypeDesc"></span></td>
                    <td style="text-align: center"><span id="billingModelDesc"></span></td>
                    <td style="text-align: center"><span id="remittanceTypeDesc"></span></td>
                    <td style="text-align: center"><span id="useStartTime"></span></td>
                    <td style="text-align: center"><span id="useEndTime"></span></td>
                    <td style="text-align: center"><span id="payToDesc"></span></td>
                </tr>
                <tr id="nothingRow">
                    <td colspan="6" style="text-align: center">查無資料</td>
                </tr>
            </tbody>
        </table>
        
    </div>    
</div>

<h4>II. 產對帳單 </h4>
<label for="simTime">模擬時間:</label>            
<input type="text" id="simDate" name="simDate" readonly="readonly" />        
<br />    
<label>對帳單類型:</label>
<input id="wbs" type="radio" name="bsOpt" value="weekly" /><label for="wbs">週對帳單</label>
<input id="fobs" type="radio" name="bsOpt" value="fortnightly" /><label for="fobs">雙週對帳單</label>
<input id="mbs" type="radio" name="bsOpt" value="monthly" /><label for="mbs">月對帳單</label>
<input id="lbs" type="radio" name="bsOpt" value="lumpSum" /><label for="lbs">商品暫付對帳單</label>
<input id="fbs" type="radio" name="bsOpt" value="flexible" /><label for="fbs">彈性出帳對帳單</label>
<br />
<input type="button" value="產對帳單" onclick="genBs()" />            
<br/><br />
<span style="color:red;font-weight: bold">NOTE:模擬匯款請勿於正式站執行，ACH之weekly_pay_report一律於系統產出對帳單(Job)時一併產出</span>
<div id="bsContainer" style="margin-top: 8px;">
    <table class="tbl">
        <thead>
            <tr>
                <th>對帳單Id</th>
                <th>分店</th>
                <th>核銷時間(起)</th>
                <th>核銷時間(訖)</th>
                <th>是否確認付款</th>
                <th>年</th>
                <th>月</th>
                <th>應付金額</th>
                <th>計算的應付金額</th>
                <th>匯款Id</th>
                <th>實付金額</th>
                <th>匯款狀態</th>
                <th>模擬匯款</th>
            </tr>
        </thead>
        <tbody id="balanceSheets">
        </tbody>
    </table>
</div>


@section SSC
{    
    <style>
        .form_like_list
        {
            list-style: none;
            padding-left: 0px;
            margin-top: 10px;
        }
        .tbl
        {
            border-collapse: collapse;
            border-style: solid;
            border-width: thin;
        }
        .tbl th, .tbl td
        {
            border-style: solid;
            border-width: thin;
        }
        h4
        {
            margin-top: 10px;
            margin-bottom: 5px;
        }


        .selectable .ui-selecting { background: #FECA40; }
        .selectable .ui-selected { background: #FFFF88; }
        .selectable {list-style-type: none;margin: 0;padding: 0;width: 60%; }
        .selectable li {margin: 3px;padding: 0.4em;font-size: 1.4em;height: 18px; }

    </style>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")"/>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#txtBid').keyup(pponKeyup);
            $('#txtBid').change(pponKeyup);
            $('#txtPid').keyup(queueKeyup);
            $('#txtPid').change(queueKeyup);
            //點到 bid/pid 的 textbox 時, 自動選取對應的 radio button 
            $('.dealKey').focus(function () {
                //使用 prop 取代 attr 改變 checked status 方能觸發 change event
                $(this).prev().prop('checked', true).change();
            });

            $('#simDate').datepicker({ dateFormat: 'yy/mm/dd' });

            $('input[name="bizModel"]').change(function() {
                if ($('input[name="bizModel"]:checked').val() === '@((int) BusinessModel.PiinLife)') {
                    $('#lbs').attr('checked', false);
                    $('#lbs').attr('disabled', true);
                } else {
                    $('#lbs').attr('disabled', false);
                }
            });
        });

        function genBs() {
            var bizModel = $('input[name="bizModel"]:checked').val();
            var uid = $('#txtBid').val();
            var pid = $('#txtPid').val();
            var simDate = $('#simDate').val();
            var bsOpt = $('input[name="bsOpt"]:checked').val();

            $.ajax({
                url: '@Url.Action("GenerateBalanceSheet")',
                type: 'POST',
                data: { BizModel: bizModel, Uid: uid, Pid: pid, SimDate: simDate, BsOpt: bsOpt },
                dataType: 'json',
                success: function(data) {
                    alert(data.resultMessage);
                    reloadDealInfo();
                }
            });
        }

        function queueKeyup() {
            if ($.data(this, 'timer')) {
                clearTimeout($.data(this, 'timer'));
                $.removeData(this, 'timer');
            }
            var that = $(this);
            var timer = setTimeout(function() { findDeal(that.val()); }, 500);
            $.data(this, 'timer', timer);
        }

        function findDeal(key) {
            $.removeData(this, 'timer');
            getDealInfo(key);
        }

        function pponKeyup() {
            if ($('#txtBid').val().length === 8) {
                getDealInfo($('#txtBid').val());
            }
        }

        function getDealInfo(key) {
            if (key.length > 0) {
                $.ajax({
                    url: '@Url.Action("DealInfo")',
                    type: 'POST',
                    data: $('#dealKeyForm').serialize(),
                    dataType: 'json',
                    success: showDealInfo,
                    error: errHandler
                });
            }
        }

        function errHandler(jqXHR, ajaxOptions, thrownError) {
            alert(jqXHR.status);
            alert(thrownError);
        }

        var sheets;

        function showDealInfo(jsonData) {
            $('#balanceSheets').empty();
            if (jsonData.DealExists) {
                $('#dealInfo').show();
                $('#dealInfoRow').show();
                $('#nothingRow').hide();

                $('#dealId').text(jsonData.DealId);
                $('#bizModel').text(jsonData.BizModel);
                $('#deliveryTypeDesc').text(jsonData.DeliveryTypeDesc);
                $('#billingModelDesc').text(jsonData.BillingModelDesc);
                $('#remittanceTypeDesc').text(jsonData.RemittanceTypeDesc);
                $('#useStartTime').text(jsonData.UseStartTime);
                $('#useEndTime').text(jsonData.UseEndTime);
                $('#payToDesc').text(jsonData.PayToDesc);
                $('#bsContainer').show();
                $('#balanceSheets').empty();

                sheets = jsonData.BalanceSheets;
                if (jsonData.BalanceSheets) {
                    $.each(jsonData.BalanceSheets, function(idx, sheet) {
                        $('#balanceSheets').append(
                            '<tr>'
                                + cellify(sheet.Id)
                                + cellify(sheet.StoreName)
                                + cellify(sheet.IntervalStart)
                                + cellify(sheet.IntervalEnd)
                                + cellify(sheet.IsConfirmedReadyToPay)
                                + cellify(sheet.Year)
                                + cellify(sheet.Month)
                                + cellify(sheet.EstAmount)
                                + cellify(sheet.GetTotalAmount)
                                + cellify(sheet.PayReportId)
                                + cellify(sheet.TransferedAmount)
                                + cellify(sheet.TransferDesc)
                                + payButton(sheet.Id, sheet.PayReportId, sheet.TransferedAmount)
                                + ' </tr>'
                        );
                    });
                }

            } else {
                $('#dealInfo').show();
                $('#dealInfoRow').hide();
                $('#couponInfoContainer').hide();
                $('#nothingRow').show();
                $('#bsContainer').hide();
            }
        }

        function cellify(val) {
            return '<td>' + val + '</td>';
        }

        function payButton(bsId, payId, transferedAmount) {
            if (!payId || !transferedAmount) {
                return '<td style="text-align: center;"><button onclick="pay(' + bsId + ')">GO!</button></td>';
            }
            return '<td></td>';
        }

        function pay(bsId) {
            $.ajax({
                url: '@Url.Action("SimulatePayment")',
                type: 'POST',
                data: { balanceSheetId: bsId },
                dataType: 'json',
                success: function(result) {
                    if (result.IsSuccess) {
                        alert('成功');
                        reloadDealInfo();
                    } else {
                        alert(result.Message);
                    }
                }
            });
        }

        function reloadDealInfo() {
            if ($('input[name="bizModel"]:checked').val() === '0') {
                getDealInfo($('#txtBid').val());
            } else {
                getDealInfo($('#txtPid').val());
            }
        }

    </script>
}
