﻿@using LunchKingSite.Core
@{
    ViewBag.Title = "GenBsJob";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<h2>對帳模擬系統 <span style="font-weight: normal;"></span></h2>
<h3>
    <a href="@Url.Action("BsGenPrep")">時間修改器</a>
    <a href="@Url.Action("BsGen")">對帳單產生器</a>
    <a href="@Url.Action("GenBsJob")">對帳單排程</a>
    <a href="@Url.Action("BsDelete")">刪除對帳單</a>
</h3>

<label>檔次類型:</label>
<input id="toShop" type="radio" name="deliveryType" value="@((int)DeliveryType.ToShop)" /><label for="toShop">憑證</label>
<input id="toHouse" type="radio" name="deliveryType" value="@((int)DeliveryType.ToHouse)" /><label for="toHouse">宅配商品</label>
<br />
<label>出帳方式:</label>
<input id="weekly" type="radio" name="genOpt" value="weekly" /><label for="weekly">每週出帳</label>
<input id="fortnightly" type="radio" name="genOpt" value="fortnightly" /><label for="fortnightly">雙周出帳</label>
<input id="monthly" type="radio" name="genOpt" value="monthly" /><label for="monthly">每月出帳</label>
<input id="flexible" type="radio" name="genOpt" value="flexible" /><label for="flexible">彈性出帳</label>
<input id="lumpSum" type="radio" name="genOpt" value="lumpSum" /><label for="flexible">暫付及其他出帳(宅配檔次方適用)</label>
<br />
<label>對帳單類型:</label>
<input id="wbs" type="radio" name="bsOpt" value="weekly" /><label for="wbs">週對帳單</label>
<input id="fobs" type="radio" name="bsOpt" value="fortnightly" /><label for="fobs">雙週對帳單</label>
<input id="mbs" type="radio" name="bsOpt" value="monthly" /><label for="mbs">月對帳單</label>
<input id="lbs" type="radio" name="bsOpt" value="lumpSum" /><label for="lbs">商品暫付對帳單</label>
<input id="fbs" type="radio" name="bsOpt" value="flexible" /><label for="fbs">彈性出帳對帳單</label>
<br />
<label class="outOfRange">是否補產檔款對帳單:</label>
<input id="ofrt" type="radio" name="outOfRange" value="true" /><label for="ofrt" class="outOfRange">是</label>
<input id="ofrf" type="radio" name="outOfRange" value="false" checked /><label for="ofrf" class="outOfRange">否</label>
&nbsp;&nbsp;
<span style="color:mediumorchid; font-weight:bold; font-size:11pt">補產檔款對帳單設定為[憑證檔次][舊出帳方式-週結月對帳單]方適用</span>
<br /><br />
<label for="simTime">模擬時間:</label>
<input type="text" id="simDate" name="simDate" readonly="readonly" />       
<br /><br />
<span style="color:red; font-weight:bold; font-size:11pt">請注意：<br/>已過對帳單排程執行日期且需重新執行排程；方可使用此功能。<br/>若未過排程執行日期；請重新執行排程即可。</span>
<br />
<input type="button" value="執行對帳單排程" onclick="genBs()" /> 
<br />
<br />
<br />
<label for="simTime">模擬時間:</label>
<input type="text" id="wmsSimDate" name="wmsSimDate" readonly="readonly" />
<br /><br />
<span style="color:red; font-weight:bold; font-size:11pt">請注意：<br />已過對帳單排程執行日期且需重新執行排程；方可使用此功能。<br />若未過排程執行日期；請重新執行排程即可。</span>
<br />
<input type="button" value="執行PCHOME產品對帳單排程" onclick="genBsWms()" /> 


@section SSC
{
    <style>
        .outOfRange{
            color:gray
        }
    </style>
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" />
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#simDate').datepicker({ dateFormat: 'yy/mm/dd' });
            $('#wmsSimDate').datepicker({ dateFormat: 'yy/mm/dd' });
        });

        function genBs() {
            var deliveryType = $('input[name="deliveryType"]:checked').val();
            var simDate = $('#simDate').val();
            var genOpt = $('input[name="genOpt"]:checked').val();
            var bsOpt = $('input[name="bsOpt"]:checked').val();
            var outOfRange = $('input[name="outOfRange"]:checked').val();
            
            if ((deliveryType === undefined || deliveryType.length === 0)
             || (simDate === undefined || simDate.length === 0)
             || (genOpt === undefined || genOpt.length === 0)
             || (bsOpt === undefined || bsOpt.length === 0)
             || (outOfRange === undefined || outOfRange === 0)) {
                alert("資料設定未完整!!");
                return false;
            }

            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();

            $.ajax({
                url: '@Url.Action("ExecuteJobGenerateBalanceSheet")',
                type: 'POST',
                data: { DeliveryType: deliveryType, SimDate: simDate, GenOpt: genOpt, BsOpt: bsOpt, outOfRange: outOfRange },
                dataType: 'json',
                success: function (data) {
                    //關閉處理中訊息並解除鎖定畫面
                    $.unblockUI();

                    //延遲跳出結果訊息及跳頁 避免跳出訊息和儲存訊息重疊出現
                    setTimeout(function () {
                        alert(data.resultMessage);
                    }, 500);
                }
            });
        }

        function genBsWms() {
            var deliveryType = $('input[name="deliveryType"]:checked').val();
            var wmsSimDate = $('#wmsSimDate').val();
            var genOpt = $('input[name="genOpt"]:checked').val();
            var bsOpt = $('input[name="bsOpt"]:checked').val();

            if ((deliveryType === undefined || deliveryType.length === 0)
             || (wmsSimDate === undefined || wmsSimDate.length === 0)
             || (genOpt === undefined || genOpt.length === 0)
             || (bsOpt === undefined || bsOpt.length === 0)) {
                alert("資料設定未完整!!");
                return false;
            }

            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();

            $.ajax({
                url: '@Url.Action("ExecuteJobGenerateBalanceSheetWms")',
                type: 'POST',
                data: { DeliveryType: deliveryType, simTime: wmsSimDate, GenOpt: genOpt, BsOpt: bsOpt },
                dataType: 'json',
                success: function (data) {
                    //關閉處理中訊息並解除鎖定畫面
                    $.unblockUI();

                    //延遲跳出結果訊息及跳頁 避免跳出訊息和儲存訊息重疊出現
                    setTimeout(function () {
                        alert(data.resultMessage);
                    }, 500);
                }
            });
        }

        
        function block_postback() {
            $.blockUI({ message: "<center><img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />處理中，請稍候...</center>", css: { width: '250px' } });
        }

    </script>
}