﻿@charset "utf-8";
/* CSS Document */

.ReturnFrame {
	width: 960px;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
	clear: both;
	height: auto;
}
.ReturnTopTi {
	height: 43px;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.ReturnCenter {
	clear: both;
	width: 958px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000;
	border-left-color: #000;
	padding-bottom: 18px;
	padding-top: 20px;
}
.ReturnBottom {
	background-image: url(ReturnBottom.png);
	background-repeat: no-repeat;
	height: 9px;
	width: 960px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.error-bg{/*驗證錯誤底色*/
	background-color: #FFDFDF;
	top: -1px;
	position: relative;
    margin:6px 0 0 0;
}
.ReturnIndexTiTable {
	font-family: "微軟正黑體";
	font-size: 17px;
	color: #000;
	width: 625px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
.ReturnIndexTitle {
	font-family: "微軟正黑體";
	font-size: 17px;
	color: #000;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
}
.ReturnIndexTiTable input{
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	width: 520px;
}
.ReturnIndexTiTable td{
	font-family: "微軟正黑體";
	font-size: 17px;
	color: #000;
}
.ReturnConfirmBtnOk1 {
	height: 41px;
	width: 130px;
	background-image: url(ReturnConfirm1.jpg);
	background-repeat: no-repeat;
	display: block;
}
.ReturnConfirmBtnOk1:hover{
	background-image: url(ReturnConfirm1-1.jpg);
	background-repeat: no-repeat;
}
.ReturnConFrm {
	width: auto;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
	height: 42px;
	clear: both;
}
/*.ReturnConfirmBtnTExt {
	font-family: "微軟正黑體";
	font-size: 17px;
	color: #F60;
	text-decoration: underline;
	float: left;
	width: 80px;
	margin-top: 17px;
	font-weight: bold;
	line-height: 23px;
}
.ReturnConfirmBtnTExt a:link{text-decoration: underline;color: #F60;font-family:'微軟正黑體';}
.ReturnConfirmBtnTExt a:visited{text-decoration: underline;color: #F60;font-family:'微軟正黑體';}
.ReturnConfirmBtnTExt a:hover{text-decoration: underline;color: #F60;font-family:'微軟正黑體';}
.ReturnConfirmBtnTExt a:active{text-decoration:underline; color: #F60;font-family:'微軟正黑體';}*/

.ReturnConfirmLine {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #d9e7cd;
	height: 7px;
}
.ReturnApplitext {
	width:800px;
	font-size: 16px;
	line-height: 38px;
	font-family: "微軟正黑體";
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 8px;
	color: #333;
	font-weight: bold;
}
.ReturnAppliReason{
	width:790px;
	height:auto;
	z-index:1;
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
	border: 1px dashed #bf0000;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
.ReturnAppliReason ul{ 

}
.ReturnAppliReason li{
	list-style-type: none;
	font-family: "微軟正黑體";
	font-size: 15px;
	line-height: 40px;
}
.ReturnAppliReason ul.ReturnApplll{
	padding-top: 0px;

}
.ReturnAppliReason li.ReturnApplll{
	list-style-type: none;
	font-family: "微軟正黑體";
	font-size: 15px;
	line-height: 33px;
}
.ReturnAppliReason textarea{
	width:630px;
	height:20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.ReturnAppliRedTips {
	width:230px;
	height:auto;
	z-index:1;
	margin-top: 18px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #F00;
	font-weight: normal;
	font-size: 13px;
	font-family: "微軟正黑體";
	text-align: center;
}
.ReturnAppliNextBtn2 {
	width:130px;
	height:41px;
	z-index:1;
	margin-top:10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(ReturnConfirm2.jpg);
	background-repeat: no-repeat;
	display: block;
}
.ReturnAppliNextBtn2:hover {
	background-image: url(ReturnConfirm2-2.jpg);
	background-repeat: no-repeat;
}
.ReturnConfirm{
	width:800px;
	height:auto;
	z-index:1;
	padding-top: 15px;
	margin-right: auto;
	margin-left: auto;
	font-size: 25px;
	color: #bf0000;
	font-family: "微軟正黑體";
	text-align: center;
	font-weight: bold;
}
.ReturnBlaAppliTips2 {
	width:350px;
	height:auto;
	z-index:1;
	margin-top: 18px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #000;
	font-weight: normal;
	font-size: 13px;
	font-family: "微軟正黑體";
	text-align: center;
}
.ReturnAppliSmlltext {
	width:800px;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	font-family: "微軟正黑體";
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	color: #333;
}
.ReturnConfirmBtn3 {
	height: 41px;
	width: 130px;
	background-image: url(ReturnConfirm3.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	z-index:1;
	display: block;
}
.ReturnConfirmBtn3:hover {
	background-image: url(ReturnConfirm3-2.jpg);
	background-repeat: no-repeat;
}
.ReturnConfirmBtn4 {
	height: 41px;
	width: 130px;
	background-image: url(ReturnConfirm4.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	z-index:1;
	display: block;
}
.ReturnConfirmBtn4:hover {
	background-image: url(ReturnConfirm4-2.jpg);
	background-repeat: no-repeat;
}
.ReturnStep {
	font-family: "微軟正黑體";
	color: #000;
	width: 785px;
	border: 1px dashed #bf0000;
	margin-right: auto;
	margin-left: auto;
	padding: 8px;
}
.ReturnStep ul{
	color: #000;
	list-style-type: none;
	margin-left: 22px;
	margin-top: 3px;
	margin-bottom: 5px;
}
.ReturnStep li{
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	list-style-type: none;
	line-height: 23px;
}
.ReturnStepTittle {
	font-family: "微軟正黑體";
	color: #f60;
	font-size: 15px;
	font-weight: bold;
	line-height: 28px;
}
.ReturnConfirmBtn5 {
	height: 41px;
	width: 153px;
	background-image: url(ReturnConfirm5.jpg);
	background-repeat: no-repeat;
	z-index:1;
	display: block;
}
.ReturnConfirmBtn5:hover {
	background-image: url(ReturnConfirm5-2.jpg);
	background-repeat: no-repeat;
}
.ReturnStepTable{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 35px;
	margin-bottom: 30px;
}
.ReturnStepTable td{
	margin-right: auto;
	margin-left: auto;
	font-family: "微軟正黑體";
	font-size: 17px;
	color: #F00;	
}
.ReturnViceText1 {/*-------有底線-------*/
	width:800px;
	font-size: 15px;
	line-height: 23px;
	font-family: "微軟正黑體";
	margin-right: auto;
	margin-left: auto;
	color: #000;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #C2C2C2;
	padding-bottom: 3px;
}
.ReturnConfirmBtn6 {
	height: 41px;
	width: 130px;
	background-image: url(ReturnConfirm6.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	z-index:1;
	display: block;
}
.ReturnConfirmBtn6:hover {
	background-image: url(ReturnConfirm6-2.jpg);
	background-repeat: no-repeat;
}
.ReturnRedSTex{
	color:#F00;
	font-family:"微軟正黑體";
	font-size: 15px;
}
.ReturnViceText2 {/*------無底線-----*/
	width:800px;
	font-size: 15px;
	line-height: 23px;
	font-family: "微軟正黑體";
	margin-right: auto;
	margin-left: auto;
	color: #000;
	padding-bottom: 3px;
	margin-top: 22px;
}
.ReturnConfirmBtn71 {
	height: 41px;
	width: 170px;
	background-image: url(ReturnConfirm71.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	z-index:1;
	display:inline-block;
}
.ReturnConfirmBtn71:hover {
	background-image: url(ReturnConfirm71-2.jpg);
	background-repeat: no-repeat;
}
.ReturnConfirmBtn72 {
	height: 41px;
	width: 232px;
	background-image: url(ReturnConfirm72.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	z-index:1;
	display:inline-block;
}
.ReturnConfirmBtn72:hover {
	background-image: url(ReturnConfirm72-2.jpg);
	background-repeat: no-repeat;
}
.ReturnRefund {
	height: auto;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border: 1px dashed #bf0000;
	padding-top: 8px;
	padding-bottom: 10px;
}
.ReturnRefundTable {
	font-size: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	width: 775px;
}
.ReturnRefundTable ul{
	list-style-type: none;
	line-height:45px;
}
.ReturnRefundTable li{
	list-style-type: none;
	height: 40px;
	margin:6px 0 0 0;
	padding-bottom: 2px;
	padding-left: 8px;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
}
.ReturnRefundColor{
	font-size: 15px;
	list-style-type: none;
	background-color: #FFDFDF;
	height: 40px;
	top: -1px;
	position: relative;
	padding-bottom: 2px;
    margin:6px 0 0 0;
	padding-left: 8px;
}
.ReturnRefundBCoT{
	background-color:#444;
	color:#fff;
	padding-left: 8px;
	text-align: left;
	font-family: "微軟正黑體";
}
.ReturnRefundName {
	height: auto;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
}
.ReturnRefundName input{
	width:171px;
	font-size: 16px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	height: 21px;
	padding-top: 2px;
	text-align: left;
	font-family: "微軟正黑體";
}
.ReturnRefundIdCard {
	height: auto;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
}
.ReturnRefundIdCard input{
	width:111px;
	font-size: 16px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	height: 21px;
	padding-top: 2px;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.ReturnRefundBank {
	height: auto;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
}
.ReturnRefundBank select{
	width:179px;
	font-size: 16px;
	padding-left: 2px;
	position: relative;
	top: 0px;
	text-align: left;
	height: 25px;
	line-height:28px;
	font-family: "微軟正黑體";
}
.ReturnRefundNumber {
	height: 45px;
	clear: both;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
}
.ReturnRefundNumber input{
	width:425px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
}
.ReturnRefundNuTff{
	width:175px;
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: "微軟正黑體";
}
.ReturnRefundPhone{
	height: auto;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
}
.ReturnRefundPhone input{
	width:425px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
}
.ReturnRefuRedViceTe {
	font-size: 15px;
	color: #F00;
	width: 640px;
	margin-top: 18px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: "微軟正黑體";
}
.ReturnRefuBtnFarm {
	font-size: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 350px;
	margin-top: 15px;
}
.ReturnConfirmTab {
	font-size: 15px;
	width: 480px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
* html .ReturnConfirmTab {
	font-size: 15px;
	width: 510px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
.ReturnConfirmTab ul{
	list-style-type: none;
	line-height:45px;
}
.ReturnConfirmTab li{
	font-size: 16px;
	list-style-type: none;
	height: 40px;
	margin:6px 0 0 0;
	padding-bottom: 2px;
	padding-left: 8px;
	letter-spacing:0.1em;
}
.ReturnConfirmBtnYES {
	height: 41px;
	width: 95px;
	background-image: url(ReturnConfirm8.jpg);
	background-repeat: no-repeat;
	z-index:1;
	display: block;
}
.ReturnConfirmBtnYES:hover {
	background-image: url(ReturnConfirm8-2.jpg);
	background-repeat: no-repeat;
}
.ReturnConfirmBtnNO {
	height: 41px;
	width: 95px;
	background-image: url(ReturnConfirm9.jpg);
	background-repeat: no-repeat;
	z-index:1;
	display: block;
}
.ReturnConfirmBtnNO:hover {
	background-image: url(ReturnConfirm9-2.jpg);
	background-repeat: no-repeat;
}
.ReturnConfirmBtnFarm {
	font-size: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 250px;
	margin-top: 15px;
}
.ReturnAppliBigtext {
	width:800px;
	font-size: 17px;
	line-height: 30px;
	font-family: "微軟正黑體";
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 8px;
	color: #333;
	font-weight: bold;
	margin-top: 15px;
}
.ReturnConfirmName {
	font-size: 17px;
	font-family: "微軟正黑體";
	color: #000;
}
.ReturnConfirmTbName {
	font-size: 17px;
	margin-left:5px;
	font-family: "微軟正黑體";
	color: #000;
}
.ReturnBrushBackText{
	color:#333; 
	font-family:'微軟正黑體';
}
.ReturnBrushBackText a:link{text-decoration: none;color: #333;font-family:'微軟正黑體';}
.ReturnBrushBackText a:visited{text-decoration: none;color: #333;font-family:'微軟正黑體';}
.ReturnBrushBackText a:hover{text-decoration: none;color: #333;font-family:'微軟正黑體';}
.ReturnBrushBackText a:active{text-decoration:none; color: #333;font-family:'微軟正黑體';}