@charset "utf-8";
/* CSS Document */
body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;}
#YIbgImg{
	position:absolute;
	z-index:-1;
}
.YIPhorizontal {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0px;	
	left: 0px;
	clear: both;
}

.YIPwrap {
	height: 520px;
	width: 615px;
	margin-top: -260px;
	margin-left: -307.5px;
	position: absolute;
	left: 50%;
	top: 30%;
	
}
/*.YIPwrap {
	width: 615px;
	height: 520px;
	margin-top: -150px;
	margin-left: -310px;
	height: auto;
	z-index: 1;
	display: block;
	clear: both;
	position: absolute;
	left: 50%;
	top: 15%;
}*/
.YIPinfo {
	padding-bottom: 20px;
	position: relative;
	background-image: url(YIPbg.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center center;
	height: 520px;
	margin-top: 55px;
	clear: both;
}
.YIPlogoBlock {
	height: auto;
	width: 540px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	padding-top: 17px;
	position: relative;
}
.YIPlogo {
	height: 92px;
	width: 148px;
	float: left;
	margin-left: 2px;
}
.YIPTittle {
	font-family: "微軟正黑體";
	color: #391f0b;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	width: 380px;
	float: left;
	margin-top: 37px;
	letter-spacing: -0.05em;
	margin-left: 5px;
}
/*.YIPSubtitle {
	font-family: "微軟正黑體";
	color: #391f0b;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	width: 340px;
	float: left;
	margin-left: 4px;
}*/
.YIPEmailFarm {
	clear: both;
	width: 355px;
	margin-top: 10px;
	margin-left: 181px;
}
.YIPEmailFarm input{
	font-family:"微軟正黑體";
	font-size: 13px;
	width: 245px;
	height: 22px;
	text-indent: 5px;
	text-align: left;
	clear: both;
	color: #000;
	background-color: #FFF;
	border: 1px solid #FFF;
}

.YIPEmailFarm select{
	width: 245px;
	font-family: "微軟正黑體";
	font-size: 13px;
	color: #000;
	background-color: #FFF;
	border: 1px solid #FFF;
	margin-top: -4px;
	margin-bottom: -5px;
}
.YIPSubtitle {
	width: 385px;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #391f0b;
	text-align: left;
	line-height: 22px;
	font-weight: bold;
	letter-spacing: normal;
	padding-top: 5px;




	padding-bottom: 17
.px;
	float: right;
	padding-bottom: 20px;
}
.YIPHotDialIn {
	clear: both;
	height: auto;
	width: 271px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	background-color: #da770f;
	padding: 2px;
}
.YIPHotDial {
	clear: both;
	height: auto;
	width: 267px;
	background-color: #FFF;
	padding: 2px;
}
.YIPHotDialFF {
	clear: both;
	width: 265px;
	padding: 1px;
}
.YIPHotbuy {
	width: 265px;
}
.YIPHotbuy table{
	float: left;
	width: 265px;
	height: 113px;
}
.YIPDiscount{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#000;
	letter-spacing: 0.1em;
}
.YIPPrice{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	letter-spacing: 0.1em;
}
.YIPHaoKangTittle {
	font-family: "微軟正黑體";
	font-size: 12px;
	color: #000;
	letter-spacing: normal;
	text-align: left;
	clear: both;
	line-height: 18px;
	width: 265px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1px;
}
.YIPHaoKangTittle a:link{color:#000;text-decoration: none;letter-spacing:normal;}
.YIPHaoKangTittle a:visited{color:#000;text-decoration: none;letter-spacing:normal;}
.YIPHaoKangTittle a:hover{color:#000;text-decoration: none;letter-spacing:normal;}
.YIPHaoKangTittle a:active{color:#000;text-decoration: none;letter-spacing:normal;}

.YIPbuyNumber {
	font-family: "微軟正黑體";
	font-size: 12px;
	color: #F00;
	letter-spacing: normal;
	text-align: left;
	padding-top: 2px;
	margin-bottom: 3px;
	width: 265px;
	margin-right: auto;
	margin-left: auto;
}
.YIPSubscribe {
	width: 560px;
	margin-right: auto;
	margin-left: auto;
	font-family: "微軟正黑體";
	font-size: 13px;
	color: #B33804;
	letter-spacing: normal;
	margin-top: 20px;
}
.YIPSubscribe a:link{color:#cc4205;text-decoration: none;letter-spacing:normal;}
.YIPSubscribe a:visited{color:#cc4205;text-decoration: none;letter-spacing:normal;}
.YIPSubscribe a:hover{color:#cc4205;text-decoration: none;letter-spacing:normal;}
.YIPSubscribe a:active{
	color:#B82703;
	text-decoration: none;
	letter-spacing:normal;
}
.YIPHaBurning {
	background-image: url(YIPHOTDiscount.png);
	height: 54px;
	width: 54px;
	position: absolute;
	z-index: 3;
	left: 151px;
	margin-top: 28px;
}
