﻿@using LunchKingSite.Core
@model LunchKingSite.WebLib.Models.ControlRoom.Channel.CommissionRuleModel
@{
    ViewBag.Title = "CommissionSetting";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}
<style type="text/css">
    .btn-default {
        width: 100px;
        height: 20px;
        background: rgba(22,155,213,1);
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-size:medium;
    }

    /* 用bpopup.js製作的彈窗 以及 其內UI Start */
.bpopup-modal {
    /*彈窗預設為隱藏，直到jquery調用才顯示*/
    display: none;
    margin-left: 250px;
    width: calc(100vw - 575px);
    background: #fff;
}

    .bpopup-modal .row {
        margin-bottom: 0;
    }

    .bpopup-modal.bpopup-modal-toast {
        width: 600px;
        color: #000;
        border-radius: 10px;
    }


    .bpopup-modal.bpopup-modal-toast .bpopup-modal-title {
        text-align: left;
        margin: 20px;
        font-size: 18px;
    }





.bpopup-modal-footer {
    margin-top: 20px;
    margin-left:20px;
    margin-bottom:20px;
    text-align:center;
}

.bpopup-modal a {
    cursor: pointer;
}

/* 用bpopup.js製作的彈窗 以及 其內UI End */




    fieldset {
        margin: 10px 0px;
        border: solid 1px gray;
    }

    fieldset legend {
        color: #4F8AFF;
        font-weight: bolder;
    }

    ul {
        list-style-type: none;
        margin: 0 0 0 0;
    }

    li {
        color: #4D4D4D;
        font-weight: bold;
    }

    ul.status li {
        float: left;
    }

    ul.target input {
        width: 80px;
    }

    input[type="text"] {
        border: solid 1px grey;
    }

    textarea {
        border: solid 1px grey;
    }

    table {
        border-spacing: 2px;
        border-collapse: separate;
    }
</style>
<script type="text/javascript" src="../../Tools/js/jquery.numeric.js"></script>
<script type="text/javascript" src="@Url.Content("~/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('input.number').numeric(true);
        loadRulesData();
    });
    function editRule(obj) {
        var source = $("#source").val();
        var delId = $(obj).find("#ruleId").html();        
        $("#addOne").val("修改");
        $("#cancelUpdate").show();
        var inputData = "{'source': " + source + ", 'id':" + delId + "}";

        $.ajax({
            type: "POST",
            url: "/ControlRoom/Channel/CommissionRuleGet",
            data: inputData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.Success) {
                    var d = response.Data;
                    $("#tempSubDealType").val(d.DealType);
                    $("#editKeyWord").val(d.KeyWord);
                    $("#editMg").val(d.GrossMarginLimit);
                    $("#editCode").val(d.ReturnCode);
                    $("#editRuleId").val(d.Id);
                    if (d.DealType != 0) {
                        $("#mainDealType").val(response.dealType);
                        getSubDealType($("#mainDealType"));
                    }
                    
                } else {
                    alert(response.Message)
                }
            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                alert(msg);
            }
        });
    }
    
    function cancelEdit() {
        
        clearEditRule();
        $("#cancelUpdate").hide();
        $("#addOne").val("新增");
    }

    function deleteRule(obj) {
        var source = $("#source").val();
        var delId = $(obj).find("#ruleId").html();
        var ok = confirm("確定刪除資料? (ID:" + delId + ")");
        if (ok) {

            var inputData = "{'source': " + source + ", 'id':" + delId + "}";

            $.ajax({
                type: "POST",
                url: "/ControlRoom/Channel/CommissionSettingRuleDel",
                data: inputData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.Success) {
                        loadRulesData();
                    } else {
                        alert('刪除失敗!')
                    }
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    alert(msg);
                }
            });
        }
    }

    function loadRulesData() {
        
        $("#rulesData tbody tr").not(function () { return !!$(this).has('th').length; }).remove();

        var source = $("#source").val();
        var inputData = "{'source': " + source + ", 'id':0}";

        $.ajax({
            type: "POST",
            url: "/ControlRoom/Channel/CommissionRuleList",
            data: inputData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if(response.Success) {
                    
                    if(response.Data.length == 0) {
                        $("#rulesData").append("<tr style='background-color:#E7E7AE;'><td style='text-align:center' colspan='7'>未新增任何條件</td></tr>");
                    }

                    response.Data.forEach(function(entry) {
                        var trTemp = $("#templateTr").clone();
                        trTemp.css('display', '');
                        trTemp.find("#ruleId").html(entry.id);
                        trTemp.find("#dealType").html(entry.dealType);
                        trTemp.find("#keyword").html(entry.keyword);
                        trTemp.find("#grossMargin").html(Math.round(entry.grossMarginLimit * 100) / 100);
                        trTemp.find("#code").html(entry.returnCode);
                        trTemp.find("#modifyTime").html(entry.modifyTime);
                        
                        $("#rulesData").append(trTemp);
                    });

                } else {
                    alert(response.Message);
                }
            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                alert(msg);
            }
        });
    }
    
    function getSubDealType(obj) {
        var mainType = $(obj).val();
        if (mainType == 0) {
            $("#subDealType option[value=0]").text("=請先選擇母分類=");
            $("#subDealType").val("0");
            $("#subDealType").prop('disabled', 'disabled');
        } else {
            $("#subDealType option").remove();
            
            var inputData = "{'MainDealType': " + mainType + "}";

            $.ajax({
                type: "POST",
                url: "/ControlRoom/Channel/GetSubDealType",
                data: inputData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#subDealType").removeAttr('disabled');

                    $("#subDealType").append($("<option></option>").attr("value", "0").text("=請選擇子分類="));
                    
                    response.data.forEach(function(entry) {
                        $("#subDealType").append($("<option></option>").attr("value", entry.CodeId).text(entry.CodeName));
                    });
                    if ($("#tempSubDealType").val() != "0") {
                        $("#subDealType").val($("#tempSubDealType").val());
                    }
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    alert(msg);
                }
            });
        }

    }
    
    function clearEditRule() {
        $("#mainDealType").val(0);
        getSubDealType($("#mainDealType"));
        $("#editKeyWord").val("");
        $("#editMg").val("");
        $("#editCode").val("");
        $("#editRuleId").val("0");
        $("#tempSubDealType").val("0");
    }

    function addRule() {
        
        var dealType = $("#subDealType").val();
        var key = $("#editKeyWord").val().trim();
        var mg = $("#editMg").val();
        var code = $("#editCode").val();

        if (dealType == 0 && key == "") {
            alert("業績歸屬子分類與關鍵字兩者不可同時不填")
            return false;
        }
        
        if (mg == "") {
            alert("請填入毛利資料");
            return false;
        }
    
        if (code == "") {
            alert("請填入分潤代碼");
            return false;
        }

        var source = $("#source").val();
        var ruleId = $("#editRuleId").val();
        
        var inputData = "{'source': " + source + ",'id': " + ruleId + ",'DealType': "
                + dealType + ",'keyword':'" + key + "', 'grossMarginLimit':" + mg + ", 'returnCode':'" + code + "'}";

        $.ajax({
            type: "POST",
            url: "/ControlRoom/Channel/CommissionSettingRule",
            data: inputData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                alert(response.Message);
                cancelEdit();
                clearEditRule();
                loadRulesData();
            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                alert(msg);
            }
        });

        return false;
    }

    function saveDefault() {
        var source = $("#source").val();
        var couponCode = $('input[id=couponCode]').val();
        var couponVal = $("input[id=couponValue]").val();
        var deliveryCode = $("input[id=deliveryCode]").val();
        var deliveryVal = $("input[id=deliveryValue]").val();
        
        if (couponCode == "" || deliveryCode == "") {
            alert("分潤代碼不可空白")
            return false;
        }

        var inputData = "{'source': " + source + ",'couponCode': '" + couponCode + "','deliveryCode': '"
            + deliveryCode + "','couponVal':" + couponVal + ", 'deliveryVal':" + deliveryVal + "}";

        $.ajax({
            type: "POST",
            url: "/ControlRoom/Channel/CommissionSettingDefault",
            data: inputData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                alert(response.Message);
            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                alert(msg);
            }
        });

        return false;
    }

    function showMessage() {
        show_message();
    }

    var show_message = function () {
        $('#bpopup-toast-message').bPopup({
            modalClose: false,
            onOpen: function () { $('.bpopup-step_alert-confirm').click(confirm_action); },
        });
    }

    function confirm_action() {

    }
</script>
<div id="bpopup-toast-message" class="card-panel bpopup-modal bpopup-modal-toast">
    <div class="row">
        <div class="col s12 bpopup-modal-title alert_message">
            【業績歸屬分類】<br/>
            －業績分類不允許只設母分類，一律都是母分類＋子分類<br />
            －舉例：如果你的食品都是5％（未用券），則業績分類選食品，後面所有的子分類都應該要設定一次<p />

            【訂單短標關鍵字】<br />
            －關鍵字比對的對象是：訂單短標(品牌名稱-商品)<br />
            －關鍵字允許多組，可用逗號去分，像：美式,美國,AIRWALK，若其中符合即會算入<br />
            －舉例：如果你只要抓某些特定檔次或某些關鍵字檔次，可以不設業績分類(A)，直接寫訂單短標關鍵字<p />


            【抓取邏輯說明】<br />
            這二個欄位目前被定義為：有值即為抓取組成判斷條件，排列組合後共有三種可能<br />
            - 業績歸屬分類 (A)<br />
            - 訂單短標關鍵字(B)<br />
            - 業績歸屬分類(A)+訂單短標關鍵字(B)<p />
            註：沒有對應到的，則以預設分潤計之。例如：若你填的資料是業績歸屬分類(A)＋訂單短標關鍵字(B)，則系統會以〞(A)＋(B)〞為條件進行－＞文具辦公用品/書籍影音＋未用券5％,用券3％，系統則以上述的條件進行判斷，若沒有(A)+(B)的符合條件，則該訂單(憑證)就會變成〞預設分潤〞所設％數。<p />
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn-default b-close bpopup-step_alert-confirm">關閉視窗</a>
        </div>
    </div>
</div>

<span>
    <font size="5"><strong>代銷導購分潤設定</strong></font>

    <a href="javascript:void(0)" class="btn-default bpopup-toast" style="text-decoration:none" onclick="showMessage();">
        設定操作心法
    </a>
</span>
<p/>


通路名稱： <select name="source" id="source" onchange="window.location.href='@Url.Action("CommissionSetting")?channel=' + this.options[this.selectedIndex].value">
    @foreach (ChannelSource source in Enum.GetValues(typeof(ChannelSource)))
    {
        if (source != ChannelSource.Default)
        {
            <option value="@((int) source)" @(source == Model.Source ? "selected" : string.Empty)>導購- @source.ToString() (結帳在17life)</option>
        }
    }
    @foreach (AgentChannel source in Enum.GetValues(typeof(AgentChannel)))
    {
        if (source == AgentChannel.PayEasyOrder)
        {
            <option value="@((int) source)" @(source == Model.AgentChannel ? "selected" : string.Empty)>代銷- @Helper.GetDescription(source) (結帳在 @Helper.GetDescription(source))</option>
        }
    }
</select>
<div>
    <fieldset>
        <legend>預設分潤</legend>
        <table>
            <tr>
                <td>
                    <fieldset>
                        <legend>在地</legend>
                        分潤代碼:<input type="text" name="couponCode" id="couponCode" value="@Model.CouponDefaultCode" maxlength="20" style="width: 100px;"/>
                        分潤:<input class="number" type="text" name="couponVaule" id="couponValue" value="@Model.CouponDefaultValue.ToString("#0.00")" maxlength="5" style="width: 50px;"/>%
                    </fieldset>
                </td>
                <td>
                    <fieldset>
                        <legend>宅配</legend>
                        分潤代碼:<input type="text" name="deliveryCode" id="deliveryCode" value="@Model.DeliveryDefaultCode" maxlength="20" style="width: 100px;"/>
                        分潤:<input class="number" type="text" name="deliveryVaule" id="deliveryValue" value="@Model.DeliveryDefaultValue.ToString("#0.00")" maxlength="5" style="width: 50px;"/>%
                    </fieldset>
                </td>
                <td style="text-align:right;vertical-align:middle;padding-top:13px;padding-left:10px" colspan="2"><input type="button" onclick="saveDefault();" value="儲存" />&nbsp;</td>
            </tr>
        </table>
    </fieldset>
    <br/>
    <div style="width:800px">
        <fieldset>
            <legend>條件分潤</legend>
            <div>
                <fieldset>
                    <legend id="editTitle">新增條件</legend>
                    <table width="100%">
                        <tr>
                            <td style="width:70px;text-align:right">分潤代碼:</td>
                            <td>
                                <input id="editCode" type="text" style="width:80px"/>
                                <input id="editRuleId" value="0" type="hidden"/>
                                &nbsp;&nbsp;分潤: <input class="number" id="editMg" type="text" style="width:35px" maxlength="4" />%
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align:right">業績分類: </td>
                            <td colspan="2">
                                <select id="mainDealType" onchange="getSubDealType(this);">
                                    <option value="0">=請選擇母分類=</option>
                                    @foreach (var sc in Model.DealTypeSystemCode)
                                    {
                                        <option value="@sc.CodeId">@sc.CodeName</option>
                                    }
                                </select>
                                <select id="subDealType" disabled>
                                    <option value="0" selected>=請先選擇母分類=</option>
                                </select>
                                <input type="hidden" value="0" id="tempSubDealType"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right">訂單短標關鍵字: </td>
                            <td colspan="2"><input id="editKeyWord" style="width:100%"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2" style="font-size:small;color:darkred">
                                *多關鍵字請用半型逗號 ( , ) 分隔，例如 Panasonic,Sony,Hitachi,Mitsubishi,... 不區分大小寫
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align:right">
                                <input id="addOne" type="button" onclick="addRule();" value="新增"/>
                                <input id="cancelUpdate" name="cancelUpdate" type="button" onclick="cancelEdit();" style="display:none" value="取消修改" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <br/>
            <table id="rulesData" name="rulesData" style="color:black;background-color:white;width:100%">
                <thead>
                <tr style="background-color:#6B696B;color:white;">
                    <td style="text-align:center;width:30px">ID</td>
                    <td style="text-align:center;width:75px">分潤代碼</td>
                    <td style="text-align:center">業績歸屬分類</td>
                    <td style="text-align:center">訂單短標關鍵字</td>
                    <td style="text-align:center;width:47px">分潤%</td>
                    <td style="text-align:center;width:145px">修改時間</td>
                    <td style="text-align:center;width:70px">功能</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <table style="display:none">
                <tr id="templateTr" style="display:none;background-color:#E7E7AE;">
                    <td style="text-align:center">
                        <div id="ruleId"></div>
                    </td>
                    <td style="text-align:center">
                        <div id="code"></div>
                    </td>
                    <td>
                        <div id="dealType"></div>
                    </td>
                    <td>
                        <div id="keyword"></div>
                    </td>
                    <td style="text-align:right">
                        <div id="grossMargin"></div>
                    </td>
                    <td>
                        <div id="modifyTime"></div>
                    </td>
                    <td style="text-align:center">
                        <img src="../../images/icons/edit.gif" title="編輯" alt="編輯" onclick="return editRule($(this).parent().parent());"/>&nbsp;&nbsp;
                        <img src="../../images/icons/delete.gif" title="刪除" alt="刪除" onclick="return deleteRule($(this).parent().parent());"/>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
