﻿@charset "utf-8";
*{ 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body { margin: 0;}
h1, h2, h3, h4, p { 
  color: #4b4b4b; 
  margin: 0;
  font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
h1, h2 { margin: 15px 0;}
p { line-height: 24px; font-size: 14px;}

.wifi-center {
  width: 100%;
  margin: 0;
  position: relative;
}
.wifi-promo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: url(desk.png);
  background-size: cover;
  padding-top: 20px;
}
h1.text-title { font-size: 2.5em;}
.text-title { font-size: 2em;}
.text-title.low::after { margin: 0 auto;}
.text-title::after{
  content: "";
  width: 30px;
  height: 4px;
  margin: 5px auto 0;
  background: #f33485;
  display: block;
  border-radius: 2px;
}
.text-title.low::after{
  content: "";
  width: 30px;
  height: 4px;
  background: #f33485;
  display: block;
  border-radius: 2px;
}
.pink-color { color: #f33485; font-weight: bold;}
.wifi-promo img {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  height: auto;
}
.wifi-download {
  background: #e8e7e9;
  padding: 40px 5px;
  text-align: center;
}
.wifi-download a {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}
.wifi-download img {
  width: 100%;
}
.nmBan img{ 
  width: 100%;
  height: auto;
}
.wifi-footer {
  width: 100%;
  padding: 5px 10px;
  padding-top: 0;
  text-align: center;
  position: fixed;
  bottom: -80px;
  background: rgba(0, 0, 0, 0.8);
}
.wifi-footer p { 
  color: #fff;
  font-size: 10px;
  font-weight: normal;
}
.wifi-footer a {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
}
.wifi-footer img {
  width: 80%;
}




