@charset "utf-8";
/* CSS Document */

.DTwoTradingTop {
	background-image: url(CheckoutTop.png);
	background-repeat: no-repeat;
	clear: both;
	height: 22px;
	width: 960px;
}
.DTwoTradingCen {
	clear: both;
	width: 958px;
	padding-bottom: 10px;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #dddddd;
	border-left-color: #dddddd;
}
.DTwoTradingBottom {
	clear: both;
	height: 3px;
	width: 960px;
	background-image: url(CheckoutBottom.png);
	background-repeat: no-repeat;
}
.DTwoTradingOKTopOfText {
	clear: both;
	height: auto;
	width: 910px;
	margin-right: auto;
	margin-left: auto;
}
.DTwoTradingOKInfoT {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 400px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #444444;
}
.DTwoTradingInText{
	font-family:"微軟正黑體";
	font-size:34px;
	font-weight:bold;
	color:#000;
	position: relative;
	clear: both;
	width: 360px;
	top: -13px;
	padding-left: 10px;
	height: 38px;
}
.DTwoTradingMessage{
	font-family:"微軟正黑體";
	font-size: 15px;
	color: #494949;
	width: 830px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 15px;
}
.DTwoTradingMessage a:link{color:#F60;text-decoration: none;letter-spacing:normal;}
.DTwoTradingMessage a:visited{color:#F60;text-decoration: none;letter-spacing:normal;}
.DTwoTradingMessage a:hover{color:#F60;text-decoration: underline;letter-spacing:normal;}
.DTwoTradingMessage a:active{color:#F60;text-decoration: none;letter-spacing:normal;}

.DTwoTradingBtn {
	clear: both;
	height: 39px;
	width: 169px;
	margin-right: auto;
	margin-bottom: 45px;
	margin-left: auto;
	background-image: url(CheckoutBtn1.png);
	background-repeat: no-repeat;
	margin-top: 25px;
}
.DTwoTradingBtn:hover {
	background-image: url(CheckoutBtn4.png);
	background-repeat: no-repeat;
}
.DTwoTradingShareF {
	clear: both;
	width: 912px;
	margin-right: auto;
	margin-left: auto;
	height: 27px;
	padding-bottom: 3px;
	background-image: url(CheckoutTextBg.png);
	background-repeat: repeat;
	padding-top: 3px;
	border: 1px dashed #FFEA95;
	margin-bottom: 20px;
}
.DTwoTradingSharetTIttle {
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	float: left;
	height: 30px;
	width: 450px;
	line-height: 30px;
	text-align: right;
	margin-left: 27px;
}
.TwoTradingShareFB {
	float: left;
	height: 27px;
	width: 122px;
	margin-right: 5px;
	margin-left: 15px;
	background-image: url(CheckoutShare1_1.png);
	background-repeat: no-repeat;
}
.TwoTradingShareFB:hover {
	background-image: url(CheckoutShare2_1.png);
	background-repeat: no-repeat;
}
.TwoTradingSharePlurk {
	float: left;
	height: 27px;
	width: 83px;
	margin-right: 3px;
	margin-left: 3px;
	background-image: url(CheckoutShare1_2.png);
	background-repeat: no-repeat;
}
.TwoTradingSharePlurk:hover {
	background-image: url(CheckoutShare2_2.png);
	background-repeat: no-repeat;
}
.TwoTradingShareCopy {
	float: left;
	height: 27px;
	width: 100px;
	margin-right: 3px;
	margin-left: 3px;
	background-image: url(CheckoutShare1_3.png);
	background-repeat: no-repeat;
}
.TwoTradingShareCopy:hover {
	background-image: url(CheckoutShare2_3.png);
	background-repeat: no-repeat;
}
.DTwoTradingTodayDealTittle {
	clear: both;
	width: 912px;
	margin-right: auto;
	margin-left: auto;
	font-family: "微軟正黑體";
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	background-color: #444444;
	text-indent: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #BBCCA8;
	height: 27px;
}
.DTwoTradingTodayDealTittleimg{
	margin-right:5px;
}
.DTwoTradingTodayDealFa {
	clear: both;
	width: 912px;
	margin-right: auto;
	margin-left: auto;
	height: 255px;
	padding-top: 10px;
}
.DTwoTradingTodayD1 {
	float: left;
	height: 246px;
	width: 290px;
	margin-right: 4px;
	margin-left: 7px;
	border: 1px solid #999;
	background-color: #FFF;
}
.DTwoTradingTDTittle {
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	float: left;
	height: 42px;
	width: 210px;
	line-height: 20px;
	letter-spacing: normal;
	overflow: hidden;
	margin-left: 7px;
}
.DTwoTradingTDTittle a:link {font-family: "微軟正黑體";color:#000;text-decoration: none;letter-spacing:normal;}
.DTwoTradingTDTittle a:visited{font-family: "微軟正黑體";color:#000;text-decoration: none;letter-spacing:normal;}
.DTwoTradingTDTittle a:hover{font-family: "微軟正黑體";color:#000;text-decoration: none;letter-spacing:normal;}
.DTwoTradingTDTittle a:active{font-family: "微軟正黑體";color:#000;text-decoration: none;letter-spacing:normal;}

.DTwoTradingTDDiscount {
	height: 43px;
	width: 74px;
	float: right;
	font-family: "微軟正黑體";
	font-size: 20px;
	color: #FFF;
	letter-spacing: normal;
	text-align: center;
	margin-bottom: 3px;
	font-weight: bold;
	line-height: 45px;
	background-image: url(CheckoutDiscount2.png);
	margin-top: -5px;
	margin-right: -2px;
	text-indent: 6px;
}
.DTwoTradingTDPic {
	clear: both;
	height: 156px;
	width: 280px;
	margin-right: auto;
	margin-left: auto;
}
.DTwTrTDgoodPricet {
	float: left;
	height: 37px;
	width: 277px;
	margin-left: 6px;
	background-color: #FFF;
	padding-top: 3px;
	border: 1px solid #cccccc;
}
.DTwTrTDgoodPricetTable {
	height: 32px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	padding-top: 0px;
	margin-top: 0px;
}
.DTwTrTDOriginalPrice {
	text-decoration: line-through;
	color: #666;
	letter-spacing: normal;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 56px;
	height: 12px;
}
.DTwTrTDGoodPriceTittle {
	color: #000;
	letter-spacing: normal;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
	width: 56px;
	height: 20px;
}
.DTwTrTDGoodPriceNumber {
	color: #F00;
	letter-spacing: normal;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 27px;
	line-height: 31px;
	float: left;
	padding-top: 3px;
	padding-bottom: -3px;
	height: 30px;
}
.DTwoTradingMore {
	font-family: "微軟正黑體";
	font-size: 14px;
	color: #FFFFB5;
	letter-spacing: normal;
	float: right;
	height: 23px;
	width: 90px;
	position: relative;
	margin-top: 2px;
}
.DTwoTradingMore a:link{color:#FFFFB5;text-decoration: none;letter-spacing:normal;font-family: "微軟正黑體";font-size: 15px;}
.DTwoTradingMore a:visited{color:#FFFFB5;text-decoration: none;letter-spacing:normal;font-family: "微軟正黑體";font-size: 15px;}
.DTwoTradingMore a:hover{color:#FFFFB5;text-decoration: underline;letter-spacing:normal;font-family: "微軟正黑體";font-size: 15px;}
.DTwoTradingMore a:active{color:#FFFFB5;text-decoration: none;letter-spacing:normal;font-family: "微軟正黑體";font-size: 15px;}
.DTwTrTDBtn {
	float: left;
	height: 30px;
	width: 89px;
	background-image: url(CheckoutBtn2.png);
	background-repeat: no-repeat;
/*	margin-top: 3px;*/
	margin-left:9px;
	_display:inline;
}
.DTwTrTDBtn:hover {
	background-image: url(CheckoutBtn3.png);
	background-repeat: no-repeat;
}
.DTwoTradingErrorBtn {
	clear: both;
	height: 39px;
	width: 125px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	background-image: url(CheckoutBtn5.png);
	background-repeat: no-repeat;
	margin-top: 25px;
}
.DTwoTradingErrorBtn:hover {
	background-image: url(CheckoutBtn6.png);
	background-repeat: no-repeat;
}
.DTwoTradingOKFrame {
	clear: both;
	height: auto;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.DTwTrTDall{
	width:56px;
	height:33px;
	float:left;
}
.ATMOrderDetailBtn {
	clear: both;
	height: 55px;
	width: 150px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	background-image: url(ATMCheckBtn.jpg);
	background-repeat: no-repeat;
	margin-top: 25px;
}
.ATMOrderDetailBtn:hover {
	background-image: url(ATMCheckBtnHover.jpg);
	background-repeat: no-repeat;
}
