﻿/* CSS Document */

.BuyForMeTitle {
	position: relative;
	left: 0px;
	width: 710px;
	height: 47px;
}
.BuyForMe {
	left: 0px;
	top: 0px;
	width: 710px;
	position: relative;
	float: left;
	margin-top: 15px;
}
.BuyForMeContent {
	width: 698px;
	font-weight: bold;
	float: left;
	padding-bottom: 30px;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #dddddd;
	border-left-color: #dddddd;
}

.BuyForMeContentTable {
	left: 0px;
	width: 95%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.BuyForMeContentTable td {
	font-size: 16px;
	line-height: 24px;
	background-color: #ffffff;
	word-spacing: 1px;
	border: 1px solid #aeaeae;
	text-align: center;
}
.BuyforAllTable {
	width:95%;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	top: 20px;
}
#BuyForItemChoose {
	width:632px;
	height:auto;
	z-index:1;
	margin-left: auto;
	font-weight: bold;
	margin-right: auto;
	margin-bottom: 0px;
}
#BuyForItemChooseTop {
	width:632px;
	height:46px;
	z-index:1;
	background-image: url(D1chooseTop.jpg);
	background-repeat: no-repeat;
}
#BuyForItemChooseContent {
	width:597px;
	height:auto;
	z-index:1;
	background-image: url(D1chooseContent.jpg);
	background-repeat: repeat;
	padding-right: 10px;
	padding-left: 25px;
}
#BuyForItemChooseContent ul {
	list-style-type: none;
}
#BuyForItemChooseContent li {
	font-size: 18px;
	color: #666;
	font-weight: bold;
}
#BuyForItemChooseContent select {
	margin-top: 19px;
	width: 460px;
	font-size: 14px;
}
#BuyForItemChooseBottom {
	width:632px;
	height:30px;
	z-index:1;
	background-image: url(D1chooseBottom.jpg);
	background-repeat: no-repeat;
}
.black1{
	text-align:right;
	font-weight: bold;
/*	letter-spacing: 0.12em;*/
}
.BuyforFriendTable {
	width:640px;
	height:auto;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	line-height: 18px;
}
.BuyforFriendTable td{
	font-size: 16px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 0px;
}
#BuyForFriendContentTable4 {
}
#BuyForFriendContentTable4_My2 {
	position: absolute;
	left: 27px;
	top: 54px;
}
#BuyForFriendContentTable5 {

}
#BuyForFriendContentTable5_My2 {
	position: absolute;
	left: 27px;
	top: 78px;
}
#BuyForFriendContentTable1 {

}
#BuyForFriendContentTable1_My2 {
	position: absolute;
	left: 27px;
	top: 130px;
}
#BuyForFriendContentTable2 {

}
#BuyForFriendContentTable2_My2 {
	position: absolute;
	left: 320px;
	top: 130px;
}
#BuyForFriendContentTable3 {
	height: 130px;
}
#BuyForFriendContentTable3_My2 {
	position: relative;
	left: 27px;
	top: 68px;
	height: 130px;
}
#BuyForFriendContentTable6  {
	width: 95%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#BuyForFriendContentTable6 td {
	word-spacing: 1px;
	border: 1px solid #999999;
	text-align: center;
}
#BuyForFriendContentTable6 #my {
	font-size: 16px;
	color: #000;
	margin-bottom:8px;
	letter-spacing:1px;
	line-height: 24px;
	text-align: right;
	padding: 3px;
}
#BuyForFriendContentTable6 #my0 {
	font-size: 16px;
	color: #000;
	padding-left:3px;
	margin-bottom:8px;
	letter-spacing:1px;
	line-height: 24px;
	text-align: left;
}
#BuyForFriendContentTable6 #my1 {
	font-size: 16px;
	color: #000;
	margin-bottom:8px;
	letter-spacing:1px;
	line-height: 24px;
	text-align: center;
}
#BuyForFriendContentTable6 #my1 input{
	text-align: center;	
}
#BuyForFriendContentTable6_My2  {
	left:20px;
	position:relative;
	top:-13px;
	width: 648px;
}
#BuyForFriendContentTable6_My2 td {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	background-color: #ffffff;
	word-spacing: 1px;
	border: 1px solid #aeaeae;
	font-weight: normal;
}
#BuyForFriendContentTable6_My2 #my0 {
	font-size: 16px;
	color: #000000;
	padding-left:3px;
	margin-bottom:8px;
	letter-spacing:1px;
	line-height: 24px;
}
#BuyForFriendContentTable6_My2 #my1 {
	font-size: 16px;
	color: #333333;
	margin-bottom:8px;
	letter-spacing:1px;
	line-height: 24px;
	text-align: center;
}

.BuyForMeContentTableTitle{
	font-weight: bold;
	font-size: 18px;
	color: #FFF;
	background-color: #8EB25B;
	font-family: "微軟正黑體";
}
#BuyForMeAccounts {
	width:95%;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

#BuyForMeAccounts input {
	text-align: right;    
}
#BuyForMeAccountsCard{
    width:95%;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: 1px solid #999999;
	background-color: #FFF;
}
#BuyForMeAccountsCard td{
	letter-spacing:0px;
}
/*#BuyForMeAccounts a:link{
	text-decoration: none;
	color: #F90000;
}
#BuyForMeAccounts a:visited{
	text-decoration: none;
	color: #F90000;
}
#BuyForMeAccounts a:hover{
	text-decoration: underline;
	color: #F90000;
}
#BuyForMeAccounts a:active{
	color: #F90000;
	text-decoration: none;
}*/
.BuyForMeAccountscolor{
	background-color: #ECFBD7;
}
.BuyForMeAccountscolor td{
	text-align: right;
	padding-bottom: 6px;
}

.BuyForMeAccountscolor img{
	margin-bottom: -6px;
}
.BuyForMeAccountscolor a:link{text-decoration: underline;color: #F60;}
.BuyForMeAccountscolor a:visited{text-decoration: underline;color: #F60;}
.BuyForMeAccountscolor a:hover{text-decoration: underline;color: #F60;}
.BuyForMeAccountscolor a:active{color: #F60;text-decoration: underline;}

.AllAccounts{
	border-collapse:separate;
}
.AllAccounts td{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CDCDCD;
	text-align: right;   
}
.PIBName_R{
	color: #E30000;
}
.BuyForConfirm_H5{
	font-size: 18px;
	font-weight: bold;
	color: #000;
}
.BuyForConfirm_H6{
	font-size: 15px;
	font-weight: normal;
	color: #000;
}
/*---------D1Bonus--------------*/

#D1Bonus ul{
	
}
#D1Bonus li {
 list-style-type: none;
}
#D1Bonus li a{
	text-decoration:none;
	list-style-type: none;
	color: #000;
}
#D1Bonus li a span {
	visibility:visible;
	display:block;
	position:absolute;
	/**adjust disjointed text position in % or px**/ 
    left:83%;
	top:43.6%;
	list-style-type: none;
}
#D1Bonus li a:hover span, #rollover li a:active span, #rollover li a:focus span{
	background-image: url(D1_Buyfor1.png);
	background-repeat: no-repeat;
	width: 285px;
	height: 84px;
	visibility: visible;
	text-indent: -9999;
	display: block;
}
#D1Bonus li a:hover, #rollover li a:focus{
	text-decoration: none;
	color:#F00;
	visibility:visible;
	list-style-type: none;
	text-align: left;
}
/*D1BonusFirefox3 start*/
#D1Bonus li a span, x:-moz-broken {
    visibility:visible;
	display:block;
	position:absolute;
	/**adjust disjointed text position in % or px**/ 
    left:83%;
	top:43.8%;
	list-style-type: none; 
} 
#D1Bonus li a span, x:x{
    visibility:visible;
	display:block;
	position:absolute;
	/**adjust disjointed text position in % or px**/ 
    left:83%;
	top:43.5%;
	list-style-type: none; 
} 
/*D1Bonus Firefox3 End*/
/*---------D1Bonus--------------*/

/*---------D1Pcash--------------*/
#D1Pcash ul{
}
#D1Pcash li {
 list-style-type: none;
}
#D1Pcash li a {
	text-decoration:none;
	list-style-type: none;
	color: #000;
}
#D1Pcash li a span {
	visibility:visible;
	display:block;
	position:absolute;
	/**adjust disjointed text position in % or px**/ 
    left:83%;
	top:47.6%;
	list-style-type: none;
}
#D1Pcash li a:hover span, #rollover li a:active span, #rollover li a:focus span{
	background-image: url(D1_Buyfor2.png);
	background-repeat: no-repeat;
	width: 285px;
	height: 84px;
	visibility: visible;
	text-indent: -9999;
	display: block;
}
#D1Pcash li a:hover, #rollover li a:focus{
	text-decoration: none;
	color:#F00;
	visibility:visible;
	list-style-type: none;
	text-align: left;
}
/*D1PcashFirefox3start*/
#D1Pcash li a span, x:-moz-broken {
    visibility:visible;
	display:block;
	position:absolute;
	/**adjust disjointed text position in % or px**/ 
    left:83%;
	top:47.8%;
	list-style-type: none; 
} 

#D1Pcash li a span, x:x{
    visibility:visible;
	display:block;
	position:absolute;
	/**adjust disjointed text position in % or px**/ 
    left:83%;
	top:47.5%;
	list-style-type: none; 
} 
/*D1Pcash Firefox3 End*/

/*---------D1Pcash--------------*/

/*---------D1pezPcash--------------*/
#D1pezPcash li {
 list-style-type: none;
}
#D1pezPcash li a {
	text-decoration:none;
	list-style-type: none;
	color: #000;
}
#D1pezPcash li a span {
	visibility:visible;
	display:block;
	position:absolute;
	/**adjust disjointed text position in % or px**/ 
    left:83%;
	top:51.6%;
	list-style-type: none;
}
#D1pezPcash li a:hover span, #rollover li a:active span, #rollover li a:focus span{
	background-image: url(D1_Buyfor3.png);
	background-repeat: no-repeat;
	width: 285px;
	height: 84px;
	visibility: visible;
	text-indent: -9999;
	display: block;
}
#D1pezPcash li a:hover, #rollover li a:focus{
	text-decoration: none;
	color:#F00;
	visibility:visible;
	list-style-type: none;
	text-align: left;
}

/*D1pezPcashFirefox3start*/
#D1pezPcash li a span, x:-moz-broken {
    visibility:visible;
	display:block;
	position:absolute;
	/**adjust disjointed text position in % or px**/ 
    left:83%;
	top:51.8%;
	list-style-type: none; 
} 

#D1pezPcash li a span, x:x{
    visibility:visible;
	display:block;
	position:absolute;
	/**adjust disjointed text position in % or px**/ 
    left:83%;
	top:51.5%;
	list-style-type: none; 
} 
/*D1pezPcash Firefox3 End*/
/*---------D1pezPcash--------------*/
.BuyFor_CASH{
	font-size: 16px;
	color: #000;
	text-align: center;
}
.BuyFor_Creditcard_inner{
	position: relative;
	bottom: 15px;
	width: 300px;
	height: 100px;
	top: -14px;
}
.BuyForCreditcardinner{
	position: relative;
	width: 750px;
	height: 65px;
	z-index: 5;
	top: -5px;
}
.BuyFor_VISA{
	width: 200px;
	height: 30px;
	font-size: 12px;
	position: relative;
	top: 10px;
	letter-spacing: 0.1em;
}

/*BuyFor_VISAFirefox3start*/
.BuyFor_VISA, x:-moz-broken {
       width: 360px;
	height: auto;
	font-size: 11px;
	position: relative;
	top: 10px;
} 
.BuyFor_VISA, x:x{
    width: 360px;
	height: auto;
	font-size: 11px;
	position: relative;
	top: 0px;
} 
/*.BuyFor_VISA Firefox3 End*/

.BuyFor_VISATips{
	height: 30px;
	font-size: 12px;
	color: #666;
	width: 360px;
	position: relative;
	top: 10px;
	letter-spacing: 0.1em;
}
.BuyForConfirm_H4{
	font-size: 18px;
	font-weight: bold;
	color: #F00;
	text-align: right;
}
.BuyItemTable {
	width:95%;
	height:auto;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	top: 0px;
}
#BuyForItemContentTable4 {
	left: 0px;
	top: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #000;
	height: auto;
	margin-top: 0px;
}
.BuyForItemContentTableTitle{
	font-size: 20px;
	font-weight: bold;
	text-indent: 0px;
	line-height: 35px;
	
}
.BuyForItemContentTableTitlered{
	font-size: 20px;
	font-weight: bold;
	color: #F00;	
}
#BuyForItemContentTable5 {
	left: 27px;
	top: 200px;
	width: 650px;
}
.BuyForItemContentTableinfo{
	font-size: 14px;
	font-weight: bold;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	text-indent: 5px;
	line-height: 30px;
}
#BuyForItemContentTable1 {
	left: 11px;
	top: 237px;
}
#BuyForItemContentTable1_2 {
	left: 11px;
	top: 271px;
}
#BuyForItemContentTable1_3 {
	left: 11px;
	top: 303px;
}
#BuyForItemContentTable1_4 {
	left: 10px;
	top: 335px;
}
#BuyForItemContentTable1_5 {
	left: 10px;
	top: 354px;
}
#BuyForItemContentTable1_6 {
	left: 10px;
	top: 373px;
	line-height: 20px;
	font-weight: bold;
	color: #000;
}
.BuyForItemContentTableTipred{
	font-size: 15px;
	color: #FF8000;
	line-height: 35px;
	margin-left: 5px;
}
#Timetochoose {
	width:400px;
	height:auto;
	z-index:1;
	margin-left: 37px;
}
.Invoicearea {
	width:95%;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	top: 20px;
}
#BuyForMeinvoiceTitle {
	position:relative;
	width:220px;
	height:26px;
	z-index:1;
	left: 23px;
	top: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #F00;
	line-height: 26px;
	float: left;
}
#BuyForMeinvoiceTitleMy2 {
	position:relative;
	width:60px;
	height:26px;
	z-index:1;
	left: 15px;
	top: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #F00;
	line-height: 26px;
}
.BuyForMeinvoiceinner {
	z-index:1;
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}
#BuyForMeinvoiceinnerMy2 {
	position:relative;
	width:161px;
	height:26px;
	z-index:1;
	left: 70px;
	top: -15px;
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: #609;
}
#BuyForMeinvoiceMe {
	position:relative;
	width:280px;
	height:auto;
	z-index:1;
	left: 0px;
	top: 10px;
	font-size: 13px;
	color: #000;
	float: right;
	margin-right: 95px;
}
#BuyForMeinvoiceMe a:link{text-decoration: none;color: #FF8000;}
#BBuyForMeinvoiceMe a:visited{text-decoration: none;color: #FF8000;}
#BuyForMeinvoiceMe a:hover{text-decoration: underline;color: #FF8000;}
#BuyForMeinvoiceMe a:active{color: #FF8000;text-decoration: none;}

#BuyForMeinvoiceMe_My2 {
	position:relative;
	width:280px;
	height:auto;
	z-index:1;
	left: 250px;
	top: -40px;
	font-size: 13px;
	color: #609;
}
#BuyForMeinvoiceinfo1 {
	position:relative;
	width:248px;
	height:auto;
	z-index:1;
	left: 120px;
	top: -20px;
}
#BuyForMeinvoiceinfo1_My2 {
	position:relative;
	width:248px;
	height:22px;
	z-index:1;
	left: 120px;
	top: -20px;
}
#BuyForMeinvoiceinfo2 {
	position:relative;
	width:248px;
	height:auto;
	z-index:1;
	left: 120px;
	top: -20px;
}
#BuyForMeinvoiceinfo2_My2 {
	position:relative;
	width:248px;
	height:24px;
	z-index:1;
	left: 120px;
	top: -20px;
}
#BuyForMeinvoiceinfo3 {
	position:relative;
	width:247px;
	height:auto;
	z-index:1;
	left: 120px;
	top: -20px;
	font-weight: normal;
	color: #000;
}
#BuyForMeinvoiceinfo3_My2 {
	position:relative;
	width:247px;
	height:22px;
	z-index:1;
	left: 120px;
	top: -20px;
	font-weight: normal;
	color: #000;
}
#D1invoice {
	width: 640px;
	margin-left: auto;
	margin-top: 0px;
	height: auto;
	clear: both;
	margin-right: auto;
	margin-bottom: 0px;
}
#D1invoiceTOP {
	background-image: url(D1_receipt_top.jpg);
	background-repeat: no-repeat;
	height:11px;
	width: 640px;
}
#D1invoiceCEN {
	width: 640px;
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	letter-spacing: normal;
	color: #FFF;
	background-color: #90B25C;
}
.D1invoiceChoose {
	width: 640px;
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	letter-spacing: normal;
	color: #FFF;
	background-color: #90B25C;
	padding-bottom: 10px;
}
.D1invoiceChoose ul{
	list-style-type: none;	
}
.D1invoiceChoose li{
	margin-left: 10px;
}
.InvoiceNameAddress {
	width: 530px;
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	letter-spacing: normal;
	color: #FFF;
	background-color: #90B25C;
}
.InvoiceNameAddress ul{
	list-style-type: none;
	padding-left: 100px;
}
.InvoiceNameAddress li{
	margin-left: 10px;
	letter-spacing: 0.2em;
}
.InvoiceNameAddress input {
	width: 285px;
}
.InvoiceFail {
	width: 500px;
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #F00;
	background-color: #E7EFCB;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	font-weight: normal;
	border: 1px solid #DFEDD1;
}
.D1invoiceinner{
	width: 610px;
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	margin-top: 10px;
	font-weight: normal;
	padding-left: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-bottom: 5px;
}

.D1invoiceinner a:link{text-decoration: none;color: #F60;}
.D1invoiceinner a:visited{text-decoration: none;color: #F60;}
.D1invoiceinner a:hover{text-decoration: underline;color: #F60;}
.D1invoiceinner a:active{color: #F60;text-decoration: none;}

#D1invoiceBOT {
	background-image: url(D1_receipt_botm.jpg);
	background-repeat: no-repeat;
	height: 10px;
	width: 640px;
}
#OneJR {
	height: auto;
	width: 590px;
	margin-left: 15px;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #FFF;
	background-color: #FFC;
	color: #000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-left-color: #FFF;
	font-weight: normal;
	line-height: 28px;
	padding: 5px;
	margin-right: 25px;
}
#OneJR ul{
	
}
#OneJR li{
	list-style-type: none;	
}
#OneJR li input{
	width:360px;	
}
#TwoJR {
	height: auto;
	width: 590px;
	margin-left: 15px;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #FFF;
	background-color: #FFC;
	color: #000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-left-color: #FFF;
	font-weight: normal;
	line-height: 28px;
	padding: 5px;
	margin-right: 25px;
}
#TwoJR ul{
	
}
#TwoJR li{
	list-style-type: none;	
}
#TwoJR li input{
	width:360px;	
}


#ThreeJR {
	height: auto;
	width: 590px;
	margin-left: 15px;
	background-color: #FFC;
	color: #000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	font-weight: normal;
	line-height: 28px;
	padding: 5px;
	margin-right: 25px;
}
#ThreeJR ul{
	
}
#ThreeJR li{
	list-style-type: none;	
}
#ThreeJR li input{
	width:360px;	
}
#Usn {
	font-family: Verdana, Geneva, sans-serif;
	width: 405px;
	line-height: 0px;
	letter-spacing: 0.2em;
	height: auto;
	margin-left: 110px;
	margin-top: -27px;
}
.Usn input {
	width: 285px;
}
.Usn_red{
	color:#000;
	letter-spacing:0.1em;
	font-size: 13px;
}
/*----------------
------receipt-----------------------*/

#BuyForMeRemind {
	right: 0px;
	width: 320px;
	font-size: 13px;
	color: #ff0000;
	letter-spacing:1px;
	line-height: 28px;
	font-weight:lighter;
	top: 22px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
	position: relative;
}
#BuyForMeRemind_My2 {
	position: relative;
	right: 0px;
	top: 93px;
	width: 140px;
	font-size: 10px;
	color: #ff0000;
	letter-spacing:1px;
	line-height: 18px;
	font-weight:lighter;
	left: 541px;
	margin-bottom: 150px;
}
.GoBuyForMe {
	right: 0px;
	width: 172px;
	margin-top: 0px;
	height: 74px;
	background-image: url(D1_BUY.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: block;
	position: relative;
	top:20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.GoBuyForMe:hover {
	background-image: url(D1_BUYHover.png);
	background-repeat: no-repeat;	
}
#GoBuyForMe_My2 {
	right: 0px;
	top: 222px;
	width: 140px;
	position: relative;
	left: 541px;
}
.BuyForMeEnd {
	left: 0px;
	bottom: 0px;
	width: 700px;
	height: 5px;
	background-image: url(FD_orderbottom.png);
	margin-bottom: 20px;
	clear: both;
	background-repeat: no-repeat;
}
.OrderQA {
	width: 240px;
	height: auto;
	color: #272727;
	font-size: 12px;
	letter-spacing:1px;
	line-height: 18px;
	position: relative;
	float: right;
	top: 15px;
}
.OrderQATitle {
	position: relative;
	width: 240px;
	height: 47px;
	background-image: url(D1_QAtop.png);
}
.OrderQAContent {
	width: 238px;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #dddddd;
	border-left-color: #dddddd;
}
.OrderQAContent ul {
	padding: 10px;
	list-style: none;
	left: 9px;
	top: 7px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	line-height: 20px;
}
.OrderQAContent hr {
	width: 220px;
	margin-top: 10px;
}
.OrderQA  a:link{text-decoration: none;color: #F60;}
.OrderQA  a:visited{text-decoration: none;color: #F60;}
.OrderQA  a:hover{text-decoration: underline;color: #F60;}
.OrderQA  a:active{color: #F60;text-decoration: none;}

.OrderQAEnd {
	left: 0px;
	bottom: 0px;
	width: 240px;
	height: 14px;
	background-image: url(D1_QAbotm.png);
	background-repeat: no-repeat;
}
#D1_ps {
	background-image: url(D1_ps_top.jpg);
	height: 34px;
	width: 640px;
}
#D1_ps_botm {
	background-image: url(D1_ps_bottom.jpg);
	height: 15px;
	width: 640px;
}
#D1_ps_cen {
	background-image: url(D1_ps_cen.jpg);
	background-repeat: repeat-y;
}
#D1_ps_title {
	width: 250px;
	height: 34px;
	padding-left: 12px;
}
#title_left {
	background-image: url(D1_ps_titleLife.jpg);
	height: 34px;
	width: 5px;
	float: left;
}
#title_cen {
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	background-image: url(D1_ps_titleCen.jpg);
	background-repeat: repeat-x;
	width: auto;
	position: relative;
	height: 34px;
	float: left;
	text-align: center;
	line-height: 30px;
	padding-right: 2px;
	padding-left: 2px;
}
#title_botm {
	background-image: url(D1_ps_titleRight.jpg);
	height: 34px;
	width: 5px;
	float: left;
}

/*D2-1~D2-4 Start*/

#CardStatusOK {
	left: 185px;
	width: 294px;
	height: 62px;
	position: relative;
	float: left;
	top: 7px;
	background-image: url(D2-1CardOK.png);
}
#ZeroPromoStatusOK {
	left: 185px;
	width: 294px;
	height: 62px;
	position: relative;
	float: left;
	top: 7px;
	background-image: url(0ActivityTitle.png);
}
#PushToFacebook {
	position: relative;
	border:0px;
	z-index: 100;
	width: 468px;
	top: 0px;
	height: auto;
	float: right;
}
#DiscountPayNote {
	width: 600px;
	height: 235px;
	background-image: url(PayNote.png);
	clear: both;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	top: 15px;
}
#ZeroPromoDiscountPayNote {
	width: 600px;
	height: 235px;
	clear: both;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	top: 15px;
}
#CardExplain {
	width: 705px;
	height: 304px;
	margin-top: 35px;
	margin-right: auto;
	margin-bottom: 35px;
	margin-left: auto;
	clear: both;
}
#CardExplainPassNote {
	position: relative;
	width: 705px;
	height: 174px;
	background-image: url(CPPass.png);
	top: 20px;
}
#CardAreaSubscribe {
	position: relative;
	width: 705px;
	height: 130px;
	background-image: url(CPSubscribe.png);
}
#CardAreaSubscribeForm {
	position: absolute;
	top: 54px;
	left: 15px;
}
#CardAreaSubscribeCityValue {
	position: absolute;
	top: 54px;
	left: 300px;
	font-size: 22px;
	font-weight: bold;
	color: #F00;
}
#CardAreaSubscribeButton {
	position: absolute;
	top: 54px;
	left: 380px;
}
.CardAreaSubscribeMousebtn {
    width: 48px;
    height: 31px;
    background: url(Subscribe_Btn_s1.png) no-repeat 0px 0px;
    display: block;
}
.CardAreaSubscribeMousebtn:hover {
    width: 48px;
    height: 31px;
	background: url(Subscribe_Btn_s1.png) no-repeat 0px -31px;
	display:block;
}

/*Cardno */
#CardStatusFail {
	width: 294px;
	height: 62px;
	margin-left: auto;
	position: relative;
	background-image: url(D2-1CardFail.png);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	top: 10px;
}
#CardnoExplain {
	position: relative;
	width: 705px;
	height: 304px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	top: 7px;
}
#CardExplainFailNote {
	position: relative;
	width: 705px;
	height: 184px;
	background-image: url(CPFail.png);
}
.CreditCardBTN {
	width:200px;
	height:50px;
	z-index:1;
	background-image: url(C_cardbtn.png);
	margin-top:15px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-indent: -9999px;
	display: block;
}
.CreditCardBTN:hover {
	background-image: url(C_cardbtnHov.png);
	background-repeat: no-repeat;
}
/*Cardno */

#PCASHStatusOK {
	left: 130px;
	width: 345px;
	height: 56px;
	position: relative;
	float: left;
	top: 12px;
	background-image: url(D2-3OK.png);
}
#CardExplainPassNotePCASH {
	width: 705px;
	height: 174px;
	background-image: url(CPPassPCASH.png);
}
#PCASHStatusFail {
	left: 130px;
	width: 345px;
	height: 56px;
	position: relative;
	float: left;
	top: 12px;
	background-image: url(D2-4Fail.png);
}
#CardExplainFailNotePCASH {
	width: 705px;
	height: 174px;
	background-image: url(CPFailPCASH.png);
	background-repeat: no-repeat;
}  
.D1invoicearea {
	width:680px;
	height:auto;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.D1invoiceTop {
	width:680px;
	height:65px;
	z-index:1;
	background-image: url(w_01.png);
	background-repeat: no-repeat;
}
.D1invoiceStatusTop {
	width:680px;
	height:53px;
	z-index:1;
	background-image: url(w_01s.png);
	background-repeat: no-repeat;
}
.D1invoiceStatusContent {
	width:680px;
	height:115px;
	z-index:1;
	background-image: url(w_02s.png);
}
.D1invoiceContent {
	width:545px;
	height:auto;
	z-index:1;
	background-image: url(w_02.png);
	background-repeat: repeat;
	padding-top: 8px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 115px;
	font-size: 14px;
	line-height: 33px;
	font-weight: bold;
}
.D1invoiceContent ul{
}
.D1invoiceContent li{
	list-style-type: none;
}
.D1invoiceError{
	background-color:#FFDFDF;
	color: #F00;
	padding-left: 5px;
	height: 36px;
}
.D1invoiceBottom{
	width:680px;
	height:66px;
	z-index:1;
	background-image: url(w_03s.png);
	background-repeat: no-repeat;
}
.D1invoiceStatusBottom{
	width:680px;
	height:66px;
	z-index:1;
	background-image: url(w_03s.png);
	background-repeat: no-repeat;
}
.D1ElectricinvoiceBtn {
	width:186px;
	height:46px;
	z-index:1;
	background-image: url(OrderDetailRequestBtn01.png);
	float: left;
	background-repeat: no-repeat;
	margin-top:8px;
	margin-left:100px;
}
.D1ElectricinvoiceBtn:hover {
	background-image: url(OrderDetailRequestBtn03.png);
	background-repeat: no-repeat;
}
.D1invoiceStatusBtn {
	width:186px;
	height:46px;
	z-index:1;
	background-image: url(OrderDetailRequestBtn02.png);
	float:right;
	background-repeat: no-repeat;
	margin-top:8px;
	margin-right:100px;
}
.D1invoiceStatusBtn:hover {
	background-image: url(OrderDetailRequestBtn04.png);
	background-repeat: no-repeat;
}
.D1invoiceBtn {
	width:129px;
	height:36px;
	z-index:1;
	margin-left: auto;
	background-image: url(w_05.jpg);
	margin-right: auto;
	margin-bottom: 0px;
}
.D1invoiceBtn:hover {
	background-image: url(w_05Hov.jpg);
	background-repeat: no-repeat;
}
.D1invoiceBtn2{
	width:185px;
	height:45px;
	z-index:1;
	margin-top: 15px;
	float: right;
	margin-right: 120px;
	background-image: url(w_08.jpg);
	background-repeat: no-repeat;
}
.D1invoiceBtn2:hover {
	background-image: url(w_08Hov.jpg);
	background-repeat: no-repeat;
}
.invoiceClose {
	width:27px;
	height:28px;
	z-index:4;
	background-image: url(MembeWclose.png);
	float: right;
	margin-top: -7px;
	margin-right: -8px;
}
.TaishinPayNote {
	width: 660px;
	height: 260px;
	clear: both;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	top: 30px;
	background-repeat: no-repeat;
	background-image: url(TashiPayNote.png);
}
.TaishiCardpay {
	width: 640px;
	height: 210px;
	margin-top: 60px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	clear: both;
	background-image: url(TashiCreditCard.png);
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 0px;
	letter-spacing: 0.1em;
}
.TaishiCardpay ul{
	list-style-type: none;
}
.TaishiCardpay li{
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
.TaishiCardpay li input{
    width:40px;
    height:15px;
}
.paySubmit input{
	width:100px;
	height:25px;
	
}
.GeoTru {
	width:115px;
	height:55px;
	z-index:1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	position: relative;
	top: 168px;
}
.TextPayNote {
	width:450px;
	height:30px;
	z-index:1;
	font-size: 14px;
	color: #F00;
	font-weight: bold;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	top: 165px;
}
.paySubmit {
	width:100px;
	height:25px;
	z-index:1;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.paySubmit1 {	width:50px;
	height:20px;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.BuyCashUseStandard {
	height: auto;
	width: 585px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 18px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #999;
	position: relative;
	left: 31px;
	top: 8px;
	color: #000;
	letter-spacing: normal;
	word-spacing: normal;
}
.BuyCashUseStandard ul{
	font-family: "微軟正黑體";
	font-size: 14px;
	line-height: 40px;
	margin-bottom: 20px;
	color: #000;
	letter-spacing: normal;
	word-spacing: normal;
}
.BuyCashUseStandard li{
	font-family: "微軟正黑體";
	font-size: 12px;
	/*	list-style-position: inside;*/
	list-style-type: square;
	line-height: 22px;
	list-style-position: outside;
	color: #000;
	letter-spacing: normal;
	word-spacing: normal;
}
.CashUseStTextB{
	font-family:"微軟正黑體";
	font-size:14px;
	line-height: 40px;
	color: #000;
	letter-spacing: normal;
	word-spacing: normal;
}
.CashUseStTextS{
	font-family:"微軟正黑體";
	font-size:12px;
	line-height:22px;
	color: #000;
	letter-spacing: normal;
	word-spacing: normal;
}
.BuyCashUseStOrg{
	color:#F60;
	letter-spacing: normal;
	word-spacing: normal;
}
.BuyForCredIDORGtext{
	color:#F60;
	font-weight:bold;
}
.D1ModifyEmailarea {
	width:700px;
	height:auto;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.D1ModifyEmailTop {
	width:700px;
	height:44px;
	z-index:1;
	background-image: url(MembeWTop.png);
	background-repeat: no-repeat;
}
.D1ModifyEmailContent {
	width:650px;
	height:auto;
	z-index:1;
	background-image: url(MembeWContent.png);
	background-repeat: repeat;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 30px;
	font-size: 14px;
	line-height: 40px;
	font-weight: bold;
	padding-top: 5px;
}
.D1ModifyEmailContent input {
	width:200px;

}
.D1ModifyEmailBottom{
	width:700px;
	height:35px;
	z-index:1;
	background-image: url(MembeWBottom.png);
	background-repeat: no-repeat;
}
.D1ModifyEmailBtn {
	width:88px;
	height:32px;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(MembeW_OK.jpg);
	background-repeat: no-repeat;
	display: block;
}
.D1ModifyEmailBtn:hover {
	background-image: url(MembeW_OKHov.jpg);
	background-repeat: no-repeat;
}
.D1ModifyEmailCancelBtn {
	width:127px;
	height:32px;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(MembeW_cancel.jpg);
	display: block;
}
.D1ModifyEmailCancelBtn:hover {
	background-image: url(MembeW_cancelHov.jpg);
	background-repeat: no-repeat;
}
.D1ModifyEmailBtn input {
	width:100px;

}
.D1ModifyEmailClose {
	width:27px;
	height:28px;
	z-index:4;
	background-image: url(MembeWclose.png);
	float: right;
	margin-top: -7px;
	margin-right: -8px;
}

.D1ModifyEmailContent a:link{text-decoration: none;color:#F60;}
.D1ModifyEmailContent a:visited{text-decoration: none;color:#F60;}
.D1ModifyEmailContent a:hover{text-decoration: underline;color:#F60;}
.D1ModifyEmailContent a:active{color:#F60;text-decoration: none;}

.D1payAgree {
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: 20px;
	clear: both;
	width: 520px;
	font-family: "微軟正黑體";
	font-size: 13px;
	color: #000;
	line-height: 23px;
	font-weight: normal;
}
.D1payAgreeTittle{
	color: #000;
	font-weight: normal;
	font-family: "微軟正黑體";
	line-height: 35px;
	margin-left: -3px;
}
.D1payAgreeTittle input{
	position: relative;
	top: 0.15em;


}
.D1payAgreeTittle a:link{text-decoration: underline;color:#F60;}
.D1payAgreeTittle a:visited{text-decoration: underline;color:#F60;}
.D1payAgreeTittle a:hover{text-decoration: underline;color:#F60;}
.D1payAgreeTittle a:active{color:#F60;text-decoration: underline;}

/*20110825_NewOrderUI_by_TouNeko*/

.NOrderUI {
	left: 0px;
	top: 0px;
	width: 700px;
	float: left;
	margin:15px 0 15px 0;
	position: relative;
	border-radius:10px;
	/*box-shadow:0px 2px 5px rgba(0,0,0,0.25);*/
}
.NOrderUI_top {
	margin:0;
	width:700px;
	height:47px;
	float:left;
	background:url(NOrderBar.png) no-repeat;
}
.NOrderUI_Content {
	margin:0;
	width:698px;
	float:left;
	font-size:13px;
	background-color:#FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #dddddd;
	border-left-color: #dddddd;
}
.NOrderUI_Bottom {
	margin:0;
	width:700px;
	height:15px;
	clear: both;
	background-image: url(FD_orderbottom.png);
	background-repeat: no-repeat;
}
.NOrderUI_OPB {
	margin:0;
	width:698px;
	height:60px;
	float:left;
}
.NOrderUI_Title {
	margin:10px 0 0 10px;
	height:42px;
	float:left;
}
.NOrderUI_LS {
	margin:20px 0 10px 50px;
	padding:0;
	vertical-align:central;
	width:598px;
	border:1px solid #bf0000;
	float:left;
}
.NOrderUI_LS .LSSelect {
	width:400px;
	display:inline-block;
}
.NOrderUI_LS #LSState {
	padding:8px 30px 5px 10px; 
	float:left;
}
.NOrderUI_LS .LSDDL {  width:300px; }
.NOrderUI_LSF {
	width:65px;
	padding:7px 0 0 12px;
	height:25px;
	color:white;
	float:left;
	background-color: #bf0000;
}
#NOrderUI_LSStateAddr {
	 margin:7px 0 0 10px; 
	 float:left;
}
.NOrderUI_ContentArea {
	margin:10px 0 0 50px;
	width:600px;
	float:left;
}
.NOrderUI_ContentAreaWFB {
	margin:0 0 0 0;
	width:698px;
	float:left;
}
.NOrderUI_DTableTitle {
	color:white;
	background-color: #bf0000;
}
.NOrderUI_BuyItemBTN {
	margin:15px 0;
	width:600px;
	height:93px;
	background:url(BuyItemB.png) no-repeat center;
	display:block;
}
.NOrderUI_BuyItemBTN:hover {
	background:url(BuyItemTB.png) no-repeat center;
	border:0;
}
.NOrderUI_ItemList {
	margin:0 0 0 50px;
	width:600px;
	float:left;
}
.NOrderUI_ItemListTitle {
	margin:-35px 0 10px 0;
	width:600px;
	height:24px;
	float:left;
	font-weight:bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bf0000;
}
.NOrderUI_ItemError {
	margin:0;
	padding-top:10px;
	width:598px;
	height:25px;
	background:#FCC;
	border:1px solid #F99;
	text-align:center;
	color:red;
	font-size:12px;
}
.NOrderUI_ItemListTable {
	margin:10px 0;
	width:600px;
	float:left;
}
#NOrderUI_AddGiftArea {
	margin:10px 0 0 50px;
	width:600px;
	float:left;
}
.NOrderUI_AddGiftBTN {
	margin:3px 0;
	width:70px;
	height:25px;
	background:url(AddGiftB.png) no-repeat;
	float:right;
	display:block;
}
.NOrderUI_AddGiftBTN:hover {
	background:url(AddGiftTB.png) no-repeat;
	border:0;
}
.NOrderUI_NextBTN {
	margin:15px 0;
	width:600px;
	height:76px;
	background:url(NextB.png) no-repeat center;
	display:block;
}
.NOrderUI_NextBTN:hover {
	background:url(NextTB.png) no-repeat center;
	border:0;
}
.NOrderUI_CDPayBTN {
	float:left;
	margin:15px 0;
	width:300px;
	height:76px;
	display:block;
	background-image: url(CDPayB.png);
	background-repeat: no-repeat;
	background-position: center;
}
.NOrderUI_CDPayBTN:hover {
	background:url(CDPayTB.png) no-repeat center;
	border:0;
}
.NOrderUI_ATMPayBTN {
	float:right;
	margin:15px 0;
	width:300px;
	height:76px;
	background:url(ATMPayB.png) no-repeat center;
	display:block;
}
.NOrderUI_ATMPayBTN:hover {
	background:url(ATMPayTB.png) no-repeat center;
	border:0;
}
.NOrderUI_TNPayBTN {
	float:right;
	margin:15px 0;
	width:300px;
	height:76px;
	background:url(TNPayB.png) no-repeat center;
	display:block;
}
.NOrderUI_TNPayBTN:hover {
	background:url(TNPayTB.png) no-repeat center;
	border:0;
}
.NOrderUI_ConfirmPayBTN {
	margin:15px 0;
	width:300px;
	height:76px;
	background:url(PayB.png) no-repeat center;
	display:inline-block;
}
.NOrderUI_ConfirmPayBTN:hover {
	background:url(PayTB.png) no-repeat center;
	border:0;
}
#floatBar.ON {
	top:0;
	z-index:9999;
	position:fixed;
	background:url(FBBK.png) no-repeat;
	width:698px;
	height:100px;
}
.floatBar_TopBTN {
	margin:15px 25px 0;
	width:92px;
	height:63px;
	background:url(FBTopB.png) no-repeat;
	display:block;
	float:left;
}
.floatBar_TopBTN:hover {
	background:url(FBTopTB.png) no-repeat;
	border:0;
}
.floatBar_Content {
	margin:15px 50px 0;
	width:450px;
	float:left;
}
.NOrderUI_TimeoutPIC {
	margin:30px 0;
	width:600px;
	height:73px;
	background:url(Timeout.png) no-repeat center;
}
.NOrderUI_TimeoutContent {
	margin:10px 0 0 50px;
	width:600px;
	float:left;
	text-align:center;
	font-size:15px;
}
.NOrderUI_BackPayBTN {
	margin:50px 0;
	width:600px;
	height:72px;
	background:url(BackPayB.png) no-repeat center;
	display:block;
}
.NOrderUI_BackPayBTN:hover {
	background:url(BackPayTB.png) no-repeat center;
	border:0;
}
.couponFarm {
	width: 500px;
	clear: right;
}
.couponNumber{
	float:right;
	width:500px;
	height: 35px;
	color: #000;
}
*:first-child+html  .couponNumber{
	float:right;
	width:500px;
	height: 35px;
	color: #000;
}
#couponTFF {
	text-align: center;
}
#couponTFF input{
	width:125px;
	height: 17px;
	color: #000;
	clear: both;
	margin-left: 10px;
	font-size: 13px;
	text-align: center;
}
*:first-child+html .couponFarm input{
	width:80px;
	height: 17px;
	color: #000;
	clear: both;
	margin-left: 10px;
	font-size: 13px;
	margin-bottom: -2px;

}
.couponTEXT{
	float:right;
	width:500px;
	font-size: 13px;
	color: #6E6E6E;
	font-weight: normal;
	letter-spacing: normal;
	word-spacing: normal;
	height: 30px;
}

/*ATMNewOrder*/
.ATMOrderChooseTitleArea {
	vertical-align:central;
	width:598px;
	border:1px solid #bf0000;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 50px;
	float: left;
}
.ATMOrderChooseTitleArea select {
	float: right;
    height: 22px;
    margin-left: 10px;
    margin-right: 110px;
    margin-top: 4px;
    width: 400px;
}
.ATMOrderChooseTitleAreaError {
	width:598px;
	border:1px solid #FFDFDF;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 50px;
	float: left;
	background-color: #FFDFDF;
}

.ATMOrderChooseTitleAreaError select {
	width:400px;
	margin-left: 10px;
	float: left;
}

.ATMOrderChooseTitle {
	background-color: #bF0000;
	border-bottom: 4px solid #FFFFFF;
	color: white;
	float: left;
	height: 20px;
	padding: 4px 0 4px 12px;
	width: 65px;
}
.ATMOrderChooseTitleError {
	width:65px;
	padding:8px 0 0 12px;
	height:24px;
	color:black;
	float:left;
}
.ATMOrderChooseContentArea {
	width:600px;
	clear: both;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 50px;
}
.ATMOrderChoose_ItemListTitle {
	margin:-35px 0 10px 0;
	width:600px;
	height:25px;
	float:left;
	border-bottom:1px solid #F60;
}
.ATMOrderChoose_DTableTitle{
	color:white;
	background-color: #bf0000;
}
.ATMOrderChoose_ItemListTable {
	width:600px;
	clear: none;
	margin-top: 10;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-size: 16px;
	color: #F00;
}
.ATMOrder_Price {
	width:600px;
	clear: none;
	margin-top: 10;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-size: 16px;
}
.ATMOrder_TotalList {
	width:600px;
	clear: none;
	margin-top: 10;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-size: 16px;
}
.ATMOrder_Detail {
	width:600px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	clear: both;
}
.ATMOrder_Detail a:link{text-decoration: underline;color: #F60;}
.ATMOrder_Detail a:visited{text-decoration: underline;color: #F60;}
.ATMOrder_Detail a:hover{text-decoration: underline;color: #F60;}
.ATMOrder_Detail a:active{color: #F60;text-decoration: underline;}

.ATMOrderDetailName{
	letter-spacing: 2px; 
}
.ATMOrderDetailName input{
	width:100px; 
}
.ChoosePurchase {
	width:600px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	clear: both;
}

/*ATM錯誤警示訊息id*/
.ATMErrorMsg{
	background-color:#FFDFDF;
	font-size: 12px;
	color: #F00;
	padding-left: 5px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
.ATMErrorMsg input{
	width:140px;
}

/*ATM錯誤警示訊息id*/

/*ATMNewOrder1-3*/

.ATMOrderConfirmTitle {
	width: 700px;
	height: 47px;
	background-image: url(ATMOrderTitle1-3.png);
	background-repeat: no-repeat;
	float: left;
}
.ATMOrderConfirmContent {
	width:500px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 20px;
	text-align: center;
}
.ATMOrderConfirmLine {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #BF0000;
	width: 500px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	background-color: #FFF;
	background-repeat: no-repeat;
}
.ATMOrderConfirmTable_Product{
	text-align: left;
	line-height: 20px;
	
}
.ATMOrderConfirmTable_Address{
	text-align: left;
	margin-top: 10px;
	line-height: 20px;
	
}
.ATMOrderConfirmTable_Purchase{
	text-align: left;
	margin-top: 10px;
	line-height: 20px;
}
.ATMOrderConfirmTable_ATM{
	text-align: left;
	margin-top: 10px;
	line-height: 20px;
	
}
.ATMOrderConfirmTable_invoice{
	text-align: left;
	margin-top: 10px;
	line-height: 20px;
}
.ATMOrderBTN {
	width:101px;
	height:32px;
	display: block;
	text-indent: -9999px;
	background-image: url(ATMConfirmBTN.png);
	float: left;
	}
.ATMOrderBTN input {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	}
.ATMOrderBTN:hover {
	background-image: url(ATMConfirmBTNHov.png);
	border:0;
}
.ATMOrderModifyBTN {
	width:101px;
	height:32px;
	display: block;
	text-indent: -9999px;
	background-image: url(ATMConfirmModifyBTN.png);
	float: right;
}
.ATMOrderModifyBTN input {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	}
.ATMOrderModifyBTN:hover {
	background-image: url(ATMConfirmModifyBTNHov.png);
	border:0;
}
.ATMOrderBtnarea{
	margin-top:30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 250px;
	clear: both;
}
/*---ATM3-1--Start---*/

.ATMtrRIn {
	clear: both;
	height: auto;
	width: 700px;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
}
.ATMtrRtop {
	height: 45px;
	width: 700px;
}
.ATMtrRtop3_1 {
	height: 45px;
	width: 700px;
	background-image: url(ATM_3Returns.png);
	background-repeat: no-repeat;
}
.ATMtrRtop3_2 {
	height: 45px;
	width: 700px;
	background-image: url(ATM_3ChReturns.png);
	background-repeat: no-repeat;
}
.ATMtrRCen {
	width: 700px;
	background-image: url(ATM_3Returns_CEN.png);
	background-repeat: repeat;
	padding-top: 20px;
	padding-bottom: 10px;
	clear: both;
}
.ATMtrRBottom {
	background-image: url(ATM_3Returns_Bottom.png);
	background-repeat: no-repeat;
	clear: both;
	height: 14px;
	width: 700px;
}
.ATMtrRitext {
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	width: 660px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	line-height: 27px;
	text-align: left;
	font-weight: bold;
}
.ATMtrRReason {
	height: auto;
	width: 640px;
	margin-right: auto;
	margin-left: auto;
	border: 1px dashed #8FB7DA;
	padding-top: 8px;
	padding-bottom: 10px;
	font-family: "微軟正黑體";
}
.ATMtrRReasonTable {
	font-size: 15px;
	width: 625px;
	margin-right: auto;
	margin-left: auto;
	font-family: "微軟正黑體";
}
.ATMtrRReasonTable ul{
	list-style-type: none;
	line-height:35px;
}
.ATMtrRReasonTable li{
	font-size: 15px;
	list-style-type: none;
}
*.ATMtrRReasonTable ul{
	list-style-type: none;
	line-height:35px;
}
*.ATMtrRReasonTable li{
	font-size: 15px;
	list-style-type: none;
	font-family: "微軟正黑體";
}
*.ATMtrRReasonTable input{
	position: relative;
	top: 1px;
}

.ATMtrRReason textarea{
	width: 570px;
	margin-left: 16px;
	border: 1px solid #CAE4FF;
}
.ATMtrRBtn1{
	background-image: url(ATM_3RBtn1-1.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 42px;
	width: 163px;
	margin-right: auto;
	margin-left: auto;
	display:block;
	margin-top: 15px;
}
.ATMtrRBtn1:hover {
	background-image: url(ATM_3RBtn1-2.png);	
	background-repeat: no-repeat;
	background-position: center;
	border:0;
}
.ATMtrChReturnsfortext {
	font-size: 15px;
	color: #0072AE;
	width: 640px;
	margin-top: 35px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: "微軟正黑體";
}
.ATMtrRBtn2{
	background-image: url(ATM_3RBtn2-1.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 42px;
	width: 163px;
	margin-right: auto;
	margin-left: auto;
	display:block;
	margin-top: 15px;
}
.ATMtrRBtn2:hover {
	background-image: url(ATM_3RBtn2-2.png);	
	background-repeat: no-repeat;
	background-position: center;
	border:0;
}
.ATMtrRBtn3{
	background-image: url(ATM_3RBtn3-1.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 42px;
	width: 163px;
	margin-right: auto;
	margin-left: auto;
	display:block;
	margin-top: 15px;
}
.ATMtrRBtn3:hover {
	background-image: url(ATM_3RBtn3-2.png);	
	background-repeat: no-repeat;
	background-position: center;
	border:0;
}
.ATMtrRmRefund {
	height: auto;
	width: 660px;
	margin-right: auto;
	margin-left: auto;
	border: 1px dashed #8FB7DA;
	padding-top: 8px;
	padding-bottom: 10px;
}
.ATMtrRmRefundTable {
	font-size: 15px;
	width: 640px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
.ATMtrRmRefundTable ul{
	list-style-type: none;
	line-height:45px;
}
.ATMtrRmRefundTable li{
	font-size: 15px;
	list-style-type: none;
	height: 40px;
	margin:6px 0 0 0;
	padding-bottom: 2px;
	padding-left: 8px;
	font-family: "微軟正黑體";
}
.ATMtrRmRefdColor{
	font-size: 15px;
	list-style-type: none;
	background-color: #FFDFDF;
	height: 40px;
	top: -1px;
	position: relative;
	padding-bottom: 2px;
    margin:6px 0 0 0;
	padding-left: 8px;
}
.ATMtrRmReName {
	height: auto;
	font-family: "微軟正黑體";
}
.ATMtrRmReName input{
	width:171px;
	font-size: 16px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	height: 21px;
	padding-top: 2px;
	text-align: left;
	font-family: "微軟正黑體";
}
.ATMtrRmReIdCard {
	height: auto;
	font-family: "微軟正黑體";
}
.ATMtrRmReIdCard input{
	width:111px;
	font-size: 16px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	height: 21px;
	padding-top: 2px;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
*:first-child+html .ATMtrRmReName input{
	width:135px;
	font-size: 16px;
	padding-left: 5px;
	position: relative;
	height: 21px;
	text-align: left;
	bottom:-10px;
	margin-bottom:-4px;
	margin-top:-3px;
}
* html .ATMtrRmReName input{
	width:135px;
	font-size: 16px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	height: 21px;
	padding-top: 2px;
	text-align: left;
	margin-bottom:-5px;
	margin-top:8px;
}
.ATMtrRmReBank {
	height: auto;
	font-family: "微軟正黑體";
}
.ATMtrRmReBank select{
	width:179px;
	font-size: 16px;
	padding-left: 2px;
	position: relative;
	top: 0px;
	text-align: left;
	height: 25px;
	line-height:28px;
	font-family: "微軟正黑體";
}
*:first-child+html .ATMtrRmReBank select{
	width:141px;
	font-size: 16px;
	padding-left: 3px;
	position: relative;
	top: -2px;
	text-align: left;
	height: 25px;
	margin-bottom:-4px;
	margin-top:-3px;
}
* html .ATMtrRmReBank select{
	width:141px;
	font-size: 16px;
	padding-left: 3px;
	position: relative;
	top: 0px;
	text-align: left;
	height: 25px;
	line-height:28px;
	margin-bottom:-5px;
	margin-top:8px;
}
.ATMtrRmReAcNumber {
	height: 45px;
	clear: both;
	font-family: "微軟正黑體";
}
.ATMtrRmReAcNumber input{
	width:350px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
}
*:first-child+html .ATMtrRmReAcNumber input{
	width:350px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
	margin-bottom:-4px;
	margin-top:-3px;
}
* html .ATMtrRmReAcNumber input{
	width:350px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
	margin-bottom:-5px;
	margin-top:3px;
}
.ATMtrRmRePhone{
	height: auto;
	font-family: "微軟正黑體";
}
.ATMtrRmRePhone input{
	width:350px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
}
*:first-child+html .ATMtrRmRePhone input{
	width:350px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
	margin-bottom:-4px;
	margin-top:-3px;
}
* html .ATMtrRmRePhone input{
	width:350px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
	margin-bottom:-5px;
	margin-top:4px;
}
.ATMtrRmReAcNuTff{
	width:175px;
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: "微軟正黑體";
}
.ATMtrRBtn5{
	background-image: url(ATM_3RBtn5-1.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 42px;
	width: 163px;
	margin-right: auto;
	margin-left: auto;
	display:block;
	margin-top: 15px;
}
.ATMtrRBtn5:hover {
	background-image: url(ATM_3RBtn5-2.png);	
	background-repeat: no-repeat;
	background-position: center;
	border:0;
}
.ATMforReInText {
	width: 645px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	border: 1px solid #BEDEF9;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
}
.ATMforReInText ul{
	list-style-type: none;
}
.ATMforReInText li{
	list-style-type: none;
	font-size: 15px;
	text-align: left;
}
.ATMforReInText a:link{text-decoration: underline;color: #F60;}
.ATMforReInText a:visited{text-decoration: underline;color: #F60;}
.ATMforReInText a:hover{text-decoration: underline;color: #F60;}
.ATMforReInText a:active{text-decoration: underline;color: #F60;}

.ATMtrRmRefdBCoT{
	background-color:#E5F2FC;
	color:#000;
	padding-left: 8px;
	text-align: left;
	font-family: "微軟正黑體";
}
.ATMtrRRETTT {
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	width: 360px;
	line-height: 27px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}
.ATMtrRRETTT br{
	line-height:20px;
}
.ATMtrFORefTable2 {
	font-size: 15px;
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
.ATMtrFORefTable2 ul{
	list-style-type: none;
	line-height:45px;
}
.ATMtrFORefTable2 li{
	font-size: 16px;
	list-style-type: none;
	height: 40px;
	margin:6px 0 0 0;
	padding-bottom: 2px;
	padding-left: 8px;
	letter-spacing:0.1em;
}
.ATMtrFOReTbName {
	font-size: 16px;
	margin-left:5px;
	font-family: "微軟正黑體";
}
.ATMtrRBtnFTBtnFF{
	width:280px;
	margin-right: auto;
	margin-left: auto;
	clear:both;
	height: 65px;
}
.ATMtrRBtn4{
	background-image: url(ATM_3RBtn4-1.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 42px;
	width: 120px;
	margin-right: auto;
	margin-left: auto;
	display:block;
	margin-top: 15px;
	float:left;
}
.ATMtrRBtn4:hover {
	background-image: url(ATM_3RBtn4-2.png);	
	background-repeat: no-repeat;
	background-position: center;
	border:0;
}
.ATMtrRBtn42{
	background-image: url(ATM_3RBtn4-3.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 42px;
	width: 120px;
	margin-right: auto;
	margin-left: auto;
	display:block;
	margin-top: 15px;
	float:right;
}
.ATMtrRBtn42:hover {
	background-image: url(ATM_3RBtn4-4.png);	
	background-repeat: no-repeat;
	background-position: center;
	border:0;
}
.ATMtrClose {
	width:27px;
	height:28px;
	z-index:1;
	background-image: url(MembeWclose.png);
	float: right;
	margin-top: -7px;
	margin-right: -8px;
	margin-bottom: -20px;
}
.ATMtrRRtop35 {
	height: 45px;
	width: 700px;
	background-image: url(ATM_3-4Confirm.png);
	background-repeat: no-repeat;
}


.ATMOrderInformationArea {
	clear: both;
	height: auto;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}
.ATMOrderInformationTop {
	background-image: url(CheckoutTop.png);
	background-repeat: no-repeat;
	clear: both;
	height: 22px;
	width: 960px;
}
.ATMOrderInformationContent {
	clear: both;
	width: 958px;
	padding-bottom: 10px;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #dddddd;
	border-left-color: #dddddd;
}
.ATMOrderInformationTitle {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 400px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #8DB434;
	background-image: url(ATM1-4OrderOK.jpg);
	background-repeat: no-repeat;
	height: 60px;
}
.ATMOrderInformationTitleArea{
	font-family:"微軟正黑體";
	font-size: 15px;
	color: #494949;
	width: 830px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 15px;
}
.ATMOrderInformationTitleArea a:link{color:#F60;text-decoration: none;letter-spacing:normal;}
.ATMOrderInformationTitleArea a:visited{color:#F60;text-decoration: none;letter-spacing:normal;}
.ATMOrderInformationTitleArea a:hover{color:#F60;text-decoration: underline;letter-spacing:normal;}
.ATMOrderInformationTitleArea a:active{color:#F60;text-decoration: none;letter-spacing:normal;}

.ATMOrderInformationTips {
	width:850px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-weight: bold;
	color: #bf0000;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.ATMOrderDetail {
	width:600px;
	height:235px;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-image: url(ATMOrderinformationarea.png);
	background-repeat: no-repeat;
}
.ATMOrderDetail ul {
	list-style-type: none;
	padding-top: 40px;
	padding-left: 20px;
}
.ATMOrderDetail li {
	line-height: 35px;
}
.ATMOrderDetailBtn {
	clear: both;
	height: 55px;
	width: 150px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	background-image: url(ATMCheckBtn.jpg);
	background-repeat: no-repeat;
	margin-top: 25px;
}
.ATMOrderDetailBtn:hover {
	background-image: url(ATMCheckBtnHover.jpg);
	background-repeat: no-repeat;
}
.ATMOrderDetailContent {
	width:900px;
	height:auto;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-size: 14px;
	text-align: center;
}
.ATMOrderDetailContent a:link{color:#F60;text-decoration: none;letter-spacing:normal;}
.ATMOrderDetailContent a:visited{color:#F60;text-decoration: none;letter-spacing:normal;}
.ATMOrderDetailContent a:hover{color:#F60;text-decoration: underline;letter-spacing:normal;}
.ATMOrderDetailContent a:active{color:#F60;text-decoration: none;letter-spacing:normal;}

.ATMPurchaser{
}

.ATMPurchaser input{
	width:140px;
}
.ATMtrRBtn6{
	background-image: url(ATM_3R5Btn6-1.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 43px;
	width: 188px;
	margin-right: auto;
	margin-left: auto;
	display:block;
	margin-top:37px;
	margin-bottom:43px;
}
.ATMtrRBtn6:hover {
	background-image: url(ATM_3R5Btn6-2.png);	
	background-repeat: no-repeat;
	background-position: center;
	border:0;
}
.ATMtrRiRBT{
	font-weight:bold;
	color:#4E8EC4;
	font-size:18px;
	font-family:"微軟正黑體";
}
.ATMtrRiRedST{
	color:#F00;
	font-family:"微軟正黑體";
}
.TNFrame {
	width: 960px;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
	clear: both;
	height: auto;
}
.TNFTopTi {
	height: 43px;
	width: 960px;
	margin: 0 auto;

}
.TNFCenter {
	clear: both;
	width: 958px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	border-right: 1px solid #242424;
	border-left: 1px solid #242424;
	padding-bottom: 18px;
	padding-top: 20px;
}
.TNFBottom {
	background-image: url(TNPageBottom.png);
	background-repeat: no-repeat;
	height: 43px;
	width: 960px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.TNConfirmBtnOk1 {
	height: 41px;
	width: 130px;
	background-image: url(TNConfirm1.jpg);
	background-repeat: no-repeat;
	display: block;
}
.TNConfirmBtnOk1:hover{
	background-image: url(TNConfirm1-1.jpg);
	background-repeat: no-repeat;
}
.TNIndexTiTable {
	font-family: "微軟正黑體";
	font-size: 17px;
	color: #000;
	width: 830px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
.TNIndexTiTable input{
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	width: 623px;
}
.TNIndexTiTable td{
	font-family: "微軟正黑體";
	font-size: 17px;
	color: #000;
}
.TNConFrm {
	width: auto;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	height: 42px;
	clear: both;
}
.TNAppliSmlltext {
	width:800px;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	font-family: "微軟正黑體";
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	color: #333;
}
.TNIndexFAQTable {
	font-family:"微軟正黑體", "Microsoft JhengHei";
	font-size: 14px;
	color: #000;
	width: 830px;
	border-top:1px  dashed #424242;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
.TNIndexFAQTable a { color:#00F; }
.TNIndexFAQTable td { vertical-align:text-top; }
.TNIndexFAQTable .Q { font-weight:bold; padding:8px 0; }
.TNIndexFAQTable hr { margin:15px auto ; }
.FAQfix { width:830px; }
.F1_UserGuide_Content_5_QAB_QTN .fontfix { font-size:14px; }

/*for FreeDeal css*/

.FDOrderUI_top {
	margin:0;
	width:700px;
	height:47px;
	float:left;
	background:url(FD_orderbar.png) no-repeat;
}
.FDOrderUI_top h1 {
	margin-left:20px;
	line-height:50px;
	color:#333;
	font-weight:normal;
	font-size:20px;
}
.FDOrderUI_Bottom {
	margin:0;
	width:700px;
	height:15px;
	background:url(FD_orderbottom.png) no-repeat;
	clear: both;
}
.NOrderUI_Content .FD_Title {
	padding:2px 20px;
	margin:20px 30px 5px 30px;
	float:left;
	background:#333;
	border-radius:5px;
	font-size:14px;
	color:#FFF;
}
.NOrderUI_Content .FD_Sec_Title {
	width:640px;
	padding:2px;
	margin:20px 30px 5px 30px;
	float:left;
	border-bottom:1px solid #666;
	font-size:14px;
	color:#666;
}
.NOrderUI_Content .FD_Content {
	margin:5px 30px;
}
.NOrderUI_Content .FD_Content .Rule_Content {
	color:#666;
	margin-bottom:20px;
}
.NOrderUI_Content .FD_Content select {
	width:600px;
}
.NOrderUI_Content .submit {
	width:150px;
	height:45px;
	border:0;
	margin:40px auto 10px auto;
	display:block;
	text-align:center;
	font-size:20px;
	font-family:Arial, "微軟正黑體", sans-serif;
	color:#FFF;
	cursor:pointer;
	background:url(FD_button.png) no-repeat;
}
.NOrderUI_Content .submit:hover {
	background:url(FD_button.png) 0 -45px no-repeat;
}
.FD_Success {
	clear: both;
	height: auto;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius:10px;
	box-shadow:0 2px 5px rgba(0,0,0,0.25);
}
.FD_Success_Top {
	background-image: url(FD_orderbar_success.png);
	background-repeat: no-repeat;
	clear: both;
	height: 22px;
	width: 960px;
}
.FD_Success_Bottom {
	background-image: url(FD_orderbottom_success.png);
	background-repeat: no-repeat;
	clear: both;
	height: 22px;
	width: 960px;
}
.FD_Success_Content {
	clear: both;
	width: 958px;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	padding-bottom: 10px;
	background:#FFF;
	font-family:"微軟正黑體", Arial, sans-serif;
	text-align:center;
}
.FD_Success_Title {
	text-align:left;
	margin:0 30px 20px 30px;
	font-size:26px;
	font-weight:bold;
	color:#BF0000;
	line-height:44px;
	border-bottom:1px solid #CCC;
}
.FD_Success_Serial {
	width:780px;
	margin:20px auto;
	background:#FFF;
	color:#BF0000;
	font-size:20px;
	border:2px solid #BF0000;
	border-radius:5px;
	line-height:50px;
}
.FD_Success_Get_SN_Button {
	width:200px;
	height:45px;
	border:0;
	margin:30px auto 10px auto;
	display:block;
	text-align:center;
	font-size:20px;
	line-height:45px;
	font-family:Arial, "微軟正黑體", sans-serif;
	color:#FFF;
	cursor:pointer;
	background:url(FD_button.png) 0 -90px no-repeat;
}
.FD_Success_Get_SN_Button:visited { color:#FFF; }
.FD_Success_Get_SN_Button:hover {
	color:#FFF;
	text-decoration:none;
	background:url(FD_button.png) 0 -135px no-repeat;
}
.FD_Success_Note {
	width:780px;
	margin:20px auto;
	font-size:14px;
	text-align:left;
}
