@charset "utf-8";
/* CSS Document */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
 }
#F1_UserGuide a:link{
	text-decoration:underline;
	color: #BF0000;
	font-weight: bold;
}
#F1_UserGuide a:visited{
	text-decoration:underline;
	color: #BF0000;
	font-weight: bold;
}
#F1_UserGuide a:hover{
	text-decoration:underline;
	color: #BF0000;
	font-weight: bold;
}
#F1_UserGuide a:active{
	color: #BF0000;
	text-decoration:underline;
}
#F1_UserGuide {
	position:relative;
	width:922px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}
#F1_UserGuide_Top {
	left:0px;
	top:opx;
	width:922px;
	height:79px;
	background-image: url(F1_UG_top.png);
}
#F1_UserGuide_Navi {
	position:relative;
	left:0px;
	top:0px;
	width:922px;
	height:82px;
}
#F1_UserGuide_Navi_left {
	left:0px;
	top:0px;
	width:30px;
	height:82px;
	background-image: url(F1_navi_left.jpg);
}
#F1_UserGuide_Navi_B1 {
	position:absolute;
	left:30px;
	top:0px;
	height:82px;
	width:160px;
	background-image:url(F1_Button_h1.jpg);
}
.F1_NaviB1Mouse_btn {
	width: 160px;
	height: 82px;
	display:block;
	background-image: url(F1_bottom_s1.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
a.F1_NaviB1Mouse_btn:hover {
	width: 160px;
	height: 82px;
	display:block;
	background-image: url(F1_bottom_s1.jpg);
	background-repeat: no-repeat;
	background-position: 0px -82px;
}
#F1_UserGuide_Navi_B2 {
	position:absolute;
	left:190px;
	top:0px;
	height:82px;
	width:184px;
	background-image:url(F1_Button_h2.jpg);
}
.F1_NaviB2Mouse_btn {
	width: 184px;
	height: 82px;
	display:block;
	background-image: url(F1_bottom_s2.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
a.F1_NaviB2Mouse_btn:hover {
    width: 184px;
    height: 82px;
    background: url(F1_bottom_s2.jpg) no-repeat 0px -82px;
    display:block;
}
#F1_UserGuide_Navi_B3 {
	position:absolute;
	left:374px;
	top:0px;
	height:82px;
	width:216px;
	background-image:url(F1_Button_h3.jpg);
}
.F1_NaviB3Mouse_btn {
	width: 172px;
	height: 82px;
	display:block;
	background-image: url(F1_bottom_s3.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
a.F1_NaviB3Mouse_btn:hover {
	width: 172px;
	height: 82px;
	background: url(F1_bottom_s3.jpg) no-repeat 0px -82px;
	display:block;
}
#F1_UserGuide_Navi_B4 {
	position:absolute;
	left:546px;
	top:0px;
	height:82px;
	width:171px;
	background-image:url(F1_Button_h4.jpg);
}
.F1_NaviB4Mouse_btn {
	width: 171px;
	height: 82px;
	display:block;
	background-image: url(F1_bottom_s4.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
a.F1_NaviB4Mouse_btn:hover {
    width: 171px;
    height: 82px;
    background: url(F1_bottom_s4.jpg) no-repeat 0px -82px;
    display:block;
}

#F1_UserGuide_Navi_C5 {
	position:absolute;
	left:717px;
	top:0px;
	height:82px;
	width:173px;
	background-image:url(F1_Button_h5.jpg);
}
.F1_NaviB5Mouse_btn {
	width: 173px;
	height: 82px;
	display:block;
	background-image: url(F1_bottom_s5.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
a.F1_NaviB5Mouse_btn:hover {
width: 173px;
height: 82px;
background: url(F1_bottom_s5.jpg) no-repeat 0px -82px;
display:block;
}


#F1_UserGuide_Navi_right {
	position:absolute;
	left:890px;
	top:0px;
	width:32px;
	height:82px;
	background-image: url(F1_navi_right.jpg);
}
#F1_UserGuide_Content_5 {
	left: 0px;
	width: 920px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #adacae;
	border-left-color: #adacae;
	background-color: #FFF;
}
#F1_UserGuide_Content_5_Title {
	position: relative;
	left: 0;
	top: 0;
	width: 922px;
	height: 143px;
	background-image:url(F1_questionSTAR.jpg);
	background-repeat: no-repeat;
	padding-bottom: 15px;
}
#F1_UserGuide_Content_Question {
	position:relative;
	width:890px;
	z-index:1;
	font-family: "微軟正黑體";
	font-size: 28px;
	font-weight: normal;
	color: #333;
	margin-right: auto;
	margin-left: auto;
}
#F1_UserGuide_Content_Question a:link{
	color:#666;
	text-decoration: none;
	font-size: 15px;
	font-family: "微軟正黑體";
}
#F1_UserGuide_Content_Question a:visited{color:#666; text-decoration: none; font-size: 15px;
	font-family: "微軟正黑體";}
	
#F1_UserGuide_Content_Question a:hover{
	color:#BF0000;
	text-decoration: underline;
	font-size: 15px;
	font-family: "微軟正黑體";
}
#F1_UserGuide_Content_Question a:active{
	color:#666;
	text-decoration: none;font-size: 15px;
	font-family: "微軟正黑體";}
	
#F1_UserGuide_Content_QuestionA {
	position:relative;
	width:430px;
	height:auto;
	z-index:1;
	font-family: "微軟正黑體";
	font-size: 24px;
	color: #333;
	float: left;
	padding-left: 30px;
}
#F1_UserGuide_Content_QuestionB {
	position:relative;
	width:425px;
	height:auto;
	z-index:1;
	text-indent: 0px;
	float: right;
}
.F1_UCQTitle{
	list-style-position: outside;
	list-style-type: none;
	font-size: 28px;
	font-family: "微軟正黑體";
	font-weight: bold;
	color: #232323;

}
.F1_UCQ{
	list-style-position: outside;
	list-style-type: none;
	font-size: 15px;
	font-family: "微軟正黑體";
	font-weight: bold;
	color: #666;

}
.F1_UserGuide_TOP {
	float:left;
	width:55px;
	height:27px;
	z-index:1;
	margin-top: 25px;
	position: relative;
	left: 0px;
	margin-left: auto;
}
.F1_UserGuide_Content_5_QAB {
	position: relative;
	width: 920px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 10px;
}
.F1_UserGuide_Content_5_QAB_TOP {
	position: relative;
	margin: 0 auto 0 auto;
	top: 0px;
	width: 810px;
	height: 15px;
	background-image:url(F1_content_5_QAB_top.jpg);
}
.F1_UserGuide_Content_5_QAB_QTN {
	position: relative;
	top: 0px;
	width: 810px;
	background-image:url(F1_content_5_QAB_QTN.jpg);
	background-repeat: no-repeat;
}
.F1_UserGuide_Content_5_QAB_QTN p{
	margin: 0;
	padding: 5px 0 0 50px;
	font-size: 20px;
	line-height: 36px;
}
.F1_UserGuide_Content_5_QAB_ANS {
	position: relative;
	top: 0px;
	width: 810px;
	background-image:url(F1_content_5_QAB_BG.jpg);
}
.F1_UserGuide_Content_5_QAB_ANS_pic {
	float:left;
	top: 0px;
	width: 54px;
	height: 57px;
	background-image:url(F1_content_5_QAB_ANS.jpg);
}
.F1_UserGuide_Content_5_QAB_ANS_CTN {
	float:left;
	top: 0px;
	width: 740px;
	font-size:14px;
}
.F1_UserGuide_Content_5_QAB_ANS_CTN p{
	padding-top:14px;
}
.F1_UserGuide_Content_5_QAB_ANS_clear {
	clear:both;
}
.F1_UserGuide_Content_5_QAB_END {
	position: relative;
	margin: 0 auto 0 auto;
	top: 0px;
	width: 810px;
	height: 13px;
	background-image:url(F1_content_5_QAB_END.jpg);
	background-repeat: no-repeat;
}
#F1_UserGuide_End_5 {
	bottom: 0px;
	width: 922px;
	height: 3px;
	background-image: url(F1_Buttom.png);
	margin-bottom: 20px;
	background-repeat: no-repeat;
}
.F1_text_blue{
	font-size: 14px;
	color: #FF5809;
}
#F1_UserGuide_Content_5_inner {
	background-image: url(F1_content_5_QAB_BG.jpg);
	background-repeat: repeat;
	width: 810px;
	margin-right: auto;
	margin-left: auto;
}
.F1_text_red{
	color:#FFF;
	background-color: #bf0000;
	padding: 1px;
}
.FAQCategories{
	color:#333;
	padding-left: 68px;
	font-size: 26px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif, "Arial Unicode MS", "Adobe 黑体 Std R";
}
