﻿
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <title>@ViewBag.Title</title>
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KTPWCVV');</script>
    <!-- End Google Tag Manager -->

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/default/images/17Life/Regulars/css/base.css")" />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-1.9.1.min.js")'></script>
    <script type="text/javascript">
        function goToLogin() {
            if (window.android) {  // android平台
                window.android.goToLogin();
            } else if (window.ios) {  // ios平台
                window.ios.goToLogin();
            }
        }
    </script>
</head>
<body>
        @RenderBody()
       
</body>