﻿@using LunchKingSite.Core.Enumeration;
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <title>@ViewBag.Title</title>
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KTPWCVV');</script>
    <!-- End Google Tag Manager -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/PCweb/plugin/font-awesome/font-awesome.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/default/images/17Life/Regulars/css/base.css")" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="container">
        <div class="overlay" style="display:none;"></div>
        @*提示視窗*@
        <div id="alertWindow" class="alert_div" style="display:none;">
            <div id="alertIcon" class="alert_icon">
                <i id="alertIconFont" class="fa" aria-hidden="true"></i>
            </div>
            <div class="alert_content">
                <div id="alertDynamic" class="alert_body">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.AlertWindowImg))
                    {
                        <img id="alertWindowImg" src="@ViewBag.AlertWindowImg"><br>
                    }
                    <span id="alertWindowMsg"></span>
                </div>
                <div id="alertWindowBtns" class="alert_footer"></div>
            </div>
        </div>
        @RenderBody()
        <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-1.9.1.min.js")'></script>
        <script type="text/javascript">

            //遮罩
            window.addEventListener("beforeunload", function (event) {
                $('.overlay').show();
            });
            $.ajaxSetup({
                beforeSend: function () {
                    $('.overlay').show();
                },
                complete: function () {
                    //提示視窗開啟的狀態下，遮罩不要消失
                    if (!$('#alertWindow').is(":visible")) {
                        $('.overlay').hide();
                    }
                }
            });

            $(function () {
                autoScrollToTop();
            });

            //點選輸入框時，自動捲動 (避免被鍵盤遮住)
            function autoScrollToTop() {
                $('body').on('focus', 'input', function () {
                    document.body.scrollTop = $(this).offset().top - 80;
                });
                $('body').on('focus', 'textarea', function () {
                    document.body.scrollTop = $(this).offset().top - 80;
                });
            }

            var alertCore = {
                init: function (options) {
                    if (options == null) {
                        return this;
                    }
                    
                    //●訊息
                    if (!!options.message) {
                        $('#alertWindowMsg').text(options.message);
                    }
                    //●V or X
                    if (options.resultIcon) {
                        $('#alertIcon').addClass('alert_icon_check');
                        $('#alertIconFont').addClass('fa-check');
                    }
                    else {
                        $('#alertIcon').addClass('alert_icon_error');
                        $('#alertIconFont').addClass('fa-times');
                    }
                    //●icon
                    if (!!options.imageUrl) {
                        //此處用ViewBag.AlertWindowImg避免臨時載入圖片造成閃爍

                        //不過仍保留client端臨時要換圖的彈性
                        $('#alertWindowImg').attr('src', options.imageUrl);
                    }
                    //●動態html
                    if (!!options.dynamic) {
                        $('#alertDynamic').append(options.dynamic);
                    }
                    //●按鈕
                    for (var i = 0; i < options.buttons.length; i++) {
                        $('#alert_footer').empty();
                        if (options.buttons[i] != null) {
                            var button = $('<a class="alert_btn">').text(options.buttons[i].name);
                            switch (options.buttons[i].style) {
                                case 'white':
                                    button.addClass('bg_white');
                                    break;
                                default:
                                    button.addClass('bg_red');
                                    break;
                            }
                            if (!!options.buttons[i].link) {
                                button.attr('href', options.buttons[i].link);
                            }
                            if (options.buttons[i].clickEvent != null) {
                                button.on('click', options.buttons[i].clickEvent);
                            }
                            $('#alertWindowBtns').append(button);
                        }
                    }

                    return this;
                },
                show: function () {
                    $('.overlay').show();
                    $('#alertWindow').show();
                    $(window).scrollTop(0);
                },
                hide: function () {
                    $('.overlay').hide();
                    $('#alertWindow').hide();
                },
                unexpectedError: function () {
                    $('#alertWindowMsg').text("未預期錯誤，請聯繫17Life技術人員");
                    this.show();
                }
            };

            function returnHome() {
                if (window.android) {  // android平台
                    window.android.returnHome();
                } else if (window.ios) {  // ios平台
                    window.ios.returnHome();
                }
                else {
                    //網頁
                }
            }

            function goToLogin() {
                if (window.android) {  // android平台
                    window.android.goToLogin();
                } else if (window.ios) {  // ios平台
                    window.ios.goToLogin();
                }
                else {
                    //網頁
                }
            }
        </script>
        @RenderSection("scripts", required: false)
    </div>
</body>