﻿@using LunchKingSite.BizLogic.Model;
@using LunchKingSite.BizLogic.Models;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Enumeration;
@model MembershipCardQuarterModel
@{
    var levelText = Helper.GetLocalizedEnum((MembershipCardLevel)ViewBag.Level);
    var ifNextText = (ViewBag.Type == "next") ? "下一季" : "當季";
    ViewBag.Title = string.Format("新增{0}{1}優惠", ifNextText, levelText);
    Layout = "_RegularsCardSettingLayout.cshtml";
    ViewBag.AlertWindowImg = Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_vip.png");
    string backUrl = (ViewBag.Type == "next") ? "CardList?type=next" : "CardList";
}
<div id="header">
    <div class="header_topic">新增</div>
    <div id="nav" class="card">
        <div class="left">
            <a href="@(backUrl)">
                <i class="fa fa-angle-left" aria-hidden="true"></i>@((ViewBag.Type == "next") ? "編輯下一季優惠" : "編輯當季優惠")
            </a>
        </div>
    </div>
</div>
<div id="content">
    <div class="content_topic">@levelText</div>
    @if (ViewBag.Level > 1)
    {
        <div class="content_list w100">
            <div class="tp">升等條件(可擇一條件填寫)</div>
            <div class="ct"><input id="txtOrderNeeded" class="text_2" type="text" placeholder="請輸入累積消費次數" tabindex="1" aria-required="true" autocorrect="off" name="" onkeyup="return ValidateNumber($(this),value)" /></div>
            <div class="ct"><input id="txtAmountNeeded" class="text_1" type="text" placeholder="請輸入累積消費金額" tabindex="1" aria-required="true" autocorrect="off" name="" onkeyup="return ValidateNumber($(this),value)" /></div>
        </div>
    }
    <div class="content_list">
        <div class="tp">優惠折數</div>
        <div class="ct">
            <div class="select_1">
                <select id="paymentPercent">
                    <option value="1">請選擇優惠折數</option>
                    <option value="0.95">提供95折優惠</option>
                    <option value="0.9">提供9折優惠</option>
                    <option value="0.85">提供85折優惠</option>
                    <option value="0.8">提供8折優惠</option>
                    <option value="0.75">提供75折優惠</option>
                    <option value="0.7">提供7折優惠</option>
                    <option value="0.65">提供65折優惠</option>
                    <option value="0.6">提供6折優惠</option>
                    <option value="0.55">提供55折優惠</option>
                    <option value="0.5">提供5折優惠</option>
                </select>
            </div>
        </div>
    </div>
    <div class="content_list">
        <div class="tp">其它優惠</div>
        <div class="ct"><input id="txtOtherPremiums" class="text_1" type="text" placeholder="請輸入自訂優惠" tabindex="1" aria-required="true" autocorrect="off" name="" /></div>
    </div>
    <div class="content_list w100">
        <div class="tp">注意事項</div>
        <div class="ct"><input id="txtInstruction" class="text_1" type="text" placeholder="非必填" tabindex="1" aria-required="true" autocorrect="off" name="" /></div>
    </div>
    <div class="content_list">
        <div class="tp">使用限制</div>
        <div class="ct">
            <div class="select_1">
                @Html.DropDownList("AvailableDateType", (SelectList)ViewBag.AvailableDateTypeList)
            </div>
        </div>
    </div>
    <div class="content_list custom_blank">
        <div class="tp">合併優惠</div>
        <div class="ct">
            <div class="select_1">
                <select id="combineUse">
                    <option value="0">不可與店內優惠合併使用</option>
                    <option value="1">可與店內優惠合併使用</option>
                </select>
            </div>
        </div>
    </div>
    <div class="btn_action btn_bottom">
        <div class="all"><a class="bg_red disable" id="save" data-label="@(levelText)">儲存</a></div>
    </div>
</div>
@Html.Hidden("versionId", (int)ViewBag.Version)
@section scripts{
    <script type="text/javascript">
        $(function () {
            pageEvent();
        });


        function pageEvent()
        {
            //[App]調整視窗高度，使鍵盤不要擋到輸入框
            var windowHalfHeight = $(window).height() / 2 + 20;
            $('.custom_blank').css({ 'margin-bottom': windowHalfHeight });

            //防呆
            $('#paymentPercent').on('change', function () {
                checkRequiredInput();
            });
            $('#txtOtherPremiums').on('input', function () {
                checkRequiredInput();
            });


            $('#save').on('click', function () {
                if (!$(this).hasClass('disable')) {
                    save();
                }
            });
        }

        function checkRequiredInput() {
            var paymentPercent = $('#paymentPercent').children('option:selected').val();
            var otherPremiums = $('#txtOtherPremiums').val();
            if (paymentPercent != 1 || otherPremiums.trim().length > 0) {
                $('#save').removeClass('disable');
            }
            else {
                $('#save').addClass('disable');
            }
        }

        function ValidateNumber(e, pnumber)
        {
            if (!/^\d+$/.test(pnumber))
            {
                $(e).val(/^\d+/.exec($(e).val()));
            }
            return false;
        }

        function getModel() {
            var card = {
                CardId: 0,
                Level:@ViewBag.Level,
                PaymentPercent: $('#paymentPercent').val(),
                OtherPremiums: $('#txtOtherPremiums').val(),
                OrderNeeded: $('#txtOrderNeeded').val(),
                AmountNeeded: $('#txtAmountNeeded').val(),
                ConditionalLogic: '0',
                OpenTime: '@Model.VersionOpenTime',
                CloseTime: '@Model.VersionCloseTime',
                Status:$('#chkStatus').is(':checked') ? 1:0,
                Instruction: $('#txtInstruction').val()
            };

            var model = {
                VersionId: $('#versionId').val(),
                CombineUse: $('#combineUse option:selected').val(),
                AvailableDateType: $('#AvailableDateType').val(),
                Card: card
            }

            return model;
        }

        function save() {
            var model = getModel();

            var deferred = $.ajax({
                type: "POST",
                url: 'SaveCard',
                data: model,
                dataType: "json"
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '返回', style: 'red', link: '@backUrl'
                    }
                ]
            };

            deferred.done(function (data) {
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }
    </script>
}