﻿@using LunchKingSite.BizLogic.Models
@using LunchKingSite.Core;
@using LunchKingSite.Core.Enumeration;
@model CardDashBoardViewModel
@{
    ViewBag.Title = "熟客系統設定";
    Layout = "_RegularsCardSettingLayout.cshtml";
    bool hasMultipleCard = Model.SellerGuidList.Count() > 1;
    bool allowPublish = (Model.IsCorporateImageSet && Model.IsSellerIntroSet && Model.IsApplyStoreSet) &&
                        ((Model.IsVipOn && Model.IsVipSet) || (Model.IsPointOn && Model.IsPointSet) || (Model.IsDepositOn && Model.IsDepositSet));
    string pointSettingUrl = Model.IsPointFirstSetting ? "PointFirstSetting" : "PointSetting";

    #region 權限控管
    string basicViewPermissionStyle = Model.HasPermission(VbsMembershipPermissionScope.PcpBasicView) ? string.Empty : "blocked";
    string offerViewPermissionStyle = Model.HasPermission(VbsMembershipPermissionScope.PcpMembershipCardView) ? string.Empty : "blocked";
    string depositViewPermissionStyle = Model.HasPermission(VbsMembershipPermissionScope.PcpDepositView) ? string.Empty : "blocked";
    string pointViewPermissionStyle = string.Empty;
    if (Model.IsPointFirstSetting)
    {
        pointViewPermissionStyle = Model.HasPermission(VbsMembershipPermissionScope.PcpPointEdit) ? string.Empty : "blocked";
    }
    else
    {
        pointViewPermissionStyle = Model.HasPermission(VbsMembershipPermissionScope.PcpPointView) ? string.Empty : "blocked";
    }
    #endregion
}
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card card_main">
        <div class="left">
            <a style="cursor:pointer;" onclick="returnHome();">
                <i class="fa fa-angle-left" aria-hidden="true"></i>首頁
            </a>
        </div>
        <div class="right">
            <a href="RegularsPreview">預覽</a>
            @if ((Model.IsInRole(VendorRole.PcpAdmin) && Model.CardGroup.Status != (int)MembershipCardGroupStatus.Unpublished))//變動條件，目前只有一個項目所以只判斷一個條件
            {
                <a id="menu"><i class="fa fa-ellipsis-v"></i></a>
                <div class="menu_overlay">
                    <div class="more_link">
                        @if (Model.IsInRole(VendorRole.PcpAdmin) && Model.CardGroup.Status != (int)MembershipCardGroupStatus.Unpublished)
                        {
                            <a id="switchStatus" onclick="switchCardGroupStatus();"><span id="switchStatusText">@((Model.CardGroup.Status == (int)MembershipCardGroupStatus.Published) ? "暫時隱藏" : "開始顯示")</span>熟客系統</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="content" class="card_main">
    <div class="content_inner">
        @if (hasMultipleCard)
        {
            <div class="content_list info_background">
                <div class="dropdown">
                    @RenderSellerGuidList()
                </div>
            </div>
        }
        @*●形象圖*@
        <a class="imageUpload @(basicViewPermissionStyle)" href="RegularsImageUpload?imgType=@((int)PcpImageType.CorporateImage)" data-type="@((int)PcpImageType.CorporateImage)">
            <div class="cover">
                <img src="@Model.ImageUrl" />
                <div class="input">
                    <div class="input_icon">
                        <i class="fa fa-camera"></i>
                    </div>
                    <div class="input_content">
                        <div class="input_body">
                            <div class="font24">編輯照片</div>
                            <div class="font12 font_red mind">*必填</div>
                        </div>
                    </div>
                </div>
                <div class="checkbox @(Model.IsCorporateImageSet ? "checkbox_on" : string.Empty)">
                    <label></label>
                </div>
            </div>
        </a>
        @*●商家介紹*@
        <a href="RegularsSellerIntro" class="@(basicViewPermissionStyle)">
            <div class="content_list">
                <div class="left">
                    <div class="left list_icon">
                        <div class="icon_bg icon_bg_blue">
                            <i class="fa fa-comment"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="font20 font_height100">商家介紹</div>
                        <div class="font12 font_red mind">*必填</div>
                        <div class="font14 font_gray9">好的故事 容易吸引消費</div>
                    </div>
                </div>
                <div class="right">
                    <div class="left">
                        <div class="checkbox @(Model.IsSellerIntroSet ? "checkbox_on" : string.Empty)">
                            <label></label>
                        </div>
                    </div>
                    <div class="right">
                        <i class="fa fa-angle-right inline_div"></i>
                    </div>
                </div>
            </div>
        </a>
        @*●適用分店*@
        <a href="RegularsApplyStore" class="@(basicViewPermissionStyle)">
            <div class="content_list">
                <div class="left">
                    <div class="left list_icon">
                        <div class="icon_bg icon_bg_brown">
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="font20 font_height100">適用分店</div>
                        <div class="font12 font_red mind">*必填</div>
                        <div class="font14 font_gray9">@(Model.ApplyStoreCount)間分店可用</div>
                    </div>
                </div>
                <div class="right">
                    <div class="left">
                        <div class="checkbox @(Model.IsApplyStoreSet ? "checkbox_on" : string.Empty)">
                            <label></label>
                        </div>
                    </div>
                    <div class="right">
                        <i class="fa fa-angle-right inline_div"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="content_inner">
        <div class="content_list_tp content_list_tp_nb">
            <div class="topic_bl_nb">
                <div class="font14">服務/功能設定</div>
                <div class="font12 font_red">*需至少設定一項功能</div>
            </div>
        </div>
        @*●會員優惠*@
        <a class="@(offerViewPermissionStyle) @(Model.IsVipOn ? string.Empty : "notEnabled")" @(Model.IsVipOn ? "href=CardListPortal" : string.Empty)>
            <div class="content_list">
                <div class="left">
                    <div class="left list_icon">
                        <img src="@Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_vip.png")" />
                    </div>
                    <div class="right">
                        <div class="font20 font_height100">會員優惠</div>
                        <div class="font14 font_gray9">讓熟客享有分級優惠</div>
                    </div>
                </div>
                <div class="right">
                    @if (Model.IsVipOn)
                    {
                        <div class="left">
                            <div class="checkbox @(Model.IsVipSet ? "checkbox_on" : string.Empty)">
                                <label></label>
                            </div>
                        </div>
                        <div class="right">
                            <i class="fa fa-angle-right inline_div"></i>
                        </div>
                    }
                    else
                    {
                        <div class="right_text">
                            <div class="font14 font_red">尚未啟用</div>
                        </div>
                    }
                </div>
            </div>
        </a>
        @*●點數功能*@
        <a class="@(pointViewPermissionStyle) @(Model.IsPointOn ? string.Empty : "notEnabled")" @(Model.IsPointOn ? string.Format("href={0}", pointSettingUrl) : string.Empty)>
            <div class="content_list">
                <div class="left">
                    <div class="left list_icon">
                        <img src="@Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_point.png")" />
                    </div>
                    <div class="right">
                        <div class="font20 font_height100">點數功能</div>
                        <div class="font14 font_gray9">使客戶再回流</div>
                    </div>
                </div>
                <div class="right">
                    @if (Model.IsPointOn)
                    {
                        <div class="left">
                            <div class="checkbox @(Model.IsPointSet ? "checkbox_on" : string.Empty)">
                                <label></label>
                            </div>
                        </div>
                        <div class="right">
                            <i class="fa fa-angle-right inline_div"></i>
                        </div>
                    }
                    else
                    {
                        <div class="right_text">
                            <div class="font14 font_red">尚未啟用</div>
                        </div>
                    }
                </div>
            </div>
        </a>
        @*●寄杯功能*@
        <a class="@(depositViewPermissionStyle)  @(Model.IsDepositOn ? string.Empty : "notEnabled")" @(Model.IsDepositOn ? "href=DepositMenuList": string.Empty)>
            <div class="content_list">
                <div class="left">
                    <div class="left list_icon">
                        <img src="@Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_coffee.png")" />
                    </div>
                    <div class="right">
                        <div class="font20 font_height100">寄杯功能</div>
                        <div class="font14 font_gray9">提供更好的消費體驗</div>
                    </div>
                </div>
                <div class="right">
                    @if (Model.IsDepositOn)
                    {
                        <div class="left">
                            <div class="checkbox @(Model.IsDepositSet ? "checkbox_on" : string.Empty)">
                                <label></label>
                            </div>
                        </div>
                        <div class="right">
                            <i class="fa fa-angle-right inline_div"></i>
                        </div>
                    }
                    else
                    {
                        <div class="right_text">
                            <div class="font14 font_red">尚未啟用</div>
                        </div>
                    }
                </div>
            </div>
        </a>
    </div>
    <div class="content_inner last_p">
        <div class="content_list_tp content_list_tp_nb">
            <div class="topic_bl_nb">
                <div class="font14">基本設定</div>
            </div>
        </div>
        @*●行銷跑馬燈*@
        <a class="@(basicViewPermissionStyle)" href="RegularsSellerMarquee">
            <div class="content_list">
                <div class="left">
                    <div class="left list_icon">
                        <div class="icon_bg icon_bg_orange">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="font20 font_height100">行銷跑馬燈</div>
                        <div class="font14 font_gray9">隨時調整您的商店資訊</div>
                    </div>
                </div>
                <div class="right">
                    <div class="left">
                        <div class="checkbox @(Model.IsMarqueeSet ? "checkbox_on" : string.Empty)">
                            <label></label>
                        </div>
                    </div>
                    <div class="right">
                        <i class="fa fa-angle-right inline_div"></i>
                    </div>
                </div>
            </div>
        </a>
        @*●環境圖*@
        <a class="imageUpload @(basicViewPermissionStyle)" href="RegularsImageUpload?imgType=@((int)PcpImageType.EnvironmentAroundStore)" data-type="@((int)PcpImageType.EnvironmentAroundStore)">
            <div class="content_list">
                <div class="left">
                    <div class="left list_icon">
                        <div class="icon_bg icon_bg_green">
                            <i class="fa fa-coffee"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="font20 font_height100">環境圖</div>
                        <div class="font14 font_gray9">美麗的照片能抓住目光</div>
                    </div>
                </div>
                <div class="right">
                    <div class="left">
                        <div class="checkbox @(Model.IsEnvironmentImageSet ? "checkbox_on" : string.Empty)">
                            <label></label>
                        </div>
                    </div>
                    <div class="right">
                        <i class="fa fa-angle-right inline_div"></i>
                    </div>
                </div>
            </div>
        </a>
        @*●餐點圖*@
        <a class="imageUpload @(basicViewPermissionStyle)" href="RegularsImageUpload?imgType=@((int)PcpImageType.Service)" data-type="@((int)PcpImageType.Service)">
            <div class="content_list">
                <div class="left">
                    <div class="left list_icon">
                        <div class="icon_bg icon_bg_red">
                            <i class="fa fa-cutlery"></i>
                        </div>
                    </div>
                    <div class="right">
                        <div class="font20 font_height100">餐點圖</div>
                        <div class="font14 font_gray9">美麗的照片能抓住目光</div>
                    </div>
                </div>
                <div class="right">
                    <div class="left">
                        <div class="checkbox @(Model.IsServiceImageSet ? "checkbox_on" : string.Empty)">
                            <label></label>
                        </div>
                    </div>
                    <div class="right">
                        <i class="fa fa-angle-right inline_div"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    @if (Model.CardGroup.Status != (int)MembershipCardGroupStatus.Unpublished)
    {
        string statusHintCss = (Model.CardGroup.Status == (int)MembershipCardGroupStatus.Published) ? "display:none;" : "";
        <div id="statusHint" class="btn_action btn_bottom" style="@(statusHintCss)">
            <div class="notice">目前您的熟客系統隱藏中</div>
        </div>
    }
    else
    {
        if (Model.IsInRole(VendorRole.PcpAdmin))
        {
            <div class="btn_action btn_bottom">
                <div class="all">
                    <a id="publish" class="bg_red @(allowPublish ? string.Empty:"disable")">發布</a>
                </div>
            </div>
        }
    }
    @Html.Hidden("cardGroupStatus", Model.CardGroup.Status)
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            pageEvent();
        });

        function pageEvent() {
            //沒權限或角色
            $('.blocked').on('click', function (e) {
                e.preventDefault();
                return false;
            });
            //功能沒啟用提示
            $('.notEnabled').on('click', function () {
                if (!$(this).hasClass('blocked')) {
                    serviceNotEnable();
                }
            });

            //圖片上傳(for Android)
            $('.imageUpload').on('click', function (e) {
                if (window.android) {
                    e.preventDefault();//停止導頁
                    var type = $(this).data('type');
                    showImageUploader(type);
                    return false;
                }
            });

            //右上角選單
            $('#menu').on('click', function () {
                $('.menu_overlay').show();
            });
            $('.menu_overlay').on('click', function () {
                $(this).hide();
            });
            //發布按鈕
            $('#publish').on('click', function () {
                if (!$(this).hasClass('disable')) {
                    switchCardGroupStatus();
                }
            });

            @if (hasMultipleCard)
            {
                <text>
                //卡片切換下拉選單
                var $sellerList = $('#sellerGuidList');
                if ($sellerList.length > 0) {
                    $sellerList.on('change', function () {
                        var sellerGuid = $(this).children('option:selected').val();
                        switchCard(sellerGuid);
                    });
                }
                </text>
            }
        }

        @if (hasMultipleCard)
        {
            <text>
            function switchCard(sellerGuid) {
                var deferred = $.ajax({
                    type: "POST",
                    url: "SwitchRegularsCard",
                    data: {
                        sellerGuid: sellerGuid
                    },
                    dataType: "json"
                });

                deferred.done(function (response) {
                    if (response.Success) {
                        //重整刷新頁面資訊
                        window.location.reload();
                    }
                }).fail(function () {
                    alert("未預期錯誤，請聯繫17Life技術人員");
                });
            }
            </text>
        }

        //for Android App
        function showImageUploader(type) {
            switch (type) {
                case @((int)PcpImageType.CorporateImage):
                    title = '@Helper.GetEnumDescription(PcpImageType.CorporateImage)';
                    break;
                case @((int)PcpImageType.EnvironmentAroundStore):
                    title = '@Helper.GetEnumDescription(PcpImageType.EnvironmentAroundStore)';
                    break;
                case @((int)PcpImageType.Service):
                    title = '@Helper.GetEnumDescription(PcpImageType.Service)';
                    break;
            }
            //title:開起來後的頁面標題
            //type:形象圖/菜單/環境圖
            //amount:可上傳的圖片張數
            //width:裁切完後的圖片實際寬度
            //height:裁切完後的圖片實際高度

            //Android網頁版圖片上傳效能不好，改用Native
            window.android.showImageUploader(title, type, 5, 640, 428);//寬高比為320x214，乘兩倍為了使圖片品質不要太差
            //function showImageUploader(string title, int type, int amount, int width, int height){}
        }

        function serviceNotEnable() {
            alert("很抱歉，您尚未啟用功能無法設定使用，如想使用，請洽17Life，將有專人為您服務。");
        }

        function switchCardGroupStatus() {
            var status = $('#cardGroupStatus').val();
            var enable;
            if (status == '@((int)MembershipCardGroupStatus.Published)') {
                enable = true;
            }
            else {
                enable = false;
            }

            var answer = false;
            switch (status) {
                case '@((int)MembershipCardGroupStatus.Published)':
                    answer = confirm("是否確定隱藏？消費者將無法在17Life APP看到您精心準備的熟客服務，但不影響已領取的會員使用。");
                    break;
                case '@((int)MembershipCardGroupStatus.Hidden)':
                    answer = confirm("是否確定顯示？消費者將可以在17Life APP看到您精心準備的熟客服務。");
                    break;
                default:
                    answer = confirm("是否確定要發布？消費者將可以在17Life APP看到您精心準備的熟客服務。");
                    break;
            }

            if (answer) {
                var deferred = $.ajax({
                    type: "POST",
                    url: "SwitchCardGroupStatus",
                    data: {
                        enable: !enable
                    },
                    dataType: "json"
                });

                deferred.done(function (response) {
                    if (response.Success) {
                        //重整刷新頁面資訊
                        window.location.reload();
                    }
                    else {
                        alert("操作失敗");
                    }
                }).fail(function () {
                    alert("未預期錯誤，請聯繫17Life技術人員");
                });
            }
        }
    </script>
}
@helper RenderSellerGuidList()
{
var sellerGuidList = Model.SellerGuidList;
if (sellerGuidList.Count() > 0)
{
        @*@Html.DropDownList("sellerGuidList", sellerGuidList)*@
        <select id="sellerGuidList" class="form-control input-lg">
            @foreach (var item in sellerGuidList)
            {
                string selected = (item.Selected) ? "selected=selected" : "";
                <option value="@item.Value" @selected>@item.Text 熟客系統</option>
            }
        </select>
}
}
