﻿@using LunchKingSite.BizLogic.Model;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Enumeration
@model MembershipCardQuarterModel
@{
    ViewBag.Title = "會員優惠";
    Layout = "_RegularsCardSettingLayout.cshtml";
    int year = DateTime.Now.Year;
    int seasonIndex = (DateTime.Now.Month - 1) / 3;//三個月一季[0, 1, 2, 3]

    DateTime currentStart = new DateTime(year, (3 * seasonIndex) + 1, 1);
    DateTime nextStart = currentStart.AddMonths(3);
    DateTime nextTwoStart = nextStart.AddMonths(3);
    string periodString = string.Format("{0:yyyy/MM/dd}~{1:yyyy/MM/dd}", currentStart, nextStart.AddDays(-1));//當季日期區間
    string nextPeriodString = string.Format("{0:yyyy/MM/dd}~{1:yyyy/MM/dd}", nextStart, nextTwoStart.AddDays(-1));//下一季日期區間

}
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card">
        <div class="left">
            <a href="CardDashBoard">
                <i class="fa fa-angle-left" aria-hidden="true"></i>熟客系統設定
            </a>
        </div>
    </div>
</div>
<div id="content" class="card_main">
    <div class="content_inner">
        <a href="CardList">
            <div class="content_list" style="margin-top: 10px;">
                <div class="left">
                    <div class="left">
                        <div class="font20 font_height100">編輯當季優惠</div>
                        <div class="font14 font_gray9">@periodString</div>
                    </div>
                </div>
                <div class="right">
                    <div class="right">
                        <i class="fa fa-angle-right inline_div"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="content_inner">
        <a href="CardList?type=next">
            <div class="content_list">
                <div class="left">
                    <div class="left">
                        <div class="font20 font_height100">編輯下一季優惠</div>
                        <div class="font14 font_gray9">@nextPeriodString</div>
                    </div>
                </div>
                <div class="right">
                    <div class="right">
                        <i class="fa fa-angle-right inline_div"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>