﻿@using LunchKingSite.BizLogic.Models;
@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Enumeration;
@model DepositMenuEditViewModel
@{
    ViewBag.Title = "編輯寄杯活動";
    Layout = "_RegularsVerifyLayout.cshtml";
    ViewBag.AlertWindowImg = Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_coffee.png");
    ViewPcpSellerMenuItem menu = Model.ItemList.FirstOrDefault();
    DateTime nowTime = DateTime.Now.Date;
    ViewBag.Disabled = (Model.Editable) ? "" : "disabled readonly";
}
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card card_main">
        <div class="left">
            <a href="DepositMenuList">
                <i class="fa fa-angle-left" aria-hidden="true"></i>寄杯功能
            </a>
        </div>
        <div class="right">
            @RenderMenu()
        </div>
    </div>
</div>
<div id="content" class="card">
    <div class="content_inner">
        <div class="content_group">
            <div class="title">
                <div class="main_title">寄杯活動名稱</div>
                <div class="sub_title">（最多15個字）</div>
            </div>
            <div class="input_text">
                <input id="menuTitle" type="text" value="@menu.Title" placeholder="ex: 買一送一" @Html.Raw(ViewBag.Disabled) maxlength="15">
            </div>
            @if (Model.Editable)
            {
                <div id="menuTemplate" class="tag_group">
                    @RenderTemplateList(PcpDepositTemplateType.Menu)
                    <div class="edit" data-templatetype="@((int)PcpDepositTemplateType.Menu)">編輯常用活動</div>
                </div>
            }
        </div>
        <div id="itemGroup" class="content_group">
            <div class="title">
                <div class="main_title">可接受寄杯的商品全名</div>
                <div class="sub_title">（最多15個字）</div>
            </div>
            @RenderItemEditor()
            @if (Model.Editable)
            {
                <div id="itemTemplate" class="tag_group">
                    @RenderTemplateList(PcpDepositTemplateType.Item)
                    <div class="edit" data-templatetype="@((int)PcpDepositTemplateType.Item)">編輯常用商品</div>
                </div>
            }
        </div>
        @if (Model.Editable)
        {
            <div id="addItem" class="add_item">＋新增商品</div>
        }
    </div>
    <div class="content_inner">
        <div class="content_group">
            <div class="title">
                <div class="main_title">寄杯活動開始時間</div>
            </div>
            <div class="input_text">
                <input id="startDate" type="datetime-local" value="@string.Format("{0:yyyy-MM-ddTHH:mm}", menu.STime)" @Html.Raw(ViewBag.Disabled)>
            </div>
            @if (Model.Editable)
            {
                <div class="tag_group">
                    <div class="date_start tag" data-type="now">
                        立即開始
                        <i class="fa fa-check check_layer"></i>
                    </div>
                    <div class="date_start tag" data-type="tomorrow">
                        明天開始
                        <i class="fa fa-check check_layer"></i>
                    </div>
                    <div class="date_start tag" data-type="threeDays">
                        3天後開始
                        <i class="fa fa-check check_layer"></i>
                    </div>
                    <div class="date_start tag" data-type="nextWeek">
                        下週開始
                        <i class="fa fa-check check_layer"></i>
                    </div>
                </div>
            }
        </div>
        <div class="content_group">
            <div class="title">
                <div class="main_title">寄杯活動結束時間</div>
            </div>
            <div class="input_text">
                <input id="endDate" type="datetime-local" value="@string.Format("{0:yyyy-MM-ddTHH:mm}", menu.ETime)">
            </div>
            <div class="tag_group">
                <div class="date_end tag" data-type="1m">
                    一個月
                    <i class="fa fa-check check_layer"></i>
                </div>
                <div class="date_end tag" data-type="2m">
                    兩個月
                    <i class="fa fa-check check_layer"></i>
                </div>
                <div class="date_end tag" data-type="3m">
                    三個月
                    <i class="fa fa-check check_layer"></i>
                </div>
                <div class="date_end tag" data-type="6m">
                    六個月
                    <i class="fa fa-check check_layer"></i>
                </div>
                <div class="date_end tag" data-type="1y">
                    一年
                    <i class="fa fa-check check_layer"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="content_inner last">
        <div class="content_group">
            <div class="provision">
                <div class="checkbox">
                    <input id="agree" type="checkbox" checked="checked" disabled>
                    <label for="agree"></label>
                </div>
                發行寄杯即同意下列條款
            </div>
            <ul class="provision_list">
                <li>請注意！<br />新增活動後可自行啟用、停用、刪除、編輯，但活動已經有消費者寄杯時，則該活動不得刪除/編輯。</li>
            </ul>
        </div>
        <div id="alertMsg" class="hidden alert alert-danger"></div>
    </div>
    <div class="btn_action btn_bottom">
        <div class="all"><a id="save" class="bg_red">儲存變更</a></div>
    </div>
    @Html.Hidden("menuEnabled", menu.Enabled)
</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Tools/js/moment.js")"></script>/>
    <script type="text/javascript">
        var localStorageName = "DepositMenuEdit";
        var lastFocusItem = null;//最後點選商品的DOM
        $(function () {
            recover();
            enableUIfunction();
            checkLockSave();
        });
        //復原前一次未存檔編輯中的資料
        function recover() {
            if (localStorage.getItem(localStorageName) !== null) {
                var model = JSON.parse(localStorage.getItem(localStorageName));
                if (model != null && model.url == location.href) {
                    $('#menuTitle').val(model.Title);
                    // #region 復原商品start
                    $.each($('.input_delete'), function (i, obj) {
                        this.remove();
                    });
                    var itemList = model.ItemList;//itemName###itemId
                    for (var i = 0; i < itemList.length; i++) {
                        addItem();
                        var tempItemName = itemList[i].split('###')[0];
                        var tempItemId = itemList[i].split('###')[1];
                        $('.itemName').last().val(tempItemName).data('itemid', tempItemId);
                    }
                    checkDisabledDelBtn();
                    // #endregion
                    $('#startDate').val(moment(new Date(model.STime)).format('YYYY-MM-DDTHH:mm'));
                    $('#endDate').val(moment(new Date(model.ETime)).format('YYYY-MM-DDTHH:mm'));
                }
                localStorage.removeItem(localStorageName);
            }
        }
        function enableUIfunction() {
            @if (Model.Editable)
            {
                <text>
            //活動文字帶入功能
            $('.tagMenu').on('click', function () {
                var title = $(this).text();
                $('#menuTitle').val(title).trigger('change');
            });
            //商品文字帶入功能
            $('#itemGroup').on('focus', '.input_text .itemName', function () {
                lastFocusItem = this;
            });
            $('.tagItem').on('click', function () {
                var name = $(this).text();
                $(lastFocusItem).val(name).trigger('change');
            });
            //編輯常用活動/商品
            $('.edit').on('click', function () {
                var templateType = $(this).data('templatetype');
                var model = getModel();
                model.url = location.href;
                localStorage.setItem(localStorageName, JSON.stringify(model));//client儲存編輯中的資料
                var from = encodeURIComponent(location.href);
                window.location = 'DepositTemplateList?menuAddEditUrl=' + from + '&templateType=' + templateType;
            });
            //開始日期按鈕點選事件
            $('.date_start').on('click', function () {
                //資料
                var type = $(this).data('type');
                var date = moment().startOf('day');
                switch (type) {
                    case 'tomorrow':
                        date.add(1, 'd');
                        break;
                    case 'threeDays':
                        date.add(3, 'd');
                        break;
                    case 'nextWeek':
                        date.add(1, 'w');
                        break;
                    default://'now'
                        break;
                }
                $('#startDate').val(date.format('YYYY-MM-DDTHH:mm')).trigger('change');
            });
            //新增商品按鈕
            $('#addItem').on('click', function () {
                addItem();
                lastFocusItem = $('.itemName').last().get(0);
                checkDisabledDelBtn();
                checkLockSave();
            });
            //刪除商品按鈕
            $('#itemGroup').on('click', '.input_delete .delete', function () {
                if (!$(this).hasClass('invalid')) {
                    $(this).parent('.input_delete').remove();
                    checkDisabledDelBtn();
                    checkLockSave();
                }
            });
            //刪除整個活動
            $('#deleteMenu').on('click', function () {
                if (confirm("是否確定刪除？")) {
                    var deferred = $.ajax({
                        url: "SellerDepositMenuDelete",//"Url.Action("SellerDepositMneuDelete", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤
                        method: "POST",
                        data: {
                            menuId: '@menu.MenuId'
                        },
                        dataType: "json"
                    });

                    var options = {
                        resultIcon: false,
                        buttons: [
                            {
                                name: '返回', style: 'red', link: 'DepositMenuList'
                            }
                        ]
                    };

                    deferred.done(function (data) {
                        options.message = data.Message;
                        options.resultIcon = data.Success;
                        alertCore.init(options).show();
                    }).fail(function () {
                        alertCore.init(options).unexpectedError();
                    });
                }
            });
            </text>
            }
            //結束日期按鈕點選事件
            $('.date_end').on('click', function () {
                //資料
                var type = $(this).data('type');
                var startDate = new Date($('#startDate').val());
                var date = new moment(startDate).utc();
                switch (type) {
                    case '1m':
                        date.add(1, 'M');
                        break;
                    case '2m':
                        date.add(2, 'M');
                        break;
                    case '3m':
                        date.add(3, 'M');
                        break;
                    case '6m':
                        date.add(6, 'M');
                        break;
                    case '1y':
                        date.add(1, 'y');
                        break;
                }
                $('#endDate').val(date.format('YYYY-MM-DDTHH:mm')).trigger('change');
            });
            //右上角選單
            $('#menu').on('click', function () {
                $('.menu_overlay').show();
            });
            $('.menu_overlay').on('click', function () {
                $(this).hide();
            });
            //開始顯示/暫時隱藏活動
            $('#switchEnableMenu').on('click', function () {
                switchEnableMenu();
            });
            //必填項目檢查
            $('body').on('input change', 'input', function () {
                checkLockSave();
            });
            //儲存
            $('#save').on('click', function () {
                var result = validate();
                if (result.valid) {
                    saveMenu(result.model);
                }
                else {
                    alert(result.alertMsg);
                }
            });
        }

        @if (Model.Editable)
        {
            <text>
        function addItem() {
            var box = $('<div class="input_text input_delete">');
            var item = $('<input class="itemName" type="text" placeholder="ex: 焦糖瑪奇朵" maxlength="15" />');
            var delBtn = $('<div class="delete"><i class="fa fa-trash"></i></div>');
            $('#itemTemplate').before(box.append(item).append(delBtn));
        }
        function checkDisabledDelBtn() {
            var delCount = $('.delete').length;
            if (delCount > 1) {
                $('.delete').removeClass('invalid');
            }
            else {
                $('.delete').addClass('invalid');
            }
        }
        </text>
        }
        function checkLockSave() {
            var result = validate();
            if (result.valid) {
                $('#save').removeClass('disable');
            }
            else {
                $('#save').addClass('disable');
            }
        }

        function switchEnableMenu() {
            var menuId = @menu.MenuId;
            var enable = ($('#menuEnabled').val() == '1') ? 0 : 1;

            var deferred = $.ajax({
                url: "SellerDepositMenuEnable", //Url.Action("SellerDepositMenuEnable", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤
                method: "POST",
                data: {
                    menuId: menuId,
                    enable: enable
                },
                dataType: "json"
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '返回', style: 'red', link: 'DepositMenuList'
                    }
                ]
            };

            deferred.done(function (data) {
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }

        function validate() {
            var result = {
                valid: true,
                alertMsg: '',
                model: null
            };
            var line = "\n";

            model = getModel();

            //check start
            if (model.Title.replace(/\s/g, '') == '') {
                result.alertMsg += '活動名稱為必填' + line;
                result.valid = false;
            }
            if (model.ItemList.length == 0) {
                result.alertMsg += '尚未加入任何商品' + line;
                result.valid = false;
            }
            var empty = false;
            $.each(model.ItemList, function (i, obj) {
                var item = obj.split('###')[0];
                if (item.replace(/\s/g, '') == '') {
                    empty = true;
                    result.valid = false;
                }
            });
            if (empty) {
                result.alertMsg += '商品名稱不可空白' + line;
                result.valid = false;
            }
            if (model.STime == null) {
                result.alertMsg += '開始時間未設定或格式不正確' + line;
                result.valid = false;
            }
            if (model.ETime == null) {
                result.alertMsg += '結束時間未設定或格式不正確' + line;
                result.valid = false;
            }
            if (model.STime != null && model.ETime != null) {
                if (model.sTimeStamp > model.eTimeStamp) {
                    result.alertMsg += '開始時間不能大於結束時間' + line;
                    result.valid = false;
                }
            }
            if (!$('#agree').prop('checked')) {
                result.alertMsg += '尚未同意寄杯條款' + line;
                result.valid = false;
            }
            //check end

            result.alertMsg = result.alertMsg.trim(line);
            if (result.valid) {
                result.model = model;
            }
            return result;
        }

        function getModel() {
            var model = {
                MenuId: @menu.MenuId,
                Title: '',
                STime: null,
                ETime: null,
                ItemList: [],
                sTimeStamp: 0,
                eTimeStamp: 0
            };

            model.Title = $('#menuTitle').val();
            var sTime = moment(new Date($('#startDate').val()));
            if (sTime.isValid()) {
                model.STime = sTime.utc().format('YYYY/MM/DD HH:mm');//to C# DateTime
                model.sTimeStamp = sTime.toDate().getTime();
            }
            var eTime = moment(new Date($('#endDate').val()));
            if (eTime.isValid()) {
                model.ETime = eTime.utc().format('YYYY/MM/DD HH:mm');//to C# DateTime
                model.eTimeStamp = eTime.toDate().getTime();
            }
            $.each($('.itemName'), function (i, obj) {
                var itemId = ($(obj).data('itemid') === undefined) ? 0 : $(obj).data('itemid');
                model.ItemList.push($(obj).val() + '###' + itemId);
            })
            return model;
        }

        function saveMenu(model) {
            var deferred = $.ajax({
                url: "SellerDepositMenuEdit", //Url.Action("SellerDepositMenuEdit", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤
                method: "POST",
                data: model,
                dataType: "json"
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '返回', style: 'red', link: 'DepositMenuList'
                    }
                ]
            };

            deferred.done(function (data) {
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }
    </script>
}
@helper RenderMenu()
{
ViewPcpSellerMenuItem menu = Model.ItemList.FirstOrDefault();
if (menu.MenuId != 0)
{
    if ((Model.Editable && Model.HasPermission(VbsMembershipPermissionScope.PcpDepositEdit)) ||
                Model.IsInRole(VendorRole.PcpAdmin))
    {
        <a id="menu"><i class="fa fa-ellipsis-v"></i></a>
        <div class="menu_overlay">
            <div class="more_link">
                @if (Model.Editable && Model.HasPermission(VbsMembershipPermissionScope.PcpDepositEdit))
                {
                    <a id="deleteMenu">刪除活動</a>
                }
                @if (Model.IsInRole(VendorRole.PcpAdmin))
                {
                    <a id="switchEnableMenu">@(menu.Enabled == (int)PcpDepositMenuEnabled.Enabled ? "暫停" : "啟用")寄杯活動</a>
                }
            </div>
        </div>
    }
}
}
@helper RenderItemEditor()
{
List<ViewPcpSellerMenuItem> itemList = Model.ItemList;
string invalidDelete = itemList.Count > 1 ? "" : "invalid";
foreach (var item in itemList)
{
        <div class="input_text input_delete">
            <input class="itemName" type="text" value="@item.ItemName" placeholder="ex: 焦糖瑪奇朵" data-itemid="@item.ItemId" @Html.Raw(ViewBag.Disabled) maxlength="15">
            @if (Model.Editable)
        {
                <div class="delete @(invalidDelete)"><i class="fa fa-trash"></i></div>
            }
        </div>
}
}
@helper RenderTemplateList(PcpDepositTemplateType type)
{
var list = Model.TemplateList.Where(x => x.Type == (int)type).ToList();
string classText = string.Empty;
switch (type)
{
    case PcpDepositTemplateType.Menu:
        classText = "tagMenu";
        break;
    case PcpDepositTemplateType.Item:
        classText = "tagItem";
        break;
    default:
        break;
}
foreach (var template in list)
{
        <div class="tag @(classText)">@template.Template</div>
}
}