﻿@using LunchKingSite.Core;
@{
    Layout = null;
    
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link type="text/css" rel="stylesheet" href="../Themes/default/images/17Life/Regulars/css/base.css" />
    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-1.9.1.min.js")'></script>
    <script type="text/javascript">
        $(function () {



            BirthDaySetting();


            var strUrl = window.location.href
            var SellerMemberId = null;
            var BirthDay = null;
            if (strUrl.split('?').length > 1)
                SellerMemberId = strUrl.split('?')[1].split('=')[1];

            if (SellerMemberId != null) {
                $.ajax({
                    type: "POST",
                    url: '@ViewBag.SiteUrl' + '/api/PCP/MemberDetail?AccessToken=' + '@ViewBag.Token',
                    data: '{"UserId":"' + "null" + '","SellerMemberId":"' + SellerMemberId + '"}',
                    //headers: {
                    //    "Authorization": "Bearer " + '@ViewBag.Token',
                    //},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        $('#txtFirstName').val(res.Data.FirstName);
                        $('#txtLastName').val(res.Data.LastName);
                        $('#txtMobile').val(res.Data.Mobile);
                        $('input:radio[name="gender"][value=' + res.Data.Gender + ']').attr('checked', 'checked');
                        var Birthday = new Date(res.Data.Birthday);
                        if (res.Data.Birthday != null) {
                            $('[name=year]').val(res.Data.Birthday.substring(0, 4));
                            $('[name=month]').val(parseInt(res.Data.Birthday.substring(4, 6)));
                            $('[name=month]').trigger('change');
                            $('[name=day]').val(parseInt(res.Data.Birthday.substring(6, 8)));
                        }

                        $('#txtRemarks').val(res.Data.Remarks);

                    }, error: function (res) {
                        alert('Error: ' + res.statusText + ' Errorstatus: ' + res.status);
                    }
                });
            }


            $('#Save').click(function () {

                if ($('#txtMobile').val().length != 10) {
                    alert('電話號碼格式不正確，請重新填寫');
                    return;
                }
                if (($('select[name=year]').val() == 0 || $('select[name=month]').val() == 0 || $('select[name=day]').val() == 0) && ($('select[name=year]').val() != 0 || $('select[name=month]').val() != 0 || $('select[name=day]').val() != 0)) {
                    alert('生日填寫不完整，請重新填寫');
                    return;
                }

                if ($('select[name=year]').val() != 0 && $('select[name=month]').val() != 0 && $('select[name=day]').val() != 0) {
                    BirthDay = '"' + padLeft($('select[name=year]').val(), 4) + padLeft($('select[name=month]').val(), 2) + padLeft($('select[name=day]').val(), 2) + ' 000000 +0800"';
                }


                $.ajax({
                    type: "POST",
                    @*url: "@Url.Action("MemberSave")",*@
                    url:"../mvc/RegularsSystem/MemberSave",//主要是android抓不到上方的action
                    data: '{"strToken":"' + '@ViewBag.Token' + '","SellerMemberId":"' + SellerMemberId + '","FirstName":"' + $('#txtFirstName').val() + '","LastName":"' + $('#txtLastName').val() +
                         '","Mobile":"' + $('#txtMobile').val() + '","Gender":"' + $('input:radio:checked[name="gender"]').val() +
                         '","Birthday":' + BirthDay +
                         ',"Remarks":"' + $('#txtRemarks').val() + '"}',
                    //headers: {
                    //    "Authorization": "Bearer " + '@ViewBag.Token',
                    //},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        if (res.Success)
                        {
                            if (res.Message == "呼叫成功") {
                                if (SellerMemberId == null) {
                                    alert('新增成功');
                                }
                                else {
                                    alert('異動成功');
                                }
                                window.location = "Member";
                            }
                        }
                        else {
                            alert("Error：" + res.Message);
                        }                        
                    }, error: function (res,status) {
                        alert('Error： ' + res.statusText + ' \nErrorStatus： ' + res.status + '\nStatus：' + status);
                        alert(this.url);
                    }
                });

                //不知為何直接呼叫會錯
                @*$.ajax({
                    type: "POST",
                    url: '@ViewBag.SiteUrl' + '/api/PCP/SetMemberDetail?AccessToken=' + '@ViewBag.Token',
                    data: '{"SellerMemberId":"' + SellerMemberId + '","FirstName":"' + $('#txtFirstName').val() + '","LastName":"' + $('#txtLastName').val() +
                         '","Mobile":"' + $('#txtMobile').val() + '","Gender":"' + $('input:radio:checked[name="gender"]').val() +
                         '","Birthday":"' + BirthDay +
                         '","Remarks":"' + $('#txtRemarks').val() + '"}',
                    //headers: {
                    //    "Authorization": "Bearer " + '@ViewBag.Token',
                    //},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        if (res.Message == "發現重複的手機號碼。")
                        {

                        }
                        else if (res.Message == "呼叫成功")
                        {
                            if (SellerMemberId == null)
                                alert('新增成功');
                            else
                                alert('異動成功');
                            window.location = "Member";
                        }

                    }, error: function (res) {
                        alert(res);
                    }
                });*@
            });
        });

        function BirthDaySetting() {
            var accDate = new Date();
            for (i = accDate.getFullYear() ; i > accDate.getFullYear() - 100 ; i--) {
                $('select[name="year"]').append($("<option></option>").attr("value", i).text(i));
            }

            for (i = 1; i <= 12 ; i++) {
                $('select[name="month"]').append($("<option></option>").attr("value", i).text(i));
            }

            $('select[name="year"]').change(function () {
                if ($('select[name="month"]').val() == 2 && $(this).val() % 4 == 0) {
                    $('select[name="day"]  option').remove();
                    $('select[name="day"]').append($("<option></option>").attr("value", 0).text("請選擇"));
                    for (i = 1; i <= 29 ; i++) {
                        $('select[name="day"]').append($("<option></option>").attr("value", i).text(i));
                    }
                }
                else if ($('select[name="month"]').val() == 2 && $(this).val() % 4 != 0) {
                    $('select[name="day"]  option').remove();
                    $('select[name="day"]').append($("<option></option>").attr("value", 0).text("請選擇"));
                    for (i = 1; i <= 28 ; i++) {
                        $('select[name="day"]').append($("<option></option>").attr("value", i).text(i));
                    }
                }
            });

            $('select[name="month"]').change(function () {
                $('select[name="day"]  option').remove();
                $('select[name="day"]').append($("<option></option>").attr("value", 0).text("請選擇"));
                if ($(this).val() == 1 || $(this).val() == 3 || $(this).val() == 5 || $(this).val() == 7 || $(this).val() == 8 || $(this).val() == 10 || $(this).val() == 12) {
                    for (i = 1; i <= 31 ; i++) {
                        $('select[name="day"]').append($("<option></option>").attr("value", i).text(i));
                    }

                }
                else if ($(this).val() == 4 || $(this).val() == 6 || $(this).val() == 9 || $(this).val() == 11) {
                    for (i = 1; i <= 30 ; i++) {
                        $('select[name="day"]').append($("<option></option>").attr("value", i).text(i));
                    }
                }
                else if ($(this).val() == 2 && $('select[name="year"]').val() % 4 == 0) {
                    for (i = 1; i <= 29 ; i++) {
                        $('select[name="day"]').append($("<option></option>").attr("value", i).text(i));
                    }
                }
                else if ($(this).val() == 2 && $('select[name="year"]').val() % 4 != 0) {
                    for (i = 1; i <= 28 ; i++) {
                        $('select[name="day"]').append($("<option></option>").attr("value", i).text(i));
                    }
                }
            })
        }

        function padLeft(str, lenght) {
            if (str.length >= lenght)
                return str;
            else
                return padLeft("0" + str, lenght);
        }

        function goToLogin() {
            var tInterval = setInterval(function () {
                if (window.android) {  // android平台
                    clearInterval(tInterval);
                    window.android.goToLogin();
                } else if (window.ios) {  // ios平台
                    clearInterval(tInterval);
                    window.ios.goToLogin();
                }
            }, 100);
        }
    </script>
</head>
<body>
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <script type="text/javascript">
            alert('token:[' + '@ViewBag.Token' + "]");
            alert('error:[' + '@ViewBag.Error' + "]");
            goToLogin();
        </script>
    }
    <div id="container">
        <div id="header">
            <div class="header_topic">新增會員</div>
            <div id="nav" class="member">
                <div class="left"><a href="Member"><img src="../Themes/default/images/17Life/Regulars/images/icon_back.png" /></a></div>
                <div class="right"><a href="#"></a></div>
            </div>
        </div>
        <div id="content">
            <div class="content_topic">會員基本資料</div>
            <div class="content_list">
                <div class="tp">會員姓名 (必填)</div>
                <div class="ct">
                    <input class="text_3" type="text" placeholder="姓氏" value="" tabindex="1" aria-required="true" autocorrect="off" name="" id="txtFirstName" /><input class="text_4" type="text" placeholder="名字" value="" tabindex="1" aria-required="true" autocorrect="off" name="" id="txtLastName" />
                </div>
            </div>
            <div class="content_list">
                <div class="tp">會員手機 (必填)</div>
                <div class="ct"><input class="text_1" type="text" placeholder="例：0933XXXXXX" value="" tabindex="1" aria-required="true" autocorrect="off" name="" id="txtMobile" /></div>
            </div>
            <div class="content_list">
                <div class="tp">會員性別</div>
                <div class="ct">
                    <div class="radio_1">
                        <input type="radio" name="gender" value="@((int)GenderType.Male)" checked />男
                    </div>
                    <div class="radio_1">
                        <input type="radio" name="gender" value="@((int)GenderType.Female)" />女
                    </div>
                </div>
            </div>
            <div class="content_list">
                <div class="tp">會員生日</div>
                <div class="ct">
                    <div class="select_1">
                        <select class="" name="year">
                            <option value="0" selected>請選擇</option>
                        </select>
                    </div>
                    <div class="select_title">年</div>
                    <div class="mobile_hide_clear"></div>
                    <div class="select_1">
                        <select class="" name="month">
                            <option value="0" selected>請選擇</option>
                        </select>
                    </div>
                    <div class="select_title">月</div>
                    <div class="select_1">
                        <select class="" name="day">
                            <option value="0" selected>請選擇</option>
                        </select>
                    </div>
                    <div class="select_title">日</div>
                </div>
            </div>
            <div class="content_list w100">
                <div class="tp">備註</div>
                <div class="ct"><input class="text_1" type="text" placeholder="非必填" tabindex="1" aria-required="true" autocorrect="off" name="" id="txtRemarks" /></div>
            </div>
            <div class="btn_action">
                <div class="left"><a class="bg_gray" href="Member">取消</a></div>
                <div class="right"><a class="bg_red" id="Save">完成</a></div>
            </div>
        </div>
    </div>
</body>

</html>
