﻿@using LunchKingSite.BizLogic.Models.Regulars;
@using LunchKingSite.Core.Enumeration;
@model ConsumptionDetailModel
@{
    ViewBag.Title = "消費明細";
    Layout = "_RegularsMemberLayout.cshtml";
}
    <script type="text/javascript">
        $(function () {
            $('#UseServiceItem').change(function () {
                $("#container").submit();
            });
            $('#UseTimeRange').change(function () {
                $("#container").submit();
            });
        });
    </script>

    <form id="container">
        @Html.Hidden("source", (int)ViewBag.Source)
        @Html.Hidden("userId", Model.UserId)
        @Html.Hidden("cgid", Model.CardGroupId)
        <div id="header">
            <div class="header_topic">@ViewBag.Title</div>
            <div id="nav" class="member">
                <div class="left"><a href="@string.Format("MemberDetail?source={0}&userId={1}", ViewBag.Source, Model.UserId)"><i class="fa fa-angle-left"></i>會員詳細資料</a></div>
            </div>
        </div>
        <div id="content" class="card_main member">
            <div class="content_inner">
                <div class="content_list content_list_nb">
                    <div class="col-xs-12 padding_none">
                        <div class="dropdown">
                            <select class="form-control input-lg" id="UseServiceItem" name="UseServiceItem">
                                @foreach (var i in Model.UseServiceItemList)
                                {
                                    <option value="@i.Value" selected="@i.Selected">@i.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 padding_none">
                        <div class="dropdown">
                            <select class="form-control input-lg" id="UseTimeRange" name="UseTimeRange">
                                @foreach (var i in Model.UseTimeRangeList)
                                {
                                    <option value="@i.Value" selected="@i.Selected">@i.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_inner">                    
                    @{foreach (var i in Model.ViewList)
                    {
                        switch (i.CategoryType)
                        {
                            case MembershipService.Vip:  @*會員優惠明細格式*@
                                <div class="detail_tag">
                                    <div class="font12">熟客優惠</div>
                                </div>
                                <div class="content_list nob_grid ">
                                    <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                    <div class="font16 font_center">使用熟客優惠</div>
                                    @if (i.OriginalAmount1!=0)
                                    {
                                        <div class="ct ct_first">
                                            <div class="left_text">消費金額</div>
                                            <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>元</div>
                                        </div>
                                    }
                                    <div class="ct ct_first">
                                        <div class="left_text">使用地點</div>
                                        <div class="right_text font14">@i.StoreName</div>
                                    </div>
                                </div>
                                break;
                            case MembershipService.Deposit:@*寄杯明細格式*@
                                switch (i.LogType)
                                {
                                    case PcpUserDepositLogType.Add:
                                    <div class="detail_tag">
                                        <div class="font12">新增寄杯</div>
                                    </div>
                                    <div class="content_list nob_grid ">
                                        <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                        <div class="font16 font_center">@i.Title</div>
                                        @if (!string.IsNullOrEmpty(i.ItemName))
                                        {
                                            <div class="ct ct_first">
                                                <div class="left_text">品項</div>
                                                <div class="right_text font14">@i.ItemName</div>
                                            </div>
                                        }
                                        <div class="ct ct_first">
                                            <div class="left_text">購買數量</div>
                                            <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>杯</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">現場兌換</div>
                                            <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>杯</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">剩餘寄杯</div>
                                            <div class="right_text"><span class="font_red">@i.RemainAmount3</span>杯</div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">使用地點</div>
                                            <div class="right_text font14">@i.StoreName</div>
                                        </div>
                                    </div>
                                        break;
                                    case PcpUserDepositLogType.Use:
                                        <div class="detail_tag">
                                            <div class="font12">兌換寄杯</div>
                                        </div>
                                        <div class="content_list nob_grid ">
                                            <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                            <div class="font16 font_center">@i.Title</div>
                                            @if (!string.IsNullOrEmpty(i.ItemName))
                                            {
                                                <div class="ct ct_first">
                                                    <div class="left_text">品項</div>
                                                    <div class="right_text font14">@i.ItemName</div>
                                                </div>
                                            }
                                            <div class="ct ct_first">
                                                <div class="left_text">寄杯數量</div>
                                                <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>杯</div>
                                            </div>
                                            <div class="ct">
                                                <div class="left_text">現場兌換</div>
                                                <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>杯</div>
                                            </div>
                                            <div class="ct">
                                                <div class="left_text">繼續寄杯</div>
                                                <div class="right_text"><span class="font_red">@i.RemainAmount3</span>杯</div>
                                            </div>
                                            <div class="ct ct_first">
                                                <div class="left_text">使用地點</div>
                                                <div class="right_text font14">@i.StoreName</div>
                                            </div>
                                        </div>
                                        break;
                                    case PcpUserDepositLogType.Correct:
                                        <div class="detail_tag">
                                            <div class="font12">更正寄杯</div>
                                        </div>
                                        <div class="content_list nob_grid ">
                                            <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                            <div class="font16 font_center">@i.Title</div>
                                            @if (!string.IsNullOrEmpty(i.ItemName))
                                            {
                                            <div class="ct ct_first">
                                                <div class="left_text">品項</div>
                                                <div class="right_text font14">@i.ItemName</div>
                                            </div>
                                            }
                                            <div class="ct ct_first">
                                                <div class="left_text">原有數量</div>
                                                <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>杯</div>
                                            </div>
                                            <div class="ct">
                                                <div class="left_text">更正數量</div>
                                                <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>杯</div>
                                            </div>
                                            <div class="ct">
                                                <div class="left_text">更正後數量</div>
                                                <div class="right_text"><span class="font_red">@i.RemainAmount3</span>杯</div>
                                            </div>
                                            <div class="ct ct_first">
                                                <div class="left_text">使用地點</div>
                                                <div class="right_text font14">@i.StoreName</div>
                                            </div>
                                        </div>
                                        break;
                                }
                                break;
                            case MembershipService.Point: @*集點明細格式*@
                                switch (i.SetType)
                                {
                                    case PcpUserPointSetType.Correct:
                                    <div class="detail_tag">
                                        <div class="font12">更正點數</div>
                                    </div>
                                    <div class="content_list nob_grid ">
                                        <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                        <div class="ct ct_first">
                                            <div class="left_text">原有點數</div>
                                            <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>點</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">更正點數</div>
                                            <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>點</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">更正後點數</div>
                                            <div class="right_text"><span class="font_red">@i.RemainAmount3</span>點</div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">使用地點</div>
                                            <div class="right_text font14">@i.StoreName</div>
                                        </div>
                                    </div>
                                        break;
                                    case PcpUserPointSetType.Exchange:
                                    <div class="detail_tag">
                                        <div class="font12">兌換點數</div>
                                    </div>
                                    <div class="content_list nob_grid ">
                                        <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                        <div class="font16 font_center">@i.ItemName </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">原本點數</div>
                                            <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>點</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">使用點數</div>
                                            <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>點</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">剩餘點數</div>
                                            <div class="right_text"><span class="font_red">@i.RemainAmount3</span>點</div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">使用地點</div>
                                            <div class="right_text font14">@i.StoreName</div>
                                        </div>
                                    </div>
                                        break;
                                    case PcpUserPointSetType.Collect:
                                        <div class="detail_tag">
                                            <div class="font12">發送點數</div>
                                        </div>
                                        <div class="content_list nob_grid ">
                                            <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                            <div class="ct ct_first">
                                                <div class="left_text">消費金額</div>
                                                <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>元</div>
                                            </div>
                                            <div class="ct">
                                                <div class="left_text">發送點數</div>
                                                <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>點</div>
                                            </div>
                                            <div class="ct ct_first">
                                                <div class="left_text">使用地點</div>
                                                <div class="right_text font14">@i.StoreName</div>
                                            </div>
                                        </div>
                                        break;
                                }
                                break;
                            }
                    }
                }
            </div>
        </div>
    </form>
