﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Model;
@model GetMemberModel
@{
    ViewBag.Title = "會員資訊";
    Layout = "_RegularsMemberLayout.cshtml";

    List<SelectListItem> sellerGuidList = ViewBag.SellerGuidList;
    bool hasMultipleCard = sellerGuidList.Count() > 1;
}


<script type="text/javascript">

    var startIndex = 1;
    var size = 100;
    var allpage = 0;
    var orderBy = $('#ddlOrderBy :selected').val();

    $(window).scroll(function(){
        var scrollTop = $(window).scrollTop();
        var documentHeight = $(document).height();
        if (scrollTop >= (documentHeight-(documentHeight*0.2))) {
            startIndex++;
            if ($("#controlLoadPage").val() == size)
            {
                console.log("LoadData");
                LoadData(startIndex,orderBy,size);
            }
        }
    });

   
    $(function () {

        LoadData(startIndex,orderBy,size);

        @if (hasMultipleCard)
        {
            <text>
            //卡片切換下拉選單
            var $sellerList = $('#sellerGuidList');
            if ($sellerList.length > 0) {
                $sellerList.on('change', function () {
                    var sellerGuid = $(this).children('option:selected').val();
                    switchCard(sellerGuid);
                });
            }
            </text>
        }

        $('#ddlOrderBy').change(function(){
            LoadData(1,$('#ddlOrderBy :selected').val(),size);
            $.ajax({
                type: 'POST',
                url: 'Member',
                dataType: 'json'
            })
        });

        $('#imgSearch').click(function(){
            startIndex = 1;
            LoadData(startIndex,orderBy,size);
        });

        $('#ReturnMenu').click(function () {
            returnHome();
        });   

    });


    function LoadData(startIndex, orderBy, size)
    {
        var SellerMemberType = @Convert.ToInt32((SellerMemberType.SiteMember));

        $.ajax({
            type: "POST",
            url: "GetMemberList",
            data: '{"Type":"' + SellerMemberType + '","startIndex":"' + startIndex + '","Size":"' + size +
                    '","Criteria":"' + $('#txtSearch').val() + '","OrderByField":"' + orderBy + '","IsValid":"' + "false" + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res.Data.TotalCount!=0)
                {
                    BindTable(res.Data.Members);
                }
                else
                {
                    $("#list").html("");
                }
                    
                $("#lblTotalCount").html(res.Data.TotalCount);
            },
            error: function (res,status) {
                alert('Error');
            }
        });
    }

    function BindTable(data) {
        var _html = "";
        //$('#list div').remove();

        $.each(data, function (idx, obj) {

            var gender = "";

            if (obj.Gender == '@((int)GenderType.Female)')
                gender = 'icon_female';
            else if(obj.Gender == '@((int)GenderType.Male)')
                gender = 'icon_male';
            else if(obj.Gender == '@((int)GenderType.Unknown)')
                gender = 'icon_unknow';

            _html += "<a href='MemberDetail?source=1&UserId=" + obj.UserId + "'>";
            _html += "<div class='content_list'>";
            _html += "<div class='left'>";
            _html += "<div class='left'>";
            _html += "<div class='up'>";
            _html += "<div class='circle_div'>";
            _html += "<img src='@Url.Content("~/Themes/default/images/17Life/Regulars/images/")" + gender + ".png'>";
            _html += "</div>";
            _html += "</div>";
            _html += "<div class='down font_center'>";
            _html += "<div class='font14 font_gray3'>"+obj.SellerMemberName+"</div>";
            _html += "</div>";
            _html += "</div>";
            _html += "<div class='right'>";
            _html += "<div class='font12 font_gray9 font_height105'>";
            _html += "寄杯數量："+(obj.DepositTotalAmount==null? 0 : obj.DepositTotalAmount)+"杯<br/>";
            _html += "累積點數："+(obj.TotalPoint==null? 0 : obj.TotalPoint) +"點<br/>";
            _html += "累積消費金額：NT." + obj.AmountTotal + "<br/>";
            _html += "累積消費次數：" + obj.OrderCount + "<br/>";
            _html += "最後使用時間：" + obj.LastUseTime ;
            _html += "</div>";
            _html += "</div>";
            _html += "</div>";
            _html += " <div class='right'>";
            _html += "<div class='right'>";
            _html += "<i class='fa fa-angle-right inline_div'></i>";
            _html += "</div>";
            _html += "</div>";
            _html += "</div>";
            _html += "</a>";
        });

        $('#controlLoadPage').val(data.length);

        if ($('#txtSearch').val()!='' || startIndex==1)
        {
            $("#list").html(_html);
        }else{
            $("#list").append(_html);
        }
    }


    @if (hasMultipleCard)
    {
        <text>
        function switchCard(sellerGuid) {
            var deferred = $.ajax({
                type: "POST",
                url: "SwitchRegularsCard",
                data: {
                    sellerGuid: sellerGuid
                },
                dataType: "json"
            });

            deferred.done(function (response) {
                if (response.Success) {
                    //重整刷新頁面資訊
                    window.location.reload();
                }
            }).fail(function () {
                alert("未預期錯誤，請聯繫17Life技術人員");
            });
        }
        </text>
    }

    function returnHome() {
        if (window.android) {  // android平台
            window.android.returnHome();
        } else if (window.ios) {  // ios平台
            window.ios.returnHome();
        }
    }

    function goToLogin() {
        if(window.android) {  // android平台
            window.android.goToLogin();
        } else if(window.ios) {  // ios平台
            window.ios.goToLogin();
        }
    }
</script>


<div id="container">
    <input type="hidden" id="controlLoadPage">
    <div id="header">
        <div class="header_topic">@ViewBag.Title</div>
        <div id="nav" class="member">
            <div class="left"><a onclick="returnHome()"><i class="fa fa-angle-left"></i>首頁</a></div>
        </div>
    </div>
    <div id="content" class="card_main member">
        <div class="content_inner">
            @if (hasMultipleCard)
            {
                <div class="content_list info_background">
                    <div class="dropdown">
                        @RenderSellerGuidList()
                    </div>
                </div>
            }
            <div class="content_list">
                <div class="search_bar">
                    <input class="" placeholder="請輸入會員姓名或手機號碼" type="text" id="txtSearch">
                    <div class="search_btn" id="imgSearch"><i class="fa fa-search"></i></div>
                </div>
            </div>
            <div class="content_list content_list_nb">
                <div class="left col-xs-6">
                    <div class="font14 font_gray6">會員總數：<span id="lblTotalCount">0</span></div>
                </div>
                <div class="right col-xs-6">
                    <div class="dropdown">
                        <select class="form-control input-lg" id="ddlOrderBy">
                            <option value="0" selected>最近使用近→遠</option>
                            <option value="1">使用次數多→少</option>
                            <option value="2">消費金額多→少</option>
                            <option value="3">寄杯數量多→少</option>
                            <option value="4">累積點數多→少</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_inner"  id="list">
        </div>
    </div>
</div>


@helper RenderSellerGuidList()
{
List<SelectListItem> sellerGuidList = ViewBag.SellerGuidList;
if (sellerGuidList.Count() > 0)
{
        @*@Html.DropDownList("sellerGuidList", sellerGuidList)*@
        <select id="sellerGuidList" class="form-control input-lg">
            @foreach (var item in sellerGuidList)
            {
                string selected = (item.Selected) ? "selected=selected" : "";
                <option value="@item.Value" @selected>@item.Text 熟客系統</option>
            }
        </select>
}
}