﻿@using LunchKingSite.BizLogic.Models.Regulars;
@using LunchKingSite.BizLogic.Model;
@using LunchKingSite.Core.Enumeration;
@model ViewVerificationListModel
@{
    ViewBag.Title = "熟客核銷紀錄";
    Layout = "_RegularsMemberLayout.cshtml";
}

    <link type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")' rel="stylesheet" />
    <script src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-ui.js")' type="text/javascript"></script>
    <script src="@Url.Content("~/Tools/js/jquery.blockUI.js")" type="text/javascript"></script>

    <style type="text/css">
        html, legend {
            color: #333;
        }

        html {
            text-align: left;
        }

        div[onclick] {
            cursor: pointer;
        }

        body {
            background-color: #f7f7f7;
            font-family: 微軟正黑體;
            font-size: 16px;
            line-height: 1.7;
        }

        select {
            color: #333;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            padding: 1px;
        }

        .exportBtn {
            background-color: #43ada1;
            border: 1px solid #cbcbcb;
            color: #ffffff;
            border-radius: 4px;
            font-size: 15px;
            line-height: 28px;
            overflow: visible;
            padding: 0 17px;
            text-align: center;
        }
    </style>

    <script type="text/javascript">

        var pageNumber = 1;
        var size = 100;

        $(window).scroll(function () {
            var window_height = $(window).height();
            var window_scrollTop = $(window).scrollTop();
            var document_height = $(document).height();
            if (window_height + window_scrollTop == document_height) {
                pageNumber++;
                if ($("#controlLoadPage").val() == size)
                {
                    loadData(pageNumber);
                }
            }
        });

        $(function () {
            $("#controlLoadPage").val('@Model.VerifyModel.ViewList.Count');
            if (@Model.TotalCount == 0)
            {
                $("#lblDate").hide();
            }

            $('#useServiceItem').change(function () {
                pageNumber=1;
                $("#verificationDiv").html("");
                loadData(pageNumber);
            });
            $('#useTimeRange').change(function () {
                pageNumber=1;
                $("#verificationDiv").html("");
                loadData(pageNumber);
            });
            $('#cardGroupId').change(function () {
                pageNumber=1;
                $("#verificationDiv").html("");
                $('#sellerGuid').val("");
                loadData(pageNumber);

            });
            $('#sellerGuid').change(function () {
                pageNumber=1;
                $("#verificationDiv").html("");
                loadData(pageNumber);
            });
        });

        function loadData(pageNumber)
        {
            $.ajax({
                type: "POST",
                url: "GetMemberVerificationList",
                data: '{"SellerGuid":"' + $('#sellerGuid').val() + '","UseServiceItem":"' + $('#useServiceItem').val() + '","UseTimeRange":"' + $('#useTimeRange').val() +
                      '","CardGroupId":"' + $('#cardGroupId').val() + '","pageNumber":"' + pageNumber + '","day":"' + size + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var sellerGuidHtml = "";
                    $.each(res.StoreLevels, function (idx, i) {
                        sellerGuidHtml +="<option value='"+i.Value+"' "+(i.Selected==true?"selected":"")+">"+i.Text+"</option>";
                    });
                    $('#sellerGuid').html(sellerGuidHtml);
                    var _html = "";
                    $("#controlLoadPage").val(res.ViewList.length);
                    $.each(res.ViewList, function (idx, i) {
                        switch (i.CategoryType)
                        {
                            case @((int)MembershipService.Vip):@*會員優惠明細格式*@
                                //console.log("會員優惠明細格式");
                                _html += "<div class='detail_tag'>";
                                _html += "<div class='font12'>熟客優惠</div>";
                                _html += "</div>";
                                _html += "<div class='content_list nob_grid '>";
                                _html += "<div class='font16 font_center'>"+i.CreateTimeN+"</div>";
                                _html += "<div class='font16 font_center'>使用熟客優惠</div>";
                                _html += "<div class='ct ct_first'>";
                                _html += "<div class='left_text'>會員姓名</div>";
                                _html += "<div class='right_text'>"+i.MemberName+"</div>";
                                _html += "</div>";
                                if (i.OriginalAmount1 != 0)
                                {
                                    _html += "<div class='ct ct_first'>";
                                    _html += "<div class='left_text'>消費金額</div>";
                                    _html += "<div class='right_text'><span class='font_red'>"+i.OriginalAmount1+"</span>元</div>";
                                    _html += "</div>";
                                }
                                _html += "<div class='ct'>";
                                _html += "<div class='left_text'>核銷帳號</div>";
                                _html += "<div class='right_text'><span class='font14'>"+i.VerifyAccount+"("+i.VerifyName+")"+"</span></div>";
                                _html += "</div>";
                                _html += "<div class='ct ct_first'>";
                                _html += "<div class='left_text'>核銷分店</div>";
                                _html += "<div class='right_text font14'>"+i.StoreName+"</div>";
                                _html += "</div>";
                                _html += "</div>";
                                break;
                            case @((int)MembershipService.Deposit):@*寄杯明細格式*@
                                //console.log("寄杯明細格式");
                                var lable0 = "";
                                var lable1 = "";
                                var lable2 = "";
                                var lable3 = "";
                                switch (i.LogType)
                                {
                                    case @((int)PcpUserDepositLogType.Add):
                                        lable0="新增寄杯";lable1="購買數量";lable2 = "現場兌換";lable3 = "剩餘寄杯";
                                        break;
                                    case @((int)PcpUserDepositLogType.Use):
                                        lable0="兌換寄杯";lable1="寄杯數量";lable2 = "現場兌換";lable3 = "繼續寄杯";
                                        break;
                                    case @((int)PcpUserDepositLogType.Correct):
                                        lable0="更正寄杯";lable1="原有數量";lable2 = "更正數量";lable3 = "更正後數量";
                                        break;
                                }
                                _html += "<div class='detail_tag'>";
                                _html += "<div class='font12'>"+lable0+"</div>";
                                _html += "</div>";
                                _html += "<div class='content_list nob_grid'>";
                                _html += "<div class='font16 font_center'>"+i.CreateTimeN+"</div>";
                                _html += "<div class='font16 font_center'>"+i.Title+"</div>";
                                if (i.ItemName!=null && i.ItemName!='')
                                {
                                    _html += "<div class='ct ct_first'>";
                                    _html += "<div class='left_text'>品項</div>";
                                    _html += "<div class='right_text font14'>"+i.ItemName+"</div>";
                                    _html += "</div>";
                                }
                                _html += "<div class='ct ct_first'>";
                                _html += "<div class='left_text'>會員姓名</div>";
                                _html += "<div class='right_text'>"+i.MemberName+"</div>";
                                _html += "</div>";
                                _html += "<div class='ct ct_first'>";
                                _html += "<div class='left_text'>"+lable1+"</div>";
                                _html += "<div class='right_text'><span class='font_red'>"+i.OriginalAmount1+"</span>杯</div>";
                                _html += "</div>";
                                _html += "<div class='ct'>";
                                _html += "<div class='left_text'>"+lable2+"</div>";
                                _html += "<div class='right_text'><span class='font_red'>"+i.ChangeAmount2+"</span>杯</div>";
                                _html += "</div>";
                                _html += "<div class='ct'>";
                                _html += "<div class='left_text'>"+lable3+"</div>";
                                _html += "<div class='right_text'><span class='font_red'>"+i.RemainAmount3+"</span>杯</div>";
                                _html += "</div>";
                                _html += "<div class='ct'>";
                                _html += "<div class='left_text'>核銷帳號</div>";
                                _html += "<div class='right_text'><span class='font14'>"+i.VerifyAccount +"("+i.VerifyName+")"+"</span></div>";
                                _html += "</div>";
                                _html += "<div class='ct ct_first'>";
                                _html += "<div class='left_text'>核銷分店</div>";
                                _html += "<div class='right_text font14'>"+i.StoreName+"</div>";
                                _html += "</div>";
                                _html += "</div>";
                                break;
                            case @((int)MembershipService.Point): @*集點明細格式*@
                                //console.log("集點明細格式");
                                var lable0 = "";
                                var lable1 = "";
                                var lable2 = "";
                                var lable3 = "";

                                switch (i.SetType)
                                {
                                    case @((int)PcpUserPointSetType.Correct):
                                        lable0="更正點數";lable1="原有點數";lable2 = "更正數量";lable3 = "更正後點數";
                                        break;
                                    case @((int)PcpUserPointSetType.Exchange):
                                        lable0="兌換點數";lable1="原本點數";lable2 = "使用點數";lable3 = "剩餘點數";
                                        break;
                                    case @((int)PcpUserPointSetType.Collect):
                                        lable0="發送點數";lable1="消費金額";lable2 = "發送點數";
                                        break;
                                }
                                _html += "<div class='detail_tag'>";
                                _html += "<div class='font12'>"+lable0+"</div>";
                                _html += "</div>";
                                _html += "<div class='content_list nob_grid '>";
                                _html += "<div class='font16 font_center'>"+i.CreateTimeN+"</div>";
                                _html += "<div class='ct ct_first'>";
                                _html += "<div class='left_text'>會員姓名</div>";
                                _html += "<div class='right_text'>"+i.MemberName+"</div>";
                                _html += "</div>";
                                _html += "<div class='ct'>";
                                _html += "<div class='left_text'>"+lable1+"</div>";
                                if (i.SetType != '@((int)PcpUserPointSetType.Collect)')
                                {
                                    _html += "<div class='right_text'><span class='font_red'>"+i.OriginalAmount1+"</span>點</div>";
                                }else{
                                    _html += "<div class='right_text'><span class='font_red'>"+i.OriginalAmount1+"</span>元</div>";
                                }
                                _html += "</div>";
                                _html += "<div class='ct'>";
                                _html += "<div class='left_text'>"+lable2+"</div>";
                                _html += "<div class='right_text'><span class='font_red'>"+i.ChangeAmount2+"</span>點</div>";
                                _html += "</div>";
                                if (i.SetType != '@((int)PcpUserPointSetType.Collect)')
                                {
                                    _html += "<div class='ct'>";
                                    _html += "<div class='left_text'>"+lable3+"</div>";
                                    _html += "<div class='right_text'><span class='font_red'>"+i.RemainAmount3+"</span>點</div>";
                                    _html += "</div>";
                                }
                                _html += "<div class='ct ct_first'>";
                                _html += "<div class='left_text'>核銷分店</div>";
                                _html += "<div class='right_text font14'>"+i.StoreName+"</div>";
                                _html += "</div>";
                                _html += "</div>";
                                break;
                            default:
                                console.log("default");
                                break;
                        }
                    });

                    if (pageNumber==1) $("#verificationDiv").html("");
                    $("#verificationDiv").append(_html);
                    $("#lblTotalCount").html(res.TotalCount);

                    if (res.TotalCount > 0)
                    {
                        if (res.StartDate!='')
                        {
                            $("#lblStartDate").html(res.StartDate + " ~ ");
                        }else{
                            $("#lblStartDate").html(res.StartDate);
                        }
                        $("#lblEndDate").html(res.EndDate);
                        $("#lblDate").show();
                    }else{
                        $("#lblDate").hide();
                    }

                },
                error: function (res, status) {
                    alert('Error');
                }
            });
        }

        function returnHome() {
            var tInterval = setInterval(function () {
                if (window.android) {  // android平台
                    clearInterval(tInterval);
                    window.android.returnHome();
                } else if (window.ios) {  // ios平台
                    clearInterval(tInterval);
                    window.ios.returnHome();
                }
            }, 100);
        }

        $(document).ready(function () {
            $('#storeId,#day,#only').change(function () {
                block_postback();
                var formData = $('#queryStatusForm').serialize();
                $.ajax({
                    url: '/mvc/RegularsSystem/MemberVerificationList',
                    type: 'GET',
                    headers: {
                        'Accept': '@Request.Headers.Get("Accept")',
                        'Content-Type': '@Request.Headers.Get("Content-Type")',
                        'Authorization': '@Request.Headers.Get("Authorization")',
                        'Host': '@Request.Headers.Get("Host")'
                    },
                    data: formData,
                    success: function (data) {
                        $.unblockUI();
                        $('body').html(data);
                    }
                });
            })

            $('#divExportAndMail').click(function () {
                var confirmMsg = "請輸入要寄送的Email信箱：<br/>"
                   + "<input type='text' id='txtMailTo' style='width:90%'>"
                   + "<br/><font color=grey>寄送多個Email時，Email之間請使用分號(;)區隔。</font>";
                fnOpenNormalDialog(confirmMsg);
            });
        });

        function fnOpenNormalDialog(confirmMsg) {
            $("#dialog-confirm").html(confirmMsg);
            // Define the Dialog and its properties.
            $("#dialog-confirm").dialog({
                resizable: false,
                modal: true,
                title: "寄送Email輸入",
                height: 'auto',
                width: 'auto',
                buttons: {
                    "確定": function () {

                        if (!isValidEmailAddress($("#txtMailTo").val())) {
                            alert("Email格式輸入有誤(xxx@xx.xx)，請勿包含特殊符號!!");
                            return;
                        }

                        $(this).dialog('close');
                        block_postback();
                        $('#mailTo').val($("#txtMailTo").val());
                        var formData = $('#queryStatusForm').serialize();
                        $.ajax({
                            url: '/mvc/RegularsSystem/MemberVerificationList',
                            type: 'GET',
                            headers: {
                                'Accept': '@Request.Headers.Get("Accept")',
                                'Content-Type': '@Request.Headers.Get("Content-Type")',
                                'Authorization': '@Request.Headers.Get("Authorization")',
                                'Host': '@Request.Headers.Get("Host")'
                            },
                            data: formData,
                            async: false,
                            success: function (result) {
                                alert("已將核銷紀錄發送至您指定Email信箱，煩請前往確認。");
                                //關閉處理中訊息並解除鎖定畫面
                                $.unblockUI();
                            },
                            error: function (qXHR, textStatus, errorThrown) {
                                alert("error occur:" + textStatus + ':' + errorThrown);
                                $.unblockUI();
                            }
                        });
                    },
                    "取消": function () {
                        $(this).dialog('close');
                    }
                }
            });
        }

        function block_postback() {
            $.blockUI({ message: "<img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />處理中，請稍候...", css: { left:0, width: '100%' } });
        }

        function isValidEmailAddress(emailAddress) {
            var regExp = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            var arrEmail = emailAddress.split(";");
            for (i = 0; i < arrEmail.length; i++) {
                if (!arrEmail[i].match(regExp)) {
                    return false;
                }
            }
            return true;
        }

        function goVerificationTab()
        {
            $('#vD').show();
            $('#couponDiv').hide();

            $('#ShowCouponTab').val(1);
            $('#ShowMemberVerifyTab').val(2);
            $('#ShowCouponTab2').val(1);
            $('#ShowMemberVerifyTab2').val(2);

            $('#verificationTab').attr("class", "tab on");
            $('#couponTab').attr("class", "tab");

            loadData(pageNumber);
        }

        function goCouponTab() {
            $('#couponDiv').show();
            $('#vD').hide();

            $('#ShowCouponTab').val(2);
            $('#ShowMemberVerifyTab').val(1);
            $('#ShowCouponTab2').val(2);
            $('#ShowMemberVerifyTab2').val(1);

            $('#couponTab').attr("class", "tab on");
            $('#verificationTab').attr("class", "tab");
        }

    </script>

    <div id="container">
        <input type="hidden" id="controlLoadPage">
        <div id="header">
            <div class="header_topic">@ViewBag.Title</div>
            <div id="nav" class="member_off">
                <div class="left"><a onclick="returnHome()"><i class="fa fa-angle-left"></i>查詢核銷</a></div>
            </div>
        </div>
        @if (Model.IsShowCouponTab == TabShowLogic.Hide && Model.IsShowMemberVerifyTab == TabShowLogic.Hide)
        {
            <div id="content" class="card_main member">
                <p>目前尚無核銷紀錄</p>
            </div>
        }
        else
        {
            <div id="content" class="card_main member">
                <div class="content_inner">
                    <div class="tab_group">
                        <div id="couponTab" class="@((Model.IsShowMemberVerifyTab == TabShowLogic.Hide || Model.IsShowCouponTab == TabShowLogic.ShowFirst) ? "tab on" : "tab")" style="@(Model.IsShowCouponTab == TabShowLogic.Hide ? "display:none" : (Model.IsShowMemberVerifyTab == TabShowLogic.Hide) ? "width:100%" : "")" onclick="goCouponTab()">團購</div>
                        <div id="verificationTab" class="@((Model.IsShowCouponTab == TabShowLogic.Hide || Model.IsShowMemberVerifyTab == TabShowLogic.ShowFirst) ? "tab on" : "tab")" style="@(Model.IsShowMemberVerifyTab == TabShowLogic.Hide ? "display:none" : (Model.IsShowCouponTab == TabShowLogic.Hide) ? "width:100%" : "")" onclick="goVerificationTab()">熟客系統</div>
                    </div>
                </div>
                @*核銷紀錄*@
                <div id="vD" style="@((Model.IsShowMemberVerifyTab == TabShowLogic.Hide || Model.IsShowCouponTab == TabShowLogic.ShowFirst) ? "display:none" : "")">
                    <div class="content_inner">
                        <div class="content_list content_list_nb">
                            <div class="col-xs-12 padding_none">
                                @{if (Model.CardGroupLevels.Count > 1)
                                    {
                                    <div class="dropdown">
                                        <select class="form-control input-lg" id="cardGroupId" name="cardGroupId">
                                        @foreach (var i in Model.CardGroupLevels)
                                        {
                                            <option value="@i.Value" selected="@i.Selected">@i.Text</option>
                                        }
                                        </select>
                                    </div>
                                    } else if (Model.CardGroupLevels.Count == 1)
                                    {
                                        @Html.Hidden("cardGroupId", Model.CardGroupLevels.FirstOrDefault().Value, new { id = "cardGroupId" })
                                    }
                                }
                            </div>
                            <div class="col-xs-12 padding_none">
                                <div class="dropdown">
                                    <select class="form-control input-lg" id="useServiceItem" name="useServiceItem">
                                        @foreach (var i in Model.UseServiceItemList)
                                        {
                                            <option value="@i.Value" selected="@i.Selected">@i.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 padding_none">
                                <div class="dropdown">
                                    <select class="form-control input-lg" id="useTimeRange" name="useTimeRange">
                                        @foreach (var i in Model.UseTimeRangeList)
                                        {
                                            <option value="@i.Value" selected="@i.Selected">@i.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 padding_none">
                                <div class="dropdown">
                                    <select class="form-control input-lg" id="sellerGuid" name="sellerGuid">
                                       
                                        @foreach (var i in Model.StoreLevels)
                                        {
                                            <option value="@i.Value" @(i.Selected == true ? "selected" : "")>@i.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="box_text">
                                
                                <div id="lblDate" class="font14 font_gray6 font_center"><span id="lblStartDate">@Model.StartDate.ToString("yyyy/MM/dd") ~ </span><span id="lblEndDate">@Model.EndDate.ToString("yyyy/MM/dd")</span> </div> 
                                <div class="font14 font_gray6 font_center">共 <span id="lblTotalCount" class="font_red">@Model.TotalCount</span> 筆</div>
                            </div>
                        </div>
                    </div>
                    <div id="verificationDiv" class="content_inner">
                        @{
                            foreach (var i in Model.VerifyModel.ViewList)
                            {
                                switch (i.CategoryType)
                                {
                                    case MembershipService.Vip:  @*會員優惠明細格式*@
                                        <div class="detail_tag">
                                            <div class="font12">熟客優惠</div>
                                        </div>
                                            <div class="content_list nob_grid ">
                                                <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                                <div class="font16 font_center">使用熟客優惠</div>
                                                <div class="ct ct_first">
                                                    <div class="left_text">會員姓名</div>
                                                    <div class="right_text">@(string.IsNullOrEmpty(i.MemberName) ? "--" : i.MemberName)</div>
                                                </div>
                                                @if (i.OriginalAmount1 != 0)
                                                {
                                                    <div class="ct ct_first">
                                                        <div class="left_text">消費金額</div>
                                                        <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>元</div>
                                                    </div>
                                                }
                                                <div class="ct">
                                                    <div class="left_text">核銷帳號</div>
                                                    <div class="right_text"><span class="font14">@i.VerifyAccount (@i.VerifyName)</span></div>
                                                </div>
                                                <div class="ct ct_first">
                                                    <div class="left_text">核銷分店</div>
                                                    <div class="right_text font14">@i.StoreName</div>
                                                </div>
                                            </div>
                                        break;
                                    case MembershipService.Deposit:@*寄杯明細格式*@
                        switch (i.LogType)
                        {
                            case PcpUserDepositLogType.Add:
                                <div class="detail_tag">
                                    <div class="font12">新增寄杯</div>
                                </div>
                                    <div class="content_list nob_grid ">
                                        <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                        <div class="font16 font_center">@i.Title</div>
                                        @if (!string.IsNullOrEmpty(i.ItemName))
                                        {
                                            <div class="ct ct_first">
                                                <div class="left_text">品項</div>
                                                <div class="right_text font14">@i.ItemName</div>
                                            </div>
                                        }
                                        <div class="ct ct_first">
                                            <div class="left_text">會員姓名</div>
                                            <div class="right_text">@(string.IsNullOrEmpty(i.MemberName) ? "--" : i.MemberName)</div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">購買數量</div>
                                            <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>杯</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">現場兌換</div>
                                            <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>杯</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">剩餘寄杯</div>
                                            <div class="right_text"><span class="font_red">@i.RemainAmount3</span>杯</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">核銷帳號</div>
                                            <div class="right_text"><span class="font14">@i.VerifyAccount (@i.VerifyName)</span></div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">核銷分店</div>
                                            <div class="right_text font14">@i.StoreName</div>
                                        </div>
                                    </div>
                                break;
                            case PcpUserDepositLogType.Use:
                                <div class="detail_tag">
                                    <div class="font12">兌換寄杯</div>
                                </div>
                                    <div class="content_list nob_grid ">
                                        <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                        <div class="font16 font_center">@i.Title</div>
                                        @if (!string.IsNullOrEmpty(i.ItemName))
                                        {
                                            <div class="ct ct_first">
                                                <div class="left_text">品項</div>
                                                <div class="right_text font14">@i.ItemName</div>
                                            </div>
                                        }
                                        <div class="ct ct_first">
                                            <div class="left_text">會員姓名</div>
                                            <div class="right_text">@(string.IsNullOrEmpty(i.MemberName) ? "--" : i.MemberName)</div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">寄杯數量</div>
                                            <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>杯</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">現場兌換</div>
                                            <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>杯</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">繼續寄杯</div>
                                            <div class="right_text"><span class="font_red">@i.RemainAmount3</span>杯</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">核銷帳號</div>
                                            <div class="right_text"><span class="font14">@i.VerifyAccount (@i.VerifyName)</span></div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">核銷分店</div>
                                            <div class="right_text font14">@i.StoreName</div>
                                        </div>
                                    </div>
                                break;
                            case PcpUserDepositLogType.Correct:
                                <div class="detail_tag">
                                    <div class="font12">更正寄杯</div>
                                </div>
                                    <div class="content_list nob_grid ">
                                        <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                        <div class="font16 font_center">@i.Title</div>
                                        @if (!string.IsNullOrEmpty(i.ItemName))
                                        {
                                            <div class="ct ct_first">
                                                <div class="left_text">品項</div>
                                                <div class="right_text font14">@i.ItemName</div>
                                            </div>
                                        }
                                        <div class="ct ct_first">
                                            <div class="left_text">會員姓名</div>
                                            <div class="right_text">@(string.IsNullOrEmpty(i.MemberName) ? "--" : i.MemberName)</div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">原有數量</div>
                                            <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>杯</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">更正數量</div>
                                            <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>杯</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">更正後數量</div>
                                            <div class="right_text"><span class="font_red">@i.RemainAmount3</span>杯</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">核銷帳號</div>
                                            <div class="right_text"><span class="font14">@i.VerifyAccount (@i.VerifyName)</span></div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">核銷分店</div>
                                            <div class="right_text font14">@i.StoreName</div>
                                        </div>
                                    </div>
                                    break;
                            }
                            break;
                        case MembershipService.Point: @*集點明細格式*@
                        switch (i.SetType)
                        {
                            case PcpUserPointSetType.Correct:
                                <div class="detail_tag">
                                    <div class="font12">更正點數</div>
                                </div>
                                    <div class="content_list nob_grid ">
                                        <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                        <div class="ct ct_first">
                                            <div class="left_text">會員姓名</div>
                                            <div class="right_text">@(string.IsNullOrEmpty(i.MemberName) ? "--" : i.MemberName)</div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">原有點數</div>
                                            <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>點</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">更正點數</div>
                                            <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>點</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">更正後點數</div>
                                            <div class="right_text"><span class="font_red">@i.RemainAmount3</span>點</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">核銷帳號</div>
                                            <div class="right_text"><span class="font14">@i.VerifyAccount (@i.VerifyName)</span></div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">核銷分店</div>
                                            <div class="right_text font14">@i.StoreName</div>
                                        </div>
                                    </div>
                                break;
                            case PcpUserPointSetType.Exchange:
                                <div class="detail_tag">
                                    <div class="font12">兌換點數</div>
                                </div>
                                    <div class="content_list nob_grid ">
                                        <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                        <div class="font16 font_center">@i.ItemName </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">會員姓名</div>
                                            <div class="right_text">@(string.IsNullOrEmpty(i.MemberName) ? "--" : i.MemberName)</div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">原本點數</div>
                                            <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>點</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">使用點數</div>
                                            <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>點</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">剩餘點數</div>
                                            <div class="right_text"><span class="font_red">@i.RemainAmount3</span>點</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">核銷帳號</div>
                                            <div class="right_text"><span class="font14">@i.VerifyAccount (@i.VerifyName)</span></div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">核銷分店</div>
                                            <div class="right_text font14">@i.StoreName</div>
                                        </div>
                                    </div>
                                break;
                            case PcpUserPointSetType.Collect:
                                <div class="detail_tag">
                                    <div class="font12">發送點數</div>
                                </div>
                                    <div class="content_list nob_grid ">
                                        <div class="font16 font_center">@i.CreateTime.ToString("yyyy/MM/dd HH:mm")</div>
                                        <div class="ct ct_first">
                                            <div class="left_text">會員姓名</div>
                                            <div class="right_text">@(string.IsNullOrEmpty(i.MemberName) ? "--" : i.MemberName)</div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">消費金額</div>
                                            <div class="right_text"><span class="font_red">@i.OriginalAmount1</span>元</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">發送點數</div>
                                            <div class="right_text"><span class="font_red">@i.ChangeAmount2</span>點</div>
                                        </div>
                                        <div class="ct">
                                            <div class="left_text">核銷帳號</div>
                                            <div class="right_text"><span class="font14">@i.VerifyAccount (@i.VerifyName)</span></div>
                                        </div>
                                        <div class="ct ct_first">
                                            <div class="left_text">核銷分店</div>
                                            <div class="right_text font14">@i.StoreName</div>
                                        </div>
                                    </div>
                                        break;
                                }
                                break;
                            }
                        }
                        }
                    </div>
                </div>
                @*團購*@
                <div id="couponDiv" style="@((Model.IsShowCouponTab == TabShowLogic.Hide || Model.IsShowMemberVerifyTab == TabShowLogic.ShowFirst) ? "display:none;    font-size: 13px" : "font-size: 13px")">
                    @if (Model.CouponModel.Coupons != null)
                    {
                        <form id="queryStatusForm" accept-charset="utf-8">
                        <input type="hidden" id="ShowCouponTab2" name="IsShowCouponTab" value="@Model.IsShowCouponTab">
                        <input type="hidden" id="ShowMemberVerifyTab2" name="IsShowMemberVerifyTab" value="@Model.IsShowMemberVerifyTab">
                        <div style="margin:4px auto auto 4px;">
                            <div style="margin-top: 6px;">
                                <input type="checkbox" id="only" name="only" @Html.Raw((Model.CouponModel.IsOnlyAccount) ? "checked" : "") />
                                只顯示此帳號核銷紀錄
                                <div id="divExportAndMail" class="exportBtn" style="cursor: pointer;float: right; width: 120px; margin-top: -3px;">匯出至信箱</div>
                            </div>
                            <div style="margin-top: 6px;">
                                顯示&nbsp;<select class="textSize15" id="day" name="day">
                                    @foreach (var item in Model.CouponModel.VerifyTime)
                                    {
                                        <option value="@item.Key" @Html.Raw(!string.IsNullOrEmpty(Request.QueryString["day"]) && item.Key == Request.QueryString["day"] ? "selected" : "")>@item.Value</option>
                                    }
                                </select>
                                @if (Model.CouponModel.IsSellerPermission)
                                {
                                    <select class="textSize15" id="storeId" name="storeId">
                                        @foreach (var item in Model.CouponModel.StoreList)
                                        {
                                            <option value="@item.Key" @Html.Raw(!string.IsNullOrEmpty(Model.CouponModel.StoreId) && item.Key == Model.CouponModel.StoreId ? "selected" : "")>@item.Value</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                        <input type="hidden" id="mailTo" name="mailTo" />
                        <div id="dialog-confirm"></div>
                    </form>
                        <div style="margin:5px auto; @Html.Raw(Model.CouponModel.Coupons.Count == 0 ? "visibility:hidden" : "")">
                                <table bborder="0" cellspacing="0" cellpadding="0" style="height: auto;color: #000; line-height: 28px; width: 100%; word-break: break-all;">
                                    <thead>
                                        <tr style="text-align:center;background-color:#FFD5C4;">
                                            <th style="border-left: 1px solid #d2d2d2; width:25%;">商品名稱</th>
                                            <th style="border-left: 1px solid #d2d2d2; width:18%;">核銷張數</th>
                                            <th style="border-left: 1px solid #d2d2d2; width:18%;">憑證編號</th>
                                            <th style="border-left: 1px solid #d2d2d2; width:20%;">核銷時間</th>
                                            <th style="border-left: 1px solid #d2d2d2; width:19%;">核銷帳號</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int seq = 1;
                                            string trbgcolor = "";
                                            foreach (var row in Model.CouponModel.Coupons)
                                            {
                                                if (seq % 2 == 0)
                                                {
                                                    trbgcolor = "#FEF2ED";
                                                }
                                                else
                                                {
                                                    trbgcolor = "#FFFFFF";
                                                }
                                                <tr style="background-color:@trbgcolor;">
                                                    <td style="width:25%">
                                                        @if (row.IsNew)
                                                        {
                                                            <label style="color:red;font-weight:bold;">New!</label>
                                                        }
                                                        @row.DealName
                                                    </td>
                                                    <td style="text-align:center;width:18%">@row.VerifyCount</td>
                                                    <td style="width:18%">@row.CouponId</td>
                                                    <td style="width:20%">@row.VerifiedDateTime.Value.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                                    <td style="width:19%">@row.VerifyAccount</td>
                                                </tr>
                                                seq++;
                                            }
                                        }
                                    </tbody>
                                </table>
                                @RenderPagerBar(Model.CouponModel.Coupons)
                            </div>
                    }
                    else if (Model.IsShowCouponTab != TabShowLogic.Hide)
                    {
                        <p style="font-size: 16px">目前尚無核銷紀錄</p>
                    }
                </div>
                
                
            </div>
         }
    </div>

@helper RenderPagerBar(LunchKingSite.BizLogic.Component.PagerList<VbsVerificationCoupon> pagerData)
{
int nextPage = pagerData.CurrentPage + 1;
int prevPage = pagerData.CurrentPage - 1;
var rootPath = string.Format("/mvc/RegularsSystem/MemberVerificationList?storeId={0}&day={1}&only={2}&mailTo={3}&IsShowMemberVerifyTab={4}&IsShowCouponTab={5}", Model.storeId,Model.day,Model.only,Model.mailTo,Model.IsShowMemberVerifyTab,Model.IsShowCouponTab);
string firstPageUrl = string.Format("{0}&pageNumber={1}", rootPath, pagerData.MinPage);
string lastPageUrl = string.Format("{0}&pageNumber={1}", rootPath, pagerData.MaxPage);
string nextPageUrl = string.Format("{0}&pageNumber={1}", rootPath, nextPage);
string prevPageUrl = string.Format("{0}&pageNumber={1}", rootPath, prevPage);
string pagerPattern = string.Format("{0}&pageNumber={1}", rootPath, "_pageNumber");
    <div style="text-align:center;">
        <table style="padding: 5px; margin-top: 10px; display:inline-block; border-collapse: collapse; border-spacing: 0;">
            <tr>
                <td style="width:40px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st.png")" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st.png")" style="visibility:hidden" />
                    }
                </td>
                <td style="width:40px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper.png")" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper.png")" style="visibility:hidden" />
                    }
                </td>
                <td style="width:auto; font-size:15px">
                    <select name="pageNumber" style="margin: 3px 5px 3px 5px" pagerPattern="@pagerPattern"
                            onchange="location.href=$(this).attr('pagerPattern').replace('_pageNumber',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select>
                    / <span style="font-weight:bold">@pagerData.MaxPage</span> | <span style="font-weight:bold">@pagerData.TotalItemCount</span> 筆
                </td>
                <td style="width:40px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/lower.png")" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/lower.png")" style="visibility:hidden" />
                    }
                </td>
                <td style="width:40px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/lower_st.png")" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/lower_st.png")" style="visibility:hidden" />
                    }
                </td>
            </tr>
        </table>
    </div>
}