﻿@using LunchKingSite.BizLogic.Models;
@using LunchKingSite.DataOrm;
@model PcpPointCollectRule
@{
    ViewBag.Title = "發送點數";
    Layout = "_RegularsVerifyLayout.cshtml";
    ViewBag.AlertWindowImg = Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_point.png");
}
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card_off">
        <div class="left">
            <a onclick="returnVerifyPortal();">
                <i class="fa fa-angle-left" aria-hidden="true"></i>熟客核銷
            </a>
        </div>
    </div>
</div>
<div id="content" class="point">
    <div id="editPanel">
        <div class="content_inner">
            <div class="content_list list92 bordert_div content_listline">
                <div class="content_line">
                    <div class="left">
                        <div class="text_0">消費金額</div>
                    </div>
                    <div class="right">
                        <div class="num">
                            <input id="price" type="number" placeholder="0">元
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="content_inner">
            <div class="content_list list92 bordert_div content_listline">
                <div class="left">
                    <div class="text_0">發送點數</div>
                </div>
                <div class="right">
                    <div class="num">
                        <input id="point" class="font_red" type="number" placeholder="0" disabled>點
                    </div>
                </div>
            </div>
        </div>
        <div class="content_group">
            @RenderPointCollectRule()
        </div>
        <div class="btn_action btn_bottom">
            <div class="all"><a id="previewBtn" class="bg_red disable">預覽</a></div>
        </div>
    </div>
    <div id="confirmPanel" style="display:none;">
        <div id="content">
            <div class="content_list nob_grid">
                <div class="tp_c font_bold">消費金額<span id="prviewPrice"></span>元</div>
                <div class="ct ct_last">
                    發送點數 <span id="previewPoint" class="font_red font_bold"></span>點
                </div>
            </div>
            <div class="content_list remind">
                請確認消費金額、發送點數是否正確
            </div>
            <div class="btn_action btn_bottom">
                <div class="left_btn"><a class="bg_none" onclick="toggleConfirm('back', null);">修改</a></div>
                <div class="right_btn"><a class="bg_red" onclick="userPointAdd(); return false;">確認</a></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            enableUIfunction();
        });

        function enableUIfunction() {
            //輸入金額
            $('#price').on('focus', function () {
                $(this).val('');
                $('#point').val(0);
                checkLockPrevieBtn(0);
            }).on('input', function () {
                var price = parseInt($(this).val()) || 0;
                var point = 0;
                if (price <= 0) {
                    $(this).val(0);
                    $('#point').val(0);
                }
                else {
                    var collectValue = parseInt('@Model.CollectValue');
                    point = parseInt(price / collectValue);
                    $(this).val(price);
                    $('#point').val(point);
                }
                checkLockPrevieBtn(point);
            });

            //預覽
            $('#previewBtn').on('click', function () {
                if (!$(this).hasClass('disable')) {
                    toggleConfirm('next');
                }
            });
        }

        function checkLockPrevieBtn(point) {
            var btn = $('#previewBtn');
            if (point > 0) {
                if (btn.hasClass('disable')) {
                    btn.removeClass('disable');
                }
            }
            else {
                if (!btn.hasClass('disable')) {
                    btn.addClass('disable');
                }
            }
        }

        function getModel() {
            var model = {
                CollectRuleId: parseInt('@Model.Id'),
                Price: 0,
                Point: 0
            };

            model.Price = parseInt($('#price').val()) || 0;
            model.Point = parseInt($('#point').val()) || 0;

            return model;
        }

        function toggleConfirm(action) {
            switch (action) {
                case 'next':
                    $('#editPanel').hide();
                    $('#confirmPanel').show();

                    //prepare preview msg
                    var model = getModel();
                    $('#prviewPrice').text(model.Price.toLocaleString());
                    $('#previewPoint').text(model.Point);
                    break;
                case 'back':
                    $('#editPanel').show();
                    $('#confirmPanel').hide();
                    break;
                default:
                    break;
            }
        }

        function userPointAdd() {
            var model = getModel();
            var deferred = $.ajax({
                url: "UserPointAdd", @*"@Url.Action("UserPointAdd", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤*@
                method: "POST",
                data: model,
                dataType: "json",
                headers: {
                    PcpUserToken: '@(ViewBag.PcpUserToken)',
                    StoreGuid: '@(ViewBag.SellerGuid)'
                }
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '繼續核銷', style: 'red', clickEvent: function () {
                            returnScanCode();
                        }
                    }
                ]
            };

            deferred.done(function (data) {
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }
    </script>
}
@helper RenderPointCollectRule()
{
    <ul class="provision_list font_gray6">
        <li>消費滿@(Model.CollectValue)元，可累積1點</li>
    </ul>
}
