﻿@using LunchKingSite.BizLogic.Models;
@model PointExchangeRuleEditViewModel
@{
    ViewBag.Title = "兌點";
    Layout = "_RegularsCardSettingLayout.cshtml";
    ViewBag.AlertWindowImg = Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_point.png");
}
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card">
        <div class="left">
            <a href="PointSetting">
                <i class="fa fa-angle-left" aria-hidden="true"></i>點數功能
            </a>
        </div>
    </div>
</div>
<div id="content" class="card_point">
    <div id="ruleGroup">
        @RenderExchangeRules()
    </div>
    <div id="add" class="add add_nob">＋新增</div>
    <div class="btn_action btn_bottom">
        <div class="all"><a id="save" class="bg_red">儲存</a></div>
    </div>
</div>
<div id="newModel" class="content_inner" style="display:none;">
    <div class="content_group input_delete">
        <div class="title">
            <div class="main_title">累積點數</div>
            <div class="sub_title">（必填）</div>
        </div>
        <div class="input_text input_delete">
            <input class="point" type="number" min="0" value=""/>
            <div>點</div>
        </div>
        <div class="title">
            <div class="main_title">兌換優惠</div>
            <div class="sub_title">（必填）</div>
        </div>
        <div class="input_text">
            <input class="rule" type="text" value="" maxlength="50">
        </div>
    </div>
    <div class="delete"><i class="fa fa-trash h140"></i></div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            enableUIFunction();
        });

        function enableUIFunction() {
            //[App]調整視窗高度，使鍵盤不要擋到輸入框
            var windowHalfHeight = $(window).height() / 2 + 20;
            $('.add_nob').css({ 'padding-bottom': windowHalfHeight });
            
            //新增
            $('#add').on('click', function () {
                var count = core.getRuleCount();
                if (count >= 10) {
                    alert('最多新增10個兌點規則!');
                }
                else {
                    core.addRule();
                }
            });
            //刪除
            $('#ruleGroup').on('click', '.delete', function () {
                if (!$(this).hasClass('invalid')) {
                    $(this).parent('.content_inner').remove();
                    checkLockDeleteBtn();
                    checkLockSaveBtn();
                }
            });
            //檢查所有欄位是否填寫
            $('#ruleGroup').on('input', 'input', function () {
                checkLockSaveBtn();
            });
            //儲存
            $('#save').on('click', function () {
                if (!$(this).hasClass('disable')) {
                    save();
                }
            });
        }

        var core = {
            addRule: function () {
                var newModel = $('#newModel').clone(true);
                $(newModel).removeAttr('id').addClass('ruleModel').show();//移除id="newModel"
                $('#ruleGroup').append(newModel);

                $('.delete').removeClass('invalid');
                $('#save').addClass('disable');
            },
            getRuleCount: function () {
                var count = $('.ruleModel').length;
                return count;
            }
        }

        function checkLockDeleteBtn() {
            if ($('#ruleGroup').children('.ruleModel').length <= 1) {
                $('#ruleGroup').find('.delete').addClass('invalid');
            }
            else {
                $('.delete').removeClass('invalid');
            }
        }
        function checkLockSaveBtn() {
            var btn = $('#save');
            if (isAllFilled()) {
                btn.removeClass('disable');
            }
            else {
                btn.addClass('disable');
            }
        }
        function isAllFilled() {
            var model = getModel();
            var allFilled = true;

            for (var i = 0; i < model.ExchangeRules.length; i++) {
                if (model.ExchangeRules[i].Point == 0) {
                    allFilled = false;
                    break;
                }
                if (model.ExchangeRules[i].ItemName == null || model.ExchangeRules[i].ItemName.trim().length <= 0) {
                    allFilled = false;
                    break;
                }
            }
            return allFilled;
        }

        // #region tool method
        function htmlEncode(html) {
            return document.createElement('a').appendChild(
                document.createTextNode(html)).parentNode.innerHTML;
        };
        // #endregion

        function getModel() {
            var model = {
                ExchangeRules: []
            };

            $.each($('.ruleModel'), function (i, obj) {
                var row = {};
                row.Id = $(this).data('ruleid');
                row.Point = parseInt($(this).find('.point').val()) || 0;
                row.ItemName = htmlEncode($(this).find('.rule').val());
                model.ExchangeRules.push(row);
            });

            return model;
        }

        function save() {
            var model = getModel();
            var deferred = $.ajax({
                url: "PointExchangeRuleSave", //"Url.Action("PointExchangeRuleSave", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤
                method: "POST",
                data: model,
                dataType: "json"
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '返回', style: 'red', link: 'PointSetting'
                    }
                ]
            };

            deferred.done(function (data) {
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }
    </script>
}
@helper RenderExchangeRules()
{
string trashcanDisable = (Model.ExchangeRules.Count > 1) ? "" : "invalid";
foreach (var rule in Model.ExchangeRules)
{
    <div class="content_inner ruleModel" data-ruleid="@rule.Id">
        <div class="content_group input_delete">
            <div class="title">
                <div class="main_title">累積點數</div>
                <div class="sub_title">（必填）</div>
            </div>
            <div class="input_text input_delete">
                <input class="point" type="number" min="0" value="@rule.Point" />
                <div>點</div>
            </div>
            <div class="title">
                <div class="main_title">兌換優惠</div>
                <div class="sub_title">（必填）</div>
            </div>
            <div class="input_text">
                <input class="rule" type="text" name="" value="@rule.ItemName" maxlength="50" >
            </div>
        </div>
        <div class="delete @(trashcanDisable)"><i class="fa fa-trash h140"></i></div>
    </div>
}
}