﻿@using LunchKingSite.BizLogic.Models;
@using LunchKingSite.DataOrm;
@model PointCorrectViewModel
@{
    ViewBag.Title = "更正點數";
    Layout = "_RegularsVerifyLayout.cshtml";
    ViewBag.AlertWindowImg = Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_point.png");
}
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card_off">
        <div class="left">
            <a onclick="returnVerifyPortal();">
                <i class="fa fa-angle-left" aria-hidden="true"></i>熟客核銷
            </a>
        </div>
    </div>
</div>
<div id="content" class="correct">
    <div id="editPanel">
        <div class="content_inner">
            <div class="content_list list92 bordert_div content_listline">
                <div class="content_line">
                    <div class="left">
                        <div class="text_0">所有點數</div>
                    </div>
                    <div class="right">
                        <div class="num"><input id="userPoint" name="" value="@Model.UserPoint" disabled="disabled">點</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="content_inner">
            <div class="content_list list64 bordert_div">
                <div class="input_list">
                    <div class="text_0">數量調整</div>
                    <div class="num"><input id="adjust" class="default_input" value="0" type="text" placeholder="0" readonly="readonly"></div>
                    <i id="minusPoint" class="fa fa-minus-circle arithmetic @((Model.UserPoint <= 0) ? "disable": "")" aria-hidden="true" data-action="minus"></i>
                    <i id="addPoint" class="fa fa-plus-circle arithmetic" aria-hidden="true" data-action="add"></i>
                </div>
            </div>
        </div>
        <div class="content_inner">
            <div class="content_list list64 bordert_div content_listline">
                <div class="left">
                    <div class="text_0">更正後</div>
                </div>
                <div class="right">
                    <div class="num"><input id="remainPoint" class="font_red" name="" value="@Model.UserPoint" disabled>點</div>
                </div>
            </div>
        </div>
        <div class="content_inner last_p">
            <div class="content_list_tp content_list_tp_nb">
                <div class="font_gray6">更正原因</div>
            </div>
            <div class="content_list">
                <div class="content_group">
                    <div class="input_text">
                        <textarea id="description" rows="2" placeholder="ex: 輸入錯誤"></textarea>
                    </div>
                    @RenderDescriptionTemplate()
                </div>
            </div>
        </div>
        <div class="btn_action btn_bottom">
            <div class="all"><a id="previewBtn" class="bg_red disable" onclick="togglePanel('preview');">預覽</a></div>
        </div>
    </div>
    <div id="confirmPanel" style="display:none;">
        <div class="content_list nob_grid">
            <div class="tp_c">更正點數</div>
            <div id="previewDesc" class="tp_c"></div>
            <div class="ct ct_first">
                所有點數 @(Model.UserPoint)點
            </div>
            <div class="ct font_bold">
                更正數量 <span id="previewAdjust"></span>點
            </div>
            <div class="ct ct_last">
                更正後點數 <span id="previewRemain" class="font_red font_bold"></span>點
            </div>
        </div>
        <div class="content_list remind">
            請確認數量是否正確
        </div>
        <div class="btn_action btn_bottom">
            <div class="left_btn"><a class="bg_none" onclick="togglePanel('modify');">修改</a></div>
            <div class="right_btn"><a class="bg_red" onclick="userPointCorrect();">確認</a></div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            enableUIfunction();
        });

        function enableUIfunction() {
            //+-按鈕
            $('.arithmetic').on('click', function () {
                if (!$(this).hasClass('disable')) {
                    var action = $(this).data('action');
                    ArithmeticCore.init(action);
                    checkLockPrevieBtn();
                }
            });
            //說明沒打時要鎖住按鈕
            $('#description').on('input', function () {
                checkLockPrevieBtn();
            });
            //帶入說明
            $('.tagDesc').on('click', function () {
                adjustText = $(this).text();
                $('#description').val(adjustText);
                checkLockPrevieBtn();
            });
        }
        var ArithmeticCore = {
            //prop
            prop: {
                action: '',
                userPoint: 0,
                oldAdjustPoint: 0,
                newAdjustPoint: 0,
                remain: 0
            },
            //method
            init: function (action) {
                this.reset(action);
                this.setNewValues();
                //console.log(this.prop);//for debug

                this.checkIfLockBtn();
                this.updateInfo();

                return this;
            },
            reset: function (action) {
                this.prop = {
                    action: action,
                    userPoint: 0,
                    oldAdjustPoint: 0,
                    newAdjustPoint: 0,
                    remain: 0,
                };
            },
            setNewValues: function myfunction() {
                var core = this;
                var prop = this.prop;
                prop.userPoint = parseInt($('#userPoint').val()) || 0;
                prop.oldAdjustPoint = parseInt($('#adjust').val()) || 0;
                switch (prop.action) {
                    case 'minus':
                        prop.newAdjustPoint = prop.oldAdjustPoint - 1;
                        break;
                    case 'add':
                        prop.newAdjustPoint = prop.oldAdjustPoint + 1;
                        break;
                    default:
                        prop.newAdjustPoint = prop.oldAdjustPoint;//當前
                        break;
                }
                prop.remain = prop.userPoint + prop.newAdjustPoint;
            },
            checkIfLockBtn: function () {
                var prop = this.prop;
                if (prop.remain - 1 < 0) {
                    $('#minusPoint').addClass('disable');
                }
                else {
                    $('#minusPoint').removeClass('disable');
                }
            },
            updateInfo: function () {
                var prop = this.prop;
                if (prop.remain >= 0) {
                    var adjustText = (prop.newAdjustPoint > 0) ? '+' + prop.newAdjustPoint.toString() : prop.newAdjustPoint.toString();
                    $('#adjust').val(adjustText);
                    $('#remainPoint').val(prop.remain);

                    $('#previewAdjust').text(adjustText);
                    $('#previewRemain').text(prop.remain);
                }
            }
        };

        function checkLockPrevieBtn() {
            var adjust = parseInt($('#adjust').val()) || 0;
            var desc = $('#description').val().trim();
            var btn = $('#previewBtn');
            if ((adjust != 0) && (desc.length > 0)) {
                if (btn.hasClass('disable')) {
                    btn.removeClass('disable');
                }
            }
            else {
                if (!btn.hasClass('disable')) {
                    btn.addClass('disable');
                }
            }
        }

        function togglePanel(action) {
            switch (action) {
                case 'preview'://預覽
                    $('#editPanel').hide();
                    $('#confirmPanel').show();

                    //預覽文字
                    printPreviewDescription();
                    break;
                case 'modify'://修改
                    $('#editPanel').show();
                    $('#confirmPanel').hide();
                    break;
            }
        }

        function printPreviewDescription()
        {
            //為了讓<H/C>等會被判為html的文字能夠正常輸出，且\n也要可以換行，用了此較麻煩的寫法
            var preview = $('#previewDesc').empty();
            var description = $('#description').val();
            var arry = description.split('\n');
            for (i = 0; i < arry.length; i++) {
                var text = htmlEncode(arry[i]);
                preview.append(text);
                if (i < arry.length - 1) {
                    preview.append('<br />');
                }
            }
        }

        function getModel() {
            var model = {
                Adjust: 0,
                Description: ''
            };

            model.Adjust = parseInt($('#adjust').val()) || 0;
            model.Description = htmlEncode($('#description').val());

            return model;
        }

        // #region tool method
        function htmlEncode(html) {
            return document.createElement('a').appendChild(
                document.createTextNode(html)).parentNode.innerHTML;
        };
        // #endregion

        function userPointCorrect() {
            var model = getModel();
            var deferred = $.ajax({
                url: "UserPointCorrect", @*"@Url.Action("UserPointCorrect", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤*@
                method: "POST",
                data: model,
                dataType: "json",
                headers: {
                    PcpUserToken: '@(ViewBag.PcpUserToken)',
                    StoreGuid: '@(ViewBag.SellerGuid)'
                }
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '繼續核銷', style: 'red', clickEvent: function () {
                            returnScanCode();
                        }
                    }
                ]
            };

            deferred.done(function (data) {
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }
    </script>
}
@helper RenderDescriptionTemplate()
{
    <div class="tag_group">
        <div class="tag tagDesc">消費者要求退貨</div>
        <div class="tag tagDesc">新增點數時輸入錯誤</div>
        <div class="tag tagDesc">兌換點數時輸入錯誤</div>
    </div>
}
