﻿@using LunchKingSite.BizLogic.Models;
@using LunchKingSite.DataOrm;
@model PointUseViewModel
@{
    ViewBag.Title = "兌換點數";
    Layout = "_RegularsVerifyLayout.cshtml";
    ViewBag.AlertWindowImg = Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_point.png");
}
@section styles{
    <style type="text/css">
        #editPanel2 {
            display: none;
        }

        #confirmPanel {
            display: none;
        }
    </style>
}
<div id="container">
    <div id="header">
        <div class="header_topic">@ViewBag.Title</div>
        <div id="nav" class="card_off">
            <div class="left">
                <a id="back1" onclick="returnVerifyPortal()"><i class="fa fa-angle-left"></i>熟客核銷</a>
                @*<a id="back2" onclick="returnVerifyPortal()"><i class="fa fa-angle-left"></i></a>
                    <a id="back3" onclick="returnVerifyPortal()"><i class="fa fa-angle-left"></i></a>*@
            </div>
        </div>
    </div>
    <div id="content" class="point">
        <!--1&2-top-->
        <div id="infoPanel" class="content_inner">
            <div class="content_list list92 bordert_div content_listline">
                <div class="content_line">
                    <div class="left">
                        <div class="text_0">所有點數</div>
                    </div>
                    <div class="right">
                        <div class="num"><input id="userPoint" value="@Model.UserPoint" disabled/>點</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--1-->
        <div id="editPanel1">
            <div class="content_inner last">
                <div class="content_list_tp content_list_tp_nb border_none">
                    <div class="font_gray6">選擇項目</div>
                </div>
                @RenderPointCollectRule()
            </div>
        </div>
        <!--2-->
        <div id="editPanel2" class="last_p">
            <div class="content_inner">
                <div class="content_list list_auto bordert_div content_listline">
                    <div class="left">
                        <div class="text_0 font_bold">兌換： </div>
                        <div class="text_0 font_bold" id="previewItemName"></div>
                        @Html.Hidden("hidExchangeRuleId")
                        @Html.Hidden("hidItemName")
                        @Html.Hidden("hidCostPerUnit")
                    </div>
                </div>
                <div class="content_list list64">
                    <div class="input_list">
                        <div class="text_0">份數　　</div>
                        <div class="num">
                            <input id="unit" class="default_input" value="1" type="number" min="1" readonly="readonly" />
                        </div>
                        <i id="minusUnit" class="fa fa-minus-circle arithmetic disable" aria-hidden="true" data-action="minus"></i>
                        <i id="addUnit" class="fa fa-plus-circle arithmetic" aria-hidden="true" data-action="add"></i>
                    </div>
                </div>
                <div class="content_list list64 content_listline listline_none">
                    <div class="right">
                        <div class="num"><input id="totalCost" value="" disabled="">點</div>
                    </div>
                </div>
            </div>
            <div class="content_inner">
                <div class="content_list list64 bordert_div content_listline">
                    <div class="left">
                        <div class="text_0">剩餘點數</div>
                    </div>
                    <div class="right">
                        <div class="num"><input id="remainPoint" class="font_red" name="" value="" disabled="disabled">點</div>
                    </div>
                </div>
            </div>
            <div class="btn_action btn_bottom">
                <div class="left_btn"><a class="bg_none" onclick="toggleConfirm('back');">上一步</a></div>
                <div class="right_btn"><a class="bg_red" onclick="toggleConfirm('preview');">預覽</a></div>
            </div>
        </div>
        <!--3-->
        <div id="confirmPanel">
            <div class="content_list nob_grid">
                <div id="previewItemName2" class="tp_c"></div>
                <div class="tp_c font_bold font24">x <span id="previewUnit"></span></div>
                <div id="previewTotal" class="ct ct_first">
                    所有點數 @(Model.UserPoint)點
                </div>
                <div class="ct font_bold">
                    本次兌換 <span id="previewTotalCost"></span>點
                </div>
                <div class="ct ct_last">
                    剩餘點數 <span id="previewRemain" class="font_red font_bold"></span>點
                </div>
            </div>
            <div class="content_list remind">
                請確認數量是否正確
            </div>
            <div class="btn_action btn_bottom">
                <div class="left_btn"><a class="bg_none" onclick="toggleConfirm('modify');">修改</a></div>
                <div class="right_btn"><a class="bg_red" onclick="userPointUse();">確認</a></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            enableUIfunction();
        });

        function enableUIfunction() {
            $('.rule').not('.list_no_link').on('click', function () {
                //第一個預覽畫面塞預設值、調預設樣式
                var userPoint = parseInt($('#userPoint').val()) || 0;
                var cost = $(this).data('point');
                var ruleId = $(this).data('ruleid');
                var itemname = $(this).data('itemname');
                $('#hidCostPerUnit').val(cost);//隱藏欄位
                $('#hidExchangeRuleId').val(ruleId);
                $('#hidhidItemName').val(itemname);
                ArithmeticCore.init('default');
                /////

                var itemname = $(this).data('itemname');
                $('#previewItemName').text(itemname);
                $('#previewItemName2').text(itemname);
                toggleConfirm('next');
            });

            //+-按鈕
            $('.arithmetic').on('click', function () {
                if (!$(this).hasClass('disable')) {
                    var action = $(this).data('action');
                    ArithmeticCore.init(action);
                }
            });
        }

        var ArithmeticCore = {
            //prop
            prop: {
                action: '',
                userPoint: 0,
                costPerUnit: 0,
                oldUnit: 0,
                newUnit: 0,
                cost: 0,
                remain: 0,
            },
            //method
            init: function (action) {
                this.reset(action);
                this.setNewValues();
                //console.log(this.prop);//for debug

                this.checkIfLockBtn();
                this.updateInfo();

                return this;
            },
            reset: function (action) {
                this.prop = {
                    action: action,
                    userPoint: 0,
                    costPerUnit: 0,
                    oldUnit: 0,
                    newUnit: 0,
                    cost: 0,
                    remain: 0,
                };
            },
            setNewValues: function () {
                var core = this;
                var prop = this.prop;
                prop.userPoint = parseInt($('#userPoint').val()) || 0;
                prop.costPerUnit = parseInt($('#hidCostPerUnit').val()) || 0;
                prop.oldUnit = parseInt($('#unit').val()) || 0;
                switch (prop.action) {
                    case 'minus':
                        prop.newUnit = prop.oldUnit - 1;
                        break;
                    case 'add':
                        prop.newUnit = prop.oldUnit + 1;
                        break;
                    default:
                        prop.newUnit = prop.oldUnit;//當前
                        break;
                }
                prop.cost = prop.costPerUnit * prop.newUnit;
                prop.remain = prop.userPoint - prop.cost;
            },
            checkIfLockBtn: function () {
                var prop = this.prop;
                var nextCost = prop.costPerUnit * (prop.newUnit + 1);
                var remain = prop.userPoint - nextCost;

                if (remain < 0) {
                    $('#addUnit').addClass('disable');
                }
                else {
                    $('#addUnit').removeClass('disable');
                }

                if (prop.newUnit - 1 <= 0) {
                    $('#minusUnit').addClass('disable');
                }
                else {
                    $('#minusUnit').removeClass('disable');
                }
            },
            updateInfo: function () {
                var prop = this.prop;
                if (prop.remain >= 0) {
                    $('#unit').val(prop.newUnit);
                    $('#totalCost').val(prop.cost);
                    $('#remainPoint').val(prop.remain);
                    $('#previewUnit').text(prop.newUnit);
                    $('#previewTotalCost').text(prop.cost);
                    $('#previewRemain').text(prop.remain);
                }
            }
        }

        function getModel() {
            var model = {
                Count: 0,
                ExchangeRuleId: 0,
                ItemName: ''
            };
            model.Count = $('#unit').val();
            model.ExchangeRuleId = $('#hidExchangeRuleId').val();
            model.ItemName = $('#hidhidItemName').val();

            return model;
        }

        function toggleConfirm(action) {
            switch (action) {
                case 'next'://點選項目
                    $('#editPanel1').hide();
                    $('#editPanel2').show();
                    break;
                case 'back'://上一步
                    $('#unit').val(1);
                    $('#editPanel1').show();
                    $('#editPanel2').hide();
                    break;
                case 'preview'://預覽
                    $('#infoPanel').hide();
                    $('#editPanel2').hide();
                    $('#confirmPanel').show();
                    break;
                case 'modify'://修改
                    $('#infoPanel').show();
                    $('#editPanel2').show();
                    $('#confirmPanel').hide();
                    break;
            }
        }

        function userPointUse() {
            var model = getModel();
            var deferred = $.ajax({
                url: "UserPointUse", @*"@Url.Action("UserPointUse", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤*@
                method: "POST",
                data: model,
                dataType: "json",
                headers: {
                    PcpUserToken: '@(ViewBag.PcpUserToken)',
                    StoreGuid: '@(ViewBag.SellerGuid)'
                }
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '繼續核銷', style: 'red', clickEvent: function () {
                            returnScanCode();
                        }
                    }
                ]
            };

            deferred.done(function (data) {
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }
    </script>
}
@helper RenderPointCollectRule()
{
foreach (PcpPointExchangeRule rule in Model.ExchangeRule)
{
    string noLink = (rule.Point > Model.UserPoint) ? "list_no_link" : string.Empty;
        <div class="rule list_link font_bold @(noLink)" data-ruleid="@rule.Id" data-itemname="@rule.ItemName" data-point="@rule.Point">
            @(rule.Point)點兌換 @(rule.ItemName)
            <div class="right">
                <i class="fa fa-angle-right inline_div"></i>
            </div>
        </div>
}
}