﻿@using LunchKingSite.BizLogic.Models;
@model PointCollectRuleEditViewModel
@{
    ViewBag.Title = "集點";
    Layout = "_RegularsCardSettingLayout.cshtml";
    ViewBag.AlertWindowImg = Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_point.png");
}
@section styles{
    <link type="text/css" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
}
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card">
        <div class="left">
            <a href="PointSetting"><i class="fa fa-angle-left"></i>點數功能</a>
        </div>
    </div>
</div>
<div id="content" class="card_point">
    <div class="content_inner">
        <div class="content_list bordert_div">
            <div class="left">
                <div class="font12">到店消費金額</div>
                <div class="font20 font_height105 font_bold">可獲得 1 點</div>
            </div>
            <div class="right">
                <div class="num">
                    <input id="price" type="number" value="@(Convert.ToInt32(Model.CollectRule.CollectValue))">
                    <div>元</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="des">建議參考每位客人的平均消費額度做設定</div>
    <div class="btn_action btn_bottom">
        <div class="all"><a id="save" class="bg_red @(Model.CollectRule.CollectValue > 0 ? "" : "disable")">儲存</a></div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">
        $(function () {
            enableUIfunction();
        })

        function enableUIfunction() {
            $('#price').on('input', function () {
                var price = parseInt($('#price').val()) || 0;
                $(this).val(price);
                checkLockSave(price);
            });
            $('#save').on('click', function () {
                if (!$(this).hasClass('disable')) {
                    save();
                }
            });
        }
        function checkLockSave(price) {
            var btn = $('#save');

            if (price > 0) {
                if (btn.hasClass('disable')) {
                    btn.removeClass('disable');
                }
            }
            else {
                if (!btn.hasClass('disable')) {
                    btn.addClass('disable');
                }
            }
        }

        function save() {
            var price = parseInt($('#price').val()) || 0;

            var deferred = $.ajax({
                url: "PointCollectRuleSave", //"Url.Action("PointCollectRuleSave", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤
                method: "POST",
                data: {
                    price: price
                },
                dataType: "json"
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '返回', style: 'red', link: 'PointSetting'
                    }
                ]
            };

            deferred.done(function (data) {
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }
    </script>
}