﻿@using LunchKingSite.BizLogic.Models;
@using LunchKingSite.Core.Enumeration;
@using LunchKingSite.I18N;
@model PointSettingViewModel
@{
    ViewBag.Title = "點數功能";
    Layout = "_RegularsCardSettingLayout.cshtml";
    ViewBag.AlertWindowImg = Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_point.png");
    bool collectRuleEnable = (Model.CollectRule != null) ? Model.CollectRule.Enabled : false;
    string collectRuleEnableCss = (collectRuleEnable) ? "" : "list_group_close";
    bool hasEditPermission = Model.HasPermission(VbsMembershipPermissionScope.PcpPointEdit);
}
@section styles{

}
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card card_main">
        <div class="left">
            <a href="CardDashBoard"><i class="fa fa-angle-left"></i>熟客系統設定</a>
        </div>
        <div class="right">
            <a id="menu"><i class="fa fa-ellipsis-v"></i></a>
            <div class="menu_overlay">
                <div class="more_link">
                    <a href="PointRuleChangeLog">檢視變更紀錄</a>
                    @if (hasEditPermission)
                    {
                        <a id="switch" onclick="switchCollectRule();"><span id="enableText">@(Model.CollectRule.Enabled ? "暫停" : "啟用")</span>發送點數</a>
                    }
                    @Html.Hidden("collectRuleId", Model.CollectRule.Id)
                    @Html.Hidden("collectRuleEnabled", Model.CollectRule.Enabled)
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content" class="card_point">
    <div id="collectRuleDiv" class="content_inner @(collectRuleEnableCss)">
        <div class="content_list_tp content_list_tp_nb border_none">
            <div class="font_gray6">集點</div>
            <div class="tag">暫停中</div>
            @if (hasEditPermission)
            {
                <div class="right">
                    <div class="icon_next">
                        <a href="PointCollectRuleEdit"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
            }
        </div>
        @RenderCollectRule()
    </div>
    <div class="content_inner">
        <div class="content_list_tp content_list_tp_nb border_none">
            <div class="font_gray6">兌點</div>
            @if (hasEditPermission)
            {
                <div class="right">
                    <div class="icon_next">
                        <a href="PointExchangeRuleEdit"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
            }
        </div>
        @RenderExchangeRule()
    </div>
    <div class="content_inner last_p_s">
        <div class="content_list_tp content_list_tp_nb border_none">
            <div class="font_gray6">注意事項</div>
            @if (hasEditPermission)
            {
                <div class="right">
                    <div class="icon_next">
                        <a href="PointRemarkEdit"><i class="fa fa-pencil"></i></a>
                    </div>
                </div>
            }
        </div>
        @RenderRemark()
    </div>
</div>
<div style="height:500px;width:250px;"></div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            popMenu();
        });

        function popMenu() {
            $('#menu').on('click', function () {
                $('.menu_overlay').show();
            });
            $('.menu_overlay').on('click', function () {
                $(this).hide();
            });
        }

        function toggleCollectRuleUI(isEnable) {
            if (isEnable) {
                //開啟
                $('#collectRuleDiv').removeClass('list_group_close');
                $('#enableText').text('暫停');
            }
            else {
                //關閉
                $('#collectRuleDiv').addClass('list_group_close');
                $('#enableText').text('啟用');
                
            }
        }

        function switchCollectRule() {
            var ruleId = $('#collectRuleId').val();
            var collectRuleEnabled = $('#collectRuleEnabled').val().toLowerCase() == 'true';

            var deferred = $.ajax({
                url: "PointCollectRuleEnable", //Url.Action("PointCollectRuleEnable", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤
                method: "POST",
                data: {
                    ruleId: ruleId,
                    enable: !collectRuleEnabled
                },
                dataType: "json"
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '確定', style: 'red', clickEvent: function () {
                            window.location.reload();
                        }
                    }
                ]
            };

            deferred.done(function (data) {
                if (data.Success && collectRuleEnabled) {//成功暫停發送
                    options.dynamic = '<div class="font12 font_gray9">提醒您，暫停發送點數是指不再發送點數，消費者仍可以兌換點數。</div>';
                }
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }
    </script>
}
@helper RenderCollectRule()
{
    <div class="content_group list_group">
        @if (Model.CollectRule.CollectValue > 0)
        {
            <ul>
                <li>@string.Format(Message.RegularsPointCollectRule, Model.CollectRule.CollectValue)</li>
            </ul>
        }
    </div>
}
@helper RenderExchangeRule()
{
    <div class="content_group list_group">
        @if (Model.ExchangeRules.Count() > 0)
        {
            <ul>
                @foreach (var rule in Model.ExchangeRules)
                {
                    <li>@string.Format(Message.RegularsPointExchangeRule, rule.Point, rule.ItemName)</li>
                }
            </ul>
        }
    </div>
}
@helper RenderRemark()
{
    <div class="content_group list_group">
        <ul>
            @foreach (var remark in Model.Remarks)
            {
                <li>@(remark.Remark)</li>
            }
            <li>@Message.MembershipCardFixRemark1</li>
            <li>@Message.MembershipCardFixRemark2</li>
            <li>@string.Format(Message.MembershipCardFixRemark3, DateTime.Now.Year, DateTime.Now.Year + 1)</li>
        </ul>
    </div>
}
