﻿@using LunchKingSite.BizLogic.Models;
@using LunchKingSite.I18N;
@model PointRemarkEditViewModel
@{
    ViewBag.Title = "注意事項";
    Layout = "_RegularsCardSettingLayout.cshtml";
    ViewBag.AlertWindowImg = Url.Content("~/Themes/default/images/17Life/Regulars/images/ic_card_point.png");
}
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card">
        <div class="left">
            <a href="PointSetting">
                <i class="fa fa-angle-left" aria-hidden="true"></i>集點功能
            </a>
        </div>
    </div>
</div>
<div id="content" class="card_point">
    <div class="content_inner">
        <ul id="remarkGroup" class="content_group">
            @RenderRemarks()
            <div id="add" class="add">＋新增</div>
        </ul>
    </div>
    <div class="content_inner last_p">
        <div class="content_group content_group_nb">
            <ul class="provision_list">
                <li>@Message.MembershipCardFixRemark2</li>
                <li>@string.Format(Message.MembershipCardFixRemark3, DateTime.Now.Year, DateTime.Now.Year + 1)</li>
            </ul>
        </div>
    </div>
    <div class="btn_action btn_bottom">
        <div class="all"><a id="save" class="bg_red">儲存</a></div>
    </div>
</div>
<li id="newModel" class="input_text input_delete" style="display:none;">
    <textarea class="remark" rows="2" maxlength="50" placeholder="最多輸入50個字"></textarea>
    <div class="delete"><i class="fa fa-trash"></i></div>
</li>
@section scripts{
    <script type="text/javascript">
        $(function () {
            enableUIFunction();
        });

        function enableUIFunction() {

            //新增
            $('#add').on('click', function () {
                var count = core.getRemarkCount();
                if (count >= 10) {
                    alert('最多新增10個注意事項!');
                }
                else {
                    core.addRemark();
                }
            });
            //刪除
            $('#remarkGroup').on('click', '.delete', function () {
                $(this).parent('.remarkModel').remove();
                checkLockSaveBtn();
            });
            //檢查所有欄位是否填寫
            $('#remarkGroup').on('input', 'textarea', function () {
                checkLockSaveBtn();
            });
            //儲存
            $('#save').on('click', function () {
                if (!$(this).hasClass('disable')) {
                    save();
                }
            });
        }

        var core = {
            addRemark: function () {
                var newModel = $('#newModel').clone(true);
                $(newModel).removeAttr('id').addClass('remarkModel').show();//移除id="newModel"
                $('#add').before(newModel);

                $('#save').addClass('disable');
            },
            getRemarkCount: function () {
                var count = $('.remarkModel').length;
                return count;
            }
        }

        function checkLockSaveBtn() {
            var btn = $('#save');
            if (isAllFilled()) {
                btn.removeClass('disable');
            }
            else {
                btn.addClass('disable');
            }
        }
        function isAllFilled() {
            var model = getModel();
            var allFilled = true;

            for (var i = 0; i < model.RemarkList.length; i++) {
                if (model.RemarkList[i].RemarkText == null || model.RemarkList[i].RemarkText.trim().length <= 0) {
                    allFilled = false;
                    break;
                }
            }
            console.log(model);
            return allFilled;
        }

        // #region tool method
        function htmlEncode(html) {
            return document.createElement('a').appendChild(
                document.createTextNode(html)).parentNode.innerHTML;
        };
        // #endregion

        function getModel() {
            var model = {
                RemarkList: []
            };

            $.each($('.remarkModel'), function (i, obj) {
                var row = {};
                row.Id = $(this).data('remarkid');
                row.RemarkText = htmlEncode($(this).children('.remark').val());
                model.RemarkList.push(row);
            });

            return model;
        }

        function save() {
            var model = getModel();
            var deferred = $.ajax({
                url: "PointRemarkSave", //"Url.Action("PointRemarkSave", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤
                method: "POST",
                data: model,
                dataType: "json"
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '返回', style: 'red', link: 'PointSetting'
                    }
                ]
            };

            deferred.done(function (data) {
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }
    </script>
}
@helper RenderRemarks()
{
foreach (var remark in Model.Remarks)
{
    <li class="input_text input_delete remarkModel" data-remarkid="@remark.Id">
        <textarea class="remark" rows="2" maxlength="50" placeholder="最多輸入50個字">@remark.Remark</textarea>
        <div class="delete"><i class="fa fa-trash"></i></div>
    </li>
}
}