﻿@using LunchKingSite.BizLogic.Models;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Enumeration
@model RegularsImageUploadViewModel
@{
    ViewBag.Title = Model.GetTitleByImageType();
    Layout = "_RegularsCardSettingLayout.cshtml";
    var defaultImageSrc = Url.Content("~/Themes/default/images/17Life/Regulars/images/17life_640x428.jpg");
    bool hasEditPermission = Model.HasPermission(VbsMembershipPermissionScope.PcpBasicEdit);
}
@section styles{
    <style type="text/css">
        #cropPanel {
            display: none;
            float: left;
            margin-top: 44px;
        }

        #toCropfile {
            display: none;
        }

        .cropit-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin: 0;
            width: 240px;
            height: 160px;
        }

        .cropit-preview-image-container {
            cursor: move;
        }

        .cropit-preview-background {
            opacity: .2;
        }

        #cropPanel {
            overflow: hidden;
        }
        .btn_bottom > div:first-child {
            margin-bottom: 45px;
        }
    </style>
}
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card">
        <div class="left">
            <a id="back1" href="CardDashBoard">
                <i class="fa fa-angle-left" aria-hidden="true"></i>熟客系統設定
            </a>
            <a id="back2" style="display:none;">
                <i class="fa fa-angle-left" aria-hidden="true"></i>返回
                @*<img src="@Url.Content("~/Themes/default/images/17Life/Regulars/images/icon_back.png")" />返回*@
            </a>
        </div>
    </div>
</div>
<div id="content" class="card image">
    <div id="editPanel">
        <div id="imgGroup" class="img_wrap">
            @RenderPicture()
        </div>
        <div id="anchor" style="display:none;"></div>
        @if (hasEditPermission)
        {
            <div class="add_img last">
                <label id="addImage">＋新增圖片</label>
                <div class="des">最多上傳5張圖片</div>
            </div>
            <div class="btn_action btn_bottom">
                <div class="all"><a id="save" class="bg_red">儲存</a></div>
            </div>
        }
    </div>
    <div id="cropPanel">
        <div class="image-editor">
            <input id="toCropfile" type="file" class="cropit-image-input">
            <div class="cropit-preview"></div>
            <div class="btn_action btn_bottom">
                <div>
                    <i class="fa fa-picture-o fa" aria-hidden="true"></i>
                    <input type="range" class="cropit-image-zoom-input">
                    <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
                </div>
                <div class="all">
                    <a class="bg_red export" id="crop">確認</a>
                </div>
            </div>
        </div>
    </div>
</div>
@*#<!-- #region 圖片DOM Model (jQuery clone用)-->*@
<div id="newModel" class="img_item" style="display:none;">
    <div class="order">
        <i class="fa fa-caret-square-o-up moveUp"></i>
        <i class="fa fa-caret-square-o-down moveDown"></i>
    </div>
    <div class="main_img">
        <div class="number"></div>
        <input class="imageContainer" type="file" accept="image/*" style="display:none;">
        <img class="imagePriview" src="@defaultImageSrc" />
    </div>
    <div class="delete">
        <i class="fa fa-trash"></i>
    </div>
</div>
@*@<!-- #endregion -->*@
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Tools/js/exif.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.cropit-branch.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.cropit-branch.min.js")"></script>
    <script type="text/javascript">
        var defaultImageSrc = '@defaultImageSrc';
        var $imageCropper = $('.image-editor').cropit({
            imageBackground: true,
            smallImage: 'allow',//圖片太小張不擋
            maxZoom: 1.5,
            exportZoom: 2//輸出圖用2倍裁切框的大小
            //onFileChange:function () {
            //    console.log('file change');
            //},
            //onFileReaderError:function () {
            //    console.log('file reader error');
            //},
            //onFileReaderLoaded: function () {
            //    console.log('file reader loaded');
            //},
            //onPreImageLoaded: function () {
            //    console.log('pre image loaded');
            //},
            //onImageLoading: function () {
            //    console.log('image loading');
            //},
            //onImageLoaded:function () {
            //    console.log('image loaded');
            //},
            //onImageError: function (obj) {
            //    console.log('error code = ' + obj.code);
            //    console.log('error message = ' + obj.message);
            //}
        });
        $fileInput = $imageCropper.find('input.cropit-image-input');

        $(function () {
            enabledUIFunction();
        });

        function enabledUIFunction() {
            //裁切圖片功能啟用
            ImageCore.enableCropit();
            //新增圖片按鈕
            $('#addImage').on('click', function () {
                var count = ImageCore.getImageCount();
                if (count >= 5) {
                    alert("最多只能上傳五張照片喔!");
                }
                else {
                    ImageCore.addImage();
                    togglePanel();
                    showImageFileChooser();
                }
            });
            //取消裁切
            $('#back2').on('click', function () {
                $('#imgGroup .img_item:last').remove();
                togglePanel();
                $imageCropper.cropit('imageSrc', defaultImageSrc);//清除裁切panel上的圖片
            });
            //刪除按鈕
            $('.delete').on('click', function () {
                $(this).parent('.img_item').remove();
                ImageCore.updateOrder();
            });
            //上移
            $('.moveUp').on('click', function () {
                var row = $(this).parent('.order').parent('.img_item');
                var preRow = row.prev('.img_item');
                if (preRow.length > 0) {
                    swapElements(row.get(0), preRow.get(0));
                    ImageCore.updateOrder();
                }
            });
            //下移
            $('.moveDown').on('click', function () {
                var row = $(this).parent('.order').parent('.img_item');
                var nextRow = row.next('.img_item');
                if (nextRow.length > 0) {
                    swapElements(row.get(0), row.next().get(0));
                    ImageCore.updateOrder();
                }
            });

            //確定裁切
            $('#crop').on('click', function () {
                // #region plugin default option
                //var exportDefaults = {
                //    type: 'image/png',
                //    quality: 0.75,
                //    originalSize: false,
                //    fillBg: '#fff'
                //};
                // #endregion
                var b64ImageData = $imageCropper.cropit('export', {
                    type: 'image/jpeg',
                    quality: 0.7
                    //originalSize: true
                });
                
                //讀入新增的img
                $('#imgGroup .img_item:last .main_img .imagePriview').attr('src', b64ImageData);//<img>

                togglePanel();
                resetCropPanel();
            });

            //儲存
            $('#save').on('click', function () {
                if (!$(this).hasClass('disable')) {
                    save();
                }
            });
        }

        var ImageCore = {
            addImage: function () {
                var newModel = $('#newModel').clone(true);
                $(newModel).removeAttr('id').show();//移除id="newModel"

                $('#imgGroup').append(newModel);
                this.updateOrder();
            },
            getImageCount: function () {
                var count = $('#content .imageContainer').length;
                return count;
            },
            updateOrder: function () {
                var count = this.getImageCount();
                $.each($('#content .main_img'), function (i, obj) {
                    var order = i + 1;
                    var orderLabel = $(this).find('.number');
                    orderLabel.text('第' + order + '張');
                });
            },
            enableCropit: function () {
                var windowWidth = $(window).width();
                //螢幕長當裁切div的寬，裁切div的高再依320x214比例縮放
                var proportionHeight = windowWidth * 214 / 320;
                $imageCropper.cropit('previewSize', { width: windowWidth, height: proportionHeight });

                //遮罩css
                $('.cropit-preview').css({"width":windowWidth, "height":proportionHeight});
            }
        };

        function togglePanel() {
            if ($('#cropPanel').is(":visible")) {
                //列表→裁切
                $fileInput.val('');//清除選圖input
                $('#cropPanel').hide();
                $('#editPanel').show();
                $('#back1').show();
                $('#back2').hide();
                $('#content').height('100%'); 
            }
            else {
                //裁切→列表
                $('#cropPanel').show();
                $('#editPanel').hide();
                $('#back1').hide();
                $('#back2').show();
                $('#content').height('auto'); 
            }
        }
        function resetCropPanel() {
            $fileInput.val('');//清除選圖input的路徑
            $imageCropper.cropit('imageSrc', defaultImageSrc);//清除裁切panel上的圖片
        }


        // #region tool method
        function b64toBlob(b64Data, contentType, sliceSize) {
            //source:http://stackoverflow.com/a/16245768/1114
            contentType = contentType || '';
            sliceSize = sliceSize || 512;

            var byteCharacters = atob(b64Data);//isn't supported by IE9 and below, just IE10+
            var byteArrays = [];

            for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                var slice = byteCharacters.slice(offset, offset + sliceSize);

                var byteNumbers = new Array(slice.length);
                for (var i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);
                }

                var byteArray = new Uint8Array(byteNumbers);

                byteArrays.push(byteArray);
            }

            var blob = new Blob(byteArrays, { type: contentType });
            return blob;
        }
        function swapElements(elm1, elm2) {
            var parent1, next1,
                parent2, next2;

            parent1 = elm1.parentNode;
            next1   = elm1.nextSibling;
            parent2 = elm2.parentNode;
            next2   = elm2.nextSibling;

            parent1.insertBefore(elm2, next1);
            parent2.insertBefore(elm1, next2);
        }
        // #endregion

        function getFormData() {
            var formData = new FormData();
            formData.append('imgType', @((int)Model.ImgType));
            
            $('#imgGroup .img_item .main_img .imagePriview').map(function (i) {
                var src = $(this).attr('src');
                //console.log('src = ' + src);
                if (src.indexOf('data:') > -1) {
                    //本次上傳
                    var blob = b64toBlob(src.split('base64,')[1], 'image/jpeg');
                    formData.append('file' + i, blob);
                }
                else {
                    //以前上傳
                    formData.append('file' + i, src);
                }
            });
            return formData;
        }
        ///////////////////////////////////////////////////////////////////////////////////////////

        function save() {
            var model = getFormData();
            var deferred = $.ajax({
                url: "UploadRegularsImage", //Url.Action("UploadRegularsImage", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤
                method: "POST",
                data: model,
                processData: false,
                contentType: false,
                dataType: "json"
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '返回', style: 'red', link: 'CardDashBoard'
                    }
                ]
            };

            deferred.done(function (data) {
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }

        // #region App defined
        function showImageFileChooser() {
            if (window.android) {  // android平台
                window.android.showImageFileChooser();
            }
            else { //iOS或網頁版
                $('#toCropfile').trigger('click');
            }
        }

        var base64ImgArry = [];
        function onBase64ImagePrepared(isEnd, base64ImgPart) {//showImageFileChooser()的callback
            base64ImgArry.push(base64ImgPart);//分段傳，避免圖片太大導致error

            if (isEnd) {
                var base64Img = base64ImgArry.join('');
                $imageCropper.cropit('imageSrc', base64Img);
                base64ImgArry = [];
            }
        }
        // #endregion
    </script>
}
@helper RenderPicture()
{
bool hasEditPermission = Model.HasPermission(VbsMembershipPermissionScope.PcpBasicEdit);
var imageList = Model.ImageList;
for (int i = 0; i < imageList.Count; i++)
{
    <div class="img_item">
        <div class="order">
            @if (hasEditPermission)
            {
                <i class="fa fa-caret-square-o-up moveUp"></i>
                <i class="fa fa-caret-square-o-down moveDown"></i>
            }
        </div>
        <div class="main_img">
            <div class="number">第@(i + 1)張</div>
            <input class="imageContainer" type="file" accept="image/*" style="display:none;">
            <img class="imagePriview" src="@(imageList[i].Replace("http://", "https://"))" />
        </div>
        @if (hasEditPermission)
        {
            <div class="delete">
                <i class="fa fa-trash"></i>
            </div>
        }
    </div>
}
}