﻿<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <title>熟客核銷(developer用)</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/PCweb/plugin/font-awesome/font-awesome.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/default/images/17Life/Regulars/css/base.css")" />
    <style type="text/css">
        .content_list {
            position: relative;
        }
            .content_list a {
                display: block;
            }
        .link_list .text {
            float: inherit;
            display: inline-block;
        }
        .link_list .icon_next {
            width: 36px;
            position: absolute;
            bottom: 0px;
            display: table;
            right: 10px;
        }
            .link_list .icon_next i {
                font-size: 42px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        .content_list .block .link_list .list_mb {
            margin-bottom:20px;
        }

        #tokenPanel {
            text-align:center;
            width:100%;
        }
        #menu {
            display:none;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="header">
            <div class="header_topic">熟客核銷(developer用)</div>
            <div id="nav" class="card_off">
                <div class="left">
                    <a onclick="returnHome();">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="content_list block mbr_profile">
                <div style="color:gray;font-size:6pt;">
                    ※注意
                       <ul style="list-style-type:disc;margin-left:3em;width:80%;">
                           <li>此功能不會去確認消費者是否「已領卡」或同意過「熟客條款」，未領卡仍可進行作業。</li>
                           <li>此功能不會判斷「會員優惠/點數/寄杯」功能是否開啟，未開啟仍可進到下個頁面。</li>
                       </ul>
                </div>
                <div>
                    選擇用哪家店核銷：<br />
                    @Html.DropDownList("sellerList", (SelectList)ViewBag.SellerList)
                    <div>
                        請輸入會員手機或帳號email：<br />
                        <input type="email" id="emailOrMobile" value="" placeholder="ex.0987123654 / test@17life.com" style="width:80%;" />
                        <button id="getTokenBtn" style="margin-top:1em;">產生QRcode</button>
                    </div>
                    <div id="result"></div>
                    <div id="tokenPanel">
                        <div id="qrcode"></div>
                        <input id="pcpUserToken" type="hidden" value="" />
                    </div>
                </div>
            </div>
            <div id="menu">
                <div class="content_list block link_list list_no">
                    <a>
                        <div class="text">熟客卡優惠</div>
                        <div class="icon_next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="content_list block link_list list_m">
                    <a class="service" href="DepositAdd">
                        <div class="text">新增寄杯</div>
                        <div class="icon_next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="content_list block link_list list_m">
                    <a class="service" href="DepositUse">
                        <div class="text">兌換寄杯</div>
                        <div class="icon_next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="content_list block link_list list_mb">
                    <a class="service" href="DepositCorrect">
                        <div class="text">更正寄杯</div>
                        <div class="icon_next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="content_list block link_list list_m">
                    <a class="service" href="PointAdd">
                        <div class="text">發送點數</div>
                        <div class="icon_next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="content_list block link_list list_m">
                    <a class="service" href="PointUse">
                        <div class="text">兌換點數</div>
                        <div class="icon_next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="content_list block link_list list_mb">
                    <a class="service" href="PointCorrect">
                        <div class="text">更正點數</div>
                        <div class="icon_next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="content_list block link_list">
                    <a class="service" href="MemberDetail?source=2&userId=0">
                        <div class="text">查看使用明細</div>
                        <div class="icon_next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()

    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-1.9.1.min.js")'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        $(function () {
            pageEvent();
        });

        function pageEvent() {
            //取得QRcode事件
            $('#getTokenBtn').on('click', function () {
                var emailOrMobile = $('#emailOrMobile').val().trim();
                if (emailOrMobile != null && emailOrMobile.trim().length > 0) {
                    getNewPcpUserToken(emailOrMobile);
                }
                else {
                    $('#result').empty().append('<span style="color:red;">尚未輸入手機或帳號信箱</span>').show();
                    $('#menu,#tokenPanel').hide();
                }
            });
            //重新導頁加上queryString參數
            $('.service').on('click', function () {
                var href = $(this).attr('href');
                var sellerGuid = $('#sellerList').children('option:selected').val();
                var pcpUserToken = $('#pcpUserToken').val();

                if (href.indexOf('?') != -1) {
                    window.location = href + '&StoreGuid=' + sellerGuid + '&PcpUserToken=' + pcpUserToken;
                }
                else {
                    window.location = href + '?StoreGuid=' + sellerGuid + '&PcpUserToken=' + pcpUserToken;
                }
                
                return false;//取消default的導頁
            });
        }

        function getNewPcpUserToken(emailOrMobile) {
            var deferred = $.ajax({
                type: "POST",
                url: "GetNewPcpUserToken",
                data: addAntiForgeryToken({
                    emailOrMobile: emailOrMobile
                }),
                dataType: "json"
            });

            deferred.done(function (data) {
                if (data.Success) {
                    //成功
                    $('#pcpUserToken').val(data.Value);
                    $('#qrcode').empty().qrcode({
                        width: 100,
                        height: 100,
                        text: data.Value
                    }).show();

                    $('#result').empty().hide();
                    $('#menu,#tokenPanel').show();
                }
                else {
                    //失敗
                    $('#pcpUserToken').val('');
                    $('#result').empty().append('<span>取得token失敗</span>').show();
                    $('#qrcode').empty().hide();
                    $('#menu,#tokenPanel').hide();
                }
            }).fail(function () {
                //失敗
                $('#pcpUserToken').val('');
                $('#result').empty().append('<span style="color:red;">取得token失敗</span>').show();
                $('#qrcode').empty().hide();
                $('#menu,#tokenPanel').hide();
            });
        }

        //遮罩
        window.addEventListener("beforeunload", function (event) {
            $('.overlay').show();
        });

        $.ajaxSetup({
            beforeSend: function () {
                $('.overlay').show();
            },
            complete: function () {
                $('.overlay').hide();
            }
        });

        function addAntiForgeryToken(data) {
            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            return data;
        };

    </script>

</body>