﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.BizLogic.Models;
@using LunchKingSite.Core.Enumeration;
@{
    ViewBag.Title = "行銷跑馬燈";
    Layout = "_RegularsCardSettingLayout.cshtml";
    RegularsBaseViewModel model = new RegularsBaseViewModel();
    bool hasEditPermission = model.HasPermission(VbsMembershipPermissionScope.PcpBasicEdit);
}
@model List<PcpMarquee>
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card">
        <div class="left">
            <a href="CardDashBoard">
                <i class="fa fa-angle-left" aria-hidden="true"></i>熟客系統設定
            </a>
        </div>
    </div>
</div>
<div id="content" class="card run">
    <div class="content_inner">
        <div class="content_group">
            <div class="title">
                <div class="main_title">行銷訊息</div>
                <div class="sub_title">（最多15個字）</div>
            </div>
            <div id="marqueeGroup">
                @RenderMarquee()
            </div>
        </div>
        @if (hasEditPermission)
        {
            <div id="add" class="add_item">＋新增</div>
        }
    </div>
    <div class="content_inner last">
        <div class="content_group">
            <ul class="provision_list">
                <li>跑馬燈播放時將從第一則開始依序播放，若只設定一則訊息則固定顯示</li>
                <li>訊息字數建議最多15個字，且重要資訊放在第一句，以確保消費者可迅速閱讀理解</li>
                <li>可設定多則訊息，建議訊息設定在3則之內</li>
            </ul>
        </div>
        <div id="alertMsg" class="hidden alert alert-danger"></div>
    </div>
    @if (hasEditPermission)
    {
        <div class="btn_action btn_bottom">
            <div class="all">
                <a id="save" class="bg_red">儲存</a>
            </div>
        </div>
    }
</div>
<div id="newModel" class="input_text input_delete" style="display:none;">
    <input type="text" class="marquee" name="" placeholder="ex:全飲品大杯半價歡迎寄杯" maxlength="15">
    <div class="delete"><i class="fa fa-trash"></i></div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            enableUIFunction();
        });

        function enableUIFunction() {
            //新增
            $('#add').on('click', function () {
                var count = MarqueeCore.getMarqueeCount();
                if (count >= 3) {
                    alert('最多新增3則訊息!');
                }
                else {
                    MarqueeCore.addMarquee();
                }
            });
            //刪除
            $('.delete').on('click', function () {
                $(this).parent('.input_text').remove();
            });
            //儲存
            $('#save').on('click', function () {
                validate();
            });
        }

        var MarqueeCore = {
            addMarquee: function () {
                var newModel = $('#newModel').clone(true);
                $(newModel).removeAttr('id').show();//移除id="newModel"
                $('#marqueeGroup').append(newModel);
            },
            getMarqueeCount: function () {
                var count = $('#marqueeGroup .input_text').length;
                return count;
            }
        }

        // #region tool method
        function htmlEncode(html) {
            return document.createElement('a').appendChild(
                document.createTextNode(html)).parentNode.innerHTML;
        };
        // #endregion

        function validate() {
            var valid = true;
            var alertMsg = "";
            $('#alertMsg').empty();

            var model = getModel();
            $.each(model.Marquees, function () {
                if (this.split('###')[0] == '') {
                    alertMsg += '跑馬燈內容不能空白<br />';
                    valid = false;
                    return false;//break loop
                }
            });

            if (valid) {
                $('#alertMsg').text('').addClass('hidden');
                save(model);
            }
            else {
                alertMsg = alertMsg.trim("<br />");
                $('#alertMsg').append(alertMsg).removeClass('hidden').focus();//focus not working
            }
        }
        function getModel() {
            var model = {
                Marquees: []
            };

            $.each($('#marqueeGroup .input_text'), function (i, obj) {
                var marquee = htmlEncode($(this).children('.marquee').val());
                var id = $(this).children('.marquee').data('marqueeid');
                if (id == null) {
                    id = 0;
                }
                model.Marquees.push(marquee + "###" + id);
            });

            return model;
        }

        function save(model) {
            var deferred = $.ajax({
                url: "RegularsSellerMarqueeSave", //Url.Action("RegularsSellerMarqueeSave", "RegularsSystem")"//Global.asax的MobileWidthConstraint會導致這寫法錯誤
                method: "POST",
                data: model,
                dataType: "json"
            });

            var options = {
                resultIcon: false,
                buttons: [
                    {
                        name: '返回', style: 'red', link: 'CardDashBoard'
                    }
                ]
            };

            deferred.done(function (data) {
                options.message = data.Message;
                options.resultIcon = data.Success;
                alertCore.init(options).show();
            }).fail(function () {
                alertCore.init(options).unexpectedError();
            });
        }
    </script>
}
@helper RenderMarquee()
{
RegularsBaseViewModel model = new RegularsBaseViewModel();
bool hasEditPermission = model.HasPermission(VbsMembershipPermissionScope.PcpBasicEdit);
foreach (var marquee in Model)
{
    <div class="input_text input_delete">
        <input type="text" class="marquee" name="" value="@marquee.Marquee" placeholder="ex:全飲品大杯半價歡迎寄杯" data-marqueeid="@marquee.Id" maxlength="15" @Html.Raw(hasEditPermission ? string.Empty : "disabled")>
        @if (hasEditPermission)
        {
            <div class="delete"><i class="fa fa-trash"></i></div>
        }
    </div>
}
}