﻿@using LunchKingSite.BizLogic.Models
@using LunchKingSite.I18N;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Enumeration;
@model RegularsPreviewViewModel
@{
    ViewBag.Title = "預覽";
    Layout = "_RegularsCardSettingLayout.cshtml";
}
@section styles{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/mobile/css/swiper.css")" />
}
<div id="header">
    <div class="header_topic">@ViewBag.Title</div>
    <div id="nav" class="card card_main"></div>
</div>
<div id="content" class="card_main">
    @*形象圖*@
    @RenderCorporateImage()
    @*店名*@
    <div class="content_inner">
        <div class="content_list content_list_title">
            <div class="font_center font24 font_height105">@Model.ApiModel.SellerName</div>
        </div>
    </div>
    @*狀態列*@
    @RenderInfoBar()
    @*跑馬燈*@
    @RenderMarquees()
    @*商家介紹*@
    @RenderSellerIntro()
    @*環境圖*@
    @RenderEnvironmentImages()
    @*餐點*@
    @RenderFoodImages()
    @*會員優惠*@
    @RenderVipPanel()
    @*集點*@
    @RenderPointPanel()
    @*寄杯*@
    @RenderDepositPanel()
    @*適用店家*@
    @RenderApplyStore()
    <div class="btn_action btn_bottom">
        <div class="all"><a class="bg_none" href="CardDashBoard">返回</a></div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Themes/mobile/js/swiper.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            enableImageSwiper();
        });

        function enableImageSwiper() {
            var sellerImageSwiper = new Swiper('#sellerImageSwiper', {
                loop: true,
                pagination: '.swiper-pagination',
                autoplay: 5000
            });
            
            var marqueeSwiper = new Swiper('#marqueeSwiper', {
                loop: true,
                direction: 'vertical',
                autoplay: 3000
            });
        }
    </script>
}
@helper RenderCorporateImage()
{
    <div class="content_inner">
        <div id="sellerImageSwiper" class="cover swiper-container">
            <div class="swiper-wrapper">
                @foreach (var url in Model.ApiModel.SellerImagePath)
                {
                    if (url != null)
                    {
                        <div class="swiper-slide"><img src="@Url.Content(url.Replace("http://", "https://"))" /></div>
                    }
                }
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
}
@helper RenderInfoBar()
{
int serviceCount = 0;
serviceCount = Model.ApiModel.IsUseOffer ? ++serviceCount : serviceCount;
serviceCount = Model.ApiModel.IsUsePoint ? ++serviceCount : serviceCount;
serviceCount = Model.ApiModel.IsUseDeposit ? ++serviceCount : serviceCount;
    <div class="content_inner">
        <div class="multi_block_@(serviceCount)">
            @if (Model.ApiModel.IsUseOffer)
            {
                @RenderInfoBarDOM(serviceCount, "ic_card_vip.png", "優惠", "會員優惠");
            }
            @if (Model.ApiModel.IsUsePoint)
            {
                @RenderInfoBarDOM(serviceCount, "ic_card_point.png", "集點", "可集點");
            }
            @if (Model.ApiModel.IsUseDeposit)
            {
                @RenderInfoBarDOM(serviceCount, "ic_card_coffee.png", "寄杯", "可寄杯");
            }
        </div>
    </div>
}
@helper RenderInfoBarDOM(int serviceCount, string imageName, string title, string desc)
{
    switch (serviceCount)
    {
        case 1:
            <div class="block_link">
                <div class="left">
                    <div class="left list_icon">
                        <img src="@Url.Content(string.Format("~/Themes/default/images/17Life/Regulars/images/{0}", imageName))">
                    </div>
                    <div class="right">
                        <div class="font16 font_gray3">@title</div>
                    </div>
                </div>
                <div class="right">
                    <div class="left">
                        <div class="font18 font_gray6 inline_div">@desc</div>
                    </div>
                    <div class="right">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            break;
        case 2:
            <div class="block_link">
                <div class="left">
                    <div class="up">
                        <div class="left list_icon">
                            <img src="@Url.Content(string.Format("~/Themes/default/images/17Life/Regulars/images/{0}", imageName))">
                        </div>
                        <div class="right">
                            <div class="font14 font_gray3">@title</div>
                        </div>
                    </div>
                    <div class="down">
                        <div class="font12 font_gray6 inline_div">@desc</div>
                    </div>
                </div>
                <div class="right">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            break;
        case 3:
            <div class="block_link">
                <div class="left">
                    <div class="up">
                        <div class="list_icon">
                            <img src="@Url.Content(string.Format("~/Themes/default/images/17Life/Regulars/images/{0}", imageName))">
                        </div>
                        <div class="font12 font_gray3">@title</div>
                    </div>
                    <div class="down">
                        <div class="font12 font_gray6 inline_div">@desc</div>
                    </div>
                </div>
                <div class="right">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            break;
        default:
            break;
    }
}
@helper RenderMarquees()
{
if (Model.ApiModel.MarqueePrmo != null && Model.ApiModel.MarqueePrmo.Count() > 0)
{
    <div class="content_inner">
        <div class="content_list list_line">
            <div class="font16 list_marquee">
                <div id="marqueeSwiper" class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var intro in Model.ApiModel.MarqueePrmo)
                        {
                            <span class="swiper-slide">@intro</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
}
@helper RenderSellerIntro()
{
if (Model.ApiModel.SellerIntro != null && Model.ApiModel.SellerIntro.Count() > 0)
{
    <div class="content_inner">
        <div class="content_list list_line list_margin_xs">
            <div class="left">
                <div class="font16">商家介紹</div>
            </div>
        </div>
        <div class="content_list list_line">
            @foreach (var item in Model.ApiModel.SellerIntro)
            {
                <div class="font14">@Html.Raw(item.Replace("\n", "<br />"))</div>
            }
        </div>
    </div>
}
}
@helper RenderEnvironmentImages()
{
if (Model.ApiModel.SellerSrndgImgPath != null && Model.ApiModel.SellerSrndgImgPath.Count() > 0)
{
    <div class="content_inner">
        <div class="content_list list_line list_margin_xs">
            <div class="left">
                <div class="font16">環境</div>
            </div>
        </div>
        <div class="content_list scroll">
            <div class="imgs">
                <ul style="width: 616px;">
                    @foreach (var url in Model.ApiModel.SellerSrndgImgPath)
                    {
                        if (url != null)
                        {
                            <li><img height="108" src="@Url.Content(url.Replace("http://", "https://"))" /></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}
}
@helper RenderFoodImages()
{
if (Model.ApiModel.SellerServiceImgPath != null && Model.ApiModel.SellerServiceImgPath.Count() > 0)
{
    <div class="content_inner">
        <div class="content_list list_line list_margin_xs">
            <div class="left">
                <div class="font16">餐點</div>
            </div>
        </div>
        <div class="content_list scroll">
            <div class="imgs">
                <ul style="width: 616px;">
                    @foreach (var url in Model.ApiModel.SellerServiceImgPath)
                    {
                        if (url != null)
                        {
                            <li><img height="108" src="@Url.Content(url.Replace("http://", "https://"))" /></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}
}
@helper RenderVipPanel()
{
if (Model.ApiModel.IsUseOffer && Model.ApiModel.Card != null)
{
        <div class="content_inner">
            <div class="content_list list_line list_margin_xs">
                <div class="left">
                    <div class="font16">會員優惠</div>
                </div>
                <div class="right">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            <div class="content_list list_line">
                @if (!string.IsNullOrWhiteSpace(Model.ApiModel.Card.OtherPremiums))
                {
                    <div class="content_block">
                        <div class="font12 font_gray9">其他優惠</div>
                        <div class="font14 font_gray3">@Model.ApiModel.Card.OtherPremiums</div>
                    </div>
                }
                <div class="content_block">
                    <div class="font12 font_gray9">優惠折數</div>
                    <div class="font14 font_gray3">@(Convert.ToString(Model.ApiModel.Card.PaymentPercent * 10).Replace(".", ""))折</div>
                </div>
                <div class="content_block">
                    <div class="font12 font_gray9">本季優惠期限</div>
                    <div class="font14 font_gray3">@string.Format("{0:yyyy/MM/dd}", LunchKingSite.BizLogic.Component.API.ApiSystemManager.DateTimeFromDateTimeString(Model.ApiModel.Card.CloseTime))</div>
                </div>
                @if (Model.ApiModel.Remark.Count > 0)
                {
                    <div class="content_block">
                        <div class="font12 font_gray9">注意事項</div>
                        <ul class="font14 font_gray3">
                            @foreach (var remark in Model.ApiModel.Remark)
                            {
                                <li>@remark</li>
                            }
                        </ul>
                    </div>
                }
                <div class="content_block">
                    <div class="font12 font_gray9">使用限制</div>
                    <div class="font14 font_gray3">@Model.ApiModel.Card.AvailableDateDesc</div>
                </div>
                <div class="content_block">
                    <div class="font12 font_gray9">合併優惠</div>
                    <div class="font14 font_gray3">@(Model.ApiModel.Card.CombineUse ? "可與店內優惠合併使用" : "不可與店內優惠合併使用")</div>
                </div>
                <div class="content_block content_block_last">
                    <div class="font12 font_gray9">卡片到期日</div>
                    <div class="font14 font_gray3">@string.Format("{0:yyyy/MM/dd}", LunchKingSite.BizLogic.Component.API.ApiSystemManager.DateTimeFromDateTimeString(Model.ApiModel.CardValidDate))</div>
                </div>
                <div class="content_block content_block_last">
                    <div class="font12 font_gray9 font_right">最後修改日期 @string.Format("{0:yyyy/MM/dd}", LunchKingSite.BizLogic.Component.API.ApiSystemManager.DateTimeFromDateTimeString(Model.ApiModel.LastModifyTime))</div>
                </div>
            </div>
        </div>
}
}
@helper RenderPointPanel()
{
    if (Model.ApiModel.IsUsePoint && Model.ApiModel.PointActiveContent.ExchangeRule != null && Model.ApiModel.PointActiveContent.ExchangeRule.Count() > 0)
    {
        <div class="content_inner">
            <div class="content_list list_line list_margin_xs">
                <div class="left">
                    <div class="font16">集點</div>
                </div>
                <div class="right">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            <div class="content_list list_line">
                @if (!string.IsNullOrWhiteSpace(Model.ApiModel.PointActiveContent.CollectRule))
                {
                    <div class="content_block">
                        <div class="font12 font_gray9">集點規則</div>
                        <ul class="font14 font_gray3">
                            <li>@Model.ApiModel.PointActiveContent.CollectRule</li>
                        </ul>
                    </div>
                }
                @if (Model.ApiModel.PointActiveContent.ExchangeRule != null && Model.ApiModel.PointActiveContent.ExchangeRule.Count() > 0)
                {
                    <div class="content_block">
                        <div class="font12 font_gray9">兌點規則</div>
                        <ul class="font14 font_gray3">
                            @foreach (var rule in Model.ApiModel.PointActiveContent.ExchangeRule)
                            {
                                <li>@rule</li>
                            }
                        </ul>
                    </div>
                }
                @if (Model.ApiModel.PointActiveContent.Remark != null && Model.ApiModel.PointActiveContent.Remark.Count() > 0)
                {
                    <div class="content_block">
                        <div class="font12 font_gray9">注意事項</div>
                        <ul class="font14 font_gray3">
                            @foreach (var remark in Model.ApiModel.PointActiveContent.Remark)
                            {
                                <li>@remark</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    }
}
@helper RenderDepositPanel()
{
    if (Model.ApiModel.IsUseDeposit &&
        Model.ApiModel.DepositActiveContent != null && Model.ApiModel.DepositActiveContent.Active != null && Model.ApiModel.DepositActiveContent.Active.Count() > 0)
    {
        <div class="content_inner">
            <div class="content_list list_line list_margin_xs">
                <div class="left">
                    <div class="">寄杯活動</div>
                </div>
                <div class="right">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            <div class="content_list list_line">
                <div class="content_block">
                    <div class="font12 font_gray9">活動</div>
                    <ul class="font14 font_gray3">
                        @foreach (var title in Model.ApiModel.DepositActiveContent.Active)
                        {
                            <li>@title</li>
                        }
                    </ul>
                </div>
                @if (Model.ApiModel.DepositActiveContent.Remark != null && Model.ApiModel.DepositActiveContent.Remark.Count() > 0)
                {
                    <div class="content_block">
                        <div class="font12 font_gray9">注意事項</div>
                        <ul class="font14 font_gray3">
                            @foreach (var remark in Model.ApiModel.DepositActiveContent.Remark)
                            {
                                <li>@remark</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    }
}
@helper RenderApplyStore()
{
    <div class="content_inner last">
        <div class="content_list list_line list_margin_xs">
            <div class="left">
                <div class="">適用店家</div>
            </div>
            @if (Model.ApiModel.Stores != null && Model.ApiModel.Stores.Count > 1)
            {
                <div class="right">
                    <div class="left">
                        <div class="font_red font12">查看更多店家</div>
                    </div>
                    <div class="right">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            }
        </div>
        @foreach (var store in Model.ApiModel.Stores)
        {
            <div class="content_list list_line ">
                <div class="left col-xs-10">

                    <div class="font16 font_height105">@store.StoreName</div>
                    @if (!string.IsNullOrWhiteSpace(store.Address))
                    {
                        <div class="font14 font_gray9 ">@store.Address</div>
                    }
                    @if (!string.IsNullOrWhiteSpace(store.Phone))
                    {
                        <div class="font14 font_gray9">@store.Phone</div>
                    }
                </div>
                <div class="right">
                    <div class="font_middle_xs">
                        <div class="font12 font_bluegreen">X.Xkm</div>
                    </div>
                </div>
            </div>
        }
    </div>
}