﻿@{    
    Layout = "~/Views/Shared/BackendLayout.cshtml";    
}
@using LunchKingSite.WebLib.Models.FundMgmtSystem
@model DirectDepositFundMgmtModel

<h2>人工匯款金額管理</h2>

<aside role="dialog">
    <h3>匯入人工匯款結果</h3>
    <form action="@Url.Action("DirectDepositExcel")" target="excelUpload" method="post" enctype="multipart/form-data">
        <input name="excel" type="file" />
        <input type="submit" value="上傳"/>
    </form>
</aside>

<div class="full_width_container">
    <h3>查詢與匯出</h3>
    <form id="formDirectDepositSearch" action="@Url.Action("DirectDepositFundTransferMgmt")" method="post">
        <ul class="formList">
            <li>
                <select name="Biz">
                    <option value="0" @Html.Raw(@Model.Biz == LunchKingSite.Core.BusinessModel.Ppon ? "selected='selected'" : string.Empty)>17Life團購</option>            
                    <option value="1" @Html.Raw(@Model.Biz == LunchKingSite.Core.BusinessModel.PiinLife ? "selected='selected'" : string.Empty)>品生活(不含商品檔)</option>            
                </select>
            </li>
            <li>
                <select name="IsDealSelected" id="isDealSelected">                    
                    <option value="False" @Html.Raw(@Model.DealId.HasValue ? string.Empty : "selected='selected'")>單據建檔人</option>            
                    <option value="True" @Html.Raw(@Model.DealId.HasValue ? "selected='selected'" : string.Empty)>檔號</option>            
                </select>                
                @{
                    if (Model.DealId.HasValue)
                    {                        
                        <input id="txtBillCreator" type="text" name="BillCreator" value='@Model.BillCreator' style="display: none;" />
                        <input id="txtDealId" type="text" name="DealId" value='@Model.DealId' />
                    }
                    else
                    {
                        <input id="txtBillCreator" type="text" name="BillCreator" value='@Model.BillCreator' />
                        <input id="txtDealId" type="text" name="DealId" value='@Model.DealId' style="display: none;" />
                    }                
                }                
            </li>
            <li>
                <label>核銷日：</label>
                <input type="text" class="datepicker" name="Vts" value='@Html.Raw(Model.Vts.HasValue ? Model.Vts.Value.ToString("yyyy/MM/dd") : string.Empty)' /><span style="margin-left: 3px; margin-right: 3px;">00:00:00 ～</span>
                <input type="text" class="datepicker" name="Vte" value='@Html.Raw(Model.Vte.HasValue ? Model.Vte.Value.ToString("yyyy/MM/dd") : string.Empty)' /><span style="margin-left: 3px;">00:00:00</span>                
            </li>
            <li>
                <label>單據建立時間：</label>
                <input type="text" class="datepicker" name="Cts" value='@Html.Raw(Model.Cts.HasValue ? Model.Cts.Value.ToString("yyyy/MM/dd") : string.Empty)' /><span style="margin-left: 3px; margin-right: 3px;">～</span>
                <input type="text" class="datepicker" name="Cte" value='@Html.Raw(Model.Cte.HasValue ? Model.Cte.Value.ToString("yyyy/MM/dd") : string.Empty)' /><span style="margin-left: 3px;"></span>                
            </li>
            <li>
                <label>付款狀態：</label>
                <input id="trxAll" type="radio" name="TrxCriteria" value="All" @Html.Raw(Model.TrxCriteria == TrxCriteria.All ? "checked='checked'" : string.Empty) />            
                <label for="trxAll">全部</label>                
                <input id="trxComplete" type="radio" name="TrxCriteria" value="Completed" @Html.Raw(Model.TrxCriteria == TrxCriteria.Completed ? "checked='checked'" : string.Empty)/>
                <label for="trxComplete">匯款成功</label>                
                <input id="trxOthers" type="radio" name="TrxCriteria" value="Others" @Html.Raw(Model.TrxCriteria == TrxCriteria.Others ? "checked='checked'" : string.Empty)/>
                <label for="trxOthers">尚未匯款</label>                
            </li>
        </ul>
        <input type="submit" value="查詢" />
        @{
            if (Model.Transfers != null && Model.Transfers.Count() > 0)
            {         
                <div style="margin-top: 1.5em;">
                    <input id="btnExportExcel" name="Excel" type="submit" value="匯出" />
                </div>       
            }
        }
    </form>
</div>

<div class="full_width_container">    
@{
        if (Model.Transfers != null)
        {            
            <table class="ctrlRoomTbl" style="width: 1590px;">
                <thead>
                    <tr>
                        <th style="width: 60px;">對帳單ID</th>
                        <th style="width: 60px;">檔號</th>
                        <th style="width: 120px;">分店</th>
                        <th style="width: 100px;">核銷日(起)</th>
                        <th style="width: 100px;">核銷日(訖)</th>
                        <th style="width: 80px;">應付總額</th>
                        <th style="width: 80px;">實付總額</th>
                        <th style="width: 100px;">付款日</th>
                        <th style="width: 100px;">受款人戶名</th>
                        <th style="width: 100px;">受款人ID/統編</th>
                        <th style="width: 60px;">受款銀行代號</th>
                        <th style="width: 60px;">受款分行代號</th>
                        <th style="width: 100px;">受款人帳號</th>
                        <th style="width: 180px;">備註(200字以內)</th>
                        <th style="width: 80px;">類型</th>
                        <th style="width: 150px;">付款狀態</th>
                        <th style="width: 60px;">編輯</th>                        
                    </tr>
                </thead>
                <tbody>
                @{
                    if (Model.Transfers.Count() > 0)
                    {
                        foreach (DirectDepositFundTransferInfo info in Model.Transfers)
                        {
                            <tr>                    
                                <td style="text-align: center;"><span class="bsId">@info.BalanceSheetId</span></td>            
                                <td style="text-align: center;"><a href='@Url.Content("~/controlroom/Verification/WeeklyPayAccountSetUp.aspx")' target="_blank">@info.DealId</a></td>
                                <td style="text-align: left;">@info.StoreName</td>
                                <td style="text-align: center;">@info.BalanceSheetIntervalStart.ToString("yyyy/MM/dd")</td>
                                <td style="text-align: center;">@info.BalanceSheetIntervalEnd.ToString("yyyy/MM/dd")</td>
                                <td style="text-align: right;">@info.AccountsPayable.ToString("$###,###,##0")</td>
                                <td style="text-align: right;">@{
                                                                string _AccountsPaid = (info.AccountsPaid.HasValue ? info.AccountsPaid.Value.ToString("$###,###,##0") : string.Empty);
                                                                <input class="edit" type="text" name="AccountsPaid" value='@_AccountsPaid' style="display: none; width: 85%;" />
                                                                <span class="view AccountsPaid">@_AccountsPaid</span>
                                                            }                              
                                </td>
                                <td style="text-align: center;">@{
                            string _TransferTime = (info.TransferTime.HasValue ? info.TransferTime.Value.ToString("yyyy/MM/dd") : string.Empty);
                            <input class="edit datepicker" type="text" name="TransferTime" value='@_TransferTime' style="display: none; width: 85%;" />
                                                            <span class="view transferTime">@_TransferTime</span>
                                                        }
                                </td>
                                <td style="text-align: left;">@info.ReceiverTitle</td>
                                <td style="text-align: center;">@info.ReceiverCompanyId</td>                    
                                <td style="text-align: center;">@info.ReceiverBankNo</td>
                                <td style="text-align: center;">@info.ReceiverBranchNo</td>
                                <td style="text-align: center;">@info.ReceiverAccountNo</td>
                                <td style="text-align: left;">
                                    @{
                                        if (@info.IsMemoEditable)
                                        {
                                            <span>
                                                <textarea class="edit" name="Memo" style="display: none; width: 100%;" maxlength="200">@info.Memo</textarea>
                                                <span class="view memo">@info.Memo</span>
                                                <span class="payId" style="display: none;">@info.PaymentId</span>
                                            </span>
                                        }
                                    }
                                </td>
                                <td style="text-align: center;">@info.TypeDesc</td>
                                <td style="text-align: center;">@info.PaymentState</td>
                                <td style="text-align: center;">
                                    @{
                                        if (@info.IsMemoEditable)
                                        {
                                            <input type="button" class="view" value="修改" style="font-size: x-small;" onclick="changeToEditMode(this);"/>
                                            <input type="button" class="edit" value="儲存" style="font-size: x-small; display: none;" onclick="saveChanges(this);" />
                                            <input type="button" class="edit" value="取消" style="font-size: x-small; display: none;" onclick="cancelChanges(this);" />
                                        }
                                    }
                                </td>                            
                            </tr>
                        }
                    }
                    else
                    {
                                <tr>
                                    <td colspan="16" style="text-align: center;">查無資料</td>
                                </tr>
                    }
                }                
                </tbody>
            </table>
    
        }
    }
    
</div>


<input id="ShowSysMessage" type="hidden" name="ShowSysMessage" value="@Model.ShowSysMessage.ToString()" />
<div id="dialog-message" title="系統提示" style="display: none;">
  <p>    
    請輸入查詢條件!
  </p>  
</div>

<iframe name="excelUpload" src="@Url.Action("DirectDepositExcel")" style="display: none;" />    


@section SSC
{
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")'/>
    <title>匯款金額管理</title>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({ dateFormat: 'yy/mm/dd' });
            var rightPanelWidth = $(document).width() - $('.leftpanel').width();
            $('.full_width_container').width(rightPanelWidth);

            $('#isDealSelected').change(toggleBillDeal);
            if ($('#ShowSysMessage').val() === 'True') {
                $("#dialog-message").dialog({
                    modal: true,
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            }            
        });

        function toggleBillDeal() {
            if ($(this).val() === 'True') {                
                $('#txtDealId').show();
                $('#txtBillCreator').hide();
                $('#txtBillCreator').val('');
            } else {
                $('#txtBillCreator').show();
                $('#txtDealId').hide();
                $('#txtDealId').val('');
            }
        }

        function changeToEditMode(ele) {
            var tr = $(ele).closest('tr');
            tr.find('td').addClass('editStyle');
            tr.find('.edit').show();
            tr.find('.view').hide();
        }

        function cancelChanges(ele) {
            finishEditing(ele);
        }

        function finishEditing(ele) {
            var tr = $(ele).closest('tr');
            tr.find('td').removeClass('editStyle');
            tr.find('.edit').hide();
            tr.find('.view').show();
        }

        function saveChanges(ele) {
            var tr = $(ele).closest('tr');

            var payId = tr.find('span.payId').text();
            var memo = tr.find('textarea[name="Memo"]').val();
            var transfertime = tr.find('input[name="TransferTime"]').val();
            var accountpaid = tr.find('input[name="AccountsPaid"]').val().replace(',', '').replace('$', '');

            if (payId && payId.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateDirectDepositMemo")',
                    data: { payId: payId, memo: memo, transfertime: transfertime, accountpaid: accountpaid },
                    success: function(data) {
                        if (data.IsSuccess) {
                            tr.find('span.memo').text(memo);
                            tr.find('span.TransferTime').text(transfertime);
                            tr.find('span.AccountsPaid').text(accountpaid);
                            finishEditing(ele);
                        } else {
                            alert('修改失敗! 請洽技術部. (匯款 id = ' + payId + ')');
                            finishEditing(ele);
                        }
                    },
                    dataType: 'json'
                });
            } else {
                alert('修改失敗! 請洽技術部!');
                finishEditing(ele);
            }
        }
            
    </script>
    <style>
        .ui-widget-overlay 
        {
            background: hsl(0, 0%, 70%);
        }
        .ui-dialog-buttonpane button 
        {
            padding: 0 !important;
        }
        label
        {
            font-size: smaller;
        }
        .formList
        {
            list-style-type: none;            
            margin-left: 0;
            padding-left: 0;
        }
        .formList li
        {
            margin-top: 3px;
            margin-bottom: 3px;
        }
        .ctrlRoomTbl th
        {
            background-color : #999999;            
        }        
        .ctrlRoomTbl tr:nth-child(even) td
        {
            font-size : smaller;
            background-color : #F0F0F0;            
        }
        .ctrlRoomTbl tr:nth-child(odd) td
        {
            font-size : smaller;
            background-color : #FFFFFF;            
        }
        .ctrlRoomTbl
        {
            border-collapse : collapse;
        }        
        .ctrlRoomTbl td,th
        {
            border-color : Black;
            border-width : thin;            
            border-style : solid;
        }
        .ctrlRoomTbl input[type=text]
        {            
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .ctrlRoomTbl select
        {
            font-size: smaller;
        }
        .editStyle
        {
            background-color: #F2F277 !important;
        }

    </style>
}