﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <input type="hidden" id="hidMessage" value="@ViewBag.Message" />
    <script type="text/javascript">
        if (document.getElementById("hidMessage").value) {
            alert(document.getElementById("hidMessage").value);
        }
    </script>
</body>
</html>
