﻿@using System.Collections.ObjectModel
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.Mobile
@{
    HeadMeta meta = new HeadMeta();
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    string pageTitle = ViewBag.PageTitle as string;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="17Life-吃喝玩樂團購3折起，全家便利商店5折專區免費索取兌換！全台美食餐券、旅遊住宿、宅配24H快速到貨、SPA專區，還有品生活獨享的頂級精品、用餐優惠，即買即用，盡在17Life與你一起享受生活！" />
    <meta name="keywords" content="17Life,團購,團購網站,團購美食,美食團購,美食餐廳,即買即用,餐券,優惠券,優惠,好康,折扣,台灣旅遊,SPA,線上購物" />
    <meta name="copyright" content="17Life" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1" />
    <meta name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="apple-touch-icon" href="/Themes/PCweb/images/17life-icon-iphone.png" />
    <link rel="apple-touch-icon" href="/Themes/PCweb/images/17life-icon-iphone@2x.png" />
    <link rel="apple-touch-icon" href="/Themes/PCweb/images/17life-icon-iphone@3x.png" />
    <link rel="shortcut icon" href="/Themes/PCweb/images/favicon.ico" />
    <link href="/Themes/PCweb/css/lifeMemberIE6.css" rel="stylesheet" type="text/css" />
    <link href="/Themes/PCweb/css/lifeMemberIE7.css" rel="stylesheet" type="text/css" />
    <link href="https://www.17life.com/images/custom/override.css" rel="stylesheet" type="text/css" />
    <!-- 整合版樣式表，請套用此新樣式 -->
    <link rel="stylesheet" href="../themes/PCweb/css/web_style.min.css" type="text/css">
    <!-- 新增的js庫與功能 -->
    <script src="../themes/PCweb/js/vue.js"></script>
    <script type="text/javascript">
	!function (b, r, i, d, g, e, w, l) { if (b._bw) return; var a = b._bw = function () { a.callMethods ? a.callMethods.apply(a, arguments) : a.queue.push(arguments) }; a.queue = []; var j = r.createElement(i); j.async = !0; j.src = d; var d = r.getElementsByTagName(i)[0]; d.parentNode.insertBefore(j, d) }(window, document, 'script', 'https://img.scupio.com/js/pixel.js');
	@if(HttpContext.Current.User.Identity is PponIdentity) {
	@:_bw('init', '153', { ulid: '@((HttpContext.Current.User.Identity as PponIdentity).Id.ToString())' });
	} else {
	@:_bw('init', '153');
	}
    </script>
    <!-- Google Tag Manager -->
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KWN4HC');
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WGLKDBL');
    </script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript" async src="https://www.googletagmanager.com/gtag/js?id=AW-1015907304"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'AW-1015907304');
        gtag('config', 'AW-807906577');
        gtag('config', 'AW-775610202');
    </script>
    <script type="text/javascript">
        function delay(callback, ms) {
            var timer = 0;
            return function () {
                var context = this, args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function () {
                    callback.apply(context, args);
                }, ms || 0);
            };
        }
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KWN4HC" height="0" width="0" style="display: none; visibility: hidden"></iframe>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WGLKDBL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KWN4HC');</script>
    <!-- End Google Tag Manager -->
    <script src="/Tools/js/jquery-1.9.1.min.js"></script>
    <script src="/Tools/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Tools/js/jquery-ui-1.9.2.min.js"></script>
    <script src="/Tools/js/jquery.blockUI.js"></script>
    <script src="/Tools/js/jquery.cycle.all.min.js"></script>
    <script src="/Tools/js/effects/nivoslider.js"></script>
    <script src="/Tools/js/mrel.js"></script>
    <script src="/Tools/js/jquery.Guid.js"></script>
    <script src="/Tools/js/jquery.lazyload.min.js"></script>
    <script src="/Tools/js/jquery.numeric.js"></script>
    <script src="/Tools/js/jquery.mousewheel.min.js"></script>
    <script src="/Tools/js/jquery.kinetic.min.js"></script>
    <script src="/Tools/js/jquery.smoothdivscroll-1.3-min.js"></script>
    <script src="/Tools/js/overlay-channel/modernizr.custom.js"></script>
    <script src="/Tools/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="application/javascript">
        (function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'10000','properties':{'pixelId':'420546'}});var s=d.createElement(t);s.src=r;s.async=true;s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;w[u]=[];w[u].push=function(p){y([p])};y(c)}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");
    </script>
    <script src="../Tools/js/Ppon.js"></script>
    <script src="../Tools/js/completer.js"></script>
    <script>
        function showErrorMsg(element, message) {
            element.text('');
            element.text(message);
            element.removeClass("extra-info").addClass("error-info");
            element.parents(".input-group").addClass("error");
        }

        function showMsg(element, message) {
            element.text('');
            element.text(message);
            element.removeClass("error-info").addClass("extra-info");
            element.parents(".input-group").removeClass("error");
        }

        function checkRequiredField() {
            var result = true;
            $('.required_input').each(function () {
                if ($.trim($(this).val()) == "") {
                    result = false;
                    return false;
                }
            });

            $('.required_select').each(function () {
                if ($(this).val() == 0) {
                    result = false;
                    return false;
                }
            });

            $('.required_check').each(function () {
                if (!$(this).is(":checked")) {
                    result = false;
                    return false;
                }
            });

            return result;
        }

        function setSubmitButtonStyle() {
            if (checkRequiredField()) {
                $('#btnSubmit').removeClass('disabled');
            } else {
                $('#btnSubmit').addClass('disabled');
            }
        }
    </script>
    <link href="../Tools/js/css/completer.css" rel="stylesheet" type="text/css" />
    <title>
        17Life，團購、宅配24小時出貨、優惠券、即買即用
    </title>
    @RenderSection("header", false)
</head>
<body class="gray">
    <!-- 內容框架區 -->
    <div class="container-2019 gray">
        <div class="page-header-tall">
            <div class="wrapper">
                <div class="logo-lg">
                    <a href="/"></a>
                    <img src="../themes/PCweb/images/17life-logo.png" alt="home page">
                </div>
                <div class="action" style="display: none;">
                    <div id="login-thirdparty" class="btn .btn-lined" v-on:click="toggleBubble">
                        <img src="../themes/PCweb/images/icons/entry_userhead.svg" alt="head">
                        <p>使用現有帳號當入</p>
                    </div>
                    <div class="bubble" ref="bubble">
                        <div class="title">用您已有的帳號登入</div>
                        <div class="entries">
                            <a :href="item.url" v-for="(item,id) in thirdParties">
                                <img :src="item.imgurl" :alt="item.name">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <!-- Footer Start-->
    <div class="p3footer">
        <div class="footer_content">
            <div class="contentblock_300 info-17life">
                <div class="footer_logo">
                    <svg width="90" height="48">
                        <image xlink:href="../themes/PCweb/images/footer_150x80.svg" src="../themes/PCweb/images/footer_150x80.png"
                               width="90" height="48" />
                    </svg>
                </div>
                <p>
                    版權所有 © 2015 康太數位整合股份有限公司
                    <br />
                    Taiwan (R.O.C) 104 台北市中山北路一段11號12樓
                </p>
                <div class="support_c">
                    <p class="fa fa-headphones fa-fw" style="width:100%">
                        <a href="/Ppon/NewbieGuide.aspx" style="color:#ccc">客服中心</a>
                    </p>
                </div>

                <p class="visaTitle_rwd">Visa Offical Partner</p>
            </div>
            <div class="contentblock_180 part-17life">
                <div class="TP_17life"></div>
                <div class="contentlist">
                    <ul>
                        <li>
                            <a href="/about_us.aspx">關於我們</a>
                        </li>
                        <li>
                            <a href="/ppon/RecentDeals.aspx">過往好康</a>
                        </li>
                        <li>
                            <a href="/meal/">餐點外送</a>
                        </li>
                        <li>
                            <a href="#">預約系統</a>
                        </li>
                        <li>
                            <a href="/Ppon/PrivacyPolicy.aspx">服務條款</a>
                        </li>
                        <li>
                            <a href="/Ppon/PrivacyGoogle.aspx">隱私權政策</a>
                        </li>
                        <li>
                            <a href="/Ppon/NewbieGuide.aspx?p=f">電子發票</a>
                        </li>
                        <li>
                            <a href="#">人力招募</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="contentblock_180 part-pez-cert">
                <div class="TP_PEZ"></div>
                <div class="contentlist">
                    <ul>
                        <li>
                            <a href="http://www.payeasy.com.tw/" target="_blank">PayEasy線上購物</a>
                        </li>
                        <li>
                            <a href="http://www.easyfree.com.tw/" target="_blank">EasyFree企業福利網</a>
                        </li>
                        <li>
                            <a href="http://www.payeasy.com.tw/travel/" target="_blank">PayEasy康迅旅遊</a>
                        </li>
                    </ul>
                </div>
                <div class="TP_Certification"></div>
                <div class="contentlist">
                    <ul>
                        <li>
                            <a href="http://www.sosa.org.tw/index.asp" target="_blank">SOSA優良電子商店</a>
                        </li>
                        <li>2011電子商務Top50</li>
                        <li>
                            <div id="dpmarkseal" cert="B000003(01)" style="width: 100px; margin-top: 10px;">
                                <a href="http://www.tpipas.org.tw/DPmark/ShowCertData.aspx?id=B000003(01)" target="_blank">
                                    <img border="0" id="dpmarkseal1" title="dpmark資料隱私保護標章"
                                         src="https://www.tpipas.org.tw/DPmark/ShowImage.aspx?type=1" style="width: 98px;">
                                </a>
                                <p class="text-center">B000003(01)</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contentblock_300 part-serivce">
                <div class="TP_Service"></div>
                <div class="contentlist">
                    <ul>
                        <li>
                            <a href="/promo.aspx?cn=joinus" target="_blank">合作提案</a>
                        </li>
                        <li>
                            <a href="/Ppon/NewbieGuide.aspx?p=f">常見問題</a>
                        </li>
                        <li>
                            <a href="/user/service.aspx">17Life客服信箱</a>

                        </li>
                    </ul>
                </div>
                <p class="serviceTime">
                    &nbsp;&nbsp;服務時間：週一至週六 9：00 ~ 18：00
                    <span class="visaTitle">&nbsp;&nbsp;Visa Offical Partner</span>
                </p>
                <div class="TP_twService"></div>
                <div class="twService">
                    <img class="twService-img" src="../themes/PCweb/images/twService_logo.png" width="84" height="74">
                    <p>服務品質領先，團購唯一獲獎！17Life榮獲【2014臺灣服務業大評鑑】大型購物網站銅牌！</p>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- End Footer-->
</body>
</html>