﻿@{
    Layout = "~/Views/NewMember/_NewMemberSite.cshtml";
    string apiBaseUrl = ViewBag.ApiBaseUrl;
    string errorMessage = ViewBag.ErrorMessage as string;
}
@section header{
    <script type="text/javascript">
        window.apiBaseUrl = '@apiBaseUrl';
        window.errorMessage = '@errorMessage';
        $(document).ready(function() {
            $("#btnSubmit").click(function () {
                if (!checkRequiredField()) {
                    return false;
                }

                if (!accountValidate()) {
                    showErrorMsg($('#err_emailOrPhoneNum'), '手機號碼/電子信箱格式錯誤');
                    return false;
                }

                $('#form').submit();
            });

            function accountValidate() {
                if (!checkEmailOrPhone($('#emailOrPhoneNum').val())) {
                     return false;
                }
                return true;
            }

            $('#emailOrPhoneNum').focus();

            if (window.errorMessage != null && window.errorMessage.length > 0) {
                alert(window.errorMessage);
            }

            $('#emailOrPhoneNum').on('input', function () {
                setSubmitButtonStyle();
            });

            $(document).keypress(
                function (event) {
                    if (event.which == '13') {
                        event.preventDefault();
                    }
                });

            setSubmitButtonStyle();
        });
    </script>
}

<form method="post" action="@Url.Action("ConfirmExisted")" id="form" class="form-2019">
    <div class="form-header">
        <div class="title">綁定手機號碼或e-mail</div>
    </div>
    <div class="content">
        <div class="wrapper">
            <h3></h3>
            <div class="input-group">
                <label for="emailOrPhoneNum">
                    <div class="title">手機號碼/ 電子信箱</div>
                    <span class="input-frame">
                        <input type="text" name="emailOrPhoneNum" id="emailOrPhoneNum" class="required_input" autocomplete="off">
                    </span>
                    <div id="err_emailOrPhoneNum" class="extra-info">請輸入正確的手機號碼/電子信箱</div>
                </label>
            </div>

            <button type="button" id="btnSubmit" class="btn btn-wide btn-red disabled">
                確定
            </button>
        </div>
    </div>
</form>



