﻿@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@{
    Layout = "~/Views/NewMember/_NewMemberSite.cshtml";
    string apiBaseUrl = ViewBag.ApiBaseUrl;
    string errorMessage = ViewBag.ErrorMessage as string;
    string mobile = ViewBag.Mobile;
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}
@section header{
    <script type="text/javascript" src="/Tools/js/member/jquery.timers-1.2.js"></script>
    <script type="text/javascript" src="/Tools/js/member/memberRegister.js"></script>
    <script type="text/javascript">
        window.errorMessage = '@errorMessage';
        window.apiBaseUrl = '@apiBaseUrl';
        $(document).ready(function () {
            $('#password').focus();
            if (window.errorMessage != null && window.errorMessage.length > 0) {
                alert(window.errorMessage);
            }

            MemmberRegisterApi.HostNameSet(window.apiBaseUrl);

            $(document).keypress(
                function (event) {
                    if (event.which == '13') {
                        event.preventDefault();
                    }
            });

            $('#btnSubmit').click(function () {
                var code = $('#validCode').val();
                var mobile = $('#mobile').val();
                MemmberRegisterApi.ValidateMobileRegisterCode('AND2016030710', mobile, code).done(function (res) {
                    if (res.Code === 1000) {
                        $('#resetPasswordKey').val(res.Data.resetPasswordKey);
                        $('#form').submit();
                    } else {
                        alert(res.Message);
                    }
                });
            });

            $('#reSendVaildateCode').click(function (evt, first) {
                var mobile = $('#mobile').val();
                MemmberRegisterApi.SendMobileRegisterAuthCode('AND2016030710', mobile).done(function (res) {
                    if (res.Code === 1000) {
                        var sendTimes = 3 - res.Data.sendCount;
                        console.log('sendTimes:' + sendTimes)
                        if (sendTimes > 0) {
                            secondDown = 30;
                            $('#timeDown .timer').text('30 秒後可重發驗證碼');
                            $('#timeDown').everyTime('1s', function () {
                                $(this).find('.timer').text((secondDown - 1) + ' 秒後可重發驗證碼');
                                secondDown--;
                                if (secondDown === 0) { $(this).hide(); $('#reSendVaildateCode').show(); }
                            }, 30);
                            $('#reSendVaildateCode').hide();
                            $('#timeDown').show();
                        } else {
                            $('#reSendVaildateCode').show();
                        }

                        $('#validCodeTimes').text(sendTimes);
                        if (first != true) {
                            alert('驗證碼已重新發送!');
                        }

                    } else if (res.Code === 2130) {
                        $('#timeDown').hide();
                        $('#validCodeTimes').text(0);
                        $('#reSendVaildateCode').hide();
                        alert('請更換手機號碼，或洽客服專線：@config.ServiceTel');
                    } else {
                        $('#timeDown').hide();
                        alert(res.Message);
                    }
                });
            })

            $('#reSendVaildateCode').trigger('click', [true]);

            $('#backRegister').click(function () {
                location.href = '@Url.Action("ConfirmMember")';

            })

        });

    </script>
}
<form method="post" action="@Url.Action("Register")" id="form" class="form-2019">
    <div class="form-header">
        <div class="title">輸入手機驗證碼</div>
    </div>
    <!-- 表單內容 -->
    <div class="content">
        <div class="wrapper">
            <h3></h3>
            <div class="input-group">
                <label for="password-input">
                    <div class="title">請輸入六位數驗證碼</div>
                    <div class="extra-info-2">
                        您輸入的號碼是
                        <span class="phone">@mobile</span>
                        剩餘
                        <span id="validCodeTimes" class="remain"></span>
                        次可發送驗證碼
                    </div>
                    <span class="input-frame">
                        <input type="text" id="validCode" name="validCode" autocomplete="off" />
                        <input type="hidden" id="user" name="user" value="@ViewBag.EncryptMobile" />
                        <input type="hidden" id="mobile" name="mobile" value="@mobile" />
                        <input type="hidden" id="resetPasswordKey" name="resetPasswordKey" value="0000" />
                    </span>
                    <div class="countdown-info" id="timeDown"><span class="timer"></span></div>
                </label>
            </div>
            <button type="button" id="reSendVaildateCode" class="btn btn-wide btn-transparent text-red" style="display: none;">
                重發認證碼
            </button>
            <button type="button" id="btnSubmit" class="btn btn-wide btn-red">
                送出
            </button>
            <button type="button" id="backRegister" class="btn btn-wide btn-transparent text-red">
                重新輸入手機號碼
            </button>
        </div>
    </div>
</form>
