﻿@{
    Layout = "~/Views/NewMember/_NewMemberLayout.cshtml";
    string correctionMailUrl = ViewBag.CorrectionMailUrl;
    string errorMessage = ViewBag.ErrorMessage as string;
}

@section header {
    <style type="text/css">
        body {
            background-color: #f5f3f4;
        }

        [v-cloak] {
            display: none;
        }
    </style>
    <script type="text/javascript">
        window.errorMessage = '@errorMessage';
    </script>
}

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            init();
            if (window.errorMessage != null && window.errorMessage.length > 0) {
                alert(window.errorMessage);
            }
        });

        var app = new Vue({
            el: '.container-2019',
            data: {
                key: $.getQueryParam('key'),
                email: '資料載入中...'
            },
            methods: {
                reSend: function () {
                    $.ajax({
                        type: "POST",
                        url: "/service/ppon/SendAuthMail",
                        data: JSON.stringify({ 'key': this.key }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('Authorization', 'Bearer 705c0cb742d24d7fb85823e052124a64_cf56566a9de546bb840f9a5eae89ddda');
                        },
                        success: function (res) {
                            if (res.Code == 1000) {
                                alert("17Life已將認證信寄到您的信箱中，請您前往查看並盡速認證，謝謝！");
                            } else {
                                alert(res.Message);
                            }
                        }, error: function (err) {
                            console.log('err:' + JSON.stringify(err));
                        }
                    });
                }
            }
        });

        function init() {
            $.ajax({
                type: "POST",
                url: "/api/NewMember/GetEmailByAuthKey",
                data: JSON.stringify({ 'key': app.key }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer 705c0cb742d24d7fb85823e052124a64_cf56566a9de546bb840f9a5eae89ddda');
                },
                success: function (res) {
                    ///captcha error
                    if (res.Code == 1000) {
                        app.email = res.Data;
                    } else {
                        app.email = '資料不存在';
                    }
                }, error: function (err) {
                    alert('目前系統有異常，請稍後再試試。');
                    console.log('err:' + JSON.stringify(err));
                }
            });
        }

    </script>
}

<div class="container-2019 gray">
    <form action="" class="form-2019 validation">
        <!-- 表單內容 -->
        <div class="content">
            <div class="wrapper">
                <div id="validation-17logo">
                    <a href="/">
                        <img src="/themes/PCweb/images/17life-logo.png" alt="17life">
                    </a>
                </div>
                <div class="validation-info">
                    <h3>立即啟用索取好康!</h3>
                    <p>系統已經寄發認證信到您的電子信箱:</p>
                    <p v-cloak>{{email}}</p>
                </div>
                <div class="validation-reminder">
                    <p>17Life的更多好康等著您，請立即前往收信完成認證，才能正式啟用17Life的各項服務唷！</p>
                    <p class="red">( 請在7天內完成帳號認證，逾期需重新再註冊一次唷！)</p>
                </div>
                <div class="validation-explaner">
                    <h4>沒有收到認證信<span><img src="/themes/PCweb/images/icons/question_lined_circle.svg" alt="沒有收到認證信"></span></h4>
                    <h6>
                        (1) 請檢查信件是不是被分類倒「垃圾信箱」中了，為了避免日後漏接好康訊息，建議<a href="/Ppon/WhiteListGuide.aspx" target="_blank">
                            將17Life設為白名單
                        </a><br>
                        (2) 若確認未收到認證信，可以再重新補寄認證信：<a href="javascript:void(0)" v-on:click="reSend()">馬上補寄認證信</a><br>
                        (3) 還是沒收到認證信！是不是您的mail填寫錯誤呢？ <a href="javascript:window.location.href='@correctionMailUrl'">
                            立即修改登入mail
                        </a>
                    </h6>
                </div>
                <div class="validation-cta">
                    <a href="/">前往17Life首頁逛逛<span class="arrow-right-red"></span></a>
                </div>
            </div>
        </div>
        <!--center-->
    </form>
</div>