﻿@{
    Layout = "~/Views/NewMember/_NewMemberLayout.cshtml";
    int send = ViewBag.Send == null ? 0 : (int)ViewBag.Send;
}

@section header {
    <style type="text/css">
        #main {
            background-color: #f5f3f4;
        }

        .refresh {
            cursor: pointer;
        }

        .cnofirm-row.error {
            background-color: #FFDFDF
        }

        [v-cloak] {
            display: none;
        }
    </style>
}

@section scripts{
    <script type="text/javascript" src="/Tools/js/completer.js?v=0.1"></script>
    <link href="/Tools/js/css/completer.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function getCaptcha(id) {
            app.captchaKey = Math.random().toString();
            $("#imgCaptcha").attr("src", "/NewMember/Captcha.ashx?x=" + app.captchaKey + "&sessionId=" + id);
        }

        $(document).ready(function () {
            $.disalbeAutoFill();

            $('#email').focus();

            $('.refresh').click(function () {
                getCaptcha('CaptchaRegister');
            });

            getCaptcha('CaptchaRegister');

            initCityDataSource();
            initExternalLoginDataSource();

            $("#email").completer({
                separator: "@@",
                source: window.EmailDomainSource,
                itemSize: 7,
                complete: function (val) {
                    app.email = val;
                }
            });
        });

        // Vue Instance
        let app = new Vue({
            el: '.container-2019',
            data: {
                citys: [],
                city: '0',
                thirdParties: [],
                sending: false,
                email: '',
                password: '',
                repassword: '',
                verificationCode: '',
                captchaKey: '',
                edm: true,
                confirm: false,
                errors: {
                    email: '',
                    password: '',
                    repassword: '',
                    city: '',
                    verificationCode: ''
                }
            },
            methods: {
                toggleBubble: function () {
                    let bubble = this.$refs.bubble
                    if (bubble.classList.contains('active')) {
                        bubble.classList.add('fade');
                        setTimeout(() => {
                            bubble.classList.remove('active');
                            bubble.classList.remove('fade');
                        }, 300)
                    } else {
                        bubble.classList.add('show');
                        setTimeout(() => {
                            bubble.classList.add('active');
                            bubble.classList.remove('show');
                        }, 300)
                    }
                },
                validate: function () {

                    this.errors.email = '';
                    this.errors.password = '';
                    this.errors.repassword = '';
                    this.errors.city = '';
                    this.errors.verificationCode = '';

                    var isValid = true;

                    if (this.email == '') {
                        this.errors.email = 'Email未輸入或格式不正確';
                        if (isValid) {
                            $('#email').focus();
                        }
                        isValid = false;
                    }

                    if (passwordCheck(this.password) == false) {
                        console.log('password fail.');
                        this.errors.password = '6碼以上，英文或數字，英文請區分大小寫';
                        if (isValid) {
                            $('#password').focus();
                        }
                        isValid = false;
                    }

                    if (this.password != this.repassword) {
                        this.errors.repassword = '密碼不一致，請重新輸入一次密碼';
                        if (isValid) {
                            $('#repassword').focus();
                        }
                        isValid = false;
                    }

                    if (this.city == '0') {
                        this.errors.city = '請選擇你的所在地，讓我們提供您更好的服務';
                        if (isValid) {
                            $('#city').focus();
                        }
                        isValid = false;
                    }

                    if (this.verificationCode == '') {
                        this.errors.verificationCode = '圖形驗證錯誤';
                        if (isValid) {
                            $('#verificationCode').focus();
                        }
                        isValid = false;
                    }

                    return isValid;
                },
                submitForm: function () {
                    if (this.validate() == false) {
                        console.log('validate fail.');
                        return false;
                    }

                    var url = new URL(window.location.href);
                    var key = url.searchParams.get("key");

                    if (this.sending == false) {
                        this.sending = true;
                        var data = {
                            "email": app.email,
                            "password": app.password,
                            "repassword": app.repassword,
                            'city': app.city,
                            'edm': app.edm,
                            "captchaKey": app.captchaKey.toString(),
                            "verificationCode": app.verificationCode,
                            "key": key
                        };
                        console.log('data: ' + JSON.stringify(data));
                        $.ajax({
                            type: "POST",
                            url: "/api/NewMember/RegisterNewMember",
                            data: JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('Authorization', 'Bearer ' + window.ApiToken);
                            },
                            success: function (res) {
                                console.log('res:' + JSON.stringify(res));
                                var confirmUrl = '/mvc/NewMember/RegisterByEmailWaitConfirm?';
                                @if (1 == send)
                                {
                                    @:confirmUrl += 'send=1&';
                                }
                                confirmUrl += 'key=';
                                if (res.Data != null && res.Data.authKey != null) {
                                    confirmUrl += res.Data.authKey;
                                }
                                if (res.Code != 1000) {
                                    if (res.Code == '2340') {
                                        app.errors.email = "會員已註冊，不過尚未開通，請檢查是否有收到認證信。<a href='" + confirmUrl + "'>" + "索取認證信" + "</a>";
                                        $('#email').focus();
                                    } else if (res.Data != null && res.Data.errors != null) {
                                        if ($.inArray("wrongPassword", res.Data.errors) !== -1) {
                                            app.errors.password = '6碼以上，英文或數字，英文請區分大小寫';
                                        }
                                        if ($.inArray("passwordNotMatch", res.Data.errors) !== -1) {
                                            app.errors.repassword = '密碼不一致，請重新輸入一次密碼';
                                        }
                                        if ($.inArray("noCity", res.Data.errors) !== -1) {
                                            app.errors.city = '請選擇你的所在地，讓我們提供您更好的服務';
                                        }
                                        if ($.inArray("wrongCaptcha", res.Data.errors) !== -1) {
                                            app.errors.verificationCode = '圖形驗證錯誤';
                                        }
                                        if ($.inArray("wrongEmail", res.Data.errors) !== -1) {
                                            app.errors.email = 'Email未輸入或格式不正確';
                                        }
                                    } else if (res.Message != null && res.Message != '') {
                                        app.errors.email = res.Message;

                                    }
                                    return;
                                }

                                @* Scupio *@
                                _bw('track', 'CompleteRegistration');

                                location.href = confirmUrl;
                            }, error: function (err) {
                                console.log('err:' + JSON.stringify(err));
                            }, complete: function () {
                                app.sending = false;
                            }
                        });
                    }
                }
            }
        });

        function initCityDataSource() {
            $.ajax({
                type: "POST",
                url: "/api/NewMember/GetCityDataSource",
                data: JSON.stringify({}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + window.ApiToken);
                },
                success: function (res) {
                    console.log('res(city):' + JSON.stringify(res));
                    ///captcha error
                    if (res.Code == 1000) {
                        app.citys = res.Data;
                    }
                }, error: function (err) {
                    console.log('err:' + JSON.stringify(err));
                }
            });
        }

        function initExternalLoginDataSource() {
            $.ajax({
                type: "POST",
                url: "/api/NewMember/GetExternalLoginDataSource",
                data: JSON.stringify({}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + window.ApiToken);
                },
                success: function (res) {
                    console.log('res(login):' + JSON.stringify(res));
                    ///captcha error
                    if (res.Code == 1000) {
                        app.thirdParties = res.Data;
                    }
                }, error: function (err) {
                    console.log('err:' + JSON.stringify(err));
                }
            });
        }
    </script>
}

<div class="container-2019 gray">
    <div class="page-header-tall">
        <div class="wrapper">
            <div class="logo-lg">
                <a href="/"></a>
                <img src="/themes/PCweb/images/17life-logo.png" alt="home page">
            </div>
            <div class="action">
                <div id="login-thirdparty" class="btn .btn-lined" v-on:click="toggleBubble">
                    <img src="/themes/PCweb/images/icons/entry_userhead.svg" alt="head">
                    <p>使用現有帳號登入</p>
                </div>
                <div class="bubble" ref="bubble">
                    <div class="title">用您已有的帳號登入</div>
                    <div class="entries">
                        <a :href="item.url" v-for="(item,id) in thirdParties">
                            <img :src="item.imgurl" :alt="item.name">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="post" id="aspnetForm" class="form-2019">
        <div class="form-header">
            <div class="title">註冊</div>
        </div>
        <!-- 表單內容 -->
        <div class="content">
            <div class="wrapper">
                <h3>加入17Life後，<br>可以獲得更多生活上的便宜好康</h3>
                <!-- 輸入錯誤示例，在input-group上直接加上error即會顯示.error-info的內容以及錯誤時的框線樣式-->
                <div class="input-group" :class="[{'error': errors.email != ''}]">
                    <label>
                        <div class="title">電子信箱</div>
                        <span class="input-frame">
                            <input type="email" v-model="email" id="email" autocomplete="off" v-cloak v-on:input="errors.email = ''">
                        </span>
                        <div class="extra-info" v-cloak>您輸入的e-mail將作為17Life的登入帳號</div>
                        <div class="error-info" v-cloak v-html="errors.email"></div>
                    </label>
                </div>
                <div class="input-group" :class="[{'error': errors.password != ''}]">
                    <label>
                        <div class="title">登入密碼</div>
                        <span class="input-frame">
                            <input type="password" v-model="password" id="password" autocomplete="off" v-cloak  v-on:input="errors.password = ''">
                        </span>
                        <div class="extra-info" v-cloak>6碼以上，英文或數字，英文請區分大小寫</div>
                        <div class="error-info" v-cloak>{{ errors.password }}</div>
                    </label>
                </div>
                <div class="input-group" :class="[{'error': errors.repassword != ''}]">
                    <label>
                        <div class="title">確認密碼</div>
                        <span class="input-frame">
                            <input type="password" v-model="repassword" id="repassword" autocomplete="off"  v-on:input="errors.repassword = ''">
                        </span>
                        <div class="extra-info" v-cloak>請重新再輸入一次密碼</div>
                        <div class="error-info" v-cloak>{{ errors.repassword }}</div>
                    </label>
                </div>
                <div class="input-group" :class="[{'error': errors.city != ''}]">
                    <label>
                        <div class="title">所在地</div>
                        <span class="input-frame">
                            <select name="city" id="city" v-model="city"  v-on:input="errors.city = ''">
                                <option value="0">請選擇您的所在地</option>
                                <option v-for="city in citys" v-bind:value="city.id">{{city.cityName}}</option>
                            </select>
                        </span>
                        <div class="extra-info">請選擇你的所在地，讓我們提供您更好的服務</div>
                        <div class="error-info">請選擇你的所在地，讓我們提供您更好的服務</div>
                    </label>
                </div>
                <div class="input-group">
                    <div class="flex-wrapper">
                        <div class="checkbox-wrapper">
                            <input id="edm" v-model="edm" type="checkbox" />
                            <span class="checkmark"></span>
                        </div>
                        <label for="edm" class="radio-label">我要收到來自17Life的相關訊息活動</label>
                    </div>
                </div>
                <div class="input-group" :class="[{'error': errors.verificationCode != '' }]">
                    <label for="verificationCode">
                        <div class="title">圖形驗證</div>
                        <div class="verification">
                            <img id="imgCaptcha" src="" alt="">
                            <div class="refresh">
                                <img src="/themes/PCweb/images/icons/refresh_lined_red.png" alt="refresh">
                                <p>更新驗證碼</p>
                            </div>
                        </div>
                        <span class="input-frame">
                            <input type="text" id="verificationCode" v-model="verificationCode" v-cloak autocomplete="off">
                        </span>
                        <div class="extra-info" v-cloak>請輸入上方顯示的數字</div>
                        <div class="error-info" v-cloak>{{errors.verificationCode}}</div>
                    </label>
                </div>
                <!-- 分隔線 -->
                <hr>
                <!-- 結束分隔線 -->
                <!-- 確認同意規章 -->
                <div class="input-group cnofirm-row">
                    <div class="flex-wrapper">
                        <div class="checkbox-wrapper">
                            <input id="confirm-rules-radio" type="checkbox" v-model="confirm" />
                            <span class="checkmark"></span>
                        </div>
                        <label class="radio-label" for="confirm-rules-radio">
                            我已閱讀並同意
                            <a href="/newmember/PrivacyPolicy.aspx" target="_blank">服務條款</a>
                            與
                            <a href="/newmember/privacy.aspx" target="_blank">隱私權政策</a>
                        </label>
                    </div>
                </div>
                <button id="btnNext" type="button" style="position:relative" v-on:click="submitForm()" :disabled="!confirm" :class="[{'disabled': !confirm}, 'btn', 'btn-wide', 'btn-red']">
                    下一步
                    <img src="/Tools/js/fancybox/fancybox_loading.gif" id="loading" v-if="sending" style="position:absolute; right:5px; top:10px" />
                </button>                
            </div>
        </div>
    </form>
</div>