﻿@using LunchKingSite.BizLogic.Model.FamiPort
@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.BizLogic;

@model DailyBeaconEffectReportModel
<script>
    function slideSubItem(parentId) {
        if ($('.parent_' + parentId).hasClass("sort-up")) {
            $('.parent_' + parentId).removeClass("sort-up").addClass("sort-down");
            $('.sublist_' + parentId).show();
        } else {
            $('.parent_' + parentId).addClass("sort-up").removeClass("sort-down");
            $('.sublist_' + parentId).hide();
        }
    }

</script>
<table class="list-tb">
    <tr>
        <td colspan="7" class="alg-center"><span style="color: blue">@Model.StartDateTime.ToString("yyyy/MM/dd")</span> ~ <span style="color: blue">@Model.EndDateTime.ToString("yyyy/MM/dd")</span> 查詢結果</td>
    </tr>
    <tr>
        <th width="100">檔次類型</th>
        <th width="100">Beacon觸及數</th>
        <th width="100">直接點擊數</th>
        <th width="100">索取數</th>
        <th width="100">核銷數</th>
        <th width="100">平均索取數</th>
        <th width="100">平均核銷</th>
    </tr>
    @foreach (DailyFamiportItemTotalTriggerReport totalItem in Model.DailyFamiportItemTriggerTotalReportList)
    {
        <tr>
            <td class="parent_@totalItem.FamiportType sort-up" onclick="slideSubItem(@totalItem.FamiportType);">@totalItem.FamiportTypeName</td>
            <td>@totalItem.BeaconTriggerAmount</td>
            <td>@totalItem.SoonTriggerAmount</td>
            <td>@totalItem.CouponAmount</td>
            <td>@totalItem.PayAmount</td>
            <td>@totalItem.GetAverageCouponAmount(totalItem)</td>
            <td>@totalItem.GetAveragePayAmount(totalItem)</td>
        </tr>
        foreach (var subitem in totalItem.SubItemList)
        {
            <tr class="sublist_@subitem.FamiportType" style="display: none;">
                <td style="background-color: greenyellow">@subitem.ItemName</td>
                <td style="background-color: greenyellow;">@subitem.BeaconTriggerAmount</td>
                <td style="background-color: greenyellow;">@subitem.SoonTriggerAmount</td>
                <td style="background-color: greenyellow;">@subitem.CouponAmount</td>
                <td style="background-color: greenyellow;">@subitem.PayAmount</td>
                <td style="background-color: greenyellow;">--</td>
                <td style="background-color: greenyellow;">--</td>
            </tr>
        }
    }

</table>

<br>
<table class="list-tb">
    <tr>
        <th width="120"></th>
        <th colspan="6">B商品</th>
        <th colspan="4">A商品</th>
        <th colspan="4">全家專區商品</th>
    </tr>    
    <tr>
        <th width="150">日期</th>

        <th width="100">Beacon觸及數</th>
        <th width="100">直接點擊數</th>
        <th width="100">索取數</th>
        <th width="100">核銷數</th>
        <th width="100">平均索取數</th>
        <th width="100">平均核銷</th>

        <th width="100">索取數</th>
        <th width="100">核銷數</th>
        <th width="100">平均索取數</th>
        <th width="100">平均核銷</th>

        <th width="100">索取數</th>
        <th width="100">核銷數</th>
        <th width="100">平均索取數</th>
        <th width="100">平均核銷</th>
    </tr>
    @foreach (DailyGroupFamiPortTriggerReport dailyGroupItem in Model.DailyGroupFamiPortTriggerReportList)
    {
        <tr>
            <td width="100">@dailyGroupItem.ReportDateTime.ToString("yyyy/MM/dd")</td>

            <td width="100">@dailyGroupItem.LockBeaconTriggerAmount</td>
            <td width="100">@dailyGroupItem.LockSoonTriggerAmount</td>
            <td width="100">@dailyGroupItem.LockCouponAmount</td>
            <td width="100">@dailyGroupItem.LockPayAmount</td>
            <td width="100">@if (dailyGroupItem.LockItemCount <= 0)
                            {
                                <text>0</text>
                            }
                            else
                            {
                                @Math.Round(((double) dailyGroupItem.LockCouponAmount/(double) dailyGroupItem.LockItemCount), 2);
                            }
            </td>
            <td width="100">@if (dailyGroupItem.LockItemCount <= 0)
            {
                <text>0</text>
            }
            else
            {
                @Math.Round(((double)dailyGroupItem.LockPayAmount / (double)dailyGroupItem.LockItemCount), 2);
            }</td>

            <td width="100">@dailyGroupItem.UnlockCouponAmount</td>
            <td width="100">@dailyGroupItem.UnlockPayAmount</td>
            <td width="100">@if (dailyGroupItem.UnLockItemCount <= 0)
            {
                <text>0</text>
            }
            else
            {
                @Math.Round(((double)dailyGroupItem.UnlockCouponAmount / (double)dailyGroupItem.UnLockItemCount), 2);
            }</td>
            <td width="100">@if (dailyGroupItem.UnLockItemCount <= 0)
            {
                <text>0</text>
            }
            else
            {
                @Math.Round(((double)dailyGroupItem.UnlockPayAmount / (double)dailyGroupItem.UnLockItemCount), 2);
            }</td>

            <td width="100">@dailyGroupItem.GeneralCouponAmount</td>
            <td width="100">@dailyGroupItem.GeneralPayAmount</td>
            <td width="100">@if (dailyGroupItem.GeneralItemCount <= 0)
            {
                <text>0</text>
            }
            else
            {
                @Math.Round(((double)dailyGroupItem.GeneralCouponAmount / (double)dailyGroupItem.GeneralItemCount), 2);
            }</td>
            <td width="100">@if (dailyGroupItem.GeneralItemCount <= 0)
            {
                <text>0</text>
            }
            else
            {
                @Math.Round(((double)dailyGroupItem.GeneralPayAmount / (double)dailyGroupItem.GeneralItemCount), 2);
            }</td>
        </tr>
    }
    <tr>
        <td width="100">小計</td>

        <td width="100">@Model.DailyGroupFamiPortTriggerReportList.Sum(x=>x.LockBeaconTriggerAmount)</td>
        <td width="100">@Model.DailyGroupFamiPortTriggerReportList.Sum(x => x.LockSoonTriggerAmount)</td>
        <td width="100">@Model.DailyGroupFamiPortTriggerReportList.Sum(x => x.LockCouponAmount)</td>
        <td width="100">@Model.DailyGroupFamiPortTriggerReportList.Sum(x => x.LockPayAmount)</td>
        <td width="100">--</td>
        <td width="100">--</td>

        <td width="100">@Model.DailyGroupFamiPortTriggerReportList.Sum(x => x.UnlockCouponAmount)</td>
        <td width="100">@Model.DailyGroupFamiPortTriggerReportList.Sum(x => x.UnlockPayAmount)</td>
        <td width="100">--</td>
        <td width="100">--</td>

        <td width="100">@Model.DailyGroupFamiPortTriggerReportList.Sum(x => x.GeneralCouponAmount)</td>
        <td width="100">@Model.DailyGroupFamiPortTriggerReportList.Sum(x => x.GeneralPayAmount)</td>
        <td width="100">--</td>
        <td width="100">--</td>
    </tr>

</table>
