﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@model ActionEventPushMessageCollection
@{
    ViewBag.Title = "ActionEventPushMessageList";
    Layout = "~/Views/Shared/FamiportPincodeLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {

    });

    function updateActionMessageStatus(actionMessageId) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateActionMessageStatus")",
            data: "{Id:" + actionMessageId 
                + "}",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            if (data.Success) {
                alert(data.Message);
                location.href = '@Url.Action("ActionEventPushMessageList", new { page = 1, order = ViewData["order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    ';
            } else {
                alert(data.Message);
            }
        }
    });        
    }
</script>
<div class="zone">
    <table class="list-tb">
        <tr>
            <th width="100" class="@((ViewData["order"].ToString() == ActionEventPushMessage.Columns.SendStartTime) ? (Convert.ToBoolean(ViewData["IsOrderASC"])) ? "sort-down" : "sort-up" : "sort-initial") alg-left">
                @if ((bool)ViewData["IsOrderASC"])
                {
                    <a href="@Url.Action("ActionEventPushMessageList", new { page = (int)ViewData["PageIndex"], order = ActionEventPushMessage.Columns.SendStartTime, isOrderASC = false })">訊息開始時間</a>
                }
                else
                {
                    <a href="@Url.Action("ActionEventPushMessageList", new { page = (int)ViewData["PageIndex"], order = ActionEventPushMessage.Columns.SendStartTime, isOrderASC = true })">訊息開始時間</a>
                }
            </th>
            <th width="100" class="@((ViewData["order"].ToString() == ActionEventPushMessage.Columns.SendEndTime) ? (Convert.ToBoolean(ViewData["IsOrderASC"])) ? "sort-down" : "sort-up" : "sort-initial") alg-left">
                @if ((bool)ViewData["IsOrderASC"])
                {
                    <a href="@Url.Action("ActionEventPushMessageList", new { page = (int)ViewData["PageIndex"], order = ActionEventPushMessage.Columns.SendEndTime, isOrderASC = false })">訊息結束時間</a>
                }
                else
                {
                    <a href="@Url.Action("ActionEventPushMessageList", new { page = (int)ViewData["PageIndex"], order = ActionEventPushMessage.Columns.SendEndTime, isOrderASC = true })">訊息結束時間</a>
                }
            </th>
            <th width="400">訊息內容</th>
            <th width="60">狀態</th>
            <th width="60">操作</th>
        </tr>
        @foreach (ActionEventPushMessage pushMessage in Model)
        {
            <tr>
                <td>@Convert.ToDateTime(pushMessage.SendStartTime).ToString("yyyy/MM/dd")</td>
                <td>@Convert.ToDateTime(pushMessage.SendEndTime).ToString("yyyy/MM/dd")</td>
                <td class="alg-left">
                    @pushMessage.Subject
                </td>
                <td>
                    @if (pushMessage.Status)
                    {
                        <text>使用中</text>
                    }
                    else
                    {
                        <text>停用</text>
                    }
                </td>
                <td>
                    @if (pushMessage.Status)
                    {
                        <a onclick="updateActionMessageStatus(@pushMessage.Id);">關閉</a>
                    }
                    else
                    {
                        <a onclick="updateActionMessageStatus(@pushMessage.Id);">開啟</a>
                    }                    
                </td>
            </tr>
        }
    </table>
    <div class="alg-center mrg20-hor">
        @if (Convert.ToInt32(ViewData["PageIndex"]) <= 1)
        {
            <input type="button" class="btn btn-disabled btn-large arrow" value="&laquo;" disabled="disabled" />
            <input type="button" class="btn btn-disabled btn-large arrow" value="&lsaquo;" disabled="disabled" />
        }
        else
        {
            <input type="button" class="btn btn-primary btn-large arrow" value="&laquo;" onclick="location.href='@Url.Action("ActionEventPushMessageList", new { page = 1, order = ViewData["order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
            <input type="button" class="btn btn-primary btn-large arrow" value="&lsaquo;" onclick="location.href='@Url.Action("ActionEventPushMessageList", new { page = ((int)ViewData["PageIndex"] - 1 == 0) ? 1 : (int)ViewData["PageIndex"] - 1, order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
        }

        <form class="dis-inline mrg20-ver">
            <select onchange="location.href=this.value">
                @for (int i = 1; i <= (int)ViewData["PageCount"]; i++)
                {
                    if (i == (int)ViewData["PageIndex"])
                    {
                        <option value="@i" selected="selected">@i</option>
                    }
                    else
                    {
                        <option value="@Url.Action("ActionEventPushMessageList", new { page = i, order = ViewData["order"], isOrderASC = (bool)ViewData["IsOrderASC"] })">@i</option>
                    }
                }
            </select>
            <span>/@ViewData["PageCount"]</span>
            <span>(@ViewData["TotalCount"]筆資料)</span>
        </form>
        @if (Convert.ToInt32(ViewData["PageIndex"]) >= (int)ViewData["PageCount"])
        {
            <input type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" disabled="disabled" />
            <input type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" disabled="disabled" />
        }
        else
        {
            <input type="button" class="btn btn-primary btn-large arrow" value="&rsaquo;" onclick="location.href='@Url.Action("ActionEventPushMessageList", new { page = ((int)ViewData["PageIndex"] + 1 > (int)ViewData["PageCount"]) ? (int)ViewData["PageCount"] : (int)ViewData["PageIndex"] + 1, order = ViewData["order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
            <input type="button" class="btn btn-primary btn-large arrow" value="&raquo;" onclick="location.href='@Url.Action("ActionEventPushMessageList", new { page = (int)ViewData["PageCount"], order = ViewData["order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
        }
    </div>
</div>
