﻿@using LunchKingSite.DataOrm
@using LunchKingSite.Core
@model Famiport
@{
    Layout = "~/Views/Shared/FamiportPincodeLayout.cshtml";
    ViewBag.Title = "Apply";
}
<style type="text/css">
    div.ui-datepicker{
     font-size:10px;
    }
</style>
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.maxlength-min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.numeric.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")'></script>
<script type="text/javascript">
    $(document).ready(function () {
        setMaxLength();
        setNumeric();
        setDatepicker();
        bindInputRequiredKeyup();
        bindRadioEvent();
        eventBinding();
    });

    var eventBinding = function(){
        $('input:radio[name="rdoPeriod"]').on('change',function(){
            if(this.value == @((int)FamilyDisplayType.UserSetting) ){
                $("#deliverTimeE").removeAttr("disabled").css("background-color", "");
                $("#orderTimeE").removeAttr("disabled").css("background-color", "");
                //$('#deliverTimeE').datepicker('enable');
                //$('#orderTimeE').datepicker('enable');
            }
            else{                
                //$("#deliverTimeE").attr("disabled", "disabled").css("background-color", "DarkGray");
                //$("#orderTimeE").attr("disabled", "disabled").css("background-color", "DarkGray");
                $("#deliverTimeE").css("background-color", "DarkGray");
                $("#orderTimeE").css("background-color", "DarkGray");
                //$("#deliverTimeE").datepicker('disable');
                //$('#orderTimeE').datepicker('disable');
            }
        });
    };

    function setDatepicker() {
        $("#deliverTimeS").datepicker({
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
            numberOfMonths: 2,
            onSelect: function (selected) {
                $("#deliverTimeE").datepicker("option", "minDate", selected);
                if ($("#deliverTimeE").val()) {
                    $("#requiredDeliverTime").hide();
                }
                if ($('input:radio[name="rdoFamiType"]:checked').val() == @((int)FamilyDealType.BeaconEvent) ) {

                    var calculateDate = $('#deliverTimeS').datepicker("getDate") ;
                    var rdoPeriod = $('input:radio[name="rdoPeriod"]:checked').val();
                    if (rdoPeriod == @((int)FamilyDisplayType.Day)) {
                        calculateDate = new Date(calculateDate.getFullYear(), calculateDate.getMonth(), calculateDate.getDate() + 1);
                    } else if (rdoPeriod == @((int)FamilyDisplayType.Week)) {
                        calculateDate = new Date(calculateDate.getFullYear(), calculateDate.getMonth(), calculateDate.getDate() + 7);
                    }
                    $("#deliverTimeE").val(calculateDate.getFullYear() + '/' + (calculateDate.getMonth() + 1) + '/' + calculateDate.getDate());
                }
            }
        });

        $("#deliverTimeE").datepicker({
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
            numberOfMonths: 2,
            onSelect: function (selected) {
                $("#deliverTimeS").datepicker("option", "maxDate", selected);
                if ($("#deliverTimeS").val()) {
                    $("#requiredDeliverTime").hide();
                }
            }
        });

        $("#orderTimeS").datepicker({
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
            numberOfMonths: 2,
            onSelect: function (selected) {
                $("#orderTimeE").datepicker("option", "minDate", selected);
            if ($("#orderTimeE").val()) {
                    $("#requiredOrderTime").hide();
                }
            if ($('input:radio[name="rdoFamiType"]:checked').val() == @{<text>@((int)FamilyDealType.BeaconEvent)</text>}) {
                    var calculateDate = $('#orderTimeS').datepicker("getDate");

                @*if ($('input:radio[name="rdoPeriod"]:checked').val() == @{<text>@((int)FamilyDisplayType.Day)</text>}) {
                        calculateDate = new Date(calculateDate.getFullYear(), calculateDate.getMonth(), calculateDate.getDate() + 1);
        } else {
                    calculateDate = new Date(calculateDate.getFullYear(), calculateDate.getMonth(), calculateDate.getDate() + 7);
    }*@
                var rdoPeriod = $('input:radio[name="rdoPeriod"]:checked').val();
                if (rdoPeriod == @((int)FamilyDisplayType.Day)) {
                    calculateDate = new Date(calculateDate.getFullYear(), calculateDate.getMonth(), calculateDate.getDate() + 1);
                } else if (rdoPeriod == @((int)FamilyDisplayType.Week)) {
                    calculateDate = new Date(calculateDate.getFullYear(), calculateDate.getMonth(), calculateDate.getDate() + 7);
                }

                $("#orderTimeE").val(calculateDate.getFullYear() + '/' + (calculateDate.getMonth() + 1) + '/' + calculateDate.getDate());
                }
            }
    });

    $("#orderTimeE").datepicker({
        dataFormat: 'yyyy/mm/dd',
        changeMonth: true,
        numberOfMonths: 2,
        onSelect: function (selected) {
            $("#orderTimeS").datepicker("option", "maxDate", selected);
            if ($("#orderTimeS").val()) {
                $("#requiredOrderTime").hide();
            }
        }
    });

    }

    function setNumeric() {
        $('input[id=pincodeQty]').numeric();
        $('input[id=testcodeQty]').numeric();
        $('input[id=itemOrigPrice]').numeric();
        $('input[id=itemPrice]').numeric();
    }

    function setMaxLength() {
        bindMaxLength('itemName', 15);
        bindMaxLength('itemCode', 7);
        bindMaxLength('eventAttention1', 40);
        bindMaxLength('eventAttention2', 40);
        bindMaxLength('eventAttention3', 40);
        bindMaxLength('eventAttention4', 40);
        bindMaxLength('itemAttention1', 40);
        bindMaxLength('itemAttention2', 40);
        bindMaxLength('itemAttention3', 40);
        bindMaxLength('itemAttention4', 40);
    }

    function bindMaxLength(inputId, maxLength) {
        $('input[id=' + inputId + ']').maxlength({
            maxCharacters: maxLength,
            slider: true,
            statusClass: "f-small",
        });
    }

    function onPreview() {
        if (!checkData()) {
            alert("您填寫的資料不完整");
        } else {
            $('#isPreview').val('1');
            $('form#applyForm').submit();
        }
        return false;
    }

    function onSaveDraft() {
        if ($('#isPreview').val() == '1') {
            $('form#applyFrm').submit();
        } else {
            var familyDealType = ( typeof $('input:radio[name="rdoFamiType"]:checked').val() === "undefined") ? @{<text>@((int)FamilyDealType.General)</text>} : $('input:radio[name="rdoFamiType"]:checked').val();
            var displayType = ( typeof $('input:radio[name="rdoPeriod"]:checked').val() === "undefined")? @{<text>@((int)FamilyDisplayType.UserSetting)</text>}  :  ((familyDealType==@{<text>@((int)FamilyDisplayType.UserSetting)</text>} )? $('input:radio[name="rdoPeriod"]:checked').val():@{<text>@((int)FamilyDisplayType.UserSetting)</text>} );
            var saveData = "{famiportId:'" + $("#famiportId").val() + "', itemName:'" + htmlEncode($("#itemName").val()) + "'"
                            + ",itemCode:'" + htmlEncode($("#itemCode").val()) + "', pincodeQty:" + $("#pincodeQty").val() + ", deliverTimeS:'" + $("#deliverTimeS").val() + "'"
                            + ",deliverTimeE:'" + $("#deliverTimeE").val() + "', itemOrigPrice:" + $("#itemOrigPrice").val() + ", itemPrice:" + $("#itemPrice").val()
                            + ",eventDescription:'" + htmlEncode($("#eventDescription").val()) + "', eventAttention1:'" + htmlEncode($("#eventAttention1").val()) + "'"
                            + ",eventAttention2:'" + htmlEncode($("#eventAttention2").val()) + "', eventAttention3:'" + htmlEncode($("#eventAttention3").val()) + "'"
                            + ",eventAttention4:'" + htmlEncode($("#eventAttention4").val()) + "',orderTimeS:'" + $("#orderTimeS").val() + "'"
                            + ",orderTimeE:'" + $("#orderTimeE").val() + "', itemDescription:'" + htmlEncode($("#itemDescription").val()) + "'"
                            + ",itemAttention1:'" + htmlEncode($("#itemAttention1").val()) + "',itemAttention2:'" + htmlEncode($("#itemAttention2").val()) + "'"
                            + ",itemAttention3:'" + htmlEncode($("#itemAttention3").val()) + "',itemAttention4:'" + htmlEncode($("#itemAttention4").val()) + "'"
                            + ",user_name:'" + $('#userName').val() + "',testCodeQty:" + $('#testcodeQty').val()
                            + ",dealType:" + familyDealType + ",displayType:" + displayType + ",isLock:" + $('input:radio[name="rdoLockStatus"]:checked').val()
                            + "}";
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/FamiportPincode/SaveDraft")",
                data: saveData,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    if (data.Success) {
                        alert(data.Message);
                        $('#famiportId').val(data.famiportId);
                    } else {
                        alert(data.Message);
                    }
                }
            });
        }
        return false;

    }

    function checkData() {
        var checkResult = true;
        checkResult = inputRequiredCheck("itemName", checkResult);
        checkResult = inputRequiredCheck("itemCode", checkResult);
        checkResult = inputRequiredCheck("eventAttention1", checkResult);
        checkResult = inputRequiredCheck("itemDescription", checkResult);
        checkResult = inputRequiredCheck("itemAttention1", checkResult);
        checkResult = inputRequiredAssignShowDOMCheck("deliverTimeS", "requiredDeliverTime", checkResult);
        checkResult = inputRequiredAssignShowDOMCheck("deliverTimeE", "requiredDeliverTime", checkResult);
        checkResult = inputRequiredAssignShowDOMCheck("orderTimeS", "requiredOrderTime", checkResult);
        checkResult = inputRequiredAssignShowDOMCheck("orderTimeE", "requiredOrderTime", checkResult);

        if (parseInt($('input[id=itemPrice]').val()) > parseInt($('input[id=itemOrigPrice]').val())) {
            $('#vaildationItemPrice').show();
            checkResult = false;
        }

        if (!$("#pincodeQty").val() || parseInt($("#pincodeQty").val()) < 1) {
            $("#vaildationPincodeQty").show();
            checkResult = false;
        }

        if (!$("#testcodeQty").val() || parseInt($("#testcodeQty").val()) < 1) {
            $("#vaildationTestcodeQty").show();
            checkResult = false;
        }

        if (!$("#itemOrigPrice").val() || parseInt($("#itemOrigPrice").val()) < 1) {
            $("#vaildationItemOrigPrice").show();
            checkResult = false;
        }

        return checkResult;
    }

    function bindInputRequiredKeyup() {
        bindRequiredKeyup("itemName", "requiredItemName");
        bindRequiredKeyup("itemCode", "requiredItemCode");
        bindRequiredKeyup("eventDescription", "requiredEventDescription");
        bindRequiredKeyup("eventAttention1", "requiredEventAttention1");
        bindRequiredKeyup("itemDescription", "requiredItemDescription");
        bindRequiredKeyup("itemAttention1", "requiredItemAttention1");
        bindRequiredKeyup("itemOrigPrice", "vaildationItemOrigPrice");
        bindRequiredKeyup("pincodeQty", "vaildationPincodeQty");
        bindRequiredKeyup("testcodeQty", "vaildationTestcodeQty");

        $('input[id=itemPrice]').bind("keyup", function() {
            if (parseInt($('input[id=itemPrice]').val()) <= parseInt($('input[id=itemOrigPrice]').val())) {
                $('#vaildationItemPrice').hide();
            }
        });
    }

    function bindRequiredKeyup(inputName, requiredName) {
        $("#" + inputName).bind("keyup", function() {

            $("#" + requiredName).hide();

        });
    }

    function inputRequiredCheck(inputName, checkResult) {
        if (!$("#" + inputName).val()) {
            $("#required" + inputName.substring(0, 1).toUpperCase() + inputName.substring(1, inputName.length)).show();
            return false;
        }
        return checkResult;
    }

    function inputRequiredAssignShowDOMCheck(inputName, requiredName, checkResult) {
        if (!$("#" + inputName).val()) {
            $("#" + requiredName).show();
            return false;
        }
        return checkResult;
    }

    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }

    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }

    function bindRadioEvent() {
        checkBeaconOptionItem();
        $('input:radio[name="rdoFamiType"]').on('click', function () {
            checkBeaconOptionItem();
            $("#deliverTimeS").val('');
            $("#deliverTimeE").val('');
            $("#orderTimeS").val('');
            $("#orderTimeE").val('');
        });
    }

    function checkBeaconOptionItem() {
        if ($('input:radio[name="rdoFamiType"]:checked').val() == @{<text>@((int)FamilyDealType.BeaconEvent)</text>}) {
            showBeaconOptionItem(true);
            disableDatepicker(true);
            if (typeof $('input:radio[name="rdoPeriod"]:checked').val() === "undefined") {
               $('#rdoPeriod_01').click();
            }
        } else {
            showBeaconOptionItem(false);
            disableDatepicker(false);
            //$('input:radio[name="rdoPeriod"]').removeAttr('checked');
            $('#rdoLockStatus_02').click();
    }
    }

    function showBeaconOptionItem(isShowPanel) {
        if (isShowPanel) {
            //活動週期
            $('input:radio[name="rdoPeriod"]').parent().parent().show();
            //是否鎖定
            $('input:radio[name="rdoLockStatus"]').parent().parent().show();
            $('#rdoPeriod_00').attr("checked", true);
        } else {
            //活動週期
            $('input:radio[name="rdoPeriod"]').parent().parent().hide();
            //是否鎖定
            $('input:radio[name="rdoLockStatus"]').parent().parent().hide();
            $('#rdoPeriod_00').prop('checked', true);
                              
        }
    }

    function disableDatepicker(isDisabled) {
        if (isDisabled) {
            $("#deliverTimeS").parent().parent().css("background-color", "Gray");
            //$("#deliverTimeE").attr("disabled", "disabled").css("background-color", "DarkGray");
            $("#orderTimeS").parent().parent().css("background-color", "Gray");
            //$("#orderTimeE").attr("disabled", "disabled").css("background-color", "DarkGray");
        } else {
            $("#deliverTimeS").parent().parent().css("background-color", "");
            $("#deliverTimeE").removeAttr("disabled").css("background-color", "");
            $("#orderTimeS").parent().parent().css("background-color", "");
            $("#orderTimeE").removeAttr("disabled").css("background-color", "");

            $("#deliverTimeE").datepicker({
                dataFormat: 'yyyy/mm/dd',
                changeMonth: true,
                numberOfMonths: 2,
                onSelect: function (selected) {
                    $("#orderTimeS").datepicker("option", "maxDate", selected);
                    if ($("#orderTimeS").val()) {
                        $("#requiredOrderTime").hide();
                    }
                }
            });


            $("#orderTimeE").datepicker({
                dataFormat: 'yyyy/mm/dd',
                changeMonth: true,
                numberOfMonths: 2,
                onSelect: function (selected) {
                    $("#orderTimeS").datepicker("option", "maxDate", selected);
                    if ($("#orderTimeS").val()) {
                        $("#requiredOrderTime").hide();
                    }
                }
            });

        }

    }


</script>
<div class="zone">
<form id="applyForm" class="fr-group clearfix" method="post" action='@Url.Action("SaveDraftThenPreview")'>
    <input type="hidden" id="famiportId" name="famiportId" value="@Model.Id" />
    <input type="hidden" id="userName" name="userName" value="@ViewBag.UserName" />
    <input type="hidden" id="isPreview" name="isPreview" value="0" />
    <div class="fr-item">
        <label class="fr-label">廠商名稱</label>
        <div class="fr-content">
            <p>全家</p>
        </div>
    </div>
    <!---->
    <div class="fr-item">
        <label class="fr-label">商品類型</label>
        <div class="fr-content">
            <input type="radio" name="rdoFamiType" id="rdoFamiType_01" @if (Model.Type == (int)FamilyDealType.General) { <text> checked="checked" </text>  } value="@{<text>@((int)FamilyDealType.General)</text>}"><label for="rdoFamiType_01">全家專區</label>
            <input type="radio" name="rdoFamiType" id="rdoFamiType_02" @if (Model.Type == (int)FamilyDealType.BeaconEvent) { <text> checked="checked" </text>   } value="@{<text>@((int)FamilyDealType.BeaconEvent)</text>}" /><label for="rdoFamiType_02">iBeacon活動專區</label>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">活動週期</label>
        <div class="fr-content">
            <input type="radio" name="rdoPeriod" id="rdoPeriod_00" @if (Model.DisplayType == (int)FamilyDisplayType.UserSetting)
                                                                    {<text> checked="checked" </text>   } value="@{<text>@((int)FamilyDisplayType.UserSetting)</text>}" /><label for="rdoPeriod_00">自訂</label>
            <input type="radio" name="rdoPeriod" id="rdoPeriod_01" @if (Model.DisplayType == (int)FamilyDisplayType.Day) { <text> checked="checked" </text>   } value="@{<text>@((int)FamilyDisplayType.Day)</text>}" /><label for="rdoPeriod_01">每日</label>
            <input type="radio" name="rdoPeriod" id="rdoPeriod_02" @if (Model.DisplayType == (int)FamilyDisplayType.Week) { <text> checked="checked" </text>   } value="@{<text>@((int)FamilyDisplayType.Week)</text>}" /><label for="rdoPeriod_02">每週</label>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">是否鎖定</label>
        <div class="fr-content">
            <input type="radio" name="rdoLockStatus" id="rdoLockStatus_01" @if (Model.IsLock ) { <text> checked="checked" </text>  } value="1" /><label for="rdoLockStatus_01">鎖定</label>
            <input type="radio" name="rdoLockStatus" id="rdoLockStatus_02" @if (!Model.IsLock) { <text> checked="checked" </text>   } value="0" /><label for="rdoLockStatus_02">不鎖定</label>
        </div>
    </div>
    <!---->
    <div class="fr-item">
        <label class="fr-label">商品名稱</label>
        <div class="fr-content">
            <input type="text" id="itemName" name="itemName" maxlength="15" class="fr-input-defaul" value="@Model.ItemName" />
            <p id="requiredItemName" class="f-red" style="display:none">請填寫商品名稱</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">商品代號</label>
        <div class="fr-content">
            <input type="text" id="itemCode" name="itemCode" maxlength="7" class="fr-input-defaul" value="@Model.ItemCode" />
            <p id="requiredItemCode" class="f-red" style="display:none">請填寫商品代號</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">pin碼數量</label>
        <div class="fr-content">
            <input type="text" id="pincodeQty" name="pincodeQty" class="fr-input-defaul" value="@Model.PincodeQty">
            <p class="f-small">筆</p>
            <p id="vaildationPincodeQty" class="f-red" style="display:none">請填寫Pin碼數量</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">測試用pin碼數量</label>
        <div class="fr-content">
            <input type="text" id="testcodeQty" name="testcodeQty" class="fr-input-defaul" value="@Model.TestCodeQty">
            <p class="f-small">筆</p>
            <p id="vaildationTestcodeQty" class="f-red" style="display:none">請填寫測試Pin碼數量</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">紅利pin碼兌換日期</label>
        <div class="fr-content">
            <input type="text" readonly="readonly" id="deliverTimeS" name="deliverTimeS" class="fr-input-defaul date" value="@Model.BusinessHourDeliverTimeS">
            至
			<input type="text" readonly="readonly" id="deliverTimeE" name="deliverTimeE" class="fr-input-defaul" value="@Model.BusinessHourDeliverTimeE">
            <p id="requiredDeliverTime" class="f-red" style="display:none">請選擇兌換日起迄</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">此檔原價</label>
        <div class="fr-content">
            <input type="text" id="itemOrigPrice" name="itemOrigPrice" class="fr-input-defaul" value="@Model.ItemOrigPrice.ToString("#######0")">
            <p class="f-small">元</p>
            <p id="vaildationItemOrigPrice" class="f-red" style="display:none">商品原價不可為 0</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">優惠價格</label>
        <div class="fr-content">
            <input type="text" id="itemPrice" name="itemPrice" class="fr-input-defaul" value="@Model.ItemPrice.ToString("#######0")">
            <p class="f-small">元</p>
            <p id="vaildationItemPrice" class="f-red" style="display:none">優惠價格不可大於商品原價</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">網頁活動說明（選填）</label>
        <div class="fr-content">
            <textarea class="fr-input-large" id="eventDescription" name="eventDescription" maxlength="500" rows="5" cols="37">@Model.Remark</textarea>
            <br />
            <p id="requiredEventDescription" class="f-red" style="display:none">請填寫活動說明</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">活動注意事項</label>
        <div class="fr-content">
            <div>
                <input type="text" id="eventAttention1" name="eventAttention1" class="fr-input-large" value="@Model.EventAttention1" />
                <p id="requiredEventAttention1" class="f-red" style="display:none">至少填寫一行活動注意事項</p>
            </div>
            <div>
                <input type="text" id="eventAttention2" name="eventAttention2" class="fr-input-large" value="@Model.EventAttention2" />
            </div>
            <div>
                <input type="text" id="eventAttention3" name="eventAttention3" class="fr-input-large" value="@Model.EventAttention3" />
            </div>
            <div>
                <input type="text" id="eventAttention4" name="eventAttention4" class="fr-input-large" value="@Model.EventAttention4" />
            </div>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">商品檔次日期</label>
        <div class="fr-content">
            <input type="text" readonly="readonly" id="orderTimeS" name="orderTimeS" class="fr-input-defaul" value="@Model.BusinessHourOrderTimeS">
            至
			<input type="text" readonly="readonly" id="orderTimeE" name="orderTimeE" class="fr-input-defaul" value="@Model.BusinessHourOrderTimeE" />
            <p id="requiredOrderTime" class="f-red" style="display:none">請選擇檔次日期起迄</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">商品規格說明</label>
        <div class="fr-content">
            <textarea class="fr-input-large" id="itemDescription" name="itemDescription" rows="5" cols="37">@Model.ItemRemark</textarea>
            <br />
            <p id="requiredItemDescription" class="f-red" style="display:none">請填寫商品規格說明</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">商品注意事項</label>
        <div class="fr-content">
            <div>
                <input type="text" id="itemAttention1" name="itemAttention1" class="fr-input-large" value="@Model.ItemAttention1" />
                <p id="requiredItemAttention1" class="f-red" style="display:none">至少填寫一行商品注意事項</p>
            </div>
            <div>
                <input type="text" id="itemAttention2" name="itemAttention2" class="fr-input-large" value="@Model.ItemAttention2" />
            </div>
            <div>
                <input type="text" id="itemAttention3" name="itemAttention3" class="fr-input-large" value="@Model.ItemAttention3" />
            </div>
            <div>
                <input type="text" id="itemAttention4" name="itemAttention4" class="fr-input-large" value="@Model.ItemAttention4" />
            </div>
        </div>
    </div>
    <div class="fr-item">
        <div class="fr-content">
            @if (ViewData["FromAction"] != null && ViewData["FromAction"].ToString() == "FamiList") 
            {
                <input type="button" onclick="onPreview();" class="btn btn-default btn-large" value="預覽">
            }
            <input type="button" class="btn btn-primary btn-large" onclick="onSaveDraft();" value="儲存">
            <input type="button" class="btn btn-cancel btn-large" onclick="location.href='@Url.Action(ViewData["FromAction"].ToString(), new { page=1, order=Famiport.Columns.Status, isOrderASC=true })'" value="回列表">
        </div>
    </div>
</form>
</div>