﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@model ActionEventDeviceInfoCollection
@{
    ViewBag.Title = "BeaconEffectAnalysis";
    Layout = "~/Views/Shared/FamiportPincodeLayout.cshtml";
}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.maxlength-min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.numeric.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")'></script>

<script type="text/javascript">
    $(document).ready(function() {
        setDatepicker();
        bindRadioEvent();
    });

    function setDatepicker() {
        $("#tbStartTime").datepicker({
            setDate: new Date(),
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
            numberOfMonths: 2,
            onSelect: function(selected) {
                $("#tbEndTime").datepicker("option", "minDate", selected);
            }
        });
        $("#tbEndTime").datepicker({
            setDate: 1,
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
            numberOfMonths: 2,
            onSelect: function(selected) {
                $("#tbStartTime").datepicker("option", "maxDate", selected);
            }
        });
    };

    function bindRadioEvent() {
        @*$('input:radio[name="rdoAnalysisType"]').on('click', function () {
            if ($('#rdoAnalysisType_01').is(':checked')) {
                $('form#effectAnalysisForm').attr('action', "@Url.Action("BeaconEffectAnalysis")");
            }else if ($('#rdoAnalysisType_02').is(':checked')) {
                $('form#effectAnalysisForm').attr('action', "@Url.Action("BeaconStoreAnalysis")");
            }
        });*@
    }
    function setOrderColumn(id) {
        var __isOrderASC = $("#isOrderASC").val();

        $("#order").val(id);
        $("#isOrderASC").val(!__isOrderASC);
    }

    function querySubmit() {
        //$('form#effectAnalysisForm').submit();
        var searchType = $('input:radio[name="rdoAnalysisType"]:checked').val();
        var startDate = $("#tbStartTime").val();
        var endDate = $("#tbEndTime").val();
        var order;
        var isOrderASC;
        if ($("#order") != undefined) {
            order = $("#order").val();
        }
        if ($("#isOrderASC") != undefined) {
            isOrderASC = $("#isOrderASC").val();
            if (isOrderASC == "") {
                isOrderASC = false;
            }
        }
        if (startDate === endDate) {
            alert("起訖日不可相同");
        } else {
            $.ajax({
                url: "@Url.Action("BeaconEffectAnalysisSearch")",
                type: "Post",
            data: {
                searchType: searchType,
                startDate: startDate,
                endDate: endDate,
                order: order,
                isOrderASC: isOrderASC
            }
             }).done(function (partialViewResult) {
             $("#searchResult").html(partialViewResult);
            });
        }

    }


</script>
<div class="zone">
    <div class="zone">
        <form id="effectAnalysisForm" name="effectAnalysisForm" method="post" action="@Url.Action("BeaconEffectAnalysis")" class="fr-group fr-bg-gray clearfix">
            <div class="fr-item">
                <label class="fr-label">查詢項目</label>
                <div class="fr-content">
                    <input type="radio" name="rdoAnalysisType" id="rdoAnalysisType_01" checked="checked" value="1" /><label for="rdoAnalysisType_01">查詢檔次數據</label>
                    <input type="radio" name="rdoAnalysisType" id="rdoAnalysisType_02" value="2" /><label for="rdoAnalysisType_02">查詢門市數據</label>                    
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">選擇日期</label>
                <div class="fr-content">
                    <input type="text" id="tbStartTime" maxlength="10" name="tbStartTime" class="fr-input-defaul">&nbsp;&nbsp;至&nbsp;&nbsp;<input type="text" id="tbEndTime" maxlength="10" name="tbEndTime" class="fr-input-defaul">
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label"></label>
                <div class="fr-content">
                    <input type="button" class="btn btn-primary btn-medium" onclick="return querySubmit();" value="查詢">
                </div>
            </div>
        </form>
    </div>
    
    <div id="searchResult" class="zone">
    </div>
</div>
