﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@model ActionEventDeviceInfoCollection
@{
    ViewBag.Title = "BeaconElectricPowerList";
    Layout = "~/Views/Shared/FamiportPincodeLayout.cshtml";
}
<script type="text/javascript">

</script>
<div class="zone">
    <table class="list-tb">
        <tr>
            <th width="60">Major</th>
            <th width="60">Minor</th>
            <th width="60">門市</th>
            <th width="100" class="@((ViewData["order"].ToString() == ActionEventDeviceInfo.Columns.ElectricPower) ? (Convert.ToBoolean(ViewData["IsOrderASC"])) ? "sort-down" : "sort-up" : "sort-initial") alg-left">
                @if ((bool)ViewData["IsOrderASC"])
                {
                    <a href="@Url.Action("BeaconElectricPowerList", new { page = (int)ViewData["PageIndex"], order = ActionEventDeviceInfo.Columns.ElectricPower, isOrderASC = false })">電量狀態</a>
                }
                else
                {
                    <a href="@Url.Action("BeaconElectricPowerList", new { page = (int)ViewData["PageIndex"], order = ActionEventDeviceInfo.Columns.ElectricPower, isOrderASC = true })">電量狀態</a>
                }
            </th>
            <th width="100" class="@((ViewData["order"].ToString() == ActionEventDeviceInfo.Columns.LastUpdateTime) ? (Convert.ToBoolean(ViewData["IsOrderASC"])) ? "sort-down" : "sort-up" : "sort-initial") alg-left">
                @if ((bool)ViewData["IsOrderASC"])
                {
                    <a href="@Url.Action("BeaconElectricPowerList", new { page = (int)ViewData["PageIndex"], order = ActionEventDeviceInfo.Columns.LastUpdateTime, isOrderASC = false })">電量最後更新時間</a>
                }
                else
                {
                    <a href="@Url.Action("BeaconElectricPowerList", new { page = (int)ViewData["PageIndex"], order = ActionEventDeviceInfo.Columns.LastUpdateTime, isOrderASC = true })">電量最後更新時間</a>
                }
            </th>
        </tr>
        @foreach (ActionEventDeviceInfo deviceInfo in Model)
        {
            <tr>
<td>@deviceInfo.Major</td>
<td>@deviceInfo.Minor</td>
<td>@deviceInfo.DeviceName</td>
<td>
    @if (@deviceInfo.ElectricPower >= 2.6)
    {
        <text><p style="color: #008000">充足電量</p></text>
    }
    else if (2.4 <= @deviceInfo.ElectricPower && @deviceInfo.ElectricPower < 2.6)
    {
        <text><p style="color: #3366FF">一般電量</p></text>
    }
    else
    {
        <text><p style="color: #FF0000">低電量，建議更換</p></text>
    }

</td>
<td>
    @if (deviceInfo.LastUpdateTime.HasValue)
    {
        @Convert.ToDateTime(deviceInfo.LastUpdateTime).ToString("yyyy/MM/dd hh:mm:ss")
    }
    else
    {
        <text><p>尚未取得資訊</p></text>
    }

</td>

</tr>
        }
    </table>
    <div class="alg-center mrg20-hor">
        @if (Convert.ToInt32(ViewData["PageIndex"]) <= 1)
        {
            <input type="button" class="btn btn-disabled btn-large arrow" value="&laquo;" disabled="disabled" />
            <input type="button" class="btn btn-disabled btn-large arrow" value="&lsaquo;" disabled="disabled" />
        }
        else
        {
            <input type="button" class="btn btn-primary btn-large arrow" value="&laquo;" onclick="location.href='@Url.Action("BeaconElectricPowerList", new { page = 1, order = ViewData["order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
            <input type="button" class="btn btn-primary btn-large arrow" value="&lsaquo;" onclick="location.href='@Url.Action("BeaconElectricPowerList", new { page = ((int)ViewData["PageIndex"] - 1 == 0) ? 1 : (int)ViewData["PageIndex"] - 1, order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
        }

        <form class="dis-inline mrg20-ver">
            <select onchange="location.href=this.value">
                @for (int i = 1; i <= (int)ViewData["PageCount"]; i++)
                {
                    if (i == (int)ViewData["PageIndex"])
                    {
                        <option value="@i" selected="selected">@i</option>
                    }
                    else
                    {
                        <option value="@Url.Action("BeaconElectricPowerList", new { page = i, order = ViewData["order"], isOrderASC = (bool)ViewData["IsOrderASC"] })">@i</option>
                    }
                }
            </select>
            <span>/@ViewData["PageCount"]</span>
            <span>(@ViewData["TotalCount"]筆資料)</span>
        </form>
        @if (Convert.ToInt32(ViewData["PageIndex"]) >= (int)ViewData["PageCount"])
        {
            <input type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" disabled="disabled" />
            <input type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" disabled="disabled" />
        }
        else
        {
            <input type="button" class="btn btn-primary btn-large arrow" value="&rsaquo;" onclick="location.href='@Url.Action("BeaconElectricPowerList", new { page = ((int)ViewData["PageIndex"] + 1 > (int)ViewData["PageCount"]) ? (int)ViewData["PageCount"] : (int)ViewData["PageIndex"] + 1, order = ViewData["order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
            <input type="button" class="btn btn-primary btn-large arrow" value="&raquo;" onclick="location.href='@Url.Action("BeaconElectricPowerList", new { page = (int)ViewData["PageCount"], order = ViewData["order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
        }
    </div>
</div>
