﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@model FamiportCollection
@{
    ViewBag.Title = "EventList";
    Layout = "~/Views/Shared/FamiportPincodeLayout.cshtml";
}
<script type="text/javascript">
    function confirmFamiport(obj)
    {
        if(confirm("• 若經測試確認沒有問題，請按下「正確」鍵，商品將進入上檔的排程\n• 若測試過程中發現問題，請聯繫17Life 進行調整\n• 提醒您，確認鍵按下後無法再次變更")) {
            var famiportId = $(obj).find("#famiportId").val();
            $(obj).find("#confirmButton").html("<img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />");
            var confirmData = "{famiportId:" + famiportId + "}";

            $.ajax({
                type: "POST",
                url: "@Url.Content("~/FamiportPincode/ConfirmFamiport")",
                data: confirmData,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    alert(data.Message);
                    if (data.Success) {
                        $(obj).find("#statusTD").html("<p>已確認</p>");
                        $(obj).find("#confirmButton").html("<button type='button' class='btn btn-unlink' disabled='disabled'>檢驗</button>");
                    }
                    else {
                        $(obj).find("#confirmButton").html("<button type='button' class='btn btn-link' onClick='return confirmFamiport($(this).parent().parent().parent());'>檢驗</button>");    
                    }
                }
            });        
        }
        return false;
    }
</script>
<div class="zone">
<table class="list-tb">
    <tr>
        <th width="80" class="@((ViewData["order"].ToString() == Famiport.Columns.BusinessHourOrderTimeS) ? (Convert.ToBoolean(ViewData["IsOrderASC"])) ? "sort-down" : "sort-up" : "sort-initial") alg-left">
            @if ((bool)ViewData["IsOrderASC"]) 
            {
                <a href="@Url.Action("EventList", new { page=(int)ViewData["PageIndex"], order=Famiport.Columns.BusinessHourOrderTimeS, isOrderASC=false })">上檔日期</a>
            }
            else 
            { 
                <a href="@Url.Action("EventList", new { page=(int)ViewData["PageIndex"], order=Famiport.Columns.BusinessHourOrderTimeS, isOrderASC=true })">上檔日期</a>
            }
        </th>
        <th width="80" class="@((ViewData["order"].ToString() == Famiport.Columns.BusinessHourOrderTimeE) ? (Convert.ToBoolean(ViewData["IsOrderASC"])) ? "sort-down" : "sort-up" : "sort-initial") alg-left">
            @if ((bool)ViewData["IsOrderASC"]) 
            {
                <a href="@Url.Action("EventList", new { page=(int)ViewData["PageIndex"], order=Famiport.Columns.BusinessHourOrderTimeE, isOrderASC=false })">截止日期</a>
            }
            else 
            { 
                <a href="@Url.Action("EventList", new { page=(int)ViewData["PageIndex"], order=Famiport.Columns.BusinessHourOrderTimeE, isOrderASC=true })">截止日期</a>
            }
        </th>
        <th width="380" class="alg-left">商品名稱</th>
        <th width="60">預覽</th>
    </tr>
    @foreach (Famiport famiport in Model) 
    {
        <tr>
            <td>@Convert.ToDateTime(famiport.BusinessHourOrderTimeS).ToString("yyyy/MM/dd")</td>
            <td>@Convert.ToDateTime(famiport.BusinessHourOrderTimeE).ToString("yyyy/MM/dd")</td>
            <td class="alg-left">
                @famiport.ItemName
            </td>
            <td>
                @if (famiport.Status != (int)FamiportStatus.Draft && famiport.Status != (int)FamiportStatus.OnTheMake)
                {
                    <a target="_blank" href="@Html.Raw(ViewBag.SiteUrl + "/" + famiport.BusinessHourGuid)">檢視</a>
                }
            </td>
        </tr>  
    }
</table>
<div class="alg-center mrg20-hor">
    @if (Convert.ToInt32(ViewData["PageIndex"]) <= 1)
    {
        <input type="button" class="btn btn-disabled btn-large arrow" value="&laquo;" disabled="disabled" />
        <input type="button" class="btn btn-disabled btn-large arrow" value="&lsaquo;" disabled="disabled"/>
    }
    else
    {
        <input type="button" class="btn btn-primary btn-large arrow" value="&laquo;" onclick="location.href='@Url.Action("EventList", new { page = 1, order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
        <input type="button" class="btn btn-primary btn-large arrow" value="&lsaquo;" onclick="location.href='@Url.Action("EventList", new { page = ((int)ViewData["PageIndex"] - 1 == 0) ? 1 : (int)ViewData["PageIndex"] - 1, order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
    }
    
    <form class="dis-inline mrg20-ver">
        <select onchange="location.href=this.value">
            @for (int i = 1; i <= (int)ViewData["PageCount"]; i++)
            {
                if (i == (int)ViewData["PageIndex"])
                { 
                    <option value="@i" selected="selected">@i</option>
                }
                else
                {
                    <option value="@Url.Action("EventList", new { page = i, order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })">@i</option>
                }
            }
        </select>
        <span>/@ViewData["PageCount"]</span>
        <span>(@ViewData["TotalCount"]筆資料)</span>
    </form>
    @if (Convert.ToInt32(ViewData["PageIndex"]) >= (int)ViewData["PageCount"])
    {
        <input type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" disabled="disabled" />
        <input type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" disabled="disabled" />    
    }
    else
    { 
        <input type="button" class="btn btn-primary btn-large arrow" value="&rsaquo;" onclick="location.href='@Url.Action("EventList", new { page = ((int)ViewData["PageIndex"] + 1 > (int)ViewData["PageCount"]) ? (int)ViewData["PageCount"] : (int)ViewData["PageIndex"] + 1, order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
        <input type="button" class="btn btn-primary btn-large arrow" value="&raquo;" onclick="location.href='@Url.Action("EventList", new { page = (int)ViewData["PageCount"], order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })    '" />
    }
</div>
</div>
