﻿@using LunchKingSite.DataOrm
@using LunchKingSite.WebLib.Controllers
@model ExtraCodeModel

@{
    ViewBag.Title = "ExtraCodeLog";
    Layout = "~/Views/Shared/FamiportPincodeLayout.cshtml";
}
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.numeric.js")'></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[id=extraQty]').numeric();
    });

    function onFullContent() {
        var type = $("#viewType").val();
        if (type == 0) {
            $(".foldZone").show();
            $("#viewType").val("1");
            $("#viewFull").val("點擊看簡易內容");
        }
        else {
            $(".foldZone").hide();
            $("#viewType").val("0");
            $("#viewFull").val("點擊看完整內容");
        }
    }

    function extraCodeSubmit() {
        if($("#extraQty").val()) { 
            if(confirm("確定要加碼?")) {
                $('form#extraCodeForm').submit();
            } else {
                return false;
            }
        }
        else {
            alert("請填寫加碼數量");
            return false;
        }
    }
</script>
<div class="zone">
    <div class="fr-item">
        <label class="fr-label">廠商名稱</label>
        <div class="fr-content">
            <p>全家</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">商品名稱</label>
        <div class="fr-content">
            <p>@Model.Famiport.ItemName</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">商品代號</label>
        <div class="fr-content">
            <p>@Model.Famiport.ItemCode</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">pin碼數量</label>
        <div class="fr-content">
            <p>@Model.Famiport.PincodeQty</p>
            <p class="f-small">筆</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">測試pin碼數量</label>
        <div class="fr-content">
            <p>@Model.Famiport.TestCodeQty</p>
            <p class="f-small">筆</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">紅利pin碼兌換日期</label>
        <div class="fr-content">
            <p>@Convert.ToDateTime(Model.Famiport.BusinessHourDeliverTimeS).ToString("yyyy/MM/dd")</p>
            <p>至</p>
            <p>@Convert.ToDateTime(Model.Famiport.BusinessHourDeliverTimeE).ToString("yyyy/MM/dd")</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">此檔原價</label>
        <div class="fr-content">
            <p>@Model.Famiport.ItemOrigPrice.ToString("###,###,##0")</p>
            <p class="f-small">元</p>
        </div>
    </div>
    <div class="fr-item">
        <label class="fr-label">優惠價格</label>
        <div class="fr-content">
            <p>@Model.Famiport.ItemPrice.ToString("###,###,##0")</p>
            <p class="f-small">元</p>
        </div>
    </div>
    <div class="fr-item">
        <div class="fr-content">
            <input type="hidden" id="viewType" value="0" />
            <input type="button" id="viewFull" class="btn btn-sort-off btn-large" onclick="onFullContent();" value="點擊看完整內容">
        </div>
    </div>
    <!-- 點擊看完整內容 Start-->
    <div class="foldZone" style="display: none">
        <div class="fr-item">
            <label class="fr-label">網頁活動說明</label>
            <div class="fr-content">
                <p>@Model.Famiport.Remark</p>
            </div>
        </div>
        <div class="fr-item">
            <label class="fr-label">活動注意事項</label>
            <div class="fr-content">
                <p>@Model.Famiport.EventAttention1</p>
                @if (!string.IsNullOrEmpty(Model.Famiport.EventAttention2.Trim()))
                {
                    <br>
                    <p>@Model.Famiport.EventAttention2.Trim()</p>                
                }
                @if (!string.IsNullOrEmpty(Model.Famiport.EventAttention3.Trim()))
                {
                    <br>
                    <p>@Model.Famiport.EventAttention3.Trim()</p>                
                }
                @if (!string.IsNullOrEmpty(Model.Famiport.EventAttention4.Trim()))
                {
                    <br>
                    <p>@Model.Famiport.EventAttention4.Trim()</p>                
                }
            </div>
        </div>
        <div class="fr-item">
            <label class="fr-label">商品檔次日期</label>
            <div class="fr-content">
                <p>@Convert.ToDateTime(Model.Famiport.BusinessHourOrderTimeS).ToString("yyyy/MM/dd")</p>
                <p>至</p>
                <p>@Convert.ToDateTime(Model.Famiport.BusinessHourOrderTimeE).ToString("yyyy/MM/dd")</p>
            </div>
        </div>
        <div class="fr-item">
            <label class="fr-label">商品規格說明</label>
            <div class="fr-content">
                <p>@Model.Famiport.ItemRemark</p>
            </div>
        </div>
        <div class="fr-item">
            <label class="fr-label">商品注意事項</label>
            <div class="fr-content">
                <p>@Model.Famiport.ItemAttention1</p>
                @if (!string.IsNullOrEmpty(Model.Famiport.ItemAttention2.Trim()))
                {
                    <br>
                    <p>@Model.Famiport.ItemAttention2.Trim()</p>                
                }
                @if (!string.IsNullOrEmpty(Model.Famiport.ItemAttention3.Trim()))
                {
                    <br>
                    <p>@Model.Famiport.ItemAttention3.Trim()</p>                
                }
                @if (!string.IsNullOrEmpty(Model.Famiport.ItemAttention4.Trim()))
                {
                    <br>
                    <p>@Model.Famiport.ItemAttention4.Trim()</p>                
                }
            </div>
        </div>
    </div>
    <!-- 點擊看完整內容 End-->
</div>
<div class="zone">
    <h2>產碼歷程</h2>
    @foreach (PeztempBatchLog log in Model.PeztempBatchLogs)
    {
        <form class="fr-group fr-bg-gray clearfix">
            <div class="fr-item">
                <label class="fr-label">加碼時間</label>
                <div class="fr-content">
                    <p>@log.CreateTime.ToString("yyyy/MM/dd")</p>
                    <p>@log.CreateTime.ToString("HH:mm:ss")</p>
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">加碼數量</label>
                <div class="fr-content">
                    <p>@log.Qty</p>
                    <p>筆</p>
                </div>
            </div>
            <div class="fr-item">
				<label class="fr-label">備駐</label>
				<div class="fr-content">
                    <p>@log.Remarks</p>
				</div>
			</div>
        </form>
        if (log.IsProducedBackup)
        {
        <form class="fr-group fr-bg-green clearfix">
            <div class="fr-item">
                <label class="fr-label">索取備用pin碼時間</label>
                <div class="fr-content">
                    <p>@Convert.ToDateTime(log.ProducedBackupCodeTime).ToString("yyyy/MM/dd")</p>
                    <p>@Convert.ToDateTime(log.ProducedBackupCodeTime).ToString("HH:mm:ss")</p>
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">索取備用pin碼數量</label>
                <div class="fr-content">
                    <p>@log.BackupCodeQty</p>
                    <p>筆</p>
                </div>
            </div>
        </form>        
        }
    }
</div>
<div class="zone">
    <h2>商品加碼</h2>
    <form id="extraCodeForm" name="extraCodeForm" method="post" action="@Url.Action("ExtraCode")" class="fr-group clearfix">
        <div class="fr-item">
            <div class="fr-item">
                <label class="fr-label">加碼數量</label>
                <div class="fr-content">
                    <input type="hidden" id="famiportId" name="famiportId" value="@Model.Famiport.Id" />
                    <input type="text" id="extraQty" name="extraQty" class="fr-input-defaul">
                    <p class="f-small">筆</p>
                </div>
            </div>
            <div class="fr-content">
                <input type="button" class="btn btn-primary btn-large" onclick="extraCodeSubmit()" value="加碼">
                <input type="button" class="btn btn-cancel btn-large" onclick="location.href='@Url.Action("List", new { page=1, order=Famiport.Columns.Status, isOrderASC=true })'" value="取消">
            </div>
        </div>
    </form>
</div>
