﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.WebLib.Controllers;
@using FamilyNetEvent = LunchKingSite.Core.Models.Entities.FamilyNetEvent;

@model FamilyNetEventDealModel
@{
    Layout = "~/Views/Shared/FamiportPincodeLayout.cshtml";
    bool enableFamilyBarcodeVersion = ViewBag.EnableFamilyBarcodeVersion?? false;
}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")'></script>
<script type="text/javascript" src="../../Tools/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="../../Tools/js/jquery.blockUI.js"></script>
<!--googleCalendar-->
<script type="text/javascript" src="../Themes/skmApp/googleCalendar/lib/pikaday.js"></script>
<link rel="stylesheet" type="text/css" href="../Themes/skmApp/googleCalendar/lib/pikaday.css" />

<script type="text/javascript" src="../Themes/skmApp/googleCalendar/lib/jquery.ptTimeSelect.js"></script>
<link type="text/javascript" rel="stylesheet" type="text/css" href="../Themes/skmApp/googleCalendar/lib/jquery.ptTimeSelect.css" />
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />

<script type="text/javascript">
    function getDealGuid() {
        return '@(Model.BusinessHourGuid)';
    }
    $(document).ready(function () {
        var bid = '@(Model.BusinessHourGuid)';

        addBuyButtonClick();
        addFreeButtonClick();

        var str =$('#remark').text().replace(/  /g, "");
        $('#remark').text(str);

        var type = $('#acticeType').val();
        activeMode(type);
        var parent = $('.active:visible');

        $('.small-nav li a').on('click', function () {
            if (isNotDraft())
                return false;
            $('.small-nav li a').removeClass('btn btn-primary btn-small btn-long');
            $('.small-nav li a').addClass('btn btn-default btn-small btn-long');
            $(this).removeClass('btn btn-default btn-small btn-long');
            $(this).addClass('btn btn-primary btn-small btn-long');
            type = $(this).attr('name');
            $('.actionBtn').hide();
            skmMode(type);

            $('.allShoppes').each(function() {
                $(this).find('input').attr('checked', false);
                $(this).hide();
            });
            $('.shoppesItem').each(function() {
                $(this).find('input').attr('checked', false);
                $(this).hide();
            });
            $('.shoppesItemSelected').each(function() {
                $(this).find('input').attr('checked', false);
                $(this).hide();
            });
            $('#searchShoppes').val('');

        });

        $('#applyForm').on('click', '.discountType', function() {
            subParent = $(this).parent();
            var value = subParent.find('.discount').val();
            parent.find('.discount').val('');
            subParent.find('.discount').val(value);
            subParent.find('.discount').focus();
        });

        $('#applyForm').on('click', '.active:visible .discount', function() {
            var value = $(this).val();
            $('.active:visible .discount').val('');
            $(this).parent().find('.discountType').attr('checked', 'checked');
            $(this).val(value);
            $(this).focus();
        });

        $('.buyAdd').on('click', function() {
            var divCount = $('.buyDel').length;
            if (divCount < 5 ) {
                $("#div_buy").append($('.div_buy_item:has(p):first').clone());
                addBuyButtonClick();
            }
        });

        $('.freeAdd').on('click', function() {
            var divCount = $('.freeDel').length;
            if (divCount < 5 ) {
                $("#div_free").append($(".div_free_item:has(p):first").clone());
                addFreeButtonClick();
            }
        });

        $('input[type=radio][name=isComboDeal]').on('change', function() {
            switch ($(this).val()) {
                case '@((int)FamilyNetEventIsComboDeal.Single)':
                    activeMode('@FamilyNetEventIsComboDeal.Single');
                    break;
                case '@((int)FamilyNetEventIsComboDeal.Multi)':
                    activeMode('@FamilyNetEventIsComboDeal.Multi');
                    break;
            }
        });

    });


    function addBuyButtonClick() {
        $('.buyDel').each(function() {
            $('.buyDel').on('click', function() {
                var divCount = $('.buyDel').length;
                if (divCount > 1 ) {
                    $(this).parent($(".div_buy_item")).remove();
                }
            });
        });
    }

    function addFreeButtonClick() {
        $('.freeDel').each(function() {
            $('.freeDel').on('click', function() {
                var divCount = $('.freeDel').length;
                if (divCount > 1 ) {
                    $(this).parent($(".div_free_item")).remove();
                }
            });
        });
    }

    function activeMode(type) {
        $('.active').hide();
        if (type == "@FamilyNetEventIsComboDeal.Single") {
            $('#div_single').show();
            $('#div_multi').hide();
            $('#div_multi_bottom').hide();
        }
        else if (type == "@FamilyNetEventIsComboDeal.Multi") {
            $('#div_multi').show();
            $('#div_single').hide();
            $('#div_multi_bottom').show();
        }
    }

    function onSaveDraft(obj) {
        if (checkData()) {
            $.blockUI({ message: "<center><font color='blue'>處理中，請稍候...</font></center>", css: { width: '250px' } });
            $(obj).attr('onclick', '').unbind('click');
            var data = getData();
            $.post("@Url.Action("FamilyNetEventSaveDraft")", $.param(data, true), function (data) {
                if (data.Result) {
                    location.href = '@Url.Action("FamilyNetEventList")' + data.BackUrl;
                }
                else {
                    alert(data.Message);
                    $.unblockUI();
                    $("#onSaveDr").on('click', function() {
                        onSaveDraft(this);
                    });
                }
            });

        }
    }

    function isNotDraft() {
        var is_not = '@(!Model.IsAllowEdit)';
        return JSON.parse(is_not.toLowerCase());
    }

    function gotoPreview() {
        if (checkData()) {
            var data = getData();
            $.post("@Url.Action("SaveTempData")", $.param(data, true), function(data) {
                if (data.Result) {
                    location.href = '@Url.Action("FamilyNetEventDealPreview")';
                }
                else {
                    alert(data.Message);
                }
            });
        }
    }

    function newModel() {
        var data = {
            "id": $('#id').val(),
            "ActiveType": $('.btn-primary').attr('name')
        }
        alert("確定取消？");
        if ($('#id').val() == '') {
            location.href = '/FamiportPincode/FamilyNetEventDealInfo';
        } else {
            $.post("@Url.Action("SaveTempData")", $.param(data, true), function (data) {
                location.href = '/FamiportPincode/FamilyNetEventDealInfo?id=' + $('#comboDealMainId').val();
            });
        }
    }

    function getData() {
        var parent = $('.active:visible');
        var chk = new Array();

        var itemPrice;
        $.each(parent.find('.itemPrice'), function(n) {
            var d = $(parent.find('.itemPrice')[n]).val();
            if (d > 0) {
                discount = d;
            }
        });

        var isComboDeal = $('.activeType:checked').val();
        var version = $('.versionType:checked').val();
        var remark = $('#remark').val();

        var bid = [];
        $('.div_buy_item .bid').each(function () {
            if ($(this).val() != '') {
                bid.push($(this).val());
            }
        });
        var actCode = [];
        $('.div_buy_item .actCode').each(function () {
            if ($(this).val()!='') {
                actCode.push($(this).val());
            }
        });
        var itemCode = [];
        $('.div_buy_item .itemCode').each(function () {
            if ($(this).val()!='') {
                itemCode.push($(this).val());
            }
        });
        var itemName = [];
        $('.div_buy_item .itemName').each(function () {
            if ($(this).val()!='') {
                itemName.push($(this).val());
            }
        });
        var itemOrigPrice = [];
        $('.div_buy_item .itemOrigPrice').each(function () {
            if ($(this).val() != '') {
                itemOrigPrice.push($(this).val());
            }
        });
        var itemPrice = [];
        $('.div_buy_item .itemPrice').each(function () {
            if ($(this).val() != '') {
                itemPrice.push($(this).val());
            }
        });
        var purchasePrice = [];
        $('.div_buy_item .purchasePrice').each(function () {
            if ($(this).val() != '') {
                purchasePrice.push($(this).val());
            }
        });
        var maxItemCount = [];
        $('.div_buy_item .maxItemCount').each(function () {
            if ($(this).val() != '') {
                maxItemCount.push($(this).val());
            }
        });
        var buy = [];
        $('.div_buy_item .buy').each(function () {
            if ($(this).val() != '') {
                buy.push($(this).val());
            }
        });
        var free = [];
        $('.div_buy_item .free').each(function () {
            if ($(this).val() != '') {
                free.push($(this).val());
            }
        });
        var comboDealList = [];
        var lenBuy = actCode.length;
        for (var i = 0; i < lenBuy; i++) {
            comboDealList.push({
                BusinessHourGuid: bid[i],
                ActCode: actCode[i],
                ItemCode: itemCode[i],
                ItemName: itemName[i],
                ItemOrigPrice: itemOrigPrice[i],
                ItemPrice: itemPrice[i],
                PurchasePrice: purchasePrice[i],
                MaxItemCount: maxItemCount[i],
                Buy: buy[i],
                Free: free[i]
            });
        }

        var data = {
            "Id": $('#id').val(),
            "MainBusinessHourGuid": $('#mainBid').val(),
            "BusinessHourGuid": $('#bid').val(),
            "IsComboDeal": isComboDeal,
            "Version": version,
            "ItemName": parent.find('.itemName').val(),
            "ActCode": parent.find('.actCode').val(),
            "ItemCode": parent.find('.itemCode').val(),
            "ItemOrigPrice": parseInt(parent.find('.itemOrigPrice').val()),
            "ItemPrice": parseInt(parent.find('.itemPrice').val()),
            "PurchasePrice": parseInt(parent.find('.purchasePrice').val()),
            "MaxItemCount": parent.find('.maxItemCount').val(),
            "Remark": remark,
            "BusinessHourOrderTimeS": $('#orderDateS').val() +" " +$('#orderTimeS').val(),
            "BusinessHourOrderTimeE": $('#orderDateE').val() + " " + $('#orderTimeE').val(),
            "BusinessHourDeliverTimeS": $('#deliverDateS').val() + " " + $('#deliverTimeS').val(),
            "BusinessHourDeliverTimeE": $('#deliverDateE').val() + " " + $('#deliverTimeE').val(),
            "Buy": parent.find('.buy').val(),
            "Free": parent.find('.free').val(),
            "ComboDealJsonList": JSON.stringify(comboDealList),
            "ComboDealMainId": $('#comboDealMainId').val(),
            "Page": $('#page').val()
        }
        return data;
    }

    function checkData() {
        var parent = $('.active:visible');

        if (parent.find('.actCode').val() == "") {
            alert('必須輸入活動代號');
            return false;
        }
        if (parent.find('.itemCode').val() == "" ) {
            alert('必須輸入商品代號');
            return false;
        }
        if (parent.find('.itemName').val() == "") {
            alert('必須輸入商品名稱');
            return false;
        }
        var n = $('.itemName').val().length;;
        if (n > 100) {
            alert('超過100字元長度');
            return false;
        }
        if (parent.find('.maxitemCount').val() == "") {
            alert('必須輸入最大購買數量');
            return false;
        }
        if (parent.find('.buy').val() == "") {
            alert('必須輸入憑證組數');
            return false;
        }
        if (parent.find('.free').val() == "") {
            alert('必須輸入憑證組數');
            return false;
        }
        if ($('#orderDateS').val() == "" || $('#orderDateE').val() == "") {
            alert('檔次上架時間未填寫');
            return false;
        }
        if ($('#deliverDateS').val() == "" || $('#deliverDateE').val() == "") {
            alert('可兌換時間未填寫');
            return false;
        }
        var orderDtS = $('#orderDateS').val() + ' ' + $('#orderTimeS').val();
        var orderDtE = $('#orderDateE').val() + ' ' + $('#orderTimeE').val();
        if (new Date(orderDtS).getTime() > new Date(orderDtE).getTime()) {
            alert('截止日期需大於起始日期');
            return false;
        }

        var deliverDtS = $('#deliverDateS').val() + ' ' + $('#deliverTimeS').val();
        var deliverDtE = $('#deliverDateE').val() + ' ' + $('#deliverTimeE').val();
        if (new Date(deliverDtS).getTime() > new Date(deliverDtE).getTime()) {
            alert('截止日期需大於起始日期');
            return false;
        }
        if (new Date(deliverDtS).getTime() < new Date(orderDtS).getTime()) {
            alert('兌換開始時間不能早於上架開始時間');
            return false;
        }
        if (new Date(deliverDtE).getTime() < new Date(orderDtE).getTime()) {
            alert('兌換結束時間不能早於上架結束時間');
            return false;
        }
        if (parseInt(parent.find('.itemOrigPrice').val()) == 0 || parent.find('.itemOrigPrice').val() == 0) {
            alert('請輸入商品原價(必填)!');
            return false;
        }
        if (parseInt(parent.find('.itemPrice').val()) == 0 || parent.find('.itemPrice').val() == 0) {
            alert('請輸入商品賣價(必填)!');
            return false;
        }
        if (parseInt(parent.find('.purchasePrice').val()) == 0 || parent.find('.purchasePrice').val() == 0) {
            alert('請輸入商品進價(必填)!');
            return false;
        }
        if (parseInt(parent.find('.maxItemCount').val()) == 0 || parent.find('.maxItemCount').val() == 0) {
            alert('請輸入最大購買數量(必填)!');
            return false;
        }
        if ($('.activeType:checked').val() == 1)
        {
            var sonMaxCountSum = 0;
            var maxItemCountCheck = 0;
            $('.div_buy_item .maxItemCount').each(function () {
                if ($(this).val() == '' || $(this).val() == 0) {
                    maxItemCount += 1;
                }
                else
                {
                    sonMaxCountSum += parseInt($(this).val());
                }
            });
            if (maxItemCountCheck > 0) {
                alert('請輸入子檔最大購買數量(必填)!');
                return false;
            }

            var motherMaxCount = parent.find('.maxItemCount').val()
            if (parseInt(motherMaxCount) != sonMaxCountSum)
            {
                alert('母檔最大購買數量需等於子檔的最大購買數量總和!');
                return false;
            }
        }
        
        var itemPrice;
        $.each(parent.find('.itemPrice'), function (n) {
            var d = $(parent.find('.itemPrice')[n]).val();
            if (d > 0) {
                discount = d;
            }
        });
        if (itemPrice > parseInt(parent.find('.itemOrigPrice').val())) {
            alert('優惠價格必需小於或等於商品原價，若沒有優惠價格請填入0');
            return false;
        }

        return true;
    }
</script>
<form id="applyForm" class="fr-group clearfix" method="post" action='@Url.Action("FamilyNetDealPreview")'>
    <input type="hidden" id="bid" name="bid" value="@Model.BusinessHourGuid" />
    <input type="hidden" id="acticeType" name="acticeType" value="@Model.IsComboDeal" />
    <input type="hidden" id="mainBid" name="mainBid" value="@Model.MainBusinessHourGuid" />
    <input type="hidden" id="id" name="id" value="@Model.Id" />
    <input type="hidden" id="comboDealMainId" name="comboDealMainId" value="@Model.ComboDealMainId" />
    <input type="hidden" id="page" name="page" value="@Model.Page" />
    <div class=""><a class="" href="@Url.Action("FamilyNetEventList")?filter=@Model.Filter&page=@Model.Page"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>        
    <div class="zone ">
        <div id="div_isComboDeal" class="fr-item">
            <label class="fr-label">檔次類型</label>
            <div class="fr-content">
                <label>
                    <input name="isComboDeal" type="radio" class="activeType" value="@((int)FamilyNetEventIsComboDeal.Single)" @if (Model.IsComboDeal == FamilyNetEventIsComboDeal.Single) { <text> checked="checked" </text> } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }>
                    <p class="">單一方案</p>
                </label>
                <label>
                    <input name="isComboDeal" type="radio" class="activeType" value="@((int)FamilyNetEventIsComboDeal.Multi)" @if (Model.IsComboDeal == FamilyNetEventIsComboDeal.Multi) { <text> checked="checked" </text> } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }>
                    <p>多方案</p>
                </label>
            </div>
        </div>
        @if (enableFamilyBarcodeVersion)
        {
            <div id="div_version" class="fr-item">
                <label class="fr-label">版本</label>
                <div class="fr-content">
                    <label>
                        <input name="version" type="radio" class="versionType" value="@((int)FamilyBarcodeVersion.FamiSingleBarcode)" @if (Model.Version == FamilyBarcodeVersion.FamiSingleBarcode) { <text> checked="checked" </text> }>
                        <p>全家一段式條碼</p>
                    </label>
                </div>
            </div>
        }
        <div id="div_single" class="active" style="">
            <div class="fr-group clearfix">
                <div class="fr-item">
                    <label class="fr-label">活動代號</label>
                    <div class="fr-content">
                        <input type="text" class="fr-input-defaul actCode" @{ <text> value="@Model.ActCode" </text>  } @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> } />
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">商品代號</label>
                    <div class="fr-content">
                        <input type="text" class="fr-input-defaul itemCode" @{ <text> value="@Model.ItemCode" </text>  } @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> } />
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">商品名稱</label>
                    <div class="fr-content">
                        <input type="text" maxlength="40" class="fr-input-defaul itemName" @{ <text> value="@Model.ItemName" </text>  } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> } />
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">原價</label>
                    <div class="fr-content">
                        <input type="number" min="0" class="fr-input-defaul itemOrigPrice" @{ <text> value="@Model.ItemOrigPrice" </text>  } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> } />
                        <p class="f-small">元</p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">賣價</label>
                    <div class="fr-content">
                        <input type="number" min="0" class="fr-input-defaul itemPrice" @{ <text> value="@Model.ItemPrice" </text>  } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> } />
                        <p class="f-small">元</p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">進價</label>
                    <div class="fr-content">
                        <input type="number" min="0" class="fr-input-defaul purchasePrice" @{ <text> value="@Model.PurchasePrice" </text>  } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> } />
                        <p class="f-small">元</p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">最大購買數量</label>
                    <div class="fr-content">
                        <input type="text" class="fr-input-defaul maxItemCount" @{ <text> value="@(Model.MaxItemCount==0?default(int?) :Model.MaxItemCount)" </text>  } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> } />
                        <p class="f-small">筆</p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">憑證組數</label>
                    <div class="fr-content">
                        買 <input type="number" min="0" class="fr-input-small buy" style="width: 5%;" @{ <text> value="@Model.Buy" </text>  } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> } />
                        送 <input type="number" min="0" class="fr-input-small free" style="width: 5%;" @{ <text> value="@Model.Free" disabled="disabled" </text>  } />
                    </div>
                </div>
            </div>
        </div>
        <div id="div_multi" class="active" @if (Model.IsComboDeal == FamilyNetEventIsComboDeal.Multi) { <text> style="display:none" </text> }>
            <div class="fr-group clearfix">
                <div class="fr-item">
                    <label class="fr-label">多選項代表檔設定</label>
                    <div class="fr-content">
                        <br />
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">商品名稱</label>
                    <div class="fr-content">
                        <input type="text" maxlength="40" class="fr-input-large itemName" @{ <text> value="@Model.ItemName" </text>  } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> } />
                        <p class="f-small">
                            剩下
                            <span class="f-red">40</span>
                            字
                        </p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">原價</label>
                    <div class="fr-content">
                        <input type="number" min="0" class="fr-input-defaul itemOrigPrice" @{ <text> value="@Model.ItemOrigPrice" </text>  } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> } />
                        <p class="f-small">元</p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">賣價</label>
                    <div class="fr-content">
                        <input type="number" min="0" class="fr-input-defaul itemPrice" @{ <text> value="@Model.ItemPrice" </text>  } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> } />
                        <p class="f-small">元</p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">最大購買數量</label>
                    <div class="fr-content">
                        <input type="text" class="fr-input-defaul maxItemCount" @{ <text> value="@(Model.MaxItemCount==0?default(int?) :Model.MaxItemCount)" </text>  } @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> } />
                        <p class="f-small">筆</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-group clearfix">
            <div class="fr-item">
                <label class="fr-label">檔次上架期間</label>
                <div class="fr-content" id="alternateUiWidgetsExample">
                    <input type="text" id="orderDateS" class="date start fr-input-defaul" placeholder="日期" value="@Model.BusinessHourOrderTimeS" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> } />&nbsp;<input type="text" id="orderTimeS" class="time start fr-input-defaul" placeholder="時間" value="@Convert.ToDateTime(Model.BusinessHourOrderTimeS).ToString("HH:mm")" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> } />
                    <p class="f-small">至</p>
                    <input type="text" id="orderDateE" class="date end fr-input-defaul" placeholder="日期" value="@Model.BusinessHourOrderTimeE" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> } />&nbsp;<input type="text" id="orderTimeE" class="time end fr-input-defaul" placeholder="時間" value="@Convert.ToDateTime(Model.BusinessHourOrderTimeE).ToString("HH:mm")" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> } />
                </div>
            </div>
            <div id="div_deliver" class="fr-item">
                <label class="fr-label">可兌換時間</label>
                <div class="fr-content" id="alternateUiWidgetsExample">
                    <input type="text" id="deliverDateS" class="date start fr-input-defaul" placeholder="日期" value="@Model.BusinessHourDeliverTimeS" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> } />&nbsp;<input type="text" id="deliverTimeS" class="time start fr-input-defaul" placeholder="時間" value="@Convert.ToDateTime(Model.BusinessHourDeliverTimeS).ToString("HH:mm")" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> } />
                    <p class="f-small">至</p>
                    <input type="text" id="deliverDateE" class="date end fr-input-defaul" placeholder="日期" value="@Model.BusinessHourDeliverTimeE" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> } />&nbsp;<input type="text" id="deliverTimeE" class="time end fr-input-defaul" placeholder="時間" value="@Convert.ToDateTime(Model.BusinessHourDeliverTimeE).ToString("HH:mm")" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> } />
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">備註說明</label>
                <div class="fr-content">
                    <textarea id="remark" name="remark" placeholder="" class="fr-input-large remark" rows="5" cols="37">
                                @Model.Remark
                            </textarea>
                </div>
            </div>
            <div id="div_multi_bottom" @if (Model.IsComboDeal == FamilyNetEventIsComboDeal.Multi) { <text> style="display:none" </text> }>
                <div class="fr-group clearfix">
                    <div class="fr-item">
                        <label class="fr-label">多選項子檔設定</label>
                        <div class="fr-content">
                            <br />
                        </div>
                    </div>
                    <div class="fr-item">
                        @{
                            if (Model.FamilyNetEventComboDealList != null && Model.FamilyNetEventComboDealList.Count > 0)
                            {
                                foreach (var item in Model.FamilyNetEventComboDealList)
                                {
                                    <div id="div_buy">
                                        <div class="div_buy_item">
                                            <div class="fr-content" style="background-color: #eee; padding-bottom: 6px; margin-bottom: 6px;">
                                                <input type="hidden" class="fr-input-defaul bid" value="@item.BusinessHourGuid">
                                                <p>&nbsp;&nbsp;活動代號：</p>
                                                <input type="text" class="fr-input-defaul actCode " onchange="getNextInput(this);" value="@item.ActCode" placeholder="" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> }>
                                                <p>&nbsp;&nbsp;商品代號：</p>
                                                <input type="text" class="fr-input-defaul itemCode " value="@item.ItemCode" placeholder="" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> }>&nbsp;<input name="buyDel" type="button" class="btn btn-default btn-small btn-long buyDel" style="float: right;" value="刪除"><br />
                                                <p>&nbsp;&nbsp;商品名稱：</p>
                                                <input type="text" maxlength="40" class="fr-input-large itemName " value="@item.ItemName" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }><br />
                                                <p>&nbsp;&nbsp;原價：</p>
                                                <input type="text" maxlength="40" class="fr-input-large itemOrigPrice " style="width: 10%;" value="@(Convert.ToInt32(item.ItemOrigPrice))" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }>
                                                <p>&nbsp;&nbsp;賣價：</p>
                                                <input type="text" maxlength="40" class="fr-input-large itemPrice " style="width: 10%;" value="@(Convert.ToInt32(item.ItemPrice))" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }>
                                                <p>&nbsp;&nbsp;進價：</p>
                                                <input type="text" maxlength="40" class="fr-input-large purchasePrice " style="width: 10%;" value="@(Convert.ToInt32(item.PurchasePrice))" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }><br />
                                                <p>&nbsp;&nbsp;最大購買數量：</p>
                                                <input type="text" maxlength="40" class="fr-input-large maxItemCount " style="width: 10%;" value="@item.MaxItemCount" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }><br />
                                                <p>&nbsp;&nbsp;憑證組數：</p>
                                                買<input type="text" maxlength="40" class="fr-input-large buy " style="width: 5%;" value="@item.Buy" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }>
                                                送<input type="text" maxlength="40" class="fr-input-large free " style="width: 5%;" value="@item.Free" placeholder="" disabled="disabled">
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div id="div_buy">
                                    <div class="div_buy_item">
                                        <div class="fr-content" style="background-color: #eee; padding-bottom: 6px; margin-bottom: 6px;">
                                            <input type="hidden" class="fr-input-defaul bid" value="">
                                            <p>&nbsp;&nbsp;活動代號：</p>
                                            <input type="text" class="fr-input-defaul actCode " onchange="" value="" placeholder="" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> }>
                                            <p>&nbsp;&nbsp;商品代號：</p>
                                            <input type="text" class="fr-input-defaul itemCode " value="" placeholder="" @if (!Model.IsAfterSaveAllowEdit) { <text> disabled="disabled" </text> }>&nbsp;<input name="buyDel" type="button" class="btn btn-default btn-small btn-long buyDel" style="float: right;" value="刪除"><br />
                                            <p>&nbsp;&nbsp;商品名稱：</p>
                                            <input type="text" maxlength="40" class="fr-input-large itemName " value="" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }><br />
                                            <p>&nbsp;&nbsp;原價：</p>
                                            <input type="text" maxlength="40" class="fr-input-large itemOrigPrice " style="width: 10%;" value="" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }>
                                            <p>&nbsp;&nbsp;賣價：</p>
                                            <input type="text" maxlength="40" class="fr-input-large itemPrice " style="width: 10%;" value="" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }>
                                            <p>&nbsp;&nbsp;進價：</p>
                                            <input type="text" maxlength="40" class="fr-input-large purchasePrice " style="width: 10%;" value="" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }><br />
                                            <p>&nbsp;&nbsp;最大購買數量：</p>
                                            <input type="text" maxlength="40" class="fr-input-large maxItemCount " style="width: 10%;" value="" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }><br />
                                            <p>&nbsp;&nbsp;憑證組數：</p>
                                            買<input type="text" maxlength="40" class="fr-input-large buy " style="width: 5%;" value="" placeholder="" @if (!Model.IsAllowEdit) { <text> disabled="disabled" </text> }>
                                            送<input type="text" maxlength="40" class="fr-input-large free " style="width: 5%;" value="0" placeholder="" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="fr-content">
                            <input type="button" name="buyAdd" class="btn btn-primary btn-small btn-long buyAdd" value="新增">
                        </div>
                    </div>

                </div>
            </div>
            <div class="fr-item">
                <div class="fr-content">
                    @if (Model.Status >= (int)FamilyNetEventStatus.Draft && Model.Status <= (int)FamilyNetEventStatus.Confirmed)
                    {
                        <input type="button" onclick="gotoPreview();" class="btn btn-default btn-large actionBtn" value="預覽">
                    }
                    @if ((Model.Status <= (int)FamilyNetEventStatus.Draft && Model.IsAllowEdit) || Model.Status > (int)FamilyNetEventStatus.Draft)
                    {
                        <input id="onSaveDr" type="button" onclick="onSaveDraft(this);" class="btn btn-primary btn-large actionBtn" value="儲存" @if (Model.Status < (int)FamilyNetEventStatus.Draft) { <text> style="display:none" </text> }>
                    }
                    @if (Model.Status <= (int)FamilyNetEventStatus.Confirmed)
                    {
                        <input type="button" onclick="newModel();" class="btn btn-cancel btn-large actionBtn" value="取消">
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
    // initialize input widgets
    // ptTimeSelect doesn't trigger change event by default
    $('#alternateUiWidgetsExample .time').ptTimeSelect({
        'onClose': function ($self) {
            $self.trigger('change');
        }
    });

    $('#alternateUiWidgetsExample .date').pikaday();

    var TIMEFORMAT = 'HH:mm';
    var alternateUiWidgetsExampleEl = document.getElementById('alternateUiWidgetsExample');

    </script>
</form>