﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:site_name" content="17Life" />
    @if (ViewBag.OgTitle != null)
    {
        @:<meta property="og:title" content="@ViewBag.OgTitle" />
    }
    @if (ViewBag.OgDescription != null)
    {
        @:<meta property="og:description" content="@ViewBag.OgDescription" />
    }
    @if (ViewBag.OgImage != null)
    {
        @:<meta property="og:image" content="@ViewBag.OgImage" />
    }

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/tools/game/css/swiper.min.css">
    <link rel="stylesheet" href="/tools/game/css/style.css">

    <link rel="shortcut icon" href="/contents/images/favicon.ico" />
    <script type="text/javascript" src="/tools/game/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/tools/game/js/vue.min.js"></script>
    <script type="text/javascript" src="/tools/game/js/common_function.js?v=3"></script>
    <script type="text/javascript" src="/tools/game/js/swiper.min.js"></script>

    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
    <script type="text/javascript">
        !function (b, r, i, d, g, e, w, l) { if (b._bw) return; var a = b._bw = function () { a.callMethods ? a.callMethods.apply(a, arguments) : a.queue.push(arguments) }; a.queue = []; var j = r.createElement(i); j.async = !0; j.src = d; var d = r.getElementsByTagName(i)[0]; d.parentNode.insertBefore(j, d) }(window, document, 'script', 'https://img.scupio.com/js/pixel.js');
        @if(HttpContext.Current.User.Identity is PponIdentity) {
        @:_bw('init', '153', { ulid: '@((HttpContext.Current.User.Identity as PponIdentity).Id.ToString())' });
        } else {
        @:_bw('init', '153');
        }
    </script>
    <script type="text/javascript">
        window.goHome = function () {
            location.href = '@LunchKingSite.BizLogic.Facade.GameFacade.GetCurrentCampaignUrl(Url)';
        }
    </script>

    <!-- Google Tag Manager -->
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KWN4HC');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" async src="https://www.googletagmanager.com/gtag/js?id=UA-3157038-1"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-3157038-1');
        gtag('config', 'AW-807906577');
    </script>

    <!-- Facebook Pixel Code -->
    <script type="text/javascript">
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '274288942924758');
        fbq('track', 'PageView');
    </script>
    <!-- End Facebook Pixel Code -->

    <script type="text/javascript">
        (window._bwtm = window._bwtm || []).push({
            "mid": 153,
            "uid": "UserId"
        });
    </script>
</head>
<body>
    @RenderBody()
</body>
@RenderSection("scripts", false)
</html>
