﻿        <div class="navbar">
            <a class="back">
                <div class="icon" onclick="goBack()"></div>
                <div class="text" onclick="goHome()">回到活動入口</div>
            </a>
            <a class="logo"></a>
            <div class="right">
                <a class="readme" href="/game/home#story">活動說明</a>
                @*<a class="member">會員登入</a>*@
            </div>
        </div>
        <div class="interaction-background">
            <div class="left">
                <div class="element"></div>
                <div class="element"></div>
                <div class="element"></div>
                <div class="element"></div>
                <div class="element"></div>
            </div>
            <div class="right">
                <div class="element"></div>
                <div class="element"></div>
                <div class="element"></div>
                <div class="element"></div>
                <div class="element"></div>
            </div>
        </div>