﻿@model LunchKingSite.WebLib.Models.Game.GuestEntranceModel
@{
    ViewBag.Title = "17Life砍價活動 - 來賓入口";
    Layout = "~/Views/Game/_Layout.cshtml";
}
<div class="container">
    @Html.Partial("_NavBar")
    <div class="guest-entrance content-container">
        <div class="medium-wrapper">
            <div class="header">
                <div class="left"></div>
                <div class="right"></div>
                <div class="top"></div>
                <h3>17Life 砍價挑戰</h3>
            </div>
            <div class="index-banner">
                <img src="/Tools/game/img/web_942x326.jpg" />
            </div>
            <!-- CTA Button -->
            <div class="cta-wrapper line cta-wrapper-large">
                <div class="cta cta-wide cta-color-green" style="margin-top: 1.4rem;">
                    <span>LINE帳號登入</span>
                </div>
                <div class="cta-bottom"></div>
            </div>
            <!-- CTA Button -->
            <div class="cta-wrapper facebook cta-wrapper-large">
                <div class="cta cta-wide cta-color-blue" style="margin-top: 1.4rem;">
                    <span>FB帳號登入</span>
                </div>
                <div class="cta-bottom"></div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".line").click(function (e) {
                window.location.href = '@Html.Raw(Model.LineLoginUrl)';
            });
            $(".facebook").click(function (e) {
                window.location.href = '@Html.Raw(Model.FbLoginUrl)';
            });
        });
    </script>
}