﻿@model LunchKingSite.WebLib.Models.Game.GuestEventModel
@{
    ViewBag.Title = "17Life砍價活動 - 應援團";
    Layout = "~/Views/Game/_Layout.cshtml";
    string alertMsg = ViewBag.AlertMsg;
}

<div class="container">
    @Html.Partial("_NavBar")
    <div class="guest-view content-container">
        <div id="event-product">
            <div class="img">
                <img v-bind:src="current_product.img">
                <a :href="current_product.link" target="_blank"></a>
            </div>
            <h2>{{current_product.title}}</h2>
            <h3>{{current_product.subTitle}}</h3>
            <div class="detail-link">
                <a v-bind:href="current_product.link" target="_blank">商品明細</a></div>
        </div>
        <div id="mission-status">
            <div class="mission-goal">
                <h2>挑戰價格<span>${{mission_content.price}}</span><span class="origin">${{mission_content.origin}}</span></h2>
            </div>
            <div class="mission-content">
                <h2>挑戰內容</h2>
                <div v-bind:class="mission_content.classList">{{mission_content.period}}小時</div>
                <div v-bind:class="mission_content.classList">{{mission_content.people}}人幫助</div>
            </div>
            <div class="time-clock">
                <h2 v-if="current_product.status == 0">活動倒數</h2>
                <div class="timer-wrapper" v-if="current_product.status == 0">
                    <div class="hour time-block">{{countdown.hours}}</div>
                    <span>:</span>
                    <div class="minute time-block">{{countdown.minutes}}</div>
                    <span>:</span>
                    <div class="second time-block">{{countdown.seconds}}</div>
                </div>
            </div>
            <div class="status-bar-container">
                <div class="status-bar-inner"></div>
                <div class="status-bar-context">進度 40%</div>
            </div>
        </div>
        <!-- CTA Button -->
        <div @@click="goBargain()" class="cta-wrapper cta-wrapper-large mb-3" v-if="current_product.status == 0">
            <div class="cta cta-wide cta-color-red">
                <span>幫忙砍價 !</span>
            </div>
            <div class="cta-bottom"></div>
        </div>
        <!-- CTA Button -->
        <div class="cta-wrapper cta-wrapper-large mb-3" v-if="current_product.status == -1">
            <div class="cta cta-wide cta-color-gray">
                <span>任務失敗 !</span>
            </div>
            <div class="cta-bottom"></div>
        </div>
        <!-- CTA Button -->
        <div class="cta-wrapper cta-wrapper-large mb-3" v-if="current_product.status == 1">
            <div class="cta cta-wide cta-color-gray">
                <span>任務結束 !</span>
            </div>
            <div class="cta-bottom"></div>
        </div>
        <!-- 夥伴們 -->
        <div class="event-participants swiper-container">
            <div class="swiper-wrapper">
                <div class="share-btn share-line swiper-slide" onclick="">
                    <a href="@Html.Raw(Model.LineShareUrl)" target="_blank">
                        <div class="button"></div>
                        <div class="shadow"></div>
                    </a>
                </div>
                <div class="share-btn share-facebook swiper-slide" onclick="">
                    <a href="@Html.Raw(Model.FacebookShareUrl)" target="_blank">
                        <div class="button"></div>
                        <div class="shadow"></div>
                    </a>
                </div>
                <div class="char swiper-slide" v-for="char in characters">
                    <img v-bind:src="char.photo" v-bind:alt="char.name">
                    <div class="bubble-name">{{char.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <!-- 資料擺放區 -->
    <script type="text/javascript">
        //應援團端資料
        var current_mission = {
            mission_product: {
                title: "",
                subTitle: "",
                img: "",
                link: ''
            },
            mission_content: {
                price: '',
                origin: '',
                period: '',
                people: '',
                classList: {
                    "mission-tag": true,
                    easy: true,
                    medium: false,
                    hard: false
                }
            },
            mission_characters: [
                {
                    nick_name: "",
                    quote: "",
                    photo: ""
                }
            ]
        }

        var model = JSON.parse(@Html.SerializeJson(Model));
        current_mission.mission_product.title = model.Activity.Title;
        current_mission.mission_product.subTitle = model.Activity.SubTitle;
        current_mission.mission_product.img = model.Activity.Image2;
        current_mission.mission_product.status = model.RoundView.Status;
        current_mission.mission_product.rewardStatus = model.RoundView.RewardStatus;
        current_mission.mission_product.link = model.DetailUrl;
        current_mission.mission_content.price = model.Game.Price;
        current_mission.mission_content.origin = model.Game.OriginalPrice;
        current_mission.mission_content.people = model.Game.RulePeople;
        current_mission.mission_content.period = model.Game.RuleHours;
        current_mission.mission_content.classList.easy = false;
        current_mission.mission_content.classList.medium = false;
        current_mission.mission_content.classList.hard = false;
        if (model.Game.RuleLevel == 1) {
            current_mission.mission_content.classList.easy = true;
        } else if (model.Game.RuleLevel == 2) {
            current_mission.mission_content.classList.medium = true;
        } else if (model.Game.RuleLevel == 3) {
            current_mission.mission_content.classList.hard = true;
        }

        current_mission.mission_characters = [];
        for (var i in model.Buddies) {
            var buddy = model.Buddies[i];
            current_mission.mission_characters.push({
                name: buddy.Name,
                photo: buddy.Pic,
                quote: buddy.Message
            });
        }

        // 上資料函式 Vue
        // 應援團端
        var app = new Vue({
            el: ".guest-view",
            data: {
                current_product: current_mission.mission_product,
                mission_content: current_mission.mission_content,
                characters: current_mission.mission_characters,
                countdown: { hours: '00', minutes: '00', seconds: '00' },
                clientStartTime: new Date()
            },
            methods: {
                push_character: function() {
                    mission_characters.push(guest_avatar)
                },
                set_progress: function(proress) {
                    var rest_val = (100 - proress);
                    $('.status-bar-inner').css('left', '-' + rest_val + '%');
                    $('.status-bar-context').text('進度: ' + proress + '%');
                },
                vm_countdown: function () {
                    let r = remain_time2(this.mission_content.countdownSecs, this.clientStartTime);
                    this.countdown.hours = r.hours;
                    this.countdown.minutes = r.minutes;
                    this.countdown.seconds = r.seconds;
                },
                goBargain: function() {
                    var data = {
                        roundGuid: '@Html.Raw(Model.RoundView.Guid)'
                    };
                    $.ajax({
                        type: "POST",
                        url: this.bargainUrl,
                        data: JSON.stringify({ "data": data }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (res) {
                            if (res.Success === true) {
                                location.href = '@Html.Raw(Model.SuccessUrl)';
                            } else {
                                alert(res.Message);
                                location.href = '@Html.Raw(Model.GameHomeUrl)';
                            }
                        }, error: function () {
                            alert('error');
                        }
                    });
                }
            },
            mounted: function() {
                @if (!string.IsNullOrEmpty(alertMsg))
                {
                    @:this.$nextTick(function() {
                        @:alert('@alertMsg');
                        @:location.href = '@Html.Raw(Model.GameHomeUrl)';
                    @:});
                }
            }
        })

        var progress = parseInt(model.Buddies.length / model.Game.RulePeople * 100, 10);
        app.set_progress(progress);
        app.bargainUrl = model.BargainUrl;
        app.mission_content.countdownSecs = model.RoundView.CountdownSecs;
        //每秒更新 根據系統端時間(或客戶端時間)，vue.js會偵測改變馬上更新
        app.vm_countdown();
        var update = setInterval(function () {
            app.vm_countdown();
        }, 1000)

        var swiper_participants = new Swiper('.event-participants',{
            slidesPerView: 'auto',
            spaceBetween: 10,
            loop: false,
        })
    </script>
}
