﻿
@model LunchKingSite.WebLib.Models.Game.HomeModel
@{
    this.Layout = "_Layout.cshtml";
    var campaign = Model.Campaign;
    DateTime now = DateTime.Now;
}
    <div class="container">
        @Html.Partial("_NavBar")
        <div id="intro-banner" class="index-banner">
            <img v-bind:src="intro_banner.img" v-bind:alt="intro_banner.title">
        </div>
        <div id="index-page" class="content-container" v-cloak>
            <!-- CTA -->
            <div id="my-events" class="cta-wrapper cta-wrapper-large" @@click="gotoMyGames()">
                <div class="cta cta-wide cta-color-red">
                    <span>我的任務列表</span>
                </div>
                <div class="cta-bottom"></div>        
            </div>
            <!--  -->
            <!-- 推薦商品 -->
            <div class="recommand-list-container">
                <!-- 旗幟樣式 -->
                <div class="recommand-list-title">                    
                    <div class="flag">
                        <div class="left"></div>
                        <div class="right"></div>
                        <div class="top"></div>
                        <h3 class="title">TOP熱門活動榜</h3>
                    </div>
                </div>
                <!-- 內容置放區 -->
                <div class="recommand-list swiper-container">
                    <div class="product-wrapper swiper-wrapper">
                        <!-- 單卡 -->
                        <div class="product-card swiper-slide" v-for="card in recommand_list">
                            <img v-bind:src="card.img" v-bind:alt="card.title">
                            <div class="title">{{card.title}}</div>
                            <div class="mission-content">
                                <div v-bind:class="card.mission_content.classList" >{{card.mission_content.period}}小時</div>
                                <div v-bind:class="card.mission_content.classList" >{{card.mission_content.people}}人幫助</div>
                            </div>
                            <div class="mission-price">
                                <h2>挑戰價格 <span>$ {{card.mission_content.price}}</span></h2>
                            </div>
                            <div class="soldout" v-if="card.soldout">
                                <h1><span></span>挑戰結束<span></span></h1>
                            </div>
                            <a v-bind:href="card.link" v-bind:alt="card.title"></a>
                        </div>
                    </div>
                    <!-- Add Arrows -->                    
                    <div class="left-arrow" ></div>
                    <div class="right-arrow"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>            
            <!-- 活動一覽 -->
            <div class="product-list">
                <div class="product-list-title">
                    快來看看可以辦什麼活動...
                </div>
                <div class="product-list-wrapper">
                    <div class="product-card" v-for="card in product_list">
                        <div class="img">
                            <img v-bind:src="card.img" v-bind:alt="card.title">
                        </div>
                        <div class="title">{{card.title}}</div>
                        <div class="price">最低挑戰價格 <span>${{card.lowest}}</span></div>
                        <div class="origin">原價 ${{card.original}}</div>
                        <a v-bind:href="card.link" v-bind:alt="card.title"></a>
                        <div class="soldout" v-if="card.soldout">
                            <h1><span></span>挑戰結束<span></span></h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 活動說明 -->
            <a name="story" />
            <div id="event-story" class="event-story">
                <h3>活動辦法</h3>
                <p><span class="bold">活動時間:</span>@string.Format("{0:yyyy\\/MM\\/dd} ~ {1:yyyy\\/MM\\/dd}", Model.Campaign.StartTime, Model.Campaign.EndTime)</p>
                <img src="/tools/game/img/master_preview.jpg">
                <h4>團主須知</h4>
                <ul>
                    <li>每樣優惠商品各難度關卡僅可於活動期間內挑戰一次。</li>
                    <li>依據砍價關卡難易度，邀請指定好友並於時限內完成即達成任務。</li>
                    <li>完成砍價任務後內需於48小時完成結帳，否則將取消優惠資格。</li>
                    <li>主辦單位17Life有權決定取消、終止、修改或暫停本活動。</li>                    
                </ul>
                <img src="/tools/game/img/guest_preview.jpg?v=2">
                <h4>應援團注意事項</h4>
                <ul>
                    <li>活動贈送之紅利金將於48小時內失效，不可轉移、轉販售使用。</li>
                    <li>每日紅利金採限額制，每帳號限領取一次，發完為止。</li>
                    <li>主辦單位17Life有權決定取消、終止、修改或暫停本活動。</li>
                </ul>
                <h4>活動注意事項</h4>
                <ol>
                    <li>商品圖片僅供參考，並以實物為準，詳細說明請參考商品明細頁。</li>
                    <li>本活動中優惠商品不適用折價券。</li>
                    <li>參加者同意接受本活動規範，如有違反，17Life得取消其參加或得獎資格
                        ，並得就所延伸之損害向參加者請求賠償。</li>
                    <li>本活動有不可抗力特殊原因無法執行時，主辦單位17Life有權決定取消、
                        終止、修改或暫停本活動。</li>                    
                </ol>
            </div>
        </div>

        <div class="follower">
            <div class="to-top" onclick="scrollToTop()">
                <div class="button"></div>
                <div class="shadow"></div>
            </div>
            <div class="to-main">
                <a class="button" href="@LunchKingSite.BizLogic.Facade.GameFacade.GetCurrentCampaignUrl(Url)"></a>
                <div class="shadow"></div>
            </div>
        </div>
    </div>

@section scripts {
<script type="text/javascript">
    
    var products = {
        product_list: [],
        recommand_list: []
    };

    var model = JSON.parse(@Html.SerializeJson(Model));

    for (var i in model.ActivitiyViews) {
        var activity = model.ActivitiyViews[i];
        var item = {
            title: activity.Title,
            img: activity.Image,
            original: activity.HigestOriginalPrice,
            lowest: activity.LowestPrice,
            link: '@Url.Action("startGame")' + '?guid=' + activity.Guid,
            soldout: activity.RunOut
        };
        products.product_list.push(item);
    }

    for (var i in model.TopGames) {
        var topGame = model.TopGames[i];
        var item = {
            title: topGame.Title,
            img: topGame.Image,
            link: '@Url.Action("startGame")' + '?guid=' + topGame.Guid,
            mission_content: {
                price: topGame.Price,
                period: topGame.RuleHours,
                people: topGame.RulePeople,
                classList: {
                    "mission-tag": true,
                    easy: false,
                    medium: false,
                    hard: false
                }
            },
            soldout: topGame.RunOut
        };
        if (topGame.RuleLevel == 1) {
            item.mission_content.classList.easy = true;
        } else if (topGame.RuleLevel == 2) {
            item.mission_content.classList.medium = true;
        } else if (topGame.RuleLevel == 3) {
            item.mission_content.classList.hard = true;
        }
        products.recommand_list.push(item);
    }

    var intro_banner = {
        title: model.Campaign.Title,
        img: model.Campaign.Image
    };

    var intro_banner = new Vue({
        el: "#intro-banner",
        data: {
            intro_banner: intro_banner
        }
    })

    // 上資料函式
    var app = new Vue({
        el: "#index-page",
        data: {
            recommand_list: products.recommand_list,
            product_list: products.product_list,
        },
        methods: {
            gotoMyGames: function () {
                location.href = '@Url.Action("MyGames")';
            }
        }
    });

    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        spaceBetween: 15,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

</script>
}
