﻿@using LunchKingSite.Core.Models.GameEntities
@using LunchKingSite.Core.Enumeration

@model LunchKingSite.WebLib.Models.Game.StartGameModel
@{
    this.Layout = "_Layout.cshtml";
}
<div class="container">
    @Html.Partial("_NavBar")
    <div class="master-view-choose content-container">
        <form method="post" action="@Url.Action("createGame")"> 
        <div id="event-product">
            <div class="img">
                <img v-bind:src="product_info.mission_product.img">
                <a v-bind:href="product_info.mission_product.link" target="_blank"></a>
            </div>
            <h2>{{product_info.mission_product.title}}</h2>
            <h3>{{product_info.mission_product.subTitle}}</h3>
            <div class="detail-link"><a target="_blank" v-bind:href="product_info.mission_product.link">商品明細</a></div>
            <input type="hidden" id="activityGuid" name="activityGuid" v-model="product_info.mission_product.guid" />
            <input type="hidden" id="level" name="level" />
        </div>
        <div class="mission-selections">
            <h3>挑戰難度</h3>
            <svg width="20" height="20">
                <polygon points="0 0,20 0,10 14" style="fill:#E23838;" />
            </svg>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="card in product_info.mission_content" v-once>
                        <input type="hidden" class="level" name="level" v-model="card.level" />
                        <div class="title" v-bind:attr="card.difficulty">{{card.difficulty}}</div>
                        <div class="condition-wrapper mission-content">
                            <div v-bind:class="card.classList">{{card.period}}小時</div>
                            <div v-bind:class="card.classList">{{card.people}}人幫助</div>
                        </div>
                        <h2>原價 ${{card.original_price}}</h2>
                        <h2>挑戰價 <span>${{card.price}}</span></h2>
                        <div class="soldout" v-if="card.soldout">
                            <h1><span></span>任務額滿<span></span></h1>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="left-arrow"></div>
                <div class="right-arrow"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <!-- CTA Button -->
            <div id="btnStart" class="cta-wrapper cta-wrapper-large" v-if="playable">
                <div class="cta cta-wide cta-color-red" style="margin-top: 1.4rem;">
                    <span>開始活動 !</span>
                </div>
                <div class="cta-bottom"></div>
            </div>
            <div class="cta-wrapper cta-wrapper-large" v-if="playable == false">
                <div class="cta cta-wide cta-color-gray" style="margin-top: 1.4rem;">
                    <span>您已達到限購數量</span>
                </div>
                <div class="cta-bottom"></div>
            </div>  
        </form>
    </div>

</div>

@section scripts {
    <!-- 資料擺放區 -->
    <script type="text/javascript">
        var difficultyNames = [];
        difficultyNames.push('');
        difficultyNames.push('簡單');
        difficultyNames.push('普通');
        difficultyNames.push('困難');
        //開團端任務選擇 資料放置
        var product_info = {
            mission_product: {
                title: "",
                subTitle: "",
                img: "",
                guid: '',
                link: ''
            },
            //難度放置區 由簡而難
            mission_content: [
                // Easy
                {
                    level: 1,
                    difficulty: "簡單",
                    original_price: '',
                    price: '',
                    period: '',
                    people: '',
                    classList: {
                        "mission-tag": true,
                        easy: true,
                        medium: false,
                        hard: false
                    },
                    soldout: false
                }
            ]
        }
        // 上資料函式 Vue       
       
        var model = JSON.parse(@Html.SerializeJson(Model));
        product_info.mission_content = [];
        for (var i in model.Games) {
            var game = model.Games[i];
            var content = {
                level: game.RuleLevel,
                difficulty: difficultyNames[game.RuleLevel],
                original_price: game.OriginalPrice,
                price: game.Price,
                soldout: game.RunOut,
                period: game.RuleHours,
                people: game.RulePeople,
                classList: {
                    "mission-tag": true,
                    easy: false,
                    medium: false,
                    hard: false
                }
            };
            
            if (content.level == 1) {
                content.classList.easy = true;
            } else if (content.level == 2) {
                content.classList.medium = true;
            } else if (content.level == 3) {
                content.classList.hard = true;
            }
            
            product_info.mission_content.push(content);
        }
        product_info.mission_product.title = model.Activity.Title;
        product_info.mission_product.subTitle = model.Activity.SubTitle;
        product_info.mission_product.img = model.Activity.Image2;
        product_info.mission_product.guid = model.Activity.Guid;
        product_info.mission_product.link = model.DetailUrl;

        var playableChecks = model.PlayableChecks;

        // 任務選擇頁面
        var app = new Vue({
            el: ".master-view-choose",
            data: {
                product_info: product_info,
                playableChecks: playableChecks,
                playable: true
            },
            methods: {
            },
        })

        $(document).ready(function () {
            // 捲動區
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 'auto',
                spaceBetween: 15,
                centeredSlides: true,
                initialSlide: 1,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                on: {
                    slideChange: function () {
                        var runout = app.product_info.mission_content[this.activeIndex].soldout;
                        if (runout) {
                            $('#btnStart div').removeClass('cta-color-red');
                        } else {
                            $('#btnStart div').addClass('cta-color-red');
                        }
                        app.playable = app.playableChecks[this.activeIndex];
                    },
                }
            });

            window.sending = false;
            $('#btnStart').click(function () {
                if ($('#btnStart div').is('.cta-color-red') == false) {
                    return;
                }
                if (window.sending) {
                    return;
                }
                window.sending = true;
                window.setTimeout(function () {
                    window.sending = false;
                }, 3000);
                $('#level').val($('.swiper-slide-active').find('.level').val());
                $('form').submit();
            });

            $('.swiper-wrapper').find('.swiper-slide').click(function () {
                var idx = $(this).index();
                swiper.slideTo(idx)
            })
        });
    </script>
}
