﻿@using LunchKingSite.DataOrm;
@{
    ViewBag.Title = "CategoryDealList";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}
<style>
    #tabs-4 p{
        margin-top:5px;
        margin-left:5px;
        margin-bottom:5px;
        font-size:15px;
    }
    .deallistinfo{
        text-align:center;
        font-weight:bold;
        line-height:10px;
    }
    .subdeallistinfo{
        text-align:center;
        font-size:13px;
        line-height:40px;
    }

    .dealtable{
        width:100%;
        font-size:12px;
        border-collapse:collapse;
    }
    .dealtable td{
        height:30px;
        text-align:center;
        border:1px solid #797979;
    }
    .dealtable thead tr{
        background-color:#666666;
        color:#FFF;
    }
    .dealtable tbody tr td a{
        color:blue;
        cursor: pointer;
    }
    .dealtable tbody tr.dealexist{
        background-color:#FFFFFF;
    }
    .dealtable tbody tr.dealadd{
        background-color:#FFCCCC;
    }

    .deallistbutton{
        text-align:center;
    }
    .deallistbutton input[type="button"]#categoryDealSavebtn{
        margin-top:15px;
        width:90px;
        height:30px;
        background-color:#FFC887;
        color:#333333;
        font-size:13px;
        font-weight:bold;
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    .deallistbutton input[type="button"]#categoryDealUndobtn{
        margin-top:15px;
        width:90px;
        height:30px;
        background-color:#666666;
        color:white;
        font-size:13px;
        font-weight:bold;
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
</style>
<div id="tabs" style="display: none; width: 1000px;">
    <ul class="tabMenu">
        <li><a id="AddRegionTab" href="#tabs-1">新增地區分類</a></li>
        <li><a id="ManagerRegionTab" href="#tabs-2">地區分類管理</a></li>
        <li><a id="AddCategoryTab" href="#tabs-3">新增頻道分類</a></li>
        <li><a id="ManagerCategoryTab" href="#tabs-4">頻道分類管理</a></li>
    </ul>

    <div id="tabs-1">
    </div>

    <div id="tabs-2">
    </div>

    <div id="tabs-3">
    </div>

    <div id="tabs-4">
        <h3>頻道分類管理 > 設定檔次 > 匯入資料確認</h3>
        <hr />
        <p>
            頻道：@ViewBag.channelTitle</br>
            分類：@ViewBag.categoryTitle@ViewBag.subcategoryTitle
        </p>
        <hr />
        <div class="deallistinfo">
            <span>請確認匯入資料正確</span>
            @if (ViewBag.inputCount > 0)
            {<span>，輸入共 <b>@ViewBag.inputCount </b> 筆</span>}
            <span>，實際匯入 <b>@ViewBag.addCount </b> 筆</span>
            @if (ViewBag.removeCount > 0)
            {<span>，移除 <b>@ViewBag.removeCount</b> 筆</span>}
</div>
        <div class="subdeallistinfo">
            請再次確認上方【頻道】、【分類】以及下方的【檔次】是否皆正確，再進行匯入！
        </div>
        <table class="dealtable">
            <thead>
                <tr>
                    <td>店家名稱</td>
                    <td>檔次名稱</td>
                    <td>BID</td>
                </tr>
            </thead>
            <tbody>
@if (TempData["categoryDealAddList"] != null)
{
    foreach (ViewCategoryDealList categorydealadd in TempData["categoryDealAddList"] as ViewCategoryDealListCollection)
    {
        <tr class="dealadd">
            <td>
                @if (categorydealadd.Outdate == 1)
                    { <text>★</text>}@categorydealadd.SellerName
                </td>
                <td>@categorydealadd.ItemName</td>
                <td><a href="@Url.Content(string.Format("/{0}", categorydealadd.Bid))" target="_blank">@categorydealadd.Bid</a></td>
            </tr>
    }
}
@if (TempData["categoryDealExistList"] != null)
{
    foreach (ViewCategoryDealList categorydealexist in TempData["categoryDealExistList"] as ViewCategoryDealListCollection)
    {
        <tr class="dealexist">
            <td>
                @if (categorydealexist.Outdate == 1)
                    { <text>★</text>}@categorydealexist.SellerName
                </td>
                <td>@categorydealexist.ItemName</td>
                <td><a href="@Url.Content(string.Format("/{0}", categorydealexist.Bid))" target="_blank">@categorydealexist.Bid</a></td>
            </tr>
    }
}
            </tbody>
        </table>
        <div class="deallistbutton">
            <input type="button" id="categoryDealSavebtn" value="確定檔次" />
            <input type="button" id="categoryDealUndobtn" value="修改檔次" />
        </div>
    </div>

</div>

@section SSC{
    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-ui-css-styler.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
    <script type="text/javascript">
        $(function(){
            $('#tabs').tabs();
            $('#tabs').show();
            $('#tabs').tabs("select", 3);

            $('#AddRegionTab').click(function () {
                window.location = '@Url.Action("AddRegion")';
            });
            $('#ManagerRegionTab').click(function () {
                window.location = '@Url.Action("ManagerRegion")';
            });
            $('#AddCategoryTab').click(function () {
                window.location = '@Url.Action("AddCategory")';
            });

            $('#categoryDealSavebtn').click(function () {
                var categoryDealAddCount = @ViewBag.addCount;
                var categoryDealRemoveCount = @ViewBag.removeCount;
                if (categoryDealAddCount !=0 || categoryDealRemoveCount != 0){
                    saveDeals();
                }else{
                    alert("沒有異動，按確定返回頻道分類管理頁。");
                }
                window.location = "ManagerCategory";
            });
            $('#categoryDealUndobtn').click(function () {
                window.location = '@Html.Raw(Url.Action("CategoryDealSet", new { chid = Request["chid"], caid = Request["caid"], subid = Request["subid"], dateS = Request["dateS"], dateE = Request["dateE"] }))';
            });
        });

        function saveDeals() {
            $.ajax({
                url: "SaveAllDeal",
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ chid: '@Request["chid"]', caid: '@Request["caid"]', subid:'@Request["subid"]' }),
                success: function (data) {
                    alert(data.Message);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        }
    </script>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8.13.custom.css")' />
}