﻿@using LunchKingSite.WebLib.Models.Category
@model ManagerRegionModel
@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<div id="tabs" style="display: none; width: 1000px;">
    <ul class="tabMenu">
        <li><a id="AddRegionTab" href="#tabs-1">新增地區分類</a></li>
        <li><a id="ManagerRegionTab" href="#tabs-2">地區分類管理</a></li>
        <li><a id="AddCategoryTab" href="#tabs-3">新增頻道分類</a></li>
        <li><a id="ManagerCategoryTab" href="#tabs-4">頻道分類管理</a></li>

    </ul>

    <div id="tabs-1">
    </div>

    <div id="tabs-2">
        <h3>地區分類管理</h3>
        <hr />
            <table class="bodyText">
                <tbody>
                    <tr>
                        <td width="10px"></td>
                        <td style="width: 140px;">分類：</td>
                        <td>
                            美食、玩美‧休閒
                        </td>
                    </tr>
                    <tr>
                        <td width="10px"></td>
                        <td style="width: 140px;">區域：</td>
                        <td>
                            <select name="selChannel" id="selChannel">
                                @*<option value="台北">台北</option>*@
                                @foreach (var channel in Model.ChannelCategoryList)
                                {
                                    foreach (var item in channel)
                                    {
                                    <option value="@item.Key">@item.Value</option>        
                                    }
                                }

                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <table id="region_special_results" class="jtable hoverable highlightable" style="width: 100%;text-align: center;">
                <thead>
                    <tr >
                        <th style="width: 80%" colspan="3">商圈‧景點</th>
                    </tr>
                    <tr>
                        <th style="width: 30%">項目</th>
                        <th style="width: 30%">排序</th>
                        <th style="width: 20%">功能</th>
                    </tr>
                </thead>
                <tbody id="specialRegionArea">
                       @foreach (var specialRegion in Model.SpecialRegionList)
                       {
                           <tr>
                               
                               <td>
                                   <input type="hidden" name="tbRegionId" id ="tbRegionId_@specialRegion.SpecialRegionId" value="@specialRegion.SpecialRegionId"  />
                                   <input type="text" name="tbRegionName" id ="tbRegionName_@specialRegion.SpecialRegionId" value="@specialRegion.SpecialRegionName"  />
                               </td>
                               <td><input type="text" name="tbRegionIndex" id ="tbRegionIndex_@specialRegion.SpecialRegionId" value="@specialRegion.Seq"  /></td>
                               <td><input type="button"  value="刪除" onclick="deleteRegion(@specialRegion.SpecialRegionId);" /></td>
                           </tr>
                       }
                </tbody>
            </table>
            <br />
            <table id="region_standard_results" class="jtable hoverable highlightable" style="width: 100%;text-align: center;">
                <thead>
                    <tr >
                        <th style="width: 80%" colspan="3">行政區</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="standardRegionArea" style="text-align: left;">
                       @foreach (var city in Model.CityRegionList)
                       {
                           <input type="checkbox" name="arealist" id="arealist_@city.CityId" value="@city.CityId" @if (city.IsSelected){<text>checked="checked"</text>} /><label for="arealist_@city.CityId">@city.CityName</label>
                           var index = Model.CityRegionList.IndexOf(city) + 1;
                           if ( index%6 == 0 )
                           {
                               <br />
                           }
                       }                            
                        </td>
                    </tr>
                    <tr>
                       <td>
                           <input type="button"  value="存檔" onclick="saveRegionSetting();" />
                       </td>
                   </tr>
                </tbody>
            </table>
        <hr />
            <table class="bodyText">
                <tbody>
                    <tr>
                        <td width="10px"></td>
                        <td style="width: 140px;">分類：</td>
                        <td>
                            旅遊
                        </td>
                    </tr>
                    <tr>
                        <td width="10px"></td>
                        <td style="width: 140px;">區域：</td>
                        <td>
                            <select name="selTravelChannel" id="selTravelChannel">
                                @foreach (var channel in Model.TravelChannelCategoryList)
                                {
                                    foreach (var item in channel)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <table id="travel_region_special_results" class="jtable hoverable highlightable" style="width: 100%;text-align: center;">
                <thead>
                    <tr>
                        <th style="width: 80%" colspan="3">商圈‧景點</th>
                    </tr>
                    <tr>
                        <th style="width: 30%">項目</th>
                        <th style="width: 30%">排序</th>
                        <th style="width: 20%">功能</th>
                    </tr>
                </thead>
                <tbody id="travelSpecialRegionArea">                    
                </tbody>
            </table>
    </div>

    <div id="tabs-3">
    </div>

    <div id="tabs-4">
    </div>

</div>



@section SSC{
    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-1.6.2.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-ui-css-styler.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabs').tabs();
            $('#tabs').show();
            $('#tabs').tabs("select", 1);

            $('#AddRegionTab').click(function () {
                window.location = '@Url.Action("AddRegion")';
            });
            //$('#ManagerRegionTab').click(function () {
            //    window.location = '@Url.Action("ManagerRegion")';
            //});
            $('#AddCategoryTab').click(function () {
                window.location = '@Url.Action("AddCategory")';
            });
            $('#ManagerCategoryTab').click(function () {
                window.location = '@Url.Action("ManagerCategory")';
            });

            $('#selChannel').change(function () {
                var obj = $('#selChannel').val().split(',');
                var channel = obj[0];
                var region = obj[1];
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangeChannelRegion")",
                    data: "{channelId:" + channel
                        + ",regionId:" + region
                        + "}",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        //var result = $.parseJSON(data.Object);
                        if (data.Success) {
                            $('#specialRegionArea').html("");
                            $.each(data.SpecialNodes, function (index, json) {
                                //$('#specialRegionArea').html($('#specialRegionArea').html() + '<input type="checkbox" name="arealist" id="arealist_' + json.Key + '" value="' + json.Key + '" /><label for="arealist_' + json.Key + '">' + json.Value + '</label>&nbsp;');
                                $('#specialRegionArea').html($('#specialRegionArea').html()
                                    + '<tr>'
                                    + '<td class="ui-widget-content" style="font-weight: normal;"><input type="hidden" name="tbRegionId" id ="tbRegionId_' + json.SpecialRegionId + '" value="' + json.SpecialRegionId + '"  />'
                                    + '<input type="text" name="tbRegionName" id ="tbRegionName_' + json.SpecialRegionId + '" value="' + json.SpecialRegionName + '" /></td>'
                                    + '<td class="ui-widget-content" style="font-weight: normal;"><input type="text" name="tbRegionIndex" id ="tbRegionIndex_' + json.SpecialRegionId + '" value="' + json.Seq + '"  /></td>'
                                    + '<td class="ui-widget-content" style="font-weight: normal;"><input type="button"  value="刪除" onclick="deleteRegion(' + json.SpecialRegionId + ');" /></td>'
                                    + '</tr>'
                                );
                            });

                            $('#standardRegionArea').html("");
                            $.each(data.Nodes, function (index, json) {
                                $('#standardRegionArea').html($('#standardRegionArea').html()
                                    + '<input type="checkbox" name="arealist" id="arealist_' + json.CityId + '" value="' + json.CityId + '" ' + (json.IsSelected ? 'checked="checked"' : '') + ' />'
                                    + '<label for="arealist_' + json.CityId + '">' + json.CityName + '</label>&nbsp;');
                                if ((index + 1) % 6 == 0) {
                                    $('#standardRegionArea').html($('#standardRegionArea').html() + '<br />');
                                }
                            });


                        } else {
                            alert('查無行政區域');
                            $('input[name="categorytype"]:radio').val(1);
                        }
                    }
                });
            });

            //下半部區塊預設載入台北旅遊商圈景點
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetTravelRegion", new { regionId = 101 })",
                dataType: "html",
                success: function (data) {
                    $('#travelSpecialRegionArea').html(data);
                }
            });

            $('#selTravelChannel').change(function () {
                var obj = $('#selTravelChannel').val().split(',');
                var travelRegion = obj[1];

                $.ajax({
                    type: "GET",
                    url: "/ControlRoom/Category/GetTravelRegion?regionId=" + travelRegion,
                    dataType: "html",
                    success: function (data) {
                        if (data.trim() != '') {
                            $('#travelSpecialRegionArea').html(data);
                        } else {
                            $('#travelSpecialRegionArea').html('<tr><td colspan="3" align="center"><font color="red">查無旅遊商圈‧景點</font></td></tr>');
                        }
                    },
                    failure: function () {
                        $('#travelSpecialRegionArea').html('<tr><td colspan="3" align="center"><font color="red">查無旅遊商圈‧景點</font></td></tr>');
                    }
                });
            });
        });

        function deleteRegion(categoryId) {
            var array = $('#selChannel').val().split(",");
            var regionid = array[0];
            var areaid = array[1];
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteSpecialRegion")",
                data: "{regionId:" + regionid
                    + ",areaId:" + areaid
                    + ",categoryId:" + categoryId
                    //+ ",newRegionName:'" + $('#txtNewRegionName').val() + "'"
                    //+ ",standardRegionList:[" + selectedValues + "]"
                    + "}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //var result = $.parseJSON(data.Object);
                    if (data.Success) {
                        alert(data.Message);
                        $('#selChannel').change();
                    } else {
                        alert(data.Message);
                    }
                }
            });
        }

        function saveRegionSetting() {
            var array = $('#selChannel').val().split(",");
            var regionid = array[0];
            var areaid = array[1];

            var specialRegionList = [];

            $('#specialRegionArea tr').each(function () {
                specialRegionList.push("'" + $(this).find('input[name=tbRegionId]').val()
                                           + "," + $(this).find('input[name=tbRegionName]').val()
                                           + "," + $(this).find('input[name=tbRegionIndex]').val() + "'");
            });

            var selectedValues = [];
            $('input[name="arealist"]:checked').each(function () {
                selectedValues.push("'" + $(this).val() + "'");
            });

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateRegionSetting")",
                data: "{regionId:" + regionid
                    + ",areaId:" + areaid
                    //+ ",categoryId:" + categoryId
                    //+ ",newRegionName:'" + $('#txtNewRegionName').val() + "'"
                    + ",specialRegionList:[" + specialRegionList + "]"
                    + ",cityList:[" + selectedValues + "]"
                    + "}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //var result = $.parseJSON(data.Object);
                    if (data.Success) {
                        alert(data.Message);
                        $('#selChannel').change();
                    } else {
                        alert(data.Message);
                    }
                }
            });

        }

        function deleteTravelRegion(parentid, sonid) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteTravelSpecialRegion")",
                data: "{parentid:" + parentid
                    + ",sonid:" + sonid
                    + "}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message);
                        $('#selTravelChannel').change();
                    } else {
                        alert(data.Message);
                    }
                }
            });
        }

        function saveTravelRegionSetting() {
            var parentList = [];
            var sonList = [];

            $('#travelSpecialRegionArea tr').each(function () {
                if ($(this).find('input[name=tbTravelRegionParentId]').val() != undefined) {
                    parentList.push("'" + $(this).find('input[name=tbTravelRegionParentId]').val() + "'");
                    sonList.push("'" + $(this).find('input[name=tbTravelRegionSonId]').val()
                                     + "," + $(this).find('input[name=tbTravelRegionName]').val()
                                     + "," + $(this).find('input[name=tbTravelRegionIndex]').val() + "'");
                }
            });

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateTravelRegionSetting")",
                data: "{parentList:[" + parentList + "]"
                    + ",sonList:[" + sonList + "]"
                    + "}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //var result = $.parseJSON(data.Object);
                    if (data.Success) {
                        alert(data.Message);
                        $('#selTravelChannel').change();
                    } else {
                        alert(data.Message);
                    }
                }
            });
        }
    </script>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8.13.custom.css")'/>

}