﻿@using LunchKingSite.WebLib.Models.Category
@model ManagerCategoryModel
@{
    ViewBag.Title = "ManagerCategory";
    Layout = "~/Views/Shared/BackendLayout.cshtml";

    List<DealCategoryItem> CategoryItems = ViewBag.CategoryItems as List<DealCategoryItem>;
    int? channelId =ViewBag.channelId;
}
<style>
    .list-group {
        padding-left: 0;
        margin-bottom: 20px;
    }
    ul, menu, dir {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
    .list-group-item:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .list-group-item>.badge,.list-group-item>.badge_child {
        float: right;
    }
    .list-group-item>.ppondealset{
        float:right;
    }
    .ppondealset, .ppondealset a{
        padding-right:30px;
        font-size: 13px;
        color: #169BD5;
        padding: 2px 20px;
        cursor:pointer;
    }
    .badge,.badge_child {
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #777;
        border-radius: 10px;
    }
    .multiDeals{
        background-color:#f8ea9a;
    }
</style>
<div id="tabs" style="display: none; width: 1000px;">
    <ul class="tabMenu">
        <li><a id="AddRegionTab" href="#tabs-1">新增地區分類</a></li>
        <li><a id="ManagerRegionTab" href="#tabs-2">地區分類管理</a></li>
        <li><a id="AddCategoryTab" href="#tabs-3">新增頻道分類</a></li>
        <li><a id="ManagerCategoryTab" href="#tabs-4">頻道分類管理</a></li>
    </ul>

    <div id="tabs-1">
    </div>

    <div id="tabs-2">
    </div>

    <div id="tabs-3">
    </div>

    <div id="tabs-4">
        <h3>頻道分類管理</h3>
        <hr />
        <form id="SearchCategoryFrom" method="POST" action="@Url.Action("ManagerCategory")">
        <table class="bodyText" style="width:100%">
            <tbody>
                <tr>
                    <td width="10px"></td>
                    <td style="width: 140px;">頻道：</td>
                    <td>
                        <select name="selChannel" id="selChannel">
                            @*<option value="台北">台北</option>*@
                            @foreach (var channel in Model.ChannelCategoryList)
                            {
                                string selected = "";
                                if(channelId != null){
                                    if ((channelId ?? 0).ToString() == channel.Key)
                                    {
                                        selected = "selected";    
                                    }                                    
                                }
                                <option value="@channel.Key" @selected>@channel.Value</option>
                            }

                        </select>
                    </td>
                    <td>
                        <input id="btnSearchCategory" type="button" value="查詢頻道分類" onclick="changeChannel();" />
                        &nbsp;&nbsp;
                        <input id="btnSortCategory" type="submit" value="設定排序" onclick="sortCategory();" />
                       </td> 
                    <td style="text-align:right">
                        &nbsp;&nbsp;
                        <input id="btnRefresh" type="button" value="更新系統快取" onclick="refreshCategory();" />                        
                        <span>約1分鍾</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <table id="plCategoryList" style="display: none;">
            <tr>
                <td style="text-align: left; font-weight: bold; font-size: 13px; font-family: Arial">可增加分類 </td>
                <td></td>
                <td style="text-align: left; font-weight: bold; font-size: 13px; font-family: Arial">已增加分類 </td>
            </tr>
            <tr>
                <td>
                    <input id="txtCategoryLeftSearch" type="text" style="width: 280px;" name="txtCategoryLeftSearch">
                    <input id="btnCategoryLeftSearch" type="image" style="border-width: 0px;" src="../../Themes/default/images/17Life/B5/b_search.jpg" name="btnCategoryLeftSearch" onclick="searchCategory(); return false;">
                </td>
                <td></td>
                <td style="font-size: small" rowspan="2">
                    <select id="listRight" style="height: 300px; width: 300px;" multiple="multiple"></select>
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-weight: bold; font-size: 13px; font-family: Arial">
                    <select id="listLeft" style="height: 265px; width: 300px;" multiple="multiple"></select>
                </td>
                <td align="center">
                    <input id="btnCategoryMoveRight" type="button" value="＞" name="btnCategoryMoveRight" onclick="moveCategoryRight()" />
                    <br />
                    <input id="btnCategoryMoveLeft" type="button" value="＜" name="btnCategoryMoveLeft" onclick="moveCategoryLeft()" />
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;">
                    <input id="btnSaveCategory" type="button" name="btnSaveCategory" value="儲存" onclick="saveCategoryList();" />
                </td>
            </tr>
        </table>


            <input type="hidden" id="channelId" name="channelId" value="" />
            <input type="hidden" id="IsSubShow" name="IsSubShow" value="" />

        </form>
        <br />
        @*<table id="plSortCategoryList" class="jtable hoverable highlightable" style="width: 100%; text-align: center; display: none;">
            <thead>
                <tr>
                    <th style="width: 100%">項目</th>
                </tr>
            </thead>
            <tbody id="sortCategoryListArea">
                <tr>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
            <tr>
                <td colspan="2" class="ui-widget-content" style="font-weight: normal; text-align: center;">
                    <input type="button" id="btnSortSave" name="btnSortSave" value="儲存" onclick="saveSortCategory();" />
                </td>
            </tr>
        </table>*@

        <ul id="plSortCategoryList" class="list-group mainlist">
            @if (channelId != null)
            {
                var parents = CategoryItems.Where(x => x.ParentId == channelId);
                foreach (DealCategoryItem dci in parents)
                {
                    var dcis = CategoryItems.Where(x => x.ParentId == dci.CategoryId).ToList();
                    string _extendCss = "";

                    if (dcis.Count > 0)
                    {
                        //_extendCss = "hasItems multiDeals";
                        _extendCss = "hasItems";
                    }

                    <li id="list_@(dci.ParentId)_@(dci.CategoryId)" class="list-group-item root_item @_extendCss" >
                        <span id="sortCategoryName">@dci.CategoryName</span>
                        <span class="badge">@dci.CategorySeq</span>
                        @if (dcis.Count > 0)
                        {
                        <span class="ppondealset"></span>
                        }
                        else
                        {
                        <span class="ppondealset"><a onclick="categoryDealSet(@channelId, @dci.CategoryId, '');">設定檔次</a></span>
                        }
                        <span id="sortParentId" style="display:none">@dci.ParentId</span>
                        <span id="sortCategoryId" style="display:none">@dci.CategoryId</span>
                        @if (dcis.Count > 0)
                        {
                            <ul id="plSortCategoryList_@dci.CategoryId" class="sublist">
                                @foreach (DealCategoryItem dcc in dcis)
                                {
                                    @Html.Raw(setSubItems(CategoryItems, dcc, dci.CategoryId, channelId))
                                }
                            </ul>
                        }

                    </li>
                }
            }
        </ul>
        <input type="button" id="btnSortSave" name="btnSortSave" value="儲存" onclick="saveSortCategory();" />
    </div>

</div>




@functions
{
    public string setSubItems(List<DealCategoryItem> CategoryItems, DealCategoryItem value, int key, int? channelId)
    {
        var _html = "<li class='list-group-item child_item' style='background-color:#fbf7cd'><span id='sortCategoryName'>" + value.ConsoleName + "</span>"
                + "<span class='badge_child'>" + value.CategorySeq + "</span>"
                + "<span class='ppondealset'><a onclick='categoryDealSet("+channelId +","+ value.ParentId + ","+ value.CategoryId +");'>設定檔次</a></span>"
                 + "<span id='sortParentId' style='display:none'>" + value.ParentId + "</span>"
                + "<span id='sortCategoryId' style='display:none'>" + value.CategoryId + "</span>"
                + "</li>";
        return _html;
    }
}

@section SSC{
    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-ui-css-styler.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui.1.8.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabs').tabs();
            $('#tabs').show();
            $('#tabs').tabs("select", 3);

            $('#AddRegionTab').click(function () {
                window.location = '@Url.Action("AddRegion")';
            });
            $('#ManagerRegionTab').click(function () {
                window.location = '@Url.Action("ManagerRegion")';
            });
            $('#AddCategoryTab').click(function () {
                window.location = '@Url.Action("AddCategory")';
            });

            $('ul.mainlist').sortable({
                connectWith: 'ul.mainlist',
                beforeStop: function (ev, ui) {
                    if ($(ui.item).hasClass('hasItems') && $(ui.placeholder).parent()[0] != this) {
                        $(this).sortable('cancel');
                    }
                },
                stop: function (event, ui) {
                    //alert("New position: " + ui.item.index());
                    reSortRootIdx(ui);
                }
            });
            $('ul.sublist').sortable({
                connectWith: 'ul.sublist',
                beforeStop: function (ev, ui) {
                    if ($(ui.placeholder).parent()[0].id != this.id) {
                        $(this).sortable('cancel');
                    }
                },
                stop: function (event, ui) {
                    reSortChildIdx(ui);
                }
            });

            if ($("#plSortCategoryList li").size() == 0) {
                $("#btnSortSave").hide();
            } else {
                $("#btnSortSave").show();
            }
        });

        function reSortRootIdx(ui) {
            $.each($("#plSortCategoryList li.root_item"), function (idx, value) {
                var objOriIdx = $(this).find(".badge");
                objOriIdx.html(idx + 1);
            });
        }
        function reSortChildIdx(ui) {
            var ulid = ui.item.parent().attr("id");
            $.each($("#" + ulid + " li.child_item"), function (idx, value) {
                var objOriIdx = $(this).find(".badge_child");
                objOriIdx.html(idx + 1);
            });
        }

        function changeChannel() {
            $("#btnSortSave").hide();
            $('#plCategoryList').show();
            $('#plSortCategoryList').hide();
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeChannel")",
                data: "{channelId:" + $('#selChannel').val()
                    + ",IsSubShow:false"
                    + "}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.CategoryNodes) {
                        $('#listRight').find('option').remove().end();
                        $('#listLeft').find('option').remove().end();
                        $.each(data.CategoryNodes, function (index, json) {
                            if (json.ParentId == $('#selChannel').val()) {
                                $('#listRight').append('<option value="' + json.CategoryId + '">' + json.ConsoleName + '</option>');
                            } else {
                                $('#listRight').append('<option value="' + json.ParentId + ',' + json.CategoryId + '">' + json.ConsoleName + '</option>');
                            }
                        });
                    } else {
                    }
                    searchCategory();
                }
            });
        }

        function moveCategoryRight() {
            var selectedOption = $('#listLeft').find('option').filter(":selected");
            $('#listRight').append(selectedOption);
            $('#listLeft').find('option').filter(":selected").remove().end();

        }

        function moveCategoryLeft() {
            var selectedOption = $('#listRight').find('option').filter(":selected");
            $('#listLeft').append(selectedOption);
            $('#listRight').find('option').filter(":selected").remove().end();
        }

        function searchCategory() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SearchCategory")",
                data: "{channelId:" + $('#selChannel').val()
                    + ",searchStr:'" + $('#txtCategoryLeftSearch').val() + "'"
                    + "}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.CategoryNodes) {
                        $('#listLeft').find('option').remove().end();
                        $.each(data.CategoryNodes, function (index, json) {
                            if ($("#listRight option[value='" + json.ParentId + ',' + json.CategoryId + "']").length == 0 && $("#listRight option[value='" + json.CategoryId + "']").length == 0) {

                                if (json.ConsoleName.indexOf("->") > 0) {
                                    $('#listLeft').append('<option value="' + json.ParentId + ',' + json.CategoryId + '">' + json.ConsoleName + '</option>');
                                } else {
                                    $('#listLeft').append('<option value="' + json.CategoryId + '">' + json.ConsoleName + '</option>');
                                }

                            }
                        });
                    } else {
                    }
                }
            });
        }

        function sortCategory() {
            $("#channelId").val($('#selChannel').val());
            $("#IsSubShow").val("true");
            $("form").submit();
        }

        function saveSortCategory() {
            var selectedValues = [];
            $.each($("#plSortCategoryList li"), function (idx, value) {
                var parentid = $(this).find('span[id="sortParentId"]').html();
                var categoryid = $(this).find('span[id="sortCategoryId"]').html();
                var categoryName = $(this).find('span[id="sortCategoryName"]').html();                
                var categoryseq = "";
                if ($(this).hasClass("root_item")) {
                    categoryseq = $(this).find(".badge").html();
                } else {
                    categoryseq = $(this).find(".badge_child").html();
                }
                selectedValues.push("'" + parentid + "," + categoryid + "," + categoryseq + "'");
            });
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateCategorySort")",
                data: "{channelId:" + $('#selChannel').val()
                    + ",categoryList:[" + selectedValues + "]"
                    + "}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message);
                    } else {
                        alert(data.Message);
                    }
                    sortCategory();
                }
            });
        }

        function saveCategoryList() {
            var selectedValues = [];
            $('#listRight').find('option').each(function () {
                if ($(this).val().indexOf(",") > 0) {
                    //subCategory
                    selectedValues.push("'" + $(this).val() + "'");
                } else {
                    //mainCategory
                    selectedValues.push("'" + $('#selChannel').val() + "," + $(this).val() + "'");
                }
            });

            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveCategorySort")",
                data: "{channelId:" + $('#selChannel').val()
                    + ",categoryList:[" + selectedValues + "]"
                    + "}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message);
                    } else {
                        alert(data.Message);
                    }
                    changeChannel();
                }
            });
        }

        function categoryDealSet(chid, caid, subid) {
            var urlString = 'CategoryDealSet?chid='+chid+'&caid='+caid;
            if (subid != ""){
                urlString += '&subid='+subid;
            }
            setCookie('cd', "", -1);

            window.location = urlString;
        }

        function setCookie(c_name, value, exdays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
            document.cookie = c_name + "=" + c_value + "; path=/";
        }

        function refreshCategory() {
            $('#btnRefresh').attr('disabled', true).val('更新中.');
            $.ajax({
                type: "POST",
                url: "@Url.Action("RefreshCategory")",                
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.Success) {
                        alert(data.Message);
                    } else {
                        alert(data.Message);
                    }
                },
                complete: function() {
                    $('#btnRefresh').removeAttr('disabled').val('更新系統快取');
                }
            });
        }

    </script>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8.13.custom.css")' />

}