﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@model LunchKingSite.WebLib.Models.Ppon.Page24hChannelModel

@{
    ViewBag.Title = "24H到貨-17Life一起生活，省錢團購";
    Layout = "~/Views/Ppon/_PponLayout.cshtml";

    var config = ProviderFactory.Instance().GetConfig();
}
@section AdditionalMeta
{
    <title>@ViewBag.Title</title>
    <meta property="fb:app_id" content="@config.FacebookApplicationId">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="24H到貨" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:site_name" content="17Life" />
}

@section CSS {
    <link href="~/themes/PCweb/css/Rightside.css" rel="stylesheet" type="text/css" />
    @LunchKingSite.Core.Helper.RenderCss("/Themes/PCweb/css/ppon_item.min.css")
    <link href="~/themes/PCweb/css/RDL-L.css?v=1" rel="stylesheet" type="text/css" />
    <link href="~/themes/PCweb/css/RDL-M.css?v=1" rel="stylesheet" type="text/css" />
    <link href="~/themes/PCweb/css/RDL-S.css?v=1" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/content/css/new_swiper.min.css" type="text/css">
    <link href="/themes/PCweb/css/web_style.min.css?0.6" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>

    <style type="text/css">
        .fb_iframe_widget_lift {
            z-index: 10 !important;
        }

        .ui-corner-all {
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            border-radius: 0px;
        }

        .ui-widget-content, .ui-state-default, .ui-state-focus, .ui-state-hover, .ui-state-active, .ui-widget-content .ui-state-active {
            border: none;
            font-weight: normal;
        }
        /*m版寬度1001以下隱藏background image*/
        @@media screen and (max-width: 1001px) {
            #wrap {
                background: #f2f2f0 !important;
            }
        }

        @@media screen and (max-width: 480px) {
            .tc_small_content_area {
                width: 100%;
            }
            .product-shelf-2019 .card {
                width: 100%;
            }
            .product-shelf-2019 .card .content {
                width: 100%;
            }
        }

        .item_wrap_grid {
            margin-right: 10px;
        }

        #searchinfo {
            display: none;
            width: 1030px;
            float: left
        }

        .HKL_Button_back_to_top_command {
            margin-left: 1060px;
        }

        .product-shelf-2019 a:hover {
            cursor: pointer;
            text-decoration: none;
        }


        /*new style 2019*/
        .activity-top-block {
            display: none;
        }

        .slide-bn-block {
            display: none;
        }

        .tags {
            display: flex;
        }

        .tag-fast {
            order: 0;
        }

        .tag-discount {
            order: 1;
        }

        .tag-hotsale {
            order: 2;
        }

        .product-shelf-2019 .card .content .title {
            min-height: 48px;
        }

        .product-shelf-2019 .item_collect a.on {
            color: #bf0000;
        }

        body {
            overflow-y: scroll;
        }

        #app {
            min-height: 600px;
        }

        .tc_small_content_area {
            width: 1060px;
        }

        #divCenter {
            width: 1060px;
            position: relative;
            top: -32px;
        }

        .main-view-2019 #main-view-swiper-bg .swiper-slide img {
            height: 450px !important;
        }

        @@media screen and (min-width: 400px) and (max-width: 960px) {
            #divCenter {
                top: 0px !important;
            }
        }

        @@media screen and (min-width: 400px) and (max-width: 960px) {
            .center {
                margin-top: 0px !important;
            }
        }

        @@media screen and (max-width: 960px) {
            .main-view-2019 #main-view-swiper-bg {
                display: none !important;
            }

            .header_wrap {
                margin-bottom: 0px !important;
            }

            #navi {
                display: none !important;
            }
        }

        @@media screen and (min-width: 400px) and (max-width: 1279px) {
            .tc_small_content_area {
                width: 100%;
            }

            #divCenter {
                width: 100%;
                position: relative;
            }

            .center {
                width: 100%;
            }

            .p3footer .footer_content {
                width: 100% !important;
                margin: 0 auto;
            }
        }
    </style>
}

@section SSC {
    <script src="~/Themes/PCweb/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/Themes/PCweb/plugin/jquery.mousewheel.min.js" type="text/javascript"></script>
    <script src="~/Themes/PCweb/plugin/jquery.kinetic.min.js" type="text/javascript"></script>
    <script src="~/Themes/PCweb/plugin/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Themes/PCweb/plugin/overlay-channel/modernizr.custom.js"></script>
    <script type="text/javascript" src="/Themes/PCweb/plugin/TouchSlide.1.1.source.js"></script>
    <script type="text/javascript" src="/Themes/mobile/js/script.js"></script>
    <script type="text/javascript" src="/Tools/js/jquery.nav.js"></script>
    <script type="text/javascript" src="/Tools/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/Tools/js/vue.min.js"></script>
    <script type="text/javascript" src="/Tools/js/ppon/pponMemberCollect.js"></script>
    <script type="text/javascript" src="/content/js/new_swiper.min.js"></script>

}


    <div id="app" class="center">
        <div id="divCategory">
            <div class="NaviCityW so-awesome">
                <div class="NaviCitySort">
                    <div class="NaviCitySortRank clearfix">
                        <ul id="CategoryUl" class="clearfix floatleft">
                            <template v-for="(node, index) in categoryNodes">
                                <li v-bind:class="{ 'sub-arrow' : node.hasSub, 'on' : node.isOn}"
                                    v-on:click="selectNode(node, true, true);">
                                    <a href="javascript:void(0)" target="">
                                        {{ node.title }}
                                    </a>
                                    <div v-if="node.isHot" class="sortrank-hot"></div>
                                    <div v-if="node.isNew" class="sortrank-new"></div>
                                </li>
                            </template>
                        </ul>

                        <template v-for="(node, index) in categoryNodes">
                            <ul class="sub-classify" v-bind:class="{ 'hidden' : !node.isOn || node.subNodes.length == 0}">
                                <template v-for="subNode in node.subNodes">
                                    <li v-bind:class="{ 'on' : subNode.isOn }"
                                        v-on:click="selectNode(subNode, true, true);">
                                        <a href="javascript:void(0)">{{subNode.title}}</a>
                                    </li>
                                </template>
                            </ul>
                        </template>

                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
        <div id="btnBackTop" class="HKL_Button_back_to_top_command" style="display: none; cursor: pointer;" title="返回頂部"></div>
        <div class="tc_small_content_area block-background">
            <img id="loading" src="https://www.17life.com/Themes/OWriteOff/loading.gif" style="margin: 0px auto; display: none;" alt="">
            <div class="item_search_result_wrap">
                <div id="product-shelf" class="product-shelf-2019">
                    <template v-for="(deal, index) in deals">
                        <div class="card col-lg-4 col-md-4 col-sm-4">
                            <a v-bind:href="deal.url" target="_blank">
                                <div class="img-container">
                                    <img v-bind:src="deal.sqImg" v-bind:alt="deal.imgAlt" width="220">
                                    <div v-if="deal.soldOut" class="item_soldout_480">
                                        <img src="/Themes/PCweb/images/soldout_bar_267.png">
                                    </div>
                                    <img v-if="deal.categories.indexOf(3000)!=-1" class="flag-24h" src="/themes/PCweb/images/24h_cover_flag.svg" alt="" />
                                </div>
                                <div class="content">
                                    <h1 class="title">{{deal.title}}</h1>
                                    <div v-if="deal.discountPrice" class="value no-coupon active">
                                        <h2>${{deal.discountPrice}}<span>起</span></h2>
                                    </div>
                                    <div v-else="deal.discountPrice" class="value no-coupon active">
                                        <h2>${{deal.price}}<span>起</span></h2>
                                    </div>
                                    <div class="bottom-row">
                                        <div class="tags">
                                            <template v-for="icon in deal.icons">
                                                <div v-if="icon.style==4" class="tag tag-fast" style="display:flex; order:0">
                                                    <img src="content/img/web_19/badge_24h.png" alt="24H到貨">
                                                </div>
                                                <div v-if="icon.style==11" class="tag tag-discount" style="display:flex; order:1">
                                                    <img src="content/img/web_19/badge_discount.png" alt="折價券">
                                                </div>
                                                <div v-if="icon.style==5" class="tag tag-hotsale" style="display:flex; order:2">
                                                    <img src="content/img/web_19/badge_hotsale.png" alt="熱銷商品">
                                                </div>
                                            </template>
                                        </div>
                                        <div class="item_collect" v-bind:data-bid="deal.id">
                                            <a href="javascript:void(0)" v-bind:class="{ 'on' : deal.inCollect}">
                                                <i class="fa" v-bind:class="{'fa-heart-o': !deal.inCollect, 'fa-heart': deal.inCollect}" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <div class="clear">
        </div>

        <script>
            _bw('track', 'PageView', {
                page_type: 'CategoryPage',
                categories: ['100401']
            });
        </script>
    </div>

@section contentBanner {
    <!-- 大圖輪播區 -->
    <div id="contentBanner" class="main-view-2019" v-if="banners.length > 0">
        <div id="main-view-swiper" class="swiper-container">
            <div class="swiper-wrapper">
                <template v-for="banner in banners">
                    <div class="swiper-slide">
                        <a v-bind:href="banner.url">
                            <img v-bind:src="banner.img" alt="">
                        </a>
                    </div>
                </template>
            </div>
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Left & Right Arrows -->
            <div id="main-view-next" class="swiper-button-next swiper-button-white"></div>
            <div id="main-view-prev" class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div id="main-view-swiper-bg" class="swiper-container">
            <div class="swiper-wrapper">
                <template v-for="banner in banners">
                    <div class="swiper-slide">
                        <a v-bind:href="banner.url">
                            <img v-bind:src="banner.bg" alt="">
                        </a>
                    </div>
                </template>
            </div>
        </div>
    </div>
}

@section footerScripts {

    <script type="text/javascript">
        var contentBanner = new Vue({
            el: "#contentBanner",
            data: {
                banners: [
                ]
            },
            updated: function () {

                window.main_view_swiper_2 = new Swiper('#main-view-swiper-bg', {
                    spaceBetween: 30,
                    effect: 'fade',
                    loop: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    navigation: {
                        nextEl: '#main-view-next',
                        prevEl: '#main-view-prev',
                    },
                });

                window.main_view_swiper = new Swiper('#main-view-swiper', {
                    spaceBetween: 30,
                    effect: 'fade',
                    loop: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    autoplay: {
                        delay: 4000,
                        disableOnInteraction: false,
                    },
                    navigation: {
                        nextEl: '#main-view-next',
                        prevEl: '#main-view-prev',
                    },
                    on: {
                        init: function () {
                            console.log('swiper initialized');
                        },
                        slideNextTransitionStart: function () {
                            main_view_swiper_2.slideTo(this.activeIndex);
                        },
                        slidePrevTransitionStart: function () {
                            main_view_swiper_2.slideTo(this.activeIndex);
                        }
                    }
                })
            }
        });
        contentBanner.banners = JSON.parse(@Html.SerializeJson(Model.ContentBanners));


        var app = new Vue({
            el: "#app",
            data: {
                channelId: 3000,
                categoryNodes: [],
                deals: []
            },
            methods: {
                selectNode: function (theNode, loadDeals, appendHistory) {

                    this.setNodeOn(theNode);

                    var filterCids = this.getFilter();
                    //console.log('cids: ' + filterCids.join(','));
                    if (appendHistory) {
                        window.history.pushState("", "", "?cid=" + filterCids.join(','));
                    }
                    if (loadDeals) {
                        this.getDeals(filterCids, true, function (res) {
                            window.renderDeals(res);
                        });
                    }
                },
                setNodeOn: function (theNode) {
                    //console.log('setNodeOn: ' + theNode.title + ',' + theNode.id);
                    for (var i in app.categoryNodes) {
                        var node = app.categoryNodes[i];
                        node.isOn = false;
                        for (var j in node.subNodes) {
                            node.subNodes[j].isOn = false;
                        }
                    }
                    if (theNode.parent == null) {
                        var nodes = this.findNodes(theNode.id);
                        for (var k in nodes) {
                            nodes[k].isOn = true;
                        }
                    }
                    else {
                        theNode.parent.isOn = true;
                        theNode.isOn = true;
                    }

                },
                findNodes: function (cid) {
                    var result = [];
                    for (var i in this.categoryNodes) {
                        var node = this.categoryNodes[i];
                        if (node.id == cid) {
                            result.push(node);
                        }
                        for (j in node.subNodes) {
                            var subNode = node.subNodes[j];
                            if (subNode.id == cid) {
                                result.push(subNode);
                            }
                        }
                    }
                    return result;
                },
                findNode: function (cid) {
                    var result = this.findNodes(cid);
                    if (result.length > 0) {
                        return result[0];
                    }
                },
                getFilter: function () {
                    var result = [];
                    for (var i in this.categoryNodes) {
                        var node = this.categoryNodes[i];
                        if (node.isOn) {
                            result.push(node.id);
                            for (j in node.subNodes) {
                                var subNode = node.subNodes[j];
                                if (subNode.isOn) {
                                    result = [];
                                    result.push(subNode.id);
                                }
                            }
                        }
                    }
                    return result;
                },
                getDeals: function (filterCids, reset, callback) {
                    if (reset) {
                        dataStart = 0;
                        app.deals = [];
                    } else {
                        //dataStart = $('.item_wrap').length;
                        dataStart = $('#product-shelf .card').length;
                    }

                    var model = { cids: filterCids, dataStart: dataStart };
                    console.log('model:' + JSON.stringify(model));
                    $.ajax({
                        url: '@Url.Action("GetArrival24hDeals")',
                        type: 'POST',
                        data: JSON.stringify({ "model": model }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (res) {
                            //console.log('res:' + JSON.stringify(res));
                            callback.call(this, res);

                            if (res.completed) {
                                window.scrollLoadingEnabled = false;
                            } else {
                                window.scrollLoadingEnabled = true;
                            }
                            window.scrollLoading = false;
                        },
                        error: function (err) {
                            window.scrollLoading = false;
                        }
                    });
                }
            }
        });

        window.renderDeals = function (res) {
            for (var i in res.deals || []) {
                var item = res.deals[i];
                app.deals.push(
                    {
                        id: item.id,
                        title: item.title,
                        subTitle: item.subTitle,
                        img: item.img,
                        imgAlt: item.imgAlt,
                        sqImg: item.sqImg,
                        url: item.url,
                        soldOut: item.soldOut,
                        promoImg: item.promoImg,
                        salesVolume: item.salesVolume,
                        origPrice: item.origPrice,
                        price: item.price,
                        discountPrice: item.discountPrice,
                        priceTail: item.priceTail,
                        discount: item.discount,
                        icons: item.icons,
                        categories: item.categories || [],
                        rating: {
                            show: item.show,
                            number: item.number,
                            score: item.score
                        },
                        inCollect: item.inCollect
                    }
                );
            }
        };
        window.nodeViews = JSON.parse(@Html.SerializeJson(Model.NodeViews));
        app.categoryNodes = window.nodeViews;
        if (app.categoryNodes.length > 0) {
            //rebuilad parent relationship
            for (i in app.categoryNodes) {
                var node = app.categoryNodes[i];
                for (j in node.subNodes) {
                    var subNode = node.subNodes[j];
                    subNode.parent = node;
                }
            }
            var initCid = @Html.Raw("'" + (Request["cid"] ?? "") + "';")
            var node = app.findNode(initCid);
            if (node == null) {
                 node = app.findNode(88);
            }
            app.selectNode(node, true);

        }

        window.scrollLoadingEnabled = false;
        window.scrollLoading = false;
        $(window).scroll(function () {
            //var totalDeals = $('.item_wrap').length;
            var totalDeals = $('#product-shelf .card').length;
            if (totalDeals < 6) {
                return;
            }
            if (window.scrollLoadingEnabled && window.scrollLoading == false) {
                //var elm = $('.item_wrap').eq(totalDeals - 9);
                var elm = $('#product-shelf .card').eq(totalDeals - 9);
                var boundary = elm.offset().top;
                if ($(window).scrollTop() + $(window).height() >= boundary) {
                    window.scrollLoading = true;

                    app.getDeals([], false, function (res) {
                        window.renderDeals(res);
                    });
                }
            }
        });





    </script>

}