﻿@using System.Collections.ObjectModel
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.Mobile
@using LunchKingSite.BizLogic.Facade
@{
    HeadMeta meta = new HeadMeta();
    string metaDescription = ViewBag.MetaDescription != null ? ViewBag.MetaDescription : meta.Description;
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    string pageTitle = ViewBag.PageTitle as string;

    ReadOnlyCollection<MenuChannel> menuChannels = ViewBag.MenuChannels as ReadOnlyCollection<MenuChannel>;
    int? cid = ViewBag.cid as int?;
    ViewBag.EventHtml = PromotionFacade.GetNowEventHKLIconHtml();
    ViewBag.UserName = User.Identity.Name.ToLower();
    int eventActivityId;    
    string fullCoverHtml;
    int openTarget;
    bool showEventActivity = EventFacade.TryGetEventActivityToShow(
        false, Request.Cookies["EventEmailCookie"], out eventActivityId, out fullCoverHtml, out openTarget);    
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="@metaDescription" />
    <meta name="keywords" content="@meta.Keywords" />
    <meta name="copyright" content="@meta.Copyright" />
    <meta property="fb:app_id" content="@meta.FbAppId" />
    <meta name="apple-itunes-app" content="app-id=@meta.iOSAppId" />
    <meta name="google-play-app" content="app-id=@meta.AndroidAppId" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    @RenderSection("meta", false)

    <title>@Html.Raw(pageTitle == null, config.DefaultTitle, pageTitle)</title>
    <link rel="apple-touch-icon-precomposed" href="~/Themes/mobile/images/apple_touch_144x144.jpg" />
    <link type="text/css" rel="stylesheet" href="~/Themes/mobile/css/swiper.css" />
    <link rel="stylesheet" href="~/Themes/mobile/css/appbn.css" type="text/css" />
    @LunchKingSite.Core.Helper.RenderCss("/Themes/mobile/css/style.css")
    <link type="text/css" rel="stylesheet" href="~/Themes/mobile/css/font-awesome-4.3.0/css/font-awesome.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Tools/js/TweenMax.min.js"></script>
    <script type="text/javascript" src="~/Themes/mobile/js/script.js?v=0.4"></script>
    <script type="text/javascript" src="~/Themes/mobile/js/jquery-sliding-menu.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
    <script type="text/javascript" async=async async=async src="https://www.googletagmanager.com/gtag/js?id=AW-1015907304"></script>
    <script type="text/javascript">
	!function (b, r, i, d, g, e, w, l) { if (b._bw) return; var a = b._bw = function () { a.callMethods ? a.callMethods.apply(a, arguments) : a.queue.push(arguments) }; a.queue = []; var j = r.createElement(i); j.async = !0; j.src = d; var d = r.getElementsByTagName(i)[0]; d.parentNode.insertBefore(j, d) }(window, document, 'script', 'https://img.scupio.com/js/pixel.js');
	@if(HttpContext.Current.User.Identity is PponIdentity) {
	@:_bw('init', '153', { ulid: '@((HttpContext.Current.User.Identity as PponIdentity).Id.ToString())' });
	} else {
	@:_bw('init', '153');
	}
    </script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'AW-1015907304');
        gtag('config', 'AW-807906577');
        gtag('config', 'AW-775610202');
    </script>
    @if (config.EnabledOneAD) {
        <!--_onead_pixel::start -->
        <script type="text/javascript">
       (function () {
            var s = document.createElement("script"), el =
                document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol === "https:" ? "https:" :
                "http:") + "//pixel.onead.com.tw/static/js/onead-pixel.min.js?_t=" +
                Math.floor((new Date).getTime() / 300000);
            el.parentNode.insertBefore(s, el);
        })();
        var onead_pixel = onead_pixel || [];
        onead_pixel.push({
            uid: 212691087,
            sessionid: "@Session.SessionID",
            accountid: "@(HttpContext.Current.User.Identity is PponIdentity ? (HttpContext.Current.User.Identity as PponIdentity).Id.ToString() : "")",
        });
        </script>
        <!--_onead_pixel::end -->
    }
    <script type="application/javascript">
        (function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'10000','properties':{'pixelId':'420546'}});var s=d.createElement(t);s.src=r;s.async=true;s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;w[u]=[];w[u].push=function(p){y([p])};y(c)}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");
    </script>
    <script type="text/javascript">
        //Google Tag Manager
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window, document, 'script', 'dataLayer', 'GTM-KWN4HC');
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGLKDBL');

        $(function () {
            window.eventActivityId = "@eventActivityId";
            window.eventActivityOpenTarget = "@openTarget";
            @Html.Raw(showEventActivity ? "window.showEventActivity = true;" : "window.showEventActivity = false;")
            function setEventVisible() {
                $(".HKL_Button_to_event_page").css('display', 'inline');
            }

            setEventVisible();
            if (showEventActivity) {
                $(".appbn_top").hide();
                $.blockUI({
                    message: $(".modals-container"),
                    css: {
                        border: 'none',
                        background: 'transparent', height: '0px', cursor: 'default',
                        top: '5%',
                        left: '5%',
                        width: '90%'
                    }
                });
            } else {
                $.unblockUI();
            }

            $(".modals-body img").ready(function () {
                window.showEventActivityTime = new Date();
            });

            $(".modals-btn-close").click(function () {
                OpenActivityEvent(false, window.eventActivityId, window.showEventActivityTime, true);
                $.unblockUI();
            });

            window.OpenActivityEvent = function (openEvent, eventActivityId, showEventActivityTime, mobileView) {
                if (eventActivityId == null) {
                    console.log('eventActivityId is null');
                    return;
                }
                var staySeconds = -1;
                if (showEventActivityTime != null) {
                    staySeconds = (new Date() - showEventActivityTime) / 1000;
                }
                var result = '';
                $.ajax({
                    type: "POST",
                    url: '/ppon/default.aspx/OpenActivityEvent',
                    data: JSON.stringify(
                        { 'eventActivityId': window.eventActivityId, 'openEvent': openEvent, 'staySeconds': staySeconds, 'mobileView': mobileView }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (msg) {
                        if (msg.d != '' && openEvent) {
                            result = msg.d;
                        }
                    }
                });
                return result;
            };

            $('#openNew').click(function () {
                $.unblockUI();
                var url = OpenActivityEvent(true, window.eventActivityId, window.showEventActivityTime, true);
                if (url != null && url != '') {
                    $(this).attr('href', url);
                    if (window.eventActivityOpenTarget == 1) {
                        $(this).attr('target', '_blank');
                    } else {
                        $(this).removeAttr('target');
                    }
                    return true;
                } else {
                    return false;
                }
            });

        });

        function gototop() {
            $('html, body').animate({
                scrollTop: 0
            }, 800);
            return false;
        }

    </script>
    <style type="text/css">
        .modals-body img {
            width: 100%;
        }

        .modals-btn-close {
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: silver;
            opacity: 0.8;
        }

        .modals-container {
            display: none;
            position: relative;
        }
    </style>
    @RenderSection("header")
</head>
<body>
    <noscript>
        <!-- Google Tag Manager-->
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KWN4HC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WGLKDBL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        <!-- Facebook Pixel Code -->
        <img height="0" width="0" style="display:none" src="https://www.facebook.com/tr?id=274288942924758&ev=PageView&noscript=1" />
    </noscript>
    <!--// app download banner(top) //-->
    <div class="appbn_top" style="display: none">
        <div class="btn_close"><a href="#"><i class="fa fa-close fa-fw black"></i></a></div>
        <div class="appbn_top_content">
            <a id="topappbn" href="@(Request.UserAgent != null ? Request.UserAgent.ToLower().Contains("android") ? (config.SiteUrl + "/Ppon/OpenApp.aspx") : (((Request.UserAgent.ToLower().Contains("iphone") || Request.UserAgent.ToLower().Contains("ipad") || Request.UserAgent.ToLower().Contains("ipod"))) ? "open17life://www.17life.com" : "#") : "#")" target="_blank" class="btn_appbn_link">
                <div class="appbn_icon"><img src="~/Themes/mobile/images/appbn_icon.png" /></div>
                <div class="appbn_text">
                    <p>17Life APP 一手掌握</p>
                    <p>吃喝玩樂最新優惠</p>
                </div>
                <div class="btn_dowmload">下載</div>
            </a>
        </div>
        <div class="appbn_top_bg"><img src="~/Themes/mobile/images/appbn_top_bg.jpg" /></div>
    </div>
    <!--// app download banner(top) //end-->
    <!-- 2016 1111 Event -->
    <input id="HfUserEmail" type="hidden" value="@ViewBag.UserName" />
    <input id="HfMobileBroswer" type="hidden" value="1" />
    @if (string.IsNullOrEmpty(fullCoverHtml) == false)
    {
        <div class="modals-container">
            <div class="modals-btn-close">
                <i class='fa  fa-close fa-2x'></i>
            </div>
            <div class="modals-body">
                <a id="openNew">
                @Html.Raw(fullCoverHtml)
                </a>
            </div>
        </div>
    }

    @Html.Partial("_Nav", new object[]
    {
        ViewBag.ChannelId as int?,
        ViewBag.MvcAction as string,
        ViewBag.MenuChannels as ReadOnlyCollection<MenuChannel>,
    })

    @Html.Raw(@ViewBag.EventHtml)
    <div id="btnBackTop" class="HKL_Button_back_to_top_command" style="display:none; cursor: pointer;" title="返回頂部"></div>
    @RenderBody()
    <!--// footer //-->
    <div class="footer_wrap">
        <a href="#" class="footer_logo">
            <img src="~/Themes/mobile/images/footer_150x80.png" />
        </a>
        <ul>
            <li>
                版權所有 ©
                <script language="javascript">var Today = new Date(); document.write(Today.getFullYear());</script> 康太數位整合股份有限公司
            </li>
            <li>Taiwan (R.O.C) 104 台北市中山北路一段11號13樓</li>
            <li><a href="/Ppon/NewbieGuide.aspx"><i class="fa fa-headphones fa-lg fa-fw"></i> 客服中心</a></li>
        </ul>
    </div>
    @{
        Html.RenderAction("Paragraph", "Mobile", new { contentId = "headerscript" });
    }
    @RenderSection("footer", false)
</body>
</html>
