﻿@using System.Collections.ObjectModel
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.Mobile
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();

    int? cid = Model[0];
    string mvcAction = Model[1] as string;

    if (mvcAction != null)
    {
        mvcAction = mvcAction.ToLower();
    }
    bool openHeaderNav = mvcAction == "todaydeals" || mvcAction == "lastdeals" || mvcAction == "fastdeals" || mvcAction == "taishinapp";
    ReadOnlyCollection<MenuChannel> menuChannels = Model[2];
    string selectedTitle = "選擇頻道";
    if (mvcAction == "taishinapp")
    {

        var menuChannel = menuChannels.FirstOrDefault(t => t.CityId == cid && t.IsDeal);
        if (menuChannel == null)
        {
            menuChannel = menuChannels[0];
        }
        selectedTitle = menuChannel.Title;

        if (Request.Path.Contains("/m/" + @PponCityGroup.DefaultPponCityGroup.AllCountry.CityId + "/2234"))
        {
            menuChannel = menuChannels.Where(x => x.NaviId == "m_naviAppliances").FirstOrDefault();
            if (menuChannel != null)
            {
                selectedTitle = menuChannel.Title;
            }
        }

    }
    else if (mvcAction == "todaydeals")
    {
        var menuChannel = menuChannels.Where(x => x.NaviId == "m_navToday").FirstOrDefault();
        if (menuChannel != null)
        {
            selectedTitle = menuChannel.Title;
        }
    }
    else if (mvcAction == "lastdeals")
    {
        var menuChannel = menuChannels.Where(x => x.NaviId == "m_navLastDay").FirstOrDefault();
        if (menuChannel != null)
        {
            selectedTitle = menuChannel.Title;
        }
    }
    else if (mvcAction == "fastdeals")
    {
        var menuChannel = menuChannels.Where(x => x.NaviId == "m_navFastDeals").FirstOrDefault();
        if (menuChannel != null)
        {
            selectedTitle = menuChannel.Title;
        }
    }

    ViewBag.EventChannelHtml = PromotionFacade.GetNowEventChannelIconHtml();
    var allowChannels = new List<string> { "m_navIndex", "m_navDelivery", "m_navTravel", "m_navBeauty", "m_naviAppliances", "m_naviPiinLife", "m_navToday", "m_navLastDay", "m_navFastDeals" };
    var mhannels = menuChannels.Where(x => allowChannels.Contains(x.NaviId));
}
<div class="header_wrap header_wrap_normal @Html.Raw(openHeaderNav, "open_header_nav", "")">    
    <div class="nav" style="display:none">
        <ul>
            @foreach (MenuChannel channel in mhannels)
            {
                //harcode家電分類
                if (Request.Path.Contains("/m/" + @PponCityGroup.DefaultPponCityGroup.AllCountry.CityId + "/2234"))
                {
                    if (!channel.IsDeal && channel.CityId == null && channel.NaviId == "m_naviAppliances")
                    {
                        <li><a href="@channel.Url"><img src="@channel.Icon" /><span id="@channel.NaviId" class="on">@channel.Title</span></a></li>
                    }
                    else
                    {
                        <li><a href="@channel.Url"><img src="@channel.Icon" /><span id="@channel.NaviId">@channel.Title</span></a></li>
                    }
                }
                else
                {
                    if ((channel.IsDeal && cid == channel.CityId) && mvcAction == "index")
                    {
                        <li><a href="@channel.Url"><img src="@channel.Icon" /><span id="@channel.NaviId" class="on">@channel.Title</span></a></li>
                    }
                    else
                    {
                        <li><a href="@channel.Url"><img src="@channel.Icon" /><span id="@channel.NaviId">@channel.Title</span></a></li>
                    }
                }
            }
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var IsEventChannelOn = ("@ViewBag.EventChannelHtml" != "");
        if ($("input[id=channelAgent]").val() == '@((int)AgentChannel.TaiShinMall)') {
            if (IsEventChannelOn) {
                $('div.nav > ul').append("<li>@Html.Raw(@ViewBag.EventChannelHtml)</li>");
            }
            $('div.nav > ul').append('<li><a href="@config.TaishinNavUrl"><img src="@config.TaishinNavImgUrl"><span id="m_navEveryDayDiscount">@config.TaishinNavName</span></a></li>');
            $('div.nav > ul > li').css('width', '20%');
            $('div.nav > ul > li > a').eq(0).attr('href', '/m/TaishinApp');
        }
    });
</script>