﻿@using System.Collections.ObjectModel
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.Mobile
@{
    HeadMeta meta = new HeadMeta();
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    string pageTitle = ViewBag.PageTitle as string;

    ReadOnlyCollection<MenuChannel> menuChannels = ViewBag.MenuChannels as ReadOnlyCollection<MenuChannel>;
    int? cid = ViewBag.cid as int?;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="@meta.Description" />
    <meta name="keywords" content="@meta.Keywords" />
    <meta name="copyright" content="@meta.Copyright" />
    <meta property="fb:app_id" content="@meta.FbAppId" />
    <meta name="apple-itunes-app" content="app-id=@meta.iOSAppId" />
    <meta name="google-play-app" content="app-id=@meta.AndroidAppId" />
    <meta name="robots" content="noindex,nofollow,noarchive" />

    <title>@Html.Raw(pageTitle == null, config.DefaultTitle, pageTitle)</title>
    <link rel="apple-touch-icon-precomposed" href="~/Themes/mobile/images/apple_touch_144x144.jpg" />
    <link type="text/css" rel="stylesheet" href="~/Themes/mobile/css/swiper.css" />
    <link rel="stylesheet" href="~/Themes/mobile/css/appbn.css" type="text/css" />
    <link rel="stylesheet" href="~/Themes/mobile/css/style.css" type="text/css" />
    <link type="text/css" rel="stylesheet" href="~/Themes/mobile/css/font-awesome-4.3.0/css/font-awesome.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Tools/js/TweenMax.min.js"></script>
    <script type="text/javascript" src="~/Themes/mobile/js/script.js"></script>
    <script type="text/javascript" src="~/Themes/mobile/js/jquery-sliding-menu.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
    <style>
        /*台新商城App*/
        .nav {
            display: block;
            clear: both;
            font-size: 100%;
        }

            .nav li {
                float: left;
                width: 20%;
                height: 85px;
                text-align: center;
            }

                .nav li a {
                    height: 85px;
                    display: block;
                    background: #fff;
                    color: #666;
                    position: relative;
                }

                .nav li img {
                    display: block;
                    width: 45px;
                    height: 45px;
                    margin: 0px auto;
                    padding-top: 10px;
                }

                .nav li span {
                    text-align: center;
                    line-height: 1.3;
                    font-size: 80%;
                }

                    .nav li span.tag_channel {
                        line-height: 12px;
                        position: absolute;
                        top: 6px;
                        right: 5px;
                        font-size: 12px;
                        color: white;
                        background: #bf0000;
                        /*border-radius: 20px;*/
                        padding: 0;
                        padding: 2px 4px 2px 4px;
                        /*border:1px solid #fff;*/
                        box-shadow: 0px 1px 1px #650000;
                        /**/
                    }

                .nav li .over_black {
                    background: rgba(0, 0, 0, 0.6);
                    width: 100%;
                    height: 100%;
                    color: white;
                    font-size: 100%;
                    position: absolute;
                    top: 0;
                }

                    .nav li .over_black p {
                        margin-top: 20px;
                        line-height: 1.3;
                    }

                .nav li .on {
                    background: #ddd;
                    padding: 0px 5px;
                    border-radius: 20px;
                    color: #666;
                    color: #666;
                }

            .nav:after {
                content: '';
                display: block;
                clear: both;
            }

            .banner{
                /*padding-top: 10px;*/
            }

            .banner img{
                width: 100%!important;
                height: auto!important;
            }

            .swiper-container {
                width: 100% !important;
                height: auto !important;
            }
    </style>
    <script type="text/javascript">
	!function (b, r, i, d, g, e, w, l) { if (b._bw) return; var a = b._bw = function () { a.callMethods ? a.callMethods.apply(a, arguments) : a.queue.push(arguments) }; a.queue = []; var j = r.createElement(i); j.async = !0; j.src = d; var d = r.getElementsByTagName(i)[0]; d.parentNode.insertBefore(j, d) }(window, document, 'script', 'https://img.scupio.com/js/pixel.js');
	@if(HttpContext.Current.User.Identity is PponIdentity) {
	@:_bw('init', '153', { ulid: '@((HttpContext.Current.User.Identity as PponIdentity).Id.ToString())' });
	} else {
	@:_bw('init', '153');
	}
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.content').css('margin', '-11px auto');
            $('.header_logo').parent().hide();
            $('.member_img').find("img").error(function () {
                $(this).hide();
            });
        });
        function gototop() {
            $('html, body').animate({
                scrollTop: 0
            }, 800);
            return false;
        }

        function setCookie(name, value, exdays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + parseInt(exdays));
            value = escape(value) + ((exdays == null) ? '' : '; expires=' + exdate.toUTCString());
            document.cookie = name + '=' + value + '; path=/;';
        }

        function getCookie(name) {
            var i, x, y, ARRcookies = document.cookie.split(";");
            for (i = 0; i < ARRcookies.length; i++) {
                x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                x = x.replace(/^\s+|\s+$/g, "");
                if (x == name) {
                    return unescape(y);
                }
            }
            return null;
        }

        var delayFunction = function (mainFunc, option) {
            var delayTimer;
            option = option || {};
            if (!option.delay) {
                return mainFunc;
            } else {
                return function () {
                    var that = this;
                    var args = arguments;
                    if (delayTimer) clearTimeout(delayTimer);
                    delayTimer = setTimeout(function () {
                        mainFunc.apply(that, args);
                    }, option.delay);
                };
            }
        };

    </script>
    @RenderSection("header")
</head>
<body>
    <!-- Facebook Pixel Code -->
    <noscript>
        <img height="0" width="0" style="display:none"
             src="https://www.facebook.com/tr?id=274288942924758&ev=PageView&noscript=1" />
    </noscript>
    <!-- Google Tag Manager-->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KWN4HC"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KWN4HC');</script>
    <!-- End Google Tag Manager -->
    @if (ViewContext.RouteData.Values["action"].ToString().ToLower() != "member")
    {
        @Html.Partial("_TaishinBanner")
    }
    
    @if (ViewBag.MenuChannels != null)
    {
        @Html.Partial("~/Views/Mobile/_TaishinNav.cshtml", new object[]
        {
            ViewBag.CityId as int?,
            ViewBag.MvcAction as string,
            ViewBag.MenuChannels as ReadOnlyCollection<MenuChannel>
        })
    }
    <div id="btnBackTop" class="HKL_Button_back_to_top_command" style="display:none; cursor: pointer;" title="返回頂部"></div>
    <input type="hidden" id="channelAgent" name="channelAgent" value="@((int)AgentChannel.TaiShinMall)" />
    @RenderBody()
    <!--// footer //-->
    <div class="footer_wrap">
        <a href="#" class="footer_logo">
            <img src="~/Themes/mobile/images/footer_150x80.png" />
        </a>
        <ul>
            <li>版權所有 ©
            <script language="javascript"> var Today = new Date(); document.write(Today.getFullYear()); </script> 康太數位整合股份有限公司</li>
            <li>Taiwan (R.O.C) 104 台北市中山北路一段11號13樓</li>
            <li><a href="/Ppon/NewbieGuide.aspx"><i class="fa fa-headphones fa-lg fa-fw"></i> 客服中心</a></li>
        </ul>
    </div>
</body>
</html>
