﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.DataOrm
@using LunchKingSite.I18N
@using LunchKingSite.WebLib.Models.Mobile
@using LunchKingSite.WebLib.Views
@model MainDealModel
@{
    ViewBag.Title = "Deal";
    Layout = "~/Views/Mobile/_Site.cshtml";
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    string loginUrl = Helper.CombineUrl(config.SSLSiteUrl, "/m/login?returnUrl=" + HttpUtility.UrlEncode("/deal/" + Model.DealId));
    string cpaKeyParam = string.Empty;
    string cpaKeyValie = CookieManager.GetCpaKey();
    string ExpireRedirectDisplay = ViewBag.ExpireRedirectDisplay;
    string ExpireRedirectUrl = ViewBag.ExpireRedirectUrl;
    if (string.IsNullOrEmpty(cpaKeyValie) == false)
    {
        cpaKeyParam = "?cpaKey=" + cpaKeyValie;
    }
    string openAppUrl = string.Format("open17life://www.17life.com/deal/{0}{1}", Model.DealId, cpaKeyParam);

    //Top Banner
    string topBanner = string.Empty;
    string bannerfilePath = Helper.MapPath("~/Images/17P/active/coupon/number.jpg");
    FileInfo fiBanner = new FileInfo(bannerfilePath);
    if (fiBanner.Exists)
    {
        topBanner = Helper.CombineUrl(
            config.SSLSiteUrl,
            string.Format("/Images/17P/active/coupon/number.jpg?v={0}", fiBanner.LastWriteTime.Ticks));
    }
}

@section meta {
@Html.Raw(ViewBag.DealMetas)
@Html.Raw(ViewBag.CanonicalRel)
}

@section header{
    @*側展折價券用*@
    <link href='/Themes/default/images/17Life/G2/A3-event_coupons.css' rel="stylesheet" type="text/css" />
    @LunchKingSite.Core.Helper.RenderCss("/Themes/PCweb/css/ppon_item.min.css")
    <script type="application/ld+json">@Html.Raw(Model.MicroDataJson)</script>
    <script type="text/javascript">
        @Html.Raw(Model.ScupioDataJson)
    </script>
    <script type="text/javascript">
        @Html.Raw(Model.GtagDataJson)
    </script>
    <script type="application/javascript">
        @Html.Raw(Model.YahooTagJson)
    </script>
    <script type="text/javascript" src="/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>
    <style>
        .clear {
            clear: both;
        }
        .Equitylink {
            width: 635px;
            margin: 10px 15px 30px 15px;
        }
        .Equitylink a { font-size:14px; color:#08C; }
        .Equitylink ul { list-style: none; color: #08C; }
        .Equitylink ul li.rule {
            margin: 5px 0;
            padding-left: 25px;
            background: url(/Themes/PCweb/images/rule_shop_icon.png) 0 0 no-repeat;
        }
        .TimeCounter span {
            padding-left:2px;
        }
        div.description {
            line-height:24px !important;
        }
        .Equitylink {
            max-width:80% !important;
        }
        .btn_dontclick a {
            background: #999;
            color: white;
        }
        .MaiClBlue {
            font-size: 12px;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            color: #00F;
        }
        .MaiClBlue a { color: #00F; text-decoration: underline; font-weight: normal; }
        .MaiClRed {
            font-size: 12px;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            color: #F00;
        }
        .HKL_Button_back_to_top_command {
            bottom:80px;
        }
        .HKL_Button_to_event_page {
            visibility:hidden;
        }
        .thumbnail {
            position: relative;
            width: 150px;
            height: 150px;
            overflow: hidden;
        }
        .thumbnail img {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100% !important;
            width: auto !important;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            max-width: inherit !important;
        }
        .share_wrap .share_main ul {
            margin-bottom:0px;
        }

        .fb_btn {
            display: none !important;
        }
        #referral_FB_area {
            display: none !important;
        }
        .bn_share {
            display: none !important;
        }
        .m-fbBtn {
            display: none !important;
        }
        .content_detail .soldout_wrap .soldout_item ul li {
            vertical-align: top;
        }
        /* 用bpopup.js製作的彈窗 以及 其內UI Start */
        .btn-default {
            width: 100px;
            height: 20px;
            background: #ccc;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-size: medium;
        }

        .btn-warn {
            width: 100px;
            height: 20px;
            background: #bf0000;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-size: medium;
        }

        .bpopup-modal {
            /*彈窗預設為隱藏，直到jquery調用才顯示*/
            display: none;
            /*margin-left: 250px;*/
            width: calc(100vw - 575px);
            background: #fff;
        }

            .bpopup-modal .row {
                margin-bottom: 0;
            }

            .bpopup-modal.bpopup-modal-toast {
                width: 350px;
                color: #000;
                border-radius: 10px;
            }


                .bpopup-modal.bpopup-modal-toast .bpopup-modal-title {
                    text-align: left;
                    margin: 20px;
                    margin-top: 20px;
                    margin-bottom: 50px;
                    font-size: 18px;
                }

        .bpopup-modal-footer {
            margin-top: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
            text-align: center;
        }

        .bpopup-modal a {
            cursor: pointer;
        }

        /* 用bpopup.js製作的彈窗 以及 其內UI End */
    </style>
}

@section footer{
    <script type="text/javascript">
        //init variables
        window.businessHourGuid = '@Model.DealId';
        window.dealId = '@Model.DealId';
        window.dealName = '@Model.DealName';
        window.isAuthenticated = '@User.Identity.IsAuthenticated' === 'True';
        window.loginUrl = '@loginUrl';
        window.openAppUrl = '@openAppUrl';
        $("div.description img").css('height', 'auto');
    </script>
<script type="text/javascript">
    //e7data Code
    !function (w, d, e, v, q, t, s) {
        if (w.e7qq) return;
        q = w.e7qq = function () {
            q.queue.push(arguments[0]);
        }
        q.queue = [];
        t = d.createElement(e);
        t.async = !0;
        t.src = v;
        s = d.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
    }(window, document, 'script', '/tools/js/e7e7.js?0.2');
    e7qq(['view', "deal", '@Model.DealId', location.href, '@Request.UrlReferrer']);
</script>

    <script type="text/javascript" src="/tools/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/Themes/mobile/js/dealScript.js?v=2.1"></script>
    <script type="text/javascript" src="/Themes/mobile/js/swiper.min.js"></script>
    <script type="text/javascript" src="/Themes/mobile/js/jquery.bpopup.js"></script>
    <!-- Initialize Swiper -->
    <script type="text/javascript">
        var countdownTrigger = function() {
            var update = function() {
                var hasCounter = false;
                $('.TimeCounter').each(function() {
                    var countdown = $(this).attr('countdown');
                    if (countdown > 0) {
                        hasCounter = true;
                        var startTime = $(this).data('startTime');
                        if (startTime == null) {
                            var startTime = new Date().getTime();
                            $(this).data('startTime', startTime);
                        }
                        var tmp = countdown - (new Date().getTime() - startTime);
                        if (tmp < 0) {
                            tmp = 0;                            
                        }
                        var dd = Math.floor(tmp / 86400000);
                        tmp = tmp % 86400000;
                        var dh = Math.floor(tmp / 3600000);
                        tmp = tmp % 3600000;
                        var dm = Math.floor(tmp / 60000);
                        tmp = tmp % 60000;
                        var ds = Math.floor(tmp / 1000);
                        $(this).find('span').text(dd + '天' + dh + '時' + dm + '分' + ds + '秒');
                    } else {
                        $(this).find('span').text(countdown);
                    }
                });
                return hasCounter;
            };
            if (update()) {
                window.setTimeout(function() {            
                    countdownTrigger();
                }, 1000);
            }
        };
        countdownTrigger();

        $(document).ready(function () {
            var redirectUrl = '@ExpireRedirectUrl';
            if (redirectUrl.length > 0) {
                $.unblockUI();
                $('#bpopup-toast-message').bPopup({
                    modalClose: false,
                    onOpen: function () {
                        $('.bpopup-step_alert-confirm').on('click touchstart', function (e) {
                            location.href = redirectUrl;
                        });
                    }
                });
            }
        });

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                .exec(window.location.search);

            return (results !== null) ? results[1] || 0 : '';
        }

    </script>
}

<!--//***** 商品頁content *****//-->
<div class="content_detail" id="contentDetail">
            
<!--// 行銷bn //-->
@if (Model.IsSoldOut == false && string.IsNullOrEmpty(topBanner)==false && Model.MinGrossMargin >= config.DiscountCodeMinGrossMarginSet)
{
<div class="detail_bnTop">
    <img src="@topBanner" />
</div>
}
<!--// 行銷bn //end--> 

    <div id="bpopup-toast-message" class="card-panel bpopup-modal bpopup-modal-toast">
        <div class="row">
            <div class="col s12 bpopup-modal-title alert_message">
                @ExpireRedirectDisplay
            </div>
            <div class="col s12 center-align bpopup-modal-footer">
                <a class="waves-effect waves-light btn-warn b-close bpopup-step_alert-confirm">確定</a>
                <a class="waves-effect waves-light btn-default b-close">取消</a>
            </div>
        </div>
    </div>

@if (Model.IsSoldOut)
{
<!--// 售完推薦 //-->
<div class="soldout_wrap">
<p class="soldout_text">此商品已售完，請看看我們為你的推薦</p>
<div class="soldout_item clearfix">
    <ul>
        @foreach (MainSidebarDealModel item in Model.RelatedDeals)
        {
        <li>
            <a href="/deal/@item.DealId" title="@item.SubTitle">
                <img src="@item.Pic">
                <div class="soldout_title">
                    @item.DealName
                </div>
                <div class="soldout_price">
                    <span class="price_discount ">@item.DiscountString</span>
                    <span class="price_oriprice">@item.OrigPrice</span>
                    <span class="price_dealprice">@item.Price<span class="text_s">@item.PriceFromText</span></span>
                </div>
                @if (string.IsNullOrEmpty(item.DiscountPrice) == false)
                {
                <div class="soldout_discount">
                    <span class="text_discount">使用折價</span> 
                    <span class="text_big">
                        @item.DiscountPrice<span class="text_normal">@item.PriceFromText</span>
                    </span>
                </div>
                }
                else
                {
                <div class="soldout_discount" style="visibility:hidden">
                </div>
                }
            </a>
        </li>
        }
    </ul>
</div>
</div>
<!--// 售完推薦 //end-->
}
        
<!--// 商品基本資訊baseInfo_wrap //-->
<div class="detail_baseInfo_wrap">
    <div class="baseInfo_img">
        <img src="@Model.Pic">
        <p class="baseInfo_img_pLfet">@Model.Location</p>
        <p class="baseInfo_img_pRight">@Html.Raw(Model.BuyerString)</p>
        <div class="baseInfo_img_shadowBottom"></div>
        @if (Model.Categories != null && Model.Categories.Contains(ViewPponDealManager._24H_ARRIVAL_CATEGORY_ID))
        {
            <img class="flag-24h" src="/themes/PCweb/images/24h_cover_flag.svg" alt="" />
        }
    </div>
    <h3>@Model.DealName</h3>
    <p class="description">@Model.SubTitle</p>
    <div class="baseInfo_price">
        <span class="oriPrice">@Model.OrigPrice</span>
        <span class="discount">@Model.DiscountString</span> |
        @if (string.IsNullOrEmpty(@Model.DiscountPrice) == false)
        {
            <span class="dealPrice">@Model.Price</span>
        } else
        {
            <span class="dealPrice color_red">@Model.Price</span>
        }
        <span class="up">@Model.PriceFromText</span>

        @if (Model.RatingEnabled && Model.RatingPeople > 0) {
        <div class="rating">
            <span class="rating_count">@Model.RatingScore</span>
            <i class="fa fa-star" aria-hidden="true"></i>
            <span class="">(@(Model.RatingPeople)人)</span>
        </div>
        } else if (Model.RatingEnabled) {
            <div class="rating">
                <span class="">(評價資料不足)</span>
            </div>            
        }
    </div>
    @if (string.IsNullOrEmpty(@Model.DiscountPrice) == false)
    {
    <div class="discountInfo clearfix">
        <div class="dealDiscount">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
            <div class="discountText">結帳使用折價券</div>
            <span class="discountPrice color_red">$@Model.DiscountPrice</span>
            <span class="up">起</span>
        </div> 
    </div>
    }
    <div class="baseInfo_tag">
        @if (Model.IsGsaPrice)
        {
            <span>@Model.Countdown</span>
        }
        else
        {
            <span class="TimeCounter" countdown="@Model.Countdown"><i class="fa fa-clock-o"></i><span></span></span>
        }
        <ul class="info_tag">
        @if (Model.Skin.ShowDealTags)
        {
            @Html.Raw(Model.DealTagsHtml)
        }
        </ul>
    </div>
</div>
<!--// 商品基本資訊 //end-->
@if (string.IsNullOrEmpty(Model.SpecialNews) == false)
{
<div class="detail_specialNews">
    <p>
        @Html.Raw(Model.SpecialNews)
    </p>
</div>
}
<!--// 行銷bn //-->
<div class="detail_bnMiddle">
    <a id="bn_coupon" class="bn_coupon" style="display:none" href="javascript:void(0)"><img src="https://www.17life.com/images/17P/active/17sticker/bn_coupon.jpg"></a>
    <a class="bn_share" href="javascript:void(0)"><img src="https://www.17life.com/images/17P/active/17sticker/bn_share.jpg"></a>
</div>
<!--// 行銷bn //end-->

<!--// 商品內容 //-->
<div class="detail_main_wrap">
<nav class="detail_mainNav">
    <ul class="clearfix">
        <li><a href="javascript:void(0)" class="mainNav mainNav_1 active">詳細內容</a></li>
        <li><a href="javascript:void(0)" class="mainNav mainNav_2" >權益資訊</a></li>
        <li><a href="javascript:void(0)" class="mainNav mainNav_3" >相關商品</a></li> 
    </ul>
</nav>
<div class="detail_mainIntro">
<div class="tab_content description">
<div class="dealItem">
    <h5> 一姬說好康</h5>
    <p> 
        @Html.Raw(Model.Remark)
    </p>
</div>
<div id="detailDesc" class="dealItem">
    <h5>詳細介紹</h5>
    <!--↓↓↓↓↓編輯器內容↓↓↓↓↓-->
    @Html.Raw(Model.Description)
    <!--↑↑↑↑↑編輯器內容↑↑↑↑↑-->
</div>
@if (string.IsNullOrWhiteSpace(Model.ProductSpec)==false)
{
    <div class="dealItem">
        <h5>商品規格</h5>
        <p>
            @Html.Raw(Model.ProductSpec)
        </p>
    </div>
}
<!--宅配類方案-->
@if (Model.DealProductEntries != null && Model.DealProductEntries.Count > 0)
{
<div class="dealItem productEntry">
    <h5>方案選擇</h5>
    <ul class="dealList">
        @foreach (PponDealProductEntry entry in Model.DealProductEntries)
        {
            if (entry.IsExpiredDeal)
            {
                continue;
            }
        <li class="clearfix @Html.Raw(entry.IsSoldOut ? "soldout" : string.Empty)">
            <a href="@Html.Raw(entry.IsSoldOut ? "javascript:void(0)" : entry.BuyUrl)">
                <div class="listMain">
                    <div class="list_info">                        
                        <h4>
                            @Html.Raw(entry.IsEnableIsp ? "<span>可超商取貨</span>" : string.Empty)@entry.Title
                        </h4>
                        <span>@entry.Discount</span>
                        <span>原價<span class="oriPrice">@entry.OrigPrice</span></span>
                    </div>
                    <div class="list_price">
                        <div class="dealPrice">@entry.Price</div>
                        <div class="averagePrice">@entry.AveragePriceTag@entry.AveragePrice</div>
                    </div>
                    <div class="list_arrow">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </a>
        </li>
        }
    </ul>
</div>
}
<!--在地類方案-->
@if (Model.DealCouponEntries != null && Model.DealCouponEntries.Count > 0)
{
<div class="dealItem productEntry">
    <h5>方案選擇</h5>
    <ul class="dealList">
        @foreach (DealCouponEntry entry in Model.DealCouponEntries)
        {
            if (entry.IsExpiredDeal)
            {
                continue;
            }
        <li class="clearfix @Html.Raw(entry.IsSoldOut ? "soldout" : string.Empty)">
            <a href="@Html.Raw(entry.IsSoldOut ? "javascript:void(0)" : entry.BuyUrl)">
                <div class="listMain">
                    <div class="list_info">                        
                        <h4>@entry.DealName</h4>
                        <span>@entry.DiscountString</span>
                        <span>原價<span class="oriPrice">@entry.OrigPrice</span></span>
                    </div>
                    <div class="list_price">
                        <div class="dealPrice">@entry.Price</div>
                        <div class="averagePrice">@entry.PriceDesc</div>
                    </div>
                    <div class="list_arrow">
                        <i class="fa fa-angle-right"></i>
                    </div><br/>
                </div>
                @if (string.IsNullOrWhiteSpace(entry.SubTitle) == false)
                {
                <div class="listNote clearfix">
                    @Html.Raw(Helper.NewLineToBr(entry.SubTitle))
                </div>
                }
            </a>
        </li>
        }
    </ul>
</div>
}
@if (Model.KeywordTags != null || Model.KeywordTags.Count > 0)
{
<div class="dealItem">
    <h5>相關標籤</h5>
    <ul class="hottag clearfix">
    @foreach(string tag in Model.KeywordTags)
    {
        string url = "/ppon/pponsearch.aspx?search=" + HttpUtility.UrlEncode(tag);
        <li><a href="@url"># @tag</a></li>    
    }
    </ul>
</div>
}
</div>
<div class="tab_content explain">
    <div class="dealItem"> 
        <h5>權益說明</h5>
        @if (Model.RestrictionTags != null && Model.RestrictionTags.Count > 0)
        {
        <div class="explain_label_wrap">
        @foreach (var tag in Model.RestrictionTags)
        {
            <span class="explain_label">@tag</span>
        }
        </div>
        }
        <!--↓↓↓↓↓編輯器內容↓↓↓↓↓-->
        <p>
        @Html.Raw(Model.Restrictions)
        @if (Model.ShowEquitylink)
        {
        <div class="Equitylink">
            <ul>
                <li class="rule">
                    <a href="/newmember/privacypolicy.aspx#restrictions" title="(點此看詳細使用說明)" target="_blank">查看使用條款</a></li>
            </ul>
        </div>
        }
        </p>
        <!--↑↑↑↑↑編輯器內容↑↑↑↑↑-->
    </div>
    <!--只有在地類才有店家資訊-->
    @if (Model.DeliveryType == DeliveryType.ToShop)
    {
    <div class="dealItem">
        <h5>店家資訊</h5>
        <div class="overHeight shopAddress_wrap">
            <!--↓↓↓↓↓系統後台↓↓↓↓↓-->
            @foreach (var si in Model.StoreInfos)
            {
            <div id="AddressTitle">
                @si.N
            </div>
            <div id="Addressinner">
                <ul>
                    <li>@(Phrase.Phone): @si.P</li>
                    <li>@(Phrase.Address): @si.A
                        @if (si.HasLongLat)
                        {
                            string mapUrl = string.Format(
                                "https://maps.google.com.tw/maps?f=q&hl=zh-TW&z=16&t=m&iwloc=near&output=&q={0},{1}", si.Latitude, si.Longitude);
                            <a target="_blank" href="@mapUrl" class="btn_map btn_color">Map</a>
                        }
                        else
                        {
                            string mapUrl = string.Format(
                                "https://maps.google.com.tw/maps?f=q&hl=zh-TW&z=16&t=m&iwloc=near&output=&q={0}", si.A);
                            <a target="_blank" href="@mapUrl" class="btn_map btn_color">Map</a>
                        }
                    </li>
                    @if (string.IsNullOrEmpty(si.UT) == false)
                    {
                        <li>@(Phrase.UseTime): @si.UT</li>
                    }
                    else if(string.IsNullOrEmpty(si.OT) == false)
                    {
                        <li>@(Phrase.OpeningTime): @si.OT</li>
                    }
                    @if (string.IsNullOrEmpty(si.CD) == false)
                    {
                        <li>@(Phrase.CloseDate): @si.CD</li>
                    }

                    @if (string.IsNullOrEmpty(si.MR) == false)
                    {
                        <li>@(Phrase.Mrt): @si.MR</li>
                    }
                    @if (string.IsNullOrEmpty(si.CA) == false)
                    {
                        <li>@(Phrase.Car): @si.CA</li>
                    }
                    @if (string.IsNullOrEmpty(si.BU) == false)
                    {
                        <li>@(Phrase.Bus): @si.BU</li>
                    }
                    @if (string.IsNullOrEmpty(si.OV) == false)
                    {
                        <li>@(Phrase.OtherVehicle): @si.OV</li>
                    }

                    @if (string.IsNullOrEmpty(si.U) == false)
                    {
                        <li>@(Phrase.Link): <a href="@si.U" target="_blank">@si.U</a></li>
                    }
                    @if (string.IsNullOrEmpty(si.FB) == false)
                    {
                        <li>@(Phrase.FbFans): <a href="@si.FB" target="_blank">@si.FB</a></li>
                    }
                    @if (string.IsNullOrEmpty(si.BL) == false)
                    {
                        <li>@(Phrase.BlogFans): <a href="@si.BL" target="_blank">@si.BL</a></li>
                    }
                    @if (string.IsNullOrEmpty(si.OL) == false)
                    {
                        <li>@(Phrase.OtherFans): <a href="@si.OL" target="_blank">@si.OL</a></li>
                    }
                    @if (string.IsNullOrEmpty(si.R) == false)
                    {
                        <li>@si.R</li>
                    }
                </ul>     
            </div>
            }
            @if (Model.StoreInfos.Length > 1)
            {
            <!--↑↑↑↑↑編輯器內容↑↑↑↑↑-->
            <div class="overHeight_sliderBtn">
                <a href="javascript:void(0)" class="btn_line btn_normal">
                    <span>展開看詳細</span>
                    <i class="fa fa-angle-down fa-lg fa-fw"></i>
                    <i class="fa fa-angle-up fa-lg fa-fw" style="display: none;"></i>
                </a>
            </div>
            }
        </div>                        
    </div>
    }
</div>
<div class="tab_content related">
@if (Model.IsSoldOut == false && Model.RelatedDeals.Count > 0)
{
    <div class="dealItem">
        <h5>相關推薦</h5>
        <div class="alsoBuy clearfix">
            <ul>
                @foreach (MainSidebarDealModel item in Model.RelatedDeals)
                {
               
                    <li style="vertical-align: top">
                        <a href="/deal/@item.DealId" title="@item.SubTitle">
                            <img src="@item.Pic" alt="Image" />
                            <div class="soldout_title">
                                @item.DealName
                            </div>
                            <div class="soldout_price">
                                <span class="price_oriprice">$@item.OrigPrice</span>
                                <span class="price_discount ">@item.DiscountString | </span>
                                <span class="price_dealprice">@item.Price<span>@item.PriceFromText</span></span>
                            </div>
                            @if (string.IsNullOrEmpty(item.DiscountPrice) == false)
                            {
                                <div class="soldout_discount">
                                    <span class="text_discount">使用折價</span> 
                                    <span class="text_big">
                                        @item.DiscountPrice<span class="text_normal">@item.PriceFromText</span>
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="soldout_discount" style="visibility:hidden">
                                </div>
                            }
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>    
}
    @if (Model.IsSoldOut == false && Model.WatchOtherDeals.Count > 0)
    {
        <div class="dealItem">
            <h5>猜你喜歡</h5>
            <div class="alsoBuy clearfix">
                <ul>
                    @foreach (MainSidebarDealModel item in Model.WatchOtherDeals)
                    {
                        <li style="vertical-align: top">
                            <a href="/deal/@item.DealId" title="@item.SubTitle">
                                <div class="thumbnail">
                                    <img src="@item.Pic" alt="Image" />
                                </div>
                                <div class="soldout_title">
                                    @item.DealName
                                </div>
                                <div class="soldout_price">
                                    <span class="price_discount ">@item.DiscountString</span>
                                    <span class="price_oriprice">@item.OrigPrice</span>
                                    <span class="price_dealprice">@item.Price<span class="text_s">@item.PriceFromText</span></span>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }

@if (Model.IsSoldOut == false && Model.VisitedDeals.Count > 0)
{
<div class="dealItem">
    <h5>瀏覽足跡</h5>
    <div class="alsoBuy clearfix">
        <ul>
            @foreach (MainSidebarDealModel item in Model.VisitedDeals)
            {
                <li style="vertical-align: top">
                   <a href="/deal/@item.DealId" title="@item.SubTitle">
                        <img src="@item.Pic" alt="Image" />
                        <div class="soldout_title">
                            @item.DealName
                        </div>
                       <div class="soldout_price">
                           <span class="price_oriprice">$@item.OrigPrice</span>
                           <span class="price_discount ">@item.DiscountString | </span>
                           <span class="price_dealprice">@item.Price<span>@item.PriceFromText</span></span>
                       </div>
                       @if (string.IsNullOrEmpty(item.DiscountPrice) == false)
                       {
                           <div class="soldout_discount">
                               <span class="text_discount">使用折價</span> 
                               <span class="text_big">
                                   @item.DiscountPrice<span class="text_normal">@item.PriceFromText</span>
                               </span>
                           </div>
                       }
                       else
                       {
                           <div class="soldout_discount" style="visibility:hidden">
                           </div>
                       }
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
}
</div>
</div>
</div>
<!--// 商品內容 //end-->

<!--// 購買按鈕 //-->
<div class="buyAction_wrap fixedBuyAction">
    <ul class="clearfix">
        <li class="fav">
            <a href="javascript:void(0)">                       
                <p>
                    <i class="fa fa-heart fa-heart-o"></i>
                    <span class="text_fav">收藏</span>
                </p>
            </a>
        </li>
        @if (Model.Skin.ShowAppBuyButton)
        {
        <li class="buy_app" id="btnAppBuy" href="@openAppUrl">
            <a href="javascript:void(0)" class="btn_line clearfix">
                <p >
                    <span class="text_small">一手掌握最新優惠</span>
                    <span class="text_main">APP開啟</span>
                </p>
            </a>
        </li>
        }
        <li class="@Model.Skin.BuyButtonCss" buyUrl="@Html.Raw(Model.IsSoldOut ? "soldout" : Model.BuyUrl)">
            <a href="javascript:void(0)" class="btn_color @Html.Raw(Model.IsSoldOut ? "btn_dontclick" : string.Empty)"><!--如果售完，a的class請加上"btn_dontclick"-->
                <span class="text_main">@Html.Raw(Model.Skin.BuyText)</span>
            </a>
        </li>
    </ul>
</div>
<!--// 購買按鈕 //end-->
    
<!--//***** 獨立方案選擇頁content *****//end-->
    
    
    

</div>
<!--//***** content 內容區塊 *****//end-->


<div id="coupon_wrapper" style="display: none;">
    <div class="close_layer"><i class="fa fa-times"></i></div>
    <div id="renderpage">
        
    </div>

</div>

      
<!--//share_wrap 分享跳窗//-->
<div class="share_wrap" style="display:none;">
    <div class="b-close"><i class="fa fa-times fa-fw"></i></div>
    <div class="share_main share_normal">
        <h5>分享</h5>
        <p class="text_normal">親友用你分享的連結購買並核銷成功，宅配購物過鑑賞期，就送你500元！</p>        

        <ul class="clearfix">
            <li>
                <a href="javascript:void(0)" onclick="openSharePopWindowForLine()">
                    <img src="https://www.17life.com/images/17P/active/20170125_newyear/images/icon_line.png">LINE
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="openSharePopWindowForFB()">
                    <img src="https://www.17life.com/images/17P/active/20170125_newyear/images/icon_fb.png">FB
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="openSharePopWindowForFBM()">
                    <img src="https://www.17life.com/images/17P/active/20170125_newyear/images/icon_messenger.png">messenger
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="openSharePopWindowForClipboard()">
                    <img src="https://www.17life.com/images/17P/active/20170125_newyear/images/icon_copy.png">拷貝連結
                </a>
            </li>
        </ul>
        <div style="text-align:center">
        <input id="clipboardText" type="text" value="" style="width:80%; border:0px" onclick="this.select()" />
        </div>
        @*<div id="clipboardMsg" style="text-align:center; visibility:hidden">網址已複製</div>*@
        <p class="note">購買訂單金額50元以下的好康、捐款檔次，不適用本折價券贈送活動</p>
        <a href="/Ppon/NewbieGuide.aspx?id=share">詳見常見問題</a>
    </div>
    <div class="share_main share_gotologin" style="display:none;">
        <h5>分享</h5>
        <p class="text_normal">登入後再分享，就有機會再賺500元喔！</p>
        <ul>
            <li><a class="btn_color" href="@loginUrl">登入分享賺500</a></li>
            <li><a id="btnDirectlyShare" class="btn_line" href="javascript:void(0)">純分享</a></li>
        </ul>
    </div>
</div>
<!--//share_wrap//end-->

<div class="content_detailList" id="contentChoice" style="display:none">
                    
    <!--// 商品縮圖 //-->
    <div class="scpoeItem clearfix">
        <div class="scpoeItem_img">
            <img src="@Model.Pic">
        </div>
        <h3>@Model.DealName</h3>
        <p class="scpoeItem_description">@Model.SubTitle</p>
    </div>
    <!--// 商品縮圖 //end-->
        
    <!--// dealList //-->
    <ul class="dealList">
        <p>選擇下列方案</p>
        @foreach (var entry in Model.DealProductEntries)
        {
            if (entry.IsExpiredDeal)
            {
                continue;
            }
        <li class="clearfix @Html.Raw(entry.IsSoldOut ? "soldout" : string.Empty)">
            <a href="@Html.Raw(entry.IsSoldOut ? "javascript:void(0)" : entry.BuyUrl)">
                <div class="listMain">
                    <div class="list_info">                        
                        <h4>
                            @Html.Raw(entry.IsEnableIsp ? "<span>可超商取貨</span>" : string.Empty)@entry.Title
                        </h4>
                        <span>@entry.Discount</span>
                        <span>原價<span class="oriPrice">@entry.OrigPrice</span></span>
                    </div>
                    <div class="list_price">
                        <div class="dealPrice">@entry.Price</div>
                        <div class="averagePrice">@entry.AveragePriceTag@entry.AveragePrice</div>
                    </div>
                    <div class="list_arrow">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>    
            </a>
        </li>
        }
        @foreach (var entry in Model.DealCouponEntries)
        {
            if (entry.IsExpiredDeal)
            {
                continue;
            }
          <li class="clearfix @Html.Raw(entry.IsSoldOut ? "soldout" : string.Empty)">
            <a href="@Html.Raw(entry.IsSoldOut ? "javascript:void(0)" : entry.BuyUrl)">
              <div class="listMain">
                <div class="list_info">                        
                  <h4>@entry.DealName</h4>
                  <span>@entry.DiscountString</span>
                  <span>原價<span class="oriPrice">@entry.OrigPrice</span></span>
                </div>
              <div class="list_price">
                <div class="dealPrice">@entry.Price</div>
                <div class="averagePrice">@entry.PriceDesc</div>
              </div>
              <div class="list_arrow">
                  <i class="fa fa-angle-right"></i>
              </div><br/>
              </div>
               @if (string.IsNullOrWhiteSpace(entry.SubTitle) == false)
               {
               <div class="listNote clearfix">
                   @Html.Raw(Helper.NewLineToBr(entry.SubTitle))
               </div>
               }
           </a>
        </li>
        }
    </ul>
    <!--// dealList //end-->

    <!--// 按鈕 //-->
    <div class="btn_back_wrap" id="btnCloseChoice">
        <ul>
            <li>
                <a href="javascript:void(0)" class="btn_line btn_normal clearfix">
                    返回
                </a>
            </li>
        </ul>
             
    </div>
    <!--// 按鈕 //end-->
    @if (ViewBag.DealArgs != null)
    {
        <div style="display: none">
            @Html.Raw(ViewBag.DealArgs.ToString())
        </div>
    }
    @*給GetDiscountCode用*@
    <input id="HfLoginUrl" type="hidden" value="@ViewBag.LoginUrl" />
</div>

