﻿
@{
    Layout = null;
}

<h2>
    17Life簡易登入(輸入錯誤達5次會被鎖)
</h2>
<form id="form" action="@Url.Action("Login")" method="post">
    <input type="hidden" name="returnUrl" value="@Request["returnUrl"]" />
    <input type="hidden" name="captchaResponse" value="@ViewBag.ReCaptchaHackCode" />
    <div >

        <label >
            手機號碼或電子信箱:
        </label><br/>
        <input type="text" id="txtEmail" name="txtEmail" placeholder="手機號碼或電子信箱" />

    </div>

    <div >
        <label >
            密碼(注意大小寫):
        </label><br />
        <input id="txtPassword" name="txtPassword" type="password" placeholder="密碼(注意大小寫)"  />
    </div>


    <div class="form-unit text-center">
        <input type="checkbox" checked="checked" name="chkKeepLogin" value="on">
        <label style="">
            保持我的登入狀態
        </label>
    </div>

    <div class="form-unit">
        <input id="btnLogin" type="submit"  value="登入">
    </div>
</form>

