﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.WebLib.Models.Mobile
@model List<MobileMainDealModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Mobile/_Site.cshtml";
    List<MobileMainDealModel> deals = Model;

    string menuClass = "col-1-4";
    string areaNodesDataJson = ViewBag.AreaNodesDataJson as string;
    string categoryNodesDataJson = ViewBag.CategoryNodesDataJson as string;
    if (areaNodesDataJson == "[]" && categoryNodesDataJson == "[]")
    {
        //menuClass = "col-1-2";
        menuClass = "hidden";
    }
    else if (areaNodesDataJson == "[]")
    {
        menuClass = "col-1-3";
    }
    List<MobileManager.SlidingMenuItem> specialNodesMenuItems = ViewBag.SpecialNodesMenuItems as List<MobileManager.SlidingMenuItem>;
}

@section header{
    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>
    <script type="text/javascript" src="~/Tools/js/jquery.appear.js"></script>
    <script type="text/javascript">
        
        function getVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
            function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }

        $(document).ready(function () {
            var userAgent = navigator.userAgent.toString();
            if (userAgent.toLowerCase().indexOf("ipad") > -1) {
                location.href = '/default.aspx'; //ipad系列要導回web版
            }

            window.onpageshow = function (event) {
                if (event.persisted) {
                    @*修正iOS上返回上一頁時，blockUI不會關閉的bug*@
                    window.location.reload();
                }
            };

            if ($('.swiper-wrapper div').length <= 0) {
                $('.banner').hide();
            }

            var $marqueeUl, $marqueeli, _height, scrollSpeed, timer, speed;
            $(".NaviCityMP").show();
            $(".NaviCityW").show();
            var subCategoryId = '@ViewBag.SubCategoryId';
            window.areaNodesDataJson = jQuery.parseJSON('@Html.Raw(areaNodesDataJson)');
            $('.NaviCityArea').menu({
                backLabel: '返 回',
                dataJSON: areaNodesDataJson,
                itemClick: function (refId) {
                    console.log('itemClick :' + ($(this).attr('title') || $(this).text()));
                    $('.m-classify').find('.city a span').eq(0).text($(this).attr('title') || $(this).text());
                    $('#areaId').val(refId);
                    window.setTimeout(function () {
                        $(".city").removeClass("arrow-on");
                        $('.NaviCityMP').slideUp("normal", function () {
                            sendRequest(true);
                        });
                    }, 50);
                }
            });
            var categoryNodesDataJson = jQuery.parseJSON('@Html.Raw(categoryNodesDataJson)');
            window.categoryNodesDataJson = categoryNodesDataJson;
            $('.NaviCitySortRank').menu({
                backLabel: '返 回',
                dataJSON: categoryNodesDataJson,
                itemClick: function (refId) {
                    console.log('itemClick :' + ($(this).attr('title') || $(this).text()));
                    $('.m-classify').find(".classify a span").eq(0).text($(this).attr('title') || $(this).text());
                    $('#categoryId').val(refId);
                    window.setTimeout(function () {
                        $(".classify").removeClass("arrow-on");
                        $('.NaviCityW').slideUp("normal", function () {
                            sendRequest(true);
                        });
                    }, 50);
                }
            });

            $('#ulFilter button').click(function () {
                window.setTimeout(function () {
                    $('#ulFilter').slideUp("normal", function () {
                        sendRequest(true);
                    });
                }, 50);
            });
            $('#ulSort').find('a').click(function () {
                $('#ulSort').find('a').removeClass('on');
                $(this).addClass('on');
                $('.m-classify').find('.sort span:eq(0)').text($(this).attr('title'));
                window.setTimeout(function () {
                    $('#ulSort').slideUp("normal", function () {
                        sendRequest(true);
                    });
                }, 50);
            });

            function sendRequest(renew, dataStart) {
                var channelId = $('#channelId').val();
                var areaId = $('#areaId').val();
                var categoryId = $('#categoryId').val();
                var filterVals = [];
                $('#ulFilter').find(':checked').each(function () {
                    filterVals.push($(this).val());
                });
                var sortType = $('#ulSort').find('a.on').attr('refId');
                console.log('current value: ' + areaId + ', ' + categoryId + ', ' + sortType + ', [' + filterVals.join(',') + '],' + dataStart);

                $.ajax({
                    type: "POST",
                    url: '/m/GetPartialDeals',
                    data: JSON.stringify(
                    {
                        'channelId': channelId,
                        'areaId': areaId,
                        'categoryId': categoryId,
                        'sortType': sortType,
                        'filters': filterVals,
                        'dataStart': dataStart
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        //Facebook Pixel Code
                        fbq('track', 'ViewCategory', {
                            content_name: res.contentName,
                            content_category: res.contentCategory,
                            content_ids: res.jsContentIds,
                            content_type: 'product'
                        });

                        console.log('deal size:' + res.deals.length);
                        if (renew) {
                            $(".market_wrap").replaceWith(res.curation);
                            $('.maincontent').find('.dealcard').remove();
                            startMarquee();
                        }
                        for (var key in res.deals) {
                            appendDeal(res.deals[key]);
                        }
                        if (res.completed) {
                            window.scrollLoadingEnabled = false;
                        } else {
                            window.scrollLoadingEnabled = true;
                        }
                        window.scrollLoading = false;

                    },
                    error: function () {
                        window.scrollLoading = false;
                    }
                });

            }

            function mergeDealUrl(url) {
                var rsrc = $('#hfRsrc').val();
                if (rsrc != "") {
                    return url + "/" + rsrc;
                } else {
                    return url;
                }
            }

            function appendDeal(deal) {
                var temp = $('#dealTemplate').find('.dealcard').clone();

                temp.find('.deal_url').attr('href', mergeDealUrl(deal.Url));
                if (deal.AppPicUrl != null && deal.AppPicUrl != '') {
                    temp.find('.deal_pic').addClass('deal_apppic').attr('src', deal.AppPicUrl);
                } else {
                    temp.find('.deal_pic').attr('src', deal.PicUrl);
                }
                if (deal.ChannelAndRegionCategories.indexOf(3000) != -1) {
                    temp.find('.flag-24h').show();
                }
                if (deal.Location != "")
                {
                    var item = temp.find('.title_location');
                    item.text(deal.Location);
                    item.show();
                }
                
                temp.find('.title_brand').text(deal.Title);
                temp.find('.title_name').text(deal.Description);

                temp.find('.price_discount').html(deal.DiscountString);
                temp.find('.price_dealprice').html(deal.PriceString);
                temp.find('.price_oriprice').html(deal.OrigPriceString);
                temp.find('.info_buyer').html(deal.BuyerString);
                temp.find('.info_tag').html(deal.TagsString);
                temp.find('.activeLogo_img').html(deal.EventImgUrl);
                temp.find('.sticker').html(deal.EveryDayNewDeal == "" ? "" : "<img src=\"" + deal.EveryDayNewDeal + "\" />");
                if (deal.DiscountPrice != null && deal.DiscountPrice > 0) {
                    temp.find('.dealcard_discount').find('.disc_price').text(deal.DiscountPrice);
                } else {
                    temp.find('.dealcard_discount').css('visibility', 'hidden');
                }

                if (deal.RatingString == null || deal.RatingString === '') {
                    temp.find('.rating').remove();
                } else {
                    temp.find('.rating').html(deal.RatingString);
                }

                if (deal.IsSoldOut == false) {
                    temp.find('.soldout_img').remove();
                }

                temp.appendTo('.maincontent');
            }

            $(".NaviCityMP").hide();
            $(".NaviCityW").hide();

            $('.m-classify').find(".city a, .classify a, .sort a, .filter a").click(function () {
                $(".NaviCityMP").slideUp();
                $(".NaviCityW").slideUp();
                $("#ulSort").slideUp();
                $("#ulFilter").slideUp();
                $(".city").removeClass("arrow-on");
                $(".classify").removeClass("arrow-on");
                $(".sort").removeClass("arrow-on");
                $(".filter").removeClass("filter-on");

                if ($(this).parent().is('.city')) {
                    if ($(".NaviCityMP").is(':visible') == false) {
                        $(".NaviCityMP").slideDown();
                        $(".city").addClass("arrow-on");
                    }
                } else if ($(this).parent().is('.classify')) {
                    if ($(".NaviCityW").is(':visible') == false) {
                        $(".NaviCityW").slideDown();
                        $(".classify").addClass("arrow-on");
                    }
                } else if ($(this).parent().is('.sort')) {
                    if ($("#ulSort").is(':visible') == false) {
                        $("#ulSort").slideDown();
                        $(".sort").addClass("arrow-on");
                    }
                } else if ($(this).parent().is('.filter')) {
                    if ($("#ulFilter").is(':visible') == false) {
                        $("#ulFilter").slideDown();
                        $(".filter").addClass("filter-on");
                    }
                }


            });

            //Web地區展開
            $(".city-box").css("display", "none");
            $(".city-switch").click(function () {
                $(this).toggleClass("city-on");
                $(".city-box").slideToggle();
            });

            //Web地區母選單tab
            $(".city-box").tabs({
                event: "mouseover"
            });

            if (subCategoryId != '') {
                var scid = parseInt(subCategoryId, 10);
                var categoryNodes = categoryNodesDataJson;
                categoryNodes = $.grep(categoryNodes, function (item) { return item.refId == scid });
                if (categoryNodes == null || categoryNodes.length <= 0) {
                    categoryNodes = categoryNodesDataJson;
                    categoryNodes = $.grep(categoryNodes, function (item) { return item.styleClass == "nav" });
                    categoryNodes = categoryNodes[0].children;
                }
                if (categoryNodes != null && categoryNodes.length > 0) {
                    $('.m-classify').find(".classify a span").eq(0).text(categoryNodes[0].desc || categoryNodes[0].label);
                    $('#categoryId').val(subCategoryId);
                }
            }

            //trigger to get deal list
            sendRequest(true, 0);

            window.scrollLoadingEnabled = false;
            window.scrollLoading = false;
            $(window).scroll(function () {
                var totalDeals = $('.maincontent').find('.dealcard').size();
                if (totalDeals < 6) {
                    return;
                }
                if (window.scrollLoadingEnabled && window.scrollLoading == false) {
                    var elm = $('.maincontent').find('.dealcard').eq(totalDeals - 6);
                    var boundary = elm.offset().top;
                    if ($(window).scrollTop() + $(window).height() >= boundary) {
                        window.scrollLoading = true;
                        var dataStart = $('.maincontent').find('.dealcard').size();
                        sendRequest(false, dataStart);
                    }
                }
            });

            window.startMarquee = function () {
                // 策展效果
                // 先取得 div#abgne_marquee ul
                // 接著把 ul 中的 li 項目再重覆加入 ul 中(等於有兩組內容)
                // 再來取得 div#abgne_marquee 的高來決定每次跑馬燈移動的距離
                // 設定跑馬燈移動的速度及輪播的速度
                $marqueeUl = $('div.market_wrap ul');
                $marqueeli = $('div.market_wrap ul').append($('div.market_wrap ul').html()).children();
                _height = $('div.market_wrap').height() * -1,
                    scrollSpeed = 600,
                    timer,
                    speed = 3000 + scrollSpeed;

                // 幫左邊 $marqueeli 加上 hover 事件
                // 當滑鼠移入時停止計時器；反之則啟動
                $marqueeli.hover(function () {
                    clearTimeout(timer);
                }, function () {
                    clearTimeout(timer);
                    timer = setTimeout(showad, speed);
                });

                // 控制跑馬燈移動的處理函式
                function showad() {
                    if ($marqueeUl.position() != undefined) {
                        var _now = $marqueeUl.position().top / _height;
                        _now = (_now + 1) % $marqueeli.length;

                        // $marqueeUl 移動
                        $marqueeUl.animate({
                            top: _now * _height
                        }, scrollSpeed, function () {
                            // 如果已經移動到第二組時...則馬上把 top 設 0 來回到第一組
                            // 藉此產生不間斷的輪播
                            if (_now == $marqueeli.length / 2) {
                                $marqueeUl.css('top', 0);
                            }
                        });

                        // 再啟動計時器
                        clearTimeout(timer);
                        timer = setTimeout(showad, speed);
                    }
                }

                // 啟動計時器
                clearTimeout(timer);
                timer = setTimeout(showad, speed);
                $('a').focus(function () {
                    this.blur();
                });

            }

        });

    </script>

}

<div class="content">
    <input type="hidden" id="channelId" value="@ViewBag.ChannelId" />
    <input type="hidden" id="areaId" value="@ViewBag.AreaId" />
    <input type="hidden" id="categoryId" value="" />
    <input type="hidden" id="hfRsrc" value="@ViewBag.Rsrc" />
         @{ Html.RenderAction("RandomParagraphCuration", new { type = RandomCmsType.PponMasterPage, name = "curation", cid = (ViewBag.CityId ?? PponCityGroup.DefaultPponCityGroup.TaipeiCity.CityId) }); }
         @{ Html.RenderAction("RandomParagraph", new { type = RandomCmsType.PponRandomCms, name = "/ppon/default.aspx_pponnews", cid = (ViewBag.CityId ?? PponCityGroup.DefaultPponCityGroup.TaipeiCity.CityId) }); }
        <div class="menu_wrap">
            <div class="m-classify @menuClass">
                <ul>
                    <li class="arrow-down city">
                        <a href="javascript:void(0);"><span>@ViewBag.CurrentCityName</span><span class="icon-chevron"></span></a>
                    </li>
                    <li class="arrow-down classify"><a href="javascript:void(0);"><span>全部分類</span><span class="icon-chevron"></span></a></li>
                    <li class="arrow-down sort"><a href="javascript:void(0);"><span>推薦排序</span><span class="icon-chevron"></span></a></li>
                    <li class="filter"><a href="javascript:void(0);"><span class="icon-filter"></span></a></li>
                </ul>
            </div>
            <div class="NaviCityMP" id="NaviCity">
                <div class="NaviCityArea">
                </div>
            </div>
            <div class="NaviCityW so-awesome">
                <div class="NaviCitySort">
                    <div class="NaviCitySortRank clearfix">
                    </div>
                </div>
            </div>
            <div class="NaviCitySequence">
                <ul id="ulSort" class="clearfix">
                    <li>
                        <a href="javascript:void(0);" class="on" title="推薦排序" refid="@CategorySortType.Default">推薦</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="最新上架" refid="@CategorySortType.TopNews">最新</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="銷量排序" refid="@CategorySortType.TopOrderTotal">銷量</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="折數排序" refid="@CategorySortType.DiscountAsc">折數</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="價格從低到高" refid="@CategorySortType.PriceAsc">價格低到高</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="價格高到低" refid="@CategorySortType.PriceDesc">價格高到低</a>
                    </li>
                </ul>
                <ul id="ulFilter" class="clearfix">
                    @foreach (MobileManager.SlidingMenuItem item in specialNodesMenuItems)
                    {
                        <li>
                            <div class="ncs-filter">
                                <input type="checkbox" id="chk_sp_@item.refId" value="@item.refId" class="css-checkbox" /><label for="chk_sp_@item.refId" class="css-label"><span></span>@item.label</label>
                            </div>
                        </li>
                    }
                    <li class="m-filter-btn" class="clearfix">
                        <div class="ncs-filter">
                            <button class="btn btn-primary rdl-Btn-box">完成</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="maincontent">

        </div>

        <div id="dealTemplate" style="display:none">
            <div class="dealcard">
                <div class="sticker"></div>
                <a class="deal_url">
                    <div class="dealcard_left">
                        <div class="left_img">
                            <img class='soldout_img' src='https://www.17life.com/images/17P/17topbn/17_soldout_260x260.png' />
                            <div class="activeLogo_img"></div>
                            <img class="deal_pic" />
                            <img class="flag-24h" style="display:none" src="/themes/PCweb/images/24h_cover_flag.svg" alt="" />
                        </div>
                    </div>
                    <div class="dealcard_right">
                        <div class="dealcard_title">
                            <span class="title_location" style="display:none"></span>
                            <span class="title_brand"></span>
                            <span class="title_name"></span>
                        </div>
                        <div class="dealcard_price">
                            <span class="price_oriprice"></span>
                            <span class="price_discount">                                
                            </span>
                            <span class="price_dealprice">                                
                            </span>
                        </div>
                        <div class="dealcard_discount clearfix">
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                            <div class="disc_text">使用折價</div>
                            <span class="disc_price color_red"></span>
                            <span class="disc_gray" style="display:none">元</span>
                            <span class="disc_gray" style="display:inline-block">起</span>
                        </div>
                        <div class="rating">
                            <!-- 評價有效時，依評價數值顯示0星~5星，以半顆星為最小單位 20160606 by Getter-->
                            <i class="fa fa-star" aria-hidden="true"></i><!-- 一顆實星=1 -->
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i><!-- 半顆星=0.5 -->
                            <i class="fa fa-star-o" aria-hidden="true"></i><!-- 一顆空星=0 -->
                            <span class="rating_count">(99999人使用後評價)</span>
                        </div>
                        <div class="dealcard_info">
                            <div class="info_buyer"></div>
                            <ul class="info_tag" style="float:right"></ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--// footer //end-->
        <!-- Swiper JS -->
        <script type="text/javascript" src="~/Themes/mobile/js/swiper.min.js"></script>

        <!-- Initialize Swiper -->
        <script type="text/javascript">
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                slidesPerView: 1, //1
                paginationClickable: true,
                spaceBetween: 10, //10
                loop: true,
                autoplay: 2500,
                autoplayDisableOnInteraction: false
            });
        </script>

    </div>
