﻿@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    ViewBag.Title = "Index";
    Layout = ChannelFacade.GetOrderClassificationByHeaderToken() == AgentChannel.TaiShinMall ? "~/Views/Mobile/_TaishinNewMemberSite.cshtml" : "~/Views/Mobile/_NewMemberSite.cshtml";
    string apiBaseUrl = ViewBag.ApiBaseUrl;
    string forgetPasswordUrl = ViewBag.ForgetpasswordUrl;

    string pezLoginUrl = ViewBag.PezLoginUrl as string;
    string pezMobileLoginUrl = ViewBag.PezMobileLoginUrl as string;
    string fbLoginUrl = ViewBag.FbLoginUrl as string;
    string lineLoginUrl = ViewBag.LineLoginUrl as string;
    string errorMessage = ViewBag.ErrorMessage as string;
    string memoryAccount = ViewBag.MemoryAccount as string;
    string sessionId = LkSiteSession.CaptchaLogin.ToString();
    bool isCaptchaOpen = (bool)ViewBag.isCaptchaOpen;
    bool isRedirectByVbs = (bool)(ViewBag.IsRedirectByVbs ?? false);
}

@LunchKingSite.Core.Helper.RenderCss("/Themes/PCweb/css/web_style.min.css")
<script type="text/javascript" src="/Tools/js/member/jquery.timers-1.2.js"></script>
<script type="text/javascript" src="/Tools/js/member/jquery.timers-1.2.js"></script>
<script type="text/javascript" src="/Tools/js/member/memberRegister.js"></script>
<script type="text/javascript" src="/Themes/PCweb/js/jquery.bpopup.js"></script>

@section header{

<script type="text/javascript">
    window.apiBaseUrl = '@apiBaseUrl';
    window.errorMessage = '@errorMessage';
    window.memoryAccount = '@memoryAccount';

    $(document).ready(function () {

        $.disalbeAutoFill();

            var isRedirectByVbs = ("@isRedirectByVbs".toLowerCase() == "true");

            $("ul.login_signup-tabs li").click(function(e) {

                if (!$(this).hasClass("active")) {
                    var tabNum = $(this).index();
                    var nthChild = tabNum + 1;
                    $("ul.login_signup-tabs li.active").removeClass("active");
                    $(this).addClass("active");
                    $("ul.login_signup-tabcontent li.active").removeClass("active");
                    $("ul.login_signup-tabcontent li:nth-child(" + nthChild + ")").addClass("active");
                }
            });

            $(".memorylog-QA").click(function(e) {
                if (!$(".memorylog-QA-message").hasClass("active")) {
                    $(".memorylog-QA-message").addClass("active");
                } else {
                    $(".memorylog-QA-message").removeClass("active");
                }
            });

            // 點擊問號與message本身以外、頁面中的任何元素，都會關閉"了解更多"的message
            $('html').click(function(e){
                $(".memorylog-QA-message").removeClass("active");
            });
            $(".memorylog-QA,.memorylog-QA-message").bind('click',function(e){
                e.stopPropagation();
            });

            //region by unicorn

            if (sessionStorage.getItem("chkKeepLoginStatus") === "true") {
                $("#chkKeepLogin").prop('checked',true);
                console.log('restore keep login status: on');
            }
            else if (sessionStorage.getItem("chkKeepLoginStatus") === "false") {
                $("#chkKeepLogin").removeAttr('checked');
                console.log('restore keep login status: off');
            }

            $("#chkKeepLogin").change(function() {
                if ($(this).is(':checked')) {
                    sessionStorage.chkKeepLoginStatus = true;
                    console.log("keep login status: on");
                } else {
                    sessionStorage.chkKeepLoginStatus = false;
                    console.log("keep login status: off");
                }
            });

            $('#txtEmail, #txtPassword, #txtText,#captchaResponse').keypress(function(evt) {
                if (evt.which == 13) {
                    $('#btnLogin').trigger('click');
                    return false;
                }
            });

            $("#pezLogin").click(function() {
                x = $(window).width();
                if (x > 480) {
                    window.location.href = "@Html.Raw(pezLoginUrl)";
                } else {
                    window.location.href = "@Html.Raw(pezMobileLoginUrl)";
                }
            });

            $("#fbLogin").click(function (e) {
                @if (config.FacebookSuspendLogin)
                {
                    @Html.Raw(@"
                    e.preventDefault();
                    $('.block_wrap').bPopup();
");
                    
                }
                else
                {
                    @Html.Raw("window.location.href = '" + fbLoginUrl + "';\r\n");
                }
            });

            $("#lineLogin").click(function (e) {
                @if (config.LineSuspendLogin)
                {
                    @Html.Raw(@"
                    e.preventDefault();
                    $('.block_wrap').bPopup();
");
                    
                }
                else
                {
                    @Html.Raw("window.location.href = '" + lineLoginUrl + "';\r\n");
                }
            });

            $("#btnLogin").click(function() {
                if (!accountValidate()) {
                    showErrorMsg($('#form .hint'), '帳號格式錯誤，請輸入有效手機號碼或信箱');
                    return false;
                }
                if (!passwordValidate()) {
                    showErrorMsg($('#form .hint'), '請輸入有效6碼以上英文或數字密碼');
                    return false;
                }

                $('#form').submit();

                if ($("input[id=chkKeepLogin]").is(':checked')) {
                    localStorage.setItem("chkKeepLoginStatus", true);
                } else {
                    localStorage.removeItem("chkKeepLoginStatus");
                }
            });

            function passwordValidate() {
                var result = true;
                var password = $('#txtPassword').val();
                if (!passwordCheck(password)) {
                    result = false;
                    console.log('password invalid.');
                }
                return result;
            }

            function accountValidate() {
                var account = $('#txtEmail').val();
                var result = true;
                if (checkEmailOrPhone(account) == false) {
                    result = false;
                    console.log('account format invalid.');
                }
                return result;
            }

            //because txtEmail has default value from url
            if ($('#txtEmail').val() == "") {
                $('#txtEmail').focus();
            } else {
                $('#txtPassword').focus();
            }
            $('#txtEmail').focus();

            if (window.errorMessage != null && window.errorMessage.length > 0) {
                showErrorMsg($('#form .hint'), window.errorMessage);
            }
            if (window.memoryAccount != null && window.memoryAccount.length > 0) {
                $('#txtEmail').val(window.memoryAccount);
            }

            function getCaptcha(id) {
                $("#imgCaptcha").attr("src", "/NewMember/Captcha.ashx?x=" + Math.random() + "&sessionId=" + id + "&CapthcaHeight=30&CapthcaWidth=120");
                //$('#captchaResponse').focus();
            }
            @if (isCaptchaOpen)
            {
                @Html.Raw(@"
                $('#captchaLink').click(function() {{
                    getCaptcha('{0}');
                }});
                getCaptcha('{0}');", sessionId);
            }
            //endregion

            MemmberRegisterApi.HostNameSet(window.apiBaseUrl);
            var resetPasswordKey;
            var secondDown = 30;
            $('#phoneNum').keydown(function(e) {
                e = e || window.event;
                var code = e.keyCode;
                if (code === 8 || code === 46 || code === 37 || code === 39) { //倒退鍵、刪除鍵、左、右鍵也允許作用
                    return true;
                } else {
                    var num = (e.key == undefined) ? keyCodeToNumberForIOS(e.keyCode) : e.key;
                    num = (num == undefined) ? keyCodeToNumber(e.keyCode) : num;
                    var checkNum = parseInt(num);
                    if (code === 229 && !Number.isInteger(checkNum)) {
                        e.key = '';
                        return false;
                    }
                    if ($('#phoneNum').val().length === 4) {

                        $('#phoneNum').val($('#phoneNum').val() + '-' + num);
                        e.preventDefault();
                    }
                    if ($('#phoneNum').val().length === 8) {
                        $('#phoneNum').val($('#phoneNum').val() + '-' + num);
                        e.preventDefault();
                    }
                }
            });

            $('#phoneNum').keyup(function(e) {
                var value = $('#phoneNum').val().replace(/-/g, '');
                //驗證 return false or true

                if (value.length <= 1) {
                    return false;
                }

                //英文、手機格式、中文
                if (/[a-zA-Z]/.test(value) || !/^09/.test(value) || /[\u4e00-\u9fa5]/.test(value)) {
                    showErrorMsg($('#register-1 .hint'), '手機號碼格式錯誤');
                    $('#phoneNum').focus();
                    return false;
                }

                $('#register-1 .hint').text('');

            });

            $('#register-btn-1').click(function() {
                var mobile = $('#phoneNum').val().replace(/-/g, '');
                var mobile = $.trim($('#phoneNum').val().replace(/-/g, ''));
                if (mobile.length != 10 || /^09/.test(mobile) == false || /[0-9]/.test(mobile) == false) {
                    showErrorMsg($('#register-1 .hint'), '手機號碼格式錯誤');
                    $('#phoneNum').focus();
                    return false;
                }
                MemmberRegisterApi.RegisterMobileMember('AND2016030710', mobile, '').done(function(res) {
                    if (res.Code === 1000) {
                        secondDown = 30;
                        var sendTimes = 3 - res.Data.sendCount;
                        $('#register-1 .hint').text('');
                        $('#register-2 .hint').text('');
                        $('#comfirmPhone').text($('#phoneNum').val());
                        $('#validCodeTimes').text(sendTimes);
                        $('#timeDown').show();
                        $('#reSendVaildateCode').hide();
                        showRegisterTab(2);
                        $('#timeDown').everyTime('1s', function() {
                            $(this).find('.note').text((secondDown - 1)+' 秒後可重發驗證碼');
                            secondDown--;
                            if (secondDown === 0){$(this).hide();$('#reSendVaildateCode').show();}
                        },30);

                    } else if (res.Code === 2130) {
                        showErrorMsg($('#register-1 .hint'), '手機認證碼發送超過三次，' + res.Message);
                    } else {
                        showErrorMsg($('#register-1 .hint'), res.Data.ReplyMessage);
                    }
                });
            });

            $('#register-btn-2').click(function() {
                var code = $('#validCode').val();
                var mobile = $('#phoneNum').val().replace(/-/g, '');
                MemmberRegisterApi.ValidateMobileRegisterCode('AND2016030710', mobile, code).done(function(res) {
                    if (res.Code === 1000) {
                        resetPasswordKey = res.Data.resetPasswordKey;
                        $('#register-2 .hint').text('');
                        showRegisterTab(3);
                    } else {
                        showErrorMsg($('#register-2 .hint'), res.Message);
                    }
                });
            });

            $('#reSendVaildateCode').click(function() {
                var mobile = $('#phoneNum').val().replace(/-/g, '');
                MemmberRegisterApi.SendMobileRegisterAuthCode('AND2016030710', mobile).done(function(res) {
                    if (res.Code === 1000) {
                        var sendTimes = 3 - res.Data.sendCount;
                        if (sendTimes >0) {
                            secondDown = 30;
                            $('#timeDown .note').text('30 秒後可重發驗證碼');
                            $('#timeDown').everyTime('1s', function() {
                                $(this).find('.note').text((secondDown - 1)+' 秒後可重發驗證碼');
                                secondDown--;
                                if (secondDown === 0){$(this).hide();$('#reSendVaildateCode').show();}
                            },30);
                            $('#reSendVaildateCode').hide();
                            $('#timeDown').show();
                        }else{$('#reSendVaildateCode').show();}

                        $('#validCodeTimes').text(sendTimes);
                        alert('驗證碼已重新發送!');

                    } else if (res.Code === 2130) {
                        $('#timeDown').hide();
                        $('#validCodeTimes').text(0);
                        showErrorMsg($('#register-2 .hint'), '請更換手機號碼，或洽客服專線：@config.ServiceTel');
                    } else {
                        $('#timeDown').hide();
                        showErrorMsg($('#register-2 .hint'), res.Message);
                    }
                });
            });

            //設定密碼 ，後續直接登入
            $('#register-btn-3').click(function() {
                var mobile = $('#phoneNum').val().replace(/-/g, '');
                var password = $('#password').val();
                if (!passwordConfirm($('#password').val(), $('#repassword').val())) {
                    showErrorMsg($('#register-3 .hint'), '兩次新密碼輸入不一致');
                    return false;
                }

                //密碼格式錯誤，請輸入6~12碼英文或數字
                if (!passwordCheck(password)) {
                    showErrorMsg($('#register-3 .hint'), '密碼格式錯誤，請輸入6碼以上英文或數字');
                    return false;
                }

                MemmberRegisterApi.SetMobileMemberPasswordByKey('AND2016030710', mobile, resetPasswordKey, password)
                    .done(function(res) {
                        if (res.Code === 1000) {
                            $('input[name=userName]').val(mobile);
                            $('input[name=password]').val(password);
                            if (isRedirectByVbs == true) {
                                location.href = "/vbs/BindVbsAccount?account=" + mobile;
                            } else {
                                $('#memberFillInfo').trigger('click');
                            }
                        } else {
                            showErrorMsg($('#register-3 .hint'), res.Message);
                        }
                    });
            });

            $('#backRegister').click(function() {
                showRegisterTab(1);
                $('.login_signup-tabs').show();
            });

            function showRegisterTab(tableId) {
                for (var i = 1; i <= 2; i++) {
                    $("#register-" + i).hide();
                }
                $('.login_signup-tabs').hide();
                $("#register-" + tableId).show();
            }

            var state = getUrlQueryVariable('state');
            if (state === 'r') $('.login_signup-tabs li:eq(1)').trigger('click');

            var pageType = getUrlQueryVariable('p');
            if (pageType === 'member17') {
                $('.division-group').hide();
                $('.btngroup').hide();
            } else {
                $('.division-group').show();
                $('.btngroup').show();
            }

            $('.btn_registered').click(function() {
                $("ul.login_signup-tabs li").eq(1).trigger('click');
            });

            if (isRedirectByVbs == true) {
                $("ul.login_signup-tabs li").eq(0).hide();
                $("ul.login_signup-tabs li").eq(1).trigger('click');
            }
        });

        function showErrorMsg(element, message) {
            element.text('');
            element.text(message);
            element.prepend('<i class="fa fa-exclamation-circle" aria-hidden="true">');
        }

    @* Scupio *@
    $('#register-btn-3').click(function () {
        _bw('track', 'CompleteRegistration');
    });
</script>
}

<!-- 201803:跳窗 -->
<div class="block_wrap" style="display:none;">
    <div class="b-close btn_close">×</div>
    <div>
        <h5>系統升級中，暫時無法使用facebook登入</h5>
        <p>
            如需依facebook登入，請按下<a href="/NewMember/ForgetPassword.aspx">忘記密碼</a>並填寫facebook帳號及驗證碼，索取新密碼即可重新登入<br/>
            <span class="gray">若還有操作上的問題歡迎於上班日09:00~18:00來電客服中心02-77299040,將由專人為您協助</span></p>
    </div>
</div>
<!-- 跳窗 //end-->


<a href="/Ppon/Default.aspx"><div class="logo17life"></div></a>

<ul class="login_signup-tabs">
    <li class="active">登入</li>
    <li>註冊</li>
</ul>

<!-- 頁籤顯示如下 -->
<ul class="login_signup-tabcontent">
    <!-- 預設顯示的頁籤，掛active class -->
    <li class="active">
        <form id="form" action="@Url.Action("Login")" method="post">
            <input type="hidden" name="returnUrl" value="@Request["returnUrl"]" />
            <input type="hidden" name="appId" value="@Request["appId"]" />
            <input type="hidden" id="channelAgent" name="channelAgent" value="@((int)ViewBag.ChannelAgent)" />
            <div class="form-unit">

                <label class="m_size-input_head" for="">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </label>
                <input type="text" id="txtEmail" name="txtEmail" placeholder="手機號碼或電子信箱" class="m_size-input_body" />

            </div>
            <!-- 當使用者送出的資料不符格式時，在對應的input下面加入本段，用以顯示警示訊息 Start -->
            @*<div class="form-unit text-center">
                <span class="hint"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>未來如果有加錯誤訊息feedback時，秀於此處</span>
            </div>*@
            <!-- 當使用者送出的資料不符格式時，在對應的input下面加入本段，用以顯示警示訊息 End -->
            <div class="form-unit">
                <label class="m_size-input_head" for="">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </label>
                <input id="txtPassword" name="txtPassword" type="password" autocomplete="off" placeholder="密碼(注意大小寫)" class="m_size-input_body" />
                <a class="forget_password clearfix" href="@forgetPasswordUrl">忘記密碼？</a>
            </div>
            <!-- 當使用者送出的資料不符格式時，在對應的input下面加入本段，用以顯示警示訊息 Start -->
            <div class="form-unit text-center">
                <span class="hint"></span>
            </div>
            <!-- 當使用者送出的資料不符格式時，在對應的input下面加入本段，用以顯示警示訊息 End -->
            <!-- 驗證碼機制，Start：請沿用舊版--預設不顯示、當使用者多次輸入錯帳密時才秀出本段內容 -->
            @if (isCaptchaOpen)
            {
                <div class="form-unit" style="display: block" id="captchaPanel">
                    <div class="imgCaptcha_120">
                        <img id="imgCaptcha" alt="" width="120" src="">
                    </div>
                    <a id="captchaLink" class="imgCaptcha_refresh" href="#">更換一組驗證碼</a>
                    <input type="text" id="captchaResponse" name="captchaResponse" placeholder="請輸入顯示的文字(英文可不區分大小寫)"
                           autocomplete="off" class="m_size-input_body" />
                </div>
            }
            <!-- 驗證碼機制，End -->

            <div class="form-unit text-center">
                <input class="magic-checkbox" type="checkbox" checked="checked" name="chkKeepLogin" id="chkKeepLogin" value="on">
                <label class="memorylog-checkbox" for="chkKeepLogin" style="">
                    保持我的登入狀態
                </label>

                <div class="fa fa-question-circle-o memorylog-QA" style=""> </div>
                <div class="memorylog-QA-message">
                    <p>
                        為了您的登入方便，請勾選此項目，若您使用的是共用裝置，建議不要勾選。<a target="_blank" href="/ppon/newbieguide.aspx?s=20566&q=20587">了解更多</a>
                    </p>
                </div>


            </div>

            <div class="form-unit">
                <input id="btnLogin" type="button" class="btn btn-primary btn-primary-flat round full-width" value="登入">
            </div>
        </form>
        <div class="division-group clearfix">
            <hr class="half" /><p class="pull-left" style="">或</p><hr class="half" />
        </div>
        <!--註冊-->
        <div class="form-unit btn_registered">
            <input id="btnRegister" type="button" class="btn btn-primary-flat full-width" value="註冊">
        </div>
        <!-- 第三方登入 -->
        <div class="btngroup" style="text-align:center">
            <button id="lineLogin" type="button" class="loginBtn loginBtn-line">
                <img src="/themes/PCweb/images/icons/login_line.svg">以 LINE 帳號登入
            </button>
            <button id="fbLogin" type="button" class="loginBtn loginBtn-facebook">
                <img src="/themes/PCweb/images/icons/login_facebook.svg">以 Facebook 帳號繼續
            </button>
            <button id="pezLogin" type="button" class="loginBtn loginBtn-payeasy">
                <img src="/themes/PCweb/images/icons/login_payez.svg">以 Payeasy 帳號登入
            </button>
        </div>
    </li>
    <li>
        <div id="register-1">
            <div class="form-unit">
                <label class="m_size-input_head" for="">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                </label>
                <input id="phoneNum" type="tel" placeholder="輸入手機號碼註冊" class="m_size-input_body" maxlength="12" />
            </div>

            <!-- 當使用者送出的資料不符格式時，在對應的input下面加入本段，用以顯示警示訊息 Start -->
            <div class="form-unit text-center">
                <span class="hint"></span>
            </div>
            <!-- 當使用者送出的資料不符格式時，在對應的input下面加入本段，用以顯示警示訊息 End -->

            <div class="form-unit">
                <input id="register-btn-1" type="button" class="btn btn-primary btn-primary-flat round full-width" value="使用手機號碼註冊">
            </div>

            <div class="form-unit text-center">
                <a href=@ViewBag.RegisterUrl>使用電子信箱註冊</a>
            </div>
        </div>
        <div id="register-2" style="display: none">
            <div class="form-unit text-center">
                <h2 class="">輸入驗證碼</h2>

            </div>

            <div class="form-unit">
                <!-- 此欄位只能輸入數字(m版時自動call數字鍵盤)，最多輸入6碼 -->
                <input id="validCode" type="tel" maxlength="6" placeholder="請輸入六位數驗證碼" 
                       class="m_size-input_body text-center certification-code" autocomplete="off" />
            </div>
            <!-- 當使用者送出的資料不符格式時，在對應的input下面加入本段，用以顯示警示訊息 Start -->
            <div class="form-unit text-center">
                <span class="hint"></span>
            </div>
            <!-- 當使用者送出的資料不符格式時，在對應的input下面加入本段，用以顯示警示訊息 End -->
            <div class="form-unit text-center">
                <span class="note">您輸入的號碼是 <span id="comfirmPhone"></span> <br />剩餘<span id="validCodeTimes"></span>次可發送驗證碼</span>
            </div>
            <div class="form-unit">
                <input id="register-btn-2" type="button" class="btn btn-primary btn-primary-flat round full-width" value="送出">
            </div>
            <div id="timeDown" class="form-unit text-center">
                <span class="note"></span>
            </div>
            <div class="form-unit text-center">
                <a id="reSendVaildateCode" href="javascript:void(0)">重發認證碼</a>
            </div>
            <div class="form-unit text-center">
                <a id="backRegister" href="javascript:void(0)">＜重新輸入手機號碼</a>
            </div>
        </div>

        <div id="register-3" style="display: none">
            <div class="form-unit text-center">
                <h2 class="">已完成手機驗證，請設定密碼</h2>

            </div>

            <div class="form-unit">
                <label class="m_size-input_head" for="">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </label>
                <input id="password" type="password" autocomplete="off" placeholder="6碼以上英文或數字，區分大小寫" class="m_size-input_body" maxlength="100" />
            </div>
            <!-- 當使用者送出的資料不符格式時，在對應的input下面加入本段，用以顯示警示訊息 End -->
            <div class="form-unit">
                <label class="m_size-input_head" for="">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </label>
                <input id="repassword" type="password" autocomplete="off" placeholder="再次輸入密碼" class="m_size-input_body" maxlength="100" />
            </div>

            <!-- 當使用者送出的資料不符格式時，在對應的input下面加入本段，用以顯示警示訊息 Start -->
            <div class="form-unit text-center">
                <span class="hint"></span>
            </div>
            <!-- 當使用者送出的資料不符格式時，在對應的input下面加入本段，用以顯示警示訊息 End -->

            <div class="form-unit">
                <input id="register-btn-3" type="button" class="btn btn-primary btn-primary-flat round full-width" value="送出">
            </div>
        </div>
    </li>
</ul>
<form method="post" action="@Url.Action("Register")">
    <input type="hidden" name="userName" value="" />
    <input type="hidden" name="password" value="" />
    <input type="hidden" name="returnUrl" value="@Request["ReturnUrl"]" />
    <input id="memberFillInfo" type="submit" style="display: none" />
</form>
@if (TempData["loginError"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["loginError"]));
        alert(message);
    </script>
}

