﻿@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@using LunchKingSite.WebLib.Models.Mobile
@model List<MobileMainDealModel>
@{
    ViewBag.Title = "Index";
    Layout = ChannelFacade.GetOrderClassificationByHeaderToken() == AgentChannel.TaiShinMall ? "~/Views/Mobile/_TaishinMall.cshtml" : "~/Views/Mobile/_Site.cshtml";
    List<MobileMainDealModel> deals = Model;
}

@section header{
    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            if (location.pathname.toLowerCase().indexOf('/m/lastdeals') >= 0) {
                $('#naviTodaydeal').removeClass().addClass('navbtn_inpage');
                $('#m_navLastDay').removeClass().addClass('on');
                $('#m_ChooseChannel').text($('#m_navToday').text());
            }
        });
    </script>

}

<div class="content">
    <input type="hidden" id="areaId" value="@ViewBag.AreaId" />
    <input type="hidden" id="categoryId" value=""/>
    @{
        if (ChannelFacade.GetOrderClassificationByHeaderToken() != AgentChannel.TaiShinMall)
        {
            Html.RenderAction("RandomParagraph", new { type = RandomCmsType.PponRandomCms, name = "/ppon/default.aspx_pponnews", cid = -1 });
        }
    }
    <div class="maincontent">
        @foreach (var deal in deals)
        {
            <div class="dealcard">
                <div class="sticker " style="@((deal.EveryDayNewDeal != "") ? "": "display: none")"><img src="@deal.EveryDayNewDeal" /></div>
                <a target="_self" class="deal_url" href="@Html.Url(deal.Url)">
                    <div class="dealcard_left">
                        <div class="left_img">
                            @Html.Raw(deal.IsSoldOut, "<img class='soldout_img' src='https://www.17life.com/images/17P/17topbn/17_soldout_260x260.png' />", String.Empty)
                            <img class="deal_pic" src="@deal.PicUrl" />
                        </div>
                    </div>
                    <div class="dealcard_right">
                        <div class="dealcard_title">
                            @if (!string.IsNullOrEmpty(deal.Location))
                            {
                                <span class="title_location">@deal.Location</span>
                            }
                            <span class="title_brand">@deal.Title</span>
                            <span class="title_name">@deal.Description</span>
                        </div>
                        <div class="dealcard_price">
                            <span class="price_discount">
                                @Html.Raw(deal.DiscountString)
                            </span>
                            <span class="price_dealprice">
                                @Html.Raw(deal.PriceString)
                            </span>
                            <span class="price_oriprice">
                                @Html.Raw(deal.OrigPriceString)
                            </span>
                        </div>
                        <div class="dealcard_info">
                            <div class="info_buyer">@Html.Raw(deal.BuyerString)</div>
                            <ul class="info_tag" style="float:right">
                                @Html.Raw(deal.TagsString)
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

    <div id="dealTemplate" style="display:none">
        <div class="dealcard">
            <div class="sticker"></div>
            <a class="deal_url" target="_self">
                <div class="dealcard_left">
                    <div class="left_img">
                        <img class='soldout_img' src='https://www.17life.com/images/17P/17topbn/17_soldout_260x260.png' />
                        <img class="deal_pic" />
                    </div>
                </div>
                <div class="dealcard_right">
                    <div class="dealcard_title">
                        <span class="title_location" style="display:none"></span>
                        <span class="title_brand"></span>
                        <span class="title_name"></span>
                    </div>
                    <div class="dealcard_price">
                        <span class="price_discount">

                        </span>
                        <span class="price_dealprice">

                        </span>
                        <span class="price_oriprice">

                        </span>
                    </div>
                    <div class="dealcard_info">
                        <div class="info_buyer"></div>
                        <ul class="info_tag" style="float:right"></ul>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--// footer //end-->
    <!-- Swiper JS -->
    <script type="text/javascript" src="~/Themes/mobile/js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1, //1
            paginationClickable: true,
            spaceBetween: 10, //10
            loop: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false
        });
    </script>

</div>
