﻿@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@{
    ViewBag.Title = "Index";
    Layout = ChannelFacade.GetOrderClassificationByHeaderToken() == AgentChannel.TaiShinMall ? "~/Views/Mobile/_TaishinMall.cshtml" : "~/Views/Mobile/_Site.cshtml";
}

@section header{
    <script type="text/javascript">
        $(document).ready(function() {
            showPromoSearchKey();            
            $(".search_auto_wrap").css('display', 'none');
            $(".search_bar .fa-spinner").css('display', 'none');
            
            makeHistoryUL();

            $('.search_bar_input').keydown(function() {
                showAutoKeywords();
            });


            $('.search_bar_input').on('input propertychange paste', function () {
                if ($('.search_bar_input').val() === "") {
                    $('.search_auto_wrap').empty();
                    showHistory();
                } else {
                    showPromptKeywords($('.search_bar_input').val());
                }
            });


            $('.search_hot_wrap').on('click', 'a', function () {
                var searchWord = $(this).find('.hot_tag_title').text();
                saveToStorage(searchWord);
                gotosearch(searchWord);
            });

            $('.search_history_tags').on('click', '.search_hitstor_bottom', function () {
                window.setTimeout(function () {
                    clearStorage();
                    makeHistoryUL();
                    $('.search_tabs .search_tab').eq(0).trigger('click');
                }, 50);
            });

            

            $('.search_bar_input').keydown(function () {
                if ($('.search_bar_input').val() !== "" && event.keyCode === 13) {
                    search();
                }
            });

            $('.search_history_tag_paste').click(function () {
                var word = $(this).siblings('.search_history_tag').text().trim();
                $('.search_bar_input').val(word);
            });


            $('.search_tabs .search_tab').click(function () {
                $(this).addClass('active');
                $('.search_tabs .search_tab').not(this).removeClass('active');
                var target = $(this).data('target');
                $('.search_panel').hide();
                $(target).show();
            });
            $('.search_tabs .search_tab').eq(0).trigger('click');

        });

        function getSearchUrl() {
            var isMobile = document.documentElement.clientWidth <= 480;
            if (isMobile) {
                return "SearchResult?keywords=";
            } else {
                return "../ppon/pponsearch.aspx?search=";
            }
        }

        function showHistory() {
            $('.search_tab').eq(1).addClass('active');
            $('.search_hot_wrap').hide();
            $('.search_history_wrap').show();
            $('.search_auto_wrap').hide();
        }

        function showHotSearch() {
            $('.search_tab').eq(0).addClass('active');
            $('.search_hot_wrap').show();
            $('.search_history_wrap').hide();
            $('.search_auto_wrap').hide();
        }

        function showAutoKeywords() {
            $('.search_tab').removeClass('active');
            $('.search_hot_wrap').hide();
            $('.search_history_wrap').hide();
            $('.search_auto_wrap').show();
        }

        function search() {
            if ($('.search_bar_input').val() !== "") {
                saveToStorage($('.search_bar_input').val());
                makeHistoryUL();
                gotosearch($('.search_bar_input').val());
            }
        }

        function gotosearch(keywords) {
            location.href = getSearchUrl() + encodeURI(keywords);
        }

        function saveToStorage(newWord) {
            var history = new Array();
            if (localStorage["searchHistory"] != undefined && localStorage["searchHistory"] !== "") {
                var history = localStorage["searchHistory"].split(',');
            }
            var history = $.grep(history, function (t) {
                return t != newWord;
            });
            var thisSearch = [newWord];
            var newHistory = thisSearch.concat(history);
            localStorage["searchHistory"] = newHistory;
        }

        function clearStorage() {
            localStorage.removeItem("searchHistory");
        }

        function makeHistoryUL() {
            if (localStorage["searchHistory"] != undefined && localStorage["searchHistory"] !== "") {
                var history = localStorage["searchHistory"].split(',');
                var itemList = "";
                history.forEach(function (word) {
                    var searchUrl = getSearchUrl() + encodeURI(word);
                    var item = "<div class='search_history_tag_line'>" +
                        //"<div class='search_history_tag'><a href='" + searchUrl + "'><i class='fa fa-clock-o fa-lg fa-fw'></i>" + word + "</a></div>"
                        "<div class='search_history_tag'><a href='" + searchUrl + "'><div style='float:left; margin-top:13px; padding-right:9px'><img src='/content/img/clock.png' class='icon_clock' /></div>"
                        + '<span>' + word + "</span></a></div>"
                        + "<div class='search_history_tag_paste'><img src='/content/img/arrow3.png' class='icon_trash' /></div>"
                        + "</div>";
                    itemList += item;
                });

                $('.search_history_wrap').empty();
                var html = "<div class='search_history_tags'>" + itemList +
                    "<div class='search_hitstor_bottom'>" + "<div><div style='float:left;margin-top:3px;margin-right:5px'><img src='/content/img/trash.png' class='icon_trash' /></div><span>清除搜尋記錄</span></div>" + "</div>"
                "</div>";
                $('.search_history_wrap').html(html);
            } else {
                $('.search_history_wrap').html('');
            }
        }

        function makeAutoPromptUL( promptList, searchWord) {
            if (promptList.length > 0) {
                var itemList = "";
                promptList.forEach(function(word) {
                    var searchUrl = getSearchUrl() + encodeURI(word);

                    var hightlighWord = word.replace(searchWord, "<span style='color:red'>" + searchWord + "</span>");
                    var item = "<li class='promptLi'><a href='" + searchUrl + "'><span>" + hightlighWord +
                        "</span><i class='fa fa-chevron-right fa-lg fa-fw' name='" + word + "'></i></a>";
                    itemList += item;
                });
                $('.search_auto_wrap').html("<ul>" + itemList + "</ul>");
            } else {
                $('.search_auto_wrap').empty();
            }
        }

        function showPromptKeywords(word) {
            $('.fa-spinner').show();
            $.ajax({
                type: "POST",
                url: "GetKeywordPromptList",
                data: JSON.stringify({ 'word': word.trim(), 'takeCnt': 5 }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(result) {
                    if (result.success) {
                        if (result.promptList != undefined) {
                            makeAutoPromptUL(result.promptList, $('.search_bar_input').val());
                            showAutoKeywords();
                        }
                    }
                    $('.fa-spinner').hide();
                }
            });
        }

        function showPromoSearchKey() {
            $.ajax({
                type: "GET",
                url: "../api/ppon/GetHotSearchKey",
                dataType: "json",
                
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    
                    if (data.Data.length>0) {
                        var itemList = "";
                        var limit = 10;
                        var count = 0;
                        for (var i = 0; i < data.Data.length; i++) {
                            itemList += "<div class='hot_tag'><a href='#' class='hot_tag_link'><span class='hot_tag_title'>" + data.Data[i].KeyWord + "</span></a></div>";
                            count++;
                            if (count >= limit) {
                                break;
                            }
                        }
                        $('.search_hot_wrap').html("<div class='hot_tags'>" + itemList + "</div>" + "<br style='clear:both' />");
                        $('.footer_wrap').show();
                    } else {
                        $('.search_hot_wrap').empty();
                    }
                }
            });
            
        }
    </script>


    <style>
        .header_wrap .nav {
            display:none;
        }
        .footer_wrap {
            display:none;
        }
        .search_tabs {
            display: flex;
            justify-content: space-around;
            height: 40px;
            margin-top:10px;
            background-color:white;
        }
        .search_tabs .search_tab {            
            /*border-bottom: 1px solid silver;*/
            margin-bottom: 0px;
            padding-bottom: 6px;
            width: 50%;            
            cursor:pointer;
            display:flex;
            justify-content: space-around;
        }
        .search_tabs .active {
            color:#e63a3a;
            border-bottom: 3px solid #ed3f62;
        }
        .search_tabs .search_tab .search_tab_title {            
            font-size:15px;
            align-self: flex-end;
        }
        .search_panel {
            display:none;
            background-color:white;
        }
        .hot_tags {
            display:block;
        }
        .hot_tag {
            display:inline-block;
            float:left;
            padding: 5px 10px 10px 10px;
            margin-top:15px;
        }
        .hot_tag .hot_tag_title {
            padding:6px 16px 6px 16px; 
            background-color:#f8f8f8;
            color:#4a4a4a;
            font-size:15px;
            border-radius: 18px;
        }
        .content_search .search_hot_wrap {
            padding-bottom:20px;
        }
        .search_history_tags {
            display:flex;
            flex-direction:column;
            margin-bottom:240px;
            box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.09);
        }
        .search_history_tag_line {            
            color: #666;
            border-bottom: 1px solid #ddd;
            height: 44px;
            width: 100%;
            line-height: 44px;
            display:flex;
            justify-content:space-between;
        }
        .search_history_tag {
            flex:2;
            padding-left:10px;
        }
        .search_history_tag a {
            display:block;  
            color:black;
        }
        .fa-arrow-up {
            line-height:48px;
            margin-right:13px;
        }
        .fa-trash {
            color:silver;
        }
        .search_hitstor_bottom {
            display:flex;
            justify-content:center;            
        }
        .search_hitstor_bottom div {
            line-height:40px;
            padding-top:8px;
        }
        .content_search .search_auto_wrap li i {
            float: right;
            margin-right: 20px;
            line-height: 44px;
            color: #666;
        }
        .content_search .search_auto_wrap ul li span {
            margin-left: 0px;
        }
        .content_search .search_auto_wrap ul li a {
            display: block;
            color: #666;
            border-bottom: 1px solid #ddd;
            height: 44px;
            width: 100%;
            line-height: 44px;
            padding-left: 10px;
        }
        .fa-clock-o {
            color:lightgray;
        }
        .content_search .search_hot_wrap {
            margin-top:0px;
        }
        .content_search .search_history_wrap {
            margin-top:0px;
        }
        .content_search .search_box_wrap .search_bar input.search_bar_input {
            height:36px;
        }
        .content_search .search_hot_wrap {
            margin-bottom: 240px;
            box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.09);
            border-top: 1px solid #ddd;
        }
        .content_search .search_box_wrap .search_bar {
            border: 1px solid #ddd;
            width: 100%;
            overflow: hidden;
            background: #fff;
            border-radius: 10px;            
            display:flex;
        }
        .content_search .search_box_wrap .search_bar input.search_bar_input {
            border: none;
            outline: none;
            height: 32px;
            width: 100%;
            padding-left: 0px;
            font-size: 100%;
            line-height: 32px;
        }
        .content_search .search_box_wrap .search_bar i.fa-search {            
            position:static;
            width:unset;
            height:unset;
            line-height: 34px;            
            cursor: pointer;
            color:lightgray;
        }
        .content_search .search_history_wrap i.fa-arrow-up {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            color: lightgray;
        }
        .icon_search {
            width: 16px;
            height: 16px;
            margin-top: 9px;
        }
        .icon_clock {
            width: 16px;
            height: 16px;
        }
        .icon_trash {
            width: 16px;
            height: 16px;
        }
        .search_history_tag_paste {
            margin-right: 20px;
            margin-top: 13px;
        }
    </style>
}

<div class="content_search">

    <div class="search_box_wrap">
        <div class="search_bar">
            <div style="padding-right:3px; padding-left:6px;" onclick="$('.search_bar_input').focus()">
                <img src="/content/img/search.png" class="icon_search">
                @*<i class="fa fa-search fa-lg fa-fw"></i>*@    
            </div>
            <div>
                <input type="text" autocomplete="off" class="search_bar_input" placeholder="輸入餐廳、產品等關鍵字">
            </div>
            <i class="fa fa-spin fa-spinner fa-lg fa-fw"></i>            
        </div>
    </div>

    <div class="search_tabs">
        <div data-target=".search_hot_wrap" class="search_tab"><div class="search_tab_title">熱門搜尋</div></div>
        <div data-target=".search_history_wrap" class="search_tab"><div class="search_tab_title">搜尋記錄</div></div>
    </div>


    <div class="search_hot_wrap search_panel">
        

    </div>

    <div class="search_history_wrap search_panel">

    </div>

    <div class="search_auto_wrap search_panel">

    </div>
</div>
