﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Mobile/_Site.cshtml";
}

@section header{
    <style>
        .drag-drop-upload-container {
            margin-top: 30px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.drag-drop-upload-container :file').click(function() {
                $('#message').text('');
            });
            $('.drag-drop-upload-container :file').change(function() {
                previewImageFile(this.files[0], $(this).closest('.drag-drop-upload'));
                handleFiles(this.files, $(this).closest('.drag-drop-upload'));
            });

            function handleFiles(files, holder) {
                for (var i = 0; i < files.length; i++) {
                    var fd = new FormData();
                    fd.append('upload', files[i]);
                    console.log('try send file');
                    sendFileToServer(fd, holder);
                }
            }

            function sendFileToServer(formData, holder) {
                var request = new XMLHttpRequest();
                request.onload = function() {
                    if (request.status == 200) {
                        var res = $.parseJSON(request.responseText);
                        
                        if (res.Code == 1000) {
                            console.log('ok: got file. url is ' + res.Data.MemberPic);
                            $('#message').text('上傳成功');
                        } else {
                            $('#message').text('上傳失敗,代碼:' + res.Code + ", 錯誤訊息: " + res.Message);
                        }
                    } else {
                        alert('發生錯誤. 找 IT 處理');
                    }
                }

                request.open("POST", "/api/memberservice/UpdateMemberPic");
                request.send(formData);
            }


            function deleteDragDropUploadElemtns(holder) {
                $(holder).find('.ddu-edit').remove();
                $(holder).find('.previewImage').remove();
                $(holder).find('.ddu-edit').remove();
                $('#hidAppDealPic').val('');
                $(holder).removeClass('drag-drop-upload-ok');
            }

            function previewImageFile(file, holder) {
                deleteDragDropUploadElemtns(holder);
                var reader = new FileReader();
                reader.onload = function(event) {
                    console.log('previewImageFile');
                    showImage(event.target.result, holder);
                };

                reader.readAsDataURL(file);
            }

            function showImage(targetSrc, holder, opacity) {
                //opacity = opacity | 0.2;

                var image = new Image();

                $(image).attr('src', targetSrc);

                $(image).css('width', '200px').addClass('previewImage');

                $(image).css({ 'opacity': opacity });
                $(holder).append(image);
                $(holder).addClass('drag-drop-upload-ok');

            }
        });
    </script>
}

<div class="content_search">
    <!--// search_box_wrap 搜尋列//-->
    <div class="search_box_wrap">
        <div class="search_bar" style="padding: 20px; width:95%">
            <div><h3 style="display:inline-block; width:120px">更新會員圖片</h3><div id="message" style="display:inline-block; width:400px"></div></div>
            <div class="drag-drop-upload-container">
                <div class="drag-drop-upload" id="appDealPicDiv" style="margin-top: 10px; width: 480px; height: 400px;">
                    <p style="margin-top: 20px; margin-left: 20px">
                        <input type="file" value="選取檔案" style="padding: 3px" placeholder="選擇檔案上傳" accept=".png, .jpg, .jpeg" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// 自動提示//end-->