.fl { float:left; }
.fr { float:right; }
.deal_pic .hotdeal { width:97px; height:97px; position:absolute; top:-10px; left:-10px; background:url(../images/tc_button.png) no-repeat; }
.deal_pic .soldout { width:97px; height:97px; position:absolute; top:-10px; left:-10px; background:url(../images/tc_button.png) 0 -100px no-repeat; }
.tc_deal_sort { width:958px; text-align:left; position:relative; border-radius: 3px; border:1px solid #CCC; background:#FFF; }
.tc_deal_sort .arrow { width:15px; height:9px; position:absolute; bottom:-9px; left:20px; background:url(../images/down_arrow.png) no-repeat; }
.tc_deal_sort .red { color:#F00; }
.tc_deal_sort ul {  margin:0 40px; }
.tc_deal_sort li { width:85px; text-align:center; list-style:none; float:left; margin:0 10px; font-size:12px; line-height:28px; }
.tc_deal_sort li a { width:85px; color:#555; display:inline-block; }
.tc_deal_sort li a:hover, .tc_deal_sort li .selected { background:url(../../default/images/17Life/G2/ppon-M1_HKL_listBg_hover.png) repeat-x; }
.tc_big_content_area { width:960px; height:415px; margin:0 0 20px 0; }
.tc_big_content_area .b_content_box { width:469px; height:400px; margin:10px 4px; border:1px solid #CCC; background:#FFF; box-shadow:0px 1px 2px rgba(0%, 0%, 0%, .15); }
.tc_big_content_area .b_content_box:hover, .tc_small_content_area .s_content_box:hover { border-color:#BF0000; }
.tc_big_content_area .b_content_box .title { width:450px; height:45px; margin:15px auto; font-size:16px; color:#333; line-height:22px; font-family:"微軟正黑體", sans-serif; overflow:hidden; }
.tc_big_content_area .b_content_box .title a { color:#333; }
.tc_big_content_area .b_content_box .fb_like { width:100px; height:20px; margin:-10px 10px; text-align:right; }
.tc_big_content_area .b_content_box .deal_pic { width:454px; height:253px; margin:30px auto 5px auto; position:relative; }
.tc_big_content_area .b_content_box .deal_pic .time_counter { width:454px; height:30px; display:none; text-align:center; font-size:18px; line-height:30px; color:#FFF; position:absolute; bottom:0; background:url(../images/tr70bg.png) repeat; }
.deal_pic .time_counter .day { font-size:10px; line-height:30px; }
.tc_big_content_area .b_content_box .bottom { width:469px; height:52px; color:#333; background:url(../images/tc_big_deal_bottom.png); }
.tc_big_content_area .b_content_box .bottom .discount { width:60px; margin:5px 10px; font-size:26px; border-right:1px solid #FFCCBF; }
.tc_big_content_area .b_content_box .bottom .text, .tc_big_content_area .b_content_box .bottom .smalltext { font-size:13px; color:#333; font-family:"微軟正黑體", sans-serif; }
.tc_big_content_area .b_content_box .bottom .price { margin:5px 10px 5px 0; font-size:26px; }
.tc_big_content_area .b_content_box .bottom .ori { width:50px; margin-top:20px; font-size:12px; color:#CCC; text-decoration:line-through; }
.bottom .buyer { width:115px; margin:13px 0 0 15px; font-size:20px; font-weight:bold; color:#BF0000; }
.tc_big_content_area .b_content_box .bottom .go_button { width:95px; height:35px; margin:12px 5px 0 0; font-size:0px; text-indent:-9999px; display:inline-block; background:url(../images/tc_button.png) -110px 0 no-repeat; }
.tc_big_content_area .b_content_box .bottom .go_button:hover { background:url(../images/tc_button.png) -110px -40px no-repeat; }
.tc_small_content_area { width:960px; margin-bottom:20px; }
.tc_small_content_area .s_content_box { width:310px; height:343px; margin:15px 4px; border:1px solid #CCC; background:#FFF; box-shadow:0px 1px 2px rgba(0%, 0%, 0%, .15); }
.tc_small_content_area .s_content_box .title { width:290px; height:60px; margin:10px auto; font-size:14px; color:#333; line-height:20px; font-family:"微軟正黑體", sans-serif; overflow:hidden; }
.tc_small_content_area .s_content_box .title a { color:#333; }
.tc_small_content_area .s_content_box .title .rank { width:38px; height:34px; margin-right:5px; padding-top:4px; float:left; font-size:14px; font-weight:bold; color:#FFF; line-height:16px; text-align:center; background:#BF0000; }
.tc_small_content_area .s_content_box .fb_like { width:100px; height:20px; margin:-10px 10px 5px 10px; text-align:right; }
.tc_small_content_area .s_content_box .deal_pic { width:290px; height:162px; margin:25px auto 5px auto; position:relative; }
.tc_small_content_area .s_content_box .deal_pic .time_counter { width:290px; height:30px; display:none; text-align:center; font-size:16px; line-height:30px; color:#FFF; position:absolute; bottom:0; background:url(../images/tr70bg.png) repeat; }
.tc_small_content_area .s_content_box .smallprice .discount { width:60px; margin:0px 10px; font-size:26px; border-right:1px solid #FFCCBF; }
.tc_small_content_area .s_content_box  .text, .tc_small_content_area .s_content_box  .smalltext { font-size:13px; color:#333; font-family:"微軟正黑體", sans-serif; }
.tc_small_content_area .s_content_box .smallprice .price { margin-right:10px; font-size:26px; }
.tc_small_content_area .s_content_box .smallprice .ori { width:50px; margin-top:16px; font-size:12px; color:#CCC; text-decoration:line-through; }
.tc_small_content_area .s_content_box .bottom { width:310px; height:42px; color:#333; background:url(../images/tc_small_deal_bottom.png); }
.tc_small_content_area .s_content_box .bottom .buyer { margin:5px 0 0 10px; }
.tc_small_content_area .s_content_box .bottom .go_button { width:75px; height:30px; margin:8px 8px 0 0; font-size:0px; text-indent:-9999px; display:inline-block; background:url(../images/tc_button.png) -210px 0 no-repeat; }
.tc_small_content_area .s_content_box .bottom .go_button:hover { background:url(../images/tc_button.png) -210px -40px no-repeat; }