﻿@using LunchKingSite.Core

@{
    ViewBag.Title = "17Life砍價活動";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}

@section header {

    <link type="text/css" href="../../Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Tools/js/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            loadDatePicker();

            $('#btnAddCampaign').click(function () {

                var formData = new FormData();
                formData.append('imageFile', $('#campaignImage')[0].files[0]);
                formData.append('name', $('#campaignName').val());
                formData.append('title', $('#campaignTitle').val());
                formData.append('bonusTotal', $('#campaignBonusTotal').val());
                formData.append('enableBuddyReward', $('#campaignEnableBuddyReward').is(':checked'));
                formData.append('startTime', $('#campaignStartTime').val());
                formData.append('endTime', $('#campaignEndTime').val() + " 23:59:59");

                //var data = {
                //    name: $('#campaignName').val(),
                //    title: $('#campaignTitle').val(),
                //    image: $('#campaignImage')[0].files[0],
                //    startTime: $('#campaignStartTime').val(),
                //    endTime: $('#campaignEndTime').val(),
                //};
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddCampaign")",
                    contentType: false,
                    data: formData,
                    processData: false,
                    //data: formData,
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        if (res.Success == 1) {
                            waitingDialog.alert('新增完成', function () {
                                location.href = '/controlroom/game/home';
                            });
                            
                        } else {
                            waitingDialog.alert(res.Message, function () {
                            });
                        }
                    }, error: function () {
                        waitingDialog.alert('新增失敗', function () {
                        });
                    }
                });
            });

        });

        function loadDatePicker() {
            if ($(".datepicker").length > 0) {
                $(".datepicker").datepicker({
                    dateFormat: "yy-mm-dd",
                    minDate: new Date()
                });
            }
        }


    </script>
}

<div id="container">
    <h2>活動遊戲設定</h2>
        <div id="editCampaignContainer" class="tab-panel">
            <div class="editor-header">
                代號
            </div>
            <div class="editor-body">
                <input id="campaignName" type="text" style="width:95%" />
            </div>
            <div class="editor-header">
                名稱
            </div>
            <div class="editor-body">
                <input id="campaignTitle" type="text" style="width:95%" />
            </div>
            <div class="editor-header">
                圖片
            </div>
            <div class="editor-body">
                <input type="file" id="campaignImage" name="campaignImage">
            </div>
            <div class="editor-header">
                開始與結束時間
            </div>
            <div class="editor-body">
                <input id="campaignStartTime" type="text" class="datepicker" /> 00:00:00~
                <input id="campaignEndTime" type="text" class="datepicker" /> 23:59:59
            </div>
            <div class="editor-header">
                紅利金發放總額
            </div>
            <div class="editor-body">
                <input id="campaignBonusTotal" name="campaignBonusTotal" type="text" />
            </div>
            <div class="editor-header">
                <input type="checkbox" id="campaignEnableBuddyReward" name="campaignEnableBuddyReward">
                是否發放紅利金
            </div>
            <div class="editor-buttons text-left">
                <button id="btnAddCampaign" class="btn btn-warning">新增</button>
            </div>

        </div>

</div>

<script type="text/javascript">
    var waitingDialog = waitingDialog || (function ($) {
        'use strict';

        // Creating modal dialog's DOM
        var $dialog = $(
            '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
            '<div class="modal-dialog modal-m">' +
            '<div class="modal-content">' +
            '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
            '<div class="modal-body">' +
            '<div class="dialog-alert text-right"><button class="btn btn-lg btn-primary" onclick="waitingDialog.hide()">確定</button></div>' +
            '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
            '</div>' +
            '</div></div></div>');

        return {
            /**
             * Opens our dialog
             * param message Custom message
             * param options Custom options:
             * 				  options.dialogSize - bootstrap postfix for dialog size, e.g. "sm", "m";
             * 				  options.progressType - bootstrap postfix for progress bar type, e.g. "success", "warning".
             */
            show: function (message, options) {
                // Assigning defaults
                if (typeof options === 'undefined') {
                    options = {};
                }
                if (typeof message === 'undefined') {
                    message = 'Loading';
                }
                var settings = $.extend({
                    dialogSize: 'm',
                    progressType: '',
                    onHide: null // This callback runs after the dialog was hidden
                }, options);

                // Configuring dialog
                $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
                $dialog.find('.progress-bar').attr('class', 'progress-bar');
                if (settings.progressType) {
                    $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
                }
                $dialog.find('h3').text(message);
                $dialog.find('.progress').show();
                $dialog.find('.dialog-alert').hide();
                // Adding callbacks
                if (typeof settings.onHide === 'function') {
                    $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
                        settings.onHide.call($dialog);
                    });
                }
                // Opening dialog
                $dialog.modal();
            },
            alert: function (message, onHide) {
                $dialog.find('h3').text(message);
                $dialog.find('.progress').hide();
                $dialog.find('.dialog-alert').show();
                if ($dialog.is(':visible') == false) {
                    $dialog.modal();
                }
                if (typeof onHide === 'function') {
                    $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
                        onHide.call($dialog);
                    });
                }
            },
            /**
             * Closes dialog
             */
            hide: function () {
                $dialog.modal('hide');
            }
        };
    })(jQuery);
</script>