﻿@using LunchKingSite.Core.Models.GameEntities;
@model  List<GameCampaign>
@{
    ViewBag.Title = "17Life砍價活動";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}

@section header {

    <link type="text/css" href="../../Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Tools/js/jquery-ui-1.12.1.min.js"></script>

    <style type="text/css">

    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            
        })

    </script>
}

<div id="container">
    <h2>活動遊戲設定</h2>

    <button type="button" onclick="location.href = '/controlroom/game/Add'" class="btn btn-warning">新增活動</button><br />
    <table class="table table-content" >
        <thead>
            <tr>
                <td>id</td>
                <td>活動名稱</td>
                <td>活動時間</td>
                <td>功能</td>
            </tr>
        </thead>
        <tbody>
            @foreach (GameCampaign campaign in Model)
            {
                <tr>
                    <td>@campaign.Id</td>
                    <td>@campaign.Title</td>
                    <td>@campaign.StartTime.ToString("yyyy/MM/dd HH:mm:ss") ~ <br />@campaign.EndTime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                    <td>
                        <button type="button" class="btn btn-warning" onclick="location.href = '/controlroom/game/Edit?campaignId=@campaign.Id'" >編輯</button>
                        <button type="button" class="btn btn-warning" onclick="window.open('@Url.Action("Home", "Game", new { campaignName = campaign.Name })', '_blank')">預覽</button>
                    </td>
                </tr>
            }
        </tbody> 
</table>
    

</div>
