﻿@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

@using LunchKingSite.BizLogic.Model.API
@model IDEASStationData

@section SSC {
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>

    <script type="text/javascript" src="@Url.Content("../../Tools/js/jquery-ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("../../Tools/js/jquery.ui.datepicker-zh-TW.js")"></script>
    <link type="text/css" href="@Url.Content("../../Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" rel="stylesheet" />
    <style>
.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}
        </style>
    <script>
        /*
         * Translated default messages for the jQuery validation plugin.
         * Locale: ZH (Chinese; 中文 (Zhōngwén), 汉语, 漢語)
         * Region: TW (Taiwan)
         */
        (function ($) {
            $.extend($.validator.messages, {
                required: "必須填寫",
                remote: "請修正此欄位",
                email: "請輸入有效的電子郵件",
                url: "請輸入有效的網址",
                date: "請輸入有效的日期",
                dateISO: "請輸入有效的日期 (YYYY-MM-DD)",
                number: "請輸入正確的數值",
                digits: "只可輸入數字",
                creditcard: "請輸入有效的信用卡號碼",
                equalTo: "請重複輸入一次",
                extension: "請輸入有效的後綴",
                maxlength: $.validator.format("最多 {0} 個字"),
                minlength: $.validator.format("最少 {0} 個字"),
                rangelength: $.validator.format("請輸入長度為 {0} 至 {1} 之間的字串"),
                range: $.validator.format("請輸入 {0} 至 {1} 之間的數值"),
                max: $.validator.format("請輸入不大於 {0} 的數值"),
                min: $.validator.format("請輸入不小於 {0} 的數值")
            });
        }(jQuery));


        $().ready(function () {
            $("#submitForm").validate({
                errorClass: "my-error-class",
                validClass: "my-valid-class",
                errorLabelContainer: '#errors',
                wrapper: 'li',
                rules: {
                    Id: {
                        required: true,
                        digits: true,
                        min: 1
                    }
                }
            });

            if ($('#Id').val() != '0')
            {
                $('#Id').attr('readonly', true);
            }
        })
    </script>

}

<a href="@Url.Action("IDEASStationList")">回資策會播放平台設定頁面</a>
<p>&nbsp;</p>

@using (Html.BeginForm("IDEASStationAdd", "IDEAS", FormMethod.Post, new { id = "submitForm" }))
{
    
    <fieldset>
    <legend>資策會播放平台設定</legend>
    <table style="width: 500px">
        <tr>
            <td class="title" style="text-align:right">
                @Html.Label("Id", "平台ID:")
            </td>
            <td class="bgBlue">
                @Html.TextBox("Id", Model.Id)
            </td>
        </tr>
        <tr>
            <td class="title" style="text-align:right">@Html.Label("Title", "平台名稱:")</td>
            <td class="bgBlue">
                @Html.TextBox("Title", Model.Title, new { @class = "required" })
            </td>
        </tr>
        <tr>
            <td class="title" style="text-align:right">
                @Html.Label("CouponDealBroadcastMinutes", "團購輪播時間:")
            </td>
            <td class="bgBlue">
                @Html.TextBox("CouponDealBroadcastMinutes", Model.CouponDealBroadcastMinutes, new { @class = "required digits" })
            </td>
        </tr>
        <tr>
            <td class="title" style="text-align:right">
                @Html.Label("DeliveryDealBroadcastMinutes", "宅配輪播時間:")
            </td>
            <td class="bgBlue">
                @Html.TextBox("DeliveryDealBroadcastMinutes", Model.DeliveryDealBroadcastMinutes, new { @class = "required digits" })
            </td>
        </tr>
        <tr>
            <td class="title" style="text-align:right">
                @Html.Label("VourcherStoreBroadcastMinutes", "優惠券輪播時間:")
            </td>
            <td class="bgBlue">
                @Html.TextBox("VourcherStoreBroadcastMinutes", Model.VourcherStoreBroadcastMinutes, new { @class = "required digits" })
            </td>
        </tr>
        <tr>
            <td colspan="2" class="bgBlue" style="text-align: center">
                <input type="submit" value="儲存" id="btnItemSave" style="color:Blue;" />
                <input type="reset" value="復原" id="btnCancel" style="color:Red;" />
                <input type="button" value="取消" id="btnBack" style="color:Red;" onclick="history.back();" />
            </td>
        </tr>
    </table>
    <div id="errors"></div>
  </fieldset>
}