﻿@{  
    ViewBag.Title = "資策會播放平台設定";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}
@using LunchKingSite.WebLib.Models.IDEAS
@model IDEASStationListModel

@section SSC {
    <!--link href="http://marcoceppi.github.io/bootstrap-glyphicons/css/bootstrap.css" rel="stylesheet"-->
    <!--link href="http://marcoceppi.github.io/bootstrap-glyphicons/css/bootstrap-responsive.css" rel="stylesheet"-->
    <!--link href="http://marcoceppi.github.io/bootstrap-glyphicons/css/bootstrap.icon-large.min.css" rel="stylesheet"-->

    <style type="text/css">
        .divListContent {
            width: 600px;
        }

            .divListContent h3 {
                width: 600px;
                height: 22px;
            }

            .divListContent div.divListContentTitle {
                background-color: #5f9ea0;
            }

            .divListContent table.listTable {
                width: 600px;
            }
    </style>
}

<h2>@ViewBag.Title</h2>

<div class="divListContent">
        <a href="@Url.Action("IDEASStationAdd")">新增播放平台</a>
    <table class="listTable">
        <tr style="background-color: #ffc690; text-align: center;">
            <td style="width:60px">平台ID</td>
            <td>名稱</td>
            <td style="width:60px">編輯</td>
        </tr>
        @foreach (var data in Model.DataList)
        {
            <tr style="background-color: #b3d5f0; text-align:left;" >
                <td style="text-align:center">
                    @data.StationId
                </td>
                <td style="padding-left:10px">
                    <a href="@Url.Action("IDEASStationShow", new { id = data.StationId })">
                        @data.Title</a>
                </td>
                <td style="text-align:center">
                    <a href="@Url.Action("IDEASStationAdd", new { id = data.StationId })">編輯
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
