@charset "utf-8";
/* CSS Document */
body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #E1F2FA;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
input {
	border: 1px solid #2294AE;
}

img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#mainWrapper #smallheader  {
	background-attachment: scroll;
	background-image: url(topbg_1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 57px;
	width: 737px;
	margin-right: auto;
	margin-left: auto;
}

#mainWrapper #smallwrapper {
	width: 737px;
	margin-right: auto;
	margin-left: auto;
	background-attachment: scroll;
	background-image: url(contentbg_1.jpg);
	background-repeat: repeat-y;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #198CA9;
}
#mainWrapper #smallwrapper .navibar {
	float: left;
	width: 687px;
	margin-right: 25px;
	margin-left: 25px;
}
#mainWrapper #smallwrapper .radio  {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#mainWrapper #smallwrapper #footer {
	clear: both;
	width: 737px;
	text-align: center;
}

#mainWrapper #smallwrapper #content {
	float: left;
	width: 687px;
	padding-right: 25px;
	padding-left: 25px;
}
#mainWrapper #smallwrapper #content .leftbox p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#mainWrapper #smallwrapper #content .leftbox {
	float: left;
	width: 687px;
}
#mainWrapper #smallwrapper #content .rightbox {
	float: left;
	width: 137px;
	text-align: center;
	height: 38px;
	background-color: #999;
}

#mainWrapper #smallwrapper #content .useraddress {
	float: left;
	width: 685px;
	border: 1px solid #2294AE;
	padding-bottom: 10px;
}
#mainWrapper #smallwrapper #content .useraddress table {
	float: left;
	width: 670px;
}
#mainWrapper #smallwrapper #content .useraddress table th {
	width: 200px;
	text-align: right;
	font-weight: normal;
}


#mainWrapper #smallwrapper #content .useraddress ul {
	list-style-type: none;
	padding: 0px;
}
#mainWrapper #smallwrapper #content .useraddress li {
	padding-bottom: 2px;
	padding-left: 20px;
}
#mainWrapper #smallwrapper #content .useraddress img {
	float: right;
}

#mainWrapper #smallwrapper #useredit {
	float: left;
	width: 687px;
	padding-right: 25px;
	padding-left: 25px;
}

#mainWrapper #smallwrapper #useredit #areatop {
	width: 687px;
	float: left;
}
#mainWrapper #smallwrapper #useradd p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#mainWrapper #smallwrapper #useradd {
	float: left;
	width: 697px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#mainWrapper #smallwrapper #useradd .redpoint {
	color: #F00;
}
#mainWrapper #smallwrapper #useredit .editerea .redstart {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #F00;
}

#mainWrapper #smallwrapper #useradd .bluepoint {
	color: #1898B3;
}
#mainWrapper #smallwrapper #useredit .editerea .imgline {
	text-align: right;
	width: 665px;
	float: left;
}
#mainWrapper #smallwrapper #useredit .editerea {
	float: left;
	width: 667px;
	border: 1px solid #2294AE;
	padding: 10px;
}

#mainWrapper #smallwrapper #useredit .editerea p {
	font-size: 15px;
	font-family: Verdana, Geneva, sans-serif;
}
#mainWrapper #smallwrapper #useredit #areatop p {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-weight: bold;
}
#mainNavigation {
	height: 23px;
	width: 989px;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
	padding-right: 22px;
}
#mainHeader {
	height: 152px;
	width: 991px;
	margin-right: auto;
	margin-left: auto;
	background-attachment: scroll;
	background-image: url(bg_top.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 30px;
	padding-left: 20px;
}
#mainWrapper {
	width: 1011px;
	margin-right: auto;
	margin-left: auto;
	background-attachment: scroll;
	background-image: url(bg_center.jpg);
	background-repeat: repeat-y;
}
#mainFooter {
	height: 102px;
	width: 1011px;
	margin-right: auto;
	margin-left: auto;
	background-attachment: scroll;
	background-image: url(bg_bottom.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	padding-top: 20px;
}
#mainFooter p {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
#mainWrapper #contentTop {
	background-attachment: scroll;
	background-image: url(box_top.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	height: 53px;
	width: 914px;
	margin-left: 45px;
}
#mainWrapper #contentCenter {
	background-attachment: scroll;
	background-image: url(box_center.jpg);
	background-repeat: repeat-y;
	float: left;
	width: 914px;
	margin-left: 45px;
	padding-top: 5px;
}
#mainWrapper #contentBottom {
	height: 22px;
	width: 914px;
	background-attachment: scroll;
	background-image: url(box_bottom.jpg);
	background-repeat: no-repeat;
	margin-left: 45px;
	clear: both;
}

#mainWrapper #contentCenter #leftArea {
	float: left;
	width: 425px;
	padding-right: 10px;
	padding-left: 20px;
}



#mainWrapper #contentCenter #leftArea .contentBox {
	float: left;
	width: 423px;
	border: 2px solid #249BB3;
	margin-top: 8px;
}
#mainWrapper #contentCenter #leftArea .contentBox .contentTop {
	float: left;
	height: 27px;
	width: 423px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #249BB3;
	background-color: #FFFFE8;
	text-align: center;
	padding-top: 5px;
}
#mainWrapper #contentCenter #leftArea .contentBox .contentBottom{
	width: 423px;
	float: left;
	height: 80px;
}
#mainWrapper #contentCenter #leftArea .contentBox .contentBottom .aimg {
	float: left;
	height: 70px;
	width: 70px;
	padding-top: 10px;
	padding-left: 10px;
}
#mainWrapper #contentCenter #leftArea .contentBox .contentBottom .bword {
	float: left;
	height: 45px;
	width: 343px;
}
#mainWrapper #contentCenter #leftArea .contentBox .contentBottom .cbtn {
	float: left;
	height: 33px;
	width: 343px;
	text-align: right;
}


#mainWrapper #contentCenter #leftArea .contentBox .contentbtn img {
	float: right;
	margin-right: 10px;
}
#mainWrapper #contentCenter #leftArea .contentBox .contentBottom ul {
	padding-left: 10px;
	margin-left: 15px;
	float: left;
	list-style-type: square;
	width: 300px;
	margin-top: 10px;
}
#mainWrapper #contentCenter #leftArea .contentBox .contentBottom ul li {
	font-size: 0.75em;
}
#mainWrapper #contentCenter #rightArea {
	float: right;
	width: 425px;
	padding-right: 25px;
	padding-left: 5px;
}
#mainWrapper #contentCenter #rightArea .contentBox {
	float: left;
	width: 423px;
	border: 2px solid #249BB3;
	margin-top: 8px;
}
#mainWrapper #contentCenter #rightArea .contentBox .contentTop {
	float: left;
	height: 27px;
	width: 423px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #249BB3;
	background-color: #FFFFE8;
	text-align: center;
	padding-top: 5px;
}
#mainWrapper #contentCenter #rightArea .contentBox .contentBottom{
	width: 423px;
	clear: left;
	height: 80px;
}
#mainWrapper #contentCenter #rightArea .contentBox .contentbtn img {
	float: right;
	margin-right: 10px;
}
#mainWrapper #contentCenter #rightArea .contentBox .contentBottom ul {
	padding-left: 10px;
	margin-left: 15px;
	float: left;
	list-style-type: square;
	margin-top: 10px;
}
#mainWrapper #contentCenter #rightArea .contentBox .contentBottom ul li {
	font-size: 0.75em;
}
#mainWrapper #ordercontentTop {
	background-attachment: scroll;
	background-image: url(../A31/orderbox_top.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	height: 33px;
	width: 900px;
	margin-left: 45px;
	text-align: right;
	padding-top: 20px;
	padding-right: 14px;
}
#mainWrapper #OdercontentCenter table {
	width: 909px;
	float: left;
	margin-left: 2px;
}
#mainWrapper #OdercontentCenter table p {
	font-family: Verdana, Geneva, sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
}

#mainWrapper #OdercontentCenter table th {
	height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #21A3BB;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #21A3BB;
}

#mainWrapper #OdercontentCenter {
	background-attachment: scroll;
	background-image: url(box_center.jpg);
	background-repeat: repeat-y;
	float: left;
	width: 914px;
	margin-left: 45px;
}
#mainWrapper #smallwrapper #content .useraddress .showtranspot {
	width: 685px;
	float: left;
}
#mainWrapper #smallwrapper #content .useraddress .showtranspot img {
	float: left;
}
#mainWrapper .OrdConTop {
	float: left;
	height: 53px;
	width: 914px;
	margin-left: 45px;
	margin-top: 5px;
}
#mainWrapper .OrdConCenter {
	background-attachment: scroll;
	background-image: url(box_center.jpg);
	background-repeat: repeat-y;
	float: left;
	width: 914px;
	margin-left: 45px;
}
#mainWrapper .OrdconBottom {
	height: 22px;
	width: 914px;
	background-attachment: scroll;
	background-image: url(box_bottom.jpg);
	background-repeat: no-repeat;
	margin-left: 45px;
	clear: both;
}

#mainWrapper .OrdConCenter table {
	width: 909px;
	float: left;
	margin-left: 2px;
}
#mainWrapper .OrdConCenter table th {
	height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #21A3BB;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #21A3BB;
	background-color: #ffffe5;
}
#mainWrapper .OrdConCenter table td img {
	padding-right: 2px;
	padding-left: 2px;
}
#mainWrapper .OrdConCenter table .redtext {
	color: #F00;
}

#mainWrapper .OrdConCenter table p {
	font-family: Verdana, Geneva, sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
}
#mainWrapper .OrdConBox {
	float: left;
	width: 914px;
	margin-left: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#mainWrapper .OrdConBox .redspantext {
	font-weight: bold;
	color: #F00;
	margin-left: 20px;
}
#mainWrapper .OrdConTopa {
	float: left;
	height: 33px;
	width: 904px;
	margin-left: 45px;
	margin-top: 5px;
	background-attachment: scroll;
	background-image: url(../A25/A25_Top1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	padding-top: 20px;
	padding-right: 10px;
}
#mainWrapper .OrdConTopb {
	float: left;
	height: 33px;
	width: 904px;
	margin-left: 45px;
	margin-top: 5px;
	background-attachment: scroll;
	background-image: url(../A25/A25_Top3.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	padding-top: 20px;
	padding-right: 10px;
}
#mainWrapper #OdercontentCenter table .noneuse {
	color: #F00;
}
#mainWrapper #OdercontentCenter table .datetext {
	font-size: 15px;
	color: #000;
}
#mainWrapper .pgroupTop {
	float: left;
	height: 33px;
	width: 903px;
	margin-left: 45px;
	margin-top: 5px;
	background-attachment: scroll;
	background-image: url(../A32/A32_topbg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	padding-top: 20px;
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #2299B1;
}
#mainWrapper .pgroupCenter {
	float: left;
	width: 913px;
	margin-left: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-attachment: scroll;
	background-image: url(box_center.jpg);
	background-repeat: repeat-y;
}
#mainWrapper .pgroupbottom {
	width: 903px;
	background-attachment: scroll;
	background-image: url(box_bottom.jpg);
	background-repeat: no-repeat;
	margin-left: 45px;
	float: left;
	margin-bottom: 10px;
	background-position: left top;
	text-align: right;
	padding-top: 25px;
	padding-right: 10px;
}
#mainWrapper .pgroupCenter .pgrightarea {
	float: left;
	width: 390px;
	/* height: 300px; */
	margin-left: 5px;
	padding-right: 10px;
}
#mainWrapper .pgroupCenter .pgrightarea .codebox {
	float: left;
	width: 380px;
	text-align: right;
}
#mainWrapper .pgroupCenter .pgleftarea table .dateline {
	color: #00C;
}

#mainWrapper .pgroupCenter .pgrightarea p img {
	border: 1px solid #999;
}
#mainWrapper .pgroupCenter .pgrightarea .codenumtext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
#mainWrapper .pgroupCenter .pgrightarea h1 {
	font-size: 30px;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1em;
}



#mainWrapper .pgroupCenter .pgleftarea {
	float: left;
	width: 480px;
	/* height: 300px; */
	margin-left: 5px;
	padding-left: 20px;
}
#mainWrapper .pgroupCenter .pgleftarea ol li {
	line-height: 2em;
	font-size: 18px;
}
#mainWrapper .pgroupCenter .pgleftarea table p {
	font-size: 20px;
	font-family: Verdana, Geneva, sans-serif;
}

#mainWrapper .pgroupCenter p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
}
#mainWrapper .pgroupdown {
	width: 913px;
	margin-left: 45px;
	height: 310px;
	float: left;
}
#mainWrapper .pgroupdown p {
	margin: 0px;
	padding: 0px;
}
#mainWrapper .pgroupdown .pgdownleft {
	float: left;
	width: 540px;
	padding-right: 5px;
	padding-left: 5px;
}
#mainWrapper .pgroupdown .pgdownright .addresstitle {
	font-weight: bold;
	color: #F00;
	margin-bottom: 0.5em;
}
#mainWrapper .pgroupdown .pgdownleft h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #30959D;
}
#mainWrapper .pgroupdown .pgdownleft .pgdbox {
	width: 515px;
	float: left;
	border: 1px solid #30959D;
	height: 235px;
}
#mainWrapper .pgroupdown .pgdownright p img {
	margin-top: 2px;
}

#mainWrapper .pgroupdown .pgdownright {
	float: left;
	width: 335px;
	padding-left: 20px;
}
#mainWrapper .pgroupdown .pgdownleft .pgdbox ol li {
	font-size: 18px;
	line-height: 2em;
}
#mainWrapper .OrdConCenter #pgroup th {
	background-color: #CCC;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	border-bottom-color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-top: 5px;
	padding-bottom: 5px;
}
#mainWrapper .garyOrdConCenter {
	background-attachment: scroll;
	background-image: url(box_gary_center.jpg);
	background-repeat: repeat-y;
	float: left;
	width: 914px;
	margin-left: 45px;
}
#mainWrapper .garyOrdConCenter table {
	width: 909px;
	float: left;
	margin-left: 2px;
}
#mainWrapper .garyOrdConCenter table th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9C9C9C;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #7B7B7B;
	background-color: #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
}
#mainWrapper .garyOrdConCenter table td img {
	padding-right: 2px;
	padding-left: 2px;
}
#mainWrapper .garyOrdConCenter table .redtext {
	color: #F00;
}
#mainWrapper .garyOrdConCenter table p {
	font-family: Verdana, Geneva, sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
}
#mainWrapper .garyOrdconBottom {
	height: 22px;
	width: 914px;
	background-attachment: scroll;
	background-image: url(box_gary_bottom.jpg);
	background-repeat: no-repeat;
	margin-left: 45px;
	clear: both;
}
#mainWrapper #pgNavigation {
	float: left;
	width: 730px;
	margin-left: 45px;
	margin-top: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 30px;
}
#mainWrapper #pgrightNavi {
	float: left;
	width: 135px;
	margin-top: 5px;
	text-align: right;
	padding-right: 20px;
}
#mainWrapper .pgroupdownnavi {
	width: 893px;
	margin-left: 45px;
	clear: both;
	text-align: right;
	padding-right: 20px;
}
#mainWrapper #contentCenter #rightArea .contentBox .contentBottom .aimg {
	float: left;
	height: 70px;
	width: 70px;
	padding-top: 10px;
	padding-left: 10px;
}
#mainWrapper #contentCenter #rightArea .contentBox .contentBottom .bword {
	float: left;
	height: 45px;
	width: 343px;
}
#mainWrapper #contentCenter #rightArea .contentBox .contentBottom .cbtn {
	float: left;
	height: 33px;
	width: 343px;
	text-align: right;
}
#mainWrapper #smallwrapper #useredit .editerea #form2 table {
	width: 100%;
	font-size: 15px;
}
#mainWrapper #usertips {
	height: 22px;
	width: 904px;
	margin-left: 45px;
	background-attachment: scroll;
	background-image: url(box_center.jpg);
	background-repeat: repeat-y;
	float: left;
	padding-top: 5px;
	padding-left: 10px;
}
#mainWrapper #usertips p {
	margin: 0px;
	font-weight: bold;
	color: #F00;
}
#mainWrapper .OrdConCenter table tr td p .heightTip {
	color: #F00;
}
#mainWrapper .OrdConCenterTips {
	background-attachment: scroll;
	background-image: url(box_center.jpg);
	background-repeat: repeat-y;
	float: left;
	width: 894px;
	margin-left: 45px;
	padding-top: 5px;
	padding-left: 20px;
}
#mainWrapper .OrdConCenterTips p {
	margin: 0px;
	color: #F00;
	font-weight: bold;
}
#mainWrapper .pgroupCenter .pgleftarea table {
	margin-top: 25px;
	margin-bottom: 25px;
}

#logo {
	position: relative; 
	padding:5px 0 0 20px;
	left: 8px;
	top: 8px;
	width: 916px;
	height: 80px;
	background-image:url(17p_01_bg.jpg);
	background-repeat: repeat-x;
}

.pctop {
	float: left;
	height: 33px;
	width: 903px;
	margin-left: 20px;
	margin-top: 5px;
	background-attachment: scroll;
	background-image: url(../A32/A32_topbg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	padding-top: 20px;
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #2299B1;
}
.pcmain {
	float: left;
	width: 913px;
	margin-left: 20px;
	padding-top: 10px;
	background-attachment: scroll;
	background-image: url(box_center.jpg);
	background-repeat: repeat-y;
}

.pcmain .pgleft {
	float: left;
	width: 480px;
	margin-left: 5px;
	padding-left: 20px;
}

.pcmain .pgright {
	float: left;
	width: 390px;
	margin-left: 5px;
	padding-right: 10px;
}

.pcbottom {
	width: 903px;
	background-attachment: scroll;
	background-image: url(box_bottom.jpg);
	background-repeat: no-repeat;
	margin-left: 20px;
	float: left;
	margin-bottom: 10px;
	background-position: left top;
	text-align: right;
	padding-top: 25px;
	padding-right: 10px;
}

.pcdown {
	width: 913px;
	margin-left: 20px;
	height: 310px;
	float: left;
}

.pcdown .pgleft {
	float: left;
	width: 540px;
	padding-right: 5px;
	padding-left: 5px;
}

.pcdown .pgright {
	float: left;
	width: 335px;
	padding-left: 20px;
}