﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@{
    SellerProposalHouseModel pro = ViewBag.Proposal;
    ProposalContractFileCollection pcfc = ViewBag.ProposalContractFile;
    Dictionary<int, string> contractType = ViewBag.ContractType;
    int pid = Convert.ToInt32(pro.ProId);
}
<div id="tab5" class="col s12">

    <div class="card-panel">
        <div class="row">
            <div class="col xl12 l12 m12 s12">
                <span class="header2">列印合約與提案內容供商家覆核</span>
                <div class="form-unit">
                    <label class="unit-label ">
                        合約附註說明
                    </label>
                    <div class="data-input">
                        <p>
                            <span class="note">紙本合約列印專用 (商家系統中的提案無資料)</span>
                            <textarea name="ContractMemo" id="txtContractMemo" cols="30" rows="10">@pro.ContractMemo</textarea>
                        </p>
                    </div>
                </div>
                <div class="center-align" style="margin-bottom:20px;margin-top:10px;">
                    <a class="waves-effect waves-light btn secondary" onclick="window.location.href='@Url.Action("PropsaolDownload", new { pid=pid, IsListCheck=false})';">@ViewBag.DownloadContract</a>
                    <a class="waves-effect waves-light btn secondary" onclick="window.location.href='@Url.Action("PropsaolDownload", new { pid=pid, IsListCheck=true})';">列印上架確認單</a>
                </div>
                <div class="divider" style="margin-bottom:20px;"></div>

                <span class="header2">覆核完成的合約上傳</span>
            </div>
            <div class="col xl6 l12 m12 s12">

                <div class="form-unit">
                    <label class="unit-label ">
                        類型
                    </label>
                    <div class="data-input">
                        <p>
                            <select name="" id="ddlContactType">
                                @foreach (var type in contractType)
                                {
                                    <option value="@type.Key">@type.Value</option>
                                }
                            </select>
                        </p>
                    </div>
                </div>
                <div class="form-unit">
                    <label class="unit-label ">
                        備註/關鍵字
                    </label>
                    <div class="data-input">
                        <input type="text" id="txtContractFileMemo" style="">
                    </div>
                </div>
                <div class="divider hide-on-xlarge-only"></div>

            </div>
            <div class="col xl6 l12 m12 s12">

                <div class="form-unit">
                    <label class="unit-label ">
                        版號
                    </label>
                    <div class="data-input">
                        <input type="text" id="txtContractVersion">
                    </div>
                </div>

                <div class="form-unit">
                    <label class="unit-label ">
                        合約到期日
                    </label>
                    <div class="data-input">
                        <input type="text" id="txtContractDueDate" class="datepicker">
                    </div>
                </div>


            </div>
            <div class="col xl6 l12 m12 s12">

                <div class="form-unit">
                    <label class="unit-label star">
                        乙方聯絡人
                    </label>
                    <div class="data-input">
                        <input type="text" id="txtContractPartyBContact" style="" value="@ViewBag.Contact">
                    </div>
                </div>

            </div>
            <div class="col xl12 l12 m12 s12">
                <div class="divider"></div>
                <div class="form-unit">
                    <label class="unit-label">
                        選擇檔案
                    </label>
                    <div class="data-input">
                        <p class="custom-file-upload">
                            <input type="file" id="fileContract" name="myfiles[]" multiple />
                            <a class="paper_contract_confirm waves-effect waves-light btn" onclick="ContractUpload()">上傳並確認紙本合約已回</a>
                        </p>
                    </div>
                </div>
                <table class="">
                    <thead>
                        <tr>
                            <th class="announcement_content">檔名</th>
                            <th class="">版號</th>
                            <th class="">備註/關鍵字</th>
                            <th class="">合約到期日</th>
                            <th class="">乙方聯絡人</th>
                            <th class="">類型</th>
                            <th class="">建立人員</th>
                            <th class="">建立時間</th>
                        </tr>
                    </thead>
                    <tbody id="tableContract2">
                        @Html.Partial("~/Views/Proposal/_ProposalContractPartial.cshtml", pcfc)
                    </tbody>
                </table>

                <span class="error_message">
                    統一在此填錯誤訊息, 統一在此填錯誤訊息統一在此填錯誤訊息統一在此填錯誤訊息統一在此填錯誤訊息統一在此填錯誤訊息
                </span>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

    });



    //上傳合約
    function ContractUpload() {
        var proposalId = @pid;
        var sellerId = '@pro.SellerId';
        var contractFileType = $('[id*=ddlContactType]').val();
        var contractFileMemo = $("#txtContractFileMemo").val();
        var contractDueDate = $("#txtContractDueDate").val();
        var contractVersion = $("#txtContractVersion").val();
        if (contractDueDate != "") {
            if (!isValidDate(contractDueDate)) {
                alert("輸入日期格式不正確");
                return false;
            }
        }
        var contractPartyBContact = $("#txtContractPartyBContact").val();

        var files = $('#fileContract')[0].files;
        $('.if-error').hide();
        $('.error').removeClass('error');
        if (contractFileType == undefined) {
            $('#pContractFile').show();
            $('[id*=ddlContactType]').parent().parent().addClass('error');
            return false;
        }
        if (proposalId == "" || contractFileType.length == 0) {
            $('#pContractFile').show();
            $('[id*=ddlContactType]').parent().parent().addClass('error');
            return false;
        }
        if ($.trim(contractPartyBContact) == "") {
            $('#pContractPartyBContact').show();
            $("#txtContractPartyBContact").parent().parent().parent().addClass('error');
            return false;
        }
        if (files.length == 0) {
            alert("請選擇檔案");
            return false;
        }

        var formdata = new FormData();
        $.each(files, function (i, file) {
            formdata.append(file.name, file);
        });

        formdata.append("UploadType", "Proposal");
        formdata.append("SellerId", sellerId);
        formdata.append("ProposalId", proposalId);
        formdata.append("ContractFileType", contractFileType);
        formdata.append("ContractFileMemo", contractFileMemo);
        formdata.append("ContractDueDate", contractDueDate);
        formdata.append("ContractPartyBContact", contractPartyBContact);
        formdata.append("ContractVersion", contractVersion);


        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Sal/ContractUpload.ashx")',
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
                var c = JSON.parse(data);
                if (c != undefined) {
                    if (c.IsSuccess) {
                        goto_message("上傳成功", "/sal/proposal/house/proposalcontent?pid=@(pid)");
                    } else {
                        error_message("[上傳失敗]" + c.Message);
                    }
                    //HideDelete();//隱藏delete
                    $("#tableContract2").load('@Url.Action("ProposalContractFileGet", new { pid = pid })');


                }
            },
            error: function (xhr) {
                error_message("[上傳失敗]" + xhr.responseText);
            }
        });
    }

    //下載合約
    function DownLoadProposal(guid) {
        $.ajax(
        {
            type: "POST",
            url: '@Url.Content("~/Sal/SellerContent.aspx/GenTicketId")',
            data: JSON.stringify({
                UserName: '@ViewBag.UserName'
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            dataFilter: function (data) { return data; },
            success: function (data) {
                location.href = "/Sal/ContractDownload.ashx?guid=" + guid + "&UploadType=Proposal&ticketId=" + data.d;
            }, error: function (res) {
                console.log(res);
            }
        });
    }

    //日期檢核
    function isValidDate(dateStr) {

        if (dateStr == null || dateStr == '') return false;
        var parts = dateStr.split('/');
        if (parts.length != 3) return false;
        if (parts[0] > 9999 || parts[0] < 1753)
            return false;
        var accDate = new Date(dateStr);
        if (parseFloat(parts[0]) == accDate.getFullYear()
            && parseFloat(parts[1]) == accDate.getMonth() + 1
            && parseFloat(parts[2]) == accDate.getDate()) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
