﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@{ 
    SellerProposalHouseModel pro = ViewBag.Proposal;

    bool isVbs = false;
    if (ViewBag.IsVbsPro)
    {
        //商家系統
        isVbs = true;
    }

    int proId = default(int);
    string dealContent = string.Empty;
    string remark = string.Empty;
    string description = string.Empty;
    string productspec = string.Empty;
    string inspectRule = string.Empty;
    string imagePath = string.Empty;
    string appDealPic = string.Empty;
    string removeBGPic = string.Empty;
    string removeBGPicUrl = string.Empty;
    bool IsProductionEmp = ViewBag.IsProductionEmp;

    if (pro != null)
    {
        proId = pro.ProId;
        dealContent = pro.DealContent;
        remark = pro.Remark;
        description = pro.Description;
        productspec = pro.ProductSpec;
        inspectRule = pro.InspectRule;
        imagePath = pro.ImagePath;
        appDealPic = pro.AppDealPic;
        removeBGPic = pro.RemoveBGPic;
        removeBGPicUrl = pro.RemoveBGPicUrl;
    }
}
<style>
    .cropit-preview {
        background-color: #fff;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
    }

    .cropit-preview-pc {
        width: 482px;
        height: 269px;
    }

    .cropit-preview-app {
        width: 600px;
        height: 600px;
    }

    .cropit-preview-removeBG {
        width: 502px;
        height: 502px;
    }

    .cropit-preview-image-container {
        cursor: move;
    }
    input.cropit-image-zoom-input {
        position: relative;
    }
    .cropit-preview-background {
        opacity: .2;
    }
    input.cropit-image-zoom-input {
        position: relative;
    }

    /* Limit the background image by adding overflow: hidden */
    #image-cropper {
        overflow: hidden;
    }
</style>

<div id="tab3" class="col s12">
    <div class="card-panel">
        <span class="header2"></span>
        <div class="row">
            <div class="col xl12 l12 m12 s12">
                @if (isVbs == false && IsProductionEmp && !string.IsNullOrEmpty(pro.ProductionDescription))
                {
                    <div class="form-unit">
                        <label class="unit-label">
                            申請製檔內文
                        </label>
                        <div class="data-input">
                            <p>
                                <span class="note">@(Html.Raw(pro.ProductionDescription.Replace("\r\n", "<br />")))</span>
                            </p>
                            <p>
                                <span class="note">@(Html.Raw(string.Join("<br/>", pro.ProductionAssignList)))</span>
                            </p>
                        </div>
                    </div>
                }
                <div class="form-unit">
                    <label class="unit-label">
                        檔次行銷文案
                    </label>
                    <div class="data-input">
                        <p>
                            <span class="note">此區文字會出現在商品檔次面中的最上方橘色文字，建議可以商品特色或話題性的文案進行撰寫</span>
                            <div><input type="text" id="DealContent" name="DealContent" value="@(dealContent)" maxlength="60"></div>
                            <br>
                            <span class="error_message">

                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-unit">
                    <label class="unit-label star">
                        主圖設定
                    </label>
                    <div class="data-input">
                        <div class="image_update">
                            <span class="">電腦版網頁主圖  (使用規格必需符合480×267像素的圖片)</span>
                            <br>
                            <span class="note">請依照規格大小選擇檔案上傳</span>
                            @*<div class="image_update_PC"></div>*@
                            @*<div class="drag-drop-upload" id="image_update_PC" style="width: 484px; height: 271px;">
                                <p style="margin-top: 60px; margin-left: 160px">將圖片拖曳奕到這裡上傳</p>
                            </div>*@
                            <br />
                            <img id="image_update_PC_ReadOnly" style="display:none"  />
                            <div id="image_update_PC" style="width:100%;">
                                <input type="file" class="cropit-image-input" id="file_PC">
                                <div class="cropit-preview cropit-preview-pc"></div>
                                <div class="btn_action btn_bottom">
                                    <div>
                                        <i class="fa fa-picture-o fa" aria-hidden="true"></i>
                                        <input type="range" class="cropit-image-zoom-input">
                                        <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="all">
                                        <a class="bg_red export crpoit_export" id="crpoit_export_pc">確認</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="image_update">
                            <span class="">APP / 行動版網頁主圖  (建議最大至600×600像素的正方型圖片)</span>
                            <br>
                            <span class="note">請以選擇檔案上傳，然後進行範圍選取</span>
                            @*<div class="image_update_APP"></div>*@
                            @*<div class="drag-drop-upload" id="image_update_APP" style="width: 500px; height: 500px;">
                                <p style="margin-top: 60px; margin-left: 160px">將圖片拖曳奕到這裡上傳</p>
                            </div>*@
                            <br />
                            <img id="image_update_APP_ReadOnly" style="display:none" />
                            <div id="image_update_APP" style="width:100%;">
                                <input type="file" class="cropit-image-input" id="file_APP">
                                <div class="cropit-preview cropit-preview-app"></div>
                                <div class="btn_action btn_bottom">
                                    <div>
                                        <i class="fa fa-picture-o fa" aria-hidden="true"></i>
                                        <input type="range" class="cropit-image-zoom-input">
                                        <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="all">
                                        <a class="bg_red export crpoit_export" id="crpoit_export_app">確認</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image_update">
                            <span class="">Google 廣告去背圖 (使用規格必須符合500×500像素的圖片)</span>
                            <br>
                            <span class="note">圖片將用於google廣告之途，上傳的圖片需符合下列規範：</span>
                            <br>
                            <span class="note">◆ 檔案類型：JPG、PNG</span>
                            <br>
                            <span class="note">◆ 檔案尺寸：500*500像素</span>
                            <br>
                            <span class="note">◆ 檔案大小：不得大於16MB或6400萬畫素</span>
                            <br>
                            <span class="note">◆ 圖片請務必去背，不可有浮水印、文字、陰影</span>
                            <br>
                            <br>
                            <span class="note">請依照規格大小，選擇檔案上傳</span>

                            <br />
                            <img id="image_update_RemoveBG_ReadOnly" style="display:none" />
                            <div id="image_update_RemoveBG" style="width:100%;">
                                <input type="file" class="cropit-image-input" id="file_RemoveBG">
                                <div class="cropit-preview cropit-preview-removeBG"></div>
                                <div class="btn_action btn_bottom">
                                    <div>
                                        <i class="fa fa-picture-o fa" aria-hidden="true"></i>
                                        <input type="range" class="cropit-image-zoom-input">
                                        <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="all">
                                        <a class="bg_red export crpoit_export" id="crpoit_export_removeBG">確認</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-unit">
                    <label class="unit-label">
                        商品詳細介紹
                    </label>
                    <div class="data-input">
                        <p>
                            <span class="note">1.上傳圖片的檔名僅限使用英文字母或數字</span><br />
                            <span class="note" style="color:#bf0000">2.上傳圖檔與影片的寬度至少要650以上（含），請務必確保寬度標準，以維持商品頁面美觀與正確</span><br />
                            <span class="note" style="color:#bf0000">3.使用GIF檔限用寬度1024以下的圖檔，尺寸過大會導致圖檔不動，請您務必注意</span>
                            <div class="ckeditor">
                                <textarea id="Description_editor" name="Description_editor">@(System.Web.HttpUtility.HtmlDecode(description))</textarea>
                                <textarea id="Description" name="Description" style="display:none">@(System.Web.HttpUtility.HtmlDecode(description))</textarea>
                            </div>
                        </p>
                        <span class="error_message">
                        </span>
                    </div>
                </div>
                <div class="form-unit">
                    <label class="unit-label">
                        商品規格
                    </label>
                    <div class="data-input">
                        <p>
                            <span class="note">
                                ●請填寫各商品的規格(ex:內容物、顏色、款式、尺寸、重量、產地、保存期限、保固期限、成分、注意事項...等)
                                <br>
                                ●即期品，請依商品詳列到期日(效期僅剩三分之一)
                            </span>
                            <div class="ckeditor">
                                <textarea id="ProductSpec_editor" name="ProductSpec_editor">@(System.Web.HttpUtility.HtmlDecode(productspec))</textarea>
                                <textarea id="ProductSpec" name="ProductSpec" style="display:none">@(System.Web.HttpUtility.HtmlDecode(productspec))</textarea>
                            </div>
</p>
                        <span class="error_message">
                        </span>
                    </div>
                </div>
                <div class="form-unit">
                    <label class="unit-label">
                        檢驗字號<i class="fa fa-question-circle-o bpopup-tooltip-3"></i>
                    </label>
                    <div class="data-input">
                        <p>
                            <span class="note">
                                ●醫療用品 / 藥品，請務必依商品詳列衛妝廣字號、衛署妝輸字、衛署妝製字，如有，請加附廣核表，並於檔案上傳區上傳
                                <br>
                                ●3C、家電類商品，請依商品詳列BSMI、NCC字號
                                <br>
                                ●婦幼商品，請依商品詳列ST標誌號碼
                            </span>
                                <div class="ckeditor">
                                    <textarea id="InspectRule_editor" name="InspectRule_editor">@(System.Web.HttpUtility.HtmlDecode(inspectRule))</textarea>
                                    <textarea id="InspectRule" name="InspectRule" style="display:none">@(System.Web.HttpUtility.HtmlDecode(inspectRule))</textarea>
                                </div>
</p>
                        <span class="error_message">
                        </span>
                    </div>
                </div>
                <div class="form-unit">
                    <label class="unit-label">
                        必買特色<i class="fa fa-question-circle-o bpopup-tooltip-3"></i>
                    </label>
                    <div class="data-input">
                        <p>
                            <span class="note">建議以條列式撰寫，最前方以 ● 帶出，最多為五條</span>


                            <div class="ckeditor">
                                <textarea id="Remark_editor" name="Remark_editor">@(System.Web.HttpUtility.HtmlDecode(remark))</textarea>
                                <textarea id="Remark" name="Remark" style="display:none">@(System.Web.HttpUtility.HtmlDecode(remark))</textarea>
                            </div>
                            @*<span>剩下1000字 </span>*@
                        </p>
                        <span class="error_message">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-align">
            <a class="waves-effect waves-light btn secondary tab2_link">上一頁</a>
            @if (isVbs == false)
            {
                <a class="waves-effect waves-light btn secondary tab4_link">下一頁</a>
            }            
            <a class="waves-effect waves-light btn secondary preview_page " href="" target="_blank">上架頁面預覽</a>
            <a class="waves-effect waves-light btn btnSave">儲存</a>
        </div>
    </div>
</div>
<input type="hidden" id="ImagePc" name="ImagePc" value="@(imagePath)" />
<input type="hidden" id="ImageApp" name="ImageApp" value="@(appDealPic)" />
<input type="hidden" id="ImageRemoveBG" name="ImageRemoveBG" value="@(removeBGPic)" />
<input type="hidden" id="ImagePcCnt" name="ImagePcCnt" value="0" />
<input type="hidden" id="ImageAppCnt" name="ImageAppCnt" value="0" />
<input type="hidden" id="ImageRemoveBGCnt" name="ImageRemoveBGCnt" value="0" />

<script type="text/javascript">
    $(document).ready(function () {
        var image_Pc = $("#image_update_PC");
        var image_bpopup;
        var $pcCropper = $(image_Pc).cropit({
            smallImage: 'allow',//圖片太小張不擋
            onImageLoading: function () {
                $("#bpopup-toast").find('.toast_message').text("圖片處理中");
                image_bpopup = $('#bpopup-toast').bPopup({
                    speed: 750,//toast漸入漸出的動畫秒數
                    opacity: 0,//toast的背景為全透明
                });
            },
            onImageLoaded: function () {
                if (image_bpopup != null && image_bpopup != undefined) {
                    image_bpopup.close();
                }
                $("#image_update_PC .btn_action").show();
                var imagePcCnt = parseInt($("#ImagePcCnt").val());
                $("#ImagePcCnt").val(parseInt(imagePcCnt) + 1);
            }, onImageError: function () {
                alert("規格限制：480*267像素");
            }
        });

        if ("@(imagePath)" != "") {
            $pcCropper.cropit('imageSrc', "data:image/jpeg;base64,@(imagePath)");
            $("#image_update_PC_ReadOnly").attr('src', "data:image/jpeg;base64,@(imagePath)");
            var imagePcCnt = parseInt($("#ImagePcCnt").val());
            $("#ImagePcCnt").val(parseInt(imagePcCnt)-1);
        }


        var image_App = $("#image_update_APP");
        var $appCropper = $(image_App).cropit({
            smallImage: 'allow',//圖片太小張不擋
            onImageLoading: function () {
                $("#bpopup-toast").find('.toast_message').text("圖片處理中");
                image_bpopup = $('#bpopup-toast').bPopup({
                    speed: 750,//toast漸入漸出的動畫秒數
                    opacity: 0,//toast的背景為全透明
                });
            },
            onImageLoaded: function () {
                if (image_bpopup != null && image_bpopup != undefined) {
                    image_bpopup.close();
                }
                $("#image_update_APP .btn_action").show();
                var imageAppCnt = parseInt($("#ImageAppCnt").val());
                $("#ImageAppCnt").val(parseInt(imageAppCnt) + 1);
            }, onImageError: function () {
                alert("規格限制：267*267像素");
            }
        });

        if ("@(appDealPic)" != "") {
            $appCropper.cropit('imageSrc', "data:image/jpeg;base64,@(appDealPic)");
            $("#image_update_APP_ReadOnly").attr('src', "data:image/jpeg;base64,@(appDealPic)");
            var imageAppCnt = parseInt($("#ImageAppCnt").val());
            $("#ImageAppCnt").val(parseInt(imageAppCnt) - 1);
        }


        var image_RemoveBG = $("#image_update_RemoveBG");
        var $removeBGCropper = $(image_RemoveBG).cropit({
            smallImage: 'allow',//圖片太小張不擋
            onImageLoading: function () {
                $("#bpopup-toast").find('.toast_message').text("圖片處理中");
                image_bpopup = $('#bpopup-toast').bPopup({
                    speed: 750,//toast漸入漸出的動畫秒數
                    opacity: 0,//toast的背景為全透明
                });
            },
            onImageLoaded: function () {
                if (image_bpopup != null && image_bpopup != undefined) {
                    image_bpopup.close();
                }
                $("#image_update_RemoveBG .btn_action").show();
                var imageRemoveBGCnt = parseInt($("#ImageRemoveBGCnt").val());
                $("#ImageRemoveBGCnt").val(parseInt(imageRemoveBGCnt) + 1);
            }, onImageError: function () {
                alert("規格限制：500*500像素");
            }
        });

        if ("@(removeBGPic)" != "") {
            $removeBGCropper.cropit('imageSrc', "data:image/jpeg;base64,@(removeBGPic)");
            $("#image_update_RemoveBG_ReadOnly").attr('src', "data:image/jpeg;base64,@(removeBGPic)");
            $("#image_update_RemoveBG_ReadOnly").attr('title', "連點可以開啟連結");
            $('#image_update_RemoveBG_ReadOnly, #image_update_RemoveBG').dblclick(function () {
                window.open('@removeBGPicUrl', '_blank');
            });
            var imageRemoveBGCnt = parseInt($("#ImageRemoveBGCnt").val());
            $("#ImageRemoveBGCnt").val(parseInt(imageRemoveBGCnt) - 1);
        }


        //$("#image_update_PC .file-upload-wrapper").hide();
        //$("#image_update_APP .file-upload-wrapper").hide();
        //$("#image_update_PC .btn_action").hide();
        //$("#image_update_APP .btn_action").hide();
        $(".crpoit_export").hide();

        $("#crpoit_export_pc").click(function () {
            var b64ImageData = $pcCropper.cropit('export', {
                type: 'image/jpeg',
                quality: .9
            });

            $("#ImagePc").val(b64ImageData);
            //$("#pcPreview").attr("src", b64ImageData);
        });
        $("#crpoit_export_app").click(function () {
            var b64ImageData = $appCropper.cropit('export', {
                type: 'image/jpeg',
                quality: .9
            });

            $("#ImageApp").val(b64ImageData);
        });

        $("#crpoit_export_removeBG").click(function () {
            var b64ImageData = $removeBGCropper.cropit('export', {
                type: 'image/jpeg',
                quality: .9
            });

            $("#ImageRemoveBG").val(b64ImageData);
        });
    });
</script>