﻿    @{ 
        bool isVbs = false;
        if (ViewBag.IsVbsPro)
        {
            //商家系統
            isVbs = true;
        }
        bool isDealOn = ViewBag.IsDealOn ?? false;
        bool isCombol = ViewBag.IsCombol ?? false;
        bool applyServiceChannel = ViewBag.ApplyServiceChannel ?? false;
    }
    <div id="tab2" class="col s12">
        <div class="card-panel">
            <!-- <span class="header2">銷售方案設定</span> -->
            <div class="row multi_deals_row">
                <!-- 方案一section(至少要有一方案，不能刪到0) -->
                <div class="col s12  collapse-block multi_deals">
                    <div class="order_title">
                        <div class="order_title-sort_btn">
                            <a onclick="sort_deals_up(this)" title="上移" ><i class="fa fa-arrow-circle-up"></i></a>
                            <a onclick="sort_deals_down(this)" title="下移"><i class="fa fa-arrow-circle-down"></i></a>
                        </div>
                        <span class="order_title-identity">                        
                            方案一
                        </span>
                        <span class="order_title_name"></span>
                        <span class="deal_idx" style="display:none">0</span>
                        <span class="deal_sort" style="display:none">0</span>

                        <div class="right" style="display:@(isDealOn && !isCombol ? "none": "block")">
                            <a class="order_mgmt_btn add_new_order" onclick="addMultideals(this)">+ 新增方案</a>
                            <a class="order_mgmt_btn "  onclick="deleteMultiDeal(this)">刪除此方案</a>
                            <a class="order_mgmt_btn copy_this_order"  onclick="cloneMultideals(this)">複製此方案</a>
                            <a class="order_mgmt_btn collapse-switch content-show" onclick="collapse_switch(this)"></a>
                        </div>
                    </div>
                    <!-- 以下為收納內容 -->
                    <div class="collapse-content" onclick="collapse_content_focus(this)" style="cursor:default">
                        <div class="form-unit">
                            <label class="unit-label">
                                檔號
                            </label>
                            <div class="data-input">
                                <p>
                                    <label name="spanUniqueId"></label>
                                    <label name="spanUniqueIdNew" style="display:none"></label>
                                </p>
                            </div>
                        </div>
                        <div class="form-unit">
                            <label class="unit-label">
                                方案名稱<i class="fa fa-question-circle-o bpopup-tooltip-2"></i>
                            </label>
                            <div class="data-input">
                                <table class="no-grid">
                                    <tbody>
                                        <tr class="title">
                                            <td align="left" class="">
                                                品牌名稱
                                            </td>
                                            <td align="left" class="star">
                                                方案與商品名稱
                                            </td>
                                            <td align="center" class="star">
                                                數字
                                            </td>
                                            <td align="center" class="star">
                                                單位
                                            </td>
                                            <td align="center"></td>
                                        </tr>
                                        <tr>
                                            <td width="200">
                                                <input type="text" placeholder="沒有請留空白" name="ItemBrandName" class="deal_title" maxlength="50">@*品牌名稱*@
                                            </td>
                                            <td width="400">
                                                <input type="text" placeholder="數量與單位請寫在後方欄位上" name="ItemName" class="deal_title" value="" maxlength="199">@*方案與商品名稱*@
                                            </td>
                                            <td width="80">
                                                <input type="number" placeholder="" name="QuantityMultiplier" class="deal_title edit_price" maxlength="4" value="1">@*數字*@
                                            </td>
                                            <td width="80">
                                                <input type="text" name="Unit" class="deal_title" maxlength="3" value="入">@*單位*@
                                            </td>
                                            <td width="40" align="left">
                                                / 組
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <span class="note">
                                    例如：XXX-電鍋1入/組、小牛津帽T熊故事機1隻/組、法式奢華水溶蕾絲內褲4入/組、PPPP-22W吸入式捕蚊燈(F600B/F600W)1入/組
                                </span>
                            </div>
                        </div>
                        <div class="form-unit">
                            <label class="unit-label">
                                價格資訊
                            </label>
                            <div class="data-input">
                                <table class="no-grid">
                                    <tbody>
                                        <tr class="title">
                                            <td align="left" colspan="" width="300" class="star">
                                                巿價<i class="fa fa-question-circle-o tooltipped" data-position="right" data-delay="50" data-tooltip="巿面上可查詢的原價，不是消費者購買的價格"></i>
                                            </td>
                                            <td align="left" width="300" class="star deal_item_price">
                                                建議售價 <i class="fa fa-question-circle-o tooltipped" data-position="right" data-delay="50" data-tooltip="消費者可以購買的實際價格"></i>
                                            </td>
                                            <td align="left" width="300" class="star">
                                                進貨價<i class="fa fa-question-circle-o tooltipped" data-position="right" data-delay="50" data-tooltip="廠商對17Life的成本價"></i>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td width="" colspan="">
                                                <input type="number" placeholder="" name="OrigPrice" maxlength="6" class="edit_price">@*巿價*@
                                            </td>
                                            <td class="deal_item_price">
                                                <input type="number" placeholder="" name="ItemPrice" maxlength="6" class="edit_price" onkeyup="changeGross(this)">@*建議售價*@
                                            </td>
                                            <td>
                                                <input type="number" placeholder="" name="Cost" maxlength="6" class="edit_price" onkeyup="changeGross(this)">@*進貨價*@
                                            </td>
                                        </tr>

                                        <tr class="title">
                                            <td align="left" class="">
                                                每人限購 <i class="fa fa-question-circle-o tooltipped" data-position="right" data-delay="50" data-tooltip="每個帳號最多可以買幾個單位。如果沒有限制請填20"></i>
                                            </td>
                                            <td align="left">
                                                運費（若方案含運，則以下二欄免填）<i class="fa fa-question-circle-o tooltipped" data-position="right" data-delay="50" data-tooltip="消費者需要另外負擔的運費限制，未滿多少份數需要另外負擔多少運費。如果沒有，請留空白"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="buy_limit">
                                                <input type="number" placeholder="" name="OrderMaxPersonal" maxlength="6" class="edit_price" >@*每人限購*@
                                            </td>
                                            <td class="buy_shipment" colspan="2">
                                                <input class="buy_shipment-cost edit_price freight_noedit" type="number" name="Freights" maxlength="4">@*運費*@
                                                (元/次)， 購滿
                                                <input class="buy_shipment-free edit_price freight_noedit" type="number" name="NoFreightLimit"  maxlength="4">@*免運組數*@
                                                組免運
                                                @*<p style="">
                                                    <span class="note">消費者需要另外負擔的運費限制，未滿多少份數需要另外負擔多少運費。如果沒有，請留空白</span>
                                                </p>*@
                                            </td>
                                        </tr>
                                        @if (isVbs == false)
                                        {
                                            <tr class="title">
                                                <td>
                                                    獲利毛利率
                                                </td>
                                                <td>
                                                    洽談毛利率
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label name="GrossMargin"></label>

                                                </td>
                                                <td>
                                                    <label name="CostPercent"></label>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-unit">
                            <label class="unit-label">
                                銷售商品與規格
                            </label>
                            <div class="data-input">
                                <div class="row row_spec">


                                    <div class="col s6">
                                        <a style="cursor:pointer" class="add_new_sort_tree" onclick="addSpecTree(this)">+ 新增規格選單</a>
                                    </div>
                                </div>
                                @*<table class="selected_item_spec" id="tb_item_spec">
                                    <thead>
                                        <tr>
                                            <th class="selected_item_spec-item" width="" style="">商品</th>
                                            <th class="selected_item_spec-spec" width="">規格</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>*@
                                @*<a class="bpopup-item_spec_picker" onclick="bpopupItemSpecPicker(this, '@Guid.Empty', '@Guid.Empty')">+ 加入商品與規格</a>*@
                            </div>
                        </div>
                        <div class="form-unit gifts_tag" style="display:none">
                            <label class="unit-label">
                                贈品內容
                            </label>
                            <div class="data-input">
                                <ul class="multi_tags"></ul>
                                <span>剩下1000字 </span>
                            
                            </div>
                        </div>
                        <div class="form-unit">
                            <label class="unit-label star">
                                結帳倍數<i class="fa fa-question-circle-o bpopup-tooltip-4"></i>
                            </label>
                            <div class="data-input">
                                消費者需要在這個方案裡挑選
                                <input type="number" placeholder="" style="width:50px;" name="ComboPackCount" value="1" max="200" min="1" class="edit_price">
                                個單位的規格或商品，才能進行結帳
                                <span class="error_message">

                                </span>
                            </div>
                        </div>
                        <div class="form-unit" style="display:@(applyServiceChannel ? string.Empty : "none")">
                            <label class="unit-label">
                                超商取貨限制<i class="fa fa-question-circle-o bpopup-tooltip-5"></i>
                            </label>
                            <div class="data-input">
                                每一個出貨箱子最多可以裝入
                                <input type="number" placeholder="" style="width:50px;" name="BoxQuantityLimit" value="0" max="200" min="0">
                                組
                                <span class="error_message">

                                </span>
                            </div>
                        </div>
                    </div>

                </div>

            

            </div>
       
        </div>
        <div class="col s12">
            <div class="center-align">

                <a class="waves-effect waves-light btn secondary tab1_link">上一頁</a>
                <a class="waves-effect waves-light btn secondary tab3_link">下一頁</a>
                <a class="waves-effect waves-light btn btnSave">儲存</a>
            </div>
        </div>
    </div>
