﻿@using LunchKingSite.Core;
@using LunchKingSite.DataOrm;
@{
    string vbsUri = string.Empty;
    bool IsWms = false;
    SellerProposalHouseModel pro = ViewBag.Proposal;
    if (pro != null)
    {
        IsWms = pro.IsWms;
    }
    if (ViewBag.IsVbsPro)
    {
        //商家系統
        vbsUri = "/vbs";
    }
    else
    {
        //業務系統
        vbsUri = "/sal";
    }

}
<!-- 批次新增規格小工具-彈窗內容範例 -->
<div id="bpopup-batch_spec_add" class="card-panel bpopup-modal card-480">
    <div class="row proposal_info">
        <div class="col s12 bpopup-modal-title">
            選擇商品類型並快速產生規格
        </div>
    </div>
    <div class="row proposal_info">
        <div class="col s12">
            <div class="form-unit">
                <label class="unit-label star">
                    商品名稱
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" style="width:30%;" id="pop_product_brand_name" name="pop_product_brand_name" placeholder="品牌名稱，可留空白" maxlength="20">
                        <input type="text" style="width:68%;" id="pop_product_name" name="pop_product_name" placeholder="請填入商品名稱" maxlength="20">
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    使用類型
                </label>
                <div class="data-input">
                    <p>
                        <label for="normal_warehouse_type" class="radio_buttons">
                            <input name="warehouse_type" type="radio" id="normal_warehouse_type" value="@((int)WarehouseType.Normal)" checked="@(!ViewBag.IsWms)" disabled="@(ViewBag.IsWms)">一般宅配 (自出含快速出貨)
                        </label>
                        <label for="wms_warehouse_type" class="radio_buttons">
                            <input name="warehouse_type" type="radio" id="wms_warehouse_type" value="@((int)WarehouseType.Wms)" checked="@(ViewBag.IsWms)" disabled="@(!ViewBag.IsWms)">24H到貨 (寄倉+倉儲物流)
                        </label>
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    商品類型
                </label>
                <div class="data-input">
                    <p>
                        <label for="one_spec_option" class="radio_buttons">
                            <input name="spec_option" type="radio" id="one_spec_option" value="false" checked="checked" disabled="@(ViewBag.IsWms)">單一/無規格商品
                        </label>
                        <label for="multi_spec_option" class="radio_buttons">
                            <input name="spec_option" type="radio" id="multi_spec_option" value="true" checked="@(ViewBag.IsWms)">多規格商品
                        </label>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row product_info">
        <div class="col s12 bpopup-modal-title">
            快速產生規格小工具
        </div>
    </div>
    <div class="row" id="batch_spec_add-note">
        <div class="col s7">

            步驟一：加入依類別所有規格，讓系統先產生組合好的商品規格，每個規格內容請以半型逗號分開

        </div>
        <div class="col s5">
            步驟二：將所需要的組合勾選起來，觸發【確定】加入商品規格中
        </div>
        <div class="row">
        </div>
        <div class="col s7" id="batch_spec_add-body" style="">

            <div class="scroll_region">
                <div class="form-unit">
                    <label class="unit-label label-first">
                        第一層規格名稱
                    </label>
                    <span class="label-cnt" style="display:none">1</span>
                    <div class="data-input">
                        <p>
                            <input type="text" style="width:80%;" name="pop_catg_name" placeholder="" value="款式">
                            <a class="delete_spec_level" onclick="deleteItemRow(this)">
                                <i class="fa fa-close"></i>
                            </a>
                        </p>
                    </div>
                    <label class="unit-label label-second">
                        第一層規格內容
                    </label>
                    <div class="data-input">
                        <p>
                            <textarea name="pop_item_name" cols="30" rows="10">男生款,女生款</textarea>
                        </p>
                    </div>

                </div>

            </div>
            <div class="left-align" style="margin-top:10px;">
                <a class="waves-effect waves-light btn add_spec_level secondary">新增一層規格</a>

                <a class="waves-effect waves-light btn right spec_apply_to_list" id="btnGenItem">展開規格 <i class="fa fa-angle-double-right"></i></a>
            </div>

        </div>
        <!-- <div class="col s1 valign-wrapper" style="height:60vh;">
            <a class="waves-effect waves-light btn b-close"> >> </a>
        </div> -->

        <div class="col s5">
            <form id="ProductInfoForm">
                <label class="checkbox_buttons checkbox_fixtop_title">
                    <input type="checkbox" id="chkAll" onclick="CheckAll(this)">全選
                </label>

                <div class="scroll_region spec_list">

                </div>
                @*商品頁面使用*@
                <div class="right-align product_info" style="margin-top:10px;">
                    <a class="waves-effect waves-light secondary btn b-close" onclick="closePup()">取消</a>
                    <a class="waves-effect waves-light btn" onclick="doAddItemResult()">確定加入</a>
                </div>
                @*提案單頁面使用(多規格)*@
                <div class="right-align proposal_info" style="margin-top:10px;">
                    <a class="waves-effect waves-light secondary btn b-close" onclick="closePup()">取消</a>
                    <a class="waves-effect waves-light btn" onclick="doSaveProductInfo()">確定加入</a>
                    <textarea id="ProductInfoData" name="ProductInfoData" style="display:none"></textarea>
                </div>
            </form>
        </div>


    </div>
    @*提案單頁面使用(單規格)*@
    <div class="row proposal_info" id="one_spec_add-comfirm" style="display: block;">
        <div class="col s12 bpopup-modal-footer center-align ">
            <a class="waves-effect waves-light btn b-close secondary">取消</a>
            <a class="waves-effect waves-light btn" onclick="doSaveProductInfo()">確定加入</a>
        </div>
    </div>
</div>

<input type="hidden" id="hidPopupItemOption" value="" /><br />

<script type="text/javascript">
    $(document).ready(function () {
        //新增一層規格
        $(".add_spec_level").click(function () {
            //var region = $(".scroll_region");
            var templete = $(".scroll_region div[class='form-unit']:first");
            var cnt = $(".scroll_region > div[class='form-unit']").length;
            //console.log(cnt);
            if (cnt <= 3) {
                var newid = cnt + 1;
                var chn = CvtNumToCH(newid);

                var clone = templete.clone();
                $(clone).find(".label-first").html("第" + chn + "層規格名稱");
                $(clone).find(".label-second").html("第" + chn + "層規格內容");
                $(clone).find(".label-cnt").html((parseInt(cnt) + 1));
                $(clone).find("input").val("");

                $(".scroll_region div[class='form-unit']").last().after("<div class='form-unit'>" + $(clone).html() + "</div>");
                $(".scroll_region div[class='form-unit']:last").find("input,textarea").val("");
            }
        });

        $("#btnGenItem").click(function () {
            $("#chkAll").prop("checked", false);
            generateItems();
        });
    });

    /*
    * 規格儲存並帶回提案單頁面
    */
    function doSaveProductInfo() {
        var vbsSellerGuid = $("#VbsSellerGuid").val();
        //var productGuid = $("#ProductGuid").val();
        var product_brand_name = $("#pop_product_brand_name").val();
        var product_name = $("#pop_product_name").val();
        var isMulti = $("input[name='spec_option']:checked").val();
        var warehouseType = $("input[name='warehouse_type']:checked").val();
        if (isMulti == undefined) {
            toast_message("請選擇商品類型");
            return false;
        }
        if (product_name == "") {
            toast_message("請填入商品名稱");
            return false;
        }
        var details = [];

        if (isMulti == "false") {
            //單
            var productItems = [];
            var productOptionDetail = {
                productNo: "",
                productCode: "",
                gtin: "",
                oriStock: "0",
                stock: "0",
                safetyStock: "0",
                sales: 0,
                sort: 1,
                productOptions: productItems,
                warehouseType: warehouseType
            };
            details.push(productOptionDetail);
        } else {
            //多
            var itemResult = $("#bpopup-batch_spec_add .spec_list");
            var list = [];
            var chks = itemResult.find("input[type='checkbox']:checked");
            var pop_catg_name = $("input[name='pop_catg_name']");
            if (chks.length > 0) {
                var itemOptions = $("#hidPopupItemOption").val();
                if (itemOptions != "" && itemOptions != undefined) {
                    var source = eval(itemOptions);
                    $.each(chks, function (midx, mobj) {
                        var ret = getItemList(source, $(mobj).val());
                        if (ret == null) {
                            alert("資料異常，請重新操作!");
                            return false;
                        } else {
                            list.push(ret);
                        }
                    });
                } else {
                    toast_message("請重新展開規格(Error)!");
                    return false;
                }


            } else {
                toast_message("請先至少選取一項組合");
                return false;
            }

            for (var spidx = 0; spidx < list.length; spidx++) {
                var productItems = [];
                var mmidx = 0;
                $.each(list[spidx].Items, function (midx, mobj) {
                    var productItem = {
                        index: (mmidx + 1),
                        catgName: pop_catg_name[mmidx].value,
                        itemName: mobj.OptionName
                    };
                    mmidx++;
                    productItems.push(productItem);
                });
                var productOptionDetail = {
                    productNo: "",
                    productCode: "",
                    gtin: "",
                    oriStock: "0",
                    stock: "0",
                    safetyStock: "0",
                    sales: 0,
                    sort: 1,
                    productOptions: productItems,
                    warehouseType: warehouseType
                };
                details.push(productOptionDetail);
            }
        }
        var productOption = {
            //productGuid: productGuid,
            sellerGuid: vbsSellerGuid,
            isMulti: isMulti,
            warehouseType: warehouseType,
            productBrandName: product_brand_name,
            productName: product_name,
            ProductItems: details
        };

        $("#ProductInfoForm").submit(function (e) {

            $("#ProductInfoData").val(JSON.stringify(productOption));

            var formObj = $(this);
            var formURL = formObj.attr("action");
            var formData = new FormData(this);
            $.ajax({
                url: "@(vbsUri)/proposal/ProductOptionContentByPro",
                type: 'POST',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (resp) {
                    var res = JSON.parse(resp);
                    if (res.IsSuccess) {
                        toast_message("新增成功，請勾選並加入規格");
                        $('#bpopup-batch_spec_add').bPopup().close();
                        var WarehouseType = '@IsWms' == 'True' ? @((int)WarehouseType.Wms) : @((int)WarehouseType.Normal) ;
                        loadPopItemSpec(vbsSellerGuid, "@(Guid.Empty)", "", "", "", WarehouseType);
                    } else {
                        error_message("[儲存失敗]" + res.Message);
                    }
                },
                error: function (xhr) {
                    toast_message("[發生異常]請聯絡IT人員。");
                    console.log(xhr.responseText);
                }
            });
            e.preventDefault(); //Prevent Default action.
            $("#ProductInfoForm").unbind();
        });
        $("#ProductInfoForm").submit(); //Submit the form


        @*$.ajax({
            type: "POST",
            url: "@(vbsUri)/proposal/ProductOptionContentByPro",
            data: JSON.stringify(productOption),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res.IsSuccess) {
                    toast_message("新增成功，請勾選並加入規格");
                    $('#bpopup-batch_spec_add').bPopup().close();
                    loadPopItemSpec(vbsSellerGuid, "@(Guid.Empty)", "", "", "");
                } else {
                    error_message("[儲存失敗]" + res.Message);
                }
            }, error: function (xhr) {
                toast_message("[發生異常]請聯絡IT人員。");
                console.log(xhr.responseText);
            }
        });*@
    }


    function doAddItemResult() {
        var itemResult = $("#bpopup-batch_spec_add .spec_list");
        /*
        * 將母畫面的規格欄位增加
        */
        var itemRegion = $(".scroll_region div[class='form-unit']");
        var catgs = itemRegion.find("input[name='pop_catg_name']");

        var mom_catgs = $(".main_list tr input[name='catg_name']");
        var trs = $('.main_list tr');
        //如果母視窗的規格數量小於小工具產生的數量，則先把欄位數量增加
        if (mom_catgs.length < catgs.length) {
            for (var i = 0; i < catgs.length - mom_catgs.length; i++) {
                $.each(trs, function (idx, tr) {
                    var catg_name = $(tr).find("input[name='catg_name']");
                    if (catg_name.length > 0 && catg_name.length <= 3) {
                        $(catg_name).last().after(" <span>_</span> <input type='text' name='catg_name' />");
                    }
                    var item_name = $(tr).find("input[name='item_name']");
                    if (item_name.length > 0 && item_name.length <= 3) {
                        $(item_name).last().after(" <span>_</span> <input type='text' name='item_name' />");
                    }
                });
            }
        }
        //將規格標頭填入
        var mom_catgs = $(".main_list tr input[name='catg_name']");
        for (var i = 0; i < catgs.length; i++) {
            $(mom_catgs[i]).val($(catgs[i]).val());
        }

        var list = [];

        var chks = itemResult.find("input[type='checkbox']:checked");
        var itemOptions = $("#hidPopupItemOption").val();
        if (itemOptions != "" && itemOptions != undefined) {
            var source = eval(itemOptions);
            if (chks.length > 0) {
                $.each(chks, function (midx, mobj) {
                    var ret = getItemList(source, $(mobj).val());
                    if (ret == null) {
                        toast_message("資料異常，請重新操作!");
                        return false;
                    } else {
                        list.push(ret);
                    }
                });

                if (list.length > 0) {
                    var product_list = $("#product_list");
                    $.each(list, function (midx, mobj) {
                        var warehouseType = parseInt($('input[name=warehouseType]:checked').val(), 10);
                        var clone = $(".main_list tbody tr:first").clone();
                        clone.find("[name='product_no']").html("");
                        clone.find("input").val("");
                        if (warehouseType == 1) {
                            clone.find("input[name='stock']").val("0").attr('disabled', true);
                            clone.find("input[name='safety_stock']").val('10').attr('disabled', true);
                        } else {
                            clone.find("input[name='stock']").val('0').removeAttr('disabled');
                            clone.find("input[name='safety_stock']").val('').removeAttr('disabled');
                        }


                        clone.find("input[name='price']").attr('disabled', false).val("0");
                        clone.find("input[name='shelfLife']").attr('disabled', false).val("0");

                        clone.find("input[name='adjust_num']").val("0");
                        var obj_item_name = clone.find("input[name='item_name']");
                        if (obj_item_name.length == mobj.Items.length) {
                            for (var i = 0; i < mobj.Items.length; i++) {
                                $(obj_item_name[i]).val(mobj.Items[i].OptionName);
                            }
                        }
                        $(".main_list").append(clone);
                    });

                    closePup();
                    $("#bpopup-batch_spec_add").bPopup().close();

                    /*
                    * 刪除空白資料列
                    */
                    var trs = $(".main_list tbody tr");
                    $.each(trs, function (midx, mobj) {
                        var item_names = $(mobj).find("input[name='item_name']");
                        var isItemEmpty = true;
                        $.each(item_names, function () {
                            if ($(this).val() != "") {
                                isItemEmpty = false;
                            }
                        });
                        if (isItemEmpty &&
                            ($(mobj).find("input[name='gtin']").val() == "") &&
                            ($(mobj).find("input[name='product_code']").val() == "") &&
                            ($(mobj).find("input[name='stock']").val() == "0") &&
                            ($(mobj).find("input[name='safety_stock']").val() == "0")
                        ) {
                            $(mobj).closest("tr").remove();
                        }
                    });
                }
            } else {
                toast_message("請先至少選取一項組合!");
                return false;
            }
        } else {
            toast_message("請重新展開規格(Error)!");
            return false;
        }
    }
    function getItemList(source, data) {
        var ret = null;
        $.each(source, function (midx, mobj) {
            if (data == mobj.Id) {
                ret = mobj;
                return;
            }
        });
        return ret;
    }


    function CheckAll(obj) {
        var itemResult = $("#bpopup-batch_spec_add .spec_list");
        if ($(obj).is(":checked")) {
            itemResult.find("input[type='checkbox']").prop("checked", true);
        } else {
            itemResult.find("input[type='checkbox']").prop("checked", false);
        }
    }
    function clickItem(obj) {
        var itemResult = $("#bpopup-batch_spec_add .spec_list");
        if (itemResult.find("input[type='checkbox']:checked").length != itemResult.find("input[type='checkbox']").length) {
            $("#chkAll").prop("checked", false);
        } else {
            $("#chkAll").prop("checked", true);
        }
    }
    function deleteItemRow(obj) {
        if ($(obj).closest(".form-unit").find(".label-cnt").html() == 1) {
            alert("第一層規格不可刪除!");
            return false;
        }
        $(obj).closest(".form-unit").remove();
        $.each($(".scroll_region div[class='form-unit']"), function (idx, obj) {
            var newid = idx + 1;
            var chn = CvtNumToCH(newid);
            $(this).find(".label-cnt").html(newid);
            $(this).find(".label-first").html("第" + chn + "層規格名稱");
            $(this).find(".label-second").html("第" + chn + "層規格內容");
        });
    }

    function CvtNumToCH(numString) {
        var chn = "";
        var str = numString.toString();
        var numSource = Array('0', '1', '2', '3', '4' , '5', '6', '7', '8', '9');
        var numTarget = Array('○', '一', '二', '三', '四', '五', '六', '七', '八', '九');
        for (var index = str.length - 1; index >= 0; index--) {
            var s = $.inArray(str[index], numSource);
            chn += numTarget[s];
        }
        return chn;
    }

    function generateItems() {
        var item_list = $(".scroll_region div[class='form-unit']");
        var list = [];
        var flag = true;
        $.each(item_list, function (midx, mobj) {
            var pop_catg_name = $(mobj).find("input[name='pop_catg_name']").val();
            var pop_item_name = $(mobj).find("textarea[name='pop_item_name']").val();
            if ($.trim(pop_catg_name) == "" || $.trim(pop_item_name) == "") {
                alert("名稱及內容不可為空白!");
                flag = false;
                return false;
            }
            var itemOption = pop_item_name.split(",");
            var option_list = [];
            $.each(itemOption, function (mmidx, mmobj) {
                var option = {
                    OptionName: mmobj
                };
                option_list.push(option);
            });
            var item_list = {
                index: (midx + 1),
                catgName: pop_catg_name,
                items: option_list
            };
            list.push(item_list);
        });
        if (!flag) {
            return false;
        }        
        $.post("@(vbsUri)/proposal/GetProductItems", { items: list }, function (result) {
            if (result.IsSuccess != undefined) {
                toast_message(result.Message);
                return false;
            }
            var itemResult = $("#bpopup-batch_spec_add .spec_list");
            itemResult.html("");
            var _html = "";
            $("#hidPopupItemOption").val(JSON.stringify(result));
            $.each(result, function (midx, mobj) {
                var dhtml = "";
                var id = mobj.Id;
                $.each(mobj.Items, function (mmidx, mmobj) {
                    dhtml += mmobj.OptionName + "_";
                });
                _html += "<label class='checkbox_buttons'><input type='checkbox' value='" + id + "' onclick='clickItem(this)'>";
                if (dhtml.endsWith("_")) {
                    _html += dhtml.substring(0, dhtml.length - 1) + "";
                } else {
                    _html += dhtml + "";
                }
                _html += "</label>";
            });
            itemResult.append(_html);
        }).error(function (xhr) {
            console.log(xhr);
        });
    }
</script>