﻿@using LunchKingSite.Core
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=10; requiresActiveX=true'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        @if (IsSectionDefined("PageTitle"))
        {
            @RenderSection("PageTitle", required: false)
        }
        else
        {
            <text>17Life 業務系統</text>
        }
    </title>

    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/OWriteOff/plugin/materialize/css/materialize.css")" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/OWriteOff/plugin/font-awesome/font-awesome.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/OWriteOff/OWriteOff.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Themes/OWriteOff/css/style.css?v=2")" media="screen,projection" />
    <script src='@Url.Content("~/Tools/js/jquery-1.9.1.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-migrate-1.2.1.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-ui.js")' type="text/javascript"></script>
    <script src="@Url.Content("~/Tools/js/jquery.cookie.js")" type="text/javascript"></script>

    <script type="text/javascript" src="@Url.Content("~/Themes/OWriteOff/plugin/materialize/js/materialize.js")"></script>

    @if (IsSectionDefined("HeadSecond"))
    {
        @RenderSection("HeadSecond", required: false)
    }
    else
    {
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/homecook.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
        <link type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")' rel="stylesheet" />
    }

   

    @RenderSection("Head", required: false)
</head>
<body>
    <header>
       
    </header>

    <div class="page-content page-content-single_page">
        @RenderBody()
    </div>

    <!--  Scripts-->
    <script type="text/javascript" src="@Url.Content("~/Themes/OWriteOff/plugin/materialize/js/init.js")"></script>
    @if (IsSectionDefined("Script"))
    {
        @RenderSection("Script", required: false);
    }
    @*本頁面的因為特別罝中*@
    <style>
        .bpopup-modal {
            margin-left: 0;
        }
    </style>

</body>
</html>
