﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@model ProposalContractFileCollection
@foreach (var pcf in Model)
{
    <tr>
        <td class="">
            <a href="" onclick="DownLoadProposal('@pcf.Guid')">@pcf.FileName</a>
        </td>
        <td class="">
            @pcf.Version
        </td>
        <td class="">
            @pcf.Memo
        </td>
        <td class="">
            @if (pcf.DueDate != null)
            {
                @pcf.DueDate.Value.ToString("yyyy/MM/dd")
            }            
        </td>
        <td class="">
            @pcf.PartyBContact
        </td>
        <td class="">
            @(Helper.GetEnumDescription((SellerContractType)pcf.ContractType))
        </td>
        <td class="">
            @pcf.CreateId
        </td>
        <td class="">
            @pcf.CreateTime
        </td>
    </tr>
}
