﻿@using LunchKingSite.Core;
      <!-- 添加商品與規格彈窗 -->
<div id="bpopup-item_spec_picker" class="card-panel bpopup-modal" style="display:;margin-left: 0px;width:600px;">
    <div class="row">
        <div class="col s12 bpopup-modal-title spec_picker_add">
            商品與規格

            <div class="form-unit">
                <label class="unit-label">
                    關鍵字
                </label>
                <div class="data-input">
                    <p>
                        <select name="spec_picker_search_item" id="spec_picker_search_item">
                            <option value="1">品牌名稱</option>
                            <option value="2">商品名稱</option>
                            <option value="3">商品貨號</option>
                        </select>
                        <input type="text" id="spec_picker_search_field" name="spec_picker_search_field" placeholder="輸入品牌或部份商品名">
                        <a class="waves-effect waves-light btn " id="btnProductSearch">搜尋</a>
                    </p>
                </div>

                @*<label class="unit-label">
                    商品名稱
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" placeholder="輸入品牌或部份商品名" id="txtSearchProductName">
                    </p>
                </div>*@
            </div>
            @*<div class="form-unit">
                <label class="unit-label">
                    商品貨號
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" placeholder="輸入貨號" id="txtSearchProductCode">
                        <a class="waves-effect waves-light btn" id="btnProductSearch">搜尋</a>
                    </p>
                </div>
            </div>*@
        </div>

        <div class="col s12 bpopup-modal-scroll_content">
            @*<div class="checkbox_fixtop_title spec_picker_add">
                <a class="bpopup-itemtype_select_spec_add">+ 快速建立新商品與規格</a>
            </div>*@
            <div class="scroll_region spec_list" style="height:40vh;">
                <ul class="item_spec_tree" id="treeSpec">
                </ul>
            </div>
        </div>
        <div class="col s12 bpopup-modal-footer center-align">
            <div class="left">
                <a class="waves-effect waves-light btn b-close secondary bpopup-itemtype_select_spec_add">+ 快速建立新商品與規格</a>
            </div>
            <input type="text" id="spec_picker_info_guid" value="" style="display:none" />
            <input type="text" id="spec_picker_tr_guid" value="" style="display:none" />
            <a class="waves-effect waves-light btn b-close secondary">關閉</a>
            <a class="waves-effect waves-light btn b-close add_item_spec_to_table">加入</a>
        </div>
    </div>
</div>
<!-- 新增商品規格 -->
<div id="bpopup-single_spec_add" class="card-panel bpopup-modal bpopup-modal-alert" style="display:;margin-left: 0px;">
    <div class="row">
        <div class="col s12 bpopup-modal-title">
            新增商品規格
        </div>
        <div class="col s12">
            <div class="form-unit">
                <label class="unit-label">
                    商品名稱
                </label>
                <div class="data-input">
                    <p>
                        YODA-長版大衣
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    YODA-規格名稱
                </label>
                <div class="data-input">
                    <p>
                        顏色_款式
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    <span class="red-text">*</span>規格
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" style="width:30%;" placeholder="" value="紅色">
                        <input type="text" style="width:30%;" placeholder="" value="S">
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    原廠編號(GTINs)
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" style="width:100%;" placeholder="" value="233424">
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    貨號
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" style="width:100%;" placeholder="" value="233424">
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    庫存數
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" style="width:100%;" placeholder="" value="100">
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    安全庫存數
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" style="width:100%;" placeholder="" value="100">
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn b-close secondary">取消</a>
            <a class="waves-effect waves-light btn b-close batch_upload_confirm">儲存</a>
            <a class="waves-effect waves-light btn batch_upload_confirm">新增下一筆</a>

        </div>
    </div>
</div>

<div id="bpopup-reject_reason" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title">
            請填寫退件原因
        </div>
        <div class="col s12">
            <div class="form-unit">
                <textarea name="SellerReturnedLog" id="SellerReturnedLog" cols="30" rows="10" placeholder="請填寫400字內的退件原因。提案退回後，將會以Mail方式通知商家，同時告知退件原因。"></textarea>
            </div>
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn b-close secondary">取消</a>
            <a class="waves-effect waves-light btn reject_to_vender-confirm">確定</a>
        </div>
    </div>
</div>

<div id="bpopup-reject_sales_reason" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title">
            請填寫退件原因
        </div>
        <div class="col s12">
            <div class="form-unit">

                <input id="chkOptimizationPrice" class="reject_sales" type="checkbox" /><label for="chkOptimizationPrice">@Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, ProposalReturnHouse.OptimizationPrice)</label>
                <input id="chkInformationError" class="reject_sales" type="checkbox" /><label for="chkInformationError">@Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, ProposalReturnHouse.InformationError)</label>
                <input id="chkPercentLower" class="reject_sales" type="checkbox" /><label for="chkPercentLower">@Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, ProposalReturnHouse.PercentLower)</label><br />
                <input id="chkExistProposal" class="reject_sales" type="checkbox" /><label for="chkExistProposal">@Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, ProposalReturnHouse.ExistProposal)</label>
                <input id="chkSaleOverProposal" class="reject_sales" type="checkbox" /><label for="chkSaleOverProposal">@Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, ProposalReturnHouse.SaleOverProposal)</label>
                <input id="chkDataModify" class="reject_sales" type="checkbox" /><label for="chkDataModify">@Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, ProposalReturnHouse.DataModify)</label><br />
                <input id="chkContractError" class="reject_sales" type="checkbox" /><label for="chkContractError">@Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, ProposalReturnHouse.ContractError)</label>
                <input id="chkCancel" class="reject_sales" type="checkbox" /><label for="chkCancel">@Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, ProposalReturnHouse.CancelOrderTime)</label>
                <input id="chkCheckError" class="reject_sales" type="checkbox" /><label for="chkCheckError">@Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, ProposalReturnHouse.CheckError)</label>
                <input id="chkOther" class="reject_sales" type="checkbox" /><label for="chkOther">@Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, ProposalReturnHouse.Other)</label>
                
                <textarea name="SalesReturnedLog" id="SalesReturnedLog" cols="30" rows="10" placeholder="請填寫400字內的退件原因。"></textarea>
            </div>
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn b-close secondary">取消</a>
            <a class="waves-effect waves-light btn reject_to_sales-confirm">確定</a>
        </div>
    </div>
</div>

<div class="spec_templete" style="display:none">
    <div class="col s6 spec_tab">
        <div class="sort_tree_controller">
            規格選單<span class="spec_idx"></span>
            <div class="right">
                <a class="bpopup-item_spec_picker" onclick="bpopupItemSpecPicker(this, '@Guid.Empty', '@Guid.Empty')"">+ 加入商品與規格</a>
                <a class="delete_sort_tree" onclick="deleteSpecTree(this)">× 刪除選單 </a>
            </div>
        </div>
        <ul class="sort_tree" style="">
            @*<li class="">
                AA商品-雙人_加大_四件式_漫步雲端
                <a class="delete_li"><i class="fa fa-close"></i></a>
            </li>*@

        </ul>
    </div>
</div>

<!-- 方案名稱的tooltip -->
<div id="bpopup-tooltip-2" class="card-panel bpopup-modal bpopup-tooltip">
    <div class="row">
        <div class="col s12 bpopup-modal-title">
            方案名稱會出現在網站頁面上的以下地方：
            <div class="divider"></div>
        </div>

        <div class="col s12 bpopup-modal-scroll_content">
            <span>1.消費者選購方案的時出現的選購頁</span>
            <img src="/Themes/OWriteOff/images/DealProposal-tooltip-2-1.png" alt="">
            <span>2.訂單成立後的訂單名稱，包括出貨、退貨、換貨中所使用的方案名稱都來自於這個欄位</span>
            <img src="/Themes/OWriteOff/images/DealProposal-tooltip-2-2.png" alt="">
        </div>

        <div class="col s12 center-align bpopup-modal-footer">
            <div class="divider"></div>
            <div class="clearfix left-align">
                <span class="note-title">貼心小提醒：</span>
                <span class="note-body">方案名稱是代表這個販售內容的描述，編寫方案名稱時，建議以簡單明確為主要原則。如果有數量、單位的不同，也可以一併寫入方案名稱內，可以讓人更方便、快速的辨識喔。</span>
            </div>

            <a class="waves-effect waves-light btn b-close">關閉視窗</a>

        </div>
    </div>
</div>
<!-- 一姬說好康的tooltip -->
<div id="bpopup-tooltip-3" class="card-panel bpopup-modal bpopup-tooltip">
    <div class="row">
        <div class="col s12 bpopup-modal-title">
            必買特色會出現在網站頁面上的以下地方：
            <div class="divider"></div>
        </div>

        <div class="col s12 bpopup-modal-scroll_content">

            <img src="/Themes/OWriteOff/images/DealProposal-tooltip-3-1.png" alt="">

        </div>

        <div class="col s12 center-align bpopup-modal-footer">
            <div class="divider"></div>
            <div class="clearfix left-align">
                <span class="note-title">貼心小提醒：</span>
                <span class="note-body">撰寫必買特色時，可以針對販售的商品或檔次特色進行簡單的描述。建議用條列式的方式進行撰寫，前方可用 ● 帶出。這是最容易讓消𥄱者閱讀與接受的方式，每個必買特色中的條列盡量不要超過五點。如果以小短文的形式編寫，也請盡量不要超300字，以免讓人感到有壓力喔。</span>
            </div>
            <a class="waves-effect waves-light btn b-close">關閉視窗</a>

        </div>
    </div>
</div>
<!-- 結帳倍數的tooltip -->
<div id="bpopup-tooltip-4" class="card-panel bpopup-modal bpopup-tooltip">
    <div class="row">
        <div class="col s12 bpopup-modal-title">
            結帳倍數是決定消費者在這個方案裡，必需選滿幾個單位的規格或商品，才能進行結帳。
            <div class="divider"></div>
        </div>

        <div class="col s12 bpopup-modal-scroll_content">
            <span>
                範例 1 ：這個方案是 16 個規格/商品成立才能進行結帳，所以結帳倍數設定成16。意思即代表消費者最少要挑選 16 個口味才能進行結帳。
            </span>
            <img src="/Themes/OWriteOff/images/DealProposal-tooltip-4-1.png" alt="">
            <span>
                範例 2 ：它需要有 2 個規格成立才能成為 1 個單位，因為這個方案是 2 個單位才能進行結帳，所以結帳倍數設定成 2。意思即代表消費者最少要挑選 2 組規格才能進行結帳。
            </span>
            <img src="/Themes/OWriteOff/images/DealProposal-tooltip-4-2.png" alt="">
        </div>

        <div class="col s12 center-align bpopup-modal-footer">
            <div class="divider"></div>
            <div class="clearfix left-align">
                <span class="note-title">貼心小提醒：</span>
                <span class="note-body">結帳倍數的設定，通常是方案和商品或規格本身的單位有關係</span>
            </div>
            <a class="waves-effect waves-light btn b-close">關閉視窗</a>

        </div>
    </div>
</div>
<!-- 超商取貨限制的tooltip -->
<div id="bpopup-tooltip-5" class="card-panel bpopup-modal bpopup-tooltip">
    <div class="row">
        <div class="col s12 bpopup-modal-title ">
            超商取貨限制欄位填寫說明。
            <div class="divider"></div>
        </div>

        <div class="col s12 bpopup-modal-scroll_content">
            <span>
                請依照下面的條件，協助測量確認包裝材積內，最多能夠裝得下＂幾組方案＂，再依照結果填入提案單中的對應欄位裡！
            </span>
            <table>
                <thead><tr><td>項目</td><td>條件</td></tr></thead>
                <tbody>
                    <tr>
                        <td>(外包裝)尺寸</td>
                        <td>最大尺寸 45x30x30公分</td>
                    </tr>
                    <tr>
                        <td>邊長</td>
                        <td>長+寬+高≦105公分</td>
                    </tr>
                    <tr>
                        <td>最長邊</td>
                        <td>≦45公分</td>
                    </tr>
                    <tr>
                        <td>重量</td>
                        <td>≦5公斤</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col s12 center-align bpopup-modal-footer">

            <a class="waves-effect waves-light btn b-close">關閉視窗</a>

        </div>
    </div>
</div>

<table id="templete_product_add" style="display:none">
    <tr class="selected multi" style="display: table-row;">
        <td class="">
            <span class="templete_tr_product_guid" style="display:none"></span><span class="templete_product_guid" style="display:none"></span><span class="templete_product_name"></span><a href="javascript:void(0)" class="" onclick="deleteDealProduct(this)"><i class="fa fa-close"></i></a>
        </td>
        <td class="">
            <ul class="multi_tags-read_only tagit ui-widget ui-widget-content ui-corner-all">
            </ul>
        </td>
    </tr>
    <tr class="selected single" style="display: table-row;">
        <td class="">
            <span class="templete_tr_product_guid" style="display:none"></span><span class="templete_product_guid" style="display:none"></span><span class="templete_product_name"></span><a href="javascript:void(0)" class="" onclick="deleteDealProduct(this)"><i class="fa fa-close"></i></a>
        </td>
        <td class="">

        </td>
    </tr>
</table>