﻿
<div id="bpopup_loading_saving" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i>資料處理中，請稍候...
        </div>
    </div>
</div>

<div id="bpopup_loading_save_result" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title" style="text-align:center">
            <img src="/Themes/default/images/17Life/G2/31965_key.png" width="100" /><br />
            <i class="fa fa-exclamation-triangle" style="color:#bf0000;font-size:large"></i>
            <span class="message">
            </span>
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn b-close ">確定</a>
        </div>
    </div>
</div>

<div id="bpopup-toast-save-success" class="card-panel bpopup-modal bpopup-modal-toast">
    <div class="row">
        <div class="col s12 bpopup-modal-title toast_message">
            資料已更新!
        </div>
    </div>
</div>

<div id="bpopup-toast" class="card-panel bpopup-modal bpopup-modal-toast">
    <div class="row">
        <div class="col s12 bpopup-modal-title toast_message">
            <!-- 這裡預備要載入Toast的文字內容，以程式來帶入 -->
        </div>
    </div>
</div>
<div id="bpopup-step_alert" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title alert_message">
            <!-- 這裡預備要載入Alert的文字內容，以程式來帶入 -->
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn b-close secondary bpopup-step_alert-cancel">取消</a>
            <a class="waves-effect waves-light btn b-close bpopup-step_alert-confirm">確定</a>
        </div>
    </div>
</div>
<div id="bpopup-warehouseType" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title alert_message">
            請選擇要複製提案單內容至哪種類型提案
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a name="btnWarehouseType" id="btnNormal" class="waves-effect waves-light btn bpopup-identity_select_warning123 batch_upload_confirm select">一般宅配 (自出含快出與超取)</a><br /><br />
            @if (ViewBag.IsConfirmWms!=null && ViewBag.IsConfirmWms)
            {
                <a name="btnWarehouseType" id="btnWms" class="waves-effect waves-light btn bpopup-identity_select_warning123 batch_upload_confirm select">24H到貨 (倉儲+物流)</a>
            }
            <p>
                <label class="unit-label rd-unit-label">
                    提醒您：一但選擇提案類型後即無法變更喔
                </label>
            </p>

        </div>
    </div>
</div>

<script type="text/javascript">
    var toast_message = function (toast_message_text, duration) {
        duration = duration || 1000;
        $("#bpopup-toast").find('.toast_message').text(toast_message_text);
        $('#bpopup-toast').bPopup({
            autoClose: duration,//toast的維持時間
            speed: 750,//toast漸入漸出的動畫秒數
            opacity: 0,//toast的背景為全透明
            modalClose: true,//toast浮現期間，點擊背景可直接取消
        });
    }

    var alert_message = function (alert_message_text, confirm_action) {
        $('#bpopup-step_alert').find('.alert_message').text(alert_message_text);
        $('#bpopup-step_alert').bPopup({
            modalClose: false,
            onOpen: function () { $('.bpopup-step_alert-confirm').click(confirm_action); },
        });
    }

    var error_message = function (toast_message_text) {
        $("#bpopup_loading_save_result .message").html(toast_message_text);
        $('#bpopup_loading_save_result').bPopup({
            //autoClose: 5000,
        });
    }

    var goto_message = function (toast_message_text, url) {
        $("#bpopup-toast-save-success").find(".toast_message").text(toast_message_text);
        $('#bpopup-toast-save-success').bPopup({
            autoClose: 2000,
            onClose: function () {
                location.href = url;
            }
        });
    }
</script>