﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@{
    Layout = "~/Views/Proposal/_ProposalSalesLayout.cshtml";
}

<!-- 彈窗jquery和它的功能宣告 -->
<script type="text/javascript" src="/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>

<style>
    textarea {
        resize: vertical;
        max-height: 500px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnAnalyze").click(function () {
            $("#bpopup-toast").find('.toast_message').text("資料處理中...");
            var bpopup_loading = $('#bpopup-toast').bPopup({
                speed: 750,//toast漸入漸出的動畫秒數
                opacity: 0,//toast的背景為全透明
            });

            var bids = [];
            var lines = $('textarea').val().split('\n');
            for (var i = 0; i < lines.length; i++) {
                if (lines[i] != "") {
                    bids.push(lines[i]);
                }
            }
            if (bids.length > 20) {
                alert("最多20檔");
                bpopup_loading.close();
                return false;
            }

            $("#main tr").not(':first').empty();

            var main = $("#main");
            $.post("/sal/proposal/GetAnalyzeDataByBid", { bids: bids }, function (result) {
                bpopup_loading.close();

                $.each(result, function (midx, mobj) {
                    var templeteTr = $(".templeteMain tr");
                    var item_checkbox = templeteTr.find('.item_checkbox'); 
                    var item_bid = templeteTr.find('.item_bid');  //檔次BID
                    var item_result = templeteTr.find('.item_result');  //結果
                    var item_message = templeteTr.find('.item_message');  //訊息

                    if (mobj.ResultId != "@((int)ProposalBatchBidStatus.Error)") {
                        item_checkbox.html('<input type="checkbox" onclick="toast_chk()" checked />');
                    } else {
                        item_checkbox.html('');
                    }

                    item_bid.html(mobj.Bid + "<spna class='businessHourGuid'>" + mobj.Bid + "</span>");
                    item_result.html('<span class="ResultMsg">' + mobj.ResultMsg + '</span>');
                    item_message.html('<span class="Message">' + mobj.Message + '</span>');

                    main.append("<tr>" + $(templeteTr).html() + "</tr>");
                })

            }).error(function (xhr) {
                console.log(xhr);
            });
        });


        $("#btnExecute").click(function () {
            //$("#bpopup-toast").find('.toast_message').text("資料處理中...");
            //var bpopup_loading = $('#bpopup-toast').bPopup({
            //    speed: 750,//toast漸入漸出的動畫秒數
            //    opacity: 0,//toast的背景為全透明
            //});

            var trs = $("#main tbody tr");

            var bidList = [];
            $.each(trs, function (idx, obj) {
                var isChk = $(obj).find("input[type='checkbox']").is(":checked");
                if (isChk) {
                    bidList.push($(obj).find(".businessHourGuid").html());
                }
            });
            if (bidList.length == 0) {
                toast_message("請先勾選檔次");
                return false;
            }

            $.each(trs, function (idx, obj) {
                var isChk = $(obj).find("input[type='checkbox']").is(":checked");
                if (isChk) {
                    var bid = $(obj).find(".businessHourGuid").html();
                    $(obj).find(".ResultMsg").html("Queue");
                    $.post("/sal/proposal/BatchCreateHouseProposal", { bid: bid }, function (result) {
                        if (result.IsSuccess) {
                            $(obj).find(".ResultMsg").html("Done");
                            $(obj).find(".Message").html("完成，單號：<a target='_blank' href=/sal/ProposalContent.aspx?pid=" + result.Message + ">" + result.Message + "</a>");
                            $(obj).addClass("active");
                        } else {
                            $(obj).find(".ResultMsg").html(result.ResultMsg);
                            $(obj).find(".Message").html(result.Message);
                        }
                    });
                }
            });

        });

    });

    function toast_chk() {
        var w = '已選取 ' + $("#main tbody tr").find("input[type='checkbox']:checked").length + ' 筆';
        Materialize.toast(w, 2000);
    }
</script>



<!-- 頁面標題(同menu中名稱) -->
<h5 class="breadcrumbs-title">增補宅配提案單</h5>

<div class="row">
    <div class="col s12">
        <h5 style="color:#bf0000">
            工作任務：<br />
            1 處理未結檔的舊版宅配提案單改成新版宅配提案單<br />
            2 從來沒有提案單、且未結檔的檔次增補新版宅配提案單<br />
        </h5>
        <div class="form-unit">
            <label class="unit-label">
                STEP01. <br />母(單)檔BID
            </label>
            <div class="data-input">
                <p>
                    <textarea style="width:100%" rows="20" id="txtBids"></textarea>
                </p>
            </div>
        </div>

        <div class="divider hide-on-xlarge-only"></div>
    </div>


</div>


<div class="row">
    <div class="col s12">
        <a id="btnAnalyze" class="btn secondary">Step02. 分析</a>
        <a id="btnExecute" class="waves-effect waves-light btn">Step03. 執行</a>
    </div>

</div>

<div class="row">
    <div class="col s12">
        <table id="main" class="center-align">
            <thead>
                <tr>
                    <th class="" width="10%">選項</th>
                    <th class="" width="30%">檔次Bid</th>
                    <th class="" width="20%">結果</th>
                    <th class="" width="40%">訊息</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

<table class="templeteMain" style="display:none">
    <tr>
        <td class="item_checkbox"></td>
        <td class="item_bid"></td>
        <td class="item_result"></td>
        <td class="item_message"></td>
    </tr>
</table>



@Html.Partial("~/Views/Proposal/_PupItemUsagePartial.cshtml")

@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")
