﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component;
@using LunchKingSite.WebLib.Models.VendorBillingSystem;

@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    ViewVbsInstorePickupCollection vip = (ViewVbsInstorePickupCollection)Model;

    ViewVbsInstorePickup modelFamily = vip.Where(x => x.ServiceChannel == (int)ServiceChannel.FamilyMart).FirstOrDefault();
    ViewVbsInstorePickup modelSeven = vip.Where(x => x.ServiceChannel == (int)ServiceChannel.SevenEleven).FirstOrDefault();

    string contactName = string.Empty;
    string contactTel1 = string.Empty;
    string contactTel2 = string.Empty;
    string contactTel3 = string.Empty;
    string contactEmail = string.Empty;
    string contactMobile = string.Empty;

    if (config.EnableSevenIsp)
    {
        if (modelFamily != null && modelFamily.Contacts != null)
        {
            ReturnContracts contacts = new JsonSerializer().Deserialize<ReturnContracts>(modelFamily.Contacts);
            contactName = contacts.ContactPersonName;
            contactTel1 = contacts.SellerTel.Split('-')[0];
            contactTel2 = contacts.SellerTel.Split('-')[1].Split('#')[0];
            contactTel3 = contacts.SellerTel.IndexOf('#') > 0 ? contacts.SellerTel.Split('#')[1] : "";
            contactEmail = contacts.ContactPersonEmail;
            contactMobile = contacts.SellerMobile;
        }
        else if (modelSeven != null && modelSeven.Contacts != null)
        {
            ReturnContracts contacts = new JsonSerializer().Deserialize<ReturnContracts>(modelSeven.Contacts);
            contactName = contacts.ContactPersonName;
            contactTel1 = contacts.SellerTel.Split('-')[0];
            contactTel2 = contacts.SellerTel.Split('-')[1].Split('#')[0];
            contactTel3 = contacts.SellerTel.IndexOf('#') > 0 ? contacts.SellerTel.Split('#')[1] : "";
            contactEmail = contacts.ContactPersonEmail;
            contactMobile = contacts.SellerMobile;
        }
    }

}

@if (vip != null && vip.Count() > 0)
{

    if (config.EnableSevenIsp)
    {
        <h3>申請基本資料</h3>
        <table border="1" style="margin-top:10px;">
            <tr>
                    <td width="169px;" class="title">賣家編號/賣家名稱</td>
                    <td colspan="3">
                        @modelFamily.SellerId  @modelFamily.SellerName
                    </td>
            </tr>
            <tr>
                <td width="130px;" class="title">聯絡人</td>
                @if (modelFamily.Status == (int)ISPStatus.Verifying || modelFamily.Status == (int)ISPStatus.Complete || (modelSeven != null && (modelSeven.Status == (int)ISPStatus.Verifying || modelSeven.Status == (int)ISPStatus.Complete)))
                {
                    <td width="300px;"><input id="contactName" name="contactName" type="text" value="@contactName" /></td>
                }
                else
                {
                    <td width="300px;">@contactName</td>
                }

                <td width="130px;" class="title">電話(市)</td>
               @if (modelFamily.Status == (int)ISPStatus.Verifying || modelFamily.Status == (int)ISPStatus.Complete || (modelSeven != null && (modelSeven.Status == (int)ISPStatus.Verifying || modelSeven.Status == (int)ISPStatus.Complete)))
               {
                    <td width="240px;">
                        <input id="contactTel1" name="contactTel1" type="text" style="width:50px" value="@contactTel1"/>-
                        <input id="contactTel2" name="contactTel2" type="text" style="width:100px" value="@contactTel2"/>#
                        <input id="contactTel3" name="contactTel3" type="text" style="width:50px" value="@contactTel3"/>
                    </td>

                }
                else
                {
                    <td width="240px;">@(contactTel1 + '-' + contactTel2 + (contactTel3 != "" ? '#' + contactTel3 : ""))</td>
                }

            </tr>
            <tr>
                <td class="title">Email</td>
                @if (modelFamily.Status == (int)ISPStatus.Verifying || modelFamily.Status == (int)ISPStatus.Complete || (modelSeven != null && (modelSeven.Status == (int)ISPStatus.Verifying || modelSeven.Status == (int)ISPStatus.Complete)))
                {
                    <td width="300px;"><input id="contactEmail" name="contactEmail" type="text" value="@contactEmail" style="width:290px"/></td>
                }
                else
                {
                    <td>@contactEmail</td>
                }

                <td class="title">電話(行動)</td>
                @if (modelFamily.Status == (int)ISPStatus.Verifying || modelFamily.Status == (int)ISPStatus.Complete || (modelSeven != null && (modelSeven.Status == (int)ISPStatus.Verifying || modelSeven.Status == (int)ISPStatus.Complete)))
                {
                    <td width="240px;"><input id="contactMobile" name="contactMobile" type="text" value="@contactMobile"/></td>
                }
                else
                {
                    <td>@contactMobile</td>
                }

            </tr>
            <tr>
                <td class="title">退貨地址</td>
                @if (modelFamily.Status == (int)ISPStatus.Verifying || modelFamily.Status == (int)ISPStatus.Complete || (modelSeven != null && (modelSeven.Status == (int)ISPStatus.Verifying || modelSeven.Status == (int)ISPStatus.Complete)))
                {
                    <td width="300px;"><input id="returnAddress" name="returnAddress" type="text" value="@modelFamily.SellerAddress" style="width:290px"/></td>
                }
                else
                {
                    <td>@modelFamily.SellerAddress</td>
                }
                <td class="title"></td>
                <td></td>
            </tr>
        </table>
    }
    <br />
    if (modelFamily != null)
    {
        <h3>全家超商</h3>
        <table border="1" style="margin-top:10px;">
            <tr>
                <td class="title" style="width:135px;">申請內容</td>
                <td style="width:200px;">B2C-物流交寄</td>
                <td class="title" style="width:135px;"></td>
                <td style="width:200px;"></td>
            </tr>
            <tr>
                <td class="title">申請狀態</td>
                <td>@Helper.GetDescription((ISPStatus)modelFamily.Status)</td>
                <td class="title">申請日</td>
                <td>@modelFamily.CreateTime.ToString("yyyy/MM/dd HH:mm")</td>
            </tr>
            <tr>
                <td class="title">審核結果<br />審核備註/駁回原因</td>
                @if (modelFamily.Status == (int)ISPStatus.Verifying)
                {
                    <td></td>
                }
                else if (modelFamily.Status == (int)ISPStatus.Reject)
                {
                    @:
                    <td><p>駁回</p>@modelFamily.VerifyMemo</td>
                }
                else
                {
                    <td>審核通過</td>
                }
                <td class="title">審核通過日</td>
                @if (modelFamily.VerifyTime.HasValue)
                {
                    <td>@modelFamily.VerifyTime.Value.ToString("yyyy/MM/dd HH:mm")</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <td class="title">超商建檔結果</td>
                @if (modelFamily.Status >= (int)ISPStatus.Checking)
                {
                    <td>建檔成功</td>
                }
                else
                {
                    <td></td>
                }
                <td class="title">超商建檔日</td>
                @if (modelFamily.Status >= (int)ISPStatus.Checking)
                {
                    if (modelFamily.StoreCreateTime != null)
                    {
                        <td>@modelFamily.StoreCreateTime.Value.ToString("yyyy/MM/dd HH:mm")</td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <td class="title">測標檔下載</td>
                @if (modelFamily.Status >= (int)ISPStatus.Checking)
                {
                    <td>
                        <a href="#" onclick="downloadPDF('@modelFamily.SellerGuid.ToString()',@((int)ServiceChannel.FamilyMart));return false;">下載</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
                <td class="title">超商子代碼</td>
                <td>@modelFamily.StoreSubCode</td>
            </tr>
            <tr>
                <td class="title">測標結果</td>
                @if (modelFamily.Status == (int)ISPStatus.Complete || modelFamily.Status == (int)ISPStatus.Failed)
                {
                    <td>@Helper.GetDescription((CheckLableCode)modelFamily.CheckStatus)</td>
                }
                else
                {
                    <td></td>
                }
                <td class="title">測標完成日</td>
                @if (modelFamily.Status == (int)ISPStatus.Complete && modelFamily.FinishTime.HasValue)
                {
                    <td>@modelFamily.FinishTime.Value.ToString("yyyy/MM/dd HH:mm")</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <td class="title">開通日</td>
                @if (modelFamily.Status == (int)ISPStatus.Complete && modelFamily.FinishTime.HasValue)
                {
                    <td>@modelFamily.FinishTime.Value.ToString("yyyy/MM/dd HH:mm")</td>
                }
                else
                {
                    <td></td>
                }
                <td class="title"></td>
                <td></td>
            </tr>
            <tr>
                <td class="title">退貨週期</td>
                @if (modelFamily.Status == (int)ISPStatus.Verifying || modelFamily.Status == (int)ISPStatus.Complete)
                {
                    <td>
                        <select id="returnCycleFamily" name="returnCycleFamily">
                            @foreach (RrturnCycle item in Enum.GetValues(typeof(RrturnCycle)))
                            {
                                <option value="@((int)item)" @if ((int)item == modelFamily.ReturnCycle) { <text> selected="selected" </text>        }>@Helper.GetDescription(item)</option>
                            }
                        </select>
                    </td>
                }
                else
                {
                    <td>@Helper.GetDescription((RrturnCycle)modelFamily.ReturnCycle)</td>
                }
                <td class="title">退貨方式</td>
                @if (modelFamily.Status == (int)ISPStatus.Verifying || modelFamily.Status == (int)ISPStatus.Complete)
                {
                    <td>
                        <select id="returnTypeFamily" name="returnTypeFamily">
                            <option>請選擇</option>
                            @foreach (RetrunShip item in Enum.GetValues(typeof(RetrunShip)))
                            {
                                if (item != RetrunShip.Family)
                                {
                                    <option value="@((int)item)" @if ((int)item == modelFamily.ReturnType) { <text> selected="selected" </text>         }>@Helper.GetDescription(item)</option>
                                }
                            }
                        </select>
                        <br />
                        <input id="returnOtherFamily" name="returnOtherFamily" type="text" value="@modelFamily.ReturnOther" style="display:none;width:150px;" />
                    </td>
                }
                else
                {
                    <td>
                        @Helper.GetDescription((RetrunShip)modelFamily.ReturnType)
                        <br />
                        @modelFamily.ReturnOther
                    </td>
                }
            </tr>
        </table>
    }
    <br />
    if (modelSeven != null)
    {
        <h3>7-11超商</h3>
        <table border="1" style="margin-top:10px;">
            <tr>
                <td class="title" style="width:135px;">申請內容</td>
                <td style="width:200px;">B2C-物流交寄</td>
                <td class="title" style="width:135px;"></td>
                <td style="width:200px;"></td>
            </tr>
            <tr>
                <td class="title">申請狀態</td>
                <td>@Helper.GetDescription((ISPStatus)modelSeven.Status)</td>
                <td class="title">申請日</td>
                <td>@modelSeven.CreateTime.ToString("yyyy/MM/dd HH:mm")</td>
            </tr>
            <tr>
                <td class="title">審核結果<br />審核備註/駁回原因</td>
                @if (modelSeven.Status == (int)ISPStatus.Verifying)
                {
                    <td></td>
                }
                else if (modelSeven.Status == (int)ISPStatus.Reject)
                {
                    @:
                    <td><p>駁回</p>@modelSeven.VerifyMemo</td>
                }
                else
                {
                    <td>審核通過</td>
                }
                <td class="title">審核通過日</td>
                @if (modelSeven.VerifyTime.HasValue)
                {
                    <td>@modelSeven.VerifyTime.Value.ToString("yyyy/MM/dd HH:mm")</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <td class="title">超商建檔結果</td>
                @if (modelSeven.Status >= (int)ISPStatus.Checking)
                {
                    <td>建檔成功</td>
                }
                else
                {
                    <td></td>
                }
                <td class="title">超商建檔日</td>
                @if (modelSeven.Status >= (int)ISPStatus.Checking)
                {
                    if (modelSeven.StoreCreateTime != null)
                    {
                        <td>@modelSeven.StoreCreateTime.Value.ToString("yyyy/MM/dd HH:mm")</td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <td class="title">測標檔下載</td>
                @if (modelSeven.Status >= (int)ISPStatus.Checking)
                {
                    <td>
                        <a href="#" onclick="downloadPDF('@modelSeven.SellerGuid.ToString()',@((int)ServiceChannel.SevenEleven));return false;">下載</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
                <td class="title">超商子代碼</td>
                <td>@modelSeven.StoreSubCode</td>
            </tr>
            <tr>
                <td class="title">測標結果</td>
                @if (modelSeven.Status == (int)ISPStatus.Complete || modelSeven.Status == (int)ISPStatus.Failed)
                {
                    <td>@Helper.GetDescription((CheckLableCode)modelSeven.CheckStatus)</td>
                }
                else
                {
                    <td></td>
                }
                <td class="title">測標完成日</td>
                @if (modelSeven.Status == (int)ISPStatus.Complete && modelSeven.FinishTime.HasValue)
                {
                    <td>@modelSeven.FinishTime.Value.ToString("yyyy/MM/dd HH:mm")</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <td class="title">開通日</td>
                @if (modelSeven.Status == (int)ISPStatus.Complete && modelSeven.FinishTime.HasValue)
                {
                    <td>@modelSeven.FinishTime.Value.ToString("yyyy/MM/dd HH:mm")</td>
                }
                else
                {
                    <td></td>
                }
                <td class="title"></td>
                <td></td>
            </tr>
            <tr>
                <td class="title">退貨週期</td>
                @if (modelSeven.Status == (int)ISPStatus.Verifying || modelSeven.Status == (int)ISPStatus.Complete)
                {
                    <td>
                        <select id="returnCycleSeven" name="returnCycleSeven">
                            @foreach (RrturnCycle item in Enum.GetValues(typeof(RrturnCycle)))
                            {
                                if (item != RrturnCycle.Mon)
                                {
                                    <option value="@((int)item)" @if ((int)item == modelSeven.ReturnCycle) { <text> selected="selected" </text>           }>@Helper.GetDescription(item)</option>
                                }

                            }
                        </select>
                    </td>
                }
                else
                {
                    <td>@Helper.GetDescription((RrturnCycle)modelSeven.ReturnCycle)</td>
                }
                <td class="title">退貨方式</td>
                @if (modelSeven.Status == (int)ISPStatus.Verifying || modelSeven.Status == (int)ISPStatus.Complete)
                {
                    <td>
                        <select id="returnTypeSeven" name="returnTypeSeven">
                            <option>請選擇</option>
                            @foreach (RetrunShip item in Enum.GetValues(typeof(RetrunShip)))
                            {
                                if (item != RetrunShip.Family)
                                {
                                    <option value="@((int)item)" @if ((int)item == modelSeven.ReturnType) { <text> selected="selected" </text>          }>@Helper.GetDescription(item)</option>
                                }
                            }
                        </select>
                        <br />
                        <input id="returnOtherSeven" name="returnOtherSeven" type="text" value="@modelSeven.ReturnOther" style="display:none;width:150px;" />
                    </td>
                }
                else
                {
                    <td>
                        @Helper.GetDescription((RetrunShip)modelSeven.ReturnType)
                        <br />
                        @modelSeven.ReturnOther
                    </td>
                }
            </tr>
        </table>
    }

}

<script type="text/javascript">
    $(document).ready(function () {
        if ($('#returnTypeFamily').val() == '@((int)RetrunShip.Other)') {
            $('#returnOtherFamily').show();
        }

        if ($('#returnTypeSeven').val() == '@((int)RetrunShip.Other)') {
            $('#returnOtherSeven').show();
        }

        $('#returnTypeFamily').change(function () {
            if ($(this).val() == '@((int)RetrunShip.Other)') {
                $('#returnOtherFamily').show();
            } else {
                $('#returnOtherFamily').hide();
            }
        })

        $('#returnTypeSeven').change(function () {
            if ($(this).val() == '@((int)RetrunShip.Other)') {
                $('#returnOtherSeven').show();
            } else {
                $('#returnOtherSeven').hide();
                $('#returnOtherSeven').val('');
                $('#hdReturnOtherSeven').val($('#returnOtherSeven').val());
            }
        })


        GetReturnTypeSeven();
        $('select[name="returnTypeSeven"] option[value="@(modelSeven == null ? 0 : (int)modelSeven.ReturnType)"]').prop('selected', true);
        $('#returnCycleSeven').change(function () {
            GetReturnTypeSeven();
        })
    });

    function check_data_Family() 
    {
        if (!$.isNumeric($('#returnTypeFamily').val())) {
            alert('請選擇退貨方式');
            return false;
        }


        if ($('#returnTypeFamily').val() == '@((int)RetrunShip.Other)' && $('#returnOtherFamily').val() == '') {
            alert('請輸入自行取貨資料');
            return false;
        }

        return check_data_contact();


    }

    function check_data_Seven() 
    {
        if ('@config.EnableSevenIsp'=='True' && $('#returnTypeSeven').length > 0)
        {
            if (!$.isNumeric($('#returnTypeSeven').val()) || $('#returnTypeSeven').val()=='0') {
                alert('請選擇退貨方式');
                return false;
            }
        }


        if ('@config.EnableSevenIsp'=='True' && $('#returnTypeSeven').length > 0)
        {
            if ($('#returnTypeSeven').val() == '@((int)RetrunShip.Other)' && $('#returnOtherSeven').val() == '') {
                alert('請輸入自行取貨資料');
                return false;
            }
        }

        return check_data_contact();

    }

    function check_data_contact()
    {
        if ('@config.EnableSevenIsp'=='True')
        {
            if ($('#contactName').val() =='') {
                alert('請輸入聯絡人');
                return false;
            }

            if ($('#contactEmail').val() =='') {
                alert('請輸入Email');
                return false;
            }

            if ($('#contactTel1').val() =='' || $('#contactTel2').val() =='') {
                alert('請輸入電話(市)');
                return false;
            }

            if (isNaN($('#contactTel1').val()) || isNaN($('#contactTel2').val()))
            {
                alert('電話(市)格式錯誤');
                return false;
            }

            if ($('#contactTel1').val().length + $('#contactTel2').val().length + $('#contactTel3').val().length + 2 > 21)
            {
                //再加兩個dash,超取平台最多21字
                alert('電話(市)格式錯誤');
                return false;
            }

            if ($('#contactTel1').val().length + $('#contactTel2').val().length < 9)
            {
                alert('電話(市)格式錯誤');
                return false;
            }

            if ($('#contactMobile').val() =='') {
                alert('請輸入電話(行動)');
                return false;
            }

            if (isNaN($('#contactMobile').val()))
            {
                alert('電話(行動)格式錯誤');
                return false;
            }

            if ($('#returnAddress').val() =='') {
                alert('請輸入退貨地址');
                return false;
            }
        }

        return true;
    }


    function downloadPDF(key, channel) {
        $.ajax({
            type: 'POST',
            url: 'SellerContent.aspx/GetTestTag',
            data: JSON.stringify({
                key: key,
                channel: channel
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.d != null) {
                    window.location.href = jQuery.parseJSON(data.d).Data;
                }
            },
        });
    }

    function GetReturnTypeSeven()
    {
        $('select[name="returnTypeSeven"]').empty();
        $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (0)).text('請選擇'));
        if ($('select[name="returnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Thu)')
        {
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Hct))).text('@Helper.GetDescription(RetrunShip.Hct)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Kerrytj))).text('@Helper.GetDescription(RetrunShip.Kerrytj)'));
        }
        else if ($('select[name="returnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Wed)')
        {
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Other))).text('@Helper.GetDescription(RetrunShip.Other)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.SelfPicking))).text('@Helper.GetDescription(RetrunShip.SelfPicking)'));
        }
        else if ($('select[name="returnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Tue)')
        {
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Uni))).text('@Helper.GetDescription(RetrunShip.Uni)'));
        }
        else if ($('select[name="returnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Fri)')
        {
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Pelican))).text('@Helper.GetDescription(RetrunShip.Pelican)'));
        }
        else if ($('select[name="returnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Daily)')
        {
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Kerrytj))).text('@Helper.GetDescription(RetrunShip.Kerrytj)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Hct))).text('@Helper.GetDescription(RetrunShip.Hct)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Uni))).text('@Helper.GetDescription(RetrunShip.Uni)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Pelican))).text('@Helper.GetDescription(RetrunShip.Pelican)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Other))).text('@Helper.GetDescription(RetrunShip.Other)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.SelfPicking))).text('@Helper.GetDescription(RetrunShip.SelfPicking)'));
        }
    }
</script>