﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@{
    string vbsUri = string.Empty;
    bool isVbs = false;
    if (ViewBag.IsVbsPro)
    {
        //商家系統
        Layout = "~/Views/Shared/VbsLayout.cshtml";
        vbsUri = "/vbs";
        isVbs = true;
    }
    else
    {
        //業務系統
        Layout = "~/Views/Proposal/_ProposalSalesLayout.cshtml";
        vbsUri = "/sal";
    }
}
@{
    string vbsSellers = (ViewBag.VbsSellers ?? string.Empty).ToString().Replace("\"", "'");
    Dictionary<int, string> stockFilter = ViewBag.StockFilter ?? new Dictionary<int, string>();
}
<style type="text/css">
    .item_OG_number, .item_safty_quantity, .item_mpn {
        display:none;
    }
</style>
<!-- 彈窗jquery和它的功能宣告 -->
<script type="text/javascript" src="/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>


<script type="text/javascript">
    var vbsSellers = "@Html.Raw(vbsSellers)";
    $(document).ready(function () {
        if (vbsSellers == "") {
            alert("賣家資料異常!");
            return false;
        }
        $('.batch_add_file-btn,.batch_add_file-confirm').click(function () {

            if ("@(isVbs.ToString().ToLower())" == "true" && '@ViewBag.LoginBy17LifeSimulate'=='True')
            {
                alert('模擬身分不允許執行此功能');
            }
            else
            {
                $('.batch_add_file-form').slideToggle();
            }

        });
        $("#btnSearch").click(function () {
            $("#ddlTotalPage").val("1");
            LoadData();
        });
        $('#bpopup-identity').bind('click', function (e) {

            if ("@(isVbs.ToString().ToLower())" == "true" && '@ViewBag.LoginBy17LifeSimulate'=='True')
            {
                alert('模擬身分不允許執行此功能');
            }
            else
            {
                var data = eval(vbsSellers);
                var bPopup;
                if (data.length == 1) {
                    $(this).attr("href", "@(vbsUri)/productoptioncontent?sid=" + data[0].SellerGuid);
                } else {
                    bPopup = LoadMultiSellers(data);
                }

                $('.batch_upload_confirm').click(function () {
                    if ($("#identity_select option[value='0']:selected").length) {
                        alert('請選擇點選【取消】或【重新選擇】身份認定。');
                    }
                    else {
                        //$('.batch_add_file-form').slideUp();
                        //bPopup.close();
                        location.href = "@(vbsUri)/productoptioncontent?sid=" + $("#identity_select option:selected").val();
                    }
                });
            }

        });
        $('#bpopup-identity-upload').bind('click', function (e) {
            var data = eval(vbsSellers);
            var bPopup;
            var files = $('#file')[0].files;
            var file_upload_input = $('.file-upload-input').val();
            if ($.trim(file_upload_input) == "" || files.length == 0) {
                error_message("請先選擇您要上傳的檔案");
                return false;
            }


            if (data.length == 1) {
                UploadExcel(files, data[0].SellerGuid );
                //$(this).attr("href", "/vbs/productoptioncontent?sid=" + data[0].SellerGuid);
            } else {
                bPopup = LoadMultiSellers(data);
            }

            $('.batch_upload_confirm').click(function () {

                if ($("#identity_select option[value='0']:selected").length) {
                    bPopup.close();
                    $('#bpopup-identity_select_warning').bPopup({
                    });
                }
                else {
                    UploadExcel(files, $("#identity_select option:selected").val());
                }
            });
        });
        $('.bpopup-identity_select_warning').bind('click', function (e) {
            $('#bpopup-identity_select_warning').bPopup({
                modalClose: false,
                opacity: 0.5,
            });
        });

        $("#PageLength").change(function () {
            $("#ddlTotalPage").val("1");
            LoadData();
        });

        $(".fist_page").click(function () {
            $("#ddlTotalPage").val("1");
            //$(".fist_page").addClass("disabled");
            LoadData();
        });
        $(".prev_page").click(function () {
            var cp = $("#ddlTotalPage").val();
            $("#ddlTotalPage").val(parseInt(cp) - 1);
            LoadData();
        });
        $(".next_page").click(function () {
            var cp = $("#ddlTotalPage").val();
            $("#ddlTotalPage").val(parseInt(cp) + 1);
            LoadData();
        });
        $(".last_page").click(function () {
            var tp = $('#ddlTotalPage option:last-child').val();
            $("#ddlTotalPage").val(tp);
            //$(".last_page").addClass("disabled");
            LoadData();
        });

        LoadData();
    });

    function LoadMultiSellers(data) {
        var objSelect = $("#identity_select");
        $(objSelect).empty();
        $(objSelect).append("<option value='0' disabled>請選擇</option>");
        $.each(data, function (midx, mobj) {
            $(objSelect).append("<option value='" + mobj.SellerGuid + "'>" + mobj.SellerId + " " + mobj.SellerName + "</option>");
        });

        var bPopup = $('#bpopup-identity_select').bPopup({
            modalClose: false,
            opacity: 0.5,
        });

        return bPopup;
    }
    function getFileExtension(filename) {
        return filename.slice((filename.lastIndexOf(".") - 1 >>> 0) + 2);
    }
    function UploadExcel(files, sid) {
        //file begin
        var formdata = new FormData();
        var flag = true;
        $.each(files, function (i, file) {
            var ext = getFileExtension(file.name);
            if (ext != "xls") {
                error_message("目前尚不支援" + ext + "，請上傳副檔名為xls的Excel檔案");
                flag = false;
            }
            formdata.append(file.name, file);
        });

        if (!flag) {
            return false;
        }
        formdata.append("sid", sid);
        //file end

        var loadPopup = $('#bpopup-loading_auto_close').bPopup({

        });

        $.ajax({
            type: "POST",
            url: '@(vbsUri)/proposal/UploadProductInfo',
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
                loadPopup.close();
                //$(".success_count").html(data.SuccessCount);
                if (data.FailCount == 0) {
                    $(".error_list").hide();
                } else {
                    $(".error_list").attr("href", "@(vbsUri)/proposal/ExportProductFailList?gid=" + data.Eid);
                }
                $("#import_result").html(data.FailCount > 0 ? "失敗!" : "成功!");
                //$(".fail_count").html(data.FailCount);
                $('#bpopup-upload_result').bPopup({
                    onClose: function () {
                        LoadData();
                    },
                });
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
        //if (bPopup != null && bPopup != undefined) {
        //    bPopup.close();
        //}
        //上傳loading畫面在上傳完成後應自動關閉，本處為示意用
        $('#bpopup-loading_auto_close').bPopup({
            autoClose: 1500,
            onClose: function () {
                $('#bpopup-upload_result').bPopup({
                });
            },
        });
    }

    function enabledPage() {
        var cp = $("#ddlTotalPage").val();
        var tp = $('#ddlTotalPage option:last-child').val();
        if (tp == undefined) {
            $(".fist_page").addClass("disabled");
            $(".prev_page").addClass("disabled");
            $(".next_page").addClass("disabled");
            $(".last_page").addClass("disabled");
            return false;
        }
        if (parseInt(tp) == 1) {
            //只有一頁
            $(".fist_page").addClass("disabled");
            $(".prev_page").addClass("disabled");
            $(".next_page").addClass("disabled");
            $(".last_page").addClass("disabled");
        } else {
            if (parseInt(cp) == parseInt(tp)) {
                //最後一頁
                $(".fist_page").removeClass("disabled");
                $(".prev_page").removeClass("disabled");
                $(".next_page").addClass("disabled");
                $(".last_page").addClass("disabled");
            } else if (parseInt(cp) == 1) {
                //第一頁
                $(".fist_page").addClass("disabled");
                $(".prev_page").addClass("disabled");
                $(".next_page").removeClass("disabled");
                $(".last_page").removeClass("disabled");
            } else if (parseInt(cp) < parseInt(tp)) {
                //第一頁
                $(".fist_page").removeClass("disabled");
                $(".prev_page").removeClass("disabled");
                $(".next_page").removeClass("disabled");
                $(".last_page").removeClass("disabled");
            }
        }

    }
    function pupItemUsage(obj) {
        var item_number = $(obj).closest("tr").find(".pitem_no").html();
        $("#bpopup-item_usage span[name='bpopup_item_number']").html(item_number);
        $.post("@(vbsUri)/proposal/GetProductBusinessHour", { pro_no: item_number }, function (result) {
            $("#bpopup_tab_item_usage tbody tr").empty();
            var _html = "";
            $.each(result, function (midx, mobj) {
                _html += "<tr>";
                _html += "<td>" + mobj.UniqueId + "</td>";
                _html += "<td><a href='@(vbsUri)/proposal/house/proposalcontent?pid=" + mobj.Pid + "' target='_blank'>" + mobj.Pid + "</a></td>";
                _html += "<td>" + mobj.DealName + "</td>";
                _html += "<td>" + mobj.DealStatus + "</td>";
                _html += "<td><a class='waves-effect waves-light secondary btn' href='@(ViewBag.SiteUrl)/" + mobj.Bid + "' target='_blank'>前台頁面</a></td>";
                _html += "</tr>";
            });

            $("#bpopup_tab_item_usage").append(_html);

            $('#bpopup-item_usage').bPopup({
                modalClose: true,
                opacity: 0.5,
            });
        }).error(function (xhr) {
            console.log(xhr);
        });

    }
    function LoadData() {
        var idx = $("#ddlTotalPage").val();
        if (idx == null || idx == undefined) {
            idx = 1;
        }
        var sellerGuid = "";
        if ("@(isVbs.ToString().ToLower())" == "false") {
            sellerGuid = "@(ViewBag.SellerGuid ?? Guid.Empty)";
        }
        var param = {
            pageStart: idx,
            pageLength: $("#PageLength").val(),
            productNo: $("#QryProductNo").val(),
            productBrandName: $("#QryProductBrandName").val(),
            productName: $("#QryProductName").val(),
            gtin: $("#QryGtin").val(),
            mpn: $("#QryMpn").val(),
            productCode: $("#QryProductCode").val(),
            items: $("#QryItems").val(),
            stockStatus: $("#QryStockStatus").val(),
            hideDisabled: $("#QryHideDisabled").is(":checked"),
            sellerGuid: sellerGuid,
            bid: $("#QryBid").val(),
            uniqueId: $("#QryUniqueId").val(),
            warehouseType: $('#QryWarehouseType').val()
        };

        $("#bpopup-toast").find('.toast_message').text("資料處理中...");
        var bpopup_query = $('#bpopup-toast').bPopup({
            speed: 750,//toast漸入漸出的動畫秒數
            opacity: 0,//toast的背景為全透明
        });
        $.ajax(
            {
                type: "POST",
                url: "@(vbsUri)/proposal/GetProductOption",
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                dataFilter: function (data) { return data; },
                success: function (data) {
                    //console.log(data);
                    $("#main tr").not(':first').empty();
                    var main = $("#main");
                    //var trs = [];
                    $.each(data.Data, function (midx, mobj) {
                        var templeteTr = $(".templeteMain tr");
                        var item_number = templeteTr.find('.item_number');  //商品編號
                        var item_name = templeteTr.find('.item_name');  //商品名稱
                        var item_spec = templeteTr.find('.item_spec');  //規格
                        var item_OG_number = templeteTr.find('.item_OG_number');    //GTINs
                        var item_mpn = templeteTr.find('.item_mpn');    //mpn
                        var item_code = templeteTr.find('.item_code');  //貨號資料
                        var item_quantity = templeteTr.find('.item_quantity');
                        var item_warehouse_type = templeteTr.find('.item_warehouse_type');
                        var item_safty_quantity = templeteTr.find('.item_safty_quantity');
                        var status_btn = templeteTr.find('.item_state');
                        var edit_content = templeteTr.find('.edit_content');

                        item_number.html("<span class=pitem_no>" + mobj.ProductNo + "</span>" + (mobj.PchomeProdId != "" && mobj.PchomeProdId != undefined ? "<br/>" + mobj.PchomeProdId : "") + "<span name='product_detail_guid' style='display:none'>" + mobj.ItemGuid + "</span>");
                        item_name.html(mobj.ProductBrandName + " " + mobj.ProductName);
                        item_spec.html(mobj.ItemName);
                        var gtin = (mobj.Gtins == '' || mobj.Gtins == null) ? '<span style="color:lightgray;">無資料</span>' : mobj.Gtins;
                        var mpn = (mobj.Mpn == '' || mobj.Mpn == null) ? '<span style="color:lightgray;">無資料<span>': mobj.Mpn;
                        item_OG_number.html(gtin);
                        item_mpn.html(mpn);
                        item_code.html(mobj.ProductCode);
                        item_quantity.html(mobj.Stock);

                        item_warehouse_type.html(mobj.WarehouseType == 1 ? '24H' : '一般');

                        item_safty_quantity.html(mobj.SaftyStock);
                        if (mobj.ItemStatus == @((int)ProductItemStatus.Normal)){
                            status_btn.html('<a class="waves-effect waves-light btn status_btn_on" onclick="activeProduct(this)">啟用中</a>');
                        } else {
                            status_btn.html('<a class="waves-effect waves-light btn status_btn_off secondary" onclick="activeProduct(this)">已停用</a>');
                        }
                        edit_content.attr("href", "@(isVbs ? "/vbs" : "/sal")/productoptioncontent?sid=" + mobj.Sid + "&pid=" + mobj.InfoGuid + "&did=" + mobj.ItemGuid + "#" + mobj.ProductNo);
                        main.append("<tr>" + $(templeteTr).html() + "</tr>");
                    });


                    $("#TotalCount").html(data.TotalCount);
                    $("#spanTotalPage").html(data.TotalPage);
                    var ddlTotalPage = $("#ddlTotalPage");
                    ddlTotalPage.empty();
                    for (var i = 1; i <= data.TotalPage; i++) {
                        if (data.CurrentPage == i) {
                            ddlTotalPage.append("<option value='" + i + "' selected>" + i + "</option>");
                        } else {
                            ddlTotalPage.append("<option value='" + i + "'>" + i + "</option>");
                        }
                    }
                    enabledPage();

                    bpopup_query.close();
                }, error: function (res) {
                    bpopup_query.close();
                    console.log(res);
                    $.unblockUI();
                }
            });
    }
    function activeProduct(obj) {
        if ("@(isVbs.ToString().ToLower())" == "true" && '@ViewBag.LoginBy17LifeSimulate'=='True')
        {
            alert('模擬身分不允許執行此功能');
        }
        else
        {
            var on = $(obj).hasClass("status_btn_on");

            var did = $(obj).parent().parent().find("span[name='product_detail_guid']").html();

            var status = @((int)ProductItemStatus.Normal);
            if (on) {
                status = @((int)ProductItemStatus.Disabled);
            }
            $.post("@(vbsUri)/proposal/DisabledProduct", { did: did, status: status }, function (result) {
                if (result.Data.IsSuccess) {
                    $(obj).toggleClass("status_btn_off secondary").toggleClass('status_btn_on');
                    $(obj).text(on ? '已停用' : '啟用中');
                } else {
                    error_message("[失敗]" + result.Data.Message);
                }
            }).error(function (xhr) {
                console.log(xhr);
            });
        }

    }


    function editProduct(){
        if ("@(isVbs.ToString().ToLower())" == "true" && '@ViewBag.LoginBy17LifeSimulate'=='True')
        {
            alert('模擬身分不允許執行此功能');
            $('.edit_content').removeAttr("href");
        }
    }
</script>



<!-- 頁面標題(同menu中名稱) -->
@if (isVbs)
{
    <h5 class="breadcrumbs-title">商品與庫存管理</h5>
}
else
{
    <h5 class="breadcrumbs-title"> <a href="~/Sal/SellerList.aspx">業務系統</a> >  商品與庫存管理</h5>
}

<div class="row">
    <div class="col xl6 l12 m12 s12">
        <div class="form-unit">
            <label class="unit-label">
                檔次BID
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="QryBid" placeholder="請輸入完整的檔次 BID" maxlength="36">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                商品編號
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="QryProductNo" placeholder="請輸入完整的商品編號" maxlength="25">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                GTIN
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="QryGtin" placeholder="請輸入完整的資訊" maxlength="25">
                </p>
            </div>
        </div>
        <div class="form-unit" style="display:none">
            <label class="unit-label">
                MPN
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="QryMpn" placeholder="請輸入完整的資訊" maxlength="70">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                規格
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="QryItems" placeholder="" maxlength="50">
                    <span class="note">請輸入部份或完整的規格，每項規格間請以,隔開</span>
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                使用類型
            </label>
            <div class="data-input">
                <p>
                    <select id="QryWarehouseType">
                        <option value="0">一般宅配(自出含快速出貨)</option>
                        <option value="1">24H到貨(寄倉+倉儲物流)</option>
                        <option value="-1">全部</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="divider hide-on-xlarge-only"></div>
    </div>

    <div class="col xl6 l12 m12 s12">
        <div class="form-unit">
            <label class="unit-label">
                檔號
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="QryUniqueId" placeholder="請輸入完整的檔號">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                商品名稱
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="QryProductBrandName" style="width:35%;" placeholder="請輸入品牌名，可留空" maxlength="50">
                    <input type="text" id="QryProductName" style="width:60%;" placeholder="請輸入部份或完整的商品名稱" maxlength="199">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                貨號資料
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="QryProductCode" placeholder="請輸入部份或完整的貨號資料" maxlength="50">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                庫存量
            </label>
            <div class="data-input">
                <p>
                    <select id="QryStockStatus">
                        <option value="0" selected="">請選擇</option>
                        @foreach (var st in stockFilter)
                        {
                            <option value="@(st.Key)">@(st.Value)</option>
                        }
                    </select>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col xl6 l12 s12 right-align">
        <a class="waves-effect waves-light btn" id="btnSearch">搜尋</a>

        <a id="bpopup-identity" class="btn secondary bpopup-identity_select">個別建立商品</a>
        <a class="btn secondary batch_add_file-btn">批次建立商品</a>
    </div>
    <div class="col xl6 l12 s12 center-align table_display_controller">
        <span class="right">
            顯示筆數
            <select name="PageLength" id="PageLength">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="250">250</option>
                <option value="500">500</option>
            </select>
            筆/頁
        </span>
        <label for="test1" class="checkbox_buttons right">
            <input name="QryHideDisabled" id="QryHideDisabled" type="checkbox" checked>
            隱藏停用商品
        </label>
    </div>
</div>

<div class="row batch_add_file-form" style="display:none;">
    <div class="col s12">

        <div class="form-unit">
            <label class="unit-label">
                批次建立商品
            </label>
            <div class="data-input">
                <p class="custom-file-upload">
                    <input type="file" id="file" name="myfiles[]" />
                    <a id="bpopup-identity-upload" class="waves-effect waves-light btn bpopup-identity_select">上傳</a>
                    <a href="~/template/SalesDocs/商品匯入表格範本.xls">批次建立範本下載</a>
                </p>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col s12">
        <table id="main" class="center-align">
            <thead>
                <tr>
                    <th class="" width="150">商品編號</th>
                    <th class="" width="250">商品名稱</th>
                    <th class="" width="150">規格</th>
                    <th class="item_OG_number" width="50"><a href="https://support.google.com/merchants/answer/6219078?hl=zh-Hant" target="_blank" title="點我看 [全球交易品項識別碼] 說明">GTIN</a></th>
                    <th class="item_mpn" width="50"><a href="https://support.google.com/merchants/answer/6324482?hl=zh-Hant" target="_blank" title="點我看 [製造商零件編號] 說明">MPN</a></th>
                    <th class="" width="100">貨號資料</th>
                    <th class="" width="50">庫存量</th>
                    <th class="" width="50">使用<br />類型</th>
                    <th class="item_safty_quantity" width="50">安全庫存</th>
                    <th class="" width="70">狀態</th>
                    <th class="" width="120" style="min-width:130px;">管理</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>
<!-- pagination -->
<div class="row">
    <div class="col s12">
        <div class="" style="margin:0 auto;text-align:center;">
            <i class="btn arrow tertiary waves-effect fa fa-angle-double-left waves-input-wrapper fist_page" style=""><input title="第一頁" type="button" class="waves-button-input" value=""></i>
            <i class="btn disabled arrow tertiary waves-effect fa fa-angle-left waves-input-wrapper prev_page" style=""><input title="上一頁" type="button" class="waves-button-input" value=""></i>
            <form class="dis-inline mrg20-ver" style="display:inline;">
                <select id="ddlTotalPage" onchange="LoadData()"></select>
                <span>/<span id="spanTotalPage"></span></span>
                <span>(<span id="TotalCount">0</span>筆資料)</span>
            </form>
            <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-right waves-input-wrapper next_page" style=""><input title="下一頁" type="button" class="waves-button-input" value=""></i>
            <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-double-right waves-input-wrapper last_page" style=""><input title="最後頁" type="button" class="waves-button-input" value=""></i>
        </div>

    </div>
</div>





<div id="bpopup-identity_select" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title">
            請選擇您將以哪個商家身份執行(批次匯入)新增商品？
        </div>
        <div class="col s12">
            <select name="" id="identity_select" style="width:100%;">
                <option selected="" disabled="" value="0">請選擇</option>
                <option value="">A42423 賣家名稱1</option>
                <option value="">A42424 賣家名稱2</option>
                <option value="">A42425 賣家名稱3</option>
            </select>
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light secondary btn b-close">取消</a>
            <a class="waves-effect waves-light btn bpopup-identity_select_warning123 batch_upload_confirm">確定</a>

        </div>

    </div>

</div>

<div id="bpopup-identity_select_warning" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title">
            無法辨識身份。
            請選擇點選【取消】或【重新選擇】身份認定。
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn bpopup-identity_select">確定</a>
        </div>
    </div>
</div>

<div id="bpopup-loading_auto_close" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i>資料匯入處理中，請稍候...
        </div>
    </div>
</div>

<div id="bpopup-upload_result" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title">
            處理結果報告<br>
            <span id="import_result"></span><br>
            <span style="display:none">
                成功：<span class="success_count"></span>筆<br>
                失敗：<span class="fail_count"></span>筆<br>
            </span>
            <a href="" class="error_list">下載處理失敗結果清冊</a>
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn b-close ">確定</a>
        </div>
    </div>
</div>


<table class="templeteMain" style="display:none">
    <tr>
        <td class="item_number"></td>
        <td class="item_name"></td>
        <td class="item_spec"></td>
        <td class="item_OG_number"></td>
        <td class="item_mpn"></td>
        <td class="item_code"></td>
        <td class="item_quantity"></td>
        <td class="item_warehouse_type"></td>
        <td class="item_safty_quantity"></td>
        <td class="item_state"><a class="waves-effect waves-light btn status_btn_o" onclick="activeProduct(this)">啟用中</a> </td>
        <td class="item_mgmt">
            <a class="waves-effect waves-light secondary btn edit_content" onclick="editProduct(this)">編輯</a>
            <a class="waves-effect waves-light secondary btn bpopup-item_usage" onclick="pupItemUsage(this)">檢視</a>
        </td>
    </tr>
</table>



@Html.Partial("~/Views/Proposal/_PupItemUsagePartial.cshtml")

@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")

<!-- 修改檔案上傳器的樣式 -->
<script>
    ; (function ($) {

        // Browser supports HTML5 multiple file?
        var multipleSupport = typeof $('<input/>')[0].multiple !== 'undefined',
            isIE = /msie/i.test(navigator.userAgent);

        $.fn.customFile = function () {

            return this.each(function () {

                var $file = $(this).addClass('custom-file-upload-hidden'), // the original file input
                    $wrap = $('<div class="file-upload-wrapper">'),
                    $input = $('<input type="text" class="file-upload-input" />'),
                    // Button that will be used in non-IE browsers
                    $button = $('<button type="button" class="btn secondary">選擇檔案</button>'),
                    // Hack for IE
                    $label = $('<label class="btn secondary" for="' + $file[0].id + '">選擇檔案</label>');

                // Hide by shifting to the left so we
                // can still trigger events
                $file.css({
                    position: 'absolute',
                    left: '-9999px'
                });

                $wrap.insertAfter($file)
                    .append($file, $input, (isIE ? $label : $button));

                // Prevent focus
                $file.attr('tabIndex', -1);
                $button.attr('tabIndex', -1);

                $button.click(function () {
                    $file.focus().click(); // Open dialog
                });

                $file.change(function () {

                    var files = [], fileArr, filename;

                    // If multiple is supported then extract
                    // all filenames from the file array
                    if (multipleSupport) {
                        fileArr = $file[0].files;
                        for (var i = 0, len = fileArr.length; i < len; i++) {
                            files.push(fileArr[i].name);
                        }
                        filename = files.join(', ');

                        // If not supported then just take the value
                        // and remove the path to just show the filename
                    } else {
                        filename = $file.val().split('\\').pop();
                    }

                    $input.val(filename) // Set the value
                        .attr('title', filename) // Show filename in title tootlip
                        .focus(); // Regain focus

                });

                $input.on({
                    blur: function () { $file.trigger('blur'); },
                    keydown: function (e) {
                        if (e.which === 13) { // Enter
                            if (!isIE) { $file.trigger('click'); }
                        } else if (e.which === 8 || e.which === 46) { // Backspace & Del
                            // On some browsers the value is read-only
                            // with this trick we remove the old input and add
                            // a clean clone with all the original events attached
                            $file.replaceWith($file = $file.clone(true));
                            $file.trigger('change');
                            $input.val('');
                        } else if (e.which === 9) { // TAB
                            return;
                        } else { // All other keys
                            return false;
                        }
                    }
                });

            });

        };

        // Old browser fallback
        if (!multipleSupport) {
            $(document).on('change', 'input.customfile', function () {

                var $this = $(this),
                    // Create a unique ID so we
                    // can attach the label to the input
                    uniqId = 'customfile_' + (new Date()).getTime(),
                    $wrap = $this.parent(),

                    // Filter empty input
                    $inputs = $wrap.siblings().find('.file-upload-input')
                        .filter(function () { return !this.value }),

                    $file = $('<input type="file" id="' + uniqId + '" name="' + $this.attr('name') + '"/>');

                // 1ms timeout so it runs after all other events
                // that modify the value have triggered
                setTimeout(function () {
                    // Add a new input
                    if ($this.val()) {
                        // Check for empty fields to prevent
                        // creating new inputs when changing files
                        if (!$inputs.length) {
                            $wrap.after($file);
                            $file.customFile();
                        }
                        // Remove and reorganize inputs
                    } else {
                        $inputs.parent().remove();
                        // Move the input so it's always last on the list
                        $wrap.appendTo($wrap.parent());
                        $wrap.find('input').focus();
                    }
                }, 1);

            });
        }

    }(jQuery));

    $('input[type=file]').customFile();
</script>