﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@{
    string vbsUri = string.Empty;
    bool isVbs = ViewBag.IsVbsPro ?? false;
    if (ViewBag.IsVbsPro)
    {
        //商家系統
        Layout = "~/Views/Shared/VbsLayout.cshtml";
        vbsUri = "/vbs";
        isVbs = true;
    }
    else
    {
        //業務系統
        Layout = "~/Views/Proposal/_ProposalSalesLayout.cshtml";
        vbsUri = "/sal";
    }
}
@{
    string vbsSellerGuid = (ViewBag.VbsSellerGuid ?? Guid.Empty).ToString();
    string productGuid = (ViewBag.ProductGuid ?? Guid.Empty).ToString();
    string productDetailGuid = (ViewBag.ProductDetailGuid ?? Guid.Empty).ToString();
    bool editMode = ViewBag.EditMode ?? false;
    bool warehouse24h = false;
    LunchKingSite.BizLogic.Models.ProductItemContentModel m = ViewBag.Products as LunchKingSite.BizLogic.Models.ProductItemContentModel;
    ProductInfo pi = m.Products;
    if (pi != null && pi.WarehouseType == 1)
    {
        warehouse24h = true;
    }
    bool IsEditProductName = ViewBag.IsEditProductName; //是否可修改商品名及規格類型
    List<ProductItem> pdis = m.ProductItems;
    List<ProductSpec> items = m.Specs;
}
<script type="text/javascript" src="/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>
<script type="text/javascript">
    var editMode = ("@(editMode)".toLocaleLowerCase() == "true");
    var warehouse24h = @Html.Raw(warehouse24h ? "true" : "false");

    (function ($) {
        if (!$.curCSS) {
            $.curCSS = $.css;
        }
    })(jQuery);
    $(document).on('keyup', 'input[name=shelfLife]', function () {
        var _this = $(this);
        var max = parseInt(_this.attr('max')) || 9999; 
        var val = parseInt(_this.val());
        if (val > max) {
            _this.val(max);
        }            
    });
    $(document).ready(function () {
        if (editMode == false) {
            $(".edit").hide();
        } else {
            if (warehouse24h) {
                //warehouse_24h_hide     -24H要隱藏
                //warehouse_24h_readonly -有商品ID要鎖住
                //warehouse_24h_show     -要顯示
                $('.warehouse_24h_hide').hide();
                $('.warehouse_24h_readonly').attr("disabled", "disabled");
            }

            $("input[name='isMulti']").attr("disabled", "disabled");
            $("input[name='warehouseType']").attr("disabled", "disabled");
        }

        $(".main_list tbody").sortable({
            handle: ".drag-move"
        });

        var dids = $("div[name='product_detail_guid']");
        $.each(dids, function () {
            if ($(this).html() == "@(productDetailGuid)") {
                $(this).parent().parent().addClass("active-row");
            }
        });

        setWms($("input[name='warehouseType']:checked"));
        $("input[name='warehouseType']").change(function () {
            setWms($(this));
        });
        
        $("input[name='isMulti']").click(function () {
            if ($(this).val() == "true") {
                $(".multi_spec").show();
            } else {
                $(".multi_spec").hide();
            }
        });

        var ismulti = $("input[name='isMulti']:checked").val();
        if (ismulti != undefined) {
            if (ismulti == "true") {
                $(".multi_spec").show();
            } else {
                $(".multi_spec").hide();
            }
        }

        $(".haveNoGtin").change(function () {
            if($(".haveNoGtin").is(":checked"))
            {
                $(this).parent().find('.gtin').val('');
            }
        });
        $(".haveNoMpn").change(function () {
            if($(".haveNoMpn").is(":checked"))
            {
                $(this).parent().find('.mpn').val('');
            }
        });
        $('.gtin').change(function(){
            if($('.gtin').val() != '')
            {
                $(this).parent().find('.haveNoGtin').removeAttr('checked');
            }
        });
        $('.mpn').change(function(){
            if($('.mpn').val() != '')
            {
                $(this).parent().find('.haveNoMpn').removeAttr('checked');
            }
        });

        $("#btnCloneItem").click(function () {
            var templete = $(".itemTemplete").clone();
            templete.removeClass("itemTemplete");
            templete.show();
            var item_list = $("#itemList");
            item_list.append(templete);
        });

        $("#btnCloneProduct").click(function () {
            var templete = $(".catgTemplete").clone();
            templete.removeClass("catgTemplete");
            templete.show();
            var product_list = $("#product_list");
            product_list.append(templete);
        });
        //批次新增規格
        $('.bpopup-batch_spec_add').bind('click', function (e) {
            $(".proposal_info").hide();
            var spec_row = $(".scroll_region div[class='form-unit']");

            $.each(spec_row, function (midx, mobj) {
                if (midx == 0) {
                    $(mobj).find("input[name='pop_catg_name']").val("款式");
                    $(mobj).find("textarea[name='pop_item_name']").val("男生款,女生款");
                } else {
                    $(mobj).closest(".form-unit").remove();
                }
            });

            $('#bpopup-batch_spec_add').bPopup({
                modalClose: true,
                opacity: 0.5,
            });
        });


        var row = $(".main_list tr").find("span[id='" + $("#ProductDetailGuid").val() + "']");
        $(row).parent().parent().addClass("active-row");


        resizeFields();

    });

    function resizeFields() {
        var isMulti = $("input[name='isMulti']:checked").val();
        if (isMulti == "true"){
            var rows = $(".main_list tr").not('thead tr');
            var mom_catgs = $(".main_list tr input[name='catg_name']");
            var len = (80 / mom_catgs.length);
            $.each(mom_catgs, function (midx, mobj) {
                $(mobj).attr("style", "width:" + len + "%");
            });
            $.each(rows, function (midx, mobj) {
                var item_names = $(mobj).find("input[name='item_name']");
                $.each(item_names, function (mmidx, mmobj) {
                    $(mmobj).attr("style", "width:" + len + "%");
                });

            });
        }
    }

    function pupItemUsage(obj) {
        var item_number = $(obj).closest("tr").find("[name=product_no]").html();
        $("#bpopup-item_usage span[name='bpopup_item_number']").html(item_number);
        $.post("@(vbsUri)/proposal/GetProductBusinessHour", { pro_no: item_number }, function (result) {
            $("#bpopup_tab_item_usage tbody tr").empty();
            var _html = "";
            $.each(result, function (midx, mobj) {
                _html += "<tr>";
                _html += "<td>" + mobj.UniqueId + "</td>";
                _html += "<td><a href='@(vbsUri)/proposal/house/proposalcontent?pid=" + mobj.Pid + "' target='_blank'>" + mobj.Pid + "</a></td>";
                _html += "<td>" + mobj.DealName + "</td>";
                _html += "<td>" + mobj.DealStatus + "</td>";
                _html += "<td><a class='waves-effect waves-light secondary btn' href='@(ViewBag.SiteUrl)/" + mobj.Bid + "' target='_blank'>前台頁面</a></td>";
                _html += "</tr>";
            });

            $("#bpopup_tab_item_usage").append(_html);

            $('#bpopup-item_usage').bPopup({
                modalClose: true,
                opacity: 0.5,
            });
        }).error(function (xhr) {
            console.log(xhr);
        });
    }


    function doSave() {
        $("input[name='isMulti']").attr("disabled", "");
        var isMulti = $("input[name='isMulti']:checked").val();
        if (isMulti == undefined) {
            alert("請選擇商品類型");
            return false;

        }
        if ($.trim($("#product_name").val()) == "") {
            alert("請填入商品名稱");
            return false;
        }

        var details = [];
        var isMulti = $("input[name='isMulti']:checked").val();
        var warehouseType = $("input[name='warehouseType']:checked").val();
        var vbsSellerGuid = $("#VbsSellerGuid").val();
        var productGuid = $("#ProductGuid").val();
        var product_brand_name = $("#product_brand_name").val();
        var product_name = $("#product_name").val();
        if (isMulti == undefined) {
            return false;
        }

        //var product_list = $("#product_list span");
        var rows = $(".main_list tr").not('thead tr');
        var err_message = "";
        if (isMulti == "true") {
            var f_item_name = $(rows[0]).find("input[name='item_name']").val();
            if ($.trim(f_item_name) == "") {
                error_message("[儲存失敗]請輸入至少一項規格");
                return false;
            }
        }
        $.each(rows, function (midx, mobj) {
            var product_no = $(mobj).find("span[name='product_no']").html();
            var product_code = $(mobj).find("input[name='product_code']").val();
            var haveNoGtin = $(mobj).find('.haveNoGtin').is(":checked");
            var haveNoMpn = $(mobj).find('.haveNoMpn').is(":checked");
            var gtin = $(mobj).find("input[name='gtin']").val();
            var mpn = $(mobj).find("input[name='mpn']").val();
            var stock = $(mobj).find("input[name='stock']").val();
            var adjust_num = $(mobj).find("input[name='adjust_num']").val();
            var adjust_type = $(mobj).find("#adjust_type").val();
            var safety_stock = $(mobj).find("input[name='safety_stock']").val();
            var shelfLife = $(mobj).find("input[name='shelfLife']").val();
            var price = $(mobj).find("input[name='price']").val();

            if(!haveNoGtin && gtin == '')
            {
                err_message = ("提醒您，因GTIN未填寫故無法存檔，請確認商品GTIN，請填入數字，沒有請勾選無。");
                $(this).find('.gtin').focus();
                return false;
            }
            if(!haveNoMpn && mpn == '')
            {
                err_message = ("提醒您，因MPN未填寫故無法存檔，請確認商品MPN，請填入英數，沒有請勾選無。");
                $(this).find('.mpn').focus();
                return false;
            }
            if (isNaN(gtin)) {
                err_message = ("調整GTIN請輸入數字!");
                return false;
            }
            if ($.trim(adjust_num) == "") {
                err_message = ("請填入調整庫存量!");
                return false;
            }
            if (isNaN(parseInt(adjust_num))) {
                err_message = ("調整庫存量請輸入數字!");
                return false;
            }
            if (adjust_num < 0) {
                err_message = ("調整庫存量請輸入大於0的正整數!");
                return false;
            }
            if ($.trim(safety_stock) == "") {
                err_message = ("請填入安全庫存數!");
                return false;
            }
            if (isNaN(parseInt(safety_stock))) {
                err_message = ("安全庫存數請輸入數字!");
                return false;
            }
            if (safety_stock < 0 || safety_stock > 999999999) {
                err_message = ("安全庫存數請輸入大於0或小於999999999的正整數!");
                return false;
            }
            if (stock != "" && isNaN(stock)) {
                err_message = ("庫存數請輸入數字!");
                return false;
            }
            if (stock > 999999999) {
                err_message = ("庫存數請輸入小於999999999的正整數!");
                return false;
            }
            if (warehouseType == 1) {
                if ($.trim(shelfLife) != '' && (isNaN(parseFloat(shelfLife)) || shelfLife <= 0)) {
                    err_message = "有效天數請輸入非零正整數!!";
                    return false;
                }
                if (shelfLife > 9999) {
                    err_message = ("有效天數請輸入小於9999的正整數!");
                    return false;
                }
                if ($.trim(price) == '') {
                    err_message = "請填入單品價格!";
                    return false;
                }
                if (isNaN(parseFloat(price)) || price <= 0) {
                    err_message = "單品價格請輸入非零正整數!!";
                    return false;
                }
            }
            var item_names = $(mobj).find("input[name='item_name']");
            var mom_catgs = $(".main_list tr input[name='catg_name']");
            var productItems = [];
            //$.each(item_names, function (mmidx, mmobj) {
            for (var i = 0; i < item_names.length; i++) {
                if (isMulti == "true") {
                    if ($.trim($(mom_catgs[i]).val()) == "") {
                        err_message += "規格名稱不可為空值";
                        return false;
                    }
                    if ($.trim($(item_names[i]).val()) == "") {
                        err_message += "規格名稱不可為空值";
                        return false;
                    }
                }
                var productItem = {
                    index: (i+1),
                    catgName: $(mom_catgs[i]).val(),
                    itemName: $(item_names[i]).val()
                };
                productItems.push(productItem);
            }

            //});

            if (stock == null || stock == "") {
                stock = 0;
            }

            var productOptionDetail = {
                productNo: product_no,
                productCode: product_code,
                gtins: gtin,
                mpn: mpn,
                oriStock: stock,
                stock: adjust_num,
                adjusttype: adjust_type,
                safetyStock: safety_stock,
                shelfLife: shelfLife,
                price:price,
                warehouseType: warehouseType,
                sales: 0,
                sort: midx,
                productOptions: productItems
            };
            details.push(productOptionDetail);
        });

        if (err_message != "") {
            error_message(err_message);
            return false;
        }

        var productOption = {
            productGuid: productGuid,
            sellerGuid: vbsSellerGuid,
            isMulti: isMulti,
            productBrandName: product_brand_name,
            productName: product_name,
            warehouseType: warehouseType,
            ProductItems: details
        };

        var bpopup = $('#bpopup_loading_saving').bPopup({
            modalClose: true,
            opacity: 0.5,
        });
        console.log('productOption: ' + JSON.stringify(productOption));

        $("#form1").submit(function (e) {

            $("#postData").val(JSON.stringify(productOption));

            var formObj = $(this);
            var formURL = formObj.attr("action");
            var formData = new FormData(this);
            $.ajax({
                url: "@(vbsUri)/proposal/ProductOptionContent",
                type: 'POST',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (resp) {
                    bpopup.close();
                    var res = JSON.parse(resp);
                    if (res.IsSuccess) {
                        goto_message("儲存成功",  "@(vbsUri)/productoptioncontent?sid=" + res.Sid + "&pid=" + res.Pid);
                    } else {
                        error_message("[儲存失敗]" + res.Message);
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
            e.preventDefault(); //Prevent Default action.
            $("#form1").unbind();
        });
        $("#form1").submit(); //Submit the form

        @*$.ajax({
            type: "POST",
            url: "@(vbsUri)/proposal/ProductOptionContent",
            data: JSON.stringify(productOption),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res.IsSuccess) {
                    goto_message("儲存成功",  "@(vbsUri)/productoptioncontent?sid=" + res.Sid + "&pid=" + res.Pid);
                } else {
                    error_message("[儲存失敗]" + res.Message);
                }
            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });*@
    }


    function doDeleteItem(obj) {
        $(obj).closest("div").remove();
    }
    function doDeleteCatg(obj) {
        $(obj).closest("div").remove();
    }

    function decItemName() {
        var left = $(".fa-chevron-circle-left");
        var right = $(".fa-chevron-circle-right");
        var trs = $('.main_list tr');
        $.each(trs, function (idx, tr) {
            var catg_name = $(tr).find("input[name='catg_name']");
            if (catg_name.length > 0 && catg_name.length >= 2) {
                $(tr).find("input[name='catg_name']:last").remove();
                $(tr).find("span:last").remove();
            }
            var item_name = $(tr).find("input[name='item_name']");
            if (item_name.length > 0 && item_name.length >= 2) {
                $(tr).find("input[name='item_name']:last").remove();
                $(tr).find("span:last").remove();
            }
        });
        resizeFields();
    }
    function incItemName() {
        var left = $(".fa-chevron-circle-left");
        var right = $(".fa-chevron-circle-right");
        //$(left).show();
        var trs = $('.main_list tr');
        $.each(trs, function (idx, tr) {
            var catg_name = $(tr).find("input[name='catg_name']");
            if (catg_name.length > 0 && catg_name.length <= 3) {
                $(catg_name).last().after(" <span>_</span> <input type='text' name='catg_name' />");
            }
            var item_name = $(tr).find("input[name='item_name']");
            if (item_name.length > 0 && item_name.length <= 3) {
                $(item_name).last().after(" <span>_</span> <input type='text' name='item_name' />");
            }
        });
        resizeFields();
    }
    function addRow() {
        var warehouseType = parseInt($('input[name=warehouseType]:checked').val(), 10);
        var clone = $(".main_list tbody tr:first").clone();
        clone.find("input").val("").removeAttr('disabled');
        clone.find("span[name='product_no']").html("");
        //clone.find("input[name='stock']").val("0");
        if (warehouseType == 1) {
            clone.find("input[name='stock']").val("0").attr('disabled', true);
            clone.find("input[name='safety_stock']").val('10').attr('disabled', true);
        } else {
            clone.find("input[name='stock']").val('0').removeAttr('disabled');
            clone.find("input[name='safety_stock']").val('').removeAttr('disabled');
        }
        clone.find("input[name='adjust_num']").val("0");
        $(".main_list").append(clone);
    }
    function deleteRow(obj) {
        $.post("@(vbsUri)/proposal/CheckDeletedItemUsed", { item_guid: $(obj).parent().parent().find("div[name='product_detail_guid']").html() }, function (result) {
            if (result.IsSuccess) {
                var len = $(".main_list tbody tr").length;
                if (len > 1) {
                    $(obj).closest("tr").remove();
                } else {
                    error_message("至少需保留一筆資料!");
                }
            } else {
                error_message("[刪除失敗]" + result.Message);
            }
        }).error(function (xhr) {
            console.log(xhr);
        });

    }

    function closePup() {
        $(".spec_list").empty();
    }
    function deleteProduct() {
        if (!confirm("確定要刪除此商品?")) {
            return false;
        }
        $.post("@(vbsUri)/proposal/DeleteProduct", { pid: $("#ProductGuid").val() }, function (result) {
            if (result.Data.IsSuccess) {
                @*$("#bpopup-toast").find(".toast_message").html("刪除成功");
                $('#bpopup-toast').bPopup({
                    autoClose: 2000,
                    onClose: function () {
                        location.href = "@(vbsUri)/productoption";
                    }
                });*@
                if ("@(isVbs.ToString().ToLower())" == "false") {
                    window.close();
                } else {
                    goto_message("刪除成功", "@(vbsUri)/productoption");
                }
            } else {
                error_message("[刪除失敗]" + result.Data.Message);
            }
        }).error(function (xhr) {
            console.log(xhr);
        });
    }
    function activeProduct(obj) {
        var on = $(obj).hasClass("status_btn_on");

        var did = $(obj).parent().parent().find("div[name='product_detail_guid']").html();

        var status = @((int)ProductItemStatus.Normal);
        if (on) {
            status = @((int)ProductItemStatus.Disabled);
        }
        $.post("@(vbsUri)/proposal/DisabledProduct", { did: did, status: status }, function (result) {
            if (result.Data.IsSuccess) {
                $(obj).toggleClass("status_btn_off secondary").toggleClass('status_btn_on');
                $(obj).text(on ? '已停用' : '啟用中');
            } else {
                error_message("[失敗]" + result.Data.Message);
            }
        }).error(function (xhr) {
            console.log(xhr);
        });
    }
    function setWms(warehouseType)
    {
        if ($(warehouseType).val() == "@((int)WarehouseType.Wms)") {
            if (editMode)
            {
                $("input[name='stock']").attr('disabled', true);
            }
            else
            {
                $("input[name='stock']").attr('disabled', true).val('0');
            }
            
            $("input[name='safety_stock']").attr('disabled', true).val('10');
            $('.warehouse_24h_show').show();
            $("input[name='isMulti'][value='false']").attr('disabled', true);
            $("input[name='isMulti'][value='true']").attr('checked', true);
            $("input[name='isMulti']").trigger('click');
        } else {
            if (!editMode)
            {
                $("input[name='stock']").removeAttr('disabled');
                $("input[name='safety_stock']").removeAttr('disabled', true).val('0');
            }
            $('.warehouse_24h_show').hide();
            $("input[name='isMulti'][value='false']").attr('disabled', false);
        }
    }
</script>


<!-- 頁面標題(同menu中名稱) -->
@if (editMode == true)
{
    <h5 class="breadcrumbs-title">
        商品與庫存管理 \ 編輯商品
        @if (isVbs)
        {
            <a href="/vbs/productoption" class="back_to_list" style="">回列表</a>
        }
        else
        {
            <a href="/sal/productoption?sid=@vbsSellerGuid" class="back_to_list" style="">回列表</a>
        }
    </h5>
}
else
{
    <h5 class="breadcrumbs-title">
        商品與庫存管理 \ 新增商品
        @if (isVbs)
        {
            <a href="/vbs/productoption" class="back_to_list" style="">回列表</a>
        }
        else
        {
            <a href="/sal/productoption?sid=@vbsSellerGuid" class="back_to_list" style="">回列表</a>
        }
    </h5>
}
<div class="row">
    <form id="form1">
<textarea id="postData" name="postData" style="display:none"></textarea>
        <div style="padding-top:10px;"></div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <span class="">商品規格/庫存</span>
                    <div class="row">
                        <div class="col s12">
                            <div class="form-unit">
                                <label class="unit-label">
                                    <span class="red-text">*</span>商品名稱<i class="fa fa-question-circle-o tooltipped" data-position="right" data-delay="50" data-tooltip="商品名稱請勿超過25字元"></i>
                                </label>
                                <div class="data-input">

                                    <p>
                                        <input id="product_brand_name" name="product_brand_name" type="text" style="width:30%;" placeholder="請輸入品牌名稱，可留空白" value="@(pi.ProductBrandName)" maxlength="20" class="@(!IsEditProductName ? "warehouse_24h_readonly" : "")">
                                        <input id="product_name" name="product_name" type="text" style="width:68%;" placeholder="請填入商品名稱" value="@(pi.ProductName)" maxlength="20" class="@(!IsEditProductName ? "warehouse_24h_readonly" : "")">
                                    </p>
                                </div>
                            </div>
                            <div class="form-unit">
                                <label class="unit-label">
                                    使用類型
                                </label>
                                <div class="data-input">
                                    <p>
                                        <label style="display:block">
                                            <input name="warehouseType" type="radio" value="@((int)WarehouseType.Normal)" checked="@(pi.WarehouseType == 0)">一般宅配(自出含快出與超取)
                                        </label>
                                        @if (ViewBag.IsConfirmWms)
                                        {
                                            <label style="display:block">
                                                <input name="warehouseType" type="radio" value="@((int)WarehouseType.Wms)" checked="@(pi.WarehouseType == 1)">24H到貨(倉儲+物流)
                                            </label>
                                        }
                                        
                                    </p>
                                </div>
                            </div>
                            <div class="form-unit">
                                <label class="unit-label">
                                    商品類型
                                </label>
                                <div class="data-input">
                                    <p>
                                        <label class="radio_buttons">
                                            <input name="isMulti" type="radio" value="false" checked="@(!pi.IsMulti)">單一/無規格商品
                                        </label>
                                        <label class="radio_buttons">
                                            <input name="isMulti" type="radio" value="true" checked="@(pi.IsMulti)">多規格商品
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="form-unit" id="multi_spec_mgmt">

                                <div style="font-size: 15px;;margin-top: 5px" valign="middle">

                                    <div style="float: left">
                                        <span style="margin-right: 5px">•如何找到</span><span class="blue-text">*</span><a href="https://support.google.com/merchants/answer/6219078?hl=zh-Hant" target="_blank" style="margin-right: 10px;">GTIN 全球交易品項識別碼</a>
                                        <span class="blue-text">*</span><a href="https://support.google.com/merchants/answer/6324482?hl=zh-Hant" target="_blank" style="margin-right: 10px;">MPN 製造商零件編號</a>
                                        填寫能讓商品於
                                        <span style="font-size:16px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                                            <span style="color: #4885ed">G</span><span style="color: #db3236">o</span><span style="color: #f4c20d">o</span>
                                            <span style="color: #4885ed">g</span><span style="color: #3cba54">l</span><span style="color: #db3236">e</span>
                                        </span>
                                        曝光，有助業績成長，請務必盡量填寫資料，GTIN(一串數字)、MPN(一串英數字)通常會在商品外包裝上即可查找。
                                        <br />
                                        <span style="margin-right: 5px">•24H到貨商品，請務必於規格欄中填寫商品重量、容量、尺寸、款式、花色、口味...等，寫法可參閱</span><a href="https://ecshweb.pchome.com.tw/search/v3.3/?q=%E5%A4%9A%E5%8A%9B%E5%A4%9A%E6%BB%8B&scope=all" target="_blank" style="margin-right: 10px;">PChome24H商品</a>
                                    </div>
                                </div>

                                <table class="main_list" style="text-align: center; line-height: 1em;">
                                    <thead>
                                        <tr>
                                            <th class="" width="150" rowspan="2">商品編號</th>
                                            <th class="multi_spec" width="600">
                                                規格名稱
                                                @if (IsEditProductName)
                                                {
                                                    <a onclick="decItemName()"><i class="fa fa-chevron-circle-left"></i></a>
                                                    <a onclick="incItemName()"><i class="fa fa-chevron-circle-right"></i></a>
                                                }

                                            </th>
                                            <th class="" width="100" rowspan="2"><span class="red-text">*</span>GTIN</th>
                                            <th class="" width="100" rowspan="2"><span class="red-text">*</span>MPN</th>
                                            <th class="" width="180" rowspan="2">貨號</th>
                                            <th class="" width="70" rowspan="2"><span class="red-text">*</span>庫存數</th>
                                            <th class="" width="70" rowspan="2"><span class="red-text">*</span>安全庫存數</th>
                                            <th class="prodValue warehouse_24h_show" width="80" rowspan="2">保存價格</th>
                                            <th class="prodShelfLife warehouse_24h_show" width="80" rowspan="2">有效<br />天數</th>
                                            <th class="storage_adjust edit warehouse_24h_hide" width="100" rowspan="2">調整庫存量</th>
                                            <th class="edit" width="70" rowspan="2">狀態調整</th>
                                            <th class="mgmt_func" width="" rowspan="2">管理</th>
                                        </tr>
                                        <tr>
                                            <th class="spec_quantity_edit multi_spec">
                                                @{
                                                    var catgList = items.Select(x => x.CatgName).Distinct().ToList();
                                                    if (catgList.Count > 0)
                                                    {
                                                        int ci = 0;
                                                        foreach (var catg in catgList)
                                                        {
                                                            ci++;
                                                            <input type="text" class="@(!IsEditProductName ? "warehouse_24h_readonly" : "")" name="catg_name" value="@(catg)" style="width:100%">
                                                            if (ci < catgList.Count())
                                                            {
                                                                <span> _</span>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="" name="catg_name" value="" style="width:100%">
                                                    }
                                                }

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @*規格Begin*@
                                        @foreach (ProductItem pdi in pdis)
                                        {
                                        <tr id="@(pdi.ProductNo)" name="@(pdi.ProductNo)">
                                            <td>
                                                @*商品編號*@
                                                <div name="product_detail_guid" style="display: none">@(pdi.Guid)</div>
                                                @if (pdi.ProductNo != 0)
                                                {
                                                    <span name="product_no">@(pdi.ProductNo)</span>
                                                }
                                                else
                                                {
                                                    <span name="product_no"></span>
                                                }
                                                <br />
                                                @if (!string.IsNullOrEmpty(pdi.PchomeProdId))
                                                {
                                                    <span name="pchome_prod_id">@(pdi.PchomeProdId)</span>
                                                }
                                                else
                                                {
                                                    <span name="pchome_prod_id"></span>
                                                }
                                            </td>

                                            <td class="spec_quantity_edit multi_spec">
                                                @*規格名稱*@
                                                @{
                                                    var di = items.Where(x => x.ItemGuid == pdi.Guid);
                                                    if (di.Count() > 0)
                                                    {
                                                        int ci = 0;
                                                        foreach (ProductSpec item in di)
                                                        {
                                                            ci++;
                                                            <input type="text" class="item_name @(pdi.PchomeProdId!=null ? "warehouse_24h_readonly" : "")" name="item_name" value="@(item.SpecName)" style="width:100%">
                                                            if (ci < di.Count())
                                                            {
                                                                <span> _</span>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="item_name" name="item_name" value="" style="width:100%">
                                                    }
                                                }
                                            </td>
                                            <td style="vertical-align:top; padding-top:20px">
                                                @*全球交易品項識別碼 (GTIN)*@
                                                <input class="haveNoGtin" type="checkbox" @if (string.IsNullOrEmpty(pdi.Gtins)) { <text> checked</text> } /><span style="display:inline">無</span><br />
                                                <input class="gtin" type="text" value="@(pdi.Gtins)" name="gtin" style="margin-top:10px">
                                            </td>
                                            <td style="vertical-align:top; padding-top:20px">
                                                @*製造商零件編號 (MPN)*@
                                                <input class="haveNoMpn" type="checkbox" @if (string.IsNullOrEmpty(pdi.Mpn)) { <text> checked</text>} /><span style="display:inline">無</span><br />
                                                <input class="mpn" type="text" value="@(pdi.Mpn)" name="mpn" style="margin-top:10px">
                                            </td>
                                            <td>
                                                @*貨號*@
                                                <input type="text" value="@(pdi.ProductCode)" name="product_code">
                                            </td>
                                            <td>
                                                @*庫存數*@
                                                <input type="number" value="@(pdi.Stock)" name="stock" @(editMode ? "disabled" : string.Empty)>
                                            </td>
                                            <td>
                                                @*安全庫存數*@
                                                <input type="number" value="@(pdi.SafetyStock)" name="safety_stock">
                                            </td>
                                            <td class="warehouse_24h_show" align="left">
                                                <input type="text" value="@(pdi.Price)" name="price" class="@(pdi.PchomeProdId!=null ? "warehouse_24h_readonly" : "")" />
                                            </td>
                                            <td class="warehouse_24h_show">
                                                @*有效天數*@
                                                <input type="number" max="9999" value="@(pdi.ShelfLife)" name="shelfLife" class="@(pdi.PchomeProdId!=null ? "warehouse_24h_readonly" : "")" />
                                            </td>
                                            <td class="storage_adjust edit warehouse_24h_hide">
                                                <select name="adjust_type" id="adjust_type">
                                                    <option value="+">+</option>
                                                    @if (!isVbs)
                                                    {
                                                        <option value="-">-</option>
                                                    }
                                                </select>
                                                <input type="number" name="adjust_num" value="0">
                                            </td>
                                            <td class="edit">
                                                @if (pdi.ItemStatus == (int)ProductItemStatus.Normal)
                                                {
                                                    <a class="waves-effect waves-light btn status_btn_on" onclick="activeProduct(this)">啟用中</a>
                                                }
                                                else
                                                {
                                                    <a class="waves-effect waves-light btn status_btn_off secondary" onclick="activeProduct(this)">已停用</a>
                                                }

                                            </td>
                                            <td>
                                                <a class="btn-floating btn-small red drag-move" title="拖曳可上下移動"><i class="material-icons dp48">swap_vertical_circle</i></a>
                                                <a class="waves-effect waves-light secondary btn bpopup-item_usage edit" title="檢視檔次" onclick="pupItemUsage(this)">檢視</a>
                                                <a class="waves-effect waves-light secondary btn bpopup-item_usage" onclick="deleteRow(this)">刪除</a>
                                            </td>
                                        </tr>
                                        }
                                        @*規格End*@

                                    </tbody>
                                </table>

                                <div class="left-align">
                                    <a class="waves-effect waves-light btn secondary multi_spec" onclick="addRow()"><i class="fa fa-plus" style="margin-right: 5px;"></i>新增單筆規格</a>
                                    <a class="waves-effect waves-light btn secondary bpopup-batch_spec_add multi_spec"><i class="fa fa-plus" style="margin-right: 5px;"></i>批次新增規格</a>
                                </div>
                            </div>

                            <div class="divider hide-on-xlarge-only"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- final decision button groups -->
        <!-- final decision button groups -->
        <div class="row">
            <div class="col s12 right-align">
                <a class="waves-effect waves-light btn tertiary edit" onclick="deleteProduct()">刪除本商品</a>
                <a class="waves-effect waves-light btn tertiary" href="@(isVbs ? "/vbs" : "/sal")/productoption@(isVbs ? "" : "?sid=" + ViewBag.SellerGuid)">返回</a>
                <a class="waves-effect waves-light btn" onclick="doSave()">儲存</a>
                <a class="waves-effect waves-light btn" href="@(isVbs ? "/vbs" : "/sal")/productoptioncontent?sid=@(vbsSellerGuid)" style="display:none">新增下一個商品</a>
            </div>
        </div>

        <div class="btn fixed-float-btn z-depth-3 valign-wrapper center-align" onclick="doSave()">
            <span class="">儲存</span>
        </div>
    </form>
</div>




<div style="margin-bottom:200px;"></div>



<div style="display:none">

    <input type="text" id="VbsSellerGuid" value="@(vbsSellerGuid)" /><br />
    <input type="text" id="ProductGuid" value="@(productGuid)" /><br />
    <input type="text" id="ProductDetailGuid" value="@(productDetailGuid)" /><br />
</div>

<!-- 檔次使用清單-彈窗內容範例 -->
@Html.Partial("~/Views/Proposal/_ProductAddSpecPartial.cshtml")

@Html.Partial("~/Views/Proposal/_PupItemUsagePartial.cshtml")
@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")
