﻿@using LunchKingSite.DataOrm;
@{
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
}

@section SSC {
    @*<link rel="stylesheet" type="text/css" href="@Url.Content(" ~/Themes/PCweb/css/Rightside.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content(" ~/Themes/PCweb/css/RDL-L.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content(" ~/Themes/PCweb/css/RDL-M.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content(" ~/Themes/PCweb/css/RDL-S.css")">*@



    @*
        <script type="text/javascript" src="@Url.Content(" ~/Tools/js/Ppon.js")"></script>*@
    @LunchKingSite.Core.Helper.RenderCss("/Themes/PCweb/css/ppon_item.min.css")
}

<style>
    /*menu不可選*/
    .EntryContentLeft .content-menu {
        background: #fff;
    }

        .EntryContentLeft .content-menu .mgs-item-box {
            cursor: text;
        }

            .EntryContentLeft .content-menu .mgs-item-box:hover {
                border: 1px solid #6e6e6e;
            }
</style>
<script>
    function blockUIClose(obj) {
        if (document.documentElement.clientWidth > 1000) {
            $('#iMap').attr('src', 'about:blank'); // 避免unblockUI reload iframe內容，因此先清空src使其沒有內容
            $.unblockUI();
        }
        else {
            var CityId = $('#HfCityId').val();
            $(obj).parent('div').hide();

            $('.center').css('width', '').css('margin', '');
            $('#Left').show();
            $("#NaviCity").hide();
            $.unblockUI();
        }
        return false;
    }
    function PopWindow(obj) {
        PopBlockUI(obj);
    }
    function PopBlockUI(obj) {
        var top = 0;
        if ($(obj).height() < $(window).height()) {
            top = ($(window).height() - $(obj).height()) / 2;
        } else {
            if ($(obj).find(".mgs-item-box").length > 7 && $(obj).find("#div_combodeallist") != undefined) {
                var combodealheight = $(window).height() - (150);
                $(obj).find("#div_combodeallist").css('height', combodealheight + 'px').css('overflow', 'auto');
                top = ($(window).height() - $(obj).height()) / 2;
            }
        }
        var left = 0;
        if ($(obj).width() < $(window).width()) {
            left = ($(window).width() - $(obj).width()) / 2;
        }
        if (obj.selector = '#Pop_MailCoupon') {
            switch ($(window).width()) {
                case 280:
                    left = "-220";
                    break;
                case 320:
                    left = "-190";
                    break;
                case 360:
                    left = "-170";
                    break;
                case 375:
                    left = "-160";
                    break;
                case 412:
                    left = "-135";
                    break;
                case 414:
                    left = "-142";
                    break;
            }
        }
        $.blockUI({ message: $(obj), css: { border: 'none', background: 'transparent', width: '0px', height: '0px', cursor: 'default', top: top + 'px', left: left + 'px' } });
    }
</script>


<div id="divCenter" class="center" style="overflow: visible;">
    <div id="Default">


        <div class="LeftRight_wrap">
            <div id="Left">
                <div id="maincontent" class="clearfix">
                    <!--outside-top-Opt-->
                    <div id="dealAnchorPoint" class="outside-topOptBox">
                        <div id="leftCollectSuccessMsg" class="HKL_juwindow HKL_leftwind collectSuccessBox" style="display: none">
                            <div class="HKL_ju-x">
                                <img src="https://www.17life.com/Themes/PCweb/images/x.png" width="20" height="20">
                            </div>
                            <div class="HKL_ju-tbox">
                                <p class="ju-title">
                                    <img src="https://www.17life.com/Themes/PCweb/images/Tick.png" width="20" height="20">收藏成功!
                                </p>
                                <p class="ju-title"><a href="https://www.17life.com/User/Collect.aspx" class="ju-intext">去我的收藏看看</a></p>
                            </div>
                        </div>
                        <div id="divLeftCollectDeal">
                            <div class="outTOPT-collect">
                                <p class="outTOPT outTOPT-cohover" onclick="javascript: void(0);">收藏</p></div>
                        </div>
                        <p class="outTOPT goTop4"><a href="#otTOP4">優惠方案</a></p>
                        <p class="outTOPT goTop2"><a href="#otTOP2">詳細介紹</a></p>
                        <p class="outTOPT goTop3"><a href="#otTOP3">店家資訊</a></p>
                        <asp:PlaceHolder ID="phdTop5Link" runat="server">
                            <p class="outTOPT goTop5"><a href="#otTOP5">商品規格</a></p>
                        </asp:PlaceHolder>
                        <p class="outTOPT goTop1"><a href="#otTOP1">權益說明</a></p>
                    </div>
                    <!--outside-top-Opt-->
                    <div class="deal_item_wrap clearfix Publicwelfare">
                        <div class="deal_header">
                            <div class="share info_bar">
                                <div class="share_text">
                                    分享賺取
                                    <span class="bigtext">500元!</span>
                                </div>
                                <div class="share_btn_box">
                                    <a href="javascript:void(0)" class="copy_btn">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        邀請連結
                                    </a>
                                </div>
                                <div class="payment_state">
                                    <div class="masterpass"></div>
                                    <div class="creditcard"></div>
                                    <div id="ImageATM" class="atm" visible="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="deal_main">
                            <div class="main_content">
                                <div class="main_title">
                                    <h1>@(ViewBag.ItemName)</h1>
                                </div>
                                <p class="main_subtitle">
                                    @(ViewBag.DealContent)
                                </p>
                                <ul class="tag_list">
                                    <li class="dts-label dts-lb-11">折價券</li>
                                    <li class="dts-label dts-lb-2">破萬熱銷</li>
                                </ul>
                            </div>
                            <div class="deal_img">
                                <div id="slider" class="slider deal_main_img">
                                    <img src="@(ViewBag.ImagePath)" alt="Img" style="display:block">
                                </div>
                                <div class="item_sitcker">
                                    @*<img src="">*@
                                </div>
                                <div class="activeLogo alo-l">
                                </div>
                            </div>
                        </div>
                        <div class="deal_info">
                            <div class="info_timer" data-countdown="">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <span style="display:none;" class="countdown-timer">
                                    <span class="timer_num">00</span>
                                    <span class="timer_text">天</span>
                                    <span class="timer_num">00</span>
                                    <span class="timer_text">時</span>
                                    <span class="timer_num">00</span>
                                    <span class="timer_text">分</span>
                                    <span class="timer_num">00</span>
                                    <span class="timer_text">秒</span>
                                </span>
                                <span class="countdown-text">限時優惠中!</span>
                            </div>
                            <div class="info_buyer">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span class="timer_num">0</span>
                                <span class="timer_text">人已購買</span>
                            </div>
                            <div class="info_star">
                            </div>               
                            <span class="info_heart_dash" style="position:relative">
                                <div class="info_heart">
                                    <a href="javascript:void(0)" class="off">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        <span class="timer_text">收藏</span>
                                    </a>
                                </div>
                            </span>
                            <div class="info_price">
                                <span class="info_text">好康價</span>
                                <span class="info_num">$@(ViewBag.AvgPrice)</span>
                                <span class="info_text">起</span>
                            </div>
                            <div class="info_save">原價$@(ViewBag.OrigPrice) | @(ViewBag.Discounted)折現省$@(ViewBag.OrigPrice - ViewBag.ItemPrice)</div>
                            @*<div class="info_discount">
                                <div class="discount_title">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    <span class="discount_text">結帳使用折價券</span>
                                </div>
                                <span class="info_text">折後價</span>
                                <span class="info_num color_red">$@(ViewBag.AvgPrice)</span>
                                <span class="info_text">起</span>
                            </div>*@
                            <div class="info_buy">
                                <a class="buy_btn buy_btn" onclick="javascript:void(0);" style="cursor:pointer;">立即買</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="event_wrapper" style="display: none;">
                    <div class="slider_btn">
                        <a href="javascript:void(0)" class="bx bx-prev-pc">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="javascript:void(0)" class="bx bx-next-pc">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    <ul class="event_slider"></ul>
                </div>
                <div id="event_wrapper_mb" class="swiper-container" style="display: none;">
                    <div class="slider_btn">
                        <div class="swiper-button-prev swiper-button-black bx bx-prev-mb">

                        </div>
                        <div class="swiper-button-next swiper-button-black bx bx-next-mb">

                        </div>
                    </div>
                    <div class="swiper-wrapper event_slider">
                    </div>
                </div>
                <div id="pan_Single_2">
                    <div class="share m-share" style="">
                        <div id="pan_m_share">

                            <div class="clearfix mar-center">
                                @*<div class="share_text">
                                        分享送<span class="bigtext">500</span>元
                                    </div>*@
                                @*<div class="share_btn_box"></div>*@
                                @*<a onclick="return Ppon.module.OpenSharePopWindow("/ppon/fbshare_proxy.aspx?type=facebook&bid=4fccfd09-d253-4a64-ab76-55c764bbc3c8", "fb");" class="m-fbBtn"></a>
                                    <a onclick="return Ppon.module.OpenSharePopWindow("/ppon/fbshare_proxy.aspx?type=line"bid=4fccfd09-d253-4a64-ab76-55c764bbc3c8&itemname=%e8%81%96%e7%91%aa%e8%8e%89SUNMERRY-%e5%86%ac%e6%97%a5%e6%9a%96%e7%83%98%e7%84%99%e5%b9%b4%e7%b5%82%e6%85%b6%e5%a4%a7%e8%b3%9e%e6%8a%b5%e7%94%a8%e5%a5%97%e5%88%b8", "line");" class="m-lineBtn"></a>*@
                            </div>
                            <div class="share-tip">
                                親友用你分享的連結購買並核銷成功，就送你500元！
                                <a target="_blank" href="/Ppon/NewbieGuide.aspx?id=share">詳見常見問題</a>
                            </div>

                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="share-popW" style="display: none">
                        <div class="share-popZone">
                            <h3>分享送500元！</h3>
                            <hr>
                            <p>
                                登入後再分享，<br>
                                就有機會賺500元唷！
                            </p>
                            <div class="text-center">

                            </div>
                        </div>
                        <div class="share-popX"></div>
                    </div>


                    <div id="Entry" class="clearfix">
                        <div id="EntryContent">
                            <div id="EntryContentLeft" class="EntryContentLeft">
                                @*優惠方案Begin*@
                                @if (true)
                                {
                                    <div class="EntryTitle PublicwelfareTBk">
                                        <a name="otTOP2" id="otTOP2"></a><a name="DealDetail"></a>
                                        優惠方案
                                    </div>
                                    <div class="Multi-grade-Setting content-menu">
                                        <div id="div_combodeallist">
                                            <p>
                                                @{
                                                    List<ProposalMultiDeal>
                                                        pmds = ViewBag.ProposalMultiDeal;
                                                    foreach (ProposalMultiDeal pmd in pmds)
                                                    {
                                                        <div class="mgs-item-box">
                                                            <div class="">
                                                                <div class="mgs-content">
                                                                    <div class="mgs-item-title">
                                                                        @if (!string.IsNullOrEmpty(pmd.BoxQuantityLimit))
                                                                        {
                                                                            if (Convert.ToInt32(pmd.BoxQuantityLimit) > 0)
                                                                            {
                                                                                <span class='title-tag'>可超商取貨</span>
                                                                            }
                                                                        }
                                                                        @LunchKingSite.BizLogic.Facade.ProposalFacade.GetProposalCouponUsage(pmd)
                                                                    </div>
                                                                    <div class="mgs-item-state">
                                                                        <div class="mgs-sale rdl-a2wdis">
                                                                            @if (pmd.OrigPrice > 0)
                                                                            {
                                                                                <span>
                                                                                    @Math.Round((pmd.ItemPrice / pmd.OrigPrice) * 10, 1)
                                                                                </span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>0</span>
                                                                            }
                                                                            折
                                                                        </div>
                                                                        <div class="mgs-sale">
                                                                            原價 $
                                                                            @(pmd.OrigPrice.ToString("N0"))
                                                                        </div>
                                                                        @if (pmd.Freights > 0)
                                                                        {
                                                                            <div class="mgs-sale">
                                                                                | 運費 @(pmd.Freights.ToString("N0"))
                                                                            </div>
                                                                        }
                                                                        <div class="mgs-buyer mgs-brcolor-org ">
                                                                            均價&nbsp;$
                                                                            @{
                                                                                int quantityMultiplier = 0;
                                                                                int.TryParse(pmd.QuantityMultiplier, out quantityMultiplier);
                                                                                if (quantityMultiplier > 0)
                                                                                {
                                                                                    <span>
                                                                                        @Math.Ceiling(pmd.ItemPrice / quantityMultiplier)
                                                                                    </span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span>0</span>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <!--<div class="mgs-buyer">

                                                                        </div>-->
                                                                    </div>
                                                                </div>
                                                                <div class="mgs-price-box">
                                                                    <div class="mgs-price ">
                                                                        $@(pmd.ItemPrice.ToString("N0"))
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </p>
                                        </div>
                                    </div>
                                }

                                @*優惠方案End*@

                                <div id="Dialog">
                                    <div id="DialogTop" class="EntryTitle">
                                        一姬說好康
                                    </div>
                                    <div class="EntryZone">
                                        <div id="Dialoginner">
                                            <span style="font-size: 16px;">
                                                @Html.Raw(ViewBag.Remark)
                                            </span>
                                        </div>
                                        <div id="DialogBottom">
                                        </div>
                                        @*<div class="rating insufficient"><i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <span class="rating_count">(評價資料不足)</span></div>*@
                                    </div>
                                </div>
                            </div>

                            @*詳細介紹Begin*@
                            <div class="EntryTitle PublicwelfareTBk">
                                <a name="otTOP2" id="otTOP2"></a><a name="DealDetail"></a>
                                詳細介紹
                            </div>
                            <div class="EntryZone clearfix">
                                <div id="DetailinnerV2">
                                    <div id="detailDesc">
                                        @Html.Raw(ViewBag.Description)
                                    </div>
                                </div>
                            </div>
                            @*詳細介紹End*@

                            @*商品規格Begin*@
                            <div class="EntryTitle PublicwelfareTBk">
                                <a name="otTOP1" id="otTOP1"></a>
                                商品規格
                            </div>
                            <div class="EntryZone">
                                <div id="Detailinner">
                                    <div id="detailDesc">
                                        @Html.Raw(ViewBag.ProductSpec)
                                    </div>
                                </div>
                            </div>
                            @*商品規格End*@

                            @*好康價Begin*@
                            <div class="EntryZone">


                                <div id="Detail_buy_box" class="Detail_buy_box">
                                    <div class="price" style="">
                                        <span class="tsText">好康價</span><span class="bigprice">
                                            @(ViewBag.Discounted)<span class="smalltext">折</span>
                                            │ $@(ViewBag.AvgPrice)
                                        </span><span class="redtext"><span id="lmutiple2">起</span></span>
                                    </div>

                                    <div class="buy_btn_box">
                                        <a class="buy_btn btn_normal" style="cursor:pointer;">立即買</a>
                                    </div>
                                </div>
                                <span id="SellerAvailabilityLabel"></span>
                            </div>
                            @*好康價End*@

                            <div class="EntryTitle PublicwelfareTBk">
                                <a name="otTOP1" id="otTOP1"></a>
                                權益說明
                            </div>
                            <div class="EntryZone">
                                <div id="Detailinner" class="Equity">
                                    @Html.Raw(ViewBag.Restrictions)
                                </div>
                            </div>
                            @*<asp:PlaceHolder ID="phMenu" runat="server" Visible="false">
                                    <div class="EntryTitle PublicwelfareTBk">
                                        優惠方案
                                    </div>
                                    <div id="divMenu" class="rd-guarantee EntryZone">
                                        <asp:Image ID="img_Menu" runat="server" />
                                    </div>
                                </asp:PlaceHolder>*@

                            @*<div id="SellerAvailability" class="EntryTitle PublicwelfareTBk StoreInfo">
                                    <a name="otTOP3" id="otTOP3"></a>
                                    <a href="/ppon/store.aspx?sid=d9fd2224-021c-4460-9f75-47c809328807" class="shop-title">店家資訊<i class="fa fa-plus-circle">詳細資訊</i></a>
                                </div>*@


                            <div class="EntryTitle three-promise">
                                安心三大保證
                            </div>

                            <div id="Div3" class="rd-guarantee EntryZone">
                                <p class="h1_title">1.銀行信託保證</p>
                                <p>
                                    17Life好康憑證由等值購物金兌換之。17Life購物金所收取之金額，<br>
                                    將分別存入發行人於台新銀行、陽信銀行開立之信託專戶，專款專用。<br>
                                    更詳細的17Life購物金使用規範內容，請查閱<a href="/newmember/privacypolicy.aspx?p=f" style="font-family: 微軟正黑體; color: #00F;" target="_blank">17Life服務條款</a>。
                                </p>
                                <br>
                                <p class="h1_title">2.全程退費保證</p>
                                <p>
                                    在好康憑證優惠期間內：尚未到店兌換的好康憑證，可辦理全額退費，作業手續費$0。<br>
                                    超過好康憑證優惠期間：尚未到店兌換的好康憑證，可辦理全額退費，作業手續費$0。<br>
                                    ※ 部分好康憑證所指稱之內容為依據特定單一時間與特定場合所提供之服務 ( 包括但不限於演唱會、 音樂會或展覽 )，當好康憑證持有人因故未能於該特定時間與特定場合兌換該服務，恕無法要求退費
                                    或另行補足差額重現該服務。<br>
                                    一般非憑證類宅配商品：鑑賞期七天內可享有全額退費。
                                </p>
                                <br>
                                <p class="h1_title">3.店家風險保證</p>
                                <p>
                                    若店家於團購優惠兌換期內倒閉或因故無法提供商品或服務，則消費者原支付之金額<br>
                                    將由 17Life 全額退費。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-buyBtn m-buyBtnBig m-buyBtnDisabled" style="text-align:center;">
                    <a>已售完</a>
                </div>
                <div id="pan_relateDealArea">

                    <div id="relateDealArea" class="lineview-buy" style="display: none;">
                        <h4>
                            其他好康團購
                            <img id="loadingRelateDeals" src="/Themes/PCweb/images/spinner.gif" style="display: none">
                        </h4>
                        <div id="relateDeals"></div>
                        <input id="relateDealsData" type="hidden">
                        <input id="relateDealsIndex" type="hidden" value="0">
                        <div id="relateDealsTemplate" style="display: none">
                            <a id="dealLink" class="lineview-buy-box clearfix">
                                <div class="lineview-tool clearfix">
                                    <div class="lineview-dts"></div>
                                    <div class="lineview-counter"></div>
                                </div>
                                <div class="relateDealPic lineview-buy-pic">
                                    <img class="relateDealImg">
                                    <div class="dealPromo activeLogo alo-m"></div>
                                </div>
                                <div class="lineview-buytitle">
                                    <span id="dealTitle"></span>
                                </div>
                                <div class="lineview-buyinformation">
                                    <div class="lineview-priceZone">
                                        <div class="lineview-discount"></div>
                                        <div class="lineview-price"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div id="Rightarea" style="margin-top: 0px;">
                <div id="Stickers">

                    <div>
                        <a href="" target="_blank"><img alt="全家專區" src="https://www.17life.com/images/Sticker/SPArea_fami.png"> </a><br>
                        <a href="" target="_blank"><img alt="快速到貨專區" src="https://www.17life.com/images/17P/active/SPArea_24H.png"> </a><br>
                        <a href="" target="_blank"><img alt="優惠券專區" src="https://www.17life.com/images/17P/17topbn/240X60-coupon.png" style="cursor: pointer"></a><br>
                        <br>

                    </div>

                </div>
                <div class="inside_AD" style="display: none;">


                </div>
                <div id="active_block" style="margin-bottom: 10px">


                </div>
                <div id="news_block">


                </div>

                @LunchKingSite.WebLib.Component.WebHelper.PageBlock("新好友限定好康") %>

                <div id="saleB_block">


                </div>

                <div id="Sidedeal" class="side_block">
                    <div class="side_block_title">
                        <i class="fa fa-star fa-fw"></i>今日熱銷
                    </div>

                </div>

                <div id="SideTodaydeal" class="side_block">
                    <div class="side_block_title">
                        <i class="fa fa-star fa-fw"></i>最新上檔
                    </div>

                </div>



                <div class="side_block">
                    <div class="side_block_title">
                        <i class="fa fa-facebook-square fa-fw"></i>17Life粉絲團
                    </div>
                    <div class="side_block_ad">
                        <div id="FacebookareaContent" style="padding-bottom: 0px">
                            <iframe id="fbfans" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 230px; padding-bottom: 0px; padding-left: 2px; height: 70px;" allowtransparency="true" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F17life.com.tw&amp;send=false&amp;layout=standard&amp;width=230&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80"></iframe>
                            <br>
                            <a href="https://www.facebook.com/17life.com.tw" target="_blank">
                                <img src="/Themes/PCweb/images/goto_fbpage.png" width="202" height="28" border="0" alt="">
                            </a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<div id="combodeals" class="Multi-grade-Setting" style="display: none">
    <div class="mgs-boxtitle">
        請選擇好康
    </div>
    <div id="div_combodeallist">

        <p>
            @{
                List<ProposalMultiDeal>
                    pmdsView = ViewBag.ProposalMultiDeal;
                foreach (ProposalMultiDeal pmd in pmdsView)
                {
                    <div class="mgs-item-box">
                        <div class="">
                            <div class="mgs-content">
                                <div class="mgs-item-title">
                                    @LunchKingSite.BizLogic.Facade.ProposalFacade.GetProposalCouponUsageWithGifts(pmd)
                                </div>
                                <div class="mgs-item-state">
                                    <div class="mgs-sale rdl-a2wdis">
                                        @if (pmd.OrigPrice > 0)
                                        {
                                            <span>
                                                @Math.Round((pmd.ItemPrice / pmd.OrigPrice) * 10, 1)
                                            </span>
                                        }
                                        else
                                        {
                                            <span>0</span>
                                        }
                                        折
                                    </div>
                                    <div class="mgs-sale">
                                        原價 $
                                        @(pmd.OrigPrice.ToString("N0"))
                                    </div>
                                    @if (pmd.Freights > 0)
                                    {
                                        <div class="mgs-sale">
                                            | 運費 @(pmd.Freights.ToString("N0"))
                                        </div>
                                    }
                                    <div class="mgs-buyer mgs-brcolor-org ">
                                        均價&nbsp;$
                                        @{
                                            int quantityMultiplier = 0;
                                            int.TryParse(pmd.QuantityMultiplier, out quantityMultiplier);
                                            if (quantityMultiplier > 0)
                                            {
                                                <span>
                                                    @Math.Ceiling(pmd.ItemPrice / quantityMultiplier)
                                                </span>
                                            }
                                            else
                                            {
                                                <span>0</span>
                                            }
                                        }
                                    </div>
                                    <!--<div class="mgs-buyer">

                                    </div>-->
                                </div>
                            </div>
                            <div class="mgs-price-box">
                                <div class="mgs-price ">
                                    $@(pmd.ItemPrice.ToString("N0"))
                                </div>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                }
            }
        </p>

    </div>
    <div class="MGS-XX" onclick="blockUIClose(this);">
        <input type="button" class="btn btn-large btn-primary" value="返回">
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#DetailinnerV2 img").css("height", 'auto');
        $("DetailinnerV2 > img").each(function () {
            var originalImg = $(this);
            var image = new Image();
            image.src = $(originalImg).attr("src");
            var no_image = "../../Themes/PCweb/images/no-app-pic.jpg";
            if (image.naturalWidth == 0 || image.readyState == 'uninitialized') {
                $(originalImg).unbind("error").attr("src", no_image);
            }
        });
    });
</script>