﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@{
    Layout = "~/Views/Proposal/_ProposalSalesLayout.cshtml";
}
@{
    Dictionary<int, string> status = ViewBag.Status ?? new Dictionary<int, string>();
    Dictionary<int, string> source = ViewBag.Source ?? new Dictionary<int, string>();
}
<style type="text/css">
</style>
<!-- 彈窗jquery和它的功能宣告 -->
<script type="text/javascript" src="/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        ChangePage();

        setupdate('txtStartTime', 'txtEndTime');

        $('#chkAll').click(function () {
            $('[id=chkOrder]').attr('checked', $(this).is(':checked'));
        })

        $('#btnSearch').click(function () {
            $("#ddlTotalPage").val("1");
            LoadData();
        })

        $('#btnVerify').click(function () {
            var check = true;
            $("#bpopup-toast").find('.toast_message').text("資料處理中...");
            var bpopup_query = $('#bpopup-toast').bPopup({
                speed: 750,//toast漸入漸出的動畫秒數
                opacity: 0,//toast的背景為全透明
            });

            var chks = $('#main tbody tr').find($('input[type=checkbox]:checked'));
            if (chks.length == 0) {
                error_message("OH OH 無法執行請確認一下是否有勾選項目喔");
                bpopup_query.close();
                return;
            }
            var trs = $('#main tbody tr').find($('input[type=checkbox]:checked')).parent().parent();

            var orderList = [];
            $.each(trs, function (idx, tr) {
                var returnOrderGuid = $(tr).find('[name=return_order_guid]').text();
                orderList.push(returnOrderGuid);
            })


            $.ajax({
                url: "WmsReturnOrderVerify",
                data: JSON.stringify({
                    'orderList': JSON.stringify(orderList)
                }),
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert(result.Message);
                    LoadData();
                },
                error: function (e) {
                    cnosole.log(e);
                },
            });
        })

        $('#btnFail').click(function () {
            var check = true;
            $("#bpopup-toast").find('.toast_message').text("資料處理中...");
            var bpopup_query = $('#bpopup-toast').bPopup({
                speed: 750,//toast漸入漸出的動畫秒數
                opacity: 0,//toast的背景為全透明
            });

            var chks = $('#main tbody tr').find($('input[type=checkbox]:checked'));
            if (chks.length == 0) {
                error_message("OH OH 無法執行請確認一下是否有勾選項目喔");
                bpopup_query.close();
                return;
            }
            var trs = $('#main tbody tr').find($('input[type=checkbox]:checked')).parent().parent();

            var orderList = [];
            $.each(trs, function (idx, tr) {
                var returnOrderGuid = $(tr).find('[name=return_order_guid]').text();
                orderList.push(returnOrderGuid);
            })

            $.ajax({
                url: "WmsReturnOrderFail",
                data: JSON.stringify({
                    'orderList': JSON.stringify(orderList)
                }),
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert(result.Message);
                    LoadData();
                },
                error: function (e) {
                    cnosole.log(e);
                },
            });
        })

        $('#main').on('click', '.changeInvalidation', function () {
            //$("#bpopup-toast").find('.toast_message').text("資料處理中...");
            //var bpopup_query = $('#bpopup-toast').bPopup({
            //    speed: 0,//toast漸入漸出的動畫秒數
            //    opacity: 0,//toast的背景為全透明
            //});

            var current = $(this);
            var returnOrderGuid = current.parent().parent().find('[name=return_order_guid]').text();

            var param = {
                returnOrderGuid: returnOrderGuid,
            };

            $.ajax({
                url: "ChangeWmsReturnOrderInvalidationStatus",
                data: JSON.stringify(param),
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.IsSuccess == true) {
                        $("#bpopup_loading_save_result img").hide();
                        //error_message(result.Message);
                        if ($(current).attr("src") == "@Url.Content("~/Themes/default/images/17Life/G3/CheckoutPass.png")") {
                            $(current).attr("src", "@Url.Content("~/Themes/default/images/17Life/G3/CheckoutError.png")");
                        }
                        else if ($(current).attr("src") == "@Url.Content("~/Themes/default/images/17Life/G3/CheckoutError.png")") {
                            $(current).attr("src", "@Url.Content("~/Themes/default/images/17Life/G3/CheckoutPass.png")");
                        }
                    } else {
                        error_message("無法變更");
                    }
                    bpopup_query.close();
                },
                error: function (e) {
                    cnosole.log(e);
                    $.unblockUI();
                },
            });
        })


    });

    var invalidationHtml = '<span name="invalidation" style="display:none">true</span><img class="changeInvalidation" src="@Url.Content("~/Themes/default/images/17Life/G3/CheckoutPass.png")" alt="作廢" style="width:40%;"/></td>';
    var validityHtml = '<span name="invalidation" style="display:none">false</span><img class="changeInvalidation" src="@Url.Content("~/Themes/default/images/17Life/G3/CheckoutError.png")" alt="有效" style="width:40%;"/></td>';

    function LoadData() {

        if (($("#txtStartTime").val() == "" && $("#txtEndTime").val() != "") || $("#txtStartTime").val() != "" && $("#txtEndTime").val() == "") {
            error_message("請輸入完整日期");
            bpopup_query.close();
            return;
        }

        $('#main tbody tr [type=checkbox]').attr('checked', false);

        var idx = $("#ddlTotalPage").val();
        if (idx == null || idx == undefined) {
            idx = 1;
        }

        if ($.trim($("#txtProductNo").val()) != "") {
            if ($("#txtProductNo").val().indexOf(".") >= 0) {
                error_message("系統商品編號須為數字");
                return false;
            }
            if (isNaN($.trim($("#txtProductNo").val()))) {
                error_message("商品編號須為數字");
                return;
            }
        }

        var param = {
            pageStart: idx,
            pageLength: 10,
            sellerName: $("#txtSellerName").val(),
            productNo: $("#txtProductNo").val(),
            specs: $("#txtSpecs").val(),
            pchomeProId: $("#txtPchomeProId").val(),
            productBrandName: $("#txtProductBrandName").val(),
            productName: $("#txtProductName").val(),
            productCode: $("#txtProductCode").val(),
            startTime: $("#txtStartTime").val(),
            endTime: $("#txtEndTime").val(),
            returnOrderStatus: $("#ddlStatus").val(),
            sourceStatus: $("#ddlSource").val(),
            dontDisplayInvalidation: $('#cbDontDisplayInvalidation').is(":checked"),
        };

        $("#bpopup-toast").find('.toast_message').text("資料處理中...");
        var bpopup_query = $('#bpopup-toast').bPopup({
            speed: 750,//toast漸入漸出的動畫秒數
            opacity: 0,//toast的背景為全透明
        });
        $.ajax(
            {
                type: "POST",
                url: "GetWmsReturnOrder",
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                dataFilter: function (data) { return data; },
                success: function (data) {

                    BindTable(data.Data);
                    BindPage(data.TotalCount, data.TotalPage, data.CurrentPage);
                    EnabledPage();
                    bpopup_query.close();

                }, error: function (res) {
                    console.log(res);
                    $.unblockUI();
                }
            });
    }

    //需修正
    function BindTable(data)
    {
        var html = "";
        $('#main tr:not(:first)').remove();

        $.each(data, function (idx, obj) {
            html += '<tr>';
            if (obj.Status == "@((int)WmsReturnOrderStatus.Apply)") {
                html += '<td><input type="checkbox" id="chkOrder" name="chkOrder"></td>';
            } else {
                html += '<td></td>';
            }
            html += '<td><a href="javascript:void(0)" id="viewProposal" onclick="pupItemUsage(this)">檢視</a>'
                + '<span name="return_order_guid" style="display:none">' + obj.ReturnOrderGuid + '</span>'
                + '<span name="status" style="display:none">' + obj.Status + '</span>'
                + '</td>';
            html += '<td>' + obj.SellerName + '</td>';
            html += '<td>' + obj.PchomeReturnOrderId + '</td>';
            html += '<td><span name="product_no">' + obj.ProductNo + '</span><br />' + obj.PchomeProdId+'</td>';
            html += '<td>' + obj.ProductBrandName + " " + obj.ProductName + '</td>';
            html += '<td>' + obj.SpecName + '</td>';
            html += '<td>' + obj.ProductCode + '</td>';
            html += '<td>' + obj.Qty + '</td>';
            html += '<td>' + obj.Reason+ '</td>';
            html += '<td>' + obj.Remark + '</td>';
            html += '<td>' + obj.StatusText + '</td>';
            html += '<td>' + obj.SourceText + '</td>';
            html += '<td>' + obj.CreateTime + '</td>';
            html += '<td>';
            if (obj.Invalidation == true) {
                html += invalidationHtml;
            } else {
                html += validityHtml;
            }
            html += '</td>';
            html += '</tr>';
        });

        $('#main').append(html);
    }
    function BindPage(totalCount, totalPage, currentPage)
    {
        $("#TotalCount").html(totalCount);
        $("#spanTotalPage").html(totalPage);
        var ddlTotalPage = $("#ddlTotalPage");
        ddlTotalPage.empty();
        for (var i = 1; i <= totalPage; i++) {
            if (currentPage == i) {
                ddlTotalPage.append("<option value='" + i + "' selected>" + i + "</option>");
            } else {
                ddlTotalPage.append("<option value='" + i + "'>" + i + "</option>");
            }
        }
    }
    function ChangePage() {
        $(".fist_page").click(function () {
            $("#ddlTotalPage").val("1");
            //$(".fist_page").addClass("disabled");
            LoadData();
        });
        $(".prev_page").click(function () {
            var cp = $("#ddlTotalPage").val();
            $("#ddlTotalPage").val(parseInt(cp) - 1);
            LoadData();
        });
        $(".next_page").click(function () {
            var cp = $("#ddlTotalPage").val();
            $("#ddlTotalPage").val(parseInt(cp) + 1);
            LoadData();
        });
        $(".last_page").click(function () {
            var tp = $('#ddlTotalPage option:last-child').val();
            $("#ddlTotalPage").val(tp);
            //$(".last_page").addClass("disabled");
            LoadData();
        });
    }
    function EnabledPage() {
        var cp = $("#ddlTotalPage").val();
        var tp = $('#ddlTotalPage option:last-child').val();
        if (tp == undefined) {
            $(".fist_page").addClass("disabled");
            $(".prev_page").addClass("disabled");
            $(".next_page").addClass("disabled");
            $(".last_page").addClass("disabled");
            return false;
        }
        if (parseInt(tp) == 1) {
            //只有一頁
            $(".fist_page").addClass("disabled");
            $(".prev_page").addClass("disabled");
            $(".next_page").addClass("disabled");
            $(".last_page").addClass("disabled");
        } else {
            if (parseInt(cp) == parseInt(tp)) {
                //最後一頁
                $(".fist_page").removeClass("disabled");
                $(".prev_page").removeClass("disabled");
                $(".next_page").addClass("disabled");
                $(".last_page").addClass("disabled");
            } else if (parseInt(cp) == 1) {
                //第一頁
                $(".fist_page").addClass("disabled");
                $(".prev_page").addClass("disabled");
                $(".next_page").removeClass("disabled");
                $(".last_page").removeClass("disabled");
            } else if (parseInt(cp) < parseInt(tp)) {
                //第一頁
                $(".fist_page").removeClass("disabled");
                $(".prev_page").removeClass("disabled");
                $(".next_page").removeClass("disabled");
                $(".last_page").removeClass("disabled");
            }
        }

    }
    function pupItemUsage(obj) {
        var product_no = $(obj).closest("tr").find("[name=product_no]").html();
        $("#bpopup-item_usage span[name='bpopup_item_number']").html(product_no);
        $.post("GetProductBusinessHour", { pro_no: product_no }, function (result) {
            $("#bpopup_tab_item_usage tbody tr").empty();
            var _html = "";
            $.each(result, function (midx, mobj) {
                _html += "<tr>";
                _html += "<td>" + mobj.UniqueId + "</td>";
                _html += "<td><a href='house/proposalcontent?pid=" + mobj.Pid + "' target='_blank'>" + mobj.Pid + "</a></td>";
                _html += "<td>" + mobj.DealName + "</td>";
                _html += "<td>" + mobj.DealStatus + "</td>";
                _html += "<td></td>";
                _html += "</tr>";
            });

            $("#bpopup_tab_item_usage").append(_html);

            $('#bpopup-item_usage').bPopup({
                modalClose: true,
                opacity: 0.5,
            });
        }).error(function (xhr) {
            console.log(xhr);
        });

    }

    function setupdate(from, to) {
        var dates = $('#' + from + ', #' + to).datepicker({
            changeMonth: true,
            dateFormat: 'yy/mm/dd',
            onSelect: function (selectedDate) {
                var option = this.id == from ? "minDate" : "maxDate";
                var instance = $(this).data("datepicker");
                var date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                dates.not(this).datepicker("option", option, date);
            }
        });
    }

</script>



<!-- 頁面標題(同menu中名稱) -->
<h5 class="breadcrumbs-title">還貨單管理      <a href="~/Sal/ProposalList.aspx">回提案單管理</a></h5>

<div class="row">
    <div class="col xl6 l12 m12 s12">
        <div class="form-unit">
            <label class="unit-label">
                商家名稱
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="txtSellerName">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                系統商品編號
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="txtProductNo" maxlength="10">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                倉儲商品編號
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="txtPchomeProId">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                貨號資料
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="txtProductCode">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                狀態
            </label>
            <div class="data-input">
                <p>
                    <select id="ddlStatus">
                        <option value="">全部</option>
                        @foreach (var st in status)
                        {
                            if (st.Key == (int)WmsReturnOrderStatus.Apply)
                            {

                                <option value="@(st.Key)" selected="">@(st.Value)</option>
                            }
                            else
                            {
                                <option value="@(st.Key)">@(st.Value)</option>
                            }
                        }
                    </select>
                </p>
            </div>
        </div>
        <div class="divider hide-on-xlarge-only"></div>
    </div>

    <div class="col xl6 l12 m12 s12">
        <div class="form-unit">
            <label class="unit-label">
                商品名稱
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="txtProductBrandName" style="width:35%;">
                    <input type="text" id="txtProductName" style="width:60%;">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                規格
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="txtSpecs">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                建單日期
            </label>
            <div class="data-input">
                <input type="text" id="txtStartTime" style="width:35%;">~<input type="text" id="txtEndTime" style="width:35%;">
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                來源
            </label>
            <div class="data-input">
                <p>
                    <select id="ddlSource">
                        <option value="">全部</option>
                        @foreach (var st in source)
                        {
                            if (st.Key == (int)WmsReturnSource.E7Life)
                            {

                                <option value="@(st.Key)" selected="">@(st.Value)</option>
                            }
                            else
                            {
                                <option value="@(st.Key)">@(st.Value)</option>
                            }
                        }
                    </select>
                    &nbsp;
                    <input type="checkbox" id="cbDontDisplayInvalidation" checked="checked">不顯示已經勾選作廢的還貨單
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col xl6 l12 s12 right-align">
        <a class="waves-effect waves-light btn" id="btnSearch">搜尋</a>
        @if (ViewBag.Edit)
        {
            <a class="waves-effect waves-light btn" id="btnVerify">通過</a>
            <a class="waves-effect waves-light btn" id="btnFail">不通過</a>
        }
    </div>
    <div class="col xl6 l12 s12 left-align">
        注意事項：
        <br />
        • 還貨單若遭17Life審核不通過，則無法進行還貨後續作業
        <br />
        • 商品如要還倉，請重新填寫申請還貨單再次送17Life審核
        <br />
        • 還貨單由廠商端送出至17Life即無法抽回修改
        <br />
        • 查詢出來的庫存量仍然有可能會持續變動
    </div>
</div>

<div class="row">
    <div class="WmsDesc">
        搜尋狀態：17Life審核中
    </div>
    <div class="WmsTriangle"></div>
    <div class="WmsDesc">
        勾選審核項目
    </div>
    <div class="WmsTriangle"></div>
    <div class="WmsDesc">
        審核【通過】或【不通過】
    </div>
</div>

<div class="row">
    <div class="col s12">
        <table id="main" class="center-align">
            <thead>
                <tr>
                    <th class="" width="50"><input type="checkbox" id="chkAll" name="chkAll"></th>
                    <th class="" width="50">相關提案</th>
                    <th class="" width="150">商家名稱</th>
                    <th class="" width="150">還貨單號</th>
                    <th class="" width="150">系統商品編號<br />倉儲商品編號</th>
                    <th class="" width="150">商品編號</th>
                    <th class="" width="200">規格</th>
                    <th class="" width="150">貨號資料</th>
                    <th class="" width="70">還貨數</th>
                    <th class="" width="100">還貨原因</th>
                    <th class="" width="120">備註<br />(申請原因)</th>
                    <th class="" width="120">還貨單狀態</th>
                    <th class="" width="100">來源</th>
                    <th class="" width="120">建單日期</th>
                    <th class="" width="50">作廢</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>
<!-- pagination -->
<div class="row">
    <div class="col s12">
        <div class="" style="margin:0 auto;text-align:center;">
            <i class="btn arrow tertiary waves-effect fa fa-angle-double-left waves-input-wrapper fist_page" style=""><input title="第一頁" type="button" class="waves-button-input" value=""></i>
            <i class="btn disabled arrow tertiary waves-effect fa fa-angle-left waves-input-wrapper prev_page" style=""><input title="上一頁" type="button" class="waves-button-input" value=""></i>
            <form class="dis-inline mrg20-ver" style="display:inline;">
                <select id="ddlTotalPage" onchange="LoadData()"></select>
                <span>/<span id="spanTotalPage"></span></span>
                <span>(<span id="TotalCount">0</span>筆資料)</span>
            </form>
            <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-right waves-input-wrapper next_page" style=""><input title="下一頁" type="button" class="waves-button-input" value=""></i>
            <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-double-right waves-input-wrapper last_page" style=""><input title="最後頁" type="button" class="waves-button-input" value=""></i>
        </div>

    </div>
</div>



@Html.Partial("~/Views/Proposal/_PupItemUsagePartial.cshtml")

@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")


<script>
    $(document).ready(function () {
        var toast_message_text = "@TempData["error"]";
        if (toast_message_text != "") {
            $("#bpopup-toast-save-success").find(".toast_message").text(toast_message_text);
            $('#bpopup-toast-save-success').bPopup({
                autoClose: 1000,
                onClose: function () {
                    location.href = "@(ViewBag.SiteUrl)";
                }
            });
        }
    });
</script>