﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>綁定開始!</title>

    <style>
        form input {
            width: 400px;
            padding: 3px;
        }

        form label {
            width: 100px;
            display: inline-block;
            text-align: right;
            padding-right: 10px;
        }
        div {
            display:none;
        }
        .item-sep {
            padding: 5px;
        }
    </style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit();
        })
    </script>

</head>
<body>
<form method="post" action="@ViewBag.PostUrl">
        <div class="item-sep">
            <label>client_id</label>
            <input type="text" name="client_id" value="@ViewBag.ClientId" />
        </div>
        <div class="item-sep">
            <label>timestamp</label>
            <input type="text" name="timestamp" value="@ViewBag.Timestamp" />
        </div>
        @*<div class="item-sep">
                <label>NID</label>
                <input type="text" name="NID" value="@ViewBag.NID"/>
            </div>*@
        <div class="item-sep">
            <label>user_id</label>
            <input type="text" name="user_id" value="@ViewBag.UserId" />
        </div>
        <div class="item-sep">
            <label>success_url</label>
            <input type="text" name="success_url" value="@ViewBag.SuccessUrl" />
        </div>
        <div class="item-sep">
            <label>failure_url</label>
            <input type="text" name="failure_url" value="@ViewBag.FailureUrl" />
        </div>
        <div class="item-sep">
            <label>signature</label>
            <input type="text" name="signature" value="@ViewBag.Signature" />
        </div>
        <div class="item-sep">
            <button type="submit" id="btnSubmit">送出</button>
        </div>
</form>
</body>
</html>
