﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@model LunchKingSite.DataOrm.RelatedSystemPartner

@{
    Layout = "~/Views/Shared/PartnerLayout.cshtml";
}
    <script type="text/javascript" src="~/Tools/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.maxlength-min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.min.js"></script>
    <link type="text/css" href="~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />

    <script type="text/ecmascript">

        $(document).ready(function () {
            if("@ViewBag.message"!="")
            {
                alert("@ViewBag.message");
            }
        })

    function addEvent() {
        document.getElementById('addEvent').style.display = '';
    }

    function cancelEvent() {
        document.getElementById('addEvent').style.display = 'none';
    }

    function checkData() {
        if ($(':text[id$=PartnerName]').val() == '') {
            alert('服務商名稱未填');
            $(':text[id$=PartnerName]').focus();
            return false;
        }
        if ($(':text[id$=PartnerContact]').val() == '') {
            alert('窗口名稱未填');
            $(':text[id$=PartnerContact]').focus();
            return false;
        }
        if ($(':text[id$=PartnerMobile]').val() == '') {
            alert('電話(手機)未填');
            $(':text[id$=PartnerMobile]').focus();
            return false;
        }
         if (!$(':text[id$=PartnerMobile]').val() .match(/^09[0-9]{8}$/)) {
            alert('電話(手機)格式錯誤');
            $(':text[id$=PartnerMobile]').focus();
            return false;
        }
        if ($(':text[id$=PartnerEmail]').val() == '') {
            alert('E-Mail未填');
            $(':text[id$=PartnerEmail]').focus();
            return false;
        }
        var method =$("input[name='rboStatus']:checked").val();
        if (typeof (method) == "undefined") {
            alert("狀態未選");
            return false;
        }
    }

    function SetDataDisplay(tr, id) {
        if (tr == 'p_trData') {
            $('#p_trData_' + id).hide();
            $('#p_trEdit_' + id).show();
        } else if (tr == 'p_trEdit') {
            $('#p_trEdit_' + id).hide();
            $('#p_trData_' + id).show();
        }
        SetStatus(id);
    }

    function SetStatus(id) {
        if (id == 0) {  @*代表新增的資料*@
            if ($('#statusY').attr('checked')) {
                $('#hidStatus').val($('#statusY').val());
            }
            if ($('#statusN').attr('checked')) {
                $('#hidStatus').val($('#statusN').val());
            }
        } else { @*代表編輯的資料*@
            if ($('#statusY_' + id).attr('checked')) {
                $('#hidStatus_' + id).val($('#statusY_' + id).val());
            }

            if ($('#statusN_' + id).attr('checked')) {
                $('#hidStatus_' + id).val($('#statusN_' + id).val());
            }
        }
    }

    function editdatapost(id) {
        var pn = $("#editPartnerName_" + id).val();
        var pc = $("#editPartnerContact_" + id).val();
        var pm = $("#editPartnerMobile_" + id).val();
        var pe = $("#editPartnerEmail_" + id).val();
        var ps = $("#hidStatus_" + id).val();

        $("#p_id").val(id);
        $("#p_name").val(pn);
        $("#p_contact").val(pc);
        $("#p_mobile").val(pm);
        $("#p_email").val(pe);
        $("#p_status").val(ps);

        $('#EditSave').submit();
    }

    function isNumber(event) {
        if (typeof (event.which) == 'number') {
            e = event.which;
        } else if (typeof (event.keyCode) == 'number') {
            e = event.keyCode;
        } else if (typeof (event.charCode) == 'number') {
            e = event.charCode;
        } else {
            return;
        }

        if ((e >= "48" && e <= "57") || e == "8" || e == "46" || e == "40" || e == "41" || e == "45") {
            return true;
        }
        return false;
    }
</script>

<style type="text/css">
    .P_txtWidth {
        width: 150px;
    }
</style>

<form method="Post" action="PartnerList">    
    <br>
    <div>
        <input type="button" value="新增" class="btn btn-default btn-s" id="AddBtn" onclick="addEvent()" />
    </div>
    <br>
    <table id="addEvent" style="width: 100%; border: 1px #FFAC55 solid; padding: 5px; display: none" rules="all" cellpadding="5">
        <tr height="50">
            <td style="width: 100px">
                &nbsp;&nbsp;新增<br />
                &nbsp;&nbsp;服務商名稱
            </td>
            <td>
                &nbsp;&nbsp;<input id="PartnerName" type="text" name="item.PartnerName">
            </td>
        </tr>
        <tr height="50">
            <td>
                &nbsp;&nbsp;窗口名稱
            </td>
            <td>
                &nbsp;&nbsp;<input id="PartnerContact" type="text" name="item.PartnerContact">
            </td>
        </tr>
        <tr height="50">
            <td>
                &nbsp;&nbsp;電話(手機)
            </td>
            <td>
                &nbsp;&nbsp;<input id="PartnerMobile" type="text" name="item.PartnerMobile" maxlength="10" onkeypress='return isNumber(event)'>
            </td>
        </tr>
        <tr height="50">
            <td>
                &nbsp;&nbsp;E-Mail
            </td>
            <td>
                &nbsp;&nbsp;<input id="PartnerEmail" type="text" name="item.PartnerEmail">
            </td>
        </tr>
        <tr height="50">
            <td>
                &nbsp;&nbsp;狀態
            </td>
            <td>
                &nbsp;&nbsp;
                <input type="radio" id="statusY" value="1" name="rboStatus" onclick="SetStatus(0)">有效
                <input type="radio" id="statusN" value="0" name="rboStatus" onclick="SetStatus(0)">無效
                <input id="hidStatus" name="Pstatus" type="hidden" />
            </td>
        </tr>
        <tr height="50">
            <td colspan="2">
                &nbsp;&nbsp;<input id="btnSave" type="submit" class="btn btn-default btn-s" value="儲存" onclick="return checkData()" />
                &nbsp;&nbsp;<input id="btnCancel" type="reset" class="btn btn-default btn-s" value="取消" onclick="cancelEvent()" />
            </td>
        </tr>
    </table>
</form>
<br>

@if (ViewBag.EventList != null)
{
    if (ViewBag.EventList.Count != 0)
    {
        <table class="table">
            <thead>
                <tr class="success">
                    <td align="center" style="width: 10%">編號</td>
                    <td align="center" style="width: 15%">服務商名稱</td>
                    <td align="center" style="width: 15%">窗口名稱</td>
                    <td align="center" style="width: 15%">電話(手機)</td>
                    <td align="center" style="width: 15%">Email</td>
                    <td align="center" style="width: 15%">狀態</td>
                    <td align="center" style="width: 15%"></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var PartnerData in ViewBag.EventList)
                {
                    <tr id="p_trData_@PartnerData.Id">
                        <td align="center">@PartnerData.Id</td>
                        <td align="center">@PartnerData.PartnerName</td>
                        <td align="center">@PartnerData.PartnerContact </td>
                        <td align="center">@PartnerData.PartnerMobile </td>
                        <td align="center">@PartnerData.PartnerEmail</td>
                        <td align="center" style="color: @(PartnerData.Status == false ? "red" : "blue")">@(PartnerData.Status==true ? "有效" : "無效" )</td>
                        <td align="center"> <input id="btnDataEdit" type="button" value="編輯" onclick="SetDataDisplay('p_trData','@PartnerData.Id')" /> </td>
                    </tr>
                    <tr id="p_trEdit_@PartnerData.Id" style="display:none">
                        <td align="center">@PartnerData.Id</td>
                        <td align="center"><input id="editPartnerName_@PartnerData.Id" type="text" value="@PartnerData.PartnerName"  class="P_txtWidth" /></td>
                        <td align="center"><input id="editPartnerContact_@PartnerData.Id" type="text" value="@PartnerData.PartnerContact" class="P_txtWidth" /> </td>
                        <td align="center"><input id="editPartnerMobile_@PartnerData.Id" type="text" value="@PartnerData.PartnerMobile" class="P_txtWidth" maxlength="10" /> </td>
                        <td align="center"><input id="editPartnerEmail_@PartnerData.Id" type="text" value="@PartnerData.PartnerEmail" class="P_txtWidth" /></td>
                        <td align="center">
                            @Html.RadioButton("EditStatus_" + (string)(@PartnerData.Id).ToString(), "1", (PartnerData.Status == true ? true : false), new { id = "statusY_" + (string)(@PartnerData.Id).ToString(), onclick = "SetStatus(" + (string)(@PartnerData.Id).ToString() + ")" }) 有效 <br />
                            @Html.RadioButton("EditStatus_" + (string)(@PartnerData.Id).ToString(), "0", (PartnerData.Status == false ? true : false), new { id = "statusN_" + (string)(@PartnerData.Id).ToString(), onclick = "SetStatus(" + (string)(@PartnerData.Id).ToString() + ")" }) 無效
                            <input id="hidStatus_@PartnerData.Id" type="hidden" />
                        </td>
                        <td align="center"> <input id="btnDataSave" type="button" value="儲存" onclick="editdatapost(@PartnerData.Id);" /> <input id="btnDataCancel" type="button" value="取消" onclick="SetDataDisplay('p_trEdit','@PartnerData.Id')" /></td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <td colspan="6">沒有符合的資料。</td>
            </tr>
        </table>
    }

}

<form class="dis-inline mrg20-ver">
    <div class="alg-center mrg20-hor">
        @if (Convert.ToInt32(ViewBag.PageIndex) <= 1)
        {
            <input type="button" class="btn btn-disabled btn-large arrow" value="&laquo;" disabled="disabled" />
            <input type="button" class="btn btn-disabled btn-large arrow" value="&lsaquo;" disabled="disabled" />
        }
        else
        {
            <input type="button" class="btn btn-primary btn-large arrow" value="&laquo;" onclick=" location.href='@Url.Action("PartnerList", new { page = 1 })';" />
            <input type="button" class="btn btn-primary btn-large arrow" value="&lsaquo;" onclick=" location.href='@Url.Action("PartnerList", new { page = ((int)ViewBag.PageIndex - 1 == 0) ? 1 : (int)ViewBag.PageIndex - 1 })  ';" />
        }


        <select onchange=" location.href = this.value ">
            @for (int i = 1; i <= (int)ViewBag.PageCount; i++)
            {
                if (i == (int)ViewBag.PageIndex)
                {
                    <option value="@i" selected="selected">@i</option>
                }
                else
                {
                    <option value="@Url.Action("PartnerList", new { page = i })">@i</option>
                }
            }
        </select>
        <span>/@ViewBag.PageCount</span>
        <span>(@ViewBag.TotalCount 筆資料)</span>


        @if (Convert.ToInt32(ViewBag.PageIndex) >= (int)ViewBag.PageCount)
        {
            <input type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" disabled="disabled" />
            <input type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" disabled="disabled" />
        }
        else
        {
            <input type="button" class="btn btn-primary btn-large arrow" value="&rsaquo;" onclick=" location.href='@Url.Action("PartnerList", new { page = ((int)ViewBag.PageIndex + 1 > (int)ViewBag.PageCount) ? (int)ViewBag.PageCount : (int)ViewBag.PageIndex + 1 })' " />
            <input type="button" class="btn btn-primary btn-large arrow" value="&raquo;" onclick=" location.href='@Url.Action("PartnerList", new { page = (int)ViewBag.PageCount })' " />
        }
    </div>
</form>


<form id="EditSave" method="Post" action="PartnerEdit">
    <input type="hidden" id="p_id" name="p_id">
    <input type="hidden" id="p_name" name="p_name">
    <input type="hidden" id="p_contact" name="p_contact">
    <input type="hidden" id="p_mobile" name="p_mobile">
    <input type="hidden" id="p_email" name="p_email">
    <input type="hidden" id="p_status" name="p_status">
    <input type="hidden" name="pp" value="@ViewBag.PageIndex">
</form>

