.tw_2 {color:#666666;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;line-height:20px;margin-left:-29px;margin-top:10px;padding-left:20px;text-align:center;}
.tw_3 {margin:10px 17px 0 19px;padding:20px 10px 40px 0;background-color:#FFF7FB;border:1px solid #FFC8E3;}
.tw_3 ul {margin:0px;padding:0px;}
.tw_3 li {margin-left:20px;padding-left:20px;font-family:Verdana,Arial,Helvetica,sans-serif;list-style-type:none;font-size:13px;line-height:30px;color:#4b4b4b;list-style-type:none;}
.tw_3 li a:link, .tw_3 li a:visited {color:#224099;text-decoration:underline;}
.tw_3 li a:hover {color:#D85B1E;text-decoration:underline;}
.tw_4 {margin:0 17px 10px 19px;padding:10px 0 20px 0;background-color:#F9F9F9;text-align:center;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-color:#cccccc;border-bottom-color:#cccccc;border-left-color:#cccccc;}
.tw_5 {margin-top:10px;margin-left:30px;font-weight:bold;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;line-height:20px;color:#746161;text-align:left;}
.tw_6 {margin:0px 0 10px 0;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;}
.tw_6 a:link, .tw_6 a:visited {color:#224099;text-decoration:none;}
.tw_6 a:hover {position:relative;top:1px;color:#D85B1E;text-decoration:none;}
.tw_6_1 {margin:0px 0 10px 0;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;}
.s_1 {font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:#FF0000;text-decoration:none;}
.s_2 {font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:#FFFFFF;text-decoration:none;}
.s_3 {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#7f7f7f;text-decoration:none;}
.s_4 {margin:4px 4px 0 4px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#666666;text-decoration:none; width:180px; height:18px;}
.s_4_1 {margin:4px 4px 0 4px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#666666;text-decoration:none;}
.s_5 {margin:4px 4px 0 4px;padding:10px 0 0 10px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;line-height:20px;color:#776262;text-decoration:none;}

