﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.BookingSystem
@using LunchKingSite.BizLogic.Model.BookingSystem
@model CouponLockSearchViewModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

@section HeadSecond
{
    <script src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-ui-1.8.10.custom.js")' type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/homecook.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.alphanumeric.min.js")" ></script>
    @*<link type="text/css" rel="stylesheet" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" />  *@
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Tools/js/css/ui-smoothness/jquery-ui-1.10.3.custom.css")" />
    <style type="text/css">
        .ui-datepicker {
            font-size: 12px;
        }
        .ui-datepicker-header
        {
	        background: url(@Url.Content("~/Themes/Booking/book-bn-bg3.jpg")) 0 0 repeat-x;
	        background:linear-gradient(top,#e2fbce,#cbeab1);
            background:-moz-linear-gradient(top,#e2fbce,#cbeab1);
            background:-webkit-linear-gradient(top,#e2fbce,#cbeab1);
        }
        .ui-datepicker-prev, .ui-datepicker-next {

	        background: url(@Url.Content("~/Themes/Booking/book-bn-bg3.jpg")) 0 0 repeat-x;
	        background:linear-gradient(top,#e2fbce,#cbeab1);
            background:-moz-linear-gradient(top,#e2fbce,#cbeab1);
            background:-webkit-linear-gradient(top,#e2fbce,#cbeab1);
        } 
        .ui-datepicker-calendar .ui-state-active {  
            background: #fffe96;
        }  

        .ui-datepicker-calendar .ui-state-fullBooking span {
            background: #ff2525 !important; 
            color: #000000 !important;
        }

        .bok-redcolor
        {
            width: 15px;
            height: 15px;
            float: right;
            background: #ffA0A0;
            margin: 1px 0 0 7px;
        }

        .ui-widget-header .ui-icon {
	        background-image: url(@Url.Content("~/Tools/js/css/ui-smoothness/images/ui-icons_ffffff_256x240.png"));
        }
    </style>
}


@section Script{
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.alphanumeric.min.js")" ></script>
    <script type="text/javascript">        
    
        $(document).ready(function() {
            $("input[name='couponReservationDate']").add("#SearchStartDate").add('#SearchEndDate').datepicker({
                dataFormat: 'yyyy/mm/dd'
            });
            
            createOption = function (text, value, selected) {
                var option = document.createElement("option");
                option.value = value;
                option.innerHTML = text;
                if (selected) {
                    option.selected = true;
                }
                return option;
            };



            uniSelectDate = function (yy, mm, dd, valField) {
                var dateParts = $(valField).val().split('/');
                var hasDefault = dateParts.length == 3;
                if (hasDefault) {
                    var yval = parseInt(dateParts[0], 10);
                    var mval = parseInt(dateParts[1], 10);
                    var dval = parseInt(dateParts[2], 10);
                }

                for (var i = 1; i <= 12; i++) {
                    var text = i;
                    if (i < 10) {
                        text = '0' + i;
                    }
                    if (hasDefault && i == mval) {
                        $(mm).append(createOption(text, i, true));
                    } else {
                        $(mm).append(createOption(text, i));
                    }
                }
                for (var i = 1; i <= 31; i++) {
                    var text = i;
                    if (i < 10) {
                        text = '0' + i;
                    }
                    if (hasDefault && i == dval) {
                        $(dd).append(createOption(text, i, true));
                    } else {
                        $(dd).append(createOption(text, i));
                    }
                }
                var today = new Date();
                for (var i = 2012; i <= (new Date(today.getFullYear(), today.getMonth() + 6, 1)).getFullYear() ; i++) {
                    if (hasDefault && i == yval) {
                        $(yy).append(createOption(i, i, true));
                    } else {
                        $(yy).append(createOption(i, i));
                    }
                }

                $(yy).add($(mm)).add($(dd)).change(function () {
                    $(valField).val($(yy).val() + '/' + $(mm).val() + '/' + $(dd).val());
                });
            };

            uniSelectDate('#yd', '#md', '#dd', '#SearchStartDate');
            uniSelectDate('#yd2', '#md2', '#dd2', '#SearchEndDate');
            @if (string.IsNullOrEmpty(Model.SearchStartDate) || string.IsNullOrEmpty(Model.SearchEndDate))
            {
                <text>
                    
            var today = new Date();
            $('#SearchStartDate').val('@DateTime.Now.ToString("yyyy/M/d")');
            $('#SearchEndDate').val('@DateTime.Now.ToString("yyyy/M/d")');
            $('#yd').val(today.getFullYear());
            $('#md').val(today.getMonth() + 1);
            $('#dd').val(today.getDate());
            $('#yd2').val(today.getFullYear());
            $('#md2').val(today.getMonth() + 1);
            $('#dd2').val(today.getDate());
            
                </text>
            }
            else
            {
            <text>
            var searchStartDateParts = $('#SearchStartDate').val().split('/');
            var searchEndDateParts = $('#SearchEndDate').val().split('/');
            $('#yd').val(searchStartDateParts[0]);
            $('#md').val(searchStartDateParts[1]);
            $('#dd').val(searchStartDateParts[2]);
            $('#yd2').val(searchEndDateParts[0]);
            $('#md2').val(searchEndDateParts[1]);
            $('#dd2').val(searchEndDateParts[2]);
            </text>
            }

        });


        function ReserveCouponLock(clickButton, dealType, cId, couponstatus) {
            var couponreservationdate = $(clickButton).parent().parent().find("input[name='couponReservationDate']");

            if (!ValidateDate(couponreservationdate.val())) {
                alert(" 預約日期格式不正確 (yyyy/mm/dd)");
                couponreservationdate.val("");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("CouponLock")',
                data: { dealType: dealType, couopnId: cId, couponStatus: couponstatus, couponReservationDate: couponreservationdate.val() },
                success: function(data) {
                    if (typeof data.ReservationCouponLockSuccess != "undefined" && data.ReservationCouponLockSuccess) {
                        $('#formCouponLockSearch').submit();
                    } else {
                        alert(data.errorMsg);    
                    }
                },
                error: function() {
                    alert("系統無回應，無法鎖定憑證");
                }
            });
        }

        function ReserveCouponUnLock(clickButton, dealType, cId, couponstatus) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CouponUnLock")',
                data: { dealType: dealType, couopnId: cId, couponStatus: couponstatus },
                success: function(data) {
                    if (typeof data.ReservationCouponLockSuccess != "undefined" && data.ReservationCouponLockSuccess) {
                        $('#formCouponLockSearch').submit();
                    } else {
                        alert(data.errorMsg);    
                    }
                },
                error: function() {
                    alert("系統無回應，無法解鎖憑證");
                }
            });
        }


        function ValidateDate(dtValue) {
            var dtRegex = new RegExp(/\b\d{4}[/]\d{1,2}[/]\d{1,2}\b/);
            return dtRegex.test(dtValue);
        }

        function SendForm() {
            if ( !ValidateDate($("#SearchStartDate").val()) ) {
                alert(" 預約日期格式不正確 (yyyy/mm/dd)");
                $("#SearchStartDate").val("");
                return;
            }
            if ( !ValidateDate($("#SearchEndDate").val()) ) {
                alert(" 預約日期格式不正確 (yyyy/mm/dd)");
                $("#SearchEndDate").val("");
                return;
            }

            $('#formCouponLockSearch').submit();
        }

    </script>
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="OW-booking-w12-box  ow-bok-text-cen">
			<div class="ow-bk-topbox ">
				<input type="button" class="ow-firstbtn-color ow-btn-med ow-l" value="回上頁" onclick="window.location.href='@Url.Action("ReserveCouponLock")';" />
				<div class="ow-bk-tittle ow-bok-text-cen">
					<label class="ow-bk-listtop-t">已鎖定的憑證</label>
				</div>
			</div>
			<form id="formCouponLockSearch" method="POST" action="@Url.Action("CouponLockListSearch")">
				<div class="ow-bk-markbox ow-bk-labdsclear">
					<select class="ow-bk131-select" id="ReserveCouponLockSearchType" name="ReserveCouponLockSearchType">
						<option value="@((int)CouponLockSearchType.ModifityDate)" @(Model.ReserveCouponLockSearchType == (int)CouponLockSearchType.ModifityDate ? "selected='selected'" : string.Empty) >最後調整時間</option>
						<option value="@((int)CouponLockSearchType.ReservationDate)" @(Model.ReserveCouponLockSearchType == (int)CouponLockSearchType.ReservationDate ? "selected='selected'" : string.Empty)>預約時間</option>
					</select>
					<input type="hidden" class="ow-bk-w13-input-sml" id="SearchStartDate" name="SearchStartDate" value="@Model.SearchStartDate" />
					 
					<input type="hidden" class="ow-bk-w13-input-sml" id="SearchEndDate" name="SearchEndDate" value="@Model.SearchEndDate" />
					
					<span id="dateArea">
						<label>
							<select style="padding: 4px;" id="yd"></select>
						</label>
						/
							<label>
								<select style="padding: 4px;" id="md"></select>
							</label>
						/
							<label>
								<select style="padding: 4px;" id="dd"></select>
							</label>
						~
							<label>
								<select style="padding: 4px;" id="yd2"></select>
							</label>
						/
							<label>
								<select style="padding: 4px;" id="md2"></select>
							</label>
						/
							<label>
								<select style="padding: 4px;" id="dd2"></select>
							</label>
					</span>

					<input type="button" class="ow-firstbtn-color ow-btn-med" value="查詢" onclick="SendForm();" />
				</div>
			</form>

			@if (Model.ReserveCouponInfos != null && !Model.ReserveCouponInfos.Any())
			{
				<div class="ow-bk-markbox">
					<label class="OW-w6RP-MonthBar-InfoRed">查無區間鎖定憑證</label>
				</div>
			}
			else if (Model.ReserveCouponInfos != null && Model.ReserveCouponInfos.Any())
			{
				<div class="ow-listbox">
					<table class="ow-bk-lis-deta-table" border="0" cellspacing="0" cellpadding="0">
						<tr class="ow-bgcolor">
							<th width="85" class="sort-up">檔號</th>
							<th width="260">商品名稱</th>
							<th width="90">憑證編號</th>
							<th width="140">最後調整時間</th>
							<th width="110">狀態</th>
							<th width="10">預約時間</th>
							<th width="95">功能</th>
						</tr>
						@for (var i = 0; i < Model.ReserveCouponInfos.Count(); i++)
						{
							<tr @if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Returning ||
									 Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Returned)
								{<text>class=" ow-bg-soldout"</text>}>
								<td>@Html.Raw(Model.ReserveCouponInfos[i].DealUniqueId)</td>
								<td>@Html.Raw(Model.ReserveCouponInfos[i].CouponUsage)</td>
								<td>@Html.Raw(Model.ReserveCouponInfos[i].CouponSequence)</td>
								<td>@Html.Raw((Model.ReserveCouponInfos[i].LastModifityTime.HasValue)?Model.ReserveCouponInfos[i].LastModifityTime.Value.ToString("yyyy/MM/dd hh:mm:ss") :string.Empty)</td>
								<td @if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Lock)
									{<text>class="OW-w6RP-MonthBar-InfoRed"</text>} >
									@Html.Raw(ReserveCouponStatusMessage(Model.ReserveCouponInfos[i].ReserveCouponStatus))
								</td>
								<td>
									@if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Lock)
									{
										if (Model.ReserveCouponInfos[i].CouponReservationDate.HasValue)
										{
										@Html.Raw(Model.ReserveCouponInfos[i].CouponReservationDate.Value.Date.ToString("yyyy/MM/dd"))
										}
									}
									else if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Valid || Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.UnLock)
									{
										<input type="text" name="couponReservationDate" id="couponReservationDate_@(i)" class="ow-bk-w13-input-sml" value="" />
									}
								</td>
								<td>
									@if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Valid || Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.UnLock)
									{
										<input name="couponLock" type="button" class="ow-firstbtn-color ow-btn-med" value="鎖定憑證" onclick="ReserveCouponLock(this,@((int)Model.ReserveCouponInfos[i].DealType),@(Model.ReserveCouponInfos[i].CouponId),@((int)Model.ReserveCouponInfos[i].ReserveCouponStatus));" />
									}
									else if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Lock)
									{
										<input name="couponLock" type="button" class="ow-firstbtn-color ow-btn-med" value="解除鎖定" onclick="ReserveCouponUnLock(this,@((int)Model.ReserveCouponInfos[i].DealType),@(Model.ReserveCouponInfos[i].CouponId),@((int)Model.ReserveCouponInfos[i].ReserveCouponStatus));" />
									}

								</td>
							</tr>
						}
					</table>
					<div class="ow-bk-text">
						@RenderPagerBar(Model.ReserveCouponInfos)
					</div>
				</div>
			}

		</div>
	</div>
</div>

@helper ReserveCouponStatusMessage(ReserveCouponStatus couonStatus)
{
    switch (couonStatus)
    {
        case ReserveCouponStatus.Valid:
    @:
                break;
        case ReserveCouponStatus.Lock:
    @:已鎖定憑證
                break;
        case ReserveCouponStatus.UnLock:
    @:已解除鎖定
                break;
        case ReserveCouponStatus.Returning:
    @:申請退貨中
                break;
        case ReserveCouponStatus.Returned:
    @:已退貨
                break;
        case ReserveCouponStatus.Invalid:
    @:憑證類型不符，無法鎖定
                break;
        default:@:
                break;
    }
}
@helper RenderPagerBar(PagerList<ReserveCouponInfo> pagerData)
{
    int nextPage = pagerData.CurrentPage + 1;
    int prevPage = pagerData.CurrentPage - 1;
    string firstPageUrl = Url.Action("CouponLockSearch", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MinPage));
    string lastPageUrl = Url.Action("CouponLockSearch", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MaxPage));
    string nextPageUrl = Url.Action("CouponLockSearch", MvcUtility.GetRouteValues(ViewContext, "pageNumber", nextPage));
    string prevPageUrl = Url.Action("CouponLockSearch", MvcUtility.GetRouteValues(ViewContext, "pageNumber", prevPage));
    string pagerPattern = Url.Action("CouponLockSearch", MvcUtility.GetRouteValues(ViewContext, "pageNumber", "_pageNumber"));
    <div style="text-align: center;">
        <table style="padding: 5px; margin-top: 10px; display: inline-block; width: 520px;">
            <tr>
                <td style="width: 60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width: 60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width: auto; font-size: 15px">第 
                    <select style="margin: 3px 5px 3px 5px" pagerPattern="@pagerPattern" 
                        onchange="location.href=$(this).attr('pagerPattern').replace('_pageNumber',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select>
                    頁 / 共 <span style="font-weight: bold">@pagerData.MaxPage</span> 頁 | <span style="font-weight: bold">@pagerData.TotalItemCount</span> 筆資料            
                </td>
                <td style="width: 60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="visibility:hidden" />
                    }
                </td>
                <td style="width: 60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="visibility:hidden"/>
                    }
                </td>
            </tr>
        </table>
    </div>
}