﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.BookingSystem
@using LunchKingSite.BizLogic.Model.BookingSystem
@model ReserveCouponLockViewModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

@section HeadSecond
{
    <script src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-ui-1.8.10.custom.js")' type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/homecook.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.alphanumeric.min.js")" ></script>
    @*<link type="text/css" rel="stylesheet" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" />  *@
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Tools/js/css/ui-smoothness/jquery-ui-1.10.3.custom.css")" />
    <style type="text/css">
        .ui-datepicker {
            font-size: 12px;
        }
        .ui-datepicker-header
        {
	        background: url(@Url.Content("~/Themes/Booking/book-bn-bg3.jpg")) 0 0 repeat-x;
	        background:linear-gradient(top,#e2fbce,#cbeab1);
            background:-moz-linear-gradient(top,#e2fbce,#cbeab1);
            background:-webkit-linear-gradient(top,#e2fbce,#cbeab1);
        }
        .ui-datepicker-prev, .ui-datepicker-next {

	        background: url(@Url.Content("~/Themes/Booking/book-bn-bg3.jpg")) 0 0 repeat-x;
	        background:linear-gradient(top,#e2fbce,#cbeab1);
            background:-moz-linear-gradient(top,#e2fbce,#cbeab1);
            background:-webkit-linear-gradient(top,#e2fbce,#cbeab1);
        } 
        .ui-datepicker-calendar .ui-state-active {  
            background: #fffe96;
        }  

        .ui-datepicker-calendar .ui-state-fullBooking span {
            background: #ff2525 !important; 
            color: #000000 !important;
        }

        .bok-redcolor
        {
            width: 15px;
            height: 15px;
            float: right;
            background: #ffA0A0;
            margin: 1px 0 0 7px;
        }

        .ui-widget-header .ui-icon {
	        background-image: url(@Url.Content("~/Tools/js/css/ui-smoothness/images/ui-icons_ffffff_256x240.png"));
        }

        .textAsSpan {
            outline: none;
            border: none;
        }
    </style>
}

@section Script{
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.alphanumeric.min.js")" ></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#couponSequenceP1').focus().alphanumeric();
            $("#couponSequenceP2").numeric();

            $("input[name='couponReservationDate']").datepicker({
                dataFormat: 'yyyy/mm/dd'
            });
        });

        $("#couponSequenceP1").keyup(function () {
            checkKey($(this));
        });

        function checkKey(evt) {
            var keyID = (evt.charCode) ? evt.charCode : ((evt.which) ? evt.which : evt.keyCode);
            if (keyID !== 37 && keyID !== 39) {
                if ($('#couponSequenceP1').val().length >= 4) {
                    $('#couponSequenceP2').focus();
                }
            }
        }

        function ReserveCouponLock(clickButton, dealType, cId, couponstatus) {
            var couponreservationdate = $(clickButton).parent().parent().find("input[name='couponReservationDate']");
            var exchangeStartTime = $(clickButton).parent().parent().find("input[name='exchangeStartTime']");
            var exchangeEndTime = $(clickButton).parent().parent().find("input[name='exchangeEndTime']");

            if (!ValidateDate(couponreservationdate.val())) {
                alert("預約日期格式不正確 (yyyy/mm/dd)");
                couponreservationdate.val("");
                return;
            }

            if (couponreservationdate.val() < exchangeStartTime.val()) {
                alert("活動期間為：" + exchangeStartTime.val() + "~" + exchangeEndTime.val() + "，\n您設定的預約時間尚未開始兌換。");
                return;
            }
            if (couponreservationdate.val() > exchangeEndTime.val()) {
                alert("活動期間為：" + exchangeStartTime.val() + "~" + exchangeEndTime.val() + "，\n此憑證已過期無法預約。");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("CouponLock")',
                data: { dealType: dealType, couopnId: cId, couponStatus: couponstatus, couponReservationDate: couponreservationdate.val() },
                success: function(data) {
                    if (typeof data.ReservationCouponLockSuccess != "undefined" && data.ReservationCouponLockSuccess) {
                        alert("鎖定成功");
                        $('#RserveCouponSearchForm').submit();
                    } else {
                        alert(data.errorMsg);    
                    }
                },
                error: function() {
                    alert("系統無回應，無法鎖定憑證");
                }
            });
        }

        function ReserveCouponUnLock(clickButton, dealType, cId, couponstatus) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CouponUnLock")',
                data: { dealType: dealType, couopnId: cId, couponStatus: couponstatus },
                success: function(data) {
                    if (typeof data.ReservationCouponLockSuccess != "undefined" && data.ReservationCouponLockSuccess) {
                        $('#RserveCouponSearchForm').submit();
                    } else {
                        alert(data.errorMsg);    
                    }
                },
                error: function() {
                    alert("系統無回應，無法解鎖憑證");
                }
            });
        }


        function ValidateDate(dtValue) {
            var dtRegex = new RegExp(/\b\d{4}[/]\d{1,2}[/]\d{1,2}\b/);
            return dtRegex.test(dtValue);
        }

    </script>
}

<div class="OWriteOff">
	<div class="OW-center">
		<form id="RserveCouponSearchForm" action="@Url.Action("ReserveCouponLock", "ReserveLock")" method="POST">
			<div class="OW-booking-w12-box ow-bok-text-cen">
				<div class="ow-bk-topbox">
					<label class="ow-bk-listtop-t">住宿/活動/展演票券憑證鎖定</label>
					<input type="button" class="ow-firstbtn-color ow-btn-med ow-btn-14" value="已鎖定的憑證" onclick="window.location.href='@Url.Action("CouponLockSearch")';" />
					<div class="ow-bk-markbox  ow-bk-dis-bck">
						<label class="OW-w6RP-MonthBar-InfoRed">※鎖定憑證不等於核銷</label>
					</div>
				</div>
				<div class="ow-bk-markbox">
					<label>憑證編號：</label>
					<input id="couponSequenceP1" name="CouponSequenceP1" class="ow-bk-w13-input-sml" value="@Html.Raw(string.IsNullOrWhiteSpace(Model.CouponSequenceP1) ? "" : Model.CouponSequenceP1)" maxlength="4" />
					- 
					<input id="couponSequenceP2" name="CouponSequenceP2" class="ow-bk-w13-input-sml" value="@Html.Raw(string.IsNullOrWhiteSpace(Model.CouponSequenceP2) ? "" : Model.CouponSequenceP2)" maxlength="4" />
					<input type="submit" class="ow-firstbtn-color ow-btn-med" value="查詢" />
				</div>

				@if (Model.ReserveCouponInfos != null && !Model.ReserveCouponInfos.Any())
				{
					<div class="ow-bk-markbox">
						<label class="OW-w6RP-MonthBar-InfoRed">查無此憑證</label>
					</div>
				}
				else if (Model.ReserveCouponInfos != null && Model.ReserveCouponInfos.Any())
				{
					<table class="ow-bk-lis-deta-table" border="0" cellspacing="0" cellpadding="0">
						<tr class="ow-bgcolor">
							<th width="85">檔號</th>
							<th width="260">商品名稱/兌換期間</th>
							<th width="260">訂購人</th>
							<th width="90">憑證編號</th>
							<th width="140">最後調整時間</th>
							<th width="110">狀態</th>
							<th width="130">預約時間</th>
							<th width="95">功能</th>
						</tr>
						@for (var i = 0; i < Model.ReserveCouponInfos.Count(); i++)
						{
							<tr @if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Returned || 
									 Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Returning)
								{<text>class=" ow-bg-soldout"</text>}>
								<td>@Html.Raw(Model.ReserveCouponInfos[i].DealUniqueId)</td>
								<td align="left">@Html.Raw(string.Format("{0}<br/>{1}~{2}", Model.ReserveCouponInfos[i].CouponUsage
																						  , Model.ReserveCouponInfos[i].ExchangePeriodStartTime.ToString("yyyy/MM/dd")
																						  , Model.ReserveCouponInfos[i].ExchangePeriodEndTime.ToString("yyyy/MM/dd")))
									<input type="hidden" name="exchangeStartTime" id="exchangeStartTime_@(i)" value="@Model.ReserveCouponInfos[i].ExchangePeriodStartTime.ToString("yyyy/MM/dd")" />
									<input type="hidden" name="exchangeEndTime" id="exchangeEndTime_@(i)" value="@Model.ReserveCouponInfos[i].ExchangePeriodEndTime.ToString("yyyy/MM/dd")" />
								</td>
								<td>@Html.Raw(Model.ReserveCouponInfos[i].MemberName)</td>
								<td>@Html.Raw(Model.ReserveCouponInfos[i].CouponSequence)</td>
								<td>@Html.Raw((Model.ReserveCouponInfos[i].LastModifityTime.HasValue)?Model.ReserveCouponInfos[i].LastModifityTime.Value.ToString("yyyy/MM/dd hh:mm:ss"):string.Empty)</td>
								<td @if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Lock)
									{<text>class="OW-w6RP-MonthBar-InfoRed"</text>} >
									@Html.Raw(ReserveCouponStatusMessage(Model.ReserveCouponInfos[i].ReserveCouponStatus))
								</td>
								<td>
									@if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Lock)
									{
										if (Model.ReserveCouponInfos[i].CouponReservationDate.HasValue)
										{
										@Html.Raw(Model.ReserveCouponInfos[i].CouponReservationDate.Value.Date.ToString("yyyy/MM/dd"))
										}
									}
									else if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Valid || Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.UnLock)
									{
										<input type="text" name="couponReservationDate" id="couponReservationDate_@(i)" class="ow-bk-w13-input-sml" value="" />
									}
								</td>
								<td>
									@if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Valid || Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.UnLock)
									{
										<input name="couponLock" type="button" class="ow-firstbtn-color ow-btn-med" value="鎖定憑證" onclick="ReserveCouponLock(this,@((int)Model.ReserveCouponInfos[i].DealType),@(Model.ReserveCouponInfos[i].CouponId),@((int)Model.ReserveCouponInfos[i].ReserveCouponStatus));" />
									}
									else if (Model.ReserveCouponInfos[i].ReserveCouponStatus == ReserveCouponStatus.Lock)
									{
										<input name="couponLock" type="button" class="ow-firstbtn-color ow-btn-med" value="解除鎖定" onclick="ReserveCouponUnLock(this,@((int)Model.ReserveCouponInfos[i].DealType),@(Model.ReserveCouponInfos[i].CouponId),@((int)Model.ReserveCouponInfos[i].ReserveCouponStatus));" />
									}

								</td>
							</tr>
						}
					</table>
				}
			</div>
		</form>
	</div>
</div>
	
@helper ReserveCouponStatusMessage(ReserveCouponStatus couonStatus)
{
    switch (couonStatus)
    {
        case ReserveCouponStatus.Valid:
    @:
                break;
        case ReserveCouponStatus.Lock:
    @:已鎖定憑證
                break;
        case ReserveCouponStatus.UnLock:
    @:已解除鎖定
                break;
        case ReserveCouponStatus.Returning:
    @:申請退貨中
                break;
        case ReserveCouponStatus.Returned:
    @:已退貨
                break;
        case ReserveCouponStatus.Invalid:
    @:憑證類型不符，無法鎖定
                break;
        default:@:
                break;
    }
}