﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@{
    ViewBag.Title = "17Life後台";
    Layout = "~/Views/Shared/BackendBootstrap4Layout.cshtml";
}
@section header {
    <script type="text/javascript" src="/Tools/js/vue.min.js"></script>
    <link type="text/css" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/Themes/mobile/css/font-awesome-4.3.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
    <script type="text/javascript">

    </script>
    <style type="text/css">
        body {
            padding-bottom:30px;
        }
        .fa-tumblr, .fa-file-image-o, .fa-link {
            width: 16px;
        }

        div.table {
        }

        div.cell {
            display: table-cell;
            width: 200px;
        }
        .modal-lg {
            width:1200px;
            max-width:1200px;
        }

        #app {
            padding-top: 5px;
        }

        .button-bar {
            display: flex;
        }

            .button-bar .btn {
                margin-left: 20px;
            }

        .filter-bar {
            display: flex;
        }

        .filter-input {
            margin-left: 20px;
        }

        hr {
            margin-bottom: .5rem;
            margin-top: .5rem;
        }

        .page-block-outline {
            background-color: gainsboro;
            padding: 5px;
            margin-top: 3px;
        }

        .page-block {
            min-height: 120px;
            background-color: white;
        }

        .page-block-no {
            font-weight: bold;
        }

        #pageBlocksContainer {
            width: 660px;
        }

        .icon-center-cropped {
            width: 50px;
            height: 50px;
            overflow:hidden;
            display:flex;
            justify-content:center;
            align-content:center;
        }

        div.fill-deal {
            background-color: lightcyan;
        }
        .toggle-on.btn-sm {
            cursor:pointer;
        }
        .toggle-off.btn-sm {
            cursor:pointer;
        }
    </style>
}

<div id="app">
    <div class="row">
        <div style="display:flex; padding-left:20px">
            <div>
                <h2>首頁編輯器</h2>
            </div>
            <div style="padding-left:10px">
                <button type="button" class="btn btn-sm btn-primary" id="btnClearCache">立即更新</button>
            </div>
        </div>
    </div>
    <div v-if="errorMessages.length > 0" class="row">
        <div class="col-12">
            <div  class="alert alert-danger" style="width:660px;">
                <ul style="margin-bottom:0px">
                    <li v-for="errorMessage in errorMessages">{{errorMessage}}</li>
                </ul>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <div id="pageBlocksContainer">
                <template v-for="(block, index) in pageBlocks">
                    <div class="page-block-outline">
                        <div class="page-block page-block-A" style="display:flex;">
                            <div class="page-block-no" style="width:40px; display:flex; align-items:center; justify-content:center">
                                <div>
                                    {{block.sequence+1}}
                                </div>
                            </div>
                            <template v-if="block.type==1">
                                <div class="page-block-body" style="flex-grow:1;">
                                    <div style="border:1px solid orange; display:flex; width:480px; height:100%; justify-content:space-around; flex-wrap: wrap; cursor:pointer"
                                         v-on:click="openBanner(block, index)">
                                        <img v-if="block.content.banners.length > 0"
                                             :src="block.content.banners[0].pic" style="width:465px; height:165px" />
                                    </div>
                                </div>
                            </template>
                            <template v-else-if="block.type==2">
                                <div class="page-block-body" style="flex-grow:1; cursor:pointer"
                                     v-on:click="openNaviIcons(block, index)">
                                    <div style="border:1px solid orange; display:flex; width:480px;justify-content:space-around; flex-wrap: wrap;">
                                        <div style="height:80px; width:100px; border:1px solid lightblue; display:flex; justify-content:center; flex-direction:column; align-items:center"
                                             v-for="(icon, index) in block.content.icons">
                                            <div class="icon-center-cropped">
                                                <div>
                                                    <img :src="icon.pic" style="height:50px;" />
                                                </div>
                                            </div>
                                            <div style="overflow:hidden; font-size:9px">{{icon.title}}</div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <template v-else-if="block.type==3">
                                <div class="page-block-body" style="flex-grow:1;">
                                    <div style="border:1px solid orange; display:flex; width:480px;height:165px; justify-content:space-around; flex-wrap: wrap; cursor:not-allowed">
                                        <img src="https://www.17life.com/images/events/contentBanners/Channel_960x450.gif" style="width:465px; height:165px" />
                                    </div>
                                </div>
                            </template>
                            <template v-else-if="block.type==4">
                                <div class="page-block-body" style="flex-grow:1; cursor:pointer" v-on:click="openCuration(block, index)">
                                    <div style="border:1px solid orange; display:flex; width:480px;height:165px;justify-content:space-around; flex-wrap: wrap;">
                                        <img v-if="block.content.banner.pic != null"
                                             :src="block.content.banner.pic" style="width:465px; height:165px" />
                                    </div>
                                    <div style="width:480px; height:240px; display:flex;">

                                        <div style="border:1px solid lightblue; width:160px"
                                             v-bind:class="{'fill-deal': block.deals.length>0}">
                                            <div v-if="block.deals.length >0">
                                                <img :src="block.deals[0]['imagePath']" style="max-width: 100%;max-height: 100%;display: block;margin-left: auto;margin-right: auto;" />
                                                <div style="font-size: 5px">{{block.deals[0]["title"]}}</div>
                                                <div><span>$</span>{{block.deals[0]["price"]}}</div>
                                            </div>
                                        </div>
                                        <div style="border:1px solid lightblue; width:160px"
                                             v-bind:class="{'fill-deal': block.deals.length>1}">
                                            <div v-if="block.deals.length >1">
                                                <img :src="block.deals[1]['imagePath']" style="max-width: 100%;max-height: 100%;display: block;margin-left: auto;margin-right: auto;" />
                                                <div style="font-size: 5px">{{block.deals[1]["title"]}}</div>
                                                <div><span>$</span>{{block.deals[1]["price"]}}</div>
                                            </div>
                                        </div>

                                        <div style="border:1px solid lightblue; width:160px"
                                             v-bind:class="{'fill-deal': block.deals.length>2}">
                                            <div v-if="block.deals.length >2">
                                                <img :src="block.deals[2]['imagePath']" style="max-width: 100%;max-height: 100%;display: block;margin-left: auto;margin-right: auto;" />
                                                <div style="font-size: 5px">{{block.deals[2]["title"]}}</div>
                                                <div><span>$</span>{{block.deals[2]["price"]}}</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </template>
                            <template v-else-if="block.type==5">
                                <div class="page-block-body" style="flex-grow:1;">
                                    <div style="display:flex; width: 480px; height:480px; flex-wrap:wrap; cursor:pointer"
                                         v-on:click="openCuration(block, index)">
                                        <div style="width:160px; height:240px;box-sizing: border-box; border:1px solid lightblue;">
                                            <img v-if="block.content.banner.pic != null"
                                                 :src="block.content.banner.pic" style="max-width: 100%;max-height: 100%;display: block;margin-left: auto;margin-right: auto;" />
                                        </div>

                                        <div style="width:160px; height:240px;box-sizing: border-box; border:1px solid lightblue;"
                                             v-bind:class="{'fill-deal': block.deals.length>0}">
                                            <div v-if="block.deals.length >0">
                                                <img :src="block.deals[0]['imagePath']" style="max-width: 100%;max-height: 100%;display: block;margin-left: auto;margin-right: auto;" />
                                                <div style="font-size: 5px">{{block.deals[0]["title"]}}</div>
                                                <div><span>$</span>{{block.deals[0]["price"]}}</div>
                                            </div>
                                        </div>

                                        <div style="width:160px; height:240px;box-sizing: border-box; border:1px solid lightblue;"
                                             v-bind:class="{'fill-deal': block.deals.length>1}">
                                            <div v-if="block.deals.length >1">
                                                <img :src="block.deals[1]['imagePath']" style="max-width: 100%;max-height: 100%;display: block;margin-left: auto;margin-right: auto;" />
                                                <div style="font-size: 5px">{{block.deals[1]["title"]}}</div>
                                                <div><span>$</span>{{block.deals[1]["price"]}}</div>
                                            </div>
                                        </div>

                                        <div style="width:160px; height:240px;box-sizing: border-box; border:1px solid lightblue;"
                                             v-bind:class="{'fill-deal': block.deals.length>2}">
                                            <div v-if="block.deals.length >2">
                                                <img :src="block.deals[2]['imagePath']" style="max-width: 100%;max-height: 100%;display: block;margin-left: auto;margin-right: auto;" />
                                                <div style="font-size: 5px">{{block.deals[2]["title"]}}</div>
                                                <div><span>$</span>{{block.deals[2]["price"]}}</div>
                                            </div>
                                        </div>

                                        <div style="width:160px; height:240px;box-sizing: border-box; border:1px solid lightblue;"
                                             v-bind:class="{'fill-deal': block.deals.length>3}">
                                            <div v-if="block.deals.length >3">
                                                <img :src="block.deals[3]['imagePath']" style="max-width: 100%;max-height: 100%;display: block;margin-left: auto;margin-right: auto;" />
                                                <div style="font-size: 5px">{{block.deals[3]["title"]}}</div>
                                                <div><span>$</span>{{block.deals[3]["price"]}}</div>
                                            </div>
                                        </div>

                                        <div style="width:160px; height:240px;box-sizing: border-box; border:1px solid lightblue;"
                                             v-bind:class="{'fill-deal': block.deals.length>4}">
                                            <div v-if="block.deals.length >4">
                                                <img :src="block.deals[4]['imagePath']" style="max-width: 100%;max-height: 100%;display: block;margin-left: auto;margin-right: auto;" />
                                                <div style="font-size: 5px">{{block.deals[4]["title"]}}</div>
                                                <div><span>$</span>{{block.deals[4]["price"]}}</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div class="page-block-body" style="flex-grow:1;border:1px solid gray; background-color:silver; cursor:not-allowed">
                                </div>
                            </template>
                            <div class="page-block-command" style="width:120px; display:flex;flex-direction:column; align-items:center; justify-content:center">
                                <div style="margin-top:20px">
                                    {{block.title}}
                                </div>
                                <div style="margin-top:20px; margin-bottom:10px">
                                    <input type="checkbox" v-model="block.enabled" data-size="sm" :data-index="index" class="toggle-chkecbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <!-- Dialog of Banner -->
    <div class="modal fade" id="bannerDialog" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" v-if="renderEditingBanners">
                    <template v-for="(banner, index) in editingBanners">
                        <div class="card">
                            <div class="card-body" style="display:flex;">
                                <div>
                                    <img v-if="banner == null || banner.pic == null" :src="emptyImg" style="width:310px;" />
                                    <img v-else :src="banner.pic" style="width:310px" />
                                </div>
                                <div style="flex-grow:1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-tumblr" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="text" v-model="banner.title" class="form-control" />
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="text" v-model="banner.pic" class="form-control" />
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-link" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="text" v-model="banner.link" class="form-control" />
                                    </div>
                                </div>
                                <div class="btn-group-vertical">
                                    <button type="button" class="btn btn-secondary" v-on:click="deleteBanner(index)">刪除</button>
                                    <button type="button" class="btn btn-secondary" v-on:click="moveBanner(index, -1)">上移</button>
                                    <button type="button" class="btn btn-secondary" v-on:click="moveBanner(index, 1)">下移</button>
                                </div>
                            </div>
                        </div>

                    </template>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="margin-right: auto" v-on:click="addBanner()">新 增</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關 閉</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveBanners()">儲 存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Dialog of NaviIcons -->
    <div class="modal fade" id="naviIconsDialog" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <template v-for="(icon, index) in editingNaviIcons.icons">
                        <div class="card">
                            <div class="card-body" style="display:flex;">
                                <div style="flex-grow:1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-tumblr" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="text" v-model="icon.title" class="form-control" />
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="text" v-model="icon.pic" class="form-control" />
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-link" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="text" v-model="icon.link" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關 閉</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveNaviIcons()">儲 存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Dialog of Curation -->
    <div class="modal fade" id="curationDialog" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" v-if="renderEditingCuration">
                    <div class="card-body" style="display:flex;flex-direction:column">
                        <div>
                            <img v-if="editingCuration.banner.pic != null" :src="editingCuration.banner.pic" style="width:310px" />
                        </div>
                        <div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-tumblr" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" v-model="editingCuration.banner.title" class="form-control" />
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" v-model="editingCuration.banner.pic" class="form-control" />
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-link" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" v-model="editingCuration.banner.link" class="form-control" />
                            </div>
                        </div>
                        <div>
                            <h4>檔次(Bids)</h4>
                            <div class="input-group">
                                <div class="form-control" id="editingCurationDeals"
                                     contenteditable="true" style="min-height:230px; border:1px solid silver; font-family:monospace; font-size:15px"
                                     spellcheck="false">
                                    <template v-for="(bid, index) in editingCuration.deals">
                                        <div>{{bid}}</div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關 閉</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveCuration()">儲 存</button>
                </div>
            </div>
        </div>
    </div>


</div>



@section footer {

    <script type="text/javascript">

        var app = new Vue({
            el: "#app",
            data: {
                pageBlocks: [
                    /*
                    {
                        id: 1, title: '廣告', type: 1,
                        content: {
                            banners: [
                                {
                                    'link': 'https://www.17life.com/join/20190515?rsrc=17_eventLocal&rsrc=20190515_dragonboatzeroprice',
                                    'title': '粽情粽意慶端午',
                                    'pic': 'https://www.17life.com/Images/17P/active/201905-sale/0515-930x330.gif'
                                },
                                {
                                    'link': 'https://www.17life.com/event/brandevent/2018_7847a55e?cpa=17_Curation&amp;type=2&amp;eventid=881&amp;rsrc=TBN_ty2',
                                    'title': '',
                                    'pic': 'https://www.17life.com/Images/17P/17topbn/1127-930x330.jpg'
                                },
                                {
                                    'link': 'https://www.17life.com/event/brandevent/2017_fce82a8e?cpa=17_Curation&type=2&eventid=798&rsrc=17_eventLocal',
                                    'title': '飽胃大賞',
                                    'pic': 'https://www.17life.com/Images/17P/active/201905-sale/0501-930x330.gif'
                                },
                                {
                                    'link': 'https://www.17life.com/events/line20190401/?rsrc=17_eventLocal',
                                    'title': 'LINE帳號轉移通知',
                                    'pic': 'https://www.17life.com/Images/17P/active/201904-sale/0401_930x330.gif'
                                },
                                {
                                    'link': 'https://www.17life.com/Images/Events/union/?rsrc=17_eventLocal',
                                    'title': '智慧購物X享受美食',
                                    'pic': 'https://www.17life.com/Images/17P/active/201904-sale/0408-930x330.gif'
                                }
                            ]
                        }, enabled: false
                    },
                    {
                        id: 2,
                        title: '導航',
                        type: 2,
                        content: {
                            icons: [
                                {
                                    'title': '端午節必買伴手禮',
                                    'pic': 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                    'link': '/m/fake_url'
                                },
                                {
                                    'title': '端午節必買伴手禮',
                                    'pic': 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                    'link': '/m/fake_url'
                                },
                                {
                                    'title': '端午節必買伴手禮',
                                    'pic': 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                    'link': '/m/fake_url'
                                },
                                {
                                    'title': '端午節必買伴手禮',
                                    'pic': 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                    'link': '/m/fake_url'
                                },
                                {
                                    'title': '端午節必買伴手禮',
                                    'pic': 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                    'link': '/m/fake_url'
                                },
                                {
                                    'title': '端午節必買伴手禮',
                                    'pic': 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                    'link': '/m/fake_url'
                                },
                                {
                                    'title': '端午節必買伴手禮',
                                    'pic': 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                    'link': '/m/fake_url'
                                },
                                {
                                    'title': '端午節必買伴手禮',
                                    'pic': 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                    'link': '/m/fake_url'
                                },
                            ]
                        },
                        enabled: true
                    },
                    {
                        id: 3,
                        title: '24H熱銷',
                        type: 3,
                        content: {},
                        enabled: false
                    },
                    {
                        id: 4,
                        title: '視界一亮葉黃素',
                        type: 4,
                        content: {
                            banner: {
                                'title': '視界一亮葉黃素',
                                'pic': 'https://www.17life.com/media/Brand/690_WebPic_BrandWebImage.jpg?ts=8d6d9f0d67fa12d',
                                'link': 'https://www.17life.com/event/brandevent.aspx?u=24H_Lutein&cpa=17_Curation&type=2&eventid=690'
                            },
                            deals: [
                                'b5475898-5991-4ee7-81a9-5a269f92d857',
                                '08f193e1-4e5e-4a01-8198-808f19a13688',
                                '6d6f0eb3-3767-4f91-bd56-1042e04c6ca5',
                                'eb982e9a-12e8-418b-96fe-b6113b1f2877',
                                'b3903fcb-75ad-4dea-b093-278027593698',
                                '236ed98b-6e33-43c9-a82e-b0c50c33cf53',
                                '8ed78b39-bcb1-4937-8ecd-c1c1b95c552d',
                                '7b414539-39ae-4c2a-95b3-eddf3d459f5d',
                                'c9db4c38-9907-4ec6-82ce-09981662dca9',
                            ]
                        },
                        enabled: true
                    },
                    {
                        id: 5,
                        title: '高品質家電24H',
                        type: 4,
                        content: {
                            banner: {
                                title: '高品質家電24H',
                                pic:'https://www.17life.com/media/Brand/937_WebPic_BrandWebImage.jpg?ts=8d6ac5d812a20b8',
                                link: 'https://www.17life.com/event/brandevent/24H_Electric?cpa=17_Curation&type=2&eventid=937&rsrc=TBN_d5'
                            },
                            deals: [
                                '713ea8ca-8a2e-4376-861a-41a3647874c6',
                                'c4e517f7-ffdb-44fa-9b12-20d16d6b8a55',
                                'cb73f98f-2c6a-45f7-97f2-f9902ab4f699',
                                'ece5a27d-21a6-4d4b-b519-04842afe8f0a',
                                '447f5413-d124-44c7-a5fe-0b329b7ad166',
                                '7bced73b-084a-469a-ae98-62d3924e4582',
                                '3cf6e5c0-b65c-4362-bad5-435c89ce07d8',
                                '52c8c716-40f1-49ad-8404-7bd314f84a9f',
                                'e7662342-f128-4651-bed4-f48cee490f29'
                            ]
                        },
                        enabled: true
                    },
                    {
                        id: 6,
                        title: '宅配購物',
                        type: 5,
                        content: {
                            banner: {
                                title: '宅配購物',
                                pic: 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                link: 'https://www.17life.com/channel/88'
                            },
                            deals: [
                                '713ea8ca-8a2e-4376-861a-41a3647874c6',
                                'c4e517f7-ffdb-44fa-9b12-20d16d6b8a55',
                                'cb73f98f-2c6a-45f7-97f2-f9902ab4f699',
                                'ece5a27d-21a6-4d4b-b519-04842afe8f0a',
                                '447f5413-d124-44c7-a5fe-0b329b7ad166',
                                '7bced73b-084a-469a-ae98-62d3924e4582',
                                '3cf6e5c0-b65c-4362-bad5-435c89ce07d8',
                                '52c8c716-40f1-49ad-8404-7bd314f84a9f',
                                'e7662342-f128-4651-bed4-f48cee490f29'
                            ]
                        },
                        enabled: true
                    },
                    {
                        id: 7,
                        title: '美食',
                        type: 5,
                        content: {
                            banner: {
                                title: '美食',
                                pic: 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                link: 'https://www.17life.com/channel/87'
                            },
                            deals: [
                                'f64a6404-76a8-461b-bae8-f8b68b77c26f',
                                '7e5c5679-10a1-4889-ba4c-374e041ac6e8',
                                '69934326-a272-4c58-a666-83ce6814f912',
                                'a244593a-6701-4ada-b3cd-dfe0175c975f',
                                'c8c0f0bc-f8ed-41df-aa14-3a37f2d05f6c',
                                'd8def1bb-0f63-4abf-a8f8-5d39339367fa',
                                '57ebb897-1478-4b7c-941f-8e3b94af4c46',
                                '439d8908-08b0-4fbf-b483-c96e1d8261b4',
                                '86ae0a75-cafb-4302-a60d-bc64015e5b70'
                            ]
                        },
                        enabled: true
                    },
                    {
                        id: 8,
                        title: '旅遊',
                        type: 5,
                        content: {
                            banner: {
                                title: '旅遊',
                                pic: 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                link: 'https://www.17life.com/channel/90'
                            },
                            deals: [
                                'f771743a-8f5f-4597-a7a4-6c9666a9a438',
                                'f3651b41-7769-4f9e-927a-2caba9c8c2a3',
                                '9fbc5b86-cf0b-4c7b-9520-f9d35f4b098e',
                                '339d81b3-4e38-4e8e-8e8e-7dbcb3d0fb39',
                                '3be2bb3d-6f0d-40e8-ab32-cc7bb2a5a1e6',
                                'c619d862-c31a-46ab-8320-f1259ec19dd5',
                                'b63ef3f7-3085-414d-829a-a62133d7c5f2',
                                'd3d85550-0ff5-4da4-a9ee-6b6e42028769',
                                '2ddfc634-3f78-42bf-a450-b402bbe19962'
                            ]
                        },
                        enabled: true
                    }
                    */
                ],
                editingBanners: [],
                renderEditingBanners: true,
                renderEditingCuration: true,
                renderEditingChannel: true,
                editingIndex: -1,
                editingCuration: {
                    banner: {
                        'title': '',
                        'pic': '',
                        'link': ''
                    },
                    deals: []
                },
                editingChannel: {
                    banner: {
                        'title': '',
                        'pic': '',
                        'link': ''
                    },
                    deals: []
                },
                editingNaviIcons: {
                    icons: []
                },
                emptyImg: 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7',
                errorMessages:[]
            },
            methods: {
                openBanner: function (block, editingIndex) {
                    this.editingBanners = JSON.parse(JSON.stringify(block.content.banners));
                    this.editingIndex = editingIndex;
                    $('#bannerDialog').modal();
                },
                saveBanners: function () {
                    console.log('save banners');
                    this.pageBlocks[this.editingIndex].content.banners = this.editingBanners;
                    $('#bannerDialog').modal('hide');
                    this.saveChanges(this.pageBlocks[this.editingIndex]);
                },
                addBanner: function () {
                    this.editingBanners = this.editingBanners || [];
                    this.editingBanners.push({ 'title': '', 'pic': '', 'link': '' });
                },
                deleteBanner: function (index) {
                    this.editingBanners = jQuery.grep(this.editingBanners, function (item, itemIndex) {
                        return index != itemIndex;
                    });
                },
                moveBanner: function (index, moveDirection) {
                    if (moveDirection == 1) {
                        newIndex = index + 1;
                        if (newIndex < this.editingBanners.length) {
                            console.log('move down, nex pos is ' + newIndex);
                            var temp = this.editingBanners[newIndex];
                            this.editingBanners[newIndex] = this.editingBanners[index];
                            this.editingBanners[index] = temp;
                        }
                    } else if (moveDirection == -1) {
                        newIndex = index - 1;
                        if (newIndex >= 0) {
                            console.log('move up, nex pos is ' + newIndex);
                            var temp = this.editingBanners[newIndex];
                            this.editingBanners[newIndex] = this.editingBanners[index];
                            this.editingBanners[index] = temp;
                        }
                    }
                    this.renderEditingBanners = false;
                    this.$nextTick(function () {
                        this.renderEditingBanners = true;
                    });
                },
                openNaviIcons: function (block, editingIndex) {
                    this.editingNaviIcons.icons = JSON.parse(JSON.stringify(block.content.icons));
                    this.editingIndex = editingIndex;
                    $('#naviIconsDialog').modal();
                },
                saveNaviIcons: function () {
                    console.log('save banners');
                    this.pageBlocks[this.editingIndex].content.icons = this.editingNaviIcons.icons;
                    $('#naviIconsDialog').modal('hide');
                    this.saveChanges(this.pageBlocks[this.editingIndex]);
                },
                openCuration: function (block, editingIndex) {
                    console.log('editingIndex:' + editingIndex);
                    this.editingCuration = JSON.parse(JSON.stringify(block.content));
                    if (this.editingCuration == null || this.editingCuration == '') {
                        alert('data null');
                    }
                    this.editingIndex = editingIndex;
                    this.renderEditingCuration = false;
                    this.$nextTick(function () {
                        this.renderEditingCuration = true;
                        $('#curationDialog').modal();
                    });
                },
                saveCuration: function () {
                    var block = this.pageBlocks[this.editingIndex];
                    block.content.banner = this.editingCuration.banner;
                    block.content.deals = this.extractGuids($('#editingCurationDeals').html());
                    $('#curationDialog').modal('hide');
                    console.log('save curation ' + this.editingIndex);
                    this.saveChanges(this.pageBlocks[this.editingIndex]);
                },
                extractGuids: function (html) {
                    var result = [];
                    var dealsRegex = /[\w]{8}-[\w]{4}-[\w]{4}-[\w]{4}-[\w]{12}/g;
                    while (matches = dealsRegex.exec(html)) {
                        result.push(matches[0]);
                    };
                    return result;
                },
                saveChanges: function (block) {
                    console.log('save changes,id=' + block.id);
                    block.contentJson = JSON.stringify(block.content);
                    $.ajax({
                        type: "POST",
                        url: "/controlroom/ppon/saveHomepageBlocks",
                        data: JSON.stringify(block),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            if (res.Code != 1000) {
                                alert(res.Message);
                            }
                            console.log('save change. ' + res);
                            refresh();
                        },
                        error: function (err) {
                            console.log('error:' + JSON.stringify(err));
                            alert('系統發生錯誤，儲存失敗. 請洽IT處理');
                        }
                    });
                }
            }
        });

        function refresh() {
            $.ajax({
                type: "POST",
                url: "/controlroom/ppon/loadHomepageBlocks",
                data: JSON.stringify({}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    console.log('load data: ' + res);
                    var data = JSON.parse(res);
                    var pageBlocks = data.pageBlocks;
                    for (var i in pageBlocks) {
                        var pb = pageBlocks[i];
                        pb.content = pb.content;
                        if (pb.content == null) {
                            pb.content = {};
                        }
                        if (pb.type == 1) {
                            if (pb.content.banners == null) {
                                pb.content.banners = [];
                            }
                        }
                        if (pb.type == 2) {
                            if (pb.content.icons == null) {
                                console.log('type=2 content:' + JSON.stringify(pb.content));
                                pb.content.icons = [];
                                for (var i = 0; i < 8; i++) {
                                    pb.content.icons.push(
                                        {
                                            pic: 'https://www.17life.com/themes/PCweb/images/lmQuestion.png',
                                            title: '[未設定]',
                                            link: 'https://www.17life.com'
                                        });
                                }
                            }
                        }
                        if (pb.type == 4 || pb.type == 5) {
                            if (pb.content.banner == null) {
                                pb.content.banner = { pic: null };
                            }
                            if (pb.content.deals == null) {
                                pb.content.deals = [];
                            }
                        }
                    }
                    app.pageBlocks = pageBlocks;
                    app.errorMessages = data.errorMessages;
                    //stupid & lazy
                    window.setTimeout(function () {
                        $('.toggle-chkecbox').each(function () {
                            $(this).bootstrapToggle();
                        });
                        $('.toggle-chkecbox').change(function () {
                            var idx = $(this).data('index');
                            app.pageBlocks[idx].enabled = $(this).prop('checked');
                            app.saveChanges(app.pageBlocks[idx]);
                        });
                    }, 50);

                },
                error: function (err) {
                    console.log('error:' + res);
                    alert('error:' + res);
                }
            });
        }


        $(document).ready(function () {

            refresh();

            $('#btnClearCache').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/controlroom/ppon/clearHomepageBlocksCache",
                    data: JSON.stringify({}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        console.log('clear cache');
                        if (res.Code == 1000) {
                            console.log(res.Message);
                            alert('清除快取完成');
                        }
                    },
                    error: function (err) {
                        console.log('error:' + res);
                        alert('error:' + res);
                    }
                });
            });
            
        });

    </script>

}