﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.Core.Models.PponEntities
@using LunchKingSite.DataOrm
@model List<DealDiscountProperty>
@{

    ViewBag.Title = "17Life後台";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
    DateTime modifiedDate = Model.Select(t => t.ModifiedTime).DefaultIfEmpty(DateTime.MinValue).Max();
    string modifiedTimeString = modifiedDate == DateTime.MinValue ? string.Empty : modifiedDate.ToString("yyyy/MM/dd HH:mm");
    string errorMessage = ViewBag.ErrorMessage;
}
@section header {
    <script type="text/javascript" src="/Tools/js/vue.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var app = new Vue({
                el: '#app',
                data: {
                    items: []
                }
            });
        });
    </script>
    <style type="text/css">
        div.table {
        }

        div.cell {
            display: table-cell;
            width: 200px;
        }

        .row_odd {
            background-color: #e2f9e9 !important;
        }

        .row_even {
            background-color: #F7F5F0 !important;
        }
    </style>
}
<div class="container" id="app">
    <div>
        <h1>檔次折扣後均價表</h1>
        <p class="text-warning">異動時間: @modifiedTimeString</p>
    </div>
    @if (string.IsNullOrEmpty(errorMessage) == false)
    {
        <div class="alert alert-danger">
            <strong>@errorMessage</strong>
        </div>
    }
    else
    {
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">主檔/適用子檔</th>
                <th scope="col">主檔號/適用子檔號</th>
                <th scope="col">主檔名稱/適用子檔名稱</th>
                <th scope="col">顯示價格/折扣後均價</th>
                <th scope="col">適用活動</th>
            </tr>
        </thead>
        <tbody>            
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="@Html.Raw(i % 2 == 0 ? "row_even" : "row_odd")">
                    <th rowspan="2" scope="row" style="vertical-align:middle; text-align:center">@(i + 1)</th>
                    <td><a href="@Html.Raw("/deal/" + @Model[i].Bid)" target="_blank">@Model[i].Bid</a></td>
                    <td>@Model[i].DealId</td>
                    <td>@Model[i].ItemName</td>
                    <td style="vertical-align:middle">@Model[i].ItemPrice.ToString("0.#")</td>
                    <td rowspan="2" style="vertical-align:middle"><a href="@Html.Raw("/controlroom/discount/discount_detail.aspx?cid=" + @Model[i].DiscountCampaignId)" target="_blank">@Model[i].DiscountCampaignName</a></td>
                </tr>
                <tr class="@Html.Raw(i % 2 == 0 ? "row_even" : "row_odd")">
                    <td>@Model[i].ApplicableDealBid</td>
                    <td>@Model[i].ApplicableDealId</td>
                    <td>@Model[i].ApplicableDealItemName</td>
                    <td style="color:crimson; vertical-align:middle">@Model[i].DiscountPrice.ToString("0.#")</td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>
