.Background { width:100%; height:100%; position:absolute; top:0; left:0; overflow:hidden; }
.Subscrible_Box { 
	width:865px; 
	height:400px; 
	position:absolute; 
	top:50%; 
	left:50%;
	margin-top:-200px;
	margin-left:-432px; 
	background:url(MS_BG.png) no-repeat;
	font-family:"微軟正黑體";
	text-align:left;
	border-radius:3px; 
	box-shadow:1px 1px 5px rgba(0%,0%,0%,.5);
}
.SBox_for_pop { margin:0 auto; top:0; left:0; }
.Subscrible_Box .left { width:415px; float:left; }
.Subscrible_Box .right { width:435px; float:right; }
.Mail_Sub_Box { 
	width:385px; 
	height:285px; 
	float:left;
	margin-top:60px;
	margin-left:15px; 
	padding:15px 0 0 15px;
	background:url(MS_MSBG_L.png) no-repeat; 
}
.Mail_Sub_Box p { color:#333; }
.Mail_Sub_Box select { width:300px; height:25px; }
.Mail_Sub_Box .Text_Input { width:297px; height:23px; }
.Mail_Sub_Box .MPrivacyPolicy { font-size:12px; text-decoration:underline; }
.Mail_Sub_Box .Button { 
	width:120px; 
	height:32px; 
	margin-top:5px; 
	border:none; 
	background-color:#413528; 
	font-size:18px; 
	color:#FFF; 
	font-family:"微軟正黑體";
	display:inline-block;
	}
.Mail_Sub_Box .Error_Note { margin-left:10px; color:#E12626; font-size:13px; display:inline-block; }
.Deal_Slideshow_Bar, .Deal_Close_Bar { width:415px; height:40px; margin-top:20px; margin-right:10px; float:left; text-align:right; }
.Deal_Close_Bar a { width:18px; height:18px; margin:5px -5px auto; background:url(DSS_Close.png) no-repeat; display:inline-block; }
.Deal_Close_Bar a:hover { background:url(DSS_Close.png) 0 -18px no-repeat; }
.Deal_SBar_at_Bottom { height:20px; margin-top:0px; }
.Deal_Slideshow_Bar span { width:12px; height:12px; background:url(DSS.png) no-repeat; font-size:0; text-indent:-9999px; display:inline-block; }
.Deal_Slideshow_Bar span:hover { background:url(DSS_hover.png) no-repeat; }
.Deal_Slideshow_Box {
	width:420px;
	height:300px;
	float:left;
	background:url(MS_MSBG_R.png) no-repeat;
	border-radius:3px;
}
.Deal_Slideshow_Box .DealPic { width:420px; height:233px; }
.Deal_Slideshow_Box .DealContent { margin:13px auto auto 10px; }
.DealContent h1 { font-size:18px; line-height:18px; color:#333; }
.DealContent p { font-size:13px; line-height:13px; color:#F70; } 
.Register_Bar { width:415px; height:20px; margin-top:10px; margin-right:10px; float:left; text-align:right; color:#FFF; }
.Register_Bar a {color:#FFF; text-decoration:none; }
.Register_Bar a:hover {color:#FFF; text-decoration:underline; }