﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="NewYearEvent.aspx.cs" Inherits="LunchKingSite.Web.Ppon.NewYearEvent" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../Themes/default/images/17Life/Gactivities/EMS/EventMailSub.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="EventMailSubNewYear" style="width:640px;height:440px">
<a href="<%=SystemConfig.SiteUrl %>/ppon/promo.aspx?cn=CHnewyear&rsrc=17_eventNY">
<div class="EventMailSubNewYear-IN"></div>
</a>
</div>
</body>
</html>
