﻿<%@ Page Language="C#" AutoEventWireup="true" ValidateRequest="false" CodeBehind="service.aspx.cs" Inherits="LunchKingSite.Web.User.service" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">

</head>
<body>
	<form id="form1" runat="server">
	</form>
</body>
</html>
