﻿<!--DealBlock_Full--Start-->
<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" style="blackground: #FFF;">
    <tr>
        <td width="25">
        </td>
        <td width="650" height="240" colspan="2">
            <a href="{link_the_deal}" target="_blank">
                <img src="{img_the_deal_photo}" width="650" height="260"
                    border="0" alt="{alt_name}" />
            </a>
        </td>
        <td width="25">
        </td>
    </tr>
    <tr>
        <td width="25">
        </td>
        <td width="520" height="80">
            <div style="width: 500px; height: 30px; word-break: break-all; overflow: hidden;
                font-size: 16px;">
                <a href="{link_the_deal}" target="_blank" style="color: #EC7d49; text-decoration: none;">{str_edm_title}</a></div>
            <div style="width: 520px; height: 35px; word-break: break-all; overflow: hidden;">
                <a href="{link_the_deal}" target="_blank" style="color: #333333; font-size: 13px; text-decoration: none;">{str_deal_promo}</a>
            </div>
        </td>
        <td width="80" height="80" align="center" style="background-color: #2B1E13; font-size: 24px;">
            <a href="{link_the_deal}" target="_blank" style="color: white; text-decoration: none;">VIEW</a>
        </td>
        <td width="25">
        </td>
    </tr>
    <tr>
        <td colspan="4" height="30">
        </td>
    </tr>
</table>
<!--DealBlock_Full--End-->
