﻿<!--DealBlock_Half--Start-->
<table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td width="25">
        </td>
        <!--DealBlock_Half_LeftArea--Start-->
        <td width="290">
            {left_side_deal}
        </td>
        <!--DealBlock_Half_LeftArea--End-->
        <td width="20">
        </td>
        <!--DealBlock_Half_RightArea--Start-->
        <td width="290">
            {right_side_deal}
        </td>
        <!--DealBlock_Half_RightArea--End-->
        <td width="25">
        </td>
    </tr>
    <tr>
        <td colspan="7" height="30">
        </td>
    </tr>
</table>
<!--DealBlock_Half--End-->
