﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EventListRule.ascx.cs"
    Inherits="LunchKingSite.Web.Event.EventListRule" %>

<div class="go_exhibition"><a href="<%=backUrl %>">回去逛逛 精彩活動</a></div>
<asp:Literal ID="litHtml" runat="server" />

