﻿<%@ Page Title="台新銀行 卡友獨享 吃喝玩樂送刷卡金!" Language="C#" MasterPageFile="~/Ppon/Ppon.Master"
    AutoEventWireup="true" CodeBehind="events.aspx.cs" Inherits="LunchKingSite.Web.Event.events" %>

<asp:Content ID="Content1" ContentPlaceHolderID="SSC" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MC" runat="server">
   
</asp:Content>
