BODY{
	scrollbar-face-color: #F2F2F2;
	scrollbar-shadow-color: #999999;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #999999;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #999999;
	FONT-FAMILY: "新細明體";
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	BACKGROUND-COLOR: #e1f2f9;
}

a:link {color: #898989;text-decoration: none;}
a:visited {text-decoration: none;color: #898989;}
a:hover {color: #898989;position: relative;right: 0px;top: 1px;text-decoration: underline;}
a:active {text-decoration: none;color: #898989;}

.a2:link {text-decoration: none;}
.a2:visited {text-decoration: none;}
.a2:hover {text-decoration: none;}
.a2:active {text-decoration: none;}

 img { BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px;}
 TD { BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px !important;} 


.News_image { BORDER-RIGHT: #bbb 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #bbb 1px dotted; PADDING-LEFT: 5px; BORDER-LEFT: #bbb 1px dotted; PADDING-TOP: 5px; BORDER-BOTTOM: #bbb 1px dotted; PADDING-TOP: 5px; padding-bottom: 5px; }

   .ablack_22 {	 font-size: 22px;font-family: "Tahoma","新細明體","細明體"; color: #383F3F;text-decoration: none;}
   .ablack_16 {	 font-size: 16px;font-family: "Tahoma","新細明體","細明體"; color: #383F3F;text-decoration: none;}
   .ablack {	 font-size: 16px;font-family: "Tahoma","新細明體","細明體"; color: #383F3F;text-decoration: none;}
   .ablack:link {	font-size: 16px;font-family: "Tahoma","新細明體","細明體";   color: #383F3F; text-decoration: none;}
   .ablack:visited {font-size: 16px;font-family: "Tahoma","新細明體","細明體"; text-decoration: none;	 color: #383F3F; }
   .ablack:hover {   font-size: 16px;font-family:"Tahoma", "新細明體","細明體"; text-decoration: underline; color: #383F3F;}
   .ablack:active {  font-size: 16px;font-family:"Tahoma", "新細明體","細明體";  text-decoration: none;	color: #383F3F; }

   .ablack2 {	 font-size: 15px;font-family: "Tahoma","新細明體","細明體"; color: #383F3F;text-decoration: none;}
   .ablack2:link {	font-size: 15px;font-family: "Tahoma","新細明體","細明體";   color: #383F3F; text-decoration: none;}
   .ablack2:visited {font-size: 15px;font-family: "Tahoma","新細明體","細明體"; text-decoration: none;	 color: #383F3F; }
   .ablack2:hover {   font-size: 15px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline; color: #383F3F;}
   .ablack2:active {  font-size: 15px;font-family: "Tahoma","新細明體","細明體";  text-decoration: none;	color: #383F3F; }

   .ablack3 {	 font-size: 14px;font-family: "Tahoma","新細明體","細明體"; color: #383F3F;text-decoration: none;}
   .ablack3:link {	font-size: 14px;font-family: "Tahoma","新細明體","細明體";   color: #383F3F; text-decoration: none;}
   .ablack3:visited {font-size: 14px;font-family: "Tahoma","新細明體","細明體"; text-decoration: none;	 color: #383F3F; }
   .ablack3:hover {   font-size: 14px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline; color: #383F3F;}
   .ablack3:active {  font-size: 14px;font-family: "Tahoma","新細明體","細明體";  text-decoration: none;	color: #383F3F; }

   .ablack4 {font-size: 13px;font-family: "Tahoma","新細明體","細明體"; color: #383F3F;text-decoration: none;}
   .ablack4:link {font-size: 13px;font-family: "Tahoma","新細明體","細明體";   color: #383F3F; text-decoration: underline;}
   .ablack4:visited {font-size: 13px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline;	 color: #383F3F; }
   .ablack4:hover {font-size: 13px;font-family: "Tahoma","新細明體","細明體"; color: #383F3F; position: relative;right: 0px;top: 1px;text-decoration: underline; }
   .ablack4:active {font-size: 13px;font-family: "Tahoma","新細明體","細明體";  text-decoration: underline;	color: #383F3F; }

   .ablack5 {font-size: 12px;font-family: "Tahoma","新細明體","細明體"; color: #383F3F;text-decoration: none;}
   .ablack5:link {font-size: 12px;font-family: "Tahoma","新細明體","細明體";   color: #383F3F; text-decoration: underline;}
   .ablack5:visited {font-size: 12px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline;	 color: #383F3F; }
   .ablack5:hover {font-size: 12px;font-family: "Tahoma","新細明體","細明體"; color: #383F3F; position: relative;right: 0px;top: 1px;text-decoration: underline; }
   .ablack5:active {font-size: 12px;font-family: "Tahoma","新細明體","細明體";  text-decoration: underline;	color: #383F3F; }

   .ablack4-W {	 font-size: 13px;font-family: "新細明體","細明體"; color: #383F3F;text-decoration: none;}
   .ablack4-W:link {	font-size: 13px;font-family: "新細明體","細明體";   color: #383F3F; text-decoration: none;}
   .ablack4-W:visited {font-size: 13px;font-family: "新細明體","細明體"; text-decoration: none;	 color: #383F3F; }
   .ablack4-W:hover {   font-size: 13px;font-family: "新細明體","細明體"; text-decoration: none; color: #FFFFFF;}
   .ablack4-W:active {  font-size: 13px;font-family: "新細明體","細明體";  text-decoration: none;	color: #383F3F; }

   .aRed_T_30 {	 font-size: 30px;font-family: "Tahoma"; color: #F6014C;text-decoration: none;}
   .aRed_T_22 {	 font-size: 22px;font-family: "Tahoma"; color: #F6014C;text-decoration: none;}
   .aRed_T_18 {	 font-size: 18px;font-family: "Tahoma"; color: #F6014C;text-decoration: none;}
   .aRed_T_16 {	 font-size: 16px;font-family: "Tahoma"; color: #F6014C;text-decoration: none;}

   .aRed-P {	 font-size: 16px;font-family: "新細明體","細明體"; color: #F9354C;text-decoration: none;}
   .aRed-P:link {	font-size: 16px;font-family: "新細明體","細明體";   color: #F9354C; text-decoration: none;}
   .aRed-P:visited {font-size: 16px;font-family: "新細明體","細明體"; text-decoration: none;	 color: #F9354C; }
   .aRed-P:hover { font-size: 16px; font-family: "新細明體","細明體"; text-decoration: none; color: #3C3CB0; }
   .aRed-P:active {  font-size: 16px;font-family: "新細明體","細明體";  text-decoration: none;	color: #F9354C; }

   .aRed2-P {	 font-size: 16px;font-family: "新細明體","細明體"; color: #F42A84;text-decoration: none;}
   .aRed2-P:link {	font-size: 16px;font-family: "新細明體","細明體";   color: #F42A84; text-decoration: none;}
   .aRed2-P:visited {font-size: 16px;font-family: "新細明體","細明體"; text-decoration: none;	 color: #F42A84; }
   .aRed2-P:hover { font-size: 16px; font-family: "新細明體","細明體"; text-decoration: none; color: #3C3CB0; }
   .aRed2-P:active {  font-size: 16px;font-family: "新細明體","細明體";  text-decoration: none;	color: #F42A84; }

   .aOrange-P {	 font-size: 16px;font-family: "新細明體","細明體"; color: #FF7F00;text-decoration: none;}
   .aOrange-P:link {	font-size: 16px;font-family: "新細明體","細明體";   color: #FF7F00; text-decoration: none;}
   .aOrange-P:visited {font-size: 16px;font-family: "新細明體","細明體"; text-decoration: none;	 color: #FF7F00; }
   .aOrange-P:hover { font-size: 16px; font-family: "新細明體","細明體"; text-decoration: none; color: #3C3CB0; }
   .aOrange-P:active {  font-size: 16px;font-family: "新細明體","細明體";  text-decoration: none;	color: #FF7F00; }


   .aPink-P {	 font-size: 16px;font-family: "新細明體","細明體"; color: #F42A84;text-decoration: none;}
   .aPink-P:link {	font-size: 16px;font-family: "新細明體","細明體";   color: #F42A84; text-decoration: none;}
   .aPink-P:visited {font-size: 16px;font-family: "新細明體","細明體"; text-decoration: none;	 color: #F42A84; }
   .aPink-P:hover { font-size: 16px; font-family: "新細明體","細明體"; text-decoration: none; color: #3C3CB0; }
   .aPink-P:active {  font-size: 16px;font-family: "新細明體","細明體";  text-decoration: none;	color: #F42A84; }


   .aRed {	 font-size: 16px;font-family: "新細明體","細明體"; color: #F6014C;text-decoration: none;}
   .aRed:link {	font-size: 16px;font-family: "新細明體","細明體";   color: #F6014C; text-decoration: none;}
   .aRed:visited {font-size: 16px;font-family: "新細明體","細明體"; text-decoration: none;	 color: #F6014C; }
   .aRed:hover {   font-size: 16px;font-family: "新細明體","細明體"; text-decoration: underline; color: #F6014C;}
   .aRed:active {  font-size: 16px;font-family: "新細明體","細明體";  text-decoration: none;	color: #F6014C; }

   .aRed2 {	 font-size: 15px;font-family: "Tahoma","新細明體","細明體"; color: #F6014C;text-decoration: none;}
   .aRed2:link {	font-size: 15px;font-family: "Tahoma","新細明體","細明體";   color: #F6014C; text-decoration: none;}
   .aRed2:visited {font-size: 15px;font-family: "Tahoma","新細明體","細明體"; text-decoration: none;	 color: #F6014C; }
   .aRed2:hover {   font-size: 15px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline; color: #F6014C;}
   .aRed2:active {  font-size: 15px;font-family: "Tahoma","新細明體","細明體";  text-decoration: none;	color: #F6014C; }

   .aRed3 {	 font-size: 14px;font-family: "Tahoma","新細明體","細明體"; color: #F6014C;text-decoration: none;}
   .aRed3:link {	font-size: 14px;font-family: "Tahoma","新細明體","細明體";   color: #F6014C; text-decoration: none;}
   .aRed3:visited {font-size: 14px;font-family: "Tahoma","新細明體","細明體"; text-decoration: none;	 color: #F6014C; }
   .aRed3:hover {   font-size: 14px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline; color: #F6014C;}
   .aRed3:active {  font-size: 14px;font-family: "Tahoma","新細明體","細明體";  text-decoration: none;	color: #F6014C; }

   .aRed4 {	 font-size: 13px;font-family: "Tahoma","新細明體","細明體"; color: #F6014C;text-decoration: none;}
   .aRed4:link {	font-size: 13px;font-family: "Tahoma","新細明體","細明體";   color: #F6014C; text-decoration: underline;}
   .aRed4:visited {font-size: 13px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline;	 color: #F6014C; }
   .aRed4:hover {   font-size: 13px;font-family: "Tahoma","新細明體","細明體"; color: #F6014C; position: relative;right: 0px;top: 1px;text-decoration: underline; }
   .aRed4:active {  font-size: 13px;font-family: "Tahoma","新細明體","細明體";  text-decoration: underline;	color: #F6014C; }

   .aRed5 {	 font-size: 12px;font-family: "Tahoma","新細明體","細明體"; color: #F6014C;text-decoration: none;}
   .aRed5:link {	font-size: 12px;font-family: "Tahoma","新細明體","細明體";   color: #F6014C; text-decoration: underline;}
   .aRed5:visited {font-size: 12px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline;	 color: #F6014C; }
   .aRed5:hover {   font-size: 12px;font-family: "Tahoma","新細明體","細明體"; color: #F6014C; position: relative;right: 0px;top: 1px;text-decoration: underline; }
   .aRed5:active {  font-size: 12px;font-family: "Tahoma","新細明體","細明體";  text-decoration: underline;	color: #F6014C; }

   .aB-Green2:link {	font-size: 15px;font-family: "Tahoma","新細明體","細明體";   color: #4D4D4D; text-decoration: underline;}
   .aB-Green2:visited {font-size: 15px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline;	 color: #4D4D4D; }
   .aB-Green2:hover {   font-size: 15px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline; color: #00adc8;}
   .aB-Green2:active {  font-size: 15px;font-family: "Tahoma","新細明體","細明體";  text-decoration: underline;	color: #4D4D4D; }

   .aB-Red2:link {	font-size: 15px;font-family: "Tahoma","新細明體","細明體";   color: #4D4D4D; text-decoration: none;}
   .aB-Red2:visited {font-size: 15px;font-family: "Tahoma","新細明體","細明體"; text-decoration: none;	 color: #4D4D4D; }
   .aB-Red2:hover {   font-size: 15px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline; color: #F6014C;}
   .aB-Red2:active {  font-size: 15px;font-family: "Tahoma","新細明體","細明體";  text-decoration: none;	color: #4D4D4D; }

   .aGreen2 {	 font-size: 15px;font-family: "Tahoma","新細明體","細明體"; color: #00adc8;text-decoration: underline;}
   .aGreen2:link {	font-size: 15px;font-family: "Tahoma","新細明體","細明體";   color: #00adc8; text-decoration: underline;}
   .aGreen2:visited {font-size: 15px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline;	 color: #00adc8; }
   .aGreen2:hover {   font-size: 15px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline; color: #4D4D4D;}
   .aGreen2:active {  font-size: 15px;font-family: "Tahoma","新細明體","細明體";  text-decoration: underline;	color: #00adc8; }



   .aGreen3 {	 font-size: 14px;font-family: "Tahoma","新細明體","細明體"; color: #00adc8;text-decoration: underline;}
   .aGreen3:link {	font-size: 14px;font-family: "Tahoma","新細明體","細明體";   color: #00adc8; text-decoration: underline;}
   .aGreen3:visited {font-size: 14px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline;	 color: #00adc8; }
   .aGreen3:hover {   font-size: 14px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline; color: #4D4D4D;}
   .aGreen3:active {  font-size: 14px;font-family: "Tahoma","新細明體","細明體";  text-decoration: underline;	color: #00adc8; }

   .aGreen4 {	 font-size: 13px;font-family: "Tahoma","新細明體","細明體"; color: #00adc8;text-decoration: underline;}
   .aGreen4:link {	font-size: 13px;font-family: "Tahoma","新細明體","細明體";   color: #00adc8; text-decoration: underline;}
   .aGreen4:visited {font-size: 13px;font-family:"Tahoma", "新細明體","細明體"; text-decoration: underline;	 color: #4D4D4D; }
   .aGreen4:hover {   font-size: 13px;font-family: "Tahoma","新細明體","細明體"; color: #00adc8; position: relative;right: 0px;top: 1px;text-decoration: underline; }
   .aGreen4:active {  font-size: 13px;font-family: "Tahoma","新細明體","細明體";  text-decoration: underline;	color: #00adc8; }
   
   .aGreen5 {	 font-size: 12px;font-family: "Tahoma","新細明體","細明體"; color: #00adc8;text-decoration: none;}
   .aGreen5:link {	font-size: 12px;font-family: "Tahoma","新細明體","細明體";   color: #00adc8; text-decoration: none;}
   .aGreen5:visited {font-size: 12px;font-family: "Tahoma","新細明體","細明體"; text-decoration: none;	 color: #00adc8; }
   .aGreen5:hover {   font-size: 12px;font-family: "Tahoma","新細明體","細明體"; color: #4D4D4D; position: relative;right: 0px;top: 1px;text-decoration: underline; }
   .aGreen5:active {  font-size: 12px;font-family: "Tahoma","新細明體","細明體";  text-decoration: underline;	color: #00adc8; }

   .ablue3 {	 font-size: 14px;font-family: "Tahoma","新細明體","細明體"; color: #1A4694;text-decoration: underline;}
   .ablue3:link {	font-size: 14px;font-family: "Tahoma","新細明體","細明體";   color: #1A4694; text-decoration: underline;}
   .ablue3:visited {font-size: 14px;font-family: "Tahoma","新細明體","細明體"; text-decoration: underline;	 color: #1A4694; }
   .ablue3:hover {   font-size: 14px;font-family: "Tahoma","新細明體","細明體"; position: relative;right: 0px;top: 1px;text-decoration: underline; color: #1A4694;}
   .ablue3:active {  font-size: 14px;font-family: "Tahoma","新細明體","細明體";  text-decoration: underline; color: #1A4694; }

   .awhite2_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體";line-height: 14px;	color: #FFFFFF;    }
   .awhite2 {	        font-size: 11px;	line-height: 14px;	color: #FFFFFF;    }
   .awhite2:link {	    text-decoration: none;          color: #FFFFFF;	   }
   .awhite2:visited {	text-decoration: none;	        color: #FFFFFF;    }
   .awhite2:hover {    	text-decoration: underline; 	color: #FFFFFF;    }
   .awhite2:active {  	text-decoration: none;	        color: #FFFFFF;    }

   .awhite_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體";line-height: 14px;	color: #AAC5DB;    }
   .awhite {	        font-size: 11px;	line-height: 14px;	color: #94B6D1;    }
   .awhite:link {	    text-decoration: none;          color: #94B6D1;	   }
   .awhite:visited {	text-decoration: none;	        color: #94B6D1;    }
   .awhite:hover {    	text-decoration: underline; 	color: #94B6D1;    }
   .awhite:active {  	text-decoration: none;	        color: #94B6D1;    }
	
	.agray{             color:#484848;}
	.agray:link {       text-decoration: none;	        color: #484848;}
    .agray:visited {	text-decoration: none;	        color: #484848;    }
	.agray:hover {      text-decoration: none;color: #3F90D1;position: relative;right: 0px;top: 1px;}
	.agray:active {  	text-decoration: none;	        color: #484848;    }

	.agray2{             color:#666666;}
	.agray2:link {       text-decoration: underline;	        color: #666666;}
    .agray2:visited {	text-decoration: underline;	        color: #666666;    }
	.agray2:hover {      text-decoration: underline;color: #666666;position: relative;right: 0px;top: 1px;}
	.agray2:active {  	text-decoration: underline;	        color: #666666;    }

	.anews{             font-family: "新細明體", "細明體", "Arial";font-size: 12px; line-height: 22px;color: #999999;}
	.a.anews:link {   font-size: 12px; line-height: 22px;color: #666666;text-decoration: none;}
    .a.anews:visited {	font-size: 12px; line-height: 22px;color: #666666;text-decoration: none;}
	.a.anews:hover {  font-size: 12px; line-height: 22px;text-decoration: underline;color: #3F90D1;}
	.a.anews:active {  font-size: 12px; line-height: 22px;color: #666666;text-decoration: none;}
	

.wordtype_transparent {
	font-size: 12px;
	letter-spacing: 0px;
	color: #999999;
	background-color: transparent;
	border-top: thin none #999999;
	border-right: thin none #999999;
	border-bottom: 1px solid #CCCCCC;
	border-left: thin none #999999;

}	 


.titlehref {text-decoration: none; color: #383F3F}
.titlehref:link         {text-decoration: none; color: #383F3F}
.titlehref:visited      {text-decoration: none; color: #383F3F}
.titlehref:active       {text-decoration:none; color: #000000}
.titlehref:hover        {text-decoration:none; color: #000000}
.atextline {
	color: #666666;
	background-image: url(/mmbgss.jpg);
	SCROLLBAR-FACE-COLOR: #ECE4CC;
	SCROLLBAR-HIGHLIGHT-COLOR: #ECE4CC;
	SCROLLBAR-SHADOW-COLOR: #CEB67B;
	SCROLLBAR-3DLIGHT-COLOR: #CEB67B;
	SCROLLBAR-ARROW-COLOR: #7E5112;
	SCROLLBAR-TRACK-COLOR: #ECE4CC;
	SCROLLBAR-DARKSHADOW-COLOR: #ECE4CC;
	border: thin solid #8A8A00;
}
   .orange {  font-family: "新細明體", "細明體", "Arial";font-size: 12px;	line-height: 16px;	color: #FF6600;}
   .orange:link {	    text-decoration: none;          color: #FF6600;	   }
   .orange:visited {	text-decoration: none;	        color: #FF6600;    }
   .orange:hover {    	text-decoration: underline; 	color: #FF6600;    }
   .orange:active {  	text-decoration: none;	        color: #FF6600;    }
   
.w1 {	font-size: 10px;	word-spacing: 1pt;	line-height: normal;	background-image: none;	color: #999999;}
.w2 {	font-size: 10px;	line-height: 15px;	color: #FFFFFF;}
.blue_15 {	font-size: 15px;color: #0099FF;}

.blue {	font-size: 12px;color: #3F90D1;}
a.blue:link {color: #3F90D1;text-decoration: none;}
a.blue:visited {text-decoration: none;color: #3F90D1;}
a.blue:hover {color: #3F90D1;position: relative;right: 0px;top: 1px;text-decoration: underline;}
a.blue:active {text-decoration: none;color: #3F90D1;}

.blue13 {	font-size: 13px;color: #0099FF;}
a.blue13:link {color: #0099FF;text-decoration: none;}
a.blue13:visited {text-decoration: none;color: #0099FF;}
a.blue13:hover {color: #0099FF;position: relative;right: 0px;top: 1px;text-decoration: underline;}
a.blue13:active {text-decoration: none;color: #0099FF;}

.blue15 {	font-size: 15px;color: #0099FF;}
a.blue15:link {color: #0099FF;text-decoration: none;}
a.blue15:visited {text-decoration: none;color: #0099FF;}
a.blue15:hover {color: #0099FF;position: relative;right: 0px;top: 1px;text-decoration: underline;}
a.blue15:active {text-decoration: none;color: #0099FF;}

.green {	font-size: 13px;	line-height: 15px;	color: #009999;}
.red {	    font-size: 13px;    line-height: 15px;	color: #FF0000;}
.pink {  	font-size: 13px;	line-height: 15px;	color: #FF6699;}
.gray {  	font-size: 13px;	line-height: 18px;	color: #666666;}
.gray_12 {  	font-size: 12px;	line-height: 15px;	color: #666666;}
.gray_12:link {	    text-decoration: none;          color: #666666;	   }
.gray_12:visited {	text-decoration: none;	        color: #666666;    }
.gray_12:hover {    text-decoration: underline; 	color: #0099FF;position: relative;right: 0px;top: 1px;    }
.gray_12:active {  	text-decoration: none;	        color: #666666;    }
.gray_13 {  	font-size: 13px;	line-height: 16px;	color: #666666;}
.gray_13:link {	    text-decoration: none;          color: #666666;	   }
.gray_13:visited {	text-decoration: none;	        color: #666666;    }
.gray_13:hover {    text-decoration: underline; 	color: #0099FF;position: relative;right: 0px;top: 1px;    }
.gray_13:active {  	text-decoration: none;	        color: #666666;    }
.gray_form {	font-size: 13px;	line-height: 15px;	color: #666666;	border: 1px dashed #CCCCCC;}
.gray_form2 {
	font-size: 13px;
	line-height: 15px;
	color: #666666;
	border-top: 1px none #CCCCCC;
	border-right: 1px dashed #CCCCCC;
	border-bottom: 1px none #CCCCCC;
	border-left: 1px dashed #CCCCCC;
}

.form_style {	border: 1px solid;	color: #CCCCCC;}

.form-shu-Htwo {
	border-top: 1px none #E1E1E1;
	border-right: 1px dotted #E1E1E1;
	border-bottom: 1px none #E1E1E1;
	border-left: 1px dotted #E1E1E1;
}
.form-shu-two {
	border-top: 1px  solid #E1E1E1;
	border-right: 1px none #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	border-left: 1px none #E1E1E1;
}
.form-shu-left {
	border-top: 1px none #E1E1E1;
	border-right: 1px none #E1E1E1;
	border-bottom: 1px none #E1E1E1;
	border-left: 1px dotted #E1E1E1;
}
.form-shu-right {
	border-top: 1px none #E1E1E1;
	border-right: 1px dotted #E1E1E1;
	border-bottom: 1px none #E1E1E1;
	border-left: 1px none #E1E1E1;
}
.form-shu-top {
	border-top: 1px dotted #E1E1E1;
	border-right: 1px none #E1E1E1;
	border-bottom: 1px none #E1E1E1;
	border-left: 1px none #E1E1E1;
}
.form-shu-down {
	border-top: 1px none #E1E1E1;
	border-right: 1px none #E1E1E1;
	border-bottom: 1px dotted #E1E1E1;
	border-left: 1px none #E1E1E1;
}

a.news:link {color: #555555;}
a.news:visited {color: #555555;}
a.news:hover {color: #003399;position: relative;right: 0px;top: 1px;}
a.news:active {color: #555555;}

a.footer:link {color: #666666;text-decoration: none;}
a.footer:visited {text-decoration: none;color: #666666;}
a.footer:hover {color: #666666;position: relative;right: 0px;top: 1px;}
a.footer:active {text-decoration: none;color: #666666;}


a.ablue_12:link {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #666666;line-height: 16px;text-decoration: none;}
a.ablue_12:visited {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #0099FF;line-height: 16px;text-decoration: none;}
a.ablue_12:hover {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #666666;line-height: 16px;position: relative;right: 0px;top: 1px;}
a.ablue_12:active {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #666666;line-height: 16px;text-decoration: none;}


.select {
		BORDER-RIGHT: #00ADC8 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #00ADC8 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #00ADC8 1px solid; COLOR: #383F3F; PADDING-TOP: 1px; BORDER-BOTTOM: #00ADC8 1px solid; FONT-SIZE: 13 px; FONT-FAMILY: "Verdana", "Arial", "細明體"; line-height: 15px; BACKGROUND-COLOR: #ffffff
}

.textarea {
	BORDER-RIGHT: #00ADC8 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #00ADC8 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 13 px; PADDING-BOTTOM: 1px; BORDER-LEFT: #00ADC8 1px solid; COLOR: #383F3F; PADDING-TOP: 1px; BORDER-BOTTOM: #00ADC8 1px solid; FONT-FAMILY: "Verdana", "Arial", "細明體"; line-height: 15px; BACKGROUND-COLOR: #ffffff
}
.textarea2 {
	BORDER-RIGHT: #FC9EAA 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #FC9EAA 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 13 px; PADDING-BOTTOM: 1px; BORDER-LEFT: #FC9EAA 1px solid; COLOR: #383F3F; PADDING-TOP: 1px; BORDER-BOTTOM: #FC9EAA 1px solid; FONT-FAMILY: "Verdana", "Arial", "細明體"; line-height: 15px; BACKGROUND-COLOR: #ffffff
}

.textarea3 {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 13 px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; COLOR: #383F3F; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "Verdana", "Arial", "細明體"; line-height: 15px; BACKGROUND-COLOR: #ffffff
}

.input {
	BORDER-RIGHT: #00ADC8 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #00ADC8 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #00ADC8 1px solid; COLOR: #383F3F; PADDING-TOP: 1px; BORDER-BOTTOM: #00ADC8 1px solid;FONT-SIZE: 15px;  FONT-FAMILY: "Verdana", "Arial", "細明體"; BACKGROUND-COLOR: #ffffff
}
.input2 {
	BORDER-RIGHT: #FC9EAA 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #FC9EAA 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #FC9EAA 1px solid; COLOR: #383F3F; PADDING-TOP: 1px; BORDER-BOTTOM: #FC9EAA 1px solid;FONT-SIZE: 13px;  FONT-FAMILY: "Verdana", "Arial", "細明體"; BACKGROUND-COLOR: #ffffff
}
.input3 {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; COLOR: #383F3F; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid;FONT-SIZE: 13px;  FONT-FAMILY: "Verdana", "Arial", "細明體"; BACKGROUND-COLOR: #ffffff
}
.white_9 {
	font-family: "新細明體", "細明體";
	font-size: 9px;
	color: #FFFFFF;
	line-height: 15px;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}
.white_10 {font-size: 10px; font-family: "新細明體", "細明體"; color: #FFFFFF; }
.white_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #FFFFFF; }
.white_a_11 {font-size: 11px; font-family: "Arial"; color: #FFFFFF; }
.white_a_12 {font-size: 12px; font-family: "Arial"; color: #FFFFFF; }
.white_a_13 {font-size: 13px; font-family: "Arial"; color: #FFFFFF; }
.white_a_13_v {font-size: 13px; font-family: "Verdana"; color: #FFFFFF; }
.white_a_15 {font-size: 15px; font-family: "Arial"; color: #FFFFFF; }
.white_12 {
	font-size: 12px;
	font-family: "新細明體", "細明體";
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
	line-height: 15px;
}
.white_12_2 {
	font-size: 12px;
	font-family: "新細明體", "細明體";
	color: #FFFFFF;
	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}
.white_13 {
	font-size: 13px;
	font-family: "新細明體", "細明體";
	color: #FFFFFF;
}
.white_13_2 {
	font-size: 13px;
	font-family: "新細明體", "細明體";
	color: #FFFFFF;
	padding-left: 5px;
}
.white_14 {
	font-size: 14px;
	font-family: "新細明體", "細明體";
	color: #FFFFFF;
}
.white_15 {
	font-size: 15px;
	font-family: "新細明體", "細明體";
	color: #FFFFFF;
	line-height: 22px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.black0_a_10 {font-size: 10px; font-family: "Arial","新細明體", "細明體"; color: #383F3F; }
.black0_a_11 {font-size: 11px; font-family: "Arial","新細明體", "細明體"; color: #000000; }
.black0_a_12 {font-size: 12px; font-family: "Arial","新細明體", "細明體"; color: #000000; }
.black0_10 {font-size: 10px; font-family: "新細明體", "細明體","Arial"; color: #383F3F; }
.black0_11 {font-size: 11px; font-family: "新細明體", "細明體","Arial"; color: #000000; }
.black0_12 {font-size: 12px; font-family: "新細明體", "細明體","Arial"; color: #000000; }
.black0_12_H {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #000000;
	TEXT-DECORATION: none;
	line-height: 18px;
 }
.black3_a_11 {font-size: 11px; font-family: "Arial","新細明體", "細明體"; color: #383F3F; }
.black3_a_12 {font-size: 12px; font-family: "Arial","新細明體", "細明體"; color: #383F3F; }
.black3_a_13 {font-size: 13px; font-family: "Arial","新細明體", "細明體"; color: #383F3F; }
.black3_a_15 {font-size: 15px; font-family: "Arial","新細明體", "細明體"; color: #383F3F; }
.black3_11 {font-size: 11px; font-family: "新細明體", "細明體","Arial"; color: #383F3F; }
.black3_11_H {font-size: 11px; font-family: "新細明體", "細明體","Arial";color: #383F3F;line-height: 13pt;}
.black3_11_H2 {font-size: 11px; font-family: "新細明體", "細明體","Arial";color: #383F3F;line-height: 18pt;}
.black3_12 {font-size: 12px; font-family: "新細明體", "細明體","Arial"; color: #383F3F; }
.black3_12_H {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #383F3F;
	TEXT-DECORATION: none;
	line-height: 18px;
 }
.black3_12_H2 {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #383F3F;
	TEXT-DECORATION: none;
	line-height: 21px;
 }
.black6_13_H2 {font-size: 13px; font-family: "新細明體", "細明體", "Arial";color: #666666;
	TEXT-DECORATION: none;	line-height: 24px;}

.black3_13 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 0px;
	COLOR: #383F3F;
	PADDING-TOP: 3px;
	FONT-FAMILY: "新細明體", "細明體","Arial";
	TEXT-DECORATION: none;
	line-height: 20px;
}
.black3_14 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 0px;
	COLOR: #383F3F;
	PADDING-TOP: 3px;
	FONT-FAMILY: "新細明體", "細明體","Arial";
	TEXT-DECORATION: none;
	line-height: 22px;
}
.black3_13_T {font-size: 13px; font-family:  "新細明體", "細明體","Tahoma"; color: #666666; }

.black3_15 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 15px;
	PADDING-BOTTOM: 0px;
	COLOR: #383F3F;
	PADDING-TOP: 3px;
	FONT-FAMILY: "新細明體", "細明體","Arial";
	TEXT-DECORATION: none;
	line-height: 22px;
}

.black6_11 {font-size: 11px; font-family: "新細明體", "細明體","Arial"; color: #666666; }
.black6_11_H {font-size: 11px; font-family: "新細明體", "細明體","Arial";color: #666666;line-height: 13pt;}
.black6_11_H2 {font-size: 11px; font-family: "新細明體", "細明體","Arial";color: #666666;line-height: 18pt;}
.black6_12 {font-size: 12px; font-family: "新細明體", "細明體","Arial"; color: #666666; }
.black6_12_H {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #666666;
	TEXT-DECORATION: none;line-height: 18px;}
.black6_12_H2 {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #666666;
	TEXT-DECORATION: none;
	line-height: 21px;
 }
.black6_12_H3 {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #666666;
	TEXT-DECORATION: none;
	line-height: 24px;
 }
.black6_13_H {font-size: 13px; font-family: "新細明體", "細明體","Arial";color: #666666;TEXT-DECORATION: none;line-height: 17pt;}
.black6_15_H {font-size: 15px; font-family: "新細明體", "細明體","Arial";color: #666666;TEXT-DECORATION: none;line-height: 18pt;}
.black6_a_13 {font-size: 13px; font-family: "Arial";color: #666666;TEXT-DECORATION: none;line-height: 18pt;}
.black6_a_15 {font-size: 15px; font-family: "Arial";color: #666666;TEXT-DECORATION: none;line-height: 18pt;}
.black6_13 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 3px;
	FONT-FAMILY: "新細明體";
	TEXT-DECORATION: none;
	line-height: 20px;
}
.black6_15 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 15px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 3px;
	FONT-FAMILY: "新細明體", "細明體", "Arial","Tahoma",;
	TEXT-DECORATION: none;
	line-height: 18pt;
}

.black6_16_h {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11pt;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 3px;
	FONT-FAMILY: "新細明體";
	TEXT-DECORATION: none;
	line-height: 18pt;
}
.black6_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #666666; }
.black6_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #666666; }
.black9_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #999999; }
.black9_11_H {font-size: 11px; font-family: "新細明體", "細明體", "Arial";color: #999999;line-height: 13px;}
.black9_11_H2 {font-size: 11px; font-family: "新細明體", "細明體", "Arial";color: #999999;line-height: 18px;}
.black9_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #999999; }
.black9_12_H {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #999999;line-height: 18px;}
.black9_12_H2 {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #999999;line-height: 21px;}
.black9_13_H {font-size: 13px; font-family: "新細明體", "細明體", "Arial";color: #999999;line-height: 20px;}
.black9_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #999999; }
.black9_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #999999; }
.red01_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #FF0000; }
.red01_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #FF0000; }
.red01_a_13 {font-size: 13px; font-family: "Arial","新細明體","細明體"; color: #FF0000; }
.red01_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #FF0000; }
.red01_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #FF0000; }
.red01_13 {font-size: 13px; font-family: "新細明體", "細明體"; color: #FF0000; }
.red01_15 {font-size: 15px; font-family: "新細明體", "細明體"; color: #FF0000; }
.red01_16 {font-size: 16px; font-family: "新細明體", "細明體"; color: #FF0000; }

.red02_a_10 {font-size: 10px; font-family: "Arial","新細明體","細明體"; color: #D62829; }
.red02_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #D62829; }
.red02_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #D62829; }
.red02_a_13 {font-size: 13px; font-family: "Arial","新細明體","細明體"; color: #D62829; }
.red02_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #D62829; }
.red02_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #D62829; }
.red02_13 {font-size: 13px; font-family: "新細明體", "細明體"; color: #D62829; }
.red02_16 {font-size: 16px; font-family: "新細明體", "細明體"; color: #D62829; }
.red03_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #FF3355; }
.red03_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #FF3355; }
.red03_a_13 {font-size: 13px; font-family: "Arial","新細明體","細明體"; color: #FF3355; }
.red03_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #FF3355; }
.red03_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #FF3355; }
.red03_13 {font-size: 13px; font-family: "新細明體", "細明體"; color: #FF3355; }
.red_counter {font-size: 11px; font-family: Arial; color: #FF9751; }
.orange01_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #FF6600; }
.orange02_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #FF6600; }
.orange01_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #FF9751; }
.orange01_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #FF9751; }
.orange01_13 {font-size: 13px; font-family: "新細明體", "細明體"; color: #FF822F; }
.orange01_15 {font-size: 15px; font-family: "新細明體", "細明體","Arial";color: #FF6600;TEXT-DECORATION: none;line-height: 18pt;}
.orange01_15_H {font-size: 15px; font-family: "新細明體", "細明體","Arial";color: #FF822F;TEXT-DECORATION: none;line-height: 18pt;}
.blue_11_H {font-size: 11px; font-family: "新細明體", "細明體", "Arial";color: #3F90D1;line-height: 16px;}
.blue_12_H {font-size: 12px; font-family: "新細明體", "細明體", "Arial";color: #3F90D1;line-height: 18px;}
.blue_13_H {font-size: 13px; font-family: "新細明體", "細明體", "Arial";color: #3F90D1;line-height: 20px;}
.blue_15_H {font-size: 15px; font-family: "新細明體", "細明體", "Arial";color: #3F90D1;line-height: 22px;}
.blue01_16 {font-size: 16px; font-family: "新細明體", "細明體"; color: #336699; }
.blue01_13 {font-size: 13px;font-family: "新細明體", "細明體";color: #336699;line-height: 16px;}
.blue01_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #336699; }
.blue01_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #336699; }
.blue01_a_11 {font-size: 11px; font-family: "Arial","新細明體", "細明體"; color: #3F90D1; }
.blue01_a_12 {font-size: 12px; font-family: "Arial","新細明體", "細明體"; color: #3F90D1; }
.blue01_a_13 {font-size: 13px; font-family: "Arial","新細明體", "細明體"; color: #3F90D1; }
.blue01_a_15 {font-size: 15px; font-family: "Arial","新細明體", "細明體"; color: #3F90D1; }
.blue02_16 {font-size: 16px; font-family: "新細明體", "細明體"; color: #336699; }
.blue02_13 {font-size: 13px;font-family: "新細明體", "細明體";color: #336699;}
.blue02_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #336699; }
.blue02_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #336699; }
.blue02_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #336699; }
.blue02_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #336699; }
.blue03_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #00337F; }
.blue_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #3366CC; }
.blue_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #3366CC; }
.blue_13 {font-size: 13px; font-family: "新細明體", "細明體"; color: #3366CC; }
.blue_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #3366CC; }
.blue_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #3366CC; }
.green01_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #249AB2; }
.green01_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #249AB2; }
.green01_a_13 {font-size: 13px; font-family: "Arial","新細明體","細明體"; color: #249AB2; }
.green01_a_15 {font-size: 15px; font-family: "Arial","新細明體","細明體"; color: #249AB2; }
.green01_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #336600; }
.green01_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #336600; }
.green01_16 {font-size: 16px; font-family: "新細明體", "細明體"; color: #57AA1C; }
.pink01_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #CC0099; }
.pink01_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #CC0099; }
.pink01_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #CC99CC; }
.pink01_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #CC0099; }
.pink01_13 {font-size: 13px; font-family: "新細明體", "細明體"; color: #CC0099; }
.pink02_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #712F71; }
.pink02_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #712F71; }
.pink02_11 {font-size: 11px; font-family: "新細明體", "細明體"; color: #712F71; }
.pink02_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #712F71; }
.pink02_13 {font-size: 13px; font-family: "新細明體", "細明體"; color: #712F71; }
.pink03_12 {font-size: 12px; font-family: "新細明體", "細明體"; color: #8567A3; }
.blue_counter {font-size: 11px; font-family:  "新細明體", "細明體","Arial"; color: #555555; }
.blue_c_font {font-size: 11px; font-family: "新細明體", "細明體"; color: #6E9CC0; }
.orange01_a_11 {font-size: 11px; font-family: "Arial","新細明體","細明體"; color: #FF9001; }
.orange02_a_12 {font-size: 12px; font-family: "Arial","新細明體","細明體"; color: #FF9001; }
.orange01_11 {font-size: 11px; font-family: "新細明體", "細明體","Tahoma"; color: #FF9001; }
.orange01_12 {font-size: 12px; font-family: "新細明體", "細明體","Tahoma"; color: #FF9001; }
.orange01_13 {font-size: 13px; font-family: "新細明體", "細明體","Tahoma"; color: #FF9001; }
.black01_a_11_T {font-size: 11px; font-family: "Tahoma","新細明體", "細明體"; color: #383F3F; }
.black01_a_12_T {font-size: 12px; font-family: "Tahoma","新細明體", "細明體"; color: #383F3F;TEXT-DECORATION: none;}
.black01_a_13_T {font-size: 13px; font-family: "Tahoma","新細明體", "細明體"; color: #383F3F;TEXT-DECORATION: none;}
.black01_a_15_T {font-size: 15px; font-family: "Tahoma","新細明體", "細明體"; color: #383F3F; }
.black02_a_11_T {font-size: 11px; font-family: "Tahoma","新細明體", "細明體"; color: #666666; }
.black02_a_12_T {font-size: 12px; font-family: "Tahoma","新細明體", "細明體"; color: #666666;TEXT-DECORATION: none;}
.black02_a_13_T {font-size: 13px; font-family: "Tahoma","新細明體", "細明體"; color: #666666;TEXT-DECORATION: none;}
.black02_a_15_T {font-size: 15px; font-family: "Tahoma","新細明體", "細明體"; color: #666666; }
.black03_a_11_T {font-size: 11px; font-family: "Tahoma","新細明體", "細明體"; color: #999999; }
.black03_a_12_T {font-size: 12px; font-family: "Tahoma","新細明體", "細明體"; color: #999999;TEXT-DECORATION: none;}
.black03_a_13_T {font-size: 13px; font-family: "Tahoma","新細明體", "細明體"; color: #999999;TEXT-DECORATION: none;}
.black03_a_15_T {font-size: 15px; font-family: "Tahoma","新細明體", "細明體"; color: #999999; }
.orange01_a_11_T {font-size: 11px; font-family: "Tahoma","新細明體", "細明體"; color: #FF9001; }
.orange01_a_12_T {font-size: 12px; font-family: "Tahoma","新細明體", "細明體"; color: #FF9001; }
.orange01_a_13_T {font-size: 13px; font-family: "Tahoma","新細明體", "細明體"; color: #FF9001; }
.orange01_a_15_T {font-size: 15px; font-family: "Tahoma","新細明體", "細明體"; color: #FF9001; }
.green01_a_11_T {font-size: 11px; font-family: "Tahoma","新細明體", "細明體"; color: #249AB2; }
.green01_a_12_T {font-size: 12px; font-family: "Tahoma","新細明體", "細明體"; color: #249AB2; }
.green01_a_13_T {font-size: 13px; font-family: "Tahoma","新細明體", "細明體"; color: #249AB2; }
.green01_12_T {font-size: 12px; font-family:  "新細明體", "細明體","Tahoma"; color: #249AB2; }
.green01_13_T {font-size: 13px; font-family:  "新細明體", "細明體","Tahoma"; color: #249AB2; }
.green01_13_H {font-size: 13px; font-family: "新細明體", "細明體","Arial";color: #249AB2;TEXT-DECORATION: none;line-height: 16pt;}
.green01_15_H {font-size: 15px; font-family: "新細明體", "細明體","Arial";color: #249AB2;TEXT-DECORATION: none;line-height: 18pt;}
.blue01_a_11_T {font-size: 11px; font-family: "Tahoma","新細明體", "細明體"; color: #3F90D1; }
.blue01_a_12_T {font-size: 12px; font-family: "Tahoma","新細明體", "細明體"; color: #3F90D1; }
.blue01_a_13_T {font-size: 13px; font-family: "Tahoma","新細明體", "細明體"; color: #3F90D1; }
.blue01_a_15_T {font-size: 15px; font-family: "Tahoma","新細明體", "細明體"; color: #3F90D1; }
.white01_15_T {font-size: 15px; font-family: "Tahoma","新細明體", "細明體",; color: #FFFFFF; }
.white01_13_T {font-size: 13px; font-family:  "Tahoma","新細明體", "細明體"; color: #FFFFFF; }

.note_11 {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 2px;
	FONT-FAMILY: "新細明體";
	TEXT-DECORATION: none;
	line-height: 13px;
}
.note_10 {
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	COLOR: #666666;
	PADDING-TOP: 2px;
	FONT-FAMILY: "新細明體";
	TEXT-DECORATION: none;
	line-height: 11px;
}
.button {
	BORDER-RIGHT: 1px ridge #666666;
	BORDER-TOP: 1px ridge #ffffff;
	FONT-SIZE: 9pt;
	BORDER-LEFT: 1px ridge #ffffff;
	COLOR: #383F3F;
	BORDER-BOTTOM: 1px ridge #666666;
	FONT-FAMILY: "新細明體", Arial;
	HEIGHT: 18px;
	BACKGROUND-COLOR: #f1f1f1;
	cursor: hand;
	padding: 1px;
}
.button2 {
	BORDER-RIGHT: 1px ridge #666666;
	BORDER-TOP: 1px ridge #ffffff;
	FONT-SIZE: 11px;
	BORDER-LEFT: 1px ridge #ffffff;
	COLOR: #383F3F;
	BORDER-BOTTOM: 1px ridge #666666;
	FONT-FAMILY: "新細明體", Arial;
	HEIGHT: 16px;
	BACKGROUND-COLOR: #f1f1f1;
	cursor: hand;
	padding: 1px;
}
.date {  font-family: "新細明體", Arial; font-size: 9pt; color: #C3C3C3}
.date2 {  font-family: "新細明體", Arial; font-size: 11px; color: #C3C3C3}
.chinese {  font-family: "新細明體", Arial; font-size: 9pt; color: #666666}
.diaryhead {  font-family: "新細明體", Arial; font-size: 9pt; color: #ffffff}
.articlehead {  font-family: "新細明體", Arial; font-size: 9pt; color: #ff6600}
.download {

	BORDER-RIGHT: #383F3F 1px ridge;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #ffffff 1px ridge;
	PADDING-LEFT: 1px;
	FONT-SIZE: 9pt;
	PADDING-BOTTOM: 1px;
	BORDER-LEFT: #ffffff 1px ridge;
	COLOR: #000000;
	PADDING-TOP: 1px;
	BORDER-BOTTOM: #000000 1px ridge;
	FONT-FAMILY: "新細明體", Arial;
	BACKGROUND-COLOR: #A4A4A4;
	cursor: auto;
}

.table001 {BACKGROUND-COLOR: #ECECFF}
.table002 {BACKGROUND-COLOR: #FFFFFF}
.table003 {	FONT-SIZE: 12px; FILTER: Alpha(Opacity=50); COLOR: #383F3F; FONT-FAMILY:"新細明體", "細明體";BACKGROUND-COLOR: #F3F3F3;}
.table004 {
	BORDER-RIGHT: #00215a 1px solid; BORDER-TOP: #00215a 1px solid; BORDER-LEFT: #00215a 1px solid; WORD-BREAK: break-all; BORDER-BOTTOM: #00215a 1px solid
}
.table01 {font-size: 15px; font-family: "Arial","新細明體", "細明體"; color: #383F3F;BACKGROUND-COLOR: #FFFFFF}
.table02 {font-size: 15px; font-family: "Arial","新細明體", "細明體"; color: #383F3F;BACKGROUND-COLOR: #E6E6E6}

.cmenu01 {background-image:url(../images/C4/C_menu_Bg.jpg);}
.cmenu02 {background-image:url(../images/C4/C_menu_Bg_over.jpg);}

.cmenu03 {font-size: 13px;font-family: "新細明體","細明體"; color: #383F3F; background-image:url(../images/C4/C_menu_Bg.jpg);}
.cmenu04 {font-size: 13px; font-family: "新細明體", "細明體"; color: #FFFFFF; background-image:url(../images/C4/C_menu_Bg_over.jpg);}
