body {
	margin-left: auto;
	margin-top: auto;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#39b5b5;
}
table {
     margin: 0 auto 0 auto;
}
div {
    margin: 0 auto 0 auto;
}
td#leftbg
{
	 width:4px; 
	 background-image:url(../images/pez/bg_01.gif);
}
td#rightbg
{
	 width:4px; 
	 background-image:url(../images/pez/bg_02.gif);
}
td#middlebg
{
	 vertical-align:top;
	 padding-top:5px;
	 text-align:left;
	 padding-left:5px;
	 width:199px;
	 background-color:#FFFFFF;
	 background-image:url(../images/pez/bg_left01.gif);
}
a
{
	text-decoration:underline;
	color: #39B5B5;
}
a:visited 
{
	text-decoration:underline;
	color: #39B5B5;
}
a:hover 
{
	text-decoration: underline;
	color:#39B5B5;
}

.menu_leftbg_01
{
	width:160px;
	height:23px;
	font-size:13px;
	letter-spacing:2px;
	background-image:url(../images/pez/menu_leftbg_01.gif);
	color: #b04e93;
	text-align:left;
	padding-left:25px;
	padding-top:8px;
	
}
.menu_leftbg_02
{
	width:160px;
	height:20px;
	font-size:13px;
	letter-spacing:2px;
	background-color:white;
	border-bottom:1px solid #ffe8f6;
	color: #b04e93;
	text-align:left;
	padding-left:25px;
	padding-top:7px;
	
}
.menu_leftbg_03
{
	font-size:13px;
	height:18px;
	letter-spacing:2px;
	background-color:white;
	border-bottom:1px solid #ffe8f6;
	color: #b04e93;
	text-align:left;
	padding-left:5px;
	padding-top:3px;
	
}
.bottom 
{
	color: #fceaf5;
	text-align:center;
	line-height:20px;
	padding-top:10px;
}
.bottom:visited 
{
	color: #fceaf5;
}
.bottom:hover 
{
	color: #fceaf5;
}
.bottom:link 
{
	color: #fceaf5;
}
.middle-right
{
	vertical-align:top;
	text-align:center;
	padding-top:10px;
	padding-bottom:20px;
}
.middle-all
{
	vertical-align:top;
	text-align:center;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:15px;
}
.bt_a
{
    text-align:left;
	background-image:url(../images/pez/bt_a02.gif);
	padding:15px;
	padding-left:50px;
	vertical-align:top;
    line-height:10px;
	color: #666666;
	font-size:13px;
	letter-spacing:1px;
}
.bt_a_fontbig
{
	color: #b04e93;
	font-size:15px;
	font-weight:100;
	padding-top:5px;
}
.bt_b
{
	background-image:url(../images/pez/bt_b02.gif);
	text-align:center;
	padding:10px;
	color: #666666;
	font-size:12px;
	line-height:18px;
}
.bt_b_fontbig
{
	color: #33999b;
	font-size:14px;
	text-align:center;
}
.goods_font
{
	color: #979797;
	font-size:12px;
	text-decoration:line-through;
}
.photo_bg
{
	background-color:#ffffff;
	border:1px solid #e6e5e5;
	padding:5px; 
	text-align:center;
}
.photo_bg01
{
	background-color:#F9F9F9;
	border:1px solid #e6e5e5;
	padding:4px; 
	text-align:center;
}
.photo_bg02
{
	background-image:url(../images/storeicon/bg_food01.gif);
	border:1px solid #bbe4e4;
	padding:4px; 
	text-align:center;
}
.photo_bg03
{
	background-image:url(../images/storeicon/bg_food02.gif);
	border:1px solid #bbe4e4;
	padding:4px; 
	text-align:center;
}
.dotted
{
    height:3px;
	background-image: url(../images/bg/dotted.gif);
}
.font_grey 
{
	color: #555555;
	font-size:12px;
}
.font_grey13 
{
	color: #555555;
	font-size:13px;
}
.font_33999b
{
	color: #33999b;
	font-size:13px;
	padding-bottom:5px;
	line-height:20px;
}
.font_333333
{
	color: #333333;
	font-size:13px;
	line-height:20px;
	letter-spacing:1px;
}
.font_f27c2f
{
	color:#f27c2f;
	font-size:12px;
	line-height:20px;
	letter-spacing:1px;
}
.font_bf27c2f
{
	color:#f27c2f;
	font-size:15px;
	line-height:20px;
	letter-spacing:1px;
}
.font_ffffff
{
	color: #ffffff;
	font-size:13px;
	line-height:20px;
	letter-spacing:1px;
}
.font_ffffff:visited 
{
	color: #ffffff;
}
.font_ffffff:hover 
{
	color: #ffffff;
}
.font_ffffff:link 
{
	color: #ffffff;
}

.font_ffffff01
{
	color: #ffffff;
	font-size:16px;
	line-height:20px;
	letter-spacing:1px;
}
.ease_bg
{
	background-color:#ffffff;
	border:1px solid #33999b;
	padding:5px; 
	text-align:center;
}
.f27C2f_bg
{
	background-color:#ffffff;
	border:1px solid #f27C2f;
	padding:5px; 
	text-align:center;
}
.ff_bg
{
	background-color:#ffffff;
	border:1px solid #89BC48;
	padding:5px; 
	text-align:center;
}
.font_pay
{
	color: #216061;
	font-size:13px;
	line-height:20px;
	letter-spacing:1px;
	text-align:left;
}
.font_993300
{
	color: #993300;
	font-size:13px;
	line-height:20px;
	letter-spacing:1px;
	text-align:left;
}
.font_f27c2f
{
	color: #f27c2f;
	font-size:13px;
	line-height:20px;
	letter-spacing:1px;
	text-align:left;
}
.font_f27c2f:visited 
{
	color: #f27c2f;
}
.font_f27c2f:hover 
{
	color: #f27c2f;
}
.font_f27c2f:link 
{
	color: #f27c2f;
}
.font_89bc48
{
	color: #89bc48;
	font-size:13px;
	line-height:20px;
	letter-spacing:1px;
	text-align:left;
}
.font_89bc48:visited 
{
	color: #89bc48;
}
.font_89bc48:hover 
{
	color: #89bc48;
}
.font_89bc48:link 
{
	color: #89bc48;
}
.font_sf27c2f
{
	color:#f27c2f;
	font-size:12px;
	letter-spacing:1px;
}
.font_sf27c2f:visited 
{
	color: #f27c2f;
}
.font_sf27c2f:hover 
{
	color: #f27c2f;
}
.font_sf27c2f:link 
{
	color: #f27c2f;
}
