@charset "utf-8";
/* CSS Document */
/* Base Style */
body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
a:link {
	text-decoration: none;
	color: #000;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #000;
}
a:active {
	text-decoration: none;
	color: #000;
}
/* Coupon Print Style */
#Coupon {
	position: relative;
	margin: 15px auto 0 auto;
	border: #000 2px solid;
	width: 630px;
}
#Coupon_Header {
	position: relative;
	margin:10px 10px 0 10px;
	width: 610px;
}
#Coupon_Logo {
	float: left;
	width: 260px;
	height: 80px;
}
#Coupon_SN_Text {
	float: right;
    font-size: 16px;
}
#Coupon_SN {
	float: right;
	width: 320px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 44px;
	text-align: right;
}
#Coupon_Shop {
	float: left;
	margin: 0 10px 0 10px;
	padding: 5px 0;
	width: 610px;
	font-size: 20px;
	border-top: 1px solid #000;
}
#Coupon_Title {
	float: left;
	margin: 0 10px 0 10px;
	width: 610px;
	font-size: 26px;
	font-weight: bold;
}
#Coupon_Info {
	float: left;
	margin: 20px 10px;
	width: 610px;
	font-size: 24px;
}
#Coupon_Note {
	float: left;
	margin: 0px 20px 0 10px ;
	width: 450px;
}
#Coupon_Barcode {
	position: absolute;
	right: 5px;
	bottom: 5px;
	width: 160px;
	font-size: 16px;
}
#Coupon_Clear {
	clear: both;
}
/* Manual Style */
#Manual {
	position: relative;
	margin: 15px auto 0 auto;
	border: #000 2px solid;
	width: 630px;
	height: auto;
}
#Manual_Content {
	position: relative;
	margin: 10px;
	width: 620px;
}
#Manual_Note {
	float: left;
	width: 280px;
}
#Manual_Note_Title {
    font-size: 26px;
}
#Manual_Location {
	float: right;
	width: 320px;
}
#Manual_Shop {
	position: relative;
	margin: 0;
}
#Manual_Shop_Title {
    font-size: 26px;
}
#Manual_Map {
	position: relative;
	margin: 10px;
}
#Manual_Clear {
	clear: both;
}