body,
html {
	position:relative;
	padding:0;margin:0;
	text-align:center;
	font-family: "Tahoma","新細明體","細明體"; text-decoration: none;
}

div {
	padding:0;margin:0;
}

#wrapper {
	width:1000px;
	text-align:left;
	margin:0 auto 0 auto;
}

.box1p,.box2p,.box3p {
	
}

a,
a:visited,
a:link,
a:hover,
a:active {
	font-family: "Tahoma","新細明體","細明體"; color: #898989;text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.effect1:hover {
	position:relative;
	top:1px;
}

a.effect2:hover {
	position:relative;
	top:1px;
	color:#ff9100;
}

a.blue_hilite,
a.blue_hilite:hover {
	color:#0000ff;
	font-weight:bold;
	text-decoration:underline;
}

.aRed_T_30 {font-weight:bold;font-size: 30px;color: #F6014C;}
.aRed_T_22 {font-weight:bold;font-size: 22px;color: #F6014C;}
.aRed_T_18 {font-weight:bold;font-size: 18px;color: #F6014C;}
.aRed_T_16 {font-weight:bold;font-size: 16px;color: #F6014C;}
.aRed_T_12 {font-weight:bold;font-size: 12px;color: #F6014C;}

.aOrange_T_30 {font-weight:bold;font-size: 30px;color: #ff9100;}
.aOrange_T_22 {font-weight:bold;font-size: 22px;color: #ff9100;}
.aOrange_T_18 {font-weight:bold;font-size: 18px;color: #ff9100;}
.aOrange_T_16 {font-weight:bold;font-size: 16px;color: #ff9100;}
.aOrange_T_12 {font-weight:bold;font-size: 12px;color: #ff9100;}

.ablack_12 {font-size: 12px;color: #383F3F;}
.ablack_13 {font-size: 13px;color: #383F3F;}
.ablack_14 {font-size: 14px;color: #383F3F;} 
.ablack_15 {font-size: 15px;color: #383F3F;}
.ablack_16 {font-size: 16px;color: #383F3F;}

.ablack_12_b {font-weight:bold;font-size: 12px;color: #383F3F;}
.ablack_13_b {font-weight:bold;font-size: 13px;color: #383F3F;}
.ablack_14_b {font-weight:bold;font-size: 14px;color: #383F3F;} 
.ablack_15_b {font-weight:bold;font-size: 15px;color: #383F3F;}
.ablack_16_b {font-weight:bold;font-size: 16px;color: #383F3F;} 

.sep {
	clear:both;
	line-height:0px;
	height:0px;
	font-size:0px;
}

.sep_small {
	clear:both;
	line-height:4px;
	height:4px;
	font-size:4px;
}

.sep_med {
	clear:both;
	line-height:8px;
	height:8px;
	font-size:8px;
}

.sep_large {
	clear:both;
	line-height:16px;
	height:16px;
	font-size:16px;
}

#top_nav {
	height: 24px;
	line-height: 24px;
	padding: 0 36px 0 36px;
	overflow:hidden;
}

#top_plurk {
	display:block;
	height:24px;
	width:233px;
}

#top_menu {
	
}

#top_menu a, 
#top_menu span {
	display:block;
	float:right;
	font-weight:bold;
	font-size:12px;
	line-height:20px;
	padding-top:4px;
	color:#383F3F;
}

#top_menu a {
	text-decoration: underline;
}

a.top_menu1 {
	padding:0 4px 0 25px;
}

a.top_menu2 {
	padding:0 4px 0 24px;
}

a.top_menu3 {
	padding:0 4px 0 20px;
}

a.top_menu4 {
	padding:0 0 0 20px;
}

span.menu_sep {
	width:16px;
	height:24px;
}

a.top_menu5 {
	padding:3px 16px 0 0;
	background: transparent url('../images/17life/b8css/Top_icon_payeasy.gif') bottom left no-repeat;
	width:83px;
	height:21px;
}

#profile_menu {
	font-size:12px;
	font-weight:bold;
	color:#00adc8;
}

#profile_menu a,
#profile_menu span {
	color:#00adc8;
	padding: 0 6px 0 0;
	display:block;
	float:right;
}

span.profile_sep {
	background: transparent url('../images/17life/b8css/Top_login_HLine.jpg') top left no-repeat;
	height: 16px;
	width: 12px;
}

#header {

}

#logo {
	width:177px;
	height:111px;
	background:transparent url('../images/17Life/B5/17logo.jpg') left 50% no-repeat;
	padding:0 8px 0 0;
}

#header_spacer {
	width:206px;
	height:111px;
	background:transparent url('../images/17life/b8css/menu_Right_Line.jpg') top right no-repeat;
}

#content_wrapper {
	width:952px;
	padding: 16px 0 16px 0;
	margin: 0 auto 0 auto;
}

#content_body {
	width:920px;
	margin:0 auto 0 auto;
	padding:16px 0;
}

.top_box_title {
	background:transparent url('../images/17life/b8css/B7_Title_BG.jpg') top right no-repeat;
	width: 920px;
	height: 44px;
	line-height: 44px;
	font-size:15px;
	font-weight:bold;
	color:#fff;
}

.top_box_title span {
	padding: 0 0 0 16px;
}

.top_box_body {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.top_box_steps {
	border-top:1px solid #ccc;
	text-align:center;
	height:29px;
	overflow:hidden;
}

.top_box_body td {
	vertical-align:top;
}

td.top_box_col1 {
	width:80px;
	text-align:center;
	border-right:1px solid #ccc;
	padding:8px 0;
}

td.top_box_col2 {
	padding:2px 8px;
}

td.top_box_col3 {
	padding: 35px 8px 0px 0;	
	font-size:13px;
	font-family: "Arial";
}

.tb_location {
	float:left;
	padding: 0 8px 0 12px;
	font-size:15px; 
	line-height:36px;
	font-weight:bold;
	background: transparent url('../images/17life/b8css/B7_arrow_yellow.jpg') left 50% no-repeat;
}

.tb_add_fav {
	float:left;
	padding: 0 8px 0 14px;
	font-size:12px;
	line-height:36px;
	font-weight:bold;
	background: transparent url('../images/17life/b8css/B7_heart.jpg') left 50% no-repeat;
}

.tb_blue:link,
.tb_blue:visited,
.tb_blue:active {
	color:#224099;
	font-weight:bold;
	text-decoration:underline;
}

.tb_msg,
.tb_title_1 {
	font-weight:bold;
	font-size:12px;
	line-height:12px;
	color:#666;
}

.tb_data_1 {
	font-weight:bold;
	font-size:12px;
	line-height:12px;
	color:#ff9100;
}

.tb_msg { 	
	padding: 4px 2px 2px 2px; 
	margin: 0;
}

.tb_msg input { 
	font-size:11px;
	font-weight:normal;
	width: 300px;
	padding:1px;
	line-height:12px; 
	margin:0;
}

.special_remarks {
	padding: 4px 20px 4px 40px;
	background: transparent url('../images/17life/b8css/B8_Icon_yellow.jpg') 20px 50% no-repeat;
}

.items_ads {
	float:left;
	width:160px;
	height:100px;
	margin: 0 0 0 10px;
}

.items_body { 
	float: left;
	width: 750px;
}

.ib5 {
	background: transparent url('../images/17life/b8css/item_n_tr.png') top right no-repeat;
}

.ib4 {
	background: transparent url('../images/17life/b8css/item_bl.png') bottom left no-repeat;
}

.ib3 {
	background: transparent url('../images/17life/b8css/item_n_br.png') bottom right no-repeat;
}

.ib2 {
	background: transparent url('../images/17life/b8css/item_l.png') top left repeat-y;
}

.ib1 {
	background: white url('../images/17life/b8css/item_l.png') top right repeat-y;
}

.items_pad {
	padding: 0 0 10px 0;
}

.items_tab_menu {
	float:left;
}

.items_tutorial {
	float:right;
}

.items_tutorial_link {
	display: block;
	background: transparent url('../images/17life/b8css/D03_Table_link.jpg') top right no-repeat;
	width: 155px;
	height: 23px;
}

.items_tab_menu_1,
.items_tab_menu_1_active {
	float:left;
	width:100px;
	height:37px;
	background:transparent url('../images/17life/b8css/B_Tag_1-2.jpg') top left no-repeat;
}

.items_tab_menu_1_active {
	background:transparent url('../images/17life/b8css/B_Tag_1-1.jpg') top left no-repeat;
}

.items_tab_menu_2,
.items_tab_menu_2_active {
	float:left;
	width:100px;
	height:37px;
	background:transparent url('../images/17life/b8css/B_Tag_2-2.jpg') top left no-repeat;
}

.items_tab_menu_2_active {
	background:transparent url('../images/17life/b8css/B_Tag_2-1.jpg') top left no-repeat;
}

.items_tab_menu_3,
.items_tab_menu_3_active {
	float:left;
	width:100px;
	height:37px;
	background:transparent url('../images/17life/b8css/B_Tag_3-2.jpg') top left no-repeat;
}

.items_tab_menu_3_active {
	background:transparent url('../images/17life/b8css/B_Tag_3-1.jpg') top left no-repeat;
}

.items_title {
	padding: 0 0 8px 1px;
}

.ib_list {
	width:100%;
	border-top:1px solid #ff9100;
	border-left:1px solid #ff9100; 
	border-right:1px solid #ff9100;
}

.ib_list td,
.ib_list th {
	background:#ffffe5;
	text-align:center;
	font-size:14px;
	padding: 3px;
}

.ib_list th {
	border-bottom:1px solid #ff9100;
}

.ib_list th.ib_line {
	border-right:1px solid #ff9100;
}

.ib_list th.ib_col_10 {
	width:10%;
}

.ib_list th.ib_col_50 {
	width:50%;
}

.ib_list th.ib_col_30 {
	width:30%;
}

.ib_list th.ib_col_20 {
	width:20%;
}

.ib_list th.ib_col_15 {
	width:15%;
}

.ib_list th.ib_col_5 {
	width:5%;
}

.ib_row_even td {
	background: #fff;
	font-weight:bold;
}

.ib_row_odd td {
	background: #fae6ee;
	font-weight:bold;
}

.ib_row_subtotal td {
	background: #fff;
}

.ib_list td.ib_data_col_c {
	text-align:center;
}

.ib_list td.ib_data_col_l {
	text-align:left;
}

.ib_list td.ib_data_col_r {
	text-align:left;
}

.ib_summary {
	background :#ffffe5 ;
	padding:0 0 8px; 
	border-left:1px solid #ff9100; 
	border-right:1px solid #ff9100;
} 

.ib_comments { 
	float: left;
	width: 545px;
	padding: 8px 0;
}

.ib_comments_row {
	padding: 0 0 8px 20px;
	margin: 0;
} 

.ib_comments_row span,
.ib_comments_row div,
.ib_comments_row select {
	float: left;
}  

div.ib_comments_title {
	width:113px;
}

.ib_comments_text {
	padding:2px 0; 
	width:385px;
}

.ib_comments_row .ib_remarks  {
	float:right; 
	padding: 0 8px 0;
}

.ib_grand_total {
	float: right;
	width: 200px;
	background: #fae6ef url('../images/17life/b8css/ibg_b.png') bottom left repeat-x;
	
} 

.ibg2 {
	background: transparent url('../images/17life/b8css/ibg_l.png') top left repeat-y;
}

.ibg3 {
	background: transparent url('../images/17life/b8css/B8_Table_Count_BG_2.jpg') bottom left no-repeat;
	
} 

.ib_grand_total_pad {
	padding:8px;
}

.ib_grand_total_title {
	text-align:right;
	width:50%;
}

.ib_grand_total_value {
	text-align:right;
	width:50%;
}

.ib_nav {
	padding:8px;
}

.ib_nav_continue {
	float:left;
	width:185px;
	height:45px;
	background: transparent url('../images/17life/b8css/D5_Btn_Back.gif') top left no-repeat;
}

.ib_nav_continue:hover {
	background: transparent url('../images/17life/b8css/D5_Btn_Back.gif') bottom left no-repeat;
}

.ib_nav_remarks {
	float:right;
	width:364px;
	text-align:center;
	padding:12px 0;
}

.ib_nav_checkout {
	float:right;
	width:185px;
	height:45px;
	background: transparent url('../images/17life/b8css/D6_Btn_Confirm.gif') top left no-repeat;
} 

.ib_nav_checkout:hover {
	background: transparent url('../images/17life/b8css/D6_Btn_Confirm.gif') bottom left no-repeat;
}

.thank_you { 
	padding: 12px 12px 12px 90px;
	background: transparent url('../images/17life/b8css/D7_Icon_person.jpg') 24px 24px no-repeat;
} 

.bullet_1 {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bullet_1 li { 
	padding: 0 0 8px 18px;
	background: transparent url('../images/17life/b8css/B8_Icon_yellow.jpg') left 3px no-repeat;
	line-height:18px; 
	font-size:16px;
	font-weight:bold;
}

.rbox_pad_750 { 	
	padding: 24px 1px 24px 24px;
	margin:0 auto 0 auto;
	width:725px;
}

.rbox6 {
	background: transparent url('../images/17life/b8css/rbox_tl.png') top left no-repeat;
}

.rbox5 {
	background: transparent url('../images/17life/b8css/rbox_tr.png') top right no-repeat;
}

.rbox4 {
	background: transparent url('../images/17life/b8css/rbox_bl.png') bottom left no-repeat;
}

.rbox3 {
	background: transparent url('../images/17life/b8css/rbox_br.png') bottom right no-repeat;
}

.rbox2 {
	background: transparent url('../images/17life/b8css/rbox_l.png') top left repeat-y;
}

.rbox1 {
	background: white url('../images/17life/b8css/rbox_l.png') top right repeat-y;
}

.remarks_1 {font-weight:bold;font-size: 14px;color: #F6014C;padding:12px 100px 12px 100px;text-align:center;}
.remarks_1 a,
.remarks_1 a:link, 
.remarks_1 a:visited {text-decoration:underline;color: #F6014C;}

.checkout_store_icon {
	width:80px;
}

.checkout_buttons {
	width:163px;
}

.checkout_messages {
	width:460px;
	padding: 0 0 8px 20px;
}

.checkout_messages p {
	padding:0 0 6px 0;
	margin:0;
	font-size:16px;
} 

.checkout_store_title  {
	padding:0;
	margin:0 0 16px 0;
	font-size:24px;
	font-weight:bold;
	border-bottom:1px solid #ccc;
}

.checkout_print,
.checkout_manage {
 
	display:block;
	width:163px;
	height:46px;
}

.checkout_print {
	background: transparent url('../images/17life/b8css/D7_Btn_detail.gif') top left no-repeat;
}

.checkout_print:hover {
	background: transparent url('../images/17life/b8css/D7_Btn_detail.gif') bottom left no-repeat;
}

.checkout_manage {
	background: transparent url('../images/17life/b8css/D7_Btn_manage.gif') top left no-repeat;
}

.checkout_manage:hover {
	background: transparent url('../images/17life/b8css/D7_Btn_manage.gif') bottom left no-repeat;
}

#bottom_ads 
{
	width:750px;
	margin: 0 auto 0 auto;
	text-align:center;
}

#bottom_ads_title {
	background:transparent url('../images/17life/b8css/pay_head.jpg') top right no-repeat;
	width:817px;
	height:38px;
}

#bottom_ads a {
	display:block;
}

#footer {
	text-align:center;
	padding: 16px 0 24px 0;
}

#footer p {
	padding: 3px 0 3px 0;
	margin: 0;
	font-size:11px;
	color:#666666;
}

#footer a {
	font-size:11px;
	color:#666666;
	text-decoration:none;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.taligncenter {
	text-align: center;
}

.talignleft {
	text-align: left;
}

.talignright {
	text-align: right;
}