body,
html {
	background:#ffecd9;
}

.box1p {
	background: white url('../images/17life/b8css/yellow/main_body.png') 50% top repeat-y;
}

.box2p {
	background: transparent url('../images/17life/b8css/yellow/main_bottom.png') 50% bottom no-repeat;
}

.box3p {
	background: transparent url('../images/17life/b8css/yellow/main_top.png') 50% top no-repeat;
}

#top_plurk {
	background: transparent url('../images/17Life/Facebook/Facebook_yellow.gif') 50% 50% no-repeat;
}

a.top_menu1 {
	background: transparent url('../images/17life/b8css/yellow/Top_B_icon_1.gif') left 50% no-repeat;
}

a.top_menu2 {
	background: transparent url('../images/17life/b8css/yellow/Top_B_icon_2.gif') left 50% no-repeat;
}

a.top_menu3 {
	background: transparent url('../images/17life/b8css/yellow/Top_B_icon_3.gif') left 50% no-repeat;
}

a.top_menu4 {
	background: transparent url('../images/17life/b8css/yellow/Top_B_icon_4.gif') left 50% no-repeat;
}

span.menu_sep {
	background: transparent url('../images/17life/b8css/yellow/Top_B_txt_Line.gif') 50% 50% no-repeat;
}
