﻿@charset "utf-8";
.Payment{
	width:940px;
	height:auto;
	margin:20px auto;
	float: left;
	background-color: #ECE7E4;
	border: 10px solid #FAFAFA;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	letter-spacing: 0.8px;
}
.Payment .Left-column {
	float: left;
	padding: 30px 20px;
	width:600px;
	color: #414141;
	letter-spacing: 0.8px;
}
.Payment .Left-column hr.Line{
	border-bottom: 1px solid #C8C8C8;
	border-top-style: none;
	margin: 15px 0px;
	background-color: #ECE7E4;
	width: 100%;
}
.Payment .Left-column h1 {
	font-family: "微軟正黑體";
	font-size: 24px;
	color: #414141;
	font-weight: normal;
	width: 620px;
	letter-spacing: 0.8px;
}
.Payment .Left-column ul.TaishiCardpay {
	list-style-type: none;
	background-attachment: scroll;
	background-image: url(TashiCreditCard.png);
	background-repeat: no-repeat;
	background-position: 400px 10px;
	margin: 0px;
	padding: 10px 0px 10px 100px;
	color: #414141;
}
.Payment .Left-column ul.TaishiCardpay li {
	letter-spacing: 0.8px;
	line-height: 35px;
	font-size: 15px;
}
.Payment .Left-column ul.TaishiCardpay li input {
	width: 50px;
	height:15px;
}
.Payment  .Left-column .Payment_NCCC {
	width:425px;
	height:368px;
	z-index:1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	background-repeat: no-repeat;
	top: 10px;
}
.Payment .Left-column p.SuccessTitle{
	font-family: "微軟正黑體";
	font-size: 24px;
	color: #414141;
	font-weight: normal;
	margin-top:70px;
}
.Payment .Left-column p.SuccessInfo{
	font-size: 13px;
	color: #414141;
	font-weight: normal;
	line-height: 22px;
}
.Payment .Left-column p.FailTitle{
	font-family: "微軟正黑體";
	font-size: 24px;
	color: #414141;
	line-height:28px;
	font-weight: normal;
	margin-top:50px;
}
.Payment .Left-column p.FailInfo{
	font-size: 13px;
	color: #414141;
	font-weight: normal;
	line-height: 22px;
	padding:0px;
	letter-spacing: 0.8px;
}
.Payment .Left-column ul.ATMpayTitle {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.Payment .Left-column ul.ATMpayTitle li {
	letter-spacing: 0.8px;
	line-height: 22px;
	font-size: 13px;
	margin-top: 20px;
}
.Payment .Left-column ul.ATMpay {
	list-style-type: none;
	margin: 30px 0px;
	padding: 0px;
	color:#B37B53;
	font-weight: normal;
}
.Payment .Left-column ul.ATMpay li {
	letter-spacing: 0.8px;
	line-height: 22px;
	font-size: 15px;
}
.Payment .Left-column ul.ATMnote {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.Payment .Left-column ul.ATMnote li {
	letter-spacing: 0.8px;
	font-size: 13px;
	line-height:22px;
}
.Payment .Right-column {
	float: right;
	height: 100%;
	padding: 15px 10px 20px;
	width: 280px;
	background: #D8C3B8;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	font-family: "微軟正黑體";
	min-height:360px;
}
.Payment .Right-AD {
	float: right;
	height: 450px;
	width: 300px;
	overflow: hidden;
/*	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);*/
}
.Payment .Right-column h1 {
	font-family: "微軟正黑體";
	font-size: 16px;
	color: #432E1E;
	font-weight: bolder;
	letter-spacing: 0.8px;
	padding: 15px 0px;
}
.Payment  .Right-column h2 {
	font-family: "微軟正黑體";
	font-size: 13px;
	color: #432E1E;
	letter-spacing: 0.8px;
	line-height: 22px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.Payment  .Right-column .GeoTru {
	width:115px;
	height:55px;
	z-index:1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	position: relative;
	top: 10px;
}
.Payment  .Right-column .HighLight_info {
	color:#fc7d49;
}
.Message { width:100%; text-align:center; color:#E12626; } 
.pay-evt-bg {
	width: 590px;
	border: 2px solid #CC0000;
	background: url('https://www.17life.com/images/17P/scratch-off-state-bg.jpg') no-repeat;
	box-shadow: 0 2px 3px rgba(0,0,0,0.25)
}
.pay-evt { 
	margin: 20px; 
	font-weight: 600;
	text-align: center;
}
.pay-evt .s-imp {
	font-size: 24px;
	color: #CC0000;
}