@charset "utf-8";
#Homapagemaincontent {
	width:600px;
	height:auto;
	z-index:1;
	margin-bottom: 15px;
	float: left;
	margin-top: 20px;
}
.HomepagePponareaTop {
	width:587px;
	height:60px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_24.jpg);
	background-repeat: no-repeat;
}

.HomepagePponareaContent{
	width:587px;
	height:auto;
	z-index:4;
	background-image: url(17LifeNewHomepagecontent.jpg);
	background-repeat: repeat;
}
.HomepagePponareaBottom {
	width:587px;
	height:10px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_32.jpg);
	background-repeat: no-repeat;
}
.HomePageMainPic {
	width:454px;
	height:253px;
	z-index:1;
	background-image: url(17LifeNewHomepage2_29.jpg);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}
.discount_min {
	width:80px;
	height:70px;
	z-index:5;
	background-image: url(ppon-M1_discount_min2.png);
	background-repeat: no-repeat;
	left: -16px;
	top: -32px;
	position: absolute;
}
.HomePagePponareaTitle {
	width:454px;
	height:auto;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.HomePagePponBtn {
	width:58px;
	height:28px;
	z-index:4;
	margin-top: 5px;
	padding-left: 5px;
	display: block;
	text-indent: -9999px;
	background-image: url(ppon-M1-sidedealbtn.jpg);
	background-repeat: no-repeat;
	margin-left:396px;
}
.HomePagePponBtn:hover {
	background-image: url(ppon-M1-sidedealbtnHov.jpg);
	border:0;
}
.HomepageShoparea {
	width:587px;
	height:auto;
	z-index:4;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.HomepageShopareaTop {
	width:587px;
	height:60px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_34.png);
	background-repeat: no-repeat;
}
.HomepageShopareaContent{
	width:587px;
	height:auto;
	z-index:4;
	background-image: url(17LifeNewHomepageContent2.jpg);
	background-repeat: repeat;
	float: left;
}
.HomepageShopareaBottom {
	width:587px;
	height:10px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_32.jpg);
	background-repeat: no-repeat;
	float: left;
}
.HomepageShopCategories {
	width:470px;
	height:auto;
	z-index:4;
	background-image: url(17LifeNewHomepage2_38.jpg);
	background-repeat: repeat;
	margin-top: 10px;
	margin-right: 50px;
	margin-bottom: 10px;
	margin-left: 50px;
	float: left;
}
.HomepageShoppic {
	width:154px;
	height:86px;
	z-index:4;
	background-image: url(loading154x86.gif);
	margin: 10px;
	float: left;
}
.HomePageshopinfo {
	width: 280px;
	float: left;
	margin-top: 10px;
	margin-right: 7px;
	letter-spacing: 0.1em;
	line-height: 25px;
	height: auto;
	margin-bottom: 7px;
}
.HomePageshopName{
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 17px;
	color: #F60;
	font-weight: bold;
	overflow:hidden;
	text-overflow:ellipsis;
	height: 22px;
	width: 220px;
}
.HomePageshopName a:link{color: #F60;}
.HomePageshopName a:visited{color: #F60;}
.HomePageshopName  a:hover{color: #F60;}
.HomePageshopName  a:active{color: #F60;}

.HomePageshopCategories{
	font-family: "微軟正黑體", "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	color: #0080C0;
	overflow: hidden;
	height: 22px;
	line-height: 22px;
}
.HomePageshopCategories  a:link{color: #0080C0;}
.HomePageshopCategories  a:visited{color: #0080C0;}
.HomePageshopCategories  a:hover{color: #0080C0;}
.HomePageshopCategories  a:active{color: #0080C0;}

.HomePageshopAdd{
	font-family: "微軟正黑體", "Arial Black", Gadget, sans-serif;
	font-size: 13px;
	color: #666;
	overflow: hidden;
	height: 21px;
	line-height: 21px;
}
.HomePageshopTel{
	font-family: "微軟正黑體", "Arial Black", Gadget, sans-serif;
	font-size: 13px;
	color: #666;
	overflow: hidden;
	height: 21px;
	line-height: 21px;
}
.HomeshopPage {
	width:470px;
	height:25px;
	z-index:4;
	clear: both;
	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 0px;
	margin-left: 50px;
	background-color: #e8decd;
}
.HomeshopPageLeft {
	width:25px;
	height:25px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_57.jpg);
	background-repeat: no-repeat;
	float: left;
}
.HomepageShoparea2{
	width:587px;
	height:auto;
	z-index:4;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.HomepageShopareaTop2 {
	width:587px;
	height:60px;
	z-index:4;
	background-image: url(17LifeNewHomeShopV.jpg);
	background-repeat: no-repeat;
}
.HomepageShopareaContent2{
	width:587px;
	height:auto;
	z-index:4;
	background-image: url(17LifeNewHomepagecontent.jpg);
	background-repeat: repeat;
	float: left;
	padding-bottom: 10px;
}
.HomepageShopareaBottom2 {
	width:587px;
	height:10px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_32.jpg);
	background-repeat: no-repeat;
	float: left;
	margin-bottom: 10px;
}.HomeshopPageNumber {
	width:360px;
	height:25px;
	z-index:4;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
}
.HomepageShopinner {
	width:476px;
	height:auto;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.HomePageRightarea {
	width:240px;
	height:auto;
	z-index:3;
	float: right;
	top: 0px;
	margin-top: 20px;
	margin-right: 0px;
	position: relative;
}
.HomepagePItemarea {
	width:237px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
}
.HomepagePItemTop {
	width:237px;
	height:46px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_23.jpg);
	background-repeat: no-repeat;
}
.HomepagePItemContent {
	width:237px;
	height:auto;
	z-index:4;
	background-image: url(17LifeNewSideContent.jpg);
	background-repeat: repeat;
}
.HomepagePItemBottom {
	width:237px;
	height:15px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_31.jpg);
	background-repeat: no-repeat;
	clear: both;
}
.HomePagesidedealbox {
	width:220px;
	height:auto;
	z-index:4;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12px;
	color: #333;
	font-family: "Arial Black", Gadget, sans-serif;
	padding-top:10px;
	overflow: hidden;
}
.HomePagesidedealbox a:link{color:#333;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}
.HomePagesidedealbox a:visited{color:#333; font-family: "Arial Black", Gadget, sans-serif;text-decoration: none; }
.HomePagesidedealbox a:hover{color:#333;font-family: "Arial Black", Gadget, sans-serif; text-decoration: underline; }
.HomePagesidedealboxa:active{color:#333;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}

.HomePagesiededeal_priceIMG {
	width:220px;
	height:90px;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.HomePagesidedealpricearea {
	width:63px;
	height:auto;
	z-index:4;
	float: right;
}
.HomePagesidedealprice {
	width:53px;
	height:26px;
	z-index:4;
	background-image: url(ppon-M1-sidedealpricearea.jpg);
	background-repeat: no-repeat;
	font-size: 14px;
	color: #FFF;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 24px;
}
.HomePagesidedealDiscount {
	width:53px;
	height:22px;
	z-index:4;
	background-image: url(ppon-M1-sidedealdiscount.jpg);
	background-repeat: no-repeat;
	font-size: 12px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
}
.HomePagesidedealbuybtn {
	width:58px;
	height:28px;
	z-index:4;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 5px;
	display: block;
	text-indent: -9999px;
	background-image: url(ppon-M1-sidedealbtn.jpg);
	background-repeat: no-repeat;
}
.HomePagesidedealbuybtn:hover {
	background-image: url(ppon-M1-sidedealbtnHov.jpg);
	border:0;
}
.HomePagesidedealimg {
	width:156px;
	height:84px;
	z-index:4;
	float: left;
}
.HomepageEasyFreearea {
	width:237px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
}
.HomepageEasyFreeTop {
	width:237px;
	height:46px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_33.jpg);
	background-repeat: no-repeat;
}
.HomepagePeautyarea {
	width:237px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
}
.HomepagePeautyTop {
	width:237px;
	height:46px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_40.jpg);
	background-repeat: no-repeat;
}

.HomePagepeautyareatitle {
	width:220px;
	height:60px;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 12px;
	color: #333;
	font-family: "Arial Black", Gadget, sans-serif;
	padding-top: 10px;
	overflow: hidden;
}
.HomePageareatitle a:link{color:#000;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}
.HomePageareatitle a:visited{color:#000; font-family: "Arial Black", Gadget, sans-serif;text-decoration: none; }
.HomePageareatitle a:hover{color:#000;font-family: "Arial Black", Gadget, sans-serif; text-decoration: underline; }
.HomePageareatitle a:active{color:#000;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}

.HomePagepeautyIMG {
	width:200px;
	height:127px;
	z-index:4;
	padding-right: 18px;
	padding-left: 18px;
}
.HomePagepeautyPBarea {
	width:240px;
	height:auto;
	z-index:4;
	padding-top: 10px;
}
.HomePagepeautyprice {
	width:55px;
	height:26px;
	z-index:4;
	background-image: url(ppon-M1-sidedealpricearea.jpg);
	background-repeat: no-repeat;
	font-size: 16px;
	color: #FFF;
	padding-left: 75px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 60px;
	background-position: 66px 1px;
	font-weight: bold;
}
.HomePagepeautybuybtn {
	width:100px;
	height:28px;
	z-index:4;
	padding-left: 5px;
	display: block;
	text-indent: -9999px;
	background-image: url(ppon-M1-sidedealbtn.jpg);
	background-repeat: no-repeat;
}
.HomePagepeautybuybtn:hover {
	background-image: url(ppon-M1-sidedealbtnHov.jpg);
	border:0;
}
.HomepageBestShoparea {
	width:237px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
}
.HomepageBestShopTop {
	width:237px;
	height:46px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_51.jpg);
	background-repeat: no-repeat;
}
.HomepageBestShopContent {
	text-align: center;
	width: 185px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.HomepageShoparea {
	width:587px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
}
.HomepageShopTop {
	width:237px;
	height:46px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_66.jpg);
	background-repeat: no-repeat;
}
.HomePageShopareatitle {
	width:210px;
	height:auto;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 14px;
	color: #333;
	font-family: "Arial Black", Gadget, sans-serif;
	padding-top: 10px;
}
.HomePageShopBtn {
	width:118px;
	height:48px;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	text-indent: -9999px;
	background-image: url(17LifeNewHomepage2_73-28.jpg);
	background-repeat: no-repeat;
}
.HomePageShopBtn:hover {
	background-image: url(17LifeNewHomepage2_73Hov.jpg);
	border:0;
}
.HomePageShopinnerIMG {
	width:237px;
	height:20px;
	z-index:4;
	background-image: url(17LifeNewHomepageShopinner.jpg);
}
.HomepageFacebookarea {
	width:237px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
	clear: both;
}
.HomepageFacebookTop {
	width:237px;
	height:46px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_72.jpg);
	background-repeat: no-repeat;
}
.HomepageFacebookContent {
	width:237px;
	height:auto;
	z-index:4;
	background-image: url(17LifeNewSideContent.jpg);
	background-repeat: repeat;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.HomepageShopTitle {
	width:476px;
	height:auto;
	z-index:4;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-size: 20px;
	color: #61452D;
	font-weight: bold;
}
