@charset "utf-8";

*html {
overflow: hidden;
zoom:1;
}
*html body {
	width:100%;
	position:relative;
	height: 100%;
	margin: 0 auto 0 auto;
	background-repeat: repeat;
	background: url(17LifeNewHomepage2_21.jpg);
	overflow:auto;
}

*html #wrap {
	width:100%;
	position:relative;
	height: 100%;
	margin: 0 auto 0 auto;
	background-repeat: repeat;
	background: url(17LifeNewHomepage2_21.jpg);
	overflow:auto;
}
*html .Cityarea  {
    position:absolute;
}
*html .HomePageRightarea {
	width:240px;
	height:auto;
	z-index:3;
	float: right;
	position: relative;
	top: 0px;
	margin-top: 20px;
	display:inline;
	margin-right: 0px;
}
