﻿<%@ Page Title="17Life" Language="C#"
    AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="LunchKingSite.Web._Default" %>

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
</body>
</html>
