﻿@using LunchKingSite.WebLib.Models.ISP
@model SevenEmapModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SevenEmap</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            if ('@Model.Display' == 'page' && document.referrer.indexOf('@Model.SiteUrl') < 0) {
                history.go(-1);
            }
            else if ('@Model.RedirectSevenMap' == 'True' && $("input[name=uid]").val() != "" && $("input[name=uid]").val() != undefined) {
                $("#emapform").submit();
            }
        });
    </script>
</head>
<body>
<form id="emapform" action="@Model.EmapUrl">
    <input name="uid" type="hidden" value="@Model.Uid" />
    <input name="eshopid" type="hidden" value="@Model.Eshopid" />
    <input name="servicetype" type="hidden" value="3" />
    <input name="url" type="hidden" value="@Model.Url" />
    <input name="tempvar" type="hidden" value="@Model.TempVar" />
    <input name="storeid" type="hidden" value="@Model.StoreId" />
    <input name="display" type="hidden" value="@Model.Display" />
    <input name="charset" type="hidden" value="utf-8" />
    <input name="hasoutside" type="hidden" value="4" />
</form> 
</body>
</html>
