﻿@{
    ViewBag.Title = "網站區塊內容編輯";
    Layout = "~/Views/Shared/BackendBootstrap4Layout.cshtml";


}
@section header {

    <script type="text/javascript" src="/Tools/ckeditor/ckeditor.js"></script>
    @*<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <style>
        .header-bar {
            display: flex;
            justify-content: space-between;
            justify-items: center;
        }

        .header-bar .btn-bar {
        }

        .header-bar .select-div {
            display: flex;
            justify-items: center;
        }

        .header-bar .select-div div {
            padding: .5rem;
        }

        .header-bar .select-div div select {
            padding: .3rem .5rem;
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.5);
            z-index: 50;
            display:none;
        }
    </style>
}
<div id="app" class="container-fluid" style="position:relative">
    <div class="card">
        <div class="card-header">
            <div class="header-bar">
                <div class="select-div">
                    <div style="padding-top:12px">
                        名稱
                    </div>
                    <div>
                        <select v-model="name">
                            <option value="新好友限定好康">新好友限定好康</option>
                        </select>
                    </div>
                    <div style="padding-top:12px">
                        {{desc}}
                    </div>                    
                    <div style="margin-left:16px; padding-left:12px; border-left:1px solid silver">
                        版本
                        <select v-model="version">
                            <option v-for="(o) in versions" :value="o.value">{{o.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="btn-bar">
                    <button class="btn btn-primary" v-on:click="saveData">儲存</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <textarea id="content"></textarea>
        </div>
    </div>
    <div class="overlay"></div>
</div>


@section footer {
    <script type="text/javascript">
        var api = {};
        api.loadData = function (name, version) {
            return axios.post('/api/webedit/loadPageBlock', {
                name: name,
                version: version
            })
        };
        api.saveData = function (name, content) {
            return axios.post('/api/webedit/savePageBlock', {
                name: name,
                content: content
            })
        };
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    name: '新好友限定好康',
                    version: '',
                    versions: [],
                    desc: '',
                    content: ''
                }
            },
            watch: {
                name: function (newVal) {
                    this.loadData();
                },
                version: function (newVal) {
                    this.loadData();
                }
            },
            methods: {
                loadData: function () {
                    console.log('load data ' + this.name);
                    const self = this;
                    api.loadData(this.name, this.version).then(function (res) {
                        if (res.data.success) {
                            self.content = res.data.content;
                            self.desc = res.data.desc;
                            self.versions = res.data.versions;
                            window.editor.setData(res.data.content);
                        }
                    }).catch(function (err) {
                        alert('error');
                    });
                },
                saveData: function () {
                    const self = this;
                    $(".overlay").show();
                    window.editor.setMode('wysiwyg');
                    api.saveData(this.name, this.content).then(function (res) {
                        if (res.data.success) {
                            if (res.data.message != null && res.data.message != '') {
                                alert(res.data.message);
                            } else {
                                alert('異動完成');
                            }
                            self.loadData();
                        } else {
                            alert('異動失敗');
                        }
                        $(".overlay").hide();
                    }).catch(function (err) {
                        alert('error');
                        $(".overlay").hide();
                    });
                }
            },
            mounted: function () {
                const self = this;
                console.log('mounted');
                $(document).ready(function () {
                    window.editor = CKEDITOR.replace('content');
                    window.editor.on('instanceReady', function () {
                        self.loadData();
                    });
                    window.editor.on('change', function () {
                        self.content = window.editor.getData();
                    });
                    window.editor.on('mode', function () {
                        if (this.mode === 'source') {
                            var editable = editor.editable();
                            editable.attachListener(editable, 'input', function () {
                                self.content = window.editor.getData();
                            });
                        }
                    });
                });                
            }
        });
    </script>
}