﻿@charset "utf-8";
/* CSS Document */

.DetectiveCenter {
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
	height: auto;
	padding-bottom: 25px;
	clear: both;
}
.DetectiveTopTit {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveAC_01.jpg);
	background-repeat: no-repeat;
	height: 490px;
	width: 900px;
	clear: both;
}
.DetectiveFB {
	height: 40px;
	width: 900px;
	float: left;
}
.DetectiveFBLeft {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveAC_02.jpg);
	background-repeat: no-repeat;
	height: 40px;
	width: 75px;
	float: left;
}
.DetectiveFBCen {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveAC_03.jpg);
	background-repeat: no-repeat;
	height: 35px;
	width: 566px;
	float: left;
	padding-left: 50px;
	padding-top: 5px;
}
.DetectiveFBRight {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveAC_04.jpg);
	background-repeat: no-repeat;
	height: 40px;
	width: 209px;
	float: left;
}
.DetectiveFBText {
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
	width: auto;
	float: left;
	margin-left: 5px;
	letter-spacing: 0.1em;
}
.DetectiveFBbtn {
	float: left;
	margin-right: 10px;
	margin-left: 7px;
	height: 23px;
	margin-top: 4px;
}
.DetectiveArrow {
	height: 14px;
	width: 25px;
	float: left;
	margin-top: 11px;
}
.DetectiveThreeStep {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveAC_11.gif);
	background-repeat: no-repeat;
	height: 372px;
	width: 900px;
	float: left;
}
.DetectiveBonus {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveAC_09.jpg);
	background-repeat: repeat;
	width: 900px;
	height: auto;
	float: left;
}
.DetectiveBonusLeft {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveAC_06.jpg);
	background-repeat: no-repeat;
	height: 152px;
	width: 44px;
	float: left;
}
.DetectiveBonusCen {
	font-family: "微軟正黑體";
	float: left;
	width: 820px;
	margin-top: 13px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #49372C;
}
.DetectiveBonusCenText{
	font-family: "微軟正黑體";
	background-color:#FF6A11;
	letter-spacing:0.1em;
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	margin-left: 5px;
}
.DetectiveBonusCen li{
	list-style-type: decimal;
	list-style-position: inside;
	font-size: 16px;
	font-family: "微軟正黑體";
	color: #FFF;
	margin-left: 5px;
	line-height: 35px;
}
.DetectiveBonusCen ol{
	font-size:18px;
	color: #FFF;
	font-weight: bold;
   
}
.DetectiveKey {
	height: 471px;
	width: 900px;
	margin-bottom: 25px;
	float: left;
}
.DetectiveBonusRightText {
	font-family: "微軟正黑體";
	font-size: 16px;
	font-weight: bold;
	color: #FF8A15;
	float: right;
	letter-spacing: 0.1em;
}
.DetectiveBonusRightText a:link{
	font-family: "微軟正黑體";
	color: #FF8A15;
	text-decoration: underline;
	font-weight: normal;
}
.DetectiveBonusRightText a:visited{
	font-family: "微軟正黑體";
	color: #FF8A15;
	text-decoration: underline;
	font-weight: normal;
}
.DetectiveBonusRightText a:hover{
	font-family: "微軟正黑體";
	color: #FF8A15;
	text-decoration: underline;
	font-weight: normal;
}
.DetectiveBonusRightText a:active{
	font-family: "微軟正黑體";
	color: #FF8A15;
	text-decoration: underline;
    font-weight: normal;
}
.DetectiveWDD {
	clear: both;
	height: auto;
	width: 900px;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
}
.DetectiveWDDTop {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveACJump_01.jpg);
	background-repeat: no-repeat;
	clear: both;
	height: 249px;
	width: 900px;
}
.DetectiveWDDCen {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveACJump_02.jpg);
	background-repeat: repeat;
	clear: none;
	width: 900px;
}
.DetectiveWDDBottom {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveACJump_04.jpg);
	background-repeat: no-repeat;
	clear: both;
	height: 32px;
	width: 900px;
	margin-bottom: 25px;
	margin-top: 0px;
	padding-top: 0px;
}
.DetectiveWDDText {
	font-family: "微軟正黑體";
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	width: 840px;
	margin-right: auto;
	margin-left: auto;
	letter-spacing: 0.1em;
	line-height: 27px;
	clear: both;
}
.DetectiveWDDText ol{
	font-family: "微軟正黑體";
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 0px;
}
.DetectiveWDDText li{
	font-family: "微軟正黑體";
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	list-style-position: inside;
}
.DetectiveNumberFrame {
	height: auto;
	width: 900px;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
}
.DetectiveNumberTop {
	clear: both;
	height: 378px;
	width: 900px;
}
.DetectiveNumberCen {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveNumber_02.jpg);
	background-repeat: no-repeat;
	clear: both;
	height: 151px;
	width: 900px;
}
.DetectiveNumberRecord {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveNumber_03.jpg);
	background-repeat: no-repeat;
	clear: both;
	height: 89px;
	width: 900px;
}
.DetectiveNumberTexBg {
	background-image: url(https://www.17life.com/images/17P/Detective/DetectiveNumber_04.jpg);
	background-repeat: repeat;
	clear: both;
	width: 900px;
	padding-bottom: 20px;
	padding-top: 25px;
}
.DetectivePn {
	height: auto;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}
.DetectiveNumberBottom {
	clear: both;
	height: 85px;
	width: 900px;
}
.DetectivePast {
	height: 42px;
	width: 550px;
	margin-right: 10px;
	clear: both;
}
.DetectivePastDate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FC0;
	letter-spacing: 0.1em;
	width: 190px;
	height: 40px;
	line-height: 35px;
	float: left;
}
.DetectiveNusss{
	width:200px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
	letter-spacing: 0.2em;
	line-height: 35px;
	height: 40px;
}
.DetectiveNuFr{
	width:580px;
	margin-right: auto;
	margin-left: auto;
	height: 140px;
	padding-top: 5px;
}
.DetectiveNuNu{
	width:100px;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 135px;
	line-height: 110px;
	color: #EC0000;
	text-align: center;
	margin-right: 7px;
	margin-left: 7px;
	height: 120px;
	font-weight: bolder;
}
.DetectiveYesNoPic {
	height: 400px;
	width: 700px;
}


.MultiLogin {
	position:relative;
	width:430px;
	margin:0 auto 0 auto;
}
.ML_Top {
	position:relative;
	width:430px;
	height:43px;
	background-image:url(../G1-8/ML_Title.png);
}
.ML_Content {
	position:relative;
	width:430px;
	background-image:url(../G1-8/ML_BG.png);
}
.MD {
	float:left;
	margin:5px 14px 4px;
	width:400px;
	height:40px;
	border:dashed 1px;
}
.B_Payeasy {
	border-color:#FE1174;
}
.B_Facebook {
	border-color:#637BAD;
}
.MD_Content {
	float:left;
	color:#333;
	font-size:14px;
}
.MD_Btn {
	float:right;
	width:165px;
	height:22px;
	margin:9px;
}
.ML_End {
	position:relative;
	width:430px;
	height:10px;
	background-image:url(../G1-8/ML_End.png);
}
.clear {
	clear:both;
}
.RDBawards {
	width:40px;
	height:44px;
	z-index:1;
	background-image: url(awards.png);
	background-repeat: no-repeat;
	float: right;
	margin-top: -25px;
}
