@charset "utf-8";
/* CSS Document */

.GuanyueBG {
	background-color: #600;
	background-repeat: no-repeat;
	height: auto;
	width: 960px;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
	padding-bottom: 20px;
}
.GuanyueTitle {
	background-image: url(Gaunyue-960X1450_01.jpg);
	background-repeat: no-repeat;
	height: 452px;
	width: 960px;
}
.GuanyueNumber {
	background-image: url(Gaunyue-960X1450_02.jpg);
	height: 224px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}
.GuanyueStep {
	background-image: url(Gaunyue-960X1450_03.jpg);
	height: 158px;
	width: 960px;
}
.GuanyueNumber {
}
.GuanyueText1 {
	height: 90px;
	width: 90px;
	font-size: 65px;
	font-style: normal;
	color: #F00;
	clip: rect(auto,auto,auto,auto);
	font-family: "微軟正黑體";
	font-weight: bold;
	margin-top: auto;
	margin-left: 155px;
	vertical-align: baseline;
	float: left;
	padding-top: 55px;
}
.GuanyueNumber1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 135px;
	color: #F00;
	font-weight: bold;
	width: 80px;
	float: left;
	text-align: center;
	height: 140px;
	margin-right: 7px;
	margin-left: 7px;
}
.GuanyueText2 {
	font-family: "微軟正黑體";
	font-size: 65px;
	font-weight: bold;
	color: #F00;
	float: left;
	width: 70px;
	padding-top: 55px;
	padding-bottom: 35px;
	padding-left: 15px;
}
.GuanyueSteo {
	background-image: url(Gaunyue-960X1450_03.jpg);
	height: 160px;
	width: 960px;
}
.GuanyueStep1 {
	font-size: 32px;
	color: #FFF;
	font-family: "微軟正黑體";
	font-weight: bold;
	padding-left: 60px;
}
.GuanyueStep2 {
	font-family: "微軟正黑體";
	font-size: 30px;
	font-weight: bold;
	color: #FFF;
	width: 190px;
	float: left;
}
.GuanyueStep2Good {
	background-image: url(FB_03.png);
	height: 23px;
	width: 44px;
	background-position: top;
	text-align: center;
	float: left;
	margin-top: 11px;
}
.GuanyueStep2Frame {
	height: 40px;
	width: 700px;
	padding-left: 175px;
	clear: both;
	margin-top: 8px;
}
.Guanyue6000 {
	/*background-image: url(fb_50000.png);*/
	background-repeat: no-repeat;
	height: 24px;
	width: 53px;
	float: left;
	margin-top: 11px;
	padding-right: 6px;
}
.GuanyueStep2-2 {
	width: 158px;
	float: left;
	font-family: "微軟正黑體";
	font-size: 20px;
	color: #FFF;
	font-weight: bold;
	padding-top: 5px;
}
.GuanyueGood2 {
	background-image: url(good.png);
	float: left;
	height: 23px;
	width: 42px;
	margin-top: 9px;
	padding-right: 6px;
	background-repeat: no-repeat;
}
.GuanyueStep3 {
	height: 50px;
	width: 700px;
	padding-left: 175px;
	clear: both;
}
.GuanyueStep3-1 {
	font-family: "微軟正黑體";
	font-weight: bold;
	font-size: 30px;
	color: #FFF;
	margin-top: 5px;
	width: 300px;
	float: left;
}
.GuanyueStep3-2 {
	background-image: url(fb_friend.png);
	float: left;
	height: 22px;
	width: 97px;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-left: 5px;
}
.GuanyueChange {
	background-image: url(Gaunyue-960X1450_04.gif);
	height: 576px;
	width: 960px;
}
.GuanyueScript {
	clear: both;
	height: auto;
	width: 960px;
}

#GuanyueTitle2 {
	height: auto;
	width: 830px;
	background-color: #F4FDFF;
	margin-right: auto;
	margin-left: auto;
	font-family: "微軟正黑體";
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-left-style: dashed;
	border-top-color: #600;
	border-right-color: #600;
	border-left-color: #600;
	color: #333;
	padding-top: 17px;
	padding-right: 20px;
	padding-bottom: 17px;
	padding-left: 20px;
	margin-top: 20px;
}
.GuanyueRecord {
	height: 35px;
	width: 295px;
	margin-top: 15px;
	margin-bottom: 18px;

}
.GuanyueRecordDate {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #600;
	height: auto;
	width: 130px;
	float: left;
}
.GuanyueText {
	width: auto;
	float: left;
	margin-left: 15px;
	font-family: "微軟正黑體";
	color: #666;
	
}
.Guanyueawards {
	width:40px;
	height:44px;
	z-index:1;
	background-image: url(awards.png);
	background-repeat: no-repeat;
	float: right;
	margin-top: -5px;
	
}
.GuanyueWinning {
	font-family: "微軟正黑體";
	float: right;
	color: #0073AA;
	font-size:14px;
	margin-top: -20px;
	
}
#GuanyueExample {
	font-family: "微軟正黑體";
	width: 830px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 15px;
	padding-left: 25px;
	background-color: #F4FDFF;
	clear: both;
	border: 2px dashed #09F;
	color: #666;
	margin-bottom: 30px;
	
	
}
.GuanyueYellAcMeasures{
	background-color:#600;
	font-family: "微軟正黑體";
	font-size: 26px;
	font-weight: bold;
	color: #FFF;
	padding-right: 8px;
	padding-left: 8px;
	line-height: 38px;
}
.GuanyueSamplewords {
	font-family: "微軟正黑體";
	font-size: 14px;
	font-weight: bold;
	color: #666;
	width: 800px;
	height: auto;
}
.MultiLogin {
	position:relative;
	width:430px;
	margin:0 auto 0 auto;
}
.ML_Top {
	position:relative;
	width:430px;
	height:43px;
	background-image:url(../G1-8/ML_Title.png);
}
.ML_Content {
	position:relative;
	width:430px;
	background-image:url(../G1-8/ML_BG.png);
}
.MD {
	float:left;
	margin:5px 14px 4px;
	width:400px;
	height:40px;
	border:dashed 1px;
}
.B_Payeasy {
	border-color:#FE1174;
}
.B_Facebook {
	border-color:#637BAD;
}
.MD_Content {
	float:left;
	color:#333;
	font-size:14px;
}
.MD_Btn {
	float:right;
	width:165px;
	height:22px;
	margin:9px;
}
.ML_End {
	position:relative;
	width:430px;
	height:10px;
	background-image:url(../G1-8/ML_End.png);
}
.clear {
	clear:both;
}
.GuanyueTitleCode {
	background-image: url(960X1400_title.jpg);
	background-repeat: no-repeat;
	height: 452px;
	width: 960px;
}
