@charset "utf-8";
#HinetContent {
}
.HinetBg {
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 25px;
	color: #333;
	text-decoration: none;
	background-image: url(pezbg.jpg);
	background-repeat: no-repeat;
	height: 1680px;
	width: 960px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	position: relative;
}
#HinetTitle1 {
	font-family: "微軟正黑體";
	font-size: 18px;
	text-decoration: none;
	background-image: url(pez1.jpg);
	background-repeat: no-repeat;
	height: 495px;
	width: 960px;
}
.DetectiveFBRight {
	background-image: url(pez5.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	float: left;
	position: absolute;
	left: 613px;
	top: 420px;
	margin: 0px;
}
.DetectiveFBCen {
	background-image: none;
	background-repeat: no-repeat;
	height: 30px;
	width: 250px;
	float: left;
	position: absolute;
	left: 637px;
	top: 416px;
	background-color: #3B5984;
}
.DetectiveFBText {
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
	width: 100px;
	float: left;
	letter-spacing: 0.1em;
	margin-top: -2px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}
.DetectiveArrow {
	height: 14px;
	width: 25px;
	float: left;
	margin-top: 8px;
}
.DetectiveFBbtn {
	float: left;
	margin-right: 10px;
	margin-left: 7px;
	height: 23px;
	margin-top: 2px;
}
#HinetTitle2 {
	background-image: url(pez2.jpg);
	background-repeat: no-repeat;
	height: 53px;
	width: 960px;
}
#pez4 {
	background-image: url(pez4.jpg);
	height: 646px;
	width: 960px;

}
#RDBNumber {
	height: 150px;
	width: 870px;
	background-image: url(peznumber.jpg);
	background-repeat: no-repeat;
	padding-top: 46px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.RDBNumber {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 80px;
	font-weight: bold;
	color: #FF3E84;
	text-align: center;
	height: 100px;
	width: 60px;
	float: left;
	background-color: #FFF;
	line-height: 100px;
	margin-right: 33px;
	margin-left: 30px;
	_margin-right: 9px;/*<ie6>*/
	_margin-left: 9px;/*<ie6>*/
}
.RDBText1{
	font-size: 40px;
	font-weight: bold;
	color: #FFF;
	height: auto;
	width: 40px;
	text-align: center;
	float: left;
	line-height: 50px;
	_line-height: 55px;/*<ie6>*/
	margin-top: 25px;
	margin-left: 79px;
	margin-right: 6px;
	_margin-left: 35px;/*<ie6>*/
	_margin-right: 18px;/*<ie6>*/
	font-family: "微軟正黑體";
}
.RDBText2{
	font-size: 40px;
	font-weight: bold;
	color: #FFF;
	height: auto;
	width: 50px;
	text-align: center;
	float: left;
	line-height: 50px;
	_line-height: 55px;/*<ie6>*/
	margin-top: 25px;
	margin-left: 10px;
	_margin-left: 24px;/*<ie6>*/
	font-family: "微軟正黑體";
}
.HinetFrame {
	width: 875px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	margin-bottom: -50px;
	clear: both;
	margin-top: auto;
}
#RDBExample {
	font-family: "微軟正黑體";
	width: 830px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 15px;
	padding-left: 25px;
	background-color: #FFFDFF;
	clear: both;
	border: 2px dashed #F9C;
	color: #F5A;
	font-weight: bold;
	
}
#RDBExample ol{
	list-style-type: none;
	color: #06F;
}
#RDBExample li{
	width: 820px;
	line-height: 30px;
	color: #333;
	font-family: "微軟正黑體";
}
#RDBExample P{
	line-height:30px;
	margin-top: 10px;
	color: #333;

}
.RDBYellAcMeasures{
	font-family: "微軟正黑體";
	font-size: 26px;
	font-weight: bold;
	color: #FFF;
	padding-right: 8px;
	padding-left: 8px;
	line-height: 38px;
	background-color: #FF55C8;
}
.BB {
	font-family: "微軟正黑體";
	font-size: 18px;
	color: #F5A;
	text-decoration: none;
}
.lHink {
	font-family: "微軟正黑體";
	font-size: 18px;
	color: #03F;
	text-decoration: underline;
}
.MultiLogin {
	position:relative;
	width:430px;
	margin:0 auto 0 auto;
}
.ML_Top {
	position:relative;
	width:430px;
	height:43px;
	background-image:url(../G1-8/ML_Title.png);
}
.ML_Content {
	position:relative;
	width:430px;
	background-image:url(../G1-8/ML_BG.png);
}
.MD {
	float:left;
	margin:5px 14px 4px;
	width:400px;
	height:40px;
	border:dashed 1px;
}
.B_Payeasy {
	border-color:#FE1174;
}
.B_Facebook {
	border-color:#637BAD;
}
.MD_Content {
	float:left;
	color:#333;
	font-size:14px;
}
.MD_Btn {
	float:right;
	width:165px;
	height:22px;
	margin:9px;
}
.ML_End {
	position:relative;
	width:430px;
	height:10px;
	background-image:url(../G1-8/ML_End.png);
}
.clear {
	clear:both;
}
.GuanyueTitleCode {
	background-image: url(960X1400_title.jpg);
	background-repeat: no-repeat;
	height: 452px;
	width: 960px;
}