@charset "utf-8";
#HinetContent {
}
#TaiTop {
	background-image: url(PEZ20110926_1.jpg);
	background-repeat: no-repeat;
	height: 692px;
	width: 960px;
}
#TaiTop2 {
	background-image: url(PEZ20110926_4.jpg);
	background-repeat: no-repeat;
	height: 593px;
	width: 960px;
}
.TainewBg {
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 25px;
	color: #333;
	text-decoration: none;
	background-image: url(PEZ0926bg.jpg);
	background-repeat: no-repeat;
	height: 2100;
	width: 960px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	position: relative;
}
.HinetFrame {
	width: 875px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	margin-bottom: 0px;
	clear: both;
	margin-top: auto;
	bottom: 30px;
}
#HinetecorTitle {
	height: auto;
	width: 836px;
	background-color: #FFF2E8;
	margin-right: auto;
	margin-left: auto;
	font-family: "微軟正黑體";
	padding: 17px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-left-style: dashed;
	border-top-color: #FFB13E;
	border-right-color: #FFB13E;
	border-left-color: #FFB13E;
}
.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
#RDBContent {
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 25px;
	color: #333;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 35px;
	height: auto;
	letter-spacing: 0.1em;
	float: none;
	background-image: url();
	background-repeat: repeat-y;
	margin-bottom: 40px;
}
.HinetContent {
	font-family: "微軟正黑體";
	font-size: 18px;
	line-height: 25px;
	color: #333;
	background-image: url(hinet_num1.jpg);
	background-repeat: no-repeat;
	margin-top: 35px;
	margin-left: auto;
	height: auto;
	width: 960px;
	margin-right: auto;
	margin-bottom: 40px;
}


#RDBCPIn {
	height: auto;
	width: 870px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -150px;
}
#RDBCPTitle1 {
	height: 262px;
	margin-bottom: 0px;
	width: 960px;
	margin-right: auto;
	margin-left: -45px;
}
#RDBCPTitle2 {
	height: 92px;
	width: 759px;
	margin-left: -45px;
}
#RDBNumber {
	height: 150px;
	width: 870px;
	background-image: url(hinet_num5.jpg);
	background-repeat: no-repeat;
	padding-top: 46px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
#RDBExplain {
	height: auto;
	background-color: #FFF2E8;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
}
#RDBExplain ol{
	margin-left: 25px;
}
#RDBExplain li{
	margin-left: 10px;
	margin-bottom: 6px;
	font-family: "微軟正黑體";
	font-size: 16px;
	font-weight: bold;
	color: #464646;	
}
#RDBExplain li a:link{
	color: #0073AA;
	text-decoration: underline;
	font-weight: normal;
	font-size: 12px;
}
#RDBExplain li a:visited{
	color: #0073AA;
	text-decoration: underline;
	font-weight: normal;
    font-size: 12px;
}
#RDBExplain li a:hover{
	color:#0073AA;
	text-decoration: underline;
	font-weight: normal;
    font-size: 12px;
}
#RDBExplain li a:active{
	color:#0073AA;
	text-decoration: underline;
    font-weight: normal;
	font-size: 12px;
}
#RDBFB {
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 40px;
	padding-left: 150px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #069;
	width: auto;
	clear: both;
}

#RDBRecorTitle {
	height: auto;
	width: 830px;
	background-color: #F4FDFF;
	margin-right: auto;
	margin-left: auto;
	font-family: "微軟正黑體";
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-left-style: dashed;
	border-top-color: #AE957F;
	border-right-color: #AE957F;
	border-left-color: #AE957F;
	color: #333;
	padding-top: 17px;
	padding-right: 20px;
	padding-bottom: 17px;
	padding-left: 20px;
}
.RDBRecord {
	height: 35px;
	width: 295px;
	margin-top: 15px;
	margin-bottom: 18px;
}
.RDBRecordDate {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #F60;
	height: auto;
	width: 130px;
	float: left;
}
.RDBRecordText {
	width: auto;
	float: left;
	margin-left: 15px;
	font-family: "微軟正黑體";
	color: #666;
}
#RDBExample {
	font-family: "微軟正黑體";
	width: 830px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 15px;
	padding-left: 25px;
	background-color: #F4FDFF;
	clear: both;
	border: 2px dashed #AE957F;
	color: #333;
	
}
#RDBExample ol{
	list-style-type: none;
	color: #06F;
}
#RDBExample li{
	width: 820px;
	line-height: 30px;
	color: #333;
	font-family: "微軟正黑體";
}
#RDBExample P{
	line-height:30px;
	margin-top: 10px;
	color: #333;

}
.RDBNumber {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 80px;
	font-weight: bold;
	color: #F30;
	text-align: center;
	height: 100px;
	width: 50px;
	float: left;
	background-color: #FFF;
	line-height: 100px;
	margin-right: 33px;
	margin-left: 30px;
	_margin-right: 9px;/*<ie6>*/
	_margin-left: 9px;/*<ie6>*/
}
.RDBText1{
	font-size: 40px;
	font-weight: bold;
	color: #FFF;
	height: auto;
	width: 40px;
	text-align: center;
	float: left;
	line-height: 50px;
	_line-height: 55px;/*<ie6>*/
	margin-top: 25px;
	margin-left: 79px;
	margin-right: 6px;
	_margin-left: 35px;/*<ie6>*/
	_margin-right: 18px;/*<ie6>*/
	font-family: "微軟正黑體";
}
.RDBText2{
	font-size: 40px;
	font-weight: bold;
	color: #FFF;
	height: auto;
	width: 50px;
	text-align: center;
	float: left;
	line-height: 50px;
	_line-height: 55px;/*<ie6>*/
	margin-top: 25px;
	margin-left: 10px;
	_margin-left: 24px;/*<ie6>*/
	font-family: "微軟正黑體";
}
#RDBLifeFans {
	height: 25px;
	width: auto;
	float: left;
	font-size: 14px;
	margin-right: 10px;
	padding-top: 3px;
}
.RDBLifeText {
	height: 25px;
	width: auto;
	float: left;
	color: #069;
	font-size: 16px;
	margin-right: 10px;
	font-weight: bold;
}
#RDBShareFriends {
	height: 25px;
	width: auto;
	float: left;
	padding-top: 3px;
}
#RDBFans {
	height: 30px;
	margin-top: 15px;
	margin-bottom: 5px;
	float: left;
	width: 600px;
}
#RDBShareFriendsIn {
	float: left;
	height: auto;
	width: 600px;
	margin-top: 5px;
}
.RDBRed{
	color:#F00;
	font-weight:bold;
	font-size: 18px;
	font-family: "微軟正黑體";
}
.RDBYellow{
	background-color:#F9F900;
	font-family: "微軟正黑體";
	font-size: 18px;
	font-weight: bold;
}
.RDBYellAcMeasures{
	background-color:#F60;
	font-family: "微軟正黑體";
	font-size: 26px;
	font-weight: bold;
	color: #FFF;
	padding-right: 8px;
	padding-left: 8px;
	line-height: 38px;
}
#RDBContentIn {
	background-image: url(RiceDumplingsBonus1Cen.png);
	background-repeat: repeat-y;
	width: 960px;
	padding-top: 15px;
}
#RDBContentbottom {
	background-repeat: no-repeat;
	height: 56px;
	width: 960px;
}
#RDBpic {
	height: 185px;
	width: 205px;
	float: right;
	margin-right: -5px;
}
.RDBawards {
	width:40px;
	height:44px;
	z-index:1;
	background-image: url(awards.png);
	background-repeat: no-repeat;
	float: right;
	margin-top: -5px;
}
#Nbp_end-btn {
	height: 85px;
	width: 509px;
	position: relative;
	z-index: 1;
	left: 55px;
	bottom: 130px;
	margin-bottom: -85px;
}
.RDBContentTopBg {
	background-image: url(RiceDumplingsBonustop_02.png);
	background-repeat: no-repeat;
	height: 126px;
	width: 960px;
}
.RDBRecordFrame {
	width: 876px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -95px;
	margin-bottom: -50px;
	clear: both;
}

.RDBLittleReminder {
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #FF6B09;
	float: left;
	margin-top:-1px;
}
.RDBLittleReminder img{
	margin-top: 3px;
	margin-bottom:-5px;
	margin-left:3px;
	margin-right:3px;
}
.RDBWinning {
	font-family: "微軟正黑體";
	float: right;
	color: #0073AA;
	font-size:14px;
	margin-top: -20px;
}
.RDBWinning a:link{
	font-family: "微軟正黑體";
	color: #0073AA;
	text-decoration: underline;
	font-weight: normal;
}
.RDBWinning a:visited{
	font-family: "微軟正黑體";
	color: #0073AA;
	text-decoration: underline;
	font-weight: normal;
}
.RDBWinning a:hover{
	font-family: "微軟正黑體";
	color:#0073AA;
	text-decoration: underline;
	font-weight: normal;
}
.RDBWinning a:active{
	font-family: "微軟正黑體";
	color:#0073AA;
	text-decoration: underline;
    font-weight: normal;
}
#HinetMark {
	font-family: "微軟正黑體";
	font-size: 20px;
	font-weight: bold;
	color: #F00;
	text-decoration: none;
}
.RED {
	color: #F00;
	font-family: "微軟正黑體";
}

#PEZFriends {
	height: 25px;
	width: auto;
	float: left;
	padding-top: 580px;
	padding-left: 75px;
}

#PEZFans {
	height: 25px;
	width: 150px;
	float: left;
	font-size: 14px;
	margin-right: 10px;
	padding-top: 580px;
	padding-left: 395px;
}

.BB {
	font-family: "微軟正黑體";
	font-size: 18px;
	color: #F60;
	text-decoration: none;
}

#Tainumber {
	width: 960px;
	background-image: url(PEZ20110926_2.jpg);
	background-repeat: no-repeat;
	padding-top: 80px;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
	padding-left: 15px;
}
