﻿li
{
    list-style-type: none;
    height: 35px;
}
.spantitle
{
    padding-right: 10px;
    padding-left: 15px;
    width: 100px;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #696969;
    text-align: right;
}
.secondcolumn
{
    float: right;
    margin-right: 270px;
}
.highlight_tr
{
    background-color: #efe0cb;
}
.pager
{
    overflow: hidden;
    padding-top: 1em;
    float: right;
}
.pager li
{
    float: left;
    font-size: 12px;
    list-style-type: none;
    margin-right: 0.3em;
}
.disabled
{
    text-decoration: line-through;
    color: #FF9182;
}
fieldset a:link
{
    font-weight: bolder;
    color: #cd5c5c;
    text-decoration: none;
}
fieldset a:visited
{
    font-weight: bolder;
    color: #cd5c5c;
    text-decoration: none;
}
fieldset input[type="text"]
{
    background-color: #F3EDE2;
    border-color: #B9955E #C4A577 #C4A577 #B9955E;
    border-style: solid dashed dashed solid;
    border-width: 1px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    height: 17px;
    text-align: left;
    text-indent: 5px;
    width: 250px;
    margin-right: 10px;
    margin-left: 10px;
}
fieldset
{
    background-color: #D8D8EB;
    border: 3px solid #778899;
    margin-top: 15px;
    margin-bottom: 10px;
}
legend
{
    background-color: #778899;
    color: White;
    font-weight: bold;
    border: 2px solid #c0c0c0;
    margin: 0px 5px 0px 5px;
    padding: 0px 10px 0px 10px;
}
.tablehead
{
    text-align: center;
    background-color: #696969;
    font-weight: bold;
    border: 3px solid #f5f5f5;
    color: White;
}
.tablecontent
{
    background-color: #f5f5f5;
    width: 100%;
}
.tablecontent td
{
    padding-left: 10px;
    font-size: 13px;
}
.oddtr
{
    background-color: #BEBEBE;
}
.title
{
    background-color: #778899;
    color: White;
    font-weight: bold;
    border: 2px solid #c0c0c0;
    margin: 0px 5px 0px 5px;
    padding: 0px 10px 0px 10px;
}
.wordcount
{
    color: Gray;
    margin-left: 10px;
}
.redcolor
{
    color: Red;
}
.cbx_margin
{
    margin-left: 130px;
}
.cbx_font label
{
    font-size: small;
    font-weight: normal;
}
.floattitle
{
    font-size: small;
    font-weight: bolder;
    color: Gray;
    margin-left: 650px;
    display: none;
}
.displaynone
{
    display: none;
}
.approve
{
    color: Green;
    background-color: Orange;
}
.approve:hover
{
    color: White;
    background-color: Green;
}
.return
{
    color: Black;
    background-color: Gray;
}
