﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ControlRoom/backend.master" AutoEventWireup="true" CodeBehind="refunPcash.aspx.cs" Inherits="LunchKingSite.Web.ControlRoom.Order.refunPcash" %>
<asp:Content ID="Content1" ContentPlaceHolderID="SSC" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<table>
    <tr>
        <td>
            transId,authcode,amount
        </td>
    </tr>
    <tr>
        
        <td><asp:TextBox ID="txtData" runat="server" TextMode="MultiLine" Height="255px" 
                Width="406px"></asp:TextBox></td>
        
    </tr>
    <tr>
        <td  align="center">
            <asp:Button ID="btnRun" runat="server" Text="執行" onclick="btnRun_Click" />
        </td>
    </tr>
    <tr>
        <td>
            <asp:Label ID="lblresult" runat="server" Text=""></asp:Label>
        </td>
    </tr>
</table>
</asp:Content>
