@charset "utf-8";

.HelpMailArea {
	width:710px;
	height:auto;
	z-index:4;
	background-repeat: no-repeat;
	margin-top: 20px;
}
.HelpMailTop {
	width:710px;
	height:70px;
	z-index:4;
	background-image: url(YahooHelpEmailTop.jpg);
}
.HelpMailDetai1Content {
	width:590px;
	height:auto;
	z-index:4;
	background-color: #84BB4D;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: 1px solid #690;
	padding: 5px;
	color: #FFF;
	font-size: 17px;
	text-align: center;
}
.HelpMailContent {
	width:710px;
	height:auto;
	z-index:4;
	background-image: url(HelpEmailBackground.jpg);
	background-repeat: repeat;
}
.HelpMailGmailContent {
	width:710px;
	height:853px;
	z-index:4;
	background-image: url(GmailHelpEmailContent.jpg);
}
.HelpMailHotmailContent {
	width:710px;
	height:1449px;
	z-index:4;
	background-image: url(HotmailHelpEmailContent.jpg);
}
.HelpMailPchomeContent {
	width:710px;
	height:1003px;
	z-index:4;
	background-image: url(PchomeHelpEmailContent.jpg);
}
.HelpMailOutlookContent {
	width:710px;
	height:2130px;
	z-index:4;
	background-image: url(OutlookHelpEmailContent.jpg);
}
.HelpMailDetail {
	width:710px;
	height:auto;
	z-index:4;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(HelpEmailDetailBackground.jpg);
	background-repeat: repeat-y;
}
.HelpMailDetail a:link{text-decoration: none;color:#FFF;font-weight: bold;}
.HelpMailDetail a:visited{text-decoration: none;color:#FFF; font-weight: bold;}
.HelpMailDetail a:hover{text-decoration: underline;color:#FFF; font-weight: bold;}
.HelpMailDetail a:active{color:#FFF;text-decoration: none; font-weight: bold;}

.HelpMailBottom {
	width:710px;
	height:67px;
	z-index:4;
	background-image: url(YahooHelpEmailBottom.jpg);
}

.ChooseMailarea {
	width:240px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
	margin-top: 20px;
}
.ChooseMailTop {
	width:240px;
	height:47px;
	z-index:4;
	background-image: url(HelpEmail_05.jpg);
	background-repeat: no-repeat;
}
#ChooseMailContent {
	width:220px;
	height:auto;
	z-index:4;
	background-image: url(HelpEmail_08.jpg);
	background-repeat: repeat;
	padding: 10px;
}
#ChooseMailContent ul {
	margin: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#ChooseMailContent li {
	list-style-type: none;
	padding:3px;
	color: #000;
}

.ChooseMailGreen{
	background-color: #79AF43;
	color: #FFF;
}
#ChooseMailContent a {
	color:#333;
	text-decoration:none;
} 
#ChooseMailContent a:hover { 
  text-decoration:none; 
} 
.conbgn { 
  background-color:#FFF; 
  padding:4px; 
} 

.conbgn:hover {
	background-color:#DBDBDB;
	color:#FFFFFF;
} 
#ChooseMailContent ul { 
  margin:0; 
  padding:0; 
} 

#ChooseMailContent ul.nav { 
  list-style:none; 
  color:#FFFFFF; 
} 

#ChooseMailContent li.linav { 
 color:#FFFFFF; 
} 

#ChooseMailContent li.linav:hover { 
color:#FFFFFF !important; 
} 

#ChooseMailContent li { 
  margin:0px; 
  padding:3px; 
} 

#ChooseMailContent li a { 
  text-decoration:none; 
   padding:3px; 
} 

#ChooseMailContent li a:hover { 
text-decoration:none; 
color}

.ChooseMailBottom {
	width:240px;
	height:15px;
	z-index:4;
	background-image: url(HelpEmail_10.jpg);
	background-repeat: no-repeat;
}
.HelpMailStep {
	width:590px;
	height:auto;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 10px;
	font-size: 14px;
}
HelpMailStepContent {
	width:710px;
	height:auto;
	z-index:4;
}
.HelpMailsimplifyTop {
	width:710px;
	height:70px;
	z-index:4;
	background-image: url(help_email_simplify_06.jpg);
}
.HelpMailsimplifyArea {
	width:710px;
	height:auto;
	z-index:4;
	background-repeat: no-repeat;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.HelpMailsimplifyBottom {
	width:710px;
	height:18px;
	z-index:4;
	background-image: url(help_email_simplify_14.jpg);
	margin-bottom: 20px;
}
