body
{
	background-color: #fff0d4;
	margin-left: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
}

td.leftpanel
{
	background-color: #FED7AC;
	width: 15%;
	vertical-align: top;
}

/*CollapsiblePanel*/
.collapsePanel {
	
	background-color:#FED7AC;
	overflow:hidden;
	margin-left: 5px;
	margin-right: 5px;	
	width:90%;	
}

.collapsePanelHeader{
	width:90%;
	height:30px;
	background-repeat:repeat-x;
	background-color:#FFC887;
	font-weight:bold;
	margin-left: 5px;
	margin-right: 5px;
}

#master_content .collapsePanelHeader a {color:#FFF;}
#master_content .collapsePanelHeader a:hover {text-decoration:none;background:none;}

.emtext
{
    font-weight: bold;
    color: red;
}

td.lbl
{
    background-color: #CCCCCC;
}

.bpbig
{
    font-size: x-large;
    color: red;
    font-weight: bold;
}

.header
{
    font-size: large;
    font-weight:bold;
}

.bigblue
{
    font-size: x-large;
    color: blue;
    font-weight: bold;
}

.largeblue
{
    font-size: large;
    color: blue;
    font-weight: bold;
}

.ab_b
{
    font-weight: bold;
    color: blue;
}

.ab_g
{
    font-weight: bold;
    color: green;
}

.ab_r
{
    font-weight: bold;
    color: red;
}

.wrapper-text {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}