﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ControlRoom/backend.master" AutoEventWireup="true" CodeBehind="MongoSynchronous.aspx.cs" Inherits="LunchKingSite.Web.ControlRoom.MongoSynchronous" %>
<asp:Content ID="Content1" ContentPlaceHolderID="SSC" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <table style=" border-width:1px;">
        <tr>
            <td>
                MongoDB店家資料(Seller)：
            </td>
            <td>
                <asp:Button id="btnMongoSelelr" runat="server" text="同步" 
                    onclick="btnMongoSelelr_Click" />
            </td>
        </tr>
    </table>
</asp:Content>
