﻿@using LunchKingSite.Core.Models
@using LunchKingSite.DataOrm
@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <script type="text/javascript" src="~/Tools/ckeditor/jquery.query-2.1.7.js"></script>
    <script type="text/ecmascript">
        $(document).ready(function () {
            if ('@ViewBag.Branch.Id' == '0') {
                BindBankInfo();
            }
        });

        function BindBankInfo() {
            $('#bankNo').val($('#selBankInfo').val());
            $('#bankName').val($.trim($('#selBankInfo').find(":selected").text().replace($('#selBankInfo').val(), '')));
        }

        function dataCheck() {
            if ($('[name=branchNo]').val() == '') {
                alert('請輸入分行代碼!!');
                return false;
            } else if ($('[name=branchName]').val() == '') {
                alert('請輸入分行名稱!!');
                return false;
            } else if ($('[name=telephone]').val() == '') {
                alert('請輸入分行電話!!');
                return false;
            } else if ($('[name=address]').val() == '') {
                alert('請輸入分行地址!!');
                return false;
            } else if ($.trim($('[name=branchNo]').val()).length != 4) {
                alert('分行代碼應為4碼!!');
                return false;
            }
            return true;
        }
    </script>
}
<form class="form-horizontal" role="form" method="post" action="?id=@ViewBag.Branch.Id">
    <div class="panel panel-primary top-buffer-sm padding-xs">
        <div class="panel-body">
            <div class="col-md-11">
                <p>
                    <a href="@Url.Action("BankInfoList", new { bankNo = ViewBag.Branch.BankNo, search = ViewBag.Branch.BranchNo })">
                        <input type="button" value="回分行列表" class="btn btn-info btn-s" />
                    </a>
                </p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        銀行-分行 資料編輯
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">銀行</label>
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" name="id" value="@ViewBag.Branch.Id" />
                                @if (ViewBag.Branch.Id == 0)
                                {
                                    <select id="selBankInfo" class="form-control" onchange="BindBankInfo()">
                                        @foreach (BankInfo bank in ViewBag.Banks)
                                        {
                                            <option value="@bank.BankNo">@bank.BankNo @bank.BankName</option>
                                        }
                                    </select>
                                    <input type="text" class="form-control" id="bankNo" name="bankNo" value="@ViewBag.Branch.BankNo" style="display: none;" />
                                    <input type="text" class="form-control" id="bankName" name="bankName" value="@ViewBag.Branch.BankName" style="display: none;" />
                                }
                                else
                                {
                                    <div class="col-md-4" style="padding-left: 0px;">
                                        <input type="text" class="form-control" id="bankNo" name="bankNo" value="@ViewBag.Branch.BankNo" disabled="disabled" />
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="bankName" name="bankName" value="@ViewBag.Branch.BankName" disabled="disabled" />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">分行代碼</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="branchNo" value="@ViewBag.Branch.BranchNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">分行名稱</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="branchName" value="@ViewBag.Branch.BranchName">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">分行電話</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="telephone" value="@ViewBag.Branch.Telephone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">分行地址</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="address" value="@ViewBag.Branch.Address">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary" onclick="return dataCheck();">SAVE</button>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
                            {<div class="col-md-9">
                                <div class="alert alert-danger" style="padding: 8px">
                                    @ViewBag.ErrorMessage
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
