﻿@using LunchKingSite.Core.Models
@using LunchKingSite.DataOrm
@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <script type="text/javascript" src="~/Tools/ckeditor/jquery.query-2.1.7.js"></script>
    <script type="text/ecmascript">
        $(document).ready(function () {
            if ('@ViewBag.Branch.Id' == '0') {
                BindBankInfo();
            }
        });

        function BindBankInfo() {
            $('#bankNo').val($('#selBankInfo').val());
            $('#bankName').val($.trim($('#selBankInfo').find(":selected").text().replace($('#selBankInfo').val(), '')));
        }

        function dataCheck() {
            if ($('[name=bankNo]').val() == '') {
                alert('請輸入銀行代碼!!');
                return false;
            } else if ($('[name=bankName]').val() == '') {
                alert('請輸入銀行名稱!!');
                return false;
            } else if ($('[name=telephone]').val() == '') {
                alert('請輸入銀行電話!!');
                return false;
            } else if ($('[name=address]').val() == '') {
                alert('請輸入銀行地址!!');
                return false;
            } else if ($.trim($('[name=bankNo]').val()).length != 3) {
                alert('銀行代碼應為3碼!!');
                return false;
            }
            return true;
        }
    </script>
}
<form class="form-horizontal" role="form" method="post" action="?id=@ViewBag.Branch.Id">
    <div class="panel panel-primary top-buffer-sm padding-xs">
        <div class="panel-body">
            <div class="col-md-11">
                <p>
                    <a href="@Url.Action("BankInfoList", new { bankNo = ViewBag.Branch.BankNo, search = ViewBag.Branch.BranchNo })">
                        <input type="button" value="回分行列表" class="btn btn-info btn-s" />
                    </a>
                </p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        銀行 資料編輯
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">銀行代碼</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="bankNo" value="@ViewBag.Branch.BankNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">銀行名稱</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="bankName" value="@ViewBag.Branch.BankName">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">銀行電話</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="telephone" value="@ViewBag.Branch.Telephone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">銀行地址</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="address" value="@ViewBag.Branch.Address">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary" onclick="return dataCheck();">SAVE</button>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
                            {<div class="col-md-9">
                                <div class="alert alert-danger" style="padding: 8px">
                                    @ViewBag.ErrorMessage
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
