﻿@using LunchKingSite.DataOrm
@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <script type="text/javascript" src="~/Tools/ckeditor/jquery.query-2.1.7.js"></script>
    <script type="text/ecmascript">
        $(document).ready(function () {
            var bankNo = '@Request["bankNo"]';
            var search = '@Request["search"]';
            $('#bankNo').val(bankNo);
            $('#search').val(search);
        });
    </script>
}
<form class="form-horizontal" role="form">
    <div class="panel panel-primary top-buffer-sm padding-xs">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-4">
                    <select name="bankNo" id="bankNo" class="form-control">
                        @foreach (BankInfo bank in ViewBag.Banks)
                        {
                            <option value="@bank.BankNo">@bank.BankNo @bank.BankName</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                    <input name="search" type="text" id="search" class="form-control" placeholder="請填入分行代碼">
                </div>
                <div class="col-sm-1">
                    <input type="submit" value="搜尋" class="btn btn-default btn-s" id="SearchBtn" />
                </div>
                <div class="col-sm-1">
                    <a href="@Url.Action("BankInfoEdit", new { id = 0 })">
                        <input type="button" value="新增分行" class="btn btn-warning btn-s" />
                    </a>
                </div>
                <div style="float:right;margin-right:65px;">
                        <a href="@Url.Action("BankEdit", new { id = 0 })">
                            <input type="button" value="新增銀行" class="btn btn-warning btn-s" />
                        </a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-11">
                    <table class="table table-striped">
                        <thead>
                            <tr class="success">
                                <td style="width: 30%">分行代碼</td>
                                <td style="width: 60%">分行名稱</td>
                                <td style="width: 10%"></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (BankInfo branch in ViewBag.Branches)
                            {
                                <tr>
                                    <td>@branch.BranchNo</td>
                                    <td>@branch.BranchName</td>
                                    <td>
                                        <a href="@Url.Action("BankInfoEdit", new { id = branch.Id })">
                                            <input type="button" class="btn btn-default btn-xs" value="編輯" />
                                        </a>
                                    </td>
                                </tr>
                            }
                            @if (ViewBag.Branches.Count == 0)
                            {
                                <tr>
                                    <td colspan="3">沒有符合的資料。</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
