﻿@using LunchKingSite.BizLogic.Models.API
@model ApiChoiceDealSettingModel
@{
    ViewBag.Title = "今日精選設定";
    Layout = "~/Views/Shared/BackendBootstrap4Layout.cshtml";

}

<h2>今日精選設定</h2>

<div id="app" class="container-fluid"
     style="background-color:Ivory ;padding:10px 40px 40px 50px;border-radius:10px">
    <div class="row">
        <div class="col-10">
            <h3>
                首頁檔次總數設定 <input type="text" name="fname" v-model="totalCount">
            </h3>
            <span style="color: red">(每整點執行自動排序)</span>
            <ol>
                <li v-for="(item, key) in items">
                    <input type="text" v-model="item.ChannelId">
                    <input type="number" v-model="item.TakeCount" placeholder="請輸入排序檔次數量">
                    <input type="button" name="del" value="刪除" v-on:click="removeData(key)" />
                </li>                
            </ol>            
            <div style="margin-left:40px; margin-top:50px">
                <input type="text" v-model="newChannelId" />
                <input type="text" v-model="newCnt" placeholder="請輸入排序檔次數量" />
                <input type="button" v-on:click="newItem()" value="新增" />
            </div>
           
            <div style="text-align:center;margin-top:30px">
                <input type="button" v-on:click="save()" value="儲存變更" />
            </div>
        </div>
    </div>
</div>

@section footer{
    <script type="text/javascript">
        var app = new Vue({
            el: "#app",
            data: function () {
                return {
                    items: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ChannelList)),
                    newChannelId: '',
                    newCnt: '',
                    totalCount: @Model.TotalCount,
                }
            },
            watch: {
            },
            methods: {
                removeData: function (key) {
                    this.items.splice(key, 1);
                },
                newItem: function () {
                    if (this.newChannelId == '' || this.newCnt == '' || this.newCnt == 0) {
                        alert('請先將先前的項目填好填滿，再來按新增項目');
                        return;
                    }
                    this.items.push({ ChannelId: this.newChannelId, TakeCount: this.newCnt });
                    this.newChannelId = '';
                    this.newCnt = '';
                },
                save: function () {
                    axios.post("SaveChoiceDealSetting", {
                        totalCount: this.totalCount,
                        channelList: this.items
                    }).then(function (response) {
                        alert('更新完成');
                        window.location.reload();
                    }).catch(function (error) {
                        console.log('error: ' + error);
                        alert('error');
                    });                    
                }
            }
        });
    </script>
}
