﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@{
    ViewBag.Title = "17Life後台";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
    int Count = 1;
    Dictionary<int, string> EventList = ViewBag.EventIdList;
}
@section header {
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="~/Tools/js/css/jquery-ui-1.10.2.css"/>
    <script type="text/javascript" src="~/Tools/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        var msg = '@ViewBag.msg';
        if (msg != '') {
            alert(msg);
        }
        $(document).ready(function() {
            $("#memberForm").submit(function() {
                if (sendSet()) {
                    var value = "";
                    var eventIdRow = $("#tableDiscount tr");
                    var num = eventIdRow.length;
                    var eventId = "";
                    for (i = 1; i < num; i++) {
                        eventId = eventIdRow.eq(i).find("td:eq(1)").children().val().replace(/\s+/g, "");
                        if (eventId != "") {
                            value = value + eventId;
                            if (i != (num - 1)) {
                                value = value + ",";
                            }
                        }
                    }
                    $("#hidIdListStr").val(value);
                } else {
                    return false;
                }
            });
        });

        function sendSet() {
            var elemId = $("#memberForm").find(".eventId");
            $('input').each(function() {
                $(this).removeClass("error");
            });
            $(".noticeReqId").hide();
            for (i = 0; i < elemId.length; i++) {
                if ($(elemId[i]).val() == "") {
                    $(elemId[i]).addClass("error");
                    $(".noticeReqId").show();
                    return false;
                }
            }
            return true;
        }

        function getEnentName(input) {
            var BrandId = input.value;
            $.ajax({
                async: false,
                type: "POST",
                url: '/ControlRoom/System/GetBrandName',
                data: { BrandId: BrandId },
                dataType: "json",
                success: function(ref) {
                    if (ref != "") {
                        $(input).parent().next().find(".eventName").val(ref);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("策展ID發生錯誤，請重新操作一次。");
                }
            });
        }

        function addRow() {
            var num = document.getElementById("tableDiscount").rows.length;
            var insertTr = document.getElementById("tableDiscount").insertRow(num);
            var insertTd = insertTr.insertCell(0);
            insertTd.innerHTML =
                "<input type='number' class='form-s number' readonly='readonly' value='" + num + "' />";
            insertTd = insertTr.insertCell(1);
            insertTd.innerHTML = "<input type='number' onchange='getEnentName(this)' class='form-s number eventId'/>";
            insertTd = insertTr.insertCell(2);
            insertTd.innerHTML = "<input type='text' class='form-s' style='width: 180px' readonly='readonly'/>";
            insertTd = insertTr.insertCell(3);
            insertTd.innerHTML =
                "<input type='button' class='btn btn-default' onclick='removeRow(this);' value='刪除' />";
        }

        function removeRow(x) {
            if (confirm("確定刪除？")) {
                var row = x.parentNode.parentNode.rowIndex;
                document.getElementById("tableDiscount").deleteRow(row);
            }
        }
    </script>
}

<h2>
    APP首頁策展排序
</h2>

<form method="Post" id="memberForm" action="CurationSortedSave">
    <table id="tableDiscount" class="table_newmember">
        <tbody>
            <tr>
                <td>排序</td>
                <td>策展ID</td>
                <td style="width: 200px">策展名稱</td>
                <td>刪除</td>
            </tr>
            @if (ViewBag.EventIdList != null)
            {
                foreach (var Event in EventList)
                {
                    <tr>
                        <td><input type="number" class="form-s number" value="@(Count++)" readonly="readonly" /></td>
                        <td><input type="number" class="form-s number eventId" onchange="getEnentName(this)" value="@Event.Key" /></td>
                        <td><input type="text" class="form-s eventName"style="width: 180px" value="@Event.Value" readonly="readonly" /></td>
                        <td><input type="button" class="btn btn-default" onclick="removeRow(this);" value="刪除" /></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <input  type="hidden" name="curationSortedStr" id="hidIdListStr" />
    <div class="bottomDiv">
        <input type="button" id="btnAddRow" class="btn btn-default" onclick="addRow();" value="新增欄位" />
        <input id="btnSave" type="submit" class="btn btn-primary btn-s" value="儲存設定" />
        <label class="notice noticeReqId">請填ID</label>
    </div>
</form>
