﻿@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <script type="text/javascript" src="~/Tools/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.maxlength-min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.ui.datepicker-zh-TW.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
    <link type="text/css" href="~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css" rel="stylesheet"/>

    <script type="text/javascript">
        $(document).ready(function() {
            $("h2").parent().css('width', '80%');
            $('#txtStartDate').datepicker();
            $('#txtEndDate').datepicker();
            $('#txtSearchSDate').datepicker();
            $('#txtSearchEDate').datepicker();

            var addValidator = $("#addForm").validate({
                rules: {
                    txtEName: { required: true },
                    txtSDate: { required: true },
                    txtEDate: { required: true }

                },
                messages: {
                    txtEName: { required: "名稱不得為空白" },
                    txtSDate: { required: "日期不得為空白" },
                    txtEDate: { required: "日期不得為空白" }
                }
            });

            $("input[name='discountType']").click(function() {
                if (this.value == 2) {
                    $("input[name='chkOwnerUseOnly']").attr('checked', false);
                    $("input[name='chkOwnerUseOnly']").attr('disabled', 'disabled');
                } else {
                    $("input[name='chkOwnerUseOnly']").removeAttr('disabled');
                }
            });

            $("input[name='discountGift']").click(function() {
                if (this.value == 1) {
                    $('#txtFreeGiftDiscount').rules('add', {
                        required: true,
                        messages: {
                            required: '金額不得為空白'
                        }
                    });
                    $("input[name=discountType][value='0']").attr('checked', true);
                    $("input[name=discountType][value='1']").attr('disabled', 'disabled');
                    $("input[name=discountType][value='2']").attr('disabled', 'disabled');
                } else {
                    $("#txtFreeGiftDiscount").rules("remove", "required");
                    $("input[name=discountType]").removeAttr('disabled');
                }
            });

            $("input[name='chkBindEventPromoId']").click(function() {
                if (this.checked) {
                    $('#txtEventPromoId').rules('add', {
                        required: true,
                        messages: {
                            required: '不得為空白'
                        }
                    });
                    $("#trChannel").find('input[type=checkbox]').each(function() {
                        $(this).attr('checked', false);
                    });
                    $("ul[id]").hide();
                    $("#trChannel").hide();
                } else {
                    $("#txtEventPromoId").rules("remove", "required");
                    $("#trChannel").show();
                }
            });

            $("input[name='chkOwnerUseOnly']").click(function() {
                $("input[name='chkVisaOnly']").attr('checked', false);
            });

            $("input[name='chkVisaOnly']").click(function() {
                $("input[name='chkOwnerUseOnly']").attr('checked', false);
            });

            if ("@ViewBag.message" != "") {
                alert("@ViewBag.message");
            }
        });

        function addEvent() {
            $("#addEvent").show();
            $("#addBtn").hide();
            $("#searchEvent").hide();
        }

        function cancelEvent() {
            $("#addEvent").hide();
            $("#addBtn").show();
            $("#searchEvent").show();
            $("#txtEventPromoId").rules("remove", "required");
            $("input[name='chkBindEventPromoId']").removeAttr('disabled');
            $("input[name=discountType]").removeAttr('disabled');
            $("#trChannel").show();
            $("input[name=discountType]").removeAttr('disabled');
        }

        function selectChannel(obj) {

            if ($(obj).is(':checked')) {
                $(obj).parent().find('ul').show();
                $('[id*=cbx_BindEventPromoId]').attr('disabled', 'disabled');
                var name = $("#hidChannelName" + $(obj).val()).next().next().text() + "-";
                $("#hidChannelId" + $(obj).val()).val($(obj).val() + ",");
                $("#hidChannelName" + obj.value).val(name);
                $("input[name='chkBindEventPromoId']").attr('checked', false);
                $("input[name='chkBindEventPromoId']").attr('disabled', 'disabled');
            } else {
                $(obj).parent().find('ul').hide();
                $('[id*=cbx_BindEventPromoId]').removeAttr('disabled');
                $(obj).parent().find('input[type=checkbox]').each(function() {
                    $(this).attr('checked', false);
                });
                $("#hidChannelId" + obj.value).val("");
                $("#hidChannelName" + obj.value).val("");
                $("input[name='chkBindEventPromoId']").removeAttr('disabled');
            }
        }

        function selectarea(obj, cid) {

            if ($(obj).parent().parent().find('input[type=checkbox]:checked').length > 0) {
                $(obj).parent().parent().next().find('input[type=checkbox]').each(function() {
                    $(this).attr('checked', false);
                });
                $(obj).parent().parent().next().hide();
            } else {

                $(obj).parent().parent().next().show();
            }

            categoryData(obj, cid);
        }

        function selectcategory(obj, cid) {

            if ($(obj).parent().parent().find('input[type=checkbox]:checked').length > 0) {
                $(obj).parent().parent().prev().find('input[type=checkbox]').each(function() {
                    $(this).attr('checked', false);
                });
                $(obj).parent().parent().prev().hide();
            } else {

                $(obj).parent().parent().prev().show();
            }

            categoryData(obj, cid);
        }


        function categoryData(obj, cid) {
            if ($(obj).is(':checked')) {
                var val = $("#hidChannelId" + cid).val();
                val += obj.value + ",";
                $("#hidChannelId" + cid).val(val);
                var name = $("#hidChannelName" + cid).val();
                name += $(obj).parent().text() + "/";
                $("#hidChannelName" + cid).val(name);
            } else {
                var val = $("#hidChannelId" + cid).val();
                val = val.replace(obj.value + ",", "");
                $("#hidChannelId" + cid).val(val);
                var name = $("#hidChannelName" + cid).val();
                name = name.replace($(obj).parent().text() + "/", "");
                $("#hidChannelName" + cid).val(name);
            }
        }

        function logDataGet(id) {

            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Content("~/ControlRoom/System/GetLog")',
                data: JSON.stringify(
                {
                    'id': id
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(res) {
                    if (res.CampaignList.length != 0) {
                        appendDeal(res);
                    } else {
                        alert("無此資料");
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("伺服器忙碌中，請重新操作一次。");
                }
            });
        }

        function appendDeal(res) {

            var temp = $('#logDiv').find('.divTemplate').clone();
            temp.find('#logEventName').text(res.EventName);
            temp.find('#logEventSTime').text(res.StartTime);
            temp.find('#logEventETime').text(res.EndTime);
            temp.find('#logEventLimit').text(res.EventLimit);
            for (var key in res.CampaignList) {
                var tempTr = $('#trTemplate').find('tr').clone();
                tempTr.find('.campaignId').text(res.CampaignList[key].CampaignId);
                tempTr.find('.campaignName').text(res.CampaignList[key].CampaignName);
                tempTr.find('.campaignTime').text(res.StartTime + "~" + res.EndTime);
                tempTr.find('.campaignAmount').text(res.CampaignList[key].Amount);
                tempTr.find('.qty').text(res.CampaignList[key].EventQty);
                tempTr.find('.allQty').text(res.CampaignList[key].CampaignQty);
                tempTr.find('.minAmount').text(res.CampaignList[key].MinimumAmount);
                tempTr.find('.category').text(res.ChannelstrList[key]);
                if ((res.CampaignList[key].Flag & 16) > 0) {
                    tempTr.find('.type').text("即時產生");
                } else {
                    tempTr.find('.type').text("非即時產生");
                }
                if ((res.CampaignList[key].Flag & 32768) > 0) {
                    tempTr.find('.app').text("App限定");
                } else {
                    tempTr.find('.app').text("無");
                }

                temp.find('#campaignlist').find("tr").last().after(tempTr);
            }

            $.blockUI({
                message: temp,
                css: {
                    top: ($(window).height()) / 8 + 'px',
                    left: ($(window).width()) / 5 + 'px',
                    width: '60%',
                    height: '80%',
                    border: 'none',
                    cursor: 'default'
                },
                overlayCSS: { cursor: 'default' }
            });
            $('.blockbtn').click(function() {
                $.unblockUI();
            });
        }


    </script>
    <style type="text/css">
        label.error {
            float: none;
            color: red;
            padding-left: .5em;
        }

        ul {
            list-style-type: none;
        }

        li {
            display: inline;
        }
    </style>
}

<h2>折價券活動</h2>

<br>
<div>
    <input type="button" value="新增" class="btn btn-default" id="addBtn" onclick=" addEvent() "/>
    <input type="button" value="設定新會員" class="btn btn-default" id="addBtn" onclick=" location.href='@Url.Action("NewMemberSet", "DiscountCode")' " />
</div>
<br>

<form method="Post" id="searchForm" action="DiscountEventList">
    <table id="searchEvent" style="width: 100%; border: 3px #FFAC55 solid; padding: 5px;" rules="all" cellpadding="5">
        <tr height="50">
            <td style="width: 100px">
                活動名稱
            </td>
            <td>
                <input type="text" id="searchName" name="eventName">
            </td>
        </tr>
        <tr height="50">
            <td>
                活動時間
            </td>
            <td>
                <input id="txtSearchSDate" name="txtSDate" type="text" style="width: 100px">
                至
                <input id="txtSearchEDate" name="txtEDate" type="text" style="width: 100px">
            </td>
        </tr>
        <tr height="50">
            <td colspan="2">
                <input id="btnSearch" type="submit" class="btn btn-default" value="搜尋" />
            </td>

        </tr>
    </table>
</form>
<form method="Post" id="addForm" action="EventCampaignSet">
    <table id="addEvent" style="width: 100%; border: 3px #FFAC55 solid; padding: 5px; display: none" rules="all" cellpadding="5">
        <tr height="50">
            <td style="width: 100px">
                *活動名稱
            </td>
            <td>
                <input id="eventName" type="text" name="txtEName">

            </td>
        </tr>
        <tr height="50">
            <td>
                *活動時間
            </td>
            <td>
                <input id="txtStartDate" type="text" name="txtSDate" style="width: 100px">
                <label for="txtSDate" class="error"></label>
                <select id="ssh" name="shh">
                    @for (var i = 0; i < 24; i++)
                    {
                        <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                    }
                </select>
                :
                <select id="ssm" name="smm">
                    @for (var i = 0; i < 60; i++)
                    {
                        <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                    }
                </select>
                至
                <input id="txtEndDate" type="text" name="txtEDate" style="width: 100px">
                <label for="txtEDate" class="error"></label>
                <select id="seh" name="ehh">
                    @for (var i = 0; i < 24; i++)
                    {
                        <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                    }
                </select>
                :
                <select id="sem" name="emm">
                    @for (var i = 0; i < 60; i++)
                    {
                        <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                    }
                </select>


            </td>
        </tr>
        <tr height="50">
            <td>
                *序號類型
            </td>
            <td>
                <input type="radio" name="discountType" value="0" checked="checked">即時產生
                <input type="radio" name="discountType" value="1">預產折價券
                <input type="radio" name="discountType" value="2">統一序號
            </td>
        </tr>
        <tr height="50">
            <td>
                領取條件
            </td>
            <td>
                <input type="radio" name="discountGift" value="0" checked="checked">無 <br>
                <input type="radio" name="discountGift" value="1" >每消費<input type="text" id="txtFreeGiftDiscount" name="txtFreeGiftDiscount" style="width: 60px">元即贈送等值折價券
            </td>
        </tr>
        <tr height="50">
            <td>
                活動限制
            </td>
            <td>
                <input type="checkbox" name="chkOwnerUseOnly" value="512">限本人使用<br>
                <input type="checkbox" name="chkVisaOnly" value="8192">VISA獨享<br>
                <input type="checkbox" name="chkBindEventPromoId" value="1" >限制使用檔次<input type="text" id="txtEventPromoId" name="EventPromoId" style="width: 250px" ><span class="ui-state-highlight ActivityUrlError">請輸入商品主題頁ID或檔次BID</span><br>
            </td>
        </tr>
        <tr height="50">
            <td>
                (預設)裝置限制:
            </td>
            <td>
                <input type="checkbox" name="chkAppOnly" value="32768">限App可使用<br>
            </td>
        </tr>
        <tr id="trChannel" height="50">
            <td>
                (預設)適用館別:
            </td>
            <td>

                <table>
                    @foreach (var channel in ViewBag.categoryDictionary)
                    {
                        int count = 0;
                        foreach (var c in channel.Key)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" id="hidChannelId@(c.Key)" name="channelId@(c.Key)" value="">
                                    <input type="hidden" id="hidChannelName@(c.Key)" name="channelName@(c.Key)" value="">
                                    <input type="checkbox" name="categorie@(c.Key)" value="@c.Key" onclick="selectChannel(this)"><label>@c.Value</label>
                                    @foreach (var cl in channel.Value)
                                    {
                                        ViewBag.tmpData = c.Key;
                                        <ul id="area@(c.Key)" style="display: none">
                                            @foreach (var ar in cl.Key)
                                            {
                                                <li><input type="checkbox" name="categorie@(ar.Key)" value="@ar.Key" onclick=" selectarea (this, @ViewBag.tmpData )">@ar.Value</li>
                                            }
                                        </ul>
                                        <ul id="category@(c.Key)" style="display: none">
                                            @foreach (var cg in cl.Value)
                                            {
                                                <li><input type="checkbox" name="categorie@(cg.Key)" value="@cg.Key" onclick=" selectcategory(this, @ViewBag.tmpData )">@cg.Value</li>
                                            }
                                        </ul>
                                    }
                                </td>
                            </tr>
                                    count++;
                        }

                    }
                </table>
            </td>
        </tr>
        <tr height="50">
            <td colspan="2">
                <input id="btnSave" type="submit" class="btn btn-default btn-s" value="建立活動" />
                <input id="btnCancel" type="reset" class="btn btn-default btn-s" value="取消" onclick=" cancelEvent() " />
            </td>

        </tr>
    </table>

</form>
<br>

@if (ViewBag.EventList != null)
{
    if (ViewBag.EventList.Count != 0)
    {
        <table class="table" style="width: 100%">
            <thead>
                <tr class="success">
                    <td align="center">ID</td>
                    <td align="center">啟用日期</td>
                    <td align="center">狀態</td>
                    <td align="center">申請日期</td>
                    <td align="center">活動名稱</td>
                    <td align="center">活動時間</td>
                    <td align="center">每人張數</td>
                    <td align="center">每人金額</td>
                    <td align="center">申請人員</td>
                    <td align="center">快照</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var EventData in ViewBag.EventList)
                {
                    <tr style="@((DateTime.Now > EventData.StartTime && EventData.EndTime > DateTime.Now) ? "background-color:Pink" : "")">
                        <td align="center">@EventData.Id</td>
                        <td align="center">
                            @(EventData.ApplyTime == null ? DateTime.Now > EventData.StartTime ? "-" : "" : EventData.ApplyTime.ToString("yyyy/MM/dd HH:mm"))
                            <input type="button" value="啟用" class="btn btn-default" style="@(EventData.ApplyTime == null ? DateTime.Now > EventData.StartTime ? "display: none" : "" : "display: none") " onclick=" location.href='@Url.Action("ApplyEvent", new { id = EventData.Id })' " />
                        </td>
                        <td align="center">
                            @(DateTime.Now > EventData.StartTime ? DateTime.Now > EventData.EndTime ? "失效" : "有效" : "")
                            <input type="button" value="刪除" class="btn btn-default" style="@( DateTime.Now > EventData.StartTime ? "display: none" : "")" onclick=" location.href='@Url.Action("DelEvent", new { id = EventData.Id })' " />
                        </td>
                        <td align="center">@EventData.ModifyTime.ToString("yyyy/MM/dd HH:mm")</td>
                        <td align="center"><a href="@Url.Action("DiscountEventEdit", new { id = EventData.Id })">@EventData.Name</a></td>
                        <td align="center">@EventData.StartTime.ToString("yyyy/MM/dd HH:mm") ~ @EventData.EndTime.ToString("yyyy/MM/dd HH:mm") </td>
                        <td align="center">@(EventData.Qty == null ? "-" : EventData.Qty.ToString())</td>
                        <td align="center">@(EventData.Total == null ? "-" : EventData.Total.ToString())</td>
                        <td align="center">@EventData.ModifyId</td>
                        <td align="center"><input type="button" value="快照" class="btn btn-default" onclick="logDataGet(@EventData.Id)" /></td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <td colspan="6">沒有符合的資料。</td>
            </tr>
        </table>
    }

}

<form class="dis-inline mrg20-ver">
    <div class="alg-center mrg20-hor">
        @if (ViewBag.PageCount != null)
        {
            if (Convert.ToInt32(ViewBag.PageIndex) <= 1)
            {
                <input type="button" class="btn btn-disabled btn-large arrow" value="&laquo;" disabled="disabled" />
                <input type="button" class="btn btn-disabled btn-large arrow" value="&lsaquo;" disabled="disabled" />
            }
            else
            {
                <input type="button" class="btn btn-primary btn-large arrow" value="&laquo;" onclick=" location.href='@Url.Action("DiscountEventList", new {page = 1})' " />
                <input type="button" class="btn btn-primary btn-large arrow" value="&lsaquo;" onclick=" location.href='@Url.Action("DiscountEventList", new {page = ((int) ViewBag.PageIndex - 1 == 0) ? 1 : (int) ViewBag.PageIndex - 1})    ' " />
            }


            <select onchange=" location.href = this.value ">
                @for (int i = 1; i <= (int)ViewBag.PageCount; i++)
                {
                    if (i == (int)ViewBag.PageIndex)
                    {
                        <option value="@i" selected="selected">@i</option>
                    }
                    else
                    {
                        <option value="@Url.Action("DiscountEventList", new {page = i})">@i</option>
                    }
                }
            </select>
            <span>/@ViewBag.PageCount</span>
            <span>(@ViewBag.TotalCount 筆資料)</span>


            if (Convert.ToInt32(ViewBag.PageIndex) >= (int)ViewBag.PageCount)
            {
                <input type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" disabled="disabled" />
                <input type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" disabled="disabled" />
            }
            else
            {
                <input type="button" class="btn btn-primary btn-large arrow" value="&rsaquo;" onclick=" location.href='@Url.Action("DiscountEventList", new {page = ((int) ViewBag.PageIndex + 1 > (int) ViewBag.PageCount) ? (int) ViewBag.PageCount : (int) ViewBag.PageIndex + 1})' " />
                <input type="button" class="btn btn-primary btn-large arrow" value="&raquo;" onclick=" location.href='@Url.Action("DiscountEventList", new {page = (int) ViewBag.PageCount})' " />
            }
        }
    </div>
</form>

<div id="logDiv" style="display: none">
    <div class="divTemplate">
        <table style="width: 100%; border: 3px #FFAC55 solid; padding: 5px;" rules="all" cellpadding="5">
            <tr>
                <td style="width: 100px">
                    名稱
                </td>
                <td>
                    <span id="logEventName"></span>
                </td>
            </tr>
            <tr>
                <td>
                    活動時間
                </td>
                <td>
                    <span id="logEventSTime"></span>
                    至
                    <span id="logEventETime"></span>
                </td>
            </tr>
            <tr>
                <td>
                    使用限制
                </td>
                <td>
                    <span id="logEventLimit"></span>
                </td>
            </tr>
        </table>
        <table id="campaignlist" class="table table-striped">
            <thead>
            <tr class="success">
                <td align="center" style="width: 2%">ID</td>
                <td align="center" style="width: 13%">使用期限</td>
                <td align="center" style="width: 12%">折價券名稱</td>
                <td align="center" style="width: 5%">面額</td>
                <td align="center" style="width: 5%">每人張數</td>
                <td align="center" style="width: 8%">總數</td>
                <td align="center" style="width: 8%">使用門檻</td>
                <td align="center" style="width: 12%">適用館別</td>
                <td align="center" style="width: 8%">折價券類型</td>
                <td align="center" style="width: 8%">限用裝置</td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <span id="totalAmount" style="color: Red;"></span>
        <input type="button" class="btn btn-default blockbtn" value="確定" />
    </div>
</div>

<table id="trTemplate">
    <tr id="trTemplate">
        <td align="center"><span class="campaignId"></span> </td>
        <td align="center"><span class="campaignTime"></span> </td>
        <td align="center"><span class="campaignName"></span> </td>
        <td align="center"><span class="campaignAmount"></span> </td>
        <td align="center"><span class="qty"></span> </td>
        <td align="center"><span class="allQty"></span> </td>
        <td align="center"><span class="minAmount"></span> </td>
        <td align="center"><span class="category"></span> </td>
        <td align="center"><span class="type"></span> </td>
        <td align="center"><span class="app"></span> </td>
    </tr>
</table>