﻿@{
    ViewBag.Title = "FamiUsage";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}

@section header {
    <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="~/Tools/ckeditor/jquery.query-2.1.7.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.ui.datepicker-zh-TW.js"></script>
    <script type="text/javascript">
        function getData(queryType, queryStart, queryEnd) {
            var url = '@Url.Action("FamiUsage")';
            var ajaxData = "{'queryType':'" + queryType + "','queryStart':'" + queryStart + "','queryEnd':'" + queryEnd + "'}";
            $.ajax({
                type: "POST",
                url: url,
                data: ajaxData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    if (res != null) {
                        $('#chartContainer').removeClass('loading');
                        renderChart1(res);
                        window.usageData = res;
                    } else {
                        alert('沒有資料!!');
                    }
                    setEnableFilterControl(true);
                }
            });
        }

        function renderChart1(chartData) {
            var title = '使用次數統計-小時';
            if ($('#selQueryType').val() == 'usageByDay') {
                title = '使用次數統計-日';
            } else if ($('#selQueryType').val() == 'usageByMonth') {
                title = '使用次數統計-月';
            }

            var chart = new CanvasJS.Chart("chartContainer",
            {
                title: {
                    text: title
                },
                animationEnabled: true,
                axisY: {
                    title: ""
                },
                legend: {
                    verticalAlign: "bottom",
                    horizontalAlign: "center"
                },
                theme: "theme2",
                data: [
                    {
                        type: "spline",
                        showInLegend: false,
                        legendMarkerColor: "grey",
                        legendText: "月份",
                        dataPoints: chartData
                    }
                ]
            });

            chart.render();
        }

        function resetData() {
            window.usageDatas == null;
        }

        function setEnableFilterControl(isEnable) {
            if (isEnable) {
                $("#selQueryType").removeAttr("disabled");
                $("#datepickerStart").removeAttr("disabled");
                $("#datepickerEnd").removeAttr("disabled");
            } else {
                $("#selQueryType").attr("disabled", "disabled");
                $("#datepickerStart").attr("disabled", "disabled");
                $("#datepickerEnd").attr("disabled", "disabled");
            }
        }

        $(document).ready(function () {

            $("#datepickerStart").datepicker({
                dataFormat: 'yyyy/mm/dd',
                defaultDate: '@DateTime.Now.AddMonths(-12).ToString("yyyy/MM/dd")',
                maxDate: "+0D",
                minDate: '2015/01/01',
                onSelect: function () {
                    resetData();
                    $('#selQueryType').trigger('change');
                }
            });
            $("#datepickerEnd").datepicker({
                dataFormat: 'yyyy/mm/dd',
                defaultDate: '@DateTime.Now.ToString("yyyy/MM/dd")',
                maxDate: "+1D",
                minDate: '2015/01/01',
                onSelect: function () {
                    resetData();
                    $('#selQueryType').trigger('change');
                }
            });
            $("#datepickerStart").datepicker("setDate", "@DateTime.Now.ToString("yyyy/MM/dd")");
            $("#datepickerEnd").datepicker("setDate", "@DateTime.Now.ToString("yyyy/MM/dd")");

            $('#selQueryType').change(function () {
                setEnableFilterControl(false);

                var queryType = $('#selQueryType').val();

                var d1 = new Date($("#datepickerStart").val());
                var d2 = new Date($("#datepickerEnd").val());

                var queryStart = d1 > d2 ? $("#datepickerEnd").val() : $("#datepickerStart").val() + ' 00:00:00';
                var queryEnd = d1 > d2 ? $("#datepickerStart").val() : $("#datepickerEnd").val() + ' 23:59:59'

                $('#chartContainer').show();
                if (window.usageDatas == null) {
                    getData(queryType, queryStart, queryEnd);
                } else {
                    setEnableFilterControl(true);
                }

            });
            $('#selQueryType').trigger('change');
        });
    </script>
    <script type="text/javascript" src="//canvasjs.com/assets/script/canvasjs.min.js"></script>
    <style>
        .loading {
            background: url('/Themes/OWriteOff/loading.gif') no-repeat;
        }

        .keyword-block {
            width: 30%;
            float: left;
            margin-right: 30px;
        }
    </style>
}
<form class="form-horizontal" role="form">
    <input type="hidden" id="hidKeyword" />
    <div class="panel panel-primary top-buffer-sm padding-xs" style="width: 1100px; height: 100%">
        <h1 class="text-center">全家使用狀況</h1>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-3">
                    <select name="queryType" id="selQueryType" class="form-control">
                        <option value="usageByHour">使用次數統計(小時)</option>
                        <option value="usageByDay">使用次數統計(日)</option>
                        <option value="usageByMonth">使用次數統計(月)</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="datepickerStart" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input type="text" id="datepickerEnd" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-11">
                    <div id="chartContainer" style="height: 300px; width: 100%;" class="loading">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
