﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.Core
@using LunchKingSite.WebLib.Models.ControlRoom.System
@model FrontDealsDailyStatModel

@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}
<div style="text-align:right"><a href="/controlroom/system/HamiTestPage.aspx#appabtest" target="_blank">立即更新資料(如果想抓今天的資料才需要使用)</a></div>
<h2>成效報表</h2>
<form name="form1" action="@Url.Action("FrontDealsDailyStat")" method="get">
    <table>
        <tr>
            <td>日期</td>
            <td>
                <input type="text" name="FrontDealsStatStart" id="frontDealsStatStart" value="@Html.Raw(Model.FrontDealsStatStart.HasValue ? Model.FrontDealsStatStart.Value.ToString("yyyy/MM/dd") : string.Empty)" /> 至
                <input type="text" name="FrontDealsStatEnd" id="frontDealsStatEnd" value="@Html.Raw(Model.FrontDealsStatEnd.HasValue ? Model.FrontDealsStatEnd.Value.ToString("yyyy/MM/dd") : string.Empty)" />
            </td>
        </tr>        
    </table>
    <br />
    <input type="button" id="export" value="匯出Excel">
</form>

@section SSC {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" />
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-1.6.2.min.js")"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.ui.datepicker-zh-TW.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui-timepicker-addon.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.fileDownload.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#frontDealsStatStart').datepicker({ dateFormat: 'yy/mm/dd' });
            $('#frontDealsStatEnd').datepicker({ dateFormat: 'yy/mm/dd' });

            $('#export').click(function () {
                var url = '@Html.Raw(Url.Action("FrontDealsDailyStatExport", "System", MvcUtility.GetRouteValues(this.ViewContext)))';
                $.fileDownload(url, {
                    data: { frontDealsStatStart: $('#frontDealsStatStart').datepicker().val(), frontDealsStatEnd: $('#frontDealsStatEnd').datepicker().val() },
                    preparingMessageHtml: "匯出中，請稍候...",
                    failMessageHtml: "匯出失敗！"
                });
                $('.ui-dialog-titlebar-close').hide();
            });
        });
    </script>

    <style>
        .ctrlRoomTbl th {
            background-color: #353434;
            color: #FFFFFF;
        }

        .ctrlRoomTbl tr:nth-child(even) td {
            font-size: smaller;
            background-color: #F0F0F0;
        }

        .ctrlRoomTbl tr:nth-child(odd) td {
            font-size: smaller;
            background-color: #FFFFFF;
        }

        .ctrlRoomTbl {
            border-collapse: collapse;
        }

            .ctrlRoomTbl td, th {
                border-color: Black;
                border-width: thin;
                border-style: solid;
            }

        .aHrefCss {
            width: 100%;
            display: inline-block;
            color: #FFFFFF;
        }

        .aPager {
            width: 100%;
            display: inline-block;
            text-decoration: none;
            color: #0026ff;
        }

        .ui-datepicker {
            width: 17em;
            padding: 0.2em 0.2em 0;
            display: none;
            font-size: 80.5%;
        }
    </style>

}
