﻿@using LunchKingSite.Core
@using LunchKingSite.DataOrm
@model ViewGaDealListCollection
@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <script type="text/javascript" src="~/Tools/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script type="text/ecmascript">
         $(document).ready(function () {

        $('.date').datepicker();
        });
    </script>
}
<div class="form-horizontal" role="form">
    <div class="panel panel-primary top-buffer-sm padding-xs">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.ActionLink("新增檔次Ga排程", "EditGaDealList", "System", null, new { @class = "btn btn-warning btn-s" })
                </div>
                <div class="col-md-3">
                    @Html.ActionLink("手動檔次Ga查詢", "EditGaDealList", "System", new { type = (int)GaDealListType.ByUser }, new { @class = "btn btn-warning btn-s" })
                </div>
            </div>
            @using (Html.BeginForm("GaDealList", "System", FormMethod.Post, new { @class = "form-group" }))
            {
                <div class="col-md-2">
                    依檔次搜尋
                </div>
                <div class="col-md-3">
                    @Html.TextBox("search", null, new { @class = "form-control", placeholder = "請填入搜尋Bid" })
                </div>
                <div class="col-md-3">
                    @Html.RadioButton("type", (int)GaDealListType.BySchedule, true) 排程
                    @Html.RadioButton("type", (int)GaDealListType.ByUser) 手動
                </div>
                <div class="col-md-3">
                    <input type="submit" value="搜尋檔次" class="btn btn-default btn-s" onclick=" if ($('#search').val().trim() == '' || $('#search').val().match(/^[{]?[0-9a-fA-F]{8}[-]?([0-9a-fA-F]{4}[-]?){3}[0-9a-fA-F]{12}[}]?$/)) { return ture; } else { alert('Bid格式錯誤'); return false; }" />
                </div>
            }
            <hr />
            @using (@Html.BeginForm("GaDealReport", "System", FormMethod.Post, new { @class = "form-group" }))
            {
                <div class="col-md-2">
                    依網站搜尋
                </div>
                <div class="col-md-3">
                    @Html.TextBox("start_date", null, new { @class = "date form-control", placeholder = "追蹤開始時間", style = "width:110px" })
                    ~@Html.TextBox("end_date", null, new { @class = "date  form-control", placeholder = "追蹤結束時間", style = "width:110px" })23:59
                </div>
                <div class="col-md-3">
                    @Html.RadioButton("searchsite", (int)GaViewIDMap.Lunchking_17LIFE, true) 主站

                    @Html.RadioButton("searchsite", (int)GaViewIDMap.Zoo_17LIFE_APP) App
                </div>
                <div class="col-md-2">
                    <input type="submit" value="搜尋站台" class="btn btn-default btn-s" onclick="if ($('#start_date').val() == '' || $('#end_date').val() == '') { alert('請選擇日期區間'); return false; } else { return true;}" />
                </div>
            }
            <hr />
            <div class="form-group">
                @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
                {<div class="col-md-12">
                    <div class="alert alert-danger" style="padding: 8px;">
                        @ViewBag.ErrorMessage
                    </div>
                </div>
                }
            </div>
            @if (Model != null && Model.Count > 0)
            {
                <div class="form-group">
                    <div class="col-md-11">
                        <table class="table table-striped">
                            <thead>
                                <tr class="success">
                                    <td style="width: 5%">
                                        Id
                                    </td>
                                    <td style="width: 25%">
                                        Bid/名稱
                                    </td>
                                    <td style="width: 20%">
                                        販售時間
                                    </td>
                                    <td style="width: 20%">
                                        GA追蹤時間
                                    </td>
                                    <td style="width: 10%">
                                        狀態
                                    </td>
                                    <td style="width: 10%">
                                        編輯
                                    </td>
                                    <td style="width: 5%">
                                        GA
                                    </td>
                                    <td style="width: 5%">
                                        刪除
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td style="font-size:smaller">
                                            <a href="~/@item.Bid" target="_blank">
                                                @item.Name.TrimToMaxLength(15, "...")
                                            </a><br />@item.Bid
                                        </td>
                                        <td style="font-size:smaller">
                                            @item.BusinessHourOrderTimeS.ToString("yyyy/MM/dd HH:hh")
                                            <br />~@item.BusinessHourOrderTimeE.ToString("yyyy/MM/dd HH:mm")
                                        </td>
                                        <td style="font-size:smaller">
                                            @item.StartDate.ToString("yyyy/MM/dd")
                                            <br />~@item.EndDate.AddDays(-1).ToString("yyyy/MM/dd 23:59")
                                        </td>
                                        <td>
                                            <img src='@(item.Enabled?Url.Content("~/Themes/default/images/17Life/G3/CheckoutPass.png"):Url.Content("~/Themes/default/images/17Life/G3/CheckoutError.png"))' style="width:40%;" />
                                        </td>
                                        <td>
                                            @if (item.Type == (int)GaDealListType.BySchedule)
                                            {
                                                @Html.ActionLink("編輯", "EditGaDealList", new { id = item.Id }, new { @class = "btn btn-primary" })
                                            }
                                            else
                                            {
                                                <div class="btn btn-primary disabled">手動</div>
                                            }
                                        </td>
                                        <td>
                                            @Html.ActionLink("GA", "GaDealReport", new { gid = item.Id }, new { @class = "btn btn-primary" })
                                        </td>
                                        <td>
                                            @using (Html.BeginForm("DeleteGaDeal", "System", new { gid = item.Id }, FormMethod.Post, null))
                                            {
                                                <input type="submit" value="Del" class="btn btn-danger" onclick="return confirm('確定刪除?');" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
