﻿@using LunchKingSite.Core
@using LunchKingSite.DataOrm
@using LunchKingSite.BizLogic.Model
@model GaInfo
@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
    bool summary_tr_style = Model.ViewGaDealListInfo != null && (Model.ViewGaDealListInfo.Type == (int)GaDealListType.ByUser);
}
@section header {

    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
    <script type="text/javascript">
        var ga = $.parseJSON('@Html.Raw(Model.JsonData)');
        var w = 850;
        var h = 400;
        $(document).ready(function () {
            $('.innpathtd td').css("background-color", "#FAFAD2");
            $('.trsummary td').css("background-color", "#FFFF66");
            try {
                if (ga.length > 0) {
                    google.setOnLoadCallback(drawChart_Entrance_Line);
                    google.setOnLoadCallback(drawChart_Users_Line);
                    google.setOnLoadCallback(drawChart_Pages_Line);
                    google.setOnLoadCallback(drawChart_Exit_Line);
                    $("#dual_y_div_Page").hide('slow');
                    $("#dual_y_div_Entrance").hide('slow');
                    $("#dual_y_div_Exit").hide('slow');
                }
                else {
                    $('#charts').hide();
                }
            }
            catch (err) {
                $('#charts').hide();
            }
            $('.list-group li').click(function () {
                $('.list-group li').removeClass('active');
                $('#tabs > div').hide();

                var d = $('#tabs > div')[$(this).index()];
                $(d).show();

                $(this).addClass('active');
            });

            $('.pathdiv').click(function () {
                $('.pathtd').not('.' + $(this).data('tdindex')).hide();
                if ($('.' + $(this).data('tdindex')).is(':visible')) {
                    $('.' + $(this).data('tdindex')).hide();
                } else {
                    $('.' + $(this).data('tdindex')).show('slow');
                }
            });
        });

        function drawChart_Entrance_Line() {
            var data = new google.visualization.DataTable();
            data.addColumn({ label: 'Date', type: 'date', pattern: 'yyyy/MM/dd' });

            data.addColumn('number', '←Entrances');
            data.addColumn('number', 'EntranceRate→');

            $.each(ga, function (i, item) {
                data.addRow([new Date(item.StartDate), item.Entrances, item.EntranceRate]);
            });
            var options = {
                width: w,
                height: h,
                chart: {
                    title: 'Entrances/EntranceRate',
                    subtitle: 'Entrance圖表'
                },
                series: {
                    0: { targetAxisIndex: 0 },
                    1: { targetAxisIndex: 1 }
                },
                vAxes: {
                    1: { title: '%' }
                },
                curveType: 'function',
                legend: { position: 'bottom' },
                chartArea: { 'width': '85%', 'height': '85%' },
                pointSize: 5
            };
            var chart = new google.visualization.LineChart(document.getElementById('dual_y_div_Entrance'));

            chart.draw(data, options);
        }

        function drawChart_Exit_Line() {
            var data = new google.visualization.DataTable();
            data.addColumn({ label: 'Date', type: 'date', pattern: 'yyyy/MM/dd' });

            data.addColumn('number', '←Exits');
            data.addColumn('number', 'ExitRate→');

            $.each(ga, function (i, item) {
                data.addRow([new Date(item.StartDate), item.Exits, item.ExitRate]);
            });
            var options = {
                width: w,
                height: h,
                chart: {
                    title: 'Exits/ExitRate',
                    subtitle: 'Exit圖表'
                },
                series: {
                    0: { targetAxisIndex: 0 },
                    1: { targetAxisIndex: 1 }
                },
                vAxes: {
                    1: { title: '%' }
                },
                curveType: 'function',
                legend: { position: 'bottom' },
                chartArea: { 'width': '85%', 'height': '85%' },
                pointSize: 5
            };
            var chart = new google.visualization.LineChart(document.getElementById('dual_y_div_Exit'));

            chart.draw(data, options);
        }

        function drawChart_Users_Line() {
            var data = new google.visualization.DataTable();
            data.addColumn({ label: 'Date', type: 'date', pattern: 'yyyy/MM/dd' });

            data.addColumn('number', '←Users');
            data.addColumn('number', 'Sessions→');

            $.each(ga, function (i, item) {
                data.addRow([new Date(item.StartDate), item.Users, item.Sessions]);
            });
            var options = {
                width: w,
                height: h,
                chart: {
                    title: 'Users/Sessions',
                    subtitle: 'User圖表'
                },
                curveType: 'function',
                legend: { position: 'bottom' },
                chartArea: { 'width': '85%', 'height': '85%' },
                pointSize: 5
            };
            var chart = new google.visualization.LineChart(document.getElementById('dual_y_div_User'));

            chart.draw(data, options);

        }

        function drawChart_Pages_Line() {
            var data = new google.visualization.DataTable();
            data.addColumn({ label: 'Date', type: 'date', pattern: 'yyyy/MM/dd' });

            data.addColumn('number', '←PageViews');
            data.addColumn('number', '←UniquePageViews');
            data.addColumn('number', 'AvgTimeOnPage→');
            $.each(ga, function (i, item) {
                data.addRow([new Date(item.StartDate), item.PageViews, item.UniquePageViews, item.AvgTimeOnPage]);
            });

            var options = {
                width: w,
                height: h,
                chart: {
                    title: 'Page/AvgTimeOnPage',
                    subtitle: 'Page圖表'
                },
                series: {
                    0: { targetAxisIndex: 0 },
                    1: { targetAxisIndex: 0 },
                    2: { targetAxisIndex: 1 }
                },
                vAxes: {
                    1: { title: 'second' }
                },
                curveType: 'function',
                legend: { position: 'bottom' },
                chartArea: { 'width': '85%', 'height': '85%' },
                pointSize: 5
            };
            var chart = new google.visualization.LineChart(document.getElementById('dual_y_div_Page'));

            chart.draw(data, options);
        }
    </script>
}

<div class="form-horizontal" role="form">
    <div class="panel panel-primary top-buffer-sm padding-xs" style="width:1000px;">
        <div class="panel-body">
            <div class="form-group">
                <p>
                    @Html.ActionLink("回列表", "GaDealList", null, new { @class = "btn btn-info btn-s" })
                </p>
                <div class="col-md-11">
                    <div class="keyword-block">
                        <h3>@Html.Raw(Model.Title)</h3>
                        <table>
                            <tr>
                                <td style="vertical-align:top; height:300px;">
                                    <ul class="list-group" style="cursor:pointer; width:100px; ">
                                        <li class="list-group-item active">Users</li>
                                        <li class="list-group-item">PageViews</li>
                                        <li class="list-group-item">Entrances</li>
                                        <li class="list-group-item">Exits</li>
                                    </ul>
                                </td>
                                <td>
                                    <div id="tabs" style="padding-left:10px;">
                                        <div id="dual_y_div_User"></div>
                                        <div id="dual_y_div_Page"></div>
                                        <div id="dual_y_div_Entrance"></div>
                                        <div id="dual_y_div_Exit"></div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr class="success" style="font-size:smaller">
                                    <th>
                                        Duration<br />
                                    </th>
                                    <th>
                                        AvgTimeOnPage<br />
                                        @(Model.ViewGaDealListInfo != null ? "Path" : string.Empty)
                                    </th>
                                    <th>
                                        Users<br />Sessions
                                    </th>
                                    <th>
                                        PageViews<br />UniquePageViews
                                    </th>
                                    <th>
                                        Entrances<br />EntraceRate
                                    </th>
                                    <th>Exits<br />ExitRate</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ViewGaDealListInfo != null)
                                {
                                    foreach (var item in Model.GaDealData.GroupBy(x => x.Sort).OrderBy(x=>x.Key))
                                    {
                                        foreach (var innitem in item.OrderBy(x => x.Type).ThenByDescending(x => x.Users))
                                        {
                                            if (innitem.Type == (int)GaDealType.Summary)
                                            {
                                                <tr style="font-size:smaller" class='@((item.Key == 0&&summary_tr_style) ? "trsummary" : "")'>
                                                    <td>
                                                        @innitem.StartDate.ToString("yyyy/MM/dd")~<br />
                                                        @innitem.EndDate.AddDays(-1).ToString("yyyy/MM/dd 23:59")
                                                    </td>
                                                    <td>
                                                        @innitem.AvgTimeOnPage<br />
                                                        <div class="pathdiv" data-tdindex="td@(item.Key)" style="text-decoration:underline;color:blue;cursor:pointer;">Detail</div>
                                                    </td>
                                                    <td>
                                                        @innitem.Users<br />@innitem.Sessions
                                                    </td>
                                                    <td>
                                                        @innitem.PageViews
                                                        <br />@innitem.UniquePageViews
                                                    </td>
                                                    <td>
                                                        @innitem.Entrances
                                                        <br />@innitem.EntranceRate
                                                    </td>
                                                    <td>
                                                        @innitem.Exits<br />@innitem.ExitRate
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="font-size:smaller;display:none; text-align:center;" class="pathtd td@(item.Key)">
                                                    <td colspan="6" style="background-color:black; color: yellow; font-weight: bolder;">@innitem.PagePath</td>
                                                </tr>
                                                <tr style="font-size:smaller;display:none;" class="pathtd innpathtd td@(item.Key)">
                                                    <td></td>
                                                    <td>
                                                        @innitem.AvgTimeOnPage<br />
                                                    </td>
                                                    <td>
                                                        @innitem.Users<br />@innitem.Sessions
                                                    </td>
                                                    <td>
                                                        @innitem.PageViews
                                                        <br />@innitem.UniquePageViews
                                                    </td>
                                                    <td>
                                                        @innitem.Entrances
                                                        <br />@innitem.EntranceRate
                                                    </td>
                                                    <td>
                                                        @innitem.Exits<br />@innitem.ExitRate
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    foreach (var item in Model.GaDealData)
                                    {
                                        <tr style="font-size:smaller">
                                            <td>
                                                @item.StartDate.ToString("yyyy/MM/dd")~<br />
                                                @item.EndDate.AddDays(-1).ToString("yyyy/MM/dd 23:59")
                                            </td>
                                            <td>
                                                @item.AvgTimeOnPage<br />
                                            </td>
                                            <td>
                                                @item.Users<br />@item.Sessions
                                            </td>
                                            <td>
                                                @item.PageViews
                                                <br />@item.UniquePageViews
                                            </td>
                                            <td>
                                                @item.Entrances
                                                <br />@item.EntranceRate
                                            </td>
                                            <td>
                                                @item.Exits<br />@item.ExitRate
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>