﻿@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {

    <script type="text/javascript" src="~/Tools/ckeditor/jquery.query-2.1.7.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.form.js"></script>
    <script type="text/javascript">
        function checkForm() {
            var guid = document.getElementById("guidText").value;
            if (guid == "") {
                alert("請輸入Order Guid");
                return false;
            }
            return true;
        }
        $(document).ready(function() {

            $('#SendForm').ajaxForm({
                beforeSend: function() {
                    $.blockUI({
                        message: $("#progressImgage"),
                        css: {
                            top: ($(window).height()) / 2 + 'px',
                            left: ($(window).width()) / 2 + 'px',
                            width: '0px',
                            height: '0px',
                            border: 'none',
                            cursor: 'default'
                        },
                        overlayCSS: { cursor: 'default' }
                    });
                },

                success: function(msg) {
                    if (msg.success) {
                        $.unblockUI();
                        alert("訂單已送出");
                        location.replace(location.href);
                    }
                }
            });
        });

    </script>

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ichannel操作</title>
</head>
<body>
    <h2>Ichannel查詢</h2><br />

    @if (ViewBag.guid != null)
    {
        <form id="SendForm" action="OrderSend" method="post" enctype="multipart/form-data">
            <div class="form-group">
                Order Guid:
                <input type="text" style="width: 280px" name="guid" readonly="readonly" value="@ViewBag.guid">
                <input type="submit" value="重送" class="btn btn-default btn-s" />
            </div>
        </form>
    }
    else
    {
        <form action="IchannelIndex" onsubmit="return checkForm();" method="post" enctype="multipart/form-data">
            <div class="form-group">
                Order Guid:
                <input id="guidText" type="text" style="width: 280px" name="guid">
                <input type="submit" value="搜尋" class="btn btn-default btn-s"/>
            </div>
        </form>
    }

    @if (ViewBag.data != null)
    {
        <div class="panel panel-primary top-buffer-sm padding-xs">
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-md-11">
                        <table class="table table-striped">
                            <thead>
                                <tr class="success">
                                    <td>ID</td>
                                    <td>訂單編號</td>
                                    <td>類別</td>
                                    <td>憑證編號</td>
                                    <td>金額</td>
                                    <td>建立時間</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.data.Count != 0)
                                {
                                    foreach (var OrderData in ViewBag.data)
                                    {
                                        <tr>
                                            <td>@OrderData.Id</td>
                                            <td>@OrderData.OrderId</td>
                                            <td>@(OrderData.DeliveryType == 1 ? "憑證" : "宅配")</td>
                                            <td>@OrderData.CouponId</td>
                                            <td>@OrderData.Amount</td>
                                            <td>@OrderData.CreateTime</td>

                                        </tr>
                                    }
                                    if (ViewBag.data.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="3">沒有符合的資料。</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    }
    
    <div style="display: none"><img id="progressImgage" alt="" src="@Url.Content("~/Themes/default/images/ajax-loader.gif")" /></div>
</body>



</html>
