﻿@using LunchKingSite.Core
@using LunchKingSite.DataOrm
@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <script type="text/javascript" src="~/Tools/ckeditor/jquery.query-2.1.7.js"></script>
    <script type="text/ecmascript">
        $(document).ready(function () {
            var search = '@Request["search"]';
            $('#search').val(search);
        });

        function searchCheck() {
            if ($('[name=search]').val() == '') {
                alert('請輸入搜尋條件!!');
                return false;
            }
            return true;
        }
    </script>
}
<form class="form-horizontal" role="form">
    <div class="panel panel-primary top-buffer-sm padding-xs">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-3">
                    <input name="search" type="text" id="search" class="form-control" placeholder="請填入搜尋條件">
                </div>
                <div class="col-sm-1">
                    <input type="submit" value="搜尋" class="btn btn-default btn-s" id="SearchBtn" />
                </div>
                <div class="col-sm-2">
                    <a href="@Url.Action("KeywordEdit", new { id = 0, search = Request["search"] ?? string.Empty })">
                        <input type="button" value="新增關鍵字" class="btn btn-warning btn-s" />
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="@Url.Action("ResetPponDealIndex")">
                        <input type="button" value="更新暫存" class="btn btn-info btn-s" />
                    </a>
                </div>
            </div>
            <div class="form-group">
                @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
                {<div class="col-md-12">
                    <div class="alert alert-danger" style="padding: 8px;">
                        @ViewBag.ErrorMessage
                    </div>
                </div>
                }
            </div>
            @if (!string.IsNullOrWhiteSpace(Request["search"]))
            {
                <div class="form-group">
                    <div class="col-md-11">
                        <table class="table table-striped">
                            <thead>
                                <tr class="success">
                                    <td style="width: 70%">內容</td>
                                    <td style="width: 20%">狀態</td>
                                    <td style="width: 10%"></td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Keywords != null)
                                {
                                    foreach (Keyword item in ViewBag.Keywords)
                                    {
                                        <tr>
                                            <td>@item.Word</td>
                                            <td>@(item.Status == (int)KeywordStatus.Disabled ? "關閉" : string.Empty)</td>
                                            <td>
                                                <a href="@Url.Action("KeywordEdit", new { id = item.Id, search = Request["search"] ?? string.Empty })">
                                                    <input type="button" class="btn btn-default btn-xs" value="編輯" />
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    if (ViewBag.Keywords.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="3">沒有符合的資料。</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</form>
