﻿@using LunchKingSite.WebLib.Models.ControlRoom.Seller

@model OdmSellerRoleModel
@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.1/jstree.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.1/themes/default/style.min.css" rel="stylesheet" type="text/css" />
    <title>View</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <script language="Javascript">

        $(function () {
            console.log(window.location.origin + '/controlroom/system/OdmSellerRoleInit');　
            $("#tree").jstree({
                "checkbox": {
                    "keep_selected_style": false
                },
                'core': {
                    'data': {
                        'url': window.location.origin + '/controlroom/system/OdmSellerRoleInit',
                        'data': {
                            rootSellerGuid: $("#rootSellerGuid").val(),
                            userName: $("#userName").val()
                        }
                    },
                },
                "plugins": ["checkbox", "json_data"]
            });

            // 偵測
            //$("#tree").bind("changed.jstree",
            //function (e, data) {
            //    alert("Checked: " + data.node.id);
            //    alert("Parent: " + data.node.parent);
            //    alert(JSON.stringify(data));
            //});
        });

        function checkTreeAll() {
            $('#tree').jstree(true).check_all();
        }

        function uncheckTreeAll() {
            $('#tree').jstree(true).deselect_all();
        }

        function submitTreeAll() {
            var selectedElmsIds = [];
            var selectedElms = $('#tree').jstree("get_selected", true);
            $.each(selectedElms, function () {
                selectedElmsIds.push(this.id);
            });

            var confirmString = "";
            if (selectedElmsIds.length == 0)
            {
                confirmString = "目前為全取消，將會刪除此帳號所有權限，確定儲存以下選項?";
            } else {
                confirmString = "確定儲存以下選項?";
            }

            if (confirm(confirmString)) {
                //alert(JSON.stringify(selectedElmsIds));
                $.ajax({
                    type: "POST",
                    url: window.location.origin + '/controlroom/system/OdmSellerRoleUpdate',
                    data: {
                        guidArray: JSON.stringify(selectedElmsIds),
                        userName: $("#userName").val(),
                        rootSellerGuid: $("#rootSellerGuid").val()
                    },
                    dataType: "json",
                    success: function (data) {
                        //$('#mytree').jstree(true).settings.core.data = data;
                        $('#tree').jstree(true).refresh();
                        alert(data.sysmsg);
                    }
                });
            }
        }

        function goSearch() {
            if ($("#userName").val().includes("@@17life.com")) {
                alert("@@17life.com已內建最高權限");
            } else if ($("#userName").val() != '') {
                $("#searchForm").submit();
            };
        }
    </script>

    <div>
        <h2>搜尋條件:</h2>
        <form id="searchForm" method="post" action="OdmSellerRoleAdd">
               @Html.DropDownList("rootSellerGuid", Model.OdmList)
            <input id="userName" name="userName" type="text" value="@Model.Memeber.UserName" placeholder="請輸入帳號(userName)">
            <input type="button" onclick="goSearch()" value="搜尋">
        </form>

        @if (Model.Memeber.UniqueId != 0)
        {
            <h2>會員資訊:</h2>
            <table style="width:500px">
                <tr>
                    <th>姓名</th>
                    <th>帳號</th>
                    <th>Userid</th>
                </tr>
                <tr>
                    <td>@Model.Memeber.FirstName@Model.Memeber.LastName</td>
                    <td>@Model.Memeber.UserName</td>
                    <td>@Model.Memeber.UniqueId</td>
                </tr>
            </table>
            <input type="hidden" id="guidArray">
            <br />
            <div>
                <h2>權限列表: </h2>
                <input type="button" value="全選" onclick="checkTreeAll()">
                <input type="button" value="全取消" onclick="uncheckTreeAll()">
                <input type="button" value="確定儲存" onclick="submitTreeAll()">
                <br />
            </div>
            <div id="tree">
            </div>
        }
        else
        {
            <h1>會員資訊: 無</h1>
        }
    </div>







