﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.Core
@using LunchKingSite.WebLib.Models
@using LunchKingSite.DataOrm
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Controllers.ControlRoom

@model PaymentRequestTestModel

@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}
@section SSC {
    <script type="text/javascript" src="~/Tools/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.16.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.20/themes/base/jquery-ui.css" type="text/css" media="all" />

    <script type="text/javascript">
        
    </script>
}
<h2>TEST</h2>
<form role="form" method="post">
    <table>
        <tr>
            <td>全家Pincode補退</td>
            <td><input id="oid" name="oid" type="text" style="width:250px" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="submitButton" value="PincodeReturn" />
            </td>
        </tr>
        <tr>
            <td>
                @Model.result;
            </td>
        </tr>
    </table>
</form>