﻿@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <script type="text/javascript" src="~/Tools/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.maxlength-min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.form.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
    <link type="text/css" href="~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />

    <style>
        .btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .btn-primary {
            color: #fff;
            background-color: #428bca;
            border-color: #357ebd;
        }

        .oneClickUpload {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
            border-color: rgba(0, 0, 0, 0.25);
            width: 100px;
            height: 34px;
        }

            .oneClickUpload > input {
                opacity: 0;
                font-size: 0;
                cursor: pointer;
                position: absolute;
                width: 90px;
                height: 30px;
            }

        .oneClickUpload-inner {
            padding: 3px;
            text-align: center;
            vertical-align: middle;
        }


        .items .ui-selected {
            background: red;
            color: white;
            font-weight: bold;
        }

        .items {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100px;
        }

            .items li {
                margin: 2px;
                padding: 2px;
                cursor: pointer;
                border-radius: 3px;
            }

        .imagelist {
            float: left;
        }

    </style>

    <script type="text/javascript">


        $(document).ready(function () {

            $('#UploadForm').ajaxForm({
                beforeSend: function () {

                    $.blockUI({
                        message: $("#progressImgage"),
                        css: {
                            top: ($(window).height()) / 2 + 'px',
                            left: ($(window).width()) / 2 + 'px',
                            width: '0px',
                            height: '0px',
                            border: 'none',
                            cursor: 'default'
                        },
                        overlayCSS: { cursor: 'default' }
                    });
                },

                success: function (msg) {

                    if (msg.success) {
                        location.href = '/controlroom/ppon/setup.aspx?bid=' + "@ViewBag.bid";
                    } else {
                        alert(msg.message);
                        location.href = '/controlroom/ppon/setup.aspx?bid=' + "@ViewBag.bid";
                    }
                }
            });


            $("#imgInp").change(function () {
                $("#fileupload").empty();
                if (this.files && this.files[0]) {
                    $("#fileupload").append("<caption>上傳圖片預覽</caption>");
                    for (var i = 0; i < this.files.length; i++) {
                        $("#fileupload").append("<tr><td><img width='180' id='img" + i + "' src='" +
                            window.URL.createObjectURL(this.files[i]) +
                            "' alt='your image " + i + "' /></td>" + "</tr>");
                    }
                }
            });


            $('.productpopimg').hover(function (e) {
                $(this).parent().find('.popupimg').show();
            }, function () {
                $(this).parent().find('.popupimg').hide();
            });


            var moveLeft = 20;
            var moveDown = 10;

            $('.productpopimg').mousemove(function (e) {
                $(this).parent().find(".popupimg").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
            });
            $('.productpopimg').mousedown(function () {
                $(this).parent().find('.popupimg').hide();
            });
        });

    </script>
}


<h2>檔次圖片</h2><br />


<div style="display: none"><img id="progressImgage" alt="" src="@Url.Content("~/Themes/default/images/ajax-loader.gif")" /></div>


<form id="UploadForm" action="UpLoadImg" method="post" enctype="multipart/form-data">

    <div>
        檔次Bid:&nbsp;<input id="bid" type="text" name="bid" readonly="readonly" value="@ViewBag.bid" />
    </div>
    <br />
    <div>
        加上浮水印:&nbsp;<input id="isPrintWatermark" type="checkbox" name="isPrintWatermark" />
    </div>
    <div class="btn oneClickUpload">
        <input id="imgInp" type="file" name="files[]" multiple />
        <div class="oneClickUpload-inner"><i class="glyphicon glyphicon-plus"></i>選擇圖片</div>
    </div>

    <button type="submit" id="UpLoad" class="btn btn-primary">
        <i class="glyphicon glyphicon-upload"></i>
        <span>上傳圖片</span>
    </button>

</form>


<br />

<table id="fileupload" border="2" role="presentation"></table>

@if (ViewBag.images != null)
{
    <div id="timetable" style="float:left;width:700px;">
        <div class="imagelist" style="width:200px;">
            輪播大圖
            <ul class="items">

                @foreach (var imagedata in ViewBag.images)
                {
                    string[] images = imagedata.ToString().Replace("{", "").Replace("}", "").Replace("=", "").Replace("ImgPath", "").Replace("Index", "").Replace(" ", "").Split(',');
                    <li>
                        <img class="productpopimg" src="@images[0]" align="middle" style="width: 80%;">
                        <input type="hidden" name="is" value="@images[1]">
                        <div class="popupimg" style="display: none; top: 172px; left: 322px;">
                            <img src="@images[0]" align="middle">
                        </div>
                        <hr>
                    </li>
                }

            </ul>
        </div>


    </div>

}