﻿@using LunchKingSite.Core
@using LunchKingSite.DataOrm
@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="~/Tools/ckeditor/jquery.query-2.1.7.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.ui.datepicker-zh-TW.js"></script>
    <script type="text/javascript">
    function getData(queryType, queryStart, queryEnd) {
        var url = '@Url.Action("SearchUsage")';

        var ajaxData = "{'queryType':'" + queryType + "','queryStart':'" + queryStart + "','queryEnd':'" + queryEnd + "'}";
        if (queryType == 'keyword') {
            ajaxData = "{'queryStart':'" + queryStart + "','queryEnd':'" + queryEnd + "','keyWord':'" + $("#hidKeyword").val() + "'}";
            var url = '@Url.Action("SearchUsageWord")';
        }

        $.ajax({
            type: "POST",
            url: url,
            data: ajaxData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res != null) {
                    $('#chartContainer').removeClass('loading');
                    renderChart1(res);
                    window.usageData = res;
                } else {
                    alert('沒有資料!!');
                }
                setEnableFilterControl(true);
            }
        });
    }

    function getKeywordData(queryType, queryStart, queryEnd) {
        var url = '@Url.Action("SearchUsage")';
        $.ajax({
            type: "POST",
            url: url,
            data: "{'queryType':'" + queryType + "','queryStart':'" + queryStart + "','queryEnd':'" + queryEnd + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res != null) {
                    $('#tableContainer').removeClass('loading');
                    renderKeywordTable(res);
                    if (queryType == "topKeywords") {
                        window.topKeywordData = res;
                    } else {
                        window.topKeywordDataByDay = res;
                    }

                } else {
                    alert('沒有資料!!');
                }
                setEnableFilterControl(true);
            }
        });
    }
    function getKeywordByDay(word) {
        var d1 = new Date($("#datepickerStart").val());
        var d2 = new Date($("#datepickerEnd").val());

        var queryStart = d1 > d2 ? $("#datepickerEnd").val() : $("#datepickerStart").val() + ' 00:00:00';
        var queryEnd = d1 > d2 ? $("#datepickerStart").val() : $("#datepickerEnd").val() + ' 23:59:59'

        $('#tableContainer').hide();
        $('#chartContainer').show();
        $("#hidKeyword").val(word);
        getData('keyword', queryStart, queryEnd);
        return false;
    }
    function getHopeData(queryStart, queryEnd) {
        var url = '@Url.Action("SearchUsage")';
        $.ajax({
            type: "POST",
            url: url,
            data: "{'queryType':'hope','queryStart':'" + queryStart + "','queryEnd':'" + queryEnd + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res != null) {
                    $('#tableContainer').removeClass('loading');
                    renderHopeTable(res);
                    window.topHopeData = res;
                } else {
                    alert('沒有資料!!');
                }
                setEnableFilterControl(true);
            }
        });
    }

    function renderChart1(chartData) {
        var title = '使用次數統計-月';
        if ($('#selQueryType').val() == 'usageByDay') {
            title = '使用次數統計-日';
        } else if ($('#selQueryType').val() == 'topKeywords' || $('#selQueryType').val() == 'topKeywordsByDay') {
            title = $("#hidKeyword").val() + '搜尋次數統計';
        }

        var chart = new CanvasJS.Chart("chartContainer",
        {
            title: {
                text: title
            },
            animationEnabled: true,
            axisY: {
                title: ""
            },
            legend: {
                verticalAlign: "bottom",
                horizontalAlign: "center"
            },
            theme: "theme2",
            data: [
                {
                    type: "spline",
                    showInLegend: false,
                    legendMarkerColor: "grey",
                    legendText: "月份",
                    dataPoints: chartData
                }
            ]
        });

        chart.render();
    }


    function KeywordBlock() {

    }

    KeywordBlock.clear = function () {
        $('#tableContainer').find('.tableContainer').remove();
    };
    KeywordBlock.removeall = function (className) {
        $('#tableContainer').find('.' + className).remove();
    };
    KeywordBlock.createBlock = function (queryType) {
        return $('<div></div>').addClass('keyword-block').addClass(queryType).appendTo('#tableContainer');
    };
    KeywordBlock.setTitle = function (block, title) {
        $('<h2></h2>').text(title).appendTo(block);
    };
    KeywordBlock.setTable = function (block) {
        var table = $('<table></table>').addClass('table').addClass('table-bordered');
        //create header
        var thead = $('<thead></thead>').appendTo(table);
        var row = $('<tr></tr>').appendTo(thead);
        row.append('<th>名次</th>');
        row.append('<th>關鍵字</th>');
        row.append('<th>搜尋次數</th>');
        $('<tbody></tbody>').appendTo(table);
        table.appendTo(block);
        return table;
    }

    function renderKeywordTable(topKeywordData) {
        KeywordBlock.clear();

        for (var i in topKeywordData) {
            var block = KeywordBlock.createBlock('topKeywords');
            var grps = topKeywordData[i];
            KeywordBlock.setTitle(block, grps.label);
            var table = KeywordBlock.setTable(block);
            var tbody = table.find('tbody');
            for (var j in grps.items) {
                var row = $('<tr></tr>').appendTo(tbody);
                row.append('<td>' + (parseInt(j, 10) + 1).toString() + '</td>');
                row.append("<td><a href='#' onclick=getKeywordByDay('" + grps.items[j].word + "')>" + grps.items[j].word + '</a></td>');
                row.append('<td>' + grps.items[j].hits + '</td>');
            }
        }
    }

    function renderHopeTable(topHopeData) {
        KeywordBlock.clear();
        var block = KeywordBlock.createBlock('hope');
        KeywordBlock.setTitle(block, '許願池');
        var table = KeywordBlock.setTable(block);

        for (var i in topHopeData) {
            var grps = topHopeData[i];
            var tbody = table.find('tbody');
            var row = $('<tr></tr>').appendTo(tbody);
            row.append('<td>' + grps.row + '</td>');
            row.append('<td>' + grps.word + '</td>');
            row.append('<td>' + grps.hits + '</td>');
        }
    }

    function resetData() {
        KeywordBlock.removeall('topKeywords');
        KeywordBlock.removeall('hope');
        window.topKeywordData = null;
        window.topKeywordDataByDay = null;
        window.usageDatas == null;
        window.topHopeData = null;
    }

    function setEnableFilterControl(isEnable) {
        if (isEnable) {
            $("#selQueryType").removeAttr("disabled");
            $("#datepickerStart").removeAttr("disabled");
            $("#datepickerEnd").removeAttr("disabled");
        } else {
            $("#selQueryType").attr("disabled", "disabled");
            $("#datepickerStart").attr("disabled", "disabled");
            $("#datepickerEnd").attr("disabled", "disabled");
        }
    }

    $(document).ready(function () {

        $("#datepickerStart").datepicker({
            dataFormat: 'yyyy/mm/dd',
            defaultDate: '@DateTime.Now.AddMonths(-12).ToString("yyyy/MM/dd")',
            maxDate: "+0D",
            minDate: '2015/01/01',
            onSelect: function () {
                resetData();
                $('#selQueryType').trigger('change');
            }
        });
        $("#datepickerEnd").datepicker({
            dataFormat: 'yyyy/mm/dd',
            defaultDate: '@DateTime.Now.ToString("yyyy/MM/dd")',
            maxDate: "+1D",
            minDate: '2015/01/01',
            onSelect: function () {
                resetData();
                $('#selQueryType').trigger('change');
            }
        });
        $("#datepickerStart").datepicker("setDate", "@DateTime.Now.AddMonths(-3).ToString("yyyy/MM/dd")");
        $("#datepickerEnd").datepicker("setDate", "@DateTime.Now.ToString("yyyy/MM/dd")");

        $('#selQueryType').change(function () {
            setEnableFilterControl(false);

            var queryType = $('#selQueryType').val();

            var d1 = new Date($("#datepickerStart").val());
            var d2 = new Date($("#datepickerEnd").val());

            var queryStart = d1 > d2 ? $("#datepickerEnd").val() : $("#datepickerStart").val() + ' 00:00:00';
            var queryEnd = d1 > d2 ? $("#datepickerStart").val() : $("#datepickerEnd").val() + ' 23:59:59'

            if (queryType == 'usage' || queryType == 'usageByDay') {
                $('#tableContainer').hide();
                $('#chartContainer').show();
                if (window.usageDatas == null) {
                    getData(queryType, queryStart, queryEnd);
                } else {
                    setEnableFilterControl(true);
                }

            } else if (queryType == 'topKeywords' || queryType == 'topKeywordsByDay') {
                $('#chartContainer').hide();
                $('#tableContainer .hope').hide();
                $('#tableContainer').show();
                $('#tableContainer .topKeywords').show();
                if ((queryType == 'topKeywords' && window.topKeywordData == null) || (queryType == 'topKeywordsByDay' && window.topKeywordDataByDay == null)) {
                    KeywordBlock.removeall('topKeywords');
                    getKeywordData(queryType, queryStart, queryEnd);
                } else {
                    KeywordBlock.removeall('topKeywords');
                    renderKeywordTable(queryType == 'topKeywords' ? window.topKeywordData : window.topKeywordDataByDay);
                    setEnableFilterControl(true);
                }
            } else if (queryType == 'hope') {
                $('#chartContainer').hide();
                $('#tableContainer .topKeywords').hide();
                $('#tableContainer').show();
                $('#tableContainer .hope').show();
                if (window.topHopeData == null) {
                    getHopeData(queryStart, queryEnd);
                } else {
                    setEnableFilterControl(true);
                }
            }
        });
        $('#selQueryType').trigger('change');
        //20160713 加上網址關鍵字可以搜尋的功能
        var k = '@Html.Raw(Request["keyword"])';
        if (k != null && k != "") {
            var d1 = new Date($("#datepickerStart").val());
            var d2 = new Date($("#datepickerEnd").val());
            var queryStart = d1 > d2 ? $("#datepickerEnd").val() : $("#datepickerStart").val() + ' 00:00:00';
            var queryEnd = d1 > d2 ? $("#datepickerStart").val() : $("#datepickerEnd").val() + ' 23:59:59'
            $("#hidKeyword").val(k);
            $('#selQueryType').val('topKeywords');
            getData('keyword', queryStart, queryEnd);
        }
    });
</script>
    <script type="text/javascript" src="//canvasjs.com/assets/script/canvasjs.min.js"></script>
    <style>
        .loading {
            background: url('/Themes/OWriteOff/loading.gif') no-repeat;
        }

        .keyword-block {
            width: 30%;
            float: left;
            margin-right: 30px;
        }
    </style>
}
<form class="form-horizontal" role="form">
    <input type="hidden" id="hidKeyword" />
    <div class="panel panel-primary top-buffer-sm padding-xs" style="width: 1100px; height: 100%">
        <h1 class="text-center">搜尋功能的使用狀況</h1>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-3">
                    <select name="queryType" id="selQueryType" class="form-control">
                        <option value="usage">使用次數統計</option>
                        <option value="usageByDay">使用次數統計(日)</option>
                        <option value="topKeywords">熱門關鍵字</option>
                        <option value="topKeywordsByDay">熱門關鍵字(日)</option>
                        <option value="hope">許願池(搜尋無結果排行)</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="datepickerStart" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input type="text" id="datepickerEnd" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-11">
                    <div id="chartContainer" style="height: 300px; width: 100%;" class="loading">
                    </div>
                    <div id="tableContainer" style="width: 100%; min-height: 300px; display: none" class="loading">
                        <div class="keyword-block" style="display: none">
                            <h2>2014-02</h2>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>名次</th>
                                        <th>關鍵字</th>
                                        <th>搜尋次數</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>####</td>
                                        <td>####</td>
                                        <td>###</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
