﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.Core
@using LunchKingSite.WebLib.Models
@using LunchKingSite.DataOrm
@using LunchKingSite.Core.Component

@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}
@section SSC {
    <script type="text/javascript" src="~/Tools/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.16.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.20/themes/base/jquery-ui.css" type="text/css" media="all" />

    <script type="text/javascript">
        function CheckData() {
            var content = $('textarea[name=content]').val().replace(/\n/g, '');
            if (content.trim().length <= 0) {
                alert('簡訊內容空白');
                return false;
            }

            //var NumberArr = $('textarea[name=phone_list]').val().replace(/\n/g, '');
            var NumberArr = $('textarea[name=phone_list]').val().split('\n');
            var count = 0;
            for (var i in NumberArr) {
                var number = NumberArr[i].trim();
                if (/\D/.exec(number)) {
                    alert('號碼:' + number + '含有非數字字元');
                    return false;
                }

                if (number.length != 10) {
                    alert('號碼:' + number + ' 長度錯誤!');
                    return false;
                }
              
                if ($.inArray(number, NumberArr) != -1 && $.inArray(number, NumberArr) != i) {
                    alert('含有重複號碼:' + number + '');
                    return false;
                }
                count++;
            }
            return confirm('總計' + count + '筆，是否發送?');
        }
    </script>
}
<h2>SMS</h2>
<form role="form" method="post">
    <table>
        <tr>
            <td>簡訊商:</td>
            <td>
                @Html.DropDownList("provider", Enum.GetNames(typeof(SmsSystem)).Where(s => s == SmsSystem.iTe2.ToString() || s == SmsSystem.Sybase.ToString()).Select(x => new SelectListItem { Text = (x == SmsSystem.Undefined.ToString()) ? "系統預設(1:0)" : x, Selected = (x == config.SmsSystem.ToString()) }))
            </td>
        </tr>
        <tr>
            <td>簡訊內容: </td>
            <td>
                <textarea style="height:77px;width:430px" name="content"></textarea>
            </td>
        </tr>
        <tr>
            <td>發送名單(以換行隔開):</td>
            <td>
                <textarea style="height:289px;width:430px" name="phone_list"></textarea><br />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" onclick="return CheckData()" value="發送" />
            </td>
        </tr>
    </table>
</form>