﻿@model LunchKingSite.DataOrm.ViewDiscountEventCampaignCollection

@{
    ViewBag.Title = "StaffEventCampaignSet";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}

<script type="text/javascript" src="~/Tools/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery.maxlength-min.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.min.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery.ui.datepicker-zh-TW.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery.validate.min.js"></script>
<link type="text/css" href="~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />
@section header {
    <script type="text/javascript">
        $(document).ready(function () {

            if ("@ViewBag.message" != "") {
                alert("@ViewBag.message");
            }

            $('#txtStartDate').datepicker();
            $('#txtEndDate').datepicker();
            $("#addCampaign").validate({
                rules: {
                    txtSDate: {
                        required: true,
                        date: true
                    },
                    txtEDate: {
                        required: true,
                        date: true
                    },
                    texqty: {
                        required: function () { return $('input[name=amount]:checked').val() == "rbten"; }
                    },
                    fiftyqty: {
                        required: function () { return $('input[name=amount]:checked').val() == "rbfifty"; }
                    },
                    txtcust: {
                        required: function () { return $('input[name=amount]:checked').val() == "rbcust"; }
                    },
                    txtcustqty: {
                        required: function () { return $('input[name=amount]:checked').val() == "rbcust"; }
                    },
                    miniAmount: {
                        required: function () { return $("#minicheck").attr('checked') == "checked"; }
                    }
                    ,
                    minGrossMargin: {
                        required: true
                    }
                },
                messages: {

                    txtSDate: "請選擇日期",
                    txtEDate: "請選擇日期",
                    texqty: "請輸入數量",
                    fiftyqty: "請輸入數量",
                    txtcustqty: "請輸入數量",
                    txtcust: "請輸入面額",
                    miniAmount: "請輸入金額",
                    minGrossMargin: "請輸入毛利率",

                },
                errorPlacement: function (error, element) {
                    if (element.is(':radio') || element.is(':checkbox')) {
                        var eid = element.attr('name');
                        error.appendTo(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });



        });

        function addEvent() {
            document.getElementById('addEvent').style.display = '';
            document.getElementById('addBtn').style.display = 'none';

        }
        function cancelEvent() {
            document.getElementById('addEvent').style.display = 'none';
            document.getElementById('addBtn').style.display = '';
        }

</script>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
}

<h2>折價券設定</h2>
<form id="addCampaign" method="Post" action="AddCampaign">
    <br>
    <input type="hidden" name="eventId" value="@ViewBag.eventId">
    <div>
        <input type="button" value="新增" class="btn btn-default btn-s" id="addBtn" onclick=" addEvent() " />
    </div>
    <br>
    <table id="addEvent" style="width: 100%; border: 3px #FFAC55 solid; padding: 5px; display: none" rules="all" cellpadding="5">
        <tr height="50">
            <td style="width: 100px">
                折價券名稱
            </td>
            <td>
                <input type="text" name="item.Name" class="required" width="267px">
            </td>
        </tr>
        <tr height="50">
            <td>
                折價券期限
            </td>
            <td>
                <input id="txtStartDate" type="text" name="txtSDate" style="width: 100px">
                <select id="ssh" name="shh">
                    @for (var i = 0; i < 24; i++)
                    {
                        <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                    }
                </select>
                :
                <select id="ssm" name="smm">
                    @for (var i = 0; i < 60; i++)
                    {
                        <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                    }
                </select>
                至
                <input id="txtEndDate" type="text" name="txtEDate" style="width: 100px">
                <select id="seh" name="ehh">
                    @for (var i = 0; i < 24; i++)
                    {
                        <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                    }
                </select>
                :
                <select id="sem" name="emm">
                    @for (var i = 0; i < 60; i++)
                    {
                        <option value="@i.ToString("d2")">@i.ToString("d2")</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>面額</td>
            <td>數量</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="amount" checked="checked" value="rbten">10
            </td>
            <td>
                <input type="text" name="texqty">
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="amount" value="rbfifty">50
            </td>
            <td>
                <input type="text" name="fiftyqty">
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="amount" value="rbcust">
                <input type="text" name="txtcust" style="width: 38px;">
            </td>
            <td>
                <input type="text" name="txtcustqty">
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                使用限制：
            </td>
            <td valign="top">
                <input type="checkbox" id="minicheck" name="minicheck">限制最低訂單金額
                <input type="text" name="miniAmount">
            </td>
        </tr>
        <tr>
            <td>
                最低毛利率：
            </td>
            <td valign="top">
                <input type="text" name="minGrossMargin" value="15" style="width: 50px;">
            </td>
        </tr>
        <tr height="50">
            <td colspan="2">
                <input id="btnSave" type="submit" class="btn btn-default btn-s" value="新增" />
                <input id="btnCancel" type="reset" class="btn btn-default btn-s" value="取消" onclick=" cancelEvent() " />
            </td>
        </tr>
    </table>
</form>
<form method="Post" action="SaveStaffEventCampaign">
    <input type="hidden" name="eventId" value="@ViewBag.eventId">
    @if (Enumerable.Count(ViewBag.campaignList) > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr class="success">
                    <td align="center" style="width: 2%">ID</td>
                    <td align="center" style="width: 20%">折價券活動名稱</td>
                    <td align="center" style="width: 25%">使用期限</td>
                    <td align="center" style="width: 12%">面額</td>
                    <td align="center" style="width: 10%">每人張數</td>
                    <td align="center" style="width: 10%">總數</td>
                    <td align="center" style="width: 15%">使用門檻</td>
                    <td align="center" style="width: 8%"></td>
                </tr>
            </thead>
            <tbody>
                @{
        var i = 0;
        foreach (var item in ViewBag.campaignList)
        {
            <tr>
                <td align="center">@item.CampaignId</td>
                <td align="center"><a href="@Url.Content("~/ControlRoom/discount/discount_detail.aspx?cid=")@item.CampaignId" target="_blank"> @item.CampaignName</a></td>
                <td align="center">@item.StartTime.ToString("yyyy/MM/dd HH:mm") ~ @item.EndTime.ToString("yyyy/MM/dd HH:mm") </td>
                <td align="center">@((item.Amount ?? 0).ToString("N0"))</td>
                <td align="center"><input type="hidden" name="campaignId[@i]" value="@item.CampaignId"><input type="text" name="countSet[@i]" style="width: 40px" value="@(item.EventQty ?? 0)"></td>
                <td align="center">@(item.CampaignQty ?? 0)</td>
                <td align="center">@(item.MinimumAmount != null ? "滿$" + item.MinimumAmount.ToString() : "無")</td>
                <td><input type="button" value="刪除" class="btn btn-default btn-s" onclick=" location.href='@Url.Action("DelCampaign", new {id = item.Id,campaignId = ViewBag.campaignId})' " /></td>
            </tr>
            i++;
        }
                }
            </tbody>
        </table>
        <label style="color: Red;">@ViewBag.totalAmount</label>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <td colspan="8">無符合的資料</td>
            </tr>
        </table>
    }
    <div>
        <input type="submit" class="btn btn-default btn-s" value="儲存" />
        <input type="button" class="btn btn-default btn-s" value="返回" onclick=" location.href='@( Url.Action("StaffDiscountEdit", new {id = ViewBag.eventId}) )' " />
    </div>
</form>