﻿@using LunchKingSite.Core
@model LunchKingSite.BizLogic.Models.Skm.SkmActivityModel
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>綠能騎機週週抽</title>
    <!--支持IE9以下版本（IE8以及IE8以下版本）HTML5 start-->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--支持IE9以下版本（IE8以及IE8以下版本）HTML5 end-->
</head>
<style>

    /*--------- reset ---------*/
    html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, figure {
        margin: 0;
        padding: 0;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        font-size: inherit;
        font: 100%;
    }

    fieldset, img {
        border: none;
    }

    address, caption, cite, code, dfn, em, th, var {
        font-style: normal;
        font-weight: normal;
    }

    img {
        vertical-align: middle;
    }

    abbr, acronym {
        border: none;
        font-variant: normal;
    }

    sup {
        vertical-align: text-top;
    }

    sub {
        vertical-align: text-bottom;
    }

    input, button, textarea, select {
        *font-size: 100%;
    }

    input {
        vertical-align: middle;
    }

    select, input, button, textarea {
        font: 100% Verdana, Arial, Helvetica, sans-serif;
    }

    pre, code, kbd, samp, tt {
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    small {
        font-size: 100%;
    }

    ins {
        text-decoration: none;
    }
    /*--------- style ---------*/
    body {
        font-family: "Arial Bold", "微軟正黑體", "Microsoft Jhenghei", sans-serif;
    }

    .campaign_wrap {
        position: relative;
    }

        .campaign_wrap ul li {
            list-style: none;
        }

        .campaign_wrap hr {
            border: 0.5px dashed #ddd;
            margin: 10px 0;
        }

        .campaign_wrap h4 {
            font-size: 140%;
            text-align: center;
            border-bottom: 2px solid #ddd;
            width: 40%;
            padding-bottom: 10px;
            margin: 20px auto;
        }

        .campaign_wrap .strong {
            font-weight: bold;
        }

        .campaign_wrap .small {
            font-size: 12px;
        }

        .campaign_wrap .black {
            color: #333;
        }

        .campaign_wrap .red {
            color: #DE0716;
        }

        .campaign_wrap .kv_img img {
            width: 100%;
        }

        /*mainTitle*/
        .campaign_wrap .mainTitle {
            border-bottom: 35px;
            padding: 10px;
        }

            .campaign_wrap .mainTitle .time {
                font-size: 15px;
                background-color: #DE0716;
                color: #fff;
                padding: 5px 10px;
                display: inline-block;
                margin-bottom: 10px;
            }

            .campaign_wrap .mainTitle h2 {
                font-weight: normal;
                font-size: 24px;
                color: #DE0716;
                border-bottom: 1px #DE0716 solid;
                padding-bottom: 10px;
            }

        /*campaign_num*/
        .campaign_wrap ul.campaign_num {
            padding: 10px;
        }

            .campaign_wrap ul.campaign_num li {
                border-bottom: 1px solid #eee;
                line-height: 40px;
                height: 40px;
            }

                .campaign_wrap ul.campaign_num li.firstLi {
                    font-size: 13px;
                    background: #eee;
                    text-align: center;
                    color: #666;
                }

                .campaign_wrap ul.campaign_num li .week_time {
                    float: left;
                    width: 64%;
                    height: 40px;
                    overflow: hidden;
                    font-size: 80%;
                    padding-left: 10px;
                }

                .campaign_wrap ul.campaign_num li .record {
                    float: left;
                    width: 30%;
                    height: 40px;
                    overflow: hidden;
                    color: #DE0716;
                    text-align: center;
                }

        /*explain*/
        .campaign_wrap .explain {
            padding: 10px;
            line-height: 1.6;
            color: #666;
            font-size: 16px;
            font-weight: 300;
            /*font-family: Noto Sans TC, '微軟正黑體', Verdana, Arial, Helvetica;*/
        }

            .campaign_wrap .explain ul {
                background: #f2f2f2;
                margin-top: 10px;
            }

                .campaign_wrap .explain ul li {
                    padding: 5px 5px 0px 5px;
                }

        /*獎項*/
        .campaign_wrap .prize {
            padding: 10px;
            color: #666;
            font-size: 16px;
            font-weight: 300;
        }

            .campaign_wrap .prize .prize_img {
                margin-bottom: 20px;
            }

                .campaign_wrap .prize .prize_img img {
                    width: 100%;
                }

        /*note*/
        .campaign_wrap .note {
            margin: 10px;
            padding: 10px 20px 10px 10px;
            line-height: 1.6;
            color: #666;
            font-size: 16px;
            font-weight: 300;
            background-color: #f2f2f2;
            margin-bottom: 90px;
        }

        /*campaign_btn*/
        .campaign_wrap .campaign_btn {
            position: fixed;
            bottom: 0;
            background: #f0efed;
            height: 80px;
            width: 100%;
            padding: 5px 0 5px 0;
            text-align: center;
            font-weight: 400;
            color: #666;
            box-shadow: 0px -2px 3px 0px rgba(102, 102, 102, 0.25), inset 0 1px 2px white;
        }

            .campaign_wrap .campaign_btn ul li {
                float: left;
                width: 32%;
                margin: 0.6%;
            }

                .campaign_wrap .campaign_btn ul li a {
                    text-decoration: none;
                    display: block;
                    clear: both;
                    text-align: center;
                    background: #DE0716;
                    height: 50px;
                    /*line-height: 50px;*/
                    color: #fff;
                    border-radius: 8px;
                }

            .campaign_wrap .campaign_btn a .btn_p_main {
                font-size: 100%;
                padding: 5px 0 2px 0;
            }

            .campaign_wrap .campaign_btn a .btn_p_sec {
                font-size: 12px;
                opacity: 0.7;
            }

    /*跳窗*/
    .block_wrap {
        width: 80%;
        padding: 10px;
        background: #fff;
        z-index: 50;
    }

        .block_wrap .btn_close {
            width: 44px;
            height: 44px;
            background: #fff;
            box-shadow: 0px 0px 10px #aaa;
            color: #333;
            border-radius: 50px;
            border: 1px solid #eee;
            position: absolute;
            right: -20px;
            top: -20px;
            font-size: 34px;
            line-height: 38px;
            text-align: center;
        }

        .block_wrap h5 {
            font-size: 140%;
            text-align: center;
            color: #333;
            border-bottom: 1px solid #ccc;
            padding: 10px 0 10px 0;
        }

        .block_wrap img {
        }

        .block_wrap p.text {
            padding: 10px;
            color: #666;
        }

        .block_wrap .strong {
            font-weight: bold;
            font-size: 120%;
            padding: 0 10px;
        }

        .block_wrap .red {
            color: #DE0716;
        }

        .block_wrap .black {
            color: #333;
        }

        .block_wrap .total_num {
            width: 80%;
            margin: 10px auto;
            background: #f2f2f2;
            text-align: center;
            padding: 10px 0 10px 0;
        }

        .block_wrap .block_btn {
            width: 100%;
        }

            .block_wrap .block_btn a {
                display: block;
                border: 1px solid #DE0716;
                color: #DE0716;
                width: 60%;
                text-align: center;
                line-height: 48px;
                margin: 0 auto;
                text-decoration: none;
                border-radius: 8px;
            }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/tools/js/jquery.bpopup.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
<script type="text/javascript">
    /*更新跳窗*/
    $(function() {
        $('.btn_update').bind('click',
            function(e) {
                e.preventDefault();
                $('.block_update').bPopup();
            });

        $('.btn_login').bind('click',
            function(e) {
                e.preventDefault();
                $('.block_loginMember').bPopup();
            });

        $('.btn_close ').click(function () {
            $(".block_wrap").css('display', 'none');
        });
    });

    function redirectAppDownloadUrl() {
        if (window.android) { // android平台
            location.href = "https://play.google.com/store/apps/details?id=com.skm.siapp&hl=zh_TW";
        } else if (window.webkit) { // ios平台
            location.href = "https://itunes.apple.com/tw/app/%E6%96%B0%E5%85%89%E4%B8%89%E8%B6%8A/id747411888?mt=8";
        }
    }

    function confirmJoin(bid, point) {
        $("#actBid").val(bid);
        $("#actPoint").val(point);
        $("#confirmMsg").html("您將以 " + point + " 點數 參加此活動");
        $('.block_confirm').bPopup();
    }

    function joinActivity() {
        $.blockUI({ message: "<center><font color='red'>處理中，請稍候</font></center>", css: { width: '125px' } });
        var bid = $("#actBid").val();
        var actp = $("#actPoint").val();
        if (bid == "" || actp == "") {
            $("#exceptionMsg").html("系統發生錯誤");
            $.unblockUI();
            $('.block_exception').bPopup();
            return false;
        }

        var data = getOrderData(bid);
        $.ajax({
            type: "POST",
            url: '@Model.ApiSiteUrl/api/skm/MakeActivity?accessToken=@Model.AccessToken.Replace("Bearer ", "")',
            data: JSON.stringify(data),
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            timeout: 60000,
            success: function(result) {
                if (result.code == @((int)ApiResultCode.Success)) {
                    $.unblockUI();
                    $("#joinTimes").html(result.data.thisTimeCharge);
                    $("#SumQty").html(result.data.actRecord.qty);
                    var ids = result.data.actRecord.showRangeIds;
                    $.each(ids, function (index, value) {
                        $(".weekQty" + value).html(result.data.actRecord.qty);
                    });
                    var totalQty = $.isNumeric($(".totalQty").html())
                        ? parseInt($(".totalQty").html()) + result.data.thisTimeCharge : result.data.thisTimeCharge;
                    $(".totalQty").html(totalQty);
                    $('.block_success').bPopup();
                } else {
                    $.unblockUI();
                    if (result.data == null || result.data.actRecord == null || result.data.actRecord.qty == null) {
                        $("#exceptionMsg").html("網路異常請重新再試(" + result.code + ")");
                        $.unblockUI();
                        $('.block_exception').bPopup();
                    } else {
                        $("#errorSumQty").html(result.data.actRecord.qty);
                        $('.block_error').bPopup();
                    }
                }
            },
            error: function(xhr) {
                $("#exceptionMsg").html(xhr.responseText);
                $.unblockUI();
                $('.block_exception').bPopup();
            }
        });

        return false;
    }

    function getOrderData(bid) {
        var orderData = {
            "DtoString": getPaymentDto(bid),
            "DeviceType": @(string.IsNullOrEmpty(Model.DeviceType) ? "0" : Model.DeviceType),
            "CardNo": "@Model.CardNo",
            "DeviceCode": "@Model.DeviceCode",
            "ActivityToken": "@Model.Act.Token"
        }
        return orderData;
    }

    function getPaymentDto(bid, sellerGuid) {
        var data = {
            "aTMAccount" : "",
            "addressInfo" : "",
            "amount" : 0,
            "bCash" : 0,
            "businessHourGuid" : bid,
            "creditcardExpireMonth" : "00",
            "creditcardExpireYear" : '00',
            "creditcardNumber" : "",
            "creditcardSecurityCode" : "",
            "deliveryCharge" : 0,
            "deliveryInfo" : {
                "bonusPoints" : 0,
                "carrierType" : 0,
                "companyTitle" : "",
                "deliveryDateString" : "",
                "deliveryTimeString" : "",
                "deliveryType" : 1,
                "discountCode" : "",
                "entrustSell" : 0,
                "freight" : 0,
                "friendEMail" : "",
                "friendName" : "",
                "genus" : "",
                "invoiceBuyerAddress" : "",
                "invoiceBuyerName" : "",
                "invoiceType" : 2,
                "isEinvoice" : 1,
                "isForFriend" : 0,
                "isPaidByTravelcard" : 0,
                "loveCode" : "",
                "memberDeliveryID" : "-1",
                "notes" : "",
                "payEasyCash" : 0,
                "payType" : 1,
                "phone" : "",
                "quantity" : 1,
                "receiptsType" : 0,
                "sCash" : 0,
                "sellerType" : 3,
                "storeGuid": "00000000-0000-0000-0000-000000000000",
                "toFriendNote" : "",
                "unifiedSerialNumber" : "",
                "version" : 0,
                "writeAddress" : "",
                "writeBuildingGuid" : "00000000-0000-0000-0000-000000000000",
                "writeName" : "",
                "writeShortAddress" : "",
                "writeZipCode" : "",
            },
            "discountCode" : 0,
            "donationReceiptsType": 0,
            "isHami": "",
            "isItem": 0,
            "isPaidByATM" : 0,
            "isShoppingCart": 0,
            "itemOptions": "|#|1",
            "orderGuid": "00000000-0000-0000-0000-000000000000",
            "pCash": 0,
            "paymentAPIProvider": 0,
            "pezId": "",
            "quantity": 1,
            "referenceId": "",
            "resultPageType": 0,
            "sCash": 0,
            "selectedStoreGuid": "00000000-0000-0000-0000-000000000000",
            "sessionId": "",
            "ticketId": "",
            "transactionId" : ""
        };

        return data;
    }

    function callAppLogin() {
        if (window.android) {  // android平台
            window.android.BindCardComplete();
        } else if (window.webkit) {  // ios平台
            window.webkit.messageHandlers.BindCardComplete.postMessage('ok');
        }
    }
</script>
<body>
    <!--跳窗：更新-->
    <div class="block_wrap block_update" style="display:none;">
        <div class="b-close btn_close">×</div>
        <div>
            <h5>請更新</h5>
            <p class="text" style="text-align:center;">
                APP請更新至最新版本才能抽獎喔！
            </p>
            <div class="" style="width:100%;">
                <img style="width:40%; display: block; margin:0 auto;" src="~/images/skm/bn_update.jpg">
            </div>
            <p class="text" style="text-align:center;">
                iOS 版本需求：3.8<br />
                Android 版本需求：3.8<br />
            </p><br />
        </div>
        <div class="block_btn">
            <a onclick="redirectAppDownloadUrl();">前往更新</a>
        </div>
    </div>
    <!--跳窗：成功-->
    <div class="block_wrap block_success" style="display:none;">
        <div>
            <h5>參加成功</h5>
            <div class="" style="width:100%; margin-top:20px;">
                <img style="width:40%; display: block; margin:0 auto;" src="~/images/skm/2020_is_success.jpg">
            </div>
            <p class="text" style="text-align:center;">
                恭喜貴賓 參加成功<span id="joinTimes" class="black strong"></span>次
                <div class="total_num">本週APP上累積參加：<span id="SumQty" class="red strong"></span>次</div>
            </p>
            <br />
            </p><br />
        </div>
        <div class="block_btn">
            <a href="javascript:void(0)" class="b-close">確認</a>
        </div>
    </div>
    <!--跳窗：失敗-->
    <div class="block_wrap block_error" style="display:none;">
        <div>
            <h5>參加失敗</h5>
            <div class="" style="width:100%; margin-top:20px;">
                <img style="width:20%; display: block; margin:0 auto;" src="~/images/skm/ic_error.png">
            </div>
            <p class="text" style="text-align:center;">
                很抱歉貴賓您的點數不足<br />本次無累積
                <div class="total_num">本週APP上累積參加：<span id="errorSumQty" class="red strong"></span>次</div>
            </p>
            <br />
            <br />
        </div>
        <div class="block_btn">
            <a href="javascript:void(0)" class="b-close">確認</a>
        </div>
    </div>
    <!--跳窗：錯誤-->
    <div class="block_wrap block_exception" style="display:none;">
        <div>
            <h5>參加失敗</h5>
            <div class="" style="width:100%; margin-top:20px;">
                <img style="width:20%; display: block; margin:0 auto;" src="~/images/skm/ic_error.png">
            </div>
            <p class="text" id="exceptionMsg" style="text-align:center;">

            </p>
            <br />
            <br />
        </div>
        <div class="block_btn">
            <a href="javascript:void(0)" class="b-close">確認</a>
        </div>
    </div>
    <!--跳窗：訪客-->
    <div class="block_wrap block_loginMember" style="display:none;">
        <div class="b-close btn_close">×</div>
        <div>
            <h5>請登入新光三越貴賓卡</h5>
        </div><br />
        <div class="block_btn">
            <a onclick="callAppLogin();" href="javascript:void(0)" class="b-close">確認</a>
        </div>
    </div>
    <!--跳窗：確認購買-->
    <div class="block_wrap block_confirm" style="display:none;">
        <div class="b-close btn_close">×</div>
        <div>
            <h5>請確認</h5>
            <input type="hidden" id="actBid" value="" />
            <input type="hidden" id="actPoint" value="" />
            <p class="text" id="confirmMsg" style="text-align:center;">
            </p>
        </div><br />
        <div class="block_btn">
            <a onclick="joinActivity();" href="javascript:void(0)" class="b-close">確認</a>
        </div>
    </div>
    <div class="campaign_wrap">
        <!--kv-->
        <div class="kv_img">
            <img src="~/images/skm/1125x483_2020kv.jpg">
        </div>
        <!--title-->
        <div class="mainTitle">
            <div class="time">@DateTime.Now.ToString("yyyy.MM.dd")</div>
            <h2>
                20點抽好車！<br />
                價值83800電動機車騎回家!<br />
                壓軸再抽MINI百萬名車!
            </h2>
        </div>
        <!--登記次數-->
        <ul class="campaign_num ">
            <li class="firstLi">
                <div class="week_time" style="font-size:13px;">活動時間</div>
                <div class="record" style="color:#666; line-height:20px"><div>在app上累積</div>抽獎機會</div>
            </li>

            @foreach (var r in Model.RangeList)
            {
                <li>
                    <div class="week_time">
                        @String.Format("{0} : {1}~{2}", r.Range.RangeName, r.Range.DateRangeStart.ToString("yyyy.MM.dd"), r.Range.DateRangeEnd.ToString("yyyy.MM.dd"))
                    </div>
                    <div id="@String.Format("recordItem{0}", r.Range.Id)" class="record">
                        <span class="@String.Format(" {0}", Model.RangeList.IndexOf(r) == Model.RangeList.Count-1 ? "totalQty" : "weekQty weekQty"+ r.Range.Id)">
                            @String.Format("{0}", r.Qty == 0 ? "-" : r.Qty.ToString())
                        </span> 次
                    </div>
                </li>
            }


        </ul>
        <div class="" style="font-size:12px; /*float:right;*/ color:#666; margin:0 0 10px 0; text-align:center;">*此表與實體登記累積抽獎次數分開統計</div>
        <!--說明-->
        <div class="explain">
            <h4>活動詳情</h4>
            活動期間，於<span class="strong black">新光三越APP</span>上扣會員點數<span class="red">20點</span>或持<span class="strong black">新光三越新光三越貴賓卡/貴賓卡銀卡</span>，或至<span class="strong black">各店贈品處</span>或<span class="strong black">各專櫃</span>扣會員點數<span class="red">20點</span>即可獲得<span class="red">抽獎機會1次</span>，扣40點可獲得抽獎機會兩次...依此類推。每人每卡恕不重覆中獎。
            週週抽「PGO Ur1電動車」3台，活動期間每週未得獎之名單還能參加壓軸加碼抽「MINI Cooper Countryman」1台。每人恕不重覆中獎。當週未中獎，抽獎資格恕無法遞延至下週。<br />
        </div>

        <div class="explain">
            <div style="text-align: center;">
                <span style="color:#333;"><strong>第一週 2020.01.01~2020.01.05</strong></span>
            </div>
            <div style="text-align: center;margin: auto auto 15px auto;">
                <span>
                    <span style="color:red;">PGO Ur1電動車</span><span style="color:#666;">(價值83,800元)</span><br />
                    <span style="color:#333">共3名</span>
                </span>
            </div>
            <div style="text-align: center;">
                <span style="color:#333;"><strong>第二週 2020.01.06~2020.01.12</strong></span>
            </div>
            <div style="text-align: center;margin: auto auto 15px auto;">
                <span>
                    <span style="color:red;">PGO Ur1電動車</span><span style="color:#666;">(價值83,800元)</span><br />
                    <span style="color:#333">共3名</span>
                </span>
            </div>
            <div style="text-align: center;">
                <span style="color:#333;"><strong>第三週 2020.01.13~2020.01.19</strong></span>
            </div>
            <div style="text-align: center;margin: auto auto 15px auto;">
                <span>
                    <span style="color:red;">PGO Ur1電動車</span><span style="color:#666;">(價值83,800元)</span><br />
                    <span style="color:#333">共3名</span>
                </span>
            </div>
            <div style="text-align: center;">
                <span style="color:#333;"><strong>第四週 2020.01.20~2020.01.26</strong></span>
            </div>
            <div style="text-align: center;margin: auto auto 15px auto;">
                <span>
                    <span style="color:red;">PGO Ur1電動車</span><span style="color:#666;">(價值83,800元)</span><br />
                    <span style="color:#333">共3名</span>
                </span>
            </div>
            <div style="text-align: center;">
                <span style="color:#333;"><strong>加碼抽 2020.01.01~2020.01.31</strong></span>
            </div>
            <div style="text-align: center;">
                <span>
                    <span style="color:red">MINI Cooper Countryman</span><span style="color:#666;">(價值1,610,000元)</span><br />
                    <span style="color:#333">共乙名</span>
                </span>
            </div>
        </div>

        <!--獎項-->
        <div class="prize">
            <div class="prize_img">
                <h4>週週抽PGO Ur1電動車</h4>
                <img src="~/images/skm/640x640_weekly.jpg">
                <p class="strong" style="text-align: center">PGO Ur1電動車(每週抽3台)</p>
                <p class="small" style="text-align: center">價值83,800 /台</p>
            </div><br />
            <div class="prize_img">
                <h4>加碼抽MINI Cooper Countryman</h4>
                <img src="~/images/skm/640x640_bonus.jpg">
                <p class="strong" style="text-align: center">MINI Cooper Countryman</p>
                <p class="small" style="text-align: center">價值1,610,000元</p>
            </div>
        </div>
        <!--注意事項-->
        <div class="note">
            注意事項
            <ul style="margin-left: 24px; padding: 8px 0;">
                <li style="list-style-type: decimal;">
                    本活動點數一經兌換，恕不返還。
                </li>
                <li style="list-style-type: decimal;">
                    PGO中獎名單1/1~1/5將於1/7抽出3名、1/6~1/12將於1/14抽出3名、1/13~1/19將於1/21抽出3名、1/20~1/26將於1/28抽出3名，1/1~1/31整檔加碼於2/4抽出1名MINI Cooper Countryman得獎者，將由新光三越於指定日期由電腦隨機抽出，每人每卡恕不重覆中獎，得獎名單統一於開獎日下午3點後公告，統一於公告日後7天內主動致電聯繫顧客與寄發中獎通知函。
                </li>
                <li style="list-style-type: decimal;">
                    活動得獎者需於各領獎期限截止前至指定店別完成領獎手續作業，逾期視同放棄。
                </li>
                <li style="list-style-type: decimal;">
                    PGO電動車獎項為機會中獎類別，得獎者需放棄申請政府補助。
                </li>
                <li style="list-style-type: decimal;">
                    本活動獎項為機會中獎類別，中獎人為本國人時，中獎人所得年度累積受贈之贈品價值超過1,001元(含)以上者，應列入中獎人年度綜合所得，新光三越於年終結算後將依法開立扣繳憑單；另中獎獎項價值超過新台幣20,010元(含)以上者，則依法應扣繳10%稅金，並由新光三越代收；中獎人為外國人(包含外僑)時，則由新光三越先行代扣繳20%之稅額，並將扣繳憑單寄送至中獎人填寫之指定地點。
                </li>
                <li style="list-style-type: decimal;">
                    贈品以實物為準，恕不挑色，中獎人不得要求更換或折換現金，亦不得移轉他人使用。
                </li>
                <li style="list-style-type: decimal;">
                    本活動中獎人如有資格不符者，新光三越百貨有權取消其獲獎資格；若贈品已領取者，可要求其返還贈品實際價格。
                </li>
                <li style="list-style-type: decimal;">
                    中獎人需同意將部分姓名及卡號公佈於官網，且應依照領獎程序填寫完整個人資料。
                </li>
                <li style="list-style-type: decimal;">
                    新光三越APP限智慧型手機下載(作業系統Ios10/Android5.0以上)。
                </li>
                <li style="list-style-type: decimal;">
                    其他未盡事宜以店內公告為準，新光三越保留修改、變更、取消本活動之權利。
                </li>
            </ul>
        </div>

        <!--按鈕-->
        <div class="campaign_btn">
            @if (DateTime.Now > Model.Act.JoinEndDate)
            {
                <text>活動已截止</text>
            }
            else if (DateTime.Now < Model.Act.JoinStartDate)
            {
                <text>活動尚未開始</text>
            }
            else
            {
                <text>我要參加抽獎</text>
            }
            <ul class="btn_two clearfix">
                @foreach (var item in Model.ActItems)
                {
                    <li>
                        <a @if (Model.ActEnabled && (string.IsNullOrEmpty(Model.CardNo) || string.IsNullOrEmpty(Model.UserName) || string.IsNullOrEmpty(Model.DeviceCode) || string.IsNullOrEmpty(Model.DeviceType))) { <text> href="javascript:void(0)" class="btn-secondary btn_update" </text>  } else if (Model.MemStatus == 0) { <text> href="javascript:void(0)" class="btn-secondary btn_login" </text>  } else if (Model.ActEnabled) { <text> onclick="confirmJoin('@item.Bid', @item.ChargesCost)" href="javascript:void(0)" class="btn-secondary" </text>  } else { <text> href="javascript:void(0)" class="btn-secondary" </text> }>
                            <div class="btn_p_main">@String.Format("參加{0}次", item.ChargesVal)</div>
                            <div class="btn_p_sec">@String.Format("需會員點數{0}點", item.ChargesCost)</div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

</body>
</html>
