﻿@using LunchKingSite.Core
@model LunchKingSite.Core.ModelCustom.PrizeDrawEventViewModel
@{
    Layout = null;
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/tools/js/jquery.bpopup.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
<script type="text/javascript">
    /*更新跳窗*/
    $(function() {
        $('.btn_action').bind('click',
            function(e) {
                if (@Model.MemStatus == 0) {
                    $('.block_loginMember').bPopup();
                } else {
                    e.preventDefault();
                    $('.block_action').bPopup();
                }
            });

        if ('@Model.ErrorCode' == '@ApiResultCode.DrawEventOverDailyLimit') {
            $('#errorMsgP').html("今天達到抽獎次數上限了~下次再接再厲囉!");
            $('.block_error').bPopup();
        } else if ('@Model.ErrorCode' == '@ApiResultCode.DrawEventOverTotailLimit') {
            $('#errorMsgP').html("您已經用完抽獎的次數了~謝謝您!祝您有個美好的一天！");
            $('.block_error').bPopup();
        }

        $('.btn-secondary').bind('click',function(e){
            $('#isReChoose').val(0);
            e.preventDefault();
            $('#store_select').bPopup();
        })
    });

    function seeGiftPrize(activeType) {
        switch (activeType) {
            case @((int)ActiveType.GiftCertificate):
                goGiftCertificate();
                break;
            case @((int)ActiveType.CashCoupon):
                goCashCoupon();
                break;
        }
    }

    function goGiftCertificate() {
        if (window.android) {  // android平台我的電子禮券
            window.android.GoGiftCertificate();
        } else if (window.webkit) {  // ios平台
            window.webkit.messageHandlers.GoGiftCertificate.postMessage('ok');
        }
    }

    function goCashCoupon() {
        if (window.android) {  // android平台我的電子抵用金
            window.android.GoCashCoupon();
        } else if (window.webkit) {  // ios平台
            window.webkit.messageHandlers.GoCashCoupon.postMessage('ok');
        }
    }

    function callAppLogin() {
        if (window.android) {  // android平台
            window.android.BindCardComplete();
        } else if (window.webkit) {  // ios平台
            window.webkit.messageHandlers.BindCardComplete.postMessage('ok');
        }
    }


    function reSet() {

        $('#eventDiv').show();
        $('#resultDiv').hide();
        $(".resetBtn").hide();
        $(".resetTxt").html("");

        var arr = $('#isArrivalLimit').val();
        if (arr== 1) {
            $('#errorMsgP').html("今天達到抽獎次數上限了~下次再接再厲囉!");
            $('.block_error').bPopup();
        } else if (arr== 2) {
            $('#errorMsgP').html("您已經用完抽獎的次數了~謝謝您!祝您有個美好的一天！");
            $('.block_error').bPopup();
        }
    }

    function joinPrizeDraw() {
        $.blockUI({ message: "<center><font color='red'>抽獎中，請稍候</font></center>", css: { width: '125px' } });
        $(".resetBtn").hide();
        $(".resetTxt").html("");
        $.ajax({
            type: "POST",
            url: '@Model.ApiSiteUrl/api/skm/PrizeDrawOrder?accessToken=@Model.AccessToken.Replace("Bearer ","")',
            data: JSON.stringify(getDrawData()),
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function(result) {
                if (result.code == '@((int)ApiResultCode.Success)') {
                    $.unblockUI();
                    $('#recordId').val(result.data.recordId);
                    $('#eventDiv').hide();
                    $('#resultDiv').show();
                    $('#prizeMyCountDiv').show();
                    $('#prizeText').show();
                    $('#prizeContent').html(result.data.itemName); //獎項名稱
                    $('#prizeContent').show();
                    $('#prizeQty').html(result.data.remainDrawQty); //可抽獎數

                    if (!result.data.itemIsThanks) {
                        $('#prizeTitle').html("恭喜您獲得");
                    }
                    if (!result.data.itemIsThanks
                        && result.data.itemActiveType != @((int)ActiveType.GiftCertificate)
                        && result.data.itemActiveType != @((int)ActiveType.CashCoupon)) {
                        $('#exchangeLi').show();
                        $('#goBackLi').hide();
                    } else {//銘謝惠顧直接顯示回到首頁按鈕
                        $('#exchangeLi').hide();
                        $('#goBackLi').show();
                        if (result.data.totalDrawQty > 0) {
                            var html = GetPrizeUlHtml(result.data.drawRecord);
                            $('#prizeItemDiv').show();
                            $('#prizeItemUl').empty();
                            $('#prizeItemUl').append(html);
                        } else {
                            $('#prizeItemDiv').hide();
                        }

                        if (result.data.remainDrawQty === 0 && (result.data.isDailyLimit || $("#totalLimit").val() !== "0")) {//限制不可抽
                            $('#drawOutLiOut').show();
                            $('#drawOutLiAdd').hide();
                            if (result.data.isDailyLimit) {//限制
                                $("#isArrivalLimit").val(1);
                            } else {
                                $("#isArrivalLimit").val(2);
                            }
                        } else {
                            $("#isArrivalLimit").val(0);
                        }
                    }
                }
                else
                {
                    $.unblockUI();
                    var drawOutCode = @((int)ApiResultCode.DrawEventDrawOut);
                    var dailyLimitCode = @((int)ApiResultCode.DrawEventOverDailyLimit);
                    var totalLimitCode = @((int)ApiResultCode.DrawEventOverTotailLimit);
                    var burningFail = @((int)ApiResultCode.SkmBurningFail);
                    var msg = "";
                    if (result.code == drawOutCode) {
                        $('#drawOutDiv').show();
                        $('#drawOutLiAdd').hide();
                        $('#drawOutLiOut').show();
                    }
                    else if (result.code == dailyLimitCode) {
                        $('#errorMsgP').html("今天達到抽獎次數上限了~下次再接再厲囉!");
                        $('.block_error').bPopup();
                        //change btn
                    } else if (result.code == totalLimitCode) {
                        $('#errorMsgP').html("您已經用完抽獎的次數了~謝謝您!祝您有個美好的一天！");
                        $('.block_error').bPopup();
                        //change btn
                    }
                    else if (result.code == burningFail) {
                        msg = "點數不足";
                        $('#errorMsgP').html(msg);
                        $('.block_error').bPopup();
                    } else {
                        msg = "因目前人潮眾多，請稍後再試("+result.code+")";
                        $('#errorMsgP').html(msg);
                        $('.block_error').bPopup();
                    }
                }
        },
        error: function(xhr) {
            $.unblockUI();
            console.log(xhr.responseText);
        }
        });
    }


    function getDrawData() {
        var orderData = {
            "DeviceType": @(string.IsNullOrEmpty(Model.DeviceType) ? "0" : Model.DeviceType),
            "CardNo": "@Model.CardNo",
            "DeviceCode": "@Model.DeviceCode",
            "EventToken": "@Model.EventToken",
            "Authorization": "@Model.AccessToken",
            "UserName": "@Model.UserName"
        }
        return orderData;
    }

    function reChooseExchangeStore(recordId) {
        $('#recordId').val(recordId);
        $('#isReChoose').val(1);
        $('#store_select').bPopup();
    }

    function getExchangeData() {
        var orderData = {
            "EventToken": "@Model.EventToken",
            "CardNo": "@Model.CardNo",
            "DeviceCode": "@Model.DeviceCode",
            "Authorization": "@Model.AccessToken",
            "ShopCode": $('#skm-building').val(),
            "RecordId":$('#recordId').val()
        }
        return orderData;
    }

    function goExchangeStore() {
        if ($('#skm-building').val() != '' && $('#skm-building').val() != undefined) {
            $('#store-selection-send').attr('disabled', 'disabled');
            //alert('disabled');
            $.ajax({
                type: "POST",
                url: '@Model.ApiSiteUrl/api/skm/PrizeDrawExchange?accessToken=@Model.AccessToken.Replace("Bearer ","")',
                data: JSON.stringify(getExchangeData()),
                async: true,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(result) {
                    if (result.code == '@((int)ApiResultCode.Success)') {

                        if ($('#isReChoose').val() != 1) {

                            $('#eventDiv').hide();
                            $('#resultDiv').show();
                            //隱藏獎項顯示注意事項
                            $('#prizeContent').hide();
                            $('#prizeText').hide();
                            $('#prizeNotice').html(result.data.notice);
                            $('#prizeNotice').show();
                        }

                        $('#store_select').bPopup().close();
                        $('#exchangeLi').hide();
                        $('#goBackLi').show();

                        var html = GetPrizeUlHtml(result.data.drawRecord);
                        if (result.data.drawRecord.length > 0) {
                            $('#prizeItemDiv').show();
                            $('#prizeItemUl').empty();
                            $('#prizeItemUl').append(html);
                        }

                        if (result.data.remainDrawQty == 0 && (result.data.isDailyLimit || $("#totalLimit").val() !== "0")) {
                            $('#drawOutLiOut').show();
                            $('#drawOutLiAdd').hide();

                            if (result.data.isDailyLimit) {
                                $("#isArrivalLimit").val(1);//達到每日限制
                            } else {
                                $("#isArrivalLimit").val(2);//達到總次數限制
                            }
                        } else {
                            $("#isArrivalLimit").val(0);
                        }

                    } else {
                        alert("系統繁忙"+result.code);
                    }
                        
                    $('#store-selection-send').removeAttr('disabled');
                },
                error: function(xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    }

    function GetPrizeUlHtml(record) {
        var html = "";
        $.each(record,
            function(index, value) {
                html += "<li class=\"table_li\"><div class=\"li_left\">";
                html += "<span class=\"li_num\">" + (index + 1) + "</span>";
                html += value.itemName;
                html += "<span class=\"date\">" + value.createTime + "</span>";
                html += "</div>";
                html += "<div class=\"li_right\">";
                if (value.isThanks) {
                    html += "銘謝惠顧";
                } else if (value.activeType == @((int)ActiveType.GiftCertificate) ||
                           value.activeType == @((int)ActiveType.CashCoupon))
                {
                    html += "";
                }else if ( value.shopName != '' && value.shopName != null)
                {
                    html += value.shopName;
                }else {
                    html +="<span onclick=\"reChooseExchangeStore('"+value.recordId+"')\" style=\"color: red\">請選擇領取地點</span>";
                }
                html += "</div></li>";
            });
        return html;
    }

</script>
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@Model.Subject</title>
    <link rel="stylesheet" href="~/Themes/skmApp/skmAppPrizeDraw.css" type="text/css">
    <!--支持IE9以下版本（IE8以及IE8以下版本）HTML5 start-->
    <!--[if (gte IE 6)&(lte IE 8)]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--支持IE9以下版本（IE8以及IE8以下版本）HTML5 end-->
</head>
<style>
    body {
        background-color: #A73939;
    }
    /*背景顏色色碼*/
    .campaign_contenter .p_title {
        color: #ffffff;
    }
    /*恭喜您獲得 文字色碼*/
    .campaign_contenter .campaign_contenter_box .p_prize {
        /*color: #333333;*/
    }
    /*獎項 文字色碼*/
    .campaign_contenter .p_text {
        color: #ffffff;
    }
    /*說明文案 文字色碼*/
</style>

<body class="bg-gray">
    <!--Start 跳窗們 -->
    <div class="block_wrap block_error" style="display: none;">
        <div class="b-close btn_close">×</div>
        <div>
            <h5>請確認</h5>
            <p class="text" style="text-align: center;" id="errorMsgP">
                錯誤訊息出現在此
            </p><br />
        </div>
    </div>
    <div class="block_wrap block_loginMember" style="display: none;">
        <div class="b-close btn_close">×</div>
        <div>
            <h5>請登入新光三越貴賓卡</h5>
        </div><br />
        <div class="block_btn">
            <a onclick="callAppLogin();" href="javascript:void(0)" class="b-close">確認</a>
        </div>
    </div>
    <!-- 選擇領取地點 -->
    <div class="block_wrap" id="store_select" style="display: none">
        <div class="head">
            <h3>選擇領取地點</h3>
        </div>
        <div class="content">
            <div class="skm-store-selection">
                <label for="skm-store">您想在哪間分店領取？</label>
                <select name="skm-store" id="skm-store" required onchange="storeChange()">
                    <option value="" hidden>點此選擇領取店別</option>
                    @foreach (var store in Model.SellerDpList)
                    {
                        <option value="@store.Key">@store.Value</option>
                    }
                </select>
            </div>
            <div class="skm-building-selection">
                <label for="skm-building">您想在哪一館領取？</label>
                <select name="skm-building" id="skm-building" required></select>
            </div>
            <select name="optionHolder" id="optionHolder" style="display:none" disabled>
                <option value="" hidden>點此選擇領取館別</option>
                @foreach (var item in Model.StoreDpList)
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
        </div>
        <button id="store-selection-send" class="btn" href="javascript:void(0);" onclick="goExchangeStore()">
            確認
        </button>
    </div>
    <!--End 跳窗們 -->
    <input type="hidden" name="totalLimit" id="totalLimit" value="@Model.TotalLimit" />
    <div class="block_wrap block_action" style="display: none;">
        <div class="b-close btn_close">×</div>
        <div>
            <h5>請確認</h5>
            <p class="text" style="text-align: center;">
                您將以 @Model.JoinFee 點數 參加此活動
            </p><br />
        </div>
        <div class="block_btn">
            <a href="" onclick="joinPrizeDraw()" class="b-close">我要參加</a>
        </div>
    </div>
    <div class="campaign_wrap" id="eventDiv">
        <div class="campaign_img">
            <div id="drawOutDiv" class="sloduot_wrpa" style="@((!Model.IsCanJoinPrizeDraw && Model.ErrorCode == ApiResultCode.DrawEventDrawOut) ? "display:block;" : "display:none;")">
                <p>本活動贈品已兌換完畢，感謝您的參與。</p>
            </div>
            <img src="@Model.PrizeImg">
        </div>

        <!--↓↓有參加活動的帳號才出現:累積表格↓↓-->
        <div class="table_wrap" id="prizeMyCountDiv" style="@((Model.TotalDrawQty>0) ? "display:block;" : "display:none;")">
            <div class="table_num wrapper_19">
                <div class="table_row table_row_first">
                    <div class="table_title">@Model.Subject</div>
                </div>
                <div class="table_row">
                    <div class="table_title">@(Model.DailyLimit != 0 ? "今日可抽獎次數" : "本活動可參加抽獎剩餘次數")</div>
                    @if (Model.RemainDrawQty == 0 && Model.DailyLimit == 0 && Model.TotalLimit == 0)
                    {
                        <div class="table_record" style="color: red">無限制</div>
                    }
                    else
                    {
                        <div class="table_record"><span class="f-red f-140" id="prizeQty">@Model.RemainDrawQty</span>次</div>
                    }
                </div>
            </div>
            <div class="table_item" id="prizeItemDiv" style="@((Model.DrawRecord.Count > 0) ? "display:block;" : "display:none;")">
                <h6>
                    <span class="table_line">-----</span>
                    我的獲獎紀錄
                    <span class="table_line">-----</span>
                </h6>
                <ul id="prizeItemUl" class="wrapper_19">
                    @for (var i = 0; i < Model.DrawRecord.Count; i++)
                    {
                        <li class="table_li">
                            <span class="li_num">@(i + 1)</span>
                            <div class="li_left">
                                @Model.DrawRecord[i].ItemName
                                <span class="date">@Model.DrawRecord[i].CreateTime.ToString("yyyy/MM/dd HH:mm")</span>
                            </div>
                            <div class="li_right">
                                @if (Model.DrawRecord[i].IsThanks)
                                {
                                    <text > 銘謝惠顧 </text>
                                }
                                else if (Model.DrawRecord[i].ActiveType == (int)ActiveType.GiftCertificate || Model.DrawRecord[i].ActiveType == (int)ActiveType.CashCoupon)
                                {
                                    <text > </text>
                                }
                                else if (!string.IsNullOrEmpty(Model.DrawRecord[i].ShopName))
                                {
                                    @Model.DrawRecord[i].ShopName
                                }
                                else
                                {
                                    <span onclick="reChooseExchangeStore('@Model.DrawRecord[i].Id')" style="color: red"> 請選擇領取地點 </span>
                                }
                            </div>
                        </li>
                        }
                </ul>
                <p class="p_small">*獎項以時間順序排列</p>
            </div>
        </div>
        <!--↑↑有參加活動的帳號才出現↑↑-->

        <div class="campaign_edit">
            @Html.Raw(HttpUtility.UrlDecode(Model.EventHtmlContent))
        </div>

        <div class="campaign_btn">
            <ul class="btn_one">
                <li id="drawOutLiAdd" style="@((Model.IsCanJoinPrizeDraw) ? "display:block;" : "display:none;")"><a href="javascript:void(0)" id="btn_action1" class="btn-primary btn_action">參加活動</a></li>
                <li id="drawOutLiOut" style="@((!Model.IsCanJoinPrizeDraw) ? "display:block;" : "display:none;")"><a href="javascript:void(0)" class="btn-disabled">活動結束</a></li>

            </ul>
        </div>
    </div>
    <div class="campaign_wrap" id="resultDiv" style="display: none;">
        <input type="hidden" name="recordId" id="recordId">
        <input type="hidden" name="isReChoose" id="isReChoose">
        <input type="hidden" name="isArrivalLimit" id="isArrivalLimit">
        <div class="campaign_img">
            <img src="@Model.WinningBackgroundImg">
        </div>
        <div class="campaign_contenter fadein_css3">
            <p class="p_title resetTxt" id="prizeTitle"></p>
            <div class="campaign_contenter_box">
                <img src="@Model.WinningSmallImg">
                <p class="p_prize title resetTxt" id="prizeText"></p>
                <p class="p_prize content resetTxt" id="prizeContent"></p>
                <p class="p_prize notice resetTxt" id="prizeNotice">
                    @*注意事項+領取地點*@
                </p>
            </div>
            <a class="btn-link resetBtn btn_GiftCertificate" onclick="seeGiftPrize(@((int)ActiveType.GiftCertificate))" style="display:none">查看獎品</a>
            <a class="btn-link resetBtn btn_CashCoupon" onclick="seeGiftPrize(@((int)ActiveType.CashCoupon))" style="display:none">查看獎品</a>
        </div>

        <div class="campaign_btn">
            <ul class="btn_one" id="btn_Else">
                <li id="exchangeLi"><a href="javascript:void(0)" class="btn-secondary">選擇領取地點</a></li>
                <li id="goBackLi"><a onclick="reSet()" href="javascript:void(0)" class="btn-primary">回活動主頁</a></li>
            </ul>
        </div>
    </div>
</body>
</html>

<script>
    function storeChange() {
        var storeValue = $("#skm-store").val();
        $("#skm-building").empty();
        $("#optionHolder option").each(function () {
            if ($(this).val().indexOf(storeValue) > -1) {
                $("#skm-building").append($("<option></option>").attr("value", $(this).val()).text($(this).text()));
            }
        });

        $(".skm-building-selection").css('opacity', '1');
        $("#store-selection-send").addClass("active");
        $("#store-selection-send").css('opacity', '1');
    }
</script>