﻿@using LunchKingSite.Core
@model LunchKingSite.Core.ModelCustom.PrizeDrawEventViewModel
@{
    Layout = null;
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/tools/js/jquery.bpopup.js"></script>
<script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
<script type="text/javascript">
    /*更新跳窗*/
    $(function() {
        $('.btn_action').bind('click',
            function(e) {
                e.preventDefault();
                    $('.block_action').bPopup();
            });

        if ('@Model.ErrorCode' == '@ApiResultCode.DrawEventOverDailyLimit') {
            $('#errorMsgP').html("今天達到抽獎次數上限了~下次再接再厲囉!");
            $('.block_error').bPopup();
        } else if ('@Model.ErrorCode' == '@ApiResultCode.DrawEventOverTotailLimit') {
            $('#errorMsgP').html("您已經用完抽獎的次數了~謝謝您!祝您有個美好的一天！");
            $('.block_error').bPopup();
        }

        $('.btn-secondary').bind('click',function(e){
            $('#isReChoose').val(0);
            e.preventDefault();
            $('#store_select').bPopup();
        })
    });

    function seeGiftPrize(activeType) {
        switch (activeType) {
            case @((int)ActiveType.GiftCertificate):
                goGiftCertificate();
                break;
            case @((int)ActiveType.CashCoupon):
                goCashCoupon();
                break;
        }
    }

    function goGiftCertificate() {
        if (window.android) {  // android平台我的電子禮券
            window.android.GoGiftCertificate();
        } else if (window.webkit) {  // ios平台
            window.webkit.messageHandlers.GoGiftCertificate.postMessage('ok');
        }
    }

    function goCashCoupon() {
        if (window.android) {  // android平台我的電子抵用金
            window.android.GoCashCoupon();
        } else if (window.webkit) {  // ios平台
            window.webkit.messageHandlers.GoCashCoupon.postMessage('ok');
        }
    }

    function callAppLogin() {
        if (window.android) {  // android平台
            window.android.BindCardComplete();
        } else if (window.webkit) {  // ios平台
            window.webkit.messageHandlers.BindCardComplete.postMessage('ok');
        }
    }


    function reSet() {

        $('#eventDiv').show();
        $('#resultDiv').hide();
        $(".resetBtn").hide();
        $(".resetTxt").html("");

        var arr = $('#isArrivalLimit').val();
        if (arr== 1) {
            $('#errorMsgP').html("今天不能再抽啦！明日請早，加油！");
            $('.block_error').bPopup();
        } else if (arr== 2) {
            $('#errorMsgP').html("喔喔！您的抽獎次數用完了。期待明年與您相遇！");
            $('.block_error').bPopup();
        }
    }

    function joinPrizeDraw() {
        $.blockUI({ message: "<center><font color='red'>抽獎中，請稍候</font></center>", css: { width: '125px' } });
        $(".resetBtn").hide();
        $(".resetTxt").html("");

        $.unblockUI();
        $('#recordId').val(0);
        $('#eventDiv').hide();
        $('#resultDiv').show();
        $('#prizeMyCountDiv').show();
        $('#prizeText').show();
        $('#prizeContent').html("我是獎項名稱我是獎項名稱"); //獎項名稱
        $('#prizeContent').show();
        $('#prizeQty').html(100); //可抽獎數

        $('#prizeTitle').html("恭喜您獲得");
        $('#exchangeLi').show();
        $('#goBackLi').hide();

        var html = GetPrizeUlHtml();

        $('#prizeItemDiv').show();
        $('#prizeItemUl').empty();
        $('#prizeItemUl').append(html);
    }


    function getDrawData() {
        var orderData = {
            "DeviceType": @(string.IsNullOrEmpty(Model.DeviceType) ? "0" : Model.DeviceType),
            "CardNo": "@Model.CardNo",
            "DeviceCode": "@Model.DeviceCode",
            "EventToken": "@Model.EventToken",
            "Authorization": "@Model.AccessToken",
            "UserName": "@Model.UserName",
            "SellerGuid": "@Model.SellerGuid"
        }
        return orderData;
    }

    function reChooseExchangeStore(recordId) {
        $('#recordId').val(recordId);
        $('#isReChoose').val(1);
        $('#store_select').bPopup();
    }

    function getExchangeData() {
        var orderData = {
            "EventToken": "@Model.EventToken",
            "CardNo": "@Model.CardNo",
            "DeviceCode": "@Model.DeviceCode",
            "Authorization": "@Model.AccessToken",
            "ShopCode": $('#skm-building').val(),
            "RecordId":$('#recordId').val()
        }
        return orderData;
    }

    function goExchangeStore() {
        if ($('#skm-building').val() != '' && $('#skm-building').val() != undefined) {
        
            $('#eventDiv').hide();
            $('#resultDiv').show();
            //隱藏獎項顯示注意事項
            $('#prizeContent').hide();
            $('#prizeText').hide();
            $('#store_select').bPopup().close();
            $('#exchangeLi').hide();
            $('#goBackLi').show();
            $('#prizeNotice').show();
            $('#prizeNotice').html("我是注意事項我是注意事項我是注意事項");
        }
    }

    function GetPrizeUlHtml() {
        var html = "";
        html += "<li class=\"table_li\"><div class=\"li_left\">";
        html += "<span class=\"li_num\">" + 1 + "</span>";
        html += "我是獎項";
        html += "<span class=\"date\">2018/12/20 18:00</span>";
        html += "</div>";
        html += "<div class=\"li_right\">";
        html += "新光三越A8館";
        html += "</div></li>";
        return html;
    }

</script>
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>@Model.Subject</title>
    <link rel="stylesheet" href="~/Themes/skmApp/skmAppPrizeDraw.css" type="text/css">
    <!--支持IE9以下版本（IE8以及IE8以下版本）HTML5 start-->
    <!--[if (gte IE 6)&(lte IE 8)]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--支持IE9以下版本（IE8以及IE8以下版本）HTML5 end-->
</head>
<style>
    body {
        background-color: #A73939;
    }
    /*背景顏色色碼*/
    .campaign_contenter .p_title {
        color: #ffffff;
    }
    /*恭喜您獲得 文字色碼*/
    .campaign_contenter .campaign_contenter_box .p_prize {
        /*color: #333333;*/
    }
    /*獎項 文字色碼*/
    .campaign_contenter .p_text {
        color: #ffffff;
    }
    /*說明文案 文字色碼*/
</style>

<body class="bg-gray">
    <!--Start 跳窗們 -->
    <div class="block_wrap block_error" style="display: none;">
        <div class="b-close btn_close">×</div>
        <div>
            <h5>請確認</h5>
            <p class="text" style="text-align: center;" id="errorMsgP">
                錯誤訊息出現在此
            </p><br />
        </div>
    </div>
    <div class="block_wrap block_loginMember" style="display: none;">
        <div class="b-close btn_close">×</div>
        <div>
            <h5>請登入新光三越貴賓卡</h5>
        </div><br />
        <div class="block_btn">
            <a onclick="callAppLogin();" href="javascript:void(0)" class="b-close">確認</a>
        </div>
    </div>
    <!-- 選擇領取地點 -->
    <div class="block_wrap" id="store_select" style="display: none">
        <div class="head">
            <h3>選擇領取地點</h3>
        </div>
        <div class="content">
            <div class="skm-store-selection">
                <label for="skm-store">您想在哪間分店領取？</label>
                <select name="skm-store" id="skm-store" required>
                    <option value="" hidden>點此選擇領取店別</option>
                    <option value="" hidden>點此選擇領取店別</option>
                    <option value="#0101">台北站前店</option>
                    <option value="#0102">台北南西店</option>
                    <option value="#0103">台北信義新天地</option>
                </select>
            </div>
            <div class="skm-building-selection">
                <label for="skm-building">您想在哪一館領取？</label>
                <select name="skm-building" id="skm-building" required></select>
                <select name="optionHolder" id="optionHolder" style="display:none">
                    <option value="" hidden>點此選擇領取館別</option>
                    <option value="#010301">台北信義新天地A4全館</option>
                    <option value="#010302">台北信義新天地A9全館</option>
                    <option value="#010302">台北信義新天地A8全館</option>
                    <option value="#010303">台北信義新天地A11全館</option>
                    <option value="#010201">台北南西店一館</option>
                    <option value="#010202">台北南西店二館</option>
                    <option value="#010203">台北南西店三館</option>
                    <option value="#010101">台北站前店全館</option>
                </select>
            </div>
        </div>
        <a id="store-selection-send" class="btn" href="javascript:void(0);" onclick="goExchangeStore()">
            確認
        </a>
    </div>
    <!--End 跳窗們 -->
    <div class="block_wrap block_action" style="display: none;">
        <div class="b-close btn_close">×</div>
        <div>
            <h5>請確認</h5>
            <p class="text" style="text-align: center;">
                您將以 @Model.JoinFee 點數 參加此活動
            </p><br />
        </div>
        <div class="block_btn">
            <a href="" onclick="joinPrizeDraw()" class="b-close">我要參加</a>
        </div>
    </div>
    <div class="campaign_wrap" id="eventDiv">
        <div class="campaign_img">
            <div id="drawOutDiv" class="sloduot_wrpa" style="@((!Model.IsCanJoinPrizeDraw && Model.ErrorCode == ApiResultCode.DrawEventDrawOut) ? "display:block;" : "display:none;")">
                <p>本活動贈品已兌換完畢，感謝您的參與。</p>
            </div>
            @*<div id="dailyLimitDiv" class="sloduot_wrpa" style="@((!Model.IsCanJoinPrizeDraw && Model.ErrorCode == ApiResultCode.DrawEventOverDailyLimit) ? "display:block;" : "display:none;")">
                    <p>今天不能再抽啦！明日請早，加油！</p>
                </div>
                <div id="totalLimitDiv" class="sloduot_wrpa" style="@((!Model.IsCanJoinPrizeDraw && Model.ErrorCode == ApiResultCode.DrawEventOverTotailLimit) ? "display:block;" : "display:none;")">
                    <p>喔喔！您的抽獎次數用完了。期待明年與您相遇！</p>
                </div>*@
            <img src="@Model.PrizeImg">
        </div>

        <!--↓↓有參加活動的帳號才出現:累積表格↓↓-->
        <div class="table_wrap" id="prizeMyCountDiv" style="@((Model.TotalDrawQty>0) ? "display:block;" : "display:none;")">
            <div class="table_num wrapper_19">
                <div class="table_row table_row_first">
                    <div class="table_title">@Model.Subject</div>
                </div>
                <div class="table_row">
                    <div class="table_title">@(Model.DailyLimit != 0 ? "今日可抽獎次數" : "本活動可參加抽獎剩餘次數")</div>
                    @if (Model.RemainDrawQty == 0 && Model.DailyLimit == 0 && Model.TotalLimit == 0)
                    {
                        <div class="table_record" style="color: red">無限制</div>
                    }
                    else
                    {
                        <div class="table_record"><span class="f-red f-140" id="prizeQty">@Model.RemainDrawQty</span>次</div>
                    }
                </div>
            </div>
            <div class="table_item" id="prizeItemDiv" style="@((Model.DrawRecord.Count > 0) ? "display:block;" : "display:none;")">
                <h6>
                    <span class="table_line">-----</span>
                    我的獲獎紀錄
                    <span class="table_line">-----</span>
                </h6>
                <ul id="prizeItemUl" class="wrapper_19">
                    @for (var i = 0; i < Model.DrawRecord.Count; i++)
                    {
                        <li class="table_li">
                            <span class="li_num">@(i + 1)</span>
                            <div class="li_left">
                                @Model.DrawRecord[i].ItemName
                                <span class="date">@Model.DrawRecord[i].CreateTime.ToString("yyyy/MM/dd HH:mm")</span>
                            </div>
                            <div class="li_right">
                                @if (!string.IsNullOrEmpty(Model.DrawRecord[i].ShopName))
                                {
                                    @Model.DrawRecord[i].ShopName
                                }
                                else if (Model.DrawRecord[i].IsThanks)
                                {
                                    <text>銘謝惠顧</text>
                                }
                                else
                                {
                                    <span onclick="reChooseExchangeStore('@Model.DrawRecord[i].Id')" style="color: red"> 請選擇領取地點 </span>
                                }
                            </div>
                        </li>
                    }
                </ul>
                <p class="p_small">*獎項以時間順序排列</p>
            </div>
        </div>
        <!--↑↑有參加活動的帳號才出現↑↑-->

        <div class="campaign_edit">
            @Html.Raw(HttpUtility.UrlDecode(Model.EventHtmlContent))
        </div>

        <div class="campaign_btn">
            <ul class="btn_one">
                <li id="drawOutLiAdd"><a href="javascript:void(0)" id="btn_action1" class="btn-primary btn_action">參加活動</a></li>
               
            </ul>
        </div>
    </div>
    <div class="campaign_wrap" id="resultDiv" style="display: none;">
        <input type="hidden" name="recordId" id="recordId">
        <input type="hidden" name="isReChoose" id="isReChoose">
        <input type="hidden" name="isArrivalLimit" id="isArrivalLimit">
        <div class="campaign_img">
            <img src="@Model.WinningBackgroundImg">
        </div>
        <div class="campaign_contenter fadein_css3">
            <p class="p_title resetTxt" id="prizeTitle"></p>
            <div class="campaign_contenter_box">
                <img src="@Model.WinningSmallImg">
                <p class="p_prize title resetTxt" id="prizeText"></p>
                <p class="p_prize content resetTxt" id="prizeContent"></p>
                <p class="p_prize notice resetTxt" id="prizeNotice">
                    @*注意事項+領取地點*@
                </p>
            </div>
            <a class="btn-link resetBtn btn_GiftCertificate" onclick="seeGiftPrize(@((int)ActiveType.GiftCertificate))" style="display:none">查看獎品</a>
            <a class="btn-link resetBtn btn_CashCoupon" onclick="seeGiftPrize(@((int)ActiveType.CashCoupon))" style="display:none">查看獎品</a>
        </div>

        <div class="campaign_btn">
            <ul class="btn_one" id="btn_Else">
                <li id="exchangeLi"><a href="javascript:void(0)" class="btn-secondary">選擇領取地點</a></li>
                <li id="goBackLi"><a onclick="reSet()" href="javascript:void(0)" class="btn-primary">回活動主頁</a></li>
            </ul>
        </div>
    </div>
</body>

<script>
    // 跳窗選單的選項顯示設定
    if (document.getElementsByClassName('skm-store-selection')) {
        let seller = document.getElementById('skm-store');
        let storeHoler = document.getElementById('optionHolder');
        seller.onchange = function () {
            if (seller.options[this.selectedIndex].value != "") {
                $("#skm-building").empty();
                var sellerGuid = seller.options[this.selectedIndex].value;
                for (i = 0; i < storeHoler.options.length; i++) {
                    var value = storeHoler.options[i].value;
                    if (value.indexOf(sellerGuid) != -1) {
                        $('#optionHolder option[value="' + value + '"]').clone().appendTo('#skm-building');
                    }
                }
                document.getElementsByClassName('skm-building-selection')[0].style.opacity = 1;
                let send_btn = document.getElementById('store-selection-send');
                send_btn.classList.add('active');
            } else {
                send_btn.classList.remove('active');
            }
        }
        let storeShow = document.getElementById('skm-building');
        storeShow.onchange = function () {
            let seller_active = seller.options[this.selectedIndex];
            let storeShow_active = storeShow.options[this.selectedIndex];
            if (seller_active.value != "" && storeShow_active.value != "") {
                let send_btn = document.getElementById('store-selection-send');
                send_btn.classList.add('active');
            } else {
                send_btn.classList.remove('active');
            }
        }
    }
</script>
</html>