﻿@{
    ViewBag.Title = "MembershipCard";
}

@model LunchKingSite.WebLib.Models.App.MembershipCardModel

<head>
    <title>熟客17來</title>
    <meta property='og:title' content='@Model.FBTitle' />
    <meta property='og:image' content='@Model.FBImageUrl' />
    <meta property='og:description' content='@Model.FBDescription' />
    
    
    <script type="text/javascript" language="javascript">
    function openAtAPP(d) {
        if (d == "ios") {
            var start = new Date();
            window.setTimeout(function () {
                if (new Date() - start > 2000) {
                    return;
                }
                document.location = "@Model.MembershipCardPromoUrl";
            }, 1000);
            document.location = "open17life://www.17life.com?groupId=@Model.GroupId&refereeId=@Model.RefereeId";
        }
        else if (d == "android") {
            document.location = "https://www.17life.com/ppon/OpenApp.aspx?groupId=@Model.GroupId&refereeId=@Model.RefereeId";
        }


        window.setTimeout(function () {
            document.location = "@Model.MembershipCardPromoUrl";
        }, 1500);
    }


    // 行動裝置(不含iPad)出現建議下載app
    var device = '';
    if (navigator.userAgent.match(@Model.AndroidUserAgent)) {
        device = 'android';
    } else if (navigator.userAgent.match(@Model.IOSUserAgent)) {
        if (navigator.userAgent.indexOf('iPad') < 0) {
            device = 'ios';
        }
    }

    if (device != '') {
        openAtAPP(device);
    } else {
        document.location = "@Model.MembershipCardPromoUrl";
    }
    </script>
</head>
<body>
</body>
