﻿@charset "utf-8";
.EDM {
	width:940px;
	height:auto;
	margin:20px auto;
	float: left;
	background-color: #ECE7E4;
	border: 10px solid #FAFAFA;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	letter-spacing: 0.8px;
}
.EDM .Left-column {
	float: left;
	padding: 30px 20px;
	width:600px;
	color: #414141;
	letter-spacing: 0.8px;
}
.EDM .Left-column hr.Line {
	border-bottom: 1px solid #C8C8C8;
	border-top-style: none;
	margin: 15px 0px;
	background-color: #ECE7E4;
	width: 100%;
}
.EDM .Left-column p.Title {
	font-family: "微軟正黑體";
	font-size: 24px;
	color: #414141;
	font-weight: normal;
	margin-top:70px;
}
.EDM .Left-column p.Info {
	font-size: 13px;
	color: #414141;
	font-weight: normal;
	line-height: 22px;
}
.EDM .Right-column {
	float: right;
	height: 100%;
	padding: 15px 10px 20px;
	width: 280px;
	background: #D8C3B8;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	font-family: "微軟正黑體";
	min-height:360px;
}
.EDM .Right-AD {
	float: right;
	height: 450px;
	width: 300px;
/*	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);*/
}
.EDM .ButtonBox { width: 100%; margin: 20px auto; text-align: center; }
.EDM .ButtonBox a { color: white; text-decoration: none; }