﻿@charset "utf-8";
/* CSS Document */
.logo-inline {
	position: relative;
	z-index: 9;
	margin-bottom: -25px;
}
.e_textFamily{font-family: "微軟正黑體", sans-serif;}
.e_rounded{
	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* Konqueror */
    border-radius: 5px; /* Opera 10.50 and later (CSS3 standard) */
}
.e_shadow{
	box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15);
}
.ly-evn-pprule { 
	width:100%; 
	margin:10px 0 20px 0; 
	background:#FFF; 
	box-shadow:1px 1px 5px rgba(0%,0%,0%,0.5); 
}
.evn-rule-title { 
	width:90%; 
	margin:0 auto; 
	padding-top:20px; 
	font-size:24px; 
	border-bottom:1px solid #666; 
}
.evn-rule-btn a:hover{
    box-shadow:0 0px 0px #666;
    background: #990000;
}
.ly-evn-pprule .evn-rule-content { 
	width:90%; 
	margin:0 auto; 
	padding: 15px 0 30px 0; 
    line-height: 1.5;
}
.ly-e-cop-farme{ 
   width:100%;
   padding: 10px 0 10px 0;
   position: relative;
}
.evn-pponctrlarrow-r, .evn-pponctrlarrow-l {
	top: 29%;
}

.evn-cop-buy-sf-box{
	width:310px; 
	height:auto;
	margin: 10px 4px;
	border: 1px solid #CCC;
	background: #FFF; 
	float:left;
}
.evn-cop-buy-sf-box:hover{border-color: #d00000;}
.evn-cop-buy-pic{
	width: 290px; 
	height: 162px; 
	margin: 10px auto; 
	position: relative;  
}
.evn-cop-buy-sold-out-bar-290 {
	width: 290px;
	height: 162px;
	z-index: 5;
	/*background: url(soldout_bar_290.png);*/
	left: 0px;
	top: 0px;
	position: absolute;
}
.evn-cop-action-expired-bar-290 {
	width: 290px;
	height: 162px;
	z-index: 5;
	background: url(soldout_bar_290_0.png);
	left: 0px;
	top: 0px;
	position: absolute;
}
.evn-cop-donationinfo, .evn-cop-acNotice{
	width: 282px; 
    height: 45px;
    text-align: center;
    margin: 5px auto 0 auto;
    overflow: hidden; 
    font-size: 26px; color: #f66; 

}

.evn-cop-acNotice{
    color: #BF0000;
}
.evn-cop-buytitle { 
    width: 282px; 
    height: 23px; 
	margin: 0 auto 0 auto; 
	font-size: 17px; color: #333; 
	line-height: 23px; 
	overflow:hidden; 
}
.evn-cop-buytitle a:link{color:#333;}
.evn-cop-buytitle a:hover {color:#333; text-decoration: underline;}
.evn-cop-buytitle a:visited {color:#333;}

.evn-cop-minorange-title{ 
    width: 282px; 
    height: 25px; 
	margin: 0 auto 5px auto; 
	font-size: 15px; color: #f60; 
	line-height: 22px;  
	overflow:hidden;
	border-bottom:#CCC 1px dashed; 
	overflow:hidden;
}
.evn-cop-minorange-title a { color: #f60; text-decoration:none;}
.evn-cop-buyinformation{ 
    width:282px; 
	height:40px;
	margin: 0 auto 5px auto; 
}
.evn-cop-dateinformation{ 
    width: 282px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    margin: 0px auto 5px auto;
    color: #bf0000;
    padding: 10px 0;  
}
.evn-cop-buytotle{ 
    width:180px; height:35px;
	font-size:31px;
	line-height:35px; 
	font-family:Arial, Helvetica, sans-serif; 
	float:left;
	overflow:hidden;
}
.st-e-cop-buybtn{ 
    width:91px; 
	height:32px;
	line-height:32px; 
	float:right; 
	font-size:19px; 
	font-weight:bold;
	background:url(e_cop_1bn-bg.jpg) 0 0 repeat-x;
	color:#FFF;
	text-align:center;
	margin-top:3px;
	background:linear-gradient(top,#fc3030,#df1313);
    background:-moz-linear-gradient(top,#fc3030,#df1313);
    background:-webkit-linear-gradient(top,#fc3030,#df1313);
	box-shadow: 0px 2px 2px rgba(0%, 0%, 0%, .3);
	
}
.st-e-cop-buybtn:hover{ 
	background:url(e_cop_1bn-bg.jpg) 0 -37px;
	background:linear-gradient(top,#ff4242,#f32727);
    background:-moz-linear-gradient(top,#ff4242,#f32727);
    background:-webkit-linear-gra
    dient(top,#ff4242,#f32727);
}
.st-e-cop-disablebtn {
	width:91px; 
	height:32px;
	float: right;
	line-height: 32px;
	text-align: center;
	color: #ffffff;
	cursor: not-allowed;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-image: url(btn_bk_pri_ie.png);
	background-color: #353535;
	background-image: -moz-linear-gradient(top, #545454, #353535);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#353535));
	background-image: -webkit-linear-gradient(top, #545454, #353535);
	background-image: -o-linear-gradient(top, #545454, #353535);
	background-image: linear-gradient(to bottom, #545454, #353535);
	background-repeat: repeat-x;
	border-color: #353535;
	border-color: rgba(0, 0, 0, 0.1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f#545454', endColorstr='#ff353535', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.ly-e-cop-ppon{ width:100%; height:54px; border-bottom:1px solid #CCC; color:#333; font-size:36px; margin-bottom:5px;}
.ly-e-cop-tab{ 
    width:100%; 
	padding:20px 0 40px 0;
	position: relative;
	text-align: center;
}
.evn-cpp-pinnlife-box{ 
    width:462px; 
	height:auto; 
	float:left;
	margin: 10px 8px;
	border: 1px solid #CCC;
	background: #FFF;
}
.evn-cpp-pinnlife-box:hover{border-color: #906e59;}
.evn-cpp-pinnlife-pic{
	width:440px;
	height:243px; 
	margin:10px auto;
	position: relative;
}

/*1222 品生活M版活動頁*/
.evn-cpp-pinnlife-box-3column{ 
    width:302px; 
	height:auto; 
	float:left;
	margin: 10px 8px;
	border: 1px solid #CCC;
	background: #FFF;
}

.evn-cpp-pinnlife-pic-3column{
	width:282px;
	height:152px; 
	margin:10px auto;
	position: relative;
}
.evn-cpp-pinnlife-sold-out-bar-3column,.evn-cpp-pinnlife-coming-bar-3column{
	width:282px;
	/*height:243px;*/
	z-index: 5;
	left: 0;
	top: 0;
	position: absolute;
}
.evn-cpp-pinnlife-date-coming-bar-3column{
	width:282px;
	height:153px; 
    background-repeat: no-repeat;
    background-image: url(date_coming_bar_440.png);
    background-position: 50% 50%;
    background-size: 100% auto;
    display: block;
    position: absolute;
    top:0;
}
.evn-cop-piin-text-width-3column{ width:278px;}
.evn-cop-piin-text-org-width-3column{ width:278px; height:auto; border:none; padding-bottom:8px;}

.date-coming-text-3column{
     width:100%;
     color:#FFF;
     font-size:20px;
     padding: 68px 0px;
     display:block;
     text-align: center;
     line-height: 18px;
}

.st-e-cop-buybtn-piin{ 
    width:91px; 
	height:32px;
	line-height:32px; 
	float:right; 
	font-size:19px; 
	font-weight:bold;
	background:url(e_cop_1bn-bg_piin.png) 0 0 repeat-x;
	color:#FFF;
	text-align:center;
	margin-top:3px;
	background:linear-gradient(top,#fc7d49,#d44911);
    background:-moz-linear-gradient(top,#fc7d49,#d44911);
    background:-webkit-linear-gradient(top,#fc7d49,#d44911);
	box-shadow: 0px 2px 2px rgba(0%, 0%, 0%, .3);
	
}
.st-e-cop-buybtn-piin:hover{ 
	background:url(e_cop_1bn-bg_piin.png) 0 -37px;
	background:linear-gradient(top,#f98759,#d15522);
    background:-moz-linear-gradient(top,#f98759,#d15522);
    background:-webkit-linear-gra
    dient(top,#f98759,#d15522);
}

/*0807*/
.evn-cpp-pinnlife-sold-out-bar,.evn-cpp-pinnlife-coming-bar{
	width:440px;
	/*height:243px;*/
	z-index: 5;
	left: 0;
	top: 0;
	position: absolute;
}
.evn-cpp-pinnlife-date-coming-bar{
	width:440px;
	height:243px; 
    background-repeat: no-repeat;
    background-image: url(date_coming_bar_440.png);
    background-position: 50% 50%;
    background-size: 100% auto;
    display: block;
    position: absolute;
    top:0;
}

.date-coming-text{
     width:100%;
     color:#FFF;
     font-size:24px;
     padding: 114px 0px;
     display:block;
     text-align: center;
     line-height: 18px;
}

.evn-cop-piin-text-width{ width:431px;}
.evn-cop-piin-text-org-width{ width:431px; height:auto; border:none; padding-bottom:8px;}
.evn-cop-community-title{ color:#F66;}
.evn-cop-community-title a { color:#F66; text-decoration:none;}
.st-e-cop-cmmunity-btn{ 
	background:url(e_cop_3bn-bg.jpg) 0 0 repeat-x;
	background:linear-gradient(top,#fa708f,#f44e55);
    background:-moz-linear-gradient(top,#fa708f,#f44e55);
    background:-webkit-linear-gradient(top,#fa708f,#f44e55);	
}
.st-e-cop-cmmunity-btn:hover{ 
	background:url(e_cop_3bn-bg.jpg) 0 -37px;
	background:linear-gradient(top,#f96c8e,#ff6d74);
    background:-moz-linear-gradient(top,#f96c8e,#ff6d74);527
    background:-webkit-linear-gradient(top,#f96c8e,#ff6d74);
}
.evn-cop-community-sf-box{}
.evn-cop-community-sf-box:hover{border-color: #ff86a1;}
.evn-cop-zeroget{ font-size:17px; font-family: "微軟正黑體", sans-serif; font-weight:bold; margin-left:-7px;}
.ly-e-cop-area-menubar{width: 100%; height: auto; margin: 20px auto 10px auto;}
.ly-e-cop-area-menubar a { text-decoration: none; color: #666; padding: 2px 8px; background: #ededed;}
.ly-e-cop-area-menubar i { padding-right: 3px;}
.evn-cop-tn-bar{ width: 960px; margin: 0 ; padding: 0; text-align:center; }

.st-e-cop-area-bar{ width: auto; height: auto; float:left; margin-right: 20px; padding: 2px 8px 2px 0;}
.st-e-cop-optionsbar{ width: 48%; float:left; margin: 0 9px 0 10px;}

.st-e-cop-optionsbn{ 
	width: 100%; float:left; height: 24px; line-height: 24px;
	color:#666; text-align:center;  font-size:14px; border-radius: 5px;
}
.st-e-cop-optionsbn:hover { color: #f23082;}
.ly-e-cop-area-menubar a.st-e-cop-optionsbn-on{ 
	width: 100%; float:left; background: #f23082; height: 24px; line-height: 24px;
	color:#fff; text-align:center;  font-size:14px;  border-radius: 5px;
}

.st-e-cop-optionsbn-big{ 
	width: 100%; float:left; background: #323028; 
	color:#FFF; text-align:center; font-size:23px;  
	border-radius: 5px; padding: 15px 0; 
}
.st-e-cop-optionsbn-big:hover { background: #D00000;}
.st-e-cop-optionsbn-big-on{ 
	width: 100%; float:left; background: #D00000; 
	color:#FFF; text-align:center;  font-size:23px; 
	border-radius: 5px;  padding: 15px 0;
}


.skm-QrMessagefarm{ 
	width: 938px; height: auto; background: #f3f3e9;  position: relative; box-shadow: 0 1px 3px #CCCCCC;
    border:#CCC 1px solid; border-top: 5px #d00000 solid;  margin: -22px auto 0;}
.skm-QrMessage{ width: 550px; margin: 20px auto; position: relative; padding: 50px 0 75px 0; z-index:10;}
.skm-QrMesText{ width: 415px; font-size:25px; float:left;}
.skm-qr{ width:109px; height:113px; background:url(qrcode.png) no-repeat; float:left; margin-top:-40px; margin-bottom:20px;} 

.evn-copcafarm{ 
	width: 210px; float: left; margin: 10px 15px 15px 15px; position:relative; 
	text-align: center; overflow: hidden; background-color: white; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);} 
.evn-copcafarm > a > img {
	height: 141px;
    margin-top: 35px;
    max-width: 210px}
.evn-copcadealname{ width: 200px; height:25px; position: absolute; top: 0; left: 0; background: #000; color: #FFF; text-align:center; padding: 5px;opacity: 0.65; filter: alpha(opacity=45); overflow: hidden;}
.evn-copcadealname.st-cbg{ background: #262626;}
.evn-coptextinfo{ width:200px;  background:#FFF; padding:10px 5px; text-align:center; text-decoration: none; color:#FFF;}
.evn-cop-ptext{color: #333; font-size: 15px; text-align: center; line-height: 20px; margin-bottom:10px; }
.st-evncopca-col-btn{ color:#FFF ; width: 150px; padding: 3px 10px; background: #d00000; border: 0; border-radius: 2px;}
.st-evncopca-col-btn:hover{ color:#FFF; opacity: 0.85; filter: alpha(opacity=85);}
.st-evncop-favoritetoo-btn{ color:#FFF ; width: 150px; padding: 3px 10px; background: #999999; border: 0; border-radius: 2px;}
.ly-skmFarme{ display: block; height: auto; margin: 10px auto; width: 960px;}
.eve-center {
	margin: 10px auto;
	float: none;
}
/*側邊anchor*/
.nav-anchor {
	position: fixed;
	top: 125px;
	margin-left: 970px;
	z-index: 99;
}
.nav-anchor li {
	margin-bottom: 2px;
	text-align: center;
}
.nav-anchor a {
	width: 100px;
	height: 30px;
	line-height: 30px;
	background: #ededed;
	color: #666;
	display: block;
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
}
.nav-anchor a:hover {background: #dedede;}
.nav-anchor .current a {
	background: #3F3F3F;
	color: #e5e5e5;
}
.nav-anchor li:first-child a {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.nav-anchor li:last-child a {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.local-title {
	margin: 20px 0;
	padding-left: 1em;
	line-height: 2;
	color: #fff;
	background: #3F3F3F;
	font-size: 1.2em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;:
}

/***
*
* 策展子分類
*
***/
.Curatorial-main { position: relative;}
.Curatorial-main .Curatorial-Sort .NaviCitySortRank li.on a{
	background: none;
	color: #f23082;
}

.activity-banner {
	width: 100%;
    margin-bottom: 10px;
    height: 40px;
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.swiper-container.activity-site {
	width: 100%;
	height: 40px;
}
.swiper-container.activity-site .swiper-slide.on, .swiper-container.activity-site .swiper-slide.on a {
	color: #bf0000;
}
.swiper-container.activity-site .swiper-slide.on {
	border-bottom: 3px solid #bf0000;
	padding-bottom: 5px;
}
.swiper-container.activity-site .swiper-slide {
	padding: 12px 10px 12px 10px;
	line-height: 20px;
	position: relative;
}
.activity-banner .activity-site .swiper-slide.on{
	/*background: red;*/
	border-bottom: none;
}
.activity-banner .activity-site .swiper-slide.on a{
	color: #f23082;
}

/*品生活活動頁-分期0利率*/

.visa-installment {
	width: 70px;
	float: right;
	text-align: center;
	height: auto;
	font-size: 12px;
	border-radius: 3px;
	margin-top: -35px;
	margin-right: 20px;
	padding: 1px;
	background: #f60;
	color: #fff;
}

/*活動頁會出現品生活M版會員選單--768~1000px 先行隱藏*/
#navimain2 { display: none;}

/*折價券中繼頁*/
#divMain{
    text-align: center;
    margin-bottom: 50px;
}
.coupon_group{
    padding: 0px 70px 10px 70px
}
.coupon_group ul{
}
.coupon_group ul li a{
    display: block;
    float: left;
    width: 240px;
    height: 130px;
    margin: 0 20px 20px 20px;
}
.coupon_group ul li a .coupon_bg{
    position: relative;
}
.coupon_group ul li a .coupon_bg .coupon_p{
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 10px;
    width: 138px;
    height: 93px;
    text-align: center;
}
.coupon_group ul li a .coupon_bg .coupon_p .coupon_h1{
    font-size: 43px;
    line-height: 1.3;
    color: #333;
    font-weight: bold;
}
.coupon_group ul li a .coupon_bg .coupon_p .coupon_h2{
    font-size: 20px;
    color: #999;
}
.coupon_group ul li a .coupon_h3{
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-top: 5px;
}
.coupon_group ul li a .coupon_soldout{
    position: absolute;
    background: rgba(0,0,0,0.7);
    text-align: center;
    line-height: 107px;
    color: #fff;
    width: 240px;
    height: 107px;
    z-index: 30;
    font-size: 26px;
    border-radius: 5px;
}
.coupon_rule{
    margin: 0 20px 15px 20px;
    padding: 10px;
    background: #ddd;
}
.coupon_rule_title{
	width: 96%;
    font-size: 18px;
    color: #666;
    font-weight: bold;
}
.coupon_rule_content{
    padding: 10px 0;
    line-height: 1.5;
}
#mainpic_img img{
}
#divMain .link_hover {
    cursor: pointer;
}
.coupon_btn{
    position: absolute;
    left: 35px;
    bottom: 35px;
    display: block;
    width: 154px;
    height: 48px;
}
#coupon_wrapper{
    width: 700px;
    height: auto;
    background: #fff;
    z-index: 99;
    position: absolute;
    cursor: default;
}
.coupon_center{
    width: 700px;
        margin: 0;
        text-align: left;
        background: #fff;
        height: auto;
}
.close_layer{
    display: block;
    height: 44px;
    width: 44px;
    background: #666;
    font-size: 30px;
    position: absolute;
    top: -22px;
    right: -20px;
    border-radius: 22px;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 999;
}
.close_layer i{
    line-height: 42px;
}    
.coupon_rule_btn{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 30px;
    text-align: center;
    text-align: -webkit-center;
}
.coupon_rule_btn a{
    color: #fff;
    background: #bf0000;
    font-size: 22px;
    /*padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 0 1px 3px #666;
    text-decoration: none;*/
    padding: 6px 50px;
    border-radius: 5px;
    box-shadow: 0 1px 1px #666;
    border: 1px #bb0000 solid;
    background-image: linear-gradient(to bottom, #df0000, #9f0000);
}
.coupon_rule_btn a:hover{
    box-shadow:0 1px 0px #666;
    background: #990000;
}
.event_group{
    margin: 0px 10px;
}
.event_p{
    font-size: 12px;
    color: #666;
    border-top: 1px solid #ccc;
    margin: 40px 10px 10px 10px;
    padding-top: 20px;
}
.event_p .coupon_name{
    font-weight: bold;
    color:  #000;
}
.event_item{
    width: 320px;
    height: 160px;
    margin: 10px 10px 20px 10px;
    float: left;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    position: relative;
}
.event_item a{
    display: block;
}
.event_item .item_text{
    width: 135px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.55);
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 10%;
    text-align: center;
    line-height: 34px;
}
.event_item .item_text .fa{
    margin-left: 10px;
}
@media only screen and (max-device-width : 1024px) and (max-device-width : 1366px) {
    #coupon_wrapper{
        /*top: -350px;*/
        left: -190px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    #coupon_wrapper{
         top: -240px;
         left: -235px;
    }
}
@media only screen and (max-device-width : 767px) {
    #coupon_area{
        background: #fff;
        margin-bottom: 10px;
        position: relative;
    }
    #coupon_area .coupon_img{

    }
    #coupon_wrapper{
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        /*transform: translateY(736); /*js*/
        height: 100%;
    }
    .coupon_center{
        width: 100%;
        position: fixed;
        overflow-x: scroll !important;
        bottom: 0;
        top: 0;
    }
    #divMain{
        margin-bottom: 0px;
    }
    #Main_moblie{
        position: relative;
    }
    #Main_moblie img{
        width: 100%;
    }
    .pic_btn_moblie{
        height: 42px;
        border-top-left-radius: 21px;
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom-left-radius: 21px;
        display: block;
        position: absolute;
        bottom: 20px;
        right: 0px;
        color: #fff;
        font-size: 16px;
        line-height: 42px;
        cursor: pointer;
        padding: 0 10px 0 15px;
    }
    .coupon_group{
        padding: 10px 0 0 0;
        margin: 0 auto;
        width: 310px;
    }
    .coupon_group ul li a{
        width: 145px;
        height: 80px;
        margin: 0 5px 15px 5px;
    }
    .coupon_group ul li a .coupon_bg .coupon_p{
        width: 88px;
        height: 60px;
        left: 4px;
    }
    .coupon_group ul li a .coupon_bg .coupon_p .coupon_h1{
        font-size: 30px;
    }
    .coupon_group ul li a .coupon_bg .coupon_p .coupon_h2{
        font-size: 12px;
    }
    .coupon_group ul li a .coupon_h3{
        font-size: 10px;
    }
    .coupon_group ul li a .coupon_soldout{
        width: 145px;
        height: 64px;
        font-size: 14px;
        line-height: 64px;
    }
    .coupon_rule{
        margin: 0 20px 10px 20px;
    }
    .last_div {
        margin-bottom: 80px;
    }
    #btn_moblie {
        border-top: solid 1px #cccccc;
        padding: 5px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        z-index:1200;
    }
    #detail_btn{
        text-align: center;
    }
    #btn_moblie #event_btn_moblie{
        width: 180px;
        height: 44px;
        border-radius: 100px;
        background-color: #bf0000;
        font-size: 18px;
        text-align: center;
        color: #ffffff;
        line-height: 44px;
        margin: 0 auto;
        cursor: pointer;
    }
    #btn_moblie #coupon_btn_moblie{
        width: 145px;
        height: 44px;
        line-height: 44px;
        font-size: 18px;
        border: solid 1px #bf0000;
        border-radius: 8px;
        text-align: center;
        color: #bf0000;
        display: inline-block;
        margin: 5px;
        background: #fff;
    }
    #btn_moblie #buy_btn_moblie{
        width: 145px;
        height: 44px;
        line-height: 44px;
        font-size: 18px;
        border-radius: 8px;
        background-image: linear-gradient(to bottom, #ff6100, #ff3600);
        text-align: center;
        color: #fff;
        display: inline-block;
        margin: 5px;
    }
    #btn_moblie #buy_btn_moblie a{
        color: #fff;
    }
    .event_group{
        margin: 0px 0px 100px 0px;
    }
    .event_group ul{
        margin: 20px;
    }
    .event_p{
        margin: 10px 0 0 0;
        border: none;
        background: #eee;
        padding: 20px 10px 10px 10px;
        margin-bottom: 16px;
    }
    .event_p .coupon_name{
        font-weight: bold;
        color:  #000;
    }
    .event_item{
        float: none;
        margin: 0 auto;
        margin-bottom: 16px;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    .event_item img{
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    }
    .noscroll {
        overflow: hidden;
    }
}