@charset "utf-8";
/* CSS Document */
#B3Info {
	height: auto;
	width: 600px;
	float: left;
	padding-top: 30px;
	margin-bottom: 25px;
}

#B3CreditCardNote {
	height: 235px;
	width: 600px;
	background-image: url(../G3/PayNote.png);
	margin-bottom: 20px;
}
#B3CreditCardInfo {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
.B3CreditCardBtn {
	background-image: url(CreditCardBtn.jpg);
	height: 57px;
	width: 182px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
.B3CreditCardBtn:hover {
	background-image: url(CreditCardBtn2.jpg);
	background-repeat: no-repeat;
}
#B3Taishin{
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}
#B3_2CreditCardNote{
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(CreditCardInfoBg.jpg);
	background-repeat: no-repeat;
	height: 185px;
	padding-top: 6px;
}
#B3_2CreditCardNote ul{
	list-style-type: none;
}
#B3_2CreditCardNote li{
	list-style-type: none;
	text-align: center;
	font-family: "微軟正黑體";
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-bottom: 4px;
}
.B3_Red{
	color:#F00;
	font-size: 20px;
}
#B3atmBN {
	background-image: url(B3_atmBtn.jpg);
	height: 30px;
	width: 165px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
#B3atmBN:hover {
	background-image: url(B3_atmBtn2.jpg);
	background-repeat: no-repeat;
}
