@charset "utf-8";
/* CSS Document */

.choseInfo {
	height: auto;
	width: 617px;
}
.choseTop {
	background-image: url(choseAddress_01.png);
	height: 8px;
	width: 750px;
}
.choseAddressTittle {
	background-image: url(choseAddress_02.png);
	height: 37px;
	width: 730px;
	font-family: "微軟正黑體";
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	line-height: 36px;
	background-repeat: no-repeat;
	padding-left: 20px;
	letter-spacing: 0.1em;
	text-align: left;
}
.choseCenterBg {
	background-image: url(choseAddress_03.png);
	background-repeat: repeat;
	height: auto;
	width: 740px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
}
.choseBottom {
	background-image: url(choseAddress_04.png);
	background-repeat: no-repeat;
	height: 10px;
	width: 750px;
	float: left;
}
.chose {
	width: 620px;
	margin-left: 10px;
	margin-top: 5px;
}
.chose select{
	margin-right: 10px;
	line-height: 35px;
	font-family: "微軟正黑體";
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
	float: left;
}
.choseInfo {
	width: 750px;
	height: auto;
}
.choseList {
	width: 730px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 3px;
	float: left;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 4px;
}
.choseListAddress{
	width: 725px;
	float: left;
}
.choseTextBlack{
	font-family: "微軟正黑體";
	color: #333;
	float: right;
	font-size: 16px;
	margin-top: 3px;
	width: 345px;
	text-align: left;
}
.choseTextBlack a:link{
	font-family: "微軟正黑體";
	color: #0281FF;
	text-decoration: underline;
	font-size: 15px;
}
.choseTextBlack a:visited{
	font-family: "微軟正黑體";
	color:#0281FF;
	text-decoration: underline;}
.choseTextBlack a:hover{font-family: "微軟正黑體";
    color:#0281FF;
	text-decoration: underline;}
.choseTextBlack a:active{
	font-family: "微軟正黑體";
	color:#0281FF;
	text-decoration: underline;
}
.choseName {
	margin-bottom: 5px;
	font-family: "微軟正黑體";
	font-size: 16px;
	color: #EA7500;
	font-weight: bold;
	float: left;
	margin-top: 3px;
	text-align: left;
}
/*.choseName input{
	margin-right: -3px;
}*/
.choseBtnYes {
	height: 30px;
	width: 96px;
	background-image: url(choseAddressBtn_05.png);
	background-repeat: no-repeat;
	float: left;
}
.choseBtnYes img{
	margin-left: 5px;
	margin-right: 5px;
}
.choseBtnNo {
	height: 30px;
	width: 96px;
	background-image: url(choseAddressBtn_06.png);
	background-repeat: no-repeat;
	float: right;
}

/*---ie6---*/
* html .choseTop {
	background-image: url(choseAddress_01.png);
	height: 8px;
	width: 650px;
	background-repeat: no-repeat;
}
* html .choseAddressTittle {
	background-image: url(choseAddress_02.png);
	height: 37px;
	width: 630px;
	font-family: "微軟正黑體";
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	line-height: 36px;
	background-repeat: no-repeat;
	padding-left: 20px;
	letter-spacing: 0.1em;
	margin-top:-11px;
}
* html .choseBtnYes {
	height: 30px;
	width: 96px;
	background-image: url(choseAddressBtn_05.png);
	background-repeat: no-repeat;
	float: left;
}
* html .choseBtnNo {
	height: 30px;
	width: 96px;
	background-image: url(choseAddressBtn_06.png);
	background-repeat: no-repeat;
	float: right;
}
* html .choseBtnYes img{
	margin-left: 2px;
	margin-right: 2px;
}

* html .choseList {
	width: 620px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 2px;
	float: left;
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
}
* html .choseAddressFrame {
	width:625px;
	_overflow-y: scroll;
	_overflow-x: hidden;
	height: 210px;
	clear: none;
	margin-bottom: 20px;
	border: 1px dashed #999;
}
/*---ie6---*/
.choseBtn {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 198px;
	height: 30px;
}
.choseAddressFrame {
	width:725px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 210px;
	clear: none;
	margin-bottom: 20px;
	border: 1px dashed #999;
}
.choseTextRed{
	font-size:16px;
	color: #0078F0;
}
