﻿@charset "utf-8";
/* CSS Document */
/* Base Style */
body { margin: 0; padding: 0px; font-family: Arial, Helvetica, sans-serif; background:#FFF; }
a { text-decoration: none; color: #000; }
/* Coupon Print Style */
.Coupon { width: 630px; margin: 15px auto;  font-size: 12px; border: #000 2px solid; }
.Coupon_Header { width: 610px; margin:5px 10px; }
.Coupon_Header_Logo { width: 180px; height: 80px; margin-right: 20px; float: left; padding-right:5px; border-right:1px dotted #CCC; }
.Coupon_Header_Shop { font-size: 16px; line-height: 28px; height: 52px; }
.Coupon_Header_Info { line-height:28px; }
.Coupon_Logo { width: 260px; height: 80px; float: left; padding-right:5px; /*border-right:1px dotted #CCC;*/ }
.Coupon_Barcode { /*width:310px;*/ float:left; text-align:left; padding:10px 0 0 0px;font-weight:bold;  }/*0725 因barcode產出實際圖片較寬，調整padding right*/
.Coupon_fami_text { width: auto; padding-left: 20px; float: left; text-align: left; font-weight: bold; font-size: 26px; line-height: 80px; }
.Coupon_fami_pincode { width: auto; padding-left: 20px; float: left; text-align: left; font-weight: bold; font-size: 26px; line-height: 80px; }
.Coupon_fami_barcode { width: auto; padding-top: 10px; text-align: center; }
.Coupon_QRcode { width:80px; float:right; text-align:center; font-weight:bold; }
.Coupon_Count { width:110px; float:right; padding-top:10px; }
.Coupon_Count .Count_Text { font-size: 14px; text-align:right; }
.Coupon_Count .Count_Number { width: 100px; font-family: "Arial Black", Gadget, sans-serif; font-size: 14px; text-align:right; }
.Coupon_Seriel { width: 610px; margin:5px 10px ; font-size:20px; font-family: "Arial Black", Gadget, sans-serif; text-align:left; border:1px dotted #CCC; }
.Coupon_number { width:610px; margin:5px 10px; text-align:right; font-size:13px; padding-bottom:5px; border-bottom:1px dotted #CCC; }
.Coupon_Seriel .SN_serial { width:305px; height:28px; line-height:28px; float:left; text-align:center; }
.Coupon_Seriel .SN_confirmcode { width:305px; height:28px; line-height:28px; float:left; text-align:center; }
.Coupon_Title { width: 610px; margin: 0 10px; font-size: 16px; font-weight: bold; }
.Coupon_Shop { width: 610px; margin: 0 10px; padding: 10px 0; font-size: 16px; }
.Coupon_Info { width: 610px; margin:10px; font-size: 16px; }
.Coupon_Note, .Shop_Note { width: 610px; margin:20px 10px; }
.Coupon_Note { font-size: 16px;}
.Coupon_Note .FontBold { font-weight: bold;}
.Coupon_SN_Note { width:610px; font-size:14px; text-align:left; margin:5px auto; }
.Coupon_SN_Note.FontBold { font-weight: bold;}

.pon-fct { width: 630px; margin: 0 auto; }
.pon-fct img { max-width: 100%; height: auto; }
.pon-app-dl {}
.btn-center { text-align: center; margin-bottom: 15px; }

.Clear { clear: both; }
.hrstyle { width:610px; margin:5 auto; border:none; border-top: 1px solid #000; }

@media screen and (max-width: 630px) { 
	.Coupon, 
	.Coupon_Header, 
	.Coupon_Seriel, 
	.Coupon_Shop, 
	.Coupon_Title, 
	.Coupon_Info, 
	.Coupon_Note,
	.Coupon_Barcode,
	.Coupon_SN_Note,
	.Shop_Note,
	.pon-fct { width: auto; }
	.Coupon { margin-top: 0; }
	.Coupon_Logo { 
		width: auto; 
		display: block; 
		float: none; 
		text-align: center;
		border-right: none; 
		border-bottom: 1px dotted #CCC; 
	}
	.Coupon_Barcode { float: none; display: block; padding: 10px 0; }
	.Coupon_QRcode { float: none; display: block; margin: 0 auto; }
	.Coupon_fami_text { padding: 0 10px; text-align: center; font-size: 18px; }
	.Coupon_fami_pincode { 
		width: 100%; 
		float: none; 
		display: inline-block; 
		padding: 0; 
		text-align: center; 
		font-size: 18px; 
	}
}
@media screen and (max-width: 530px) {
	.Coupon_Header {border-bottom: 1px dotted #CCC;}
	.Coupon_Header_Logo {
		width: 100%;
		margin-bottom: 10px;
		float: none;
		border-right: none;
		border-bottom: 1px dotted #CCC;
		text-align: center;
	}
	.Coupon_Header_Info { margin-bottom: 10px;}
	.Coupon_Seriel { border: none;}
	.Coupon_fami_barcode img { width: 95%;}
}
@media screen and (max-width: 400px) {
	.btn + .btn { margin-left: 0; margin-top: 15px; }
}