@charset "utf-8";
/* CSS Document */
.Encore {
	margin:0px;
	top:0px;
	left:0px;
	width:480px;
	height:267px;
	z-index:2;
	float: left;
	position: absolute;
}
.NEWEncore_BG {
	width:480px;
	height:267px;
	background: url(encore_BG2.gif) no-repeat;
}
