#wrap { background: url(NY_Background.png) repeat fixed 0 0 #FFFFFF; }
#Headermiddle {
	background-image: url(NY_HeaderBK.png);
}
#PponLOGO { background: none; }
#EmailTitle { background:url(NY_SE.png) no-repeat -5px 0px; }
#EmailBTN { background:url(NY_SB.png) no-repeat 0px 50px; }
#navi { background:url(NY_NavBK.png) repeat-x; }
#NaviCity { background:url(NY_SubNavBK.png) repeat-x; }
#NaviCity a:link { color:white; }
#NaviCity a:hover { color:white; }
#NaviCity a:active { color:white; }
#NaviCity a:visited { color:white; }
#NaviCity a.on { background:url(NY_SubNavON.png); }
.naviIndexLink { background-image: url(EventButton/ppon-navi01.png); }
.naviIndexLink:hover { background-image: url(EventButton/ppon-navi01Hov.png); }
.naviIndexLinkOnly { background-image: url(EventButton/ppon-navi01Only.png); }
.naviTodaydeal { background-image: url(EventButton/ppon-navi02.png); }
.naviTodaydeal:hover { background-image: url(EventButton/ppon-navi02Hov.png); }
.naviTodaydealOnly { background-image: url(EventButton/ppon-navi02Only.png); }
.naviShop { background-image: url(EventButton/ppon-navi07.png); }
.naviShop:hover { background-image: url(EventButton/ppon-navi07Hov.png); }
.naviPastLink { background-image: url(EventButton/ppon-navi03.png); }
.naviPastLink:hover { background-image: url(EventButton/ppon-navi03Hov.png); }
.naviPastLinkOnly { background-image: url(EventButton/ppon-navi03Only.png); }
.naviDiscuss { background-image: url(EventButton/ppon-navi04.png); }
.naviDiscuss:hover { background-image: url(EventButton/ppon-navi04Hov.png); }
.naviDiscussOnly { background-image: url(EventButton/ppon-navi04Hov.png); } 
.naviMyLink { background-image: url(EventButton/ppon-navi05.png); }
.naviMyLink:hover { background-image: url(EventButton/ppon-navi05Hov.png); }
.naviUGLink { background-image: url(EventButton/ppon-navi06.png); }
.naviUGLink:hover { background-image: url(EventButton/ppon-navi06Hov.png); }
.naviUGLinkOnly { background-image: url(EventButton/ppon-navi06Only.png); }
.naviPeautyLink { background-image: url(EventButton/ppon-naviPeauty.png); }
.naviPeautyLink:hover { background-image: url(EventButton/ppon-naviPeautyHov.png); }
.naviPeautyLinkOnly { background-image: url(EventButton/ppon-naviPeautyOnly.png); }
.naviTravelLink { background-image: url(EventButton/ppon-naviTravel.png); }
.naviTravelLink:hover { background-image: url(EventButton/ppon-naviTravelHov.png); }
.naviTravelLinkOnly { background-image: url(EventButton/ppon-naviTravelOnly.png); }
.naviDeliveryLink { background-image: url(EventButton/ppon-naviDelivery.png); }
.naviDeliveryLink:hover { background-image: url(EventButton/ppon-naviDeliveryHov.png); }
.naviDeliveryLinkOnly { background-image: url(EventButton/ppon-naviDeliveryOnly.png); }
.naviPiinlife {	background-image:url(EventButton/ppon-naviPiinlife.png); }
.naviPiinlife:hover { background-image: url(EventButton/ppon-naviPiinlifeHov.png); }
ul.MenuBarHorizontal li { background: none; }
ul.MenuBarHorizontal ul li { background-image: url(EventButton/ppon-M1-Hov_25.png); }
ul.MenuBarHorizontal ul a.MenuBarItemSubmenu { background-image: url(EventButton/ppon-M1-Hov_25.png); }
ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover { background-image: url(EventButton/ppon-M1-Hov_25.png); }
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus { background-image: url(EventButton/ppon-M1-Hov_25Hovli.png); }
ul.MenuBarHorizontal a.MenuBarItemSubmenu { background-image: url(EventButton/ppon-navi05.png); }
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover { background-image: url(EventButton/ppon-navi05Hov.png); }
ul.MenuBarHorizontal li.MenuBarItemIE { background-image: url(EventButton/ppon-M1-Hov_25.png); }
