@charset "utf-8";

*:first-child+html #Cityarea {
	position:fixed;
	width:50px;
	height:auto;
	z-index:4;
	left:0px;
	color: #FFF;
	text-align: center;
	font-size: 22px;
	top: 174px;
	background-image: url(citybackground_AllContent.gif);
	background-repeat: repeat;
}
*:first-child+html #Cityarea p {
	color: #FFF;
	text-align: center;
	font-size:22px;
	font-weight: bold;
}
*:first-child+html #Cityarea td {
	color: #FFF;
	text-align: center;
	font-size:14px;
}
*:first-child+html .City {
	position:fixed;
	width:50px;
	height:auto;
	z-index:4;
	color: #FFF;
	text-align: left;
	font-size:18px;
	background-image: url(citybackground_AllContent.gif);
	background-repeat: repeat;
	padding-top: 5px;
	left: 0px;
}

*:first-child+html .CityTop {
	width:50px;
	height:16px;
	z-index:4;
	background-image: url(citybackground_AllTop.gif);
	background-repeat: no-repeat;
	position: fixed;
	top: 158px;
	left:0px;
}
*:first-child+html .CityBottom {
	width:50px;
	height:16px;
	z-index:4;
	background-image: url(citybackground_AllBottom.gif);
	background-repeat: no-repeat;
	position: fixed;
	top: 475px;
	left:0px;
}
*:first-child+html #OrderContentTitleRight {
	z-index:1;
	width:150px;
	height: auto;
	float: right;
	padding-left: 2px;
	text-align: left;
	font-size: 13px;
}
*:first-child+html #DetailDiscount {
	left: 0px;
	width: 703px;
	height: auto;
	float: left;
	position: relative;
	margin-bottom: 10px;
	display: inline;
	top: 0px;
	margin-top: 10px;
}
*:first-child+html  #Price {
	z-index:7;
	font-size: 2.8em;
	color: #FFF;
	line-height: 2em;
	height: 90px;
	text-indent: 8px;
	float: left;
	margin-top: 0px;
	margin-right: 500px;
}
*:first-child+html .BuyBTN {
	width:100px;
	height:52px;
	z-index:1;
	background-image: url(ppon-M1_BuyBtn.jpg);
	background-repeat: no-repeat;
	margin-top:18px;
	margin-right:20px;
	float: right;
	display: block;
	text-indent: -9999px;
	margin-left:0px;
}
*:first-child+html .BuyBTN:hover {
	background-image: url(ppon-M1_BuyBtnHov.jpg);
	border:0;
}
*:first-child+html .F1_UserGuide_Content_5_QAB_END {
	position: relative;
	margin: 0 auto 0 auto;
	top: 0px;
	width: 810px;
	height: 13px;
	background-image:url(F1_content_5_QAB_END.jpg);
	background-repeat: no-repeat;
}
*:first-child+html  .BBHPrice {
	z-index:7;
	font-size: 2.8em;
	color: #FFF;
	line-height: 2em;
	height: 90px;
	text-indent: 8px;
	float: left;
	margin-top: 0px;
	margin-right:800px;
}
*:first-child+html  .AccountBFManName{
	text-align:left;
	font-family: "微軟正黑體";
	font-size: 15px;
	letter-spacing: 20pt;
	color: #000;
	padding-right:5px;
}
*:first-child+html .AccountBFManAddressee{
	text-align:left;
	font-family: "微軟正黑體";
	font-size: 15px;
	letter-spacing: 0.5em;
	padding-right:1px;
}
*:first-child+html  .AccountBFTcenter input{
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	padding-left: 5px;
	width: 240px;
	margin-left: 8px;
	background-color: #F7FFFF;
	border: 1px solid #B3D6E3;
	text-align: left;
	margin-bottom:-2px;
}
*:first-child+html  .AccBFTName input{
	width:80px;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	padding-left: 5px;
	margin-left: 8px;
	background-color: #F9FDFB;
	border: 1px solid #CDE7D8;
	text-align: left;
}

*:first-child+html .AccountBFManagement input{
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	padding-left: 5px;
	width: 240px;
	margin-left: 8px;
	background-color: #F7FFFF;
	border: 1px solid #B3D6E3;
	text-align: left;
	margin-bottom:10px;
}
*:first-child+html  .AccountBFTcenter select{
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	padding-left: 5px;
	width: 85px;
	margin-left: 8px;
	background-color: #F7FFFF;
	border: 1px solid #B3D6E3;
	text-align: left;
	margin-bottom:8px;
}
*:first-child+html .AccountBFTcenter li.acbfSub2 input{
	width: 15px;
	padding-left: 3px;
	margin-left: 0px;
	margin-bottom:3px;
	margin-right:2px;
}
*:first-child+html  .AccountBFTcenter li.acbfOtherli input{
	width: 15px;
	margin-right: 5px;
	padding-left: 3px;
	margin-bottom:3px;
	margin-right:2px;
}
*:first-child+html  .AccountBFTcenter li.acbfli2 input{
	width: 15px;
	margin-right: 5px;
	padding-left: 3px;
	margin-bottom:3px;
	margin-right:2px;
}
*:first-child+html  .AccountBFTcenter li.acbfGenderli input{
	width: 14px;
	margin-right: 3px;
	margin-left: 9px;
	padding-left: 3px;
	margin-bottom:3px;
}
*:first-child+html .AcBFLocalTelep1{
	width:auto;
}
*:first-child+html .AcBFLocalTelep1 input{
	width:45px;
}
*:first-child+html .AcBFLocalTelep2{
	width:auto;
}
*:first-child+html .AcBFLocalTelep2 input{
	width:169px;
}

/*------退貨流程調整-------*/
*:first-child+html .ReturnRefundName input{/*----ie6-----*/
	width:171px;
	font-size: 16px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	height: 21px;
	padding-top: 2px;
	text-align: left;
	font-family: "微軟正黑體";
	margin-bottom:-4px;
	margin-top:-3px;
}
*:first-child+html .ReturnRefundIdCard input{
	width:111px;
	font-size: 16px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	height: 21px;
	padding-top: 2px;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom:-4px;
	margin-top:-3px;
}
*:first-child+html .ReturnRefundBank select{
	width:179px;
	font-size: 16px;
	padding-left: 2px;
	position: relative;
	top: 0px;
	text-align: left;
	height: 25px;
	line-height:28px;
	font-family: "微軟正黑體";
	margin-bottom:-2px;
	margin-top:-5px;
}
*:first-child+html .ReturnRefundNumber input{
	width:425px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
	margin-bottom:-4px;
	margin-top:-3px;
}
*:first-child+html .ReturnRefundPhone input{
	width:425px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
	margin-bottom:-4px;
	margin-top:-3px;
}
*:first-child+html .ReturnConfirmLine {
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #7ea15e;
}
/*------退貨流程調整-------*/