.meal_bg {
	max-width: 100%;
	height: auto;
	background: url(meal_bg.jpg) top center no-repeat;
	background-size: cover;
	padding: 70px 0;
	overflow: hidden;
}
.meal_note {
	width: 500px;
	height: auto;
	border-left: 2px solid #331106;
	padding-left: 25px;
	font-family:'Microsoft JhengHei';
	position: relative;
	left: 50%;
}
.meal_note h1 {
	font-size: 40px;
	line-height: 40px;
	letter-spacing: -2px;
	color: #331106;
	font-weight: bold;
}
.meal_note h2 {
	font-size: 22px;
	color: #331106;
	font-weight: bold;
}
.meal_note p {
	font-size: 14px;
	color: #000;
	line-height: 24px;
}
.meal_note p a {
	color: #0050e2;
	text-decoration: underline;
}