﻿@charset "utf-8";

#maincontent {
	width:710px;
	height:auto;
	z-index:1;
	margin-bottom: 15px;
	float: left;
}
#Share {
	width:710px;
	height:47px;
	z-index:1;
	background-image: url(ppon-M1_shareBG.png);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.Maindeal {
	width:710px;
	height:auto;
	z-index:1;
	background-image: url(ppon-M1_mainin.png);
	background-repeat: repeat-y;
	margin-left: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	background-position: 0px 0px;
}
#MainButtom {
	width:710px;
	height:5px;
	z-index:1;
	background-image: url(ppon-M1_Mainbottom.png);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.MaindealTitle {
	width:670px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 20px;
	font-weight: bold;
	color:#F60;
	text-decoration: none;
	font-family: "微軟正黑體";
	font-weight: normal;
}
.MaindealTitle a:link{color:#F60;text-decoration: none;font-family: "微軟正黑體";font-weight: normal;}
.MaindealTitle a:visited{color:#F60;text-decoration: none;font-family: "微軟正黑體"; font-weight: normal;}
.MaindealTitle a:hover{color:#F60; text-decoration: underline;font-family: "微軟正黑體";font-weight: normal; }
.MaindealTitle a:active{color:#F60;text-decoration: none;font-family: "微軟正黑體";font-weight: normal;}

.MainDealCityTitle {
	width:auto;
	height:33px;
	z-index:1;
	font-size: 24px;






　
	float: left;
	margin-left: 10px;
	color:#333;
	text-decoration: none;
	font-family: "微軟正黑體";
	font-weight: normal;
	float: left;
	margin-right: 5px;
}
.MainDealProductName a:link{color:#333;text-decoration: none;font-family: "微軟正黑體";font-weight: normal;}
.MainDealProductName a:visited{color:#333;text-decoration: none;font-family: "微軟正黑體";font-weight: normal; }
.MainDealProductName a:hover{color:#333; text-decoration: underline;font-family: "微軟正黑體";font-weight: normal; }
.MainDealProductName a:active{color:#333;text-decoration: none;font-family: "微軟正黑體";font-weight: normal;}

/*.MainCityTitle{
	font-size: 30px;
	font-weight: bold;	
}*/
.MaindealMiddle {
	width:710px;
	height:auto;
	z-index:1;
	margin: 0px;
}
#Container{
	height: auto;
	overflow: hidden;
}
#Container2{
	height: auto;
	overflow: hidden;
}
#BuyArea {
	width:242px;
	height:95px;
	z-index:100;
	background-image: url(ppon-M1_Buy.png);
	background-repeat: no-repeat;
	margin-left: 0px;
}
#Price {
	z-index:1;
	font-size: 2.8em;
	color: #FFF;
	line-height: 2em;
	height: 90px;
	position: absolute;
	text-indent: 8px;
}
.BuyBTN {
	width:100px;
	height:52px;
	z-index:1;
	background-image: url(ppon-M1_BuyBtn.jpg);
	background-repeat: no-repeat;
	margin-top:18px;
	margin-right: 0px;
	float: left;
	display: block;
	text-indent: -9999px;
	margin-left:134px;
}
.BuyBTN:hover {
	background-image: url(ppon-M1_BuyBtnHov.jpg);
	border:0;
}
#BuyBTNFull {
	width:100px;
	height:52px;
	z-index:1;
	background-image: url(ppon-M1-BuyBtnfull.jpg);
	background-repeat: no-repeat;
	margin-top:18px;
	margin-right: 0px;
	float: left;
	display: block;
	text-indent: -9999px;
	margin-left:134px;
}
#BuyBTNEnd {
	width:100px;
	height:52px;
	z-index:1;
	background-image: url(ppon-M1-NO1.jpg);
	background-repeat: no-repeat;
	margin-top:18px;
	margin-right: 0px;
	float: left;
	display: block;
	text-indent: -9999px;
	margin-left:134px;


}
#MainPic {
	width:450px;
	height:253px;
	z-index:1;
	float: left;
	/*background-image: url(ppon-M1_pic.jpg);
	background-repeat: no-repeat;*/
	position: relative;
	left: 10px;
}
*html #MainPic {
	_display: inline;
	_margin-top: -350px;
}
.BuyLeft {
	width:14px;
	height:103px;
	z-index:1;
	background-image: url(ppon-M1_Buy1.png);
	position: relative;
	left: -13px;
}
#MaindealMiddleRight {
	width:246px;
	height:auto;
	z-index:10;
	float: right;
}
*html #MaindealMiddleRight {
	_width:240px;
	height:auto;
	z-index:10;
	float: right;
	position: relative;
	_margin-left: 140px;
	_left:80px;
}
#DiscountPriceR {
	width:233px;
	height:36px;
	z-index:1;
	font-size: 12px;
	text-align: center;
	font-family: "細明體";
	margin-right: 0px;
	background-image: url(ppon-M1_pricearea.jpg);
	padding-top: 3px;
}
.priceR{
	color: #000;
	font-size: 12px;
	text-align: center;
}
/*#Timer {
	width:185px;
	height:82px;
	z-index:1;
	background-image: url(ppon-M1_Timearea.jpg);
	background-repeat: no-repeat;
	margin-top: -7px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}*/
#TimerStatus {
	width:185px;
	height:82px;
	z-index:1;
	background-image: url(ppon-M1_Timearea2.jpg);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#Timerhourglass {
	width:30px;
	height:52px;
	z-index:1;
	background-image: url(ppon-M1_hourglass01.jpg);
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-left: 5px;
	float: left;
}
/*#TimeropenTitle {
	width:145px;
	height:25px;
	z-index:1;
	float: right;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	margin-top: 15px;
}*/
#TimerText {
	width:145px;
	height:25px;
	z-index:1;
	float: right;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	margin-top: 5px;
}
#Buyarea {
	width:185px;
	height:82px;
	z-index:1;
	background-image: url(ppon-M1_Timearea.jpg);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
*html #Buyarea {
	width:185px;
	height:82px;
	z-index:1;
	background-image: url(ppon-M1_Timearea.jpg);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-right:auto;
	margin-bottom: 0px;
	_margin-left:300px;
	display: inline;
}
#TimeOpenBuy {
	width:182px;
	height:25px;
	z-index:1;
	font-size: 15px;
	color: #000;
	font-weight: bold;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	padding-top: 20px;
}
#TimeOpenimg {
	width:121px;
	height:25px;
	z-index:1;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	margin-top: 3px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#TimeOpen_p {
	width:182px;
	height:25px;
	z-index:1;
	font-size: 15px;
	color: #000;
	font-weight: bold;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	padding-top: 10px;
}
#TimeTel {
	width:147px;
	height:30px;
	z-index:1;
	margin-top: 1px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#Timefulltext{
	width:170px;
	height:30px;
	z-index:1;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #F00;
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
	text-align: center;
}
#Timer_buy {
	width:182px;
	height:25px;
	z-index:1;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	padding-top: 10px;
}
#TimeEnd_p {
	width:182px;
	height:auto;
	z-index:1;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	padding-top: 5px;
	line-height: 22px;
}
#ensure {
	width:185px;
	height:210px;
	z-index:1;
	margin-top: 8px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
#line {
	width:454px;
	height:11px;
	z-index:1;
	background-image: url(ppon-M1_40.jpg);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: 10px;
	float: left;
}
*html #line {
	width:454px;
	height:11px;
	z-index:1;
	background-image: url(ppon-M1_40.jpg);
	background-repeat: no-repeat;
	_margin-top:-90px;
	margin-right: auto;
	margin-bottom: 0px;
	_margin-left:5px;
	float: left;
}
#Introduce {
	width:114px;
	height:23px;
	z-index:1;
	background-image: url(ppon-M1_42.jpg);
	background-repeat: no-repeat;
	margin-left: 10px;
	float: left;
}
*html #Introduce {
	width:114px;
	height:23px;
	z-index:1;
	background-image: url(ppon-M1_42.jpg);
	background-repeat: no-repeat;
	_margin-left:-450px;
	_margin-top: -80px;
}
#TipTitle {
	width:114px;
	height:23px;
	z-index:1;
	font-size: 14px;
	color: #333;
	font-weight: bold;
	float: left;

}
#TipTitle a:link{color:#F60;text-decoration: underline;}
#TipTitle a:visited{color:#F60;text-decoration: underline;}
#TipTitle a:hover{color:#F60; text-decoration: underline;}
#TipTitle a:active{color:#F60;text-decoration: underline;}

#Discountinner {
	width:454px;
	height:auto;
	z-index:1;
	font-size: 12px;
	float: left;
	padding-right: 0px;
	margin-left: 10px;
}
#Discountinner a:link{color:#F60;text-decoration: underline;}
#Discountinner a:visited{color:#F60;text-decoration: underline;}
#Discountinner a:hover{color:#F60; text-decoration: underline;}
#Discountinner a:active{color:#F60;text-decoration: underline;}

#Discountinner ul {
}
#Discountinner li {
	font-size: 12px;
}
*html #Discountinner {
	width:454px;
	height:auto;
	z-index:1;
	font-size: 12px;
	float: left;
	padding-right: 0px;
	margin-left: 10px;
	_margin-top: -80px;
}
#discount_min {
	width:80px;
	height:70px;
	z-index:5;
	background-image: url(ppon-M1_discount_min2.png);
	background-repeat: no-repeat;
	position: absolute;
	left: -10px;
	top: -26px;
}
#Entry {
	width:702px;
	height:auto;
	z-index:2;
	margin-bottom: 20px;
	float: left;
}
#Entrytop {
	width:702px;
	height:14px;
	z-index:3;
	background-image: url(ppon-M1-entrytop.png);
	background-repeat: no-repeat;
}
#EntryContent {
	width:702px;
	height:auto;
	z-index:3;
	background-image: url(ppon-M1-entrycontent.png);
	background-repeat: repeat;
	overflow: hidden;
}
#EntryBottom {
	width:702px;
	height:18px;
	z-index:3;
	background-image: url(ppon-M1-entrybottom.png);
	background-repeat: no-repeat;
}
#EntryContentLeft {
	width:476px;
	height:auto;
	z-index:3;
	margin-left: 10px;
	float: left;
	color: #414141;
}
.DetailTitle {
	width:476px;
	height:30px;
	z-index:3;
}
#Detailinner {
	width:468px;
	height:auto;
	z-index:3;
	font-size: 16px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#Dialog {
	width:476px;
	height:auto;
	z-index:3;
}
#Dialog a:link{color:#000;font-family: "微軟正黑體";text-decoration: none;}
#Dialog a:visited{color:#000; font-family: "微軟正黑體";text-decoration: none; }
#Dialog a:hover{color:#000;font-family: "微軟正黑體"; text-decoration: underline; }
#Dialog a:active{color:#000;font-family: "微軟正黑體";text-decoration: none;}

#DialogTop {
	width:476px;
	height:109px;
	z-index:3;
	background-image: url(ppon-M1-dialog-top.jpg);
	background-repeat: no-repeat;
}
#Dialoginner {
	width:456px;
	height:auto;
	z-index:3;
	background-image: url(ppon-M1-dialogcontent.jpg);
	background-repeat: repeat;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
}
#DialogBottom {
	width:476px;
	height:20px;
	z-index:3;
	background-image: url(ppon-M1-dialogbottom.jpg);
	background-repeat: no-repeat;
}
#Discuss {
	width:476px;
	height:115px;
	z-index:3;
	padding-top: 10px;
}
#DiscussTop {
	width:476px;
	height:18px;
	z-index:3;
	background-image: url(ppon-M1-discuss001.jpg);
	background-repeat: no-repeat;
}
.DiscussBox {
	width:476px;
	height:auto;
	z-index:3;
	border-left-width: 1px;
	border-left-color: #666;
	overflow: hidden;
}
.Discusspic {
	width:53px;
	height:53px;
	z-index:3;
	margin-top: 18px;
	margin-left: 5px;
	float: left;
}
#Discussright {
	width:413px;
	height:auto;
	z-index:3;
	float: right;
	margin-top: 10px;
}
#DiscussName {
	width:190px;
	height:30px;
	z-index:3;
	float: left;
	color: #666;
	padding-left: 10px;
}
#DiscussDate {
	width:190px;
	height:30px;
	z-index:3;
	float: right;
	text-align: right;
	color: #666;
	padding-right: 10px;
}
#Discussinner {
	width:403px;
	height:auto;
	z-index:3;
	clear: both;
	font-size: 14px;
	color: #666;
	padding-right: 5px;
	padding-left: 5px;
}
.DiscussLine {
	width:476px;
	height:4px;
	z-index:3;
	clear: both;
	background-image: url(ppon-M1-d_line.jpg);
	background-repeat: no-repeat;
	margin-top: 2px;
}
#EntryContentRight {
	width:196px;
	height:auto;
	z-index:3;
	float: right;
	padding-right: 8px;
	padding-left: 8px;
}
#AddressTitle {
	width:196px;
	height:auto;
	z-index:3;
	color: #000;
	font-size: 24px;
}
#Addressinner {
	width:190px;
	height:auto;
	z-index:3;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#MAP {
	width:196px;
	height:auto;
	z-index:3;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 10px;
}
#Addressinner ul {
	font-size: 13px;
	color: #000;
	font-family: "Arial Black", Gadget, sans-serif;
}
#Addressinner li {
	list-style-type: disc;
	list-style-position: inside;
}
#Rightarea {
	width:240px;
	height:auto;
	z-index:3;
	float: right;
	position: relative;
	top: 0px;
}
#Left {
	width:710px;
	height:auto;
	z-index:4;
	float: left;
}
#Marketingarea {
	width:240px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
}
#MarketingareaTop {
	width:240px;
	height:54px;
	z-index:4;
	background-image: url(ppon-M1-marketingtitle.png);
	background-repeat: no-repeat;
}
#MarketingareaContent {
	width:240px;
	height:auto;
	z-index:4;
	background-image: url(ppon-M1-Marketingcontent.png);
	background-repeat: repeat;
}
#MarketingareaBottom {
	width:240px;
	height:15px;
	z-index:4;
	background-image: url(ppon-M1-marketingbottom.png);
	background-repeat: no-repeat;
}
#MarketingBNArea {
	width:220px;
	height:auto;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 10px;
}
#Sidedeal {
	width:240px;
	height:auto;
	z-index:4;
}
#SidedealTop {
	width:240px;
	height:54px;
	z-index:4;
	background-image: url(ppon-M1-sidedealtitle.png);
	background-repeat: no-repeat;
}
.SideContent {
	width:240px;
	height:auto;
	z-index:4;
	background-image: url(ppon-M1-sidedealinner.png);
	background-repeat: repeat;
}
.SideBottom {
	width:240px;
	height:20px;
	z-index:4;
	background-image: url(ppon-M1-sidedealbottom.png);
	background-repeat: no-repeat;
	clear: both;
}
.sidedealbox {
	width:220px;
	height:auto;
	z-index:4;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12px;
	color: #333;
	font-family: "Arial Black", Gadget, sans-serif;
	padding-top:10px;
	overflow: hidden;
}
.sidedealbox a:link{color:#333;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}
.sidedealbox a:visited{color:#333; font-family: "Arial Black", Gadget, sans-serif;text-decoration: none; }
.sidedealbox a:hover{color:#333;font-family: "Arial Black", Gadget, sans-serif; text-decoration: underline; }
.sidedealboxa:active{color:#333;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}

.siededeal_priceIMG {
	width:220px;
	height:90px;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.sidedealpricearea {
	width:63px;
	height:auto;
	z-index:4;
	float: right;
}
.sidedealprice {
	width:53px;
	height:26px;
	z-index:4;
	background-image: url(ppon-M1-sidedealpricearea.jpg);
	background-repeat: no-repeat;
	font-size: 14px;
	color: #FFF;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 24px;
}
.sidedealDiscount {
	width:53px;
	height:22px;
	z-index:4;
	background-image: url(ppon-M1-sidedealdiscount.jpg);
	background-repeat: no-repeat;
	font-size: 12px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
}
.sidedealbuybtn {
	width:58px;
	height:28px;
	z-index:4;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 5px;
	display: block;
	text-indent: -9999px;
	background-image: url(ppon-M1-sidedealbtn.jpg);
	background-repeat: no-repeat;
}
.sidedealbuybtn:hover {
	background-image: url(ppon-M1-sidedealbtnHov.jpg);
	border:0;
}
#sidedealimg {
	width:156px;
	height:84px;
	z-index:4;
	float: left;
	position:relative;
}
#sidedeall_hr {
	width:220px;
	height:6px;
	z-index:4;
	background-image: url(ppon-M1-sidedealline.jpg);
	background-repeat: no-repeat;
	clear: both;
	position: relative;
	top: 10px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


#peautyarea {
	width:240px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
	margin-top: 10px;
}
#peautyareaTop {
	width:240px;
	height:54px;
	z-index:4;
	background-image: url(ppon-M1-peautytitle.jpg);
	background-repeat: no-repeat;
}
#peautyareaContent {
	width:240px;
	height:auto;
	z-index:4;
	background-image: url(Peautyinner.jpg);
	background-repeat: repeat;
}
#peautyiIMG {
	width:200px;
	height:127px;
	z-index:4;
	padding-right: 18px;
	padding-left: 18px;
}
#peautyprice {
	width:55px;
	height:26px;
	z-index:4;
	background-image: url(ppon-M1-sidedealpricearea.jpg);
	background-repeat: no-repeat;
	font-size: 16px;
	color: #FFF;
	padding-left: 75px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 60px;
	background-position: 66px 1px;
	font-weight: bold;
}
#peautyareatitle {
	width:220px;
	height:60px;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 12px;
	color: #333;
	font-family: "Arial Black", Gadget, sans-serif;
	padding-top: 10px;
	overflow: hidden;
}
#peautyareatitle a:link{color:#000;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}
#peautyareatitle a:visited{color:#000; font-family: "Arial Black", Gadget, sans-serif;text-decoration: none; }
#peautyareatitle a:hover{color:#000;font-family: "Arial Black", Gadget, sans-serif; text-decoration: underline; }
#peautyareatitle a:active{color:#000;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}

#peautyPBarea {
	width:240px;
	height:auto;
	z-index:4;
	padding-top: 10px;
}
#peautyfacebookLike {
	width:220px;
	height:auto;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 10px;
	overflow: hidden;
}
.peautybuybtn {
	width:100px;
	height:28px;
	z-index:4;
	padding-left: 5px;
	display: block;
	text-indent: -9999px;
	background-image: url(ppon-M1-sidedealbtn.jpg);
	background-repeat: no-repeat;
}
.peautybuybtn:hover {
	background-image: url(ppon-M1-sidedealbtnHov.jpg);
	border:0;
}


#Shoparea {
	width:240px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
	margin-top: 10px;
}
#ShopareaTop {
	width:240px;
	height:54px;
	z-index:4;
	background-image: url(ppon-M1-shoptitle.png);
	background-repeat: no-repeat;
}
#ShopareaContent {
	width:240px;
	height:auto;
	z-index:4;
	background-image: url(ppon-M1-shopcontent.png);
	background-repeat: repeat;
}
#Shopareatitle {
	width:210px;
	height:auto;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 14px;
	color: #333;
	font-family: "Arial Black", Gadget, sans-serif;
	padding-top: 10px;
}

#Facebookarea {
	width:240px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
	margin-top: 10px;
}
#FacebookareaTop {
	width:240px;
	height:54px;
	z-index:4;
	background-image: url(ppon-M1-Facebooktitle.png);
	background-repeat: no-repeat;
}
#FacebookareaContent {
	width:237px;
	height:auto;
	z-index:4;
	background-image: url(ppon-M1-sidedealinner.png);
	background-repeat: repeat;
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ShopBtn {
	width:110px;
	height:46px;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	text-indent: -9999px;
	background-image: url(ppon-M1-shopbn.jpg);
	background-repeat: no-repeat;
}
.ShopBtn:hover {
	background-image: url(ppon-M1-shopbnHov.jpg);
	border:0;
}
#ShopinnerIMG {
	width:240px;
	height:17px;
	z-index:4;
	background-image: url(ppon-M1-shopinner.png);
	background-repeat: no-repeat;
}
#DiscussareaMore {
	width:366px;
	height:auto;
	z-index:4;
	float: left;
	font-size: 14px;
	color: #333;
	text-align: right;
	padding-right: 20px;
	padding-top: 10px;
}
.DiscussareaBTN {
	width:75px;
	height:30px;
	z-index:4;
	float: right;
	display: block;
	text-indent: -9999px;
	background-image: url(ppon-M1-DBTN.jpg);
	background-repeat: no-repeat;
	margin-top: 8px;
}
.DiscussareaBTN:hover {
	background-image: url(ppon-M1-DBTNHov.jpg);
	border:0;
	background-repeat: no-repeat;
}
#MaindealFacebookarea {
	width:655px;
	height:auto;
	z-index:4;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-color: #ECFFFF;
	font-size: 14px;
	color: #666;
	font-family: "Arial Black", Gadget, sans-serif;
}
#MaindealFacebookarea {
	width:655px;
	height:auto;
	z-index:4;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-color: #ECFFFF;
	font-size: 14px;
	color: #666;
	font-family: "Arial Black", Gadget, sans-serif;
}
.sidedealboxText {
	width:220px;
	height:auto;
	z-index:4;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12px;
	color: #333;
	font-family: "Arial Black", Gadget, sans-serif;
	padding-top: 10px;
	overflow: hidden;
}
.sidedealboxText a:link{color:#333;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}
.sidedealboxText a:visited{color:#333; font-family: "Arial Black", Gadget, sans-serif;text-decoration: none; }
.sidedealboxText a:hover{color:#333;font-family: "Arial Black", Gadget, sans-serif; text-decoration: underline; }
.sidedealboxText a:active{color:#333;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}

.sidedealbuybtnText {
	width:58px;
	height:28px;
	z-index:4;
	display: block;
	text-indent: -9999px;
	background-image: url(ppon-M1-sidedealbtn.jpg);
	background-repeat: no-repeat;
	float: right;
	margin-right: 6px;
}
.sidedealbuybtnText:hover {
	background-image: url(ppon-M1-sidedealbtnHov.jpg);
	border:0;
}
#Referral {
	width:700px;
	height:440px;
	z-index:1;
	background-image: url(Referral.png);
}
#ReferralSignin{
	width:700px;
	height:420px;
	z-index:1;
	background-image: url(ReferralSignin.png);
	background-repeat: no-repeat;
}
#ReferralTitle {
	width:520px;
	height:39px;
	z-index:1;
	left: 66px;
	top: 100px;
	font-size: 16px;
	font-weight: bold;
	/*padding-left: 147px;*/
}
#ReferralLinkarea {
	width:565px;
	height:20px;
	z-index:2;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#ReferralLinkarea input {
	font-size: 18px;
	font-weight: normal;
}

#ReferralStep {
	width:431px;
	height:auto;
	z-index:3;
	position: absolute;
	left: 223px;
	top: 156px;
	text-align:left;
}
#ReferralStep p {
	line-height: 18px;
	font-size:18px;
	font-weight: bold;
	color: #000;
	margin-top:1px;
	margin-bottom:18px;
}
#ReferralContent {
	width:700px;
	height:auto;
	z-index:4;
	padding-top: 90px;
}

.ReferralStepTitle{
	color: #FFF;
	background-color: #000;
	width: 30px;
	height: 10px;
}
#Referralexplain {
	width:424px;
	height:60px;
	z-index:1;
	left: 155px;
	top: 314px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	position: absolute;
	font-family: "微軟正黑體";
	font-weight: bold;
	font-size: 16px;
	background-image: url(Referral_03.jpg);
	background-repeat: repeat;
	padding: 3px;
}
#referral_FB_area {
	position:absolute;
	width:113px;
	height:30px;
	z-index:1;
	left: 223px;
	top: 381px;
}
#referral_PL_area {
	position:absolute;
	width:82px;
	height:30px;
	z-index:3;
	left: 376px;
	top: 381px;
}
#Return {
	position:absolute;
	width:700px;
	height:350px;
	z-index:1;
	background-image: url(return.png);
	background-repeat: no-repeat;
}
#ReturnDetail {
	position:absolute;
	width:109px;
	height:21px;
	z-index:2;
	left: 570px;
	top: 320px;
}
#ReturnDetail a:link{color:#FFF;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}
#ReturnDetail a:visited{color:#FFF; font-family: "Arial Black", Gadget, sans-serif;text-decoration: none; }
#ReturnDetail a:hover{color:#FFF;font-family: "Arial Black", Gadget, sans-serif; text-decoration: underline; }
#ReturnDetail a:active{color:#FFF;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;}

#ReferralSigninTitle {
	position:relative;
	width:585px;
	height:50px;
	z-index:1;
	color: #F00;
	font-size: 20px;
	font-weight: bold;
	padding-right: 50px;
	padding-left: 65px;
	padding-top: 20px;
	font-family: Arial, Helvetica, sans-serif, "Arial Unicode MS", "Adobe 黑体 Std R";
}
#ReferralSigninRegister {
	position:absolute;
	width:152px;
	height:34px;
	z-index:2;
	left: 117px;
	top: 203px;
	font-size: 20px;
	color: #000;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif, "Arial Unicode MS", "Adobe 黑体 Std R";
}
#ReferralFacebookSignin{
	position:absolute;
	width:159px;
	height:25px;
	z-index:3;
	left: 298px;
	top: 210px;
	font-size: 12px;
	color: #333;
}
#ReferralPezSignin{
	position:absolute;
	width:118px;
	height:24px;
	z-index:2;
	left: 297px;
	top: 250px;
}
#Referraljoin {
	position:absolute;
	width:69px;
	height:25px;
	z-index:2;
	left: 299px;
	top: 297px;
	font-size: 16px;
}
#Referraljoin  a:link{color:#D67A17;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;font-weight: bold;
font-siz: 16px;}
#Referraljoin  a:visited{color:#D67A17;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;font-weight: bold;
font-siz: 16px;}
#Referraljoin  a:hover{color:#D67A17;font-family: "Arial Black", Gadget, sans-serif;font-weight: bold;font-siz: 16px; text-decoration: underline; }
#Referraljoin  a:active{color:#D67A17;font-family: "Arial Black", Gadget, sans-serif;text-decoration: none;font-weight: bold;
font-siz: 16px;}

#ReferralTip {
	position:absolute;
	width:397px;
	height:21px;
	z-index:1;
	left: 114px;
	top: 344px;
	font-size: 16px;
	color: #F00;
	font-weight: bold;
	font-family: "微軟正黑體";
	background-color: #EDD28F;
	padding-left: 10px;
}
#ReturnClose {
	width:18px;
	height:19px;
	z-index:4;
	background-image: url(ReturnlClose.png);
	float: right;
	margin-top: -3px;
	margin-right: 6px;
}
/*===========start======nivoslider======================*/
#slider {
    position:relative;
    width:450px;
    height:253px;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.nivo-controlNav {
	position:absolute;
	bottom:0px;
}
.nivo-controlNav a {
	display:block;
	width:17px;
	height:17px;
	background:url(slider_bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	margin-bottom:5px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}
.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(silder_arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:0;
	height:100%;
}
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
/*===========end======nivoslider======================*/


.Reason {
	width:476px;
	height:30px;
	z-index:4;
	background-image: url(recommend.jpg);
	background-repeat: no-repeat;
}
.Reasoninner {
	width:468px;
	height:auto;
	z-index:4;
	font-size: 14px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 5px;
}
.Reasoninner ul{
	list-style-type: none;	
}
.Reasoninner li{
	font-size: 14px;
	font-weight: bold;
}
.MainDealProductName {
	width:667px;
	height:auto;
	z-index:4;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-family: "微軟正黑體";
	font-size: 20px;
	padding-bottom: 10px;
	font-weight: normal;
}
.PeautySideBottom {
	width:240px;
	height:20px;
	z-index:4;
	background-image: url(peautybottom.jpg);
	background-repeat: no-repeat;
	clear: both;
}
.PponStickers {
	width:109px;
	height:75px;
	z-index:4;
	background-image: url(PponStickersLeft2.jpg);
	margin-bottom: 8px;
	float: left;
}
.PeautyStickers {
	width:109px;
	height:75px;
	z-index:4;
	background-image: url(PeautyStickersLeft.png);
	margin-bottom: 8px;
	float: left;
}
.TravelStickers {
	width:109px;
	height:75px;
	z-index:4;
	background-image: url(TravelStickersRight.png);
	margin-bottom: 8px;
	float: left;
}
.StickersArea{
	width:240px;
	height:75px;
	z-index:4;
	margin-bottom: 8px;
}

/*.TravelStickersOnly {
	width:240px;
	height:75px;
	z-index:4;
	background-image: url(TravelStickers.jpg);
	background-repeat: no-repeat;
	margin-bottom: 8px;
}

.PeautyStickersOnly {
	width:240px;
	height:75px;
	z-index:4;
	background-image: url(PeautyStickers.jpg);
	background-repeat: no-repeat;
	margin-bottom: 8px;
}*/
.MainDealCityTitleLeft {
	background-image: url(ppopTittleBG_01.png);
	background-repeat: no-repeat;
	float: left;
	height: 33px;
	width: 6px;
}
.MainDealCityTitleCen {
	background-image: url(ppopTittleBG_02.png);
	background-repeat: repeat-x;
	float: left;
	height: 33px;
	font-size: 20px;
	color: #FFF;
	font-weight: bold;
	font-family: "微軟正黑體";
	line-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
.MainDealCityTitleRight {
	background-image: url(ppopTittleBG_03.png);
	background-repeat: no-repeat;
	float: left;
	height: 33px;
	width: 16px;
}

/*20110825_OMS_ny_TouNeko*/

.OMS {
	width:420px;
	margin:0 0 0 0;
}
.OMStop {
	margin:10px 0 0 0;
	width:420px;
	height:50px;
	background:url(OMStop.png);
	float:left;
}
.OMSClose {
	width:27px;
	height:28px;
	z-index:4;
	background-image:url(MembeWclose.png);
	float:right;
	margin:-8px -8px 0 0;
}
.OMSContent {
	margin:0 0 0 0;
	width:418px;
	border-left:solid 1px #ADADAD;
	border-right:solid 1px #ADADAD;
	float:left;
}
.OMS_S1 {
	margin:10px 0 0 35px;
	padding:0 0 15px 0;
	width:350px;
	border-bottom:dashed #333 1px;
	float:left;
	text-align:center;
	font-size:13px;
}
.OMS_S1BTN {
	margin:0 0 15px 0;
	width:350px;
	height:80px;
	background:url(S1Bn.png) no-repeat;
	float:left;
}
.OMS_S1BTN:hover {
	background:url(S1TBn.png);
	border:0;
}
.OMS_S2 {
	margin:10px 0 0 36px;
	width:350px;
	float:left;
	text-align:center;
	font-size:13px;
}
.OMS_S2BTN {
	margin:0 0 15px 0;
	width:350px;
	height:80px;
	background:url(S2Bn.png) no-repeat;
	float:left;
}
.OMS_S2BTN:hover {
	background:url(S2TBn.png);
	border:0;
}
.OMSbottom {
	margin:0 0 0 0;
	width:420px;
	height:17px;
	background:url(OMSbottom.png);
	float:left;
}

/*20110915_PopLogin_ny_TouNeko*/

.PopLogin {
	width:700px;
	height:330px;
	position:relative;
	margin:auto;
	background:url(PopLoginBG.png) no-repeat;
	font:bold 20px '微軟正黑體';
	color:#4B2C12;
}
.PopLoginClose {
	float: right;
	height: 35px;
	width: 35px;
	position:relative;
	top: -10px;
	right: 20px;
	margin-bottom: -6px;
}
.PopLogin .Title {
	width:600px;
	margin:0 50px;
	border-bottom:1px dashed #4B2C12;
	float:left;
}
.PopLogin .TitleText {
	float:left;
}
.PopLogin .SignUp {
	float:right;
}
.PopLogin .IDSelect {
	width:620px;
	padding:35px 45px;
	float:left;
}
.PopLogin #M17LifeLogin {
	width:185px;
	height:95px;
	margin:10px;
	background:url(17LI_B.png) no-repeat;
	display:block;
	float:left;
}
.PopLogin #M17LifeLogin:hover {
	background:url(17LI_TB.png) no-repeat;
	border:0;
}
.PopLogin #FBLogin {
	width:185px;
	height:95px;
	margin:10px;
	background:url(FBLI_B.png) no-repeat;
	display:block;
	float:left;
}
.PopLogin #FBLogin:hover {
	background:url(FBLI_TB.png) no-repeat;
	border:0;
}
.PopLogin #PEZLogin {
	width:185px;
	height:95px;
	margin:10px;
	background:url(PEZLI_B.png) no-repeat;
	display:block;
	float:left;
}
.PopLogin #PEZLogin:hover {
	background:url(PEZLI_TB.png) no-repeat;
	border:0;
}
.HelpText {
	font-size:14px;
	text-align:center;
	width:185px;
	margin:5px 10px;
	float:left;
}
.ATMChooseArea {
	width:181px;
	height:52px;
	z-index:1;
	background-image: url(ppon-AtmArea.jpg);
	background-repeat: no-repeat;
	margin-top: -7px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-weight: bold;
	padding-left: 4px;
	color: #000;
}
.Creditcardicon {
	width:36px;
	height:36px;
	z-index:4;
	background-image: url(Creditcard.jpg);
}
.ATMicon {
	width:36px;
	height:36px;
	z-index:4;
	background-image: url(ATM.jpg);
}
.Over1K_Badge {
	width:105px;
	height:105px;
	z-index:5;
	background-image:url(over1k.png);
	position:absolute;
	bottom:-15px;
	right:-15px;
}
.Over1K_SS_Badge {
	width:60px;
	height:60px;
	z-index:5;
	background-image:url(over1k_SS.png);
	position:absolute;
	bottom:-10px;
	right:-5px;
}
#MagazineSticker {
	width:240px;
	height:auto;
	z-index:4;
	margin-bottom: 10px;
	margin-top: 10px;
}

/*New DealTimer*/

#Timer {
	width:185px;
	height:82px;
	z-index:1;
	background: url(ppon-M1_Timearea.jpg) no-repeat;
	margin: -7px auto 0 auto;
}
.TimerTitleField {
	width:171px;
	height:40px;
	margin:0 auto;
	border-bottom:1px solid #9E7750;
}
.TimeropenIcon {
	width:28px;
	height:19px;
	background:url(ppon-M1_Timeicon.png);
	float:left;
	margin:12px 3px auto 30px;
}
#TimeropenTitle {
	float:left;
	margin-top:12px;
	font-weight:bold;
	line-height:20px;
	font-size: 18px;
}
.TimeDayCounter {
	float:left;
	font-size:12px;
	color:#CCC;
	margin:24px auto auto 10px;
	}
#TimerField {
	width:165px;
	height:36px;
	margin:0 auto;
}
.TimeConUnit {
	float:left;
	font-size:13px;
	margin-top:14px;
	}
.TimeConDigit {
    width:28px;
    text-align:right;
    width:28px;
	float:left;
	font-size:26px;
	margin:0 2px auto 2px;
	}
.TimeConMiniDigit {
	height:30px;
	float:left;
	font-size:26px;
	line-height:30px;
	color:#FF6637;
	border-left:1px solid #CEBB95;
	padding-left:5px;
	margin:4px 5px;
	}
	
		/*old	Timerhourglass*/
#Timerhourglass {
	width:30px;
	height:52px;
	z-index:1;
	background-image: url(ppon-M1_hourglass01.jpg);
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-left: 5px;
	float: left;
}
/*old	Timerhourglass*/


	
/*---Multi-grade-Setting---*/
.Multi-grade-Setting {
	width:700px;
	height:auto;
	z-index:1;
}
.Multi-grade-Setting-TOP {
	background-image: url(A2-Multi-grade-Setting_01.jpg);
	background-repeat: no-repeat;
	height: 43px;
	width: 700px;
	clear: both;
}
.Multi-grade-Setting-CEN {
	background-image: url(A2-Multi-grade-Setting_02.jpg);
	background-repeat: repeat-y;
	width: 700px;
	height: auto;
	padding-top: 22px;
}
.Multi-grade-Setting-Bottom {
	background-image: url(A2-Multi-grade-Setting_03.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 700px;
}
.Multi-grade-Setting-CEN-farm {
	height: auto;
	width: 660px;
	padding-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
}
.Multi-grade-Setting-Table {
	width: 660px;
	border: 1px dashed #E0C698;
}
.Multi-grade-Setting-Table td{
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #E0C698;
}
.MGS-Tittle {
	font-family: "微軟正黑體";
	font-size: 17px;
	line-height: 22px;
	font-weight: normal;
	color: #000;
	width: 432px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 2px;
	margin-left: auto;
	overflow: hidden;
}
.MGS-sale{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#000;
	height: auto;
	width: 45px;
	line-height: 45px;
	font-weight: normal;
	text-align: center;
	background-color: #EBDDC7;
	margin: 0px;
}
.MGS-Original-Price {
	font-family: "微軟正黑體";
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
	color: #4B3927;
	width: 110px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: 6px;
	overflow: hidden;
	letter-spacing: 0.1em;
	margin-top: 0px;
}
.MGS-priceTable{
	width: 160px;
}
.MGS-priceTable td{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.MGS-priceTit{
	font-family:"微軟正黑體";
	font-size:17px;
	color:#000;
	line-height:18px;
	text-align: right;
}
.MGS-Price{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:17px;
	color:#000;
	line-height:20px;
	text-align: right;
	letter-spacing: 0.1em;
}
.MGS-Btn {
	background-image: url(A2-Multi-grade-Setting-btn.jpg);
	background-repeat: no-repeat;
	height: 33px;
	width: 75px;
	margin-top: 2px;
	margin-right: auto;
	margin-left: auto;
	background-position: 0px 0px;
}
.MGS-Btn:hover{
	background-position:0px -38px;
}
.MGS-Btn_SoldOut{
	background-image: url(A2-Multi-grade-Setting-btn.jpg);
	background-repeat: no-repeat;
	background-position:0px -92px;
	height: 33px;
	width: 75px;
	margin-top: 2px;
	margin-right: auto;
	margin-left: auto; 
}
.MGS-XX {
	background-image: url(A2-Multi-grade-Setting_xx.png);
	height: 28px;
	width: 27px;
	float: right;
	margin-top: -9px;
	margin-right: -9px;
}
.PriceUnderText {
	font-family: "微軟正黑體";
	font-size: 19px;
	font-weight: normal;
	color: #000;
	height: 25px;
	width: 42px;
	line-height: 25px;
	letter-spacing: 0em;
	text-indent: 6px;
	text-align: left;
	margin-top: 15px;
}
.PriceBeforeTheText{
	font-size:0.85em;
	color: #FFF;
	margin-right: -2px;
}
#DiscountPrice-Multi {
	width:233px;
	height:36px;
	z-index:1;
	text-align: center;
	font-family: "微軟正黑體";
	margin-right: 0px;
	padding-top: 3px;
	background-color: #F7F0E6;
	border: 1px solid #D1C3A9;
}
.Price-Multi {
	z-index:1;
	font-size: 3em;
	color: #000;
	line-height: 67px;
	height: 70px;
	text-align: right;
	padding-right: 11px;
}
.BuyBTN-Multi {
	width:145px;
	height:56px;
	z-index:1;
	background-image: url(A1-MultiGrade-Btn.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	display: block;
	text-indent: -9999px;
	margin-left:auto;
	padding-top: 18px;
	background-position: 0px 15px;
}
.BuyBTN-Multi:hover {
	background-image: url(A1-MultiGrade-Btn-hover.jpg);
	border:0;
	padding-top: 18px;
	background-position: 0px 15px;
}


/*---Multi-grade-Setting---*/