﻿@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**/
img {
  height: auto;
  max-width: 100%;
  border: none\9;
}

/*圖標字體化*/
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\f007";
}

.icon-clock-o:before {
  content: "\e605";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-filter:before {
  content: "\f0b0";
}

.icon-arrow-down:before {
  content: "\e601";
}

.icon-arrow-up:before {
  content: "\e602";
}

.icon-smile-o:before {
  content: "\f118";
}

.icon-smile-o-2:before {
  content: "\f118";
  color: #bf0000;
  font-size: 16px;
  margin-left: 10px;
  vertical-align: middle;
}

.icon-map-marker:before {
  content: "\f041";
}

/*****2015新版本*****/
body {
  font-family: "Arial Bold", "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}

.dts {
  /*標籤*/
  float: left;
  max-height: 30px;
  max-width: 220px;
  overflow: hidden;
  /**/
  display: inline-block;
}

.dts-label {
  width: auto;
  height: 16px;
  line-height: 16px;
  text-shadow: none;
  margin: 5px 0 0 0px;
  padding: 2px 5px 2px 5px;
  border-radius: 0;
}

.dts-lb-1, .dts-lb-2, .dts-lb-3,
.dts-lb-4, .dts-lb-5, .dts-lb-6, .dts-lb-7, .dts-lb-8, .dts-lb-9, .dts-lb-10 {
  background: none;
  border: 1px solid;
  margin-right: 5px;
}

/*破千、破萬*/
.dts-lb-1, .dts-lb-2 {
  color: #bf0000;
}

/*即買即用*/
.dts-lb-3 {
  color: #F60;
}

/*24*/
.dts-lb-4 {
  color: #bf0000;
  border-color: #31312c;
}

/*72*/
.dts-lb-5 {
  color: #bf0000;
  border-color: #31312c;
}

/*app限定*/
.dts-lb-6 {
  color: #00a0d3;
  border-color: #00a0d3;
}

/*最後一天*/
.dts-lb-7 {
  color: #f23082;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#maincontent a {
  display: block;
}

#maincontent a:hover {
  cursor: pointer;
}

#maincontent .m-buyinAPP a{
  display: inline-block;
}
#maincontent .share_btn_box a{
  display: inline-block;
}
#maincontent .buycounter a{
  display: inline-block;
}

/*****條列式與棋盤式共用*****/
.item_wrap {
  margin-bottom: 10px;
  border: 1px solid #cdcdcd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: relative;
}

.item_wrap:after {
  content: '';
  display: block;
  clear: both;
}

.item_wrap:hover {
  border-color: #BF0000;
  outline-bottom: #000 solid 5px;
}

span.oriprice {
  text-decoration: line-through;
}

/*多分店*/
.item_pic .hover_place{
  font-size: 14px;
  line-height: 20px;
}
.item_pic .hover_place .hover_place_text{
  padding: 10px;
  display: block;
  background: #000;
  background: rgba(0,0,0,0.82) ;
  background: opacity: 0.8;
  background: filter: alpha(opacity=80); /* For IE8 and earlier */
}

.item_soldout_480 {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.item_activeLogo {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}

/*item_title*/
.item_title {
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  line-height: 24px;
  height:133px;
}

.item_title .tag_place {
  float: left;
  border-radius: 20px;
  background: #999;
  color: white;
  margin: 0 5px 0 0;
  padding: 0px 7px;
}

.tag_title {
  color: #F60;
}

.tag_buycounter {
  float: right;
  font-size: 14px;
  color: #999;
}

.num_people {
  color: #BF0000;
}

/*****條列式*****/
.item_wrap_list {
  width: 100%;
}

/*條列式 檔次圖*/
.item_wrap_list .item_pic {
   float: left;
  width: 480px;
  height: 267px;
  background: url(ppon-M1_pic.jpg);
}

/*多分店*/
.item_wrap_list .hover_place{
  width: 480px;
  /*height: 50px;
  overflow: hidden;*/
  position: absolute;
  bottom: 116px;
  z-index: 15;
  color: #fff;
}

/*清單模式 "圖片讀取中"背景圖*/
.item_wrap_list .item_price_more {
  float: left;
  width: 220px;
}

.item_wrap_list .item_price_less {
  display: none;
}

.item_wrap_list .item_title {
  float: left;
  background: #e5e5e5;
  min-width: 680px; /*解決文字過短跑板問題*/
  height:96px;
}

.item_wrap_list .item_title .tag_place {
  font-size: 12px;
  line-height: 18px;
  margin: 3px 5px 0 0;
}

.item_wrap_list .item_title .tag_title {
  width: 70%;
  height: 24px;
  overflow: hidden;
  font-weight: bold;
}

.item_wrap_list .item_title .tag_subtitle {
  width: 100%;
  /*height: 24px;一行高度*/
  height: 48px;/*兩行高度*/
  overflow: hidden;
  color: #333;
}

.item_wrap_list .item_title ul {
  display: none;
}

/*item_price_more*/
.item_wrap_list .item_price_more {
  position: relative;
}

.item_wrap_list .item_price_more .discount {
  width: 62px;
  height: 65px;
  text-align: center;
  position: absolute;
  top: 10px;
  right: -8px;
  font: 22px/60px "Arial Bold", "微軟正黑體", "Microsoft Jhenghei", sans-serif;
  color: #fff;
  background: url(newdealdetail.png) -220px 0 no-repeat;
}

.item_wrap_list .item_price_more ul {
  margin: 5px 0 0 10px;
  width: 155px;
  height: 90px;
  overflow: hidden;
}

.item_wrap_list .item_price_more p {
  margin-left: 10px;
}

.item_wrap_list .item_price_more .price_detail {
  width: 220px;
  height: 110px;
  position: absolute;
  top: 80px;
}

.item_wrap_list .item_price_more .price_detail p {
  font-size: 12px;
  color: #999;
  margin-bottom: 8px;
}

.item_wrap_list .item_price_more .price_detail p.price {
  font-size: 28px;
  color: #BF0000;
  font-weight: bold;
}
.item_wrap_list .item_price_more .price_detail p.price_installment{
  color: #f60;
  font-weight: bold;
  /*font-size: 14px;*/
}/*201508 分期0利率 by stan*/

.item_wrap_list .item_price_more .price_detail .TimerTitleField {
  height: 20px;
  border: none;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField span.icon-clock-o {
  margin: 0 1px auto 5px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimerField {
  margin-top: 0px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimeCounter {
  line-height: 18px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimeConDigit {
  font-size: 16px;
  line-height: 18px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimeConUnit {
  line-height: 18px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimeDayCounter {
  margin: 0px 0 0 5px;
  line-height: 18px;
}

.item_wrap_list .item_price_more .price_detail .TimerTitleField .TimeCounter {
  margin: 0px 0 0 0px;
  line-height: 18px;
}

.item_wrap_list .item_price_more .btn_buy_wrap {
  width: 230px;
  height: 90px;
  position: absolute;
  top: 184px;
  background: url(newdealdetail.png) 0px -300px no-repeat;
}

.item_wrap_list .item_price_more .btn_buy_wrap .btn_buy {
  width: 140px;
  height: 64px;
  line-height: 64px;
  margin-left: 30px;
  font-size: 28px;
  color: white;
  text-align: center;
  font-weight: bold;
  background: url(newdealdetail.png) 0 -95px no-repeat;
}

.item_wrap_list .item_price_more .btn_buy_wrap p {
  font-size: 12px;
  color: #cdcdcd;
  margin-left: 18%;
}

/*****棋盤式*****/
.item_wrap_grid {
  width: 340px;
  float: left;
}

.item_wrap_grid:nth-child(odd) {
  margin-right: 10px;
}

.item_wrap_grid .item_soldout_480 {
  width: 100%;
}

.item_wrap_grid .item_soldout_480 img {
  width: 100%;
}

.item_wrap_grid .item_activeLogo {
  width: 100%;
}

.item_wrap_grid .item_activeLogo img {
  width: 100%;
}

.item_wrap_grid .base {
  width: 100%;
}

.item_wrap_grid .base img {
  width: 100%;
}

.item_wrap_grid .item_base {
  width: 100%;
}

.item_wrap_grid .item_base img {
  width: 100%;
}

.item_wrap_grid .item_pic {
  float: left;
}

.item_wrap_grid .item_pic {
  width: 100%;
  min-height: 189px;
  background: url(ppon-M1_pic.jpg) center;
}

/*多分店*/
.item_wrap_grid .hover_place{
  width: 100%;
  position: absolute;
  bottom: 175px;
  z-index: 15;
  color: #fff;
}

/*棋盤式 "圖片讀取中"背景圖*/
.item_wrap_grid .item_price_more {
  display: none;
}

.item_wrap_grid .item_title {
  float: left;
  padding-bottom: 5px;
  min-width: 94%; /*解決文字過短跑版*/
}

.item_wrap_grid .item_title ul {
  width: 65%;
  height: 26px;
  overflow: hidden;
  margin-bottom: 10px;
}

.item_wrap_grid .item_title ul li.dts-label {
  margin: 0 5px 5px 0;
}

.item_wrap_grid .item_title .tag_place {
  font-size: 12px;
  line-height: 18px;
  margin: 3px 5px 0 0;
}

.item_wrap_grid .item_title .tag_title {
  max-width: 80%;/*調整 標題字數過長自動換行的bug*/
  height: 24px;
  overflow: hidden;
  font-weight: bold;
}

.item_wrap_grid .item_title .tag_subtitle {
  width: 100%;
  height: 48px;
  overflow: hidden;
  font-size: 14px;
  color: #333;
}

/*item_price_less*/
.item_wrap_grid .item_price_less {
  float: left;
  width: 100%;
  height: 28px;     /*201508 解決價錢太長影響"分期0利率"跑版 by stan*/
  overflow: hidden; /*201508 解決價錢太長影響"分期0利率"跑版 by stan*/
  background: #e5e5e5;
}

.item_wrap_grid .item_price_less span.discount {
  float: left;
  font-size: 14px;
  color: #999;
  line-height: 28px;
  margin: 0 5px 0 0;
  padding-left: 10px;
}

.item_wrap_grid .item_price_less span.price {
  float: left;
  font-size: 18px;
  color: #BF0000;
  line-height: 28px;
  font-weight: bold;
  margin: 0 5px 0 0;
}

.item_wrap_grid .item_price_less span.oriprice {
  font-size: 14px;
  color: #999;
  line-height: 28px;
  margin: 0 5px 0 0;
}

.item_wrap_grid .item_price_less span.btn_buy {
  float: right;
  line-height: 28px;
  font-weight: bold;
  padding: 0 8px 0 8px;
}


/*檔次內頁*/
.dealtitle_box{ line-height: 1.5;}
#EntryContent{ line-height: 1.5;}
#Addressinner{line-height: 1.8;}



/*****
*
*item for 3Column 201507 by stan
*
*****/
.item_search_result_wrap{margin: 10px 0 0 0;}
/* 搜尋結果頁需篩選 201605 by stanley */
.item_search_result_wrap .search-result-get{line-height: 2.2;}
.item_search_result_wrap .search-result-none{line-height: 1.4;}
.item_search_result_wrap .result_title h3{color:#bf0000; font-size: 140%; border-bottom:2px solid #bf0000; margin:20px 0 15px 0; padding-bottom: 8px;  }

.item_3col_wrap{ width:100%; margin: 10px 0 0 0;}
/* 搜尋結果頁需篩選 201609 by stanley */
.item_3col_wrap .item_3col{
	width: 32%;
	float: left;
	margin-left:0.5%;
	margin-right:0.5%;
	margin-bottom: 2%;
	background: #fff;
	border: 1px solid #cdcdcd;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: relative;
}
.item_3col_wrap .item_3col:hover{border-color:#bf0000; }
/*
.item_3col_wrap .item_3col:nth-child(3n){ float: right; margin-right:0;}
*/
.item_3col a{ display: block; cursor: pointer;} 
.item_3col .item_3col_pic{ width: 100%; position: absolute; top: 0;}
.item_3col .hover_place_3col{ background: rgba(0,0,0,0.82); position: absolute; bottom:180px; width: 100%; z-index: 50; }
.item_3col .hover_place_3col .hover_place_text{ color: #fff; font-size: 14px; line-height: 20px; padding: 10px; display: block}
.item_3col .item_3col_pic img{width: 100%; }
.item_3col .item_title ul{ height: 26px; overflow: hidden; margin-bottom: 10px;}
.item_3col .item_title ul li{margin: 0 5px 5px 0;}
.item_3col .item_title .tag_place{ font-size: 12px; line-height: 18px; margin: 3px 5px 0 0;}
.item_3col .item_title .tag_title{ height: 24px; overflow: hidden; font-weight: bold;}
.item_3col .item_title .tag_subtitle{ height: 48px; width: 100%; overflow: hidden; font-size:14px; color: #333;}
.item_3col .item_3col_price_less{ background: #e5e5e5; height: 28px; overflow: hidden;/*201508 解決價錢太長與"分期0利率"照成的跑版 by stan*/}
.item_3col .item_3col_price_less span.discount{ font-size: 14px; color: #999; line-height: 28px; margin: 0 5px 0 0; padding-left: 10px;}
.item_3col .item_3col_price_less span.price{font-size: 18px; color: #bf0000; line-height: 28px; font-weight: bold; margin: 0 5px 0 0;}
.item_3col .item_3col_price_less span.oriprice{ font-size: 14px; color: #999; line-height: 28px; margin: 0 5px 0 0;}
.item_3col .item_3col_price_less span.btn_buy{ float: right; line-height: 28px; font-weight: bold; padding:0 8px 0 8px; }

.rating .fa{
  color: #F60;
  font-size:18px;
  margin-right:-1px;
}
.rating .rating_count{
  color:#999;
  font-size:14px;
  margin-left:2px;
}
.rating.insufficient .fa{
  color:#999;
}

#Dialog .rating{
	margin-bottom:20px;
	margin-left:6px;
}

#Dialog #DialogBottom {
    margin-bottom: 0;
}