.safelycode
{
    width: 18px;
    height: 18px;
    float: right;
    margin: 6px 430px 0 0;
    background: url(safely_code_icon.png) no-repeat;
}
.safelycode_pl
{
    width: 18px;
    height: 18px;
    float: right;
    margin: 8px 270px 0 0;
    background: url(safely_code_icon.png) no-repeat;
}
.safelycode_m
{
    width: 40px;
    height: 15px;
    display: inline-block;
    margin-left: 10px;
    color: #00F;
    font-size: 12px;
    background: url(safely_code_icon_m.gif) 25px -3px no-repeat;
}
.safelycode_mp
{
    width: 40px;
    height: 15px;
    display: inline-block;
    margin-left: 10px;
    color: #00F;
    font-size: 12px;
    background: url(safely_code_icon_m.gif) 25px -20px no-repeat;
}
.safelycode:hover
{
    width: 300px;
    height: 220px;
    position: relative;
    z-index: 1;
    background: url(safely_code.png) no-repeat;
    margin: -192px 150px 0 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0%, 0%, 0%, .5);
}
.safelycode_pl:hover
{
    width: 300px;
    height: 220px;
    position: relative;
    z-index: 1;
    background: url(safely_code.png) no-repeat;
    margin: -190px -10px 0 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0%, 0%, 0%, .5);
}
