@charset "utf-8";

.AccountContainer{
	width: 960px;
	margin: auto;
}
.Offers_Sidebar {
    /*loat: left;*/
    margin-top: 10px;
    width: 228px;
}
.SideBar {
    float: left;
    margin-bottom: 10px;
}
.SideBar ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding-left: 0;
}
.SideBar li {
	background: -moz-linear-gradient(center top , #b19780 0%, #917862 100%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #b19780 0%,#917862 100%);
	background: -ms-linear-gradient(top, #b19780 0%,#917862 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	height: 45px;
	width: 228px;
    border-bottom: 1px solid #6C5844;
    border-top: 1px solid #C9BAAD;
	display:block;
	background-clip:border-box;
	background-origin:padding-box;
	background-image:none;
	background-attachment:scroll;
    background-repeat:repeat;
	background-position-x:0%;
	background-position-y:0%;
	position:relative;
}
.SideBar li {
    border-style: solid;
    border-width: 1px 0;
}
.SideBar li:hover {
    background: -moz-linear-gradient(center top , #baa089 0%, #917862 100%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #baa089 0%,#917862 100%);
	background: -ms-linear-gradient(top, #baa089 0%,#917862 100%);	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baa089', endColorstr='#917862',GradientType=0 ); 
	/* IE6-8 */
    border-bottom: 1px solid #6C5844;
    border-top: 1px solid #C9BAAD;
    display: block;
    height: 45px;
    width: 228px;
	text-decoration: none;
}
.category {
    margin-bottom: 10px;
}
.category li {
    background: -moz-linear-gradient(center top , #b19780 0%, #917862 100%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #b19780 0%,#917862 100%);
	background: -ms-linear-gradient(top, #b19780 0%,#917862 100%);
/*	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b19780', endColorstr='#917862',GradientType=0);
	height: 45px;
	width: 228px;
	border-style: solid;
    border-width: 1px 0;
	/*background:rgb(255,255,255);*/
    display: block;
}
.SideBar li.first {
    border-top: 1px solid #CFCFCF;
}
.category_filters .first {
    border-top-width: 0;
}
.Offers_Sidebar li.selected:after { 
	background:repeat scroll 0 0 #FFFFFF;
	position: relative;
	text-decoration: none;
}
.SideBar a.category {
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	line-height: 43px;
	text-decoration: none;
}
.SideBar .category_icon {
    background: url("icon_Category.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 43px;
    margin-right: 3px;
    width: 40px;
}
.SideBar .category_icon02 {
	display: block;
	float: left;
	height: 43px;
	margin-right: 3px;
	width: 40px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("icon_all.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.SideBar li.selected {
	/*position: relative;*/
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7E664E;
}
.Offers_Sidebar .selected {
    background: repeat scroll 0 0 #FFFFFF;
    position: relative;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-color:rgb(255, 255, 255);
}
.Offers_Sidebar .selected:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    position: relative;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-color:rgb(255, 255, 255);
}
.AccountContainer .SideBar .arrow {
	height: 13px;
	position: absolute;
	right: -5px;
	top: 17px;
	width: 6px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(arrow.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.AccountContainer .SideBar li.selected a {
    color: #606060 !important;
}

.AccountContainer .Main{
	width: 660px;
	float: right;
	color: #414141;
	letter-spacing: 0.8px;
	background-color: #ECE7E4;
	border: 10px solid #FAFAFA;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding: 10px 20px 30px;
}
.AccountContainer .Main  h1 {
	font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;
	font-size: 18px;
	color: #414141;
	font-weight: normal;
	width: 620px;
	letter-spacing: 0.8px;
	line-height:1.5em;
}
.AccountContainer .Main  h1.padding {
    padding-top:0px;
    width: auto;
    display: inline-block;
}
.AccountContainer .Main span.OrderSearch{
	float: right;
	/*line-height: 27px;*/
	color: #bf0000;
	margin-top: 10px;
}
.AccountContainer .Main span.OrderSearch a{
	color: #1782c2;
}
.AccountContainer .Main hr.Line{
	border-bottom: 1px solid #C8C8C8;
	border-top-style: none;
	margin: 10px 0px 20px;
	background-color: #ECE7E4;
	width: 665px;
}
.AccountContainer .Main  p.EmailArea{
	font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;
	font-size: 13px;
	color: #414141;
	font-weight: normal;
	width: 620px;
	letter-spacing: 0.8px;
	margin-top:30px;
}
.AccountContainer .Main  ul.Detail_Personal{
	width: 660px;
	list-style-type: none;
	padding: 0px;
}
.AccountContainer .Main  ul.Detail_Personal li{
	font-size: 13px;
	color: #414141;
	font-weight: normal;
	letter-spacing: 0.8px;
	line-height: 40px;
	font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif;
}
.AccountContainer .Main  ul.Detail_Personal li .tag{
	width:100px;
	display:inline-block;
	text-align:right;
}
.AccountContainer .Main  ul.Detail_Personal li .captcha {
	width:114px;
	height:40px;
	display:inline-block;
	vertical-align:top;
}
.AccountContainer .Main  ul.Detail_Personal li label input{
   height: 26px;
   padding: 0px 2px;
}
.AccountContainer .Main  ul.Detail_Personal li select{
   height: 26px;
   padding: 2px;
}
.AccountContainer .Main  .ErrorMsg{
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 132px;
	text-align: center;
}
.AccountContainer .Main  .ErrorMsgAddressee{
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 323px;
	text-align: center;
}


.AccountBlock{
	width: 940px;
	height:auto;
	background-color: #ECE7E4;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	border: 10px solid #FAFAFA;
	float: left;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}
.AccountBlock .Left-column{
	float: left;
	padding: 30px 5px 30px 20px;
	width: 615px;
	line-height: 25px;
}
.AccountBlock .Left-column .AccountContent{
	padding-top: 30px;
}
.AccountBlock .Left-column h1{
	color: #414141;
	font-weight: normal;
	letter-spacing:0.8px;
	padding: 10px 0px;
	font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; 
	font-size: 24px;
}
.AccountBlock .Left-column h1.padding{
	padding-top: 70px;
	padding-left: 0px;
	font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; 
	font-size: 18px;
}
.AccountBlock .Left-column p{
	font-size: 13px;
	color: #414141;
	padding: 5px 0px 5px 0px;
	margin: 0px;
	letter-spacing: 0.8px;
}
.AccountBlock .Left-column p.Context-link{
	font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; 
	font-size: 13px;
	color: #414141;
	font-weight: normal;
	letter-spacing:0.8px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.AccountBlock .Left-column .AccountContent{
	width: 100%;	
}
.AccountBlock .Left-column .AccountContent p.City_field{
	width: 100%;	
	margin: 0 0 0.4em;
	font-size:13px;
}
.AccountBlock .Left-column .AccountContentt p.City_field label{	
	margin: 0 0.4em;
}
.AccountBlock .Left-column .AccountContent p.City_field select{
	width: 200px;
}
.AccountBlock .Left-column .AccountContentt p.field{
	width: 100%;	
}
.AccountBlock .Left-column .AccountContent p.field label{	
	color: #414141;
    display: block;
    font-size: 13px;
    font-weight: normal;
	line-height: 1.5em;
}
.AccountBlock .Left-column .AccountContent p.field input{
	padding:2px;
	margin-right:0px;
	font-size: 13px;
	width:305px;
	height: 26px;
}
.AccountBlock .Left-column p.SuccessTitle{
	font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; 
	font-size: 24px;
	color: #414141;
	font-weight: normal;
	margin-top:70px;
}
.AccountBlocK .Right-column {
	float: right;
	width: 300px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	vertical-align: middle;
}
.AccountBlocK .Right-column .RegisterAD_Short {
	height: 450px;
	width: 300px;
}
.Main .Pcash_Step{
	width: 660px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	background-repeat: no-repeat;
	height: 91px;
	background-image: url(Pcash_Step_1.png);
}
.Main .Pcash_Step .Account_Button_Cash{
	background-image: url(Pcash_Step_Cash_Hover.png);
	height: 91px;
	float:left;
	width: 106px;
	background-repeat: no-repeat;
}
.Main .Pcash_Step p.Price{
	font-size: 15px;
	color: #333;
	float: left;
	width: 100px;
	margin-top: 18px;
	margin-left: 0px;
}
.Main .Pcash_Step .Account_Button_Bonus{
	background-image: url(Pcash_Step_Bonus.png);
	height: 91px;
	float:left;
	width: 106px;	
	
}
.Main .Pcash_Step .Account_Button_Bonus:hover{
	background-image: url(Pcash_Step_Bonus_Hover.png);		
}
.Main .Pcash_Step p.Bonus{
	font-size: 15px;
	color: #333;
	float: left;
	width: 100px;
	margin-top: 18px;
	margin-left: 0px;
}
.Main .Pcash_Step .Pcash_Step_Button_Pez_Cash{
	background-image: url(Pcash_Step_Pez_Cash.png);
	height: 91px;
	float:left;
	width: 106px;
}
.Main .Pcash_Step .Pcash_Step_Button_Pez_Cash:hover{
	background-image: url(Pcash_Step_Pez_Cash_Hover.png);
}
.Main .Pcash_Step p.Pez_Cash{
	font-size: 15px;
	color: #333;
	float: left;
	width: 100px;
	margin-top: 18px;
	margin-left: 0px;
}	
.Main .Pcash_Step_2{
	width: 660px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	background-image: url(Pcash_Step_2.png);
	background-repeat: no-repeat;
	height: 91px;
}
.Main .Pcash_Step_2 .Account_Button_Cash{
	background-image: url(Pcash_Step_Cash.png);
	height: 91px;
	float:left;
	width: 106px;
}
.Main .Pcash_Step_2 .Account_Button_Cash:hover{
	background-image: url(Pcash_Step_Cash_Hover.png);	
}
.Main .Pcash_Step_2 .Account_Button_Bonus{
	background-image: url(Pcash_Step_Bonus_Hover.png);
	height: 91px;
	float:left;
	width: 106px;
}
.Main .Pcash_Step_2 p.Price{
	font-size: 15px;
	color: #333;
	float: left;
	width: 100px;
	margin-top: 18px;
	margin-left: 0px;
}
.Main .Pcash_Step_2 p.Bonus{
	font-size: 15px;
	color: #333;
	float: left;
	width: 100px;
	margin-top: 18px;
	margin-left: 0px;
}
.Main .Pcash_Step_2 .Pcash_Step_Button_Pez_Cash{
	background-image: url(Pcash_Step_Pez_Cash.png);
	height: 91px;
	float:left;
	width: 106px;
}
.Main .Pcash_Step_2 .Pcash_Step_Button_Pez_Cash:hover{
	background-image: url(Pcash_Step_Pez_Cash_Hover.png);
}
.Main .Pcash_Step_2 p.Pez_Cash{
	font-size: 15px;
	color: #333;
	float: left;
	width: 100px;
	margin-top: 18px;
	margin-left: 0px;
}	
.Main .Pcash_Step_3{
	width: 660px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	background-image: url(Pcash_Step_3.png);
	background-repeat: no-repeat;
	height: 91px;
}
.Main .Pcash_Step_3 .Account_Button_Cash{
	background-image: url(Pcash_Step_Cash.png);
	height: 91px;
	float:left;
	width: 106px;
}
.Main .Pcash_Step_3 .Account_Button_Cash:hover{
	background-image: url(Pcash_Step_Cash_Hover.png);	
}

.Main .Pcash_Step_3 p.Price{
	font-size: 15px;
	color: #333;
	float: left;
	width: 100px;
	margin-top: 18px;
	margin-left: 0px;
}
.Main .Pcash_Step_3 .Account_Button_Bonus{
	background-image: url(Pcash_Step_Bonus.png);
	height: 91px;
	float:left;
	width: 106px;	
}
.Main .Pcash_Step_3 .Account_Button_Bonus:hover{
	background-image: url(Pcash_Step_Bonus_Hover.png);		
}
.Main .Pcash_Step_3 p.Bonus{
	font-size: 15px;
	color: #333;
	float: left;
	width: 100px;
	margin-top: 18px;
	margin-left: 0px;
}
.Main .Pcash_Step_3 .Pcash_Step_Button_Pez_Cash{
	background-image: url(Pcash_Step_Pez_Cash_Hover.png);
	height: 91px;
	float:left;
	width: 106px;
	background-repeat: no-repeat;
}
.Main .Pcash_Step_3 p.Pez_Cash{
	font-size: 15px;
	color: #333;
	float: left;
	width: 100px;
	margin-top: 18px;
	margin-left: 0px;
}
.AccountContainer .Main .Pcash_Order{
	width: 660px;
	margin: 0px auto 10px;
}
.AccountContainer .Main table.Pcash_Order{
	border: 1px solid #D7D4D4;
}
.AccountContainer .Main .Pcash_Order td{
	padding: 8px;
	margin: 0px auto 20px;
	text-align: center;
}
.AccountContainer .Main .Pcash_Order .OrderLine {
    border-collapse: separate;
}
.AccountContainer .Main .Pcash_Order .OrderLine td {
    border-collapse: separate;
	border-bottom: 1px solid #D7D4D4;
}
.AccountContainer .Main .Pcash_Order .OrdertableWhite {

}
.AccountContainer .Main .Pcash_Order .OrdertableGray {
	background-color: #FFE;
}
.AccountContainer .Main .Pcash_Order .DetailRight {
    border-right: 1px solid #D7D4D4;
}
.AccountContainer .Main .Pcash_Order .Title{
	background: #C4AB9D;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	color:#432E1E;
}
.AccountContainer .Main .Page{
	width: 663px;
	height: 40px;
}
.AccountContainer .Main .Page a.fix{
	background: none repeat scroll 0 0 #FFFFFF;
	color: #432E1E;
	width: 50px;
	text-align: center;
	padding: 2px;
	height: 16px;
	float: left;
	margin: 0 5px;
	border: 1px solid  #432E1E;
}
.AccountContainer .Main .Page a.fix:hover{
	background: none repeat scroll 0 0 #C4AB9D;
	color: #432E1E;
	width: 50px;
	text-align: center;
	padding: 2px;
	height: 16px;
	float: left;
	margin: 0 5px;
	border: 1px solid  #432E1E;
	text-decoration: none;
}
.AccountContainer .Main .Page a.number{
	background: none repeat scroll 0 0 #FFFFFF;
	color: #432E1E;
	width: 28px;
	text-align: center;
	padding: 2px;
	height: 16px;
	float: left;
	margin: 0 5px;
	border: 1px solid  #432E1E;
}
.AccountContainer .Main .Page a.number:hover{
	background: none repeat scroll 0 0 #C4AB9D;
	color: #432E1E;
	width: 28px;
	text-align: center;
	padding: 2px;
	height: 16px;
	float: left;
	margin: 0 5px;
	border: 1px solid  #432E1E;
	text-decoration: none;
}
.AccountContainer .Main .Page .Total{
	font-size: 12px;
	text-align: center;
	width: 84px;
	float: right;
	padding: 5px 4px 0px 0px;
}

/*4-3?ï¿½ä»¶äººç®¡?ï¿½ï¿½???*/
.Addressee_Content{
	width: 665px;
	float: left;
	background:none repeat scroll 0 0 #FFFFFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.Addressee_Line{
	width: 665px;
	border-top: 1px solid #CCCCCC;
}
.Addressee_Gray{
	background-color: #E0E0E0;
	float: left;
	width: 665px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
ul.Addressee_categories{
	width: 520px; 
	float: left;  		
}
ul.Addressee_categories p.AddresseeTitle{
	font-size: 15px;
	width:520px;
	margin-top:10px;
}
ul.Addressee_categories li{
	list-style-type: none;
	width: 520px;
	line-height: 22px;
}
.AccountContainer .Main .Addressee_Content .Button{
	width: 62px;
	float:right;
	margin: 50px 20px 0px 0px;
}
.AccountContainer .Main .Addressee_Gray .Button{
	width: 62px;
	float:right;
	margin: 50px 20px 0px 0px;
}
/*HD5 OrderInquire CSS by TouNeko */
.AccountContainer .Main .ButtonBox { width: 100%; margin: 20px auto; text-align: center; }
.AccountContainer .Main .ButtonBox a { color: white; text-decoration: none; }
.AccountContainer .Main .OrderFilter { width:100%; text-align:right; }
.AccountContainer .Main .OrderTableArea {  margin:-10px auto 25px auto; }
.AccountContainer .Main .OrderTableTb { border:1px solid #D7D4D4; border-collapse: collapse;  }
.AccountContainer .Main .OrderTableTb .TableTitle {
	height:40px;
	background-color: #605247;
	font-weight: bold;	
	font-size: 13px;
	color: #EEE; 
}
.AccountContainer .Main .OrderTableTb .TableHeader {
	height:35px;
	background-color: #C4AB9D;
	font-weight: bold;	
	font-size: 13px;
	color: #432E1E; 
}
.AccountContainer .Main .OrderTableTb .LineOdd { height:35px; background-color: transparent; }
.AccountContainer .Main .OrderTableTb .LineEven { height:35px; background-color: #FFE; }
.AccountContainer .Main .OrderTableTb .TableBd { border:1px solid #D7D4D4; }
.AccountContainer .Main .OrderTableTb .TableBdpaad { border:1px solid #D7D4D4; padding:10px; }
.AccountContainer .Main .OrderTableTb .strong { font-size:14px; font-weight:bold; }
.AccountContainer .Main .OrderTableTb .InvoiceState { 
	width:600px; 
	height:50px; 
	margin:20px auto; 
	line-height:50px; 
	border:1px solid #605247; 
}

.AccountContainer .Main p { font-size:13px; }
.AccountContainer .Main .TableIndex { width:100%; text-align:center; margin-top:30px; }
.AccountContainer .Main .TableIndex .Btn { height:25px; background-color:#FFF; border:1px solid #414141; margin:auto 2px; padding:5px 8px; color:#414141; }
.AccountContainer .Main .TableIndex .Btn:hover { background-color:#C4AB9D; }
.AccountContainer .Main .TableIndex .BtnSelected { 
	height:25px; 
	border:1px solid #414141; 
	background-color:#C4AB9D; 
	margin:auto 2px; 
	padding:5px 8px; 
	color:#414141; 
}
.AccountContainer .Main .TableCount { width:100%; text-align:right; margin-top:-15px; }
.AccountContainer .Main .TitleArrow {
	width: 7px;
	height: 16px;
	margin:0 10px;
	background: url(Arrow_B.png) no-repeat;
	display: inline-block;
}
.AccountContainer .Main .EInvoice { background-color:#FFF; border:2px solid #71AAC6; margin:2px; }
.AccountContainer .Main .EInvoice .border { border-bottom:1px solid #71AAC6; border-right:1px solid #71AAC6; }
.AccountContainer .Main .EInvoice .bfix { border-right:none; }
.AccountContainer .Main .PrinterIcon { width:32px; height:32px; margin:0 auto; background:url(../Account/OrderInquire_icon.png) 0 0 no-repeat; }
.AccountContainer .Main .DownloadIcon { width:32px; height:32px; margin:0 auto; background:url(../Account/OrderInquire_icon.png) -32px 0 no-repeat; }
.AccountContainer .Main .SMSIcon { width:32px; height:32px; margin:0 auto; background:url(../Account/OrderInquire_icon.png) -64px 0 no-repeat; }
.AccountContainer .Main .EmailIcon { width:32px; height:32px; margin:0 auto; background:url(../Account/OrderInquire_icon.png) -96px 0 no-repeat; }
.AccountContainer .Main .Non-PrinterIcon { width:32px; height:32px; margin:0 auto; background:url(../Account/OrderInquire_icon.png) 0 -32px no-repeat; }
.AccountContainer .Main .Non-DownloadIcon { width:32px; height:32px; margin:0 auto; background:url(../Account/OrderInquire_icon.png) -32px -32px no-repeat; }
.AccountContainer .Main .Non-SMSIcon { width:32px; height:32px; margin:0 auto; background:url(../Account/OrderInquire_icon.png) -64px -32px no-repeat; }
.AccountContainer .Main .Non-EmailIcon { width:32px; height:32px; margin:0 auto; background:url(../Account/OrderInquire_icon.png) -96px -32px no-repeat; }
.AccountContainer .Main .PDFIcon { width:30px; height:16px; float:left; background:url(../Account/OrderInquire_icon.png) -129px 0 no-repeat; }
.AccountContainer .Main .HintIcon { width:16px; height:16px; float:left; background:url(../Account/OrderInquire_icon.png) -128px -16px no-repeat; }
.AccountContainer .Main .TextFix { float:left; margin-left:2px; line-height:16px; }
.AccountContainer .Main .FontPlus { font-size: 15px; line-height:27px; }


.AccountContainer .Main  ul.Subscription{
	width: 660px;
	list-style-type: none;
	padding: 0px;
}
.AccountContainer .Main  ul.Subscription li{
	font-size: 13px;
	color: #414141;
	font-weight: normal;
	letter-spacing: 0.8px;
	line-height: 30px;
	font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; 
}
.AccountContainer .Main  ul.Subscription li input{
   padding: 0px 2px;
}

.AccountContainer .Main  .Past_records{
	width: 660px;
	list-style-type: none;
	padding: 0px;
	font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; 
	font-size: 13px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.AccountContainer .Main  .Past_records_sub {
	list-style-type: none;
	padding: 0px;
	margin:0px;
}
.AccountContainer .Main  .Customer-Q{
	width: 660px;
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
}
.AccountContainer .Main  .Customer-Q .Customer-Records{
	width: 660px;
	list-style-type: none;
	font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; 
	font-size: 13px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCC;
	padding-top: 7px;
	padding-bottom: 5px;
	margin-bottom: 0px;
}
.AccountContainer .Main  .Customer-Q .Customer-Records:hover{
	width:660px;
	background-color:#fdf8f5;
	padding-bottom: 5px;
	margin-bottom: 0px;
}
.AccountContainer .Main  .Customer-Q .Customer-Records .Customer-Records_Q1{
	line-height:25px;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; font-size: 13px;margin-top: 0px;padding-top: 0px;}
.AccountContainer .Main  .Customer-Q .Customer-Records .Customer-Time{
	padding-top:15px;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; font-size: 13px;}
.AccountContainer .Main  .Customer-Q .Customer-Records .Order_Number{
	line-height:25px;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; font-size: 13px;height: 25px;}	
.AccountContainer .Main  .Customer-Q .Customer-Records .Customer-Records_pic1{
	background: url(OrderInquire_icon.png) 0px -59px no-repeat;
	height: 50px; width: 30px;margin-top: 0px;padding-top: 0px;}
.AccountContainer .Main  .Customer-Q .Customer-Records .Customer-Records_pic2{
	background: url(OrderInquire_icon.png) -43px -59px no-repeat;height: 25px;width: 30px;}

	
	
.AccountContainer .Main  .Customer-Q .Customer-Records2{	
	list-style-type: none;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; font-size: 13px;
	border-top-width:1px;border-top-style:dashed;border-top-color:#CCC;width:660px;padding-top:7px;margin-bottom:5px;}
.AccountContainer .Main  .Customer-Q .Customer-Records2 .ansTable{
	list-style-type:none;border-top-width:1px;border-top-style:dashed;border-top-color:#CCC;
	margin-bottom:5px;margin-top:10px;padding-top: 8px;}
.AccountContainer .Main  .Customer-Q .Customer-Records2 .ansTable .ans{
	font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; font-size: 13px;}
.AccountContainer .Main  .Customer-Q .Customer-Records2 .ansTable .ansTime{
	padding-top:15px;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; font-size: 13px;}
.AccountContainer .Main  .Customer-Q .Customer-Records2 .ansTable .ansTable_Pic{
	background: url(OrderInquire_icon.png) -94px -61px no-repeat;height: 25px;}
.AccountContainer .Main  .Customer-Q .Customer-Records2 .Order_Number{
	line-height:25px;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; font-size: 13px;height: 25px;}
.AccountContainer .Main  .Customer-Q .Customer-Records2 .Customer-Records_pic2{
	background: url(OrderInquire_icon.png) -43px -59px no-repeat;height: 25px;width: 30px;}
.AccountContainer .Main  .Customer-Q .Customer-Records2 .Customer-Records_Q1{
	line-height:25px;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; font-size: 13px;margin-top: 0px;padding-top: 0px;}
.AccountContainer .Main  .Customer-Q .Customer-Records2 .Customer-Time{
	padding-top:15px;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif; font-size: 13px;}

.email_pop { width:400px; height:150px; padding-top:1px; background-color:#F2F2F0; opacity:0.92; box-shadow:0 0 1em rgba(0, 0, 0, 0.25); }
.email_pop_content { width:380px; margin:0px auto; text-align:center;font-family: Arial,"微軟正黑體","Microsoft Jhenghei",sans-serif  "Microsoft JhengHei" ;}
.email_pop_content p { font-size:16px; line-height:18px; }
.email_pop_content input { width:350px; }
.email_pop_content .BtnName a { color:#FFF; }
.email_pop_content .BtnName a:hover { text-decoration:none; }
.email_pop_content .email_pop_error { height:30px; color:#F00; font-size:12px; }
.email_pop_content .email_pop_error_info { line-height:30px; }

.form-unit { width: 110px; display: inline-block; }
.state-msg { text-align: center; padding: 5px; }