﻿@charset "utf-8";
/* CSS Document */
.LifeMemberFrame, .MemberCardFrame {
	clear: both;
	height: auto;
	width: 960px;
	display: inline-block;
	margin-bottom: 40px;
	box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);
}
.LifeMember , .MemberCard{
	height: auto;
	width: 958px;
	margin: 0px auto;
	clear: both;
	/*border: #d2b08d 1px solid;*/ 
	border-radius: 3px;
	border: #cdcdcd 1px solid;
	border-radius: 5px 5px 0px 0px;
}
.LifeMemberTop {
	height: 47px;
	clear: both;
	/*margin: 1px;*/
	background: url(memberBg_smix.jpg);
	border-radius: 5px 5px 0 0;
}
.LifeMemberTopText {
	height: 47px;
	width: 680px;
	color:#4B2C12;	
	font-size: 20px;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	/*font-weight: bold;*/
	line-height: 47px;
	float: left;
	margin-left: 25px;
	letter-spacing: normal;
}
.LifeMemberTopBlack, .MemberCardTopBlack {
	height: 47px;
	clear: both;
	/*margin: 1px;*/
	background: url(../images/LifeMemberTop_bg.jpg);
	border-radius: 5px 5px 0 0;
}
.LifeMemberTopBlack .LifeMemberTopText, .MemberCardTopBlack .LifeMemberTopText { color: #fff;}

.LifeMemberTop img{
	position: relative;
	height: 30px;
	width: 30px;
	top: 8px;
	right: 3px;
}
.LifeMemberCenter {
	border-top: #cdcdcd 1px solid;
	height: auto;
	width: auto;
	padding-bottom: 15px;
	background: #fff;
}
.LifeMemberBottom {
	height: 6px;
	width: 958px;
	clear: both;
	background: #FFF;
}

/*----------------LMInfo/LifeMemberInfo/ul/li----------------*/
.LMInfo {
	width: 800px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 20px;
	clear: both;
	height: auto;
}
.LMInfo ul.LifeMemberInfo{
	margin: 0;
	padding: 0;
	width: 800px;
	font-size: 16px;
	color: #333;
}
.LifeMemberInfo ul{
	margin: 0;
	padding: 0;
	width: 850px;
	font-size: 16px;
	color: #333;
}
.LifeMemberInfo li{
	width: 850px;
	height: 40px;
	padding-left: 10px;
	list-style-type: none;
	margin: 6px 0 0 0;
	font-size: 16px;
	color: #333;
}
.LifeMemberInfo li:hover{
	width: 800px;
	height: 40px;
	list-style-type: none;
	background-color: #EFE0CB;
	color: #1E1E1E;
	padding-left: 10px;
	margin: 6px 0 0 0;
	font-size: 16px;
	color: #333;
}
.LifeMemberInfo_f li{
	width: 850px;
	height: 45px;
	padding-left: 10px;
	list-style-type: none;
	margin:6px 0 10px 0 ;
	font-size:16px;
	color:#333;
}
/*.LifeMemberInfo_f li:hover{
	width: 800px;
	height: 45px;
	list-style-type: none;
	background-color: #EFE0CB;
	color: #1E1E1E;
	padding-left: 10px;
	margin: 6px 0 10px 0 ;
	font-size: 16px;
	color: #333;
}*/
.LMInfo li.LifeMemberInfoColor {
	width: 800px;
	height: 40px;
	background-color: #FFDFDF;
	margin: 6px 0 0 0;
	padding-left: 10px;
}
.LMInfo li.LifeMemberInfoColor_f {
	width: 800px;
	height: 45px;
	background-color: #FFDFDF;
	margin: 6px 0 10px 0;
	padding-left: 10px;
}
/*----------------LMInfo/LifeMemberInfo/ul/li-----end-----------*/
.LifeMemberInfoTittle {
	letter-spacing: 0.3em;
	width: 94px;
	font-size:16px;
	color:#333;
}
.LifeMemberText { }
.LifeMemberNote{
	color:#666;
	font-size:13px;
	letter-spacing:normal;
	text-align: left;
	margin-left: 10px;
}
.LifeMemberText input {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 300px;
	height: 20px;
	background-color: #F3EDE2;
	border-top: 1px solid #B9955E;
	border-left: 1px solid #B9955E;
	border-right: 1px dashed #C4A557;
	border-bottom: 1px dashed #C4A557;
	text-indent: 5px;
	text-align: left;
}
.LifeMemberText select{
	font-size: 16px;
	color: #333;
	height: 25px;
	width: 100px;
	border-top: 1px solid #B9955E;
	border-left: 1px solid #B9955E;
	border-right: 1px dashed #C4A557;
	border-bottom: 1px dashed #C4A557;
	background-color: #F3EDE2;
}
.LifeMemberVerification {
	clear: both;
	height: 70px;
	width: 700px;
	margin: 7px auto 5px auto;
	padding-bottom: 5px;
	border-bottom: 1px dashed #B9955E;
}
.LifeMemberVFCode {
	height: 57px;
	width: 300px;
	float: left;
	border: 1px solid #C9AC81;
	margin-top: 0px;
	margin-left: 67px;
}
.LifeMemberVFCodeText {
	font-size: 13px;
	color: #F60;
	float: left;
	height: 23px;
	width: 150px;
	margin-top: 20px;
	margin-left: 15px;
	letter-spacing: 0.1em;
}
.LifeMemberVFCodeText a:link,
.LifeMemberVFCodeText a:visited,
.LifeMemberVFCodeText a:hover,
.LifeMemberVFCodeText a:active { color: #F60; text-decoration: underline; letter-spacing: normal; }

.LifeMemberAgree {
	font-size: 14px;
	letter-spacing: normal;
	height: 30px;
	width: 700px;
	position: relative;
	left: 115px;
	top: 6px;
}
.LifeMemberAgree a:link,
.LifeMemberAgree a:visited,
.LifeMemberAgree a:hover,
.LifeMemberAgree a:active { color: #F60; text-decoration: underline; letter-spacing: normal; }

.LifeMemberAgree input { margin:2px; }
.LifeMemberAgreeError{
	font-size: 14px;
	letter-spacing:normal;
	height: 30px;
	width: 730px;
	position: relative;
	left: 104px;
	top: 6px;
}
.LifeMemberAgreeError a:link,
.LifeMemberAgreeError a:visited,
.LifeMemberAgreeError a:hover,
.LifeMemberAgreeError a:active { color: #F60; text-decoration: underline; letter-spacing: normal; }

label.LifeMemberLabel{ font-weight: normal;}

.LifeMemberBtn {
	height: 38px;
	width: 109px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	background: url(memberBtn.png) no-repeat;
}
.LifeMemberBtn:hover { background: url(memberBtn_2.png) no-repeat; }

.LifeMemberLoginPic_wrap{
	width: 960px;
	position: absolute;
	top: 60px;
}/*20150330 獨立控制"用您已有的帳號登入"*/
.LifeMemberLoginPic {	
	/*height: 45px;
	width: 135px;
	margin-top: -55px;
	margin-top: 8px;*/
	float: right;
}
.LifeMemberLoginPic img{
	margin-right: 3px;
	height: 39px;
	width: 32px;
	margin-top: -3px;
}
.LifeMemberLoginPicText {
	font-size: 12px;
	color: #999;
	letter-spacing: normal;
	float: left;
	width: 130px;
	text-align: center;
	margin-top: 15px;
}
.LifeMemberConfirmMessage {
	font-size: 16px;
	color: #333;
	height: auto;
	width: 800px;
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
	line-height: 37px;
	text-align: center;
	letter-spacing:normal;
	clear: both;
}
.LifeMemberMessageMail {
	font-size: 18px;
	color: #4B2C12;
	letter-spacing: normal;
	font-weight: bold;
}
.LifeMemberConfirmBtn {
	height: 38px;
	width: 130px;
	margin: 25px auto 10px auto;
	clear: both;
	background: url(memberBtn2.png) no-repeat;
}
.LifeMemberConfirmBtn:hover { background: url(memberBtn2_2.png) no-repeat; }
.LifeMemberPEZOpenPassBtn {
	height: 38px;
	width: 130px;
	margin: 25px auto 10px auto;
	clear: both;
	background: url(memberBtn4.png) no-repeat;
}
.LifeMemberPEZOpenPassBtn:hover { background: url(memberBtn4_2.png) no-repeat; }
.LifeMemberConfirmEPBtn {
	height: 38px;
	width: 130px;
	margin: 25px auto 10px auto;
	clear: both;
	background: url(memberBtn7.png) no-repeat;
}
.LifeMemberConfirmEPBtn:hover { background: url(memberBtn7_2.png) no-repeat; }
.LifeMemberConfirmPassBtn {
	height: 38px;
	width: 130px;
	margin: 25px auto 10px auto;
	clear: both;
	background: url(memberBtn4.png) no-repeat;
}
.LifeMemberConfirmPassBtn:hover { background: url(memberBtn4_2.png) no-repeat; }
.LifeMemberHomeBtn {
	height: 38px;
	width: 130px;
	margin: 25px auto 10px auto;
	clear: both;
	background: url(homebtn.png) no-repeat;
}
.LifeMemberHomeBtn:hover { background: url(homebtn_hov.png) no-repeat; }
.LifeMemberConfirmMessageBtn {
	height: 38px;
	width: 130px;
	margin: 25px auto 10px auto;
	clear: both;
	background: url(memberBtn3.png) no-repeat;
}
.LifeMemberConfirmMessageBtn:hover { background: url(memberBtn3_2.png) no-repeat; }
.LifeMemberConfirmRemarks {
	font-size: 14px;
	line-height: 27px;
	color: #666;
	letter-spacing: normal;
	text-align: left;
	height: auto;
	width: 680px;
	border-top: 1px dashed #B9955E;
	padding-left: 60px;
	padding-top: 15px;
	margin-top: 25px;
	padding-right: 60px;
}
.LifeMemberConfirmRemarks a:link,
.LifeMemberConfirmRemarks a:visited,
.LifeMemberConfirmRemarks a:hover,
.LifeMemberConfirmRemarks a:active { color: #F60; text-decoration: underline; letter-spacing: normal; }

.LifeMemberConfirmEPText {
	margin-left: 10px;
	position: relative;
	top: -22px;
	font-size: 18px;
	color: #333;
	letter-spacing: normal;
	clear: both;
	width: 730px;
	border-bottom: 1px dashed #D2B08D;
	padding-bottom: 13px;
}
.MemberCard .LifeMemberConfirmEPText{ border: none;}
.LifeMemberLogFrame {
	clear: both;
	width: 960px;
	/*margin-left: 25px;*/
	padding-top: 20px;
	height: 300px;
}
.LifeMemberLogFrame.posttype {
	clear: both;
	width: 960px;
	/*margin-left: 25px;*/
	padding-top: 0px;
	height: 500px;
}
/*----------------LifeMemberLoging/LifeMemberLBg/ul/li----------------*/
.LifeMemberLoging {
	float: left;
	width: 290px;
	clear: both;
}
.LifeMemberLoging ul.LifeMemberLBg {
	margin: 0;
	padding: 0;
	width: 500px;
	font-size: 16px;
	color: #333;
}
.LifeMemberLBg ul{
	margin: 0;
	padding: 0;
	width: 500px;
	font-size: 16px;
	color: #333;
}
.LifeMemberLBg li {
	width: 500px;
	height: 40px;
	padding-left: 10px;
	list-style-type: none;
	margin: 6px 0 0 0;
	font-size: 16px;
	color:#333;
	
}
.LifeMemberLBg li:hover {
	width: 500px;
	height: 40px;
	list-style-type: none;
	background-color: #EFE0CB;
	color: #1E1E1E;
	padding-left: 10px;
	margin:6px 0 0 0;
	font-size:16px;
	color:#333;
}
.LifeMemberLoging li.LifeMemberLogingColor {
	width: 500px;
	height: 40px;
	background-color: #FFDFDF;
	margin: 6px 0 0 0;
	padding-left: 10px;
	
}
/*----------------LifeMemberLoging/LifeMemberLBg/ul/li------end----------*/


.LifeMemberLogingTittle {
	letter-spacing: 0.3em;
	width: 94px;
	font-size: 16px;
	color: #333;
}
.LifeMemberLoginText { width: 500px; }
.LifeMemberLoginNote {
	color: #666;
	font-size: 13px;
	letter-spacing: normal;
	text-align: left;
	margin-left: 10px;
}
.LifeMemberLoginText input {
	font-size: 16px;
	width: 250px;
	height: 20px;
	background-color: #F3EDE2;
	border-top: 1px solid #B9955E;
	border-right: 1px dashed #C4A577;
	border-bottom: 1px dashed #C4A577;
	border-left: 1px solid #B9955E;
	text-indent: 5px;
	text-align: left;
}
.LifeMemberOtherLoging1 {
	float: left;
	width: 480px;
	text-align: center;
	font-size: 15px;
	color: #4B2C12;
	letter-spacing: normal;
	/*height: 250px;*/
	padding-top: 0px;
	position: relative;
	border-right: 1px dashed #cdcdcd;
}
.member17 .LifeMemberOtherLoging1 {
	float: none;
	margin: 0 auto;
	width: 480px;
	text-align: center;
	font-size: 15px;
	color: #4B2C12;
	letter-spacing: normal;
	/*height: 250px;*/
	padding-top: 0px;
	position: relative;
	border-right: 0;
}
.LifeMemberOtherLoging1 img.LifeMember17logo{display: none; /**/}
.LifeMemberOtherLoging2 {
	float: left;
	width: 478px;
	text-align: center;
	font-size: 15px;
	color: #4B2C12;
	letter-spacing: normal;
	height: 250px;
	padding-top: 0px;
	padding-left: 0px;
}
.member17 .LifeMemberOtherLoging2 { display: none;}
.LifeMemberLogFrame .LifeMemberSubtitle{ 
	color: #333; 
	text-align:left;
	font-size: 22px; 
	line-height: 30px;
	padding-left: 10px; 
	margin:15px 0 20px 0; 
	border-left: 5px solid #999; 
	border-radius:0;
	margin-left: 90px;
}
.LifeMemberOtherLoging img { margin-top:15px; }
.LifeMemberLoginBtn {
	height: 38px;
	width: 130px;
	margin: 15px auto 8px auto;
	background: url(memberBtn4.png) no-repeat;
}
.LifeMemberLoginBtn:hover { background: url(memberBtn4_2.png) no-repeat; }
/*----------------LMPasswordFrame/LMPasswordIn/ul/li----------------*/
.LMPasswordFrame{
	width: 800px;
	margin:0 auto;
	padding-top: 20px;
	clear: both;
	height: auto;
}
.LMPasswordFrame ul.LMPasswordIn{
	margin: 0;
	padding: 0;
	width: 800px;
	font-size: 16px;
	color: #333;
}
.LMPasswordIn ul{
	margin: 0;
	padding: 0;
	width: 850px;
	font-size: 16px;
	color: #333;
}
.LMPasswordIn li{
	width: 850px;
	height: 40px;
	padding-left: 10px;
	list-style-type: none;
	margin: 6px 0 0 0 ;
	font-size: 16px;
	color: #333;
	
}
.LMPasswordIn li:hover{
	width: 800px;
	height: 40px;
	list-style-type: none;
	background-color: #EFE0CB;
	color: #1E1E1E;
	padding-left: 10px;
	margin: 6px 0 0 0 ;
	font-size: 16px;
	color: #333;
}
.LMPasswordFrame li.LMPasswordInColor{
	width: 800px;
	height: 40px;
	background-color: #FFDFDF;
	margin: 6px 0 0 0;
	padding-left: 10px;
}
/*----------------LMPasswordFrame/LMPasswordIn/ul/li------end----------*/

.LMPasswordFrameTittle{
	letter-spacing: 0.3em;
	width: 94px;
	font-size: 16px;
	color: #333;
}
.LMPasswordFrameText{ }
.LMPasswordFrameNote{
	color:#666;
	font-size:13px;
	letter-spacing:normal;
	text-align: left;
	margin-left: 10px;
}
.LMPasswordFrameText input{
	font-size: 16px;
	width: 280px;
	height: 20px;
	background-color: #F3EDE2;
	border-top: 1px solid #B9955E;
	border-right: 1px dashed #C4A577;
	border-bottom: 1px dashed #C4A577;
	border-left: 1px solid #B9955E;
	text-indent: 5px;
	text-align: left;
}
.LMPasswordFrameText select{
	font-size: 16px;
	color: #333;
	height: 25px;
	width: 100px;
	border-top: 1px solid #B9955E;
	border-right: 1px dashed #C4A577;
	border-bottom: 1px dashed #C4A577;
	border-left: 1px solid #B9955E;
	background-color: #F3EDE2;
}
.LMPasswordBtn {
	height: 38px;
	width: 130px;
	margin: 25px auto 10px auto;
	clear: both;
	background: url(memberBtn6.png) no-repeat;
}
.LMPasswordBtn:hover { background: url(memberBtn6_2.png) no-repeat; }
.LMPasswordInquiryBtn {
	height: 38px;
	width: 130px;
	margin: 25px auto 10px auto;
	clear: both;
	background: url(memberBtn5.png) no-repeat;
}
.LMPasswordInquiryBtn:hover {
	background: url(memberBtn5_2.png) no-repeat;
}
.LifeMemberPEZOpenPassText{
	margin-left: auto;
	position: relative;
	font-size: 18px;
	color: #333;
	letter-spacing: normal;
	width: 680px;
	border-bottom: 1px dashed #D2B08D;
	padding-bottom: 13px;
	margin-right: auto;
	float: left;
	margin-bottom: 25px;
}
.LifeMemberPEZOpenPassaPic{
	height: 60px;
	width: 60px;
	float: left;
	margin-left: 30px;
}
.LMPezCertificationFrame {
	clear: both;
	width: 700px;
}
.LMPezCertificationTop {
	background: url(OutPageBg_01.jpg) no-repeat;
	height: 12px;
	width: 700px;
	clear: both;
}
.LMPezCertificationCen {
	clear: both;
	width: 700px;
	background: url(OutPageBg_02.jpg) repeat;
	padding-bottom: 20px;
}
.LMPezCertificationBottom {
	background: url(OutPageBg_03.jpg) no-repeat;
	clear: both;
	height: 12px;
	width: 700px;
}
.LMPezCertificationTittle {
	font-size: 20px;
	color: #4B2C12;
	letter-spacing: normal;
	width: 648px;
	line-height: 40px;
	margin-left: 23px;
	font-weight: bold;
	float: left;
	border-bottom: 1px dashed #4B2C12;
}
.LMPezCertificationTittle img{
	position: relative;
	height: 30px;
	width: 30px;
	top: 5px;
	right: 5px;
}
.LMPezCertificationClose {
	height: 37px;
	width: 37px;
	position: relative;
	float: right;
	right: -9px;
	top: -20px;
	margin-bottom: -30px;
}
.LMPezCertificationMessage {
	width: 635px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	padding-top: 20px;
	font-size: 16px;
	line-height: 30px;
	color: #333;
	letter-spacing: normal;
}
.LMPezCertificationMessage a:link,
.LMPezCertificationMessage a:visited,
.LMPezCertificationMessage a:hover,
.LMPezCertificationMessage a:active { color: #F60; text-decoration: underline; letter-spacing: normal; }

.LMPezCertificationBtn {
	clear: both;
	height: 38px;
	width: 130px;
	margin: 20px auto 15px auto;
	background: url(memberBtn2.png) no-repeat;
}
.LMPezCertificationBtn:hover {
	background: url(memberBtn2_2.png) no-repeat;
}
.LMPezCertificationRemarks {
	font-size: 13px;
	line-height: 28px;
	color: #666;
	letter-spacing: normal;
	clear: both;
	width: 635px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	padding-bottom: 15px;
	margin-top: 25px;
}
.LMPezCertificationRemarks a:link,
.LMPezCertificationRemarks a:visited,
.LMPezCertificationRemarks a:hover,
.LMPezCertificationRemarks a:active{ color: #F60; text-decoration: underline; letter-spacing: normal; }

/*----------------lifeMemberRequestOpen/LMROPBg/ul/li----------------*/
.lifeMemberRequestOpen {
	width: 635px;
	margin: 15px auto;
	clear: both;
	padding-top: 30px;
	border-top: 1px dashed #4B2C12;
}
.lifeMemberRequestOpen ul.LMROPBg {
	margin: 0;
	padding:0;
	width: 635px;
	font-size:16px;
	color:#333;
}
.LMROPBg ul{
	margin:0;
	padding:0;
	width: 635px;
	font-size:16px;
	color:#333;
}
.LMROPBg li{
	width: 615px;
	height: 36px;
	padding-left: 10px;
	list-style-type: none;
	margin:6px 0 0 0 ;
	font-size:16px;
	color:#333;
	
}
.LMROPBg li:hover{
	width: 615px;
	height: 36px;
	list-style-type: none;
	background-color: #EFE0CB;
	/*background-color:#e1c9a4;*/
	color: #1E1E1E;
	padding-left: 10px;
	margin: 6px 0 0 0;
	font-size: 16px;
	color: #333;
}
.lifeMemberRequestOpen li.LMROPBgColor{
	width: 615px;
	height: 36px;
	background-color: #FFDFDF;
	margin: 6px 0 0 0;
	padding-left: 10px;
}
/*----------------lifeMemberRequestOpen/LMROPBg/ul/li----------------*/

.lifeMemberRequestOpenNote{
	color: #666;
	font-size: 13px;
	letter-spacing: normal;
	text-align: left;
	margin-left: 10px;
	clear: both;
}
.lifeMemberRequestOpen input{
	font-size: 16px;
	width: 250px;
	height: 20px;
	background-color: #F3EDE2;
	border-top: 1px solid #B9955E;
	border-right: 1px dashed #C4A577;
	border-bottom: 1px dashed #C4A577;
	border-left: 1px solid #B9955E;
	text-indent: 5px;
	text-align: left;
	margin-top: 6px;
}
.lifeMemberRequestOpenBtn {
	width: 380px;
	margin: 20px auto;
	clear: both;
	height: 38px;
}
.lifeMemberRequestBtnPic1 {
	height: 38px;
	width: 130px;
	margin-right: 27px;
	margin-left: 27px;
	float: left;
	background: url(memberBtn9.png) no-repeat;
}
.lifeMemberRequestBtnPic1:hover { background: url(memberBtn9_2.png) no-repeat; }
.lifeMemberRequestBtnPic2 {
	height: 38px;
	width: 130px;
	margin-right: 27px;
	margin-left: 27px;
	float: left;
	background: url(memberBtn8.png) no-repeat;
}
.lifeMemberRequestBtnPic2:hover { background: url(memberBtn8_2.png) no-repeat; }
.LifeMemberFirstShopping{
	width:800px;
	clear: both;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;	
}
* html .LifeMemberFirstShopping{
	width:800px;
	clear: both;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	display:inherit;
}
.LifeMemberFirstShoppTittle{
	width:115px;
	font-size:16px;
	letter-spacing: 0.3em;
	margin-left: 11px;
	float: left;
	height: 30px;
	line-height: 30px;
	color: #333;
}
.LifeMemberFirstShoppMail{
	width:670px;
	font-size:16px;
	float: left;
	line-height: 30px;
	color: #333;
	letter-spacing: normal;
}

/*------ç¬¬ä?æ¬¡è³¼??--------LMFirstShopping/LMFShoppIn/ul/li----------------*/
.LMFirstShopping {
	width: 800px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	clear: both;
	height: auto;
}
.LMFirstShopping ul.LMFShoppIn{
	margin: 0;
	padding:0;
	width: 800px;
	font-size:16px;
	color:#333;
}
.LMFShoppIn ul{
	margin:0;
	padding:0;
	width: 850px;
	font-size:16px;
	color:#333;
}
.LMFShoppIn li{
	width: 850px;
	height: 40px;
	padding-left: 10px;
	list-style-type: none;
	margin: 6px 0 0 0 ;
	font-size: 16px;
	color: #333;
	
}
.LMFShoppIn li:hover{
	width: 800px;
	height: 40px;
	list-style-type: none;
	background-color: #EFE0CB;
	color: #1E1E1E;
	padding-left: 10px;
	margin: 6px 0 0 0;
	font-size: 16px;
	color: #333;
}
.LMFirstShopping li.LMFShoppInColor{
	width: 800px;
	height: 40px;
	background-color: #FFDFDF;
	margin: 6px 0 0 0;
	padding-left: 10px;
}
/*----------------LMInfo/LifeMemberInfo/ul/li-----end-----------*/
.LMFShoppTittle {
	letter-spacing: 0.3em;
	width: 94px;
	font-size:16px;
	color:#333;
}
.LMFShoppName { margin-left: 10px; }
.LMFShoppName input {
	font-size: 16px;
	width: 85px;
	height: 22px;
	background-color: #F3EDE2;
	border-top: 1px solid #B9955E;
	border-right: 1px dashed #C4A577;
	border-bottom: 1px dashed #C4A577;
	border-left: 1px solid #B9955E;
	text-indent: 5px;
	text-align: left;
	margin-left: 6px;
}
.LMFShoppNote{
	color:#666;
	font-size:13px;
	letter-spacing:normal;
	text-align: left;
}
.LMFShoppGender{
	height: 55px;
	width: 150px;
}
.LMFShoppGender input{
	margin-right: 5px;
	height: 22px;
}
.LMFShoppPhone{ }
.LMFShoppPhone input{
	font-size: 16px;
	width: 210px;
	height: 22px;
	background-color: #F3EDE2;
	border-top: 1px solid #B9955E;
	border-right: 1px dashed #C4A577;
	border-bottom: 1px dashed #C4A577;
	border-left: 1px solid #B9955E;
	text-indent: 5px;
	text-align: left;
	margin-left: 6px;
}
.LMFShoppInvoice {}
.LMFShoppInvoice select{
	font-size: 16px;
	height: 24px;
	background-color: #F3EDE2;
	border-top: 1px solid #B9955E;
	border-right: 1px dashed #C4A577;
	border-bottom: 1px dashed #C4A577;
	border-left: 1px solid #B9955E;
	text-align: left;
	margin-left: 6px;
	width: 76px;
}
.LMFShoppInvoice input{
	font-size: 16px;
	width: 150px;
	height: 22px;
	background-color: #F3EDE2;
	border-top: 1px solid #B9955E;
	border-right: 1px dashed #C4A577;
	border-bottom: 1px dashed #C4A577;
	border-left: 1px solid #B9955E;
	text-align: left;
	margin-left: 6px;
}
.MemberLinkError {
	width:300px;
	height:auto;
	z-index:1;
}
.MemberPrivacy{
	font-size: 14px;
	line-height: 30px;
	/*width: 960px;*/
	width: 100%;/*隱私權政策做RWD*/
	margin: 0px auto;
}
.MemberPrivacy a:link,
.MemberPrivacy a:visited,
.MemberPrivacy a:hover,
.MemberPrivacy a:active { color: #630; text-decoration: underline; letter-spacing: normal; }

.MemberPrivacyTitle{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight:bold;
	font-size:30px;
}
.MemberUserpolicydate{
	float: right;
	height: auto;
	font-size: 13px;
	color: #666;
	padding-top: 18px;
	padding-right: 10px;
}
.MemberPrivacydate{
    float: right;
}
.MemberLinkError {
	width:300px;
	height:auto;
	z-index:1;
}
.LifeMemberLoginText3 {
	font-size: 15px;
	width: 280px;
	height: 33px;
	line-height: 33px;
	text-align:center;
	float: left;
	margin-top: 4px;
}
.LifeMemberLoginText3 a:link,
.LifeMemberLoginText3 a:visited,
.LifeMemberLoginText3 a:active{ color: #0088CC; text-decoration: none; letter-spacing: normal; }
.LifeMemberLoginText3 a:hover{ color: #0088CC; text-decoration: underline; letter-spacing: normal; }

/*-----------------------------------------------*/
.lifeMemberReOpMaildvffm{
	width:635px;
	clear: both;
	height: 35px;
	margin-bottom: 8px;

}
.lifeMemberReOpMaildv{
	width:110px;
	font-size:16px;
	letter-spacing: 0.3em;
	margin-left: 11px;
	float: left;
	height: 30px;
	line-height: 30px;
	color: #333;
}
.lifeMemberReOpMaildvText{
	width: 250px;
	float: left;
	color: #4B2C12;
	font-weight: bold;
}
.lifeMemberReOpMaildvNote{
	color:#666;
	font-size:13px;
	letter-spacing:normal;
	text-align: left;
	margin-left: 15px;
	float: left;
}
.PezFbFillInEmail{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	text-align: left;
}
.PezFbFillInEmail ul{
    margin:0;
	padding:0;
	width: 800px;
	font-size:16px;
	color:#333;
}

.PezFbFillInEmail li{
	width: 800px;
	height: 40px;
	padding-left: 10px;
	list-style-type: none;
	margin:6px 0 0 0 ;
	font-size:16px;
	color:#333;
	
}
.PezFbFillInEmail li:hover{
	width: 800px;
	height: 40px;
	padding-left: 10px;
	list-style-type: none;
	background-color:#EFE0CB;
	
}

.PezFbFillInEmail li.PezFbFillInColor{
	width: 800px;
	height: 40px;
	background-color:#FFDFDF;
	list-style-type: none;
	margin:6px 0 0 0;
	padding-left: 10px;
	font-size:16px;
	
}
/*-------------17lifeMemberLoging?¹ç?-Start----------------*/
.lmbecOtloginfor{
	width:285px;
	clear:none;
	margin-right: auto;
	margin-left: auto;
	/*height: 220px;*/
}

.lmbeclogiTi{
	font-size:13px;
    line-height: 23px;  
	color:#333;
	width: 290px;
	margin: 20px auto 7px auto;
	letter-spacing: 0.1em;
	text-align: left;
}
.lmbecloging {
	width: 285px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
.lmbecloging ul{
	margin: 0;
	padding:0;
	color:#333;
	list-style-type: none;
	width: 280px;
	border: 1px solid #cecece;
}
.lmbecloging li{
	margin: 0;
	/*margin-bottom: 1px;*//*ie 會多一條線*/
	padding:0;
	width: 280px;
	color:#333;
	list-style-type: none;
	/*height: 38px;*/
}
li.lmbecloging input[type=text]{border: none; border-bottom: 1px solid #cecece; width: 280px; height: 30px; margin: 0; padding: 0; }/*height調整*/
li.lmbecloging input[type=password]{border: none; width: 280px; height: 30px; margin: 0; padding: 0;}/*height調整*/
.lmbeclogingTEXT{
	font-size:15px;
}
.lmbecloging input{
	width: 190px;
	clear: both;
	font-size: 15px;
	color: #000;
	background-color: #fff;
	border: 1px solid #CCC;	
	text-indent: 5px;
	text-align: left;
}
/*----驗證碼----*/
.lmbeclogingProof{ margin-top:10px; clear: none; } 
.lmbeclogingProof .imgCaptcha_120{
	width: 120px; 
	height: 30px;
	background: #eeeeee;
	/*background: url(Captcha_80.gif) no-repeat;*/
	display: inline-block;
	border: 1px solid #CCC;
	float: left;/**/
	margin-bottom: 10px;
}
.lmbeclogingProof a{line-height: 33px; color:#0088CC; margin-left: 10px; }
.lmbeclogingProof ul.lmbecloging_160{margin-bottom: 10px; border-bottom: none; }

.lmMemoryLog {
	width: 280px;
	height: auto;
	margin: 0 auto;
	font-size: 13px;
	color: #333;
	text-align: left;
	position: relative;
}
.lmMemoryLog label { vertical-align: middle; font-size: 12px; font-weight: normal; }
.lmQuestionIcon {  width: 21px; height: 21px; vertical-align: middle; cursor: pointer; display: inline-block;}
.lmQuestionIcon img { width: 100%; height: auto;}
.lmQuestionIcon:hover > .lmMemoryLog-box { display: block;}
.lmMemoryLog-box { 
	width: 280px;
	background: #E2E2E2;
	padding: 5px;
	position: absolute;
	left: 140px;
	top:-8px;
	display: none;
}
.lmMemoryLog-box p { font-size: 12px; line-height: 16px;}
.lmMemoryLog-box a { color: #0088CC; text-decoration: underline;}
.lmbelogGO{
	width:285px;
	clear: both;
	margin: 10px auto;
	height: 38px;
}
.lmbeclogingBtn {
	width: 280px;
	margin-left: 0px;
	background: url(../images/memberBtnCH1.png) no-repeat;
	height: 38px;
	float: left;
}
.lmbeclogingBtn:hover { background: url(../images/memberBtnCH2.png) no-repeat; }
.lmbeclogFBPEZTi{
	font-size:13px;
	margin-top: 20px;
	margin-bottom: 7px;
	letter-spacing: 0.1em;
	text-align: left;
	line-height: 23px;
	color: #333;
}
/*----把fb和pez的按鈕用css寫----*/
.lmbecFbBtn{
	width: 280px;
	margin-left: 0px;
	background: url(../images/FBlogoBig.png) no-repeat;
	height: 38px;
}
.lmbecPezBtn{
	width: 280px;
	margin-left: 0px;
	margin-top: 10px;
	background: url(../images/PEZlogoBig.png) no-repeat;
	height: 38px;
}

/*-------------17lifeMember?¹ç?-Eedn---------------*/

.PezOpen {
	width:635px;
	height:auto;
	z-index:1;
}

.LifeMemberLogFrameForAcs {
	clear: both;
	width: 920px;
	margin-left: 25px;
	padding-top: 20px;
	height: 320px;
}
.LifeMemberOtherLoging1ForAcs {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 15px;
	color: #4B2C12;
	letter-spacing: normal;
	height: 304px;
	padding-top: 5px;
	top: -5px;
}
.LifeMemberOtherLoging2ForAcs{
	float: left;
	width: 308px;
	text-align: center;
	font-size: 15px;
	color: #4B2C12;
	letter-spacing: normal;
	border-right: 1px dashed #B9955E;
	border-left: 1px dashed #B9955E;
	height: 304px;
	padding-top: 5px;
}
.lmbecOtloginforForAcs{
	width:285px;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	height: 245px;
}

.lmbecOtloginforForAcsPEZ{
	width:100%;
	clear:both;
	margin-right: auto;
	margin-left: auto;
	height: auto;
}
.LifeMemberTXT2{
	font-size: 13px;
	color: #666;
}
.LifeMemberTXT2 input{
	margin-left:20px;
	width:13px;
	height:13px;
	border:none;
	background-color:inherit;
}
.header_btn_box { width: 500px; }
.header_app_btn { width: 160px; height: 40px; float: right; margin-top: 50px; text-indent: -9999px; display: inline-block; background: url(../images/app_fb_btn.png) 0 0 no-repeat; }
.header_app_btn:hover { background: url(../images/app_fb_btn.png) 0 -50px no-repeat; }
.header_fb_btn { width: 125px; height: 40px; float: right; margin-top: 50px; text-indent: -9999px; display: inline-block; background: url(../images/app_fb_btn.png) -160px 0 no-repeat; }
.header_fb_btn:hover { background: url(../images/app_fb_btn.png) -160px -50px no-repeat; }
.header_17life_btn{ display: block; width: 200px; height: 100px; text-indent: -9999px;}
.meeaar {color: #F00; margin-left: 22px; letter-spacing: normal; font-size:13px; }
.onlyRED {color: #F00; margin-left: 108px; letter-spacing: normal; }
.lmf-fix { display: block; }
.lmopt-fix { float: none; margin-bottom: 0px; border-bottom: none; }

/*rdl*/
.rdl-redT { color: #F00; margin-left: 162px; } 
.rdl-redT2 { color: #F00; margin-left: 27px; } 
.rdl-LMPawdTit { margin-left: 20px; }
.rdl-redT3 { color: #F00; margin-left: 182px; letter-spacing: normal; }
.rdl-redT4 { margin-left: 86px; }
.rdl-redT5 { margin-left: 32px; font-size: 13px; }
/*rdl*/
.HomepageLine{ display: none;}
body > #wrap{ background:#f5f3f4;}

.LifeMember_register_Bottom {margin-bottom:35px;}

.LMPassword_Account {padding-left: 11px; margin-bottom: 11px;}


/*201409 手機認證 by Stan*/
.selectSetting{ padding: 20px 0 10px 0;}
.selectSetting input{float: left; height: 20px; line-height: 20px;  }
.selectSetting .input-content img{ float: left; margin: 0 10px 0 10px; width: 32px;}
.selectSetting label{ font-weight: normal;}
.text-center{ text-align: center;}
a.resent-mail{ color: blue; text-decoration: underline; font-size: 13px; margin-left: 10px;}

.btn, .nobtn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(../images/btn_bk_ie.png);
  background-color: #d7d7c7;
  background-image: -moz-linear-gradient(top, #ffffff, #d7d7c7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d7d7c7));
  background-image: -webkit-linear-gradient(top, #ffffff, #d7d7c7);
  background-image: -o-linear-gradient(top, #ffffff, #d7d7c7);
  background-image: linear-gradient(to bottom, #ffffff, #d7d7c7);
  background-repeat: repeat-x;
  border: 1px solid #333;
  *border: 0;
  border-color: #333;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd7d7c7', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn + .btn { margin-left: 10px; }
/*
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  color: #333333;
  background-color: #d7d7c7;
  *background-color: #d9d9d9;
}*/
.btn:active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}

.btn:hover, .btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}/**/
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-large {
  padding: 12px 35px;
  font-size: 18px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: url(../images/btn_bk_pri_ie.png);
  background-color: #9f0000;
  background-image: -moz-linear-gradient(top, #df0000, #9f0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#df0000), to(#9f0000));
  background-image: -webkit-linear-gradient(top, #df0000, #9f0000);
  background-image: -o-linear-gradient(top, #df0000, #9f0000);
  background-image: linear-gradient(to bottom, #df0000, #9f0000);
  background-repeat: repeat-x;
  border-color: #9f0000;
  border-color: rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f#df0000', endColorstr='#ff9f0000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover{ color: #fff;}
.LifeMember17logo{ display: none;}

.input-fixwidth{ width: 60%; float: left;} 
.data-input input[type="text"]{
  display: inline-block;
  height: 20px;
  padding: 3px 5px;
  margin-bottom: 10px;
  margin-top:0; 
  font-size: 12px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.grui-form { margin: 10px 0 10px 0;}
.grui-form .form-unit .data-input textarea:focus,
.grui-form .form-unit .data-input input:focus,
.grui-form .form-unit .data-input select:focus {
  border-color: rgba(191, 0, 0, 0.6);
  outline: 0;
}
.grui-form .form-unit .data-input .input-half{ margin-right: 20px;}
.fixwidth .btn{ margin-top: 0; float: left;}

.grui-form .enter-error{ color: red; line-height: 25px; height: 25px;}
.grui-form .enter-error img{ float: left; margin:3px 5px 0 0;}
.grui-form .enter-error p{ float: left; font-size: 80%; color: #bf0000; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;}

.btn-center{ text-align: center;}
.LifeMemberFrame-RDL .LifeMemberCenter .LMInfo{ font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;}
.LifeMemberFrame-RDL .LifeMemberCenter .LMInfo .input-content{ font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;}
.green-color { color: #14a049;}

