@charset "utf-8";
/* CSS Document */
* html .LifeMemberTopText {
	height: 46px;
	width: 680px;
	color: #4B2C12;
	font-family: "新細明體";
	font-size: 22px;
	font-weight: bold;
	line-height: 47px;
	float: left;
	margin-left: 15px;
	letter-spacing: normal;
}
*html .LifeMemberCenter {
	background-image: url(memberBg_03.jpg);
	background-repeat: repeat;
	height: auto;
	width: 960px;
	padding-bottom: 22px;
	float: left;
	display:inline;
}
* html .LifeMemberVFCode {
	height: 35px;
	width: 100px;
	float: left;
	border: 1px solid #C9AC81;
	margin-top: 6px;
	margin-left: 120px;
}
*html .LMPezCertificationFrame {
	clear: both;
	width: 700px;
	background-image: url(OutPageBg_02.jpg);
	background-repeat: repeat;
	margin-bottom:-10px;
	padding-bottom:-20px;
}
* html.LMPezCertificationCen {
	clear: both;
	width: 700px;
	padding-bottom: 20px;
	background-image: url(OutPageBg_02.jpg);
	background-repeat: repeat;
	display:inline;
	margin-top:-5px;
}
* html .LMPezCertificationBottom {
	background-image: url(OutPageBg_03.jpg);
	background-repeat: no-repeat;
	clear: both;
	height: 12px;
	width: 700px;
	margin-bottom:-7px;
}
* html .lifeMemberRequestBtnPic {
	height: 38px;
	width: 130px;
	margin-right: 15px;
	margin-left: 15px;
	float: left;
	display:inline;
}
*html .LifeMemberFirstShoppTittle{
	width:115px;
	font-family:"新細明體";
	font-size:16px;
	letter-spacing: 0.3em;
	margin-left:0px;
	float: left;
	height: 30px;
	line-height: 30px;
	color: #333;
}

