

/* L型Menu控制區 Start*/
ul.side-nav.fixed ul.collapsible-accordion .collapsible-body li a {
    font-weight: 400;
    padding: 0 37.5px 0 50px;
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
}

ul.side-nav.fixed li a {
    font-size: 14px;
    line-height: 48px;
    height: 48px;
    padding: 0 30px;
    color: #444;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px;
}

.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    margin-right: 10px;
    font-size: 1em;
    text-align: center;
    font-size: 20px;
    color: #333;
}

.side-nav .collapsible-body li.active > a > i {
    color: #fff;
}

.side-nav li.active {
    /* background: transparent; */
    background: rgba(0, 0, 0, 0.05);
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active a,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: inherit;
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background: rgba(0, 0, 0, 0.10);
}

.top-nav {
    /* position: fixed; */
    z-index: 100;
    background-color: #353535;
    line-height: 60px;
    height: 60px;
}

    .top-nav form {
        margin-bottom: 0;
    }

    .top-nav select {
        margin: 16px 5px;
    }

.nav-logo {
    height: 50px;
    width: 180px;
    background: url(../images/logo-big.png) no-repeat 0 -2px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}

.top-nav select.browser-default option {
    /* color: red; */
}

.nav-account_info {
    float: right;
}

    .nav-account_info span, .nav-account_info span a {
        color: #fff;
    }

        .nav-account_info span a {
            text-decoration: underline;
        }

    .nav-account_info span {
        padding: 0 10px;
        border-right: 2px solid #fff;
    }

        .nav-account_info span:last-child {
            border-right: 0;
            margin-right: 10px;
        }

.nav-selectbox {
    width: 200px;
    margin-left: 10px;
    float: left;
}

.side-nav .collapsible-header:after {
    /* content: "\f054"; */
    content: "\f107";
    font-family: FontAwesome;
    float: right;
    /* color: #666; */
}

.side-nav .collapsible-header.active:after {
    /* content: "\f078"; */
    content: "\f105";
    font-family: FontAwesome;
    float: right;
    /* color: #666; */
}

#nav-mobile {
    margin-top: 60px;
    height: calc(100% - 60px);
    padding-bottom: 0;
    width: 250px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /* background: #ffebee; */
}

.page-content {
    width: calc( 100vw - 250px );
    margin-left: 250px;
    height: calc( 100vh - 60px );
    overflow: auto;
    padding: 0 20px;
}
/* L型Menu控制區 End*/

/* 舊版UI校正，使其不會因為新framework與導入的外掛jquery樣式而跑版　Start*/
.OWriteOff {
    box-sizing: initial;
}

    .OWriteOff *, .OWriteOff *:before, .OWriteOff *:after {
        box-sizing: inherit;
    }

    .ow-bk-box, .OWriteOff select {
        box-sizing: border-box;
    }

.page-content .OWriteOff {
    margin: 0;
}

.OWriteOff .form-unit p {
    width: auto;
    /* margin-top: 15px!important; */
}

.OWriteOff .grui-form .form-unit .unit-label {
    /* padding-top: 15px!important; */
}

.OWriteOff .form-unit + .form-unit {
    border-top: none;
}

.OWriteOff .form-unit input[type="radio"], .OWriteOff .form-unit input[type="checkbox"] {
    height: 1em;
}
/* 舊版UI校正，使其不會因為新framework與導入的外掛jquery樣式而跑版　End*/


/* 業務用單頁-沒有L型Menu，固定960寬度並置中 Start */

.page-content.page-content-single_page {
    width: 100%;
    height: 100vh;
    margin-left: 0;
}

    .page-content.page-content-single_page > .breadcrumbs-title,
    .page-content.page-content-single_page > .row {
        width: 1260px;
        margin-right: auto;
        margin-left: auto;
    }

    .page-content.page-content-single_page .btn.fixed-float-btn {
        right: 0;
        left: 50%;
        margin-left: 630px;
        margin-right: 0;
    }

    .page-content.page-content-single_page .tabs.z-depth-1.black-text.fixed {
        top: 0;
    }

    .page-content.page-content-single_page .bpopup-modal {
        margin-left: 0;
    }
/* 業務用單頁-沒有L型Menu，固定960寬度並置中 End */


/* 通用設定 Start*/
body {
    background-image: none;
    background: #fafafa;
    overflow: hidden;
}

select {
    font-size: 12px;
    height: 28px;
    padding: 3px 3px;
    min-width: 50px;
}
/* button */
.btn:hover, .btn-large:hover {
    color: #fff;
}

a.btn:link, a.btn:visited {
    color: #fff;
}

.btn.brown.lighten-3 {
    padding: 0 15px;
}

.btn, .btn-large {
    background: #bf0000 !important;
    box-sizing: border-box;
}

    .btn.secondary, .btn-large.secondary {
        background: #FFF !important;
        border: 1px solid #bf0000 !important;
        color: #bf0000 !important;
        padding: 0 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .btn.secondary-blue, .btn-large.secondary {
        background: #FFF !important;
        border: 1px solid #0e1aff !important;
        color: #0e1aff !important;
        padding: 0 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .btn.tertiary, .btn-large.tertiary {
        background: #353535 !important;
    }

    .btn.disabled {
        background-color: #DFDFDF !important;
    }

    .btn.fixed-float-btn {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: fixed;
        right: 0;
        top: 50%;
        z-index: 10;
        margin-right: 10px;
        margin-top: -105px;
        /* padding-top: 20px; */
        /* padding-right: 70px; */
        /* font-size: 1.5em; */
        line-height: 1.25em;
        padding: 0;
    }

.fixed-float-btn span {
    margin-top: 20px;
    display: inline-block;
    color: inherit;
}

.row .col a:not(.btn) {
    color: #08c;
    text-decoration: underline;
}

    .row .col a:not(.btn):not(.disabled):hover {
        color: #007AFF !important;
        /* font-weight: bold; */
        /* transform: scale(1.1)!important; */
    }

a .fa.fa-plus-circle, a .fa.fa-minus-circle {
    cursor: pointer;
}

/*colors*/
.red {
    background: #BF0000 !important;
}

.orange {
    background: #FF6600 !important;
}

.pink {
    background: #F11B75 !important;
}

.blue {
    background: #007AFF !important;
}

.green {
    background: #0EA146 !important;
}

.coupon_green {
    background: #469602 !important;
}

.hoverable:hover {
    cursor: pointer;
}

.collection-header {
    font-size: 24px;
    line-height: 45px;
}

.collection .collection-item.avatar {
    min-height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.white-text input, .white-text select, .white-text ul,
.white-text li, .white-text label, .white-text span,
.white-text a, .white-text table, .white-text td,
.white-text textarea {
    color: #fff;
}

@media only screen and (min-width: 1201px) {
    /* line 317, ../sass/components/_global.scss */
    .hide-on-xlarge-only {
        display: none !important;
    }
}

.back_to_list {
    float: right;
    color: #08C !important;
    font-size: 16px;
    padding-right: 10px;
}

/* 通用設定 End*/

/*-------以下為多數頁面中有機會大量重複使用的component的CSS--------*/

/* 各處Table相關控制碼 Start*/
/* Materialize table CSS*/
table, th, td {
    border: none;
}
/* line 368, ../sass/components/_global.scss */
table {
    width: 100%;
    display: table;
}
    /* line 372, ../sass/components/_global.scss */
    table.bordered > thead > tr, table.bordered > tbody > tr {
        border-bottom: 1px solid #d0d0d0;
    }
    /* line 378, ../sass/components/_global.scss */
    table.striped > tbody > tr:nth-child(odd) {
        background-color: #f2f2f2;
    }
    /* line 382, ../sass/components/_global.scss */
    table.striped > tbody > tr > td {
        border-radius: 0;
    }
    /* line 387, ../sass/components/_global.scss */
    table.highlight > tbody > tr {
        transition: background-color .25s ease;
    }
        /* line 389, ../sass/components/_global.scss */
        table.highlight > tbody > tr:hover {
            background-color: #f2f2f2;
        }
    /* line 395, ../sass/components/_global.scss */
    table.centered thead tr th, table.centered tbody tr td {
        text-align: center;
    }

/* line 402, ../sass/components/_global.scss */
thead {
    border-bottom: 1px solid #d0d0d0;
}

/* line 406, ../sass/components/_global.scss */
td, th {
    /* padding: 15px 5px; */
    display: table-cell;
    /* text-align: left; */
    vertical-align: middle;
    border-radius: 2px;
}

    td.announcement_date {
        min-width: 200px;
        text-align: center;
    }

    td.announcement_content {
    }

/* 新版結構使用的table，只有在新版範圍內會生效 */
.row .col table {
    background: #fff;
    border: 1px solid #e0e0e0;
    line-height: 1em;
}

    .row .col table thead {
        background: #f9f9f9;
    }

    .row .col table td {
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        padding: 10px;
        padding: 15px 5px;
        word-break: break-all;
    }

    .row .col table th {
        border-right: 1px solid #e0e0e0;
        padding: 10px 5px;
        word-break: break-all;
    }

        .row .col table th:last-child, .row .col table td:last-child {
            border-right: 0;
        }

    .row .col table tr:last-child td {
        border-bottom: 0;
    }

    .row .col table:not(.no-grid) tbody tr:hover,
    .row .col table tbody tr.active {
        background: #fffff4;
    }

    .row .col table tbody tr.active-row {
        background: #feeeee;
    }

    .row .col table .btn, .row .col table .btn-large, .row .col table .btn-flat {
        padding: 0 10px;
    }

    .row .col table.no-grid {
        margin-bottom: 0;
    }

        .row .col table.no-grid, .row .col table.no-grid td {
            border: 0;
            padding-top: 0;
            padding: 0 10px 4px 0;
        }

            .row .col table.no-grid td.row_function {
                cursor: pointer;
            }

            .row .col table.no-grid input {
                width: 100%;
                border: 1px solid #ddd;
                /* border-width: 4px; */
                /* border-right: 0; */
                height: 2em;
                padding-left: 8px;
            }

            .row .col table.no-grid td:last-child input {
                /* border-right: 1px solid #ddd; */
            }

            .row .col table.no-grid tr.title td[align='left']:not(.star) {
                padding-left: 10px;
            }

.row .col .form-unit table.no-grid {
    background: transparent;
}

.table_display_controller {
    margin-top: 10px;
}
/* 各處Table相關控制碼 End*/

/* pagination Start*/
.dis-inline {
    display: inline;
}

.mrg20-ver {
    margin: 0 20px;
}

.btn.arrow {
    font-size: 1.2em;
    color: #fff;
    padding: 0px 10px 0px 25px;
    vertical-align: middle;
}
/* pagination End*/

/* 表單常用元件 Start*/
.date_edit:hover {
    cursor: pointer;
}

.date_edit:after {
    content: "\f044";
    font-family: FontAwesome;
    padding-left: 2px;
}

@media only screen and (max-width: 1200px) {
    /* line 317, ../sass/components/_global.scss */
    .form-unit, .form-unit input {
        /* font-size: 13px; */
    }

    body {
        /* font-size: 14.5px; */
    }
}

.row .col .form-unit .unit-label {
    float: left;
    width: 135px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
}

.row .col .form-unit .data-input {
    margin-left: 160px;
    line-height: 32px;
    padding-right: 10px;
}

    .row .col .form-unit .data-input p {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-top: 0px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        /* height: 32px; */
    }

        .row .col .form-unit .data-input p a {
            line-height: 1em;
            height: 32px;
            vertical-align: middle;
        }

        .row .col .form-unit .data-input p .btn {
            /* vertical-align: top; */
            height: 32px;
            line-height: 32px;
        }

.row .col .form-unit {
    overflow-y: auto;
    overflow-x: hidden;
}

    .row .col .form-unit + .form-unit {
        border-top: 1px solid #e0e0e0;
    }

    .row .col .form-unit .data-input table {
        margin-top: 0;
    }

    .row .col .form-unit .data-input:before,
    .row .col .form-unit .data-input:after {
        padding-bottom: 16px;
        display: block;
        height: 10px;
        width: 100%;
        content: '';
    }

    .row .col .form-unit .data-input .note:first-child {
        margin-top: 6px;
        display: inline-block;
    }

    .row .col .form-unit select {
        margin-top: 0;
        margin-bottom: 0;
    }

    .row .col .form-unit .note a {
        color: #08c;
        text-decoration: underline;
    }

    .row .col .form-unit textarea {
        width: 100%;
        height: 120px;
        line-height: 1.2em;
    }

    .row .col .form-unit input[type='text'] {
        height: 2em;
        width: 100%;
    }

    .row .col .form-unit input[type='number'] {
        width: 100%;
    }

    .row .col .form-unit input[type="radio"] {
        height: 1em;
        width: auto;
    }

.row .col input[type=checkbox] {
    vertical-align: middle !important;
    height: 16px;
}

.row .col .form-unit input:disabled {
    background: transparent;
    border: none;
    /* border-bottom: 1px solid #999; */
    padding: 0;
    cursor: not-allowed;
}

    .row .col .form-unit input:disabled + label {
        color: #999;
        cursor: not-allowed;
    }

.row .col .form-unit .radio_buttons input {
    width: auto;
}

.multi-input {
    width: 100%;
    margin: 5px 0;
}

.custom-file-upload {
    margin: 10px 0;
    display: inline-block;
}

    .custom-file-upload a {
        margin-right: 4px;
    }

.form-unit .file-upload-input {
    margin-right: 5px;
    /* border: none; */
    width: 150px !important;
    height: 36px;
    vertical-align: middle;
}

.file-upload-wrapper {
    display: inline-block;
    margin-bottom: 10px;
}

.radio_buttons, .checkbox_buttons {
    padding: 0 10px;
}

.data-input .radio_buttons:first-child,
.data-input .checkbox_buttons:first-child,
.vertical-radio .radio_buttons {
    padding-left: 0;
}

.row .col .radio_buttons input, .checkbox_buttons input,
.row .col table.no-grid .radio_buttons input,
.row .col table.no-grid .checkbox_buttons input {
    margin-right: 10px;
    width: auto;
}

.note {
    color: #666;
    font-size: smaller;
    line-height: 1.5em;
    display: inherit;
}

.chip {
    color: #000;
}

.chips {
    border: 1px solid #9e9e9e;
    padding-left: 5px;
    margin-bottom: 0;
}

    .chips.focus {
        box-shadow: none;
        border: 1px solid #9e9e9e;
    }

.form-unit table {
    margin-top: 15px;
    margin-bottom: 15px;
}

.row .col table.no-grid tr.title td {
    padding-top: 8px;
}

.card-panel .row:last-child {
    margin-bottom: 0;
}

.star:before {
    content: '*';
    color: #BF0000;
    font-weight: bold;
}

.header2 {
    /* display: block; */
    overflow: auto;
}

    .header2 + .row {
        display: inline-block;
        width: 100%;
        margin-top: 12px;
    }
/* tooltip */
.add_new_order {
    cursor: pointer;
}

.material-tooltip {
    margin-left: -10px;
}

    .material-tooltip > span {
        color: #fff !important;
    }

.form-unit .fa.fa-question-circle-o {
    margin-left: 3px;
    transition: .25s ease-out;
    transform-origin: 10% center;
}

    .form-unit .fa.fa-question-circle-o:not(.tooltipped):hover {
        transform: scale(1.5);
        cursor: pointer;
        color: #08c;
    }
/* error message */
.row .col .form-unit.error {
    background: #FFDDD0;
    margin: 2px 0;
}

.error_message {
    display: none;
}

.row .col .form-unit.error .error_message {
    display: block;
    color: #bf0000;
    font-size: smaller;
    line-height: 1.5em;
}

    .row .col .form-unit.error .error_message:before {
        content: "\f05a";
        font-family: FontAwesome;
    }
/* datepicker */
.row .col .form-unit input[type='text'].datepicker {
    width: 100px;
}

    .row .col .form-unit input[type='text'].datepicker select {
        vertical-align: middle
    }

.date_time_picker_group {
    width: auto;
    float: left;
    margin-bottom: 2px;
}
/* 表單常用元件 End*/


/* Tab相關樣式 Start*/
.tabs .tab a, .tabs .tab a:hover, .tabs .tab a.active {
    color: #000;
}

.tabs .indicator {
    background-color: #bf0000;
    height: 4px;
}

.row .col .tabs .tab a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 0 12px;
}

.row .col .tabs .tab.disabled a {
    color: #999;
    cursor:;
}

.row .col .tabs .tab a:hover {
    color: #000 !important;
}

.row .col .tabs .tab.read_only a:hover {
    color: #999 !important;
}

.row .col .tabs .tab a .fa:before {
    position: absolute;
    margin-top: -15px;
    /* margin-left: 24px; */
    margin-left: 10px;
    font-size: 18px;
}

.row .col .tabs .tab.has-new:before {
    content: 'new';
    position: absolute;
    font-size: 12px;
    margin-left: 33px;
    margin-top: -2px;
    color: #fff;
    padding: 4px 5px;
    background: #bf0000;
    line-height: 18px;
    border-radius: 25px;
    transform: scale(0.8);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.tabs.z-depth-1.black-text.fixed {
    position: fixed;
    top: 60px;
    left: 250px;
    width: calc(100vw - 250px);
    z-index: 100;
}

.tab_fixed_top_anchor {
    height: 48px;
}

li.tab.read_only {
    /* background: #eee; */
}

.row .col .tabs .tab.read_only a {
    color: #999;
}
/* Tab相關樣式 End*/

/* Tag-it元件style調整 Start */
.row .col .ui-widget-content {
    background: #fff;
    color: #444444;
}

.row .col .multi_tags-read_only {
    border: 0;
    background: transparent;
}

.data-input ul.tagit {
    margin: 0;
}

.row .col ul.tagit li.tagit-choice {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 30px 0 10px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 2px;
    margin-right: 5px;
}

.row .col ul.tagit li.tagit-choice-editable {
    background: #f6f6f6;
}

.row .col ul.tagit li.tagit-choice .tagit-close {
    right: 8px;
    font-size: 20px;
    margin-top: -10px;
}

.row .col ul.tagit li.tagit-new {
    padding: 0;
    margin: 0;
}
/* 新增Tag輸入區&placeholde長度 */
.row .col ul.tagit input[type="text"] {
    height: 36px;
    width: 200px !important;
}

.row .col .tag-editor,
.row .col .tag-editor .tag-editor-tag,
.row .col .tag-editor-delete {
    background: transparent;
}

.selected_item_spec .tag-editor {
    border: none;
}

.tag-editor li:first-child {
    display: none;
}

.tag-editor li {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 10px 0 10px;
    border-radius: 16px;
    background-color: #f6f6f6;
    margin-bottom: 2px;
    margin-right: 5px;
    border: 1px solid #dddddd;
    font-size: 14px;
}

.tag-editor .tag-editor-tag {
    color: #000;
}

.tag-editor .tag-editor-delete i:before {
    content: '\f00d';
    font-family: FontAwesome;
    font-size: 20px;
    color: inherit;
}

.tag-editor .tag-editor-delete i {
    line-height: 30px;
}

.tag-editor .tag-editor-delete {
    background: transparent;
}

.tag-editor.ui-sortable + .bpopup-item_spec_picker.right {
    margin-bottom: -5px;
    margin-top: 5px;
}
/* Tag-it元件style調整 End */



/*-------以下為各獨立情境與頁面中才會使用的CSS--------*/

/* 首頁dashboard相關code Start*/
.dashwidght2-new + .dashwidght2-new {
    margin-top: 0;
}

.collection-item .circle {
}

.color_widget {
    border: 0;
}

    .color_widget .collection-item.widget-title {
        width: 100%;
        padding-left: 10px;
        font-size: 16px;
        border-bottom: 0 !important;
        /* background: inherit; */
        background: rgba(255,255,255,0.2);
    }

    .color_widget .collection-item.widget-body {
        width: 100%;
        padding-left: 10px;
        font-size: 16px;
        margin-top: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        height: 120px;
        background: rgba(255,255,255,0.3);
    }

.widget-data {
    margin-top: 5px;
}

    .widget-data:first-child {
        margin-top: 10px;
    }

.widget-number {
    font-size: 24px;
}

.circle_title_widget {
    display: table;
    width: 100%;
    height: 120px;
    background: #fff;
}

    .circle_title_widget:before {
        /*   display: table-cell;
    height: 120px;
    content: " "; */
    }

    .circle_title_widget .widget-title {
        /* width:30%; */
        /* float:left; */
        /* height:111px; */
        display: table-cell;
        vertical-align: middle;
        overflow: hidden;
    }

    .circle_title_widget .widget-body {
        /* width:70%; */
        /* float:left; */
        display: table-cell;
        vertical-align: middle;
        line-height: 1.5rem;
        text-align: center;
        padding-left: 80px;
    }

.widget-title .circle {
    opacity: 0.7;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 80px !important;
    height: 80px !important;
    line-height: 80px !important;
    font-style: normal;
    margin-top: -40px;
    margin-left: -90px;
    color: #fff;
}

#projects-collection .collection-item {
    height: 125px;
    background: transparent;
}

.dashwidght-title {
    width: 120px;
    text-align: right;
    display: inline-block;
    vertical-align: super;
}

.dashwidght-value {
    font-size: 2.5em;
    display: inline-block;
    text-align: center;
    /* font-weight: bold; */
    width: 110px;
    margin-top: 10px;
}

.dashwidght2-title {
    /* width: 120px; */
    /* text-align: center; */
    /* display: inline-block; */
}

.dashwidght2-value {
    font-size: 3em;
    margin-top: 15px;
    /* display: inline-block; */
    /* text-align: center; */
    font-weight: bold;
    /* width: 175px; */
}

.dashwidght2-new {
    /* text-align: center; */
    margin-top: 1em;
    font-size: 14px;
    line-height: 1.2em;
}

.color_widget.white-frame .collection-item.widget-title {
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    text-align: center;
    height: 55px;
}

.white-frame .collection-header {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.white-frame .widget-body {
    border: 1px solid #e0e0e0 !important;
}
/* 首頁dashboard相關code End*/

/* 用bpopup.js製作的彈窗 以及 其內UI Start */
.bpopup-modal {
    /*彈窗預設為隱藏，直到jquery調用才顯示*/
    display: none;
    margin-left: 250px;
    width: calc(100vw - 575px);
    background: #fff;
}

    .bpopup-modal .row {
        margin-bottom: 0;
    }

    .bpopup-modal.bpopup-modal-alert {
        width: 600px;
    }

    .bpopup-modal.bpopup-modal-toast {
        width: 400px;
        background: rgba(0,0,0,0.75);
        color: #fff;
        border-radius: 10px;
    }

    .bpopup-modal.bpopup-tooltip {
        width: 800px;
    }

    .bpopup-modal.bpopup-modal-toast .bpopup-modal-title {
        text-align: center;
        margin-bottom: 0px;
        font-size: 24px;
    }

.bpopup-modal-title {
    margin-bottom: 20px;
}

.bpopup-modal-scroll_content {
    max-height: 60vh;
    min-height: 400px;
    overflow: auto;
}

.bpopup-modal.bpopup-tooltip span {
    display: block;
}

.bpopup-modal.bpopup-tooltip img {
    max-width: 100%;
    height: auto;
}

    .bpopup-modal.bpopup-tooltip img + span {
        margin-top: 10px;
    }

.bpopup-modal-footer {
    margin-top: 20px;
}

.bpopup-modal.bpopup-tooltip .bpopup-modal-footer .note-title {
    margin: 15px 0 5px;
    display: inline-block;
    color: #bf0000;
}

.bpopup-modal.bpopup-tooltip .bpopup-modal-footer .note-body {
    margin-bottom: 15px;
}

.bpopup-modal a {
    cursor: pointer;
}

#bpopup-reject_reason .checkbox_buttons {
    width: 32%;
    display: inline-block;
}

    #bpopup-reject_reason .checkbox_buttons:first-child {
        padding: 0 10px;
    }

#one_spec_mgmt input, #multi_spec_mgmt input {
    width: 100%;
}

#multi_spec_mgmt .spec_quantity_edit input {
    width: 18%;
}

.multi_level_specs {
    min-width: 250px;
}

.storage_adjust {
    text-align: center;
    min-width: 130px;
}

    .storage_adjust select, .storage_adjust input {
        vertical-align: middle;
    }

    .storage_adjust select {
        width: 50px;
    }

    .storage_adjust input {
        width: 50px !important;
    }

.mgmt_func {
    min-width: 70px;
}

@media only screen and (max-width: 1200px) {
    .storage_adjust {
        min-width: 70px;
    }

        .storage_adjust input {
            margin-top: 5px;
        }

    .mgmt_func {
        min-width: 70px;
    }
}

#multi_spec_mgmt table .btn {
    margin: 2px 0;
}

#multi_spec_mgmt table thead tr + tr th {
    padding-top: 0;
}

.scroll_region {
    height: calc(60vh + 30px);
    overflow-y: auto;
    padding: 0 10px;
    border: 1px solid #ddd;
}

    .scroll_region.spec_list {
        height: 60vh;
        padding-top: 5px;
    }

        .scroll_region.spec_list .checkbox_buttons {
            width: 100%;
            display: block;
        }

            .scroll_region.spec_list .checkbox_buttons:hover {
                background: #eee;
            }

    .scroll_region .item_multi_spec:after {
    }

    .scroll_region .item_multi_spec, .scroll_region .item_single_spec {
    }

.checkbox_fixtop_title {
    /* position: absolute; */
    /* background: grey; */
    width: 100%;
    border: 1px solid #ddd;
    border-bottom: 0;
    line-height: 30px;
    display: block;
    padding-left: 20px;
}

    .checkbox_fixtop_title .bpopup-itemtype_select_spec_add {
        margin-right: 10px;
        margin-left:;
    }

#bpopup-batch_spec_add textarea,
#bpopup-itemtype_select_spec_add textarea {
    width: 100%;
    height: 60px;
    border-color: #ddd;
}

.delete_spec_level {
    width: 20px;
    font-size: 20px;
    margin-left: 5px;
}

#bpopup-item_usage table {
    text-align: center;
    line-height: 1em;
}

.item_name, .item_spec {
    text-align: left;
}

.item_mgmt .btn {
    margin: 2px 0;
}

.status_btn_on, .status_btn_off {
    width: 75px;
}

.item_spec_tree ul {
    display: none;
    /* margin: 4px auto; */
    margin-left: 6px;
    border-left: 1px dashed #dfdfdf;
}

.item_spec_tree li {
    padding: 5px 18px;
    cursor: pointer;
    vertical-align: middle;
    /* font-weight: bold; */
}

    .item_spec_tree li:hover {
    }

    .item_spec_tree li:first-child {
        border-radius: 3px 3px 0 0;
    }

    .item_spec_tree li:last-child {
        border-radius: 0 0 3px 3px;
        padding-bottom: 0;
    }

.item_spec_tree .active {
    background: #efefef;
}

.item_spec_tree label {
    cursor: pointer;
    width: calc(100% - 25px);
    display: inline-block;
    vertical-align: top;
}

    .item_spec_tree label:hover {
        /* text-decoration: underline; */
        background: #eee;
    }

.item_spec_tree.three_level_tree label:hover {
    background: rgba(249,249,171,0.5);
}

.item_spec_tree input[type=checkbox] {
    margin: -2px 2px 0 0px;
}

.item_spec_tree {
    display: table;
}

    .item_spec_tree ul li {
        color: #333;
        font-weight: normal;
        font-size: 14px;
    }

    .item_spec_tree .has > label {
        color: #000;
    }

    .item_spec_tree .total {
        color: #e13300;
    }

#bpopup-itemtype_select_spec_add .scroll_region {
    height: calc( 60vh - 150px );
}

    #bpopup-itemtype_select_spec_add .scroll_region.spec_list {
        height: calc( 60vh - 180px );
    }


#bpopup-item_spec_picker .bpopup-modal-title .unit-label {
    width: 100px;
}

#bpopup-item_spec_picker .bpopup-modal-title .data-input {
    margin-left: 110px;
}


#bpopup-item_spec_picker .bpopup-modal-scroll_content {
    height: auto;
}

#bpopup-item_spec_picker .form-unit input[type='text'] {
    width: auto;
}

#bpopup-item_spec_picker .multi_spec > label:after,
.three_level_tree .multi_spec > label:after {
    content: "\f0da";
    display: inline-block;
    margin-left: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#bpopup-item_spec_picker .multi_spec > label.expanded:after,
.three_level_tree .multi_spec > label.expanded:after {
    content: "\f0d7";
}

#bpopup-item_spec_picker {
    width: 600px;
}

.bpopup-item_spec_picker {
    /* padding-bottom:20px; */
    margin-top: -10px;
    display: block;
    cursor: pointer;
}
/* 用bpopup.js製作的彈窗 以及 其內UI End */

/* 其他無法歸類、或是複用機率低的 Start */
.col.s12.return_reason {
    border-top: 1px solid #e0e0e0;
}
/* 商家/業務提案 - 上傳圖片 */
.image_update {
    width: 100%;
    display: inline-block;
}

.image_update_PC {
    background-color: #eee;
    width: 480px;
    height: 267px;
}

.image_update_APP {
    background-color: #eee;
    width: 500px;
    height: 500px;
}
/* 商家/業務提案 - 挑選商品規格 */
.order_title {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    background: #f9f9f9;
}

    .order_title .order_mgmt_btn {
        margin-left: 10px;
        cursor: pointer;
    }

.selected_item_spec {
    line-height: 1.2em;
}

.selected_item_spec-item {
    min-width: 180px;
}

.selected_item_spec-spec {
    min-width: 480px;
}

@media only screen and (max-width: 1200px) {
    .selected_item_spec-spec {
        min-width: 280px;
    }

    .row .col .form-unit.table-content .unit-label {
        text-align: left;
        width: 135px;
        padding-left: 10px;
        padding-bottom: 0;
    }

    .row .col .form-unit.table-content .data-input {
        margin-left: 0;
        padding-left: 10px;
        display: inline-block;
    }
}
/* 商家/業務提案 - 挑選商品規格-改版 */
.sort_tree {
    height: 400px;
    margin: 0;
    padding: 0;
    margin-left:;
    margin-bottom: 20px;
    overflow-y: auto;
    list-style-type: none;
    border: 1px solid #ddd;
    background: #fff;
}

    .sort_tree li {
        line-height: 1.5rem;
        padding: 10px 30px 0 20px;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
        display: block;
        width: 100%;
        cursor: move;
    }

        .sort_tree li .delete_li {
            color: #BF0000;
            font-weight: bold;
            float: right;
            font-size: 24px;
            margin-right: -24px;
            margin-top: -6px;
            cursor: pointer;
        }

.delete_sort_tree {
    margin-top: 0px;
}

.sort_tree li + ul li {
    padding-left: 40px;
}

.sort_tree li:hover {
    /* background: #eee; */
}

.sort_tree_controller {
    border: 1px solid #e0e0e0;
    background: #eee;
    padding: 10px 10px 0 10px;
    /* cursor: move; */
    overflow: hidden;
}

    .sort_tree_controller a {
        cursor: pointer;
    }

    .sort_tree_controller .bpopup-item_spec_picker {
        display: inline-block;
    }

.add_new_sort_tree {
    width: 100%;
    border-style: dashed;
    border-color: #ccc;
    border-width: 2px;
    display: block;
    padding: 4px 15px;
    background: #fff;
}
/* 區域展開收合 */
.collapsible {
    border: 0;
    box-shadow: none;
}

.collapse-block {
    margin-bottom: 10px;
}

.collapse-content {
    border-style: dashed;
    border-color: #eee;
    border-width: 0 3px 3px 3px;
}

.collapse-content-new {
    border-style: dashed;
    border-color: #bf0000;
    border-width: 3px 3px 3px 3px;
}

.order_title-sort_btn {
    display: inline-block;
    font-size: 24px;
    line-height: 1em;
}

.collapse-switch.content-show:after {
    content: '收合 \f106';
    font-family: FontAwesome;
}

.collapse-switch.content-hide:after {
    content: '展開 \f107';
    font-family: FontAwesome;
}

.collapse-content.collapse-content-focus {
    background: #fff5f5;
}

.collapse-content .scroll_region.spec_list {
    background: #fff;
}
/* 幾個表格的寬度 */
.buy_limit {
    vertical-align: top;
}

.buy_shipment {
    vertical-align: top;
}

.buy_shipment-cost, .buy_shipment-free {
    width: 100px !important;
}

    .buy_shipment-free p {
        margin: 0px;
    }

.row .col .multi_row_response_input {
    margin-bottom: 10px;
}

    .row .col .multi_row_response_input textarea {
        height: 36px;
        width: calc(100% - 138px);
        vertical-align: middle;
    }
/* 業務勾選頻道用的三層式checkbox選單 */
.item_spec_tree.three_level_tree {
    margin: 0;
}
    /* level1 */
    .item_spec_tree.three_level_tree label {
        width: 100px;
    }
        /* level2 */
        .item_spec_tree.three_level_tree label + ul,
        .item_spec_tree.three_level_tree label + ul + ul {
            margin-left: 118px;
            margin-top: -37px;
            overflow: auto;
            background: rgba(249,249,171,0.25);
            border-color: rgba(249,249,171,1);
        }

            .item_spec_tree.three_level_tree label + ul + ul {
                margin-top: 0px;
            }

                .item_spec_tree.three_level_tree label + ul li,
                .item_spec_tree.three_level_tree label + ul + ul li {
                    padding-right: 0;
                    float: left;
                }
                /* level3 */
                .item_spec_tree.three_level_tree label + ul ul li,
                .item_spec_tree.three_level_tree label + ul + ul ul li {
                    width: 200px;
                    float: left;
                }

                    .item_spec_tree.three_level_tree label + ul ul li label,
                    .item_spec_tree.three_level_tree label + ul + ul ul li label {
                        width: 140px;
                    }

    .item_spec_tree.three_level_tree .sub_tree_title {
        width: 100%;
    }
/* 業務提案單-提案單狀態變化燈號 */
.stepper {
    width: 100%;
    overflow: auto;
}

    .stepper .step {
        vertical-align: middle;
        width: 25%;
        /* background: red; */
        /* height: 150px; */
        padding: 20px 0;
        float: left;
        display: table;
    }

        .stepper .step a {
            color: #999;
        }
            /*已經打勾(不能按)*/
            .stepper .step a.step-btn-checked {
                color: #333;
                display: block;
                text-decoration: none;
            }

                .stepper .step a.step-btn-checked:hover {
                    color: #333;
                }

.row .col a.step-btn-checked:not(.btn):not(.disabled):hover {
    color: #333 !important;
    cursor: text;
}
/*未打勾(可以按)*/
.stepper .step a.step-btn-check {
    color: #0070c9;
    display: block;
}

    .stepper .step a.step-btn-check:hover {
        color: #0070c9;
        background: #eee;
    }

    .stepper .step a.step-btn-check i.radio_icon_success {
        background: #eee;
        border-color: #999;
    }

    .stepper .step a.step-btn-check:hover i.radio_icon_success {
        background: #0EA146;
        border-color: #0EA146;
    }

.row .col a.step-btn-check:not(.btn):not(.disabled):hover {
    color: #0070c9 !important;
}
/*不能打勾(不能按)*/
.stepper .step a.step-btn-none {
    color: #aaa;
    text-decoration: line-through;
    display: block;
    cursor: pointer;
}

    .stepper .step a.step-btn-none i.radio_icon {
        background: #aaa;
        border-color: #aaa;
    }

.row .col a.step-btn-none:not(.btn):not(.disabled):hover {
    color: #aaa !important;
    cursor: not-allowed;
}

.stepper .step.disabled .radio_icon {
    transform: scale(1,0.05);
    border-radius: 0;
    background: #999;
}

.stepper .step.disabled .step-info-title {
    color: #999;
    font-weight: normal;
}

.stepper .step .fa {
    display: block;
    width: 100%;
    font-size: 100px;
}

.step-status, .step-info {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.step-status {
    width: 60px;
    padding: 0 10px 0 20px;
}

.step-info-title {
    font-weight: bold;
    font-size: 20px;
}

.step-controller {
    width: 100%;
    float: left;
    display: block;
    /* padding-top: 10px; */
}

    .step-controller .btn {
        margin-bottom: 20px;
    }

.radio_icon {
    height: 60px;
    width: 60px;
    display: block;
    background: transparent;
    border: 2px solid #999;
    content: '';
    border-radius: 50%;
    position: relative;
    display: inline-block;
    /* transform: scale(2); */
    transition: .1s ease-out;
}

    .radio_icon.radio_icon_success {
        background: #0EA146;
        border-color: #0EA146;
    }

        .radio_icon.radio_icon_success:after {
            margin-top: 2px;
            margin-left: 18px;
            box-sizing: border-box;
            width: 20px;
            height: 40px;
            transform: rotate(45deg);
            border-width: 4px;
            border-style: solid;
            border-color: white;
            border-top: 0;
            border-left: 0;
            position: absolute;
            content: '';
        }

.change_vender, .change_sales {
    display: none;
}

    .change_vender input, .change_sales input {
        width: 185px !important;
        vertical-align: middle;
    }

    .change_vender .btn, .change_sales .btn {
        height: 32px;
        box-shadow: none;
    }
/*業務提案-審核-競品價錢參考*/
.row .col .form-unit .data-input.price_reference {
    margin: 0;
}

    .row .col .form-unit .data-input.price_reference tr.title td:first-child {
        min-width: 145px;
    }

.price_reference .no-grid tr td:nth-child(2) {
    padding-left: 15px;
    min-width: 100px;
}

.price_reference .no-grid .fa {
    font-size: 24px;
}

    .price_reference .no-grid .fa.fa-close {
        color: #bf0000;
    }

    .price_reference .no-grid .fa.fa-plus {
        color: #08c;
    }

.table_width-person {
    width: 200px;
}

.table_width-content {
    width: 600px;
}

.table_width-time {
    width: 200px;
}

.table_width-misc {
    width: 200px;
}

.multiselect_group-hr {
    margin-top: -5px;
    margin-bottom: 10px;
}
/* 其他無法歸類、或是複用機率低的 End */

/* .fa.fa-arrows,.fa.fa-arrows-v{
  margin-right: 10px;
} */



#sort_tree-demo1 .row .col:nth-child(2),
#sort_tree-demo1 .row .col:nth-child(3),
#sort_tree-demo2 .row .col:nth-child(1),
#sort_tree-demo2 .row .col:nth-child(2),
#sort_tree-demo2 .row .col:nth-child(3) {
    display: none;
}


.deal_pause {
    margin-left: 5px;
    padding: 0 10px;
}

#nav-mobile {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

    #nav-mobile.tablet-width {
        width: 50px;
        overflow: visible;
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
    }

.tablet-width.side-nav .collapsible-body,
.tablet-width.side-nav.fixed .collapsible-body {
    position: absolute;
    margin-left: 52px;
    width: 200px;
    margin-top: -48px;
    display: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.tablet-width.side-nav.fixed li.active .collapsible-body {
    display: block;
}

.tablet-width.side-nav.fixed > ul > li.active .collapsible-body ul:before,
.tablet-width.side-nav.fixed > ul > li.active .collapsible-body ul:after {
    content: '';
    margin: 12px 0px 5px -24px;
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 11px;
    border-color: transparent #ddd transparent transparent;
}

.tablet-width.side-nav.fixed > ul > li.active .collapsible-body ul:after {
    top: 0;
    border-width: 10px;
    border-color: transparent #fff transparent transparent !important;
    margin-left: -20px;
}

.tablet-width.side-nav.fixed > ul > li > a {
    font-size: 0;
    padding: 0 !important;
    width: 100%;
    text-align: center;
    line-height: normal;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

.tablet-width.side-nav .collapsible-header:after {
    display: none;
}

.tablet-width.side-nav li > a > i {
    margin: 0 auto;
    float: none;
    padding-top: 10px;
}

ul.tablet-width.side-nav.fixed ul.collapsible-accordion .collapsible-body li a {
    padding: 0 23.5px 0 31px;
}


/*****
*
*畫面預覽(請neo協助)
*
*****/

/*menu不可選*/

/*menu不可選*/
.EntryContentLeft .content-menu {
    background: #fff;
}

.EntryContentLeft .content-menu .mgs-item-box {
    cursor: text;
}

.EntryContentLeft .content-menu .mgs-item-box:hover {
    border: 1px solid #6e6e6e;
}
.card-480 {
    height:480px;
    overflow-y:auto;
}
.card-480 .scroll_region {
    height:auto;
}
.card-480 .scroll_region.spec_list {
    min-height:50px;
}

/*進倉單相關說明*/
.WmsDesc{
        background-color:#f2f2f2;
        /*div水平排列*/
        float:left;
        margin-right:10px;
        /*文字padding*/
        padding:5px 10px 10px 10px;
        /*彈性長度*/
        display:inline;
        width: auto;
        height: auto;
        /*置中*/
        text-align:center;
        line-height:50px;
	}
    .WmsResultDesc{
        border:  2px dashed #cccccc;
        background-color:#f2f2f2;
        /*div水平排列*/
        float:left;
        margin-right:10px;
        /*文字padding*/
        padding:5px 10px 10px 10px;
        /*彈性長度*/
        display:inline;
        width: auto;
        height: auto;
        /*置中*/
        text-align:center;
        line-height:50px;
	}

    .WmsTriangle {   
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #cccccc; 
        float:left;
        margin-top:15px;
        margin-right:15px;
    } 
