﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.BizLogic.Model;
@model TodayDealCitySynopsis

<div class="DealCity">
    @Model.CityName
</div>
@for (int i = 0; i < Model.CountDownTotal; i++)
{ 
    <script type='text/javascript'> $(function () { $('@(string.Format(".{0}_{1}TimerText", Model.CityId, i))').countdown({ until: new Date(@Model.GroupByDate.ToString("yyyy,MM,dd,HH,mm,ss,0")), format: 'dHMS', layout: '{hn}{hl}{mn}{ml}{sn}{sl}' }); });  </script>
}
@foreach (TodayDealSynopsis item in Model.Deals)
{
    <div class="s_content_box td_content fl">
        <div class="title">
            <a  href='@Html.Url("~/{0}", item.Bid)' target="_blank">
                @item.SubstringName
            </a>
        </div>
        <div class="OrgMineT">
            <a href='@Html.Url("~/{0}", item.Bid)' target="_blank">
                @item.SubstringTitle
            </a>
        </div>
        <div class="dts fl">
            @Html.Raw(item.DealIcon)
        </div>
        <div class="deal_pic">
            <a href='@Html.Url("~/{0}", item.Bid)' target="_blank">
                <img class="Lazy" data-original="@Url.Content(item.EventImageTag)" style="width: 290px; height: 162px;" />
            </a>
            <div class="activeLogo alo-m">
                @Html.Raw(item.DealPromoImageTag)
            </div>
            <div class='@(item.OrderedQuantity >= item.OrderTotalLimit ? "SoldOut_Bar_290" : string.Empty)'>
            </div>
        </div>
        <div class="timeOverview">

            <div class="TimerTitleField">
                <span class="TimeDayCounter">@((item.BusinessHourOrderTimeE - DateTime.Now).Days)天</span>
                <span class="@(item.GroupByCountDown)TimerText">@item.CountDownString</span>
            </div>
        </div>
        <div class="smallprice">
            <div class="price fl">
                <span class="SMT">售</span>$@item.ItemPrice.ToString("F0")@(item.IsCombo ? "起" : string.Empty)
            </div>
            <div class="ori fl">
                $@item.ItemOrigPrice.ToString("F0")
            </div>
            <div class="pop-box fr">
                <div class="Save text fr">
                    @if (item.ItemOrigPrice == 0)
                    {
                        <p>優惠</p>
                    }
                    else
                    {
                        <p>省$@((item.ItemOrigPrice - item.ItemPrice).ToString("F0"))</p>
                    }
                </div>
                <div class="td_buyer fr">
                    @Html.Raw(item.OrderedQuantityShow)
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
}
