﻿@using LunchKingSite.BizLogic.Facade;
@model List<SideDeal>
@{int i = 0;}
@foreach (SideDeal item in Model)
{
    <div class="side_item">
        <a class="open_new_window" href="@item.LinkString">
            <div class="activeLogo alo-s">
                @if (!string.IsNullOrEmpty(item.PromoPic))
                {
                    @Html.Raw(item.PromoPic)
                }
            </div>
            <div class="side_item_pic">
                <img class="sideDealLazy" data-original="@item.ImageUrl" />
                @if (item.IsSoldOut)
                {
                    <span class="side_item_soldout_wrap">
                        <div class="item_soldout_220"></div>
                    </span>
                }
            </div>
            <div class="side_item_deal">
                <span class="tag_place">@(item.IsMultipleStores ? "多分店" : item.HoverMessage)</span>
                <div class="tag_subtitle">@item.ItemName</div>
            </div>
            <div class="side_item_price">
                <span class="discount">@item.SaleMessage</span>
                <span class="price">$@(item.ItemPrice)元</span>
                <!--<span class="oriprice">$199</span>-->
                <span class="tag_buycounter">@item.SaleQuantity</span>
                <span class="btn_buy btn-primary">馬上看</span>
            </div>
        </a>
    </div>
                i++;
}
