﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.DataOrm
@using LunchKingSite.WebLib.Models.Mobile
@using LunchKingSite.WebLib.Models.Ppon
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Ppon/_SiteLayout.cshtml";

    ISysConfProvider config = ProviderFactory.Instance().GetConfig();

    EventActivity activity = EventFacade.GetCurrentEventActivity();
    List<CategoryNode> subscriptionCategories = CategoryManager.CategoryNodesForSubscription;

    Dictionary<decimal, int> discountList = MemberUtility.GetDiscountList();
    string liMDiscountCount = discountList.Sum(x => x.Value).ToString();
    string liDiscountCount = liMDiscountCount;
    List<KeyValuePair<decimal, int>> discounts = discountList.OrderByDescending(x => x.Key).ToList();


    //SetupUserInfoPanel
    bool divMGMInfo = false;
    bool divGiftinfo = false;
    //bool divMDiscountUserAmount = false;
    string divGiftinfoStr = "";
    string divGiftinfoUrl = "";
    int GiftCount = 0;
    int CardCount = 0;
    decimal DiscountAmount = 0;
    var pponUser = PponIdentity.Get(User.Identity.Name);
    string liMemberName = MemberUtility.GetCurrentMemberName().TrimToMaxLength(12, "...");
    if (config.DiscountUserCollectType == DiscountUserCollectType.Manually ||
        config.DiscountUserCollectType == DiscountUserCollectType.Auto)
    {
        if (pponUser != null)
        {
            DiscountAmount = OrderFacade.GetUnsentDiscountUserListSum(pponUser.Id);
        }
    }
    if (config.MGMEnabled)
    {
        divMGMInfo = true;
        var giftCount = MGMFacade.MemberFastInfoGetUserId(pponUser.Id);
        GiftCount = giftCount.GiftCardCount ?? 0;
        CardCount = giftCount.ReplyCardCount ?? 0;
        if (CardCount > 0)
        {
            divGiftinfo = true;
            divGiftinfoStr = "看回覆卡片";
            divGiftinfoUrl = "/User/GiftWhere";
        }
        if (giftCount.MessageCount > 0)
        {
            divGiftinfo = true;
            divGiftinfoStr = "領取新禮物";
            divGiftinfoUrl = "/User/GiftGet";
        }
    }

    bool IsNewMobileSetting = true;
    bool IsMobileBroswer = CommonFacade.ToMobileVersion();
}
@section SSC {
    <script type="text/javascript" src="~/Themes/PCweb/plugin/swiper/swiper.js"></script>
    <link href="~/Themes/default/style/mgm_ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/default/style/mgm.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Tools/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Tools/js/lightslider.js"></script>
    <script type="text/javascript" src="~/Tools/js/MGM/MGMGift.js"></script>
    <script type="text/javascript">

        function shareToFB() {
            var appId = "@Helper.GetFacebookAppId()";
            var name = "@activity.Eventname";
            var caption = "www.17life.com";
            var picture = "@activity.FbPicture";
            var desc = "@activity.FbDesc";
            var url = "http://www.facebook.com/dialog/feed?app_id=" + appId + "&link=" + '@Html.Raw(activity.Url + (string.IsNullOrEmpty(activity.Cpa) ? ("?rsrc=" + activity.Cpa) : string.Empty))' +
                "&caption=" + caption + "&picture=" + picture +
                "&name=" + name + "&description=" + desc + "&redirect_uri=" + document.location.href;
            window.open(encodeURI(url));
            return false;
        }

        function gotosearch() {
            location.href = "@config.SiteUrl" + "/ppon/pponsearch.aspx?search=" + encodeURI($('#querystring').val());
        }

    </script>
    @RenderSection("SSC", false)
}
@section CSS {
    <link href="~/Themes/PCweb/css/MasterPage.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/css/ppon.css" rel="stylesheet" type="text/css" />
    @LunchKingSite.Core.Helper.RenderCss("/Themes/PCweb/css/ppon_item.min.css")
    <link href="~/Themes/PCweb/plugin/font-awesome/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/css/PPONEDM.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/default/images/17Life/Gactivities/EMS/EventMailSub.css" rel="stylesheet" type="text/css" />
    <link href="~/Tools/js/jquery.smartbanner.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/mobile/css/appbn.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/plugin/swiper/swiper.css" rel="stylesheet" type="text/css" />
    @RenderSection("CSS", false)
}
@section AdditionalMeta
{
    @RenderSection("AdditionalMeta", false)
}
<div id="MasterPageRender">
    <div id="wrap" class="clearfix">

        <div class="center">
            <div id="btnBackTop" class="HKL_Button_back_to_top_command" style="display: none; cursor: pointer" title="返回頂部"></div>

            @RenderBody()
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clearfix" id="footerfix"></div>
    @Html.Partial("~/Views/Ppon/_FooterPart.cshtml")
    @Html.Partial("~/Views/Ppon/_EventMailPart.cshtml", new EventMailPartModel { Activity = activity, SubscriptionCategories = subscriptionCategories })
</div>

@section footerScripts {
    @RenderSection("footerScripts", false)
}
