﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.DataOrm
@using LunchKingSite.WebLib.Models.Mobile
@using LunchKingSite.WebLib.Models.Ppon
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Ppon/_SiteLayout.cshtml";

    ISysConfProvider config = ProviderFactory.Instance().GetConfig();

    EventActivity activity = EventFacade.GetCurrentEventActivity();
    List<CategoryNode> subscriptionCategories = CategoryManager.CategoryNodesForSubscription;

    Dictionary<decimal, int> discountList = MemberUtility.GetDiscountList();
    string liMDiscountCount = discountList.Sum(x => x.Value).ToString();
    string liDiscountCount = liMDiscountCount;
    List<KeyValuePair<decimal, int>> discounts = discountList.OrderByDescending(x => x.Key).ToList();


    //SetupUserInfoPanel
    bool divMGMInfo = false;
    bool divGiftinfo = false;
    //bool divMDiscountUserAmount = false;
    string divGiftinfoStr = "";
    string divGiftinfoUrl = "";
    int GiftCount = 0;
    int CardCount = 0;
    decimal DiscountAmount = 0;
    var pponUser = PponIdentity.Get(User.Identity.Name);
    string liMemberName = MemberUtility.GetCurrentMemberName().TrimToMaxLength(12, "...");
    if (config.DiscountUserCollectType == DiscountUserCollectType.Manually ||
        config.DiscountUserCollectType == DiscountUserCollectType.Auto)
    {
        if (pponUser != null)
        {
            DiscountAmount = OrderFacade.GetUnsentDiscountUserListSum(pponUser.Id);
        }
    }
    if (config.MGMEnabled)
    {
        divMGMInfo = true;
        var giftCount = MGMFacade.MemberFastInfoGetUserId(pponUser.Id);
        GiftCount = giftCount.GiftCardCount ?? 0;
        CardCount = giftCount.ReplyCardCount ?? 0;
        if (CardCount > 0)
        {
            divGiftinfo = true;
            divGiftinfoStr = "看回覆卡片";
            divGiftinfoUrl = "/User/GiftWhere";
        }
        if (giftCount.MessageCount > 0)
        {
            divGiftinfo = true;
            divGiftinfoStr = "領取新禮物";
            divGiftinfoUrl = "/User/GiftGet";
        }
    }

    bool IsNewMobileSetting = true;
    bool IsMobileBroswer = CommonFacade.ToMobileVersion();

    #region 收藏

    IMemberProvider mp = ProviderFactory.Instance().GetProvider<IMemberProvider>();
    DateTime baseDate = PponDealHelper.GetTodayBaseDate();
    int UserId = User.Identity as PponIdentity != null || Page.User == null ? pponUser.Id : MemberFacade.GetUniqueId(Page.User.Identity.Name);

    List<Guid> collectBids = mp.MemberCollectDealGetOnlineDealGuids(UserId, baseDate.AddDays(-1), baseDate.AddDays(1));

    string jsonStr = ProviderFactory.Instance().GetSerializer()
        .Serialize(collectBids);

    #endregion

}
@section HeadScripts {
    <script type="text/javascript" src="~/Tools/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.numeric.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.Guid.js"></script>
    @RenderSection("HeadScripts", false)
}
@section SSC {
    <script type="text/javascript" src="~/Themes/PCweb/plugin/swiper/swiper.js"></script>
    <link href="~/Themes/default/style/mgm_ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/default/style/mgm.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Tools/js/lightslider.js"></script>
    <script type="text/javascript" src="~/Tools/js/MGM/MGMGift.js"></script>
    <script type="text/javascript" src="~/Themes/mobile/js/script.js?v=1.5"></script>
    <script type="text/javascript" src="~/Tools/js/Ppon.js"></script>
    <script type="text/javascript" src="~/Tools/js/ppon/pponMemberCollect.js"></script>
    @*<script src="~/Tools/js/ppon/pponDealList.js"></script>*@
    <script type="text/javascript">

        function shareToFB() {
            var appId = "@Helper.GetFacebookAppId()";
            var name = "@activity.Eventname";
            var caption = "www.17life.com";
            var picture = "@activity.FbPicture";
            var desc = "@activity.FbDesc";
            var url = "http://www.facebook.com/dialog/feed?app_id=" + appId + "&link=" + '@Html.Raw(activity.Url + (string.IsNullOrEmpty(activity.Cpa) ? ("?rsrc=" + activity.Cpa) : string.Empty))' +
                "&caption=" + caption + "&picture=" + picture +
                "&name=" + name + "&description=" + desc + "&redirect_uri=" + document.location.href;
            window.open(encodeURI(url));
            return false;
        }

        function gotosearch() {
            location.href = "@config.SiteUrl" + "/ppon/pponsearch.aspx?search=" + encodeURI($('#querystring').val());
        }

        $(document).ready(function () {
            //======================收藏================================
            var memberCollectDealGuids = $.parseJSON($('#hdMemberCollectDealGuidJson').val());
            $('#divCenter').pponMemberCollectList({ 'memberCollectionDealGuids': memberCollectDealGuids }).initMember();
        });
    </script>
    @RenderSection("SSC", false)
}
@section CSS {
    <link href="~/Themes/PCweb/css/MasterPage.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/css/ppon.css?v=1" rel="stylesheet" type="text/css" />
    @LunchKingSite.Core.Helper.RenderCss("/Themes/PCweb/css/ppon_item.min.css")
    <link href="~/Themes/PCweb/plugin/font-awesome/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/css/Rightside.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/css/PPONEDM.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/default/images/17Life/Gactivities/EMS/EventMailSub.css" rel="stylesheet" type="text/css" />
    <link href="~/Tools/js/jquery.smartbanner.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/mobile/css/appbn.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/plugin/swiper/swiper.css" rel="stylesheet" type="text/css" />
    @RenderSection("CSS", false)
}
@section AdditionalMeta
{
    @RenderSection("AdditionalMeta", false)
}

<style type="text/css">
    .fb_iframe_widget_lift {
        z-index: 10 !important;
    }

    .ui-corner-all {
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }

    .NaviCityArea a {
        cursor: pointer;
    }

    #Shopareatitle li + li {
        margin-top: 10px;
    }

    @@media screen and (max-width: 480px) {
        .ui-widget-content, .ui-state-default, .ui-state-focus, .ui-state-hover, .ui-state-active, .ui-widget-content .ui-state-active {
            border: none;
            font-weight: normal;
        }
    }
    /*m版寬度1001以下隱藏background image*/
    @@media screen and (max-width: 1001px) {
        #wrap {
            background: #f2f2f0 !important;
        }
    }

    .Curatorial-Sort {
        display: inherit;
    }

    #mobile-indicator {
        display: none;
    }

    @@media (max-width: 767px) {
        #mobile-indicator {
            display: block;
        }
    }
</style>

<input id="hdMemberCollectDealGuidJson" type="hidden" value="@jsonStr" />
<div id="MasterPageRender">
    <div id="wrap" class="clearfix">
        @{
            Html.RenderAction("RandomParagraphBanner", "Mobile", new { type = RandomCmsType.PponMasterPage, name = "masterbanner", cid = CmsSpecialCityType.All });
        }

        @*狀態列*@
        <div class="function-menu-bar">
            <div class="funtion-menu-block">

                <ul class="left-menu">
                    <li>
                        <a href="~/Ppon/default.aspx">
                            <i class="fa fa-home fa-fw"></i>
                            17Life
                        </a>
                    </li>
                    <li>
                        <a href="~/ppon/promo.aspx?cn=17APP&rsrc=APP_WebBN">
                            <i class="fa fa-mobile fa-lg fa-fw"></i>
                            APP
                        </a>
                    </li>
                    <li>
                        <a href="~/Ppon/subscription.aspx">
                            <i class="fa fa-envelope fa-fw"></i>
                            &nbsp;訂閱
                        </a>
                    </li>
                    <li>
                        <a href="~/Ppon/NewbieGuide.aspx">
                            <i class="fa fa-headphones fa-fw"></i>
                            客服中心
                        </a>
                    </li>
                    <li>
                        <a href="/about/us.html" target="_blank">
                            <i class="fa fa-info-circle fa-fw"></i>
                            關於我們
                        </a>
                    </li>
                </ul>
                <ul class="right-menu">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Server.UrlEncode(Request.RawUrl)">
                                登入
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="~/User/UserAccount.aspx">
                                <i class="fa fa-user fa-fw"></i>
                                @Html.Raw(liMemberName)
                            </a>
                        </li>
                        <li>
                            <a href="@Html.Raw(Helper.CombineUrl(Request.ApplicationPath, "NewMember/Logout.aspx?ref=" + HttpUtility.UrlEncode(Request.Url.AbsoluteUri)))">
                                登出
                            </a>
                        </li>
                    }
                    <li class="mc" style="cursor: pointer">
                        會員中心
                        <i class="fa fa-chevron-down fa-fw"></i>
                        <ul class="dropdownlist">
                            <li>
                                <a href="~/User/coupon_List.aspx">
                                    <i class="fa fa-lightbulb-o fa-fw fa-lg"></i>訂單/憑證
                                </a>
                            </li>
                            <li>
                                <a href="~/User/DiscountList.aspx">
                                    <i class="fa fa-money fa-fw fa-lg"></i>&nbsp;&nbsp;折價券&nbsp;
                                </a>
                            </li>
                            <li>
                                <a href="~/User/bonuslistnew.aspx">
                                    <i class="fa fa-dollar fa-fw fa-lg"></i>餘額明細
                                </a>
                            </li>
                            <li>
                                <a href="~/User/Collect.aspx">
                                    <i class="fa fa-gift fa-fw fa-lg"></i>我的收藏
                                </a>
                            </li>
                            <li>
                                <a href="~/User/UserAccount.aspx">
                                    <i class="fa fa-spin fa-cog fa-fw fa-lg"></i>帳號設定
                                </a>
                            </li>
                            <li>
                                <a href="/User/ServiceList">
                                    <i class="fa fa-tty fa-fw fa-lg"></i>客服紀錄
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="coupon-number-line">&nbsp;</li>
                    @*折價券*@
                    <li class="cc @(DiscountAmount > 0 ? "gift giftinfo_card" : "")" style="cursor: pointer">
                        <a href="@(DiscountAmount > 0 ? "/User/DiscountList.aspx?cpa=17_discountGift" : "javascript:void(0)")">
                            <i class="fa fa-money fa-fw fa-lg @(DiscountAmount > 0 ? "icon_animate" : "")"></i>&nbsp;折價券(<span class="coupon-number">&nbsp;@(liDiscountCount)&nbsp;</span>張)
                        </a>
                        <ul class="dropdownlist wide" style="cursor: default">
                            @foreach (var pair in discounts)
                            {
                                <li>
                                    <a href="~/User/DiscountList.aspx?cpa=17_memberdiscount">
                                        @(pair.Key.ToString("N0"))元(<span class="coupon-number">@(pair.Value)</span>張)
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    @if (divMGMInfo)
                    {
                        <li class="giftinfo_btn" style="cursor: pointer">
                            <i class="fa fa-gift fa-fw fa-lg @(GiftCount > 0 ? " icon_animate" : "")"></i>&nbsp;禮物盒(<span class="coupon-number">@GiftCount</span>)
                            <div class="giftinfo_wrap" style="">
                                <div id="tabsGift" class="tabs_wrap">
                                    <ul>
                                        <li class="tab_title ui-state-active">
                                            <a href="javascript:GiftBoxClick(1)">
                                                <i class="fa fa-gift fa-fw fa-lg"></i>送禮
                                            </a>
                                        </li>
                                        <li class="tab_title">
                                            <a href="javascript:GiftBoxClick(2)">
                                                <i class="fa  fa-sign-in fa-rotate-90 fa-fw fa-lg"></i>收禮
                                                <div class='new_num' style="display: @(GiftCount > 0 ? "" : "none")">@GiftCount</div>
                                            </a>
                                        </li>
                                        <li class="tab_title" style="display: none">
                                            <a href="javascript:GiftBoxClick(3)">
                                                <i class="fa fa-smile-o fa-fw fa-lg"></i>卡片
                                                <div class='new_num' style="display: @(CardCount > 0 ? "" : "none")">@CardCount</div>
                                            </a>
                                        </li>
                                        <li class="tab_title">
                                            <a href="javascript:GiftBoxClick(4)"><i class="fa fa-thumbs-o-up fa-fw fa-lg"></i>推薦禮物</a>
                                        </li>
                                    </ul>
                                    <div id="menuTabs-1" class="tab_content">
                                        <div class="gift_itme_wrap">
                                            <div class="gift_itme Template" style="display: none">
                                                <a class="sendUrl" href="/User/SendGift">
                                                    <div class="pic">
                                                        <img class="dealPic" src="">
                                                        <span class="couponCount"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h5 class="dealTitle"></h5>
                                                        <p class="dealContent"></p>
                                                        <div class="btnSN btn-primary-line sendUrl" href="/User/SendGift">送禮</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link_more">
                                            <a href="/User/SendGift">看更多</a>
                                        </div>
                                    </div>
                                    <div id="menuTabs-2" class="tab_content" style="display: none">
                                        <div class="gift_itme_wrap gift_get_wrap">
                                            <div class="gift_itme Template" style="display: none">
                                                <a class="giftUrl" href="">
                                                    <div class="pic">
                                                        <img class="dealPic" src="">
                                                    </div>
                                                    <div class="text">
                                                        <h5 class="dealTitle"></h5>
                                                        <p class="dealContent"></p>
                                                        <p class="info"></p>
                                                        <div class="btnSN btn-primary-line giftUrl" href="">看卡片</div>
                                                        <p class="countdown"></p>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                        <div class="link_more">
                                            <a href="/User/GiftList">看更多</a>
                                        </div>
                                    </div>
                                    <div id="menuTabs-3" class="tab_content" style="display: none">
                                        <div class="gift_itme_wrap">
                                            <div class="gift_itme card_item Template" style="display: none">
                                                <a href="/User/GiftWhere">
                                                    <div class="pic" style="background-color: #ED6C1A;">
                                                        <img class="cardImg" src="">
                                                    </div>
                                                    <div class="text">
                                                        <h5 class="senderName"></h5>
                                                        <span class="sendTime"></span>
                                                        <p class="cardContent"></p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link_more">
                                            <a href="/User/GiftWhere">看更多</a>
                                        </div>
                                    </div>
                                    <div id="menuTabs-4" class="tab_content" style="display: none">
                                        <div class="gift_itme_wrap">
                                            <div class="gift_itme">
                                                <a href="#">
                                                    <div class="pic">
                                                        <img src="https://www.17life.com/media/A0-09-023/180b7ad6-79ea-44dc-adaa-173158e544e8.jpg">
                                                    </div>
                                                    <div class="text">
                                                        <h5>海霸王集團《城市商旅桃園航空館》-自助百匯餐廳單人吃到飽</h5>
                                                        <p>
                                                            城市商旅自助百匯吃到飽！澎湃熱炒、港式蒸品、生魚片等，所有山珍海味替你網羅，高CP值，立刻揪團開吃！
                                                        </p>
                                                        <div class="btnSN btn-primary-line" href="#">馬上看</div>
                                                        <div class="item_price_less" style="display: block;">
                                                            <span class="discount">6.9折</span>
                                                            <span class="price">$799元</span>
                                                            <span class="oriprice">$1200</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="link_more">
                                            <a href="">看更多</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    @if (divGiftinfo)
                    {
                        <li class="gift giftinfo_card">
                            <a href="@divGiftinfoUrl"><i class="fa fa-envelope fa-fw fa-lg icon_animate"></i></a>
                            <a class="gift-cash" href="@divGiftinfoUrl">@divGiftinfoStr</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        @*狀態列*@

        @*RWD Header*@
        @*暫不匯入*@
        @*RWD Header*@

        @*新M版、新RWD Header*@
        <div class="header_wrap header_wrap_normal" style="display: none">
            <div class="header">
                <div class="header_left">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="header_left_member" href="~/m/Member"><span><i class="fa fa-user fa-lg fa-fw"></i>登入</span></a>
                    }
                    else
                    {
                        <a class="header_left_member" href="~/m/Member"><span><i class="fa fa-user fa-lg fa-fw"></i>會員</span></a>
                    }
                    <a class="header_left_search" href="~/m/Search"><span><i class="fa fa-search fa-lg fa-fw"></i>搜尋</span></a>
                </div>
                <div class="slider_btn">
                    <span id="m_ChooseChannel">選擇頻道</span><i class="fa fa-angle-down fa-lg fa-fw"></i><i class="fa fa-angle-up fa-lg fa-fw" style="display: none"></i>
                </div>
                <div class="header_logo">
                    <a href="@Html.Url(IsMobileBroswer ? "~/m" : "~/")"><img src="~/Themes/mobile/images/logo_17life.jpg" /></a>
                </div>
            </div>
            <div class="nav">
                <ul>
                    @foreach (MenuChannel channel in MenuChannelManager.GetMenuChannels())
                    {
                        @Html.Raw(String.Format("<li><a href='{0}'><img src='{1}' /><span id='{2}'>{3}</span></a></li>",
                                           IsMobileBroswer ? channel.Url : channel.RwdUrl, channel.Icon, channel.NaviId, channel.Title))
                        ;
                    }
                </ul>
            </div>
        </div>

        @*PC版 Header*@
        <div class="mbe-menu" id="target">
            <div id="navi" class="block-background">
                <div id="navimain">
                    <div class="logo-inline">
                        <a href="~/ppon/default.aspx">
                            <img src="~/Themes/PCweb/images/ppon-M2_LOGO.png" alt="17Life" />
                        </a>
                    </div>
                    <ul>
                        <li><a id="naviIndexLink" class="navbtn" href="~/channel/@((int)ChannelCategory.Food)">美食</a></li>
                        <li><a id="naviTravelLink" class="navbtn" href="~/channel/@((int)ChannelCategory.Travel)">旅遊</a></li>
                        <li class="ch-beauty"><a class="naviPeautyLink navbtn" href="~/channel/@((int)ChannelCategory.Beauty)">玩美‧休閒</a></li>
                        <li class="ch-itemdeli">
                            <a class="naviDeliveryLink navbtn" href="~/channel/@((int)ChannelCategory.Delivery)">
                                @*<div class="hot_icon"></div>*@
                                宅配購物
                            </a>
                        </li>
                        <li class="ch-themechannel">
                            <a id="navThemeChannelLink" class="@(Request.FilePath.IndexOf("ThemeCurationChannel") > 0 ? "navbtn_inpage" : "navbtn")" href="/Event/ThemeCurationChannel">
                                @*<div class="new_icon"></div>*@
                                主題活動
                            </a>
                        </li>
                        <li class="ch-todaydeal"><a class="navbtn" href="/ppon/TodayDeal.aspx?cpa=17_todaydeals">今日開賣</a></li>
                        <li class="ch-piinlife">
                            <a id="navPiinLifeLink" class="navbtn" href="~/piinlife/default.aspx" target="_blank">
                                <img src="~/Themes/PCweb/images/piinlife-icon.png">品生活
                            </a>
                        </li>
                        <li class="fr">
                            @*搜尋bar*@
                            <div class="search-block">
                                <input id="querystring" type="text" class="search-bar" placeholder="輸入關鍵字" autocomplete="off" />
                                <input id="btnPponSearch" type="button" class="search-button" style="cursor: pointer" onclick="gotosearch();" />
                                <div class="suggestionBox" style="display: none">
                                    <div class="suggestionList">
                                        <ul></ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @RenderSection("contentBanner", false)

        <div id="divCenter" class="center">
            <div id="btnBackTop" class="HKL_Button_back_to_top_command" style="display: none; cursor: pointer" title="返回頂部"></div>
            @*策展 Start*@
            @{
                /*Html.RenderAction("RandomParagraphCuration", "Ppon");*/
            }
            @*策展 End*@

            @RenderBody()
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clearfix" id="footerfix"></div>
    <div id="divCard" class="select-list-block">
        <div class="b-close" onclick="$.unblockUI();location.reload();">
            <i class="fa fa-times fa-fw"></i>
        </div>
        <div class="card_container">
            <div class="card_half card_left">
                <div class="pic">
                    <img class="cardImg" src="../Themes/default/images/mgm/card_test01.png" />
                </div>
                <div class="word">
                    Hi <span class="friend_name"></span><br />
                    <div class="card_word"></div><br />
                    <div class="member_name"></div>
                </div>
            </div>
            <div class="card_half card_right">

                <div class="pic">
                    <a href="#">
                        <img class="giftImg" src="" />
                        <strong class="pic_gift"></strong>
                    </a>
                </div>
                <div class="title">
                    <strong class="giftName"></strong>
                </div>
                <div class="word">
                    <strong class="giftContent"></strong>
                    <div class="link">
                        <a calss="giftUrl" href="#" target="_blank">詳細禮物內容</a>
                    </div>
                </div>

                <div class="action">
                    <a class="btn-default-line" onclick="acceptAjax(2)">婉拒禮物</a>
                    <a class="btn-primary-line" onclick="acceptAjax(1)">收下禮物</a>
                </div>
                <div class="note"></div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Ppon/_FooterPart.cshtml")
    @Html.Partial("~/Views/Ppon/_EventMailPart.cshtml", new EventMailPartModel { Activity = activity, SubscriptionCategories = subscriptionCategories })
</div>

@section footerScripts {
    @{
        Html.RenderAction("Paragraph", "Mobile", new { contentId = "headerscript" });
    }
    @RenderSection("footerScripts", false)
}
