﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    string pageTitle = ViewBag.PageTitle as string;
    string metaDescription = ViewBag.MetaDescription != null ? ViewBag.MetaDescription : 
        "17Life-吃喝玩樂團購3折起，全家便利商店5折專區免費索取兌換！全台美食餐券、旅遊住宿、宅配24H快速到貨、SPA專區，還有品生活獨享的頂級精品、用餐優惠，即買即用，盡在17Life與你一起享受生活！";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1" />
    <meta name="description" content="@metaDescription" />
    <meta name="keywords" content="17Life,團購,團購網站,團購美食,美食團購,美食餐廳,即買即用,餐券,優惠券,優惠,好康,折扣,台灣旅遊,SPA,線上購物" />
    <meta name="copyright" content="17Life" />
    <title>@Html.Raw(pageTitle == null, config.DefaultTitle, pageTitle)</title>
    <link rel="shortcut icon" href="~/Themes/PCweb/images/favicon.ico" />
    @RenderSection("AdditionalMeta", false)

    <link href="~/Themes/PCweb/css/lifeMemberIE6.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/css/lifeMemberIE7.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
	!function (b, r, i, d, g, e, w, l) { if (b._bw) return; var a = b._bw = function () { a.callMethods ? a.callMethods.apply(a, arguments) : a.queue.push(arguments) }; a.queue = []; var j = r.createElement(i); j.async = !0; j.src = d; var d = r.getElementsByTagName(i)[0]; d.parentNode.insertBefore(j, d) }(window, document, 'script', 'https://img.scupio.com/js/pixel.js');
	@if(HttpContext.Current.User.Identity is PponIdentity) {
	@:_bw('init', '153', { ulid: '@((HttpContext.Current.User.Identity as PponIdentity).Id.ToString())' });
	} else {
	@:_bw('init', '153');
	}
    </script>
    @*<link href="~/images/custom/override.css" rel="stylesheet" type="text/css" />*@
    @RenderSection("CSS", false)
    @RenderSection("HeadScripts", false)
    @*<script type="text/javascript" src="~/Tools/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="~/Tools/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="~/Tools/js/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="~/Tools/js/jquery-ui-1.9.2.min.js"></script>
        <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
        <script type="text/javascript" src="~/Tools/js/jquery.cycle.all.min.js"></script>
        <script type="text/javascript" src="~/Tools/js/effects/nivoslider.js"></script>
        <script type="text/javascript" src="~/Tools/js/mrel.js"></script>
        <script type="text/javascript" src="~/Tools/js/jquery.Guid.js"></script>
        <script type="text/javascript" src="~/Tools/js/jquery.lazyload.min.js"></script>
        <script type="text/javascript" src="~/Tools/js/jquery.numeric.js"></script>
        <script type="text/javascript" src="~/Tools/js/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="~/Tools/js/jquery.kinetic.min.js"></script>
        <script type="text/javascript" src="~/Tools/js/jquery.smoothdivscroll-1.3-min.js"></script>
        <script type="text/javascript" src="~/Tools/js/overlay-channel/modernizr.custom.js"></script>*@
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KWN4HC"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KWN4HC');</script>
    <!-- End Google Tag Manager -->

    <div id='fb-root'>
    </div>

    @RenderBody()

    @*fb Async Initial*@
    <script type='text/javascript'>
        var channel = document.location.protocol + "//" + document.location.host + '@Helper.GetWebUrl()' + 'fbchannel.htm';
        window.fbAsyncInit = function () { FB.init({ appId: '@Helper.GetFacebookAppId()', version: 'v2.8', status: true, cookie: true, xfbml: true, channelUrl: channel, oauth: true }); };
        (function () {
            var e = document.createElement('script');
            e.src = document.location.protocol + '//connect.facebook.net/zh_TW/sdk.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }());

    </script>
    @*PponJSCityGroup Ppon.js 引用變數*@
    <script type="text/javascript">
        var PponJSCityGroup = {
            Travel: '@CategoryManager.Default.Travel.CategoryId',
            PBeautyLocation: '@CategoryManager.Default.Beauty.CategoryId',
            AllCountry: '@CategoryManager.Default.Delivery.CategoryId',
            Family: '@CategoryManager.Default.Family.CategoryId',
            TaipeiCity: '@CategoryManager.Default.Taipei.CategoryId',
            Taoyuan: '@CategoryManager.Default.Taoyuan.CategoryId',
            Hsinchu: '@CategoryManager.Default.Hsinchu.CategoryId',
            Taichung: '@CategoryManager.Default.Taichung.CategoryId',
            Tainan: '@CategoryManager.Default.Tainan.CategoryId',
            Kaohsiung: '@CategoryManager.Default.Kaohsiung.CategoryId',
            Immediately: '@CategoryManager.GetCategoryIdByDealLabelSystemCode(DealLabelSystemCode.CanBeUsedImmediately)',
            TravelNorth: '@CategoryManager.Default.TravelNorth.CategoryId',
            TravelMidland: '@CategoryManager.Default.TravelMidland.CategoryId',
            TravelSouth: '@CategoryManager.Default.TravelSouth.CategoryId',
            TravelEast: '@CategoryManager.Default.TravelEast.CategoryId',
            TravelOutlyingIslands: '@CategoryManager.Default.TravelOutlyingIslands.CategoryId',
            FemaleTaipei: '@CategoryManager.Default.FemaleTaipei.CategoryId',
            FemaleTaoyuan: '@CategoryManager.Default.FemaleTaoyuan.CategoryId',
            FemaleHsinchu: '@CategoryManager.Default.FemaleHsinchu.CategoryId',
            FemaleTaichung: '@CategoryManager.Default.FemaleTaichung.CategoryId',
            FemaleTainan: '@CategoryManager.Default.FemaleTainan.CategoryId',
            FemaleKaohsiung: '@CategoryManager.Default.FemaleKaohsiung.CategoryId',
            LastDay: '@CategoryManager.Default.LastDay.CategoryId'
        };
        var CategorySortType = {
            Default: '@((int)CategorySortType.Default)',
            TopNews: '@((int)CategorySortType.TopNews)',
            TopOrderTotal: '@((int)CategorySortType.TopOrderTotal)',
            DiscountAsc: '@((int)CategorySortType.DiscountAsc)',
            PriceAsc: '@((int)CategorySortType.PriceAsc)',
            PriceDesc: '@((int)CategorySortType.PriceDesc)'
        };
        var PponJSChannelId = {
            Food: '@CategoryManager.pponChannelId.Food',
            AllCountry: '@CategoryManager.Default.Delivery.CityId',
            Travel: '@CategoryManager.Default.Travel.CityId',
            PBeautyLocation: '@CategoryManager.Default.Beauty.CityId',
            Skm: '@CategoryManager.Default.Skm.CityId',
            Family: '@CategoryManager.Default.Family.CityId'
        };

    </script>
    @RenderSection("SSC", false)
    @*<script type="text/javascript" src="~/Tools/js/Ppon.js?ver=0.0.1.3"></script>*@
    @*<script type="text/javascript" src="~/Themes/taishinapp/js/taishinscript.js"></script>*@
    @RenderSection("footerScripts", false)
</body>
</html>
