﻿@using LunchKingSite.BizLogic.Models
@model List<StoreInformation>
@helper CheckAndPrintHtml(string obj, bool isUrlLink = false)
{
if (!string.IsNullOrWhiteSpace(obj))
{
        <li><div id="p" style="display:inline;">@Html.Raw(obj)</div></li>
}
}
@*此頁內容要在Email中顯示，所以css必須寫在html裡，不定義在外部*@
@foreach (var info in Model)
{
    <div id="AddressTitle">
        <div id="n">@Html.Raw(info.Name)</div>
    </div>
    <div id="Addressinner">
        <table>
            <tr>
                <td colspan="2" style="text-align:left;border:none;">
                    <ul>
                        @CheckAndPrintHtml(info.Phone)
                        @CheckAndPrintHtml(info.Address)
                        @CheckAndPrintHtml(info.GetUseTimeOrOpeningTime())
                        @CheckAndPrintHtml(info.CloseDate)
                        @CheckAndPrintHtml(info.MRT)
                        @CheckAndPrintHtml(info.Car)
                        @CheckAndPrintHtml(info.Bus)
                        @CheckAndPrintHtml(info.OtherVehicle)
                        @CheckAndPrintHtml(info.WebSiteUrl)
                        @CheckAndPrintHtml(info.FacebookUrl)
                        @CheckAndPrintHtml(info.BlogUrl)
                        @CheckAndPrintHtml(info.OtherUrl)
                        @CheckAndPrintHtml(info.SpecialRemarks)
                    </ul>
                </td>
            </tr>
        </table>
    </div>
}