﻿@model List<string>
@{
    ViewBag.Title = "AppTopBanner";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Themes/mobile/js/script.js?v=0.3"></script>
    <link rel="stylesheet" type="text/css" href="~/Themes/mobile/css/style.css?v=0.3" />
    <link rel="stylesheet" type="text/css" href="~/Themes/mobile/css/swiper.css" />
    
    <style>
        .swiper-container {
            align-content: center;
            overflow: hidden;
            /*margin: 0px 20px 0px 20px*/
        }
    </style>
    
</head>
<body>

    <div class="detail_bnTop">
        <div class="banner">
            @if ((Model ?? new List<string>()).Count() == 1)
            {
                <div class="single-banner">
                    @Html.Raw((Model ?? new List<string>())[0])
                </div>
            }
            else
            {
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model ?? new List<string>())
                        {
                            <div class="swiper-slide">
                                @Html.Raw(item)
                            </div>
                        }
                    </div>
                    <!-- 如果需要导航按钮 -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <!-- 如果需要分页器
                    <div class="swiper-pagination"></div>-->
                    <!-- 如果需要滚动条
                    <div class="swiper-scrollbar"></div>-->

                </div>
            }
        </div>
    </div>

    <!-- Initialize Swiper -->
    <script type="text/javascript" src="~/Themes/mobile/js/swiper.min.js"></script>
    <script type="text/javascript">
        var swiper = new Swiper('.detail_bnTop .swiper-container', {
            pagination: '.detail_bnTop .swiper-pagination',
            nextButton: '.detail_bnTop .swiper-button-next',
            prevButton: '.detail_bnTop .swiper-button-prev',
            paginationType: 'fraction',
            loop: true,
            paginationFractionRender: function (swiper, currentClassName, totalClassName) {
                return '<span class="' + currentClassName + '"></span>' +
                    ' / ' +
                    '<span class="' + totalClassName + '"></span>';
            }
        });
    </script>
</body>
</html>