﻿@using LunchKingSite.Core;
@using LunchKingSite.Core.Component;
@using LunchKingSite.DataOrm;
@using LunchKingSite.BizLogic.Facade;
@using LunchKingSite.BizLogic.Component;
@model List<IViewPponDeal>
@{
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
}

@functions
{
    private static ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    private string GetDealShortTitle(ViewPponDeal deal)
    {
        string shortTitle = (string.IsNullOrEmpty(deal.AppTitle)) ? deal.ItemName : deal.AppTitle;
        shortTitle = (deal.DeliveryType == (int)DeliveryType.ToHouse) ? string.Format("宅配：{0}", shortTitle) : shortTitle;
        return shortTitle.Replace("[72H到貨]", "").Replace("[24H出貨]", "").Replace("[24H到貨]", "");
    }

    private string GetImageString(string eventimagepath)
    {
        string imageUrl;
        if (string.IsNullOrEmpty(eventimagepath))
        {
            imageUrl = "/Themes/PCweb/images/ppon-M1_pic.jpg";
        }
        else
        {
            imageUrl = ImageFacade.GetMediaPathsFromRawData(eventimagepath, MediaType.PponDealPhoto)[0];
            if (imageUrl.Length == 0)
            {
                imageUrl = "/Themes/PCweb/images/ppon-M1_pic.jpg";
            }
        }

        return imageUrl;
    }

    private string SetCountdown(DateTime timeE, DateTime timeS)
    {
        int year = timeE.Year;
        int month = timeE.Month;
        int day = timeE.Day;
        int hour = timeE.Hour;
        int min = timeE.Minute;
        int sec = timeE.Second;
        if (DateTime.Compare(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, hour, min, sec), DateTime.Now) > 0)
        {
            if ((DateTime.Now - timeS).Days < 1 && (timeE - DateTime.Now).Days >= 1)
            {
                year = DateTime.Now.AddDays(1).Year;
                month = DateTime.Now.AddDays(1).Month;
                day = DateTime.Now.AddDays(1).Day;
            }
            else
            {
                year = DateTime.Now.Year;
                month = DateTime.Now.Month;
                day = DateTime.Now.Day;
            }
        }
        else
        {
            year = DateTime.Now.AddDays(1).Year;
            month = DateTime.Now.AddDays(1).Month;
            day = DateTime.Now.AddDays(1).Day;
        }

        TimeSpan ts = timeE - DateTime.Now;
        int dayUntil = (int)Math.Floor(ts.TotalDays);
        int hourUntil = (int)Math.Floor(ts.TotalHours - dayUntil * 24);
        int minutesUntil = (int)Math.Floor(ts.TotalMinutes - hourUntil * 60);
        int secondsUntil = (int)Math.Floor(ts.TotalSeconds - hourUntil * 3600 - minutesUntil * 60);
        return hourUntil + LunchKingSite.I18N.Phrase.Hour + minutesUntil + LunchKingSite.I18N.Phrase.Minute + secondsUntil + LunchKingSite.I18N.Phrase.Second;
    }

    private string GetDealPromoImageHtmlTag(string dealPromoImage)
    {
        return (string.IsNullOrEmpty(dealPromoImage)) ? string.Empty : string.Format(@"<img src='{0}' alt='' />", ImageFacade.GetMediaPath(dealPromoImage, MediaType.DealPromoImage));
    }

    private int GetCityId()
    {
        HttpCookie cookie = Request.Cookies.Get(LkSiteCookie.CityId.ToString("g"));
        int cityid;
        if (cookie != null && int.TryParse(cookie.Value, out cityid))
            return cityid;
        else
            return -1;
    }

    private string GetDealLabel(ViewPponDeal deal)
    {
        string dealLabel = string.Empty;
        bool _isKindDeal = Helper.IsFlagSet(deal.GroupOrderStatus ?? 0, GroupOrderStatus.KindDeal);

        if (_isKindDeal)
        {
            dealLabel = "公益";
        }
        else if (Helper.IsFlagSet(deal.BusinessHourStatus, BusinessHourStatus.NoDiscountShown)
              || Helper.IsFlagSet(deal.BusinessHourStatus, BusinessHourStatus.PriceZeorShowOriginalPrice))
        {
            dealLabel = "特選";
        }
        else if (deal.ItemPrice == 0)
        {
            if (GetCityId().Equals(PponCityGroup.DefaultPponCityGroup.Family.CityId) && deal.ExchangePrice.HasValue && deal.ExchangePrice.Value > default(decimal))
            {
                if (Helper.IsFlagSet(deal.BusinessHourStatus, BusinessHourStatus.NoDiscountShown))
                {
                    dealLabel = "特選";
                }
                else
                {
                    dealLabel = ViewPponDealManager.GetDealDiscountString(Helper.IsFlagSet(deal.BusinessHourStatus, BusinessHourStatus.NoDiscountShown), CheckZeroPriceToShowPrice(deal), deal.ItemOrigPrice);
                    dealLabel += "<span class=\"smalltext\">折</span>";
                }
            }
            else
            {
                dealLabel = "優惠";
            }
        }
        else
        {
            string discount = ViewPponDealManager.GetDealDiscountString(Helper.IsFlagSet(deal.BusinessHourStatus, BusinessHourStatus.NoDiscountShown), CheckZeroPriceToShowPrice(deal), deal.ItemOrigPrice);
            int length = discount.Length;
            if (length > 0)
            {
                dealLabel = discount.Substring(0, 1);
                if (discount.IndexOf('.') != -1 && length > 2)
                {
                    dealLabel += discount.Substring(1, length - 1);
                }

                dealLabel += "<span class=\"smalltext\">折</span>";
            }
        }

        return dealLabel;
    }

    private decimal CheckZeroPriceToShowPrice(ViewPponDeal deal)
    {
        if (decimal.Equals(0, deal.ItemPrice))
        {
            if ((deal.BusinessHourStatus & (int)BusinessHourStatus.PriceZeorShowOriginalPrice) > 0)
            {
                return deal.ItemOrigPrice;
            }
            else if (GetCityId().Equals(PponCityGroup.DefaultPponCityGroup.Family.CityId) && deal.ExchangePrice.HasValue && deal.ExchangePrice.Value > default(decimal))
            {
                return deal.ExchangePrice.Value;
            }
            else
            {
                return deal.ItemPrice;
            }
        }
        else
        {
            return deal.ItemPrice;
        }
    }
 }

@section CSS {
    <link href="~/Themes/PCweb/css/MasterPage.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="~/Themes/default/images/17Life/StoreRecruitme/PStoreRecruitment.css" rel="stylesheet" />
    <link href="~/themes/PCweb/css/RDL-L.css" rel="stylesheet" type="text/css" />
    <link href="~/themes/PCweb/css/RDL-M.css" rel="stylesheet" type="text/css" />
    <link href="~/themes/PCweb/css/RDL-S.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    body {
        line-height: 1.5;
    }
        .logo-inline{
            z-index: 1;
           position: relative;
        }
        .center-margin-top{
            margin-top: -32px;
        }
        @@media screen and (max-width: 767px){
            .center-margin-top {
                margin-top: -11px;
            }
    }
</style>
}

@section SSC {
    <script type="text/javascript" src="~/Tools/js/jquery.cascadeAddress.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Tools/js/json2.js"></script>
    <script type="text/javascript" src="~/Themes/mobile/js/script.js"></script>
    <script src="~/Themes/PCweb/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if (window.location.href.toLowerCase().indexOf("finish") > -1) {
                $("#cooperation").hide();
                $("#finish").show();
            }
            else {
                divTop();
                $("#cooperation").show();
                $("#finish").hide();
                if ($('input:checkbox[name=proposalType]:checked').val() == undefined) {
                    $('input:checkbox[name=proposalType]').filter('[value=product]').prop('checked', true);
                    $(".hope").show();
                    $("#productText").show();
                    $("#kindText").hide();
                }

                requiredBind();
                checkboxBind();

                $.cascadeAddress.setup('@string.Format("https://{0}", Request.Url.Host)', function () {
                    $.cascadeAddress.bind($('#ddlCity'), $('#ddlArea'), $('#txtAddress'), "", "", "", false);
                });
            }
        });

        function divTop() {
            var str = '<div class="header-block"><div class="header-center-message">'
            + '<p>17life擁有超過250萬的會員人次，於APP及17Life網站上活耀參與</p>'
            + '<p>2014年17Life推出LINE官方頻道，目前已有380萬粉絲數</p>'
            + '<p>技術超群的攝影團隊，搭配經驗豐富的編輯群</p>'
            + '<p>團購網唯一獲獎【2015臺灣服務業大評鑑】大型購物網站銀牌</p></div></div>';
            $(str).insertBefore(".center:first");
            $(".center").addClass("center-margin-top");
        }

        function moveToControl(controlId) {
            var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
            var ctl = $('input[id*=' + controlId + ']');
            if ($(ctl).val() == undefined) {
                ctl = $('input[name*=' + controlId + ']');
            }
            if ($(ctl).val() == undefined) {
                ctl = $('select[name*=' + controlId + ']');
            }

            $body.animate({
                scrollTop: $(ctl).offset().top
            }, 800);
            return true;
        }

        function checkData() {
            var checkResult = true;
            var isMoveToErrorControl = false;

            if (!checkCheckBoxRequired("proposalType")) {
                checkResult = false;
                if (!isMoveToErrorControl) {
                    isMoveToErrorControl = moveToControl("proposalType");
                }
            }

            if (!checkRequired("companyName")) {
                checkResult = false;
                if (!isMoveToErrorControl) {
                    isMoveToErrorControl = moveToControl("companyName");
                }
            }

            if (!checkRequired("txtAddress") | !checkDropDownList("ddlCity") | !checkDropDownList("ddlArea")
                | !checkRequired("contactName") | !checkRequired("contactPhoneNo")) {
                checkResult = false;
                if (!isMoveToErrorControl) {
                    isMoveToErrorControl = moveToControl("ddlCity");
                }
            }

            if (!checkRequired("contactEmail")) {
                checkResult = false;
                if (!isMoveToErrorControl) {
                    isMoveToErrorControl = moveToControl("contactEmail");
                }
            }
            else if (!isEmail($("input[id*=contactEmail]").val())) {
                $("input[id*=contactEmail]").parent().parent().addClass("error");
                $("input[id*=contactEmail]").parent().find("p").show();
                checkResult = false;
                if (!isMoveToErrorControl) {
                    isMoveToErrorControl = moveToControl("contactEmail");
                }
            }

            if ($("input:checkbox[value=product]").is(":checked") || $("input:checkbox[value=virtual]").is(":checked")) {
                if (!checkTextareaRequired("recommendProduct")) {
                    checkResult = false;
                    if (!isMoveToErrorControl) {
                        isMoveToErrorControl = moveToControl("recommendProduct");
                    }
                }
            }
            if ($("input:checkbox[value=kind]").is(":checked")) {
                if (!checkTextareaRequired("hopeKind")) {
                    checkResult = false;
                    if (!isMoveToErrorControl) {
                        isMoveToErrorControl = moveToControl("hopeKind");
                    }
                }
            }

            if (!checkCheckBoxRequired('privacyPolicy')) {
                checkResult = false;
                if (!isMoveToErrorControl) {
                    isMoveToErrorControl = moveToControl("privacyPolicy");
                }
            }
            return checkResult;
        }

        function sendMail() {
            if (checkData()) {
                var kind = $("input:checkbox[value=kind]").is(":checked");
                var product = $("input:checkbox[value=product]").is(":checked");
                var virtual = $("input:checkbox[value=virtual]").is(":checked");
                var companyName = $("input[id*=companyName]").val();
                var address = $("select[id*=ddlCity] option:selected").text() + $("select[id*=ddlArea] option:selected").text() + $("input[id*=txtAddress]").val();
                var contactName = $("input[id*=contactName]").val();
                var contactPhoneNo = $("input[id*=contactPhoneNo]").val();
                var callBackTime = $("select[id*=callbackTime]").val();
                var email = $("input[id*=contactEmail]").val();
                var hope = "";
                var sendSuccess = false;
                $('#sendDiv').block({ message: null, overlayCSS: { backgroundColor: '#FFF', opacity: '0.0' } });
                if (product) {
                    hope = $("#recommendProduct").val();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SendBusinessMail", "Ppon")',
                        data: JSON.stringify({
                            companyName: companyName,
                            address: address,
                            contactName: contactName,
                            contactPhoneNo: contactPhoneNo,
                            callBackTime: callBackTime,
                            email: email,
                            hope: hope
                        }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.success) {
                                sendSuccess = true;
                            } else {
                                alert("寄送失敗(" + data.Message + ")，請重新寄送。");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert("寄送失敗(" + xhr.status + ", " + thrownError + " " + ajaxOptions + ")，請重新寄送。");
                        }
                    });
                }
                if (virtual) {
                    hope = $("#recommendProduct").val();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SendMarketMail", "Ppon")',
                        data: JSON.stringify({
                            companyName: companyName,
                            address: address,
                            contactName: contactName,
                            contactPhoneNo: contactPhoneNo,
                            callBackTime: callBackTime,
                            email: email,
                            hope: hope
                        }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.success) {
                                sendSuccess = true;
                            } else {
                                alert("寄送失敗(" + data.Message + ")，請重新寄送。");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert("寄送失敗(" + xhr.status + ", " + thrownError + " " + ajaxOptions + ")，請重新寄送。");
                        }
                    });
                }
                if (kind) {
                    hope = $("#hopeKind").val();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SendKindMail", "Ppon")',
                        data: JSON.stringify({
                            companyName: companyName,
                            address: address,
                            contactName: contactName,
                            contactPhoneNo: contactPhoneNo,
                            callBackTime: callBackTime,
                            email: email,
                            hope: hope
                        }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.success) {
                                sendSuccess = true;
                            } else {
                                alert("寄送失敗(" + data.Message + ")，請重新寄送。");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert("寄送失敗(" + xhr.status + ", " + thrownError + " " + ajaxOptions + ")，請重新寄送。");
                        }
                    });
                }
                $(document).ajaxStop(function () {
                    if (sendSuccess) {
                        location.href = "ContactUs?finish";
                    }
                });
                return false;
            }
            else { return false; }
        }

        function checkboxBind() {
            $("input:checkbox[name=privacyPolicy]").change(function () {
                if ($(this).is(":checked")) {
                    removeErrorByName("privacyPolicy");
                }
            });

            $("input:checkbox[name=proposalType]").change(function () {
                if ($("input:checkbox[value=kind]").is(":checked")) {
                    $("#kindText").show();
                    removeErrorByName("proposalType");
                }
                else {
                    $("#kindText").hide();
                }
                if ($("input:checkbox[value=product]").is(":checked") || $("input:checkbox[value=virtual]").is(":checked")) {
                    $("#productText").show();
                    removeErrorByName("proposalType");
                }
                else {
                    $("#productText").hide();
                }
                if (!$("input:checkbox[value=product]").is(":checked")
                    && !$("input:checkbox[value=virtual]").is(":checked")
                    && !$("input:checkbox[value=kind]").is(":checked")) {
                    $(".hope").hide();
                }
                else {
                    $(".hope").show();
                }
            });
        }

        function requiredBind() {
            inputKeyupRemoveError("companyName");
            inputKeyupRemoveError("txtAddress");
            inputKeyupRemoveError("contactName");
            inputKeyupRemoveError("contactPhoneNo");
            inputEmailRemoveError();
            inputAddressDropDownListRemoveError();
            textareaKeyupRemoveError("recommendProduct");
            textareaKeyupRemoveError("hopeKind");
        }

        function resetError() {
            removeErrorByName("proposalType");
            removeError("companyName");
            removeError("contactName");
            removeError("contactPhoneNo");
            removeError("contactEmail");
            removeDropDownError("ddlCity");
            removeDropDownError("ddlArea");
            removeTextareaError("recommendProduct");
            removeTextareaError("hopeKind");
            removeErrorByName("privacyPolicy");
            $("select[id*=ddlCity]").val("-1");
            $("select[id*=ddlArea]").val("-1");
            $("input[id*=txtAddress]").parent().parent().removeClass("error");
            $("input[id*=txtAddress]").parent().find("p").hide();
            $('html, body').animate({ scrollTop: 0 }, 'normal');
        }

        function textareaKeyupRemoveError(controlId) {
            $("#" + controlId).keyup(function () {
                removeTextareaError(controlId);
            });
        }

        function inputKeyupRemoveError(controlId) {
            $("input[id*=" + controlId + "]").keyup(function () {
                removeError(controlId);
            });
        }

        function inputAddressDropDownListRemoveError() {
            $("select[id*=ddlCity]").change(function () {
                if ($("select[id*=ddlCity]").val() != "-1" && $("select[id*=ddlArea]").val() != "-1") {
                    removeDropDownError("ddlCity");
                }
            });
            $("select[id*=ddlArea]").change(function () {
                if ($("select[id*=ddlCity]").val() != "-1" && $("select[id*=ddlArea]").val() != "-1") {
                    removeDropDownError("ddlArea");
                }
            });
        }

        function inputEmailRemoveError() {
            $("input[id*=contactEmail]").keyup(function () {
                if ($("input[id*=contactEmail]").val() && isEmail($("input[id*=contactEmail]").val())) {
                    removeError("contactEmail");
                }
            });
        }

        function checkDropDownList(controlId) {
            if ($('select[id*=' + controlId + ']').val() == "-1") {
                $("select[id*=" + controlId + "]").parent().parent().addClass("error");
                $("select[id*=" + controlId + "]").parent().find("p").show();
                return false;
            }
            else {
                return true;
            }
        }

        function checkRequired(controlId) {
            if (!$("input[id*=" + controlId + "]").val()) {
                $("input[id*=" + controlId + "]").parent().parent().addClass("error");
                $("input[id*=" + controlId + "]").parent().find("p").show();
                return false;
            }
            else {
                removeError(controlId);
                return true;
            }
        }

        function isNumber(val) {
            var reg = /^[0-9]*$/;
            return reg.test(val);
        }

        function checkCheckBoxRequired(controlName) {
            var checkvalues = $('input[name*=' + controlName + ']:checkbox:checked').map(function () {
                return $(this).val();
            }).get().join(',');

            if (checkvalues == "") {
                $("input:checkbox[name*=" + controlName + "]").parent().parent().parent().addClass("error");
                $("input:checkbox[name*=" + controlName + "]").parent().parent().children().filter("p:first").show();
                return false;
            }
            else {
                return true;
            }
        }

        function checkTextareaRequired(controlId) {
            if (!$("#" + controlId).val()) {
                $("#" + controlId).parent().parent().addClass("error");
                $("#" + controlId).parent().parent().find("p").show();
                return false;
            }
            else {
                return true;
            }
        }

        function removeError(controlId) {
            if (controlId != "txtAddress") {
                $("input[id*=" + controlId + "]").parent().parent().removeClass("error");
            } else {
                if ($("select[id*=ddlCity]").val() != "-1" && $("select[id*=ddlArea]").val() != "-1") {
                    $("input[id*=" + controlId + "]").parent().parent().removeClass("error");
                }
            }
            $("input[id*=" + controlId + "]").parent().find("p").hide();
        }

        function removeTextareaError(controlId) {
            $("#" + controlId).parent().parent().removeClass("error");
            $("#" + controlId).parent().parent().children().filter("p:first").hide();
        }

        function removeErrorByName(controlName) {
            $("input[name*=" + controlName + "]").parent().parent().parent().removeClass("error");
            $("input[name*=" + controlName + "]").parent().parent().children().filter("p:first").hide();
        }

        function removeDropDownError(controlId) {
            if ($("input[id*=txtAddress]").val()) {
                $("select[id*=" + controlId + "]").parent().parent().removeClass("error");
            }
            $("select[id*=" + controlId + "]").parent().find("p").hide();
        }

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        function resetForm() {
            if (confirm('確定要清除所有資料？')) {
                document.forms[0].reset();
                $('input:checkbox[name=proposalType]').filter('[value=product]').prop('checked', true);
                $(".hope").show();
                $("#productText").show();
                $("#kindText").hide();
                resetError();
                $('html, body').animate({ scrollTop: 0 }, 'normal');
                return false;
            } else {
                return false;
            }
        }
    </script>
}

<form id="form1" method="post" action="ContactUs">
    <div id="cooperation" class="center">
        <div class="ly-rt-full-block">
            <div class="rec-content">
                <h1 class="st-h1name">跟我們合作</h1>
                <hr class="header_hr">
                <div class="grui-form">
                    <div class="form-unit st-rec-height">
                        <label for="" class="unit-label">
                            <h2 class="st-h2name"><span class="st-rec-warningred">*</span>提案類型(可複選)</h2>
                        </label>
                        <div class="data-input">
                            <label class="data-input-label">
                                <input name="proposalType" type="checkbox" value="product">
                                <span class="blank">實體商品</span>
                            </label>
                            <label class="data-input-label">
                                <input name="proposalType" type="checkbox" value="virtual">
                                <span class="blank">非實體商品</span>
                            </label>
                            <label class="data-input-label">
                                <input name="proposalType" type="checkbox" value="kind">
                                <span class="blank">行銷與公益合作</span>
                            </label>
                            <p style="display: none">
                                <span class="st-rec-warningred">請選擇提案類型</span>
                            </p>
                            <p class="note">
                                商品若為實體商品，請勾選「實體商品」；若為餐飲、票券、旅遊、美髮美甲美容相關，請勾選「非實體商品」。
                                請注意，若您勾選多種類型，將會有多位專員與您聯繫。
                            </p>
                        </div>
                    </div>
                </div>
                <!--grui-->
                
                <div class="grui-form">
                    <div class="form-unit">
                        <label for="" class="unit-label"><span class="st-rec-warningred">*</span>店家/公司/團體名稱</label>
                        <div class="data-input">
                            <input id="companyName" type="text" class="input-full">
                            <p style="display: none">
                                <span class="st-rec-warningred">請輸入您的店家/公司名稱</span>
                            </p>
                        </div>
                    </div>
                    
                    <div class="form-unit">
                        <label class="unit-label">
                            <span class="st-rec-warningred">*</span>地址
                            
                        </label>
                        <div class="data-input">
                            <select ID="ddlCity" class="select-wauto">
                                <option Value="0">請選擇</option>
                            </select>
                            <select ID="ddlArea" class="select-wauto">
                                <option Value="0">請選擇</option>
                            </select>
                            <p style="display: none">
                                <span class="st-rec-warningred">請選擇您的縣市與鄉鎮市區</span>
                            </p>
                        </div>
                        <div class="data-input">
                            <input type="text" ID="txtAddress" class="input-full" />
                            <p style="display: none">
                                <span class="st-rec-warningred">請輸入您的地址</span>
                            </p>
                        </div>
                    </div>
                    <div class="form-unit">
                        <label class="unit-label"><span class="st-rec-warningred">*</span>聯絡人</label>
                        <div class="data-input">
                            <input id="contactName" type="text" class="input-full">
                            <p style="display: none">
                                <span class="st-rec-warningred">請輸入您的聯絡人</span>
                            </p>
                        </div>
                    </div>
                    <div class="form-unit">
                        <label class="unit-label"><span class="st-rec-warningred">*</span>聯絡電話</label>
                        <div class="data-input">
                            <input id="contactPhoneNo" type="text" class="input-full">
                            <p style="display: none">
                                <span class="st-rec-warningred">請輸入您的聯絡電話</span>
                            </p>
                        </div>
                    </div>
                    <div class="form-unit">
                        <label class="unit-label">合適回覆時間</label>
                        <div class="data-input">
                            <select id="callbackTime" name="select" class="select-wauto">
                                <option value="未選擇" selected="selected">請選擇適合聯繫您的時間</option>
                                <option value="上午9:00-12:00">上午9:00-12:00</option>
                                <option value="下午14:00-18:00">下午14:00-18:00</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-unit">
                        <label class="unit-label"><span class="st-rec-warningred">*</span>E-mail</label>
                        <div class="data-input">
                            <input id="contactEmail" type="text" class="input-full">
                            <p style="display: none">
                                <span class="st-rec-warningred">
                                    您輸入的信箱格式有誤，請重新輸入
                                </span>
                            </p>
                        </div>
                    </div>
                    
                    <div class="hope">
                        <div class="form-unit st-rec-height">
                            <label for="" class="unit-label">
                                <p><span class="st-rec-warningred">*</span>希望17Life為您做些什麼</p>
                            </label>
                            <div class="data-input" id="productText">
                                <textarea id="recommendProduct" class="rec" type="text" placeholder="請簡單描述你的商品，如商品/餐廳的特色、價格、優惠方案等。有任何網站連結，也請一併附上，讓我們更了解您的產品喔。" autocomplete="off"></textarea>
                            </div>
                            <div class="data-input" id="kindText">
                                <textarea id="hopeKind" class="rec" rows="3" type="text" placeholder="有關行銷與公益合作的提案，請描述期待的行銷模式(廣告贊助、廣告交換)、公益合作模式(募款、徵求物資)，也可敘述過去有做過的活動案例喔。" autocomplete="off"></textarea>
                            </div>
                            <p style="text-align:center; display: none">
                                <span class="st-rec-warningred">請輸入您希望與17Life一起做些什麼</span>
                            </p>
                        </div>
                    </div>
                    
                    <div class="form-unit signle_form_unit">
                        <div class="data-input" style="margin-left: 0;">
                            <label>
                                <input id="privacyPolicy" name="privacyPolicy" type="checkbox">
                                <p class="cancel-mr">我已閱讀並同意「<a target="_blank" href="../newmember/privacy.aspx">17Life網站個人資料蒐集告知及隱私權保護政策</a>」，同意提供以上資料供17Life使用。</p>
                            </label>
                            <p style="display: none">
                                <span class="st-rec-warningred">您還未同意隱私權政策</span>
                            </p>
                        </div>
                    </div>
                    <div class="btn-group btn-group-full-page-center clearfix">
                        <div class="btn-half">
                            <a class="btn btn-default btn-default-flat" onclick="return sendMail();">送出</a>
                        </div>
                        <div class="btn-half">
                            <a class="btn btn-primary btn-primary-flat" onclick="return resetForm();">清除重填</a>
                        </div>
                    </div>
                </div>
                <!--grui-->
            </div>
            <!--content-->
        </div>
        <!--full-block-->
    </div>
    <div id="finish" class="center ly-rt-full-block">
        <div class="rec-content">
            <h1 class="st-h1name">跟我們合作</h1>
            <hr class="header_hr st-rec-marginb">
            @*<h2 class="st-h2nameb">感謝您的提案!</h2>*@
            <div class="grui-form">
                <div class="st-rec-line">
                    <ul class="st-h3name">
                        <li style="font-weight: bold">感謝您的提案，經審核通過，我們將會在5個工作天內派出精銳的專員與您聯絡。</li>
                        <li style="font-weight: bold">讓 17Life 為你帶來滿滿的大！平！台！</li>
                        <li style="font-weight: bold">並協助您的產品賣好、賣滿。</li>
                        <li style="font-weight: bold">如提案審核不適任將不另行通知，敬請見諒。</li>
                        <li >&nbsp;</li>
                        <li style="font-weight: bold">17Life已申請節費電話，故專員聯繫的電話將顯示070開頭，</li>
                        <li style="font-weight: bold">此為中華電信官方的節費號碼，非詐騙電話！敬請安心接聽，謝謝！</li>
                    </ul>
                </div>
            </div>
            <!--grui-->
            
            <div class="rec-eg">
                <img src="../Themes/default/images/17Life/StoreRecruitme/eg.png" width="81" height="106" />
            </div>

            <h1 class="st-h1name">參考其他合作活動內容</h1>
            <hr class="header_hr">
            <div class="tc_small_content_area">
                @foreach (ViewPponDeal v in Model)
                {
                    <div class="s_content_box fl rec-width" style="height: 306px;">

                        <div class="title">
                            <a target="_blank" href="@Url.Content(string.Format("~/{0}", v.BusinessHourGuid))">
                                @CommonFacade.GetStringByByteLength(GetDealShortTitle(v), 49, "...")
                            </a>
                        </div>

                        <div class="deal_pic">
                            <a target="_blank" href="@Url.Content(string.Format("~/{0}", (v.BusinessHourGuid)))">
                                <span id="@(string.Format("{0}{1}", Model.IndexOf(v), "mainPic"))" value="@GetImageString(v.EventImagePath)" title="@v.EventName">
                                    <img src="@GetImageString(v.EventImagePath)" width="290" height="162" />
                                </span>
                            </a>
                            <div class="time_counter" id="@string.Format("{0}{1}", Model.IndexOf(v), "outlTAll")"
                                 data-start="@v.BusinessHourOrderTimeS.ToJavaScriptMilliseconds()" data-end="@v.BusinessHourOrderTimeE.ToJavaScriptMilliseconds()">
                                搶購倒數：<span class="day">@Math.Floor((v.BusinessHourOrderTimeE - DateTime.Now).TotalDays) + LunchKingSite.I18N.Phrase.Day</span>
                                @SetCountdown(v.BusinessHourOrderTimeE, v.BusinessHourOrderTimeS);
                            </div>
                            <input type="hidden" id="hidTimeCounterId" value="outlTAll" />
                            <div class="@(v.OrderedQuantity >= v.OrderTotalLimit ? "SoldOut_Bar_290" : string.Empty)%>">
                                </div>
                            <div class="activeLogo alo-m">
                                @GetDealPromoImageHtmlTag(v.DealPromoImage);
                            </div>
                        </div>

                        <div class="smallprice">
                            <div class="discount fl">
                                @Html.Raw(GetDealLabel(v))
                            </div>
                            <div class="price fl">
                                <span class="fami_price_text" style="@(v.ExchangePrice.HasValue && (v.ExchangePrice > default(decimal)) ? string.Empty : "display:none;")">全家兌換價</span>
                                @string.Format("${0}", CheckZeroPriceToShowPrice(v).ToString("F0"))
                               <span class="smalltext">@((v.BusinessHourStatus & (int)BusinessHourStatus.ComboDealMain) > 0 ? "起" : string.Empty)</span>
                            </div>
                            <div class="ori fl">
                                @string.Format("${0}", v.ItemOrigPrice.ToString("F0"))
                            </div>
                            <div class="clear">
                            </div>
                        </div>

                        <div class="bottom bottom-width-small">
                            <div class="buyer fl">
                                @Html.Raw(v.GetAdjustedOrderedQuantity().IsAdjusted ? string.Format("<span class='text'>已售出</span>{0}<span class='smalltext'>份</span>", v.GetAdjustedOrderedQuantity().Quantity) : string.Format("{0}<span class=\"text\">人已購買</span>", v.GetAdjustedOrderedQuantity().Quantity))
                            </div>
                            <a target="_blank" href='@Url.Content(string.Format("~/{0}", v.BusinessHourGuid))' class="go_button fr">馬上看</a>
                        </div>

                        <div style="display: none">
                            <div data-year="@v.BusinessHourOrderTimeE.Year"></div>
                        </div>

                    </div>
                }
            </div>

            <div class="clear"></div>
        </div>
    </div>
</form>