﻿
@{
    
}
<script type="text/javascript" src="../Tools/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../Tools/js/buy.js?v=1.18"></script>
<script type="text/javascript" src="https://www.payeasy.com.tw/static/gateway/js/ui.js"></script>
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=2.0, minimum-scale=0.3"/>
<style>

  
</style>

<script type="text/javascript">
    $(document).ready(function () {
        location.href = 'https://www.payeasy.com.tw/Cas/login?mode=mobile';
    })

    
</script>

<div>
    
</div>