﻿@using LunchKingSite.DataOrm;
@{
    Layout = "~/Views/Shared/WpPayLayout.cshtml";
}

<form>
    <div class="form-group form-inline">
        <label for="exampleInputEmail1">通路代號</label>
        <input type="email" class="form-control" id="MerchantID" name="MerchantID">
        <label for="exampleInputEmail1">店號</label>
        <input type="email" class="form-control" id="StoreID" name="StoreID">
        <label for="exampleInputEmail1">POS交易序號</label>
        <input type="email" class="form-control" id="MerchantTradeNo" name="MerchantTradeNo">
        <label for="exampleInputEmail1">POS機號</label>
        <input type="email" class="form-control" id="TID" name="TID">
    </div>
    <div class="form-group form-inline">
        <label for="exampleInputEmail1">支付條碼</label>
        <input type="email" class="form-control" id="BarCode" name="BarCode">
    </div>
    <div class="form-group form-inline">
        <label for="exampleInputEmail1">POS交易日期</label>
        <input type="email" class="form-control" id="MerchantTradeDateS" name="MerchantTradeDateS">
        <input type="email" class="form-control" id="MerchantTradeDateE" name="MerchantTradeDateE">
    </div>
    <button type="submit" class="btn btn-primary">查詢</button>
</form>

<div style="padding-top:10px"></div>
<table class="table table-hover">
    <tr>
        <th>通路代號</th>
        <th>店號</th>
        <th>店名</th>
        <th>POS交易序號</th>
        <th>POS機號</th>
        <th>POS交易日期</th>
        <th>POS交易時間</th>
        <th>支付條碼</th>
        <th>交易金額</th>
        <th>扣款金流類型</th>
        <th>廠商交易編號</th>
        <th>廠商交易日期</th>
        <th>廠商交易時間</th>
        <th>交易類別</th>
        <th>交易處理狀態</th>
        <th>廠商交易編號(原扣款)</th>
        <th>退貨交易序號</th>
        <th>退貨交易日期</th>
        <th>退貨交易時間</th>
    </tr>
   
</table>