@charset "utf-8";
.Service {
	width: 940px;
	margin: 20px auto;
	float: left;
	background-color: #ECE7E4;
	border: 10px solid #FAFAFA;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	letter-spacing: 0.8px;
	color: #414141;
	font-size: 13px;
	line-height: 22px;
}
.Service p { font-size: 13px; }
.Service .boldfont { font-weight:bold; }
.Service h1 { font-size: 18px; line-height: 3.26em; margin: 0 0 0 20px; color: #414141;}
.Service h2 { font-size: 16px; line-height: 2.54em; color: #414141; }
.Service hr { margin: 0 20px; width: 900px; }
.Service aside { float:left; width: 280px; padding: 10px; }
.Service aside ul { list-style-type: none; }
.Service aside li { border-bottom: 1px dotted #C8C8C8; }
.Service aside li a { color: #414141; }
.Service aside .cr { border-bottom: none; }
.Service article { float:right; width:620px; padding:10px; }
.Service article h1 { font-weight:bold; }
.Service article h2 { font-weight:bold; }
.Service article ul { list-style-type: none; }
.Service article hr { margin:5px; width:98%; }
.Service .ButtonBox { width: 100%; margin: 20px auto; text-align: center; }
.Service .ButtonBox a { color: white; text-decoration: none; }
.Service .col30 { width:30%; height:34px; float:left; }
.Service .col50 { width:50%; height:34px; float:left; }
.Service .col70 { width:70%; height:34px; float:left; }
.Service .col100 { width:100%; height:34px; float:left; }
.Service .col100nh { width:100%; float:left; margin-bottom:10px; }
.Service .col100nhm { width:100%; float:left; margin-bottom:10px; }
.Service input { width:90%; height:26px; margin-top:-10px; }
.Service select { width:90%; height:30px; margin-top:-6px; }
.Service .BtnName .Fix { height:auto; margin-top:0px; }
.Service .Notice { color: #E12626; padding-left: 5px; text-align: center; }
.Service .FAQIcon {
	width:40px;
	height:40px;
	background:url(Service_icon.png) no-repeat 0 0;
	float: left;
}
.Service .CSCIcon { width:40px; height:40px; float:left; background:url(Service_icon.png) no-repeat -40px 0; }
.Service .IconText {
	float:left;
	font-size: 16px;
	line-height: 40px;
	color: #414141;
	margin-left:10px;
	width: 185px;
}
.Service .IconText a { float:left; font-size: 16px; line-height: 40px; color: #414141; margin-left:10px; }
.Service .QTitle { background:#FAFAFA; margin:auto 10px auto 0px; padding-left:10px; line-height:2.48em; }
.Service .FAQRecordIcon {
	width:40px;
	height:40px;
	float: left;
	background: url(Service_icon.png) no-repeat -81px 0;
}
.Service .captcha_area a { height:30px; float:left; margin-top:-11px; padding:0 10px; line-height:30px; }
.Service .captcha_img { width:135px; height:30px; margin:-11px 0 0 10px; float:left; border:1px solid #AAA; }