@charset "utf-8";
/* CSS Document */

#ShopOwnerTitle {
	height: 46px;
	width: 520px;
	position: relative;
	background-image: url(PIA/PIA_03-02.png);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #4C4C4C;
	padding-left: 48px;
	padding-top: 8px;
	left: 17px;
	padding-bottom: 10px;
}
#ShopPic {
	width: 543px;
	height: 345px;
	margin-top: 3px;
	margin-left: 8px;
	
}
#ShopPic_bg {
	background-image: url(PIA/PIA%20-1.png);
	background-repeat: no-repeat;
	height: 381px;
	width: 576px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 15px;
	padding-top: 8px;
	padding-left: 2px;
}
#Shopinformation {
	height: 30px;
	width: 103px;
	background-image: url(PIA/PIA_09.png);
	margin-left: 6px;
	position: relative;
	float: left;
	margin-top: 5px;
}
#ShopFrame {
	height: auto;
	position: relative;
}
#ShopText {
	font-size: 20px;
	color: #333;
	width: 360px;
	position: relative;
	border-top-width: 2px;
	border-top-style: dashed;
	border-top-color: #666;
	padding-top: 8px;
	height: auto;
	float: right;
	margin-top: 15px;
	line-height: 35px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;

}

#Nevin{
	font:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333;
	position: relative;
	width: 890px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 2px; 
	border-top-style: dashed;  
	border-top-color: #666;
	padding-top: 10px;  
	margin-top: 6px;
	padding-right: 10px;
	padding-left: 5px;
	margin-bottom: 80px;
}
#shopinfo {
	float: right;
	position: relative;
	height: auto;
	width: 370px;
	margin-right: 10px;
}

#NevinTitle {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 35px;
	height: 30px;
	width: 960px;
	letter-spacing: 0.3em;
}
#pic {
	margin-left: 10px;
	float: left;
	height: 34px;
	width: 34px;
	margin-right: 5px;
}
#address {
	font-size: 18px;
	line-height: 30px;
	color: #333;
	font-weight: bold;
	width: 340px;
	margin-left: 10px;
	position: relative;
	float: left;
	margin-top: 5px;
	margin-bottom: 8px;
}
#pic_small {
	height: 25px;
	width: 25px;
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}
#PassGroupTitle{
	font-size: 18px;
	font-weight: bold;
	color: #333;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	width: 930px;
	margin-top: 15px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FF8C8C;
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
	letter-spacing: 0.3em;
	margin-bottom: 15px;
}

#AllPastGroup {
	margin-right: auto;
	margin-left: auto;
	width: 930px;
	position: relative;
	
}


.PastGroup {
	color: #272727;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	margin-top: 15px;
	padding-top: 0px;
	padding-right: 21px;
	padding-left: 21px;
	float: left;
	margin-left: 13px;
	position: relative;
	margin-bottom: 15px;
	width: 410px;
	height: 225px;
	padding-bottom: 10px;
}

/*#PastGroupTop {
	background-image: url(PIA/PIA_17.png);
	background-repeat: no-repeat;
	height: 7px;
	width: 410px;
}*/
#PastGroupCenter {
	width: 406px;
	height: 160px;
	padding-top: 15px;
	border: 2px dashed #FF8080;
	padding-bottom: 15px;
}
/*#PastGroupBottom {
	height: 5px;
	width: 410px;
	background-repeat: no-repeat;
	background-image: url(PIA/PIA_25.png);
}*/
#PastGroupTitle {
	font-size: 12px;
	font-weight: bold;
	color: #666;
	width: 192px;
	float: right;
	margin-right: 5px;
}
#PastGroupMoney {
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 5px;
	overflow: hidden;
	height: 62px;
}
.PastGoodPic{
	height: 122px;
	width: 193px;
	margin-left: 8px;
	position: relative;
	float: left;
}

.Past_Price {
	text-align: left;
	width: 80px;
	height: 26px;
	font-size: 13px;
	font-weight: bold;
	color: #F00;
	font-family: Arial, Helvetica, sans-serif, "Arial Unicode MS";
	padding-top: 3px;
	line-height: 26px;
}
.PastGroupPeople {
	color:#000;
	font-size:15px;
	text-align: left;
	font-weight: bold;
	line-height: 25px;
}

.Past_PricePeopleBuy{
	font-size: 12px;
	color: #333;
	line-height: 22px;
	font-weight: lighter;
	letter-spacing: 2px;
}
#EncoreterBottom {
	float: right;
	margin-right: 110px;
}

.PastStamp {
	position: relative;
	height: 122px;
	width: 193px;
	float: left;
	bottom: 170px;
	left: 8px;
	

}
.blueTEXT{
	color:#09C;
	font-size:16px;
	margin-left: 6px;
}
.PastGroupDate{
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 25px;
	background-color: #D08E8E;
	letter-spacing: 0.1em;
	padding-left: 8px;
}



/*--------------------------------------Discuss  討論區----------------------------------*/


#DiscussBoard {
	width:900px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
}
.NewDiscuss {
	width:120px;
	height:30px;
	z-index:1;
	position: relative;
	background-image: url(PIA/NewDiscussH.png);
	background-repeat: no-repeat;
	margin-left: 781px;
	top: 11px;
}
.NewDiscuss:hover {
	background-image: url(PIA/NewDiscuss.png);
	background-repeat: no-repeat;	
}

#DiscussBoardTitle {
	width:900px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#DiscussBoardTitle ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	left: 0px;
	top: 0px;
	background-image: url(17p_sn07_15.jpg);
	background-repeat: repeat;
}
.PIADiscussTitle  td{
	width="100%"
	font-size: 16px;
	line-height: 24px;
	color: #000;
	background-color: #CCC;
	word-spacing: 1px;
	padding:2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #FFFFFF;
	font-size: 16px;
}
#DiscussBoardContent {
	width:900px;
	height:auto;
}
#DiscussBoardContent ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	left: 0px;
	top: 0px;
	background-image: url(17p_sn07_15.jpg);
	background-repeat: repeat;
}

#DiscussBoardContent a:link{text-decoration: none;color: #666;font-weight: bold;}
#DiscussBoardContent ul a:visited{text-decoration: none;color: #666;}
#DiscussBoardContent a:hover{text-decoration: underline;color: #666;}
#DiscussBoardContent a:active{color: #666;text-decoration: none;}


.Who {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
	word-spacing: 1px;
	padding:2px 5px 2px 5px;
	border: none;
}
.PIADiscuss1 td {
	width="100%"
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	background-color: #FDD;
	word-spacing: 1px;
	padding:2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #FFFFFF;
	font-size: 16px;
}
.PIADiscuss1 .who td {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
	word-spacing: 1px;
	padding:2px 5px 2px 5px;
	border: none;
}
.PIADiscuss1 td p{
	word-wrap:break-word;
	width: 294px;
}
.PIADiscuss2 td {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	background-color: #FFC;
	word-spacing: 1px;
	padding:2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #FFFFFF;
	background-repeat: repeat;
	white-space: normal;
}
.PIADiscuss2 .who td {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
	word-spacing: 1px;
	padding:2px 5px 2px 5px;
	border: none;
}
.PIADiscuss2 td p{ 
	word-wrap:break-word; 
	width:294px;
}
#DiscussBoardEnd {
	width:900px;
	height:20px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}



#PItemTheme {
	width:900px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#PIAThemeTitlePic {
	width: 200px;
	float: left;
	padding-left: 10px;
}
#PIAThemeTitleLabel {
	font-size: 18px;
	min-height:121px;
	color:#ff0000;
	font-weight: bold;
	letter-spacing:1px;
	line-height: 24px;
	width: 450px;
	padding-left: 220px;
	height: auto;
}

#PIAThemeTitleLabel a:link{font-size: 16px;color: #666;font-weight: normal;letter-spacing:1px;line-height: 24px; 
                        text-decoration: none; }
#PIAThemeTitleLabel a:visited{font-size: 16px;color: #666;font-weight: normal;letter-spacing:1px;line-height: 24px; 
                        text-decoration: none; }
#PIAThemeTitleLabel a:hover{font-size: 16px;color: #666;font-weight: normal;letter-spacing:1px;line-height: 24px;
                        text-decoration: underline; }
#PIAThemeTitleLabel a:active{font-size: 16px;color: #666;font-weight: normal;letter-spacing:1px;line-height: 24px;
                        text-decoration: none; }
#PIAThemeTitlePrice {
	position: absolute;
	right: 24px;
	top: 62px;
	width: 151px;
	height: 62px;
	font-size: 26px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	color: #F00;
	text-align: center;
	line-height: 62px;
}
#PIAThemeTitleGoBuy {
	position: absolute;
	right: 0px;
	top: 125px;
	width: 222px;
	height: 45px;
	background-image: url(detail_04_01.png);
	z-index: 2;
}
#PItemThemeContent {
	width:900px;
	height:auto;
	z-index:1;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#PItemThemeContent textarea{
	width:570px;
}
#PItemThemeContent ul {
	list-style: none;
	left: 0px;
	top: -20px;
	width: 900px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#TableTop {
	position: relative;
	left: 0px;
	top: 0px;
	height: 10px;
	padding: 0px;
	width: 900px;
}
.TableMid {
	position: relative;
	left: 0px;
	top: 0px;
	height: 100%;
	background-image: url(PIA/PIATabMid.png);
	background-repeat: repeat;
	width: 100%;
}
.TableMid2 {
	position: relative;
	left: 0px;
	top: 0px;
	height: 100%;
	background-image: url(PIA/PIATabMid2.png);
}
#TableBtm {
	position: relative;
	left: 0px;
	bottom: 0px;
}
.PIAdiscussInner td {
	font-size: 16px;
	line-height: 20px;
	color: #666;
	word-spacing: 1px;
	padding:2px 5px 2px 5px;
	margin: 2px;
	font-weight: normal;

}
.PIAdiscussInner td p{ 
	word-wrap:break-word; 
	width:662px;
}
#ThemeTitle {
	position: relative;
	left: 0px;
	top: 0px;
	width: 900px;
}
#PIAThemeTitleTop {
	left: 0px;
	top: 0px;
	width: 900px;
	height: 11px;
	background-image: url(PIA/PIATitleTop.png);
	background-repeat: no-repeat;
}
#PIAThemeTitleMid {
	left: 0px;
	top: 0px;
	width: 900px;
	height: auto;
	background-image: url(PIA/PIATitleMid.png);
	z-index: 2;
}
#PIAThemeTitleBtm {
	left: 0px;
	top: 133px;
	width: 900px;
	height:9px;
	background-image: url(PIA/PIATitleBtm.png);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.ThemeTitleDiscuss {
	right: 0px;
	position: relative;
	left: 722px;
	width: 170px;
	top: 17px;
	background-image: url(PIA/PIABackDiscuss.png);
	background-repeat: no-repeat;
	height: 50px;
}
.ThemeTitleDiscuss:hover {
	background-image: url(PIA/PIABackDiscussH.png);
	background-repeat: no-repeat;
}
#ThemeTitleFollow {
	position: relative;
	width: 425px;
	top: 0px;
	font-weight: normal;
	margin-left: 220px;
}
#NewDiscussBackground {
	position:absolute;
	width:826px;
	height:322px;
	z-index:1;
	background-image: url(PIA/Discuss_PITEM_w.gif);
}
#NewDiscussTop {
	position:absolute;
	width:742px;
	height:97px;
	z-index:1;
	left: 36px;
	top: 18px;
	background-image: url(PIA/Discuss_PITEM_03.gif);
}
#NewDiscussBtm {
	position:absolute;
	width:742px;
	height:168px;
	z-index:2;
	left: 35px;
	top: 136px;
	background-image: url(PIA/Discuss_PITEM_06.jpg);
}
#NewDiscussPIC {
	position:absolute;
	width:53px;
	height:53px;
	z-index:1;
	left: 72px;
	top: 23px;
}
#NewDiscussTime {
	position:absolute;
	width:376px;
	height:22px;
	z-index:2;
	left: 156px;
	top: 53px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}
#NewDiscussTodayTitle{
	position:absolute;
	width:555px;
	height:50px;
	z-index:2;
	left: 60px;
	top: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666;
}
#NewDiscussTodayContent{
	position:absolute;
	width:61px;
	height:16px;
	z-index:2;
	left: 59px;
	top: 58px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666;
}
#NewDiscussTodayContentTextarea{
	position:absolute;
	width:467px;
	height:86px;
	z-index:2;
	left: 125px;
	top: 60px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}
#Encor {
	font-size:14px;
	color:#333;
	text-align: left;
	line-height: 23px;
	padding-left: 100px;
	width: 303px;
	margin-top: 20px;
	padding-top: 3px;
	background-color: #FFFF97;
	margin-right: auto;
	float: left;
	padding-bottom: 3px;
	margin-left: 1px;
}
#NewDiscussBtn {
	position:absolute;
	width:57px;
	height:42px;
	z-index:2;
	left: 669px;
	top: 122px;
}
#NewDiscussClose {
	position:absolute;
	width:13px;
	height:23px;
	z-index:2;
	left: 801px;
	top: 11px;
}
#NewDiscussName {
	position:absolute;
	width:376px;
	height:22px;
	z-index:2;
	left: 156px;
	top: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}
#PItem_themeIMG {
	width:768px;
	height:150px;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #F06;
	font-size: 14px;
	font-weight: bold;
	background-image: url(PIA/Peauty-G.png);
	background-repeat: no-repeat;
	padding-top: 18px;
	padding-right: 20px;
	padding-bottom: 14px;
	padding-left: 110px;
}
#PItem_themeIMG a:link{text-decoration: none;color: #F60;text-decoration:none;}
#PItem_themeIMG a:visited{text-decoration: none;color:#F60;text-decoration:none;}
#PItem_themeIMG a:hover{text-decoration: none;color: #F60;text-decoration:underline;}
#PItem_themeIMG a:active{text-decoration: none;color: #F60;text-decoration:none;}

#PItem_themeIMG ul  {
	list-style-type: none;	
}
#PItem_themeIMG li  {
	list-style-type: none;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
}