@charset "utf-8";
/* CSS Document */

#Groupsarea {
	width:960px;
	height:35px;
	z-index:1;
	position: relative;
}
#GroupsBuyin{
	width:149px;
	height:33px;
	z-index:1;
	background-image: url(PIC/PIC_37.png);
	display: block;
	text-indent: -9999px;
	float: left;
	margin-left: 10px;
	background-repeat: no-repeat;
}

.GroupsBuy {
	width:148px;
	height:33px;
	background-repeat: no-repeat;
	z-index:1;
	background-image: url(PIC/PIC-2_37.png);
	display: block;
	text-indent: -9999px;
	float: left;
	margin-left: 10px;
}
.GroupsBuy:hover{
	background-image: url(PIC/PIC_2-04.png);
	border:0;
}
#Groupsareain {
	width:125px;
	height:33px;
	background-repeat: no-repeat;
	background-image: url(PIC/PIC_2-04.png);
	display: block;
	text-indent: -9999px;
	float: left;
	margin-left: 12px;
}
.GroupsareaGO {
	height: 33px;
	width: 125px;
	background-image: url(PIC/PIC_2-03.png);
	display: block;
	text-indent: -9999px;
	float: left;
	background-repeat: no-repeat;
	margin-left: 12px;
}
.GroupsareaGO:hover{
	background-image: url(PIC/PIC_2-04.png);
	border:0;
}
#GroupsMyAccount {
	background-repeat: no-repeat;
	height: 33px;
	width: 130px;
	z-index:1;
	background-image: url(PIC/PIC_39.png);
	display: block;
	text-indent: -9999px;
	float: left;
}
.GroupsMyAccount {
	width:130px;
	height:33px;
	background-repeat: no-repeat;
	z-index:1;
	background-image: url(PIC/PIC-2_39.png);
	display: block;
	text-indent: -9999px;
	float: left;
}
.GroupsMyAccount:hover{
	background-image: url(PIC/PIC_39.png);
	border:0;

}
#GroupsMyBonus {
	background-repeat: no-repeat;
	height: 33px;
	width: 128px;
	z-index:1;
	background-image: url(PIC/PIC_40.png);
	display: block;
	text-indent: -9999px;
	float: left;
}
.GroupsMyBonus {
	width:128px;
	height:33px;
	background-repeat: no-repeat;
	z-index:1;
	background-image: url(PIC/PIC-2_40.png);
	display: block;
	text-indent: -9999px;
	float: left;
}
.GroupsMyBonus:hover{
	background-image: url(PIC/PIC_40.png);
	border:0;

}

#GroupsLine {
	width:960px;
	height:4px;
	z-index:1;
	background-image: url(PIC/PI_C_41.png);
	left: 10px;
	top: 31px;
	position: absolute;
	background-repeat: repeat;
}
#GroupsInner {
	width:960px;
	height:auto;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

/*-----------------------------Groupsarea-以上頁面共用-----------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/


/*+++++++++++++++++++++++++++++++++   c2 c3   ++++++++++++++++++++++++++++++++++++++++++++++*/

#remindWords {
	font-size: 14px;
	color: #444;
	height: auto;
	width: auto;
	position: relative;
	font-weight: bold;
	margin-top: 18px;
}
.remindWordsText {
	font-size:16px;
	color:#FF5B5B;
}
#GroupsInnerInformation {
	height: auto;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	border-collapse:separate;
}

#GroupsInnerInformation table{
	border:2px solid ;
	border-collapse: collapse;
	border-left-color:#999;
	border-right-color:#999;
	border-bottom-color:#999;
	border-top-color:#999;	   
}
#GroupsInnerInformation tr{
	line-height:40px;
	border-collapse:separate;


}
#GroupsInnerInformation td{
	line-height:35px;
	border:1px solid ;
	border-left-color:#999;
	border-right-color:#999;
	border-bottom-color:#999;
	border-top-color:#999;
	padding-left:10px;
	padding-right:10px;

}
.remindInformationText {
	font-size:16px;
	color:#FFF;
	text-align: center;
	letter-spacing: 0.2em;
	font-weight: bold;
	background-color: #FFA2A2;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5px;
}
.remindInformationITEM {
	font-size:18px;
	color:#333;
	text-align: center;
	letter-spacing: 1em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.remindInformationDATE {
	font-size:15px;
	color:#333;
	text-align: center;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.remindInformationGOODS {
	font-size:14px;
	text-align: left;
	line-height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	font-weight:bold;
}

.remindInformationGOODS a:link{text-decoration: none;color: #666;text-decoration:underline;}
.remindInformationGOODS a:visited{text-decoration: none;color:#666;text-decoration:underline;}
.remindInformationGOODS a:hover{text-decoration: none;color: #FF8000;text-decoration:underline;}
.remindInformationGOODS a:active{text-decoration: none;color: #666;text-decoration:underline;}



.remindInformationNUMBER {
	font-size:14px;
/*	color:#353535;*/
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.remindInformationNUMBER a:link{text-decoration:none;color:#333;text-decoration:underline;}
.remindInformationNUMBER a:visited{text-decoration: none;color: #333;text-decoration:underline;}
.remindInformationNUMBER a:hover {text-decoration: underline;color: #013998;text-decoration:underline;}
.remindInformationNUMBER a:active{text-decoration: none;color:#333;text-decoration:underline;}



.remindInformationMONEY {
	font-size:16px;
	color:#F70000;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: 0.2em;
}


.groupNOTreached {
	color:#44A2FF;
	font-size:14px;
	text-align: center;
	font-weight: bold;
}
.groupOK {
	color:#F00;
	font-size:14px;
	text-align: center;
	font-weight: bold;
}
.groupSOLDout{
	color:#666;
	font-size:14px;
	font-weight: bold;
	text-align: center;
}


/*---------------------<  TEXT >--------------------------------------------*/

.Black_titleTEXT{
	font:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#333;
	font-weight:bold;
	text-align: right;
	letter-spacing: 0.2em;
}　

/*---------------------  TEXT ---------------------------------------------*/
#bottomDIV {
	width: 300px;
	margin-right: 30px;
	height: auto;
	float: right;
	letter-spacing: 2em;
}

.Myself_text {
	width: 354px;
	float: right;
	text-align: left;
	letter-spacing: 0.1em;
}     

/*============================================style16-頁面設定開始==========================================*/

style16img { BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px;}
style16TD { BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px !important;} 

#style16-bg{
	width:708px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.style16ablack2{
	font:Arial, Helvetica, sans-serif,"新細明體","細明體";
	text-align:left;
	line-height:30px;
	font-size: 16px;
}
.style16ablack1{
	text-align:right;
	font-family: Arial, Helvetica, sans-serif, "新細明體", "細明體";
	font-size: 16px;
}
.style16prink_text1{
	color:#FF5353;
	font-size:16px;
}
.style16prink_text2{
	color:#F00;
	font-size:18px;
	font-weight:bold;
}
.style16Myself_text {
	width: 354px;
	float: right;
	text-align: left;
	letter-spacing: 0.1em;
}
.style16pic3BTN{
	width:60px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;	
}
style16body {
	font-family: Arial, Helvetica, sans-serif,"新細明體","細明體";
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#style16-bg input {
	border: 1px solid #FF8080;
}

#style16phone_pic {
	width: 25px;
	float: left;
	margin-top: 3px;
	margin-right: 3px;
	background-image: url(PIC/PIC.png);
	background-repeat: no-repeat;
	height: 25px;
}
.style16pic_bottom {
	width: 102px;
	float: right;
	margin-right: 10px;
	text-align: center;
	height: 29px;
	margin-top: 5px;
	letter-spacing: 0.2em;
	background-image: url(PIC/PIC_02.png);
	background-repeat: no-repeat;
}
#style16pic {
	width: 29px;
	float: right;
	margin-right: 190px;
	margin-top: 3px;
	margin-bottom: 3px;
	background-image: url(PIC/PI_pop.png);
	background-repeat: no-repeat;
	height: 28px;
}

.style16myself_ok {
	background-image: url(PIC/PIC2-2.png);
	background-repeat: no-repeat;
	height: 48px;
	width: 177px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 275px;
	float: left;
}
	
#style16Title {
	background-image: url(PIC/A16_Top.png);
	background-repeat: no-repeat;
	height: 57px;
	width: 708px;
}
.style16GoBack-bottom {
	background-image: url(PIC/A9_Top_Txt2.png);
	background-repeat: no-repeat;
	height: 19px;
	width: 109px;
	position: relative;
	float: right;
	margin-top: 20px;
	margin-right: 40px;
}
.style16add-address{
	background-image:url(PIC/PIC1.png);
	width:160px;
	height:40px;
	border-width: 0px;
	background-repeat: no-repeat;
	margin-left: 20px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}
.style16frame-bg {
	background-image: url(PIC/A16_BG.png);
	background-repeat: repeat;
	width: 708px;
}
#style16Preinstall-Add {
	background-image: url(PIC/A17_Buttom2.png);
	background-repeat: no-repeat;
	height: 33px;
	width: 200px;
	margin-left: 20px;
}
.style16Allocationmodify {
	background-image: url(PIC/A7_Btn_5.png);
	background-repeat: no-repeat;
	height: 33px;
	width: 140px;
	float: left;
}
.style16delete {
	background-image: url(PIC/A7_Btn_over.png);
	background-repeat: no-repeat;
	height: 33px;
	width: 70px;
	float: left;
	margin-left: 30px;
}
.style16Sending-out {
	background-image: url(PIC/A7_Btn_4.png);
	background-repeat: no-repeat;
	height: 33px;
	width: 70px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: 325px;
	float: left;
}
#style16frame-bottom {
	background-image: url(PIC/A5_07.png);
	background-repeat: no-repeat;
	height: 21px;
	width: 708px;
}
#style16Preinstall-Add-Frame {
	width: 675px;
	border: 1px solid #F00;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 15px;
}
.style16Addition{
	background-image: url(PIC/C3_Btn_Add.png);
	background-repeat: no-repeat;
	height: 33px;
	width: 70px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 10px;
	float: left;
	margin-left: 270px;
}
.style16modify{
	background-image: url(PIC/C3_Btn_modify.png);
	background-repeat: no-repeat;
	height: 33px;
	width: 70px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 10px;
	float: left;
	margin-left: 270px;
}
.style16Cancel{
	background-image: url(PIC/C3_Btn_Cen.png);
	background-repeat: no-repeat;
	height: 33px;
	width: 70px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: 38px;
	float: left;
}
#style16-RenewsSuccessfully1{
	font-family: Arial, Helvetica, sans-serif,"新細明體","細明體";
	font-size: 24px;
	font-weight: bold;
	color: #F00;
	height: 70px;
	width: 550px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	text-align: center;
	letter-spacing: 0.2em;
	background-color: #FFB;
}
#style16-RenewsSuccessfully2 {
	font-family: Arial, Helvetica, sans-serif,"新細明體","細明體";
	font-size: 24px;
	font-weight: bold;
	color: #F00;
	height: 70px;
	width: 550px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	text-align: center;
	letter-spacing: 0.2em;
	background-color: #FFB;
}
/*==================================================== style16-頁面設定結束 ===================================
-------------------------------------------------------------------------------------------------------------------*/

#GroupsOrderTitle {
	width:790px;
	height:65px;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 20px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif,"新細明體","細明體";
	font-weight: bold;
	background-image: url(PIC/GroupsOrderTitle.png);
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}
#GroupsOrderShop {
	width:800px;
	height:30px;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 20px;
	color: #000;
	font-weight: bold;
}
#PICOrderBuyItem {
	width:800px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#PICOrderBuyIteminner {
	width:800px;
	height:auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-collapse: separate;
	border: 1px solid #CDCDCD;
}
#PICOrderBuyIteminner tr{
	line-height: 20px;
}
#PICOrderBuyIteminner td {
	text-align: justify;
	padding: 6px;
}
.PICOrderBuyItemthead{
	background-color: #cdcdcd;
	font-weight: bold;
}
.PICOrderBuyItemthead_2{
	background-color: #F90;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
}
.PICOrderBuyItemTitlename{
	color:#000;
	font-family:verdana;
	font-weight:bold;
  }
.PICOrderBuyItemPrice{
  color:#FF0000;
  font-family:verdana;
  font-weight:bold;
  }
.PICITEM{
	border-collapse:separate;
}
.PICITEM td{
	text-align: center;
	background-image: url(PIB/PIBOrderLine.jpg);
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: center bottom;
}
#PICOrderBuyItemAccounts {
	width:800px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: 1px solid #cdcdcd;
}
#PICOrderBuyItemAccounts td {
	padding: 3px;
	letter-spacing: 2px;
	text-align: right;
}
.PICAccounts{
	border-collapse:separate;
}
.PICAccounts td{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CDCDCD;
}.PICS_Total{
	font-size: 22px;
	color: #F00;
	font-weight: bold;
	text-align: center;
}
.PIC_Ship{
	font-size: 22px;
	color: #000;
	font-weight: bold;
	text-align: right;
}
.PIC_CASH17{
	font-size: 16px;
	color: #000;
	text-align: center;
	padding-top: 20px;
}
.PIC_CASH{
	font-size: 16px;
	color: #000;
	text-align: center;
	
}
#PICOrderInformation {
	width:800px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#PICOrderInformation ul ol {
	margin: 0px;	
}
#PICOrderInformationPayDetail {
	width:800px;
	height:auto;
	z-index:1;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	margin-top: 10px;
	background-image: url(PIC/PICOrderPD_IMG.png);
	background-repeat: no-repeat;
	padding-top: 35px;
	letter-spacing: 1px;
	font-family: "Arial Black", Gadget, sans-serif;
}
#PICOrderPayDetailTable {
	width:220px;
	height:auto;
	margin-top: 10px;
	text-align: right;
}
.PICOPayTable{
	text-align:right;
}
#PICOrderInformationContent {
	width:800px;
	height:auto;
	z-index:1;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-top: 10px;
	background-image: url(PIC/PICOrderIC_IMG.png);
	background-repeat: no-repeat;
	padding-top: 35px;
}
#PICOrderInformationInvoice {
	width:950px;
	height:auto;
	z-index:1;
	padding-left:10px;
	padding-top:14px;
	font-size:14px;
	font-weight: bold;
	color: #000;
	background-image: url(PIC/PICOrderIN_IMG.png);
	background-repeat: no-repeat;
}
.PIC4BonusT{
	font-weight: bold;
	color: #ED2A3A;
	font-family: Arial, Helvetica, sans-serif,"新細明體","細明體";
	font-size: 20px;
	letter-spacing: 1px;
}
.PIC_In{
	text-align: center;
}
.PIC5_Back {
	width:100px;
	height:30px;
	margin-left: 650px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	background-image: url(PIC/PIC5_Back.jpg);
	background-repeat: no-repeat;
	position: relative;
	top: -25px;
}
.PIC5_Back:hover {
	background-image: url(PIC/PIC5_BackH.jpg);
	background-repeat: no-repeat;
}

.PIC_card{
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 5px;
}
/*==================================A15頁面table設定開始 p.s以後表格設計請勿在底部設圓角, 尤其是將底圖與資料一起畫在一起真要命
========================================================================================*/
/*針對FF Safari(Mac) IE */
#a15Con{
	width:709px;
	background-image:url(PIC/a_tableConBG.gif);/*針對FF IE兩邊延伸的底圖*/
	_background-image:none;/*針對I6E兩邊延伸的底圖這邊的底圖必須取消掉, 以下面的#conMiddle取代才不會右上角出現藍邊 */
	margin-left:149px;/*table置中的距離*/
	_margin-left:76px;/*table置中的距離*/
	font-size:14px;
}

#a15Con em{
	font-size:20px;
	font-weight:bold;
	color:#F6014C;
}

#a15Con #conTop{
	width:709px;
	height:58px;
	background-image: url(PIC/a_15_tableCorTop.jpg);
	background-repeat: no-repeat;
}

#a15Con #conTop h1{
	color:#DBF1F2;
	line-height:0px;
	font-size:0px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conTop h1{
	text-indent:-99999px;
}
}

#a15Con #conTop #back{
	float:right;
	margin-right:15px;
	margin-top:20px;
}


/*============中間部份============*/
#a15Con #conMiddle{
	width:709px;
	_width:705px;
	_background-image:url(PIC/a_tableConBG.jpg);
}
/*Display info 部份*/
#a15Con #conListTop{
	width:709px;
}

#a15Con #conListTop p{
	margin-top:25px;
	margin-left:20px;
}

#a15Con #conListTop #ctl00_ML_MC_check{
	float:right;
	margin-top:-25px;
	margin-right:15px;
	margin-bottom:5px;
}
/*Display detail info 部份*/
#a15Con #conList{
	width:709px;
}

/*設定table td th*/
#a15Con #conList table{
    width:705px;
	width /*\**/:707px\9;/*IE8*/
	*width:706px;
	_width:706px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList table{
    width:708px;
}
}

/*th*/
#a15Con #conList th{
	padding-top: 6px;
	*padding-top: 8px;
	background-color:#FFFFE6;
	height:30px;
	*height:20px;
	border:#D72400 2px solid;
	*border-bottom:none;/*IE由下面的td補上border-top 否則會出現白邊*/
	text-align:center;
	*padding-left:12px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList th{
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#FFFFE6;
	height:15px;
	border:#D72400 2px solid;
	text-align:center;
}
}
#a15Con #conList #th1{/*設最第一個的左邊界*/
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #D72400;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList #th1{
	border-left:#D72400 2px solid;
}
}
#a15Con #conList #th2{/*設最後一個的右邊界*/
	/*border-right-width: 1px;*/
	border-right-style: solid;
	border-right-color: #D72400;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList #th2{
	border-right:#D72400 2px solid;
}
}

/*td*/
#a15Con #conList td{
	padding-left:1px;/*控制整個table的細部調整*/
	padding-left /*\**/: 1px;/*IE8*/






	*padding-left:2px;
	_padding-left:2px;
	padding-right:6px;






	*padding-right:2px;
	_padding-right:2px;
	/*border-right:#fff 1px solid;*/
	height:35px;/*因為要用td裡面的字把高度撐開所以#a15Con #conList  #fistLine1設了padding-top:15px35+15=50原有高度,
	因為padding-top如果直接設在td裡, 最後一行的圖片會有中間延伸的線跑出來. */
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
	#a15Con #conList td{
	padding-left:1px;
	padding-right:0px;
	height:35px;
	/*border-right:#FFF 2px solid;*/
}
}

/*-------Red td 紅底的-------*/
#a15Con #conList .tdColorB{/*設最第一個的左邊界*/
	background-color:#DBF1F2;
	border-left:#D72400 1px solid;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList .tdColorB{
	background-color:#DBF1F2;
	border-left:#D72400 2px solid;
}
}

#a15Con #conList .tdColorBR{/*設最最後一個的右邊界*/
	background-color:#DBF1F2;
	border-right:#D72400 1px solid;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList .tdColorBR{
	background-color:#DBF1F2;
	border-right:#D72400 2px solid;
}
}
/*-------White td 白底的-------*/
#a15Con #conList .tdColorW{/*設最第一個的左邊界*/
	background-color:#fff;
	border-left:#D72400 1px solid;
}


#a15Con #conList .tdColorWR{/*設最最後一個的右邊界*/
	background-color:#fff;
	border-right:#D72400 2px solid;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList .tdColorWR{
	background-color:#fff;
	border-right:#D72400 2px solid;
}
}

/*第一行指定上方Border, 與文字置於中間的距離, 上下左右*/
.ctl00_ML_MC_rro_ctl00_fistLine1{
	/*border-top:#D72400 2px solid;/*針對第一行的頂部設定*/
	text-align: center;	/*border-bottom:none;*/
	padding-top:15px;/*把td撐開到中間的距離,如直接設在td上,會影響最後一行td包table的特殊設定, 所以上面的高度要設為50px（原有高度）-15=35px*/
}
.ctl00_ML_MC_rro_ctl00_fistLine2{
	/*border-top:#D72400 2px solid;*/
	text-align: left;	/*border-bottom:none;*/
	padding-left:10px;
	padding-top: 10px;
}
.ctl00_ML_MC_rro_ctl00_fistLine3{
    /*border-top:#D72400 2px solid;*/
	text-align: right;	/*border-bottom:none;*/
	padding-right:10px;
	padding-top: 10px;
}
.ctl00_ML_MC_rro_ctl00_fistLine4{
    /*border-top:#D72400 2px solid;*/
	border-right:#D72400 2px solid;
	text-align: right;	/*border-bottom:none;*/
	padding-right:10px;
	padding-top: 10px;
	background-color:#fff;
	margin-right: -2px;
	
	height:33px;/*for blue color BG*/
	border-bottom:none;/*for blue color BG*/
}

#a15Con #conList  #ctl00_ML_MC_rro_ctl01_textCen{
	text-align: center;	
	padding-top:15px;
}
#a15Con #conList  #ctl00_ML_MC_rro_ctl01_textLeft{
	text-align: left;	
	padding-left:10px;
}
#a15Con #conList  #ctl00_ML_MC_rro_ctl01_textRight{
	text-align: right;	
	padding-right:10px;
}
#a15Con #conList  #ctl00_ML_MC_rro_ctl01_textRight2{
	text-align: right;	
	padding-right:10px;
}

/*-------最後一行特殊設定-------*/
#a15Con #conList #borderBottom{ /*設底圖*/
	width:709px;
	height:49px;/*white bg*/
	background-image: url(PIC/a_15_tableCorBottom_w.gif);
	background-repeat: no-repeat;	/*background: url(a_15_tableCorBottom_b.gif) no-repeat;*//*Blue bg*/
}

/*對齊格子 與文字上下左右設定*/
.ctl00_ML_MC_width1{
	width:119px; 
	width /*\**/:120px\9;/*IE8*/ 
	*width:121px; _width:121px;
	text-align: center; 
    padding-top:15px height:33px;/*因為#width1的padding-top撐開15px所以48px-15=33px
	*/border-right:1px solid #fff;/*for white color BG*/
	border-bottom:none;/*for blue color BG*/

	}
.ctl00_ML_MC_width2{
	width:323px; width /*\**/:320px\9;/*IE8*/ 
	*width:300px; _width:300px; 
	text-align: left; 
	padding-left:10px;
	height:33px;/*因為#width1的padding-top撐開15px所以48px-15=33px*/
	border-right:1px solid #fff;/*for white color BG*/
	border-bottom:none;/*for blue color BG*/	
	}/*padding撐開5px width->335-5=300px   323-20(total padding-right)*/
	
.ctl00_ML_MC_width3{
	width:111px; width /*\**/:112px\9;/*IE8*/ 
	*width:111px; _width:111px; 
	text-align: right;
	padding-right:10px;
	height:33px;/*因為#width1的padding-top撐開15px所以48px-15=33px*/
	border-right:1px solid #fff;/*for white color BG*/
	border-bottom:none;/*for blue color BG*/
	}
.ctl00_ML_MC_width4{
	width:112px; width /*\**/:111px\9;/*IE8*/ 
	*width:111px; _width:111/x;
	text-align: right; 
	padding-right:10px;
	height:33px;/*因為#width1的padding-top撐開15px所以48px-15=33px*/
	/*border-right:1px solid #fff;/*for white color BG*/
	border-bottom:none;/*for blue color BG*/
	}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList  #ctl00_ML_MC_width1{width:125px; text-align: center; padding-top:15px}
#a15Con #conList  #ctl00_ML_MC_width2{width:328px; ext-align: left; padding-left:10px;}
#a15Con #conList  #ctl00_ML_MC_width3{width:112px; text-align: right; padding-right:10px;}
#a15Con #conList  #ctl00_ML_MC_width4{width:115px; text-align: right; padding-right:10px;}
}


#a15Con #conList #borderBottom .tdColorLast{ /*設邊界*/
	height:33px;/*for blue color BG*/
	border-right:1px solid #fff;
	border-bottom:none;/*for blue color BG*/
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a15Con #conList #borderBottom .tdColorLast{ /*設邊界*/
	height:33px;
	border-right:2px solid #fff;/*for white color BG*/
	border-bottom:none;/*for blue color BG*/
}
}
#a15Con #conList #borderBottom .tdColorLastR{
	height:33px;
	border-right:none;
}
#a15Con a, a:link{
	color:#964B96;
	text-decoration:underline;
}

#a15Con a:hover{
	color:#FA1E41;
	text-decoration:underline;
}

/*==================================A15頁面table設定結束
========================================================================================*/
/*==================================A30頁面table設定開始 p.s以後表格設計請勿在底部設圓角, 尤其是將底圖與資料一起畫在一起真要命
========================================================================================*/
/*針對FF Safari(Mac) IE */
#a30Con{
	width:709px;
	/*background-image:url(a_tableConBG.gif);/*針對FF IE兩邊延伸的底圖*/
	_background-image:none;/*針對I6E兩邊延伸的底圖這邊的底圖必須取消掉, 以下面的#conMiddle取代才不會右上角出現藍邊 */
	margin-left:149px;/*table置中的距離*/
	_margin-left:76px;/*table置中的距離*/
}

#a30Con em{
	font-size:16px;
	color:#F6014C;
}

#a30Con #conTop{
	width:709px;
	height:58px;
	background-image: url(PIC/a_30_tableCorTop.gif);
	background-repeat: no-repeat;
}

#a30Con #conTop h1{
	color:#DBF1F2;
	line-height:0px;
	font-size:0px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a30Con #conTop h1{
	text-indent:-99999px;
}
}

#a30Con #conTop #back{
	float:right;
	margin-right:15px;
	margin-top:20px;
}

/*============中間部份============*/
#a30Con #conMiddle{
	width:709px;
	_width:705px;
	_background-image:url(a_tableConBG.gif);/*針對I6E兩邊延伸的底圖*/
}
/*Display info 部份*/
#a30Con #conListTop{
	float:left;
	width:709px;
}

#a30Con #conListTop p{
	margin-top:25px;
	margin-left:20px;
}

#a30Con #conListTop #check{
	float:right;
	margin-top:10px;
	margin-right:15px;
	margin-bottom:5px;
}
/*Display detail info 部份*/
#a30Con #conList{
	width:709px;
}

/*設定table td th*/
#a30Con #conList table{
    width:709px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a30Con #conList table{
}
}
/*Inner Table top*/
#a30Con #conList #innerTableTop{
	width:709px;
	height:1px;
	background-image: url(PIC/a_tableConBG.gif);
	background-repeat: repeat-y;
	
}

/*Inner Table Bottom*/
#a30Con #conList #innerTableBottom{
	width:709px;
	height:50px;/*blue bg*/
	background-image: url(PIC/a_15_tableCorBottom_b.gif);
	background-repeat: no-repeat;
	/*background:url(a_15_tableCorBottom_w.gif) no-repeat;/*white bg*/
}

#a30Con #conList #tableList1{
	width:703px;
	margin-left:3px;
}

/*th*/
#a30Con #conList #tableList1 th{
	width:100px;
	height:50px;
	height /*\**/: 35px\9;/*IE6,7,8*/
	*height:35px;/*IE6,7,*/
	padding-top:15px;
	padding-left:60px;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a30Con #conList #tableList1 th{
	height:30px;
}
}
/*icons within "th" */
#a30Con #conList #tableList1 #icon1{
	background-image: url(PIC/a30_icon1.gif);
	background-repeat: no-repeat;
	background-position: 15px 8px;
}
#a30Con #conList #tableList1 #icon2{
	background-color:#FCC;
	background-image: url(PIC/a30_icon2.gif);
	background-repeat: no-repeat;
	background-position: 15px 8px;
}
#a30Con #conList #tableList1 #icon3{
	background-image: url(PIC/a30_icon3.gif);
	background-repeat: no-repeat;
	background-position: 15px 8px;
}
#a30Con #conList #tableList1 #icon4{
	background-color:#FCC;
	background-image: url(PIC/a30_icon4.gif);
	background-repeat: no-repeat;
	background-position: 15px 8px;
}
#a30Con #conList #tableList1 #icon5{
	background-image: url(PIC/a30_icon5.gif);
	background-repeat: no-repeat;
	background-position: 15px 8px;
}
#a30Con #conList #tableList1 #icon6{
	background-color:#FCC;
	background-image: url(PIC/a30_icon6.gif);
	background-repeat: no-repeat;
	background-position: 15px 8px;
}
#a30Con #conList #tableList1 #icon7{
	background-image: url(PIC/a30_icon7.gif);
	background-repeat: no-repeat;
	background-position: 15px 8px;
}
#a30Con #conList #tableList1 #icon8{
	background-color:#FCC;
	background-image: url(PIC/a30_icon8.gif);
	background-repeat: no-repeat;
	background-position: 15px 8px;
}
#a30Con #conList #tableList1 #icon9{
	background-image: url(PIC/a30_icon9.gif);
	background-repeat: no-repeat;
	background-position: 15px 8px;
}

/*td*/
#a30Con #conList #tableList1 td{
	/*border-left: #fff 2px solid;*/
	padding-top:15px;
	padding-left:10px;
}

/*-------Blue td 藍底的-------*/
#a30Con #conList  #tableList1 .tdColorB{/*設最第一個的左邊界*/
	background-color:#FCC;
}
/*最後一行的設定*/
#a30Con #conList #innerTableBottom #tableList2{
	width:700px;
	margin-left:3px;
}

/*th*/
#a30Con #conList #innerTableBottom #tableList2 th{
	width:100px;
	height:48px;
	height /*\**/: 33px;/*IE8*/

	*height:33px;/*針對最後一行td的右border不突出邊界 th td都要一起設定高度免得互相拉扯*/
	padding-top:15px;
	padding-left:60px;
	background-image: url(PIC/a30_icon10.gif);
	background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a30Con #conList #innerTableBottom #tableList2 th{
	height:33px;
}
}

/*icons within "th" */
#a30Con #conList #tableList2 #icon10{background:url(a30_icon10.gif) 15px 8px no-repeat;}

/*td*/
#a30Con #conList #innerTableBottom #tableList2 td{
	height /*\**/: 33px\9;/*IE8*/
	*height:33px;/*針對最後一行td的右border不突出邊界 th td都要一起設定高度免得互相拉扯*/
	/*border-left: #fff 2px solid;*/
	padding-top:15px;
	padding-left:10px;
}

@media all and (-webkit-min-device-pixel-ratio:0){/*safari hack*/
#a30Con #conList #innerTableBottom #tableList2 td{
	height:33px;
}
}
/*==================================A30頁面table設定結束
========================================================================================*/

