﻿@charset "UTF-8";

    body > #wrap {
      background: #fff;
      overflow: hidden;
    }
    .center {
      width: 100%;
      max-width: 1200px;
      margin: 20px auto;
      margin-top: 40px;
      text-align: center;
      position: relative;
      z-index: 99;
    }
    .logo-inline {
        z-index: 8889;
        position: relative;
    }
    .swiper-wrapper {
        position: relative;
    }
    .swiper-container {
        width: 100%;
        max-width: 1920px;
        overflow: initial;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 8888;
        top:-32px;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .swiper-slide img { width: 100%;}
    .top-title { position: absolute; left:38%; top:35%; z-index: 99999;}
    .top-title h1 { font-size: 54px; line-height: 58px; font-weight: bold; color: #fff; text-align: right; text-shadow: 2px 1px #444;}
    .top-title h3 { font-size: 26px; font-weight: bold; color: #fff; text-align: right; text-shadow: 2px 1px #444;}
    .swiper-bottom { width:70%; /*width: 960px; background: rgba(0,0,0,0.8);*/  padding: 10px;position: relative; margin: 0 auto; margin-top: -7%; z-index: 99999;}
    .mail-click { width: 960px; margin: 0 auto; text-align: center;}

    input.edm-keyin { width: 400px; font-size: 100%; border-radius: 3px; height: 25px; border: 0px;}
    .mail-btn { height:37px; width: 100px; font-size: 100%; padding: 6px 12px; border: 0; border-radius: 3px; border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-left: -7px; background: #bf0000; color: #fff; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif; line-height: 26px;}
    .mail-btn:hover{ background: #ed1c3a;}
    .main-image { width: 100%; overflow: hidden;}
    .main-image img { max-width: initial; margin-left: -185px;}
    .mail-select { 
      width: 150px;
      padding: 6px;
      background:#fff; 
      position: relative;
      display: inline-block; 
      vertical-align: middle; 
      height: 25px; 
      margin-left: -7px; 
      text-align: left; 
      padding-right:15px; 
      border-left: 1px solid #ccc; 
      color: #999; cursor: pointer; 
      font-size: 14px; 
      font-size: 100%;
      line-height: 26px;}
    .mail-select:hover{ color: #666;}
    .select-list-block li{ width: 100%;}  
    .select-list-block li.active { color: #0ea146; }
    .select-list-block li span:hover{ color: #666;}
    .select-list-block li span.active { color: #0ea146; }
    .select-list-block {
      width: 160px;
      padding: 5px;
      display: none;
      margin: 0 auto;
      border: 1px solid #cdcdcd;
      background: #fff;
      text-align: left;
      /*position: absolute;
      top:37px;
      right: 0;*/
      /**/
    } 
    .select-list-block h1{
      text-align:center;
      font-size: x-large;
    }
    .select-list-block .grui-form h1.rd-smll{
      text-align:left;
      font-size:initial;
    }

    /* 活動EDM公版中的lightbox，用來填寫複雑表單，寬度需加寬 */
    .select-list-block.form-style{
       width:60%;
       max-width:800px;
    }
    @media screen and (max-width: 767px){
        .select-list-block.form-style{
          width:85%;
        }
    }
    /* 待移回masterpage.css by getter */
    .grui-form .bok-textarea:focus{
        border-color: rgba(191, 0, 0, 0.6);
        outline: 0;
    }

    .swiper-bottom-header{
      /*position: relative;*/
      width: 960px;
      background: #666;
      background: rgba(0,0,0,0.8);
      z-index: 9997;
    }

    .swiper-bottom-footer{
      width: 960px;
      margin:0 auto; 
      background: #999;
    }
    .swiper-bottom-footer .swiper-bottom{
      margin:20px auto 30px; 
      width: 100%;
    }

    
    .select-list-block li { 
      color:#999; 
      margin-left: 5px;
      font-size: 14px;
      line-height: 29px;
      cursor: pointer;
      float: left;
    }
    .select-list-block li span{display: block;}
  
    .select-list-block li.float-none { float: none;}
    .select-list-block li .button-full { 
      width: 100%;
    }
    .select-list-block li:after{
      content:''; display:block; clear:both; visibility:hidden; height:0;
    }
    .select-list-block p.b-done {
      cursor: pointer;
      background: #bf0000; 
      width: 60%;
      line-height: 30px;
      margin:0 auto 5px; 
      text-align: center;
      color: #fff;
      border-radius: 15px;
    }
    .select-list-block p.b-done:hover{
      background-color: #ed1c3a;
    }
    .select-list-block .b-cancel{
      color:#fff;
      font-size: 200%;
      background: #555;/**/
      cursor: pointer;
      width: 40px;
      height: 40px;
      line-height: 47px;
      text-align: center;
      /*border: 1px solid #fff;*/
      border-radius: 40px;/**/
      /*right: -20px;
      top: -20px;*/
      right: -5px;
      /*top: -34px;*/
      top: -10px;
      right: -10px;
      position: absolute;
      /*box-shadow: 0px 1px 1px #666;*/
    }
    .select-list-block .b-cancel:hover{
      color: #eee;
      /*background: #777;*/
    }
    .select-list-block .b-cancel i{ line-height: 38px;}

    .center h2 {
      font-size: 42px;
      line-height: 42px;
      color: #333;
      font-weight: bold;
      margin-top: 80px;
    }
    .center h4 {
      font-size: 18px;
      color: #333;
      margin-bottom: 15px;
    }
    .food-select {
      margin: 10px;
      margin: 10px auto;
    }
    .food-select .food-pic span i{
      background: rgba(255,255,255,0.3);
    }
    .food-select:after{
      content:''; display:block; clear:both; visibility:hidden; height:0;
    }

    .food-pic {
      width: 16%;
      height: auto;
      display: inline-block;
      position: relative;
      cursor: pointer;
      /*opacity: 0.8;*/
    }
    .food-pic span { display: block;}
    .food-pic:hover{
      opacity: 1;
    }
    .food-pic .food-text{
      position: absolute;
      text-align: center;
      width: 100%;  
      z-index: 10;
    }
    .food-pic .food-text p{
      color: #fff;
      padding: 3px 18px;
      display: inline-block;
      background: gray;
      text-align: center;
      border-radius:0 0 10px 10px;
    }
    
    .food-select .food-pic .food-text{
      /*bottom: 10px;
      top: 10px;*/
      /*text-align: left;*/
    }
    .deal-bottom .food-pic .food-text{
      text-align: center;
    }

    /**/
    .food-pic .food-text-center{
      margin-top: 45%;
    }
    .large .food-text-center{
      margin-top: 22%;
    }

    .food-pic .food-text-center h4{
      font-size: 200%;
      line-height: 30px;
      color: #fff;
      margin: 0;

      display: inline-block;
      border-bottom: 1px solid #fff;
      padding-bottom: 5px;
    }
    .food-pic .food-text-center p{
      margin: 0;
      padding: 0;
      background: none;

      display: block;
      padding-top: 5px;
    }

    .food_pic_01 .food-text p{ background: rgba(237,28,58,0.6);}
    .food_pic_02 .food-text p{ background: rgba(246,105,165,0.6);}
    .food_pic_03 .food-text p{ background: rgba(230,31,141,0.6);}    
    .food_pic_04 .food-text p{ background: rgba(254,196,76,0.6);}
    .food_pic_04 .food-text p{ background: rgba(255,102,0,0.6);}
    .food_pic_05 .food-text p{ background: rgba(159,212,6,0.6);}
    .food_pic_06 .food-text p{ background: rgba(36,198,253,0.6);}
    

    .food-pic img {
      max-width: none;
      width: 100%;
      height: auto;
      background: #000;
    }    
    .food-pic i {
      position: absolute;
      z-index: 10;
      bottom: 5px; /*bottom: -100px;*/
      right: 5px;
      color: #fff;
      color: rgba(0,0,0,0.5);/**/
      /*opacity: 0.6;*/
      width: 40px;
      height: 40px;
      /*background: #fff;*/
      background-color: rgba(255,255,255,0.3);
      border-radius: 40px;
      line-height: 44px;
    }
    .food-pic i.on{
      color:#0ea146;
      color: rgba(14,161,70,1);
    }
    .large i {bottom: 5px;}
    /*.food-pic p{
      position: absolute;
    }
    .food-pic .food_pic_01{
      width: 192px; 
      height: 265px;
      width: 100%;
      height: auto;
      background: url(https://www.17life.com/images/17P/17topbn/edm_2015/edm_01.jpg);
    }*/

    i.active {
      color: #0ea146;
      opacity: 1;
    }

    .deal-bottom {
      width: 960px;
      margin: 0 auto 10px;
    }
    .food-pic.large {
      width: 620px;
      height: 330px;
      overflow: hidden;
      margin: 5px;
    }
    .food-pic.medium {
      width: 305px;
      height: 330px;
      overflow: hidden;
      margin: 5px;
    }
    .swiper-container.mobile-pic { display: none;}
    
    /*訂閱EDM 跳窗選項*/
    .select-list-block{ width: 40%; max-width: 400px;}
    .select-list-block li{line-height: 40px;}
    
    .visible-sm,.visible-xs{display:none!important;}
    @media screen and (min-width: 1025px) and (max-width: 1110px) {
      .swiper-bottom-header{width:100%; }
      .gallery-thumbs { height: 9%;}
      .gallery-thumbs .swiper-wrapper { width: 90%;}
      .food-select { width: 100%; margin: 0;}
      .food-pic { width: 16%; margin: 0.1%; height: auto;}
      /*訂閱EDM 跳窗選項*/
      .select-list-block{ width: 50%;}
      .select-list-block li{line-height: 40px;}
    }
    @media screen and (min-width: 878px) and (max-width: 1024px) {
      .swiper-bottom-header{width:95%; }
      .swiper-bottom-footer{width:95%; }
      .swiper-container { top:0;}
      .swiper-top { top:0;}
      .mail-click { width: 100%;}
      input.edm-keyin { width: 50%;}
      .mail-select { width: 25%;}
      .select-list-block { width: 94%; padding: 3%}
      .mail-btn { width: 15%;}
      .center { margin-top: 20px;}
      .gallery-thumbs .swiper-wrapper { width: 90%;}
      .gallery-thumbs {  height: 12%;}
      .gallery-thumbs .swiper-slide {width: 15%;}
      .gallery-thumbs .swiper-slide p { font-size: 16px;}
      .food-select { width: 100%; margin: 0;}
      .food-pic { width: 16%; margin: 0.1%; height: auto;}
      .food-pic.large { width: 80%; height: auto;}
      .food-pic.medium { width: 39%; margin:1%;height: auto;}
      .food-pic img { max-width: none; width: 100%;}
      /*訂閱EDM 跳窗選項*/
      .select-list-block{ width: 50%;}
      .select-list-block li{line-height: 40px;}
    }
    @media screen and (min-width: 768px) and (max-width: 877px) {
      .swiper-bottom-header{width:95%; }
      .swiper-bottom-footer{width:95%; }
      .swiper-container { top:0;}
      .swiper-top { top:0;}
      .mail-click { width: 100%;}
      input.edm-keyin { width: 50%;}
      .mail-select { width: 25%;}
      .select-list-block { width: 94%; padding: 3%}
      .mail-btn { width: 15%;}
      .center { margin-top: 20px;}
      .gallery-thumbs .swiper-wrapper { width: 90%;}
      .gallery-thumbs {  height: 12%;}
      .gallery-thumbs .swiper-slide {width: 15%;}
      .gallery-thumbs .swiper-slide p { font-size: 16px;}
      .food-select { width: 100%; margin: 0;}
      .food-pic { width: 30%; margin: 0.1%; height: auto;}
      .food-pic.large { width: 80%; height: auto;}
      .food-pic.medium { width: 39%; margin:1%;height: auto;}
      .food-pic img { max-width: none; width: 100%;}
      .food-select .food-pic span i{background: rgba(255,255,255,0.8);}
      /*訂閱EDM 跳窗選項*/
      .select-list-block{ width: 60%;}
      .select-list-block li{line-height: 50px;}
    }
    @media screen and (min-width: 481px) and (max-width: 767px) {
      .center h2 {margin-top: 20px;}
      .swiper-container { top:0;}
      .swiper-top { top:0;}
      .swiper-bottom { margin-top:-12%; width: 90%;}
      .swiper-bottom-footer{width:90%; }
      .swiper-bottom-footer .swiper-bottom{ width: 90%;}
      .top-title { top: 15%; left:0; right: 8%;}
      .top-title h3 { font-size: 20px; line-height: 26px;}
      .top-title h1 { font-size: 36px; line-height: 40px;}
      .mail-click { width: 100%;}
      input.edm-keyin { width: 50%;}
      .mail-select { width: 25%;}
      .select-list-block { width: 94%; padding: 3%}
      .mail-btn { width: 15%; padding: 0;}
      .center { margin-top: 20px; background: #fff; padding-top: 25px;}
      .gallery-thumbs .swiper-wrapper { width: 95%;}
      .gallery-thumbs {  height: 12%;}
      .gallery-thumbs .swiper-slide {width: 15%;}
      .gallery-thumbs .swiper-slide p { font-size: 16px;}
      .food-select { width: 100%; margin: 0;}
      .food-pic { width: 30%; margin: 0.1%; height: auto;}
      .food-pic.large { width: 80%; height: auto;}
      .food-pic.medium { width: 39%; margin:1%;height: auto;}
      .food-pic img { max-width: none; width: 100%;}
      /*訂閱EDM 跳窗選項*/
      .select-list-block{ width: 60%;}
      .select-list-block li{line-height: 50px;}
      .select-list-block .mc-content{padding:5px;}
      .visible-sm{display:block!important;}
    }
    @media screen and (max-width: 480px) {
      
      .swiper-bottom-header{ background: none; }
      .swiper-bottom-footer{width:90%; background: none;}
      input.edm-keyin{ text-align: left;}

      .center h2 {margin-top: 20px;}

      .swiper-container { top:15px;}
      .swiper-top { top:0;}
      .swiper-bottom { 
        margin-top:5%; 
        padding: 0;
        width: 90%; 
        position: initial; 
        /*border: 1px solid #999;*/
        border-radius: 3px;
      }
      .swiper-container.web-pic { display: none;}
      .swiper-container.mobile-pic { display: block;}
      .top-title { width: 100%; top:30%; left:auto;}
      .top-title h3 { font-size: 20px; line-height: 26px; text-align: center;}
      .top-title h1 { font-size: 38px; line-height: 42px; text-align: center;}
      .center h2 { font-size: 28px; line-height: 28px;}
      .center h4 { font-size: 14px; line-height: 16px; margin-bottom: 5px;}
      .swiper-bottom { margin-bottom: 5%;}
      .mail-click { width: 100%;}
      input.edm-keyin { /*width: 45%;*/ width: 95%; border: 1px solid #999; margin-bottom: 5px; border-radius: 0; float: left;}
      .mail-select { /*width: 25%;*/ width: 50%; border: 1px solid #999; height: 42px; line-height: 42px; padding: 0 0 0 6px; margin-left: 0; float: left;}
      .select-list-block { width: 94%; padding: 3%}
      .mail-btn { /*width: 20%;*/ padding: 0; float: right; width: 45%; height: 44px; line-height: 44px; border-radius: 0; -webkit-appearance: none;}
      .center { margin-top: 0; background: #fff; padding-top: 15px;}
      .gallery-thumbs .swiper-wrapper { width: 95%;}
      .gallery-thumbs {  height: 12%;}
      .gallery-thumbs .swiper-slide {width: 15%;}
      .gallery-thumbs .swiper-slide p { font-size: 16px;}
      .food-select { width: 100%; margin: 0 auto 40px;}
      .food-pic { width: 45%; height: auto;}
      .food-pic.large { width: 90%; height: auto;}
      .food-pic.medium { width: 45%; margin:0%;height: auto;}
      .food-pic img { max-width: none; width: 100%;}
      .fa-3x { font-size: 2em;}
            /**/
      .food-pic .food-text-center{
        margin-top: 30%;
      }
      .large .food-text-center{
        margin-top: 15%;
      }
      /*訂閱EDM 跳窗選項*/
      .select-list-block{ width: 60%;}
      .select-list-block li{line-height: 44px; font-size: 120%;}
      /*.rwd_none{display: none;}*/
      .p3footer{clear: both;}
      .select-list-block .mc-content{padding:5px;}
      .visible-sm{display:block!important;}
    }
