﻿@charset "utf-8";
/* CSS Document */

.ReturnApplicationForm {
	height: auto;
	width: 750px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #333;
    font-family:"Microsoft YaHei";
}
.ReAppFoTop {
	width: 740px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	font-size: 16px;
	color: #FFF;
	background-color: #888686;
	
	text-align: center;
	font-weight: bold;
}
.ReAppFoInfo {
	height: auto;
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}
.ReAppFoContent1 {
	width: 725px;
	margin-right: auto;
	margin-left: auto;
	
	font-size: 15px;
	color: #000;
	line-height: 25px;
}
.ReAppFoTittle {
	
	font-size: 17px;
	font-weight: bold;
	color: #000;
	line-height: 30px;
	height: 30px;
	width: 720px;
	margin-right: auto;
	margin-left: auto;
}
.ReAppFoSecondTi {
	
	font-size: 16px;
	color: #000;
	letter-spacing: 0.1em;
	line-height: 24px;
	width: 720px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}
.ReAppFo{
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-size: 14px;
	padding-bottom: 5px;
}
.ReAppFoText{
	line-height:20px;
	font-weight:bold;
	font-size:14px;
	color: #FFF;
	background-color: #888686;
	margin-left: 3px;
}
.ReAppFo ul{
	margin-top: 0px;
	margin-bottom: 10px;
	padding-left: 0px;
	margin-left: 0px;
}
.ReAppFo li{
	list-style-position: outside;
	margin-top: 3px;
	line-height: 18px;
	list-style-type: none;
	margin-bottom: 7px;
	width: 700px;
}
.ReAppFoTwoTable {
	width: 720px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	font-size: 14px;
	border: 1px solid #333;
	line-height: 21px;
}
.ReAppFoTwoTable td{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: dotted;
	border-bottom-style: solid;
	border-right-color: #666;
	border-bottom-color: #999;
}
.ReAppFoTwoTable2 {
	width: 670px;
	margin-right: auto;
	margin-top: 12px;
	margin-bottom: 15px;
	font-size: 15px;
	margin-left: auto;
}
.SignatureTeMark{
	font-family:"微軟正黑體";
	font-size:28px;
	color:#FFF;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}
.ReAppFoContent2 {
	width: 725px;
	margin-right: auto;
	margin-left: auto;
	
	font-size: 15px;
	color: #000;
	line-height: 25px;
	height: 190px;
}
.ReAppFoContent2 ul{
	list-style-type: none;
	margin-left: -3px;
	margin-top: 7px;
}
.ReAppFoContent2 li{
	list-style-type: none;
	line-height: 27px;
}
.ReAppFoContent3 {
	width: 725px;
	margin-left: auto;
	
	font-size: 15px;
	color: #000;
	line-height: 25px;
	margin-right: auto;
}
.ReAppFoCont3Table{
	width: 725px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 8px;
	font-size: 13px;
	color: #000;
	
	line-height: 20px;
}
.ReAppFoCont3Table1_1{
	width: 360px;
	margin-left: 9px;
	border: 1px solid #000;
	line-height: 21px;
}
.ReAppFoCont3Table1_1 td{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: dotted;
	border-top-color: #000;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #666;
}
.ReAppFoCont3Table1_2{
	width: 705px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3px;
	border: 1px solid #000;
}
.ReAppFoCont3Table1_2 td{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: dotted;
	border-top-color: #000;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #666;
	text-align: center;
}
.ReAppFoCont3Table1_3{
	width: 750px;
}
.ReAppFoText1{
	margin-left:10px;
	font-size:13px;
	
	color: #506A00;
	line-height: 19px;
}
.ReAppFoSitBlockOut {
	width: 711px;
	margin-right: auto;
	margin-left: auto;
	border: 6px solid #888686;
	margin-top: 5px;
	height: 70px;
}
.ReAppFoSitBlockTable {
	width: 707px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px solid #000;
	height: 66px;
}
.ReAppFoFooterTable {
	margin-top: 5px;
	text-align: center;
	
	font-size: 13px;
	color: #000;
	line-height: 18px;
	width: 725px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
	/*border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666;*/
}
.ReAppFoFooterTeMark{
	font-family:"微軟正黑體";
	font-size:13px;
	color:#000;
	line-height: 18px;
	margin-bottom: 10px;
	width: 720px;
	margin-right: auto;
	margin-left: auto;
}
.ReAppFoInvoice{
	width:725px;
	padding-bottom: 5px;
}
/*---斷行---*/
.ReAppFpOffLine {
	margin-right: auto;
	margin-left: auto;
	/*page-break-after: always;*/ /*---斷行---*/
	width: 725px;
	margin-bottom: 10px;
}/*---斷行---*/
.ReAppNumber {
	
	font-size: 15px;
	color: #FFF;
	text-align: center;
	height: auto;
	margin-bottom: 3px;
}
.ReAppBarcode {
	padding-bottom: 5px;
}
.ReturnForm {
	width: 725px;
	margin-right: auto;
	margin-left: auto;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #333;
}
.ReturnFormTable {
	width: 720px;
	margin-bottom: 4px;
	
	font-size: 16px;
	color: #000;
	text-align: center;
	line-height: 25px;
	border: 1px solid #333;
	margin-right: auto;
	margin-left: auto;
}
.ReturnFormTable td{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: dotted;
	border-bottom-style: solid;
	border-right-color: #666;
	border-bottom-color: #999;
	padding-top: 5px;
	padding-bottom: 5px;
}
.ReturnFormRedText {
	
	font-size: 13px;
	width: 720px;
	color: #F00;
	margin-bottom: 8px;
	line-height: 16px;
	margin-right: auto;
	margin-left: auto;
}
.ReturnFormAddress {
	
	font-size: 15px;
	font-weight: bold;
	color: #333;
	width: 720px;
	line-height: 21px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
}

.ReturnFormAlertWord {
    font-size: 15px;
	font-weight: bold;
	color: red;
    background-color:yellow;
}
