/*For all component CSS -temp-*/
.full_block { 
	width:960px; margin:20px auto; font-family: Arial, sans-serif, "微軟正黑體", "Microsoft JhengHei"; font-size:13px; color:#333; 
}
.full_block .bg {
	border: 1px solid #CDCDCD;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); 
	width:960px;
	background-image: url(../images/faq-bg.jpg);
	background-repeat: repeat-y;
}

/*Service CSS*/
.service {}
.service h1 { font-size:20px; line-height:40px; }
.service .titlebg { color:#bf0000; font-size: 21px; border-bottom: 1px solid #e4e4e4;line-height: 45px;}
.service .form .titlebg a{ display: none; }
.service a { color:#1B92EE; }
.service .tac { text-align:center; }
.service .ls1 { letter-spacing:-1px; }
.service .boldfont { font-weight:bold; }
.service .form { width:670px; float: left; padding: 50px 31px 10px 31px;}
.service .form hr { width:95%; background:none; border-bottom:1px dashed #EEE; }
.service .form .col30 { width:30%; height:34px; float:left; }
.service .form .col50 {	width:591px;height:50px;float: left;line-height: 50px;}
.service .form .col60 {	width:590px;height:100px;float: left;}
.service .form .col100 { width:100%; height:34px; float:left; padding-top: 15px;}
.service .form .col200 {height:30px;float:left;width: 20%;line-height: 50px;}
.service .form .col300 {height:50px;float:left;width: 657px;line-height: 50px;}
.service .form .col100nh { width: 100%; float:left; margin-bottom:10px; }
.service .form .col100nhm { width:657px; float:left; }
.service .form .asktravel { width:152px; height:40px; border:none; background:url(../images/Service_button.png); }
.service .form .asktravel:hover { background:url(../images/Service_button.png) 0 -50px; }
.service .form .askppon { width:152px; height:40px; border:none; background:url(../images/Service_button.png) 155px 0; }
.service .form .askppon:hover { background:url(../images/Service_button.png) 155px -50px; }
.service input {width:243px;height:23px;margin-top: 12px;}
.service select {width:245px;height:26px;margin-top: 12px;}
.service .error_msg {color: #F00;padding-left: 12px;text-align: center;}
.service .aside {
	width: 225px;
	height: 1000px;
	float: right;
	background: url(../images/FAQ-title.jpg) no-repeat left top;
	background-color: #e6e5e0;
}
.service .aside ul { 
	margin-top: 5px;
	margin-bottom: 10px; 
	width: 100%; 
	height: auto;
	border-top: 1px solid #e4e4e4;	
}
.service .aside li { 
	border-bottom: 1px solid #e4e4e4;
	line-height: 24px;
	padding: 8px 11px 8px 20px;
    font-size: 14px;
    list-style-position: inside;
    cursor: pointer;
}
.service .aside li:hover{ 
	background: #fff;
    list-style-position: inside;
}
.service .aside li.on{ 
	background: #fff;
    list-style-position: inside;
}
.service .aside li a { color: #00F; }
.service .aside .cr { border-bottom: none; }
.service .aside .cr .faqIcon1{border-bottom: none;background: url(../images/CustomerService_icon.png) no-repeat; width: 48px;height: 45px;float: left;}
.service .aside .cr .faqIcon2{border-bottom: none;width: 48px;height: 45px;float: left;background: url(../images/CustomerService_icon.png) no-repeat -43px 0px;}
.service .fq-inlbox{ 
	width: auto;
    margin: 165px auto 0 auto;
}
.service  .qtitle{
	width: auto;
    margin: 0 15px ;
    padding-bottom: 5px;
    border-bottom: 1px #b3b2b2 dashed;
    cursor: pointer;
}
.service .form .table {width:635px;height:34px;float:left;border-top-width:1px;border-top-style:dashed;border-top-color:#CCC;	margin-top:10px;padding-top: 8px;}
.service .form .bn {
	width:110px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	height: 33px;
	background-image: url(../images/CustomerService_bn.png);
	background-repeat: no-repeat;
	border:none;
}
.service .form .bn_serch{
	background-image: url(../images/CustomerService_Search_bn.png);
}
.service .captcha_area a { height:30px; float:left; padding:10px; line-height:30px; }
.service .captcha_img { width:135px; margin:9px; height:30px; float:left; border:1px solid #AAA; }
.fq-mailbox{ 
	width: auto;
    margin: 10px 15px;
}
.fq-mailinf{
	background: #fff; 
	line-height: 33px;
	width: 195px;
    padding: 2px 0 7px 0;
    margin: 10px auto;
    text-align: center;
}
.etitle{ 
    width: auto;
    margin: 0 15px;
    position: relative;
    border-bottom: 1px #b3b2b2 dashed;
    padding-bottom: 5px;
    cursor: pointer;
}
.etitle:hover, .qtitle:hover{ 
	background: #f4f4f3;
}
.fq-r-text, .fq-r-maltext{
	width: 170px;
	font-size: 12px; 
	text-align: left; 
	display: inline-block; 
	line-height: 17px;
	margin: 5px auto;
	padding-top: 7px;
}
.fq-r-maltext{ 
	margin-top: 15px;
	border-top: 1px dashed #B3B2B2;
	padding-top: 10px;
}
.fq-r-text img{ width: 22px; margin: 0 2px -1px 0;}
.linetop{ border-top: 1px dashed #B3B2B2; margin-top: }
.col100ser-textarea { width: 100%; height:150px; margin-top:5px; }

.Support_center {
margin: 20px auto;
font-size: 13px;
color: #333;
border: 1px solid #CDCDCD;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
width: 900px;
background-color: #FFF;
background-repeat: repeat-y;
padding: 10px 30px;
display:none;
}

.Support_center .titlebg {
color: #bf0000;
font-size: 21px;
border-bottom: 1px solid #e4e4e4;
line-height: 45px; }

.fq-r-tel{
	width: 260px;
	font-size: 15px; 
	text-align: left; 
	display: inline-block; 
	line-height: 26px;
	margin: 5px auto;
}

.fq-r-tel img {
    width: 22px;
    margin: 0 2px -1px 0;  
}

/* 20150224 未登入系統 */
.service_detail .form {padding: 20px 31px 10px 31px} 
.service_detail h2 .step-num-dot { width: 25px; height: 25px; float: left; margin-right: 10px; text-align: center; color:#FFF; border-radius: 15px; background: #333; }
.service_detail .grui-form .form-unit .data-input { margin-left:0; }
.service_detail .grui-form .form-unit{ border: none;}
.service_detail .grui-form{ padding-top: 0px;}
.service_detail .grui-form .form-unit .data-input input[type="radio"]{ margin-top:5px;  }
.service_detail .btn-fordetail, .service .btn-fordetail{ width: 25%; height: 28px; margin: 0; padding: 4px; }


/* 20170502 客服系統CRM */
.bg_service_gustomer{
	background: #fff;
	border: 1px solid #CDCDCD;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
}
.bg_service_gustomer .service {
	padding-right: 30px;
}
.bg_service_gustomer .service .form{
	width: 100%;
	max-width: 800px;
}
.service .form ul.service_menu{
	height: 50px;
	margin: 20px 0 20px 0;
}
.service .form ul.service_menu li{
	float: left;
}
.service .form ul.service_menu li.ui-tabs-active a{
	color: #1B92EE;
	border-color: #1B92EE;
}
.service .form ul.service_menu li a{
	width: 100px;
	height: 40px;
	display: block;
	text-align: center;
	color: #999;
	line-height: 40px;
	text-decoration: none;
	border: 1px solid #999;
	border-radius: 5px;
	margin-right: 10px;
}
.service .form ul.service_menu li a:hover{
	color: #1B92EE;
}
.service .form .service_history p.nodata{font-size: 18px;}
.service .form .service_history p>a.link_underline{text-decoration: underline;}

/* 線上詢問列表:一般tab */
.service .form .service_history ul.normal_question{
	margin:20px 0 20px 0; 
}
.service .form .service_history ul.normal_question li {
	position: relative;
}
.service .form .service_history ul.normal_question li a{	
	box-shadow: 0px 0px 3px #ccc;
	display: block;
	height: 58px;
	width: 100%;
	margin-bottom:20px; 
	border: 1px solid #e2e2e2;
}
.service .form .service_history ul.normal_question li a:hover{
	border-color:#999 ;
}
.service .form .service_history ul.normal_question li a p.category{	
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 18px;
	color: #333;
}
.service .form .service_history ul.normal_question li a p.time{	
	position: absolute;
	left: 10px;
	top: 34px;
	font-size: 12px;
	color: #999;
}
.service .form .service_history ul.normal_question li a p.already{
	position: absolute;
	right: 40px;
	top: 18px;
	font-size: 12px;
	/*background: #ffeded;*/
	color: #bf0000;
	padding: 2px 8px;
	border-radius: 5px;
}
.service .form .service_history ul.normal_question li a i{
	position: absolute;
	right: 10px;
	top: 22px;
	color: #999;
}

/* 線上詢問列表:訂單tab */
.service .form .service_history ul.order_question{
	margin:20px 0 20px 0; 
}
.service .form .service_history ul.order_question li {
	position: relative;
}
.service .form .service_history ul.order_question li a{	
	box-shadow: 0px 0px 3px #ccc;
	display: block;
	height: 100px;
	width: 100%;
	margin-bottom:20px; 
	border: 1px solid #e2e2e2;
}
.service .form .service_history ul.order_question li a:hover{
	border-color: #999;
}
.service .form .service_history ul.order_question li a .deal_img{	
	position: absolute;
	width: 80px;
	left: 10px;
	top: 10px;
	font-size: 18px;
	color: #333;
}
.service .form .service_history ul.order_question li a p.deal_name{	
	position: absolute;
	left: 100px;
	top: 8px;
	font-size: 18px;
	color: #333;
	height: 22px;
	overflow: hidden;
}
.service .form .service_history ul.order_question li a p.number{	
	position: absolute;
	left: 100px;
	top: 33px;
	font-size: 12px;
	color: #999;
}
.service .form .service_history ul.order_question li a p.time{	
	position: absolute;
	left: 100px;
	top: 50px;
	font-size: 12px;
	color: #999;
}
.service .form .service_history ul.order_question li a p.already{	
	position: absolute;
	left: 100px;
	top: 70px;
	font-size: 12px;
	color: #999;	
	background: #ffeded;
	color: #bf0000;
	padding: 2px 8px;
	border-radius: 5px;
}
.service .form .service_history ul.order_question li a i{	
	position: absolute;
	right: 10px;
	top: 40px;
	color: #999;
}

/* 線上詢問 */
.service .form .btn_back{
	float: right;
	text-decoration: underline;
	font-size: 14px;
}
.service .form p.large_text{
	font-size: 140%;
	display: inline-block;
	margin: 10px 0 10px 0;
}
.service .form .article .article_text{
	border-bottom: 1px solid #ddd;
}
.service .form .article .article_text .text{
	margin-bottom: 10px; 
}
.service .form .article .article_text .text i{
	display: inline-block;
	float: left;
	background: #fff;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 20px;
	border: 1px solid #eee;
	font-size: 12px;
}
.service .form .article .article_text .text p{
	padding-left: 30px;
}

.service .form .article .article_question{
	padding: 10px 10px 10px 10px;
	background: #eee;
}
.service .form .article .article_question img{
    max-width: 80%; /*固定寬度內，小圖原尺寸顯示，大圖等比縮顯示*/
	padding-left:30px; 
}


.service .form .article  .article_reply{
	padding: 10px 10px 10px 40px;
}

.service .form .article .title{
	color: #999;
	position: relative;
	margin-bottom: 10px;
}
.service .form .article .title .float_r{
	float: right;
}
.service .form .article p.normal_text{
	font-size: 140%;
	color: #666;
    word-break: break-all;
}

.service .form .upload{
	background: #ffeded;
	height: 20px;
	color: #333;		
	border-radius:5px; 
	padding: 4px 10px;
	margin:10px 0 0 0; 
	float: right;
	cursor: pointer;
	line-height: 20px;
	color: #1B92EE;
}
.service .form .upload i{
	font-size: 10px;
}
.service .form .upload:hover{
	background: #FCD3D3;	
}

.service .form .upload_img_wrap{
	width: 100%;
	max-width: 200px;
	min-height: 120px;
	height: auto;
	padding: 10px;
	background: url('https://www.17life.com/images/17P/active/service/loading.gif') no-repeat;
	text-align: center;
	box-shadow: 1px 1px 3px #999;
	position: relative;
	margin: 10px 0 30px 0;
}
.service .form .upload_img_wrap .img_cover{
	position: absolute;
	background: rgba(0,0,0,0.7);
	color: #fff;
	width: 200px;
	height: 80px;
	top: 50px;
	font-size: 38px;
	line-height: 80px;
}
.service .form .upload_img_wrap  a i{
	background: #fff;
	color: #999;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 30px;
	box-shadow: 0 0 5px #666;
	position: absolute;
	right: 5px;
	top: 5px;
}
.service .form .upload_img_wrap  a i:hover{
	color: #1B92EE;
}

/*跳窗*/
.contact_info_wrap{
	background: #fff;
	width: 80%;
	max-width: 600px;
	padding: 20px;
}
.contact_info_wrap .b-close{
	position: absolute;
	top: -13px;
	right: -13px;
	width: 27px;
	height: 22px;
	padding-top: 5px;
	border-radius: 30px;
	text-align: center;
	color: #999;
	background: #fff;
	cursor: pointer;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5); 
}
/*請填寫聯絡資料*/
.contact_info_wrap .info_wrap{
	padding-bottom: 30px;
	border-bottom: 1px dashed #999;

}
.contact_info_wrap .info_title{
	font-size: 16px;
	color: #999;
	margin-top: 20px;
}
.contact_info_wrap .info_title span.info_red{
	color: #bf0000;
}
.contact_info_wrap .info_title span.error_msg{
	font-size: 12px;
}
.contact_info_wrap .info_input{
	height: 36px;
	line-height: 36px;
}

.contact_info_wrap .info_input input[type="text"]{
	height: 36px;
	line-height: 36px;
	font-size: 18px;
}

/*請選擇問題類別*/
.contact_info_wrap ul li{
	color: #666;
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 44px;
	border-bottom: 1px solid #eee;
}
.contact_info_wrap ul li input[type=radio]{
	position: absolute;
	visibility: hidden;
}
.contact_info_wrap ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1em;
  padding: 0px 10px 10px 30px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
}
.contact_info_wrap ul li:hover label{
}

.contact_info_wrap ul li .check{
 	display: block;
 	position: absolute;
 	border: 2px solid #AAAAAA;
 	border-radius: 100%;
 	height: 12px;
 	width: 12px;
 	top: 12px;
 	left: 10px;
	z-index: 5;
}

.contact_info_wrap ul li:hover .check {
}
.contact_info_wrap ul li .check::before {
	display: block;
 	position: absolute;
	content: '';
 	border-radius: 100%;
 	height: 6px;
 	width: 6px;
 	top: 3px;
	left: 3px;
 	margin: auto;
}

.contact_info_wrap input[type=radio]:checked ~ .check {
  border: 2px solid #1B92EE;
}

.contact_info_wrap input[type=radio]:checked ~ .check::before{
  background: #1B92EE;
}

.contact_info_wrap input[type=radio]:checked ~ label{
  color: #1B92EE;
}

/* 宣告記錄頁面 */
.recording-service-word{
	background:#8398AA;
	 padding: 10px 10px 10px 10px; 
	 color:#ffffff;

}
/* 成功頁面 */
.thank-title-word{
	border-bottom: 1px solid #e4e4e4; 
	padding-bottom:10px;	
}

.thank-content-word{
	padding: 20px;
	font-size: 14px;
}
.thank-content-word2{
	text-align:right;
}

/* 線上尋問列表記錄小字 */
.gustomer_recording{
	width:69%; 
	height: 40px;
	position: absolute; 
	right:67px;
	top:10px; 
	font-size:14px; 
	color:#999;
	overflow: hidden; 
	
}
@media screen and (min-width: 636px) and (max-width:767px){
	.gustomer_recording{
		width:64%; 
		height: 40px;
		position: absolute; 
		right:70px;
		top:10px; 
		font-size:14px; 
		color:#999;
		overflow: hidden; 
		
	}

}
@media screen and (min-width: 320px) and (max-width:635px){
	.gustomer_recording{
		width:38%; 
		height: 40px;
		position: absolute; 
		right:70px;
		top:10px; 
		font-size:14px; 
		color:#999;
		overflow: hidden; 
		
	}

}

