.main { width:480px; min-height:800px; margin:25px auto; box-shadow:0px 2px 4px rgba(0%, 0%, 0%, .75); color:#333; font-family:Arial, "微軟正黑體", sans-serif; }
.main .title { width:100%; height:60px; text-align:center; font-size:24px; line-height:60px; color:#FFF; background:url(../Images/cu_titlebar_bg.png) repeat-x; }
.main .shop_name { width:440px; height:30px; margin:20px 20px 5px 20px; font-size:20px; line-height:30px; color:#333; }
.main .focus_count, .main .avg_consumption { width:440px; height:30px; margin:20px; font-size:18px; line-height:30px; color:#666; }
.main .avg_consumption { width:440px; height:30px; margin:0 20px; font-size:18px; line-height:30px; color:#666; }
.main .Multi_shop_info { width:300px; margin:0 5px; font-size:14px; color:#666; }
.main .short { width:300px; font-size:16px; margin:5px; }
.main .coupon_box { width:440px; height:auto; margin:20px; position:relative; border-radius:10px; background:#FCF9F3; box-shadow:0px 1px 2px rgba(0%, 0%, 0%, .75); }
.main .coupon_box .coupon_tag { width:20px; position:absolute; top:0; bottom:0; left:0; border-radius:10px 0 0 10px; background:#F5EEDF; border-right:1px solid #CCC; color:#BF0000; padding:10px 5px; }
.main .coupon_box .coupon_content { width:390px; height:auto; margin-left:40px; padding:10px 5px; }
.main .coupon_box .coupon_content h1 { font-size:20px; font-weight:normal; color:#BF0000; margin:5px 0; }
.main .coupon_box .coupon_content h2 { font-size:18px; font-weight:normal; margin:5px 0; }
.main .coupon_box .coupon_content hr { border:none; border-top:1px solid #CCC; }
.main .coupon_box .coupon_content p { font-size:14px; }
.main .coupon_box .coupon_logo { width:100px; height:43px; position:absolute; right:5px; bottom:5px; background:url(../Images/17Life_bw.png) no-repeat; }
.main .use_state { width:440px; height:auto; margin:20px; padding:20px 0; text-align:center; border-top:1px solid #CCC; border-bottom:1px solid #CCC; }
.main .button { width:400px; height:50px; margin:10px auto; border-radius:5px; box-shadow:0px 1px 2px rgba(0%, 0%, 0%, .50); font-size:20px; line-height:50px; color:#FFF; }
.main .button_2 { width:400px; height:40px; margin:10px auto; border-radius:5px; box-shadow:0px 1px 2px rgba(0%, 0%, 0%, .50); font-size:18px; line-height:40px; color:#333; }
.main .red_note { font-size:18px; color:#BF0000; line-height:25px; }
.main .red_note .pass_img { width:30px; height:25px; background:url(../Images/cu_pass.png) no-repeat; display:inline-block; }
.main .function_area { width:440px; height:auto; margin:20px; padding:10px 0; 0; text-align:center; }
.main .function_area .function_box { width:400px; height:auto; margin:20px auto; border-radius:5px; box-shadow:0px 1px 2px rgba(0%, 0%, 0%, .50); font-size:18px; text-align:center; color:#333; }
.main .function_area .function_box .function { width:90px; margin:10px; display:inline-block; text-align:center; font-size:14px; line-height:20px; }
.main .intro_bar { width:100%; height:60px; text-align:center; font-size:24px; line-height:60px; color:#FFF; background:url(../Images/function_bar.jpg) repeat-x; }
.main .shop_info { width:440px; height:auto; margin:20px; padding:0; border:1px solid #666; border-radius:5px; background:#F7F7F0; }
.main .shop_info .info_bar { width:420px; height:40px; padding:0 10px; font-size:18px; color:#666; border-bottom:1px solid #666; }
.main .shop_info .info_bar .content { width:360px; line-height:40px; float:left; padding:0; }
.main .shop_info .info_bar .button_arrow { width:20px; height:40px; float:right; background:url(../Images/item_arrow.png) 0 10px no-repeat; }
.main .shop_info .content { width:420px; height:auto; padding:20px 10px; font-size:18px; color:#666; }
.main .Multi_shop_box { width:460px; height:80px; padding:10px; border-bottom:1px solid #999;  box-shadow:0px 1px 2px rgba(0%, 0%, 0%, .15); }
.main .Multi_shop_info_left { width:300px; float:left; text-align:left; }
.main .Multi_shop_info_right { width:120px; float:right; text-align:right; }
.main .Multi_shop_info_right .kilometer { margin-top:55px; font-size:14px; color:#BF0000; display:inline-block; }
.main .Multi_shop_info_right .button_right_arrow { width:40px; height:40px; margin:20px 0; display:inline-block; background:url(../Images/right_arrow.png) no-repeat; }
.clear { clear:both; }
.BTNL_red { background:#BF0000; }
.BTNL_red:hover { background:#FF0000; }
.BT_gray { background:#EEE; border:1px solid #CCC; }