﻿@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* [disabled]border: 0; */
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;*/
}
strong { margin: 0; padding: 0; border: 0; font-size: 100%; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	font: 12px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS reset*/

p {
	font: 13px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
p a {
	color: #444;
	text-decoration: none;
}
a {
	text-decoration: none;
	border: none;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	border: none;
}

/*css reset end*/
/*font style*/
.font-20 { font-size: 20px;}
.font-16 { font-size: 16px;}
.font-18 { font-size: 18px;}
.font-14 { font-size: 14px;}
.white-color { color: #fff;}
.black-color { color: #444;}
.blue-color { color: #0946ac;}
.red-color { color: #ed1c3a;}
.yellow-color { color: #fffB00;}
.font-bold { font-weight: bold;}
.align-center { text-align: center;}
h2 {
	font: 14px/20px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	color: #ed1c3a;
	font-weight: bold;
}
hr {
	border: 0;
  	color: #cdcdcd;
  	background-color: #cdcdcd;
  	height: 1px;
}
/*font style end*/
.ipeen-topbg {
	width: 100%;
	background: #c7242c;
}
.ipeen-top {
	width: 960px;
	height: 638px;
	margin: 0 auto;
	background: url(ipeen-top.jpg);
}
.m-ipeen-top {
	width: 95%;
	margin: 0 auto;
}
.ipeen-center {
	width: 100%;
	padding-top: 0;
	position: relative;
	background: #f0f0f2;
}
.ipeen-content {
	width: 960px;
	margin: 0 auto 10px auto;
	padding: 10px 5px;
	background: #f0f0f2;
}
.ipeen-rightbar {
	width: 121px;
	height: 200px;
	margin-right: auto;
	position: fixed;
	right: 15px;
	top: 20px;
}
.button-block {
	width: 100%;
	height: auto;
	margin: 5px 0 15px 0;
	text-align: center;
}
.button-block a{ 
	display: inline-block;
	width: 31%;
	margin: 0 1%;
}
.button-store, .button-clerk, .button-coupon, .button-detail, .button-account  {
	width: 100%;
	height: 80px;
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	border-bottom-color: #bcbcbc;
	display: inline-block;
	box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15);
}
.button-store:hover { background: #ed1c3a;}
.button-store:hover > .icon-heart:before { color: #fff;}
.button-store:hover >  .button-text p { color: #fff;}
.button-store.active { background: #ed1c3a;}
.button-store.active > .icon-heart:before { color: #fff;}
.button-store.active >  .button-text p { color: #fff;}

.button-clerk:hover { background: #f23082;}
.button-clerk:hover > .icon-user:before { color: #fff;}
.button-clerk:hover >  .button-text p { color: #fff;}
.button-clerk.active { background: #f23082;}
.button-clerk.active > .icon-user:before { color: #fff;}
.button-clerk.active >  .button-text p { color: #fff;}

.button-coupon:hover { background: #f5931b;}
.button-coupon:hover > .icon-tag:before { color: #fff;}
.button-coupon:hover >  .button-text p { color: #fff;}
.button-coupon.active { background: #f5931b;}
.button-coupon.active > .icon-tag:before { color: #fff;}
.button-coupon.active >  .button-text p { color: #fff;}

.button-detail:hover { background: #72c703;}
.button-detail:hover > .icon-file:before { color: #fff;}
.button-detail:hover >  .button-text p { color: #fff;}
.button-detail.active { background: #72c703;}
.button-detail.active > .icon-file:before { color: #fff;}
.button-detail.active >  .button-text p { color: #fff;}

.button-account:hover { background: #1ab4e8;}
.button-account:hover > .icon-pacman:before { color: #fff;}
.button-account:hover >  .button-text p { color: #fff;}
.button-account.active { background: #1ab4e8;}
.button-account.active > .icon-pacman:before { color: #fff;}
.button-account.active >  .button-text p { color: #fff;}


.button-store .icon-heart, .button-clerk .icon-user, .button-coupon .icon-tag, .button-detail .icon-file, .button-account .icon-pacman {
	display: inline-block;
}
.button-text { display: inline-block; text-align: left;}
.warning-block {
	width: 98%;
	margin: 5px auto;
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	border-bottom-color: #bcbcbc;
	box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15);
	text-align: center;
	padding: 9px;
}
.warning-block p { display: inline-block; vertical-align: middle; line-height: 32px;}

/*.finger-click {
	width: 100px;
	display: inline-block;
	background: #0946ac;
	border: 1px solid #0946ac;
	border-radius: 5px;
	vertical-align: middle;
}*/
.finger-click {
width: 100px;
	display: inline-block;
	vertical-align: middle;
}
.warning-content {	
	width: 932px;
	margin:0px;
	padding:5px;
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	height:auto;
	margin-top: 15px;
	margin-left: -10px;
	display:none;
}
.warning-content li {
	text-align: left;
	border-bottom: 1px solid #f2f2f2;
	padding: 5px;
}
.warning-content li.lastli {
	border-bottom: none;
}
.category {
	width: 932px;
	margin: 15px auto;
	text-align: center;
}
.food-court {
	width: 100%;
}
.east-food, .west-food {
	width: 47.5%;
	margin: 0 1%;
	margin-top: 15px;
	padding: 1% 0;
	background: #f2f2f0;
	display: inline-block;
}
.category-title {
	margin-bottom: 15px;
	text-align: center;
}
.food-icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
}
.category-title p {
	display: inline-block;
	vertical-align: middle;
}
.food-icon img {
	width: 100%;
	height: auto;
}
.category-list {
	width: 100%;
	margin-bottom: 25px;
}
.list-type {
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-radius: 15px;
	margin: 0 0.3%;
	padding: 0 1%;
	width: 18%;
	text-align: center;
	display: inline-block;
	box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15);
	position: relative;
	*float: left !important;
}
.list-type.original {
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-radius: 99px 99px 99px 99px;
	margin-left: 15px;
	width: 9%;
	text-align: center;
	display: inline-block;
	box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15);
	position: relative;
	*float: left !important;
}
.list-type.active {
	background: #ed1c3a;
	background-repeat: repeat-x;
	border: 1px solid #ff516a;
}
.list-type:hover {
	background: #ed1c3a;
	background-repeat: repeat-x;
	border: 1px solid #ff516a;
}
.list-type.active:after {
	border-color: #ed1c3a transparent transparent;
	border-style: solid;
	border-width: 10px 5px 5px;
	bottom: -15px;
	content: "";
	left: 34px;
	position: absolute;
}
/*
.list-type.active:after {
	border-color: #ed1c3a transparent transparent;
	border-style: solid;
	border-width: 20px 10px 10px;
	bottom: -29px;
	content: "";
	left: 30px;
	position: absolute;
}
*/
.list-type p {
	color: #4a030d;
	font-size: 13px;
	font-weight: bold;
	line-height: 21px;
	margin: 0;
	padding: 10px 0 5px;
	text-align: center;
	padding-top: 7px;
	display: inline-block;
}
.list-type i {
	color: #4a030d;
	display: inline-block;
	line-height: 2px;
}
.list-type:hover > .list-text p {
	color: #fff;
}
.list-type:hover > .list-text i {
	color: #fff;
}
.list-type:hover > .list-text .icon-hotel:before {
	color: #fff;
}
.list-type:hover > .list-text .icon-jpfood:before {
	color: #fff;
}
.list-type:hover > .list-text .icon-hotpot:before {
	color: #fff;
}
.list-type:hover > .list-text .icon-bbq:before {
	color: #fff;
}
.list-type.active > .list-text p {
	color: #fff;
}
.list-type.active > .list-text i {
	color: #fff;
}
.list-type.active > .list-text .icon-hotel:before {
	color: #fff;
}
.list-type.active > .list-text .icon-jpfood:before {
	color: #fff;
}
.list-type.active > .list-text .icon-hotpot:before {
	color: #fff;
}
.list-type.active > .list-text .icon-bbq:before {
	color: #fff;
}



.category-content {
	width: 932px;
	background: #fff;
	margin: 0 auto 15px auto;
	border: 1px solid #cdcdcd;
	margin-top: 1px;
	border-radius: 5px;
}
.category-content.no-list {
	margin: 15px auto;
}
.ranking-block {
	width: 900px;
	height: 90px;
	margin: 15px auto;
	border: 1px solid #cdcdcd;
}
.ranking-left {
	width: 180px;
	height: 88px;
	float: left;
	background: #ed1c3a;
	text-align: center;
	border-right: 4px solid #fccd4b;
}
.ranking-left img {
	float: left;
	margin-right: 10px;
}
.ranking-left p {
	text-align: left;
	margin-top: 35px;
}
.ranking-right {
	width: 700px;
	height: 90px;
	float: left;
}
.tickercontainer {
	background: #fff; 
	height: 88px; 
	margin: 0; 
	padding: 0;
	overflow: hidden; 
}
.tickercontainer .mask {
	overflow: hidden;
}
ul.newsticker { /* that's your list */
	position: relative;
	left: 200px;
	font: bold 10px Verdana;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.newsticker li {

	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	padding: 0;
	background: #fff;
}

ul.newsticker a {
	white-space: nowrap;
	padding: 0;
	color: #ff0000;
	font: bold 10px Verdana;
	margin: 0 10px 0 0;
} 

ul.newsticker span {
	margin: 0 10px 0 0;
} 


.ranking-deal {
	width: 215px;
	height: 90px;
	float: left;
	border-right: 1px solid #cdcdcd;
}
.gold-cup {
	width: 70px;
	height: 90px;
	float: left;
}
.ranking-deal-right {
	width: 120px;
	height: 60px;
	float: left;
	margin-left: 5px;
	text-align: center;
}
.ranking-deal-title {
	height: 21px;
	padding-top: 3px;
	overflow: hidden;
}
.ranking-deal-pic {
	width: 113px;
	height: 60px;
	margin: 0 auto;
}

.ranking-deal-pic img {
	width: 100%;
}
.ipeen-deal-list {
	width: 912px;
	background: #fff;
	margin: 0 15px 15px 15px;
	text-align: left;
}
.ipeen-deal {
	width: 298px;
	height: 241px;
	margin: 5px 0px 15px 0;
	border: 1px solid #cdcdcd;
	display: inline-block;
}
.ipeen-deal-pic {
	width: 296px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.ipeen-deal-pic img {
	width: 100%;
}
.ipeen-ticket {
	position: absolute;
	background: #333;
	opacity: 0.8;
	padding: 5px;
	bottom: 9px;
	left: 3px;
	border-radius: 3px;
	z-index: 9;
}
.ipeen-click-finger {
	position: absolute;
	padding: 5px;
	bottom: -5px;
	right: 3px;
	z-index: 99;
	display: none;
}
.vote-area {
	width: 298px;
	position: absolute;
	background: url(vote-bg.png);
	opacity: 0;
	z-index: 999;
}
.vote-area:hover {
	opacity: 1;
}
.vote-click {
	width: 80px;
	padding: 5px;
	background: #0946ac;
	border-radius: 5px;
	opacity: 1;
	text-align: center;
	margin: 23% auto;
}
.vote-already {
	position: absolute;
	background: #0946ac;
	padding: 5px;
	top: 12px;
	left: 3px;
	border-radius: 5px;
	z-index: 2;
}
.vote-already p {
	display: inline-block;
}
.ipeen-deal-shop {
	width: 298px;
	padding: 0 10px;
	height: 30px;
	overflow: hidden;
	text-align: center;
}
.ipeen-deal-shop a:hover {
	text-decoration: none;
}

.ipeen-deal-shop p {
	margin: 0 auto;
	line-height: 30px;
}
.ipeen-deal-button-area {
	width: 298px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}
.ipeen-button-deal {
	width: 80%;
	height: 30px;
	padding: 0 15px;
	display: inline-block;
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	line-height: 28px;
}
.ipeen-button-deal:hover {
	color: #fff;
	background: #ed1c3a;
}
.ipeen-button-deal.none-coupon {
	width: 80%;
	height: 30px;
	display: inline-block;
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	line-height: 28px;
	color: #cdcdcd;
}
.ipeen-deal-pic a { display: block;}
.ipeen-deal img.piinlife-deal {
	position: absolute;
	top: 0;
	left: 0;
}
/*clerk*/
.ipeen-button-clerk {
	width: 200px;
	height: 30px;
	display: inline-block;
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	line-height: 28px;
	margin-right: 7px;
}
.ipeen-button-clerk:hover {
	color: #fff;
	background: #f23082;
}
/*clerk*/
/*coupon*/
.process {
	width: 932px;
	height: 110px;
	margin: 15px auto;
}
.process img {
	width: 100%;
}
.coupon-proof {
	width: 280px;
	height: 75px;
	background: url(couponbg.png) no-repeat;
	position: relative;
	text-decoration: none;
	float: left;
	margin: 15px 10px;
}
.coupon-proof:hover {
	width: 280px;
	height: 75px;
	background: url(couponbg-hover.png) no-repeat;
}
.coupon-proof.active {
	width: 280px;
	height: 75px;
	background: url(couponbg-hover.png) no-repeat;
}
.coupon-proof-pic {
	width: 100px;
	height: 73px;
	margin-top: 1px;
	float: left;
	position: relative;
}
.coupon-proof-pic img {
	width: 100%;

}
.coupon-proof-people {
	width: 100px;
	background: #333;
	position: absolute;
	opacity: 0.8;
	text-align: center;
	padding: 2px;
	bottom: 0px;
	left: 0px;
	z-index: 9;
}
.coupon-tag {
	width: 20px;
	height: 73px;
	color: #fff;
	border-radius: 5px 0 0 5px;
	float: left;
	margin: 0 auto; 
	letter-spacing: 1px;
	line-height: 15px;
}
.coupon-tag-word {
	color: #fff;
	width: 20px;
	padding-top: 20px;
	padding-left: 19%;
}
.coupon-proof-word {
	width:140px;
	height: 80px;
	line-height: 16px;
	float: left;
	text-align: left;
	padding: 1px 4px 1px 4px;
}
.coupon-proof-word li {
	overflow: hidden;
	height: 49px;
}
.coupon-proof-word a {
	text-decoration: none;
}
.coupon-proof-word h2 {
	overflow: hidden;
	height: 20px;
}
.coupon-proof-word a img {
	margin-top: -2px;
	margin-right: 3px;
}
.bottom-3 {
	position: absolute;
	bottom: 3px;
	width: 100px;
	*left: 125px !important;
}
.bottom-3 p {
	line-height: 19px;
}
.bottom-3 img { float: left;}
.clearfix { clear: both;}
/*coupon*/
/*information*/
.information-content {
	width: 932px;
	margin:0px;
	padding:15px;
	background-color: #fff;
	text-align: left;
}
.information-content ul {
	margin-top: 10px;
}
.information-content li {
	color: #444;
	font-size: 14px;
	line-height: 28px;
	list-style: initial;
	list-style-position: inside;
}
/*information*/
/*setpoint*/
.setpoint-word {
	margin: 0 auto;
	padding: 15px;
	padding-top: 0;
	text-align: left;
	line-height: 30px;
}
.setpoint-content {
	width: 932px;
	margin:0px;
	background-color: #fff;
}
.setpoint-content ul {
	background: #ed1c3a;
	padding: 10px 0;
	border-radius: 5px;
	margin-bottom: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0; 
}
.setpoint-content li {
	text-align: center;
}
.setpoint-area {
	width: 902px;
	margin: 0 auto;
	padding: 10px;
	text-align: left;
}
.setpoint-circle-O {
	width: 88px;
	height: 88px;
	background: url(setpoint-O.png);
	text-align: center;
	padding-top: 33px; 
	float: left;
	margin-right: 25px;
	margin-left: 13px;
	margin-bottom: 23px;
}
.setpoint-circle-X {
	width: 88px;
	height: 88px;
	background: url(setpoint-X.png);
	text-align: center;
	padding-top: 33px; 
	float: left;
	margin-right: 25px;
	margin-left: 13px;
	margin-bottom: 23px;
}

.setpoint-block {
	width: 250px;
	height: 120px;
	float: left;
	margin: 5px 21px;
}
.setpoint-button {
	width: 250px;
	height: 70px;
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 2px dashed #d4d4d4;
	border-radius: 5px;
	text-align: center;
	padding: 20px 0;
}
.setpoint-button.active { background: #ed1c3a; border: 2px dashed #ff7e91;}
.setpoint-button.active > .icon-checkmark-circle:before { color: #fffB00;}
.setpoint-button.active p { color: #fff;}

.setpoint-button p {
	display: inline-block;
	vertical-align: middle;
}
.setpoint-warning {
	padding: 10px 5px;
	text-align: left;
}
/*setpoint*/
/*pop out視窗*/
.pop-vote-block {
	width: 400px;
	background: #fff;
	border: 1px solid #ed1c3a;
	border-radius: 5px;
}
.pop-title {
	width: 398px;
	background: #ed1c3a;
	padding: 10px 0;
	border-radius: 5px;
	margin-bottom: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.pop-title p {
	text-align: center;
}
.pop-content {
	width: 398px;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.pop-content li {
	margin-bottom: 10px;
}
.pop-deal-button-area {
	width: 380px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0;
}
.pop-button-vote {
	width: 150px;
	display: inline-block;
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	margin-right: 25px;
	padding: 5px 0;
}
.pop-button-share {
	width: 150px;
	display: inline-block;
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	padding: 5px 0;
}
.pop-button-vote:hover {
	background: #ed1c3a;
	color: #fff;
}
.pop-button-vote:hover > .icon-file2:before {
	color: #fff;
}
.pop-button-vote:hover > .icon-heart2:before {
	color: #fff;
}
.pop-button-vote:hover > .icon-checkmark-circle2:before {
	color: #fff;
}
.pop-button-share:hover {
	background: #0946ac;
	color: #fff;
}
.pop-button-share:hover > .icon-facebook:before {
	color: #fff;
}
.pop-button-share:hover > .icon-tag2:before {
	color: #fff;
}
.pop-button-share p {
	display: inline-block;
}
.qrcode-area {
	width: 398px;
	height: 130px;
}
.qrcode-pic {
	width: 120px;
	height: 120px;
	display: inline-block;
	vertical-align: middle;
}
.qrcode-pic img {
	width: 100%;
}
.qrcode-word {
	width: 270px;
	display: inline-block;
	vertical-align: middle;
}
.dropdown, .m-ipeen-top { display: none;}
/*pop out視窗*/
/*文字化icon*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?aha1vc');
	src:url('fonts/icomoon.eot?#iefixaha1vc') format('embedded-opentype'),
		url('fonts/icomoon.woff?aha1vc') format('woff'),
		url('fonts/icomoon.ttf?aha1vc') format('truetype'),
		url('fonts/icomoon.svg?aha1vc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-bbq:before {
	content: "\e60b";
	font-size: 40px;
	color: #4a030d;
	line-height: 51px;
}
.icon-hotel:before {
	content: "\e60c";
	font-size: 40px;
	color: #4a030d;
	line-height: 51px;
}
.icon-hotpot:before {
	content: "\e60d";
	font-size: 40px;
	color: #4a030d;
	line-height: 51px;
}
.icon-jpfood:before {
	content: "\e60e";
	font-size: 40px;
	color: #4a030d;
	line-height: 51px;
}
.icon-pacman:before {
	content: "\e600";
	color: #1ab4e8;
	font-size: 36px;
	line-height: 78px;
	padding-right: 10px;
}
.icon-file:before {
	content: "\e601";
	color: #72c703;
	font-size: 36px;
	line-height: 78px;
	padding-right: 10px;
}
.icon-tag:before {
	content: "\e602";
	color: #f5931b;
	font-size: 30px;
	line-height: 78px;
}
.icon-user:before {
	content: "\e603";
	color: #f23082;
	font-size: 30px;
	line-height: 78px;
}
.icon-heart:before {
	content: "\e604";
	color: #ed1c3a;
	font-size: 36px;
	line-height: 78px;
	padding-right: 10px;
}
.icon-heart3:before {
	content: "\e604";
	color: #ed1c3a;
	font-size: 16px;
	line-height: 19px;
	float: left;
	padding-right: 2px;
}
.icon-thumbs-up:before {
	content: "\e605";
	color: #fff;
	font-size: 16px;
}
.icon-thumbs-up2:before {
	content: "\e605";
	color: #ed1c3a;
	font-size: 20px;
}
.icon-grin:before {
	content: "\e606";
}
.icon-point-up:before {
	content: "\e607";
	color: #0946ac;
	display: inline-block;
	font-size: 30px;
	line-height: 30px;
	vertical-align: middle;
}
.icon-cancel-circle:before {
	content: "\e608";
}
.icon-checkmark-circle:before {
	content: "\e609";
	font-size: 30px;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
}
.icon-facebook:before {
	content: "\e60a";
	color: #0946ac;
	display: inline-block;
	font-size: 15px;
}
.icon-file2:before {
	content: "\e601";
	color: #ed1c3a;
	font-size: 15px;
	display: inline-block;
}
.icon-heart2:before {
	content: "\e604";
	color: #ed1c3a;
	font-size: 15px;
	display: inline-block;
}
.icon-checkmark-circle2:before {
	content: "\e609";
	font-size: 15px;
	color: #ed1c3a;
	display: inline-block;
}
.icon-tag2:before {
	content: "\e602";
	font-size: 15px;
	color: #0946ac;
	display: inline-block;
}
/*文字化icon*/
