﻿
/*如果使用者之視窗寬度高於 1001px，將會再載入這裡的 CSS*/
@media screen and (min-width: 1001px) {
    .coupon-item {
        width: 33%;
    }
    .dropdown { display: none;}
    .m-ipeen-top { display: none;}
}
/*如果使用者之視窗寬度介於 768px ~ 1000px，將會再載入這裡的 CSS*/
@media screen and (min-width: 768px) and (max-width: 1000px) {
.center { width: 100%;}
.dropdown { display: none;}
.ipeen-top { display: none;}
.m-ipeen-top { display: block;}
.m-ipeen-top img { width: 100%; height: auto;}
.font-20 { font-size: 18px;}
.font-16 { font-size: 16px;}
.font-18 { font-size: 14px;}
.font-14 { font-size: 12px;}
.ipeen-center { padding: 0;}
.ipeen-content { width: 100%;}
.button-block { width: 100%; height: auto;}
.button-block a { width: 30%;}
.button-store, .button-clerk, .button-coupon, .button-detail, .button-account {
    float: none;
    display: inline-block;
    margin: 2px;
    padding: 0;
    vertical-align: middle;
}
.icon-pacman:before, .icon-heart:before, .icon-user:before, .icon-tag:before, .icon-file:before { padding: 4px;}
.button-text { padding: 20px 0;}
.process { width: 100%; height: auto;}
.warning-block { width: 100%;}
.warning-content { width: 100%; margin-left: 0px; border: none;}
.category, .category-list, .category-content { width: 100%;}
.ranking-block { width: 100%; padding: 5px; border: 0;}
.ranking-left { width: 23%;}
.tickercontainer { width: 76%; border: 1px solid #cdcdcd;}
.mask { width: 100%;}
.ipeen-deal-list { width: 99%; margin: 0 auto; padding: 5px;}
.ipeen-deal { width: 33%; height: auto;}
.ipeen-deal-pic { width: 100%; height: auto;}
.vote-area {width: 100%; height: auto;}
.ipeen-deal-shop, .ipeen-deal-button-area { width: 100%;}
.coupon-proof { width: 48%; height: 99px; display: inline-block; background: #fff;  border: 1px dashed #cdcdcd; border-radius: 5px; margin: 5px 5px;}
.coupon-proof:hover, .coupon-proof.active { width: 48%; height: 99px; border: 1px dashed #bf0000; background: #fff; border: 1px dashed #bf0000;}
.coupon-proof img { width: 97px;}
.coupon-proof-people { bottom: 2px;}
.coupon-proof-word { width: 45%;}
.coupon-proof-word li { font-size: 11px; letter-spacing: -1px; overflow: hidden; height: 50px;}
.coupon-proof-pic { width: 45%; height: auto; margin-left: 20px; margin-top: 0px;}
.coupon-tag { width: 20px; height: 100%; background: #bf0000;  position: absolute; top:0; left:0; vertical-align: middle;}
.coupon-tag-word { padding-top: 0px; color: #fff; position: absolute; width: 20px; top: 27%; bottom:23%; height: 50%;}
.information-content { width: 100%; }
.setpoint-word, .setpoint-content, .setpoint-area { width: 100%;}
.setpoint-block { width: 30%; margin: 5px 10px; float: none; display: inline-block; vertical-align: middle;}
.setpoint-button { width: 100%;}
.setpoint-circle-X, .setpoint-circle-O { float: none; display: inline-block; margin-right: 0;}
.list-type p { letter-spacing: -2px; font-size: 12px;}
}

/*如果使用者之視窗寬度介於 481px ~ 767px，將會再載入這裡的 CSS*/
@media screen and (min-width: 481px) and (max-width: 767px) {
.center { width: 100%;}
.category-list, .warning-block, .food-court {display: none;}
.ipeen-top { display: none;}
.m-ipeen-top { display: block;}
.m-ipeen-top img { width: 100%; height: auto;}
.dropdown { display: block;}
.font-20 { font-size: 16px;}
.font-16 { font-size: 14px;}
.font-18 { font-size: 12px;}
.font-14 { font-size: 10px;}
.ipeen-center { padding: 0;}
.ipeen-content { width: 100%;}
.button-block { width: 100%; height: auto;}
.button-block a { width: 30%;}
.button-store, .button-clerk, .button-coupon, .button-detail, .button-account {
    height: 55px;
    float: none;
    display: inline-block;
    margin: 2px;
    padding: 0;
    padding-top: 5px;
    vertical-align: middle;
}


.icon-pacman:before, .icon-heart:before, .icon-user:before, .icon-tag:before, .icon-file:before {font-size: 30px; line-height: 30px;}
.button-store .icon-heart, .button-clerk .icon-user, .button-coupon .icon-tag, .button-detail .icon-file, .button-account .icon-pacman {
    float: none;
}
.button-text { padding: 2px 0; float: none; text-align: center;}
.process { width: 100%; height: auto;}
.warning-block { width: 100%;}
.warning-content { width: 100%; margin-left: 0px; border: none;}
.category, .category-list, .category-content { width: 100%;}
.category-content { margin-top: 10px;}
.ranking-block { width: 100%; height: auto; padding: 5px; border: 0;}
.ranking-left { width: 100%; height: auto; border: none;}
.ranking-left img { display: none;}
.ranking-left p { text-align: center; margin-top: 0; padding: 4px;}
.tickercontainer { width: 100%; border: 1px solid #cdcdcd; -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.mask { width: 100%;}
.ipeen-deal-list { width: 99%; margin: 0 auto; padding: 5px; text-align: center;}
.ipeen-deal { width: 49%; height: auto;}
.ipeen-deal-pic { width: 100%; height: auto;}
.vote-area {width: 100%; height: auto;}
.ipeen-deal-shop, .ipeen-deal-button-area { width: 100%;}
/*類型選單*/
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown {
  position: relative;
}
.dropdown-toggle {
    width: 100%;
    height: 50px;
   background: #ed1c3a;
    background-repeat: repeat-x;
    border: 1px solid #ff516a;
    color: #fff;
    border-radius: 5px;
    border-bottom-color: #bcbcbc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.dropdown-toggle:focus {
  outline: 0;
}
.open > .dropdown-menu {
    width: 100%;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ed1c3a;
}

.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
/*類型選單*/
.coupon-proof { width: 48%; height: auto; display: inline-block; background: #fff;  border: 1px dashed #cdcdcd; border-radius: 5px; margin: 5px 5px;}
.coupon-proof:hover, .coupon-proof.active { width: 48%; height: auto; border: 1px dashed #bf0000; background: #fff; border: 1px dashed #bf0000;}
.coupon-proof-word { width: 45%;}
.coupon-proof-word li { font-size: 11px; letter-spacing: -1px; overflow: hidden; height: 50px;}
.coupon-proof-pic { width: 45%; height: auto; margin-left: 20px; margin-top: 0px;}
.coupon-tag { width: 20px; height: 100%; background: #bf0000;  position: absolute; top:0; left:0; vertical-align: middle;}
.coupon-tag-word { padding-top: 0px; color: #fff; position: absolute; width: 20px; top: 27%; bottom:23%; height: 50%;}
.information-content { width: 100%; }
.setpoint-word, .setpoint-content, .setpoint-area { width: 100%;}
.setpoint-block { width: 32%; margin: 5px 2px; float: none; display: inline-block; vertical-align: middle;}
.setpoint-button { width: 100%;}
.setpoint-circle-X, .setpoint-circle-O { float: none; display: inline-block; margin-right: 0; margin-left: 20px;}
}

@media screen and (max-width: 480px) {
.center { width: 100%;}
.ipeen-top { display: none;}
.m-ipeen-top { display: block;}
.m-ipeen-top img { width: 100%; height: auto;}
.category-list, .warning-block {display: none;}
.dropdown { display: block;}
.font-20 { font-size: 16px;}
.font-16 { font-size: 14px;}
.font-18 { font-size: 12px;}
.font-14 { font-size: 10px;}
.ipeen-center { padding: 0;}
.ipeen-content { width: 100%;}
.button-block { width: 100%; height: auto;}
.button-block a { width: 30%;}
.button-store, .button-clerk, .button-coupon, .button-detail, .button-account {
    height: 70px;
    float: none;
    display: inline-block;
    margin: 2px;
    padding: 0;
    vertical-align: middle;
}
.icon-pacman:before, .icon-heart:before, .icon-user:before, .icon-tag:before, .icon-file:before {font-size: 18px; line-height: 26px;}
.button-store .icon-heart, .button-clerk .icon-user, .button-coupon .icon-tag, .button-detail .icon-file, .button-account .icon-pacman {
    float: none;
    display: block;
}
.button-text { padding: 2px 0; float: none; text-align: center;}
.process { display: none;}
.warning-block { width: 100%;}
.warning-block p { display: inline-block; text-align: right; width: 65%;}
.warning-block p.font-20 { font-size: 12px; line-height: 16px;}
.finger-click { width: 30%; display: inline-block;} 
.finger-click .icon-point-up:before { font-size: 20px;}
.warning-content { width: 100%; margin-left: 0px; border: none;}
.category, .category-list, .category-content { width: 100%;}
.category-content { margin-top: 10px;}
.list-type p { font-size: 14px;}
.list-type.active:after { display: none;}
.ranking-block { width: 100%; padding: 5px; border: 0;}
.ranking-left { width: 23%;}
.tickercontainer { width: 76%; border: 1px solid #cdcdcd; -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.mask { width: 100%;}
.ipeen-deal-list { width: 99%; margin: 0 auto; padding: 5px; text-align: center;}
.ipeen-deal { width: 100%; height: auto;}
.ipeen-deal-pic { width: 100%; height: auto;}
.vote-area {width: 100%; height: auto;}
.ipeen-deal-shop, .ipeen-deal-button-area { width: 100%;}

/*類型選單*/
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown {
  position: relative;
}
.dropdown-toggle {
    width: 100%;
    height: 50px;
    background: #ed1c3a;
    background-repeat: repeat-x;
    border: 1px solid #ff516a;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.dropdown-toggle:focus {
  outline: 0;
}
.open > .dropdown-menu {
    width: 100%;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu .divider.pink-color {
  background-color: #ff516a;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ed1c3a;
}

.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
/*類型選單*/
.coupon-proof { width: 100%; height: auto; display: inline-block; background: #fff;  border: 1px dashed #cdcdcd; border-radius: 5px; margin: 5px 0;}
.coupon-proof:hover, .coupon-proof.active { width: 100%; height: auto; border: 1px dashed #bf0000; background: #fff; border: 1px dashed #bf0000;}
.coupon-proof-word { width: 45%;}
.coupon-proof-word li { font-size: 11px; letter-spacing: -1px; overflow: hidden; height: 50px;}
.coupon-proof-pic { width: 45%; height: auto; margin-left: 20px; margin-top: 0px;}
.coupon-tag { width: 20px; height: 100%; background: #bf0000;  position: absolute; top:0; left:0; vertical-align: middle;}
.coupon-tag-word { padding-top: 0px; color: #fff; position: absolute; width: 20px; top: 27%; bottom:23%; height: 50%;}
.information-content { width: 100%; }
.setpoint-word, .setpoint-content, .setpoint-area { width: 100%;}
.setpoint-block { width: 100%; margin: 5px 2px; float: none; display: inline-block; vertical-align: middle;}
.setpoint-button { width: 100%;}
.setpoint-circle-X, .setpoint-circle-O { float: none; display: inline-block; margin: 3px;}
.setpoint-warning { text-align: center;}
.food-court { display: none;}
.icon-pacman:before, .icon-file:before, .icon-heart:before { padding-right: 0;}
}
