﻿@using System.Collections.ObjectModel
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.Mobile
@{
    
}
    <div class="">
        <ul class="nav flex-column" style="display:none">
            <li class="tnav-item active"><a class="nav-link" href="#" data-target-id="base"><i class="fa fa-home fa-fw"></i>基本資料</a></li>
            <li class="nav-item"><a class="nav-link" href="#" data-target-id="productinfo"><i class="fa fa-file-text-o fa-fw"></i>商品資訊</a></li>
            <li class="nav-item"><a class="nav-link" href="#" data-target-id="shipping"><i class="fa fa-truck fa-fw"></i>配送狀態</a></li>
            <li class="nav-item"><a class="nav-link" href="#" data-target-id="refund"><i class="fa fa-exchange fa-fw"></i>退換貨紀錄</a></li>
            <li class="nav-item"><a class="nav-link" href="#" data-target-id="invoice"><i class="fa fa-qrcode fa-fw"></i>發票資訊</a></li>
        </ul>
        <br/>
            <a class="nav-link" href="#" data-target-id="base">基本資料</a>
            <a class="nav-link" href="#" data-target-id="productinfo">商品資訊</a>
            <a class="nav-link" href="#" data-target-id="shipping">配送狀態</a>
            <a class="nav-link" href="#" data-target-id="refund">退換貨紀錄<i class="fa fa-bell text-danger" style=""></i></a>
            <a class="nav-link" href="#" data-target-id="invoice">發票資訊</a>
        
    </div>


<script type="text/javascript">
    
</script>