﻿@using System.Collections.ObjectModel
@using iTextSharp.text
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.BizLogic.Model.Refund
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.ControlRoom.Order
@using LunchKingSite.WebLib.Models.Mobile

@{
    AtmInfo atmInfo = Model;
}
<style>
    .atmFillForm dl dt {
            width: 13%;
        }

        .atmFillForm dl dd {
            width: 87%;
            padding-left: 60px;
        }
        .atmFillForm dt {
        font-weight: lighter;
    }
    
</style>
<script type="text/javascript">
    $(function () {
        getBankInfo();
    });

    //取得銀行代號/名稱
    function getBankInfo() {
        $.ajax({
            url: '@Url.Action("GetBankInfo", "Member")',
            data: JSON.stringify({}),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                var bankInfo = result.Data;
                $.each(bankInfo, function (i, item) {
                    $('.atmSelectedBank').append($("<option></option>").attr("value", item.BankNo).text(item.BankName));
                });
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            },
            complete: function () {

            }
        });
    }

    //取得分行代號/名稱
    function getBankBranchInfo(bankNo)
    {
        $('.atmSelectedBankBranch option').remove();
        if (bankNo == '000')
        {
            $('.atmSelectedBankBranch').append($("<option></option>").attr("value", '000').text('請選擇分行別'));
        }
        $.ajax({
            url: '@Url.Action("GetBankBranchInfo", "Member")',
            data: JSON.stringify({ bankNo}),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                var branchInfo = result.Data;
                $.each(branchInfo, function (i, item) {
                    $('.atmSelectedBankBranch').append($("<option></option>").attr("value", item.BranchNo).text(item.BranchName));
                });
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            },
            complete: function () {
            }
        });
    }

    //儲存ATM資料
    function saveAtmInfo() {
        var accountName = $('#atmAccountName').val();
        var id = $('#atmUserID').val();
        var bankNo = $('.atmSelectedBank :selected').val();
        var bankName = $('.atmSelectedBank :selected').text();
        var branchNo = $('.atmSelectedBankBranch :selected').val();
        var branchName = $('.atmSelectedBankBranch :selected').text();
        var accountNumber = $('#atmAccount').val();
        var phone = $('#atmMobile').val();

        if (bankNo == '000') {
            alert('請選擇銀行');
            return;
        }
        if (branchNo == '000') {
            alert('請選擇分行');
            return;
        }
        $.blockUI({ message: '' });

        var data = {
            OrderGuid: '@atmInfo.OrderGuid',
            BuyerUserId: '@atmInfo.BuyerUserId',
            AtmForm: { accountName, id, bankNo, bankName, branchNo, branchName, accountNumber, phone }
        };

        $.ajax({
            url: '@Url.Action("SaveAtmInfo", "Member")',
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                alert(result.Message);
                location.reload();
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            },
            complete: function () {
                $.unblockUI();
            }
        });
    }
</script>
<div class="atmInfo">
    <div class="atmFillForm" @if (atmInfo.LastCtAtm.Any()) { @Html.Raw("style=display:none")   }>
        <span class="unit-sub-title font-weight-bold" style="color: crimson">* 退現請先填寫 ATM 帳戶資料</span>
        <br />
        <dl class="dl-horizontal">
            <dt>戶名</dt>
            <dd>
                <input id="atmAccountName" MaxLength="10" CssClass="input-half" class="form-control input-sm d-inline" style="width: 200px" />
                <span class="help-block d-inline">Ex：周杰倫</span>
            </dd>
            <dt>銀行名稱</dt>
            <dd>
                <select class="atmSelectedBank form-control input-sm" style="width: 200px; font-size: 9px;" onchange="getBankBranchInfo($(this).val());">
                    <option value="000" selected="selected">請選擇銀行別</option>
                </select>
            </dd>
            <dt>分行別</dt>
            <dd>
                <select class="atmSelectedBankBranch form-control input-sm" style="width: 200px; font-size: 9px;">
                    <option value="000" selected="selected">請選擇分行別</option>
                </select>
            </dd>
            <dt>帳號</dt>
            <dd>
                <input id="atmAccount" MaxLength="14" CssClass="input-half" class="form-control input-sm d-inline" style="width: 200px" placeholder="" />
                <span class="help-block d-inline">Ex：00010002000304</span>
            </dd>
            <dt>手機號碼</dt>
            <dd>
                <input id="atmMobile" MaxLength="10" CssClass="input-half" class="form-control input-sm d-inline" style="width: 200px" placeholder="" />
                <span class="help-block d-inline">Ex：0912345678</span>
            </dd>
            <dt>身分證字號或統編</dt>
            <dd>
                <input id="atmUserID" MaxLength="10" CssClass="input-half" class="form-control input-sm d-inline" style="width: 200px" />
                <button type="button" class="btn btn-primary btn-xs" style="margin-left:150px;" onclick="saveAtmInfo()">儲存帳戶資訊</button>
                <button type="button" class="cancel-edit-atm btn cancel-btn btn-xs" style="margin-left:5px;display:none" onclick="$('.atmFillForm').hide()">取消</button>
            </dd>
        </dl>
    </div>

    @if (atmInfo.LastCtAtm.Any())
    {
        <span class="fa fa-angle-double-right"></span><span class="unit-sub-title font-weight-bold">ATM申請退款受款帳戶資料</span>
        <table class="table table-hover table-condensed">
            <thead class="thead-default">
                <tr>
                    <th class="th">序號</th>
                    <th class="th">金額</th>
                    <th class="th">戶名</th>
                    <th class="th">證號</th>
                    <th class="th">銀行</th>
                    <th class="th">分行</th>
                    <th class="th">帳號</th>
                    <th class="th">電話</th>
                    <th class="th">狀態</th>
                    <th class="th">建立時間</th>
                    <th class="th">編輯</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ct in atmInfo.LastCtAtm)
{
            <tr>
                @*序號*@
                <td width="5%">@ct.Si</td>
                @*金額*@
                <td width="5%">@ct.Amount</td>
                @*戶名*@
                <td width="8%">@ct.AccountName</td>
                @*證號*@
                <td>@ct.Id</td>
                @*銀行*@
                <td>@ct.BankName</td>
                @*分行*@
                <td>@ct.BranchName</td>
                @*帳號*@
                <td>@ct.AccountNumber</td>
                @*電話*@
                <td>@ct.Phone</td>
                @*狀態*@
                <td>@Helper.GetEnumDescription((AtmRefundStatus)ct.Status)</td>
                @*建立時間*@
                <td>@ct.CreateTime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                @*序號*@
                <td width="5%"><button class="btn btn-primary btn-xs" onclick="$('.atmFillForm').show(); $('.cancel-edit-atm').show();">編輯</button></td>
            </tr>
            }
            </tbody>
        </table>
    }
</div>
