﻿@using System.Collections.ObjectModel
@using iTextSharp.text
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.BizLogic.Model.Refund
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.Core.Enumeration
@using LunchKingSite.WebLib.Models.ControlRoom.Order
@using LunchKingSite.WebLib.Models.Mobile

@{
    CustomerServiceInfo csInfo = Model;
    //int caseStatus = csInfo.CaseData != null && csInfo.CaseData.BaseData != null ? (int)csInfo.CaseData.BaseData.Status : 0;
    int notifyStatus = (int)statusConvert.ServiceNotify;
    int secNotifyStatus = (int)statusConvert.secServiceNotify;
}
<style>
    .cs-subtitle {
        font-size: 16px;
        margin: 0 10px 20px 10px;
        line-height: 40px;
        color: black;
        align-content: center;
        font-weight:bold;
        width:100%;
    }
    .csinfoData {
        margin-left: 10px;
    }
    .csinfoNo {
        margin-left: 10px;
        color:#428bca;
        font-size: 17px;
    }
    .RelationCaseTable {
        width: 100%;
        border: 1px solid lightgray;
        padding: 10px;
    }
    .RelationCaseTable td {
        width: 20%;
    }
    .CustomerServiceData {
        border: 1px solid #eceeef;
    }
    .CustomerServiceData tr td {
        padding: 5px !important ;
        /*font-size: 13px;*/
    }
    .CustomerServiceInfo .cs-data-lb {
        /*width: 75px;*/
        margin-right: 15px;
    }
    .csName {
        padding-right: 10px;
        font-weight: bold;
    }
    .cs-message {
        margin: -10px;
    }
    .cs-sample-area, .cs-sample-area table td {
        font-size: 15px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    #CustomerServiceArea .cs-select {
        padding: 2px;
    }
    .vsVenderMessage, .vsCustomerMessage {
        font-size: 13px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .vsVenderMessage .row .col,.vsCustomerMessage .row .col {
        /*background-color: #eceeef;*/
        /*border-radius: 1px;*/
        border: 1px solid lightgray;
        margin: 5px 10px 0 10px;
    }
    .cs-sub-message {
        text-align: center;
    }
    .csStatus-default {
        background-color: #999;
        color: white;
        padding: 1px 3px 1px 3px;
        border-radius: 8px;
    }
    .csStatus-outline {
        border: 1px solid #999;
        padding: 1px 3px 1px 3px;
        border-radius: 8px;
    }
    .csInsideMemo {
        color: palevioletred
    }
    .form-check-label {
        font-weight: normal;
    }
    .cs-select {
        font-size: 13px;
    }
    .csContent {
        word-break: break-all;
    }

</style>
<script type="text/javascript">
    $(function () {
    
        //未認領案件不可留言
        @*var caseStatus = '@caseStatus';
        if (caseStatus == '0') {
            $('.cs-push-msg-area').find('textarea').attr('disabled', true);
            $('.cs-push-msg-area').find('button').attr('disabled', true);
            $('.cs-push-msg-area').find('input').attr('disabled', true);
        }*@

        //預設不顯示
        //$('.relation_case_row').each(function (i,item) {
        //    if(i==0)
        //    {
        //        getServiceCase($(this).attr('csno'));
        //    }
        //});
    });

    function getServiceCase(serviceNo)
    {
        $.ajax({
            url: '@Url.Action("GetServiceCase", "Member")',
            data: JSON.stringify({
                ServiceNo: serviceNo
            }),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.Code == '1000') {
                    if(result.Data != undefined)
                    {
                        fillCaseData(result.Data.BaseData, result.Data.Category, result.Data.SubCategory);
                        fillInsideMessage(result.Data.InsideMessage);
                        fillOutsideMessage(result.Data.OutsideMessage);
                        $('.caseData').show();
                        $('.relation_case_row').each(function()
                        {
                            var serviceNo = $(this).find('.relation_case_no').html();
                            if (serviceNo == $('.csinfoNo').html()) {
                                $(this).addClass("active");
                            }
                            else {
                                $(this).removeClass("active");
                            }
                        });
                    }
                }
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            },
            complete: function () { }
        });
    }

    //填入案件
    function fillCaseData(baseData, category, subCategory)
    {
        $('.csinfoNo').html(baseData.ServiceNo);
        $('.csinfoStatus').html(baseData.StatusDesc);

        if(baseData.StatusDesc == 0) //未認領
        {
            $('.csinfoClaimCase').show();
        }
        $('.workerOne').html(baseData.WorkerOne);
        if(baseData.IsShowNotify == true)
        {
            $('.btnNotify').show();
        }

        if (baseData.WorkerTwo =='' && baseData.IsShowSelectWorkerTwo == true)
        {
            $('.workerTwo').hide();
            $('.btnSecNotify').hide();

            $('.cs-work2-select').html('');
            $('.cs-work2-select').append($("<option></option>").attr("value", '').text("請選擇"));
            $.each(baseData.WorkerTwoList, function (i, item) {
                $('.cs-work2-select').append($("<option></option>").attr("value", item.Key).text(item.Value));
            });
            $('.cs-work2-select-area').show();
        }
        else
        {
            $('.workerTwo').html(baseData.WorkerTwo);
            $('.workerTwo').show();
                            
            if(baseData.IsShowSecNotify == true)
            {
                $('.btnSecNotify').show();
            }
            $('.cs-work2-select-area').hide();
        }

        $('.rdCsPriority').each(function(){
            if($(this).val() == baseData.QuestoinLevel)
            {
                $(this).prop('checked', true);
            }
            else
            {
                $(this).prop('checked', false);
            }
        });
        $('.rdCsSource').each(function(){
            if($(this).val() == baseData.QuestionFrom)
            {
                $(this).prop('checked', true);
            }
            else
            {
                $(this).prop('checked', false);
            }
        });
        $('.rdCsStatus').each(function(){
            if($(this).val() == baseData.QuestionDeal)
            {
                $(this).prop('checked', true);
            }
            else
            {
                $(this).prop('checked', false);
            }
        });
        
        $('.cs-category').html('');
        $.each(category, function (i, item) {
            if (item.Key == baseData.Category) {
                $('.cs-category').append($("<option selected='selected'></option>").attr("value", item.Key).text(item.Value));
            }
            else {
                $('.cs-category').append($("<option></option>").attr("value", item.Key).text(item.Value));
            }
        });
        $('.cs-subcategory').html('');
        $.each(subCategory, function (i, item) {
            if (item.Key == baseData.SubCategory) {
                $('.cs-subcategory').append($("<option selected='selected'></option>").attr("value", item.Key).text(item.Value));
            }
            else {
                $('.cs-subcategory').append($("<option></option>").attr("value", item.Key).text(item.Value));
            }
        });
    }
    
    function fillInsideMessage(insideMessage)
    {
        $('.inside-msg').html('');
        $.each(insideMessage, function (i, item) {
            var elem = $('.i-log-content-sample').clone();
            elem.find('.csName').html(item.Name);
            if (item.IsByCustomerService == true) {
                elem.find('.csStatus-outline').html(item.Status);
                elem.find('.csStatus-outline').show();
            }
            else {
                elem.find('.csStatus-default').html(item.Status);
                elem.find('.csStatus-default').show();
            }
            elem.find('.csCreateTime').html(item.CreateTime);
            elem.find('.csContent').html(item.Content);
            
            //附檔
            if (item.AttachedFilesName != null)
            {
                elem.find('.csAttachedUrl').attr('href', item.AttachedFilesNavigateUrl); //.html(item.AttachedFilesNavigateUrl);
                elem.find('.csFile').html(item.AttachedFilesName);
                elem.find('.csAttachedFile').show();
            }
            elem.find('.csInsideMemo').html(item.Memo);
            $('.inside-msg').append("<div class='row i-log-content'>" + elem.html() + "</div>");
        });
        if(insideMessage.length > 0 )
        {
            $('.vsVenderMessage').show();
        }
        //初始化與商家或客服間對話記顯示
        $(".showInsideBtn").html("<a href='javascript:void(0)' onclick='showInside()'>檢視完整備註紀錄</a>(" + $(".i-log-content").length + ")");
        if ($(".i-log-content").length > 0) {
            $(".i-log-content:lt(" + ($(".i-log-content").length - 1) + ")").hide();
        }
        else {
            $(".showInsideBtn").hide();
        }
    }

    function fillOutsideMessage(outsideMessage)
    {
        $('.outside-msg').html('');
        $.each(outsideMessage, function (i, item) {
            var elem = $('.o-log-content-sample').clone();
            elem.find('.csName').html(item.Name);
            if (item.IsByCustomerService == false) {
                elem.find('.csStatus').show();
            }
            else {
                elem.find('.csStatus').show();
            }
            elem.find('.csCreateTime').html(item.CreateTime);
            elem.find('.csContent').html(item.Content);

            //附檔
            if (item.AttachedFilesName != null) {
                elem.find('.csAttachedUrl').attr('href', item.AttachedFilesNavigateUrl);
                elem.find('.csFile').html(item.AttachedFilesName);
                elem.find('.csAttachedFile').show();
            }
            
            $('.outside-msg').append("<div class='row o-log-content'>" + elem.html() + "</div>");
        });

        if(outsideMessage.length > 0 )
        {
            $('.vsCustomerMessage').show();
        }

        //初始化與客人對記顯示
        $(".showOutsideBtn").html("<a href='javascript:void(0)' onclick='showOutside()'>檢視完整備註紀錄</a>(" + $(".o-log-content").length + ")");
        if ($(".o-log-content").length > 0) {
            $(".o-log-content:lt(" + ($(".o-log-content").length - 1) + ")").hide();
        }
        else {
            $(".showOutsideBtn").hide();
        }

    }

    //與商家或客服間對話記顯示
    function showInside() {
        if ($(".i-log-content").length > 0) {
            if ($(".i-log-content:gt(0)").css('display') == 'none') {
                $(".showInsideBtn").html("<a href='javascript:void(0)' onclick='showInside()'>隱藏備註紀錄</a>");
            }
            else {
                $(".showInsideBtn").html("<a href='javascript:void(0)' onclick='showInside()'>檢視完整備註紀錄</a>(" + $(".i-log-content").length + ")");
            }
            $(".i-log-content:lt(" + ($(".i-log-content").length - 1) + ")").toggle("slow");
        }
    }

    //與客人對記顯示
    function showOutside() {
        if ($(".o-log-content").length > 0) {
            if ($(".o-log-content:gt(0)").css('display') == 'none') {
                $(".showOutsideBtn").html("<a href='javascript:void(0)' onclick='showOutside()'>隱藏備註紀錄</a>");
            }
            else {
                $(".showOutsideBtn").html("<a href='javascript:void(0)' onclick='showOutside()'>檢視完整備註紀錄</a>(" + $(".o-log-content").length + ")");
            }
            $(".o-log-content:lt(" + ($(".o-log-content").length - 1) + ")").toggle("slow");
        }
    }

    //認領案件
    function ClaimCustomerServiceCase() {
        if (!confirm("確定認領案件?")) return;

        var serviceNo = $('.csinfoNo').html();
        $.ajax({
            url: '@Url.Action("ClaimCustomerServiceCase", "Member")',
            data: JSON.stringify({
                ServiceNo: serviceNo
            }),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                alert(result.Message);
                if (result.Code == '1000') {
                    location.reload();
                }
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            },
            complete: function () { }
        });
    }

    //加入處理人員2
    function joinWorkerTwo() {
        var selectedEmpId = $('.cs-work2-select :selected').val();
        if (selectedEmpId == "") {
            alert("請選擇欲加入同仁!");
            return;
        }

        var empId = parseInt(selectedEmpId);
        var serviceNo = $('.csinfoNo').html();

        $.ajax({
            url: '@Url.Action("JoinWorkerTwo", "Member")',
            data: JSON.stringify({
                ServiceNo: serviceNo,
                UserId: empId
            }),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                alert(result.Message);
                if (result.Code == '1000') {
                    //$('.cs-work2-select-area').hide();
                    //$('.cs-work2-display-area').show();
                    location.reload();
                }
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            },
            complete: function () { }
        });
    }

    //通知我
    function NotifyWorker(notifyStatus) {
        var serviceNo = $('.csinfoNo').html();

        $.ajax({
            url: '@Url.Action("NotifyWorker", "Member")',
            data: JSON.stringify({
                ServiceNo: serviceNo,
                statusConvert: notifyStatus
            }),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                alert(result.Message);
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            },
            complete: function () { }
        });
    }

    //回覆對內訊息
    function saveInsideMessage() {
        if (!confirm("確定要更新案件?")) return;

        var category = $('.cs-category :selected').val();
        var subCategory = $('.cs-subcategory :selected').val();
        var insideMsg = $('.txtInsideMsg').val();

        if (category == '' || category == '0') {
            alert('請選擇問題分類!');
            $('.cs-category').focus();
            return;
        }
        if (subCategory == '' || subCategory == '0') {
            alert('請選擇問題主因!');
            $('.cs-subcategory').focus();
            return;
        }
        if ($('#rdCsStatus2').is(':checked') && insideMsg == '') {
            alert('請填寫備註資訊!');
            $('.txtInsideMsg').focus();
            return;
        }
        var priority = '';
        $('.rdCsPriority:checked').each(function (index, elem) {
            priority = $(elem).val();
        });
        var csstatus = '';
        $('.rdCsStatus:checked').each(function (index, elem) {
            csstatus = $(elem).val();
        });

        var data = new FormData();
        var files = $('#csInsideFile').prop('files');
        data.append('csFile', files[0]);

        var formData = new FormData();
        formData.append("serviceNo", $('.csinfoNo').html());
        formData.append("content", insideMsg);
        formData.append("images", files[0]);
        formData.append("priority", priority);
        formData.append("category", category);
        formData.append("subCategory", subCategory);
        formData.append("status", csstatus);

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveInsideMessage", "Member")',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result, status, xhr) {
                if (xhr.status == 200) {
                    if (result.Code == 1000) {
                        location.reload();
                    } else {
                        alert('儲存失敗，請稍後在試。');
                    }
                }
            },
            error: function (error) {
                alert('儲存失敗，請稍後在試。');
            }
        });

    }

    //回覆客人訊息
    function saveOutsideMessage() {
        if (!confirm("確定回覆客人訊息?")) return;

        var outsideMsg = $('.txtOutsideMsg').val();

        if (outsideMsg == '' && $('#csOutsideFile').val() == '') {
            alert('請輸入回覆內容或是上傳檔案!');
            $('.txtOutsideMsg').focus();
            return;
        }

        if ($("#csHiddenPost").val() != "" && $('#csHiddenPost').val() == $(".txtOutsideMsg").val()) {
            initialOutsideMessage();
            return;
        }
        var sendSms = '';
        $('.isSendSms:checked').each(function (index, elem) {
            sendSms = $(elem).val();
        });

        var data = new FormData();
        var files = $('#csOutsideFile').prop('files');
        data.append('csFile', files[0]);

        var formData = new FormData();
        formData.append("serviceNo", $('.csinfoNo').html());
        formData.append("customerTxtArea", outsideMsg);
        formData.append("method", sendSms); //簡訊
        formData.append("images", files[0]);
        @*formData.append("mailTo", '@csInfo.CustomerMail');
        formData.append("mobileTo", '@csInfo.CustomerMobile');*@

        $.ajax({
            type: "POST",
            url: "/ControlRoom/api/CustomerService/Upload",
            data: formData,
            contentType: false,
            processData: false,
            success: function (result, status, xhr) {
                if (xhr.status == 200) {
                    if (result.Code == 1000) {
                        //alert('儲存成功。');
                        $("#csHiddenPost").val(outsideMsg);
                        initialOutsideMessage();
                        location.reload();
                    } else {
                        alert('儲存失敗，請稍後在試。');
                        initialOutsideMessage();
                    }
                }
            },
            error: function () {
                alert('儲存失敗，請稍後在試。');
                initialOutsideMessage();
            }
        });
    }
    function initialOutsideMessage() {
        $(".txtOutsideMsg").val("");
        $(".csFile").val("");
    }

    //開啟罐頭
    function openCsSampleMessageBox()
    {
        getCsCategory();
        getCsSubcategory(1);
        getCsSampleMessage(2);
    }

    //取得罐頭問題分類
    function getCsCategory() {
        $.ajax({
            url: '@Url.Action("GetCsCategory", "Member")',
            data: JSON.stringify({}),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.Code == '1000') {
                    var category = result.Data;
                    $.each(category, function (i, item) {
                        $('.cs-pop-category').append($("<option></option>").attr("value", item.Key).text(item.Value));
                    });
                } else 
                {
                    alert('查詢問題分類失敗!');
                }
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            }
        });
    }

    //取得罐頭問題主因
    function getCsSubcategory(categoryId) {
        if (categoryId == 0) {
            $('.cs-pop-subcategory').append($("<option></option>").attr("value", '').text('請選擇'));
            return;
        }
        $.ajax({
            url: '@Url.Action("GetCsSubcategory", "Member")',
            data: JSON.stringify({
                CategoryId: categoryId
            }),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.Code == '1000') {
                    $('.cs-pop-subcategory').html('');
                    var subCategory = result.Data;
                    $.each(subCategory, function (i, item) {
                        $('.cs-pop-subcategory').append($("<option></option>").attr("value", item.Key).text(item.Value));
                    });
                } else 
                {
                    alert('查詢問題分類失敗!');
                }
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            }
        });
    }

    //取得罐頭訊息範本
    function getCsSampleMessage(categoryId) {
        if (categoryId == 0)
        {
            return;
        }
        $.ajax({
            url: '@Url.Action("GetCsSampleMessage", "Member")',
            data: JSON.stringify({
                CategoryId: categoryId
            }),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                $('.cs-pop-sample-msg > tbody').html('');
                if (result.Code == '1000') {
                    var sampleMsg = result.Data;
                    $.each(sampleMsg, function (i, item) {
                        $('.cs-pop-sample-msg > tbody').append(
                                    "<tr>" +
                                    "<td width='25%'>" + item.subject + "</td>" +
                                    "<td width='70%'><span class='csSample" + item.id + "'>" + item.content + "</span></td>" +
                                    "<td width='5%'>" +
                                        "<button class='btn btn-xs' onclick='setSampleMessage(" + item.id + ");'>選擇</button>" +
                                    "</td>" +
                                    "</tr>");
                    });
                }
                else {
                    $('.cs-pop-sample-msg > tbody')
                        .append(
                            "<tr>" +
                                "<td colspan='3'>" +
                                    "<div style='text-align: center;font-size: 16px;color:lightgray;margin: 15px 0 50px 0;'>" +
                                        "<span class='fa fa-info-circle'></span> 無資料" +
                                    "</div>" +
                                "</td>" +
                            "</tr>");
                }
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            }
        });
    }

    function setSampleMessage(id)
    {
        var element = '.csSample' + id.toString();
        var content = $(element).html();
        $('.txtOutsideMsg').val(content);
        $('.btnCloseCsSampleMessage').click();
    }

    //取得問題分類
    function changeCategory()
    {
        var categoryId = $('.cs-pop-category :selected').val();
        getCsSubcategory(categoryId);
        changeSubCategory();
    }

    //取得問題主因
    function changeSubCategory() {
        var subCategoryId = $('.cs-pop-subcategory :selected').val();
        getCsSampleMessage(subCategoryId);
    }

</script>
<div class="row">
<div class="col">
<span class="unit-title font-weight-bold text-danger">▍客服案件資訊</span>
<div class="unit">
@*關聯案件*@
@if (csInfo.RelationCase.Count > 0)
{ 
    <div class="RelationCaseInfo">
        <span class="cs-subtitle">▍訂單關聯案件</span>
        <table class="RelationCaseTable table">
            <thead class="thead-default">
            <tr>
                <th width="20%">案件編號</th>
                <th width="20%">案件處理狀態</th>
                <th width="20%">優先度</th>
                <th width="20%">建立時間</th>
                <th width="20%">處理人員</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var rc in csInfo.RelationCase)
            {
                <tr class="relation_case_row" csno="@rc.ServiceNo">
                    <td>
                        <a class="relation_case_no" href="javascript: void(0)" onclick="getServiceCase('@rc.ServiceNo')">@rc.ServiceNo</a>
                        @if (!string.IsNullOrEmpty(rc.ParentServiceNo) && rc.ServiceNo != rc.ParentServiceNo)
                        {
                            <span style="color:crimson;font-size:13px;">(接)</span>
                        }
                    </td>
                    <td>@rc.Status</td>
                    <td>@rc.Priority</td>
                    <td>@rc.CreateDate</td>
                    <td>@rc.ServicePeople</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

    <div class="caseData" style="display:none">
        <span class="cs-subtitle">▍案件資料</span>
        <div class="CustomerServiceInfo">

            <table class="CustomerServiceData table">
                <tr>
                    <td>
                        <div class="row">
                            <div class="col">案件編號：<span class="csinfoNo"></span><span style="color:crimson;font-size:13px;display:none">(接)</span></div>
                            <div class="col">案件狀態：<span class="csinfoData"></span><span class="csinfoStatus"></span>
                                <div class="cs-work2-select-area" style="display: inline">
                                    <button class="btn btn-primary btn-xs csinfoClaimCase" style="margin-left: 10px;display:none" onclick="ClaimCustomerServiceCase()">領取案件</button>
                                </div>
                            </div>
                            <div class="col">
                                處理人員 1：
                                <span class="csinfoData"></span>
                                <div class="cs-work1-display-area workerOne" style="display: inline">WorkerOne</div>
                                <button class="btnNotify btn btn-primary btn-xs" style="margin-left: 10px; display:none" onclick="NotifyWorker(@notifyStatus)">通知我</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col">
                                <span style="float:left">問題分類：</span>
                                <select class="cs-category cs-select form-control input-xs" style="width:60%;height: 25px;padding:1px" disabled></select>
                            </div>
                            <div class="col">
                                <span style="float:left">主 因：</span>
                                <select class="cs-subcategory cs-select form-control input-xs" style="width:80%;height: 25px;padding:1px"></select>
                            </div>
                            <div class="col">
                                處理人員 2：
                                <div class="cs-work2" style="display:inline">
                                    <div class="cs-work2-select-area" style="display:inline;">
                                        <select class="cs-work2-select cs-select form-control input-xs" style="width:120px;height: 25px;padding:1px;display:inline;"></select>
                                        <button class="Btn btn-primary btn-xs" style="margin-left: 10px;" onclick="joinWorkerTwo()">加入此同仁</button>
                                    </div>
                                    
                                    <!--else-->
                                    <span class="csinfoData"></span>
                                    <div class="cs-work2-display-area workerTwo" style="display:inline">WorkerTwo</div>
                                    <button class="btnSecNotify btn btn-primary btn-xs" style="margin-left: 10px;display:none" onclick="NotifyWorker(@secNotifyStatus)">通知我</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            @*問題等級*@
                            <div class="col">
                                問題等級：
                                <input class="rdCsPriority form-check-input cs-data-rd" type="radio" name="rdCsPriority" id="rdCsPriority1" value="0" >
                                <label class="form-check-label cs-data-lb" for="rdCsPriority1">一般</label>
                                <input class="rdCsPriority form-check-input cs-data-rd" type="radio" name="rdCsPriority" id="rdCsPriority2" value="1" >
                                <label class="form-check-label cs-data-lb" for="rdCsPriority2">急</label>
                                <input class="rdCsPriority form-check-input cs-data-rd" type="radio" name="rdCsPriority" id="rdCsPriority3" value="2" >
                                <label class="form-check-label cs-data-lb" for="rdCsPriority3" style="color: crimson">特急</label>
                            </div>

                            @*案件來源*@
                            <div class="col">
                                案件來源：
                                <input class="rdCsSource form-check-input cs-data-rd" type="radio" name="rdCsSource" id="rdCsSource1" value="0" disabled checked >
                                <label class="form-check-label cs-data-lb" for="rdCsSource1">線上詢問</label>
                                <input class="rdCsSource form-check-input cs-data-rd" type="radio" name="rdCsSource" id="rdCsSource2" value="1" disabled checked >
                                <label class="form-check-label cs-data-lb" for="rdCsSource2">來電</label>
                                <input class="rdCsSource form-check-input cs-data-rd" type="radio" name="rdCsSource" id="rdCsSource3" value="2" disabled checked >
                                <label class="form-check-label cs-data-lb" for="rdCsSource3">Mail</label>
                            </div>

                            @*案件處理*@
                            <div class="col">
                                案件處理：
                                <input class="rdCsStatus form-check-input cs-data-rd" type="radio" name="rdCsStatus" id="rdCsStatus1" value="1" checked >
                                <label class="form-check-label cs-data-lb" for="rdCsStatus1">處理中</label>
                                <input class="rdCsStatus form-check-input cs-data-rd" type="radio" name="rdCsStatus" id="rdCsStatus2" value="2" checked >
                                <label class="form-check-label cs-data-lb" for="rdCsStatus2">轉單</label>
                                <input class="rdCsStatus form-check-input cs-data-rd" type="radio" name="rdCsStatus" id="rdCsStatus3" value="4" checked >
                                <label class="form-check-label cs-data-lb" for="rdCsStatus3">已結案</label><br />
                                <div style="color: palevioletred;font-size: 12px;text-align:left;"> ※ 案件結案後客戶即無法再留言</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="row cs-message">
                @*商家與客服紀錄*@
                <div class="col">
                    <div class="cs-sub-message"><span class="cs-subtitle">▶ 商家 & 備註記錄 ◀</span></div>
                    <div>
                        <div class="vsVenderMessage" style="display:none;">
                            <div class="inside-msg-sample" style="display:none;">
                                <div class="row i-log-content-sample">
                                    <div class="col">
                                        <span class="csName">Name</span>
                                        <span class="csStatus csStatus-outline" style="display:none;">轉單</span>
                                        <span class="csStatus csStatus-default" style="display:none;">處理中</span>
                                        <span class="csCreateTime" style="float: right;">CreateTime</span>
                                        <div class="content-word">
                                            <span class="csContent">Content</span>
                                        </div>
                                        <div class="csAttachedFile" style="display:none">
                                            <span class="csDe">查看附件: </span>
                                            <a class="csAttachedUrl" href="" target="_blank"><span class="csFile">附件連結</span></a><br />
                                        </div>
                                        <span class="csInsideMemo">Memo</span>
                                    </div>
                                </div>
                            </div>
                            <span class="showInsideBtn" style="display: block; float: right"></span><br/>
                            <div class="inside-msg">
                                <!--內部訊息-->
                            </div>
                            <span class="showInsideBtn" style="display: block; float: right"></span>
                            <br/>
                        </div>
                        <div class="cs-push-msg-area">
                            ➥<span class="unit-sub-title font-weight-bold">回覆備註</span>&nbsp;&nbsp;&nbsp;(供內部人員及供應商查看)
                            <textarea class="form-control txtInsideMsg" rows="6" style="margin: 3px 0 3px 0;"></textarea>
                            <input class="btn btn-xs" type="file" id="csInsideFile" name="csInsideFile">
                            <br />
                            <button class="btn btn-primary btnSaveInsideMsg" onclick="saveInsideMessage()" style="margin: 20px 0 20px 0">回覆備註</button>
                        </div>
                    </div>
                </div>
                @*客人與客服紀錄*@
                <div class="col">
                    <div class="cs-sub-message"><span class="cs-subtitle">▶ 與客人對話 ◀</span></div>
                    <div class="">
                        <div class="vsCustomerMessage">
                            <div class="outside-msg-sample" style="display:none">
                                <div class="row o-log-content-sample">
                                    <div class="col">
                                        <span class="csName">Name</span>
                                        <span class="csStatus csStatus-default" style="display:none">客回</span>
                                        <span class="csCreateTime" style="float: right;">CreateTime</span>
                                        <div class="content-word">
                                            <span class="csContent">Content</span>
                                        </div>
                                        <div class="csAttachedFile" style="display:none">
                                            <span class="csDe">查看附件: </span>
                                            <a class="csAttachedUrl" href="" target="_blank"><span class="csFile">附件連結</span></a><br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="showOutsideBtn" style="display: block; float: right"></span><br/>
                            <div class="outside-msg">
                                <!--外部訊息-->
                            </div>
                            <span class="showOutsideBtn" style="display: block; float: right"></span>
                            <br/>
                        </div>
                        
                        <div class="cs-push-msg-area">
                            <input type="hidden" id="csHiddenPost">

                            <span class="unit-sub-title font-weight-bold" style="margin-right: 3px">是否發送簡訊</span>
                            <input class="isSendSms isSendSmsYes form-check-input" type="radio" name="questenLevel" id="isSendSmsYes" value="3">
                            <label class="form-check-label" for="isSendSmsYes" style="margin-right: 5px">是</label>
                            <input class="isSendSms isSendSmsNo form-check-input" type="radio" name="questenLevel" id="isSendSmsNo" value="1" checked>
                            <label class="form-check-label" for="isSendSmsNo" style="margin-right: 20px">否</label>
                            <button class="btn btn-xs" data-toggle="modal" data-placement="top" data-target="#PopCannedMessageModal"
                                    onclick="openCsSampleMessageBox()">
                                罐頭訊息飯粒
                            </button>
                            <br />
                            ➥<span class="unit-sub-title font-weight-bold" style="margin-right: 30px;">回覆內容</span>
                            <textarea class="form-control txtOutsideMsg" rows="6" style="margin: 3px 0 3px 0;"></textarea>
                            <input class="btn btn-xs" type="file" id="csOutsideFile" name="csOutsideFile">
                            <br />
                            <button class="btn btn-primary btnSaveOutsideMsg" onclick="saveOutsideMessage()" style="margin: 20px 0 20px 0">回覆備註</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
            

</div>
</div>
</div>

@*罐頭訊息範例*@
<div id="PopCannedMessageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="PopCannedMessageModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="PopCannedMessageModalLong">罐頭訊息範本</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="cs-sample-area">
                    <div class="row">
                        <div class="col-4">
                            <label for="cs-pop-category">問題分類：</label>
                            <select id="cs-pop-category" class="cs-pop-category cs-select" onchange="changeCategory()">
                                <!--由getCsCategory()取得資料-->
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="cs-pop-subcategory">主因：</label>
                            <select id="cs-pop-subcategory" class="cs-pop-subcategory cs-select" onchange="changeSubCategory()">
                                <!--由getCsSubCategory()取得資料-->
                            </select>
                        </div>
                    </div>
                    <br/>
                    <!--訊息-->
                    <table class="cs-pop-sample-msg table table-hover table-condensed">
                        <thead class="thead-default">
                            <tr>
                                <th class="th">訊息標題</th>
                                <th class="th">訊息內容</th>
                                <th class="th"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--由getCsSampleMessage()取得資料-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btnCloseCsSampleMessage" data-dismiss="modal">關 閉</button>
            </div>
        </div>
    </div>
</div>
