﻿@using System.Collections.ObjectModel
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.DataOrm
@using LunchKingSite.WebLib.Models.ControlRoom.Order
@using LunchKingSite.WebLib.Models.Mobile
@{
    PponProductInfo pponProductInfo = Model;
}
<div class="row">
    <div class="pponinfo col">
        <span class="unit-title font-weight-bold text-danger">▍商品資訊 × 退貨申請</span>
        <div class="unit">
            <span class="fa fa-angle-double-right"></span><span class="unit-sub-title font-weight-bold">商品資訊/選擇申退數量</span>
            <table class="table table-hover table-condensed">
                <thead class="thead-default">
                    <tr>
                        <th class="th">核取</th>
                        <th class="th">憑證編號</th>
                        <th class="th">確認碼</th>
                        <th class="th">狀態</th>
                        <th class="th">簡訊憑證</th>
                        <th class="th">預約申請時間</th>
                        <th class="th">預約時間</th>
                        <th class="th">預約狀態</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var coupon in pponProductInfo.PponInfos)
                    {
                        <tr>
                            @*核取*@
                            <td width="5%">
                                <input class="pponcheck" type="checkbox" value="@coupon.CouponId" @if (!coupon.IsCouponReturnable) {@Html.Raw("disabled")} 
                                    @if (coupon.IsPponChecked) {@Html.Raw("checked") }
                                />
                            </td>
                            @*憑證編號*@                                                                                                        
                            <td width="10%">
                                <a href="@coupon.CouponNavigateUrl" Target="_blank" title="查證/核銷/取消核銷 憑證">@coupon.SequenceNumber</a>
                            </td>
                            @*確認碼*@                                                                                                        
                            <td width="10%">@coupon.CouponCode</td>
                            @*狀態*@                                                                                                        
                            <td width="25%">@coupon.CouponStatusDesc</td>
                            @*簡訊憑證*@                                                                                                        
                            <td width="10%">
                                <span class="smsCount_@coupon.CouponId">@coupon.SmsSentCount</span> <button type="button" class="btn btn-primary btn-xs" onclick="sendSms(@coupon.CouponId)">發送</button>
                            </td>
                            @*預約申請時間*@                                                                                                        
                            <td width="15%">@coupon.ReservationCreateDate</td>
                            @*預約時間*@                                                                                                        
                            <td width="15%">@coupon.ReservationDateTime</td>
                            @*預約狀態*@                                                                                                        
                            <td width="10%">@coupon.ReservationStatus</td>
                        </tr>
                    }
                </tbody>
            </table>

            <span class="fa fa-angle-double-right"></span><span class="unit-sub-title font-weight-bold">申請退貨原因</span><br />
            <textarea id="txtReturnReason" class="form-control" rows="3"></textarea>
            <input id="isSCashOnly" type="checkbox" onchange="isShowAtmFillForm()"/>只退購物金 @*isShowAtmFillForm() in OrderDetail page*@
            <br />
            @if (pponProductInfo.IsNeedFillAtmInfoBeforeReturn)
            {
                Html.RenderAction("AtmFillForm", new { orderGuid = pponProductInfo.OrderGuid, buyerUserId = pponProductInfo.BuyerUserId });
            }                                                                                        
            <br />                                                                                                                        
            <button id="btnCreatePponReturnForm" type="button" class="btn btn-primary" onclick="createPponRefund()">建立退貨單</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
    });
    
    //憑證簡訊
    function sendSms(couponId) {
        $.blockUI({ message: '' });
        $.ajax({
            url: '@Url.Action("SendPponSms", "Member")',
            data: JSON.stringify({ couponId: couponId }),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.Code == '1000') {
                    $('.smsCount_' + couponId).html(result.Data);
                    alert(result.Message);
                } else {
                    alert(result.Message);
                }
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            },
            complete: function () {
                $.unblockUI();
            }
        });
    }

    function createPponRefund() {

        if ($('.pponcheck:checked').length == 0) {
            alert("無選取憑證!");
            return;
        }

        if ($('#txtReturnReason').val() == "") {
            //$('.r-reason-warning').css('visibility', 'visible');
            $('#txtReturnReason').focus();
            alert("請輸入申請原因!");
            return;
        }

        if (confirm('確定申請退貨，並建立退貨單嗎？')) {
            var couponIdList = [];
            $('.pponcheck:checked').each(function (index, elem) {
                couponIdList.push($(elem).val());
            });

            var isSCashOnly = $('#isSCashOnly').is(":checked");
            var refundReason = $('#txtReturnReason').val();
            
            $.blockUI({ message: '' });

            var data = {
                OrderGuid: '@pponProductInfo.OrderGuid',
                Bid: '@pponProductInfo.Bid',
                IsSCashOnly: isSCashOnly,
                RefundReason: refundReason,
                CouponIdList: couponIdList,
                BuyerUserId: '@pponProductInfo.BuyerUserId'
                
            };
            $.ajax({
                url: '@Url.Action("CreatePponRefund", "Member")',
                data: JSON.stringify(data),
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert(result.Message);
                    if (result.Code == '1000') {
                        location.reload();
                    }
                },
                error: function (result) {
                    if (result != null) {
                        alert(result.Message);
                    }
                    else {
                        alert('不明錯誤，請洽技術!');
                    }
                },
                complete: function () {
                    $.unblockUI();
                }
            });
        }
    }

    

</script>