﻿@using System.Collections.ObjectModel
@using iTextSharp.text
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.BizLogic.Model.Refund
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.DataOrm
@using LunchKingSite.WebLib.Models.ControlRoom.Order
@using LunchKingSite.WebLib.Models.Mobile
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();

    Guid orderGuid = ViewBag.OrderGuid;
    Guid bid = ViewBag.Bid;
    bool hasDispatched = ViewBag.HasDispatched;
    bool isIsp = ViewBag.IsIsp;
    string dealRestrictions = ViewBag.DealRestrictions;
    List<ShipCompany> shippingCompany = ViewBag.ShippingCompany;
    List<ProductShippingInfo> shippingInfos = Model;
}

<script type="text/javascript">
    $(function () {
        $('#txtShipDate').datetimepicker({
            dateFormat: 'yy/mm/dd',
            stepMinute: 0,
            showTimepicker: false,
            showButtonPanel: false
        });
    });

    function createShipOrder() {
        var logisticsCorpId = parseInt($('.selectedLogisticsCorp :selected').val());
        if (checkShipOrder(logisticsCorpId)) {
            if (confirm('確定新增出貨？')) {
                var shipDate = $('#txtShipDate').val();
                var shipNo = $('#txtShipNo').val();
                var shipmemo = $('#txtshipmemo').val();

                $.blockUI({ message: '' });
                $.ajax({
                    url: '@Url.Action("CreateOrderShip", "Member")',
                    data: JSON.stringify({
                        OrderGuid: '@orderGuid',
                        Bid: '@bid',
                        DispatchDate: shipDate,
                        TrackingNumber: shipNo,
                        LogisticsCorpId: logisticsCorpId,
                        ShippingMemo: shipmemo
                    }),
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        alert(result.Message);
                        if (result.Code == '1000') {
                            location.reload();
                        }
                    },
                    error: function (result) {
                        if (result != null) {
                            alert(result.Message);
                        }
                        else {
                            alert('不明錯誤，請洽技術!');
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    }
                });
                return true;
            }
        }
        return false;
    }

    //檢查出貨資訊
    function checkShipOrder(logisticsCorpId) {

        if ($('#txtShipDate').val() == "") {
            alert('請填出貨日!');
            return false;
        }
        else if ($('#txtShipNo').val() == "") {
            alert('請填物流編號!');
            return false;
        }
        else if (logisticsCorpId < 0) {
            alert("請選擇物流公司!");
            $('.selectedLogisticsCorp').focus();
            return false;
        }
        return true;
    }

    //切至編輯出貨資訊
    function editShippingInfo(orderShipId) {
        
        $('#editShipDate_' + orderShipId).datetimepicker({
            dateFormat: 'yy/mm/dd',
            stepMinute: 0,
            showTimepicker: false,
            showButtonPanel: false
        });

        $('.shippingInfoViewMode_' + orderShipId).hide();
        $('.shippingInfoEditMode_' + orderShipId).show();
    }

    //儲存編輯出貨資訊
    function saveShippingInfo(orderShipId) {
        var logisticsCorpId = parseInt($('.editLogisticsCorp_' + orderShipId + ' :selected').val());
        if (checkShipOrder(logisticsCorpId)) {
            var shipDate = $('#editShipDate_' + orderShipId).val();
            var shipNo = $('#editShipNo_' + orderShipId).val();
            var shipmemo = $('#editShipmemo_' + orderShipId).val();

            $.blockUI({ message: '' });
            $.ajax({
                url: '@Url.Action("UpdateOrderShip", "Member")',
                data: JSON.stringify({
                    OrderShipId: orderShipId,
                    DispatchDate: shipDate,
                    TrackingNumber: shipNo,
                    LogisticsCorpId: logisticsCorpId,
                    ShippingMemo: shipmemo,
                    Bid: '@bid',
                    OrderGuid: '@orderGuid'
                }),
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert(result.Message);
                    if (result.Code == '1000') {
                        location.reload();
                    }
                },
                error: function (result) {
                    if (result != null) {
                        alert(result.Message);
                    }
                    else {
                        alert('不明錯誤，請洽技術!');
                    }
                },
                complete: function () {
                    $.unblockUI();
                }
            });
        }
    }

    //刪除出貨資訊
    function deleteShippingInfo(orderShipId){
        if (confirm('確定刪除這筆出貨資訊？')) {
            $.blockUI({ message: '' });
            $.ajax({
                url: '@Url.Action("DeleteOrderShip", "Member")',
                data: JSON.stringify({ orderShipId: orderShipId }),
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert(result.Message);
                    if (result.Code == '1000') {
                        location.reload();
                    }
                },
                error: function (result) {
                    if (result != null) {
                        alert(result.Message);
                    }
                    else {
                        alert('不明錯誤，請洽技術!');
                    }
                },
                complete: function () {
                    $.unblockUI();
                }
            });
        }
    }

    //取消編輯出貨資訊
    function cancelEditShippingInfo(orderShipId){
        $('.shippingInfoViewMode_' + orderShipId).show();
        $('.shippingInfoEditMode_' + orderShipId).hide();
    }


    //超取歷程
    function getIspHistory() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetIspHistoryList", "Member")',
            data: JSON.stringify({
                orderGuid: '@orderGuid'
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var html = "";
                $.each(data, function (i, item) {
                    html +=
                        "<tr>" +
                        "<td width='40%'>" + item.deliveryTime + "</td>" +
                        "<td width='60%' >" + item.delvieryStatus + ': ' + item.delvieryDesc + "</td>" +
                        "</tr>";
                });
                $('.ispbody').html(html);
            },
            error: function () {
            }
        });
    }

</script>
<style>
    .shippinginfo table tbody tr td{
        font-size: 13px;
    }
</style>
<div class="row">
    <div class="productinfo col">
        <span class="unit-title font-weight-bold text-danger">▍商品配送資訊</span>
        <div class="unit">
            @if (isIsp || hasDispatched)
            {
            <div class="shippinginfo">
                <span class="fa fa-angle-double-right"></span><span class="unit-sub-title font-weight-bold">出貨資訊</span>
                <table class="table table-hover table-condensed">
                    <thead class="thead-default">
                        <tr>
                            <th class="th">建立日期</th>
                            <th class="th">出貨狀態</th>
                            <th class="th">出貨方式</th>
                            <th class="th">物流公司</th>
                            @if (isIsp)
                                {
                                <th class="th">超商門市</th>
                                }
                            <th class="th">物流編號</th>
                            @if (!isIsp)
                                {
                                <th class="th">出貨備註</th>
                                }
                            <th class="th">實際出貨日</th>
                            @if (!isIsp)
                            {
                                <th class="th">最後修<br/>改日期</th>
                                <th class="th">最後修改人</th>
                            }
                            <th class="th">管理</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var si in shippingInfos)
                        {
                            <tr>
                                @*建立日期*@
                                <td width="5%">
                                    @si.CreateDate
                                </td>
                                @*出貨狀態*@
                                @if (isIsp)
                                {
                                    <td width="19%">@si.ShippingStatusDesc</td>
                                }
                                else
                                {
                                    <td width="10%">@si.ShippingStatusDesc</td>
                                }

                                @*出貨方式*@
                                @if (isIsp)
                                {
                                    <td width="8%">@si.ShippingType</td>
                                }
                                else
                                {
                                    <td width="5%">@si.ShippingType</td>
                                }

                                @*物流公司*@
                                <td width="13%">
                                    <div class="shippingInfoViewMode_@si.OrderShipId">
                                        @si.ShippingCompanyName
                                    </div>
                                    <div class="shippingInfoEditMode_@si.OrderShipId" style="display:none;">
                                        <select class="editLogisticsCorp_@si.OrderShipId form-control input-sm" style="font-size:9px;">
                                            @if (si.ShippingCompanyId == -1)
                                            {
                                                <option value="-1" selected="selected">請選擇</option>
                                            }
                                            else
                                            {
                                                <option value="-1">請選擇</option>
                                            }

                                            @foreach (var sc in shippingCompany)
                                            {
                                                if (sc.Id == si.ShippingCompanyId)
                                                {
                                                    <option value="@sc.Id" selected="selected">@sc.ShipCompanyName</option>
                                                }
                                                else
                                                {
                                                    <option value="@sc.Id">@sc.ShipCompanyName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </td>
                                @if (isIsp)
                                {
                                    @*超商門市*@
                                    <td width="8%">@si.IspStoreName</td>
                                }
                                @*物流編號*@
                                <td width="14%">
                                    <div class="shippingInfoViewMode_@si.OrderShipId">
                                        @si.ShippingNo
                                    </div>
                                    <div class="shippingInfoEditMode_@si.OrderShipId" style="display:none">
                                        <input id="editShipNo" type="text" value="@si.ShippingNo" class="form-control input-sm d-inline" />
                                    </div>
                                </td>
                                @if (!isIsp)
                                {
                                    @*出貨備註*@
                                    <td width="22%">
                                        <div class="shippingInfoViewMode_@si.OrderShipId">
                                            @si.ShippingMemo
                                        </div>
                                        <div class="shippingInfoEditMode_@si.OrderShipId" style="display:none">
                                            <textarea id="editShipmemo_@si.OrderShipId" class="form-control" maxlength="30">@si.ShippingMemo</textarea>
                                            <span id="helpEditShipmemo_@si.OrderShipId" class="help-block d-inline" style="font-size:12px;">出貨備註只限最多 30 個字</span>
                                        </div>
                                    </td>
                                }
                                @*實際出貨日*@
                            <td width="14%">
                                    <div class="shippingInfoViewMode_@si.OrderShipId">
                                        @si.ActualShippingDate
                                    </div>
                                    <div class="shippingInfoEditMode_@si.OrderShipId" style="display: none">
                                        <input id="editShipDate_@si.OrderShipId" type="text" value="@si.ActualShippingDate" class="form-control input-sm d-inline" />
                                    </div>
                                </td>
                                @if (!isIsp)
                                {
                                    @*最後修改日期 *@
                                    <td width="8%">
                                        @si.OrderShipModifyTime
                                    </td>
                                    @*最後修改人*@
                                    <td width="4%">
                                        @si.OrderShipModifyId
                                    </td>
                                }
                                @if (isIsp)
                                {
                                    @*管理-超取*@
                                    <td width="8%">
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ispHistory" onclick="getIspHistory()">查詢歷程</button>
                                    </td>
                                }
                                else
                                {
                                    @*管理-宅配*@
                                    <td width="13%">
                                        <div class="shippingInfoViewMode_@si.OrderShipId">
                                            <button type="button" id="editShippingInfo" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" onclick="editShippingInfo(@si.OrderShipId)">編輯</button>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" onclick="deleteShippingInfo(@si.OrderShipId)">刪除</button>
                                        </div>
                                        <div class="shippingInfoEditMode_@si.OrderShipId" style="display:none">
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" onclick="saveShippingInfo(@si.OrderShipId)">儲存</button>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" onclick="cancelEditShippingInfo(@si.OrderShipId)">取消</button>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
            else
            {
            <div class="addshippinginfo">
                <span class="fa fa-angle-double-right"></span><span class="unit-sub-title font-weight-bold">新增出貨</span>
                    <table class="table">
                        <thead class="thead-default">
                            <tr>
                                <th class="th">出貨日期</th>
                                <th class="th">物流編號</th>
                                <th class="th">物流公司</th>
                                <th class="th">出貨備註</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            @*出貨日*@
                            <td width="20%">
                                <input id="txtShipDate" type="text" value="" class="form-control input-sm d-inline"/>
                            </td>
                            @*物流編號*@
                            <td width="20%">
                                <input id="txtShipNo" type="text" value="" class="form-control input-sm d-inline"/>
                            </td>
                            @*物流公司*@
                            <td width="20%">
                                <select class="selectedLogisticsCorp form-control input-sm">
                                    <option value="-1" selected="selected">請選擇</option>
                                    @foreach (var sc in shippingCompany)
                                    {
                                        <option value="@sc.Id">@sc.ShipCompanyName</option>
                                    }
                                </select>
                            </td>
                            @*出貨備註*@
                            <td width="40%">
                                <textarea id="txtshipmemo" class="form-control" maxlength="30"></textarea>
                                <span id="helpTxtshipmemo" class="help-block d-inline">出貨備註只限最多 30 個字</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: left">
                        <button type="button" class="btn btn-primary" onclick="createShipOrder()" style="margin: -35px 5px 15px 5px;">新增出貨</button>
                    </div>
            </div>
            }
            <div style="border-top-style: solid;border-top-color: Gainsboro; border-top-width:1px;">
                <span class="fa fa-angle-double-right"></span><span class="unit-sub-title font-weight-bold">配送權益</span><br />
                <div style="margin:5px 0 0 20px;font-size: 14px; line-height: 1.3;">@Html.Raw(dealRestrictions)</div>
            </div>
            
            <div class="modal fade" id="ispHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">超商取貨歷程</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">日期</th>
                                    <th scope="col">狀態</th>
                                </tr>
                                </thead>
                                <tbody class="ispbody">
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">關閉</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</div>


