﻿@using System.Collections.ObjectModel
@using iTextSharp.text
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.BizLogic.Model.Refund
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.ControlRoom.Order
@using LunchKingSite.WebLib.Models.Mobile
@{
    List<ReturnInfo> returnInfos = Model.ReturnInfos;
    List<ExchangeInfo> exchangeInfos = Model.ExchangeInfos;
    List<AuditHistory> auditReturnHistory = Model.AuditReturnHistory;
    List<ExchangeLog> exchangeHistory = Model.ExchangeHistory;

    Guid bid = ViewBag.Bid;
}
<style>
    .returnform table th, .exchangeinfo table th {
        font-size: 14px;
    }
    .returnform table tbody tr td, .exchangeinfo table tbody tr td, .auditreturnhistory table tbody tr td {
        font-size: 13px;
    }
    .subtitle {
        font-size: 16px;
        margin: 0 10px 0 20px;
        color: black;
    }
    .subtitle-space {
        font-size: 16px;
        margin: 0 10px 0 20px;
        color: lightgray;
        border: 1px;
        border-left-style: solid;
        border-left-color: lightgray;
    }
    .subtitle:hover {
        color: chocolate;
    }
    .subtitle-active {
        color: chocolate;
        border-bottom-style: solid;
        border-bottom-color: chocolate;
    }

</style>

<script type="text/javascript">
    $(function () {
        $('.subtitle').click(function () {
            $('.subtitle').removeClass('subtitle-active');
            $(this).addClass('subtitle-active');
            $('.gridarea').hide();
            var element = '.' + $(this).attr("for");
            $(element).show();
        });
    });

    //取消退貨
    function cancelReturn(refundId) {
        if (confirm('確定取消退貨嗎? 若已完成退款，將一併回收款項。')) {
            $.blockUI({ message: '' });
            $.ajax({
                url: '@Url.Action("CancelRefund", "Member")',
                data: JSON.stringify({
                    RefundId: refundId,
                    Bid: '@bid'
                }),
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert(result.Message);
                    if (result.Code == '1000') {
                        location.reload();
                    }
                },
                error: function (result) {
                    if (result != null) {
                        alert(result.Message);
                    }
                    else {
                        alert('不明錯誤，請洽技術!');
                    }
                },
                complete: function () {
                    $.unblockUI();
                }
            });
        }
    }


    //退貨-切至編輯出貨資訊
    function editReturnReceiver(id) {
        $('.returnInfoViewMode_' + id).hide();
        $('.returnInfoEditMode_' + id).show();
    }
    //退貨-取消編輯出貨資訊
    function cancelEditReturnReceiver(id) {
        $('.returnInfoViewMode_' + id).show();
        $('.returnInfoEditMode_' + id).hide();
    }

    //換貨-切至編輯出貨資訊
    function editExchangeReceiver(id) {
        $('.exchangeInfoViewMode_' + id).hide();
        $('.exchangeInfoEditMode_' + id).show();
    }
    //換貨-取消編輯出貨資訊
    function cancelEditExchangeReceiver(id) {
        $('.exchangeInfoViewMode_' + id).show();
        $('.exchangeInfoEditMode_' + id).hide();
    }

    //更新收件資訊
    function saveEditReceiver(isExchange, id) {
        var receiverName;
        var receiverAddress;
        if (isExchange) {
            receiverName = $('#editExchangeReceiverName_' + id).val();
            receiverAddress = $('#editExchangeReceiverAddress_' + id).val();
        }
        else {
            receiverName = $('#editReturnReceiverName_' + id).val();
            receiverAddress = $('#editReturnReceiverAddress_' + id).val();
        }

        $.blockUI({ message: '' });
        $.ajax({
            url: '@Url.Action("UpdateReceiver", "Member")',
            data: JSON.stringify({
                id: id,
                receiverName: receiverName,
                receiverAddress: receiverAddress,
                isExchange: isExchange
            }),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.Code == '1000') {
                    if (isExchange) {
                        $('.exchangeReceiverName_' + id).html(receiverName);
                        $('.exchangeReceiverAddress_' + id).html(receiverAddress);
                        $('.exchangeInfoViewMode_' + id).show();
                        $('.exchangeInfoEditMode_' + id).hide();
                    }
                    else {
                        $('.returnReceiverName_' + id).html(receiverName);
                        $('.returnReceiverAddress_' + id).html(receiverAddress);
                        $('.returnInfoViewMode_' + id).show();
                        $('.returnInfoEditMode_' + id).hide();
                    }
                }
                else {
                    alert(result.Message);
                }
            },
            error: function (result) {
                if (result != null) {
                    alert(result.Message);
                }
                else {
                    alert('不明錯誤，請洽技術!');
                }
            },
            complete: function () {
                $.unblockUI();
            }
        });
    }

    //退換貨功能
    function refundExchangeFunc(id, func) {
        var confirmMsg = '';
        var actionUrl = '';
        var data = '';
        switch (func)
        {
            case 'ProcessedVendorUnreturnable':
                confirmMsg = '確定復原廠商處理進度嗎?';
                actionUrl = '@Url.Action("ProcessedVendorUnreturnable", "Member")';
                data = JSON.stringify({ refundId: id });
                break;
            case 'RecoverVendorProgress':
                confirmMsg = '確定復原廠商處理進度嗎?';
                actionUrl = '@Url.Action("RecoverVendorProgress", "Member")';
                data = JSON.stringify({ refundId: id });
                break;
            case 'ImmediateRefund':
                confirmMsg = '確定要立即退貨嗎?';
                actionUrl = '@Url.Action("ImmediateRefund", "Member")';
                data = JSON.stringify({ refundId: id });
                break;
            case 'CancelExchange':
                confirmMsg = '確定取消換貨嗎?';
                actionUrl = '@Url.Action("CancelExchange", "Member")';
                data = JSON.stringify({ exchangeId: id });
                break;
            case 'CompleteExchange':
                confirmMsg = '確定完成換貨嗎?';
                actionUrl = '@Url.Action("CompleteExchange", "Member")';
                data = JSON.stringify({ exchangeId: id });
                break;
            case 'ScashToCash':
                confirmMsg = '退貨的購物金，將全數刷退或退ATM?';
                actionUrl = '@Url.Action("ScashToCash", "Member")';
                data = JSON.stringify({ refundId: id });
                break;
            case 'CashToSCash':
                confirmMsg = '確定轉退購物金?';
                actionUrl = '@Url.Action("CashToSCash", "Member")';
                data = JSON.stringify({ refundId: id });
                break;
            case 'RecoverToRefundScash':
                confirmMsg = '確定取消[退購物金轉刷退]狀態並回復為[退購物金]退貨已完成狀態?';
                actionUrl = '@Url.Action("RecoverToRefundScash", "Member")';
                data = JSON.stringify({ refundId: id });
                break;
            case 'UpdateAtmRefund':
                confirmMsg = '';
                actionUrl = '@Url.Action("ArtificialRefund", "Member")';
                data = JSON.stringify({ refundId: id });
                break;
            case 'ArtificialRefund':
                confirmMsg = '確定人工匯退?';
                actionUrl = '@Url.Action("ArtificialRefund", "Member")';
                data = JSON.stringify({ refundId: id });
                break;
            case 'ChangeToElcAllowance':
                confirmMsg = '確認此訂單將使用電子折讓?';
                actionUrl = '@Url.Action("ChangeToElcAllowance", "Member")';
                data = JSON.stringify({ refundId: id });
                break;
            case 'ChangeToPaperAllowance':
                confirmMsg = '確認此訂單將使用紙本折讓?';
                actionUrl = '@Url.Action("ChangeToPaperAllowance", "Member")';
                data = JSON.stringify({ refundId: id });
                break;
            case 'ReceivedCreditNote':
                confirmMsg = '確定本次申請的折讓單已回, 金額無誤?';
                actionUrl = '@Url.Action("ReceivedCreditNote", "Member")';
                data = JSON.stringify({ refundId: id });
                break;
            default:
                return;
        }

        if (confirm(confirmMsg) || confirmMsg == '') {
            $.blockUI({ message: '' });
            $.ajax({
                url: actionUrl,
                data: data,
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert(result.Message);
                    if (result.Code == '1000') {
                        location.reload();
                    }
                },
                error: function (result) {
                    if (result != null) {
                        alert(result.Message);
                    }
                    else {
                        alert('不明錯誤，請洽技術!');
                    }
                },
                complete: function () {
                    $.unblockUI();
                }
            });
        }
    }

    //換貨訊息更新
    function openExchangeMessage(id) {
        window.open("../Order/ExchangeMessage?id=" + id, "_blank", "toobar=no, location=no, directories=no, titlebar=no, toolbar=no, scrollbars=no, resizable=no, menubar=no, winth=100, height=300");
    }

</script>
<div class="row">
    <div class="productinfo col">
        @if (Model.IsCoupon)
        {
            <span class="unit-title font-weight-bold text-danger">▍退貨記錄</span>
        }
        else
        {
            <span class="unit-title font-weight-bold text-danger">▍退換貨記錄</span>
        }

        <div class="unit">
            <span class="returnbtn subtitle subtitle-active" for="returnform">退貨記錄</span>
            <span class="returnHistorybtn subtitle" for="auditreturnhistory">退貨歷程</span>
            @if (!Model.IsCoupon)
            {
                <span class="subtitle-space"></span>
                <span class="exchangebtn subtitle" for="exchangeinfo">換貨記錄</span>
                <span class="exchangeHistorybtn subtitle" for="auditexchangehistory">換貨歷程</span>
            }
            
            
            <br /><br />

            @*退貨記錄*@
        <div class="returnform gridarea">
        @if (!returnInfos.Any())
        {
            <div style="text-align: center;font-size: 16px;color:lightgray;margin: 15px 0 50px 0;">
                <span class="fa fa-info-circle"></span> 無資料
            </div>
        }
        else
        {
        <table class="table table-hover table-condensed">
        <thead class="thead-default">
        <tr>
            <th class="th">申請時間</th>
            <th class="th">商品規格</th>
            <th class="th">退貨原因</th>
            @if (!Model.IsCoupon)
            {
                <th class="th">收件人</th>
                <th class="th">收件地址</th>
            }
            <th class="th">廠商處<br/>理時間</th>
            @if (!Model.IsCoupon)
            {
                <th class="th">廠商處<br/>理進度</th>
            }
            <th class="th">退貨進度</th>
            <th class="th">完成退貨</th>
            <th class="th">功能</th>
            <th class="th">折讓單狀態</th>
            <th class="th">結案狀態</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var ri in returnInfos)
        {
            <tr class="p_item">
                @*申請時間*@
                <td width="7%">
                    @ri.CreateTime
                    <input id="pid" type="text" value="@ri.RefundId" disabled="disabled" style="display: none"/>
                </td>
                @*商品規格*@
                <td width="@(Model.IsCoupon ? Html.Raw("10%") : Html.Raw("18%"))">@Html.Raw(ri.ItemSpec)</td>
                @*退貨原因*@
                <td width="@(Model.IsCoupon ? Html.Raw("20%") : Html.Raw("7%"))">@ri.ReturnReason</td>
                @if (!Model.IsCoupon)
                {
                                    @*收件人*@
                    <td width="5%">
                        <div class="returnInfoViewMode_@ri.RefundId">
                            <span class="returnReceiverName_@ri.RefundId">@ri.ReceiverName</span>
                        </div>
                        <div class="returnInfoEditMode_@ri.RefundId" style="display: none">
                            <input id="editReturnReceiverName_@ri.RefundId" type="text" value="@ri.ReceiverName" class="form-control input-sm d-inline" style="width: 100px"/>
                        </div>
                    </td>
                                    @*收件地址*@
                    <td width="15%">
                        <div class="returnInfoViewMode_@ri.RefundId">
                            <span class="returnReceiverAddress_@ri.RefundId">@ri.ReceiverAddress</span>
                        </div>
                        <div class="returnInfoEditMode_@ri.RefundId" style="display: none">
                            <input id="editReturnReceiverAddress_@ri.RefundId" type="text" value="@ri.ReceiverAddress" class="form-control input-sm d-inline" style="width: 300px"/>
                        </div>
                    </td>
                }
                                @*處理時間*@<td width="7%">@ri.VendorProcessTime</td>
                @*處理進度*@
                @if (!Model.IsCoupon)
                {
                    <td width="7%">
                        <div class="returnInfoViewMode_@ri.RefundId">
                            @ri.VendorProcessStatus
                            @if (ri.UnreturnableProcessedVisible)
                            {
                                <button id="btnUnreturnableProcessed" type="button" class="btn btn-primary btn-xs"
                                        data-toggle="tooltip" data-placement="top" onclick="refundExchangeFunc(@ri.RefundId, 'ProcessedVendorUnreturnable')"
                                        title="標註已處理">已處理</button>
                            }
                            @if (ri.RecoverVisible)
                            {
                                <button id="btnRecover" type="button" class="btn btn-primary btn-xs"
                                        data-toggle="tooltip" data-placement="top" onclick="refundExchangeFunc(@ri.RefundId, 'RecoverVendorProgress')" 
                                        title="復原回未處理狀態">復原</button>
                            }
                        </div>
                        <div class="returnInfoEditMode_@ri.RefundId" style="display: none">

                        </div>
                    </td>
                }
                                @*退貨進度*@<td width="8%">@ri.RefundStatus</td>
                @*完成退貨*@
                <td width="@(Model.IsCoupon ? Html.Raw("10%") : Html.Raw("18%"))">@Html.Raw(ri.ReturnedItemSpec)</td>
                @*功能*@
                <td width="6%">
                    <div>
                        <div class="returnInfoViewMode_@ri.RefundId">
                            @{
                                if (ri.CancelRefundVisible)
                                {
                                    if (ri.CancelRefundEnable)
                                    {
                                        <button id="btnCancelRefund" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                                data-placement="top" onclick="cancelReturn(@ri.RefundId)">取消退貨</button>
                                    }
                                    else
                                    {
                                        <button id="btnCancelRefund" type="button" class="btn btn-primary btn-xs" disabled>取消退貨</button>
                                    }
                                }
                                if (ri.ImmediateRefundVisible)
                                {
                                    if (ri.ImmediateRefundEnable)
                                    {
                                        <button id="btnImmediateRefund" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top"
                                                onclick="refundExchangeFunc(@ri.RefundId, 'ImmediateRefund')">立即退貨</button>
                                    }
                                    else
                                    {
                                        <button id="btnImmediateRefund" type="button" class="btn btn-primary btn-xs" disabled>立即退貨</button>
                                    }
                                }
                                if (ri.UpdateAtmRefundVisible)
                                {
                                    <button id="btnUpdateAtmRefund" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                            data-placement="top" onclick="refundExchangeFunc(@ri.RefundId, 'UpdateAtmRefund')">
                                        已更新資料
                                    </button>
                                }
                                if (ri.ScashToCashVisible)
                                {
                                    <button id="btnSCashToCash" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                            data-placement="top" onclick="refundExchangeFunc(@ri.RefundId, 'ScashToCash')">購物金轉現金</button>
                                }
                                if (ri.CashToSCashVisible)
                                {
                                    <button id="btnCashToSCash" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                            data-placement="top" onclick="refundExchangeFunc(@ri.RefundId, 'CashToSCash')">轉退購物金</button>
                                }
                                if (ri.RecoverToRefundScashVisible)
                                {
                                    <button id="btnRecoverToRefundScash" type="button" class="btn btn-primary btn-xs"
                                            data-toggle="tooltip" data-placement="top"
                                            onclick="refundExchangeFunc(@ri.RefundId, 'RecoverToRefundScash')">[回復]轉退購物金</button>
                                }
                                if (ri.ArtificialRefundVisible)
                                {
                                    <button id="btnArtificialRefund" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                            data-placement="top" onclick="refundExchangeFunc(@ri.RefundId, 'ArtificialRefund')">
                                        人工退匯
                                    </button>
                                }
                                if (ri.EditReceiverVisible)
                                {
                                    <button id="btnEditReceiver" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                            data-placement="top" onclick="editReturnReceiver(@ri.RefundId)">編輯收件資訊</button>
                                }
                            }
                        </div>
                        <div class="returnInfoEditMode_@ri.RefundId" style="display: none">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top"
                                    onclick="saveEditReceiver(false, @ri.RefundId)">更新</button>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top"
                                    onclick="cancelEditReturnReceiver(@ri.RefundId)">取消</button>
                        </div>
                    </div>
                </td>
                @*折讓單狀態*@
                <td width="6%">
                    <div class="returnInfoViewMode_@ri.RefundId">
                        @ri.AllowanceDesc
                        @{
                            <br/>
                            if (ri.ChangeToElcAllowanceVisible)
                            {
                                if (ri.ChangeToElcAllowanceEnable)
                                {
                                    <button id="btnChangeToElcAllowance" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                            data-placement="top" onclick="refundExchangeFunc(@ri.RefundId, 'ChangeToElcAllowance')">改用電子折讓</button>
                                }
                                else
                                {
                                    <button id="btnChangeToElcAllowance" type="button" class="btn btn-primary btn-xs" disabled>改用電子折讓</button>
                                }
                            }
                            if (ri.ChangeToPaperAllowanceVisible)
                            {
                                if (ri.ChangeToPaperAllowanceEnable)
                                {
                                    <button id="btnChangeToPaperAllowance" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                            data-placement="top" onclick="refundExchangeFunc(@ri.RefundId, 'ChangeToPaperAllowance')">改用紙本折讓</button>
                                }
                                else
                                {
                                    <button id="btnChangeToPaperAllowance" type="button" class="btn btn-primary btn-xs" disabled>改用紙本折讓</button>
                                }
                            }
                            if (ri.ReceivedCreditNoteVisible)
                            {
                                if (ri.ReceivedCreditNoteEnable)
                                {
                                    <button id="btnReceivedCreditNote" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                                            data-placement="top" onclick="refundExchangeFunc(@ri.RefundId, 'ReceivedCreditNote')">折讓單已回</button>
                                }
                                else
                                {
                                    <button id="btnReceivedCreditNote" type="button" class="btn btn-primary btn-xs" disabled>折讓單已回</button>
                                }
                            }
                        }
                    </div>
                    <div class="returnInfoEditMode_@ri.RefundId" style="display: none">

                    </div>
                </td>
                @*結案狀態*@
                <td width="5%">@Html.Raw(ri.FinishDescription)</td>
            </tr>
                            }
        </tbody>
        </table>
        }
        </div>
            
            @*換貨記錄*@
        <div class="exchangeinfo gridarea" style="display: none">
            
            @if (!exchangeInfos.Any())
            {
                <div style="text-align: center;font-size: 16px;color:lightgray;margin: 15px 0 50px 0;">
                    <span class="fa fa-info-circle"></span> 無資料
                </div>
            }
            else
            {
            <table class="table table-hover table-condensed">
                <thead class="thead-default">
                <tr>
                    <th class="th">申請時間</th>
                    <th class="th">換貨原因</th>
                    <th class="th">收件人</th>
                    <th class="th">收件地址</th>
                    <th class="th">處理時間</th>
                    <th class="th">處理進度</th>
                    <th class="th">功能</th>
                    <th class="th">結案狀態</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var ei in exchangeInfos)
                {
                    <tr class="p_item">
                        @*申請時間*@
                        <td width="7%">
                            @ei.CreateTime
                            <input id="eid" type="text" value="@ei.ExchangeId" disabled="disabled" style="display: none"/>
                        </td>
                        @*換貨原因*@
                        <td width="30%">@Html.Raw(ei.ExchangeReason)</td>
                        @*收件人*@
                        <td width="6%">
                            <div class="exchangeInfoViewMode_@ei.ExchangeId">
                                <span class="exchangeReceiverName_@ei.ExchangeId">@ei.ReceiverName</span>
                            </div>
                            <div class="exchangeInfoEditMode_@ei.ExchangeId" style="display: none">
                                <input id="editExchangeReceiverName_@ei.ExchangeId" type="text" value="@ei.ReceiverName" class="form-control input-sm d-inline" style="width: 100px"/>
                            </div>
                        </td>
                        @*收件地址*@
                        <td width="21%">
                            <div class="exchangeInfoViewMode_@ei.ExchangeId">
                                <span class="exchangeReceiverAddress_@ei.ExchangeId">@ei.ReceiverAddress</span>
                            </div>
                            <div class="exchangeInfoEditMode_@ei.ExchangeId" style="display: none">
                                <input id="editExchangeReceiverAddress_@ei.ExchangeId" type="text" value="@ei.ReceiverAddress" class="form-control input-sm d-inline" style="width: 300px"/>
                            </div>
                        </td>
                        @*廠商處理時間*@
                        <td width="7%">@ei.VendorProcessTime</td>
                        @*廠商處理進度*@
                        <td width="10%">@ei.VendorProcessStatus</td>
                        @*功能*@
                        <td width="5%">
                            <div class="exchangeInfoViewMode_@ei.ExchangeId">
                                @if (ei.ExchangeMessageVisible)
                                {
                                    <button id="btnExchangeMessage" type="button" class="btn btn-primary btn-xs"
                                            onclick="openExchangeMessage(@ei.ExchangeId)">訊息更新</button>
                                }
                                @if (ei.CancelExchangeVisible)
                                {
                                    <button id="btnCancelExchange" type="button" class="btn btn-primary btn-xs"
                                            onclick="refundExchangeFunc(@ei.ExchangeId, 'CancelExchange')">取消換貨</button>
                                }
                                @if (ei.CompleteExchangeVisible)
                                {
                                    <button id="btnCompleteExchange" type="button" class="btn btn-primary btn-xs"
                                            onclick="refundExchangeFunc(@ei.ExchangeId, 'CompleteExchange')" title="確認換貨完成壓結案">確認完成</button>
                                }
                                @if (ei.UpdateOrderShipVisible)
                                {
                                    <button id="btnUpdateOrderShip" type="button" class="btn btn-primary btn-xs">出貨資訊</button>
                                }
                                @if (ei.EditExchangeReceiverVisible)
                                {
                                    <button id="btnEditExchangeReceiver" type="button" class="btn btn-primary btn-xs"
                                            onclick="editExchangeReceiver(@ei.ExchangeId)">編輯收件資訊</button>
                                }
                            </div>
                            <div class="exchangeInfoEditMode_@ei.ExchangeId" style="display: none">
                                <button type="button" value="更新" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top"
                                        onclick="saveEditReceiver(true, @ei.ExchangeId)">
                                    更新
                                </button>
                                <button type="button" value="取消" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top"
                                        onclick="cancelEditExchangeReceiver(@ei.ExchangeId)">
                                    取消
                                </button>
                            </div>
                        </td>
                        @*結案狀態*@
                        <td width="6%">@Html.Raw(ei.FinishDescription)</td>
                    </tr>
                }
                </tbody>
            </table>
            }
        </div>

            @*退貨歷程*@
        <div class="auditreturnhistory gridarea" style="display: none">
            @if (!auditReturnHistory.Any())
            {
                <div style="text-align: center;font-size: 16px;color:lightgray;margin: 15px 0 50px 0;">
                    <span class="fa fa-info-circle"></span> 無資料
                </div>
            }
            else
            {
                <table class="table table-hover table-condensed">
                    <thead class="thead-default">
                    <tr>
                        <th class="th">日期</th>
                        <th class="th">訊息</th>
                        <th class="th">建立者</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var ah in auditReturnHistory)
                    {
                        <tr class="p_item">
                            @*日期*@
                            <td width="18%">@ah.CreateTime</td>
                            @*訊息*@
                            <td width="70%">@ah.Message</td>
                            @*建立者*@
                            <td width="12%">@ah.CreateId</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
            
            @*換貨歷程*@
            <div class="auditexchangehistory gridarea" style="display: none">
                @if (!exchangeHistory.Any())
                {
                    <div style="text-align: center;font-size: 16px;color:lightgray;margin: 15px 0 50px 0;">
                        <span class="fa fa-info-circle"></span> 無資料
                    </div>
                }
                else
                {
                <table class="table table-hover table-condensed">
                    <thead class="thead-default">
                    <tr>
                        <th class="th">日期</th>
                        <th class="th">結案狀態</th>
                        <th class="th">廠商處理進度</th>
                        <th class="th">訊息</th>
                        <th class="th">建立者</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var eh in exchangeHistory)
                    {
                        <tr class="p_item">
                            @*日期*@
                            <td width="18%">@eh.CreateTime</td>
                            @*結案狀態*@
                            <td width="18%">@eh.Status</td>
                            @*廠商處理進度*@
                            <td width="18%">@eh.VendorProgressStatus</td>
                            @*訊息*@
                            <td width="70%">@eh.Message</td>
                            @*建立者*@
                            <td width="12%">@eh.CreateId</td>
                        </tr>
                    }
                    </tbody>
                </table>
                }
            </div>

        </div>

    </div>
</div>
