@charset "utf-8";
/* CSS Document */
.SubTitle { font-size: 18px; }
hr { border-top:none; border-bottom:1px dotted #000; }
.ReturnApplicationForm {
	height: auto;
	width: 750px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #333;
}
.ReAppFoTop {
	width: 740px;
	margin: 5px auto;
	padding-top: 5px;
	height: 75px;
	font-size: 35px;
	color: #FFF;
	background-color: #646464;
	font-family: "微軟正黑體";
	text-align: center;
	font-weight: bold;
}
.ReAppFoInfo {
	height: auto;
	margin: 0 auto;
	width: 725px;
}
.ReAppFoContent1 {
	width: 725px;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	line-height: 25px;
}
.ReAppFoTittle {
	font-family: "微軟正黑體";
	font-size: 20px;
	font-weight: bold;
	color: #000;
	line-height: 37px;
	border-bottom: 1px dashed #333;
}
.ReAppFoSecondTi {
	font-family: "微軟正黑體";
	font-size: 17px;
	color: #000;
	letter-spacing: 0.1em;
	line-height: 28px;
	margin-left: 19px;
	width: 685px;
}
.ReAppFo{
	margin-bottom: 0;
	font-size: 14px;
}
.ReAppFoText{
	line-height:20px;
	font-weight:bold;
	font-size:15px;
	margin-left: 27px;
	color: #FFF;
	background-color: #646464;
}
.ReAppFo ul{
	width: 650px;
	margin-top: 0px;
}
.ReAppFo li{
	list-style-position: outside;
	width: 650px;
	margin-top: 5px;
	margin-bottom: 7px;
	line-height: 22px;
	list-style-type: none;
}
.ReAppFoTwoTable {
	width: 670px;
	margin:auto auto 5px auto;
	font-size: 14px;
	border: 1px solid #333;
	line-height: 23px;
}
.ReAppFoTwoTable td{
	border-right: 1px dotted #666;
	border-bottom: 1px solid #999;
}
.ReAppFoTwoTable2 {
	width: 670px;
	margin:12px auto;
	font-size: 15px;

}
.SignatureTeMark{
	font-family:"微軟正黑體";
	font-size:16px;
	background:#646464;
	color:#FFF;
	text-align: center;
	padding:10px 0;
	margin:10px auto;
	font-weight: bold;
}
.ReAppFoContent2 {
	width: 725px;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	line-height: 25px;
	height: 190px;
}
.ReAppFoContent2 ul{
	list-style-type: none;
	margin-left: -3px;
	margin-top: 7px;
}
.ReAppFoContent2 li{
	list-style-type: none;
	line-height: 27px;
}
.ReAppFoContent3 {
	width: 725px;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	line-height: 25px;
}
.ReAppFoCont3Table {
	width: 725px;
	border: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 8px;
	font-size: 13px;
	color: #000;
	font-family: "微軟正黑體";
	line-height: 20px;
}
.ReAppFoCont3Table1_1{
	width: 368px;
	margin-left: 9px;
	border: 1px solid #000;
	line-height: 21px;
}
.ReAppFoCont3Table1_1 td{
	border-top: 1px solid #000;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px dotted #666;
}
.ReAppFoCont3Table1_2{
	width: 705px;
	margin:3px auto;
	border: 1px solid #000;
}
.ReAppFoCont3Table1_2 td{
	border-top: 1px solid #000;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px dotted #666;
	text-align: center;
}
.ReAppFoCont3Table1_3{
	width: 725px;
	border-top: 1px dotted #666;
}
.ReAppFoText1{
	margin-left:10px;
	font-size:14px;
	font-weight:bold;
	font-family: "微軟正黑體";
	color: #506A00;
	line-height: 19px;
}
.ReAppFoSitBlockOut {
	width: 711px;
	border: 6px solid #000;
	margin-top: 5px;
	height: 70px;
}
.ReAppFoSitBlockTable {
	width: 707px;
	margin:2px auto;
	border: 1px solid #000;
	height: 66px;
}
.ReAppFoFooterTable {
	width: 730px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	line-height: 21px;
}
.ReAppFoFooterTeMark{
	font-family:"微軟正黑體";
	font-size:17px;
	color:#FFF;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
}
.ReAppFoInvoice{
	width:725px;
	padding-bottom: 5px;
}
/*---斷行---*/
.ReAppFpOffLine {
	page-break-after: always;
	width: 725px;
}
/*---斷行---*/
