@charset "utf-8";
.Returns {
	width: 940px;
	margin: 20px auto;
	float: left;
	background-color: #ECE7E4;
	border: 10px solid #FAFAFA;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	letter-spacing: 0.8px;
	color: #414141;
	font-size: 13px;
}
.Returns > h1 { font-size: 18px; line-height: 3.26em; margin: 0 0 0 20px; color: #414141; }
.Returns h2 { font-size: 15px; line-height: 27px; color: #414141; }
.Returns hr { margin: 0 20px; width: 900px; }
.Returns p { font-size: 13px; line-height: 22px; }
.Returns article { margin: 20px 0 20px 100px; width: 740px; }
.SearchBar input { width: 70%; height: 26px; }
.Returns select { height: 30px; }
.Returns .Notice { color: #E12626; padding-left: 5px; text-align: center; }
.Returns .ButtonBox { width: 100%; margin: 20px auto; text-align: center; }
.Returns .ButtonBox a { color: white; text-decoration: none; }
.Returns .TitleArrow {
	width: 7px;
	height: 13px;
	margin: 0 10px;
	background: url(Arrow.png) no-repeat;
	display: inline-block;
}
.Returns .ExtraLink { width: 100%; text-align: center; margin-top: -10px; }
.Returns .InnerContent { width: 100%; padding: 10px 10px 0 10px; border: 1px dashed #C8C8C8; }
.Returns ul { list-style-type: none; color: #B37B53; font-size: 13px; line-height:22px; }
.Returns .FormName { width:90px; height:26px; color:#414141; display:inline-block; }
.Returns label { color:#414141; }