﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.Core
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model ShipOrderListModel
@{
    Layout = "~/Views/Shared/ShipMiddleLayout.cshtml";
}
<div class="OW-w10-3-ShippDetial">
    <div class="w10-5-ShippOnlineInventory">
        @if (Model.IsResultEmpty)
        {
            <div class="w10-8-noResult textSize15">您目前沒有需管理的換貨。</div>
        }
        else
        {
            <div class="OW-w10-9-SearchBar textSize15">
                <div id="divViewReturnProcess" class="w10-9-AllPendingTab-on" onclick="window.location.href='@Url.Action("ExchangeOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "viewVendorProgressState", ViewVendorProgressState.Process))'">待處理</div>
                <div id="divViewReturnFinished" class="w10-9-CompletedTab" onclick="window.location.href='@Url.Action("ExchangeOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "viewVendorProgressState", ViewVendorProgressState.Finished))'">已完成</div>
                <div id="divSearchArea">
                    <form action="@Url.Action("ExchangeOrderList", "VendorBillingSystemShip")" method="get">
                        <span>待處理搜尋：</span>
                        <select class="textSize15" name="selQueryOption" id="selQueryOption">
                            <option value="orderId" @Html.Raw(Request["selQueryOption"] == "orderId" ? "selected" : "")>訂單編號</option>
                            <option value="recipientName" @Html.Raw(Request["selQueryOption"] == "recipientName" ? "selected" : "")>收件姓名</option>
                            <option value="recipientTel" @Html.Raw(Request["selQueryOption"] == "recipientTel" ? "selected" : "")>收件電話</option>
                        </select>
                        <input type="text" class="w10-3Input textSize15" id="queryKeyWord" name="queryKeyWord" value="@Request["queryKeyWord"]">
                        <button type="submit" class="w10-3-SearchBtn">搜尋</button>
                        @if (!string.IsNullOrEmpty(Request["queryKeyWord"]) && Model.ExchangeOrderPagerInfos.Count == 0)
                {
                            <div class="w10-3-Prompt textSize13">查無訂單，可能已經完成退貨。</div>
                        }
                    </form>
                </div>
            </div>
            if (Model.ExchangeOrderPagerInfos.Count > 0)
            {
                <table border="0" cellspacing="0" cellpadding="0" class="w10-5-DetailedListTable textSize13">
                    <caption>
                        標示說明：
                        <img class="w10-9-warnImg" src='@Url.Content("~/Themes/OWriteOff/error_go.png")' width="16" height="16" />前往換貨中&nbsp;&nbsp;&nbsp;
                        <img class="w10-9-warnImg" src='@Url.Content("~/Themes/OWriteOff/error_delete.png")' width="16" height="16" />任何原因無法完成換貨處理
                    </caption>
                    <tbody>
                        @{
                            var sortHeaders = MvcUtility.GenerateSortColumns(
                                VbsExchangeOrderListInfo.Columns.Names,
                                Model.ExchangeOrderPagerInfos.SortColumn,
                                Model.ExchangeOrderPagerInfos.SortDescending, this.ViewContext);
                        }
                        <tr class="w10-5-OrderGrayTitle">
                            <td width="90" class="@sortHeaders[VbsExchangeOrderListInfo.Columns.OrderId].UpDown sort-initial">
                                <a href="@sortHeaders[VbsExchangeOrderListInfo.Columns.OrderId].Url" style="width:100%; display:inline-block">訂單編號</a>
                            </td>
                            <td width="60" class="@sortHeaders[VbsExchangeOrderListInfo.Columns.RecipientName].UpDown sort-initial">
                                <a href="@sortHeaders[VbsExchangeOrderListInfo.Columns.RecipientName].Url" style="width:100%; display:inline-block">收件人姓名</a>
                            </td>
                            <td width="70" class="@sortHeaders[VbsExchangeOrderListInfo.Columns.RecipientTel].UpDown sort-initial">
                                <a href="@sortHeaders[VbsExchangeOrderListInfo.Columns.RecipientTel].Url" style="width:100%; display:inline-block">收件人電話</a>
                            </td>
                            <td width="70" class="@sortHeaders[VbsExchangeOrderListInfo.Columns.ShipTime].UpDown sort-initial">
                                <a href="@sortHeaders[VbsExchangeOrderListInfo.Columns.ShipTime].Url" style="width:100%; display:inline-block">出貨日期</a>
                            </td>
                            <td width="80" class="@sortHeaders[VbsExchangeOrderListInfo.Columns.ExchangeApplicationTime].UpDown sort-initial">
                                <a href="@sortHeaders[VbsExchangeOrderListInfo.Columns.ExchangeApplicationTime].Url" style="width:100%; display:inline-block">換貨申請日</a>
                            </td>
                            <td width="240" class="@sortHeaders[VbsExchangeOrderListInfo.Columns.ExchangeReason].UpDown sort-initial">
                                <a href="@sortHeaders[VbsExchangeOrderListInfo.Columns.ExchangeReason].Url" style="width:100%; display:inline-block">原因與備註</a>
                            </td>
                            <td width="160" class="@sortHeaders[VbsExchangeOrderListInfo.Columns.ExchangeMessage].UpDown sort-initial">
                                <a href="@sortHeaders[VbsExchangeOrderListInfo.Columns.ExchangeMessage].Url" style="width:100%; display:inline-block">最近一次訊息內容</a>
                            </td>
                            <td width="100" class="@sortHeaders[VbsExchangeOrderListInfo.Columns.VendorProgressStatus].UpDown sort-initial">
                                <a href="@sortHeaders[VbsExchangeOrderListInfo.Columns.VendorProgressStatus].Url" style="width:100%; display:inline-block">換貨管理</a>
                            </td>
                        </tr>
                        @{
                            var i = Model.ExchangeOrderPagerInfos.PageSize * (Model.ExchangeOrderPagerInfos.CurrentPage - 1);
                            var shipProcessHref = string.Empty;

                            foreach (var m in Model.ExchangeOrderPagerInfos)
                            {
                                //換貨管理完成:廠商已維護退貨單完成，請客服或COD確認
                                bool isExchangeComplete = (m.VendorProgressStatus.Equals(ExchangeVendorProgressStatus.ExchangeCompleted))
                                                            ? true
                                                            : false;
                                //客服已確認換貨完成 or 取消換貨 or 換貨失敗(舊版換貨):不能使用復原功能
                                bool isExchangeClose = (m.ExchangeStatus.Equals(OrderReturnStatus.ExchangeSuccess) ||
                                                        m.ExchangeStatus.Equals(OrderReturnStatus.ExchangeCancel) ||
                                                        m.ExchangeStatus.Equals(OrderReturnStatus.ExchangeFailure))
                                                        ? true
                                                        : false;
                                string shipTime = m.ShipTime.HasValue ? m.ShipTime.Value.ToString("yyyy/MM/dd") : string.Empty;
                                shipProcessHref = Url.Action("ShipOrderList", "VendorBillingSystemShip", new { id = Model.DealSaleInfo.DealId, type = Model.DealSaleInfo.DealType, selQueryOption = "orderId", queryKeyWord = m.OrderId });

                                <tr style='background-color:@Html.Raw(i % 2 == 0 ? "#FFFFFF" : "#FEF2ED")'>
                                    <td height="40" class="smallT10">
                                        @if (!isExchangeComplete && !isExchangeClose)
                                        {
                                            <a href='@shipProcessHref' id="ahref@(m.ExchangeLogId)">@m.OrderId</a>
                                        }
                                        else
                                        {
                                            @m.OrderId
                                        }
                                    </td>
                                    <td>@m.RecipientName</td>
                                    <td class=" TDPaddingLef">@m.RecipientTel</td>
                                    <td>
                                        <div id="divShipTime@(m.ExchangeLogId)">
                                            @if (!string.IsNullOrEmpty(shipTime))
                                            {
                                                @shipTime
                                            }
                                            else
                                            {
                                                @:未出貨
                                            }
                                        </div>
                                    </td>
                                    <td>@m.ExchangeApplicationTime.ToString("yyyy/MM/dd")</td>
                                    <td class="textLeft TDPaddingLef">@Html.Raw(m.ExchangeReason)</td>
                                    <td class="textLeft TDPaddingLef">@Html.Raw(m.ExchangeMessage)</td>
                                    <td>
                                        @if (!isExchangeComplete && !isExchangeClose)
                                        {
                                            string exchangeProcessHref = Url.Action("ExchangeOrderProcess", new { id = Model.DealSaleInfo.DealId, type = Model.DealSaleInfo.DealType, orderId = m.OrderId });
                                            //出貨日期有填 且  出貨日期小於等於系統日期 視為已出貨 連結到退貨管理頁進行管理
                                            if (m.ShipTime.HasValue && m.ShipTime <= DateTime.Now.Date)
                                            {
                                                <input type="button" class="ow-bk-nextbtn ow-bk-list-ditlbtn" value="換貨管理" onclick='@string.Format("window.location.href='{0}'", exchangeProcessHref)' />
                                                if (m.VendorProgressStatus.Equals(ExchangeVendorProgressStatus.ExchangeProceed))
                                                {
                                                    <img class="w10-9-warnImg" src='@Url.Content("~/Themes/OWriteOff/error_go.png")' width="16" height="16" />
                                                }
                                                else if (m.VendorProgressStatus.Equals(ExchangeVendorProgressStatus.UnExchangeable))
                                                {
                                                    <img class="w10-9-warnImg" src='@Url.Content("~/Themes/OWriteOff/error_delete.png")' width="16" height="16" />
                                                }
                                            }
                                            //出貨日期未填 或 出貨日期大於系統日期 視為未出貨 直接進行未出貨退貨作業
                                            else
                                            {
                                                @:尚未完成出貨；無法進行換貨管理
                                            }
                                        }
                                        else
                                        {
                                            string returnCompletedStatus = string.Empty;
                                            switch (m.VendorProgressStatus)
                                            {
                                                case ExchangeVendorProgressStatus.ExchangeCompleted:
                                                    returnCompletedStatus = "換貨已完成";
                                                    break;

                                                case ExchangeVendorProgressStatus.Unknown:
                                                    returnCompletedStatus = string.Format("{0}-客服已處理", Helper.GetLocalizedEnum(Resources.Localization.ResourceManager, m.ExchangeStatus));
                                                    break;

                                                default:
                                                    returnCompletedStatus = Helper.GetLocalizedEnum(Resources.Localization.ResourceManager, m.VendorProgressStatus);
                                                    break;
                                            }

                                            if (m.ExchangeStatus.Equals(OrderReturnStatus.ExchangeCancel))
                                            {
                                                returnCompletedStatus = "取消換貨";
                                            }
                                            <span id="spnReturnStatus@(m.ExchangeLogId)">@returnCompletedStatus</span>
                                            //取消退貨 或客服已確認換貨完成 不能進行換貨復原作業
                                            if (!isExchangeClose)
                                            {
                                                <input id="btnRecover@(m.ExchangeLogId)" type="button" class="ow-bk-nextbtn-yellow ow-bk-list-ditlbtn" value="復原" onclick='@string.Format("btnRecover_Click({0})", m.ExchangeLogId)' />
                                            }
                                        }
                                    </td>
                                </tr>

                                i++;
                            }
                        }
                    </tbody>
                </table>
                @RenderPagerBar(Model.ExchangeOrderPagerInfos)
            }
        }
    </div>
</div>

@section Script{
    <script type="text/javascript">

        $().ready(function () {
            $('#queryKeyWord').css('color', '#000000');
            if ('@Request["viewVendorProgressState"]' != undefined && '@Request["viewVendorProgressState"]' != '') {
                showViewReturnStateTab('@Request["viewVendorProgressState"]');
            }
        });

        //控制Div頁面顯示效果
        function showViewReturnStateTab(viewVendorProgressState) {
            if (viewVendorProgressState === '@ViewVendorProgressState.Process') {       //處理中
                $("#divViewReturnProcess").addClass("w10-9-AllPendingTab-on");
                $("#divSearchArea").show();
            }
            else if (viewVendorProgressState === '@ViewVendorProgressState.Finished') {  //處理完成
                $("#divViewReturnProcess").removeClass("w10-9-AllPendingTab-on");
                $("#divViewReturnProcess").addClass("w10-9-AllPendingTab");
                $("#divViewReturnFinished").removeClass("w10-9-CompletedTab");
                $("#divViewReturnFinished").addClass("w10-9-CompletedTab-on");
                $("#divSearchArea").hide();
            }
        }

        //按鈕[復原]
        function btnRecover_Click(exchangeLogId) {
            if (!confirm("您確定要將［換貨已完成］狀態復原為［待處理］狀態嗎？")) {
                return false;
            }

            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExchangeProcessRecover")',
                data: { exchangeLogId: exchangeLogId },
                success: returnRecoverResultHandler,
                dataType: 'json',
                traditional: true
            });
        }

        function returnRecoverResultHandler(data) {
            //關閉處理中訊息並解除鎖定畫面
            $.unblockUI();
            //延遲跳出結果訊息及跳頁 避免跳出訊息和儲存訊息重疊出現
            setTimeout(function() {
                alert(data.Message);
                if (data.IsSuccess) {
                    $("#btnRecover" + data.ExchangeLogId).hide();
                    $("#spnReturnStatus" + data.ExchangeLogId).text('待處理');
                } else {
                    refresh_page(data.IsFinish);
                }
            }, 500);
        }

        function block_postback() {
            $.blockUI({ message: "<center><img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />儲存中，請稍候...</center>", css: { width: '250px' } });
        }

        function refresh_page(IsFinish) {
            if (IsFinish) {
                window.location.href = '@Url.Action("ExchangeOrderList", "VendorBillingSystemShip",
                                    new
                                    {
                                        id = HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString(),
                                        type = HttpContext.Current.Request.RequestContext.RouteData.Values["type"].ToString(),
                                        viewVendorProgressState = ViewVendorProgressState.Finished
                                    })';
            } else {
                window.location.href = '@Url.Action("ExchangeOrderList", "VendorBillingSystemShip",
                                    new
                                    {
                                        id = HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString(),
                                        type = HttpContext.Current.Request.RequestContext.RouteData.Values["type"].ToString()
                                    })';
            }
        }

    </script>
}

@helper RenderPagerBar(PagerList<VbsExchangeOrderListInfo> pagerData)
{
int nextPage = pagerData.CurrentPage + 1;
int prevPage = pagerData.CurrentPage - 1;
string firstPageUrl = Url.Action("ExchangeOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MinPage));
string lastPageUrl = Url.Action("ExchangeOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MaxPage));
string nextPageUrl = Url.Action("ExchangeOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", nextPage));
string prevPageUrl = Url.Action("ExchangeOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", prevPage));
string pagerPattern = Url.Action("ExchangeOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", "_pageNumber"));
    <table border="0" cellspacing="0" cellpadding="0" class="OW-W5_3-Table3-Page">
        <tr>
            <td width="50">
                @if (pagerData.HasPreviousPage)
                {
                    <a href="@firstPageUrl">
                        <img src='@Url.Content("~/Themes/OWriteOff/Upper_st2.png")' />
                    </a>
                }
                else
                {
                    <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" style="visibility:hidden" />
                }
            </td>
            <td width="71">
                @if (pagerData.HasPreviousPage)
                {
                    <a href="@prevPageUrl">
                        <img src='@Url.Content("~/Themes/OWriteOff/Upper2.png")' />
                    </a>
                }
                else
                {
                    <img src='@Url.Content("~/Themes/OWriteOff/Upper2.png")' style="visibility:hidden" />
                }
            </td>
            <td width="71">
                <select class="all" pagerPattern="@pagerPattern"
                        onchange="location.href=$(this).attr('pagerPattern').replace('_pageNumber',$(this).val());">
                    @for (int j = pagerData.MinPage; j <= pagerData.MaxPage; j++)
                    {
                        <option value="@j" @Html.Raw(pagerData.CurrentPage == j ? "selected" : "")>@j</option>
                    }
                </select>
            </td>
            <td width="91">頁 ／ @pagerData.MaxPage 頁</td>
            <td width="91">共 @pagerData.TotalItemCount 筆</td>
            <td width="61">
                @if (pagerData.HasNextPage)
                {
                    <a href="@nextPageUrl">
                        <img src='@Url.Content("~/Themes/OWriteOff/Lower2.png")' />
                    </a>
                }
                else
                {
                    <img src='@Url.Content("~/Themes/OWriteOff/Lower2.png")' style="visibility:hidden" />
                }
            </td>
            <td width="50">
                @if (pagerData.HasNextPage)
                {
                    <a href="@lastPageUrl">
                        <img src='@Url.Content("~/Themes/OWriteOff/Lower_st2.png")' />
                    </a>
                }
                else
                {
                    <img src='@Url.Content("~/Themes/OWriteOff/Lower_st2.png")' style="visibility:hidden" />
                }
            </td>
        </tr>
    </table>
}
