﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model ShipOrderListModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    Layout = "~/Views/Shared/ShipMiddleLayout.cshtml";
    VbsExchangeOrderListInfo orderInfo = Model.ExchangeOrderInfos.FirstOrDefault();
    string shipMemoDefault = "任何特殊狀況，請備註於此。最多60個字。";
    string processMemoDefault = "無法完成換貨請填寫原因。最多500個字。";
    int shipTimeDayDiffLimit = config.ShipTimeDayDiffLimit;
    bool isProcessed = Model.ExchangeOrderInfos.Any();
    var orignalShipTime = isProcessed
                            ? Model.ExchangeOrderInfos.First().ShipTime ?? DateTime.Today
                            : DateTime.Today;

    List<string> customerServiceList = ViewBag.CustomerServiceList;
}
@if (Model.ExchangeOrderInfos.Any())
{
    <div class="OW-w10-3-ShippDetial">
        <div class="w10-5-ShippOnlineInventory">
            <div class="w10-10-BackReGoodsBtn" onclick="window.location.href='@Url.Action("ExchangeOrderList", new { id = Model.DealSaleInfo.DealId, type = Model.DealSaleInfo.DealType })'"><div class="w10-backicon"></div>返回換貨清單</div>
            <div class="w10-10-ReturnGoods">
                <table border="0" cellspacing="0" cellpadding="0" class="w10-10-ReGoodsTable textSize15">
                    <tbody>
                        <tr>
                            <th colspan="4" class="textLeft">訂單編號：@orderInfo.OrderId
                            @if (customerServiceList.Count() > 0)
                            {
                                if (customerServiceList.Count() >= 1)
                                {
                                    <a class="waves-effect waves-light btn secondary tab2_link" href="/vbs/ServiceProcessDetail?serviceNo=@(customerServiceList.FirstOrDefault())">客戶案件管理</a>
                                }
                            }                                
                            </th>
                        </tr>
                        @if (Model.IsComboDeal)
                        {
                            <tr>
                                <th colspan="4" style="text-align: left; background-color: #FFD5C4;">@string.Format("[{0}]{1}", orderInfo.DealInfo.DealUniqueId, orderInfo.DealInfo.DealName)</th>
                            </tr>
                        }
                        <tr>
                            <th class="gary" width="400">訂購商品數</th>
                            <th class="gary" width="70">收件人</th>
                            <th class="gary" width="100">連絡電話</th>
                            <th class="gary" width="300">收件地址</th>
                        </tr>
                        <tr>
                            <td>@Html.Raw(orderInfo.OrderItemDescription.Replace("\n", "<br/>"))</td>
                            <td>@orderInfo.RecipientName</td>
                            <td>@orderInfo.RecipientTel</td>
                            <td>@orderInfo.RecipientAddress</td>
                        </tr>
                        @{
                            string processMemoClass = string.Empty;
                            string processMemo = string.Empty;
                            string shipMemoClass = string.Empty;
                            string shipMemo = string.Empty;
                            foreach (var m in Model.ExchangeOrderInfos)
                            {
                                processMemoClass = "processMemoDefault";
                                processMemo = processMemoDefault;
                                shipMemoClass = "processMemoDefault";
                                shipMemo = shipMemoDefault;

                                if (!string.IsNullOrEmpty(m.VendorMemo))
                                {
                                    processMemoClass = "processMemo";
                                    processMemo = m.VendorMemo;
                                }
                                if (!string.IsNullOrEmpty(m.ExchangeOrderShipInfo.ShipMemo))
                                {
                                    shipMemoClass = "processMemo";
                                    shipMemo = m.ExchangeOrderShipInfo.ShipMemo;
                                }

                                <tr>
                                    <th class="gary" colspan="2">換貨資訊</th>
                                    <th class="gary" colspan="2">訊息紀錄</th>
                                </tr>
                                <tr>
                                    <td class="v-align-top" colspan="2">
                                        <dl>
                                            <dt>申請換貨時間：</dt>
                                            <dd>@m.ExchangeApplicationTime.ToString("yyyy/MM/dd HH:mm")</dd>
                                            <dt>原因與備註：</dt>
                                            <dd>@Html.Raw(m.ExchangeReason)</dd>
                                        </dl>
                                    </td>
                                    <td class="v-align-top" colspan="2">
                                        <textarea style="width: 420px; height: 170px; font-size:12px; color:#696767" maxlength="500" readonly="readonly">@Html.Raw(string.Join("\n", m.VendorProcessLog.Select(log => string.Format("[{0}] {1}", log.CreateTime.ToString("yyyy/MM/dd HH:mm"), log.Message))))</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="4" class="gary">換貨管理</th>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                    <form id="ExchangeOrderForm@(m.ExchangeLogId)">
                                        <table style="width:100%; border-top: 1px solid #DFDEDE; border-left: 1px solid #DFDEDE;" >
                                            <tr>
                                                <td class="w10-10-ReGoodsTableWhite">
                                                    <div class="w10-10-ReGoodsManage">
                                                        <div class="w10-10-ManageList">
                                                            <label>換貨進度：</label>
                                                            <select style="width: 360px;" id="progressStatus@(m.ExchangeLogId)" name="ProgressStatus">
                                                                <option value="">請選擇換貨狀態</option>
                                                                @foreach (var progressStatus in Enum.GetValues(typeof(ExchangeVendorProgressStatus)))
                                                                {
                                                                    string progressStatusDesc = Helper.GetLocalizedEnum(Resources.Localization.ResourceManager, (ExchangeVendorProgressStatus)progressStatus);
                                                                    if (progressStatus.Equals(ExchangeVendorProgressStatus.Unknown) ||
                                                                        progressStatus.Equals(ExchangeVendorProgressStatus.Processing))
                                                                    {
                                                                        continue;
                                                                    }
                                                                    <option value="@((int)progressStatus)" @Html.Raw(m.VendorProgressStatus.Equals(progressStatus) ? "selected" : "")>@progressStatusDesc</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="w10-10-ManageList">
                                                            <label>處理備註：</label>
                                                            <textarea id="processMemo@(m.ExchangeLogId)" name="ProcessMemo" style="width: 350px; height: 185px;" maxlength="500" class="@processMemoClass" onfocus="clearText('processMemo', '@m.ExchangeLogId');">@processMemo</textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="w10-10-ReGoodsTableWhite">
                                                    <div class="w10-10-ReGoodsManage">
                                                        <div class="w10-10-ManageList">
                                                            <label>物流資訊：</label>
                                                            <select style="width: 360px;" id="shipCompanyId@(m.ExchangeLogId)" name="ShipCompanyId">
                                                                <option value="">物流公司</option>
                                                                @foreach (var s in Model.ShipCompanyInfos)
                                                                {                      
                                                                    <option value="@s.Id" @Html.Raw(m.ExchangeOrderShipInfo.EqualsAny() && m.ExchangeOrderShipInfo.ShipCompanyId.HasValue && s.Id.Equals(m.ExchangeOrderShipInfo.ShipCompanyId.Value) ? "selected" : "")>@s.ShipCompanyName</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="w10-10-ManageList">
                                                            <label>出貨日期：</label>
                                                            <input type="text" id="shipTime@(m.ExchangeLogId)" name="ShipTime" class="inputNb3 textSize15" value="@Html.Raw(m.ExchangeOrderShipInfo.ShipTime.HasValue ? m.ExchangeOrderShipInfo.ShipTime.Value.ToString("yyyy/MM/dd") : "")"/>
                                                        </div>
                                                        <div class="w10-10-ManageList">
                                                            <label>貨運單號：</label>
                                                            <input type="text" id="shipNo@(m.ExchangeLogId)" name="ShipNo" class="inputNb3 textSize15" value="@m.ExchangeOrderShipInfo.ShipNo"/>
                                                        </div>
                                                        <div class="w10-10-ManageList">
                                                            <label>出貨備註：</label>
                                                            <textarea id="shipMemo@(m.ExchangeLogId)" name="ShipMemo" maxlength="60" class="@shipMemoClass" onfocus="clearText('shipMemo', '@m.ExchangeLogId');">@shipMemo</textarea>
                                                            <span class="smalltext">提醒您：不正確的出貨資訊，將影響請款。</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <input id="btnSave@(m.ExchangeLogId)" type="button" class="w10-10-SaveBtn" value="儲存" onclick='@string.Format("btnSave_Click('{0}');", m.ExchangeLogId)' />
                                                    <input name="ExchangeLogId" type="hidden" value="@m.ExchangeLogId" />
                                                    <input name="ProcessMemoDefault" type="hidden" value="@processMemoDefault" />
                                                    <input name="ShipMemoDefault" type="hidden" value="@shipMemoDefault" />
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}


@section HeadSecond{
    <style type="text/css">
        .processMemoDefault {
            color: #999999;
        }

        .processMemo {
            color: #000000;
        }
    </style>
}
@section Script{
    <script type="text/javascript">
        var maxShipTime = new Date();
        maxShipTime.setDate(maxShipTime.getDate() + parseInt('@shipTimeDayDiffLimit'));

        $().ready(function () {
            $("input[name^='ShipTime']").datepicker({
                minDate: new Date('@orignalShipTime.AddDays(1).ToString("yyyy/MM/dd")'),
                maxDate: maxShipTime
            });

            if ('@isProcessed' === 'False') {
                alert("訂單狀態已更新，請重整畫面後重試");
                window.location.href = '@Url.Action("ExchangeOrderList", "VendorBillingSystemShip",
                                            new
                                            {
                                                id = HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString(),
                                                type = HttpContext.Current.Request.RequestContext.RouteData.Values["type"].ToString()
                                            })';
            }
        });

        function validateForm(id) {
            if ($('#shipMemo' + id).val().length > 60) {
                alert('出貨備註只限最多60個字。');
                return false;
            }

            if ($('#processMemo' + id).val().length > 500) {
                alert('處理備註只限最多500個字。');
                return false;
            }

            if ($('#progressStatus' + id).val().length === 0) {
                alert('請選擇換貨進度。');
                return false;
            }

            if ($('#progressStatus' + id).val() === '@((int)ExchangeVendorProgressStatus.UnExchangeable)' &&
                ($.trim($('#processMemo' + id).val()).length === 0 ||
                $.trim($('#processMemo' + id).val()) === '@processMemoDefault')) {
                alert('請填寫處理備註，以方便客服了解無法完成換貨的原因。');
                return false;
            }

            //商家標註完成換貨 出貨資訊為必填 須檢查出貨資訊是否填寫完整

            if ($('#progressStatus' + id).val() === '@((int)ExchangeVendorProgressStatus.ExchangeCompleted)') {
                if ($('#shipTime' + id).val().length === 0 || $.trim($('#shipNo' + id).val()).length === 0 || $('#shipCompanyId' + id).val().length === 0) {
                    alert('出貨資訊輸入不完整!');
                    return false;
                }

                //檢查出貨日期輸入格式
                if (!shipTime_check(id)) {
                    return false;
                }
            }

            return true;
        }

        function shipTime_check(id) {
            if ($('#shipTime' + id).val().length === 0) {
                return false;
            }

            var now = new Date();
            var today = now.getFullYear() + "/" + (now.getMonth() + 1) + "/" + now.getDate();

            var arrShipTime = $('#shipTime' + id).val().split("/");
            if (arrShipTime.length != 3) {
                alert("出貨日期格式錯誤，建議使用小日曆選擇");
                return false;
            }

            //出貨日期不得大於系統日期加最大限制天數
            if ((Date.parse($('#shipTime' + id).val())).valueOf() > (maxShipTime).valueOf()) {
                alert("您無法儲存超過" + '@shipTimeDayDiffLimit' + "天以後的出貨日");
                return false;
            }

            if ((Date.parse($('#shipTime' + id).val())).valueOf() < (Date.parse('@orignalShipTime.AddDays(1).ToString("yyyy/MM/dd")')).valueOf()) {
                alert("輸入的出貨日期不能小於或等於原始出貨日期。\n若有其他問題，請聯絡服務專員協助：@config.ServiceTel，\n週一至週五 09:00～12:00，13:00～18:00");
                return false;
            }

            return true;
        }

        function btnSave_Click(id) {
            //各欄位輸入檢查
            if (!validateForm(id)) {
                return false;
            }

            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();

            var data = [];
            var row = {};
            $('#ExchangeOrderForm' + id).find('input,select,textarea').each(function () {
                if ($(this).attr('name') != null) {
                    row[$(this).attr('name')] = $(this).val();
                }
            });
            data.push(row);

            var jdata = JSON.stringify({ 'exchangeInfos': data });
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                url: '@Url.Action("ExchangeProcess")',
                data: jdata,
                success: resultHandler,
                dataType: 'json',
                traditional: true
            });
        }

        function resultHandler(data) {
            //關閉處理中訊息並解除鎖定畫面
            $.unblockUI();
            //延遲跳出結果訊息及跳頁 避免跳出訊息和儲存訊息重疊出現
            setTimeout(function () {
                if (data.IsSuccess) {
                    var id = data.ExchangeLogId;
                    //若退貨進度為已完成 則畫面上資料顯示為無法異動(readonly)狀態
                    if ($('#progressStatus' + id).val() === '@((int)ExchangeVendorProgressStatus.ExchangeCompleted)') {
                        $('#progressStatus' + id).attr('disabled', true);

                        $('#processMemo' + id).attr('disabled', true);
                        $('#shipCompanyId' + id).attr('disabled', true);
                        $('#shipNo' + id).attr('disabled', true);
                        $('#shipTime' + id).attr('disabled', true);
                        $('#shipMemo' + id).attr('disabled', true);
                        $('#btnSave' + id).val('已完成換貨管理');
                        $('#btnSave' + id).css('cursor', '');
                        $('#btnSave' + id).attr('class', 'ow-btn-disabled');
                        $('#btnSave' + id).attr('disabled', true);
                    } else if ($('#progressStatus' + id).val() === '@((int)ExchangeVendorProgressStatus.UnExchangeable)') {
                        alert("儲存成功。請主動聯繫您的業務/服務人員窗口，以免影響請款進度。或您可於週一~週五 09:00~18:00直撥 02-2521-9131，由總機人員為您轉接，謝謝。");
                    } else if ($('#progressStatus' + id).val() === '@((int)ExchangeVendorProgressStatus.ExchangeProceed)') {
                        alert("儲存成功。");
                    }
                } else {
                    alert(data.Message);
                    if (data.IsFinish) {
                        window.location.href = '@Url.Action("ExchangeOrderList", "VendorBillingSystemShip",
                                            new
                                            {
                                                id = HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString(),
                                                type = HttpContext.Current.Request.RequestContext.RouteData.Values["type"].ToString(),
                                                viewVendorProgressState = ViewVendorProgressState.Finished
                                            })';
                    } else {
                        window.location.href = '@Url.Action("ExchangeOrderList", "VendorBillingSystemShip",
                                            new
                                            {
                                                id = HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString(),
                                                type = HttpContext.Current.Request.RequestContext.RouteData.Values["type"].ToString()
                                            })';
                    }
                }
            }, 500);
        }

        function block_postback() {
            $.blockUI({ message: "<center><img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />儲存中，請稍候...</center>", css: { width: '250px' } });
        }

        function clearText(objStr, id) {
            var defaultString = '@processMemoDefault';
            if (objStr === "shipMemo") {
                defaultString = '@shipMemoDefault';
            }
            if ($('#' + objStr + id).val() === defaultString) {
                $('#' + objStr + id).val('');
            }

            $('#' + objStr + id).css('color', '#000000');
        }
    </script>
}