﻿
@using LunchKingSite.Core;
@using LunchKingSite.WebLib.Models.VendorBillingSystem;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component;

@{
    Layout = "~/Views/Shared/VbsLayout.cshtml";
}
@{
    List<VbsOrderListInfo> dealOrderInfos = ViewBag.ResultData as List<VbsOrderListInfo>;
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();

    int step = 1;
    if (!string.IsNullOrEmpty(Request["d"]))
    {
        int.TryParse(Request["d"].ToString(), out step);
    }
}

<!-- 彈窗jquery和它的功能宣告 -->
<script type="text/javascript" src="/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>
<link type="text/css" rel="stylesheet" href="~/Themes/OWriteOff/css/mstepper.min.css" />

<style type="text/css">
    .active .step-title{
        border-bottom-style:solid;
        border-bottom-color:red;
    }
</style>

@if (config.EnableSevenIsp)
{
    <div class="">
        <ul class="stepper horizontal" id="horizontal" style="min-height:150px">
            <li class="step " onclick="location.href='/vbs/ship/ispshiporderlist?d=1'">
                <div data-step-label="" class="step-title waves-effect waves-dark">待出貨訂單</div>
            </li>
            <li class="step " onclick="location.href='/vbs/ship/ispshiporderlist?d=2'">
                <div class="step-title waves-effect waves-dark">列印出貨標籤</div>
            </li>
            <li class="step " onclick="location.href='/vbs/ship/ispshiporderlist?d=3'">
                <div class="step-title waves-effect waves-dark">回報出貨完成</div>
            </li>
            <li class="active" onclick="location.href='/vbs/ship/IspShipOrderRefund'">
                <div class="step-title waves-effect waves-dark">超商刷退與驗退</div>
            </li>
        </ul>
    </div>
}

<!-- 頁面標題(同menu中名稱) -->
<h5 class="breadcrumbs-title" style="font-size:20px;font-weight:bold">超商刷退與驗退</h5>

<span style="color:#bf0000"><i class="material-icons">textsms</i>此頁顯示超商刷退驗退訂單，請收回退貨商品後，進行商品確認。</span><br />

<span style="color:#bf0000"><i class="material-icons">textsms</i>您所設定退貨週期：@ViewBag.ReturnCycle</span><br />

<span style="color:#bf0000"><i class="material-icons">textsms</i>退貨方式：@ViewBag.ReturnType</span>



<form method="post">
    <div class="row">



        <div class="col xl6 l12 m12 s12">
            <div class="form-unit">
                <label class="unit-label">
                    超商類型
                </label>
                <div class="data-input">
                    <p>
                        <input type="radio" name="csv" value="0" checked> 全部
                        <input type="radio" name="csv" value="2"> 7-11超商
                        <input type="radio" name="csv" value="1"> 全家超商
                    </p>
                </div>
            </div>

            <div class="form-unit">
                <label class="unit-label">
                    異常類型
                </label>
                <div class="data-input">
                    <p>
                        <input type="radio" name="abnormal" value="0" checked> 全部
                        <input type="radio" name="abnormal" value="1"> 驗退
                        <input type="radio" name="abnormal" value="2"> 刷退(未取貨)
                    </p>
                </div>
            </div>

            <div class="form-unit">
                <label class="unit-label">
                    訂單編號
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" id="orderId" name="orderId" placeholder="請輸入訂單編號" maxlength="25">
                    </p>
                </div>
            </div>



            <div class="divider hide-on-xlarge-only"></div>
        </div>

        <div class="col xl6 l12 m12 s12">
            <div class="form-unit">
                <label class="unit-label">
                    <select id="dateType" style="width:100px;font-size:12pt;">
                        <option value="1">訂購日</option>
                        <option value="2">刷退/驗退日</option>
                        <option value="3">出貨日</option>
                    </select>
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" class="datepicker" name="dateStart" id="dateStart" value="">~
                        <input type="text" class="datepicker" name="dateEnd" id="dateEnd" value="">
                    </p>
                </div>
            </div>

            <div class="form-unit">
                <label class="unit-label">
                    檔號
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" id="dealUniqueId" name="dealUniqueId" placeholder="請輸入檔號" maxlength="50">
                    </p>
                </div>
            </div>

            <div align="right">
                <p>
                    <a class="waves-effect waves-light btn" id="btnSearch">搜尋</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div  class="col xl6 l12 s12 right-align"></div>

        <div class="col xl6 l12 s12 right-align">
            <a class="btn secondary bpopup-identity_select" id="btnExcel">下載清冊</a>
        </div>
    </div>
</form>


<div class="row">
    <div class="col s12">
        <table id="main" class="center-align">
            <thead>
                <tr>
                    <th class="" width="30">項次</th>
                    <th class="" width="50">商品確認</th>
                    <th class="" width="70">問題類型</th>
                    <th class="" width="70">檔號</th>
                    <th class="" width="100">訂單編號</th>
                    <th class="" width="70">超商類型<br />取貨門市</th>
                    <th class="" width="100">超商物流編號</th>
                    <th class="" width="70">收件人</th>
                    <th class="" width="70">檔次(商品)名稱</th>
                    <th class="" width="70">規格 | 數量</th>
                    <th class="" width="70">進貨價<br />售價</th>
                    <th class="" width="70">訂購日<br />出貨日<br />驗退日</th>
                    @*<th class="" width="50"></th>*@
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

<!-- pagination -->
<div class="row">
    <div class="col s12">
        <div class="" style="margin:0 auto;text-align:center;">
            <i class="btn arrow tertiary waves-effect fa fa-angle-double-left waves-input-wrapper fist_page" style=""><input title="第一頁" type="button" class="waves-button-input" value=""></i>
            <i class="btn disabled arrow tertiary waves-effect fa fa-angle-left waves-input-wrapper prev_page" style=""><input title="上一頁" type="button" class="waves-button-input" value=""></i>
            <form class="dis-inline mrg20-ver" style="display:inline;">
                <select id="ddlTotalPage" onchange="LoadData()"></select>
                <span>/<span id="spanTotalPage"></span></span>
                <span>(<span id="TotalCount">0</span>筆資料)</span>
            </form>
            <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-right waves-input-wrapper next_page" style=""><input title="下一頁" type="button" class="waves-button-input" value=""></i>
            <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-double-right waves-input-wrapper last_page" style=""><input title="最後頁" type="button" class="waves-button-input" value=""></i>
        </div>

    </div>
</div>

<!--產生物流編號-->
<div id="bpopup_create_tracking_number_result" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title" style="text-align:center">
            <i class="fa fa-check-circle" style="color:#bf0000;font-size:large"></i>
            <span class="message">產生超商物流編號</span><br /><p style="font-size:large">共<span class="tracking_count">1</span>筆</p>

        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn b-close" onclick="location.href='/vbs/ship/ispshiporderlist?d=2'">前往列印出貨標籤</a>
        </div>
    </div>
</div>
<!--//產生物流編號-->
<!--列印出貨標籤-->
<div id="bpopup_print_tracking_number_result" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title" style="text-align:center">
            <i class="fa fa-check-circle" style="color:#bf0000;font-size:large"></i>
            <span class="message">本次列印標籤訂單</span><br /><p style="font-size:large">共<span class="tracking_count">1</span>筆</p>

        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn b-close">確認</a>
        </div>
    </div>
</div>
<!--//列印出貨標籤-->
@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")

<table class="templeteMain" style="display:none">
    <tr>
        <td class="item_seq"></td>
        <td class="item_confirm"></td>
        <td class="item_type"></td>
        <td class="item_deal_unique_id"></td>
        <td class="item_order_id"></td>
        <td class="item_isp_store_name"></td>
        <td class="item_isp_tracking_number"></td>
        <td class="item_recipient_name"></td>
        <td class="item_deal_name"></td>
        <td class="item_spec"></td>
        @*<td class="item_item_count"></td>*@
        <td class="item_item_cost"></td>
        <td class="item_order_create_time"></td>
        @*<td class="item_order_return_time"></td>*@
    </tr>
</table>

<script>
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            LoadData();
        });
        $("#btnExcel").click(function () {
            LoadExcel();
        });
        $(".fist_page").click(function () {
            $("#ddlTotalPage").val("1");
            //$(".fist_page").addClass("disabled");
            LoadData();
        });
        $(".prev_page").click(function () {
            var cp = $("#ddlTotalPage").val();
            $("#ddlTotalPage").val(parseInt(cp) - 1);
            LoadData();
        });
        $(".next_page").click(function () {
            var cp = $("#ddlTotalPage").val();
            $("#ddlTotalPage").val(parseInt(cp) + 1);
            LoadData();
        });
        $(".last_page").click(function () {
            var tp = $('#ddlTotalPage option:last-child').val();
            $("#ddlTotalPage").val(tp);
            //$(".last_page").addClass("disabled");
            LoadData();
        });
        LoadData();
    });

    function LoadData() {
        var idx = $("#ddlTotalPage").val();
        if (idx == null || idx == undefined) {
            idx = 1;
        }
        var param = {
            pageStart: idx,
            dateType: $("#dateType").val(),
            orderId: $("#orderId").val(),
            dealUniqueId: $("#dealUniqueId").val(),
            dateOption: $("#dateOption").val(),
            dateStart: $("#dateStart").val(),
            dateEnd: $("#dateEnd").val(),
            csv: $('input[name=csv]:checked').val(),
            abnormal: $('input[name=abnormal]:checked').val()

        };
        $("#bpopup-toast").find('.toast_message').text("資料處理中...");
        var bpopup_query = $('#bpopup-toast').bPopup({
            speed: 750,//toast漸入漸出的動畫秒數
            opacity: 0,//toast的背景為全透明
        });
        $.ajax(
            {
                type: "POST",
                url: "GetIspShipOrderRefund",
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                dataFilter: function (data) { return data; },
                success: function (data) {
                    //console.log(data);
                    $("#main tr").not(':first').empty();
                    var main = $("#main");
                    //var trs = [];
                    $.each(data.Data, function (midx, deal) {
                        var templeteTr = $(".templeteMain tr");
                        var item_seq = templeteTr.find('.item_seq');  //項次
                        var item_confirm = templeteTr.find('.item_confirm');  //全選
                        var item_type = templeteTr.find('.item_type');  //問題類型
                        var item_deal_unique_id = templeteTr.find('.item_deal_unique_id');  //檔號
                        var item_order_id = templeteTr.find('.item_order_id');    //訂單編號
                        var item_recipient_name = templeteTr.find('.item_recipient_name');  //收件人
                        var item_isp_store_name = templeteTr.find('.item_isp_store_name');//取貨門市
                        var item_isp_tracking_number = templeteTr.find('.item_isp_tracking_number');//超商物流編號
                        var item_deal_name = templeteTr.find('.item_deal_name');  //檔次(商品)名稱
                        var item_spec = templeteTr.find('.item_spec');    //規格
                        //var item_item_count = templeteTr.find('.item_item_count');    //數量
                        var item_item_cost = templeteTr.find('.item_item_cost');    //進貨價
                        var item_order_create_time = templeteTr.find('.item_order_create_time');    //訂購日
                        //var item_order_return_time = templeteTr.find('.item_order_return_time');    //驗退日

                        item_seq.html(midx + 1);
                        if (deal.CheckButton == 1) {
                            item_confirm.html('<input class="waves-effect waves-light secondary btn edit_content" type="button" value="確認" onclick="confirmReturn(this)" />');
                        } else if (deal.CheckButton == 2) {
                            item_confirm.html('請儘速出貨');
                        }
                        else {
                            item_confirm.html('');
                        }
                        var _typeHtml = "<table style='border:0px'>";
                        _typeHtml += "<tr><td>" + deal.ReturnType + "</td></tr>";
                        _typeHtml += "<tr><td>" + deal.DcReturnReason + "</td></tr>";
                        _typeHtml += "</table>";
                        item_type.html(_typeHtml);

                        item_deal_unique_id.html(deal.DealInfo.DealUniqueId + '<span class="DealId" style="display:none">' + deal.DealInfo.DealId + '</span>');
                        item_order_id.html('<span class="OrderId">' + deal.OrderId + '</span><span class="OrderGuid" style="display:none">' + deal.OrderGuid + '</span>');
                        item_isp_store_name.html('<span class="IspStoreName">' + stringFormat(deal.IspStoreName) + '</span>');
                        item_isp_tracking_number.html('<span class="ShipNo">' + stringFormat(deal.ShipNo) + '</span>');
                        item_recipient_name.html(deal.RecipientName);
                        item_deal_name.html(deal.DealInfo.DealName);
                        var specs = deal.ItemDescription.split("\n");
                        var counts = deal.ItemCount.split("\n");
                        var _specHtml = "<table style='border:0px'>";
                        $.each(specs, function (sidx, sobj) {
                            _specHtml += "<tr>";
                            _specHtml += "<td style='width:80%'>" + sobj + "</td>";
                            _specHtml += "<td style='width:20%;text-align:center'>" + counts[sidx] + "</td>";
                            _specHtml += "</tr>";
                        })


                        _specHtml += "</table>";
                        item_spec.html(_specHtml);
                        //item_item_count.html(deal.ItemCount);
                        item_item_cost.html(deal.ItemCost + '<br />' + deal.ItemPrice);
                        if (deal.OrderCreateTime != null) {
                            item_order_create_time.html(dateFormat(deal.OrderCreateTime));
                        }
                        if (deal.ShipTime != null) {
                            item_order_create_time.html(item_order_create_time.html() + '<br />' + dateFormat(deal.ShipTime));
                        }

                        if (deal.DcReturnTime != null) {
                            item_order_create_time.html(item_order_create_time.html() + '<br />' + dateFormat(deal.DcReturnTime));
                            //item_order_return_time.html(dateFormat(deal.DcReturnTime));
                        }

                        main.append("<tr>" + $(templeteTr).html() + "</tr>");
                    });


                    $("#TotalCount").html(data.TotalCount);
                    $("#spanTotalPage").html(data.TotalPage);
                    var ddlTotalPage = $("#ddlTotalPage");
                    ddlTotalPage.empty();
                    for (var i = 1; i <= data.TotalPage; i++) {
                        if (data.CurrentPage == i) {
                            ddlTotalPage.append("<option value='" + i + "' selected>" + i + "</option>");
                        } else {
                            ddlTotalPage.append("<option value='" + i + "'>" + i + "</option>");
                        }
                    }
                    enabledPage();
                    bpopup_query.close();
                }, error: function (res) {
                    console.log(res);
                    bpopup_query.close();
                }
            });
    }
    function LoadExcel() {
        var idx = $("#ddlTotalPage").val();
        if (idx == null || idx == undefined) {
            idx = 1;
        }

        location.href = "GetIspShipOrderRefundForExcel?pageStart=" + idx + "&orderId=" + $("#orderId").val() + "&dateType=" + $("#dateType").val() + "&dealUniqueId=" + $("#dealUniqueId").val() + "&dateOption=" + $("#dateOption").val() + "&dateStart=" + $("#dateStart").val() + "&dateEnd=" + $("#dateEnd").val() + "&csv=" + $('input[name=csv]:checked').val() + "&abnormal=" + $('input[name=abnormal]:checked').val();

    }

    function stringFormat(dateConvert) {
        return (dateConvert == null || dateConvert == undefined) ? "" : dateConvert;
    }
    function dateFormat(dateConvert) {
        return $.datepicker.formatDate("yy/mm/dd", eval('new ' + dateConvert.slice(1, -1)));
    };
    function enabledPage() {
        var cp = $("#ddlTotalPage").val();
        var tp = $('#ddlTotalPage option:last-child').val();
        if (tp == undefined) {
            $(".fist_page").addClass("disabled");
            $(".prev_page").addClass("disabled");
            $(".next_page").addClass("disabled");
            $(".last_page").addClass("disabled");
            return false;
        }
        if (parseInt(tp) == 1) {
            //只有一頁
            $(".fist_page").addClass("disabled");
            $(".prev_page").addClass("disabled");
            $(".next_page").addClass("disabled");
            $(".last_page").addClass("disabled");
        } else {
            if (parseInt(cp) == parseInt(tp)) {
                //最後一頁
                $(".fist_page").removeClass("disabled");
                $(".prev_page").removeClass("disabled");
                $(".next_page").addClass("disabled");
                $(".last_page").addClass("disabled");
            } else if (parseInt(cp) == 1) {
                //第一頁
                $(".fist_page").addClass("disabled");
                $(".prev_page").addClass("disabled");
                $(".next_page").removeClass("disabled");
                $(".last_page").removeClass("disabled");
            } else if (parseInt(cp) < parseInt(tp)) {
                //第一頁
                $(".fist_page").removeClass("disabled");
                $(".prev_page").removeClass("disabled");
                $(".next_page").removeClass("disabled");
                $(".last_page").removeClass("disabled");
            }
        }
    }
    function confirmReturn(obj) {
        var orderGuid = $(obj).closest("tr").find(".OrderGuid").html();

        $('#bpopup-step_alert').find('.alert_message').text('請確定是否執行？');
        $('#bpopup-step_alert').bPopup({
            modalClose: false,
            onOpen: function () {

                $('.bpopup-step_alert-confirm').unbind();
                $('.bpopup-step_alert-confirm').click(function () {
                    var loadSaving = $('#bpopup-toast').bPopup({
                        speed: 750,//toast漸入漸出的動畫秒數
                        opacity: 0,//toast的背景為全透明
                    });
                    var param = {
                        oid: orderGuid,
                    };
                    $.ajax(
                        {
                            type: "POST",
                            url: "ConfirmDCReturn",
                            data: JSON.stringify(param),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            dataFilter: function (data) { return data; },
                            success: function (data) {

                                loadSaving.close();
                                if (data.IsSuccess)
                                {
                                    toast_message("確認成功!");
                                }
                                else
                                {
                                    toast_message(data.Message);
                                }
                                
                                setTimeout("LoadData()", 3000);
                                //LoadData();
                            }, error: function () {
                                loadSaving.close();
                            }
                        });
                });
            },

        });
    }
    $(".datepicker").datepicker({
        dateFormat: "yy/mm/dd"
    });
</script>
