﻿@using LunchKingSite.Core
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model ShipOrderListModel
@{
    Layout = "~/Views/Shared/ShipMiddleLayout.cshtml";
    VbsReturnOrderListInfo orderInfo = Model.ReturnOrderInfos.FirstOrDefault();
    string processMemoDefault = "任何特殊狀況，請備註於此。最多30個字。";
    int comboPackCount = orderInfo != null ? orderInfo.DealInfo.ComboPackCount : Model.DealSaleInfo.ComboPackCount;
    bool isReturnProcessed = Model.ReturnOrderInfos.Any();
    List<string> customerServiceList = ViewBag.CustomerServiceList;
}
@if (Model.ReturnOrderInfos.Any())
{
    <div class="OW-w10-3-ShippDetial">
        <div class="w10-5-ShippOnlineInventory">
            <div class="w10-10-BackReGoodsBtn" onclick="window.location.href='@Url.Action("ReturnOrderList", new { id = Model.DealSaleInfo.DealId, type = Model.DealSaleInfo.DealType })'"><div class="w10-backicon"></div>返回退貨清單</div>
            <div class="w10-10-ReturnGoods">
                <table border="0" cellspacing="0" cellpadding="0" class="w10-10-ReGoodsTable textSize15">
                    <tbody>
                        <tr>
                            <th colspan="4" class="textLeft">訂單編號：@orderInfo.OrderId
                            @if (customerServiceList.Count() > 0)
                            {
                                if (customerServiceList.Count() >= 1)
                                {
                                    <a class="waves-effect waves-light btn secondary tab2_link" href="/vbs/ServiceProcessDetail?serviceNo=@(customerServiceList.FirstOrDefault())">客戶案件管理</a>
                                }
                            } </th>
                        </tr>
                        @if (Model.IsComboDeal)
                        {
                            <tr>
                                <th colspan="4" style="text-align: left; background-color: #FFD5C4;">@string.Format("[{0}]{1}", orderInfo.DealInfo.DealUniqueId, orderInfo.DealInfo.DealName)</th>
                            </tr>
                        }
                        <tr>
                            <th class="gary" width="400">訂購商品數</th>
                            <th class="gary" width="70">收件人</th>
                            <th class="gary" width="100">連絡電話</th>
                            <th class="gary" width="300">收件地址</th>
                        </tr>
                        <tr>
                            <td>@Html.Raw(orderInfo.OrderItemDescription.Replace("\n", "<br/>"))</td>
                            <td>@orderInfo.RecipientName</td>
                            <td>@orderInfo.RecipientTel</td>
                            <td>@orderInfo.RecipientAddress</td>
                        </tr>
                        @{
                            string processMemoClass = string.Empty;
                            string processMemo = string.Empty;
                            foreach (var m in Model.ReturnOrderInfos)
                            {
                                processMemoClass = "processMemoDefault";
                                processMemo = processMemoDefault;

                                if (!string.IsNullOrEmpty(m.VendorMemo))
                                {
                                    processMemoClass = "processMemo";
                                    processMemo = m.VendorMemo;
                                }

                                var showProgressStatus = m.VendorProgressStatus.Equals(VendorProgressStatus.UnreturnableProcessed)
                                                        ? VendorProgressStatus.Unreturnable
                                                        : m.VendorProgressStatus;
                                <tr>
                                    <th class="gary">退貨資訊</th>
                                    <th class="gary" colspan="3">退貨管理</th>
                                </tr>
                                <tr>
                                    <td class="v-align-top">
                                        <dl>
                                            <dt>退貨時間：</dt>
                                            <dd>@m.ReturnApplicationTime.ToString("yyyy/MM/dd HH:mm")</dd>
                                            <dt>退貨品項與數量：</dt>
                                            <dd>@Html.Raw(m.ReturnItemDescription.Replace("\n", "<br/>"))</dd>
                                            <dt>原因與備註：</dt>
                                            <dd>@Html.Raw(m.ReturnReason)</dd>
                                        </dl>
                                    </td>
                                    <td colspan="3" class="w10-10-ReGoodsTableWhite">
                                        <div class="w10-10-ReGoodsManage">
                                            <form id="ReturnOrderForm@(m.ReturnFormId)">
                                                <div class="w10-10-ManageList">
                                                    <label>退貨進度：</label>
                                                    <select style="width: 360px;" id="progressStatus@(m.ReturnFormId)" name="ProgressStatus" onchange="progressStatus_Change(@(m.ReturnFormId))">
                                                        <option value="">請選擇退貨狀態</option>
                                                        @foreach (var progressStatus in Enum.GetValues(typeof(VendorProgressStatus)))
                                                        {
                                                            string progressStatusDesc = Helper.GetLocalizedEnum(Resources.Localization.ResourceManager, (VendorProgressStatus)progressStatus);
                                                            if (progressStatus.Equals(VendorProgressStatus.Unknown) ||
                                                                progressStatus.Equals(VendorProgressStatus.Processing) ||
                                                                progressStatus.Equals(VendorProgressStatus.UnreturnableProcessed) ||
                                                                progressStatus.Equals(VendorProgressStatus.CompletedByCustomerService) ||
                                                                progressStatus.Equals(VendorProgressStatus.Automatic))
                                                            {
                                                                continue;
                                                            }
                                                            else if (progressStatus.Equals(VendorProgressStatus.CompletedAndNoRetrieving))
                                                            {
                                                                progressStatusDesc += "，可退貨";
                                                            }
                                                            <option value="@((int)progressStatus)" @Html.Raw(showProgressStatus.Equals(progressStatus) ? "selected" : "")>@progressStatusDesc</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div id="divSetReturnQuantity@(m.ReturnFormId)" class="w10-10-ManageList" style="display:none">
                                                    <label>實際收回數（可退貨數）：</label>
                                                    <table border="0" cellspacing="0" cellpadding="0" class="w10-10-ReGoodsManageTable">
                                                        @{
                                                            int t = 0;
                                                            foreach (var item in m.ReturnItemInfo)
                                                            {
                                                                <tr>
                                                                    <th>@item.OptionDescription</th>
                                                                    <td>
                                                                        <select id="returnQuantity@(string.Format("{0}{1}", m.ReturnFormId.ToString(), t))" name="ReturnQuantity">
                                                                            @for (var i = 0; i <= item.Quantity; i++)
                                                                            {
                                                                                <option value='@i' @Html.Raw(i == item.Quantity ? "selected='selected'" : string.Empty)>@i</option>
                                                                            }
                                                                        </select>
                                                                        <input name="ReturnProdcutId" type ="hidden" value="@string.Join(",", item.OrderProductIds)" />
                                                                    </td>
                                                                </tr>
                                                                t++;
                                                            }
                                                        }
                                                    </table>
                                                </div>
                                                <div class="w10-10-ManageList">
                                                    <label>處理備註：</label>
                                                    <textarea id="processMemo@(m.ReturnFormId)" name="ProcessMemo" maxlength="30" class="@processMemoClass" onfocus="clearText(@m.ReturnFormId);">@processMemo</textarea>
                                                </div>
                                                <input id="btnSave@(m.ReturnFormId)" type="button" class="w10-10-SaveBtn" value="儲存" onclick='@string.Format("btnSave_Click('{0}');", m.ReturnFormId)'/>
                                                <input name="ReturnFormId" type ="hidden" value="@m.ReturnFormId" />
                                                <input id="returnProductCount@(m.ReturnFormId)" type ="hidden" value="@m.ReturnItemInfo.Count()" />
                                                <input name="ProcessMemoDefault" type ="hidden" value="@processMemoDefault" />
                                                <input name="ComboPackCount" type ="hidden" value="@comboPackCount" />
                                            </form>
                                        </div>
                                    </td>
                                </tr>                    
                            }                    
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@section HeadSecond{
    <style type="text/css">
        .processMemoDefault { color: #999999; }
        .processMemo { color: #000000; }
    </style>
}
@section Script{  
    <script type="text/javascript">
        $().ready(function() {
            if ('@isReturnProcessed' === 'False') {
                alert("訂單狀態已更新，請重整畫面後重試");
                window.location.href = '@Url.Action("ReturnOrderList", "VendorBillingSystemShip",
                                            new
                                            {
                                                id = HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString(),
                                                type = HttpContext.Current.Request.RequestContext.RouteData.Values["type"].ToString()
                                            })';
            }
        });

        function validateForm(id) {
            if ($('#processMemo' + id).val().length > 30) {
                alert('處理備註只限最多30個字。');
                return false;
            }

            if ($('#progressStatus' + id).val().length === 0) {
                alert('請選擇退貨進度。');
                return false;
            }

            if (!productCollectedCheck(id)) {
                alert('請選擇您收回的可退商品數。');
                return false;
            }

            //成套販售檔次需檢查是否成套退貨
            if (!comboPackCheck(id)) {
                alert('成套販售的商品，只允許成套退貨。');
                return false;
            }

            if ($('#progressStatus' + id).val() === '@((int)VendorProgressStatus.Unreturnable)' &&
                ($('#processMemo' + id).val() === '@processMemoDefault' ||
                    $.trim($('#processMemo' + id).val()).length === 0)) {
                alert('請填寫處理備註，以方便客服了解無法完成退貨的原因。');
                return false;
            }

            return true;
        }

        function productCollectedCheck(id) {
            //退貨進度選擇:退貨完成-已收回商品 才需檢查是否輸入商品收回數量
            if ($('#progressStatus' + id).val() !== '@((int)VendorProgressStatus.CompletedAndRetrievied)') {
                return true;
            }

            for (var i = 0; i < $('#returnProductCount' + id).val(); i++) {
                if ($('#returnQuantity' + id + i).val() > 0) {
                    return true;
                }
            }

            return false;
        }

        function comboPackCheck(id) {
            var comboPackCount = parseInt('@comboPackCount');
            var returnQuantity = 0;
            //倍數需大於1 才視為成套販售
            if (comboPackCount == 1) {
                return true;
            }
            //加總欲退貨數
            for (var i = 0; i < $('#returnProductCount' + id).val(); i++) {
                if ($('#returnQuantity' + id + i).val() > 0) {
                    returnQuantity += parseInt($('#returnQuantity' + id + i).val());
                }
            }
            //成套販售檔次:總退貨數須整套退貨(被倍數整除)
            if (returnQuantity % comboPackCount == 0) {
                return true;
            }

            return false;
        }

        function btnSave_Click(id) {
            //各欄位輸入檢查
            if (!validateForm(id)) {
                return false;
            }
            //目前寄倉商品為商家做退貨確認, 故先不擋
            //var isConsignment = '@ViewBag.IsConsignment';
            //if (isConsignment == 'True') {
            //    alert("本檔為商品寄倉檔次，由17Life直接出貨，不需處理");
            //    return false;
            //}
            if ($('#progressStatus' + id).val() === '@((int)VendorProgressStatus.CompletedAndRetrievied)') {
                if (!confirm("我們將依照您收回的數量進行退款，確定數量無誤？")) {
                    return false;
                }
            } else if ($('#progressStatus' + id).val() === '@((int)VendorProgressStatus.CompletedAndNoRetrieving)') {
                if (!confirm("您不收回商品，但同意依退貨申請數，全數退款給消費者嗎？")) {
                    return false;
                }
            } else if ($('#progressStatus' + id).val() === '@((int)VendorProgressStatus.CompletedAndUnShip)') {
                if (!confirm("確定您尚未出貨嗎？並同意依退貨申請數，全數退款給消費者嗎？")) {
                    return false;
                }
            }

            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();

            var data = [];
            var row = {};
            $('#ReturnOrderForm' + id).find('input,select,textarea').each(function () {
                if ($(this).attr('name') in row) {
                    if ($.isArray(row[$(this).attr('name')])) {
                        row[$(this).attr('name')].push($(this).val());
                    } else {
                        var temp = row[$(this).attr('name')];
                        row[$(this).attr('name')] = [];
                        row[$(this).attr('name')].push(temp);
                        row[$(this).attr('name')].push($(this).val());
                        temp = null;
                    }
                } else {
                    if ($(this).attr('name') != null) {
                        row[$(this).attr('name')] = $(this).val();
                    }
                }
            });
            data.push(row);

            var jdata = JSON.stringify({ 'returnProducts': data });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                url: '@Url.Action("ReturnProcessShipped")',
                data: jdata,
                success: resultHandler,
                dataType: 'json',
                traditional: true
            });
        }

        function resultHandler(data) {
            //關閉處理中訊息並解除鎖定畫面
            $.unblockUI();
            //延遲跳出結果訊息及跳頁 避免跳出訊息和儲存訊息重疊出現
            setTimeout(function() {
                if (data.IsSuccess) {
                    var id = data.ReturnFormId;
                    //若退貨進度為已完成 則畫面上資料顯示為無法異動(readonly)狀態
                    if ($('#progressStatus' + id).val() === '@((int)VendorProgressStatus.CompletedAndRetrievied)' ||
                        $('#progressStatus' + id).val() === '@((int)VendorProgressStatus.CompletedAndNoRetrieving)' ||
                        $('#progressStatus' + id).val() === '@((int)VendorProgressStatus.CompletedAndUnShip)' ||
                        $('#progressStatus' + id).val() === '@((int)VendorProgressStatus.CompletedByCustomerService)') {
                        $('#progressStatus' + id).attr('disabled', true);
                        for (var i = 0; i < $('#returnProductCount' + id).val(); i++) {
                            $('#returnQuantity' + id + i).attr('disabled', true);
                        }
                        $('#processMemo' + id).attr('disabled', true);
                        $('#btnSave' + id).val('已完成退貨管理');
                        $('#btnSave' + id).css('cursor', '');
                        $('#btnSave' + id).attr('class', 'ow-btn-disabled');
                        $('#btnSave' + id).attr('disabled', true);
                    } else if ($('#progressStatus' + id).val() === '@((int)VendorProgressStatus.Unreturnable)') {
                        alert("儲存成功。請主動聯繫您的業務/服務人員窗口，以免影響請款進度。或您可於週一~週五 09:00~18:00直撥 02-2521-9131，由總機人員為您轉接，謝謝。");
                    } else if ($('#progressStatus' + id).val() === '@((int)VendorProgressStatus.Retrieving)') {
                        alert("儲存成功。");
                    }
                } else {
                    alert(data.Message);
                    if (data.IsReturnFinish) {
                        window.location.href = '@Url.Action("ReturnOrderList", "VendorBillingSystemShip",
                                            new
                                            {
                                                id = HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString(),
                                                type = HttpContext.Current.Request.RequestContext.RouteData.Values["type"].ToString(),
                                                viewVendorProgressState = ViewVendorProgressState.Finished
                                            })';
                    } else {
                        window.location.href = '@Url.Action("ReturnOrderList", "VendorBillingSystemShip",
                                            new
                                            {
                                                id = HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString(),
                                                type = HttpContext.Current.Request.RequestContext.RouteData.Values["type"].ToString()
                                            })';
                    }
                }
            }, 500);
        }

        function block_postback() {
            $.blockUI({ message: "<center><img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />儲存中，請稍候...</center>", css: { width: '250px' } });
        }

        function clearText(id) {
            if ($('#processMemo' + id).val() === '@processMemoDefault') {
                $('#processMemo' + id).val('');
            }

            $('#processMemo' + id).css('color', '#000000');
        }

        function progressStatus_Change(id) {
            if ($('#progressStatus' + id).val() === '@((int)VendorProgressStatus.CompletedAndRetrievied)') {
                $('#divSetReturnQuantity' + id).show();
            } else {
                $('#divSetReturnQuantity' + id).hide();
            }
        }

    </script>
}