﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem;
@using LunchKingSite.Core;
@using LunchKingSite.BizLogic.Model.VBS;
@using LunchKingSite.DataOrm;
@using LunchKingSite.Core.Component;

@model OrderShipListSharedModel
@{
    List<ShipCompany> scinfos = ViewBag.ShipCompanyInfos as List<ShipCompany>;
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    Layout = "~/Views/Shared/VbsLayout.cshtml";

}

<style type="text/css">
    .isloading-overlay {
        position: relative;
        text-align: center;
    }

        .isloading-overlay .isloading-wrapper {
            font-family: Verdana;
            font-size: 13px;
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 7px;
            -moz-background-clip: padding;
            border-radius: 7px;
            background-clip: padding-box;
            display: inline-block;
            margin: 0 auto;
            padding: 10px 20px;
            top: 10%;
            z-index: 9000;
        }
</style>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.isloading.js")'></script>
<link type="text/css" rel="stylesheet" href="~/Themes/OWriteOff/css/mstepper.min.css" />
<script type="text/javascript">
    $(function () {
        $('#btnQuery').click(function () {
            if (chaeckData()) {
                $.isLoading({ text: "Loading..." });
                $('#queryForm').submit();
            }
        });

        $("form").bind('ajax:complete', function () {
            $.isLoading("hide");
        });
    });

    function chaeckData() {
        var start = new Date($('#queryBeginDate').val());
        var end = new Date($('#queryEndDate').val());
        var diff = new Date(end - start);
        var days = (diff / 1000 / 60 / 60 / 24) + 1;

        if (days > 30) {
            alert('查詢區間最長為30天');
            return false;
        }
        return true;
    }

    function step_Change(step) {
        if (chaeckData()) {
            $.isLoading({ text: "Loading..." });
            $('#queryProcessStep').val(step);
            $('#queryForm').submit();
        }
    }
</script>

<h3 class="breadcrumbs-title">退貨單處理</h3>
<div class="row" style="background:#eee;">
    <div class="col l12 m12 s12">
        <form id="queryForm" action="ReturnOrderProcessList" method="post">
            <div class="form-unit">
                <label class="unit-label">
                    申請日
                </label>
                <div class="data-input">
                    <div class="date_time_picker_group">
                        <input type="text" name="queryBeginDate" id="queryBeginDate" value="@Model.Query.queryBeginDate" class="datepicker">
                        <i class="fa fa-calendar"></i> ~&nbsp;
                    </div>
                    <div class="date_time_picker_group">
                        <input type="text" name="queryEndDate" id="queryEndDate" value="@Model.Query.queryEndDate" class="datepicker">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <span class="note">&nbsp;(查詢區間最長為一個月EX : 2017/01/01~2017/01/30)</span>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    條件
                </label>
                <div class="data-input">
                    <p>
                        <select name="queryOption" id="queryOption">
                            @foreach (VbsShipQueryOption item in Enum.GetValues(typeof(VbsShipQueryOption)))
                            {
                                <option value="@((int)item)" @if (item == Model.Query.queryOption) { <text> selected="selected" </text>          }>@Helper.GetDescription(item)</option>
                            }
                        </select>&nbsp;
                        <input id="queryOptionValue" name="queryOptionValue" type="text" value="@Model.Query.queryOptionValue" style="width:40%;" placeholder="">
                        <a id="btnQuery" class="waves-effect waves-light btn">搜尋</a>
                    </p>
                </div>

            </div>
            <input type="hidden" id="pageIndex" name="pageIndex" />
            <input type="hidden" id="maxPage" name="maxPage" value="@Model.Query.maxPage" />
            <input type="hidden" id="queryProcessStep" name="queryProcessStep" value="@Model.Query.queryProcessStep" />
        </form>
    </div>
</div>
<div class="">
    <ul class="stepper horizontal" id="horizontal" style="min-height:100px">
        <li class="step @(Model.Query.queryProcessStep == 1 && !Model.IsReadOnly ? "active" : string.Empty)" onclick="step_Change(1);">
            <div data-step-label="" class="step-title waves-effect waves-dark">未處理<a> @Model.UnProcessCount 筆</a></div>
        </li>
        <li class="step @(Model.Query.queryProcessStep == 2 && !Model.IsReadOnly ? "active" : string.Empty)" onclick="step_Change(2);">
            <div class="step-title waves-effect waves-dark">進行中<a> @Model.ProcessingCount 筆</a></div>
        </li>
        <li class="step @(Model.IsReadOnly ? "active" : string.Empty)" onclick="step_Change(3);">
            <div class="step-title waves-effect waves-dark">結案<a> @Model.EndCount 筆</a></div>
        </li>
    </ul>
</div>
<div class="row" style="text-align:right;">
    <p>
        一頁顯示
        <select id="page-size">
            <option @if (Model.Query.maxPage == 5) { <text> selected="selected" </text>    }>5</option>
            <option @if (Model.Query.maxPage == 20) { <text> selected="selected" </text>   }>20</option>
            <option @if (Model.Query.maxPage == 50) { <text> selected="selected" </text>   }>50</option>
            <option @if (Model.Query.maxPage == 100) { <text> selected="selected" </text>   }>100</option>
        </select>
    </p>
</div>

<div class="row">
    <div class="col s12">
        <form id="ReturnOrderForm">
            <table id="ReturnOrderTable" class="center-align">
                <thead>
                    <tr>
                        <th class="" width="30">序號</th>
                        <th class="" width="165">訂單編號</th>
                        <th class="" width="90">目前處理進度</th>
                        <th class="" width="120">進度回報 <p style="font-size:smaller;color:red;">※ 無法完成退貨，備註必填</p></th>
                        <th class="" width="90">申請日</th>
                        <th class="" width="90">申請退貨數</th>
                        <th class="" width="100">原因與備註 <p style="font-size:smaller;color:red;">※ 點詳細內容瞭解需求</p></th>
                        <th class="" width="60">收件人</th>
                        <th class="" width="120">收件人通訊資料 <p style="font-size:smaller;color:red;">※ 收信地址若有變更會記在原因與備註中</p></th>
                        <th class="" width="70">檔號</th>
                        <th class="" width="100">方案名稱</th>
                        <th class="" width="20">查看歷程</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OrderListSharedInfos item in Model.Infos)
                    {
                        <tr>
                            <td>
                                @item.SerNo
                                @if (!Model.IsReadOnly)
                                {
                                    <input type="checkbox" class="ck" disabled="disabled" />
                                    <input type="hidden" name="ReturnFormId" value="@item.OrderReturnId" />
                                }
                            </td>
                            <td>
                                @Html.Raw(item.OrderId)
                            </td>
                            @if (!Model.IsReadOnly)
                            {
                                <td>
                                    @switch (item.VendorProgressStatus)
                                    {
                                        case (int)VendorProgressStatus.Unknown:
                                        case (int)VendorProgressStatus.Processing:
                                            <div>--<br />--</div>
                                            break;
                                        case (int)VendorProgressStatus.Retrieving:
                                        case (int)VendorProgressStatus.ConfirmedForVendor:
                                        case (int)VendorProgressStatus.ConfirmedForUnArrival:
                                            if (item.IsWmsRefund)
                                            {
                                                <div>PC物流已前往收件<br />--</div>
                                            }
                                            else
                                            {
                                                <div>已前往收件<br />--</div>
                                            }
                                            break;
                                        case (int)VendorProgressStatus.Unreturnable:
                                            <div>無法完成退貨<br />--</div>
                                            break;
                                        default:
                                            break;
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    @switch (item.ProgressStatus)
                                    {
                                        case (int)ProgressStatus.Unknown:
                                        case (int)ProgressStatus.Processing:
                                            <div>退貨完成<br />確認中</div>
                                            break;
                                        case (int)ProgressStatus.Canceled:
                                            <div>取消退貨<br />已確認</div>
                                            break;
                                        default:
                                            <div>退貨完成<br />已確認</div>
                                            break;
                                    }
                                </td>
                            }
                            <td>
                                <select style="width: 230px;" id="progressStatus" name="ProgressStatus" onchange="progressStatus_Change(this)" data-bind="@item.SerNo" @Html.Raw(Model.IsReadOnly ? "disabled" : "")>


                                    @foreach (var progressStatus in Enum.GetValues(typeof(VendorProgressStatus)))
                                    {
                                        string progressStatusDesc = Helper.GetLocalizedEnum(Resources.Localization.ResourceManager, (VendorProgressStatus)progressStatus);
                                        if (Model.Query.queryProcessStep == 1 && progressStatus.Equals(VendorProgressStatus.Unknown))
                                        {
                                            <option value="">請選擇退貨狀態</option>
                                        }
                                        if (progressStatus.Equals(VendorProgressStatus.Unknown) || progressStatus.Equals(VendorProgressStatus.ConfirmedForCS))
                                        {
                                            continue;
                                        }
                                        else if (progressStatus.Equals(VendorProgressStatus.CompletedAndNoRetrieving))
                                        {
                                            progressStatusDesc += "，可退貨";
                                        }
                                        else if (progressStatus.Equals(VendorProgressStatus.Automatic) && !item.IsWmsRefund)
                                        {
                                            progressStatusDesc += "：商品尚未到出貨時間";
                                        }
                                        else if (progressStatus.Equals(VendorProgressStatus.Automatic) && item.IsWmsRefund && item.IsShip)
                                        {
                                            progressStatusDesc += "：確認商品超過三天";
                                        }
                                        else if (progressStatus.Equals(VendorProgressStatus.Automatic) && item.IsWmsRefund && !item.IsShip)
                                        {
                                            progressStatusDesc += "：商品未出貨(已重新入倉)";
                                        }
                                        else if ((progressStatus.Equals(VendorProgressStatus.Retrieving) || progressStatus.Equals(VendorProgressStatus.ConfirmedForVendor) || progressStatus.Equals(VendorProgressStatus.ConfirmedForUnArrival)) && item.IsWmsRefund)
                                        {
                                            progressStatusDesc = "待確認收件";
                                        }
                                        else if (progressStatus.Equals(VendorProgressStatus.UnreturnableProcessed))
                                        {
                                            progressStatusDesc += "：客服已處理";
                                        }
                                        else if (progressStatus.Equals(VendorProgressStatus.Processing))
                                        {
                                            progressStatusDesc = "客服已處理";
                                        }
                                        if (Model.Query.queryProcessStep == 1 && progressStatus.Equals(VendorProgressStatus.CompletedAndRetrievied))
                                        {
                                            //要先去收件才能已收回
                                            continue;
                                        }
                                        if ((Model.Query.queryProcessStep == 1 || Model.Query.queryProcessStep == 2) &&
                                            (progressStatus.Equals(VendorProgressStatus.CompletedByCustomerService) || progressStatus.Equals(VendorProgressStatus.Automatic) || progressStatus.Equals(VendorProgressStatus.UnreturnableProcessed) || progressStatus.Equals(VendorProgressStatus.Processing)))
                                        {
                                            continue;
                                        }
                                        if ((Model.Query.queryProcessStep == 1 || Model.Query.queryProcessStep == 2) && item.IsShip && progressStatus.Equals(VendorProgressStatus.CompletedAndUnShip))
                                        {
                                            continue;
                                        }
                                        if ((Model.Query.queryProcessStep == 1 || Model.Query.queryProcessStep == 2) && !item.IsShip && !item.IsWmsRefund && !progressStatus.Equals(VendorProgressStatus.CompletedAndUnShip))
                                        {
                                            continue;
                                        }
                                        if (ViewBag.WmsRefundEnable && item.IsWmsRefund)
                                        {
                                            if ((Model.Query.queryProcessStep == 2) && !item.IsWms && (progressStatus.Equals(VendorProgressStatus.ConfirmedForVendor) || progressStatus.Equals(VendorProgressStatus.ConfirmedForUnArrival)))
                                            {
                                                continue;
                                            }
                                            if ((Model.Query.queryProcessStep == 2) && item.IsWms && item.VendorProgressStatus != (int)progressStatus && (progressStatus.Equals(VendorProgressStatus.Retrieving) || (progressStatus.Equals(VendorProgressStatus.ConfirmedForVendor) || progressStatus.Equals(VendorProgressStatus.ConfirmedForUnArrival))))
                                            {
                                                //只要逆物流發生就顯示待確認收件
                                                continue;
                                            }
                                            if ((Model.Query.queryProcessStep == 2) && item.IsWms && !(progressStatus.Equals(VendorProgressStatus.Retrieving) || progressStatus.Equals(VendorProgressStatus.ConfirmedForVendor) || progressStatus.Equals(VendorProgressStatus.ConfirmedForUnArrival) || progressStatus.Equals(VendorProgressStatus.CompletedAndRetrievied) || progressStatus.Equals(VendorProgressStatus.Unreturnable)))
                                            {
                                                continue;
                                            }

                                        }
                                        else
                                        {
                                            if (progressStatus.Equals(VendorProgressStatus.ConfirmedForVendor) || progressStatus.Equals(VendorProgressStatus.ConfirmedForUnArrival))
                                            {
                                                continue;
                                            }
                                        }
                                        <option value="@((int)progressStatus)" @Html.Raw(item.VendorProgressStatus.Equals((int)progressStatus) ? "selected" : "")>@progressStatusDesc</option>
                                    }
                                </select>

                                <br />
                                <br />
                                <div id="divSetReturnQuantity" class="w10-10-ManageList" style="display:none" data-bind="@item.SerNo">
                                    <label>實際收回數（可退貨數）：</label>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        @{
                                            int t = 0;
                                            foreach (var info in item.ReturnItemInfo)
                                            {
                                                <tr>
                                                    <th>@info.OptionDescription</th>
                                                    <td>
                                                        @info.Quantity
                                                        <input name="ReturnQuantity" type="hidden" value="@info.Quantity" />
                                                        <input name="ReturnProdcutId" type="hidden" value="@string.Join(",", info.OrderProductIds)" />
                                                    </td>
                                                </tr>
                                                t++;
                                            }
                                        }
                                    </table>
                                </div>
                                @if (Model.IsReadOnly)
                                {
                                    <a class="bpopup-item_process_memo" data-bind="@item.SerNo" href="javascript:void(0)">備註</a>
                                }
                                else
                                {
                                    <a class="bpopup-item_process_memo" data-bind="@item.SerNo" href="javascript:void(0)">+新增備註</a>
                                }
                                <div id="bpopup-item_process_memo" class="card-panel bpopup-modal" style="overflow-y:auto; width:350px; height:200px;" data-bind="@item.SerNo">
                                    備註<br />
                                    <textarea onchange="enabledEdit(this);" style="width:300px;height:100px;" maxlength="30" id="ProcessMemo" name="ProcessMemo" placeholder="任何特殊狀況，請備註於此。最多30個字。" @if (Model.IsReadOnly) { <text> disabled="disabled" </text>   }>@item.ProcessMemo</textarea>
                                    <hr />
                                    <div style="text-align:right;">
                                        <input class="button b-close" type="button" value="確認" />
                                    </div>
                                    @*<input type="hidden" value="@item.ProcessMemo" id="ProcessMemoDefault" name="ProcessMemoDefault" />*@
                                    <input name="ComboPackCount" type="hidden" value="@item.ComboPackCount" />
                                    <input name="ReturnProductCount" type="hidden" value="@item.ReturnItemInfo.Count()" />
                                </div>
                            </td>
                            <td>
                                @Html.Raw(item.CreateTime.Replace(" ", "<br/>"))
                            </td>
                            <td>
                                @Html.Raw(item.ReturnItemDescription.Replace("\n", "<br/>"))
                            </td>
                            <td>
                                @if (item.Reason.Length > 10)
                                {
                                    <p>@item.Reason.Substring(0, 9)....</p>
                                    <a class="bpopup-item_ship_memo" data-bind="@item.SerNo" href="javascript:void(0)">詳細內容</a>
                                    <div id="bpopup-item_ship_memo" class="card-panel bpopup-modal" style="overflow-y:auto; width:350px; height:400px;" data-bind="@item.SerNo">
                                        <h3>退貨資訊</h3>
                                        <div id="testDiv" style="text-align:left;">
                                            @Html.Raw(item.Reason.Replace(Environment.NewLine, "<br />"))
                                            <hr />
                                        </div>
                                        <div style="text-align:right;">
                                            <input class="button b-close" type="button" value="確定" />
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @item.Reason
                                }
                            </td>
                            <td>
                                @item.RecipientName
                            </td>
                            <td>
                                @item.RecipientMobile
                                <br />
                                <br />
                                @item.RecipientAddress
                            </td>
                            <td>
                                @item.DealId
                            </td>
                            <td>
                                @item.DealName
                            </td>
                            <td>
                                <a class="bpopup-item_ship_log" data-bind="@item.SerNo" href="javascript:void(0)"><img id="" src="../../Themes/default/images/17Life/B5/b_search.jpg" /></a>
                                <div id="bpopup-item_ship_log" class="card-panel bpopup-modal" style="overflow-y:auto; width:480px; height:350px;" data-bind="@item.SerNo">
                                    <h3>訊息紀錄</h3>
                                    <textarea style="width: 420px; height: 170px; font-size:12px; color:#696767" maxlength="500" readonly="readonly">@Html.Raw(string.Join("\n", item.VendorProcessLog.Select(log => string.Format("[{0}] {1}", log.CreateTime.ToString("yyyy/MM/dd HH:mm"), log.Message))))</textarea>
                                    <div style="text-align:right;">
                                        <input class="button b-close" type="button" value="確定" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
        @if (Model.TotalCount > 0)
        {
            <div style="text-align:center;margin:10px 0 10px 0;">
                @if (!Model.IsReadOnly)
                {
                    <input id="btnSaved" type="button" value="儲存並更新" />
                }
            </div>
        <!-- pagination -->
            <div class="row">
                <div class="col s12">
                    <div class="center-align">
                        @if (Model.Query.pageIndex <= 1)
                        {
                            <i class="btn disabled arrow tertiary waves-effect fa fa-angle-double-left waves-input-wrapper" style=""><input title="第一頁" type="button" class="waves-button-input" value=""></i>
                            <i class="btn disabled arrow tertiary waves-effect fa fa-angle-left waves-input-wrapper" style=""><input title="上一頁" type="button" class="waves-button-input" value=""></i>
                        }
                        else
                        {
                            <i class="btn arrow tertiary waves-effect fa fa-angle-double-left waves-input-wrapper" style="" onclick="onPageChnage(1);"><input title="第一頁" type="button" class="waves-button-input" value=""></i>
                            <i class="btn arrow tertiary waves-effect fa fa-angle-left waves-input-wrapper" style="" onclick="onPageChnage(@Model.Query.pageIndex -1);"><input title="上一頁" type="button" class="waves-button-input" value=""></i>
                        }
                        <form class="dis-inline mrg20-ver">
                            <select onchange="onPageChnage(this.value)">
                                @for (var i = 1; i <= Model.PageCount; i++)
                                {
                                    <option value="@i" @if (i == Model.Query.pageIndex) { <text> selected="selected" </text>      }>@i</option>
                                }
                            </select>
                            <span>/@Model.PageCount</span>
                        </form>
                        @if (Model.Query.pageIndex == Model.PageCount)
                        {
                            <i class="btn disabled btn-default arrow tertiary waves-effect fa fa-angle-right waves-input-wrapper" style=""><input title="下一頁" type="button" class="waves-button-input" value=""></i>
                            <i class="btn disabled btn-default arrow tertiary waves-effect fa fa-angle-double-right waves-input-wrapper" style=""><input title="最後頁" type="button" class="waves-button-input" value=""></i>
                        }
                        else
                        {
                            <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-right waves-input-wrapper" style="" onclick="onPageChnage(@Model.Query.pageIndex +1);"><input title="下一頁" type="button" class="waves-button-input" value=""></i>
                            <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-double-right waves-input-wrapper" style="" onclick="onPageChnage(@Model.PageCount);"><input title="最後頁" type="button" class="waves-button-input" value=""></i>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*<link rel="stylesheet" href="../../Themes/default/images/17Life/Regulars/css/bootstrap.css">
    <script src="../../Tools/js/bootstrap.min.js"></script>*@
<script type="text/javascript" src="../../Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>
<script>
    $(document).ready(function () {
        //popup
        $('.bpopup-item_process_memo').bind('click', function (e) {
            var id = $(this).attr('data-bind');
            $('div#bpopup-item_process_memo[data-bind="' + id + '"]').bPopup({
                modalClose: true,
            });
            $(this).after($('div#bpopup-item_process_memo[data-bind="' + id + '"]'));
        });

        $('.bpopup-item_ship_memo').bind('click', function (e) {
            var id = $(this).attr('data-bind');
            $('div#bpopup-item_ship_memo[data-bind="' + id + '"]').bPopup({
                modalClose: true,
            });
            $(this).after($('div#bpopup-item_ship_memo[data-bind="' + id + '"]'));
        });

        $('div#divSetReturnQuantity').each(function () {
            var id = $(this).attr('data-bind');
            if ($('select#progressStatus[data-bind="' + id + '"]').val() === '@((int)VendorProgressStatus.CompletedAndRetrievied)') {
                $(this).show()
            }
        });

        $('.bpopup-item_ship_log').bind('click', function (e) {
            var id = $(this).attr('data-bind');
            $('div#bpopup-item_ship_log[data-bind="' + id + '"]').bPopup({
                modalClose: true,
            });
            $(this).after($('div#bpopup-item_ship_log[data-bind="' + id + '"]'));
        });
    })

    //datepicker
    $(".datepicker").datepicker({
        dateFormat: "yy-mm-dd",
    });
    var dateFormat = $(".datepicker").datepicker("option", "dateFormat");

    $('#btnSaved').click(function () {
        var _c = $('#ReturnOrderTable input:checkbox:checked').length;
        if (_c > 0) {
            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();
            OnSave();
        } else {
            alert('未勾選任何項目');
        }
    })

    $('#page-size').change(function () {
        $('#maxPage').val($(this).val());
        $('#queryForm').submit();
    })

    function OnSave() {

        //檢查資料完整
        if (!checkUnreturnableData()) {
            alert('請填寫處理備註，以方便客服了解無法完成退貨的原因。')
            $.unblockUI();
            return false;
        }

        //成套販售檔次需檢查是否成套退貨
        var comboPackError = comboPackCheck();
        if (comboPackError != '') {
            alert('成套販售的商品，只允許成套退貨。\n訂單編號：\n' + comboPackError);
            $.unblockUI();
            return false;
        }

        var noRetriveError = checkNoRetrive();
        if (noRetriveError != '') {
            if (!confirm('您不收回商品，但同意依退貨申請數，全數退款給消費者嗎？。\n訂單編號：\n' + noRetriveError)) {
                $.unblockUI();
                return false;
            }
        }

        var noReturnError = checkNoReturn();

        $('option').attr("disabled", false);

        var data = [];
        $('#ReturnOrderTable').find('tr').each(function () {
            if ($(this).find('.ck').is(':checked')) {
                var row = {};
                $(this).find('input,select,textarea').each(function () {
                    if ($(this).attr('name') in row) {
                        if ($.isArray(row[$(this).attr('name')])) {
                            row[$(this).attr('name')].push($(this).val());
                        } else {
                            var temp = row[$(this).attr('name')];
                            row[$(this).attr('name')] = [];
                            row[$(this).attr('name')].push(temp);
                            row[$(this).attr('name')].push($(this).val());
                            temp = null;
                        }
                    } else {
                        if ($(this).attr('name') != null) {
                            row[$(this).attr('name')] = $(this).val();
                        }
                    }
                });
                data.push(row);
            }
        });

        var jdata = JSON.stringify({ 'returnProducts': data });

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            url: '@Url.Action("ReturnProcessShipped")',
            data: jdata,
            success: function (d) {
                $.unblockUI();
                if (d.IsSuccess) {
                    if (noReturnError != '')
                    {
                        alert('儲存成功。無法完成退貨訂單，請主動聯繫您的業務/服務人員窗口，以免影響請款進度。或您可於週一~週五 09:00~18:00 直撥 ' + '@config.ServiceTel' + '，由總機人員為您轉接，謝謝。\n訂單編號：\n' + noReturnError);
                    }
                    else
                    {
                        alert('已成功更新');
                    }
                    $('#queryForm').submit();
                } else {
                    alert('更新發生錯誤，請重新檢查。')
                }
            },
            error: resultHandler,
            dataType: 'json',
            traditional: true
        });
    }

    function progressStatus_Change(obj) {

        var row_index = $(obj).closest('tr').index();
        var ck = $('tr input[type=checkbox]', $('#ReturnOrderTable')).eq(row_index);
        var memo = $(obj).parent().find('#ProcessMemo');


        if ($(obj).val() == '' && $(memo).val() == '') {
            ck.removeAttr('checked');
            ck.attr('disabled', 'disabled');
        } else {
            ck.removeAttr('disabled');
            ck.attr('checked', 'checked');
        }


        //收回數量
        var id = $(obj).attr('data-bind');
        if ($(obj).val() == '@((int)VendorProgressStatus.CompletedAndRetrievied)') {
            $('div#divSetReturnQuantity[data-bind="' + id + '"]').show()
        } else {
            $('div#divSetReturnQuantity[data-bind="' + id + '"]').hide()
        }

    }

    function enabledEdit(obj) {


        var row_index = $(obj).closest('tr').index();
        var ck = $('tr input[type=checkbox]', $('#ReturnOrderTable')).eq(row_index);
        var status = $(obj).parent().parent().find('#progressStatus');

        if ($(obj).val() == '' && $(status).val() == '') {
            ck.removeAttr('checked');
            ck.attr('disabled', 'disabled');
        } else {
            ck.removeAttr('disabled');
            ck.attr('checked', 'checked');
        }



    }

    function resultHandler(data) {
        $.unblockUI();
    }

    function block_postback() {
        $.blockUI({ message: "<center><img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />儲存中，請稍候...</center>", css: { width: '250px' } });
    }

    function onPageChnage(p) {
        var checked = false;
        $('#ReturnOrderTable').find('tr').each(function () {
            if ($(this).find('.ck').is(':checked')) {
                checked = true;
                return;
            }
        });

        if (isNaN(parseInt(p))) {
            p = $('#page option:selected').val();
        }
        $('#pageIndex').val(p);
        if (checked) {
            if (confirm('勾選的項目將不在保存，是否繼續換頁?')) {
                $('#queryForm').submit();
            }
        } else {
            $('#queryForm').submit();
        }
    }

    function checkUnreturnableData() {
        var pass = true;
        //檢查無法完成退貨，但未填寫備註
        $('#ReturnOrderTable tr').each(function () {
            if ($(this).find('.ck').is(':checked')) {
                if ($(this).find('#progressStatus').val() == '@((int)VendorProgressStatus.Unreturnable)' && $.trim($(this).find('#ProcessMemo').val()) == '') {
                    $(this).toggleClass("hilight");
                    pass = false;
                }
            }
        })

        return pass;
    }

    function checkNoRetrive() {

        var orderId = '';
        $('#ReturnOrderTable tr').each(function () {
            if ($(this).find('.ck').is(':checked')) {

                if ($(this).find('#progressStatus').val() == '@((int)VendorProgressStatus.CompletedAndNoRetrieving)')
                {
                    orderId += $(this).find('td').eq(1).text().trim() + "\n";
                }
            }
        })

        return orderId;
    }

    function checkNoReturn() {

        var orderId = '';
        $('#ReturnOrderTable tr').each(function () {
            if ($(this).find('.ck').is(':checked')) {

                if ($(this).find('#progressStatus').val() == '@((int)VendorProgressStatus.Unreturnable)') {
                    orderId += $(this).find('td').eq(1).text().trim() + "\n";
                }
            }
        })

        return orderId;
    }

    function comboPackCheck() {


        var orderId = '';
        $('#ReturnOrderTable tr').each(function () {
            if ($(this).find('.ck').is(':checked')) {

                if ($(this).find('#progressStatus').val() == '@((int)VendorProgressStatus.CompletedAndRetrievied)') {
                    var pass = false;
                    var comboPackCount = $(this).find('[name=ComboPackCount]').val();
                    var returnQuantity = 0;
                    //倍數需大於1 才視為成套販售
                    if (comboPackCount == 1) {
                        pass = true;
                    }
                    //加總欲退貨數
                    $(this).find($('[name=ReturnQuantity]')).each(function () {
                        returnQuantity += parseInt($(this).val());
                    })

                    //成套販售檔次:總退貨數須整套退貨(被倍數整除)
                    if (returnQuantity % comboPackCount == 0) {
                        pass = true;
                    }

                    if (!pass)
                    {
                        orderId += $(this).find('td').eq(1).text().trim() + "\n";
                    }
                }

            }
        })

        return orderId;
    }

</script>
