﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Model
@using LunchKingSite.Core
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model ShipOrderListModel
@{
    Layout = "~/Views/Shared/ShipMiddleLayout.cshtml";
}
    <div class="OW-w10-3-ShippDetial">
        <div class="w10-5-ShippOnlineInventory">
    @if (Model.IsResultEmpty)
    {
            <div class="w10-8-noResult textSize15">您目前沒有需管理的退貨。</div>
    }
    else
    {
            <div class="OW-w10-9-SearchBar textSize15">
                <div id="divViewReturnProcess" class="w10-9-AllPendingTab-on" onclick="window.location.href='@Url.Action("ReturnOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "viewVendorProgressState", ViewVendorProgressState.Process))'">待處理</div>
                <div id="divViewReturnFinished" class="w10-9-CompletedTab" onclick="window.location.href='@Url.Action("ReturnOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "viewVendorProgressState", ViewVendorProgressState.Finished))'">已完成</div>
                <div id="divSearchArea">
                    <form action="@Url.Action("ReturnOrderList", "VendorBillingSystemShip")" method="get">
                    <span>待處理搜尋：</span>
                    <select class="textSize15" name="selQueryOption" id="selQueryOption">
                        <option value="orderId" @Html.Raw(Request["selQueryOption"] == "orderId" ? "selected" : "")>訂單編號</option>
                        <option value="recipientName" @Html.Raw(Request["selQueryOption"] == "recipientName" ? "selected" : "")>收件姓名</option>
                        <option value="recipientTel" @Html.Raw(Request["selQueryOption"] == "recipientTel" ? "selected" : "")>收件電話</option>
                    </select>
                    <input type="text" class="w10-3Input textSize15" id="queryKeyWord" name="queryKeyWord" value="@Request["queryKeyWord"]">
                    <button type="submit" class="w10-3-SearchBtn">搜尋</button>
                @if (!string.IsNullOrEmpty(Request["queryKeyWord"]) && Model.ReturnOrderPagerInfos.Count == 0)
                {
                    <div class="w10-3-Prompt textSize13">查無訂單，可能已經完成退貨。</div>
                }
                    </form>
                </div>
            </div>
        if (Model.ReturnOrderPagerInfos.Count > 0)
        {
            <table border="0" cellspacing="0" cellpadding="0" class="w10-5-DetailedListTable textSize13">
                <caption>標示說明：
                    <img class="w10-9-warnImg" src='@Url.Content("~/Themes/OWriteOff/error_go.png")' width="16" height="16" />前往取件中&nbsp;&nbsp;&nbsp;
                    <img class="w10-9-warnImg" src='@Url.Content("~/Themes/OWriteOff/error_delete.png")' width="16" height="16" />任何原因無法完成退貨處理
                </caption>
                <tbody>   
            @{
                var sortHeaders = MvcUtility.GenerateSortColumns(
                    VbsReturnOrderListInfo.Columns.Names,
                    Model.ReturnOrderPagerInfos.SortColumn,
                    Model.ReturnOrderPagerInfos.SortDescending, this.ViewContext);                
            }
                    <tr class="w10-5-OrderGrayTitle" >     
                        <td width="90" class="@sortHeaders[VbsReturnOrderListInfo.Columns.OrderId].UpDown sort-initial">
                            <a href="@sortHeaders[VbsReturnOrderListInfo.Columns.OrderId].Url" style="width:100%; display:inline-block">訂單編號</a>
                        </td>
                        <td width="60" class="@sortHeaders[VbsReturnOrderListInfo.Columns.RecipientName].UpDown sort-initial">
                            <a href="@sortHeaders[VbsReturnOrderListInfo.Columns.RecipientName].Url" style="width:100%; display:inline-block">收件人姓名</a>
                        </td>
                        <td width="70" class="@sortHeaders[VbsReturnOrderListInfo.Columns.RecipientTel].UpDown sort-initial">
                            <a href="@sortHeaders[VbsReturnOrderListInfo.Columns.RecipientTel].Url" style="width:100%; display:inline-block">收件人電話</a>
                        </td>
                        <td width="80" class="@sortHeaders[VbsReturnOrderListInfo.Columns.ReturnApplicationTime].UpDown sort-initial">
                            <a href="@sortHeaders[VbsReturnOrderListInfo.Columns.ReturnApplicationTime].Url" style="width:100%; display:inline-block">退貨申請日</a>    
                        </td>
                        <td width="240" class="@sortHeaders[VbsReturnOrderListInfo.Columns.ReturnReason].UpDown sort-initial">
                            <a href="@sortHeaders[VbsReturnOrderListInfo.Columns.ReturnReason].Url" style="width:100%; display:inline-block">退貨原因與備註</a>
                        </td>
                        <td width="160" class="@sortHeaders[VbsReturnOrderListInfo.Columns.ReturnItemDescription].UpDown sort-initial">
                            <a href="@sortHeaders[VbsReturnOrderListInfo.Columns.ReturnItemDescription].Url" style="width:100%; display:inline-block">退貨數</a>
                        </td>
                        <td width="70" class="@sortHeaders[VbsReturnOrderListInfo.Columns.ShipTime].UpDown sort-initial">
                            <a href="@sortHeaders[VbsReturnOrderListInfo.Columns.ShipTime].Url" style="width:100%; display:inline-block">出貨日期</a>
                        </td>
                        <td width="100" class="@sortHeaders[VbsReturnOrderListInfo.Columns.VendorProgressStatus].UpDown sort-initial">
                            <a href="@sortHeaders[VbsReturnOrderListInfo.Columns.VendorProgressStatus].Url" style="width:100%; display:inline-block">退貨管理</a>
                        </td>
                    </tr>
            @{            
                var i = Model.ReturnOrderPagerInfos.PageSize * (Model.ReturnOrderPagerInfos.CurrentPage - 1);
                var shipProcessHref = string.Empty;

                foreach (var m in Model.ReturnOrderPagerInfos)
                {
                    //退貨管理完成:廠商已維護退貨單完成，準備進行後續退款
                    bool isReturnComplete = (m.VendorProgressStatus.Equals(VendorProgressStatus.CompletedAndRetrievied) || 
                                             m.VendorProgressStatus.Equals(VendorProgressStatus.CompletedAndNoRetrieving) || 
                                             m.VendorProgressStatus.Equals(VendorProgressStatus.CompletedAndUnShip) ||
                                             m.VendorProgressStatus.Equals(VendorProgressStatus.CompletedByCustomerService) ||
                                             m.VendorProgressStatus.Equals(VendorProgressStatus.Automatic))
                                            ? true
                                            : false;
                    //退款完成 or 取消退貨:不能使用復原-退款進度為完成、ATM退款處理中 及 取消退貨 皆為不得使用退貨單復原狀況
                    bool isRefundComplete = (m.ProgressStatus.Equals(ProgressStatus.Completed) ||
                                             m.ProgressStatus.Equals(ProgressStatus.CompletedWithCreditCardQueued) ||
                                             m.ProgressStatus.Equals(ProgressStatus.AtmQueueing) ||
                                             m.ProgressStatus.Equals(ProgressStatus.AtmQueueSucceeded) ||
                                             m.ProgressStatus.Equals(ProgressStatus.AtmFailed) ||
                                             m.ProgressStatus.Equals(ProgressStatus.Canceled))
                                            ? true
                                            : false;
                    string shipTime = m.ShipTime.HasValue ? m.ShipTime.Value.ToString("yyyy/MM/dd") : string.Empty;
                    shipProcessHref = Url.Action("ShipOrderList", "VendorBillingSystemShip", new { id = Model.DealSaleInfo.DealId, type = Model.DealSaleInfo.DealType, selQueryOption = "orderId", queryKeyWord = m.OrderId });
                    
                    <tr style='background-color:@Html.Raw(i % 2 == 0 ? "#FFFFFF" : "#FEF2ED")'>
                        <td height="40" class="smallT10">
                        @if (!isReturnComplete)
                        {
                            if (ViewBag.IsConsignment == true) {
                                @m.OrderId
                            }
                            else{
                                <a href='@shipProcessHref' id="ahref@(m.ReturnFormId)">@m.OrderId</a>
                            }
                        }
                        else
                        {
                            @m.OrderId
                        }
                        </td>
                        <td>@m.RecipientName</td>
                        <td class=" TDPaddingLef">@m.RecipientTel</td>
                        <td class=" TDPaddingLef">@m.ReturnApplicationTime.ToString("yyyy/MM/dd")</td>
                        <td class="textLeft TDPaddingLef">@Html.Raw(m.ReturnReason)</td>
                        <td class="textLeft TDPaddingLef">@Html.Raw(m.ReturnItemDescription.Replace("\n", "<br/>"))</td>
                        <td>
                            <div id="divShipTime@(m.ReturnFormId)">
                            @if (!string.IsNullOrEmpty(shipTime))
                            {
                                @shipTime
                            }
                            else
                            {
                                if (!isReturnComplete)
                                {
                                    <input type="button" class="ow-bk-nextbtn ow-bk-list-ditlbtn" value="出貨管理" onclick='@string.Format("ShipMgnt('{0}')", shipProcessHref)' />
                                }
                                else
                                {
                                    @:未出貨
                                }
                            }
                            </div>
                        </td>
                        <td>
                        @if (!isReturnComplete && !isRefundComplete)
                        {
                            string returnProcessHref = Url.Action("ReturnOrderProcess", new { id = Model.DealSaleInfo.DealId, type = Model.DealSaleInfo.DealType, orderId = m.OrderId });
                            //出貨日期有填 且  出貨日期小於等於系統日期 視為已出貨 連結到退貨管理頁進行管理
                            if (m.ShipTime.HasValue && m.ShipTime <= DateTime.Now.Date)
                            {
                                <input type="button" class="ow-bk-nextbtn ow-bk-list-ditlbtn" value="退貨管理" onclick='@string.Format("window.location.href='{0}'", returnProcessHref)'/>
                                if (m.VendorProgressStatus.Equals(VendorProgressStatus.Retrieving))
                                {
                                <img class="w10-9-warnImg" src='@Url.Content("~/Themes/OWriteOff/error_go.png")' width="16" height="16"/>
                                }
                                else if (m.VendorProgressStatus.Equals(VendorProgressStatus.Unreturnable) ||
                                         m.VendorProgressStatus.Equals(VendorProgressStatus.UnreturnableProcessed))
                                {
                                <img class="w10-9-warnImg" src='@Url.Content("~/Themes/OWriteOff/error_delete.png")' width="16" height="16"/>
                                }
                            }
                            //出貨日期未填 或 出貨日期大於系統日期 視為未出貨 直接進行未出貨退貨作業
                            else
                            {
                                <span id="spnReturn@(m.ReturnFormId)" style="display:none">退貨已完成</span>
                                <input id="btnReturn@(m.ReturnFormId)" type="button" class="ow-bk-nextbtn-yellow  ow-bk-list-ditlbtn" value="退貨確認" onclick='@string.Format("btnReturn_Click('{0}', '{1}')", m.ReturnFormId, shipTime)'/>
                            }
                        }
                        else 
                        {
                            string returnCompletedStatus = string.Empty;
                            switch (m.VendorProgressStatus)
                            {
                                case VendorProgressStatus.CompletedAndNoRetrieving :
                                case VendorProgressStatus.CompletedAndRetrievied :
                                case VendorProgressStatus.CompletedAndUnShip:
                                    returnCompletedStatus = "退貨已完成";
                                    break;

                                default:
                                    returnCompletedStatus = Helper.GetLocalizedEnum(Resources.Localization.ResourceManager, m.VendorProgressStatus);
                                    break;
                            }
                            
                            if (m.ProgressStatus.Equals(ProgressStatus.Canceled))
                            {
                                returnCompletedStatus = "取消退貨";
                            }
                            
                            <span id="spnReturnStatus@(m.ReturnFormId)">@returnCompletedStatus</span>
                            //已完成退款作業 且 廠商處理進度為:系統自動退/客服已處理 不能進行退貨復原作業
                            if (!isRefundComplete &&
                                !m.VendorProgressStatus.Equals(VendorProgressStatus.Automatic) &&
                                !m.VendorProgressStatus.Equals(VendorProgressStatus.CompletedByCustomerService))
                            {
                            <input id="btnRecover@(m.ReturnFormId)" type="button" class="ow-bk-nextbtn-yellow ow-bk-list-ditlbtn" value="復原" onclick='@string.Format("btnRecover_Click({0})", m.ReturnFormId)'/>
                            }
                        }
                        </td>
                    </tr>
                
                        i++;
                }
            }
                </tbody>
                </table>
            @RenderPagerBar(Model.ReturnOrderPagerInfos)
        }
    }
        </div>
    </div>

@section Script{  
    <script type="text/javascript">

        $().ready(function () {  
            $('#queryKeyWord').css('color', '#000000');
            if ('@Request["viewVendorProgressState"]' != undefined && '@Request["viewVendorProgressState"]' != '') {
                showViewReturnStateTab('@Request["viewVendorProgressState"]');
            }
        });
        //小倉系統不予管理出貨
        function ShipMgnt(shipProcessHref) {
            var isConsignment = '@ViewBag.IsConsignment';
            if (isConsignment == 'True') {
                alert("本檔為商品寄倉檔次，由17Life直接出貨，不需處理");
                return false;
            }
            else {
                window.location.href = shipProcessHref;
            }
        }

        //控制Div頁面顯示效果
        function showViewReturnStateTab(viewVendorProgressState) {
            if (viewVendorProgressState === '@ViewVendorProgressState.Process') {       //處理中
                $("#divViewReturnProcess").addClass("w10-9-AllPendingTab-on");
                $("#divSearchArea").show();
            }
            else if (viewVendorProgressState === '@ViewVendorProgressState.Finished') {  //處理完成
                $("#divViewReturnProcess").removeClass("w10-9-AllPendingTab-on");
                $("#divViewReturnProcess").addClass("w10-9-AllPendingTab");
                $("#divViewReturnFinished").removeClass("w10-9-CompletedTab");
                $("#divViewReturnFinished").addClass("w10-9-CompletedTab-on");
                $("#divSearchArea").hide();
            }
        }

        //按鈕[退貨已完成]
        function btnReturn_Click(returnFormId, shipTime) {
            var isConsignment = '@ViewBag.IsConsignment';
            if (isConsignment == 'True') {
                alert("本檔為商品寄倉檔次，由17Life直接出貨，因尚未出貨，不需處理");
                return false;
            }

            var now = new Date();
            var today = now.getFullYear() + "/" + (now.getMonth() + 1) + "/" + now.getDate();
            
            //未填出貨單
            if (shipTime === '') {
                if (!confirm("確定尚未出貨嗎？若已出貨請先進行出貨管理。\n確定退貨後，將直接退款給消費者。")) {
                    return false;
                }
            }
            else {
                //出貨日期大於系統日期
                if ((Date.parse(shipTime)).valueOf() > (Date.parse(today)).valueOf()) {
                    if (!confirm("確定尚未出貨嗎？確定退貨後，將直接退款給消費者。")) {
                        return false;
                    }
                }
            }
           
            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ReturnProcessUnShip")',
                data: { returnFormId:returnFormId },
                success: returnUnshipResultHandler,
                dataType: 'json',
                traditional: true
            });
        }

        function returnUnshipResultHandler(data) {   
            //關閉處理中訊息並解除鎖定畫面
            $.unblockUI();
            //延遲跳出結果訊息及跳頁 避免跳出訊息和儲存訊息重疊出現
            setTimeout(function() {         
                alert(data.Message);
                if (data.IsSuccess) {
                    $("#btnReturn" + data.ReturnFormId).hide();
                    $("#spnReturn" + data.ReturnFormId).show();
                    $('#ahref' + data.ReturnFormId).removeAttr("href").css("text-decoration", "none").css("color", "black");
                    $('#divShipTime' + data.ReturnFormId).html(data.ShipTime);
                } else {
                    refresh_page(data.IsReturnFinish);
                }
            }, 500);
        }

        //按鈕[復原]
        function btnRecover_Click(returnFormId) {
            if (!confirm("您確定要將［退貨已完成］狀態復原為［待處理］狀態嗎？")) {
                return false;
            }

            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ReturnProcessRecover")',
                data: { returnFormId:returnFormId },
                success: returnRecoverResultHandler,
                dataType: 'json',
                traditional: true
            });
        }

        function returnRecoverResultHandler(data) {   
            //關閉處理中訊息並解除鎖定畫面
            $.unblockUI();
            //延遲跳出結果訊息及跳頁 避免跳出訊息和儲存訊息重疊出現
            setTimeout(function() {
                alert(data.Message);
                if (data.IsSuccess) {
                    $("#btnRecover" + data.ReturnFormId).hide();
                    $("#spnReturnStatus" + data.ReturnFormId).text('待處理');
                } else {
                    refresh_page(data.IsReturnFinish);
                }
            }, 500);
        }
        
        function block_postback() {
            $.blockUI({ message: "<center><img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />儲存中，請稍候...</center>", css: { width: '250px' } });
        }

        function refresh_page(isReturnFinish) {
            if (isReturnFinish) {
                window.location.href = '@Url.Action("ReturnOrderList", "VendorBillingSystemShip",
                                    new
                                    {
                                        id = HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString(),
                                        type = HttpContext.Current.Request.RequestContext.RouteData.Values["type"].ToString(),
                                        viewVendorProgressState = ViewVendorProgressState.Finished
                                    })';
            } else {
                window.location.href = '@Url.Action("ReturnOrderList", "VendorBillingSystemShip",
                                    new
                                    {
                                        id = HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString(),
                                        type = HttpContext.Current.Request.RequestContext.RouteData.Values["type"].ToString()
                                    })';
            }
        }

    </script>
}

@helper RenderPagerBar(PagerList<VbsReturnOrderListInfo> pagerData)
{
    int nextPage = pagerData.CurrentPage + 1;
    int prevPage = pagerData.CurrentPage - 1;
    string firstPageUrl = Url.Action("ReturnOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MinPage));
    string lastPageUrl = Url.Action("ReturnOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MaxPage));
    string nextPageUrl = Url.Action("ReturnOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", nextPage));
    string prevPageUrl = Url.Action("ReturnOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", prevPage));
    string pagerPattern = Url.Action("ReturnOrderList", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", "_pageNumber"));
    <table border="0" cellspacing="0" cellpadding="0" class="OW-W5_3-Table3-Page">
        <tr>
            <td width="50">                    
            @if (pagerData.HasPreviousPage)
            {
                <a href="@firstPageUrl">
                    <img src='@Url.Content("~/Themes/OWriteOff/Upper_st2.png")'/>
                </a>
            }
            else
            {
                <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" style="visibility:hidden" />
            }                  
            </td>
            <td width="71">
            @if (pagerData.HasPreviousPage)
            {
                <a href="@prevPageUrl">
                    <img src='@Url.Content("~/Themes/OWriteOff/Upper2.png")'/>
                </a>
            }
            else
            {
                <img src='@Url.Content("~/Themes/OWriteOff/Upper2.png")' style="visibility:hidden"/>
            }
            </td>
            <td width="71">
                <select class="all" pagerPattern="@pagerPattern" 
                    onchange="location.href=$(this).attr('pagerPattern').replace('_pageNumber',$(this).val());">
                @for (int j = pagerData.MinPage; j <= pagerData.MaxPage; j++)
                {
                    <option value="@j" @Html.Raw(pagerData.CurrentPage == j ? "selected" : "")>@j</option>
                }
                </select>
            </td>
            <td width="91">頁 ／ @pagerData.MaxPage 頁</td>
            <td width="91">共 @pagerData.TotalItemCount 筆</td>
            <td width="61">
            @if (pagerData.HasNextPage)
            {
                <a href="@nextPageUrl">
                    <img src='@Url.Content("~/Themes/OWriteOff/Lower2.png")'/>
                </a>
            }
            else
            {
                <img src='@Url.Content("~/Themes/OWriteOff/Lower2.png")' style="visibility:hidden"/>
            }
            </td>
            <td width="50">
            @if (pagerData.HasNextPage)
            {
                <a href="@lastPageUrl">
                    <img src='@Url.Content("~/Themes/OWriteOff/Lower_st2.png")'/>
                </a>
            }
            else
            {
                <img src='@Url.Content("~/Themes/OWriteOff/Lower_st2.png")' style="visibility:hidden"/>
            }
            </td>
        </tr>
    </table>
}
