﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem;
@using LunchKingSite.Core;

@model ShipOrderStatusModel
@{
    Layout = "~/Views/Shared/VbsLayout.cshtml";
}
 
<style type="text/css">
    .isloading-overlay {
        position: relative;
        text-align: center;
    }
    .isloading-overlay .isloading-wrapper {
        font-family: Verdana;
        font-size: 13px;
        background: #FFFFFF;
        -webkit-border-radius: 7px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 7px;
        -moz-background-clip: padding;
        border-radius: 7px;
        background-clip: padding-box;
        display: inline-block;
        margin: 0 auto;
        padding: 10px 20px;
        top: 10%;
        z-index: 9000;
    }
</style>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.isloading.js")'></script>
<script type="text/javascript">
    $(function () {
        $('#btnQuery').click(function () {
            $.isLoading({ text: "Loading..." });
            $('#queryForm').submit();

        });

        $("form").bind('ajax:complete', function () {
            $.isLoading("hide");
        });
    });

    function onPageChnage(p) {
        if (isNaN(parseInt(p))) {
            p = $('#page option:selected').val();
        }
        $('#pageIndex').val(p);
        $('#queryForm').submit();
    }
</script>

    <h5 class="breadcrumbs-title">訂單狀態查詢</h5>
    <div class="row" style="background:#eee;">
        <div class="col l12 m12 s12">
            <form id="queryForm" action="ShipOrderStatusList" method="post">
                <div class="form-unit">
                    <label class="unit-label">
                        訂購日
                    </label>
                    <div class="data-input">
                        <div class="date_time_picker_group">
                            <input type="text" name="queryBeginDate" id="queryBeginDate" value="@Model.Query.queryBeginDate" class="datepicker">
                            <i class="fa fa-calendar"></i> ~&nbsp;
                        </div>
                        <div class="date_time_picker_group">
                            <input type="text" name="queryEndDate" id="queryEndDate" value="@Model.Query.queryEndDate" class="datepicker">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <span class="note">&nbsp;(查詢區間最長為一個月EX : 2017/01/01~2017/01/30)</span>
                    </div>
                </div>
                <div class="form-unit">
                    <label class="unit-label">
                        檔號
                    </label>
                    <div class="data-input">
                        <p>
                            <input id="queryDealId" name="queryDealId" type="text" style="width:20%;margin-right:20px;" value="@Model.Query.queryDealId" />
                            <label>訂單編號</label>
                            <input id="queryOrderId" name="queryOrderId" type="text" style="width:20%;margin-right:40px;margin-left:20px;" value="@Model.Query.queryOrderId" />
                            <a id="btnQuery" class="waves-effect waves-light btn">搜尋</a>
                        </p>
                    </div>
                </div>
                <input type="hidden" id="pageIndex" name="pageIndex" />
            </form>
        </div>
    </div>
    <div class="row">
        <p>一頁顯示 @Model.PageSize 筆，共 @Model.TotalCount 筆 </p>
    </div>
   
    @if (Model.TotalCount > 0)
    {
        <div class="row">
            <div class="col s12">
                <table class="center-align">
                    <thead>
                        <tr>
                            <th class="" width="40">項次</th>
                            <th class="" width="160">訂單編號</th>
                            <th class="" width="90">母檔號<br />子檔號</th>
                            <th class="" width="90">訂購日</th>
                            <th class="" width="300">消費方案名稱</th>
                            <th class="" width="60">出貨</th>
                            <th class="" width="60">換貨</th>
                            <th class="" width="60">退貨</th>
                            <th class="" width="70">客服紀錄</th>
                            <th class="" width="70">訂單明細/歷程</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ShipOrderInfo item in Model.ShipOrderInfos)
                        {
                            <tr>
                                <td>
                                    @item.SerNo
                                </td>
                                <td>
                                    @item.OrderId
                                </td>
                                <td>
                                    @item.MainDealId<br /> @item.SubDealId
                                </td>
                                <td>
                                    @item.OrderDate
                                </td>
                                <td>
                                    @Html.Raw(item.ItemName)
                                </td>
                                @if (item.IsShipped)
                                {
                                    <td><a target="_blank" href="@Url.Action("ShipOrderList", "VendorBillingSystemShip",new { id = item.DealId, type=item.DealType, selQueryOption = "orderId", queryKeyWord = item.OrderId })">已處理</a></td>
                                }
                                else
                                {
                                    <td><a target="_blank" href="@Url.Action("ShipOrderList", "VendorBillingSystemShip",new { id = item.DealId, type=item.DealType, selQueryOption = "orderId", queryKeyWord = item.OrderId })">未處理</a></td>
                                }
                                @if (item.ExchangeStatus != null)
                                {
                                    switch (item.ExchangeStatus)
                                    {
                                        case (int)OrderReturnStatus.SendToSeller:
                                            <td>未處理</td>
                                            break;
                                        case (int)OrderReturnStatus.ExchangeSuccess:
                                        case (int)OrderReturnStatus.ExchangeFailure:
                                        case (int)OrderReturnStatus.ExchangeCancel:
                                            <td>結案</td>
                                            break;
                                        case (int)OrderReturnStatus.ExchangeProcessing:
                                            <td>進行中</td>
                                            break;
                                        default:
                                            <td>--</td>
                                            break;
                                    }
                                }
                                else
                                {
                                    <td>--</td>
                                }
                                @if (item.ReturnStatus != null)
                                {
                                    switch (item.ReturnStatus)
                                    {
                                        case (int)VendorProgressStatus.Processing:
                                        case (int)VendorProgressStatus.Retrieving:
                                            <td>待處理</td>
                                            break;
                                        default:
                                            <td>結案</td>
                                            break;
                                    }
                                }
                                else
                                {
                                    <td>--</td>
                                }
                                @if (!string.IsNullOrEmpty(item.CoustmerOrderId))
                                {
                                    <td>
                                        <a target="_blank" href="@Url.Action("ServiceProcess", "VendorBillingSystem", new ServiceProcessModel { OrderId = item.CoustmerOrderId }) ">查詢</a>
                                    </td>
                                }
                                else
                                {
                                    <td>--</td>
                                }
                                <td>
                                    <a class="bpopup-item_usage" href="javascript:void(0)" data-bind="@item.OrderId">查詢</a>
                                    <!-- 檔次使用清單-彈窗內容範例 -->
                                    <div id="bpopup-item_usage" class="card-panel bpopup-modal" style="overflow-y:auto; height:500px;" data-bind="@item.OrderId">
                                        @{ Html.RenderAction("ShipOrderDetail", new { model = item.Detail }); }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- pagination -->
        <div class="row">
            <div class="col s12">
                <div class="center-align">
                    @if (Model.Query.pageIndex <= 1)
                    {
                        <i class="btn disabled arrow tertiary waves-effect fa fa-angle-double-left waves-input-wrapper" style=""><input title="第一頁" type="button" class="waves-button-input" value=""></i>
                        <i class="btn disabled arrow tertiary waves-effect fa fa-angle-left waves-input-wrapper" style=""><input title="上一頁" type="button" class="waves-button-input" value=""></i>
                    }
                    else
                    {
                        <i class="btn arrow tertiary waves-effect fa fa-angle-double-left waves-input-wrapper" style="" onclick="onPageChnage(1);"><input title="第一頁" type="button" class="waves-button-input" value=""></i>
                        <i class="btn arrow tertiary waves-effect fa fa-angle-left waves-input-wrapper" style="" onclick="onPageChnage(@Model.Query.pageIndex -1);"><input title="上一頁" type="button" class="waves-button-input" value=""></i>
                    }
                    <form class="dis-inline mrg20-ver">
                        <select onchange="onPageChnage(this.value)">
                            @for (var i = 1; i <= Model.PageCount; i++)
                            {
                                <option value="@i" @if (i == Model.Query.pageIndex) { <text> selected="selected" </text>   }>@i</option>
                            }
                        </select>
                        <span>/@Model.PageCount</span>
                    </form>
                    @if (Model.Query.pageIndex == Model.PageCount)
                    {
                        <i class="btn disabled btn-default arrow tertiary waves-effect fa fa-angle-right waves-input-wrapper" style=""><input title="下一頁" type="button" class="waves-button-input" value=""></i>
                        <i class="btn disabled btn-default arrow tertiary waves-effect fa fa-angle-double-right waves-input-wrapper" style=""><input title="最後頁" type="button" class="waves-button-input" value=""></i>
                    }
                    else
                    {
                        <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-right waves-input-wrapper" style="" onclick="onPageChnage(@Model.Query.pageIndex +1);"><input title="下一頁" type="button" class="waves-button-input" value=""></i>
                        <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-double-right waves-input-wrapper" style="" onclick="onPageChnage(@Model.PageCount);"><input title="最後頁" type="button" class="waves-button-input" value=""></i>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <hr />
        <div>找不到與搜尋條件相符合資料</div>
    }

<script type="text/javascript" src="../../Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>
<script>
    $(document).ready(function () {
        //popup
        $('.bpopup-item_usage').bind('click', function(e) {
            var oid = $(this).attr('data-bind');
            $('div#bpopup-item_usage[data-bind='+oid+']').bPopup({
              modalClose: true,
            });
        });
    })

    //datepicker
    $( ".datepicker" ).datepicker({
        dateFormat: "yy-mm-dd",
    });
    var dateFormat = $(".datepicker").datepicker("option", "dateFormat");
    var now = new Date();
    $(".datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
    if(!$('#queryBeginDate').val().trim() && !$('#queryEndDate').val().trim()){
        $("#queryBeginDate,#queryEndDate").val(now.toJSON().slice(0, 10));
    }

</script>
