﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model ShipOrderListModel
@{
    Layout = "~/Views/Shared/ShipMiddleLayout.cshtml";
    var m = (Model.ImportResult != null) ? Model.ImportResult : null;
    string failFilePath = (m != null) ? m.FailFileName : "";
    string importResultMsg = (m != null && string.IsNullOrEmpty(m.OtherMessage)) ? "匯入完成|最新匯入時間：" + m.ImportTime.ToString("yyyy/MM/dd HH:mm") + "|新增成功：" + m.InsertCount + "|修改成功：" + m.UpdateCount + "|匯入失敗：" + m.FailCount + "|未處理　：" + m.NotYetCount
                                         : (m != null && !string.IsNullOrEmpty(m.OtherMessage)) ? m.OtherMessage : "";
    string remindingMsg = "";
    if (m != null && string.IsNullOrEmpty(m.OtherMessage))
    {
        if (m.RemindingInfos.Count > 0)
        {
            foreach (var remindInfo in m.RemindingInfos)
            {
                remindingMsg = remindingMsg + remindInfo.Message + "||";
            }
            remindingMsg = remindingMsg.Substring(0, remindingMsg.Length - 2);
        }
    }

}
<div class="OW-w10-3-ShippDetial">
    <div class="w10-5-ShippOnlineInventory">
        <div class="w10-5-SpOnlineComment textSize15">
            <img src='@Url.Content("~/Themes/OWriteOff/w10-6Expository.jpg")' width="850" height="320" />
            @*for Chrome 圖片先預載 以免須動態顯示圖片時 出現無法顯示圖片問題*@
            <img src='@Url.Content("~/Themes/OWriteOff/excel-pic.png")' width="164" height="40" border="0" style="display:none;" />
        </div>
        @if (ViewBag.IsEnableVbsNewShipFile)
            {
            <div class="OW-w10-3-ShippDLisOter OW-w10-6-border" style="height:90px;">
                <form id="importForm" method="post" action="@Url.Action("ImportProcess", "VendorBillingSystemShip")" enctype="multipart/form-data" onsubmit="return validateForm();">
                    <div class="OW-w10-3-ShpDLOterTAgo textSize13 Padding ">已填訂單：@Model.HasOrderShipCount　|　未填單：@Model.NoOrderShipCount　</div>
                    <br />
                    <span style="font-size:small; margin-left:30px;"><b>Step1：</b>請選擇編輯好的清冊匯出檔</span>
                    <span style="font-size:small; margin-left:140px;"><b>Step2：</b>依照你匯入的清冊類型，選擇匯入按鈕</span>
                    <br />
                    <input name="txtImportFile" type="text" id="txtImportFile" value="" class="w10-6-INPUT-date" style="margin-top:0px;" />
                    <input type="button" size="19" id="btnSelectFile" class="w10-5-SpOnlineFilterBtn w10-6-SelectBtn" style="cursor:pointer; margin-top:0px;" value="瀏覽" />
                    <input type="file" size="19" name="ProductInventoryFile" id="importFile" class="w10-6_inputIE" style="cursor:pointer; margin-top:0px;" />
                    <input type="submit" id="btnImport" class="w10-5-SpOnlineFilterBtn w10-6-ImportBtn" style="margin:0px 0 0 133px; width:auto; padding:0 10px 0 10px;" onclick="onImportButtonClick('false');" value="舊版清冊匯入" />
                    <input type="submit" id="btnImport" class="new-w10-5-SpOnlineFilterBtn w10-6-ImportBtn" style="margin:0px 0 0 30px; width:auto; padding:0 10px 0 10px;" onclick="onImportButtonClick('true');" value="新版清冊匯入" />
                    @*<div class="textSize13 Padding float-Lef text-Gray OW-w10-3-ShpDLOterT">請選擇編輯好的清冊匯出檔 </div>*@
                    <input type="hidden" name="DealId" value="@Model.DealSaleInfo.DealId" />
                    <input type="hidden" name="DealUniqueId" value="@Model.DealSaleInfo.DealUniqueId" />
                    <input type="hidden" name="DealType" value="@Model.DealSaleInfo.DealType" />
                    <input type="hidden" name="NewVersion" value="false" />
                </form>
            </div>
        }
        else
        {
            <div class="OW-w10-3-ShippDLisOter OW-w10-6-border">
                <form id="importForm" method="post" action="@Url.Action("ImportProcess", "VendorBillingSystemShip")" enctype="multipart/form-data" onsubmit="return validateForm();">
                    <div class="OW-w10-3-ShpDLOterTAgo textSize13 Padding ">已填訂單：@Model.HasOrderShipCount　|　未填單：@Model.NoOrderShipCount　</div>
                    <input name="txtImportFile" type="text" id="txtImportFile" value="" class="w10-6-INPUT-date" />
                    <input type="button" size="19" id="btnSelectFile" class="w10-5-SpOnlineFilterBtn w10-6-SelectBtn" style="cursor:pointer;" value="瀏覽" />
                    <input type="file" size="19" name="ProductInventoryFile" id="importFile" class="w10-6_inputIE" style="cursor:pointer;" />
                    <input type="submit" id="btnImport" class="w10-5-SpOnlineFilterBtn w10-6-ImportBtn" value="匯入" />
                    <div class="textSize13 Padding float-Lef text-Gray OW-w10-3-ShpDLOterT">請選擇編輯好的清冊匯出檔 </div>
                    <input type="hidden" name="DealId" value="@Model.DealSaleInfo.DealId" />
                    <input type="hidden" name="DealUniqueId" value="@Model.DealSaleInfo.DealUniqueId" />
                    <input type="hidden" name="DealType" value="@Model.DealSaleInfo.DealType" />
                    <input type="hidden" name="NewVersion" value="false" />
                </form>
            </div>
        }
        <div class="OW-w10-3-ShippDLisOter">
            @if (m != null && string.IsNullOrEmpty(m.OtherMessage))
            {
                <div class="OW-w10-3-ShpDLOterT textSize13 Padding">
                    最新匯入時間：@m.ImportTime.ToString("yyyy/MM/dd HH:mm")　<span style="color:Blue">新增成功 @m.InsertCount　修改成功 @m.UpdateCount</span>
                    @if (m.FailCount == 0)
                    {
                        <span style="color:Blue">匯入失敗 @m.FailCount</span>
                    }
                    else
                    {
                        <span style="color:red">匯入失敗 @m.FailCount</span>
                    }
                    <span style="color:Blue">未處理 @m.NotYetCount</span>

                    @if (m.RemindingInfos.Any())
                    {
                        <br /><span class="text-red">@remindingMsg.Replace("|", "").Replace("||", "\n")</span>
                    }
                </div>
            }
        </div>
        @if (Model.FailFileInfos.Count > 0)
        {
            <div class="w10-6-ImportInfo">
                <div class="w10-6-ImportForm textSize13">
                    <div class="w10-6FormBlock">
                        <div class="w10-6FormTittle float-Lef">匯入時間</div>
                        <div class="w10-6FormTittle float-Lef">匯入失敗記錄檔</div>
                    </div>
                    <div class="w10-6FormBlock">
                        @for (var f = 0; f < Model.FailFileInfos.Count; f++)
                        {
                            if (f > 2)
                            {
                                break;
                            }
                            <div class="w10-6FormContent float-Lef">@Model.FailFileInfos[f].FileName</div>
                            <div class="w10-6FormContent float-Lef"><a href='@Html.Raw(Model.FailFileInfos[f].FilePath)'><img src='@Url.Content("~/Themes/OWriteOff/excel-pic.png")' width="164" height="40" border="0" /></a></div>
                        }
                    </div>
                </div>
                @if (Model.FailFileInfos.Count > 3)
                {
                    <div class="w10-6-ImportForm textSize13">
                        <div class="w10-6FormBlock">
                            <div class="w10-6FormTittle float-Lef">匯入時間</div>
                            <div class="w10-6FormTittle float-Lef">匯入失敗記錄檔</div>
                        </div>
                        <div class="w10-6FormBlock">
                            @for (var f = 3; f < Model.FailFileInfos.Count; f++)
                    {
                                <div class="w10-6FormContent float-Lef">@Model.FailFileInfos[f].FileName</div>
                                <div class="w10-6FormContent float-Lef"><a href='@Html.Raw(Model.FailFileInfos[f].FilePath)'><img src='@Url.Content("~/Themes/OWriteOff/excel-pic.png")' width="164" height="40" border="0" /></a></div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
@section Script{
    <style type="text/css">
        /*new button style*/
        .new-w10-5-SpOnlineFilterBtn {
            border: 1px solid #cbcbcb;
            color: #ffffff;
            cursor: pointer;
            background: #3b79f2; /* Old browsers */
            background: -moz-linear-gradient(top, #6ab1ff 0%, #3b79f2 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ab1ff), color-stop(100%,#3b79f2)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #6ab1ff 0%,#3b79f2 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #6ab1ff 0%,#3b79f2 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #6ab1ff 0%,#3b79f2 100%); /* IE10+ */
            background: linear-gradient(to bottom, #6ab1ff 0%,#3b79f2 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ab1ff', endColorstr='#3b79f2',GradientType=0 ); /* IE6-9 */
        }

            /*new button hover style*/
            .new-w10-5-SpOnlineFilterBtn:hover {
                background: #6ab1ff; /* Old browsers */
                background: -moz-linear-gradient(top, #3b79f2 0%, #6ab1ff 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b79f2), color-stop(100%,#6ab1ff)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #3b79f2 0%,#6ab1ff 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #3b79f2 0%,#6ab1ff 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, #3b79f2 0%,#6ab1ff 100%); /* IE10+ */
                background: linear-gradient(to bottom, #3b79f2 0%,#6ab1ff 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b79f2', endColorstr='#6ab1ff',GradientType=0 ); /* IE6-9 */
            }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            var userAgent = window.navigator.userAgent.toLowerCase();
            // 修正 jQuery.browser.version 比對問題
            $.browser.version = (userAgent.match(/.(?:rv|it|ra|ie)[\/: ]([\d.]+)/) || [0, '0'])[1];
            var version = $.browser.version;
            if ($.browser.msie === false || $.browser.msie === undefined || ($.browser.msie === true && eval(parseInt(version)) < 8)) {
                $('#importFile').attr("style", "display:none");
                $('#btnSelectFile').click(function () {
                    var isConsignment = '@ViewBag.IsConsignment';
                    if (isConsignment == 'True') {
                        alert("本檔為商品寄倉檔次，由17Life直接出貨，不需處理");
                        return false;
                    }
                    else {
                        $('#importFile').click();
                    }
                });
            }

            $('#importFile').change(function () {
                $('#txtImportFile').val(this.value);
            });

            $('#btnImport').click(function () {
                var isConsignment = '@ViewBag.IsConsignment';
                if (isConsignment == 'True') {
                    alert("本檔為商品寄倉檔次，由17Life直接出貨，不需處理");
                    return false;
                }
            });

            if ('@importResultMsg' != "") {
                //關閉處理中訊息並解除鎖定畫面
                $.unblockUI();
                setTimeout(function () {
                    alert('@importResultMsg'.replace(/\|/ig, "\n"));
                    if ('@remindingMsg' != "") {
                        alert('@remindingMsg'.replace(/\|/ig, "\n"));
                    }

                    if ('@failFilePath' != "") {
                        window.location.href = "@Html.Raw(failFilePath)";
                    }
                }, 500);
            }

        });

        function validateForm() {
            var filePath = $('#importFile').val();
            if (filePath === "") {
                alert("請選擇檔案");
                return false;
            }
            else if (!checkFileType(filePath)) {
                alert("匯入檔案格式有誤！\n只允許匯入xls檔案");
                return false;
            }
            //確認執行submit才執行
            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();

            return true;
        }

        function checkFileType(filePath) {
            var re = /\.(xls)$/i;  //允許的圖片副檔名
            if (!re.test(filePath)) {
                return false;
            }
            return true;
        }

        function block_postback() {
            $.blockUI({ message: "<center><img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />處理中，請稍候...</center>", css: { width: '250px' } });
        }

        function onImportButtonClick(newVer) {
            $('input[name="NewVersion"]').val(newVer);
        }
    </script>
}
