﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Model
@using LunchKingSite.Core
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model ShipOrderListModel
@{
    Layout = "~/Views/Shared/ShipMiddleLayout.cshtml";
}
    <div class="OW-w10-3-ShippDetial">
        <div class="w10-5-ShippOnlineInventory">
    @if (!Model.OrderInfos.Any())
    {
            <div class="w10-8-noResult textSize15">您目前沒有需管理的照會。</div>
    }
    else
    {
        <table border="0" cellspacing="0" cellpadding="0" class="w10-5-DetailedListTable textSize13">
            <tbody>   
        @{
            var sortHeaders = MvcUtility.GenerateSortColumns(
                VbsOrderListInfo.Columns.Names,
                Model.OrderInfos.SortColumn,
                Model.OrderInfos.SortDescending, this.ViewContext);                
        }
                <tr class="w10-5-OrderGrayTitle" >     
                    <td width="90" class="@sortHeaders[VbsOrderListInfo.Columns.OrderId].UpDown sort-initial">
                        <a href="@sortHeaders[VbsOrderListInfo.Columns.OrderId].Url" style="width:100%; display:inline-block">訂單編號</a>
                    </td>
                    <td width="60" class="@sortHeaders[VbsOrderListInfo.Columns.RecipientName].UpDown sort-initial">
                        <a href="@sortHeaders[VbsOrderListInfo.Columns.RecipientName].Url" style="width:100%; display:inline-block">收件人姓名</a>
                    </td>
                    <td width="70" class="@sortHeaders[VbsOrderListInfo.Columns.RecipientTel].UpDown sort-initial">
                        <a href="@sortHeaders[VbsOrderListInfo.Columns.RecipientTel].Url" style="width:100%; display:inline-block">收件人電話</a>
                    </td>
                    <td width="320" class="@sortHeaders[VbsOrderListInfo.Columns.RecipientAddress].UpDown sort-initial">
                        <a href="@sortHeaders[VbsOrderListInfo.Columns.RecipientAddress].Url" style="width:100%; display:inline-block">收件人地址</a>    
                    </td>
                    <td width="160" class="@sortHeaders[VbsOrderListInfo.Columns.ItemDescription].UpDown sort-initial">
                        <a href="@sortHeaders[VbsOrderListInfo.Columns.ItemDescription].Url" style="width:100%; display:inline-block">購買數</a>
                    </td>
                    <td width="70" class="@sortHeaders[VbsOrderListInfo.Columns.OrderUserMemoInfos].UpDown sort-initial">
                        <a href="@sortHeaders[VbsOrderListInfo.Columns.OrderUserMemoInfos].Url" style="width:100%; display:inline-block">照會完成日</a>
                    </td>
                    <td width="100" class="@sortHeaders[VbsOrderListInfo.Columns.ShipTime].UpDown sort-initial">
                        <a href="@sortHeaders[VbsOrderListInfo.Columns.ShipTime].Url" style="width:100%; display:inline-block">出貨管理</a>
                    </td>
                </tr>
        @{            
            var i = Model.OrderInfos.PageSize * (Model.OrderInfos.CurrentPage - 1);
            var shipProcessHref = string.Empty;

            foreach (var m in Model.OrderInfos)
            {
                string shipTime = m.ShipTime.HasValue ? m.ShipTime.Value.ToString("yyyy/MM/dd") : string.Empty;
                shipProcessHref = Url.Action("ShipOrderList", "VendorBillingSystemShip", new { id = Model.DealSaleInfo.DealId, type = Model.DealSaleInfo.DealType, selQueryOption = "orderId", queryKeyWord = m.OrderId });
                    
                <tr style='background-color:@Html.Raw(i % 2 == 0 ? "#FFFFFF" : "#FEF2ED")'>
                    <td height="40" class="smallT10">@m.OrderId</td>
                    <td>@m.RecipientName</td>
                    <td class="TDPaddingLef">@m.RecipientTel</td>
                    <td class="TDPaddingLef">@m.RecipientAddress</td>
                    <td class="textLeft TDPaddingLef">@Html.Raw(m.ItemDescription.Replace("\n", "<br/>"))</td>
                    <td class="TDPaddingLef">
                        <ul>
                        @if (m.OrderUserMemoInfos.Count > 0)
                        {
                            <li>
                                @m.OrderUserMemoInfos.FirstOrDefault(x=>x.UserMemo.Contains("**照會成功，請正常出貨**")).CreateTime.ToString("yyyy/MM/dd")
                            </li>
                        }
                        </ul>
                    </td>
                    <td>
                        <div id="divShipTime">
                        @if (!string.IsNullOrEmpty(shipTime))
                        {
                            @shipTime
                            <span>出貨</span>
                        }
                        else
                        {
                            <input type="button" class="ow-bk-nextbtn ow-bk-list-ditlbtn" value="出貨管理" onclick='@string.Format("ShipMgnt('{0}')", shipProcessHref)' />
                        }
                        </div>
                    </td>
                </tr>
                
                    i++;
            }
        }
            </tbody>
            </table>
        @RenderPagerBar(Model.OrderInfos)
    }
        </div>
    </div>

@section Script{  
    <script type="text/javascript">
        //小倉系統不予管理出貨
        function ShipMgnt(shipProcessHref) {
            var isConsignment = '@ViewBag.IsConsignment';
            if (isConsignment == 'True') {
                alert("本檔為商品寄倉檔次，由17Life直接出貨，不需處理");
                return false;
            }
            else {
                window.location.href = shipProcessHref;
            }
        }
    </script>
}

@helper RenderPagerBar(PagerList<VbsOrderListInfo> pagerData)
{
    int nextPage = pagerData.CurrentPage + 1;
    int prevPage = pagerData.CurrentPage - 1;
    string firstPageUrl = Url.Action("ShipRefer", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MinPage));
    string lastPageUrl = Url.Action("ShipRefer", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MaxPage));
    string nextPageUrl = Url.Action("ShipRefer", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", nextPage));
    string prevPageUrl = Url.Action("ShipRefer", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", prevPage));
    string pagerPattern = Url.Action("ShipRefer", "VendorBillingSystemShip", MvcUtility.GetRouteValues(ViewContext, "pageNumber", "_pageNumber"));
    <table border="0" cellspacing="0" cellpadding="0" class="OW-W5_3-Table3-Page">
        <tr>
            <td width="50">                    
            @if (pagerData.HasPreviousPage)
            {
                <a href="@firstPageUrl">
                    <img src='@Url.Content("~/Themes/OWriteOff/Upper_st2.png")'/>
                </a>
            }
            else
            {
                <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" style="visibility:hidden" />
            }                  
            </td>
            <td width="71">
            @if (pagerData.HasPreviousPage)
            {
                <a href="@prevPageUrl">
                    <img src='@Url.Content("~/Themes/OWriteOff/Upper2.png")'/>
                </a>
            }
            else
            {
                <img src='@Url.Content("~/Themes/OWriteOff/Upper2.png")' style="visibility:hidden"/>
            }
            </td>
            <td width="71">
                <select class="all" pagerPattern="@pagerPattern" 
                    onchange="location.href=$(this).attr('pagerPattern').replace('_pageNumber',$(this).val());">
                @for (int j = pagerData.MinPage; j <= pagerData.MaxPage; j++)
                {
                    <option value="@j" @Html.Raw(pagerData.CurrentPage == j ? "selected" : "")>@j</option>
                }
                </select>
            </td>
            <td width="91">頁 ／ @pagerData.MaxPage 頁</td>
            <td width="91">共 @pagerData.TotalItemCount 筆</td>
            <td width="61">
            @if (pagerData.HasNextPage)
            {
                <a href="@nextPageUrl">
                    <img src='@Url.Content("~/Themes/OWriteOff/Lower2.png")'/>
                </a>
            }
            else
            {
                <img src='@Url.Content("~/Themes/OWriteOff/Lower2.png")' style="visibility:hidden"/>
            }
            </td>
            <td width="50">
            @if (pagerData.HasNextPage)
            {
                <a href="@lastPageUrl">
                    <img src='@Url.Content("~/Themes/OWriteOff/Lower_st2.png")'/>
                </a>
            }
            else
            {
                <img src='@Url.Content("~/Themes/OWriteOff/Lower_st2.png")' style="visibility:hidden"/>
            }
            </td>
        </tr>
    </table>
}
