﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem;
@using LunchKingSite.Core;

@model ShipOrderDetail
    
<div class="row">
    <!--訂單明細-->
    <div class="col s12 bpopup-modal-title">
        訂單明細
    </div>
    <div class="col s12 bpopup-modal-scroll_content">
        <table>
            <tr>
                <td width="15%" style="background:#f9f9f9;">訂單編號</td>
                <td width="40%">@Model.OrderId</td>
                <td width="15%" style="background:#f9f9f9;">訂購日</td>
                <td width="30%">@Model.OrderDate</td>
            </tr>
            <tr>
                <td width="15%" style="background:#f9f9f9;">母檔號</td>
                <td width="40%">@Model.MainDealId</td>
                <td width="15%" style="background:#f9f9f9;">子檔號</td>
                <td width="30%">@Model.SubDealId</td>
            </tr>
            <tr>
                <td width="15%" style="background:#f9f9f9;">消費方案</td>
                <td width="40%">@Html.Raw(@Model.ItemName)</td>
                <td width="15%" style="background:#f9f9f9;">組數</td>
                <td width="30%">@Model.ComboPack</td>
            </tr>
            <tr>
                <td width="15%" style="background:#f9f9f9;">規格/數量</td>
                <td width="40%">@Html.Raw(Model.OrderSpec)</td>
                <td width="15%" style="background:#f9f9f9;">價格</td>
                <td width="30%">@Model.OrderPrice</td>
            </tr>
            <tr>
                <td width="15%" style="background:#f9f9f9;">收件人</td>
                <td width="40%">@Model.Receiver</td>
                <td width="15%" style="background:#f9f9f9;">收件人<br />連絡電話</td>
                <td width="30%">@Model.ReceiverMobile</td>
            </tr>
            <tr>
                <td width="15%" style="background:#f9f9f9;">收件地址</td>
                <td width="40%">@Model.ReveiverAddress</td>
                <td width="15%" style="background:#f9f9f9;"></td>
                <td width="30%"></td>
            </tr>
        </table>
    </div>

    <!--出貨歷程-->
    <div class="col s12 bpopup-modal-title">
        <br />出貨歷程
    </div>
    <div class="col s12 bpopup-modal-scroll_content">
        <table>
            <thead>
                <tr>
                    <th class="" width="33%">處理時間</th>
                    <th class="" width="33%">處理流程</th>
                    <th class="" width="33%">備註</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Log.Where(x => x.Type == (int)ShipType.Ship))
                {
                    <tr>
                        <td class="item_number">
                            @item.ProcessTime
                        </td>
                        <td class="item_number">
                            已出貨
                        </td>
                        <td class="item_number">
                            貨運公司 : @item.ShipCompanyName<br />貨運單號 :  @item.ShipNo
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--換貨歷程-->
    <div class="col s12 bpopup-modal-title">
        <br />換貨歷程
    </div>
    <div class="col s12 bpopup-modal-scroll_content">
        <table>
            <thead>
                <tr>
                    <th class="" width="33%">處理時間</th>
                    <th class="" width="33%">處理流程</th>
                    <th class="" width="33%">備註</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Log.Where(x => x.Type == (int)ShipType.Change))
                {
                    <tr>
                        <td class="item_number">
                            @item.ProcessTime
                        </td>
                        <td class="item_number">
                            @switch(item.ProcessStatus)
                            {
                                case (int)ExchangeVendorProgressStatus.Unknown:
                                    break;
                                default:
                                    <label>@Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, (ExchangeVendorProgressStatus)(item.ProcessStatus))</label>
                                    break;
                            }
                        </td>
                        <td class="item_number">
                        @item.Memo
                        @if (item.ProcessStatus == (int)ExchangeVendorProgressStatus.ExchangeCompleted)
                        {
                            <br /><span class="red-text">結案人員: </span>@item.ModifyId
                        }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--退貨歷程-->
    <div class="col s12 bpopup-modal-title">
        <br />退貨歷程
    </div>
    <div class="col s12 bpopup-modal-scroll_content">
        <table>
            <thead>
                <tr>
                    <th class="" width="33%">處理時間</th>
                    <th class="" width="33%">處理流程</th>
                    <th class="" width="33%">備註</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Log.Where(x => x.Type == (int)ShipType.Return))
                {
                    <tr>
                        <td class="item_number">
                            @item.ProcessTime
                        </td>
                        <td class="item_number">
                            @Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, (VendorProgressStatus)(item.ProcessStatus ?? (int)VendorProgressStatus.Processing))
                        </td>
                        <td class="item_number">
                            @item.Memo
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col s12 bpopup-modal-footer center-align ">
        <a class="waves-effect waves-light btn b-close">關閉</a>
    </div>
</div>
