﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component;
@using LunchKingSite.BizLogic.Models.Wms.ViewModels

@model WmsContactModel
@{
    Layout = "~/Views/Shared/VbsLayout.cshtml";
}
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}



@section Head {
    <script type="text/javascript" src="/tools/game/js/vue.min.js"></script>
}
<style type="text/css">
</style>




<div id="app">

    <h5 class="breadcrumbs-title">24H到貨倉儲配送>聯絡人資料維護</h5>
    <div class="col xl12 l12 m12 s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                本頁資訊是用在進倉單、退貨單、還貨單中，請您務必填寫正確，以免影進倉、退貨、還貨的相關作業
            </div>
        </div>
    </div>


    <form action="ServiceProcess" method="post">
        <input type="hidden" v-model="AccountId" />
        <div class="row">
            進倉
        </div>
        <div class="row">
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>聯絡人
                    </label>
                    <div class="data-input">
                        <p>
                            <input type="text" v-model="WarehousingName">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>聯絡電話
                    </label>
                    <div class="data-input">
                        <input type="text" v-model="WarehousingTel">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>手機
                    </label>
                    <div class="data-input">
                        <p>
                            <input type="text" v-model="WarehousingMobile">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>電子郵件
                    </label>
                    <div class="data-input">
                        <input type="text" v-model="WarehousingEmail">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>郵遞區號
                    </label>
                    <div class="data-input">
                        <p>
                            <input type="text" v-model="WarehousingZip">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>地址
                    </label>
                    <div class="data-input">
                        <input type="text" v-model="WarehousingAddress">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            還貨/退貨 <a class="btn secondary bpopup-identity_select" id="SyncContract">同進倉聯絡人</a>
        </div>
        <div class="row">
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>聯絡人
                    </label>
                    <div class="data-input">
                        <p>
                            <input type="text" v-model="ReturnerName">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>聯絡電話
                    </label>
                    <div class="data-input">
                        <input type="text" v-model="ReturnerTel">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>手機
                    </label>
                    <div class="data-input">
                        <p>
                            <input type="text" v-model="ReturnerMobile">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>電子郵件
                    </label>
                    <div class="data-input">
                        <input type="text" v-model="ReturnerEmail">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>郵遞區號
                    </label>
                    <div class="data-input">
                        <p>
                            <input type="text" v-model="ReturnerZip">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col xl6 l12 m12 s12">
                <div class="form-unit">
                    <label class="unit-label">
                        <span class="red-text">*</span>地址
                    </label>
                    <div class="data-input">
                        <input type="text" v-model="ReturnerAddress">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xl6 l12 s12 right-align">
                <button id="btnSave" type="button" class="waves-effect waves-light btn">儲存</button>
            </div>
        </div>

    </form>

</div>


<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            AccountId: '',
            ReturnerName: '',
            ReturnerTel: '',
            ReturnerMobile: '',
            ReturnerEmail: '',
            ReturnerZip: '',
            ReturnerAddress: '',
            WarehousingName: '',
            WarehousingTel: '',
            WarehousingMobile: '',
            WarehousingEmail: '',
            WarehousingZip: '',
            WarehousingAddress: ''
        },
        methods: {
            save: function () {
                var data = {
                    'AccountId': this.AccountId,
                    'ReturnerName': this.ReturnerName,
                    'ReturnerTel': this.ReturnerTel,
                    'ReturnerMobile': this.ReturnerMobile,
                    'ReturnerEmail': this.ReturnerEmail,
                    'ReturnerZip': this.ReturnerZip,
                    'ReturnerAddress': this.ReturnerAddress,
                    'WarehousingName': this.WarehousingName,
                    'WarehousingTel': this.WarehousingTel,
                    'WarehousingMobile': this.WarehousingMobile,
                    'WarehousingEmail': this.WarehousingEmail,
                    'WarehousingZip': this.WarehousingZip,
                    'WarehousingAddress': this.WarehousingAddress
                };

                $.ajax({
                    url: "/vbs/ship/SaveWmsContact",
                    type: 'POST',
                    data: JSON.stringify(data),
                    mimeType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    processData: false,
                    success: function (res) {
                        if (res.IsSuccess) {
                            alert('儲存成功');
                        } else {
                            alert("儲存失敗, " + res.Message);
                        }
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText);
                    }
                });
            },
            syncContract: function ()
            {
                this.ReturnerName = this.WarehousingName;
                this.ReturnerTel = this.WarehousingTel;
                this.ReturnerMobile = this.WarehousingMobile;
                this.ReturnerEmail = this.WarehousingEmail;
                this.ReturnerZip = this.WarehousingZip;
                this.ReturnerAddress = this.WarehousingAddress;
            }
        },
        mounted: function() {
            var model = JSON.parse(@Html.SerializeJson(Model));
            this.AccountId = model.AccountId;
            this.ReturnerName = model.ReturnerName;
            this.ReturnerTel = model.ReturnerTel;
            this.ReturnerMobile = model.ReturnerMobile;
            this.ReturnerEmail = model.ReturnerEmail;
            this.ReturnerZip = model.ReturnerZip;
            this.ReturnerAddress = model.ReturnerAddress;
            this.WarehousingName = model.WarehousingName;
            this.WarehousingTel = model.WarehousingTel;
            this.WarehousingMobile = model.WarehousingMobile;
            this.WarehousingEmail = model.WarehousingEmail;
            this.WarehousingZip = model.WarehousingZip;
            this.WarehousingAddress = model.WarehousingAddress;
            console.log('model: ' + JSON.stringify(model));

            $('#btnSave').click(function () {
                app.save();
            });

            $('#SyncContract').click(function () {
                app.syncContract();
            })
        }
    });
</script>
