﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component;
@model WmsContractLogCollection
@{
    Layout = "~/Views/Shared/VbsLayout.cshtml";
}
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}



<style type="text/css">

</style>




<div>
    <br />
    <iframe src="@config.SSLSiteUrl/template/SalesDocs/PChome Online 網路家庭倉儲及物流服務同意書V1.0-20190416.pdf" style="width:1000px; height:500px;" frameborder="0"></iframe>
    <br />
    注意事項:
    <br />
    @if (!ViewBag.IsContractConfirm)
    {
        <input id="btnConfirm" type="button" value="我已瞭解約合約所載內容與事項說明，並且同意配合" />
    }
    
    <br />
    <h5 class="breadcrumbs-title" style="font-size:20px;font-weight:bold">簽訂記錄</h5>

    <div class="row">
        <div class="col s12">
            <table id="log" class="center-align" style="width:200px">
                <thead>
                    <tr>
                        <th style="width:10%">簽定同意日期/時間</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>

</div>


<script>
    $(document).ready(function () {

        GetLog();
        $('#btnConfirm').click(function () {
            $.ajax({
                type: "POST",
                url: "WmsContractConfirm",
                contentType: "appliction/json; charset=uft-8",
                dataType: "json",
                success: function (data) {
                    alert(data.Message);
                    $('#btnConfirm').hide();
                    GetLog();
                }
            })
        })

    });

    function GetLog() {
        $.ajax({
            type: "POST",
            url: "GetWmsContractLog",
            contentType: "appliction/json; charset=uft-8",
            dataType: "json",
            success: function (data) {
                var html = "";
                $('#log tr:not(:first)').remove();

                $.each(data, function (idx, obj) {
                    html += '<tr><td>' + obj.CreateTime + '</td></tr>';
                });

                $('#log').append(html);
            }
        })
    }



</script>
