﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem;
@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem.Ship;
@model WmsOrderDeliveryModel
@{
    Layout = "~/Views/Shared/VbsLayout.cshtml";
}

<!-- 彈窗jquery和它的功能宣告 -->
<script type="text/javascript" src="/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>

<h5 class="breadcrumbs-title">24H到貨倉儲配送>查詢訂單配送與物流</h5>

<form action="WmsOrderDelivery" method="post">
    <div class="row">
        <div class="col xl6 l12 m12 s12">
            <div class="form-unit">
                <label class="unit-label">
                    提案單號
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" id="ProposalId" name="ProposalId" value="@Model.ProposalId" />
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    檔號
                </label>
                <div class="data-input">
                    <input type="text" id="UniqueId" name="UniqueId" value="@Model.UniqueId" />
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    訂單編號
                </label>
                <div class="data-input">
                    <input type="text" id="OrderId" name="OrderId" value="@Model.OrderId" />
                </div>
            </div>
        </div>

        <div class="col xl6 l12 m12 s12">
            <div class="form-unit">
                <label class="unit-label">
                    檔次BID
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" id="BID" name="BID" value="@Model.BID" />
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    商品名稱
                </label>
                <div class="data-input">
                    <input type="text" style="width:30%;" id="BrandName" name="BrandName" value="@Model.BrandName" />
                    <input type="text" style="width:60%;" id="ItemName" name="ItemName" value="@Model.ItemName" />
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    訂單成立日期
                </label>
                <div class="data-input">
                    <input type="text" style="width:30%;" class="dtPicker" id="OrderCreateTimeS" name="OrderCreateTimeS" value="@Html.Raw(Model.OrderCreateTimeS == null ? string.Empty : ((DateTime)Model.OrderCreateTimeS).ToString("yyyy/MM/dd"))" />
                    ～
                    <input type="text" style="width:30%;" class="dtPicker" id="OrderCreateTimeE" name="OrderCreateTimeE" value="@Html.Raw(Model.OrderCreateTimeE == null ? string.Empty : ((DateTime)Model.OrderCreateTimeE).ToString("yyyy/MM/dd"))" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col xl6 l12 s12 right-align">
            <a class="waves-effect waves-light btn" id="btnSearch">搜尋</a>
        </div>
        <div class="col xl6 l12 s12 center-align table_display_controller">
            <span class="right">

            </span>
            <label for="test1" class="checkbox_buttons right">
                <a class="btn secondary bpopup-identity_select" id="btnDownloadExcel">匯出</a>
            </label>
        </div>
    </div>

</form>
<div class="row">
    <div class="col s12">
        <table id="main" class="center-align">
            <thead>
                <tr>
                    <th class="" width="130">訂單編號</th>
                    <th class="" width="40">（檔號）檔名</th>
                    <th class="" width="60">（倉儲商品ID）商品 ＊數量</th>
                    <th class="" width="150">出貨進度</th>
                    <th class="" width="130">（物流公司）單號</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.WmsOrderDeliveryList != null)
                {
                    foreach (var row in Model.WmsOrderDeliveryList)
                    {
                        <tr class="text-center">
                            <td>@row.OrderId</td>
                            <td>@row.UniqueIdWithAppTitle</td>
                            <td>
                                @foreach (string s in row.ItemInfoWithQtys)
                                {
                                    <p>@s</p>
                                }
                        </td>
                        <td>@Html.Raw(row.ShipStatus.Replace("\r\n", "<br/>"))</td>
                        <td>@Html.Raw(row.ShipCompanyWithNo.Replace("\r\n","<br/>"))</td>
                    </tr>
                }
            }
            </tbody>
        </table>

    </div>
</div>

@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")

<script type="text/javascript">
    $(document).ready(function () {
        $('.dtPicker').datepicker();

        @if (Model != null && Model.WmsOrderDeliveryList != null && Model.WmsOrderDeliveryList.Count == 0)
        {
            @:toast_message('查無訂單配送資料！');
        }

        $("#btnSearch").click(function () {
            queryCheck();
        });

        $("#btnDownloadExcel").click(function () {
            download();
        });
    });

    @*--查詢--*@
    function queryCheck(obj) {
        var ctS = $('#OrderCreateTimeS').val().trim();
        var ctE = $('#OrderCreateTimeE').val().trim();

        if (ctS != "" && !Date.parse(ctS)) {
            error_message('訂單成立日期起必需為日期格式');
            bpopup_query.close();
            return false;
        }

        if (ctE != "" && !Date.parse(ctE)) {
            error_message('訂單成立日期迄必需為日期格式');
            bpopup_query.close();
            return false;
        }

        if ((ctS != '' && ctE != '') && (Date.parse(ctS) > Date.parse(ctE))) {
            error_message("訂單成立日期起日不可大於迄日");
            bpopup_query.close();
            return false;
        }

        if ($('#ProposalId').val().trim() != "" && !$.isNumeric($('#ProposalId').val())) {
            error_message('提案單號必需為數字');
            bpopup_query.close();
            return false;
        }

        if ($('#UniqueId').val().trim() != "" && !$.isNumeric($('#UniqueId').val())) {
            error_message('檔號必需為數字');
            bpopup_query.close();
            return false;
        }

        $('form').submit();
    }

    function download()
    {

        location.href = "DownloadWmsOrderDeliveryExcel?ProposalId=" + $('#ProposalId').val().trim() + "&Bid=" + $('#BID').val().trim() + "&UniqueId=" + $('#UniqueId').val().trim() + "&BrandName=" + $('#BrandName').val().trim()
                                                   + "&ItemName=" + $('#ItemName').val().trim() + "&OrderId=" + $('#OrderId').val().trim() + "&OrderCreateTimeS=" + $('#OrderCreateTimeS').val().trim()
                                                   + "&OrderCreateTimeE=" + $('#OrderCreateTimeE').val().trim();

    }

</script>
