﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component;
@{
    Layout = "~/Views/Shared/VbsLayout.cshtml";
}
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}


<!-- 彈窗jquery和它的功能宣告 -->
<script type="text/javascript" src="/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>
<link type="text/css" rel="stylesheet" href="~/Themes/OWriteOff/css/mstepper.min.css" />

<style type="text/css">
    .active .step-title {
        border-bottom-style: solid;
        border-bottom-color: red;
    }
</style>

<script>
    $(document).ready(function () {

        ChangePage();
        $("#btnSearch").click(function () {
            $("#ddlTotalPage").val("1");
            LoadData();
        });

        $('#chkAll').click(function () {
            $('[id=chkOrder]').attr('checked', $(this).is(':checked'));
        })

        $('#btnPrint').click(function () {
            var check = true;
            $("#bpopup-toast").find('.toast_message').text("資料處理中...");
            var bpopup_query = $('#bpopup-toast').bPopup({
                speed: 750,//toast漸入漸出的動畫秒數
                opacity: 0,//toast的背景為全透明
            });

            var chks = $('#main tbody tr').find($('input[type=checkbox]:checked'));
            if (chks.length == 0) {
                error_message("申請17Life審核進倉單，請務必勾選要送審的項目");
                bpopup_query.close();
                return;
            }
            var trs = $('#main tbody tr').find($('input[type=checkbox]:checked')).parent().parent();

            var orderList = [];
            $.each(trs, function (idx, tr) {
                var itemGuid = $(tr).find('[name=item_guid]').text();
                var purchaseOrderGuid = $(tr).find('[name=purchase_order_guid]').text();
                var pchomeProdId = $(tr).find('[name=pchome_prod_id]').text();
                var qty = $(tr).find('[name=qty]').text();
                var price = $(tr).find('[name=price]').text();
                var status = $(tr).find('[name=status]').text();

                var param = {
                    itemGuid:itemGuid,
                    pchomeProdId:pchomeProdId,
                    purchaseOrderGuid: purchaseOrderGuid,
                    qty: qty,
                    price: price,
                    status: status
                };

                orderList.push(param);
            })

           
            $.ajax({
                type: "POST",
                url: "CreatePurchaseOrder",
                data: JSON.stringify({
                    'item': JSON.stringify(orderList),
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                dataFilter: function (data) { return data; },
                success: function (data) {
                    
                    if (data.IsSuccess)
                    {
                        var link = document.createElement("a");
                        link.download = "PDF";
                        link.href = data.Url;
                        link.target = "_blank";
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                        delete link;
                    }
                    else
                    {
                        error_message(data.Message);
                    }
                    LoadData();
                    bpopup_query.close();
                },
                error: function (res) {
                    console.log(res);
                    $.unblockUI();
                    bpopup_query.close();
                }
            });
        })

    });


    function LoadData() {

        $('[type=checkbox]').attr('checked', false);

        var idx = $("#ddlTotalPage").val();
        if (idx == null || idx == undefined) {
            idx = 1;
        }

        var param = {
            pageStart: idx,
            pageLength: 10,
            pid: $("#pid").val(),
            strBid: $("#bid").val(),
            uniqueId: $("#uniqueId").val(),
            productBrandName: $("#productBrandName").val(),
            productName: $("#productName").val(),
            productNo: $("#productNo").val(),
            specs: $("#specs").val(),
            productCode: $("#productCode").val(),
            purchaseOrderStatus: @((int)PurchaseOrderStatus.Verify),
            dontDisplayInvalidation: false,        };
        $("#bpopup-toast").find('.toast_message').text("資料處理中...");
        var bpopup_query = $('#bpopup-toast').bPopup({
            speed: 750,//toast漸入漸出的動畫秒數
            opacity: 0,//toast的背景為全透明
        });
        $.ajax({
            type: "POST",
            url: "WmsPurchaseOrderList",
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            dataFilter: function (data) { return data; },
            success: function (data) {
               
                BindTable(data.Data);
                BindPage(data.TotalCount, data.TotalPage, data.CurrentPage);
                EnabledPage();
                bpopup_query.close();
            },
            error: function (res) {
                console.log(res);
                $.unblockUI();
                bpopup_query.close();
            }
        });
    }

    function BindTable(data)
    {
        var html = "";
        $('#main tr:not(:first)').remove();

        $.each(data, function (idx, obj) {
            html += '<tr>';
            html += '<td><input type="checkbox" id="chkOrder" name="chkOrder"><span name="item_guid" style="display:none">' + obj.ItemGuid + '</span>'+
                                                                       '<span name="pchome_prod_id" style="display:none">' + obj.PchomeProdId + '</span>'+
                                                                       '<span name="purchase_order_guid" style="display:none">' + obj.PurchaseOrderGuid + '</span>'+
                                                                       '<span name="price" style="display:none">' + obj.Price + '</span></td>';
            html += '<td>' + obj.ProductNo + '</td>';
            html += '<td>' + obj.ProductBrandName + " " + obj.ProductName + '</td>';
            html += '<td>' + obj.SpecName + '</td>';
            html += '<td>' + obj.ProductCode + '</td>';
            html += '<td><span name="qty">' + obj.Qty + '</span></td>';
            html += '<td>' + obj.CreateTime + '</td>';
            html += '<td>' + obj.StatusText + '</td>';
            html+='</tr>';
        });

        $('#main').append(html);
    }
    function BindPage(totalCount, totalPage, currentPage)
    {
        $("#TotalCount").html(totalCount);
        $("#spanTotalPage").html(totalPage);
        var ddlTotalPage = $("#ddlTotalPage");
        ddlTotalPage.empty();
        for (var i = 1; i <= totalPage; i++) {
            if (currentPage == i) {
                ddlTotalPage.append("<option value='" + i + "' selected>" + i + "</option>");
            } else {
                ddlTotalPage.append("<option value='" + i + "'>" + i + "</option>");
            }
        }
    }
    function ChangePage() {
        $(".fist_page").click(function () {
            $("#ddlTotalPage").val("1");
            //$(".fist_page").addClass("disabled");
            LoadData();
        });
        $(".prev_page").click(function () {
            var cp = $("#ddlTotalPage").val();
            $("#ddlTotalPage").val(parseInt(cp) - 1);
            LoadData();
        });
        $(".next_page").click(function () {
            var cp = $("#ddlTotalPage").val();
            $("#ddlTotalPage").val(parseInt(cp) + 1);
            LoadData();
        });
        $(".last_page").click(function () {
            var tp = $('#ddlTotalPage option:last-child').val();
            $("#ddlTotalPage").val(tp);
            //$(".last_page").addClass("disabled");
            LoadData();
        });
    }
    function EnabledPage() {
        var cp = $("#ddlTotalPage").val();
        var tp = $('#ddlTotalPage option:last-child').val();
        if (tp == undefined) {
            $(".fist_page").addClass("disabled");
            $(".prev_page").addClass("disabled");
            $(".next_page").addClass("disabled");
            $(".last_page").addClass("disabled");
            return false;
        }
        if (parseInt(tp) == 1) {
            //只有一頁
            $(".fist_page").addClass("disabled");
            $(".prev_page").addClass("disabled");
            $(".next_page").addClass("disabled");
            $(".last_page").addClass("disabled");
        } else {
            if (parseInt(cp) == parseInt(tp)) {
                //最後一頁
                $(".fist_page").removeClass("disabled");
                $(".prev_page").removeClass("disabled");
                $(".next_page").addClass("disabled");
                $(".last_page").addClass("disabled");
            } else if (parseInt(cp) == 1) {
                //第一頁
                $(".fist_page").addClass("disabled");
                $(".prev_page").addClass("disabled");
                $(".next_page").removeClass("disabled");
                $(".last_page").removeClass("disabled");
            } else if (parseInt(cp) < parseInt(tp)) {
                //第一頁
                $(".fist_page").removeClass("disabled");
                $(".prev_page").removeClass("disabled");
                $(".next_page").removeClass("disabled");
                $(".last_page").removeClass("disabled");
            }
        }

    }


</script>

<div class="">
    <ul class="stepper horizontal" id="horizontal" style="min-height:150px">
        <li class="step" onclick="location.href='/vbs/ship/WmsPurchaseOrder'">
            <div data-step-label="" class="step-title waves-effect waves-dark" style="max-width:300px">新增進倉單</div>
        </li>
        <li class="step active" onclick="location.href = '/vbs/ship/WmsPrint'">
            <div class="step-title waves-effect waves-dark" style="max-width:300px">列印進倉單麥頭與二聯單</div>
        </li>
        <li class="step " onclick="location.href='/vbs/ship/WmsProgressStatus'">
            <div class="step-title waves-effect waves-dark" style="max-width:300px">查詢進倉單狀態</div>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col xl6 l12 m12 s12">
        <div class="form-unit">
            <label class="unit-label">
                提案單號
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="pid" name="pid" maxlength="10">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                檔號
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="uniqueId" name="uniqueId" maxlength="10">
                </p>
            </div>
        </div>
        <div class="divider hide-on-xlarge-only"></div>
    </div>
    <div class="col xl6 l12 m12 s12">
        <div class="form-unit">
            <label class="unit-label">
                檔次BID
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="bid" name="bid" maxlength="36">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                商品名稱
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="productBrandName" name="productBrandName" style="width:35%;" maxlength="50">
                    <input type="text" id="productName" name="productName" style="width:60%;" maxlength="199">
                </p>
            </div>
        </div>

        <div class="divider hide-on-xlarge-only"></div>
    </div>
    <div class="col xl6 l12 m12 s12">
        <div class="form-unit">
            <label class="unit-label">
                系統商品編號
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="productNo" name="productNo" maxlength="10">
                </p>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label">
                貨號資料
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="productCode" name="productCode" maxlength="25">
                </p>
            </div>
        </div>
    </div>

    <div class="col xl6 l12 m12 s12">
        <div class="form-unit">
            <label class="unit-label">
                規格
            </label>
            <div class="data-input">
                <p>
                    <input type="text" id="specs" name="specs" maxlength="25">
                </p>
            </div>
        </div>


        <div class="divider hide-on-xlarge-only"></div>
    </div>

</div>


<div class="row">
    <div class="col xl6 l12 s12 right-align">
        <a class="waves-effect waves-light btn" id="btnSearch">搜尋</a>
        <a class="waves-effect waves-light btn" id="btnPrint">下載列印二聯單與麥頭</a>
    </div>
</div>

<div class="row">
    <div class="WmsDesc">
        搜尋進倉單
    </div>
    <div class="WmsTriangle"></div>
    <div class="WmsDesc">
        勾選項目
    </div>
    <div class="WmsTriangle"></div>
    <div class="WmsDesc">
        點擊【下載列印二聯單與麥頭
    </div>
    <div class="WmsTriangle"></div>
    <div class="WmsDesc">
        另存新檔
    </div>
    <div class="WmsTriangle"></div>
    <div class="WmsDesc">
        列印文件
    </div>
    <div class="WmsTriangle"></div>
    <div class="WmsDesc">
        手填資料
    </div>
    <div class="WmsTriangle"></div>
    <div class="WmsDesc">
        貼箱
    </div>
    <div class="WmsTriangle"></div>
    <div class="WmsDesc">
        出貨
    </div>
</div>

<div class="row">
    <div class="col s12">
        <table id="main" class="center-align">
            <thead>
                <tr>
                    <th class="" width="150"><input type="checkbox" id="chkAll" name="chkAll"></th>
                    <th class="" width="150">系統商品編號</th>
                    <th class="" width="250">商品名稱</th>
                    <th class="" width="150">規格</th>
                    <th class="" width="100">貨號資料</th>
                    <th class="" width="100">進倉數</th>
                    <th class="" width="100">建單日期</th>
                    <th class="" width="100">狀態</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

<!-- pagination -->
<div class="row">
    <div class="col s12">
        <div class="" style="margin:0 auto;text-align:center;">
            <i class="btn arrow tertiary waves-effect fa fa-angle-double-left waves-input-wrapper fist_page" style=""><input title="第一頁" type="button" class="waves-button-input" value=""></i>
            <i class="btn disabled arrow tertiary waves-effect fa fa-angle-left waves-input-wrapper prev_page" style=""><input title="上一頁" type="button" class="waves-button-input" value=""></i>
            <form class="dis-inline mrg20-ver" style="display:inline;">
                <select id="ddlTotalPage" onchange="LoadData()"></select>
                <span>/<span id="spanTotalPage"></span></span>
                <span>(<span id="TotalCount">0</span>筆資料)</span>
            </form>
            <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-right waves-input-wrapper next_page" style=""><input title="下一頁" type="button" class="waves-button-input" value=""></i>
            <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-double-right waves-input-wrapper last_page" style=""><input title="最後頁" type="button" class="waves-button-input" value=""></i>
        </div>

    </div>
</div>

@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")


