<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RandomParagraph.ascx.cs" Inherits="LunchKingSite.Web.Themes.controls.RandomParagraph" %>
<asp:Literal ID="l1" EnableViewState="false" runat="server" />
