﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Component
@model LunchKingSite.Core.Models.Entities.QuestionEvent
@{
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Subject + 問券活動說明</title>
    <link href='/themes/PCweb/css/RDL-L.css' rel="stylesheet" type="text/css" />
    <link href='/themes/PCweb/css/RDL-M.css' rel="stylesheet" type="text/css" />
    <link href='/themes/PCweb/css/RDL-S.css' rel="stylesheet" type="text/css" />
    <style type="text/css">
        .st_banner{
            position: relative;
        }
        .st_banner .btn_back{    
            position: absolute;
            right: 0;
            bottom: 10px;    
        }
        .st_banner .btn_back a{
            display: block;
            background: rgba(0,0,0,0.8);
            border-radius: 30px 0 0 30px;
            color: #fff;
            padding:15px 30px; 
        }
        .st_banner .btn_back a:hover{
            background: rgba(0, 0, 0, 1.0);
        }
        /**/
        .qustionnaire_notice{
            background: #fff;
            padding:10px; 
        }
        .qustionnaire_notice h3{
            font-size: 24px;
            margin-bottom: 10px;
            line-height: 1.8;
            background: #F11B75;
            color: #fff;
            padding-left: 10px;
            text-align: left;
        }
        .qustionnaire_notice .coupon_notice_block{
            width: 94%;
            /*float: left;*/
            border-bottom: 1px solid #ccc;
            margin:10px 30px 30px 10px; 
            padding-bottom: 20px;
        }
        .qustionnaire_notice .coupon_notice_block img{
            width: 100%;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        .qustionnaire_notice .go_exhibition{
            text-align: center;
        }
        .qustionnaire_notice .go_exhibition a{    
            color: #fff;
            background: #bf0000;
            font-size: 22px;
            padding:10px 30px; 
            border-radius: 50px;
            box-shadow:0 1px 3px #666;
            text-decoration: none;
        }
        .qustionnaire_notice .go_exhibition a:hover{
            box-shadow:0 0px 0px #666;
            background: #990000;
        }

        /**/
        .qustionnaire_notice  h4{
            font-size: 22px;
            margin-bottom: 10px;
            margin-top:20px; 
            color: #333;
        }
        .qustionnaire_notice p{
            color: #666;
            font-size: 18px;
            line-height: 1.6;
            text-align: center;
        }
        .qustionnaire_notice span.blue{
            color:$color_blue;
        }
        .qustionnaire_notice  span.green{
            color: #0ea146;
        }
        .qustionnaire_notice  span.green_strong{
            color: #009933;
            font-weight: bold;
        }
        .qustionnaire_notice span.pink{
            color: #F11B75;
        }
        .qustionnaire_notice span.strong{
            color: #F11B75;
            font-weight: bold;
        }
        .qustionnaire_notice table, th, td{
            border: 1px solid #ccc;
            font-size: 24px;
        }
        .qustionnaire_notice  table{
            /*float: left;*/
            margin:0 auto;
            margin-bottom: 10px;
        }
        .qustionnaire_notice td{
            padding:10px 15px; 
        }
        .qustionnaire_notice a{
            text-decoration: none;
            color: #fff;
            background: #08c;
            border-radius: 20px;
            line-height: 1.5;
            padding:3px 15px; 
            margin: 0 10px;
        }
        .qustionnaire_notice a:hover{
            background: #003399;
        }
        .qustionnaire_notice ul{
            padding-left: 40px;
            padding-bottom: 20px;
        }
        .qustionnaire_notice ul li{
            list-style: decimal;
            color: #666;
            line-height: 1.6;
        }
        .qustionnaire_notice ul li li{
            list-style: lower-alpha;
        }
        .qustionnaire_notice ul.square_ul li{
            list-style: square;
        }
    </style>
    <script type="text/javascript">
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        $(document).ready(function() {
            if ("@User.Identity.IsAuthenticated" == "True" && getUrlParameter('signed') == 'true') {
                $("#qForm").submit();
                return false;
            }

            $('.go_exhibition').find('a').click(function() {
                if ("@User.Identity.IsAuthenticated" == "False" && @Model.LoginMode === '1') {
                        if (!confirm("需要登入會員才能獲得折價券喔～立即前往登入/註冊")) {
                            return false;
                        }
                    }
                    $("#qForm").submit();
                    return false;
                });
        })
    </script>
</head>
<body>
<div class="center">
    <form id="qForm" method="post" action='@Url.Action("Volume", "Questionnaire")'>
        <input type="hidden" id="token" name="token" value="@Model.QuestionToken" />
        @Html.Raw(Model.QuestionContent);
    </form>
</div>
</body>
</html>
