﻿@{
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>問券</title>
    <script type="text/javascript">
        $(document).ready(function() {
            if ('@ViewBag.Success' == 'True' && '@ViewBag.RedirectUrl' != '') {
                window.location = '@ViewBag.RedirectUrl';
            } else if ('@ViewBag.Message' != '') {
                alert('@ViewBag.Message');
            }
        });
    </script>
</head>
<body>
    <div class="center">
    </div>
</body>
</html>
