﻿@using LunchKingSite.Core.Enumeration
@using LunchKingSite.BizLogic.Component
@model LunchKingSite.BizLogic.Models.QuestionnaireValume
@{
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>問券</title>
    <link href='/themes/PCweb/css/RDL-L.css' rel="stylesheet" type="text/css" />
    <link href='/themes/PCweb/css/RDL-M.css' rel="stylesheet" type="text/css" />
    <link href='/themes/PCweb/css/RDL-S.css' rel="stylesheet" type="text/css" />
    <style type="text/css">
        .qustionnaire_notice{
            background: #fff;
            padding:10px; 
        }
        .qustionnaire_notice .qustion_item .grui-form .form-unit .data-input{
            margin-left: 20px;
        }
        .qustionnaire_notice .qustion_item .grui-form .form-unit{
            /*margin-bottom: 0;*/
        }
        .qustionnaire_notice .qustion_item .grui-form .form-unit .data-input input[type="radio"]{
            margin-top: 5px;
        }
        .qustionnaire_notice .qustion_item .grui-form .form-unit .data-input label.data-input-label{
            padding-bottom: 5px;
        }
        .qustionnaire_notice .qustion_item  .grui-form .form-unit .data-input label.data-input-label p.blank{
            line-height: 16px;
        }
        .qustionnaire_notice .qustion_item  .grui-form .form-unit .data-input label.data-input-label span{
            line-height: 24px;
        }
        .qustionnaire_notice .qustion_item  .grui-form .form-unit{
            min-height: auto;
        }
        .qustionnaire_notice .qustion_item p.title{
            padding: 10px 0 10px 10px;
            margin-top: 10px;
            font-size: 20px;
            line-height: 1.4;
        }
        .qustionnaire_notice .color_red{
            color: #bf0000;
        }
        .qustionnaire_notice .go_exhibition{
            text-align: center;
        }
        .qustionnaire_notice .go_exhibition a{    
            color: #fff;
            background: #bf0000;
            font-size: 22px;
            padding:10px 30px; 
            border-radius: 50px;
            box-shadow:0 1px 3px #666;
            text-decoration: none;
        }
        .qustionnaire_notice .go_exhibition a:hover{
            box-shadow:0 0px 0px #666;
            background: #990000;
        }
        p.font_small{
            text-align: center;
            font-size: 14px;
            color: #999;
        }
        .qustionnaire_notice p.note{
            text-align: right;
            font-size: 14px;
            color: #999;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            if ('@ViewBag.Message' != '') {
                alert('@ViewBag.Message');
                location.href = "/";
                $('.message').html('@ViewBag.Message');
            }

            $('.go_exhibition').find('a').click(function() {
                if ('@ViewBag.Message' != '') {
                    alert('@ViewBag.Message');
                    return false;
                } else {
                    var checkr = true;
                    var robj = null;
                    $(".questionItem").each(function() {
                        if (checkr === true && $(this).find("input[id=isRequired]").val() === 'True' && $(this).parent().find("input[id*=passItem]").val() === "0") {
                            if ($(this).find("input[id=itemType]").val() === "1" &&
                                !$(this).find(".itemInput").is(":checked")) {
                                checkr = false;
                                robj = $(this).find("#itemDesc");
                            } else if ($(this).find("input[id=itemType]").val() === "2" &&
                                !$(this).find("input[type=checkbox]").is(":checked")) {
                                checkr = false;
                                robj = $(this).find("#itemDesc");
                            } else if ($(this).find("input[id=itemType]").val() === "0" &&
                                $(this).find(".itemInput").val() === "") {
                                checkr = false;
                                robj = $(this).find("#itemDesc");
                            }
                        }
                    });
                    if (checkr) {
                        $("#qvf").submit();
                        return false;
                    } else {
                        $('html, body').animate({
                                scrollTop: $(robj).offset().top - 90
                            },
                            300);
                    }
                }
                return false;
            });
        });

        function jumpItem(thisItemId, jumpId, isJump) {
            if (isJump === false) return false;
            if (jumpId === 0) {
                for (var i = thisItemId + 1; i <= (thisItemId + @Model.ItemTotal); i++) {
                    $("#item" + i).find("input[id=passItem" + i + "]").val(0);
                    $("#item" + i).show();
                }
            } else {
                for (var j = thisItemId + 1; j < jumpId; j++) {
                    $("#item" + j).find("input[id=passItem" + j + "]").val(1);
                    $("#item" + j).hide();
                }
            }
            return false;
        }
    </script>
</head>
<body>
<div class="center">
    <form id="qvf" action='@Url.Action("HandIn")' method="post">
        <input type="hidden" name="token" value="@Model.EventToken" />
        <div class="qustionnaire_notice">
            <p class="note"><span class="color_red">＊</span>為必填
            </p>
            @foreach (var qc in Model.QuestionData)
            {
                if (qc.Category.CategoryName != string.Empty)
                {
                }
                foreach (var qitem in qc.QuestionItems)
                {
                    <div class="qustion_item" id="@string.Format("item{0}", qitem.Item.ItemId)">
                        <p class="title">
                            <input type="hidden" id="@string.Format("passItem{0}", qitem.Item.ItemId)" value="0" />
                            @(qitem.Item.Seq + 1). @qitem.Item.QuestionContent
                            <span class="color_red" @(string.IsNullOrEmpty(qitem.Item.Supplement) ? "style='display:none'" : string.Empty)>@qitem.Item.Supplement</span>
                            <span class="color_red" style="@(qitem.Item.IsRequired ? string.Empty : "display:none")">＊</span>
                        </p>
                        <div class="grui-form questionItem">
                            @foreach (var opt in qitem.ItemOptions)
                            {
                                <div class="form-unit">
                                    <div class="data-input">
                                        <label class="data-input-label">
                                            @if ((byte) qitem.Item.QuestionType == (byte) QuestionType.Radio)
                                            {
                                                <input type="radio" name="@String.Format("ans{0}", opt.ItemId)" class="itemInput" value="@opt.Id" onclick="jumpItem(@opt.ItemId, @opt.JumpItemId, @qitem.IsJump.ToString().ToLower());" />
                                            }
                                            else if ((byte) qitem.Item.QuestionType == (byte) QuestionType.Multiple)
                                            {
                                                <input type="checkbox" name="@String.Format("ans{0}", opt.ItemId)" class="itemInput" value="@opt.Id" onclick="jumpItem(@opt.ItemId, @opt.JumpItemId, @qitem.IsJump.ToString().ToLower());" />
                                            }
                                            else if ((byte) qitem.Item.QuestionType == (byte) QuestionType.Default)
                                            {
                                                <textarea name="@String.Format("ans{0}", opt.ItemId)" rows="4" cols="50" class="itemInput"></textarea>
                                                <input type="hidden" name="@String.Format("txtOptId{0}", opt.ItemId)" value="@opt.Id" />
                                            }
                                            <span id="itemDesc">@opt.OptionContent</span>
                                            @if(!string.IsNullOrEmpty(opt.Supplement))
                                            {
                                                <p class="font_small message" style="margin-top: -3px;">@opt.Supplement</p>
                                            }
                                            @if (opt.OtherInput)
                                            {
                                                <input type="text" name="@String.Format("otherInput{0}", opt.Id)" />
                                            }
                                            <input id="itemType" type="hidden" value="@qitem.Item.QuestionType.ToString()" />
                                            <input id="isRequired" type="hidden" value="@qitem.Item.IsRequired.ToString()" />
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

            <br/><br/>
            <div class="go_exhibition" style="margin-bottom: 20px;"><a class="handin" href="#">送出問券</a>
            </div>
            <p class="font_small message" style="margin-bottom: 20px;">感謝您的填寫</p>
        </div>
    </form>
</div>
</body>
</html>
