﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="testWifi.aspx.cs" Inherits="LunchKingSite.Web.FreeWifi.testWifi" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        MacAddress：<asp:Label ID="lblMac" runat="server" Text="Label"></asp:Label>
    </div>
    </form>
</body>
</html>
