﻿@{
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}
@section header {
    <script type="text/javascript">
        $.browser = {};
        $.browser.mozilla = /firefox/.test(navigator.userAgent.toLowerCase());
        $.browser.webkit = /webkit/.test(navigator.userAgent.toLowerCase());
        $.browser.opera = /opera/.test(navigator.userAgent.toLowerCase());
        $.browser.msie = /msie/.test(navigator.userAgent.toLowerCase());
    </script>
    <script type="text/javascript" src="~/Tools/ckeditor/jquery.query-2.1.7.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.maxlength-min.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.ui.datepicker-zh-TW.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Tools/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Tools/js/json2.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.numeric.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery-ui.1.8.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.nav-tabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            var a_editor;
            var imageupload = '../../Tools/ckeditor/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images&bid=' + $.query.get('bid');
            a_editor = CKEDITOR.replace('tbInt', {
                filebrowserBrowseUrl: '../../Tools/ckeditor/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '../../Tools/ckeditor/ckfinder/ckfinder.html?type=Images&startupPath=' + $.query.get('bid'),
                filebrowserImageUploadUrl: imageupload
            });
            a_editor = CKEDITOR.replace('tbPdtl', {
                filebrowserBrowseUrl: '../../Tools/ckeditor/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '../../Tools/ckeditor/ckfinder/ckfinder.html?type=Images&startupPath=' + $.query.get('bid'),
                filebrowserImageUploadUrl: imageupload
            });
            a_editor = CKEDITOR.replace('tbSlrInt', {
                filebrowserBrowseUrl: '../../Tools/ckeditor/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '../../Tools/ckeditor/ckfinder/ckfinder.html?type=Images&startupPath=' + $.query.get('bid'),
                filebrowserImageUploadUrl: imageupload
            });
            a_editor = CKEDITOR.replace('rmkTxt', {
                filebrowserBrowseUrl: '../../Tools/ckeditor/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '../../Tools/ckeditor/ckfinder/ckfinder.html?type=Images&startupPath=' + $.query.get('bid'),
                filebrowserImageUploadUrl: imageupload
            });
        });
    </script>
}
<form class="form-horizontal" role="form">
<div class="panel panel-primary top-buffer-sm padding-xs">
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabs1" data-toggle="tab">基本資料</a></li>
            <li><a href="#tabs2" data-toggle="tab">圖片</a></li>
            <li><a href="#tabs3" data-toggle="tab">說明</a></li>
            <li><a href="#tabs4" data-toggle="tab">其它設定</a></li>
            <li><a href="#tabs5" data-toggle="tab">預覽</a></li>
            <li><a href="#tabs6" data-toggle="tab">多檔次</a></li>
        </ul>
        <div class="tab-content">
            <!-- tab-1 start... -->
            <div class="tab-pane active" id="tabs1">
                <!-- 名稱/狀態 start -->
                <div class="panel panel-default">
                    <div class="panel-heading">名稱/狀態
                    </div>
                    <div class="panel-body">
	                    <div class="form-group clearfix">
		                    <div class="pull-left">
			                    <a href="https://www.17life.com/controlroom/seller/seller_add.aspx?sid=be78aef7-52ef-4bb1-9423-f92b016434ae&amp;&amp;thin=1">天馬茶房二店 </a><span class="badge">42</span>
		                    </div>
		                    <div class="pull-right">
			                    <label><input id="cbx_ShoppingCar" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_ShoppingCar" onclick="showActivity();">
			                           使用購物車功能</label>
			                    <label style="margin-left:30px">
				                    <input id="ctl00_ContentPlaceHolder1_cbx_multiBranch" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_multiBranch">包含大量分店
			                    </label>
		                    </div>
	                    </div>
							<div class="form-group">
								<label class="col-sm-2 control-label">檔號：</label>
								<div class="col-sm-2">
									<p class="form-control-static">10038699</p>
								</div>
								<label for="txtBusinessOrderId" class="col-sm-2 control-label">工單編號：</label>
								<div class="col-sm-4">
									<input name="txtBusinessOrderId" type="text" value="S001-014791" id="txtBusinessOrderId" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="tbSales">
									業務：
								</label>
								<div class="col-sm-2">
									<input name="tbSales" type="text" value="簡嘉萱" id="tbSales" class="form-control"
										autocomplete="off" aria-autocomplete="list" aria-haspopup="true">
								</div>
								<label class="col-sm-2 control-label" for="ddlRreceiveType">
									消費方式：
								</label>
								<div class="col-sm-4">
									<select name="ddlRreceiveType" id="ddlRreceiveType" class="form-control">
										<option selected="selected" value="1">憑證消費</option>
										<option value="2">宅配</option>
									</select>									
								</div>
							</div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                行銷標題(橘標)：</label>
                            <div class="col-sm-8">
                                <input name="tTitle" type="text" value="補品也能變甜品！養生燕窩、美顏雪蛤，平實價格給你最棒享受，從小女孩到老奶奶都無法抵擋的午茶聖品！" 
                                    maxlength="250" id="tTitle" class="form-control">
                                <span class="status" style="display: none;">剩下 2 個字</span>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                優惠活動(黑標)：</label>
                            <div class="col-sm-8">
                            <textarea name="tbN" rows="4" cols="40" id="bN" class="form-control dealName">只要119元起即可享有【天馬茶房二店】原價最高1050元(A)甜品：冰糖燕窩/豆漿燕窩/日式抹茶燕窩/茉莉綠茶燕窩/紅豆雪蛤/芝麻雪蛤(6選1)/(B)燕窩/雪蛤六入禮盒：冰糖燕窩/豆漿燕窩/日式抹茶燕窩/茉莉綠茶燕窩/紅豆雪蛤/芝麻雪蛤(任選6)</textarea>
                                <div class="status" style="display: none;">剩下 126 個字</div>
                                </div>
                        </div>
                        <p>
                            <label>
                                優惠短標(APP標題)
                            </label>
                            <input name="ctl00$ContentPlaceHolder1$tbAppTitle" type="text" maxlength="40" id="ctl00_ContentPlaceHolder1_tbAppTitle" style="width: 500px;"><div class="status" style="display: none;">剩下 40 個字</div>
                        </p>
                        <p>
                            <label>
                                訂單短標(品牌名稱-商品)：</label>
                            <input name="ctl00$ContentPlaceHolder1$tbUse" type="text" value="天馬茶房二店-甜品" maxlength="250" size="50" id="ctl00_ContentPlaceHolder1_tbUse"><div class="status" style="display: none;">剩下 241 個字</div>
                        </p>
                        <p>
                            <label>
                                使用地點：(旅遊檔次使用區域)</label>
                            <input name="ctl00$ContentPlaceHolder1$txtTravelPlace" type="text" maxlength="100" size="50" id="ctl00_ContentPlaceHolder1_txtTravelPlace">
                        </p>
                        <table class="table_font">
                            <tbody>
                                <tr>
                                    <td style="text-align: left">
                                        <label>
                                            狀態：</label>


                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p>
                            <label>
                                上檔頻道(依排檔區域勾選)：</label>
                            <table id="ctl00_ContentPlaceHolder1_cblC" border="0" style="font-size: Small;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_0" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$0"><label for="ctl00_ContentPlaceHolder1_cblC_0">福利網</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_1" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$1"><label for="ctl00_ContentPlaceHolder1_cblC_1">宅配好物</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_2" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$2" checked="checked"><label for="ctl00_ContentPlaceHolder1_cblC_2">台北</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_3" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$3"><label for="ctl00_ContentPlaceHolder1_cblC_3">桃園</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_4" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$4"><label for="ctl00_ContentPlaceHolder1_cblC_4">竹苗</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_5" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$5"><label for="ctl00_ContentPlaceHolder1_cblC_5">中彰</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_6" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$6"><label for="ctl00_ContentPlaceHolder1_cblC_6">嘉南</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_7" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$7"><label for="ctl00_ContentPlaceHolder1_cblC_7">高屏</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_8" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$8"><label for="ctl00_ContentPlaceHolder1_cblC_8">旅遊渡假</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_9" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$9"><label for="ctl00_ContentPlaceHolder1_cblC_9">女性專區</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_10" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$10"><label for="ctl00_ContentPlaceHolder1_cblC_10">全家專區</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_11" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$11"><label for="ctl00_ContentPlaceHolder1_cblC_11">24H到貨</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cblC_12" type="checkbox" name="ctl00$ContentPlaceHolder1$cblC$12"><label for="ctl00_ContentPlaceHolder1_cblC_12">72H到貨</label></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                        <p class="travellist" style="display: none;">
                            <label>
                                旅遊區域：</label>
                            <table id="ctl00_ContentPlaceHolder1_chklTravelCategory" border="0" style="font-size: Small;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_chklTravelCategory_0" type="checkbox" name="ctl00$ContentPlaceHolder1$chklTravelCategory$0"><label for="ctl00_ContentPlaceHolder1_chklTravelCategory_0">北部</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_chklTravelCategory_1" type="checkbox" name="ctl00$ContentPlaceHolder1$chklTravelCategory$1"><label for="ctl00_ContentPlaceHolder1_chklTravelCategory_1">中部</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_chklTravelCategory_2" type="checkbox" name="ctl00$ContentPlaceHolder1$chklTravelCategory$2"><label for="ctl00_ContentPlaceHolder1_chklTravelCategory_2">南部</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_chklTravelCategory_3" type="checkbox" name="ctl00$ContentPlaceHolder1$chklTravelCategory$3"><label for="ctl00_ContentPlaceHolder1_chklTravelCategory_3">宜花東</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_chklTravelCategory_4" type="checkbox" name="ctl00$ContentPlaceHolder1$chklTravelCategory$4"><label for="ctl00_ContentPlaceHolder1_chklTravelCategory_4">離島 / 外島</label></td>
                                        <td><span disabled="disabled" style="display: none">
                                                <input id="ctl00_ContentPlaceHolder1_chklTravelCategory_5" type="checkbox" name="ctl00$ContentPlaceHolder1$chklTravelCategory$5" checked="checked" disabled="disabled"><label for="ctl00_ContentPlaceHolder1_chklTravelCategory_5">全部</label></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                        <p>
                            <label>
                                生活商圈：</label>

                        </p>
                        <ul style="padding-left: 15px;" class="CommercialLabel">

                            <li><span class="divCommercial">
                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$hidCommercialCategoryId" id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_hidCommercialCategoryId" value="72">
                                    <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chkCommercialArea" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chkCommercialArea" onclick="ShowCommercialList(this);"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chkCommercialArea">新光三越</label>
                                    <span id="CommercialCategoryList" style="font-size: small; display: none;">
                                        <table id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_0" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$0"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_0">台北信義新天地</label></td>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_1" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$1"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_1">台北站前店</label></td>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_2" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$2"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_2">台北南西店</label></td>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_3" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$3"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_3">台北天母店</label></td>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_4" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$4"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_4">桃園大有店</label></td>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_5" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$5"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_5">桃園站前店</label></td>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_6" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$6"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_6">新竹中華店</label></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_7" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$7"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_7">台中中港店</label></td>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_8" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$8"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_8">嘉義垂楊店</label></td>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_9" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$9"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_9">台南中山店</label></td>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_10" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$10"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_10">台南西門店</label></td>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_11" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$11"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_11">高雄三多店</label></td>
                                                    <td>
                                                        <input id="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_12" type="checkbox" name="ctl00$ContentPlaceHolder1$rptCommercialCategory$ctl01$chklCommercialCategory$12"><label for="ctl00_ContentPlaceHolder1_rptCommercialCategory_ctl01_chklCommercialCategory_12">高雄左營店</label></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </span>
                                </span>
                            </li>

                        </ul>

                        <p></p>
                        <p>
                            <label>
                                首頁類別：</label>
                            <table id="ctl00_ContentPlaceHolder1_cbl_Category" border="0" style="font-size: Small;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_0" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$0"><label for="ctl00_ContentPlaceHolder1_cbl_Category_0">24H到貨</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_1" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$1"><label for="ctl00_ContentPlaceHolder1_cbl_Category_1">72H到貨</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_2" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$2" checked="checked"><label for="ctl00_ContentPlaceHolder1_cbl_Category_2">餐廳美食</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_3" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$3"><label for="ctl00_ContentPlaceHolder1_cbl_Category_3">宅配美食</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_4" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$4"><label for="ctl00_ContentPlaceHolder1_cbl_Category_4">到店取貨</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_5" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$5"><label for="ctl00_ContentPlaceHolder1_cbl_Category_5">觀光旅遊</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_6" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$6"><label for="ctl00_ContentPlaceHolder1_cbl_Category_6">門票展覽</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_7" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$7"><label for="ctl00_ContentPlaceHolder1_cbl_Category_7">運動戶外</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_8" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$8"><label for="ctl00_ContentPlaceHolder1_cbl_Category_8">美妝保養</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_9" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$9"><label for="ctl00_ContentPlaceHolder1_cbl_Category_9">潮流服飾</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_10" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$10"><label for="ctl00_ContentPlaceHolder1_cbl_Category_10">鞋包配飾</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_11" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$11"><label for="ctl00_ContentPlaceHolder1_cbl_Category_11">美髮SPA</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_12" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$12"><label for="ctl00_ContentPlaceHolder1_cbl_Category_12">媽咪寶貝</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_13" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$13"><label for="ctl00_ContentPlaceHolder1_cbl_Category_13">生活用品</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_14" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$14"><label for="ctl00_ContentPlaceHolder1_cbl_Category_14">居家用品</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_15" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$15"><label for="ctl00_ContentPlaceHolder1_cbl_Category_15">生活家電</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_16" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$16"><label for="ctl00_ContentPlaceHolder1_cbl_Category_16">3C數位</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_17" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$17"><label for="ctl00_ContentPlaceHolder1_cbl_Category_17">健康保健</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_18" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$18"><label for="ctl00_ContentPlaceHolder1_cbl_Category_18">寵物專區</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_19" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$19"><label for="ctl00_ContentPlaceHolder1_cbl_Category_19">愛心公益</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_20" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$20"><label for="ctl00_ContentPlaceHolder1_cbl_Category_20">汽機車用品</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_Category_21" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$21"><label for="ctl00_ContentPlaceHolder1_cbl_Category_21">其他</label></td>
                                        <td><span disabled="disabled" style="display: none">
                                                <input id="ctl00_ContentPlaceHolder1_cbl_Category_22" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$22" checked="checked" disabled="disabled"><label for="ctl00_ContentPlaceHolder1_cbl_Category_22">全部</label></span></td>
                                        <td><span disabled="disabled" style="display: none">
                                                <input id="ctl00_ContentPlaceHolder1_cbl_Category_23" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$23" checked="checked" disabled="disabled"><label for="ctl00_ContentPlaceHolder1_cbl_Category_23">暢銷排行</label></span></td>
                                        <td><span disabled="disabled" style="display: none">
                                                <input id="ctl00_ContentPlaceHolder1_cbl_Category_24" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_Category$24" checked="checked" disabled="disabled"><label for="ctl00_ContentPlaceHolder1_cbl_Category_24">新鮮貨</label></span></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                        <p>
                            <label>Icon：</label>
                            <table id="ctl00_ContentPlaceHolder1_cbl_CouponIcon" class="CouponIconCheckbox" border="0" style="font-size: Small;">
                                <tbody>
                                    <tr>
                                        <td><span class="readonly">
                                                <input id="ctl00_ContentPlaceHolder1_cbl_CouponIcon_0" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_CouponIcon$0" onclick="return false;"><label for="ctl00_ContentPlaceHolder1_cbl_CouponIcon_0">破萬熱銷</label></span></td>
                                        <td><span class="readonly">
                                                <input id="ctl00_ContentPlaceHolder1_cbl_CouponIcon_1" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_CouponIcon$1" onclick="return false;"><label for="ctl00_ContentPlaceHolder1_cbl_CouponIcon_1">破千熱銷</label></span></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_CouponIcon_2" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_CouponIcon$2"><label for="ctl00_ContentPlaceHolder1_cbl_CouponIcon_2">即買即用</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_CouponIcon_3" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_CouponIcon$3"><label for="ctl00_ContentPlaceHolder1_cbl_CouponIcon_3">五星級飯店</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_CouponIcon_4" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_CouponIcon$4"><label for="ctl00_ContentPlaceHolder1_cbl_CouponIcon_4">四星級飯店</label></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon" class="DeliveryIconCheckBox" border="0" style="font-size: small; display: none;">
                                <tbody>
                                    <tr>
                                        <td><span class="readonly">
                                                <input id="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_0" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_DeliveryIcon$0" onclick="return false;"><label for="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_0">破萬熱銷</label></span></td>
                                        <td><span class="readonly">
                                                <input id="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_1" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_DeliveryIcon$1" onclick="return false;"><label for="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_1">破千熱銷</label></span></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_2" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_DeliveryIcon$2"><label for="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_2">24H到貨</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_3" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_DeliveryIcon$3"><label for="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_3">72H到貨</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_4" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_DeliveryIcon$4"><label for="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_4">五星級飯店</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_5" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_DeliveryIcon$5"><label for="ctl00_ContentPlaceHolder1_cbl_DeliveryIcon_5">四星級飯店</label></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
			        
                    </div>
                </div>
                <!-- 名稱/狀態 end-->
                <!--SEO設定 start -->
                <div class="panel panel-default">
                    <div class="panel-heading">SEO設定</div>
                    <div class="panel-body">
                        視窗標題：<br>
                             <input name="ctl00$ContentPlaceHolder1$tbTitle" type="text" maxlength="32" id="ctl00_ContentPlaceHolder1_tbTitle" style="width: 600px;"><div class="status" style="display: none;">剩下 32 個字</div>
                             <br>
                             網頁敘述：<br>
                                  <textarea name="ctl00$ContentPlaceHolder1$tbDesc" rows="3" cols="20" id="ctl00_ContentPlaceHolder1_tbDesc" style="width: 600px;"></textarea><div class="status" style="display: none;">剩下 75 個字</div>
                                  <br>
                                  圖片替代文字：<br>
                                         <input name="ctl00$ContentPlaceHolder1$tbAlt" type="text" value="燕窩/雪蛤" maxlength="50" id="ctl00_ContentPlaceHolder1_tbAlt" style="width: 600px;"><div class="status" style="display: none;">剩下 15 個字</div>

                    </div>
                </div>
                <!--SEO設定 end -->
                <!--銷售分析用 start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        銷售分析用
                    </div>
                    <div class="panel-body">
                        館別：<select name="ctl00$ContentPlaceHolder1$ddlAccBusGroup" id="ddlAccBusGroup">
                               <option value="-1">=請選擇館別=</option>
                               <option selected="selected" value="1">美食生活</option>
                               <option value="2">在地宅配</option>
                               <option value="3">女性專區</option>
                               <option value="5">旅遊渡假</option>
                               <option value="6">品生活</option>
                               <option value="7">全國宅配</option>
                               <option value="8">愛心公益</option>

                           </select>
                        <!---->
                        <br>
                        業績歸屬:
                        <select name="ctl00$ContentPlaceHolder1$ddlDept" id="ctl00_ContentPlaceHolder1_ddlDept">
                            <option value="-1">=請選擇單位選項=</option>
                            <option value="M001">行銷一部</option>
                            <option value="M002">行銷二部</option>
                            <option selected="selected" value="S001">業務部(台北)</option>
                            <option value="S002">業務部(桃園)</option>
                            <option value="S003">業務部(竹苗)</option>
                            <option value="S004">業務部(中彰)</option>
                            <option value="S005">業務部(高屏)</option>
                            <option value="S006">業務部(嘉南)</option>
                            <option value="S007">業務部(玩美)</option>
                            <option value="S008">業務部(旅遊)</option>
                            <option value="S009">業務部(福利)</option>
                            <option value="S010">業務部(全國宅配)</option>
                            <option value="S011">業務部(KA)</option>
                            <option value="S012">業務部(品生活)</option>
                            <option value="S013">系統業務部</option>
                            <option value="S014">通路發展部</option>
                        </select>

                        <br>
                        分類：<select name="ctl00$ContentPlaceHolder1$ddlDealType" id="ctl00_ContentPlaceHolder1_ddlDealType">
                               <option value="-1">=請選擇分類選項=</option>
                               <option value="1">餐廳_吃到飽_鍋物</option>
                               <option value="2">餐廳_吃到飽_燒烤</option>
                               <option value="3">餐廳_吃到飽_異國料理</option>
                               <option value="4">餐廳_吃到飽_西點類</option>
                               <option value="5">餐廳_吃到飽_小吃類</option>
                               <option value="6">餐廳_吃到飽_下午茶/宵夜</option>
                               <option value="7">餐廳_吃到飽_名人開店</option>
                               <option value="8">餐廳_吃到飽_季節限定</option>
                               <option value="9">餐廳_吃到飽_其他</option>
                               <option value="10">餐廳_非吃到飽_鍋物</option>
                               <option value="11">餐廳_非吃到飽_燒烤</option>
                               <option value="12">餐廳_非吃到飽_異國料理</option>
                               <option value="13">餐廳_非吃到飽_西點類</option>
                               <option value="14">餐廳_非吃到飽_小吃類</option>
                               <option value="15">餐廳_非吃到飽_下午茶/宵夜</option>
                               <option value="16">餐廳_非吃到飽_名人開店</option>
                               <option value="17">餐廳_非吃到飽_季節限定</option>
                               <option selected="selected" value="18">餐廳_非吃到飽_其他</option>
                               <option value="19">餐廳_飲料/冰品</option>
                               <option value="20">保養品</option>
                               <option value="21">彩妝/香水/染髮劑</option>
                               <option value="22">服飾</option>
                               <option value="23">配件</option>
                               <option value="24">鞋/包</option>
                               <option value="25">SPA/按摩</option>
                               <option value="26">醫美服務</option>
                               <option value="27">雜誌書籍</option>
                               <option value="28">美髮服務</option>
                               <option value="29">門票</option>
                               <option value="30">住宿</option>
                               <option value="31">課程</option>
                               <option value="32">生活用品</option>
                               <option value="33">保健食品</option>
                               <option value="34">店取/宅配食品</option>
                               <option value="35">3C電器產品</option>
                               <option value="36">其他</option>

                           </select>
                        <br>
                        <label style="display: inline-block">
                            收據資料：
                            <span style="margin-left: 8px">
                                <input id="ctl00_ContentPlaceHolder1_rbNoEntrustSell" type="radio" name="ctl00$ContentPlaceHolder1$EntrustSell" value="rbNoEntrustSell" checked="checked"></span>無
                            <span style="margin-left: 8px">
                                <input id="ctl00_ContentPlaceHolder1_rbKindReceipt" type="radio" name="ctl00$ContentPlaceHolder1$EntrustSell" value="rbKindReceipt"></span>捐款檔次收據
                        </label>
                    </div>
                </div>
                <!-- 銷售分析用 end -->
                <!-- 核銷與帳務設定 start -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        核銷與帳務設定
                    </div>
                    <div class="panel-body">
                        核銷方式：
                        <select name="ctl00$ContentPlaceHolder1$ddlVerifyType" id="ctl00_ContentPlaceHolder1_ddlVerifyType">
                            <option value="1">清冊</option>
                            <option selected="selected" value="2">線上</option>

                        </select>
                        <br>
                        匯款資料：
                        <span disabled="disabled">
                            <input id="ctl00_ContentPlaceHolder1_rbPayToCompany" type="radio" name="ctl00$ContentPlaceHolder1$payto" value="rbPayToCompany" checked="checked" disabled="disabled"></span>統一匯至賣家匯款資料
                        <span disabled="disabled">
                            <input id="ctl00_ContentPlaceHolder1_rbPayToStore" type="radio" name="ctl00$ContentPlaceHolder1$payto" value="rbPayToStore" disabled="disabled"></span>匯至各分店匯款資料
                        <br>
                        對帳方式：
                        <span disabled="disabled">
                            <input id="ctl00_ContentPlaceHolder1_rbBMNone" type="radio" name="ctl00$ContentPlaceHolder1$VendorBilling" value="rbBMNone" disabled="disabled"></span>舊版核銷對帳系統
                        <span disabled="disabled">
                            <input id="ctl00_ContentPlaceHolder1_rbBMBalanceSheetSystem" type="radio" name="ctl00$ContentPlaceHolder1$VendorBilling" value="rbBMBalanceSheetSystem" checked="checked" disabled="disabled"></span>新版核銷對帳系統
                        <span disabled="disabled">
                            <input id="ctl00_ContentPlaceHolder1_rbBMMohistSystem" type="radio" name="ctl00$ContentPlaceHolder1$VendorBilling" value="rbBMMohistSystem" disabled="disabled"></span>墨攻核銷對帳系統
                        <br>
                        出帳方式：
                        <span disabled="disabled">
                            <input id="ctl00_ContentPlaceHolder1_rbAchWeekly" type="radio" name="ctl00$ContentPlaceHolder1$achType" value="rbAchWeekly" checked="checked" disabled="disabled"></span>ACH每週出帳
                        <span disabled="disabled">
                            <input id="ctl00_ContentPlaceHolder1_rbAchMonthly" type="radio" name="ctl00$ContentPlaceHolder1$achType" value="rbAchMonthly" disabled="disabled"></span>ACH每月出帳
                        <span disabled="disabled">
                            <input id="ctl00_ContentPlaceHolder1_rbManualWeekly" type="radio" name="ctl00$ContentPlaceHolder1$achType" value="rbManualWeekly" disabled="disabled"></span>人工每週出帳
                        <span disabled="disabled">
                            <input id="ctl00_ContentPlaceHolder1_rbManualMonthly" type="radio" name="ctl00$ContentPlaceHolder1$achType" value="rbManualMonthly" disabled="disabled"></span>人工每月出帳
                        <span disabled="disabled">
                            <input id="ctl00_ContentPlaceHolder1_rbAchPartially" type="radio" name="ctl00$ContentPlaceHolder1$achType" value="rbAchPartially" disabled="disabled"></span>商品(暫付70%)
                        <span disabled="disabled">
                            <input id="ctl00_ContentPlaceHolder1_rbAchOthers" type="radio" name="ctl00$ContentPlaceHolder1$achType" value="rbAchOthers" disabled="disabled"></span>其他付款方式
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="ui-state-highlight" style="display: inline-block;">憑證檔選擇舊版對帳系統時，出帳方式只有＂ACH每週出帳＂有效，其他選項僅用於備註。</span>
                        <br>
                        店家單據開立方式：
                        <input id="ctl00_ContentPlaceHolder1_rbRecordInvoice" type="radio" name="ctl00$ContentPlaceHolder1$record" value="rbRecordInvoice" checked="checked">統一發票
                        <input id="ctl00_ContentPlaceHolder1_rbRecordReceipt" type="radio" name="ctl00$ContentPlaceHolder1$record" value="rbRecordReceipt">免用統一發票收據
                        <input id="ctl00_ContentPlaceHolder1_rbRecordOthers" type="radio" name="ctl00$ContentPlaceHolder1$record" value="rbRecordOthers">其他
                        <input name="ctl00$ContentPlaceHolder1$tbAccountingMessage" type="text" id="ctl00_ContentPlaceHolder1_tbAccountingMessage">
                        <br>
                        免稅設定：
                        <span class="aspnet_checkbox">
                            <input id="ctl00_ContentPlaceHolder1_cbInputTax" type="checkbox" name="ctl00$ContentPlaceHolder1$cbInputTax"><label for="ctl00_ContentPlaceHolder1_cbInputTax">店家發票免稅(無法確認，請洽財會)</label></span>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="aspnet_checkbox">
                            <input id="ctl00_ContentPlaceHolder1_cbx_NoTax" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_NoTax"><label for="ctl00_ContentPlaceHolder1_cbx_NoTax">開立免稅發票給消費者(無法確認，請洽財會)</label></span>
                        <br>			        
                    </div>
                </div>
                <!-- 核銷與帳務設定 end -->
                <!-- 價格資訊 start -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        價格資訊
                    </div>
                    <div class="panel-body">
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$hdMultiCost" id="ctl00_ContentPlaceHolder1_hdMultiCost" value="[{&quot;Id&quot;:246240,&quot;Cost&quot;:1.0000,&quot;Quantity&quot;:99999,&quot;Cumulative_quantity&quot;:99999,&quot;Lower_cumulative_quantity&quot;:0}]">
                        <input type="hidden" name="ctl00$ContentPlaceHolder1$hdCumulativeQuantity" id="ctl00_ContentPlaceHolder1_hdCumulativeQuantity" value="99999">
                        <div style="float: left">
                            <p>
                                <label>
                                    原價：</label>
                                <input name="ctl00$ContentPlaceHolder1$tbOP" type="text" value="160" id="ctl00_ContentPlaceHolder1_tbOP" placeholder="填原價">
                            </p>
                            <p>
                                <label>
                                    賣價：</label>
                                <input name="ctl00$ContentPlaceHolder1$tbP" type="text" value="119" id="ctl00_ContentPlaceHolder1_tbP" class="editPrice" placeholder="填特價">
                                <span style="margin-left: 20px">
                                    <input id="ctl00_ContentPlaceHolder1_cbx_PriceZeorShowOriginalPrice" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_PriceZeorShowOriginalPrice"><span style="color: Gray;">0元好康顯示原價</span>
                                </span>
                            </p>
                        </div>
                        <div class="price" style="float: right">
                            <p>
                                <label>
                                    折扣數：</label>
                                <span id="discountRate">7.4</span>折
                            </p>
                            <p>
                                <label>
                                    節省金額：</label>
                                $<span id="discountPrice">41</span>
                            </p>
                        </div>


                        <input type="hidden" name="ctl00$ContentPlaceHolder1$hidBusinessOrderPurchasePrice" id="ctl00_ContentPlaceHolder1_hidBusinessOrderPurchasePrice">
                        <br>
                        <table id="ctl00_ContentPlaceHolder1_tablePurchaseCost" class="table_font" style="clear: both">
                            <tbody>
                                <tr>
                                    <td style="vertical-align: bottom;">
                                        <label>
                                            進貨價格(無條件進位)：</label>
                                        <input type="text" id="tbMultiCost">
                                    </td>
                                    <td style="vertical-align: bottom;">
                                        <label>
                                            份數：</label>
                                        <input type="text" id="tbQuantity">
                                    </td>
                                    <td style="vertical-align: bottom; text-align: center">
                                        <input type="button" id="btnCreateCost" value="新增進貨價" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">
                                    </td>
                                    <td style="vertical-align: bottom">
                                        <input type="button" id="btnDeleteCost" value="刪除進貨價" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <br>
                        <table id="tableCost" cellspacing="0" border="1" style="border-collapse: collapse;" rules="all" width="70%">
                            <thead>
                                <tr>
                                    <th>序號
                                    </th>
                                    <th>進貨價
                                    </th>
                                    <th>份數
                                    </th>
                                    <th>累積份數
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="costId">246240</td>
                                    <td class="multiCost">1</td>
                                    <td class="quantity">99999</td>
                                    <td class="cumulativeQuantity">99999</td>
                                </tr>
                            </tbody>
                        </table>

                        <p>
                        </p>
                    </div>
                </div>
                <!-- 價格資訊 end -->
                <!-- 時程資訊 start -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        時程資訊
                    </div>
                    <div class="panel-body">
                        <p>
                            <label>
                                活動搶購時間：</label>
                            <span style="float: left">從
                                <input name="ctl00$ContentPlaceHolder1$tbOS" type="text" value="2013/11/12" id="ctl00_ContentPlaceHolder1_tbOS" class="date hasDatepicker">
                                <select name="ctl00$ContentPlaceHolder1$dlOSh" id="ctl00_ContentPlaceHolder1_dlOSh">
                                    <option value="0">00</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option selected="selected" value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                                :<select name="ctl00$ContentPlaceHolder1$dlOSm" id="ctl00_ContentPlaceHolder1_dlOSm">
                                     <option selected="selected" value="0">00</option>
                                     <option value="5">05</option>
                                     <option value="10">10</option>
                                     <option value="15">15</option>
                                     <option value="20">20</option>
                                     <option value="25">25</option>
                                     <option value="30">30</option>
                                     <option value="35">35</option>
                                     <option value="40">40</option>
                                     <option value="45">45</option>
                                     <option value="50">50</option>
                                     <option value="55">55</option>

                                 </select>
                                &nbsp;&nbsp;&nbsp;至
                                <input name="ctl00$ContentPlaceHolder1$tbOE" type="text" value="2013/11/26" id="ctl00_ContentPlaceHolder1_tbOE" class="date hasDatepicker">
                                <select name="ctl00$ContentPlaceHolder1$dlOEh" id="ctl00_ContentPlaceHolder1_dlOEh">
                                    <option value="0">00</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option selected="selected" value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                                :<select name="ctl00$ContentPlaceHolder1$dlOEm" id="ctl00_ContentPlaceHolder1_dlOEm">
                                     <option selected="selected" value="0">00</option>
                                     <option value="5">05</option>
                                     <option value="10">10</option>
                                     <option value="15">15</option>
                                     <option value="20">20</option>
                                     <option value="25">25</option>
                                     <option value="30">30</option>
                                     <option value="35">35</option>
                                     <option value="40">40</option>
                                     <option value="45">45</option>
                                     <option value="50">50</option>
                                     <option value="55">55</option>

                                 </select>
                            </span><span style="float: right;"><a href="PponDealTimeSlot.aspx" target="_blank" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">活動時程表</span></a></span>
                        </p>
                        <p style="clear: both">
                            <label>
                                活動商品有效期限/開始配送日期：</label>
                            從
                            <input name="ctl00$ContentPlaceHolder1$tbDS" type="text" value="2013/11/12" id="ctl00_ContentPlaceHolder1_tbDS" class="date hasDatepicker">
                            &nbsp;&nbsp;&nbsp;至
                            <input name="ctl00$ContentPlaceHolder1$tbDE" type="text" value="2014/1/27" id="ctl00_ContentPlaceHolder1_tbDE" class="date hasDatepicker">
                        </p>
                        <p>
                            <label>
                                調整有效期限截止日：</label>
                            <input name="ctl00$ContentPlaceHolder1$formChangedExpireDate" type="text" id="formChangedExpireDate" class="date hasDatepicker">
                        </p>
                    </div>
                </div>
                <!-- 時程資訊 end -->
                <!-- 活動人數及限制 start -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        活動人數及限制
                    </div>
                    <div class="panel-body">
                        <p>
                            <label>
                                最低門檻數量：</label>
                            <input name="ctl00$ContentPlaceHolder1$tbOMin" type="text" value="1" id="ctl00_ContentPlaceHolder1_tbOMin" class="number">
                        </p>
                        <p>
                            <label>
                                最大購買數量：</label>
                            <input name="ctl00$ContentPlaceHolder1$tbOMax" type="text" value="2,000" id="ctl00_ContentPlaceHolder1_tbOMax" class="number">
                            <span class="ui-state-highlight">若無限制, 請留空白，系統將自動帶入99,999</span>
                        </p>
                        <p>
                            <label>
                                每人限購：</label>
                            <input name="ctl00$ContentPlaceHolder1$tbMaxP" type="text" value="20" id="ctl00_ContentPlaceHolder1_tbMaxP" class="number">
                            <span class="ui-state-highlight">若無限制, 請留空白，系統將自動帶入20</span>
                            <span class="aspnet_checkbox">
                                <input id="ctl00_ContentPlaceHolder1_chkIsDailyRstriction" type="checkbox" name="ctl00$ContentPlaceHolder1$chkIsDailyRstriction"><label for="ctl00_ContentPlaceHolder1_chkIsDailyRstriction">每人每日限購份數</label></span>
                        </p>
                        <p>
                            <label style="display: inline">
                                <input id="chkQuantityMultiplier" type="checkbox" name="ctl00$ContentPlaceHolder1$chkQuantityMultiplier">以份數顯示：
                            </label>
                            <input name="ctl00$ContentPlaceHolder1$txtQuantityMultiplier" type="text" id="txtQuantityMultiplier" class="number" style="display: inline; width: 60px" disabled="disabled">
                            <label class="ui-state-highlight" style="display: inline">
                                請填入顯示的銷售倍數。</label>
                        </p>

                        <p>
                            <span class="aspnet_checkbox">
                                <input id="ctl00_ContentPlaceHolder1_cbx_NoRefund" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_NoRefund"><label for="ctl00_ContentPlaceHolder1_cbx_NoRefund">不接受退貨</label></span>
                            (<label style="display: inline; color: Green;">捐款檔次<input id="ctl00_ContentPlaceHolder1_cbx_KindDeal" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_KindDeal" onclick="KindDealSetting(this);"></label>
                            )
                        </p>
                        <p>
                            <span disabled="disabled" class="aspnet_checkbox">
                                <input id="ctl00_ContentPlaceHolder1_chkDaysNoRefund" type="checkbox" name="ctl00$ContentPlaceHolder1$chkDaysNoRefund" disabled="disabled"><label for="ctl00_ContentPlaceHolder1_chkDaysNoRefund">結檔後七天不能退貨</label></span>
                        </p>
                        <p>
                            <span class="aspnet_checkbox">
                                <input id="ctl00_ContentPlaceHolder1_chkNoRefundBeforeDays" type="checkbox" name="ctl00$ContentPlaceHolder1$chkNoRefundBeforeDays"><label for="ctl00_ContentPlaceHolder1_chkNoRefundBeforeDays">演出時間前十日內不能退貨</label></span>
                        </p>
                        <p>
                            <span class="aspnet_checkbox">
                                <input id="ctl00_ContentPlaceHolder1_cbx_ExpireNoRefund" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_ExpireNoRefund"><label for="ctl00_ContentPlaceHolder1_cbx_ExpireNoRefund">過期不能退貨</label></span>
                        </p>
                        <p>
                        </p>
                        <p>
                            <span class="aspnet_checkbox">
                                <input id="ctl00_ContentPlaceHolder1_cbx_PEZevent" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_PEZevent"><label for="ctl00_ContentPlaceHolder1_cbx_PEZevent">廠商提供序號活動</label></span>
                            <span>(<label style="display: inline">序號綁UserId<input id="ctl00_ContentPlaceHolder1_cbx_PEZeventWithUserId" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_PEZeventWithUserId"></label>
                                )(<label style="display: inline">單一序號<input id="ctl00_ContentPlaceHolder1_cbx_SinglePinCode" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_SinglePinCode"></label>)</span>
                        </p>
                        <p>
                            <span class="aspnet_checkbox">
                                <input id="ctl00_ContentPlaceHolder1_cbx_PEZeventCouponDownload" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_PEZeventCouponDownload"><label for="ctl00_ContentPlaceHolder1_cbx_PEZeventCouponDownload">0元或廠商提序號檔次，提供下載序號(不含簡訊)</label></span>
                        </p>
                        <p>
                            <span class="aspnet_checkbox">
                                <input id="ctl00_ContentPlaceHolder1_cbx_FamiDeal" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_FamiDeal"><label for="ctl00_ContentPlaceHolder1_cbx_FamiDeal">全家檔次</label></span>
                            <span class="aspnet_checkbox FamiDealRadioBtn" style="display: none;">
                                <input id="ctl00_ContentPlaceHolder1_rdoFamiPincode" type="radio" name="ctl00$ContentPlaceHolder1$FamiDealType" value="rdoFamiPincode" checked="checked"><label for="ctl00_ContentPlaceHolder1_rdoFamiPincode">紅利pin碼</label></span>
                            <span class="aspnet_checkbox FamiDealRadioBtn" style="display: none;">
                                <input id="ctl00_ContentPlaceHolder1_rdoFamiBarcode" type="radio" name="ctl00$ContentPlaceHolder1$FamiDealType" value="rdoFamiBarcode"><label for="ctl00_ContentPlaceHolder1_rdoFamiBarcode">優惠條碼barcode</label></span>

                        </p>
                        <!-- 20120907_Justin 將下面這段隱藏起來 -->
                        <div style="display: none">
                            <p>
                                <label>
                                    已含18%營業稅，不開立發票給消費者：
                                </label>
                                <span style="color: Red;">
                                    <input id="ctl00_ContentPlaceHolder1_cbx_NoInvoiceCreate" type="checkbox" name="ctl00$ContentPlaceHolder1$cbx_NoInvoiceCreate"></span>
                                <span class="ui-state-highlight">打勾為不開立發票</span>
                            </p>
                        </div>
                        <p>
                            <label>
                                ATM保留份數：
                            </label>
                            <input name="ctl00$ContentPlaceHolder1$tbAtm" type="text" value="0" id="ctl00_ContentPlaceHolder1_tbAtm">
                            <span id="spanAtmInfo" class="ui-state-highlight">預設為0，無法使用</span>
                        </p>		        
                    </div>
                </div>
                <!-- 活動人數及限制 end -->



            </div>

            <!--tabs-1 end. -->

            <div class="tab-pane" id="tabs2">                
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                1. 輪播大圖(請固定大小->480px * 267px)
                            </div>
                            <div class="panel-body">
                                <div class="thumbnail">
                                    <img src="https://www.17life.com/media/A0-03-812/edffb335EDMe766EDM4e19EDM92c1EDM65dc4fe378cb.jpg?07" align="middle" style="border-width:0px;">                            
                                    <a href="#" ><span class="ui-button-text">X</span></a><hr>
                                </div>
                                <div class="thumbnail">
                                    <img src="https://www.17life.com/media/A0-03-812/635198485934562619.jpg?07" align="middle" style="border-width:0px;">                            
                                    <a href="#" ><span class="ui-button-text">X</span></a><hr>
                                </div>
                                <div class="thumbnail">
                                    <img src="https://www.17life.com/media/A0-03-812/635198486006434399.jpg?07" align="middle" style="border-width:0px;">
                                    <a href="#" ><span class="ui-button-text">X</span></a><hr>
                                </div>
                                <div class="thumbnail">
                                    <img src="https://www.17life.com/media/A0-03-812/635198486072993917.jpg?07" align="middle" style="border-width:0px;">                            
                                    <a href="#" class="dI ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">X</span></a><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                2. SideDeal小圖
                            </div>
                            <div class="panel-body">
                                <img src="https://www.17life.com/media/A0-03-812/635198485829567323.jpg" align="middle" style="border-width:0px;">
                                <a href="#" class="dI ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">X</span></a><hr>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                3. Im小圖
                            </div>
                            <div class="panel-body">                            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                特殊規格圖片(APP或其他用途)
                            </div>
                            <div class="panel-body">
                                <input id="rdo_img1" type="radio" name="rdo_img" value="1" checked="checked" />按順序上圖(1,2,3,其他輪播大圖)
                                <input id="rdo_img2" type="radio" name="rdo_img" value="2" />上輪播大圖
                                <input id="rdo_img3" type="radio" name="rdo_img" value="3" />上App行銷活動大圖300x450
                                <input id="ctl00_ContentPlaceHolder1_chkIsPrintWatermark" type="checkbox" name="ctl00$ContentPlaceHolder1$chkIsPrintWatermark" checked="checked" /><font style="color: Brown;">自動壓Logo</font>
                                <br />
                                上傳圖片:
                                <input type="file" name="ctl00$ContentPlaceHolder1$fuI" id="ctl00_ContentPlaceHolder1_fuI" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        標籤設定
                    </div>
                    <div class="panel-body">
                        <div id="CouponDealTag" class="divCouponDealTag">
                            <label>憑證類：</label>
                            <table id="ctl00_ContentPlaceHolder1_cbl_couponDealTag" class="CouponDealTag" border="0" style="font-size: Small;">
                                <tbody>
                                    <tr>
                                        <td><span class="readonly">
                                                <input id="ctl00_ContentPlaceHolder1_cbl_couponDealTag_0" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_couponDealTag$0" onclick="return false;"><label for="ctl00_ContentPlaceHolder1_cbl_couponDealTag_0">限紙本憑證</label></span></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_couponDealTag_1" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_couponDealTag$1"><label for="ctl00_ContentPlaceHolder1_cbl_couponDealTag_1">限內用</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_couponDealTag_2" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_couponDealTag$2"><label for="ctl00_ContentPlaceHolder1_cbl_couponDealTag_2">限外帶</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_couponDealTag_3" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_couponDealTag$3" checked="checked"><label for="ctl00_ContentPlaceHolder1_cbl_couponDealTag_3">需預約</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_couponDealTag_4" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_couponDealTag$4"><label for="ctl00_ContentPlaceHolder1_cbl_couponDealTag_4">每次限用一張</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_couponDealTag_5" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_couponDealTag$5"><label for="ctl00_ContentPlaceHolder1_cbl_couponDealTag_5">每人限用一次</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_couponDealTag_6" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_couponDealTag$6"><label for="ctl00_ContentPlaceHolder1_cbl_couponDealTag_6">女性專屬</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_couponDealTag_7" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_couponDealTag$7"><label for="ctl00_ContentPlaceHolder1_cbl_couponDealTag_7">限平日</label></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_couponDealTag_8" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_couponDealTag$8"><label for="ctl00_ContentPlaceHolder1_cbl_couponDealTag_8">限假日</label></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="CouponTravel" class="divCouponTravelTag" style="display: none;">
                                <label>旅遊類：</label>
                                <table id="ctl00_ContentPlaceHolder1_cbl_couponTravelDealTag" class="CouponTravelDealTag" border="0" style="font-size: Small;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input id="ctl00_ContentPlaceHolder1_cbl_couponTravelDealTag_0" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_couponTravelDealTag$0"><label for="ctl00_ContentPlaceHolder1_cbl_couponTravelDealTag_0">禁止攜帶寵物</label></td>
                                            <td>
                                                <input id="ctl00_ContentPlaceHolder1_cbl_couponTravelDealTag_1" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_couponTravelDealTag$1"><label for="ctl00_ContentPlaceHolder1_cbl_couponTravelDealTag_1">不可連續住宿</label></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="DeliveryDealTag" class="divDeliveryDealTag" style="display: none;">
                            <label>宅配類：</label>
                            <table id="ctl00_ContentPlaceHolder1_cbl_deliveryDealTag" class="DeliveryDealTag" border="0" style="font-size: Small;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_deliveryDealTag_0" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_deliveryDealTag$0"><label for="ctl00_ContentPlaceHolder1_cbl_deliveryDealTag_0">免運費</label></td>
                                        <td><span class="readonly">
                                                <input id="ctl00_ContentPlaceHolder1_cbl_deliveryDealTag_1" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_deliveryDealTag$1" onclick="return false;"><label for="ctl00_ContentPlaceHolder1_cbl_deliveryDealTag_1">貨到付運費</label></span></td>
                                        <td>
                                            <input id="ctl00_ContentPlaceHolder1_cbl_deliveryDealTag_2" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_deliveryDealTag$2"><label for="ctl00_ContentPlaceHolder1_cbl_deliveryDealTag_2">含運費</label></td>
                                        <td><span class="readonly">
                                                <input id="ctl00_ContentPlaceHolder1_cbl_deliveryDealTag_3" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_deliveryDealTag$3" checked="checked" onclick="    return false;"><label for="ctl00_ContentPlaceHolder1_cbl_deliveryDealTag_3">無法配送外島</label></span></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="DeliveryTravel" class="divDeliveryTravelTag" style="display: none;">
                                <label>旅遊類：</label>
                                <table id="ctl00_ContentPlaceHolder1_cbl_deliveryTravelDealTag" class="DeliveryTravelDealTag" border="0" style="font-size: Small;">
                                    <tbody>
                                        <tr>
                                            <td><span class="readonly">
                                                    <input id="ctl00_ContentPlaceHolder1_cbl_deliveryTravelDealTag_0" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_deliveryTravelDealTag$0" checked="checked" onclick="return false;"><label for="ctl00_ContentPlaceHolder1_cbl_deliveryTravelDealTag_0">實體票券</label></span></td>
                                            <td>
                                                <input id="ctl00_ContentPlaceHolder1_cbl_deliveryTravelDealTag_1" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_deliveryTravelDealTag$1"><label for="ctl00_ContentPlaceHolder1_cbl_deliveryTravelDealTag_1">需預約</label></td>
                                            <td>
                                                <input id="ctl00_ContentPlaceHolder1_cbl_deliveryTravelDealTag_2" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_deliveryTravelDealTag$2"><label for="ctl00_ContentPlaceHolder1_cbl_deliveryTravelDealTag_2">禁止攜帶寵物</label></td>
                                            <td>
                                                <input id="ctl00_ContentPlaceHolder1_cbl_deliveryTravelDealTag_3" type="checkbox" name="ctl00$ContentPlaceHolder1$cbl_deliveryTravelDealTag$3"><label for="ctl00_ContentPlaceHolder1_cbl_deliveryTravelDealTag_3">不可連續住宿</label></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="CustomTag">
                            <input id="cb_CustomTag" type="checkbox" name="ctl00$ContentPlaceHolder1$cb_CustomTag">
                            <input name="ctl00$ContentPlaceHolder1$txt_CustomTag" type="text" maxlength="11" id="txt_CustomTag"><div class="status" style="display: none;">剩下 10 個字</div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        預約管理設定
                    </div>
                    <div class="panel-body">
                        <label>預約管理：</label>
                        <span class="aspnet_checkbox"><input id="ctl00_ContentPlaceHolder1_cb_IsUsingbookingSystem" type="checkbox" name="ctl00$ContentPlaceHolder1$cb_IsUsingbookingSystem"><label for="ctl00_ContentPlaceHolder1_cb_IsUsingbookingSystem">配合</label></span>
                        <div class="CouponUsers" style="display:none">
                            類型:
                            <label>
                                <input id="ctl00_ContentPlaceHolder1_rdoBookingSystemSeat" type="radio" name="ctl00$ContentPlaceHolder1$bookingSystemType" value="rdoBookingSystemSeat" checked="checked">訂位管理(如：餐廳、SPA)
                            </label>
                            <label>
                                <span disabled="disabled"><input id="ctl00_ContentPlaceHolder1_rdoBookingSystemRoom" type="radio" name="ctl00$ContentPlaceHolder1$bookingSystemType" value="rdoBookingSystemRoom" disabled="disabled"></span>訂房管理(如：住宿)
                            </label>
                            <label>
                                消費者需提早
                                <input name="ctl00$ContentPlaceHolder1$txtAdvanceReservationDays" type="text" value="0" maxlength="2" id="txtAdvanceReservationDays" style="width:25px;">
                                天預約(至少需填1天)
                            </label>
                            <label>
                                <input id="ctl00_ContentPlaceHolder1_rdoSingleUser" type="radio" name="ctl00$ContentPlaceHolder1$rdoUsers" value="rdoSingleUser" checked="checked">
                                單人優惠(1人使用一張，或無使用限制的檔次)
                            </label>
                            <span>
                                <label style="display:inline-block">
                                    <input id="ctl00_ContentPlaceHolder1_rdoMultiUsers" type="radio" name="ctl00$ContentPlaceHolder1$rdoUsers" value="rdoMultiUsers">
                                    多人優惠，
                                </label>
                                本次優惠為
                                <input name="ctl00$ContentPlaceHolder1$txtCouponUsers" type="text" maxlength="2" id="txtCouponUsers" style="width:25px;" disabled="">
                                人享用一張憑證(以最多人數計算，如3~4人套餐，則填4)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        好康權益說明
                    </div>
                    <div class="panel-body">
                        <textarea id="tbInt" rows="5"></textarea>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        更多權益說明<input type="button" class="btn btn-success" value='複製到"好康權益說明"' />
                    </div>
                    <div class="panel-body">
                        <textarea id="tbPdtl" rows="5"></textarea>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        詳細介紹(最多300字)
                    </div>
                    <div class="panel-body">
                        <textarea id="tbSlrInt" rows="5"></textarea>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        一姬說好康
                    </div>
                    <div class="panel-body">
                        <textarea id="rmkTxt" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        多重選項
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <textarea class="form-control" rows="5" cols="80"></textarea>
                            <input type="button" class="btn btn-default" value="怎麼打" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        檔次續接設定
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">                            
                                <label for="AncestorBid" class="col-sm-2 control-label">接續檔次的 bid：</label>
                                <div class="col-sm-4">
                                    <input type="email" class="form-control" id="AncestorBid" name="AncestorBid">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        訂房鎖定
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        分店設定
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        簡訊內容
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        其他動作
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        預覽
                    </div>
                    <div class="panel-body">
                        <input type="button" class="btn btn-default" value="前台預覽" /> 
                        <input type="button" class="btn btn-default" value="好康劵預覽" /> 
                        <input type="button" class="btn btn-default" value="購買頁預覽" />                        
                    </div>
                </div>
                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> 請先儲存才可預覽</div>
            </div>
            <div class="tab-pane" id="tabs6">
                <h2>多檔次</h2>
            </div>
        </div>
        <p>
            <button type="button" class="btn btn-primary btn-lg">SAVE</button>

        </p>
    </div>
</div>
</form>