﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <span>hello world~~</span>
        <br/>
        <span>the admin email is: @ViewBag.AdminEmail</span>
    </div>
</body>
</html>
