﻿@{
    ViewBag.Title = "PCPTest";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<h2>PCPTest</h2>
<h5>換商家的時候請F5</h5>
<h5><a href="@ViewBag.SearchRegularsCard" target="_blank">查詢商家</a></h5>
Login info:<br />
Authorization:<label id="Authorization"></label><br />
UserId:<label id="UserId"></label><br />
<hr />
取得帳號access token<br/>
ClientId:<input type="text" id="ClientId" value="053438684294719" /><br />
UserName:<input type="text" id="UserName" value="IIRARN0001" /><br />

<button id="VbsLogin">Login</button>

<hr />
建立熟客卡或取得熟客卡資料<br />
<a id="link2Card">點此編輯熟客卡內容</a><br />
<button id="SetEditVbsMembershipCard">建立熟客卡或取得熟客卡資料</button>↑有連結出現就去製作熟客卡。<br />

<hr />
建立會員<br />

隨機建立<input type="text" id="People" value="10" style="width:30px"/>人,
領取編號為<input type="text" id="MembershipCardId" style="width:70px" />的熟客卡。<br />

<button id="BindUserAndCard">建立</button>

<hr />

建立熟客券樣版<br />
Amount:<input type="text" id="Amount" value="100" /><br />
MinimumAmount:<input type="text" id="MinimumAmount" value="1000" /><br />
AvailableDateType:
<select id="AvailableDateType">
    <option value="1">均適用</option>
    <option value="2">特殊假日不適用</option>
    <option value="3">週六、日不適用，特殊假日</option>
</select> 
請參考 Table vacation<br />
StartTime:<input type="date" name="date" id="StartTime" value="2015-01-01" /><br />
EndTime:<input type="date" name="date" id="EndTime" value="2015-03-31" /><br />

CardCombineUse:
<input type="radio" name="CardCombineUse" value="1" checked>yes
<input type="radio" name="CardCombineUse" value="0">no
true表示可與熟客卡合併使用，預設值為false<br />
SituationType:<input type="text" id="SituationType" value="0" />新增此範本的時候，選擇的情境類型 0：未指定  預設值為0<br />
Stores:
<select id="Stores" multiple>
</select> 
<br />
<button id="SetDiscountTemplate">SetDiscountTemplate</button><br/>
<button id="SendDiscount">發送</button><br />
<hr />

熟客卡：<input type="text" id="IdentityUserid" />要消費，並且領取編號<input type="text" id="IdentityCradId"/>熟客卡
<br />
<button id="IdntityCreate">領卡</button><br />

IdentityCodeId：<input type="text" id="IdentityCodeId" value="100" /><br />
Amount:<input type="text" id="CheckoutAmount" value="100" /><br />    
CardDiscount:<input type="text" id="CheckoutCardDiscount" value="100" /><br />    
DiscountCodeId：<input type="text" id="DiscountCodeId" value="null" /><br />
SuperBonus:<input type="text" id="SuperBonus" value="0" /><br />    
StoreGuid，直接從上面Stores:選一個
<button id="PCPCheckout">結帳</button><br />
<hr />

<script>
    pcpTest.$on(document.getElementById('SetDiscountTemplate'), 'click', function () {
        var data = {};
        data.Amount = pcpTest.GetValue('Amount');
        data.MinimumAmount = pcpTest.GetValue('MinimumAmount');
        data.AvailableDateType = pcpTest.GetValue('AvailableDateType');
        data.StartTime = pcpTest.GetValue('StartTime');
        data.EndTime = pcpTest.GetValue('EndTime');
        data.CardCombineUse = pcpTest.GetValueName('CardCombineUse') != 0 ? true : false;;
        data.SituationType = pcpTest.GetValue('SituationType');
        //data.Stores = "[" + pcpTest.GetValue('Stores') + "]";
        //data.Stores = new Array(pcpTest.GetValue('Stores').split(','));
        data.Stores = pcpTest.GetValue('Stores').split(',');

        $.ajax({
            url: 'https://iceman.17life.com/api/pcp/CreateDiscountCampaign',
            type: "POST",
            data: data,
            dataType: "json",
            headers: {
                "Authorization": pcpTest.GetValue('Authorization'),
            },
            success: function (result, status, xhr) {
                if (result.Code == pcpTest.ApiResult.ok) {
                    alert('建立成功');
                }
                else { alert(result.Message); }
            },
            error: function () {
                alert('error，可能是HTTPS安全性問題');
            }
        });
    });

    pcpTest.$on(document.getElementById('IdntityCreate'), 'click', function () {
        var data = {};
        data.identityUserid = pcpTest.GetValue('IdentityUserid');
        data.cardId = pcpTest.GetValue('IdentityCradId');
        data.userId = pcpTest.GetValue('UserId');

        $.ajax({
            url: '/controlroom/sample/CreateIdentityCode',
            type: "POST",
            data: data,
            dataType: "json",
            headers: {
                "Authorization": pcpTest.GetValue('Authorization'),
            },
            success: function (result, status, xhr) {
                if (result.Code == pcpTest.ApiResult.ok) {
                    pcpTest.SetValue('IdentityCodeId',result.Data.Id)
                    alert('建立成功，請至下面結帳。');
                }
                else { alert(result.Message); }
            },
            error: function () {
                alert('error');
            }
        });
    });

    pcpTest.$on(document.getElementById('PCPCheckout'), 'click', function () {
        var data = {};
        data.IdentityCodeId = pcpTest.GetValue('IdentityCodeId');
        data.Amount = pcpTest.GetValue('CheckoutAmount');
        data.CardDiscount = pcpTest.GetValue('CheckoutCardDiscount');
        data.DiscountCodeId = pcpTest.GetValue('DiscountCodeId');
        data.SuperBonus = pcpTest.GetValue('SuperBonus');
        data.StoreGuid = pcpTest.GetValue('Stores');

        $.ajax({
            url: 'https://iceman.17life.com/api/pcp/Checkout',
            type: "POST",
            data: data,
            dataType: "json",
            headers: {
                "Authorization": pcpTest.GetValue('Authorization'),
            },
            success: function (result, status, xhr) {
                if (result.Code == pcpTest.ApiResult.ok) {
                    alert('核銷成功');
                }
                else { alert(result.Message); }
            },
            error: function () {
                alert('error，可能是HTTPS安全性問題');
            }
        });
    });

    pcpTest.$on(document.getElementById('SendDiscount'), 'click', function () {
        $.ajax({
            url: '/controlroom/sample/CreateDiscountCampaign',
            type: "POST",
            data: { UserId: pcpTest.GetValue('UserId') },
            dataType: "json",
            headers: {
                "Authorization": pcpTest.GetValue('Authorization'),
            },
            success: function (result, status, xhr) {
                if (result.Code == pcpTest.ApiResult.ok) {
                    alert('建立成功');
                }
                else { alert(result.Message); }
            },
            error: function () {
                alert('error');
            }
        });
    });

    pcpTest.$on(document.getElementById('BindUserAndCard'), 'click', function () {

        var data = {};
        data.People = pcpTest.GetValue('People');
        data.MembershipCardId = pcpTest.GetValue('MembershipCardId');
        data.UserId = pcpTest.GetValue('UserId');
        $.ajax({
            url: '/controlroom/sample/BindUserAndCard',
            type: "POST",
            data: data,
            dataType: "json",
            headers: {
                "Authorization": pcpTest.GetValue('Authorization'),
            },
            success: function (result, status, xhr) {
                if (result.Code == pcpTest.ApiResult.ok) {
                    //document.getElementById('link2Card').setAttribute('href', '/ControlRoom/vbs/membership/SearchRegularsCard?regularCardNo=' + result.Data);
                    //document.getElementById('link2Card').setAttribute('target', '_blank');
                    alert('建立成功');
                }
                else { alert(result.Message); }
            },
            error: function () {
                alert('error');
            }
        });
    });

    pcpTest.$on(document.getElementById('SetEditVbsMembershipCard'), 'click', function () {
        $.ajax({
            url: '/controlroom/sample/SetVbsMembershipCard',
            type: "POST",
            data: { UserId: pcpTest.GetValue('UserId') },
            dataType: "json",
            headers: {
                "Authorization": pcpTest.GetValue('Authorization'),
            },
            success: function (result, status, xhr) {
                if (result.Code == pcpTest.ApiResult.ok) {
                    document.getElementById('link2Card').setAttribute('href', result.Data);

                    document.getElementById('link2Card').setAttribute('target', '_blank');
                }
                else { alert('error'); }
            },
            error: function () {
                alert('error');
            }
        });
    });

    pcpTest.$on(document.getElementById('VbsLogin'), 'click', function () {

        var obj = {};
        obj.UserName = pcpTest.GetValue('UserName');
        obj.ClientId = pcpTest.GetValue('ClientId');
        
        $.ajax({
            url: '/controlroom/sample/GenAccessToken',
            type: "POST",
            data: obj,
            dataType: "json",
            headers: {
                "Authorization": "Basic MDUzNDM4Njg0Mjk0NzE5OjA3Yjk1ZThmZDhlZjljOTFjMTRlNjU3OTVmNTI5ZTM2"
            },            
            success: function (result, status, xhr) {
                pcpTest.SetValue('Authorization', result.Data.TokenType + ' ' + result.Data.AccessToken);
                pcpTest.SetValue('UserId', result.UserId);
                $.ajax({
                    url: '/controlroom/sample/VbsStores',
                    type: "POST",
                    data: { UserId: pcpTest.GetValue('UserId') },
                    dataType: "json",
                    headers: {
                        "Authorization": pcpTest.GetValue('Authorization')
                    },
                    success: function (result, status, xhr) {
                        console.log('test');

                        var selectList = document.getElementById("Stores");
                        var i = 0
                        for ( ; i < result.Data.length; i++)
                        {
                            var option = document.createElement("option");
                            option.text = result.Data[i].StoreName;
                            option.value = result.Data[i].Guid;
                            option.selected = true;
                            selectList.add(option);
                        }
                        selectList.size = i;
                    },
                    error: function () {
                        alert('error');
                    }
                });
            },
            error: function () {
                alert('error');
            }
        });
    });

</script>




@section SSC{

    <style>
        hr {
            border-style: dashed;
            border-width: thin;
            border-left-style: none;
            border-right-style: none;
            border-bottom-style: none;
            margin-right: 10px;
        }
    </style>




    <!--以下module-->
    <script type="text/javascript">
        /// <reference path="../scripts/typings/anythingpass.d.ts" />
        var pcpTest;
        (function (pcpTest) {
            (function (ApiResult) {
                ApiResult[ApiResult["ok"] = 1000] = "ok";
            })(pcpTest.ApiResult || (pcpTest.ApiResult = {}));
            var ApiResult = pcpTest.ApiResult;
            function $on(el, eventName, eventHandler) {
                el.addEventListener(eventName, eventHandler);
            }
            pcpTest.$on = $on;
            function SetValue(el, value) {
                //document.getElementById(el).innerText = value;
                var elem = document.getElementById(el);
                var tag = elem.tagName.toLowerCase();
                if (tag == 'label') {
                    elem.textContent = value;
                }
                else if (tag == 'input') {
                    elem.value = value;
                }
            }
            pcpTest.SetValue = SetValue;
            function GetValue(el) {
                var elem = document.getElementById(el);
                //return elem.value;
                var tag = elem.tagName.toLowerCase();
                if (tag == 'input') {
                    //var type: string = elem.getAttribute('type');
                    return elem.value;
                }
                else if (tag == 'label') {
                    return elem.innerText;
                }
                else if (tag == 'select') {
                    var result = [];
                    var elemSelect = document.getElementById(el);
                    var options = elemSelect && elemSelect.options;
                    var opt;
                    for (var i = 0, iLen = options.length; i < iLen; i++) {
                        opt = options[i];
                        if (opt.selected) {
                            result.push(opt.value || opt.text);
                        }
                    }
                    return result.join(',');
                }
            }
            pcpTest.GetValue = GetValue;
            function GetValueName(el) {
                //var elem = <HTMLScriptElement>document.getElementsByName(el)[0];
                var name = document.getElementsByName(el);
                for (var i = 0; i < name.length; i++) {
                    if (name[i].checked) {
                        return name[i].value;
                    }
                }
                // or undefined, or your preferred default for none checked
                return null;
            }
            pcpTest.GetValueName = GetValueName;
            function $updateCookie(name, value, days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    var expires = "";
                    expires = "" + date.toString();
                }
                else
                    var expires = "";
                document.cookie = name + "=" + value + "; expires=" + expires;
            }
            pcpTest.$updateCookie = $updateCookie;
            function $getCookie(name) {
                var arg = name + "=";
                var alen = arg.length;
                var clen = document.cookie.length;
                var i = 0;
                while (i < clen) {
                    var j = i + alen;
                    if (document.cookie.substring(i, j) == arg)
                        return GetCookieVal(j);
                    i = document.cookie.indexOf(" ", i) + 1;
                    if (i == 0)
                        break;
                }
                return null;
            }
            pcpTest.$getCookie = $getCookie;
            function GetCookieVal(offset) {
                var endstr = document.cookie.indexOf(";", offset);
                if (endstr == -1)
                    endstr = document.cookie.length;
                return unescape(document.cookie.substring(offset, endstr));
            }
        })(pcpTest || (pcpTest = {}));
        //# sourceMappingURL=test.js.map
    </script>

}