﻿@charset "utf-8";
/*--------- reset ---------*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,figure{margin:0;padding:0;
}
table{border-collapse:collapse;
border-spacing:0;
font-size:inherit;
font:100%;
}
fieldset,img{border:none;
}
address,caption,cite,code,dfn,em,th,var{font-style:normal;
font-weight:normal;
}
img{vertical-align:middle;
}
abbr,acronym{border:none;
font-variant:normal;
}
sup{vertical-align:text-top;
}
sub{vertical-align:text-bottom;
}
input,button,textarea,select{*font-size:100%;
}
input{vertical-align:middle;
}
select,input,button,textarea{font:100% Verdana, Arial, Helvetica, sans-serif;
}
pre,code,kbd,samp,tt{font-family:Verdana, Arial, Helvetica, sans-serif;
}
small{font-size:100%;
}
ins{text-decoration:none;
}
/*--------- style ---------*/
html{text-align:left;
}
html,legend{color:#333;
}
body{
font-size:15px;
line-height:1.7;
font-family:\5FAE\8EDF\6B63\9ED1\9AD4;
}
input,button,textarea,select{font-family:inherit;
font-size:inherit;
font-weight:inherit;
color:#333;
padding:1px;
}
p{margin:0 0 10px 0;
}
a{text-decoration:none;
}
a:hover{text-decoration:underline;
}
/*--------- layout ---------*/
#wrapper{
}
#container{
	float:left;
	width:320px;
	position:relative;
	background-color:#fff;
}
/*--- swiper start ---*/
.swiper-container {
	width:100%;
	height:100%;
}
.swiper-slide {
	text-align:center;
	font-size:18px;
	background:#fff;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
}
.swiper-slide img{
	height:178px;
	text-align:center;
}
.swiper-pagination{
	background:url(images/img_slider_shadow.png) repeat-x;
}
/*--- swiper end ---*/
/*--- content start ---*/
#content{
	float:left;
	padding:5px 10px;
	width:300px;
	border-bottom:1px solid #c9c9c9;
}
#content .topic{
	float:left;
	width:100%;
	line-height:1.3;
	margin-bottom:5px;
}
#content .note{
	float:left;
	width:100%;
	font-size:12px;
	color:#E60000;
}
#content .note .price{
	float:left;
}
#content .note .price span{
	padding-left:5px;
	color:#cacaca;
	text-decoration:line-through;
}
#content .note .other{
	float:right;
}
/*--- content end ---*/
/*--- tabs start ---*/
.multi_tabs ul{
	float:left;
	width:100%;
	border-bottom:1px solid #c9c9c9;
}
.multi_tabs #tabs li {
    float: left;
    list-style: none;
}
.multi_tabs div ul li {
    list-style-position: inside;
}
.tabs3 #tabs li {
    width: 33.3%;
}
.tabs4 #tabs li {
    width: 25%;
}
.multi_tabs ul .ui-tabs-active{
	border-bottom:3px solid #E60000;
}
.multi_tabs ul li a{
	float:left;
	display:block;
	height:47px;
	width:100%;
	line-height:47px;
	text-align:center;
	font-size:13px;
	color:#cacaca;
	text-decoration:none;
	outline:none;
}
.multi_tabs ul .ui-tabs-active a{
	color:#E60000;
}
.ui-tabs-panel{
	float:left;
	width:300px;
	padding:5px 10px;
	overflow:hidden;
	color:#666;
}
/*--- tabs end ---*/