﻿@media screen and (min-width: 768px) {
    .botbar {
        display: none;
    }

    .dealpic {
        max-width: 100%;
        height: auto;
        max-height: 550px;
    }
}

body {
    font-family: Microsoft JhengHei !important;
}
/*--- tabs start ---*/
#tabs {
    /*float: left;*/
    width: 100%;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}

    #tabs li {
        float: left;
        list-style: none;
    }

    /*.tabs3 ul li {
    width: 33.3%;
}
*/
    #tabs li {
        width: 25%;
    }

a.active {
    border-bottom: 3px solid #E60000;
}

#tabs li a {
    float: left;
    display: block;
    height: 47px;
    width: 100%;
    line-height: 47px;
    text-align: center;
    font-size: 13px;
    color: #cacaca;
    text-decoration: none;
    outline: none;
}

.multi_tabs ul .active {
    color: #E60000;
}

.tab-pane {
    float: left;
    /*width: 300px;*/
    padding: 5px 10px;
    overflow: hidden;
    color: #666;
}
/*--- tabs end ---*/
.note {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #E60000;
    margin: 0;
}

.botbar {
    width: 100%;
    height: 44px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: white;
}

.buybtn {
    width: 100%;
    height: 100%;
    background-color: #e82425;
    color: #ffffff;
    font-size: 14pt;
    border-radius: 5px;
    text-align: center;
    line-height: 32px
}

.dealpic {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}
