﻿@charset "utf-8";

.RegisterBlock{
	width: 940px;
	height:auto;
	background-color: #ECE7E4;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	border: 10px solid #FAFAFA;
	float: left;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}
.RegisterBlock .Left-column{
	float: left;
	padding: 30px 20px;
	width: 600px;
	line-height: 25px;
}
.RegisterBlock .Left-column h1{
	color: #414141;
	font-weight: normal;
	letter-spacing:0.8px;
	padding: 10px 0px;
	font-family: "微軟正黑體";
	font-size: 24px;
}
.RegisterBlock .Left-column h1.padding{
	padding-top: 70px;
	padding-left: 0px;
	font-family: "微軟正黑體";
	font-weight: normal;
	font-size: 24px;
}
.RegisterBlock .Left-column p{
	font-size: 13px;
	color: #414141;
	padding: 5px 0px 5px 0px;
	margin: 0px;
	letter-spacing: 0.8px;
}
.RegisterBlock .Left-column p.Context-link{
	font-family: "微軟正黑體";
	font-size: 13px;
	color: #414141;
	font-weight: normal;
	letter-spacing:0.8px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.RegisterBlock .Left-column .RegisterContent{
	width: 100%;
	padding-top: 30px;
}
.RegisterBlock .Left-column .RegisterContent p.City_field{
	width: 100%;	
	margin: 0 0 0.4em;
	font-size:13px;
}

.RegisterBlock .Left-column .RegisterContent p.City_field label{	
	margin: 0 0.4em;
}
.RegisterBlock .Left-column .RegisterContent p.City_field select{
	width: 200px;
}
.RegisterBlock .Left-column .RegisterContent p.field{
	width: 100%;	
}
.RegisterBlock .Left-column .RegisterContent p.field label{	
	color: #414141;
    display: block;
    font-size: 13px;
    font-weight: normal;
	line-height: 1.5em;
}
.RegisterBlock .Left-column .RegisterContent p.field input{	
	margin-right:5px;
    font-size: 13px;
	width: 310px;
	height: 30px;
}
.padding_cityfield{
	padding-left:62px;
}
.RegisterBlock .Left-column .verify{
	width: 600px;
	float:left;
}
.RegisterBlock .Left-column .verify p.Left{
	float:left;
	padding:0px;
}
.RegisterBlock .Left-column .verify  p.page_registration_msg{
	float:left;
	padding: 6px 0px 10px;
	font-size:13px;
}
.RegisterBlock .Left-column .verify  input{
	float: left;
	margin: 0px 10px 10px 0px;
    width: 112px;
	height: 30px;
}
.RegisterBlock .Right-column {
	float: right;
	width: 300px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	vertical-align: middle;
}
.RegisterBlock .Right-column .RegisterAD, .Right-column .RegisterAD {
	height: 600px;
	width: 300px;
	overflow:hidden;
}
.RegisterBlock .Right-column .RegisterAD_Short, .Right-column .RegisterAD_Short {
	height: 450px;
	width: 300px;
	overflow:hidden;
}
#Background{
	position: absolute;
    height: 100%;
	width: 100%;
    overflow: hidden;
    top:0;
	left:0
}
#Background .horizontal img {
    width: 100%;
}
#Background img {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 0;
	width: 100%;
}
