@charset "utf-8";
/* CSS Document */
.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
#storeTittle {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	float: left;
	background-image: url(storeTittle04.png);
	background-repeat: repeat;
	height: 54px;
	width: 960px;
}
#storeInner {
	padding-top: 20px;
	padding-bottom: 25px;
	float: left;
	width: 960px;
}
#storeCenBg {
	background-image: url(storeCen.jpg);
	background-repeat: repeat;
	width: 960px;
	float: left;
}
#storeBttom {
	background-image: url(storeBtom.jpg);
	background-repeat: no-repeat;
	height: 11px;
	width: 960px;
	float: left;
}
#ProjectList {
	float: left;
	width: 140px;
	margin-top: 15px;
	margin-left: 12px;
	border: 1px solid #65A800;
	margin-bottom: 9px;
}
#StoreContent {
	float: left;
	width: 780px;
	margin-left: 12px;
	margin-top: 15px;
	border: 1px solid #65A800;
	margin-bottom: 15px;
}
#StoreCa{
	font-family: Verdana, Geneva, sans-serif;
	background-color: #CCC;
	width: 120px;
	font-size: 18px;
	text-align: center;
}
#StoreCa {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 18px;
	color: #FFF;
	height: auto;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666;
	letter-spacing: 0.4em;
	width: 140px;
	background-image: url(storeTittlebg.jpg);
	background-repeat: repeat;
	font-weight: bold;
}
#StoreCaList {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 15px;
	color: #000;
	width: 140px;
	padding-top: 8px;
}
#StoreCaList ol{
	margin-left:5px;
	line-height: 37px;
}
#StoreCaList a:link{color: #333;text-decoration: underline;}
#StoreCaList a:visited{color: #333;text-decoration: underline;}
#StoreCaList a:hover{color: #F60;}
#StoreCaList a:active{color: #F60;}

#SCtittle {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	padding-left: 10px;
	background-image: url(storeTittlebg.jpg);
	background-repeat: repeat;
}
#SCinner {
	height: auto;
	width: 600px;
}
.SC{
	width: 356px;
	float: left;
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 5px;
	border: 1px dotted #99BD71;
	margin-right: 3px;
	background-color: #FEFBE9;
}
.scPic {
	height: 86px;
	width: 154px;
	float: left;
	margin-top: 9px;
	margin-right: 7px;
	margin-bottom: 7px;
	margin-left: 7px;
}
.scInfo {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	width: 180px;
	float: left;
	margin-top: 7px;
	margin-right: 7px;
	margin-bottom: 7px;
	letter-spacing: 0.1em;
	line-height: 25px;
}
.scName{
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 17px;
	color: #F60;
	font-weight: bold;
	overflow:hidden;
	text-overflow:ellipsis;
	height: 25px;
	width: 180px;
}
.scName a:link{color: #F60;}
.scName a:visited{color: #F60;}
.scName  a:hover{color: #F60;}
.scName  a:active{color: #F60;}

.scProject{
	font-family: "微軟正黑體", "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	color: #0080C0;
	overflow: hidden;
	height: 22px;
	line-height: 22px;
}
.scProject a:link{color: #0080C0;}
.scProject a:visited{color: #0080C0;}
.scProject  a:hover{color: #0080C0;}
.scProject  a:active{color: #0080C0;}

.scAdd{
	font-family: "微軟正黑體", "Arial Black", Gadget, sans-serif;
	font-size: 13px;
	color: #666;
	overflow: hidden;
	height: 22px;
	line-height: 22px;
}
.scTele{
	font-family: "微軟正黑體", "Arial Black", Gadget, sans-serif;
	font-size: 13px;
	color: #666;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
}
#scSearch {
	width: 724px;
	margin-left: 28px;
	float: left;
	background-image: url(SearchBg.jpg);
	background-repeat: repeat;
	margin-bottom: 20px;
}
.scArrow {
	width: 18px;
	float: left;
	margin-left:4px;
	margin-right:4px;
}
#scInner{
	width: 780px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
#SearchPic {
	height: 60px;
	width: 60px;
	float: left;
	background-image: url(Search.jpg);
}
#SearchInfo{
	width:640px;
	float: left;
	height: 60px;
	margin-left: 15px;
}
#Search{
	width:535px;
	float: left;
	height: 30px;
}
#SearchKeyword{
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	color:#575757;
	font-size: 14px;
	float: left;
	width: 630px;
}
#SearchKeyword  a:link{color:#009F70;padding-left:10px;}
#SearchKeyword  a:visited{color:#009F70;padding-left:10px;}
#SearchKeyword  a:hover{color:#009F70;padding-left:10px;}
#SearchKeyword  a:active{color:#009F70;padding-left:10px;}

#SearchBtn {
	height: 24px;
	width: 80px;
	float: left;
	margin-left: 15px;
	margin-top: 4px;
}
#scIntroduction {
	width: 725px;
	float: left;
	margin-left: 28px;
	margin-bottom: 15px;
}
.IntrDB{
	float: left;
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 5px;
	margin-right: 3px;
}
.IntrDBPic {
	height: 80px;
	width: 145px;
	float: left;
	margin-top: 8px;
	margin-right: 9px;
	margin-bottom: 7px;
	margin-left: 7px;
}
.IntrDBInfo {
	width: 220px;
	float: left;
	margin-top: 7px;
	margin-right: 5px;
	margin-bottom: 7px;
	letter-spacing: 0.1em;
}
.IntrDBName{
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 14px;
	color: #F60;
	font-weight: bold;
	line-height: 21px;
}
.IntrDBName a:link{color: #F60;}
.IntrDBName a:visited{color: #F60;}
.IntrDBName  a:hover{color: #F60;}
.IntrDBName  a:active{color: #F60;}

.IntrDBProject{
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #0080C0;
	line-height: 20px;
	overflow: hidden;
	height: 20px;
}
.IntrDBProject a:link{color: #0080C0;}
.IntrDBProject a:visited{color: #0080C0;}
.IntrDBProject  a:hover{color: #0080C0;}
.IntrDBProject  a:active{color: #0080C0;}

.IntrDBAdd{
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #666;
	line-height: 20px;
	overflow: hidden;
	height: 20px;
}
.IntrDBTele{
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #666;
	line-height: 20px;
	overflow: hidden;
	height: 20px;
}
.IntrAct {
	float: right;
	width: 290px;
	margin-right: 8px;
}
.IntrText{
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	float: right;
	width: 290px;
	line-height: 17px;
	font-size: 12px;
	letter-spacing: 0.1em;
	height: 54px;
	margin-top: 12px;
	overflow: hidden;
}
.IntrDate {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #F00;
	float: right;
	width: 290px;
	letter-spacing: 0.1em;
	line-height: 20px;
	margin-top: 3px;
}
.ITDN {
	float: left;
	width: 725px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-image: url(DNbg.jpg);
	background-repeat: repeat;
}
#scPage {
	width: 550px;
	margin-left: 89px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #916200;
	margin-top: 10px;
	float: left;
}
.scPageTable {
	margin-top: 8px;
	margin-bottom: 15px;
	height: 24px;
	margin-right: auto;
	margin-left: auto;
	width: 370px;
}
.PagesBack{
	background-image: url(PagesBack01.jpg);
	text-indent: -9999px;
	background-repeat: no-repeat;
	height: 24px;
	width: 80px;
	float: left;
}
.PagesBack:hover{
	background-image: url(PagesBack02.jpg);
	border:0;
	background-repeat: no-repeat;
}
.PagesNext{
	background-image: url(PagesNext01.jpg);
	text-indent: -9999px;
	background-repeat: no-repeat;
	height: 24px;
	width: 80px;
	float: left;
}
.PagesNext:hover{
	background-image: url(PagesNext02.jpg);
	border:0;
	background-repeat: no-repeat;
	float: left;
}

.PagesText{
	font-family: "微軟正黑體", "Arial Black", Gadget, sans-serif;
	font-size:16px;
	text-align: center;
	font-weight: bold;
	height: 28px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -10px;
}
.PagesText a:link{
	color:#333;
	width: 45px;
	margin-right: 12px;
	margin-left: 12px;
	font-size:16px;
}
.PagesText a:visited{color:#333;width: 45px;margin-right: 12px;margin-left: 12px;text-decoration: underline;}
.PagesText a:hover{color:#F27900;width: 45px;margin-right: 12px;margin-left: 12px;text-decoration: underline;}
.PagesText a:active{color:#F27900;width: 45px;margin-right: 12px;margin-left: 12px;text-decoration: underline;}

.on{
	font-family: "微軟正黑體", "Arial Black", Gadget, sans-serif;
	font-size:24px;
	text-align: center;
	font-weight: bold;
	height: 22px;
	margin-right: auto;
	margin-left: auto;
	color:#F27900;
	margin-right: 12px;
	margin-left: 12px;
	position: relative;
	top: 1px;
	text-decoration: underline;
}


#storeTittleIcon {
	background-image: url(storeTittle01.png);
	background-repeat: no-repeat;
	float: left;
	height: 46px;
	width: 74px;
}
#storeTittleIcon {
	background-image: url(storeTittle01.png);
	background-repeat: no-repeat;
	float: left;
	height: 54px;
	width: 74px;
}
#storeTextTit {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #000;
	background-image: url(storeTittle02.png);
	background-repeat: repeat;
	float: left;
	height: 54px;
	padding-right: 5px;
	line-height: 55px;
}
#storeTextTit a:link{color:#000;text-decoration: none;}
#storeTextTit a:visited{color:#000;text-decoration: none;}
#storeTextTit a:hover{color:#000;text-decoration: none;}
#storeTextTit a:active{color:#000;text-decoration: none;}

#storeTitRight {
	background-image: url(storeTittle03.png);
	background-repeat: no-repeat;
	height: 54px;
	width: 18px;
	float: left;
}
#storeTitRounded {
	background-image: url(storeTittle05.png);
	float: right;
	height: 54px;
	width: 13px;
}
#StCategoryList {
	font-size: 20px;
	font-weight: bold;
	color: #333;
	float: left;
	height: 54px;
	background-image: url(storeTittle02.png);
	background-repeat: repeat;
	letter-spacing: 0.05em;
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	line-height: 57px;
	padding-right: 5px;
}
#StCategoryList a:link{color:#000;text-decoration: none;}
#StCategoryList a:visited{color:#000;text-decoration: none;}
#StCategoryList a:hover{color:#000;text-decoration: none;}
#StCategoryList a:active{color:#000;text-decoration: none;}

#scArrowAI{
	vertical-align: top;
	margin-top: 0px;
}
#scArrowAI td{
	vertical-align: top;
	margin-top: 0px;
}
