@charset "utf-8";
/* CSS Document */
* html #siInfo {
	width: 820px;
	float: left;
	padding-left: 75px;
	padding-top: 20px;
	padding-bottom: 20px;
}
* html #siProject {
	font-family: "Arial Black", Gadget, sans-serif, "微軟正黑體";
	font-size: 16px;
	float: left;
	width: 750px;
	background-image: url(storeTittlebg.jpg);
	background-repeat: repeat;
	margin-left: 15px;
	padding-left: 10px;
	line-height: 32px;
	margin-bottom: 10px;
	color: #FFF;
}
* html #siLeft {
	float: left;
	height: auto;
	width: 500px;
	margin-left: 15px;
}
* html #siRight {
	width:240px;
	position: relative;
	top: 0px;
	margin-right: 15px;
	float: right;
}
* html .siOfferText {
	font-size: 12px;
	color: #333;
	width:210px;
	
}
* html .siMapText {
	font-family: "Arial Black", Gadget, sans-serif,"微軟正黑體";
	font-size: 12px;
	color: #333;
	padding-top: 5px;
	letter-spacing: 0.1em;
	width:210px;
}
* html .siPGoodies {
	width: 776px;
	float: left;
	margin-left: 8px;
	margin-top: 8px;
	margin-bottom: 7px;
	background-image: url(GoodiesOffer.jpg);
	background-repeat: no-repeat;
	height: 25px;
}
* html #PGoodiesInfo {
	float: left;
	width: 793px;
	margin-left: 5px;
	margin-bottom: 5px;
}
* html .PGoodies {
	float:left;
	width: 350px;
	height: 216px;
	color: #272727;
	font-size: 15px;
	letter-spacing:1px;
	line-height: 20px;
	font-weight: bold;
	background-repeat:no-repeat;
	background-position:center top;
	margin-top: 15px;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 11px;
}

* html .PGoodiesContent {
	left: 0px;
	top: 57px;
	width: 370px;
	height: 146px;
	background-image: url(pastgoodcontent.jpg);
	background-repeat: no-repeat;
}
* html .PGoodiesTitle {
	width: 370px;
	height: 70px;
	background-image: url(PGoodiesTop.jpg);
	background-repeat: no-repeat;
}
* html .PGoodiesPic {
	float:right;
	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 15px;
	padding-left: 0px;
}
* html .PGoodiesStamp {
	float:right;
	padding-right: 25px;
	padding-bottom: 15px;
	padding-left: 0px;
	position: relative;
	bottom: 35px;
	margin-top: -110px;
}
