@charset "utf-8";
/* CSS Document */
/*a:link{font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;color:#000;text-decoration: none;}
a:visited{font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;color:#000;text-decoration: none;}
a:hover{font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;color:#000;text-decoration: none;}
a:active{font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;color:#000;text-decoration: none;}*/

#siInfo {
	width: 820px;
	float: left;
	padding-left: 75px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#siLeft {
	float: left;
	height: auto;
	width: 500px;
	margin-left: 22px;
}
#siRight {
	width:240px;
	position: relative;
	top: 0px;
	margin-right: 22px;
	float: right;
}
#siMainPic {
	width:454px;
	height:253px;
	float: left;
	margin-top: 10px;
	border: 1px solid #808080;
	padding: 5px;
}
#Facebookarea {
	width:240px;
	margin-bottom: 10px;
	margin-top: 10px;
	position: relative;
	height: auto;
}
#FacebookareaTop {
	width:240px;
	height:54px;
	background-image: url(siOffer-Facebooktitle.jpg);
	background-repeat: no-repeat;
}
#FacebookareaContent {
	width:auto;
	height:auto;
	background-image: url(siOfferinner.jpg);
	background-repeat: repeat;
}
.SideBottom {
	width:240px;
	height:20px;
	background-image: url(siOfferbottom.jpg);
	background-repeat: no-repeat;
	clear: both;
}
#siTittle {
	background-image: url(si_04.png);
	background-repeat: repeat;
	float: left;
	height: 46px;
	width: 820px;
}

#siLtRo {
	background-image: url(si_01.png);
	background-repeat: no-repeat;
	float: left;
	height: 46px;
	width: 57px;
}
#siTeTi {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 20px;
	color: #000;
	background-image: url(si_02.png);
	background-repeat: repeat;
	float: left;
	height: 46px;
	line-height: 46px;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
}
#siTeTiRigh {
	background-image: url(si_03.png);
	background-repeat: no-repeat;
	float: left;
	height: 46px;
	width: 21px;
}
#siRigRo {
	background-image: url(si_05.png);
	float: right;
	height: 46px;
	width: 15px;
}
#siRigRo {
	background-image: url(si_05.png);
	float: right;
	height: 46px;
	width: 15px;
	background-repeat: no-repeat;
}
#siCen {
	background-image: url(si_06.jpg);
	background-repeat: repeat;
	width: 820px;
	float: left;
}
#siProject {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 16px;
	float: left;
	width: 763px;
	background-image: url(storeTittlebg.jpg);
	background-repeat: repeat;
	margin-left: 22px;
	padding-left: 15px;
	line-height: 32px;
	margin-bottom: 15px;
	color: #FFF;
}
#siBottom {
	background-image: url(si_07.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 9px;
	width: 820px;
}
#siOffer {
	width: 240px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
}
#siOfferTop {
	background-image: url(siOffer.jpg);
	height: 57px;
	width: 240px;
}
#siOfferContent {
	background-image: url(siOfferinner.jpg);
	background-repeat: repeat;
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #333;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
#siOfferBottom {
	background-image: url(siOfferbottom.jpg);
	background-repeat: no-repeat;
	height: 20px;
	width: 240px;
}
.siOfferDate {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #FF3900;
	margin-top: 10px;
	background-color: #FEFAE2;
}
.siOfferText {
	font-size: 12px;
	color: #333;
}
.siOfferLine {
	background-image: url(siOffer-R-line.jpg);
	height: 6px;
	width: 220px;
	margin-top: 8px;
	padding-bottom: 8px;
	background-repeat: no-repeat;
}
#siMap {
	width: 240px;
}
#siMapTop {
	background-image: url(siMap.jpg);
	height: 43px;
	width: 230px;
	background-repeat: no-repeat;
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	padding-left: 10px;
	padding-top: 5px;
	line-height: 30px;
}
#siMapCen {
	background-image: url(siOfferinner.jpg);
	background-repeat: repeat;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#siMapBottom {
	background-image: url(siMapBottom.jpg);
	height: 19px;
	width: 240px;
	background-repeat: no-repeat;
}
.siMapText {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #333;
	padding-top: 5px;
	letter-spacing: 0.1em;
}
.siMapText li {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	list-style-position: inside;
	list-style-image: url(siIcon.jpg);
	list-style-type: none;
	padding-left: 4px;
}
.siMapTittle {
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
	font-size: 14px;
	color: #333;
	background-image: url(Tags.jpg);
	height: 22px;
	width: 210px;
	line-height: 24px;
	padding-left: 20px;
	background-repeat: no-repeat;
	margin-left: -8px;
}
.MapBlue{
	font-family: "微軟正黑體", "Arial Black", Gadget, sans-serif;
	color: #00C;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.15em;
	margin-left: 5px;
}
.MapBlue a:link{color:#00C;text-decoration: underline;}
.MapBlue a:visited{color:#00C;text-decoration: underline;}
.MapBlue a:hover{color:#EC7600;text-decoration: none;}
.MapBlue a:active{color:#EC7600;text-decoration: none;}
#first {
	height: 30px;
	width: 30px;
	float: left;
	margin-top: 20px;
}
#next {
	float: left;
	height: 30px;
	width: 30px;
	margin-top: 10px;
}
.Ring {
	width: 17px;
	margin-top: 82px;
	margin-left: 5px;
	float: left;
}
.siTittleIntroduction {
	float: left;
	width: 495px;
	margin-top: 18px;
	background-image: url(siIntroduction.jpg);
	background-repeat: no-repeat;
	height: 30px;
}
#siLineRed {
	background-image: url(siLineGre.jpg);
	float: left;
	height: 11px;
	width: 500px;
	background-repeat: no-repeat;
	margin-top: 7px;
}
#siTiInner {
	font-size: 14px;
	color: #333;
	float: left;
	width: 495px;
	font-family: "微軟正黑體","Arial Black", Gadget, sans-serif;
}
.siPGoodies {
	width: 776px;
	float: left;
	margin-left: 22px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-image: url(GoodiesOffer.jpg);
	background-repeat: no-repeat;
	height: 25px;
}
#PGoodiesInfo {
	float: left;
	width: 802px;
	margin-bottom: 20px;
	padding-left: 17px;
}
.PGoodies {
	float:left;
	width: 350px;
	height: 216px;
	color: #272727;
	font-size: 15px;
	letter-spacing:1px;
	line-height: 20px;
	font-weight: bold;
	background-repeat:no-repeat;
	background-position:center top;
	margin-top: 15px;
	padding-top: 0px;
	padding-bottom: 23px;
	padding-right: 20px;
	padding-left: 25px;
}

.PGoodiesTitle {
	width: 370px;
	height: 70px;
	background-image: url(PGoodiesTop.jpg);
	background-repeat: no-repeat;
}
.PGoodiesMoney {
	float:left;
	width: 320px;
	overflow: hidden;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	height: 60px;
	line-height: 18px;
	color: #666;
	font-size: 14px;
}
.PGoodiesMoney  a:link{color:#666;text-decoration: none;}
.PGoodiesMoney  a:visited{color:#666;text-decoration: none;}
.PGoodiesMoney  a:hover{color:#666;text-decoration: underline;}
.PGoodiesMoney  a:active{color:#666;text-decoration: none;}

.PGoodiesDate {
	font-size: 15px;
	color: #FFF;
	line-height: 18px;
	font-weight:lighter;
	width: 97px;
	background-image: url(PGoodiesDate.jpg);
	background-repeat: no-repeat;
	padding-left: 3px;
}
.PGoodiesContent {
	left: 0px;
	top: 57px;
	width: 370px;
	height: 146px;
	background-image: url(pastgoodcontent.jpg);
	background-repeat: no-repeat;
}
.PGoodiesContentTable {
	float:left;
	padding-left:6px;
	width: 95px;
	margin-left: 0px;
}
.PGoodiesPeople {
	background-image: url(PGoodiespeople.png);
	background-repeat:no-repeat;
	color:#000;
	font-size:19px;
	text-align: center;
	font-weight: bold;
	line-height: 10px;
	text-indent: 7px;
	_line-height:20px;
	_text-indent: 0px;
}
.PGoodiesPic {
	float:right;
	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 15px;
	padding-left: 0px;
}
.PGoodiesPricePeopleBuy{
	font-size: 12px;
	color: #333;
	line-height: 22px;
	_line-height: 10px;
	letter-spacing: 2px;
	font-weight: lighter;
}
.PGoodiesPrice {
	background-image: url(PGoodiesprice.png);
	text-align: center;
	width: 80px;
	height: 26px;
	background-repeat: no-repeat;
	font-size: 15px;
	_font-size: 13px;
	font-weight: bold;
	color: #F00;
	text-indent: 36px;
	font-family: Arial, Helvetica, sans-serif, "Arial Unicode MS";
	padding-top: 3px;
	line-height: 28px;
}
.Pinfo{
	font-size: 12px;
	align: center;
	background-image: url(PGoodiesoriginalprice.png);
	width: 80px;
	height: 23px;
	background-repeat: repeat-y;
	text-indent: 38px;
	line-height: 25px;
	font-family: Arial, Helvetica, sans-serif, "Arial Unicode MS";
	font-weight: lighter;
	color: #000;
	
}
.PGoodiesStamp {
	float:right;
	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 15px;
	padding-left: 0px;
	position: relative;
	bottom: 145px;
}
.PGoodiesSaving {
	background-image: url(PGoodiesGpsaving.png);
	text-align: center;
	background-repeat: no-repeat;
	width: 80px;
	height: 22px;
	font-size: 11px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif, "Arial Unicode MS";
	font-weight: lighter;
	text-indent: 27px;
	line-height: 20px;
}
.RingBTN {
	background-image: url(Ring02.jpg);
	height: 20px;
	width: 17px;
	display: block;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.RingBTN:hover {
	background-image: url(Ring02.jpg);
	height: 20px;
	width: 17px;
	display: block;
	background-repeat: no-repeat;
	background-position: 0px -19px;
}
.siPoto {
	height: 254px;
	width: 454px;
}
