﻿@using LunchKingSite.DataOrm
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@model List<ThemeCurationMain>
@{
    ViewBag.Title = "策展列表頁設定";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}
@section SSC{
<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:300,400,700">
<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Muli:300,400">
<link type="text/css" rel="stylesheet" href="//www.colorname.xyz/style.css">
<link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<script type="text/javascript">
    function getListBySearch() {
        var is3Month = $('#cbo3Month').prop("checked");
        var keyword = $('#keyword').val();
        var erromsg = $('.errMsg');

        var url = '@Url.Action("GetThemeCurationMainList", "ThemeCuration")';
        $("#divThemeList").load(url, { is3Month: is3Month, keyword: keyword });
    }


    //設定顯示WEB或M版
    function SetThemeActive(item, type) {
        var isActive = $(item).is(':checked');

        var themeId = $(item).parent().parent().attr('themeId');
        if (themeId != "" && themeId != 'undefined' && themeId > 0) {
            $.ajax({
                type: 'POST',
                url: 'SetThemeActive',
                data: '{"themeId": "' + themeId + '","isActive": "' + isActive + '","type": "' + type + '"}',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.IsSuccess) {
                    }
                }
            });
        }
    }
</script>
}

<div class="inner-container">
    <div class="top_func">        
        <span class="errMsg">錯誤</span>
        <div class="title title_block">@ViewBag.Title</div>
        <div class="title_button title_block">
            <a class="btn btn-primary btn-md" href="ThemeCurationGroup?mainId=0">＋新增</a>
        </div>
        <div id="search_right">
            <div style="float:left;margin-right:15px;line-height:34px;"><input id="cbo3Month" type="checkbox" checked="checked" onclick="getListBySearch()" />只顯示近三個月</div>
            <div class="input-group">
                <input type="text" class="form-control" id="keyword" />
                <span class="input-group-addon" onclick="getListBySearch()">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>
    <div id="divThemeList" class="theme-list">
        @{
            Html.RenderAction("GetThemeCurationMainList", new { is3Month = true, keyword = "" });
        }
    </div>
    <div style="clear:both"></div>
    <span style="color:#ff0000">• 越新建立的策展活動在越上方</span>
</div>



<style>    
    /* headings */
    .inner-container {
        width: 1490px;
        font-family: Microsoft JhengHei;
        padding: 30px;
    }
    .top_func{
        padding: 5px;
        line-height: 34px;
    }
    .title_block{
        display: inline-block;
        margin-right: 30px;
        height: 34px;
    }
    .title{
        color: lightseagreen;
        font-size: 1.2em;
    }
    .title_button{
        position: relative;
        top: -3px;
    }
    #search_right{
        float: right;
    }

    /*table*/
    .theme-list{
        padding: 15px 0;
        word-wrap: break-word;
        word-break: break-all;
    }
    .tableizer-table {
    }
    .tableizer-firstrow > th {
        padding: 10px;
        background: #e9e9e9;
        text-align: center;
    }
    .tableizer-firstrow > th:nth-child(1) {
        width: 5%;
    }
    .tableizer-firstrow > th:nth-child(2) {
        width: 28%;
    }
    .tableizer-firstrow > th:nth-child(3), .tableizer-firstrow > th:nth-child(4) {
        width: 12%;
    }
    .tableizer-firstrow > th:nth-child(5) {
        width: 15%;
    }
    .tableizer-firstrow > th:nth-child(6), .tableizer-firstrow > th:nth-child(7) {
        width: 4.5%;
    }
    .tableizer-firstrow > th:nth-child(8), .tableizer-firstrow > th:nth-child(9) {
        width: 5%;
    }
    .tableizer-firstrow > th:nth-child(10) {
        width: 5%;
    }
    .tableizer-table > tbody > tr > td {
        font-size: 14px;
        /*width: 170px;*/
        padding: 10px;
        background: #f8f8f8;
       border-bottom: 1px solid #ddd;
    }
    .mainImage {
        width:150px;
    }
    .form-control {
        font-size: small;
    }
    .errMsg, .themeErrMsg {
        display: none;
        font-size: small;
        color: red;
    }
    .input-group-addon:hover {
        cursor: pointer;
    }
</style>

