﻿@using LunchKingSite.DataOrm
@using LunchKingSite.BizLogic.Model.API
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@{
    ViewBag.Title = "策展活動內頁設定";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
    int mainId = ViewBag.MainId;
    List<ThemeCurationGroup> groups = ViewBag.Groups;
    Dictionary<int, List<KeyValuePair<int, ApiEventPromo>>> groupCurationDic = ViewBag.GroupCurationDic;
    ThemeCurationMain theme = ViewBag.Main;
    var config = ProviderFactory.Instance().GetConfig();
}
@section SSC{
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:300,400,700">
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Muli:300,400">
    <link type="text/css" rel="stylesheet" href="//www.colorname.xyz/style.css">
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/Tools/js/css/jquery-ui-1.10.2.css" />
    <link type="text/css" rel="stylesheet" href="~/Tools/js/css/jquery-ui-timepicker-addon.css" />
    
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-1.9.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui-css-styler.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui-timepicker-addon-1.2.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui-sliderAccess.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/ckeditor/adapters/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.maxlength-min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //Tab-1 策展活動內頁設定
            //預設ckeditor
            $('#webRuleContent').ckeditor();
            $('#mobileRuleContent').ckeditor();

            //預設datetimepicker
            $('.editThemeStartTime').each(function () {
                $(this).datetimepicker(opt);
            });
            $('.editThemeEndTime').each(function () {
                $(this).datetimepicker(opt);
            });

            //檢查字數
            $('.editThemeName').maxlength({
                maxCharacters: 12,
                slider: true
            });

            $('.editFbShareTitle').maxlength({
                maxCharacters: 15,
                slider: true
            });

            $('.groupName').maxlength({
                maxCharacters: 7,
                slider: true
            });

            ChangeGroupEditMode($("#topGroupTable"), true);
            ChangeThemeEditMode(true);


            //Tab-2 策展群組設定

            if (@mainId==0){
                $('#divCurationGroup').html("<font color='red'>*請先儲存策展活動內頁設定</font>");
            }

            //群組sortable
            $('#main .groups').sortable({
                placeholder: "ui-state-highlight",
                cursor: "move",
                update: function(event, ui) {
                    SetGroupSeq(this);
                    $(ui.item).parent().find('.groupSeq').each(function (x) {
                        if (x > 0) { //跳過第0筆 (group add templeate)
                            $(this).html(x);
                        }
                    });
                }
            });
            //策展列表sortable
            $('.curationItem').each(function() {
                $(this).sortable(
                {                                        
                    cursor: "move",
                    placeholder: "ui-state-highlight",
                    update: function(event, ui) {
                        SetCurationSeq(this);
                    }
                });
            });

            $('.new_group').validate({
                rules: {
                }
            });

            $('.editGroupStartTime').each(function () {
                if ($(this).parent().parent().attr('class') != "group_add") {
                    $(this).datetimepicker(opt);
                }
            });
            $('.editGroupEndTime').each(function () {
                if ($(this).parent().parent().attr('class') != "group_add") {
                    $(this).datetimepicker(opt);
                }
            });
        });

        function ChangeThemeEditMode(isEdit) {
            if (isEdit) {
                $('.editmode').show();
                $('.savemode').hide();
            } else {
                $('.editmode').hide();
                $('.savemode').show();
            }
        }

        function deleteCol(id) {
            $('#' + id).hide();
        }

        //編輯主題
        function EditTheme() {
            window.location.replace("ThemeCurationGroup?mainId=" + @mainId);
        }

        //儲存編輯主題
        function SaveEditTheme(item) {

            var isFillOut = true;
            var themeItem = $(item).parent().parent().parent();
            var themeId = @mainId;
            var themeName = $(themeItem).find('.editThemeName').val().trim();
            var startDate = $(themeItem).find('.editThemeStartTime').val();
            var endTime = $(themeItem).find('.editThemeEndTime').val();
            var fbShareTitle = $(themeItem).find('.editFbShareTitle').val().trim();
            var redirectUrl = $(themeItem).find('.editRedirectUrl').val().trim();

            var webRuleContent= $('#webRuleContent').val().trim();
            var mobileRuleContent= $('#mobileRuleContent').val().trim();
            var webCssStyle= $('#webCssStyle').val().trim();
            var mobileCssStyle= $('#mobileCssStyle').val().trim();
            var erromsg = $(themeItem).find('.errMsg');

            //## 宣告一個FormData
            var data = new FormData();

            //FormData塞入變數
            data.append("themeId", themeId);
            data.append("themeName", themeName);
            data.append("startDate", startDate);
            data.append("endTime", endTime);
            data.append("fbShareTitle", fbShareTitle);
            data.append("webRuleContent", webRuleContent);
            data.append("mobileRuleContent", mobileRuleContent);
            data.append("webCssStyle", webCssStyle);
            data.append("mobileCssStyle", mobileCssStyle);
            data.append("redirectUrl", redirectUrl);

            if(!Boolean(themeName) || !Boolean(startDate) || !Boolean(endTime) || !Boolean(fbShareTitle) || !Boolean(webRuleContent) || !Boolean(mobileRuleContent) || !Boolean(webCssStyle) || !Boolean(mobileCssStyle)){
                isFillOut = false; //任一欄位未填寫
            }

            //將檔案append FormData
            $(".imgUpload").each(function() {
                var isDel = $(this).next().find('a').is(":visible");
                var temp = $(this).next().find('a').html();
                data.append(this.name, this.files[0]);
                data.append(this.name, isDel);

                //!Boolean(this.files[0]):沒上檔案，temp =='':空的or已刪除
                if(!Boolean(this.files[0]) && temp ==''){
                    isFillOut = false; //任一欄位未上圖
                }
            });

            $(erromsg).hide();
            $.ajax({
                type: 'POST',
                url: 'SaveEditTheme',
                data: data,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.IsSuccess) {
                        if (themeId > 0){
                            //textbox
                            $(themeItem).find('span.themeTitle').html(getShowString(themeName, "string"));
                            $(themeItem).find('span.startTime').html(getShowString(startDate, "string"));
                            $(themeItem).find('span.endTime').html(getShowString(endTime, "string"));
                            $(themeItem).find('span.fbShareTitle').html(getShowString(fbShareTitle, "string"));
                            (Boolean(webCssStyle)) ? $(themeItem).find('span.webCssStyle').text(getShowString(webCssStyle, "string")) : $(themeItem).find('span.webCssStyle').html(getShowString(webCssStyle, "string"));
                            (Boolean(mobileCssStyle)) ? $(themeItem).find('span.mobileCssStyle').text(getShowString(mobileCssStyle, "string")) :$(themeItem).find('span.mobileCssStyle').html(getShowString(mobileCssStyle, "string"));

                            //picture
                            $(themeItem).find('span.sMainImage').html(getShowString(result.Theme.MainImage, "WEB中央圖", "picture"));
                            $(themeItem).find('span.sMainBackgroundImage').html(getShowString(result.Theme.MainBackgroundImage, "WEB兩側底圖", "picture"));
                            $(themeItem).find('span.sMainSpacerImage').html(getShowString(result.Theme.MainSpacerImage, "WEB上方底圖", "picture"));
                            $(themeItem).find('span.sWebCategoryImage').html(getShowString(result.Theme.WebCategoryImage, "WEB分類底圖", "picture"));
                            $(themeItem).find('span.sWebRuleBanner').html(getShowString(result.Theme.WebRuleBanner, "WEB詳情頁Banner", "picture"));
                            $(themeItem).find('span.sMobileMainImage').html(getShowString(result.Theme.MobileMainImage, "M版主圖", "picture"));
                            $(themeItem).find('span.sMobileCategoryImage').html(getShowString(result.Theme.MobileCategoryImage, "M版分類底圖", "picture"));
                            $(themeItem).find('span.sMobileRuleBanner').html(getShowString(result.Theme.MobileRuleBanner, "M版詳情頁Banner", "picture"));
                            $(themeItem).find('span.sMobileCover').html(getShowString(result.Theme.MobileCover, "M版蓋版圖", "picture"));
                            $(themeItem).find('span.sAppIndexImage').html(getShowString(result.Theme.AppIndexImage, "APP活動入口Banner", "picture"));
                            $(themeItem).find('span.sMobileSmallIcon').html(getShowString(result.Theme.ThemeOtherPic, "右側活動ICON圖", "picture"));
                            $(themeItem).find('span.sFbShareIamge').html(getShowString(result.Theme.FbShareIamge, "FB分享圖", "picture"));
                            $(themeItem).find('span.sRedirectUrl').text(result.Theme.redirectUrl);

                            if (isFillOut) {
                                alert('儲存成功');
                            } else {
                                alert('您有資料未填寫');
                            }
                            ChangeThemeEditMode(false);
                        } else {
                            if (isFillOut) {
                                alert('新增完成');
                            } else {
                                alert('新增完成，但您有資料未填寫');
                            }
                            window.location.replace("ThemeCurationGroup?mainId=" + result.MainId);
                        }
                    } else {
                        $(erromsg).html('*儲存失敗');
                        $(erromsg).show();
                    }
                },
                error: function () {
                    $(erromsg).html('*儲存失敗');
                    $(erromsg).show();
                }
            });
        }

        //取得顯示文字
        function getShowString(col,name,type){
            if (Boolean(col)) {
                if (type == "picture"){
                    var picpath = "/media/" + col.replace(",","/");
                    return "<a target='_blank' href='" + picpath + "'><span class='glyphicon glyphicon-picture'>" +  name + "</a>";
                }else{
                    return col;
                }
            }else{
                if (type == "picture"){
                    return "<font color='red'>*此欄位沒上傳圖檔</font>";
                }else{
                    return "<font color='red'>*此欄位沒填寫</font>";
                }
            }
        }

        //觸發新增群組
        function AddNewGroup(element) {
            if (@mainId ==0) {
                alert('請先新增策展活動內頁設定');
                return;
            }
            $('.addGroup').each(function () {
                $(this).hide();
            });

            var newGroup = $('.group_add').clone();
            $(newGroup).attr('class', 'group newgroup').show().appendTo('.groups');
            //datepicker
            $(newGroup).find('.editGroupStartTime').datetimepicker(opt);
            $(newGroup).find('.editGroupEndTime').datetimepicker(opt);

            $(newGroup).addClass('editGroupMode');
            $(newGroup).removeClass('normalGroupMode');
            $(newGroup).find('.groupName').maxlength({
                maxCharacters: 7,
                slider: true
            });
        }

        //確認新增群組
        function CommitAddGroup(item) {
            var itemGroup = $(item).parent().parent();
            var newGroupItem = $('.newgroup');
            var errMsg = $(newGroupItem).find('.errMsg');
            errMsg.hide();

            var mainId = $('#main').attr('mainid');
            var groupName = $(newGroupItem).find('.editGroupName').val();
            var isActive = $(newGroupItem).find('.isActive').is(':checked');
            var startTime = $(newGroupItem).find('.editGroupStartTime').val();
            var endTime = $(newGroupItem).find('.editGroupEndTime').val();

            if (groupName == "") {
                errMsg.html('*請輸入群組名稱');
                errMsg.show();
                return;
            }
            if (startTime == '' || endTime == '') {
                errMsg.html('*請確認日期');
                errMsg.show();
                return;
            }

            $.ajax({
                type: 'POST',
                url: 'SaveNewGroup',
                data: '{"mainId": "' + mainId + '","groupName": "' + groupName + '","isActive": "' + isActive
                    + '","startTime": "' + startTime + '","endTime": "' + endTime + '"}',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function(result) {
                    if (result.IsSuccess) {
                        var group = result.Group;

                        $(newGroupItem).find('.badge').remove();
                        $(newGroupItem).find('.editGroupName').hide(); //可編輯欄位
                        $(newGroupItem).find('.editGroupStartTime').hide(); //可編輯欄位
                        $(newGroupItem).find('.editGroupEndTime').hide(); //可編輯欄位
                        $(newGroupItem).find('.commitAddGroup').remove();
                        $(newGroupItem).find('.cancelAddGroup').remove();

                        $(newGroupItem).attr('groupid', group.Id);
                        $(newGroupItem).find('.groupSeq').html(group.Seq);
                        $(newGroupItem).find('.groupName').html(groupName);
                        $(newGroupItem).find('.curationItem').attr('groupId', group.Id);
                        $(newGroupItem).find('.addCuration').show();
                        $(newGroupItem).find('.startTime').html(group.StartTime);
                        $(newGroupItem).find('.endTime').html(group.EndTime);

                        $(newGroupItem).find('.delGroup').attr('onclick', 'DeleteGroup(this)');
                        $(newGroupItem).find('.addGroupBtn').remove();

                        $('.addGroup').each(function () {
                            $(this).show();
                        });
                        $(newGroupItem).find('.delGroup').show();
                        $(newGroupItem).find('.editGroup').show();
                        $(newGroupItem).removeClass('newgroup');
                        $(newGroupItem).find('.groupOffline').show();
                    } else {
                        errMsg.html('*新增失敗');
                        errMsg.show();
                    }
                    $(itemGroup).addClass('normalGroupMode');
                    $(itemGroup).removeClass('editGroupMode');
                }
            });
        }

        //取消新增群組
        function CancelAddGroup(item) {
            $('.addGroup').each(function () {
                $(this).show();
            });
            var groupItem = $(item).parent().parent();
            $(groupItem).remove();
        }

        //刪除群組
        function DeleteGroup(item) {
            var groupItem = $(item).parent().parent();
            var groupId = $(groupItem).attr('groupid');
            if (groupId != "" && groupId != 'undefined' && groupId > 0) {
                var answer = confirm("注意!!!!! 刪除群組將會連帶刪除已設定好的策展，刪除後無法復原!\n\r請問是否確定刪除群組?");
                if (answer) {
                    $.ajax({
                        type: 'POST',
                        url: 'DeleteGroupAndCuration',
                        data: '{"groupId": "' + groupId + '"}',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function(result) {
                            $(groupItem).remove();
                        },
                        error: function(result) {
                        }
                    });
                }
            }

        }

        //編輯群組
        function EditGroup(item) {
            var groupItem = $(item).parent().parent();
            ChangeGroupEditMode(groupItem, true);
        }

        //儲存編輯群組
        function SaveEditGroup(item) {
            var groupItem = $(item).parent().parent();
            var groupId = $(groupItem).attr('groupid');
            var groupName = $(groupItem).find('.editGroupName').val();
            var isActive = $(groupItem).find('.isActive').is(':checked');
            var startTime = $(groupItem).find('.editGroupStartTime').val();
            var endTime = $(groupItem).find('.editGroupEndTime').val();

            var erromsg = $(groupItem).find('.errMsg');
            $(erromsg).hide();
            if (groupName == "") {
                erromsg.html('*請輸入群組名稱');
                erromsg.show();
                erromsg.focus();
                return;
            }
            if (startTime == '' || endTime == '' || endTime < startTime) {
                erromsg.html('*請確認日期');
                erromsg.show();
                erromsg.focus();
                return;
            }

            $.ajax({
                type: 'POST',
                url: 'SaveEditGroup',
                data: '{"groupId": "' + groupId + '","groupName": "' + groupName + '","isActive": "' + isActive
                    + '","startTime": "' + startTime + '","endTime": "' + endTime + '" }',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function(result) {
                    if (result.IsSuccess) {
                        $(groupItem).find('span.groupName').html(groupName);
                        $(groupItem).find('span.startTime').html(startTime);
                        $(groupItem).find('span.endTime').html(endTime);
                    } else {
                        $(erromsg).html('*儲存失敗');
                        $(erromsg).show();
                    }
                    $(groupItem).addClass('normalGroupMode');
                    $(groupItem).removeClass('editGroupMode');
                },
                error: function() {
                    $(erromsg).html('*儲存失敗');
                    $(erromsg).show();
                }
            });
            ChangeGroupEditMode(groupItem, false);
        }

        //儲存編輯置頂群組
        function SaveEditTopGroup(item) {
            var mainId = $('#topGroupTable').attr('mainid');
            var groupItem = $(item).parent().parent();
            var groupId = $(groupItem).attr('groupid');
            var groupName = $(groupItem).find('.editGroupName').val();
            var isActive = $(groupItem).find('.isActive').is(':checked');
            var startTime = $(groupItem).find('.editGroupStartTime').val();
            var endTime = $(groupItem).find('.editGroupEndTime').val();

            var erromsg = $(groupItem).find('.errMsg');
            $(erromsg).hide();
            if (groupName == "") {
                erromsg.html('*請輸入群組名稱');
                erromsg.show();
                erromsg.focus();
                return;
            }
            if (startTime == '' || endTime == '' || endTime < startTime) {
                erromsg.html('*請確認日期');
                erromsg.show();
                erromsg.focus();
                return;
            }

            $.ajax({
                type: 'POST',
                url: 'SaveEditTopGroup',
                data: '{"mainId": "' + mainId + '","groupId": "' + groupId + '","groupName": "' + groupName + '","isActive": "' + isActive
                    + '","startTime": "' + startTime + '","endTime": "' + endTime + '" }',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function(result) {
                    if (result.IsSuccess) {
                        $(groupItem).find('span.groupName').html(groupName);
                        $(groupItem).find('span.startTime').html(startTime);
                        $(groupItem).find('span.endTime').html(endTime);
                        if (groupId == 0) $(groupItem).attr('groupid',result.Group.Id);
                    } else {
                        $(erromsg).html('*儲存失敗');
                        $(erromsg).show();
                    }
                    $(groupItem).addClass('normalGroupMode');
                    $(groupItem).removeClass('editGroupMode');
                },
                error: function() {
                    $(erromsg).html('*儲存失敗');
                    $(erromsg).show();
                }
            });
            ChangeGroupEditMode(groupItem, false);
        }

        //取消編輯群組
        function CancelEditGroup(item) {
            var groupItem = $(item).parent().parent();
            var groupName = $(groupItem).find('span.groupName').html();
            var startTime = $(groupItem).find('span.startTime').html();
            var endTime = $(groupItem).find('span.endTime').html();

            $(groupItem).find('.editGroupName').val(groupName);
            $(groupItem).find('.editGroupStartTime').val(startTime);
            $(groupItem).find('.editGroupEndTime').val(endTime);
            $(groupItem).find('.errMsg').hide();

            ChangeGroupEditMode(groupItem, false);
        }

        //切換群組編輯模式
        function ChangeGroupEditMode(groupItem, isEdit) {
            //先hide 再show
            if (isEdit) {
                $(groupItem).find('span.groupName').hide();
                $(groupItem).find('span.startTime').hide();
                $(groupItem).find('span.endTime').hide();
                $(groupItem).find('.curationItem').parent().block({ message: null });
                $(groupItem).find('.delGroup').hide();
                $(groupItem).find('.editGroup').hide();

                $(groupItem).find('.editGroupName').show(); //可編輯欄位
                $(groupItem).find('.editGroupStartTime').show(); //可編輯欄位
                $(groupItem).find('.editGroupEndTime').show(); //可編輯欄位
                $(groupItem).find('.saveEditGroup').show();
                $(groupItem).find('.cancelEditGroup').show();

                $(groupItem).removeClass('normalGroupMode');
                $(groupItem).addClass('editGroupMode');

            } else {
                $(groupItem).find('.editGroupName').hide(); //可編輯欄位
                $(groupItem).find('.editGroupStartTime').hide(); //可編輯欄位
                $(groupItem).find('.editGroupEndTime').hide(); //可編輯欄位
                $(groupItem).find('.saveEditGroup').hide();
                $(groupItem).find('.cancelEditGroup').hide();

                $(groupItem).find('span.groupName').show();
                $(groupItem).find('span.startTime').show();
                $(groupItem).find('span.endTime').show();
                //$(groupItem).find('.addCuration').show();
                $(groupItem).find('.curationItem').parent().unblock(); //.show();
                $(groupItem).find('.delGroup').show();
                $(groupItem).find('.editGroup').show();

                $(groupItem).addClass('normalGroupMode');
                $(groupItem).removeClass('editGroupMode');
            }
        }

        //設定策展群組順序
        function SetGroupSeq(groups) {
            var groupIds = new Array();
            $(groups).find('.group').each(function() {
                var groupId = $(this).attr('groupid');
                if (groupId != '') {
                    groupIds.push(groupId);
                }
            });
            if (groupIds.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: 'SetGroupSeq',
                    data: '{"groupIds": "' + groupIds + '"}',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        if (!result.IsSuccess) {
                        }
                    },
                    error: function(result) {
                    }
                });
            }
        }

        //設定啟用或關閉群組
        function SetGroupActive(item) {
            var isActive = $(item).is(':checked');
            var groupId = $(item).parent().parent().attr('groupid');
            if (groupId != "" && groupId != 'undefined' && groupId > 0) {
                $.ajax({
                    type: 'POST',
                    url: 'SetGroupActive',
                    data: '{"groupId": "' + groupId + '","isActive": "' + isActive + '"}',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        if (result.IsSuccess) {
                        }
                    }
                });
            }
        }

        function alertOffline(item){
            var isActive = $(item).is(':checked');

            if(!isActive){
                if(!confirm("確定不啟用此群組嗎?")){
                    return false;
                }
            }
            return true;
        }

        //設定策展列表順序
        function SetCurationSeq(items) {
            var itemIds = new Array();
            $(items).find('li').each(function() {
                var itemId = $(this).attr('itemid');
                if (itemId != '') {
                    itemIds.push(itemId);
                }
            });
            var errMsg = $(items).parent().find('.errMsg');
            $(errMsg).hide();
            if (itemIds.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: 'SetCurationItemSeq',
                    data: '{"itemIds": "' + itemIds + '"}',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        if (!result.IsSuccess) {
                            $(errMsg).html('*' + result.Msg);
                            $(errMsg).show();
                        }
                    },
                    error: function(result) {
                    }
                });
            }
        }

        //觸發新增策展項目
        function AddCuration(item) {
            $(item).hide();
            var curationItem = $(item).parent().find('.curationItem');
            $(".li_element>#curation_add").clone().appendTo(curationItem);
        }

        //確認新增策展項目
        function CommitAddCuration(item) {
            var curationItem = $(item).parent().parent();
            var curationId = $(item).parent().find('#curationId').val();
            var groupId = $(item).parent().parent().parent().find('.curationItem').attr('groupid');
            var isGroupOffline = $(item).parent().parent().parent().find('.groupOffline').is(":visible");
            var errMsg = $(item).parent().parent().parent().find('.curationErrMsg');
            errMsg.hide();

            if (curationId != "") {
                var element = $(".li_element>#curation_new");
                $(element).find('span').html(curationId);
                $.ajax({
                    type: 'POST',
                    url: 'AddCuration',
                    data: '{"groupId": "' + groupId + '","curationId": "' + curationId + '","isGroupOffline": "' + isGroupOffline + '"}',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        if (result.IsSuccess) {
                            var itemId = result.CurationItemId;
                            var eventPromo = result.EventPromo;
                            var curationId = eventPromo.EventId;
                            var curationName = eventPromo.Title;
                            //複製元素append
                            var newElement = $(".li_element>#curation").clone();
                            $(newElement).attr('itemid', itemId);
                            $(newElement).find('span.curationId').html(' ' + curationId);
                            $(newElement).find('span.curationTitle').html(curationName);
                            $(newElement).removeAttr('id');
                            $(curationItem).append(newElement);
                            $(item).parent().parent().parent().find('.addCuration').show();
                            $(item).parent().remove(); //.hide();

                            $(curationItem).sortable(
                            {
                                cursor: "move",
                                placeholder: "ui-state-highlight",
                                update: function(event, ui) {
                                    SetCurationSeq(this);
                                }
                            });

                            if(!result.GroupOnline){
                                $(curationItem).parent().find('.groupOffline').html('<br />策展皆已下架,請行銷人員協助');
                                $(curationItem).parent().find('.groupOffline').show();
                            } else {
                                $(curationItem).parent().find('.groupOffline').hide();
                            }
                        } else {
                            errMsg.html('*' + result.Msg);
                            errMsg.show();
                        }
                    },
                    error: function() {
                        errMsg.html('*儲存失敗');
                        errMsg.show();
                    }
                });
            } else {
                errMsg.html("*請填入策展ID");
                errMsg.show();
            }
        }

        //取消新增策展項目
        function CancelAddCuration(item) {
            $(item).parent().parent().parent().find('.addCuration').show();
            $(item).parent().parent().parent().find('.curationErrMsg').hide();
            $(item).parent().remove();
        }

        //移除策展項目
        function RemoveCuartion(item) {
            var answer = confirm("確定移除?");
            if (answer) {
                var groupId = $(item).parent().parent().parent().parent().attr('groupid');
                var curationItemId = $(item).parent().attr('itemid');
                var count =$(item).parent().parent().find('li').size();
                $.ajax({
                    type: 'POST',
                    url: 'RemoveCuration',
                    data: '{"curationItemId": "' + curationItemId + '","groupId": "' + groupId + '"}',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        if (result.IsSuccess) {                            
                            if (count==1){
                                $(item).parent().parent().parent().find('.groupOffline').html('<br />請至少新增1則策展');
                                $(item).parent().parent().parent().find('.groupOffline').show();
                            }else{
                                if(!result.GroupOnline){
                                    $(item).parent().parent().parent().find('.groupOffline').html('<br />策展皆已下架,請行銷人員協助');
                                    $(item).parent().parent().parent().find('.groupOffline').show();
                                } else {
                                    $(item).parent().parent().parent().find('.groupOffline').hide();
                                }
                            }

                            $(item).parent().remove();
                        }
                    },
                    error: function(result) {
                        var qq = result.msg;
                    }
                });
            }
        }

        var opt = {
            //以下為日期選擇器部分
            dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
            dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
            monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            prevText: "上月",
            nextText: "次月",
            weekHeader: "週",
            showMonthAfterYear: true,
            showSecond: true,
            showButtonPanel: true,
            //showTime: false,
            dateFormat: "yy/mm/dd",
            //以下為時間選擇器部分
            timeOnlyTitle: "選擇時分秒",
            timeText: "時間",
            hourText: "時",
            minuteText: "分",
            secondText: "秒",
            millisecText: "毫秒",
            timezoneText: "時區",
            currentText: "現在時間",
            closeText: "確定",
            amNames: ["上午", "AM", "A"],
            pmNames: ["下午", "PM", "P"],
            timeFormat: "HH:mm:ss"
        };

        //Tab切換
        var detail = document.getElementById('curationDetail');
        var group = document.getElementById('curationGroup');
        function ClickTab(Index)
        {
            var content = document.getElementById('tabContent').getElementsByClassName('curation_content');
            var title = document.getElementById('tabTitle').getElementsByTagName('div');
            for (var i = 0; i < content.length; i++)
            {
                content[i].style.display='none';
                title[i].style.color = 'lightseagreen';
                title[i].style.background = '#fff';
            }
            content[Index].style.display='block';
            title[Index].style.color = '#fff';
            title[Index].style.background = 'lightseagreen';
        }

</script>
}

<div class="inner-container">
    <a href="/controlroom/ThemeCuration/ThemeCurationMainList"><button type="button" class="btn btn-default">回列表頁</button></a>
    <br />
    <br />
    <div id="tabTitle">
        <a href='#' onclick='ClickTab("0")'><div id="tabD" class="curation_tab" style="color: #fff; background: lightseagreen;">策展活動內頁設定</div></a>
        <a href='#' onclick='ClickTab("1")'><div id="tabG" class="curation_tab">策展群組設定</div></a>
    </div>
    <div class="clearfix"></div>
    <div id="tabContent">
        <div id="curationDetail" class="curation_content">
            <div class="form-group">
                <label class="col-sm-2 control-label form-right form-right">策展活動名稱</label>
                <div class="col-sm-10">
                    <input class="editmode editThemeName form-control" type="text" placeholder="請輸入主題名稱" value="@theme.Title">
                    <span class="savemode themeTitle"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label form-right">開始時間</label>
                <div class="col-sm-4">
                    @if (mainId == 0)
                    {
                        <input class="editmode required date editThemeStartTime form-control" type="text" placeholder="yyyy/mm/dd 00:00:00">
                    }
                    else
                    {
                        <input class="editmode required date editThemeStartTime form-control" type="text" placeholder="yyyy/mm/dd 00:00:00" value="@theme.StartDate.ToString("yyyy/MM/dd HH:mm:ss")">
                    }
                    <span class="savemode startTime"></span>
                </div>
                <label class="col-sm-2 control-label form-right">結束時間</label>
                <div class="col-sm-4">
                    @if (mainId == 0)
                    {
                        <input class="editmode editThemeEndTime form-control" type="text" placeholder="yyyy/mm/dd 23:59:59" value="@DateTime.Now.ToString("yyyy/MM/dd 23:59:59")">
                    }
                    else
                    {
                        <input class="editmode editThemeEndTime form-control" type="text" placeholder="yyyy/mm/dd 23:59:59" value="@theme.EndTime.ToString("yyyy/MM/dd HH:mm:ss")">
                    }
                    <span class="savemode endTime"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label form-right">狀態</label>
                <div class="col-sm-4">
                    <span class="text-danger">
                        @if (theme.StartDate <= DateTime.Now && theme.EndTime >= DateTime.Now)
                        {
                            @:上檔中
                    }
                        else
                        {
                            @:已過期
                    }
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label form-right">跳轉網址<br />(for APP測試)</label>
                <div class="col-sm-10">
                    <input class="form-control editRedirectUrl editmode" type="text" value="@theme.RedirectUrl">
                    <span class="sRedirectUrl savemode" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">寬 * 高 （標紅色者不限尺寸，請設計抓尺寸）</label>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">WEB中央圖（限960*<span style="color:red">600</span> jpg）</label>
                <div class="editmode">
                    <input class="imgUpload col-sm-4" name="fileWebMain" type="file" id="fileWebMain" />
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-picture"></span><a id="aMainImage" target="_blank" href="@ImageFacade.GetMediaPath(theme.MainImage, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.MainImage)) { <text> style="display:none" </text>       }>WEB中央圖.jpg</a>
                    </div>
                    <div class="col-sm-1"><a onclick="deleteCol('aMainImage')"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>                    
                </div>
                <span class="savemode sMainImage"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">WEB兩側底圖（限1920*<span style="color:red">600</span> jpg）</label>
                <div class="editmode">
                    <input class="imgUpload col-sm-4" name="fileWebBG" type="file" id="fileWebBG" />
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-picture"></span><a id="aMainBackgroundImage" target="_blank" href="@ImageFacade.GetMediaPath(theme.MainBackgroundImage, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.MainBackgroundImage)) { <text> style="display:none" </text>      }>WEB兩側底圖.jpg</a>
                    </div>
                    <div class="col-sm-1"><a onclick="deleteCol('aMainBackgroundImage')"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
                <span class="savemode sMainBackgroundImage"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">WEB上方底圖（限1920*<span style="color:red">150</span> jpg）</label>
                <div class="editmode">
                    <input class="imgUpload col-sm-4" name="fileWebSpacer" type="file" id="fileWebSpacer" />
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-picture"></span><a id="aMainSpacerImage" target="_blank" href="@ImageFacade.GetMediaPath(theme.MainSpacerImage, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.MainSpacerImage)) { <text> style="display:none" </text>      }>WEB上方底圖.jpg</a>
                    </div>
                    <div class="col-sm-1"><a onclick="deleteCol('aMainSpacerImage')"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
                <span class="savemode sMainSpacerImage"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">WEB分類底圖（限 <span style="color:red">400*100</span> jpg）</label>
                <div class="editmode">
                    <input class="imgUpload col-sm-4" name="fileWebCategory" type="file" id="fileWebCategory" />
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-picture"></span><a id="aWebCategory" target="_blank" href="@ImageFacade.GetMediaPath(theme.WebCategoryImage, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.WebCategoryImage)) { <text> style="display:none" </text>      }>WEB分類底圖.jpg</a>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="deleteCol('aWebCategory')"><span class="glyphicon glyphicon-trash"></span></a>                        
                    </div>
                </div>
                <span class="savemode sWebCategoryImage"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">WEB詳情頁Banner（限960*250 jpg）</label>
                <div class="editmode">
                    <input class="imgUpload col-sm-4" name="fileWebRuleBanner" type="file" id="fileWebRuleBanner" />
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-picture"></span><a id="aWebRuleBanner" target="_blank" href="@ImageFacade.GetMediaPath(theme.WebRuleBanner, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.WebRuleBanner)) { <text> style="display:none" </text>      }>WEB詳情頁Banner.jpg</a>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="deleteCol('aWebRuleBanner')"><span class="glyphicon glyphicon-trash"></span></a>                        
                    </div>
                </div>
                <span class="savemode sWebRuleBanner"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">M版主圖：（限640*<span style="color:red">450</span> jpg）</label>
                <div class="editmode">
                    <input class="imgUpload col-sm-4" name="fileMobileMain" type="file" id="fileMobileMain" />
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-picture"></span><a id="aMobileMainImage" target="_blank" href="@ImageFacade.GetMediaPath(theme.MobileMainImage, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.MobileMainImage)) { <text> style="display:none" </text>      }>M版主圖.jpg</a>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="deleteCol('aMobileMainImage')"><span class="glyphicon glyphicon-trash"></span></a>
                        
                    </div>
                </div>
                <span class="savemode sMobileMainImage"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">M版分類底圖（限 <span style="color:red">400*100</span> jpg）</label>
                <div class="editmode">
                    <input class="imgUpload col-sm-4" name="fileMobileCategory" type="file" id="fileMobileCategory" />
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-picture"></span><a id="aMobileCategoryImage" target="_blank" href="@ImageFacade.GetMediaPath(theme.MobileCategoryImage, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.MobileCategoryImage)) { <text> style="display:none" </text>      }>M版分類底圖.jpg</a>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="deleteCol('aMobileCategoryImage')"><span class="glyphicon glyphicon-trash"></span></a>
                        
                    </div>
                </div>
                <span class="savemode sMobileCategoryImage"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">M版詳情頁Banner（限640*<span style="color:red">240</span> jpg）</label>
                <div class="editmode">
                    <input class="imgUpload col-sm-4" name="fileMobileRuleBanner" type="file" id="fileMobileRuleBanner" />
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-picture"></span><a id="aMobileRuleBanner" target="_blank" href="@ImageFacade.GetMediaPath(theme.MobileRuleBanner, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.MobileRuleBanner)) { <text> style="display:none" </text>      }>M版詳情頁Banner.jpg</a>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="deleteCol('aMobileRuleBanner')"><span class="glyphicon glyphicon-trash"></span></a>
                        
                    </div>
                </div>
                <span class="savemode sMobileRuleBanner"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">APP活動入口Banner（限640*320 jpg）</label>
                <div class="editmode">
                    <input class="imgUpload col-sm-4" name="fileAppIndex" type="file" id="fileAppIndex" />
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-picture"></span><a id="aAppIndexImage" target="_blank" href="@ImageFacade.GetMediaPath(theme.AppIndexImage, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.AppIndexImage)) { <text> style="display:none" </text>      }>APP活動入口Banner.jpg</a>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="deleteCol('aAppIndexImage')"><span class="glyphicon glyphicon-trash"></span></a>
                        
                    </div>
                </div>
                <span class="savemode sAppIndexImage"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">右側活動ICON圖（限100*100 gif）</label>
                <div class="editmode">
                    <input class="imgUpload col-sm-4" name="fileMobileSmallIcon" type="file" id="fileMobileSmallIcon" />
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-picture"></span><a id="aMobileSmallIcon" target="_blank" href="@ImageFacade.GetMediaPath(theme.ThemeOtherPic, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.ThemeOtherPic)) { <text> style="display:none" </text>      }>右側活動ICON圖.gif</a>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="deleteCol('aMobileSmallIcon')"><span class="glyphicon glyphicon-trash"></span></a>
                        
                    </div>
                </div>
                <span class="savemode sMobileSmallIcon"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">FB分享圖（限1200*630 jpg）</label>
                <div class="editmode">
                    <input class="imgUpload col-sm-4" name="fileFBShare" type="file" id="fileFBShare" />
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-picture"></span><a id="aFbShareIamge" target="_blank" href="@ImageFacade.GetMediaPath(theme.FbShareIamge, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.FbShareIamge)) { <text> style="display:none" </text>      }>FB分享圖.jpg</a>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="deleteCol('aFbShareIamge')"><span class="glyphicon glyphicon-trash"></span></a>
                        
                    </div>
                </div>
                <span class="savemode sFbShareIamge"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">FB分享標題</label>
                <div class="col-sm-8">
                    <input class="editmode editFbShareTitle form-control" type="text" placeholder="請輸入FB分享標題" value="@theme.FbShareTitle">
                    <span class="savemode fbShareTitle"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">WEB詳情頁－編輯器</label>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea id="webRuleContent">@theme.WebRuleContent</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">M版詳情頁－編輯器</label>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea id="mobileRuleContent">@theme.MobileRuleContent</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">Web_CSS樣式</label>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea id="webCssStyle" rows="10" cols="20" style="width:650px" class="editmode">
                        @if (theme.CssStyle != null && theme.CssStyle.Split("@").Length == 2)
                        {
                            @theme.CssStyle.Split("@")[0]
                        }
                    </textarea>
                    <span class="savemode webCssStyle"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">M版_CSS樣式</label>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea id="mobileCssStyle" rows="10" cols="20" style="width:650px" class="editmode">
                        @if (theme.CssStyle != null && theme.CssStyle.Split("@").Length == 2)
                        {
                            @theme.CssStyle.Split("@")[1]
                        }
                    </textarea>
                    <span class="savemode mobileCssStyle"></span>
                </div>
            </div>
            <div class="btn-bottom">
                <button type="button" class="btn btn-primary savemode" onclick="EditTheme(this)">編輯</button>
                <button type="button" class="btn btn-success editmode" onclick="SaveEditTheme(this)">
                    @if (mainId > 0)
                    {
                        @:儲存
                    }
                    else
                    {
                        @:新增
                    }
                </button>
            </div>            
        </div>
        <div id="curationGroup" class="curation_content" style="display: none;">
            <div id="divCurationGroup">
                <div class="group_set">
                    <div class="title title_block">
                        置頂策展設定
                    </div>
                    <div class="title_block title_sub">
                        ※在【策展列表】新增策展ID前請先將其餘資料先儲存才能新增
                    </div>
                    <table id="topGroupTable" mainid="@mainId" class="tableizer-table">
                        <thead>
                            <tr class="tableizer-firstrow">
                                <th style="width: 80px;">順序</th>
                                <th style="width: 150px;">策展群組名稱<br />（限7字)</th>
                                <th style="width: 300px">策展列表</th>
                                <th style="width: 60px;">啟用</th>
                                <th style="width: 180px;">開始時間</th>
                                <th style="width: 180px;">結束時間</th>
                                <th style="width: 60px;">編輯</th>
                            </tr>
                        </thead>
                        @{
                            var isTopOn = (groups == null) ? false : groups.Where(x => x.IsTopGroup).Any();
                            var topGroup = (isTopOn) ? groups.Where(x => x.IsTopGroup).First() : new ThemeCurationGroup();
                            var topGroupCurationList = (isTopOn) ? groupCurationDic[topGroup.Id] : null;
                            var isTopCurationListOnline = false;
                            <tr class="group editGroupMode" groupId="@topGroup.Id" bgcolor="#FF0000">
                                <td style="text-align: center;"><span class="groupSeq">1</span></td>
                                <td>
                                    <input class="required groupName editGroupName form-control" type="text" value="@topGroup.GroupName"
                                           placeholder="請輸入群組名稱" style="display: none">
                                    <span class="groupName">@topGroup.GroupName</span>
                                    <span class="errMsg">錯誤</span>
                                </td>
                                <td>
                                    <ul class="curationItem" groupId="@topGroup.Id">
                                        @if (isTopOn)
                                        {
                                            foreach (var topCuration in topGroupCurationList)
                                            {
                                                var itemId = topCuration.Key;
                                                var eventPromo = topCuration.Value;
                                                <li itemid="@itemId">
                                                    <span class="badge curationId">@eventPromo.EventId</span> <span class="curationTitle">@eventPromo.Title</span>
                                                    <div id="removeCuartion" style="float: right; text-align: right" onclick="RemoveCuartion(this)">
                                                        <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="right" title="移除"></span>
                                                    </div>
                                                </li>
                                                if (DateTime.Now < topCuration.Value.EndDate && topCuration.Value.Status)
                                                {
                                                    isTopCurationListOnline = true;
                                                }
                                            }
                                        }
                                    </ul>
                                    <span class="addCuration glyphicon glyphicon-plus mock-cursor" onclick="AddCuration(this)">新增</span>
                                    <span class="curationErrMsg" style="color:red;"></span>
                                    <span class="groupOffline" style="color:red;">
                                        @if (!isTopOn || (topGroupCurationList.Count == 0))
                                        {<text><br />請至少新增1則策展</text>}
                                        else if (!isTopCurationListOnline)
                                        {<text><br />策展皆已下架,請行銷人員協助</text>}
                                    </span>
                                    <div class="clearfix"></div>
                                </td>
                                <td style="text-align: center;">
                                    <input class="isActive" type="checkbox" onchange="SetGroupActive(this)" checked="@((isTopOn) ? topGroup.Enabled:true)" onclick="return alertOffline(this);" />
                                </td>
                                <td style="text-align: center;">
                                    @{
                                        if (topGroup.StartTime.ToString("yyyy") == "1900")
                                        {
                                            <input class="required date editGroupStartTime form-control" type="text" style="display: none"
                                                   placeholder="yyyy/mm/dd 00:00:00"> }
                                        else
                                        {
                                            <input class="required date editGroupStartTime form-control" type="text" style="display: none"
                                                   placeholder="yyyy/mm/dd 00:00:00" value="@topGroup.StartTime.ToString("yyyy/MM/dd HH:mm:ss")">
                                        }
                                    }
                                    <span class="startTime">@topGroup.StartTime.ToString("yyyy/MM/dd HH:mm:ss")</span>
                                </td>
                                <td style="text-align: center;">
                                    @{
                                        if (topGroup.EndTime.ToString("yyyy") == "1900")
                                        {
                                            <input class="required date editGroupEndTime form-control" type="text" style="display: none"
                                                   placeholder="yyyy/mm/dd 23:59:59" value="">
                                        }
                                        else
                                        {
                                            <input class="required date editGroupEndTime form-control" type="text" style="display: none"
                                                   placeholder="yyyy/mm/dd 23:59:59" value="@topGroup.EndTime.ToString("yyyy/MM/dd HH:mm:ss")">
                                        }
                                    }
                                    <span class="endTime">@topGroup.EndTime.ToString("yyyy/MM/dd HH:mm:ss")</span>
                                </td>
                                <td style="text-align: center;">
                                    <span class="saveEditGroup label label-default" onclick="SaveEditTopGroup(this)">儲存</span>
                                    <span class="editGroup glyphicon glyphicon-pencil" onclick="EditGroup(this)">編輯</span>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="group_set">
                    <div class="title title_block">
                        一般策展設定
                    </div>
                    <div class="title_button title_block">
                        <a class="btn btn-primary btn-md" onclick="AddNewGroup(this)">＋新增</a>
                    </div>
                    <div class="title_block title_sub">
                        ※點擊【＋新增】按鈕後請先按【確認新增】，才能在【策展列表】新增策展ID
                    </div>
                    <table id="main" mainid="@mainId" class="tableizer-table">
                        <thead>
                            <tr class="tableizer-firstrow">
                                <th style="width: 60px;">順序</th>
                                <th style="width: 120px">策展群組名稱<br />（限7字)</th>
                                <th style="width: 320px">策展列表</th>
                                <th style="width: 60px;">啟用</th>
                                <th style="width: 160px">開始時間</th>
                                <th style="width: 160px">結束時間</th>
                                <th style="width: 60px;">編輯</th>
                                <th style="width: 60px;">刪除</th>
                            </tr>
                        </thead>
                        <tbody class="groups">
                            <tr class="group_add" groupId="">
                                <td style="text-align: center;"><span class="groupSeq"></span><span class="badge">＋</span></td>
                                <td>
                                    <span class="groupName"></span>
                                    <input class="required groupName editGroupName form-control" type="text" placeholder="請輸入群組名稱">
                                    <span class="errMsg">錯誤</span>
                                </td>
                                <td>
                                    <ul class="curationItem" groupId=""></ul>
                                    <span class="addCuration glyphicon glyphicon-plus" onclick="AddCuration(this)" style="display: none">新增</span>
                                    <span class="curationErrMsg" style="color:red;"></span>
                                    <span class="groupOffline" style="color:red;display:none;"><br />請至少新增1則策展</span>
                                </td>
                                <td style="text-align: center;">
                                    <input class="isActive" type="checkbox"
                                           onchange="SetGroupActive(this)" checked="checked" onclick="return alertOffline(this);">
                                </td>
                                <td style="text-align: center;">
                                    <input class="editGroupStartTime form-control" type="text" style="" placeholder="yyyy/mm/dd 00:00:00" value="">
                                    <span class="startTime"></span>
                                </td>
                                <td style="text-align: center;">
                                    <input class="editGroupEndTime form-control" type="text" placeholder="yyyy/mm/dd 23:59:59" value="">
                                    <span class="endTime"></span>
                                </td>
                                <td style="text-align: center;">
                                    <span class="commitAddGroup label label-default" onclick="CommitAddGroup(this)">確認新增</span>
                                    <span class="saveEditGroup label label-default" onclick="SaveEditGroup(this)">儲存</span>
                                    <span class="editGroup glyphicon glyphicon-pencil" style="display: none" onclick="EditGroup(this)">編輯</span>
                                </td>
                                <td style="text-align: center;">
                                    <span class="cancelAddGroup label label-default" onclick="CancelAddGroup(this)">取消</span>
                                    <span class="cancelEditGroup label label-default" onclick="CancelEditGroup(this)">取消</span>
                                    <span class="delGroup glyphicon glyphicon-trash" style="display: none" onclick="">刪除</span>
                                </td>
                            </tr>

                            @if (groups == null)
                            {
                                <div style="float: left">
                                    <span style="color:red">查無資料</span>
                                </div>
                            }
                            else
                            {
                                foreach (var group in @groups.Where(x => !x.IsTopGroup))
                                {
                                    var isCurationListOnline = false;
                                    var curationList = groupCurationDic[group.Id];
                                    var seq = groups.Where(x => !x.IsTopGroup).ToList().IndexOf(group) + 1;
                                    <tr class="group normalGroupMode" groupId="@group.Id" bgcolor="#FF0000">
                                        <td style="text-align: center;"><span class="groupSeq">@seq</span></td>
                                        <td>
                                            <input class="required groupName editGroupName form-control" type="text" value="@group.GroupName"
                                                   placeholder="請輸入群組名稱" style="display: none">
                                            <span class="groupName">@group.GroupName</span>
                                            <span class="errMsg">錯誤</span>
                                        </td>
                                        <td>
                                            <ul class="curationItem" groupId="@group.Id">
                                                @foreach (var curation in curationList)
                                                {
                                                    var itemId = curation.Key;
                                                    var eventPromo = curation.Value;
                                                    <li itemid="@itemId">
                                                        <span class="badge curationId">@eventPromo.EventId</span> <span class="curationTitle">@eventPromo.Title</span>
                                                        <div id="removeCuartion" style="float: right; text-align: right" onclick="RemoveCuartion(this)">
                                                            <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="right" title="移除"></span>
                                                        </div>
                                                    </li>

                                                    if (DateTime.Now < curation.Value.EndDate && curation.Value.Status)
                                                    {
                                                        isCurationListOnline = true;
                                                    }
                                                }
                                            </ul>
                                            <span class="addCuration glyphicon glyphicon-plus mock-cursor" onclick="AddCuration(this)">新增</span>
                                            <span class="curationErrMsg" style="color:red;"></span>
                                            <span class="groupOffline" style="color:red;">
                                                @if (groups == null || (curationList.Count == 0))
                                                {<text><br />請至少新增1則策展</text>}
                                                else if (!isCurationListOnline)
                                                {<text><br />策展皆已下架,請行銷人員協助</text>}
                                            </span>
                                        </td>
                                        <td style="text-align: center;">
                                            <input class="isActive" type="checkbox" aria-label="Checkbox for following text input"
                                                   onchange="SetGroupActive(this)" checked="@group.Enabled" onclick="return alertOffline(this);">
                                        </td>
                                        <td style="text-align: center;">
                                            <input class="editGroupStartTime form-control" type="text" style="display: none"
                                                   placeholder="yyyy/mm/dd 00:00:00" value="@group.StartTime.ToString("yyyy/MM/dd HH:mm:ss")">
                                            <span class="startTime">@group.StartTime.ToString("yyyy/MM/dd HH:mm:ss")</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <input class="required date editGroupEndTime form-control" type="text" style="display: none"
                                                   placeholder="yyyy/mm/dd 23:59:59" value="@group.EndTime.ToString("yyyy/MM/dd HH:mm:ss")">
                                            <span class="endTime">@group.EndTime.ToString("yyyy/MM/dd HH:mm:ss")</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span class="saveEditGroup label label-default" onclick="SaveEditGroup(this)">儲存</span>
                                            <span class="editGroup glyphicon glyphicon-pencil" onclick="EditGroup(this)">編輯</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span class="cancelEditGroup label label-default" onclick="CancelEditGroup(this)">取消</span>
                                            <span class="delGroup glyphicon glyphicon-trash" onclick="DeleteGroup(this)">刪除</span>
                                        </td>
                                    </tr>
                                }
                            }
                        <tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="li_element" style="display: none">
    @*輸入策展ID*@
    <li id="curation_add">
        <span class="badge">＋</span> <input id="curationId" type="text" placeholder="請輸入策展 ID" class="curationId">
        <span class="glyphicon label label-default mock-cursor" onclick="CommitAddCuration(this)">確認</span>&nbsp
        <span class="glyphicon label label-default mock-cursor" onclick="CancelAddCuration(this)">取消</span>
    </li>

    @*策展(目前用不到)*@
    <li id="curation_new"><span class="badge">+</span> </li>

    @*策展item*@
    <li id="curation" itemid="">
        <span class="badge curationId"></span> <span class="curationTitle"></span>
        <div id="removeCuartion" style="float: right; text-align: right" onclick="RemoveCuartion(this)">
            <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="right" title="移除"></span>
        </div>
    </li>
</div>


<style>
    .mock-cursor {
        cursor: pointer;
        top: -4px;
    }

    ul{
        list-style-type: none;
        padding:0;
    }
    .editGroupMode {
        background: #c5e7ff;
    }
    .normalGroupMode {
        background: #f8f8f8;
    }

    /* elements 
     body {
         font: 400 10px 'Muli', sans-serif !important;
         margin: 0;
         padding: 0;
     }
    header {
        margin: 0;
        max-width: 100%;
        padding: 3px;
        text-align: center;
        overflow: auto;
    }
    ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
    }
    li {
        background: #e9e9e9;
        //display: inline-block;
        //margin: 3px;
        //padding: 2px 3px;
    }
    li > a {
        color: white;
        font-size: 16px;
    }
    li > a:hover {
        color: #262626;
        text-decoration: none;
    }
*/
    /*.inner {
        padding: 5px;
    }*/
    .rightpanel{
        width: 1100px;
    }
    /* headings */
    .inner-container {
        font-family: Microsoft JhengHei;
        padding: 30px;
    }
    /* table */
    .tableizer-table {
        width: 100%;
    }
   .tableizer-firstrow > th {
        text-align: center;
        padding: 10px;
        background: #e9e9e9;
    }
   table #main td{
       border-bottom: 1px solid #ddd;
       padding: 5px 0;
   }
    .tableizer-firstrow > tbody > tr > td {
        font: 100 12px normal sans-serif;
        border: 4px solid #fff;
        width: 170px;
        padding: 10px;
    }
    .errMsg {
        display: none;
        font-size: small;
        color: red;
    }
    .group_add {
        display: none;
    }
    .editGroup {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .saveEditGroup, .cancelEditGroup  {
        display: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .spaceElement {
        height: 100px;
    }
    .badge{
        padding: 4px;
    }
    .curationId {
        border-radius: 10px;
        padding: 4px 3px;
    }
    #curationId{
        border-radius: 5px;
        width: 290px;
        font-size: 14px;
    }
    .curation_tab{
        color: lightseagreen;
        display: block;
        padding: 10px 15px;
        float: left;
        border: 1px solid #eaeaea;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        cursor: pointer;
    }
    .curation_content{
        border: 1px solid #eaeaea;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 15px;
        display: block;
    }
    .editmode{
    }
    .editmode input{
        display: inline-block;
    }
    .editmode input{
        display: inline-block;
    }
    .form-group{
        overflow: hidden;
    }
    .form-right{
        text-align: right;
    }
    .btn-bottom{
        text-align: center;
    }
    .group_set{
        margin-bottom: 30px;
    }
    .title_block{
        display: inline-block;
        margin-right: 30px;
        height: 34px;
    }
    .title{
        color: lightseagreen;
        font-size: 1.2em;
    }
    .title_sub{

    }
    .title_button{
        position: relative;
        top: -3px;
    }
</style>
