﻿@using LunchKingSite.DataOrm
@using LunchKingSite.BizLogic.Model.API
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@{
    ViewBag.Title = "策展頻道管理";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
    int mainId = ViewBag.MainId;
    List<ThemeCurationGroup> groups = ViewBag.Groups;
    Dictionary<int, List<KeyValuePair<int, ApiEventPromo>>> groupCurationDic = ViewBag.GroupCurationDic;
    ThemeCurationMain theme = ViewBag.Main;
    var config = ProviderFactory.Instance().GetConfig();
}
@section SSC{
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:300,400,700">
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Muli:300,400">
    <link type="text/css" rel="stylesheet" href="//www.colorname.xyz/style.css">
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/Tools/js/css/jquery-ui-1.10.2.css" />
    <link type="text/css" rel="stylesheet" href="~/Tools/js/css/jquery-ui-timepicker-addon.css" />

    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-1.9.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui-css-styler.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui-timepicker-addon-1.2.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-ui-sliderAccess.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/ckeditor/adapters/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.maxlength-min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //群組sortable
            $('#main .groups').sortable({
                placeholder: "ui-state-highlight",
                cursor: "move",
                update: function(event, ui) {
                    SetGroupSeq(this);
                    $(ui.item).parent().find('.groupSeq').each(function (x) {
                        if (x > 0) { //跳過第0筆 (group add templeate)
                            $(this).html(x);
                        }
                    });
                }
            });
            //策展列表sortable
            $('.curationItem').each(function() {
                $(this).sortable(
                {
                    cursor: "move",
                    placeholder: "ui-state-highlight",
                    update: function(event, ui) {
                        SetCurationSeq(this);
                    }
                });
            });

            $('.new_group').validate({
                rules: {
                }
            });

            $('.groupName').maxlength({
                maxCharacters: 7,
                slider: true
            });

            $('.editGroupStartTime').each(function () {
                if ($(this).parent().parent().attr('class') != "group_add") {
                    $(this).datetimepicker(opt);
                }
            });
            $('.editGroupEndTime').each(function () {
                if ($(this).parent().parent().attr('class') != "group_add") {
                    $(this).datetimepicker(opt);
                }
            });
        });

        function deleteCol(id) {
            $('#' + id).hide();
        }

        //儲存策展頻道
        function SaveEditThemeChannel(item) {

            var isFillOut = true;
            var themeItem = $(item).parent().parent();
            var themeId = @mainId;
            var erromsg = $(themeItem).find('.errMsg');

            //## 宣告一個FormData
            var data = new FormData();

            //FormData塞入變數
            data.append("themeId", themeId);

            //將檔案append FormData
            $(".imgUpload").each(function() {
                data.append(this.name, this.files[0]);
                data.append(this.name, $(this).next().find('a').is(":visible"));
            });

            $(erromsg).hide();
            $.ajax({
                type: 'POST',
                url: 'SaveEditThemeChannel',
                data: data,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.IsSuccess) {
                        if (themeId > 0){
                            //picture
                            if (Boolean(result.Theme.MainImage)) {
                                $(themeItem).find('#aMainImage').attr("href","/media/" + result.Theme.MainImage.replace(",","/")).removeAttr("style");
                                $(themeItem).find('span.sMainImage').html('');
                            }else{
                                $(themeItem).find('#aMainImage').attr("style","display:none");
                                $(themeItem).find('span.sMainImage').html("<font color='red'>*此欄位沒上傳圖檔</font>");
                                isFillOut = false;
                            }
                            $('#fileWebMain').val('');
                            
                            if (Boolean(result.Theme.MobileMainImage)) {
                                $(themeItem).find('#aMobileMainImage').attr("href","/media/" + result.Theme.MobileMainImage.replace(",","/")).removeAttr("style");
                                $(themeItem).find('span.sMobileMainImage').html('');
                            }else{
                                $(themeItem).find('#aMobileMainImage').attr("style","display:none");
                                $(themeItem).find('span.sMobileMainImage').html("<font color='red'>*此欄位沒上傳圖檔</font>");
                                isFillOut = false;
                            }
                            $('#fileMobileMain').val('');

                            if (isFillOut) {
                                alert('儲存成功');
                            } else {
                                alert('您有圖片未上傳');
                            }
                        } else {
                            if (isFillOut) {
                                alert('新增完成');
                            } else {
                                alert('新增完成，但您有圖片未上傳');
                            }
                            window.location.replace("ThemeCurationChannel");
                        }
                    } else {
                        $(erromsg).html('*儲存失敗');
                        $(erromsg).show();
                    }
                },
                error: function () {
                    $(erromsg).html('*儲存失敗');
                    $(erromsg).show();
                }
            });
        }

        //觸發新增群組
        function AddNewGroup(element) {
            if (@mainId ==0) {
                alert('請先上傳策展頻道內頁圖檔');
                return;
            }
            $('.addGroup').each(function () {
                $(this).hide();
            });

            var newGroup = $('.group_add').clone();
            $(newGroup).attr('class', 'group newgroup').show().appendTo('.groups');
            //datepicker
            $(newGroup).find('.editGroupStartTime').datetimepicker(opt);
            $(newGroup).find('.editGroupEndTime').datetimepicker(opt);

            $(newGroup).addClass('editGroupMode');
            $(newGroup).removeClass('normalGroupMode');
            $(newGroup).find('.groupName').maxlength({
                maxCharacters: 7,
                slider: true
            });
        }

        //確認新增群組
        function CommitAddGroup(item) {
            var itemGroup = $(item).parent().parent();
            var newGroupItem = $('.newgroup');
            var errMsg = $(newGroupItem).find('.errMsg');
            errMsg.hide();

            var mainId = $('#main').attr('mainid');
            var groupName = $(newGroupItem).find('.editGroupName').val();
            var isActive = $(newGroupItem).find('.isActive').is(':checked');
            var startTime = $(newGroupItem).find('.editGroupStartTime').val();
            var endTime = $(newGroupItem).find('.editGroupEndTime').val();

            if (groupName == "") {
                errMsg.html('*請輸入群組名稱');
                errMsg.show();
                return;
            }
            if (startTime == '' || endTime == '' || endTime < startTime) {
                errMsg.html('*請確認日期');
                errMsg.show();
                return;
            }

            $.ajax({
                type: 'POST',
                url: 'SaveNewGroup',
                data: '{"mainId": "' + mainId + '","groupName": "' + groupName + '","isActive": "' + isActive
                    + '","startTime": "' + startTime + '","endTime": "' + endTime + '"}',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function(result) {
                    if (result.IsSuccess) {
                        var group = result.Group;

                        $(newGroupItem).find('.badge').remove();
                        $(newGroupItem).find('.editGroupName').hide(); //可編輯欄位
                        $(newGroupItem).find('.editGroupStartTime').hide(); //可編輯欄位
                        $(newGroupItem).find('.editGroupEndTime').hide(); //可編輯欄位
                        $(newGroupItem).find('.commitAddGroup').remove();
                        $(newGroupItem).find('.cancelAddGroup').remove();

                        $(newGroupItem).attr('groupid', group.Id);
                        $(newGroupItem).find('.groupSeq').html(group.Seq);
                        $(newGroupItem).find('.groupName').html(groupName);
                        $(newGroupItem).find('.curationItem').attr('groupId', group.Id);
                        $(newGroupItem).find('.addCuration').show();
                        $(newGroupItem).find('.startTime').html(group.StartTime);
                        $(newGroupItem).find('.endTime').html(group.EndTime);

                        $(newGroupItem).find('.delGroup').attr('onclick', 'DeleteGroup(this)');
                        $(newGroupItem).find('.addGroupBtn').remove();

                        $('.addGroup').each(function () {
                            $(this).show();
                        });
                        $(newGroupItem).find('.delGroup').show();
                        $(newGroupItem).find('.editGroup').show();
                        $(newGroupItem).find('.groupOffline').show();
                        $(newGroupItem).removeClass('newgroup');
                    } else {
                        errMsg.html('*新增失敗');
                        errMsg.show();
                    }
                    $(itemGroup).addClass('normalGroupMode');
                    $(itemGroup).removeClass('editGroupMode');
                }
            });
        }

        //取消新增群組
        function CancelAddGroup(item) {
            $('.addGroup').each(function () {
                $(this).show();
            });
            var groupItem = $(item).parent().parent();
            $(groupItem).remove();
        }

        //刪除群組
        function DeleteGroup(item) {
            var groupItem = $(item).parent().parent();
            var groupId = $(groupItem).attr('groupid');
            if (groupId != "" && groupId != 'undefined' && groupId > 0) {
                var answer = confirm("注意!!!!! 刪除群組將會連帶刪除已設定好的策展，刪除後無法復原!\n\r請問是否確定刪除群組?");
                if (answer) {
                    $.ajax({
                        type: 'POST',
                        url: 'DeleteGroupAndCuration',
                        data: '{"groupId": "' + groupId + '"}',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function(result) {
                            $(groupItem).remove();
                        },
                        error: function(result) {
                        }
                    });
                }
            }

        }

        //編輯群組
        function EditGroup(item) {
            var groupItem = $(item).parent().parent();
            ChangeGroupEditMode(groupItem, true);
        }

        //儲存編輯群組
        function SaveEditGroup(item) {
            var groupItem = $(item).parent().parent();
            var groupId = $(groupItem).attr('groupid');
            var groupName = $(groupItem).find('.editGroupName').val();
            var isActive = $(groupItem).find('.isActive').is(':checked');
            var startTime = $(groupItem).find('.editGroupStartTime').val();
            var endTime = $(groupItem).find('.editGroupEndTime').val();

            var erromsg = $(groupItem).find('.errMsg');
            $(erromsg).hide();
            if (groupName == "") {
                erromsg.html('*請輸入群組名稱');
                erromsg.show();
                erromsg.focus();
                return;
            }
            if (startTime == '' || endTime == '' || endTime < startTime) {
                erromsg.html('*請確認日期');
                erromsg.show();
                erromsg.focus();
                return;
            }

            $.ajax({
                type: 'POST',
                url: 'SaveEditGroup',
                data: '{"groupId": "' + groupId + '","groupName": "' + groupName + '","isActive": "' + isActive
                    + '","startTime": "' + startTime + '","endTime": "' + endTime + '" }',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function(result) {
                    if (result.IsSuccess) {
                        $(groupItem).find('span.groupName').html(groupName);
                        $(groupItem).find('span.startTime').html(startTime);
                        $(groupItem).find('span.endTime').html(endTime);
                    } else {
                        $(erromsg).html('*儲存失敗');
                        $(erromsg).show();
                    }
                    $(groupItem).addClass('normalGroupMode');
                    $(groupItem).removeClass('editGroupMode');
                },
                error: function() {
                    $(erromsg).html('*儲存失敗');
                    $(erromsg).show();
                }
            });
            ChangeGroupEditMode(groupItem, false);
        }

        //儲存編輯置頂群組
        function SaveEditTopGroup(item) {
            var mainId = $('#topGroupTable').attr('mainid');
            var groupItem = $(item).parent().parent();
            var groupId = $(groupItem).attr('groupid');
            var groupName = $(groupItem).find('.editGroupName').val();
            var isActive = $(groupItem).find('.isActive').is(':checked');
            var startTime = $(groupItem).find('.editGroupStartTime').val();
            var endTime = $(groupItem).find('.editGroupEndTime').val();

            var erromsg = $(groupItem).find('.errMsg');
            $(erromsg).hide();
            if (groupName == "") {
                erromsg.html('*請輸入群組名稱');
                erromsg.show();
                erromsg.focus();
                return;
            }
            if (startTime == '' || endTime == '' || endTime < startTime) {
                erromsg.html('*請確認日期');
                erromsg.show();
                erromsg.focus();
                return;
            }

            $.ajax({
                type: 'POST',
                url: 'SaveEditTopGroup',
                data: '{"mainId": "' + mainId + '","groupId": "' + groupId + '","groupName": "' + groupName + '","isActive": "' + isActive
                    + '","startTime": "' + startTime + '","endTime": "' + endTime + '" }',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function(result) {
                    if (result.IsSuccess) {
                        $(groupItem).find('span.groupName').html(groupName);
                        $(groupItem).find('span.startTime').html(startTime);
                        $(groupItem).find('span.endTime').html(endTime);
                        if (groupId == 0) $(groupItem).attr('groupid',result.Group.Id);
                    } else {
                        $(erromsg).html('*儲存失敗');
                        $(erromsg).show();
                    }
                    $(groupItem).addClass('normalGroupMode');
                    $(groupItem).removeClass('editGroupMode');
                },
                error: function() {
                    $(erromsg).html('*儲存失敗');
                    $(erromsg).show();
                }
            });
            ChangeGroupEditMode(groupItem, false);
        }

        //取消編輯群組
        function CancelEditGroup(item) {
            var groupItem = $(item).parent().parent();
            var groupName = $(groupItem).find('span.groupName').html();
            var startTime = $(groupItem).find('span.startTime').html();
            var endTime = $(groupItem).find('span.endTime').html();

            $(groupItem).find('.editGroupName').val(groupName);
            $(groupItem).find('.editGroupStartTime').val(startTime);
            $(groupItem).find('.editGroupEndTime').val(endTime);
            $(groupItem).find('.errMsg').hide();

            ChangeGroupEditMode(groupItem, false);
        }

        //切換群組編輯模式
        function ChangeGroupEditMode(groupItem, isEdit) {
            //先hide 再show
            if (isEdit) {
                $(groupItem).find('span.groupName').hide();
                $(groupItem).find('span.startTime').hide();
                $(groupItem).find('span.endTime').hide();
                $(groupItem).find('.curationItem').parent().block({ message: null });
                $(groupItem).find('.delGroup').hide();
                $(groupItem).find('.editGroup').hide();

                $(groupItem).find('.editGroupName').show(); //可編輯欄位
                $(groupItem).find('.editGroupStartTime').show(); //可編輯欄位
                $(groupItem).find('.editGroupEndTime').show(); //可編輯欄位
                $(groupItem).find('.saveEditGroup').show();
                $(groupItem).find('.cancelEditGroup').show();

                $(groupItem).removeClass('normalGroupMode');
                $(groupItem).addClass('editGroupMode');

            } else {
                $(groupItem).find('.editGroupName').hide(); //可編輯欄位
                $(groupItem).find('.editGroupStartTime').hide(); //可編輯欄位
                $(groupItem).find('.editGroupEndTime').hide(); //可編輯欄位
                $(groupItem).find('.saveEditGroup').hide();
                $(groupItem).find('.cancelEditGroup').hide();

                $(groupItem).find('span.groupName').show();
                $(groupItem).find('span.startTime').show();
                $(groupItem).find('span.endTime').show();
                //$(groupItem).find('.addCuration').show();
                $(groupItem).find('.curationItem').parent().unblock(); //.show();
                $(groupItem).find('.delGroup').show();
                $(groupItem).find('.editGroup').show();

                $(groupItem).addClass('normalGroupMode');
                $(groupItem).removeClass('editGroupMode');
            }
        }

        //設定策展群組順序
        function SetGroupSeq(groups) {
            var groupIds = new Array();
            $(groups).find('.group').each(function() {
                var groupId = $(this).attr('groupid');
                if (groupId != '') {
                    groupIds.push(groupId);
                }
            });
            if (groupIds.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: 'SetGroupSeq',
                    data: '{"groupIds": "' + groupIds + '"}',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        if (!result.IsSuccess) {
                        }
                    },
                    error: function(result) {
                    }
                });
            }
        }

        //設定啟用或關閉群組
        function SetGroupActive(item) {
            var isActive = $(item).is(':checked');
            var groupId = $(item).parent().parent().attr('groupid');
            if (groupId != "" && groupId != 'undefined' && groupId > 0) {
                $.ajax({
                    type: 'POST',
                    url: 'SetGroupActive',
                    data: '{"groupId": "' + groupId + '","isActive": "' + isActive + '"}',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        if (result.IsSuccess) {
                        }
                    }
                });
            }
        }

        function alertOffline(item){
            var isActive = $(item).is(':checked');

            if(!isActive){
                if(!confirm("確定不啟用此群組嗎?")){
                    return false;
                }
            }
            return true;
        }

        //設定策展列表順序
        function SetCurationSeq(items) {
            var itemIds = new Array();
            $(items).find('li').each(function() {
                var itemId = $(this).attr('itemid');
                if (itemId != '') {
                    itemIds.push(itemId);
                }
            });
            var errMsg = $(items).parent().find('.errMsg');
            $(errMsg).hide();
            if (itemIds.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: 'SetCurationItemSeq',
                    data: '{"itemIds": "' + itemIds + '"}',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        if (!result.IsSuccess) {
                            $(errMsg).html('*' + result.Msg);
                            $(errMsg).show();
                        }
                    },
                    error: function(result) {
                    }
                });
            }
        }

        //觸發新增策展項目
        function AddCuration(item) {
            $(item).hide();
            var curationItem = $(item).parent().find('.curationItem');
            $(".li_element>#curation_add").clone().appendTo(curationItem);
        }

        //確認新增策展項目
        function CommitAddCuration(item) {
            var curationItem = $(item).parent().parent();
            var curationId = $(item).parent().find('#curationId').val();
            var groupId = $(item).parent().parent().parent().find('.curationItem').attr('groupid');
            var isGroupOffline = $(item).parent().parent().parent().find('.groupOffline').is(":visible");
            var errMsg = $(item).parent().parent().parent().find('.curationErrMsg');
            errMsg.hide();

            if (curationId != "") {
                var element = $(".li_element>#curation_new");
                $(element).find('span').html(curationId);
                $.ajax({
                    type: 'POST',
                    url: 'AddCuration',
                    data: '{"groupId": "' + groupId + '","curationId": "' + curationId + '","isGroupOffline": "' + isGroupOffline + '"}',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        if (result.IsSuccess) {
                            var itemId = result.CurationItemId;
                            var eventPromo = result.EventPromo;
                            var curationId = eventPromo.EventId;
                            var curationName = eventPromo.Title;
                            //複製元素append
                            var newElement = $(".li_element>#curation").clone();
                            $(newElement).attr('itemid', itemId);
                            $(newElement).find('span.curationId').html(' ' + curationId);
                            $(newElement).find('span.curationTitle').html(curationName);
                            $(newElement).removeAttr('id');
                            $(curationItem).append(newElement);
                            $(item).parent().parent().parent().find('.addCuration').show();
                            $(item).parent().remove(); //.hide();

                            $(curationItem).sortable(
                            {
                                cursor: "move",
                                placeholder: "ui-state-highlight",
                                update: function(event, ui) {
                                    SetCurationSeq(this);
                                }
                            });

                            if(!result.GroupOnline){
                                $(curationItem).parent().find('.groupOffline').html('<br />策展皆已下架,請行銷人員協助');
                                $(curationItem).parent().find('.groupOffline').show();
                            } else {
                                $(curationItem).parent().find('.groupOffline').hide();
                            }
                        } else {
                            errMsg.html('*' + result.Msg);
                            errMsg.show();
                        }
                    },
                    error: function() {
                        errMsg.html('*儲存失敗');
                        errMsg.show();
                    }
                });
            } else {
                errMsg.html("*請填入策展ID");
                errMsg.show();
            }
        }

        //取消新增策展項目
        function CancelAddCuration(item) {
            $(item).parent().hide();
            $(item).parent().parent().parent().find('.addCuration').show();
            $(item).parent().parent().parent().find('.curationErrMsg').hide();
        }

        //移除策展項目
        function RemoveCuartion(item) {
            var answer = confirm("確定移除?");
            if (answer) {
                var groupId = $(item).parent().parent().parent().parent().attr('groupid');
                var curationItemId = $(item).parent().attr('itemid');
                var count =$(item).parent().parent().find('li').size();
                $.ajax({
                    type: 'POST',
                    url: 'RemoveCuration',
                    data: '{"curationItemId": "' + curationItemId + '","groupId": "' + groupId + '"}',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {        
                        if (count==1){
                            $(item).parent().parent().parent().find('.groupOffline').html('<br />請至少新增1則策展');
                            $(item).parent().parent().parent().find('.groupOffline').show();
                        }else{
                            if(!result.GroupOnline){
                                $(item).parent().parent().parent().find('.groupOffline').html('<br />策展皆已下架,請行銷人員協助');
                                $(item).parent().parent().parent().find('.groupOffline').show();
                            } else {
                                $(item).parent().parent().parent().find('.groupOffline').hide();
                            }
                        }

                        $(item).parent().remove();
                    },
                    error: function(result) {
                        var qq = result.msg;
                    }
                });
            }
        }
        
        var opt = {
            //以下為日期選擇器部分
            dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
            dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
            monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            prevText: "上月",
            nextText: "次月",
            weekHeader: "週",
            showMonthAfterYear: true,
            showSecond: true,
            showButtonPanel: true,
            //showTime: false,
            dateFormat: "yy/mm/dd",
            //以下為時間選擇器部分
            timeOnlyTitle: "選擇時分秒",
            timeText: "時間",
            hourText: "時",
            minuteText: "分",
            secondText: "秒",
            millisecText: "毫秒",
            timezoneText: "時區",
            currentText: "現在時間",
            closeText: "確定",
            amNames: ["上午", "AM", "A"],
            pmNames: ["下午", "PM", "P"],
            timeFormat: "HH:mm:ss"
        };
    </script>
}

<div class="inner-container">
    <div class="title title_block">
        策展頻道內頁圖檔上傳
    </div>
    <div class="form-group">
        <label class="col-sm-6 control-label">寬 * 高 （標藍色者不限尺寸，請設計抓尺寸）</label>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">WEB主圖：（限 960*<span style="color:blue">220</span> jpg）</label>
        <input class="imgUpload col-sm-4" name="fileWebMain" type="file" id="fileWebMain" />
        <div class="col-sm-3">
            <span class="glyphicon glyphicon-picture"></span>
            <a id="aMainImage" target="_blank" href="@ImageFacade.GetMediaPath(theme.MainImage, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.MainImage)) { <text> style="display:none" </text>          }>WEB中央圖.jpg</a><span class="sMainImage"></span>
        </div>
        <div class="col-sm-1">
            <a onclick="deleteCol('aMainImage')"><span class="glyphicon glyphicon-trash"></span></a>
        </div>        
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">M版主圖：（限 960*480 jpg）</label>
        <input class="imgUpload col-sm-4" name="fileMobileMain" type="file" id="fileMobileMain" />
        <div class="col-sm-3">
            <span class="glyphicon glyphicon-picture"></span>
            <a id="aMobileMainImage" target="_blank" href="@ImageFacade.GetMediaPath(theme.MobileMainImage, MediaType.ThemeImage)" @if (string.IsNullOrEmpty(theme.MobileMainImage)) { <text> style="display:none" </text>         }>M版主圖.jpg</a><span class="sMobileMainImage"></span>
        </div>
        <div class="col-sm-1">
            <a onclick="deleteCol('aMobileMainImage')"><span class="glyphicon glyphicon-trash"></span></a>
        </div>        
    </div>
    <br />
    <div class="btn-bottom">
        <button type="button" class="btn btn-success" onclick="SaveEditThemeChannel(this)">儲存</button>
    </div>
    <div class="clearfix"></div>


    <hr />


    <br />
    <div class="clearfix"></div>
    <div class="title title_block">
        策展群組設定
    </div>
    <div class="title_button title_block">
        <a class="btn btn-primary btn-md" onclick="AddNewGroup(this)">＋新增</a>
    </div>
    <div class="title_sub title_block">
        ※點擊【＋新增】按鈕後請先按【確認新增】，才能在【策展列表】新增策展ID
    </div>
    <table id="main" mainid="@mainId" class="tableizer-table">
        <thead>
            <tr class="tableizer-firstrow">
                <th style="width: 60px;">順序</th>
                <th style="width: 120px">
                    策展群組名稱
                    <br />（限7字)
                </th>
                <th style="width: 320px">策展列表</th>
                <th style="width: 60px;">啟用</th>
                <th style="width: 160px">開始時間</th>
                <th style="width: 160px">結束時間</th>
                <th style="width: 60px;">編輯</th>
                <th style="width: 60px;">刪除</th>
            </tr>
        </thead>
        <tbody class="groups">
            <tr class="group_add" groupId="">
                <td style="text-align: center;">
                    <span class="groupSeq"></span>
                    <span class="badge">＋</span>
                </td>
                <td>
                    <span class="groupName"></span>
                    <input class="required groupName editGroupName form-control" type="text" placeholder="請輸入群組名稱">
                    <span class="errMsg">錯誤</span>
                </td>
                <td>
                    <ul class="curationItem" groupId=""></ul>
                    <span class="addCuration glyphicon glyphicon-plus" onclick="AddCuration(this)" style="display: none">新增</span>
                    <span class="curationErrMsg" style="color:red;"></span>
                    <span class="groupOffline" style="color:red;display:none"><br />請至少新增1則策展</span>
                </td>
                <td style="text-align: center;">
                    <input class="isActive" type="checkbox" onchange="SetGroupActive(this)" checked="checked" onclick="return alertOffline(this);">
                </td>
                <td style="text-align: center;">
                    <input class="editGroupStartTime form-control" type="text" style="" placeholder="yyyy/mm/dd 00:00:00" value="">
                    <span class="startTime"></span>
                </td>
                <td style="text-align: center;">
                    <input class="editGroupEndTime form-control" type="text" placeholder="yyyy/mm/dd 23:59:59" value="">
                    <span class="endTime"></span>
                </td>
                <td style="text-align: center;">
                    <span class="commitAddGroup label label-default" onclick="CommitAddGroup(this)">確認新增</span>
                    <span class="saveEditGroup label label-default" onclick="SaveEditGroup(this)">儲存</span>
                    <span class="editGroup glyphicon glyphicon-pencil" style="display: none" onclick="EditGroup(this)">編輯</span>
                </td>
                <td style="text-align: center;">
                    <span class="cancelAddGroup label label-default" onclick="CancelAddGroup(this)">取消</span>
                    <span class="cancelEditGroup label label-default" onclick="CancelEditGroup(this)">取消</span>
                    <span class="delGroup glyphicon glyphicon-trash" style="display: none" onclick="">刪除</span>
                </td>
            </tr>

            @if (groups == null)
            {
                <tr>
                    <td colspan="8">
                        <span style="color:red">查無資料</span>
                    </td>
                </tr>
            }
            else
            {
                foreach (var group in @groups.Where(x => !x.IsTopGroup))
                {
                    var isCurationListOnline = false;
                    var curationList = groupCurationDic[group.Id];
                    var seq = groups.IndexOf(group) + 1;
                    <tr class="group normalGroupMode" groupId="@group.Id" bgcolor="#FF0000">
                        <td style="text-align: center;">
                            <span class="groupSeq">@seq</span>
                        </td>
                        <td>
                            <input class="required groupName editGroupName form-control" type="text" value="@group.GroupName" placeholder="請輸入群組名稱" style="display: none">
                            <span class="groupName">@group.GroupName</span>
                            <span class="errMsg">錯誤</span>
                        </td>
                        <td>
                            <ul class="curationItem" groupId="@group.Id">
                                @foreach (var curation in curationList)
                                {
                                    var itemId = curation.Key;
                                    var eventPromo = curation.Value;
                                    <li itemid="@itemId">
                                        <span class="badge curationId">@eventPromo.EventId</span>
                                        <span class="curationTitle">@eventPromo.Title</span>
                                        <div id="removeCuartion" style="float: right; text-align: right" onclick="RemoveCuartion(this)">
                                            <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="right" title="移除"></span>
                                        </div>
                                    </li>

                                    if (DateTime.Now < curation.Value.EndDate && curation.Value.Status)
                                    {
                                        isCurationListOnline = true;
                                    }
                                }
                            </ul>
                            <span class="addCuration glyphicon glyphicon-plus mock-cursor" onclick="AddCuration(this)">新增</span>
                            <span class="curationErrMsg" style="color:red;"></span>
                            <span class="groupOffline" style="color:red;">
                                @if (groups == null || (curationList.Count == 0))
                                {<text><br />請至少新增1則策展</text>}
                                else if (!isCurationListOnline)
                                {<text><br />策展皆已下架,請行銷人員協助</text>}
                            </span>
                            
                        </td>
                        <td style="text-align: center;">
                            <input class="isActive" type="checkbox" aria-label="Checkbox for following text input"
                                   onchange="SetGroupActive(this)" checked="@group.Enabled">
                        </td>
                        <td style="text-align: center;">
                            <input class="editGroupStartTime form-control" type="text" style="display: none"
                                   placeholder="yyyy/mm/dd 00:00:00" value="@group.StartTime.ToString("yyyy/MM/dd HH:mm:ss")">
                            <span class="startTime">@group.StartTime.ToString("yyyy/MM/dd HH:mm:ss")</span>
                        </td>
                        <td style="text-align: center;">
                            <input class="required date editGroupEndTime form-control" type="text" style="display: none"
                                   placeholder="yyyy/mm/dd 23:59:59" value="@group.EndTime.ToString("yyyy/MM/dd HH:mm:ss")">
                            <span class="endTime">@group.EndTime.ToString("yyyy/MM/dd HH:mm:ss")</span>
                        </td>
                        <td style="text-align: center;">
                            <span class="saveEditGroup label label-default" onclick="SaveEditGroup(this)">儲存</span>
                            <span class="editGroup glyphicon glyphicon-pencil" onclick="EditGroup(this)">編輯</span>
                        </td>
                        <td style="text-align: center;">
                            <span class="cancelEditGroup label label-default" onclick="CancelEditGroup(this)">取消</span>
                            <span class="delGroup glyphicon glyphicon-trash" onclick="DeleteGroup(this)">刪除</span>
                        </td>
                    </tr>
                }
            }
        <tbody>
    </table>

    <br />
    <div class="btn-bottom">
        <a target="_blank" href="/Event/ThemeCurationChannel?p=show_me_the_preview"><button type="button" class="btn btn-danger">預覽</button></a>
    </div>
    <div class="clearfix"></div>
</div>

<div class="li_element" style="display: none">
    @*輸入策展ID*@
    <li id="curation_add">
        <span class="badge">＋</span>
        <input id="curationId" type="text" placeholder="請輸入策展 ID" class="curationId">
        <span class="glyphicon label label-default mock-cursor" onclick="CommitAddCuration(this)">確認</span>&nbsp
        <span class="glyphicon label label-default mock-cursor" onclick="CancelAddCuration(this)">取消</span>
    </li>

    @*策展(目前用不到)*@
    <li id="curation_new">
        <span class="badge">+</span>
    </li>

    @*策展item*@
    <li id="curation" itemid="">
        <span class="badge curationId"></span>
        <span class="curationTitle"></span>
        <div id="removeCuartion" style="float: right; text-align: right" onclick="RemoveCuartion(this)">
            <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="right" title="移除"></span>
        </div>
    </li>
</div>


<style>
    .mock-cursor {
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .editGroupMode {
        background: #c5e7ff;
    }

    .normalGroupMode {
        background: #f8f8f8;
    }

    .rightpanel {
        width: 1100px;
    }
    /* headings */
    .inner-container {
        font-family: Microsoft JhengHei;
        padding: 30px;
    }
    /* table */
    .tableizer-table {
        width: 100%;
    }

    .tableizer-firstrow > th {
        text-align: center;
        padding: 10px;
        background: #e9e9e9;
    }

    table #main td {
        border-bottom: 1px solid #ddd;
        padding: 5px 0;
    }

    .tableizer-firstrow > tbody > tr > td {
        font: 100 12px normal sans-serif;
        border: 4px solid #fff;
        width: 170px;
        padding: 10px;
    }

    .errMsg {
        display: none;
        font-size: small;
        color: red;
    }

    .group_add {
        display: none;
    }

    .editGroup {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .saveEditGroup, .cancelEditGroup {
        display: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .spaceElement {
        height: 100px;
    }

    .badge {
        padding: 4px;
    }

    .curationId {
        border-radius: 10px;
        padding: 4px 3px;
    }

    #curationId {
        border-radius: 5px;
        width: 290px;
        font-size: 14px;
    }

    .curation_tab {
        color: lightseagreen;
        display: block;
        padding: 10px 15px;
        float: left;
        border: 1px solid #eaeaea;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        cursor: pointer;
    }

    .curation_content {
        border: 1px solid #eaeaea;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 15px;
        display: block;
    }

    .form-group {
        overflow: hidden;
    }

    .form-right {
        text-align: right;
    }

    .btn-bottom {
        text-align: center;
    }

    .group_set {
        margin-bottom: 30px;
    }

    .title_block {
        display: inline-block;
        margin-right: 30px;
        height: 34px;
    }

    .title {
        color: lightseagreen;
        font-size: 1.2em;
    }

    .title_sub {
    }

    .title_button {
        position: relative;
        top: -3px;
    }
</style>
