@charset "utf-8";

.CouponListarea {
	width:700px;
	height:auto;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.CouponListTop {
	width:700px;
	height:44px;
	z-index:1;
	background-image: url(coupon_List2-1.png);
	background-repeat: no-repeat;
}
.CouponListTop2 {
	width:700px;
	height:44px;
	z-index:1;
	background-image: url(coupon_List2-1-1.png);
	background-repeat: no-repeat;
}
.CouponListTop3 {
	width:700px;
	height:44px;
	z-index:1;
	background-image: url(coupon_List2-1-1-1.png);
	background-repeat: no-repeat;
}
.CouponListTop4 {
	width:700px;
	height:44px;
	z-index:1;
	background-image: url(coupon_List2-1-1-1-1.png);
	background-repeat: no-repeat;
}
.CouponListTop5 {
	width:700px;
	height:6px;
	z-index:1;
	background-image: url(coupon_List2-0.png);
	background-repeat: no-repeat;
}
.CouponListMessageTop {
	width:700px;
	height:44px;
	z-index:1;
	background-image: url(coupon_List4.png);
	background-repeat: no-repeat;
}
.CouponListContent {
	width:650px;
	height:auto;
	z-index:1;
	background-image: url(MembeWContent.png);
	background-repeat: repeat;
	padding-right: 20px;
	padding-bottom: 4px;
	padding-left: 30px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 8px;
	line-height: 30px;
}
.CouponListBottom{
	width:700px;
	height:16px;
	z-index:1;
	background-image: url(MembeWBottom2.png);
	background-repeat: no-repeat;
}
.CouponListBtn {
	width:127px;
	height:32px;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(Returns_cancel.jpg);
	background-repeat: no-repeat;
	/*text-indent: -9999px;*/
	display: block;	
}
.CouponListBtn:hover {
	background-image: url(Returns_cancelHov.jpg);
	background-repeat: no-repeat;
}
.CouponListNumberBtn {
	width:127px;
	height:32px;
	z-index:1;
	background-image: url(Returns_Number.jpg);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-left: 190px;
	/*text-indent: -9999px;*/
	display: block;
}
.CouponListNumberBtn:hover {
	background-image: url(Returns_NumberHov.jpg);
	background-repeat: no-repeat;
}
.CouponLisConfirmtBtn {
	width:127px;
	height:32px;
	z-index:1;
	margin-top: 10px;
	margin-right: 130px;
	margin-bottom: 0px;
	background-image: url(Returns_cancel.jpg);
	background-repeat: no-repeat;
	/*text-indent: -9999px;*/
	display: block;
}
.CouponLisConfirmtBtn:hover {
	background-image: url(Returns_cancelHov.jpg);
	background-repeat: no-repeat;
}
.ReturnsRequestBtn {
	width:127px;
	height:32px;
	z-index:1;
	margin-top: 10px;
	margin-right: 130px;
	margin-bottom: 0px;
	background-image: url(Returns_Request.jpg);
	background-repeat: no-repeat;
	/*text-indent: -9999px;*/
	display: block;
}
.ReturnsRequestBtn:hover {
	background-image: url(Returns_RequestHov.jpg);
	background-repeat: no-repeat;
}

.CouponListConfirmtBtnLeft {
	width:127px;
	height:32px;
	z-index:1;
	background-image: url(Returns_cancel.jpg);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-left: 190px;
	/*text-indent: -9999px;*/
	display: block;
}
.CouponListConfirmtBtnLeft:hover {
	background-image: url(Returns_cancelHov.jpg);
	background-repeat: no-repeat;
}
.CouponListBtnOK {
	width:88px;
	height:32px;
	z-index:1;
	margin-top:5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(MembeW_OK.jpg);
	background-repeat: no-repeat;
	/*text-indent: -9999px;*/
	display: block;
}
.CouponListBtnOK:hover {
	background-image: url(MembeW_OKHov.jpg);
	background-repeat: no-repeat;
}
.CouponListNextBtn {
	width:127px;
	height:32px;
	z-index:1;
	margin-top:10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(Returns_Next.jpg);
	background-repeat: no-repeat;
	/*text-indent: -9999px;*/
	display: block;
}
.CouponListNextBtn:hover {
	background-image: url(Returns_NextHov.jpg);
	background-repeat: no-repeat;
}
.CouponListReturnsBtn2 {
	width:127px;
	height:32px;
	z-index:1;
	margin-top:10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(Returns_cancel.jpg);
	background-repeat: no-repeat;
	/*text-indent: -9999px;*/
	display: block;
}
.CouponListReturnsBtn2:hover {
	background-image: url(Returns_cancelHov.jpg);
	background-repeat: no-repeat;
}

.CouponListPreviousBtn {
	width:127px;
	height:32px;
	z-index:1;
	background-image: url(Returns_Previous.jpg);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-left: 190px;
	/*text-indent: -9999px;*/
	display: block;
}
.CouponListPreviousBtn:hover {
	background-image: url(Returns_PreviousHov.jpg);
	background-repeat: no-repeat;
}
.CouponListCancelBtn {
	width:127px;
	height:32px;
	z-index:1;
	background-image: url(Returns_cancel2.jpg);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-right: 130px;
	/*text-indent: -9999px;*/
	display: block;
}
.CouponListCancelBtn:hover {
	background-image: url(Returns_cancelHov2.jpg);
	background-repeat: no-repeat;
}

.CouponListClose {
	width:27px;
	height:28px;
	z-index:4;
	background-image: url(MembeWclose.png);
	float: right;
	margin-top: -7px;
	margin-right: -8px;
}
.CouponListDetailContent {
	width:650px;
	height:auto;
	z-index:1;
	padding-top: 0px;
	padding-bottom: 10px;
}

.CouponListReturns {
	width:650px;
	height:auto;
	z-index:4;
	margin-bottom: 15px;
	padding-top: 10px;

}
.CouponListReturns textarea {
	width:625px;
}
.CouponListReturnsDetail {
	width:650px;
	height:auto;
	z-index:1;
	border: 1px solid #999;
	line-height: 25px;
}
.CouponListReturnsDetail2{
	width:650px;
	height:auto;
	z-index:1;
	border: 1px solid #999;
	line-height: 28px;
}
.CouponListReturnsDetail2 ul{

}
.CouponListReturnsDetail2 li{
	list-style-type: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
.CouponListReturnsDetailLeft {
	width:400px;
	height:auto;
	z-index:1;
	text-align: right;
}
.CouponListReturnsDetailRight {
	text-align: right;
}
/*.CouponListReturnsTotal {
	width:auto;
	height:auto;
	z-index:1;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
	text-align: right;
	padding-right: 10px;
}*/
.CouponListReturnsTotal ul {
	list-style-type: none;
}
.CouponListReturnsTotal li {
	font-size:20px;
}
.CouponListReturnsTotal li p {
	font-size:16px;

}
/*.CouponListRefund {
	width:auto;
	height:auto;
	z-index:1;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-top: 50px;
	padding-left: 105px;
}*/
.CouponListBtnArea {
	width:700px;
	height:auto;
	z-index:1;
	background-image: url(MembeWContent.png);
	padding-bottom: 4px;
}
.CouponListReturnsReason{
	width:650px;
	height:auto;
	z-index:1;
	padding-top: 15px;
	margin-bottom: 5px;
}
.CouponListReturnsReason ul{ 

}
.CouponListReturnsReason li{
	list-style-type: none;
}
.CouponListReturnsReason textarea{
	width:435px;
	height:30px;
}
.CouponListTips {
	width:200px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #F00;
	font-weight: normal;
	font-size: 12px;
}
.CouponListTips2 {
	width:280px;
	height:auto;
	z-index:1;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #F00;
	font-weight: normal;
}
.CouponListTips3 {
	width:270px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #000;
	font-weight: normal;
}
.CouponListMiddleContent {
	width:auto;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	line-height: 35px;
}
