@charset "utf-8";

* html {
overflow: hidden;
zoom:1;
}

* html body {
	width:100%;
	position:relative;
	height: 100%;
	margin: 0 auto 0 auto;
	background-repeat: repeat;
	background: url(ppon-M1_body.jpg);
	overflow:auto;
}

* html #wrap {
	width:100%;
	position:relative;
	height: 100%;
	margin: 0 auto 0 auto;
	background-repeat: repeat;
	background: url(ppon-M1_body.jpg);
	overflow:auto;
}
#Cityarea {
	position:fixed;
	width:50px;
	height:auto;
	z-index:4;
	left:0px;
	color: #FFF;
	text-align: center;
	font-size: 22px;
	top: 156px;
	background-image: url(citybackground_AllContent.gif);
	background-repeat: repeat;
}
*html #MaindealMiddleRight {
	width:246px;
	height:auto;
	z-index:10;
	float: right;
	display: inline;
	margin-right:90px;
}
 
* html #Cityarea {
  position:absolute;
}
* html .BuyBTN {
	width:92px;
	height:47px;
	z-index:1;
	background-image: url(ppon-M1_BuyBtn.jpg);
	background-repeat: no-repeat;
	margin-top:24px;
	margin-right: 0px;
	text-indent: -9999px;
	display: inline;
}
* html .BuyBTN:hover {
	background-image: url(ppon-M1_BuyBtnHov.jpg);
	border:0;
}
*html #TipTitle {
	width:114px;
	height:23px;
	z-index:1;
	font-size: 14px;
	color: #333;
	font-weight: bold;
	float:left;
	position: relative;
	top: -77px;
	right:335px;
}

*html #Price {
	z-index:1;
	font-size: 2.8em;
	color: #FFF;
	line-height: 2em;
	height: 90px;
	position: absolute;
	text-indent: 20px;
	left:-2px;
	top: 30px;
}
*html #Entry {
	width:702px;
	height:auto;
	z-index:2;
	margin-bottom: 20px;
	float: left;
	zoom:1;
}
*html #Entrytop {
	width:702px;
	height:14px;
	z-index:3;
	background-image: url(ppon-M1-entrytop.jpg);
	background-position: 0px 10px;
}
*html #EntryContentLeft {
	width:476px;
	height:auto;
	z-index:3;
	float: left;
	margin-right: 10px;
}
*html #Dialog {
	width:472px;
	height:auto;
	z-index:3;
}
*html #DialogTop {
	width:467px;
	height:109px;
	z-index:3;
	background-image: url(ppon-M1-dialog-topie.jpg);
	background-repeat: no-repeat;
}
*html #Dialoginner {
	width:448px;
	height:auto;
	z-index:3;
	background-image: url(ppon-M1-dialogcontentie.jpg);
	background-repeat: repeat;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
}
*html #DialogBottom {
	width:467px;
	height:20px;
	z-index:3;
	background-image: url(ppon-M1-dialogbottomie.jpg);
	background-repeat: no-repeat;
}
*html #DiscussTop {
	width:468px;
	height:18px;
	z-index:3;
	background-image: url(ppon-M1-discuss001.jpg);
	background-repeat: no-repeat;
}
*html .DiscussLine {
	width:468px;
	height:4px;
	z-index:3;
	clear: both;
	background-image: url(ppon-M1-d_line.jpg);
	background-repeat: no-repeat;
	margin-top: 2px;
}
*html #EntryContentRight {
	width:196px;
	height:auto;
	z-index:3;
	float: right;
	display: inline;
	margin-top: -950px;
}
*html #OrderB3Title {
	width:450px;
	height:30px;
	z-index:1;
	background-image: url(B3-1Title.jpg);
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 60px;
	line-height: 30px;
	float: left;
	display: inline;
}
*html #OrderB3TitleLink {
	width:410px;
	height:30px;
	z-index:1;
	float: right;
	display: inline;
}

*html #OrderB3Contentarea {
	width:785px;
	height:auto;
	z-index:1;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}
*html #OrderB3Table1 {
	width:785px;
	height:auto;
	z-index:1;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: 1px solid #999;
}
*html #OrderContentTitleLeft {
	width:auto;
	height:auto;
	z-index:1;
	text-align: left;
	font-size: 12px;
	display: inline;
}
*html #OrderContentTitleLeft img {
	float: left;
	height: 59px;
	width: 103px;
	display: inline;
}
*html #OrderContentTitleRight {
	z-index:1;
	width:170px;
	height: auto;
	padding-left: 2px;
	text-align: left;
	font-size: 13px;
	display: inline;
	clear: left;
}
*html .OrderButtom {
	width:922px;
	height:20px;
	z-index:4;
	background-image: url(Bphase1_Buttom.jpg);
	background-repeat: no-repeat;
	float: left;
	_display:inline;
	clear: both;
}
/*---------------f1-1-----------------*/
*html #F1_UserGuide_Content_5 {
	left: 0px;
	width: 930px;
	height:auto;
	background-repeat: repeat-y;
}
*html .F1_UserGuide_Content_5_QAB_TOP {
	position: relative;
	top: 0px;
	width: 810px;
	height: 15px;
	background-repeat: no-repeat;
	margin-left: -56px;
	margin-bottom: -10px;
}

*html .F1_UserGuide_TOP {
	float:left;
	width:55px;
	height:27px;
	z-index:1;
	margin-top: 25px;
	position: relative;
	left: 0px;
	margin-left: auto;
	margin-right: -3px;
}
*html #F1_UserGuide_Content_5_inner {
	background-repeat: repeat;
	width: 810px;
	margin-right: auto;
	margin-left: -50px;
}
*html .F1_UserGuide_Content_5_QAB_END {
	position: relative;
	top: 0px;
	width: 810px;
	height: 13px;
	background-repeat: no-repeat;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 55px;
}

/*---------------f1-1-----------------*/

*html #ThreeJR {
	height: auto;
	width: 500px;
	margin-left: 10px;
	margin-top: 0px;
}
*html #Usn {
	font-family: Verdana, Geneva, sans-serif;
	width: 405px;
	height: auto;
	margin-left: 110px;
	margin-top: 0px;
}
*html #D1invoiceCEN input{
	position: relative;
	top: 0px;	
}



*html .PastGood {
	float:left;
	width: 375px;
	height: 216px;
	color: #272727;
	font-size: 15px;
	letter-spacing:1px;
	line-height: 20px;
	font-weight: bold;
	background-repeat:no-repeat;
	background-position:center top;
	margin-top: 15px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 23px;
	padding-left:50px;
}
*html .PastStamp {
	
	display: inline;
	z-index: 2;
	bottom: 145px;
}
*html #DetailDiscount {
	left: 0px;
	top: 0px;
	width: 703px;
	height: auto;
	float: left;
	position: relative;
	margin-bottom: 20px;
	_display: inline;
}
*html #DetailPrice {
	z-index:10;
	font-size: 2.8em;
	color: #FFF;
	line-height: 2em;
	height: 90px;
	position: absolute;
	text-indent: 20px;
	left:0px;
	top:00px;
	display: inline;
}
*html .DetailBuyBTN {
	width:92px;
	height:47px;
	z-index:1;
	background-image: url(ppon-M1_BuyBtn.jpg);
	background-repeat: no-repeat;
	margin-top:24px;
	margin-right: 0px;
	float: left;
	text-indent: -9999px;
	margin-left:122px;
	display: inline;
}
*html .DetailBuyBTN:hover {
	background-image:url(ppon-M1_BuyBtnHov.jpg);
	border:0;
	display: inline;
}
*html #DetailPrice {
	z-index:1;
	font-size: 2.8em;
	color: #FFF;
	line-height: 2em;
	height: 90px;
	position: absolute;
	text-indent: 20px;
	left:690px;
	top: 85px;
}
*html #TableTop {
	left: 0px;
	top: 0px;
	height: 10px;
	width: 940px;
	float: left;
	margin-top:0px;
	background-image: url(ThemeCTop.png);
	background-repeat: no-repeat;
}

*html #BLeft {
	width:960px;
	height:auto;
	z-index:1;
	margin:0 auto;
}
*html #MyAddress {
	width:600px;
	height:auto;
	z-index:1;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 25px;
	float: left;
}
*html #Footer {
	width:auto;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 10px;
	background: #000;
}
*html #Footerarea {
	width:960px;
	height:auto;
	z-index:2;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

/*------------------B3-4/5------------------------*/
* html .FAQArea {
	width:240px;
	height:auto;
	z-index:1;
	float: right;
	position: relative;
	margin-right: 8px;
	display: inline;
}
* html #LifeMoneyFail {
	margin-left:73px;
	width: 345px;
	height: 56px;
	margin-top: 10px;
	float: left;
}
* html #LifeMoneySubscribeForm {
	float: left;
	margin-top: 43px;
	margin-left: 5px;
}
* html .OrderContent {
	width:960px;
	height:auto;
	z-index:4;
	background:url(Bphase1_CONTENT.jpg);
	background-repeat: repeat;
	float: left;
	display: inline;
}

*html #AccountLeft {
	width:620px;
	height:auto;
	z-index:2;
	float: left;
	display: inline;
}
*html #MyAddress {
	width:600px;
	height:auto;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	float: left;
	display: inline;
}
*html #B42MyAccountLink {
	width:140px;
	height:35px;
	z-index:2;
	float: right;
	padding-top:15px;
}
*html #B42Top {
	width:334px;
	height:50px;
	z-index:2;
	background-image: url(B4Modify.jpg);
	background-repeat: no-repeat;
	float: left;
}
*html .B4MyAddressArea {
	width:560px;
	height:auto;
	z-index:1;
	border: 1px solid #0F6A96;
	margin-top: 5px;
}
*html #F1_UserGuide_Content_Question {
	position:relative;
	width:890px;
	height:1020px;
	z-index:1;
	font-family: "微軟正黑體";
	font-size: 28px;
	font-weight: normal;
	color: #333;
	margin-right: auto;
	margin-left: auto;
}
*html #F1_UserGuide_Content_QuestionA {
	position:relative;
	width:430px;
	height:auto;
	z-index:1;
	font-family: "微軟正黑體";
	font-size: 24px;
	color: #333;
	float: left;
	padding-left: 30px;
	display: inline;
}
*html #F1_UserGuide_Content_QuestionB {
	position:relative;
	width:425px;
	height:auto;
	z-index:1;
	text-indent: 0px;
	float: right;
	display: inline;
}
*html .MainDealCityTitle {
	width:160px;
	height:auto;
	z-index:1;
	font-size: 24px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 10px;
	display: inline;
}
*html .MainDealCityTitle {
	width:180px;
	height:auto;
	z-index:1;
	font-size: 24px;
	float: left;
	margin-left: 10px;
	color:#333;
	text-decoration: none;
	font-family: "微軟正黑體";
	font-weight: normal;
	display: inline;
}
*html #MaindealTitle {
	width:670px;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 24px;
	font-weight: bold;
	color:#F60;
	text-decoration: none;
	font-family: "微軟正黑體";
	font-weight: normal;
}
*html .TodayDealMainTop {
	width:710px;
	height:15px;
	z-index:4;
	background:url(NewTodayDealTop.gif);
	background-repeat: no-repeat;
}
*html .TodayDealFacebookarea {
	width:430px;
	height:auto;
	z-index:4;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #ECFFFF;
	font-size: 14px;
	color: #666;
	font-family: "Arial Black", Gadget, sans-serif;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	display: inline;
}
*html .BBHMainPic {
	width:455px;
	height:253px;
	z-index:1;
	float: left;
	/*background-image: url(ppon-M1_pic.jpg);
	background-repeat: no-repeat;*/
	position: relative;
	left: 10px;
	background-image: url(ppon-M1_pic.jpg);
	display: inline;
	margin-top: -288px;
}
*html .TodayDealFacebookarea {
	width:430px;
	height:auto;
	z-index:4;
	margin-right: auto;
	margin-bottom: 10px;
	;
	background-color: #ECFFFF;
	font-size: 14px;
	color: #666;
	font-family: "Arial Black", Gadget, sans-serif;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	display: inline;
}
*html .invoicesubmit {
	width:102px;
	height:29px;
	z-index:1;
	background-image: url(invoicebtnsubmit.jpg);
	margin-left:3px;
	float: left;
	margin-bottom: 10px;
}
*html .B5invoiceBtnarea {
	width:150px;
	height:auto;
	z-index:1;
	float: left;
	display: inline;
}
*html .invoiceBtn2Tips {
	width:320px;
	height:auto;
	z-index:1;
	font-size: 12px;
	color: #F00;
	font-weight: normal;
	border: 1px dashed #999;
	padding-left: 10px;
	float: right;
	margin-right: 280px;
	margin-top: 8px;
	margin-bottom: 5px;
	display: inline;
}
*html .DTwoTradingTodayDealFa {
	clear: both;
	width: 912px;
	margin-left: auto;
	margin-right:auto;
	height: 270px;
	padding-top: 10px;
	padding-bottom: 10px;
}
*html .DTwoTradingTodayD1 {
	float: left;
	height: 260px;
	width: 295px;
	margin-left: 3px;
	margin-right:3px;
	border: 1px solid #999;
	background-color: #FBF7F0;
}
*html .DTwoTradingTDTittle {
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	float: left;
	height: 47px;
	width: 195px;
	line-height: 23px;
	letter-spacing: normal;
	overflow: hidden;
	margin-left: 4px;
}
*html .DTwoTradingTDPic {
	clear: both;
	height: 156px;
	width: 280px;
	margin-right: auto;
	margin-left: auto;
}
*html .DTwTrTDgoodPricetTable {
	float: left;
	height: 32px;
	width: 259px;
	margin-left: 4px;
}
*html .DTwTrTDgoodPricetTable td{
	margin:0px;
	padding:0px;
}
*html .DTwTrTDgoodPricet {
	float: left;
	height: 40px;
	width: 277px;
	margin-left: 4px;
	background-color: #F2E8D0;
	padding-top: 3px;
	border: 1px solid #D6B58B;
}
*html .DTwTrTDBtn {
	float: left;
	height: 30px;
	width: 89px;
	background-image: url(../G3/CheckoutBtn2.png);
	background-repeat: no-repeat;
	margin-top: 2px;
	margin-left:0px;
	display:inline;
}
*html .DTwTrTDBtn:hover {
	background-image: url(../G3/CheckoutBtn3.png);
	background-repeat: no-repeat;
	display:inline;
}
*html .DTwTrTDGoodPriceNumber {
	color: #F60;
	letter-spacing: normal;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	line-height: 31px;
	float: left;
	padding-top: 5px;
	padding-bottom: -3px;
	height: 28px;
	width:80px;
}
*html .OrDetCertificateInfo {
	float: left;
	width: 58px;
	margin-right: 3px;
	margin-left: 3px;
}
*html .OrDetCertificateFrame {
	width: 198px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	margin-top: 5px;
	height: 48px;
	margin-bottom: 5px;
}
*html .OrderDetailCertificateText {
	width: 58px;
	float: left;
	font-size: 13px;
	color: #333;
	line-height: 18px;
	height: 17px;
	text-decoration: underline;
	overflow: hidden;
	display: inline;
}
*html .OrderDetailNumber {
	width:880px;
	height:23px;
	z-index:1;
	margin-left: 20px;
	padding-top: 5px;
	letter-spacing: normal;
	font-size: 18px;
	float: left;
	margin-bottom: 17px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #749546;
}
*html .OrderNavi {
	width:960px;
	height:38px;
	z-index:4;
	display: inline;
	background-image: url(Bphase1_background.jpg);
	background-repeat: no-repeat;
	float: left;
}
*html  .AccountBFManName{
	text-align:left;
	font-family: "微軟正黑體";
	font-size: 15px;
	letter-spacing: 20pt;
	color: #000;
	padding-right:5px;
}
*html  .AccountBFManAddressee{
	text-align:left;
	font-family: "微軟正黑體";
	font-size: 15px;
	letter-spacing: 0.5em;
	padding-right:1px;
}
*html  .AccountBFTcenter input{
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	padding-left: 5px;
	width: 240px;
	margin-left: 8px;
	background-color: #F7FFFF;
	border: 1px solid #B3D6E3;
	text-align: left;
	margin-bottom:-6px;
}
*html  .AccBFTName input{
	width:80px;
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	padding-left: 5px;
	margin-left: 8px;
	background-color: #F9FDFB;
	border: 1px solid #CDE7D8;
	text-align: left;
}

*html  .AccountBFTcenter select{
	font-family: "微軟正黑體";
	font-size: 15px;
	color: #000;
	padding-left: 5px;
	width: 85px;
	margin-left: 8px;
	background-color: #F7FFFF;
	border: 1px solid #B3D6E3;
	text-align: left;
	margin-bottom:-6px;
}
*html  .AccountBFTcenter li.acbfliColor{
	font-size: 15px;
	color: #000;
	font-family: "微軟正黑體";
	height: 35px;
	margin-top: 6px;
	background-color: #FFDFDF;
	padding-left: 5px;
	padding-top:6px;
	margin-bottom:5px;
}
*html  .AccountBFTcenter li.acbfSub2 input{
	width: 15px;
	padding-left: 3px;
	margin-left: 0px;
	margin-bottom:1px;
	margin-right:2px;
}
*html  .AccountBFTcenter li.acbfOtherli input{
	width: 15px;
	margin-right: 5px;
	padding-left: 3px;
	margin-bottom:1px;
	margin-right:2px;
}
*html  .AccountBFTcenter li.acbfli2 input{
	width: 15px;
	margin-right: 5px;
	padding-left: 3px;
	margin-bottom:1px;
	margin-right:2px;
}
*html  .AccountBFTcenter li.acbfGenderli input{
	width: 14px;
	margin-right: 3px;
	margin-left: 9px;
	padding-left: 3px;
	margin-bottom:1px;
}
*html .AcBFLocalTelep1{
	width:auto;
}
*html .AcBFLocalTelep1 input{
	width:45px;
}
*html .AcBFLocalTelep2{
	width:auto;
}
*html .AcBFLocalTelep2 input{
	width:169px;
}

/*------退貨流程調整-------*/
* html .ReturnRefundName input{/*----ie6-----*/
	width:171px;
	font-size: 16px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	height: 21px;
	padding-top: 2px;
	text-align: left;
	font-family: "微軟正黑體";
	margin-bottom:-5px;
	margin-top:8px;
}
* html .ReturnRefundIdCard input{
	width:111px;
	font-size: 16px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	height: 21px;
	padding-top: 2px;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom:-5px;
	margin-top:8px;
}
* html .ReturnRefundBank select{
	width:179px;
	font-size: 16px;
	padding-left: 2px;
	position: relative;
	top: 0px;
	text-align: left;
	height: 25px;
	line-height:28px;
	font-family: "微軟正黑體";
	margin-bottom:-5px;
	margin-top:8px;
}
* html .ReturnRefundNumber input{
	width:425px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
	margin-bottom:-5px;
	margin-top:3px;
}
* html .ReturnRefundPhone input{
	width:425px;
	font-size: 16px;
	height: 21px;
	padding-left: 5px;
	position: relative;
	top: -2px;
	padding-top: 2px;
	text-align: left;
	margin-bottom:-5px;
	margin-top:3px;
}
* html .ReturnConfirmLine {
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #7ea15e;
}
/*------退貨流程調整-------*/