﻿@charset "utf-8";
html, body, /*#wrap {height: 100%;}*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abs, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
	background:none repeat scroll 0 0 transparent;
	font-family:"Trebuchet MS", Trebuchet, Calibri, Tahoma, Arial, sans-serif, "微軟正黑體";
	font-size:100%;
	margin:0;
	outline:0 none;
	padding:0;
}
/*html {overflow-y:scroll;}*/
body > #wrap {
	height: auto;
	min-height: 100%;
	width: auto;
	background-color: #FFFFFF;
	background-repeat: repeat;
	background-position: 0 0;
}

#wrap {
	height: 100%;
	margin: 0 auto 0 auto;
	background-attachment: scroll;
	background-color: red;
	background-image: url(17LifeNewHomepage2_21.jpg);
	background-repeat: repeat;
	background-position: 0 0;
	background: #f5f3f4;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
 }
.clearfix {
	display:inline-block;
}
/* Hides from IE-mac \*/

* html .clearfix { height:100%;}
.clearfix {display: block;}
a:link{
	text-decoration: none;
	color: #666;
}
a:visited{
	text-decoration: none;
	color: #666;
}
a:hover{
	text-decoration: underline;
	color: #666;
}
a:active{
	color: #666;
	text-decoration: none;
}

.HomepageHeader {
	width:auto;
	height:110px;
	z-index:1;
	background-image: url(../images/17LifeNewHomepage2_01.jpg);
	background-repeat: repeat;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.Homepagemiddle {
	width:960px;
	height:110px;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.Homepage17lifeLOGO {
	width:155px;
	height:110px;
	z-index:1;
	background-image: url(../images/17LifeNewHomepage2_03.jpg);
	background-repeat: no-repeat;
}
.HomepageMarketingBn {
	width:490px;
	height:110px;
	z-index:1;
}
.HomepageLogin {
	width:180px;
	height:95px;
	z-index:1;
	text-align: right;
	color: #666;
}
.HomepageLine {
	width:100%;
	height:5px;
	z-index:4;
	background-image: url(../images/17LifeNewHomepage2_15.jpg);
	background-repeat: repeat-x;
}
.HomePagenavimain {
	width:960px;
	height:48px;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.HomePagenavippon {
	width:135px;
	height:48px;
	float: left;
	display: block;
	text-indent: -9999px;
	background-image: url(17LifeNewHomepage2_17.jpg);
	background-repeat: no-repeat;
}
.HomePagenavippon:hover {
	background-image: url(17LifeNewHomepage2_17Hov.jpg);
	border:0;
}
.HomePagenavimeal{
	width:135px;
	height:48px;
	float: left;
	display: block;
	text-indent: -9999px;
	background-image: url(17LifeNewHomepage2_18.jpg);
	background-repeat: no-repeat;
}
.HomePagenavimeal:hover {
	background-image: url(17LifeNewHomepage2_18Hov.jpg);
	border:0;
}

.Cityarea {
	position:fixed;
	width:50px;
	height:auto;
	z-index:4;
	left:0px;
	color: #FFF;
	text-align: center;
	font-size: 22px;
	top: 199px;
	background-image: url(../images/citybackground_AllContent.gif);
	background-repeat: repeat;
}
.Cityarea p {
	color: #FFF;
	text-align: center;
	font-size:22px;
	font-weight: bold;
}
.Cityarea td {
	color: #FFF;
	text-align: center;
	font-size:14px;
}

.Cityarea a:link{color:#FFF;text-decoration: none;font-size: 14px;}
.Cityarea a:visited{color:#FFF; text-decoration: none;font-size: 14px; }
.Cityarea a:hover{color:#FFF; text-decoration: underline; font-size: 14px;}
.Cityarea a:active{color:#FFF;text-decoration: none;font-size: 14px;}

.City {
	position:fixed;
	width:50px;
	height:auto;
	z-index:4;
	color: #FFF;
	text-align: left;
	font-size:18px;
	background-image: url(../images/citybackground_AllContent.gif);
	background-repeat: repeat;
	padding-top: 5px;
}

.CityTitle{
	font-size:22px;
	color: #FFF;	
}
.CityTop {
	width:50px;
	height:16px;
	z-index:4;
	background-image: url(../images/citybackground_AllTop.gif);
	background-repeat: no-repeat;
	position: fixed;
	top: 183px;
}
.CityBottom {
	width:50px;
	height:16px;
	z-index:4;
	background-image: url(../images/citybackground_AllBottom.gif);
	background-repeat: no-repeat;
	position: fixed;
	top: 552px;
}
.Homepagecenter {
	width:960px;
	height:auto;
	z-index:1;
	display: block;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow: hidden;
}
.HomePageLeft {
	width:600px;
	height:auto;
	z-index:4;
	float: left;
	display:inline;
}
.Footer {
	width:auto;
	height:auto;
	z-index:1;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 10px;
	background-color: #e8decd;
	clear: both;
}
.Footerarea {
	width:960px;
	height:auto;
	z-index:2;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.FooterBadgeText{
	TEXT-ALIGN: center;
	LINE-HEIGHT: 13pt;
	FONT-FAMILY: PMingLiU, Arial;
	COLOR: #666;
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
	width:100px;
	margin-top:3px;
}
.FooterBadgePic{
	margin-top:0;
	width:86px;
	border:1px solid #CCC;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.HomeshopPageRight {
	width:25px;
	height:25px;
	z-index:4;
	background-image: url(17LifeNewHomepage2_61.jpg);
	background-repeat: no-repeat;
	float: right;
	
}
.LifeTOPBanner {
	width:960px;
	height:auto;
	z-index:1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.LServiceImg1{
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: -4px;
	margin-left: 0px;
}
