@charset "UTF-8";
/*新光三越熟客卡條款 開始*/
.select-list-block {
	width: 160px;
	padding: 5px;
	display: none;
	margin: 0 auto;
	border: 1px solid #cdcdcd;
	background: #fff;
	text-align: left;
}
.select-list-block p.b-done {
	cursor: pointer;
	background: #bf0000;
	width: 60%;
	line-height: 30px;
	margin: 0 auto 5px;
	text-align: center;
	color: #fff;
	border-radius: 15px;
}
.select-list-block p.b-done:hover {
	background-color: #ed1c3a;
}
.select-list-block .b-cancel {
	color: #fff;
	font-size: 200%;
	background: #555;
	cursor: pointer;
	width: 40px;
	height: 40px;
	line-height: 47px;
	text-align: center;
	border-radius: 40px;
	right: -5px;
	top: -10px;
	right: -10px;
	position: absolute;
}
.select-list-block .b-cancel:hover {
	color: #eee;
}
.select-list-block .b-cancel i {
	line-height: 38px;
}
.data-input .popup_select_list {
	color: #08c;
}
/*新光三越熟客卡條款 結束*/
/*手機認證 開始*/
.select-list-block2 {
	width: 160px;
	padding: 5px;
	display: none;
	margin: 0 auto;
	border: 1px solid #cdcdcd;
	background: #fff;
	text-align: left;
}
.select-list-block2 p.b-done {
	cursor: pointer;
	background: #bf0000;
	width: 60%;
	line-height: 30px;
	margin: 0 auto 5px;
	text-align: center;
	color: #fff;
	border-radius: 15px;
}
.select-list-block2 p.b-done:hover {
	background-color: #ed1c3a;
}
.select-list-block2 .b-cancel {
	color: #fff;
	font-size: 200%;
	background: #555;
	cursor: pointer;
	width: 40px;
	height: 40px;
	line-height: 47px;
	text-align: center;
	border-radius: 40px;
	right: -5px;
	top: -10px;
	right: -10px;
	position: absolute;
}
.select-list-block2 .b-cancel:hover {
	color: #eee;
}
.select-list-block2 .b-cancel i {
	line-height: 38px;
}
.select-list-block2 {
	width: 40%;
	max-width: 400px;
}
.data-input .popup_select_list2 {
	color: #08c;
}
/*手機認證 結束*/

.select-list-block {
	width: 40%;
	max-width: 400px;
}
.select-list-block2 {
	width: 40%;
	max-width: 400px;
}
.select-list-block div.popup_topic {
	padding: 5px 5%;
	margin-bottom: 10px;
	width: 90%;
	text-align: center;
	color: #F00;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
}
.select-list-block2 div.popup_topic {
	padding: 5px 5%;
	margin-bottom: 10px;
	width: 90%;
	text-align: center;
	color: #F00;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
}
.select-list-block div.popup_content {
	padding: 0 5%;
	width: 90%;
	margin-bottom: 10px;
}
.select-list-block div.popup_content ol{
	list-style:decimal;
	padding-left:5%;
}
.select-list-block2 div.popup_content {
	padding: 0 5%;
	width: 90%;
	margin-bottom: 10px;
}

@media screen and (min-width: 1025px) and (max-width: 1110px) {
.select-list-block {
	width: 50%;
}
.select-list-block li {
	line-height: 40px;
}
}

@media screen and (min-width: 878px) and (max-width: 1024px) {
.select-list-block {
	width: 50%;
}
.select-list-block li {
	line-height: 40px;
}
}

@media screen and (min-width: 768px) and (max-width: 877px) {
.select-list-block {
	width: 60%;
}
.select-list-block li {
	line-height: 50px;
}
}

@media screen and (min-width: 481px) and (max-width: 767px) {
.select-list-block {
	width: 60%;
}
.select-list-block li {
	line-height: 50px;
}
}

@media screen and (max-width: 480px) {
.select-list-block {
	width: 60%;
}
.select-list-block li {
	line-height: 44px;
	font-size: 120%;
}
.p3footer {
	clear: both;
}
}
