@charset "utf-8";
/* CSS Document */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
 }
.fq-was{color: #bf0000;}
.fq_box {
	width:100%;
	height: auto;
	border: 1px solid #CDCDCD;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); 
	background: url(../images/faq-bg.jpg)  top right repeat-y;
	border-radius: 3px;
	display: table;
	margin-top: 20px;
	margin-bottom: 30px;
	display: inline-block;
}
.fq-Lbox {
	width:673px;
	float: left;
	height: auto;
	padding: 50px 31px 10px 31px; 
	background: #fff;
}
.fq-Rbox{
	width: 225px;
	float: right;
	height: auto;
	padding-bottom: 100px;
	background: url(../images/FAQ-title.jpg) no-repeat top ;
}
.fq-Lbox h1.title { 
	color: #bf0000;
	width: auto;
	line-height: 45px;
	font-size: 21px;
	padding-left: 10px;
	padding-top: 5px;
	border-bottom: 1px solid #e4e4e4;
}
.fq-Rbox ul{ 
	margin-top: 5px;
	margin-bottom: 10px; 
	width: 100%; 
	height: auto;
	border-top: 1px solid #e4e4e4;	
}
.fq-Rbox li{ 
	border-bottom: 1px solid #e4e4e4;
	line-height: 24px;
	padding: 8px 11px 8px 20px;
    font-size: 14px;
    list-style-position: inside;
    cursor: pointer;
    color: #666;
}
.fq-Rbox li:hover{ 
	background: #fff;
    list-style-position: inside;
}
.fq-Rbox li.on{ 
	background: #fff;
	color: #bf0000;
    list-style-position: inside;
}
.fq-Rbox li a{
	display: block;
	color: #666;
}
.fq-Rbox li a:hover{ 
	background: #fff;
    list-style-position: inside;
    text-decoration: none;
}
.qtitle{ 
    width: auto;
    margin: 0 15px ;
    padding-bottom: 5px;
    border-bottom: 1px #b3b2b2 dashed;
    cursor: pointer;
}
.fq-inlbox .li_service_title{
	font-size: 20px;
	margin:5px 0 5px 10px;
	padding-left: 5px;
	/*border-bottom: 1px dashed #999;*/
	border-left: 4px solid #999;
}
.etitle{ 
    width: auto;
    margin: 0 15px;
    position: relative;
    border-bottom: 1px #b3b2b2 dashed;
    padding-bottom: 5px;
    cursor: pointer;
}
.etitle:hover, .qtitle:hover{ 
	background: #f4f4f3;
}
.fq-questionBOX { 
	width: 100%; 
	padding: 9px ; 
	border-bottom: 1px solid #dbdbdb;
}
.fq-qtitle { 
	cursor: pointer;
	font-size: 15px;
	padding: 3px 0;
	background: url(../images/arrow_black_up.png) right center no-repeat;
}
.fq-info{
	font-size: 14px;
	margin: 10px auto 5px auto;
	line-height: 23px;
	height: auto; 
}
.fq-info p{ margin: 8px 0;}
.fq-info img{
	max-width: 85%;
	margin: 5px auto 15px auto;
}
.fq-info a {color:#0088CC;}
.fq-topKeyword{ 
	width: 100%; 
	height: auto;
	float: left;
	padding: 63px 0 20px 10px;
}
.fq-Keywordbox{ 
	width: auto; 
	float: left; 
	padding: 2px 2px 2px 15px;
	font-size: 14px;
	margin-right: 20px;
	background: url(../images/FAQ_star.jpg) left  no-repeat;
	border-bottom: solid 1px #fff;
	cursor: pointer;
}

.fq-Keyword-on, .fq-Keywordbox:hover  {  border-bottom: solid 1px #505050; }
.fq-inlbox{ 
	width: auto;
    margin: 140px auto 0 auto;
}
.fq-inlbox a.link_img {
	padding: 0px 0 15px 20px;
	text-decoration: none;
	color: #666;
	font-size: 14px;
	cursor: pointer;
	display: block;
	width: 180px;
}
.fq-inlbox a.link_img img{
	box-shadow: 0px 0px 3px #999;
}
.fq-inlbox a.link_img:hover{
	color: #1B92EE;
}
.fq-inlbox a.link_img p{
	padding: 5px 0 0 0;
}
.fq-mailinf{
	background: #fff; 
	line-height: 33px;
	width: 195px;
    padding: 2px 0 7px 0;
    margin: 10px auto;
    text-align: center;
}

.faq-img-smlbox { width: 100%; }
.faq-img-smlbox  img{ width: 33%; }
.fq-phonebox{ width: 100%; display: inline-block; margin-top: 20px;}
.fq-ph-btnbox{ float: left; width:25%; margin-top: 28px; margin-left: -45px;}
.fq-btn{ 	
	border-radius: 7px;
	border: 1px solid #fff;
	cursor: pointer;
	color: #fff;
	width: 100px; 
	padding: 10px 15px; 
	margin: 6px auto;
	text-align: center;
	font-size: 17px;
	box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15);
	background:linear-gradient(top,#535353, #343434 );
    background:-moz-linear-gradient(top,#535353, #343434 );
    background:-webkit-linear-gradient(top,#535353, #343434 );
    background-image: -ms-linear-gradient(top, #535353 0%, #343434 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='535353', endColorstr='#343434',GradientType=0 );
}
.fq-btn:hover{ 

	background:linear-gradient(top,#DF0000, #BF0000 );
    background:-moz-linear-gradient(top,#DF0000, #BF0000 );
    background:-webkit-linear-gradient(top,#DF0000, #BF0000 );
    background-image: -ms-linear-gradient(top, #DF0000 0%, #BF0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='DF0000', endColorstr='#BF0000',GradientType=0 );
}
.fq-phonePic{ float: left; margin-left: 40px; width: 290px; height: 500px; display: inline-block;}
.fq-mpapic{ width:103px; height: 65px; background: url(faq-mappic.png); float: left; margin: 80px 0 0 -57px;}

.fq-r-text, .fq-r-maltext{
	width: 170px;
	font-size: 12px; 
	text-align: left; 
	display: inline-block; 
	line-height: 17px;
	margin: 5px auto;
	padding-top: 7px;
}
.fq-r-maltext{ 
	margin-top: 15px;
	border-top: 1px dashed #B3B2B2;
	padding-top: 10px;
}
.fq-r-text img{ width: 22px; margin: 0 2px -1px 0;}
.linetop{ border-top: 1px dashed #B3B2B2; margin-top: }

.ui-state-default { border: none; color: #000000; }

.ui-state-active, .ui-widget-content { border: none; color:#000000;}

.ui-widget-content { background:none;}

/*rwd版的側邊欄*/
.rwd_service_wrap{
	display: none;
}
/*rwd版的"回客服首頁"*/
a.rwd_btn_service_list{
	display: none;
}


