﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.BizLogic.Facade;
@model List<ViewPponDeal>
@{
    ViewPponDeal mainDeal = Model.FirstOrDefault();
    ViewProposalSeller vps = (ViewProposalSeller)ViewBag.ViewProposalSeller;
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>文字稿預覽</title>
    @*此頁內容要在Email中顯示，所以css必須寫在html裡，不允許定義在外部*@
</head>
@*
<p>提案單：<a target="_blank" href="@ViewBag.ProposalLink">@Html.Raw(ViewBag.ProposalLink)</a></p>
*@
<div id="dialogContent">
    <table id="previewMainTable" style="border-collapse: collapse;">
        <tbody>
            <tr>
                <td style="border: 1px solid black;text-align: right;width: 150px;padding-right: 15px;">品牌</td>
                <td class="checkFilled" style="border: 1px solid black;">@vps.BrandName</td>
            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td style="border: 1px solid black;text-align: right;width: 150px;padding-right: 15px;"><font color="red"><b>@ColumnDesc("方案", i)</b></font></td>
                    <td class="checkFilled" style="border: 1px solid black;">@PponFacade.PponNewContentGetByDeal(Model[i])</td>
                </tr>
                if (Model[i].DeliveryType == (int)DeliveryType.ToShop)
                {
                    if (i == 0)
                    {
                    <tr>
                        <td style="border: 1px solid black;text-align: right;width: 150px;padding-right: 15px;">@ColumnDesc("權益說明", i)</td>
                        <td class="checkFilled" style="border: 1px solid black;">@Html.Raw(Model[i].Restrictions)</td>
                    </tr>
                    }
                }
                else
                {
                    if (i == 0)
                    {
                        @*※宅配的檔次，權益說明只要顯示母檔的*@
                        <tr>
                            <td style="border: 1px solid black;text-align: right;width: 150px;padding-right: 15px;">權益說明</td>
                            <td class="checkFilled" style="border: 1px solid black;">@Html.Raw(Model[i].Restrictions)</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black;text-align: right;width: 150px;padding-right: 15px;">規格功能/主要成份</td>
                            <td class="checkFilled" style="border: 1px solid black;">@Html.Raw(Helper.NewLineToBr(vps.ProductSpec))</td>
                        </tr>
                        @PrintSpecialFlagText(vps)
                    }
                }
            }
            @if (Model.FirstOrDefault().DeliveryType == (int)DeliveryType.ToShop)
            {
            <tr>
                <td style="border: 1px solid black;text-align: right;width: 150px;padding-right: 15px;">店家資訊</td>
                <td class="checkFilled" style="border: 1px solid black;">
                    @{ Html.RenderAction("StoreInformation", "Ppon", mainDeal); }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@*後台操作介面才需要render的html與javascript*@
@if (Convert.ToBoolean(ViewBag.IsPreviewInterface))
{
    <hr />
    <div class="botDiv" style="text-align: right;">
        <span id="alrtMsg" style="float:left;color:red;display:none;"></span>
        <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all" onclick="cancelPreview();" value="取消" />
        <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all" onclick="cancelPreview();" value="確認" />
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            if (@Model.FirstOrDefault().BusinessHourOrderTimeS.ToString("yyyy") != "9999") {                
                sendPageMail();
            }
        });

        function cancelPreview() {
            $('#previewDialog').dialog('close');
        }

        function sendPageConfirmMail() {
            $.ajax({
                url: "@Url.Action("SendSetupPageConfirmMail", "PponSetup")",
                method: "POST",//1.9.0
                type: "POST",//prior 1.9.0
                data: {
                    bid: '@mainDeal.BusinessHourGuid',
                    isMultiDeal: ('@ViewBag.IsMultiDeal' == 'True')
                },
                dataType: "json",//expected
                success: function (data) {
                    alert(data.Message);
                    if (data.Success) {
                        $('#previewDialog').dialog('destroy');
                        $('#previewDialog').remove();
                    }
                },
                error: function () {
                }
            });
        }

        function sendPageMail() {
            $.ajax({
                url: "@Url.Action("SendSetupPageMail", "PponSetup")",
                method: "POST",//1.9.0
            type: "POST",//prior 1.9.0
            data: {
                bid: '@mainDeal.BusinessHourGuid',
                isMultiDeal: ('@ViewBag.IsMultiDeal' == 'True')
            },
            dataType: "json",//expected
            success: function (data) {
                alert(data.Message);
                /*
                if (data.Success) {
                    $('#previewDialog').dialog('destroy');
                    $('#previewDialog').remove();
                }
                */
            },
            error: function () {
            }
        });
        }

        function ShowUnfilledColumnHint() {
            var column = [];
            $.each($('.checkFilled'), function () {
                var content = $.trim($(this).text());
                if (content == "") {
                    var columnName = $(this).parent('tr').children('td:first').text();
                    column.push(columnName);
                }
            });
            if (column.length != 0) {
                $('#alrtMsg').text("「" + column.join("、") + "」尚未填寫！").show();
            }
        }
    </script>
}
@helper ColumnDesc(string text, int index)
{
if (ViewBag.IsMultiDeal)
{
    text += (index == 0) ? "(母)" : "(子)";
}
    @Html.Raw(text)
}
@helper PrintSpecialFlagText(ViewProposalSeller vps)
{
SellerProposal sellerProposal = new SellerProposal();
try
{
    sellerProposal = new JsonSerializer().Deserialize<SellerProposal>(vps.SpecialFlagText);
}
catch (Exception)
{ }
if (Helper.IsFlagSet(vps.SpecialFlag, ProposalSpecialFlag.Beauty))
{
    <tr>
        <td style="border: 1px solid black;text-align: right;width: 150px;padding-right: 15px;">醫療/妝廣字號</td>
        <td class="checkFilled" style="border: 1px solid black;">@Html.Raw(Helper.NewLineToBr(sellerProposal.Beauty))</td>
    </tr>
}
if (Helper.IsFlagSet(vps.SpecialFlag, ProposalSpecialFlag.ExpiringProduct))
{
    <tr>
        <td style="border: 1px solid black;text-align: right;width: 150px;padding-right: 15px;">即期品</td>
        <td class="checkFilled" style="border: 1px solid black;">@Html.Raw(Helper.NewLineToBr(sellerProposal.ExpiringProduct))</td>
    </tr>
}
if (Helper.IsFlagSet(vps.SpecialFlag, ProposalSpecialFlag.InspectRule))
{
    <tr>
        <td style="border: 1px solid black;text-align: right;width: 150px;padding-right: 15px;">檢驗規定</td>
        <td class="checkFilled" style="border: 1px solid black;">@Html.Raw(Helper.NewLineToBr(sellerProposal.InspectRule))</td>
    </tr>
}
}