﻿<%@ Page Title="" Language="C#" MasterPageFile="~/piinlife/hideal.Master" AutoEventWireup="true" CodeBehind="WhitelistGuide.aspx.cs" Inherits="LunchKingSite.Web.piinlife.member.WhitelistGuide" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ScriptContent" runat="server">
    <link rel="stylesheet" type="text/css" href="<%#ResolveUrl("~/Themes/HighDeal/images/AboutPolicy/AboutPolicy.css")%>"/>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="SMC" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    <section class="AboutPolicy">

        <article class="whitelistguide">
            <h1>將信件設定為非垃圾信件</h1>
            <hr width="840px" class="Line"></hr>

            <div class="whitelistguideDetail">   
                  <img src="<%=ResolveUrl("~/Themes/HighDeal/images/AboutPolicy/whitelistguide.jpg")%>" width="700" height="1789"></div>
        </article>
    </section>
</asp:Content>
