﻿@using LunchKingSite.BizLogic.Model.API
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.DataOrm
@using LunchKingSite.Core
@using LunchKingSite.Core.Component

@{
    CurationsByTheme themeList = ViewBag.ThemeList;
    ThemeCurationMain theme = ViewBag.Theme;
    var config = ProviderFactory.Instance().GetConfig();
    var pp = ProviderFactory.Instance().GetDefaultProvider<IPponProvider>();

    string pageTitle = " ";
    string OgUrl = "";
    string OgImage = "";
    string MobileCategoryImage = "";
    string mobileCss = "";
    string imgMainUrl = "";
    string Share_FB_Url = "";
    string Share_Line_Url = "";
    string FbShareTitle = "";
    string todayHotName = "";

    OneDayCuration todayList = null;
    List<OneDayCuration> allList = null;
    List<ThemeCurationInfo> todayBannerList = null;
    bool isMainVisible = false;
    bool isSubVisible = false;
    if (themeList != null)
    {
        if (ViewBag.IsThemeOnline)
        {
            pageTitle = theme.Title + config.DefaultTitle;
            imgMainUrl = ImageFacade.GetMediaPath(theme.MobileMainImage, MediaType.ThemeImage); //主視覺
            OgUrl = string.Format("{0}/exhibitionlistmobile?id={1}", config.SiteUrl, theme.Id);
            OgImage = (!string.IsNullOrEmpty(theme.FbShareIamge)) ? ImageFacade.GetMediaPath(theme.FbShareIamge, MediaType.ThemeImage) : imgMainUrl; //FB分享圖
            MobileCategoryImage = (!string.IsNullOrEmpty(theme.MobileCategoryImage)) ? ImageFacade.GetMediaPath(theme.MobileCategoryImage, MediaType.ThemeImage) : "";
            mobileCss = (!string.IsNullOrEmpty(theme.CssStyle)) ? theme.CssStyle.Split("@")[1] : "";
            FbShareTitle = theme.FbShareTitle;
            Share_FB_Url = string.Format("https://www.facebook.com/dialog/share?app_id={0}&display=popup&href={1}&redirect_uri={2}",
                                    config.FacebookShareAppId,
                                    HttpUtility.UrlEncode(OgUrl),
                                    HttpUtility.UrlEncode(config.SiteUrl + Request.RawUrl));
            Share_Line_Url = string.Format("http://line.naver.jp/R/msg/text/?{0}%0D%0A{1}", FbShareTitle, OgUrl);

            todayList = themeList.TodayCurations;
            if (todayList != null && todayList.IsActive)
            {
                todayHotName = todayList.GroupName;
                todayBannerList = todayList.Curations;
            }

            allList = themeList.AllCurations.Where(x => !x.IsTopGroup && x.IsActive).ToList();
            isMainVisible = true;
        }
        else
        {
            isSubVisible = true;
        }
    }
    else
    {
        isSubVisible = true;
    }

}
    <title>@pageTitle</title>
    <meta property="fb:app_id" content="@config.FacebookApplicationId">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@FbShareTitle" />
    <meta property="og:url" content="@OgUrl" />
    <meta property="og:site_name" content="17Life" />
    <meta property="og:image" content="@OgImage" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <link rel="image_src" href="@OgImage" />
    <link rel="canonical" href="@OgUrl" />

    <link href="~/Themes/PCweb/css/RDL-L.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/css/RDL-M.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/css/RDL-S.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/mobile/css/swiper.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/mobile/css/style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Themes/mobile/js/script.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.nav.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.lazyload.min.js"></script>

    <script type='text/javascript'>
        $(document).ready(function () {
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                slidesPerView: 1,//1
                paginationClickable: true,
                spaceBetween: 10,//10
                loop: false,
                autoplay: 3500,
                autoplayDisableOnInteraction: false
            });

            $("img.lazy").lazyload({ placeholder: "https://www.17life.com/Themes/PCweb/images/ppon-M1_pic.jpg", threshold: 200, effect: "fadeIn" });

            $('.nav-anchor').onePageNav({
                currentClass: 'current',
                changeHash: false,
                scrollSpeed: 750,
                scrollThreshold: 0.5,
                filter: ':not(.external)',
                easing: 'swing',
                begin: function () {
                    //I get fired when the animation is starting
                },
                end: function () {
                    //I get fired when the animation is ending
                },
                scrollChange: function ($currentListItem) {
                    //I get fired when you enter a section and I pass the list item of the section
                },
            });

            //調整浮動選單TOP位置
            $(function () {
                $('a[href*="#"]:not([href="#"])').click(function () {
                    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            $('html, body').animate({
                                scrollTop: target.offset().top - 100
                            }, 1000);
                            return false;
                        }
                    }
                });
            });

            ////浮動選單
            $('#btnBackTop').remove();
            $(window).scroll(function () {
                if ($(document).scrollTop() >= 200) {
                    $('.header_wrapper_fixed').show();
                } else {
                    $('.header_wrapper_fixed').hide();
                }
            });

            //調整masterpage造成的影響
            $(".p3footer").addClass('clearfix');
            $("#target").hide();
        });
    </script>


<style>
    .content_exhibition_active_list p.horizontal_line{
        background: url('@MobileCategoryImage'); /*分類底圖*/
        background-repeat:no-repeat; /*不要動*/
        background-size:contain;     /*不要動*/
        background-position:center;  /*不要動*/
    }
    @( Helper.RemoveHtmlTagButImg(mobileCss))
</style>

@{
    if (isMainVisible)
    {
        var themeIndex = 1;
        <div class="content_exhibition_active_list">
            <div class="header_wrapper_fixed" style="display:none;">
                <div class="top_wrap">
                    <ul class="nav-anchor">
                        @if (todayHotName != "")
                        {
                            <li class="current" id="liNavToadayHot"><a href="#mobile_index_0">@todayHotName</a></li>
                        }
                        @if (allList != null)
                        {
                            var themeNavIndex = 1;
                            foreach (var nav in allList)
                            {
                                <li class="@((themeNavIndex == 1 && todayHotName == "") ? "current" : "")">
                                    <a href="#mobile_index_@themeNavIndex.ToString()">@nav.GroupName</a>
                                </li>
                                themeNavIndex += 1;
                            }
                        }
                    </ul>
                </div>
            </div>
            <!--// 策展列表主視覺bn //-->
            <div class="main_bn">
                <ul style="@( ViewBag.IsApp ? "display:none;" : "" )">
                    <li>
                        <a href='javascript:void(0)' class='coupon_share_on'>
                            <i class='fa fa-share-alt  fa-lg fa-fw'></i>
                            <i class='fa fa-close  fa-lg fa-fw' style='display:none;'></i>
                        </a>
                    </li>
                    <li>
                        <a href='@Share_FB_Url' target='_blank' class='coupon_share_fb' style='display:none;'>
                            <img src='https://www.17life.com/images/17P/active/store/icon_fb.png' />
                        </a>
                    </li>
                    <li>
                        <a href='@Share_Line_Url' target='_blank' class='coupon_share_line' style='display:none;'>
                            <img src='https://www.17life.com/images/17P/active/store/icon_line.png' />
                        </a>
                    </li>
                </ul>
                <a href="ExhibitionListRule.aspx?id=@theme.Id">
                    <img class="lazy" src="@imgMainUrl" />
                </a>
            </div>
            <!--// 策展列表主視覺bn //end-->
            <!--//  今日輪播區域 //-->

            @if (todayBannerList != null)
            {
                <!--// 今日輪播banner// -->
                <div class="bn_today_wrap">
                    <p id="mobile_index_0" class="horizontal_line">
                        <i class="fa fa-bullhorn fa-fw"></i>@todayHotName
                    </p>
                    <div class="banner">
                        <!-- 如果需要导航按钮 -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                @foreach (var tbanner in todayBannerList)
                                {
                                    <div class="swiper-slide">
                                        <div class="item_block" style="display: @(tbanner.IsActive ? "none" : "block")">
                                            <img src="https://www.17life.com/images/17P/active/20161111_exhibition/item_block.png" />
                                        </div>
                                        <a href="@tbanner.CurationLink">
                                            <img src="@tbanner.ImageUrl" class="lazy" />
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--// 今日輪播區域 //end-->
            }
            <!--// maincontent 主要內容//-->
            <div class="maincontent banner_list">
                @foreach (var oneDayCurations in @allList)
                {
                    <p id="mobile_index_@themeIndex.ToString()" class="horizontal_line">@oneDayCurations.GroupName</p>

                    <!--// 分類 //-->
                    <ul>
                        @foreach (var sub in @oneDayCurations.Curations.Where(x => x.ShowInWeb))
                        {
                            <li>
                                <div class="item_block" style="display: @(sub.IsActive ? "none" : "block")">
                                    <img src="https://www.17life.com/images/17P/active/20161111_exhibition/item_block.png" />
                                </div>
                                <a href="@sub.CurationLink">
                                    <img src="@sub.ImageUrl" class="lazy" />
                                </a>
                            </li>
                        }
                    </ul>
                    <!--// 分類 //end-->
                    themeIndex += 1;
                }
            </div>
            <!--// maincontent 主要內容//end-->
            <!--// content 內容區塊//end-->
        </div>
    }

    if (isSubVisible)
    {
        <div class="content_exhibition_list">
            <div class="main_bn">
                <div class="ly-e-cop-ppon">本活動已經結束囉</div>
            </div>
        </div>
    }
}

<script type='text/javascript'>

    //分享
    $(function () {
        var flag_share = 0; //未點擊
        $(".main_bn a.coupon_share_on").click(function () {
            if (flag_share == 0) {
                $(this).find(".fa-share-alt").css("display", "none");
                $(this).find(".fa-close").css("display", "inline-block");
                $('a.coupon_share_line').css("display", "block");
                $('a.coupon_share_fb').css("display", "block");
                $('a.coupon_share_line').animate({
                    "bottom": "25px",
                    "right": "70px"
                }, 200, "easeOutExpo");
                $('a.coupon_share_fb').animate({
                    "bottom": "70px",
                    "right": "25px"
                }, 200, "easeOutExpo");
                flag_share = 1;
            } else {
                $(this).find(".fa-share-alt").css("display", "inline-block");
                $(this).find(".fa-close ").css("display", "none");
                $('a.coupon_share_line').css("display", "none");
                $('a.coupon_share_fb').css("display", "none");
                $('a.coupon_share_line').animate({
                    "bottom": "10px",
                    "right": "10px"
                }, 200, "easeOutExpo");
                $('a.coupon_share_fb').animate({
                    "bottom": "10px",
                    "right": "10px"
                }, 200, "easeOutExpo");
                flag_share = 0;
            }
        });
    });
</script>