﻿@using LunchKingSite.DataOrm
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.Core.Models
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.WebLib.Models.Ppon
@using LunchKingSite.WebLib.Models.Mobile
@using LunchKingSite.I18N
@using System.Text.RegularExpressions
@using System.Text

@{
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
    var config = ProviderFactory.Instance().GetConfig();
    var pp = ProviderFactory.Instance().GetDefaultProvider<IPponProvider>();


    string pageTitle = " ";
    string OgUrl = "";
    string OgImage = "";
    string FbShareTitle = "";
    string jsContentIds = "";
    string nsContentIds = "";
    string BgCss = "";
    string Share_FB_Url = "";
    string Share_Line_Url = "";
    string imgMobileRelay = "";
    string mobileMainPicImageUrl = "";
    int BrandId = 0;
    string Rsrc = "";
    bool EventAlive = true;
    bool DiscountPageShow = false;
    bool IsShowActDesc = false;
    Uri LatestUrl = HttpContext.Current.Request.UrlReferrer;

    string LoginUrl = string.Format("{0}?ReturnUrl={1}",
                                    FormsAuthentication.LoginUrl,
                                    Server.UrlEncode(Request.Url.AbsoluteUri));

    bool isVisible = ViewBag.IsBrandOnline;
    Brand brand = ViewBag.Brand;
    List<ViewBrandCategory> brandItemList = ViewBag.BrandItemList;
    var p = ViewBag.PreView;
    BrandId = brand.Id;
    Rsrc = brand.Cpa;
    jsContentIds = PponFacade.GetBrandDealBid(brand, (int)FacebookPixelCode.JsCode);
    nsContentIds = PponFacade.GetBrandDealBid(brand, (int)FacebookPixelCode.NsCode);

    bool isItemShow = false;
    string litItemTabs = "";
    List<IGrouping<int?, ViewBrandCategory>> SubGroupList = null;
    List<MobileMainDealModel> model = new List<MobileMainDealModel>();

    if (brandItemList != null && brandItemList.Count > 0)
    {
        pageTitle = brand.BrandName + config.DefaultTitle;

        DateTime now = DateTime.Now;
        string bgstyle = string.Empty;
        if (!string.IsNullOrEmpty(brand.Bgpic))
        {
            bgstyle += "url(" + brand.Bgpic + ") ";
        }

        if (!string.IsNullOrEmpty(brand.Bgcolor))
        {
            bgstyle += "#" + brand.Bgcolor;
        }
        BgCss = bgstyle;

        if (string.IsNullOrEmpty(brand.Description) || brand.Description == "\r\n")
        {
            IsShowActDesc = false;
        }
        else
        {
            IsShowActDesc = true;
        }

        var shareFbTitle = "";
        var shareLineTitle = "";
        if (!string.IsNullOrEmpty(brand.DiscountList))
        {
            shareFbTitle = string.Format("{0}（可領取折價折價券）", brand.BrandName);
            shareLineTitle = string.Format("Ｈi！我在17life 看到不錯的優惠活動，分享給你喔！ %0D%0A %0D%0A{0}（可領取折價折價券）:%0D%0A{1}", brand.BrandName, HttpUtility.UrlEncode(PromotionFacade.GetCurationTwoLink(brand)));
            DiscountPageShow = true;
        }
        else
        {
            shareFbTitle = string.Format("{0}（商品破盤價）", brand.BrandName);
            shareLineTitle = string.Format("Ｈi！我在17life 看到不錯的優惠活動，分享給你喔！ %0D%0A %0D%0A{0}（商品破盤價）:%0D%0A{1}", brand.BrandName, HttpUtility.UrlEncode(PromotionFacade.GetCurationTwoLink(brand)));
            DiscountPageShow = false;
        }
        FbShareTitle = shareFbTitle;


        //顯示可領取的折價券
        if (!string.IsNullOrEmpty(brand.DiscountList))
        {
            if (!string.IsNullOrEmpty(brand.MobileRelayImage))
            {
                imgMobileRelay = ImageFacade.GetMediaPath(brand.MobileRelayImage, MediaType.DealPromoImage);
            }
        }

        //==============策展 item 區塊 start
        if ((brand.Status && brand.StartTime <= now && brand.EndTime >= now) || p == "show_me_the_preview")
        {
            isItemShow = true;
        }
        else
        {
            isVisible = false;
        }
        SubGroupList = brandItemList.GroupBy(x => x.BrandItemCategoryId).OrderBy(x => x.First().BrandItemCategorySeq).ToList();
        StringBuilder sbItems = new StringBuilder();
        foreach (var tab in SubGroupList)
        {
            sbItems.AppendFormat("<li><a href='#tabs-{0}'>{1}</a></li>", tab.Key.ToString(), tab.First().CategoryName);
        }
        litItemTabs = sbItems.ToString();
        //==============策展 item 區塊 end

        string tempMobileMainPic = ImageFacade.GetHtmlFirstSrc(brand.MobileMainPic);
        if (tempMobileMainPic == string.Empty) { tempMobileMainPic = brand.MobileMainPic; }
        mobileMainPicImageUrl = ImageFacade.GetMediaPath(tempMobileMainPic, MediaType.DealPromoImage);

        var mainPicImageUrl = Regex.Match(brand.MainPic, "<img.+?src=[\"'](.+?)[\"'].*?>", RegexOptions.IgnoreCase).Groups[1].Value;
        OgImage = (!string.IsNullOrEmpty(brand.FbShareImage)) ? ImageFacade.GetMediaPathsFromRawData(brand.FbShareImage, MediaType.DealPromoImage).First() : mainPicImageUrl;

        var link = PromotionFacade.GetCurationTwoLink(brand);
        Share_FB_Url = string.Format("https://www.facebook.com/dialog/share?app_id={0}&display=popup&href={1}&redirect_uri={2}",
            config.FacebookShareAppId,
            HttpUtility.UrlEncode(link),
            HttpUtility.UrlEncode(link)
        );

        //%0D%0A 為LINE的換行符號
        Share_Line_Url = string.Format("http://line.naver.jp/R/msg/text/?{0}", shareLineTitle);

        OgUrl = link;

        isVisible = true;
    }
    else
    {
        isVisible = false;
    }
}
@section AdditionalMeta
{
    <title>@pageTitle</title>
    <meta property="fb:app_id" content="@config.FacebookApplicationId">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@FbShareTitle" />
    <meta property="og:url" content="@OgUrl" />
    <meta property="og:site_name" content="17Life" />
    <meta property="og:image" content="@OgImage" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <link rel="image_src" href="@OgImage" />
    <link rel="canonical" href="@OgUrl" />
}

@section CSS {
    <link href="/themes/PCweb/css/RDL-L.css" rel="stylesheet" type="text/css" />
    <link href="/themes/PCweb/css/RDL-M.css" rel="stylesheet" type="text/css" />
    <link href="/themes/PCweb/css/RDL-S.css" rel="stylesheet" type="text/css" />
    <link href="/Themes/mobile/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/themes/Default/images/17Life/G2/A3-event_coupons.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .center {
            margin-top: 0px; /*調整masterpage造成的影響*/
        }
    </style>
}

@section SSC {
    <script type="text/javascript" src="/Tools/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="/Tools/js/jquery.nav.js"></script>
    <script type="text/javascript" src="/Tools/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="/Tools/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/Themes/PCweb/plugin/jquery.bxslider.js"></script>
    <script type="text/javascript" src="/Tools/js/jquery.lazyload.min.js"></script>
    <script src="/Tools/js/jquery.mousewheel.min.js" type="text/javascript"></script>
    <script src="/Tools/js/jquery.kinetic.min.js" type="text/javascript"></script>
    <script src="/Tools/js/TweenMax.min.js" type="text/javascript"></script>
}


@{
    <input id="hidEventAlive" type="hidden" value="@EventAlive" />

    if (isVisible)
    {
        <div id="brandEventContent" class="content_store">
            <!--// 主圖bn //-->
            <div class="store_bn">
                <ul>
                    <li>
                        <a href="javascript:void(0)" class="coupon_share_on">
                            <i class="fa fa-share-alt  fa-lg fa-fw"></i>
                            <i class="fa fa-close  fa-lg fa-fw" style="display:none;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Share_FB_Url" target="_blank" class="coupon_share_fb" style="display:none;">
                            <img src="https://www.17life.com/images/17P/active/store/icon_fb.png" />
                        </a>
                    </li>
                    <li>
                        <a href="@Share_Line_Url" target="_blank" class="coupon_share_line" style="display:none;">
                            <img src="https://www.17life.com/images/17P/active/store/icon_line.png" />
                        </a>
                    </li>
                </ul>
                <img src="@mobileMainPicImageUrl" />
            </div>
            <!--// 主圖bn //end-->
            <div id="coupon_area" style="@( (DiscountPageShow==true) ? " ":" display:none;" )">
                <div class="coupon_img" onclick="block_coupon();">
                    <img src="@imgMobileRelay" />
                </div>
            </div>


            <div class="rdl-list-box clearfix" style="@( (IsShowActDesc) ? " ":" display:none")">
                <div class="rdl-Btn-box clearfix">
                    <div id="categoryBtn" class="rdl-list-Lbtn rdl-on">
                        團購優惠
                    </div>
                    <div id="conditionsBtn" class="rdl-list-Rbtn">活動辦法</div>
                </div>
            </div>

            <div id="dealContent" class="ly-e-cop-farme clearfix">
                <!--// tabs //-->
                <div id="tabsA">
                    <ul class="store_filter">
                        @Html.Raw(litItemTabs)
                    </ul>
                    <!--// maincontent 主要內容//-->
                    <div class="maincontent">
                        @if (isItemShow)
                        {
                            foreach (var SubGroup in SubGroupList)
                            {
                                <div id="tabs-@SubGroup.Key.ToString()">

                                    @{
                                        List<MultipleMainDealPreview> dealList = new List<MultipleMainDealPreview>();
                                        foreach (ViewBrandCategory vbc in SubGroup.ToList())
                                        {
                                            IViewPponDeal ppdeal = ViewPponDealManager.DefaultManager.ViewPponDealGetByBid(vbc.BusinessHourGuid);

                                            PponDealStage stage = ppdeal.GetDealStage();
                                            //已售完檔次自動排序最後
                                            if ((stage == PponDealStage.CouponGenerated || stage == PponDealStage.ClosedAndFail ||
                                                    stage == PponDealStage.ClosedAndOn) ||
                                                ppdeal.OrderedQuantity >= ((ppdeal.OrderTotalLimit.HasValue) ? ppdeal.OrderTotalLimit : 0))
                                            {
                                                vbc.Seq = 9999 + vbc.Seq;
                                            }

                                            if (!(ppdeal.BusinessHourOrderTimeE <= DateTime.Now) && !(ppdeal.GroupOrderStatus != null && Helper.IsFlagSet((long)ppdeal.GroupOrderStatus, GroupOrderStatus.Completed))) //已下檔、已結檔的不加入列表
                                            {
                                                //非已結檔，非已下檔的才顯示
                                                MultipleMainDealPreview mainDealPreview = new MultipleMainDealPreview(0, vbc.Seq, ppdeal, new List<int>(), DealTimeSlotStatus.Default, 0);
                                                dealList.Add(mainDealPreview);
                                            }
                                        }

                                        model = new MobileManager().GetMobileMainDeals(
                                           ViewPponDealManager.DefaultManager.SortMultipleMainDealPreview(dealList, CategorySortType.Default), PponCityGroup.DefaultPponCityGroup.TaipeiCity.CityId);

                                    }

                                    @foreach (var item in model)
                                    {
                                        <div class="dealcard">
                                            <a href="@item.Url">
                                                <div class="dealcard_left">
                                                    <div class="left_img">
                                                        <img class="soldout_img" src="https://www.17life.com/Images/17P/17topbn/17_soldout_260x260.png" style="@( item.IsSoldOut ? "" : "display:none" )">
                                                        <div class="activeLogo_img" style="@( string.IsNullOrEmpty(item.EventImgUrl) ? "display:none" : "" )">
                                                            @Html.Raw(!string.IsNullOrEmpty(item.EventImgUrl) ? item.EventImgUrl : "#")
                                                        </div>
                                                        <img src="@( !string.IsNullOrEmpty(item.AppPicUrl) ? item.AppPicUrl : item.PicUrl )">
                                                    </div>
                                                </div>
                                                <div class="dealcard_right">
                                                    <div class="dealcard_title">
                                                        <span class="title_location">@item.Location</span>
                                                        <span class="title_brand">@item.Title</span>
                                                        <span class="title_name">@item.Description</span>
                                                    </div>
                                                    <div class="dealcard_price">
                                                        <span class="price_discount">
                                                            @Html.Raw(item.DiscountString)
                                                        </span>
                                                        <span class="price_dealprice">
                                                            @Html.Raw(item.PriceString)
                                                        </span>
                                                        <span class="price_oriprice">
                                                            @Html.Raw(item.OrigPriceString)
                                                        </span>
                                                    </div>
                                                    <div class="dealcard_info" style="@( item.IsBankDeal ? "display:none" : "" )">
                                                        <div class="info_buyer">
                                                            @Html.Raw(item.BuyerString)
                                                        </div>
                                                        <ul class="info_tag">
                                                            @Html.Raw(item.TagsString)
                                                        </ul>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>

                    <!--// maincontent 主要內容//end-->
                </div>
                <!--// tabs //end-->
            </div>

            <div class="rdl-list-box" id="conditions" style="display: none">
                <div class="rdl-evn-pprule e_shadow">
                    <div class="rdl-ru-title">活動辦法</div>
                    <div class="rdl-ru-content">
                        @Html.Raw(brand.Description)
                    </div>
                </div>
            </div>

            <!--// content 內容區塊//end-->
        </div>
    }
    else
    {
        <div class="content_store">
            <div class="ly-e-cop-ppon piinlife rptTitle">本活動已經結束囉</div>
            <a href="/m">去看看其它好康</a>
        </div>
    }

    <div id="coupon_wrapper" style="display: none;">
        <div>
            @{
                if (BrandId != 0 && DiscountPageShow)
                {
                    Html.RenderAction("GetDiscountCode", "Event", new { brandId = BrandId });
                }
            }
        </div>
    </div>
}

<script type='text/javascript'>
        $(document).ready(function () {
            if ($("#hidEventAlive").val() == "False") {
                $("#brandEventContent").hide();
                $("#brandEventEnd").show();
            } else {
                $('#brandEventContent').attr("style", "@BgCss");
                $("#tabsA").tabs();
                ClickMenuOn();
            }

            //show 活動辦法
            var categoryBtn = $("#categoryBtn");
            var conditionsBtn = $("#conditionsBtn");
            categoryBtn.click(function () {
                categoryBtn.addClass("rdl-on");
                conditionsBtn.removeClass("rdl-on");
                $("#dealContent").show();
                $("#conditions").hide();
            });
            conditionsBtn.click(function () {
                conditionsBtn.addClass("rdl-on");
                categoryBtn.removeClass("rdl-on");
                $("#conditions").show();
                $("#dealContent").hide();
            });

            TweenMax.from($("#coupon_wrapper"), 0.1, { y: 0 , opacity: 0});
            TweenMax.to($("#coupon_wrapper"), 0.1, { y: window_height, opacity: 0 });
            $('.coupon_rule').addClass('last_div');

            var url = window.location.href.split('&');
            if ('@DiscountPageShow' == 'True' && @BrandId > 0 && url.length>1){
                setTimeout(function(){
                    block_coupon()
                }, 1500);
            }
            
            //調整masterpage造成的影響
            $("#target").hide();
            $("#tabsA").removeClass('ui-widget-content');
            $(".ui-tabs-anchor").css('text-decoration', 'none');
            $(".p3footer").addClass('clearfix');
        });

        var window_height = $(window).height();
        function block_coupon() {
            TweenMax.from($("#coupon_wrapper"), 0.5, { y: window_height, opacity: 1 });;
            TweenMax.to($("#coupon_wrapper"), 0.5, { y: 0, opacity: 1 });

            $.blockUI({
                message: $('#coupon_wrapper'),
                css: {
                    background: 'none',
                    border: 'none',
                    position: 'absolute',
                    width: '100%',
                    top: '0',
                    left: '0',
                }
            });

            $(".coupon_center").on("touchmove", function(event) {
                event.preventDefault;
            }, false);
        }

        function unblock_coupon_mb() {
            TweenMax.from($("#coupon_wrapper"), 0.5, { y: 0, opacity: 1 });;
            TweenMax.to($("#coupon_wrapper"), 0.5, { y: window_height, opacity: 0 });
            $(".coupon_center").off("touchmove");
            $.unblockUI();
        }

        function ClickMenuOn() {
            var eventUrl = (window.location.pathname + window.location.search).toLowerCase().replace("brandmobile.aspx", "brandevent.aspx");

            var itemList = $(".content_store ul.store_nav li a");
            $.each(itemList, function (i, item) {
                var href = item.href.substr(item.href.indexOf("?")).toLowerCase();
                if (eventUrl.indexOf(href) > 0) {
                    $(item).attr("class", "on");
                    $(item).focus();
                }
            });
        }

        //分享
        $(function () {
            var flag_share = 0; //未點擊
            $(".store_bn a.coupon_share_on").click(function () {
                if (flag_share == 0) {
                    $(this).find(".fa-share-alt").css("display", "none");
                    $(this).find(".fa-close").css("display", "inline-block");
                    $('a.coupon_share_line').css("display", "block");
                    $('a.coupon_share_fb').css("display", "block");
                    $('a.coupon_share_line').animate({
                        "bottom": "25px",
                        "right": "70px"
                    }, 200, "easeOutExpo");
                    $('a.coupon_share_fb').animate({
                        "bottom": "70px",
                        "right": "25px"
                    }, 200, "easeOutExpo");
                    flag_share = 1;
                } else {
                    $(this).find(".fa-share-alt").css("display", "inline-block");
                    $(this).find(".fa-close ").css("display", "none");
                    $('a.coupon_share_line').css("display", "none");
                    $('a.coupon_share_fb').css("display", "none");
                    $('a.coupon_share_line').animate({
                        "bottom": "10px",
                        "right": "10px"
                    }, 200, "easeOutExpo");
                    $('a.coupon_share_fb').animate({
                        "bottom": "10px",
                        "right": "10px"
                    }, 200, "easeOutExpo");
                    flag_share = 0;
                }
            });
        });

</script>

<script>
    //Facebook Pixel Code
    fbq('track', 'ViewCategory', {
        content_name: '@FbShareTitle',
        content_ids: [@Html.Raw(@jsContentIds)],
        content_type: 'product'
    });
</script>
<noscript>
    <img height="0" width="0" style="display:none" src="https://www.facebook.com/tr?id=274288942924758&ev=ViewCategory&cd[content_name]=@FbShareTitle&cd[content_ids]=@nsContentIds&cd[content_type]=product&noscript=1" />
</noscript>