﻿@using LunchKingSite.BizLogic.Model.API
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.DataOrm
@using LunchKingSite.Core
@using LunchKingSite.Core.Component

@{
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
    CurationsByTheme themeList = ViewBag.ThemeList;
    ThemeCurationMain theme = ViewBag.Theme;
    var config = ProviderFactory.Instance().GetConfig();
    var pp = ProviderFactory.Instance().GetDefaultProvider<IPponProvider>();

    string pageTitle = " ";
    string OgUrl = "";
    string OgImage = "";
    string MainSpacerImage = "";
    string MainBackgroundImage = "";
    string WebCategoryImage = "";
    string webCss = "";
    string imgMainUrl = "";
    string Share_FB_Url = "";
    string FbShareTitle = "";
    string todayHotName = "";
    OneDayCuration todayList = null;
    List<OneDayCuration> allList = null;
    List<ThemeCurationInfo> todayBannerList = null;
    bool isMainVisible = false;
    bool isSubVisible = false;
    if (themeList != null)
    {
        if (ViewBag.IsThemeOnline)
        {
            pageTitle = theme.Title + config.DefaultTitle;
            imgMainUrl = ImageFacade.GetMediaPath(theme.MainImage, MediaType.ThemeImage); //主視覺
            OgUrl = string.Format("{0}/exhibitionlist?id={1}", config.SiteUrl, theme.Id);
            OgImage = (!string.IsNullOrEmpty(theme.FbShareIamge)) ? ImageFacade.GetMediaPath(theme.FbShareIamge, MediaType.ThemeImage) : imgMainUrl; //FB分享圖
            MainSpacerImage = (!string.IsNullOrEmpty(theme.MainSpacerImage)) ? ImageFacade.GetMediaPath(theme.MainSpacerImage, MediaType.ThemeImage) : "";
            MainBackgroundImage = (!string.IsNullOrEmpty(theme.MainBackgroundImage)) ? ImageFacade.GetMediaPath(theme.MainBackgroundImage, MediaType.ThemeImage) : "";
            WebCategoryImage = (!string.IsNullOrEmpty(theme.WebCategoryImage)) ? ImageFacade.GetMediaPath(theme.WebCategoryImage, MediaType.ThemeImage) : "";
            webCss = (!string.IsNullOrEmpty(theme.CssStyle)) ? theme.CssStyle.Split("@")[0] : "";
            FbShareTitle = theme.FbShareTitle;
            Share_FB_Url = string.Format("https://www.facebook.com/dialog/share?app_id={0}&display=popup&href={1}&redirect_uri={2}",
                                    config.FacebookShareAppId,
                                    HttpUtility.UrlEncode(OgUrl),
                                    HttpUtility.UrlEncode(config.SiteUrl + Request.RawUrl));
            todayList = themeList.TodayCurations;
            if (todayList != null && todayList.IsActive)
            {
                todayHotName = todayList.GroupName;
                todayBannerList = todayList.Curations;
            }

            allList = themeList.AllCurations.Where(x => !x.IsTopGroup && x.IsActive).ToList();
            isMainVisible = true;
        }
        else
        {
            isSubVisible = true;
        }
    }
    else
    {
        isSubVisible = true;
    }

}
@section AdditionalMeta
{
    <title>@pageTitle</title>
    <meta property="fb:app_id" content="@config.FacebookApplicationId">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@FbShareTitle" />
    <meta property="og:url" content="@OgUrl" />
    <meta property="og:site_name" content="17Life" />
    <meta property="og:image" content="@OgImage" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <link rel="image_src" href="@OgImage" />
    <link rel="canonical" href="@OgUrl" />
}

@section CSS {
    <link href="/themes/PCweb/css/Rightside.css" rel="stylesheet" type="text/css" />
    <link href="/themes/PCweb/css/RDL-L.css" rel="stylesheet" type="text/css" />
    <link href="/themes/PCweb/css/RDL-M.css" rel="stylesheet" type="text/css" />
    <link href="/themes/PCweb/css/RDL-S.css" rel="stylesheet" type="text/css" />
    @LunchKingSite.Core.Helper.RenderCss("/Themes/PCweb/css/ppon_item.min.css")
}

@section SSC {
    <script type="text/javascript" src="~/Themes/PCweb/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="~/Themes/mobile/js/script.js"></script>
    <script type="text/javascript" src="/Tools/js/jquery.nav.js"></script>    
    <script type="text/javascript" src="~/Tools/js/jquery.lazyload.min.js"></script>
}

<style>
        /*行銷設計編輯用 配合主視覺banner調整*/
        body #wrap{
            background:center 91px no-repeat url('@MainSpacerImage'); /*大背景*/
        }
        .main_bn_wrap{
            background: url('@MainBackgroundImage')center no-repeat;/*主視覺banner背景(寬1920)*/
        }
        .exhibition_list_wrap .center_middle .horizontal_line {
            background: url('@WebCategoryImage'); /*分類底圖*/
            background-repeat:no-repeat; /*不要動*/
            background-size:contain;     /*不要動*/
            background-position:center;  /*不要動*/
        }
      @@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
           .function-menu-bar{
               width: auto;
               display:block;
           }
           .function-menu-bar .funtion-menu-block{
               width:100%;
           }
           .function-menu-bar .right-menu{
               margin-right: 0px;
           }
           .function-menu-bar .mc{
               display: block;
           }
           .header_wrap{
               display: none !important;
           }
           .mbe-menu #navi{
               width: 100%;
               display: block;
               margin: 20px 0 25px 0;
           }
           .mbe-menu #navimain{
               width: 100%;
               height: 30px;
           }
           #navimain .logo-inline{
               width: 15%;
               height: 60px;
               margin-top: -15px;
               margin-right: 10px;
               display:block;
           }
           #navimain .navbtn{
               display:block;
               font-size:12px;
           }
           #navimain li{
               width: 8%;
               height: 30px;
           }
           #navimain li img{
               display: none;
           }
           #navimain li .fr{
               /*width: 135px !important;*/
           }
           li .hot_icon, li .new_icon{
               margin-left:20px;
               margin-top: -12px;
           }
           .fr .search-block{
               display: block;
               margin-top: 2px;
               margin-left: -76px;
           }
           .search-block .search-bar{
               width: 88px;
               height: 22px;
           }
           .search-block .search-button{
               width: 38px;
               height: 26px;
           }
           .ch-itemdeli, .ch-beauty{
               display: block !important;
           }
           .bn_day_wrap{
               width: auto;
           }
           .bn_day_wrap .center_middle{
               width: 100%;
           }
           .bn_day_wrap .clearfix{
               width: auto;
           }
           .zitem{
               width:32% !important;
               margin: 0px 5px 10px 5px !important;
           }
           .p3footer .contentblock_300{
                width: 31.38%;
                padding-top: 20px;
                padding-left: 8px;
           }
           .p3footer .contentblock_180{
                width: 16.54%;
                padding-top: 20px;
                padding-left: 8px;
           }
           .p3footer .footer_logo{
                width: 72px;
                height: 48px;
                margin: 0px;
           }
           .p3footer .footer_logo image{
               width: 72px;
               height: 48px;
           }
           .p3footer p {
               font-size: 12px;
               text-align: left;
           }
           .p3footer .support_c{
               display:none;
           }
           .p3footer .part-17life, .p3footer .part-pez-cert, .p3footer .part-serivce{
               display: block;
           }
           .TP_17life, .TP_PEZ, .TP_Certification, .TP_Service, .TP_twService{
               width:120px;
               height:24px;
           }
           .p3footer .twService{
               height: 48px;
               width: 90%;
           }
           .p3footer .twService .twService-img{
               width: 55px;
               height: 48px;
               margin-right: 0px;
           }
           .p3footer .twService image{
               width: 43px;
               height: 40px;
           }
           .center{
               width: 100%;
               height: 0px;
               margin: 0px;
           }
           .nav-anchor{
               margin-left: 0px;
               right: 22px;
           }
      }    
      @( Helper.RemoveHtmlTagButImg(webCss))
</style>

<style type="text/css">
    .PPClose {
        width: 100%;
        height: 350px;
        background: url(../Themes/PCweb/images/CloseBG.png) no-repeat;
        display: block;
    }

    .PPComingSoon {
        width: 100%;
        height: 350px;
        background: url(../Themes/PCweb/images/CommingSoonBG.jpg) no-repeat;
        display: block;
    }

    .PPSpace {
        width: 100%;
        height: 187px;
        display: block;
    }

    .BackBtn {
        width: 286px;
        height: 76px;
        background: url(../Themes/PCweb/images/CloseBtn.png);
        margin-left: 445px;
        display: block;
    }
</style>

@{
    if (isMainVisible)
    {
        var themeIndex = 1;
        <!--// 策展列表頁面 //-->
        <div class="exhibition_list_wrap">
            <!--// 策展列表主視覺bn //-->
            <div class="main_bn_wrap clearfix">
                <div class="main_bn">
                    <!-- // fb // -->
                    <div class="fb">
                        <div class="LoveBlindFBShare">
                            <div class="LoveBlindShare">
                                <a href="@Share_FB_Url" target="_blank" class="LoveBlindShare">
                                    <img class="lazy" height="22" src="/images/17P/Promo/Love20131014/FB_Btn.png" width="147" />
                                </a>
                            </div>
                            <div class="LoveBlindFB" style="float: right; margin-right: 10px;">
                                <fb:like href="http://www.facebook.com/17life.17p" layout="button_count" show_faces="false"></fb:like>
                            </div>
                        </div>
                    </div>
                    <!-- // fb //end -->

                    <a href="ExhibitionListRule.aspx?id=@theme.Id" target="_blank" class="notice">
                        <img class="lazy" src="@imgMainUrl" />
                    </a>
                </div>
            </div>
            <!--// 策展列表主視覺bn //end-->
            <!--//  今日bn區域 //-->
            @if (todayBannerList != null)
            {
                <div id="list_00" class="bn_day_wrap bn_day_wrap_today">
                    <div class="center_middle">
                        <p class="horizontal_line">
                            <span class="font_big"><i class="fa fa-bullhorn fa-fw"></i>@todayHotName</span>
                        </p>
                    </div>
                    <ul class="clearfix">
                        @foreach (var tbanner in todayBannerList)
                        {
                            <li class="zitem">
                                <div class="img-zoom">
                                    <div class="item_block" style="display: @(tbanner.IsActive ? "none" : "block")">
                                        <img src="https://www.17life.com/images/17P/active/20161111_exhibition/item_block.png" />
                                    </div>
                                    <a href="@tbanner.CurationLink">
                                        <img src="@tbanner.ImageUrl" class="lazy" />
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
            <!--//  今日輪播區域 //end-->
            @foreach (var oneDayCurations in @allList)
            {
                <!--// 分類 //-->
                <div id="list_@themeIndex.ToString("00")" class="bn_day_wrap bn_day_wrap_bgcolor">
                    <div class="center_middle">
                        <p class="horizontal_line">
                            <span class="font_big">@oneDayCurations.GroupName</span>
                        </p>
                    </div>
                    <ul class="clearfix">
                        @foreach (var sub in @oneDayCurations.Curations.Where(x => x.ShowInWeb))
                        {
                            <li class="zitem">
                                <div class="img-zoom">
                                    <div class="item_block" style="display: @(sub.IsActive ? "none" : "block")">
                                        <img src="https://www.17life.com/images/17P/active/20161111_exhibition/item_block.png" />
                                    </div>
                                    <a href="@sub.CurationLink">
                                        <img src="@sub.ImageUrl" class="lazy" />
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <!--// 分類 //end-->
                themeIndex += 1;
            }
        </div>
        <!--// 策展列表頁面 //end-->
    }

    if (isSubVisible)
    {
        if (theme != null && theme.StartDate > DateTime.Now && theme.ShowInWeb)
        {
            <div class="PPComingSoon">
                <div class="PPSpace">
                </div>
                <a href="/" class="BackBtn"></a>
            </div>
        }
        else
        {
            <div class="PPClose">
                <div class="PPSpace">
                </div>
                <a href="/" class="BackBtn"></a>
            </div>
        }
    }

    <!--//center//-->
    <div class="center" id="divNav">
        <ul id="subMenu" class="nav-anchor">
            @if (todayHotName != "")
            {
                <li class="current" id="liNavToadayHot"><a href="#list_00">@todayHotName</a></li>
            }
            @if (allList != null)
            {
                var themeNavIndex = 1;
                foreach (var nav in allList)
                {
                    <li class="@((themeNavIndex == 1 && todayHotName == "") ? "current" : "")">
                        <a href="#list_@themeNavIndex.ToString("00")">@nav.GroupName</a>
                    </li>
                    themeNavIndex += 1;
                }
            }
        </ul>
    </div>
    <!--//center//end-->
}
<div class="clearfix"></div>


<script>
    $(document).ready(function () {
        //移除_PponLayout.cshtml 有影響到的CSS
        $("#btnBackTop").remove();
        $("img.lazy").lazyload({ placeholder: "/Themes/PCweb/images/ppon-M1_pic.jpg", threshold: 200, effect: "fadeIn" });

        @if (isMainVisible) {
            <text>
            $("#divCenter").removeAttr("class");
            </text>
        }

        //<!-- zoomin效果 -->
        $('.img-zoom').hover(function() {
            $(this).addClass('transition');
        }, function() {
            $(this).removeClass('transition');
        });
        //<!-- zoomin效果 end -->

        $('.nav-anchor').onePageNav({
            currentClass: 'current',
            changeHash: false,
            scrollSpeed: 750,
            scrollThreshold: 0.5,
            filter: ':not(.external)',
            easing: 'swing',
            begin: function () {
                //I get fired when the animation is starting
            },
            end: function () {
                //I get fired when the animation is ending
            },
            scrollChange: function ($currentListItem) {
                //I get fired when you enter a section and I pass the list item of the section
            }
        });

        if ($('#subMenu').find('li').size() < 2) {
            $('#divNav').hide();
        }
    });
</script>