﻿@using LunchKingSite.Core
@using LunchKingSite.WebLib.Models.Mobile

<script type="text/javascript">
    $(document).ready(function() {
        if ($(window).width() < 767) {
            $('#Main_pc').hide();
            $('#Main_moblie').show();
            $('#btn_moblie').show();
            $('.coupon_rule_btn').hide();
        }
    });

    function getInstantDiscount(id, userId, index) {
        if (userId != "0") {
            $.ajax(
            {
                type: "POST",
                url: "@Url.Content("~/Event/BrandEvent.aspx/GetInstantDiscount")",
                data: " { 'dcid': '" + id + "','userid':'" + userId + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    var obj = $.parseJSON(response.d);
                    switch (obj.Message) {
                        case @((int) InstantGenerateDiscountCampaignResult.Success):
                            $("#imgCoupon_" + index).attr("src", "https://www.17life.com/images/17P/active/store/coupon_off.png");
                            $("#coupon_click_" + index).removeAttr("onclick");
                            $("#coupon_click_" + index).removeAttr("href");
                            alert('領取成功！');
                            break;
                        case @((int) InstantGenerateDiscountCampaignResult.AlreadySent):
                            $("#imgCoupon_" + index).attr("src", "https://www.17life.com/images/17P/active/store/coupon_off.png");
                            $("#coupon_click_" + index).removeAttr("onclick");
                            $("#coupon_click_" + index).removeAttr("href");
                            alert('您已經領取過折價券了喔！');
                            break;
                        case @((int) InstantGenerateDiscountCampaignResult.Exceed):
                        case @((int) InstantGenerateDiscountCampaignResult.Expire):
                            $("#coupon_click_" + index).find(".coupon_soldout").attr("style", "");
                            $("#coupon_click_" + index).removeAttr("onclick");
                            $("#coupon_click_" + index).removeAttr("href");
                            alert('這個折價券已經被領取完了！');
                            break;
                        default:
                            alert('系統有誤!');
                            break;
                    }
                },
                error: function() {
                    alert('領取失敗');
                }
            });
        } else {
            var loginUrl = $('#HfLoginUrl').val();
            location.href = loginUrl;
        }
    }
</script>

<div>
    <div class="center coupon_center">
        <!--大圖-->
        <div id="divMain" class="st_banner">
            <div id="Main_pc">
                <img src="@ViewBag.WebMainPic" />
            </div>
            <div id="Main_moblie" style="display: none;">
                @if (ViewBag.BrandList != null)
                {
                    <div class="pic_btn_moblie" onclick="unblock_coupon_mb();">返回商品頁</div>
                }
                else
                {
                    <div class="pic_btn_moblie" onclick="unblock_coupon_mb();">返回特輯</div>
                }
                <img src="@ViewBag.MobileMainPic" />
            </div>
        </div>
        <div class="clear"></div>
        <div class="coupon_group">
                <ul>
                    @{
                        var count = 1;
                        foreach (var coupon in ViewBag.CampaignIdList)
                        {
                            <li>
                                @if (coupon.Value.Key || coupon.Value.Value) //索取完畢或已領
                                {
                                    <a id="coupon_click_@(count)">
                                        @if (coupon.Value.Key)
                                        {
                                            <div class="coupon_soldout">索取完畢</div>
                                        }
                                        <div class="coupon_bg">
                                            <div class="coupon_p">
                                                <p class="coupon_h1">$@String.Format("{0:0}", coupon.Key.Amount)</p>
                                                @if (coupon.Key.MinimumAmount != null)
                                                {
                                                    <p class="coupon_h2">滿@(coupon.Key.MinimumAmount)可用</p>
                                                }
                                            </div>
                                            @if (coupon.Value.Value)
                                            {
                                                <img id="imgCoupon_@(count)" class="lazy" src="https://www.17life.com/images/17P/active/store/coupon_off.png" />
                                            }
                                            else
                                            {
                                                <img id="imgCoupon_@(count)" class="lazy" src="https://www.17life.com/images/17P/active/store/coupon_on.png" />
                                            }
                                        </div>
                                        @if (coupon.Key.Qty != null && coupon.Key.Qty <= 3000)
                                        {
                                            <p class="coupon_h3">限量@(coupon.Key.Qty)組</p>
                                        }
                                    </a>
                                }
                                else //可領且未領
                                {
                                    <a href="javascript:void(0)" onclick="getInstantDiscount(@(coupon.Key.Id),@(ViewBag.UserId), @(count));" id="coupon_click_@(count)">
                                        <div class="coupon_soldout" style="display: none;">索取完畢</div>
                                        <div class="coupon_bg">
                                            <div class="coupon_p">
                                                <p class="coupon_h1">$@String.Format("{0:0}", coupon.Key.Amount)</p>
                                                @if (coupon.Key.MinimumAmount != null)
                                                {
                                                    <p class="coupon_h2">滿@(coupon.Key.MinimumAmount)可用</p>
                                                }
                                            </div>
                                            <img id="imgCoupon_@(count)" class="lazy" src="https://www.17life.com/images/17P/active/store/coupon_on.png" />
                                        </div>
                                        @if (coupon.Key.Qty != null && coupon.Key.Qty <= 3000)
                                        {
                                            <p class="coupon_h3">限量@(coupon.Key.Qty)組</p>
                                        }
                                    </a>
                                }
                            </li>
                            count++;
                        }
                    }
                </ul>
            <div class="clear"></div>
        </div>
        @if (ViewBag.BrandList != null)
        {
            <div class="coupon_rule_btn" style="margin-bottom:50px;">
                <a href="#"onclick="">立即買</a>
            </div>
        }
        @*@if (string.IsNullOrEmpty((ViewBag.EventContent)) == false)
        {
            <div id="pan_ActivityMeasures" class="coupon_rule">
                <div class="coupon_rule_title">活動辦法</div>
                <div class="coupon_rule_content">
                    @Html.Raw(ViewBag.EventContent.Replace("\r\n", ""))
                </div>
            <div class="clear"></div>
        </div>
        }*@
        @if (ViewBag.BrandList != null)
        {
            <div class="event_group">
                <p class="event_p">根據 <span class="coupon_name"></span> 推薦特輯</p>
                <ul>
                    @{
                        var item = 0;
                        foreach (var e in ViewBag.BrandList)
                        {
                            <li class="event_item">
                                <a href="@Url.Content("~/event/brandevent.aspx?u=")@(e.Url)" target="_blank">
                                    <div class="item_text">精彩商品 @(e.Count) 項<i class="fa fa-angle-right"></i></div>
                                    @if (e.Pic != null)
                                    {
                                        <img src="@e.Pic" alt="" />
                                    }
                                    else
                                    {
                                        <img src="" alt="" />
                                    }
                                </a>
                            </li>
                            item++;
                                        }
                                    }
                </ul>
                <div class="clear"></div>
            </div>
        }
        <div id="btn_moblie" style="display:none;">
            @if (ViewBag.BrandList != null)
            {
                <div id="detail_btn">
                    <div id="coupon_btn_moblie" onclick="unblock_coupon_mb()">返回商品頁</div>
                    <div id="buy_btn_moblie"><a>馬上買</a></div>
                </div>
            }
            else
            {
                <div id="event_btn_moblie" onclick="unblock_coupon_mb();">返回特輯</div>
            }
        </div>
    </div>
</div>