﻿@using LunchKingSite.DataOrm
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.Core.Models
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.WebLib.Models.Ppon
@using LunchKingSite.I18N
@using System.Text
@model LunchKingSite.WebLib.Models.Event.LimitedTimeSelectionModel

@{
    //IList<ViewMultipleMainDeal>
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
    var config = ProviderFactory.Instance().GetConfig();

    string pageTitle = "限時優惠";

    string LoginUrl = string.Format("{0}?ReturnUrl={1}",
                                    FormsAuthentication.LoginUrl,
                                    Server.UrlEncode(Request.Url.AbsoluteUri));
}

@section AdditionalMeta
{
    <title>@pageTitle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="fb:app_id" content="@config.FacebookApplicationId">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="17Life" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
}

@section CSS {
    <link href="/themes/PCweb/css/RDL-L.css" rel="stylesheet" type="text/css" />
    <link href="/themes/PCweb/css/RDL-M.css" rel="stylesheet" type="text/css" />
    <link href="/themes/PCweb/css/RDL-S.css" rel="stylesheet" type="text/css" />
    <link href="/themes/PCweb/css/RDL-Pad.css" rel="stylesheet" type="text/css" />
    <style>
        @@-moz-document url-prefix() {
            .item_3col .item_3col_pic img {
                width: auto;
            }
        }
    </style>
}

@section SSC {
    <script type="text/javascript" src="/Tools/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="/Tools/js/jquery.nav.js"></script>
    <script type="text/javascript" src="/Tools/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="/Tools/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/Themes/PCweb/plugin/jquery.bxslider.js"></script>
    <script type="text/javascript" src="/Tools/js/jquery.lazyload.min.js"></script>
    <script>
        var countdownSecs = @((int)(Model.TheDate.AddDays(1).AddHours(12) - DateTime.Now).TotalSeconds);
        var clientStartDate = new Date();
        countdown();
        var update = setInterval(function () {
            countdown();
        }, 1000);

        function countdown() {
            let r = remain_time(this.countdownSecs, this.clientStartDate);
            $("#countDownHours").text(r.hours);
            $("#countDownMinutes").text(r.minutes);
            $("#countDownSeconds").text(r.seconds);
        }

        function remain_time(countdownSecs, clientStartTime) {
            let remainTime = countdownSecs * 1000 - (new Date().getTime() - clientStartTime.getTime());
            if (remainTime >= 0) {
                let hours = Math.floor(remainTime / (1000 * 60 * 60));
                let minutes = Math.floor(remainTime % (1000 * 60 * 60) / (1000 * 60));
                let seconds = Math.floor(remainTime % (1000 * 60) / 1000);
                if (hours < 10) {
                    hours = '0' + hours;
                } else {
                    hours = hours.toString();
                }
                if (minutes < 10) {
                    minutes = '0' + minutes;
                } else {
                    minutes = minutes.toString();
                }
                if (seconds < 10) {
                    seconds = '0' + seconds;
                } else {
                    seconds = seconds.toString();
                }
                return {hours: hours, minutes: minutes, seconds: seconds };
            } else {
                return { hours: '00', minutes: '00', seconds: '00' }
            }
        }
    </script>
}



@{
    @*<input id="HfLoginUrl" type="hidden" value="@LoginUrl" />*@

    if (Model.LimitedTimeSelectionDealModels.Count > 0)
    {
        <div class="center">
            <div class="item_search_result_wrap">
                <div class="exhibition_list_wrap">
                    <div class="main_bn_wrap clearfix">
                        <div class="main_bn">
                            <img src="@ViewBag.BannerImage">
                        </div>
                    </div>
                </div>
                <div class="result_title">
                    <h3>
                        限時優惠
                        <span class="time-block" id="countDownHours">00</span><span class="time-point">:</span>
                        <span class="time-block" id="countDownMinutes">00</span><span class="time-point">:</span>
                        <span class="time-block" id="countDownSeconds">00</span>
                    </h3>
                </div>
                <div class='item_3col_wrap'>
                    @foreach (var item in Model.LimitedTimeSelectionDealModels)
                    {
                        IViewPponDeal deal = item.Deal.deal.PponDeal;
                        string priceTail = (deal.ComboDelas != null && deal.ComboDelas.Count > 1) ? "起" : "元";
                        bool isDiscountPriceShow = deal.DiscountPrice != null;
                        <div class="item_3col">
                            <a href=@string.Format("/deal/{0}?rsrc={1}", item.Deal.deal.PponDeal.BusinessHourGuid, Model.Rsrc) target="_blank">
                                <div class="item_soldout_480" style="display: @((item.Deal.deal.PponDeal.OrderedQuantity >= item.Deal.deal.PponDeal.OrderTotalLimit) ? "block" : "none")">
                                    <img src="/Themes/PCweb/images/soldout_bar_480.png">
                                </div>
                                <div class="item_activeLogo" style="display: block">
                                    @Html.Raw(item.Deal.deal.PponDeal.PromoImageHtml)
                                </div>
                                @Html.Raw(item.Deal.clit_CityName)
                                <div class="item_3col_pic">
                                    <img src="@item.Deal.deal.PponDeal.DefaultDealImage">
                                </div>

                                <div class="item_3col_pic_bg">
                                    <img src="/Themes/PCweb/images/ppon-M1_pic.jpg">
                                </div>

                                <div class="item_title">
                                    @Html.Raw(OrderedQuantityHelper.Show(item.Deal.deal.PponDeal, OrderedQuantityHelper.ShowType.BetaInPortal))
                                    <ul>
                                        @Html.Raw(item.Deal.deal_Label_2)
                                    </ul>
                                    @if (!string.IsNullOrEmpty(item.Deal.clit_CityName2))
                                    {
                                        <span class="tag_place">@item.Deal.clit_CityName2</span>
                                    }
                                    <div class="tag_title">@item.Deal.deal.PponDeal.ItemName</div>
                                    <p class="tag_subtitle">@(item.Deal.deal.PponDeal.EventTitle)</p>
                                    <div class="item_info clearfix">
                                        <div class="item_info_detail">
                                            <span>原價</span><span class="text_line">$@deal.ItemOrigPrice.ToString("F0")</span>
                                            <span>| </span>
                                            <span>@Html.Raw(item.Deal.discount_1)</span>
                                            @if (isDiscountPriceShow)
                                            {
                                                <span>好康價</span>
                                                <span class="text_big">$@PponFacade.CheckZeroPriceToShowPrice(deal, item.Deal.deal.CityID).ToString("F0")</span>
                                                <span>@priceTail</span>
                                            }
                                        </div>
                                        <!-- 在地檔才有評價 -->
                                        @if (item.Deal.RatingShow)
                                        {
                                            <div class="item_info_rating">
                                                @if (item.Deal.RatingNumber == 0)
                                                {
                                                    <span style="display: block">(評價累積中)</span>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <span class="count">@item.Deal.RatingScoreStr</span>
                                                    <sapn>(@item.Deal.RatingNumber)</sapn>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>

                                @if (isDiscountPriceShow == false)
                                {
                                    //憑證或無符合折扣券價
                                    <div class="item_3col_price_less">
                                        <div class="item_discount clearfix">
                                            <span class="disc_black">超值好康價</span>
                                            <span class="disc_price color_red">$@PponFacade.CheckZeroPriceToShowPrice(item.Deal.deal.PponDeal).ToString("F0")</span>
                                            <span class="disc_black" style="display: inline-block">@priceTail</span>
                                        </div>
                                        <div class="item_collect" data-bid="@deal.BusinessHourGuid">
                                            <a href="javascript:void(0)" class="">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>收藏
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="item_3col_price_less">
                                        <div class="item_discount clearfix">
                                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                            <div class="disc_text">結帳使用折價</div>
                                            <span class="disc_price color_red">$@deal.DiscountPrice.ToString("0")</span>
                                            <span class="disc_black" style="display: inline-block">@priceTail</span>
                                        </div>
                                        <div class="item_collect" data-bid="@deal.BusinessHourGuid">
                                            <a href="javascript:void(0)" class="">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>收藏
                                            </a>
                                        </div>
                                    </div>
                                }
                            </a>
                        </div>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
    }
    else
    {
        <div class="PPClose">
            <div class="PPSpace">
            </div>
            <a href="https://www.17life.com/ppon/" class="BackBtn"></a>
        </div>
    }
}
