﻿@using LunchKingSite.BizLogic.Model.API
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.DataOrm
@using LunchKingSite.Core
@using LunchKingSite.Core.Component

@{
    Layout = "~/Views/Ppon/_PponLayout.cshtml";
    var themeList = ViewBag.ThemeList as CurationsByTheme;
    var themeCurationMain = ViewBag.Theme as ThemeCurationMain;
    var config = ProviderFactory.Instance().GetConfig();
}
@section AdditionalMeta
{
    <meta property="fb:app_id" content="@config.FacebookApplicationId">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="策展頻道" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri.Replace("&p=show_me_the_preview", "")" />
    <meta property="og:site_name" content="17Life" />
}

@section CSS {
    <link href="~/themes/PCweb/css/Rightside.css" rel="stylesheet" type="text/css" />
    <link href="~/themes/PCweb/css/RDL-L.css" rel="stylesheet" type="text/css" />
    <link href="~/themes/PCweb/css/RDL-M.css" rel="stylesheet" type="text/css" />
    <link href="~/themes/PCweb/css/RDL-S.css" rel="stylesheet" type="text/css" />
    @LunchKingSite.Core.Helper.RenderCss("/Themes/PCweb/css/ppon_item.min.css")
}

@section SSC {
    <script src="~/Themes/PCweb/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/Themes/PCweb/plugin/jquery.mousewheel.min.js" type="text/javascript"></script>
    <script src="~/Themes/PCweb/plugin/jquery.kinetic.min.js" type="text/javascript"></script>
    <script src="~/Themes/PCweb/plugin/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>
    <script src="~/Themes/PCweb/plugin/overlay-channel/modernizr.custom.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Themes/PCweb/plugin/TouchSlide.1.1.source.js"></script>
    <script type="text/javascript" src="~/Themes/mobile/js/script.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.nav.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.lazyload.min.js"></script>
}

<style>
    .nav-anchor li.current a {
        background: #BF2040; /*右邊跟屁蟲選單 被選擇的背景色*/
        color: #fff; /*右邊跟屁蟲選單 被選擇的文字顏色*/
    }

    .PPClose {
        width: 100%;
        height: 350px;
        background: url(../Themes/PCweb/images/CloseBG.png) no-repeat;
        display: block;
    }

    .PPSpace {
        width: 100%;
        height: 187px;
        display: block;
    }

    .BackBtn {
        width: 286px;
        height: 76px;
        background: url(../Themes/PCweb/images/CloseBtn.png);
        margin-left: 445px;
        display: block;
    }
</style>

<script type='text/javascript'>
    $(document).ready(function () {
        //移除master page 有影響到的CSS
        $("#divCenter").removeAttr("class");
        $("#btnBackTop").remove();

        $("img.lazy").lazyload({ placeholder: "/Themes/PCweb/images/ppon-M1_pic.jpg", threshold: 200, effect: "fadeIn" });
    });
</script>

@{
    if (themeList != null && (((themeCurationMain != null && themeCurationMain.StartDate <= DateTime.Now && DateTime.Now <= themeCurationMain.EndTime) || (Request.QueryString["p"] == "show_me_the_preview"))))
    {
        var themeIndex = 1;
        var themeNavIndex = 1;
        <div class="exhibition_list_wrap">
            <!--// 策展頻道主視覺bn //-->
            <div class="main_bn_wrap clearfix">
                <div class="main_bn">
                    <img src="@ImageFacade.GetMediaPath(themeCurationMain.MainImage, MediaType.ThemeImage)">
                </div>
            </div>
            <!--// 策展頻道主視覺bn //end-->
        </div>

        <!--//center//-->
        <div class="center">
            <!--// 策展列表頁面 //-->
            <div class="exhibitionCn_list_wrap">
                @foreach (var theme in @themeList.AllCurations.Where(x => x.IsActive))
                {
                    <!--// 分類 //-->
                    <div id="list_@themeIndex.ToString("00")" class="bn_day_wrap">
                        <div class="center_middle">
                            <p class="horizontal_line">
                                <span class="font_big">@theme.GroupName</span>
                            </p>
                        </div>
                        <ul class="clearfix">
                            @foreach (var sub in @theme.Curations.Where(x => x.ShowInWeb))
                            {
                                <li class="zitem">
                                    <div class="img-zoom">
                                        <div id="divBlock" runat="server" class="item_block" style="display: @(sub.IsActive ? "none" : "block")">
                                            <img src="https://www.17life.com/images/17P/active/20161111_exhibition/item_block.png" />
                                        </div>
                                        <a href="@sub.CurationLink">
                                            <img src="@sub.ImageUrl" class="lazy" />
                                        </a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <!--// 分類 //end-->
                    themeIndex += 1;
                }
            </div>
            <ul id="subMenu" class="nav-anchor">
                @foreach (var theme in @themeList.AllCurations.Where(x => x.IsActive))
                {
                    <li class="@((themeNavIndex == 1) ? "current" : "")">
                        <a href="#list_@themeNavIndex.ToString("00")">@theme.GroupName</a>
                    </li>
                    themeNavIndex += 1;
                }
            </ul>
        </div>
    }
    else
    {
        <div class="PPClose">
            <div class="PPSpace">
            </div>
            <a href="/" class="BackBtn"></a>
        </div>
    }
}
<!--//center//end-->
<div class="clearfix"></div>

<script>
    $(document).ready(function () {
        //<!-- zoomin效果 -->
        $('.img-zoom').hover(function() {
            $(this).addClass('transition');
        }, function() {
            $(this).removeClass('transition');
        });
        //<!-- zoomin效果 end -->

        $('.nav-anchor').onePageNav({
            currentClass: 'current',
            changeHash: false,
            scrollSpeed: 750,
            scrollThreshold: 0.5,
            filter: ':not(.external)',
            easing: 'swing',
            begin: function () {
                //I get fired when the animation is starting
            },
            end: function () {
                //I get fired when the animation is ending
            },
            scrollChange: function ($currentListItem) {
                //I get fired when you enter a section and I pass the list item of the section
            }
        });
      });
</script>

