﻿@using LunchKingSite.BizLogic.Model.API
@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.DataOrm
@using LunchKingSite.Core
@using LunchKingSite.Core.Component

@{
    Layout = ChannelFacade.GetOrderClassificationByHeaderToken() == AgentChannel.TaiShinMall ? "~/Views/Ppon/_PponLayoutForTaishinMall.cshtml" : "~/Views/Ppon/_PponLayout.cshtml";
    var themeList = ViewBag.ThemeList as CurationsByTheme;
    var themeCurationMain = ViewBag.Theme as ThemeCurationMain;
    var config = ProviderFactory.Instance().GetConfig();
}
@section AdditionalMeta
{
    <meta property="fb:app_id" content="@config.FacebookApplicationId">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="策展頻道" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri.Replace("&p=show_me_the_preview", "")" />
    <meta property="og:site_name" content="17Life" />
}

@section CSS {
    <link href="~/Themes/PCweb/css/RDL-L.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/css/RDL-M.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/PCweb/css/RDL-S.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/mobile/css/swiper.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/mobile/css/style.css" rel="stylesheet" type="text/css" />
}

@section SSC {
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
    <script type="text/javascript" src="~/Themes/mobile/js/script.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.nav.js"></script>
    <script type="text/javascript" src="~/Tools/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="~/Tools/js/Ppon.js?ver=0.0.1.3"></script>
}

<script type='text/javascript'>
    $(document).ready(function () {
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,//1
            paginationClickable: true,
            spaceBetween: 10,//10
            loop: false,
            autoplay: 3500,
            autoplayDisableOnInteraction: false
        });

        $("img.lazy").lazyload({ placeholder: "https://www.17life.com/Themes/PCweb/images/ppon-M1_pic.jpg", threshold: 200, effect: "fadeIn" });

        $('.nav-channal').onePageNav({
            currentClass: 'current',
            changeHash: false,
            scrollSpeed: 750,
            scrollThreshold: 0.5,
            filter: ':not(.external)',
            easing: 'swing',
            begin: function () {
                //I get fired when the animation is starting
            },
            end: function () {
                //I get fired when the animation is ending
            },
            scrollChange: function ($currentListItem) {
                //I get fired when you enter a section and I pass the list item of the section
            },
        });

        //調整浮動選單TOP位置
        $(function () {
            $('a[href*="#"]:not([href="#"])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top - 100
                        }, 1000);
                        return false;
                    }
                }
            });
        });

        ////浮動選單
        $('#btnBackTop').remove();
        $(window).scroll(function () {
            if ($(document).scrollTop() >= 200) {
                $('.header_wrapper_fixed').show();
            } else {
                $('.header_wrapper_fixed').hide();
            }
        });

        //調整masterpage造成的影響
        $(".p3footer").addClass('clearfix');
        $("#target").hide();
    });
</script>

@{
    if (themeList != null && (((themeCurationMain != null && themeCurationMain.StartDate <= DateTime.Now && DateTime.Now <= themeCurationMain.EndTime) || (Request.QueryString["p"] == "show_me_the_preview"))))
    {
        var themeIndex = 1;
        var themeNavIndex = 1;
        <div class="content_exhibition_list">
            <!--// header_wrapper_fixed 跟屁蟲選單//-->
            <!--/ top /-->
            <div class="header_wrapper_fixed" style="display:none;">
                <div class="bottom_wrap">
                    <ul class="nav-channal">
                        @foreach (var theme in @themeList.AllCurations.Where(x => x.IsActive))
                        {
                            <li class="@((themeNavIndex == 1) ? "current" : "")">
                                <a href="#mobile_index_@themeNavIndex.ToString("00")">@theme.GroupName</a>
                            </li>
                            themeNavIndex += 1;
                        }
                    </ul>
                </div>
            </div>
            <!--/ top /end-->
            <!--// header_wrapper_fixed 跟屁蟲選單//end-->
            <!--// 策展列表主視覺bn //-->
            <div class="main_bn" style="display:block;">
                <img src="@ImageFacade.GetMediaPath(themeCurationMain.MobileMainImage, MediaType.ThemeImage)">
            </div>
            <!--// 策展列表主視覺bn //end-->
            <!--// maincontent 主要內容//-->
            <div class="maincontent banner_list">
                @foreach (var theme in @themeList.AllCurations.Where(x => x.IsActive))
                {
                    <!--// 分類 //-->
                    <p id="mobile_index_@themeIndex.ToString("00")" class="horizontal_line">@theme.GroupName</p>
                    <ul>
                        @foreach (var sub in @theme.Curations.Where(x => x.ShowInWeb))
                        {
                            <li>
                                <div id="divBlock" runat="server" class="item_block" style="display: @(sub.IsActive ? "none" : "block")">
                                    <img src="https://www.17life.com/images/17P/active/20161111_exhibition/item_block.png" />
                                </div>
                                <a href="@sub.CurationLink">
                                    <img src="@sub.ImageUrl" class="lazy" />
                                </a>
                            </li>
                        }
                    </ul>
                    <!--// 分類 //end-->
                    themeIndex += 1;
                }
            </div>
            <!--// maincontent 主要內容//end-->
            <!--// content 內容區塊//end-->
        </div>
    }
    else
    {
        <div class="content_exhibition_list">
            <span style="color:red">本活動已經結束囉</span>
        </div>
    }
}

