﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;

@{
    Dictionary<string, string> BeaconType = ViewData["BeaconType"] as Dictionary<string, string>;
    string beaconType = "1";
    if (Request.RawUrl.ToLower().IndexOf("skmappbeaconeventcount") >= 0)
    {
        beaconType = ((int)SkmBeaconType.Event_Count).ToString();
    }
    else if (Request.RawUrl.ToLower().IndexOf("skmappbeaconeventmanual") >= 0)
    {
        beaconType = ((int)SkmBeaconType.Event_Manual).ToString();
    }
    else if (Request.RawUrl.ToLower().IndexOf("skmappbeacondeal") >= 0)
    {
        beaconType = ((int)SkmBeaconType.Deal).ToString();
    }
    else if (Request.RawUrl.ToLower().IndexOf("skmappbeaconproject") >= 0)
    {
        beaconType = ((int)SkmBeaconType.Project).ToString();
    }
    else if (Request.RawUrl.ToLower().IndexOf("skmappbeacon") >= 0)
    {
        beaconType = ((int)SkmBeaconType.Top).ToString();
    }
}


<script type="text/javascript">
    function changeBeaconPage(obj) {
        switch ($(obj).val()) {
            case "@((int)SkmBeaconType.Top)":
                location.href = "SkmAppBeacon";
                break;
            case "@((int)SkmBeaconType.Project)":
                location.href = "SkmAppBeaconProject";
                break;
            case "@((int)SkmBeaconType.Deal)":
                location.href = "SkmAppBeaconDeal";
                break;
            case "@((int)SkmBeaconType.Event_Manual)":
                location.href = "SkmAppBeaconEventManual";
                break;
            case "@((int)SkmBeaconType.Event_Count)":
                location.href = "SkmAppBeaconEventCount";
                break;
        }
    }
</script>


<select onchange="changeBeaconPage(this)">
    @foreach (var data in BeaconType)
    {
        <option value="@data.Key" @(beaconType == data.Key ? "selected" : "")> @data.Value</option>
    }
</select>