﻿@{
    string myPager = Model[0];
    string parameter = Model[1];
}

<div class="alg-center mrg20-hor">
    @if (Convert.ToInt32(ViewData["PageIndex"]) <= 1)
    {
        <input type="button" class="btn btn-disabled btn-large arrow" value="&laquo;" disabled="disabled" />
        <input type="button" class="btn btn-disabled btn-large arrow" value="&lsaquo;" disabled="disabled" />
    }
    else
    {
        <input type="button" class="btn-float btn-float-red btn-large arrow" value="&laquo;" onclick="location.href='@Url.Action(myPager, new { page = 1, order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })&@parameter'" />
    <input type="button" class="btn-float btn-float-red btn-large arrow" value="&lsaquo;" onclick="location.href='@Url.Action(myPager, new { page = ((int)ViewData["PageIndex"] - 1 == 0) ? 1 : (int)ViewData["PageIndex"] - 1, order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })&@parameter'" />
    }

    <form class="dis-inline mrg20-ver">
        <select onchange="location.href=this.value">
            @for (int i = 1; i <= (int)ViewData["PageCount"]; i++)
            {
                if (i == (int)ViewData["PageIndex"])
                {
                    <option value="@i" selected="selected">@i</option>
                }
                else
                {
                    <option value="@Url.Action(myPager, new { page = i, order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })&@parameter">@i</option>
                }
            }
        </select>
        <span>/@ViewData["PageCount"]</span>
        <span>(@ViewData["TotalCount"]筆資料)</span>
    </form>
    @if (Convert.ToInt32(ViewData["PageIndex"]) >= (int)ViewData["PageCount"])
    {
        <input type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" disabled="disabled" />
        <input type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" disabled="disabled" />
    }
    else
    {
        <input type="button" class="btn-float btn-float-red btn-large arrow" value="&rsaquo;" onclick="location.href='@Url.Action(myPager, new { page = ((int)ViewData["PageIndex"] + 1 > (int)ViewData["PageCount"]) ? (int)ViewData["PageCount"] : (int)ViewData["PageIndex"] + 1, order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })&@parameter    '" />
    <input type="button" class="btn-float btn-float-red btn-large arrow" value="&raquo;" onclick="location.href='@Url.Action(myPager, new { page = (int)ViewData["PageCount"], order = ViewData["Order"], isOrderASC = (bool)ViewData["IsOrderASC"] })&@parameter    '" />
    }
</div>