﻿
<script type="text/javascript">

    function changePage(x) {
        switch (x.attr('Id')) {
            case 'firstPage':
                $("#selectedPage").val(1);
                break;
            case 'nextPage':
                $("#selectedPage").val(parseInt($("#selectedPage").val()) + 1);
                break;
            case 'previousPage':
                $("#selectedPage").val(parseInt($("#selectedPage").val()) - 1);
                break;
            case 'lastPage':
                $("#selectedPage").val($('#pageCount').text());
                break;
            default:
                break;
        }
        QueryData();
    }

    function changePageStyle(totalCount, page, pageSize) {
        var pageCount = Math.ceil(totalCount / pageSize);
        $('#pageCount').text(pageCount);
        $('#totalCount').text(totalCount);
        $('#selectedPage option').remove();
        for (var i = 1; i <= pageCount; i++) {
            $("#selectedPage").append($("<option></option>").attr("value", i).text(i));
        }
        $('#selectedPage').val(page);

        //防呆，沒資料時，直接帶0
        if ($("#selectedPage").val() == null) {
            $("#selectedPage").append($("<option></option>").attr("value", 0).text("0"));
        }

        if (parseInt($("#selectedPage").val()) <= 1) {
            $('#firstPageDisabled').show();
            $('#firstPage').hide();
            $('#previousPageDisabled').show();
            $('#previousPage').hide();
        } else {
            $('#firstPageDisabled').hide();
            $('#firstPage').show();
            $('#previousPageDisabled').hide();
            $('#previousPage').show();
        }

        if (parseInt($("#selectedPage").val()) >= parseInt($("#pageCount").text())) {
            $('#nextPageDisabled').show();
            $('#nextPage').hide();
            $('#lastPageDisabled').show();
            $('#lastPage').hide();
        } else {
            $('#nextPageDisabled').hide();
            $('#nextPage').show();
            $('#lastPageDisabled').hide();
            $('#lastPage').show();
        }
    }

</script>

<div class="alg-center mrg20-hor">
    <input type="button" class="btn btn-disabled btn-large arrow" style="display:none" id="firstPageDisabled" value="&laquo;" disabled="disabled" />
    <input type="button" class="btn btn-disabled btn-large arrow" style="display:none" id="previousPageDisabled" value="&lsaquo;" disabled="disabled" />
    <input type="button" class="btn btn-primary btn-large arrow" style="display:none" id="firstPage" value="&laquo;" onclick="changePage($(this));" />
    <input type="button" class="btn btn-primary btn-large arrow" style="display:none" id="previousPage" value="&lsaquo;" onclick="changePage($(this));" />
    <form class="dis-inline mrg20-ver">
        <select id="selectedPage" onchange="changePage($(this));">
            <option value="1">1</option>
        </select>
        <span>/<label id="pageCount"></label></span>
        <span>(<label id="totalCount"></label>筆資料)</span>
    </form>
    <input type="button" class="btn btn-disabled btn-large arrow" style="display:none" id="nextPageDisabled" value="&rsaquo;" disabled="disabled" />
    <input type="button" class="btn btn-disabled btn-large arrow" style="display:none" id="lastPageDisabled" value="&raquo;" disabled="disabled" />
    <input type="button" class="btn btn-primary btn-large arrow" style="display:none" id="nextPage" value="&rsaquo;" onclick="changePage($(this));" />
    <input type="button" class="btn btn-primary btn-large arrow" style="display:none" id="lastPage" value="&raquo;" onclick="changePage($(this));" />
</div>