﻿@model LunchKingSite.WebLib.Models.SkmDeal.AddAdBoardRequest
@{
    ViewBag.Title = "AddAdBoard";
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='/Tools/js/jquery.ui.datepicker-zh-TW.js'></script>
<style>
    .sub-label {
        width: 120px;
        float: left;
    }

    .sub-content {
        margin-left: 120px;
    }

    .date {
        margin:5px 0 10px 0;
    }
</style>
<script>
    function CheckAdBoard() {
        let faildMessage = [];
        //活動名稱
        if ($("#name").val() == null || $("#name").val() == '')
            faildMessage.push("請填寫活動名稱");
        //活動開始時間
        let startDate = $("#BoardBeginDate").val() + " " + $("#BoardBeginHour").val() + ":" + $("#BoardBeginMinute").val();
        if (!Date.parse(startDate))
            faildMessage.push("請輸入格式正確的活動開始時間");
        else
            $("#startDate").val(startDate);
        //活動結束時間
        let endDate = $("#BoardEndDate").val() + " " + $("#BoardEndHour").val() + ":" + $("#BoardEndMinute").val();
        if (!Date.parse(endDate))
            faildMessage.push("請輸入格式正確的活動結束時間");
        else
            $("#endDate").val(endDate);
        if (startDate > endDate) faildMessage.push("活動開始時間必須大於活動結束時間");
        //活動圖檔
        if ($("#uploadImageUrl").val() == undefined || $("#uploadImageUrl").val() == null || $("#uploadImageUrl").val() == "")
            faildMessage.push("請選擇活動圖檔");
        //活動連結
        let linkUrl = "";
        switch ($('input[name="LinkType"]:checked').val()) {
            case "2":
                linkUrl = $("#deepLink").text();
                $("#linkStoreGuid").val($("#selectStoreLink :selected").val());
                break;
            case "3":
                linkUrl = $("#evnetUrl").val();
                if (linkUrl == undefined || linkUrl == null || linkUrl == "") {
                    faildMessage.push("請填寫活動網址");
                } else if(!CheckUrl(linkUrl)) {
                    faildMessage.push("網址格式不正確");
                }
                $("input[name='NeedLogin']").val($("#checkNeedLogin").is(":checked"));
                break;
        }
        //是否顯示
        $("input[name='IsEnable']").val($("#checkIsEnable").is(":checked"));
        $("#openUrl").val(linkUrl);
        if (faildMessage.length > 0) {
            alert(faildMessage.join("\n"));
        }

        return faildMessage.length <= 0;
    }

    function ChangeStoreExhibitionDeepLink() {
        let selectedOption = $("#selectStoreLink :selected");
        $("#deepLink").text("skmapp://www.skm.com/exhibitionlist?store=" + selectedOption.val() + "&sname=" + selectedOption.text())
    }

    function CheckUrl(str) {
        var RegUrl = new RegExp();
        RegUrl.compile("^[A-Za-z]+://[A-Za-z0-9-_]+\\.[A-Za-z0-9-_%&\?\/.=]+$");
        if (!RegUrl.test(str)) {
            return false;
        }
        return true;
    }

    $().ready(function () {
        let errorMessage = "@(TempData["errorMessage"])";
        if (errorMessage != null && errorMessage!= "")
        {
            alert(errorMessage);
        }

        $("#BoardBeginDate").datepicker({
            setDate: new Date(),
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
        });
        $("#BoardEndDate").datepicker({
            setDate: 1,
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
        });

        $("#selectStoreLink").change(function () {
            ChangeStoreExhibitionDeepLink();
        });

        $("#uploadImageUrl").change(function () {
            //即時顯示圖檔
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("imgViewEventImage").src = e.target.result;
            };
            reader.readAsDataURL(this.files[0]);
        });

        $("#btnSave").click(function () {
            $("#divBusying").show();
            if (CheckAdBoard())
                $("#applyForm").submit();
            else
                $("#divBusying").hide();
        });

        ChangeStoreExhibitionDeepLink();
    })
</script>
<div id="divBusying" style="width:100%;height :100%; background-color:darkgrey;opacity:0.3;position :fixed;top:0;left:0;z-index:1;display:none">
    <div style="color: black; padding-left: 20px;position :fixed;top:50%;left:50%; z-index:0">
        <img src="~/Images/spinner.gif" /> 處理中，請稍後......
    </div>
</div>
<div class="pdg-15"><a class="mrg20-hor" href="/SKMDeal/AdList"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
<form id="applyForm" class="fr-group clearfix" method="post" enctype="multipart/form-data">
    <div class="pdg-40 pdg-hor-0">
        <div class="zone ">

            <h2>新增蓋版廣告資訊</h2>
            <div class="fr-item">
                <label class="fr-label">活動名稱</label>
                <div class="fr-content">
                    <input type="text" class="fr-input-large" name="Name" id="name" value="@Model.Name">
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">活動開始時間</label>
                <div class="fr-content">
                    <input type="text" id="BoardBeginDate" class="date start fr-input-defaul" placeholder="日期" readonly="readonly">
                    <select id="BoardBeginHour">
                        @for (int h = 0; h <= 23; h++)
                        {
                            <option value="@h.ToString().PadLeft(2, '0')">@h.ToString().PadLeft(2, '0')</option>
                        }
                    </select>
                    <select id="BoardBeginMinute">
                        @for (int m = 0; m <= 59; m += 30)
                        {
                            <option value="@m.ToString().PadLeft(2,'0')">@m.ToString().PadLeft(2, '0')</option>
                        }
                    </select>
                    <input type="hidden" id="startDate" name="StartDate" />
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">活動結束時間</label>
                <div class="fr-content">
                    <input type="text" id="BoardEndDate" class="date start fr-input-defaul" placeholder="日期" readonly="readonly">
                    <select id="BoardEndHour">
                        @for (int h = 0; h <= 23; h++)
                        {
                            <option value="@h.ToString().PadLeft(2,'0')">@h.ToString().PadLeft(2, '0')</option>
                        }
                    </select>
                    <select id="BoardEndMinute">
                        @for (int m = 0; m <= 59; m += 5)
                        {
                            <option value="@m.ToString().PadLeft(2,'0')">@m.ToString().PadLeft(2, '0')</option>
                        }
                    </select>
                    <input type="hidden" id="endDate" name="EndDate" />
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">活動圖檔</label>
                <div class="fr-content">
                    <input type="file" name="UploadImageUrl" id="uploadImageUrl" /><br />
                    <p class="f-small">*僅能上傳圖片檔案，檔案大小建議700KB以內，尺寸為 620 x 820</p><br />
                    <img id="imgViewEventImage" style="max-width:250px;max-height:331px" />
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">活動連結</label>
                <div class="fr-content">
                    <div class="fr-item">
                        <input type="radio" name="LinkType" value="1" @((int)Model.LinkType == 1 ? "checked" : "")>無連結
                    </div>
                    <div class="fr-item">
                        <div class="sub-label"><input type="radio" name="LinkType" value="2" @((int)Model.LinkType == 2 ? "checked" : "")>分店策展列表</div>
                        <div class="sub-content">
                            <select id="selectStoreLink">
                                @foreach (var store in ViewBag.SKMStores)
                                {
                                    <option @(Model.LinkStoreGuid == store.Key ? "selected" : "") value="@store.Key">@store.Value</option>
                                }
                            </select><br />
                            <p id="deepLink">@((int)Model.LinkType == 2 ? Model.OpenUrl : "")</p>
                            <input type="hidden" id="linkStoreGuid" name="LinkStoreGuid" value="@Model.LinkStoreGuid" />
                        </div>
                    </div>
                    <div class="fr-item">
                        <div class="sub-label"><input type="radio" name="LinkType" value="3" @((int)Model.LinkType == 3 ? "checked" : "")>活動網址</div>
                        <div class="sub-content">
                            <input type="text" id="evnetUrl" style="width:70%" value="@((int)Model.LinkType == 3 ? Model.OpenUrl : "")" /><br />
                            <input type="checkbox" id="checkNeedLogin" @(Model.NeedLogin ? "checked" : "")>活動登入，需帶入會員登入資訊
                            <input type="hidden" name="NeedLogin" />
                        </div>
                    </div>
                    <input type="hidden" id="openUrl" name="OpenUrl" />
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">是否顯示</label>
                <div class="fr-content">
                    <input type="checkbox" id="checkIsEnable" @(Model.IsEnable ? "checked":"") />顯示於APP
                    <input type="hidden" name="IsEnable" />
                </div>
            </div>
            <div class="fr-item">
                <div class="fr-content">
                    <input type="button" id="btnSave" class="btn btn-primary btn-large" value="送出" />
                </div>
            </div>
        </div>
    </div>
</form>

