﻿@model LunchKingSite.WebLib.Models.SkmDeal.AddCreditCardCategoryModel
@{
    ViewBag.Title = "AddCreditCardCategory";
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
}
<style>
    .label-error-message {
        color: white;
        background-color: red;
    }
</style>
<script>
    function CheckCreditCardCategory() {
        let isValidated = true;
        let integerValidate = new RegExp('[0-9]');
        $(".label-error-message").hide();
        //銀行代碼
        let bank = $("#bank").val();
        if (bank == null || bank == '' || bank.length != 3 || !integerValidate.test(bank))
            $("#lbl_Bank_ErrorMessage").html("請輸入正確銀行代碼").show();
        //卡面名稱
        let name = $("#name").val();
        if (name == null || name == '')
            $("#lbl_Name_ErrorMessage").html("請輸入卡面名稱").show();
        //卡面識別碼
        let categoryNo = $("#categoryNo").val();
        if (categoryNo == null || categoryNo == '' ||
            (categoryNo.length != 6 && categoryNo.length != 8) ||
            !integerValidate.test(categoryNo))
            $("#lbl_CategoryNo_ErrorMessage").html("只可輸入八碼或六碼").show();
        //活動圖檔
        let uploadImageUrl = $("#uploadImageUrl").val();
        if (uploadImageUrl == undefined || uploadImageUrl == null || uploadImageUrl == "")
            $("#lbl_UploadImageUrl_ErrorMessage").html("請選擇卡樣圖檔").show();

        return !$(".label-error-message").is(":visible");
    }

    function CheckBankType() {
        var bank = $("#bank").val().trim();
        if (bank.length != 3) return;
        $("#lbl_BankName").text("");
        $("#lbl_Bank_ErrorMessage").hide();
        $.ajax({
            url: '/SKMDeal/GetBankInfoByBankNo?bankNo=' + bank,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.isFind) {
                    $("#lbl_BankName").text(result.bankName);
                } else {
                    $("#lbl_Bank_ErrorMessage").html("請輸入正確銀行代碼").show();
                }
            },
            error: function (e) {
                console.log(e);
                alert("取得銀行資料失敗");
            }
        });

    }
    //驗證字元
    function CharValidation(evt) {
        evt.value = evt.value.replace(/[^0-9]/g, "");
    }

    $().ready(function () {
        let errorMessage = "@(TempData["errorMessage"])";
        if (errorMessage != null && errorMessage!= "") {
            alert(errorMessage);
        }
        let validateMessage = '@Html.Raw(TempData["validateResult"])'
        if (validateMessage != null && validateMessage != "") {
            let validateMessageList = $.parseJSON(validateMessage);
            $.each(validateMessageList, function (index, item) {
                $("#lbl_" + item.Key + "_ErrorMessage").html(item.Message).show();
            });
        }
        if ("@Model.Bank" != "") {
            CheckBankType();
        }

        $("#bank").change(function () {
            CheckBankType();
        });

        $("#uploadImageUrl").change(function () {
            //即時顯示圖檔
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("imgCreditCardImage").src = e.target.result;
            };
            reader.readAsDataURL(this.files[0]);
        });

        $("#btnSave").click(function () {
            $(".divBusying").show();
            if (CheckCreditCardCategory())
                $("#applyForm").submit();
            else
                $(".divBusying").hide();
        });

        //驗證字元
        $("#bank").on("input", function () {
            CharValidation(this);
        });
        $("#categoryNo").on("input", function () {
            CharValidation(this);
        });

    })
</script>
<div class="pdg-15"><a class="mrg20-hor" href="/SKMDeal/CreditCardCategoryList"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
<form id="applyForm" class="fr-group clearfix" method="post" enctype="multipart/form-data">
    <div class="pdg-40 pdg-hor-0">
        <div class="zone ">
            <h2>新增實體卡面</h2>
            <div class="fr-item">
                <label class="fr-label">銀行代碼</label>
                <div class="fr-content">
                    <input type="text" class="frlarge" name="Bank" id="bank" value="@Model.Bank" maxlength="3"><label id="lbl_BankName" style="font-weight:600;padding-left:10px;padding-top:3px;"></label><br />
                    <label class="label-error-message" style="display:none" id="lbl_Bank_ErrorMessage">請輸入正確銀行代碼</label>
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">卡面名稱</label>
                <div class="fr-content">
                    <input type="text" class="frlarge" name="Name" id="name" value="@Model.Name" maxlength="30"><br />
                    <label class="label-error-message" style="display:none" id="lbl_Name_ErrorMessage">請輸入卡面名稱</label>
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">卡面識別碼</label>
                <div class="fr-content">
                    <input type="text" class="frlarge" name="CategoryNo" id="categoryNo" value="@Model.CategoryNo" maxlength="8"><br />
                    <label class="label-error-message" style="display:none" id="lbl_CategoryNo_ErrorMessage">只可輸入八碼或六碼</label>
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">活動圖檔</label>
                <div class="fr-content">
                    <input type="file" name="UploadImageUrl" id="uploadImageUrl" /><br />
                    <p class="f-small">*僅能上傳圖片檔案，檔案大小建議300KB以內，尺寸為 345*216px</p><br />
                    <img id="imgCreditCardImage" style="max-width:345px;max-height:216px" /><br />
                    <label class="label-error-message" style="display:none" id="lbl_UploadImageUrl_ErrorMessage">上傳圖片尺寸限制為345*216px</label>
                </div>
            </div>
            <div class="fr-item">
                <div class="fr-content">
                    <input type="button" id="btnSave" class="btn btn-primary btn-large" value="送出" />
                </div>
            </div>
        </div>
    </div>
    <div class="divBusying" style="width:100%;height :100%; background-color:darkgrey;opacity:0.3;position :fixed;top:0;left:0;z-index:1;display:none"></div>
    <div class="divBusying" style="color: black; padding-left: 20px;position :fixed;top:50%;left:50%; z-index:0;display:none">
        <img src="~/Images/spinner.gif" /> 處理中，請稍後......
    </div>
</form>

