﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@model LunchKingSite.WebLib.Controllers.SetExhibitionEvent

@{
    ViewBag.Title = "新光三越x17Life管理後台-策展建檔-新增策展";
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    bool IsEnableCRMUserGroup = ProviderFactory.Instance().GetConfig().IsEnableCRMUserGroup;
    Dictionary<string, string> SkmStores = ViewBag.SKMStores;
    bool showCRMZeroOption = ProviderFactory.Instance().GetConfig().ShowCRMZeroOption;

}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="~/Tools/ckeditor/ckeditor.js"></script>
<!--googleCalendar-->
<link rel="stylesheet" type="text/css" href="~/Themes/skmApp/googleCalendar/lib/pikaday.css" />
<link rel="stylesheet" type="text/css" href="~/Themes/skmApp/googleCalendar/lib/jquery.ptTimeSelect.css" />
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
<script type="text/javascript" src="~/Themes/skmApp/googleCalendar/lib/pikaday.js"></script>
<script type="text/javascript" src="~/Themes/skmApp/googleCalendar/lib/jquery.ptTimeSelect.js"></script>

<style type="text/css">
    .table-title2__image {
        height: 115px;
        margin: 3px 8px 0 0;
    }

    .table-title2__delete {
        height: 120px;
        margin: auto;
    }

    ul.skm-place li {
        float: left;
        width: 140px;
    }

    ul.skm-place2 li {
        float: left;
        width: 140px;
    }
</style>

<script type="text/javascript">
    var returnMessage = '@TempData["ReturnMessage"]';
    var newCategoryID = 1;
    var newMultiEventID = 1;
    var categoryList = [];
    var eventList = [];
    var divDealCategory = "<div id='div_DealCategory_{ID}' class='fieldwrapper4' id='field4'>" +
        "<input type='text' id='CategoryName_{ID}' class='inputMEMO4' placeholder='' onchange='SetCategoryName({ID})'>" +
        "<input type='button' class='remove btn btn-default btn-small btn-long' style='margin-left:-4px;' value='刪除' onclick='DeleteCategoryField({ID})'></div>";

    var divCategoryItem = "<div class='fr-group clearfix' id='div_CategoryItem_{ID}' >" +
        "<input type='button' class='btn btn-primary btn-small btn-long flo-right' onclick='AddDealCategoryItem({ID})' value='新增商品檔次'>" +
        "<h2 id='h2_CategoryName_{ID}'>商品設定-</h2><table style='margin-top:20px;' id='tb_CategoryItem_{ID}' class='list-tb'>" +
        "<tbody><tr><th width='30%' class='sort-down alg-center'> 商品名稱</th>" +
        "<th width='10%' class='alg-center'>主打</th><th width='20%' class='alg-center'>有效起始日期</th>" +
        "<th width='20%' class='alg-center'>有效結束日期</th><th width='10%'>功能操作</th></tr></tbody></table></div>";

    var trDealCategoryItem = "<tr id='tr_DealCategoryItem_{CategoryID}_{ID}'><td class='alg-left'><div class='drop-down-w fr-select-align'>" +
        "<select id='select_EventList_{CategoryID}_{ID}' class='drop-down drop-down-w' onfocus='SetEventSelectOption({CategoryID},{ID})' onchange='SetEventInfo({CategoryID},{ID})'></select></div>" +
        "<div id='div_EventSellerList_{CategoryID}_{ID}' class='fa-question-align' data-prompt='' onmouseenter='GetEventStoreList({CategoryID},{ID})'><i class='fa fa-question-circle' aria-hidden='true'></i></div></td>" +
        "<td><input type='checkbox' id='cb_ItemIsMainDeal_{CategoryID}_{ID}' style='margin-left:-2px;'>是</td><td></td><td></td>" +
        "<td><button type='button' class='btn btn-link' onclick='DeleteCategoryItem({CategoryID},{ID})'>刪除</button></td></tr>";

    var liMultiFileUploadItem = "<li id='li_MultiEvent_{ID}'>" +
        "<div class='table-title2'><button type='button' class='btn btn-link table-title2__delete' onclick='DeleteMultiFileUploadItem({ID})'>刪除</button></div>"+
        "<div class='table-title2 table-drag-1'>1</div>" +
        "<div class='table-title2 table-drag-2'><label class='fr-label2'>網頁圖檔</label>" +
        "<input type='hidden' id='EventImageName_{ID}' />" +
        "<img id='img_MultiEvent_{ID}' class='flo-left table-title2__image' />" +
        "<input type='file' id='file_MultiEvent_{ID}' onchange='ShowImage({ID},this)'>" +
        "<p class='f-small f-drag'>※僅能上傳圖片檔案，尺寸:750*316, 檔案大小建議500KB以內(可維持長寬比放大)</p>" +
        "<label class='fr-label2'>活動網址</label><input type='text' id='txt_MultiEvent_{ID}' class='fr-input-drag'></div></li>";

    function AddCategoryField() {
        $("#div_DealCategory").append(divDealCategory.replace(/{ID}/g, newCategoryID));
        $("#div_CategoryItemsFields").append(divCategoryItem.replace(/{ID}/g, newCategoryID));
        $("#tb_CategoryItem_" + newCategoryID).append(
            trDealCategoryItem.replace(/{ID}/g, 1)
            .replace(/{CategoryID}/g, newCategoryID)
        );
        categoryList.push(JSON.parse('{"ID":"' + newCategoryID + '","CategoryItems":[{"ID":"' + 1 + '","ItemGuid":""}]}'));

        SetEventSelectOption(newCategoryID, 1);
        newCategoryID++;
    }

    function DeleteCategoryField(id) {
        if (categoryList.length <= 1) {
            alert("最少需要一個[商品分類]");
            return;
        }
        categoryList = $.grep(categoryList, function (item) {
            return item.ID !== id;
        });
        $("#div_DealCategory_" + id).remove();
        $("#div_CategoryItem_" + id).remove();
    }

    function AddDealCategoryItem(id) {
        let newCategoryItemID = 1;
        for (var i = 0; i < categoryList.length; i++) {
            if (categoryList[i].ID == id) {
                if (categoryList[i].CategoryItems.length > 0) {
                    newCategoryItemID = Math.max.apply(Math, categoryList[i].CategoryItems.map(function (item) { return item.ID; }));
                    newCategoryItemID++;
                }
                categoryList[i].CategoryItems.push(JSON.parse('{"ID":"' + newCategoryItemID + '","ItemGuid":""}'));
                break;
            }
        }
        $("#tb_CategoryItem_" + id).append(
            trDealCategoryItem.replace(/{ID}/g, newCategoryItemID)
            .replace(/{CategoryID}/g, id)
        );
        SetEventSelectOption(id, newCategoryItemID);
    }

    function DeleteCategoryItem(categoryID, id) {
        for (var i = 0; i < categoryList.length; i++) {
            if (categoryList[i].ID == categoryID) {
                categoryList[i].CategoryItems = $.grep(categoryList[i].CategoryItems, function (item) {
                    return item.ID != id;
                });
                break;
            }
        }
        $("#tr_DealCategoryItem_" + categoryID + "_" + id).remove();
    }

    function AddMultiFileUploadItem() {
        $("#ul_MultiEventItems").append(liMultiFileUploadItem.replace(/{ID}/g, newMultiEventID));
        newMultiEventID++;
        SortTableIndx();
    }

    function DeleteMultiFileUploadItem(id) {
        $("#li_MultiEvent_" + id).remove();
        SortTableIndx();
    }

    function SetCategoryName(id) {
        $("#h2_CategoryName_" + id).html("商品設定-" + $("#CategoryName_" + id).val());
    }


    function ChangeShowWay() {
        var levelType = $("input[name='levelType']:checked").val();
        var userGroup = $("input[name='UserGroup']:checked").val();

        if (levelType == "1" && userGroup == undefined) {//全卡別
            $('#showWay').html("選物推薦");
        } else {
            $('#showWay').html("會員專區");
        }
    }

    function GetUserGroupList() {
        if ('@IsEnableCRMUserGroup' == "True") {

            let searchParament = new Object();
            searchParament.StartDate = $("#PublishStartDate").val() + " " + $("#PublishStartTime").val();
            searchParament.EndDate = $("#PublishEndDate").val() + " " + $("#PublishEndTime").val();
            searchParament.Stores = [];

            if ('@Model.IsSkmHqPower' == "True") {
                searchParament.Stores.push("@ProviderFactory.Instance().GetConfig().SkmRootSellerGuid");
            }

            $('input[name="Store"]:checked').each(function(index, item) { searchParament.Stores.push(item.value); });

            if (searchParament.Stores != '') {
                $.ajax({
                    url: '/SKMDeal/GetUserGroupList',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(searchParament),
                    success: function(result) {
                        if (result.ResultCode == "0001") {
                            $("#userGroupDiv").empty();
                            var cnt = 0;
                            $.each(result.Data,
                                function(index, value) {
                                    var checked = "";
                                    if (value.Selected) {
                                        checked = "checked";
                                        $('#showWay').html("會員專區");
                                    }

                                    var html = "<li style=\"width: 140px\"><label><input type=\"checkbox\"  onchange=\"ChangeShowWay()\" class=\"UserGroupCk\" name=\"UserGroup\" " +
                                        checked + " value=\"" + value.Value + "\">" + value.Text + "</label></li>";

                                    if ((cnt % 5) == 0 && cnt > 0) {
                                        html += "<br />";
                                    }
                                    cnt++;
                                    $("#userGroupDiv").append(html);
                                });
                        } else {
                            alert(result.ResultMessage);
                        }
                    },
                    error: function() {
                        alert("取得客群資料失敗");
                    }
                });
            }
        }
    }

    function GetEventList() {
        let searchParament = new Object();
        searchParament.SelectedExhibitionCode = $("#ExhibitionCodeId").find(":selected").text();
        searchParament.StartDate = $("#PublishStartDate").val() + " " + $("#PublishStartTime").val();
        searchParament.EndDate = $("#PublishEndDate").val() + " " + $("#PublishEndTime").val();
        searchParament.Stores = [];


        $('input[name="Store"]:checked').each(function (index, item) { searchParament.Stores.push(item.value); });

        searchParament.Type = $("input[name='EventType']:checked").val();
        searchParament.RecommendSkmCardLevels = [];
        if ($(".RecommendSkmCardLevel[value='1']")[0].checked) {
            searchParament.RecommendSkmCardLevels.push("1");
        } else {
            $(".RecommendSkmCardLevel:checked").each(function(inedx, item) {
                searchParament.RecommendSkmCardLevels.push(item.value);
            });
        }

        if (searchParament.SelectedExhibitionCode != '請選擇策展代號' &&
            searchParament.RecommendSkmCardLevels.length > 0 &&
            searchParament.Type == 1) {
            $.ajax({
                url: '/SKMDeal/GetExternalDeals',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(searchParament),
                success: function(result) {
                    if (result.ResultCode == "0001") {
                        eventList = result.Data;
                    } else {
                        alert(result.ResultMessage);
                    }
                },
                error: function() {
                    alert("取得檔次資料失敗");
                }
            });
        }
    }

    function GetEventStoreList(categoryID, id) {
        let selectedEventGuid = $("#select_EventList_" + categoryID + "_" + id).find(":selected").val();

        if (selectedEventGuid != '-1') {
            let eventItem = $.grep(eventList,
                function(item) {
                    return item.EventGuid == selectedEventGuid;
                })[0];
            if (eventItem != undefined) {
                if (eventItem.Sellers != null && eventItem.Sellers != "") {
                    $("#div_EventSellerList_" + categoryID + "_" + id).attr("data-prompt", eventItem.Sellers);
                } else {
                    $.ajax({
                        url: '/SKMDeal/GetEventStoreList',
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: '{"Guid" : "' + selectedEventGuid + '"}',
                        success: function(result) {
                            if (result.ResultCode == "0001") {
                                $("#div_EventSellerList_" + categoryID + "_" + id).attr("data-prompt", result.Data);
                                for (var i = 0; i < eventList.length; i++) {
                                    if (eventList[i].EventGuid == selectedEventGuid) {
                                        eventList[i].Sellers = result.Data;
                                        break;
                                    }
                                }
                            } else {
                                alert(result.ResultMessage);
                            }
                        },
                        error: function() {
                            alert("取得活動資料失敗");
                        }
                    });
                }
            }
        }
    }

    function SetEventSelectOption(categoryID, id) {
        let originalSelectedEventGuid = $("#select_EventList_" + categoryID + "_" + id).find(":selected").val();
        let eventSelect = $("#select_EventList_" + categoryID + "_" + id);
        let selectedItemGuid = $.map(categoryList,
            function(item) {
                return $.map(item.CategoryItems,
                    function(subItem) {
                        if (item.ID == categoryID && subItem.ID == id)
                            return null;
                        return subItem.ItemGuid;
                    })
            });
        $("#select_EventList_" + categoryID + "_" + id + " option").remove();
        eventSelect.append($("<option></option>").prop("value", "-1").text("請選擇"));
        for (var i = 0; i < eventList.length; i++) {
            if ($.inArray(eventList[i].EventGuid, selectedItemGuid) < 0) {
                eventSelect.append($("<option></option>").prop("value", eventList[i].EventGuid)
                    .text(eventList[i].EventName));
            }
        }

        if (originalSelectedEventGuid != undefined) {
            eventSelect.val(originalSelectedEventGuid);
        }
    }

    function SetEventInfo(categoryID, id) {
        let selectedEventGuid = $("#select_EventList_" + categoryID + "_" + id).find(":selected").val();
        let eventItem = JSON.parse('{"EventName":"","EventGuid":"","StartDate":"","EndDate":"","Sellers":""}');

        let categoryItems = $.grep(categoryList,
            function(item) {
                return item.ID == categoryID;
            })[0].CategoryItems;

        for (var i = 0; i < categoryItems.length; i++) {
            if (categoryItems[i].ID == id) {
                categoryItems[i].ItemGuid = selectedEventGuid;
                break;
            }
        }

        if (selectedEventGuid != "-1") {
            eventItem = $.grep(eventList,
                function(item) {
                    return item.EventGuid == selectedEventGuid;
                })[0];
        }

        $("#div_EventSellerList_" + categoryID + "_" + id).prop("data-prompt", eventItem.Sellers);
        $("#cb_ItemIsMainDeal_" + categoryID + "_" + id)[0].checked = false;
        let td_EventItem = $("#tr_DealCategoryItem_" + categoryID + "_" + id + " td");
        td_EventItem[2].innerHTML = eventItem.StartDate;
        td_EventItem[3].innerHTML = eventItem.EndDate;
    }

    function ChangeRecommendSkmCardLevel() {
        let selectedEventType = $("input[name='EventType']:checked").val();
        //訊息策展or單一活動則不處理
        if (selectedEventType == 2 || selectedEventType == 3) {
            $("#ChooseCard").prop('checked', 'checked');//挑選卡別
            $('#showWay').html("會員專區");
            return;
        }
        if ($(".RecommendSkmCardLevel:checked").val() == undefined)
        {
            $(".RecommendSkmCardLevel").prop('disabled', false);
        }
        else if ($(".RecommendSkmCardLevel[value='1']")[0].checked){
            $(".RecommendSkmCardLevel[value!='1']").prop('disabled', true).prop('checked', '');
        }
        else
        {
            $("#ChooseCard").prop('checked', 'checked');
            $(".RecommendSkmCardLevel[value='1']").prop('disabled', true);
        }
    }

    function TriggerStore() {
        if (document.getElementById('chk_hq').checked) {
            $(".stores").prop('checked', 'checked');
        } else {
            $(".stores").prop('checked', '');
        }
    }

    function ChangeExhibitionCode() {
        let selectedExhibitionCode = $("#ExhibitionCodeId").find(":selected").val();
        $("#Subject").val("");
        if (selectedExhibitionCode != "-1") {
            $("#Subject").val(selectedExhibitionCode);
        }
        GetEventList();
    }

    function ChangeEventType() {
        $(".RecommendSkmCardLevel[value!='1']").prop('disabled', false).prop('checked', '');
        switch ($("input[name='EventType']:checked").val()) {
        case "1":
            $(".event-rule").show();
            $(".event-content").show();
            $(".category").show();
            $(".banner-link").hide();
            $(".multi-event").hide();
            $(".RecommendSkmCardLevel[value='1']").prop('disabled', false).prop('checked', '');

            break;
        case "2":
            $(".event-rule").show();
            $(".event-content").hide();
            $(".category").hide();
            $(".banner-link").hide();
            $(".multi-event").hide();
            $(".RecommendSkmCardLevel[value='1']").prop('disabled', true).prop('checked', '');
            break;
        case "3":
            $(".event-rule").hide();
            $(".event-content").hide();
            $(".category").hide();
            $(".banner-link").show();
            $(".multi-event").hide();
            $(".RecommendSkmCardLevel[value='1']").prop('disabled', true).prop('checked', '');
            break;
        case "4":
            $(".event-rule").hide();
            $(".event-content").hide();
            $(".category").hide();
            $(".banner-link").hide();
            $(".multi-event").show();
            $(".RecommendSkmCardLevel[value='1']").prop('disabled', false).prop('checked', '');
            break;
        }
    }

    function AddExhibitionEvent() {

        let data = GetPostFormData();

        let errorMessage = ValidatePostFormData(data);
        if (errorMessage.length > 0) {
            alert(errorMessage.join("\n"));
            return;
        }
        block_postback();
        $.ajax({
            url: '/SKMDeal/AddExhibitionEvent',
            type: 'POST',
            dataType: 'json',
            contentType: false,
            data: data,
            processData: false,
            success: function(result) {
                unblock_ui();
                if (result.ResultCode == "0001") {
                    alert("新增策展成功");
                    location.href = "/SKMDeal/ExhibitionEvent";
                } else {
                    alert(result.ResultMessage);
                }
            },
            error: function(e) {
                unblock_ui();
                alert("新增策展失敗");
            }
        });
    }

    function GetPostFormData() {
        let data = new FormData();
        data.append("ExhibitionCodeId", $("#ExhibitionCodeId :selected").text());
        data.append("Subject", $("#Subject").val());
        data.append("BannerPic", $("#BannerPic")[0].files[0]);
        data.append("BannerLink", $("#BannerLink").val());
        data.append("Type", $("input[name='EventType']:checked").val());
        if ($(".RecommendSkmCardLevel[value='1']")[0].checked) {
            data.append("RecommendSkmCardLevels", "1");
        } else {
            $(".RecommendSkmCardLevel:checked").each(function(inedx, item) {
                data.append("RecommendSkmCardLevels", item.value);
            });
        }

        //適用分店
        $('input[name="Store"]:checked').each(function(index, item) { data.append("Store", item.value); });

        //客群
        $('input[name="UserGroup"]:checked').each(function(index, item) { data.append("UserGroup", item.value); });

        data.append("EventContent", encodeURIComponent(CKEDITOR.instances['EventContent'].getData()));
        data.append("EventRule", encodeURIComponent(CKEDITOR.instances['EventRule'].getData()));
        data.append("StartDate", $("#PublishStartDate").val());
        data.append("StartTime", $("#PublishStartTime").val());
        data.append("EndDate", $("#PublishEndDate").val());
        data.append("EndTime", $("#PublishEndTime").val());
        let Categorys = [];
        let categoryIndex = 0;
        $('input[id^="CategoryName_"]').each(function(index, item) {
            let categoryID = item.id.replace("CategoryName_", "");
            if ($("#CategoryName_" + categoryID).val() != "-1") {
                data.append("Categorys[" + categoryIndex + "].Name", $("#CategoryName_" + categoryID).val());
                let categoryItemIndex = 0;
                $('select[id^="select_EventList_' + categoryID + '_"]').each(function(index, item) {
                    let eventID = item.id.replace("select_EventList_" + categoryID + "_", "");
                    if ($("#select_EventList_" + categoryID + "_" + eventID).val() != "") {
                        data.append(
                            "Categorys[" +
                            categoryIndex +
                            "].ExternalDeals[" +
                            categoryItemIndex +
                            "].ExternalDealGuid",
                            $("#select_EventList_" + categoryID + "_" + eventID).val());
                        data.append(
                            "Categorys[" + categoryIndex + "].ExternalDeals[" + categoryItemIndex + "].IsMainDeal",
                            $("#cb_ItemIsMainDeal_" + categoryID + "_" + eventID)[0].checked ? "1" : "0");

                        categoryItemIndex++;
                    }
                });
                categoryIndex++;
            }
        });

        $("#ul_MultiEventItems li").each(function(index, item) {
            let existEventIndex = item.id.replace("li_MultiEvent_", "");
            data.append("ExistEvents[" + index + "].EventImage",
                $(item).find("#file_MultiEvent_" + existEventIndex)[0].files[0]);
            data.append("ExistEvents[" + index + "].EventUrl",
                $(item).find("#txt_MultiEvent_" + existEventIndex).val());
            data.append("ExistEvents[" + index + "].Seq", $(item).find(".table-drag-1").html());
        });

        data.append("BannerPic", $("#BannerPic")[0].files);
        return data;
    }

    function ValidatePostFormData(formData) {
        let result = [];
        if (formData.get("ExhibitionCodeId") == undefined || formData.get("ExhibitionCodeId") <= 0)
            result.push("請選擇策展代號");
        if (formData.get("StartDate") == undefined ||
            formData.get("StartTime") == undefined ||
            formData.get("StartDate") == "" ||
            formData.get("StartTime") == "")
            result.push("請選擇檔次上架時間");
        if (formData.get("EndDate") == undefined ||
            formData.get("EndTime") == undefined ||
            formData.get("EndDate") == "" ||
            formData.get("EndTime") == "")
            result.push("請選擇檔次下架時間");
        if (formData.get("BannerPic") == undefined)
            result.push("請選擇網頁圖檔");
        if (formData.get("RecommendSkmCardLevels") == undefined)
            result.push("請選擇推薦卡別");
        if (formData.get("Store") == undefined)
            result.push("請選擇適用分店");

        @*if ('@IsEnableCRMUserGroup' == "True" && formData.get("UserGroup") == undefined) {
            result.push("請選擇客群");
        }*@

        if (formData.get("Type") == 1 || formData.get("Type") == 2) {
            if (formData.get("EventRule") == undefined || formData.get("EventRule") == "")
                result.push("請編輯注意事項");
        }
        if (formData.get("Type") == 1) {
            if (formData.get("EventContent") == undefined || formData.get("EventContent") == "")
                result.push("請編輯策展內容");
            if (formData.get("Categorys[0].Name") == undefined || formData.get("Categorys[0].Name") == "")
                result.push("請填寫商品分類名稱");
            if (formData.get("Categorys[0].ExternalDeals[0].ExternalDealGuid") == undefined ||
                formData.get("Categorys[0].ExternalDeals[0].ExternalDealGuid") == "")
                result.push("請選擇商品分類的商品名稱");
        }
        if (formData.get("Type") == 3) {
            if (formData.get("BannerLink") == undefined || formData.get("BannerLink") == "")
                result.push("請填寫活動網址");
            else if (formData.get("BannerLink").toLowerCase().indexOf("https://") != 0 &&
                formData.get("BannerLink").toLowerCase().indexOf("http://") != 0)
                result.push("活動網址請填寫正確的URL格式");
        }
        if (formData.get("Type") == 4) {
            if (formData.get("ExistEvents[0].EventImage") == undefined ||
                formData.get("ExistEvents[0].EventImage") == "")
                result.push("請選擇網頁圖檔");
            if (formData.get("ExistEvents[0].EventUrl") == undefined ||
                formData.get("ExistEvents[0].EventImage") == "")
                result.push("請設定活動網址");
            else if (formData.get("ExistEvents[0].EventUrl").toLowerCase().indexOf("https://") != 0 &&
                formData.get("ExistEvents[0].EventUrl").toLowerCase().indexOf("http://") != 0)
                result.push("活動網址請填寫正確的URL格式");
        }
        return result;
    }

    function unblock_ui() {
        $.unblockUI();
        return false;
    }

    function block_postback() {
        $.blockUI({ message: "<center><font color='blue'>處理中，請稍候...</font></center>", css: { width: '250px' } });
    }

    function ShowImage(ID,target) {
        if (target.files && target.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#img_MultiEvent_" + ID).prop('src', e.target.result);
            }
            reader.readAsDataURL(target.files[0]);
        }
    }

    function SortTableIndx() {
        $("#ul_MultiEventItems li").each(function (idx, value) {
            $(value).find(".table-drag-1").html(idx + 1);
        });
    }

    $().ready(
        function () {
            $('#div_Publish .date').pikaday();
            $('#div_Publish .time').ptTimeSelect({
                'onClose': function ($self) {
                    $self.trigger('change');
                }
            });
            var EventContent = CKEDITOR.replace('EventContent', { width: '70%', height: '160px' });
            CKEDITOR.replace('EventRule', { width: '70%', height: '160px' });

            AddCategoryField();

            $(".RecommendSkmCardLevel").change(
                function () {
                    ChangeRecommendSkmCardLevel();
                    GetEventList();
                }
            );

            $("#chk_hq").click(
                function () {
                    TriggerStore();
                }
            );

            $("#ChooseCard").click(
                function () {
                    $('.RecommendSkmCardLevel').removeAttr('disabled');
                    //訊息策展跟單一活動策展不可以選全卡別
                    if ($("input[name='EventType']:checked").val() == "2" || $("input[name='EventType']:checked").val() == "3") {
                        $(".RecommendSkmCardLevel[value='1']").prop('disabled', true).prop('checked', '');
                    }
                }
            );

            $("input[name='levelType']").click(
                function () {
                    ChangeShowWay();
                }
            );

            $("#btn_AddCategoryField").click(
                function () {
                    AddCategoryField();
                }
            );
            $("#ExhibitionCodeId").change(
                function () {
                    ChangeExhibitionCode();
                }
            );
            $('#div_Publish .date').change(
                function () {
                    GetUserGroupList();
                    GetEventList();
                }
            );
            $('#div_Publish .time').change(
                function () {
                    GetUserGroupList();
                    GetEventList();
                }
            );
            $("input[name='EventType']").change(
                function () {
                    ChangeEventType();
                }
            );

            $(".allStores").change(
                function () {
                    GetUserGroupList();
                    GetEventList();
                }
            );
            $(".stores").change(
                function () {
                    GetUserGroupList();
                    GetEventList();
                }
            );
            $("#Add").click(
                function () {
                    AddExhibitionEvent();
                }
            );

            $("#btn_AddMultiEventItem").click(
                function () {
                    AddMultiFileUploadItem();
                }
            );

            $("#BannerPic").change(
                function () {
                    if (this.files && this.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#img_BannerPic").prop('src', e.target.result);
                        }
                        reader.readAsDataURL(this.files[0]);
                    }
                }
            );

            $("#ul_MultiEventItems").sortable({
                stop: function (event, ui) {
                    SortTableIndx();
                }
            });

            //預設策展類型 商品類型
            $("input[name='EventType'][value='1']").prop("checked", "checked");
            GetUserGroupList();
            ChangeEventType();
            AddMultiFileUploadItem();
            if (returnMessage != '' && returnMessage != null && returnMessage != undefined) {
                alert(returnMessage);
            }

        }
    );
</script>

@using (Html.BeginForm("AddExhibitionEvent", "SkmDeal"))
{
    <div class="pdg-40">
        <div class="zone">
            <div class="pdg-15"><a class="mrg20-hor" href="javascript:void(0);" onclick="location.href='ExhibitionEvent'"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
            <h2>新增策展</h2>
            <div class="fr-group clearfix">
                <div class="fr-item">
                    <label class="fr-label2">策展代號</label>
                    <div class="fr-content2">
                        <select class="drop-down" id="ExhibitionCodeId">
                            <option value="-1">請選擇策展代號</option>
                            @foreach (var item in (List<LunchKingSite.Core.Models.Entities.ExhibitionCode>)ViewBag.ExhibitionCodes)
                            {
                                <option value="@item.ExhibitionName">@item.Id</option>
                            }
                        </select>

                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label2">策展名稱</label>
                    <div class="fr-content2">
                        <input type="text" class="fr-input-defaul " placeholder="" id="Subject" name="Subject" readonly="readonly">
                        <p class="f-small f-red">※選擇策展代號後將自動入</p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label2">檔次上架時間</label>
                    <div class="fr-content2" id="div_Publish">
                        <input type="text" id="PublishStartDate" name="PublishStartDate" class="date start fr-input-defaul" autocomplete="off" placeholder="日期" value="" />&nbsp;
                        <input type="text" id="PublishStartTime" name="PublishStartTime" class="time start fr-input-defaul" autocomplete="off" placeholder="時間" value="" />
                        <p class="f-small">至</p>
                        <input type="text" id="PublishEndDate" name="PublishEndDate" class="date end fr-input-defaul" autocomplete="off" placeholder="日期" value="" />&nbsp;
                        <input type="text" id="PublishEndTime" name="PublishEndTime" class="time end fr-input-defaul" autocomplete="off" placeholder="時間" value="" />
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label2">策展類型</label>
                    <div class="fr-content2" style="height:32px">
                        <ul class="skm-place flo-left pdg-btm-10">
                            @{
                                foreach (LunchKingSite.Core.SkmExhibitionEventType item in Enum.GetValues(typeof(LunchKingSite.Core.SkmExhibitionEventType)))
                                {
                                    <li><label><input type="radio" id="EventType" name="EventType" value="@((int)item)">@LunchKingSite.Core.Helper.GetDescription(item)</label></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label2">推薦卡別</label>
                    <div class="fr-content2" style="height: 32px">
                        <ul class="skm-place flo-left pdg-btm-10" style="width: 1000px">
                            @{
                                if (IsEnableCRMUserGroup)
                                {
                                    <li><label><input type="radio" class="RecommendSkmCardLevel" name="levelType" value="@((int)SkmCardLevelType.All)" />全卡別</label></li>
                                    <li><label><input type="radio" id="ChooseCard" name="levelType" value="0" />挑選卡別:</label></li>
                                    foreach (var item in Enum.GetValues(typeof(LunchKingSite.Core.SkmCardLevelType)))
                                    {
                                        if (!showCRMZeroOption && (SkmCardLevelType)item == SkmCardLevelType.Zero)
                                        {
                                            continue;
                                        }
                                        //隱藏訪客身分
                                        if (((LunchKingSite.Core.SkmCardLevelType)item) != LunchKingSite.Core.SkmCardLevelType.Guest
                                        && (LunchKingSite.Core.SkmCardLevelType)item != LunchKingSite.Core.SkmCardLevelType.All)
                                        {
                                            <li><label><input type="checkbox" class="RecommendSkmCardLevel" value="@((int) ((LunchKingSite.Core.SkmCardLevelType) item))">@LunchKingSite.Core.Helper.GetDescription(item)</label></li>
                                        }
                                    }
                                }
                                else
                                {
                                    foreach (var item in Enum.GetValues(typeof(LunchKingSite.Core.SkmCardLevelType)))
                                    {
                                        //隱藏訪客身分
                                        if (((LunchKingSite.Core.SkmCardLevelType)item) != LunchKingSite.Core.SkmCardLevelType.Guest)
                                        {
                                            <li><label><input type="checkbox" class="RecommendSkmCardLevel" value="@((int) ((LunchKingSite.Core.SkmCardLevelType) item))">@LunchKingSite.Core.Helper.GetDescription(item)</label></li>
                                        }
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label2">適用分店</label>
                    <div class="fr-content2">
                        <ul class="skm-place flo-left pdg-btm-10">
                            @{
                                if (IsEnableCRMUserGroup && Model.IsSkmHqPower)
                                {
                                    <li>
                                        <label>
                                            <input type="checkbox" id="chk_hq" class="allStores" name="Store1" value="all" />全選
                                        </label>
                                    </li>
                                    <br />
                                }
                                int cnt = 1;
                                foreach (var store in SkmStores)
                                {
                                    <li>
                                        <label>
                                            @if (SkmStores.Count() == 1)
                                            {
                                                <input type="checkbox" id="chk_@store.Key" class="stores" checked disabled name="Store" value="@store.Key" />@store.Value
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk_@store.Key" class="stores" name="Store" value="@store.Key" />@store.Value
                                            }
                                        </label>
                                    </li>

                                    if ((cnt % 5) == 0 && cnt > 0)
                                    {
                                        <br />
                                    }
                                    cnt++;
                                }
                            }
                        </ul>
                    </div>
                </div>
                @if (IsEnableCRMUserGroup)
                {
                    //if (Model.IsSkmHqPower)//暫時不開放給分店
                    //{
                    <div class="fr-item" style="clear: both;">
                        <label class="fr-label2" style="height: 64px">客群選擇</label>
                        <div class="fr-content2">
                            <ul id="userGroupDiv" class="skm-place flo-left pdg-btm-10"></ul>
                        </div>
                    </div>
                    //}
                    <div class="fr-item" style="clear: both;">
                        <label class="fr-label2" style="height: 64px">前台顯示版位</label>
                        <div class="fr-content2">
                            <span id="showWay"></span>
                        </div>
                    </div>
                }

                <div class="fr-item" style="clear: both;">
                    <label class="fr-label2">網頁圖檔</label>
                    <div class="fr-content2">
                        <img id="img_BannerPic" />
                        <input type="file" id="BannerPic" name="BannerPic">
                    </div>
                    <div class="fr-content2">
                        <p class="f-small">※僅能上傳圖片檔案，尺寸:750*470, 檔案大小建議700KB以內(可維持長寬比放大)</p>
                    </div>
                </div>
                <div class="fr-item banner-link" style="clear: both;">
                    <label class="fr-label2">活動網址</label>
                    <div class="fr-content2">
                        <input type="text" style="width:750px" id="BannerLink" name="BannerLink" maxlength="640">
                    </div>
                </div>
                <div class="fr-item event-content">
                    <label class="fr-label2">策展內容編輯</label>
                    <div class="fr-content2">
                        <textarea id="EventContent" name="EventContent" class="fr-input-large description" rows="5" cols="37"></textarea>
                    </div>
                    <div class="fr-content2">
                        <p class="f-small">※ 建議字數40字元</p>
                    </div>
                </div>
                <div class="fr-item event-rule">
                    <label class="fr-label2">注意事項編輯</label>
                    <div class="fr-content2">
                        <textarea id="EventRule" name="EventRule" class="fr-input-large description" rows="5" cols="37"></textarea>
                    </div>
                </div>
                <div class="fr-item category">
                    <label class="fr-label2">商品分類名稱</label>
                    <div class="fr-content2">
                        <div id="div_DealCategory">
                        </div>
                        <button type="button" id="btn_AddCategoryField" class="btn btn-primary btn-small btn-long">新增</button>
                    </div>
                </div>
                <ul class="admin_note category">
                    <li class="f-red">僅可選擇策展期間內各分店有上檔之商品，選擇後將自動帶入標籤/有效日期</li>
                    <li class="f-red">若單一商品多分店，列表僅顯示一則商品，建立完成將自動新增至各分店</li>
                    <li class="f-red">滑鼠移至<span class="fa-question-word"><i class="fa fa-question-circle  " aria-hidden="true"></i></span>可觀看該商品之所屬分店</li>
                </ul>
            </div>
            <div class="category" id="div_CategoryItemsFields">
            </div>
            <h2 class="multi-event">多重活動設定</h2>
            <div style="margin-top:20px;" class="list-tb multi-event">
                <div style="margin-top:20px;">
                    <ul class="dragsort clearfix multiple-drag" id="ul_MultiEventItems"></ul>
                    <br />
                    <p class="f-small ">※ 上方設定可做上下拖曳，設定顯示排序</p>
                </div>
            </div>
            <input type="button" class="btn btn-primary  btn-small btn-long multi-event" id="btn_AddMultiEventItem" value="新增活動">
            <div style="margin-top:20px;" class="fr-group clearfix fr-border-line">
                <div class="fr-item">
                    <input type="button" id="Add" class="btn btn-primary btn-large" value="儲存">
                    <input type="button" class="btn btn-cancel btn-large" value="取消" onclick="location.href='ExhibitionEvent'">
                </div>
            </div>
        </div>
    </div>
}
