﻿@using LunchKingSite.Core;
@using LunchKingSite.Core.Component
@model LunchKingSite.WebLib.Controllers.DealCategoryModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='/Tools/js/jquery.ui.datepicker-zh-TW.js'></script>
<script type="text/javascript">
    $(function () {

        $("#btnSave").click(function () {

            if ($.trim($("#Name").val()) == "") {
                alert("必須填寫主商品分類名稱");
                return false;
            }

            $("form").submit();
        });
        $("#btnCancel").click(function () {
            if (!confirm("確定取消？")) {
                return false;
            }
            location.href = '/SKMDeal/DealCategoryList';
        });
    });

    function checkDate(value) {
        var re = /^\d{4}\/\d{1,2}\/\d{1,2}$/;
        return re.test(value);
    }
</script>

<div class="pdg-15"><a class="mrg20-hor" href="/SKMDeal/DealCategoryList"><i class="fa fa-arrow-left fa-fw"></i>回主分類列表</a></div>
<form id="applyForm" class="fr-group clearfix" method="post" action='/SKMDeal/DealCategoryAdd' enctype="multipart/form-data">
    <div class="pdg-40 pdg-hor-0">
        <div class="zone ">
            <h2>@(Model.MainCategory.Id == 0 ? "新增" : "編輯")商品主分類</h2>
            <form class="fr-group clearfix">
                <input type="hidden" name="Id" id="Id" value="@Model.MainCategory.Id">
                <div class="fr-item">
                    <label class="fr-label">主分類名稱</label>
                    <div class="fr-content">
                        <input type="text" class="fr-input-middle" name="Name" id="Name" value="@Model.MainCategory.Name" maxlength="11" @(config.EnableCreateCategory ? "" : "disabled")> &nbsp;&nbsp;
                        @if (config.EnableCreateCategory) {
                            <input type="button" id="btnSave" class="btn btn-primary btn-large" style="padding: 8px 8px;" value="儲存">
                            <input type="button" id="btnCancel" class="btn btn-cancel btn-large" style="padding: 8px 8px;" value="取消">
                        }
                        <br><span style="color: red">*限制字數最多為11字</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>

@if (Model.MainCategory.Id != 0) {
    <div class="pdg-40 pdg-hor-0">
        @if (config.EnableCreateCategory) {
            <a class="btn btn-primary  btn-small btn-long flo-left" href="/SKMDeal/DealSubCategoryAdd?parentId=@Model.MainCategory.Id">新增子商品</a>
            <br />
        }
        <table class="list-tb" style="width: 80%">
            <tr>
                <th>子分類排序</th>
                <th>子分類名稱</th>
                <th>狀態</th>
                @if (config.EnableCreateCategory) {
                    <th>功能操作</th>
                }
            </tr>
            @foreach (var item in Model.SubCategoryList) {
                <tr draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)" ondragend="dragendToSave()">
                    <td class="id" style="display: none">@item.Id</td>
                    <td>@(item.Rank.HasValue ? item.Rank.Value : 0)</td>
                    <td>@item.Name</td>
                    <td>@(item.IsShowFrontEnd ? "上架中" : "下架")</td>
                    @if (config.EnableCreateCategory) {
                        <td>
                            <a href="/SKMDeal/DealSubCategoryHide?parentId=@Model.MainCategory.Id&id=@item.Id" onclick="return confirm('確認@(item.IsShowFrontEnd ? "下架" : "上架")此分類？')">
                                @(item.IsShowFrontEnd ? "下架" : "上架")
                            </a>
                            <text>/</text> <a href="/SKMDeal/DealSubCategoryAdd?parentId=@Model.MainCategory.Id&id=@item.Id">編輯</a>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
}

<script>
        var source;
        function isbefore(a, b) {
            if (a.parentNode == b.parentNode) {
                for (var cur = a; cur; cur = cur.previousSibling) {
                    if (cur === b) {
                        return true;
                    }
                }
            }
            return false;
        }

        function dragenter(e) {
            var targetelem = e.target;
            if (targetelem.nodeName == "TD") {
                targetelem = targetelem.parentNode;
            }

            if (isbefore(source, targetelem)) {
                targetelem.parentNode.insertBefore(source, targetelem);
            } else {
                targetelem.parentNode.insertBefore(source, targetelem.nextSibling);
            }
        }


        function dragendToSave() {

            console.log("dragend");
            var id = document.querySelectorAll('.id');
            var data = [];  // 儲存所有 ID

            for (var i = 0, len = id.length; i < len; i++) {
                // 取得所有 ID 並存為 array
                data.push(id[i].innerHTML);
                console.log("id[" + i + "].innerHTML" + id[i].innerHTML);
            }

            $.post("/SKMDeal/DealCategoryReOrder", { data: JSON.stringify(data) }, function (result) {
                console.log(result.isSuccess);
                $.post("/SKMDeal/DealSubCategoryReOrder", { data: JSON.stringify(data), parentId : '@Model.MainCategory.Id' }, function (result) {
                    console.log(result.isSuccess);

                    location.reload();
                });
            });
        }

        function dragstart(e) {
            source = e.target;
            e.dataTransfer.effectAllowed = 'move';
            console.log("dragstart");
        }
</script>