﻿@using LunchKingSite.Core
@using LunchKingSite.Web.ControlRoom
@using LunchKingSite.WebLib.Models.SkmDeal
@using LunchKingSite.Core.Component;
@model EditCustomizedBoardModel
@{
    ViewBag.Title = "編輯自訂版位設定";
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}
<style>
    .label-error-message {
        color: white;
        background-color: red;
    }
</style>
<script>
    $().ready(function () {
        let message = "@(TempData["message"])";
        if (message != null && message!= "")
        {
            alert(message);
        }
        let validateMessage = '@Html.Raw(TempData["validateResult"])'
        if (validateMessage != null && validateMessage != "") {
            let validateMessageList = $.parseJSON(validateMessage);
            $.each(validateMessageList, function (index, item) {
                $("#lbl_" + item.Key + "_ErrorMessage").html(item.Message).show();
            });
        }

        //初始設定

        if (@((Model.ContentType == LunchKingSite.Core.SkmCustomizedBoardUrlTypeEnum.DefaultGoodEat ||
               Model.ContentType == LunchKingSite.Core.SkmCustomizedBoardUrlTypeEnum.DefaultExhibitionList ||
               Model.ContentType == LunchKingSite.Core.SkmCustomizedBoardUrlTypeEnum.DefaultBeautyStage).ToString().ToLower()))
        {
            $("#div_LinkUrl").hide();
        }

        $("#uploadImageFile").change(function () {
            //即時顯示圖檔
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("img_BoardImage").src = e.target.result;
            };
            reader.readAsDataURL(this.files[0]);
        });

        $("#btnCancel").click(function () {
            location.href = "/SkmDeal/CustomizedBoardList?store=@Model.SellerGuid";
        });

        $('[name="ContentType"]').change(function () {
            let contentType = $('[name="ContentType"]:checked').val();
            $("#LinkUrl").val("");
            if (contentType == 1 || contentType == 2 || contentType == 3) {
                $("#div_LinkUrl").hide();
            }
            else {
                $("#div_LinkUrl").show();
            }
        });
    })
</script>
<div class="pdg-15"><a class="mrg20-hor" href="/SkmDeal/CustomizedBoardList?store=@Model.SellerGuid"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
<form id="applyForm" class="fr-group clearfix" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(p => p.SellerGuid)
    <div class="pdg-40 pdg-hor-0">
        <div class="zone ">
            <h2>自訂版位設定>@Model.LayoutType</h2>
            <div class="fr-item">
                <label class="fr-label">連結類型</label>
                <div class="fr-content">
                    @foreach (LunchKingSite.Core.SkmCustomizedBoardUrlTypeEnum item in Enum.GetValues(typeof(LunchKingSite.Core.SkmCustomizedBoardUrlTypeEnum)))
                    {
                        if(!config.ShowCutomizedBoardPrizeDrawOption && (item == SkmCustomizedBoardUrlTypeEnum.PrizeDrawEvent || item == SkmCustomizedBoardUrlTypeEnum.WeeklyDrawEvent)) {
                            continue;
                        }
                        <label>
                            <input type="radio" id="contentType" name="ContentType" value="@((int) item)" @(Model.ContentType == item ? "checked" : "")>
                            <p>@LunchKingSite.Core.Helper.GetDescription(item)</p>
                        </label>
                        if (item.Equals(SkmCustomizedBoardUrlTypeEnum.DefaultBeautyStage))
                        {
                            <br />
                        }
                    }
                    @Html.HiddenFor(item => item.Id)
                    @Html.HiddenFor(item => item.ImageUrl)
                </div>
            </div>
            <div id="div_LinkUrl" class="fr-item">
                <label class="fr-label">連結內容</label>
                <div class="fr-content">
                    @Html.TextBoxFor(item => item.LinkUrl, new { @class = "fr-input-large", style = "width:70%" })<br />
                    <label class="label-error-message" style="display: none" id="lbl_LinkUrl_ErrorMessage">此為必填欄位！</label>
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">圖檔</label>
                <div class="fr-content">
                    <input type="file" name="UploadImageFile" id="uploadImageFile" /><br />
                    <p class="f-small">*僅能上傳圖片檔案(png、jpg)，檔案大小建議300KB以內，尺寸為 @Model.ImageLimiteWidth x @Model.ImageLimiteHeight</p><br />
                    <img id="img_BoardImage" src="@Model.ImageUrl" style="@(string.Format("max-width:{0}px;max-height:{1}px", Model.ImageLimiteWidth, Model.ImageLimiteHeight))" /><br />
                    <label class="label-error-message" style="display: none" id="lbl_UploadImageFile_ErrorMessage">此為必填欄位！</label>
                </div>
            </div>
            <div class="fr-item">
                <div class="fr-content">
                    <input type="submit" id="btnSave" class="btn btn-primary btn-large" value="送出" />
                    <input type="button" id="btnCancel" class="btn btn-primary btn-large" value="取消" />
                </div>
            </div>
        </div>
    </div>
    <div class="divBusying" style="width: 100%; height: 100%; background-color: darkgrey; opacity: 0.3; position: fixed; top: 0; left: 0; z-index: 1; display: none"></div>
    <div class="divBusying" style="color: black; padding-left: 20px; position: fixed; top: 50%; left: 50%; z-index: 0; display: none">
        <img src="~/Images/spinner.gif" /> 處理中，請稍後......
    </div>
</form>

