﻿@model LunchKingSite.WebLib.Controllers.UserGroupViewModel
@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    Dictionary<string, string> sellers = ViewBag.SkmSellers as Dictionary<string, string>;
    string qSeller = (string)ViewData["qSeller"];
    string StartDate = Model.StartDate.ToString("yyyy/MM/dd");
    string StartTimeHour = Model.StartDate.ToString("HH");
    string StartTimeMinute = Model.StartDate.ToString("mm");
    string EndDate = Model.EndDate.ToString("yyyy/MM/dd");
    string EndTimeHour = Model.EndDate.ToString("HH");
    string EndTimeMinute = Model.EndDate.ToString("mm");
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='/Tools/js/jquery.ui.datepicker-zh-TW.js'></script>
<script type="text/javascript">
    $(function () {
        $("#StartDate").datepicker({
            setDate: new Date(),
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
        });
        $("#EndDate").datepicker({
            setDate: 1,
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
        });


        $("#btnSave").click(function () {

            if ($.trim($("#Name").val()) == "") {
                alert("必須填寫客群名稱");
                return false;
            }
            if ($.trim($("#StartDate").val()) == "") {
                alert("必須填寫客群上架時間");
                return false;
            }
            if ($.trim($("#EndDate").val()) == "") {
                alert("必須填寫客群下架時間");
                return false;
            }
            if (!checkDate($("#StartDate").val())) {
                alert("客群上架時間格式不正確");
                return false;
            }
            if (!checkDate($("#EndDate").val())) {
                alert("客群下架時間格式不正確");
                return false;
            }
            if ($.trim($("#EndDate").val()) == "") {
                alert("必須填寫客群上架時間");
                return false;
            }
            if (Date.parse($("#StartDate").val()).valueOf() > Date.parse($("#EndDate").val()).valueOf()) {
                alert("客群下架時間不可早於客群上架時間");
                return false;
            }
            if ($.trim($("#File").val()) == "" && '@Model.FileName' == '') {
                alert("必須匯入客群名單");
                return false;
            }
            $("#divBusying").show();
            $("form").submit();
        });
        $("#btnCancel").click(function () {
            if (!confirm("確定取消？")) {
                return false;
            }
            location.href = '/SKMDeal/ExhibitionUserGroupList';
        });
    });

    function checkDate(value) {
        var re = /^\d{4}\/\d{1,2}\/\d{1,2}$/;
        return re.test(value);
    }
</script>

<div id="divBusying" style="width:100%;height :100%; background-color:darkgrey;opacity:0.3;position :fixed;top:0;left:0;z-index:1;display:none">
    <div style="color: black; padding-left: 20px;position :fixed;top:50%;left:50%; z-index:0">
        <img src="~/Images/spinner.gif" /><p style="opacity:1; color: black;font-weight:bold; font-size:x-large">客群資料匯入中，請稍後......</p>
    </div>
</div>

<div class="pdg-15"><a class="mrg20-hor" href="/SKMDeal/ExhibitionUserGroupList?qSeller=@qSeller"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
<form id="applyForm" class="fr-group clearfix" method="post" action='/SKMDeal/@(Model.Id==0?"ExhibitionUserGroupAdd":"ExhibitionUserGroupEdit")' enctype="multipart/form-data">
    <div class="pdg-40 pdg-hor-0">
        <div class="zone ">
            <h2>商品/活動資訊</h2>
            <form class="fr-group clearfix">
                @Html.HiddenFor(p => p.Id)
                @Html.HiddenFor(p => p.Page)
                @Html.HiddenFor(p => p.SellerGuid)
                <div class="fr-item">
                    <label class="fr-label">適用分店</label>
                    <div class="fr-content">
                        <label>@Model.SellerName</label> <h3 style="color: red">@Html.ValidationMessage("ErrorMsg")</h3>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">客群名稱</label>
                    <div class="fr-content">
                        <input type="text" class="fr-input-middle" name="Name" id="Name" value="@Model.Name" maxlength="15"> <span style="color: red">*限制字數最多為15字</span>

                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">客群上架時間</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">
                        <input type="text" name="StartDate" id="StartDate" value="@StartDate" class="time start fr-input-defaul" placeholder="日期" autocomplete="off">
                        <select id="StartTimeHour" name="StartTimeHour">
                            @for (int h = 0; h <= 23; h++)
                            {
                                if (StartTimeHour == h.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@h.ToString().PadLeft(2,'0')" selected>@h.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')">@h.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                        <select id="StartTimeMinute" name="StartTimeMinute">
                            @for (int m = 0; m <= 59; m += 5)
                            {
                                if (StartTimeMinute == m.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@m.ToString().PadLeft(2,'0')" selected>@m.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')">@m.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">客群下架時間</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">
                        <input type="text" name="EndDate" id="EndDate" value="@EndDate" class="date start fr-input-defaul" placeholder="日期" autocomplete="off">
                        <select id="EndTimeHour" name="EndTimeHour">
                            @for (int h = 0; h <= 23; h++)
                            {
                                if (EndTimeHour == h.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@h.ToString().PadLeft(2,'0')" selected>@h.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')">@h.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                        <select id="EndTimeMinute" name="EndTimeMinute">
                            @for (int m = 0; m <= 59; m += 5)
                            {
                                if (EndTimeMinute == m.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@m.ToString().PadLeft(2,'0')" selected>@m.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')">@m.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="fr-item" style="clear: both">
                    <label class="fr-label" style="clear: both">匯入客群名單</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">

                        @if (!string.IsNullOrEmpty(Model.FileName))
                        {
                            var downLoadPath = "/media/Files/" + Model.FileName;
                            <a href="@downLoadPath">既有檔案下載：@Model.FileName</a><br />
                        }
                        else
                        {
                            <a href="/media/Files/sample.csv">範例下載：sample.csv</a><br />
                        }
                        <input type="file" name="File" id="File" value="">
                        <input type="hidden" name="FileName" id="FileName" value="@Model.FileName">   <span>*限定csv檔，請以提供規格範本上傳，限定檔案</span><br />

                        <span style="color: red">@Html.ValidationMessageFor(model => model.File)</span>


                    </div>
                </div>
                <div class="fr-item">
                    <div class="fr-content">
                        <input type="button" id="btnSave" class="btn btn-primary btn-large" value="儲存">
                        <input type="button" id="btnCancel" class="btn btn-cancel btn-large" value="取消">
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>
