﻿@using Newtonsoft.Json
@using JsonSerializer = LunchKingSite.Core.JsonSerializer;
@model LunchKingSite.WebLib.Controllers.ExhibitionCodeResponse
@{
    ViewBag.Title = "新光三越x17Life管理後台";
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
}
<link type="text/css" href='../Themes/skmApp/skmApp.css' rel="stylesheet" />

<script type="text/javascript">
    var returnMessage = '@TempData["ReturnMessage"]';
    var exhibitionCodeInfos = JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(new JsonSerializer().Serialize(Model.ExhibitionCodeInfos)))');
    var trExhibitionCodeSample = "<tr><td class='alg-left'>{SellerName}</td><td>{Id}</td><td class='alg-left'>{ExhibitionName}</td>" +
        "<td><button type='button' class='btn btn-link' onclick='EditExhibitionCode({Id})'>編輯</button></td>" +
        "<td><button type='button' class='btn btn-link' onclick='DeleteExhibitionCode({Id})'>刪除</button></td></tr>";


    function EditExhibitionCode(id) {
        for (var i = 0; i < exhibitionCodeInfos.length; i++) {
            let exhibitionCodeInfo = exhibitionCodeInfos[i];
            if (id == exhibitionCodeInfo.Id) {
                $("#ExhibitionName").val(exhibitionCodeInfo.ExhibitionName);
                $("#Id").val(exhibitionCodeInfo.Id);
                $("#SellerName").val(exhibitionCodeInfo.SellerName);
                $("#SellerGuid").val(exhibitionCodeInfo.SellerGuid);
                $("#form_SettingExhibitionCode")[0].action = "EditExhibitionCode";
                $(".btn-edit-group").show();
                $(".btn-add-group").hide();
                break;
            }
        }
    }

    function DeleteExhibitionCode(id) {
        for (var i = 0; i < exhibitionCodeInfos.length; i++) {
            let exhibitionCodeInfo = exhibitionCodeInfos[i];
            if (id == exhibitionCodeInfo.Id) {
                if (!confirm("是否要刪除策展代號[" + exhibitionCodeInfo.ExhibitionName + "]?"))
                    return;
                $("#Id").val(exhibitionCodeInfo.Id);
                $("#form_SettingExhibitionCode")[0].action = "DeleteExhibitionCode";
                $("#form_SettingExhibitionCode")[0].submit();
                break;
            }
        }
    }

    function GenerateExhibitionCodeList() {
        let inputRows = "";
        for (var i = 0; i < exhibitionCodeInfos.length; i++) {
            let tempTrExhibitionCode = trExhibitionCodeSample;
            let exhibitionCodeInfo = exhibitionCodeInfos[i];
            tempTrExhibitionCode = tempTrExhibitionCode.replace(/{SellerName}/g, exhibitionCodeInfo.SellerName);
            tempTrExhibitionCode = tempTrExhibitionCode.replace(/{Id}/g, exhibitionCodeInfo.Id);
            tempTrExhibitionCode = tempTrExhibitionCode.replace(/{ExhibitionName}/g, exhibitionCodeInfo.ExhibitionName);
            inputRows = inputRows + tempTrExhibitionCode;
        }
        $("#mainList tr:last").after(inputRows);
    }

    function Validate() {
        let tagName = $("#ExhibitionName").val();
        if (tagName == '' || tagName == null) {
            alert("請輸入策展名稱");
            return false;
        }
        else
            return true;
    }


    function ChnagePage(p) {
        if (isNaN(parseInt(p))) {
            p = $("#page option:selected").val();
        }
        $("#nowPage").val(p);
        $("#form_SettingExhibitionCode")[0].action = "ExhibitionCode";
        $("#form_SettingExhibitionCode")[0].submit();
    }

    $().ready(
        function () {
            GenerateExhibitionCodeList();

            $("#bth_Cancel").click(function () {
                $("#ExhibitionName").val("");
                $("#form_SettingExhibitionCode")[0].action = "AddExhibitionCode";
                $(".btn-edit-group").hide();
                $(".btn-add-group").show();
            });

            $("#form_SettingExhibitionCode").submit(function (event) {
                return Validate();
            });

            if (returnMessage != '' && returnMessage != null) {
                alert(returnMessage);
            }
        }
    );

</script>

<div class="frame-content">
    <section class="bg-white">
        <div class="zone">
            <h2>策展代號</h2>
            <ul class="admin_note">
                <li>設定代號將可連動：商品建檔、策展banner、策展管理</li>
                <li>策展管理將依照商品建檔選擇之代號帶入選單</li>
            </ul>

            <form id="form_SettingExhibitionCode" method="post" action="AddExhibitionCode">
                <ul style="margin-bottom: 10px;">
                    <li>
                        <input type="hidden" id="Id" name="Id" />
                        <input type="hidden" id="nowPage" name="nowPage" value="1" />
                        <input type="hidden" id="SellerName" name="SellerName" />
                        <input type="hidden" id="SellerGuid" name="SellerGuid" />
                        策展名稱<input type="text" id="ExhibitionName" name="ExhibitionName" class="fr-input-defaul fr-input-name" maxlength="17" placeholder="最多輸入17字元">
                        <input id="bth_Add" type="submit" class="btn btn-primary btn-small btn-long btn-add-group" value="新增">
                        <input id="bth_Edit" type="submit" style="display:none" class="btn btn-primary btn-small btn-long btn-edit-group" value="儲存">
                        <input id="bth_Cancel" type="button" style="display:none" class="btn btn-primary btn-small btn-long btn-edit-group" value="取消">
                    </li>
                </ul>
            </form>
            <table id="mainList" class="list-tb">
                <tbody>
                    <tr>
                        <th width="10%" class="sort-down alg-center"> 建檔店</th>
                        <th width="20%" class="alg-center">策展代號</th>
                        <th width="20%" class="alg-center">策展名稱</th>
                        <th width="20%" colspan="2">功能操作</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="alg-center ">

            @if (Model.PageInfo.NowPage == 1)
            {
                <input title="第一頁" type="button" class="btn btn-disabled btn-large arrow" value="«">
            }
            else
            {
                <input title="第一頁" type="button" onclick="ChnagePage(1)" class="btn btn-default btn-large arrow" value="«">
            }
            @if (Model.PageInfo.NowPage == 1)
            {
                <input title="上一頁" type="button" class="btn btn-disabled btn-large arrow" value="‹">
            }
            else
            {
                <input title="上一頁" onclick="ChnagePage(@(Model.PageInfo.NowPage -1))" type="button" class="btn btn-default btn-large arrow" value="‹" />
            }
            <div class="dis-inline mrg20-ver">
                <select id="page" name="page" onchange="ChnagePage()">
                    @for (int i = 1; i <= @Model.PageInfo.TotalPageCount; i++)
                    {
                        <option value="@i" @if (i == @Model.PageInfo.NowPage) { <text> selected="selected" </text> }>@i</option>
                    }
                </select>
                <span>/@Model.PageInfo.TotalPageCount</span>
                <span>(@Model.PageInfo.TotalDataCount <text>筆資料</text>)</span>
            </div>
            @if (Model.PageInfo.TotalPageCount == Model.PageInfo.NowPage)
            {
                <input title="下一頁" type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" />
            }
            else
            {
                <input title="下一頁" onclick="ChnagePage(@(Model.PageInfo.NowPage +1))" type="button" class="btn btn-default btn-large arrow" value="&rsaquo;" />
            }
            @if (Model.PageInfo.TotalPageCount == Model.PageInfo.NowPage)
            {
                <input title="最後頁" type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" />
            }
            else
            {
                <input title="最後頁" onclick="ChnagePage(@Model.PageInfo.TotalPageCount)" type="button" class="btn btn-default btn-large arrow" value="&raquo;" />
            }
        </div>
    </section>

</div>

