﻿@model LunchKingSite.WebLib.Controllers.ExhibitionSortResponse
@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";

    var weekUrlPara = string.Format("&qSeller={0}&exid={1}&cat={2}"
        , Model.QuerySeller, Model.QueryExhibitionId, Model.QueryCategoryId);

    var lastWeekUrl = string.Format("ExhibitionDealSort?beginDate={0}{1}"
        , Model.BeginDate.AddDays(-7).ToString("yyyy/MM/dd"), weekUrlPara);
    var nextWeekUrl = string.Format("ExhibitionDealSort?beginDate={0}{1}"
        , Model.BeginDate.AddDays(7).ToString("yyyy/MM/dd"), weekUrlPara);

}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="//malsup.github.io/jquery.blockUI.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('ul.mainlist').sortable({
            connectWith: 'ul.mainlist',
            beforeStop: function (ev, ui) {
                if ($(ui.placeholder).parent()[0] !== this) {
                    $(this).sortable('cancel');
                }
            },
            stop: function (event, ui) {
            }
        });

        $("#qSeller").change(function () {
            onSellerChange();
        });

        $("#exid").change(function () {
            onExhibitionChange();
        });
    });

    function onSellerChange() {
        var sellerGuid = $('#qSeller').find(":selected").val();
        $("input").prop('disabled', true);
        $("#exhLoad").show();
        $("#exid option").remove();
        $("#cat option").remove();

        $.ajax({
            type: "GET",
            url: "@Url.Action("QueryExhibition")?sellerGuid=" + sellerGuid,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.success) {

                    if (data.exhData.length != undefined && data.exhData.length > 0) {
                        data.exhData.forEach(function (item, i) {
                            $('#exid').append('<option value="' + item.Key + '">' + item.Value + '</option>');
                        });
                        if (data.catData.length != undefined && data.exhData.length > 0) {
                            if (data.catData.length > 0) {
                                data.catData.forEach(function (item, i) {
                                    $('#cat').append('<option value="' + item.Key + '">' + item.Value + '</option>');
                                });
                            } else {
                                $('#cat').append('<option value="0">無分類資料</option>');
                            }
                        }
                    } else {
                        $('#exid').append('<option value="0">沒有進行中的策展</option>');
                        $('#cat').append('<option value="0">無分類資料</option>');
                    }
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(xhr.responseText);
            },
            complete: function () {
                $("input").prop('disabled', false);
                $("#exhLoad").hide();
            }
        });
    }

    function onExhibitionChange() {
        var sellerGuid = $('#qSeller').find(":selected").val();
        var exhId = $('#exid').find(":selected").val();
        $("input").prop('disabled', true);
        $("#exhLoad").show();
        $("#cat option").remove();

        $.ajax({
            type: "GET",
            url: "@Url.Action("QueryExhibition")?sellerGuid=" + sellerGuid + "&exhId=" + exhId,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.success) {

                    if (data.catData.length != undefined && data.catData.length > 0) {
                        data.catData.forEach(function (item, i) {
                            $('#cat').append('<option value="' + item.Key + '">' + item.Value + '</option>');
                        });

                    } else {
                        $('#cat').append('<option value="0">無分類資料</option>');
                    }
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(xhr.responseText);
            },
            complete: function () {
                $("input").prop('disabled', false);
                $("#exhLoad").hide();
            }
        });
    }

    function cancel() {
        $.blockUI({ message: "處理中..." });
        location.reload();
    }

    function save() {
        var selectedValues = [];

        $.each($('.date-item'), function (idx, value) {
            $.each($(this).find('li'), function (iidx, vvalue) {
                var externalGuid = $(this).find('span[id="externalGuid"]').html();
                var sequence = $(this).find('span[id="sequence"]').html();
                var timeSlotId = $(this).find('span[id="timeSlotId"]').html();
                var dealDate = $(this).find('span[id="dealDate"]').html();
                var isHidden = ($(this).find('#chkHide').is(":checked") ? true : false);

                var data = {
                    externalGuid: externalGuid,
                    sequence: iidx + 1,
                    dealDate: dealDate,
                    timeSlotId: timeSlotId,
                    isHidden: isHidden
                };

                selectedValues.push(data);
            });
        });
        $.blockUI({ message: "處理中..." });
        $.ajax({
            type: "POST",
            url: "@Url.Action("ExhibitionDealSortUpdate")",
            data: "{data:'" + JSON.stringify(selectedValues) + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.Success) {
                    location.reload();
                } else {
                    alert("更新失敗!");
                }
            },complete: function() {
                $.unblockUI();
            }
        });
    }

</script>
    <div class="zone">
        <h2>策展商品檔次排序</h2>
        <ul class="admin_note">
            <li>主要是設定策展內商品的列表排序</li>
        </ul>
        <form class="dis-inline" method="post" action="/SKMDeal/ExhibitionDealSort">
            <select id="qSeller" name="qSeller" >
                @foreach (var s in Model.Sellers)
                {
                    <option value="@s.Key" @(s.Key == Model.QuerySeller ? "selected='selected'" : string.Empty)>@s.Value</option>
                }
            </select>
            <select id="exid" name="exid" >
                @if (Model.ExhibitionCol.Any())
                {
                    foreach (var e in Model.ExhibitionCol)
                    {
                        <option value="@e.Key" @(e.Key == Model.QueryExhibitionId ? "selected='selected'" : string.Empty)>@e.Value</option>
                    }
                }
                else
                {
                    <option value="0">沒有進行中的策展</option>
                }
            </select>
            <select id="cat" name="cat">
                @if (Model.CategoryCol.Any())
                {
                    foreach (var c in Model.CategoryCol)
                    {
                        <option value="@c.Key" @(c.Key == Model.QueryCategoryId ? "selected='selected'" : string.Empty)>@c.Value</option>
                    }
                }
                else
                {
                    <option value="0">無分類資料</option>
                }
            </select>
            <input type="hidden" id="BeginDate" name="BeginDate" value="@Model.BeginDate.ToString("yyyy/MM/dd")">
            <input id="querybtn" type="submit" class="btn btn-default btn-small btn-long" value="查詢">
            <img id="exhLoad" style="display:none" src="~/Images/spinner.gif" />
        </form>
        <div class="data-carousel pdg-btm-20">
            <div class="data-frame">
                <div class="mrg10-btm ">
                    <form class="dis-inline">
                        <span class="data-location">@Html.Raw(string.Format("{0}{1}{2}", Model.SelectSellerName, Model.SelectExhibitionName == string.Empty ? string.Empty : string.Format(" - {0}", Model.SelectExhibitionName), Model.SelectCategoryName == string.Empty ? string.Empty : string.Format(" - {0}", Model.SelectCategoryName)))</span>
                    </form>
                    <span class="mrg20-ver">
                        <input title="上一週" type="button" class="btn btn-default btn-small arrow" value="‹" onclick="javascript:location.href='@lastWeekUrl';" />
                        <input title="下一週" type="button" class="btn btn-default btn-small arrow" value="›" onclick="javascript:location.href='@nextWeekUrl';" />
                        @Model.BeginDate.ToString("yyyy/MM/dd") to @Model.BeginDate.AddDays(7).ToString("yyyy/MM/dd")
                    </span>
                    <span class="flo-right mrg10-ver">
                        <input type="button" class="btn btn-default btn-small btn-long" value="取消" onclick="cancel();">
                        <input type="button" class="btn btn-primary btn-small btn-long" value="儲存" onclick="save();">
                    </span>
                </div>
                <div style="clear: both"></div>

                @foreach (var data in Model.DealTimeSlotData)
                {
                    <div class="date-item date-item2" id="@data.DealDate.ToString("MMdd")">
                        <div class="data-title alg-center">
                            <p>@data.DealDate.ToString("MM/dd")</p>
                            <p>00:00 ~ 23:59</p>
                        </div>
                        <ul id="plSortList_@data.DealDate.ToString("MMdd")" class="dragsort-1 mainlist ui-sortable">
                            @foreach (var deal in data.Deals)
                            {
                                <li>
                                    <a class="dealLink" href="@deal.DealUrl" target="_blank">
                                        <span id="itemName">@(deal.ItemName.Length > 20 ? deal.ItemName.Remove(20) + "..." : deal.ItemName )</span>
                                        <span id="dealDate" style="display: none">@deal.DealDate.ToString("yyyy/MM/dd HH:mm:ss")</span>
                                        <span id="sequence" style="display: none">@deal.Sequence</span>
                                        <span id="externalGuid" style="display: none">@deal.ExternalGuid</span>
                                        <span id="timeSlotId" style="display: none">@deal.TimeSlotId</span>
                                    </a>
                                    <p>
                                        <label>
                                            <input type="checkbox" name="checkbox" id="chkHide" @(deal.IsHidden ? "checked" : "")>隱藏
                                        </label>
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div><!--// date-wrap //end-->
        </div>
    </div>
