﻿@using LunchKingSite.Core

@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
}
<style>
    [v-cloak] {
        display: none;
    }
</style>
<script type="text/javascript" src="~/Tools/js/vue/vue_dev_v2.6.10.js"></script>
<script type="text/javascript" src="~/Tools/js/vue/axios.min.js"></script>
<div id="main" v-cloak>
    <h2>
        信用卡分期管理
    </h2>
    <ul class="admin_note">
        <li>分期活動的時間區間不可重疊</li>
        <li>若有新增新光聯名卡，請通知17life</li>
    </ul>
    <div style="height:40px;vertical-align:middle;">
        活動名稱 <input id="searchTitle" type="text" name="searchTitle" v-model="searchTitle" style="width: 15%"/>&nbsp;
        <input type="button" class="btn btn-default btn-small btn-long" value="查詢" v-on:click="GetInstallEventList">
    </div>
    <div style="height:40px;vertical-align:middle;">
        <div>
            每頁
            <select v-model="pageSize">
                <option :value="30">30</option>
                <option :value="50">50</option>
                <option :value="100">100</option>
            </select>
            筆
            <input type="button" id="btnAdd" style="margin-top:10px" class="btn-float btn-float-red flo-right" value="新增活動" onclick="javascript: location.href ='/SkmDeal/InstallEventInfo'" />
        </div>
    </div>

    <div id="credit-card-category-list-zone">
        <table class="list-tb">
            <tr>
                <th>活動名稱</th>
                <th><a id="sort_StartDate" class="desc" v-on:click="GetInstallEventListBySorting('StartDate')">活動開始時間</a></th>
                <th><a id="sort_EndDate" class="asc" v-on:click="GetInstallEventListBySorting('EndDate')">活動結束時間</a></th>
                <th>銀行數(含聯名卡)</th>
                <th>更新時間</th>
                <th>狀態</th>
                <th>管理</th>
            </tr>
            <template v-for="(item, index) in installEvents">
                <tr>
                    <td>{{item.Title}}</td>
                    <td>{{item.StartDate}}</td>
                    <td>{{item.EndDate}}</td>
                    <td>{{item.BankAmount}}</td>
                    <td>{{item.ModifyTime}}</td>
                    <td>{{item.Status}}</td>
                    <td>
                        <a v-show="item.Status != '@Helper.GetDescription(SkmInstallEventStatus.Avaliable)'" :href="'/SkmDeal/InstallEventInfo?id='+item.Id">編輯</a>
                        <a v-show="item.Status == '@Helper.GetDescription(SkmInstallEventStatus.Disable)'" v-on:click="ToggleStatus(item.Id,index)">啟用</a>
                        <a v-show="item.Status == '@Helper.GetDescription(SkmInstallEventStatus.Avaliable)'" v-on:click="ToggleStatus(item.Id,index)">停用</a>
                    </td>
                </tr>
            </template>
        </table>

        <div class="alg-center mrg20-hor">
            <input type="button" class="btn-float btn-large arrow" v-bind:class="{'btn-float-red btn-float':pageIndex != 1,'btn-disabled btn':pageIndex == 1 }" value="&laquo;" v-on:click="GetInstallEventListByIndex(1)" :disabled="pageIndex == 1" />
            <input type="button" class="btn-float btn-large arrow" v-bind:class="{'btn-float-red btn-float':pageIndex != 1,'btn-disabled btn':pageIndex == 1 }" value="&lsaquo;" v-on:click="GetInstallEventListByIndex(pageIndex-1)" :disabled="pageIndex == 1" />
            <select v-model="pageIndex" v-on:change="GetInstallEventList()">
                <option v-for="n in totalPages" v-bind:value="n">{{n}}</option>
            </select>
            <span>/{{totalPages}}</span>
            <span>{{totalCount}}</span>
            <input type="button" class="btn-large arrow" v-bind:class="{'btn-float-red btn-float':pageIndex != totalPages,'btn-disabled btn':pageIndex == totalPages }" value="&rsaquo;" v-on:click="GetInstallEventListByIndex(pageIndex+1)" :disabled="pageIndex == totalPages" />
            <input type="button" class="btn-large arrow" v-bind:class="{'btn-float-red btn-float':pageIndex != totalPages,'btn-disabled btn':pageIndex == totalPages }" value="&raquo;" v-on:click="GetInstallEventListByIndex(totalPages)" :disabled="pageIndex == totalPages" />
        </div>
        <div v-show="isBusying" style="width:100%;height :100%; background-color:darkgrey;opacity:0.3;position :fixed;top:0;left:0;z-index:1"></div>
        <div v-show="isBusying" style="color: black; padding-left: 20px;position :fixed;top:50%;left:50%; z-index:0">
            <img src="~/Images/spinner.gif" /> 處理中，請稍後......
        </div>
    </div>
</div>
<script>
    $(function () {
        var main = new Vue({
            el: "#main",
            data: {
                totalPages: 0,
                totalCount: 0,
                pageIndex: 1,
                pageSize: 30,
                searchTitle: '',
                sortBy: "StartDate",
                sortType: "desc",
                installEvents: [{

                }],
                isBusying: false
            },
            methods: {
                GetInstallEventListByIndex: function (index) {
                    this.pageIndex = index;
                    this.GetInstallEventList();
                },
                GetInstallEventListBySorting: function (sortBy) {
                    var tda = $("#sort_" + sortBy);
                    console.log(tda);
                    var type = tda.hasClass("desc") ? "asc" : "desc";
                    tda.removeClass("desc").removeClass("asc");
                    tda.addClass(type);
                    this.sortBy = sortBy;
                    this.sortType = type;
                    this.GetInstallEventList();
                },
                GetInstallEventList: function () {
                    var self = this;
                    self.isBusying = true;
                    var data = {
                        pageIndex: this.pageIndex,
                        pageSize: this.pageSize,
                        searchTitle: this.searchTitle,
                        sortBy: this.sortBy,
                        sortType: this.sortType
                    };
                    console.log(data);
                    $.ajax({
                        url: '/SKMDeal/GetInstallEventList',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        success: function (result) {
                            console.log(result);
                            self.totalPages = result.TotalPages;
                            self.totalCount = result.TotalCount;
                            self.pageIndex = result.PageIndex;
                            self.installEvents = result.SkmInstallEvents;
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                    self.isBusying = false;
                },
                ToggleStatus: function (id, index) {
                    var self = this;
					$.ajax({
                        url: '/SKMDeal/ToggleInstallEventStatus?id=' + id,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
						success: function (result) {
                            self.GetInstallEventList();
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
				}
            }
        });

        $('#searchTitle').on('keyup keydown', function () {
        var $this = $(this);
        var str = $this.val();
        var limitLen = 30;
        var sign = /[\u3002|\uff1f|\uff01|\uff0c|\u3001|\uff1b|\uff1a|\u201c|\u201d|\u2018|\u2019|\uff08|\uff09|\u300a|\u300b|\u3008|\u3009|\u3010|\u3011|\u300e|\u300f|\u300c|\u300d|\ufe43|\ufe44|\u3014|\u3015|\u2026|\u2014|\uff5e|\ufe4f|\uffe5]/g;

        var flag = /^[\u4e00-\u9fa5a-zA-Z]+$/.test(str) && str.replace(/[\u4e00-\u9fa5]/g, '@@@@').length <= limitLen ? true : false;
        if (!flag) {

            var convertStr = str.replace(sign,'').replace(/#/g,'').replace(/[\u4e00-\u9fa5]/g, '@@@@').substr(0, limitLen);

            var len = convertStr.replace(/@@@@/g, '#').replace('@@', '').length;

            var val = str.substring(0, len);
            $this.val(val);
        }
        });

        main.GetInstallEventList();
	});
</script>