﻿@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Controllers;

@model SkmDealModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetDefaultProvider<ISysConfProvider>();

    ViewBag.Title = "SKMDealList";
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    Dictionary<string, string> stores = ViewBag.SKMStores as Dictionary<string, string>;
    List<Shoppes> shoppes = ViewBag.SKMShoppes as List<Shoppes>;
    Dictionary<int, string> category = ViewBag.SKMCategory as Dictionary<int, string>;
    
    bool SkmHqPower = ViewBag.SkmHqPower ?? false;
}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery.Guid.js")'></script>
<script type="text/javascript" src="../../Tools/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="../../Tools/js/jquery.blockUI.js"></script>
<!--googleCalendar-->
<script type="text/javascript" src="../Themes/skmApp/googleCalendar/lib/pikaday.js"></script>
<link rel="stylesheet" type="text/css" href="../Themes/skmApp/googleCalendar/lib/pikaday.css" />

<script type="text/javascript" src="../Themes/skmApp/googleCalendar/lib/jquery.ptTimeSelect.js"></script>
<link rel="stylesheet" type="text/css" href="../Themes/skmApp/googleCalendar/lib/jquery.ptTimeSelect.css" />
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
<style type="text/css">
    .drag-drop-upload {
        position: relative;
        border: 2px dashed #a89f9f;
    }

    .drag-drop-upload-hover {
        border-color: #4D4D4D;
    }

    .drag-drop-upload-ok {
        border-color: transparent;
    }

        .drag-drop-upload-ok p {
            visibility: hidden;
        }
    .hide-skm37ver {
        display: none;
    }
</style>
<script>
    $(document).ready(function() {

        CKEDITOR.config.removePlugins = 'save';
        CKEDITOR.replace('product_description', { width: '80%', height: '200px' });//,filebrowserImageUploadUrl: imageupload});
        $('.drag-drop-upload-container :file').change(function () {
            previewAppImageFile(this.files[0], $(this).closest('.drag-drop-upload'));
            //handleAppFiles(this.files, $(this).closest('.drag-drop-upload'));
        });
    });

    function handleAppFiles(files, holder) {
        for (var i = 0; i < files.length; i++) {
            var fd = new FormData();
            fd.append('upload', files[i]);
            console.log('try send file');
            sendAppFileToServer(fd, holder);
        }
    }

    function sendAppFileToServer(formData, holder) {
        var request = new XMLHttpRequest();
        request.onload = function () {
            if (request.status == 200) {
                var res = $.parseJSON(request.responseText);
                console.log('ok: got file. id is ' + res[0].FileId);
                $('#hidAppDealPic').val(res[0].FileId);

            } else {
                alert('發生錯誤. 找 IT 處理');
            }
        }
        request.open("POST", "/SKMDeal/UploadFile", true);
        request.send(formData);
    }

    function previewAppImageFile(file, holder) {
        deleteDragDropUploadAppElemtns(holder);
        var reader = new FileReader();
        reader.onload = function (event) {
            console.log('previewImageFile');
            showAppImage(event.target.result, holder, 'app');
        };
        reader.readAsDataURL(file);
    }


    function deleteDragDropUploadElemtns(holder) {
        $(holder).find('.ddu-edit').remove();
        $(holder).find('.previewImage').remove();
        $(holder).find('.ddu-edit').remove();
        $('#hidImagePath').val('');
        $('#hidTempImagePath').val('');
        $(holder).removeClass('drag-drop-upload-ok');
    }

    function deleteDragDropUploadAppElemtns(holder) {
        $(holder).find('.ddu-edit').remove();
        $(holder).find('.previewImage').remove();
        $(holder).find('.ddu-edit').remove();
        $('#hidAppDealPic').val('');
        $('#hidTempAppDealPic').val('');
        $(holder).removeClass('drag-drop-upload-ok');
    }

    function showAppImage(targetSrc, holder, type) {
        //opacity = opacity | 0.2;
        if (type == 'app') {
            if ($('#hidTempAppDealPic').val() == "")
            { $('#hidTempAppDealPic').val(targetSrc); }
            else
            { targetSrc = $('#hidTempAppDealPic').val() }
        }

        var image = new Image();
        $(image).attr('src', targetSrc);
        $(image)
            .css('position', 'absolute')
            .css('z-index', 1)
            .css('top', '0px')
            .css('left', '0px')
            .css('width', '267px')
            .css('height', '267px')
            .addClass('previewImage');

        //$(image).css({ 'opacity': opacity });

        $(image).css("height", 267);
        $(image).css("width", 267);
        $(holder).append(image);
        $(holder).addClass('drag-drop-upload-ok');

        //建立刪除按鈕
        var btnDelete = $('<button></button>').html('<i class="fa fa-times"></i>').attr('type', 'button');
        $(holder).append(btnDelete);
        $(btnDelete).css('position', 'absolute').addClass('ddu-edit')
            .css('top', '-20px').css('left', '485px').css('cursor', 'pointer');
        $(btnDelete).click(function () {
            if (confirm('確定刪除？')) {
                if (type == 'app') {
                    deleteDragDropUploadAppElemtns(holder);
                    $(holder).parents('.drag-drop-upload-container').find(':file').val('');
                }
            }
        });

        //檢查寬高
        $(image).load(function () {
            var w = $(this).prop('naturalWidth');
            var h = $(this).prop('naturalHeight');
            if ((h < 640 || w < 640) || (h != w)) {
                alert('僅能上傳圖片檔案，大小為 640*640以上，且寬高須等比。');
                deleteDragDropUploadAppElemtns(holder);
                $(holder).parents('.drag-drop-upload-container').find(':file').val('');
            }
        });
    }
</script>
<form id="applyForm" class="fr-group clearfix" method="post" action='@Url.Action("SkmBurningDealPreview")'>
   
    <section class="center mrg10-hor bg-white">
        <div class="pdg-15"><a class="mrg20-hor" href="@Url.Action("LotteryList")"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
        <div class="pdg-40 pdg-hor-0">
            <div>
                <h2 class="title-skm37ver">活動資訊</h2>
                <div class="fr-item">
                    <div class="fr-item">
                        <label class="fr-label">活動名稱</label>
                        <div class="fr-content">
                            <input type="text" class="fr-input-defaul itemNo" />
                        </div>
                    </div>
                    <div class="fr-item">
                        <label class="fr-label">活動起始日期</label>
                        <div class="fr-content" id="alternateUiWidgetsExample">
                            <input type="text" id="orderDateS" class="date start fr-input-defaul" placeholder="日期" value="" >&nbsp;
                            <input type="text" id="orderTimeS" class="time start fr-input-defaul" placeholder="時間" value="" />
                        </div>
                    </div>
                    <div class="fr-item">
                        <label class="fr-label">活動結束日期</label>
                        <div class="fr-content"  id="alternateUiWidgetsExample">
                            <input type="text" id="orderDateE" class="date start fr-input-defaul" placeholder="日期" value="">&nbsp;
                            <input type="text" id="orderTimeE" class="time start fr-input-defaul" placeholder="時間" value="" />
                        </div>
                    </div>
                    <div class="fr-item">
                        <label class="fr-label">內容介紹</label>
                        <div class="fr-content">
                            <textarea id="product_description" name="description" placeholder="請填寫內容介紹，建議字數500字以內" class="fr-input-large description" rows="5" cols="37">
                            </textarea>
                        </div>
                    </div>
                    <div class="fr-item">
                        <label class="fr-label">商品圖</label>
                        <div class="fr-content">
                            <!-- App/M版 專用圖，請上傳圖片，然後進行範圍選取 -->
                            <div style="width: 71%; margin-top: 30px; padding: 1px; background-color: #fff; border: thin dotted gray; font-size: 15px">
                                <div style="background-color: LightBlue; padding: 2px">
                                    請上傳圖片
                                </div>
                            </div>
                            <div class="drag-drop-upload-container">
                                <input type="hidden" ID="hidTempAppDealPic" value="@Model.TempAppDealPic" />
                                <input type="hidden" ID="hidAppDealPicOld" value="@ImageFacade.GetMediaPathsFromRawData(Model.AppDealPic, MediaType.PponDealPhoto).FirstOrDefault()" />
                                <input type="hidden" ID="hidAppDealPic" value="@Model.AppDealPic" />
                                <input type="hidden" ID="hidAppDealPicX" value="@Model.AppDealPic" />
                                <div class="drag-drop-upload" id="appDealPicDiv" style="width: 480px; height: 267px;">
                                    <p style="margin-top: 60px; margin-left: 160px"></p>
                                    <p style="margin-top: 20px; margin-left: 150px">
                                    <p style="margin-top: 20px; margin-left: 150px">
                                        <input type="file" value="選取檔案" style="padding: 3px" />
                                    </p>
                                </div>
                            </div>
                            <!-- App/M版 專用圖，請上傳圖片，然後進行範圍選取 -->
                        </div>
                        <div class="fr-content">
                            <p class="f-small">
                                ※僅能上傳圖片檔案，尺寸至少640*640 以上，寬與高須等比
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    $('#alternateUiWidgetsExample .time').ptTimeSelect({
        'onClose': function ($self) {
            $self.trigger('change');
        }
    });
    $('#alternateUiWidgetsExample .date').pikaday();

    var TIMEFORMAT = 'HH:mm';
    var alternateUiWidgetsExampleEl = document.getElementById('alternateUiWidgetsExample');

    </script>
</form>
