﻿@using LunchKingSite.WebLib.Controllers;

@model SkmDealListModel
@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript">
    
</script>
    
<form action="LotteryList" method="get">
    <section class="center mrg10-hor bg-white">
        <div class="pdg-40">
            <div class="zone">
                <h2>
                    抽獎後台
                </h2>
                <ul class="admin_note">
                    @*<li>查詢：選擇分店/館別/分類/商品類型，按下查詢後，即顯示該分店符合篩選條件之商品/活動檔次</li>
                    <li>新增商品檔次：點擊開啟新增商品檔次提報頁面</li>
                    <li>中文字體、全形字體、全形符號均為2個字元，英文字體、阿拉伯數字均為1個字元，超過字數會扣除3個半形字元並顯示"..."</li>*@
                </ul>
                <div class="">
                    <input type="button" class="btn btn-default btn-small btn-long" value="查詢">
                    <input type="button" class="btn btn-primary  btn-small btn-long flo-right"  value="新增抽獎活動">
                </div>
                <br />
                <table id="mainList" class="list-tb">
                    <tr>
                        <th width="120" class="sort-up alg-center">
                            <a >
                                上檔時間<i class="fa fa-angle-down fa-fw"></i><i class="fa fa-angle-up fa-fw" ></i>
                            </a>
                        </th>
                        <th width="120" class="sort-down alg-center">
                            <a >
                                下檔時間<i class="fa fa-angle-down fa-fw"></i><i class="fa fa-angle-up fa-fw" ></i>
                            </a>
                        </th>
                        <th width="300" class="alg-center">抽獎活動名稱</th>
                        <th width="60">頁面預覽</th>
                        <th width="60" class="sort-initial alg-center">
                            <a >
                                狀態
                            </a>
                        </th>
                        <th width="180" colspan="3">功能操作</th>
                    </tr>
                  
                </table>
            </div>
            <div class="alg-center mrg20-hor">
                @if (Model.Page == 1)
                {
                    <input title="第一頁" type="button" class="btn btn-disabled btn-large arrow" value="&laquo;" />
                }
                else
                {
                    <input title="第一頁" onclick="onPageChnage(1)" type="button" class="btn btn-default btn-large arrow" value="&laquo;" />
                }
                @if (Model.Page == 1)
                {
                    <input title="上一頁" type="button" class="btn btn-disabled btn-large arrow" value="&lsaquo;" />
                }
                else
                {
                    <input title="上一頁" onclick="onPageChnage(@Model.Page -1)" type="button" class="btn btn-default btn-large arrow" value="&lsaquo;" />
                }
                <div class="dis-inline mrg20-ver">
                    <select id="page" name="page" onchange="onPageChnage()">
                        @for (int i = 1; i <= @Model.LastPage; i++)
                        {
                            <option value="@i" @if (i == @Model.Page) { <text> selected="selected" </text>    }>@i</option>
                        }
                    </select>
                    <span>/@Model.LastPage</span>
                    <span>(@Model.DealCount <text>筆資料</text>)</span>
                </div>
                @if (Model.LastPage == Model.Page)
                {
                    <input title="下一頁" type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" />
                }
                else
                {
                    <input title="下一頁" onclick="onPageChnage(@Model.Page +1)" type="button" class="btn btn-default btn-large arrow" value="&rsaquo;" />
                }
                @if (Model.LastPage == Model.Page)
                {
                    <input title="最後頁" type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" />
                }
                else
                {
                    <input title="最後頁" onclick="onPageChnage(@Model.LastPage)" type="button" class="btn btn-default btn-large arrow" value="&raquo;" />
                }
            </div>
        </div>
    </section>
</form>