﻿@using Newtonsoft.Json
@model LunchKingSite.WebLib.Controllers.ManageTagTypeResponse
@{
    ViewBag.Title = "新光三越x17Life管理後台-標籤管理";
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
}

<link type="text/css" href='../Themes/skmApp/skmApp.css' rel="stylesheet" />
<script type="text/javascript">
    var returnMessage = '@TempData["ReturnMessage"]';
    var externalDealTags = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.ExternalDealTags))');
    var iconStyles = [];
    var iconSample = "<p style='{styleString}' class='lable-openness'>{name}</p>";
    var trTagSample = "<tr><td>{ID}</td><td class='alg-left'>{Name}</td><td>{Icon}</td>"+
        "<td><button type='button' class='btn btn-link' onclick='EditTag({ID})'>編輯</button></td>"+
        "<td><button type='button' class='btn btn-link' onclick='DeleteTag({ID})'>刪除</button></td></tr>";

    function TransIconStyleString(iconStyleString) {
        let tempIconStyles = JSON.parse(iconStyleString);
        for (var i = 0; i < tempIconStyles.length; i++) {
            let objectKeys = Object.keys(tempIconStyles[i]);
            let tempStyleString = "";
            for (var j = 0; j < objectKeys.length; j++) {
                if (objectKeys[j] != "styleId")
                    tempStyleString = tempStyleString + objectKeys[j] + " : " + tempIconStyles[i][objectKeys[j]] + ";"
            }

            iconStyles.push({
                id: tempIconStyles[i].styleId,
                styleString: tempStyleString
            });
        }
    }

    function EditTag(id) {
        for (var i = 0; i < externalDealTags.length; i++) {
            let externalDealTag = externalDealTags[i];
            if (id == externalDealTag.Id) {
                $("#TagName").val(externalDealTag.IconName);
                $(".sample-tag p").html(externalDealTag.IconName);
                $("[id=StyleID]").filter("[value=" + externalDealTag.StyleId + "]").prop("checked", true);
                $("#TagID").val(externalDealTag.Id);
                $("#form_SettingTag")[0].action = "EditTag";
                $(".btn-edit-group").show();
                $(".btn-add-group").hide();
                break;
            }
        }
    }

    function DeleteTag(id) {
        for (var i = 0; i < externalDealTags.length; i++) {
            let externalDealTag = externalDealTags[i];
            if (id == externalDealTag.Id) {
                if (!confirm("是否要刪除標籤[" + externalDealTag.IconName + "]?"))
                    return;
                $("#TagName").val(externalDealTag.IconName);
                $(".sample-tag p").html(externalDealTag.IconName);
                $("#TagID").val(externalDealTag.Id);
                $("#form_SettingTag")[0].action = "DeleteTag";
                $("#form_SettingTag")[0].submit();
                break;
            }
        }
    }

    function GenerateIcon(id ,tagName) {
        var tempIconSample = iconSample;
        var stylestring = "";
        for (var i = 0; i < iconStyles.length; i++) {
            if (iconStyles[i].id == id)
                stylestring = iconStyles[i].styleString;
        }
        tempIconSample = tempIconSample.replace(/{styleString}/g, stylestring);
        tempIconSample = tempIconSample.replace(/{name}/g, tagName);
        return tempIconSample;
    }

    function GenerateSampleTag(sampleTags) {
        let divSampleTag = $("#div_SampleTag");
        for (var i = 0; i < sampleTags.length; i++) {
            divSampleTag.append("<label class='sample-tag'><input type='radio' id='StyleID' name='StyleID' value='" + sampleTags[i].id + "'>" +
                GenerateIcon(sampleTags[i].id, "分店獨家") + "</label>");
        }
    }

    function GenerateTagList() {
        let inputRows = "";
        for (var i = 0; i < externalDealTags.length; i++) {
            let tempTrTag = trTagSample;
            tempTrTag = tempTrTag.replace(/{ID}/g, externalDealTags[i].Id);
            tempTrTag = tempTrTag.replace(/{Name}/g, externalDealTags[i].IconName);
            tempTrTag = tempTrTag.replace(/{Icon}/g, GenerateIcon(externalDealTags[i].StyleId, externalDealTags[i].IconName));
            inputRows = inputRows + tempTrTag;
        }
        $("#mainList tr:last").after(inputRows);
    }

    function Validate() {
        let tagName = $("#TagName").val();
        if (tagName == '' || tagName == null) {
            alert("請輸入標籤名稱");
            return false;
        }
        else
            return true;
    }


    function ChnagePage(p) {
        if (isNaN(parseInt(p))) {
            p = $("#page option:selected").val();
        }
        $("#nowPage").val(p);
        $("#form_SettingTag")[0].action = "ManageTagType";
        $("#form_SettingTag")[0].submit();
    }

    $().ready(
        function () {
            TransIconStyleString('@Html.Raw(Model.IconStyles)');
            GenerateSampleTag(iconStyles);
            GenerateTagList();
            $("#TagName").on("change",function (event) {
                $(".sample-tag p").html(event.srcElement.value);
            });

            $("#bth_Cancel").click(function () {
                $("#TagName").val('分店獨家');
                $(".sample-tag p").html("分店獨家");
                $("[id=StyleID]").filter("[value=1]").prop("checked", true);
                $("#form_SettingTag")[0].action = "AddTag";
                $(".btn-edit-group").hide();
                $(".btn-add-group").show();
            });

            $("#form_SettingTag").submit(function (event) {
                return Validate();
            });

            $("#mainList tr td p").addClass("lable-center");
            $("[id=StyleID]").filter("[value=1]").prop("checked", true);

            if (returnMessage != '' && returnMessage != null) {
                alert(returnMessage);
            }
        }
    );
</script>

    <div class="zone">
        <h2>標籤管理</h2>
        <ul class="admin_note">
            <li>標籤管理供商品列表顯示之標籤清單選項新增</li>
            <li>若編輯已使用之標籤，名稱將直接取代(但可能會有快取同步較慢的問題)</li>
            <li>標籤最多可輸入4字元</li>
        </ul>
        <form id="form_SettingTag" method="post" action="AddTag">
            <div class="fr-item">
                <input type="hidden" id="TagID" name="TagID" />
                <input type="hidden" id="nowPage" name="nowPage" value="1" />
                <label class="fr-label2 fr-label-w" ="">標籤名稱</label>
                <div class="fr-content2 fr-content2-w">
                    <input id="TagName" name="TagName" type="text" class="fr-input-defaul fr-input-name" placeholder="分店獨家" maxlength="4">
                </div>
            </div>

            <div class="fr-group clearfix">
                <div class="fr-item">
                    <label class="fr-label2 fr-label-w">標籤樣式</label>
                    <div id="div_SampleTag" class="fr-content2 fr-content2-w">
                    </div>
                    <br>
                    <div class="fr-content2 fr-content2-w">
                        <input id="bth_Add" type="submit" class="btn btn-primary btn-small btn-long btn-add-group" value="新增">
                        <input id="bth_Edit" type="submit" style="display:none" class="btn btn-primary btn-small btn-long btn-edit-group" value="儲存">
                        <input id="bth_Cancel" type="button" style="display:none" class="btn btn-primary btn-small btn-long btn-edit-group" value="取消">
                    </div>
                </div>
            </div>
        </form>
        <table id="mainList" class="list-tb">
            <tbody>
                <tr>
                    <th width="10%" class="sort-down alg-center"> 編號</th>
                    <th width="20%" class="alg-center">標籤名稱</th>
                    <th width="20%">標籤樣式</th>
                    <th width="20%" colspan="2">功能操作</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="alg-center ">

        @if (Model.PageInfo.NowPage == 1)
        {
            <input title="第一頁" type="button" class="btn btn-disabled btn-large arrow" value="«">
        }
        else
        {
            <input title="第一頁" type="button" onclick="ChnagePage(1)" class="btn btn-default btn-large arrow" value="«">
        }
        @if (Model.PageInfo.NowPage == 1)
        {
            <input title="上一頁" type="button" class="btn btn-disabled btn-large arrow" value="‹">
        }
        else
        {
            <input title="上一頁" onclick="ChnagePage(@(Model.PageInfo.NowPage -1))" type="button" class="btn btn-default btn-large arrow" value="‹" />
        }
        <div class="dis-inline mrg20-ver">
            <select id="page" name="page" onchange="ChnagePage()">
                @for (int i = 1; i <= @Model.PageInfo.TotalPageCount; i++)
                {
                    <option value="@i" @if (i == @Model.PageInfo.NowPage) { <text> selected="selected" </text> }>@i</option>
                }
            </select>
            <span>/@Model.PageInfo.TotalPageCount</span>
            <span>(@Model.PageInfo.TotalDataCount <text>筆資料</text>)</span>
        </div>
        @if (Model.PageInfo.TotalPageCount == Model.PageInfo.NowPage)
        {
            <input title="下一頁" type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" />
        }
        else
        {
            <input title="下一頁" onclick="ChnagePage(@(Model.PageInfo.NowPage +1))" type="button" class="btn btn-default btn-large arrow" value="&rsaquo;" />
        }
        @if (Model.PageInfo.TotalPageCount == Model.PageInfo.NowPage)
        {
            <input title="最後頁" type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" />
        }
        else
        {
            <input title="最後頁" onclick="ChnagePage(@Model.PageInfo.TotalPageCount)" type="button" class="btn btn-default btn-large arrow" value="&raquo;" />
        }
</div>

