﻿@using LunchKingSite.Core
@model LunchKingSite.Core.ModelCustom.PrizeDrawEventListModel
@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";

    

}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript">
    
    function changeEventStatus(id, oldStatus, ele) {
     
        $.ajax({
            type: "POST",
            url: "@Url.Action("PrizeDrawEventHide")",
            data: "{prizeDrawEventId:'" + id + "', oldStatus:'" + oldStatus + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.Success) {
                    //alert("更新成功!");
                    if (oldStatus == "@((int)SkmPrizeDrawEventStatus.Normal)") {
                        $(ele).html("開啟");
                    } else {
                        $(ele).html("隱藏");
                    }
                    location.reload();

                } else {
                    alert("更新失敗!");
                }
            }
        });
    }


    function onPageChnage(p) {

        if (isNaN(parseInt(p))) {
            p = $('#page option:selected').val();
        }
        $('#page').val(p);
        $('#form1').submit();
    }

</script>



<form id="form1" action="PrizeDrawEventList" method="GET">
    <section class="bg-white">
            <div class="zone">
                <h2>
                    抽獎後台
                </h2>
                <ul class="admin_note">
                    @*<li>查詢：選擇分店/館別/分類/商品類型，按下查詢後，即顯示該分店符合篩選條件之商品/活動檔次</li>
                    <li>新增商品檔次：點擊開啟新增商品檔次提報頁面</li>
                    <li>中文字體、全形字體、全形符號均為2個字元，英文字體、阿拉伯數字均為1個字元，超過字數會扣除3個半形字元並顯示"..."</li>*@
                </ul>
                <div class="">
                    <input type="button" id="btnAdd" class="btn btn-primary  btn-small btn-long flo-right" value="新增抽獎活動" onclick="javascript: location.href ='PrizeDrawEventAdd'" />
                </div>
                <br />
                <br />
                <table id="mainList" class="list-tb">
                    <tr>
                        
                        <th width="auto" class="sort-up alg-center">
                            <a href="/SKMDeal/PrizeDrawEventList?orderField=@((int) SkmPrizeDrawEventOrderField.Sd)&sort=@Model.Sort">
                                活動開始時間<i class="fa fa-angle-down fa-fw"></i><i class="fa fa-angle-up fa-fw"></i>
                            </a>
                        </th>
                        <th width="auto" class="sort-down alg-center">
                            <a href="/SKMDeal/PrizeDrawEventList?orderField=@((int) SkmPrizeDrawEventOrderField.Ed)&sort=@Model.Sort">
                                活動結束時間<i class="fa fa-angle-down fa-fw"></i><i class="fa fa-angle-up fa-fw"></i>
                            </a>
                        </th>
                        <th width="auto" class="alg-center">活動名稱</th>
                        <th width="auto">參與扣點</th>
                        <th width="auto" class="sort-initial alg-center">
                            <a href="/SKMDeal/PrizeDrawEventList?orderField=@((int) SkmPrizeDrawEventOrderField.Temple)&sort=@Model.Sort">
                                樣式<i class="fa fa-angle-down fa-fw"></i><i class="fa fa-angle-up fa-fw"></i>
                            </a>
                        </th>
                        <th width="90px" class="sort-initial alg-center">
                            <a href="/SKMDeal/PrizeDrawEventList?orderField=@((int) SkmPrizeDrawEventOrderField.Status)&sort=@Model.Sort">
                                狀態<i class="fa fa-angle-down fa-fw"></i><i class="fa fa-angle-up fa-fw"></i>
                            </a>
                        </th>

                        <th width="auto" colspan="3">功能操作</th>
                    </tr>
                    @foreach (var i in Model.PrizeDrawEventList)
                    {
                        var status = "";
                        var dt = DateTime.Now;


                        if (dt >= i.SD && dt <= i.ED)
                        {
                            //上檔中
                            status = Helper.GetDescription(SkmPrizeDrawEventDescription.Ineffective);
                        }
                        else if (i.SD > dt && i.ED > dt)
                        {
                            status = "尚未開始";
                        }
                        else
                        {
                            //過期
                            status = Helper.GetDescription(SkmPrizeDrawEventDescription.Expired);
                        }

                        //附加狀態
                        if (i.Status == (int) SkmPrizeDrawEventStatus.Hide)
                        {
                            status += "(隱藏)";
                        }


                        <tr>
                            <th width="auto" >@i.SD.ToString("yyyy/MM/dd HH:mm")</th>
                            <th width="auto" >@i.ED.ToString("yyyy/MM/dd HH:mm")</th>
                            <th width="auto" >@i.Subject</th>
                            <th width="auto" >@i.JoinFee</th>
                            <th width="auto"> @(Helper.GetDescription(SkmPrizeDrawTemple.Red))</th>
                            <th width="auto" >@status</th>
                            <th width="auto" colspan="3">
                                <a href="/SKMDeal/PrizeDrawEventAdd?prizeDrawEventId=@i.Id">編輯</a>
                                <a onclick="changeEventStatus(@i.Id, @i.Status, this)">@(i.Status== (int)SkmPrizeDrawEventStatus.Normal ? Helper.GetDescription(SkmPrizeDrawEventStatus.Hide) : Helper.GetDescription(SkmPrizeDrawEventStatus.Normal))</a>
                            </th>
                        </tr>
                    }
                </table>
            </div>
            <div class="alg-center mrg20-hor">
                @if (Model.Page == 1)
                {
                    <input title="第一頁" type="button" class="btn btn-disabled btn-large arrow" value="&laquo;" />
                }
                else
                {
                    <input title="第一頁" onclick="onPageChnage(1)" type="button" class="btn btn-default btn-large arrow" value="&laquo;" />
                }
                @if (Model.Page == 1)
                {
                    <input title="上一頁" type="button" class="btn btn-disabled btn-large arrow" value="&lsaquo;" />
                }
                else
                {
                    <input title="上一頁" onclick="onPageChnage(@Model.Page -1)" type="button" class="btn btn-default btn-large arrow" value="&lsaquo;" />
                }
                <div class="dis-inline mrg20-ver">
                    <select id="page" name="page" onchange="onPageChnage()">
                        @for (int i = 1; i <= @Model.LastPage; i++)
                        {
                            <option value="@i" @if (i == @Model.Page) { <text> selected="selected" </text>    }>@i</option>
                        }
                    </select>
                    <span>/@Model.LastPage</span>
                    <span>(@Model.TotalCount <text>筆資料</text>)</span>
                </div>
                @if (Model.LastPage == Model.Page)
                {
                    <input title="下一頁" type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" />
                }
                else
                {
                    <input title="下一頁" onclick="onPageChnage(@Model.Page +1)" type="button" class="btn btn-default btn-large arrow" value="&rsaquo;" />
                }
                @if (Model.LastPage == Model.Page)
                {
                    <input title="最後頁" type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" />
                }
                else
                {
                    <input title="最後頁" onclick="onPageChnage(@Model.LastPage)" type="button" class="btn btn-default btn-large arrow" value="&raquo;" />
                }
            </div>
    </section>
</form>