﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.WebLib.Controllers;

@model SkmDealListModel
@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    Dictionary<string, string> stores = ViewBag.SKMStores as Dictionary<string, string>;
    //Dictionary<string, string> shops = ViewBag.SKMShops as Dictionary<string, string>;
    //Dictionary<string, string> floors = ViewBag.SKMFloors as Dictionary<string, string>;
    Dictionary<string, string> electricLevels = ViewBag.SKMElectricLevels as Dictionary<string, string>;
    int? selectedectricLevel = ViewBag.SelectedectricLevel as int?;

    string ShopCode = "";
    string Floor = "";
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript">


    function storeChange() {
        var seller_guid = $('#seller option:selected').val();
        BindStoreDDL(seller_guid);
    }

    function BindStoreDDL(seller_guid) {
        if (seller_guid != "") {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ShopGetBySellerGuid")",
                data: "{sellerGuid:'" + seller_guid + "'}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#ddlShopCode option').remove();
                    $('#ddlFloor option').remove();
                    //$("#ddlShopCode").append($("<option></option>").attr("value", "-1").text("-----"));
                    var len = 0;
                    $.each(data.Shops, function (key, obj) {
                        if (obj.value != "") {
                            if ("@ShopCode" == obj.key) {
                                $("#ddlShopCode").append($("<option selected></option>").attr("value", obj.key).text(obj.value));
                            } else {
                                $("#ddlShopCode").append($("<option></option>").attr("value", obj.key).text(obj.value));
                            }
                            len += 1;
                        }
                    });
                    if (len == 0) {
                        $("#ddlShopCode").hide();
                    } else {
                        $("#ddlShopCode").show();
                    }
                    var shopcode = $("#ddlShopCode").val();
                    if (shopcode >= 0) {
                        BindFloorDDL(seller_guid, shopcode);
                    }
                }, complete: function () {
                }, error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    }

    function BindFloorDDL(seller_guid, shop_code) {
        var firstFloor = "";
        $.ajax({
            type: "POST",
            url: "@Url.Action("ShoppFloorGet")",
            data: "{sellerGuid:'" + seller_guid + "',shopCode:'" + shop_code + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#ddlFloor option').remove();
                $("#ddlFloor").append($("<option selected></option>").attr("value", "").text("--"));
                var len = 0;
                $.each(data, function (key, obj) {
                    if ("@Floor" == obj.Floor) {
                        $("#ddlFloor").append($("<option selected></option>").attr("value", obj.Floor).text(obj.Floor));
                        firstFloor = obj.Floor;
                    } else {
                        $("#ddlFloor").append($("<option></option>").attr("value", obj.Floor).text(obj.Floor));
                        if (firstFloor == "") {
                            firstFloor = obj.Floor;
                        }
                    }
                    len += 1;
                });

            },
            complete: function () {
                $("#btnSearch").click();
                //BindBeaconDeviceInfo($('#seller option:selected').val(), $("#ddlShopCode").val(), firstFloor);
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    function BindBeaconDeviceInfo(sellerGuid, shopCode, floor, electricPower, orderBy, isDesc) {
        //if ($.isEmptyObject($("#beaconDeviceList").val())) {
        //    alert("無Beacon裝置對應資料");
        //}
        $.ajax({
            type: "POST",
            url: "@Url.Action("BeaconDeviceInfoGet")",
            data: "{sellerGuid:'" + sellerGuid + "',shopCode:'" + shopCode + "', floor:'" + floor + "',electricPower:'" + electricPower + "', orderBy:'" + orderBy + "', isDesc:" + isDesc + "}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                $("#beaconDeviceList").empty();
                var _html = "";

                if ($.isEmptyObject(data)) {
                    alert("無Beacon裝置對應資料");
                }

                $.each(data, function(key, obj) {

                    if (obj.ElectricPower >= 2.6) {
                        _html += "<tr class='tr-green'>";
                        _html += "<td class='tr-green'>" + obj.Major + "</td>";
                    } else if (obj.ElectricPower <= 2.3) {
                        _html += "<tr class='tr-red'>";
                        _html += "<td class='tr-red'>" + obj.Major + "</td>";
                    } else {
                        _html += "<tr>";
                        _html += "<td>" + obj.Major + "</td>";
                    }

                    _html += "<td>" + obj.Minor + "</td>";
                    _html += "<td>" + obj.DeviceName + "</td>";
                    _html += "<td>" + obj.Floor + "</td>";

                    if (obj.ElectricPower >= 2.6) {
                        _html += "<td>充足電量</td>";
                    } else if (obj.ElectricPower <= 2.3) {
                        _html += "<td>低電量，建議更換</td>";
                    } else {
                        _html += "<td>一般電量</td>";
                    }
                    if (obj.LastUpdateTime == "----") {
                        _html += "<td>----</td>";
                    } else {
                        var date = new Date(parseInt(obj.LastUpdateTime.substr(6)));
                        _html += "<td>" + date.toLocaleDateString("ja-JP") + " " + date.toLocaleTimeString("ja-JP") + "</td>";
                    }

                    _html += "</tr>";
                });
                $("#beaconDeviceList").html(_html);
            },
            complete: function() {

            },
            error: function(xhr) {
                console.log(xhr.responseText);
            }

        });
    }

    $(function() {
        BindStoreDDL($('#seller option:selected').val());
        /*
        * 切換分館
        */
        $("#ddlShopCode").change(function() {
            BindFloorDDL($('#seller option:selected').val(), $(this).val());
        });
        /*
        * 切換樓層
        */
        $("#ddlFloor").change(function() {
            //BindBeaconDeviceInfo($('#seller option:selected').val(), $("#ddlShopCode").val(), $(this).val());
        });
        /*
        * 切換電量
        */
        $("#ddlElectricPower").change(function() {
        });

        /*
        * 查詢
        */
        $("#btnSearch").click(function() {
            QueryData();
        });

        $("#deviceNameCol").click(function() {
            setOrderBy("DeviceName");
            QueryData();
        });

        $("#lastUpdateTimeCol").click(function() {
            setOrderBy("LastUpdateTime");
            QueryData();
        });

        $("#floorCol").click(function() {
            setOrderBy("Floor");
            QueryData();
        });
    });

    function QueryData() {
        BindBeaconDeviceInfo($('#seller option:selected').val(), $("#ddlShopCode").val(), $("#ddlFloor").val(), $("#ddlElectricPower").val(), $("#orderByCol").val(), $("#orderByDesc").val() === "true");
    }

    function setOrderBy(orderByCol) {
        if ($("#orderByCol").val() !== orderByCol) {
            $("#orderByDesc").val(false);
        } else {
            if ($("#orderByDesc").val() === "false")
                $("#orderByDesc").val(true);
            else
                $("#orderByDesc").val(false);
        }
        $("#orderByCol").val(orderByCol);
    }

    function gotoSkmAppBeaconNotification() {
        var se = $("#seller").val();
        var formBn = document.createElement("form");
        var element1 = document.createElement("input");
        formBn.method = "POST";
        formBn.action = "SkmAppBeaconNotification";

        element1.value = se;
        element1.name = "sellerGuid";
        element1.type = "hidden";
        formBn.appendChild(element1);

        document.body.appendChild(formBn);
        formBn.submit();
    }
</script>


@*<div class="pdg-15"><a class="mrg20-hor" href="javascript:void(0)" onclick="javascript: location.href = BackToUrl();"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>*@

<section class="center mrg10-hor bg-white">
    <div class="pdg-40">
        <div class="zone">
            <div class="">
                <div class="dis-inline">
                    <select id="seller" name="seller" onchange="storeChange();">
                        @foreach (var st in stores)
                        {
                            if (@Model.Store == st.Key)
                            {
                                <option value="@st.Key" selected="selected">@st.Value</option>
                            }
                            else
                            {
                                <option value="@st.Key">@st.Value</option>
                            }
                        }
                    </select>
                </div>
                <div class="dis-inline">
                    <select id="ddlShopCode" name="ShopCode" class="__web-inspector-hide-shortcut__"></select>
                </div>
                <div class="dis-inline">
                    <select id="ddlFloor" name="Floor" class="__web-inspector-hide-shortcut__">
                        <option value="">--</option>
                    </select>
                </div>
                <div class="dis-inline">
                    <select id="ddlElectricPower" name="ElectricPower" class="__web-inspector-hide-shortcut__">
                        @foreach (var el in electricLevels)
                        {
                            if (@selectedectricLevel.ToString() == el.Key)
                            {
                                <option value="@el.Key" selected="selected">@el.Value</option>
                            }
                            else
                            {
                                <option value="@el.Key">@el.Value</option>
                            }
                        }
                    </select>

                </div>

                <input type="button" id="btnSearch" class="btn btn-default btn-small btn-long" value="查詢">
                <input type="hidden" id="orderByCol" value="DeviceName"/>
                <input type="hidden" id="orderByDesc" value="false" />
                <span style="float:right"><a href="SkmAppBeaconPowerMaps">圖片顯示</a> | <font color="#d00000">列表顯示</font>|<a onclick="gotoSkmAppBeaconNotification();" href="#">設定</a></span>
            </div>

            <table class="list-tb">
                <tr>
                    <th width="60" class="alg-center">Major</th>
                    <th width="60" class="alg-center">Minor</th>
                    <th width="200" class="alg-center sort-initial">
                        <a href="#" id="deviceNameCol">
                            擺放位置
                        </a>
                    </th>
                    <th width="60" class="alg-center sort-initial">
                        <a href="#" id="floorCol">
                            樓層
                        </a>
                    </th>
                    <th width="140" class="sort-initial alg-center">
                        電量狀態
                    </th>
                    <th width="240" id="lastUpdateTimeCol" class="sort-initial alg-center">
                        <a href="#">
                            電量最後更新時間
                        </a>
                    </th>
                </tr>
                <tbody id="beaconDeviceList"></tbody>
            </table>

            <div class="alg-center mrg20-hor" style="display: none;">
                @if (Model.Page == 1)
                {
                    <input title="第一頁" type="button" class="btn btn-disabled btn-large arrow" value="&laquo;" />
                }
                else
                {
                    <input title="第一頁" onclick="onPageChnage(1)" type="button" class="btn btn-default btn-large arrow" value="&laquo;" />
                }
                @if (Model.Page == 1)
                {
                    <input title="上一頁" type="button" class="btn btn-disabled btn-large arrow" value="&lsaquo;" />
                }
                else
                {
                    <input title="上一頁" onclick="onPageChnage(@Model.Page - 1)" type="button" class="btn btn-default btn-large arrow" value="&lsaquo;" />
                }
                <div class="dis-inline mrg20-ver">
                    <select id="page" name="page" onchange="onPageChnage()">
                        @for (int i = 1; i <= @Model.LastPage; i++)
                        {
                            <option value="@i" @if (i == @Model.Page) { <text> selected="selected" </text>   }>@i</option>
                        }
                    </select>
                    <span>/@Model.LastPage</span>
                    <span>(@Model.DealCount <text>筆資料</text>)</span>
                </div>
                @if (Model.LastPage == Model.Page)
                {
                    <input title="下一頁" type="button" class="btn btn-disabled btn-large arrow" value="&rsaquo;" />
                }
                else
                {
                    <input title="下一頁" onclick="onPageChnage(@Model.Page + 1)" type="button" class="btn btn-default btn-large arrow" value="&rsaquo;" />
                }
                @if (Model.LastPage == Model.Page)
                {
                    <input title="最後頁" type="button" class="btn btn-disabled btn-large arrow" value="&raquo;" />
                }
                else
                {
                    <input title="最後頁" onclick="onPageChnage(@Model.LastPage)" type="button" class="btn btn-default btn-large arrow" value="&raquo;" />
                }
            </div>

        </div>
    </div>
</section>
