﻿@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.Core;
@using LunchKingSite.WebLib.Controllers;

@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    Dictionary<string, string> Skmcategory = ViewBag.Skmcategory as Dictionary<string, string>;
    Dictionary<string, string> SkmPublicImage = ViewBag.SkmPublicImage as Dictionary<string, string>;
}

<style type="text/css">
    .drag-drop-upload {
        position: relative;
        border: 2px dashed #a89f9f;
    }

    .drag-drop-upload-hover {
        border-color: #4D4D4D;
    }

    .drag-drop-upload-ok {
        border-color: transparent;
    }

        .drag-drop-upload-ok p {
            visibility: hidden;
        }
</style>
<script type="text/javascript">
    var collection = @Html.Raw(Json.Encode(SkmPublicImage));

    $(document).ready(function () {
        $('.drag-drop-upload-container-img :file').change(function () {
            previewImageFile(this.files[0], $(this).closest('.drag-drop-upload'));
            handleImgFiles(this.files, $(this).closest('.drag-drop-upload'));
        });

        if ('@TempData["errorMsg"]')
        {
            alert('@TempData["errorMsg"]');
        }

        //第一次進入畫面塞值
        if ($('#category').val() != "") {
            initValue();
        }

        $("#category").change(function () {
            initValue();
        });

        $("#cancleBtn").click(function () {
            deleteDragDropUploadElemtns($('#imagePathDiv'));
            $('#imagePathDiv').parents('.drag-drop-upload-container-img').find(':file').val('');
            initValue();
        });

        $("#submitBtn").click(function () {
            var imgChange = false;
            var textChange = false;
            
            var imgUrl = collection[$('#category').val()];

            if ((imgUrl == undefined || (imgUrl.split("/").pop(-1) != $("#hidImagePath").val())) && ($("#hidImagePath").val()!="")) //相同 || 空值
            {
                imgChange=true;
            }

            if (($('#category :selected').text() !=  $("#publicText").val()) && $("#publicText").val()!="")
            {
                $("#hidPublicText").val($("#publicText").val());
                textChange =true;
            }

            if (imgChange || textChange)
            {
                $("#uploadImgForm").submit();
            }else{
                alert("目前沒任何修改動作，請選擇圖片或名稱!");
            }
        });
    });

    function initValue()
    {
        $("#categoryText").text($('#category :selected').text());
        $("#publicText").val($('#category :selected').text());

        var imgUrl = collection[$('#category').val()];
        if (imgUrl) //will evaluate to true if value is not: null  undefined  NaN  empty string ("") 0
        {
            console.log('load default and previewImageFile');
            deleteDragDropUploadElemtns($('#imagePathDiv'));
            showImage(imgUrl, $('#imagePathDiv'), 'img');
        }else
        {
            deleteDragDropUploadElemtns($('#imagePathDiv'));
            $('#imagePathDiv').parents('.drag-drop-upload-container-img').find(':file').val('');
        }
    }

    //showImage
    function previewImageFile(file, holder) {
        deleteDragDropUploadElemtns(holder);
        var reader = new FileReader();
        reader.onload = function (event) {
            console.log('previewImageFile');
            showImage(event.target.result, holder, 'img');
        };
        reader.readAsDataURL(file);
    }

    function handleImgFiles(files, holder) {
        for (var i = 0; i < files.length; i++) {
            var fd = new FormData();
            fd.append('upload', files[i]);
            console.log('try send file');
            sendImgFileToServer(fd, holder);
        }
    }

    function sendImgFileToServer(formData, holder) {
        var request = new XMLHttpRequest();
        request.onload = function () {
            if (request.status == 200) {
                var res = $.parseJSON(request.responseText);
                console.log('ok: got file. id is ' + res[0].FileId);
                $('#hidImagePath').val(res[0].FileId);
            } else {
                alert('發生錯誤. 找 IT 處理');
            }
        }
        request.open("POST", "/SKMDeal/UploadFile", true);
        request.send(formData);
    }

    //remove
    function deleteDragDropUploadElemtns(holder) {
        $(holder).find('.ddu-edit').remove();
        $(holder).find('.previewImage').remove();
        $(holder).find('.ddu-edit').remove();
        $('#hidImagePath').val('');
        $('#hidTempImagePath').val('');
        $(holder).removeClass('drag-drop-upload-ok');
    }


    function showImage(targetSrc, holder, type) {
        //opacity = opacity | 0.2;
        if (type == 'img') {
            if ($('#hidTempImagePath').val() == "")
            { $('#hidTempImagePath').val(targetSrc); }
            else
            { targetSrc = $('#hidTempImagePath').val() }
        }

        var image = new Image();
        $(image).attr('src', targetSrc);
        $(image).css('position', 'absolute')
                .css('z-index', 1)
                .css('top', 'auto')
                .css('left', 'auto')
                //.css('width', '640px')
                //.css('height', '528px')
                .addClass('previewImage');
        //$(image).css("width", 640);
        //$(image).css("height", 528);
        $(holder).append(image);
        $(holder).addClass('drag-drop-upload-ok');

        $(image).load(function () {
            var w = $(this).prop('naturalWidth');
            var h = $(this).prop('naturalHeight');
            if (h != 528 || w != 640) {
                //alert('僅能上傳圖片檔案，大小為 640*528');
            }
        });
    }
</script>

<section class="center mrg10-hor bg-white">
    <div class="pdg-15"><a class="mrg20-hor" href="~/SKMDeal/SKMAppDefaultStyle"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
    <form id="uploadImgForm" method="post" action="SkmAppDefaultStylePublicImagUpdate">
        <div class="pdg-40 pdg-hor-0">
            <div class="zone ">
                <h2>修改業種名稱</h2>
                <ul class="admin_note">
                    <li>請在下拉選單選擇要修改的業種</li>
                    <li>選完後在輸入框修改業種名稱</li>
                    <li>按[儲存]修改成功; 按[取消]則取消剛修改之處</li>
                </ul>

                <div class="beaconMsg-type">
                    <p class="">請選擇業種</p>&nbsp;
                    <select id="category" name="category">
                        @foreach (var ct in Skmcategory)
                        {
                            if (ct.Value != "最新活動")
                            {
                                <option value="@ct.Key" @((string)TempData["selectedCategory"] == ct.Key ? "selected" : "")>@ct.Value</option>
                            }
                        }
                    </select><br />
                    <p class="">欲修改業種名稱</p>&nbsp;
                    <input id="hidPublicText" type="hidden" name="publicText">
                    <input id="publicText" type="text" style="padding: 3px 5px;margin: 10px 5px;" value="">
                </div>
                <br>

                <!--// 一開始需要隱藏 //-->
                <div class="fr-content" style="display:none">
                    <h2 id="categoryText">每週精選</h2><!--隨上方select 改變文字-->
                    <p class="" style="margin-top: 10px">目前形象圖</p>
                    <div class="drag-drop-upload-container-img">
                        <div class="drag-drop-upload" id="imagePathDiv" style="width: 640px; height: 528px;">
                            <p style="margin-top: auto; margin-left: 150px"></p>
                            <input type="file" style="display: none" id="hiddleFileUpload">
                        </div>
                        <input type="hidden" ID="hidTempImagePath" name="tempImagePath" value=""/>
                        <input type="hidden" ID="hidImagePathOld" name="imagePathOld" value=""/>
                        <input type="hidden" ID="hidImagePath" name="imagePath" value=""/>
                        <input type="hidden" ID="hidImagePathX" name="imagePathX" value=""/>
                    </div>
                    <p class="">更換形象圖 &nbsp;<input type="button" class="btn btn-default btn-small btn-long" value="上傳圖片" onclick="$('#hiddleFileUpload').trigger('click');"><span style="color: #ccc;">未選擇任何檔案</span></p>
                    <!--// 一開始需要隱藏 //end-->
                    <div class="clearfix"></div>
                    @*<div class="fr-content alg-center mrg20-hor">
                        <input type="button" class="btn btn-primary btn-large" value="儲存" id="submitBtn">
                        <input type="button" class="btn btn-cancel btn-large" value="取消" id="cancleBtn">
                    </div>*@
                </div>
                <div class="fr-content alg-center mrg20-hor">
                    <input type="button" class="btn btn-primary btn-large" value="儲存" id="submitBtn">
                    <input type="button" class="btn btn-cancel btn-large" value="取消" id="cancleBtn">
                </div>
            </div>
        </div>
    </form>
</section>


