﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.WebLib.Controllers

@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    Dictionary<string, string> sellers = ViewBag.SkmSellers as Dictionary<string, string>;
    Dictionary<string, string> SkmCategory = ViewBag.SkmCategory as Dictionary<string, string>;
    List<string> skmDisableCategory = ViewBag.DisableCategory as List<string>;
    List<ViewSKMAppDefaultStyle> ViewSKMAppDefaultStyle = Model as List<ViewSKMAppDefaultStyle>;
    string qSeller = (string)ViewData["qSeller"];
    string qCategory = (string)ViewData["qCategory"];
}

<script>
    $(document).ready(function () {
        if ('@ViewBag.SkmHqPower' === "True") {
            $('#publicImg').show();
        } else {
            $('#publicImg').hide();
        }

        if ('@ViewBag.EditPower' === "True") { //by categoryid
            $('#btnAdd').show();
        } else {
            $('#btnAdd').hide();
        }
    });

    function changeEventStatus(ele) {
        var tr = $(ele).closest("tr");
        var Id = tr.find('#spanId').html();
        var spanSId = tr.find('#spanSId').html();
        $.ajax({
            type: "POST",
            url: "@Url.Action("SKMAppDefaultStyleStatusUpdate")",
            data: "{guid:'" + Id + "',qSeller:'" + spanSId + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.Success) {
                    //alert("更新成功!");
                    if (data.Message == "@((int)SkmAppStyleStatus.Hide)") {
                        $(ele).html("開啟");
                    } else {
                        $(ele).html("隱藏");
                    }
                    location.reload();

                } else {
                    alert("更新失敗!");
                }
            }
        });
    }
</script>

<div class="pdg-40">
    <div class="zone ">
        <h2>
            商品列表
            <a id="publicImg" href="javascript:location.href='SkmAppDefaultStylePublicImag'" class="btn btn-default btn-long flo-right btn-noline" style="font-size:12px; display:none;">修改業種名稱</a>
        </h2>

        <ul class="admin_note">
            <li>精選優惠的商品列表設定，每個業種最多顯示2則</li>
            <li>當期間內該業種沒設定上架商品，則該業種隱藏</li>
            <li>設定內容前請確認商品已製檔完成，未製檔的商品將無法選擇</li>
            <li>中文字體、全形字體、全形符號均為2個字元，英文字體、阿拉伯數字均為1個字元，超過字數會扣除3個半形字元並顯示"..."</li>
        </ul>

        <form class="dis-inline">
            <select id="qSeller" name="qSeller">
                @foreach (var seller in sellers)
                {
                    if (qSeller == seller.Key)
                    {
                        <option value="@seller.Key" selected="selected">@seller.Value</option>
                    }
                    else
                    {
                        <option value="@seller.Key">@seller.Value</option>
                    }
                }
            </select>
            <select id="Category" name="Category">
                @foreach (var ct in SkmCategory.Where(x => x.Value != "最新消息").ToList())
                {
                    if (skmDisableCategory != null && skmDisableCategory.All(x => x != ct.Key))
                    {
                        if (qCategory == ct.Key)
                        {
                            <option value="@ct.Key" selected="selected">@ct.Value</option>
                        }
                        else
                        {
                            <option value="@ct.Key">@ct.Value</option>
                        }
                    }
                }
            </select>

            <input type="submit" class="btn btn-default btn-small btn-long" value="查詢">
            <input type="button" id="btnAdd" class="btn btn-primary  btn-small btn-long flo-right" style="display:none" value="新增商品" onclick="javascript: location.href = 'SkmAppDealStyleEdit?qSeller=@qSeller&category=@qCategory'" />
        </form>

        <table class="list-tb">
            <tr>
                <th class="alg-center">
                    標題
                </th>
                <th>
                    @if ((bool)ViewData["IsOrderASC"])
                    {
                        <a href="@Url.Action("SKMAppDealStyle", new {page = (int) ViewData["PageIndex"], order = SkmLatestActivity.Columns.SDate, isOrderASC = false})&qSeller=@qSeller&Category=@qCategory">開始時間</a>
                    }
                    else
                    {
                        <a href="@Url.Action("SKMAppDealStyle", new {page = (int) ViewData["PageIndex"], order = SkmLatestActivity.Columns.SDate, isOrderASC = true})&qSeller=@qSeller&Category=@qCategory">開始時間</a>
                    }
                </th>
                <th>
                    @if ((bool)ViewData["IsOrderASC"])
                    {
                        <a href="@Url.Action("SKMAppDealStyle", new {page = (int) ViewData["PageIndex"], order = SkmLatestActivity.Columns.EDate, isOrderASC = false})&qSeller=@qSeller&Category=@qCategory">結束時間</a>
                    }
                    else
                    {
                        <a href="@Url.Action("SKMAppDealStyle", new {page = (int) ViewData["PageIndex"], order = SkmLatestActivity.Columns.EDate, isOrderASC = true})&qSeller=@qSeller&Category=@qCategory">結束時間</a>
                    }
                </th>

                <th>
                    狀態
                </th>
                <th colspan="2">功能操作</th>
            </tr>
            @{
                if (ViewSKMAppDefaultStyle != null)
                {
                    foreach (var data in ViewSKMAppDefaultStyle)
                    {
                        <tr class="alg-left">
                            <td style="display:none">
                                <span id="spanId">@data.Guid</span>
                                <span id="spanSId">@data.SellrtGuid</span>
                            </td>
                            <td>
                                @data.Title
                            </td>
                            <td>
                                @data.SDate.ToString("yyyy/MM/dd HH:mm")
                            </td>
                            <td>
                                @data.EDate.ToString("yyyy/MM/dd HH:mm")
                            </td>
                            <td>
                                @StatusGet(((int)data.status).ToString(), data.SDate.ToString("yyyy/MM/dd HH:mm"), data.EDate.ToString("yyyy/MM/dd HH:mm"))
                            </td>
                            <td>
                                @if (ViewBag.EditPower == true)
                                {
                                    @Html.ActionLink("編輯", "SkmAppDealStyleEdit", new { gid = @data.Guid, qSeller = @qSeller, category = @qCategory })
                                }
                                else
                                {
                                    @("編輯")
                                }
                            </td>
                            <td>
                                @if (ViewBag.EditPower == true)
                                {
                                    <a href="javascript:void(0)" onclick="changeEventStatus(this)">
                                        @((int)data.status == (int)SkmAppStyleStatus.Hide ? "開啟" : "隱藏")
                                    </a>
                                }
                                else
                                {
                                    @((int)data.status == (int)SkmAppStyleStatus.Hide ? "開啟" : "隱藏")
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </table>

        @Html.Partial("_Pager", new object[]
        {
            "SKMAppDealStyle", "qSeller=" + qSeller+"&Category="+@qCategory
        })
    </div>
</div>





@functions
{
    public string StatusGet(string str, string d1, string d2)
    {
        string rtn = "";
        if (str == ((int)SkmAppStyleStatus.Hide).ToString())
        {
            rtn = "隱藏中";
        }
        else
        {
            if (DateTime.Now > DateTime.Parse(d2))
            {
                rtn = "已過期";
            }
            else if (DateTime.Now < DateTime.Parse(d1))
            {
                rtn = "待上檔";
            }
            else
            {
                rtn = "上檔中";
            }
        }
        return rtn;
    }



}
