﻿@using LunchKingSite.DataOrm
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component;
@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    SkmLatestSellerDeal viewData = Model as SkmLatestSellerDeal;
    string qSeller = (string)ViewData["qSeller"];
    string qCategory = (string)ViewData["qCategory"];
    string catsName = (string)ViewData["catsName"];
    string backUrl = "";
    string dealSDate = (string)ViewData["dealSDate"];
    string dealEDate = (string)ViewData["dealEDate"];

    ISysConfProvider config = ProviderFactory.Instance().GetConfig();

    if (!config.EnableNewSKMAppDealStyle)
    {
        backUrl = "/SKMDeal/SkmAppDefaultStyle?qSeller=" + qSeller + "&category=" + qCategory;
    }
    else
    {
        backUrl = "/SKMDeal/SKMAppDealStyle?qSeller=" + qSeller + "&category=" + qCategory;
    }

    int Id = 0;
    string Title = "";
    //string Url = "";
    string EventBeginDate = "";
    string EventBeginHour = "";
    string EventBeginMinute = "";
    string EventEndDate = "";
    string EventEndHour = "";
    string EventEndMinute = "";
    string Description = "";
    string ImageUrl = "";
    Guid guid = Guid.Empty;
    Guid linkgid = Guid.Empty;

    if (viewData != null)
    {
        Id = viewData.Id;
        Title = viewData.DealTitle;
        //Url = viewData.LinkUrl;
        EventBeginDate = viewData.SDate.ToString("yyyy/MM/dd");
        EventBeginHour = viewData.SDate.ToString("HH");
        EventBeginMinute = viewData.SDate.ToString("mm");
        EventEndDate = viewData.EDate.ToString("yyyy/MM/dd");
        EventEndHour = viewData.EDate.ToString("HH");
        EventEndMinute = viewData.EDate.ToString("mm");
        Description = viewData.DealDescription;
        ImageUrl = viewData.ImageUrl;
        guid = viewData.Guid ?? Guid.Empty;
        linkgid = viewData.LinkDealGuid;
    }
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='/Tools/js/jquery.ui.datepicker-zh-TW.js'></script>
<script type="text/javascript">
    Object.defineProperty(Date.prototype, 'YYYYMMDDHHMM', {
        value: function () {
            function pad2(n) {  // always returns a string
                return (n < 10 ? '0' : '') + n;
            }

            return this.getFullYear() + "/" +
                   pad2(this.getMonth() + 1) + "/" +
                   pad2(this.getDate()) + " " +
                   pad2(this.getHours()) + ":" +
                   pad2(this.getMinutes());
        }
    });

    $(function () {

       $('#title').on('keyup', function() {
         getCharLength($(this));
      });

       $('#description').on('keyup', function() {
         getCharLength($(this));
      });

        $("#EventBeginDate").datepicker({
            setDate: new Date(),
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
            onClose: function (dateText, inst) { getLinkDealList(); }

        });
        $("#EventEndDate").datepicker({
            setDate: 1,
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
            onClose: function (dateText, inst) { getLinkDealList(); }
        });

        $("#btnSave").click(function () {
            if ($.trim($("#title").val()) == "") {
                alert("必須填寫商品標題");
                return false;
            }
            if ($.trim($("#description").val()) == "") {
                alert("必須填寫商品內文");
                return false;
            }
            if ($('#title').val().length > 10) {
                alert("商品標題最多輸入10個字");
                return false;
            }
            if ($('#description').val().length > 10) {
                alert("商品內文最多輸入10個字");
                return false;
            }

            if ($.trim($("#EventBeginDate").val()) == "") {
                alert("必須填寫商品開始時間");
                return false;
            }
            if ($.trim($("#EventEndDate").val()) == "") {
                alert("必須填寫商品結束時間");
                return false;
            }
            if (!checkDate($("#EventBeginDate").val())) {
                alert("商品開始時間格式不正確");
                return false;
            }
            if (!checkDate($("#EventEndDate").val())) {
                alert("商品結束時間格式不正確");
                return false;
            }
            if (Date.parse($("#EventBeginDate").val()).valueOf() > Date.parse($("#EventEndDate").val()).valueOf()) {
                alert("商品結束時間不可早於活動開始時間");
                return false;
            }
            if ($('#LinkDeal').val() == "-1") {
                alert("請選擇商品");
                return false;
            }

            if ($("#dealsInfo").val()) {
                var dealsInfo = jQuery.parseJSON($("#dealsInfo").val());
                $.each(dealsInfo, function (k, v) {
                    if (v.Bid === $('#LinkDeal').val()) {
                        var messageStartDateStr = $('#EventBeginDate').val() + ' ' + $('#EventBeginHour').val() + ":" + $('#EventBeginMinute').val();
                        var messageEndDateStr = $('#EventEndDate').val() + ' ' + $('#EventEndHour').val() + ":" + $('#EventEndMinute').val();

                        var checkStart = new Date(messageStartDateStr);
                        var checkEnd = new Date(messageEndDateStr);
                        var dealSDate = '@(dealSDate)';
                        var dealEDate = '@(dealEDate)';

                        var productEndDate = new Date(v.OrderDateEnd.match(/\d+/)[0] * 1);
                        var productStartDate = new Date(v.OrderDateStart.match(/\d+/)[0] * 1);

                        var checkEndIsOverTime = dealEDate == '' ? (checkEnd.getTime() > productEndDate.getTime()) ? true : false : (checkEnd.getTime() > dealEDate) ? true : false;
                        var checkStartIsOverTime = dealSDate == '' ? (checkStart.getTime() < productStartDate.getTime()) ? true : false : (checkStart.getTime() < dealSDate) ? true : false;

                        var displaySDate = dealSDate == '' ? productStartDate.YYYYMMDDHHMM() : dealSDate;
                        var displayEDate = dealEDate == '' ? productEndDate.YYYYMMDDHHMM() : dealEDate;

                        if (checkEndIsOverTime & !checkStartIsOverTime) {
                            alert("因本商品下架時間為(" + displayEDate + ")，早於「訊息刊登結束時間」(" + messageEndDateStr + ")，因此「訊息刊登結束時間」會被更新為「商品下架時間」。");
                        } else if (!checkEndIsOverTime & checkStartIsOverTime) {
                            alert("因本商品上架時間為(" + displaySDate + ")，晚於「訊息刊登開始時間」(" + messageStartDateStr + ")，因此「訊息刊登開始時間」會被更新為「商品上架時間」。");
                        } else if (checkEndIsOverTime & checkStartIsOverTime) {
                            alert("因本商品下架時間為(" + displayEDate + ")，早於「訊息刊登結束時間」(" + messageEndDateStr + ")，因此「訊息刊登結束時間」會被更新為「商品下架時間」。\r\n" +
                                  "因本商品上架時間為(" + displaySDate + ")，晚於「訊息刊登開始時間」(" + messageStartDateStr + ")，因此「訊息刊登開始時間」會被更新為「商品上架時間」。");
                        }
                    }
                });
            }

            $("#linkgid").val($("#LinkDeal").val()); //submit前，紀錄已選取的商品Bid於前台，以便有後台回傳錯誤訊息時，不需要再重新選擇商品

            $("form").submit();
        });

        $("#btnCancel").click(function () {
            if (!confirm("確定取消？")) {
                return false;
            }
            @*location.href = '/SKMDeal/SkmAppDefaultStyle?qSeller=@qSeller&category=@qCategory';*@
            //location.href = '/SKMDeal/SkmAppDefaultStyle';
            location.href = '@backUrl';
        });

        $('#EventBeginHour').change(function () {
            getLinkDealList();
        });
        $('#EventBeginMinute').change(function () {
            getLinkDealList();
        });
        $('#EventEndHour').change(function () {
            getLinkDealList();
        });
        $('#EventEndMinute').change(function () {
            getLinkDealList();
        });

        //如果商品有資料，初始化
        if ($('#linkgid').val()) {
            getLinkDealList();
        }
    });

     function getCharLength(obj) {
        var char = $(obj).val().length;
        var max = $(obj).attr('maxLength');
        obj.parent().parent().find('span').text(max - char);
    }

    function getLinkDealList() {
        if ($('#EventBeginDate').val() != "" && $('#EventEndDate').val() != "") {
            var dateStart = $('#EventBeginDate').val() + ' ' + $('#EventBeginHour').val() + ":" + $('#EventBeginMinute').val();
            var dateEnd = $('#EventEndDate').val() + ' ' + $('#EventEndHour').val() + ":" + $('#EventEndMinute').val();
            var seller = $("input[name='QSeller']").val();
            var cid = $("input[name='qCategory']").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("SkmDealsGet")",
                data: "{SellerGuid:'" + seller + "',CategoryId:'" + cid + "',dateStart:'" + dateStart + "',dateEnd:'" + dateEnd + "'}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#LinkDeal").empty();
                    $("#LinkDeal").append($("<option></option>").attr("value", "-1").text("請選擇"));

                    $.each(data.Deals, function (key, value) {
                        $("#LinkDeal").append($("<option></option>").attr("value", key).text(value));
                    });

                    $("#LinkDeal option").each(function (i) { //選擇符合的
                        if ($("#linkgid").val() == this.value) {
                            $('#LinkDeal option:eq(' + this.index + ')').attr('selected', true);
                        }
                    });

                    $("#dealsInfo").val(JSON.stringify(data.DealsInfo));
                }
            });
        }

    }
    @*function backToList() {
        if (confirm("確定取消？")) {
            //history.back();
            location.href = '/SKMDeal/SkmAppDefaultStyle?qSeller=' + @qSeller + '&Category=' + @qCategory;
        }

    }*@

    function checkDate(value) {
        var re = /^\d{4}\/\d{1,2}\/\d{1,2}$/;
        return re.test(value);
    }
</script>

<div class="pdg-15"><a class="mrg20-hor" href="@backUrl"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
<form id="applyForm" class="fr-group clearfix" method="post" action='/SKMDeal/SKMAppDealStyleEdit' enctype="multipart/form-data">
    <div class="pdg-40 pdg-hor-0">
        <div class="zone ">

            <h2>@catsName</h2>
            <ul class="admin_note">
                <li>精選優惠的商品列表設定，每個業種最多顯示2則最新上架商品，越新上架在越前方</li>
                <li>當期間內該業種沒設定上架商品，則該業種隱藏</li>
                <li>設定內容前請確認商品已製檔完成，未製檔的商品將無法選擇</li>
                <li>中文字體、全形字體、全形符號均為2個字元，英文字體、阿拉伯數字均為1個字元，超過字數會扣除3個半形字元並顯示"..."</li>
            </ul>
            <form class="fr-group clearfix">
                <div class="fr-item">
                    <label class="fr-label">訊息刊開始時間</label>
                    <div class="fr-content" id="EventStartDateGroup">
                        <input type="text" name="EventBeginDate" id="EventBeginDate" value="@EventBeginDate" class="time start fr-input-defaul" placeholder="日期">
                        <select id="EventBeginHour" name="EventBeginHour">
                            @for (int h = 0; h <= 23; h++)
                            {
                                if (EventBeginHour == h.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')" selected>@h.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')">@h.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                        <select id="EventBeginMinute" name="EventBeginMinute">
                            @for (int m = 0; m <= 59; m += 5)
                            {
                                if (EventBeginMinute == m.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')" selected>@m.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')">@m.ToString().PadLeft(2, '0')</option>
                                }
                            }
                            @if (EventBeginMinute == "59")
                            {
                                <option value="59" selected>59</option>
                            }
                            else
                            {
                                <option value="59">59</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">訊息刊登結束時間</label>
                    <div class="fr-content" id="EventEndDateGroup">
                        <input type="text" name="EventEndDate" id="EventEndDate" value="@EventEndDate" class="date start fr-input-defaul" placeholder="日期">
                        <select id="EventEndHour" name="EventEndHour">
                            @for (int h = 0; h <= 23; h++)
                            {
                                if (EventEndHour == h.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')" selected>@h.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')">@h.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                        <select id="EventEndMinute" name="EventEndMinute">
                            @for (int m = 0; m <= 59; m += 5)
                            {
                                if (EventEndMinute == m.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')" selected>@m.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')">@m.ToString().PadLeft(2, '0')</option>
                                }
                            }
                            @if (EventEndMinute == "59")
                            {
                                <option value="59" selected>59</option>
                            }
                            else
                            {
                                <option value="59">59</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">選擇商品</label>
                    <div class="fr-content">
                        <select id="LinkDeal" name="LinkDeal"></select>
                        <input id="dealsInfo" type="hidden" value="" />
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">商品標題</label>
                    <div class="fr-content">
                        <input type="text" id="title" name="Title" class="fr-input-large" maxLength="10" placeholder="最多輸入 10 字元" value="@Title">
                         <p class="f-small">
                            剩下
                            <span class="f-red">10</span>
                            字
                         </p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">商品內文</label>
                    <div class="fr-content">
                        <input type="text" id="description" name="Description" class="fr-input-large" maxLength="10" placeholder="請填寫優惠使用限制、消費者必需注意事項等，字數最多 10 字" value="@Description">
                        <p class="f-small">
                            剩下
                            <span class="f-red">10</span>
                            字
                        </p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">活動圖檔</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">
                        <input type="file" name="MainPic" id="MainPic" value=""><br />
                        <p class="f-small mrg30-btm">※ 僅能上傳圖片檔案，圖片大小至少 220x220(以上),寬與高須等比</p><br />
                        @if (!string.IsNullOrEmpty(ImageUrl))
                        {
                            <img src="@ImageUrl" />
                        }
                    </div>
                </div>
                <div class="fr-item">
                    <div class="fr-content">
                        <input type="button" id="btnSave" class="btn btn-primary btn-large" value="儲存">
                        <input type="button" id="btnCancel" class="btn btn-cancel btn-large" value="取消">
                    </div>
                </div>
                <input type="hidden" name="QSeller" value="@qSeller" />
                <input type="hidden" id="guid" name="guid" value="@guid">
                <input type="hidden" id="qCategory" name="qCategory" value="@qCategory">
                <input type="hidden" id="linkgid" value="@linkgid">
            </form>

        </div>
    </div>
</form>