﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.WebLib.Controllers

@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    Dictionary<string, string> sellers = ViewBag.SkmSellers as Dictionary<string, string>;
    Dictionary<string, string> SkmCategory = ViewBag.SkmCategory as Dictionary<string, string>;
    List<string> skmDisableCategory = ViewBag.DisableCategory as List<string>;
    List<ViewSKMAppDefaultStyle> ViewSKMAppDefaultStyle = Model as List<ViewSKMAppDefaultStyle>;
    string qSeller = (string)ViewData["qSeller"];
    string qCategory = (string)ViewData["qCategory"];
    string catsName = (string)ViewData["catsName"];
    string btnAddValue = "新增" + catsName;
    string editViewUrl= (catsName == "活動")? "SkmAppActivityStyleEdit" : "SkmAppDealStyleEdit";
}

<script>
    $(document).ready(function () {
        if ('@ViewBag.SkmHqPower' === "True") {
            $('#publicImg').show();
        } else {
            $('#publicImg').hide();
        }

        if ('@ViewBag.EditPower' === "True") { //by categoryid
            $('#btnAdd').show();
        } else {
            $('#btnAdd').hide();
        }
    });

    function changeEventStatus(ele) {
        var tr = $(ele).closest("tr");
        var Id = tr.find('#spanId').html();
        var spanSId = tr.find('#spanSId').html();
        $.ajax({
            type: "POST",
            url: "@Url.Action("SKMAppDefaultStyleStatusUpdate")",
            data: "{guid:'" + Id + "',qSeller:'" + spanSId + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.Success) {
                    //alert("更新成功!");
                    if (data.Message == "@((int)SkmAppStyleStatus.Hide)") {
                        $(ele).html("開啟");
                    } else {
                        $(ele).html("隱藏");
                    }
                    location.reload();

                } else {
                    alert("更新失敗!");
                }
            }
        });
    }
</script>

<div class="pdg-40">
    <div class="zone ">
        <h2>@catsName 
            <a id="publicImg" href="javascript:location.href='SkmAppDefaultStylePublicImag'" class="btn btn-default btn-long flo-right btn-noline" style="font-size:12px;">業種形象圖設定</a>
        </h2>
        @if (catsName == "活動")
        {
            <ul class="admin_note">
                <li>首頁活動區塊最多顯示4則活動，最少須設定2則活動</li>
                <li>當排程設定3則或多於4則時，依據刊登開始時間從早到晚依序顯示最早的前2則或前4則</li>
                <li>當期間內區塊無有效活動設定時，首頁隱藏此區塊顯示</li>
                <li>中文字體、全形字體、全形符號均為2個字元，英文字體、阿拉伯數字均為1個字元，超過字數會扣除3個半形字元並顯示"..."</li>
            </ul>
        }
        else
        {
            <ul class="admin_note">
                <li>首頁區塊最多顯示5則商品，最少須設定2則商品</li>
                <li>依據刊登開始時間從早到晚依序顯示</li>
                <li>當期間內區塊無有效商品設定時，首頁隱藏此區塊顯示</li>
                <li>設定首頁內容前請確認商品已製檔完成，未製檔的商品將無法選擇</li>
                <li>中文字體、全形字體、全形符號均為2個字元，英文字體、阿拉伯數字均為1個字元，超過字數會扣除3個半形字元並顯示"..."</li>
            </ul>
        }

        <form class="dis-inline">
            <select id="qSeller" name="qSeller">
                @foreach (var seller in sellers)
                {
                    if (qSeller == seller.Key)
                    {
                        <option value="@seller.Key" selected="selected">@seller.Value</option>
                    }
                    else
                    {
                        <option value="@seller.Key">@seller.Value</option>
                    }
                }
            </select>
            <select id="Category" name="Category">
                @foreach (var ct in SkmCategory)
                {
                    if (skmDisableCategory != null && skmDisableCategory.All(x => x != ct.Key))
                    {
                        if (qCategory == ct.Key)
                        {
                            <option value="@ct.Key" selected="selected">@ct.Value</option>
                        }
                        else
                        {
                            <option value="@ct.Key">@ct.Value</option>
                        }
                    }
                }
            </select>

            <input type="submit" class="btn btn-default btn-small btn-long" value="查詢">
            <input type="button" id="btnAdd" class="btn btn-primary  btn-small btn-long flo-right" style="display:none" value="@btnAddValue" onclick="javascript: location.href = '@editViewUrl?qSeller=@qSeller&category=@qCategory'"/>
        </form>

        <table class="list-tb">
            <tr>
                <th class="alg-center">
                    標題
                </th>
                <th>
                    @if ((bool) ViewData["IsOrderASC"])
                    {
                        <a href="@Url.Action("SkmAppDefaultStyle", new {page = (int) ViewData["PageIndex"], order = SkmLatestActivity.Columns.SDate, isOrderASC = false})&qSeller=@qSeller&Category=@qCategory">開始時間</a>
                    }
                    else
                    {
                        <a href="@Url.Action("SkmAppDefaultStyle", new {page = (int) ViewData["PageIndex"], order = SkmLatestActivity.Columns.SDate, isOrderASC = true})&qSeller=@qSeller&Category=@qCategory">開始時間</a>
                    }
                </th>
                <th>
                    @if ((bool) ViewData["IsOrderASC"])
                    {
                        <a href="@Url.Action("SkmAppDefaultStyle", new {page = (int) ViewData["PageIndex"], order = SkmLatestActivity.Columns.EDate, isOrderASC = false})&qSeller=@qSeller&Category=@qCategory">結束時間</a>
                    }
                    else
                    {
                        <a href="@Url.Action("SkmAppDefaultStyle", new {page = (int) ViewData["PageIndex"], order = SkmLatestActivity.Columns.EDate, isOrderASC = true})&qSeller=@qSeller&Category=@qCategory">結束時間</a>
                    }
                </th>

                <th>
                    狀態
                </th>
                <th colspan="2">功能操作</th>
            </tr>
            @{
                if (ViewSKMAppDefaultStyle != null)
                {
                    foreach (var data in ViewSKMAppDefaultStyle)
                    {
                        <tr class="alg-left">
                            <td style="display:none">
                                <span id="spanId">@data.Guid</span>
                                <span id="spanSId">@data.SellrtGuid</span>
                            </td>
                            <td>
                                @data.Title
                            </td>
                            <td>
                                @data.SDate.ToString("yyyy/MM/dd HH:mm")
                            </td>
                            <td>
                                @data.EDate.ToString("yyyy/MM/dd HH:mm")
                            </td>
                            <td>
                                @StatusGet(((int) data.status).ToString(), data.SDate.ToString("yyyy/MM/dd HH:mm"), data.EDate.ToString("yyyy/MM/dd HH:mm"))
                            </td>
                            <td>
                                @if (ViewBag.EditPower == true)
                                {
                                    @Html.ActionLink("編輯", editViewUrl, new {gid = @data.Guid, qSeller = @qSeller, category = @qCategory})
                                }
                                else
                                {
                                    @("編輯")
                                }
                            </td>
                            <td>
                                @if (ViewBag.EditPower == true)
                                {
                                    <a href="javascript:void(0)" onclick="changeEventStatus(this)">
                                        @((int) data.status == (int) SkmAppStyleStatus.Hide ? "開啟" : "隱藏")
                                    </a>
                                }
                                else
                                {
                                    @((int) data.status == (int) SkmAppStyleStatus.Hide ? "開啟" : "隱藏")
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </table>

        @Html.Partial("_Pager", new object[]
        {
            "SKMAppDefaultStyle", "qSeller=" + qSeller+"&Category="+@qCategory
        })
    </div>
</div>


@functions
{
    public string StatusGet(string str, string d1, string d2)
    {
        string rtn = "";
        if (str == ((int)SkmAppStyleStatus.Hide).ToString())
        {
            rtn = "隱藏中";
        }
        else
        {
            if (DateTime.Now > DateTime.Parse(d2))
            {
                rtn = "已過期";
            }
            else if (DateTime.Now < DateTime.Parse(d1))
            {
                rtn = "待上檔";
            }
            else
            {
                rtn = "上檔中";
            }
        }
        return rtn;
    }



}
