﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;

@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    Dictionary<string, string> sellers = ViewBag.SkmSellers as Dictionary<string, string>;
    Dictionary<string, string> BeaconType = ViewData["BeaconType"] as Dictionary<string, string>;
    string qSeller = (string)ViewData["qSeller"];
    string BeginDate = ViewData["BeginDate"].ToString();
    List<SkmDealSort> deals = ViewBag.SkmDealSort as List<SkmDealSort>;
}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="//malsup.github.io/jquery.blockUI.js"></script>
<script type="text/javascript">
    $(function () {
        $('ul.mainlist').sortable({
            connectWith: 'ul.mainlist',
            beforeStop: function (ev, ui) {
                if ($(ui.placeholder).parent()[0] != this) {
                    $(this).sortable('cancel');
                }
            },
            stop: function (event, ui) {
            }
        });
    });
    function Cancel() {
        $.blockUI({ message: "處理中..." });
        location.reload();
    }

    function Save() {
        var selectedValues = [];

        $.each($('.date-item'), function (idx, value) {
            $.each($(this).find('li'), function (iidx, vvalue) {
                var BusinessHourGuid = $(this).find('span[id="BusinessHourGuid"]').html();
                var DealDate = $(this).find('span[id="DealDate"]').html();
                var IsHide = ($(this).find('#chkHide').is(":checked") ? 1 : 0);

                var data = {
                    BusinessHourGuid: BusinessHourGuid,
                    Sequence: iidx + 1,
                    DealDate: DealDate,
                    Status: IsHide
                };

                selectedValues.push(data);
            });
        });
        $.blockUI({ message: "處理中..." });
        $.ajax({
            type: "POST",
            url: "@Url.Action("SkmBeaconMessageSortUpdate")",
            data: "{data:'" + JSON.stringify(selectedValues) + "',isHorizontal: false, isVertical: false, shoppe:'', floor:'' ,isDeal: 'false'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.Success) {
                    location.reload();

                } else {
                    alert("更新失敗!");
                }
            }, complete: function () {
                $.unblockUI();
            }, error: function (xhr) {
                console.log(xhr);
            }
        });
    }
</script>
<div class="">
    <div class="zone ">
        <div class="pdg-40 pdg-btm-10">
            <div class="beaconMsg-type">
                <p class="">訊息種類</p>&nbsp;
                <form class="dis-inline">
                    @Html.Partial("_BeaconHeader")
                </form>
            </div>
            <div class="center mrg10-top clearfix">
                <ul class="small-nav">
                    <li>
                        <a href="/SKMDeal/SkmAppBeaconEventCount" class="btn btn-primary btn-small btn-long"><i class="fa  fa-check-circle fa-fw"></i>行銷訊息_計算列表</a>
                    </li>
                    <li>
                        <a href="/SKMDeal/SkmAppBeaconEdit?beconType=@((int)SkmBeaconType.Event_Count)" class="btn btn-default btn-small btn-long"><i class="fa fa-check-circle fa-fw"></i>新增</a>
                    </li>
                    <li>
                </ul>
            </div>
        </div>

        <div class="data-carousel pdg-btm-20">
            <div class="data-frame">
                <div class="mrg10-btm clearfix">
                    <span class="mrg20-ver">
                        <input title="上一週" type="button" class="btn btn-default btn-small arrow" value="‹" onclick="javascript: location.href = 'SkmAppBeaconEventCount?BeginDate=@(DateTime.Parse(BeginDate).AddDays(-7).ToString("yyyy/MM/dd"))'">
                        <input title="下一週" type="button" class="btn btn-default btn-small arrow" value="›" onclick="javascript: location.href = 'SkmAppBeaconEventCount?BeginDate=@(DateTime.Parse(BeginDate).AddDays(7).ToString("yyyy/MM/dd"))'">
                        @BeginDate to @DateTime.Parse(BeginDate).AddDays(7).ToString("yyyy/MM/dd")
                    </span>
                    <div class="flo-right mrg10-ver">
                        <input type="button" class="btn btn-default btn-small btn-long" value="取消" onclick="Cancel()">
                        <input type="button" class="btn btn-primary btn-small btn-long" value="儲存" onclick="Save()">
                    </div>
                </div>

                @foreach (var data in deals)
                {
                    <div class="date-item ">
                        <div class="data-title alg-center">
                            <p>@data.DealDate.ToString("MM/dd")</p>
                        </div>
                        <ul class="dragsort-1 mainlist">
                            @foreach (SeqDeals deal in data.Deals)
                            {
                                <li>
                                    @deal.ItemName
                                    @if (data.DealDate >= DateTime.Parse(DateTime.Now.ToString("yyyy/MM/dd")))
                                    {
                                        <p>
                                            <label><input type="button" class="btn btn-default btn-small btn-long" value="編輯" onclick="javascript:location.href='SkmAppBeaconEdit?id=@deal.Id&beconType=@((int)SkmBeaconType.Event_Count)'"></label>
                                            <label><input type="checkbox" id="chkHide" value="value" @(deal.Status == (int)DealTimeSlotStatus.NotShowInPponDefault ? "checked" : "")>隱藏</label>
                                            <span id="BusinessHourGuid" style="display:none">@deal.BusinessHourGuid</span>
                                            <span id="DealDate" style="display:none">@data.DealDate.ToString("yyyy/MM/dd")</span>
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            <span id="BusinessHourGuid" style="display:none">@deal.BusinessHourGuid</span>
                                            <span id="DealDate" style="display:none">@data.DealDate.ToString("yyyy/MM/dd")</span>
                                        </p>
                                    }
                                </li>
                            }
                        </ul>
                    </div><!--// date-item //7 end-->
                }

            </div><!--// date-wrap //end-->
        </div>


    </div>
</div>
