﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component;
@using LunchKingSite.BizLogic.Facade;
@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    Dictionary<string, string> sellers = ViewBag.SkmSellers as Dictionary<string, string>;
    Dictionary<string, string> SkmCategory = ViewBag.SkmCategory as Dictionary<string, string>;
    Dictionary<string, string> SkmDealType = ViewBag.SkmDealType as Dictionary<string, string>;
    List<SkmDealSort> SkmDeals = ViewBag.SkmDeals as List<SkmDealSort>;
    string qSeller = (string)ViewData["qSeller"];
    string Category = (string)ViewData["Category"];
    string DealType = (string)ViewData["DealType"];
    string BeginDate = ViewData["BeginDate"].ToString();
    bool SkmHqCategoriesPower = (bool)ViewData["SkmHqCategoriesPower"];
    List<int> SkmHqCategories = (List<int>)ViewData["SkmHqCategories"];
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<style>
    .breakall li {
        word-break: break-all;
    }
</style>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="//malsup.github.io/jquery.blockUI.js"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
        if ('@SkmHqCategoriesPower' == 'False') {
            $(".dealLink").attr('href', '').css({ 'cursor': 'pointer', 'pointer-events': 'none' });
        }

    });

    $(function () {
        $('ul.mainlist').sortable({
            connectWith: 'ul.mainlist',
            beforeStop: function (ev, ui) {
                if ($(ui.placeholder).parent()[0] != this) {
                    $(this).sortable('cancel');
                }
            },
            stop: function (event, ui) {
            }
        });
    });
    function Cancel() {
        $.blockUI({ message: "處理中..." });
        location.reload();
    }
    function Save() {
        var selectedValues = [];

        $.each($('.date-item'), function (idx, value) {
            $.each($(this).find('li'), function (iidx, vvalue) {
                var BusinessHourGuid = $(this).find('span[id="BusinessHourGuid"]').html();
                var Sequence = $(this).find('span[id="Sequence"]').html();
                var CityId = $(this).find('span[id="CityId"]').html();
                var DealDate = $(this).find('span[id="DealDate"]').html();
                var IsHide = ($(this).find('#chkHide').is(":checked") ? 1 : 0);

                var data = {
                    BusinessHourGuid: BusinessHourGuid,
                    Sequence: iidx + 1,
                    DealDate: DealDate,
                    CityId:CityId,
                    Status: IsHide
                };

                selectedValues.push(data);
            });
        });
        $.blockUI({ message: "處理中..." });
        $.ajax({
            type: "POST",
            url: "@Url.Action("SkmDealSortUpdate")",
            data: "{data:'" + JSON.stringify(selectedValues) + "','CategoryType':'" + $("#Category").val() + "','DealType':'" + $("#DealType").val()  + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.Success) {
                    location.reload();

                } else {
                    alert("更新失敗!");
                }
            },complete: function() {
                $.unblockUI();
            }
        });
    }
</script>
<div class="">
    <div class="zone">
        <div class="pdg-hor-20 pdg-15">
            <h2>
                檔次排序
            </h2>
            <ul class="admin_note">
                <li>檔次排序主要是設定精選優惠各業種的列表排序</li>
                <li>可針對分店-商品分類-商品屬性進行排序</li>
            </ul>

            <form class="dis-inline" method="post" action="/SKMDeal/SkmAppDealSort">
                <select id="qSeller" name="qSeller">
                    @foreach (var seller in sellers)
                    {
                        if (qSeller == seller.Key)
                        {
                            <option value="@seller.Key" selected="selected">@seller.Value</option>
                        }
                        else
                        {
                            <option value="@seller.Key">@seller.Value</option>
                        }
                    }
                </select>
                <select id="Category" name="Category" @(config.EnableSkmBurning ? "style=display:none;" : string.Empty)>
                    @foreach (var ct in SkmCategory)
                    {
                        if (config.EnableSkmBurning)
                        {
                            if (SkmFacade.SkmDefaultCategoryId.ToString() == ct.Key)
                            {
                                <option value="@ct.Key" selected="selected">@ct.Value</option>
                            }
                            else
                            {
                                <option value="@ct.Key">@ct.Value</option>
                            }
                        }
                        else
                        {
                            if (Category == ct.Key)
                            {
                                <option value="@ct.Key" selected="selected">@ct.Value</option>
                            }
                            else
                            {
                                <option value="@ct.Key">@ct.Value</option>
                            }
                        }
                    }
                </select>
                <select id="DealType" name="DealType" @(config.EnableSkmBurning ? "style=display:none;" : string.Empty)>
                    @foreach (var dt in SkmDealType)
                    {
                        if (DealType == dt.Key)
                        {
                            <option value="@dt.Key" selected="selected">@dt.Value</option>
                        }
                        else
                        {
                            <option value="@dt.Key">@dt.Value</option>
                        }
                    }
                </select>
                <input type="hidden" id="BeginDate" name="BeginDate" value="@BeginDate" />
                <input type="submit" class="btn btn-default btn-small btn-long" value="查詢">
            </form>

        </div>

        <div class="data-carousel pdg-btm-20">
            <div class="data-frame">
                <div class="mrg10-btm" style="width:60%">
                    <form class="dis-inline">
                        <span class="data-location">@TypeGet(qSeller, sellers) - @TypeGet(Category, SkmCategory) - @TypeGet(DealType, SkmDealType)</span>
                    </form>
                    <span class="mrg20-ver">
                        <input title="上一週" type="button" class="btn btn-default btn-small arrow" value="‹" onclick="javascript: location
    .href =
    'SkmAppDealSort?BeginDate=@(DateTime.Parse(BeginDate).AddDays(-7).ToString("yyyy/MM/dd"))&qSeller=@qSeller&Category=@Category&DealType=@DealType'">
                        <input title="下一週" type="button" class="btn btn-default btn-small arrow" value="›" onclick="javascript: location.href = 'SkmAppDealSort?BeginDate=@(DateTime.Parse(BeginDate).AddDays(7).ToString("yyyy/MM/dd"))&qSeller=@qSeller&Category=@Category&DealType=@DealType'">
                        @BeginDate to @ViewData["EndDate"]
                    </span>
                    @if (!SkmHqCategories.Contains(Convert.ToInt32(Category)) || SkmHqCategoriesPower)
                    {
                        <span class="flo-right mrg10-ver">
                            <input type="button" class="btn btn-default btn-small btn-long" value="取消" onclick="Cancel()">
                            <input type="button" class="btn btn-primary btn-small btn-long" value="儲存" onclick="Save()">
                        </span>
                    }
                </div>

                @foreach (var data in SkmDeals)
                {
                    <div class="date-item" id="@data.DealDate.ToString("MMdd")">
                        <div class="data-title alg-center">
                            <p>@data.DealDate.ToString("MM/dd")</p>
                            <p>00:00 ~ 23:59</p>
                        </div>
                        <ul id="plSortList_@data.DealDate.ToString("MMdd")" class="dragsort-1 mainlist breakall">
                            @{
                                foreach (SeqDeals deal in data.Deals)
                                {
                                    <li>
                                        <a class="dealLink" href="@deal.Url" target="_blank">
                                            <span id="ItemName">@(deal.ItemName.Length > 20 ? deal.ItemName.Remove(20) + "..." : deal.ItemName )</span>
                                            <span id="DealDate" style="display: none">@deal.DealDate</span>
                                            <span id="CityId" style="display: none">@deal.CityId</span>
                                            <span id="Sequence" style="display: none">@deal.Sequence</span>
                                            <span id="BusinessHourGuid" style="display: none">@deal.BusinessHourGuid</span>
                                        </a>
                                        <p>
                                            <label>
                                                <input type="checkbox" name="checkbox" id="chkHide" @if (!SkmHqCategoriesPower) { <text> disabled="disabled" </text>   } @(deal.Status == (int)DealTimeSlotStatus.NotShowInPponDefault ? "checked" : "")>隱藏
                                            </label>
                                        </p>
                                    </li>
                                }
                            }
                        </ul>
                    </div><!--// date-item //1 end-->
                                }
            </div><!--// date-wrap //end-->
        </div>

    </div>

</div>





@functions
{
    public string TypeGet(string str, Dictionary<string, string> dc)
    {
        string rtn = "";
        foreach (var data in dc)
        {
            if (data.Key == str)
            {
                rtn = data.Value;
            }
        }
        return rtn;
    }
}
