﻿@using LunchKingSite.DataOrm
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component;
@{
    ISysConfProvider _config = ProviderFactory.Instance().GetConfig();
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    SkmLatestActivity viewData = Model as SkmLatestActivity;
    string qSeller = (string)ViewData["qSeller"];
    string qCategory = (string)ViewData["qCategory"];
    string backUrl = "";
    string activityImgExplain = "";

    ISysConfProvider config = ProviderFactory.Instance().GetConfig();

    if (!config.EnableNewSKMAppDealStyle)
    {
        backUrl = "/SKMDeal/SkmAppDefaultStyle?qSeller=" + qSeller + "&category=" + qCategory;
    }
    else
    {
        backUrl = "/SKMDeal/SKMAppActivityStyle?qSeller=" + qSeller + "&category=" + qCategory;
    }

    if (!config.EnableSKMActivityStyleNewImgSize)
    {
        activityImgExplain = "※ 僅能上傳圖片檔案，圖片大小至少 200 x 200以上";
    }
    else
    {
        activityImgExplain = "※ 僅能上傳圖片檔案，圖片大小至少 770 x 330(以上),寬與高須等比";
    }

    int Id = 0;
    string Title = "";
    string Url = "";
    string EventBeginDate = "";
    string EventBeginHour = "";
    string EventBeginMinute = "";
    string EventEndDate = "";
    string EventEndHour = "";
    string EventEndMinute = "";
    string Description = "";
    string StroeName = "";
    string StroeFloor = "";
    string ActDate = "";
    string ImageUrl = "";
    Guid guid = Guid.Empty;
    bool IsMustLogin = false;

    if (viewData != null)
    {
        Id = viewData.Id;
        Title = viewData.ActivityTitle;
        Url = viewData.LinkUrl;
        EventBeginDate = viewData.SDate.ToString("yyyy/MM/dd");
        EventBeginHour = viewData.SDate.ToString("HH");
        EventBeginMinute = viewData.SDate.ToString("mm");
        EventEndDate = viewData.EDate.ToString("yyyy/MM/dd");
        EventEndHour = viewData.EDate.ToString("HH");
        EventEndMinute = viewData.EDate.ToString("mm");
        Description = viewData.ActivityDescription;
        StroeName = viewData.StoreName;
        StroeFloor = viewData.StoreFloor;
        ActDate = viewData.ActDate.ToString("yyyy/MM/dd");
        ImageUrl = viewData.ImageUrl;
        guid = viewData.Guid ?? Guid.Empty;
        IsMustLogin = viewData.IsMustLogin;
    }
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='/Tools/js/jquery.ui.datepicker-zh-TW.js'></script>
<script type="text/javascript">
    $(function () {

        $('#title').on('keyup', function () {
            getCharLength($(this));
        });

        $('#description').on('keyup', function () {
            getCharLength($(this));
        });

        $("#EventBeginDate").datepicker({
            setDate: new Date(),
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true
        });
        $("#EventEndDate").datepicker({
            setDate: 1,
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true
        });
        $("#ActDate").datepicker({
            setDate: 1,
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true
        });


        $("#btnSave").click(function () {
            let titleLimitLength = 15;
            let descriptionLimitLength = 50;
            @if (_config.EnableCustomizedBoardList)
            {
                Html.Raw("titleLimitLength = 15;descriptionLimitLength = 50;");
            }
            if ($('#title').val().length > titleLimitLength)
            {
                alert("活動標題最多輸入" + titleLimitLength+"個字");
                return false;
            }
            if ($('#description').val().length > descriptionLimitLength) {
                alert("活動內文最多輸入" + descriptionLimitLength+"個字");
                return false;
            }
            if ($.trim($("#title").val()) == "") {
                alert("必須填寫活動標題");
                return false;
            }
            if ($.trim($("#description").val()) == "") {
                alert("必須填寫活動內文");
                return false;
            }
            if ($.trim($("#acturl").val()) == "") {
                alert("必須填寫活動連結");
                return false;
            }

            if (!CheckUrl($.trim($("#acturl").val()))) {
                alert("網址格式不正確");
                return false;
            }

            if ($.trim($("#ActDate").val()) == "") {
                alert("必須填寫活動時間");
                return false;
            }

            if ($.trim($("#EventBeginDate").val()) == "") {
                alert("必須填寫活動開始時間");
                return false;
            }
            if ($.trim($("#EventEndDate").val()) == "") {
                alert("必須填寫活動結束時間");
                return false;
            }
            if (!checkDate($("#EventBeginDate").val())) {
                alert("活動開始時間格式不正確");
                return false;
            }
            if (!checkDate($("#EventEndDate").val())) {
                alert("活動結束時間格式不正確");
                return false;
            }
            if (Date.parse($("#EventBeginDate").val()).valueOf() > Date.parse($("#EventEndDate").val()).valueOf()) {
                alert("活動結束時間不可早於活動開始時間");
                return false;
            }
            if (!CheckFloor($('#floor').val())) {
                alert("樓層僅能輸入英文&數字");
                return false;
            }

            $("form").submit();
            });
        $("#btnCancel").click(function () {
            if (!confirm("確定取消？")) {
                return false;
            }
            @*location.href = '/SKMDeal/SkmAppDefaultStyle?qSeller=@qSeller&category=@qCategory';*@
            //location.href = '/SKMDeal/SkmAppDefaultStyle';
            location.href = '@backUrl';
        });
    });

    function getCharLength(obj) {
        var char = $(obj).val().length;
        var max = $(obj).attr('maxLength');
        if ((max - char) >= 0) {
            obj.parent().parent().find('span').text(max - char);
        }
    }

    function checkDate(value) {
        var re = /^\d{4}\/\d{1,2}\/\d{1,2}$/;
        return re.test(value);
    }


    function CheckUrl(str) {
        var RegUrl = new RegExp();
        RegUrl.compile("^[A-Za-z]+://[A-Za-z0-9-_]+\\.[A-Za-z0-9-_%&\?\/.=]+$");
        if (!RegUrl.test(str)) {
            return false;
        }
        return true;
    }

    ///輸入英文或數字 limit:5
    function InputEnglishOrNumber(e, pValue) {
        dd = e.value;
        if (dd.length > 5) {
            e.value = dd.substr(0, 5);
            return false;
        }
        if (!/^[a-zA-Z0-9]|\s+$/.test(pValue)) {
            var newValue = /^[a-zA-Z0-9]|\s+/.exec(e.value);
            if (newValue != null) {
                e.value = newValue;
            } else {
                e.value = "";
            }
        }
        return true;
    }

    function CheckFloor(str) {
        if (str != '' && str != undefined)
        {
            var regExp = /^[\d|a-zA-Z]+$/;
            if (regExp.test(str))
                return true;
            else
                return false;
        }
        return true;
    }

</script>

<div class="pdg-15"><a class="mrg20-hor" href="@backUrl"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
<form id="applyForm" class="fr-group clearfix" method="post" action='/SKMDeal/SKMAppActivityStyleEdit' enctype="multipart/form-data">
    <div class="pdg-40 pdg-hor-0">
        <div class="zone ">

            <h2>最新活動</h2>
            <ul class="admin_note">
                <li>首頁最新活動最多顯示20則, 最少須設定2則, 越新上架在越上方</li>
                <li>當期間內區塊無有效活動設定時，首頁隱藏此區塊顯示</li>
                <li>中文字體、全形字體、全形符號均為2個字元，英文字體、阿拉伯數字均為1個字元，超過字數會扣除3個半形字元並顯示"..."</li>
            </ul>
            <form class="fr-group clearfix">
                <div class="fr-item">
                    <label class="fr-label">訊息刊開始時間</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">
                        <input type="text" name="EventBeginDate" id="EventBeginDate" value="@EventBeginDate" class="time start fr-input-defaul" placeholder="日期">
                        <select id="EventBeginHour" name="EventBeginHour">
                            @for (int h = 0; h <= 23; h++)
                            {
                                if (EventBeginHour == h.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')" selected>@h.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')">@h.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                        <select id="EventBeginMinute" name="EventBeginMinute">
                            @for (int m = 0; m <= 59; m += 5)
                            {
                                if (EventBeginHour == m.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')" selected>@m.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')">@m.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">訊息刊登結束時間</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">
                        <input type="text" name="EventEndDate" id="EventEndDate" value="@EventEndDate" class="date start fr-input-defaul" placeholder="日期">
                        <select id="EventEndHour" name="EventEndHour">
                            @for (int h = 0; h <= 23; h++)
                            {
                                if (EventEndHour == h.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')" selected>@h.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')">@h.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                        <select id="EventEndMinute" name="EventEndMinute">
                            @for (int m = 0; m <= 59; m += 5)
                            {
                                if (EventEndMinute == m.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')" selected>@m.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')">@m.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                @if (_config.EnableCustomizedBoardList)
                {
                    <div class="fr-item">
                        <label class="fr-label">活動標題</label>
                        <div class="fr-content">
                            <input type="text" id="title" name="Title" class="fr-input-large" maxlength="15" placeholder="最多輸入 15 字元" value="@Title">
                            <p class="f-small">
                                剩下
                                <span class="f-red">15</span>
                                字
                            </p>
                        </div>
                    </div>
                    <div class="fr-item">
                        <label class="fr-label">活動內文</label>
                        <div class="fr-content">
                            <input type="text" id="description" name="Description" class="fr-input-large" maxlength="50" placeholder="最多輸入 50 字元" value="@Description">
                            <p class="f-small">
                                剩下
                                <span class="f-red">50</span>
                                字
                            </p>
                        </div>
                    </div>
                }
                else
                {
                <div class="fr-item">
                    <label class="fr-label">活動標題</label>
                    <div class="fr-content">
                        <input type="text" id="title" name="Title" class="fr-input-large" maxlength="17" placeholder="最多輸入 17 字元" value="@Title">
                        <p class="f-small">
                            剩下
                            <span class="f-red">17</span>
                            字
                        </p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">活動內文</label>
                    <div class="fr-content">
                        <input type="text" id="description" name="Description" class="fr-input-large" maxlength="17" placeholder="最多輸入 17 字元" value="@Description">
                        <p class="f-small">
                            剩下
                            <span class="f-red">17</span>
                            字
                        </p>
                    </div>
                </div>
                }
                <div class="fr-item">
                    <label class="fr-label">活動連結</label>
                    <div class="fr-content">
                        <input type="text" id="acturl" class="fr-input-large" name="Url" id="Url" value="@Url">
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">館別</label>
                    <div class="fr-content">
                        <input type="text" id="store" name="StroeName" value="@StroeName" class="fr-input-defaul" placeholder="最多輸入 8 字元">
                        @*<p class="f-small">
                    剩下
                    <span class="f-red">8</span>
                    字
                </p>*@
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">樓層</label>
                    <div class="fr-content">
                        <input type="text" id="floor" onkeyup="InputEnglishOrNumber(this,value)" name="StroeFloor" value="@StroeFloor" class="fr-input-defaul" placeholder="最多輸入 4 字元">
                        <p class="f-small">
                            (僅能輸入英文&數字 ex:1F)
                        </p>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">活動時間</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">
                        <input type="text" name="ActDate" id="ActDate" value="@ActDate" class="date start fr-input-defaul" placeholder="日期">
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">活動圖檔</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">
                        <input type="file" name="MainPic" id="MainPic" value=""><br />
                        <p class="f-small mrg30-btm">@activityImgExplain</p><br />
                        @if (!string.IsNullOrEmpty(ImageUrl))
                        {
                            <img style="width:50%;height:50%" src="@ImageUrl" />
                        }
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">活動登入</label>
                    <div class="fr-content">
                        <input type="checkbox" id="IsMustLogin" name="IsMustLogin" @(IsMustLogin ? "checked=checked" : string.Empty) />
                    </div>
                </div>
                <div class="fr-item">
                    <div class="fr-content">
                        <input type="button" id="btnSave" class="btn btn-primary btn-large" value="儲存">
                        <input type="button" id="btnCancel" class="btn btn-cancel btn-large" value="取消">
                    </div>
                </div>
                <input type="hidden" name="QSeller" value="@qSeller" />
                <input type="hidden" id="guid" name="guid" value="@guid">
                <input type="hidden" id="qCategory" name="qCategory" value="@qCategory">

            </form>

        </div>
    </div>
</form>