﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";

    string selectedectricLevel = ViewBag.BeaconPowerLevel ;
    string NotificationEmails = ViewBag.NotificationEmails;
    string EletricPowerNotUpdateWaitDay = ViewBag.EletricPowerNotUpdateWaitDay;
    string ShopCode = ViewBag.ShopCode;
    Dictionary<string, string> electricLevels = ViewBag.SKMElectricLevels as Dictionary<string, string>;



}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.8/jquery.timepicker.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.8/jquery.timepicker.min.js"></script>
<script type="text/javascript" src='/Tools/js/jquery.ui.datepicker-zh-TW.js'></script>
<script type="text/javascript">
    
    function cancel() {
        if (confirm("確定不儲存便離開此網頁?")) {
            history.go(-1);
        }
    }

    function save() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("SkmAppBeaconNotificationSetting")",
            data: "{beaconPowerLevel:'" + $("#ddlElectricPower").val() +
                  "', notificationEmails:'" + $("#tbNotificationEmail").val() +
                  "','eletricPowerNotUpdateWaitDay':" + $("#tbEletricPowerNotUpdateWaitDay").val() + ",'ShopCode':'" + $("#hidShopCode").val() + "'}",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            if (data !== "0") {
                alert("更新成功");
                //location.href = BackToUrl();

            } else {
                alert("更新失敗");
            }
            }, complete: function () {
            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

</script>
<div class="pdg-15"><a class="mrg20-hor" href="javascript:void(0)" onclick="javascript: history.go(-1);"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
<div class="pdg-40 pdg-hor-0">
    <div class="zone">
        <h2 class="">自動通知設定</h2>
        <ul class="admin_note">
            <li>電量自動通知設定，請在下方填入須通知之mail，最多可填入 5 位</li>
            <li>email將會依儲存後存在，若需新增或刪除直接修改後儲存即可</li>
            <li>可自行設定當幾天電量都沒有更新時，即發送通知信</li>
        </ul>
        <form class="fr-group clearfix">
            <div class="fr-item">
                <label class="fr-label">電量自動通知</label>
                <div class="fr-content">
                    <select id="ddlElectricPower" name="ElectricPower" class="__web-inspector-hide-shortcut__">
                        @foreach (var el in electricLevels)
                        {
                            if (@selectedectricLevel == el.Key)
                            {
                                <option value="@el.Key" selected="selected">@el.Value</option>
                            }
                            else
                            {
                                <option value="@el.Key">@el.Value</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="fr-item">
                <label class="fr-label">通知</label>
                <div class="fr-content">
                    <input type="hidden" id="hidShopCode" value="@ShopCode" />
                    <input type="text" id="tbNotificationEmail" name="tbNotificationEmail" value="@NotificationEmails" class="fr-input-large" maxlength="400"><br/>
                    (EX: XXXX_01@domain.com;XXXX_02@domain.com;XXXX_03@domain.com)
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">未更新通知</label>
                <div class="fr-content">
                    <input type="text" id="tbEletricPowerNotUpdateWaitDay" name="tbEletricPowerNotUpdateWaitDay" value="@EletricPowerNotUpdateWaitDay" class="fr-input-defaul" maxlength="1000">天
                </div>
            </div>
        </form>

        <div class="fr-content alg-center mrg20-hor clearfix">
            <textarea id="selectedBeacons" style="display:none"></textarea>
            <input type="button" class="btn btn-primary btn-large" value="儲存" onclick="save()">
            <input type="button" class="btn btn-cancel btn-large" value="取消" onclick="cancel()">
        </div>
</div>

</div>
