﻿@using LunchKingSite.DataOrm
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component;
@{
    ISysConfProvider _config = ProviderFactory.Instance().GetConfig();
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    Dictionary<string, string> sellers = ViewBag.SkmSellers as Dictionary<string, string>;
    MerchantEventPromo promo = Model as MerchantEventPromo;
    string qSeller = (string)ViewData["qSeller"];
}

@{
    int Id = 0;
    string Title = "";
    string Url = "";
    string EventBeginDate = "";
    string EventBeginHour = "";
    string EventBeginMinute = "";
    string EventEndDate = "";
    string EventEndHour = "";
    string EventEndMinute = "";
    string Location = "";
    string MainPic = "";
    Guid guid = Guid.Empty;
    bool IsMustLogin = false;
    if (promo != null)
    {

    }
    if (promo.Title != "")
    {
        Id = promo.Id;
        Title = promo.Title;
        Url = promo.Url;
        EventBeginDate = promo.StartDate.ToString("yyyy/MM/dd");
        EventBeginHour = promo.StartDate.ToString("HH");
        EventBeginMinute = promo.StartDate.ToString("mm");
        EventEndDate = promo.EndDate.ToString("yyyy/MM/dd");
        EventEndHour = promo.EndDate.ToString("HH");
        EventEndMinute = promo.EndDate.ToString("mm");
        Location = promo.Location;
        MainPic = promo.MainPic;
        guid = promo.Guid ?? Guid.Empty;
        IsMustLogin = promo.IsMustLogin;
    }
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='/Tools/js/jquery.ui.datepicker-zh-TW.js'></script>
<script type="text/javascript">
    $(function () {
        let validateMessage = '@Html.Raw(TempData["validateResult"])'
        if (validateMessage != null && validateMessage != "") {
            let validateMessageList = $.parseJSON(validateMessage);
            $.each(validateMessageList, function (index, item) {
                $("#lbl_" + item.Key + "_ErrorMessage").html(item.Message).show();
            });
        }

        $("#EventBeginDate").datepicker({
            setDate: new Date(),
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
        });
        $("#EventEndDate").datepicker({
            setDate: 1,
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
        });


        $("#btnSave").click(function () {
            if ($.trim($("#Title").val()) == "") {
                alert("必須填寫活動名稱");
                return false;
            }
            if ($.trim($("#Url").val()) == "") {
                alert("必須填寫活動連結");
                return false;
            }
            if (!CheckUrl($.trim($("#Url").val()))) {
                alert("網址格式不正確");
                return false;
            }
            if ($.trim($("#EventBeginDate").val()) == "") {
                alert("必須填寫活動開始時間");
                return false;
            }
            if ($.trim($("#EventEndDate").val()) == "") {
                alert("必須填寫活動結束時間");
                return false;
            }
            if (!checkDate($("#EventBeginDate").val())) {
                alert("活動開始時間格式不正確");
                return false;
            }
            if (!checkDate($("#EventEndDate").val())) {
                alert("活動結束時間格式不正確");
                return false;
            }
            if (Date.parse($("#EventBeginDate").val()).valueOf() > Date.parse($("#EventEndDate").val()).valueOf()) {
                alert("活動結束時間不可早於活動開始時間");
                return false;
            }
            var chk = "";
            $.each($("#divLocation input[name=chk_Location]"), function (idx, obj) {;
                if ($(obj).is(":checked")) {
                    chk += $(obj).val() + ",";
                }
            });
            if (chk == "") {
                alert("至少選擇一個活動地點");
                return false;
            } else {
                $("#Location").val(chk);
            }


            $("form").submit();
        });
        $("#btnCancel").click(function () {
            if (!confirm("確定取消？")) {
                return false;
            }
            location.href = '/SKMDeal/SkmAppBanner';
        });
    });

    function checkDate(value) {
        var re = /^\d{4}\/\d{1,2}\/\d{1,2}$/;
        return re.test(value);
    }

    function CheckUrl(str) {
        var RegUrl = new RegExp();
        RegUrl.compile("^[A-Za-z]+://[A-Za-z0-9-_]+\\.[A-Za-z0-9-_%&\?\/.=]+$");
        if (!RegUrl.test(str)) {
            return false;
        }
        return true;
    }

</script>
<style>
    .label-error-message {
        color: white;
        background-color: red;
    }
</style>
<div class="pdg-15"><a class="mrg20-hor" href="/SKMDeal/SkmAppBanner?qSeller=@qSeller"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
<form id="applyForm" class="fr-group clearfix" method="post" action='/SKMDeal/SkmAppBannerEdit' enctype="multipart/form-data">
    <div class="pdg-40 pdg-hor-0">
        <div class="zone ">
            <h2>商品/活動資訊</h2>
            <form class="fr-group clearfix">
                <div class="fr-item">
                    <label class="fr-label">商品名稱</label>
                    <div class="fr-content">
                        <input type="text" class="fr-input-large" name="Title" id="Title" value="@Title">
                        <input type="hidden" id="id" name="id" value="@Id">
                        <input type="hidden" id="guid" name="guid" value="@guid">
                        <input type="hidden" id="qSeller" name="qSeller" value="@qSeller">
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">活動連結</label>
                    <div class="fr-content">
                        <input type="text" class="fr-input-large" name="Url" id="Url" value="@Url">
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">活動開始時間</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">
                        <input type="text" name="EventBeginDate" id="EventBeginDate" value="@EventBeginDate" class="time start fr-input-defaul" placeholder="日期">
                        <select id="EventBeginHour" name="EventBeginHour">
                            @for (int h = 0; h <= 23; h++)
                            {
                                if (EventBeginHour == h.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')" selected>@h.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')">@h.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                        <select id="EventBeginMinute" name="EventBeginMinute">
                            @for (int m = 0; m <= 59; m += 5)
                            {
                                if (EventBeginHour == m.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')" selected>@m.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')">@m.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">活動結束時間</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">
                        <input type="text" name="EventEndDate" id="EventEndDate" value="@EventEndDate" class="date start fr-input-defaul" placeholder="日期">
                        <select id="EventEndHour" name="EventEndHour">
                            @for (int h = 0; h <= 23; h++)
                            {
                                if (EventEndHour == h.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')" selected>@h.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@h.ToString().PadLeft(2, '0')">@h.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                        <select id="EventEndMinute" name="EventEndMinute">
                            @for (int m = 0; m <= 59; m += 5)
                            {
                                if (EventEndMinute == m.ToString().PadLeft(2, '0'))
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')" selected>@m.ToString().PadLeft(2, '0')</option>
                                }
                                else
                                {
                                    <option value="@m.ToString().PadLeft(2, '0')">@m.ToString().PadLeft(2, '0')</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="fr-item" id="divLocation">
                    <label class="fr-label">活動地點</label>
                    <div class="fr-content">
                        <ul class="skm-place flo-left">
                            @{
                                int cnt = 0;
                                foreach (var st in sellers)
                                {
                                    if ((cnt % 5) == 0 && cnt != 0)
                                    {
                                        <br />
                                    }
                                    if (Location != null && Location.Contains(st.Key))
                                    {
                                        <li>
                                            <label>
                                                <input type="checkbox" id="chk_@st.Key" name="chk_Location" value="@st.Key" checked="checked" />@st.Value
                                            </label>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <label>
                                                <input type="checkbox" id="chk_@st.Key" name="chk_Location" value="@st.Key" />@st.Value
                                            </label>
                                        </li>
                                    }
                                    cnt++;
                                }
                            }
                        </ul>
                        <input type="hidden" id="Location" name="Location" value="" />
                    </div>
                </div>
                <div class="fr-item" style="clear: both;margin-top: 100px">
                    <label class="fr-label" style="clear:both">活動圖檔</label>
                    <div class="fr-content" id="alternateUiWidgetsExample" style="margin-top:60px">
                        <input type="file" name="MainPic" id="MainPic" value=""><br />
                        <input type="hidden" name="MainPic" id="MainPic" value="@MainPic"><br />
                        @{
                            if (_config.EnableCustomizedBoardList)
                            {
                                <p class="f-small mrg30-btm">※  僅能上傳圖片檔案，大小為 1125 x 750</p><br />
                                <label class="label-error-message" style="display:none" id="lbl_MainPic_ErrorMessage">此為必填欄位！</label>
                            }
                            else
                            {
                                <p class="f-small mrg30-btm">※  僅能上傳圖片檔案，大小為 640 x 344</p>
                            }
                        }
                        @if (!string.IsNullOrEmpty(MainPic))
                        {
                            <img src="@MainPic" style="height:50%;width:50%" />
                        }
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">活動登入</label>
                    <div class="fr-content">
                        <input type="checkbox" id="IsMustLogin" name="IsMustLogin" @(IsMustLogin ? "checked=checked" : string.Empty) />
                    </div>
                </div>
                <div class="fr-item">
                    <div class="fr-content">
                        <input type="button" id="btnSave" class="btn btn-primary btn-large" value="儲存">
                        <input type="button" id="btnCancel" class="btn btn-cancel btn-large" value="取消">
                    </div>
                </div>
            </form>

        </div>
    </div>
</form>