﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    SkmBeaconMessage data = ViewBag.skmBeaconMessage as SkmBeaconMessage;
    List<ActionEventDeviceInfo> beacons = ViewBag.beacons as List<ActionEventDeviceInfo>;
    Dictionary<string, string> stores = ViewBag.SKMStores as Dictionary<string, string>;

    string SellerGuid = ViewBag.SellerGuid;
    int _BeconType = ViewBag.BeconType;
    string shopCode = ViewBag.shopCode;
    var BeaconMemberCount = ViewBag.BeaconMemberCount ;
    var isRoot = ViewBag.IsRoot;

    if (shopCode == null)
    {
        shopCode = "";
    }

    int Id = 0;
    string Subject = "";
    string EffectiveStart = "";
    string EffectiveEnd = "";
    string EffectiveStartTime = "00:00";
    string EffectiveEndTime = "23:59";
    string TimeStart = "00:00";
    string TimeEnd = "23:59";
    bool IsTop = false;
    int Status = 0;
    string Beacon = "";
    string ShopCode = "";
    string Floor = "";
    List<string> items = new List<string>();

    if (data != null && data.Id != 0)
    {
        Id = data.Id;
        Subject = data.Subject;
        EffectiveStart = data.EffectiveStart.ToString("yyyy/MM/dd");
        EffectiveEnd = data.EffectiveEnd.ToString("yyyy/MM/dd");
        EffectiveStartTime = data.EffectiveStart.ToString("HH:mm");
        EffectiveEndTime = data.EffectiveEnd.ToString("HH:mm");
        TimeStart = data.TimeStart;
        TimeEnd = data.TimeEnd;
        IsTop = data.IsTop;
        Status = data.Status;
        Beacon = data.Beacon;
        ShopCode = data.ShopCode;
        Floor = data.Floor;
        if (Beacon != null)
        {
            items = new JsonSerializer().Deserialize<List<string>>(Beacon);
        }
    }


}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.8/jquery.timepicker.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.8/jquery.timepicker.min.js"></script>
<script type="text/javascript" src='/Tools/js/jquery.ui.datepicker-zh-TW.js'></script>
<script type="text/javascript">
    function gotoBotton() {
        if ($("#firstChange").val() !== "1") {
            $('html, body').animate({
                scrollTop: $(document).height()
            }, 30);
        }
        $("#firstChange").val("0");
    }

    function storeChange() {
        var seller_guid = $('#seller option:selected').val();
        BindStoreDDL(seller_guid);
    }

    $(function () {

        $('.time').timepicker({
            'timeFormat': 'H:i'
        });

        $("#BeginDate").datepicker({
            setDate: new Date(),
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
            onClose: function (evt, ui) {
                $(this).trigger('change');
            }
        });
        $("#EndDate").datepicker({
            setDate: 1,
            dataFormat: 'yyyy/mm/dd',
            changeMonth: true,
            onClose: function (evt, ui) {
                $(this).trigger('change');
            }
        });

        BindStoreDDL($("#seller").val());
        /*
        * 切換分館
        */
        $("#ddlShopCode").change(function () {
            $("#imgFloor").hide();
            BindFloorDDL($("#seller").val(), $(this).val());
        });
        /*
        * 切換樓層
        */
        $("#ddlFloor").change(function () {
            $("#imgFloor").hide();
            BindBeacon($("#seller").val(), $("#ddlShopCode").val(), $(this).val());
            BindMap($("#seller").val());
        });

        if ('@Html.Raw(Beacon)' != '') {
            $("#selectedBeacons").val('@Html.Raw(Beacon)');
        } else {
            $("#selectedBeacons").val('[]');
        }

        BindBeaconData('@Html.Raw(Beacon)');

        if ('@isRoot'=='True') {
            $('#isRootDiv').show();
        } else {
            $('#isRootDiv').hide();
        }

    });
    function BindStoreDDL(seller_guid) {
        if (seller_guid != "") {
            $("#imgFloor").hide();
            $.ajax({
                type: "POST",
                url: "@Url.Action("ShopGetBySellerGuid")",
                data: "{sellerGuid:'" + seller_guid + "'}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var targetList = null;
                    if ($("#targetShopList").val() != "") {
                        targetList = JSON.parse($("#targetShopList").val());
                    }
                    $('#ddlShopCode option').remove();
                    $('#ddlFloor option').remove();
                    var fristShopcode = "";
                    var len = 0;
                    $.each(data.Shops, function (key, obj) {
                        if (len == 0) fristShopcode = obj.key;
                        if (obj.value != "" && targetList != null) {
                            $.each(targetList, function (k, v) {
                                if (k.toString() == obj.key) {
                                    if ("@shopCode" == obj.key) {
                                        $("#ddlShopCode").append($("<option selected></option>").attr("value", obj.key).text(obj.value));
                                    } else {
                                        $("#ddlShopCode").append($("<option></option>").attr("value", obj.key).text(obj.value));
                                    }
                                    len += 1;
                                }
                            });
                        } else if (obj.value != "" && targetList == null) {
                            if ("@shopCode" == obj.key) {
                                $("#ddlShopCode").append($("<option selected></option>").attr("value", obj.key).text(obj.value));
                            } else {
                                $("#ddlShopCode").append($("<option></option>").attr("value", obj.key).text(obj.value));
                            }
                            len += 1;
                        }
                    });
                    if (len == 0) {
                        $("#ddlShopCode").hide();
                    } else {
                        $("#ddlShopCode").show();
                    }

                    if ("@shopCode" != "") {
                        BindFloorDDL(seller_guid, "@shopCode");
                    } else {
                        BindFloorDDL(seller_guid, fristShopcode);
                    }

                }, complete: function () {
                }, error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    }

    function BindFloorDDL(seller_guid, shop_code) {
        var firstFloor = "";
        $.ajax({
            type: "POST",
            url: "@Url.Action("ShoppFloorGet")",
            data: "{sellerGuid:'" + seller_guid + "',shopCode:'" + shop_code + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var selectFloor = '@Floor';
                var targetList = null;
                if ($("#targetShopList").val() != "") {
                    targetList = JSON.parse($("#targetShopList").val());
                    $.each(targetList, function (key, v) {
                        if (key.toString() == $("#ddlShopCode").val()) {
                            selectFloor = v;
                        }
                    });
                }

                $('#ddlFloor option').remove();
                var len = 0;
                $.each(data, function (key, obj) {
                    if (selectFloor == obj.Floor) {
                        $("#ddlFloor").append($("<option selected></option>").attr("value", obj.Floor).text(obj.Floor));
                        firstFloor = obj.Floor;
                    } else {
                        $("#ddlFloor").append($("<option></option>").attr("value", obj.Floor).text(obj.Floor));
                        if (firstFloor == "") {
                            firstFloor = obj.Floor;
                        }
                    }
                    len += 1;
                });
                BindMap(seller_guid);
            }, complete: function () {
                if (firstFloor != "") {//沒有floor只會單獨出現全選, 很奇怪
                    BindBeacon("@SellerGuid", $("#ddlShopCode").val(), firstFloor);
                }
            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    function BindMap(seller_guid) {
        var image = "";
        var bulb = "";
        var Beacon = JSON.parse($("#selectedBeacons").val());
        $.ajax({
            type: "POST",
            url: "@Url.Action("ShoppMapGet")",
            data: "{sellerGuid:'" + seller_guid + "', shopCode:'" + $("#ddlShopCode").val() + "',floor:'" + $("#ddlFloor").val() + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#beaconBulb").empty();
                if (data.length == 0) {
                    alert("無Beacon裝置對應資料");
                    $("#divBeacon").empty();
                }
                bulb = "<ul>";
                $.each(data, function (idx, obj) {
                    if ($.inArray("" + obj.Major + obj.Minor, Beacon) >= 0) {
                        bulb += "<li class='on' style='top:" + obj.Xtop + "px; left:" + obj.Xleft + "px;'><span class='tips'>" + obj.DeviceName + "</span>" + obj.Minor + "</li>";
                    } else {
                        bulb += "<li style='top:" + obj.Xtop + "px; left:" + obj.Xleft + "px;'><span class='tips'>" + obj.DeviceName + "</span>" + obj.Minor + "</li>";
                    }
                });
                bulb += "</ul>";
                $("#beaconBulb").append(bulb);
            }, complete: function () {
            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("SkmMapImagesGet")",
            data: "{shopCode:" + $("#ddlShopCode").val() + ", floor:'" + $("#ddlFloor").val() + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (res) {
                if (res.indexOf("null") > -1) {
                    $("#imgFloor").hide();
                } else {
                    image = '<img id="imgFloor" src="../Themes/skmApp/map/' + res + '" width="800">';

                    $("#image-map img:last-child").remove();

                    if (image != "") {
                        $("#image-map").append(image);
                    }
                    gotoBotton();
                }
            }, complete: function () {

            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    function bulbon(data, major, minor) {
        var checked = false;
        var odata = $("#selectedBeacons").val();
        var jdata = [];
        jdata = JSON.parse(odata);



        if ($(data).is(":checked")) {
            //打勾
            $.each($(".beacon-map li"), function (idx, obj) {
                if ($(obj).text().replace($(obj).find("span").text(), "") == minor) {
                    $(obj).addClass("on");
                }
            });
            if ($.inArray("" + major + minor, jdata) >= 0) {

            } else {
                jdata.push("" + major + minor);
            }
        } else {
            //沒打勾
            $.each($(".beacon-map li"), function (idx, obj) {
                if ($(obj).text().replace($(obj).find("span").text(), "") == minor) {
                    $(obj).removeClass("on");
                }
            });
            if ($.inArray("" + major + minor, jdata) >= 0) {
                jdata.remove("" + major + minor);
            } else {

            }
        }

        $("#selectedBeacons").val(JSON.stringify(jdata));

        BindBeaconData(JSON.stringify(jdata));
    }

    /*
    * 移除陣列中的元素
    * */
    Array.prototype.remove = function () {
        var what, a = arguments, L = a.length, ax;
        while (L && this.length) {
            what = a[--L];
            while ((ax = this.indexOf(what)) !== -1) {
                this.splice(ax, 1);
            }
        }
        return this;
    };

    function BindBeacon(seller_guid, shop_code, floor) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("BindBeacon")",
            data: "{sellerGuid:'" + seller_guid + "',shopCode:'" + shop_code + "', floor:'" + floor + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#divBeacon").empty();
                var _html = "";
                var idx = 1;
                var Beacon = JSON.parse($("#selectedBeacons").val());

                $.each(data, function (key, obj) {
                    _html += "<label>";
                    if ($.inArray("" + obj.Major + obj.Minor, Beacon) >= 0) {
                        _html += "<input type='checkbox' id='BeaconId' name='BeaconId' value='" + "" + obj.Major + obj.Minor + "' checked='true' onclick='bulbon(this," + obj.Major + "," + obj.Minor + ")'><span>" + obj.DeviceName + "</span>";
                    } else {
                        _html += "<input type='checkbox' id='BeaconId' name='BeaconId' value='" + "" + obj.Major + obj.Minor + "' onclick='bulbon(this," + obj.Major + "," + obj.Minor + ")'><span>" + obj.DeviceName + "</span>";
                    }

                    if (idx % 5 == 0) {
                        _html += "<br />";
                    }
                    _html += "</label>";
                    idx += 1;
                });

                if (idx > 1) {
                    _html += "<label>";
                    _html += "<input type=\"checkbox\" id=\"chkAll\" name=\"chkAll\" value=\"value\" onclick=\"checkAll(this)\"><span>全選</span>";
                    _html += "</label>";
                }

                $("#divBeacon").append(_html);
            }, complete: function () {

            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }


    function BindBeaconData(Beacons) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("BindBeaconData")",
            data: "{Beacons:'" + Beacons + "'}",
            dataType: "json",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var ret = "";
                if (data.length > 0) {
                    $.each(data, function (idx, val) {
                        if (ret == "") {
                            ret += val;
                        } else {
                            ret += ", " + val;
                        }

                        if (idx > 0 && (idx % 5 == 0)) {
                            ret += "<br/>";
                        }
                    });
                    $("#showBeacon").html(ret);
                } else {
                    $("#showBeacon").html("");
                }
            }, complete: function () {

            }, error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function save() {
        var IsTop = $("input[name=IsTop]:checked").val();
        var Status = $("input[name=Status]:checked").val();
        var ShopCode = $("#ddlShopCode").val();
        var Floor = $("#ddlFloor").val();

        if ($.trim($("#Subject").val()) == "") {
            alert("請輸入名稱");
            return false;
        }

        if ($.trim($("#BeginDate").val()) == "") {
            alert("請輸入開始日期");
            return false;
        }

        if (!checkDate($.trim($("#BeginDate").val()))) {
            alert("開始日期格式不正確");
            return false;
        }

        if ($.trim($("#EffectiveStartTime").val()) == "") {
            alert("請輸入開始時間");
            return false;
        }

        if (!checkTime($.trim($("#EffectiveStartTime").val()))) {
            alert("開始時間格式不正確");
            return false;
        }

        if ($.trim($("#EndDate").val()) == "") {
            alert("請輸入結束日期");
            return false;
        }

        if (!checkDate($.trim($("#EndDate").val()))) {
            alert("結束日期格式不正確");
            return false;
        }

        if ($.trim($("#EffectiveEndTime").val()) == "") {
            alert("請輸入結束時間");
            return false;
        }

        if (!checkTime($.trim($("#EffectiveEndTime").val()))) {
            alert("結束時間格式不正確");
            return false;
        }


        if ($.trim($("#TimeStart").val()) == "") {
            alert("請輸入啓用時段(起)");
            return false;
        }

        if ($.trim($("#TimeEnd").val()) == "") {
            alert("請輸入啓用時段(迄)");
            return false;
        }

        if (!checkTime($.trim($("#TimeStart").val()))) {
            alert("啓用時段(起)格式不正確");
            return false;
        }

        if (!checkTime($.trim($("#TimeEnd").val()))) {
            alert("啓用時段(迄)格式不正確");
            return false;
        }

        if (Date.parse(($("#BeginDate")).val() + ' ' + $("#EffectiveStartTime").val()) >= Date.parse(($("#EndDate")).val() + ' ' + $("#EffectiveEndTime").val())) {
            alert("開始、結束時間區間不正確");
            return false;
        }

        if (Date.parse('1911/01/01 ' + ($("#TimeStart")).val()) >= Date.parse('1911/01/01 ' + ($("#TimeEnd")).val())) {
            alert("啓用時段區間不正確");
            return false;
        }

        if (Status == undefined) {
            alert("請選擇狀態");
            return false;
        }


        var arrBeacon = JSON.parse($("#selectedBeacons").val());

        if (arrBeacon.length == 0) {
            alert("請選擇至少一個Beacon");
            return false;
        }

        if ($("#msgId").val() == 0)
        {
            if ($.trim(ShopCode) == "-1" || $.trim(ShopCode) == "") {
                alert("請選擇位置");
                return false;
            }
        }

        $.ajax({
            type: "POST",
            url: "@Url.Action("SkmAppBeaconEdit")",
            data: "{Id:'" + $("#Id").val() + "', Subject:'" + $("#Subject").val() + "','BeginDate':'" + $("#BeginDate").val() + " " + $("#EffectiveStartTime").val() + "','EndDate': '" +
                $("#EndDate").val() + " " + $("#EffectiveEndTime").val() + "',TimeStart:'" + $("#TimeStart").val() + "','TimeEnd': '" +
                $("#TimeEnd").val() + "','IsTop':'" + IsTop + "','Status':'" + Status + "','ShopCode':'" +
                ShopCode + "','Floor':'" + Floor + "','BeaconId':'" + JSON.stringify(arrBeacon) + "','beconType':'" + $("#BeconType").val() + "','selectedBeacons':'" + $("#selectedBeacons").val() + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data != "0") {
                    $("#Id").val(data);
                    try {
                        fileUpload();
                    } catch (e) {
                        console.log(e);
                    }

                    alert("更新成功");
                    location.href = BackToUrl();

                } else {
                    alert("更新失敗，請檢查樓層是否正確。");
                }
            }, complete: function () {

            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
    function checkDate(value) {
        var re = /^\d{4}\/\d{1,2}\/\d{1,2}$/;
        return re.test(value);
    }
    function checkTime(value) {
        var re = /^([01]\d|2[0-3]):?([0-5]\d)$/;
        return re.test(value);
    }
    function cancel() {
        if (confirm("確定不儲存便離開此網頁?")) {
            history.go(-1);
        }
    }
    function checkAll(object) {
        var pid = object.id;
        var checked = $(object).is(":checked");

        var odata = $("#selectedBeacons").val();
        var jdata = [];
        jdata = JSON.parse(odata);

        $.each($("#divBeacon input[type=checkbox]"), function (idx, obj) {
            if (obj.id != pid) {
                obj.checked = checked;
                bulbon($(obj), $(obj).val().substr(0, 4), $(obj).val().substr(4));
                if (checked) {
                    if ($.inArray($(obj).val(), jdata) >= 0) {

                    } else {
                        jdata.push($(obj).val());
                    }
                } else {
                    if ($.inArray($(obj).val(), jdata) >= 0) {
                        jdata.remove($(obj).val());
                    } else {
                    }
                }
            }
        });
        $("#selectedBeacons").val(JSON.stringify(jdata));

        //BindBeaconData(JSON.stringify(jdata));
    }
    function countWords(object) {
        var w = 50 - $(object).val().length;
        if (w < 0) {
            w = 0;
        }
        if (w > 50) {
            w = 50;
        }
        $("#words").html(w);
    }
    function BackToUrl() {
        var __Url = "";
        switch ("@_BeconType") {
        case "@((int)SkmBeaconType.Top)":
            __Url = "/SKMDeal/SkmAppBeacon";
            break;
        case "@((int)SkmBeaconType.Deal)":
            __Url = "/SKMDeal/SkmAppBeaconDeal?qSeller=@SellerGuid&shopCode=@shopCode";
            break;
        case "@((int)SkmBeaconType.Project)":
            __Url = "/SKMDeal/SkmAppBeaconProject";
            break;
        case "@((int)SkmBeaconType.Event_Manual)":
            __Url = "/SKMDeal/SkmAppBeaconEventManual";
            break;
        case "@((int)SkmBeaconType.Event_Count)":
            __Url = "/SKMDeal/SkmAppBeaconEventCount";
            break;
        }
        return __Url;
    }

    function fileUpload() {
        var formData = new FormData();
        var totalFiles = document.getElementById("FileUpload").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("FileUpload").files[i];

            formData.append("FileUpload", file);
        }
        formData.append("Id", $("#Id").val());
        $.ajax({
            type: "POST",
            url: "@Url.Action("BeaconFileUpload")",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                //alert('succes!!');
            },
            error: function (error) {
                console.log("上傳失敗");
            }
        });
    }
</script>
<div class="pdg-15"><a class="mrg20-hor" href="javascript:void(0)" onclick="javascript: location.href = BackToUrl();"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
<div class="pdg-40 pdg-hor-0">
    <div class="zone">
        <h2 class="">
            @{
                string _Title = "";
                switch (_BeconType)
                {
                    case (int)SkmBeaconType.Top:
                        _Title = "編輯專案訊息";
                        break;
                    case (int)SkmBeaconType.Deal:
                        _Title = "編輯商品檔次";
                        break;
                    case (int)SkmBeaconType.Project:
                        _Title = "編輯專案";
                        break;
                    case (int)SkmBeaconType.Event_Manual:
                        _Title = "編輯行銷訊息_手動";
                        break;
                    case (int)SkmBeaconType.Event_Count:
                        _Title = "編輯行銷訊息_計算";
                        break;
                }
                @_Title
            }
        </h2>
        <form class="fr-group clearfix">
            <div class="fr-item">
                <label class="fr-label">名稱</label>
                <div class="fr-content">
                    @if (_BeconType == (int)SkmBeaconType.Deal)
                    {
                        <input type="text" id="Subject" name="Subject" value="@Subject" class="fr-input-large" maxlength="400">
                    }
                    else
                    {
                        <input type="text" id="Subject" name="Subject" value="@Subject" class="fr-input-large" maxlength="50" onkeyup="countWords(this)">
                    }
                    <input type="hidden" id="Id" name="Id" value="@Id" class="fr-input-large">
                    <input type="hidden" id="BeconType" name="BeconType" value="@_BeconType" class="fr-input-large">
                    @if (_BeconType != (int)SkmBeaconType.Deal)
                    {
                        <p class="f-small">
                            剩下
                            <span id="words" class="f-red">@(50 - Subject.Length)</span>
                            字
                        </p>
                    }

                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">開始時間</label>
                <div class="fr-content" id="alternateUiWidgetsExample">
                    @if (_BeconType != (int)SkmBeaconType.Deal)
                    {
                        <input type="text" id="BeginDate" class="date start fr-input-defaul" placeholder="日期" value="@EffectiveStart">
                        <input type="text" id="EffectiveStartTime" class="time start fr-input-defaul" placeholder="時間" value="@EffectiveStartTime">
                    }
                    else
                    {
                        <input type="hidden" id="BeginDate" class="date start fr-input-defaul" placeholder="日期" value="@EffectiveStart">
                        <input type="hidden" id="EffectiveStartTime" class="time start fr-input-defaul" placeholder="時間" value="@EffectiveStartTime">
                        <div>
                            @EffectiveStart @EffectiveStartTime
                        </div>
                    }

                </div>
                <div class="fr-item">
                    <label class="fr-label">結束時間</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">
                        @if (_BeconType != (int)SkmBeaconType.Deal)
                        {
                            <input type="text" id="EndDate" class="date start fr-input-defaul" placeholder="日期" value="@EffectiveEnd">
                            <input type="text" id="EffectiveEndTime" class="time start fr-input-defaul" placeholder="時間" value="@EffectiveEndTime">
                        }
                        else
                        {
                            <input type="hidden" id="EndDate" class="date start fr-input-defaul" placeholder="日期" value="@EffectiveEnd">
                            <input type="hidden" id="EffectiveEndTime" class="time start fr-input-defaul" placeholder="時間" value="@EffectiveEndTime">
                            <div>
                                @EffectiveEnd @EffectiveEndTime
                            </div>
                        }

                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">啓用時段</label>
                    <div class="fr-content" id="alternateUiWidgetsExample">
                        <input type="text" id="TimeStart" name="TimeStart" class="time start fr-input-defaul hasPtTimeSelect" placeholder="時間" value="@TimeStart">
                        <p class="f-small">&nbsp;至</p>
                        <input type="text" id="TimeEnd" name="TimeEnd" class="time start fr-input-defaul hasPtTimeSelect" placeholder="時間" value="@TimeEnd">
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">置頂</label>
                    <div class="fr-content">
                        <label>
                            <input id="IsTopY" name="IsTop" type="radio" @(IsTop ? "checked" : "") value="true">
                            <p class="">是</p>
                        </label>
                        <label>
                            <input id="IsTopN" name="IsTop" type="radio" @(IsTop ? "" : "checked") value="false">
                            <p class="">否</p>
                        </label>
                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">狀態</label>
                    <div class="fr-content">
                        <label>
                            @if (_BeconType == (int)SkmBeaconType.Deal)
                            {
                                <input id="Status1" name="Status" type="radio" value="@((int)SkmBeaconStatus.Normal)" @(Status == (int)SkmBeaconStatus.Normal ? "checked" : "")>
                            }
                            else
                            {
                                <input id="Status1" name="Status" type="radio" value="@((int)SkmBeaconStatus.Normal)" checked="checked" style="display:none">
                            }

                            <p class="">啟用</p>
                        </label>
                        @if (_BeconType == (int)SkmBeaconType.Deal)
                        {
                            <label>
                                <input id="Status2" name="Status" type="radio" value="@((int)SkmBeaconStatus.Deal)" @(Status == (int)SkmBeaconStatus.Deal ? "checked" : "")>
                                <p class="">收藏通知</p>
                            </label>
                        }
                        @*<label>
                                <input id="Status3" name="Status" type="radio" value="@((int)SkmBeaconStatus.Cancel)" @(Status == (int)SkmBeaconStatus.Cancel ? "checked" : "")>
                                <p class="">停用</p>
                            </label>*@
                    </div>
                </div>
        </form>

        <h2 class="pdg-hor-20">啓用Beacon</h2>
        <form class="fr-group beacon-map-wrap clearfix">
            <!--<div class="fr-item">
                <label class="fr-label">啓用Beacon</label>
            </div><br/>-->
            <div class="fr-item">
                <label class="fr-label">位置</label>
                <div class="fr-content">
                    <input type="hidden" id="targetShopList" value="@ViewBag.targetShopList" />
                    <input type="hidden" id="msgId" value="@ViewBag.msgId" />
                    <select id="seller" name="seller" onchange="storeChange();">
                        @foreach (var st in stores)
                        {
                            if (@ViewBag.SellerGuid == st.Key)
                            {
                                <option value="@st.Key" selected="selected">@st.Value</option>
                            }
                            else
                            {
                                <option value="@st.Key">@st.Value</option>
                            }
                        }
                    </select>
                    <select id="ddlShopCode" name="ShopCode" class="__web-inspector-hide-shortcut__"></select>
                    <select id="ddlFloor" name="Floor" class="__web-inspector-hide-shortcut__"></select>        
                </div>
            </div>
            <div class="fr-item fr-check">
                <label class="fr-label">Beacon</label>
                <div id="divBeacon" class="fr-content">
                </div>

                <div id="showBeacon"></div>
            </div>
            <!--品牌專區 for 法雅客
            <div class="fr-item fr-check">
                <label class="fr-label">品牌專區</label>
                <div class="fr-content">
                    <label>
                        <input type="checkbox" name="checkbox" value="value">
                        <span>01</span>
                    </label>
                    <label>
                        <input type="checkbox" name="checkbox" value="value">
                        <span>02</span>
                    </label>
                </div>
            </div>-->
            <div class="beacon-map ">
                @*<ul>
                        <li style="top:0px; left:0px;">01</li>
                        <li style="top:100px; left:100px;">02</li>
                        <li class="on" style="top:190px; left:200px;">03</li>
                        <li style="top:30px; left:320px;">04</li>
                        <li style="top:70px; left:500px;">05</li>
                        <li class="on" style="top:200px; left:620px;">06</li>
                    </ul>*@
                <span id="beaconBulb"></span>


                @*<li style="top:0px; left:450px;">11001</li>
                    <li style="top:30px; left:320px;">10821</li>
                    <li style="top:100px; left:320px;">10361</li>

                    <li style="top:30px; left:320px;">10971</li>
                    <li style="top:70px; left:500px;">10351</li>
                    <li class="on" style="top:200px; left:620px;">10341</li>
                    <li class="on" style="top:200px; left:620px;">10951</li>
                    <li class="on" style="top:200px; left:620px;">10931</li>
                    <li class="on" style="top:200px; left:620px;">10941</li>
                    <li class="on" style="top:200px; left:620px;">108</li>*@
                <div class="beacon-map-w" id="beacon-map-w" style="width: 800px">
                    <input type="hidden" id="firstChange" value="1" />
                    <span id="image-map"></span>
                    @*<img src="../Themes/skmApp/map/fayaque.jpg" width="783">

                        <img style="display:none;" src="../Themes/skmApp/map/A4B2.jpg" width="566">
                        <img style="display:none;" src="../Themes/skmApp/map/A41F.jpg" width="571">
                        <img style="display:none;" src="../Themes/skmApp/map/A42F.jpg" width="566">

                        <img style="display:none;" src="../Themes/skmApp/map/A8B1.jpg" width="812">
                        <img style="display:none;" src="../Themes/skmApp/map/A8B2.jpg" width="804">
                        <img style="display:none;" src="../Themes/skmApp/map/A81F.jpg" width="742">
                        <img style="display:none;" src="../Themes/skmApp/map/A82F.jpg" width="647">

                        <img style="display:none;" src="../Themes/skmApp/map/A91F.jpg" width="699">
                        <img style="display:none;" src="../Themes/skmApp/map/A92F.jpg" width="668">

                        <img style="display:none;" src="../Themes/skmApp/map/A11B2.jpg" width="787">
                        <img style="display:none;" src="../Themes/skmApp/map/A111F.jpg" width="734">
                        <img style="display:none;" src="../Themes/skmApp/map/A112F.jpg" width="677">*@
                    <br/>
                    @if (_BeconType == (int) SkmBeaconType.Project || _BeconType == (int) SkmBeaconType.Event_Count)
                    {
                        <div id="isRootDiv" style="display: none" class="fr-item">
                            <label class="fr-label">匯入人的分群</label>
                            <div class="fr-content ">
                                <!--<input type="text" class="fr-input-middle">-->
                                <input type="file" id="FileUpload"/>
                                @*<input type="button" class="btn btn-default btn-small btn-long" value="上傳" onclick="fileUpload()">*@
                                <br/>已匯入 @BeaconMemberCount 筆資料
                            </div>
                        </div>
                    }
                </div>
            </div>
        </form>

        <div class="fr-content alg-center mrg20-hor clearfix">
            <textarea id="selectedBeacons" style="display:none"></textarea>
            <input type="button" class="btn btn-primary btn-large" value="儲存" onclick="save()">
            <input type="button" class="btn btn-cancel btn-large" value="取消" onclick="cancel()">
        </div>
    </div>

</div>
