﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;

@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    Dictionary<string, string> sellers = ViewBag.SkmSellers as Dictionary<string, string>;
    Dictionary<string, string> BeaconType = ViewData["BeaconType"] as Dictionary<string, string>;
    string qSeller = (string)ViewData["qSeller"];
    List<SkmDealSort> deals = ViewBag.SkmDealSort as List<SkmDealSort>;
    string shopCode = ViewBag.shopCode;
    string Floor = ViewBag.Floor;
}

<script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        BindShopDDL($("#seller").val());

        $("#seller").change(function () {
            BindShopDDL($(this).val());
        });


        /*
        * 切換分館
        */
        $("#ddlShopCode").change(function () {
            BindFloorDDL($("#seller").val(), $(this).val());
        });
        /*
        * 切換樓層
        */
        $("#ddlFloor").change(function () {
            // BindBeacon($("#seller").val(), $("#ddlShopCode").val(), $(this).val());
            BindMap($("#seller").val());
        });

        BindFloorDDL("@qSeller", "@shopCode");

        $("#btnSearch").click(function () {
            BindMap($("#seller").val());
        });


    });

    function BindShopDDL(seller_guid) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("ShopGetBySellerGuid")",
            data: "{sellerGuid:'" + seller_guid + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#ddlShopCode option').remove();
                var len = 0;
                $.each(data.Shops, function (idex, obj) {
                    if (obj.value != "") {
                        if ("@shopCode" == obj.key) {
                            $("#ddlShopCode").append($("<option selected></option>").attr("value", obj.key).text(obj.value));
                        } else {
                            $("#ddlShopCode").append($("<option></option>").attr("value", obj.key).text(obj.value));
                        }
                        len += 1;
                    }
                });
                if (len == 0) {
                    $("#ddlShopCode").hide();
                } else {
                    $("#ddlShopCode").show();
                }
                BindFloorDDL($("#seller").val(), $("#ddlShopCode").val());
            }, complete: function () {

            }, error: function (xhr) {
                alter(xhr.responseText);
            }
        });
    }

    function Cancel() {
        $.blockUI({ message: "處理中..." });
        location.reload();
    }



    function BindFloorDDL(seller_guid, shop_code) {
        var firstFloor = "";
        $.ajax({
            type: "POST",
            url: "@Url.Action("ShoppFloorGet")",
            data: "{sellerGuid:'" + seller_guid + "',shopCode:'" + shop_code + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if ($.isEmptyObject(data)) {
                    alert("無Beacon裝置對應資料");
                }

                $('#ddlFloor option').remove();
                var len = 0;
                $.each(data, function (key, obj) {
                    if ("@Floor" == obj.Floor) {
                        $("#ddlFloor").append($("<option selected></option>").attr("value", obj.Floor).text(obj.Floor));
                        firstFloor = obj.Floor;
                    } else {
                        $("#ddlFloor").append($("<option></option>").attr("value", obj.Floor).text(obj.Floor));
                        if (firstFloor == "") {
                            firstFloor = obj.Floor;
                        }
                    }
                    len += 1;
                });
                //BindMap($("#seller").val());
            }, complete: function () {
            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    function BindBeacon(seller_guid, shop_code, floor) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("BindBeacon")",
            data: "{sellerGuid:'" + seller_guid + "',shopCode:'" + shop_code + "', floor:'" + floor + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#divBeacon").empty();
                var _html = "";
                var idx = 1;

                $.each(data, function (key, obj) {
                    _html += "<label>";
                    _html += "<input type='checkbox' id='BeaconId' name='BeaconId' value='" + "" + obj.Major + obj.Minor + "' onclick='bulbon(this," + obj.Major + "," + obj.Minor + ")'><span>" + obj.DeviceName + "</span>";

                    if (idx % 5 == 0) {
                        _html += "<br />";
                    }
                    _html += "</label>";
                    idx += 1;
                });

                $("#divBeacon").append(_html);
            }, complete: function () {

            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    function BindMap(seller_guid) {
        var image = "";
        var bulb = "";
        var editHtml = "";
        $.ajax({
            type: "POST",
            url: "@Url.Action("ShoppMapGet")",
            data: "{sellerGuid:'" + seller_guid + "', shopCode:'" + $("#ddlShopCode").val() + "',floor:'" + $("#ddlFloor").val() + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#beaconBulb").empty();
                if ($.isEmptyObject(data)) {
                    alert("無Beacon裝置對應資料");
                }
                bulb = "<ul>";
                editHtml = "<table style='width:100%'>";
                $.each(data, function (idx, obj) {
                    bulb += "<li class='draggable' id='" + obj.Major + obj.Minor + "' style='top:" + obj.Xtop + "px; left:" + obj.Xleft + "px;'>" + obj.Minor + "</li>";
                    editHtml += "<tr>";
                    editHtml += "<td style='width:20%'><span id='id' style='display:none'>" + obj.Id + "</span><span id='major' style='display:none'>" + obj.Major + "</span><span id='minor'>" + obj.Minor + "</span></td>";
                    editHtml += "<td style='width:30%'>名稱： <input type='text' id='device_name' style='width:70px' value='" + obj.DeviceName + "' ></td>";
                    editHtml += "<td style='width:25%'>X座標： <input type='text' id='left' style='width:70px' class='numeric' value='" + obj.Xleft + "' ></td>";
                    editHtml += "<td style='width:25%'>Y座標： <input type='text' id='top' style='width:70px'class='numeric'  value='" + obj.Xtop + "' ></td>";
                    editHtml += "</tr>";
                });
                editHtml += "</table>";
                bulb += "</ul>";

                var __beacon_map_w = $("#beacon-map-w");
                var locX = __beacon_map_w.position().left;
                var locY = __beacon_map_w.position().top;

                $(".numeric").live('blur', function (obj) {
                    var _id = $(obj.target).parent().parent().find("#minor").html();
                    var _left = $(obj.target).parent().parent().find("#left").val();
                    var _top = $(obj.target).parent().parent().find("#top").val();
                    $.each($("#beaconBulb ul li"), function (idx, o) {
                        if ($(o).html() == _id) {
                            $(o).css({ top: _top + 'px', left: _left + 'px', position: 'absolute' });
                        }
                    });
                });

                $('.draggable').live('mouseover', function () {
                    $(this).addClass("on");
                    $(this).draggable({
                        containment: "#beacon-map-w",
                        scroll: false,
                        drag: function (event, ui) {
                        }, stop: function (event, ui) {
                            $(this).removeClass("on");
                            var offset = $(this).offset();
                            var xPos = Math.floor(offset.left);
                            var yPos = Math.floor(offset.top);
                            var currentPos = ui.helper.position();
                            var _dragObj = $(this);
                            $.each($("#locXY table tr"), function (idx, obj) {
                                var tr = $(obj);
                                var _major = tr.find("#major");
                                var _minor = tr.find("#minor");
                                if (_minor.html() == _dragObj.html()) {
                                    var _top = tr.find("#top");
                                    var _left = tr.find("#left");
                                    _top.val(Math.floor(currentPos.top - locY) + 5);
                                    _left.val(Math.floor(currentPos.left - locX) + 5);
                                    console.log($("#imgFloor").width);
                                }
                            });
                        }
                    });
                });
                $('.draggable').live('mouseout', function () {
                    $(this).removeClass("on");
                });

                $("#locXY").html(editHtml);
                $("#beaconBulb").append(bulb);
                $("#btnSave").show();
            }, complete: function () {
            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });


        $.ajax({
            type: "POST",
            url: "@Url.Action("SkmMapImagesGet")",
            data: "{shopCode:" + $("#ddlShopCode").val() + ", floor:'" + $("#ddlFloor").val() + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (res) {
                if (res == "") {
                    $("#imgFloor").hide();
                } else {
                    image = '<img id="imgFloor" src="../Themes/skmApp/map/' + res + '" width="800">';

                    $("#image-map img:last-child").remove();

                    if (image != "") {
                        $("#image-map").append(image);
                    }
                }
            }, complete: function () {

            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });

       
        
    }

    function Save() {
        var data = [];
        var flag = true;
        $.each($("#locXY table tr"), function (idx, obj) {
            var tr = $(obj);
            var device_name = tr.find("#device_name");
            var id = tr.find("#id");
            var major = tr.find("#major");
            var minor = tr.find("#minor");
            var xtop = tr.find("#top");
            var xleft = tr.find("#left");

            if (!$.isNumeric(xtop.val()) || !$.isNumeric(xleft.val())) {
                alert("座標必須為數字");
                flag = false;
                return false;
            }

            var loc = {
                Id: id.html(),
                Major: major.html(),
                Minor: minor.html(),
                DeviceName: device_name.val(),
                ShopCode: $("#ddlShopCode").val(),
                Floor: $("#ddlFloor").val(),
                Xtop: xtop.val(),
                Xleft: xleft.val()
            };
            data.push(loc);
        });
        if (flag) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SkmBeaconLocSave")",
                data: "{sellerGuid:'" + $("#seller").val() + "',shopCode:'" + $("#ddlShopCode").val() + "','floor':'" + $("#ddlFloor").val() + "','data':'" + JSON.stringify(data) + "'}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data) {
                        alert("更新成功!");
                        BindMap($("#seller").val());
                    }
                }, complete: function () {
                }, error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    }
</script>
<section class="center mrg10-hor bg-white">
    <div class="pdg-40">
        <div class="zone">
            <div class="">
                <div class="dis-inline">
                    <select id="seller" name="seller">
                        @foreach (var st in sellers)
                        {
                            if (@qSeller == st.Key)
                            {
                                <option value="@st.Key" selected="selected">@st.Value</option>
                            }
                            else
                            {
                                <option value="@st.Key">@st.Value</option>
                            }
                        }
                    </select>

                    <select id="ddlShopCode" name="ShopCode" class="__web-inspector-hide-shortcut__"></select>
                    <select id="ddlFloor" name="Floor" class="__web-inspector-hide-shortcut__"></select>
                    <input type="button" id="btnSearch" class="btn btn-default btn-small btn-long" value="查詢">
                </div>
                <!-- // 表格// -->
                <form class="fr-group beacon-map-wrap clearfix">
                    <div id="divBeacon" class="fr-content">
                    </div>
                    <div class="beacon-map ">
                        <span id="beaconBulb">
                        </span>
                        <div class="beacon-map-w" id="beacon-map-w" style="width:800px">
                            <span id="image-map"></span>
                            <br />
                        </div>
                    </div>
                </form>
                <!-- // 表格 //end -->
                <!--座標-->
                <div id="locXY"></div>
                <!-- // 座標 //end -->
                <div class="fr-content alg-center mrg20-hor clearfix">
                    <input type="button" id="btnSave" onclick="Save()" value="儲存" class="btn btn-primary btn-large" style="display:none" />
                </div>
                <br />
            </div>
        </div>
    </div>
</section>