﻿@model LunchKingSite.Core.ModelCustom.SkmInstallmentInfoViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>信用卡線上分期活動</title>
    <link href="~/Tools/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<style>
    @@media (max-width: 414px) {
        .installment_textBreak {
            display: block;
        }
    }
</style>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 d-flex align-items-center py-1 mt-2">
                <img src="~/Images/skm/icon_installment.svg" width="40px" height="40px" alt="">
                <h4 class="ml-2 mt-1" style="color: #DE0716;"> 信用卡分期資訊</h4>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <hr class="m-2">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10" style="font-size: 14px;">
                <p class="m-0 pl-2">活動期間：@Model.StartDate~@Model.EndDate</p>
                <p class="m-0 pl-2">本次消費金額：<span style="color: #DE0716;">@Model.PayAmount</span>元</p>
                <p class="m-0 pl-2" style="color: #666666;">＊實際分期金額將依各發卡銀行規定略有調整</p>
                <p class="m-0 pl-2" style="color: #666666;">＊每期除不盡餘數於第一期收取</p>
            </div>
        </div>
        @{int count = 0; }
        @foreach (var info in Model.InstallmentInfos.Values)
        {
            <div class="row d-flex justify-content-center @if(count++ == 0){<text>mt-4</text>}else{<text>mt-2</text>}">
                <div class="col-md-10">
                    <p class="rounded-pill m-0 mb-2 p-1 text-center text-white" style="background-color: #DE0716;"> @info.InstallPeriod 期，每期 @info.InstallPay 元，分期門檻 @info.Amount</p>
                    <p class="pl-2">
                        @{info.BankDetails = info.BankDetails.OrderByDescending(x => ((DateTime)x.Modifytime).ToString("yyyy/MM/dd HH:mm")).ToList();}
                        @foreach (var bank in info.BankDetails)
                        {
                            var bankName = "<span style='display: inline-block'>" + bank.BankName + (bank.IsCoBranded ? "聯名卡" : "")
                                + (bank.PayFee > 0 ? "(<span style='color: #DE0716;'>手續費" + bank.PayFee + "元</span>)" : "")
                                + "</span>" ;
                            if (info.BankDetails.IndexOf(bank) == info.BankDetails.Count - 1)
                            {
                                @Html.Raw(bankName)
                            }
                            else
                            {
                                @Html.Raw(bankName + " / ");
                            }
                        }
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="pt-3 pb-5 mt-3" style="background-color: #EB6E70;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 d-flex align-items-center py-1">
                    <img src="~/Images/skm/icon_bonus.svg" width="40px" height="40px" alt="">
                    <h4 class="ml-2 mt-1 text-white"> 信用卡紅利折抵</h4>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <hr class="m-2" style="border-color: rgba(255,255,255,.4);">
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-10" style="font-size: 14px;">
                    <p class="m-0 pl-2 text-white">活動期間：2020/1/1/~2020/12/31</p>
                    <p class="mt-0 pl-2" style="color: #FEEBC4;">＊折抵特別限制以銀行官網公告為主</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 d-flex justify-content-center" style="font-size: 14px;">
                    <!--表格-->
                    <table class="text-white text-center m-0;" style="width:95%;border: 1px solid #fff;border-radius: 10px;border-spacing: 0;border-collapse: separate;overflow: hidden;">
                        <tbody>
                            <tr style="background-color: #DE0716;">
                                <th style="width:35%;border-right: 1px solid #fff;border-bottom: 1px solid #fff;" class="py-1">折抵比例</th>
                                <th style="width:24%;border-right: 1px solid #fff;border-bottom: 1px solid #fff;">折抵上限</th>
                                <th style="border-bottom: 1px solid #fff;">活動銀行</th>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #fff;border-bottom: 1px solid #fff;">1000點=60元</td>
                                <td style="border-right: 1px solid #fff;border-bottom: 1px solid #fff;">100%</td>
                                <td class="pl-1 py-1" style="text-align: left;font-size: 12px;border-bottom: 1px solid #fff;">
                                    <span style="display: inline-block;">台新國際商業銀行</span> /
                                    <span style="display: inline-block;">臺灣新光商業銀行</span> /
                                    <span style="display: inline-block;">玉山商業銀行</span> /
                                    <span style="display: inline-block;">中國信託商業銀行</span> /
                                    <span style="display: inline-block;">滙豐(台灣)商業銀行</span> /
                                    <span style="display: inline-block;">第一商業銀行</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #fff;border-bottom: 1px solid #fff;">1000點=30元</td>
                                <td style="border-right: 1px solid #fff;border-bottom: 1px solid #fff;">100%</td>
                                <td class="pl-1 py-1" style="text-align: left;font-size: 12px;border-bottom: 1px solid #fff;">
                                    <span style="display: inline-block;">台北富邦銀行</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #fff;border-bottom: 1px solid #fff;">1000點=50元</td>
                                <td style="border-right: 1px solid #fff;border-bottom: 1px solid #fff;">100%</td>
                                <td class="pl-1 py-1" style="text-align: left;font-size: 12px;border-bottom: 1px solid #fff;">
                                    <span style="display: inline-block;">花旗(台灣)商業銀行</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #fff;border-bottom: 1px solid #fff;">1000點=100元</td>
                                <td style="border-right: 1px solid #fff;border-bottom: 1px solid #fff;">100%</td>
                                <td class="pl-1 py-1" style="text-align: left;font-size: 12px;border-bottom: 1px solid #fff;">
                                    <span style="display: inline-block;">星展(台灣)商業銀行</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #fff;border-bottom: 1px solid #fff;">1000點=60元</td>
                                <td style="border-right: 1px solid #fff;border-bottom: 1px solid #fff;">50%</td>
                                <td class="pl-1 py-1" style="text-align: left;font-size: 12px;border-bottom: 1px solid #fff;">
                                    <span style="display: inline-block;">國泰世華商業銀行</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--表格 end-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
