﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="~/Themes/skmApp/base.css" />
    <link rel="stylesheet" href="~/Themes/skmApp/swiper.min.css" />
</head>
<body>
    <div id="container">
        @if (!string.IsNullOrEmpty(ViewBag.BannerUrl))
        {
            <div><img width="350" src="@ViewBag.BannerUrl" /></div>
        }
        @Html.Raw(ViewBag.PreviewContent)
    </div>
</body>
</html>
