﻿@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.BizLogic.Models.Skm
@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component
@using LunchKingSite.Web.ControlRoom.piinlife
@using LunchKingSite.WebLib.Controllers;

@model SkmPayDealInfoViewModel
@{
    Layout = "~/Views/Shared/SKMDealLayout.cshtml";
    Dictionary<string, string> stores = ViewBag.SKMStores as Dictionary<string, string>;
    List<Shoppes> shoppes = ViewBag.SKMShoppes as List<Shoppes>;
    Dictionary<int, string> category = ViewBag.SKMCategory as Dictionary<int, string>;
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")'></script>
<script type="text/javascript" src="../../Tools/js/jquery.blockUI.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var type = $('#mode').val();
        $('.active').hide();
        if (type === 'Shoppe') {
            $("#dealType").html("全櫃位優惠");
            $('#div_shoppe').show();
            $('#div_deliver').show();
            $('#div_settlement').show();
        }
        else if (type === 'BuyGetFree') {
            $("#dealType").html("買幾送幾");
            $('#div_buyGetFree').show();
            $('#div_deliver').show();
            $('#div_settlement').show();
        }
        else if (type === 'GiftCertificate' || type === 'CashCoupon') {
            if (type === 'GiftCertificate')
                $("#dealType").html("電子贈品禮券");
            if (type === 'CashCoupon')
                $("#dealType").html("電子抵用金");

            $('#exchangeStoreDiv').hide();
            $('#div_product').show();
            $(".giftData").show();
            $(".nonGift").hide();
        }
        else {
            $("#dealType").html("指定商品優惠");
            $('#div_product').show();
            $('#div_deliver').show();
            $('#div_settlement').show();
        }

        //skm3.7ver調整設定
        $('.hide-skm37ver').hide();
        $('.show-skm37ver').show();

        //判斷扣點or兌換
        $(burningOrCashChange).bind();

    });

    function burningOrCashChange() {
        if('@Model.IsBurningEvent' === 'True'){
            $('.exchangeNoDiv').show();
            $('.costCenterAllDiv').show();
            $('.activityStatusDiv').show();
        }else{
            $('.exchangeNoDiv').hide();
            $('.costCenterAllDiv').hide();
            $('.activityStatusDiv').hide();
        }
    };

    function backEdit() {
        var data = JSON.parse($("input[id=modelJson]").val());
        $.post("@Url.Action("SaveTempData")",
            $.param(data, false),
            function() {
                location.href = '/SKMDeal/SKMPayDealInfoForAlibaba'
        });
    }

    function onSend(obj) {
        $(obj).attr('onclick', '').unbind('click');
        $.urlParam = function(name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results === null) {
                return null;
            } else {
                return results[1] || 0;
            }
        };
        $.blockUI({ message: "<center><font color='blue'>處理中，請稍候...</font></center>", css: { width: '250px' } });
        var data = JSON.parse($("input[id=modelJson]").val());
       
        $.post("@Url.Action("SaveTempData")", $.param(data, false), function () {
            let BurningSave = true;
            if ("@Model.IsBurningEvent" === "True") {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("SaveDraftWithBurningEventForAlibaba")",
                    data: @Html.Raw(Json.Encode(Model)),
                    async: false,
                    success: function (data) {
                        if (!data.Result) {
                            $(obj).on('click', function () {
                                onSend(obj)
                            });
                            $.unblockUI();
                            alert("燒點建立失敗");
                            BurningSave= false

                        }

                    },
                    error: function () {
                        $(obj).on('click', function () {
                            onSend(obj)
                        });
                        $.unblockUI();
                        alert("燒點建立失敗");
                        BurningSave= false
                    }

                });

            }

            if (BurningSave) {

                 $.ajax({
                    type: 'POST',
                    url: "@Url.Action("SaveDraft")",
                    data: @Html.Raw(Json.Encode(Model)),
                    async: false,
                    success: function (data) {
                        if (!data.Result) {
                            $(obj).on('click', function () {
                                onSend(obj)
                            });
                             $.unblockUI();
                            alert(data.Message);

                        }
                        else {
                            $.post("/SKMDeal/AlibabaItemCreateComplete", {itemId:'@Html.Raw(Model.itemid)'})
                            console.log("存檔成功");
                             alert("存檔成功")
                           window.location.href = "http://admin-dev.skm.com.tw/item/manage";
                            $(obj).remove();
                             $.unblockUI();
                        }

                    },
                    error: function () {
                        $(obj).on('click', function () {
                            onSend(obj)
                        });
                        $.unblockUI();
                        alert("存檔失敗");
                    }

                });

            }
            
            
        });
      
       
    }

  
</script>

<form id="applyForm" class="fr-group clearfix">
    <input type="hidden" id="dealGuid" name="dealGuid" value="@Model.Guid" />
    <input type="hidden" id="mode" name="mode" value="@Model.ActiveType" />
    <input type="hidden" id="modelJson" value="@Json.Encode(Model)" />
    <section class="center mrg10-hor bg-white">
        <div class="pdg-15"><a class="mrg20-hor" href="@(Model.IsPrize ? Url.RouteUrl("SKMPrizeList", new { dealType = "PrizeDeals" } ) : config.SSLSiteUrl + "/SKMDeal/SKMList")"><i class="fa fa-arrow-left fa-fw"></i>回列表</a></div>
        <div class="pdg-40 pdg-hor-0">
            <div class="zone ">
                <h2>商品/活動資訊</h2>
                <div class="fr-group clearfix">
                    <div class="fr-item">
                        <label class="fr-label">檔次類型</label>
                        <div class="fr-content">
                            <p id="dealType"></p>
                        </div>
                    </div>
                    <div class="fr-item">
                        <label class="fr-label">專屬推薦(CRM)</label>
                        <div class="fr-content">
                            <p>
                                @if (Model.IsCrmDeal)
                                {
                                    <text>是</text>
                                }
                                else
                                {
                                    <text>否</text>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="fr-item">
                        <label class="fr-label">是否使用 skm pay</label>
                        <div class="fr-content">
                            <p>@((Model.IsSkmPay) ? "是" : "否")</p>
                        </div>
                    </div>
                    @if (Model.IsSkmPay)
                    {
                        <div class="fr-item" @if (!config.EnableInstallment) { <text> style="display:none;" </text> }>
                            <label class="fr-label">分期付款</label>
                            <div class="fr-content">
                                @if (Model.EnableInstall)
                                {
                                    <p>可分期</p>
                                }
                                else
                                {
                                    <p>不可分期</p>
                                }
                            </div>
                        </div>
                        <div class="fr-item">
                            <label class="fr-label">未稅金額</label>
                            <div class="fr-content">
                                <p>@Model.ExcludingTaxPrice</p>
                            </div>
                        </div>
                    }
                    <div class="fr-item">
                        <label class="fr-label">活動檔期代號</label>
                        <div class="fr-content">
                            <p>@(String.IsNullOrEmpty(Model.BurningEventId) ? "N/A" : Model.BurningEventId)</p>
                        </div>
                    </div>
                    <div class="fr-item">
                        <label class="fr-label">扣點點數</label>
                        <div class="fr-content">
                            <p>@Model.BurningPoint</p>
                        </div>
                    </div>
                    <div class="fr-item nonGift">
                        <label class="fr-label">商品條碼</label>
                        <div class="fr-content">
                            <p>@Model.ProductCode</p>
                        </div>
                    </div>
                    <div class="fr-item nonGift">
                        <label class="fr-label">商品貨號</label>
                        <div class="fr-content">
                            <p>@Model.ItemNo</p>
                        </div>
                    </div>
                    <div class="fr-item exchangeNoDiv" style="display:none">
                        <label class="fr-label">贈品編號</label>
                        <div class="fr-content">
                            <p>@Model.ExchangeNo</p>
                        </div>
                    </div>
                    <div class="fr-item">
                        <label class="fr-label">商品名稱</label>
                        <div class="fr-content">
                            <p>@Model.Title</p>
                        </div>
                    </div>
                    <div class="fr-item">
                        <label class="fr-label">商品原價</label>
                        <div class="fr-content">
                            <p> @Model.ItemOrigPrice</p>
                            <p class="f-small">元</p>
                        </div>
                    </div>
                    <div class="fr-item nonGift">
                        <label class="fr-label">兌換說明</label>
                        <div class="fr-content">

                            @if (Model.ActiveType != ActiveType.Experience)
                            {
                                var txt = HttpUtility.UrlDecode(Model.Remark);
                                if (!string.IsNullOrEmpty(txt) && txt.Contains("\n"))
                                {
                                    var tt = txt.Replace("\n", "").Replace("\t", "");
                                    @Html.Raw(tt)
                                }
                                else
                                {
                                    @Html.Raw(txt)
                                }
                            }

                        </div>
                    </div>
                    <div class="fr-item nonGift">
                        <label class="fr-label">商品介紹</label>
                        <div class="fr-content">

                            @if (Model.ActiveType != ActiveType.Experience)
                            {
                                var txt = HttpUtility.UrlDecode(Model.Description);
                                if (!string.IsNullOrEmpty(txt) && txt.Contains("\n"))
                                {
                                    var tt = txt.Replace("\n", "").Replace("\t", "");
                                    @Html.Raw(tt)
                                }
                                else
                                {
                                    @Html.Raw(txt)
                                }
                            }

                        </div>
                    </div>
                    <div class="fr-item nonGift">
                        <label class="fr-label">注意事項</label>
                        <div class="fr-content">
                            <p>
                                @if (Model.ActiveType != ActiveType.Experience)
                                {
                                    var txt = HttpUtility.UrlDecode(Model.Introduction);
                                    if (!string.IsNullOrEmpty(txt) && txt.Contains("\n"))
                                    {
                                        @Html.Raw(txt.Replace("\n", "<br/>"))
                                    }
                                    else
                                    {
                                        @txt
                                    }
                                }
                            </p>
                        </div>
                    </div>
                    <div class="fr-item nonGift">
                        <label class="fr-label">列表方圖</label>
                        <div class="fr-content">
                            <p>
                                @if (Model.ActiveType != ActiveType.Experience && string.IsNullOrEmpty(Model.TempAppDealPic))
                                {
                                    <img src="@ImageFacade.GetMediaPathsFromRawData(Model.AppDealPic, MediaType.PponDealPhoto).FirstOrDefault()" height="50%" width="50%" />
                                }
                                else if (!string.IsNullOrEmpty(Model.TempAppDealPic))
                                {
                                    <img src="@Model.TempAppDealPic" height="50%" width="50%" />
                                }
                            </p>
                        </div>
                    </div>
                    <div class="fr-item">
                        <label class="fr-label">分類設定</label>
                        <div class="fr-content">
                            <p>
                                <label>
                                    @Model.ShowCategory
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="fr-item hide-skm37ver">
                        <label class="fr-label">頁簽設定</label>
                        <div class="fr-content">
                            @foreach (SkmDealTypes c in Enum.GetValues(typeof(SkmDealTypes)))
                            {
                                <p>
                                    <label>
                                        @if (Model.Tags.Contains((int)c))
                                        {@LunchKingSite.Core.Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, c)}
                                    </label>
                                </p>
                            }
                        </div>
                    </div>
                </div>
                <div id="div_product" class="active" style="">
                    <div class="fr-group clearfix">
                        <div class="fr-item hide-skm37ver" style="display:none">
                            <label class="fr-label">商品原價</label>
                            <div class="fr-content">
                                <p>
                                    @if (Model.ActiveType == ActiveType.Product)
                                    {@Model.ItemOrigPrice}
                                </p>
                                <p class="f-small">元</p>
                            </div>
                        </div>
                        <div class="fr-item" @if (Model.IsBurningEvent && Model.Discount == 0) { <text> style="display:none" </text> }>
                            @if (Model.IsSkmPay)
                            {
                                <label class="fr-label">優惠價</label>
                            }
                            else
                            {
                                <label class="fr-label">兌換價</label>
                            }

                            <div class="fr-content">
                                <p>
                                    @if (Model.ActiveType == ActiveType.Product)
                                    {@Model.Discount}
                                </p>
                                <p class="f-small">元</p>
                            </div>
                        </div>
                        <div class="fr-item giftData" style="display:none">
                            <label class="fr-label">Wallet ID</label>
                            <div class="fr-content">
                                <p>
                                    @if (Model.ActiveType == ActiveType.CashCoupon || Model.ActiveType == ActiveType.GiftCertificate)
                                    {@Model.GiftWalletId}
                            </p>
                        </div>
                    </div>
                    <div class="fr-item giftData" style="display:none">
                        <label class="fr-label">獲得金額</label>
                        <div class="fr-content">
                            <p>
                                @if (Model.ActiveType == ActiveType.CashCoupon || Model.ActiveType == ActiveType.GiftCertificate)
                                {@Model.GiftPoint}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="div_shoppe" class="active" style="display:none;">
            <div class="fr-group clearfix">
                <div class="fr-item">
                    <label class="fr-label">優惠方式</label>
                    <div class="fr-content">
                        @if (Model.ActiveType == ActiveType.Shoppe && Model.DiscountType == (int)DiscountType.DiscountPrice)
                        {
                            <text><p>加價購</p>&nbsp; &nbsp; &nbsp;<p>@Model.Discount</p>&nbsp;<p class="f-small">元</p></text>
                        }
                        @if (Model.ActiveType == ActiveType.Shoppe && Model.DiscountType == (int)DiscountType.DiscountCash)
                        {
                            <text><p>折抵現金</p>&nbsp; &nbsp; &nbsp;<p>@Model.Discount</p>&nbsp;<p class="f-small">元</p></text>
                        }
                        @if (Model.ActiveType == ActiveType.Shoppe && Model.DiscountType == (int)DiscountType.DiscountPercent)
                        {
                            <text><p>打折優惠</p>&nbsp; &nbsp; &nbsp;<p>@Model.Discount</p>&nbsp;<p class="f-small">折</p></text>
                        }
                        @if (Model.ActiveType == ActiveType.Shoppe && Model.DiscountType == (int)DiscountType.DiscountFree)
                        {
                            <text><p>消費送</p></text>
                        }
                        @if (Model.ActiveType == ActiveType.Shoppe && Model.DiscountType == (int)DiscountType.DiscountOther)
                        {
                            <text><p>其他</p></text>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="div_buyGetFree" class="active" style="">
            <div class="fr-group clearfix">
                <div class="fr-item">
                    <label class="fr-label">優惠設定</label>
                    <div class="fr-content">

                        @if (Model.ActiveType == ActiveType.BuyGetFree)
                        {
                            <p>買@(Model.Buy)送@(Model.Free)</p>
                        }

                    </div>
                </div>
                <div class="fr-item">
                    <label class="fr-label">銷售商品</label>
                    <div class="fr-content">
                        @if (Model.ActiveType == ActiveType.BuyGetFree)
                        {
                            if (Model.ExternalDealRelationItemList == null)
                            {
                                foreach (var item in Newtonsoft.Json.JsonConvert.DeserializeObject<List<RelationItem>>(Model.RelationItemJsonList).Where(x => x.IsFree == false))
                                {
                                    <p>商品條碼@(item.ProductCode)</p>
                                    <p>商品貨號@(item.ItemNo)</p>
                                    <p>產品名稱@(item.ItemName)</p>
                                    <br />
                                }
                            }
                            else
                            {
                                foreach (var item in Model.ExternalDealRelationItemList.Where(x => x.IsFree == false))
                                {
                                    <p>商品條碼@(item.ProductCode)</p>
                                    <p>商品貨號@(item.ItemNo)</p>
                                    <p>產品名稱@(item.ItemName)</p>
                                    <br />
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="fr-item">
                <label class="fr-label">贈品</label>
                <div class="fr-content">
                    @if (Model.ActiveType == ActiveType.BuyGetFree)
                    {
                        if (Model.ExternalDealRelationItemList == null)
                        {
                            foreach (var item in Newtonsoft.Json.JsonConvert.DeserializeObject<List<RelationItem>>(Model.RelationItemJsonList).Where(x => x.IsFree))
                            {
                                <p>商品條碼@(item.ProductCode)</p>
                                <p>商品貨號@(item.ItemNo)</p>
                                <p>產品名稱@(item.ItemName)</p>
                                <br />
                            }
                        }
                        else
                        {
                            foreach (var item in Model.ExternalDealRelationItemList.Where(x => x.IsFree))
                            {
                                <p>商品條碼@(item.ProductCode)</p>
                                <p>商品貨號@(item.ItemNo)</p>
                                <p>產品名稱@(item.ItemName)</p>
                                <br />
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <h2>上檔設定</h2>
    <div class="fr-group clearfix">
        <div class="fr-item">
            <label class="fr-label">策展代號</label>
            <div class="fr-content">
                @if (!string.IsNullOrEmpty(Model.ExhibitionData))
                {
                    foreach (var ed in ProviderFactory.Instance().GetSerializer().Deserialize<List<DealExhibitionCode>>(Model.ExhibitionData))
                    {
                        <p>@string.Format("{0} - {1}", ed.ExhibitionCodeId, ed.ExhibitionName)</p><br />
                    }
                }&nbsp;
            </div>
        </div>
        <div class="fr-item">
            <label class="fr-label">檔次上架時間</label>
            <div class="fr-content">
                <p>@Model.BusinessHourOrderDateS</p>&nbsp;<p>@Model.BusinessHourOrderTimeS</p>
                <p class="f-small">至</p>
                <p>@Model.BusinessHourOrderDateE</p>&nbsp;<p>@Model.BusinessHourOrderTimeE</p>
            </div>
        </div>
        <div class="fr-item">
            <label class="fr-label">憑證有效時間</label>
            <div class="fr-content">
                <p>@Model.BusinessHourDeliverDateS</p>&nbsp;<p>@Model.BusinessHourDeliverTimeS</p>
                <p class="f-small">至</p>
                <p>@Model.BusinessHourDeliverDateE</p>&nbsp;<p>@Model.BusinessHourDeliverTimeE</p>
            </div>
        </div>
        <div class="fr-item">
            @if (config.EnableSkmDealRepeatPurchase)
            {
                <label class="fr-label">兌換方式</label>
                <div class="fr-content">
                    <p>
                        @Helper.GetDescription(Model.RepeatPurchaseType)
                        @if (Model.RepeatPurchaseType == SkmDealRepeatPurchaseType.DealTime ||
                             Model.RepeatPurchaseType == SkmDealRepeatPurchaseType.Daily)
                        {
                            @("  " + Model.RepeatPurchaseCount + "次")
                        }
                    </p>
                </div>
            }
            else
            {
                <label class="fr-label">活動期間可重覆兌換</label>
                <div class="fr-content">
                    <p>
                        @if (Model.IsRepeatPurchase)
                        {
                            <text>是</text>
                        }
                        else
                        {
                            <text>否</text>
                        }
                    </p>
                </div>
            }
        </div>
        <div class="fr-item">
            <label class="fr-label">設定清算</label>
            <div class="fr-content">
                <p>
                    @if (string.IsNullOrEmpty(Model.SettlementTime))
                    {<text>否</text>}
                    @if (!string.IsNullOrEmpty(Model.SettlementTime))
                    {@Model.SettlementTime}
                </p>
            </div>
        </div>
        <div class="fr-item">
            <label class="fr-label">適用分店</label>
            <div class="fr-content">
                @foreach (string st in Model.Stores.OrderBy(x => x))
                {
                    if (stores.Any(x => x.Key == st))
                    {
                        <p>@stores.FirstOrDefault(x => x.Key == st).Value</p><br />
                    }
                }
            </div>
        </div>
        <div class="fr-item" id="exchangeStoreDiv">
            <label class="fr-label">兌換地點</label>
            <div class="fr-content">
                @foreach (string shoppe in Model.Shoppes)
                {
                    if (shoppes.Any(x => x.StoreGuid == shoppe))
                    {
                        <p>@shoppes.FirstOrDefault(x => x.StoreGuid == shoppe).Name</p><br />
                    }
                    else
                    {
                        <br />
                    }
                }
            </div>
        </div>
        <div class="fr-item">
            <label class="fr-label">館別憑證數</label>
            <div class="fr-content">
                @if (Model.ComboDeal.Any())
                {
                    foreach (var c in Model.ComboDeal)
                    {
                        <p>@string.Format("{0}({1})", c.ShopName, c.Qty)</p><br />
                    }
                }
                else
                {
                    <p>&nbsp;</p>
                }
            </div>
        </div>
        <div class="fr-item">
            <label class="fr-label">設定Beacon訊息</label>
            <div class="fr-content">
                <p>
                    @if (Model.BeaconType == (int)BeaconType.None)
                    {
                        <text>不需設定</text>
                    }
                    @if (Model.BeaconType != (int)BeaconType.None)
                    {
                        var txt = Model.BeaconMessage;
                        if (txt.Contains("\n"))
                        {
                            foreach (var p in txt.Split("\n"))
                            {
                                @p
                                <br />
                            }
                        }
                        else
                        {
                            @txt
                        }
                    }
                </p>
            </div>
        </div>
        <div class="fr-item costCenterAllDiv" style="display">
            <label class="fr-label">成本中心</label>
            <table class="fr-content" id="costCenterTable">
                <tr>
                    <th width="150px"> 館別 </th>
                    <th width="150px"> 櫃位類別 </th>
                    <th width="200px"> 訂單編號 </th>
                </tr>
                @if (Model.IsCostCenterHq)
                {
                    <tr class="costCenterHq" value="001">
                        <td>
                            <label>總公司</label>
                            <input type="hidden" value="0" id="mainStoreCode" />
                        </td>
                        <td>
                            <select style="width:150px;margin-top: 3px;margin-bottom: 0px;">
                                <option value="0014010200">0001-販促部</option>
                            </select>
                        </td>
                        <td><input type='text' maxLength='12' onblur="padLeft(this)" placeholder='請輸入內部訂單編號,最多12碼' style='width: 190px'></td>
                    </tr>
                }
                else
                {
                    foreach (var costcenter in Model.CostCenter)
                    {
                        <tr class='costCenterli' value="@costcenter.StoreCode">
                            <td style="text-align:left">@costcenter.StoreName</td>
                            <td style="text-align:center">
                                <label>
                                    @if (costcenter.SellCostCenterCode == costcenter.SelectCenterCode)
                                    {<text> @costcenter.StoreCode-行銷 </text> }
                                    else
                                    {<text> @costcenter.StoreCode-超市事業部 </text>}
                            </label>
                        </td>
                        <td style="text-align:center"><label>@costcenter.OrderNo</label></td>
                    </tr>
                }
            }
            </table>
        </div>
        <div class="fr-item activityStatusDiv">
            <label class="fr-label">活動結案狀態</label>
            <div class="fr-content">
                <p>
                    @if (Model.ActivityStatus)
                    {<text>是</text>}
                    else
                    {<text>否</text>}
            </p>
        </div>
    </div>
    <div class="fr-item">
        <div class="fr-content">
            @{
                if (Model.Status <= (int)SKMDealStatus.Draft && Model.IsAllowEdit)
                {
                    <input type="button" onclick="onSend(this);" class="btn btn-primary btn-large" value="確認送出">
                }
              <input type="button" onclick="backEdit();" class="btn btn-cancel btn-large" value="返回修改">
            }
        </div>
    </div>
</div>
</div>
</section>
</form>


