﻿@using LunchKingSite.BizLogic.Models.Skm;
@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.Web.ControlRoom

@{
    Layout = null;
    SkmApiDeal deal = Model ?? new SkmApiDeal();
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}

<!DOCTYPE html>

<html prefix='og: http://ogp.me/ns#'>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@deal.DealName" />
    <meta property="og:url" content="@config.SSLSiteUrl/SKMDeal/skmsharedeal?bid=@deal.Bid" />
    <meta property="og:site_name" content="新光三越百貨" />
    <meta property="og:description" content="新光三越百精選優惠" />
    <meta property="og:image" content="@deal.AppDealPic" />
    <meta property="image_src" content="@deal.AppDealPic" />
    <meta property="al:ios:url" content="skmapp://www.skm.com/productpage?pbid=@deal.Bid" />
    <meta property="al:ios:app_store_id" content="747411888" />
    <meta property="al:ios:app_name" content="新光三越" />
    <meta property="al:android:url" content="skmapp://www.skm.com/productpage?pbid=@deal.Bid" />
    <meta property="al:android:package" content="com.skm.siapp" />
    <meta property="al:android:app_name" content="新光三越" />
    <meta name="description" content="新光三越連鎖服務網全台共15店：台北信義新天地、台北站前店、台北南西店、台北天母店、桃園大有店、桃園站前店、台中中港店、嘉義垂楊店、台南中山店、台南新天地、高雄三多店、高雄左營店。">
    <title>@deal.DealName</title>
    <link href="~/Tools/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/PCweb/plugin/font-awesome/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="~/Themes/skmApp/skmPreview/skmshare.css" rel="stylesheet" />
    <script src="~/Tools/game/js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="~/Tools/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script>
        $().ready(function () {
            showPrice();
        });

        function btnGoApp(obj) {
            //href(on btn attributes)
            var deepLink = obj.attributes[2].nodeValue;
            var t = Date.now();
            if (navigator.userAgent != null && navigator.userAgent.toLowerCase().match("iphone|ipod")) {
                window.location = deepLink;
                window.setTimeout(function () {
                    //not success(no app)
                    if (Date.now() - t < 1200) {
                        location.href = "https://itunes.apple.com/tw/app/xin-guang-san-yue/id747411888?l=zh&mt=8";
                    }
                }, 1000);

            } else if (navigator.userAgent.toLowerCase().match("android")) {
                window.location = deepLink;
                window.setTimeout(function () {
                    //not success(no app)
                    if (Date.now() - t < 1200) {
                        location.href = "https://play.google.com/store/apps/details?id=com.skm.siapp&hl=zh_TW";
                    }
                }, 1000);
            }
        }

        function showPrice() {
            //「原價」與「特價」都有輸入價格且「原價」>「特價」→APP呈現：「特價」「原價(槓掉)」
            //「原價」與「特價」都有輸入價格但「原價」=「特價」→APP呈現：「推薦價(=原價)」
            // 只有輸入「原價」，而「特價」空白或等於0→APP呈現：「推薦價(=原價)」
            if (@deal.IsBurningDeal.ToString().ToLower()) {
                if (@deal.OriPrice > 0) {
                    $("#oriPrice").text('原價 $' + @deal.OriPrice + '元');
                }
                else {
                    $("#oriPrice").hide();
                }
                $("#discount").html("<strong><font size='3'>" + @deal.BurningPoint + "</font></strong> 點");
                switch (@deal.DiscountType) {
                case 1:
                    if (@deal.Discount > 0) {
                        $("#discount").html($("#discount").html() + " 加 <strong><font size='3'>  " + @deal.Discount + "</font></strong>元");
                    }
                    break;
                case 2:
                    if (@deal.Discount > 0) {
                        $("#discount").html($("#discount").html() + "享折抵<strong><font size='3'>  " + @deal.Discount + "</font></strong>元");
                    }
                    break;
                case 3:
                    if (@deal.Discount > 0) {
                        $("#discount").html($("#discount").html() + "享<strong><font size='3'>  " + @deal.Discount + "</font></strong>折");
                    }
                    break;
                case 4:
                    $("#discount").html($("#discount").html() + "享消費送");
                    break;
                case 5:
                    break;
                case 6:
                    $("#discount").html($("#discount").html() + "享買" + @deal.Buy + "送" + @deal.Free);
                    break;
                }
            } else {
                switch (@deal.DiscountType) {
                case 2:
                    $("#discount").text('折抵' + @deal.Discount + '元');
                    if (@deal.OriPrice > 0) {
                        $("#oriPrice").text('原價 $' + @deal.OriPrice + '元');
                    }
                    else {
                        $("#oriPrice").hide();
                    }
                    break;
                case 3:
                    var str = @deal.Discount.ToString();
                    var discount = str.replace('0', '');
                    $("#discount").text(discount + '折');
                    if (@deal.OriPrice > 0) {
                        $("#oriPrice").text('原價 $' + @deal.OriPrice + '元');
                    }
                    else {
                        $("#oriPrice").hide();
                    }
                    break;
                case 4:
                    if (@deal.OriPrice > 0) {
                        $("#oriPrice").text('原價 $' + @deal.OriPrice + '元');
                    }
                    else {
                        $("#oriPrice").hide();
                    }
                    break;
                case 5:
                    if (@deal.OriPrice > 0) {
                        $("#oriPrice").text('原價 $' + @deal.OriPrice + '元');
                    }
                    else {
                        $("#oriPrice").hide();
                    }
                    break;
                case 6:
                    if (@deal.OriPrice > 0) {
                        $("#oriPrice").text('原價 $' + @deal.OriPrice + '元');
                    }
                    else {
                        $("#oriPrice").hide();
                    }
                    break;
                default:
                    if (@deal.OriPrice > 0) {
                        $("#oriPrice").text('原價 $' + @deal.OriPrice + '元');
                        if (@deal.OriPrice > @deal.Discount) {
                            $("#discount").text('推薦價 $' + @deal.Discount + '元');
                        }
                        if (@deal.OriPrice == @deal.Discount) {
                            $("#discount").text('推薦價 $' + @deal.OriPrice + '元');
                        }
                        if (@deal.Discount == 0) {
                            $("#discount").text('推薦價 $' + @deal.OriPrice + '元');
                        }
                        if (@deal.Discount > 0 && @deal.BurningPoint > 0) {
                            $("#discount").text(@deal.BurningPoint + '點 加 ' + @deal.Discount + '元');
                        }
                    }
                    else if (@deal.OriPrice == 0) {
                        if (@deal.Discount > 0) {
                            if (@deal.IsSkmPay.ToString().ToLower())
                                $("#discount").text('優惠價 $' + @deal.Discount + '元');
                            else
                                $("#discount").text('兌換價 $' + @deal.Discount + '元');
                            $("#oriPrice").hide();
                        }
                    }
                    break;
                }
            }

        }


    </script>
    <style>
    </style>
</head>
<body>
    <div class="container-fluid" id="app-content">
        @if (deal.Bid == Guid.Empty)
        {
            <div class="row">
                <div class="col-0 col-md-3">
                </div>
                <div class="col-12 col-md-6 text-center" id="nodata">
                    <h5>查無商品資料</h5>
                </div>
                <div class="col-0 col-md-3">
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-0 col-md-3">
                </div>
                <div id="titlediv" class="col-12 col-md-6 text-center" style="padding:unset">
                    <img src="@deal.AppDealPic" class="dealpic" />
                    <br />
                    <label style="margin: 0;">@deal.CouponEventTitle</label><br />
                    <div class="row" style="margin:unset">
                        <div class="text-left note col-8" style="padding-left:10px">
                            <label v-html="oriPrice" id="oriPrice" style="padding-left:0px; color:gray"></label><br />
                            <label v-html="discount" id="discount" style="padding-left:0px;"></label>
                            @if (deal.IsInstallment)
                            {
                                <a href="@deal.InstallmentInfoUrl"><label style="border: 1px solid #979797;color: #797979;padding: 2px 8px 2px 8px;border-radius: 12px;cursor: pointer;margin-bottom: 15px;">分期/紅利折抵說明 <i class="fas fa-chevron-right"></i></label></a>
                            }
                        </div>
                        <div class="col-4 text-right" style="padding-right:6px;padding-top:6px">
                            @if (deal.IsSkmPay)
                            {
                                <img src="~/Images/skm/skmpay_logo.png" style="width:34px;height:34px" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-0 col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="col-0 col-md-3">
                </div>
                <div class="col-12 col-md-6 multi_tabs tabs4" style="padding:unset">
                    <ul class="nav nav-pills" id="tabs">
                        <li><a id="link" class="active show" data-toggle="pill" href="#tabs-1">兌換說明</a></li>
                        <li><a id="link" data-toggle="pill" href="#tabs-2">商品介紹</a></li>
                        <li><a id="link" data-toggle="pill" href="#tabs-3">兌換地點</a></li>
                        <li><a id="link" data-toggle="pill" href="#tabs-4">注意事項</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tabs-1" class="tab-pane fade in active show">
                            <label id="remarks" style="width:100%">@Html.Raw(deal.Remark)</label>
                        </div>
                        <div id="tabs-2" class="tab-pane fade">
                            <label style="width:100%">@Html.Raw(deal.Description)</label>
                        </div>
                        <div id="tabs-3" class="tab-pane fade">
                            @foreach (var item in deal.Availabilities)
                            {
                                <label style="width: 100%">@item.StoreName</label>
                            }
                        </div>
                        <div id="tabs-4" class="tab-pane fade">
                            @if (deal.Introduction != null)
                            {
                                foreach (var item in deal.Introduction.Split("\r\n"))
                                {
                                    <label style="width: 100%">@item</label>
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="col-0 col-md-3 ">
                </div>
            </div>
            if(false)
            {
                <div class="row" style="padding-top:44px">
                    <div class="col-12 col-md-0 botbar">
                        @if (deal.IsSkmPay)
                        {
                            <div class="buybtn" onclick="btnGoApp(this);" href="skmapp://www.skm.com/productpage?pbid=@deal.Bid">我要選購</div>
                        }
                        else
                        {
                            <div class="buybtn" onclick="btnGoApp(this);" href="skmapp://www.skm.com/productpage?pbid=@deal.Bid">我要兌換</div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</body>
</html>
