﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        
        <input type="button" id="convert" class="btn btn-default btn-s btn-table" value="全部轉檔" onclick="window.location.href='@Url.Action("ProposalMultiDealsConvert")';" />
        <br />
        <br />
        <br />
        <input type="button" id="delete" class="btn btn-default btn-s btn-table" value="全部清除" onclick="window.location.href='@Url.Action("ProposalMultiDealsDelete")';" />
        副作用包括頭暈, 頭痛, 腹瀉, 想吐
        <br />
        <br />
        <br />
        <form id="formDailyCouponSetup" action="@Url.Action("ProposalMultiDealsSingleConvert")" method="POST">
            <input type="submit" id="singleconvert" class="btn btn-default btn-s btn-table" value="單一提案單轉檔" />
            <input id="Text1" type="text" name="pid" />請輸入提案單單號

        </form>


        <br />
        <br />
        <br />
        @ViewBag.result

</div>
</body>
</html>
