﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        8/1全轉
        <br />
        <input type="button" id="convert" class="btn btn-default btn-s btn-table" value="憑證全部轉檔" onclick="window.location.href='@Url.Action("PponRemittancetypeConvert")';" />副作用包括頭暈, 頭痛, 腹瀉, 想吐
        <br />
        <br />
        <input type="button" id="convert" class="btn btn-default btn-s btn-table" value="宅配全部轉檔" onclick="window.location.href='@Url.Action("HouseRemittancetypeConvert")';" />副作用包括頭暈, 頭痛, 腹瀉, 想吐
        <br />
        <br />
        <br />
        <br />
        <br />
        8/2補轉尚未設定檔期<br />
        <input type="button" id="convert" class="btn btn-default btn-s btn-table" value="憑證全部轉檔" onclick="window.location.href='@Url.Action("PponNewRemittancetypeConvert")';" />(8/1才上的或尚未壓檔期)副作用包括頭暈, 頭痛, 腹瀉, 想吐
        <br />
        <br />
        <input type="button" id="convert" class="btn btn-default btn-s btn-table" value="宅配全部轉檔" onclick="window.location.href='@Url.Action("HouseNewRemittancetypeConvert")';" />(8/1才上的或尚未壓檔期)副作用包括頭暈, 頭痛, 腹瀉, 想吐
        <br />
        <br />
        <input type="button" id="convert" class="btn btn-default btn-s btn-table" value="宅配提案單全部轉檔" onclick="window.location.href='@Url.Action("HouseProposalRemittancetypeConvert")';" />(尚未業務審核)副作用包括頭暈, 頭痛, 腹瀉, 想吐
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <form id="form" action="@Url.Action("SingleRemittancetypeConvert")" method="POST">
            <input type="submit" id="singleconvert" class="btn btn-default btn-s btn-table" value="單一檔次轉檔" />
            <input id="Text1" type="text" name="bid" style="width:250px" />請輸入bid

        </form>
        <br />
        <br />
        <br />
        (測試用)
        <br />
        <form id="form2" action="@Url.Action("VbsRemittancetypeConvert")" method="POST">
            <input type="submit" id="vbsconvert" class="btn btn-default btn-s btn-table" value="轉商家(包含檔次)" />
            <input id="Text1" type="text" name="accountid" style="width:250px" />請輸入商家帳號
            <input id="ppon" type="checkbox" name="ppon" value="true" />憑證
            <input id="house" type="checkbox" name="house" value="true" />宅配

        </form>
        <br />
        <br />
        <br />
        <br />
        <br />

        <form id="form3" action="@Url.Action("DealRemittancetypeConvert")" method="POST">
            <input type="submit" id="dealconvert" class="btn btn-default btn-s btn-table" value="轉出帳方式" />
            <br />
            <input id="Text1" type="text" name="bid" style="width:250px" />單檔或母檔
            <br />
            <input id="Text1" type="text" name="pid" style="width:250px" />提案單單號(擇一)
            <br />
            <input id="Text1" type="text" name="remittancetype" style="width:250px" />出帳方式

        </form>

        <br />
        <br />
        <br />
        <br />
        <form id="form3" action="@Url.Action("SingleHouseRemittancetypeConvert")" method="POST">
            <input type="submit" id="dealconvert" class="btn btn-default btn-s btn-table" value="轉單一宅配商家出帳" />
            <input id="Text1" type="text" name="sellerId" style="width:250px" />商家ID(ex:'A0-00-001','A0-00-002')

        </form>
        <br />
        <br />
        <br />
        <form id="form3" action="@Url.Action("SinglePponRemittancetypeConvert")" method="POST">
            <input type="submit" id="dealconvert" class="btn btn-default btn-s btn-table" value="轉單一憑證商家出帳" />
            <input id="Text1" type="text" name="sellerId" style="width:250px" />商家ID(ex:'A0-00-001','A0-00-002')

        </form>
        <br />
        <br />
        <form id="form3" action="@Url.Action("SellerAgree")" method="POST">
            <input type="submit" id="dealconvert" class="btn btn-default btn-s btn-table" value="憑證商家壓同意" />
            <input id="Text1" type="text" name="sellerId" style="width:250px" />商家ID(ex:'A0-00-001','A0-00-002')

        </form>
        <br />
        <br />
        <form id="form3" action="@Url.Action("SellerAgreeHouse")" method="POST">
            <input type="submit" id="dealconvert" class="btn btn-default btn-s btn-table" value="宅配商家壓同意" />
            <input id="Text1" type="text" name="sellerId" style="width:250px" />商家ID(ex:'A0-00-001','A0-00-002')

        </form>
        <br />
        <br />
        ------------------------------------------------------------------
        <br />
        ------------------------------------------------------------------
        <br />
        <br />
        <br />
        <br />
        <form id="form4" action="@Url.Action("ISPInstore")" method="POST">
            <input type="submit" id="ISPInstoreConvert" class="btn btn-default btn-s btn-table" value="超取店家聯絡人資料全部轉移" />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("ISPInstoreSingle")" method="POST">
            <input type="submit" id="ISPInstoreConvert" class="btn btn-default btn-s btn-table" value="超取店家聯絡人資料單一轉移" /><br />
            <textarea id="TextArea1" name="sellerId" rows="5" cols="20"></textarea>商家ID(ex:A0-00-001,A0-00-002)
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("ISPSevenApply")" method="POST">
            <input type="submit" id="ISPSevenApply" class="btn btn-default btn-s btn-table" value="Seven全部申請(週期正確)" /><br />
        </form>
        <br />
        <br />
        <br />

        <form id="form4" action="@Url.Action("ISPSevenApplySingle")" method="POST">
            <input type="submit" id="ISPSevenApply" class="btn btn-default btn-s btn-table" value="Seven申請" /><br />
            <textarea id="TextArea1" name="sellerId" rows="5" cols="20"></textarea>商家ID(ex:A0-00-001,A0-00-002)<br />
            <input id="Text1" type="text" name="returnCycle" style="width:250px" />0日退,1週退-週一,2週退-週二,3週退-週三,4週退-週四,5週退-週五<br />
            <input id="Text1" type="text" name="returnType" style="width:250px" />1自行取貨,2全家日翊物流,3統一速達(宅急便),4宅配通,5新竹貨運,6大榮貨運,9其他貨運<br />
            <input id="Text1" type="text" name="returnOther" style="width:250px" />退貨方式為9其他貨運需填寫<br />
        </form>
        <br />
        <br />
        <br />
        <form id="form4" action="@Url.Action("InventoryImportTemp")" method="POST">
            <input id="Text1" type="text" name="dir" style="width:600px" />輸入要查詢的資料夾 ex:\cache\ShipBatchImport\RITZPQ0000\InventoryImportTemp<br />
            <input type="submit" id="InventoryImportTemp" class="btn btn-default btn-s btn-table" value="查詢" /><br />
        </form>
        <br />
        <br />
        <br />
        <form id="form4" action="@Url.Action("SearchDir")" method="POST">
            <input id="Text1" type="text" name="dir" style="width:600px" />查詢某資料夾<br />
            <input type="submit" id="SearchDir" class="btn btn-default btn-s btn-table" value="查詢" /><br />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("Overdue")" method="POST">
            <textarea id="TextArea1" name="orderList" rows="5" cols="20"></textarea>輸入要補款的訂單(ex:A0-04-722-171101-001,A0-04-722-171101-006)，不須'<br />
            <input id="Text1" type="text" name="amount" style="width:600px" />金額，正或負<br />
            <input id="Text1" type="text" name="reason" style="width:600px" value="逾期出貨：補款加回(補延遲出貨罰款)" />理由<br />
            <input type="submit" id="overdue" class="btn btn-default btn-s btn-table" value="補款" /><br />
        </form>
        <br />
        <br />
        <br />
        <br />
        <form id="form4" action="@Url.Action("ContactsConvert")" method="POST">
            <textarea name="sellerList" cols="40" rows="5"></textarea>輸入要轉檔的sid(ex:guid,guid)，不須'<br />
            <input type="submit" id="contactsConvert" class="btn btn-default btn-s btn-table" value="更新商家聯絡人" /><br />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("OTPDelete")" method="POST">
            <input id="Text1" type="text" name="userid" style="width:600px" />輸入要清除OTP的userid<br />
            <input type="submit" id="otpdelete" class="btn btn-default btn-s btn-table" value="清除otp紀錄" /><br />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("OTPWhiteListAdd")" method="POST">
            <input id="Text1" type="text" name="userid" style="width:600px" />輸入要加入OTP白名單<br />
            <input type="submit" id="otpWhiteListAdd" class="btn btn-default btn-s btn-table" value="加入otp白名單" /><br />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("OTPWhiteListDelete")" method="POST">
            <input id="Text1" type="text" name="userid" style="width:600px" />輸入要清除OTP白名單<br />
            <input type="submit" id="otpWhiteListDelete" class="btn btn-default btn-s btn-table" value="清除otp白名單" /><br />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("OTPWhiteListGet")" method="POST">
            <input type="submit" id="otpWhiteListGet" class="btn btn-default btn-s btn-table" value="執行TP白名單JOB" /><br />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("DownloadWmsFee")" method="POST">
            <input id="Text1" type="text" name="strTime" style="width:600px" />要下載日期<br />
            <input id="Text1" type="text" name="type" style="width:600px" />要下載檔案類型(all 或是單一類型--"purchaseservfee", "stockfee", "returnservfee", "returnshipfee", "returnpackfee", "orderservfee", "shipfee", "packfee", "refundshipfee")<br />
            <input type="submit" id="downloadWmsFee" class="btn btn-default btn-s btn-table" value="補下載倉儲費用檔" /><br />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("UpdateWmsPurchaseOrder")" method="POST">
            <input id="Text1" type="text" name="pchomePurchaseOrderId" style="width:600px" />某一筆已入庫<br />
            <input type="submit" id="UpdateWmsPurchaseOrder" class="btn btn-default btn-s btn-table" value="更新已入庫的日期" /><br />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("Encrypt")" method="POST">
            <input id="Text1" type="text" name="en" style="width:600px" />加密<br />
            <input id="Text1" type="text" name="de1" style="width:600px" />解密AES1<br />
            <input id="Text1" type="text" name="de2" style="width:600px" />解密AES2<br />
            <input type="submit" id="Encrypt" class="btn btn-default btn-s btn-table" value="加解密" /><br />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("PchomeEncrypt")" method="POST">
            <input id="Text1" type="text" name="str" style="width:600px" />
            <input type="submit" id="Encrypt" class="btn btn-default btn-s btn-table" value="PCHOME代銷加密" /><br />
        </form>
        <form id="form4" action="@Url.Action("PchomeDecrypt")" method="POST">
            <input id="Text1" type="text" name="str" style="width:600px" />
            <input type="submit" id="Decrypt" class="btn btn-default btn-s btn-table" value="PCHOME代銷解密" /><br />
        </form>
        <form id="form4" action="@Url.Action("PchomeSha1")" method="POST">
            <input id="Text1" type="text" name="str" style="width:600px" />
            <input type="submit" id="Sha1" class="btn btn-default btn-s btn-table" value="PCHOME-Sha1" /><br />
        </form>
        <br />
        <br />

        <form id="form4" action="@Url.Action("ImportScash")" method="POST" enctype="multipart/form-data">
            <input id="Text1" type="text" name="userId" style="width:600px" />userid<br />
            <input id="Text2" type="text" name="amount" style="width:600px" value="10000" />金額<br />
            <input id="Text2" type="text" name="title" style="width:600px" value="VVIP購物金" />名目<br />
            <input type="submit" id="ImportScash" class="btn btn-default btn-s btn-table" value="匯入購物金" /><br />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("PChomeUploadFile")" method="POST">
            <input type="submit" id="PChomeUploadFile" class="btn btn-default btn-s btn-table" value="上傳PC圖" /><br />
            <input id="Text1" type="text" name="pic1" style="width:600px" />圖1<br />
            <input id="Text2" type="text" name="pic2" style="width:600px" />圖2<br />
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("PChomeSync")" method="POST">
            <input id="Text1" type="text" name="bids" style="width:600px" /><br />
            <input type="submit" id="PChomeSync" class="btn btn-default btn-s btn-table" value="同步PCHOME商品資訊" /><br />
            <input id="price" type="checkbox" name="price" value="true" />價格
            <input id="qty" type="checkbox" name="qty" value="true" />數量
            <input id="desc" type="checkbox" name="desc" value="true" />slogan
            <input id="prod" type="checkbox" name="prod" value="true" />nick
            <input id="intro" type="checkbox" name="intro" value="true" />圖文說明
            <input id="pic" type="checkbox" name="pic" value="true" />大圖
        </form>
        <br />
        <br />
        <form id="form4" action="@Url.Action("MultiThread")" method="POST">
            <input type="submit" id="MultiThread" class="btn btn-default btn-s btn-table" value="多執行續" /><br />
        </form>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div style="color:red">
            @if (TempData["message"] != null)
            {
                @Html.Raw(TempData["message"].ToString());
            }
        </div>



    </div>
</body>
</html>
