﻿@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* [disabled]border: 0; */
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;*/
}
strong { margin: 0; padding: 0; border: 0; font-size: 100%; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, select {
    vertical-align:middle;
}
input, input:active, input:focus{
    outline: 0;
    outline-style:none;
    outline-width:0;
}
#mMenu { display: none;}
/*圖標字體化*/
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {content: "\f007";}
.icon-clock-o:before {content: "\e605";}
.icon-chevron-up:before {content: "\f077";}
.icon-chevron-down:before {content: "\f078";}
.icon-filter:before {content: "\f0b0";}
.icon-arrow-down:before {content: "\e601";}
.icon-arrow-up:before {content: "\e602";}
.icon-smile-o:before {content: "\f118";}
.icon-smile-o-2:before {content: "\f118"; color: #bf0000; font-size: 16px; margin-left: 10px; vertical-align: middle;}
.icon-map-marker:before {content: "\f041";}
/*17Life custom reset css*/
input[type="text"], input[type="password"], input.text, input.title, textarea, select { background: #FFFFFF; border:1px solid #CCC; }

html, body, /*#wrap {height: 100%;}*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abs, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
	background:none repeat scroll 0 0 transparent;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-size:100%;
	margin:0;
	outline:0 none;
	padding:0;
}
/*html {overflow-y:scroll;}*/
body > #wrap {
	width: auto;
	height: auto;
	min-height: 100%;
	background: #F2F2F0 0 0 repeat;
	overflow: hidden;
}
#wrap {
	height: 100%;
	margin: 0 auto;
	background: #F2F2F0;
	overflow: hidden;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, input[type="file"]:disabled::-webkit-file-upload-button, button:disabled, select:disabled, keygen:disabled, optgroup:disabled, option:disabled, select[disabled] > option {
color: #A2A297;
}

/* Hides from IE-mac \*/

* html .clearfix { height:100%;}
.clearfix {display: block;}
a:link { text-decoration: none; color: #333; }
a:visited { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; color: #333; }
a:active { text-decoration: none; color: #333; }
/* Hides from IE-mac \*/

/*MasterPage-Alan*/

.ip-header{
	height: 90px;
	background: #dd1922;
	margin-bottom: 3px;
	padding: 20px;
}
.header-logo-block {
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
}
.top-ipeen-logo, .top-cross-logo, .top-17life-logo, .top-coupon-logo {
	float: left;
	margin-right: 10px;
}
.header-logo-block li {
	float: left;
	margin-right: 15px;
}
.search-block {
	height: 26px;
	margin-top: 4px;
	height: auto;
}
.search-bar {
	width: 150px;
	height: 24px;
	float: left;
	padding-left: 5px;
}
input.search-bar {
	border: 1px solid #a9a9a9;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	line-height: 17px;
}
.search-button {
	width: 40px;
	height: 28px;
	background: url(search-button.png)#dd1922; 
	padding: 0;
	border: 0;
	float: left;
	margin-left: -1px;
}
.marketing-block {
	width: 97px;
	height: 35px;
	float: right;
}
/*slide-bn-css*/
.slide-bn-block {
	height: 132px;
	background: rgba(180, 180, 180, 0.6);
	padding-top: 20px;
	text-align: center;
	position: relative;
}
.slide-bn-block.m-browser {
	height: 132px;
	background: #b4b4b4;
	padding-top: 20px;
	text-align: center;
	position: relative;
}
.slide-m-browser {
	display: none;
}
.slide-bn-area {
	width: 310px;
	height: 133px;
	margin: 0 2px;
	background: url(side-bn-bg.png);
	display: inline-block;
}
.slide-bn-area img { width:100%; height: auto;}
.slideBox2 .hd {
	height: 28px;
	line-height: 28px;
	text-align: center;
	position: absolute;
	bottom: -6px;
	left: 48%;
}
.slideBox2 .hd ul {
	margin-top: 8px;
}
.slideBox2 .hd li {
	display: inline-block;
	width: 8px;
	height: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #a0a5b0;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 6px;
	cursor: pointer;
}
.slideBox2 .hd li.on {
	background: #bf0000;
}


.prev{
	display: block;
	background: url(arrow-bg-left.png) no-repeat;
	width: 43px;
	height: 43px;
	color: #fff;
	position: absolute;
	z-index: 20;
	cursor: pointer;
	opacity: 0.8;
	text-align: center;
	padding-top: 11px;
	top: 40%;
	margin-left: -20px;
}
.prev:hover {
	background: url(arrow-bg-left-hover.png) no-repeat;
}
.next{
	display: block;
	background: url(arrow-bg-right.png) no-repeat;
	width: 43px;
	height: 43px;
	color: #fff;
	z-index: 21;
	cursor: pointer;
	opacity: 0.8;
	position: absolute;
	top: 40%;
	margin-left: 940px;
	text-align: center;
	padding-top: 11px;
}
.next:hover {
	background: url(arrow-bg-right-hover.png) no-repeat;
}
.slide-bn-block:before, .slide-bn-block:after {
	content: " ";
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
}
.slide-bn-block:before {
	background-image: -moz-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
	background-image: -webkit-linear-gradient(left, #000000 50%,rgba(0,0,0,0));
	background-image: linear-gradient(to right, #000000 50%,rgba(0,0,0,0));
	left: -160px;
	width: 360px;
	z-index: 11;
}
.slide-bn-block:after {
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0),#000000);
	background-image: -o-linear-gradient(left, rgba(0,0,0,0),#000000);
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0),#000000);
	background-image: linear-gradient(to right, rgba(0,0,0,0),#000000);
	right: 0;
	width: 210px;
	z-index: 10;
}
#TOPBanner {
	width: 960px;
	height: auto;
	margin:0 auto 10px auto;
}
#MTOPBanner {
	width: 310px;
	height: auto;
	margin:0 auto 10px auto;
}

/*搜尋結果-Alan*/

.search-result-get, .search-result-none {
	padding: 5px;
	border: 1px solid #999;
	background: #fff; 
	text-align: center;
	margin: 10px auto;
}
.search-result-get i {
	color: #14a049;
}
.search-result-none i {
	color: #bf0000;
}

h3 {
color: #bf0000;
font-size: 140%;
font-weight: bold;
margin: 30px 5px 0px 10px;
padding-bottom: 5px;
border-bottom: 2px solid #bf0000;
}

/*MasterPage*/

#navi {
	width: auto;
	background: #323028;
	margin: 15px auto;
	margin-top: 0px;
	border-bottom: 3px solid #dd1922;
}
.logo-inline {
	width: 141px;
	height: 80px;
	float: left;
	margin-top: -20px;
	margin-right: 20px;
}
#navimain {
	width: 960px;
	height: 35px;
	margin: 0 auto;
	text-align: center;
}
#navimain a {
	color: #FFF;
	text-decoration: none;
}
#navimain li { float: left; border-right: 1px solid #434138; border-left: 1px solid #434138; margin-left: -1px;}
#navimain .fr { float: right; }
.NavAD_sp { 
	height: 35px;
	float: left;
	display: block;
}
.navbtn {
	width: 120px;
	height: 35px;
	float: left;
	display: block;
	font: 14px/35px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	color: #FFF;
}
.navbtn:hover {
	background: #dd1922;
	border: 0;
}
.mc { position: relative; }
.mc .dropdownlist { 
	display: none; 
	position: absolute; 
	top: 35px; 
	z-index: 9999; 
}
.mc:hover .dropdownlist { display: block; }
#navimain .dropdownlist, #navimain .dropdownlist li {
	width: 105px;
	height: 30px;
	text-align: center;
}
#navimain .dropdownlist li {
	width: 105px;
	height: 30px;
	text-align: center;
	font: 14px/30px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	background: #323028;
}
#navimain .dropdownlist li:hover {
	background: #BF0000;
}
#navimain li {
	position: relative;
}
#navimain li a.navbtn_inpage:after {
	border-color: #dd1922 transparent transparent;
	border-style: solid;
	border-width: 10px 6px 6px;
	content: "";
	left: 43%;
	position: absolute;
	z-index: 100;
	bottom: -18px;
}
.navbtn_inpage{
	width: 120px;
	height: 35px;
	float: left;
	display: block;
	background: #dd1922;
	font: 14px/35px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	color: #FFF;
	border: 0;
	/*border-radius: 5px 5px 0 0;*/
}
.center {
	width: 960px\9;
	height: auto\9;
	display: block\9;
	margin: 10px auto\9;
}
.center {
	width: 960px;
	height: auto;
	display: block;
	margin: 10px auto;
}
#TOPBanner {
	width: 960px;
	height: auto;
	margin:0 auto 10px auto;
}

.sildeWrap{ display: none}/*for piinlife*/

/*新增地區多層選單 by GiGi*/
.NaviCityML {
	margin-bottom: 10px;
	position: relative;
}
.city-switch {
	height: 30px;
	margin-right: 30px;
	padding: 0 25px 0 10px;
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
	background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
	background-image: -ms-linear-gradient(#fafafa,#eaeaea);
	background-image: -o-linear-gradient(#fafafa,#eaeaea);
	background-image: linear-gradient(#fafafa,#eaeaea);
	background-repeat: no-repeat;
	border: 1px solid #d4d4d4;
	border-bottom-color: #bcbcbc;
	position: relative;
	top: 11px;
	left: 20px;
	z-index: 45;	
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px; 
	box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0,0,0,.1);
	 float: left;
}
.city-on {
	border-top: 1px solid #9c9c9c;
	border-right: 1px solid #9c9c9c;
	border-left: 1px solid #9c9c9c;
	border-bottom: 1px solid #fff;
	background: #fff;
	box-shadow: none;
}
.city-switch span {
	color: #333;
	font-size: 13px;
	line-height: 30px;
}
.city-switch b {
	margin-right: 8px;
	font-size: 13px;
}
.city-switch span::after, .city-switch span::before {
	width: 0px;
	height: 0px;
	content: '';
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f6f6f6;
	position: absolute;
	top: 12px;
	right: 8px;	
}
.city-switch span:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    border-top-color: inherit; /* Can't be included in the shorthand to work */
    top: 13px;
}
.city-on span::after {border-top: 5px solid #fff;}
.city-on span, .city-on b {color: #888;}
.city-box { 
	position: absolute;
	top: 45px;
	left: 20px;
	z-index: 44;
	width: 540px;
	padding: 10px 20px 0 20px;
	border: 1px solid #9c9c9c;
	box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0,0,0,.1);
	background: #fff;
}
.city-tab { margin-top: 5px; }
.city-tab li { 
	width: 16.5%; 
	float: left; 
}
.city-tab li a {
	width: 100%;
	padding: 10px 0;
	display: block;
	color: #333;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	border-bottom: 2px solid #ddd;
}
.city-tab li a:hover {color: #BF0000;}
.ui-state-active a, .ui-widget-content .ui-state-active a, .ui-widget-header .ui-state-active a{
	border-bottom: 2px solid #BF0000;
	color: #BF0000;
}
.city-tab-zone { padding-top: 10px; }
.row-lump {
	margin: 10px 0;
	padding-bottom: 10px;
}
.row-lump:last-child {
	border-bottom: none;
}
.col-left {
	float: left;
	width: 65px;
}
.col-right {
	overflow: hidden;
}
.subtab-title {
	border-bottom: 1px solid #ddd;
	font-size: 13px;
	font-weight: bold;
	line-height: 2;
}
.sub-citylist li {
	margin: 5px 15px 5px 0;
	float: left;
}
.sub-citylist a {
	padding-right: 15px;
	color: #666;
	text-decoration: none;
	font-size: 13px;
	border-right: 1px solid #e5e5e5;
}
.sub-citylist a.subtab-on, .sub-citylist a:hover {	color: #BF0000;}
.sub-citylist a.subtab-noline {
	border-right: none;
}


/*NaviCity*/
.NaviCityMP {display: none;}
.NaviCityArea { width: auto;}
.NaviCityArea li  { float: left; }
.NaviCityArea a { line-height: 20px; padding: 0px 16px; display: inline-block; font-family: Arial, "新細明體", sans-serif; }
.NaviCityArea a.on { background-color: #BF0000; color: #fff; border-radius: 3px; }
.NaviCitySequence { 
	margin-bottom:3px; 
	padding: 8px 20px 0px 22px;
	font-size: 13px;
}
.NaviCityW + .NaviCitySequence {
	border-top: none; 
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.NaviCityW {
    margin: 10px auto 0;
    border: 1px solid #ccc;
    /*border-bottom: 1px solid #BF0000;*/
    background-color: #fff;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0,0,0,.1);
    position: relative;
}
.NaviCitySort { font-size: 13px; }
.NaviCitySortRank { margin: 5px 20px;}
.NaviCitySortRank > ul > li { 
	margin: 6px 6px 6px 0;    
	float: left;
    position: relative;
}

.NaviCitySortRank li > a {
    padding: 3px 6px;
    display: block;
    color: #666;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.NaviCitySortRank li.sub-arrow a {padding-right: 20px;}
.NaviCitySortRank li.on a { 
    color: #fff; 
    background: #bf0000;    
}
.sortrank-hot {
	width: 29px;
	height: 16px;
	background: url(sortrank-hot.png);
	position: absolute;
	top: -10px;
	right: -5px;
}
.sortrank-new {
	width: 29px;
	height: 16px;
	background: url(sortrank-new.png);
	position: absolute;
	top: -10px;
	right: -5px;
}
.NaviCitySortRank a:hover { 
    color: #bf0000; 
    text-decoration: none;
    background: #ffecec;
}
.NaviCitySortRank ul.sub-classify{margin-top: 3px;padding: 3px 10px;}
.NaviCitySortRank ul > li > ul { display: none;}
.NaviCitySortRank ul > li.sub-arrow> a::after, .NaviCitySortRank ul > li.sub-arrow > a::before {
    width: 0px;
    height: 0px;
    content: '';
    position: absolute;
    top: 9px;
    right: 8px;
}
.NaviCitySortRank ul > li.sub-arrow > a:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    border-top-color: inherit;
    top: 10px;
}
.NaviCitySortRank ul > li.sub-arrow.on > a:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    border-top-color: #fff;
    top: 10px;
}
#ulSort {
	display: inline-block;
	/*margin-right: 20px;*/
	margin-top: 2px;
	margin-right: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.NaviCitySequence a { 		 
	padding: 0px 8px; 
	color: #555;
	display: inline-block; 
	float: left;  
	position: relative; 
}
.NaviCitySequence a:hover { 
	background-color: transparent;  
	text-decoration: none;
	background-color: #f5f5f5;
	color: #BF0000; 
}
.NaviCitySequence a.on { 
	color: #bf0000;  
}
.NaviCitySequence .icon-arrow-down,.NaviCitySequence .icon-arrow-up {
	position: relative;
	top: 1px;
}
.empty-zone {
	margin: 30px auto;
	text-align: center;
	color: #666;
	font-size: 14px;
}
.empty-zone > .icon-smile-o:before {
	font-size: 28px;
}
.up li a, .NaviCitySort li a, .NaviCitySequence li a {
-webkit-transition: background 80ms ease-in-out; 
   -moz-transition: background 80ms ease-in-out; 
     -o-transition: background 80ms ease-in-out; 
       -transition: background 80ms ease-in-out;
}

.NaviCitySequence li { float: left; }
.sub-classify {
    /*display: none;*/
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px 20px;
    background: #f5f5f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0,0,0,.1);
}
.ncs-filter input[type=checkbox]:checked + label.css-label {color: #BF0000;}
#ulFilter{/*float: left;*/ display: inline-block;}
#ulSwitch{
	float: right;
	position: absolute;
	top: 2px;
	right: 0;
	/**/
	/*border: 1px solid #d4d4d4;*/
}
#ulSwitch ul li{ width: 30px; height: 30px;  cursor: pointer;}
.NaviCitySort #ulSwitch li a{width: 33px; height: 30px; display: block; padding: 0; border: none; border: 1px solid #d4d4d4; /*background:url(../G2/ulswitch_btn.png) #323028;*/}
.NaviCitySort #ulSwitch li a:hover{opacity: 0.9;}
.NaviCitySort #ulSwitch li.ulSwitch-box a{background:url(../G2/ulswitch_box_btn.png); background-position:0px 0px; }
.NaviCitySort #ulSwitch li.ulSwitch-list a{background:url(../G2/ulswitch_list_btn.png); background-position:0px 0px; border-left: 0;}
.NaviCitySort #ulSwitch li.on a{ background-color: #323028; background-position:-37px 0px;}
.NaviCitySort ul.floatleft { width: 840px;  padding-top: 2px;}

.New { width: 75px; }
.Quantity { width: 90px; margin-left: -19px; }
.Price { width: 90px; margin-left: -34px; }
.Explain { height: 20px; background-color: #fff; padding: 0px 3px; border: 1px solid #ccc; display: none; position: absolute; top: -23px; left: 5px; z-index: 99999; }
.Comment:hover .Explain { display: block; }
.ncs-filter { 
	margin-top: 1px;
	margin-right: 5px;/**/
	color: #666;
}
.ncs-filter-notice { color: #959595; }
.ncs-filter .css-label, .ncs-filter .css-checkbox {cursor: pointer;}
.m-classify, .m-filter-btn { display: none;}
/*footer*/
.footer {
	width: 100%;
	margin: 0 auto;
	padding: 30px 0 10px 0;
	background: #31312C;
}
.footer-content {
	width: 960px;
	margin: 0 auto;
}
.footer-logo {
	width: 120px;
	height: 50px;
	background: url(17logogrey.png) no-repeat;
	float: left;
	margin-right: 15px;
}
.footer-copyright {
	width: 350px;
	height: 50px;
	float: left;
}
.footer p {
	color: #ffffff;
	font: 14px/24px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
.footer-contentlist {
	float: right;
}
.footer-contentlist ul {
	margin-top: 20px;
}
.footer-contentlist li {
	float: left;
}
.footer-contentlist li a {
	color:#ffffff;
	font: 14px/24px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	text-decoration: none;
	border-left: 1px solid #ffffff;
	padding: 0 5px;
	
}
.clear {
	clear:both;
}
.interest {
	width: 200px;
	padding: 3px;
	text-align: center;
	margin-top: 15px;
	font: 14px/24px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	color: #bf0000;
	font-weight: bold;
}
.no-border {
	border: none;
	margin-top: 5px;
}



/*Module Button Style Mod from bootstrap*/
.btn, .nobtn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(btn_bk_ie.png);
  background-color: #d7d7c7;
  background-image: -moz-linear-gradient(top, #ffffff, #d7d7c7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d7d7c7));
  background-image: -webkit-linear-gradient(top, #ffffff, #d7d7c7);
  background-image: -o-linear-gradient(top, #ffffff, #d7d7c7);
  background-image: linear-gradient(to bottom, #ffffff, #d7d7c7);
  background-repeat: repeat-x;
  border: 1px solid #333;
  *border: 0;
  border-color: #333;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd7d7c7', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn + .btn { margin-left: 10px; }
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  color: #333333;
  background-color: #d7d7c7;
  *background-color: #d9d9d9;
}
.btn:active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover, .btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/*.btn-xlarge {
  padding: 15px 75px;
  font-size: 18px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}*/
.btn-large {
  padding: 12px 35px;
  font-size: 18px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.btn-mini.payment { margin-bottom: 10px;}
.btn-mini-wide {
  padding: 0 7px;
  font-size: 10.5px;
  margin-top: -2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: url(btn_bk_pri_ie.png);
  background-color: #9f0000;
  background-image: -moz-linear-gradient(top, #df0000, #9f0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#df0000), to(#9f0000));
  background-image: -webkit-linear-gradient(top, #df0000, #9f0000);
  background-image: -o-linear-gradient(top, #df0000, #9f0000);
  background-image: linear-gradient(to bottom, #df0000, #9f0000);
  background-repeat: repeat-x;
  border-color: #9f0000;
  border-color: rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f#df0000', endColorstr='#ff9f0000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active
{
  color: #ffffff;
  background-color: #9f0000;
}
.btn-dontclick {
  color: #ffffff;
  cursor: not-allowed;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: url(btn_bk_pri_ie.png);
  background-color: #353535;
  background-image: -moz-linear-gradient(top, #545454, #353535);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#353535));
  background-image: -webkit-linear-gradient(top, #545454, #353535);
  background-image: -o-linear-gradient(top, #545454, #353535);
  background-image: linear-gradient(to bottom, #545454, #353535);
  background-repeat: repeat-x;
  border-color: #353535;
  border-color: rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f#545454', endColorstr='#ff353535', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.swiper-container {
	margin:0 auto;
	position:relative;
	/*overflow:hidden;*/
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
	/* Specify Swiper's Size: */
	height: 110px;
	/*width:200px;
	height: 100px;*/
}
.swiper-slide {
	/* Specify Slides's Size: */
	
	/*width: 100%;
	height: 100%;*/
}
.swiper-slide-active {
	/* Specific active slide styling: */
	
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */	

}
.swiper-active-switch {
	/* Specific active button style: */	
	
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}

.pagination {
			height: 28px;
			line-height: 28px;
			text-align: center;
			position: absolute;
			/*bottom: -6px;*/
			left: 48%;
            margin-top: 8px;
            z-index: 99999;
		}
		/*.temp-banner-block .hd ul {
			margin-top: 8px;
		}
		.temp-banner-block .hd li {
			display: inline-block;
			width: 8px;
			height: 8px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background: #a0a5b0;
			text-indent: -9999px;
			overflow: hidden;
			margin: 0 6px;
			cursor: pointer;
		}
		.slideBox2 .hd li.on {
			background: #bf0000;
		}*/






/*.pagination {
  position: absolute;
  z-index: 20;
  left: 10px;
  top: 10px;
}*/

.swiper-pagination-switch {
			display: inline-block;
			width: 8px;
			height: 8px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background: #a0a5b0;
			text-indent: -9999px;
			overflow: hidden;
			margin: 0 6px;
			cursor: pointer;
}
.swiper-active-switch {
  background: #bf0000;
}
.fl { float: left; }
.fr { float: right; }
.deal_pic .hotdeal { width: 97px; height: 97px; position: absolute; top: -10px; left: -10px; background: url(tc_button.png) no-repeat; }
.deal_pic .soldout { width: 97px; height: 97px; position: absolute; top: -10px; left: -10px; background: url(tc_button.png) 0 -100px no-repeat; }
.tc_deal_sort { width: 958px; text-align: left; position: relative; border-radius: 3px; border: 1px solid #CCC; background: #FFF; }
.tc_deal_sort .arrow { width: 15px; height: 9px; position: absolute; bottom: -9px; left: 20px; background: url(down_arrow.png) no-repeat; }
.tc_deal_sort .red { color: #F00; }
.tc_deal_sort ul {  margin: 0 40px; }
.tc_deal_sort li { width: 85px; text-align: center; list-style: none; float: left; margin: 0 10px; font-size: 12px; line-height: 28px; }
.tc_deal_sort li a { width: 85px; color: #555; display: inline-block; }
.tc_deal_sort li a:hover, .tc_deal_sort li .selected { background: url(ppon-M1_HKL_listBg_hover.png) repeat-x; }
.tc_big_content_area { width: 960px; height: 415px; margin: 0 0 20px 0; }
.tc_big_content_area .b_content_box { width: 469px; height: 397px; margin: 10px 4px; border: 1px solid #CCC; background: #FFF; box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15); }
.tc_big_content_area .b_content_box:hover, .tc_small_content_area .s_content_box:hover { border-color: #BF0000; }
.tc_big_content_area .b_content_box .title { width: 450px; height: 23px; margin: 15px auto 0px auto; font-size: 16px; color: #333; line-height: 22px; font-family: "微軟正黑體", sans-serif; overflow: hidden; }
.tc_big_content_area .b_content_box .title a { color: #333; }

.tc_big_content_area .b_content_box .Orgmaintitle { 
	width: 450px; height: 20px; margin: 0px auto 15px auto; font-size: 16px; 
	line-height: 20px; font-family: "微軟正黑體", sans-serif; overflow: hidden; color: #FF6600;}
.tc_big_content_area .b_content_box .Orgmaintitle a { color: #FF6600 ;}

.tc_big_content_area .b_content_box .fb_like { width: 100px; height: 20px; margin: -10px 10px; text-align: right; }
.tc_big_content_area .b_content_box .deal_pic { width: 454px; height: 253px; margin: 30px auto 5px auto; position: relative; }
.tc_big_content_area .b_content_box .deal_pic .time_counter { width: 454px; height: 30px; display: none; text-align: left; font-size: 18px; line-height: 30px; color: #FFF;position: absolute; bottom: 0; background: url(tr70bg.png) repeat; z-index: 6;}
.deal_pic .time_counter .day { font-size: 10px; line-height: 30px; }
.tc_big_content_area .b_content_box .bottom { width: 469px; height: 51px; color: #333; background: url(tc_big_deal_bottom.png); }
.tc_big_content_area .b_content_box .bottom .discount { width: 60px; margin: 5px 10px; font-size: 26px; border-right: 1px solid #FFCCBF; }
.tc_big_content_area .b_content_box .bottom .text, .tc_big_content_area .b_content_box .bottom .smalltext { font-size: 13px; color: #333; font-family: "微軟正黑體", sans-serif; }
.tc_big_content_area .b_content_box .bottom .price { margin: 5px 10px 5px 0; font-size: 26px; }
.tc_big_content_area .b_content_box .bottom .ori { width: 50px; margin-top: 20px; font-size: 12px; color: #CCC; text-decoration: line-through; }
.bottom .buyer { width: 112px; margin: 13px 0 0 15px; font-size: 20px; font-weight: bold; color: #BF0000; }
.tc_big_content_area .b_content_box .bottom .go_button { width: 95px; height: 35px; margin: 12px 5px 0 0; font-size: 0px; text-indent: -9999px; display: inline-block; background: url(tc_button.png) -110px 0 no-repeat; }
.tc_big_content_area .b_content_box .bottom .go_button:hover { background: url(tc_button.png) -110px -40px no-repeat; }
.tc_small_content_area { width: 960px; margin-bottom: 20px; clear: both; }
.tc_small_content_area .s_content_box { width: 310px; height: 342px; margin: 15px 4px; border: 1px solid #CCC; background: #FFF; box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15); }
.tc_small_content_area .s_content_box .title { width: 290px; height: 20px; margin: 10px auto 2px auto; font-size: 14px; color: #333; line-height: 20px; font-family: "微軟正黑體", sans-serif; overflow:hidden; }
.tc_small_content_area .s_content_box .title a { color: #333; }

.tc_small_content_area .s_content_box .OrgMineT { width: 290px; height: 34px; margin: 0px auto 16px auto; font-size: 14px; color: #333; line-height: 17px; font-family: "微軟正黑體", sans-serif; overflow:hidden; }
.tc_small_content_area .s_content_box .OrgMineT a { color: #FF6600; }

.tc_small_content_area .s_content_box .title .rank { width: 38px; height: 34px; margin-right: 5px; float: left; font-size: 14px; font-weight: bold; color: #FFF; line-height: 16px; text-align: center; background: #BF0000; }
.tc_small_content_area .s_content_box .fb_like { width: 100px; height: 20px; margin: -10px 10px; text-align: right; }
.tc_small_content_area .s_content_box .deal_pic { width: 290px; height: 162px; margin: 31px auto 3px; position: relative; }
.tc_small_content_area .s_content_box .deal_pic .time_counter { width: 290px; /*height: 30px;*/ max-height: 70px; display: none; text-align: left; /*font-size: 16px;*/ font-size: 13px; line-height: 20px; color: #FFF; position: absolute; bottom: -1px; background: url(tr70bg.png) repeat; z-index: 6; padding: 5px;}
.tc_small_content_area .s_content_box .smallprice .discount { width: 60px; margin: 0px 10px; font-size: 26px; border-right: 1px solid #FFCCBF; }
.tc_small_content_area .s_content_box  .text, .tc_small_content_area .s_content_box  .smalltext { font-size: 13px; color: #333; font-family: "微軟正黑體", sans-serif; }
.tc_small_content_area .s_content_box .smallprice .price { margin-right: 10px; font-size: 26px; }
.tc_small_content_area .s_content_box .smallprice .ori { width: 50px; margin-top: 16px; font-size: 12px; color: #CCC; text-decoration: line-through; }
.tc_small_content_area .s_content_box .bottom { width: 310px; height: 41px; color: #333; background: url(tc_small_deal_bottom.png); }
.tc_small_content_area .s_content_box .top { width: 310px; height: 41px; color: #333;}
.tc_small_content_area .s_content_box .bottom .buyer { margin: 5px 0 0 10px; }
.tc_small_content_area .s_content_box .bottom .go_button { width: 75px; height: 30px; margin: 8px 8px 0 0; font-size: 0px; text-indent: -9999px; display: inline-block; background: url(tc_button.png) -210px 0 no-repeat; }
.tc_small_content_area .s_content_box .bottom .go_button:hover { background: url(tc_button.png) -210px -40px no-repeat; }
/*tc_big_content_slider 今日熱銷 滑動檔次*/
.tc_big_content_slider_wrap {/*background: pink;*/ width: 964px; height: 500px; margin-bottom: 0px;  position: relative; overflow: hidden;}
.tc_big_content_slider_wrap .tc_big_content_slider{  width: 958px; /*height: 415px;*/ height: 464px; margin: 0 0 20px 0;  /*background: pink;*/ border: 1px solid #CCC; background: #FFF; /*background: red; overflow: hidden;*/ box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15); position: relative;}
.tc_big_content_slider_wrap h3{ color: #bf0000; font-size: 140%; font-weight: bold; margin: 15px 5px 0px 10px; padding-bottom: 5px; border-bottom: 2px solid #bf0000;}
.tc_big_content_slider_wrap .b_content_box { width: 469px; height: 439px; margin: 13px 4px 30px 4px; }
.tc_big_content_slider_wrap .b_content_box:hover{ /*border: 1px solid #bf0000;*/}
.tc_big_content_slider_wrap .b_content_box .title { width: 450px; height: 25px; margin: 5px auto 0px auto;/**/ font-size: 16px; color: #333; line-height: 22px; font-family: "微軟正黑體", sans-serif; overflow: hidden; }
.tc_big_content_slider_wrap .b_content_box .title a { color: #333; }
.tc_big_content_slider_wrap .b_content_box .Orgmaintitle { 
	width: 450px; height: 20px; margin: 0px auto 15px auto;/**/ font-size: 16px; 
	line-height: 20px; font-family: "微軟正黑體", sans-serif; overflow: hidden; color: #FF6600;}
.tc_big_content_slider_wrap .b_content_box .deal_pic { width: 454px; height: 253px; margin: 30px auto 5px auto; position: relative; }
.tc_big_content_slider_wrap .b_content_box .deal_pic { width: 454px; height: 253px; margin: 30px auto 5px auto; position: relative; }
.tc_big_content_slider_wrap .b_content_box .deal_pic .time_counter { width: 454px; max-height: 60px; display: none; text-align: left; font-size: 13px; line-height: 20px; color: #FFF;position: absolute; bottom: -3px; background: url(tr70bg.png) repeat; z-index: 6; padding: 5px 5px 5px 5px; }
.tc_big_content_slider_wrap .b_content_box .deal_pic .deal_hover {
    width: 444px;
    max-height: 60px;
    display: none;
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    color: #FFF;
    position: absolute;
    bottom: -3px;
    background: url(tr70bg.png) repeat;
    z-index: 6;
    padding: 5px 5px 5px 5px;
}
.tc_big_content_slider_wrap .b_content_box .deal_pic .deal_hover .deal_hover_text{
    background: url(tag-location.png) no-repeat;
    padding-left: 20px;
}
.tc_big_content_slider_wrap .b_content_box .Orgmaintitle a { color: #FF6600 ;}
.tc_big_content_slider_wrap .b_content_box .bottom { width: 469px; height: auto; color: #333; /*background: url(tc_big_deal_bottom.png);*/ }

/*星等評鑑區塊*/
.tc_big_content_slider_wrap .b_content_box .bottom .evaluation { width: 100px; margin: 15px 5px 0px 10px; font-size: 20px;}
.tc_big_content_slider_wrap .b_content_box .bottom .star-level { width: auto; margin-top: 13px; color: #ffec00; text-shadow:0px 0px 1px #bebdbd;}
.tc_big_content_slider_wrap .b_content_box .bottom .star-level-btn { margin-top: 15px; margin-right: 5px; text-decoration: underline;}
.tc_big_content_slider_wrap .b_content_box .bottom .star-level-btn a { color: #dd1922; font-size: 20px;}

.tc_small_content_area .s_content_box .top .evaluation { width: 70px;  font-size: 14px; margin: 10px;}
.tc_small_content_area .s_content_box .top .star-level { width: auto;margin-top: 10px; color: #ffec00; text-shadow:0px 0px 1px #bebdbd;}
.tc_small_content_area .s_content_box .top .star-level-btn { margin-right: 5px; margin-top: 10px; text-decoration: underline;}
.tc_small_content_area .s_content_box .top .star-level-btn a { color: #dd1922; font-size: 14px;}
.tc_small_content_area .s_content_box .deal_pic .deal_hover {
    width: 280px; /*height: 30px;*/
    max-height: 70px;
    display: none;
    text-align: left; /*font-size: 16px;*/
    font-size: 13px;
    line-height: 20px;
    color: #FFF;
    position: absolute;
    bottom: -1px;
    background: url(tr70bg.png) repeat;
    z-index: 6;
    padding: 5px;
}
.tc_small_content_area .s_content_box .deal_pic .deal_hover .deal_hover_text{
    background: url(tag-location.png) no-repeat;
    padding-left: 20px;
}
/*星等評鑑區塊end*/
.tc_big_content_slider_wrap .b_content_box .bottom .discount { width: 60px; margin: 5px 10px; font-size: 26px; border-right: 1px solid #FFCCBF; }
.tc_big_content_slider_wrap .b_content_box .bottom .text, .tc_big_content_slider .b_content_box .bottom .smalltext { font-size: 13px; color: #333; font-family: "微軟正黑體", sans-serif; }
.tc_big_content_slider_wrap .b_content_box .bottom .price { margin: 5px 10px 5px 0; font-size: 26px; }
.tc_big_content_slider_wrap .b_content_box .bottom .ori { width: 50px; margin-top: 20px; font-size: 12px; color: #CCC; text-decoration: line-through; }
.tc_big_content_slider_wrap .b_content_box .bottom .go_button { width: 95px; height: 35px; margin: 12px 5px 0 0; font-size: 0px; text-indent: -9999px; display: inline-block; background: url(tc_button.png) -110px 0 no-repeat; }
.tc_big_content_slider_wrap .b_content_box .bottom .go_button:hover { background: url(tc_button.png) -110px -40px no-repeat; }
.tc_big_content_slider_wrap .link {
	position: absolute;
	height: 20px;
	/*width: 173px;*/
	z-index: 1002;
	top: 480px;
	left: 48%;/**/
	/*margin-left: 40%;*/
}
.tc_big_content_slider_wrap .link ul {
	list-style-type: none;
	width: 173px;
	height: 20px;
	display: block;
	padding-top: 1px;
}
.tc_big_content_slider_wrap .link ul li {
	width: 10px;
	height: 10px;
	float: left;
	background-color: #b9b9b9;
	display: block;
	color: #fff;
	text-align: center;
	margin: 3px;
	cursor: pointer;
	border-radius: 50px;
}
.tc_big_content_slider_wrap .link ul li.on {
	background: #bf0000;
	color: #bf0000;
}
.tc_big_content_slider_wrap .link ul li.off {
	background: #b9b9b9;
	color: #fff;
}
.tc_big_content_slider_wrap .slider-btn { 
	display: block;/* */
	background: url(../G2/slider-btn.png);
	width: 50px; height: 100px;
	color: #fff;
	position: absolute;
	z-index: 50;
	/*display: none;*/
	cursor: pointer;
	opacity:0.8;
}
.tc_big_content_slider_wrap .slider-btn:hover{opacity:1;}
.tc_big_content_slider_wrap .slider-btn-next{position: absolute; top: 45%; right: 0px; background-position: -50px 0; }
.tc_big_content_slider_wrap .slider-btn-prev{position: absolute; top: 45%; left: 0; }


.DealCity { width: 200px; height: 50px; font-size: 36px; color: #333; font-weight: bold; padding-left: 5px; clear: both; }
.SMT { display: none; }
.td_buyer { width: 105px; line-height: 19px; margin: 0; font-size: 13px; font-weight: bold; color: #BF0000; text-align: right; border-top: #999 1px solid; }

.tc_small_content_area .s_content_box.td_content { height: auto; }
/*.tc_small_content_area .s_content_box.td_content .title { margin: 10px auto 13px auto; }*/
.tc_small_content_area .s_content_box.td_content .deal_pic { margin: 27px auto 5px auto; }

.tc_small_content_area .s_content_box.td_content .text, 
.tc_small_content_area .s_content_box.td_content .smalltext { font-size:12px;}
.tc_small_content_area .s_content_box.td_content .smallprice { margin:0 11px 0 10px; }

.tc_small_content_area .s_content_box.td_content .smallprice .price { margin-right: 5px; font-size: 31px; }
.tc_small_content_area .s_content_box.td_content .smallprice .ori { margin-top: 19px;}
.tc_small_content_area .s_content_box.td_content .smallprice .pop-box{ width: 100px; margin-top: 3px; }
.tc_small_content_area .s_content_box.td_content .smallprice .pop-box .Save{ line-height: 15px; clear: none; font-size: 11px; }
.tc_small_content_area .s_content_box.td_content .timeOverview { width: 290px; height: 26px; margin:-5px auto 6px auto; background: #bf0000; padding-top: 1px; color: #FFF;}
.tc_small_content_area .s_content_box.td_content .timeOverview .TimerTitleField { width: 150px; height: 20px; margin: 2px auto 0px auto; border: none; }
.tc_small_content_area .s_content_box.td_content .timeOverview .TimeDayCounter {color: #FFF;height: 20px; font-size: 10px; margin: 5px 8px 0 8px; }
.tag-location{border: 1px solid #666; padding:1px 4px 1px 4px; border-radius: 3px; margin-top:3px; cursor:default; }
.tag-location-orange{border: 1px solid #f60;}
.MaindealTitle-tag .tag-location{ margin-right: 3px;}
.dealtitle-box-tag .tag-location{ margin-right: 3px;}
/*品生活檔次*/
.tc_small_content_area .p_content_box { width: 470px; height: 325px; margin: 15px 4px; border: 1px solid #CCC; background: #FFF; box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15); }
.tc_small_content_area .p_content_box .title { width: 450px; height: 25px; margin: 10px auto 2px auto; font-size: 14px; color: #333; line-height: 20px; font-family: "微軟正黑體", sans-serif; overflow:hidden; }
.tc_small_content_area .p_content_box .title a { color: #333; }

.tc_small_content_area .p_content_box .OrgMineT { width: 450px; height: 34px; margin: 0px auto 16px auto; font-size: 14px; color: #333; line-height: 17px; font-family: "微軟正黑體", sans-serif; overflow:hidden; }
.tc_small_content_area .p_content_box .OrgMineT a { color: #FF6600; }

.tc_small_content_area .p_content_box .title .rank { width: 38px; height: 34px; margin-right: 5px; float: left; font-size: 14px; font-weight: bold; color: #FFF; line-height: 16px; text-align: center; background: #BF0000; }
.tc_small_content_area .p_content_box .fb_like { width: 100px; height: 20px; margin: -10px 10px; text-align: right; }
.tc_small_content_area .p_content_box .deal_pic { width: 450px; height: 180px; margin: 31px auto 3px; position: relative; }
.tc_small_content_area .p_content_box .deal_pic .time_counter { width: 290px; /*height: 30px;*/ max-height: 70px; display: none; text-align: left; /*font-size: 16px;*/ font-size: 13px; line-height: 20px; color: #FFF; position: absolute; bottom: -1px; background: url(tr70bg.png) repeat; z-index: 6; padding: 5px;}
.tc_small_content_area .p_content_box .smallprice .discount { width: 60px; margin: 0px 10px; font-size: 26px; border-right: 1px solid #FFCCBF; }
.tc_small_content_area .p_content_box  .text, .tc_small_content_area .s_content_box  .smalltext { font-size: 13px; color: #333; font-family: "微軟正黑體", sans-serif; }
.tc_small_content_area .p_content_box .smallprice .price { margin-right: 10px; font-size: 26px; }
.tc_small_content_area .p_content_box .smallprice .ori { width: 50px; margin-top: 16px; font-size: 12px; color: #CCC; text-decoration: line-through; }
.tc_small_content_area .p_content_box .bottom { width: 450px; height: 41px; color: #333; }
.tc_small_content_area .p_content_box .top { width: 450px; height: 41px; color: #333; margin: 0 10px;}
.tc_small_content_area .p_content_box .bottom .buyer { margin: 5px 0 0 10px; }
.tc_small_content_area .p_content_box .bottom .go_button { width: 75px; height: 30px; margin: 8px 8px 0 0; font-size: 0px; text-indent: -9999px; display: inline-block; background: url(tc_button.png) -210px 0 no-repeat; }
.tc_small_content_area .p_content_box .bottom .go_button:hover { background: url(tc_button.png) -210px -40px no-repeat; }
.tc_small_content_area .p_content_box .top .evaluation { width: 70px;  font-size: 14px; margin: 10px;}
.tc_small_content_area .p_content_box .top .star-level { width: auto;margin-top: 10px; color: #ffec00; text-shadow:0px 0px 1px #bebdbd;}
.tc_small_content_area .p_content_box .top .star-level-btn { margin-right: 5px; margin-top: 10px; text-decoration: underline;}
.tc_small_content_area .p_content_box .top .star-level-btn a { color: #dd1922; font-size: 16px;}
.tc_small_content_area .p_content_box .top .go_button { width: 75px; height: 30px; font-size: 0px; text-indent: -9999px; display: inline-block; background: url(tc_button.png) -210px 0 no-repeat; margin-left: 10px; }
/*品生活檔次END*/
/*DealStatus*/
.dds { max-width: 580px; margin-bottom: 10px; } /*dds = Deal Detail Status*/
.dds-label { margin: 5px 5px 5px 0; padding: 2px 8px; display: inline-block; font-size: 12px; font-family: Arial, "新細明體", sans-serif; color: #FFF; background: #BF0000; border-radius: 3px; }
.dts { max-width: 480px; max-height: 22px; position: relative; z-index: 8; vertical-align: text-top; } /*dds = Deal Title Status*/
.Maintitle + .dts { margin-left: 10px; margin-top: -10px; margin-bottom: 5px; }
.MainDealProductName + .dts {top:-5px;}
.BigDealBlock .dts { margin-left: 8px; }
.b_content_box .dts, .s_content_box .dts, .p_content_box .dts { margin-top: -10px; margin-left: 10px; margin-bottom: 5px; }
.dts-label {
    padding: 0px 3px;
	height: 20px; 
	margin-right: 5px;
	display: inline-block; 
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.dts-lb-1, .dts-lb-2 { 
	background-image:linear-gradient(top,#d00,#b10000);
    background-image:-moz-linear-gradient(top,#d00,#b10000);
    background-image:-webkit-linear-gradient(top,#d00,#b10000);
    background-image:-o-linear-gradient(top,#d00,#b10000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d00', endColorstr='#b10000', GradientType=0);
    background-color: #d80000;
}
.dts-lb-3 { 
	background-image:linear-gradient(top,#ff6300,#ff3800);
    background-image:-moz-linear-gradient(top,#ff6300,#ff3800);
    background-image:-webkit-linear-gradient(top,#ff6300,#ff3800);
    background-image:-o-linear-gradient(top,#ff6300,#ff3800);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6300', endColorstr='#ff3800', GradientType=0);
    background-color: #ff5300; 
}
.dts-lb-4, .dts-lb-5 { 
    background-image:linear-gradient(top,#ffc900,#ff9c00);
    background-image:-moz-linear-gradient(top,#ffc900,#ff9c00);
    background-image:-webkit-linear-gradient(top,#ffc900,#ff9c00);
    background-image:-o-linear-gradient(top,#ffc900,#ff9c00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc900', endColorstr='#ff9c00', GradientType=0);
    background-color: #ffba00; 
}
.dts-lb-6 { 
	background-image:linear-gradient(top,#ed1d3c,#cc1833);
    background-image:-moz-linear-gradient(top,#ed1d3c,#cc1833);
    background-image:-webkit-linear-gradient(top,#ed1d3c,#cc1833);
    background-image:-o-linear-gradient(top,#ed1d3c,#cc1833);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1d3c', endColorstr='#cc1833', GradientType=0);
    background-color: #ed1d3c;
}
.slide-bn-area img { width: 100%; height: auto;}
.dts-lb-4 {color: #DF0000;}
.dts-lb-5 {color: #171717;}
.dts-lb-7{
	background: #f4448e; /* Old browsers */
	background: -moz-linear-gradient(top, #f4448e 0%, #f11f78 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4448e), color-stop(100%,#f11f78)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4448e 0%,#f11f78 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4448e 0%,#f11f78 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4448e 0%,#f11f78 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4448e 0%,#f11f78 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4448e', endColorstr='#f11f78',GradientType=0 ); /* IE6-9 */
}
.SoldOut_Bar_Piinlife {
	width: 100%;
	height: 100%;
	z-index: 5;
	background: url(SoldOut.png) center;
	left: 0px;
	top: 0px;
	position: absolute;
}
.SoldOut_Bar_PiinlifeQuery {
	width: 100%;
	height: 100%;
	z-index: 5;
	background: url(SoldOut_SideDeal.png) center;
	left: 0px;
	top: 0px;
	position: absolute;
}
.SoldOut_Bar_Ppon {
	width: 100%;
	height: 100%;
	z-index: 5;
	background: url(soldout_bar_290.png) center;
	left: 0px;
	top: 0px;
	position: absolute;
}
.activeLogo {
 position: absolute;
   right: 0;
   bottom: 0;
}