﻿@charset "utf-8";
/*--------- reset ---------*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,figure{margin:0;padding:0;
}
table{border-collapse:collapse;
border-spacing:0;
font-size:inherit;
font:100%;
}
fieldset,img{border:none;
}
address,caption,cite,code,dfn,em,th,var{font-style:normal;
font-weight:normal;
}
img{vertical-align:middle;
}
abbr,acronym{border:none;
font-variant:normal;
}
sup{vertical-align:text-top;
}
sub{vertical-align:text-bottom;
}
input,button,textarea,select{*font-size:100%;
}
input{vertical-align:middle;
}
select,input,button,textarea{font:100% Verdana, Arial, Helvetica, sans-serif;
}
pre,code,kbd,samp,tt{font-family:Verdana, Arial, Helvetica, sans-serif;
}
small{font-size:100%;
}
ins{text-decoration:none;
}
/*--------- style ---------*/
html{text-align:left;
}
html,legend{color:#333;
}
body{
font-size:16px;
line-height:1.7;
font-family:\5FAE\8EDF\6B63\9ED1\9AD4;
background-color:#eee;
}
input,button,textarea,select{font-family:inherit;
font-size:inherit;
font-weight:inherit;
color:#333;
padding:1px;
}
p{margin:0 0 10px 0;
}
a{text-decoration:none;
}
a:hover{text-decoration:underline;
}
.clear{
clear:both;
}
.center{
	text-align:center;
}
.bg_gray{
	background-color:#999;
}
.bg_red{
	background-color:#E74C3C;
}
.bg_blue{
	background-color:#3498DB;
}
/*--------- layout start ---------*/
#container{
	margin:0 auto;
}
#header{
    top:0;
	width:100%;
	position:fixed;
	z-index: 2;
}
#content{
	float:left;
	width:100%;
	margin-top: 44px;
	position: relative;
}
/*--------- layout end ---------*/
/*--------- header start ---------*/
#header .card{
	background-color:#E5577A;
}
#header .member{
	background-color:#43ADA1;
}
.header_topic{
	width:70%;
	position:absolute;
	top:7px;
	left:15%;
	font-size:17px;
	color:#FFF;
	text-align:center;
}
#nav{
	float:left;
	width:100%;
	height:44px;
}
#nav .left{
	float:left;
	padding:6px 0 0 10px;
}
#nav .right{
	float:right;
	padding:6px 10px 0 0;
}
#nav div img{
	height:30px;
	margin-top: 22px;
    top: -15px;
    position: relative;
}
/*--------- header end ---------*/
/*--------- content ---------*/
/*------ content layout start ------*/
#content .content_topic{
	float:left;
	width:97%;
	padding:10px 1.5%;
	border-bottom:1px solid #ddd;
}
#content .content_list{
	float:left;
	width:47%;
	padding:10px 1.5%;
	border-bottom:1px solid #ddd;
	background-color:#FFF;
}
#content .w100{
	width:97%;
	padding:10px 1.5%;
}
#content .block{
	width:44%;
	padding:10px 1.5%;
	margin:15px 1.5% 0 1.5%;
	border-radius:4px;
	border-bottom:none;
	box-shadow:0 0 2px #ccc;
}
#content .content_list .tp{
	font-size:12px;
	color:#666;
	margin-bottom:3px;
}
#content .content_list .tp_2{
}
#content .content_list .tp_2 a{
	color:#0076FF;
	text-decoration:none;
}
#content .content_list .ct{
}
/*------ content layout end ------*/
/*------ input style start ------*/
/*--- text_1 ---*/
.text_1{
	width:96%;
	height:40px;
	padding:0 2%;
	border:none;
	background-color:#ddd;
	border-radius:4px;
	margin-bottom:5px;
}
/*--- text_2 ---*/
.text_2{
	width:96%;
	height:40px;
	padding:0 2%;
	border:none;
	background-color:#ddd;
	border-radius:4px;
	margin-bottom:15px;
}
/*--- text_3 ---*/
.text_3{
	width:44.5%;
	height:40px;
	padding:0 2%;
	border:none;
	background-color:#ddd;
	border-radius:4px;
	margin-bottom:5px;
	margin-right:1.5%;
}
/*--- text_4 ---*/
.text_4{
	width:44.5%;
	height:40px;
	padding:0 2%;
	border:none;
	background-color:#ddd;
	border-radius:4px;
	margin-bottom:5px;
	margin-left:1.5%;
}
/*--- radio_1 ---*/
.radio_1{
	float:left;
	width:50px;
	margin-right:10px;
	padding:10px 0;
}
.radio_1 input{
	margin-right:8px;
	margin-bottom:4px;
}
/*--- textarea_1 ---*/
.textarea_1{
	width:96%;
	height:84px;
	padding:8px 2%;
	border:none;
	background-color:#ddd;
	border-radius:4px;
	margin-bottom:5px;
}
/*--- search ---*/
.content_list .ct .search{
	float:left;
	width:85%;
	height:40px;
	padding:0 2%;
	margin:5px 1% 5px 0;
	border:none;
	background-color:#ddd;
	border-radius:4px;
}
.content_list .ct .icon_search{
	float:left;
	display:block;
	margin-top:10px;
	width:30px;
	height:30px;
}
.content_list .ct .icon_search img{
	height:30px;
}
.content_list .ct .icon_search:hover img{
	opacity:0.9;
}
/*--- select_1 ---*/
.select_1{
	float:left;
	height:40px;
	margin-bottom:5px;
	border:1px solid #ccc;
	background:url(images/icon_select_down.png) right no-repeat;
	background-color:#fff;
	border-radius:4px;
	overflow:hidden;
}
.select_1 select{
	height:40px;
	padding:0 30px 0 10px;
	background:transparent;
	-webkit-appearance:none;/*Removes default chrome and safari style*/
	-moz-appearance:none;/*Removes default style Firefox*/
	border:none;
	outline:none;
	color:#666;
}
.select_title{
	float:left;
	padding:8px 0 0 8px;
	margin-right:15px;
}
/*--- checkbox_1 ---*/
.checkbox_1{
	float:left;
	margin-right:15px;
}
/*------ input style end ------*/
/*------ 取消、返回、完成 start ------*/
#content .btn_action{
	float:left;
	width:100%;
	padding:15px 0;
}
#content .btn_action .left{
	float:left;
	width:45.5%;
	padding:0 1.5% 0 3%;
}
#content .btn_action .right{
	float:left;
	width:45.5%;
	padding:0 3% 0 1.5%;
}
#content .btn_action .all{
	margin:0 auto;
	width:50%;
}
#content .btn_action div a{
	display:block;
	height:34px;
	padding-top:6px;
	border-radius:4px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
}
#content .btn_action div a:hover{
	opacity:0.9;
}
#content .btn_action div a.disable{
	opacity:0.5;
	cursor:default;
}
#content .btn_action .left a{
	width:50%;
	float:right;
}
#content .btn_action .right a{
	width:50%;
	float:left;
}
#content .btn_action .all a{
	width:100%;
}
/*------ 取消、返回、完成 end ------*/
/*------ 熟客卡設定 start ------*/
#content .account_info{
	float:left;
	width:100%;
	padding:15px 0;
	margin-bottom:5px;
	background:url(images/bg_drawing.png) repeat;
	background-color:#FFF;
	text-align:center;
	line-height:1.5;
}
#content .dashboard{
	float:left;
	width:100%;
}
#content .dashboard a{
	display:block;
	float:left;
	width:32%;
	height:32%;
	margin-left:1%;
	background-color:#FB839E;
}
#content .dashboard a:hover{
	opacity:0.9;
}
#content .dashboard a span{
	float:left;
}
#content .dashboard a span.pic img{
	height:118px;
}
#content .dashboard a span.name{
	line-height:118px;
	color:#FFF;
	text-decoration:none;
}
/*------ 熟客卡設定 end ------*/
/*------ 熟客卡設定-編輯優惠與發行 start ------*/
.card_list{
	width:100%;
}
.card_list div{
	float:left;
}
.card_list .pic{
	height:53px;
	margin-right:15px;
}
.card_list .pic img{
	height:53px;
}
.card_list .name{
	width:50%;
}
.card_list .name .top{
	width:100%;
}
.card_list .name .bottom{
	width:100%;
	height:28px;
	overflow:hidden;
	font-size:16px;
	color:#666;
}
.card_list .name .bottom span{
	color:#F00;
}
.card_list .funtion{
	float:right;
	padding-top:14px;
}
.card_list .funtion a{
	float:right;
	margin-left:15px;
}
.card_list .funtion a img{
	height:30px;
}
.card_list .funtion a:hover img{
	opacity:0.9;
}
/*--- 選擇分店、已選分店 start ---*/
#content .content_list .ct ul{
	float:left;
}
#content .content_list .ct ul li{
	float:left;
	width:100%;
	list-style:none;
}
#content .content_list .ct .shop{
	width:85%;
	height:72px;
	overflow:hidden;
}
#content .content_list .ct .shop li{
	font-size:12px;
	color:#666;
}
#content .content_list .ct .shop li.name{
	font-size:16px;
	color:#333;
}
/*--- 選擇分店、已選分店 end ---*/
/*------ 熟客卡設定-編輯優惠與發行 end ------*/
/*------ 熟客卡設定-商家形象設定 start ------*/
.shop_editor_clear{
	clear:both;
	margin-bottom:10px;
}
#shop_editor{
	margin:0 auto;
	width:375px;
	padding:141px 36px 117px 38px;
	background:url(images/bg_mobile.png) no-repeat;
}
.shop_editor_body{
	width:375px;
	height:644px;
	background-color:#e5e5e5;
	overflow:scroll;
}
#shop_editor .main_ci{
	width:100%;
	position:relative;
	margin-bottom:15px;
	background-color:#FFF;
}
#shop_editor .main_ci .banner{
	width:100%;
	height:126px;
	overflow:hidden;
	background:url(images/bg_drawing.png) #ddd repeat;
}
#shop_editor .main_ci .banner img{
	width:100%;
}
#shop_editor .main_ci .vipcard{
	position:relative;
	margin:-80px auto;
	width:300px;
	height:168px;
	box-shadow:0 0 3px #999;
	border-radius:17px;
}
#shop_editor .main_ci .vipcard .icon{
	float:left;
	margin:10px 10px 0 10px;
}
#shop_editor .main_ci .vipcard .icon img{
	height:44px;
}
#shop_editor .main_ci .vipcard .name{
	float:left;
	margin-top:18px;
	color:#FFF;
}
#shop_editor .main_ct{
	width:92%;
	margin:80px 0 0 0;
	padding:10px 4%;
	background-color:#FFF;
}
#shop_editor .main_ct .tp{
	font-size:12px;
	color:#666;
	margin-bottom:3px;
}
#shop_editor .main_ct .ct{
	margin-bottom:10px;
}
#shop_editor .get{
	margin-top:-14px;
	margin-bottom:30px;
	text-align:center;
}
#shop_editor .get a{
	background-color:#C70000;
	padding:10px 20px;
	border-radius:30px;
	color:#FFF;
	cursor:default;
}
#shop_editor .get a:hover{
	text-decoration:none;
}
#shop_editor .other_ct{
	width:100%;
	padding-bottom:15px;
	margin-bottom:15px;
	background-color:#FFF;
}
#shop_editor .other_ct .title{
	width:94%;
	padding:10px 3%;
	margin-bottom:15px;
	border-bottom:1px solid #ddd;
	background-color:#FFF;
}
#shop_editor .other_ct .et{
	position:relative;
	width:89.9%;
	padding:1% 2%;
	margin:0 3%;
	min-height:102px;
	border:1px dashed #ccc;
	font-size:14px;
}
#shop_editor .other_ct .et .pic{
	float:left;
	width:32.3%;
	max-height:102px;
	margin-right:1%;
	overflow:hidden;
}
#shop_editor .other_ct .et .pic img{
	width:99%;
}
/*--- 編輯按鈕 start ---*/
.main_ci_edit{
	position:absolute;
	padding:4px 8px;
	font-size:14px;
	background-color:#FB839E;
	color:#FFF;
}
.main_ci_edit:hover{
	background-color:#fe99b0;
	text-decoration:none;
}
#shop_editor .main_ci .banner .main_ci_edit{
	top:5px;
	right:10px;
}
#shop_editor .main_ci .vipcard .main_ci_edit{
	top:0;
	right:0;
}
#shop_editor .other_ct .et .main_ci_edit{
	top:0;
	right:0;
}
/*--- 編輯按鈕 end ---*/
/*------ 熟客卡設定-商家形象設定 end ------*/
/*------ 熟客卡設定-商家形象設定-預覽 start ------*/
#container .editor_preview .other_ct .et{
	width:94%;
	margin:0 1%;
	padding:0 2%;
	border:none;
	min-height:106px;
}
#container .editor_preview .other_ct .et .slide_pic{
	width:100%;
	height:117px;
	overflow:scroll;
}
#container .editor_preview .other_ct .et .slide_pic .box{
	float:left;
	width:535px;
	height:102px;
}
#container .editor_preview .other_ct .et .slide_pic .box .pic{
	float:left;
	width:102px;
	height:102px;
	margin-left:5px;
	margin-right:0;
	overflow:hidden;
}
#shop_editor .other_ct .tp{
	width:94%;
	padding:0 3% 3px 3%;
	font-size:12px;
	color:#666;
}
#shop_editor .other_ct .ct{
	width:94%;
	padding:0 3% 15px 3%;
}
#shop_editor .other_ct .address{
	position:relative;
	width:94%;
	padding:0 3%;
	min-height:50px;
}
#shop_editor .other_ct .address .shop{
	width:100%;
}
#shop_editor .other_ct .address .shop li{
	width:100%;
	list-style:none;
	font-size:12px;
	color:#666;
}
#shop_editor .other_ct .address .shop .name{
	font-size:16px;
	color:#333;
}
#shop_editor .other_ct .address .icon_next{
	position:absolute;
	top:18px;
	right:20px;
	cursor:default;
}
#shop_editor .other_ct .address .icon_next img{
	height:18px;
}
/*------ 熟客卡設定-商家形象設定-預覽 end ------*/
/*------ 熟客卡設定-商家形象設定-編輯形象圖片 start ------*/
#content .uploadbox{
}
#content .uploadbox .fileupload-buttonbar{
	margin-bottom:15px;
}
#content .uploadbox .main_upload_btn{
	text-align:center;
}
#content .uploadbox .main_upload_btn .fileinput-button{
	color:#0076FF;
}
#content .uploadbox .main_upload_note{
	text-align:center;
	font-size:14px;
	color:#666;
}
#content .uploadbox .table-striped .btn-primary{
	background:none;
	border-color:#3498DB;
	color:#3498DB;
	margin-right:5px;
}
#content .uploadbox .table-striped .btn-warning{
	background:none;
	border-color:#3498DB;
	color:#3498DB;
}
#content .uploadbox .table-striped .btn span{
	display:inline-table;
}
#content .uploadbox .table-striped .files{
	background-color:#FFF;
}
#content .uploadbox .table-striped .files tr{
	border-bottom:1px solid #ddd;
}
/*------ 熟客卡設定-商家形象設定-編輯形象圖片 end ------*/
/*------ 熟客卡設定-商家形象設定-編輯卡片樣式 start ------*/
.editor_card_preview{
	width:100%;
	padding:15px 0;
}
.editor_card_preview .vipcard{
	margin:0 auto;
	position:relative;
	width:300px;
	height:168px;
	box-shadow:0 0 3px #999;
	border-radius:17px;
}
.editor_card_preview .vipcard .icon{
	float:left;
	margin:10px 10px 0 10px;
}
.editor_card_preview .vipcard .icon img{
	height:44px;
}
.editor_card_preview .vipcard .name{
	float:left;
	margin-top:18px;
	color:#FFF;
}
.editor_card_preview .type_icon{
	padding-top:10px;
}
.editor_card_preview .type_icon div{
	text-align:center;
	font-size:14px;
}
.editor_card_preview .type_icon div img{
	height:32px;
}
.pickbox{
	margin:0 auto;
	width:40%;
}
.pickbox div{
	float:left;
	width:25%;
	padding:10px 0;
	text-align:center;
}
.pickbox div a{
	margin:0 auto;
	display:block;
	width:50px;
	height:50px;
	border-radius:50px;
	border:2px solid #fff;
}
.pickbox div a.current{
	border:2px solid #F00;
}
.pickbox div a img{
	height:44px;
	margin-top:3px;
}
/*--- 熟客卡顏色底紋 start ---*/
.patton01{
	background:url(images/card_patton_1.png) repeat;
}
.patton02{
	background:url(images/card_patton_2.png) repeat;
}
.patton03{
	background:url(images/card_patton_3.png) repeat;
}
.patton04{
	background:url(images/card_patton_4.png) repeat;
}
.patton05{
	background:url(images/card_patton_5.png) repeat;
}
.patton06{
	background:url(images/card_patton_6.png) repeat;
}
.patton07{
	background:url(images/card_patton_7.png) repeat;
}
.patton08{
	background:url(images/card_patton_8.png) repeat;
}
.patton09{
	background:url(images/card_patton_9.png) repeat;
}
.patton10{
	background:url(images/card_patton_10.png) repeat;
}
.patton11{
	background:url(images/card_patton_11.png) repeat;
}
.patton12{
	background:url(images/card_patton_12.png) repeat;
}
.color01{
	background-color:#F6567A;
}
.color02{
	background-color:#F2644E;
}
.color03{
	background-color:#EA9E4D;
}
.color04{
	background-color:#7D5C6D;
}
.color05{
	background-color:#EB66A8;
}
.color06{
	background-color:#5684E6;
}
.color07{
	background-color:#7658F8;
}
.color08{
	background-color:#5F46C6;
}
.color09{
	background-color:#5AB4AB;
}
.color10{
	background-color:#5CA577;
}
.color11{
	background-color:#2A92B7;
}
.color12{
	background-color:#365CA3;
}
/*--- 熟客卡顏色底紋 end ---*/
/*------ 熟客卡設定-商家形象設定-編輯卡片樣式 end ------*/
/*------ 熟客卡設定-商家形象設定-編輯商家介紹 start ------*/
#content .editor_action{
	float:left;
	width:100%;
	padding:15px 0;
}
#content .editor_action div{
	text-align:center;
}
#content .editor_action .btn a{
	color:#0076FF;
}
#content .editor_action .btn a:hover{
	text-decoration:none;
}
#content .editor_action .note{
	color:#666;
}
/*------ 熟客卡設定-編輯商家介紹 end ------*/
/*------ 會員資訊 start ------*/
#content .tabs_member{
	float:left;
	padding:10px 25%;
    width:50%;
}
#content .tabs_member div{
	float:left;
}
#content .tabs_member .left{
	margin-left:0.8%;
	width:49%;
}
#content .tabs_member .right{
	width:49.5%;
}
#content .tabs_member div a{
	width:100%;
	height:33px;
	padding-top:5px;
	border:1px solid #43ADA1;
	color:#43ADA1;
	text-align:center;
}
#content .tabs_member div a.current{
	background-color:#43ADA1;
	color:#fff;
}
#content .tabs_member div a:hover{
	text-decoration:none;
}
#content .tabs_member .left a{
	float:right;
	border-radius:4px 0 0 4px;
}
#content .tabs_member .right a{
	float:left;
	border-radius:0 4px 4px 0;
}
.content_list .mbr_info{
	float:left;
	width:100%;
}
.content_list .mbr_info .number{
	float:left;
	margin-top:12px;
}
.content_list .mbr_info .select_1{
	float:right;
	margin-top:5px;
}
.content_list .mbr_box{
	float:left;
	width:100%;
}
.content_list .mbr_box:hover{
	opacity:0.8;
}
.content_list .mbr_box .id{
	float:left;
	width:63px;
	margin-right:15px;
}
.content_list .mbr_box .id div{
	float:left;
	width:100%;
	font-size:12px;
	color:#333;
	text-align:center;
}
.content_list .mbr_box .id .pic{
	margin-bottom:4px;
}
.content_list .mbr_box .id .pic img{
	height:44px;
}
.content_list .mbr_box .id .name{
	height:20px;
	overflow:hidden;
}
.content_list .mbr_box .info{
	float:left;
	width:150px;
	color:#666;
}
.content_list .mbr_box .info .title{
	font-size:14px;
	margin-bottom:4px;
}
.content_list .mbr_box .info div{
	font-size:12px;
}
.content_list .mbr_box .icon_next{
	float:right;
	margin-top:18px;
	margin-right:10px;
}
.content_list .mbr_box .icon_next img{
	height:18px;
}
/*--- page_show start ---*/
.page_show{
	width:100%;
	height:30px;
	padding:20px 0 10px 0;
	text-align:center;
}
.page_show a{
	display:inline-table;
	width:30px;
	height:30px;
	line-height:30px;
	border-radius:4px;
	background-color:#eee;
	font-size:12px;
	color:#333;
	text-decoration:none;
}
.page_show a:hover{
	background-color:#ddd;
}
.page_show a.current{
	background-color:#666;
	color:#FFF;
}
.page_show a i{
	line-height:30px;
	font-size:16px;
}
/*--- page_show end ---*/
/*------ 會員資訊 end ------*/
@media only screen and (max-width:1023px) {
/*--------- content ---------*/
/*------ content layout start ------*/
#content .content_topic{
	width:94%;
	padding:10px 3%;
}
#content .content_list{
	width: 100%;
	padding:10px 3%;
}
#content .block{
	width:97%;
	padding:10px 1.5%;
	margin:0;
	border-radius:0;
	border-bottom:1px solid #ddd;
	box-shadow:none;
}
/*------ content layout end ------*/
/*------ 取消、返回、完成 start ------*/
#content .btn_action .all{
	width:94%;
	padding:0 3%;
}
#content .btn_action .left a{
	width:100%;
}
#content .btn_action .right a{
	width:100%;
}
/*------ 取消、返回、完成 end ------*/
/*------ 熟客卡設定 start ------*/
#content .dashboard a{
	position:relative;
}
#content .dashboard a span{
	width:100%;
	text-align:center;
}
#content .dashboard a span.name{
	position:absolute;
	bottom:10px;
	left:0;
	line-height:20px;
	font-size:12px;
}
#content .dashboard a span.pic img{
	width:100%;
	height:auto;
}
/*------ 熟客卡設定 end ------*/
/*------ 熟客卡設定-編輯優惠與發行 start ------*/
.card_list .name .bottom{
	height:auto;
	font-size:12px;
	line-height:1.3;
}
/*------ 熟客卡設定-編輯優惠與發行 end ------*/
/*------ 熟客卡設定-商家形象設定-編輯形象圖片 start ------*/
#content .uploadbox .table-striped .files tr .mobile_hide{
	display:none;
}
#content .uploadbox .table-striped .files tr td .size{
	font-size:12px;
}
#content .uploadbox .table-striped .files tr td .btn{
	padding:4px 10px;
}
#content .uploadbox .table-striped .files tr td .btn-primary{
	margin-right:0;
}
/*------ 熟客卡設定-商家形象設定-編輯形象圖片 end ------*/
/*------ 會員資訊 start ------*/
#content .tabs_member{
	padding:10px 3%;
    width:94%;
}
.mobile_hide_clear{
	clear:both;
}
/*------ 會員資訊 end ------*/
}
@media only screen and (max-width:640px) {
/*------ 熟客卡設定-商家形象設定 start ------*/
.shop_editor_clear{
	display:none;
}
#shop_editor{
	width:100%;
	padding:0;
	background:none;
}
.shop_editor_body{
	width:100%;
	height:auto;
	background-color:#e5e5e5;
	overflow:auto;
}
.pickbox{
	width:100%;
}
/*------ 熟客卡設定-商家形象設定 end ------*/
}

/*------ 寄杯相關 start ------*/
/*--- header 顏色 ---*/
#header .card_off{ 
	background-color:#6d7b95;
}
/*---新增寄杯---*/
#content #accordion .content_inner {
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 0;
    margin-top: 30px;
}
.content_panel{
	padding-bottom: 100px;
    background: #eee;
}
#content  .content_panel span.ui-accordion-header-icon {
    position: relative;
    top: 15px;
    float: left;
    margin-right: 3px;
}
#content  .content_panel label.content_list_tp {
    border: none;
}
#content #accordion .content_list {
    width: 100%;
    float: none;
}
/*--- content_inner ---*/
#content .content_inner{
	background-color: #eee;
	overflow: hidden;
	margin-bottom: 0px;
	padding-top: 10px;
}
/*--- content_inner topic div with radio button---*/
#content .content_inner .fa{
	display: inline;
    margin-left: 15px;
}
#content .content_inner .content_list_tp{
	padding:10px 1.5%;
	background-color:#FFF;
	margin-bottom: 0px;
	width: 90%;
    border: none;
    margin-top: 0;
	border-top: 1px solid #ddd;
}
#content .content_inner .content_list_tp .topic_bl{
	font-size:16px;
	font-weight: 600;
	color:#1774dc;
	display: inline-block;
}
#content .content_inner .content_list_tp input[type="radio"]{
	margin-right: 10px; 
}
/*--- content_inner topic div without radio button---*/
#content .content_inner .content_list_tp_nb{
	background: none;
	border: none;
	border-bottom: 1px solid #ddd;
}
#content .content_inner .content_list_tp_nb .topic_bl_nb{
	font-size:16px;
	font-weight: 600;
	color:#1774dc;
	display: inline-block;
	background: none;
}
/*--- content_inner list div ---*/
#content .content_inner .content_list{
	width: 100%;
	padding: 10px 1.5%;
	border-bottom: 1px solid #ddd;
	background-color:#FFF;
	margin-bottom: 0px;
}
/*--- 新增寄杯咖啡口味 ---*/
.taste{
	border-bottom: solid 1px #dddddd;
}
.taste .coffee{
	display: inline-block;
	padding: 0px 7px;
	background-color: #ddd;
	border: 1px solid #999;
	border-radius:100px;
	color: #333;
	font-size: 16px;
	margin-bottom: 10px;
	margin-right: 5px;
}
/*--- 選取的咖啡 ---*/
.taste .coffee_select{
	color: #fff;
	background-color: #1774dc;
	border: 1px solid #1774dc;
	position: relative;
}
.check_layer{
	display: none;
}
.coffee_select .check_layer{
	display: block;
    width: 1em;
    height: 1em;
    color: #1774dc;
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    z-index: 1;
}
/*--- 兌換寄杯咖啡口味 ---*/
.coffee_tp{
	font-size: 24px;
	font-weight: normal;
	color: #333;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.coffee_tp_no{
	font-size: 24px;
	font-weight: normal;
	color: #333;
	padding-bottom: 10px;
	border-bottom: none;
}
/*--- 數量 ---*/
.order{
	padding: 10px 0;
	border-bottom: dotted 1px #dddddd;
}
.order .text_0{
	display: inline-block;
	position: relative;
	top: 2px;
	margin-right: 20px;
	color: #333;
}
.order .num{
	display: inline-block;
}
.order .num input{
	width: 112px;
	height: 44px;
	background-color: #dddddd;
	border: none;
	font-size: 36px;
	font-family: HelveticaNeue;
	text-align: right;
}
.order_last{
	border: none;
}
.order_no .num input{
	width: 102px;
	height: 44px;
	border: none;
	background: none;
	padding-right: 10px;
}
/*--- 數量 +/- ---*/
.order i{
	font-size: 30px;
    color: #1774dc;
    margin-left: 20px;
    position: relative;
	top: 6px;
}
.set_layer{
	display: inline-block;
	width: 26px;
	height: 26px;
	background-color: #1774dc;
	border-radius: 16px;
	color: #fff;
	text-align: center;
	font-size: 30px;
	line-height: 20px;
	position: relative;
	top: 4px;
	margin-left: 20px;
}
/*--- 查看明細 ---*/
.order .detail{
	display: inline-block;
    width: 100px;
    text-align: center;
    margin-left: 8px;
    font-size: 12px;
    font-weight: 300;
}
.order .detail a{
    color: #999;
    text-decoration: underline;
}
/*--- 置底按鈕 ---*/
.btn_bottom{
	background: #eee;
	text-align: center;
}
.btn_bottom .left_btn{
	width: 135px;
    height: 40px;
    border: solid 1px #bf0000;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
	margin: 0 3px;
}
.btn_bottom .left_btn a{
	background: none;
}
#content .btn_bottom .left_btn a{
    color: #bf0000;
	height: 40px;
}
.btn_bottom .right_btn{
	width: 135px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
	margin: 0 3px;
}
.btn_bottom .right_btn a{
}
#content .btn_bottom .right_btn a{
	height: 40px;
}
/*--- 更正寄杯 ---*/
#container .correct{
	background: #eee;
}
.correct .content_inner{
	margin-bottom: 10px !important;
}
.right i{
	font-size: 24px !important;
    margin-left: 3px !important;
}
.content_line{
	margin-bottom: 10px;
    line-height: initial;
}
.content_list .list64{
	line-height: inherit;
	margin-bottom: 0px;
}
.list64 .left{
	line-height: 64px;
}
.list64 .right{
	line-height: 64px;
}
.list64 .right input{
	width: 102px;
    padding-right: 10px;
    text-align: right;
    height: 44px;
    border: none;
    background: none;
    font-size: 36px;
	margin-right: 10px;
	font-family: HelveticaNeue;
	margin-bottom: 5px;
}
.text_0{
	display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 20px;
    color: #333;
}
.left .text_0{
    top: 0px;
}
.num{
	display: inline-block;
}
.correct .num>input{
	width: 102px;
    padding-right: 10px;
	height: 44px;
    background: none;
    font-size: 36px;
    text-align: right;
	font-family: HelveticaNeue;
    border-radius: 0;
}
.correct .num>input:disabled{
    opacity: 1;
}
.content_listline{
    padding-top: 0 !important;
}
.correct .content_group .tag_group{
	margin-top: 0px;
	margin-bottom: 10px;
}
/*--- 寄杯列表 ---*/
#content .nob_grid{
	float: none;
	background: #fff;
    display: block;
    width: 900px;
    margin: 0 auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    padding: 10px 0 0 0;
}
#content .nob_grid_last{
	margin-top: 0;
    margin-bottom: 30px;
}
/*--- 寄杯列表 topic ---*/
#content .nob_grid .tp_l{
	text-align: right;
	font-size: 18px;
	font-weight: 300;
	width: 135px;
	display: inline-block;
}
#content .nob_grid .tp_r{
	text-align: left;
	font-size: 18px;
	font-weight: 300;
	display: inline-block;
}
#content .nob_grid .tp_c{
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	margin: 0 auto;
}
/*--- 寄杯列表 content ---*/
#content .nob_grid .ct{
	text-align: center;
	font-size: 20px;
	border-top: 1px solid #eee;
	padding: 5px 0;
}
#content .nob_grid .ct_first{
	margin-top: 10px;
}
#content .nob_grid .ct_last{
	font-weight: 100;
	border-top: 1px solid #eee;
	padding: 5px 0;
}
/*--- 寄杯列表 提醒文字 ---*/
#content .remind{
	text-align: center;
	background: none;
    border: none;
    padding: 0 0 0 0;
    font-size: 17px;
    color: #999;
    float: none;
    width: 100%;
}
/*--- 首頁會員 ---*/
.mbr_profile{
	float:left;
	width:100%;
}
.mbr_profile .id{
	float:left;
	width:63px;
	margin: 0 5px;
}
.mbr_profile .id div{
	float:left;
	width:100%;
	font-size:12px;
	color:#333;
	text-align:center;
}
.mbr_profile .id .pic{
	width: 70px;
    height: 70px;
    border-radius: 35px;
    overflow: hidden;
}
.mbr_profile .id .pic img{
	height:70px;
}
.mbr_profile .id .edit{
	height: 20px;
    position: relative;
    bottom: 20px;
    background: #000;
    opacity: 0.7;
    color: #fff;
    font-size: 12px;
    font-family: PingFangSC;
    width: 70px;
}
.mbr_profile .info{
	float:left;
	width: 77%;
	color:#666;
	margin-left: 10px;
}
.mbr_profile .info .title{
	margin-bottom:4px;
	font-size: 16px;
	font-weight: 600;
	color: #333333;
}
.mbr_profile .info div{
	font-size:14px;
}
/*--- 首頁選單 ---*/
#content .link_list{
	height: 70px;
	background-color: #6a9475;
	margin-bottom: 20px;
}
.link_list a{
	color: #fff;
	text-decoration: none;
}
.link_list a:hover{
	color: #fff;
	text-decoration: none;
	opacity: 0.8;
}
.link_list .text{
	font-size: 20px;
	float: left;
	width: 81%;
	height: 91px;
    position: relative;
    bottom: 10px;
    float: left;
    line-height: 90px;
    margin-left: 25px;
}
.link_list .icon_next{
	float: left;
	width: 36px;
	height: 91px;
    position: relative;
    bottom: 10px;
    line-height: 83px;
}
.link_list .icon_next img{
	width: 36px;
	height: 36px;
	transform:rotate(180deg);
	position: relative;
    top: 25px;
}
.list_no{
	opacity: 0.5;
}
.brick {
    height:500px;
}
/*--- RWD ---*/
@media only screen and (max-width:1023px) {
	#accordion .content_inner{
		overflow: visible;
		background: #fff;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding-top: 0;
		margin-top: 30px;
	}
	#accordion .content_list{
		width: 100%;
        float: none;
	}
    #content .content_inner .content_list_tp {
        padding: 10px 3%;
		width: 100%;
    }
    #content .content_inner label.content_list_tp {
        border: none;
		width: 89%;
    }

    #content .content_inner .content_list {
        padding: 3% 10px 0px 10px;
    }
	#accordion .content_last{
		margin-bottom: 100px;
	}
	.content_last{
		padding-bottom: 100px;
	}
    .order .num input {
        width: 102px;
        padding-right: 10px;
        border-radius: 0;
    }
    .btn_bottom {
        background: #eee;
        position: fixed;
        bottom: 0%;
        z-index: 1;
    }
    .set_height {
        display: block;
        height: 80px;
        background-color: #eee;
    }
    #content .nob_grid {
        width: 270px;
    }
    #content .remind {
    }
    #content .mbr_profile {
        margin-bottom: 20px;
    }
    #content .link_list {
        background-color: #6a9475;
        margin-bottom: 20px;
    }
    #content .list_m {
        margin-bottom: 0px;
    }
    #editPanel {
        background-color: #eee;
        height: 100%;
    }
}
/*------ 寄杯相關 end ------*/

/*------ 點數相關 start ------*/
/*--- 發送點數 ---*/
.list92 .left{
	line-height: 92px;
}
.list92 .right{
	line-height: 92px;
}
.list92 .right input{
	width: 146px;
    padding-right: 10px;
    text-align: right;
    height: 44px;
    border: none;
    background: #ddd;
    font-size: 36px;
	margin-right: 10px;
	font-family: HelveticaNeue;
	margin-bottom: 5px;
}
.list92 .right input{
	width: 146px;
    padding-right: 10px;
    text-align: right;
    height: 44px;
    border: none;
    background: #ddd;
    font-size: 36px;
	margin-right: 10px;
	font-family: HelveticaNeue;
	margin-bottom: 5px;
}
.list92 .right input:disabled{
    background: none;
    opacity: 1;
}
#container .point .content_group{
	padding: 10px 10px 0px 10px;
}
.point .content_group .provision_list{
	color: #666;
	font-size: 18px;
}
/*--- 兌換點數 ---*/
.list_link{
	margin: 0 10px 10px;
    background: #fff;
    padding: 8px;
    color: #1774dc;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}.list_no_link{
    background: #bbb;
    color: #999;
    box-shadow: none;
}
.point .content_inner{
	padding-bottom: 20px !important;
}
.point .num>input {
    width: 112px;
    padding-right: 10px;
    height: 44px;
    background: #ddd;
	border: none;
    font-size: 36px;
    text-align: right;
    font-family: HelveticaNeue;
    border-radius: 0;
}
.point .num>input:disabled {
    background: none;
    opacity: 1;
}
.point .list_auto .left{
    padding: 8px 0;
        width: 100%;
}
.point .list_auto .left div{
    margin-right: 0px;
    float: left;
}
.point .list_auto .left div:nth-child(1){
    width: 17%;
}
.point .list_auto .left div:nth-child(2){
    width: 82%;
}
.input_list i{
	font-size: 30px;
    color: #1774dc;
    margin-left: 20px;
    position: relative;
    top: 6px;	
}
.input_list i.disable{
	color: #ccc;
}
.listline_none{
	border: none !important;
	background: none !important;
}
/*------ 點數相關 end ------*/

/*----熟客卡_寄杯方案 start----*/
#header .left a{
	font-size: 12px;
	color: #fff;
	opacity: 0.8;
}
#header .left a:hover{
	text-decoration: none;
}
#container>.card{
	background: #eee;
}
#container .card .content_list{
	height: 70px;
	background-color: #fb839e;
	width: 100%;
	position: relative;
}
#container .card .content_list:first-child{
	margin-top: 20px;
}
#container .card .content_list a{
	color: #fff;
	display: block;
}
#container .card .content_list a:hover{
	text-decoration: none;
}
.card .content_list .icon{
	display: inline-block;
    height: 70px;
    line-height: 70px;
    position: relative;
    bottom: 10px;
    font-size: 20px;
	margin-left: 20px;
	width: 24px;
    text-align: center;
}
.card .content_list .text{
	font-size: 20px;
    width: 80%;
    height: 70px;
    position: relative;
    bottom: 10px;
    line-height: 70px;
    display: inline-block;
	margin-left: 5px;
}
.card .content_list .icon_next{
	width: 36px;
    height: 70px;
    position: absolute;
    bottom: 0px;
    line-height: 70px;
    display: table;
    right: 10px;
}
.card .content_list .icon_next img{
	width: 36px;
    height: 36px;
    transform: rotate(180deg);
}
.card .content_list .icon_next i{
	font-size: 42px;
	display: table-cell;
    vertical-align: middle;
	text-align: center;
}
/*---新增方案---*/
#container .card .content_inner{
	background: #fff;
    padding: 0;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
	font-size: 12px;
}
#container .card .last{
	margin-bottom: 100px;
}
#container .card .content_group{
	padding: 10px 15px 5px 15px;
}
#container .card .content_group:first-child{
	border-bottom: 1px solid #ddd;
}
#container .card .content_group_nb:first-child{
	border: none;
}
#container .card .last .content_group:first-child{
	border: none;
}
.content_group .title{
	margin-bottom: 10px;
}
.content_group .title .main_title{
	display: inline-block;
    color: #333;
    font-weight: bold;
}
.content_group .title .sub_title{
	display: inline-block;
    color: #666;
}
.content_group .input_text{
	margin-bottom: 10px;
}
.content_group .input_text input{
	height: 40px;
    border-radius: 4px;
    background-color: #dddddd;
    padding-left: 10px;
    width: 100%;
    border: none;
    font-size: 18px;
}
.content_group .input_delete input,textarea{
	width: 80%;
	display: inline;
    float:left;
    margin-bottom:15px;
    margin-right:10px;
}
.content_group .input_delete input.nofloat,textarea.nofloat{
    float:none;
}
.content_group .input_delete ml{
	width: 80%;
	display: inline;
    float:left;
    margin-bottom:15px;
}
.content_group input[disabled]{
	background: #fff;
    border: 1px solid #eee;
    color: #333;
}
.content_group .input_text .delete{
	display: table;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
	text-align: center;
    margin: 0 0px;
    float: left;
}
.content_group .input_text .invalid{
	color: #ccc;
}
#content .content_inner .delete .fa{
	margin: 0;
}
#content .content_inner .delete .h140{
    line-height: 140px;
}
.content_group .tag_group{
    clear:both;
	margin-top: 10px;
}
.content_group .tag{
	display: inline-block;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 100px;
    color: #333;
    font-size: 14px;
    margin-bottom: 12px;
    margin-right: 4px;
}
.content_group .tag:active{
	background: #1774dc;
    color: #fff;
    border: 1px solid #1774dc;
}
.content_group .tag_gray{
	background: #ddd;
    color: #333;
    border: 1px solid #999;
    position: relative;
}
.content_group .tag_select{
	background: #1774dc;
	color: #fff;
	border: 1px solid #1774dc;
}
#content .content_inner .content_group .tag .check_layer{
	display: none;
	margin: 0px
}
#content .content_inner .content_group .tag_select .check_layer{
	display: block;
    width: 18px;
    height: 18px;
    background-color: #1774dc;
    border: 1px solid #fff;
    border-radius: 9px;
    position: absolute;
    top: -7px;
    right: -6px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}
.content_group .edit{
	display: inline-block;
	text-decoration: underline;
}
#container .card .add_item{
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
	color: #0076ff;
    font-weight: 300;
    clear: both;
}
.content_group .provision{
	font-size: 18px;
    color: #333;
    height: 32px;
	margin-bottom: 10px;
	position: relative;
    margin-left: 45px;
}
.content_group .provision .checkbox{
    display: inline-block;
    height: 30px;
    width: 30px;
	margin: 0 5px;
	position: absolute;
    left: -45px;
}
.content_group .provision label{	
	background: #ddd;
    border: 1px solid #999;
    display: inline-block;
    height: 30px;
    width: 30px;
}
.content_group .provision label:after{
	-moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 4px solid #ccc;
    border-top: 4px solid #ccc;
    content: '';
    display: block;
    height: 16px;
    left: -16px;
    position: relative;
    top: 14px;
    width: 10px;
}
.content_group .provision input{
	display: none;
}
.content_group .provision input:checked + label {
	background: #4bd863;
	border: #4bd863;
}
.content_group .provision input:checked + label:after {
    -moz-animation: check 0.8s;
    -webkit-animation: check 0.8s;
    animation: check 0.8s;
    border-color: #fff;
    left: -15px;
    top: 15px;
}
.content_group .provision_list{
    font-size: 16px;
	color: #999;
	list-style: none;
    padding:0;
}
.content_group .provision_list li{
	margin-bottom: 10px;
	padding-left: 1em; 
    text-indent: -.7em;
}
.content_group .provision_list li:before {
    content: "• ";
    color: #666; 
}
/*---寄杯方案---*/
#container .page .new{
    text-align: right;
}
#container .page .new img{
	width: 80%;
    position: relative;
    top: 10px;
    right: 25px;
}
#container .page .old{
}
#container .page .content_inner{
	background: none;
    border: none;
}
.page .content_inner .title{
	margin: 0 10px;
	height: 35px;
}
.page .content_inner .title .main_title{
	font-size: 16px;
    font-weight: bold;
    color: #1774dc;
    float: left;
    width: 85%;
}
.page .content_inner .title .right{
	float: right;
    color: #eee;
}
.page .content_inner .title .right img{
	width: 30px;
    height: 30px;
}
.page .content_inner .list{
	clear: both;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	background: #fff;
    padding: 10px;
}
.page .content_inner .list_close {
	background: #ddd;
}
.page .content_inner .list .coffee_tp{
	font-size: 20px;
    color: #333;
    line-height: 1.6;
}
.page .content_inner .list .total{
	padding: 10px 0;
    border-bottom: dashed 1px #dddddd;
    clear: both;
    height: 45px;
}
.page .content_inner .list .total .text{
	font-size: 16px;
    color: #999;
    float: left;
}
.page .content_inner .list_close .total .text{
    color: black;
}
.page .content_inner .list .total .num{
	float: right;
    font-size: 20px;
    color: #333;
    line-height: 24px;
}
.page .content_inner .list .time{
	padding: 10px 0;
    border-bottom: dashed 1px #dddddd;
    clear: both;
    height: 45px;
	
}
.page .content_inner .list .time .text{
	font-size: 16px;
    color: #999;
    float: left;
	
}
.page .content_inner .list_close .time .text{
    color: black;
}
.page .content_inner .list .time .date_time{
	float: right;
    font-size: 16px;
    color: #333;
    line-height: 24px;
	
}
.page .menu_status{
    background:#aaa;
    font-size:16px;
    margin: 10px 0 0 0;
	text-align: center;
}
#container .page .content_group:first-child{
	border: none;
    padding: 10px;
}
#content .btn_bottom .all .bg_white{
	background: #fff;
    color: #e74c3c;
    height: 40px;
    border: solid 1px #e74c3c;
    border-radius: 4px;
}
#container .page .all .btn_bottom{
	background: #f7f7f7;
}
/*---品項---*/
#container .coffe .content_list:first-child{
	border-top: 1px solid #ddd;
}
#container .coffe .content_list{
    background: #fff;
	height: auto;
}
.coffe .content_list .text{
	height: auto;
	line-height: 1.5;
	color: #333;
    font-size: 16px;
	position: inherit;
    word-break: break-all;
}
.coffe .content_list .icon_next{
	height: auto;
    line-height: inherit;
    position: absolute;
    float: right;
    top: 50%;
    margin-top: -15px;
}
.coffe .description{
	display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    clear: both;
    color: #666;
}
.coffe textarea{
	resize: none;
	width: 100%;
	border-radius: 4px;
	background: #ddd;
	padding: 5px 10px;
}
.alert-danger{
	font-size: 16px;
    font-weight: bold;
    border: #a94442 1px solid;
    margin: 10px;
}
/*----熟客卡_寄杯方案 end----*/

/*----熟客卡_形象設定 start----*/
/*---形象圖片---*/
#container .image{
	text-align: center;
	height: 100%;
}
#container .image #editPanel{
	height: auto;
}
#container .image .add_img{
	background: #eee;
}
#container .image .last{
	margin: 0;
	padding-bottom: 100px;
}
#container .image .add_img input{
	display: none;
}
#container .image .add_img label{
	display: block;
	font-size: 16px;
	line-height: 22px;
	margin: 30px 0 15px 0;
	color: #0076ff;
}
#container .image .add_img .des{
	font-size: 12px;
	color: #999;
	margin: 15px;
}
#container .image .img_item{
	margin: 10px auto;
    display: block;
    width: 320px;
	height: 160px;
}
#container .image .img_item:first-child{
	margin-top: 20px;
}
#container .image .img_item .order{
	display: block;
    width: 40px;
    height: 160px;
    float: left;
	padding: 0;
    position: relative;
    border: none;
}
#container .image .img_item .order i{
	color: #333;
    font-size: 20px;
	margin: 0 10px;
    position: absolute;
	left: 0;
}
#container .image .img_item .order i:first-child{
	top: 50px;
}
#container .image .img_item .order i:last-child{
	top: initial;
	bottom: 50px;
}
#container .image .img_wrap .img_item:first-child .order i:first-child{
	display: none;
}
#container .image .img_wrap .img_item:first-child .order i:last-child{
	bottom: 70px;
}
#container .image .img_wrap .img_item:last-child .order i:first-child{
	top: 70px;
}
#container .image .img_wrap .img_item:last-child .order i:last-child{
	display: none;
}
#container .image .img_item .main_img{
	width: 240px;
    display: block;
    height: 160px;
    float: left;
	position: relative;
}
#container .image .img_item .main_img .number{
	position: absolute;
	display: block;
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 12px;
    top: 5px;
    left: 5px;
}
#container .image .img_item .main_img img{
	width: 240px;
	height: 160px;
}
#container .image .img_item .delete{
	width: 40px;
    display: table;
    height: 160px;
    float: left;
	font-size: 20px;
	line-height: 160px;
}
#container .image .img_item .delete i{
	display: table-cell;
	vertical-align: middle;
	margin: 0 10px;
}
#cropPanel input[type="range"]{
	display: inline;
	-webkit-appearance: none;
	background-color: #bdc3c7;
	width: 60%;
	height: 3px;
	border-radius: 5px;
	margin: 15px 15px;
	outline: 0;	
}
#cropPanel input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: #e74c3c;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid white;
	cursor: pointer;
	transition: .3s ease-in-out;
}​​​
#cropPanel input[type="range"]:active::-webkit-slider-thumb{
	width: 30px;
	height: 30px;
}
#content.image .btn_action .all a{
	height: 40px;
}
#content.image .btn_action .all a.disable{
	height: 40px;
}
/*---跑馬燈---*/
#container #content.run .content_group{
	border: none;
} 
#container #content.run .last{
	border: none;
	background: none;
} 
/*---介紹---*/
#container #content.des .content_group{
	border: none;
} 
.des textarea{
	resize: none;
    border-radius: 4px;
    background: #ddd;
    padding: 5px 10px;
	font-size: 14px;
	border: none;
}
.des .content_group .input_text .delete{
	line-height: 86px;
    height: 86px;
	float: right;
	margin: 0 10px;
	display: table;
}
#content .content_inner .content_group .input_text .delete .fa{
	display: table-cell;
	vertical-align: middle;
}
.content_inner .des{
	font-size: 12px;
    color: #999;
    margin: 0 0 15px 0;
	text-align: center;
}
.content_group textarea[disabled] {
    background: #fff;
    border: 1px solid #eee;
	color: #333;
}
/*----熟客卡_形象設定 end----*/

/*----熟客卡_系統設定 start----*/
#header .card_main i.fa-ellipsis-v{
	font-size: 18px !important;
    padding: 0 15px !important;
}
#nav.card_main .right{
	font-size: 12px;
}
#header #nav.card_main .right .more_link{
    height: auto;
    background: #fff;
    position: absolute;
    padding: 0px 10px 0px 10px;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    top: 44px;
}
#header #nav.card_main .right .more_link a{
    display: block;
	color: #333;
    margin: 10px 0;
    font-size: 16px;
    line-height: 33px;
	height: auto;
    min-height: 33px;
}
#header #nav.card_main .right a{
	display: inline-block;
    margin-right: 10px;
    min-width: 2em;
}
#header #nav.card_main .right a .fa{
	display: inline-block;
}
#content.card_main .content_inner:first-child{
	padding-top: 0px;
}
#content.card_main .content_inner a{
	color: #333;
}
#content.card_main .content_inner a:hover{
	text-decoration: none;
}
#content.card_main .content_inner a:active{
	text-decoration: none;
}
#content.card_main .content_inner .content_list_tp_nb{
	padding: 5px 1.5% 0 1.5%;
}
#content.card_main .content_inner .content_list_tp_nb>div{
	margin: 0 3px;
}
#content.card_main .content_inner .content_list{
	padding: 10px 10px;
	position: relative;
}
#content.card_main .content_inner .blocked .content_list{
    opacity: 0.8;
    background: #ccc;
}
#content.card_main .content_list_tp_nb .topic_bl_nb{
	font-size: 14px;
	color: #333;
	margin-bottom: 3px;
	position: relative;
}
.content_list .dropdown{
	text-align: center;
    margin: 5px 2px;
	background: url(images/icon_select_down.png) right no-repeat;
	background-color: #fff;
    border-radius: 6px;
}
.content_list .dropdown select{
	width: 100%;
	-webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    -moz-appearance: none;
	line-height: 1.33;
    height: 40px;
    padding: 6px 16px;
}
#content.card_main .cover{
	width: 100%;
    background-color: #FFF;
    margin-bottom: 0px;
	float: left;
	position: relative;
}
.cover .swiper-wrapper{
	height: auto;
}
.cover .swiper-wrapper .swiper-slide{
	height: auto;
}
.content_list .cover img{
	width: 100%;
    height: auto;
}
.content_inner .cover .input{
	width: 35%;
    height: 35%;
    opacity: 0.9;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    top:35%;
    left:35%;
}
#content .content_inner .cover .input i{
	line-height: 44px;
    margin: 0 auto;
}
.content_inner .cover .input .input_icon{
	height: 44px;
    width: 44px;
    display: block;
    background: #e5577a;
    margin: 0 auto;
    margin-top: -24px;
    border-radius: 22px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    font-size: 22px;
}
.content_inner .cover .input .input_content{
	text-align: center;
}
.input .input_content .mind{
	margin-top: -5px;
}
.content_inner .cover .checkbox{
	position: absolute;
    top: 3%;
    right: 3%;
}
.cover .checkbox input{
	display: none;
}
.cover .checkbox label{
    border: 1.5px solid #ccc;
    display: inline-block;
	border-radius: 2px;
	min-height: 24px;
    height: 24px;
    width: 24px;
	padding: 0;
}
.cover .checkbox label:after{

}
.cover .checkbox_on  label{
	border: 1px solid #6fb224;
}
.cover .checkbox_on  label:after{
	-moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 4px solid #6fb224;
    border-top: 4px solid #6fb224;
    border-color: #6fb224;
    content: '';
    display: block;
    height: 16px;
    left: 3px;
    position: relative;
    top: 12px;
    width: 9px;
}
.content_list>.left{
	/* margin-top: 3px; */
	/* padding: 2px 0; */
}
.content_list .left .right{
	position: relative;
	padding-left: 5px;
}
.content_list .left .mind{
	position: absolute;
    top: -3px;
    left: 88px;
	width: 40px;
}
.list_icon{
	width: 40px;
	height: 40px;
	margin: 0 10px 0 5px;
}
.list_icon img{
	width: 40px;
}
.list_icon .icon_bg{
	width: 30px;
    height: 30px;
    border-radius: 4px;
	margin: 5px;
	text-align: center;
	color: #fff;
}
.list_icon .icon_bg_blue{
    background-color: #427ffc;
}
.list_icon .icon_bg_brown{
    background-color: #8b572a;
}
.list_icon .icon_bg_orange{
    background-color: #fea200;
}
.list_icon .icon_bg_green{
    background-color: #85cb33;
}
.list_icon .icon_bg_red{
    background-color: #f7403a;
}
.list_icon .icon_bg i{
	margin: 0 !important;
	font-size: 14px;
	line-height: 30px;
}
.content_list>.right{
	margin-top: 0px;
	margin-right: 0px;
	top: calc(50% - 20px);
	right: 5%;
}
.content_list .right input[type*="checkbox"]{
	display: none;
}
.content_list .right .checkbox label{
    border: 1.5px solid #bbb;
    display: inline-block;
	border-radius: 2px;
	min-height: 16px;
    height: 16px;
    width: 16px;
	padding: 0;
}
.content_list .right .checkbox label:after{
	-moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    content: '';
    display: block;
    height: 11px;
    left: 1px;
    position: relative;
    top: 7px;
    width: 7px;
}
.content_list .right .checkbox_on label{
	border: 1px solid #6fb224;
}
.content_list .right .checkbox_on label:after{
    border-right: 3px solid #6fb224;
    border-top: 3px solid #6fb224;
}
.right_text{
	position: relative;
    margin-top: 25%;
}
#content.card_main .content_list>.right .left{
	margin-top: 4px;
}
#content.card_main .content_list>.right .right{
	margin-left: 5px;
	margin-top: 3px;
}
#content.card_main .content_list .right .inline_div{
	font-size: 36px !important;
}
#container #content.card_main .last{
	margin-bottom: 0px !important;
	padding-bottom: 100px;
}
#content #statusHint {
    padding: 0px;
    background: none;
}
.btn_bottom .notice{
	padding: 10px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 12px;
    position: relative;
}
/*----熟客卡_系統設定 end----*/

/*----熟客卡_適用分店 start----*/
.search_bar{
	margin: 0 3px;
}
.search_bar input{
	width: 85%;
    height: 38px;
    border-radius: 4px;
    background-color: #dddddd;
    padding: 10px;
    border: none;
    font-size: 18px;
}
.search_bar .search_btn{
	display: inline-block;
    font-size: 20px;
    margin-left: 4%;
    color: #666;
    position: relative;
    top: 3px;
}
#content .content_inner .search_bar .search_btn .fa{
	margin-left: 0;
}
#content .content_inner .topic_bl_nb .fa-check-circle-o{
	font-size: 24px;
    margin: 0;
}
.topic_bl_nb .checkbox{
    display: inline-block;
    height: 20px;
    width: 20px;
	position: absolute;
	margin: 0;
    padding: 0;
    top: -17px;
}
.topic_bl_nb .checkbox label{	
	background: none;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
    border: 3px solid #666;
    padding: 0;
}
.topic_bl_nb .checkbox label:after{
	-moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 3px solid #666;
    border-top: 3px solid #666;
    content: '';
    display: block;
    height: 10px;
    width: 7px;
    position: relative;
    top: 7px;
    right: -1px;
}
.topic_bl_nb .checkbox input{
	display: none;
}
.topic_bl_nb .checkbox input:checked + label{
    border: 3px solid #0076ff;
}
.topic_bl_nb .checkbox input:checked + label:after{
	border-color: #0076ff;
}
#content.card_main .content_inner .single{
	position: relative;
}
.single .left{
	margin-top: 0;
    padding: 0;
}
.single .left .list_icon{
	margin: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #d8d8d8;
    position: absolute;
    top: calc(50% - 10px);
	margin: 0 3px;
}
.list_icon .checkbox{
    display: inline-block;
    height: 24px;
    width: 24px;
	position: absolute;
	margin: 0;
    padding: 0;
}
.list_icon label{	
	background: #ddd;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
	position: absolute;
}
.list_icon label:after{
	
}
.list_icon input{
	display: none;
}
.list_icon input:checked + label {
	background: #0076ff;
	border: #0076ff;
}
.list_icon input:checked + label:after {
	-moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 3px solid #ccc;
    border-top: 3px solid #ccc;
    content: '';
    display: block;
    height: 12px;
	width: 8px;
    position: relative;
	border-color: #fff;
    left: -17px;
    top: 10px;
}
#content .single .left .list_icon .fa{
	margin: 5px;
}
#content .single .left .list_icon .fa-check-circle{
	color: #0076ff;
	position: absolute;
	top: 3px;
    background: #fff;
}
.single .right{
	margin-left: 35px;
}
/*----熟客卡_適用分店 end----*/

/*----熟客卡_預覽 start----*/
#content.card_main .cover img{
	width: 100%;
}
.cover .swiper-pagination-bullet{
	height: 6px;
	width: 6px;
	background: #fff;
	opacity: 1;
}
.cover .swiper-pagination-bullet-active{
	background:	#c70000;
}
#content.card_main .content_inner .content_list_title{
	border: none;
    background: none;
    padding: 0;
}
.block_link{
	display: inline-block;	
	position: relative;
}
.multi_block_1{
	width: 240px;
    height: 70px;
    margin: 0 auto;
    background: none;
	position: relative;
    margin-bottom: 5px;
}
.multi_block_1 .block_link{
    height: 70px;
	width: 100%;
	background: #fff;
    border: solid 1px #ddd;
}
.multi_block_1 .block_link .left{
	position: absolute;
    top: calc(50% - 20px);
}
.multi_block_1 .block_link .left .list_icon{
	position: relative;
	margin: 0 5px 0 15px;
}
.multi_block_1 .block_link .left .right{
	margin-top: 6px;
	position: relative;
}
.multi_block_1 .block_link .right{
	position: absolute;
    top: calc(50% - 18px);
    right: 0;
}
.multi_block_1 .block_link .right .left{
	position: relative;
	margin-right: 10px;
}
.multi_block_1 .block_link .right .left div:last-child{
	position: relative;
    top: -3px;
	line-height: 40px;
}
.multi_block_1 .block_link .right .right{
	position: relative;
	margin: 5px 5px 0 0;
}
.multi_block_2{
    margin-bottom: 5px;
	width: 240px;
    height: 95px;
    margin: 0 auto;
    background: none;
}
.multi_block_2 .block_link{
	width: 120px;
    height: 90px;
	background: #fff;
    border: solid 1px #ddd;
}
.multi_block_2 .block_link:last-child{
	border-left: none;
    position: absolute;
}
.multi_block_2 .block_link .left{
	width: 85%;
    margin: 0 auto;
    float: none;
    height: 100%;
	padding: 10px 0;
    text-align: center;
}
.multi_block_2 .block_link .up{
	height: 40px;
    margin: 0 auto;
    display: block;
	padding: 0 5px;
}
.multi_block_2 .block_link .up .list_icon{
	margin: 0;
    width: 40px;
    padding: 0;
    display: inline-block;
}
.multi_block_2 .block_link .up .right{
	margin-top: 0;
    display: inline-block;
    float: none;
    position: relative;
    top: 2px;
	transform: initial;
}
.multi_block_2 .block_link .down{
	text-align: center;
}
.multi_block_2 .block_link .right{
	position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.multi_block_3{
	width: 300px;
    margin-bottom: 10px;
    height: 119px;
    margin: 0 auto;
    background: none;
}
.multi_block_3 .block_link{
	background: #fff;
    border: solid 1px #ddd;	
	width: 100px;
    height: 114px;
    margin-right: -4px;
}
.multi_block_3 .block_link:first-child{
	border-right: none;
}
.multi_block_3 .block_link:last-child{
	border-left: none;
}
.multi_block_3 .block_link .left{
	width: 70%;
    margin: 0 auto;
    height: 100%;
    padding: 10px 0;
    float: none;
	text-align: center;
}
.multi_block_3 .block_link .left .up{
}
.multi_block_3 .block_link .left .up .list_icon{
	margin: 0 auto;
}
.multi_block_3 .block_link .left .down{
	margin: 0 auto;
}
.multi_block_3 .block_link .right{
	position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
#content.card_main .content_inner .list_line{
    padding: 6px 10px;	
	position: relative;
}
.card_main .content_inner>.content_list:first-child{
	border-top: 1px solid #ddd;
}
.list_line>.left{
	margin-top: 0;
    padding: 0;
}
.list_line>.right{	
	margin-top: 5px;
    padding: 0;
	margin-right: 3px;
}
.list_line  .right i{
	font-size: 16px !important;
}
.list_line .list_marquee{
	height: 28px;
    text-align: center;
}
.list_line .list_marquee i{
	float: left;
	margin-right: 5px;
}
.list_line .list_marquee>div{
	width: 100%;
	overflow: hidden;
    line-height: 28px;
    height: 28px;
}
.card_main .des{
	text-align: center;
    color: #999;
	font-size: 16px;
	margin: 5px;
}
.card_main ul{
	list-style: none;
	line-height: 1.3em;
}
.card_main ul li{
	margin-top: 5px;
    text-indent: -0.7em;
    padding-left: 1em;
}
.card_main ul li:before{
	content: "• ";
    color: #666;
}
.content_list .content_block{
	margin: 3px 2px 15px 2px;
}
.content_list .content_block_last{
	margin: -10px 2px 0 2px;
}
.list_margin_xs .right .left{
	position: relative;
    margin-top: 4px;
}
#content.card_main .list_margin_xs>.right .right{
	margin-top: 0;
}
.font_middle_xs{
	position: absolute;
    min-height: 20px;
    right: 12px;
    top: calc(50% - 10px);
}
.scroll{
	overflow: hidden;
    position: relative;
	height: 130px;
}
.content_list .imgs{
	margin: 0 4px;
    width: 100%;
    overflow: hidden;
    height: 138px;
	overflow-x: scroll;
	position: absolute;
}
.content_list .imgs ul{
	
}
.content_list .imgs ul li{
	display: inline-block;
    margin: 0 4px;
	text-indent: 0;
    padding-left: 0;
    width: 108px;
    overflow: hidden;
}
.content_list .imgs ul li:before{
	content: "";
}
.content_list .imgs ul li img{
	
}
#content.card_main .list_line>.right .left {
    margin-top: -2px;
}
/*----熟客卡_預覽 end----*/

/*----熟客卡_會員優惠 start----*/
.card_list {

}
#content.card_list .content_inner:first-child {
    margin-top: 20px;
}
/*----熟客卡_會員優惠 end----*/

/*----熟客卡_點數功能 start----*/
.card_point{
	height: 100%;
	background: #eee;
}
.card_point .content_inner{
	position: relative;
}
.guide{
	position: relative;
}
.line{
	width: 69%;
    height: 4px;
    background: #ddd;
    position: relative;
    top: 15px;
    margin: 0 auto;
}
.step_all{
	position: relative;
}
.step{
	display: inline-block;
    width: 28%;
    margin: 0 2%;
    padding: 0;
}
.circle{
	background: #fff;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    font-size: 16px;
    color: #e5577a;
    margin: 0 auto 5px auto;
}
.step .on{
	background: #e5577a;
    color: #fff;
}
#content.card_point .content_inner:first-child{
	padding-top: 20px;
}
#content.card_point .content_inner .content_list{
	padding: 20px 3%;
}
.card_point .content_list>.left{
	margin: 0;
	padding: 0;
}
.card_point .num input{
	width: 120px;
    padding-right: 10px;
    height: 44px;
    background: #ddd;
    border: none;
    font-size: 36px;
    text-align: right;
    font-family: HelveticaNeue;
	border-radius: 0;
}
.card_point .num div{
	display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 5px;
}
.card_point .des{
	text-align: center;
    color: #999;
	font-size: 16px;
	margin: 5px;
}
.card_point .content_group{
    padding: 10px;
	display: inline-block;
	background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	width: 100%;
}
.card_point .content_group_nb{
	background: none;
	border: none;
}
.card_point .content_inner>.input_delete{
	width: 80%;
    margin: 0 10px 0 10px;
    border: 1px solid #ddd;
    float:left;
}
.card_point .content_group .title{
    clear: both;
	margin-bottom: 0;
    font-size: 12px;
    margin-top: 10px;
}
.card_point .content_group .title:first-child{
	margin: 0px;
}
.card_point .content_group .main_title{
}
.card_point .content_group .sub_title{
	color: #999;
}
.card_point .input_text{
	margin-bottom: 20px;
    position: relative;
    display: block;
    clear: both;
}
.card_point li.input_text{
	list-style: none;
}
.card_point .input_text input{
	border-radius: 0;
}
.card_point .input_text input[type="number"]{
	font-size: 36px;
	font-family: HelveticaNeue;
    padding-top: 0;
    padding-bottom: 0;
    height: 44px;
}
.card_point .input_text div{
	display: inline-block;
    font-size: 10px;
    margin-left: 8px;
}
.card_point .input_text textarea{
	width: 80%;
	padding: 10px;
    margin-left: 6px;
}
.content_group_nb .provision_list{
	color: #333;
	margin: -5px;
	font-size: 18px;
    line-height: 1.5em;
}
.card_point li.input_text:before{
	position: relative;
    top: -45px;
}
.content_group li.input_delete .delete{
    height: auto;
    position: relative;
    width: 44px;
    height: 44px;
    top: 10px;
}
.card_point .delete{
	position: relative;
    width: 44px;
    height: 186px;
    text-align:center;
    float: left;
}
.card_point .invalid{
	color: #ccc;
}
.card_point  .add{
	text-align: center;
    line-height: 40px;
    font-size: 16px;
    margin-top: 10px;
    color: #0076ff;
}
.card_point .add_nob{
	background: #eee;
	padding-bottom: 100px;
    margin-top: 0;
    padding-top: 10px;	
}
.card_point .content_inner .add{
    clear: both;
	margin: 0px;
}
.card_point .content_inner>.list_group{
	margin: 0 10px;
    display: block;
    border: 1px solid #ddd;
    padding: 5px 10px;
	width: auto;
}
.list_group ul{
	list-style: none;
}
.list_group ul li{
	list-style: disc;
    margin-left: 18px;
	font-size: 18px;
    line-height: 1.5em;
}
.list_group ul li.none_spot{
	list-style: none;
}
.card_point .list_group ul li:before{
	color: #666;
	margin-right: 3px;
}
.content_list_tp_nb div{
	display:inline-block;
}
.content_list_tp_nb .icon_next a:hover {
    text-decoration: none;
}
.content_list_tp_nb .tag{
	font-size: 12px;
    background: #aaa;
    width: 48px;
    text-align: center;
    border-radius: 9px;
	display: none;
	position: relative;
    margin-left: 5px;
    top: -1px;
    line-height: 1.5em;
}
.list_group_close .tag{
    display: inline-block;
}
.list_group_close .list_group{
	background: #aaa;
}
.right .fa-pencil{
	font-size: 14px !important;
}
.tab_group{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    height: 56px;
}
.tab_group .tab{
	width: 50%;
    background: #fff;
    float: left;
    text-align: center;
    height: 56px;
    line-height: 56px;
    color: #666;
    border-bottom: 1px solid #ddd;
}
.tab_group .on{
	color: #e74c3c;
    border-bottom: 4px solid #e74c3c;
}
.list_group .list{
	display: none;
}
.list_group .on{
	display: block;
}
.list_group .list li{
	text-indent: -0.7em;
    padding-left: 20px;
    margin-bottom: 10px;
	line-height: 1;
}
#header #nav.card_main .menu_overlay{
    background: rgba(0, 0, 0, 0.2);
	display: none;
}
/*----熟客卡_點數功能 end----*/

/*----會員資訊 start----*/
#content.card_main .content_inner .content_list_nb{
	background: none;
    border: none;
    height: auto;
}
.member .search_bar input{
	height: 38px;
}
.content_list_nb .left{
	margin: 0;
	padding: 0 5px;
	line-height: 46px;
}
.content_list_nb .right{
	margin: 0;
	padding: 0;
}
.content_list_nb .right .dropdown{
	margin: 0;
}
.member .content_list_nb .dropdown{
	margin-right: 3px;
}
.member .content_list_nb .dropdown select{
	font-size: 16px;
	padding: 6px;
}
.member .content_inner{
}
.member .content_list{
	position: relative;
}
.member .content_list>.right{
	position: absolute;
}
.member .content_list_nb>.right{
	position: initial;
}
.member .input-lg{
	height: 40px;
}
.member .content_list .left .left{
	
}
.member .content_list .left .down{
	margin-top: 5px;
}
.member .content_list .left .up{
	margin: 3px 10px;
}
.member .content_list .left .circle_div{
	width: 62px;
    height: 62px;
    border: 1px solid #ccc;
}
.member .content_list .left .circle_div img{
	width: 60px;
}
/*----會員資訊 end----*/

/*----會員詳細資料 start----*/
#content.member .content_inner:first-child{
		
}
.member .up{
	margin: 0 5px;
}
.member .up .left{
	width: 72px;
}
.member .down{
	margin: 10px 5px 0 5px;
}
.member .list_line .left{
	margin-left: 5px;
}
.font_center .circle_div{
	width: 62px;
    height: 62px;
    border: 1px solid #ccc;
    margin: 0 auto;
    overflow: hidden;
}
.font_center .circle_div img{
	width: 60px;
}
.circle_div .edit{
	height: 20px;
    position: relative;
    bottom: 20px;
    background: #000;
    opacity: 0.7;
    color: #fff;
    font-size: 12px;
}
.member .content_group{
	padding: 10px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    line-height: 1;
}
.member .input_text{
	margin: 0px;
}
.member .input_text textarea {
    font-size: 16px;
}
.member .input_text textarea::-webkit-input-placeholder{
    font-size: 18px;
}
.member .input_text textarea:-moz-placeholder{
    font-size: 18px;
}
.member .input_text textarea::-moz-placeholder{
    font-size: 18px;
}
.member .input_text textarea:-ms-input-placeholder{
    font-size: 18px;
}
/*----會員詳細資料 end----*/

/*----消費明細 start----*/
#content.member .content_inner .nob_grid{
	margin: 0 auto;
    width: 90%;
    padding: 5px 0;
	margin-bottom: 20px;
}
#content.member .content_inner .content_list_nb{
	padding: 5px 1.5%;
}
.detail_tag{
	width: 68px;
    height: 24px;
    background: #999;
    color: #fff;
    text-align: center;
    line-height: 24px;
    position: relative;
    left: 0px;
    margin-bottom: 5px;
}
#content.member .nob_grid .ct_first{
	margin-top: 5px;
}
#content.member .nob_grid .ct_sm{
	display: table;
    width: 100%;
}
.nob_grid .left_text{
	text-align: left;
    width: 35%;
	display: inline-block;
}
.nob_grid .right_text{
	text-align: right;
    width: 55%;
    display: inline-block;
    margin: 0px;
}
.nob_grid .ct_sm .left_text{
	text-align: left;
    width: 42%;
    display: table-cell;
    position: relative;
    vertical-align: middle;
	padding-left: 12px;
}
.nob_grid .ct_sm .right_text{
	text-align: right;
    width: 95%;
    display: inline-block;
    margin: 0px;
	padding-right: 12px;
}
/*----消費明細 end----*/

/*----熟客核銷紀錄 start----*/
#header .member_off{
	background-color: #5c9ae5;
}
.box_text{
	border: 1px solid #999;
    margin: 1.5%;
    padding: 5px;
}
/*----熟客核銷紀錄 end----*/

/*---改為fontawesome---*/
#header #nav .left{
	padding: 0;
}
#header #nav .left a{
	display: table;
    height: 44px;
    padding: 0;
    line-height: 44px;
}
#header #nav .left a .fa{
	font-size: 36px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}
#header #nav .right{
	padding: 0;
	position: relative;
}
#header #nav .right a, #header #nav .right div{
	display: table;
    height: 44px;
    padding: 0;
    line-height: 44px;
    color: #fff;
}
#header #nav .right a:hover{
	text-decoration: none;
	color: #fff;
}
#header #nav .right a .fa, #header #nav .right div .fa{
	font-size: 22px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    line-height: 44px;
}
#header #nav .right a .fa-question-circle-o{
	font-size: 28px;
}
#header #nav .right a .fa-pencil{
	font-size: 14px;
}
#header #nav .right a .fa-pencil:before{
	border: 1px solid #fff;
}
#content .content_inner .title .right{
	font-size: 16px;
	color: #aaa;
}
#content .content_inner .title .right a:hover{
    text-decoration: none;
}
#content .content_inner .right .fa{
    display:block;
	font-size: 14px;
	color: #999;
}
.card .content_list .icon_next .fa-pencil{
	font-size: 14px;
	color: #aaa;
}
.fa-pencil:before{
	height: 30px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid #aaa;
    padding: 0 8px;
}
.fa-eye:before{
	height: 30px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 0 4px;
}
/*----通用樣式----*/
.overlay{
	height: 100%;
    width: 100%;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 100;
    opacity: 0.6;
}
div.left{
	float: left;
}
div.right{
	float: right;
}
.list_auto{
	height: auto;
}
.list92{
	height: 92px;
}
.list70{
	height: 70px;
}
.list64{
	height: 64px;
}
.list44{
	height: 44px;
}
.list40{
	height: 40px;
}
.bordert_div{
	border-top: 1px solid #ddd;
}
.default_input{
	border: solid 1px #dddddd;
	font-family: HelveticaNeue;
}
.bg_none{
	background: none !important;
}
.bg_gray{
	background: #eee !important;
}
.bg_pink{
	    background: #dc4e6f !important;
}
#content .btn_bottom .all .bg_none{
	color: #e74c3c;
    height: 40px;
    border: solid 1px #e74c3c;
    border-radius: 4px;
}
#content .btn_bottom .all .bg_red{
	color: #fff;
	background-color: #E74C3C;
    height: 40px;
    border-radius: 4px;
}
.inline_div{
	display: inline-block;
}
#container .last{
	margin-bottom: 100px !important;
}
#container .last_p{
	padding-bottom: 100px !important;
}
#container .last_p_s{
	padding-bottom: 40px !important;
}
textarea{
	resize: none;
    width: 100%;
    border-radius: 4px;
	border: none;
    background: #ddd;
    padding: 5px 10px;
	font-size: 18px;
}
.border_none{
	border: none !important;
}
.list_margin{
	margin-top: 20px !important;
}
.list_margin_xs{
	margin-top: 5px;
}
.padding_none{
	padding: 0;
}
.menu_overlay{
	height: 100% !important;
    width: 100% !important;
    background: none;
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
	display: none;
}
.circle_div{
	border-radius: 50%;
}
.info_background {
        background: url(images/bg_drawing.png) repeat;
}
/*----字形樣式----*/
.font_red{
	color: #e74c3c;
}
.font_red::-webkit-input-placeholder{
	color: #e74c3c;
}
.font_red::-moz-placeholder{
	color: #e74c3c;
}
.font_red:-ms-input-placeholder{
	color: #e74c3c;
}
.font_red:-moz-placeholder{
	color: #e74c3c;
}
.font_gray9{
	color: #999;
}
.font_gray6{
	color: #666;
}
.font_gray3{
	color: #333;
}
.font_blue{
	color: #0076ff;
}
.font_bluegreen{
	color: #0eb2a2;
}
.font_bold{
	font-weight: 600 !important;
}
.font_height100{
	line-height: 1em;
}
.font_height105{
	line-height: 1.5em;
}
.font_height108{
	line-height: 1.8em;
}
.font_height300{
	line-height: 3em;
}
.font12{
	font-size: 12px;
}
.font14{
	font-size: 14px;
}
.font16{
	font-size: 16px;
}
.font18{
	font-size: 18px;
}
.font20{
	font-size: 20px;
}
.font24{
	font-size: 24px !important;
}
.font_right{
	text-align: right;
}
.font_left{
	text-align: left;
}
.font_center{
	text-align: center;
}
/*----alert樣式----*/
.alert_div{
	position: absolute;
    width: 270px;
    z-index: 101;
    background: #fff;
    margin-left: calc(50% - 135px);
    top: 21%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	display: none;
	padding-bottom: 13px;
}
.alert_icon {
    display: block;
    border: 1px solid #fff;
    border-radius: 56px;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 110px;
    top: -28px;
    text-align: center;
}
.alert_icon_check {
    background-color: #2ecc71;
    color:#fff;
}
.alert_icon_error {
    background-color: #bf0000;
    color:#fff;
}
.alert_icon .fa-check {
    font-size: 36px;
    line-height: 56px;
}
.alert_icon .fa-times {
    font-size: 36px;
    line-height: 56px;
}
.alert_content{
	
}
.alert_body{
	text-align: center;
    margin: 50px auto 50px auto;
    width: 80%;
}
.alert_body img{
	width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.alert_body span{
	font-size: 20px;
    font-weight: 600;
}
.alert_footer{
	
}
.alert_btn{
	width: 200px;
    display: block;
    height: 40px;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
.alert_footer a:hover{
	text-decoration: none;
}
.alert_footer a.bg_red{
	color: #fff;
}
.alert_footer a.bg_white{
	color: #e74c3c;
	border: 1px solid #e74c3c;
}

/*平板、PC螢幕尺寸樣式*/
@media screen and (min-width: 600px) {
    #container * {
        font-size:100% !important;
    }
}