﻿@using LunchKingSite.Core
@using LunchKingSite.WebLib.Models.ControlRoom.Order
@model ExchangeLogModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ExchangeMessage</title>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.blockUI.js")"></script>
    <script type="text/javascript">
                        
        function block_postback() {
            $.blockUI({ message: "<center><img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />儲存中，請稍候...</center>", css: { width: '250px' } });
        }

        function btnSave_Click() {

            if ($.trim($('textarea[id$=txtMessage]').val()).length > 500) {
                alert("聯絡事項限制輸入500字");
                return false;
            }

            //顯示處理中訊息並鎖定畫面避免重複點選新增
            block_postback();

            var formData = $('#updateForm').serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ExchangeMessageUpdate")',
                data: formData,
                success: resultHandler,
                dataType: 'json',
                traditional: true
            });
        }

        function resultHandler(data) {
            //關閉處理中訊息並解除鎖定畫面
            $.unblockUI();
            //延遲跳出結果訊息及跳頁 避免跳出訊息和儲存訊息重疊出現
            setTimeout(function () {
                if (!data.IsSuccess) {
                    alert(data.Message);
                }
                else {
                    window.opener.location.reload(true);
                    window.close();
                }
            }, 500);
        }

        function btnCancel_Click() {
            window.close();
        }

    </script>

    <style>
        .ctrlRoomTbl th {
            background-color: #353434;
            color: #FFFFFF;
        }

        .ctrlRoomTbl tr:nth-child(even) td {
            font-size: 14px;
            background-color: #F0F0F0;
        }

        .ctrlRoomTbl tr:nth-child(odd) td {
            font-size: 14px;
            background-color: #FFFFFF;
        }

        .ctrlRoomTbl {
            border-collapse: collapse;
        }

        .ctrlRoomTbl td, th {
            border-color: Black;
            border-width: thin;
            border-style: solid;
            border-spacing: 13px;
        }

    </style>

</head>
<body>
    <form id="updateForm">
        <table style="width:80%" align="center" cellspacing="4" cellpadding="4" class="ctrlRoomTbl">
            <tr>
                <td style="width:25%">訂單編號：</td>
                <td style="width:25%">@Model.OrderId</td>
                <td style="width:25%">申請時間：</td>
                <td style="width:25%">@Model.ApplicationTime.ToString("yyyy/MM/dd HH:mm")</td>
            </tr>
            <tr>
                <td>申請原因與備註：</td>
                <td colspan="3">@Model.Reason </td>
            </tr>
            <tr>
                <td>廠商處理進度：</td>
                <td colspan="3">@Html.Raw(Model.VendorProgressStatus.HasValue ? Helper.GetLocalizedEnum((ExchangeVendorProgressStatus)Model.VendorProgressStatus.Value) : string.Empty)</td>
            </tr>
            <tr>
                <td>廠商最新回覆或備註：</td>
                <td colspan="3">@Model.VendorMemo</td>
            </tr>
            <tr>
                <td colspan="4">聯絡事項：</td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:center">
                    <input type="hidden" name="ExchangeLogId" value="@Model.ExchangeLogId">
                    <textarea id="txtMessage" name="Message" rows="3" cols="90" maxlength="500" placeholder="限500字"></textarea>
                </td>
            </tr>
        @if (Model.Modifyable)
        {
            <tr>
                <td colspan="4" style="text-align:center">
                    <input type="button" value="取消" onclick="btnCancel_Click()">
                    <input type="button" value="儲存" onclick="btnSave_Click()">
                </td>
            </tr>
        }
        </table>
    </form>
</body>
</html>






