﻿@using LunchKingSite.BizLogic.Facade
@using LunchKingSite.WebLib.Views
<script language="javascript" type="text/javascript">
    $().ready(function () {
        $('.invLogNum').click(function(){
            $('#divLogDetail').show();
            $('.detail_r').hide();
            var invNum = $(event.target).text();
            $('.detail_r').each(function () {
                if ($(this).find('input').val() == invNum) {
                    $(this).show();
                }
            })
        })
    });
</script>
<style type="text/css">
    .detail tr td {
        padding:10px 10px 10px 10px;
        background-color:#99CCCC;
        text-align:center;
        border-top-width:5px;
        border-top-color:white;
        border-top-style:solid;
    }
    
</style>
<div style="">
    <h3>發票資訊與歷程</h3>
    <table>
        <tr>
            <td style="vertical-align:top;">
                <div>
                    <table>
                        @{
                            var list = (List<EinvoiceFacade.EinvoiceChangeLogMain>)Model;
                            var details = new List<List<EinvoiceFacade.EinvoiceChangeLogDetail>>();
                            if (list.Count > 0)
                            {
                                foreach (var item in list)
                                {
                                    details.Add(item.Detail);
                                    <tr>
                                        <td>
                                            <a href="#" class="invLogNum">@item.InvoiceNumber</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td>尚無資料或發票號碼未產生</td></tr>
                            }
                        }
                    </table>
                </div>
            </td>
            <td>
            @if (details.Count > 0)
            {
                <div id="divLogDetail" @if(list.Count > 1) { <text>style="display:none;"</text> } class="">
                    <table style="border-collapse: collapse;width:auto;margin-right:50px;">
                        <thead style="background-color:#D6D6D6;text-align:center;">
                            <tr>
                                <td>內容</td>
                                <td>時間</td>
                                <td>操作者</td>
                            </tr>
                        </thead>
                        <tbody class="detail">
                            @foreach (var item in list)
                            {
                                foreach (var detail in item.Detail)
                                {
                                    <tr @if(list.Count > 1) { <text>style="display:none;"</text> } class="detail_r">
                                        <td><input type="hidden" id="hdNumber" value="@item.InvoiceNumber" />@detail.Message </td>
                                        <td>@detail.CreateTime</td>
                                        <td>@detail.CreateId</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
            </td>
        </tr>
    </table>
</div>
