/* tables */
table.tablesorterBlue {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorterBlue thead tr th, table.tablesorterBlue tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorterBlue thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorterBlue tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorterBlue tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorterBlue thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorterBlue thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorterBlue thead tr .headerSortDown, table.tablesorterBlue thead tr .headerSortUp {
background-color: #8dbdd8;
}


body.tablesorterBlue 
{
	font-family:arial;
	background-color: #CDCDCD;
	margin:20px 20pt 20px 20px;
	font-size: 10pt;
	width: 100%;
	text-align: left;
}