﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.Core
@using LunchKingSite.DataOrm
@using LunchKingSite.WebLib.Models.ControlRoom.System
@using LunchKingSite.BizLogic.Models.LimitedTimeSelection
@using LunchKingSite.WebLib.Models.ControlRoom.LimitedTimeSelection

@model DailySelectionEditModel

@{
    ViewBag.Title = "限時優惠設定";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
}

@section header {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")" />
    <style>
        .hero-unit {
            padding: 10px 30px 0px 20px;
            font-size: 18px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }

        .ml-10 {
            margin-left: 10px;
        }

        .mb-10 {
            margin-bottom: 10px;
        }

        .ctrlRoomTbl th {
            background-color: #353434;
            color: #FFFFFF;
            white-space: nowrap;
        }

        .ctrlRoomTbl tr td {
            font-size: smaller;
            background-color: #FFFFFF;
        }

        .ctrlRoomTbl {
            border-collapse: collapse;
        }

            .ctrlRoomTbl td, th {
                border-color: Black;
                border-width: thin;
                border-style: solid;
            }

            .ctrlRoomTbl tbody tr {
                height: 90px;
            }

        .aHrefCss {
            width: 100%;
            display: inline-block;
            color: #FFFFFF;
        }

        .aPager {
            width: 100%;
            display: inline-block;
            text-decoration: none;
            color: #0026ff;
        }

        .title {
            color: #333333;
            font-size: 18px;
        }

        .data-deleted {
            text-decoration: line-through;
        }

            .data-deleted td {
                background-color: lightgrey !important;
            }

        #btnLog {
            font-size: 13px;
        }
    </style>
    <script type="text/javascript" src="/tools/js/jquery-ui-1.9.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var message = '@ViewBag.Message';
            if (message != '') {
                alert(message);
                window.close();
            }

            $('#listTable tbody').sortable({
                opacity: 0.6,
                cursor: 'move',
                axis: 'y',
                start: function (event, ui) {
                    //var startPos = ui.item.index();
                    //ui.item.data('startPos', startPos); //記錄選取列的位置
                },
                update: function (event, ui) {

                    var items = $('#listTable tbody tr');
                    for (i = 0; i < items.length - 1; i++) {
                        for (j = i + 1; j < items.length; j++) {
                            var seq1 = items.eq(i).data('sequence');
                            var seq2 = items.eq(j).data('sequence');
                            if (seq1 > seq2) {
                                items.eq(i).data('sequence', seq2);
                                items.eq(j).data('sequence', seq1);
                            }
                        }
                    }

                }
            });

            $('#btnAdd').click(function () {
                var self = this;
                $(self).addClass('disabled');

                var bids = $('#bidBatch').val().split('\n');
                if (bids == null || bids.length == 0) {
                    $('#bidBatch').focus();
                    return;
                }
                var mainId = $('#mainId').val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddBids")",
                    data: JSON.stringify({ 'mainId': mainId, "bids": bids }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        var message = '';
                        if (res.RowCount > 0) {
                            message = '已完成，新增 ' + res.RowCount + ' 個檔次資料';
                        }
                        if (res.Message != null) {
                            message += '\r\n' + res.Message;
                        }
                        alert(message);
                        location.reload();
                    }, error: function (jqXHR, exception) {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        alert(msg);
                    }, complete : function () {
                        $(self).removeClass('disabled');
                    }
                });
            });



            $("#listTable tbody").disableSelection();

            $('#btnShowPanelAdd').click(function () {
                $('#panelAdd').show();
                $('#panelUpdate').hide();
                $(this).hide();
                $('#bidBatch').focus();
            });

            $('#btnCancelAdd').click(function () {
                $('#panelAdd').hide();
                $('#btnShowPanelAdd').show();
                $('#panelUpdate').show();
            });

            $('#btnUpdate').click(function () {
                var self = this;
                $(self).addClass('disabled');

                var mainId = $('#mainId').val();
                var selectionDeals = [];
                $('#listTable tbody tr').each(function () {
                    var bid = $(this).data('bid');
                    var sequence = $(this).data('sequence');
                    var deleted = $(this).data('deleted') || false;
                    selectionDeals.push({ bid, deleted, sequence });
                });

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveChanges")",
                    data: JSON.stringify({ 'mainId': mainId, "selectionDeals": selectionDeals }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        if (res.Success == 1) {
                            alert('已完成，調整 ' + res.RowCount + ' 個檔次資料');
                            location.reload();
                        } else {
                            alert(res.Message);
                        }
                    }, error: function (jqXHR, exception) {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                        alert(msg);
                    }, complete : function () {
                        $(self).removeClass('disabled');
                    }
                });
            });

            $('#btnCancelUpdate').click(function () {
                location.reload();
            });

            $('.btnRemoveBid').click(function () {
                var row = $(this).closest('tr');
                if (row.data('deleted') == true) {
                    row.removeData('deleted').removeClass('data-deleted');
                } else {
                    row.data('deleted', true).addClass('data-deleted');
                }
            });

            $('#btnLog').click(function () {
                $('#logContainer').toggle();
            });
        });
    </script>
}

<div class="row hero-unit">
    <h3 class="pull-left"><a href="@Url.Action("Index")">列表</a> &gt; 限時優惠設定: @Html.Raw(Model.TheDate.ToString("yyyy-MM-dd"))</h3>
    <h3 class="pull-left">上午12點啟用</h3>
</div>

<div id="container" class="container">
    <input type="hidden" id="mainId" value="@Model.MainId" />

    <button type="button" class="btn btn-primary" id="btnShowPanelAdd">新增檔次</button>

    <div class="row">
        <div id="panelAdd" style="display:none" class="col-md-6">
            <div class="form-group">
                <textarea id="bidBatch" class="form-control" rows="10" cols="50" autocomplete="off"></textarea>
            </div>
            <div>
                <button type="button" class="btn btn-primary" id="btnAdd">確定</button>
                <button type="button" class="btn btn-default ml-10" id="btnCancelAdd">取消</button>
            </div>
        </div>
    </div>

</div>
<hr />

<span class="title">預覽網址 </span><a id="previewUrl" target="_blank" href="@Model.PreviewUrl">@Model.PreviewUrl</a>
<br />
<span class="title">匯入列表&nbsp; ● 請使用拖拉進行排序，上限30筆，目前@(Model.DealViews.Count)筆。@Html.Raw("<a href='javascript:void(0)' id='btnLog'>查看異動log</a>")</span>
<div style="width:960px">
    <div class="pull-right mb-10" id="panelUpdate">
        <button type="button" class="btn btn-primary" id="btnUpdate">確定</button>
        <button type="button" class="btn btn-primary" id="btnCancelUpdate">取消</button>
    </div>
    <br class="clear" />
    <table id="listTable" class="ctrlRoomTbl" style="width:100%">
        <thead>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <th>排序</th>
                <th>商品圖片</th>
                <th>商品名稱</th>
                <th>BID</th>
                <th>檔次狀態</th>
                <th>當日累積訂單數</th>
                <th>當日累積點擊數</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.DealViews.Count; i++)
            {
                var di = Model.DealViews[i];
                <tr data-bid="@di.Bid" data-sequence="@di.Sequence">
                    <td class="seq">@(i + 1)</td>
                    <td><img src="@di.MainPic" alt="img" style="width:160px; max-height:90px; max-width:160px" /></td>
                    <td>@di.ItemName</td>
                    <td><a target="_blank" href="@Html.Raw("/deal/" + di.Bid)">@di.Bid</a></td>
                    <td>@di.DealState</td>
                    <td>@di.OrderCount</td>
                    <td>@di.HitCount</td>
                    <td>
                        <button type="button" class="btnRemoveBid btn btn-sm btn-default" style="margin:3px">刪除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="logContainer" class="container" style="display:none">
    @foreach (var logView in Model.LogViews)
    {
        <div class="">
            <span>
                @logView.CreateTime (@logView.CreateId)
            </span>
            <span>
                @logView.Action
            </span>
            <span>
                <ul>
                    @foreach (var item in logView.Items)
                    {
                        if (logView.Action == DailySelectionEditLogView._ACTION_SORT)
                        {
                            <li><a href="/deal/@item.Bid" target="_blank">@item.Bid</a> - @item.Sequence</li>
                        }
                        else
                        {
                            <li><a href="/deal/@item.Bid" target="_blank">@item.Bid</a></li>
                        }
                    }
                </ul>
            </span>
        </div>
    }
</div>