﻿@using LunchKingSite.WebLib.Models.ControlRoom.LimitedTimeSelection
@model MonthDaysListModel
@{
    ViewBag.Title = "限時優惠設定";
    Layout = "~/Views/Shared/BackendBootstrapLayout.cshtml";
    var items = Model.Items;
    DateTime todayMonthDate = Model.TodayMonth;
    DateTime theMonthDate = Model.TheMonth;
    DateTime previousMonthDate = Model.TheMonth.AddMonths(-1);
    DateTime nextMonthDate = Model.TheMonth.AddMonths(1);
    DateTime activitedDate = DateTime.Now.Hour > 12 ? DateTime.Today : DateTime.Today.AddDays(-1);
}

@section header {
    <link type="text/css" rel="stylesheet" href="~/Themes/PCweb/css/calendar.css" />
    <style type="text/css">
        .mt-10 {
            margin-top:10px;
        }
        .mb-10 {
            margin-bottom:10px;
        }
        .hero-unit {
            padding: 10px 30px 0px 20px;
            font-size: 18px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }
        .cal-row-fluid {
            cursor:pointer;
        }
        .cal-active {
            background: #9aec9a;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnPreviousMonth').click(function () {
                location.href = '@Html.Raw(Url.Action("Index", "LimitedTimeSelectionRoom", new { yy=previousMonthDate.Year, mm= previousMonthDate.Month }))';
            })
            $('#btnTodayMonth').click(function () {
                location.href = '@Html.Raw(Url.Action("Index", "LimitedTimeSelectionRoom",new { yy=todayMonthDate.Year, mm= todayMonthDate.Month}))';
            })
            $('#btnNextMonth').click(function () {
                location.href = '@Html.Raw(Url.Action("Index", "LimitedTimeSelectionRoom",new { yy=nextMonthDate.Year, mm= nextMonthDate.Month}))';
            });

            $('.cal-cell').click(function () {                
                var calState = $(this).data('cal-state');
                var calDate = $(this).data('cal-date');
                var url = '@Url.Action("Edit", "LimitedTimeSelectionRoom")';
                url += '?theDate=' + calDate;                
                if (calState == '0') {                    
                    if (confirm('建立 ' + calDate + ' 的限時優惠資料?')) {
                        window.open(url, '_blank');
                    }
                } else if (calState == '2' || calState == '3') {
                    window.open(url, '_blank');
                }
            });
        });
    </script>

}

<div class="hero-unit text-center">
    <h1>限時優惠設定</h1>
</div>
<div class="page-header">    
    <div class="pull-right">
        <div class="btn-group">
            <button id="btnPreviousMonth" class="btn btn-primary">&lt;&lt; 上月</button>
            <button id="btnTodayMonth" class="btn">本月</button>
            <button id="btnNextMonth" class="btn btn-primary">下月 &gt;&gt;</button>
        </div>
    </div>
    <h3>@theMonthDate.ToString("yyyy年MM月")</h3>
    </div>
<br style="clear:both" />
<div id="calendar" class="cal-context" style="width: 100%;">
    <div class="cal-row-fluid cal-row-head">

        <div class="cal-cell1">日</div>

        <div class="cal-cell1">一</div>

        <div class="cal-cell1">二</div>

        <div class="cal-cell1">三</div>

        <div class="cal-cell1">四</div>

        <div class="cal-cell1">五</div>

        <div class="cal-cell1">六</div>

    </div>
    <div class="cal-month-box">
        @for (int y = 0; y < 6; y++)
        {
            <div class="cal-row-fluid cal-before-eventlist">
                @for (int x = 0; x < 7; x++)
                {
                    var item = items[y * 7 + x];
                    if (item.TheDate == activitedDate)
                    {
                        @Html.Raw("<div class='cal-cell1 cal-cell cal-active' data-cal-row='-day{0}' data-cal-state='{1}' data-cal-date={2}>",
                                 x + 1, (int)item.State, item.TheDate.ToString("yyyy-MM-dd"))
                    }
                    else
                    {
                        @Html.Raw("<div class='cal-cell1 cal-cell' data-cal-row='-day{0}' data-cal-state='{1}' data-cal-date={2}>",
                                 x + 1, (int)item.State, item.TheDate.ToString("yyyy-MM-dd"))
                    }
                    @Html.Raw("<div class='cal-month-day {0} cal-day-weekend'>",
                        item.DayInMonth ? "cal-day-inmonth" : "cal-day-outmonth")
                    <span class="pull-right" data-cal-view="day">
                        @item.TheDate.Day
                    </span>
                    <div class="events-list">
                        @if (item.State == DayEditState.Done)
                        {
                            <span class="pull-left event event-success"></span>
                        }
                        else if (item.State == DayEditState.InProgress)
                        {
                            <span class="pull-left event event-default"></span>
                        }
                    </div>
                    @Html.Raw("</div>")
                    @Html.Raw("</div>")
                }
            </div>
        }     
    </div>
</div>