﻿@using LunchKingSite.DataOrm;
@model  ProposalRestriction
@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";

    List<SystemCode> dealType1 = ViewBag.Dealtype1 as List<SystemCode>;
    string param = Request.QueryString["id"] ?? "";
    string codeIdList = ViewBag.CodeIdList as string;


}

    <script type="text/javascript" src="../../Tools/js/jquery-ui.1.8.min.js"></script>
    <script type="text/javascript">
        $(function () {


            $(document).ready(function () {


                if ('@param'=='')
                {
                    //新增
                }
                else
                {
                    //編輯


                    if ('@Html.Raw(Model.GrossMarginRange)'!='')
                    {
                        $('#chkGrossMargin').prop('checked', true);
                        $('#ddlGrossMargin option[value="' +  '@Html.Raw(Model.GrossMarginRange)' + '"]').prop('selected', true);
                        $('#txtGrossMargin').val(@Model.GrossMarginNumber);
                    }
                    if ('@Html.Raw(Model.CostPercentRange)'!='')
                    {
                        $('#chkCostPercent').prop('checked', true);
                        $('#ddlCostPercent option[value="' +  '@Html.Raw(Model.CostPercentRange)' + '"]').prop('selected', true);
                        $('#txtCostPercent').val(@Model.CostPercentNumber);
                    }

                    if ('@Model.Enable' == 'True')
                        $('#switch').prop('checked', true);
                }


                //XX紐
                $(document).on('click', '#imgDelete', function (event) {
                    var img = $(this);
                    img.parent().parent().remove();
                });


            });



            //新增分類
            $('#addType').click(function () {
                var dealType1 = $('#ddlDealType1 option:selected').val();
                var dealType2 = $('#ddlDealType2 option:selected').val();

                if (dealType1 == 0 || dealType2 == 0)
                    alert('請選擇分類');
                else
                {
                    if ($('#hidType' + $('#ddlDealType2 option:selected').val()).length <= 0)
                    {
                        var codeId = $('#ddlDealType2 option:selected').val();
                        var array = '@(codeIdList)'.split(',');
                        if (array.indexOf($('#ddlDealType2 option:selected').val()) >= 0) { //-1不存在
                            alert('該分類已設定過');
                        }
                        else
                        {
                            var html = '<tr>' +
                                        '<td>' + $('#ddlDealType1 option:selected').text() + '</td>' +
                                        '<td>' + $('#ddlDealType2 option:selected').text() +
                                            '<input id="hidType' + $('#ddlDealType2 option:selected').val() + '" type="hidden" value=' + $('#ddlDealType1 option:selected').val() + '/' + $('#ddlDealType2 option:selected').val() + ' />' +
                                        '</td>' +
                                        '<td><img src="../../../Themes/default/images/17Life/G3/CheckoutError.png" alt="" width="15" style="cursor:pointer;" id="imgDelete" /></td>'
                                       '</tr>';
                            $('#tableType').append(html);
                        }

                    }
                    else
                    {
                        alert('該分類已加入');  
                    }
                }
            })

        });

        function save() {

            var GrossMarginRange = '';
            var GrossMarginNumber = '';
            var CostPercentRange = '';
            var CostPercentNumber = '';


            if ($('[id*=hidType]').length <= 0 && '@param' == '') {
                alert('請至少選擇一項分類')
            }
            else if (!$('#chkGrossMargin').is(':checked') && !$('#chkCostPercent').is(':checked'))
            {
                alert('請勾選條件')
            }
            else if ($('#chkGrossMargin').is(':checked') && ($('#ddlGrossMargin  option:selected').val() == 0 || $('#txtGrossMargin').val()==''))
            {
                alert('請完整輸入獲利毛利率限制條件')
            }
            else if ($('#chkCostPercent').is(':checked') && ($('#ddlCostPercent  option:selected').val() == 0 || $('#txtCostPercent').val() == ''))
            {
                alert('請完整輸入洽談毛利率限制')
            }
            else
            {
                if ($('#chkGrossMargin').is(':checked'))
                {
                    GrossMarginRange = $('#ddlGrossMargin  option:selected').val();
                    GrossMarginNumber = $('#txtGrossMargin').val();
                }

                if ($('#chkCostPercent').is(':checked'))
                {
                    CostPercentRange = $('#ddlCostPercent  option:selected').val();
                    CostPercentNumber = $('#txtCostPercent').val();
                }


                var typeList = [];
                $('[id*=hidType]').each(function () {
                    typeList.push($(this).val());
                })
                $('#id').val('@param');
                $('#type').val(JSON.stringify(typeList));
                $('#grossMarginRange').val(GrossMarginRange);
                $('#grossMarginNumber').val(GrossMarginNumber);
                $('#costPercentRange').val(CostPercentRange);
                $('#costPercentNumber').val(CostPercentNumber);
                $('#enable').val($('#switch').is(':checked'));


                $('#formSave').submit();
            }

        }




        //取得子分類
        function SetDealType2() {
            var ddlDealType2 = $('#ddlDealType2');

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetDealType2")",
                data: JSON.stringify({
                    parentId: $('#ddlDealType1 option:selected').val()
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    ddlDealType2.empty();
                    ddlDealType2.append($('<option></option>').val('0').html('=請選擇子分類='));

                    $.each(data.Result, function (i, item) {
                        ddlDealType2.append($('<option></option>').val(item.CodeId).html(item.CodeName));
                    })
                }
            });
        }

    </script>


<style>

    /*switch*/
    .flipswitch {
        position: relative;
        width: 86px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .flipswitch input[type=checkbox] {
        display: none;
    }

    .flipswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 50px;
    }

    .flipswitch-inner {
        width: 200%;
        margin-left: -100%;
        -webkit-transition: margin 0.3s ease-in 0s;
        -moz-transition: margin 0.3s ease-in 0s;
        -ms-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s;
        transition: margin 0.3s ease-in 0s;
    }

    .flipswitch-inner:before, .flipswitch-inner:after {
        float: left;
        width: 50%;
        height: 28px;
        padding: 0;
        line-height: 28px;
        font-size: 18px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .flipswitch-inner:before {
        content: "ON";
        padding-left: 12px;
        background-color: #237699;
        color: #FFFFFF;
    }

    .flipswitch-inner:after {
        content: "OFF";
        padding-right: 12px;
        background-color: #EBEBEB;
        color: #888888;
        text-align: right;
    }

    .flipswitch-switch {
        width: 27px;
        margin: 0.5px;
        background: #FFFFFF;
        border: 2px solid #999999;
        border-radius: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 57px;
        -webkit-transition: all 0.3s ease-in 0s;
        -moz-transition: all 0.3s ease-in 0s;
        -ms-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s;
        transition: all 0.3s ease-in 0s;
    }

    .flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
        margin-left: 0;
    }

    .flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
        right: 0;
    }



    #tableType td:nth-child(1){
        width : 150px;
        border-style:solid;
        border-width:1px
    }
    #tableType td:nth-child(2){
        width : 250px;
        border-style:solid;
        border-width:1px
    }
</style>




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div id="divAdd">
            <table>
                <tr>
                    <td><h4>指定限制範圍 (勾選的範圍才會依限制條件過濾)</h4></td>
                </tr>
                <tr>
                    <td>提案單類型</td>
                    <td><input id="chkProduct" type="checkbox" checked="checked" disabled/>宅配提案</td>
                </tr>
                
                <tr>
                    <td>產品分類/分線</td>
                    <td>
                        @if (param == "")
                        {
                            <select id="ddlDealType1" onchange="SetDealType2()">

                                <option value="0">=請選擇母分類=</option>
                                @foreach (var d1 in dealType1)
                                {
                                    if (d1.CodeId == 1999)
                                    {
                                        <option value="@d1.CodeId" disabled>@d1.CodeName</option>
                                    }

                                    else
                                    {
                                        <option value="@d1.CodeId">@d1.CodeName</option>
                                    }
                                }
                            </select>

                            <select id="ddlDealType2">
                                <option value="0">=請選擇子分類=</option>
                            </select>
                            <input id="addType" type="button" value="+" />
                            <br />
                            <br />

                            <table id="tableType">
                                <tr>
                                    <td>分類</td>
                                    <td>細項</td>
                                    <td></td>
                                </tr>
                            </table>
                        }
                        else
                        {
                            @ViewBag.DealType
                        }

                    </td>

                </tr>
                <tr>
                    <td><h4>限制條件 (未符合的設定條件的，將需要由上一層審核)</h4></td>
                </tr>
                <tr>
                    <td><input id="chkGrossMargin" type="checkbox" />獲利毛利率限制</td>
                    <td>
                        提案單中自動算出的獲利毛利率
                        <select id="ddlGrossMargin">
                            <option value="0">請選擇</option>
                            <option value="1">小於等於</option>
                            <option value="2">小於</option>
                            <option value="3">等於</option>
                            <option value="4">大於</option>
                            <option value="5">大於等於</option>

                        </select>
                        <input id="txtGrossMargin" type="text" />%
                    </td>
                </tr>
                <tr>
                    <td><input id="chkCostPercent" type="checkbox" />洽談毛利率限制</td>
                    <td>
                        提案單中自動算出的洽談毛利率
                        <select id="ddlCostPercent">
                            <option value="0">請選擇</option>
                            <option value="1">小於等於</option>
                            <option value="2">小於</option>
                            <option value="3">等於</option>
                            <option value="4">大於</option>
                            <option value="5">大於等於</option>
                        </select>
                        <input id="txtCostPercent" type="text" />%
                    </td>
                </tr>
                <tr>
                    <td>審核條件開關</td>
                    <td>
                        <div class="flipswitch">
                            @if (Model.Enable)
                            {
                                <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="switch" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="switch">
                            }


                            <label class="flipswitch-label" for="switch">
                                @*id和for名稱要一樣*@
                                <div class="flipswitch-inner"></div>
                                <div class="flipswitch-switch"></div>
                            </label>
                        </div>
                    </td>
                </tr>

                <tr></tr>
            </table>


            <input id="save" type="button" value="儲存" onclick="save()" />
            <input id="cancel" type="button" value="取消" onclick="window.location.href='@Url.Action("ProposalRestriction")';" />
            <form id="formSave" action="@Url.Action("SaveRestriction")" method="POST">

                <input id="id" type="hidden" name="id"/>
                <input id="type" type="hidden" name="type" />
                <input id="grossMarginRange" type="hidden" name="grossMarginRange"/>
                <input id="grossMarginNumber" type="hidden" name="grossMarginNumber" />
                <input id="costPercentRange" type="hidden" name="costPercentRange"/>
                <input id="costPercentNumber" type="hidden" name="costPercentNumber" />
                <input id="enable" type="hidden" name="enable"/>
            </form>

        </div>

        
    </div>
</body>
</html>


