﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model BalanceDealListModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
    }
}

@*為何沒讀到shared在確認*@
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
    .toHide {
        display: none;
    }

    .tab {
        font-size: smaller;
    }
</style>

<div class="OWriteOff">
    <div class="OW-center">

        @{
            <div>
                <select name="ddlBalanceState" id="ddlBalanceState" onchange="ddlBalanceState_Change();" style="float:right;">
                    <option value="Balancing">對帳中</option>
                    <option value="Finished">對帳結束</option>
                </select>
            </div>
            if (Model.DealInfos.Any() || Model.WmsInfos.Any())
            {
                @:<div class="OW-StaffToWriteOff-w5-List">

                if (Request.Params["d"].ToString() == "2")
                {
                    <div>
                        <span style="font-size: 16pt;font-weight:bold;color:#F2553B ">《檔次對帳單搜尋》</span>

                        檔號：<input id="txtUniqueId" type="text" placeholder="找尋特定檔次的對帳單，可以在此搜尋喔" style="width:300px" />
                        <input id="btnSearch" type="button" value="查詢" style="background-color:#ff7f6a;color:white;cursor: pointer; text-align: center; font-size: 15px;" onclick="return searchUniqueId();" />

                    </div>
                        <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                }
                var seq = 1;
                if (Model.ShowBalanceSheetPack)
                {
                    <table border="0" cellspacing="0" cellpadding="0" class='OW-W3-Table2' onclick="window.location.href='@Url.Action("BalanceSheetPack")@Html.Raw(config.IsEnableVbsNewUi? "?d=" +Request.Params["d"]:"")'">
                        <tr>
                            <td>
                                <span class="OW-w6-RPTittle-ListTittle" style="font-size: 16pt;font-weight:bold;color:#F2553B ">《總明細》<span style="font-size:12pt">可點選觀看對帳中檔次對帳明細總覽</span></span>
                            </td>
                        </tr>
                    </table>


                    seq++;
                }
                <br />
                string tblClassName;
                string spnVerificationStateClassName = "";
                string spnVerificationStateDesc = "";
                string spnBalanceStateClassName = "";
                string spnBalanceStateDesc = "";
                string spnStoreCountClassName = "";
                string displayTimeName = "";

                <div id="tabs" style="width: 1000px">
                    <ul>
                        <li><a href="#tabs-1">檔次</a></li>
                        @if (Request.Params["d"].ToString() == "2")
                        {
                            <li><a href="#tabs-2">倉儲</a></li>
                        }
                        
                    </ul>
                    <div id="tabs-1">
                        
                        @foreach (var m in Model.DealInfos)
                        {
                            if (seq % 2 == 1)
                            {
                                tblClassName = "OW-W3-Table2";
                            }
                            else
                            {
                                tblClassName = "OW-W3-Table3";
                            }

                            switch (m.VerificationState)
                            {
                                case VbsVerificationState.Verifying:
                                    displayTimeName = "兌換時間";
                                    spnVerificationStateClassName = "OW-W3-Table2-ListIng";
                                    spnVerificationStateDesc = "兌換中";
                                    spnStoreCountClassName = "OW-W5-Table2-Branch";
                                    break;
                                case VbsVerificationState.Finished:
                                    displayTimeName = "兌換時間";
                                    spnVerificationStateClassName = "OW-W3-Table2-ListEnd";
                                    spnVerificationStateDesc = "活動結束";
                                    spnStoreCountClassName = "OW-W5-Table2-BranchEnd";
                                    break;
                                case VbsVerificationState.ShipFinished:
                                    displayTimeName = "出貨時間";
                                    spnVerificationStateClassName = "OW-W3-Table2-ListEnd";
                                    spnVerificationStateDesc = "已完成";
                                    spnStoreCountClassName = "toHide";
                                    break;
                                case VbsVerificationState.ReturnAndChanging:
                                    displayTimeName = "出貨時間";
                                    spnVerificationStateClassName = "OW-W3-Table2-ListIng";
                                    spnVerificationStateDesc = "退換貨中";
                                    spnStoreCountClassName = "toHide";
                                    break;
                                default:
                                    break;
                            }

                            switch (m.BalanceState)
                            {
                                case VbsBalanceState.Balancing:
                                    spnBalanceStateClassName = "OW-w6-RPTittle-ListIngText";
                                    spnBalanceStateDesc = "對帳中";
                                    break;
                                case VbsBalanceState.Finished:
                                    spnBalanceStateClassName = "OW-w6-RPTittle-ListEndText";
                                    spnBalanceStateDesc = "對帳結束";
                                    break;
                                default:
                                    break;
                            }
                            var nextUrl = string.Empty;
                            if (m.DeliveryType == (int)DeliveryType.ToShop)
                            {
                                nextUrl = Url.Action("BalanceStoreList", new { id = m.DealId, type = m.DealType });
                                if (config.IsEnableVbsNewUi) { nextUrl += "?d=" + Request.Params["d"]; }
                            }
                            else
                            {
                                if (m.GenerationFrequency == (int)BalanceSheetGenerationFrequency.LumpSumBalanceSheet)
                                {
                                    nextUrl = Url.Action("BalanceSheetsDeliver", new { id = m.DealId });
                                    if (config.IsEnableVbsNewUi) { nextUrl += "&d=" + Request.Params["d"]; }
                                }
                                else
                                {
                                    nextUrl = Url.Action("BalanceSheetsToHouse", new { id = m.DealId });
                                    if (config.IsEnableVbsNewUi) { nextUrl += "&d=" + Request.Params["d"]; }
                                }
                            }

                            <table border="0" cellspacing="0" cellpadding="0" class='@tblClassName' onclick="window.location.href='@nextUrl'">
                                <tr>
                                    <td>
                                        <span class="OW-w6-RPTittle-ListTittle">[@m.DealUniqueId]@m.DealName</span>
                                        <span class='@spnBalanceStateClassName'>@spnBalanceStateDesc</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="OW-W3-Table2-ListTime">@displayTimeName：@m.ExchangePeriodStartTime.ToString("yyyy/MM/dd") ~ @m.ExchangePeriodEndTime.ToString("yyyy/MM/dd")</span>
                                        <span class='@spnVerificationStateClassName'>@spnVerificationStateDesc</span>
                                        <span class='@spnStoreCountClassName'>（分店數：@m.StoreCount）</span>
                                    </td>
                                </tr>
                            </table>

                            seq++;
                        }
                    </div>

                    @if (Request.Params["d"].ToString() == "2")
                    {
                        <div id="tabs-2">
                            @foreach (var m in Model.WmsInfos)
                            {
                                if (seq % 2 == 1)
                                {
                                    tblClassName = "OW-W3-Table2";
                                }
                                else
                                {
                                    tblClassName = "OW-W3-Table3";
                                }

                                displayTimeName = "計算時間";

                                switch (m.BalanceState)
                                {
                                    case VbsBalanceState.Balancing:
                                        spnBalanceStateClassName = "OW-w6-RPTittle-ListIngText";
                                        spnVerificationStateClassName = "OW-W3-Table2-ListIng";
                                        spnBalanceStateDesc = "對帳中";
                                        spnVerificationStateDesc = "";
                                        break;
                                    case VbsBalanceState.Finished:
                                        spnBalanceStateClassName = "OW-w6-RPTittle-ListEndText";
                                        spnVerificationStateClassName = "OW-W3-Table2-ListIng";
                                        spnBalanceStateDesc = "對帳完成";
                                        spnVerificationStateDesc = "對帳日期：" + m.ConfirmedTime.Value.ToString("yyyy/MM/dd");
                                        break;
                                    default:
                                        break;
                                }


                                <table border="0" cellspacing="0" cellpadding="0" class='@tblClassName' onclick="window.location.href='@Url.Action("BalanceSheetWmsFeeExport")@Html.Raw("?balanceSheetWmsId=" +m.BalanceSheetWmsID)'">
                                    <tr>
                                        <td>
                                            <span class="OW-w6-RPTittle-ListTittle">@m.Name</span>
                                            <span class='@spnBalanceStateClassName'>@spnBalanceStateDesc</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="OW-W3-Table2-ListTime">@displayTimeName：@m.IntervalStartTime.ToString("yyyy/MM/dd") ~ @m.IntervalEndTime.ToString("yyyy/MM/dd")</span>
                                            <span class='@spnVerificationStateClassName'>@spnVerificationStateDesc</span>
                                        </td>
                                    </tr>
                                </table>

                                seq++;
                            }
                        </div>
                    }
                    

                </div>

                
                @:</div>
            }
            else
            {
                @:<div class="OW-W4_3">
                    <table border="0" cellspacing="0" cellpadding="0" width="480">
                        <tr>
                            <td width="90"><img src='@Url.Content("~/Themes/OWriteOff/OWriteOff-w4.jpg")' width="83" height="83" /></td>
                            <td class="OW-W4_3Text" valign="middle" align="left">您目前沒有可查詢的記錄。<br />若有任何問題，請洽業務人員，謝謝。</td>
                        </tr>
                    </table>
                @:</div>
            }
            if (ViewBag.ShowContract)
            {
                Html.RenderAction("ContractChangeNotice", new { visible = true });
            }
        }
    </div>
</div>

@section Script{
    <script type="text/javascript">
        var $tabs = $('#tabs').tabs();

        var state = '@Request.QueryString["state"]';
        $("#ddlBalanceState").children().each(function () {
            if ($(this).val() == state) {
                $(this).attr("selected", "true");
            }
        });

        function ddlBalanceState_Change() {
            if ($('#ddlBalanceState').val() === "Balancing") {
                window.location.href = '@Url.Action("BalanceDealList", new { state = "Balancing" })@Html.Raw(config.IsEnableVbsNewUi? "&d=" +Request.Params["d"]:"")';
            } else {
                window.location.href = '@Url.Action("BalanceDealList", new { state = "Finished" })@Html.Raw(config.IsEnableVbsNewUi ? "&d=" + Request.Params["d"] : "")';
            }
        }

        function searchUniqueId() {

            var uniqueId = $('#txtUniqueId').val();

            $.ajax({
                type: "POST",
                url: "@Url.Content("SearchBalanceSheet")",
                data: JSON.stringify({
                    strUniqueId: $('#txtUniqueId').val()
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.isSuccess) {
                        window.location.href = '@Url.Content("BalanceSheetsToHouse?id=")' + data.Message + '@Html.Raw(config.IsEnableVbsNewUi? "&d=" + Request.Params["d"]:"")';
                    } else {
                        alert(data.Message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }

      

        $(document).ready(function () {

            if ('@Request.Params["d"]' == '@((int)DeliveryType.ToShop)') {
                if ($('#divContractPpon').length) {
                    $.blockUI({
                        message: $('#divContractPpon'),
                        css: {
                            border: 'none',
                            background: 'white',
                            width: ($(window).width()) / 1.5 + 'px',
                            height: ($(window).height()) / 1.5 + 'px',
                            top: ($(window).height() - ($(window).height()) / 1.5) / 2 + $(window).scrollTop() + "px",
                            left: ($(window).width() - ($(window).width()) / 1.5) / 2 + $(window).scrollLeft() + "px",
                            overflow: 'auto'
                        }
                    });
                }

            }
            else if ('@Request.Params["d"]' == '@((int)DeliveryType.ToHouse)') {
                if ('@config.IsRemittanceFortnightly' == 'True') {
                    if ($('#divContractHouseNew').length) {
                        $.blockUI({
                            message: $('#divContractHouseNew'),
                            css: {
                                border: 'none',
                                background: 'white',
                                width: ($(window).width()) / 1.5 + 'px',
                                height: ($(window).height()) / 1.5 + 'px',
                                top: ($(window).height() - ($(window).height()) / 1.5) / 2 + $(window).scrollTop() + "px",
                                left: ($(window).width() - ($(window).width()) / 1.5) / 2 + $(window).scrollLeft() + "px",
                                overflow: 'auto'
                            }
                        });
                    }
                }
                else {
                    if ($('#divContractHouse').length) {
                        $.blockUI({
                            message: $('#divContractHouse'),
                            css: {
                                border: 'none',
                                background: 'white',
                                width: ($(window).width()) / 1.5 + 'px',
                                height: ($(window).height()) / 1.5 + 'px',
                                top: ($(window).height() - ($(window).height()) / 1.5) / 2 + $(window).scrollTop() + "px",
                                left: ($(window).width() - ($(window).width()) / 1.5) / 2 + $(window).scrollLeft() + "px",
                                overflow: 'auto'
                            }
                        });
                    }

                }


            }

        })
    </script>
}
