﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model LunchKingSite.BizLogic.Model.BalanceSheet.BalanceSheetsDeliverModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (VbsCurrent.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

@{
    var dealStores = ViewBag.BalanceDealInfos == null
        ? string.Empty
        : string.Join("|", ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos)
                                .Where(x => x.StoreGuid.HasValue)
                                .GroupBy(x => x.DealId)
                                .Select(x => string.Format("{0},{1}",
                                    x.Key,
                                    string.Join(";", x.GroupBy(s => new { s.StoreGuid, s.StoreName })
                                    .Select(s => string.Format("{0}:{1}", s.Key.StoreGuid, s.Key.StoreName))))));
    var dealTypes = ViewBag.BalanceDealInfos == null
                    ? string.Empty
                    : string.Join("|", ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos)
                                            .GroupBy(x => new { x.DealId, x.DealType })
                                            .Select(x => string.Format("{0},{1}", x.Key.DealId, x.Key.DealType)));
    var dealGenFreq = ViewBag.BalanceDealInfos == null
                        ? string.Empty
                        : string.Join("|", ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos)
                        .GroupBy(x => new { x.DealId, x.GenerationFrequency })
                        .Select(x => string.Format("{0},{1}", x.Key.DealId, x.Key.GenerationFrequency)));
    var deliveryType = ViewBag.BalanceDealInfos == null
                        ? string.Empty
                        : string.Join("|", ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos)
                        .GroupBy(x => new { x.DealId, x.DeliveryType })
                        .Select(x => string.Format("{0},{1}", x.Key.DealId, x.Key.DeliveryType)));
    var dealRemiType = ViewBag.BalanceDealInfos == null
                         ? string.Empty
                         : string.Join("|", ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos)
                                            .GroupBy(x => new { x.DealId, x.RemittanceType })
                                            .Select(x => string.Format("{0},{1}", x.Key.DealId, x.Key.RemittanceType)));
}


<div class="OWriteOff">
    <div class="OW-center">
        <div class="OW-w5-2-ListTittleBG">
        @if (ViewBag.BalanceDealInfos == null)
        {
                <div class="OW-w5-2-ListTittle">[@Model.DealUniqueId]@Model.DealName</div>
        }
        else
        {
            var deals = ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos).Select(x => new { x.DealId, x.DealName, x.DealUniqueId }).Distinct();
            var stores = ((IEnumerable<VbsBalanceDealInfo>)ViewBag.BalanceDealInfos).Where(x => x.DealId == Model.DealId).Select(x => new { x.StoreGuid, x.StoreName }).Distinct();
            <div class="OW-w5-2-ListTittle">
                <span>檔次：</span>
                <select class="textSize15" id="ddlDeal" style="width:400px">
                    @foreach (var deal in deals)
                    {
                        <option value="@deal.DealId" @Html.Raw(Model.DealId == deal.DealId ? "selected" : string.Empty)>[@deal.DealUniqueId]@deal.DealName</option>
                    }
                </select>&nbsp;&nbsp;
                <span>分店：</span>
                <select class="textSize15" id="ddlStore" style="width:150px">
                    @foreach (var store in stores)
                    {
                        <option value="@store.StoreGuid">@(string.IsNullOrEmpty(store.StoreName) ? string.Empty : store.StoreName)</option>
                    }
                </select>
                <input type="hidden" id="hidDealType" value="">
                <input type="hidden" id="hidDealGenFreq" value="">
                <input type="hidden" id="hidDeliveryType" value="">
                <input type="hidden" id="hidDealRemiType" value="">
            </div>
            <div class="OW-W3-Inquiry-Btn" style="margin: -3px -50px 0;float:left" onclick="changeBalanceSheet()">切換</div>
        }
            <div class="OW-w5-2-ListBackBtn " onclick="window.location.href='@GetBackBtnUrl()'">回上頁</div>
        </div>
        <div class="OW-w6-RP-Frame">
            @if (!Model.mIsBalanceCreaDate && Model.DealRemittanceType.Equals((int)RemittanceType.ManualPartially))
            {
                <p class="p_70">下方資料為暫付70%明細，尚不需開立發票！</p>
            }
            <table border="0" cellspacing="0" cellpadding="0" class="ow-bk-lis-deta-table">
                <tbody>
                    <tr class="ow-w6-bg">
                        <td colspan="8">匯款明細</td>
                    </tr>

                    <tr class="ow-bgcolor">
                        <td>方案名稱</td>
                        <td class="autoWidth">進貨單價</td>
                        
                        
                        @if (Model.mIsBalanceCreaDate)
                        {
                            <td class="autoWidth">出貨份數</td>
                            <td class="autoWidth">應付款項</td>
                            <td class="autoWidth">總運費</td>
                        }
                        else
                        {
                            <td class="autoWidth">結檔份數</td>
                        }                        

                        @if (Model.DealRemittanceType.Equals((int)RemittanceType.ManualPartially))
                        {
                            <td class="YellowLabelColor autoWidth">暫付金額<br />
                                （70%）</td>
                        }
                        @if (Model.mIsBalanceCreaDate)
                        {
                            <td class="YellowLabelColor autoWidth">異動<br />
                                調整金額</td>
                            <td class="YellowLabelColor autoWidth">未付金額<br />
                                （尾款）</td>
                        }
                    </tr>
                    @foreach (var item in Model.DealInfos)
                    {
                        <tr class="textright">
                            <td align="left">[@item.DealUniqueId]@item.DealName
                            </td>
                            <td>
                                @string.Format("{0:$#,###0}", item.DealCost)
                            </td>
                            
                            @if (Model.mIsBalanceCreaDate)
                            {
                                <td>
                                    @item.DealCount
                                </td>
                                <td>
                                    @string.Format("{0:$#,###0}", @item.DealTotalAmount)
                                </td>
                                <td>
                                    @string.Format("{0:$#,###0}", item.FareAmount)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @item.DealResultCount
                                </td>
                            }
                            
                            @if (Model.DealRemittanceType.Equals((int)RemittanceType.ManualPartially))
                            {
                                <td>@string.Format("{0:$#,###0}", item.PartiallyPaymentAmount)</td>                            
                            }
                            @if (Model.mIsBalanceCreaDate)
                            {
                                <td><span>@string.Format("{0:$#,###0;($#,###0);$0}", item.DebitCaseAmount)</span></td>
                                <td>@string.Format("{0:$#,###0}", (item.DealTotalFinalAmount))</td>
                            }
                        </tr>
                    }


                    <tr class="textright">
                        <td align="left">總計</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        @if (Model.mIsBalanceCreaDate)
                        {
                            <td>
                                @string.Format("{0:$#,###0}", Model.DealTotalAmount)
                            </td>
                            <td>
                                @string.Format("{0:$#,###0}", Model.DealFareAmount)
                            </td>
                        }                        

                        @if (Model.DealRemittanceType.Equals((int)RemittanceType.ManualPartially))
                        {
                            <td>@string.Format("{0:$#,###0}", Model.DealPartialAmount)</td>                          
                        }

                        @if (Model.mIsBalanceCreaDate)
                        {
                            <td><span>@string.Format("{0:$#,###0;($#,###0);$0}", Model.DebitCaseAmount)</span></td>
                            <td>@string.Format("{0:$#,###0}", (Model.DealTotalFinalAmount))</td>
                        }
                    </tr>
                </tbody>
            </table>

            <table border="0" cellspacing="0" cellpadding="0" class="ow-w64-Inquiry-tb">
                <tr>
                    <td class="OW-w6RP-MonthOverall-TOP">付款資訊</td>
                    <td class="OW-w6RP-MonthOverall-TOP">匯款資訊</td>
                </tr>
                <tr>
                    <td class="OW-w6RP-MonthOverall-Info" valign="top">
                        <ul>
                            <li>[@Model.DealUniqueId] </li>
                            <li>@Model.DealName</li>
                            <li>出貨期間：@Model.DeliverStartDate ~ @Model.DeliverEndDate</li>
                            <br />


                            @if (Model.DealRemittanceType.Equals((int)RemittanceType.ManualPartially))
                            {
                                <li><span class="OW-w6RP-WeeksOverall-InfoBlue">暫付70%付款時間：</span></li>

                                foreach (var item in Model.DealInfos)
                                {
                                    <li>@item.DescPartialPaymentDate</li>
                                }
                                <br />
                                <li></li>
                            }
                        </ul>
                    </td>
                    <td class="OW-w6RP-MonthOverall-Info" valign="top">
                        <ul>
                            <li>受款戶名：@Model.TransferInfo.ReceiverTitle</li>
                            <li>受款ＩＤ：@Model.TransferInfo.ReceiverCompanyId</li>
                            <li>銀行代號：@Model.TransferInfo.ReceiverAccountBankNo@Model.TransferInfo.ReceiverAccountBranchNo</li>
                            <li>受款帳號：@Model.TransferInfo.ReceiverAccountNo</li>
                            <li>負責人：@Model.TransferInfo.ReceiverBossName</li>
                        </ul>
                    </td>
                </tr>

            </table>

            @if (Model.mIsBalanceCreaDate)
            {
                <div id="shipCompeleted">
                    <div class="OW-w6RP-moreMonth-BodyText">
                        <ul style="line-height: 33px;">
                            <li>敬愛的廠商您好：</li>
                            <li>請依照下方金額開立統一發票或收據，並將單據寄回。</li>
                            <li>若發票或收據逾期未寄回，將暫緩支付款項。</li>
                            <li>若有問題，請與負責您的業務連繫(業務連繫方式請查詢合約或各區辦公室)。</li>
                            <br />
                            <li>單據發票寄件地址：</li>
                            <li>10441 台北市中山區中山北路一段11號13樓 帳務服務組 收</li>
                        </ul>

                    </div>

                </div>
                
                
                if (Model.mVendorReceiptType == (int)VendorReceiptType.Invoice)
                {
                    <div class="OW-w6RP-InvoiceFrame">
                        <!----OW-w6RP-Invoice---->
                        <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceTittleTable">
                            <tr>
                                <td colspan="3" class="OW-w6RP-InvoiceTittleText">統一發票（三聯式）</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="padding-left: 10px;">發票號碼</td>
                            </tr>
                            <tr>
                                <td colspan="3" height="10"></td>
                            </tr>
                            <tr>
                                <td align="center" width="100"><span style="letter-spacing: 0.8em;">買受</span>人：</td>
                                <td width="420" class="OW-w6RP-InvoiceTittleTextBlue">康太數位整合股份有限公司</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center"><span style="letter-spacing: 0.2em;">統一編</span>號：</td>
                                <td class="OW-w6RP-InvoiceTittleTextBlue">24317014</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center"><span style="letter-spacing: 2.5em;">地</span>址：</td>
                                <td><span class="OW-w6RP-InvoiceTittleTextBlue">台北市中山區中山北路一段11號13樓</span>(得免填)</td>
                                <td style="letter-spacing: 0.4em;">中華民國<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.AddYears(-1911).Year</span>年<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.Month</span>月<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.Day</span>日</td>
                            </tr>
                            <tr>
                                <td height="5"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>

                        <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceContentTable">
                            <tr>
                                <td width="270" height="32" class="OW-w6RP-InvoiceContentTittle">品名</td>
                                <td width="137" class="OW-w6RP-InvoiceContentTittle">數量</td>
                                <td width="137" class="OW-w6RP-InvoiceContentTittle">單價</td>
                                <td width="137" class="OW-w6RP-InvoiceContentTittle">金額</td>
                                <td width="204" class="OW-w6RP-InvoiceContentTittle">備註</td>
                            </tr>
                            <tr>
                                <td height="32" class="OW-w6RP-InvoiceContentTextBlue">@Model.DealName</td>
                                <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                                <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                                @*總額加上客訴*@
                                @*<td class="OW-w6RP-InvoiceContentTextBlue">@(Model.DealTotalAmount + Model.DebitAllowanceAmount)</td>*@
                                @*運費合併*@
                                @*<td class="OW-w6RP-InvoiceContentTextBlue">@Model.DealTotalAmountWithFare</td>*@
                                @if (Model.IsTax)
                                {
                                    <td class="OW-w6RP-InvoiceContentTextBlue">@Model.mDealTaxAmount</td>
                                }
                                else
                                {                                
                                    <td class="OW-w6RP-InvoiceContentTextBlue">@Model.DealTotalAmountWithFare</td>
                                }
                                <td class="OW-w6RP-InvoiceContentTextBlue pos-rel" rowspan="10">
                                    <div class="pos-abs ow-w6-Receiptremark">檔號：@Model.DealUniqueId</div>
                                    <span class="OW-w6RP-InvoiceContentTextBlue">在此加蓋<br />
                                        統一發票專用章</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="32">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="32">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="32">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="32">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" height="32"><span style="letter-spacing: 6em;">銷售額合</span>計</td>
                                @if (Model.IsTax)
                                {
                                    <td class="OW-w6RP-InvoiceContentTextBlue">@Model.mDealTaxAmount</td>
                                }
                                else
                                {
                                    <td class="OW-w6RP-InvoiceContentTextBlue">@Model.DealTotalAmountWithFare</td>
                                }
                            </tr>
                            <tr>
                                <td class="OW-w6RP-InvoiceContentTittle">營業稅</td>
                                <td colspan="2" rowspan="2" class="OW-w6RP-InvoiceContentTittle">
                                    <table border="0" cellspacing="0" cellpadding="0" width="295" class="OW-w6RP-InvoiceTaxTable ">
                                        <tr>
                                            <td width="98">應稅</td>
                                            <td width="98">零稅率</td>
                                            <td width="98">免稅</td>
                                        </tr>
                                        <tr>
                                            @if (Model.IsTax)
                                            {
                                                <td class="OW-w6RP-InvoiceContentTextBlue">v</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                        
                                            }
                                            else
                                            {
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td class="OW-w6RP-InvoiceContentTextBlue">v</td>
                                            }

                                        </tr>
                                    </table>
                                </td>

                                @if (Model.IsTax)
                                {
                                    <td rowspan="2" class="OW-w6RP-InvoiceContentTextBlue">@(Model.DealTotalAmountWithFare - Model.mDealTaxAmount)</td>
                                }
                                else
                                {
                                    <td rowspan="2" class="OW-w6RP-InvoiceContentTextBlue">0</td>
                                }
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" height="32"><span style="letter-spacing: 27em;">總</span>計</td>
                                <td class="OW-w6RP-InvoiceContentTextBlue">@Model.DealTotalAmountWithFare</td>
                            </tr>
                            <tr>
                                <td colspan="4" height="32" style="letter-spacing: 0.2em;">
                                    <span id="changeNumberWithFare"></span>
                                </td>
                            </tr>
                        </table>
                        <div class="OW-w6RP-InvoiceWarningsR">請依照上方統一發票或收據內容，開立發票或收據。請勿直接列印使用。</div>
                    </div>
                    <div class="ow-w6-Watermark">
                        單據範本
                        <br />
                        請勿列印使用
                    </div>

                    if (!Model.IsTax && !Model.DealFareAmount.Equals(0))
                    {
                        <div class="OW-w6RP-InvoiceWarningsR" style="margin-top: 45px;">運費請另外開立「應稅」發票：</div>
                        <div class="OW-w6RP-InvoiceFrame">
                            <!----OW-w6RP-Invoice---->
                            <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceTittleTable">
                                <tr>
                                    <td colspan="3" class="OW-w6RP-InvoiceTittleText">統一發票（三聯式）</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="padding-left: 10px;">發票號碼</td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="10"></td>
                                </tr>
                                <tr>
                                    <td align="center" width="100"><span style="letter-spacing: 0.8em;">買受</span>人：</td>
                                    <td width="420" class="OW-w6RP-InvoiceTittleTextBlue">康太數位整合股份有限公司</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center"><span style="letter-spacing: 0.2em;">統一編</span>號：</td>
                                    <td class="OW-w6RP-InvoiceTittleTextBlue">24317014</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center"><span style="letter-spacing: 2.5em;">地</span>址：</td>
                                    <td><span class="OW-w6RP-InvoiceTittleTextBlue">台北市中山區中山北路一段11號13樓</span>(得免填)</td>
                                    <td style="letter-spacing: 0.4em;">中華民國<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.AddYears(-1911).Year</span>年<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.Month</span>月<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.Day</span>日</td>
                                </tr>
                                <tr>
                                    <td height="5"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>

                            <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceContentTable">
                                <tr>
                                    <td width="270" height="32" class="OW-w6RP-InvoiceContentTittle">品名</td>
                                    <td width="137" class="OW-w6RP-InvoiceContentTittle">數量</td>
                                    <td width="137" class="OW-w6RP-InvoiceContentTittle">單價</td>
                                    <td width="137" class="OW-w6RP-InvoiceContentTittle">金額</td>
                                    <td width="204" class="OW-w6RP-InvoiceContentTittle">備註</td>
                                </tr>
                                <tr>
                                    <td height="32" class="OW-w6RP-InvoiceContentTextBlue">@Model.DealName</td>
                                    <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                                    <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                                    <td class="OW-w6RP-InvoiceContentTextBlue">@Model.mDealFareTaxAmount</td>
                                    <td rowspan="10" class="OW-w6RP-InvoiceContentTextBlue pos-rel">
                                        <br />
                                        <div class="pos-abs ow-w6-Receiptremark">檔號：@Model.DealUniqueId</div>
                                        <span class="OW-w6RP-InvoiceContentTextBlue">在此加蓋<br />
                                            統一發票專用章</span></td>
                                </tr>
                                <tr>
                                    <td height="32">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="32">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="32">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="32">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="32"><span style="letter-spacing: 6em;">銷售額合</span>計</td>
                                    <td class="OW-w6RP-InvoiceContentTextBlue">@Model.mDealFareTaxAmount</td>
                                </tr>
                                <tr>
                                    <td class="OW-w6RP-InvoiceContentTittle">營業稅</td>
                                    <td colspan="2" rowspan="2" class="OW-w6RP-InvoiceContentTittle">
                                        <table border="0" cellspacing="0" cellpadding="0" width="295" class="OW-w6RP-InvoiceTaxTable ">
                                            <tr>
                                                <td width="98">應稅</td>
                                                <td width="98">零稅率</td>
                                                <td width="98">免稅</td>
                                            </tr>
                                            <tr>
                                                <td class="OW-w6RP-InvoiceContentTextBlue">v</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td rowspan="2" class="OW-w6RP-InvoiceContentTextBlue">@(Model.DealFareAmount - Model.mDealFareTaxAmount)</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="32"><span style="letter-spacing: 27em;">總</span>計</td>
                                    <td class="OW-w6RP-InvoiceContentTextBlue">@Model.DealFareAmount</td>
                                </tr>
                                <tr>
                                    <td colspan="4" height="32" style="letter-spacing: 0.2em;">
                                        <span id="changeNumberFare"></span>
                                    </td>
                                </tr>
                            </table>
                            <div class="OW-w6RP-InvoiceWarningsR">請依照上方統一發票或收據內容，開立發票或收據。請勿直接列印使用。</div>
                        </div>
                        <div class="ow-w6-Watermark">
                            單據範本
                            <br />
                            請勿列印使用
                        </div>
                    }
                }
                else if (Model.mVendorReceiptType == (int)VendorReceiptType.Receipt || Model.mVendorReceiptType == (int)VendorReceiptType.Other)
                {
                    <div class="OW-w6RP-InvoiceWarningsR" style="margin-top: 45px;">免用統一發票收據：</div>
                    <div class="OW-w6RP-InvoiceFrame">
                        <!----OW-w6RP-Receipt---->
                        <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceTittleTable">
                            <tr>
                                <td colspan="3" class="OW-w6RP-InvoiceTittleText">免用統一發票收據</td>
                            </tr>
                            <tr>
                                <td width="100" align="center"><span style="letter-spacing: 0.8em;">買受</span>人：</td>
                                <td width="420" class="OW-w6RP-InvoiceTittleTextBlue">康太數位整合股份有限公司</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="letter-spacing: 0.2em;">中華民國：</td>
                                <td><span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.AddYears(-1911).Year</span>年<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.Month</span>月<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.Day</span>日</td>
                                <td>
                                    <span>統一編</span>
                                    號：
                                    <span class="OW-w6RP-InvoiceTittleTextBlue">24317014</span>
                                </td>
                            </tr>
                        </table>

                        <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceContentTable">
                            <tr>
                                <td width="175" height="32" class="OW-w6RP-InvoiceContentTittle">品名</td>
                                <td width="80" class="OW-w6RP-InvoiceContentTittle">數量</td>
                                <td width="80" class="OW-w6RP-InvoiceContentTittle">單價</td>
                                <td width="100" class="OW-w6RP-InvoiceContentTittle">總價</td>
                                <td width="20">&nbsp;</td>
                                <td colspan="2" width="180" class="OW-w6RP-InvoiceContentTittle">備註</td>
                            </tr>
                            <tr>
                                <td height="32" class="OW-w6RP-InvoiceContentTextBlue">@Model.DealName</td>
                                <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                                <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                                @*總額加上客訴*@
                                @*<td class="OW-w6RP-InvoiceContentTextBlue">@(Model.DealTotalAmount + Model.DebitAllowanceAmount)</td>*@
                                @*改為合併運費*@
                                <td class="OW-w6RP-InvoiceContentTextBlue">@Model.DealTotalAmountWithFare</td>

                                <td>&nbsp;</td>
                                <td width="180" colspan="2" rowspan="5" class="OW-w6RP-InvoiceContentTextBlue pos-rel">
                                    <div class="pos-abs ow-w6-Receiptremark">檔號：@Model.DealUniqueId</div>
                                    <br />
                                    <span class="OW-w6RP-InvoiceContentTextBlue">在此加蓋<br />
                                    免用統一發票專用章</span>
                                </td>
                            </tr>
                            <td height="32">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <tr>
                                <td height="32">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="32">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="32">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" height="32"><span style="letter-spacing: 25em;">總</span>計</td>
                                <td class="OW-w6RP-InvoiceContentTextBlue">@Model.DealTotalAmountWithFare</td>
                                <td>&nbsp;</td>
                                <td rowspan="2" width="110">
                                    <div class="OW-w6RP-ReceiptChapter">銀貨兩訖</div>
                                </td>
                                <td rowspan="2" width="70" class="OW-w6RP-InvoiceContentTextBlue">在此加蓋<br />
                                    負責人章</td>
                            </tr>
                            <tr>
                                <td colspan="4" height="32" style="letter-spacing: 0.2em;">
                                    <span id="changeNumberDutyFree"></span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                        <div class="OW-w6RP-InvoiceWarningsR">請依照上方統一發票或收據內容，開立發票或收據。請勿直接列印使用。</div>
                        <div class="OW-w6RP-InvoiceWarningsR">若為私人簽約請加蓋負責人私章即可。</div>
                    </div>
                    <!----OW-w6RP-Receipt---->
                    <div class="ow-w6-Watermark" style="margin-top: -268px;">
                        單據範本
                        <br />
                        請勿列印使用
                    </div>
                }
            }
        </div>
    </div>
</div>

<style>
    tr.ow-bgcolor td:first-child {
        width: 400px;
    }
</style>

@helper GetBackBtnUrl()
{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (!string.IsNullOrEmpty(ViewBag.ParentActionName) && ViewBag.ParentActionName != "BalanceSheetPack")
    {
        if(config.IsEnableVbsNewUi)
        {
            @Url.Action(ViewBag.ParentActionName, "VendorBillingSystem", new { d= Request.Params["d"] })
        }
        else
        {
            @Html.Raw(Url.Action(ViewBag.ParentActionName, "VendorBillingSystem"));
        }
    }
    else
    {
        @Html.Raw("javascript:history.back()");
    }
}
@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            DesignMyTable();

            $("table.ow-bk-lis-deta-table tbody tr:odd").addClass("bgcol");

            changeChar('@Model.DealTotalAmountWithFare', 'changeNumberDutyFree');
            changeChar('@Model.DealFareAmount', 'changeNumberFare');
            changeChar('@Model.DealTotalAmountWithFare', 'changeNumberWithFare');


            $("#ddlDeal").change(function () {
                var dealTypes = '@dealTypes'.split("|");
                for (var d = 0; d < dealTypes.length; d++) {
                    if (dealTypes[d].indexOf($(this).val()) < 0) {
                        continue;
                    }
                    var types = dealTypes[d].split(",");
                    if (types.length <= 1) {
                        continue;
                    }
                    $("#hidDealType").val(types[1]);
                }

                var dealGenFreq = '@dealGenFreq'.split("|");
                for (var g = 0; g < dealGenFreq.length; g++) {
                    if (dealGenFreq[g].indexOf($(this).val()) < 0) {
                        continue;
                    }
                    var genFreq = dealGenFreq[g].split(",");
                    if (genFreq.length <= 1) {
                        continue;
                    }
                    $("#hidDealGenFreq").val(genFreq[1]);
                }

                var deliveryType = '@deliveryType'.split("|");
                for (var t = 0; t < deliveryType.length; t++) {
                    if (deliveryType[t].indexOf($(this).val()) < 0) {
                        continue;
                    }
                    var dType = deliveryType[t].split(",");
                    if (dType.length <= 1) {
                        continue;
                    }
                    $("#hidDeliveryType").val(dType[1]);
                }

                var dealRemiType = '@dealRemiType'.split("|");
                for (var r = 0; r < dealRemiType.length; r++) {
                    if (dealRemiType[r].indexOf($(this).val()) < 0) {
                        continue;
                    }
                    var remiType = dealRemiType[r].split(",");
                    if (remiType.length <= 1) {
                        continue;
                    }
                    $("#hidDealRemiType").val(remiType[1]);
                }

                $("#ddlStore").children().each(function () {
                    if ($(this).val() != -1) {
                        $(this).remove();
                    }
                });
                var dealStores = '@dealStores'.split("|");
                for (var s = 0; s < dealStores.length; s++) {
                    if (dealStores[s].indexOf($(this).val()) < 0) {
                        continue;
                    }
                    var stores = dealStores[s].split(",");
                    if (stores.length <= 1) {
                        continue;
                    }
                    var dealStore = stores[1].split(";");
                    for (var i = 0; i < dealStore.length; i++) {
                        var store = dealStore[i].split(":");
                        if (store.length != 2) {
                            continue;
                        }
                        $("#ddlStore").append(createOption(store[1], store[0]));
                    }
                }
            });

            createOption = function (text, value, selected) {
                var option = document.createElement("option");
                option.value = value;
                option.innerHTML = text;
                if (selected) {
                    option.selected = true;
                }
                return option;
            };
        });

        function changeChar(amount, id) {
            var priceChar = ["零", "壹", "貳", "參", "肆", "伍", "陸", "柒", "捌", "玖"];
            var amountLeftPad = ("00000000" + (amount | 0)).slice(-8);
            var content = '總計新台幣(中文大寫)&nbsp;';
            content += '<span class="OW-w6RP-InvoiceContentTextBlue">' + priceChar[amountLeftPad[0]] + '</span>&nbsp;千&nbsp;';
            content += '<span class="OW-w6RP-InvoiceContentTextBlue">' + priceChar[amountLeftPad[1]] + '</span>&nbsp;百&nbsp;';
            content += '<span class="OW-w6RP-InvoiceContentTextBlue">' + priceChar[amountLeftPad[2]] + '</span>&nbsp;拾&nbsp;';
            content += '<span class="OW-w6RP-InvoiceContentTextBlue">' + priceChar[amountLeftPad[3]] + '</span>&nbsp;萬&nbsp;';
            content += '<span class="OW-w6RP-InvoiceContentTextBlue">' + priceChar[amountLeftPad[4]] + '</span>&nbsp;千&nbsp;';
            content += '<span class="OW-w6RP-InvoiceContentTextBlue">' + priceChar[amountLeftPad[5]] + '</span>&nbsp;百&nbsp;';
            content += '<span class="OW-w6RP-InvoiceContentTextBlue">' + priceChar[amountLeftPad[6]] + '</span>&nbsp;拾&nbsp;';
            content += '<span class="OW-w6RP-InvoiceContentTextBlue">' + priceChar[amountLeftPad[7]] + '</span>&nbsp;元';

            if (document.getElementById(id)) {
                document.getElementById(id).innerHTML = content;
            }
        }

        function DesignMyTable() {
            var myTableWidth = 912;
            var firstAndLastWidth = 400;
            var noOfAutoWidthColumns = $(".autoWidth").size();
            var autoWidthColumn_Width = (myTableWidth - firstAndLastWidth) / noOfAutoWidthColumns;
            $(".autoWidth").css({ "width": autoWidthColumn_Width + "px" });
        }

        function changeBalanceSheet() {
            var dealId = $("select[id$=ddlDeal]").val();
            var storeId = "";
            if ($("select[id$=ddlStore]").val() != null && $("select[id$=ddlStore]").val().length > 0) {
                storeId = $("select[id$=ddlStore]").val();
            }
            var dealType = $("#hidDealType").val();
            var dealGenFreq = $("#hidDealGenFreq").val();
            var deliveryType = $("#hidDeliveryType").val();
            var dealRemiType = $("#hidDealRemiType").val();
            @if (config.IsEnableVbsNewUi) {
            <text>deliveryType = getVars()["d"];</text>
            }

            if (dealType.length === 0 || dealGenFreq.length === 0 || deliveryType.length === 0 || dealRemiType.length === 0) {
                return;
            }

            $.ajax({
                url: '@Url.Action("GoToBalanceSheetPage", "VendorBillingSystem")',
                type: 'POST',
                data: { Id: dealId, type: dealType, detailId: storeId, deliveryType: deliveryType, generationFrequency: dealGenFreq, remittanceType: dealRemiType },
                dataType: 'json',
                success: function (result) {
                    var resultUrl = result.Url;
                    @if (config.IsEnableVbsNewUi)
                    {
                        <text>var middlechar = resultUrl.indexOf("?") < 0 ? "?" : "&";</text>
                        <text>resultUrl += middlechar + "d=" + getVars()["d"];</text>
                    }
                    location.href = resultUrl;
                }
            });
        }

        function getVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
            function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }
    </script>
}
