﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model BalanceStoreListModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="OW-w5-2-ListTittleBG">
			<div class="OW-w5-1-ListTittle">[@Model.DealUniqueId]@Model.DealName（分店數：@Model.StoreInfos.Count()）</div>
			<div style="float:right;margin-top: -18px;">
				@if (ViewBag.ParentActionName == "EmployeeBalanceDealList")
				{
					<div class="OW-w5-2-ListBackBtn OW-w5-3-ListBackBtn" onclick="window.location.href='@Url.RouteUrl("VendorBillingSystemDefault", new { Action = "EmployeeBalanceDealList" })@Html.Raw(config.IsEnableVbsNewUi? "?d=" +Request.Params["d"]:"")'">回上頁</div>
				}
				else
				{
					<div class="OW-w5-2-ListBackBtn OW-w5-3-ListBackBtn" onclick="window.location.href='@Url.RouteUrl("VendorBillingSystemDefault", new { Action = "BalanceDealList", State = TempData["state"] })@Html.Raw(config.IsEnableVbsNewUi? "?d=" +Request.Params["d"]:"")'">回上頁</div>
				}
				@if (Model.RemittanceType == (int)RemittanceType.Flexible)
				{
					<div class="OW-w5-2-ListBackBtn OW-w5-3-ListBackBtn" id="create-user">批次執行彈性選擇出帳<br /><span style="font-size:12px;color:red">僅適用於彈性出帳檔次(不選店)</span></div>
				}
			</div>
		</div>
		<div class="OW-StaffToWriteOff-w5-List">
			@{  int seq = 1;
                string tblClassName = "", spnBalanceStateClassName = "", spnBalanceStateDesc = "", urlHref = "";
                foreach (var m in Model.StoreInfos)
                {
                    if (seq % 2 == 1)
                    {
                        tblClassName = "OW-W3-Table2";  //table class name
                    }
                    else
                    {
                        tblClassName = "OW-W3-Table3";  //table class name
                    }

                    if (m.BalanceState == VbsBalanceState.Balancing)
                    {
                        spnBalanceStateClassName = "OW-w6-RPTittle-ListIngText";
                        spnBalanceStateDesc = "對帳中";
                    }
                    else
                    {
                        spnBalanceStateClassName = "OW-w6-RPTittle-ListEndText";  //兌換狀態 class name
                        spnBalanceStateDesc = "對帳結束";  //兌換狀態說明
                    }

                    if (m.GenerationFrequency == (int)BalanceSheetGenerationFrequency.MonthBalanceSheet ||
                        Model.RemittanceType == (int)RemittanceType.Flexible ||
                        Model.RemittanceType == (int)RemittanceType.Weekly)
                    {
                        urlHref = Url.Action("BalanceSheetsMonth", new { id = Model.DealId, type = Model.DealType, detailId = m.StoreId.ToString() });
                        if (config.IsEnableVbsNewUi) { urlHref += "?d=" + Request.Params["d"]; }
                    }
                    else if (m.GenerationFrequency == (int)BalanceSheetGenerationFrequency.WeekBalanceSheet)
                    {
                        urlHref = Url.Action("BalanceSheetsWeek", new { id = Model.DealId, type = Model.DealType, detailId = m.StoreId.ToString() });
                        if (config.IsEnableVbsNewUi) { urlHref += "&d=" + Request.Params["d"]; }
                    }
                    else if (m.GenerationFrequency == (int)BalanceSheetGenerationFrequency.ManualTriggeredBalanceSheet)
                    {
                        urlHref = Url.Action("BalanceSheetsManual", new { id = Model.DealId, type = Model.DealType, detailId = m.StoreId.ToString() });
                        if (config.IsEnableVbsNewUi) { urlHref += "&d=" + Request.Params["d"]; }
                    }

					<table border="0" cellspacing="0" cellpadding="0" class='@tblClassName' onclick="window.location.href='@urlHref'">
						<tr>
							<td width="802"><span class="OW-w6-RPTittle-ListTittle">@m.StoreName</span></td>
							<td width="103" rowspan="2"><span class='@spnBalanceStateClassName'>@spnBalanceStateDesc</span></td>
						</tr>
						<tr>
							<td><span class="OW-W3-Table2-ListTime">總銷售：@String.Format("{0:#,0}", m.SaleCount)／退貨：@String.Format("{0:#,0}", m.ReturnCount)／已核銷：@String.Format("{0:#,0}", m.VerifiedCount)／未核銷：@String.Format("{0:#,0}", m.UnUsedCount)</span></td>
						</tr>
					</table>
					seq++;
				}
			}
		</div>
	</div>
</div>

<div id="dialog" title="步驟一 選擇日期">
    <p>請選擇申請本次對帳單之結算最終日期:</p>
    <input type='text' id='genFlexibleBalanceSheetDate' />
</div>

@section Script{
    <script type="text/javascript">
    $(function () {
        $("#dialog").dialog({
            autoOpen: false,
            height: 300,
            width: 400,
            modal: true,
            buttons: {
                '下一步': genFlexibleBalanceSheet,
                '取消': function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#create-user").on("click", function () {
            $("#dialog").dialog("open");
        });
        $('#genFlexibleBalanceSheetDate').datepicker({
            minDate: new Date('@Model.StoreInfos.First().UseStartTime.AddDays(1).ToString("yyyy/MM/dd")'),
            maxDate: new Date('@DateTime.Today.ToString("yyyy/MM/dd")')
        });
        function genFlexibleBalanceSheet()
        {
            if ($('#genFlexibleBalanceSheetDate').val().length === 0) {
                alert("請輸入結算最終日期!");
                return false;
            }
            $(this).dialog('close');
            var id = '@Model.DealId';
            var storeGuid = '';
            var genDate = $('#genFlexibleBalanceSheetDate').val();
            var storeInfos = @Html.Raw(Json.Encode(Model.StoreInfos));
            var storelenth = storeInfos.length;
            for(var s=0;s<storelenth;s++)
            {
                storeGuid +=storeInfos[s].StoreId + ",";
            }
            block_postback();

            $.ajax({
                url: '@Url.Action("GenerateFlexibleBalanceSheet", "VendorBillingSystem")',
                type: 'POST',
                data: { Id: id, StoreGuid: storeGuid, GenDate: genDate, Generate: true },
                dataType: 'json',
                success: function (result) {
                    //關閉處理中訊息並解除鎖定畫面
                    $.unblockUI();
                    if (!result.Success) {
                        alert(result.FailReason);
                    } else {
                        var alertString="對帳單產出完成！" + "\n本次產出成功店數：" + result.CntSuccessStore + "家" +
                                                    "\n此結算日期已產過對帳單，本次未產店數：" + result.CntFailStoreDuplication + "家" +
                                                    "\n本次產出失敗店數：" + result.CntFailStore + "家"+(result.CntFailStore > 0 ? "，請洽廠商客服窗口" : "" )+"。"

                        alert("對帳單產出完成！您可至對帳查詢檢視各檔、各分店的個別對帳單，或至總明細檢閱對帳金額。");
                        alert(alertString);
                        //reload 以顯示對帳單畫面
                        location.reload();
                    }
                }
            });
        };


    });
    function block_postback() {
        $.blockUI({ message: "<center><img src='@Url.Content("~/Themes/PCweb/images/spinner.gif")' />處理中，請稍候...</center>", css: { width: '250px' } });
    }
    </script>
}