﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@using System.Linq
@using System
@model BalanceSheetsMonthModel
@{
    Layout = "~/Views/Shared/BalanceSheetMiddleLayout.cshtml";
}

@{ 
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    decimal balanceSheetAmount = 0;
    var balanceSheetId = Request.QueryString["balanceSheetId"];
    if (Model.BalanceSheetsMonthInfos.Any())
    {
        balanceSheetId = (string.IsNullOrEmpty(balanceSheetId)) ? Model.BalanceSheetsMonthInfos.First().BalanceSheetId.ToString() : balanceSheetId;
    }
}
    <div class="OW-w6RP-DateDistrict"><!----DATE---->
    @if(Model.BalanceSheetsMonthInfos.Any())
    {
        @:<div class="OW-w6RP-moreMonth">
            @:<select name="ddlBalanceSheetId" id="ddlBalanceSheetId" onchange="ddlBalanceSheetId_Change();">
            @:<option>查看更多</option>
        foreach (var m in Model.BalanceSheetsMonthInfos)
        {
            if (@m.IsConfirmedReadyToPay)
            {
            @:<option value='@m.BalanceSheetId'>@m.BalanceSheetMonth</option>
            }
            else
            {
            @:<option value='@m.BalanceSheetId'>@m.BalanceSheetMonth 請將發票或收據寄回</option>
            }
        }
            @:</select>
        @:</div>
        @:<div class="OW-w6RP-DateClassificationMonth">
        string color = "";
        string className = "";
        int i = 0;
        foreach (var m in Model.BalanceSheetsMonthInfos)
        {
            if (i > 2)
            {
                break;
            }
            if (balanceSheetId == m.BalanceSheetId.ToString())
            {
                className = "OW-w6RP-Month-ON";
                color = "#ffffff";
            }
            else
            {
                className = "OW-w6RP-Month";
                color = "#ff0000";
            }
            if (m.IsConfirmedReadyToPay)
            {
            @:<div class='@className' onclick="showBalanceMonthData('@m.BalanceSheetId')">@m.BalanceSheetMonth 已完成</div>
            }
            else
            {
            @:<div class='@className' onclick="showBalanceMonthData('@m.BalanceSheetId')">@m.BalanceSheetMonth <span style="font-family:'微軟正黑體'; color:@color; font-size:13px;">請將發票或收據寄回</span></div>
            }
            i++;
        }
        @:</div> 
    }
    else if(Model.RemittanceType == (int)RemittanceType.Flexible)
    {
        <span style="color: red; text-align: center; display: block; font-weight: bold; margin: 28px;">請點擊右上方[申請]產生請款用對帳單</span>
    }
    </div><!----DATE---->
@if(Model.BalanceSheetsMonthInfos.Any())
{
    //發票或收據範例金額顯示用：月結-無論付款與否，發票或收據金額顯示對帳單(應付)金額
    //                        週結-                           顯示對帳單實付金額
    balanceSheetAmount = (Model.RemittanceType.Equals((int)RemittanceType.AchWeekly) ||
                          Model.RemittanceType.Equals((int)RemittanceType.ManualWeekly))
                            ? Model.FundTransferInfo.AccountsPaid ?? 0
                            : Model.FundTransferInfo.AccountsPayable;

    <div class="OW-w6RP-moreMonth-BodyText">
    @if (Model.FundTransferInfo.AccountsPayable >= 0)
    { 
        if (Model.RemittanceType == (int)RemittanceType.AchWeekly || Model.RemittanceType == (int)RemittanceType.ManualWeekly)
        {
        <ul style="line-height:33px;">
            <li>敬愛的廠商您好：</li>
            <li>本月請依照下方金額開立統一發票或收據，並於本月的10日以前（以郵戳為憑），將單據寄回。</li>
            <li>若發票或收據逾期未寄回，將暫緩支付每週款項。</li>
            <li>若金額與資料有誤，請與帳務服務人員聯絡。</li>
        </ul>
        }
        else if (Model.RemittanceType == (int) RemittanceType.AchMonthly || Model.RemittanceType == (int) RemittanceType.ManualMonthly)
        {
        <ul style="line-height: 33px;">
            <li>敬愛的廠商您好：</li>
            <li>請確認下方請款資料是否正確。若請款資料無誤，本月請依照下方請款金額開立統一發票或收據，並於本月的10日以前（以郵戳為憑），將請款發票或收據寄回。</li>
            <li>我們將於本月26日統一完成匯款（如遇放假日，作業時間將順延至下一個工作日），逾期請款將順延到隔月匯款。</li>
            <li>若請款資料有誤，請與帳務服務人員聯絡。</li>
        </ul>
        }
        else
        {
        <ul style="line-height: 33px;">
            <li>敬愛的廠商您好：</li>
            <li>請確認下方請款資料是否正確。若請款資料無誤，請依照下方請款金額開立統一發票或收據，並將請款發票或收據寄回。</li>
            <li>若請款資料有誤，請與帳務服務人員聯絡。</li>
        </ul>
        }
        <br/>
        <ul style="line-height:21px;">
            <li style="line-height:33px;">單據發票寄件地址：</li>
            <li>【好康兌換檔】</li>
            <li><span style="color: red; font-weight: bold;">10441 台北市中山區中山北路一段11號13樓 財務部 收</span></li>
        </ul>
        <br/>
        <ul style="line-height:21px;">
            <li>【旅遊檔】</li>
            <li><span style="color: red; font-weight: bold;">10441 台北市中山區中山北路一段11號13樓 財務部 蘇小姐 收</span></li>
        </ul>
    }
    else
    {
        <ul style="line-height:33px;">
            <li>敬愛的廠商您好：</li>
            <li>本次合作中，因核銷錯誤，或核銷後消費者實際無使用等情況，進行取消核銷的作業。</li>
            <li>其中造成溢付的款項，請協助依照下方的匯款資訊，將溢付金額匯回給我們；我們將在收到款項後，寄發折讓單。</li>
            <li>感謝您的合作。</li>
        </ul>
    }
    </div>
    <br/>
    <table border="0" cellspacing="0" cellpadding="0"  class="OW-w6RP-Month_F"><!----Month---->
        <tr>
            <td class="OW-w6RP-MonthOverall-TOP">核銷統計</td>
            <td class="OW-w6RP-MonthOverall-TOP">匯款資訊</td>
        </tr>
        <tr>
            <td class="OW-w6RP-MonthOverall-Info" valign="top">
                <ul>
                <li>[@Model.DealUniqueId] </li>
                @if (!string.IsNullOrEmpty(Model.StoreName))
                {
                <li>@Model.DealName（@Model.StoreName）</li>
                }
                else
                {
                <li>@Model.DealName</li>
                }
                <li>兌換時間：@Model.ExchangePeriodStartTime.ToString("yyyy/MM/dd") ~ @Model.ExchangePeriodEndTime.ToString("yyyy/MM/dd")</li>
                <li>&nbsp;</li>  
                <li>本次退貨數：@String.Format("{0:#,0}", Model.ReturnCount)</li>
                <li><span class="OW-w6RP-MonthOverall-InfoBlue">本次已核銷數：@Model.VerifiedCount</span></li>
                <li><span class="OW-w6RP-MonthOverall-InfoBlue">本次取消核銷數：@Model.UnDoCount</span></li>
                @if (Model.SlottingFeeQuantity > 0)
                {
                    <li><span class="OW-w6RP-MonthOverall-InfoBlue">累計總核銷數：@Model.VerifiedTotalCount</span></li>
                    <li><span class="OW-w6RP-MonthOverall-InfoBlue">上架費份數：@Model.SlottingFeeQuantity</span></li>
                }
                <li>&nbsp;</li> 
                <li>結算時間：@Model.PaymentPeriodStartTime.ToString("yyyy/MM/dd") ~ @Model.PaymentPeriodEndTime.ToString("yyyy/MM/dd")</li>
                <li>結帳方式：@Helper.GetLocalizedEnum((RemittanceType)Model.BalanceSheetRemittanceType) </li>
                <li>&nbsp;</li> 
                <li><div class="OW-w6RP-btn1" onclick="showMonthlyVerificateionList(@balanceSheetId);">本次核銷清單</div></li>
                </ul>   
            </td>
            <td class="OW-w6RP-MonthOverall-Info" valign="top">
                @if (Model.FundTransferInfo.AccountsPayable < 0)
                {
                    <ul>
                        <li><span class="OW-w6RP-WeeksOverall-InfoBlue">溢付總額：@String.Format("{0:$#,0}", Model.FundTransferInfo.AccountsPayable)</span></li>
                        <li><span class="OW-w6RP-WeeksOverall-InfoBlue">請協助將溢付金額匯至下方帳戶中。</span></li>
                        <li>&nbsp;</li>
                        <li>戶名：康太數位整合股份有限公司</li>
                        <li>銀行：中國信託822</li>
                        <li>分行：承德分行0624</li>
                        <li>帳號：624-540-098233</li>
                        <li>&nbsp;</li>
                    </ul>
                }
                else
                {
                    //月結月對帳單及先收單據後付款對帳單 需顯示 應付金額 及 實付金額
                    //週結月對帳單只需顯示 實付金額
                    <ul>
                    @if(Model.RemittanceType != (int)RemittanceType.AchWeekly && 
                        Model.RemittanceType != (int)RemittanceType.ManualWeekly)
                    {
                        <li><span class="OW-w6RP-WeeksOverall-InfoBlue">本次應付總額：@String.Format("{0:$#,0}", Model.FundTransferInfo.AccountsPayable)</span></li>
                        if (Model.CrossMonthPaymentInfos != null)
                        {
                            foreach (var paymentInfo in Model.CrossMonthPaymentInfos)
                            {
                                <li>
                                    <span style="color:#708090; font-size: 13px; height: 20px;">
                                        @string.Format("● {0} ~ {1}：{2}",
                                                    paymentInfo.PaymentPeriodStartTime.ToString("yyyy/MM/dd"),
                                                    paymentInfo.PaymentPeriodEndTime.ToString("yyyy/MM/dd"),
                                                    String.Format("{0:$#,0}", paymentInfo.PayableAmount))
                                    </span>

                                </li>
                            }
                        }
                        <li><span class="OW-W6-2-2-Comment">應付總額=核銷份數-取消核銷份數@(Model.SlottingFeeQuantity > 0 ? "-上架費份數" : string.Empty)</span></li> 
                    }
                    @if (Model.FundTransferInfo.AccountsPaid.HasValue)
                    { 
                        <li><span class="OW-w6RP-WeeksOverall-InfoBlue">本次實付總額：@string.Format("{0:$#,0}", Model.FundTransferInfo.AccountsPaid)</span></li>
                    }                  
                    <li><span class="OW-w6RP-WeeksOverall-InfoBlue">狀態：@Model.FundTransferInfo.TransferStatusDescription</span></li>
                    @if (Model.FundTransferInfo.TransferCompletionDescription == "暫停付款" || Model.FundTransferInfo.TransferCompletionDescription == "尚未付款")
                    {
                        if (Model.FundTransferInfo.InvoiceNumberAndStatus != "" && Model.FundTransferInfo.InvoiceNumberAndStatus != null)
                        {
                            <li><span class="OW-w6RP-WeeksOverall-InfoBlue">發票號碼：@Model.FundTransferInfo.InvoiceNumberAndStatus (發票處理中)</span></li>
                        }
                        else
                        {
                            <li><span class="OW-w6RP-WeeksOverall-InfoBlue">發票號碼：@Model.FundTransferInfo.InvoiceNumberAndStatus</span></li>
                        }
                        <li><span class="OW-w6RP-WeeksOverall-InfoBlue">預計付款日期：@Model.FundTransferInfo.DefaultPaymentTime</span></li>
                    }
                    else
                    {
                        <li><span class="OW-w6RP-WeeksOverall-InfoBlue">發票號碼：@Model.FundTransferInfo.InvoiceNumberAndStatus</span></li>
                    }
                    <li>
                        <span class="OW-w6RP-WeeksOverall-InfoBlue">
                            完成付款時間：@Model.FundTransferInfo.TransferCompletionDescription
                        </span>
                    </li>
                    @if (!string.IsNullOrWhiteSpace(Model.FundTransferInfo.Memo))
                    {
                        <li>付款備註：<br />@Model.FundTransferInfo.Memo</li>
                    }
                    @{
                        DateTime dummy;
                        if (DateTime.TryParse(Model.FundTransferInfo.TransferCompletionDescription, out dummy))
                        {
                            <li><span class="OW-w6RP-WeeksOverall-InfoRed">建議於完成付款時間的隔日進行確認。</span></li>
                        }
                    }
                            
                    <li>&nbsp;</li>
                    <li>受款戶名：@Model.FundTransferInfo.ReceiverTitle</li>
                    <li>受款ＩＤ：@Model.FundTransferInfo.ReceiverCompanyId</li>
                    <li>銀行代號：@Model.FundTransferInfo.ReceiverAccountBankNo</li>
                    <li>分行代號：@Model.FundTransferInfo.ReceiverAccountBranchNo</li>
                    <li>受款帳號：@Model.FundTransferInfo.ReceiverAccountNo</li>
                </ul> 

            }                    
            </td>
        </tr>
    </table><!----Month---->
    if (Model.FundTransferInfo.AccountsPayable >= 0)
    {
        if (Model.VendorReceiptType == (int)VendorReceiptType.Invoice)
        {
            decimal unTaxPrice = 0, taxPrice = 0;
            decimal taxRate = 1;
            ISysConfProvider _cp = ProviderFactory.Instance().GetConfig();
            string isTaxDisplay = string.Empty;
            string isTaxFreeDisplay = string.Empty;
            if (Model.IsTax.Equals(true))
            {
                taxRate = 1 + _cp.BusinessTax;
                isTaxDisplay = "v";
            }
            else
            {
                isTaxFreeDisplay = "v";
            }
            unTaxPrice = Math.Round(balanceSheetAmount / taxRate, 0);
            taxPrice = balanceSheetAmount - unTaxPrice;
        <div class="OW-w6RP-InvoiceFrame"><!----OW-w6RP-Invoice---->
        <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceTittleTable">
            <tr>
                <td colspan="3" class="OW-w6RP-InvoiceTittleText">統一發票（三聯式）</td>
            </tr>
            <tr>
                <td colspan="3" style="padding-left:10px;">發票號碼</td>
            </tr>
            <tr>
                <td colspan="3" height="10"></td>
            </tr>
            <tr>
                <td align="center" width="100"><span style="letter-spacing:0.8em;">買受</span>人：</td>
                <td width="420" class="OW-w6RP-InvoiceTittleTextBlue">康太數位整合股份有限公司</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align="center"><span style="letter-spacing:0.2em;">統一編</span>號：</td>
                <td class="OW-w6RP-InvoiceTittleTextBlue">24317014</td>
                <td style="letter-spacing:0.4em;">中華民國<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.AddYears(-1911).Year</span>年<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.Month</span>月<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.Day</span>日</td>
            </tr>
            <tr>
                <td align="center"><span style="letter-spacing:2.5em;">地</span>址：</td>
                <td>(得免填)</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td height="5"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
       
        <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceContentTable">
            <tr>
                <td width="270" height="32" class="OW-w6RP-InvoiceContentTittle">品名</td>
                <td width="137" class="OW-w6RP-InvoiceContentTittle">數量</td>
                <td width="137" class="OW-w6RP-InvoiceContentTittle">單價</td>
                <td width="137" class="OW-w6RP-InvoiceContentTittle">金額</td>
                <td width="204" class="OW-w6RP-InvoiceContentTittle">備註</td>
            </tr>
            <tr>
                <td height="32" class="OW-w6RP-InvoiceContentTextBlue">@Model.DealUniqueId</td>
                <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                <td class="OW-w6RP-InvoiceContentTextBlue">@String.Format("{0:#,0}", unTaxPrice)</td>
                <td rowspan="10"><span style="color:#F00;">本單據範本，<br/>請勿列印使用。</span><br/><br/><span class="OW-w6RP-InvoiceContentTextBlue">在此加蓋<br/>統一發票專用章</span></td>
            </tr>
            <tr>
                <td height="32">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td height="32">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td height="32">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td height="32">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" height="32"><span  style="letter-spacing:6em;" >銷售額合</span>計</td>
                <td class="OW-w6RP-InvoiceContentTextBlue">@String.Format("{0:#,0}", unTaxPrice)</td>
            </tr>
            <tr>
                <td class="OW-w6RP-InvoiceContentTittle">營業稅</td>
                <td colspan="2" rowspan="2" class="OW-w6RP-InvoiceContentTittle">
                <table border="0" cellspacing="0" cellpadding="0" width="295" class="OW-w6RP-InvoiceTaxTable ">
                    <tr>
                        <td width="98">應稅</td>
                        <td width="98">零稅率</td>
                        <td width="98">免稅</td>
                    </tr>
                    <tr>
                        <td class="OW-w6RP-InvoiceContentTextBlue">@isTaxDisplay</td>
                        <td>&nbsp;</td>
                        <td class="OW-w6RP-InvoiceContentTextBlue">@isTaxFreeDisplay</td>
                    </tr>
                </table>
                </td>
                <td rowspan="2" class="OW-w6RP-InvoiceContentTextBlue">@taxPrice</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" height="32"><span  style="letter-spacing:27em;">總</span>計</td>
                <td class="OW-w6RP-InvoiceContentTextBlue">@String.Format("{0:#,0}", balanceSheetAmount)</td>
            </tr>
            <tr>
                <td colspan="4" height="32" style="letter-spacing:0.2em;" >
                總計新台幣(中文大寫)
                <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharI1"></span>
                千
                <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharI2"></span>
                百
                <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharI3"></span>
                拾
                <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharI4"></span>
                萬
                <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharI5"></span>
                千
                <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharI6"></span>
                百
                <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharI7"></span>
                拾
                <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharI8"></span>
                元</td>
            </tr>
        </table>
        <div class="OW-w6RP-InvoiceWarningsR">請依照上方統一發票或收據內容，開立發票或收據。請勿直接列印使用。</div>
        </div><!----OW-w6RP-Invoice---->     
        }
        else if (Model.VendorReceiptType == (int)VendorReceiptType.Receipt || Model.VendorReceiptType == (int)VendorReceiptType.Other)
        {
        <div class="OW-w6RP-ReceiptFrame"><!----OW-w6RP-Receipt---->
        <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceTittleTable">
            <tr>
                <td colspan="4" class="OW-w6RP-InvoiceTittleText">免用統一發票收據</td>
            </tr>
            <tr>
                <td width="100" align="center"><span style="letter-spacing:0.8em;">買受</span>人：</td>
                <td width="480" class="OW-w6RP-InvoiceTittleTextBlue">康太數位整合股份有限公司</td>
                <td width="100" align="center"><span style="letter-spacing:0.2em;">統一編</span>號：</td>
                <td class="OW-w6RP-InvoiceTittleTextBlue">24317014</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="letter-spacing:0.4em;">中華民國<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.AddYears(-1911).Year</span>年<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.Month</span>月<span class="OW-w6RP-InvoiceTittleTextBlue">@DateTime.Today.Day</span>日</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        
        <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceContentTable">
            <tr>
                <td width="175" height="32" class="OW-w6RP-InvoiceContentTittle">品名</td>
                <td width="80" class="OW-w6RP-InvoiceContentTittle">數量</td>
                <td width="80" class="OW-w6RP-InvoiceContentTittle">單價</td>
                <td width="100" class="OW-w6RP-InvoiceContentTittle">總價</td>
                <td width="15"></td>
                <td colspan="2" width="180" class="OW-w6RP-InvoiceContentTittle">備註</td>
            </tr>
            <tr>
                <td height="32" class="OW-w6RP-InvoiceContentTextBlue">@Model.DealUniqueId</td>
                <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                <td class="OW-w6RP-InvoiceContentTextBlue">@String.Format("{0:#,0}", balanceSheetAmount)</td>
                <td>&nbsp;</td>
                <td width="180" colspan="2" rowspan="5"><span style="color:#F00;">本單據範本，<br/>請勿列印使用。</span><br/><br/><span class="OW-w6RP-InvoiceContentTextBlue">在此加蓋<br/>免用統一發票專用章</span></td>
            </tr>
            <tr>
                <td height="32">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td height="32">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td height="32">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td height="32">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" height="32"><span  style="letter-spacing:25em;">總</span>計</td>
                <td class="OW-w6RP-InvoiceContentTextBlue">@String.Format("{0:#,0}", balanceSheetAmount)</td>
                <td>&nbsp;</td>
                <td rowspan="2" width="110"><div class="OW-w6RP-ReceiptChapter">銀貨兩訖</div></td>
                <td rowspan="2" width="70" class="OW-w6RP-InvoiceContentTextBlue">在此加蓋<br/>負責人章</td>
            </tr>
            <tr>
                <td colspan="4" height="32" style="letter-spacing:0.2em;" >
                    總計新台幣(中文大寫)
                    <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharR1"></span>
                    千
                    <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharR2"></span>
                    百
                    <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharR3"></span>
                    拾
                    <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharR4"></span>
                    萬
                    <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharR5"></span>
                    千
                    <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharR6"></span>
                    百
                    <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharR7"></span>
                    拾
                    <span class="OW-w6RP-InvoiceContentTextBlue" id="priceConvertCharR8"></span>
                    元</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <div class="OW-w6RP-InvoiceWarningsR">請依照上方統一發票或收據內容，開立發票或收據。請勿直接列印使用。</div>
        <div class="OW-w6RP-InvoiceWarningsR">若為私人簽約請加蓋負責人私章即可。</div>
        </div><!----OW-w6RP-Receipt----> 
        }
    }
}

   @section Script{    
    <script type="text/javascript">
        $().ready(function () {

            if (parseInt('@Model.BalanceSheetsMonthInfos.Count()') == 0 &&
                ('@Model.RemittanceType' != '@((int)RemittanceType.Weekly)' &&
                 '@Model.RemittanceType' != '@((int)RemittanceType.Monthly)' &&
                 '@Model.RemittanceType' != '@((int)RemittanceType.Flexible)')) {
                alert("查無月對帳資料");
                window.history.back();
                return;
            }

            if ('@Model.RemittanceType' != '@((int)RemittanceType.AchWeekly)' && '@Model.RemittanceType' != '@((int)RemittanceType.ManualWeekly)') {
                $("#divBalanceSheetsWeek").css("display", "none");
            }

            if (parseInt('@Model.BalanceSheetManualCount') > 0) {
                $("#divBalanceSheetsManual").css("display", "");
            }

            var balanceSheetId = '@balanceSheetId';
            //月對帳單下拉選單依據目前檢視內容而顯示選取
            $("#ddlBalanceSheetId").children().each(function () {
                if ($(this).val() == balanceSheetId) {
                    $(this).attr("selected", "true");
                }
            });

            //將對帳單金額轉換為國字顯示於下方發票或收據
            var priceConvertCharResult = priceConvertChar(parseInt('@balanceSheetAmount'), 7);
            var priceConvertCharArray = priceConvertCharResult.substring(0, priceConvertCharResult.length - 1).split(",");
            for (var i = 0; i < priceConvertCharArray.length; i++) {
                $("#priceConvertCharI" + (i + 1)).text(priceConvertCharArray[i]);
                $("#priceConvertCharR" + (i + 1)).text(priceConvertCharArray[i]);
            }
        });

        function ddlBalanceSheetId_Change() {
            var url = "";
            if ($("select[id$=ddlBalanceSheetId]").val() != "")
                url = $("select[id$=ddlBalanceSheetId]").val();
            window.location.href = '@Url.Action("BalanceSheetsMonth", new { id = Model.DealId, type = Model.DealType, detailId = Model.StoreId })' + "?balanceSheetId=" + url + "@Html.Raw(config.IsEnableVbsNewUi ? "&d=" + Request.Params["d"] : "")";
        }

        function showBalanceMonthData(balanceSheetId) {
            window.location.href = '@Url.Action("BalanceSheetsMonth", new { id = Model.DealId, type = Model.DealType, detailId = Model.StoreId })' + "?balanceSheetId=" + balanceSheetId + "@Html.Raw(config.IsEnableVbsNewUi ? "&d=" + Request.Params["d"] : "")";
        }

        function showMonthlyVerificateionList(balanceSheetId) {
            window.open('@Url.Action("MonthlyVerificationList", new { id = Model.DealId, type = Model.DealType, detailId = Model.StoreId })' + "?balanceSheetId=" + balanceSheetId);
        }

        function priceConvertChar(paymentTotal, position) {
            var returnValue = "";
            var priceChar = ["零", "壹", "貳", "參", "肆", "伍", "陸", "柒", "捌", "玖"];
            var unit;
            if (position >= 0) {
                if (paymentTotal >= Math.pow(10, position)) {
                    unit = parseInt(paymentTotal / Math.pow(10, position));
                    paymentTotal = paymentTotal % Math.pow(10, position);
                    returnValue = returnValue + priceChar[unit] + ",";
                    if (paymentTotal >= 10){
                        returnValue = returnValue + priceConvertChar(paymentTotal, position - 1);
                    }
                    else {
                        if (position > 0) {
                            for (var i = 0; i < position - 1; i++) {
                                returnValue = returnValue + priceChar[0] + ",";
                            }
                        }
                        returnValue = returnValue + priceChar[paymentTotal] + ",";
                    }
                }
                else {
                    returnValue = returnValue + priceChar[0] + ",";
                    returnValue = returnValue + priceConvertChar(paymentTotal, position - 1)
                }
            }
            return returnValue;
        }
    </script>
   }
