﻿@using LunchKingSite.Core
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@using LunchKingSite.Core.Component
@model BalanceSheetPackModel
@{
    Layout = "~/Views/Shared/BalanceSheetPackLayout.cshtml";
    var groupByDeal = !Model.GroupByStore;
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}

@if (Model.BalanceSheetPackInfos != null)
{
    var invoiceAmount = 0;
    var receiptAmount = 0;
    var invoiceAmountTaxFree = 0;
    var totalAmount = 0;
    var dealTotalAmount = 0;

    if (Model.DeliveryType == DeliveryType.ToShop)
    {
        <form id="gForm" action='@Html.Raw(Server.UrlDecode(Url.Action("BalanceSheetPack?d=" + Request.Params["d"])))' method="POST">
            <div class="OW-w10-3-Shipp-TabFarm">
                <div class="@Html.Raw(groupByDeal ? "OW-w10-3-Shipp-Tab-ON textSize15" : "OW-w10-3-Shipp-Tab textSize15")" onclick="ChangeBsGroupByStore('False')">依檔次</div>
                <div class="@Html.Raw(!groupByDeal ? "OW-w10-3-Shipp-Tab-ON textSize15" :"OW-w10-3-Shipp-Tab textSize15")" onclick="ChangeBsGroupByStore('True')">依分店</div>
            </div>
            <input type="hidden" name="SellerGuid" value="@Model.SellerGuid">
            <input type="hidden" name="DeliveryType" value="@Model.DeliveryType">
            <input type="hidden" name="BsYearMonth" value="@Model.BsYearMonth" />
            <input type="hidden" name="GroupByStore" id="groupByStore" value="@Model.GroupByStore">
            @if (Model.UnReceiptReceivedDealGuids != null)
            {
                for (var d = 0; d < Model.UnReceiptReceivedDealGuids.Count(); d++)
                {
                    @Html.Hidden(string.Format("UnReceiptReceivedDealGuids[{0}]", d), Model.UnReceiptReceivedDealGuids.ElementAt(d))
                }
            }
        </form>
    }
    <div class="OW-w10-3-ShippDetial" style="width: 1600px;">
        <div class="w17-2-Orders-Title">
            <span class="OW-w6RP-InvoiceTittleTextBlue">新出帳方式</span>
        </div>
        <div class="w17-2-Orders">
            <table border="0" cellspacing="0" cellpadding="0" class="w10-2-OrderDetialTable textSize15" style="width: 1500px;">
                <tbody>
                    <tr>
                        <td colspan="17" class="textLeft Padding">
                            抬頭：康太數位整合股份有限公司<br />
                            統編：24317014<br />
                            @if (Model.DeliveryType == DeliveryType.ToShop)
                            {
                                @Html.Raw("單據發票寄件地址：10441台北市中山區中山北路一段11號13樓 財務部 收") <br />
                            }
                            else if (Model.DeliveryType == DeliveryType.ToHouse)
                            {
                                @Html.Raw("品名：商品一批") <br />
                                @Html.Raw("單據發票寄件地址：10441台北市中山區中山北路一段11號13樓 帳務服務組 收") <br />
                            }

                            @if(Model.DeliveryType == DeliveryType.ToShop)
                            {
                                <span class="w10-3-OrderMove-info-time">※開立發票時，請使用以下金額開立</span><br />
                            }
                            else if (Model.DeliveryType == DeliveryType.ToHouse)
                            {
                                <span class="w10-3-OrderMove-info-time">※開立發票時，請使用以下金額開立。另A區中的逾期出貨補款金額請於同一張應稅發票中，開立另外名目。（建議：其他收入）。</span><br />
                            }

                            @foreach(BalanceSheetPackInfo info in Model.BalanceSheetPackInfos.Where(x => x.RemittanceType == (int)RemittanceType.Weekly ||
                                                                                        x.RemittanceType == (int)RemittanceType.Monthly ||
                                                                                        x.RemittanceType == (int)RemittanceType.Flexible ||
                                                                                        x.RemittanceType == (int)RemittanceType.Fortnightly))
                            {
                                switch (info.VendorReceiptType)
                                {
                                    case VendorReceiptType.Other:
                                    case VendorReceiptType.Invoice:
                                        if (info.IsTax)
                                        {
                                            invoiceAmount += info.EstAmount + info.IspFamilyAmount + info.IspSevenAmount + Math.Abs(info.NegativePaymentOverdueAmount) + info.WmsOrderAmount;
                                        }
                                        else
                                        {
                                            invoiceAmount += info.PayFreightAmount + Math.Abs(info.PositivePaymentOverdueAmount);
                                            invoiceAmountTaxFree += info.EstAmount + info.IspFamilyAmount + info.IspSevenAmount + Math.Abs(info.NegativePaymentOverdueAmount) + info.WmsOrderAmount - Math.Abs(info.PositivePaymentOverdueAmount) - info.PayFreightAmount;
                                        }
                                        break;
                                    case VendorReceiptType.Receipt:
                                        receiptAmount += info.EstAmount + info.IspFamilyAmount + info.IspSevenAmount + Math.Abs(info.NegativePaymentOverdueAmount) + info.WmsOrderAmount;
                                        break;
                                }
                                totalAmount += info.EstAmount;
                            }
                            含稅發票總金額：<span class="w10-3-OrderMove-info-time">@String.Format("{0:$#,0}", totalAmount >= 0 ? invoiceAmount : 0)</span><br />
                            免稅發票總金額：<span class="w10-3-OrderMove-info-time">@String.Format("{0:$#,0}", totalAmount >= 0 ? invoiceAmountTaxFree : 0)</span><br />
                            收據總金額：<span class="w10-3-OrderMove-info-time">@String.Format("{0:$#,0}", totalAmount >= 0 ? receiptAmount : 0)</span><br /><br />
                            @*@if (Model.DeliveryType == DeliveryType.ToShop)
                                {
                                    @Html.Raw("應付金額總計：");
                                }
                                else if (Model.DeliveryType == DeliveryType.ToHouse)
                                {
                                    @Html.Raw("應付金額總計(A - B)：");
                                }
                                @String.Format("{0:$#,0}", Model.TotalAmount >= 0 ? Model.TotalAmount : 0)*@
                        </td>
                    </tr>
                    @if (Model.DeliveryType == DeliveryType.ToShop)
                    {
                        <!--憑證對帳單 Start-->
                        var models = groupByDeal
                                    ? Model.BalanceSheetPackInfos.Where(x => x.RemittanceType == (int)RemittanceType.Weekly ||
                                                                                    x.RemittanceType == (int)RemittanceType.Monthly ||
                                                                                    x.RemittanceType == (int)RemittanceType.Flexible)
                                                                    .GroupBy(x => x.DealId)
                                                                    .ToDictionary(x => x.Key, x => x.ToList())
                                    : Model.BalanceSheetPackInfos.Where(x => x.RemittanceType == (int)RemittanceType.Weekly ||
                                                                                    x.RemittanceType == (int)RemittanceType.Monthly ||
                                                                                    x.RemittanceType == (int)RemittanceType.Flexible)
                                                                    .Where(x => x.StoreGuid.HasValue)
                                                                    .GroupBy(x => x.StoreGuid.Value)
                                                                    .ToDictionary(x => x.Key, x => x.ToList());
                        <tr class="w10-3-OrderPinkTitle">
                            <td width="140">@Html.Raw(groupByDeal ? "檔次" : "分店")</td>
                            <td width="460">@Html.Raw(groupByDeal ? "分店" : "檔次")</td>
                            <td width="135">對帳單金額</td>
                            <td width="135">對帳單明細</td>
                        </tr>
                        totalAmount = 0;
                        foreach (var dealId in models.Keys)
                        {
                            //各檔次
                            var seq = 1;
                            var bsCount = models[dealId].Count;
                            dealTotalAmount = 0;
                            foreach (var m in models[dealId])
                            {
                                //各分店
                                var bsActionName = m.GenerationFrequency == (int)BalanceSheetGenerationFrequency.ManualTriggeredBalanceSheet
                                    ? "BalanceSheetsManual"
                                    : "BalanceSheetsMonth";
                                <tr>
                                    @if (seq == 1)
                                                {
                                                <td class="textLeft Padding" rowspan="@(bsCount + 1)">
                                                    @Html.Raw(groupByDeal ? string.Format("[{0}]{1}", m.DealUniqueId, m.DealName) : m.StoreName)
                                                </td>
                                                }
                                    @if (m.EstAmount < 0)
                                                {
                                                <td class="textlist" style="font:bold">@Html.Raw(groupByDeal ? m.StoreName : string.Format("[{0}]{1}", m.DealUniqueId, m.DealName))</td>
                                                <td align="right" class="textlist" style="font:bold">@String.Format("{0:$#,0}", m.EstAmount)</td>
                                                }
                                                else
                                                {
                                                <td class="textlist">@Html.Raw(groupByDeal ? m.StoreName : string.Format("[{0}]{1}", m.DealUniqueId, m.DealName))</td>
                                                <td align="right" class="textlist">@String.Format("{0:$#,0}", m.EstAmount)</td>
                                                }
                                    <td align="center" class="textlist">
                                        <a href='@Html.Raw(Server.UrlDecode(Url.Action(bsActionName, "VendorBillingSystem", new { id = m.DealId, type = m.DealType, detailId = m.StoreGuid.HasValue ? m.StoreGuid.ToString() : "null", balanceSheetId = m.BalanceSheetId + (config.IsEnableVbsNewUi ? "&d=" + Request.Params["d"] : "") })))'>明細</a>
                                    </td>
                                </tr>
                                dealTotalAmount += m.EstAmount;
                                totalAmount += m.EstAmount;
                                //switch (m.VendorReceiptType)
                                //{
                                //    case VendorReceiptType.Other:
                                //    case VendorReceiptType.Invoice:
                                //        if (m.IsTax)
                                //        {
                                //            invoiceAmount += m.EstAmount;
                                //        }
                                //        else
                                //        {
                                //            invoiceAmountTaxFree += m.EstAmount;
                                //        }

                                //        break;
                                //    case VendorReceiptType.Receipt:
                                //        receiptAmount += m.EstAmount;
                                //        break;
                                //}
                                if (seq == bsCount)
                                {
                                    <tr>
                                        <td class="textlast" align="center"><span class="w10-3-OrderMove-info-time">合計</span></td>
                                        <td align="center" class="textlast" colspan="3"><span class="w10-3-OrderMove-info-time">@String.Format("{0:$#,0}", dealTotalAmount)</span></td>
                                    </tr>
                                }
                                seq++;
                            }
                        }
                        <!--憑證對帳單 End-->
                    }
                    else if (Model.DeliveryType == DeliveryType.ToHouse)
                    {
                        <!--宅配對帳單 Start-->
                        <tr class="w10-3-OrderPinkTitle" style="text-align:center">
                            <td width="480"></td>
                            <td width="135" colspan="7" class="vendorTitle">A.廠商發票開立項目與金額明細</td>
                            <td width="195" colspan="6" class="lifeTitle">B.17Life開立代扣發票項目與金額明細<i class="fa fa-question-circle-o bpopup-descrpition-B" style="cursor:pointer"></i></td>
                            <td width="195" class="paymentTitle">C.匯款金額</td>
                            <td width="480" colspan="2"></td>
                        </tr>
                        <tr class="w10-3-OrderPinkTitle" style="text-align:center">
                            <td width="480">檔次</td>
                            <td width="150" class="vendorSub">應付貨款</td>
                            <td width="150" class="vendorSub">應付運費</td>
                            <td width="150" class="vendorSub">退貨<br />(含運費)</td>
                            <td width="150" class="vendorSub">異動<br />調整金額</td>
                            <td width="150" class="vendorSub">貨款小計<br />(A1)</td>
                            <td width="150" class="vendorSub">逾期出貨<br />補款小計<br />(A2)<i class="fa fa-question-circle-o bpopup-descrpition-A2" style="cursor:pointer"></i></td>
                            <td width="150" class="vendorTotal">發票開立<br />總計(A)</td>
                            <td width="150" class="lifeSub">物流處理費<br />(全家)</td>
                            <td width="150" class="lifeSub">物流處理費<br />(7-11)</td>
                            <td width="150" class="lifeSub">逾期出貨</td>
                            <td width="150" class="lifeSub">物流處理費(PChome)</td>
                            <td width="150" class="lifeSub">倉儲費用(PChome)</td>
                            <td width="150" class="lifeTotal">代扣發票<br />金額小計(B)</td>
                            <td width="150" class="paymentSub">匯款應付<br />(A-B)</td>
                            <td width="150" class="">對帳單</td>
                        </tr>
                            totalAmount = 0;

                            int totalPayAmount = 0;
                            int totalPayFreightAmount = 0;
                            int totalDeductAmount = 0;
                            int totalPaymentChangeAmount = 0;
                            int totalPositivePaymentOverdueAmount = 0;
                            int totalNegativePaymentOverdueAmount = 0;
                            int totalISPFamilyOrderAmount = 0;
                            int totalISPSevenOrderAmount = 0;
                            int totalWmsOrderAmount = 0;
                            int totalWmsAmount = 0;
                            foreach (var m in Model.BalanceSheetPackInfos.Where(x => x.RemittanceType == (int)RemittanceType.Weekly ||
                                                                                        x.RemittanceType == (int)RemittanceType.Monthly ||
                                                                                        x.RemittanceType == (int)RemittanceType.Flexible ||
                                                                                        x.RemittanceType == (int)RemittanceType.Fortnightly))
                            {
                                var bsActionName = m.GenerationFrequency == (int)BalanceSheetGenerationFrequency.LumpSumBalanceSheet
                                    ? "BalanceSheetsDeliver"
                                    : "BalanceSheetsToHouse";
                                totalPayAmount += m.PayAmount;
                                totalPayFreightAmount += m.PayFreightAmount;
                                totalDeductAmount += m.DeductAmount;
                                totalPaymentChangeAmount += m.PaymentChangeAmount;
                                totalPositivePaymentOverdueAmount += m.PositivePaymentOverdueAmount;
                                totalNegativePaymentOverdueAmount += m.NegativePaymentOverdueAmount;
                                totalISPFamilyOrderAmount += m.ISPFamilyOrderAmount;
                                totalISPSevenOrderAmount += m.ISPSevenOrderAmount;
                                totalWmsOrderAmount += m.WmsOrderAmount;
                                <tr>
                                    @if (m.EstAmount < 0)
                                    {
                                        <td class="textlist" style="font:bold">@string.Format("[{0}]{1}", m.DealUniqueId, m.DealName)</td>
                                        @*<td align="right" class="textlist" style="font:bold">@String.Format("{0:$#,0}", m.EstAmount)</td>*@
                                    }
                                    else
                                    {
                                        <td class="textlist">@string.Format("[{0}]{1}", m.DealUniqueId, m.DealName)</td>
                                        @*<td align="right" class="textlist">@String.Format("{0:$#,0}", m.EstAmount)</td>*@
                                    }
                                    <td style="text-align:right">@String.Format("{0:$#,0}", m.PayAmount)</td>
                                    <td style="text-align:right">@String.Format("{0:$#,0}", m.PayFreightAmount)</td>
                                    <td style="text-align:right">@String.Format("{0:-$(#,0)}", m.DeductAmount)</td>
                                    <td style="text-align:right">@String.Format("{0:$#,0}", m.PaymentChangeAmount)</td>
                                    <td style="text-align:right">@String.Format("{0:$#,0}", m.PayAmount + m.PayFreightAmount - m.DeductAmount + m.PaymentChangeAmount)</td>
                                    <td style="text-align:right">@String.Format("{0:$#,0}", m.PositivePaymentOverdueAmount)</td>
                                    <td style="text-align:center" class="vendorSub">-</td>
                                    <td style="text-align:right">@String.Format("{0:-$(#,0)}", m.ISPFamilyOrderAmount)</td>
                                    <td style="text-align:right">@String.Format("{0:-$(#,0)}", m.ISPSevenOrderAmount)</td>
                                    <td style="text-align:right">@String.Format("{0:$(#,0)}", m.NegativePaymentOverdueAmount)</td>
                                    <td style="text-align:right">@String.Format("{0:-$(#,0)}", m.WmsOrderAmount)</td>
                                    <td style="text-align:right">-</td>
                                    <td style="text-align:center" class="lifeSub">-</td>
                                    <td style="text-align:center" class="paymentSub">-</td>
                                    <td class="textlist">
                                        <a href='@Html.Raw(Server.UrlDecode(Url.Action(bsActionName, "VendorBillingSystem", new { id = m.DealId + (config.IsEnableVbsNewUi ? "&d=" + Request.Params["d"] : "") })))'>明細</a>
                                    </td>
                                </tr>

                            totalAmount += m.EstAmount;

                            //switch (m.VendorReceiptType)
                            //{
                            //    case VendorReceiptType.Other:
                            //    case VendorReceiptType.Invoice:
                            //        if (m.IsTax)
                            //        {
                            //            invoiceAmount += m.EstAmount + m.IspFamilyAmount + m.IspSevenAmount + Math.Abs(m.NegativePaymentOverdueAmount);
                            //        }
                            //        else
                            //        {
                            //            invoiceAmount += m.PayFreightAmount + Math.Abs(m.PositivePaymentOverdueAmount);
                            //            invoiceAmountTaxFree += m.EstAmount + m.IspFamilyAmount + m.IspSevenAmount + Math.Abs(m.NegativePaymentOverdueAmount) - Math.Abs(m.PositivePaymentOverdueAmount) - m.PayFreightAmount;
                            //        }
                            //        break;
                            //    case VendorReceiptType.Receipt:
                            //        receiptAmount += m.EstAmount + m.IspFamilyAmount + m.IspSevenAmount + Math.Abs(m.NegativePaymentOverdueAmount);
                            //        break;
                            //}

                        }
                        foreach (var m in Model.BalanceSheetWmsPackInfos)
                        {
                            totalWmsAmount += m.EstAmount;
                            <tr>
                                <td class="textlist" style="font:bold">@m.Name</td>
                                <td style="text-align:right">-</td>
                                <td style="text-align:right">-</td>
                                <td style="text-align:right">-</td>
                                <td style="text-align:right">-</td>
                                <td style="text-align:right">-</td>
                                <td style="text-align:right">-</td>
                                <td style="text-align:center" class="vendorSub">-</td>
                                <td style="text-align:right">-</td>
                                <td style="text-align:right">-</td>
                                <td style="text-align:right">-</td>
                                <td style="text-align:right">-</td>
                                <td style="text-align:right">@String.Format("{0:$(#,0)}", m.EstAmount)</td>
                                <td style="text-align:center" class="lifeSub">-</td>
                                <td style="text-align:center" class="paymentSub">-</td>
                                <td class="textlist">
                                    <a href='@Url.Action("BalanceSheetWmsFeeExport")@Html.Raw("?balanceSheetWmsId=" +m.BalanceSheetWmsId)'>明細</a>
                                </td>
                            </tr>
                            totalAmount += m.EstAmount;

                        }
                            <tr>
                                <td>合併請款對帳項目金額總計</td>
                                <td align="right">@String.Format("{0:$#,0}", totalPayAmount)</td>
                                <td align="right">@String.Format("{0:$#,0}", totalPayFreightAmount)</td>
                                <td align="right">@String.Format("{0:-$(#,0)}", totalDeductAmount)</td>
                                <td align="right">@String.Format("{0:$#,0}", totalPaymentChangeAmount)</td>
                                <td align="right">@String.Format("{0:$#,0}", totalPayAmount + totalPayFreightAmount - totalDeductAmount + totalPaymentChangeAmount)</td>
                                <td align="right">@String.Format("{0:$#,0}", totalPositivePaymentOverdueAmount)</td>
                                <td align="right" class="vendorSub">@String.Format("{0:$#,0}", totalPayAmount + totalPayFreightAmount - totalDeductAmount + totalPaymentChangeAmount + totalPositivePaymentOverdueAmount)</td>
                                <td align="right">@String.Format("{0:-$(#,0)}", totalISPFamilyOrderAmount)</td>
                                <td align="right">@String.Format("{0:-$(#,0)}", totalISPSevenOrderAmount)</td>
                                <td align="right">@String.Format("{0:$(#,0)}", totalNegativePaymentOverdueAmount)</td>
                                <td align="right">@String.Format("{0:$(#,0)}", totalWmsOrderAmount)</td>
                                <td align="right">@String.Format("{0:$(#,0)}", totalWmsAmount)</td>
                                <td align="right" class="lifeSub">@String.Format("{0:$(#,0)}", -totalISPFamilyOrderAmount - totalISPSevenOrderAmount + totalNegativePaymentOverdueAmount - totalWmsOrderAmount + totalWmsAmount)</td>
                                <td align="right" class="paymentSub">@String.Format("{0:$#,0}", totalAmount >= 0 ? totalAmount : 0)</td>
                                <td></td>
                                <td></td>
                            </tr>
                        <!--宅配對帳單 End-->
                    }
                </tbody>
            </table>
        </div>
        <br />
        <div class="w17-2-Orders-Title">
            <span class="OW-w6RP-InvoiceTittleTextBlue">舊出帳方式</span>
        </div>
        <div class="w17-2-Orders">
            <table border="0" cellspacing="0" cellpadding="0" class="w10-2-OrderDetialTable textSize15">
                <tbody>
                    @{
                        invoiceAmount = 0;
                        receiptAmount = 0;
                        invoiceAmountTaxFree = 0;
                    }
                    <tr>
                        <td colspan="4" class="textLeft Padding">
                            @foreach (BalanceSheetPackInfo info in Model.BalanceSheetPackInfos.Where(x => x.RemittanceType == (int)RemittanceType.AchMonthly ||
                                                                            x.RemittanceType == (int)RemittanceType.AchWeekly ||
                                                                            x.RemittanceType == (int)RemittanceType.Others ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualWeekly ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualMonthly ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualPartially))
                            {
                                switch (info.VendorReceiptType)
                                {
                                    case VendorReceiptType.Other:
                                    case VendorReceiptType.Invoice:
                                        if (info.IsTax)
                                        {
                                            invoiceAmount += info.EstAmount;
                                        }
                                        else
                                        {
                                            invoiceAmountTaxFree += info.EstAmount;
                                        }

                                        break;
                                    case VendorReceiptType.Receipt:
                                        receiptAmount += info.EstAmount;
                                        break;
                                }
                            }
                            抬頭：康太數位整合股份有限公司<br />
                            統編：24317014<br /><br />
                            含稅發票總金額：<span class="w10-3-OrderMove-info-time">@String.Format("{0:$#,0}", invoiceAmount)</span><br />
                            免稅發票總金額：<span class="w10-3-OrderMove-info-time">@String.Format("{0:$#,0}", invoiceAmountTaxFree)</span><br />
                            收據總金額：<span class="w10-3-OrderMove-info-time">@String.Format("{0:$#,0}", receiptAmount)</span>
                        </td>
                    </tr>
                    @if (Model.DeliveryType == DeliveryType.ToShop)
                    {
                        var models = groupByDeal
                                    ? Model.BalanceSheetPackInfos.Where(x => x.RemittanceType == (int)RemittanceType.AchMonthly ||
                                                                            x.RemittanceType == (int)RemittanceType.AchWeekly ||
                                                                            x.RemittanceType == (int)RemittanceType.Others ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualWeekly ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualMonthly ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualPartially)
                                                                 .GroupBy(x => x.DealId)
                                                                 .ToDictionary(x => x.Key, x => x.ToList())
                                    : Model.BalanceSheetPackInfos.Where(x => x.RemittanceType == (int)RemittanceType.AchMonthly ||
                                                                            x.RemittanceType == (int)RemittanceType.AchWeekly ||
                                                                            x.RemittanceType == (int)RemittanceType.Others ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualWeekly ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualMonthly ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualPartially)
                                                                 .Where(x => x.StoreGuid.HasValue)
                                                                 .GroupBy(x => x.StoreGuid.Value)
                                                                 .ToDictionary(x => x.Key, x => x.ToList());

                        <tr class="w10-3-OrderPinkTitle">
                            <td width="140">@Html.Raw(groupByDeal ? "檔次" : "分店")</td>
                            <td width="460">@Html.Raw(groupByDeal ? "分店" : "檔次")</td>
                            <td width="135">對帳單金額</td>
                            <td width="135">對帳單明細</td>
                        </tr>
                        foreach (var dealId in models.Keys)
                        {
                            var seq = 1;
                            var bsCount = models[dealId].Count;
                            totalAmount = 0;
                            foreach (var m in models[dealId])
                            {
                                var bsActionName = m.GenerationFrequency == (int)BalanceSheetGenerationFrequency.ManualTriggeredBalanceSheet
                                    ? "BalanceSheetsManual"
                                    : "BalanceSheetsMonth";
                                <tr>
                                    @if (seq == 1)
                                    {
                                        <td class="textLeft Padding" rowspan="@(bsCount + 1)">
                                            @Html.Raw(groupByDeal ? string.Format("[{0}]{1}", m.DealUniqueId, m.DealName) : m.StoreName)
                                        </td>
                                    }
                                    @if (m.EstAmount < 0)
                                    {
                                        <td class="textlist" style="font:bold">@Html.Raw(groupByDeal ? m.StoreName : string.Format("[{0}]{1}", m.DealUniqueId, m.DealName))</td>
                                        <td align="right" class="textlist" style="font:bold">@String.Format("{0:$#,0}", m.EstAmount)</td>
                                    }
                                    else
                                    {
                                        <td class="textlist">@Html.Raw(groupByDeal ? m.StoreName : string.Format("[{0}]{1}", m.DealUniqueId, m.DealName))</td>
                                        <td align="right" class="textlist">@String.Format("{0:$#,0}", m.EstAmount)</td>
                                    }
                                    <td align="center" class="textlist">
                                        <a href='@Html.Raw(Server.UrlDecode(Url.Action(bsActionName, "VendorBillingSystem", new { id = m.DealId, type = m.DealType, detailId = m.StoreGuid.HasValue ? m.StoreGuid.ToString() : "null", balanceSheetId = m.BalanceSheetId + (config.IsEnableVbsNewUi ? "&d=" + Request.Params["d"] : "") })))'>明細</a>
                                    </td>
                                </tr>
                                totalAmount += m.EstAmount;
                                //switch (m.VendorReceiptType)
                                //{
                                //    case VendorReceiptType.Other:
                                //    case VendorReceiptType.Invoice:
                                //        if (m.IsTax)
                                //        {
                                //            invoiceAmount += m.EstAmount;
                                //        }
                                //        else
                                //        {
                                //            invoiceAmountTaxFree += m.EstAmount;
                                //        }

                                //        break;
                                //    case VendorReceiptType.Receipt:
                                //        receiptAmount += m.EstAmount;
                                //        break;
                                //}
                                if (seq == bsCount)
                                {
                                    <tr>
                                        <td class="textlast" align="center"><span class="w10-3-OrderMove-info-time">合計</span></td>
                                        <td align="center" class="textlast" colspan="2"><span class="w10-3-OrderMove-info-time">@String.Format("{0:$#,0}", totalAmount)</span></td>
                                    </tr>
                                }
                                seq++;
                            }
                        }
                    }
                    else if (Model.DeliveryType == DeliveryType.ToHouse)
                    {
                        <!--宅配對帳單 Start-->
                        <tr class="w10-3-OrderPinkTitle">
                            <td width="480">檔次</td>
                            <td width="195">對帳單金額</td>
                            <td width="195">對帳單明細</td>
                        </tr>
                        totalAmount = 0;
                        foreach (var m in Model.BalanceSheetPackInfos.Where(x => x.RemittanceType == (int)RemittanceType.AchMonthly ||
                                                                            x.RemittanceType == (int)RemittanceType.AchWeekly ||
                                                                            x.RemittanceType == (int)RemittanceType.Others ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualWeekly ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualMonthly ||
                                                                            x.RemittanceType == (int)RemittanceType.ManualPartially))
                        {
                            var bsActionName = m.GenerationFrequency == (int)BalanceSheetGenerationFrequency.LumpSumBalanceSheet
                                ? "BalanceSheetsDeliver"
                                : "BalanceSheetsToHouse";
                            <tr>
                                @if (m.EstAmount < 0)
                                {
                                    <td class="textlist" style="font:bold">@string.Format("[{0}]{1}", m.DealUniqueId, m.DealName)</td>
                                    <td align="right" class="textlist" style="font:bold">@String.Format("{0:$#,0}", m.EstAmount)</td>
                                }
                                else
                                {
                                    <td class="textlist">@string.Format("[{0}]{1}", m.DealUniqueId, m.DealName)</td>
                                    <td align="right" class="textlist">@String.Format("{0:$#,0}", m.EstAmount)</td>
                                }
                                <td align="center" class="textlist">
                                    <a href='@Html.Raw(Server.UrlDecode(Url.Action(bsActionName, "VendorBillingSystem", new { id = m.DealId + (config.IsEnableVbsNewUi ? "&d=" + Request.Params["d"] : "") })))'>明細</a>
                                </td>
                            </tr>
                            totalAmount += m.EstAmount;
                            //switch (m.VendorReceiptType)
                            //{
                            //    case VendorReceiptType.Other:
                            //    case VendorReceiptType.Invoice:
                            //        if (m.IsTax)
                            //        {
                            //            invoiceAmount += m.EstAmount;
                            //        }
                            //        else
                            //        {
                            //            invoiceAmountTaxFree += m.EstAmount;
                            //        }

                            //        break;
                            //    case VendorReceiptType.Receipt:
                            //        receiptAmount += m.EstAmount;
                            //        break;
                            //}
                        }
                        <tr>
                            <td class="textlast" align="center"><span class="w10-3-OrderMove-info-time">合計</span></td>
                            <td align="center" class="textlast" colspan="2"><span class="w10-3-OrderMove-info-time">@String.Format("{0:$#,0}", totalAmount)</span></td>
                        </tr>
                        <!--宅配對帳單 End-->
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="bpopup-descrpition-A2" class="card-panel bpopup-modal" style="overflow-y:auto; width:1000px;height:800px;display:none">
        <span class="button b-close"><span>X</span></span>
        <h2>開立發票項目說明：逾期出貨</h2>
        <hr />
        在總明細中，若<span style="color:red">A區</span>的逾期出貨補款項目中有數字出現，表示可以向17Life針對此項目進行請款。<br />
        <table class="w10-2-OrderDetialTable textSize15">
            <tr>
                <td colspan="6">A.廠商發票開立項目與金額明細</td>
            </tr>
            <tr>
                <td>應付貨款</td>
                <td>應付運費</td>
                <td>退貨(含運費)</td>
                <td>異動調整金額</td>
                <td style="background-color:#eaafdc">逾期出貨補款小計(A2)</td>
                <td>發票開立總計(A)</td>
            </tr>
            <tr>
                <td>$0</td>
                <td>$0</td>
                <td>$(-0)</td>
                <td>$(0)</td>
                <td style="background-color:#eaafdc">$(0)</td>
                <td>$(0)</td>
            </tr>
            <tr>
                <td>$240</td>
                <td>$0</td>
                <td>$(-0)</td>
                <td>$(-100)</td>
                <td style="background-color:#eaafdc">$1000</td>
                <td>$140</td>
            </tr>
            <tr style="font-weight:bold">
                <td>$240</td>
                <td>$0</td>
                <td>$(-0)</td>
                <td>$(-100)</td>
                <td style="background-color:#eaafdc">$1000</td>
                <td>$140</td>
            </tr>
        </table>
        <br />
        A區的逾期出貨補款如果有數字，表示可以開立請款單據進行請款，若您是使用應稅統一發票，請獨立請款名目於同一張單據中。如果您是使用免稅發票請款，也請另外針對逾期出貨補款項目，開立應稅發票。<br /><br />

        <span style="font-weight:bold">發票範例說明</span><br />
        <span class="OW-w6RP-InvoiceWarningsR">請注意！如您的商品是免稅商品，因為逾期出貨補款的金額是應稅金額，所以請開立應稅發票請款，謝謝。</span><br />

        <div class="OW-w6RP-InvoiceFrame">
            <!----OW-w6RP-Invoice---->
            <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceTittleTable">
                <tbody>
                    <tr>
                        <td colspan="3" class="OW-w6RP-InvoiceTittleText">統一發票（三聯式）</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding-left: 10px;">發票號碼</td>
                    </tr>
                    <tr>
                        <td colspan="3" height="10"></td>
                    </tr>
                    <tr>
                        <td align="center" width="100"><span style="letter-spacing: 0.8em;">買受</span>人：</td>
                        <td width="420" class="OW-w6RP-InvoiceTittleTextBlue">康太數位整合股份有限公司</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center"><span style="letter-spacing: 0.2em;">統一編</span>號：</td>
                        <td class="OW-w6RP-InvoiceTittleTextBlue">24317014</td>
                        <td style="letter-spacing: 0.4em;">中華民國<span class="OW-w6RP-InvoiceTittleTextBlue">106</span>年<span class="OW-w6RP-InvoiceTittleTextBlue">10</span>月<span class="OW-w6RP-InvoiceTittleTextBlue">18</span>日</td>
                    </tr>
                    <tr>
                        <td align="center"><span style="letter-spacing: 2.5em;">地</span>址：</td>
                        <td>(得免填)</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="5"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <table border="0" cellspacing="0" cellpadding="0" class="OW-w6RP-InvoiceContentTable">
                <tbody>
                    <tr>
                        <td width="270" height="32" class="OW-w6RP-InvoiceContentTittle">品名</td>
                        <td width="137" class="OW-w6RP-InvoiceContentTittle">數量</td>
                        <td width="137" class="OW-w6RP-InvoiceContentTittle">單價</td>
                        <td width="137" class="OW-w6RP-InvoiceContentTittle">金額</td>
                        <td width="204" class="OW-w6RP-InvoiceContentTittle">備註</td>
                    </tr>
                    <tr>
                        <td height="32" class="OW-w6RP-InvoiceContentTextBlue">【XXXX牌】好吃零食大集合</td>
                        <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                        <td class="OW-w6RP-InvoiceContentTextBlue">&nbsp;</td>
                        <td class="OW-w6RP-InvoiceContentTextBlue">$133</td>
                        <td class="OW-w6RP-InvoiceContentTextBlue pos-rel" rowspan="10">
                            <div class="pos-abs ow-w6-Receiptremark">檔號：10016571</div>
                            <span class="OW-w6RP-InvoiceContentTextBlue">
                                在此加蓋<br>
                                統一發票專用章
                            </span>
                        </td>
                    </tr>
                    <tr style="background-color:#eaafdc">
                        <td height="32">其他收入</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>$952</td>
                    </tr>
                    <tr>
                        <td height="32" colspan="4" class="OW-w6RP-InvoiceWarningsR">同一張請款單據中，請獨立逾期出貨補款的請款金額與名目，其他填寫與計算方式皆與貨款相同</td>
                    </tr>
                    <tr>
                        <td height="32">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="32">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3" height="32"><span style="letter-spacing: 6em;">銷售額合</span>計</td>
                        <td class="OW-w6RP-InvoiceContentTextBlue">$1086</td>
                    </tr>
                    <tr>
                        <td class="OW-w6RP-InvoiceContentTittle">營業稅</td>
                        <td colspan="2" rowspan="2" class="OW-w6RP-InvoiceContentTittle">
                            <table border="0" cellspacing="0" cellpadding="0" width="295" class="OW-w6RP-InvoiceTaxTable ">
                                <tbody>
                                    <tr>
                                        <td width="98">應稅</td>
                                        <td width="98">零稅率</td>
                                        <td width="98">免稅</td>
                                    </tr>
                                    <tr>
                                        <td class="OW-w6RP-InvoiceContentTextBlue">v</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td rowspan="2" class="OW-w6RP-InvoiceContentTextBlue">$54</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3" height="32"><span style="letter-spacing: 27em;">總</span>計</td>
                        <td class="OW-w6RP-InvoiceContentTextBlue">$1140</td>
                    </tr>
                    <tr>
                        <td colspan="4" height="32" style="letter-spacing: 0.2em;">
                            <span id="convertInvoiceAmount">總計新台幣(中文大寫)&nbsp;<span class="OW-w6RP-InvoiceContentTextBlue">零</span>&nbsp;千&nbsp;<span class="OW-w6RP-InvoiceContentTextBlue">零</span>&nbsp;百&nbsp;<span class="OW-w6RP-InvoiceContentTextBlue">零</span>&nbsp;拾&nbsp;<span class="OW-w6RP-InvoiceContentTextBlue">零</span>&nbsp;萬&nbsp;<span class="OW-w6RP-InvoiceContentTextBlue">零</span>&nbsp;千&nbsp;<span class="OW-w6RP-InvoiceContentTextBlue">零</span>&nbsp;百&nbsp;<span class="OW-w6RP-InvoiceContentTextBlue">零</span>&nbsp;拾&nbsp;<span class="OW-w6RP-InvoiceContentTextBlue">零</span>&nbsp;元</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div id="bpopup-descrpition-B" class="card-panel bpopup-modal" style="overflow-y:auto; width:800px;height:1000px;display:none">
        <span class="button b-close"><span>X</span></span>
        <h2>17Life 開立發票項目說明：逾期出貨</h2>
        <hr />
        在總明細中，若<span style="color:red">B區</span>的項目中有數字出現，表示17Life針對此項目進行開立發票作業，意即，在支付貨款的同時，17Life已扣除該項金額。<br />
        <table class="w10-2-OrderDetialTable textSize15">
            <tr>
                <td colspan="6">B.17Life開立代扣發票項目與金額明細</td>
            </tr>
            <tr>
                <td>物流處理費(全家)</td>
                <td>物流處理費(7-11)</td>
                <td>逾期出貨</td>
                <td>代扣發票金額小計(B)</td>
            </tr>
            <tr>
                <td>$(-0)</td>
                <td>$(-0)</td>
                <td>$(-200)</td>
                <td>-</td>
            </tr>
            <tr>
                <td>$(-42)</td>
                <td>$(-0)</td>
                <td>$(-1200)</td>
                <td>-</td>
            </tr>
            <tr style="font-weight:bold">
                <td>$(-42)</td>
                <td>$(-0)</td>
                <td>$(-1400)</td>
                <td>$(-1442)</td>
            </tr>
        </table>
        <br />
        明細中的物流處理費：全家、7-11，會統一成一個發票項目；而逾期出貨的部份則另外獨立一個發票項目。<br />
        <span style="font-weight:bold">發票範例說明</span><br />
        <table style="border-style:dashed;border-color:gray;border-width:1px">
            <tr>
                <td width="100px"><img src="/Themes/PCweb/images/ppon-M2_LOGO.png"></td>
                <td>
                    康太數位整合股有限公司<br />
                    10441 台北市中山北路一段11號13樓<br />
                    www.17life.com 客服專線：@config.ServiceTel 傳真:02-2511-9937 統編:24317014<br /><br />
                    公司地址<br />
                    簽約公司名稱<br />
                </td>
                <td>
                    郵資
                </td>
            </tr>
        </table>
        <table style="border-style:dashed;border-color:gray;border-width:1px">
            <tr>
                <td width="255" valign="top">
                    <table style="border-style:dashed;border-color:gray;height:400px;border-width:1px">
                        <tr align="center">
                            <td colspan="2" width="255">
                                <span style="font-size: 14px;">
                                    <strong>
                                        <span id="lab_Einvoice_Head">康太</span>數位整合股份有限公司<br><br>
                                        電子發票證明聯
                                    </strong>
                                </span>
                            </td>
                        </tr>
                        <tr align="center">
                            <td colspan="2" height="30" width="300"></td>
                        </tr>
                        <tr align="center">
                            <td colspan="2" width="255">
                                xxx 年 xx-xx月
                            </td>
                        </tr>
                        <tr align="center">
                            <td colspan="2" width="255">
                                ABxxxxxxxx
                            </td>
                        </tr>
                        <tr>
                            <td width="150">
                                <span style="font-size: 12px;">
                                    &nbsp;&nbsp;&nbsp;
                                    <span id="lbl_Einvoice_InvoiceDate">xxx-xx-xx 00:00:00</span>
                                </span>
                            </td>
                            <td width="105"><span style="font-size: 12px;">格式:xx</span></td>
                        </tr>
                        <tr>
                            <td width="150"><span style="font-size: 12px;">&nbsp;&nbsp;&nbsp;隨機碼:xxxx</span></td>
                            <td width="105"><span style="font-size: 12px;">總計:xxx</span></td>
                        </tr>
                        <tr>
                            <td width="150"><span style="font-size: 12px;">&nbsp;&nbsp;&nbsp;賣方:24317014</span></td>
                            <td width="105"><span style="font-size: 12px;">買方</span></td>
                        </tr>
                        <tr>
                            <td width="150" colspan="2"><span style="font-size: 12px;">&nbsp;&nbsp;&nbsp;BARCODE</span></td>
                        </tr>
                        <tr>
                            <td width="150"><span style="font-size: 12px;">&nbsp;&nbsp;&nbsp;QRCODE</span></td>
                            <td width="105"><span style="font-size: 12px;">QRCODE</span></td>
                        </tr>
                    </table>
                </td>
                <td width="15"></td>
                <td width="530" valign="top">
                    <table style="border-style:solid;border-color:gray;border-width:1px" class="invoicetable">
                        <tr>
                            <td width="350">品 名</td>
                            <td width="60">數 量</td>
                            <td width="60">單 價</td>
                            <td width="60">小 計</td>
                        </tr>
                        <tr height="50">
                            <td width="350" style="text-align: left;">
                                物流處理費
                            </td>
                            <td width="60" style="text-align: right;"><span style="margin-right: 5px;">1</span></td>
                            <td width="60" style="text-align: right;"></td>
                            <td width="60" style="text-align: right;">
                                xxx
                            </td>
                        </tr>
                        <tr height="50">
                            <td width="350" style="text-align: left;">
                                其他收入(延遲出貨罰款)
                            </td>
                            <td width="60" style="text-align: right;"><span style="margin-right: 5px;">1</span></td>
                            <td width="60" style="text-align: right;"></td>
                            <td width="60" style="text-align: right;">
                                xxx
                            </td>
                        </tr>
                        <tr height="50">
                            <td width="350" style="text-align: left;">
                                課稅別：免稅
                            </td>
                            <td width="60" style="text-align: right;"><span style="margin-right: 5px;"></span></td>
                            <td width="60" style="text-align: right;"></td>
                            <td width="60" style="text-align: right;"></td>
                        </tr>
                        <tr height="50">
                            <td width="350" style="text-align: left;">稅額</td>
                            <td width="60" style="text-align: right;"><span style="margin-right: 5px;"></span></td>
                            <td width="60" style="text-align: right;"></td>
                            <td width="60" style="text-align: right;">
                                xxx
                            </td>
                        </tr>
                        <tr height="200">
                            <td width="350">備註：明細詳如系統對帳單</td>
                            <td width="60"></td>
                            <td width="60"></td>
                            <td width="60"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
}

@section Script{
    <script type="text/javascript" src="../../Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>
    <script type="text/javascript">

        $().ready(function () {


            $('.bpopup-descrpition-A2').bind('click', function (e) {
                $('div#bpopup-descrpition-A2').bPopup({
                    modalClose: true,
                });
            });

            $('.bpopup-descrpition-B').bind('click', function (e) {
                $('div#bpopup-descrpition-B').bPopup({
                    modalClose: true,
                });
            });

        });
        function ChangeBsGroupByStore(groupByStore) {
            $('#groupByStore').val(groupByStore);
            $('#gForm').submit();
        }

    </script>
}

<style>
    td.vendorTitle {
        background-color: #009DD9;
    }

    td.vendorSub {
        background-color: #CCFFFF;
    }

    td.vendorTotal {
        background-color: #99FFFF;
    }

    td.lifeTitle {
        background-color: #FF9999;
    }

    td.lifeSub {
        background-color: #FFCCCC;
    }

    td.lifeTotal {
        background-color: #FE8C8C;
    }

    td.paymentTitle {
        background-color: #99FFCC;
    }

    td.paymentSub {
        background-color: #CCFFE6;
    }

    .button.b-close, .button.bClose {
        border-radius: 7px 7px 7px 7px;
        box-shadow: none;
        font: bold 131% sans-serif;
        padding: 0 6px 2px;
        position: absolute;
        right: 1px;
        top: 1px;
    }

    .button {
        background-color: #2B91AF;
        border-radius: 10px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        color: #FFF;
        cursor: pointer;
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
    }

    .invoicetable th, .invoicetable td {
        border: 1px solid #aaa;
    }
</style>