﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Model
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model BulletinBoardListModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
    }

    bool readPchomeReturnRule2k19 = ViewBag.ReadPchomeReturnRule2k19 ?? false;
    bool readDeliveryClose = ViewBag.ReadDeliveryClose ?? false;
}

@section Script {
    <style type="text/css">
        .post-link {
            margin-top: 10px;
            display: block;
        }

        .post-footer {
            padding-top: 24px;
        }

        
    </style>
}
    <script type="text/javascript" src="@Url.Content("~/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js")"></script>
<script>
    var readTimes = 30;
    $(document).ready(function () {
        $.blockUI.defaults.css = {
            padding: 0,
            margin: 0,
            width: '30%',
            top: '40%',
            left: '35%',
            textAlign: 'center',
            cursor: 'wait'
        };
        $('#tabIspOrder').block({
            message: '<div class="progress"><div class="indeterminate"></div></div>',
        });
        $.post("/vbs/ship/IspShipOrderCount", {}, function (result) {
            if (result.IsInstorePickup) {
                var main = $("#tabIspOrder");
                main.not(':first').empty();
                var data = result.Data;
                $.each(data, function (midx, mobj) {
                    main.append("<tr class='w11-OrderGrayTitle'><td style='text-align:left'>" + mobj.Name + "</td><td><a href='" + mobj.Url + "'>" + mobj.Value + " 筆</a></td></tr>");
                });
            } else {
                $("#divIspOrder").hide();
            }
            $('#tabIspOrder').unblock();
        }).error(function (xhr) {
            console.log(xhr);
            $("#divIspOrder").hide();
            $('#tabIspOrder').unblock();
        });

        $(".b-close").hide();
        showTime();

        if ("@(readPchomeReturnRule2k19)".toLowerCase() != "true") {
            $('#bpopup-step_alert').bPopup({
                modalClose: false,
                onOpen: function () {

                },
                onClose: function () {
                    $.post("/vbs/ship/ConfirmPchomeReturnNotice2k19", {}, function (result) {
                        if (result) {

                        } else {
                            alert("確認失敗！");
                        }
                    }).error(function (xhr) {
                        console.log(xhr);
                        alert("確認失敗！");
                    });
                }
            });
        }


        if ("@(readDeliveryClose)".toLowerCase() != "true") {
            $('#bpopup-delivery-close').bPopup({
                modalClose: false,
                onOpen: function () {

                },
                onClose: function () {
                    $.post("/vbs/ship/ConfirmBpopup", {type: 2}, function (result) {
                        if (result) {

                        } else {
                            alert("確認失敗！");
                        }
                    }).error(function (xhr) {
                        console.log(xhr);
                        alert("確認失敗！");
                    });
                }
            });
        }


       
    });

    
    function showTime() {
        readTimes -= 1;
        $(".confirm-text").html(readTimes);
        if (readTimes <= 0) {
            $(".b-close").show();
            $(".confirm-text").hide();
        }
        setTimeout("showTime()", 1000);
    }

</script>

<div id="bpopup-step_alert" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title alert_message">
            親愛的供應商夥伴 您好：<p />

            為提升服務品質並帶給消費者良好購物體驗！<span style="font-weight:bold;">17Life於2019/04/15(週一)起</span>，原配合<span style="font-weight:bold;">【24H快速到貨倉儲配送】</span>之檔次退貨申請，將會由倉庫物流協助派收，送至貴端基本資料登記地址，請貴端勿重覆派收，並請於倉庫派收<span style="font-weight:bold;color:red">送達後三天內</span>完成檢視回收商品及回報退貨狀態，如有品項短缺，破損或是其他瑕疵異常問題，請您優先點選"無法完成退貨"，說明原因並立即與17Life企服人員聯繫，<span style="font-weight:bold;">如逾期未回覆處理，系統將視為收回確認無誤</span>，並會優先完成訂單退款，請您務必留意。<p />
    如有其他任何問題，也請隨時與17life團隊聯繫。
</div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn b-close bpopup-step_alert-confirm">我知道了</a>
            <a class="waves-effect waves-light btn confirm-text">20</a>
        </div>
    </div>
</div>


<div id="bpopup-delivery-close" class="card-panel bpopup-modal bpopup-modal-alert" style="width:750px">
    <div class="row">
        <div class="col s12 bpopup-modal-title alert_message">
            親愛的供應商夥伴 您好：<p />

            謝謝您長久以來對17Life的支持，為提供更好的系統與商品銷售服務，
            17Life宅配商品上架平台將與Payeasy進行系統整合，<p />

            自2019/09/01起，17Life將『停止宅配商品提案功能審核與上架』，請供應商夥伴統一使用PayEasy提案上架系統，欲新提案宅配商品也請至PayEasy(ex:流程、合約、系統)，聯繫專線:02-3322-3866#290、291。
            若有其他問題，請您來信：sky_chuang@payeasy.com.tw，我們將有專人回覆您。<p />

            目前在線檔次不受影響並請照常撈單出貨，若需要調整請聯繫下列窗口：<br />
            ●既有檔次異動問題A(庫存開關、銷售圖文)，請聯繫專線:02-2521-9131#8652<br />
            ●既有檔次異動問題B(活動走期、價格方案)，請聯繫專線:02-2521-9131#8504<p />

            17Life團隊 敬上
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn b-close bpopup-step_alert-confirm">我知道了</a>
            <a class="waves-effect waves-light btn confirm-text">20</a>
        </div>
    </div>
</div>


<div class="OWriteOff">
    <div class="OW-center">
        <form action="@Url.Action("EmployeeVerificationDealList")" method="post">
            @if (config.IsEnableVbsNewUi && Request.Params["d"] == ((int)DeliveryType.ToHouse).ToString() && ViewBag.ViewVbsRightShip || !config.IsEnableVbsNewUi && ViewBag.ViewVbsRightShip)
            {
                <div class="OW-StaffToWriteOff-w11-List" id="divIspOrder">
                    <table border="0" cellspacing="0" cellpadding="0" class="w11-DetailedListTable" id="tabIspOrder">
                        <caption> 【出貨管理】</caption>
                        <tbody>
                            <tr class="w11-OrderGrayTitle">
                                <th width="60%">訂單</th>
                                <th width="40%">筆數</th>
                            </tr>

                        </tbody>
                    </table>
                </div>
            }
            @if (ViewBag.ViewBalanceSheet)
            {
                <div class="OW-StaffToWriteOff-w11-List">
                    <table border="0" cellspacing="0" cellpadding="0" class="w11-DetailedListTable">
                        <caption> 【對帳單產出提醒】</caption>
                        <tbody>
                            <tr class="w11-OrderGrayTitle">
                                <th width="490">檔名</th>
                                <th width="140">對帳單結算時間</th>
                                <th width="280">更新時間</th>
                            </tr>
                            @{  int bsSeq = 1;

                                foreach (var b in Model.BalanceSheets)
                                {
                                    var bgcolor = bsSeq % 2 == 0 ? "#fef2ed" : "FFFFFF";
                                    var url = string.Empty;
                                    if (b.DeliveryType == DeliveryType.ToShop)
                                    {
                                        if (b.GenerationFrequency == BalanceSheetGenerationFrequency.MonthBalanceSheet ||
                                            b.RemittanceType == RemittanceType.Flexible ||
                                            b.RemittanceType == RemittanceType.Weekly)
                                        {
                                            url = Url.Action("BalanceSheetsMonth", new { id = b.DealGuid, type = VbsDealType.Ppon, detailId = b.StoreGuid.ToString(), balanceSheetId = b.BalanceSheetId });
                                            if (config.IsEnableVbsNewUi) { url += "&d=" + Request.Params["d"]; }
                                        }
                                        else if (b.GenerationFrequency == BalanceSheetGenerationFrequency.WeekBalanceSheet)
                                        {
                                            url = Url.Action("BalanceSheetsWeek", new { id = b.DealGuid, type = VbsDealType.Ppon, detailId = b.StoreGuid.ToString(), balanceSheetId = b.BalanceSheetId });
                                            if (config.IsEnableVbsNewUi) { url += "&d=" + Request.Params["d"]; }
                                        }
                                        else if (b.GenerationFrequency == BalanceSheetGenerationFrequency.ManualTriggeredBalanceSheet)
                                        {
                                            url = Url.Action("BalanceSheetsManual", new { id = b.DealGuid, type = VbsDealType.Ppon, detailId = b.StoreGuid.ToString(), balanceSheetId = b.BalanceSheetId });
                                            if (config.IsEnableVbsNewUi) { url += "&d=" + Request.Params["d"]; }
                                        }
                                    }
                                    else
                                    {
                                        if (b.GenerationFrequency == BalanceSheetGenerationFrequency.LumpSumBalanceSheet)
                                        {
                                            url = Url.Action("BalanceSheetsDeliver", "VendorBillingSystem", new { id = b.DealGuid });
                                            if (config.IsEnableVbsNewUi) { url += "&d=" + Request.Params["d"]; }
                                        }
                                        else
                                        {
                                            url = Url.Action("BalanceSheetsToHouse", "VendorBillingSystem", new { id = b.DealGuid, balanceSheetId = b.BalanceSheetId });
                                            if (config.IsEnableVbsNewUi) { url += "&d=" + Request.Params["d"]; }
                                        }
                                    }
                                    <tr style="background-color:@bgcolor;">
                                        <td class="textLeft TDPaddingLef">
                                            <a href="@url">[@b.DealId]@b.DealName</a>
                                        </td>
                                        <td align="left">
                                            @b.IntervalEnd
                                        </td>
                                        <td>
                                            @b.GenerateTime
                                        </td>
                                    </tr>
                                    bsSeq++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @RenderBalanceSheetPagerBar(Model.BalanceSheets)
                                }
            <div class="OW-StaffToWriteOff-w11-List">
                <table border="0" cellspacing="0" cellpadding="0" class="w11-DetailedListTable">
                    <caption> 【系統公告】</caption>
                    <tbody>
                        <tr class="w11-OrderGrayTitle">
                            <th width="730">內容</th>
                            <th width="180">公告時間</th>
                        </tr>
                        @{
                            int postSeq = 1;
                            foreach (var m in @Model.Posts)
                            {
                                var fontClass = m.IsMarkRed ? "w11-InfoRed" : string.Empty;
                                var bgcolor = postSeq % 2 == 0 ? "#fef2ed" : "FFFFFF";
                                <tr style="background-color:@bgcolor;">
                                    <td class="textLeft TDPaddingLef">
                                        @RenderContent(@m.PublishContent)
                                        @RenderLink(m.LinkTitle, m.LinkUrl)
                                        <div class="post-footer">
                                            17Life團隊 敬上
                                        </div>
                                    </td>
                                    <td class="@fontClass">
                                        @m.PublishTime.ToString("yyyy/MM/dd HH:mm")
                                    </td>
                                </tr>
                                postSeq++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            @RenderPostPagerBar(Model.Posts)
        </form>
    </div>
</div>



@helper RenderContent(string content)
{
//過渡期的替換，2015/05/12後可改成 @content.Trim(Environment.NewLine.ToCharArray())
    <span style="white-space: pre-line">
        @content.Replace("17Life 團隊敬上", "").Replace("17Life敬上", "").Replace("17Life團隊敬上", "").Replace("17Life團隊 敬上", "").Trim(Environment.NewLine.ToCharArray())
    </span>
}

@helper RenderLink(string title, string url)
{
if (String.IsNullOrEmpty(title) == false && String.IsNullOrEmpty(url) == false)
{
        <span class="post-link">
            <a href='@url' target="_blank">@title</a>
        </span>
}
}

@helper RenderPostPagerBar(PagerList<VbsBulletinBoardPostInfo> pagerData)
{
int nextPage = pagerData.CurrentPage + 1;
int prevPage = pagerData.CurrentPage - 1;
string postQueryName = "postPageNumber";
string _postQueryName = "_" + postQueryName;
string firstPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, postQueryName, pagerData.MinPage));
string lastPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, postQueryName, pagerData.MaxPage));
string nextPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, postQueryName, nextPage));
string prevPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, postQueryName, prevPage));
string pagerPattern = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, postQueryName, "_" + postQueryName));
    <table border="0" cellspacing="0" cellpadding="0" class="w11-TableControl">
        <tbody>
            <tr>
                <td width="50">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" alt="First Page" style="visibility:hidden" />
                    }
                </td>
                <td width="71">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="visibility:hidden" />
                    }
                </td>
                <td width="71">
                    <select class="all" pagerPattern="@pagerPattern"
                            onchange="location.href=$(this).attr('pagerPattern').replace('@_postQueryName',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select>
                </td>
                <td width="91">
                    頁 / @pagerData.MaxPage 頁
                </td>
                <td width="91">
                    共 @pagerData.TotalItemCount 筆
                </td>
                <td width="61">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="visibility:hidden" />
                    }
                </td>
                <td width="50">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="visibility:hidden" />
                    }
                </td>
            </tr>
        </tbody>
    </table>
}

@helper RenderReturnPagerBar(PagerList<VbsBulletinBoardReturnInfo> pagerData)
{
int nextPage = pagerData.CurrentPage + 1;
int prevPage = pagerData.CurrentPage - 1;
string returnQueryName = "returnPageNumber";
string _returnQueryName = "_" + returnQueryName;
string firstPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, returnQueryName, pagerData.MinPage));
string lastPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, returnQueryName, pagerData.MaxPage));
string nextPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, returnQueryName, nextPage));
string prevPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, returnQueryName, prevPage));
string pagerPattern = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, returnQueryName, "_" + returnQueryName));
    <table border="0" cellspacing="0" cellpadding="0" class="w11-TableControl">
        <tbody>
            <tr>
                <td width="50">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" width="17" height="17" alt="First Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" width="17" height="17" alt="First Page" style="visibility:hidden" />
                    }
                </td>
                <td width="71">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="visibility:hidden" />
                    }
                </td>
                <td width="71">
                    <select class="all" pagerPattern="@pagerPattern"
                            onchange="location.href=$(this).attr('pagerPattern').replace('@_returnQueryName',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select>
                </td>
                <td width="91">
                    頁 / @pagerData.MaxPage 頁
                </td>
                <td width="91">
                    共 @pagerData.TotalItemCount 筆
                </td>
                <td width="61">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="visibility:hidden" />
                    }
                </td>
                <td width="50">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="visibility:hidden" />
                    }
                </td>
            </tr>
        </tbody>
    </table>
}

@helper RenderExchangePagerBar(PagerList<VbsBulletinBoardExchangeInfo> pagerData)
{
int nextPage = pagerData.CurrentPage + 1;
int prevPage = pagerData.CurrentPage - 1;
string exchangePageName = "exchangePageNumber";
string _exchangePageName = "_" + exchangePageName;
string firstPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, exchangePageName, pagerData.MinPage));
string lastPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, exchangePageName, pagerData.MaxPage));
string nextPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, exchangePageName, nextPage));
string prevPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, exchangePageName, prevPage));
string pagerPattern = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, exchangePageName, "_" + exchangePageName));
    <table border="0" cellspacing="0" cellpadding="0" class="w11-TableControl">
        <tbody>
            <tr>
                <td width="50">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" width="17" height="17" alt="First Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" width="17" height="17" alt="First Page" style="visibility:hidden" />
                    }
                </td>
                <td width="71">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="visibility:hidden" />
                    }
                </td>
                <td width="71">
                    <select class="all" pagerPattern="@pagerPattern"
                            onchange="location.href=$(this).attr('pagerPattern').replace('@_exchangePageName',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select>
                </td>
                <td width="91">
                    頁 / @pagerData.MaxPage 頁
                </td>
                <td width="91">
                    共 @pagerData.TotalItemCount 筆
                </td>
                <td width="61">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="visibility:hidden" />
                    }
                </td>
                <td width="50">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="visibility:hidden" />
                    }
                </td>
            </tr>
        </tbody>
    </table>
}

@helper RenderBalanceSheetPagerBar(PagerList<VbsBulletinBoardBalanceSheetInfo> pagerData)
{
int nextPage = pagerData.CurrentPage + 1;
int prevPage = pagerData.CurrentPage - 1;
string pageNumberName = "bsPageNumber";
string _pageNumberName = "_" + pageNumberName;
string firstPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, pageNumberName, pagerData.MinPage));
string lastPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, pageNumberName, pagerData.MaxPage));
string nextPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, pageNumberName, nextPage));
string prevPageUrl = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, pageNumberName, prevPage));
string pagerPattern = Url.Action("BulletinBoardList", MvcUtility.GetRouteValues(ViewContext, pageNumberName, "_" + pageNumberName));
    <table border="0" cellspacing="0" cellpadding="0" class="w11-TableControl">
        <tbody>
            <tr>
                <td width="50">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" width="17" height="17" alt="First Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st2.png")" width="17" height="17" alt="First Page" style="visibility:hidden" />
                    }
                </td>
                <td width="71">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper2.png")" alt="Back Page" style="visibility:hidden" />
                    }
                </td>
                <td width="71">
                    <select class="all" pagerpattern="@pagerPattern"
                            onchange="location.href=$(this).attr('pagerPattern').replace('@_pageNumberName',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select>
                </td>
                <td width="91">
                    頁 / @pagerData.MaxPage 頁
                </td>
                <td width="91">
                    共 @pagerData.TotalItemCount 筆
                </td>
                <td width="61">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower2.png")" alt="Next Page" style="visibility:hidden" />
                    }
                </td>
                <td width="50">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="border-style:none;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Lower_st2.png")" alt="Last Page" style="visibility:hidden" />
                    }
                </td>
            </tr>
        </tbody>
    </table>
}