﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model VerificationDealListModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
    }
}

@section Script {
    <script type="text/javascript">
        $(document).ready(function () {
            setupdatepicker('queryStartTime', 'queryEndTime');
            $('#selQueryOption').change(function (evt, init) {
                var queryOption = $(this).val();
                if (queryOption == 'productName' || queryOption == 'sellerName' || queryOption == 'uniqueId' || queryOption == 'forTest') {
                    $('#queryInputText').show();
                    $('#queryInputDate').hide();
                    $('#queryKeyword').focus();
                } else {
                    $('#queryInputText').hide();
                    $('#queryInputDate').show();
                }           
            });
            $('#selQueryOption').trigger('change', true);

            $('#btnQuery').click(function () {
                $('#queryForm').submit();
            });

            $('#queryArea').keypress(function (e) {
                var keycode;
                if (window.event) keycode = window.event.keyCode;
                else if (e) keycode = e.which;
                else return true;
                if (keycode == 13) {
                    $('#btnQuery').click();
                }
            });
        });
    </script>
}

<div class="OWriteOff">
	<div class="OW-center">
		<form id="queryForm" action="@Url.Action("EmployeeVerificationDealList")" method="post">
		<div id="queryArea" class="OW-STWOff-w5-GearSelectorF">
			<label>
				<select name="selQueryOption" id="selQueryOption">
					<option value="uniqueId" @Html.Raw(Request["selQueryOption"] == "uniqueId" ? "selected" : "")>檔號</option>
					<option value="productName" @Html.Raw(Request["selQueryOption"] == "productName" ? "selected" : "")>檔名</option>
					<option value="sellerName" @Html.Raw(Request["selQueryOption"] == "sellerName" ? "selected" : "")>賣家名稱</option>                
					<option value="dealStartTime" @Html.Raw(Request["selQueryOption"] == "dealStartTime" ? "selected" : "")>上檔日期</option>
					<option value="dealEndTime" @Html.Raw(Request["selQueryOption"] == "dealEndTime" ? "selected" : "")>結檔日期</option>
					<option value="useStartTime" @Html.Raw(Request["selQueryOption"] == "useStartTime" ? "selected" : "")>兌換起始日</option>
					<option value="useEndTime" @Html.Raw(Request["selQueryOption"] == "useEndTime" ? "selected" : "")>兌換結束日</option>
				</select>
			</label>
			<span id="queryInputText">
				<input name="queryKeyword" type="text" id="queryKeyword" class="OW-STWOff-w5-GSFinp"  
					style="text-align:left; padding-left:6px" value="@Request["queryKeyword"]"/>
			</span>
			<span id="queryInputDate" style="display: none">
				<input name="queryStartTime" type="text" id="queryStartTime" class="OW-STWOff-w5-GSFinp-date" 
					   value="@Request["queryStartTime"]"/>
				<span style="float:left; margin-left:10px; margin-right:10px;">~</span> 
				<input name="queryEndTime" type="text" id="queryEndTime" class="OW-STWOff-w5-GSFinp-date" 
					   value="@Request["queryEndTime"]"/>
			</span>
			<div id="btnQuery" class="OW-W5_0-InMD-Btn">查詢</div>
		</div>
		</form>
		<div class="OW-StaffToWriteOff-w5-List">
			@{ 
				int seq = 1;
				string tblClassName = "";
				string spnVerificationStateClassName = "";
				string spnVerificationStateDesc = "";
				string spnStoreCountClassName = "";
				foreach (var m in @Model.DealInfos)
				{
					if (seq % 2 == 1)
					{
						tblClassName = "OW-W3-Table2";
					}
					else
					{
						tblClassName = "OW-W3-Table3";
					}

					switch (m.VerificationState)
					{
						case VbsVerificationState.NotYetStart:
							spnVerificationStateClassName = "OW-W3-Table2-ListEnd";
							spnStoreCountClassName = "OW-W5-Table2-BranchEnd";
							spnVerificationStateDesc = "尚未開始兌換";
							break;
						case VbsVerificationState.Verifying:
							spnVerificationStateClassName = "OW-W3-Table2-ListIng";
							spnStoreCountClassName = "OW-W5-Table2-Branch";
							spnVerificationStateDesc = "兌換中";
							break;
						case VbsVerificationState.Finished:
							spnVerificationStateClassName = "OW-W3-Table2-ListEnd";
							spnStoreCountClassName = "OW-W5-Table2-BranchEnd";
							spnVerificationStateDesc = "活動結束";
							break;
					}
					
					<table border="0" cellspacing="0" cellpadding="0" class='@tblClassName' onclick="window.location.href='@Url.Action("VerificationStoreList", new { id = m.DealId, type = m.DealType })'" onmouseover="this.style.cursor='pointer';">
						<tr>
							<td>
								<span class="OW-W3-Table2-ListTittle">[@m.DealUniqueId]@m.DealName</span>
								<span class="OW-W3-Table2-ListIng">@m.VerificationPercent%</span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="OW-W3-Table2-ListTime">兌換時間：@m.ExchangePeriodStartTime.ToString("yyyy/MM/dd") ~ @m.ExchangePeriodEndTime.ToString("yyyy/MM/dd")</span>
								<span class='@spnVerificationStateClassName'>@spnVerificationStateDesc</span>
								<span class='@spnStoreCountClassName'>（分店數：@m.StoreCount）</span>
							</td>
						</tr>
					</table>
			
					seq++;
				}
				
				if (Model.IsResultEmpty)
				{
					<table border="0" cellspacing="0" cellpadding="0" class='OW-W3-Table2'>
						<tr>
							<td>
								<span class="OW-W3-Table2-ListTittle">查無資料!</span>
							</td>
						</tr>
					</table>
				}
			}
		</div>
	</div>
</div>