﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
    }
}

<div class="OWriteOff">
    <form id="InspectionCodeLoginForm" action="">
    <div class="OW-center">
        <table border="0" cellspacing="0" cellpadding="0" class="OW-logoinTable">
            <tr>
                <td class="loginPPasswordtText">請輸入查帳碼</td>
            </tr>
            <tr>
                <td class="OW-logoin">
                    <input name="InspectionCode" type="text" id="InspectionCode" value="登錄密碼" onfocus="clearText(this);" onkeypress="return submitenter(this,event)" onkeydown = "changeCell(InspectionCode)"/>
                </td>
            </tr>
            <tr>
                <td> 
                    <span id="spnErrorMessage" class="OW-logoinWarningsT"></span>      
                </td>
            </tr>
            <tr>
                <td>
                    <div class="OW-W8-DetermineBtn" onclick="btnInspectionCodeLogin_Click()">確定</div>     
                </td>
            </tr>
        </table>
    </div>
    </form>
</div>
	
@section Script{  
<script type="text/javascript">
	function clearText(obj) {
		if (obj.value === "登錄密碼")
			obj.value = "";
		obj.type = "password";
	}

	function btnInspectionCodeLogin_Click() {
		if ($('input[id*=InspectionCode]').val() === "登錄密碼" || $('input[id*=InspectionCode]').val() === "") {
			alert("請輸入查帳碼");
			return false;
		}

		var formData = $('#InspectionCodeLoginForm').serialize();
		$.ajax({
			type: 'POST',
			url: '@Url.Action("InspectionCodeLogin")',
			data: formData,
			success: resultHandler,
			dataType: 'json'
		});
	}

	function resultHandler(data) {

		$('#spnErrorMessage').html(data.Message);

		if (data.IsSuccess) {//設定密碼成功
			window.location.href = '@Url.Action("BalanceDealList")@Html.Raw(config.IsEnableVbsNewUi ? "?d=" + Request.Params["d"] : "")';
		}
	}

	function submitenter(myfield, e) {
		var keycode;
		if (window.event) keycode = window.event.keyCode;
		else if (e) keycode = e.which;
		else return true;
		if (keycode == 13) {
			btnInspectionCodeLogin_Click();
			return false;
		}
		else
			return true;
	}

	function changeCell(el) {
		$(el).css('color', '#000000');
	}
</script>
}