﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem;
@using LunchKingSite.Core;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component
@using LunchKingSite.DataOrm;
@model List<InStorePickupModel>
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {

        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }

    bool ShowApplyIsp = ViewBag.ShowApplyIsp;
}
<style type="text/css">
    table, th, td {
        border: 1px solid black;
        padding-left: 5px;
    }

    .title {
        background-color: #f2f2f2;
        border-collapse: collapse;
        padding: 15px;
    }
    .ApplyIsp {
            text-align: left;
            padding-left: 10px;
            padding-top: 10px;
            padding-right: 10px;
        }

    .mgs-boxtitle {
        height: 28px;
        margin: 0px auto 24px auto;
        background: #e4e3e3;
        font-weight: bold;
    }
</style>
<div>
    <h1>超商取貨申請與資料維護</h1>
    <form id="isp_form" action="InStorePickup" method="post">
        @{
            InStorePickupModel modelFamily = Model.Where(x => x.ServiceChannel == (int)ServiceChannel.FamilyMart).FirstOrDefault();
            InStorePickupModel modelSeven = Model.Where(x => x.ServiceChannel == (int)ServiceChannel.SevenEleven).FirstOrDefault();

            string contactTel1 = string.Empty;
            string contactTel2 = string.Empty;
            string contactTel3 = string.Empty;

            if (modelFamily != null && modelFamily.ContactTel != null)
            {
                contactTel1 = modelFamily.ContactTel.Split('-')[0];
                contactTel2 = modelFamily.ContactTel.Split('-')[1].Split('#')[0];
                contactTel3 = modelFamily.ContactTel.IndexOf('#') > 0 ? modelFamily.ContactTel.Split('#')[1] : "";
            }
            else if (modelSeven != null && modelSeven.ContactTel != null)
            {
                contactTel1 = modelSeven.ContactTel.Split('-')[0];
                contactTel2 = modelSeven.ContactTel.Split('-')[1].Split('#')[0];
                contactTel3 = modelSeven.ContactTel.IndexOf('#') > 0 ? modelSeven.ContactTel.Split('#')[1] : "";
            }
        }
        <table style="margin-top:50px;width:800px;" rules="all" cellpadding="5">
            <tr>
                <td width="169px;" class="title">賣家編號/賣家名稱</td>
                <td>
                    <select id="sellers" @if ((int)ISPStatus.Initial != modelFamily.Status) { <text> disabled="disabled" </text>        }>
                        @if (config.EnableSevenIsp)
                        {
                            <option selected="selected">請選擇</option>
                        }
                        @foreach (var item in modelFamily.Sellers)
                        {
                            <option value="@item.Key" @if (item.Key == modelFamily.SellerGuid) { <text> selected="selected" </text>        }>@item.Value</option>
                        }
                    </select>
                    <input type="hidden" id="sellerGuid" name="sellerGuid" value="@modelFamily.SellerGuid" />
                </td>
            </tr>
        </table>

        <h3>超商退貨聯絡資訊</h3>


        <table style="width:800px;">
            <tr>
                <td width="130px;" class="title">聯絡人</td>
                @if (modelFamily.Status == (int)ISPStatus.Initial || modelFamily.Status == (int)ISPStatus.Reject || modelSeven.Status == (int)ISPStatus.Initial || modelSeven.Status == (int)ISPStatus.Reject)
                {
                    <td width="300px;"><input id="contactName" name="contactName" type="text" value="@modelFamily.ContactName" /></td>
                }
                else
                {
                    <td width="300px;">@modelFamily.ContactName</td>
                }

                <td width="130px;" class="title">電話(市)</td>
                @if (modelFamily.Status == (int)ISPStatus.Initial || modelFamily.Status == (int)ISPStatus.Reject || modelSeven.Status == (int)ISPStatus.Initial || modelSeven.Status == (int)ISPStatus.Reject)
                {
                    <td width="240px;">
                        <input id="contactTel1" name="contactTel1" type="text" style="width:50px" value="@contactTel1" />-
                        <input id="contactTel2" name="contactTel2" type="text" style="width:100px" value="@contactTel2" />#
                        <input id="contactTel3" name="contactTel3" type="text" style="width:50px" value="@contactTel3" />
                    </td>
                }
                else
                {
                    <td width="240px;">@(contactTel1 + '-' + contactTel2 + (contactTel3 != "" ? '#' + contactTel3 : ""))</td>
                }

            </tr>
            <tr>
                <td class="title">Email</td>
                @if (modelFamily.Status == (int)ISPStatus.Initial || modelFamily.Status == (int)ISPStatus.Reject || modelSeven.Status == (int)ISPStatus.Initial || modelSeven.Status == (int)ISPStatus.Reject)
                {
                    <td width="300px;"><input id="contactEmail" name="contactEmail" type="text" value="@modelFamily.ContactEmail" style="width:290px" /></td>
                }
                else
                {
                    <td>@modelFamily.ContactEmail</td>
                }

                <td class="title">電話(行動)</td>
                @if (modelFamily.Status == (int)ISPStatus.Initial || modelFamily.Status == (int)ISPStatus.Reject || modelSeven.Status == (int)ISPStatus.Initial || modelSeven.Status == (int)ISPStatus.Reject)
                {
                    <td width="240px;"><input id="contactMobile" name="contactMobile" type="text" value="@modelFamily.ContactMobile" /></td>
                }
                else
                {
                    <td>@modelFamily.ContactMobile</td>
                }

            </tr>
            <tr>
                <td class="title">退貨地址</td>
                @if (modelFamily.Status == (int)ISPStatus.Initial || modelFamily.Status == (int)ISPStatus.Reject || modelSeven.Status == (int)ISPStatus.Initial || modelSeven.Status == (int)ISPStatus.Reject)
                {
                    <td width="300px;"><input id="returnAddress" name="returnAddress" type="text" value="@modelFamily.ReturnAddress" style="width:290px" /></td>
                }
                else
                {
                    <td>@modelFamily.ReturnAddress</td>
                }
                @if (config.EnableSevenIsp)
                {
                    <td class="title"></td>
                    <td></td>
                }
                else
                {
                    <td class="title">傳真</td>
                    <td>@modelFamily.Fax</td>
                }

            </tr>
        </table>

        <h3>全家超商</h3>

        <table style="width:800px;">
            <tr>
                <td width="180px;" class="title">申請內容</td>
                <td width="250px;">B2C-物流交寄</td>
                <td width="180px;" class="title"></td>
                <td width="250px;"></td>
            </tr>
            <tr>
                <td class="title">申請狀態</td>
                @switch (modelFamily.Status)
                {
                    case (int)ISPStatus.Initial:
                        <td>未申請</td>
                        break;
                    case (int)ISPStatus.Verifying:
                        <td>待審核</td>
                        break;
                    case (int)ISPStatus.Reject:
                        <td>
                            審核退回<br />@modelFamily.VerifyMemo
                        </td>
                        break;
                    case (int)ISPStatus.StoreCreate:
                        <td>超商建檔中</td>
                        break;
                    case (int)ISPStatus.Checking:
                        <td>測標中</td>
                        break;
                    case (int)ISPStatus.Failed:
                        <td>測標失敗</td>
                        break;
                    case (int)ISPStatus.Complete:
                        <td>開通完成</td>
                        break;
                }
                <td class="title">申請日</td>
                <td>@modelFamily.ApplyDate</td>
            </tr>
            <tr>
                <td class="title">全家超商子代碼</td>
                <td>@modelFamily.StoreSubCode</td>
                <td class="title">全家測標檔下載</td>
                @if (modelFamily.Status >= (int)ISPStatus.Checking)
                {
                    <td>
                        <a href="#" onclick="downloadPDF('@modelFamily.SellerGuid.ToString()',@((int)ServiceChannel.FamilyMart));">下載</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <td class="title">退貨週期</td>
                @if (modelFamily.Status == (int)ISPStatus.Initial || modelFamily.Status == (int)ISPStatus.Reject)
                {
                    <td colspan="3">
                        <select id="returnCycleFamily" name="returnCycleFamily">
                            <option selected="selected">請選擇</option>
                            @foreach (RrturnCycle item in Enum.GetValues(typeof(RrturnCycle)))
                            {
                                <option value="@((int)item)" @if ((int)item == modelFamily.ReturnCycle) { <text> selected="selected" </text>        }>@Helper.GetDescription(item)</option>
                            }
                        </select>
                        <a style="color:blue;text-decoration: underline;" class="bpopup-descrpition-family" href="javascript:void(0)">退貨週期與退貨方式說明</a>
                    </td>
                }
                else
                {
                    <td colspan="3">
                        @Helper.GetDescription((RrturnCycle)modelFamily.ReturnCycle)
                        <a style="color:blue;text-decoration: underline;" class="bpopup-descrpition-family" href="javascript:void(0)">退貨週期與退貨方式說明</a>
                    </td>
                }
            </tr>
            <tr>
                <td class="title">退貨方式</td>
                @if (modelFamily.Status == (int)ISPStatus.Initial || modelFamily.Status == (int)ISPStatus.Reject)
                {
                    <td colspan="3">
                        <select id="returnTypeFamily" name="returnTypeFamily">
                            <option>請選擇</option>
                            @foreach (RetrunShip item in Enum.GetValues(typeof(RetrunShip)))
                            {
                                if (item != RetrunShip.Family)
                                {
                                    <option value="@((int)item)" @if ((int)item == modelFamily.ReturnType) { <text> selected="selected" </text>         }>@Helper.GetDescription(item)</option>
                                }
                            }
                        </select>
                        <input id="returnOtherFamily" name="returnOtherFamily" type="text" value="@modelFamily.ReturnOther" style="display:none;" /><br />
                        <span style="color:red;display:none;" id="spanOtherFamily">* 其他貨運，不可填寫上述已有貨運公司(ex:新竹貨運)</span>
                    </td>
                }
                else
                {
                    <td colspan="3">
                        @Helper.GetDescription((RetrunShip)modelFamily.ReturnType)
                        <br />
                        @modelFamily.ReturnOther
                    </td>
                }
            </tr>
        </table>
        <br />

        @if (config.EnableSevenIsp)
        {
            <h3>7-11超商</h3>

            <table style="width:800px;">
                <tr>
                    <td width="180px;" class="title">申請內容</td>
                    <td width="250px;">B2C-物流交寄</td>
                    <td width="180px;" class="title"></td>
                    <td width="250px;"></td>
                </tr>
                <tr>
                    <td class="title">申請狀態</td>
                    @switch (modelSeven.Status)
                    {
                        case (int)ISPStatus.Initial:
                            <td>未申請</td>
                            break;
                        case (int)ISPStatus.Verifying:
                            <td>待審核</td>
                            break;
                        case (int)ISPStatus.Reject:
                            <td>
                                審核退回<br />@modelSeven.VerifyMemo
                            </td>
                            break;
                        case (int)ISPStatus.StoreCreate:
                            <td>超商建檔中</td>
                            break;
                        case (int)ISPStatus.Checking:
                            <td>測標中</td>
                            break;
                        case (int)ISPStatus.Failed:
                            <td>測標失敗</td>
                            break;
                        case (int)ISPStatus.Complete:
                            <td>開通完成</td>
                            break;
                    }
                    <td class="title">申請日</td>
                    <td>@modelSeven.ApplyDate</td>
                </tr>
                <tr>
                    <td class="title">7-11超商子代碼</td>
                    <td>@modelSeven.StoreSubCode</td>
                    <td class="title">7-11測標檔下載</td>
                    @if (modelSeven.Status >= (int)ISPStatus.Checking)
                    {
                        <td>
                            <a href="#" onclick="downloadPDF('@modelSeven.SellerGuid.ToString()',@((int)ServiceChannel.SevenEleven));">下載</a>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
                <tr>
                    <td class="title">退貨週期</td>
                    @if (modelSeven.Status == (int)ISPStatus.Initial || modelSeven.Status == (int)ISPStatus.Reject)
                    {
                        <td colspan="3">
                            <select id="returnCycleSeven" name="returnCycleSeven">
                                <option selected="selected">請選擇</option>
                                @foreach (RrturnCycle item in Enum.GetValues(typeof(RrturnCycle)))
                                {
                                    if (item != RrturnCycle.Mon)
                                    {
                                        <option value="@((int)item)" @if ((int)item == modelSeven.ReturnCycle) { <text> selected="selected" </text>             }>@Helper.GetDescription(item)</option>
                                    }

                                }
                            </select>
                            <a style="color:blue;text-decoration: underline;" class="bpopup-descrpition-seven" href="javascript:void(0)">退貨週期與退貨方式說明</a>
                        </td>
                    }
                    else
                    {
                        <td colspan="3">
                            @Helper.GetDescription((RrturnCycle)modelSeven.ReturnCycle)
                            <a style="color:blue;text-decoration: underline;" class="bpopup-descrpition-seven" href="javascript:void(0)">退貨週期與退貨方式說明</a>
                        </td>
                    }
                </tr>
                <tr>
                    <td class="title">退貨方式</td>
                    @if (modelSeven.Status == (int)ISPStatus.Initial || modelSeven.Status == (int)ISPStatus.Reject)
                    {
                        <td colspan="3">
                            <select id="returnTypeSeven" name="returnTypeSeven">
                                <option>請選擇</option>
                                @*@foreach (RetrunShip item in Enum.GetValues(typeof(RetrunShip)))
                                    {
                                        if (item != RetrunShip.Family)
                                        {
                                            <option value="@((int)item)" @if ((int)item == modelSeven.ReturnType) { <text> selected="selected" </text>        }>@Helper.GetDescription(item)</option>
                                        }
                                    }*@
                            </select>
                            <input id="returnOtherSeven" name="returnOtherSeven" type="text" value="@modelSeven.ReturnOther" style="display:none;" /><br />
                            <span style="color:red;display:none;" id="spanOtherSeven">* 其他貨運，不可填寫上述已有貨運公司(ex:新竹貨運)</span>
                        </td>
                    }
                    else
                    {
                        <td colspan="3">
                            @Helper.GetDescription((RetrunShip)modelSeven.ReturnType)
                            <br />
                            @modelSeven.ReturnOther
                        </td>
                    }
                </tr>
            </table>
        }

        <br />
        @if (modelFamily.Status == (int)ISPStatus.Initial || modelFamily.Status == (int)ISPStatus.Reject || modelSeven.Status == (int)ISPStatus.Initial || modelSeven.Status == (int)ISPStatus.Reject)
        {
            <input type="button" value="送出申請" onclick="check_data();" />
            <input type="checkbox" value="" id="ckagree"><label>我同意</label>
        }
        else
        {
            <input type="checkbox" checked="checked" disabled="disabled" value="" id="ckagree"><label>我同意 </label>
            <input type="button" value="資料變更" onclick="alert('資料變更，請聯繫與您接洽的17Life同仁。');" />
        }

        <a style="color:blue;text-decoration: underline;" href="@config.SiteUrl/template/SalesDocs/全家超取服務同意書-20190101_v3.0.pdf" target="_blank">全家超商取貨合約</a>&nbsp;&nbsp;
        <a style="color:blue;text-decoration: underline;" href="@config.SiteUrl/template/SalesDocs/統一B2C超取服務同意書V2.1.pdf" target="_blank">7-11超商取貨合約</a>



        <div id="bpopup-descrpition-family" class="card-panel bpopup-modal" style="overflow-y:auto; height:300px;">
            <h2>退貨週期與退貨方式說明</h2>
            <hr />
            <span style="color:blue">※退貨週期(週退/日退)：商家至物流中心取回退貨頻率</span><br />
            週退：周一 ~ 週五指定貨運公司，前往超商物流中心進行退貨取回，或者自行前往取貨。<br />
            日退：每日指定貨運公司，前往超商物流中心進行退貨取回，或者自行前往取貨。<br /><br />
            <span style="color:blue">※退貨方式(親取/商家指派貨運)：商家至物流中心取回退貨的方式</span><br />
            貨運公司：大榮貨運 、新竹貨運、統一速達 (黑貓宅急便)、宅配通、其他(其他 :請填寫貨運名稱)<br />
        </div>

        @if (config.EnableSevenIsp)
        {
            <div id="bpopup-descrpition-seven" class="card-panel bpopup-modal" style="overflow-y:auto; height:400px;">
                <h2>退貨週期與退貨方式說明</h2>
                <hr />
                <span style="color:blue">※退貨週期(週退/日退)：商家至物流中心取回退貨頻率</span><br />
                週退：周二 ~ 週五指定貨運公司，前往超商物流中心進行退貨取回，或者自行前往取貨。<br />
                日退：每日指定貨運公司，前往超商物流中心進行退貨取回，或者自行前往取貨。<br /><br />
                <span style="color:blue">※退貨方式(親取/商家指派貨運)：商家至物流中心取回退貨的方式</span><br />
                貨運公司：<br />
                週二:大榮貨運、新竹貨運。<br />
                週三:其他＆自取 (其他:請填寫貨運名稱，<span style="color:red">不得為大榮、新竹、統一速達、宅配通</span>)。<br />
                週四:統一速達(黑貓宅急便)。<br />
                週五:宅配通。<br />
                日退:大榮貨運、新竹貨運、統一速達(黑貓宅急便)、宅配通，其他貨運或自取。<br />
                <span style="color:red">* 其他貨運，不可填寫上述已有的貨運公司(ex:大榮、新竹、統一速達、宅配通)</span>
            </div>
        }


    </form>

    <br />
</div>

<div id="divApplyIsp" class="ApplyIsp" style="display: none;">
    <div>
        <div class="mgs-boxtitle">
            7-11超取合作申請通知
        </div>
        <div>
            <div class="mgs-content">
                <div style="font-weight:bold;font-size:20px;">親愛的供應商夥伴，您好：</div>
                <div>
                    17life預計於10月底再<span style="font:bold">新增「7-11」超商取貨服務</span>，提供您更多元便利的選擇，為了節省您的操作時間，請您務必<span style="color:red">選擇欲適用之『退貨週期』及『退貨方式』</span>，並按下<span style="color:red">『同意申請按鈕』</span>，我們將使用您於申請「全家」超商取貨服務提供之資料優先替您申請7-11超商取貨(B2C)服務，待申請通過後，系統會寄發通知信及開通操作教學，若有任何需要協助之處，請聯繫17Life團隊業務專員，謝謝。<br />
                    <br />
                    <span style="color:blue">※退貨週期(週退/日退)：商家至物流中心取回退貨頻率</span><br />
                    週退：周二 ~ 週五指定貨運公司，前往超商物流中心進行退貨取回，或者自行前往取貨。<br />
                    日退：每日指定貨運公司，前往超商物流中心進行退貨取回，或者自行前往取貨。<br /><br />
                    <span style="color:blue">※退貨方式(親取/商家指派貨運)：商家至物流中心取回退貨的方式</span><br />
                    貨運公司：<br />
                    週二:大榮貨運、新竹貨運。<br />
                    週三:其他＆自取 (其他:請填寫貨運名稱，<span style="color:red">不得為大榮、新竹、統一速達、宅配通</span>)。<br />
                    週四:統一速達(黑貓宅急便)。<br />
                    週五:宅配通。<br />
                    日退:大榮貨運、新竹貨運、統一速達(黑貓宅急便)、宅配通，其他貨運或自取。<br />
                    <span style="color:red">* 其他貨運，不可填寫上述已有的貨運公司(ex:大榮、新竹、統一速達、宅配通)</span>
                    <br />
                    <br />
                    退貨週期
                    <select id="applyReturnCycleSeven" name="applyReturnCycleSeven">
                        <option selected="selected">請選擇</option>
                        @foreach (RrturnCycle item in Enum.GetValues(typeof(RrturnCycle)))
                        {
                            if (item != RrturnCycle.Mon)
                            {
                                <option value="@((int)item)">@Helper.GetDescription(item)</option>
                            }
                        }
                    </select>
                    <br />
                    <br />
                    退貨方式
                    <select id="applyReturnTypeSeven" name="applyReturnTypeSeven">
                        <option>請選擇</option>
                    </select>
                    <input id="applyReturnOtherSeven" name="applyReturnOtherSeven" type="text" style="display:none;" />

                    <br />
                    <br />
                    17Life服務專員(代表號)：(02)2521-9131
                    <br />
                    <a style="color:blue;text-decoration: underline;" href="~/template/SalesDocs/統一B2C超取服務同意書V2.0.pdf" download="">
                        7-11超商取貨服務同意書B2C(下載檢視)
                    </a>
                </div>
                <div style="float:right;padding-right:20px;">
                    <input id="btnDisargee" type="button" value="取消" onclick="$.unblockUI();" />
                    <input id="btnArgee" type="button" value="同意申請" onclick="ApplyIsp()" />
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript" src="../../Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#returnTypeFamily').val() == '@((int)RetrunShip.Other)') {
            $('#returnOtherFamily').show();
            $('#spanOtherFamily').show();
        }

        $('#returnTypeFamily').change(function () {
            if ($(this).val() == '@((int)RetrunShip.Other)') {
                $('#returnOtherFamily').show();
                $('#spanOtherFamily').show();
            } else {
                $('#returnOtherFamily').hide();
                $('#returnOtherFamily').val('');
                $('#spanOtherFamily').hide();
            }
        })


        GetReturnTypeSeven();
        $('select[name="returnTypeSeven"] option[value="@((int)modelSeven.ReturnType)"]').prop('selected', true);
        $('#returnCycleSeven').change(function () {
            GetReturnTypeSeven();
        })


        if ($('#returnTypeSeven').val() == '@((int)RetrunShip.Other)') {
            $('#returnOtherSeven').show();
            $('#spanOtherSeven').show();
        }

        $('#returnTypeSeven').change(function () {
            if ($(this).val() == '@((int)RetrunShip.Other)') {
                $('#returnOtherSeven').show();
                $('#spanOtherSeven').show();
            } else {
                $('#returnOtherSeven').hide();
                $('#returnOtherSeven').val('');
                $('#spanOtherSeven').hide();
            }
        })

        $('#sellers').change(function () {
            $('#sellerGuid').val($(this).val());
            //var formAction = $('#isp_form').attr('action', 'StoreChange');
            //$('#isp_form').submit();
        })

        //popup
        $('.bpopup-contact-family').bind('click', function (e) {
            $('div#bpopup-contact-family').bPopup({
                modalClose: true,
            });
        });

        $('.bpopup-contact-seven').bind('click', function (e) {
            $('div#bpopup-contact-seven').bPopup({
                modalClose: true,
            });
        });

        //popup
        $('.bpopup-descrpition-family').bind('click', function (e) {
            $('div#bpopup-descrpition-family').bPopup({
                modalClose: true,
            });
        });

        $('.bpopup-descrpition-seven').bind('click', function (e) {
            $('div#bpopup-descrpition-seven').bPopup({
                modalClose: true,
            });
        });





        if ('@ShowApplyIsp'=='True')
        {
            ApplyIspSeven();
        }
    });

    function check_data() {

        if ('@ViewBag.LoginBy17LifeSimulate'=='True')
        {
            alert('模擬身分不允許執行此功能');
            return false;
        }

        if ($('#sellers').val() =='請選擇') {
            alert('請選擇申請賣家');
            return false;
        }

        if ($('#contactName').val() =='') {
            alert('請輸入聯絡人');
            return false;
        }

        if ($('#contactEmail').val() =='') {
            alert('請輸入Email');
            return false;
        }

        if ($('#contactTel1').val() =='' || $('#contactTel2').val() =='') {
            alert('請輸入電話(市)');
            return false;
        }
        
        if ($('#contactTel1').val().length + $('#contactTel2').val().length + $('#contactTel3').val().length + 2 > 21)
        {
            //再加兩個dash,超取平台最多21字
            alert('電話(市)格式錯誤');
            return false;
        }

        if ($('#contactTel1').val().length + $('#contactTel2').val().length < 9)
        {
            alert('電話(市)格式錯誤');
            return false;
        }


        if ($('#contactMobile').val() =='') {
            alert('請輸入電話(行動)');
            return false;
        }

        if (isNaN($('#contactMobile').val()))
        {
            alert('電話(行動)格式錯誤');
            return false;
        }

        if ($('#returnAddress').val() =='') {
            alert('請輸入退貨地址');
            return false;
        }

        if ((!$.isNumeric($('#returnCycleFamily').val()) && $('#returnCycleFamily').length > 0 ) || (!$.isNumeric($('#returnCycleSeven').val()) && $('#returnCycleSeven').length > 0)) {
            alert('請選擇退貨週期');
            return false;
        }
        if ((!$.isNumeric($('#returnTypeFamily').val()) && $('#returnTypeFamily').length > 0) || ((!$.isNumeric($('#returnTypeSeven').val()) || $('#returnTypeSeven').val()=='0') && $('#returnTypeSeven').length > 0)) {
            alert('請選擇退貨方式');
            return false;
        }
        if (($('#returnTypeFamily').val() == '@((int)RetrunShip.Other)' && $('#returnOtherFamily').val() == '' && $('#returnOtherFamily').length > 0) || ($('#returnTypeSeven').val() == '@((int)RetrunShip.Other)' && $('#returnOtherSeven').val() == '' && $('#returnOtherSeven').length > 0)) {
            alert('請輸入其他貨運資料');
            return false;
        }

        if (!$('#ckagree').attr('checked')) {
            alert('請確認合約內容');
            return false;
        }



        $('#isp_form').submit();
    }

    function downloadPDF(key, channel) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTestTag")',
            data: JSON.stringify({
                key: key,
                channel: channel
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data);
                if (data.Data != null) {
                    window.location.href = data.Data;
                }
            }
        });
    }

    function GetReturnTypeSeven()
    {
        $('select[name="returnTypeSeven"]').empty();
        $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (0)).text('請選擇'));
        if ($('select[name="returnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Thu)')
        {
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Hct))).text('@Helper.GetDescription(RetrunShip.Hct)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Kerrytj))).text('@Helper.GetDescription(RetrunShip.Kerrytj)'));
        }
        else if ($('select[name="returnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Wed)')
        {
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Other))).text('@Helper.GetDescription(RetrunShip.Other)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.SelfPicking))).text('@Helper.GetDescription(RetrunShip.SelfPicking)'));
        }
        else if ($('select[name="returnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Tue)')
        {
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Uni))).text('@Helper.GetDescription(RetrunShip.Uni)'));
        }
        else if ($('select[name="returnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Fri)')
        {
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Pelican))).text('@Helper.GetDescription(RetrunShip.Pelican)'));
        }
        else if ($('select[name="returnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Daily)')
        {
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Kerrytj))).text('@Helper.GetDescription(RetrunShip.Kerrytj)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Hct))).text('@Helper.GetDescription(RetrunShip.Hct)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Uni))).text('@Helper.GetDescription(RetrunShip.Uni)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Pelican))).text('@Helper.GetDescription(RetrunShip.Pelican)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Other))).text('@Helper.GetDescription(RetrunShip.Other)'));
            $('select[name="returnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.SelfPicking))).text('@Helper.GetDescription(RetrunShip.SelfPicking)'));
        }
    }

    function ApplyIsp() {

        var applyReturnCycle = $('select[name="applyReturnCycleSeven"] option:selected').val();
        var applyReturnType = $('select[name="applyReturnTypeSeven"] option:selected').val();
        var applyReturnOther = $('#applyReturnOtherSeven').val();
        //$.post('@Url.Action("ApplyIsp")', { returnCycle: returnCycle, returnType: returnType, returnOther:returnOther });

        if (applyReturnCycle =='請選擇' || applyReturnType=='0')
        {
            alert('請輸入退貨周期及方式')
        }
        else if (applyReturnType == 9 && applyReturnOther == '')
        {
            alert('請輸入其他物流方式')
        }
        else
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ApplyIsp")',
                data: JSON.stringify({
                    applyReturnCycle: applyReturnCycle,
                    applyReturnType: applyReturnType,
                    applyReturnOther: applyReturnOther,
                }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    alert('申請成功');
                    window.location.href = '@Url.Action("InStorePickup")';
                }
            });
        }

    }

    function ApplyIspSeven() {


        $.blockUI({
            message: $('#divApplyIsp'),
            css: {
                border: 'none',
                background: 'white',
                width: ($(window).width()) / 2 + 'px',
                height: ($(window).height()) / 1.3 + 'px',
                top: ($(window).height() - ($(window).height()) / 1.3) / 2 + $(window).scrollTop() + "px",
                left: ($(window).width() - ($(window).width()) / 2) / 2 + $(window).scrollLeft() + "px",
                overflow: 'auto'
            }
        });


        $('#applyReturnTypeSeven').change(function () {
            if ($(this).val() == '@((int)RetrunShip.Other)') {
                $('#applyReturnOtherSeven').show();
            } else {
                $('#applyReturnOtherSeven').hide();
                $('#applyReturnOtherSeven').val('');
            }
        })

        $('#applyReturnCycleSeven').change(function () {
            $('select[name="applyReturnTypeSeven"]').empty();
            $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (0)).text('請選擇'));
            if ($('select[name="applyReturnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Thu)')
            {
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Hct))).text('@Helper.GetDescription(RetrunShip.Hct)'));
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Kerrytj))).text('@Helper.GetDescription(RetrunShip.Kerrytj)'));
            }
            else if ($('select[name="applyReturnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Wed)')
            {
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Other))).text('@Helper.GetDescription(RetrunShip.Other)'));
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.SelfPicking))).text('@Helper.GetDescription(RetrunShip.SelfPicking)'));
            }
            else if ($('select[name="applyReturnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Tue)')
            {
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Uni))).text('@Helper.GetDescription(RetrunShip.Uni)'));
            }
            else if ($('select[name="applyReturnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Fri)')
            {
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Pelican))).text('@Helper.GetDescription(RetrunShip.Pelican)'));
            }
            else if ($('select[name="applyReturnCycleSeven"] option:selected').val() == '@((int)RrturnCycle.Daily)')
            {
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Kerrytj))).text('@Helper.GetDescription(RetrunShip.Kerrytj)'));
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Hct))).text('@Helper.GetDescription(RetrunShip.Hct)'));
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Uni))).text('@Helper.GetDescription(RetrunShip.Uni)'));
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Pelican))).text('@Helper.GetDescription(RetrunShip.Pelican)'));
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.Other))).text('@Helper.GetDescription(RetrunShip.Other)'));
                $('select[name="applyReturnTypeSeven"]').append($("<option></option>").attr("value", (@((int)RetrunShip.SelfPicking))).text('@Helper.GetDescription(RetrunShip.SelfPicking)'));
            }

        })

    }
</script>