﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE HTML>

<html>
<head>
    <title>17Life 商家系統</title>
    <link href='@Url.Content("~/Themes/OWriteOff/OWriteOff.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Tools/js/css/jquery-confirm.min.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-confirm.min.js")' type="text/javascript"></script>
    @*show dialog 找不到綁定的商家帳號時需要的js&css*@
    <script src='@Url.Content("~/Tools/js/jquery-ui.js")' type="text/javascript"></script>
    <link type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")' rel="stylesheet" />
    <style type="text/css">
        div[onclick] { cursor: pointer; }
    </style>
    <script type="text/javascript">
        $().ready(function () {
            checkCookie();

            if ('@ViewBag.IsEnableVbsBindAccount' == 'False')
            {
                $('#twologinPattern').hide();
                $('#loginTable').show();
                $('#ForgetPassword').hide();
            }

            if ('@ViewBag.IsAuth' == 'False') {
                $('#loginTable').show();
                $('#divErrorMessage').show();
            }

            if ('@ViewBag.IsFoundTheVbsAccount' == 'NotFound') {
                $.confirm({
                    title: '登入失敗 ',
                    content: '輸入的帳號未經綁定，請重新確認帳號，或進行相關的註冊與綁定。',
                    boxWidth: 300,
                    useBootstrap: false,
                    animation: 'zoom',
                    closeAnimation: 'left',
                    buttons: {
                        specialKey: {
                            text: '確定',
                            btnClass: 'btn-red any-other-class',
                        }
                    }
                });
                //$("#NotFoundVbsPage").dialog({
                //    resizable: false,
                //    height: "auto",
                //    width: 400,
                //    modal: true,
                //    buttons: {
                //        "確定": function () {
                //            $(this).dialog("close");
                //        }
                //    }
                //});
            }

            $('#txtPassword').focus(function () {
                // 切換
                $('#Password').show();
                $('#txtPassword').hide();
                $('#Password').focus();

                   });

            $('#Password').blur(function () {
                       var str = $('#Password').val();
                       if (str.length <= 0) {
                    $('#Password').hide();
                    $('#txtPassword').show();
                       }
                       else {
                    $('#Password').show();
                    $('#txtPassword').hide();
                       }
                   });
               });

        function btnLogin_Click() {

            if ($('input[id*=UserName]').val() === "帳號" || $.trim($('input[id*=UserName]').val()) === "") {
                alert("請輸入帳號");
                return false;
            }
            if ($('input[id*=Password]').val() === "登入密碼" || $('input[id*=Password]').val() === "") {
                alert("請輸入登入密碼");
                return false;
            }
            if ($('#chkRememberUserName').is(':checked') === true) {
                setCookie("UserName", $('input[id*=UserName]').val(), 1);
            }
            else {
                clearCookie("UserName", $('input[id*=UserName]').val());
            }

            document.forms[0].submit();

        }

        function getCookie(c_name)
        {
            var strEQ = c_name + "=";
            if (document.cookie.length > 0) {
                c_list = document.cookie.split(";");
                for (i in c_list) {

                    var c = c_list[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(strEQ) == 0) {
                        var value = c.substring(strEQ.length, c.length + 1);
                        return unescape(value);
                    }
                }
            }
            return null;

        }

        function setCookie(c_name,value,expiredays)
        {
            var exdate = new Date();
            exdate.setTime(exdate.getTime() + expiredays * 24 * 60 * 60 * 1000);   // 使用時間設定
            var strCookie = c_name + "=" + escape(value) + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
            document.cookie = strCookie;
        }

        function clearCookie(c_name, value) {
            var exp = new Date();
            exp.setTime(exp.getTime() - 1 * 24 * 60 * 60 * 1000);   // 使用時間設定
            document.cookie = c_name + '=' + escape(value) + ';expires=' + exp.toGMTString();
        }

        function checkCookie()
        {
            var username = getCookie('UserName');
            if (username != null) {
                $('input[id*=UserName]').val(username);
                $("#chkRememberUserName").attr("checked", true);//打勾
            }
        }

        function clearText(obj) {
            if (obj.value === "帳號" || obj.value === "登入密碼") {
                obj.value = "";
            }

            changeCell(obj);
        }

        function submitenter(myfield, e) {
            var keycode;
            if (window.event) keycode = window.event.keyCode;
            else if (e) keycode = e.which;
            else return true;
            if (keycode == 13) {
                btnLogin_Click();
                return false;
            }
            else
                return true;
        }

        function changeCell(el) {
            $(el).css('color', '#000000');
        }

        function bindAccountLogin17Life() {
             window.location.href = '/NewMember/Logout.aspx?ref=/m/Login?returnUrl=/vbs/LoginBy17Life';
        }

    </script>
</head>
<body>
    @*<div id="NotFoundVbsPage" title="登入失敗" style="display:none">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
            輸入的帳號未經綁定，請重新確認帳號，或進行相關的註冊與綁定。
        </p>
    </div>*@
    <div class="OW-top OW-top-hig">
        <div class="ow-topCenter">
            <div class="ow-logo-big"></div>
        </div>
    </div>
    <form id="LoginForm" method="post" action='@Url.RouteUrl("VendorBillingSystemDefault", new { Action = "Login" }) '>
    <div class="OWriteOff">
        <div class="OW-center">
            @*<table  id="twologinPattern" border="0" cellspacing="0" cellpadding="0" class="OW-logoinTable">
                <tr>
                    <td>
                        <input type="button" class="OW-logoinBtn" value="預設帳號登入" style="width:45%; background: linear-gradient(to bottom, #f00 0%,#f00 100%)" onclick="$('#loginTable').toggle();">
                        <input type="button" class="OW-logoinBtn" value="綁定帳號登入" style="width:45%; float:right; background: linear-gradient(to bottom, #f00 0%,#f00 100%)" onclick="bindAccountLogin17Life()">
                    </td>
                </tr>
            </table>*@

            <table border="0" cellspacing="0" cellpadding="0" class="OW-logoinTable"  id="loginTable" style="display:block">
                <tr>
                    <td class="OW-logoin">
                        <input name="UserName" type="text" id="UserName" placeholder="請輸入商家帳號或綁定帳號" onfocus="clearText(UserName);" autocomplete="off" style="font-size:15px;"/>
                    </td>
                </tr>
                <tr>
                    <td class="OW-logoin">
                        <input name="Password" type="password" id="Password" onfocus="clearText(Password);" autocomplete="off" onkeypress="submitenter(this,event)" style="display: none"/>
                        <input id="txtPassword" name="txtPassword" type="text" placeholder="登入密碼" style="font-size:15px;" />
                    </td>
                </tr>
                <tr>
                    <td height="30">
                        <input name="chkRememberUserName" id="chkRememberUserName" type="checkbox" value="" class="OW-logoinHook"/>
                        <div class="OW-logoinText">記住帳號</div>
                        <div id="divErrorMessage" class="OW-logoinWarningsT" style="display:none">帳號或密碼錯誤！</div>
                        
                    </td>
                </tr>
                <tr>
                    <td height="30" style="text-align:right">
                        <div id="ForgetPassword"><a href="ForgetPassword" style="color:blue;text-decoration: underline">忘記密碼?</a></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="OW-logoinBtn" onclick="btnLogin_Click()">登入</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </form>

</body>
</html>
