﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<div class="OWriteOff">
    <div class="OW-center">
        <div class="OW-W4_3">
            <table border="0" cellspacing="0" cellpadding="0" width="480">
                <tr>
                    <td width="90"><img src='@Url.Content("~/Themes/OWriteOff/OWriteOff-w4.jpg")' width="83" height="83" /></td>
                    <td class="OW-W4_3Text" valign="middle" align="left">您目前沒有可查詢的記錄。<br/>若有任何問題，請洽業務人員，謝謝。</td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Script{  
<script type="text/javascript">
	$().ready(function () {
		if ('@ViewBag.ParentActionName' !== null && '@ViewBag.ParentActionName' !== "") {
			ActionName = '@ViewBag.ParentActionName';
			showTab(ActionName);
		}
	});
</script>
}