﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商家系統個資條款</title>
    <link href='@Url.Content("~/Themes/OWriteOff/OWriteOff.css")' rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="OW-top OW-top-hig">
        <div class="ow-topCenter">
            <div class="ow-logo-big"></div>
        </div>
    </div>
    <div class="OWriteOff">

        <div class="OW-center OW-w1-IP">
            <h2>個人資料管理與保護及作業規範</h2>
            <p class="OW-w1-Law">
                <span class="num">一、</span>
                <span class="box">店家申請使用本系統服務，使消費者得透過本系統進行店家之預約/訂位。店家透過本系統取得之消費者個人資料（以下稱<br />「個資」），僅得使用於該消費者當次訂位之確認與連繫，不得擅自使用於其他用途。</span>
            </p>
            <p class="OW-w1-Law">
                <span style="num">二、</span>
                <span style="box">為執行個資保護之法定措施，店家同意於個資傳遞、蒐集、處理及利用時，遵守下列【個資管理與保護作業規範】：</span>
            </p>
            <ul>
                <li>應符合法令規定，盡善良管理人注意義務，用以維護個資當事人之權利。</li>
                <li>個資之範圍、類別、特定目的及其期間，應以17Life指定之範圍為準，且不得逾越17Life網站所公告之個資隱私權政策與告知事項。</li>
                <li>應遵照個人資料保護法、其施行細則及相關法令規定，建置其技術上及組織上之適當安全維護管理措施，防止個資被竊取、竄改、毀損、滅失、洩漏或發生其他違反法令情事。</li>

                <li>非經17Life事前書面同意，不得複委託第三人傳遞、蒐集、處理及利用個資。</li>

                <li>除法令另有規定外，應於本合作一部或全部終止時，或目的事務完成時，以書面或電子文件向17Life提出個資處理內容之報告。17Life若認有必要，亦應隨時配合提出報告。</li>

                <li>若發現17Life或其履行輔助人之指示有違反個人資料保護法或基於該法所發布命令規定之情事，應立即通知17Life。</li>

                <li>其本身或受僱人違反個人資料保護法規，或發生個資被竊取、竄改、毀損、滅失、洩漏或其他法定或約定事故，應即時向17Life報告，同時採行一切必要之補救措施，及配合17Life指示辦理。</li>

                <li>應配合17Life之要求進行個資執行狀況之確認作業，並將確認結果紀錄之。</li>

                <li>應為其處理個資之組織或人員實施個資教育訓練，並配合17Life要求提出該教育訓練之實施證明。</li>
                <li>17Life得保留其指示或變更指示，並得以網站公告、書面、電子文件或其他方式，更新、補充或修訂本規範，或提出個案要求，或隨時終止或解除合作事項之一部或全部，應配合辦理。</li>
                <li>本合作一部或全部終止或解除時，應將其向17Life取得之個資載體悉數返還，並將其儲存或持有之個資悉數刪除。惟17Life就處理方式另有指示者，依其指示辦理。</li>
                <li>若未遵守本規範及個資法令規定者，應負一切法律責任，並依法賠償17Life或利害關係人所受之損失。</li>
                <li>本規範未規定或17Life未指示者，均應依個人資料保護法及相關法令辦理。本規範若因法令實施或變更而發生抵觸者，優先適用法令之規定。</li>
                <li>
                    本規範自店家申請使用本系統服務之日起生效。就本規範之保存期間，應至少與本合作之個資保存期間一致。
                </li>
            </ul>
        @if (ViewBag.isShowConfirmButton)
        {
            <div class="OW-w1-IP-confirm-btn" onclick="window.location.href='@Url.Action("SetPerosnalInfoClauseAgreeDate")'">我了解，並同意以上個資條款。</div>
        }
        </div>
    </div>

</body>
</html>