﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商家系統個資提醒</title>
    <link href='@Url.Content("~/Themes/OWriteOff/OWriteOff.css")' rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="OW-top OW-top-hig">
        <div class="ow-topCenter">
            <div class="ow-logo-big"></div>
        </div>
    </div>
    <div class="OWriteOff">
        <div class="OW-center OW-w1-IP">
            <p>親愛的合作夥伴 您好：</p>
            <p>政府為加強對民眾個人資料的保護，已於中華民國101年10月1日起正式施行新版個人資料保護法。新版個人資料保護法不僅加強了個資保護管理規範，也大幅提高了違反個人資料保護法的罰則與賠償金額。為了遵循法令保護消費者的個人資料，請您在接觸、處理17Life消費者個人資料時，務必注意配合以下事項。</p>
            <img class="ip-img" src="https://www.17life.com/images/memberletter/comic.jpg" alt="">
            <ul>
                <li>您與17Life合作販售優惠商品，於商品結檔後您自17Life取得之消費者個人資料，如：姓名、連絡電話、地址等，以下稱「消費者個人資料」，僅可以用在配送該檔商品予購買的消費者，及為消費者處理該檔商品退換貨之用。</li>
                <li>除了上條所列之用途，您不可再擅自使用消費者個人資料於其他用途。如：不可以電話或簡訊、或寄送實體廣告傳單等方式，另外向消費者推銷其他商品。</li>
                <li>請您妥善保管消費者個人資料。若資料為紙本，請放置於有上鎖的抽屜或櫃子；若資料為電子檔案，請將檔案加設密碼。</li>
                <li>於商品出貨配送完畢，且經消保法規定之鑑賞期退貨處理完畢後，請您將消費者個人資料全數刪除、銷毀，不可留存任何複本或檔案。若為紙本資料，請務必確實銷毀（如：焚毀），切勿直接丟棄，以防消費者個人資料遭他人取走使用。</li>
                <li>請加強員工教育訓練，使您的員工都能確實了解本通告宣導事項及個人資料保護法相關規定。</li>
                <li>如發現有個資被竊取、竄改、毀損或洩漏等情形發生，請您立即於第一時間連繫17Life業務窗口，並配合17Life指示進行補救措施。</li>
                <li>新版個人資料保護法對於個人資料遭侵害的損害賠償金額為：單一事件單一受害人損害賠償為新台幣5百～2萬元；單一事件多數受害人損害賠償金額最高為新台幣2億元。<br />
                除了損害賠償，若是企業違反個資法，亦會被處以2萬～50萬元不等的行政罰鍰，企業負責人個人也一併處以相同行政罰鍰。若違反個資法而導致他人損害，還會有刑責。可處2年以下有期徒刑、拘役或併科20萬元以下罰金。若是意圖營利而犯法，則可處5年以下有期徒刑，得併科100萬元以下罰金。</li>
                <li>違反個人資料保護法需負擔高額的賠償、罰鍰甚至刑責，確實做好消費者個人資料保護，不僅是保障消費者，也同時是保障你我的權益唷。</li>
            </ul>
            <p>17Life 敬上</p>
        @if (ViewBag.isShowConfirmButton)
        {
            <div class="OW-w1-IP-confirm-btn" onclick="window.location.href='@Url.Action("PersonalDataRemind")'">我了解，並同意以上個資條款。</div>
        }
        </div>
    </div>

</body>
</html>

