﻿@using LunchKingSite.DataOrm;
@{
    //商家系統
    Layout = "~/Views/Shared/VbsLayout.cshtml";
    Seller seller = Model as Seller;
    Dictionary<Guid, string> sellers = ViewBag.VbsSellers as Dictionary<Guid, string>;
}
<script type="text/javascript" src="@Url.Content("~/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js")"></script>
<!-- 頁面標題(同menu中名稱) -->
<h5 class="breadcrumbs-title">基本資料</h5>

<div class="row">
    <div class="col xl12 l12 m12 s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                @*<span class="card-title">說明</span>*@
                <p>
                    如您需要更新的項目目前未開放更新，請您直接與17Life聯繫
                </p>
            </div>
        </div>
    </div>

    <div class="col xl12 l12 m12 s12">

        @if (sellers.Count > 1)
        {
            <div class="form-unit">
                <label class="unit-label star">
                    請選擇店家
                </label>
                <div class="data-input">
                    <select name="ddlSeller" onchange="changeSeller(this)">
                        @foreach (var s in sellers)
                        {
                            <option value="@s.Key">@s.Value</option>
                        }
                    </select>
                </div>
            </div>
        }
        else
        {
            <select name="ddlSeller" style="display:none">
                @foreach (var s in sellers)
                {
                    <option value="@s.Key">@s.Value</option>
                }
            </select>
        }

        <div class="form-unit">
            <label class="unit-label star">
                品牌/店家名稱
            </label>
            <div class="data-input">
                <input type="text" id="SellerName" name="SellerName" maxlength="50" placeholder="品牌/店家名稱" value="" style="width:500px" disabled>
                <span class="error_message">

                </span>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label star">
                統一編號/ID
            </label>
            <div class="data-input">
                <input type="text" id="CompanyID" name="CompanyID" maxlength="50" value="" disabled>
                <span class="error_message">

                </span>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label star">
                公司地址
            </label>
            <div class="data-input">
                <select id="CompanyCityId" style="width:100px" onchange="BindTownship(this);" class="edit">
                    <option value="-1">請選擇</option>
                    @foreach (City city in ViewBag.Citys)
                    {
                        <option value="@city.Id">@city.CityName</option>
                    }
                </select>
                <input type="hidden" id="hidTownshipId" value="" />
                <select id="ddlTownshipId" style="width:100px" onchange="SetTownshipId(this);" class="edit">
                    <option value="-1">請選擇</option>
                </select>
                <span id="hidLocationTownshipId" />
                <input type="text" id="SellerAddress" name="SellerAddress" maxlength="100" class="edit" style="width:400px" placeholder="公司地址" value="">
                <span class="error_message">

                </span>
            </div>
        </div>
        <div class="form-unit">
            <label class="unit-label star">
                負責人
            </label>
            <div class="data-input">
                <input type="text" id="CompanyBossName" name="CompanyBossName" maxlength="50" value="" disabled>
                <span class="error_message">

                </span>
            </div>
        </div>
        <div class="center-align">
            <a class="waves-effect waves-light btn btnSave" onclick="Save()">儲存</a>
        </div>
    </div>
</div>

@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")


<script>
    $(function () {
        LoadData($("select[name=ddlSeller]").val());
    });

    function BindTownship(obj) {
        $.ajax({
            type: "POST",
            url: "@(ViewBag.SiteUrl)/api/locationservice/GetTownships",
            data: "{'cid': '" + $(obj).val() + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var township = $('#ddlTownshipId');
                $(township).find('option').remove();
                $.each(response.Data, function (index, item) {
                    $(township).append($('<option></option>').attr('value', item.id).text(item.name));
                });
                $(township).val($('#hidTownshipId').val());
                SetTownshipId(township);

            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
    function SetTownshipId(obj) {
        $('#hidTownshipId').val($(obj).val());
    }
    function changeSeller(obj) {
        LoadData($(obj).val());
    }

    function LoadData(sellerGuid) {
        $.ajax({
            type: "POST",
            url: "GetSellerBasicInfo",
            data: "{'SellerGuid': '" + sellerGuid + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#SellerName").val(response.SellerName);
                $("#CompanyID").val(response.CompanyID);
                $("#hidTownshipId").val(response.TownshipId);
                $("#SellerAddress").val(response.SellerAddress);
                $("#CompanyBossName").val(response.CompanyBossName);
                $("#CompanyCityId").val(response.CompanyCityId);
                $("#update_message").val(response.ModifyTime + " " + response.ModifyId);

                $(".edit").removeAttr("disabled");
                $(".btnSave").show();

                if (response.IsCloseDown == true) {
                    $(".edit").attr("disabled", "disabled");
                    $(".btnSave").hide();
                }

                var city = $('#CompanyCityId');
                if ($(city).val() != '-1') {
                    BindTownship(city);
                }
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
    function Save() {
        var sellerGuid = $("select[name=ddlSeller]").val();
        var sellerName = $("#SellerName").val();
        var sellerAddress = $("#SellerAddress").val();
        var townshipId = $("#hidTownshipId").val();

        $.ajax({
            type: "POST",
            url: "SaveSellerBasicInfo",
            data: "{'SellerGuid': '" + sellerGuid + "','SellerName': '" + sellerName + "','TownshipId': '" + townshipId + "', 'SellerAddress':'" + sellerAddress + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.Success)
                    toast_message("基本資訊已更新");
                else
                    toast_message(response.Message);
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
</script>