﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Enumeration;
@{
    //商家系統
    Layout = "~/Views/Shared/VbsLayout.cshtml";
}

@{
    Dictionary<Guid, string> sellers = ViewBag.VbsSellers as Dictionary<Guid, string>;
    Dictionary<int, string> storeCloseDate = ViewBag.StoreCloseDate as Dictionary<int, string>;
}

<link href="@Url.Content("~/Themes/OWriteOff/plugin/tag-it/css/jquery.tagit.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Themes/OWriteOff/plugin/tag-it/js/tag-it.js")" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="@Url.Content("~/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js")"></script>
<script type="text/javascript" src="../../Tools/js/jquery.ui.datepicker-zh-TW.js"></script>

<!-- 頁面標題(同menu中名稱) -->
<h5 class="breadcrumbs-title">營業據點(實際店面)</h5>
<div class="row">
    <div class="col xl12 l12 m12 s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                @*<span class="card-title">說明</span>*@
                <p>
                    •商品頁中的店家資訊會依此頁的資訊曝光，以便消費者前往兌換<br />
                    •宅配商家不用填寫
                </p>
            </div>
        </div>
    </div>

    <div class="col xl12 l12 m12 s12">
        @if (sellers.Count > 1)
        {
            <div class="form-unit">
                <label class="unit-label star">
                    請選擇店家
                </label>
                <div class="data-input">
                    <select name="ddlSeller" onchange="changeSeller(this)">
                        @foreach (var s in sellers)
                        {
                            <option value="@s.Key">@s.Value</option>
                        }
                    </select>
                </div>
            </div>
        }
        else
        {
            <select name="ddlSeller" style="display:none">
                @foreach (var s in sellers)
                {
                    <option value="@s.Key">@s.Value</option>
                }
            </select>
        }
        <div class="form-unit">
            <label class="unit-label">
                <input type="checkbox" id="chkNoLocation" onclick="lockLocation(this)" />沒有營業據點
            </label>
            <div class="data-input">
                <p>

                </p>
            </div>
        </div>
        <div class="form-unit edit_panel">
            <label class="unit-label star">
                訂位電話
            </label>
            <div class="data-input">
                <input type="text" id="StoreTel" name="StoreTel" maxlength="100" style="width:68%;max-width:550px;margin-bottom:4px;" placeholder="" value="">
                <span class="error_message">

                </span>
            </div>
        </div>

        <div class="form-unit edit_panel">
            <label class="unit-label star">
                店址
            </label>
            <div class="data-input">
                <select style="width:100px" onchange="BindTownship(this);" id="LocationCity">
                    <option value="-1">請選擇</option>
                    @foreach (City city in ViewBag.Citys)
                    {
                        <option value="@city.Id">@city.CityName</option>
                    }
                </select>
                <input type="hidden" id="hidTownshipId" value="" />
                <select style="width:100px" id="ddlTownshipId"></select>
                <input type="text" id="StoreAddress" name="StoreAddress" maxlength="100" style="width:68%;max-width:550px;margin-bottom:4px;" placeholder="請填標準地址，不要加其他資訊" value="">
                <span class="error_message">

                </span>
            </div>
        </div>

        <div class="form-unit edit_panel">
            <label class="unit-label star">
                交通資訊
            </label>
            <div class="data-input">
                捷運
                <input type="text" id="Mrt" name="Mrt" maxlength="100" style="width:68%;max-width:550px;margin-bottom:4px;" placeholder="" value=""><p />
                開車
                <input type="text" id="Car" name="Car" maxlength="100" style="width:68%;max-width:550px;margin-bottom:4px;" placeholder="" value=""><p />
                公車
                <input type="text" id="Bus" name="Bus" maxlength="100" style="width:68%;max-width:550px;margin-bottom:4px;" placeholder="" value=""><p />
                其他
                <input type="text" id="OtherVehicles" name="OtherVehicles" maxlength="100" style="width:68%;max-width:550px;margin-bottom:4px;" placeholder="" value=""><p />

                <span class="error_message">

                </span>
            </div>
        </div>

        <div class="form-unit edit_panel">
            <label class="unit-label star">
                官網
            </label>
            <div class="data-input">
                官網
                <input type="text" id="WebUrl" name="WebUrl" maxlength="100" style="width:68%;max-width:550px;margin-bottom:4px;" placeholder="" value=""><p />
                Facebook
                <input type="text" id="FacebookUrl" name="FacebookUrl" maxlength="100" style="width:68%;max-width:550px;margin-bottom:4px;" placeholder="" value=""><p />
                部落格
                <input type="text" id="BlogUrl" name="BlogUrl" maxlength="100" style="width:68%;max-width:550px;margin-bottom:4px;" placeholder="" value=""><p />
                其他
                <input type="text" id="OtherUrl" name="OtherUrl" maxlength="100" style="width:68%;max-width:550px;margin-bottom:4px;" placeholder="" value=""><p />

                <span class="error_message">

                </span>
            </div>
        </div>

        <div class="form-unit edit_panel">
            <label class="unit-label star">
                營業時間
            </label>
            <div class="data-input">
                <label for="chk_24hr" class="radio_buttons">
                    <input name="chk_24hr" type="checkbox" id="chk_24hr" value="" />24小時無休
                </label>
                <label for="chk_WebInfo" class="radio_buttons">
                    <input name="chk_WebInfo" type="checkbox" id="chk_WebInfo" value="" />依網站公告
                </label>
                <br />
                <label for="chk_AllBusinessWeekly" class="radio_buttons">
                    <input name="chk_AllBusinessWeekly" type="checkbox" id="chk_AllBusinessWeekly" value="" onclick="chkAllBusinessWeekly(this)" />全選
                </label>
                <label for="chk_BusinessWeekly0" class="radio_buttons">
                    <input type="checkbox" id="chk_BusinessWeekly0" name="chk_BusinessWeekly" value="0">週一
                </label>
                <label for="chk_BusinessWeekly1" class="radio_buttons">
                    <input type="checkbox" id="chk_BusinessWeekly1" name="chk_BusinessWeekly" value="1">週二
                </label>
                <label for="chk_BusinessWeekly2" class="radio_buttons">
                    <input type="checkbox" id="chk_BusinessWeekly2" name="chk_BusinessWeekly" value="2">週三
                </label>
                <label for="chk_BusinessWeekly3" class="radio_buttons">
                    <input type="checkbox" id="chk_BusinessWeekly3" name="chk_BusinessWeekly" value="3">週四
                </label>
                <label for="chk_BusinessWeekly4" class="radio_buttons">
                    <input type="checkbox" id="chk_BusinessWeekly4" name="chk_BusinessWeekly" value="4">週五
                </label>
                <label for="chk_BusinessWeekly5" class="radio_buttons">
                    <input type="checkbox" id="chk_BusinessWeekly5" name="chk_BusinessWeekly" value="5">週六
                </label>
                <label for="chk_BusinessWeekly6" class="radio_buttons">
                    <input type="checkbox" id="chk_BusinessWeekly6" name="chk_BusinessWeekly" value="6">週日
                </label>
                <br />
                <select id="ddl_WeeklyBeginHour">
                    @for (int d = 0; d <= 24; d++)
                    {
                        <option value="@(d.ToString().PadLeft(2, '0'))">@(d.ToString().PadLeft(2, '0'))</option>
                    }
                </select>
                <select id="ddl_WeeklyBeginMinute">
                    @for (int d = 0; d <= 55; d += 5)
                    {
                        <option value="@(d.ToString().PadLeft(2, '0'))">@(d.ToString().PadLeft(2, '0'))</option>
                    }
                </select>~
                <select id="ddl_WeeklyEndHour">
                    @for (int d = 0; d <= 24; d++)
                    {
                        <option value="@(d.ToString().PadLeft(2, '0'))">@(d.ToString().PadLeft(2, '0'))</option>
                    }
                </select>
                <select id="ddl_WeeklyEndMinute">
                    @for (int d = 0; d <= 55; d += 5)
                    {
                        <option value="@(d.ToString().PadLeft(2, '0'))">@(d.ToString().PadLeft(2, '0'))</option>
                    }
                </select>
                <input type="button" class="btn secondary" value="新增" onclick="addBusinessHour();" />
                <p></p>
                <ul class="BusinessHourTags"></ul>

                <span class="error_message">

                </span>
            </div>
        </div>

        <div class="form-unit edit_panel">
            <label class="unit-label star">
                公休日
            </label>
            <div class="data-input">
                頻率
                <select id="ddlCloseDate" onchange="HideOrShowCloseSpan()">

                    @foreach (var data in storeCloseDate)
                    {
                        <option value="@data.Key">@data.Value</option>
                    }
                </select>
                <br />
                <span id="panCloseWeekly">
                    <label for="chk_close_AllBusinessWeekly" class="radio_buttons">
                        <input name="chk_close_AllBusinessWeekly" type="checkbox" id="chk_close_AllBusinessWeekly" value="" onclick="chkCloseAllBusinessWeekly(this)" />全選
                    </label>
                    <label for="chk_close_BusinessWeekly0" class="radio_buttons">
                        <input type="checkbox" id="chk_close_BusinessWeekly0" name="chk_close_BusinessWeekly" value="0">週一
                    </label>
                    <label for="chk_close_BusinessWeekly1" class="radio_buttons">
                        <input type="checkbox" id="chk_close_BusinessWeekly1" name="chk_close_BusinessWeekly" value="1">週二
                    </label>
                    <label for="chk_close_BusinessWeekly2" class="radio_buttons">
                        <input type="checkbox" id="chk_close_BusinessWeekly2" name="chk_close_BusinessWeekly" value="2">週三
                    </label>
                    <label for="chk_close_BusinessWeekly3" class="radio_buttons">
                        <input type="checkbox" id="chk_close_BusinessWeekly3" name="chk_close_BusinessWeekly" value="3">週四
                    </label>
                    <label for="chk_close_BusinessWeekly4" class="radio_buttons">
                        <input type="checkbox" id="chk_close_BusinessWeekly4" name="chk_close_BusinessWeekly" value="4">週五
                    </label>
                    <label for="chk_close_BusinessWeekly5" class="radio_buttons">
                        <input type="checkbox" id="chk_close_BusinessWeekly5" name="chk_close_BusinessWeekly" value="5">週六
                    </label>
                    <label for="chk_close_BusinessWeekly6" class="radio_buttons">
                        <input type="checkbox" id="chk_close_BusinessWeekly6" name="chk_close_BusinessWeekly" value="6">週日
                    </label><br />
                </span>
                <span id="panCloseMonthly">
                    日子：<input type="text" id="txtCloseMonthlyDay" name="txtCloseMonthlyDay" placeholder="填入特定日(只寫數字，以、號隔開，如 「1、15」)" style="width:300px" />日<br />
                </span>
                <span id="panCloseSpecial">
                    日期：<input type="text" id="txtCloseBeginDate" name="txtCloseBeginDate" style="width:100px" class="datepicker" />～<input type="text" id="txtCloseEndDate" name="txtCloseEndDate" style="width:100px" class="datepicker" /><br />
                </span>
                <span id="panCloseTime">
                    <select id="ddl_close_WeeklyBeginHour">
                        @for (int d = 0; d <= 24; d++)
                        {
                            <option value="@(d.ToString().PadLeft(2, '0'))">@(d.ToString().PadLeft(2, '0'))</option>
                        }
                    </select>
                    <select id="ddl_close_WeeklyBeginMinute">
                        @for (int d = 0; d <= 55; d += 5)
                        {
                            <option value="@(d.ToString().PadLeft(2, '0'))">@(d.ToString().PadLeft(2, '0'))</option>
                        }
                    </select>~
                    <select id="ddl_close_WeeklyEndHour">
                        @for (int d = 0; d <= 24; d++)
                        {
                            <option value="@(d.ToString().PadLeft(2, '0'))">@(d.ToString().PadLeft(2, '0'))</option>
                        }
                    </select>
                    <select id="ddl_close_WeeklyEndMinute">
                        @for (int d = 0; d <= 55; d += 5)
                        {
                            <option value="@(d.ToString().PadLeft(2, '0'))">@(d.ToString().PadLeft(2, '0'))</option>
                        }
                    </select>
                </span>
                <input type="button" class="btn secondary" value="新增" onclick="addCloseHour();" />

                <ul class="CloseHourTags"></ul>

                <span class="error_message">

                </span>
            </div>
        </div>


        <div class="col s12 center">
            <a class="waves-effect waves-light btn btnSave" onclick="doSave()">儲存</a>
        </div>
        <div class="btn fixed-float-btn z-depth-3 valign-wrapper center-align btnSave" id="Save" onclick="doSave()">
            <span class="">儲存</span>
        </div>


    </div>
</div>

@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")

<script type="text/javascript">
    jQuery.curCSS = function (element, prop, val) {
        return jQuery(element).css(prop, val);
    };
    var frequency = {
        weekly: 1,
        monthly: 2,
        special: 3,
        alldayround: 99
    }
    $(document).ready(function () {
        $(".BusinessHourTags").tagit({
            readOnly: true
        });
        $(".CloseHourTags").tagit({
            readOnly: true
        });

        $('.datepicker').datepicker();

        LoadData($("select[name=ddlSeller]").val());

        HideOrShowCloseSpan();
    });
    function lockLocation(obj) {
        if ($(obj).is(":checked")) {
            $(".edit_panel").find("input,select").attr("disabled", "disabled");
        } else {
            $(".edit_panel").find("input,select").removeAttr("disabled");
        }
    }
    function chkAllBusinessWeekly(obj) {
        if ($(obj).is(":checked")) {
            $("input[name='chk_BusinessWeekly']").prop("checked", true);
        } else {
            $("input[name='chk_BusinessWeekly']").prop("checked", false);
        }
    }
    function chkCloseAllBusinessWeekly(obj) {
        if ($(obj).is(":checked")) {
            $("input[name='chk_close_BusinessWeekly']").prop("checked", true);
        } else {
            $("input[name='chk_close_BusinessWeekly']").prop("checked", false);
        }
    }
    function isValidDate(dateStr) {
        if (dateStr == null || dateStr == '') return false;
        var parts = dateStr.split('/');
        if (parts.length != 3) return false;
        if (parts[0] > 9999 || parts[0] < 1753)
            return false;
        var accDate = new Date(dateStr);
        if (parseFloat(parts[0]) == accDate.getFullYear()
            && parseFloat(parts[1]) == accDate.getMonth() + 1
            && parseFloat(parts[2]) == accDate.getDate()) {
            return true;
        }
        else {
            return false;
        }
    }
    function addBusinessHour() {
        var chk_BusinessWeekly = $("input[name*=chk_BusinessWeekly]:checked");
        var ddl_WeeklyBeginHour = $("#ddl_WeeklyBeginHour").val();
        var ddl_WeeklyBeginMinute = $("#ddl_WeeklyBeginMinute").val();
        var ddl_WeeklyEndHour = $("#ddl_WeeklyEndHour").val();
        var ddl_WeeklyEndMinute = $("#ddl_WeeklyEndMinute").val();

        var chk_BusinessWeekly = $("input[name*=chk_BusinessWeekly]:checked");
        var weeklys = chk_BusinessWeekly.map(function () {
            return this.value;
        }).get().join();

        if (weeklys == "" && !$('#chk_24hr').is(':checked') && !$('#chk_WebInfo').is(':checked')) {
            toast_message("請先選擇一項");
            return false;
        } else {
            if (weeklys != "")
                getWeeklyContinue("", weeklys, ddl_WeeklyBeginHour + ":" + ddl_WeeklyBeginMinute, ddl_WeeklyEndHour + ":" + ddl_WeeklyEndMinute, false, $("ul.BusinessHourTags"));
            if ($('#chk_24hr').is(':checked'))
                addTagit("24小時無休", $("ul.BusinessHourTags"));
            if ($('#chk_WebInfo').is(':checked'))
                addTagit("依網站公告", $("ul.BusinessHourTags"));
        }
    }
    /*
        *營業時間
        */
    function getWeeklyContinue(ofrenquency, weeklys, beginTime, endTime, allDay, obj) {
        if (weeklys == "") {
            toast_message("請先選擇週幾");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "GetWeeklyName",
            data: "{'frenquency':'" + ofrenquency + "','weeklys':'" + weeklys + "','beginTime':'" + beginTime + "','endTime':'" + endTime + "','allDay': '" + allDay + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                addTagit(response, obj);
            }, error: function (error) {
                console.log(error);
            }
        });
    }
    function addTagit(txt, obj) {
        var allTags = obj.tagit('assignedTags');

        if ($.inArray(txt, allTags) == -1) {
            obj.tagit('createTag', txt);
        }
    }
    function addCloseHour() {
        var ddlCloseDate = $("#ddlCloseDate");  //頻率
        var ddlCloseDateText = $('#ddlCloseDate :selected').text();
        var chk_close_BusinessWeekly = $("input[name*=chk_close_BusinessWeekly]:checked");  //每周
        var txtCloseMonthlyDay = $("#txtCloseMonthlyDay");  //每月
        var txtCloseBeginDate = $("#txtCloseBeginDate");  //特殊
        var txtCloseEndDate = $("#txtCloseEndDate");  //特殊
        var chk_close_BusinessWeekly = $("input[name*=chk_close_BusinessWeekly]:checked");
        var ddl_close_WeeklyBeginHour = $("#ddl_close_WeeklyBeginHour").val();
        var ddl_close_WeeklyBeginMinute = $("#ddl_close_WeeklyBeginMinute").val();
        var ddl_close_WeeklyEndHour = $("#ddl_close_WeeklyEndHour").val();
        var ddl_close_WeeklyEndMinute = $("#ddl_close_WeeklyEndMinute").val();
        var chk_close_allday = $("#chk_close_allday").is(':checked');

        var _frequency = GetCloseFrequency();
        switch (_frequency) {
            case frequency.weekly:
                //週
                var weeklys = chk_close_BusinessWeekly.map(function () {
                    return this.value;
                }).get().join();

                getWeeklyContinue(ddlCloseDateText, weeklys, ddl_close_WeeklyBeginHour + ":" + ddl_close_WeeklyBeginMinute, ddl_close_WeeklyEndHour + ":" + ddl_close_WeeklyEndMinute, chk_close_allday, $("ul.CloseHourTags"));
                break;
            case frequency.monthly:
                //月
                var beginTime = ddl_close_WeeklyBeginHour + ":" + ddl_close_WeeklyBeginMinute;
                var endTime = ddl_close_WeeklyEndHour + ":" + ddl_close_WeeklyEndMinute;
                addTagit(ddlCloseDateText + " " + txtCloseMonthlyDay.val() + '日' + (chk_close_allday ? "全天" : beginTime + "~" + endTime), $('ul.CloseHourTags'));
                break;
            case frequency.special:
                //特殊
                var beginDate = txtCloseBeginDate.val();
                var endDate = txtCloseEndDate.val();
                var beginTime = ddl_close_WeeklyBeginHour + ":" + ddl_close_WeeklyBeginMinute;
                var endTime = ddl_close_WeeklyEndHour + ":" + ddl_close_WeeklyEndMinute;
                if ($.trim(beginDate) == "") {
                    toast_message("請輸入至少一個日期");
                    return false;
                }
                if ($.trim(beginDate) != "") {
                    if (!isValidDate($.trim(beginDate))) {
                        toast_message("起始日期格式不正確");
                        return false;
                    }
                }
                if ($.trim(endDate) != "") {
                    if (!isValidDate($.trim(endDate))) {
                        toast_message("結束日期格式不正確");
                        return false;
                    }
                }
                if (!CompareDate(beginDate, endDate)) {
                    toast_message("結束日期需晚於起始日期");
                    return false;
                }
                var paddingDatetime = "";
                if ($.trim(endDate) != "") {
                    paddingDatetime = beginDate + "~" + endDate;
                } else {
                    paddingDatetime = beginDate;
                }
                addTagit(paddingDatetime + " " + (chk_close_allday ? "全天" : beginTime + "~" + endTime), $('ul.CloseHourTags'));
                break;
            case frequency.alldayround:
                //全年無休
                addTagit("@(LunchKingSite.Core.Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, (LunchKingSite.Core.StoreCloseDate)LunchKingSite.Core.StoreCloseDate.AllYearRound))", $('ul.CloseHourTags'));
                break;
        }

        //$("#chk_close_AllBusinessWeekly").attr("checked", false);
        //$("input[name*=chk_close_BusinessWeekly]").attr('checked', false);
        //$("#ddlCloseDate").val("1");
        //$("#txtCloseMonthlyDay").val("");
        //$("#txtCloseBeginDate").val("");
        //$("#txtCloseEndDate").val("");
        //$("#ddl_close_WeeklyBeginHour").val("00");
        //$("#ddl_close_WeeklyBeginMinute").val("00");
        //$("#ddl_close_WeeklyEndHour").val("00");
        //$("#ddl_close_WeeklyEndMinute").val("00");
        //$("#chk_close_allday").removeAttr('checked');

        //HideOrShowCloseSpan();
    }
    /*
        * 公休日欄位顯示或隱藏
        */
    function HideOrShowCloseSpan() {
        var _weekly = false;
        var _monthly = false;
        var _special = false;
        var _time = false;

        var _frequency = GetCloseFrequency();
        switch (_frequency) {
            case frequency.weekly:
                _weekly = true;
                _monthly = false;
                _special = false;
                _time = true;
                break;
            case frequency.monthly:
                _weekly = false;
                _monthly = true;
                _special = false;
                _time = true;
                break;
            case frequency.special:
                _weekly = false;
                _monthly = false;
                _special = true;
                _time = true;
                break;
            case frequency.alldayround:
                _weekly = false;
                _monthly = false;
                _special = false;
                _time = false;
                break;
        }

        if (_weekly) {
            $("#panCloseWeekly").show();
        } else {
            $("#panCloseWeekly").hide();
        }
        if (_monthly) {
            $("#panCloseMonthly").show();
        } else {
            $("#panCloseMonthly").hide();
        }
        if (_special) {
            $("#panCloseSpecial").show();
        } else {
            $("#panCloseSpecial").hide();
        }
        if (_time) {
            $("#panCloseTime").show();
        } else {
            $("#panCloseTime").hide();
        }
    }

    function GetCloseFrequency() {
        var _frequency = "";
        switch ($("#ddlCloseDate").val()) {
            case "@((int)LunchKingSite.Core.StoreCloseDate.EveryWeekly)":
            case "@((int)LunchKingSite.Core.StoreCloseDate.SingleWeekly)":
            case "@((int)LunchKingSite.Core.StoreCloseDate.BiWeekly)":
            case "@((int)LunchKingSite.Core.StoreCloseDate.FirstWeekly)":
            case "@((int)LunchKingSite.Core.StoreCloseDate.SecondWeekly)":
            case "@((int)LunchKingSite.Core.StoreCloseDate.ThirdWeekly)":
            case "@((int)LunchKingSite.Core.StoreCloseDate.ForthWeekly)":
            case "@((int)LunchKingSite.Core.StoreCloseDate.FifthWeekly)":
                _frequency = frequency.weekly;
                break;
            case "@((int)LunchKingSite.Core.StoreCloseDate.EveryMonthly)":
            case "@((int)LunchKingSite.Core.StoreCloseDate.SingleMonthly)":
            case "@((int)LunchKingSite.Core.StoreCloseDate.BiMonthly)":
                _frequency = frequency.monthly;
                break;
            case "@((int)LunchKingSite.Core.StoreCloseDate.SpecialDate)":
                _frequency = frequency.special;
                break;
            case "@((int)LunchKingSite.Core.StoreCloseDate.AllYearRound)":
                _frequency = frequency.alldayround;
                break;
        }
        return _frequency;
    }


    function BindTownship(obj) {
        $.ajax({
            type: "POST",
            url: "@(ViewBag.SiteUrl)/api/locationservice/GetTownships",
            data: "{'cid': '" + $(obj).val() + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var township = $('#ddlTownshipId');
                $(township).find('option').remove();
                $.each(response.Data, function (index, item) {
                    $(township).append($('<option></option>').attr('value', item.id).text(item.name));
                });
                $(township).val($('#hidTownshipId').val());
                SetTownshipId(township);

            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
    function SetTownshipId(obj) {
        $('#hidTownshipId').val($(obj).val());
    }
    function changeSeller(obj) {
        LoadData($(obj).val());
    }
    function LoadData(sellerGuid) {
        $.ajax({
            type: "POST",
            url: "GetSellerLocation",
            data: "{'sid': '" + sellerGuid + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.LockLocation) {
                    $("#chkNoLocation").prop("checked", true);
                    $("#chkNoLocation").attr("disabled", "disabled");
                    $(".btnSave").hide();
                } else {
                    $(".btnSave").show();
                    $("#chkNoLocation").prop("checked", response.NoLocation);
                    $("#StoreTel").val(response.StoreTel);
                    $("#LocationCity").val(response.LocationCity);
                    $('#hidTownshipId').val(response.LocationTownshipId);
                    $("#StoreAddress").val(response.StoreAddress);

                    $("#Mrt").val(response.Mrt);
                    $("#Car").val(response.Car);
                    $("#Bus").val(response.Bus);
                    $("#OtherVehicles").val(response.OtherVehicles);

                    $("#WebUrl").val(response.WebUrl);
                    $("#FacebookUrl").val(response.FacebookUrl);
                    $("#BlogUrl").val(response.BlogUrl);
                    $("#OtherUrl").val(response.OtherUrl);

                    $('ul.BusinessHourTags').tagit('removeAll');
                    $('ul.CloseHourTags').tagit('removeAll');

                    if (response.OpenTime != null) {
                        var openTime = response.OpenTime.split("；");
                        $.each(openTime, function (idx, obj) {
                            addTagit(obj, $("ul.BusinessHourTags"));
                        });
                    }

                    if (response.CloseDate != null) {
                        var closeDate = response.CloseDate.split("；");
                        $.each(closeDate, function (idx, obj) {
                            addTagit(obj, $("ul.CloseHourTags"));
                        });
                    }

                    var city = $('#LocationCity');
                    if ($(city).val() != '-1') {
                        BindTownship(city);
                    }
                }
                lockLocation($("#chkNoLocation"));
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
    function doSave() {
        $('#bpopup-step_alert').find('.alert_message').html('請再次確定是否要更新目前的營業據點資訊？<br/>注意！當您確定更新後，系統將寄發通知給17Life的業務窗口，以及17Life客服中心，當有必要時，我方將會主動與您或消費者聯繫。');
        $('#bpopup-step_alert').bPopup({
                        modalClose: false,
                        onOpen: function () {
                            $('.bpopup-step_alert-confirm').unbind();
                            $('.bpopup-step_alert-confirm').click(function () {
                                $("#bpopup-toast").find('.toast_message').text("資料處理中...");
                                var bpopup_loading = $('#bpopup-toast').bPopup({
                                    speed: 750,//toast漸入漸出的動畫秒數
                                    opacity: 0,//toast的背景為全透明
                                });
                                SaveData();
                                bpopup_loading.close();
                            });
                        },

                    });
    }
    function SaveData() {
        var sellerGuid = $("select[name=ddlSeller]").val();
        var chkNoLocation = $("#chkNoLocation").is(":checked");
        var storeTel = $("#StoreTel").val();
        var storeTownshipId = $("#hidTownshipId").val();
        var storeAddress = $("#StoreAddress").val();
        var mrt = $("#Mrt").val();
        var car = $("#Car").val();
        var bus = $("#Bus").val();
        var otherVehicles = $("#OtherVehicles").val();
        var webUrl = $("#WebUrl").val();
        var facebookUrl = $("#FacebookUrl").val();
        var blogUrl = $("#BlogUrl").val();
        var otherUrl = $("#OtherUrl").val();
        var openTime = $('ul.BusinessHourTags').tagit('assignedTags');
        var closeTime = $('ul.CloseHourTags').tagit('assignedTags');

        var _openTime = "";
        if (openTime.length > 0) {
            $.each(openTime, function (idx, value) {
                _openTime += value + "；";
            });
        }
        var _closeTime = "";
        if (closeTime != "") {
            $.each(closeTime, function (idx, value) {
                _closeTime += value + "；";
            });
        }

        $.ajax({
            type: "POST",
            url: "SaveSellerLocation",
            data: "{'SellerGuid': '" + sellerGuid +
            "','NoLocation': '" + chkNoLocation +
            "','StoreTel': '" + storeTel +
            "','StoreTownshipId': '" + storeTownshipId +
            "','StoreAddress': '" + storeAddress +
            "', 'Mrt':'" + mrt +
            "', 'Car':'" + car +
            "', 'Bus':'" + bus +
            "', 'OtherVehicles':'" + otherVehicles +
            "', 'WebUrl':'" + webUrl +
            "', 'FacebookUrl':'" + facebookUrl +
            "', 'BlogUrl':'" + blogUrl +
            "', 'OtherUrl':'" + otherUrl +
            "', 'OpenTime':'" + _openTime +
            "', 'CloseTime':'" + _closeTime +
            "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.Success)
                {
                    toast_message("基本資訊已更新");
                    LoadData(sellerGuid);
                }
                else
                {
                    toast_message(response.Message);
                }
                
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
</script>