﻿@using LunchKingSite.DataOrm;
@{
    //商家系統
    Layout = "~/Views/Shared/VbsLayout.cshtml";
}

@{
    Dictionary<int, string> contactList = ViewBag.ContactList;
    Dictionary<Guid, string> sellers = ViewBag.VbsSellers as Dictionary<Guid, string>;
}

<script type="text/javascript" src="@Url.Content("~/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js")"></script>

<!-- 頁面標題(同menu中名稱) -->
<h5 class="breadcrumbs-title">聯絡人資料</h5>


<div class="row">
    <div class="col xl12 l12 m12 s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                @*<span class="card-title">說明</span>*@
                <p>
                    • 一般(頁確)聯絡人：業務洽談窗口；頁面或商品、合作事項若有問題的聯繫窗口。一個聯絡人限填一個Email，若同一聯絡人有多個Email，請分開建立。<br />
                    • 退換貨聯絡人：若有退換貨問題時，可以聯繫、協辦的窗口。宅配商家至少一個。一個聯絡人限填一個Email，若同一聯絡人有多個Email，請分開建立。<br />
                    • 帳務聯絡人：若有帳務問題時，可以聯繫、協辦的窗口。一個商家限一個聯絡人
                </p>
            </div>
        </div>
    </div>

    <div class="col s12">
  
            @if (sellers.Count > 1)
            {
                <div class="form-unit">
                    <label class="unit-label star">
                        請選擇店家
                    </label>
                    <div class="data-input">
                        <select name="ddlSeller" onchange="changeSeller(this)">
                            @foreach (var s in sellers)
                            {
                                <option value="@s.Key">@s.Value</option>
                            }
                        </select><input type="button" style="float:right" class="btn secondary" value="新增聯絡人" onclick="AddRow()" />
                    </div>
                </div>
            }
            else
            {
                <select name="ddlSeller" style="display:none">
                    @foreach (var s in sellers)
                    {
                        <option value="@s.Key">@s.Value</option>
                    }
                </select>
                <input type="button" style="float:right" class="btn secondary" value="新增聯絡人" onclick="AddRow()" />
            }



            <table id="mainContact" class="center-align">
                <thead>
                    <tr><td>聯絡人類別</td><td>姓名</td><td>聯絡電話</td><td>行動電話</td><td>傳真</td><td>Email</td><td>功能</td></tr>
                </thead>
                <tbody></tbody>
            </table>
            <div style="text-align:center;margin-top:10px">
                <input type="button" class="btn" value="更新" onclick="Save()" />
            </div>
    
    </div>
</div>


<table class="main_templete" style="display:none">
    <tr>
        <td>
            <select class="contact_type edit" name="ContactType" onchange="checkRow(this)">
                @foreach (var contact in contactList)
                {
                    <option value="@(contact.Key)">@(contact.Value)</option>
                }
            </select>
            <select class="contact_type view" disabled>
                @foreach (var contact in contactList)
                {
                    <option value="@(contact.Key)">@(contact.Value)</option>
                }
            </select>
        </td>
        <td>
            <input class="contact_name edit" value="" maxlength="20" size="10" name="ContactName" />
            <input class="contact_name view" value="" maxlength="20" size="10" disabled />
        </td>
        <td>
            <input class="contact_tel edit" value="" maxlength="20" size="20" name="ContactTel" />
            <input class="contact_tel view" value="" maxlength="20" size="20" disabled />
        </td>
        <td>
            <input class="contact_mobile edit" value="" maxlength="20" size="10" name="ContactMobile" />
            <input class="contact_mobile view" value="" maxlength="20" size="10" disabled />
        </td>
        <td>
            <input class="contact_fax edit" value="" maxlength="100" size="10" name="ContactFax" />
            <input class="contact_fax view" value="" maxlength="100" size="10" disabled />
        </td>
        <td>
            <input class="contact_email edit" value="" maxlength="100" size="30" name="ContactEmail" />
            <input class="contact_email view" value="" maxlength="100" size="30" disabled />
        </td>
        <td>
            <a style="cursor:pointer" onclick="EditRow(this)" class="view"><i class="material-icons">edit</i></a>
            <a style="cursor:pointer" onclick="DeleteRow(this)" class="view"><i class="material-icons">delete_forever</i></a>
            <a style="cursor:pointer" onclick="RedoRow(this)" class="edit"><i class="material-icons">replay</i></a>
            <a style="cursor:pointer" onclick="CompleteRow(this)" class="edit"><i class="material-icons">save</i></a>
        </td>
    </tr>
</table>

@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")

<script>
    var addCnt = 0;
    $(function () {
        LoadData($("select[name=ddlSeller]").val());
    });
    function changeSeller(obj) {
        LoadData($(obj).val());
    }
    function LoadData(sid) {
        $("#mainContact tbody").remove();;
        //var _table = $("#main");
        //_table.find("tbody tr").empty();
        $.ajax({
            type: "POST",
            url: "GetSellerContact",
            data: "{'sid': '" + sid + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                if (response != null)
                {
                    $.each(response, function (idx, obj) {
                        var main_templete = $(".main_templete").children().clone();
                        main_templete.find(".contact_type").val(obj.Type);
                        main_templete.find(".contact_name").val(obj.ContactPersonName);
                        main_templete.find(".contact_tel").val(obj.SellerTel);
                        main_templete.find(".contact_mobile").val(obj.SellerMobile);
                        main_templete.find(".contact_fax").val(obj.SellerFax);
                        main_templete.find(".contact_email").val(obj.ContactPersonEmail);
                        //_table.append(main_templete);
                        $("#mainContact").append(main_templete);
                    });
                }
                

                $(".edit").hide();
                $(".view").show();
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
    function checkRow(obj) {
        var tr = $(obj).closest("tr");
        if ($(obj).val() == "90") {
            //財務聯絡人，不需填寫手機號碼及傳真
            tr.find("input[name='ContactMobile']").val('');
            tr.find("input[name='ContactFax']").val('');
            tr.find("input[name='ContactMobile']").attr("disabled", true);
            tr.find("input[name='ContactFax']").attr("disabled", true);
        } else {
            tr.find("input[name='ContactMobile']").removeAttr("disabled");
            tr.find("input[name='ContactFax']").removeAttr("disabled");
        }
    }
    function AddRow() {
        addCnt += 1;
        if (addCnt >= 5) {
            return false;
        }
        var main_templete = $(".main_templete").children().clone();
        main_templete.find(".edit").show();
        main_templete.find(".view").hide();
        $("#mainContact").append(main_templete);
    }
    function EditRow(obj) {
        var tr = $(obj).closest("tr");
        tr.find(".edit").show();
        tr.find(".view").hide();
    }
    function CompleteRow(obj) {
        var tr = $(obj).closest("tr");

        tr.find(".contact_type.view").val(tr.find(".contact_type.edit").val());
        tr.find(".contact_name.view").val(tr.find(".contact_name.edit").val());
        tr.find(".contact_tel.view").val(tr.find(".contact_tel.edit").val());
        tr.find(".contact_mobile.view").val(tr.find(".contact_mobile.edit").val());
        tr.find(".contact_fax.view").val(tr.find(".contact_fax.edit").val());
        tr.find(".contact_email.view").val(tr.find(".contact_email.edit").val());


        tr.find(".edit").hide();
        tr.find(".view").show();
    }
    function RedoRow(obj) {
        $('#bpopup-step_alert').find('.alert_message').html('確定不要儲存?');
        $('#bpopup-step_alert').bPopup({
            modalClose: false,
            onOpen: function () {
                $('.bpopup-step_alert-confirm').unbind();
                $('.bpopup-step_alert-confirm').click(function () {

                    var tr = $(obj).closest("tr");

                    tr.find(".contact_type.edit").val(tr.find(".contact_type.view").val());
                    tr.find(".contact_name.edit").val(tr.find(".contact_name.view").val());
                    tr.find(".contact_tel.edit").val(tr.find(".contact_tel.view").val());
                    tr.find(".contact_mobile.edit").val(tr.find(".contact_mobile.view").val());
                    tr.find(".contact_fax.edit").val(tr.find(".contact_fax.view").val());
                    tr.find(".contact_email.edit").val(tr.find(".contact_email.view").val());

                    tr.find(".edit").hide();
                    tr.find(".view").show();
                });
            },
        });

    }
    function DeleteRow(obj) {
        $('#bpopup-step_alert').find('.alert_message').html('請確定此筆聯絡人要執行刪除？<br/>注意！刪除的資料無法進行回復');
        $('#bpopup-step_alert').bPopup({
            modalClose: false,
            onOpen: function () {
                $('.bpopup-step_alert-confirm').unbind();
                $('.bpopup-step_alert-confirm').click(function () {

                    var trs = $("#mainContact tbody tr");
                    if (trs.length >= 2) {
                        $(obj).closest("tr").remove();
                    } else {
                        toast_message("至少保留一筆資料!");
                    }
                });
            },
        });
    }
    //$("form#mainForm").submit(function (e) {

    //    var formData = new FormData(this);

    //    $.ajax({
    //        url: "SaveSellerContact",
    //        type: 'POST',
    //        data: formData,
    //        async: false,
    //        success: function (data) {
    //            if (data.Success) {
    //                $("#bpopup-toast").find('.toast_message').text("基本資訊已更新");
    //                $('#bpopup-toast').bPopup({
    //                    autoClose: 1000,//toast的維持時間
    //                    speed: 750,//toast漸入漸出的動畫秒數
    //                    opacity: 0,//toast的背景為全透明
    //                    modalClose: true,//toast浮現期間，點擊背景可直接取消
    //                    onClose: function () {
    //                        location.reload();
    //                    },
    //                });
    //                //toast_message("基本資訊已更新");
    //                //LoadData($("select[name=ddlSeller]").val());
    //                //location.reload();
    //            } else {
    //                error_message("基本資訊更新失敗" + data.Message);
    //            }
    //        },
    //        cache: false,
    //        contentType: false,
    //        processData: false
    //    });

    //    e.preventDefault();
    //    $("form#mainForm").unbind();
    //});


    function Save() {
        var isError = true;
        var message = "";
        var trs = $("#mainContact tbody tr");
        var contracts = [];
        $.each(trs, function (idx, obj) {
            var contactType = $(obj).find("select[name=ContactType]").val();
            var contactName = $(obj).find("input[name=ContactName]").val();
            var contactTel = $(obj).find("input[name=ContactTel]").val();
            var contactMobile = $(obj).find("input[name=ContactMobile]").val();
            var contactFax = $(obj).find("input[name=ContactFax]").val();
            var contactEmail = $(obj).find("input[name=ContactEmail]").val();

            if ($.trim(contactName) == "") {
                message = ("姓名不可為空值");
                isError = false;
                return false;
            }
            if (contactName.indexOf(",") >= 0) {
                message = ("姓名不可有逗號");
                isError = false;
                return false;
            }
            if ($.trim(contactTel) == "") {
                message = ("聯絡電話不可為空值");
                isError = false;
                return false;
            }
            if (contactTel.indexOf(",") >= 0) {
                message = ("聯絡電話不可有逗號");
                isError = false;
                return false;
            }
            if (contactType != "90") {
                if ($.trim(contactMobile) == "") {
                    message = ("行動電話不可為空值");
                    isError = false;
                    return false;
                }
            }
            if (contactMobile.indexOf(",") >= 0) {
                message = ("行動電話不可有逗號");
                isError = false;
                return false;
            }
            if ($.trim(contactEmail) == "") {
                message= ("Email不可為空值");
                isError = false;
                return false;
            }
            if (contactEmail.indexOf(",") >= 0) {
                message = ("Email不可有逗號");
                isError = false;
                return false;
            }
            if (contactFax.indexOf(",") >= 0) {
                message = ("傳真不可有逗號");
                isError = false;
                return false;
            }

            var data = {
                Type: contactType,
                ContactPersonName: contactName,
                SellerTel: contactTel,
                SellerMobile: contactMobile,
                SellerFax: contactFax,
                ContactPersonEmail: contactEmail,
                Others: $("select[name=ddlSeller]").val()
            };

            contracts.push(data);
        });
        if (isError == true) {
            $.ajax({
                url: "SaveSellerContact",
                type: 'POST',
                data: JSON.stringify(contracts),
                async: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        toast_message("基本資訊已更新");
                        //LoadData($("select[name=ddlSeller]").val());
                        //location.reload();
                    } else {
                        error_message("基本資訊更新失敗：" + data.Message);
                    }
                },
            });
        } else {
            toast_message(message);
        }
    }
</script>