﻿@using LunchKingSite.DataOrm;
@{
    //商家系統
    Layout = "~/Views/Shared/VbsLayout.cshtml";
    Seller seller = Model as Seller;
    Dictionary<Guid, string> sellers = ViewBag.VbsSellers as Dictionary<Guid, string>;
}

<h5 class="breadcrumbs-title">異動紀錄</h5>

<div class="row">
    <div class="col xl12 l12 m12 s12">
        @if (sellers.Count > 1)
        {
            <div class="form-unit">
                <label class="unit-label star">
                    請選擇店家
                </label>
                <div class="data-input">
                    <select name="ddlSeller" onchange="changeSeller(this)">
                        @foreach (var s in sellers)
                        {
                            <option value="@s.Key">@s.Value</option>
                        }
                    </select>
                </div>
            </div>
        }
        else
        {
            <select name="ddlSeller" style="display:none">
                @foreach (var s in sellers)
                {
                    <option value="@s.Key">@s.Value</option>
                }
            </select>
        }



        <div class="form-unit">

            <div class="data-input">
                <p class="tabLogs">

                </p><div class="center-align paging_block">
                    <i class="btn disabled arrow tertiary waves-effect fa fa-angle-double-left waves-input-wrapper fist_page" onclick="log_first_page()"><input title="第一頁" type="button" class="waves-button-input" value=""></i>
                    <i class="btn disabled arrow tertiary waves-effect fa fa-angle-left waves-input-wrapper prev_page" onclick="log_prev_page()"><input title="上一頁" type="button" class="waves-button-input" value=""></i>

                    <select id="logPages" onchange="log_page_change()"></select>
                    <span>/<span id="logTotalPage">0</span></span>
                    <span>(<span id="logTotalCount">0</span>筆資料)</span>

                    <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-right waves-input-wrapper next_page" onclick="log_next_page()"><input title="下一頁" type="button" class="waves-button-input" value=""></i>
                    <i class="btn btn-default arrow tertiary waves-effect fa fa-angle-double-right waves-input-wrapper last_page" onclick="log_last_page()"><input title="最後頁" type="button" class="waves-button-input" value=""></i>
                </div>
                <p></p>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        loadLogs();
    });

    function changeSeller() {
        loadLogs();
    }
    function loadLogs() {
        var logPages = $("#logPages");
        var currPage = logPages.val();
        var pageStart = logPages.val();
        if (pageStart == null) {
            pageStart = 1;
        }
        var pageLength = 10;
        logPages.empty();
        $.post("GetSellerChangeLogs", { pageStart: pageStart, pageLength: pageLength, sid: $("select[name=ddlSeller]").val() }, function (result) {
            $('.tabLogs').empty();
            var _html = "";
            $.each(result.Data, function (idx, obj) {
                _html += '<table><thead><tr><td width="40%">留言者:' + obj.CreateId + '</td><td width="30%">' + obj.CreateTime + '</td></tr></thead><tr><td colspan="3">' + obj.ChangeLog.replace(/\|/g, "<br />") + '</td></tr ></table >';
                //_html += "<tr><td>" + obj.CreateId + "</td><td>" + obj.ChangeLog + "</td><td>" + obj.CreateTime + "</td><td>" + (obj.Dept == null ? "" : obj.Dept) + "</td></tr>";
            });

            $('.tabLogs').append(_html);

            $("#logTotalCount").html(result.TotalCount);
            $("#logTotalPage").html(result.TotalPage);
            for (var i = 1; i <= result.TotalPage; i++) {
                if (currPage == i) {
                    logPages.append("<option value='" + i + "' selected>" + i + "</option>");
                } else {
                    logPages.append("<option value='" + i + "'>" + i + "</option>");
                }
            }

            enabledPage(result.CurrentPage, result.TotalPage, $(logPages).closest(".paging_block"));
        }).error(function (xhr) {
            console.log(xhr);
        });
    }
    function log_page_change() {
        //$("#logPages").val("1");
        loadLogs();
    }
    function log_first_page() {
        $("#logPages").val("1");
        loadLogs();
    }
    function log_prev_page() {
        var cp = $("#logPages").val();
        $("#logPages").val(parseInt(cp) - 1);
        loadLogs();
    }
    function log_next_page() {
        var cp = $("#logPages").val();
        $("#logPages").val(parseInt(cp) + 1);
        loadLogs();
    }
    function log_last_page() {
        var tp = $('#logPages option:last-child').val();
        $("#logPages").val(tp);
        loadLogs();
    }
    /*
        * cp = 目前頁數
        * tp = 總頁數
        */
    function enabledPage(cp, tp, obj) {
        var fist_page = $(obj).find(".fist_page");
        var prev_page = $(obj).find(".prev_page");
        var next_page = $(obj).find(".next_page");
        var last_page = $(obj).find(".last_page");

        if (tp == undefined) {
            fist_page.addClass("disabled");
            prev_page.addClass("disabled");
            next_page.addClass("disabled");
            last_page.addClass("disabled");
            return false;
        }
        if (parseInt(tp) == 1) {
            //只有一頁
            fist_page.addClass("disabled");
            prev_page.addClass("disabled");
            next_page.addClass("disabled");
            last_page.addClass("disabled");
        } else {
            if (parseInt(cp) == parseInt(tp)) {
                //最後一頁
                fist_page.removeClass("disabled");
                prev_page.removeClass("disabled");
                next_page.addClass("disabled");
                last_page.addClass("disabled");
            } else if (parseInt(cp) == 1) {
                //第一頁
                fist_page.addClass("disabled");
                prev_page.addClass("disabled");
                next_page.removeClass("disabled");
                last_page.removeClass("disabled");
            } else if (parseInt(cp) < parseInt(tp)) {
                //第一頁
                fist_page.removeClass("disabled");
                prev_page.removeClass("disabled");
                next_page.removeClass("disabled");
                last_page.removeClass("disabled");
            }
        }
    }
</script>