﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Enumeration;
@{
    //商家系統
    Layout = "~/Views/Shared/VbsLayout.cshtml";
}
@{
    Seller seller = Model as Seller;
}
<script type="text/javascript" src="@Url.Content("~/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js")"></script>

<!-- 頁面標題(同menu中名稱) -->
<h5 class="breadcrumbs-title">綁定帳號</h5>

<div class="row">
    <div class="col xl12 l12 m12 s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                @*<span class="card-title">說明</span>*@
                <p>
                    • 利用17Life的會員帳號綁定，即可利用好記的帳號密碼進入
                </p>
            </div>
        </div>
    </div>
    <div class="col xl6 l12 m12 s12">

        @*<div class="form-unit">
            <label class="unit-label">
                目前綁定帳號資訊
            </label>
            <div class="data-input">
                <span>無</span>
            </div>
        </div>*@
        <div class="form-unit">
            <label class="unit-label">
                綁定帳號
            </label>
            <div class="data-input">
                <input type="text" id="bindAccount" value="@(ViewBag.BindAccount)" placeholder="輸入註冊過完成的17Life帳號或認證過手機" onfocus="this.value=''" style="width:400px" @((string.IsNullOrEmpty(ViewBag.BindAccount)) ? "" : "disabled") />
            </div>
        </div>
        <div style="text-align:center">
            @if (string.IsNullOrEmpty(ViewBag.BindAccount))
            {
                <input type="button" class="btn " value="綁定" onclick="bindAccountClick(true); "/>
            }
            else
            {
                <input type="button" class="btn " value="解除綁定" onclick="unbindAccountClick(true); " />
            }
            
        </div>
    </div>
</div>

@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")

<div id="bpopup-step_alert_2" class="card-panel bpopup-modal bpopup-modal-alert">
    <div class="row">
        <div class="col s12 bpopup-modal-title alert_message">
            <!-- 這裡預備要載入Alert的文字內容，以程式來帶入 -->
        </div>
        <div class="col s12 center-align bpopup-modal-footer">
            <a class="waves-effect waves-light btn b-close secondary bpopup-step_alert-cancel">註冊會員</a>
            <a class="waves-effect waves-light btn b-close bpopup-step_alert-confirm">重新輸入</a>
        </div>
    </div>
</div>

<script>
        $().ready(function () {

        });

        function unbindAccountClick() {
            if ('@ViewBag.LoginBy17LifeSimulate' == 'True') {
                error_message('模擬身分不允許執行此功能');
                return false;
            }
            if ('@ViewBag.IsLoginBy17LifeMember' == 'True') {
                $('#bpopup-step_alert').find('.alert_message').html('注意! 您目前使用的登入帳號是要進行解除的帳號！請確認是否無誤。一旦成功解除後，系統會將您自動登出。');
                $('#bpopup-step_alert').bPopup({
                        modalClose: false,
                        onOpen: function () {
                            $('.bpopup-step_alert-confirm').unbind();
                            $('.bpopup-step_alert-confirm').click(function () {
                                bindAccountClick(false);
                            });
                        },

                });
            } else {
                bindAccountClick(false);
            }
        }

        function bindAccountClick(isBindValue) {
            if ('@ViewBag.LoginBy17LifeSimulate' == 'True') {
                error_message('模擬身分不允許執行此功能');
                return false;
            }
            if ($.trim($("#bindAccount").val()) == "") {
                error_message("請輸入您要綁定的帳號");

                return false;
            }
            $('#isBind').val(isBindValue);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("BindAccount")',
                data: { bindAccount: $("#bindAccount").val(), isBind: isBindValue },
                dataType: 'json',
                success: function (data) {
                    if (data.IsSuccess) {
                        if (isBindValue)//綁定成功
                        {
                            $('#bpopup-step_alert').find('.alert_message').html('綁定成功！重新登出後，您可以用原始的商家帳號與變更後密碼，或綁定的17Life會員帳密進入商家系統囉。');
                            $('.bpopup-step_alert-confirm').text("重新登入");
                            $('#bpopup-step_alert').bPopup({
                                modalClose: false,
                                onOpen: function () {
                                    $('.bpopup-step_alert-confirm').unbind();
                                    $('.bpopup-step_alert-confirm').click(function () {
                                        window.location.href = '@Url.Action("Logout")';
                                    });
                                    $('.bpopup-step_alert-cancel').unbind();
                                    $('.bpopup-step_alert-cancel').click(function () {
                                        window.location.reload();
                                    });
                                },

                            });
                        } else {//解除綁定成功
                            if ('@ViewBag.IsLoginBy17LifeMember' == 'True') {
                                $('#bpopup-step_alert').find('.alert_message').html('解除綁定成功！系統會將您登出，請您以其他的帳密重新登入');
                                $('.bpopup-step_alert-confirm').text("重新登入");
                                $('#bpopup-step_alert').bPopup({
                                    modalClose: false,
                                    onOpen: function () {
                                        $('.bpopup-step_alert-confirm').unbind();
                                        $('.bpopup-step_alert-confirm').click(function () {
                                            window.location.href = '@Url.Action("Logout")';
                                        });
                                        $('.bpopup-step_alert-cancel').unbind();
                                        $('.bpopup-step_alert-cancel').click(function () {
                                            window.location.reload();
                                        });
                                    },
                                });

                            } else {
                                $('#bpopup-step_alert').find('.alert_message').html('解除綁定成功！系統會將您登出，請您以其他的帳密重新登入');
                                $('.bpopup-step_alert-confirm').text("重新登入");
                                $('#bpopup-step_alert').bPopup({
                                    modalClose: false,
                                    onOpen: function () {
                                        $('.bpopup-step_alert-confirm').unbind();
                                        $('.bpopup-step_alert-confirm').click(function () {
                                            window.location.href = '@Url.Action("Logout")';
                                        });
                                        $('.bpopup-step_alert-cancel').unbind();
                                        $('.bpopup-step_alert-cancel').click(function () {
                                            window.location.reload();
                                        });
                                    },
                                });
                            }
                        }
                    } else {
                        if (data.ErrorType == '@((int)VbsBindAccountErrorType.AccountIsRepeat)')
                        {
                            //已有會員資料，而且已有綁定記錄：綁定失敗
                            error_message("綁定失敗！您輸入的帳號(手機)重覆綁定，請重新確認，或以另一組帳號(手機)進行。");

                        }
                        else if (data.ErrorType == '@((int)VbsBindAccountErrorType.ElseException)') {
                            error_message('系統錯誤');
                        }
                        else {
                            //沒有會員資料：綁定失敗。給予重新輸入或註冊會員的提示與流程
                            //error_message("喔喔！您輸入的手機或Email似乎不是17Life的會員？<br />您可以選擇【重新輸入】，回到原本頁面重新輸入，或是選擇【註冊會員】，讓我們協助您完成17Life的會員註冊與帳號綁定。");
                            $('#bpopup-step_alert_2').find('.alert_message').html('喔喔！您輸入的手機或Email似乎不是17Life的會員？<br />您可以選擇【重新輸入】，回到原本頁面重新輸入，或是選擇【註冊會員】，讓我們協助您完成17Life的會員註冊與帳號綁定。');
                            $('#bpopup-step_alert_2').bPopup({
                                    modalClose: false,
                                    onOpen: function () {
                                        $('#bpopup-step_alert_2 .bpopup-step_alert-confirm').unbind();
                                        $('#bpopup-step_alert_2 .bpopup-step_alert-confirm').click(function () {

                                        });
                                        $('#bpopup-step_alert_2 .bpopup-step_alert-cancel').unbind();
                                        $('#bpopup-step_alert_2 .bpopup-step_alert-cancel').click(function () {
                                            window.location.href = 'StepByStepRegister?bind=' + encodeURI($.trim($("#bindAccount").val()));
                                        });
                                    },
                                });

                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });

        }
</script>