﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem;
@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component
@using LunchKingSite.Core.Enumeration;
@model ServiceListData
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {

        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }

    }
    List<CustomerServiceInsideLog> serviceLog = ViewBag.ServiceLog;
    Dictionary<int, string> casePriority = ViewBag.CasePriority;


    bool isReturnOrder = ViewBag.IsReturnOrder ?? false;
    bool isChangeOrder = ViewBag.IsChangeOrder ?? false;
    Guid mainBusinessHourGuid = ViewBag.MainBusinessHourGuid ?? Guid.Empty;
    LunchKingSite.WebLib.Models.Service.ShippingOrderMethod shippingOrderMethod = ViewBag.ShippingOrderMethod;
    bool isShipped = shippingOrderMethod.ShippingOrder.Count() > 0 ? !string.IsNullOrEmpty(shippingOrderMethod.ShippingOrder.FirstOrDefault().ShippingDate.ToString()) : false;
}
<!-- 彈窗jquery和它的功能宣告 -->
<script type="text/javascript" src="/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>
<link href="/Tools/js/css/jquery-confirm.min.css" rel="stylesheet" type="text/css" />
<script src="/Tools/js/jquery-confirm.min.js" type="text/javascript"></script>

<div align="center" width="100%">
<div class="case-info" style="text-align:left">
    <div class="title">
        案件資訊
    </div>
    <form action="@Url.Action("SentServiceProcessReply")" method="post" enctype="multipart/form-data">
        <div class="case-info-sub">
            <div class="case-column">
                <label>案件編號：</label>@Model.ServiceNo
                <input type="hidden" name="ServiceNo" value="@Model.ServiceNo" />
            </div>
            <div class="case-column">
                <div style="float: left; width: 300px; height: 48px; line-height: 50px;">
                    <label>訂單編號：</label>@Model.OrderId
                </div>
                <div>
                    <label>供應商：</label>@Model.SellerName<br />
                    <label>二線客服：</label>@Model.SecServicePeople
                </div>
            </div>
            <div class="case-column">
                <div>
                    <label>商品資訊：</label><a href="/@(mainBusinessHourGuid)" target="_blank" style="color:blue">@Html.Raw(string.Format("[{0}] {1}", Model.UniqueId, Model.ItemName))</a>
                </div>
                <div style="float: left; width: 300px; padding-top:2px;">
                    <label>收件人姓名：</label>@Model.Recipient
                </div>
                <div style="padding-top:2px;">
                    <label>收件人電話：</label>@Model.RecipientMobile
                </div>
                <div style="padding-top:2px;">
                    <label>收件人地址：</label>@Model.RecipientAddress
                </div>
            </div>
            <div class="case-column">
                <label>問題等級：</label>@Model.PriorityDescription
            </div>
            <div class="case-column">
                <div style="float: left; width: 300px;">
                    <label>問題分類：</label>@Model.ProblemDescription
                </div>
                <div>
                    <label>主因：</label>@Model.SubProblemDescription
                </div>
            </div>
            <div class="case-column">
                <div style="padding: 10px 10px 5px 0px;">
                    案件備註紀錄
                    <a class="waves-effect waves-light btn secondary tab2_link" onclick="bpopShipOrder('@isShipped.ToString().ToLower()')">出貨資訊</a>
                    @if (isReturnOrder)
                    {
                        <a class="waves-effect waves-light btn secondary tab2_link" href="/vbs/ship/ReturnOrderProcessList?orderId=@(Model.OrderId)">退貨管理</a>
                    }
                    @if (isChangeOrder)
                    {
                        <a class="waves-effect waves-light btn secondary tab2_link" href="/vbs/ship/ExchangeOrderProcessList?orderId=@(Model.OrderId)">換貨管理</a>
                    }                    
                </div>
                @foreach (var row in serviceLog.OrderBy(x => x.CreateTime))
                {
                    <div class="log-content">
                        <span style="padding-right:10px">
                        @if (row.Status == (int)statusConvert.transfer)
                        {
                            @Html.Raw(GetEmpName(row.CreateId));
                        }
                        else if (row.Status == (int)statusConvert.transferback)
                        {
                            @Html.Raw(Model.SellerName);
                        }
                        </span>
                        <span class="tag_place">@Helper.GetEnumDescription((statusConvert)row.Status)</span>
                        <span style="float:right;">@row.CreateTime.ToString("yyyy-MM-dd HH:mm")</span>
                        @if (!string.IsNullOrEmpty(row.Content))
                        {
                        <div class="content-word">
                            @Html.Raw(row.Content.Replace("\r\n", "<br>"))
                            @*<textarea id="disableTextarea" style="height:@GetTextAreaHigh(row.Content)px;" disabled>@Html.Raw(row.Content)</textarea>*@
                        </div>
                        }
                        @if (!string.IsNullOrEmpty(row.File))
                        {
                        <div>
                            查看附件：<a href="@Html.Raw(Url.Content(string.Format("{0}{1}/{2}", ViewBag.ImagePath, Model.ServiceNo, row.File)))" target="_blank" style="color: #039be5;">@row.File</a>
                        </div>
                        }
                    </div>
                }
                @if (Model.CaseStatus != (int)statusConvert.complete)
                {
                <div style="padding: 10px 0px 5px 0px; float:left;">回覆備註(供內部人員及供應商查看)</div>
                <div class="service-button" id="uploadFile">上傳附件</div>
                <span id="fileName"></span>
                <input type="file" size="19" name="CustomerServicePic" id="importFile" accept="image/*" style="display:none;" />
                <div style="padding-bottom: 15px;">
                    <textarea id="replyContent" name="Content" rows="4"></textarea>
                </div>
                }
            </div>
            <div class="case-footer">
                @if (Model.CaseStatus != (int)statusConvert.complete)
                {
                <div class="service-button" onclick="setServiceReply();">確定送出</div>
                }
            </div>
        </div>
    </form>
</div>
</div>


<!-- 出貨狀態 -->
<div id="bpopup_ship_order" class="card-panel bpopup-modal">
    <div class="row">
        <div class="col s12 bpopup-modal-title ">
            出貨資訊
            <div class="divider"></div>
        </div>

        <div class="col s12 bpopup-modal-scroll_content">
            <table>
                <tbody>
                    <tr>
                        <td>出貨日期</td>
                        <td>@(shippingOrderMethod.ShippingOrder.Count()>0?shippingOrderMethod.ShippingOrder.FirstOrDefault().ShippingDate:"")</td>
                    </tr>
                    <tr>
                        <td>運單編號</td>
                        <td>
                            @foreach (var item in shippingOrderMethod.ShippingOrder)
                            {
                                @item.ShippingNo @:<br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>物流公司</td>
                        <td>
                            @if (shippingOrderMethod.ShippingOrder.Count() > 0)
                            {
                                @Html.Raw(shippingOrderMethod.ShippingOrder.FirstOrDefault().LogisticsCompany)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>出貨備註</td>
                        <td>@(shippingOrderMethod.ShippingOrder.Count() > 0? shippingOrderMethod.ShippingOrder.FirstOrDefault().ShippingRemark:"")</td>
                    </tr>
                    <tr>
                        <td>最後修改日期</td>
                        <td>@(shippingOrderMethod.ShippingOrder.Count() > 0? shippingOrderMethod.ShippingOrder.FirstOrDefault().LastModifyDate:"")</td>
                    </tr>
                    <tr>
                        <td>最後修改人</td>
                        <td>@(shippingOrderMethod.ShippingOrder.Count()>0? shippingOrderMethod.ShippingOrder.FirstOrDefault().LastModifyAccount:"")</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col s12 center-align bpopup-modal-footer">

            <a class="waves-effect waves-light btn b-close">關閉視窗</a>

        </div>
    </div>
</div>


@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")

<style>
    .title {
        padding-bottom: 10px;
        font-size: larger;
        font-weight: bolder;
    }

    .case-info {
        border-style: solid;
        border-width: 1px;
        border-color: #d2d2d2;
        width: 600px;
        padding: 15px 20px;
        margin: 30px 10px;
        background-color: #FFD5C4;
        box-sizing: content-box;
    }

    .case-info-sub {
        border-style: solid;
        border-width: 1px;
        border-color: #d2d2d2;
        width: 600px;
        background-color: #fafafa;
    }

    .case-column {
        padding: 4px 5px 3px 10px;
        border-bottom: solid 1px #d2d2d2;
    }

    .log-content {        
        border-style: solid;
        border-width: 1px;
        border-color: #999898;
        padding: 10px;
        margin-bottom: 20px;
        width: 558px;
    }

    .tag_place {
        border-radius: 20px;
        background: #999;
        color: white;
        padding: 1px 7px;
        font-size: small;
        vertical-align: text-bottom;
    }

    .content-word {
        padding-top: 10px;
    }
    
    a:link {
        text-decoration: none;
    }

    .service-button {
        border: 1px solid #cbcbcb;
        color: #ffffff;
        cursor: pointer;
        background: linear-gradient(to bottom, #ff7f6a 0%,#f2553b 100%);
        padding: 0px 17px;
        height: 28px;
        line-height: 28px;
        overflow: visible;
        -webkit-border-radius: 4px;
        float: left;
        text-align: center;
        font-size: 15px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        margin: 0px 15px 0px 15px;
    }

    .case-footer {
        padding-left: 230px;
        padding-top: 10px;
        height: 40px;
    }

    #fileName {
        vertical-align: text-top;
    }

    #disableTextarea {
        resize: none;
        width: 100%;
        border: none;
        background: inherit;
        padding-left: 0px;
        overflow:auto;
    }

    #replyContent {
        resize: none;
        width: 575px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $('#uploadFile').click(function () {
            $('#importFile').click();
        }); 

        $('#importFile').change(function () {
            if (this.value.length > 19) {
                $('#fileName').html(this.value.substring(0, 19) + "...");
            } else {
                $('#fileName').html(this.value);
            }
        });
    })

    function setServiceReply()
    {
        if (!$('#replyContent').val().trim() &&
            !$('#importFile').val().trim()) {
            alert('請輸入回復備註！');
            return false;
        }

        if (!checkPicExt($('#importFile').val())) {
            alert('請選擇圖片格式的檔案！');
            return false;
        }

        if (confirm("確定要更新案件？")) {
            $('form').submit();
            return false;
        }
    }

    function checkPicExt(pic)
    {
        if (!pic) {
            return true;
        }

        var fileExt = ['bmp', 'jpg', 'jpeg', 'png', 'gif' ]
        var ext = pic.split('.').pop().toLowerCase();
        if (fileExt.indexOf(ext) < 0) { 
            return false;
        }

        return true;
    }

    function bpopShipOrder(isShipped) {
        if (isShipped!="true") {
            toast_message("尚未出貨");
        } else {
            var bPopup = $('#bpopup_ship_order').bPopup({
                modalClose: false,
                opacity: 0.5,
            });
        }        
    }
    function gotoShipUrl(obj) {
        var shipNo = $(obj).parent().find("span#shipNo");
        copy(shipNo.html());
        var shipUrl = $(obj).parent().find("span#shipUrl");
        //window.open(shipUrl.html());
        $.confirm({
            type: 'red',
            title: '訊息 ',
            content: '物流單號已複製，前往網站查詢物流進度。',
            boxWidth: 300,
            useBootstrap: false,
            animation: 'zoom',
            closeAnimation: 'left',
            buttons: {
                cancel: {
                    text: '取消',
                    btnClass: 'btn-white',
                }, specialKey: {
                    text: '開啟',
                    btnClass: 'btn-red any-other-class',
                    action: function () {
                        window.open(shipUrl.html());
                    }
                }
            }
        });
    }
    function copy(s) {
        $('body').append('<textarea id="clip_area"></textarea>');

        var clip_area = $('#clip_area');

        clip_area.text(s);
        clip_area.select();

        document.execCommand('copy');

        clip_area.remove();
    }
</script>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

@functions {
    private string GetEmpName(int id)
    {
        Dictionary<int, string> empData = ViewBag.EmpData;

        if (empData.Any(x => x.Key == id))
        {
            return empData.Where(x => x.Key == id).FirstOrDefault().Value;
        }
        return string.Empty;
    }

    private string GetTextAreaHigh(string content)
    {
        return (24 * content.Split('\n').Count()).ToString();
    }
}


