﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem;
@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component
@using LunchKingSite.Core.Enumeration;
@model ServiceProcessModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {

        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }

    }
    Dictionary<int, string> problemType = ViewBag.ProblemType;
    Dictionary<int, string> casePriority = ViewBag.CasePriority;
    PageData pageData = ViewBag.PageData;
    int queryCount = (Model == null || Model.ServiceList == null) ? 0 : Model.ServiceList.Count;
}

<!-- 彈窗jquery和它的功能宣告 -->
<script type="text/javascript" src="/Themes/OWriteOff/plugin/bpopup/jquery.bpopup.js"></script>

<h5 class="breadcrumbs-title">客戶案件管理</h5>

<form action="ServiceProcess" method="post">
    <div class="row">
        <div class="col xl6 l12 m12 s12">
            <div class="form-unit">
                <label class="unit-label">
                    案件編號
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" id="sevice_no" name="ServiceNo" value="@Model.ServiceNo" />
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    檔號
                </label>
                <div class="data-input">
                    <input type="text" id="UniqueId" name="UniqueId" value="@Model.UniqueId" />
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    收件人姓名
                </label>
                <div class="data-input">
                    <input type="text" id="MemberName" name="MemberName" value="@Model.MemberName" />
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    問題分類
                </label>
                <div class="data-input">
                    <select id="problem_type" name="ProblemType">
                        <option value="-1">請選擇</option>
                        @foreach (var dic in problemType)
                        {
                        <option value="@dic.Key" @Html.Raw(Model.ProblemType == dic.Key ? "selected" : string.Empty)>@dic.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    案件狀態
                </label>
                <div class="data-input">
                    <p>
                        @Html.CheckBoxFor(model => model.IsProcess)<span style="padding-right:3px;">@Helper.GetEnumDescription(statusConvert.process)</span>
                        @Html.CheckBoxFor(model => model.IsTransfer)<span style="padding-right:3px;">@Helper.GetEnumDescription(statusConvert.transfer)</span>
                        @Html.CheckBoxFor(model => model.IsTransferBack)<span style="padding-right:3px;">@Helper.GetEnumDescription(statusConvert.transferback)</span>
                        @Html.CheckBoxFor(model => model.IsComplete)<span>@Helper.GetEnumDescription(statusConvert.complete)</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="col xl6 l12 m12 s12">
            <div class="form-unit">
                <label class="unit-label">
                    訂單編號
                </label>
                <div class="data-input">
                    <p>
                        <input type="text" id="order_id" name="OrderId" value="@Model.OrderId" />
                    </p>
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    商品名稱
                </label>
                <div class="data-input">
                    <input type="text" id="ItemName" name="ItemName" value="@Model.ItemName" />
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    收件人電話
                </label>
                <div class="data-input">
                    <input type="text" id="MobileNumber" name="MobileNumber" value="@Model.MobileNumber" />
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    建立日期
                </label>
                <div class="data-input">
                    <input type="text" style="width:30%;" class="dtPicker" id="create_time_s" name="CreateTimeS" value="@Html.Raw(Model.CreateTimeS == null ? string.Empty : ((DateTime)Model.CreateTimeS).ToString("yyyy/MM/dd"))" />
                    ～
                    <input type="text" style="width:30%;" class="dtPicker" id="create_time_e" name="CreateTimeE" value="@Html.Raw(Model.CreateTimeE == null ? string.Empty : ((DateTime)Model.CreateTimeE).ToString("yyyy/MM/dd"))" />
                    <input type="hidden" name="CurrentPage" value="@Model.CurrentPage" />
                    <input type="hidden" name="QueryPage" value="true" />
                </div>
            </div>
            <div class="form-unit">
                <label class="unit-label">
                    優先度
                </label>
                <div class="data-input">
                    <p>
                        <select id="priority" name="Priority">
                            <option value="-1">請選擇</option>
                            @foreach (var dic in casePriority)
                            {
                            <option value="@dic.Key" @Html.Raw(Model.Priority == dic.Key ? "selected" : string.Empty)>@dic.Value</option>
                            }
                        </select>
                    </p>
                </div>
            </div>


        </div>


    </div>

    <div class="row">
        <div class="col xl6 l12 s12 right-align">
            <a class="waves-effect waves-light btn" id="btnSearch">搜尋</a>
        </div>
    </div>

</form>
<div class="row">
    <div class="col s12">
        <table id="main" class="center-align">
            <thead>
                <tr>
                    <th class="" width="130">案件編號</th>
                    <th class="" width="40">案件狀態</th>
                    <th class="" width="60">優先度</th>
                    <th class="" width="150">訂單編號</th>
                    <th class="" width="130">商品名稱</th>
                    <th class="" width="100">收件人</th>
                    <th class="" width="80">問題分類</th>
                    <th class="" width="120">主因</th>
                    <th class="" width="100">建立時間</th>
                    <th class="" width="100">最後異動時間</th>
                    <th class="" width="90">處理人員</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.ServiceList != null)
                    {
                        foreach (var row in Model.ServiceList)
                        {
                    <tr class="text-center">
                        <td>
                            @{if (row.notRead > 0)
                                        {
                                    @:<span style='color:red;margin-right:5px;font-size:18px;'>•</span>
                                    }
                            }
                            <a href="ServiceProcessDetail?serviceNo=@row.ServiceNo" style="color: #039be5;" target="_blank">@row.ServiceNo</a>
                        </td>
                        <td>@row.CaseStatusDescription</td>
                        <td @Html.Raw(row.Priority == 2 ? "class=\"redFont\"" : string.Empty)>@row.PriorityDescription</td>
                        @*<td><a href="#" style="color: #039be5;">@row.OrderId</a></td>*@
                        <td>@row.OrderId</td>
                        <td>@("【" + row.UniqueId + "】 " + row.ItemName)</td>
                        <td>@row.Recipient @Html.Raw(!string.IsNullOrEmpty(row.RecipientMobile) ? "<br/>" + row.RecipientMobile : string.Empty)</td>
                        <td>@row.ProblemDescription</td>
                        <td>@row.SubProblemDescription</td>
                        <td>@row.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@Html.Raw(row.LastModifyTime == null ? string.Empty : ((DateTime)row.LastModifyTime).ToString("yyyy-MM-dd HH:mm"))</td>
                        <td>@Html.Raw(row.ServicePeople)</td>
                    </tr>
                                            }
                                        }
            </tbody>
        </table>

    </div>
</div>

<!-- pagination -->
<div class="row">
    <div class="col s12">
        <div class="" style="margin:0 auto;text-align:center;">
            <select id="ddlTotalPage" onchange="queryCheck(this)">
                @for (int i = 1; i <= pageData.TotalPages; i++)
                {
                    <option value="@i" @Html.Raw(pageData.CurrentPage == i ? "selected" : string.Empty)>@i</option>
                }
            </select>
            頁 / 共 <span style="font-weight:bold">@pageData.TotalPages</span> 頁 | <span style="font-weight:bold">@pageData.TotalCount</span> 筆資料
        </div>

    </div>
</div>


@*Toast頁面(與 ProductOptionContent.cshtml(商品資料頁面) 共用)*@
@Html.Partial("~/Views/Proposal/_ProposalToastPartial.cshtml")

<script type="text/javascript">
    $(document).ready(function () {
        $('.dtPicker').datepicker();

        if (@queryCount <= 0) {
            toast_message('查無客服單資料！');
        }
        $("#btnSearch").click(function () {
            $("#ddlTotalPage").val("1");
            queryCheck();
        });
    });

    @*--查詢--*@
    function queryCheck(obj) {
        var ctS = $('#create_time_s').val().trim();
        var ctE = $('#create_time_e').val().trim();

        if ((ctS != '' && ctE != '') && (Date.parse(ctS) > Date.parse(ctE))) {
            alert('建立日期起日不可大於迄日！');
            return false;
        }

        if (obj == undefined) {
            $('input[name="CurrentPage"]').val('1');
        }
        else {
            $('input[name="CurrentPage"]').val($(obj).val());
        }
        $('form').submit();
    }
</script>
