﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();

    string ShowViewTitle = "";
    if (ViewBag.IsInspectionCodeNeverChange)
    {
        ShowViewTitle = "【查帳碼設定】<br/><span class='textSize15'>若您需獨立查帳的權限，請設定一組與登入密碼不同的查帳碼</span>。";
        Layout = "~/Views/Shared/FirstLoginLayout.cshtml";
    }
    else
    {
        ShowViewTitle = "重設查帳碼";
        if (config.IsEnableVbsNewUi)
        {
            Layout = "~/Views/Shared/VbsLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
} 

<div class="OWriteOff">
    <form id="SetInspectionCodeForm" action="">
    <div class="OW-center">
        <table border="0" cellspacing="0" cellpadding="0" class="OW-logoinTable">
            <tr>
                <td class="loginPPasswordtText">
                @Html.Raw(ShowViewTitle)
                </td>
            </tr>
            <tr>
                <td class="OW-logoin">
                <input name="InspectionCode" type="text" id="InspectionCode" value="現用的查帳碼" onfocus="clearText(this);"/>
                </td>
            </tr>
            <tr>
                <td class="OW-logoin">
                <input name="NewInspectionCode" type="text" id="NewInspectionCode" value="6~20位的新密碼" onfocus="clearText(this);"/>
                </td>
            </tr>
            <tr>
                <td class="OW-logoin">
                <input name="CheckNewInspectionCode" type="text" id="CheckNewInspectionCode" value="再一次輸入新密碼" onfocus="clearText(this);"/>
                </td>
            </tr>
            <tr>
                <td>       
                    <span id="spnErrorMessage" class="OW-logoinWarningsT"></span>
                </td>
            </tr>
            <tr>
                <td>
                @if (ViewBag.IsInspectionCodeNeverChange)
                {
                    <div class="OW-logooutBtn" onclick="window.location.href='@Url.Action("Logout")'">登出</div>
                    <div class="OW-ConfirmBtn" onclick="btnSetInspectionCode_Click()">確認</div>  
                }
                else
                {
                    <div class="OW-W7-CanceledBtn" onclick="btnCancel_Click()">取消</div>
                    <div class="OW-W7-YesBtn" onclick="btnSetInspectionCode_Click()">確定</div>         
                }
                </td>
            </tr>
        </table>
    </div>  
    </form>
</div>
	
@section Script{  
<script type="text/javascript">
	function clearText(obj) {
		if (obj.value === "現用的查帳碼" || obj.value === "6~20位的新密碼" || obj.value === "再一次輸入新密碼") {
			obj.value = "";
		}
		obj.type = "password"; 
		
		changeCell(obj);
	}

	function btnSetInspectionCode_Click() {
		if ($('input[id*=InspectionCode]').val() === "現用的查帳碼" || $('input[id*=InspectionCode]').val() === "") {
			alert("請輸入現用的密碼");
			return false;
		}
		if ($('input[id*=NewInspectionCode]').val() === "6~20位的新密碼" || $('input[id*=NewInspectionCode]').val() === "") {
			alert("請輸入新密碼");
			return false;
		}
		if ($('input[id*=CheckNewInspectionCode]').val() === "再一次輸入新密碼" || $('input[id*=CheckNewInspectionCode]').val() === "") {
			alert("請輸入確認新密碼");
			return false;
		}
		
		var formData = $('#SetInspectionCodeForm').serialize();
		$.ajax({
				type: 'POST',
				url: '@Url.Action("SetInspectionCode")',
				data: formData,
				success: resultHandler,
				dataType: 'json'
		});
	}

	function resultHandler(data) {
		
		$('#spnErrorMessage').html(data.Message);

		if (data.IsSuccess) {//設定查帳碼成功
			alert("查帳碼設定成功！");
			if('@ViewBag.ParentActionName' === "Others") {//回重設查帳碼功能頁
				window.location.href ='@Url.Action("Others")';
			}
			else {//登入重設查帳碼成功 則回登入首頁
				window.location.href ='@Url.Action("RedirectToActionAfterLogin")';
			}
		}
	}

	function btnCancel_Click() {
		window.location.href = '@Url.Action("Others")';
	}

	function changeCell(el) {
		$(el).css('color', '#000000');
	}
</script>
}