﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem
@using LunchKingSite.Core.Enumeration
@{
    string vbsAccount = ViewBag.VbsAccount;
}

@model LoginModel
@{
            Layout = null;
}
<!DOCTYPE HTML>

<html>
<head>
    <title>17Life 商家系統</title>
    <link href='@Url.Content("~/Themes/PCweb/css/MasterPage17life.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Themes/PCweb/css/17lifeMember.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Themes/OWriteOff/OWriteOff.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Tools/js/css/jquery-confirm.min.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-confirm.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery.blockUI.js")' type="text/javascript"></script>
    @*show dialog 找不到綁定的商家帳號時需要的js&css*@
    <script src='@Url.Content("~/Tools/js/jquery-ui.js")' type="text/javascript"></script>
    <link type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")' rel="stylesheet" />
    <style type="text/css">
        body, html {
            height: 100%;
        }

        div[onclick] {
            cursor: pointer;
        }

        ul li {
            display: block;
            position: relative;
            float: left;
            width: 100%;
        }

            ul li input[type=radio] {
                position: absolute;
                visibility: hidden;
            }

            ul li label {
                display: block;
                position: relative;
                font-weight: 300;
                font-size: 1.35em;
                padding: 25px 25px 25px 80px;
                margin: 5px auto;
                z-index: 9;
                cursor: pointer;
                -webkit-transition: all 0.25s linear;
            }

            ul li:hover label {
                color: #BF0000;
            }

            ul li .check {
                display: block;
                position: absolute;
                border: 5px solid #AAAAAA;
                border-radius: 100%;
                height: 25px;
                width: 25px;
                top: 30px;
                left: 20px;
                z-index: 5;
                transition: border .25s linear;
                -webkit-transition: border .25s linear;
            }

            ul li:hover .check {
                border: 5px solid #BF0000;
            }

            ul li .check::before {
                display: block;
                position: absolute;
                content: '';
                border-radius: 100%;
                height: 15px;
                width: 15px;
                top: 5px;
                left: 5px;
                margin: auto;
                transition: background 0.25s linear;
                -webkit-transition: background 0.25s linear;
            }

        input[type=radio]:checked ~ .check {
            border: 5px solid #BF0000;
        }

            input[type=radio]:checked ~ .check::before {
                background: #BF0000;
            }

        input[type=radio]:checked ~ label {
            color: #BF0000;
        }
    </style>
    <script type="text/javascript">
        function GotoStep1() {
            $("#step1").show();
            $("#step2").hide();
            $("#step3").hide();
        }
        function GotoStep2() {
            var rdoRegister = $("input[name='rdoRegister']:checked").val();
            var ul = $("#MemberList");
            ul.empty();

            if (rdoRegister == undefined) {
                $.confirm({
                    type: 'red',
                    icon: 'fa fa-warning',
                    title: '',
                    content: '請先選擇「您是否曾經在17Life註冊過」',
                    boxWidth: 500,
                    useBootstrap: false,
                    animation: 'zoom',
                    closeAnimation: 'left',
                    buttons: {
                        ok: {
                        }
                    }
                });
                return false;
            }
            if ((rdoRegister == "1") || (rdoRegister == "2")) {
                $("#step1").hide();
                $("#step2").show();
                $("#step3").hide();
            } else {
                location.href = "/vbs/RedirectToRegister";
            }
        }
        function GotoStep3() {
            var list = [];

            if ($.trim($("#input01").val()) != "") {
                list.push($.trim($("#input01").val()));
            }
            if ($.trim($("#input02").val()) != "") {
                list.push($.trim($("#input02").val()));
            }
            if ($.trim($("#input03").val()) != "") {
                list.push($.trim($("#input03").val()));
            }
            if ($.trim($("#input04").val()) != "") {
                list.push($.trim($("#input04").val()));
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMemberByMail")',
                data: { list : JSON.stringify(list) },
                dataType: 'json',
                success: function (data) {
                    if (data.length == 0) {
                        $.confirm({
                            type: 'red',
                            icon: 'fa fa-warning',
                            title: '',
                            content: '很抱歉，我們沒有找到您提供的資料，您可以選擇【重新輸入】再找一次，或是直接【註冊】，來繼續進行綁定帳號。',
                            boxWidth: 500,
                            useBootstrap: false,
                            animation: 'zoom',
                            closeAnimation: 'left',
                            buttons: {
                                reKey: {
                                    text: '重新輸入',
                                    btnClass: 'btn-red any-other-class',
                                    action: function () {
                                        GotoStep2();
                                    }
                                }, signKey: {
                                    text: '註冊會員',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        location.href = "/vbs/RedirectToRegister";
                                    }
                                }
                            }
                        });
                    } else {
                        $("#step1").hide();
                        $("#step2").hide();
                        $("#step3").show();
                        var ul = $("#MemberList");
                        ul.empty();
                        $.each(data, function (midx, mobj) {
                            ul.append('<li><input type= "radio" id= "mem0' + midx + '" name= "rdoMember" value= "' + mobj + '" ><label for="mem0' + midx + '">' + mobj + '</label><div class="check"></div></li >');
                        });
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
        function ConfirmBind() {
            var rdoMember = $("input[name='rdoMember']:checked").val();
            if (rdoMember == undefined) {
                $.confirm({
                    type: 'red',
                    icon: 'fa fa-warning',
                    title: '',
                    content: '請先選擇一個帳號進行綁定',
                    boxWidth: 500,
                    useBootstrap: false,
                    animation: 'zoom',
                    closeAnimation: 'left',
                    buttons: {
                        ok: {
                        }
                    }
                });
                return false;
            }
            $.confirm({
                type: 'red',
                title: '綁定帳號提示與確認',
                content: '您的17Life會員帳號，將進行手機綁定動作，並同時完成商家系統的帳號綁定，請您確認以下資料。<p />商家系統帳號：' + $("#txtVbsAccount").val() + '<br />17Life會員帳號：' + rdoMember,
                boxWidth: 500,
                useBootstrap: false,
                animation: 'zoom',
                closeAnimation: 'left',
                buttons: {
                    reKey: {
                        text: '重新輸入查找',
                        btnClass: 'btn-red any-other-class',
                        action: function () {
                            GotoStep2();
                        }
                    }, signKey: {
                        text: '確認綁定',
                        btnClass: 'btn-blue',
                        action: function () {
                            Bind17LifeAccount(rdoMember);
                        }
                    }
                }
            });
        }

        function Bind17LifeAccount(accountId) {
            $("#bindAccount").val(accountId);
            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("BindAccount")',
                    data: $('#bindAccountForm').serialize(),
                    dataType: 'json',
                    success: function (data) {
                        if (data.IsSuccess) {//綁定成功
                            $.confirm({
                                type: 'red',
                                title: '綁定成功 ',
                                content: '綁定成功！重新登出後，您可以用原始的商家帳號與變更後密碼，或綁定的17Life會員帳密進入商家系統囉。',
                                boxWidth: 500,
                                useBootstrap: false,
                                animation: 'zoom',
                                closeAnimation: 'left',
                                buttons: {
                                    specialKey: {
                                        text: '重新登入',
                                        btnClass: 'btn-red any-other-class',
                                        action: function () {
                                            window.location.href = '@Url.Action("Logout")';
                                        }
                                    }
                                }
                            });
                        }
                        else {
                            if (data.ErrorType == @((int)VbsBindAccountErrorType.AccountIsRepeat))
                            {
                                //已有會員資料，而且已有綁定記錄：綁定失敗
                                $.confirm({
                                    type: 'red',
                                    title: '綁定失敗 ',
                                    content: '綁定失敗！您輸入的帳號(手機)重覆綁定，請重新確認，或以另一組帳號(手機)進行。',
                                    boxWidth: 500,
                                    useBootstrap: false,
                                    animation: 'zoom',
                                    closeAnimation: 'left',
                                    buttons: {
                                        close: {
                                            text: '確認'
                                        }
                                    }
                                });
                            } else
                            {
                                //沒有會員資料：綁定失敗。給予重新輸入或註冊會員的提示與流程
                                $.confirm({
                                    type: 'red',
                                    title: '綁定失敗 ',
                                    content: '喔喔！您輸入的手機或Email似乎不是17Life的會員？<br />您可以選擇【重新輸入】，回到原本頁面重新輸入，或是選擇【註冊會員】，讓我們協助您完成17Life的會員註冊與帳號綁定。',
                                    boxWidth: 500,
                                    useBootstrap: false,
                                    animation: 'zoom',
                                    closeAnimation: 'left',
                                    buttons: {
                                        reKey: {
                                            text: '重新輸入',
                                            btnClass: 'btn-red any-other-class',
                                            action: function () {
                                                GotoStep2();
                                            }
                                        },signKey: {
                                            text: '註冊會員',
                                            btnClass: 'btn-blue',
                                            action: function () {
                                                window.location.href = 'StepByStepRegister?bind=' + encodeURI($.trim($("#bindAccount").val()));
                                            }
                                        }
                                    }
                                });
                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });
        }
    </script>
</head>
<body>
    <div class="OW-top OW-top-hig">
        <div class="ow-topCenter">
            <div class="ow-logo-big"></div>
        </div>
    </div>
    <div id="wrap" class="clearfix">
        <a href="https://www.17life.com">
            <img class="LifeMember17logo" src="../Themes/PCweb/images/17LIFElogoBig.png" width="280">
        </a>
        <div class="Homepagecenter">
            <div style="width:100%;text-align: center;">
                <div style="display: inline-block;font-weight:bold;font-size:x-large;margin-top:20px">
                    【17Life會員註冊】
                </div>
            </div>
            <!--step1-->
            <div id="step1" style="width:100%;text-align:center">
                <div style="display: inline-block;width:70%;text-align:left;margin-top:50px;">
                    <p style="font-weight:bold;margin:10px;font-size:x-large">Step 01</p>
                    <p style="margin:10px;font-weight:bold;margin:10px;font-size:large">您是否曾經在17Life註冊過？</p>
                    <ul>
                        <li>
                            <input type="radio" id="rdoRegister1" name="rdoRegister" value="1">
                            <label for="rdoRegister1">有，我曾經註冊過</label>

                            <div class="check"></div>
                        </li>
                        <li>
                            <input type="radio" id="rdoRegister2" name="rdoRegister" value="2">
                            <label for="rdoRegister2">不知道，我忘記了</label>

                            <div class="check"></div>
                        </li>
                        <li>
                            <input type="radio" id="rdoRegister3" name="rdoRegister" value="3">
                            <label for="rdoRegister3">沒有，我從來沒有註冊過</label>

                            <div class="check"></div>
                        </li>
                    </ul>
                    <div style="width:100%;text-align:center">
                        <div style="display: inline-block;width:70%">
                            <div class="OW-W7-CanceledBtn" onclick="location.href='/vbs/SellerBindAccount'">取消</div>
                            <div class="OW-W7-YesBtn" style="margin-left:10px" onclick="GotoStep2()">下一步</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//step1-->
            <!--step2-->
            <div id="step2" style="width:100%;text-align:center;display:none">
                <div style="display: inline-block;width:70%;text-align:left;margin-top:50px;">
                    <p style="font-weight:bold;margin:10px;font-size:x-large">Step 02</p>
                    <p style="margin:10px;font-weight:bold;margin:10px;font-size:large">您輸入所要綁定的資料如下：</p>
                    <p><input type="text" size="70" id="input01" value="@(ViewBag.BindAccount)" readonly="readonly" style="line-height: 28px;font-size:large" /></p>
                    <p style="margin:10px;font-weight:bold;margin:10px;font-size:large">請您提供有可能建立的帳號，我們將協助您找尋關聯性的會員資料，並完成綁定</p>
                    <p style="margin-top:10px"><input id="input02" type="text" size="70" value="" style="line-height: 28px;font-size:large" placeholder="請輸入EMAIL/手機帳號資料" /></p>
                    <p style="margin-top:10px"><input id="input03" type="text" size="70" value="" style="line-height: 28px;font-size:large" placeholder="請輸入EMAIL/手機帳號資料" /></p>
                    <p style="margin-top:10px"><input id="input04" type="text" size="70" value="" style="line-height: 28px;font-size:large" placeholder="請輸入EMAIL/手機帳號資料" /></p>
                    <div style="width:100%;text-align:center">
                        <div style="display: inline-block;width:70%">
                            <div class="OW-W7-CanceledBtn" onclick="GotoStep1()">上一步</div>
                            <div class="OW-W7-YesBtn" style="margin-left:10px" onclick="GotoStep3()">下一步</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//step2-->
            <!--step3-->
            <div id="step3" style="width:100%;text-align:center;display:none">
                <div style="display: inline-block;width:70%;text-align:left;margin-top:50px;">
                    <p style="font-weight:bold;margin:10px;font-size:x-large">Step 03 確認查找結果</p>
                    <p style="margin:10px;font-weight:bold;margin:10px;font-size:large">依照您提供的資料，我們找到以下符合結果，請您確認要綁定的帳號是哪一個？</p>
                    <ul id="MemberList"></ul>
                    <div style="width:100%;text-align:center">
                        <div style="display: inline-block;width:70%">
                            <div class="OW-W7-CanceledBtn" onclick="GotoStep2()">上一步</div>
                            <div class="OW-W7-YesBtn" style="margin-left:10px" onclick="ConfirmBind()">確定</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//step3-->
        </div>
        <!--center-->

    </div>
    <input type="hidden" id="txtVbsAccount" value="@(vbsAccount)" />
    <form id="bindAccountForm" action="" style="display:none">
        <input type="hidden" id="isBind" name="isBind" value="true">
        <input type="hidden" id="bindAccount" name="bindAccount" />
    </form>
</body>
</html>
