﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE HTML>

<html>
<head>
    <title>17Life 商家系統</title>
    <link href='@Url.Content("~/Themes/PCweb/css/MasterPage17life.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Themes/PCweb/css/17lifeMember.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Themes/OWriteOff/OWriteOff.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Tools/js/css/jquery-confirm.min.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Tools/js/jquery-1.7.2.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery-confirm.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Tools/js/jquery.blockUI.js")' type="text/javascript"></script>
    @*show dialog 找不到綁定的商家帳號時需要的js&css*@
    <script src='@Url.Content("~/Tools/js/jquery-ui.js")' type="text/javascript"></script>
    <link type="text/css" href='@Url.Content("~/Tools/js/css/ui-lightness/jquery-ui-1.8rc3.custom.css")' rel="stylesheet" />
    <style type="text/css">
        body, html {
            height: 100%;
        }

        div[onclick] {
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
            var boxWidth = '30%';
            if (width < 1000) {
                boxWidth = '90%';
            }
            $.confirm({
                title: '訊息通知 ',
                content: '您本次是以申請的臨時密碼登入，可以使用的期限僅有 @(ViewBag.VbsTemporaryPasswordHourLimit) 小時，強烈建議您儘速到系統右上方的【幫助中心】內，重新設定密碼。',
                boxWidth: boxWidth,
                useBootstrap: false,
                animation: 'zoom',
                closeAnimation: 'left',
                buttons: {
                    specialKey: {
                        text: '先去重設',
                        btnClass: 'btn-red any-other-class',
                        action: function () {
                            $.blockUI({ message: '請稍後，正在為您導向正確頁面'});
                            location.href = "SetPassword";
                        }
                    },
                    alphabet: {
                        text: '等等再設',
                        btnClass: 'btn-default',
                        action: function () {
                            $.blockUI({ message: '請稍後，正在為您導向正確頁面'});
                            location.href = "BulletinBoardList";
                        }
                    }
                }
            });
        });
        
    </script>
</head>
<body>
    <div class="OW-top OW-top-hig">
        <div class="ow-topCenter">
            <div class="ow-logo-big"></div>
        </div>
    </div>
    <div id="wrap" class="clearfix">
        <div class="HomepageHeader">
            <div class="Homepagemiddle">
                <table width="960" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="cursor: pointer;" onclick="window.location.href='/ppon';"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="HomepageLine">
        </div>
        <a href="https://www.17life.com">
            <img class="LifeMember17logo" src="../Themes/PCweb/images/17LIFElogoBig.png" width="280">
        </a>
        <div class="Homepagecenter">



        </div>
        <!--center-->

    </div>

</body>
</html>
