﻿@using LunchKingSite.BizLogic.Model.BalanceSheet
@using LunchKingSite.BizLogic.Component;
@using LunchKingSite.Core;
@using LunchKingSite.Core.Component
@model ToHousePayListModel
@{
    Layout = null;
}
@{ 
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>17Life 商家系統</title>
    <link href='@Url.Content("~/Themes/OWriteOff/OWriteOff.css")' rel="stylesheet" type="text/css" />
    <style type="text/css">
        .OW-W6-WOTLTMonth_UnderStyle-wLine {
            text-align: center;
            font-family: "微軟正黑體";
            font-size: 13px;
            color: #999;
            text-decoration: line-through;
        }

        .OW-W6-WOTLTMonth_UnderStyle-wLine td {
            height: 35px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-right-style: dotted;
            border-bottom-style: dotted;
            border-right-color: #BBB;
            border-bottom-color: #BBB;
            line-height: 35px;
        }
    </style>
    <script type="text/javascript">

    function divPrint_Click() {
        window.print();
    }

    function btnToHousePayListExport() {
        window.location.href = '@Html.Raw(Url.Action("ToHousePayListExport", "VendorBillingSystem", new { id = ViewBag.ProductId, balanceSheetId = ViewBag.BalanceSheetId }))';
    }
    </script>
</head>

<body>

    <div class="OWriteOff">
        <table border="0" cellspacing="0" cellpadding="0" class="OW-W6-WriteOffTheListThisMonth-top">
            <tr>
                <td colspan="4" height="12"></td>
            </tr>
            <tr>
                @if (ViewBag.IsEnableVbsNewShipFile)
                {
                    <td width="20"></td>
                    <td width="540">[@Model.DealUniqueId] @Model.DealName</td>
                    if (MvcUtility.IsAndroid() == false)
                    {
                        <td width="110" rowspan="2"><div class="OW-W6-2-3-2-Btn2" onclick="btnToHousePayListExport();">匯出對帳Excel</div></td>
                        <td width="60" rowspan="2"><div class="OW-W6-2-3-2-Btn2" onclick="divPrint_Click();">列印</div></td>
                    }
                }
                else
                {
                    <td width="20"></td>
                    <td width="640">[@Model.DealUniqueId] @Model.DealName</td>
                    if (MvcUtility.IsAndroid() == false)
                    {
                        <td width="100" rowspan="2"><div class="OW-W6-2-3-2-Btn2" onclick="divPrint_Click();">列印</div></td>
                    }
                }
            </tr>
            <tr>
                <td width="20"></td>
                <td>出貨日期：@Model.ShipPeriodStart ~ @Model.ShipPeriodEnd</td>
            </tr>
            <tr>
                <td colspan="4" height="8"></td>
            </tr>
        </table>
        <div class="OW-center">
            <div class="OW-W6-WOTLTMonth-ContentText">
                @Model.BalanceSheetDesc<br />
                最後結算時間：@Model.IntervalEnd.ToString("yyyy/MM/dd") <br />
                退貨金額：@String.Format("{0:$#,0}", Model.DeductAmount)<br />
                異動金額：@String.Format("{0:$#,0}", Model.PaymentChangeAmount)<br />
                @{
                    if (Model.IsTransferComplete)
                    {
                        @:本月實付金額：@String.Format("{0:$#,0}", Model.PaidAmount) <br />
                    }
                    else
                    {
                        string paymentDesc = "應付";
                        if (Model.EstAmount < 0)
                        {
                            paymentDesc = "溢付";
                        }

                        @:本次@(paymentDesc)金額：@String.Format("{0:$#,0}", Model.EstAmount)<br />
                    }
                }
            </div>
            <br />
            <br />
            @{
                string bgColor = "";
                int u = 0;
                u = 0;
                <table border="0" cellspacing="0" cellpadding="0" class="OW-W6-WOTLTMonth-infoTable">
                    @if (ViewBag.IsEnableVbsNewShipFile)
                    {
                        <tr>
                            <td colspan="12" class="OW-W5_3-Table2-DLTD_top-tittleStyle">應付貨款與運費明細</td>
                        </tr>
                        <tr>
                            <td width="200" class="OW-W5_3-Table2-DLTD_topStyle">購買日期</td>
                            <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">檔號</td>
                            <td width="400" class="OW-W5_3-Table2-DLTD_topStyle">訂單編號</td>
                            <td width="380" class="OW-W5_3-Table2-DLTD_topStyle">方案名稱</td>
                            <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">方案組數</td>
                            <td width="200" class="OW-W5_3-Table2-DLTD_topStyle">出貨日期</td>
                            <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">稅前進價</td>
                            <td width="90" class="OW-W5_3-Table2-DLTD_topStyle">稅額</td>
                            <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">稅後進價</td>
                            <td width="110" class="OW-W5_3-Table2-DLTD_topStyle">運費(含稅)</td>
                            <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">品項規格</td>
                            <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">貨號</td>
                        </tr>
                        foreach (var deal in Model.DealInfos)
                        {
                            var orderId = string.Empty;
                            foreach (var info in deal.PayInfos.OrderBy(x => x.OrderCreateTime).ThenBy(x => x.OrderId))
                            {
                                if (u % 2 == 0)
                                {
                                    bgColor = "background-color:#FFFFFF;";
                                }
                                else
                                {
                                    bgColor = "background-color:#FDFEED;";
                                }

                                @*寫一筆方案資訊*@
                    if (orderId != info.OrderId)
                    {
                        <tr class='OW-W6-WOTLTMonth_UnderStyle' style='@bgColor'>
                            <td>@info.OrderCreateTime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                            <td>@deal.DealUniqueId</td>
                            <td>@info.OrderId</td>
                            <td style="padding-left: 3px; padding-right: 3px; text-align: left;">@deal.DealName</td>
                            <td>@info.Count</td>
                            <td>@info.ShipTime.ToString("yyyy/MM/dd")</td>
                            <td>@string.Format("{0:$#,###0}", deal.ItemUnTexCost)</td>
                            <td>@string.Format("{0:$#,###0}", deal.ItemCostTex)</td>
                            <td>@string.Format("{0:$#,###0}", deal.ItemCost)</td>
                            <td>@string.Format("{0:$#,###0}", deal.FreightAmount)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        orderId = info.OrderId;
                        u++;
                    }

                    if (u % 2 == 0)
                    {
                        bgColor = "background-color:#FFFFFF;";
                    }
                    else
                    {
                        bgColor = "background-color:#FDFEED;";
                    }

                    @*有規格品才寫*@
                    if (!string.IsNullOrEmpty(info.ItemOption) || !string.IsNullOrEmpty(info.ItemNo))
                    {
                        <tr class='OW-W6-WOTLTMonth_UnderStyle' style='@bgColor'>
                            <td>@info.OrderCreateTime.ToString("yyyy/MM/dd HH:mm:ss")</td>
                            <td>@deal.DealUniqueId</td>
                            <td>@info.OrderId</td>
                            <td style="padding-left: 3px; padding-right: 3px; text-align: left;">@deal.DealName</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@info.ItemOption</td>
                            <td>@info.ItemNo</td>
                        </tr>
                                    u++;
                                }
                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="OW-W5_3-Table2-DLTD_top-tittleStyle">請款明細</td>
                        </tr>
                        <tr>
                            <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">檔號</td>
                            <td width="140" class="OW-W5_3-Table2-DLTD_topStyle">訂單編號</td>
                            <td width="400" class="OW-W5_3-Table2-DLTD_topStyle">方案名稱</td>
                            <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">出貨數</td>
                        </tr>
                        foreach (var deal in Model.DealInfos)
                        {
                            foreach (var info in deal.PayInfos)
                            {
                                if (u % 2 == 0)
                                {
                                    bgColor = "background-color:#FFFFFF;";
                                }
                                else
                                {
                                    bgColor = "background-color:#FDFEED;";
                                }

                                <tr class='OW-W6-WOTLTMonth_UnderStyle' style='@bgColor'>
                                    <td>@deal.DealUniqueId</td>
                                    <td>@info.OrderId</td>
                                    <td style="padding-left: 3px; padding-right: 3px; text-align: left;">@deal.DealName</td>
                                    <td>@info.Count</td>
                                </tr>
                                u++;
                            }
                        }
                    }
                </table>
                if (u > 0)
                {
                    u = 0;
                }
                <table border="0" cellspacing="0" cellpadding="0" class="OW-W6-WOTLTMonth-infoTable">
                    <tr>
                        <td colspan="5" class="OW-W5_3-Table2-DLTD_top-tittleStyle">退貨明細</td>
                    </tr>
                    <tr>
                        <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">檔號</td>
                        <td width="140" class="OW-W5_3-Table2-DLTD_topStyle">訂單編號</td>
                        <td width="400" class="OW-W5_3-Table2-DLTD_topStyle">方案名稱</td>
                        <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">退貨數</td>
                        <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">運費</td>
                    </tr>
                    @foreach (var deal in Model.DealInfos)
                    {
                        foreach (var info in deal.DeductInfos)
                        {
                            if (u % 2 == 0)
                            {
                                bgColor = "background-color:#FFFFFF;";
                            }
                            else
                            {
                                bgColor = "background-color:#FDFEED;";
                            }
                            <tr class="OW-W6-WOTLTMonth_UnderStyle" style='@bgColor'>
                                <td>@deal.DealUniqueId</td>
                                <td>@info.OrderId</td>
                                <td style="padding-left:3px; padding-right:3px; text-align:left;">@deal.DealName</td>
                                <td>@info.Count</td>
                                <td>@deal.FreightAmount</td>
                            </tr>
                            u++;
                        }
                    }
                </table>
                if (u > 0)
                {
                    u = 0;
                }

                if (Model.DealInfos.Sum(x => x.ISPFamilyBeforeInfo.Count()) > 0)
                {
                    List<DateTime> ispFamilyFreightsChangeDateList = BalanceSheetService.GetIspFreightsChangeDateList(ProductDeliveryType.FamilyPickup);
                    List<int> ispFamilyBeforeFreightsList = config.ISPFamilyBeforeFreights.Split(",").ToList().Select(freight => Int32.Parse(freight)).ToList();

                    for (int i = 1; i < ispFamilyFreightsChangeDateList.Count; i++)
                    {
                        <table border="0" cellspacing="0" cellpadding="0" class="OW-W6-WOTLTMonth-infoTable">
                            <tr>
                                <td colspan="3" class="OW-W5_3-Table2-DLTD_top-tittleStyle">物流處理明細 (全家)</td>
                                <td colspan="2" class="OW-W5_3-Table2-DLTD_top-tittleStyle" style="text-align:right">舊物流處理費用：@ispFamilyBeforeFreightsList[i - 1] 元/筆</td>
                            </tr>
                            <tr>
                                <td width="60" class="OW-W5_3-Table2-DLTD_topStyle">序號</td>
                                <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">檔號</td>
                                <td width="140" class="OW-W5_3-Table2-DLTD_topStyle">訂單編號</td>
                                <td width="270" class="OW-W5_3-Table2-DLTD_topStyle">方案名稱</td>
                                <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">實際入倉日</td>
                            </tr>
                            @foreach (var deal in Model.DealInfos)
                            {
                                foreach (var info in deal.ISPFamilyBeforeInfo.Where(x => x.ShipToStockTime >= ispFamilyFreightsChangeDateList[i - 1] && x.ShipToStockTime < ispFamilyFreightsChangeDateList[i]))
                                {
                                    if (u % 2 == 0)
                                    {
                                        bgColor = "background-color:#FFFFFF;";
                                    }
                                    else
                                    {
                                        bgColor = "background-color:#FDFEED;";
                                    }
                                    <tr class='OW-W6-WOTLTMonth_UnderStyle' style='@bgColor'>
                                        <td>@(u + 1)</td>
                                        <td>@deal.DealUniqueId</td>
                                        <td>@info.OrderId</td>
                                        <td style="padding-left:3px; padding-right:3px; text-align:left;">@deal.DealName</td>
                                        <td>@info.ShipToStockTime.ToString("yyyy/MM/dd")</td>
                                    </tr>
                                    u++;
                                }
                            }
                        </table>
                        if (u > 0)
                        {
                            u = 0;
                        }
                    }
                }


                <table border="0" cellspacing="0" cellpadding="0" class="OW-W6-WOTLTMonth-infoTable">
                    <tr>
                        <td colspan="3" class="OW-W5_3-Table2-DLTD_top-tittleStyle">物流處理明細 (全家)</td>
                        <td colspan="2" class="OW-W5_3-Table2-DLTD_top-tittleStyle" style="text-align:right">物流處理費用：@config.ISPFamilyNowFreights 元/筆</td>
                    </tr>
                    <tr>
                        <td width="60" class="OW-W5_3-Table2-DLTD_topStyle">序號</td>
                        <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">檔號</td>
                        <td width="140" class="OW-W5_3-Table2-DLTD_topStyle">訂單編號</td>
                        <td width="270" class="OW-W5_3-Table2-DLTD_topStyle">方案名稱</td>
                        <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">實際入倉日</td>
                    </tr>
                    @foreach (var deal in Model.DealInfos)
                    {
                        foreach (var info in deal.ISPFamilyNowInfo)
                        {
                            if (u % 2 == 0)
                            {
                                bgColor = "background-color:#FFFFFF;";
                            }
                            else
                            {
                                bgColor = "background-color:#FDFEED;";
                            }
                            <tr class='OW-W6-WOTLTMonth_UnderStyle' style='@bgColor'>
                                <td>@(u + 1)</td>
                                <td>@deal.DealUniqueId</td>
                                <td>@info.OrderId</td>
                                <td style="padding-left:3px; padding-right:3px; text-align:left;">@deal.DealName</td>
                                <td>@info.ShipToStockTime.ToString("yyyy/MM/dd")</td>
                            </tr>
                            u++;
                        }
                    }
                </table>
                if (u > 0)
                {
                    u = 0;
                }

                if (Model.DealInfos.Sum(x => x.ISPSevenBeforeInfo.Count()) > 0)
                {
                    List<DateTime> ispSevenFreightsChangeDateList = BalanceSheetService.GetIspFreightsChangeDateList(ProductDeliveryType.SevenPickup);
                    List<int> ispSevenBeforeFreightsList = config.ISPSevenBeforeFreights.Split(",").ToList().Select(freight => Int32.Parse(freight)).ToList();

                    for (int i = 1; i < ispSevenFreightsChangeDateList.Count; i++)
                    {
                        <table border="0" cellspacing="0" cellpadding="0" class="OW-W6-WOTLTMonth-infoTable">
                            <tr>
                                <td colspan="3" class="OW-W5_3-Table2-DLTD_top-tittleStyle">物流處理明細 (7-11)</td>
                                <td colspan="2" class="OW-W5_3-Table2-DLTD_top-tittleStyle" style="text-align:right">舊物流處理費用：@ispSevenBeforeFreightsList[i - 1] 元/筆</td>
                            </tr>
                            <tr>
                                <td width="60" class="OW-W5_3-Table2-DLTD_topStyle">序號</td>
                                <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">檔號</td>
                                <td width="140" class="OW-W5_3-Table2-DLTD_topStyle">訂單編號</td>
                                <td width="270" class="OW-W5_3-Table2-DLTD_topStyle">方案名稱</td>
                                <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">實際入倉日</td>
                            </tr>
                            @foreach (var deal in Model.DealInfos)
                            {
                                foreach (var info in deal.ISPSevenBeforeInfo.Where(x => x.ShipToStockTime >= ispSevenFreightsChangeDateList[i - 1] && x.ShipToStockTime < ispSevenFreightsChangeDateList[i]))
                                {
                                    if (u % 2 == 0)
                                    {
                                        bgColor = "background-color:#FFFFFF;";
                                    }
                                    else
                                    {
                                        bgColor = "background-color:#FDFEED;";
                                    }
                                    <tr class='OW-W6-WOTLTMonth_UnderStyle' style='@bgColor'>
                                        <td>@(u + 1)</td>
                                        <td>@deal.DealUniqueId</td>
                                        <td>@info.OrderId</td>
                                        <td style="padding-left:3px; padding-right:3px; text-align:left;">@deal.DealName</td>
                                        <td>@info.ShipToStockTime.ToString("yyyy/MM/dd")</td>
                                    </tr>
                                    u++;
                                }
                            }
                        </table>
                        if (u > 0)
                        {
                            u = 0;
                        }
                    }
                }


                <table border="0" cellspacing="0" cellpadding="0" class="OW-W6-WOTLTMonth-infoTable">
                    <tr>
                        <td colspan="3" class="OW-W5_3-Table2-DLTD_top-tittleStyle">物流處理明細 (7-11)</td>
                        <td colspan="2" class="OW-W5_3-Table2-DLTD_top-tittleStyle" style="text-align:right">物流處理費用：@config.ISPSevenNowFreights 元/筆</td>
                    </tr>
                    <tr>
                        <td width="60" class="OW-W5_3-Table2-DLTD_topStyle">序號</td>
                        <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">檔號</td>
                        <td width="140" class="OW-W5_3-Table2-DLTD_topStyle">訂單編號</td>
                        <td width="270" class="OW-W5_3-Table2-DLTD_topStyle">方案名稱</td>
                        <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">實際入倉日</td>
                    </tr>
                    @foreach (var deal in Model.DealInfos)
                    {
                        foreach (var info in deal.ISPSevenNowInfo)
                        {
                            if (u % 2 == 0)
                            {
                                bgColor = "background-color:#FFFFFF;";
                            }
                            else
                            {
                                bgColor = "background-color:#FDFEED;";
                            }
                            <tr class='OW-W6-WOTLTMonth_UnderStyle' style='@bgColor'>
                                <td>@(u + 1)</td>
                                <td>@deal.DealUniqueId</td>
                                <td>@info.OrderId</td>
                                <td style="padding-left:3px; padding-right:3px; text-align:left;">@deal.DealName</td>
                                <td>@info.ShipToStockTime.ToString("yyyy/MM/dd")</td>
                            </tr>
                            u++;
                        }
                    }
                </table>
                if (u > 0)
                {
                    u = 0;
                }
                <table border="0" cellspacing="0" cellpadding="0" class="OW-W6-WOTLTMonth-infoTable">
                    <tr>
                        <td colspan="2" class="OW-W5_3-Table2-DLTD_top-tittleStyle">物流處理明細(PCHOME)</td>
                        <td colspan="8" class="OW-W5_3-Table2-DLTD_top-tittleStyle" style="text-align:right">總計：包材費 + 運費 + 退貨運費 + 出倉作業處理費/筆</td>
                    </tr>
                    <tr>
                        <td width="60" class="OW-W5_3-Table2-DLTD_topStyle">序號</td>
                        <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">檔號</td>
                        <td width="140" class="OW-W5_3-Table2-DLTD_topStyle">訂單編號</td>
                        <td width="270" class="OW-W5_3-Table2-DLTD_topStyle">方案名稱</td>
                        <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">實際出貨日</td>
                        <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">包材費</td>
                        <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">運費</td>
                        <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">退貨運費</td>
                        <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">出貨作業處理費</td>
                        <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">總計</td>
                    </tr>
                    @foreach (var deal in Model.DealInfos)
                    {
                        for (int i = 0; i < deal.WmsOrderInfo.Rows.Count; i++)
                        {
                            if (u % 2 == 0)
                            {
                                bgColor = "background-color:#FFFFFF;";
                            }
                            else
                            {
                                bgColor = "background-color:#FDFEED;";
                            }
                            <tr class='OW-W6-WOTLTMonth_UnderStyle' style='@bgColor'>
                                <td>@(u + 1)</td>
                                <td>@deal.DealUniqueId</td>
                                <td>@deal.WmsOrderInfo.Rows[i]["OrderId"].ToString()</td>
                                <td style="padding-left:3px; padding-right:3px; text-align:left;">@deal.DealName</td>
                                <td>@deal.WmsOrderInfo.Rows[i]["ShipTime"].ToString()</td>
                                <td>@deal.WmsOrderInfo.Rows[i]["PackFee"].ToString()</td>
                                <td>@deal.WmsOrderInfo.Rows[i]["ShipFee"].ToString()</td>
                                <td>@deal.WmsOrderInfo.Rows[i]["RefundShipFee"].ToString()</td>
                                <td>@deal.WmsOrderInfo.Rows[i]["OrderServFee"].ToString()</td>
                                <td>@deal.WmsOrderInfo.Rows[i]["TotalFee"].ToString()</td>
                            </tr>
                            u++;
                        }
                    }
                </table>
                if (u > 0)
                {
                    u = 0;
                }
                <table border="0" cellspacing="0" cellpadding="0" class="OW-W6-WOTLTMonth-infoTable">
                    <tr>
                        <td colspan="7" class="OW-W5_3-Table2-DLTD_top-tittleStyle">逾期出貨補款明細</td>
                    </tr>
                    <tr>
                        <td width="200" class="OW-W5_3-Table2-DLTD_topStyle">訂單編號</td>
                        <td width="200" class="OW-W5_3-Table2-DLTD_topStyle">訂單類型</td>
                        <td width="150" class="OW-W5_3-Table2-DLTD_topStyle">預計出貨日</td>
                        <td width="150" class="OW-W5_3-Table2-DLTD_topStyle">上傳出貨日</td>
                        <td width="170" class="OW-W5_3-Table2-DLTD_topStyle">售價</td>
                        <td width="170" class="OW-W5_3-Table2-DLTD_topStyle">罰款/異動金額</td>
                        <td width="300" class="OW-W5_3-Table2-DLTD_topStyle">異動原因</td>
                    </tr>
                    @foreach (var deal in Model.DealInfos)
                    {
                        foreach (var info in deal.PositiveOverdueInfos)
                        {
                            if (u % 2 == 0)
                            {
                                bgColor = "background-color:#FFFFFF;";
                            }
                            else
                            {
                                bgColor = "background-color:#FDFEED;";
                            }
                            <tr class='OW-W6-WOTLTMonth_UnderStyle' style='@bgColor'>
                                <td>@info.Orderid</td>
                                <td>@info.ShipType</td>
                                @if (info.LashShipDate == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@info.LashShipDate.Value.ToString("yyyy/MM/dd")</td>
                                }
                                @if (info.CreateTime == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@info.CreateTime.Value.ToString("yyyy/MM/dd")</td>
                                }
                                <td>@info.ItemPrice</td>
                                <td>@info.Amount</td>
                                <td>@info.Reason</td>
                            </tr>
                            u++;
                        }
                    }
                </table>
                if (u > 0)
                {
                    u = 0;
                }
                <table border="0" cellspacing="0" cellpadding="0" class="OW-W6-WOTLTMonth-infoTable">
                    <tr>
                        <td colspan="7" class="OW-W5_3-Table2-DLTD_top-tittleStyle">逾期出貨罰款明細</td>
                    </tr>
                    <tr>
                        <td width="200" class="OW-W5_3-Table2-DLTD_topStyle">訂單編號</td>
                        <td width="200" class="OW-W5_3-Table2-DLTD_topStyle">訂單類型</td>
                        <td width="150" class="OW-W5_3-Table2-DLTD_topStyle">預計出貨日</td>
                        <td width="150" class="OW-W5_3-Table2-DLTD_topStyle">上傳出貨日</td>
                        <td width="170" class="OW-W5_3-Table2-DLTD_topStyle">售價</td>
                        <td width="170" class="OW-W5_3-Table2-DLTD_topStyle">罰款/異動金額</td>
                        <td width="300" class="OW-W5_3-Table2-DLTD_topStyle">異動原因</td>
                    </tr>
                    @foreach (var deal in Model.DealInfos)
                    {
                        foreach (var info in deal.NegativeOverdueInfos)
                        {
                            if (u % 2 == 0)
                            {
                                bgColor = "background-color:#FFFFFF;";
                            }
                            else
                            {
                                bgColor = "background-color:#FDFEED;";
                            }
                            <tr class='OW-W6-WOTLTMonth_UnderStyle' style='@bgColor'>
                                <td>@info.Orderid</td>
                                <td>@info.ShipType</td>
                                @if (info.LashShipDate == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@info.LashShipDate.Value.ToString("yyyy/MM/dd")</td>
                                }
                                @if (info.CreateTime == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@info.CreateTime.Value.ToString("yyyy/MM/dd")</td>
                                }
                                <td>@info.ItemPrice</td>
                                <td>@info.Amount</td>
                                <td>@info.Reason</td>
                            </tr>
                            u++;
                        }
                    }
                </table>
                if (u > 0)
                {
                    u = 0;
                }
                <table border="0" cellspacing="0" cellpadding="0" class="OW-W6-WOTLTMonth-infoTable">
                    <tr>
                        <td colspan="5" class="OW-W5_3-Table2-DLTD_top-tittleStyle">異動金額</td>
                    </tr>
                    <tr>
                        <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">異動日期</td>
                        <td width="120" class="OW-W5_3-Table2-DLTD_topStyle">檔號</td>
                        <td width="270" class="OW-W5_3-Table2-DLTD_topStyle">方案名稱</td>
                        <td width="100" class="OW-W5_3-Table2-DLTD_topStyle">異動金額</td>
                        <td width="390" class="OW-W5_3-Table2-DLTD_topStyle">內容</td>
                    </tr>
                    @foreach (var deal in Model.DealInfos)
                    {
                        foreach (var info in deal.ChangeInfos)
                        {
                            if (u % 2 == 0)
                            {
                                bgColor = "background-color:#FFFFFF;";
                            }
                            else
                            {
                                bgColor = "background-color:#FDFEED;";
                            }
                            <tr class='OW-W6-WOTLTMonth_UnderStyle' style='@bgColor'>
                                <td>@info.CreateTime.ToString("yyyy/MM/dd")</td>
                                <td>@deal.DealUniqueId</td>
                                <td style="padding-left:3px; padding-right:3px; text-align:left;">@deal.DealName</td>
                                <td>@info.Amount</td>
                                <td style="padding-left:3px; padding-right:3px; text-align:left;">@info.Reason</td>
                            </tr>
                            u++;
                        }
                    }
                </table>


            }
        </div>
    </div>

</body>

</html>
