﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.Core.Enumeration
@using LunchKingSite.DataOrm
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
    }
}

@{
    List<VbsDocumentCategory> vdcs = ViewBag.DocumentCategory;
    List<VbsDocumentFile> vdfs = ViewBag.DocumentFile;
}


<h5 class="breadcrumbs-title" style="font-size:20px;font-weight:bold">@(ViewBag.Title)</h5>
<div class="col xl12 l12 m12 s12">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            @*<span class="card-title">說明</span>*@
            <p>
                @(ViewBag.SubTitle)
            </p>
        </div>
    </div>
</div>

@foreach (VbsDocumentCategory vdc in vdcs)
{
    List<VbsDocumentFile> vdfList = vdfs.Where(x => x.CategoryId == vdc.Id).ToList();
    if (vdfList.Count == 0)
    {
        continue;
    }
    <div style="padding-top:10px;font-size:larger"><i class="material-icons circle">folder</i>@vdc.CategoryName</div>
    <ul class="collection">
        @*<li class="collection-header" style="background-color:#feeeee"><h5>@(vdc.CategoryName)</h5></li>*@
        @foreach (VbsDocumentFile vdf in vdfList)
        {
            <li class="collection-item avatar">
                <a href="/Vbs/DownLoadVbsFile?id=@vdf.Id" >
                    <i class="material-icons circle red">cloud_download</i>
                </a>
                
                <p style="padding:10px 0px 10px 0px">
                    @(vdf.DisplayName)
                </p>

            </li>
        }
    </ul>
}
