﻿@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model VerificationStoreListModel
@{
    Layout = "~/Views/Shared/VerificationMiddleLayout.cshtml";
}

    <div class="OW-center">
        <div class="OW-w5-2-ListTittleBG">
            <div class="OW-w5-2-ListTittle">[@Model.DealUniqueId]@Model.DealName（分店數：@ViewBag.StoreCount）</div>
            @if (ViewBag.DealCount > 1)
            {
            <div class="OW-w5-2-ListBackBtn" onclick="window.location.href='@GetBackBtnUrl()'">回上頁</div>
            }
        </div>
        <div class="OW-StaffToWriteOff-w5-List">     
    @{
        int seq = 0;            
        string spnVerificationStateDesc = "";
        string spnVerificationStateClassName = "";
    
        foreach(var m in Model.StoreInfos)
        {
            if (seq % 2 == 1)
            {
                spnVerificationStateClassName = "OW-W3-Table2";  //table class name
            }
            else
            {
                spnVerificationStateClassName = "OW-W3-Table3";  //table class name
            }
            switch (m.VerificationState)
            {
                case VbsVerificationState.NotYetStart:
                    spnVerificationStateDesc = "尚未開始兌換";
                    spnVerificationStateClassName = "OW-W3-Table2-ListEnd";
                    break;
                case VbsVerificationState.Verifying:
                    spnVerificationStateDesc = "兌換中";   //所有分店顯示的兌換狀態(只要其中一間分店為兌換中 則顯示兌換中)
                    spnVerificationStateClassName = "OW-W3-Table2-ListIng";
                    break;
                case VbsVerificationState.Finished:
                    spnVerificationStateDesc = "活動結束";
                    spnVerificationStateClassName = "OW-W3-Table2-ListEnd";
                    break;
                default:
                    break;
            }
            var hideSalesInfo = Model.NoRestrictedStore && m.StoreId != "all";
             
        <table border="0" cellspacing="0" cellpadding="0" class="OW-W3-Table2" onclick="window.location.href='@Url.Action("VerificationCouponList", new { id = Model.DealId, type = Model.DealType, detailId = m.StoreId })'">
            <tr>
                <td>
                    <span class="OW-W3-Table2-ListTittle">@m.StoreName</span>
                    <span class="OW-W3-Table2-ListIng">@Html.Raw(hideSalesInfo ? string.Empty : string.Format("{0}%", m.VerificationPercent))</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="OW-W3-Table2-ListTime">
                        @if (hideSalesInfo)
                        {
                            @:已核銷：@String.Format("{0:#,0}", m.VerifiedCount)
                        }
                        else
                        {
                            @:總銷售：@String.Format("{0:#,0}", m.SaleCount)／退貨：@String.Format("{0:#,0}", m.ReturnCount)／已核銷：@String.Format("{0:#,0}", m.VerifiedCount)／未核銷：@String.Format("{0:#,0}", m.UnUsedCount)
                        }
                    </span>
                    <span class='@spnVerificationStateClassName'>@spnVerificationStateDesc</span>
                </td>
            </tr>
        </table>
            seq++;
        }
    }
    </div>
  </div>


@helper GetBackBtnUrl() {
    if (VbsCurrent.Is17LifeEmployee)
    {
        if (Request.UrlReferrer != null && Request.UrlReferrer.PathAndQuery.Contains("EmployeeVerificationDealList"))
        {
            @Html.Raw("javascript:history.back()");
        }
        else
        {
            @Html.Raw(Url.Action("EmployeeVerificationDealList"));
        }
    }
    else
    {
        @Html.Raw(Url.Action("VerificationDealList"));
    }
}