﻿@using LunchKingSite.BizLogic.Component
@using LunchKingSite.BizLogic.Model
@using LunchKingSite.Core
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem;

@model VerificationCouponListModel
@{    
    Layout = "~/Views/Shared/VerificationMiddleLayout.cshtml";

}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 300px;
        height:100px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 1s;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
</style>
<div class="OW-center">
    <div class="OW-w5-2-ListTittleBG">
      @if (!string.IsNullOrEmpty(Model.StoreName))
      {
      <div class="OW-w5-2-ListTittle"><a href="javascript:showDealPage();" class="aHrefCss">[@Model.DealUniqueId]@Model.DealName－@Model.StoreName</a></div>
      }
      else
      {
      <div class="OW-w5-2-ListTittle"><a href="javascript:showDealPage();" class="aHrefCss">[@Model.DealUniqueId]@Model.DealName</a></div>
      }      
      <div class="OW-w5-2-ListBackBtn" onclick="window.location.href='@GetBackBtnUrl()'">回上頁</div>
    </div>
    <table border="0" cellspacing="0" cellpadding="0" class="OW-W5_3-Table1">
        <tr>
            <td width="649">兌換期間：@Model.ExchangePeriodStartTime.ToString("yyyy/MM/dd") ~ @Model.ExchangePeriodEndTime.ToString("yyyy/MM/dd")</td>
            <td width="231">
            @if (Model.CountSummary.All > 0 && MvcUtility.IsAndroid() == false)
            {
                <div id="divVerificationCouponListExport" class="OW-W5_3-Inquiry-Btn" title="請先查詢後再進行匯出 Excel 動作">匯出Excel</div>
                <div id="divVerificationCouponListExportDetail" class="OW-W5_3-Detailedlist-Btn" title="請先查詢後再進行匯出 Excel 動作">匯出清冊</div>
            }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @if (!Model.HideSalesInfo)
                {
                    @:總銷售：@Model.CountSummary.AllCount　<br />
                    @:已核銷：@Model.CountSummary.VerifiedCount　|　未核銷：@Model.CountSummary.UnusedCount　|                
                　  @:完成退貨：@Model.CountSummary.ReturnCount　|　退貨中：@Model.CountSummary.ReturningCount　|                
                    @:逾期未使用 系統銷帳：@Model.CountSummary.ExpiredVerifiedCount
                }
                else
                {
                    @:已核銷：@Model.CountSummary.VerifiedCount
                }
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:20px;">
                <form id="queryCouponForm" action="@Url.Action("VerificationCouponList", "VendorBillingSystem")" method="get">
                <span style="float:left" >憑證編號查詢： <input name="couponNumber" id="couponNumber" type="text" value="格式範例:0001-1234" onfocus="if (this.value=='格式範例:0001-1234') this.value = ''" /></span>
                <div id="btnQueryCoupon" class="OW-W5_3-InMD-Btn">查詢</div>         
                </form>
            </td>
        </tr>
        <tr>
            <td height="45" colspan="2">
                <form id="queryStatusForm" action="@Url.Action("VerificationCouponList", "VendorBillingSystem")" method="get" accept-charset="utf-8">
                <div style="width:800px; float:left;">
                    <label>
                        顯示： 
                        <select name="verifyState" id="ddlCouponVerifyState">
                            <option value = "All" @Html.Raw(Model.VerifyState == VbsVerificationShowType.All ? "selected" : "")>全部</option>
                            <option value = "Verified" @Html.Raw(Model.VerifyState == VbsVerificationShowType.Verified ? "selected" : "")>已核銷</option>
                            <option value = "Unused" @Html.Raw(Model.VerifyState == VbsVerificationShowType.Unused ? "selected" : "")>未核銷</option>
                            <option value = "Return" @Html.Raw(Model.VerifyState == VbsVerificationShowType.Return ? "selected" : "")>完成退貨</option>
                            <option value = "Returning" @Html.Raw(Model.VerifyState == VbsVerificationShowType.Returning ? "selected" : "")>退貨中</option>
                            <option value="SysForcedVerified" @Html.Raw(Model.VerifyState == VbsVerificationShowType.SysExpiredVerified ? "selected" : "")>逾期未使用 系統銷帳</option>
                        </select>
                    </label>
                    <span id="dateArea">
                    <label>
                        <input type="hidden" id="dateFrom" name="dateFrom" value="@Request["dateFrom"]" />
                        <input type="hidden" id="dateTo" name="dateTo" value="@Request["dateTo"]" />
                        <select class="Years" id="yd" >
                            <option selected="selected" value="">年</option>
                        </select>
                    </label>
                    <label>
                        <select class="md" id="md">
                            <option value="">月</option>
                        </select>
                    </label>
                    <label>
                        <select class="md" id="dd">
                            <option value="">日</option>
                        </select>
                    </label>
                    ~
                    <label>
                        <select class="Years" id="yd2" >
                            <option selected="selected" value="">年</option>
                        </select>
                    </label>
                    <label>
                        <select class="md" id="md2">
                            <option value="">月</option>
                        </select>
                    </label>
                    <label>
                        <select class="md" id="dd2">
                            <option value="">日</option>
                        </select>
                    </label>
                    </span>
                </div>
                <div id="btnQueryStatus" class="OW-W5_3-InMD-Btn">查詢</div>
                </form>
            </td>
        </tr>
    </table>   
    <table border="0" cellspacing="0" cellpadding="0" class="w10-5-DetailedListTable textSize13" style="height: auto;color: #000; line-height: 28px; width: 908px; margin: 2px auto 0px auto;">
        <tr class="w10-5-OrderGrayTitle">
            @{
                var sortHeaders = MvcUtility.GenerateSortColumns(
                    VbsVerificationCouponInfo.Columns.Names,
                    Model.CouponInfos.SortColumn,
                    Model.CouponInfos.SortDescending, this.ViewContext);
                
            }
            <td width="105" class="@sortHeaders[VbsVerificationCouponInfo.Columns.CouponId].UpDown sort-initial">
                <a href="@sortHeaders[VbsVerificationCouponInfo.Columns.CouponId].Url" style="width:100%; display:inline-block">
                    憑證編號
                </a>
            </td>
            <td width="315" class="@sortHeaders[VbsVerificationCouponInfo.Columns.ProductName].UpDown sort-initial">
                <a href="@sortHeaders[VbsVerificationCouponInfo.Columns.ProductName].Url" style="width:100%; display:inline-block">
                商品名稱
                </a>
            </td>
            <td width="80" class="@sortHeaders[VbsVerificationCouponInfo.Columns.StoreName].UpDown sort-initial">
                <a href="@sortHeaders[VbsVerificationCouponInfo.Columns.StoreName].Url" style="width:100%; display:inline-block">
                分店
                </a>
            </td>
            <td width="75" class="@sortHeaders[VbsVerificationCouponInfo.Columns.VerifyState].UpDown sort-initial">
                <a href="@sortHeaders[VbsVerificationCouponInfo.Columns.VerifyState].Url" style="width:100%; display:inline-block">
                狀態
                </a>
            </td>
            <td width="120" class="@sortHeaders[VbsVerificationCouponInfo.Columns.ReturnDateTime].UpDown sort-initial">
                <a href="@sortHeaders[VbsVerificationCouponInfo.Columns.ReturnDateTime].Url" style="width:100%; display:inline-block">
                完成退貨時間
                </a>
            </td>
            <td width="140" class="@sortHeaders[VbsVerificationCouponInfo.Columns.VerifiedDateTime].UpDown sort-initial">
                <a href="@sortHeaders[VbsVerificationCouponInfo.Columns.VerifiedDateTime].Url" style="width:100%; display:inline-block">
                核銷時間
                </a>
            </td>
            <td width="75" class="@sortHeaders[VbsVerificationCouponInfo.Columns.UserName].UpDown sort-initial">
                <a href="@sortHeaders[VbsVerificationCouponInfo.Columns.UserName].Url" style="width:100%; display:inline-block">
                核銷帳號
                </a>
            </td>
        </tr>
        @{
            int seq = 1;
            string trbgcolor = "";
            string verifyStateDesc = "";
            foreach (var m in @Model.CouponInfos)
            {
                if (seq % 2 == 0)
                {
                    trbgcolor = "#FEF2ED";
                }
                else
                {
                    trbgcolor = "#FFFFFF";
                }

                switch (m.VerifyState)
                {
                    case VbsCouponVerifyState.Verified:
                        verifyStateDesc = "已核銷";
                        break;
                    case VbsCouponVerifyState.ExpiredVerified:
                        verifyStateDesc = "逾期未用系統銷帳";
                        break;
                    case VbsCouponVerifyState.UnUsed:
                        if (m.IsBooked!=null && m.IsBooked.Value)
                        {
                            verifyStateDesc = "未核銷(已預約)";
                            break;
                        }
                        if (m.IsReservationLock != null && m.IsReservationLock.Value)
                        {
                            verifyStateDesc = "未核銷(已鎖定)";
                            break;
                        }
                        verifyStateDesc = "未核銷";
                        break;
                    case VbsCouponVerifyState.Return:
                        verifyStateDesc = "完成退貨";
                        break;
                    case VbsCouponVerifyState.Returning:
                        verifyStateDesc = string.Format(@"<div class='tooltip'>{0}<br />{1}<span class='tooltiptext'><span style='color:#8ab0ed'>{2}</span><br />{3}</span></div>",
                                                         "退貨中",
                                                         "(仍可核銷)",
                                                         "【退貨中，仍可核銷】",
                                                         "此階段為退貨中，但尚未退貨完成<br />若客人嘗試使用該憑證，您仍可進行核銷<br />核銷完成後，退貨流程將不再進行");
                        break;
                }
                <tr style="height:50px; background-color:@trbgcolor; text-align:center; font-size: 13px; color: #000; line-height: 18px; padding:7px 0 7px 0;">
                    <td>@m.CouponId</td>
                    <td style="padding-left:3px; padding-right:3px; text-align:left">@m.ProductName</td>
                    <td style="padding-left:3px; padding-right:3px; text-align:left">@m.StoreName</td>
                    <td>@Html.Raw(verifyStateDesc)</td>
                    <td>@RenderDateTime(m.ReturnDateTime)</td>
                    <td>@RenderDateTime(m.VerifiedDateTime)</td>
                    <td>
                        <span style="width:90px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;display:inline-block">
                        @m.UserName
                        </span>
                    </td>
                </tr>
                seq++;
            }
        }
    </table>
    @RenderPagerBar(Model.CouponInfos)
</div>

@section Script{  
    <style type="text/css">
       .dataList td {
           padding-right:10px
       }
       .disabled-look
       {
           color:Gray!important;
       }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlCouponVerifyState').change(function (evt, isInit) {
                if (isInit != true) {
                    $('select', '#dateArea').val('');
                    $('#dateFrom').val('');
                    $('#dateTo').val('');
                }
                if ($(this).val() != 'Verified' && $(this).val() != 'Return') {
                    $('select', '#dateArea').attr('disabled', true).addClass('disabled-look');
                } else {
                    $('select', '#dateArea').removeAttr('disabled').removeClass('disabled-look');
                    var today = new Date();
                    $('#yd').val(today.getFullYear());
                    $('#md').val(today.getMonth() + 1);
                    $('#dd').val(today.getDate());
                    $('#yd2').val(today.getFullYear());
                    $('#md2').val(today.getMonth() + 1);
                    $('#dd2').val(today.getDate());

                    if ($('#dateFrom').val().length === 0) {
                        $('#dateFrom').val($('#yd').val() + '/' + $('#md').val() + '/' + $('#dd').val());
                    }
                    if ($('#dateTo').val().length === 0) {
                        $('#dateTo').val($('#yd2').val() + '/' + $('#md2').val() + '/' + $('#dd2').val());
                    }
                }
            });
            $('#ddlCouponVerifyState').trigger('change', true);

            $('#divVerificationCouponListExport').click(function () {
                var url = '@Html.Raw(Url.Action("VerificationCouponList", "VendorBillingSystem", MvcUtility.GetRouteValues(this.ViewContext, "excel", (int)ExportType.CouponList)))';
                window.location.href = url;
            });

            $('#divVerificationCouponListExportDetail').click(function () {
                var url = '@Html.Raw(Url.Action("VerificationCouponList", "VendorBillingSystem", MvcUtility.GetRouteValues(this.ViewContext, "excel", (int)ExportType.SellerList)))';
                window.location.href = url;
            });

            if ('@Request["couponNumber"]' != undefined && '@Request["couponNumber"]' != '') 
                $('input[id*=couponNumber]').val('@Request["couponNumber"]');
           
            createOption = function (text, value, selected) {
                var option = document.createElement("option");
                option.value = value;
                option.innerHTML = text;
                if (selected) {
                    option.selected = true;
                }
                return option;
            };

            uniSelectDate = function (yy, mm, dd, valField) {
                var dateParts = $(valField).val().split('/');
                var today = new Date();
                var defaultDays = new Date(today.getFullYear(), today.getMonth() + 1, 0).getDate();

                var hasDefault = dateParts.length == 3;
                if (hasDefault) {
                    var yval = parseInt(dateParts[0], 10);
                    var mval = parseInt(dateParts[1], 10);
                    var dval = parseInt(dateParts[2], 10);
                    if (yval > 0 && mval > 0) {
                        defaultDays = new Date(yval, mval, 0).getDate();
                    }
                }

                for (var i = 2012; i <= (new Date()).getFullYear() ; i++) {
                    if (hasDefault && i == yval) {
                        $(yy).append(createOption(i, i, true));
                    } else {
                        $(yy).append(createOption(i, i));
                    }
                }
                for (var i = 1; i <= 12; i++) {
                    var text = i;
                    if (i < 10) {
                        text = '0' + i;
                    }
                    if (hasDefault && i == mval) {
                        $(mm).append(createOption(text, i, true));
                    } else {
                        $(mm).append(createOption(text, i));
                    }
                }
                for (var i = 1; i <= defaultDays ; i++) {
                    var text = i;
                    if (i < 10) {
                        text = '0' + i;
                    }
                    if (hasDefault && i == dval) {
                        $(dd).append(createOption(text, i, true));
                    } else {
                        $(dd).append(createOption(text, i));
                    }
                }

                $(yy).add($(mm)).add($(dd)).change(function () {
                    $(valField).val($(yy).val() + '/' + $(mm).val() + '/' + $(dd).val());
                });
            };
            uniSelectDate('#yd', '#md', '#dd', '#dateFrom');
            uniSelectDate('#yd2', '#md2', '#dd2', '#dateTo');

            $('#yd').add($('#md')).change(function () {
                onChang_date('#yd', '#md', '#dd')
            });

            $('#yd2').add($('#md2')).change(function () {
                onChang_date('#yd2', '#md2', '#dd2')
            });

            $('#btnQueryCoupon').click(function () {
                $('#queryCouponForm').submit();
            });

            $('#btnQueryStatus').click(function () {
                $('#queryStatusForm').submit();
            });
        });

        //年、月選單改變時
        function onChang_date(yy, mm, dd) {
            if ($(yy).val() != '' && $(mm).val() != '') {

                var date_temp = new Date($(yy).val(), $(mm).val(), 0);

                //移除超過此月份的天數
                $(dd).children().each(function () {
                    if ($(this).val() != -1) {
                        if ($(this).val() > date_temp.getDate()) {
                            $(this).remove();
                        }
                    }
                });

                //加入此月份的天數
                for (var i = $(dd)[0].options.length; i <= date_temp.getDate() ; i++) {
                    var text = i;
                    if (i < 10) {
                        text = '0' + i;
                    }
                    $(dd).append(createOption(text, i));
                }

            } else {
                $(dd).removeAttr("selected");
            }
        }

        function showDealPage() {
            var url = "";
            if ('@Model.DealType' === "Ppon"){
                url = '@Url.Content("~/Ppon/default.aspx?bid=" + @Model.DealId)';
            }
            else{
                url = '@Url.Content("~/piinlife/HiDeal.aspx?pid=" + @Model.DealUniqueId)';
            }
            //Demo版 點選檔次連結至P好康或品生活首頁
            if ('@ViewBag.UserId' == "DEMONO0001" || '@ViewBag.UserId' == "DEMONO0002") {
                var array = url.split("?");
                url = array[0];
            }
            
            window.open(url);
        }
    </script>
}
@helper RenderDateTime(DateTime? dt)
{
    if (dt != null)
    {
        @Html.Raw(dt.Value.ToString());
    }
    else
    {
        @Html.Raw("&nbsp;");
    }
}
@helper RenderPagerBar(PagerList<VbsVerificationCouponInfo> pagerData)
{
    int nextPage = pagerData.CurrentPage + 1;
    int prevPage = pagerData.CurrentPage - 1;
    string firstPageUrl = Url.Action("VerificationCouponList", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MinPage));
    string lastPageUrl = Url.Action("VerificationCouponList", MvcUtility.GetRouteValues(ViewContext, "pageNumber", pagerData.MaxPage));
    string nextPageUrl = Url.Action("VerificationCouponList", MvcUtility.GetRouteValues(ViewContext, "pageNumber", nextPage));
    string prevPageUrl = Url.Action("VerificationCouponList", MvcUtility.GetRouteValues(ViewContext, "pageNumber", prevPage));
    string pagerPattern = Url.Action("VerificationCouponList", MvcUtility.GetRouteValues(ViewContext, "pageNumber", "_pageNumber"));
    <div style="text-align:center;">
        <table style="padding: 5px; margin-top: 10px; display:inline-block; width:520px;">
            <tr>
                <td style="width:60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@firstPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper_st.png")"/>
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper_st.png")" style="visibility:hidden" />
                    }
                </td>
                <td style="width:60px">
                    @if (pagerData.HasPreviousPage)
                    {
                        <a href="@prevPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/Upper.png")"/>
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/Upper.png")" style="visibility:hidden" />
                    }
                </td>
                <td style="width:auto; font-size:15px">
                    第 
                    <select style="margin: 3px 5px 3px 5px" pagerPattern="@pagerPattern" 
                        onchange="location.href=$(this).attr('pagerPattern').replace('_pageNumber',$(this).val());">
                        @for (int i = pagerData.MinPage; i <= pagerData.MaxPage; i++)
                        {
                            <option value="@i" @Html.Raw(pagerData.CurrentPage == i ? "selected" : "")>@i</option>
                        }
                    </select> 
                    頁 / 共 <span style="font-weight:bold">@pagerData.MaxPage</span> 頁 | <span style="font-weight:bold">@pagerData.TotalItemCount</span> 筆資料            
                </td>
                <td style="width:60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@nextPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/lower.png")"/>
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/lower.png")" style="visibility:hidden" />
                    }
                </td>
                <td style="width:60px">
                    @if (pagerData.HasNextPage)
                    {
                        <a href="@lastPageUrl">
                            <img src="@Url.Content("~/Themes/OWriteOff/lower_st.png")"/>
                        </a>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Themes/OWriteOff/lower_st.png")" style="visibility:hidden"/>
                    }
                </td>
            </tr>
        </table>    
    </div>
}


@helper GetBackBtnUrl()
{
    if (ViewBag.StoreCount > 1)
    {
        if (Request.UrlReferrer != null && Request.UrlReferrer.PathAndQuery.Contains("VerificationStoreList"))
        {
            @Html.Raw("javascript:history.back()");
        }
        else
        {
            @Html.Raw(Url.Action("VerificationStoreList", new { id = Model.DealId, type = Model.DealType }));
        }
    }
    else
    {
        if (VbsCurrent.Is17LifeEmployee)
        {
            if (Request.UrlReferrer != null && Request.UrlReferrer.PathAndQuery.Contains("EmployeeVerificationDealList"))
            {
                @Html.Raw("javascript:history.back()");
            }
            else
            {
                @Html.Raw(Url.Action("EmployeeVerificationDealList"));
            }
        }
        else
        {
            @Html.Raw(Url.Action("VerificationDealList"));
        }
    }    
}