﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model VerificationDealListModel
@{    
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<div class="OWriteOff">
	<div class="OW-center">
		<form id="VerifyForm" action="">
		<div id="div_EnterCode" class="OW-W3_2">
			<div class="OW-W9_Barcode">
				<div class="OW-W9_2-BarcodeBtn">
					<div class="OW-W9_enterpic"></div>
				</div>
			@{
				string inputType = "text";
				if (MvcUtility.IsAndroid())
				{
					inputType = "number";
				}
				<div class="OW-W9-2Nbs">
					憑證編號：
					<input name="textfield" type="text" disabled="disabled" id="textfield" value="第一組號碼不需輸入" />
					<input name="txtPrefixCoupon" id="txtPrefixCoupon" type="hidden" />
					- <span class="OW-W3_2-WriteOff-Numbers2">
							<input name="txtCouponP1" type='@inputType' id="txtCouponP1" value="" /></span><a class="info_set" href="@Url.Action("VerifyInfo")">商品券核銷說明</a><br />
					確認碼：<span class="OW-W3_2-WriteOff-ConfirmNBS">
							<input name="txtCouponP2" type='@inputType' id="txtCouponP2" value="" maxlength="6" onkeypress="return submitenter(this,event)" /></span>
				</div>
			}
			</div>
			<table border="0" cellspacing="0" cellpadding="0" class="OW-W4_1-Table1">
				<tr>
					<td height="79">
						<div class="OWriteOff-nb7" onclick="divCouponNumber_Click('7');">7</div>
					</td>
					<td>
						<div class="OWriteOff-nb8" onclick="divCouponNumber_Click('8');">8</div>
					</td>
					<td>
						<div class="OWriteOff-nb9" onclick="divCouponNumber_Click('9');">9</div>
					</td>
					<td>
						<div class="OWriteOff-nb0" onclick="divCouponNumber_Click('0');">0</div>
					</td>
				@if (ViewBag.Is17LifeEmployee)
				{
					<td rowspan="3">
						<div class="OWriteOff-Send" onclick="divSend_Click();">核<br/>銷</div>
					</td>
				}
				else
				{
					<td rowspan="2">
						<div class="OWriteOff-Send2" onclick="divSend_Click();">核<br/>銷</div>
					</td>                          
				}
				</tr>
				<tr>
					<td>
						<div class="OWriteOff-nb4" onclick="divCouponNumber_Click('4');">4</div>
					</td>
					<td>
						<div class="OWriteOff-nb5" onclick="divCouponNumber_Click('5');">5</div>
					</td>
					<td>
						<div class="OWriteOff-nb6" onclick="divCouponNumber_Click('6');">6</div>
					</td>
					<td>
						<div class="OWriteOff-X" onclick="divBackspace_Click();">
							<div class="ow-skewer"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td height="60">
						<div class="OWriteOff-nb1" onclick="divCouponNumber_Click('1')">1</div>
					</td>
					<td>
						<div class="OWriteOff-nb2" onclick="divCouponNumber_Click('2');">2</div>
					</td>
					<td>
						<div class="OWriteOff-nb3" onclick="divCouponNumber_Click('3');">3</div>
					</td>
					<td>
						<div class="OWriteOff-Remove" onclick="divInputClear_Click();">清除</div>
					</td>
				@if (!ViewBag.Is17LifeEmployee)
				{
					<td>
						<div class="OWriteOff-Cancel" onclick="divUnverify_Click()">取消核銷</div>
					</td>
				}
				</tr>
			</table>
		</div>

		<div id="div_BarCode" class="OW-W3_2">
			<div class="OW-W9_Barcode">
				<div class="OW-W9_enterBtn">
					<div class="OW-W9_2-Barcodepic"></div>
				</div>
				<div class="OW-W9_Scanning">
					<img src="@Url.Content("../Themes/OWriteOff/BarcodePic.jpg")" width="450" height="25" />
					<input name="txtBarCode" type="text" id="txtBarCode" value=""  style="ime-mode:disabled"  />
				</div>
			</div>
			<div class="OW-W9_Message">
				可以開始使用條碼核銷</div>
		</div>
		</form>
	</div>
</div>

@section Script{
    <script  type="text/javascript" src="@Url.Content("~/Tools/js/jquery.numeric.js")"></script>
    <script type="text/javascript">
        var txtCouponP1_focus = false;
        var txtCouponP2_focus = false;
        var incorrectCouponFormatMessage = "請輸入憑證碼後４碼，與確認碼６碼。";

        $("#txtCouponP1").focus(function () {
            txtCouponP1_focus = true;
            txtCouponP2_focus = false;
            $(this).attr('caretStart', $(this).caret().start);
            $(this).attr('caretEnd', $(this).caret().end);
            $('#txtCouponP2').removeAttr('caretStart').removeAttr('caretEnd');
        });

        $("#txtCouponP2").focus(function () {
            txtCouponP1_focus = false;
            txtCouponP2_focus = true;
            $(this).attr('caretStart', $(this).caret().start);
            $(this).attr('caretEnd', $(this).caret().end);
            $('#txtCouponP1').removeAttr('caretStart').removeAttr('caretEnd');
        });


        $.fn.dbc2sbc = function () {
            var tmp = new Array();
            var dbcString = $(this).val();
            var sbcString = "";
            for (var i = 0; i < dbcString.length; i++) {

                if (dbcString.charCodeAt(i) >= 65248) {
                    tmp[i] = dbcString.charCodeAt(i) - 65248;
                }
                else {
                    tmp[i] = dbcString.charCodeAt(i);
                }
                sbcString += String.fromCharCode(tmp[i]);

            }
            return sbcString;
        };

        $(document).ready(function () {
            $('#txtCouponP1').focus();
            $("#txtCouponP2").add($("#txtCouponP1")).numeric();
        });
        $('#div_BarCode').hide();
        $('#div_EnterCode').show();

        $('.OW-W9_2-BarcodeBtn').click(function () {
            $('#div_BarCode').show();
            $('#div_EnterCode').hide();
            $('#txtBarCode').focus();
            divBaseInputClear_Click();
        });

        $('.OW-W9_enterBtn').click(function () {
            $('#div_BarCode').hide();
            $('#div_EnterCode').show();
            $('#txtCouponP1').focus();
            divBaseInputClear_Click();
        });
        
        var barcode_watch_timer = false;
        var barcode_message_timer = false;
        var pre_temp_textbox = "";
        var temp_textbox = "";
        var textCount = 0;
        function process_barcode_input() {
            var sequenceNumber1 = "";
            var sequenceNumber2 = "";
            var couponCode = "";

            // if the timer is set, clear it
            if (barcode_watch_timer !== false) {
                clearTimeout(barcode_watch_timer);
            }


            if (pre_temp_textbox == "" && temp_textbox == "") {
                temp_textbox = $('#txtBarCode').dbc2sbc();
                textCount = temp_textbox.length - pre_temp_textbox.length;
            } else {
                pre_temp_textbox = temp_textbox;
                temp_textbox = $('#txtBarCode').dbc2sbc();
                textCount = temp_textbox.length - pre_temp_textbox.length;
            }

            if (textCount > 10) {
                //50ms 輸入超過10個字 認定為BarCode Scanner行為
                var sid = temp_textbox.split('-');
                sequenceNumber1 = sid[0];
                sequenceNumber2 = sid[1];
                couponCode = sid[2];
                $('#txtPrefixCoupon').val(sequenceNumber1);
                $('#textfield').val(sequenceNumber1);
                $('#txtCouponP1').val(sequenceNumber2);
                $('#txtCouponP2').val(couponCode);
                divBarCodeSend_Click();

            } else {
                //50ms 輸入小於10個字 認定為鍵盤輸入行為
                alert("條碼格式不正確，請使用條碼機掃描紙本憑證。");
                divBarCodeInputClear_Click();
                $('#txtBarCode').focus();
            }

        }

        $('#txtBarCode').keyup(function (event) {
            this.value = this.value.replace(/[\u4e00-\u9fa5]/g, '');
            var key = window.event ? event.keyCode : event.which;
            if (key == 13 || key == 8 || key == 32 || key == 27 || key == 229 || key == 197) return false;
            if (this.value.match(/[^\x00-\xff]/ig)) {
                $('.OW-W9_Message').html("<p style='color:red;'>將輸入法切換成英數模式才能掃描唷。（快速鍵提示：Shift）</p>");
                barcode_message_timer = window.setTimeout(function () {
                    $('.OW-W9_Message').html("可以開始使用條碼核銷");
                }, 5000);
                return false;
            }
            // if the timer is set, clear it
            if (barcode_watch_timer !== false) {
                clearTimeout(barcode_watch_timer);
                clearTimeout(barcode_message_timer);
            }
            // set the timer to wait 50ms for more input            
            barcode_watch_timer = setTimeout(function () {
                process_barcode_input();
            }, 100);
        });

        $('#txtBarCode').focus(function () {
            $(this).val("").css("color", "Black");
        });
        $('#txtBarCode').blur(function () {
            $(this).val("請點此開始掃描...").css("color","red");
        });

        $("#txtCouponP1").keyup(function (evt) {
            var keycode;
            if (window.event) keycode = window.event.keyCode;
            else if (evt) keycode = evt.which;
            if (keycode !== 37 && keycode !== 39) {
                if ($('#txtCouponP1').val().length >= 4) {
                    $('#txtCouponP1').val($('#txtCouponP1').val().substring(0, 4));
                    $('#txtCouponP2').focus();
                }
            }
            couponNumber_CaretSet($(this));
        });

        $("#txtCouponP1").mouseup(function () {
            couponNumber_CaretSet($(this));
        });

        $("#txtCouponP2").keyup(function (evt) {
            var keycode;
            if (window.event) keycode = window.event.keyCode;
            else if (evt) keycode = evt.which;
            if (keycode !== 37 && keycode !== 39) {
                if ($('#txtCouponP2').val().length >= 6) {
                    $('#txtCouponP2').val($('#txtCouponP2').val().substring(0, 6));
                }
            }
            couponNumber_CaretSet($(this));
        });

        $("#txtCouponP2").mouseup(function () {
            couponNumber_CaretSet($(this));
        });

        $("#txtCouponP1").keydown(
            couponNumber_KeyDown($(this))
        );

        $("#txtCouponP2").keydown(
            couponNumber_KeyDown($(this))
        );

        function couponNumber_CaretSet(evt) {
            if (evt) {
                $(evt).attr('caretStart', $(evt).caret().start);
                $(evt).attr('caretEnd', $(evt).caret().end);
            }
            else return true;
        }

        function couponNumber_KeyDown(evt) {
            var keycode;
            if (window.event) keycode = window.event.keyCode;
            else if (evt) keycode = evt.which;
            else return true;
            if (keycode == 8) {
                divBackspace_Click();
                return false;
            }
        }

        function divCouponNumber_Click(number) {
            if (txtCouponP2_focus) {
                if ($('#txtCouponP2').val().length == 6) {
                    return false;
                }
                var caretStart = $('#txtCouponP2').attr('caretStart');
                var caretEnd = $('#txtCouponP2').attr('caretEnd');
                if (caretStart != null) {
                    var text = $("#txtCouponP2").val().substr(0, caretStart);
                    text += number;
                    text += $("#txtCouponP2").val().substr(caretEnd);
                    $("#txtCouponP2").val(text);
                } else {
                    var text = $("#txtCouponP2").val();
                    text += number;
                }
                $("#txtCouponP2").val(text);
                $("#txtCouponP2").caret(text.length, text.length + 1);
                $("#txtCouponP2").focus();

            } else {
                if ($('#txtCouponP1').val().length == 4) {
                    $('#txtCouponP2').focus();
                    return false;
                }
                var caretStart = $('#txtCouponP1').attr('caretStart');
                var caretEnd = $('#txtCouponP1').attr('caretEnd');
                if (caretStart != null) {
                    var text = $("#txtCouponP1").val().substr(0, caretStart);
                    text += number;
                    text += $("#txtCouponP1").val().substr(caretEnd);
                    $("#txtCouponP1").val(text);
                } else {
                    var text = $("#txtCouponP1").val();
                    text += number;
                }
                $("#txtCouponP1").val(text);
                $("#txtCouponP1").caret(text.length, text.length + 1);
                $("#txtCouponP1").focus();
            }
        }

        function divBackspace_Click() {
            if (txtCouponP2_focus) {
                if ($('#txtCouponP2').val() == '') {
                    var text = $("#txtCouponP1").val();
                    $("#txtCouponP1").caret(text.length, text.length);
                    $("#txtCouponP1").focus();
                } else {
                    var caretStart = $('#txtCouponP2').attr('caretStart');
                    var caretEnd = $('#txtCouponP2').attr('caretEnd');
                    var text = $("#txtCouponP2").val();
                    if (caretEnd > 0) {
                        if (caretEnd - caretStart < 1) {
                            text = text.substr(0, caretStart - 1) + text.substr(caretEnd, text.length - 1);
                            $("#txtCouponP2").val(text);
                            $("#txtCouponP2").caret(caretEnd - 1, caretEnd - 1);

                        }
                        else {
                            text = text.substr(0, caretStart) + text.substr(caretEnd, text.length - 1);
                            $("#txtCouponP2").val(text);
                            if (caretEnd - caretStart == 1) {
                                $("#txtCouponP2").caret(caretEnd - 1, caretEnd - 1);
                            }
                            else {
                                $("#txtCouponP2").caret(Math.abs(text.length - caretEnd), Math.abs(text.length - caretEnd));
                            }
                        }
                    }
                    $("#txtCouponP2").focus();
                }
            } else {
                var caretStart = $('#txtCouponP1').attr('caretStart');
                var caretEnd = $('#txtCouponP1').attr('caretEnd');
                var text = $("#txtCouponP1").val();
                if (caretEnd > 0) {
                    if (caretEnd - caretStart < 1) {
                        text = text.substr(0, caretStart - 1) + text.substr(caretEnd, text.length - 1);
                        $("#txtCouponP1").val(text);
                        $("#txtCouponP1").caret(caretEnd - 1, caretEnd - 1);

                    }
                    else {
                        text = text.substr(0, caretStart) + text.substr(caretEnd, text.length - 1);
                        $("#txtCouponP1").val(text);
                        if (caretEnd - caretStart == 1) {
                            $("#txtCouponP1").caret(caretEnd - 1, caretEnd - 1);
                        }
                        else {
                            $("#txtCouponP1").caret(Math.abs(text.length - caretEnd), Math.abs(text.length - caretEnd));
                        }
                    }
                }
                $("#txtCouponP1").focus();
            }
        }
        
        function divInputClear_Click() {
            divBarCodeInputClear_Click();
            $("input[id$=txtCouponP1]").focus();

        }

        function divBarCodeInputClear_Click() {
            divBaseInputClear_Click();
            barcode_message_timer = window.setTimeout(function () {
                $('.OW-W9_Message').html("可以開始使用條碼核銷");
            }, 5000);
        }

        function divBaseInputClear_Click() {
            $("input[id$=txtPrefixCoupon]").val("");
            $("input[id$=textfield]").val("第一組號碼不需輸入");
            $("input[id$=txtCouponP1]").val("");
            $("input[id$=txtCouponP2]").val("");
            $("input[id$=txtBarCode]").val("");
            pre_temp_textbox = temp_textbox = "";
        }
        
        function divBarCodeSend_Click() {
            if ($("input[id$=txtCouponP1]").val().length != 4 || $("input[id$=txtCouponP2]").val().length != 6) {
                alert("條碼格式不正確，請使用條碼機掃描紙本憑證。");
                divBarCodeInputClear_Click();
                return false;
            }

            var formData = $('#VerifyForm').serialize();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Verify")',
                data: formData + '&isVerify=true',
                success: BarCodeVerifyResultHandler,
                error: BarCodeErrorHandler
            });

        }

        function divSend_Click() {
            if (!checkCouponInputInfo()) {
                alert(incorrectCouponFormatMessage);
                return false;
            }

            var formData = $('#VerifyForm').serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Verify")',
                data: formData + '&isVerify=true',
                success: resultHandler,
                error: errHandler
            });
        }

        function errHandler(jqXHR, ajaxOptions, thrownError) {
            if (jqXHR.status == 500) {
                window.location = '@Url.Action("Login")';
            }
        }
        
        function resultHandler(data) {
            var verifyChoice;
            if (data.IsCouponAvailable) { //核銷確認
                if (data.IsDuInTime) { //憑證已過使用期限；但仍在可核銷時限內
                    verifyChoice = window.confirm("此憑證已超過使用期限，確定要核銷此憑證嗎？");
                    if (!verifyChoice) {
                        return;
                    }
                }
                verifyChoice = window.confirm("您確定要核銷此張憑證嗎？\n\n" + "憑證號碼：" + data.CouponNumber + "\n" + "確認碼：" + data.CouponCode + "\n" + data.DealName + "\n" + "使用期限：" + data.UseStart + " ～ " + data.UseEnd + "\n" + "購買人：" + data.PayerName + "\n確定要核銷此張憑證請按【確定】，否則請按【取消】");
                if (verifyChoice) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("VerifyCoupon/")' + data.TrustId + "/" + data.UserId,
                        success: verifyResultHandler
                    });
                }
            } else {
                if (data.Message != undefined) {
                    alert(data.Message);
                }
                else { //憑證編號重複
                    $('body').html(data);
                }
            }
        }

        function verifyResultHandler(data) {
            alert(data.ResultMsg);
            if (data.IsVerifySuccess) { //核銷成功     
                divInputClear_Click();
            }
        }

        function checkCouponInputInfo()
        {
            if ($("input[id$=txtCouponP1]").val().length != 4 || $("input[id$=txtCouponP2]").val().length != 6) {
                return false;
            } else {
                return true;
            }
        }

        function divUnverify_Click()
        {
            if (!checkCouponInputInfo()) {
                alert(incorrectCouponFormatMessage);
                return false;
            }

            var formData = $('#VerifyForm').serialize();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Verify")',
                data: formData + '&isVerify=false',
                success: unverifyResultHandler,
                error: function (data) {
                    alert(data);
                }
            });
        }

        function unverifyResultHandler(data) {
            if (data.IsCouponAvailable) {
                if (window.confirm("您確定要［取消核銷］此憑證嗎？\n\n"
                                    + "憑證號碼：" + data.CouponNumber + "\n"
                                    + "確認碼：" + data.CouponCode + "\n\n" + data.DealName + "\n"
                                    + "使用期限：" + data.UseStart + " ～ " + data.UseEnd + "\n"
                                    + "確定要［取消核銷］此張憑證請按【確定】，否則請按【取消】"))
                {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UnverifyCoupon")',
                        data: 'id=' + data.TrustId + '&createId=' + data.UserId + '&dealType=' + data.dealType,
                        success: unverifyOkResultHandler,
                        error: function (data) {
                            alert(data);
                        }
                    });
                }
            } else
            {
                if (data.Message != undefined)
                {
                    alert(data.Message);
                }
                else
                { //憑證編號重複
                    $('body').html(data);
                }
            }
        }

        function unverifyOkResultHandler(data)
        {
            alert(data.ResultMsg);
            if (data.IsUnverifySuccess) {   
                divInputClear_Click();
            }
        }

        function BarCodeVerifyResultHandler(data) {
            var verifyChoice;
            if (typeof data.IsCouponAvailable != "undefined" && data.IsCouponAvailable) {
                if (data.IsDuInTime) {
                    verifyChoice = window.confirm("此憑證已超過使用期限，確定要核銷此憑證嗎？");
                    if (!verifyChoice) {
                        divBarCodeInputClear_Click();
                        return;
                    }
                }
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("VerifyCoupon/")' + data.TrustId + "/" + data.UserId,
                        success: IsDuInTimeVerifyHandler,
                        error: BarCodeErrorHandler
                    });
                } else {
                if (typeof data.Message == "undefined" || data.Message == null || data.Message == "") {
                    alert("系統繁忙中，請30秒後再試一次。");
                } else {
                    alert(data.Message);
                }
                divBarCodeInputClear_Click();
            }
        }

        function IsDuInTimeVerifyHandler(data) {
            if (typeof data.IsVerifySuccess !="undefined" && data.IsVerifySuccess) {
                $('.OW-W9_Message').html( temp_textbox + "<br />" + data.ResultMsg );
            } else {
                if (typeof data.ResultMsg == "undefined" || data.ResultMsg == null || data.ResultMsg=="") {
                    alert("系統繁忙中，請30秒後再試一次。");
                } else {
                    alert(data.ResultMsg);
                }
            }
            barcode_message_timer = window.setTimeout(function () {
                $('.OW-W9_Message').html("可以開始使用條碼核銷");
            }, 5000);
            divBarCodeInputClear_Click();
        }

        function BarCodeErrorHandler(xhr, ajaxOptions, thrownError) {
            alert("系統繁忙中，請30秒後再試一次。");
            barcode_message_timer = window.setTimeout(function () {
                $('.OW-W9_Message').html("可以開始使用條碼核銷");
            }, 5000);
            divBarCodeInputClear_Click();

        }

        function submitenter(myfield, e) {
            var keycode;
            if (window.event) keycode = window.event.keyCode;
            else if (e) keycode = e.which;
            else return true;
            if (keycode == 13) {
                divSend_Click();
                return false;
            } else
                return true;
        }

        (function ($, len, createRange, duplicate) {
            $.fn.caret = function (options, opt2) {
                var start, end, t = this[0], browser = $.browser.msie;
                if (typeof options === "object" && typeof options.start === "number" && typeof options.end === "number") {
                    start = options.start;
                    end = options.end;
                } else if (typeof options === "number" && typeof opt2 === "number") {
                    start = options;
                    end = opt2;
                } else if (typeof options === "string") {
                    if ((start = t.value.indexOf(options)) > -1) end = start + options[len];
                    else start = null;
                } else if (Object.prototype.toString.call(options) === "[object RegExp]") {
                    var re = options.exec(t.value);
                    if (re != null) {
                        start = re.index;
                        end = start + re[0][len];
                    }
                }
                if (typeof start != "undefined") {
                    if (browser) {
                        var selRange = this[0].createTextRange();
                        selRange.collapse(true);
                        selRange.moveStart('character', start);
                        selRange.moveEnd('character', end - start);
                        selRange.select();
                    } else {
                        this[0].selectionStart = start;
                        this[0].selectionEnd = end;
                    }
                    this[0].focus();
                    return this
                } else {
                    // Modification as suggested by Андрей Юткин
                    if (browser) {
                        var selection = document.selection;
                        if (this[0].tagName.toLowerCase() != "textarea") {
                            var val = this.val(),
                                range = selection[createRange]()[duplicate]();
                            range.moveEnd("character", val[len]);
                            var s = (range.text == "" ? val[len] : val.lastIndexOf(range.text));
                            range = selection[createRange]()[duplicate]();
                            range.moveStart("character", -val[len]);
                            var e = range.text[len];
                        } else {
                            var range = selection[createRange](),
                                stored_range = range[duplicate]();
                            stored_range.moveToElementText(this[0]);
                            stored_range.setEndPoint('EndToEnd', range);
                            var s = stored_range.text[len] - range.text[len],
                                e = s + range.text[len]
                        }
                        // End of Modification
                    } else {
                        var s = t.selectionStart,
                            e = t.selectionEnd;
                    }
                    var te = t.value.substring(s, e);
                    return {
                        start: s,
                        end: e,
                        text: te,
                        replace: function (st) {
                            return t.value.substring(0, s) + st + t.value.substring(e, t.value[len])
                        }
                    }
                }
            }
        })(jQuery, "length", "createRange", "duplicate");
    </script>
}
