﻿@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model VerificationDealListModel
@{
    Layout = "~/Views/Shared/VerificationMiddleLayout.cshtml";
}
    <div class="OW-center">
        <div class="OW-StaffToWriteOff-w5-ListTittle">可查詢紀錄：@Model.DealInfos.Count() 筆</div>
        <div class="OW-StaffToWriteOff-w5-List">
    @{ 
        int seq = 1;
        string tblClassName = "";
        string spnVerificationStateClassName = "";
        string spnVerificationStateDesc = "";
        string spnStoreCountClassName = "";
        foreach (var m in @Model.DealInfos)
        {
            if (seq % 2 == 1)
            {
                tblClassName = "OW-W3-Table2";
            }
            else
            {
                tblClassName = "OW-W3-Table3";
            }

            switch (m.VerificationState)
            {
                case VbsVerificationState.NotYetStart:
                    spnVerificationStateClassName = "OW-W3-Table2-ListEnd";
                    spnStoreCountClassName = "OW-W5-Table2-BranchEnd";
                    spnVerificationStateDesc = "尚未開始兌換";
                    break;
                case VbsVerificationState.Verifying:
                    spnVerificationStateClassName = "OW-W3-Table2-ListIng";
                    spnStoreCountClassName = "OW-W5-Table2-Branch";
                    spnVerificationStateDesc = "兌換中";
                    break;
                case VbsVerificationState.Finished:
                    spnVerificationStateClassName = "OW-W3-Table2-ListEnd";
                    spnStoreCountClassName = "OW-W5-Table2-BranchEnd";
                    spnVerificationStateDesc = "活動結束";
                    break;
                default:
                    break;
            }
                
            <table border="0" cellspacing="0" cellpadding="0" class='@tblClassName' onclick="window.location.href='@Url.Action("VerificationStoreList", new { id = m.DealId, type = m.DealType })'">
                <tr>
                    <td>
                        <span class="OW-W3-Table2-ListTittle">[@m.DealUniqueId]@m.DealName</span>
                        <span class="OW-W3-Table2-ListIng">@m.VerificationPercent%</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="OW-W3-Table2-ListTime">兌換時間：@m.ExchangePeriodStartTime.ToString("yyyy/MM/dd") ~ @m.ExchangePeriodEndTime.ToString("yyyy/MM/dd")</span>
                        <span class='@spnVerificationStateClassName'>@spnVerificationStateDesc</span>
                        <span class='@spnStoreCountClassName'>（分店數：@m.StoreCount）</span>
                    </td>
                </tr>
            </table>
        
            seq++;
        }
    }
        </div>
    </div>