﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>17P好康核銷對帳系統</title>
    <link href="../Themes/OWriteOff/OWriteOff.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="OW-top OW-top-hig">
        <div class="ow-topCenter">
            <div class="ow-logo-big"></div>
        </div>
    </div>
    <div class="OWriteOff">
        <div class="OW-center OW-w1-IP">
            <div class="info_set_topic">商品券核銷說明</div>
            <div class="set_step">
                <div class="title"><span>Step1.</span><br />在「<strong>會員中心</strong>」中選擇要核銷的商品券憑證</div>
                <div class="pic"><img src="../Themes/OWriteOff/set_step_01.png" alt="Step1"></div>
            </div>
            <div class="set_step">
                <div class="title"><span>Step2.</span><br />點擊下方的「<strong>兌換序號&amp;確認碼</strong>」</div>
                <div class="pic"><img src="../Themes/OWriteOff/set_step_02.png" alt="Step2"></div>
            </div>
            <div class="set_step">
                <div class="title"><span>Step3.</span><br />依消費數量依序核銷相同數量的憑證即可</div>
                <div class="pic"><img src="../Themes/OWriteOff/set_step_03.png" alt="Step3"></div>
            </div>
        </div>
    </div>
</body>
</html>
