﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.WebLib.Models.VendorBillingSystem
@model VerifyModel
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<div class="OWriteOff">
	<div class="OW-center">
		<form id = "VerifyRepeatCouponListForm" action = "">
		<div class="OW-W3_2">
			<div class="OW-W3_2-WriteOff-SelectNumberText">
			請選擇您本次要
			 @if (!Model.isVerify){<font>取消</font>}核銷
			的編號
			</div>
			<a href='@Url.Action("Verify")' class="OW-W3_2-Re-election">
				<img src='@Url.Content("~/Themes/OWriteOff/OWriteOff-w3-2-Back.png")' width="112" height="235" alt="" />
			</a>
			<div class="OW-W3_2-NumberedList">
		@{ 
			int seq = 1;
			string divClassName = "";
			int dealType = 0;

			foreach (var m in Model.CouponInfos)
			{
				if (seq % 2 == 1)
				{
					divClassName = "OW-W3_2-NumberedSbg";
				}
				else
				{
					divClassName = "OW-W3_2-NumberedSbg2";
				}
				dealType = (int)m.DealType;
				string[] couponInfo = new string[] { 
						m.CouponId, 
						m.CouponCode, 
						m.DealName, 
						m.ExchangePeriodStartTime.ToString("yyyy/MM/dd"), 
						m.ExchangePeriodEndTime.ToString("yyyy/MM/dd"),
						m.PayerName
				};
				@:<div class='@divClassName' onclick="verifyConfirm('@m.IsCouponAvailable', '@m.IsDuInTime', '@string.Join(",", couponInfo)', '@m.Message.Replace("\n", "|")', '@m.TrustId', '@ViewBag.UserId','@Model.isVerify','@dealType');">@m.CouponId-@m.CouponCode</div>  
				seq++;
			}
		}
			</div>
		</div>
		</form>
	</div>
</div>

@section Script{  
<script type="text/javascript">

    function verifyConfirm(isCouponAvailable, isDuInTime, strCouponInfo, errMsg, trustId, userId, isVerify, dealType)
    {
        var verifyChoice;
        var couponInfo = strCouponInfo.split(",");
        if (isCouponAvailable === 'True')
        {
            var cancelText = "";
            if (isVerify === 'True') {
                //核銷確認
                if (isDuInTime === 'True') { //憑證已過使用期限；但仍在可核銷時限內
                    verifyChoice = window.confirm("此憑證已超過使用期限，確定要核銷此憑證嗎？");
                    if (!verifyChoice) {
                        return;
                    }
                }
            } else
            {
                cancelText = "取消";
            }
            
            verifyChoice = window.confirm("您確定要" + cancelText + "核銷此張憑證嗎？\n\n" + "憑證號碼：" + couponInfo[0] + "\n" + "確認碼：" + couponInfo[1] + "\n" + couponInfo[2] + "\n" + "使用期限：" + couponInfo[3] + " ～ " + couponInfo[4] + "\n" + "購買人：" + couponInfo[5] + "\n確定要" + cancelText + "核銷此張憑證請按【確定】，否則請按【取消】");

            if (verifyChoice) {
                if (isVerify === 'True') {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("VerifyCoupon/")' + trustId + "/" + userId,
                        success: resultHandler
                    });
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UnverifyCoupon")',
                        data: 'id=' + trustId + '&createId=' + userId + '&dealType=' + dealType,
                        success: unverifyResultHandler
                    });
                }
            }
        } else {
            if (errMsg != undefined || errMsg != "") {
                alert(errMsg.replace(/\|/ig, "\n"));
            }
        }
    }

    function resultHandler(data) {
        alert(data.ResultMsg);
        if (data.IsVerifySuccess) { //核銷成功     
            window.location.href = '@Url.Action("Verify")';
        }
    }
    function unverifyResultHandler(data) {
        alert(data.ResultMsg);
        if (data.IsUnverifySuccess) { //取消核銷成功     
            window.location.href = '@Url.Action("Verify")';
        }
    }
</script>
}