﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.DataOrm;
@{ 
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

@{
    List<ShoppingCartManageList> freights = ViewBag.Freights;
    List<Seller> sellers = ViewBag.Sellers as List<Seller>;
    int changes = (int)ViewBag.Changes;
}

<style>
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .btn .badge {
        position: relative;
        top: -18px;
        left: 18px;
    }

    .btn-primary .badge {
        color: #fff;
        background-color: #BF0000;
    }

    .badge {
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #777;
        border-radius: 10px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#CreateForm").submit(function () {
            var FreightsName = $.trim($("#FreightsName").val());
            var sellerId = $.trim($("#sellerId").val());
            var NoFreightLimit = $.trim($("#NoFreightLimit").val());
            var Freights = $.trim($("#Freights").val());

            return checkData(FreightsName, NoFreightLimit, Freights, sellerId);
        });
    });

    function ShowCreateForm() {
        var __visible = $("#CreateForm").is(':visible');
        if (__visible) {
            $("#CreateForm").hide();
        } else {
            $("#CreateForm").show();
        }
    }
    function CancelFreight(flag) {
        if (flag) {
            if (!confirm("確定不儲存便要離開?")) {
                return false;
            }
        }

        $("#FreightsName").val(""); //名稱
        $("#NoFreightLimit").val("");   //免費門檻
        $("#Freights").val(""); //未滿門檻收取運費
        $("#CreateForm").hide();
    }

    function checkData(FreightsName, NoFreightLimit, Freights, sellerId) {
        if (FreightsName == "") {
            alert("請輸入名稱");
            return false;
        }
        if (sellerId == "") {
            alert("請選擇賣家");
            return false;
        }
        if (NoFreightLimit == "") {
            alert("請輸入免費門檻");
            return false;
        }
        if (Freights == "") {
            alert("請輸入未滿門檻收取運費");
            return false;
        }
        if (isNaN(NoFreightLimit)) {
            alert("免費門檻須為數字");
            return false;
        }
        if (isNaN(Freights)) {
            alert("未滿門檻收取運費須為數字");
            return false;
        }

        $.ajax({
            url: "/vbs/sc/CheckFreightData",
            data: "{'FreightsName':'" + FreightsName + "','NoFreightLimit':'" + NoFreightLimit + "','Freights':'" + Freights + "'}",
            type: "POST",
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            error: function (e) {
                console.log(e.responseText);
            },
            success: function (s) {
                if (!s.IsSuccess) {
                    alert("資料已存在，不可重複新增!");
                    return false;
                } else {
                    
                    
                }
            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    function ApplyAll(id) {
        if (!confirm("確認將所有商品移動至此購物車?")) {
            return false;
        }

        $.ajax({
            url: "/vbs/sc/ApplyAllFreights",
            data: "{'id':'" + id + "'}",
            type: "POST",
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            error: function (e) {
                console.log(e.responseText);
            },
            success: function (s) {
                if (s.IsSuccess) {
                    alert(s.Message);
                    location.reload();
                } else {
                    alert(s.Message);
                }
            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });

    }

    function DeleteFreight(id) {
        if(!confirm("確定刪除?")){
            return false;
        }
        $.ajax({
            url: "/vbs/sc/DeleteFreight",
            data: "{'id':'" + id + "'}",
            type: "POST",
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            error: function (e) {
                console.log(e.responseText);
            },
            success: function (s) {
                if(s.IsSuccess){
                    alert("此購物車刪除成功!");
                    location.reload();
                }else{
                    alert(s.Message);
                }                
            }, error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    function OnExportExcel() {
        if (!confirm("確定匯出?")) {
            return false;
        }
        location.href = "ShoppingCartExportExcel";
    }
</script>

<div class="OWriteOff">
	<div class="OW-center">
		<p style="display:none">
			<button type="button" class="btn btn-primary" onclick="location.href='ShoppingCartConfirm'">購物車異動 <span class="badge">@changes</span></button>
		</p>
		<div class="data-input rd-data-input">
			<input type="button" name="btnCreateShoppingCart" value="新增購物車" id="btnCreateShoppingCart" onclick="ShowCreateForm()" class="OW-w5-2-ListBackBtn" style="float:left">
			<input type="button" name="btnExport" value="批次匯出檔次設定" id="btnExport" onclick="OnExportExcel()" class="OW-w5-2-ListBackBtn" style="float:left">
			<input type="button" name="btnImport" value="批次匯入設定購物車" id="btnImport" onclick="location.href='ShoppingCartImport'" class="OW-w5-2-ListBackBtn" style="float:left">
			<p>
				<a href="~/template/SalesDocs/ShoppingCartSample.xls">下載Excel格式</a>
			</p>
			<p>
				<font color="#FF6600">[提醒]購物車新增後，審核通過方能啟用、套用商品！</font>
			</p>
		</div>
		<div id="CreateForm" style="display:none">
			<form action="CreateShoppingCartFreight" method="post">
				<div class="form-unit">
					<div class="data-input rd-data-input">
						<p>
							<label class="unit-label rd-unit-label">
								名稱
							</label>
							<input name="FreightsName" type="text" id="FreightsName" class="input-half" style="width:200px;" maxlength="20">
						</p>
					</div>
				</div>
				@if (sellers.Count > 1)
				{
					<div class="form-unit">
						<div class="data-input rd-data-input">
							<p>
								<label class="unit-label rd-unit-label">
									賣家
								</label>
								<select id="sellerId" name="sellerId">
									<option value="">請選擇賣家</option>
									@foreach (var data in sellers)
									{
										<option value="@data.Guid">@data.SellerId - @data.SellerName</option>
									}
								</select>
							</p>
						</div>
					</div>
				}
				else
				{
					<div class="form-unit" style="display:none">
						<div class="data-input rd-data-input">
							<p>
								<label class="unit-label rd-unit-label">
									賣家
								</label>
								<select id="sellerId" name="sellerId" style="display:none">
									@foreach (var data in sellers)
									{
										<option value="@data.Guid">@data.SellerId - @data.SellerName</option>
									}
								</select>
							</p>
						</div>
					</div>
				}
				<div class="form-unit">
					<div class="data-input rd-data-input">
						<p>
							<label class="unit-label rd-unit-label">
								免費門檻
							</label>
							<input name="NoFreightLimit" type="text" id="NoFreightLimit" class="input-half" style="width:200px;" maxlength="5">
						</p>
					</div>
				</div>
				<div class="form-unit">
					<div class="data-input rd-data-input">
						<p>
							<label class="unit-label rd-unit-label">
								未滿門檻收取運費
							</label>
							<input name="Freights" type="text" id="Freights" class="input-half" style="width:200px;" maxlength="4">
						</p>
					</div>
				</div>
				<div class="form-unit">
					<div class="data-input rd-data-input">
						<p>
							<input type="submit" name="btnSave" value="確定" id="btnSave" class="OW-w5-2-ListBackBtn" style="float:left">
							<input type="button" name="btnCancel" value="取消" id="btnCancel" onclick="CancelFreight(true)" class="OW-w5-2-ListBackBtn" style="float:left">
						</p>
					</div>
				</div>
			</form>
		</div>

		<table style="width:100%" border="0" cellspacing="0" cellpadding="0" class="w11-DetailedListTable">
			<tr class="w11-OrderGrayTitle">
				<th style="width:10%">狀態</th>
				<th style="width:20%">賣家</th>
				<th style="width:5%">序號</th>
				<th style="width:20%">購物車名稱</th>
				<th style="width:10%">免運門檻</th>
				<th style="width:10%">未滿門檻<br/>收取運費</th>
				<th style="width:25%"></th>
			</tr>
			@foreach (ShoppingCartManageList freight in freights.OrderByDescending(x => x.FreightsStatus))
				{
				<tr class="w11-OrderGrayTitle">
					<td>@GetStatus(freight.FreightsStatus)</td>
					<td>@freight.SellerName</td>
					<td>@freight.UniqueId</td>                
					<td>@freight.FreightsName</td>
					<td>@freight.NoFreightLimit</td>
					<td>@freight.Freights</td>
					<td>
						<input type="button" name="btnDelete" value="刪除" id="btnDelete" onclick="DeleteFreight(@freight.Id)" class="OW-w5-2-ListBackBtn">
						<input type="button" name="btnAll" value="套用所有商品" id="btnApplyAll" onclick="ApplyAll(@freight.Id)" class="OW-w5-2-ListBackBtn">

					</td>
				</tr>
			}
		</table>
	</div>
</div>
	
@functions
{
    public string GetStatus(int s)
    {
        return LunchKingSite.Core.Helper.GetLocalizedEnum(LunchKingSite.I18N.Phrase.ResourceManager, (LunchKingSite.Core.ShoppingCartFreightStatus)s);
    }
}
