﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@{ 
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (ViewBag.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

@{
    List<LunchKingSite.DataOrm.ShoppingCartConfirmModel> items = ViewBag.FreightsItem;
}

<style>
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .btn-danger {
        color: #fff;
        background-color: #c9302c;
        border-color: #ac2925;
    }
</style>
<script type="text/javascript">
    function checkAll(o) {
        $.each($("#main input[type='checkbox']"), function (idx, obj) {
            if ($(obj).attr("id") != "checkAll") {
                $(obj).prop("checked", $(o).is(":checked"));
            }            
        });
    }
    function CheckChange() {
        var ids = [];
        $.each($("#main input[type='checkbox']"), function (idx, obj) {
            if ($(obj).attr("id") != "checkAll") {
                if ($(obj).is(":checked")) {
                    ids.push($(obj).val());
                }
            }
        });
        if (ids.length != 0) {
            if (!confirm("確認異動" + ids.length + "個檔次?")) {
                return false;
            }
            $.ajax({
                type: "POST",
                url: 'ShoppingCartFreightsCheck',
                data: "{'ids':'" + JSON.stringify(ids) + "'}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    alert(data.Message);
                    location.reload();
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        } else {
            alert("無勾選任何檔次。");
        }

        

        
    }
</script>

<div class="OWriteOff">
	<div class="OW-center">
		<div class="data-input rd-data-input">
			<p>
				<button type="button" class="btn btn-danger" onclick="location.href = 'ShoppingCartManage'" style="float:right"> 回上頁 </button>
			</p>
			<p>
				<font color="#BF0000">[購物車異動]共@(items.Count)筆</font>
			</p>
			<p>
				以下檔次在17Life後台有異動購物車選項,請商家再次確認此異動 !<br/>
				確認異動後,系統才會套用至往後的訂單!
			</p>
		</div>

		<table style="width:100%" border="0" cellspacing="0" cellpadding="0" class="w11-DetailedListTable" id="main">
			<tr class="w11-OrderGrayTitle">
				<th style="width:5%" ><input type="checkbox" onclick="checkAll(this)" id="checkAll" /></th>
				<th style="width:45%">檔名</th>
				<th style="width:30%">購物車異動結果</th>
				<th style="width:20%">異動時間</th>
			</tr>
			@foreach (LunchKingSite.DataOrm.ShoppingCartConfirmModel item in items)
				{
				<tr class="w11-OrderGrayTitle">
					<td style="text-align:center"><input type="checkbox" value="@item.Id" /></td>
					<td style="text-align:left">[@(item.UniqueId)]@(item.DealName)</td>
					<td style="text-align:left">@item.ChangeLog</td>
					<td style="text-align:left">@item.CreateTime</td>
				</tr>
			}
		</table>
		<button type="button" class="btn btn-danger" onclick="CheckChange()"> 確認異動 </button>
	</div>
</div>