.fc-s10-w1-cb {
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.fc-s12-w1-cb {
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.sc_b 
{
	font-size: 12px;
	text-align: center;
	color: blue;
	width: 25px;
}
.sc_bg 
{
	font-size: 12px;
	text-align: center;
	color: green;
	width: 25px;
}
.sc_br
{
	font-size: 12px;
	text-align: center;
	color: red;
	width: 25px;
}
.gov_btn
{
    font-size: 15px;
	text-align: center;
	color: blue;
}
.fc-s12-w1-cb6 {
    font-weight: normal;
	color: #666666; 
	font-size: 12px; 
}
.fusa-s14-w2-cr {
	color: #FF0000;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.fusa-s12-w2-cr {
	color: #FF0000;
	font-weight: bold;
	font-size: 12px;
}

.fc-s14-wb-cblue {
    font-weight: bold;
	color: #0000FF; 
	font-size: 14px; 
}
.fc-s11-w1-cw {	color: #FFFFFF;
    font-weight: normal;
	font-size: 11px;
}
.fc-s10-w1-cr {	color: #8A0000;
    font-weight: normal;
	font-size: 10px;
}
.fc-s12-w1-cr-1 {	color: #8A0000;
    font-weight: normal;
	font-size: 12px;
}
.fc-s12-w1-cr {	color: #FF0000;
    font-weight: normal;
	font-size: 12px;
}
.fu-s16-w2-cr {
	color: #FF0000;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
.fu-s16-w2-cb {
	color: #333333;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
.fu-s18-w2-cb {
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.fu-s16-w2-cb66 {
	color: #666666;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
.fu-s14-w2-cb {
	color: #333333;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.fc-s12-w1-cw {	color: #FFFFFF;
    font-weight: normal;
	font-size: 12px;
}
.fc-s24-w1-cw {	color: #FFFFFF;
    font-weight: bold;
	font-size: 24px;
}.fu-s12-w1-cblue {
	font-size: 12px;
	font-weight: normal;
	color: #0000FF;
	font-family: Arial, Helvetica, sans-serif;
}
.fu-s14-w1-cb3 {	
    font-size: 14px;
	font-weight: normal;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}
.fu-s14-w1-cb3 {	
    font-size: 16px;
	font-weight: normal;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}.fu-s16-wb-cblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #0000FF;
}
.fu-s16-wb-cblue66 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000066;
}
.fc-s12-w1-cblue66 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000066;
}
.fu-s12-w1-cr89 {
	font-size: 12px;
	font-weight: normal;
	color: #893700;
}
.fu-s16-wb-cb0066ff {
	font-size: 16px;
	font-weight: bold;
	color: #0066FF;
}
.fu-s16-wb-cff6600 {
	font-size: 16px;
	line-height: normal;
	font-weight: bold;
	color: #FF6600;
}
.fu-s16-wb-cg006600 {
	font-size: 16px;
	font-weight: bold;
	color: #006600;
}
.fu-s16-wb-cpff0066 {
	font-size: 16px;
	font-weight: bold;
	color: #FF0066;
}
.fu-s11-w1-cb000000 {
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-align: left;
}
.tableLine {
 border: 1px dashed #666666;
}.fu-s16-w1-crff000 {
	font-size: 16px;
	font-weight: normal;
	color: #FF0000;
}
.fu-s12-wb-cb000000 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.sc_gmi
{
    font-size: 11px;
	line-height: 14px;
}

.sc_gmi input
{
    height: 14px;
}

.it_c
{
    padding-left: 5px;
    border-style: none;
}

.it_ob
{
    border-style: none;
    height: 60px;
    width: 60px;
}

.bpbig
{
    font-size: x-large;
    color: red;
    font-weight: bold;
}