﻿@charset "UTF-8";
/*all resolution setting*/
.rdl-tittleText, .rdl-FStittText { display: none;}




/*screen resolution width >= 1280px setting*/ 
@media screen and (min-width: 1280px) {
.ac-center { margin:0 auto 10px auto;}
.ch-fami, .ch-itemdeli-mb, .ch-beauty-mb, .mbe-menu2  { display: none; }
#mc-table .rd-table .mc-tableContentITEM .rd-Detailtitle, .rdl_Collect, .rdl_Collect-ok { display:none; }
.rd-DisplayPanel, .rd-layout-switch, .mbe-nav-city, /*.mc-menu-btn,*/ .rdl-pl-show  {display:none; }
.rdl-list-box, .rdl-list-box-piin, .rdl-evn-pprule, .rdl-pl-show {
    display: none;}
.fde-ctrlarrow-l, .fde-ctrlarrow-r, .Multi-grade-Setting .mgs-item-box .mgs-discount { display: none;}
.Multi-grade-Setting .mgs-item-box .mgs-buy-tittle, .rdl-fqtitle-box, .rdl-faqdis { display: none; }
/*折價券未完成先行隱藏*/
h1.rd-web-only { display: none;}
/*折價券未完成先行隱藏*/
}

/*****
*
*
*m版header強制出現  請勿刪除喔 誰刪誰倒楣
*
*
*****/
@media screen and (max-width: 1000px) {
    /* 新M版 */
    .search-block { display:none; }
    .header_wrap {display:block !important; }
}
@media screen and (min-width: 1000px) {
    .header_wrap {display:none !important;}
}


/*screen resolution width >= 1000px setting*/ 
@media screen and (min-width: 1000px) and (max-width: 1279px) {
.ac-center { margin:0 auto 10px auto;}
.ch-fami, .ch-itemdeli-mb, .ch-beauty-mb { display: none; }
#mc-table .rd-table .mc-tableContentITEM .rd-Detailtitle, .rdl_Collect, .rdl_Collect-ok, .mbe-menu2 {display:none; }
.rd-DisplayPanel, .rd-layout-switch, .outside_AD, .mbe-nav-city, .mc-menu-btn, .outside-topOptBox {display:none; }

/*.rdl-list-box , .rdl-evn-pprule, .rdl-pl-show  {display:none; }*/
.rdl-pl-show  {display:none; }
.fde-ctrlarrow-l, .fde-ctrlarrow-r, .Multi-grade-Setting .mgs-item-box .mgs-discount { display: none;}
.Multi-grade-Setting .mgs-item-box .mgs-buy-tittle { display: none; }
.mgs-buy-box, .rdl-fqtitle-box, .rdl-faqdis{ display: none;}
.record-box.reply .record-content{ width: 93%;}

/* 品生活M版 Landscape 分類選單隱藏*/
.rdl-list-box{ display:none;}
.rdl-list-box-piin {display:none;}

/*折價券未完成先行隱藏*/
h1.rd-web-only { display: none;}
/*折價券未完成先行隱藏*/
/*a3-event7-活動頁
.ly-e-cop-area-menubar { display: none;}
.rdl-list-box { display: block;}
.ly-evn-pprule{ display: none;}
.ly-e-cop-farme {width: 100%;}
.evn-cop-buy-pic { width: 278px;  height: 162px;  margin: 10px auto;}
.evn-copcafarm { margin: 10px 16px 15px 16px; width: 205px; }
.evn-cpp-pinnlife-box { margin: 12px; width: 47%; }
.evn-cop-buy-sf-box { width: 300px; margin: 8px ; }
.rdl-evn-pprule {
width: 100%;
margin: 10px 0 20px 0;
background: #FFF;
display: inline-block;
border: 1px solid #CCCCCC;
}
.rdl-ru-title {
width: 94%;
margin: 0 auto;
padding-top: 13px;
font-size: 21px;
border-bottom: 1px solid #666;
}
.rdl-evn-pprule .rdl-ru-content {
width: 94%;
margin: 0 auto;
padding: 15px 0;
}*/

.evn-cpp-pinnlife-box-3column {
    margin: 10px 8px;
}
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
    .right-menu {
        margin-right: 70px;
    }
}


/*screen resolution width >=768px for pad portrait and landscape setting*/
@media screen and (min-width: 768px) and (max-width: 1000px) {
#Headermiddle .HeaderPhone{display:none;}/*填手機收簡訊下載*/ 
.mgs-s-T, .ly-evn-pprule, .rdl-fqtitle-box, .rdl-faqdis { display: none;}
.center { width: 95%; }
.part-17life, .part-pez-cert, .part-serivce, #EmailTitle,
.ch-qa, .mc, .member-name, .White, #Login img, .outside_AD,
#Rightarea, .nc_deal_sort, .Encore,
.TimerTitleField .icon-clock-o, .HKL_MaindealTitle, .DealPriceInfo .buycounter .icon-user,
.EntryTitle.ET_4, .NavAD_sp, .outside_AD, .outside-topOptBox,
.pop-confirm, .mbe-nav-city, /*.mc-menu-btn,*/ .mbe-menu2 { display: none; }
.rdl-pl-show  {display:none; }
.p3footer .footer_content, #middle, .HaokangList, .Maindeal,
.MaindealMiddle, #maincontent ,#Left, .info_bar, #FULL
 { width: 100%; height: auto;}
.LoginBoxAfter{display: none;}
.mc-menu-btn {
    /*width: 40px;
    height: 36px;*/
    margin: 0 0 0 0;
    display: block;
    position: relative;
    top: 2px;
    left: 0;
    cursor: pointer;
    line-height: 36px;
    font-size: 14px;
    font-weight: 600;
    color: #BF0000;
    text-align: center;
    /*border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    float: left;*/
    /*display:none;*/
}
.mc-menu-btn{ float: right; right: 0;} 

.mc-menu-btn:hover {
    color: #BF0000;
    text-decoration: none;
}
.mc-menu-btn:active {
    /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);*/
}
.sildeWrap{ display: block; overflow: hidden; width: auto; height: 0;} /*0710*/
.sliderWrapMenber{ display: block; overflow: hidden; width: auto; height: 0;}/*0710*/
.mbe-menu {
    width: 100%;
    /*float: left;*/
    background: #f0f0f0;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.mbe-menu_show {
    width: 100%;
    float: left;
    margin-left: 0%;
    background: #333333;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.coupon-own-number {
    padding: 4px;
    border-radius: 5px;
    background: #bf0000;
    font-size: 12px;
    color:#fff;
    margin-right: 10px;
}
.mbe-menu2 {
    width: 100%;
    float: right;
    margin-right: -100%;
    background: #333333;
}
.mbe-menu2_show {
    width: 100%;
    float: right;
    margin-right: 0%;
    background: #333333;
    border-top: 2px solid #BF0000;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);/**/
}
.mbe-menu2 #navi2 { border-bottom: none; }
#navimain li  { width: 20%;}
.mbe-menu2 #navimain2 li, .mbe-menu2_show #navimain2 li  { 
    text-align: right; 
    border-bottom: 1px solid #555;
    height: 35px;
}
#navimain li a { 
    text-align: center;
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}
.mbe-menu2_show #navimain2 li a { 
    padding: 0; 
    padding-right: 15px; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
#navimain2 li a{-moz-box-sizing:border-box; box-sizing:border-box; padding-right: 15px;}/*0710*/
#navimain2 .navbtn:hover{ 
    background: -webkit-linear-gradient( #DF0000, #BF0000);
    background: -moz-linear-gradient( #DF0000, #BF0000);
    background: -ms-linear-gradient( #DF0000, #BF0000);
    background: -o-linear-gradient( #DF0000, #BF0000);
    background: linear-gradient( #DF0000, #BF0000);}/*0710*/
.mbe-nav-city { display: block; background: #444; }
.mbe-nav-city .mbe-city-title {
    padding-left: 10px;
    color: #FFF;
    font: 13px/32px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
    border-bottom: 1px solid #555; 
    background: #555;
}
#navimain .mbe-nav-city li.mbe-city-btn {
    width: 30%;
    height: 25px;
    margin: 5px;
    padding-left: 0;
    float: left;
    text-align: center;
    vertical-align: top;
    border: none;
}
#navimain .mbe-nav-city .mbe-city-link {
    width: 100%;
    padding-left: 0;
    display: inline-block;
    font: 13px/20px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
    color:#FFF;
}
#navimain .mbe-nav-city li.mbe-city-btn.on, 
#navimain .mbe-nav-city li.mbe-city-btn:hover {
    border-radius: 5px;
    background: #BF0000;
}
#navimain2 a {
    color: #FFFFFF;
    text-decoration: none;
}
 
#Login { font-size: 14px; }
.LoginBox { width: auto; margin: 5px 10px 5px 10px; }
.HKL_MainDealProductName, .HKL_MaindealTitle { width: auto; margin: 0 5px; }
#Headermiddle, #middle, .DealPriceInfo.deal-detail-overwrite { height: auto; }
.p3footer .footer_logo { margin: 0 auto; }
.p3footer .info-17life { width: 100%; padding: 0; text-align: center; }
a.rd-layout-switch { margin-top: 5px; display: block; font-size: 18px; color: #999; text-decoration: underline; }
#PponLOGO { width: 150px; height: 40px; float: left; margin: 5px; /*background: url(https://www.17life.com/Themes/PCweb/images/ppon-M1_LOGO.png) no-repeat;*/}
#PponLOGO img{height: 100%;}
#TOPBanner { width: 100%; }
#Act-TOP { width: 100%; }
#newscontent > img { display:none; }
#navimain ul { width: 100%; margin: 0 auto; }
#navimain li { width: 14.2%; }
.navbtn_inpage,.navbtn{ width:100%;}
.ch-itemdeli, .ch-beauty { display: none; }
.ch-fami, .ch-itemdeli-mb, .ch-beauty-mb { display: block; }
#NaviCity a { padding: 0 15px; }
#navimain, .NaviCityMain { width: 100%; height: auto; text-align: center; }
.NaviCityMain a { font-size: 16px; }
.Maindeal, #maincontent .forsdeal, #Entry, #FULL > #maincontent { width: 696px; margin: 10px auto; padding-bottom: 10px; }
.Maintitle + .dts {margin-top: -10px; margin-bottom: 10px;}
.tc_small_content_area .s_content_box .deal_pic { width: 100%; height: auto;}
.tc_small_content_area .s_content_box .deal_pic .deal_hover { width: 96%; padding: 0 2%;max-height: 150px;}
.tc_small_content_area .s_content_box .smallprice .ori { margin-top: 10px;}

/*A1-TodayDeal-by-TouNeko*/
.BigDeal { display: none; }
#AlldealGoods, .tc_small_content_area { width: 100%; margin:0 auto; }
.tc_small_content_area .s_content_box { margin: 15px 7px; width: 31%; height: auto; }
.tc_small_content_area .s_content_box .title { width: 95%;padding: 2px;}
.tc_small_content_area .s_content_box .OrgMineT { width: 95%;padding: 2px; height: 30px;}
.tc_small_content_area .s_content_box .fb_like { margin: -10px 5px; width: 70px;}
.SoldOut_Bar_290 { width: 100%; height: 100%;}
.tc_small_content_area .s_content_box .bottom { width: 100%;background: #fff;}
.tc_small_content_area .s_content_box .smallprice .discount,.tc_small_content_area .s_content_box .smallprice .price { font-size: 20px;}
.tc_small_content_area .s_content_box .smallprice .ori { width: 40px;}
.b_content_box .dts, .s_content_box .dts { margin-bottom: 0;}
/*B1-Payment-by-alan*/
#Rightarea.rd-payment-qma, .rd-payment-words-hide, .grui-form .form-unit.rd-payment-form-unit-disappear { display:none;}
.TOPBanner, .safelycode {display:none;}
#Left { float: none; }
#Left.rd-payment-Left-width {width:100%; margin:0 auto;}
h1.rd-payment-h1 {width:auto;}
hr.header_hr.rd-payment-width { width:auto;}
#maincontent.clearfix {width:auto; margin:0 auto;}
#maincontent .content-group.payment, #FULL > #maincontent .content-group.payment { width: auto; min-height: auto; margin-top: 0; padding: 15px; border: 0; }
#maincontent .content-group.payment h2.rd-payment-h2 {width:auto; padding:5px 0;}
#maincontent .content-group.payment .info_bar {height:70px;}
#maincontent .content-group.payment .info_bar.rd-payment-hide {display:none;}
#maincontent .content-group.payment h2.rd-fd-title { padding: 0; }
.grui-form {width:auto; text-align:left; padding:5px; }
.grui-form .form-unit .data-input p.subnote { margin-left: 0; }
.grui-form .form-unit .data-input p.subnote.rd-payment-margin-zero {margin: 5px 0 10px 10px;}
.grui-form .form-unit.rd-pay-margin {margin-left:8%;}
.grui-form .form-unit .data-input.rd-pay-margin {margin-left:5%;}
.grui-form .form-unit .data-input.rd-pay-span-ctr { margin-left: 0; width: auto; text-align:center; }
.grui-form .form-unit .data-input .input-credit { width:15%;}
.grui-form .form-unit .data-input .align-fix { margin: 0; }
.grui-form .form-unit.end-unit.rd-pay-pos-fix { margin-left: 0px; }
.grui-form .form-unit .data-input select.rd-fd-select { width: 100%; }
.grui-form .form-unit .data-input p.cancel-mr { margin-right: 0; }
.LMPasswordFrame.text-center .form-unit { text-align: center;}
.rd-letter-spacing {letter-spacing:-1px;}
.btn.btn-mini.rd-margin { margin-left:5%;}
.info_bar .share .share_text.rd-share-text {line-height:20px; margin-bottom:10px;}
/*20150910*信用卡付款新增promo圖片*/
.grui-form .visa-promo { margin-left: 0;}
/*C1-MarberCenter-OrederList-by-ariel*/
.rd-C-Hide, .mc-content h1.rd-C-Hide {display: none;}  
.rd-float-lft { float:left;} 
.rd-float-right { float:right;}
.rd-DisplayPanel { display: inline; }
.rd-redColor{ color:#bf0000; }
.mc-order-states #OrderSavearea {display:block; font-size:15px; width:100%;} 
.mc-order-states .RecentOrder {display:block ; text-align: left; float:left;} 
.mc-order-states .RecentOrder input {width:18px; height:18px; margin:0 5px 0 0;}
.mc-order-states .Orderselectarea {display:block; float:right; } 
.OrderAmount,.OrderNumber, .OrderTrustState, .OrderDetailSale , .OrderDetailSubTotal, .btn-return, .CashCouponsDate, .CashCouponsUseDate {display: none;}
.tag-visable { display: block !important; }
.OrderSerial:before { content:"訂單編號：";}
.center .mc-navbar { width: 100%; height:29px; margin-top: 0; display:inline-block; }
.center .mc-navbar .mc-navbtn { 
    height: auto;
    box-sizing: border-box; -moz-box-sizing: border-box; width: 16.5%; margin:0;border: 1px solid #CCC;border-radius: 5px 5px 0 0;border-bottom: #e4e4e4; border-left: 1px dotted #CCC; padding:0 1px;}
/*折價券未完成先行隱藏*/
h1.rd-web-only { display: none;}
/*折價券未完成先行隱藏*/
.mc-navbar .mc-navbtn:hover, .mc-navbar .mc-navbtn.on {
    background-color: #AF0000;
    background-image: linear-gradient(#DF0000, #AF0000);
    border: 1px solid #BF0000;
    color: #FFFFFF;
    text-decoration: none;}
.center .mc-navbar .mc-navbtn a: {display:inline;}
.center .mc-content { width: auto; margin-top:2px;} 
#mc-table .rd-table{ width: 100%; }
#mc-table .mc-tableContentITEM:hover {background:#FFFAE4;}
#mc-table .rd-table .mc-tableContentITEM .rd-Detailtitle{display:inline;}
#mc-table .rd-table td{text-align: left; padding: 0 5px;  border:none;}
.SC-couponW #mc-table .rd-table td{text-align: center; padding: 0 5px;  border:none;}
#mc-table .rd-table .OrderSerial {display:none;}
#mc-table .rd-table .OrderDate, .OrderName, .OrderExp, .OrderCouponState, .OrderState { width: 100%; display : block;  }
#mc-table .rd-table .OrderDate {margin-top:8px;}
#mc-table .rd-table .OrderExp { color:#bf0000;}
#mc-table .rd-table .OrderCouponState { width:97%;text-align:right;height:20px; margin-bottom:10px;} 
#mc-table .rd-table .OrderState { width:97%; text-align:left; height:20px; margin-bottom:15px; } 
#mc-table .rd-table .OrderState .LastDate { width: auto; }
#mc-table .OrderArrow_btn_box {display:block; padding-left: 5px; text-indent:-9999px; top:310px; right:0;}
#mc-table .rd-table .OrderCouponState .rd-c1-mcorbtn-mini{padding: 0 3px;font-size: 11px; display:none;}
#mc-table .rd-table .OrderCouponState br{display: none;}
#mc-table .rd-table .OrderName #mc-tableContentTitleLeft { margin:0 -2px 0 0; font-size:15px;}
#mc-table .rd-table .OrderName #mc-tableContentTitleRight {width:100%; display:none; margin:5px auto;}
/*C1-MarberCenter-OrederList-訂單/憑證列表-by-stan*/
.mc-tableContentITEM .OrderDate input.btn-mini{ display:inline-block;/**/ margin-top: -5px; }

/*C1-MarberCenter-AccountSetting/orderdetail-by-ariel*/
#mc-table .rd-mcOrdetail{width:100%;} 
#mc-table .rd-mcOrdetail th{width:100%;display:block;}
#mc-table .rd-mcOrdetail .OrderItemName, .OrderSN, .OrderCode, .OrderEXP, .OrderPonState, 
.OrderAddressee, .OrderAddrPhone, .OrderAddrAdd, .OrderDeliverInfo,
.OrderDetailItemName, .OrderDetailPrice, .OrderDetailAmount, .OrderDetailTotal, .OrderPayTotal, .OrderReturnDate, .OrderReturnAmount, .OrderReturnCash, .OrderReturnProcess, .OrderPayPEZ, .OrderPayBonus,
.OrderPayUupon, .OrderPayCash, .OrderPayCredit, .OrderPayAtm, .OrderPayCoupon, .OrderGetPon, .OrderPaySuperCash, .OrderPaySuperCoupon {width: 96%; display : block;}
.OrderGetPon:before { color:#BF0000; content:"索取憑證:";}
.order-get-coupon-box { width: auto; margin: 5px; padding: 5px 0 0 0; }
.order-get-coupon-box a:first-child { display: none; }
.rd-text-rg { text-align:right; width:100%;display:block;}
#mc-table .rd-mcOrdetail .mc-tableContentITEM td{ width:96%;text-align:left; border:none;}
.mc-addressee-box .form-unit.end-unit { margin-left: 0px; }
.mc-addressee-box { width: 100%; padding: 0; margin: 5px auto;}
.mc-cash-states { padding: 10px; }
.mc-cash-states { padding: 10px; }
.order-atm-info, .order-atm-header { padding: 10px 0;}
.mc-addressee-box .btn-delete { float: right;}

/*C1-MemberCenter-OrderList-Orderdetail-Karen*/
/*-------發票---Start----*/
.OrderDetailInvoice, .OrderDetailInvoiceInfor, .OrDetinvoicedetail {display:none;}
.m-order-table-title { width: 100%; height: 30px; margin-top: 30px; color: #FFF; background: #333; display: block; }
.order-table-title-invoice, .order-table-title-invoice h1  { display:none; }
.m-order-table-title h1 { margin-left: 10px; font-size: 16px; line-height: 30px; color: #FFF; }
.m-OrderDetailInvoice{height:auto;clear: both; border: 1px solid #999;background-color: #FFFFFF ; padding-top: 15px; padding-bottom: 15px; display: block;}
.OrderDetailInvoiceInText {display:none;}
.m-OrDetElectricinvoice { width:100%; height:auto; display: block;}
.m-OrDetElectricinvoice ul { list-style-type: none;  }
.m-OrDetElectricinvoice li { font-size: 12px; margin:0 0 0 10px; padding:5px; }
/*-------發票--End-----*/

/*C5-MemberCenter-Collect-by-ariel*/
.mc-c5tdwe0{ width: 25%; }
.mc-c5tdwe1{ width: 50%; } 
.mc-c5tdwe4{ width: 15%; }
.mc5-btnSpacing { display: inline-block; }
.mc-c5tdwe2, .mc-c5tdwe3 { display: none;}

/*A2-multi-grade-by-TouNeko*/
.Multi-grade-Setting, .Multi-grade-Setting .mgs-boxtitle, .pop-window { width: 100%; box-sizing: border-box;}
.Multi-grade-Setting { border:none;}
.MGS-XX { width: 100%; height: auto; margin-bottom: 10px; position: static; text-align: center; background: none; }
.MGS-XX input { display: inline-block; }
.Multi-grade-Setting .mgs-item-box .mgs-content {
    float: left;
    padding: 5px 12px 5px 6px;
    width: 85%;
}

/*H-17lifeMember.html-ariel*/
body { /*background: #31312C;*/}/*登入頁在平板會有長度過短產生白底bug*//*0508-stan 平板出現footer的底色 佔據整個內容背景*/
.HomepageHeader,.HomepageLine,.LifeMemberTop{/*display: none;*/}
.LifeMemberBox{}
.LifeMember{ /*border: none; margin-top:0; */}
.LifeMemberCenter{ width: 100%;}
.LifeMemberLogFrame.posttype { width: 100%; height: auto;}
.post-wrap { width: 100%; height: auto;}
.post-content{ height: auto; overflow: inherit;}
.rdl-Tdis{ display: block;}
.Cityarea, .CityTop, .HomepageMarketingBn, .HomePageCityBottom, .LifeMemberAgree br, .LifeMemberAgree .rwd-wh,
.LifeMemberTopText img, .LifeMemberLoginPicText, .LifeMemberLoginPic, .LifeMemberAgreeError br, .LifeMemberAgreeError .rwd-wh, .lmbeclogingBtn2 { display: none;} 
.LifeMemberNote, .LifeMemberVerification, .LifeMemberVerification.LifeMemberVFCodeText,
.LifeMemberInfo_f li, .LifeMemberAgree, .LifeMemberAgreeError, .meeaar, .LifeMemberFirstShopping, 
.Homepagemiddle, .Homepagecenter{ width: 90%; /*background: #f3f4ef;*/}
.LifeMemberFrame, .LifeMember , .LifeMemberTop ,.MemberCardFrame ,.MemberCard{ /*width: 100%;*/ width: 99.8%}/*解決 縮小視窗右邊border會被截掉bug*/
.LifeMemberFrame{}
.rdl-LMberCt-pad{ height: 560px;}
.HomepageLogin { width: 30%;}
.LifeMemberTopText { font-size: 21px; width: 100%; margin: 0 auto; text-align: left; margin-left: 25px;}
.rdl-tittleText{ display: none;} 
.LMInfo ,.LMInfo ul.LifeMemberInfo, .LMFirstShopping, .LMFirstShopping ul.LMFShoppIn, .LifeMemberConfirmMessage, .LMPasswordFrame ul.LMPasswordIn, .LifeMemberConfirmRemarks, .PezFbFillInEmail,.PezFbFillInEmail ul { width: 94%; padding: 12px 20px 20px 20px;}
.LifeMemberInfo li, .LifeMemberInfo li:hover, .LMInfo li.LifeMemberInfoColor, .LMPasswordIn li, .LMPasswordIn li:hover, .LMPasswordFrame li.LMPasswordInColor, .LMPasswordFrame li.LMPasswordInColor:hover{ width: 94.5%; padding: 0 17px; }
.LMFShoppIn li, .LMFShoppIn li:hover, .LMFirstShopping li.LMFShoppInColor, .PezFbFillInEmail li, .PezFbFillInEmail li:hover, .PezFbFillInEmail li.PezFbFillInColor { width: 95.5%; padding: 5px 14px; height: auto; margin: 8px 0;}
.LifeMemberInfoTittle, .LifeMemberFirstShoppTittle, .LMFShoppTittle, .LMPasswordFrameTittle { width: 30%; font-size: 15px; letter-spacing: 0em;}
.LifeMemberText input, .LMPasswordFrameText input{ width: 33%; font-size: 14px;}
.LifeMemberText select{ width: 30%;  font-size: 14px;}
.LifeMemberNote, .LMFShoppNote, .LMPasswordFrameNote{ width: 100%; margin: 0 10px; font-size: 12px; color: #999;}
.LifeMemberTXT2{ margin-left: -14px;}
.LifeMemberVerification, .LifeMemberVerification.LifeMemberVFCodeText{ width: 91%; margin: 10px auto;}
.LifeMemberInfo_f li, .LifeMemberInfo_f li:hover, .LMInfo li.LifeMemberInfoColor_f{ width: 86%; padding: 5px 8px;margin: 10px auto;}  
.LifeMemberAgree, .LifeMemberAgreeError{ width: 100%; left: 0px; font-size: 12px; line-height: 23px; top: 5px;} 
.LifeMemberVFCode{ width: 50%;margin-left: 85px;} .LifeMemberVFCodeText{ width: 30%;}
.meeaar{ margin-left: 0px;} .onlyRED{ margin: 0px; }
.LifeMemberFirstShopping{ padding: 30px 4px 0px 3px; width: 87%;}
.LifeMemberPEZOpenPassaPic, .LifeMemberConfirmMessage { display: block; margin: 0 auto; float: none;}
.LifeMemberPEZOpenPassText, .LifeMemberConfirmEPText { display: block; width: 95%; font-size: 15px; margin: 0 auto; float: none; }
.LifeMemberConfirmEPText { margin-top: 22px; }
.LifeMemberFirstShoppTittle { width: 15%; }
.rdl-FStittText { display: none; } 
.LifeMemberFirstShoppMail{ width: 55%; } .rdl-FSpT{ letter-spacing:0.1em;}
.LMFShoppName, .LMFShoppGender{ font-size: 15px; } .LMFShoppNote{ margin-left:-5px; }
.LMFShoppName input{ width:15%; font-size: 14px;} .LMFShoppPhone input{ width:38%; font-size: 14px; }
.LMFShoppInvoice select{ width: 12% font-size: 14px; margin-left:0;}.LMFShoppInvoice input{ width: 163px; margin-left: 0;}
.rdl-redT, .rdl-redT2{color: #F00; margin-left: 17px; width: 100%;}
.LifeMemberLogFrame{ width: 100%; margin: 10px auto; /*height: 450px;*/ padding-top: 0px; }
.lmbecOtloginfor, .lmbeclogiTi, .lmbelogGO, .LMPasswordFrame{ margin: 0 auto; height: auto;}
.LMPasswordFrame{ width: 99.8%;}  
.lmbeclogiTi{ font-size: 12px; margin: 20px auto 7px auto; /*width: 98%;*/ text-align: left; }
.lmbecloging{ margin: 5px auto; height: auto;}
.lmbecloging input{ height: 33px;}
.lmbecloging li{ margin-bottom: 0px;}
.lmbecOtloginfor img{ height: auto; max-width: 100%; margin: 0 auto;}
.lmbeclogingProof{margin-top: 10px;}
.LifeMemberOtherLoging2, .LifeMemberOtherLoging1{ border: none; height: auto; margin: 0 auto 10px auto;  width: 48%; height: 300px;} 
.LifeMemberOtherLoging2{width: 51%;}
.lmbeclogingTEXT{ font-size: 13px; } 
.LifeMemberOtherLoging2{border-left: 1px dashed #999; }
.LifeMemberOtherLoging1 img.LifeMember17logo{ display: none;}
.LifeMemberSubtitle{ display: none;}
.lmbeclogingBtn{ max-width: 100%; margin-top: 10px; background:url(../../../Themes/default/images/17Life/NewMember/memberBtnCH1.svg) no-repeat; }
.lmbeclogingBtn:hover{background:url(../../../Themes/default/images/17Life/NewMember/memberBtnCH1.svg) no-repeat;}
.lmbecFbBtn{background:url(../../../Themes/default/images/17Life/NewMember/FBlogoBig.svg) no-repeat;}
.lmbecPezBtn{background:url(../../../Themes/default/images/17Life/NewMember/PEZlogoBig.svg) no-repeat;}
.LifeMemberConfirmMessage{ font-size: 15px;} .rdl-cmsgT{ padding: 15px; width: 89%;} 
.LifeMemberConfirmRemarks{ margin-top: 10px; padding: 15px 0 0 0;}
.rdl-LMPawdFTe input{ width:40%; font-size:14px;} .rdl-LMPawdTit { margin-left: 14px;}
.LMPasswordFrameText select{ width: 29%; font-size: 15px; height: 21px; margin-top: -1px;}
.LifeMemberTXT2 input.rdl-typchk{ width: 15px; display: inline-block;} .rdl-redT3{ margin: 0; } .rdl-redT5{ margin-left: 15px;}
.LifeMemberBtn{ margin-top: 5px;}
.rdl-pfbshp-onl{ line-height: 40px; top: 0px;}
/*A1-DealList_Normal-by-Alan*/
.NaviCityMP { width: 100%; margin: 0 auto; border: none; box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);  }
.NaviCitySelectArea { display: none; }
.NaviCityArea { width: auto; padding: 6px; border: none; text-align: center; }
.NaviCityArea { display: inline-block; float: none; }
.NaviCityArea { padding: 3px 18px; font-size: 14px; margin-left: 10px; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; }
/*Fix會員專區消失*/
.rd-mc { display: inline-block;}

/*A1-DealList_Normal-收藏區塊-Collect by ariel*/
.rdl_Collect, .HKL_Collect-ok { display: none;}

/*A3-event_1-6-活動頁*/
.ac-center { margin:0 auto;}
.evn-cop-buy-sf-box {
width: 32%;
height: auto;
margin: 5px 3px;
border: 1px solid #CCC;
background: #FFF;
float: left;
}
.evn-cop-buy-pic { width: 95%; height: auto;}
.evn-cop-buyinformation { width: 95%;}
.evn-cop-tn-bar{ width: 100%;}
.evn-cop-discount { width: 25%; font-size: 22px;}
.evn-cop-buytotle { width: 30%; font-size: 22px;}
.st-e-cop-buybtn { width: 35%; font-size: 16px; height: 30px;}
.evn-cop-donationinfo, .evn-cop-acNotice { width: 95%; font-size: 22px;}
.st-e-cop-area-bar { width: 13%; float: none; padding: 0; display: inline-block;}
.st-e-cop-optionsbn-on, .st-e-cop-optionsbn, .st-e-cop-optionsbn:hover  { background-size: 100% auto;  background-repeat: no-repeat; }
.evn-cpp-pinnlife-pic {
    height: auto;
    margin: 10px auto;
    width: 95%;
}
.evn-cop-ptext {
    font-size: 13px;
}
.evn-cop-buytitle, .evn-cop-minorange-title{width: 95%; padding-left: 10px;}
.rdl-Coupon-box { width: 98%;}
.skm-QrMessagefarm{ display: none;}
.evn-copcadealname, .evn-coptextinfo{ width: 100%; padding: 5px 0 ;}
.st-e-cop-optionsbar { width: 47%;}
.evn-cop-buy-sold-out-bar-290 { width: 100%; height: 100%;}
.ly-e-cop-tab, .fde-ctrlarrow-l, .fde-ctrlarrow-r{ display: none;}
.rdl-plmg{ margin-top: 45px;}
.rdl-redline{ width: 96.6% ; border-top: 5px #d00000 solid; margin: -4px auto 0 10px;  position: relative;}
.st-evncopca-col-btn, .st-evncop-favoritetoo-btn { margin-bottom: 8px;}
.rdl-list-box { 
    width:95%;
    margin:0 auto;
    height:auto;
    display:none;
    }
.rdl-Btn-box { width: 100%; border-bottom: 5px #D00000 solid;}
.rdl-list-Lbtn{ float:left; border-radius: 5px ; margin: 8px 0 ; }
.rdl-list-Rbtn{ float:right; border-radius: 5px ; margin: 8px  0; }
.rdl-list-Lbtn, .rdl-list-Rbtn{ 
    background: #24231D;
    width:48%; 
    height:50px; 
    line-height:50px;   
    font-size: 20px; 
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
    color: #fff;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
.rdl-on, .rdl-list-Lbtn:hover, .rdl-list-Rbtn:hover { 
    background-color: #BF0000; color:#FFF; }
.rdl-list-downarrow{ width: 15px; height: 15px;}
.rdl-Subbox{ 
    width:100%; display: block; 
    margin: 10px auto 0 auto;  
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
}
.rdl-Subbox ul{ 
    width: 99.8%; display: inline-block; margin-top: -10px;
    border:#adadad 1px solid; 
    border-top:none; 
}
.rdl-Subbox li{ 
    background: #F3F3E9;
    border-bottom: 1px solid  #adadad;
    padding-left: 20px;
    line-height: 45px;
    cursor: pointer;
}
.rdl-Subbox li:hover { 
    background:#bf0000; 
    color: #fff;
}
.rdl-Subbox li.inside{ 
    padding-left: 52px;
    list-style-image: url(../images/17life/G2/ac-rdl-icon.png);
    list-style-position: inside;
    font-size: 15px;
    line-height: 33px;
}

/*Piinlife M */
.rdl-list-box-piin { 
    width:95%;
    margin:0 auto;
    height:auto;
    display:none;
    }
.rdl-Btn-box-piin { width: 100%; border-bottom: 5px #281b11 solid;}
.rdl-list-Lbtn-piin{ float:left; border-radius: 5px ; margin: 8px 0 ; }
.rdl-list-Rbtn-piin{ float:right; border-radius: 5px ; margin: 8px  0; }
.rdl-list-Lbtn-piin, .rdl-list-Rbtn-piin{ 
    background: #7e664e;
    width:48%; 
    height:50px; 
    line-height:50px;   
    font-size: 20px; 
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
    color: #fff;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
.rdl-on-piin, .rdl-list-Lbtn-piin:hover, .rdl-list-Rbtn-piin:hover { 
    background-color: #281b11; color:#FFF; }
.rdl-list-downarrow-piin{ width: 15px; height: 15px;}
.rdl-Subbox-piin{ 
    width:100%; display: block; 
    margin: 10px auto 0 auto;  
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
}
.rdl-Subbox-piin ul{ 
    width: 99.8%; display: inline-block; margin-top: -10px;
    border:#adadad 1px solid; 
    border-top:none; 
}
.rdl-Subbox-piin li{ 
    background: #F3F3E9;
    border-bottom: 1px solid  #adadad;
    padding-left: 20px;
    line-height: 45px;
    cursor: pointer;
}
.rdl-Subbox-piin li:hover { 
    background:#ECECE2; 
    color: #f60;
}
.rdl-Subbox-piin li.inside{ 
    padding-left: 52px;
    list-style-image: url(../images/17life/G2/ac-rdl-icon.png);
    list-style-position: inside;
    font-size: 15px;
    line-height: 33px;
}
.rdl-evn-pprule {
    width: 100%;
    margin: 10px 0 20px 0;
    background: #FFF;
    display: inline-block;
    border: 1px solid #CCCCCC;
}
.rdl-ru-title {
    width: 94%;
    margin: 0 auto;
    padding-top: 13px;
    font-size: 21px;
    border-bottom: 1px solid #666;
}
.rdl-evn-pprule .rdl-ru-content {
    width: 94%;
    margin: 0 auto;
    padding: 15px 0;
}
.fq_box, .full_block, .full_block .bg { width: 100%; margin: 20px auto 30px auto; }
.fq-Lbox, .service .form { 
    width: 70%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;       
}

/*客服中心*/
.mc-service-record .record-box .record-content { width: 94%;}
.mc-service-record .record-box.reply .record-content{ width: 95%;}
.mc-service-record .record-box.reply { margin: 0 0 0 40px; }

/*APP限定*/
.app-content, .app-pdname {width: auto; float: none; }
.app-download, .mms-box {display: none;}
.app-download-box {text-align: center;}
/*退貨頁面-GiGi*/
.ReturnCenter {padding: 20px 40px;}
/*首頁Header新版20141121--Alan*/
.function-menu-bar { display: none;}
.slide-bn-area {width: 32%; height: auto;}
.activity-top-bn { width: 100%; height: auto;}
#Headermiddle { display: block;}
/*20150112 新SlideBN 套件 修改CSS*/
.slide-bn-block {height: auto;}
.temp-banner-block .pagination { bottom: -13px;}
/*Mail-subscribe-Page*/
.mail-subscribe-bg { margin-top: 0;}
.edm-left-block { width: 40%;}
.edm-right-block { width: 50%; margin-left: 0;}
.edm-right-block h2 { font-size: 24px; line-height: 30px;}
.edm-right-block h3 { font-size: 16px;}
.edm-right-block li { margin-bottom: 10px;}
/*NEW Header 搜尋定位*/
#navimain .logo-inline, #navimain .navbtn_inpage, #navimain .navbtn, .marketing-block { display: none;}
.search-block { margin-top: -39px; margin-left: -231px;}
.NaviCitySort ul.floatleft { width: auto; height: auto; float: none; padding-top: 3px;}
/*超級折價券跳窗*/
.SC-window {
    width: 100%;
    height: auto;
    border: 0;
    padding: 10px 0;
    text-align: center;
    margin: 0;
}
.ly-e-cop-farme{ margin: 0 auto;}
.evn-cpp-pinnlife-box{margin:10px 8px; width: 47%;}
.evn-cpp-pinnlife-sold-out-bar,.evn-cpp-pinnlife-coming-bar
{width: 100%; height: 100%:}

.evn-cpp-pinnlife-date-coming-bar{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(date_coming_bar_440.png);
    background-position: 50% 50%;
    background-size: 100% auto;}

.date-coming-text{
     width:100%;
     height:30%;
     color:#FFF;
     font-size:20px;
     padding: 80px 0px;
     display:block;
     text-align: center;
     line-height: 18px;
}

/* Cash Voucher UX */
.voucherstatus_area { width: 100%; margin: 0 0 15px 0;}
.voucher_content {height: auto;margin: 10px auto 0px;text-align: center;border: 1px solid #999;clear: both;}
.voucher_content_status{background:#ffe1e1;padding: 30px 0px;}
.voucherselect_area{ display: block;text-align: left;float: left;}
.voucherselect_sbn{}
.voucher_sbn_area{ display: block;}
.Voucher_Pagination { display:block; clear:both; }
.voucher_ind { width:50px; }
.CouponQuestionIcon { margin-left: 0;}

/* Voucher w*/
#vc-table { border: none;}
.vc-tableContentITEM { border-top: 1px solid #757575; border-left: 1px solid #757575; border-right: 1px solid #757575;
                       background: url(voucher.jpg) 0px 0px repeat; }
.vc-tableContentITEM.super-coupon { background: url(voucher-super.jpg)}
.vc-tableContentITEM td { border:0;}
#vc-table > table { border:none; width: 100%;}
#vc-table th {display:none;}
#vc-table.order-detail th {color:#333;background-color: #CDCDCD; padding: 5px;}
#vc-table.order-detail td {padding: 5px;}
#vc-table p.info { margin: 10px; }
#vc-table tr {width: 100%;line-height: 25px; float: none; display: block; margin:10px 0;}
#vc-table td {padding: 0 9px;font-size:13px;text-align:left; display:block; color: #570a0a;}
#vc-table .text-left { text-align: left; }
#vc-table .text-right { text-align: right; }
#vc-table tr:nth-child(even) { background-color: #eee; }
#vc-table.order-detail tr:nth-child(even) { background-color: #eee; }
.vc-tableContentITEM .OrderSerial input[type="submit"] { padding: 1px 5px; font-size: 11px; }
#vc-tableContentTitleLeft {height:auto;text-align: left;font-size: 15px;margin-right: auto;margin-left: auto;margin-top: 6px;}
#vc-tableContentTitleLeft img {float: left;height: 59px;width: 103px;}
#vc-tableContentTitleRight {height: 23px;margin: 0px auto 6px auto;text-align: left;font-size: 12;color:#666;clear: both;}
#vc-table tr td.CashCouponsDEN { padding:13px 0px 10px 10px; font-size: 32px; text-align: left;}
td.CashCouponsDEN:after { content:"折價券";color: #570a0a; font-size:20px;}
td.CashCouponsDEN:first-line { }
#vc-table tr td.CashCouponsSC { padding:13px 0px 10px 10px; font-size: 32px; text-align: center;}
td.CashCouponsSC:after { content:"超級折價券";color: #570a0a; font-size:20px;}
.CashCouponsChannelAll img {display:block;}
.CashCouponsChannel_L img {display:block;}
td.CashCouponsChannelAll:after { content:"可使用";}
td.CashCouponsChannel_L:before { content:"限館別:";}
td.CashCouponsLimited:before { content:"門檻:單筆訂單";}
#vc-table tr td.CashCouponsEXP { font-size: 11px; padding:0 10px; width:95%;}
/* #vc-table tr td.CashCouponsEXP:after { content:url(../Themes/PCweb/images/voucher_logo.png) 0px 0px no-repeat; } */
td.CashCouponsEXP:before { content:"生效日期:"; display: block; font-size: 12px; }
td.CashCouponsEFT:before { content:"有效期限:"; display: block; font-size: 12px; }
.SC-couponW td.CashCouponsEFT:before { content:""; }
#vc-table tr td.CashCouponsTitle{display: none;}
#vc-table tr td.CashCouponsUsed { background: #333; color: #fff; text-align: center;}
td.CashCouponsUsed:before { content:"已於"; font-size: 12px; }
td.CashCouponsUsed:after { content:"使用";  font-size: 12px; }
#vc-table tr td.CashCouponsExpired { background: #333; color: #fff; text-align: center;}
#vc-table tr td.CashCouponsSN {width: 100%; border-top: 1px solid #757575;border-bottom: 1px solid #757575; background: #333; color: #fff;  margin: 0 auto; padding: 0px; clear: both; text-align: center; font-size: 13px;}
#vc-table tr td.CashCouponsNumber {width: 100%; border-top: 1px solid #757575;border-bottom: 1px solid #757575; background: #333; color: #fff;  margin: 0 auto; padding: 0px; clear: both; text-align: center; font-size: 13px;}
#vc-table tr td.CashCouponsNumber:before { content: "序號:"}
#vc-table tr td.CashCouponsNumber .limited{color:#0F0;}/*201512 限定裝置折價券*/
/*超級折價券結帳頁跳窗*/
.SC-couponW {
    width: 95%;
}
/* 折價券版型 RWD
.voucher_ind_wrap {width: 100%; margin: 10px; float:left; display:none;}
.voucher_ind_area { float:left; width:33%; margin-bottom: 30px;}
.voucher_ind_wrap .voucher_ind { width:77%; border-top: 1px solid #cdcdcd; border-left: 1px solid #cdcdcd; border-right: 1px solid #cdcdcd;
 padding:15px 0px 5px 25px; float: left; background: url(voucher.jpg) 0px 0px no-repeat; color:#570a0a;}
.voucher_ind tr {line-height:25px;}
.voucher_ind td {padding:1px;font-size:13px;text-align: left;}
.voucher_ind  .text-left { text-align: left; }
.voucher_ind  .text-right { text-align: right; }
.voucher_ind  th.voucher_indDEN { font-size: 30px; padding-bottom:10px;} 
.voucher_ind tr td.CashCouponsDateEXP {font-size: 11px;}
.CashCouponsLogo {/*background: url(voucher_logo.png) 120px 0px no-repeat; width:50%;}
.CashCouponsSN_Area {width: 75%;border: 1px solid #BF0000;padding: 5px 15px; clear: both; float: left; background: url(voucher.jpg) 0px 0px no-repeat; color:#570a0a;}
.CashCouponsSN_Area_Used {width: 75%;border: 1px solid #757575; padding: 5px 15px; clear: both; float: left; background: url(voucher.jpg) 0px 0px no-repeat; text-align: center; font-size: 13px;}
.CashCouponsSN_Area_Expired {width: 75%;border: 1px solid #BF0000; padding: 5px 15px; clear: both; float: left; background: url(voucher.jpg) 0px 0px no-repeat; text-align: center; font-size: 13px;}
.voucher_ind  span.CashCouponsDateSNTitle { float:left; } 
.voucher_ind  span.CashCouponsDateSN  { float:left; } 
.txtlistArea_m { display:none;} */

/*首頁Header新版20141121--Alan*/
.function-menu-bar { display: none;}
.slide-bn-area {width: 32%;}
.activity-top-bn { width: 100%; height: auto;}
#Headermiddle { display: block;}
.slide-bn-block:before { width: 220px;}
.slide-bn-block:after { width: 70px; right: -15px;}
.prev { left:3%; margin-left: 0px;}
.next { right:3%; margin-left: 0px;}
.evn-cpp-pinnlife-box-3column {
    margin: 10px 4px;
}
/*新光三越專區檔次列表*/
.sk_content_box { width: 47%;}
.sk_deal_right_block { width: 25%;}
.sk_deal_pic { width: 75%;}
.sk_buy_btn { padding: 3px 0; padding-left: 2%; width: 23%; font-size: 14px; bottom: 3px;}
.sk_tag_location { margin-left: 2%;}
.sk_tag_title { width: 95%; font-size: 12px; height: 14px; margin: 2px 0; margin-left: 2%;}
.sk_tag_subtitle { width: 95%;  font-size: 12px;  margin: 2px 0; margin-left: 2%; height: 29px;}
.sk_deal_price { font-size: 18px; margin: 2px 0; margin-left: 2%; line-height: 20px;}
.sk_oriprice { font-size: 10px;margin-left: 2%; margin-top: -3px;}

/*信用卡專區-紅利折抵-2015/07/02-Alan*/
.grid_bank th { font-size: 90%;}
.bank_content_wrap h3 { padding-left: 15px;}
.grid_bank li { font-size: 75%;}

/***
*
* 策展子分類
*
***/
.visa-installment { display: none;}
.activity-banner p { display: none;}
/*end*/

/*header隱藏*/
#navi { display: none;} /*活動頁會出現funtion bar，768~1000px 先行隱藏*/
}




@media screen and (min-width: 767px) and (max-width: 800px)  {
.ac-center{ width: 100%;}
.evn-copcafarm {
width: 210px;
margin: 10px 15px 15px 20px;
}
.evn-cpp-pinnlife-box {
width: 350px;
margin: 10px 5px 10px 13px;
}
.evn-cpp-pinnlife-box-3column {
width: 315px;
margin: 10px 5px 10px 13px;
}

/*FAQ*/
.rdl-faqdis { display:block;}
.fq_box, .full_block, .full_block .bg { width: 100%; margin: 0 auto; background:#fff;}
.fq-Rbox, .fq-topKeyword, .aside { display: none;}
.fq-Lbox, .service .form { width: auto; float: none;}
.fq-questionBOX { width: auto; }
.rdl-fqtitle-box{ 
	width: 100%; 
	height: 50px;
    background: #e7e6e1;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);
    display: block;
 }
.rdl-fqtitle-box li{ 
 	line-height: 50px;
 	text-align: center;
 	float: left; border-right: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rdl-fqtitle-box li a:hover {text-decoration: none;}
.rdl-faqarrow-down .icon-chevron-faq:before {content: "\f078";}
.rdl-faqarrow-on .icon-chevron-faq:before {content: "\f077";}
.rdl-faqarrow-down span, .rdl-faqarrow-on span {padding-left: 0.3em;}

.rdl-faqcol-1-2 li {width: 50%; }
.rdl-faqcol-1-2 li:last-child {border-right: none;}

.rdl-iconshow{ display: block; float: right;}
.fq-qtitle { background: none; width: 100%; display: inline-block;}
.qt-box { width: 95%; float: left;}
.fq-questionBOX .icon-chevron-faq:before {content: "\f078";}
.fq-questionBOX-on .icon-chevron-faq:before {content: "\f077";}
.faqArea, .faqMail { width: 100%; background: #f5f5f5; display: none;}
.faqArea li, .faqMail li { 
   width: 100%; 
}
.faqArea a, .faqMail a  { text-decoration: none; display: inline-block; width: 100%; 
   margin: 0;
   text-align: left;
   padding: 16px;
   border-bottom: 1px solid #e5e5e5;
   background: none;
   font-size: 15px;
   font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
.faqArea a.on, .faqMail a.on { color: #bf0000; background: #fff; }
.faqArea a:hover, .faqMail a:hover { background: #f8f8f8;}

/*客服中心*/
.mc-service-record .record-box .record-content, .mc-service-record .record-box.reply .record-content{ width: 92%;}
/*Mail-subscribe-Page*/
.mail-subscribe-bg { margin-top: 0;}
.edm-left-block { width: 40%;}
.edm-right-block { width: 50%; margin-left: 0;}
.edm-right-block h2 { font-size: 24px; line-height: 30px;}
.edm-right-block h3 { font-size: 16px;}
.edm-right-block li { margin-bottom: 10px;}

/***
*
* 策展子分類
*
***/
.Curatorial-Sort{ width: 100%; margin: 0 auto 10px; }
.Curatorial-Sort .NaviCityW{ width: 100%;}

}




@media screen and (max-width: 768px) {
.item_search_result_wrap  .search-result-get{ width:90%; margin: 0 auto;}
.item_search_result_wrap  .search-result-none{ width:90%; margin: 0 auto;}
.item_search_result_wrap  .NaviCitySequence{ width:90%; margin: 0 auto;}
.ly-e-cop-farme{ margin: 0 auto;}
.evn-copcafarm { margin: 8px 21px; width: 27%; }
.evn-cpp-pinnlife-box { margin: 10px 8px 10px 10px; width: 47%; }
.evn-cpp-pinnlife-box-3column { margin: 10px 5px; width: 47%; }

.evn-cpp-pinnlife-pic-3column{
    width:96%;
    height:auto; 
    margin:10px auto;
    position: relative;
}
.evn-cpp-pinnlife-date-coming-bar-3column{
    width:100%;
    height:100%; 
    background-position: 50% 50%;
    background-size: 100% auto;
    display: block;
    position: absolute;
    top:0;
}
.date-coming-text-3column{
     width:100%;
     color:#FFF;
     font-size:20px;
     /*padding: 112px 0px;*/
     display:block;
     text-align: center;
     line-height: 46px;
}
.evn-cpp-pinnlife-sold-out-bar-3column,.evn-cpp-pinnlife-coming-bar-3column{
    width:100%;
    z-index: 5;
    left: 0;
    top: 0;
    position: absolute;
}

/*faq*/
.fq_box, .full_block, .full_block .bg{ width: 100%; margin: 0 auto; background:#fff;}
.fq-Rbox, .fq-topKeyword { display: none;}
.fq-Lbox, .service .form { width: auto; float: none;}
.fq-questionBOX { width: auto; }
.rdl-fqtitle-box{ 
	width: 100%;  
	height: 55px;
    background: #e7e6e1;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);
 }
.rdl-fqtitle-box li{ 
 	line-height: 55px;
 	text-align: center;
 	float: left; border-right: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rdl-fqtitle-box li a:hover {text-decoration: none;}
.rdl-faqarrow-down .icon-chevron-faq:before {content: "\f078";}
.rdl-faqarrow-on .icon-chevron-faq:before {content: "\f077";}
.rdl-faqarrow-down span, .rdl-faqarrow-on span {padding-left: 0.3em;}
.rdl-faqcol-1-2 li {width: 50%; }
.rdl-faqcol-1-2 li:last-child {border-right: none;}
.rdl-iconshow{ display: block; float: right;}
.fq-qtitle { background: none; width: 100%; display: inline-block;}
.qt-box { width: 95%; float: left;}
.fq-questionBOX .icon-chevron-faq:before {content: "\f078";}
.fq-questionBOX-on .icon-chevron-faq:before {content: "\f077";}
.faqArea, .faqMail { width: 100%; background: #f5f5f5; display: none;}
.faqArea li, .faqMail li { width: 100%;}
.faqArea a, .faqMail a  { 
    text-decoration: none; 
    display: inline-block; 
    width: 100%; 
    margin: 0;
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid #e5e5e5;
    background: none;
    font-size: 15px;
    font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.faqArea a.on, .faqMail a.on { color: #bf0000; background: #fff; }
.faqArea a:hover, .faqMail a:hover { background: #f8f8f8;}

/*C5-Yahoo-collect*/
.center .yc-content { width: auto; margin-top: 2px;}
.yc-content {width: auto;height: auto;margin-bottom: 15px;padding: 17px;border:2px solid #CCC;background:#FFF;}
.grui-form .yc-tag{ width: 156px; margin-bottom: 10px;}
.yc-tag li{ font-size:14px; float:left;}
.yc-tag li a:link { color:#333; text-decoration: none; padding:6px 21px 6px 22px; }
.yc-tag li a:hover { background:#bf0000; color:#ffffff; text-decoration: none; padding:6px 21px 6px 22px; }
.yc-tag li a.CouponSelect{ background:#bf0000; color:#ffffff;}

/*APP限定*/
.cnt-box {margin: 10px;}
.app-download, .mms-box {display: none;}
.app-content {
    width: 100%;
    height: auto;
    margin: 10px auto;
    float: none;
}
.app-pdname {width: 100%;}
.app-download-box {text-align: center;}
.cnt-zone #MainPic {
    margin: 0 auto;
    float: none;
}
.app-pdname {
    width: 100%;
    padding: 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*201409 手機認證相關 by stan*/
.phone-approve .grui-form .form-unit .data-input .input-full{ width: 97%;}
.phone-approve .grui-form .form-unit .data-input .input-half{ width: 97%;}

/*.phone-approve #maincontent .content-group.payment .input-fixwidth{ width: 97%;}
.phone-approve #maincontent .content-group.payment .info{ }
*/
/*Mail-subscribe-Page*/
.mail-subscribe-bg { margin-top: 0;}
.edm-left-block { width: 40%;}
.edm-right-block { width: 50%; margin-left: 0;}
.edm-right-block h2 { font-size: 24px; line-height: 30px;}
.edm-right-block h3 { font-size: 16px;}
.edm-right-block li { margin-bottom: 10px;}

/***
*
* 策展子分類
*
***/
.Curatorial-Sort{ width: 95%; margin: 0 auto 10px; }
.Curatorial-Sort .NaviCityW{ width: 100%;}

/* 搜尋結果頁需篩選 201605 by stanley */
.result_filter{
	position:static;
	margin:5px 30%;
}
.select_1{
	float:none;
}
.select_1 select{
	width:100%;
}
}

@media screen and (max-width: 414px) {
    /* 搜尋結果頁需篩選 201605 by stanley */
    .result_filter{
	    margin:5px 10%;
    }
}

@media screen and (max-width: 1024px) {    
/*overlay-channel手機版時顯示*/
.overlay-channel{display: block;}
.LoginBoxAfter{ display: none;}

.slideBox .HaokangList{ text-align: left;}/*手機版今日熱銷*/
#mixedContent {
    width:100%;
    height:45px;
    position: relative;
    display:block;
    background:url(../images/17life/G2/ppon-M1_green.png) repeat-x;
}
#mixedContent ul.scrollableArea{position: absolute;}
#mixedContent ul.scrollableArea li.contentBox{
    position: relative;
    float: left;
    display: block;
    height: 45px;
    width: 100px;
    padding: 0px;
    margin: 0px ;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#mixedContent ul.scrollableArea li.contentBox a{ 
    color: #fff; 
    display: block; 
    text-align: center; 
    line-height: 45px; 
    text-decoration: none; 
}
#mixedContent ul.scrollableArea li.contentBox a.navBtn:hover {
    background: url(../images/17life/G2/navbtn_hov.png) repeat-x; 
    border: 0;
}
#mixedContent ul.scrollableArea li.contentBox a.navbtn_hit{
    width: 100px ;  
    height: 45px;
    float: left;
    display: block;
    background: -webkit-linear-gradient( #DF0000, #BF0000);
    background: -moz-linear-gradient( #DF0000, #BF0000);
    background: -ms-linear-gradient( #DF0000, #BF0000);
    background: -o-linear-gradient( #DF0000, #BF0000);
    background: linear-gradient( #DF0000, #BF0000);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DF0000', endColorstr='#BF0000',GradientType=0 ); 
    font: 16px/45px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
    color: #FFF;
    border: 0;
    border-radius: 5px 5px 0 0;
}
/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
    /*background-image: url(../images/arrow_right.gif);*/
    background: red;
    background-color: #fff;
    background-repeat: no-repeat;
    opacity: 0.35;
    filter: alpha(opacity = 35);
    -moz-opacity: 0.35;
    zoom: 1;
}
div.scrollWrapper
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 45px;
}

div.scrollableArea
{
    position: relative;
    width: auto;
    height: 45px;
    display:none;
}

#ulSwitch{ display: none;}                      /*pad 讓棋盤和list切換按鈕 隱藏*/
.tc_big_content_slider_wrap{ display: none;}    /*pad 今日熱銷滑動檔次 隱藏*/

/*17life 全新上線功能隱藏*/
.joyride-tip-guide,.joyride-modal-bg{display: none;}
#joyRideTipContent{display: none;}

/*20140820 by stan 多分店檔次效果*/
.HKL_MainDealProductName .tag-location{ display: inline-block;}
#MainPic .time_counter{display: none;}

/*退貨頁面-GiGi*/
.ReturnFrame {
    width: 95%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ReturnApplitext, .ReturnAppliReason textarea {width: 100%;}
.ReturnCenter .grui-form .form-unit .data-input p {margin-right: 0;}

/*201409 手機認證相關 by stan
.phone-approve .grui-form .form-unit .data-input .input-full{ width: 100%;}
.phone-approve .grui-form .form-unit .data-input .input-half{ width: 100%;}
*/
.mail-subscribe-bg { margin-top: 0;}
.Headermiddle { display: block;}
.prev { margin-left: 0px;}
.next { margin-left: 0px;}

/*新增RWD客服中心*/
.support_c {display:block;}
.Support_center {display:block; width:94%;}


.MemberUserpolicydate{ display: none;}/*會員隱私權保護政策&*/

/*201503_折價券活動代碼領取功能*/
.discount_user_exchange_wrapper .discount_user_exchange .input-2column-long { width: 30%; margin-right: 0px; }
.discount_user_exchange_wrapper .discount_user_exchange .input-2column-short { width: 20%; margin-right: 20px; }
.discount_user_exchange_wrapper .discount_user_exchange p.cancel-mr{ width: 30%;  }
.discount_user_exchange_wrapper .discount_user_exchange p.cancel-mr input{ width: 80%;}

/*201503_折價券選取 rwd顯示*/
.message_box_MoneyTicket .message_box_main ul li a{ padding: 10px 0 25px 15px }
#maincontent .content-group.payment .date{ float: left;}
.message_box_main p.conform-m { float: right;}

/*20150612 客服紀錄標題旁邊增加連結到 客服中心*/
.center .mc-content .rd-smll{font-size: 20px;}
.mc-content h1 {font-size: 20px;}
.mc-content h1 a.to_NewbieGuide {display: inline-block; font-size: 15px;}



/*****
*
*銀行專區 201506 by stan
*
*****/
.btnBackTop_web{ display: none;}
.btnBackTop_rwd{ display: block;}
.topbn_bank_wrap{ background: none;}
.topbn_bank_wrap .topbn_bank .link_17life a{ display: block; }
.grid_bank .bank_item{ width: 47.5%; }
.grid_bank .bank_item:nth-child(even){ float: left; margin: 0 0 5% 0;} 
.grid_bank .bank_item:nth-child(odd) { background: black; float: right; margin: 0 0 5% 0;}
.grid_bank .bank_item:nth-child(3n){ float: left;}

ul.nav_bank li{ font-size: 100%;}
ul.nav_bank li a span{ width: 100%;}
ul.nav_bank i{ display: none;}

.bank_content_wrap .bnak_btn_wrap .btn_buy {width: 60%; }


/*****
*
*item for 3Column 201507 by stan
*
*****/
.item_search_result_wrap .result_title{ width:90%; margin: 0 auto; }
.item_3col_wrap{ width:90%; margin: 0 auto;}
.item_3col_wrap .item_3col{width: 48.5%; }
/* 搜尋結果頁需篩選 201605 by stanley*/
/*.item_3col_wrap .item_3col:nth-child(odd){ float: left; margin:0 0 5% 0;}
.item_3col_wrap .item_3col:nth-child(even){ float: right; margin:0 0 5% 0;}*/
.item_search_result_wrap .item_3col_wrap .item_3col{float:left; margin:0 0.59% 5% 0.59%;}
}