﻿/* Start 圖標字體化-------------------------------*/
.arrow-down .icon-chevron:before { content: "\f078";/*下括號*/ }
.arrow-on .icon-chevron:before { content: "\f077";/*上括號*/ }
/* End 圖標字體化-------------------------------*/
.part-17life, .part-pez-cert, .part-serivce, #EmailTitle, .ch-todaydeal, 
.ch-qa, .mc, .member-name, .White, #Login img, .outside_AD, .outside-topOptBox, 
#TOPBanner, #Rightarea, .nc_deal_sort, .Encore, .dealsaletext, .dealpricetext, 
.TimerTitleField .icon-clock-o, .HKL_MaindealTitle,
.EntryTitle.ET_4, .rd-guarantee, .Detail_buy_box .price, #DialogBottom, 
.three-promise, .NavAD_sp, .outside_AD, .pop-confirm, #MaindealFacebookarea, 
.HKL_MainDealCityTitle, .HKL_MainDealProductName, .HKL_MaindealTitle, 
.HKL_MainDealCityTOPTitle, #HKL_Facebookarea, .DealPriceInfo .buy_btn_box, 
.TimerTitleField.forlist, .DealPriceInfo p.dealpricetext,
.function-menu-bar, .slide-bn-block, .activity-top-block {
	display: none;
}
#wrap {background: #f2f2f0 !important; }
/* Start Header-------------------------------*/
#Headermiddle, #middle, .DealPriceInfo.deal-detail-overwrite { height: auto; }
#Headermiddle { display: none; } /* 2015.7.27 新M版 Header 隱藏 */
#PponLOGO { /*LOGO*/    
    width: 100px;
    height: 40px;
    margin: 5px;
    margin-left: 5px;
    display: inline-block;
}
#PponLOGO img { height: 100%; }
.p3footer .footer_content, #middle, .HaokangList, .Maindeal, .MaindealMiddle, #maincontent, #Left, .info_bar, #FULL, #FULL > #maincontent {
    width: 100%;
    height: auto;
    margin-top: 0;
}
#maincontent, .slideBox .bd { background: #fff; padding-left: .2rem;}
.slideBox h2{ margin: 10px 0 5px 0;}
#Login { font-size: 14px; }
.overlay-channel { /*主選單*/
	display: block; 
	cursor: pointer;
}
.LoginBox { /*未登入*/  
 	width: 40px;
	margin: 0;
	padding: 5px 10px 0 0;
}
.mc-menu-btn { /*登入後會員icon*/    
    float: right;
    right: 0;
    cursor: pointer;
    display: block;
}
#navimain {
	width: 100%;
	text-align: center;
}
#navimain ul {
	width: 100%;
	margin: 0 auto;
}
.search-block { /*搜尋bar*/
	width: 95%;
	height: 40px;
	margin: -45px auto 0;
	z-index:1;
}
.search-button {
	margin-left: -5px;
	display: inline-block;
	float: none;	
}
.search-bar { 
	width: 80%; 
	float: none;
}
.search-button { 
	margin-left: -5px;
	float: none;
}
/*主選單*/
#navi { 
	margin: 50px auto 0;
	border-bottom: 0;
}
#navimain .logo-inline, #navimain .navbtn_inpage, 
#navimain .navbtn, .marketing-block { display: none;}
#navimain { height: 0;}
#navimain .fr { width: 100%; height: 0;}
/*.sliderWrapMenber { 篩選欄
	width: auto;
	height: 0;
	display: block;
	overflow: hidden;
}*/
.m-classify {
	width: 100%;
	height: 40px;
	margin-top: 15px; /*塞選列距離上方bn太遠*/
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: none;
	display: block;
	background: #f7f7f7;
}
.m-classify li {
	float: left;
	border-right: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
}
.col-1-4 li {
	width: 28%;
	overflow: hidden;
}
.col-1-3 li, .col-1-2 li { width: 42%; }
.col-1-3 li:first-child,.col-1-2 li:nth-child(2) { display: none; }
.col-1-4 li:last-child, .col-1-3 li:last-child,.col-1-2 li:last-child { 
	width: 16%; 
	border-right: none;
}
.m-classify a {
    width: 100%;
    height: 40px;
    overflow: hidden;   
    font-size: 14px;    
    height: 40px;
    overflow: hidden;   
    text-align: center;
    line-height: 40px;
    color: #888;
    display: block;
}
.m-classify li a:hover { text-decoration: none; }
.arrow-down span, .arrow-on span { padding-left: 0.3em; }
.filter span {
    font-size: 24px;
    line-height: 40px;
}
.arrow-on a, .filter-on a {
	color: #BF0000;
	background: #fff;
}
.arrow-on .icon-chevron-up { color: #BF0000; }
/*篩選欄列表*/
.mbe-switch { 
    width: 100%;
    float: left;
}
.NaviCityW {
    width:100%;
    margin-top: 0;
    border: none;
    border-radius: 0;
    background: #eeeded;
    display: none;
}
.NaviCityMP, #ulSort, #ulFilter, .NaviCityML { 
    width: 100%; 
    margin: 0 auto; 
    border: none;  
    background: #f5f5f5;
    display: none;
}
ul.sub-classify {display: none;}
.NaviCitySelectArea, .NaviCitySelectSort, .NaviCitySelectArea { display: none; }
.NaviCityArea { 
    width: 100%; 
    padding: 0; 
    border: none; 
    text-align: center; 
}
.NaviCityArea li,.NaviCitySequence li, .NaviCitySort li { 
    width: 100%; 
    margin: 0;
    float: none; 
    text-align: left;
}
.NaviCityArea a, .NaviCitySequence a, .NaviCitySortRank a, .NaviCitySortRank li > a { 
    width: 100%; 
    margin: 0;
    padding: 12px;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    background: #f5f5f5;
    border-radius: 0;
    font-size: 14px; 
    font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    		box-sizing: border-box;
}
.NaviCityArea a:hover,.NaviCitySequence a:hover, .NaviCitySort a:hover { 
    width: 100%; 
    background: #f8f8f8; 
    color: inherit;
    border-radius: 0;
    text-decoration: none;
    }
.NaviCityArea a.on, .NaviCityArea a.on:hover, .NaviCitySequence a.on, .NaviCitySequence a.on:hover, .NaviCitySort li.on a, .NaviCitySort li.on:hover a {
    color: #BF0000;
    background: #fff;
}
.NaviCitySort a:hover .WordsGray, .on a:hover .WordsGray ,.NaviCitySort li.on .WordsGray{color: #ccc;}
.NaviCitySort, .NaviCitySortRank, .NaviCitySequence {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}
#ulFilter li {border-bottom: 1px solid #e5e5e5;}
#ulFilter li.m-filter-btn {
    display: block;
    padding: 10px 0;
    border-bottom: none;
}
.ncs-filter { 
    margin: 1px 10px;
    position: relative;
}
input[type=checkbox].css-checkbox {
	width: 1px;
	height: 1px;
	margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
input[type=checkbox].css-checkbox + label.css-label {
    width: 100%;
    height: 44px;
    padding-left: 20px;   
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    font-size: 14px;
    line-height: 44px;
    vertical-align: middle;
    cursor: pointer;
}
.ncs-filter input[type=checkbox]:checked + label span:first-child {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.ncs-filter input[type=checkbox] + label span:first-child {
    width: 9px;
    height: 5px;
    margin-top: 3px;
    border: 3px solid #BF0000;
    border-top: none;
    border-right: none;
    background: transparent;
    position: absolute;
    top: 12px;
    left: 0;    
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.rdl-Btn-box {
	width: 100%;
	border-bottom: 5px solid #9f0000;
}
.rd-C-Hide, .rd-t-Disap, .mc-content h1.rd-C-Hide,
 .sortrank-hot, .sortrank-new { /*HOT標籤隱藏*/
	display: none;
}
.Sort-basis {display: none;}
/*次選單*/
.center { width: 100%;float: left;margin-top: 0; }
.sliding-menu { position: relative; }
.sliding-menu ul {
    float: left;
    margin: 0;
}
.NaviCitySortRank ul > li.sub-arrow > a:before, .NaviCitySortRank ul > li.sub-arrow > a:after,
.NaviCitySortRank ul > li.sub-arrow.on > a:before{
    border: none; 
    position: inherit; 
    top: 0;
}
.sliding-menu a.nav:before, .NaviCitySortRank ul > li.sub-arrow > a:before {
    content: '\3009';
    float: right;
    margin-left: 1em;    
}
.sliding-menu a.back:before {
    content: '\3008';
    float: left;
    margin-right: 1em;
}
.sliding-menu a.back{
    background: #999;
    color: #FFF;
}
/*輪播Banner*/
#MTOPBanner {margin: 0 auto;}
.slide-bn-block {
	height: 109px;
	padding-top: 0px;
}
.slide-m-browser, .slide-bn-block.m-browser { display: block; }
.slide-bn-block.m-browser {
  height: inherit;
  padding-top: 0;
}
.slide-bn-block { display: none;}
.activity-top-bn { 
	width: 100%; 
	height: auto;
}
.slide-bn-area { 
	width: 98%; 
	height: auto; 
	margin: 0 auto;
}
.slide-bn-block:before { left: -240px;}
.slide-bn-block:after { right: -85px;}
.slideBox2 .hd { 
	left: 25%; 
	bottom: -2px;
}
.prev { left: 5%; top: 35%;}
.next { right: 1%; top: 35%;}
/*首頁今日熱銷輪播&商品*/
.slideBox .bd li {text-align: left;}
.slideBox .bd li a {padding: 0;}
.HaokangList { 	margin-bottom: 0px; padding:10px 5px 0px 5px;}
.tempWrap .Maindeal, #maincontent .forsdeal, #Entry {
	width: 95%;
	margin: 10px auto;
	position: relative;
}
.tempWrap .Maindeal{
	margin: 0;
}
#MainPic {
	margin: 0px 10px 5px 0;
	border: 2px solid #eee;
	float: left;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='ppon-M1_pic.jpg',sizingMethod='crop');
	overflow: hidden;
  	width: 144px;
  	height: 80px;
}
#MainPic.picforsdeal span img {	width: inherit; width: 100%; }
#MainPic img {
	max-width: inherit;
  	width: 100%;
}
.deal-details{
	height: 90px;
	overflow: hidden;
}
.Maintitle {
	margin: 0 15px 0 0;
}
.HKL_MainDealAppName { /*APP短標*/
	height: 50px;
	padding-right: 5px;
	font: 16px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	line-height: 24px;
	display: block;	
	overflow: hidden;
}
/*.tag-location {	
	font-size: 12px; 
	border:none ; 
	margin: 0; 
	padding:0;
	color: #1ab4e8; 
	opacity: 0.6;
	filter: alpha(Opacity=60, Style=0);
	-moz-opacity: 0.6; 
}*/
.tag-location{
	color: #fff;
	font-size: 14px;
	padding: 2px 4px ;
	line-height: 18px; 
	background: #999;
	border-radius: 15px;
	border:none ;
	margin: 0;
	margin-top: -20px;
}
.tag-title{
	font-weight: bolder;
}
.tag-subtitle{
	font-weight: lighter;
}
.Maindeal_bottom{ 
	clear: both; 
	float: left;
	margin: 0 0 10px 0; 
	line-height: 24px; 
	height: 30px;
	position: relative;
	width: 100%;
}

.dts {/*標籤*/	
	float: left;
	max-height: 30px;
	max-width: 220px;
	overflow: hidden;/**/
  	display: inline-block;
}
.dts-label {
	width: auto;
    height: 16px;
	line-height: 16px;
	text-shadow: none;
	margin: 5px 0 0 0px;
	padding:2px 5px 2px 5px;  
	border-radius: 0;
}
.dts-lb-1, .dts-lb-2, .dts-lb-3,
.dts-lb-4, .dts-lb-5, .dts-lb-6, .dts-lb-7, .dts-lb-8, .dts-lb-9, .dts-lb-10 {background: none; border:1px solid ; margin-right: 5px }
.dts-lb-1, .dts-lb-2 { color: #bf0000;}/*破千、破萬*/
.dts-lb-3 { color: #ff8d4e;} /*即買即用*/
.dts-lb-4 { color: #bf0000; border-color: #31312c;} /*24*/
.dts-lb-5 { color: #bf0000; border-color: #31312c;} /*72*/
.dts-lb-7 { color: #f23082;} /*最後一天*/

.DealPriceInfo {
	width: auto;
	height: auto;
	float: left; /*float: right; 字數過長被截掉會自動靠左邊 造成版面有左有右 不整齊*/ 
	overflow: hidden;
	margin: 10px 20px 0 0;
	top: 0px;
	background: none;
	border: none;
}
.DealPriceInfo .buycounter .icon-user, .lineview-counter .icon-user {
	padding-right: 3px;
	color: #666;
	font-size: 12px;
	display: none;
}
.Maindeal_bottom .buycounter {
	font-size: 12px;
	background: none;
	opacity: 0.6;
	filter: alpha(Opacity=60, Style=0);
	-moz-opacity: 0.6;
	float: right;
	margin: 2px 15px 0 0;
	position: absolute;
	right: 0;
	top:2px;
	z-index: 10;
}
.DealPriceInfo .buycounter .people {
	font-size: 12px;
	color: #333;
	font-weight: normal;
}
.DealPriceInfo .discount,.DealPriceInfo .text_through {
	width: auto;
	height: 30px;
	top: 0;
	left: 0;
	display: inline-block;
	font: 16px "Arial", "微軟正黑體", sans-serif;
	color: #666;
	background: none;
	position: relative;

}
.DealPriceInfo .smalltext, .m-priceZone .smalltext, 
.lineview-priceZone .smalltext { font-size: 18px; /*margin: 0 0 0 2px;*/ } /*造成價錢位置高低不平*/
.DealPriceInfo .text_through{ 
	text-decoration:line-through; 
	font-size: 12px;  
	opacity: 0.6;
	filter: alpha(Opacity=60, Style=0);
	-moz-opacity: 0.6;
}
.DealPriceInfo p.dealprice {
	padding-left: 0;
	display: inline-block;
	font: 24px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
/*檔次列表*/
#maincontent .Maindeal, .slideBox .Maindeal {
	padding: 0;	
	border-radius: 0;
	box-shadow: none;
	/*border-bottom: 1px solid #ccc;*/
	border: none;
}

/*熱銷的下border為0*/
.Maindeal_hotsale{
	border:0;
}
.Maindeal_hotsale .Maindeal_bottom{
	margin-bottom: 0;
}

.Maindeal a{
	padding: 0;
	display: block;
	clear: both;
	overflow: hidden;
}
.Maindeal > a
{
	border-bottom: 1px solid #ccc;	
}
.Maindeal a:hover {	text-decoration: none;}
#MainPic:hover, #MainPic:active { border: 2px solid #E2E2DA;}
#MainPic .alo-l { width: 50%; }
/*會員選單*/
.mbe-menu2 {
    width: 100%;    
    height: 100%;
    margin-right: 0;
    float: right;
    background: #f2f2f0;
    position: absolute;
	z-index: 30;
	top: 50px;
	display: none;
    -webkit-transition: margin 0.3s;
       -moz-transition: margin 0.3s;
         -o-transition: margin 0.3s;
            transition: margin 0.3s;
     -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
          -o-transform: translate3d(0,0,0);
             transform: translate3d(0,0,0);
}
#navimain2 li {
	width: 100%;
	float: right;
}
#navimain2 li a{ 
	padding-right: 15px;
	color: #FFFFFF;
	text-decoration: none;
	-moz-box-sizing:border-box; 
	box-sizing:border-box; 
	cursor: pointer;
}
#navimain2 .navbtn:hover{ 
    background: -webkit-linear-gradient( #DF0000, #BF0000);
    background: -moz-linear-gradient( #DF0000, #BF0000);
    background: -ms-linear-gradient( #DF0000, #BF0000);
    background: -o-linear-gradient( #DF0000, #BF0000);
    background: linear-gradient( #DF0000, #BF0000);
}
.mbe-menu2 #navimain2 li, .mbe-menu2_show #navimain2 li {
	border-bottom: 1px solid #555;
	text-align: right;	
	background: #333;
}
.navbtn, .navbtn_inpage {
	width: 100%;
	font: 13px/45px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
.HKL_Button_back_to_top_command { /*gototop*/
	width: 50px;
	height: 50px;
	right: 5%;
	bottom: 25px;
	z-index: 99;  
}
/*footer*/
.p3footer .info-17life {
	width: 100%;
	padding: 0;
	text-align: center;
}
.footer_logo { margin: 0 auto; }
.support_c { display: block; }

/*slider banner*/
.slide-bn-block.m-browser{
	background: #f2f2f0 ;
}
.slide-bn-block:before{
	background-image: none;
}
.slide-bn-block:after{
	background-image: none;
}
.slide-m-browser{
	margin-top:0; 
}

/*今日熱銷 點點點的高度*/
.slideBox .hd{
	margin-top: 20px;
}

/*新光三越專區檔次列表*/
.swiper-top + .center { background: #fff; padding-top: 30px;}
.sk_content_box { width: 100%; background: #fff; margin: 5px 0;}
.sk_deal_right_block { width: 40%;}
.sk_deal_pic { width: 60%;}
.sk_deal_pic img { width: 100%; max-width: auto;}
.sk_buy_btn { display: none;}
.sk_tag_location { margin: 3px; margin-left: 2%;}
.sk_tag_title { width: 95%; margin-left: 2%; height: 12px; line-height: 12px; font-size: 12px;}
.sk_tag_subtitle { width: 95%; margin-left: 2%; height: 24px; line-height: 13px; font-size: 12px;}
.sk_deal_price { font-size: 18px; line-height: 22px; margin-left: 2%; float: left; margin-right: 5px;}
.sk_oriprice { margin-left: 2%; margin-top: 0; float:left; margin-top: 3px;}
.sk_MainDealAppName { margin-bottom: 5px;}