﻿/*all resolution setting*/
.rdl-tittleText, .rdl-FStittText { display: none;}

/*screen resolution width >= 1280px setting*/ 
@media screen and (min-width: 1280px) {
.ac-center { margin:0 auto 10px auto;}
.ch-fami, .ch-itemdeli-mb, .ch-beauty-mb, .mbe-menu2  { display: none; }
#mc-table .rd-table .mc-tableContentITEM .rd-Detailtitle, .rdl_Collect, .rdl_Collect-ok {display:none; }
.rd-DisplayPanel, .rd-layout-switch, .mbe-nav-city, .mc-menu-btn, #Act-smallTOP, .rdl-pl-show  {display:none; }

.rdl-list-box, .rdl-evn-pprule, .rdl-pl-show {
    display: none;}
.fde-ctrlarrow-l, .fde-ctrlarrow-r, .Multi-grade-Setting .mgs-item-box .mgs-discount { display: none;}
.Multi-grade-Setting .mgs-item-box .mgs-buy-tittle { display: none; }

}

/*screen resolution width >= 1000px setting*/ 
@media screen and (min-width: 1000px) and (max-width: 1279px) {
.ac-center { margin:0 auto 10px auto;}
.ch-fami, .ch-itemdeli-mb, .ch-beauty-mb { display: none; }
#mc-table .rd-table .mc-tableContentITEM .rd-Detailtitle, .rdl_Collect, .rdl_Collect-ok, .mbe-menu2 {display:none; }
.rd-DisplayPanel, .rd-layout-switch, .outside_AD, .mbe-nav-city, .mc-menu-btn, .outside-topOptBox, #Act-smallTOP {display:none; }

.rdl-list-box , .rdl-evn-pprule, .rdl-pl-show  {display:none; }
.fde-ctrlarrow-l, .fde-ctrlarrow-r, .Multi-grade-Setting .mgs-item-box .mgs-discount { display: none;}
.Multi-grade-Setting .mgs-item-box .mgs-buy-tittle { display: none; }
.mgs-buy-box{ display: none;}

}

/*screen resolution width >=768px for pad portrait setting*/
@media screen and (min-width: 768px) and (max-width: 1000px) {

.mgs-s-T{ display: none;}

.center { width: 95%; }

.part-17life, .part-pez-cert, .part-serivce, #EmailTitle,
.ch-qa, .mc, .member-name, .White, #Login img, .outside_AD,
#Rightarea, .nc_deal_sort, .Encore,
.TimerTitleField .icon-clock-o, .HKL_MaindealTitle, .DealPriceInfo .buycounter .icon-user,
.EntryTitle.ET_4, .NavAD_sp, .outside_AD, .outside-topOptBox,
.pop-confirm, .mbe-nav-city, .mc-menu-btn, .mbe-menu2, #Act-smallTOP { display: none; }

.rdl-list-box , .rdl-evn-pprule, .rdl-pl-show  {display:none; }

.p3footer .footer_content, #middle, .HaokangList, .Maindeal,
.MaindealMiddle, #maincontent ,#Left, .info_bar
 { width: 100%; height: auto;}

 
#Login { font-size: 14px; }
.LoginBox { width: auto; margin: 10px 5px 0 0; }
.HKL_MainDealProductName, .HKL_MaindealTitle { width: auto; margin: 0 5px; }
#Headermiddle, #middle, .DealPriceInfo.deal-detail-overwrite { height: auto; }
.p3footer .footer_logo { margin: 0 auto; }
.p3footer .info-17life { width: 100%; padding: 0; text-align: center; }
a.rd-layout-switch { margin-top: 20px; display: block; font-size: 18px; color: #999; text-decoration: underline; }

#PponLOGO { width: 150px; height: 40px; float: left; margin: 5px; background: url(https://www.17life.com/Themes/PCweb/images/ppon-M1_LOGO.png) no-repeat;}
#TOPBanner { width: 100%; }
#Act-TOP { width: 100%; }
#newscontent > img { display:none; }
#navimain ul { width: 100%; margin: 0 auto; }
#navimain li { width: 14.2%; }
.navbtn_inpage,.navbtn{	width:100%;}
.ch-itemdeli, .ch-beauty { 
	display: none; }
.ch-fami, .ch-itemdeli-mb, .ch-beauty-mb { 
	display: block; }

#NaviCity a { padding: 0 15px; }
#navimain, .NaviCityMain { width: 100%; height: auto; text-align: center; }
.NaviCityMain a { font-size: 16px; }
.Maindeal, #maincontent .forsdeal, #Entry { width: 696px; margin: 10px auto; padding-bottom: 10px; }
.Maintitle + .dts {margin-top: -10px; margin-bottom: 10px;}

/*A1-TodayDeal-by-TouNeko*/
.BigDeal { display: none; }
#AlldealGoods, .tc_small_content_area { width: 690px; margin:0 auto; }
.tc_small_content_area .s_content_box { margin: 15px; }

/*B1-Payment-by-alan*/
#Rightarea.rd-payment-qma, .rd-payment-words-hide, .grui-form .form-unit.rd-payment-form-unit-disappear { display:none;}
.TOPBanner, .safelycode {display:none;}
#Left { float: none; }
#Left.rd-payment-Left-width {width:100%; margin:0 auto;}
h1.rd-payment-h1 {width:auto;}
hr.header_hr.rd-payment-width { width:auto;}
#maincontent.clearfix {width:auto; margin:0 auto;}
#maincontent .content-group.payment { width: auto; min-height: auto; margin-top: 10px; padding: 15px; }
#maincontent .content-group.payment h2.rd-payment-h2 {width:auto; padding:5px 0;}
#maincontent .content-group.payment .info_bar {height:70px;}
#maincontent .content-group.payment .info_bar.rd-payment-hide {display:none;}
#maincontent .content-group.payment h2.rd-fd-title { padding: 0; }
.grui-form {width:auto; text-align:left; padding:5px; }
.grui-form .form-unit .data-input p.subnote { margin-left: 0; }
.grui-form .form-unit .data-input p.subnote.rd-payment-margin-zero {margin: 5px 0 10px 10px;}
.grui-form .form-unit.rd-pay-margin {margin-left:8%;}
.grui-form .form-unit .data-input.rd-pay-margin {margin-left:5%;}
.grui-form .form-unit .data-input.rd-pay-span-ctr { margin-left: 0; width: auto; text-align:center; }
.grui-form .form-unit .data-input .input-credit { width:15%;}
.grui-form .form-unit .data-input .align-fix { margin: 0; }
.grui-form .form-unit.end-unit.rd-pay-pos-fix { margin-left: 0px; }
.grui-form .form-unit .data-input select.rd-fd-select { width: 100%; }
.grui-form .form-unit .data-input p.cancel-mr { margin-right: 0; }
.rd-letter-spacing {letter-spacing:-1px;}
.btn.btn-mini.rd-margin { margin-left:5%;}
.info_bar .share .share_text.rd-share-text {line-height:20px; margin-bottom:10px;}

/*C1-MarberCenter-OrederList-by-ariel*/
.rd-C-Hide {display: none;}  
.rd-float-lft { float:left;} 
.rd-float-right { float:right;}
.rd-DisplayPanel { display: inline; }
.rd-redColor{ color:#bf0000; }
.mc-order-states, .OrderAmount, .rd-PastCustomer, #mc-tableContentTitleRight,
.OrderNumber, .OrderTrustState, .OrderDetailSale , .OrderDetailSubTotal, .btn-return, .CashCouponsDate, .CashCouponsUseDate {display: none;}
.tag-visable { display: block !important; }
.OrderSerial:before { content:"訂單編號：";}
.center .mc-navbar { width: 100%; height:29px; margin-top: 0; display:inline-block; }
.center .mc-navbar .mc-navbtn { box-sizing: border-box; -moz-box-sizing: border-box; width: 25%; margin:0;border: 1px solid #CCC;border-radius: 5px 5px 0 0;border-bottom: #e4e4e4; border-left: 1px dotted #CCC; padding:0 1px;}
.center .mc-navbar .mc-navbtn a: {display:inline;}
.center .mc-content { width: auto; margin-top:2px;}  
#mc-table .rd-table{ width: 100%; }
#mc-table .rd-table .mc-tableContentITEM .rd-Detailtitle{display:inline;}
#mc-table .rd-table td{text-align: left; padding: 0 5px; font-size:12px; border:none;}
#mc-table .rd-table .OrderDate, .OrderSerial, .OrderName, .OrderExp, .OrderCouponState, .OrderState { width: 100%; display : block;  }
#mc-table .rd-table .OrderDate {margin-top:8px;}
#mc-table .rd-table .OrderExp { color:#bf0000; padding-bottom:3px;}
#mc-table .rd-table .OrderCouponState { width:97%;text-align:right;height:20px; margin-bottom:10px;} 
#mc-table .rd-table .OrderState { width:97%; text-align:right; height:20px; margin-bottom:15px; } 
#mc-table .rd-table .OrderState .LastDate { width: auto; }
#mc-table .rd-table .OrderCouponState .rd-c1-mcorbtn-mini{padding: 0 3px;font-size: 11px;}
#mc-table .rd-table .OrderCouponState br{display: none;}
#mc-table .rd-table .OrderName #mc-tableContentTitleLeft { margin:0 -2px 0 0; font-size:12px;}

/*C1-MarberCenter-AccountSetting/orderdetail-by-ariel*/
#mc-table .rd-mcOrdetail{width:100%;} 
#mc-table .rd-mcOrdetail th{width:100%;display:block;}
#mc-table .rd-mcOrdetail .OrderItemName, .OrderSN, .OrderCode, .OrderEXP, .OrderPonState, 
.OrderAddressee, .OrderAddrPhone, .OrderAddrAdd, .OrderDeliverInfo,
.OrderDetailItemName, .OrderDetailPrice, .OrderDetailAmount, .OrderDetailTotal, .OrderPayTotal, .OrderReturnDate, .OrderReturnAmount, .OrderReturnCash, .OrderReturnProcess, .OrderPayPEZ, .OrderPayBonus,
.OrderPayCash, .OrderPayCredit, .OrderPayAtm, .OrderPayCoupon, .OrderGetPon {width: 96%; display : block;}
.OrderGetPon:before { color:#BF0000; content:"索取憑證:";}
.order-get-coupon-box { width: auto; margin: 5px; padding: 5px 0 0 0; }
.order-get-coupon-box a:first-child { display: none; }
.rd-text-rg { text-align:right; width:100%;display:block;}
#mc-table .rd-mcOrdetail .mc-tableContentITEM td{ width:96%;text-align:left; border:none;}
.mc-addressee-box .form-unit.end-unit { margin-left: 0px; }
.mc-cash-states { padding: 10px; }
.mc-cash-states { padding: 10px; }
.order-atm-info, .order-atm-header { padding: 10px 0;}

/*C5-MemberCenter-Collect-by-ariel*/
.mc-c5tdwe0{ width: 25%; }
.mc-c5tdwe1{ width: 50%; } 
.mc-c5tdwe4{ width: 15%; }
.mc5-btnSpacing { display: inline-block; }
.mc-c5tdwe2, .mc-c5tdwe3 { display: none;}


/*A2-multi-grade-by-TouNeko*/
.Multi-grade-Setting, .Multi-grade-Setting .mgs-boxtitle, .pop-window { width: 100%; box-sizing: border-box;}
.Multi-grade-Setting { border:none;}
.MGS-XX { width: 100%; height: auto; margin-bottom: 10px; position: static; text-align: center; background: none; }
.MGS-XX input { display: inline-block; }
.Multi-grade-Setting .mgs-item-box .mgs-content {
    float: left;
    padding: 5px 12px 5px 6px;
    width: 85%;
}

/*H-17lifeMember.html-ariel*/
.rdl-Tdis{ display: block;}
.Cityarea, .CityTop, .HomepageMarketingBn, .HomePageCityBottom, .LifeMemberAgree br, .LifeMemberAgree .rwd-wh,
.LifeMemberTopText img, .LifeMemberLoginPicText, .LifeMemberLoginPic, .LifeMemberAgreeError br, .LifeMemberAgreeError .rwd-wh, .lmbeclogingBtn2, .lmbeclogFBPEZTi, .header_btn_box { display: none;} 
.LifeMemberNote, .LifeMemberVerification, .LifeMemberVerification.LifeMemberVFCodeText,
.LifeMemberInfo_f li, .LifeMemberAgree, .LifeMemberAgreeError, .meeaar, .LifeMemberFirstShopping, 
.Homepagemiddle, .Homepagecenter{ width: 90%;}
.LifeMemberFrame, .LifeMember , .LifeMemberTop { width: 99.8%; }
.rdl-LMberCt-pad{ height: 560px;}
.HomepageLogin { width: 30%;}
.LifeMemberTopText { font-size: 21px; width: 100%; margin: 0 auto; text-align: center;}
.rdl-tittleText{ display: none;} 
.LMInfo ,.LMInfo ul.LifeMemberInfo, .LMFirstShopping, .LMFirstShopping ul.LMFShoppIn, .LifeMemberConfirmMessage, .LMPasswordFrame ul.LMPasswordIn, .LifeMemberConfirmRemarks, .PezFbFillInEmail,.PezFbFillInEmail ul { width: 94%; padding: 12px 20px 20px 20px;}
 
.LifeMemberInfo li, .LifeMemberInfo li:hover, .LMInfo li.LifeMemberInfoColor, .LMPasswordIn li, .LMPasswordIn li:hover, .LMPasswordFrame li.LMPasswordInColor, .LMPasswordFrame li.LMPasswordInColor:hover{ width: 94.5%; padding: 0 17px; }
.LMFShoppIn li, .LMFShoppIn li:hover, .LMFirstShopping li.LMFShoppInColor, .PezFbFillInEmail li, .PezFbFillInEmail li:hover, .PezFbFillInEmail li.PezFbFillInColor { width: 95.5%; padding: 5px 14px; height: auto; margin: 8px 0;}

.LifeMemberInfoTittle, .LifeMemberFirstShoppTittle, .LMFShoppTittle, .LMPasswordFrameTittle { width: 30%; font-size: 15px; letter-spacing: 0em;}
.LifeMemberText input, .LMPasswordFrameText input{ width: 33%; font-size: 14px;}
.LifeMemberText select{ width: 30%;  font-size: 14px;}
.LifeMemberNote, .LMFShoppNote, .LMPasswordFrameNote{ width: 100%; margin: 0 10px; font-size: 12px; color: #999;}
.LifeMemberTXT2{ margin-left: -14px;}
.LifeMemberVerification, .LifeMemberVerification.LifeMemberVFCodeText{ width: 91%; margin: 10px auto;}
.LifeMemberInfo_f li, .LifeMemberInfo_f li:hover, .LMInfo li.LifeMemberInfoColor_f{ width: 86%; padding: 5px 8px;margin: 10px auto;}  

.LifeMemberAgree, .LifeMemberAgreeError{ width: 100%; left: 0px; font-size: 12px; line-height: 23px; top: 5px;} 
.LifeMemberVFCode{ width: 50%;margin-left: 85px;} .LifeMemberVFCodeText{ width: 30%;}
.meeaar{ margin-left: 0px;} .onlyRED{ margin: 0px; }

.LifeMemberFirstShopping{ padding: 30px 4px 0px 3px; width: 87%;}
.LifeMemberPEZOpenPassaPic, .LifeMemberConfirmMessage { display: block; margin: 0 auto; float: none;}
.LifeMemberPEZOpenPassText, .LifeMemberConfirmEPText { display: block; width: 95%; font-size: 15px; margin: 0 auto; float: none; }
.LifeMemberConfirmEPText { margin-top: 22px; }
.LifeMemberFirstShoppTittle { width: 15%; }
.rdl-FStittText { display: none; } 
.LifeMemberFirstShoppMail{ width: 55%; } .rdl-FSpT{ letter-spacing:0.1em;}
.LMFShoppName, .LMFShoppGender{ font-size: 15px; } .LMFShoppNote{ margin-left:-5px; }
.LMFShoppName input{ width:15%; font-size: 14px;} .LMFShoppPhone input{ width:38%; font-size: 14px; }
.LMFShoppInvoice select{ width: 12% font-size: 14px; margin-left:0;}.LMFShoppInvoice input{ width: 163px; margin-left: 0;}
.rdl-redT, .rdl-redT2{color: #F00; margin-left: 17px; width: 100%;}
.LifeMemberLogFrame{ width: 95%; margin: 10px auto; height: 450px; }
.lmbecOtloginfor, .lmbeclogiTi, .lmbelogGO, .LMPasswordFrame{ margin: 0 auto; height: auto;}  
.LMPasswordFrame{ width: 99.8%;}  
.lmbeclogiTi{ font-size: 12px; margin: 10px auto 0 auto; width: 98%; }
.lmbecloging{ margin: 5px auto; height: auto;}
.lmbecOtloginfor img{ height: auto; max-width: 80%; margin: 0 auto;}
.LifeMemberOtherLoging2, .LifeMemberOtherLoging1{ border: none; border-bottom: 1px dashed #B9955E; height: auto; margin: 0 auto 20px auto; padding-bottom: 18px; width: 100%;} .lmbeclogingTEXT{ font-size: 13px; } 
.lmbeclogingBtn{ max-width: 50%;}
.LifeMemberConfirmMessage{ font-size: 15px;} .rdl-cmsgT{ padding: 15px; width: 89%;} 
.LifeMemberConfirmRemarks{ margin-top: 10px; padding: 15px 0 0 0;}
.rdl-LMPawdFTe input{ width:40%; font-size:14px;} .rdl-LMPawdTit { margin-left: 14px;}
.LMPasswordFrameText select{ width: 29%; font-size: 15px; height: 21px; margin-top: -1px;}
.LifeMemberTXT2 input.rdl-typchk{ width: 15px; display: inline-block;} .rdl-redT3{ margin: 0; } .rdl-redT5{ margin-left: 15px;}
.LifeMemberBtn{ margin-top: 5px;}
.rdl-pfbshp-onl{ line-height: 40px; top: 0px;}
/*A1-DealList_Normal-by-Alan*/
.NaviCityW { display: none; }
.NaviCityMP { width: 100%; margin: 0 auto; border: none; box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);  }
.NaviCitySort, .NaviCitySequence, .NaviCitySelectArea { display: none; }
.NaviCityArea { width: auto; padding: 6px; border: none; text-align: center; }
.NaviCityArea li { display: inline-block; float: none; }
.NaviCityArea a { padding: 3px 18px; font-size: 14px; margin-left: 10px; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; }
/*Fix會員專區消失*/
.rd-mc { display: inline-block;}

/*A1-DealList_Normal-收藏區塊-Collect by ariel*/
.rdl_Collect, .HKL_Collect-ok { display: none;}


/*A3-event_1-6-活動頁*/
.ac-center { margin:0 auto 10px auto;}
.evn-cop-tn-bar{ width: 100%;}
.ly-e-cop-farme{ margin: 0 auto; width: 690px; }
.st-e-cop-area-bar { width: 16%; margin: 0 2px; height: 45px}
.st-e-cop-optionsbn-on, .st-e-cop-optionsbn, .st-e-cop-optionsbn:hover { height: 47px;}
.st-e-cop-optionsbn-on, .st-e-cop-optionsbn, .st-e-cop-optionsbn:hover  { background-size: 100% auto;  background-repeat: no-repeat; }
.evn-cop-buy-sf-box{ margin: 15px;}
.evn-cpp-pinnlife-box {
    margin: 10px 8px;
    width: 47%;
}
.evn-cpp-pinnlife-pic {
    height: auto;
    margin: 10px auto;
    width: 95%;
}
.evn-cop-buytitle, .evn-cop-minorange-title{width: 95%; padding-left: 10px;}
.rdl-Coupon-box { width: 98%;}
.skm-QrMessagefarm{ display: none;}
.evn-copcafarm { 
	margin: 8px 22px; 
	width: 27%; }
.evn-copcadealname, .evn-coptextinfo{ width: 100%; padding: 5px 0 ;}
.st-e-cop-optionsbar { width: 47%;}
.evn-cop-buy-sold-out-bar-290 { width: 100%; height: 100%;}
.ly-e-cop-tab, .fde-ctrlarrow-l, .fde-ctrlarrow-r{ display: none;}
.rdl-plmg{ margin-top: 45px;}
.rdl-redline{ width: 96.6% ; border-top: 5px #d00000 solid; margin: -4px auto 0 10px;  position: relative;}
.st-evncopca-col-btn, .st-evncop-favoritetoo-btn { margin-bottom: 8px;}




}


/*screen device resolution width = 481px-767px for mobile landscape setting*/
@media screen and (min-width: 481px) and (max-width: 767px) {
.rd-C-Hide {display: none;} 

.center { width: 100%;float: left; }

.part-17life, .part-pez-cert, .part-serivce, #EmailTitle, .ch-todaydeal,
.ch-qa, .mc, .member-name, .White, #Login img, .outside_AD, .outside-topOptBox,
#TOPBanner, #Rightarea, .nc_deal_sort, .Encore, .dealsaletext, #HKL_Facebookarea,
.dealpricetext, .TimerTitleField .icon-clock-o, .HKL_MaindealTitle, .info_bar .share .link_btn, 
#MaindealFacebookarea, .EntryTitle.ET_4, .rd-guarantee, .Detail_buy_box .price,
#DialogBottom, .three-promise, .NavAD_sp, .outside_AD, .pop-confirm, #Act-smallTOP,
.DealPriceInfo .buycounter .icon-user { display: none; }

.p3footer .footer_content, #middle, .HaokangList, .Maindeal,
.MaindealMiddle, #maincontent ,#Left, .info_bar
 { width: 100%; height: auto; }

#Login { font-size: 14px; }
.LoginBox { width: auto; margin: 10px 5px 0 0; }
.HKL_MainDealProductName, .HKL_MaindealTitle { width: auto; margin: 0 5px; }
#Headermiddle, #middle, .DealPriceInfo.deal-detail-overwrite { height: auto; }
.p3footer .footer_logo { margin: 0 auto; }
.p3footer .info-17life { width: 100%; padding: 0; text-align: center; }
a.rd-layout-switch { margin-top: 20px; display: block; font-size: 18px; color: #999; text-decoration: underline; }

#PponLOGO { width: 150px; height: 40px; float: left; margin: 5px; margin-left: 5px; background: url(https://www.17life.com/Themes/PCweb/images/ppon-M1_LOGO.png) no-repeat;}
#navi2  { height: 35px; border-bottom: 2px solid #BF0000; background: #333; }
#navimain ul { width: 100%; margin: 0 auto; }
#navimain2 li  { width: 100%; }
#navimain2 li { float: right;} 
#navimain2 a {
    color: #FFFFFF;
    text-decoration: none;
}
.navbtn {width:100%;}
.navbtn_inpage{	width:100%;}
.ch-itemdeli, .ch-beauty { display: none; }
.ch-fami, .ch-itemdeli-mb, .ch-beauty-mb { display: block; }
.info_bar .share .line_btn { display: inline-block; }
#NaviCity a { padding: 0 20px; }
#navimain { width: 100%; text-align: center; }
.NaviCityMain { width: 100%; height: auto; text-align: center; }
.NaviCityMain a { font-size: 16px; }
.Maindeal, #maincontent .forsdeal, #Entry { width: 95%; margin: 10px auto; padding-bottom: 0px; }
.HKL_MainDealProductName { font: 14px/20px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; }
.MaindealMiddle { padding-bottom: 0px; }
.SoldOut_Bar_480 { width: 100%; height: 100%; background-size: contain; background-repeat: repeat-x; }
.Over1K_Badge {  width: 82px; height: 82px; top: -8px; left: -8px; background-size: contain; }
#MainPic { width: 480px; float: none; margin:0 auto 10px auto; border: 5px solid #D2D2CA; background-size: 100% auto;}
#MainPic:hover, #MainPic:active { border: 5px solid #E2E2DA; }
.TimerTitleField, .MaindealClosed, .MaindealTitle, .MainDealProductName, 
.dealtitle_box, #EntryContent, #Detailinner.Equity, #Detailinner, #AddressTitle,
#Addressinner, #Dialog, .deal-title, #Detailinner.Equity.deal-detail-overwrite,
.Equitylink { width: auto; }
.TimerTitleField { margin-top: 0px; padding-left: 40px; }
.DealPriceInfo { width: 100%; height: auto; float: none; }
.DealPriceInfo p.dealprice { padding-left: 40px; font:30px/40px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; }
.DealPriceInfo .discount { width: 60px; height: 35px; top: -1px; right: 40px; font: 16px/35px "Arial Bold", "微軟正黑體", sans-serif; background: url(https://www.17life.com/Themes/default/images/17life/G2/newdealdetail.png) -800px 0 no-repeat; }
.DealPriceInfo .buycounter { padding-left: 40px; background: none; width: 100%; }
.DealPriceInfo .buy_btn_box { width: auto; height: auto; margin-right: 40px; float: right; background: none; }
.DealPriceInfo .buy_btn.btn_normal{ width: 110px; height: 60px; margin-right: 5px; font-size: 24px; 
	/*background: url(https://www.17life.com/Themes/default/images/17life/G2/newdealdetail.png) -480px -89px no-repeat;
    background: url(newdealdetail.png) -480px -176px no-repeat;  */
    background-position: -480px -176px ;
    background-repeat: no-repeat;
}
.DealPriceInfo .buy_btn.btn_normal:hover { 
	background-position: -607px -176px ; background-repeat: no-repeat;
    /*background: url(https://www.17life.com/Themes/default/images/17life/G2/newdealdetail.png) -610px -89px no-repeat;*/ }
.DealPriceInfo .buy_btn.btn_dontclick { width:120px; height:60px; margin-right: 5px; font-size: 24px; background:url(https://www.17life.com/Themes/default/images/17life/G2/newdealdetail.png) -740px -90px no-repeat;  cursor:default; }
.Detail_buy_box { width: auto; text-align: center; }
.Detail_buy_box .btn_normal { margin: 0; }
.MaindealTitle, .MainDealProductName { font-size: 16px;}
#Detailinner, #Detailinner.Equity { font-size: 13px; }
.EntryTitle.ET_1, .EntryTitle.ET_2, .EntryTitle.ET_3, .EntryTitle.ET_4 { font-size: 18px; }
#DialogTop { width: auto; height: auto; font-size: 18px; line-height: 2; border-bottom: 1px solid #BF0000; background: none; }
#Dialoginner { width: auto; margin: 10px 0; padding: 0; font-size: 13px; background: none; }
#AddressTitle { font-size: 16px; }
#Addressinner li { font-size: 13px; }
#Detailinner iframe { display: none; }
.deal-detail-left, .deal-detail-right { width: auto; float: none; }
.deal-title { font-size: 16px; line-height: 24px; }
.rd-detail-price { float: left; }
.rd-detail-btn { float: right; margin-top: -15px; margin-right: 15px; }
.backbtn { margin-top: 10px; }
.MainDealCityTitle { margin-top: 8px; }

/*B1-Payment-by-alan*/
#Rightarea.rd-payment-qma, .rd-payment-words-hide, .grui-form .form-unit .data-input p.subnote.rd-payment-display, .grui-form .form-unit.rd-payment-form-unit-disappear { display:none;}
.TOPBanner, .safelycode {display:none;}
#Left { float: left; }
#Left.rd-payment-Left-width {width:95%; margin:0 auto;float: none;}
#maincontent.clearfix {width:auto; margin:0 auto;}
#maincontent .content-group.payment { width: auto; min-height: auto; margin-top: 10px; padding: 15px; }
h1.rd-payment-h1 {width:auto;}
#maincontent .content-group.payment h3 {width:auto; padding:5px 5%;}
hr.header_hr.rd-payment-width { width:auto;}
#maincontent .content-group.payment h2.rd-payment-h2 {width:auto; padding:5px 0;}
.form-unit {width:auto; float:none; text-align:left;}
.btn.btn-xlarge.btn-primary.rd-payment-xlarge-btn { padding:10px 30px;}
.btn.btn-large.btn-primary.rd-payment-large-btn {  text-align:center; padding:10px 30px; margin-left:1%; margin-bottom:10px;}
.btn.btn-large.rd-payment-large-btn {  text-align:center; padding:10px 30px; margin-left:1%;}
#maincontent .content-group.payment .mixitem .item-list {margin-left:5%;}
#maincontent .content-group.payment .mixitem .item-list .item-name { width:auto; margin:0; float: none;}
#maincontent .content-group.payment .mixitem .item-list .item-amount {width:auto; float:none; text-align: left;}
#maincontent .content-group.payment .mixitem .item-list .total-amount {width:auto;}
#maincontent .content-group.payment .mixitem .item-list .total-price { float: left; }
#maincontent .content-group.payment .info_bar {height:70px;}
#maincontent .content-group.payment .pay_success { background-size:contain; width:100px; height:100px; }
#maincontent .content-group.payment .pay_failed { background-size:contain; width:100px; height:100px; }
#maincontent .content-group.payment .info_bar.rd-payment-hide {display:none;}
#maincontent .content-group.payment h2.rd-fd-title { padding: 0; }
.grui-form {width:auto; text-align:left; padding:5px; }
.grui-form .form-unit .unit-label{ width:auto; float:none; text-align:left; line-height:32px;}
.grui-form .form-unit .data-input{ margin-left:0; width:auto;}
.grui-form .form-unit.sublevel .data-input{ margin-left:0; width:auto;}
.grui-form .form-unit .data-input .input-half { width: 82%; }
.grui-form .form-unit.sublevel, .grui-form .form-unit.end-unit { width:auto; margin-left: 20px; }
.grui-form .form-unit .data-input p.subnote.rd-payment-margin-zero {margin: 5px 0 10px 10px;}
.grui-form .form-unit.rd-pay-margin {margin-left:8%;}
.grui-form .form-unit .data-input.rd-pay-margin {margin-left:5%;}
.grui-form .form-unit .data-input .input-credit { width:15%;}
.grui-form .form-unit .data-input .align-fix { margin: 0; }
.grui-form .form-unit.end-unit.rd-pay-pos-fix { margin-left: 0px; }
.grui-form .form-unit .data-input select.rd-fd-select { width: 100%; }
.grui-form .form-unit .data-input p.cancel-mr { margin-right: 0; }
.grui-form .form-unit .data-input.empty { height: 10px; }
.rd-fd-sn-text, .rd-fd-sn { display: block; }
.btn.btn-mini.rd-margin { margin-left:5%;}
.rd-pay-span-ctr { text-align:center; }
.rd-letter-spacing {letter-spacing:-1px;}
.info_bar .share .share_text.rd-share-text {line-height:20px; margin-bottom:10px;}


/*A2-multi-grade-by-TouNeko*/
.Multi-grade-Setting, .Multi-grade-Setting .mgs-boxtitle, .pop-window { width: 100%; box-sizing: border-box;}
.Multi-grade-Setting { border:none;}
.MGS-XX { width: 100%; height: auto; margin-bottom: 10px; position: static; text-align: center; background: none; }
.MGS-XX input { display: inline-block; }
.Multi-grade-Setting .mgs-item-box .mgs-content {
    float: left;
    padding: 5px 6px 5px 6px;
    width: 78%;
}

/*C1-MarberCenter-OrederList-by-ariel*/

.rd-float-lft { float:left;} 
.rd-float-right { float:right;}
.mc-order-states, .OrderAmount, .rd-PastCustomer, #mc-tableContentTitleRight,
.cash-table, .OrderNumber, .OrderTrustState, .OrderDetailSale , .OrderDetailSubTotal, .btn-return, .rd-page-dis, .CashCouponsDate, .CashCouponsUseDate, .CashCouponsEXP {display: none;}
.tag-visable { display: block !important; }
.OrderSerial:before { content:"訂單編號：";}
.center .mc-navbar { width: 100%; height:29px; margin-top: 0; display:inline-block; }
.center .mc-navbar .mc-navbtn { box-sizing: border-box; -moz-box-sizing: border-box; width: 33.3%; margin:0;border: 1px solid #CCC;border-radius: 5px 5px 0 0;border-bottom: #e4e4e4; border-left: 1px dotted #CCC; padding:0 1px;}
.center .mc-navbar .mc-navbtn a: {display:inline;}
.center .mc-content { width: auto; margin-top:2px;}  .center .mc-content .rd-smll{ font-size:15px;}
.center .mc-content p {font-size: 15px;}
#mc-table .rd-table{ width: 100%; }
#mc-table .rd-table .mc-tableContentITEM .rd-Detailtitle{display:inline;}
#mc-table .rd-table td{text-align: left; padding: 0 5px; font-size:12px; border:none;}
#mc-table .rd-table .OrderDate, .OrderSerial, .OrderName, .OrderExp, .OrderCouponState, .OrderState { width: 100%; display : block;  }
#mc-table .rd-table .OrderDate {margin-top:8px;}
#mc-table .rd-table .OrderExp { color:#bf0000; padding-bottom:3px;}
#mc-table .rd-table .OrderCouponState { width:97%;text-align:right;height:20px; margin-bottom:10px;} 
#mc-table .rd-table .OrderState { width:97%; text-align:right; height:20px; margin-bottom:15px; } 
#mc-table .rd-table .OrderState .LastDate { width: auto; }
#mc-table .rd-table .OrderCouponState .rd-c1-mcorbtn-mini{padding: 0 3px;font-size: 11px;}
#mc-table .rd-table .OrderCouponState br{display: none;}
#mc-table .rd-table .OrderName #mc-tableContentTitleLeft { margin:0 -2px 0 0; font-size:12px;}

/*C1-MarberCenter-AccountSetting-by-ariel*/
.rd-DisplayPanel{display:inline;}  .rd-redColor{ color:#bf0000;}
.grui-form .form-unit .rd-unit-label{ width:30%; float:none;display:inline;font-size:14px; font-weight: bold; }
.grui-form .form-unit .rd-data-input{ margin:5px 0; }
.grui-form .form-unit .rd-data-input p{ margin:0;}
.grui-form .form-unit .rd-data-input p.rd-c-Cleartop{ padding-top:0px;}
.grui-form .form-unit .rd-data-input .rd-c-br{display:block; }
.grui-form .form-unit .rd-data-input .rd-input-mini{ margin:0;}
.grui-form .form-unit .rd-data-input .rd-input-small{ margin:0;}
.grui-form .form-unit .rd-data-input .rd-mcacstbtn{ margin: 10px 0 15px 0; display:block; float:none;}
.mc-addressee-box h2.rd-c-h2{ font-size:14px;margin:0;}
.mc-addressee-box .rd-grui-form{ padding: 5px 0 5px 0 ;}

/*C1-MarberCenter-AccountSetting/orderdetail-by-ariel*/
#mc-table .rd-mcOrdetail{width:100%;} 
#mc-table .rd-mcOrdetail th{width:100%;display:block;}
#mc-table .rd-mcOrdetail .OrderItemName, .OrderSN, .OrderCode, .OrderEXP, .OrderPonState, 
.OrderAddressee, .OrderAddrPhone, .OrderAddrAdd, .OrderDeliverInfo,
.OrderDetailItemName, .OrderDetailPrice, .OrderDetailAmount, .OrderDetailTotal, .OrderPayTotal, .OrderReturnDate, .OrderReturnAmount, .OrderReturnCash, .OrderReturnProcess, .OrderPayPEZ, .OrderPayBonus,
.OrderPayCash, .OrderPayCredit, .OrderPayAtm, .OrderPayCoupon, .OrderGetPon {width: 96%; display : block;}
.OrderGetPon:before { color:#BF0000; content:"索取憑證:";}
.order-get-coupon-box { width: auto; margin: 5px; padding: 5px 0 0 0; }
.order-get-coupon-box a:first-child { display: none; }
.rd-text-rg { text-align:right; width:100%;display:block;}
#mc-table .rd-mcOrdetail .mc-tableContentITEM td{ width:96%;text-align:left; border:none;}
.mc-addressee-box .form-unit.end-unit { margin-left: 0px; }
.mc-cash-states { padding: 10px; }
.mc-cash-states { padding: 10px; }
.order-atm-info, .order-atm-header { padding: 10px 0;}

/*C5-MemberCenter-Collect-by-ariel*/
.mc-c5tdwe1{ width: 85%; } 
.mc-c5tdwe4{ width: 15%; }
.center .mc-navbar, .mc-c5tdwe0, .mc-plr-box-R, .mc-c5tdwe2, .mc-c5tdwe3{ display: none;}
.mc5-btnSpacing { display: inline-block;}
.mc-plr-box-L  { font-size: 13px;  margin-bottom: 15px;}
.mc5T { height: auto; padding-bottom: 5px;}
.rdl-mc-LoginBox-dis{ display: none;}



/*for nivo slider*/
#slider { width: auto; height: auto; }
#slider img { display: inline-block; opacity: 0; width: auto; }
#slider img:first-child { position: inherit; }
.nivo-slice { top: 0; width: 100%; position: absolute; }

/*H-17lifeMember.html-ariel*/
.Cityarea, .CityTop, .HomepageMarketingBn, .HomePageCityBottom, .LifeMemberAgree br, .LifeMemberAgree .rwd-wh,
.LifeMemberTopText img, .LifeMemberLoginPicText, .LifeMemberLoginPic, .LifeMemberAgreeError br, .LifeMemberAgreeError .rwd-wh, .lmbeclogingBtn2, .lmbeclogFBPEZTi, .header_btn_box, .rdl-Tdis { display: none;} 
.LifeMemberNote, .LifeMemberVerification, .LifeMemberVerification.LifeMemberVFCodeText,
.LifeMemberInfo_f li, .LifeMemberAgree, .LifeMemberAgreeError, .meeaar, .LifeMemberFirstShopping, 
.Homepagemiddle, .Homepagecenter{ width: 90%;}
.LifeMemberFrame, .LifeMember , .LifeMemberTop { width: 99.8%; }
.rdl-LMberCt-pad{ height: 560px;}
.HomepageLogin { width: 30%;}
.LifeMemberTopText { font-size: 18px; width: 100%; margin: 0 auto; text-align: center;}
.rdl-tittleText{ display: block;} 
.LMInfo ,.LMInfo ul.LifeMemberInfo, .LMFirstShopping, .LMFirstShopping ul.LMFShoppIn, .LifeMemberConfirmMessage, .LMPasswordFrame ul.LMPasswordIn, .LifeMemberConfirmRemarks, .PezFbFillInEmail,.PezFbFillInEmail ul { width: 100%; padding: 12px 0px 20px 0px;}
 
.LifeMemberInfo li, .LifeMemberInfo li:hover, .LMInfo li.LifeMemberInfoColor, .LMPasswordIn li, .LMPasswordIn li:hover, .LMPasswordFrame li.LMPasswordInColor, .LMPasswordFrame li.LMPasswordInColor:hover{ width: 94.2%; padding: 0 17px; }
.LMFShoppIn li, .LMFShoppIn li:hover, .LMFirstShopping li.LMFShoppInColor { width: 95.2%; padding: 5px 14px; height: auto; margin: 8px 0;}
.PezFbFillInEmail li, .PezFbFillInEmail li:hover, .PezFbFillInEmail li.PezFbFillInColor { width: 95.1%; padding: 5px 14px; height: auto; margin: 8px 0;}
.LifeMemberInfoTittle, .LifeMemberFirstShoppTittle, .LMFShoppTittle, .LMPasswordFrameTittle { width: 30%; font-size: 15px; letter-spacing: 0em;}
.LifeMemberText input, .LMPasswordFrameText input{ width: 33%; font-size: 14px;}
.LifeMemberText select{ width: 18.5%;  font-size: 14px;}
.LifeMemberNote, .LMFShoppNote, .LMPasswordFrameNote{ width: 100%; margin: 0 10px; font-size: 12px; color: #999;}
.LifeMemberTXT2{ margin-left: -14px;}
.LifeMemberVerification, .LifeMemberVerification.LifeMemberVFCodeText{ width: 91%; margin: 10px auto;}
.LifeMemberInfo_f li, .LifeMemberInfo_f li:hover, .LMInfo li.LifeMemberInfoColor_f{ width: 86%; padding: 17px 8px;margin: 10px auto; line-height: 23px; height: 70px;}  

.LifeMemberAgree, .LifeMemberAgreeError{ width: 100%; left: 0px; font-size: 12px; line-height: 20px; top: 0px; margin-bottom: 5px;} 
.LifeMemberVFCode{ width: 50%;margin-left: 65px;} .LifeMemberVFCodeText{ width: 30%;}
.meeaar{ margin-left: 0px;} .onlyRED{ margin: 0px; }

.LifeMemberFirstShopping{ padding: 30px 4px 0px 3px; width: 99%;}
.LifeMemberPEZOpenPassaPic, .LifeMemberConfirmMessage { display: block; margin: 0 auto; float: none;}
.LifeMemberPEZOpenPassText, .LifeMemberConfirmEPText { display: block; width: 95%; font-size: 15px; margin: 0 auto; float: none; }
.LifeMemberConfirmEPText { margin-top: 22px; }
.LifeMemberFirstShoppTittle { width: 15%; }
.rdl-FStittText { line-height: 22px; display: block; }
.LifeMemberFirstShoppMail{ width: 55%; } .rdl-FSpT{ letter-spacing:0.1em;}
.LMFShoppName, .LMFShoppGender{ font-size: 15px; } .LMFShoppNote{ margin-left:-10px; }
.LMFShoppName input{ width:12%; font-size: 14px;} .LMFShoppPhone input{ width:33%; font-size: 14px; }
.LMFShoppInvoice select{ width: 12% ;font-size: 13px; margin-left:0;}.LMFShoppInvoice input{ width: 163px; margin-left: 0;}
.rdl-redT, .rdl-redT2{color: #F00; margin-left: 17px; width: 100%;}
.LifeMemberLogFrame{ width: 95%; margin: 10px auto; height: 450px; }
.lmbecOtloginfor, .lmbeclogiTi, .lmbelogGO, .LMPasswordFrame{ margin: 0 auto; height: auto;}  
.LMPasswordFrame{ width: 99.8%;}  
.lmbeclogiTi{ font-size: 12px; margin: 10px auto 0 auto; }
.lmbecloging{ margin: 5px auto; height: auto;}
.lmbecOtloginfor img{ height: auto; max-width: 80%; margin: 0 auto;}
.LifeMemberOtherLoging2, .LifeMemberOtherLoging1{ border: none; border-bottom: 1px dashed #B9955E; height: auto; margin: 0 auto 20px auto; padding-bottom: 18px; width: 100%;} .lmbeclogingTEXT{ font-size: 13px; } 
.lmbeclogingBtn{ max-width: 50%;}
.LifeMemberConfirmMessage{ font-size: 15px;} .rdl-cmsgT{ padding: 15px; width: 89%;} 
.LifeMemberConfirmRemarks{ margin-top: 10px; padding: 15px 0 0 0;}
.rdl-LMPawdFTe input{ width:34%; font-size:14px;} .rdl-LMPawdTit { margin-left: 14px;}
.LMPasswordFrameText select{ width: 29%; font-size: 15px; height: 21px; margin-top: -1px;}
.LifeMemberTXT2 input.rdl-typchk{ width: 15px; display: inline-block;} .rdl-redT3{ margin: 0; } .rdl-redT5{ margin-left: 15px;}
.LifeMemberBtn{ margin-top: 5px;}

/*A1-DealList_Normal-by-Alan*/
.NaviCityW { display: none; }
.NaviCityMP { width: 100%; margin: 0 auto; border: none; box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);  }
.NaviCitySort, .NaviCitySequence, .NaviCitySelectArea { display: none; }
.NaviCityArea { width: auto; padding: 6px; border: none; text-align: center; }
.NaviCityArea li { display: inline-block; float: none; }
.NaviCityArea a { padding: 3px 15px; font-size: 13px; margin-left: 7px; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;}

/*New Deal Label Setting by TouNeko*/
.Maintitle + .dts { margin: -10px auto 10px; }
/*Fix會員專區消失*/
.rd-mc { display: inline-block;}

/*A1-DealList_Normal-收藏區塊-Collect by ariel*/
#HKL_Collect, #HKL_Collect-ok, .HKL_juwindow{display: none;}
.rdl_Collect { 
	background-position: 363px -80px;
	margin-left: 3px;
 }
  .rdl_Collect-ok { 
	background-position: -740px -52px;
	margin-left: 0px;
	font-size: 13px;
  }
/*A3-event_1-6-活動頁*/
.ac-center { margin:0 auto 10px auto;}
.ly-evn-pprule, .ly-e-cop-area-menubar, .skm-QrMessagefarm { display:none;}
#Act-TOP { width: 100%; margin:0;}
.rd-top-box {width: 100%; display: block;}
.evn-cop-tn-bar { width: 100%;}
.ly-e-cop-farme { margin: 0 auto; width: 95%; }
.st-e-cop-area-bar { width: 15%; margin: 0 5px;}
.evn-cop-buy-sf-box{ width: 100%; margin: 15px 0;}
.evn-cop-buy-pic{ float: left; margin: 10px; width: 40%; height: auto;}
.evn-cop-buy-sold-out-bar-290 { 
	width: 100%; 
	height: 100%:}
.evn-cop-buy-pic img{ max-width: 100%;}
.evn-cop-buytitle{ 
	display: block; 
	height: 26px; 
	margin: 4% 10px 5px 0; 
	width: auto;
    font-size: 15px;
}
.evn-cop-minorange-title{ 
	display: block; margin: 5px 0x 10px 0; 
	height: 26px; line-height: 26px;
	width: auto; padding-bottom: 5px;
	padding-right: 10px;
	border-bottom: 1px dashed #CCCCCC;
}
.evn-cop-buytotle{ width: 40%; font-size: 30px; line-height: 30px;}
.evn-cop-buyinformation{ overflow: hidden; display: block;  height: 40px; margin: 0 10px 5px 0; width: auto;}
.activeLogo { width: 50%;}
.alo-l { width: 190px; } /*-首頁大圖壓字-*/
.rd-evn-BTbox{ width: auto;  overflow: hidden; margin: 14px 14px 3px;}
.st-e-cop-buybtn{ width: 80px; height: 27px;  line-height: 27px; font-size: 17px; margin-top: 1px;}

.rdl-list-box { 
	width:95%;
	margin:0 auto;
	height:auto;
	}
.rdl-Btn-box { width: 100%;}
.rdl-list-Lbtn{ float:left; border-radius: 5px ; margin: 8px 0 ; }
.rdl-list-Rbtn{ float:right; border-radius: 5px ; margin: 8px  0; }
.rdl-list-Lbtn, .rdl-list-Rbtn{ 
	background: #24231D;
	width:48%; 
	height:50px; 
	line-height:50px; 	
	font-size: 20px; 
	text-align: center;
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
	color: #fff;
}
.rdl-on, .rdl-list-Lbtn:hover, .rdl-list-Rbtn:hover { 
	background-color: #BF0000; color:#FFF; }
.rdl-list-downarrow{ width: 15px; height: 15px;}
.rdl-Subbox{ 
	width:100%; display: block; 
	margin: 0 auto; 
	

	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
}
.rdl-Subbox ul{ 
	width: 99.8%; display: inline-block; margin-top: -10px;
	border:#adadad 1px solid; border-top: 5px #D00000  solid; 

}
.rdl-Subbox li{ 
	background: #F3F3E9;
	border-bottom: 1px solid  #adadad;
	padding-left: 20px;
	line-height: 45px;
	cursor: pointer;
}
.rdl-Subbox li:hover { 
	background:#bf0000; 
	color: #fff;

}
.rdl-Subbox li.inside{ 
	padding-left: 52px;
	list-style-image: url(../images/17life/G2/ac-rdl-icon.png);
	list-style-position: inside;
	font-size: 15px;
	line-height: 33px;
}
.ly-e-cop-ppon{ font-size: 27px; width: 100%; height: 40px; margin: 5px 0 0 0;}
.evn-cop-acNotice{
	display: block;
    margin: 10px 10px 5px 0;
    overflow: hidden;
    width: auto;
    font-size:23px; 
    color: #BF0000;
    overflow: hidden;
    text-align: left;
}
.evn-cop-donationinfo {
    color: #FF6666;
    font-size: 23px;
    height: 61px;
    overflow: hidden;
    text-align: left;
    width: auto;
    margin: 10px 10px 5px 0;

}

/*活動辦法*/
.rdl-evn-pprule {  
	width:100%; 
	margin:10px 0 20px 0; 
	background:#FFF; 
	display: inline-block;
	border: 1px solid #CCCCCC;
}
.rdl-ru-title{
	width:94%; 
	margin:0 auto; 
	padding-top:13px; 
	font-size:21px; 
	border-bottom:1px solid #666; 
}
.rdl-evn-pprule  .rdl-ru-content { 
	width:94%; 
	margin:0 auto; 
	padding:15px 0; 
}
.st-e-cop-optionsbn img{ 
	max-width: 100%;
	height: auto;	
}
.evn-cpp-pinnlife-box {
    margin: 10px 0;
    width: 100%;
}
.evn-cpp-pinnlife-pic {
    float: left;
    height: auto;
    margin: 10px;
    width: 40%;
}
.rdl-pl-show{
	display: block;
    height: 40px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    width: auto;
}

/*wvwnt6*/
.evn-copcafarm {
    margin: 15px 0;
    width: 100%;
    border: 1px solid #CCCCCC;
}
.evn-copcadealname {  
	width: auto; 
	position: relative; 
	background: none; 
	color: #000; 
	text-align: left;
	margin: 23px 0 10px 0;
	font-size: 19px;
	word-break: normal;/*(自動換行英文斷行)*/
	height: 20px;
}
.rdl-p6-coupon-pic { 
	float: left;
    height: auto;
    margin: 10px;
    width: auto; 
}
.evn-copcafarm > a > img {
    height: 141px;
    margin-top: 0;
    max-width: 210px;
}
.evn-coptextinfo{ 
 	text-align: left;
    float: left;
    font-size: 15px;
    height: auto;
    margin: 0 0 5px 0;
    padding: 0 0 0 5px;
    width: 55%;
 }
.evn-cop-ptext{ 
     width:100%; text-align: left; margin-bottom: 15px;  color: #f60;   height: 20px; overflow: hidden;
 }
.st-evncopca-col-btn{ display:  inline-block;}
.ly-e-cop-tab{ display: none;}



}

/*screen device resolution width <= 480px for mobile portrait setting*/
@media screen and (max-width: 480px) {
.mgs-s-T{ display: none;}
.ac-center { margin:0 auto 10px auto;}
.rd-C-Hide, .rd-t-Disap{display: none;}  
.center { width: 100%;float: left;margin-top: 0; }

.part-17life, .part-pez-cert, .part-serivce, #EmailTitle, .ch-todaydeal,
.ch-qa, .mc, .member-name, .White, #Login img, .outside_AD, .outside-topOptBox,
#TOPBanner, #Rightarea, .nc_deal_sort, .Encore, .dealsaletext,
.dealpricetext, .TimerTitleField .icon-clock-o, .HKL_MaindealTitle, .EntryTitle.ET_4, .rd-guarantee, .Detail_buy_box .price,
#DialogBottom, .three-promise, .NavAD_sp, .outside_AD, .pop-confirm, #MaindealFacebookarea,
.HKL_MainDealCityTitle, .HKL_MainDealProductName, .HKL_MaindealTitle,.HKL_MainDealCityTOPTitle, #HKL_Facebookarea, 
.DealPriceInfo .buy_btn_box, .TimerTitleField.forlist, .DealPriceInfo p.dealpricetext { display: none; }
 #maincontent .Maindeal {padding-bottom: 8px;}
.Maintitle {
    width: 50%;
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 1.5%;
    float: right;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 8px;
}
.Maintitle + .dts {
    min-height: 22px;
    margin: 0;
    top: -3px;
    left: 5px;
}
#MainPic {
    width: 42%;    
    min-height: 70px;
    height: auto;    
    margin-left: 2%;
    border: 2px solid #eee;
    float: left;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='ppon-M1_pic.jpg',sizingMethod='crop');
}
#MainPic:hover, #MainPic:active {border: 2px solid #E2E2DA;}
#MainPic .alo-l {
    width: 50%;
}
.p3footer .footer_content, #middle, .HaokangList, .Maindeal,
.MaindealMiddle, #maincontent ,#Left, .info_bar
 { width: 100%; height: auto; margin-top: 0;}
 .HaokangList {margin-bottom: 10px}
#Login { font-size: 14px; }
.LoginBox { width: auto; margin: 10px 5px 0 0; }
.HKL_MainDealAppName { 
    height: 35px;
    display: block; 
    padding-right: 5px;
    overflow: hidden; 
    font: 14px/18px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; 
}
#Headermiddle, #middle, .DealPriceInfo.deal-detail-overwrite { height: auto; }
.p3footer .footer_logo { margin: 0 auto; }
.p3footer .info-17life { width: 100%; padding: 0; text-align: center; }
a.rd-layout-switch { margin-top: 20px; display: block; font-size: 18px; color: #999; text-decoration: underline; }

#PponLOGO { width: 100px; height: 40px; display: inline-block; margin: 5px; margin-left: 5px; background: url(https://www.17life.com/Themes/PCweb/images/ppon-M1_LOGO.png) no-repeat;}
#navimain ul { width: 100%; margin: 0 auto; }
#navimain2 li  { width: 100%; }
.navbtn, .navbtn_inpage {
	width:100%;
	font: 13px/45px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
}
#navimain2 .navbtn:hover,#navimain2 .navbtn:active {background: #BF0000;}
#navimain2 .navbtn_inpage {border-radius: 0}
.ch-itemdeli, .ch-beauty { display: none; }
.ch-fami, .ch-itemdeli-mb, .ch-beauty-mb { display: block; }

#navimain{ width: 100%;  text-align: center; }
.NaviCityMain { width: 100%; height: auto; text-align: center; }
.NaviCityMain a { font-size: 14px; }
.Maindeal, #maincontent .forsdeal, #Entry { width: 95%; margin: 10px auto;}
.MaindealMiddle { padding-bottom: 0px; }
.SoldOut_Bar_480 { width: 100%; height: 100%; background-size: contain; background-repeat: repeat-x; }
.Over1K_Badge {  width: 82px; height: 82px; top: -8px; left: -8px; background-size: contain; }
.m-dealpic { width: 100%; height: auto; float: none; margin-left: -2px; position: relative; border: 2px solid #D2D2CA; background: none;}
.m-dealpic:hover, .m-dealpic:active { border: 2px solid #E2E2DA; }
.default-pic {
	width: 100%;
	height: 0;
	padding-bottom: 55.625%;
	display: block;
	background: url(../images/17life/G2/ppon-M1_pic.jpg) no-repeat; 
	background-size: contain;
	background-position: center;
}
.default-pic img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.TimerTitleField, .MaindealClosed, .MaindealTitle, .MainDealProductName, 
.dealtitle_box, #EntryContent, #Detailinner.Equity, #Detailinner, #AddressTitle,
#Addressinner, #Dialog, .deal-title, #Detailinner.Equity .deal-detail-overwrite,
.Equitylink { width: auto; }
.TimerTitleField { margin-top: 0px; }
.DealPriceInfo { 
    width: 53%; 
    height: auto;
    top: 5px;
    background: none;
    border: none;
    text-align: right;
}
.DealPriceInfo p.dealprice { 
    margin-right: 10px;
    display: inline-block;
    font:18px/30px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
     }
.DealPriceInfo .discount { 
    width: 60px; 
    height: 30px; 
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    border-right: 1px solid #ccc;
    font: 18px/30px "Arial", "微軟正黑體", sans-serif; 
    color: #BF0000;
    background: none;
}
.DealPriceInfo .smalltext, .m-priceZone .smalltext, .lineview-priceZone .smalltext {font-size: 14px;}
.DealPriceInfo .buycounter { 
    width: auto;
    padding-left: 10px; 
    font-size: 12px; 
    position: absolute;
    top: -80px;
    right: 5px;
    background: none;
    opacity: 0.6;
    filter: alpha(Opacity=60, Style=0);
    -moz-opacity: 0.6;
}
.DealPriceInfo .buycounter .people { 
    font-size: 12px;
    color: #333;
    font-weight: normal;
}
.m-priceInfo .buy_btn_box { width: auto; height: auto; float: right; background: none; }
.DealPriceInfo .buy_btn.btn_normal, .m-priceInfo .buy_btn.btn_normal { width: 110px; height: 60px; margin-right: 5px; font-size: 24px; 
	/*background: url(https://www.17life.com/Themes/default/images/17life/G2/newdealdetail.png) -480px -89px no-repeat;
    background: url(newdealdetail.png) -480px -176px no-repeat;  */
    background-position: -480px -176px ;
    background-repeat: no-repeat;
}
.DealPriceInfo .buy_btn.btn_normal:hover { 
	background-position: -607px -176px ; background-repeat: no-repeat;
    /*background: url(https://www.17life.com/Themes/default/images/17life/G2/newdealdetail.png) -610px -89px no-repeat;*/ }
.DealPriceInfo .buy_btn.btn_dontclick { width:120px; height:60px; margin-right: 5px; font-size: 24px; background:url(https://www.17life.com/Themes/default/images/17life/G2/newdealdetail.png) -740px -90px no-repeat; cursor:default; }
.Detail_buy_box { width: auto; text-align: center; }
.Detail_buy_box .btn_normal { margin: 0; }
.MaindealTitle, .MainDealProductName { font-size: 16px; min-height: 48px; }
#Detailinner, #Detailinner.Equity { font-size: 13px; }
.EntryTitle.ET_1, .EntryTitle.ET_2, .EntryTitle.ET_3, .EntryTitle.ET_4 { font-size: 18px; }
#DialogTop { width: auto; height: auto; font-size: 18px; line-height: 1.3; border-bottom: 1px solid #BF0000;}
#Dialoginner { width: auto; margin: 10px 0; padding: 0; font-size: 13px; background: none; }
#AddressTitle { font-size: 16px; }
#Addressinner li { font-size: 13px; }
#Detailinner iframe { display: none; }
.deal-detail-left, .deal-detail-right { width: auto; float: none; }
.deal-title { font-size: 16px; line-height: 24px; }
.rd-detail-price { float: left; }
.rd-detail-btn { float: right; margin-top: -15px; margin-right: 15px; }
.backbtn { margin-top: 10px; }
.MainDealCityTitle { margin-top: 8px; }

/*B1-Payment-by-alan*/
#Rightarea.rd-payment-qma, .rd-payment-words-hide, .grui-form .form-unit .data-input p.subnote.rd-payment-display, .grui-form .form-unit.rd-payment-form-unit-disappear { display:none;}
.TOPBanner, .safelycode {display:none;}
#Left { float: left;}
#Left.rd-payment-Left-width {width:95%; margin:0 auto;float: none;}
h1.rd-payment-h1 {width:auto;}
hr.header_hr.rd-payment-width { width:auto;}
.form-unit {width:auto; float:none; text-align:left;}
.btn.btn-xlarge.btn-primary.rd-payment-xlarge-btn { padding:10px 30px;}
.btn.btn-large.btn-primary.rd-payment-large-btn {  text-align:center; padding:10px 30px; margin-left:1%; margin-bottom:10px;}
.btn.btn-large.rd-payment-large-btn {  text-align:center; padding:10px 30px; margin-left:1%;}
#maincontent.clearfix {width:auto; margin:0 auto;}
#maincontent .content-group.payment { width: auto; min-height: auto; margin-top: 10px; padding: 15px; }
#maincontent .content-group.payment h3 {width:auto; padding:5px 5%;}
#maincontent .content-group.payment h2.rd-payment-h2 {width:auto; padding:5px 0;}
#maincontent .content-group.payment .mixitem .item-list {margin-left:5%;}
#maincontent .content-group.payment .mixitem .item-list .item-name { width:auto; margin:0; float: none;}
#maincontent .content-group.payment .mixitem .item-list .item-amount {width:auto; float:none; text-align: left;}
#maincontent .content-group.payment .mixitem .item-list .total-amount {width:auto;}
#maincontent .content-group.payment .mixitem .item-list .total-price { float: left; }
#maincontent .content-group.payment .info_bar {height:70px;}
#maincontent .content-group.payment .pay_success { background-size:contain; width:100px; height:100px; }
#maincontent .content-group.payment .pay_failed { background-size:contain; width:100px; height:100px; }
#maincontent .content-group.payment .info_bar.rd-payment-hide {display:none;}
#maincontent .content-group.payment h2.rd-fd-title { padding: 0; }
#maincontent .content-group.payment h1.creditcard { background: none;}
.grui-form {width:auto; text-align:left; padding:5px; }
.grui-form .form-unit .unit-label{ width:auto; float:none; text-align:left; line-height:32px;}
.grui-form .form-unit .data-input{ margin-left:0; width:auto;}
.grui-form .form-unit.sublevel .data-input{ margin-left:0; width:auto;}
.grui-form .form-unit .data-input .input-half { width: 65%; }
.grui-form .form-unit.sublevel, .grui-form .form-unit.end-unit { width:auto; margin-left: 20px; }
.grui-form .form-unit .data-input p.subnote.rd-payment-margin-zero {margin: 5px 0 10px 10px;}
.grui-form .form-unit.rd-pay-margin {margin-left:8%;}
.grui-form .form-unit .data-input.rd-pay-margin {margin-left:5%;}
.grui-form .form-unit .data-input .input-credit { width:15%;}
.grui-form .form-unit .data-input .align-fix { margin: 0; }
.grui-form .form-unit.end-unit.rd-pay-pos-fix { margin-left: 0px; }
.grui-form .form-unit .data-input select.rd-fd-select { width: 100%; }
.grui-form .form-unit .data-input p.cancel-mr { margin-right: 0; }
.grui-form .form-unit .data-input.empty { height: 10px; }
.rd-fd-sn-text, .rd-fd-sn { display: block; }
.rd-letter-spacing {letter-spacing:-1px;}
.btn.btn-mini.rd-margin { margin-left:5%;}
.rd-pay-span-ctr { text-align:center;}
.info_bar .share .share_text.rd-share-text {line-height:20px; margin-bottom:10px;}
.rd-payment-xlarge-btn + .rd-payment-xlarge-btn { margin-left: 0; margin-top: 15px; }


/*A2-multi-grade-by-TouNeko*/
.Multi-grade-Setting, .Multi-grade-Setting .mgs-boxtitle, .pop-window { width: 100%; box-sizing: border-box;}
.Multi-grade-Setting { border:none;}
.MGS-XX { width: 100%; height: auto; margin-bottom: 10px; position: static; text-align: center; background: none; }
.MGS-XX input { display: inline-block; }


/*for nivo slider*/
#slider { width: auto; height: 0; }
#slider img { display: inline-block; opacity: 0; width: auto; }
#slider img:first-child { position: inherit; }
.nivo-slice { top: 0; width: 100%; position: absolute; }


/*C1-MarberCenter-OrederList-by-ariel*/

.rd-float-lft { float:left;} 
.rd-float-right { float:right;}
.mc-order-states, .OrderAmount, .rd-PastCustomer, #mc-tableContentTitleRight,
.cash-table, .OrderNumber, .OrderTrustState, .OrderDetailSale , .OrderDetailSubTotal, .btn-return, .rd-page-dis, .CashCouponsDate, .CashCouponsUseDate, .CashCouponsEXP {display: none;}
.tag-visable { display: block !important; }
.OrderSerial:before { content:"訂單編號：";}
.center .mc-navbar { width: 100%; height:29px; margin-top: 0; display:inline-block; }
.center .mc-navbar .mc-navbtn{ box-sizing: border-box; -moz-box-sizing: border-box; width:33.3%; margin:0; border: 1px solid #CCC; border-radius: 5px 5px 0 0; border-bottom: #e4e4e4; border-left: 1px dotted #CCC; padding:0 1px;}
.center .mc-navbar .mc-navbtn a: {display:inline;}
.center .mc-content { width: auto; margin-top:2px;}  .center .mc-content .rd-smll{ font-size:15px; letter-spacing: -1px; }
.center .mc-content p {font-size: 15px;}
#mc-table .rd-table{ width: 100%; }
#mc-table .rd-table .mc-tableContentITEM .rd-Detailtitle{display:inline;}
#mc-table .rd-table td{text-align: left; padding: 0 5px; font-size:12px; border:none;}
#mc-table .rd-table .OrderDate, .OrderSerial, .OrderName, .OrderExp, .OrderCouponState, .OrderState { width: 100%; display : block; }
#mc-table .rd-table .OrderDate {margin-top:8px;}
#mc-table .rd-table .OrderExp { color:#bf0000; padding-bottom:3px;}
#mc-table .rd-table .OrderCouponState { width:97%;text-align:right;height:20px; margin-bottom:10px;} 
#mc-table .rd-table .OrderState { width:97%; text-align:right; height:20px; margin-bottom:15px; } 
#mc-table .rd-table .OrderState .LastDate { width: auto; }
#mc-table .rd-table .OrderCouponState .rd-c1-mcorbtn-mini{padding: 0 3px;font-size: 11px;}
.LMPasswordFrame{ width: 99.8%;}  
#mc-table .rd-table .OrderCouponState br{display: none;}
#mc-table .rd-table .OrderName #mc-tableContentTitleLeft { margin:0 -2px 0 0; font-size:12px;}
#mc-table.coupon-table td { text-align: left; border-bottom: none; }
#mc-table.coupon-table th { display: none; }
.CashCouponsTitle:before { content:"活動名稱：";}
.CashCouponsDEN:before { content:"金額：";}
.CashCouponsSN:before { content:"序號：";}
.CashCouponsUseState:before { content:"使用狀態：";}

/*C1-MarberCenter-AccountSetting-by-ariel*/
.rd-DisplayPanel{display:inline;}  .rd-redColor{ color:#bf0000;}
.grui-form .form-unit .rd-unit-label{ width:30%; float:none;display:inline;font-size:14px; font-weight: bold; }
.grui-form .form-unit .rd-data-input{ margin:5px 0; }
.grui-form .form-unit .rd-data-input p{ margin:0;}
.grui-form .form-unit .rd-data-input p.rd-c-Cleartop{ padding-top:0px;}
.grui-form .form-unit .rd-data-input .rd-c-br{display:block; }
.mc-addressee-box h2.rd-c-h2{ font-size:14px;margin:0;}
.mc-addressee-box .rd-grui-form{ padding: 5px 0 5px 0 ;}
.grui-form .form-unit .rd-data-input .rd-input-mini { margin:0;}
.grui-form .form-unit .rd-data-input .rd-input-small { margin:0;}
.grui-form .form-unit .rd-data-input .rd-mcacstbtn { margin: 10px 0 15px 0; display:block; float:none;}

/*C1-MarberCenter-AccountSetting/orderdetail-by-ariel*/
#mc-table .rd-mcOrdetail { width:100%; } 
#mc-table .rd-mcOrdetail th { width:100%; display:block; }
#mc-table .rd-mcOrdetail .OrderItemName, .OrderSN, .OrderCode, .OrderEXP, .OrderPonState, 
.OrderAddressee, .OrderAddrPhone, .OrderAddrAdd, .OrderDeliverInfo,
.OrderDetailItemName, .OrderDetailPrice, .OrderDetailAmount, .OrderDetailTotal, .OrderPayTotal, .OrderReturnDate, .OrderReturnAmount, .OrderReturnCash, .OrderReturnProcess, .OrderPayPEZ, .OrderPayBonus,
.OrderPayCash, .OrderPayCredit, .OrderPayAtm, .OrderPayCoupon, .OrderGetPon, .CashCouponsTitle, .CashCouponsDEN, .CashCouponsSN, .CashCouponsUseState {width: 96%; display : block; }
.OrderGetPon:before { color:#BF0000; content:"索取憑證："; }
.order-get-coupon-box { width: auto; margin: 5px; padding: 5px 0 0 0; }
.order-get-coupon-box a:first-child { display: none; }
.rd-text-rg { text-align:right; width:100%;display:block; }
#mc-table .rd-mcOrdetail .mc-tableContentITEM td { width:96%;text-align:left; border:none; }
.mc-addressee-box .form-unit.end-unit { margin-left: 0px; }
.mc-cash-states { padding: 10px; }
.order-atm-info, .order-atm-header { padding: 10px 0; }

/*C5-MemberCenter-Collect-by-ariel*/
.mc-c5tdwe1{ width: 70%; } 
.mc-c5tdwe4{ width: 30%; }
.center .mc-navbar, .mc-plr-box-R, .mc-c5tdwe0, .mc-c5tdwe2, .mc-c5tdwe3, .mc-c5tdwe1, .mc-c5tdwe4 { display: none;}
.mc5-btnSpacing { display: inline-block; margin: 10px 15px;}
.mc-plr-box-L  { font-size: 13px; width: 100%; margin-bottom: 15px;}
.rd-Off-line{ display: inline-block; width: 100%;}
.mc-infoBox { margin: 3px; }
.mc5T { height: auto; padding-bottom: 5px; line-height: 20px;}
.mc5-dealpricetext, .mc5-Sold {display: inline; }
.mc5-dealpricetext {margin-right:10px;}
.rdl-mc-LoginBox-dis{ display: none;}


/*A2-multi-grade-by-TouNeko*/
.Multi-grade-Setting, .Multi-grade-Setting .mgs-boxtitle, .pop-window { width: 100%; box-sizing: border-box;}
.Multi-grade-Setting { border:none;}
.MGS-XX { width: 100%; height: auto; margin-bottom: 10px; position: static; text-align: center; background: none; }
.MGS-XX input { display: inline-block; }
.Multi-grade-Setting .mgs-item-box .mgs-content {
    float: left;
    padding: 5px 6px 5px 6px;
    width: 72%;
}
.Multi-grade-Setting .mgs-item-box .mgs-price-box { padding-right: 5px; width: 65px;}
.Multi-grade-Setting .mgs-item-box .mgs-price-box .mgs-price { font-size: 17px;margin-top: 15px;}
.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-state .mgs-sale { margin-right: 3px;}
.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-state { font-size: 12px;}

.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-state .mgs-buyer { margin-left: 1px;}

/*H-17lifeMember.html-ariel*/
.Cityarea, .CityTop, .HomepageMarketingBn, .HomePageCityBottom, .LifeMemberAgree br, .LifeMemberAgree .rwd-wh,
.LifeMemberTopText img, .rdl-Tdis, .LifeMemberLoginPicText, .LifeMemberLoginPic, .LifeMemberAgreeError br, .LifeMemberAgreeError .rwd-wh, .lmbeclogingBtn2, .lmbeclogFBPEZTi, .header_btn_box { display: none;} 
.LifeMemberNote, .LifeMemberVerification, .LifeMemberVerification.LifeMemberVFCodeText,
.LifeMemberInfo_f li, .LifeMemberAgree, .LifeMemberAgreeError, .meeaar, .LifeMemberFirstShopping, 
.LMFirstShopping, .LMFShoppNote, .LifeMemberOtherLoging1, .LifeMemberOtherLoging2, .LifeMemberOtherLoging1{ display: block; }
.Homepagemiddle, .Homepagecenter{ width: 90%;}
.LifeMemberFrame, .LifeMember , .LifeMemberTop { width: auto; }
.LifeMemberCenter { width: auto; height: auto;}
.HomepageLogin { width: 30%;}
.LifeMemberTopText { font-size: 15px; width: 100%; margin: 0 auto; text-align: center;}
.rdl-tittleText{ font-family: "新細明體"; display: block;} 
.LMInfo ,.LMInfo ul.LifeMemberInfo, .LMFirstShopping, .LMFirstShopping ul.LMFShoppIn, .LifeMemberConfirmMessage, .LMPasswordFrame ul.LMPasswordIn, .LifeMemberConfirmRemarks, .PezFbFillInEmail,.PezFbFillInEmail ul { width: 100%;}
 
.LifeMemberInfo li, .LifeMemberInfo li:hover, .LMInfo li.LifeMemberInfoColor, .LMPasswordIn li, .LMPasswordIn li:hover, .LMPasswordFrame li.LMPasswordInColor, .LMPasswordFrame li.LMPasswordInColor:hover{ width: 90%; padding: 0 14px; height: 63px;}
.LMFShoppIn li, .LMFShoppIn li:hover, .LMFirstShopping li.LMFShoppInColor, .PezFbFillInEmail li, .PezFbFillInEmail li:hover, .PezFbFillInEmail li.PezFbFillInColor { width: 90%; padding: 5px 14px; height: auto; margin: 8px 0;}

.LifeMemberInfoTittle, .LifeMemberFirstShoppTittle, .LMFShoppTittle, .LMPasswordFrameTittle { width: 30%; font-size: 15px; letter-spacing: 0em;}
.LifeMemberText input, .LMPasswordFrameText input{ width: 68%; font-size: 14px;}
.LifeMemberText select{ width: 30%;  font-size: 14px;}
.LifeMemberNote, .LMFShoppNote, .LMPasswordFrameNote{ width: 100%; margin: 0; font-size: 12px; color: #999;}
.LMPasswordFrameNote { display: inline-block;}
.LifeMemberTXT2{ margin-left: -14px;}
.LifeMemberVerification.LifeMemberVFCodeText{ width: 91%; margin: 10px auto;}
.LifeMemberVerification{ width: 91%; margin: 10px auto; height: 103px;}
.LifeMemberInfo_f li, .LifeMemberInfo_f li:hover, .LMInfo li.LifeMemberInfoColor_f{ width: 86%;height: 105px; padding: 5px 8px;margin: 10px auto;}  
.LMInfo li.LifeMemberInfoColor_f{ height: 160px;}
.LifeMemberAgree, .LifeMemberAgreeError{ width: 100%; left: 0px; font-size: 12px;} 
.LifeMemberVFCode{ width: 100%; margin-left: 0px;}  .LifeMemberVFCodeText{ width: 100%; display: block; margin: 10px 0 5px 0; text-align: center;} 
.meeaar{ margin-left: 0px;} .onlyRED{ margin: 0px; display: block;}

.LifeMemberFirstShopping{ padding: 30px 4px 5px 3px; width: 98%;}
.LifeMemberPEZOpenPassaPic, .LifeMemberConfirmMessage { display: block; margin: 0 auto; float: none;}
.LifeMemberPEZOpenPassText, .LifeMemberConfirmEPText { display: block; width: 95%; font-size: 15px; margin: 0 auto; float: none; }
.LifeMemberConfirmEPText { margin-top: 22px; }
.LifeMemberFirstShoppTittle { width: 32%; }
.rdl-FStittText { line-height: 22px; display: block; } .LifeMemberFirstShoppMail{ width: 55%; } .rdl-FSpT{ letter-spacing:0.1em;}
.LMFShoppName, .LMFShoppGender{ font-size: 15px; } .LMFShoppNote{ margin-left:-17px; display: block; }
.LMFShoppName input{ width:23%; font-size: 14px;} .LMFShoppPhone input{ width:65%; font-size: 14px; }
.LMFShoppInvoice select{ width: 86px; font-size: 14px; margin-left:0;}.LMFShoppInvoice input{ width: 163px; margin-left: 0;}
.rdl-redT, .rdl-redT2{color: #F00; margin-left: 17px; width: 100%;}
.LifeMemberLogFrame{ width: 95%; margin: 10px auto; height: 450px;}
.lmbecOtloginfor, .lmbeclogiTi, .lmbelogGO, .LMPasswordFrame{ margin: 0 auto; height: auto;}  
.lmbeclogiTi{ font-size: 12px; margin: 10px auto 0 auto; width: 98%;}
.lmbecloging{width:98%; margin: 5px auto; height: auto;}
.lmbecOtloginfor img{ height: auto; max-width: 80%; margin: 0 auto;}
.LifeMemberOtherLoging2, .LifeMemberOtherLoging1{ border: none; border-bottom: 1px dashed #B9955E; height: auto; margin-bottom: 20px; padding-bottom: 18px; width: 100%;} .lmbeclogingTEXT{ font-size: 13px; } 
.lmbeclogingBtn{ max-width: 50%;}
.LifeMemberConfirmMessage{ font-size: 15px;} .rdl-cmsgT{ padding: 15px; width: 89%;} 
.LifeMemberConfirmRemarks{ margin-top: 10px; padding: 15px 0 0 0;}
.rdl-LMPawdFTe input{ width:60%; font-size:14px;} .rdl-LMPawdTit { margin-left: 14px;}
.rdl-LMAgree{ height: auto; margin: 5px auto 15px auto;} 
.LMPasswordFrameText select{ width: 29%; font-size: 15px; height: 21px; margin-top: -1px;}
.LifeMemberTXT2 input.rdl-typchk{ width: 15px; display: inline-block;} .rdl-redT3{ margin: 0; } .rdl-redT5{ display:block; }

/*A1-DealList_Normal-by-Alan
.NaviCityW { display: none; }
.NaviCityMP { width: 100%; margin: 0 auto; border: none; box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);  }
.NaviCitySort, .NaviCitySequence, .NaviCitySelectArea { display: none; }
.NaviCityArea { width: auto; padding: 5px; border: none; text-align: center; }
.NaviCityArea li { display: inline-block; float: none; }
.NaviCityArea a { padding: 2px 6px; }*/
/*Fix會員專區消失*/
.rd-mc { display: inline-block;}

/*A3-event_1-6-活動頁*/
.ly-evn-pprule{ display:none;}
.ly-e-cop-tab{ display: none;}
.evn-cop-buy-sold-out-bar-290 { width: 100%; height: 100%:}


}
/*Mobile Menu by TouNeko*/

@media screen and (max-width: 767px) {
.mgs-s-T, .ch-piinlife, .rd-hide{ display: none;}
#wrap { overflow: hidden; }
.mc-menu-btn {
	width: 40px;
	height: 36px;
	margin: 7px;
	display: block;
	position: relative;
	top: 2px;
	left: 0;
	cursor: pointer;
	line-height: 36px;
	font-size: 14px;
	font-weight: 600;
	color: #BF0000;
	text-align: center;
	border: 1px solid #CCC;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	float: left;
}
.mc-menu-btn{ float: right; right: 0;} 

.mc-menu-btn:hover {
	color: #BF0000;
	text-decoration: none;
}
.mc-menu-btn:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}
.mbe-menu {
	width: 100%;
	float: left;
	background: #333333;
	-webkit-transition: margin 0.3s;
	-moz-transition: margin 0.3s;
	-o-transition: margin 0.3s;
	transition: margin 0.3s;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.mbe-menu_show {
	width: 100%;
	float: left;
	margin-left: 0%;
	background: #333333;
	-webkit-transition: margin 0.3s;
	-moz-transition: margin 0.3s;
	-o-transition: margin 0.3s;
	transition: margin 0.3s;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.mbe-menu2 {
	width: 100%;
	float: right;
	margin-right: -100%;
	background: #333333;
	-webkit-transition: margin 0.3s;
	   -moz-transition: margin 0.3s;
	     -o-transition: margin 0.3s;
	        transition: margin 0.3s;
	 -webkit-transform: translate3d(0,0,0);
	    -moz-transform: translate3d(0,0,0);
	      -o-transform: translate3d(0,0,0);
	         transform: translate3d(0,0,0);
}
.mbe-menu2_show {
	width: 100%;
	float: right;
	margin-right: 0%;
	background: #333333;
	border-top: 2px solid #BF0000;
	-webkit-transition: margin 0.3s;
	   -moz-transition: margin 0.3s;
	     -o-transition: margin 0.3s;
	        transition: margin 0.3s;
	 -webkit-transform: translate3d(0,0,0);
	    -moz-transform: translate3d(0,0,0);
	      -o-transform: translate3d(0,0,0);
	         transform: translate3d(0,0,0);
}
.mbe-menu2 #navi2 { border-bottom: none; }
#navimain li  { width: 20%;}
.mbe-menu2 #navimain2 li, .mbe-menu2_show #navimain2 li  { 
	text-align: right; 
	border-bottom: 1px solid #555;
}
#navimain li a { 
	text-align: center;
	-moz-box-sizing: border-box; 
		 box-sizing: border-box; 
}
.mbe-menu2_show #navimain2 li a { 
	padding-right: 15px; 
	-moz-box-sizing: border-box; 
		 box-sizing: border-box; 
}
.mbe-nav-city { display: block; background: #444; }
.mbe-nav-city .mbe-city-title {
	padding-left: 10px;
	color: #FFF;
	font: 13px/32px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	border-bottom: 1px solid #555; 
	background: #555;
}
#navimain .mbe-nav-city li.mbe-city-btn {
	width: 30%;
	height: 25px;
	margin: 5px;
	padding-left: 0;
	float: left;
	text-align: center;
	vertical-align: top;
	border: none;
}
#navimain .mbe-nav-city .mbe-city-link {
	width: 100%;
	padding-left: 0;
	display: inline-block;
	font: 13px/20px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	color:#FFF;
}
#navimain .mbe-nav-city li.mbe-city-btn.on, 
#navimain .mbe-nav-city li.mbe-city-btn:hover {
	border-radius: 5px;
	background: #BF0000;
}

/*A1-DealList_Normal-收藏區塊-Collect by ariel*/
#HKL_Collect, #HKL_Collect-ok, .HKL_juwindow{display: none;}
.rdl_Collect { 
	background-position: -278px -199px ;
	font-size: 15px;
	margin-left: 5px;
  }
 .rdl_Collect-ok { 
	background-position: -278px -265px ;
	font-size: 15px;
	margin-left: 5px;
  }
  #HKL_Collect a, #HKL_Collect-ok a, .HKL_Collect a, .HKL_Collect-ok a {padding-left: 22px;}
 .ly-e-cop-tab{ display: none;}
.share-popW {
    width: 300px;
    position: relative;
    border: 10px solid #fff;
    background: #F7F7F7;
    display: block;
}
.share-popX {
    top: -10px;
    right: -10px;
}


}
/*iphone event*/
@media screen and (min-width: 1001px) { 
.evtbar { display: none; } 
}
@media screen and (max-width: 1000px) {
.evt { display: none; }
.evtbar {
	width: 100%;
	margin: 10px auto;
	display: block;
	background: #FFF;
	border:3px solid #BF0000;
	border-radius: 5px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.evtbar a { color: #00F; text-decoration: underline; }
.evtbar .s-imp {
	font-size: 20px;
	color: #BF0000;
}
.evtbar-content {
	margin: 0 10px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 600;
	text-align: center;
}
.evtbar-content.nlogin { color: #BF0000; }
.pop-download-app { margin:-7px auto 0 auto; }
}

@media screen and (max-width: 767px) {

.evtbar { width: 95%; }
}
/*@media screen and (max-width: 480px) {
#navimain2 a {
    color: #FFFFFF;
    text-decoration: none;
}
.mbe-menu2 #navimain2 li, .mbe-menu2_show #navimain2 li  { 
	text-align: right; 
	border-bottom: 1px solid #555;
}
#navimain2 li {
    float: right;
}
.pay-evt-bg { background: none; }
.evtbar-content { font-size: 14px; }
.evn-cop-buytitle{ 
	display: block; 
    font-size: 15px;
    width: 91%;
}
.evn-cop-minorange-title{ 
	display: block; 
    padding-bottom: 5px;
    width: 91%;
}
.rdl-pl-show{ display: none;}

}*/


/* Wechat-Coupons-by-gigi */

@media screen and (max-width: 480px) {
.w-deal {display: none;}
.m-deal {display: block;}
/* 首頁M版分類-by-gigi */
.m-classify {
    width: 100%;
    height: 40px;
    float: left;
    display: block;
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);
}
.m-classify li {
    float: left;
    border-right: 1px solid #ccc;
       -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.col-1-4 li{ width: 28%;}
.col-1-3 li, .col-1-2 li { width: 42%;}
.col-1-3 li:first-child,.col-1-2 li:nth-child(2) { display: none;}
.col-1-4 li:last-child, .col-1-3 li:last-child,.col-1-2 li:last-child {width: 16%; border-right: none;}
.m-classify a {
    width: 100%;
    font-size: 14px;    
    text-align: center;
    line-height: 40px;
    color: #888;
    display: block;
}
.m-classify li a:hover {text-decoration: none;}
.arrow-down .icon-chevron:before {content: "\f078";}
.arrow-on .icon-chevron:before {content: "\f077";}
.arrow-down span, .arrow-on span {padding-left: 0.3em;}
.filter span {
    font-size: 24px;
    line-height: 40px;
}
.arrow-on a,  .filter-on a {color: #BF0000;background: #fff;}
.arrow-on .icon-chevron-up {color: #BF0000;}
.DealPriceInfo .buycounter .icon-user, .lineview-counter .icon-user {color: #666; font-size: 12px; padding-right: 3px;}
.icon-clock-o {float: left; margin: 8px 0 0 0; color: #666; font-size: 12px;}
.NaviCityW { 
    border-radius: 0;
    border: none; 
}
.mbe-switch {
    width: 100%;
    float: left;
}
.NaviCityMP,.NaviCityW,#ulSort, #ulFilter { 
    width: 100%; 
    margin: 0 auto; 
    border: none;  
    background: #f5f5f5;
    display: none;
}
.NaviCitySelectArea, .NaviCitySelectSort, .NaviCitySelectArea { display: none; }
.NaviCityArea { width: auto; padding: 0; border: none; text-align: center; }
.NaviCityArea li,.NaviCitySequence li, .NaviCitySort li { 
    width: 100%; 
    margin: 0;
    float: none; 
    text-align: left;
}
.NaviCityArea a, .NaviCitySequence a, .NaviCitySort a { 
    width: 100%; 
    margin: 0;
    padding: 12px;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    font-size: 14px; 
    font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.NaviCityArea a:hover,.NaviCitySequence a:hover, .NaviCitySort a:hover { 
    width: 100%; 
    background: #f8f8f8; 
    color: inherit;
    border-radius: 0;
    }
.NaviCityArea a.on, .NaviCityArea a.on:hover, .NaviCitySequence a.on, .NaviCitySequence a.on:hover, .NaviCitySort li.on a, .NaviCitySort li.on:hover a {
    color: #BF0000;
    background: #fff;
}
.NaviCitySort a:hover .WordsGray, .on a:hover .WordsGray ,.NaviCitySort li.on .WordsGray{color: #ccc;}
.NaviCitySort, .NaviCitySortRank, .NaviCitySequence {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}
.mbe-switch + .center .NaviCityW { margin-top: 0px;}
#ulSort, #ulFilter { width: 100%;float: left; }
.NaviCitySequence a.up, .NaviCitySequence a.on.up, .NaviCitySequence a.down, .NaviCitySequence a.on.down{
    width: 100%;
    margin: 0;
    padding: 12px 1px;
    background-repeat: no-repeat;
    background-position: right center;
}
.NaviCitySequence a.up:hover, .NaviCitySequence a.on.up{ 
    color: #fff;
    border-radius: 0;
    background-repeat: no-repeat;
    background-color: #BE0000;
    background-position: right center; 
}
.NaviCitySequence a.down:hover, .NaviCitySequence a.on.down{ 
    color: #fff;
    border-radius: 0;
    background-repeat: no-repeat;
    background-color: #BE0000;
    background-position: right center; 
}
.NaviCitySequence a.down:after {
    position: absolute;
    top: 18px;
}

#ulFilter li {border-bottom: 1px solid #e5e5e5;}
#ulFilter li.m-filter-btn {
    display: block;
    padding: 10px 0;
    border-bottom: none;
}
.ncs-filter { position: relative;}
input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=checkbox].css-checkbox + label.css-label {
    width: 100%;
    padding-left: 20px;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
}
.ncs-filter input[type=checkbox]:checked + label span:first-child {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.ncs-filter input[type=checkbox] + label span:first-child {
    opacity: 0;
    margin-top: 3px;
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 12px;
    left: 0;
    border: 3px solid #BF0000;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 內頁M版-by-gigi */
.mobiledeal {
    width: 95%;
    margin: 10px auto;
    border: 2px solid #CCC;
    background: #FFF;
}
.m-tool {padding: 0px 10px;}
.m-dts {
    height: 36px;
	position: relative;
	top: 8px;
	z-index: 8;
	float: left;
}
.m-collect {
	position: relative;
	top: 8px;
	float: right;
}
.m-priceInfo {padding: 10px;}
.m-priceZone {
	padding-left: 10px;
	color: #BF0000;
	float: left;
}
.m-discount, .m-price {
	display: inline-block;
	font: 24px/40px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
.m-discount {
	margin-right: 6px;
	padding-right: 6px;
	border-right: 1px solid #ccc;
}
.m-buycounter {
	padding: 5px 10px;
	background: #FAFAF7;
}
.m-time {
	padding-left: 12px;
	float: left;
}
.m-time .TimeConDigit {
	width: auto;
	font-size: 14px;
}
.m-counter {
	margin-top: 5px;
	padding-left: 12px;
	float: right;
	font-size: 12px;
}
.m-counter .icon-user {padding-right: 3px;}
.m-share {
	width: 95%;
	margin: 0 auto 10px;
	padding: 10px 0 0;
	border: 2px solid #CCC;
	background: #FFF;
	display: block;
}
.m-share .share_text {
	margin-top: 5px;
	margin-left: 10px;
}
.m-share .share_btn_box {
	margin-top: 5px;
	margin-right: 5px;
	float: left;
}
.mar-center {width: 285px; margin: 0 auto;}
.m-fbBtn,.m-lineBtn {
	width: 45px;
	height:45px;
	display: block;
	float: left;
}
.m-fbBtn {
	background: url(../images/17life/G2/m_share_fb.png) no-repeat left center;
	margin-right: 15px;
}
.m-lineBtn {background: url(../images/17life/G2/m_share_line.png) no-repeat left center;}
.share-tip {
	margin-top: 10px;
	padding: 5px 10px;
	color: #888;
	background: #FAFAF7;
	font-size: 12px;
}
.m-buyBtnBig a{
	width: 95%;
	margin: 0 auto;
	padding: 7px 0;
	display: block;
}
.m-buyBtnSmall a{
	float: right;
	padding: 5px 20px;
	}	
.m-buyBtn a {
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	text-align: center;		
		-o-border-radius: 5px;
		-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	display: block;
}
.m-buyBtn a:hover {text-decoration: none;}
.m-buyBtnRed a {
    background-image:linear-gradient(top,#fc3030,#df1313);
    background-image:-moz-linear-gradient(top,#fc3030,#df1313);
    background-image:-webkit-linear-gradient(top,#fc3030,#df1313);
    background-image:-o-linear-gradient(top,#fc3030,#df1313);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc3030', endColorstr='#df1313', GradientType=0);
    background-color: #EC1818;
    box-shadow: 0px 2px 2px rgba(0%, 0%, 0%, .3);
}
.m-buyBtnRed a:hover {background: #fc3030;}
.m-buyBtnDisabled a {
    background-image:linear-gradient(top,#6f6f6f,#979797);
    background-image:-moz-linear-gradient(top,#6f6f6f,#979797);
    background-image:-webkit-linear-gradient(top,#6f6f6f,#979797);
    background-image:-o-linear-gradient(top,#6f6f6f,#979797);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f6f6f', endColorstr='#979797', GradientType=0);
    background-color: #888;
    cursor: default;
    -webkit-box-shadow: inset 0 1px 6px rgba(0,0,0,0.25);
-moz-box-shadow: inset 0 1px 6px rgba(0,0,0,0.25);
box-shadow: inset 0 1px 6px rgba(0,0,0,0.25);
}
#EntryContent {padding: 0;}
.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-title {height: 48px;} 
.EntryTitle {
	margin-bottom: 0;
	font-size: 18px; 
	line-height: 1.3;
	padding: 10px;
	color: #BF0000; 
	border-bottom: 1px solid #ccc;
	background-color: #e5e5e5;
	background-image:linear-gradient(#f8f8f8 0%, #e5e5e5 100%);
	background-image:-webkit-linear-gradient(#f8f8f8 0%, #e5e5e5 100%);	
	background-image:-moz-linear-gradient(#f8f8f8 0%, #e5e5e5 100%);	
	background-image:-o-linear-gradient(#f8f8f8 0%, #e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e5e5e5', GradientType=0);
	cursor: pointer;
}
.EntryZone {margin: 20px;}
#DialogTop {
	margin-top: 0;
	background-image:linear-gradient(#f8f8f8 0%, #e5e5e5 100%);
	background-image:-webkit-linear-gradient(#f8f8f8 0%, #e5e5e5 100%);	
	background-image:-moz-linear-gradient(#f8f8f8 0%, #e5e5e5 100%);	
	background-image:-o-linear-gradient(#f8f8f8 0%, #e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e5e5e5', GradientType=0);
	background-color: #e5e5e5;
}
#DialogTop.EntryTitle {
	border-bottom: 1px solid #ccc;
}
.ui-accordion-header {position: relative;}
.ui-widget-content {background: #fff;}
.ui-icon {
	display: block;
	width: 15px;
	height: 11px;
	position: absolute;
	right: .5em;
	top: 50%;
	margin-top: -5px;
}

.ui-state-default .ui-icon {background: url(../images/17life/G2/arrow_black_down.png) no-repeat 95% center;}
.ui-state-active .ui-icon {background: url(../images/17life/G2/arrow_black_up.png) no-repeat 95% center;}
.lineview-buy {
	display: block;
	width: 95%;
	margin: 10px auto;
}
.lineview-buy h4 {
	width: 100%;
	height: 32px;
	margin: 20px 0 0 0;
	font-size: 18px;
	border-bottom: 1px solid #CCC;
	color: #333;
}
.lineview-buy-box {
	width: 100%;
	margin: 15px 0;
	border: 1px solid #CCC;
	background: #FFF;
	box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15);
}
.lineview-buy-box:hover {border-color: #d00000;}
.lineview-tool {margin: 3px 10px;}
.lineview-dts {
	position: relative;
	z-index: 99;
	top: 4px;
	float: left;
}
.lineview-counter {
	margin-top: 10px;
	padding-left: 12px;
	float: right;
	font-size: 12px;
	background: none;
	filter: alpha(Opacity=60, Style=0);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
.lineview-buy-pic {
	float: left;
	margin: 0 10px;
	width: 130px;
	height: 72px;
	position: relative;
	background: url(../images/17life/G2/ppon-M1_pic.jpg) no-repeat left top;
	background-size: 100%;
}
.evn-cop-buy-pic img {max-width: 100%;height: auto;}
.lineview-buy-sold-out {
	width: 100%;
	height: 162px;
	z-index: 5;
	left: 0px;
	top: 0px;
	position: absolute;
}
.lineview-buytitle{
	height: 36px;
	margin-right: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	color: #333;
	border-bottom: 1px dashed #CCCCCC;
	overflow: hidden;
}
.lineview-minorange-title {
	height: 18px;
	padding-bottom: 5px;
	padding-right: 5px;
	margin: 0 auto 5px;
	font-size: 13px;
	line-height: 23px;
	
	overflow: hidden;
}
.lineview-minorange-title a {
	color: #f60;
	text-decoration: none;
}
.lineview-buyinformation {
	overflow: hidden;
	display: block;
	height: 28px;
	margin: 5px 10px;
	width: auto;
}
.lineview-priceZone {
	float: right;
	color: #BF0000;
	font-size: 18px; 
}
.lineview-discount {
	margin-right: 6px;
	padding-right: 6px;
	border-right: 1px solid #ccc;
	float: left
}
.lineview-price {float: right;}

.lineview-buy-pic .activeLogo img{width: 50%;}
#Detailinner.Equity.deal-detail-overwrite {
	width: 85%;
	margin: 20px;
}
.Equitylink .shop {display: none;}

.mgs-s-T{ display: none;}

#navimain2 a {
    color: #FFFFFF;
    text-decoration: none;
}
.mbe-menu2 #navimain2 li, .mbe-menu2_show #navimain2 li  { 
	text-align: right; 
	border-bottom: 1px solid #555;
}
#navimain2 li {
    float: right;
}
.pay-evt-bg { background: none; }
.evtbar-content { font-size: 14px; }
.evn-cop-buytitle{ 
	display: block; 
    font-size: 15px;
    width: 91%;
}
.evn-cop-minorange-title{ 
	display: block; 
    padding-bottom: 5px;
    width: 91%;
}
.rdl-pl-show{ display: none;}

.permutation li { float: none; }
.rd-mg10 { margin: 10px; }

/*A3-event_1-6-活動頁*/
#TOPBanner, .ly-e-cop-area-menubar, .skm-QrMessagefarm{ display: none;}
.evn-cop-tn-bar { width: 100%;}
.ly-e-cop-farme { margin: 0 auto; width: 95%; }
.st-e-cop-area-bar { width: 15%; margin: 0 5px;}
.evn-cop-buy-sf-box{ width: 100%; margin: 15px 0;}
.evn-cop-tn-bar { width: 100%;}
.ly-e-cop-farme { margin: 0 auto; width: 95%; }
.st-e-cop-area-bar { width: 15%; margin: 0 5px;}
.evn-cop-buy-sf-box{ width: 310px; margin: 15px auto; float: none;}
#Act-TOP{  display: none;}
#Act-smallTOP{ width: 100%; height: auto;}

.rdl-list-box { 
	width:95%;
	margin:0 auto;
	height:auto;
	}
.rdl-Btn-box { width: 100%;}
.rdl-list-Lbtn{ float:left; border-radius: 5px ; margin: 8px 0 ; }
.rdl-list-Rbtn{ float:right; border-radius: 5px ; margin: 8px  0; }
.rdl-list-Lbtn, .rdl-list-Rbtn{ 
	background: #24231D;
	width:48%; 
	height:50px; 
	line-height:50px; 	
	font-size: 20px; 
	text-align: center;
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
	color: #fff;
}
.rdl-on, .rdl-list-Lbtn:hover, .rdl-list-Rbtn:hover { 
	background-color: #BF0000; color:#FFF; }
.rdl-Subbox{ 
	width:100%; display: block; 
	margin: 0 auto; 
	

	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
}
.rdl-Subbox ul{ 
	width: 99.8%; display: inline-block; margin-top: -10px;
	border:#adadad 1px solid; border-top: 5px #D00000  solid; 

}
.rdl-Subbox li{ 
	background: #F3F3E9;
	border-bottom: 1px solid  #adadad;
	padding-left: 20px;
	line-height: 45px;
}
.rdl-Subbox li:hover { 
	background:#bf0000; 
	color: #fff;

}
.rdl-Subbox li.inside{ 
	padding-left: 52px;
	list-style-image: url(../images/17life/G2/ac-rdl-icon.png);
	list-style-position: inside;
	font-size: 15px;
	line-height: 33px;
}
.ly-e-cop-ppon{ font-size: 27px; width: 100%; height: 40px; margin: 5px 0 0 0;}
.evn-cop-acNotice{
	display: block;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 5px auto;
    overflow: hidden;
    width: auto;
    font-size:19px; 
    padding-left: 5px;
    color: #BF0000;
    overflow: hidden;
}

/*活動辦法*/
.rdl-evn-pprule {  
	width:100%; 
	margin:10px 0 20px 0; 
	background:#FFF; 
	display: inline-block;
	border: 1px solid #CCCCCC;
}
.rdl-ru-title{
	width:94%; 
	margin:0 auto; 
	padding-top:13px; 
	font-size:21px; 
	border-bottom:1px solid #666; 
}
.rdl-evn-pprule  .rdl-ru-content { 
	width:94%; 
	margin:0 auto; 
	padding:15px 0; 
}
.st-e-cop-optionsbn img{ 
	max-width: 100%;
	height: auto;	
}
.evn-cop-buy-pic img{ max-width: 100%;}
.evn-cpp-pinnlife-box {
    margin: 10px 8px;
    width: 95%;
}
.evn-cpp-pinnlife-pic {
    float: none;
    height: auto;
    margin: 10px;
    width: auto; }

/*wvwnt6*/
.evn-copcafarm {
    margin: 15px 0;
    width: 100%;
    border: 1px solid #CCCCCC;
}
.evn-copcadealname {  
	width: auto; 
	position: relative; 
	background: none; 
	color: #000; 
	text-align: left;
	margin: 15px 0 10px 0;
	font-size: 19px;
	word-break: normal;/*(自動換行英文斷行)*/
	height: 20px;
	padding-left: 0;
}
.rdl-p6-coupon-pic { 
    float: left;
    height: auto;
    margin: 10px;
    width: auto; 
}
 .evn-copcafarm > a > img {
    height: 121px;
    margin-top: 0;
    max-width: 180px;
}
 .evn-coptextinfo{ 
 	text-align: left;
 	display: inline;
    font-size: 15px;
    height: auto;
    margin: 15px 0 5px;
    padding-right: 10px;
    width: 55%;
 }

 .evn-cop-ptext{ 
     width:auto; text-align: left; margin-bottom: 15px; color: #f60;height: 20px; overflow: hidden; padding-right: 5px;
 }
 .st-evncopca-col-btn, .st-evncop-favoritetoo-btn{ float: left;}
/*導覽列加入new icon*/
.new_icon{ background-size:80%;}
.new_icon_in{ background-size:80%;}

}


@media screen and (max-width:568px) {
/*wvwnt6*/
 .evn-coptextinfo{  width: 50%; padding: 0;  }


}
@media screen and (min-width: 380px) and (max-width: 480px) {
.DealPriceInfo {top: 15px;}
.DealPriceInfo .buycounter {top: -90px;}
}
@media screen and (max-width: 320px) {
.mgs-s-T{ display: none;}
/*A3-event_1-6-活動頁*/
.ac-center { margin:0 auto 10px auto;}
.evn-cop-tn-bar { width: 100%;}
.ly-e-cop-farme { margin: 0 auto; width: 95%; }
.st-e-cop-area-bar { width: 15%; margin: 0 5px;}
.ly-e-cop-area-menubar, .skm-QrMessagefarm{ display: none;}
.evn-cop-buy-sf-box{ width: 100%; margin: 15px 0;}
#Act-TOP{  display: none;}
#Act-smallTOP{ width: 100%; }

/*首頁大圖背景*/

/*wvwnt6*/
.evn-copcafarm {
    margin: 15px auto;
    width: 210px;
    border: 1px solid #CCCCCC;
    float: none;
}
.evn-copcadealname { display: block;}
.rdl-p6-coupon-pic { 
    height: 141px;
    max-width: 210px;
    float: none;
    margin: 0
}
 .evn-copcafarm > a > img {
    height: 141px;
    margin-top: 35px;
    max-width: 210px;
}
 .evn-coptextinfo{ 
 	display: inline-block;
 	text-align:  center;
    font-size: 15px;
    height: auto;
    margin: 0;
    padding-right: 10px;
    width: 200px;
    padding: 10px 5px;
 }
 .evn-cop-ptext{ width:auto; text-align: center; margin-bottom: 15px;  }

 .st-evncopca-col-btn, .st-evncop-favoritetoo-btn{ float: none; }
 .alo-l { width: 130px; } /*-首頁大圖壓字-*/
 .evn-copcadealname {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 25px;
    left: 0;
    opacity: 0.65;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 200px;
    margin:0;
}



}
