﻿html, body
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #efe6d6;
    background-repeat: repeat;
    background-image: url(../../../Themes/default/images/17Life/G6app/SalesOfNuclearAppBg.jpg);
}
a
{
    text-decoration: none;
}
table
{
    border: 0;
    border-collapse: collapse;
}
table.VerifyReport
{
    width: 80%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color: #ddd;
}
table.VerifyReport th
{
    width: 50%;
    text-align: right;
}
table.VerifyReport td.title
{
    text-align: center;
}
table.VerifyReport td
{
    text-align: left;
}
.SalesOfRedAlert
{
    border-color: #dd0000;
}
.SalesOfNuclearApp
{
    width: 100%;
}
.SalesOfNuclearAppLogo
{
    height: 80px;
    width: 180px;
    margin-right: auto;
    margin-left: auto;
}
.SalesOfNuclearAppText
{
    font-family: "微軟正黑體";
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
    color: #333;
    margin-top: 35px;
    text-align: center;
    width: 295px;
    margin-right: auto;
    margin-left: auto;
}
.SalesOfNuclearAppNumber
{
    font-family: "微軟正黑體";
    width: 290px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    text-align: center;
}
.SalesOfNuclearAppNumber input
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    width: 80px;
    overflow: hidden;
    height: 30px;
}
.SaOfNuAppInfo
{
    width: 270px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
}
.SaOfNuAppNuS
{
    width: 120px;
}
.SalesOfNuclearAppBtn
{
    height: 39px;
    width: 320px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.SalesOfNuclearAppBtn a.SalesLeftBtn
{
    margin-left: 10px;
}
.SaOfNuAppStName
{
    font-family: "微軟正黑體";
    font-size: 24px;
    color: #000;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
}
.SaOfNuAppStCho
{
    width: 170px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
.SaOfNuAppStCho select
{
    width: 170px;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "微軟正黑體";
    color: #000;
    margin-bottom: 25px;
}
.SaOfNuAppTable1
{
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    font-family: "微軟正黑體";
    font-size: 18px;
    color: #000;
}
.SaOfNuAppTable1 td
{
    height: 28px;
}

.SaOfNuAppTable2
{
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    font-family: "微軟正黑體";
    font-size: 18px;
    color: #000;
    margin-top: 10px;
    border: 1px dashed #DBB67D;
    border: 1px dashed #DBB67D;
}
.SaOfNuAppTable2 td
{
    height: 30px;
}

.SaOfNuAppB1
{
    background-color: #E4C9A0;
    color: #000;
}
.SaOfNuAppB2
{
    background-color: #EEDDC6;
}
.SaOfNuAppline
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E6B48E;
}
.SaOfNuAppPrevious
{
    height: 26px;
    width: 46px;
    float: right;
    position: relative;
    top: -33px;
    right: 8px;
}
.SalesOfNuclearAppfooter
{
    width: 310px;
    margin-top: 13px;
    margin-right: auto;
    margin-left: auto;
    font-size: 13px;
    text-align: center;
    color: #000;
    font-family: "微軟正黑體";
}
.SaOfNuAppBtn4
{
    margin-right: auto;
    margin-left: auto;
    height: 37px;
    width: 70px;
}
.SalesOfNuclearAppBarcode
{
    width: 290px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
    height: 40px;
    position: relative;
}

.SalesOfNuclearAppStart
{
    color: #333333;
    font-family: "微軟正黑體";
    font-size: 18px;
    font-weight: bold;
    line-height: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    width: 295px;
    height:30px;
}

.SalesOfNuclearAppBarcodeSuccess
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
    color: #FFFFFF;
    font-size: 15px;
    height: 20px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    top: 0;
    width: 290px;
}
.watermarkOn
{
    color: #AAAAAA;
    font-style: italic;
}
