@charset "utf-8";
input { 
	background:transparent; 
	border:0;
	display: inline-block;
	margin-top: 6px;
	vertical-align: top; 
}
.Button {
    cursor: pointer;
    display: block;
    position: relative;
    text-decoration: none !important;
}
.Button .bg {
    background-color: transparent;
    background-repeat: no-repeat;
    display: block !important;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    top: 0;
    width: 50%;
}
.Theme_Email input.Button {
	background: -moz-linear-gradient(center top , #604B3B 0%, #281B11 100%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #604B3B 0%, #281B11 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#604B3B', endColorstr='#281B11',GradientType=0 ); 
	/* IE6-8 */
    color: #FFFFFF;
	font-size: 12px;
	height: 22px;
	text-align: center;
	width: 54px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 2px 0px 0px;
	border: none;
}
.Theme_Email input.Button:hover {
    background: -moz-linear-gradient(center top , #7c5f48 0%, #281B11 100%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #7c5f48 0%, #281B11 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c5f48', endColorstr='#281B11',GradientType=0 ); 
	/* IE6-8 */
    color: #FFFFFF;
    font-size: 12px;
    height: 22px;
    margin: 10px auto 0;
    text-align: center;
    width: 54px;
	padding-top: 2px;
}
.Button_back_to_top_command {
	border: medium none;
	border-radius: 4px 4px 4px 4px;
	bottom: 40%;
	cursor: pointer;
	display: none;
	height: 40px;
	position: fixed;
	/*right: 60px;*/
	margin-left:970px;
	width: 40px;
	z-index: 5;
	background-attachment: scroll;
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -12px -13px;	
}

.Button_Single_Buy{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -255px -96px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	width: 132px;
	margin: 10px auto 5px;
    /*padding-bottom:6px;*/
}

.Button_Single_Buy:hover{
	background-position: -255px -144px;
}

.Button_Single_SoldOut{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -255px -200px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	width: 132px;
	margin: 0px auto;
	padding-bottom:6px;
}

.Button_Single_SoldOut:hover{
	background-position: -255px -248px;
}
.Button_Single_CountDown{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -395px -200px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	width: 132px;
	margin: 0px auto;
}
.Button_Pay_Submit{
    height: 38px;
    width: 130px;
    margin: 0 auto;  	
}
input.Button_Pay_Submit{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -255px -312px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);	
	border: none;
}
input.Button_Pay_Submit:hover{
	background-position: -255px -360px;
	border: none;
}
.Button_Pay_Modify{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -255px -416px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	width: 132px;
	margin: 0px auto 20px;
	float: left;
}
.Button_Pay_Modify:hover{
	background-position: -255px -464px;
}
.Button_Pay_Confirm{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -255px -515px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	width: 132px;
	margin: 0px auto 20px;
	float: right;
}
.Button_Pay_Confirm:hover{
	background-position: -255px -563px;
}
.Button_Card_Confirm{
    height: 40px;
    width: 130px;
    margin: 22px auto 0;  	
}
input.Button_Card_Confirm{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -255px -515px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border: none;
}
input.Button_Card_Confirm:hover{
	background-position: -255px -563px;
}
.Button_Card_Inquiry{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -255px -618px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	width: 132px;
	margin: 170px auto 0px;
}
.Button_Card_Inquiry.flow { margin-top: 30px; }
.Button_Card_Inquiry:hover{
	background-position: -255px -666px;
}
.Button_Re-purchase{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -255px -718px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	width: 132px;
	margin: 110px auto 0px;
}
.Button_Re-purchase:hover{
	background-position: -255px -766px;
}
.Button_Re-purchase_VISA{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -255px -718px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	width: 132px;
	margin: 150px auto 0px;
}
.Button_Re-purchase_VISA:hover{
	background-position: -255px -766px;
}
.Button_Priority_Notice{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -255px -819px;
	height: 42px;
	width: 132px;
	margin: 150px auto 0px;
}
.Button_Priority_Notice:hover{
	background-position: -255px -867px;
}
.Button_Instant_Join{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -394px -312px;
	height: 42px;
	width: 132px;
	margin: 150px auto 0px;
}
.Button_Instant_Join:hover{
	background-position: -394px -360px;
}
.Button_Order_Inquiry{
	background-image: url(Button_Icon.png);
	background-repeat: no-repeat;
	background-position: -394px -417px;
	height: 42px;
	width: 132px;
	margin: 150px auto 0px;
}
.Button_Order_Inquiry:hover{
	background-position: -394px -465px;
}
a.Button_Register_Login {
	background-image: url(../Register/Register-Button.png);
	background-repeat: no-repeat;
	background-position: -96px -14px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px 3px 3px 3px;
	height: 24px;
	width: 70px;
	cursor: pointer;
	display: inline-block;
	color: #FFF;
	text-align:center;
	padding-top: 1px;
	padding-left: 2px;
}
a.Button_Register_Login:hover {
	background-position: -96px -51px;
	text-decoration: none;
}
.Button_Register_Submit {
    background-image: url(../Register/Register-Button.png);
    background-position: -18px -78px;
    background-repeat: no-repeat;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    height: 42px;
    margin: 0px auto 10px;
    width: 132px;
}
.Button_Register_Submit:hover {
	background-position: -18px -126px;
	text-decoration: none;
}
.Button_Login_Submit {
    background-image: url(../Register/Register-Button.png);
    background-position: -18px -78px;
    background-repeat: no-repeat;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    height: 42px;
    margin: 32px auto 0px;
    width: 132px;
}
.Button_Login_Submit:hover {
	background-position: -18px -126px;
	text-decoration: none;
}
.Button_Login_Submit_PEZ_FB {
    background-image: url(../Register/Register-Button.png);
    background-position: -18px -78px;
    background-repeat: no-repeat;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    height: 42px;
    margin: 50px auto 0px;
    width: 132px;
}
.Button_Login_Submit_PEZ_FB :hover {
	background-position: -18px -126px;
	text-decoration: none;
}
.Button_Register_Submit_password {
	background-image: url(../Login/Login-Button.png);
	background-position: -157px -277px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	margin: 69px auto 0px;
	width: 132px;
}
.Button_Register_Submit_password:hover {
	background-position: -157px -325px;
	text-decoration: none;
}
a.Button_Register_mail{
	background-image: url(../Register/Register-Button.png);
	background-repeat: no-repeat;
	background-position: -185px -14px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px 3px 3px 3px;
	height: 24px;
	width: 86px;
	cursor: pointer;
	display: inline-block;
	color: #FFF;
	text-align:center;
	padding-top: 2px;
	padding-left: 2px;
}
a.Button_Register_mail:hover {
	background-position: -185px -51px;
	text-decoration: none;
}
a.Button_Re-registration{
	background-image: url(../Register/Register-Button.png);
	background-repeat: no-repeat;
	background-position: -96px -14px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px 3px 3px 3px;
	height: 24px;
	width: 70px;
	cursor: pointer;
	display: inline-block;
	color: #FFF;
	text-align:center;
	padding-top: 2px;
	padding-left: 2px;
}
a.Button_Re-registration:hover {
	background-position: -96px -51px;
	text-decoration: none;
}
a.Button_Re-pwd{
	background-image: url(../Login/Login-Button.png);
	background-repeat: no-repeat;
	background-position: -96px -14px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px 3px 3px 3px;
	height: 24px;
	width: 70px;
	cursor: pointer;
	display: inline-block;
	color: #FFF;
	text-align:center;
	padding-top: 2px;
	padding-left: 2px;
}
a.Button_Re-pwd:hover {
	background-position: -96px -51px;
	text-decoration: none;
}
.Button_Set_complete {
	background-image: url(../Login/Login-Button.png);
	background-position: -18px -78px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	margin: 93px auto 0px;
	width: 132px;
}
.Button_Set_complete:hover {
	background-position: -18px -126px;
	text-decoration: none;
}
.Button_Set_complete_password {
	background-image: url(../Login/Login-Button.png);
	background-position: -18px -78px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	margin: 110px auto 0px;
	width: 132px;
}
.Button_Set_complete_password :hover {
	background-position: -18px -126px;
	text-decoration: none;
}
.Button_join {
	background-image: url(../Login/Login-Button.png);
	background-position: -18px -175px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	margin: 70px auto;
	width: 132px;
}
.Button_join:hover {
	background-position: -18px -223px;
	text-decoration: none;
}
.Button_Signin {
	background-image: url(../Login/Login-Button.png);
	background-position: -158px -78px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	margin: 31px 0px 0px 0px;
	width: 132px;
	float: left;
}
.Button_Signin:hover {
	background-position: -158px -126px;
	text-decoration: none;
}
.Button_Certain_Submit {
    background-image: url(../Register/Register-Button.png);
    background-position: -18px -78px;
    background-repeat: no-repeat;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    height: 42px;
    margin: 75px auto 0px;
	width:132px;
}
.Button_Certain_Submit:hover {
	background-position: -18px -126px;
	text-decoration: none;
}
.Button_Reset_Password {
	background-image: url(../Login/Login-Button.png);
	background-position: -16px -278px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	margin: 198px auto 0px;
	width: 132px;
}
.Button_Reset_Password:hover {
	background-position: -16px -326px;
	text-decoration: none;
}
a.FacebookLogin {
	background-image: url(../Login/Facebook.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px 3px 3px 3px;
	height: 55px;
	margin: 2px 0px 0px 0px;
	width: 110px;
	float: left;
}
.FacebookLogin_fail {
	background-image: url(../Login/Facebook_servicedown.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px 3px 3px 3px;
	height: 55px;
	margin: 2px 0px 0px 0px;
	width: 110px;
	float: left;
}
a.FacebookLogin:hover {
	background-position: 0px -55px;
	text-decoration: none;
}
a.PayeasyLogin {
	background-image: url(../Login/Payeasy.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px 3px 3px 3px;
	height: 55px;
	margin: 2px 0px 0px 0px;
	width: 110px;
	float: left;
}
a.PayeasyLogin:hover {
	background-position: 0px -55px;
	text-decoration: none;
}
a.HLogin {
	background-image: url(../Login/PNPL.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px 3px 3px 3px;
	height: 55px;
	margin: 2px 0px 0px 0px;
	width: 110px;
	float: left;
}
a.HLogin:hover {
	background-position: 0px -55px;
	text-decoration: none;
}
a.Button_AccountOpen{
	background-image: url(../Account/Account-Button.png);
	background-repeat: no-repeat;
	background-position: -21px -14px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px 3px 3px 3px;
	height: 24px;
	width: 70px;
	cursor: pointer;
	display: inline-block;
	color: #FFF;
	text-align:center;
	padding-top: 2px;
	padding-left: 2px;
}
a.Button_AccountOpen:hover {
	background-position: -21px -51px;
	text-decoration: none;
}
.Button_Account_Save{
	height: 42px;
	width: 132px;
	margin: 0px auto 30px;
	cursor:pointer;
}
.Button_Account_Change{
	height: 42px;
	width: 132px;
	margin: 0px auto 30px;
	cursor:pointer;
}
input.Button_Account_Change{
	background-image: url(../Account/Account-Button.png);
	background-repeat: no-repeat;
	background-position: -17px -196px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border: none;
	padding:0;
}
input.Button_Account_Change:hover{
	background-position: -17px -244px;
	border: none;
}
input.Button_Account_Save{
	background-image: url(../Account/Account-Button.png);
	background-repeat: no-repeat;
	background-position: -17px -87px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border: none;
	padding:0;
}
input.Button_Account_Save:hover{
	background-position: -17px -135px;
	border: none;
}
.Button_Account_Submit {
	background-image: url(../Account/Account-Button.png);
	background-position: -160px -87px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	margin: 0px auto 10px;
	width: 132px;
}
.Button_Account_Submit:hover {
	background-position: -160px -135px;
	text-decoration: none;
}
.Button_Account_Invoice {
	height: 42px;
	width: 132px;
	margin: 10px auto 20px;
}
input.Button_Account_Invoice{
	background-image: url(../Account/Account-Button.png);	
	background-position: -158px -305px;
	background-repeat: no-repeat;
	height: 42px;
	margin: 0px auto 10px;
	width: 130px;
	cursor: pointer;
}
input.Button_Account_Invoice:hover{
	background-position: -158px -353px;
	border: none;
}

/*Responsive Button Input Type by TouNeko*/
.ButtonField_B { margin:auto 50px; }
.ButtonField_B > span , .ButtonField_B .BtnName { background-image:url(../Returns/Responsive-Button.png); }
.ButtonField_B > span {
	background-position: 100% -169px;
	height:44px;
	line-height: 50px;
	display: inline-block;
}
.ButtonField_B .BtnName {
	background-position: -1px 0;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 0 15px;
	margin-right: 2px;
}
.ButtonField_B:hover > span { background-position: 100% -219px; }
.ButtonField_B:hover .BtnName { background-position: -1px -49px; }
.ButtonField_B .BtnName > input {
	background:none; 
	border:none; 
	width:120%; 
	font-family: "微軟正黑體";
	font-size:22px;
	font-weight: bold; 
	color:white; 
	line-height:40px; 
	margin-left:-10%;
	padding:0;
	cursor:pointer;
}
.ButtonField_B .BtnName > span {
	display:block; 
	width:100%; 
	font-family: "微軟正黑體";
	font-size:24px;
	font-weight: bold; 
	color:white; 
	line-height:44px; 
	cursor:pointer;
}
.ButtonField_S { display: inline-block;}
.ButtonField_S > span , .ButtonField_S .BtnName { background-image:url(../Returns/Responsive-Button.png); }
.ButtonField_S > span {
	background-position:100% -269px;
	height:28px;
	line-height:26px;
	display:inline-block;
	border-radius: 5px;
}
.ButtonField_S .BtnName {
	background-position: -1px 99px;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 0 10px;
	margin-right:2px;
}
.ButtonField_S:hover > span { background-position: 100% -304px; }
.ButtonField_S:hover .BtnName { background-position: -1px -133px; border-radius: 5px; }
.ButtonField_S .BtnName > input {
	background:none; 
	border:none; 
	width:120%; 
	font-family: "微軟正黑體";
	font-size:13px;
	color:white; 
	line-height:22px; 
	margin-left:-10%;
	padding:0;
	cursor:pointer;
}
.ButtonField_S .BtnName > span {
	display:block;
	width:100%; 
	font-family: "微軟正黑體";
	font-size:13px;
	color:white; 
	line-height:26px; 
	cursor:pointer;
}
/*Responsive Button Input Type -End- */

.Button_Account_Add{
    height: 42px;
    width: 132px;
	margin: 10px auto 20px;
	cursor:pointer;	
}
input.Button_Account_Add{
	background-image: url(../Account/Account-Button.png);
	background-repeat: no-repeat;
	background-position: -158px -195px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border:0;
	padding:0;
}
input.Button_Account_Add:hover{
	background-position: -158px -243px;
	border:0;
}
a.Button_Account_Delete {
	background-image: url(../Account/Account-Button.png);
	background-repeat: no-repeat;
	background-position: -23px -15px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px 3px 3px 3px;
	height: 22px;
	width: 62px;
	cursor: pointer;
	display: inline-block;
	color: #FFF;
	text-align:center;
	padding-top: 4px;
	padding-left: 2px;
}
a.Button_Account_Delete:hover {
	background-position: -23px -52px;
	text-decoration: none;
}
.Button_Invoice_Winning_Uniform {
	background-image: url(../AboutPolicy/AboutPolicy-Button.png);
	background-position: -160px -87px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	margin: 0px auto 10px;
	width: 132px;
}
.Button_Invoice_Winning_Uniform:hover {
	background-position: -160px -135px;
	text-decoration: none;
}
.Button_Invoice_Confirm_Success {
	background-image: url(../AboutPolicy/AboutPolicy-Button.png);
	background-position: -15px -87px;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	height: 42px;
	margin: 0px auto 10px;
	width: 132px;
}
.Button_Invoice_Confirm_Success:hover {
	background-position: -15px -135px;
	text-decoration: none;
}
.Button_SMS_Certificate_Modify{
	background-image:url(../MyAccount/PopUpWindowbottomPic.png);
	background-position: -19px -122px;
	background-repeat:no-repeat;
	height: 42px;
	width:133px;
	float: left;
	margin-right: 25px;
	margin-left: 63px;
	text-align: center;
	padding-top: 2px;
}
.Button_SMS_Certificate_Modify:hover{
	background-position: -19px -170px;
	background-repeat:no-repeat;
}
.Button_SMS_Certificate_Confirm{
	background-image:url(../MyAccount/PopUpWindowbottomPic.png);
	background-position: -173px -122px;
	background-repeat:no-repeat;
	height: 42px;
	width:133px;
	float: left;
	margin-left: 25px;
	text-align: center;
	padding-top: 2px;
}
.Button_SMS_Certificate_Confirm:hover{
	background-position: -173px -170px;
	background-repeat:no-repeat;
}
.Button_Paper_invoices_No{
	background-image:url(../MyAccount/PopUpWindowbottomPic.png);
	background-position: -19px -11px;
	background-repeat:no-repeat;
	height: 42px;
	width:180px;
	float: left;
	margin-right: 20px;
	margin-left: 23px;
	text-align: center;
	padding-top: 2px;
}
.Button_Paper_invoices_No:hover{
	background-position: -19px -58px;
	background-repeat:no-repeat;
}
.Button_Paper_invoices_Yes{
	background-image:url(../MyAccount/PopUpWindowbottomPic.png);
	background-position: -216px -11px;
	background-repeat:no-repeat;
	height: 42px;
	width:180px;
	float: left;
	margin-left: 20px;
	text-align: center;
	padding-top: 2px;
}
.Button_Paper_invoices_Yes:hover{
	background-position: -216px -58px;
	background-repeat:no-repeat;
}
.Button_PaperInvoices_Fill_in_Sent{
	background-image:url(../MyAccount/PopUpWindowbottomPic.png);
	background-position: -18px -231px;
	background-repeat:no-repeat;
	height: 42px;
	width:133px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 2px;
}
.Button_PaperInvoices_Fill_in_Sent:hover{
	background-position: -18px -279px;
	background-repeat:no-repeat;
}
.AbreastButton { margin-top:50px; text-align:center; }
.ButtonInline { display:inline-block; margin-top:0; }