﻿@charset "utf-8";
html{
    border: 0 none;
    height: 100%;
    margin: 0;
    max-height: 100%;
    padding: 0;
    width: 100%;
}
body {
	margin: 0 auto;
	min-height: 100%;
	width:100%;
	background-attachment: scroll;
	background-color: #f6eadf; 
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}/*MasterPage Body not LoginBody*/
body > #wrap{
	background-color: #f6eadf;
}
#wrap{
	background-color: #f6eadf;
}/*0725 套版後底色錯誤，被p好康的MasterPage.css的#wrap覆蓋*/
p {
    /*font-size: 1.3em;*/
    line-height: 22px;
}
.wrap {
    margin: 0 auto;
    width: 960px;
}
a {
	text-decoration: none;
	color: #fc7d49;
}
a:visited {
	text-decoration: none;
	color: #fc7d49;
}
a:link{
	text-decoration: none;
	color: #fc7d49;
}/*0725 被好康的MasterPage.css覆蓋，需要增加a:link*/
a:hover {
	text-decoration: underline;
	color: #fc7d49;
}
a:active {
	color: #fc7d49;
	text-decoration: none;
}

/*-----header-----*/
#PponLOGO {
	width: 350px;
	height: 99px;
	float: left;
	background: url(PiinLife_Ch.png) no-repeat;
	display: none;/*17life LOGO 不顯示*/
}
#PiinlifeLogo{
	display: block;
	width: 350px;
	height: 80px;
	margin: 20px 0 0 0;
	float: left;
}
/*Piinlife LOGO 顯示*/
#PiinlifeLogo svg{
	display: block;
	width: 350px;
	height: 80px;
	margin: 0px 0 0 0;
	float: left;
}/*0725*/
/*a.mc-menu-btn{ display: none;}隱藏 17life 手機選單鈕*/
.mc-menu-btn-17{ display: none;}/*隱藏 17life 手機選單鈕/**/
.mc-menu-btn_HD{display: none;}/*隱藏 piinlife 手機選單鈕*/
.mc-menu-btn_HDmenu{display: none;}/*隱藏 piinlife 手機選單鈕*/


.White{
	height: 30px;
	font-size: 13px;
	color: #333;
	text-align: right;
}
#Headermiddle {
	width: auto;
	height: 99px;
	margin: 0 auto;
	display: block;
	/*border: 1px solid transparent;*/
	background: url(HeaderBac.jpg) repeat;	
	/*margin-bottom: 10px;*/
}
#middle {
	width: 960px;
	height: 96px;
	margin: 0px auto;
	position: relative;
}
#EmailTitle {display: none;}

/*登入前*/
.LoginBox {
	width: 200px;
	text-align: right;
	float: right;
	margin: 30px 5px 0 0;/**/
}
#Login{
	width: 100%;/**/
	height: 36px;
	text-align: right;
	/*font-size: 16px;*/
	color: #fff;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
#Login img { vertical-align: middle; margin-right: 10px; border: none;}
#Login a{ line-height: 36px; vertical-align: middle;  color: #fff;}
#Login .member-name,#Login .rd-hide,#Login img{ display: none;}
a.rd-mc{display:inline-block; font-size: 12px;}

/*登入後*/
.LoginBoxAfter{
	width: 200px;
	text-align: right;
	float: right;
	margin: 130px 5px 0 0;
	display: none;
}
#LoginAfter{
	width: 100%;
	height: 30px;
	text-align: right;
	color: #fff;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
#LoginAfter img {display: none;}
#LoginAfter a,.MembernavList ul li a { line-height: 30px; vertical-align: middle;  color: #fff;}
.MembernavList{
	display: block;
	width: 100%;
	height: 30px;
	float: left;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
}
.MembernavList ul{ margin: 0; float: right;}
.MembernavList ul li{
	list-style: none;
	float: left;
	line-height: 30px;
	margin:0 0 0 10px;
}
.LoginBox a:hover,.LoginBoxAfter a:hover{ text-decoration: underline;}
.LoginBox ,.LoginBoxAfter { font-size: 12px;}
.member-name{ height: auto;}
/*-----header end----*/

/*Footer Start*/
.footer {
    font-size: 70%;
    line-height: 1.2em;
    text-align: center;
	color: #1C1C1C;
    font-family: "微軟正黑體";
    line-height: 1.6em;
    margin-bottom: 2em;
    margin-left: 100px;
    padding: 20px;
    width: 960px;
}
.footer_contact {
	float: left;
	padding: 10px 0 0 0;
	width: 650px;
}
.footer_contact a:link{
	text-decoration: none;
	color: #666;
	font-size: 1em;
}
.footer_contact a:visited{
	text-decoration: none;
	color: #666;
	font-size: 1em;
}
.footer_contact a:hover{
	text-decoration: underline;
	color: #666;
	font-size: 1em;
}
.footer_contact a:active{
	color: #666;
	text-decoration: none;
	font-size: 1em;
}
.footer_contact dt {
	float: left;
	font-size: 1em;
	line-height: 21px;
	width:71px;
	font-weight: normal;
	color: #666;
}
.footer_contact dt .space {
	margin-right: 11px;
}

.footer_contact dd{
	float: left;
	font-size: 1em;
	line-height: 21px;
	width:700px;
	margin-left: 0px;
	color: #999;
}
.footer_logo {
	/*float: right;*/
	/*padding: 10px 0;*/
	width: 300px;
	text-align: right;
	font-family: Arial, Helvetica;
	font-weight: normal;
}
.footer_logo a {
    color:#666;
    text-decoration:none;
}
.footer_logo a:hover {
    color:#666;
    text-decoration:underline;
}
.footer_logo a:active {
    color:#666;
    text-decoration:underline;
}
.footer_logo a:visited {
    color:#666;
    text-decoration:none;
}
.footer_logo dt {
	font-size: 1em;
	line-height: 21px;
	/*width:200px;*/
	padding-top:3px;
	font-weight: normal;
	color: #666;
}
.Line{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C8C8C8;
	clear: both;
	width: 960px;
	margin: 0 auto;
}
.Tips{
    color:#B37B53;	
}
.Pay_attention{
	color:#e12626;
	font-size:13px;
}
.Extra{
	color:#666666;
}
/*FooterEnd*/

/*LoginFooter*/

.LoginFooter{
	border-top: 1px solid #313232;
	color: #A9A9A9;
	background-color: #000;
	height:  40px;
	margin:  0px auto;
	padding: 0px 10px;
    position: relative;
    width: 100%;
    z-index: 5;
}
.LoginFooter ul {
    margin: 0;
    padding: 0;
}
.LoginFooter li {
	float: left;
    list-style: none outside none;
    margin: 0;
    padding: 10px 0 0 15px;
}
.LoginFooter li a:link{color:#A9A9A9;text-decoration: none;font-weight: normal;}
.LoginFooter li a:visited{color:#A9A9A9;text-decoration: none;font-weight: normal;}
.LoginFooter li a:hover{color:#A9A9A9; text-decoration: underline;font-weight: normal; }
.LoginFooter li a:active{color:#A9A9A9;text-decoration: none;font-weight: normal;}

.LoginFooter .LogoGroup {
    background: #000000;
    padding: 12px 0px 0 20px;
    right: 0;
    top: 0;
	float:left;
}
.Member_Right {
	width:80px;
	height:auto;
	z-index:2;
	float: right;
	margin-top: 22px;
}
.Visa_Header {
	width:126px;
	height:20px;
	z-index:2;
	color: #c8c8c8;
	margin-top: 20px;
	float: right;
}
.Visa_Header_Login {
	width:126px;
	height:20px;
	z-index:2;
	color: #c8c8c8;
	margin-top: 20px;
	float: right;
}
.TransactionBlock {
	width:240px;
	height:120px;
	margin:0 auto;
}

.p3footer span.visaTitle_rwd{ display: block;}/*品生活rwd專屬標語 17life不顯示*/
.p3footer span.visaTitle{ display: block;}/*品生活專屬標語 17life不顯示*/
.TP_twService{display: none;}
.p3footer .twService{display: none;}

.btn-primary{
background: #fc7d49; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZjN2Q0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2U4NjMyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNjRjMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #fc7d49 1%, #e8632d 44%, #d64c13 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fc7d49), color-stop(44%,#e8632d), color-stop(100%,#d64c13)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fc7d49 1%,#e8632d 44%,#d64c13 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fc7d49 1%,#e8632d 44%,#d64c13 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fc7d49 1%,#e8632d 44%,#d64c13 100%); /* IE10+ */
background: linear-gradient(to bottom, #fc7d49 1%,#e8632d 44%,#d64c13 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7d49', endColorstr='#d64c13',GradientType=0 ); /* IE6-8 */
}
.btn-primary:hover  {
  background: #fc7d49; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZjN2Q0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2RkNWMyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOTQ1MGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #fc7d49 1%, #dd5c26 44%, #c9450f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fc7d49), color-stop(44%,#dd5c26), color-stop(100%,#c9450f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fc7d49 1%,#dd5c26 44%,#c9450f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fc7d49 1%,#dd5c26 44%,#c9450f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fc7d49 1%,#dd5c26 44%,#c9450f 100%); /* IE10+ */
background: linear-gradient(to bottom, #fc7d49 1%,#dd5c26 44%,#c9450f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7d49', endColorstr='#c9450f',GradientType=0 ); /* IE6-8 */
}

.grui-form .warning-box { margin: 10px; line-height: 30px; text-align: center; color: #BF0000; border:0px solid #FFAAA0; border-radius: 5px; background: #D8C3B8; color: #432E1E }

.pay-evt .s-imp {
	font-size: 26px;
	color: #F70;
}
/**/
.mbe-menu{ display: none;}
.mbe-menu_HD,.mbe-menu_HD_show { display: none;}
.mbe-menu_HDmenu,.mbe-menu_HDmenu_show { display: none;}
#mbe-menu-slider {display: none;}/*17滑動選單隱藏*/
/*piinlife input focus */
.grui-form .form-unit .data-input textarea:focus,
.grui-form .form-unit .data-input input:focus,
.grui-form .form-unit .data-input select:focus,
.grui-form .form-unit .data-input select:focus{
	border-color: #F70;
}

.Pagination {
	margin: 10px auto 30px auto;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}
.Pagination a:link,
.Pagination a:hover,
.Pagination a:active,
.Pagination a:visited
 { color: #333 !important; }
.Pagination-arrow-previous {
	margin-right: 20px;
	padding-left: 20px; 
	background: url(../../../../Themes/default/images/17life/G2/Pagination_HD.png) 0 0 no-repeat;
}
.Pagination-arrow-previous:hover{
	background: url(../../../../Themes/default/images/17life/G2/Pagination_HD.png) 0 -70px no-repeat;
}
.Pagination-arrow-next {
	margin-right: 20px;
	padding-left: 20px;
	background: url(../../../../Themes/default/images/17life/G2/Pagination_HD.png) 0 -35px no-repeat;
}
.Pagination-arrow-next:hover{
	background: url(../../../../Themes/default/images/17life/G2/Pagination_HD.png) 0 -105px no-repeat;
}
.tag-note{ color: #F70; }
/*
.order-get-coupon-icon.c1 { background: url(get-coupon-icon_HD.png) 0 0 no-repeat; }
a.disabled .order-get-coupon-icon.c1 { color: #8F8F8F; text-decoration: none; background: url(get-coupon-icon_HD.png) -40px 0 no-repeat; }
.order-get-coupon-icon.c2 { background: url(get-coupon-icon_HD.png) -80px 0 no-repeat; }
a.disabled .order-get-coupon-icon.c2 { color: #8F8F8F; text-decoration: none; background: url(get-coupon-icon_HD.png) -120px 0 no-repeat; }
.order-get-coupon-icon.c3 { background: url(get-coupon-icon_HD.png) 0 -50px no-repeat; }
a.disabled .order-get-coupon-icon.c3 { color: #8F8F8F; text-decoration: none; background: url(get-coupon-icon_HD.png) -40px -50px no-repeat; }
.order-get-coupon-icon.c4 { background: url(get-coupon-icon_HD.png) -80px -50px no-repeat; }
a.disabled .order-get-coupon-icon.c4 { color: #8F8F8F; text-decoration: none; background: url(get-coupon-icon_HD.png) -120px -50px no-repeat; }
*/
/*forRWD版新增HTML web版需隱藏*/
.SingleProductSplit .mobile_btn { display: none;}/*line facebook 分享按鈕*/
.SingleProductSplit section.Main .Title .City .m-collect{display: none;}/*收藏按鈕*/
.SingleProductSplit aside.SideBarRight .Packages ul.SinglePackage li.desc .Cost_decoration{display: none;}/*折數與價錢*/
.Detail_tab_buttons_m{display: none;}/*商品介紹按鈕(RWD版)*/
.SingleProductSplit .Sidebar_item{ margin-bottom: 0;}

/*17life header新增 "填手機下載app"欄位*/
#Headermiddle .HeaderPhone{display: none;}/*填手機收簡訊下載*/
.LoginBoxAfter{ margin-top: 30px;}

#navi{ display: none;}/*0725 品生活Header 需要隱藏*/
.LikeArea{ background-image: none;} /*0725 移除.LikeArea的background-image*/

/*17life 全新上線功能隱藏*/
.joyride-tip-guide,.joyride-modal-bg{display: none;}
#joyRideTipContent{display: none;}

/*.Detail_info img{ max-width: none;}0822 品生活內頁 圖片寬度bug*/

/*共用Header修改20141121--Alan*/
.function-menu-bar a { color: #333; text-decoration: none;}
.funtion-menu-block { color: #333;}
.slide-bn-block { background: none;}
.slide-bn-block { overflow: inherit;} /*解bug: 17網址後方加#id，狀態列高度異常產生之pinlife跑版問題 20150630 by stan*/
.slide-bn-block:before, .slide-bn-block:after, .prev, .next, .slideBox2 .hd, .slide-bn-area { display: none;}