﻿@charset "utf-8";
html{
    border: 0 none;
    height: 100%;
    margin: 0;
    max-height: 100%;
    padding: 0;
    width: 100%;
}
body {
	margin: 0 auto;
	min-height: 100%;
	width:100%;
	background-attachment: scroll;
	background-color: #f6eadf; 
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}/*MasterPage Body not LoginBody*/

p {
    font-size: 1.3em;
    line-height: 22px;
}
.wrap {
    margin: 0 auto;
    width: 960px;
}
a {
	text-decoration: none;
	color: #fc7d49;
}
a:visited {
	text-decoration: none;
	color: #fc7d49;
}
a:hover {
	text-decoration: underline;
	color: #fc7d49;
}
a:active {
	color: #fc7d49;
	text-decoration: none;
}
.header {
    background: url("HeaderBac.jpg") repeat;
    border: 1px solid transparent;
    height:99px;
    margin-bottom: 10px;
    position: relative;
}
.header_center {
	width:960px;
	height: 99px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	z-index: 1000;
	position: relative;
}
.header a:link{color:#C8C8C8;text-decoration: none;font-weight: normal;}
.header a:visited{color:#C8C8C8;text-decoration: none;font-weight: normal;}
.header a:hover{color:#C8C8C8; text-decoration: underline;font-weight: normal; }
.header a:active{color:#C8C8C8;text-decoration: none;font-weight: normal;}

#logo {
	display: block;
	height: 99px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-indent: -9999px;
	width: 350px;
	float: left;
}
.logo_bg {
	background-image:url(PiinLife_Ch.png);
}

/*City Select Start*/

.header .city_picker {
	/*	width: 90px;*/
	position: absolute;
	width: 108px;
	margin-left: 350px;
/*	background-image: url(City_bg.png);*/
	height: 45px;
	margin-top: 52px;
}
.header .city_picker_none {
	/*	width: 90px;*/
	position: absolute;
	width: 108px;
	margin-left: 247px;
	height: 45px;
	margin-top: 52px;
}
.header .current_city {
	height: 26px;
	width: 62px;
	display:block;
	float: left;
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}
.header .city_arrow {
	display: none;
	height:26px;
	display:block;
	width:16px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(Current_City_arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	float: right;
	padding-right: 12px;
}

.header .city_picker .city_selector {
	display: none;
	margin-top: 42px;
	padding: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position: left top;
	opacity:0.95;
	margin-left: 0px;
	height: auto;
	background-image: url(City_bg.png);
}

.header .city_picker .cities {
	padding: 0px;
}

.header .city_picker .city_selector ul {
    list-style: none outside none;
	margin: 0;
}
.header .city_picker li {
	display: list-item;
	width: 108px;
}
.header .city_picker li:hover {   
   background: #8E705B;
}
.header .city_picker .city:first-child:before {
   /* background: none repeat scroll 0 0 #414141;*/
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.header .city{
  	width:100px;
	
}
.header .city_picker .city a {
	color: #AAAAAA;
	display: block;
	font-size: 13px;
	width: 98px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 10px;
}
.header .city_picker .city:hover a {
	color: #FFFFFF;
	text-decoration: none;
}
/*City Select Start*/

.header .MembernavGroup{
	width:200px;
	float: right;
	height: auto;
}
.header .Membernav{
	left: 0px;
	top: 0px;
	float: right;
	width: 80px;
}
.header .MembernavLogin{
	left: 0px;
	top: 0px;
	float: right;
	width: 180px;
	margin-top: 9px;
	text-align: right;
	color:#C8C8C8;
}
.header .Membernav a.Personal_nav {
    color: #C8C8C8;
    float: right;
    margin-left: 11px;
    padding-top: 8px;
	text-decoration: none;
}
.header .Membernav a.Personal_nav:hover {
	text-decoration:underline;
}
.header ul{
	width: 198px;
}
.header ul.MembernavList{
	width: 198px;
	list-style-type: none;
	letter-spacing:0.5px;
	float: right;
	padding: 0px;
	text-align: right;
	margin: 0px;
	clear: both;
	
}
.header ul li{
	list-style-type: none;
	margin: 0px;
	float: left;
	width: 66px;
}
/*Footer Start*/

.footer {
    font-size: 70%;
    line-height: 1.2em;
    text-align: center;
	color: #1C1C1C;
    font-family: "微軟正黑體";
    line-height: 1.6em;
    margin-bottom: 2em;
    margin-left: 100px;
    padding: 20px;
    width: 960px;
}
.footer_contact {
	float: left;
	padding: 10px 0 0 0;
	width: 650px;
}
.footer_contact a:link{
	text-decoration: none;
	color: #666;
	font-size: 1em;
}
.footer_contact a:visited{
	text-decoration: none;
	color: #666;
	font-size: 1em;
}
.footer_contact a:hover{
	text-decoration: underline;
	color: #666;
	font-size: 1em;
}
.footer_contact a:active{
	color: #666;
	text-decoration: none;
	font-size: 1em;
}
.footer_contact dt {
	float: left;
	font-size: 1em;
	line-height: 21px;
	width:71px;
	font-weight: normal;
	color: #666;
}
.footer_contact dt .space {
	margin-right: 11px;
}

.footer_contact dd{
	float: left;
	font-size: 1em;
	line-height: 21px;
	width:700px;
	margin-left: 0px;
	color: #999;
}
.footer_logo {
	float: right;
	padding: 10px 0;
	width: 300px;
	text-align: right;
	font-family: Arial, Helvetica;
	font-weight: normal;
}
.footer_logo a {
    color:#666;
    text-decoration:none;
}
.footer_logo a:hover {
    color:#666;
    text-decoration:underline;
}
.footer_logo a:active {
    color:#666;
    text-decoration:underline;
}
.footer_logo a:visited {
    color:#666;
    text-decoration:none;
}
.footer_logo dt {
	font-size: 1em;
	line-height: 21px;
	/*width:200px;*/
	padding-top:3px;
	font-weight: normal;
	color: #666;
}
.Line{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C8C8C8;
	clear: both;
	width: 960px;
	margin: 0 auto;
}
.Tips{
    color:#B37B53;	
}
.Pay_attention{
	color:#e12626;
	font-size:13px;
}
.Extra{
	color:#666666;
}
/*FooterEnd*/

/*LoginFooter*/

.LoginFooter{
	border-top: 1px solid #313232;
	color: #A9A9A9;
	background-color: #000;
	height:  40px;
	margin:  0px auto;
	padding: 0px 10px;
    position: relative;
    width: 100%;
    z-index: 5;
}
.LoginFooter ul {
    margin: 0;
    padding: 0;
}
.LoginFooter li {
	float: left;
    list-style: none outside none;
    margin: 0;
    padding: 10px 0 0 15px;
}
.LoginFooter li a:link{color:#A9A9A9;text-decoration: none;font-weight: normal;}
.LoginFooter li a:visited{color:#A9A9A9;text-decoration: none;font-weight: normal;}
.LoginFooter li a:hover{color:#A9A9A9; text-decoration: underline;font-weight: normal; }
.LoginFooter li a:active{color:#A9A9A9;text-decoration: none;font-weight: normal;}

.LoginFooter .LogoGroup {
    background: #000000;
    padding: 12px 0px 0 20px;
    right: 0;
    top: 0;
	float:left;
}
.Member_Right {
	width:80px;
	height:auto;
	z-index:2;
	float: right;
	margin-top: 22px;
}
.Visa_Header {
	width:126px;
	height:20px;
	z-index:2;
	color: #c8c8c8;
	margin-top: 20px;
	float: right;
}
.Visa_Header_Login {
	width:126px;
	height:20px;
	z-index:2;
	color: #c8c8c8;
	margin-top: 20px;
	float: right;
}
.TransactionBlock {
	width:240px;
	height:120px;
	margin:0 auto;
}
