﻿@charset "utf-8";
img { height: auto; max-width: 100%; border: none\9; }
/*圖標字體化*/
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
    content: "\f007";
}
.icon-clock-o:before {
    content: "\f017";
}
.icon-chevron-up:before {
    content: "\f077";
}
.icon-chevron-down:before {
    content: "\f078";
}
.icon-filter:before {
    content: "\f0b0";
}
#maincontent {
	width: 700px;
	height: auto;
	margin-bottom: 15px;
}
#maincontent .forsdeal, #maincontent .content-group, #Entry {
	width: 696px;
	height: auto;
	margin-bottom: 15px;
	border: 2px solid #CCC;
	background: #FFF;
}
.dealtitle_box {
	width: 666px;
	padding: 10px 15px 3px 15px;
}
.Maindeal {
	width: 696px;
	height: auto;
	background: #FFF;
	padding: 10px 0;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);
}
.MaindealTitle {
	width: 660px;
	height: auto;
	margin: 0px auto;
	font-size: 20px;
	font-weight: normal;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	color: #F60;
	text-decoration: none;
}
.MaindealTitle a { color:#F60; text-decoration: none; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; font-weight: normal; }
.MaindealTitle a:hover { text-decoration: underline; }

.MainDealCityTitle {
	width: auto;
	height: 33px;
	float: left;
	font-size: 24px;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	color: #333;
	text-decoration: none;
	margin-right: 5px;
}
.MainDealProductName a { color:#333; text-decoration: none; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; font-weight: normal; }
.MainDealProductName a:hover { text-decoration: underline; }
.MaindealMiddle {
	width: 696px;
	height: auto;
	margin: 5px 0 0 0;
	padding-bottom: 5px;
}
#Container{
	height: auto;
}
#Container2{
	height: auto;
	overflow: hidden;
}
#MainPic {
	width: 480px;
	height: 267px;
	float: left;
	position: relative;
	margin-left: 10px;
	border: 5px solid #EEE;
	background: url(ppon-M1_pic.jpg) no-repeat center;
	background-size: cover;
}
#MainPic:hover { border: 5px solid #E7E7E7; }
#MainPic.picforsdeal span img { width: 480px; }
#MainPic.picforsdeal:hover { }
/*#MainPic img { width:480px; }*/
.DealPriceInfo {
	 width: 196px;
	 height: 275px;
	 float: right;
	 position: relative;
	 font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	 background: #FAFAF7;
	 border-top: 1px solid #EEE;
	 border-bottom: 1px solid #EEE;
}
.DealPriceInfo p.dealpricetext { padding-left: 10px; color: #999; font: 14px/32px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; }
.DealPriceInfo p.dealpricetext.fordeallist { line-height: 28px; }
.DealPriceInfo p.dealprice { padding-left: 10px; color: #BF0000; font: 36px/40px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; letter-spacing:-1px; }
.DealPriceInfo p.dealsaletext { padding-left: 10px; color: #999; font: 12px/32px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; }
.DealPriceInfo p.dealsaletext.fordeallist { line-height: 28px; }
.DealPriceInfo .oriprice { text-decoration: line-through; }
.DealPriceInfo .discount { 
	width: 62px; 
	height: 65px; 
	position: absolute; 
	top: -8px; 
	right: -8px; 
	font: 22px/60px "Arial Bold", "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	text-align: center;
	color: #FFF; 
	background: url(../images/newdealdetail.png) -220px 0 no-repeat; 
	}
.DealPriceInfo .smalltext, .m-priceZone .smalltext { font: 16px/20px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; }
.DealPriceInfo .buy_btn_box { width: 209px; height: 85px; background: url(../images/newdealdetail.png) no-repeat; }
.DealPriceInfo .buy_btn,  .m-priceInfo .buy_btn{
	width: 140px;
	height: 52px;
	margin-left: 12px;
	display: block;
	padding-top: 18px;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-size: 28px;
	font-weight: bold; 
	text-align: center;
	letter-spacing: -2px;
	color: #FFF; 
	text-decoration: none;
	cursor: pointer;
}
.DealPriceInfo .buycounter { 
	width: 175px;
	margin: 5px 0 0 8px;
	font: 14px/26px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; 
}
.DealPriceInfo .buycounter .icon-user {
	padding-left: 4px;
	padding-right: 8px;
	font-size: 18px;
}
.DealPriceInfo .buycounter.nondeal {
	width: 180px;
	padding-left: 0px; 
	background: none; 
}
.DealPriceInfo .buycounter .people { font-size: 16px; font-weight: bold; color: #BF0000; margin: 0 2px; }
.info_bar { width: 696px; height: 30px; margin-top: 10px; background: #E7E7E0; }
.share { height: 30px; width: 140px;margin: 0 auto;text-align: center; font: 14px/30px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; color: #333; }
.share .share_text { height: 30px; float: left; line-height: 33px; }
.bigtext { font-size: 16px; font-weight: bold; }
.share .share_btn_box { height: 30px; float: left; padding-left: 22px; background: url(../images/newdealdetail.png) -470px -45px no-repeat; }
.share .fb_btn { width: 20px; height: 20px; margin: 6px 1px 0 1px; display: inline-block; background: url(../images/newdealdetail.png) -290px -30px no-repeat; }
.share .fb_btn:hover { background: url(../images/newdealdetail.png) -290px -55px no-repeat; }
.share .line_btn { width: 20px; height: 20px; margin: 6px 1px 0 1px; display:none; background: url(../images/newdealdetail.png) -314px -30px no-repeat; }
.share .line_btn:hover { background: url(../images/newdealdetail.png) -314px -55px no-repeat; }
.share .link_btn { width: 78px; height: 20px; margin: 6px 1px 0 1px; display:inline-block; background: url(../images/newdealdetail.png) -339px -30px no-repeat; }
.share .link_btn:hover { background: url(../images/newdealdetail.png) -339px -55px no-repeat; }
.pad_share .share_text { height: 30px; float: left; line-height: 33px; }
.pad_share .share_btn_box { height: 30px; float: left; padding-left: 22px; background: url(../images/newdealdetail.png) -470px -45px no-repeat; }
.pad_share .fb_btn { width: 20px; height: 20px; margin: 6px 1px 0 1px; display: inline-block; background: url(../images/newdealdetail.png) -290px -30px no-repeat; }
.pad_share .fb_btn:hover { background: url(../images/newdealdetail.png) -290px -55px no-repeat; }
.pad_share .line_btn { width: 20px; height: 20px; margin: 6px 1px 0 1px; display:none; background: url(../images/newdealdetail.png) -314px -30px no-repeat; }
.pad_share .line_btn:hover { background: url(../images/newdealdetail.png) -314px -55px no-repeat; }
.pad_share .link_btn { width: 78px; height: 20px; margin: 6px 1px 0 1px; display:inline-block; background: url(../images/newdealdetail.png) -339px -30px no-repeat; }
.pad_share .link_btn:hover { background: url(../images/newdealdetail.png) -339px -55px no-repeat; }
.web_share .share_text { height: 30px; float: left; line-height: 33px; }
.web_share .share_btn_box { height: 30px; float: left; padding-left: 22px; background: url(../images/newdealdetail.png) -470px -45px no-repeat; }
.web_share .fb_btn { width: 20px; height: 20px; margin: 6px 1px 0 1px; display: inline-block; background: url(../images/newdealdetail.png) -290px -30px no-repeat; }
.web_share .fb_btn:hover { background: url(../images/newdealdetail.png) -290px -55px no-repeat; }
.web_share .line_btn { width: 20px; height: 20px; margin: 6px 1px 0 1px; display:none; background: url(../images/newdealdetail.png) -314px -30px no-repeat; }
.web_share .line_btn:hover { background: url(../images/newdealdetail.png) -314px -55px no-repeat; }
.web_share .link_btn { width: 78px; height: 20px; margin: 6px 1px 0 1px; display:inline-block; background: url(../images/newdealdetail.png) -339px -30px no-repeat; }
.web_share .link_btn:hover { background: url(../images/newdealdetail.png) -339px -55px no-repeat; }
.payment_state { height: 30px; float: right; padding-right: 10px; }
.payment_state .creditcard { width: 148px; height: 30px; float: right; margin-left: -30px; background:url(../images/newdealdetail.png) -290px 5px no-repeat; }
.payment_state .atm { width:33px; height:30px; float:right; margin-left:10px; background:url(../images/newdealdetail.png) -512px 5px no-repeat; }
#MaindealMiddleRight {
	width:246px;
	height:auto;
	float: right;
}
*html #MaindealMiddleRight {
	_width:240px;
	height:auto;
	float: right;
	position: relative;
	_margin-left: 140px;
	_left:80px;
}
/*2013Layout!!*/
.m-deal{display: none;}
#Entry img, #Entry embed, #Entry object, #Entry video { max-width:100%; }
#EntryContent {
	width:656px;
	height:auto;
	padding:20px;
}
.EntryTitle {
	width: auto; 
	height: auto; 
	margin-bottom: 10px;
	font-size: 20px; 
	color: #BF0000; 
	border-bottom: 1px solid #BF0000;
}
.EntryTitle a {
	color: #BF0000;
	cursor: default;
}
.EntryTitle a:hover {
	color: #BF0000;
	text-decoration: none;
}
#DialogTop.EntryTitle {
	margin-bottom: 0;
	border-bottom: none;
}
.lineview-buy {display: none;}
#Detailinner {
	width:580px;
	height:auto;
	font-size: 15px;
	margin-bottom:50px;
}
#Detailinner .h1_title { font:16px/32px bold Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; }
#Detailinner.Equity { width:570px; padding-left:10px; font-size: 14px; border-left:5px solid #FFCCBF; }
.Equitylink { width:635px; margin:-25px 15px 30px 15px; }
.Equitylink a { font-size:14px; color:#08C; }
.Equitylink ul { list-style: none; color: #08C; }
.Equitylink ul li.rule { margin: 5px 0; padding-left: 25px; background: url(rule_shop_icon.png) 0 0 no-repeat; }
.Equitylink ul li.shop { margin: 5px 0; padding-left: 25px; background: url(rule_shop_icon.png) 0 -50px no-repeat; }
#Detailinner ul, #Detailinner li { margin: 0; padding: 0; list-style: none; }
.Detail_buy_box { width: 650px; height: 70px; margin: 30px 0; border-top: 1px solid #FFCCBF; border-bottom: 1px solid #FFCCBF; background: #FAFAF5; }
.Detail_buy_box .price { float: left; padding-left: 20px; font: 16px/70px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; }
.Detail_buy_box .price .bigprice { padding-left: 20px; font: 24px/70px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; color: #BF0000; }
.Detail_buy_box .price .redtext { color: #BF0000; }
.Detail_buy_box .buy_btn {
	width: 120px;
	height: 60px;
	margin-left: 200px;
	display: block;
	padding-top: 18px;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-size: 24px;
	font-weight: bold; 
	text-align: center;
	color: #FFF; 
	text-decoration: none;
	cursor: pointer;
}
.Detail_buy_box .btn_normal { width: 120px; height: 60px; margin-left: 200px; display: inline-block; background: url(../images/newdealdetail.png) -480px -89px no-repeat; }
.Detail_buy_box .btn_normal:hover { background: url(../images/newdealdetail.png) -610px -89px no-repeat; }
.Detail_buy_box .btn_dontclick { width: 120px; height: 60px; margin-left: 200px; display: inline-block; background: url(../images/newdealdetail.png) -740px -90px no-repeat; cursor:default; }
#Dialog {
	width: 650px;
	height: auto;
}
#Dialoginner a {color: #000; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif; text-decoration: none; }
#Dialoginner a:hover { color: #000; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;  text-decoration: underline; }
#DialogTop {
	width: 650px;
	height: 109px;
	font-size: 20px;
	color: #BF0000;
	line-height: 80px;
	background: url(ppon-M1-dialog-top.jpg) no-repeat;
}
#Dialoginner {
	width: 610px;
	height: auto;
	background: url(ppon-M1-dialogcontent.jpg) repeat-y;
	padding: 0 20px;
	font-size: 14px;
	word-wrap: break-word;
	}
#DialogBottom {
	width: 650px;
	height: 20px;
	background: url(ppon-M1-dialogbottom.jpg) no-repeat;
	margin-bottom: 50px;
}
#EntryContentRight {
	width: 196px;
	height: auto;
	float: right;
	padding-right: 8px;
	padding-left: 8px;
}
#AddressTitle {
	width: 600px;
	height: auto;
	padding-left: 20px;
	color: #BF0000;
	font-size: 24px;
}
#Addressinner {
	width: 600px;
	height: auto;
	padding-left: 30px;
	word-break: break-all;
	word-wrap: break-word;
}
#Addressinner .map_btn { width: 36px; height: 20px; display: inline-block; margin-left: 5px; text-indent: -9999px; background: url(../images/newdealdetail.png) -420px -30px no-repeat; }
#Addressinner .map_btn:hover { background: url(../images/newdealdetail.png) -420px -55px no-repeat; }
#Addressinner #map img { max-width: none !important; }
#Addressinner table { width: 100%; }
#Addressinner ul {
	font-size: 14px;
	color: #333;
	font-family: "Arial Black", Gadget, sans-serif;
}
#Addressinner li {
	list-style-type: disc;
	list-style-position: inside;
}
#Rightarea {
	width: 240px;
	height: auto;
	float: right;
	position: relative;
}
#Left {
	width: 710px;
	height: auto;
	float: left;
}

.sidedealbox {
	width: 220px;
	height: auto;
	padding-top: 10px;
	font-size: 12px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #333;
	overflow: hidden;
}
.sidedealbox a { color: #333; font-family: "Arial Black", Gadget, sans-serif; text-decoration: none; }
.sidedealbox a:hover{ text-decoration: underline; }

.siededeal_priceIMG {
	width: 220px;
	margin: 10px auto 0px auto;
}
.sidedealpricearea {
	width: 220px;
	height: auto;
	margin: 5px 0;
}
.sidedealprice {
	height: 28px;
	font: 18px/28px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333;
	margin-left: 10px;
	text-align: left;
	float:left;
}
.sidedealDiscount {
	width: 53px;
	height: 28px;
	padding-left: 5px;
	float: left;
	font: 16px/28px Arial, Helvetica, sans-serif;
	color: #BF0000;
	border-right: 1px solid #BF0000;
}
.sidedealbuybtn {
	width: 51px;
	height: 28px;
	margin: 0 auto;
	float: right;
	display: block;
	text-indent: -9999px;
	background: url(../images/ppon-M1-sidedealbtn.jpg) no-repeat;
}
.sidedealbuybtn:hover {
	background: url(../images/ppon-M1-sidedealbtnHov.jpg) no-repeat;
	border: 0;
}
#sidedealimg {
	width: 210px;
	height: 118px;
	z-index: 4;
	position: relative;
	border: 5px solid #F2F2F0;
}
#sidedeall_hr {
	width: 238px;
	height: 8px;
	background: url(../images/ppon-M1-sidedealline.jpg) no-repeat;
	clear: both;
	position: relative;
	margin: 5px 0 5px -10px;
}

.ShopBtn {
	width: 110px;
	height: 46px;
	margin: 0px auto;
	display: block;
	text-indent: -9999px;
	background: url(../images/ppon-M1-shopbn.jpg) no-repeat;
}
.ShopBtn:hover {
	background: url(../images/ppon-M1-shopbnHov.jpg) no-repeat;
	border: 0;
}
#ShopinnerIMG {
	font-size: 14px;
	color: #BF0000;
	text-align: center;
	line-height: 28px;
}

#MaindealFacebookarea {
	width: 655px;
	height: auto;
	margin-bottom: 10px;
	padding-left: 10px;
	background-color: #F7F7F0;
	font-size: 14px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #666;
}
#Referral {
	width: 600px;
	height: auto;
	background: #f6eadf;
	border-radius: 10px;
	padding: 15px;
	border: 5px solid #4b3d32;
	box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);
}

/*2013nivoslider!!*/
#slider {
    position: relative;
    width: 480px;
    height: 267px;
}
#slider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.nivo-controlNav {
	position: absolute;
	bottom: 0px;
}
.nivo-controlNav a {
	display: block;
	width: 17px;
	height: 17px;
	background: url(slider_bullets.png) no-repeat;
	text-indent: -9999px;
	border: 0;
	margin-right: 3px;
	margin-bottom: 5px;
	float: left;
}
.nivo-controlNav a.active {
	background-position: 0 -22px;
}
.nivo-directionNav a {
	display: block;
	width: 30px;
	height: 30px;
	background: url(silder_arrows.png) no-repeat;
	text-indent: -9999px;
	border: 0;
}
a.nivo-nextNav {
	background-position: -30px 0;
	right: 15px;
}
a.nivo-prevNav {
	left: 15px;
}
.nivoSlider {
	position: relative;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
}
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 0;
	height: 100%;
}
.nivo-directionNav a {
	position: absolute;
	top: 45%;
	z-index: 99;
	cursor: pointer;
}
.nivo-controlNav a {
	position: relative;
	z-index: 99;
	cursor: pointer;
}
.nivo-controlNav a.active {
	font-weight: bold;
}
/*!!*/
.MainDealProductName {
	width: 665px;
	height: auto;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-size: 20px;
}
/*2013New Layout!!*/
.MainDealCityTitleLeft {
	height: 33px;
	width: 6px;
	float: left;
	background: url(ppopTittleBG_01.png) no-repeat;
}
.MainDealCityTitleCen {
	background: url(ppopTittleBG_02.png) repeat-x;
	float: left;
	height: 33px;
	font: 20px/30px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-weight: bold;
	color: #FFF;	
	padding-left: 5px;
	padding-right: 5px;
}
.MainDealCityTitleRight {
	background: url(ppopTittleBG_03.png) no-repeat;
	float: left;
	height: 33px;
	width: 16px;
}

/*20110915_PopLogin_ny_TouNeko*/

.PopLogin {
	width: 700px;
	height: 330px;
	position: relative;
	margin: auto;
	background: url(../images/PopLoginBG.png) no-repeat;
	font: 20px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-weight: bold;
	color: #4B2C12;
}
.PopLoginClose {
	float: right;
	height: 35px;
	width: 35px;
	position: relative;
	top: -10px;
	right: 20px;
	margin-bottom: -6px;
}
.PopLogin .Title {
	width: 600px;
	margin: 0 50px;
	border-bottom: 1px dashed #4B2C12;
	float: left;
}
.PopLogin .TitleText {
	float: left;
}
.PopLogin .SignUp {
	float: right;
}
.PopLogin .IDSelect {
	width: 620px;
	padding: 35px 45px;
	float: left;
}
.PopLogin #M17LifeLogin {
	width: 185px;
	height: 95px;
	margin: 10px;
	background: url(../images/17LI_B.png) no-repeat;
	display: block;
	float: left;
}
.PopLogin #M17LifeLogin:hover {
	background: url(../images/17LI_TB.png) no-repeat;
	border: 0;
}
.PopLogin #FBLogin {
	width: 185px;
	height: 95px;
	margin: 10px;
	background: url(../images/FBLI_B.png) no-repeat;
	display: block;
	float: left;
}
.PopLogin #FBLogin:hover {
	background: url(../images/FBLI_TB.png) no-repeat;
	border: 0;
}
.PopLogin #PEZLogin {
	width: 185px;
	height: 95px;
	margin: 10px;
	background: url(../images/PEZLI_B.png) no-repeat;
	display: block;
	float: left;
}
.PopLogin #PEZLogin:hover {
	background: url(../images/PEZLI_TB.png) no-repeat;
	border: 0;
}
.HelpText {
	font-size: 14px;
	text-align: center;
	width: 185px;
	margin: 5px 10px;
	float: left;
}

.ATMChooseArea {
	width: 231px;
	margin-top: -7px;
	margin-bottom: 7px;
	font-weight: bold;
	color: #000;
	background-color: #F7F7F0;
	border: 1px solid #CCC;
	margin-left: 1px;
}

.Over1K_Badge {
	width: 105px;
	height: 105px;
	z-index: 5;
	background-image: url(../images/over1k.png);
	position: absolute;
	top: -10px;
	left: -10px;
}
.Over1K_SS_Badge {
	width: 60px;
	height: 60px;
	z-index: 5;
	background-image: url(../images/over1k_SS.png);
	position: absolute;
	top: -5px;
	left: -5px;
}
/*2013New DealTimer*/
.TimerTitleField {
	width: 185px;
	height: 30px;
	margin: 5px 0 0 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #FFCCBF;
}
.TimerTitleField.forlist { margin-top: 0px; }
.TimerTitleField .icon-clock-o {
	margin: 10px 6px auto 7px;
	float: left;
	font-size: 18px;
}
#TimeropenTitle {
	float: left;
	margin-top: 12px;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}
.TimeDayCounter {
	height: 23px;
	float: left;
	font-size: 12px;
	color: #CCC;
	margin: 6px auto auto 0px;
}
#TimerField {
	height: 28px;
	float: left;
	margin-top: 5px;
}
.TimeConUnit {
	float: left;
	font-size: 13px;
	line-height: 28px;
	}
.TimeConDigit {
    width: 24px;
	text-align: right;
	float: left;
	font-size: 20px;
	line-height: 28px;
	margin: 0 1px auto 1px;
	}
.TimeConMiniDigit {
	height: 28px;
	float: left;
	font-size: 24px;
	line-height: 28px;
	color: #FF6637;
	border-left: 1px solid #CEBB95;
	margin-left: 3px;
	padding-left: 4px;
	}
/*---Multi-grade-Setting & Pop-Window---*/
.Multi-grade-Setting, .pop-window {
	width: 700px;
	position: relative;
	border: 10px solid #fff;
	background: #F7F7F7;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	padding-bottom: 15px;
}

.Multi-grade-Setting .mgs-boxtitle {
	width: 100%;
	height: auto;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	margin: 0px auto 24px auto;
	background: #e4e3e3; 
	color: #bf0000;
}
.Multi-grade-Setting .mgs-item-box {
	width: 95%;
	margin:10px auto;
	padding: 0;
	border: 1px solid #6e6e6e;
	cursor: pointer;
	background: #F7F7F7;
   
}
.Multi-grade-Setting .mgs-item-box:hover {
	border: 1px solid #bf0000;
}
.Multi-grade-Setting .mgs-SoldOut {
    width: 100%;
    height: 100%;
	padding: 0;
	background: #dadada;
	cursor: no-drop;
	color:#6E6E6E;   
}


.Multi-grade-Setting .mgs-item-box .mgs-discount {
	width: 60px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color:#BF0000;
	background: #EBDDC7;
}
.Multi-grade-Setting .mgs-item-box .mgs-content {
	width: 545px;
	padding: 5px 12px 5px 6px;
	float: left;
}
.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-title {
	font-size: 16px;
	height: 24px;
	text-align: left;
	overflow: hidden;
}
.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-state {
	font-size: 13px;
	height: 20px;
}
.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-state .mgs-sale {
	float: left;
	margin-right:10px; 
	color: #999;
}
.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-state .mgs-buyer {
	float: right;
	color: #999999;
	margin-left: 10px;
}
.Multi-grade-Setting .mgs-item-box .mgs-content .mgs-item-state .mgs-brcolor-org{ 
    float: right;
	color: #f60;
    margin-left: 10px;
}
.mgs-s-T{ width: auto; font-size: 15px; margin: 2px 5px 0 0 ; color: #000;}

.Multi-grade-Setting .mgs-item-box .mgs-price-box {
	width: 74px;
	float: right;
	text-align: right;
	margin: 0 0 2px 0;
	padding-right: 7px;
}
.mgs-price {
	color: #BF0000; margin-top: 2px; line-height: 48px; font-size: 19px;
}
.Multi-grade-Setting .mgs-item-box .mgs-buy-box {
	width: 70px;
	vertical-align: middle;
	text-align: center;
	float: right;
}

.sot-Grey{ color: #6E6E6E!important; }

.Multi-grade-Setting .mgs-total-amount {
	margin: 25px;
	font-size: 13px;
}
.pop-window .pop-content, .share-popW .share-popZone {
	padding: 15px;
}
.pop-window .pop-content h1 {
	font-size: 20px;
	line-height: 30px;
}
.pop-window .pop-content hr {
	border: none;
	border-bottom: 1px solid #CCC;
}
.pop-window .pop-content p, .share-popZone p {
	margin: 10px 0;
	font-size: 15px;
}
.pop-window .pop-content p.important {
	font-size: 24px;
	font-weight: bold;
}
.pop-window .pop-content .highlight {
	color:#F60;
}
.pop-window .pop-content p.error {
	color:#BF0000;
}
.pop-window .pop-content p a {
	color:#08C;
}
.pop-window .pop-content ul { 
	margin-left: 25px; 
	margin-bottom: 10px;
	list-style: decimal;
	font-size: 15px; 
}
.pop-window .pop-content input[type="text"] { width: 70%; }
.MGS-XX, .share-popX {
	background: url(A2-Multi-grade-Setting_xx.png);
	height: 28px;
	width: 27px;
	position: absolute;
	top: -24px;
	right: -25px;
	z-index: 800;
	cursor: pointer;
}
.MGS-XX input { display: none; }

.PriceUnderText {
	font: 19px/25px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-weight: normal;
	color: #000;
	height: 25px;
	width: 42px;
	letter-spacing: 0em;
	text-indent: 6px;
	text-align: left;
	margin-top: 15px;
}
.PriceBeforeTheText{
	font-size: 0.85em;
	color: #FFF;
	margin-right: -2px;
}
#DiscountPrice-Multi {
	width: 233px;
	height: 36px;
	text-align: center;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	margin-right: 0px;
	padding-top: 3px;
	background-color: #F7F7F0;
	border: 1px solid #CCC;
}
.Price-Multi {
	font-size: 3em;
	color: #000;
	line-height: 67px;
	height: 70px;
	text-align: right;
	padding-right: 11px;
}
/*---Multi-grade-Setting---*/

.MaindealClosed {
	width: 645px;
	height: auto;
	margin: 10px 0;
	padding: 0 10px;
	background-color: #E3E3E3;
	font-size: 12px;
	color: #000;
	line-height: 20px;
}
.MaindealClosed a:hover { color:#F60; }
.MaindealClosed a:active { color:#F60; }
.MaiClBlue {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #00F;
}
.MaiClBlue a { color: #00F; text-decoration: underline; font-weight: normal; }
.MaiClRed {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #F00;
}

/*----HaokangList----*/
.HaokangList {
	width: 700px;
	height: auto;
	clear: left;
	margin-bottom: 20px;
}
/*2013New Layout*/
.HKL_MaindealTitle {
	width: 670px;
	height: auto;
	margin: 2px auto 0 auto;
	font: 16px/20px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-weight: normal;
	color: #F60;
	text-decoration: none;
}
.HKL_MaindealTitle a { color: #F60; text-decoration: none; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif; font-weight: normal; }
.HKL_MainDealProductName {
	width: 667px;
	height: auto;
	margin: 0px auto 0px 10px;
	padding-bottom: 15px;
	padding-top: 3px;
	font: 16px/20px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-weight: normal;
}
.HKL_MainDealProductName a,.HKL_MainDealAppName a { color: #333; text-decoration: none; font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif; font-weight: normal; }
.HKL_MainDealCityTitle {
	width: auto;
	height: 33px;
	font-size: 24px;
	float: left;
	margin: 5px 5px auto 10px;
	color: #333;
	text-decoration: none;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-weight: normal;
	float: left;
}
.HKL_MainDealCityTitleLeft {
	background: url(ppopTittleBG_01.png) no-repeat;
	float: left;
	height: 33px;
	width: 6px;
}
.HKL_MainDealCityTitleCen {
	background: url(ppopTittleBG_02.png) repeat-x;
	float: left;
	height: 33px;
	font: 20px/30px Arial, "微軟正黑體", "Microsoft Jhenghei",  sans-serif;
	font-weight: bold;
	color: #FFF;
	padding-left: 5px;
	padding-right: 5px;
}
.HKL_MainDealCityTitleRight {
	background: url(ppopTittleBG_03.png) no-repeat;
	float: left;
	height: 33px;
	width: 16px;
}
.HKL_MainDealAppName {display: none;}
#HKL_Facebookarea {
	font-size: 14px;
	margin: 2px 0 0 10px;
	text-align: left;
}
#HKL_Collect, .HKL_Collect {
	font-size: 14px;
	margin: 2px 0 0 10px;
	text-align: left;
	background: url(../images/newdealdetail.png) -278px -199px no-repeat; 
}
#HKL_Collect-ok, .HKL_Collect-ok {
	font-size: 14px;
	margin: 2px 0 0 10px;
	text-align: left;
	background: url(../images/newdealdetail.png) -277px -265px no-repeat;
}
#HKL_Collect a, #HKL_Collect-ok a, .HKL_Collect a, .HKL_Collect-ok a {padding-left: 28px;}
#HKL_Collect a:hover, #HKL_Collect-ok a:hover, .HKL_Collect a:hover, .HKL_Collect-ok a:hover {
	color: #ec2849;
	text-decoration: none;
}
.HKL_Over1K_Badge {
	width: 105px;
	height: 105px;
	z-index: 5;
	background: url(../images/over1k.png) no-repeat;
	position: absolute;
	left: -10px;
	top: -10px;
}
.SoldOut_Bar_480 {
	width: 480px;
	height: 267px;
	z-index: 5;
	background: url(../images/soldout_bar_480.png) center;
	left: 0px;
	top: 0px;
	position: absolute;
}
.SoldOut_Bar_454 {
	width: 454px;
	height: 253px;
	z-index: 5;
	background: url(soldout_bar_454.png) center;
	left: 0px;
	top: 0px;
	position: absolute;
}
.SoldOut_Bar_290 {
	width: 290px;
	height: 162px;
	z-index: 5;
	background: url(soldout_bar_290.png) center;
	left: 0px;
	top: 0px;
	position: absolute;
}
.SoldOut_Bar_225 {
	width: 225px;
	height: 125px;
	z-index: 5;
	background: url(soldout_bar_225.png) center;
	left: 0px;
	top: 0px;
	position: absolute;
}
.SoldOut_Bar_220 {
	width: 210px;
	height: 118px;
	z-index: 5;
	background: url(soldout_bar_220.png) center;
	left: 0px;
	top: 0px;
	position: absolute;
}
.SoldOut_Bar_192 {
	width: 192px;
	height: 107px;
	z-index: 5;
	background: url(soldout_bar_192.png) center;
	left: 116px;
	top: 100px;
	position: absolute;
}
.SoldOut_Bar_150 {
	width: 150px;
	height: 84px;
	z-index: 5;
	background: url(soldout_bar_150.png) center;
	left: 0px;
	top: 0px;
	position: absolute;
}
.outside_AD {
	width: 100px;
	float: none;
	margin-left: 970px;
	margin-right: auto;
	position: fixed; 
	top: 152px;
}
.OAD_fixed {
	position:fixed;
	top: 40px;
}
.OAD_bottom_fixed {
	top: auto;
	bottom: 370px;
}
/*outside-topOptBox*/
.outside-topOptBox{
	width: 95px;
	float: none;
	margin-left: -106px;
	margin-top: 133px;
	position:fixed;
	text-align: center;
	border-top: 1px solid #CDCDCD; 
}
.OutTop_fixed {
	bottom:357px;
}
.outTOPT{ 
	width: auto;
	padding:5px 5px 5px 5px ;
	background: url(outTOPT-line.png) repeat-x center 3px;
	border-bottom: 1px solid #CDCDCD; 
	color: #666666;
	font-size: 14px;
	cursor: pointer;
}
.outTOPT:hover{  color: #333333; border-bottom: 1px solid #333333;}

.outTOPT a{ 
	color: #666666;
	text-decoration: none;
}

.outTOPT a:hover {color: #333333; text-decoration: none;}

.outTOPT-collect{ 
	background:url(../images/newdealdetail.png) no-repeat -260px -194px ; margin-bottom: 17px; margin-top: 5px;
}
.outTOPT-cohover{ padding-left: 18px;}

.outTOPT-collect-ok{ 
	background:url(../images/newdealdetail.png) no-repeat -265px -259px ; margin-bottom: 17px; margin-top: 5px;
}

/*----HaokangList----*/
.DealLOGO, .HKL_DealLOGO {
	width: 106px;
	height: 45px;
	z-index: 1;
	background: url(DealLOGO_WM.png) no-repeat;
	position: absolute;
	right: 0px;
	top: 0px;
}
.HKL_MainDealCityTOPTitle {
	width: auto;
	height: 42px;
	font-size: 24px;
	float: left;
	margin-left: 10px;
	margin-right: 7px;
	color:#333;
	text-decoration: none;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	font-weight: normal;
}
.HKL_Button_back_to_top_command {
	width: 40px;
	height: 40px;
	margin-left: 970px; 
	position: fixed;
	z-index: 5;
	bottom: 15%;
	cursor: pointer;
	display: none;
	border: none;
	background: url(../images/ppopBottomTOP-up.png) no-repeat scroll;
	background-size: contain;
}
.HKL_UnderText {
	color: #000;
	font-size: 15px;
	font-family: Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif;
	width: 22px;
	float: left;
	margin-top: 14px;
}
.btn_normal { background: url(../images/newdealdetail.png) 0 -90px no-repeat; }
.btn_normal:hover { background: url(../images/newdealdetail.png) -160px -90px no-repeat; }
.btn_dontclick { background: url(../images/newdealdetail.png) -320px -90px no-repeat; cursor:default; }

.Permanent_Info { color: #F00; }
#Stickers { margin-bottom: 15px; }
#Shopareatitle { font-size: 14px; }

.nc_deal_sort { width: 696px; margin-bottom: 10px; text-align: left; position: relative; border-radius: 3px; border: 1px solid #CCC; background: #FFF; }
.nc_deal_sort .arrow { width: 15px; height: 9px; position: absolute; bottom: -9px; left: 20px; background: url(down_arrow.png) no-repeat; }
.nc_deal_sort .red { color: #F00; }
.nc_deal_sort ul {  margin: 0 5px; }
.nc_deal_sort li { width: 85px; text-align: center; list-style: none; float: left; margin: 0; font-size: 12px; line-height: 28px; }
.nc_deal_sort li a { width: 85px; color: #555; display: inline-block; }
.nc_deal_sort li a:hover, .nc_deal_sort li .selected { background: url(ppon-M1_HKL_listBg_hover.png) repeat-x; }
.side_block { width: 240px; margin: 15px 0; }
.side_block_title { width: 240px; margin-bottom: 5px; font-size: 18px; font-weight: 500; line-height: 30px; color: #F70; border-bottom: 1px solid #FFCCBF; }
.side_block_title a { display: inline-block; margin-left: 10px; font-size: 14px; color: #08C; }
.side_block_content { width: 220px; padding: 9px; border: 1px solid #CDCDCD; border-radius: 3px; box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15); background: #FFF; }
.side_block_content p { font-size: 14px; }
.header_hr { border: none; border-bottom: 1px solid #FFCCBF; }
/*New Payment*/
#maincontent .content-group.payment { width: 656px; height: auto; margin-top: 15px; padding: 20px; position: relative; }
#maincontent .content-group.payment h1 { 
	font-size: 24px; line-height: 36px; color: #F70;
	 }
#maincontent .content-group.payment h1.success { color: #090; }
#maincontent .content-group.payment h1.faild { color: #BF0000; }
#maincontent .content-group.payment h1.creditcard { background: url(../images/PayCreditCard.png) no-repeat;
	background-position: right 7px; }
#maincontent .content-group.payment h2 { padding: 10px 20px;  font-size: 16px; line-height: 24px; color: #333; }
#maincontent .content-group.payment h2 p.note { font-size: 12px; color: #666; }
#maincontent .content-group.payment h2.important { font-weight: 600; }
#maincontent .content-group.payment h2 .step-num { width: 25px; height: 25px; float: left; margin-right: 10px; text-align: center; color:#FFF; border-radius: 15px; background: #333; }
#maincontent .content-group.payment h3 { padding: 5px 25px; font-size: 16px; font-weight: 600; color: #F70; }
#maincontent .content-group.payment h3.small { width: 110px; padding: 5px 0px 5px 25px ; font-size: 16px; font-weight: 600; color: #F70; float: left; }
#maincontent .content-group.payment .exp-specification { margin-left: 25px; position: relative; top: 8px; color: #0088CC; text-decoration: underline;}
#maincontent .content-group.payment .info { padding: 20px; font-size: 14px; }
#maincontent .content-group.payment .hint { color: #F70; }
#maincontent .content-group.payment .important { padding-top: 2px; font-weight: 600; color: #333; }
#maincontent .content-group.payment .important.shopping-list { padding-top: 5px; }
#maincontent .content-group.payment p a { color: #08C; }
#maincontent .content-group.payment .pay_success { width: 200px; height: 200px; position: absolute; right: 0; top: 0; background: url(../images/payment_success.png) no-repeat; }
#maincontent .content-group.payment .pay_failed { width: 200px; height: 200px; position: absolute; right: 0; top: 0; background: url(../images/payment_failed.png) no-repeat; }
#maincontent .content-group.payment .fd_success_sn { width: 93%; margin: 20px auto; color: #F70; font-size: 20px; line-height: 40px; text-align: center; border: 2px solid #F70; border-radius: 5px; }
#maincontent .content-group.payment .info_bar { width: auto; position: absolute; left: 5px; right: 5px; bottom: 5px; }
#maincontent .content-group.payment .mixitem { margin: 10px 0; padding: 10px 0; border: 1px solid #F70; border-radius: 5px; }
#maincontent .content-group.payment .btn-center { margin-bottom: 20px;  text-align: center; }
#maincontent .content-group.payment .mixitem .item-list { margin: 5px 0; border-top: 1px solid #F2F2F0; font-size: 14px; line-height: 28px; }
#maincontent .content-group.payment .mixitem .item-list .item-name { width: 60%; margin-left: 25px; float: left; }
#maincontent .content-group.payment .mixitem .item-list .item-amount { width: 30%; margin-right: 25px; float: left; text-align: right; }
#maincontent .content-group.payment .mixitem .item-list .item-amount .empty-btn { width: 42px; height: 24px; float: right; }
#maincontent .content-group.payment .mixitem .item-list .total-amount { width: 20%; float: left; text-align: right; }
#maincontent .content-group.payment .mixitem .item-list .total-price { width: 10%; margin-right: 25px; float: right; text-align: right; }
.side_block_title.for-payment { width: 220px; }
p.qa_title a { font-size: 13px; line-height: 22px; color: #F70; font-weight: bold; }
p.qa_content { font-size: 13px; line-height: 22px; text-indent: -1.7em; margin-left: 1.7em; margin-bottom: 1em; }
p.qa_content.line { color: #999; }
p.qa_content a { color: #0088CC; }
p.qa_note { font-size: 13px; }

/*New MemberCenter*/
.mc-navbar {
	width: auto;
	height: 31px;
	margin-top: 10px;
}
.mc-navbar .mc-navbtn {
	width: 15%;
	height: 30px;
	float: left;
	margin-right: 1px;
	font-size: 14px;
	font-weight: 600;
	line-height: 30px;
	color: #333;
	text-align: center;
	border: 1px solid #CCC;
	border-bottom: none;
	-webkit-border-radius: 5px 5px 0 0;
       -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5E5E5), to(#FFFFFF));
    background-image: -webkit-linear-gradient(#E5E5E5, #FFFFFF);
    background-image: -moz-linear-gradient(#E5E5E5, #FFFFFF);
    background-image: -o-linear-gradient(#E5E5E5, #FFFFFF);
    background-image: linear-gradient(#E5E5E5, #FFFFFF);
}
.mc-navbar .mc-navbtn:hover, .mc-navbar .mc-navbtn.on {
	color: #FFF;
	text-decoration: none;
	border: 1px solid #7e664e;
    background: #ad937c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkOTM3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZTczNWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ad937c 0%, #8e735c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ad937c), color-stop(100%,#8e735c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ad937c 0%,#8e735c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ad937c 0%,#8e735c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ad937c 0%,#8e735c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ad937c 0%,#8e735c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad937c', endColorstr='#8e735c',GradientType=0 ); /* IE6-8 */
}
.mc-content {
	width: auto;
	height: auto;
	margin-bottom: 15px;
	padding: 17px;
	border:2px solid #CCC;
	background:#FFF;
}
.mc-content h1 { font-size: 20px; color: #F70; }
.mc-content h1 .note { margin-left: 10px; font-size: 16px; }
.mc-content h1 a { float: right; }
.mc-content h1 a.inline { float: none; }
.mc-content h1 button { margin-top: -3px; }
.mc-content a:link,
.mc-content a:visited,
.mc-content a:hover,
.mc-content a:active { 
	color: #08C; 
}
.mc-order-states { margin-bottom: 10px; }
.mc-cash-states { margin: 10px auto 20px auto; padding: 10px 20px; border: 1px solid #FFCCBF; }
.mc-cash-states .cash-value { font-weight: 800; color: #BF0000; }
.mc-cash-states .mc-cash-note .note-text { margin: 8px 250px 0 0; padding: 10px; float: right; font-size: 13px; color:#FFF; display: none; background: #333; }
.mc-cash-states .mc-bonus-note .note-text { margin: -17px 322px 0 0; padding: 10px; float: right; font-size: 13px; color:#FFF; display: none; background: #333; }
.mc-cash-states .mc-pezcash-note .note-text { margin: -42px 287px 0 0; padding: 10px; float: right; font-size: 13px; color:#FFF; display: none; background: #333; }
.mc-cash-states .mc-cash-note:hover .note-text,
.mc-cash-states .mc-bonus-note:hover .note-text,
.mc-cash-states .mc-pezcash-note:hover .note-text
 { display: inline-block; }
.mc-addressee-box { margin: 10px; padding: 10px 20px 0 20px; background: #FAFAF7; border: 1px solid #CDCDCD; }
.mc-addressee-box h2 { margin: 0 20px; padding: 5px 0; font-size: 18px; color: #333; border-bottom: 1px solid #FFCCBF; }
.mc-addressee-box .grui-form { padding: 10px; font-size: 15px; }
.mc-addressee-box .grui-form .form-unit { margin-bottom: 5px; padding-top: 0px; }
.mc-addressee-box .btn-delete { float: right; } 
.mc-service-record { border-bottom: 1px dashed #CDCDCD; }
.mc-service-record .no-record { padding: 30px; font-size:16px; line-height: 32px; text-align: center; }
.mc-service-record .record-state { margin-bottom: 10px; }
.mc-service-record .record-state p { float: left; margin-right: 20px; display: inline-block; }
.mc-service-record .record-state a { float: right; margin:0 5px; }
.mc-service-record .record-box { padding: 10px; border-top: 1px dashed #CDCDCD; }
.mc-service-record .record-box:hover { background: #F2F2F0; }
.mc-service-record .record-box.reply { margin:0 0 0 70px; }
.mc-service-record .record-box .unreply-icon { width: 28px; height: 28px; float: left; margin: 10px; background: url(QuestionsPic.png) no-repeat; }
.mc-service-record .record-box .reply-icon { width: 28px; height: 28px; float: left; margin: 10px; background: url(QuestionsPic.png) -30px 0 no-repeat; }
.mc-service-record .record-box .replier-icon { width: 20px; height: 20px; float: left; margin: 10px; background: url(QuestionsPic.png) -60px 0 no-repeat; }
.mc-service-record .record-box .record-content { width: 840px; float: right; font-size: 14px; }
.mc-service-record .record-box.reply .record-content { width: 780px; }
.mc-service-record .record-box .record-time { margin-top: 20px; }

.record-process {
margin-left: 1em;
color: #888;
}
.record-recover {
margin-left: 1em;
color: #BF0000;}

/*C5-member-collect*/
.grui-form p.mc-c5p{ width: 100%;line-height: 2;}
.mc-c5-Collect{ 
	background: url(../images/newdealdetail.png) no-repeat -278px -199px; 
	width: 150px; padding-left: 20px; margin-right: 5px;
	margin-left: 5px;
} 

.mc-plr-box-L{ width: 50%; float: left; line-height: 2.5; margin-bottom: 10px;}
.mc-plr-box-R{ width: 50%; float: right; text-align: right; line-height: 2.5; margin-bottom: 10px;}
.mc-error {color:#BF0000;}
.mc-C5-MGL{ margin-left: 5px;}  .mc-C5-MGR{ margin-right: 10px;}  
.mc5-btnSpacing { 
	width: 5em;
	margin: 10px 5px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a.mc5-btnSpacing:hover {color:#fff;}
.mc-c5-pic { width: 170px; height: 94px; margin: 7px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}

.mc-c5tdwe0{ width: 200px; }
.mc-c5tdwe1{ width: 330px; } 
.mc-c5tdwe2{ width: 150px; }
.mc-c5tdwe3{ width: 130px; }
.mc-c5tdwe4{ width: 120px; }
#mc-table th.mc-sort-initial {
	cursor: pointer;
	background:#444 url(sort-initial.png) 90% center no-repeat;
}
#mc-table th.mc-sort-up {
	cursor: pointer;
	background: #555 url(sort-up.png) 90% center no-repeat;
}
#mc-table th.mc-sort-down {
	cursor: pointer;
	background: #555 url(sort-down.png) 90% center no-repeat;
}
#mc-table th.mc-sort-up a:hover, #mc-table th.mc-sort-down a:hover, #mc-table th.mc-sort-initial a:hover {
color: #efefef;
text-decoration: none;
}
#mc-table th.mc-sort-up a, #mc-table th.mc-sort-down a, #mc-table th.mc-sort-initial a {
color: #fff;
}
.mc-Filterpictop{ background: url(../images/newdealdetail.png) -33px -199px ; width: 15px; height: 15px; display: inline-block;} 
.mc-Filterpicbown{ background: url(../images/newdealdetail.png) -32px -229px ; width: 15px; height: 15px; display: inline-block;} 
.mc-infoBox { text-align: left;}
.mc5T {  
	font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    height: 49px;
    }
.mc5-dealpricetext { width: 100%; }
.mc5-Sold { width: 100%; color: #999999;}

/*Member Center Table Control Tag*/
.OrderNumber { padding: 0 10px !important; }
.OrderDetailTotal p { color: #BF0000; }
.OrderDetailTotal p .price { width: 80px; display: inline-block; font-weight: bold; }
.OrderReturnCash p .item { width: 130px; display: inline-block; text-align: right; }
.OrderReturnCash p .cash { width: 50px; display: inline-block; text-align: right; }
/*Deal Detail Override*/
.DealPriceInfo.deal-detail-overwrite { height: 220px; border: none; }
.forsdeal.detail-overwrite { margin: 15px 0 0 0; }
#Detailinner.Equity.deal-detail-overwrite { width: 635px; margin-bottom: 0px; }
#Detailinner.Equity.deal-detail-overwrite  li { list-style: disc; margin-left:20px; }
.deal-detail-right { width: 200px; float: right; }
.deal-detail-left { width: 485px; float: left; }
.deal-title { width: 460px; padding: 10px; font: 20px/28px Arial, "微軟正黑體", "Microsoft Jhenghei", sans-serif; font-weight: bold; color: #333; }
.backbtn { text-align: center; margin: -10px 0 10px 0; }
/*safely code*/
.safelycode { width: 18px; height: 18px; display: inline-block; margin-left: 10px; background: url(../images/safely_code_icon.png) no-repeat; }
.safelycode-hover { width: 300px; height: 220px; position: relative; z-index: 1; background: url(../images/safely_code.png) no-repeat; margin-top: -200px; border-radius: 5px; box-shadow: 1px 1px 5px rgba(0%, 0%, 0%, .5); }

/*PPB.css*/
/*MemberCenter Table Style*/
#mc-table {
	height: auto;
	margin: 0px auto;
	text-align: center;
	border: 1px solid #999;
	clear: both;
}
#mc-table > table { border: 1px solid #FFF; }
#mc-table th {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	background-color: #444444;
}
.order-table-title { width: 100%; height: 30px; margin-top: 30px; color: #FFF; background: #333; }
.order-table-title h1 { margin-left: 10px; font-size: 16px; line-height: 30px; color: #FFF; }
.order-table-title a:link,
.order-table-title a:visited,
.order-table-title a:hover,
.order-table-title a:active { 
	float: right; 
	margin-right: 10px; 
	font-size: 13px;
	text-decoration: underline;
	color: #FF9;
}
#mc-table.order-detail th {
	color: #333;
	background-color: #CDCDCD;
	padding: 5px;
}
#mc-table.order-detail td { padding: 5px; }
#mc-table p.info { margin: 10px; }
#mc-table tr { line-height: 25px; }
#mc-table td {
	padding: 1px;
	font-size: 13px;
	text-align: center;
}
#mc-table .text-left { text-align: left; }
#mc-table .text-right { text-align: right; }
#mc-table tr:nth-child(even) { background-color: #eee; }
#mc-table.order-detail tr:nth-child(even) { background-color: #eee; }
.mc-tableContentITEM { border-collapse: separate; }
.mc-tableContentITEM td {
	text-align: center;
	border-bottom: 1px solid #F2F2F0;
}
.mc-tableContentITEM .OrderSerial input[type="submit"] { padding: 1px 5px; font-size: 11px; }
#mc-tableContentTitleLeft {
	height: auto;
	text-align: left;
	font-size: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 6px;
}
#mc-tableContentTitleLeft img {
	float: left;
	height: 59px;
	width: 103px;
}
#mc-tableContentTitleRight {
	height: 23px;
	margin: 0px auto 6px auto;
	text-align: left;
	font-size: 13px;
	color: #666;
	clear: both;
}
/*MemberCenter Invoice Table*/
.OrderDetailInvoice {
	height: auto;
	clear: both;
	margin: 0px auto 10px auto;
	border: 1px solid #999;
	background-color: #FEFCED;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.OrderDetailInvoiceInText {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	font-size: 15px;
	line-height: 25px;
	color: #000;
}
.OrderDetailInvoiceInfor {
	width: 600px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	text-align: left;
	clear: both;
}
.OrderDetailInvoiceInfor ul {
	margin-left: 60px;
	list-style-type: none;
}
.OrderDetailInvoiceInfor li{
	margin-top: 2px;
	margin-bottom: 5px;
}
.OrDetElectricinvoice {
	width:800px;
	height: auto;
	margin-top: 0px;
	margin-bottom: 10px;
	color: #666;
	border: 1px solid #71AAC6;
	background-color: #FFF;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}
.OrDetElectricinvoiceTable{
	width: 800px;
	clear: both;
	line-height: 22px;
}
.OrDetElectricinvoiceTable td {
	border: 1px solid #71AAC6;
	font-size: 12px;
	padding-right: 5px;
	text-indent: 5px;
}
.OrDetInvoiceCenter {
	text-align: center;
}
.OrDetinvoicedetail {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 7px;
	padding-bottom: 20px;
	font-size: 13px;
	color: #525252;
	clear: both;
	line-height: 20px;
	border-top: 1px dashed #B3B3B3;
}
.OrDetinvoicedetail ol{}
.OrDetinvoicedetail li{
	list-style-position: outside;
	list-style-image: url(OrDetinvoicedetailF.png);
}
.OrDetETCInvoiceAmount {
	height:auto;
	margin-top: 0px;
	color: #666;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	text-align: right;
}
/*MemberCenter Get Coupon Button*/
.order-get-coupon-box {
	width: 200px;
	height: 48px;
	margin:8px auto 0 auto;
	clear: both;
} 
.order-get-coupon {
	width: 40px;
	float: left;
	margin-right: 4px;
	margin-left: 4px;
}
.order-get-coupon-icon {
	width: 40px;
	height: 25px;
	padding-top: 25px; 
	font-size: 13px;
	color: #333;
	line-height: 18px;
	text-align: center;
	text-decoration: underline;
}
.order-get-coupon-icon.c1 { background: url(get-coupon-icon_HD.png) 0 0 no-repeat; }
a.disabled .order-get-coupon-icon.c1 { color: #8F8F8F; text-decoration: none; background: url(get-coupon-icon_HD.png) -40px 0 no-repeat; }
.order-get-coupon-icon.c2 { background: url(get-coupon-icon_HD.png) -80px 0 no-repeat; }
a.disabled .order-get-coupon-icon.c2 { color: #8F8F8F; text-decoration: none; background: url(get-coupon-icon_HD.png) -120px 0 no-repeat; }
.order-get-coupon-icon.c3 { background: url(get-coupon-icon_HD.png) 0 -50px no-repeat; }
a.disabled .order-get-coupon-icon.c3 { color: #8F8F8F; text-decoration: none; background: url(get-coupon-icon_HD.png) -40px -50px no-repeat; }
.order-get-coupon-icon.c4 { background: url(get-coupon-icon_HD.png) -80px -50px no-repeat; }
a.disabled .order-get-coupon-icon.c4 { color: #8F8F8F; text-decoration: none; background: url(get-coupon-icon_HD.png) -120px -50px no-repeat; }
.disabled-text { color:#8F8F8F; }
.order-get-invoice { margin: 20px auto; text-align: center; }
.order-atm-info { padding: 20px; font-size: 14px; line-height: 20px; }
.order-atm-header { padding: 10px 20px; }
.order-atm-info .important { font-weight: 600; }

/*todaydeal style*/
#AlldealGoods { width: 960px; }
.center { overflow: visible; }
.BigDeal { width: 100%; height: 430px; position: relative; overflow: hidden; }
.BDSelector_L { width: 40px; height: 65px; background: url(BDSelector.png) no-repeat; position: absolute; z-index: 9999; top: 165px; left: 0; }
.BDSelector_L:hover { background: url(BDSelector.png) 0 -67px no-repeat; }
.BDSelector_R { width: 40px; height: 65px; background: url(BDSelector.png) -40px 0 no-repeat; position: absolute; z-index: 9999; top: 165px; right: 0; }
.BDSelector_R:hover { background: url(BDSelector.png) -40px -67px no-repeat; }
.BigDealBlock { width: 466px; height: 396px; margin: 15px 5px; float: left; border:2px solid #FFF; border-radius: 10px; background: #FFF; box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15); }
.BigDealBlock:hover { border:2px solid #BF0000; }
.BigDealBlock .BDState { width: 450px; height: 45px; margin: 5px auto; border-bottom: 1px solid #CCC; }
.BDState .BDMark { width: 124px; height: 44px; margin-right: 10px; float: left; background: url(BDMark.png) no-repeat; }
.BDState .BDPrice { width: 150px; height: 44px; float: left; font-size: 16px; color: #000; padding-top: 3px; line-height: 18px; }
.BDState .BDPrice_O { font-size: 12px; color: #CCC; text-decoration: line-through; }
.BDState .BDCounter { width: 166px; height: 44px; float: right; text-align: right; color: #F00; font-size: 20px; line-height: 60px; }
.BDTitle { width: 450px; height: 23px; margin: 0 auto; font-size: 16px; line-height: 22px; color: #000; overflow: hidden; }
.BDTitle .BDLocation { font-weight: bold; }
.BDOrgMTitle { width: 450px; height: 23px; margin: 0 auto; font-size: 16px; line-height: 22px; color: #FF6600; overflow: hidden; }

.BDPic { width: 450px; height: 251px; margin: 25px auto 0 auto; position: relative; }

.fl { float: left; }
.fr { float: right; }
.deal_pic .hotdeal { width: 97px; height: 97px; position: absolute; top: -10px; left: -10px; background: url(tc_button.png) no-repeat; }
.deal_pic .soldout { width: 97px; height: 97px; position: absolute; top: -10px; left: -10px; background: url(tc_button.png) 0 -100px no-repeat; }
.tc_deal_sort { width: 958px; text-align: left; position: relative; border-radius: 3px; border: 1px solid #CCC; background: #FFF; }
.tc_deal_sort .arrow { width: 15px; height: 9px; position: absolute; bottom: -9px; left: 20px; background: url(down_arrow.png) no-repeat; }
.tc_deal_sort .red { color: #F00; }
.tc_deal_sort ul {  margin: 0 40px; }
.tc_deal_sort li { width: 85px; text-align: center; list-style: none; float: left; margin: 0 10px; font-size: 12px; line-height: 28px; }
.tc_deal_sort li a { width: 85px; color: #555; display: inline-block; }
.tc_deal_sort li a:hover, .tc_deal_sort li .selected { background: url(ppon-M1_HKL_listBg_hover.png) repeat-x; }
.tc_big_content_area { width: 960px; height: 415px; margin: 0 0 20px 0; }
.tc_big_content_area .b_content_box { width: 469px; height: 397px; margin: 10px 4px; border: 1px solid #CCC; background: #FFF; box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15); }
.tc_big_content_area .b_content_box:hover, .tc_small_content_area .s_content_box:hover { border-color: #BF0000; }
.tc_big_content_area .b_content_box .title { width: 450px; height: 23px; margin: 15px auto 0px auto; font-size: 16px; color: #333; line-height: 22px; font-family: "微軟正黑體", sans-serif; overflow: hidden; }
.tc_big_content_area .b_content_box .title a { color: #333; }

.tc_big_content_area .b_content_box .Orgmaintitle { 
	width: 450px; height: 20px; margin: 0px auto 15px auto; font-size: 16px; 
	line-height: 20px; font-family: "微軟正黑體", sans-serif; overflow: hidden; color: #FF6600;}
.tc_big_content_area .b_content_box .Orgmaintitle a { color: #FF6600 ;}

.tc_big_content_area .b_content_box .fb_like { width: 100px; height: 20px; margin: -10px 10px; text-align: right; }
.tc_big_content_area .b_content_box .deal_pic { width: 454px; height: 253px; margin: 30px auto 5px auto; position: relative; }
.tc_big_content_area .b_content_box .deal_pic .time_counter { width: 454px; height: 30px; display: none; text-align: center; font-size: 18px; line-height: 30px; color: #FFF; position: absolute; bottom: 0; background: url(tr70bg.png) repeat; z-index: 6;}
.deal_pic .time_counter .day { font-size: 10px; line-height: 30px; }
.tc_big_content_area .b_content_box .bottom { width: 469px; height: 51px; color: #333; background: url(tc_big_deal_bottom.png); }
.tc_big_content_area .b_content_box .bottom .discount { width: 60px; margin: 5px 10px; font-size: 26px; border-right: 1px solid #FFCCBF; }
.tc_big_content_area .b_content_box .bottom .text, .tc_big_content_area .b_content_box .bottom .smalltext { font-size: 13px; color: #333; font-family: "微軟正黑體", sans-serif; }
.tc_big_content_area .b_content_box .bottom .price { margin: 5px 10px 5px 0; font-size: 26px; }
.tc_big_content_area .b_content_box .bottom .ori { width: 50px; margin-top: 20px; font-size: 12px; color: #CCC; text-decoration: line-through; }
.bottom .buyer { width: 115px; margin: 13px 0 0 15px; font-size: 20px; font-weight: bold; color: #BF0000; }
.tc_big_content_area .b_content_box .bottom .go_button { width: 95px; height: 35px; margin: 12px 5px 0 0; font-size: 0px; text-indent: -9999px; display: inline-block; background: url(tc_button.png) -110px 0 no-repeat; }
.tc_big_content_area .b_content_box .bottom .go_button:hover { background: url(tc_button.png) -110px -40px no-repeat; }
.tc_small_content_area { width: 960px; margin-bottom: 20px; clear: both; }
.tc_small_content_area .s_content_box { width: 310px; height: 339px; margin: 15px 4px; border: 1px solid #CCC; background: #FFF; box-shadow: 0px 1px 2px rgba(0%, 0%, 0%, .15); }
.tc_small_content_area .s_content_box .title { width: 290px; height: 17px; margin: 10px auto 2px auto; font-size: 14px; color: #333; line-height: 17px; font-family: "微軟正黑體", sans-serif; overflow:hidden; }
.tc_small_content_area .s_content_box .title a { color: #333; }

.tc_small_content_area .s_content_box .OrgMineT { width: 290px; height: 34px; margin: 0px auto 16px auto; font-size: 14px; color: #333; line-height: 17px; font-family: "微軟正黑體", sans-serif; overflow:hidden; }
.tc_small_content_area .s_content_box .OrgMineT a { color: #FF6600; }

.tc_small_content_area .s_content_box .title .rank { width: 38px; height: 34px; margin-right: 5px; float: left; font-size: 14px; font-weight: bold; color: #FFF; line-height: 16px; text-align: center; background: #BF0000; }
.tc_small_content_area .s_content_box .fb_like { width: 100px; height: 20px; margin: -10px 10px; text-align: right; }
.tc_small_content_area .s_content_box .deal_pic { width: 290px; height: 162px; margin: 31px auto 3px; position: relative; }
.tc_small_content_area .s_content_box .deal_pic .time_counter { width: 290px; height: 30px; display: none; text-align: center; font-size: 16px; line-height: 30px; color: #FFF; position: absolute; bottom: 0; background: url(tr70bg.png) repeat; z-index: 6;}
.tc_small_content_area .s_content_box .smallprice .discount { width: 60px; margin: 0px 10px; font-size: 26px; border-right: 1px solid #FFCCBF; }
.tc_small_content_area .s_content_box  .text, .tc_small_content_area .s_content_box  .smalltext { font-size: 13px; color: #333; font-family: "微軟正黑體", sans-serif; }
.tc_small_content_area .s_content_box .smallprice .price { margin-right: 10px; font-size: 26px; }
.tc_small_content_area .s_content_box .smallprice .ori { width: 50px; margin-top: 16px; font-size: 12px; color: #CCC; text-decoration: line-through; }
.tc_small_content_area .s_content_box .bottom { width: 310px; height: 41px; color: #333; background: url(tc_small_deal_bottom.png); }
.tc_small_content_area .s_content_box .bottom .buyer { margin: 5px 0 0 10px; }
.tc_small_content_area .s_content_box .bottom .go_button { width: 75px; height: 30px; margin: 8px 8px 0 0; font-size: 0px; text-indent: -9999px; display: inline-block; background: url(tc_button.png) -210px 0 no-repeat; }
.tc_small_content_area .s_content_box .bottom .go_button:hover { background: url(tc_button.png) -210px -40px no-repeat; }

.DealCity { width: 200px; height: 50px; font-size: 36px; color: #333; font-weight: bold; padding-left: 5px; clear: both; }
.SMT { display: none; }
.td_buyer { width: 105px; line-height: 19px; margin: 0; font-size: 13px; font-weight: bold; color: #BF0000; text-align: right; border-top: #999 1px solid; }
.tc_small_content_area .s_content_box.td_content { height: auto; }
.tc_small_content_area .s_content_box.td_content .deal_pic { margin: 27px auto 5px auto; }
.tc_small_content_area .s_content_box.td_content .text, 
.tc_small_content_area .s_content_box.td_content .smalltext { font-size:12px;}
.tc_small_content_area .s_content_box.td_content .smallprice { margin:0 11px 0 10px; }
.tc_small_content_area .s_content_box.td_content .smallprice .price { margin-right: 5px; font-size: 31px; }
.tc_small_content_area .s_content_box.td_content .smallprice .ori { margin-top: 19px;}
.tc_small_content_area .s_content_box.td_content .smallprice .pop-box{ width: 100px; margin-top: 3px; }
.tc_small_content_area .s_content_box.td_content .smallprice .pop-box .Save{ line-height: 15px; clear: none; font-size: 11px; }
.tc_small_content_area .s_content_box.td_content .timeOverview { width: 290px; height: 26px; margin:-5px auto 6px auto; background: #bf0000; padding-top: 1px; color: #FFF;}
.tc_small_content_area .s_content_box.td_content .timeOverview .TimerTitleField { width: 150px; height: 20px; margin: 2px auto 0px auto; border: none; }
.tc_small_content_area .s_content_box.td_content .timeOverview .TimeDayCounter {color: #FFF;height: 20px; font-size: 10px; margin: 5px 8px 0 8px; }

/*Public welfare Taishin Bank*/

.Publicwelfare.forsdeal #MainPic .Over1K_Badge, .Publicwelfare.forsdeal #MainPic .SoldOut_Bar_480,
.Publicwelfare.forsdeal .DealPriceInfo .dealpricetext, .Publicwelfare.forsdeal .DealPriceInfo .dealsaletext, .Publicwelfare #Entry #EntryContent .Equitylink .rule, .Publicwelfare #Entry #EntryContent .Detail_buy_box .price .tsText, .Publicwelfare #Entry #EntryContent .EntryTitle, .Publicwelfare #Entry #EntryContent .rd-guarantee{ display: none; }
.Publicwelfare .MaindealMiddle #MainPic .Over1K_Badge, .Publicwelfare .MaindealMiddle #MainPic .Encore, .Publicwelfare .MaindealMiddle #MainPic .SoldOut_Bar_480, .Publicwelfare .MaindealMiddle .DealPriceInfo .dealpricetext, .Publicwelfare .MaindealMiddle .DealPriceInfo .dealprice .smalltext , .Publicwelfare .MaindealMiddle .DealPriceInfo .dealsaletext,.m-share, .mobile_share, .pad_share, .m-buyBtnBig a { display: none; }
.Publicwelfare .forsdeal .DealPriceInfo .dealprice, .Publicwelfare .MaindealMiddle .DealPriceInfo .dealprice{ margin: 28px auto; }
.Publicwelfare #Entry #EntryContent .PublicwelfareTBk{ display: block; }

/*NaviCity*/
.NaviCityMP {
	width: 960px;
	margin: 10px auto 0 auto;
	background-color: #fff;
	overflow: hidden;
}
.NaviCityW {
	margin: 0 auto 0 auto;
	border: 1px solid #ccc;
	background-color: #fff;
	overflow: hidden;
	border-radius: 3px 3px 0 0;
}
.mbe-switch + .center .NaviCityW { margin-top: -11px; border-top: none; }

.NaviCityArea { width: 942px; border: 1px solid #ccc; border-bottom: 1px solid #BF0000; margin-bottom: 1px; padding: 8px; font-size: 12px; border-radius: 3px 3px 0 0; }
.NaviCityArea li  { float: left; margin-right: 3px; }
.NaviCityArea a { line-height: 20px; padding: 0px 16px; display: inline-block; font-family: Arial, "新細明體", sans-serif; }
.NaviCityArea a.on { background-color: #BF0000; color: #fff; border-radius: 3px; }
.NaviCityArea a:hover { background-color: #BF0000; color: #fff; text-decoration: none; border-radius: 3px; }
.NaviCitySequence { width: 942px; margin-bottom:15px ; padding: 8px; border: 1px solid #ccc; border-top: none; background-color: #fff; font-size: 12px; border-radius: 0 0 3px 3px; box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15); }
.NaviCitySort { width: 942px; line-height: 20px;  padding: 8px; font-size: 12px; float: left; }
.NaviCitySortRank { width:880px; float: left; }
.NaviCitySelectArea, .NaviCitySelectSort { width: 45px; padding: 1px; float: left; color: #BF0000; font-weight: bold; font-family: Arial, "新細明體", sans-serif;  }
.NaviCitySort li { width: 90px; float: left; margin: 1px 3px 1px 0; text-align: center; }
.NaviCitySort a { width: 90px; line-height: 20px; display: inline-block; font-family: Arial, "新細明體", sans-serif; }
.NaviCitySort li.on { background-color: #333; color: #fff; border-radius: 3px; }
.NaviCitySort li.on a { color: #fff; }
.NaviCitySort a:hover { width: 90px; background-color: #333; color: #fff; text-decoration: none; border-radius: 3px; }
#ulSort {float: left;}
.NaviCitySequence a { line-height: 20px; margin-left: 3px; padding: 0px 16px; display: inline-block; float: left; font-family: Arial, "新細明體", sans-serif; position: relative; }
.NaviCitySequence a:hover { background-color: #BF0000; color: #fff; text-decoration: none; border-radius: 3px; }
.NaviCitySequence a.on { background-color: #BF0000; color: #fff; border-radius: 3px; }
.NaviCitySequence a.up { width: 53px; text-indent: 10px; margin-left: 3px; padding: 0; }
.NaviCitySequence a.up:hover:after, .NaviCitySequence a.on.up:after { background-color: #BF0000; border-color: transparent transparent #fff transparent;}
.NaviCitySequence a.on.up { background-color: #BF0000; margin-left: 3px; padding: 0;}
.NaviCitySequence a.down { width: 53px; text-indent: 10px; margin-left: 3px; padding: 0; }
.NaviCitySequence a.down:hover:after, .NaviCitySequence a.on.down:after { background-color: #BF0000; border-color: #fff transparent transparent transparent;}
.NaviCitySequence a.on.down { background-color: #BF0000; margin-left: 3px; padding: 0;}
.NaviCitySequence a.up:after {
	width: 0px;
	height: 0px;
	content: '';
	margin-left: 3px;
	border: 5px solid;
	border-color: transparent transparent #111 transparent;
	display: inline-block;
}
.NaviCitySequence a.down:after {
	width: 0px;
	height: 0px;
	content: '';
	margin-top: 3px;
	margin-left: 3px;
	border: 5px solid;
	border-color: #111 transparent transparent transparent;
	display: inline-block;
	position: absolute;
	top: 5px;
}

.NaviCityArea li a, .NaviCitySort li a, .NaviCitySequence li a {
-webkit-transition: all 80ms ease-in-out; 
   -moz-transition: all 80ms ease-in-out; 
     -o-transition: all 80ms ease-in-out; 
       -transition: all 80ms ease-in-out;
}

.NaviCitySequence li { float: left; }
.New { width: 75px; }
.Quantity { width: 90px; margin-left: -19px; }
.Price { width: 90px; /*margin-left: -34px;*/ }
.Explain { height: 20px; background-color: #fff; padding: 0px 3px; border: 1px solid #ccc; display: none; position: absolute; top: -23px; left: 5px; z-index: 99999; }
.Comment:hover .Explain { display: block; }
.WordsGray { color: #ccc; }
.NaviCitySort a:hover .WordsGray,.NaviCitySort li.on .WordsGray { color:#fff; }
.ncs-filter { margin: 1px 10px;  color: #BF0000; }
.ncs-filter-notice { color: #666; }
.m-classify, .m-filter-btn { display: none;}
/*NaviCity*/

/*DealStatus*/
.dds { max-width: 580px; margin-bottom: 10px; } /*dds = Deal Detail Status*/
.dds-label { margin: 5px 5px 5px 0; padding: 2px 8px; display: inline-block; font-size: 12px; font-family: Arial, "新細明體", sans-serif; color: #FFF; background: #BF0000; border-radius: 3px; }
.dts { max-width: 480px; max-height: 22px; position: relative; z-index: 8; vertical-align: text-top; } /*dds = Deal Title Status*/
.Maintitle + .dts { margin-left: 10px; margin-top: -10px; margin-bottom: 5px; }
.MainDealProductName + .dts {top:-5px;}
.BigDealBlock .dts { margin-left: 8px; }
.b_content_box .dts, .s_content_box .dts { margin-top: -10px; margin-left: 10px; margin-bottom: 5px; }
.dts-label { 
	width: 58px; 
	height: 20px; 
	margin-right: 5px;
	display: inline-block; 
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.dts-lb-1, .dts-lb-2 { 
	background-image:linear-gradient(top,#d00,#b10000);
    background-image:-moz-linear-gradient(top,#d00,#b10000);
    background-image:-webkit-linear-gradient(top,#d00,#b10000);
    background-image:-o-linear-gradient(top,#d00,#b10000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d00', endColorstr='#b10000', GradientType=0);
    background-color: #d80000;
}
.dts-lb-3 { 
	background-image:linear-gradient(top,#ff6300,#ff3800);
    background-image:-moz-linear-gradient(top,#ff6300,#ff3800);
    background-image:-webkit-linear-gradient(top,#ff6300,#ff3800);
    background-image:-o-linear-gradient(top,#ff6300,#ff3800);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6300', endColorstr='#ff3800', GradientType=0);
    background-color: #ff5300; 
}
.dts-lb-4, .dts-lb-5 { 
    background-image:linear-gradient(top,#ffc900,#ff9c00);
    background-image:-moz-linear-gradient(top,#ffc900,#ff9c00);
    background-image:-webkit-linear-gradient(top,#ffc900,#ff9c00);
    background-image:-o-linear-gradient(top,#ffc900,#ff9c00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc900', endColorstr='#ff9c00', GradientType=0);
    background-color: #ffba00; 
}
.dts-lb-4 {color: #DF0000;}
.dts-lb-5 {color: #171717;}

/*Fast Deliver Page*/
/*--0416 tab by stan--*/
ul.fdetitle-tab{
	height: 45px;
	margin-top:350px; 
}
ul.fdetitle-tab li{
	float: left;
	width: 33%;
	border-right: 1px #afaba7 solid;
}

ul.fdetitle-tab li a{
	color: #fff;
	display: block;
	padding: 5px 0 5px 0;
	text-align: center;
	text-decoration: none;
	background: #a59d96; 
	opacity: .7;
	border-bottom: 3px solid #3D3D3D;
}
ul.fdetitle-tab li:nth-child(2){
	width: 32%;
	margin: 0 0.5% 0 0.5%;
	
}
ul.fdetitle-tab li a:hover{
	color: #fff;
	background: #ff8004;	 
  	border-bottom: 3px solid #8a4400;
	opacity: .8;
}
ul.fdetitle-tab li.active a{
	color: #fff;
	z-index: 3;
	opacity: 1;
	background: #ff8004;	 
  	border-bottom: 3px solid #8a4400;
}
.wrap-fde{background:#ffefe0 url(../G2/24-BG.jpg) center 140px no-repeat !important;} /*強迫使用背景大圖*/

.ly-fde-switchctrl {
	width: 100%;
	position: relative;
	text-align: center;
}
.fde-ctrlarrow-r {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 42%;
	right: -60px;
	background: url(ctrlarrow.png) -50px 0 no-repeat;
}
.fde-ctrlarrow-r:hover { background: url(ctrlarrow.png) no-repeat; }
.fde-ctrlarrow-l {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 42%;
	left: -60px;
	background: url(ctrlarrow.png) -50px -50px no-repeat;
}
.fde-ctrlarrow-l:hover { background: url(ctrlarrow.png) 0 -50px no-repeat; }
.fde-pagination {
	width: 34px;
	height: 34px;
	margin: 5px;
	display: inline-block;
	font-size: 22px;
	line-height: 36px;
	color: #FFF;
	border-radius: 5px;
	background-color: rgba(24, 24, 24, 0.5);
}
.fde-pagination:hover, .fde-pagination.on {
	background-color: rgba(24, 24, 24, 1); 
}
.ly-fde-switchblk {
	width: 100%;
	margin-bottom: 15px;
	overflow: hidden;
}
.ly-fde-tab-large{
	width: 100%;
	display: inline-block; 
}
.ly-fde-tab-large .fde-unit{
	width: 470px;
}
.ly-fde-tab-large .fde-unit:nth-child(2n) {
	margin-right: 0;
}
.ly-fde-tab-small{
	width: 100%;
	display: inline-block; 
}
.ly-fde-tab .fedtitle{
	margin-top: 15px; 
	text-align: left; 
	color: #512c00; 
	background: url(icon_2472hr_title.png) no-repeat; 
	padding-left: 20px;
}
.fde-unit {
	width: 225px;
	margin:15px 20px 15px 0;
	margin:15px 7px 15px 7px \9;
	float: left;	
}
/*fed-unit a */
.fde-unit a{
	display: block;
	border: 1px solid #CCC; 
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	text-decoration: none;
}
.fde-unit a:hover{
	border-color: #BF0000;
}
.fde-unit:nth-child(4n) {
	margin-right: 0;
}
.fde-image {
	width: 100%;
	height: 125px;
	overflow: hidden;
	background: #FFF;
	position: relative;
}
/*large image*/
.ly-fde-tab-large .fde-image{
	width: 100%;
	height: 260px;
	background: #ccc;
}
/*SoldOut_Bar*/
.ly-fde-tab .fde-image .SoldOut_Bar_480,.ly-fde-tab .fde-image .SoldOut_Bar_225{
	width: 100%;
}
.fde-info {
	padding: 10px;
	background: #FFF;
	text-align: center;
}
.fde-dealtitle {	
	height: 26px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom: 4px;
	font-size: 15px;
	border-bottom: 1px solid #EEE;
}
.fde-price {
	font-size: 13px;
	font-weight: bold;
}
.fde-price .st-highlight { color: #BF0000; }
.btn-fastdeliver {
	padding: 2px 30px;
	color: #FFF;
	border: none;
	background-color: #BF0000;
	background-image: none;
}
.btn-fastdeliver:hover {
	color: #FFF;
	background-color: #CF0000; 
}
/*--0416 tab end by stan--*/
/*0911 by yaya*/
.msg-block{
	width: auto;
	background: #FFF;
	padding: 20px;
	margin: 50px auto;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	box-shadow: 0px 1px 3px rgba(0%,0%,0%,.15);
}
.msg-p { width:85%; margin: 15px auto;	font-size:16px; text-align:center;}
.nam-value { font-weight: 800; color: #BF0000; }
.msg-div { margin:10px auto; text-align:center; }
.msg-block h1{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:40px;
}

/*fami area special style*/
.fami_price_text {
	font-size: 13px;
	letter-spacing: -1px;
}

/*activeLogo by gigi*/
.activeLogo { 
	position: absolute;
	right: 0;
	bottom: 0;}

.activeLogo img { float: right; }
.alo-l img {  }
.alo-h img { width: 90%; }
.alo-m img { width: 65%; }
.alo-s img { width: 50%; }
 

/*Collect by ariel*/
.HKL_juwindow{ 
	width: 140px; 
	position: relative; 
	background: #fff; 
	z-index: 10;
	margin-left: 10px;
	border-radius: 4px;
	border: 1px #CDCDCD solid;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	padding-bottom: 17px;
}

.HKL_juwindow .HKL_ju-x{ 
	float: right;
	margin: 2px 3px 0 0;
	width: 15px; height: 15px;
}
.HKL_juwindow .HKL_ju-tbox{ 
	height: auto;
	width: 100%; 
	margin: 0 auto;
	display: inline-block;
}
.HKL_juwindow p.ju-title{ 
	height: auto;
	width: 100%; 
	text-align: center;
	font-size: 15px;
	margin-top: 1px;
	font-weight: bold;
}
.HKL_juwindow p.ju-title a.ju-intext{ 
	font-size: 12px;
	font-weight: normal;
	color: #08C;
	text-decoration: underline;
}
.HKL_juwindow p.ju-title img{
    width:16px;
    height: 16px; 
	margin-bottom: -2px;
	margin-right: 3px;
}

.HKL_leftwind{ /*左邊耳朵收藏小視窗*/
	margin-left: -26px;
	margin-top: 35px;
	position: absolute;
}
/*Collect by ariel*/

.new_icon{/*導覽列上方加new*/
	width:39px;
	height:27px;
    float;: left;
	background-image:url(https://www.17life.com/images/17P/active/SpaArea/new2.png);
	background-repeat:no-repeat;
	margin-top: -7px;
	margin-left: -1px;
	position:absolute;
}
.new_icon_in{/*導覽列上方加new*/
	width:26px;
	height:17px;
	margin: 2px 0 0 5px;
	background-image:url(https://www.17life.com/images/17P/active/SpaArea/new2.gif);
	background-repeat:no-repeat;
}
.info-acPic{ width: 90%; margin:  20px auto 45px auto; text-align: center;}

/*隱藏*/
#navi,#NaviCity{ display: none;}

figure.Dealimg { position: relative;}
.Soldout_HD_RDL{  
    width: 100%; 
    height: 100%;    
    background-size: contain;
    background-repeat:repeat-x;
    z-index: 5;
    top: 83px; /*20150617 把<div class="Soldout_HD_RDL">調整至<div class="image soldout">..<div>同一層*/
    left: 0px;
    position: absolute;
}

/*結帳頁優化for品生活20150305Alan*/
.evn-cop-buy-pic {height: auto;}
.evn-cop-buyinformation, .evn-cop-acNotice{ display: none;}
.evn-cop-minorange-title { border-bottom: 0;}

/*品生活Ｍ版會員修改*/

.mc-menu-btn_HD .member-icon {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}
.mc-menu-btn_HD i {
	padding-top: 12px;
}
.mc-menu-btn_HD p {
	font-size: 12px;
	font-weight: lighter;
}
.mc-menu-btn_HD svg { 
	position: absolute;
	right:0;
	top:0;
	width: 50px;
	height: 50px;
}

.mc-back-btn_HD {
	display: none;
	float: right;
}
.mc-back-btn_HD .member-icon {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}
.mc-back-btn_HD i {
	padding-top: 12px;
}
.mc-back-btn_HD p {
	font-size: 12px;
	font-weight: lighter;
}


