﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.BizLogic.Model.Evaluate
@model EvaluateStoreData
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (VbsCurrent.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<script type="text/javascript" src="@Url.Content("~/Tools/js/d3.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Tools/js/userevaluation.js")"></script>

@section Script{

    <script type="text/javascript">

        $(function () {
            var date = new Date();
            var m = 10;
            date.setTime(date.getTime() + (m * 60 * 1000));
            var url = '@Request.RawUrl';
            $.cookie('UpperAction', $.cookie('Action'), { expires: date })
            $.cookie('Action', url, { expires: date });
        });

        function changePage(new_page) {
            var e = document.getElementById("pager");

            if (new_page == null) {
                new_page = parseInt(e.options[e.selectedIndex].value) + 1;
            }
            else if (new_page == -1) {
                new_page = parseInt(e.options[e.selectedIndex].value) - 1;
            }
            $('[id*=pager]').val(new_page);
            var form = document.getElementById('listForm');
            form.submit();
        }

        function UpperUrl() {
            window.location.href = 'EvaluateSearch';
        }
    </script>
}

<div class="OWriteOff">
	<form id="listForm" action="@Url.Action("EvaluateStoreList")" method="post">
		<div class="OW-center">
			<div class="fed-header fed-line">
				@if (VbsCurrent.Is17LifeEmployee)
				{
					<div class="OW-w5-2-ListBackBtn">
						<span class="icon-undo" onclick="UpperUrl()">
							回上頁
						</span>
					</div>
				}

				<div class="fed-sort fleft">
					資料顯示 &nbsp;&nbsp;
					@Html.DropDownList("showlist", (SelectList)ViewBag.ShowRangeList, new { onchange = "this.form.submit();" })
				</div>
			</div>
			@if (Model != null)
			{

				<div class="fed-sort-zone clearfix">
					<div class="fed-data fleft">筆數：<span class="totalCount">@Model.TotalCount</span>筆</div>
					<div class="fed-sort fright">
						排序依 &nbsp;&nbsp;
						@Html.DropDownList("ordercol", (SelectList)ViewBag.OrderByCol, new { onchange = "this.form.submit();" })
						@Html.Hidden("hiddenValue", this.Request.QueryString["seller_guid"])
					</div>
				</div>

				<div id='mainContent' class="fed-box">
					@foreach (EvaluateStoreDetail item in Model.DetailData)
					{
						<div class="fed-box">
							<h3>@item.StoreName</h3>
							<div class="fed-store clearfix">
								<div class="col-1-2">
									<ul class="fed-like">
										<li>
											<h4 class="necessary">
												<span class="icon-happy"></span>整體滿意度
												<strong>@item.AvgTotalSatisfactory</strong>
											</h4>
										</li>
										<li>
											<h4 class="necessary">
												<i class="fa fa-trash fa-lg"></i>環境整潔度
												<strong>
													@if(item.EnvironmentCount!=0)
													{
														@item.AvgEnvironment
													}
													else
													{
														<i>-</i>
													}
												</strong>
											</h4>
											@if (item.EnvironmentCount == 0)
											{
												<p class="summery">自2015/4/7修正選項，因此尚無資料</p>
											}
										</li>
										<li>
											<h4 class="necessary">
												<span class="icon-thumbs-up"></span>再訪意願
												<strong>@item.AvgComeAgain</strong>
											</h4>
										</li>
										<li>
											<h4>
												<span class="icon-heart"></span>服務親切度
												<strong>@item.AvgService</strong>
											</h4>
											<p class="summery">(非必填：作答數 @item.ServiceCount/ 總數 @item.EvaluateCount)</p>
										</li>
									</ul>
								</div>
								<div class="col-1-4">
									<div class="total-infor">
										<p>累計核銷份數：<span>@item.VerifiedCount</span>份</p>
										<p>累計評價份數：<span>@item.EvaluateCount</span>份</p>
									</div>
								</div>
								<div class="col-1-4"><a href="EvaluateShowProducts?seller_guid=@item.SellerGuid&sid=@item.StoreId&page=" class="btn-assess">檔次列表</a></div>
							</div>
						</div>
					}
				</div>

				<table border="0" cellspacing="0" cellpadding="0" class="OW-W5_3-Table3-Page">
					<tr>
						<td width="50"><img src="../../Themes/OWriteOff/Upper_st.png" onclick="changePage(1)" /></td>
						<td width="71"><img src="../../Themes/OWriteOff/Upper.png" onclick="changePage(-1)" /></td>
						<td width="71">
							<label>
								@Html.DropDownList("pager", new SelectList(Enumerable.Range(1, (Model.TotalCount / 10) + 1).
						Select(x => new { Value = x, Text = x }), "Value", "Text"), new { onchange = "this.form.submit();" })
							</label>
						</td>
						<td width="91">頁／<span class="totalPage">@((Model.TotalCount / 10) + 1)</span>頁</td>
						<td width="91">共<span class="totalCount">@Model.TotalCount</span>筆</td>
						<td width="61">
							<img src="../../Themes/OWriteOff/lower.png" onclick="changePage()" />
						</td>
						<td width="50"><img src="../../Themes/OWriteOff/lower_st.png" onclick="changePage(@((int)((Model.TotalCount / 10)+1)))" /></td>
					</tr>
				</table>
			}
		</div>
	</form>
</div>