﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.BizLogic.Model.Evaluate
@model EvaluateStoreData
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
    }
}

@section Script {
    <script type="text/javascript" src="@Url.Content("~/Tools/js/jquery.session.js")"></script>
    <script type="text/javascript">

        var date = new Date();
        var m = 10;
        date.setTime(date.getTime() + (m * 60 * 1000));

        $(document).ready(function () {
            $.cookie('Action', '@Request.RawUrl', { expires: date });
            if ($.cookie('SearchValue') != null) {
                var textbox = document.getElementById('queryKeyword');
                textbox.value = $.cookie('SearchValue');
            }

            if ($.cookie('SearchOption') != null) {
                $('[id*=showlist]').val($.cookie('SearchOption'));
            }

            if ($.cookie('SearchValue') != null && $.cookie('SearchOption') != null && @Html.Raw(Json.Encode(Model)) == null)
            {
                var form = document.getElementById('queryForm');
                form.submit();
            }

            $('#btnQuery').click(function () {
                $('#queryForm').submit();
            });

            $('#queryArea').keypress(function (e) {
                var keycode;
                if (window.event) keycode = window.event.keyCode;
                else if (e) keycode = e.which;
                else return true;
                if (keycode == 13) {
                    $('#btnQuery').click();
                }
            });
        });

        function changePage(new_page)
        {
            var e = document.getElementById("pager");

            if (new_page == null)
            {
                new_page = parseInt(e.options[e.selectedIndex].value)+1;
            }
            else if(new_page == -1)
            {
                new_page = parseInt(e.options[e.selectedIndex].value)-1;
            }
            $('[id*=pager]').val(new_page);
            var form = document.getElementById('queryForm');
            form.submit();
        }

        function setCookie()
        {
            $.cookie('SearchOption', $('#showlist option:selected').val(), { expires: date });
            $.cookie('SearchValue', $('#queryKeyword').val(), { expires: date });
        }
    </script>
}

<div class="OWriteOff">
	<div class="OW-center">
		<form id="queryForm" action="@Url.Action("EvaluateSearch")" method="post">
			<div id="queryArea" class="OW-STWOff-w5-GearSelectorF">
				<label>
					@Html.DropDownList("showlist", (SelectList)ViewBag.ConditionList, new { @class = "textSize15" })
				</label>
				<span id="queryInputText">
					<input name="queryKeyword" type="text" id="queryKeyword" class="OW-STWOff-w5-GSFinp"
						   style="text-align:left; padding-left:6px" value="@Request["queryKeyword"]" />
				</span>
				<div id="btnQuery" class="OW-W5_0-InMD-Btn" onclick="setCookie()">查詢</div>
			</div>
			<div class="OW-StaffToWriteOff-w5-List">
				@if (Model != null)
				{
					if (Model.ConditionIndex == EvaluateCondition.UniqueId && !Model.IsResultEmpty)
					{
						int seq = 1;
						<table style="width:100%">
							<tr><td>[@Model.DetailData.FirstOrDefault().UniqueID] @Model.DetailData.FirstOrDefault().ItemName (分店數：@Model.TotalCount)</td></tr>
							<tr>
								<td>兌換時間:@Model.DetailData.FirstOrDefault().DeliverTimeS ~ @Model.DetailData.FirstOrDefault().DeliverTimeE</td>
								@if ((DateTime.Now.Ticks >= @Model.DetailData.FirstOrDefault().DeliverTimeS.Value.Ticks) && (DateTime.Now.Ticks <= @Model.DetailData.FirstOrDefault().DeliverTimeE.Value.Ticks))
								{
									<td class='OW-W3-Table2-ListIng'>兌換中</td>
								}
								else
								{
									<td class='OW-W3-Table2-ListEnd'>兌換已結束</td>
								}
							</tr>
						</table>
						<hr style="border: 1px solid #CCCCCC;" />
						foreach (EvaluateStoreDetail store in Model.DetailData)
						{
							string tblClassName = "";
							if (seq % 2 == 1)
							{
								tblClassName = "OW-W3-Table2";
							}
							else
							{
								tblClassName = "OW-W3-Table3";
							}

							<table border="0" cellspacing="0" cellpadding="0" class="@tblClassName" onclick="window.location.href = 'EvaluateDetail?bid=@store.Bid&sid=@store.StoreId.Value'">
								<tr><td>@store.StoreName</td></tr>
							</table>
							seq++;
						}
					}
					else if (Model.ConditionIndex == EvaluateCondition.Name)
					{
						int seq = 1;
						foreach (EvaluateStoreDetail store in Model.DetailData)
						{
							string tblClassName = "";
							if (seq % 2 == 1)
							{
								tblClassName = "OW-W3-Table2";
							}
							else
							{
								tblClassName = "OW-W3-Table3";
							}

							<table border="0" cellspacing="0" cellpadding="0" class="@tblClassName" onclick="window.location.href = 'EvaluateDetail?bid=@store.Bid&sid=@store.StoreId.Value'">
								<tr><td>[@store.UniqueID] @store.ItemName --- @store.StoreName</td></tr>
								<tr>
									<td>兌換時間:@store.DeliverTimeS ~ @store.DeliverTimeE</td>
									@if ((DateTime.Now.Ticks <= store.DeliverTimeE.Value.Ticks) && (DateTime.Now.Ticks >= store.DeliverTimeS.Value.Ticks))
									{
										<td class='OW-W3-Table2-ListIng'>兌換中</td>
									}
									else
									{
										<td class='OW-W3-Table2-ListEnd'>兌換已結束</td>
									}

								</tr>
							</table>
									seq++;
						}
					}
					else if (Model.ConditionIndex == EvaluateCondition.SellerId || Model.ConditionIndex == EvaluateCondition.SellerName)
					{
						int seq = 1;
						foreach (EvaluateStoreDetail store in Model.DetailData)
						{
							string tblClassName = "";
							if (seq % 2 == 1)
							{
								tblClassName = "OW-W3-Table2";
							}
							else
							{
								tblClassName = "OW-W3-Table3";
							}

							<table border="0" cellspacing="0" cellpadding="0" class="@tblClassName" onclick="window.location.href = 'EvaluateStoreList?seller_guid=@store.SellerGuid'">
								<tr><td>@store.SellerId @store.SellerName （分店數：@store.StoreCount）</td></tr>
							</table>
							seq++;
						}
					}

					if (Model.IsResultEmpty)
					{
						<table border="0" cellspacing="0" cellpadding="0" class='OW-W3-Table2'>
							<tr>
								<td>
									<span class="OW-W3-Table2-ListTittle">查無資料!</span>
								</td>
							</tr>
						</table>
					}

					if (!Model.IsResultEmpty)
					{
						<table border="0" cellspacing="0" cellpadding="0" class="OW-W5_3-Table3-Page">
							<tr>
								<td width="50"><img src="../../Themes/OWriteOff/Upper_st.png" onclick="changePage(1)" /></td>
								<td width="71"><img src="../../Themes/OWriteOff/Upper.png" onclick="changePage(-1)" /></td>
								<td width="71">
									<label>
										@Html.DropDownList("pager", new SelectList(Enumerable.Range(1, (Model.TotalCount / 10) + 1).
						Select(x => new { Value = x, Text = x }), "Value", "Text"), new { onchange = "this.form.submit();" })
									</label>
								</td>
								<td width="91">頁／<span class="totalPage">@((Model.TotalCount / 10) + 1)</span>頁</td>
								<td width="91">共<span class="totalCount">@Model.TotalCount</span>筆</td>
								<td width="61">
									<img src="../../Themes/OWriteOff/lower.png" onclick="changePage()" />
								</td>
								<td width="50"><img src="../../Themes/OWriteOff/lower_st.png" onclick="changePage(@((int)((Model.TotalCount / 10)+1)))" /></td>
							</tr>
						</table>
					}

				}
			</div>
		</form>
	</div>
</div>