﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (VbsCurrent.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

<script type="text/javascript" src="@Url.Content("~/Tools/js/d3.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Tools/js/userevaluation.js")"></script>

@section Script{

    <script type="text/javascript">


        var date = new Date();
        var m = 10;
        date.setTime(date.getTime() + (m * 60 * 1000));

        $(function () {
            ue.block_postback("");
            getData();

        });

        function selectChangeEvent(clearPage) {
            $('#mainContent').empty();

            $.cookie('MainScrollTo', window.pageYOffset || document.documentElement.scrollTop, { expires: date });
            $.cookie('MainRange', $('#showlist option:selected').val(), { expires: date });
            $.cookie('MainOrder', $('#ordercol option:selected').val(), { expires: date });
            $.cookie('MainPage', $('#nowPageSelect option:selected').val(), { expires: date });

            if (clearPage) {
                $('#nowPageSelect').empty();

                //var cookies = document.cookie.split(";");
                //for (var i = 0; i < cookies.length; i++) {
                //    var equals = cookies[i].indexOf("=");
                //    var name = equals > -1 ? cookies[i].substr(0, equals) : cookies[i];
                //    document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                //}
            }
            getData();
        }

        function getData() {
            var query = ue.getQueryDict();
            var range = $.cookie('MainRange') != null?$.cookie('MainRange'):$('#showlist option:selected').val() || 1
                , order = $.cookie('MainOrder') != null ? $.cookie('MainOrder') : $('#ordercol option:selected').val() || 1
                , page = $.cookie('MainPage') != null ? $.cookie('MainPage') : $('#nowPageSelect option:selected').val() || 1;

            $.when(
                $.ajax({
                    url: '/vbs/UserEvaluation/EvaluateGetData?range=' + range + '&order=' + order + '&page=' + page,
                    type: "GET",
                    dataType: "json",
                    success: function (result, status, XHR) {
                        if (XHR.status == 200) {
                            if (result.totalCount !== 0) {                                
                                ue.initMain(result, true);
                                if ($('#nowPageSelect option').size() <= 0) {
                                    ue.createPagination(result.totalCount,page);
                                }
                            } else {
                                //$('#totalCount').text(0);
                                //$('#mainContent').html("無資料。");
                                window.location.href = '/vbs/NoRecord';
                            }
                        }
                    },
                    error: function () {
                        window.location.href = '/vbs/NoRecord';
                    }
                })
            )
            .always(
                function () {
                    $.unblockUI();

                    if ($.cookie('MainScrollTo') != null) {
                        window.scrollTo(0, $.cookie('MainScrollTo'));
                    }

                    $("#showlist option[value='" + range + "']").attr("selected", true);
                    $("#ordercol option[value='" + order + "']").attr("selected", true);



                    $('.cookieR').on('click', function () {
                        $.cookie('MainScrollTo', window.pageYOffset || document.documentElement.scrollTop, { expires: date });
                        $.cookie('MainRange', $('#showlist option:selected').val(), { expires: date });
                        $.cookie('MainOrder', $('#ordercol option:selected').val(), { expires: date });
                        $.cookie('MainPage', $('#nowPageSelect option:selected').val(), { expires: date });
                    });
                }
            );
        }



    </script>
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="fed-header fed-line">
			<div class="fed-sort fleft">
				資料顯示 &nbsp;&nbsp;
				@Html.DropDownList("showlist", (SelectList)ViewBag.ShowRangeList, new { @class = "textSize15", onchange = "selectChangeEvent(true);" })
			</div>
		</div>
		<div class="fed-sort-zone clearfix">
			<div class="fed-data fleft">筆數：<span class="totalCount"></span>筆</div>
			<div class="fed-sort fright">
				排序依 &nbsp;&nbsp;
				@Html.DropDownList("ordercol", (SelectList)ViewBag.OrderByCol, new { @class = "textSize15", onchange = "selectChangeEvent(true);" })
			</div>
		</div>

		<div id='mainContent' class="fed-box">

		</div>

		<table border="0" cellspacing="0" cellpadding="0" class="OW-W5_3-Table3-Page">
			<tr>
				<td width="71">
					<label>
						<select class="all" name="nowPageSelect" id="nowPageSelect" onchange="selectChangeEvent(false)"></select>
					</label>
				</td>
				<td width="91">頁／<span class="totalPage"></span>頁</td>
				<td width="91">共<span class="totalCount"></span>筆</td>
			</tr>
		</table>
	</div>
</div>