﻿@using LunchKingSite.Core
@using LunchKingSite.BizLogic.Model.Evaluate

@model EvaluateStoreDetail

@section SSC {
    
}

@{
    //string actionName = this.ViewContext.RouteData.Values["action"].ToString();

    //Model.SetPagerBarRange(5, 4);
    //string minPageUrl = Url.Action(actionName, MvcUtility.GetRouteValues(ViewContext, "page", Model.MinPage));
    //string maxPageUrl = Url.Action(actionName, MvcUtility.GetRouteValues(ViewContext, "page", Model.MaxPage));
    //string prevPageUrl = Url.Action(actionName, MvcUtility.GetRouteValues(ViewContext, "page", Model.CurrentPage - 1));
    //string nextPageUrl = Url.Action(actionName, MvcUtility.GetRouteValues(ViewContext, "page", Model.CurrentPage + 1));
    if(Model!=null)
    {
        <table class="fed-table">
            <tr>
                <th rowspan="2">@Model.StoreName</th>
                <th>累計核銷份數</th>
                <th>累計評價份數</th>
                <th>整體滿意度</th>
                <th>再訪意願</th>
                <th>環境整潔度</th>
                <th>服務親切程度</th>
            </tr>
            <tr>
                <td>@Model.VerifiedCount</td>
                <td>@Model.EvaluateCount</td>
                <td>@Model.AvgTotalSatisfactory</td>
                <td>@Model.AvgComeAgain</td>
                <td>
                    @if (Model.AvgEnvironment == 0)
                    {
                        <i>-</i>
                    }
                    else
                    {
                        @Model.AvgEnvironment
                    } 
                </td>
                <td>
                    @if (Model.AvgService == 0)
                    {
                        <i>-</i>
                    }
                    else
                    {
                        @Model.AvgService
                    }
                </td>
            </tr>
        </table>
    }

}