﻿@using LunchKingSite.Core
@using LunchKingSite.Core.Component
@using LunchKingSite.BizLogic.Model.Evaluate
@{
    ISysConfProvider config = ProviderFactory.Instance().GetConfig();
    if (config.IsEnableVbsNewUi)
    {
        Layout = "~/Views/Shared/VbsLayout.cshtml";
    }
    else
    {
        if (VbsCurrent.Is17LifeEmployee)
        {
            Layout = "~/Views/Shared/17EmployeeConfirmationLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ConfirmationLayout.cshtml";
        }
    }
}

@{ 
    EvaluateStoreDetail StoreDetail = ViewBag.StoreDetail;
}
<script type="text/javascript" src="@Url.Content("~/Tools/js/d3.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Tools/js/userevaluation.js")"></script>

@section Script{

    <script type="text/javascript">

        var date = new Date();
        var m = 10;
        date.setTime(date.getTime() + (m * 60 * 1000));

        $(function () {
            ue.block_postback("讀取中，請稍候...");
            getData();
            var url = '@Request.RawUrl';
            url = url.replace("&amp;", "&");
            $.cookie('UpperAction', $.cookie('Action'), { expires: date })
            $.cookie('Action', url, { expires: date });
        });

        function selectChangeEvent(clearPage) {
            $('#mainContent').empty();

            $.cookie('StoreScrollTo', window.pageYOffset || document.documentElement.scrollTop, { expires: date });
            $.cookie('StoreRange', $('#showlist option:selected').val(), { expires: date });
            $.cookie('StoreOrder', $('#ordercol option:selected').val(), { expires: date });
            $.cookie('StorePage', $('#nowPageSelect option:selected').val(), { expires: date });

            if (clearPage) {
                $('#nowPageSelect').empty();
            }
            getData();
        }

        function getData() {
            var query = ue.getQueryDict();
            var range = $.cookie('StoreRange') != null ? $.cookie('StoreRange') : $('#showlist option:selected').val() || 1
                    , order = $.cookie('StoreOrder') != null ? $.cookie('StoreOrder') : $('#ordercol option:selected').val() || 1
                    , page = $.cookie('StorePage') != null ? $.cookie('StorePage') : query['page'] != '' ? query['page'] : $('#nowPageSelect option:selected').val() || 1;
            $.when(
                $.ajax({
                    url: '@Url.Action("EvaluateShowProductsGetData", "UserEvaluation")',
                    type: "GET",
                    data: 'sid=' + query['sid'] + '&range=' + range + '&order=' + order + '&page=' + page,
                    dataType: "json",
                    success: function (result, status, XHR) {
                        if (XHR.status == 200) {
                            if (result.totalCount !== 0) {
                                ue.initMain(result, false);
                                if ($('#nowPageSelect option').size() <= 0) {
                                    ue.createPagination(result.totalCount);
                                    $('#pageShowProducts').show();
                                }
                            } else {
                                $('#pageShowProducts').hide();
                                $('.totalCount').text('0');
                            }
                        }
                    },
                    error: function () {
                        window.location.href = '@Url.Action("NoRecord", "VendorBillingSystemDefault")';
                    }
                })
            )
            .always(
                function () {
                    $.unblockUI();

                    if ($.cookie('StoreScrollTo') != null) {
                        window.scrollTo(0, $.cookie('StoreScrollTo'));
                    }

                    $("#showlist option[value='" + range + "']").attr("selected", true);
                    $("#ordercol option[value='" + order + "']").attr("selected", true);

                    $('.cookieR').on('click', function () {
                        $.cookie('StoreScrollTo', window.pageYOffset || document.documentElement.scrollTop, { expires: date });
                        $.cookie('StoreRange', $('#showlist option:selected').val(), { expires: date });
                        $.cookie('StoreOrder', $('#ordercol option:selected').val(), { expires: date });
                        $.cookie('StorePage', $('#nowPageSelect option:selected').val(), { expires: date });
                    });
                }
            );
        }

        function UpperUrl() {
            window.location.href = 'EvaluateStoreList?seller_guid=' + '@Request.QueryString["seller_guid"]';
        }
    </script>
}

<div class="OWriteOff">
	<div class="OW-center">
		<div class="fed-header fed-line clearfix">
			<div class="OW-w5-2-ListBackBtn">
				<span class="icon-undo" onclick="UpperUrl()">
					回上頁
				</span>
			</div>
			<div>
				@Html.Partial("EvaluateTable", StoreDetail)
			</div>
			<br />
			<div class="fed-sort fleft">
				資料顯示 &nbsp;&nbsp;
				@Html.DropDownList("showlist", (SelectList)ViewBag.ShowRangeList, new { @class = "textSize15", onchange = "selectChangeEvent(true);" })
			</div>
		</div>
		<div class="fed-sort-zone clearfix">
			<div class="fed-data fleft">筆數：<span class="totalCount"></span>筆</div>
			<div class="fed-sort fright">
				排序依 &nbsp;&nbsp;
				@Html.DropDownList("ordercol", (SelectList)ViewBag.OrderByCol, new { @class = "textSize15", onchange = "selectChangeEvent(true);" })
			</div>
		</div>

		<div id='mainContent' class="fed-box">

		</div>

		<table border="0" cellspacing="0" cellpadding="0" class="OW-W5_3-Table3-Page" id="pageShowProducts">
			<tr>
				<td width="71">
					<label>
						<select class="all" name="nowPageSelect" id="nowPageSelect" onchange="selectChangeEvent(false)"></select>
					</label>
				</td>
				<td width="91">頁／<span class="totalPage"></span>頁</td>
				<td width="91">共<span class="totalCount"></span>筆</td>
			</tr>
		</table>
	</div>
</div>