﻿@using LunchKingSite.DataOrm;
@using LunchKingSite.Core;
@{ 
    BlogPost post = Model as BlogPost;
    string keyWord = string.Empty;
    if (!string.IsNullOrEmpty(post.KeyWord))
    {
        string[] arrKeyWord = new JsonSerializer().Deserialize<string[]>(post.KeyWord);
        keyWord = string.Join(",", arrKeyWord);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="keywords" content="@keyWord" />
    <meta name="description" content="@post.BlogDescription" />

    <!--facebook-->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@post.Title" />
    <meta property="og:url" content="@(ViewBag.SiteUrl)/blog/@(post.Guid)" />
    <meta property="og:locale" content="zh_TW">
    <meta property="og:description" content="@post.BlogDescription" />
    @if (!string.IsNullOrEmpty(ViewBag.DefaultImage))
    {
        <meta property="og:image" content="@ViewBag.DefaultImage" />
    }    
    <!--//facebook-->


    <title>@post.Title｜一起生活。玩樂誌</title>
    <link type="text/css" rel="stylesheet" href="~/Themes/PCweb/css/blog.css" />
    <link type="text/css" rel="stylesheet" href="~/Themes/mobile/css/font-awesome-4.3.0/css/font-awesome.css">
    <script type="text/javascript" src="~/Tools/js/jquery-1.9.1.min.js"></script>
    @*<script type="text/javascript" src="~/Tools/js/Ppon.js"></script>*@
</head>

<body>
    <div class="wrap">
        <!--//***** header *****//-->
        <div class="header">
            <div class="header_main">
                <img class="logo" src="~/Themes/default/images/17P/active/blog/logo.png" />
                <h2>玩樂誌</h2>
            </div>
        </div>
        <!--//***** header *****//end-->
        <!--//***** contain *****//-->
        <div class="container">
            <div class="container_main">
                @if (!post.IsLoaded)
                {
                    <p>文章不存在</p>
                }
                else
                {
                    <div class="article_time"><i class="fa fa-calendar  fa-fw"></i>@post.BeginDate.ToString("yyyy/MM/dd") - 玩樂小編</div>
                    <h1>@post.Title</h1>
                    <p>
                        @post.BlogDescription
                    </p>

                    <div class="container_article">
                        <!--↓↓↓↓↓編輯器內容↓↓↓↓↓--><!--img 只能有width避免手機跑版-->
                        @Html.Raw(HttpUtility.HtmlDecode(post.BlogContent))
                        <!--↑↑↑↑↑編輯器內容↑↑↑↑↑-->
                    </div>
                    <div class="share_wrap">
                        <p><i class="fa fa-share-alt fa-fw"></i>分享文章</p>
                        <ul class="clearfix">
                            <li>
                                <a href="javascript:void(0)" onclick="showshareLine();">
                                    <img src="https://www.17life.com/images/17P/active/blog/icon_line.png">
                                    LINE
                                </a>
                            </li>
                            <li>
                                <a class="fb_btn" onclick="showshareFB();" style="cursor: pointer; display: inline-block;">
                                    <img src="https://www.17life.com/images/17P/active/blog/icon_fb.png">
                                    Fb
                                </a>
                            </li>
                            <li style="display:none">
                                <a href="javascript:void(0)" onclick="copyUrl();">
                                    <img src="https://www.17life.com/images/17P/active/blog/icon_copy.png">
                                    複製連結
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                
            </div>
        </div>
        <!--//***** contain *****//end-->
        <!--//***** footer *****//-->
        <div class="footer">
            <h1>一起生活。玩樂誌</h1>
            Copyright © 2017. All rights reserved.
        </div>
        <!--//***** footer *****//end-->
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        resizeYoutube();

        $(window).resize(function () {
            resizeYoutube();
        });
    });

    function copyUrl() {
        copy("@(ViewBag.WebUrl)");
    }

    function resizeYoutube() {
        var winWidth = $(window).width();
        var containerWidth = $(".container_main").width();
        if (winWidth < 650) {
            var _iframe = $("iframe");
            $.each(_iframe, function (idx, obj) {
                var _iw = $(obj).width();
                var _ih = $(obj).height();
                if (_iw > winWidth) {
                    var w = ((_iw - (winWidth)) / _iw);
                    var h = _ih - (_ih * w);
                    $(obj).attr("width", winWidth - 20);
                    $(obj).attr("height", parseInt(h));
                }
            });

            var _image = $("img");
            $.each(_image, function (idx, obj) {
                var _iw = $(obj).width();
                var _ih = $(obj).height();
                if (_iw > winWidth) {
                    var w = ((_iw - (winWidth)) / _iw);
                    var h = _ih - (_ih * w);
                    $(obj).css({ 'width': (_iw * (1- w) - 20) + 'px', 'height': h + 'px' });
                }
            });
        } else {
            var _iframe = $("iframe");
            $.each(_iframe, function (idx, obj) {
                var _iw = $(obj).width();
                var _ih = $(obj).height();
                var wp = (containerWidth / _iw);

                if (_iw > 650) {
                    var w = ((_iw - (650)) / _iw);
                    var h = _ih - (_ih * w);
                    $(obj).attr("width", winWidth - 20);
                    $(obj).attr("height", parseInt(h));
                } else {
                    var w = ((650 - _iw) / _iw);
                    var h = _ih + (_ih * w);
                    $(obj).attr("width", 650);
                    $(obj).attr("height", parseInt(h));
                }

                //if (wp > 1) {
                //    var w = (_iw * wp);
                //    var h = (_ih * wp);
                //    $(obj).attr("width", w);
                //    $(obj).attr("height", parseInt(h));
                //}
            });
        }
    }

    function showshareFB() {
        var winWidth = $(window).width();
        if (winWidth < 560) {
            location.href = '@(ViewBag.SiteUrl)/ppon/fbshare_proxy.aspx?type=facebook&fblink=@(ViewBag.SiteUrl)/blog/@(post.Guid)&blogid=@post.Guid';
        } else {
            var fbShareWindow = window.open(this.href, 'fbShareWindow', 'width=630,height=360', 'left=' + ($(window).width() - 700) / 2 + ',top=' + ($(window).height() - 420) / 2);
            fbShareWindow.location = '@(ViewBag.SiteUrl)/ppon/fbshare_proxy.aspx?type=facebook&fblink=@(ViewBag.SiteUrl)/blog/@(post.Guid)&blogid=@post.Guid';
        }
    }
    function showshareLine() {
        location.href = '@(ViewBag.SiteUrl)/ppon/fbshare_proxy.aspx?type=line&fblink=@(ViewBag.SiteUrl)/blog/@(post.Guid)&blogid=@post.Guid';
    }
    function copy(s) {
        if (s == "") {
            s = location.href;
        }
        event.preventDefault();
        if (navigator.userAgent.match(/ipad|ipod|iphone/i)) {
            var $input = $('#input_output');
            $input.val();
            var el = $input.get(0);
            var editable = el.contentEditable;
            var readOnly = el.readOnly;
            el.contentEditable = true;
            el.readOnly = false;
            var range = document.createRange();
            range.selectNodeContents(el);
            var sel = window.getSelection();
            sel.removeAllRanges();
            sel.addRange(range);
            el.setSelectionRange(0, 999999);
            el.contentEditable = editable;
            el.readOnly = readOnly;

            var successful = document.execCommand('copy');
            $input.blur();
            var msg = successful ? 'successful ' : 'un-successful ';

        }
        else {
            $('body').append('<textarea id="clip_area"></textarea>');
            var clip_area = $('#clip_area');
            clip_area.text(s);
            clip_area.select();
            document.execCommand('copy');
            clip_area.remove();
        }
        alert("已複製");
    }
</script>